[2020-08-14 15:31] xjrc commented on #18071
@adamjstewart: It may be that the default `ffmpeg` that we build doesn't support MP4 and its associated codecs, which wouldn't surprise me given how intricate the configuration process is for the library. I did some quick googling and found the following useful tidbits:

1. [MP4 Support Requires `libavformat`](https://github.com/alberthdev/alberthdev-misc/wiki/Build-your-own-tiny-FFMPEG#background

[2020-08-14 20:29] SirRujak opened #18073 "Installation issue: rocm-opencl"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.15.4-521-1d152a44f
* **Python:** 3.7.8
* **Platform:** linux-solus4-zen2

### Additional information

* [spack-build-out.txt](https://github.com/spack/spack/files/5076810/spack-build-env.txt)
* [spack-build-out.txt](https://github.com/spack/spack/files/5076811/spack-build-out.txt)

@arjun-raj-kuppala @srekolam

[2020-08-15 02:31] #18050 closed, assigned to alalazo

[2020-08-15 15:36] eugeneswalker opened #18083 "cmake error: adios2 w/ Intel - can't find MPI"
Trying to build `adios2` w/ `%intel@19.1.0.166` and `cmake@3.17.3` on `centos7-haswell`. MPI is `mpich@3.2.1`.

Using `spack@develop` (15-Aug, 395b478b1b4184eeb5c923c74b8325c00d382354)

Concrete spec: [adios2.spec.yaml.txt](https://github.com/spack/spack/files/5078980/adios2.spec.yaml.txt)
Build output: [adios2-build-out.txt](https://github.com/spack/spack/files/5078981/adios2-build-out.txt)
CMake

[2020-08-15 15:53] eugeneswalker commented on #18083
Looks like the problem was that an old GCC being used. Installation completed successfully using newer GCC.

[2020-08-15 15:53] #18083 closed, assigned to nobody

[2020-08-15 16:55] adamjstewart commented on #18071
@xjrc I tried the following patch:
[code]
and built `ffmpeg+avformat`, but I'm still seeing the same error message. I'm having trouble reproducing on macOS, so this may be specific to Linux. I have to return my work laptop, so I'm not sure how easy it will be for me to debug this in the future. This is fairly low priority, but I would like to make `py-matplotlib` more robust for saving MP4 files i

[2020-08-15 17:04] sethrj opened #18084 "Installation issue: OpenMPI has implicit runtime dependency on ssh"
I'm using Spack to install OpenMPI on a Docker container (nvidia/cuda:11.0-devel-ubuntu18.04), but that image didn't by default contain ssh, leading to a runtime error (similar to https://github.com/open-mpi/ompi/issues/3625):
[code]

Installing ssh via apt-get (`LD_LIBRARY_PATH= apt-get update;LD_LIBRARY_PATH= apt-get -yqq install --no-install-recommends ssh`) *or* adding `openssh` to my spack en

[2020-08-15 22:17] eschnett commented on #18030
@alalazo Can you re-open this ticket?

[2020-08-15 22:36] wdconinc opened #18086 "Valid concretization requiring older version is not found in dependency resolution"
Due a pinned version on the libzqm dependency of cppzmq, but an open version libzqm dependency in py-pyzmq, a bundle package that depends on both cppzmq and py-pyzmq results in an unsatisfiable version constraint even though a satisfiable version can be hinted at (and, arguably, should have been found). This may point to a class of unsatisfiable version constraints elsewhere that can be resolved.

[2020-08-16 11:01] angel-devicente commented on #13643
I am having the same issue with the configuration of wxpropgrid. It looks like wxpropgrid is expecting either gtk1 or gtk2, while wxwidgets is using gtk3. So, I tried:

`spack install wxpropgrid ^gtkplus@2.24.32`

and this got me past the configuration phase:

[code]

but then I get redefinition errors when compiling:

[code]

Any ideas?

[2020-08-17 06:33] alalazo commented on #18030
Sure. I mean you can also reopen it as the original poster, can't you? Let me know if the UI prevents you to do that and I'll reopen it for you.

Can you clarify:

I still don't see where the bug is. If you use `strip: false` do you still have issues? If not I'd see this either as a question or as a feature request - but definitely not a bug. I also don't get this comment:

I think there's a misma

[2020-08-17 08:50] alalazo commented on #18086
Thanks for the report @wdconinc! We currently employ an ad-hoc algorithm for constraint resolution that doesn't do as much backtracking as it should - hence the issue you are reporting. I am marking it as a duplicate since it's, generally speaking, of the same kind as many other issues reported for the concretizer. For instance:
[code]
even though there would be a way to satisfy my request by addi

[2020-08-17 12:42] alalazo commented on #3944
I think this has been fixed since a long time. Spack now reports:
[code]
to mean we are at commit 526aa3847 and 537 commits from 0.15.4

[2020-08-17 12:42] #3944 closed

[2020-08-17 12:48] #18033 closed, assigned to nobody

[2020-08-17 12:48] payerle commented on #18033
Closing issue; patch resolved

[2020-08-17 12:58] alalazo commented on #5248
Closing as stale since no reply was given to https://github.com/spack/spack/issues/5248#issuecomment-618544351 Feel free to reopen if you think this needs more work.

[2020-08-17 12:58] #5248 closed

[2020-08-17 13:17] alalazo commented on #7336
Duplicate of #11206

[2020-08-17 13:20] alalazo commented on #7336
Closing since this is a specific case for #11206. It will be solved as soon as we permit different urls for the same version of a package. Feel free to reopen if you think this specific java issue needs to be discussed further.

[2020-08-17 13:20] #7336 closed

[2020-08-17 13:48] alalazo commented on #10947
This issue has been stale for more than a year. @shahzebsiddiqui Is it fine with you to close it?

[2020-08-17 13:53] alalazo commented on #11038
Closing this as stale (no reply since https://github.com/spack/spack/issues/11038#issuecomment-585636950)

[2020-08-17 13:53] #11038 closed

[2020-08-17 15:25] g-mathias commented on #12782
I just managed to build the latest dakota@6.12 with on v0.15.4 using boost@1.68.0 on SLES15. Changes to the package.py are
[code]

Give it a shot if you want.

[2020-08-17 16:38] aantao commented on #17869
Do you have the latest infiniband driver installed and if so, what's the version of the infiniband driver you have on your system?
What happens if you build this on a system with an older version of the infiniband driver?

[2020-08-17 17:47] joshessman-llnl opened #18111 "Language version flag checks do not work for non-standard compiler spec names"
### Steps to reproduce the issue
1. Change a clang spec name in a `compilers.yaml` to use an alias, e.g., `clang@9.0.0` to `clang@beta2019.11.14`
2. Attempt to build a C++11 (or greater) project with that compiler

### Error Message

[code]

### Information on your system

* **Spack:** 0.15.4
* **Python:** 3.7.2
* **Platform:** linux-rhel7-power9le

### Additional information

- [x] I have run `sp

[2020-08-17 18:27] g-mathias commented on #10505
Issue is superseded by #12782 and should be closed.

[2020-08-17 19:25] eschnett commented on #18030
I cannot reopen. It seems I can still edit the title (how strange), but otherwise I can only open a new issue, unsubscribe from this issue, and leave a comment.

The thing I call a "bug" is the following: When I run `strip` on a `*.a` archive, then I expect to still be able use the library for linking afterwards. This is probably what people commonly mean by "stripping" in the Unix sense: Remove d

[2020-08-17 20:20] haampie opened #18120 "Smaller binutils"
I'm trying to keep docker images and buildcaches small, and I found that one of the biggest build dependencies (that I actually need) is binutils:

[code]

There's many exact duplicates of executables:

[code]

Some binaries are for more than 95% debuginfo:

[code]

### Description

Before https://github.com/spack/spack/issues/9388 is a thing, should we just add a patch to drop the `-g` flag from

[2020-08-17 20:35] adamjstewart commented on #18111
You can also change the compiler version to `clang@2019.11.14.beta`, that should work fine.

[2020-08-17 20:41] eugeneswalker opened #18121 "PIpelines: Create downstream rebuild jobs ONLY when spec needs it"
Can we consider moving the `spack buildcache check` logic out of the child jobs and into `spack ci generate` or equivalent? Why should we stage out potentially hundreds of CI jobs when we know up-front whether a rebuild of the spec is necessary?

Let's say someone changes `adios2` package such that *only* `adios2` needs to be updated at the build cache. We have ~240 specs part of `E4S environment`

[2020-08-17 22:22] r-xue commented on #14102
@scheibelp add a PR #18124

I am an inexperienced user, switching from MacPorts. Hope the change doesn't introduce unintended consequences.

[2020-08-17 23:30] tldahlgren commented on #18016
~@darmac Have you tried using the `-d` option?~

[2020-08-17 23:32] tldahlgren commented on #18016
~A *lot* of build-related output was pushed to the debug level as of https://github.com/spack/spack/pull/17546.~

Nvm.  I see the issue.

[2020-08-18 00:24] tgamblin commented on #16696
I think we already ripped the band-aid off on this one and will continue to break people even if we add it back.  But we can try to more gently remove things in the future.

[2020-08-18 00:24] #16696 closed, assigned to alalazo

[2020-08-18 00:25] #17464 closed, assigned to nobody

[2020-08-18 00:38] tgamblin commented on #12159
@adamjstewart: not that this PR isn't a good idea, too, but does:

[code]

not let you poke around?

[2020-08-18 00:42] adamjstewart commented on #12159
I can try that. I don't usually use Spack's shell support.

[2020-08-18 00:43] tgamblin commented on #10656
Fixed by #17546.

[2020-08-18 00:43] #10656 closed

[2020-08-18 01:05] joequant commented on #69
Yes it is.  I'm working on the edm4hep project and we are building an entire distribution from scratch.  Proxy servers would be very useful.

[2020-08-18 02:56] psakievich commented on #14102
FWIW Using [pyenv](https://github.com/pyenv/pyenv) is a good way to circumvent this issue until a long term fix is in place. Personally, I prefer that to unlinking the brew installation.

[2020-08-18 05:27] Nischay-Pro commented on #17869
I have the latest infiniband drivers installed from Mellanox. I'm using ConnectX-5 device with 16.27.2008 firmware version. I don't have an older version of the driver available which supports CentOS 8.2. I've tried manually building ucx from source and it works without any issues.

[2020-08-18 05:29] aantao commented on #17869
I am on CentOS8.2 as well with the latest IB drivers and am able to build from source without issue. Not able to pinpoint why the build for ucx through spack fails.

[2020-08-18 07:59] haampie commented on #14430
This issue should really get some attention. There's over 900 autotools packages, and the current situation is just really cumbersome.

One would expect `spack install [pkg] cflags='-O3'` to force the O3 flag, but it almost never happens:

[code]

Looking through the build logs, I find the following effective compiler flags:

[code]
Only `berkeley` seems to respect it.

---

@mwkrentel: Can't we t

[2020-08-18 09:39] alalazo commented on #15848
https://github.com/spack/spack/issues/5265 How to set the default build type for CMake based packages to "Release"

[2020-08-18 09:41] alalazo commented on #5265
Closing as stale, added a link in #15848 to remind us to explain how one could obtain the same effect by writing an appropriate `packages.yaml`.

[2020-08-18 09:41] #5265 closed

[2020-08-18 10:40] fun2yang opened #18141 "spack test lib/spack/spack/test/cmd/install.py::test_compiler_bootstrap on aarch64"
$ spack test -s -v lib/spack/spack/test/cmd/install.py::test_compiler_bootstrap
============================================================================================ test session starts =============================================================================================
platform linux -- Python 3.6.8, pytest-3.2.5, py-1.4.34, pluggy-0.4.0 -- /usr/bin/python3
cachedir: .cache
rootdi

[2020-08-18 10:42] angel-devicente commented on #13643
Getting closer.

`spack install paraver@4.6.2^wxwidgets@2.8.12^gtkplus@2.24.32%gcc@8.3.0`

after tweaking the package.py for wxwidgets and changing one little thing in the paraver source file, does compile paraver now, but I get a crash when running it:

[code]

The (temporary) changes for wxwidgets were:
[code]

And for paraver I had to change in the file ktraceshifter.cpp a line from:
timesFile

[2020-08-18 12:10] alalazo opened #18147 ""spack env update" can't handle override"
When running:
[code]
if the `spack.yaml` file contains override with a double colon, the command will fail reporting that "Additional properties are not allowed".

### Steps to reproduce the issue
Create a `spack.yaml` file with the following content in a directory:
[code]
Try then to run:
[code]

### Error Message
The command above fails with an error similar to:
[code]

### Information on your s

[2020-08-18 13:27] michaelkuhn commented on #17556
@andymwood Sorry for the delay. Could you give #18150 a try?

[2020-08-18 14:24] sjpb opened #18152 "bzip2 required but can't be spack installed & is not listed in prerequisites"
### Steps to reproduce the issue

[code]

On the slack channel I was told this needed `bzip2` installing. This doesn't seem to be available via spack, which is problematic for unprivileged users. It's also not listed in the [prerequisites](https://spack.readthedocs.io/en/latest/getting_started.html#prerequisites).

### Information on your system

* **Spack:** 0.15.4-592-319d160
* **Python:** 3.8.3

[2020-08-18 14:33] sjpb commented on #18152
To be fair googling the `lbzip2: Cannot exec: No such file or directory` bit finds the fixes, I was a bit confused by what the actual error was here, having seen spack unpack archives ok before.

[2020-08-18 14:36] sjpb commented on #16032
Well I just hit exactly this:

[code]

Any suggestions?

[2020-08-18 14:59] mladenivkovic commented on #14618
I'm having similar issues that arose when I tried to install openmpi and metis (fails for both)
However, after manually installing libiconv for gcc@9.2.0, the cmake and libsigsegv installs finally worked.

[2020-08-18 15:05] #18147 closed, assigned to nobody

[2020-08-18 16:04] sjpb commented on #17869
I get the same error. With gcc@9.2.0 when running `spack install openmpi@4.0.3 fabrics=ucx schedulers=auto`, which obviously installs ucx. System has ConnectX-6 cards.

[2020-08-18 16:31] adamjstewart commented on #18001
@ax3l @svenevs

[2020-08-18 16:33] JulienLoiseau commented on #18001
The file with the conflicts:
https://github.com/spack/spack/blob/develop/lib/spack/spack/build_systems/cuda.py

[2020-08-18 16:36] junghans commented on #18001
Details here: https://gist.github.com/ax3l/9489132

[2020-08-18 16:50] srekolam commented on #18073
@SirRujak  ,  I have got your message and we will look into it.

[2020-08-18 17:26] vvolkl commented on #17488
This turned out to be due to the fact that the spack-installed gcc does not provide a symlink `cc`, which root uses at runtime to find its include directories.

[2020-08-18 17:29] joshessman-llnl opened #18156 "Incorrect arch-specfic optimization flags used in mixed toolchain"
### Steps to reproduce the issue
1. Add a mixed toolchain compiler using clang for C/CXX and IBM XL for Fortran
2. Install a package that uses Fortran:
[code]

### Error Message
In the case of a mixed toolchain, (e.g., clang for C/CXX but XL for Fortran), no architecture-specific optimization flags should be used as Spack does not currently support them.  Instead, `SPACK_TARGET_ARGS` (environment

[2020-08-18 18:37] jyu31 opened #18158 "Installation issue: octopus"
### Steps to reproduce the issue
I copied `var/spack/repos/builtin/packages/octopus/package.py` from `develop` branch to my local spack. Then tried to install octopus.

[code]

### Information on your system

[code]

### Additional information

* [spack-build-out.txt](https://github.com/spack/spack/files/5092082/spack-build-out.txt)
* [spack-build-env.txt](https://github.com/spack/spack/files/5092

[2020-08-18 21:08] shahzebsiddiqui commented on #18121
I am in favor of this feature. I like the `spack buildcache check` which should check all hash for for concretize spec in environment with hash in buildcache.

This command should be invoked as part of `spack ci generate` so that downstream job are triggered only if a subdag has a hash mismatch

[2020-08-18 23:40] svenevs commented on #18001
Only had time for a quick look but AFAICT this is a usage misunderstanding?

1. There is usually only one version of clang you can use as the host compiler. nvcc will wrap that rather than gcc, similar to how Intel works. For a given version of CUDA, check the install guide for your platform (which are also encoded in the cuda build system, e.g. search "CUDA 11 install guide Linux"). Example clang

[2020-08-19 00:05] tgamblin commented on #12159
But you *should*!

[2020-08-19 01:14] adamjstewart commented on #12159
I do use it for environments. And I do use the tab completion obviously.

[2020-08-19 08:28] sjpb commented on #18084
From [here](https://www.open-mpi.org/faq/?category=rsh#rsh-not-ssh) the `plm_rsh_agent: ssh : rsh` means openmpi should be falling back to rsh if it can't find ssh - this is the default behavior. So presumably you haven't got rsh either?

However that does show ssh isn't *actually* a requirement. Also if running openmpi under slurm then the [recommended methods of job launch for modern openmpi](ht

[2020-08-19 09:05] sjpb commented on #17869
So for me UCX 1.6.0 and 1.6.1 work, 1.7.0, 1.8.0 and 1.8.1 fail.

I ran:
[code]

and this installed ok (haven't actually tested it yet).

[2020-08-19 09:12] michaelkuhn commented on #18152
The same is true for xz and some other formats, which we should probably list in the prerequisites.

Spack has packages for bzip2 and lbzip2, though (`spack list bz`). Are they missing from your installation?

[2020-08-19 11:58] darmac opened #18172 "Installation issue: boxlib"
`boxlib` build failed.
My environment is:
[code]

The error log is:
[code]

[2020-08-19 12:42] smarocchi opened #18174 "Installation issue: installing cuda 10.2.89 and 11.0.2 on power 9 (ppc64le)"
Hello,
          I tried to run spack from a centos 8 singularity container

$ spack install cuda@10.2.89
after a series of nice library installation, finally I arrived to cuda
[code]
### Information on your system

Singularity> spack debug report
fatal: No names found, cannot describe anything.
* **Spack:** 0.15.3
* **Python:** 3.6.8
* **Platform:** linux-centos8-power9le

no particular customiza

[2020-08-19 13:38] sethrj commented on #18084
@sjpb Good point about `rsh`. No, this is based on the nvidia docker image, using spack to build an environment.

[2020-08-19 14:26] sjpb commented on #18152
Hmm not sure why I though spack didn't have bzip2, sorry. So really this whole issue can probably be closed (there's other things like "patch" not listed in prereqs but if they can be installed via spack I find that ok personally).

[2020-08-19 15:34] michaelkuhn commented on #18152
I guess it still makes sense to have them listed somewhere. I have updated the linked PR to also include `patch` (I have personally run into this problem a few times already in minimal environments).

[2020-08-19 15:39] azukaitis opened #18176 "HDF5 CMake Package support"
I do not see the hdf5-config.cmake file in any of my hdf5 installs.   Can we please get proper CMake installs of this package?

[2020-08-19 15:58] becker33 commented on #16032
@sjpb what architecture is this on?

[2020-08-19 16:38] scottwittenburg commented on #18121
Thanks for writing this up as an issue @eugeneswalker, this is indeed on our list of things to tackle.  So far our short-hand terminology for it is "DAG-pruning".

[2020-08-19 18:22] white238 commented on #18156
This is to support Serac on lassen and this is the compiler spec he is trying to get to work.  https://github.com/LLNL/serac/compare/ci/essman/lassen-build?expand=1#diff-9c504ad209cc86c4af852277522ae306R123-R137

[2020-08-19 18:28] kurtsansom opened #18178 "mvapich-gdr error when specific MPI not specified in spack.yaml"
installing from `spack.yaml` file  fails because missing `mvapich2-gdr` which is only available via binary release.

Other versions of MPI should take precedence

### Steps to reproduce the issue

create a spack.yaml file with the following content
[code]

[code]

### Error Message

[code]

### Information on your system

* **Spack:** 0.15.4
* **Python:** 3.6.9
* **Platform:** linux-ubuntu18.04-sk

[2020-08-19 19:10] #18016 closed, assigned to nobody

[2020-08-19 20:34] weiyu11 opened #18180 "problem to install netcdf-c, using hdf5 built with szip."
Dear Sir/Madam,

I am using spack to install the netcdf-c library.

spack install szip target=x86_64 %intel@18.0.5
spack install hdf5 +cxx +fortran +hl+mpi +szip +threadsafe target=x86_64 ^intel-mpi %intel@18.0.5

The above two works fine. I have error when install the netcdf-c.
spack install netcdf-c@4.7.2 +mpi+parallel-netcdf target=x86_64 ^intel-mpi ^hdf5 %intel@18.0.5

configure: error: libhdf

[2020-08-19 20:58] becker33 commented on #18156
@joshessman-llnl we have a major ongoing project that will make mixed-toolchain compilers much better integrated into the Spack environment, along with improving a lot of other things about compilers.

In the meantime, some mixed-toolchain compilers require an additional step of configuration:

[code]

Note that this means Spack will not do anything to ensure that the instruction set of the result

[2020-08-19 21:00] becker33 commented on #18156
I am also open to discussion of whether there should be a more elegant way of solving this in the meantime, but that compiler as dependencies overhaul work is expected to be merged in September, so I'm not sure it will be worth changing in the meantime when there's a workaround in the config file.

@alalazo can speak to the ongoing work more than I can, since he's the one doing it.

[2020-08-19 21:06] white238 commented on #18156
Thank you @becker33  i appreciate the quick turn around on this.

[2020-08-19 22:05] scothalverson commented on #18001
Hi, I'm working with Julien and encountering the same issue.  While I understand the points you're making, I think they're orthogonal to the issue that Julien and I are seeing.

The crux of it is that we're seeing conflicts listed where nominally (and practically) there aren't any.  We're trying to compile with a combination of Clang 10.0 and CUDA 10.1 or 10.2.  In doing so, we're seeing conflicts

[2020-08-20 02:05] fun2yang commented on #18141
Information on your system
Spack: 0.15.0-34-f73f9494b
Python: 3.6.8
Platform: linux-centos8-thunderx2

[2020-08-20 02:07] fun2yang commented on #18141
`$ spack test -s -v lib/spack/spack/test/cmd/install.py::test_compiler_bootstrap
============================================================================================ test session starts =============================================================================================
platform linux -- Python 3.6.8, pytest-3.2.5, py-1.4.34, pluggy-0.4.0 -- /usr/bin/python3
cachedir: .cache
rootd

[2020-08-20 02:08] fun2yang commented on #18141
<pre>
$ spack test -s -v lib/spack/spack/test/cmd/install.py::test_compiler_bootstrap
============================================================================================ test session starts =============================================================================================
platform linux -- Python 3.6.8, pytest-3.2.5, py-1.4.34, pluggy-0.4.0 -- /usr/bin/python3
cachedir: .cache

[2020-08-20 02:09] #18141 closed, assigned to nobody

[2020-08-20 02:15] fun2yang opened #18186 "spack test lib/spack/spack/test/cmd/install.py::test_compiler_bootstrap on aarch64"
### Steps to reproduce the issue

[code]

### Error Message
<pre>
$ spack test -s -v lib/spack/spack/test/cmd/install.py::test_compiler_bootstrap
============================================================================================ test session starts =============================================================================================
platform linux -- Python 3.6.8, pytest-3.2.5, p

[2020-08-20 02:17] fun2yang commented on #18186
The reason for the problem is that when gcc@4.5.0 is used to compile gcc@2.0 successfully. When looking for gcc@2.0 again, using the def make_compiler_list function in the lib/spack/spack/compilers/init.py file, the target of gcc@2.0 will be set to aarch64 (target = cpu.host())
So can I submit the following pull request to make test_compiler_bootstrap work on aarch64? Or try to modify the def make

[2020-08-20 04:56] #18111 closed, assigned to becker33

[2020-08-20 05:55] alalazo commented on #3887
This has been fixed at some point:
[code]
I'm using

* **Spack:** 0.15.4-613-ccf94ded6
* **Python:** 3.7.4
* **Platform:** linux-ubuntu18.04-broadwell

[2020-08-20 07:06] alalazo commented on #17556
I can definitely reproduce this issue on the latest OpenSUSE. Given that [GCC docs](https://gcc.gnu.org/install/configure.html) say that:
[code]
I would rather try to fix the recipe for `gcc` rather than symlinking every `lib64` directory we find :slightly_smiling_face:

[2020-08-20 07:22] alalazo commented on #17556
Duplicate of #10842

[2020-08-20 07:26] alalazo commented on #17556
Working on an alternative fix right now.

[2020-08-20 08:06] michaelkuhn commented on #17556
Agreed. I guess this also affects other packages (that use `prefix.lib`), though. We should probably make sure then that everything uses `libs.search_flags` or `libs.directories`.

[2020-08-20 09:09] sjpb commented on #16032
cascadelake. `gcc@9.2.0` installed fine.

[2020-08-20 12:23] alalazo commented on #16032
@sjpb Can post the output of `spack debug report` ?

[2020-08-20 14:12] sjpb commented on #16032
[code]

[2020-08-20 15:08] #3887 closed

[2020-08-20 15:27] EthanS94 opened #18192 "Installation issue: ParaView internal compiler error with intel/19.0.4"
@chuckatkins issue for the internal compiler error that is fixed by adding -no-ipo to the cmake flags `CMAKE_C_FLAGS` and `CMAKE_CXX_FLAGS`

### Steps to reproduce the issue

[code]

### Information on your system

packages.yaml for llvm and mesa:
[code]

compilers.yaml for intel/19.0.4:
[code]

### Additional information

[2020-08-20 15:42] #10842 closed

[2020-08-20 15:42] #17556 closed, assigned to nobody

[2020-08-20 15:49] RemiLacroix-IDRIS commented on #17930
Any thoughts about this? @adamjstewart or @alalazo maybe?

We could just start using NVIDIA HPC compilers 20.7 as PGI compilers 20.7 but we would rather do something consistent with what Spack will choose in the future.

[2020-08-20 15:55] EthanS94 opened #18194 "Installation issue: Mesa, LLVM, and ParaView linking problems with intel 19"
@chuckatkins I am including the three errors in one issue, because they can be solved with the same `-shared-intel` linker flag. I'm guessing there's a more general solution, but the solution that seems to work is adding that flag in each individual package.

### Steps to reproduce the issue

paraview@5.8.1 error:
[code]

llvm@7.1.0 error:
[code]

mesa@18.3.6 error:
[code]

### Information on your

[2020-08-20 16:59] jgalarowicz opened #18196 "Installation issue: E4S project: AML will not install on Ascent (ORNL) with gcc/6.4.0"
The issue appears to be a problem in the AML code itself where they are copying files to a directory that wasn't created.
This was discovered while trying to address packages that did not build for the E4S project initially.   I have a suggested fix but am looking for advice on what is the best strategy.   The fix is to add a mkdir command to the doc directory Makefile.am file:
[code]

Because thi

[2020-08-20 18:13] EthanS94 opened #18197 "Installation issue: LLVM "detail is ambiguous" error with intel/19.0.4"
@chuckatkins this issue can be fixed with a patch for the llvm source code. @Paul-Ferrell can you submit your patch in a PR for this issue?

### Steps to reproduce the issue

[code]

### Information on your system

compilers.yaml:
[code]

### Additional information

### General information

[2020-08-20 18:36] jgalarowicz opened #18198 "Installation issue: E4S project: faodel will not install on Ascent (ORNL) with gcc/6.4.0"
The package/application faodel fails to build on Ascent (ORNL) with gcc/6.4.0.  This is part of the E4S project.
The issue is that one of the libraries that faodel includes in the  build doesn't support Power systems.   I've added a potential fix in the text below and will submit a PR, if reviewers/commenters agree with the fix.

To recreate the original problem:
spack -e . install --no-cache
with

[2020-08-20 19:54] adamjstewart commented on #17930
I'll be honest, I'm not up-to-date on the latest news from NVIDIA/PGI. Are these new compilers going to completely replace the old compilers? Or is this a fork or a new compiler using PGI as the backend? If it's just a rebrand, I think we should modify our existing `pgi` support and maybe rename the compiler.

[2020-08-20 20:17] jgalarowicz opened #18201 "Installation issue: E4S project: flecsi+cinch will not install on Ascent (ORNL) with gcc/6.4.0"
The package/application flecsi fails to build on Ascent (ORNL) with gcc/6.4.0. This is part of the E4S project.
flecsi apparently needs stdc++17 features and it seems from what I could tell gcc/6.4.0 doesn't support those features.  It builds with gcc/7.4.0 and above.   Bringing this to the attention of the flecsi developers for their advice on any workarounds for the gcc/6.4.0 build.

To recreate

[2020-08-20 20:54] jgalarowicz opened #18202 "Installation issue: E4S project: turbine will not install on Ascent (ORNL) with gcc/6.4.0"
The package/application turbine fails to build on Ascent (ORNL) with gcc/6.4.0. This is part of the E4S project.
The issue is that the turbine configure doesn't have an entry for IBM's Spectrum libmpi_ibm.so library.   They are only looking for libmpi and libmpich.    I've added a potential fix in the text below but hoping the turbine developers will give advice on whether we should patch turbine

[2020-08-20 21:19] jgalarowicz opened #18203 "Installation issue: E4S project: petsc will not install on Ascent (ORNL) with gcc/6.4.0"
The package/application turbine fails to build on Ascent (ORNL) with gcc/6.4.0. This is part of the E4S project.
The issue is that the petsc build errors out because the hypre version is too recent.  petsc wants versions less than or equal to 2.18.2 for hypre.   This is the output message.
[code]
We need help from the petsc team to advise on what the course of action should be because the dependen

[2020-08-20 22:13] #18152 closed, assigned to nobody

[2020-08-20 22:28] adamjstewart commented on #18180
@skosukhin @WardF

[2020-08-20 23:35] balay commented on #18203
@jgalarowicz this issue should be fixed in #17973

[2020-08-20 23:38] ktsai7 commented on #18201
@rspavel ping

[2020-08-21 05:17] lmdm-lanl commented on #16035
@adamjstewart Sheesh...thank you google search!  I just hit this error with a version of spack from 2020.08.12 (short hash 25a0d89).  Installing a dependency set for intel, then switched to gnu and got this error.  I'm fighting a constant battle with developers trying to get them to be ok with using spack...getting nutty errors like this does not help.

[2020-08-21 12:47] haampie commented on #14430
Ok, after a chat with @alalazo: the list of optimization flags is copied from the build logs, but does not take into account what the spack compiler wrapper actually does with it. So, it could be that the compiler wrapper swallows the `-O2` flag and actually turns it into `-O3`. Should be verified

[2020-08-21 13:39] rspavel commented on #18201
Flecsi, and the apps that use it,  depend on a not insubstantial portion of the 17 standard. I think a few developers have looked in to workarounds but we generally assume ```gcc@7.3:``` for ```flecsi@1.4```. I probably (read: definitely) should express that in the spackage but I think we have been using upcoming concretization/spec changes as an excuse to put that off. But I can prioritize if it

[2020-08-21 14:53] adamjstewart commented on #16035
Yeah, I have no idea what causes this bug. Not even sure who to ping. Maybe @tgamblin?

[2020-08-21 15:15] g-mathias commented on #17968
charliecloud@0.18 is out and works out of the box. I'll close the issue.

[2020-08-21 15:15] #17968 closed, assigned to nobody

[2020-08-21 16:03] weiyu11 commented on #18180
The error is gone after I updated to the latest git version.

[2020-08-21 16:03] #18180 closed, assigned to nobody

[2020-08-21 17:07] shahzebsiddiqui commented on #18121
this feature is going to be a huge cost saver and compute cycles for site facility.

[2020-08-21 17:44] adamjstewart commented on #659
@citibeth @alalazo I'm wondering if we should consider this bug to be "fixed" or not. Although:
[code]
still results in an error, the following:
[code]
works fine. The help message for `spack build-env` also mentions the use of `--` for multi-word specs. I see that @alalazo tried another approach in #7743 but that never got merged. Maybe another technique would be to first try things as is, except

[2020-08-21 17:56] adamjstewart commented on #1795
No comment from @citibeth, so I assume this issue is stale. Feel free to reopen if you want further discussion.

[2020-08-21 18:07] adamjstewart commented on #1325
The discussion in this issue seems to be stale. I'm hoping that Spack's new concretizer will solve a lot of the issues raised in this post. If anyone has any further feedback, please open a new issue.

[2020-08-21 18:09] adamjstewart commented on #2537
It looks like #2549 reverted the change that introduced this confusion, so this issue can be closed now.

[2020-08-21 18:11] adamjstewart commented on #2755
I'm going to close this, we have plenty of other open concretization issues.

[2020-08-21 18:25] adamjstewart commented on #8421
I'm re-closing this because #1983 solves the problem initially reported in my issue. If anyone would like to open another issue to offer further suggestions, feel free.

[2020-08-21 18:29] adamjstewart commented on #8703
@tgamblin I think this is worth revisiting. I see a much larger performance boost from switching to dash:
[code]

[2020-08-21 20:22] mwkrentel commented on #14430
@scheibelp I see where you self-assigned this recently.

Are you thinking of writing an implementation for this, possibly
building on #16710 ?  If yes, let me know.  I'd like to be involved in
the design.

My basic point is that the options for debug and optimization flags
should be pushed out to the spack level, similar to how `build_type`
is used for cmake.

[2020-08-21 21:30] haampie commented on #17981
@trws and @naromero77: the patches upstream will not be merged into LLVM 11, since they not only changed how zlib / ncurses are detected, they also changed how certain cmake variables are used. We shouldn't backport those exact commits to LLVM 10 or anything.

I would still be in favor of fixing those things in spack for LLVM <= 10 (and then LLVM 11 too, later) using non-invasive patches. Some car

[2020-08-21 23:03] naromero77 commented on #17981
I am OK with a non-invasive patch or even several non-invasive patches as long as they don't break other critical things.

[2020-08-22 10:10] phanousk opened #18217 "Installation issue: openmpi with intel compiler with specific gcc module"
### Steps to reproduce the issue
Set up modules.yaml for Intel compiler and put there some gcc as a module:
[code]

Then try to compile openmpi with that. It results in:
[code]

### Information on your system
[code]

### Additional information

I have openmpi package slightly customized so the line numbers maybe differ. But the changes are not the source of actual bug report.

[spack-build-env.txt

[2020-08-22 12:26] phanousk commented on #18217
Hm, weird ... I made in that env 'spack concretize -f' then 'spack install' and suddenly it goes OK.

[2020-08-22 14:37] jgalarowicz commented on #18203
Hi Satish - you are correct.  My repository needed updating to the latest sources.   Petsc does build with the latest spack development branch.   I am closing this issue.   Thank you.   Jim G

[2020-08-22 14:38] #18203 closed, assigned to jgalarowicz, eugeneswalker

[2020-08-23 09:27] python152 commented on #2767
please excuse me for opening this old issue - I am still having trouble with `PETSC_ARCH` settings after `spack install petsc`. Please see the following snipets

[code]

There seem to be two issues:
* `PETSC_ARCH` is not set
*  it is trying to locate `${PETSC_DIR}/${PETSC_ARCH}/conf/PETScConfig.cmake`, and I am guessing this file was not generated due to missing `PETSC_ARCH`??

Thanks
Oliver

[2020-08-23 14:06] RemiLacroix-IDRIS commented on #17930
Yes, the new NVIDIA compilers are replacing the PGI ones. The [PGI website](https://www.pgroup.com) is now basically empty with just a link to the new compilers.

As far as I know it is mostly a rebrand to unify the NVIDIA software ecosystem.

[2020-08-23 14:32] adamjstewart commented on #17930
Wow, they even continued the same versioning scheme. In that case, I'm in favor of renaming `%pgi` to `%nvidia` or something like that. I'll give @alalazo a chance to chime in first.

[2020-08-23 15:21] sethrj opened #18222 "Installation issue: valgrind"
### Steps to reproduce the issue

[code]

### Information on your system

[code]

### Additional information

* [spack-build-env.txt](https://github.com/spack/spack/files/5114159/spack-build-env.txt)
* [spack-build-out.txt](https://github.com/spack/spack/files/5114160/spack-build-out.txt)

### General information

- [x] I have run `spack debug report` and reported the version of Spack/Python/Platf

[2020-08-23 16:01] adamjstewart commented on #2767
^ @balay @BarrySmith @jedbrown can one of you take a look at this?

[2020-08-23 16:10] adamjstewart commented on #18222
For now you can probably build `valgrind~ubsan`. Maybe we're missing a dependency?

[2020-08-23 16:14] adamjstewart commented on #18217
Can you run with `spack --debug install`? That will give us a better idea of what exactly is going wrong.

[2020-08-23 16:18] adamjstewart commented on #18176
@lrknox is the maintainer of our `hdf5` package, maybe he can comment. Otherwise, PRs are always welcome! Basically, you would need to switch the base class from `AutotoolsPackage` to `CMakePackage` and replace `configure_args` with `cmake_args`. If you want to take a stab at this, I can help you out.

[2020-08-23 16:18] balay commented on #2767
For one this is unrelated to #2767
[code]
This is correct for a spack install of petsc [which uses --prefix]. PETSC_ARCH is not used [and should be empty if set]

[code]
I don't see PETScConfig.cmake in current installs of PETSc. Our cmake support is limited. Current recommendation is to use pkgconfig file `PETSc.pc`

Wrt FindPETSc.cmake  - @jedbrown needs to look at this.

[2020-08-23 16:19] adamjstewart commented on #18186
@becker33 can you take a look at this?

[2020-08-23 16:20] adamjstewart commented on #18197
@naromero77 @trws

[2020-08-23 16:22] adamjstewart commented on #18198
@craigulmer

[2020-08-23 16:27] adamjstewart commented on #18178
I think it's a little more complicated than that. For me, `spack spec mpi` chooses `openmpi`, which is the default. I think the reason that your build is crashing is that the last time the virtual dependency cache was created, `mvapich2-gdr` existed in your repo. Now that you are running this again, you must be on an older branch where this package does not yet exist.

Try running `spack clean -m`

[2020-08-23 16:31] adamjstewart commented on #18174
@svenevs @ax3l

[2020-08-23 16:31] adamjstewart commented on #18174
Can you run `spack --debug fetch cuda` and post the output?

[2020-08-23 16:38] adamjstewart commented on #18059
That error message says that the compiler isn't configured correctly. Your `ldflags` looks suspicious. I would instead use `ldflags="-L/path/to/intel-parallel-studio/"`

[2020-08-23 16:41] adamjstewart commented on #18043
It sounds like this issue has been resolved. If someone wants to contact the NAMD developers and ask if they can release NAMD without requiring login, we can do that.

[2020-08-23 16:41] #18043 closed, assigned to nobody

[2020-08-23 16:42] adamjstewart commented on #18029
@dev-zero

[2020-08-23 16:44] adamjstewart commented on #18027
I believe this was fixed by #18127. If I change the last character of the checksum for `zlib`:
[code]

[2020-08-23 16:44] #18027 closed, assigned to nobody

[2020-08-23 16:47] adamjstewart commented on #17993
@tgamblin @becker33

[2020-08-23 16:48] adamjstewart commented on #17992
@tgamblin @becker33

[2020-08-23 16:51] adamjstewart commented on #17947
@darmac I got the same error message, can you contact the developers and ask why their checksum may have changed? Just want to make sure they weren't hacked before we update the checksum in our Spack package.

[2020-08-23 16:54] adamjstewart commented on #17946
This is a known issue in the concretizer that should be fixed by @tgamblin's new concretizer (coming soon).

Current workarounds:
[code]
We could also modify the `package.py` to prevent this by making the following change:
[code]
Feel free to submit a PR for this if you want.

[2020-08-23 16:55] s-sajid-ali commented on #18043
They do have a git repo [here](https://charm.cs.illinois.edu/gerrit/gitweb?p=namd.git) which is used to fetch the develop version from spack. Also, they state on their website : ` The Charm++ repository moved to GitHub in May 2019, NAMD is expected to follow. `.

[2020-08-23 16:58] adamjstewart commented on #17892
@craigulmer

[2020-08-23 17:00] adamjstewart commented on #17891
This package cannot be downloaded, it comes vendored with Cray hardware. You're supposed to add it as an external package in `packages.yaml` to use it.

@tldahlgren is there any way we could make this more clear for packages like this? `spack external find` support would also help.

[2020-08-23 17:04] adamjstewart commented on #18043
In that case, hopefully this won't be an issue in the future.

@tldahlgren is there a way to make this more clear in packages that must be downloaded manually?

[2020-08-23 17:06] adamjstewart commented on #17874
@hainest until this is fixed upstream, can you add `conflicts('%intel')` to `dyninst`? That would save users a lot of compilation time before realizing it isn't supported.

[2020-08-23 17:09] adamjstewart commented on #17873
@daboehme I see that you are a `caliper` developer. Would you (or anyone else) like to add yourself as an official "maintainer" of the Spack package recipe? Simply add:
[code]
to the `package.py`. This gives us someone to contact when users report build issues or submit PRs to modify the package.

[2020-08-23 17:10] adamjstewart commented on #17849
@gartung @alalazo

[2020-08-23 17:12] adamjstewart commented on #17811
@anne-glerum were you ever able to get dealii installed?

[2020-08-23 17:13] #17791 closed, assigned to nobody

[2020-08-23 17:14] adamjstewart commented on #17694
@hainest

[2020-08-23 17:21] adamjstewart commented on #17691
For most packages, Spack's compiler wrappers take care of this automatically. Python packages are a bit of an exception, as they usually use the compilers directly, making it challenging. The first thing I would try is using `LIBRARY_PATH` and `CPATH` to allow the compiler to locate extensions. See `py-torchvision` for an example of this, basically add:
[code]
If that doesn't work, we can probably

[2020-08-23 17:23] adamjstewart commented on #17677
Ping @mtmiller

[2020-08-23 17:26] adamjstewart commented on #17657
Ping @chuckatkins

[2020-08-23 17:36] adamjstewart commented on #17245
I believe this has been fixed. The URL now points to GitHub instead of computing.llnl.gov

[2020-08-23 17:36] #17245 closed, assigned to nobody

[2020-08-23 17:37] adamjstewart commented on #17243
This now "works" in the sense that we download from Spack's source mirror instead of computing.llnl.gov

[2020-08-23 17:38] adamjstewart commented on #17241
@gardner48 did you ever get a chance to submit this PR?

[2020-08-23 17:39] adamjstewart commented on #17053
@harisubramoni @nithintsk

[2020-08-23 17:43] adamjstewart commented on #17022
@codeandkey did you ever resolve this build issue? Looking at https://github.com/h5py/h5py/pull/1321 it looks like the h5py developers are aware of some of the changes in newer versions of HDF5 but haven't put out a new release yet. Maybe `py-h5py` requires an older version of `hdf5` to build?

[2020-08-23 17:48] adamjstewart commented on #15488
My understanding is that `dev-build` attempts to build a Spack package from source code present in the current directory. So if you don't have a `configure` script (or any source code at all) in your current directory, the package will fail to install. Does that make sense?

[2020-08-23 17:49] adamjstewart commented on #14779
@hppritcha

[2020-08-23 17:56] adamjstewart commented on #10849
Can you open an issue for this? This is definitely something we should be able to fix.

Unfortunately I don't know anything about the selinux error. You could try running `spack --debug patch m4` to get more debugging info.

[2020-08-23 17:57] adamjstewart commented on #10812
We should create a virtual dependency for this.

[2020-08-23 17:59] adamjstewart commented on #10056
Yep, we commonly switch to `build_directory = 'spack-build'` for this reason.

Yes, please! I'm not sure if Spack still supports 32-bit, but I'm sure someone could use it.

[2020-08-23 18:02] adamjstewart commented on #9659
@davydden is this still an issue? I know I've seen this before, but I can no longer reproduce it with `spack list`. Maybe this has been fixed?

[2020-08-23 18:05] adamjstewart commented on #9414
Is this discussion still relevant? I think everyone agrees that `depends_on` should override preferences, but the concretizer is not currently smart enough to do that.

P.S. We now default to Python 3.7 so this particular issue is no longer present, although the question of concretization still remains.

[2020-08-23 18:06] adamjstewart commented on #8013
I think this issue can now be closed, the solution is to add a dependency on cuda.

[2020-08-23 18:06] #8013 closed

[2020-08-23 18:07] adamjstewart commented on #6995
@hainest

[2020-08-23 18:13] adamjstewart commented on #6708
Is this still an issue? How can I reproduce this issue if I'm on a system where SSL works properly?

[2020-08-23 18:14] adamjstewart commented on #6567
@krafczyk I'm going to close this. Spack now has a builtin mechanism to detect system packages and add them to `packages.yaml`. If `spack external find` is missing any features or packages you care about, please submit a PR.

[2020-08-23 18:14] #6567 closed

[2020-08-23 18:18] adamjstewart commented on #6261
@cyrush you should be able to use:
[code]
in the base class. That's what the `SIPPackage` base class does.

[2020-08-23 18:18] #6261 closed

[2020-08-23 18:19] adamjstewart commented on #6235
@balay @BarrySmith @jedbrown

[2020-08-23 18:25] adamjstewart commented on #6045
@michaelkuhn @alalazo

[2020-08-23 18:26] balay commented on #6235
@mileschen360 I see this is from 2017.

 Is this still an issue with current spack/petsc?

[2020-08-23 18:27] adamjstewart commented on #5679
Spack now uses the [distro](https://github.com/nir0s/distro) library to detect the OS version. Is this still an issue?

[2020-08-23 18:29] adamjstewart commented on #5390
It appears that this has been fixed

[2020-08-23 18:30] adamjstewart commented on #5254
This is a limitation of Spack's concretization algorithm and has nothing to do with `spack setup`, the same issue will also occur if you use `spack install`.

[2020-08-23 18:32] adamjstewart commented on #4541
Fixed by #5271

[2020-08-23 18:32] #4541 closed

[2020-08-23 18:33] adamjstewart commented on #4513
Is this still an issue? Spack's Cray support has been completely overhauled in the last few years.

[2020-08-23 18:35] adamjstewart commented on #3407
@JaeseungYeom is this still an issue?

[2020-08-23 18:37] adamjstewart commented on #3160
@alalazo I completely forgot about this issue. A lot of newer issues/PRs are hitting this. We should fix this.

[2020-08-23 18:38] adamjstewart commented on #2339
@citibeth is this still an issue?

[2020-08-23 18:39] adamjstewart commented on #2265
No response from @pramodk so I'm assuming this has been fixed, please reopen if this is not the case.

[2020-08-23 18:39] #2265 closed

[2020-08-23 19:27] lisalenorelowe commented on #10849
Hi Adam,

I almost forgot I opened this.

This was not Spack at all.  It turns out that in bash, the TMP directory was set to a place on NFS and in tcsh the TMP directory was set to a place on GPFS.

For a first fix, we just told users to set TMP in alternate place, but since they should really store those temporary files to scratch, the sys admin did have to do something such that 'patch' had per

[2020-08-23 19:33] #10849 closed

[2020-08-23 19:34] adamjstewart commented on #10849
You can also set the default build directory in `config.yaml`

[2020-08-23 19:39] lisalenorelowe commented on #10849
Okay, thanks!

[2020-08-23 20:21] junghans commented on #5390
Nope, we never added a warning .....

[2020-08-23 21:43] #17241 closed, assigned to gardner48

[2020-08-23 21:48] adamjstewart commented on #5390
Can someone submit a PR to add a warning? Looking through existing packages, it's not clear if we should override `fetcher` or `do_fetch`, but it would probably just look like adding a `tty.warn` followed by a call to super.

[2020-08-23 22:04] gartung commented on #17849
That is something the new concretizer might handle. For now the arch has to match.

[2020-08-23 22:06] adamjstewart commented on #1888
What aspect of specs needs to be documented? Is it the spec syntax, or the `Spec` object that is passed around during the install phase? The former is well documented, although the latter could be documented a little more clearly.

[2020-08-23 22:13] adamjstewart commented on #2065
What's the status of this issue? I maintain Spack's `python` recipe, so I can add a `pip` variant if we want to, but there is already a `py-pip` package that can be installed after the fact and is more up-to-date than whatever random version `python` pulls down. We would also have to make sure those don't conflict. I'm learning towards closing this issue and telling users to use `py-pip` if they w

[2020-08-23 22:15] adamjstewart commented on #2248
Are our config files still inconsistent?

[2020-08-23 22:18] adamjstewart commented on #2388
Is this still an issue? Spack's Cray support and shell support have both been completely overhauled in the last 3 years.

[2020-08-23 22:20] adamjstewart commented on #2484
This seems to have been fixed at some point. I'm able to successfully installs libx11 1.6.7 on macOS 10.15.6 with Apple Clang 11.0.3.

[2020-08-23 22:20] #2484 closed

[2020-08-23 22:23] adamjstewart commented on #2504
Is this still something worth considering? Users can now run `spack external find python` to automatically add Python to their `packages.yaml`. The new concretizer @tgamblin is working on should resolve a lot of the circular dependency issues mentioned above. Other than that, I don't see a good reason to use the instance of Python that is running Spack as a dependency.

[2020-08-23 22:26] adamjstewart commented on #2651
The documentation now refers to `~/.spack/darwin/compilers.yaml` as was originally brought up in this issue.

As for which scopes should or should not exist, or should be the default, I think there are other issues open for discussion on that front.

[2020-08-23 22:26] #2651 closed

[2020-08-23 22:27] adamjstewart commented on #2753
It looks like this issue has already been addressed. From https://spack.readthedocs.io/en/latest/packaging_guide.html#activation-arguments:

[2020-08-23 22:27] #2753 closed

[2020-08-23 22:29] adamjstewart commented on #2804
Spack's `setup-env.*sh` files no longer directly use `python` or `spack-python`, so I think this issue can be closed. If there is still an issue, feel free to reopen.

[2020-08-23 22:29] #2804 closed

[2020-08-23 22:32] adamjstewart commented on #2918
It looks like this issue has been fixed at some point. Now, both uses uniformly error out:
[code]
The help message for `spack create -r` now makes it clear that a path is expected.

[2020-08-23 22:32] #2918 closed

[2020-08-23 22:33] adamjstewart commented on #2937
@ghammond86 and @balay are the maintainers for this package, they can probably answer this question.

[2020-08-23 22:35] adamjstewart commented on #2979
Can this issue be closed now that `spack external find` is a feature? Users can now quickly and easily generate a `packages.yaml` for any new system they use.

[2020-08-23 22:36] adamjstewart commented on #3008
I'm not sure if this is worth documenting. It isn't a commonly needed feature, most Python packages extend the `PythonPackage` base class. For packages that have Python bindings, PR reviewers can handle mentioning this feature.

[2020-08-23 22:40] adamjstewart commented on #3525
Does `pkgconf` build with PGI? Has anyone contacted the `pkg-config` or `pkgconf` developers?

[2020-08-23 22:44] adamjstewart commented on #3647
I just build mawk 1.3.4-20171017 on macOS 10.15.6 with Apple Clang 11.0.3 and it seems to run fine. I'm going to close this issue, but feel free to reopen if you encounter any other issues with mawk.

[2020-08-23 22:44] #3647 closed

[2020-08-23 22:48] adamjstewart commented on #3817
I believe this feature was added by @alalazo's #17804. Users can now do:
[code]

[2020-08-23 22:48] #3817 closed

[2020-08-23 22:52] adamjstewart commented on #3897
The `elpa` package now defines its own custom `headers` attribute, and this attribute is used by `cp2k` and `quantum-espresso`, so I think this issue can be closed.

[2020-08-23 22:52] #3897 closed

[2020-08-23 22:52] adamjstewart commented on #3999
Closing this issue as a duplicate, if there is further discussion let's continue it in #1304.

[2020-08-23 22:52] #3999 closed

[2020-08-23 22:53] adamjstewart commented on #6862
#5114 has been closed, so I'm assuming this duplicate issue can also be closed.

[2020-08-23 22:53] #6862 closed

[2020-08-23 22:54] adamjstewart commented on #13821
Closing this as a duplicate

[2020-08-23 22:54] #13821 closed

[2020-08-23 22:56] adamjstewart commented on #3969
Our error message is slightly better now, is there anything else you would like to see added or can we close this?

[2020-08-23 22:58] adamjstewart commented on #4149
I don't think there are enough packages that need this feature to warrant adding an additional vendored dependency. What do you think?

[2020-08-23 22:59] adamjstewart commented on #4189
@healther is this still an issue or can we close it?

[2020-08-23 23:02] adamjstewart commented on #4795
This issue was fixed by adding `--without-recommended-packages` in #12015 and by explicitly listing recommend packages as dependencies in #12019 and #12005.

[2020-08-23 23:02] #4795 closed

[2020-08-23 23:03] adamjstewart commented on #4828
@jgalarowicz is this still an issue? Spack's Cray support has been completely overhauled in the last 3 years.

[2020-08-23 23:04] adamjstewart commented on #4946
Based on the current `singularity` package, it looks like both 1 and 2 have been resolved.

[2020-08-23 23:04] #4946 closed

[2020-08-23 23:05] adamjstewart commented on #4966
@lee218llnl is this still an issue?

@sethrj can you take a look at this?

[2020-08-23 23:38] balay commented on #2937
Looks like this issue is already fixed.

[code]

[2020-08-23 23:38] #2937 closed

[2020-08-23 23:58] sethrj commented on #4966
The spack recipe has totally changed since the time this was posted, and the issue clearly predates the template that asks for spack version, package spec, platform, etc. I'm going to close this, but I'll take a look if someone reopens (and posts the necessary details).

[2020-08-23 23:58] #4966 closed

[2020-08-24 01:05] darmac commented on #17946
got it, thanks

[2020-08-24 06:17] alalazo commented on #17849
@gartung Why archs have to match on an explicit request of the user to have `x86_64`?

[2020-08-24 06:18] joequant opened #18228 "Installation issue: older versions of ocaml should have fcommon to compile with gcc10"
### Steps to reproduce the issue
[code]

### Information on your system

* **Spack:** 0.15.4
* **Python:** 3.8.5
* **Platform:** linux-mageia8-skylake
[code]

### Additional information

@scemama

### General information

- [x] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [x] I have run `spack maintainers <name-of-the-package>` and @mentioned any maintainers

[2020-08-24 08:57] smarocchi commented on #18174
Hello @adamjstewart , in attachment there is the result of

spack --debug fetch cuda@10.1.243

[cuda_fetch.txt](https://github.com/spack/spack/files/5116788/cuda_fetch.txt)

Thank you for your help,
Simone

[2020-08-24 09:05] joequant commented on #18228
Removed issue with heppdt since that doesn't seem to be a build issue.

[2020-08-24 09:12] joequant opened #18231 "Need to figure out how to integrate spack with distcc and squid"
### Rationale

Looking for ways to reduce compile and loading time.  Right now spack has it's own caching system, but this doesn't allow for distributed compiles or caching downloads with appllications outside of spack.

### Description

It should be pretty straightforward to get the underlying spack downloads and compiles to be done via distcc and squid.  It looks like a configuration issue that

[2020-08-24 09:16] davydden commented on #9659
Let's close this for now.

[2020-08-24 09:22] alalazo commented on #17930
I'll try to have a look at this and discuss it with other core developers asap. I need to check better what are the implications of renaming `pgi` vs. maintaining it and having also `nvidia` alongside for newer versions.

[2020-08-24 09:26] RemiLacroix-IDRIS commented on #17930
I would say both solutions are not completely straightforward:
- renaming `pgi` would require a mechanism not to break existing Spack installs
- adding `nvidia` would probably break existing packages as special handlings for `%pgi` would not apply.

[2020-08-24 10:41] alalazo commented on #17930
@RemiLacroix-IDRIS Adding `nvidia` doesn't prevent us from pushing common code in a base class to be inherithed by both `pgi` and `nvidia`. This would solve your second point I guess.

[2020-08-24 11:04] RemiLacroix-IDRIS commented on #17930
@alalazo Sorry I wasn't clear, I meant that some packages handle the PGI compilers specifically with code like `if '%pgi' in spec ...` and those special handlings would not be used by a new `nvidia` compiler although it is likely that they would still be needed.

Of course it would be easy to fix (`if '%pgi' in spec or '%nvidia' in spec ...`) but it would require to modify multiple packages.

[2020-08-24 11:16] smarocchi opened #18234 "cudnn build error ::: OSError: [Errno 17] File exists"
Hello,
          I tried to install cudnn I got an error because the symlink says the include file already exist

### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.15.4-636-febc8cc
* **Python:** 3.6.8
* **Platform:** linux-centos7-power9le

### Additional information

[spack-build-out.txt](https://github.com/spack/spack/files/5117379/spack-build-out.txt)
[spa

[2020-08-24 13:01] gartung commented on #17849
The hashes have to match. The arch is part of the hash.

[2020-08-24 13:17] #9659 closed

[2020-08-24 13:33] jgalarowicz commented on #7307
@forandom @alalazo Do you know if there has been any progress with respect to building openblas with IBM XL compilers?  Or anything news for a future fix?   I'm trying to build for the ecp-proxy-apps for ECP.

[2020-08-24 13:55] jgalarowicz commented on #18201
@rspavel @eugeneswalker I have been working temporarily with Luke on E4S and I believe it was a goal to have all E4S packages compile under different sets of compiler configurations.   I think Luke would be better prepared to answer, but that is my understanding.

[2020-08-24 14:39] eugeneswalker commented on #18201
We were trying to get all of E4S built using the default GCC on OLCF Ascent, which is `GCC 6.4`. We've done most of them, but there are a few packages that for various reasons wouldn't build. We can use GCC 7.4.0 specifically in the case of `flecsi` since it sounds like that is required. Let's leave this issue open for now so  we can tag a subsequent PR expressing the conflict between earlier GCC

[2020-08-24 15:10] harisubramoni commented on #17053
Hi, Adam.

A user had reported a similar issue on the MVAPICH-Discuss mailing list.

The following patch worked for the user. The patch will be available with the upcoming MVAPICH2 2.3.5 release.

[code]

[2020-08-24 15:14] adamjstewart commented on #17053
@harisubramoni how soon is the 2.3.5 release coming? Should we add this patch to the `package.py` for existing versions?

[2020-08-24 15:16] harisubramoni commented on #17053
Hi, Adam.

We will be releasing the 2.3.5 version this week. If possible, I would suggest waiting for the release.

Best,
Hari.

PS: Apologies for the delay in getting back on this PR. I missed it over the weekend.

[2020-08-24 15:17] nicholas-sly commented on #3525
As PGI appears to be subsumed by the nvidia HPC tools set, we are probably just going to drop our support for now.  If it doesn't currently work, I'd be surprised if the `pkgconf`/`pkg-config` developers care to put any effort into this.

[2020-08-24 15:24] harisubramoni commented on #18178
@harisubramoni - I am just tagging myself so that I can follow this.

[2020-08-24 15:29] adamjstewart commented on #18178
@harisubramoni I'm pretty sure this is a Spack virtual dependency cache issue and has nothing to do with your new `mvapich2-gdr` package, but I have been wrong in the past 😛

[2020-08-24 15:34] adamjstewart commented on #3525
@nicholas-sly I assume any patches needed for NVIDIA HPC support will be identical to those needed for PGI support. I'm not opposed to dropping support for both (and adding conflicts). The new concretizer should be smart enough to compile build-dependencies with GCC and compile the rest of your DAG with the compiler you request.

[2020-08-24 15:36] adamjstewart commented on #17053
In that case, I'm going to close this issue so I don't forget that it's been fixed upstream. I assume @harisubramoni will add 2.3.5 to the `package.py` once it is released later this week.

[2020-08-24 15:36] #17053 closed, assigned to nobody

[2020-08-24 15:40] adamjstewart commented on #18174
Thanks @smarocchi. Can you give the output of the following command:
[code]
It looks like CUDA 10.1.243 is available for Linux-x86_64, but maybe `platform.system()` returns something like `Linux4` instead of `Linux`.

[2020-08-24 15:42] adamjstewart commented on #17930
Just realized that to add to the confusion, `nvc`, `nvc++`, and `nvfortran` will be the new PGI compilers, while `nvcc` will be the CUDA compiler. And I'm sure the NVIDIA HPC stack will contain both. They might even change the output messages during the unification.

[2020-08-24 15:50] smarocchi commented on #18174
Hello @adamjstewart , I just did it

Singularity> python -c 'import platform; print(platform.system()); print(platform.machine())'
Linux
ppc64le

[2020-08-24 15:54] RemiLacroix-IDRIS commented on #17930
I am not sure to understand why it matters but I would guess that they changed the branding everywhere, including in the output messages from the ex-PGI compilers.

I haven't been able to test the NVIDIA HPC Compilers 20.7 yet but as soon as our sysadmin team can perform the install, I will have a closer look.

[2020-08-24 15:59] nicholas-sly commented on #3525
This is true.  We're just unsure what licensing will even look like, so we're bailing until we know more.  I think the conflicts in anticipation of the new concretizer are the way I'd like to see this dealt with.

[2020-08-24 16:12] adamjstewart commented on #17930
It matters for compiler detection/external package detection. If someone runs `spack compiler find` or `spack external find pgi` (which will at some point be unified) we run `pgcc -V` and search for something like `pgcc 1.2.3`. See `lib/spack/spack/compilers/pgi.py` or #18148 for details.

[2020-08-24 16:31] RemiLacroix-IDRIS commented on #17930
Ok, that was my guest. I indeed think this will require some changes in Spack and somehow could justify that a new `nvidia` compiler is introduced.

[2020-08-24 16:36] adamjstewart commented on #17930
It wouldn't be hard to support both as a single compiler, the executable names and regexes are both lists, so we can add more entries. I'll let @alalazo decide, but I'm still leaning towards a single unified `%nvidia` compiler. It isn't hard to replace all `%pgi` with `%nvidia` in `package.py` files.

[2020-08-24 16:42] alalazo commented on #17930
@adamjstewart I think the issue would be people still stuck with old PGI compilers. Should we erroneously recognize them as `nvidia`?

[2020-08-24 16:43] adamjstewart commented on #17930
Yes, and I wouldn't even consider that "erroneous". The PGI compilers have essentially been renamed as far as I can tell.

[2020-08-24 16:54] RemiLacroix-IDRIS commented on #17930
What about existing Spack installs? Wouldn't that cause some inconsistencies in the DB?

[2020-08-24 16:58] harisubramoni commented on #17053
Yes, Adam. We will do that.

On Mon, Aug 24, 2020 at 11:36 AM Adam J. Stewart <notifications@github.com>
wrote:

[2020-08-24 16:59] harisubramoni commented on #18178
Thank you, Adam. I appreciate your feedback.

If it is not too much trouble, is it possible to get myself automatically
added to all MVAPICH related tickets?

Thx,
Hari.

On Mon, Aug 24, 2020 at 11:29 AM Adam J. Stewart <notifications@github.com>
wrote:

[2020-08-24 17:01] adamjstewart commented on #18178
@harisubramoni that's the idea behind the `maintainers` variable in a `package.py`. Right now, that process is manual. When a user opens a new issue to report a build error, the template asks them to run `spack maintainers <package>` and ping anyone who is listed as a maintainer. In the future, I've written a GitHub bot to automatically do this for PRs, although it isn't integrated yet.

[2020-08-24 17:19] michaelkarlcoleman opened #18239 "Installation issue: gromacs fail due to cuda compute_30 (dropped in cuda11)"
Omitting a lot, as I believe nvcc from cuda-11.x simply will not generate compute_30 code, thus the error message.

See http://arnon.dk/matching-sm-architectures-arch-and-gencode-for-various-nvidia-cards/

Default solution is to just remove compute_30.  More complex would be to allow different CUDA versions and adjust the generated code to match.

### Steps to reproduce the issue

[code]

### Info

[2020-08-24 17:19] tldahlgren commented on #18043
@adamjstewart @tgamblin  Is it safe to assume any package that has `manual_download = True` *must* be manually downloaded?

[2020-08-24 17:48] michaelkarlcoleman commented on #18239
This seems to be coming from gromacs upstream:
[code]

Looks like they haven't caught up to CUDA 11.  One solution would be to simply remove this line (via patch) if CUDA version is 11+.

[2020-08-24 18:27] harisubramoni commented on #18178
Thanks Adam! I will look at the maintainers variable.

On Mon, Aug 24, 2020 at 1:01 PM Adam J. Stewart <notifications@github.com>
wrote:

[2020-08-24 18:39] adamjstewart commented on #18234
It looks like this logic was added by @bvanessen in #11395. I don't have access to ppc64le to investigate this, but maybe @bvanessen can.

[2020-08-24 18:40] adamjstewart commented on #18239
@junghans @marvinbernhardt

[2020-08-24 19:07] junghans commented on #18239
/cc @mabraham @pszi1ard @eirrgang

[2020-08-24 19:54] Spaulus2017 commented on #14217
I get the same kind of error:
[code]

[2020-08-24 20:08] Spaulus2017 opened #18243 "Installation issue: opencv gcc7 conflicts spec"
### Steps to reproduce the issue

$ spack install opencv
==> Error: Conflicts in concretized spec "opencv@4.1.0%gcc@8.3.0 build_type=RelWithDebInfo +calib3d+core+cuda+dnn+eigen~fast-math+features2d+flann+gtk+highgui+imgproc+ipp+ipp_iw+jasper+java+jpeg+lapack+ml+opencl+opencl_svm+openclamdblas+openclamdfft+openmp+png~powerpc+pthreads_pf+python~qt+shared+stitching+superres+tiff+ts+video+videoio+vide

[2020-08-24 20:47] adamjstewart commented on #14217
@Spaulus2017 what version of Spack/CUDA are you using? If you update to develop, that conflict is no longer present, although there are still some constraints in the `CudaPackage` base class that are necessary.

[2020-08-24 20:57] Spaulus2017 commented on #14217
@adamjstewart
$ spack -V
0.13.0
also running on centos 7

[2020-08-24 21:13] adamjstewart commented on #14217
@Spaulus2017 that's pretty old, Spack is now on 0.15.4. If you update to the latest release this issue is no longer present.

[2020-08-24 21:22] #18243 closed, assigned to nobody

[2020-08-24 21:23] Spaulus2017 commented on #14217
@adamjstewart Thanks! I will give that a try.

[2020-08-24 21:50] #18174 closed, assigned to nobody

[2020-08-24 23:28] hainest commented on #6995
I agree 100% with @mdorier's [comment](https://github.com/spack/spack/issues/6995#issuecomment-635177485) that having a separate `boost-headers` package introduces more problems than it solves. I also don't think having a `+header_only` variant will work, either. For example, some libraries have both a header-only *and* a compiled installation (e.g., container). We'd need to very carefully track a

[2020-08-25 00:10] hainest commented on #17694
@bassenj This is an unfortunate wart when dealing with system-installed packages that alias Spack-installed ones. As far as I know, it's not possible to modify CMake's search directories without explicitly stating so either in the environment or as part of the command line invocation.

Fortunately, Spack allows us to do this with a quick modification to dakota's `cmake_args` [1]:

    args.append(

[2020-08-25 00:13] adamjstewart commented on #17694
I actually think it's quite common. It's even more common for Autotools packages. I would recommend this fix.

[2020-08-25 00:16] hainest commented on #17694
Ah, that's good! I guess my peephole perspective on spack packages just hasn't seen it very often.

[2020-08-25 00:27] ax3l commented on #2230
This is actually an upstream problem that occurs when installing (C)Python with GCC on macOS.
There is a silent build bug that does not build the module in questions because it includes objective-C code from system libs.

This has recently been addressed but upstream added no CI for it. Here are the upstream reports for this:
- https://bugs.python.org/issue26317
- https://github.com/python/cpython

[2020-08-25 00:28] hainest commented on #17694
It looks like there is an outstanding PR to make some boost changes in dakota (#18020).

@liphardt That might be a good place to put this.

[2020-08-25 00:35] ax3l commented on #2230
I added a conflict a while back for this in #16249

This is an upstream issue and upstream has currently little capacity to ensure any compiler but the system compiler (AppleClang) works.

[2020-08-25 00:36] #2230 closed

[2020-08-25 00:48] becker33 commented on #16215
@LDAmorim the issue of conflicts being raised for external packages was fixed 4 days ago in #18183.

[2020-08-25 01:02] joequant commented on #18231
The two basic things that need to be done are:

* get curl to run in an environment where the http_proxy variable is set
* get cc to run in an environment where it runs the distcc executable with proper environment variables.

Right now the issue is that the internals of spack seem to ignore external environment variables.  Wondering if there are undocumented mechanisms to inject a different envir

[2020-08-25 01:53] ax3l commented on #16215
Awesome. I am also updating the newly introduced support for `cmake %gcc` in 3.18.0 via #18253
Update: nope, more things to do upstream: https://gitlab.kitware.com/cmake/cmake/-/issues/21135

CPython though does still not look like it will have GCC support on macOS in 3.9.0: https://bugs.python.org/issue26317

[2020-08-25 02:05] nithintsk commented on #17998
@gartung @adamjstewart I wanted to follow up on this feature request. I believe it will be useful for packages that rely solely on binary mirrors.

[2020-08-25 02:45] citibeth commented on #1888
The latter.

On Sun, Aug 23, 2020 at 2:06 PM Adam J. Stewart <notifications@github.com>
wrote:

--
Elizabeth Ashley Fischer, she/her
University of Alaska, Geophysical Institute
cell: 617-308-0436

UA is an AA/EO employer and educational institution and prohibits illegal
discrimination against any individual: www.alaska.edu/nondiscrimination.

[2020-08-25 03:37] citibeth commented on #2248
yes

[2020-08-25 07:20] alalazo commented on #2248
Can you be a bit more specific on what are the inconsistencies as of c13bc308db35928860a2d03a17f2fd432459d9ec ?

[2020-08-25 07:56] #17874 closed, assigned to nobody

[2020-08-25 09:07] alalazo commented on #17849
Sorry, I don't get this. The arch is certainly part of the hash, but the user has a `linux-rhel7-x86_64` binary package and he asks to install a matching `linux-rhel7-x86_64` spec - so both architecture match. The error message seems to imply he's forbidden to install it since the host is a `linux-rhel7-sandybridge`? Is it correct?

[2020-08-25 09:33] #3525 closed

[2020-08-25 09:34] mabraham commented on #18239
Upstream issue at https://gitlab.com/gromacs/gromacs/-/issues/3632

[2020-08-25 10:04] alalazo commented on #2388
Closed by #17386

[2020-08-25 10:04] #2388 closed

[2020-08-25 10:26] mabraham commented on #18239
Changes proposed at https://gitlab.com/gromacs/gromacs/-/merge_requests/461 would likely work in the meantime (and similar would be needed for earlier GROMACS release branches, although those are no longer supported upstream).

[2020-08-25 11:40] roemer2201 commented on #17877
I got the same error for compiling m4%intel@19.1.2.254 (from Intel Parallel Studio 2020 Update 2).

[spack_m4-intel_build-out.txt](https://github.com/spack/spack/files/5123472/spack_m4-intel_build-out.txt)

Any help is apprechiated!

Thank you in advance!

[2020-08-25 12:03] alalazo commented on #659
I'll close this as an issue but keep #10159 open for discussion. Feel free to undo if you disagree.

[2020-08-25 12:03] #659 closed

[2020-08-25 13:06] gartung commented on #17849
The first error indicates that there is no index.json
`==> Error: Failed to read index https://spack-llnl-mirror.s3-us-west-2.amazonaws.com/build_cache/index.json`
This is because of the change to index.json that was introduced in v0.15.
There was no way to find a matching spec. The second error about arch's not matching is spurious.

[2020-08-25 13:07] gartung commented on #17849
@scottwittenburg @tgamblin

[2020-08-25 13:13] gartung commented on #17849
If you are using your own buildcache mirror you need to generate the index.json file for your mirror.

[2020-08-25 13:42] alalazo commented on #17849
I think this is the issue. I tried to reproduce on my laptop and I can install a generic `zlib` after I generated the `index.json`:
[code]
Apologies for being lazy and not searching for myself, but do we have this procedure documented somewhere? The generation of the `index.json` wasn't a required step not so long ago if I remember correctly.

[2020-08-25 15:20] scottwittenburg commented on #17849
No worries, sorry for changing the behavior out from under you.  The help for `spack buildcache create` kind of mentions it, but it's certainly not very clear.  There's a `--rebuild-index` option, which defaults to `False`, but I wonder if it should just be changed to `True`.  This is how it used to be (ish, there wasn't always an option), and in the process of developing the automated build pipel

[2020-08-25 15:42] alalazo commented on #17849
No problem. Actually, since we checked that this change in the default is the origin of the issue I dare say I'm glad. It's much less severe than "build caches for `x86_64` are not compatible with `sandybridge` anymore" :laughing:

We'll probably need only some minor clean-up and rewording of the error message.

[2020-08-25 15:44] gartung commented on #17849
You mean this one which does not come from the buildcache code
`==> Error: Can't recreate arch for spec linux-rhel6-x86_64 on current arch linux-rhel7-sandybridge; spec architecture is too different`

[2020-08-25 15:46] alalazo commented on #17849
@scottwittenburg @gartung I assigned this issue to myself to keep track of it. Feel free though to post a message here and go ahead submitting a PR if you feel like fixing it.

[2020-08-25 15:47] pszi1ard commented on #18239
Not yet, but on the other hand, CUDA 11 seems to have deprecated compute capability 3.0 overnight (?).

For <=v2020.4 that is a reasonable workaround; alternatively, the spack config could explicitly override the CUDA targets on the CMake invocation, e.g. `-DGMX_CUDA_TARGET_SM="35;37;52;61;60;70;75" -DGMX_CUDA_TARGET_COMPUTE="70"` (could consider adding Ampere too, i.e. 80).

[2020-08-25 16:38] gartung commented on #17998
@alalazo Do you have time to look at this?

[2020-08-25 16:42] michaelkarlcoleman commented on #18239
We have mostly K80s here (but a few newer cards).  Would be quite handy if this worked by default, or at least with some extra '+' flag or something.

[2020-08-25 17:02] pszi1ard commented on #18239
Not sure what do you mean by '+' flag, can you elaborate? As noted above you can pass those extra CMake flags at configure-time and you'll get essentially the same set of flags (and behavor) as the upstream fix implements.

[2020-08-25 17:12] michaelkarlcoleman commented on #18239
I'm not exactly sure what I mean either, but I had in mind a "spack-ish" syntax to specify which cards to support, if that seems necessary. Just supporting all possible cards would be great as well, and maybe doesn't need a flag?

An additional possibility, though more work, would be to move all of this decision-making/flags to the 'cuda' spack module. Then spack packages that depend on that modul

[2020-08-25 17:45] eugeneswalker commented on #17877
I have been getting `m4` to build using this modification to the package recipe:
https://github.com/eugeneswalker/spack/commit/0db1ed5b6c9e846bc3f407c53533634194d34b42

It seems to be the `--no-gcc` option which is causing the problem.

[2020-08-25 18:48] payerle opened #18267 "Installation issue: dbus (missing libsm dependency)"
I am trying to install visit, and I am hitting an error when it tries to install dbus.  This appears
to be due to dbus depending on libSM (and through that libuuid), but not declaring that dependency in Spack. So in my build of visit, the libuuid dependency is picked up and set to use the spack installed libuuid via some other package visit depends on, but dbus ends up using the system installed l

[2020-08-25 19:50] payerle commented on #17987
The comments of others and the work towrd making compilers full fledged dependencies notwithstanding, it looks like I my initial diagnosis of the problem that led to this discussion was in error.

The error building pkg-config appears not to have been due to the intel vs amd difference, but issues with the RHEL8 glibc --- see e.g.
https://gcc.gnu.org/bugzilla/show_bug.cgi?id=94089

The new amd sys

[2020-08-25 20:09] eschnett commented on #18030
Can you remove the `question` tag? I don't have a question; I reported a bug.

[2020-08-25 21:55] RikkiButler20 opened #18276 "Installation issue: npm"
[2020-08-25T17_15_36_969Z-debug.log](https://github.com/spack/spack/files/5126581/2020-08-25T17_15_36_969Z-debug.log)
Unable to install npm on its own or as a dependency.

### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.15.4-698-8b5fcbfaf
* **Python:** 3.7.8
* **Platform:** darwin-catalina-skylake

### Additional information

The log files show

[code]

[2020-08-25 22:30] adamjstewart commented on #1927
Just wanted to add another angle to this discussion.

On Linux, the lack of RPATH with Python can be annoying, requiring users to set `LD_LIBRARY_PATH` for Python modules to find their dependencies. However, on macOS, this solution does not work as well. If we set `DYLD_FALLBACK_LIBRARY_PATH`, then a script like:
[code]
works when run as:
[code]
but segfaults after failing to find the GEOS library

[2020-08-25 22:45] adamjstewart commented on #18276
That's odd. I'm on an almost identical system and I was able to install `npm`:

* **Spack:** 0.15.4-680-afa907f549
* **Python:** 3.7.8
* **Platform:** darwin-catalina-ivybridge

There's no maintainer for the package, so your best bet is to contact the `npm` developers.

[2020-08-25 22:55] becker33 commented on #18276
@adamjstewart then maybe this is an LLNL firewall problem, I had the same issue installing npm.

I'll see what happens if I drop off vpn.

[2020-08-26 02:06] arwild01 commented on #16689
I just ran into this problem... and I think the issue on CentOS 8.2.  I think my problem is because /bin is a symlink to /usr/bin but /bin is in my PATH before /usr/bin that means a path search for gcc returns /bin/gcc.

However, the logic in the llvm build takes the path to gcc and trims the last two elements off and uses that for -DGCC_INSTALL_PREFIX.  Notionally this would be /usr but for me it

[2020-08-26 02:26] arwild01 commented on #16689
I'm not an expert here... but for the handful of gcc's I have access to... it looks to me like retrieving the value from the "install:" line from gcc -print-search-dirs and backing up 4 directories might do it.  (please excuse the "unrolled" xargs/dirnames here):

[arwild1@hplwse016 ~]$ which gcc
/opt/rh/devtoolset-7/root/usr/bin/gcc
[arwild1@hplwse016 ~]$ gcc -print-search-dirs|egrep '^install:'

[2020-08-26 06:54] mcneish1 commented on #10056
Hey Adam, unfortunately I haven't touched this in the last year and a half, and I don't have time to put this together nicely.

The recipe I posted above works for my purposes, but it isn't complete the 32-bit compiler requirement is difficult to deal with.

Here's a recipe (roughly the same age / completeness as the wine recipe) for crosstool-ng, to build said 32-bit compiler where needed:
[code]

[2020-08-26 11:15] JaeseungYeom commented on #3407
Well, I moved on. I am closing this.

[2020-08-26 11:15] #3407 closed

[2020-08-26 14:49] becker33 commented on #18276
@RikkiButler20 try building without logging into your LLNL vpn. It seems that the vpn is the issue.

[2020-08-26 14:56] sethrj commented on #18176
Related: https://github.com/spack/spack/issues/15896 . HDF5 is one of those packages that has changed their build system from autotools to cmake over the lifetime of the spack recipe.

Side note: if you're interested in the modern cmake targets provided by the CMake-installed HDF5, as of CMake 3.19  you will be able to get the targets with the FindHDF5  script (see https://gitlab.kitware.com/cmake

[2020-08-26 15:05] adamjstewart commented on #18176
@sethrj I was thinking the same thing, but it looks like the oldest version of HDF5 in Spack (1.8.10) actually supports CMake, so there's no reason we can't switch.

[2020-08-26 15:20] RikkiButler20 commented on #18276
It worked when I wasn't logged into my VPN.

[2020-08-26 15:23] adamjstewart commented on #18276
It sounds like the problem here is that our `npm` package requires internet access at build-time and downloads additional dependencies. We should figure out how to disable this or add resources for the expected dependencies. I imagine this problem also affects users on air-gapped networks.

[2020-08-26 15:43] eugeneswalker opened #18289 "build fail: binutils@2.33.1 on rhel8 - no makeinfo"
`binutils@2.33.1 %gcc@8.3.1` is failing using `spack@develop` (26-Aug-2020, 20d37afafa3be3f9b6c3388e22f813261d4c3fec) on `RHEL8` for `x86_64`

Looks like the dependency on `texinfo` (which provides `makeinfo`) extends to 2.33.1 as well as 2.34. The package.py makes this dependency explicit for 2.34. but not 2.33.1. The build proceeds without problem when `texinfo` is added as an explicit dependenc

[2020-08-26 16:21] codeandkey commented on #17022
Yes, the issue was resolved somewhere upstream- not sure where exactly but it builds fine now. Closing!

[2020-08-26 16:21] #17022 closed, assigned to nobody

[2020-08-26 16:29] chchang6 commented on #12782
Thanks, just tried the build against GCC 8.4.0 and it completed without error.

From: g-mathias <notifications@github.com>
Reply-To: spack/spack <reply@reply.github.com>
Date: Monday, August 17, 2020 at 9:25 AM
To: spack/spack <spack@noreply.github.com>
Cc: Christopher Chang <Christopher.Chang@nrel.gov>, Author <author@noreply.github.com>
Subject: Re: [spack/spack] Installation issue: Dakota (#127

[2020-08-26 17:12] roguephysicist opened #18292 "Environments: activation does not work with custom config. path"
Environment activation does not work correctly when using Spack with a custom configuration path (`-C ...`).

### Steps to reproduce the issue

[code]

### Error Message

[code]

The environment can activate correctly if I remove the `-C ...` option.

### Information on your system

* **Spack:** 0.15.4-656-3c86629
* **Python:** 3.6.8
* **Platform:** linux-rhel7-haswell

### Additional information

[2020-08-26 17:46] ajw1980 opened #18293 "Installation issue: py-lxml doesn't use the spack libxslt and libexslt libraries"
It looks like py-lxml should have AUTO_RPATH set to true. Otherwise it picks up the OS versions of libxslt instead of the spack built versions. I added this to the package.py and the library dependencies were correct:

[code]

[2020-08-26 18:52] arwild01 commented on #11116
I've been thinking my spack installation was broken for months because I wasn't seeing any hashes from spack find (and I couldn't find any open bugs about it).  I finally ran spack find --long|cat and magically they show up.  I agree with @wresch this is a poor choice.  I need at least a way to override this.

[2020-08-26 22:41] becker33 commented on #18276
I haven't been able to determine whether it's trying to download something or whether it's trying to get up-to-date data for something.

[2020-08-26 23:47] bdunlay commented on #16244
I am experiencing this issue on 0.15.4 when trying to build a dependent package that itself does not have a dependency on gcc: libbsd. Oddly enough, it fails saying it cannot proceed with libbsd because of an uninstalled dependency, gcc.

[2020-08-27 01:57] #18267 closed, assigned to nobody

[2020-08-27 02:07] adamjstewart commented on #17930
Related to #18261

[2020-08-27 04:02] adamjstewart commented on #18293
Want to submit a PR?

[2020-08-27 05:52] he-b opened #18300 "Installation issue: zoltan@3.83%gcc@10.2.0"
### Steps to reproduce the issue

[code]

Here is the Concretized spec:
[code]

### Information on your system

[code]

### Additional information

* [spack-build-out.txt](https://github.com/spack/spack/files/5134280/spack-build-out.txt)

### General information

- [x] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [x] I have run `spack maintainers <name-of-the

[2020-08-27 06:13] alalazo commented on #15848
https://github.com/spack/spack/pull/18220#pullrequestreview-474218727 as a further initial entry

[2020-08-27 06:26] ax3l commented on #18001
Hi @JulienLoiseau ,

the table you linked https://gist.github.com/ax3l/9489132#clang--x-cuda is not the nvcc with clang (as host-compiler) compatibility, but the clang (as CUDA device compiler) compatibility with the CUDA SDK.

The first table for nvcc as device compiler https://gist.github.com/ax3l/9489132#nvcc shows the compatibilities with host compilers, including clang.

NVCC from Nvidia only

[2020-08-27 06:48] ax3l commented on #17846
Thanks for fixing this upstream, @sethrj .
CMake 3.18.2 is now in Spack: #18244

[2020-08-27 11:33] pszi1ard commented on #18239
I can unfortunately not help with that.

The GROMACS build system already does that. In this case that mechanism does not work well enough because a GPU architecture was deprecated without advance notice and the GROMACS build system is not yet adapted to the CUDA 11 limitations.

[2020-08-27 13:02] DavidPoliakoff commented on #18001
Hi @JulienLoiseau , so far we've had Spack users, and clang-cuda users, but I don't that we've had Spack clang-cuda users. We'll be discussing this in our Slack, but we have CMake lines for this that work, we'll see about pushing them to the Spack package. What we'd need from Spack

1) Verify that the Clang we're using enables the NVPTX target
2) A way to find the CUDA toolkit to pass a --cuda-pat

[2020-08-27 13:16] DavidPoliakoff commented on #18001
It looks like this is the problem:

https://github.com/spack/spack/blob/develop/lib/spack/spack/build_systems/cuda.py#L106-L116

Spack is saying "we conflict with Clang between 5 and *10* (for some reason)" on these CUDA versions. Well, we just happen to pass a Clang > 10, which avoids that set, but it's not really clear why that works how it does.

[2020-08-27 13:41] michaelkuhn commented on #10812
I gave this a try in #18322, let me know what you think. I had to extract libuuid into a separate util-linux-uuid package to make the concretizer happy, though.

[2020-08-27 14:06] scothalverson commented on #18001
Hi @ax3l,

We end up using clang both as host+device through `-x cuda` and as a host-only compiler paired with NVCC.  The latter is How Legion requires us to build right now for example.

 @DavidPoliakoff, so this issue doesn't present itself with a Clang greater than 10?  Can you elaborate on which pairing of Clang and CUDA you're using?  And perhaps more specifically, are you successfully using

[2020-08-27 14:29] crtrott commented on #18001
If I understand this correct: This is NOT a problem in Kokkos, we support any (and test a few) combinations of clang and CUDA with clang as the device compiler (i.e. clang++ -x cuda, where we add the -x cuda internally). But spack apparently has its ownd compatibility list which is independent of Kokkos and which is just the conflict list of using clang as the host compiler for nvcc - not what you

[2020-08-27 14:30] DavidPoliakoff commented on #18001
@scothalverson , this is actually more confusing than I thought, I saw the original comment mention that

` spack install kokkos +cuda cuda_arch=72 %clang@10.0.0 ^cuda@11.0` - worked

And thought the issue might be to do with the CUDA conflicts based on [this comment](https://github.com/spack/spack/issues/18001#issuecomment-675584879).

But then if `Clang 10/Cuda 10.2` doesn't work, that explanati

[2020-08-27 14:38] DavidPoliakoff commented on #18001
@JulienLoiseau , good catch from @crtrott, could we get the exact version of your CUDA 11 (patch included)? There's this small gap where Spack only blocks Clang 10 when CUDA 11 is exactly CUDA 11.0.2, that could create interesting situations

[2020-08-27 15:36] JulienLoiseau commented on #18001
@DavidPoliakoff

The CUDA 11 which works with clang 10.0.0:
Cuda compilation tools, release 11.0, V11.0.167

[2020-08-27 15:36] scothalverson commented on #18001
You're correct that this is not an issue with Kokkos.  Its definitely a Spack issue.

I realize I'm likely misunderstanding two things that might cause this to make more sense:

1) the syntax of constraints in Spack:
`conflicts('%clang@:3.2,9:', when='+cuda ^cuda@10.2.89' + arch_platform)` - If I'm understanding this correctly now, this is saying there is a conflict if (clang version <= 3.2 or cla

[2020-08-27 16:16] sethrj commented on #14102
The sooner this gets resolved, the sooner I can start recommending spack to mac people again...

[2020-08-27 18:57] #18300 closed, assigned to nobody

[2020-08-27 19:33] jmaack24 commented on #16303
I ran into this problem as well.  I was able to fix it by changing the JULIA_CPU_TARGET value from `skylake_avx512` to `skylake-avx512`.  Here's the git diff of the julia/package.py file
[code]

[2020-08-27 20:03] #18293 closed, assigned to nobody

[2020-08-27 21:34] mtmiller commented on #17677
Yeah, seems likely that this is due to missing references to the readline include and lib directories in the octave build spec.

[2020-08-27 21:53] mtmiller commented on #17677
Octave builds for me on Debian testing, with readline 8 installed as both a system library and a spack build dependency. From what I know about spack so far, it looks like octave always links directly against the system library, but possibly some other dependency module links against spack readline 8 on your system, hence the conflict.

I can't promise to work on a fix for this soon, but I would g

[2020-08-27 22:52] mwkrentel commented on #18289
I tried this on a RH 8.x system without makeinfo installed, and I get
different results from you.

For me, `spack install binutils -nls` builds cleanly without texinfo
for 2.33.1, fails for 2.34 (without texinfo) and again builds cleanly
with 2.35.  This is consistent with the bug report from the binutils
`package.py`.

https://sourceware.org/bugzilla/show_bug.cgi?id=25491

I don't know how to acc

[2020-08-27 23:12] omor1 opened #18335 "dev-build: cflags not propagated to CMake"
I'm trying to build a development package with Spack. Initially, following documentation in "Workflows - Developing Software with Spack", I used `spack setup`, but after a discussion with @adamjstewart I was informed that it is severely unmaintained and that #18240 is deprecating the command, suggesting `build-env` or `dev-build` instead.

CFLAGS I supply to the spec (e.g. `cflags="-xHASWELL"`) ar

[2020-08-27 23:12] omor1 commented on #18335
Pinging @adamjstewart and @becker33 as the former requested.

[2020-08-27 23:38] eugeneswalker commented on #18289
I have replicated this many times, from scratch. I'm using Red Hat's UBI 8 image, cloning Spack and starting from scratch each time. Please see the link below for a short video showing the whole process by which the issue is consistently reproduced. The videos shows what happens when trying to install:
* `binutils@2.35~nls`
* `binutils@2.33.1~nls`

https://asciinema.org/a/356330

Perhaps Red Hat 8

[2020-08-27 23:51] omor1 commented on #18335
I think I misread or misunderstood the documentation; flags passed on the command line are handled via the compiler wrapper, while other flags (e.g. from packages) can be handled via other mechanisms. I confirmed that this _is_ occurring by attempting to use a bogus compiler flag, causing the build to fail.

[2020-08-27 23:51] #18335 closed, assigned to nobody

[2020-08-28 00:25] bvanessen opened #18338 "Hash error when trying to install or activate an environment"
Updated to spack to v0.15. Rewrote the environment to comply to the new format.  Tried to reinstall the environment and it fails part way through the installation of the environment.  At that point it also fails to activate the environment.

### Steps to reproduce the issue

[code]

### Error Message

[code]

### Information on your system

### Additional information

- [ ] I have run `spack debug

[2020-08-28 02:38] bollig opened #18343 "relion 3.1.0 released"
https://github.com/spack/spack/blob/4af630308619afb40b1de89d1f7bac0f57b70a38/var/spack/repos/builtin/packages/relion/package.py#L20

https://github.com/3dem/relion/releases

[2020-08-28 02:39] bollig commented on #18343
Would be better to add a url to this package so we can specify version tags to be extrapolated. See the libfabric package for reference on how this can be structured.

[2020-08-28 03:10] bollig opened #18344 "EFA support"
https://github.com/spack/spack/blob/12519193186f03ecd044d9701d28538397a88cf4/var/spack/repos/builtin/packages/fabtests/package.py#L14

the ofiwg/libfabric is a good start, but this package should also point to https://github.com/aws/libfabric for versions with EFA enabled. For example, version 1.10.1amzn1.1

[2020-08-28 03:17] mwkrentel commented on #18289
@eugeneswalker  Does your system have the `cmp` program installed?
It's hard to believe that cmp doesn't exist, but maybe.  This is from diffutils rpm.
And note: cmp needs to exist on whatever docker machine that spack is actually running on.

Is this a DOE machine?  I have access to many DOE machines, although I
don't really use docker.

[2020-08-28 06:08] eugeneswalker commented on #18289
We are observing the problem inside our RHEL8 container image which we use for CI. The image is on Docker Hub as `ecpe4s/rhel8-runner-x86_64:2020-08-01`. *It does* have `cmp` from `diffutils`. What made you curious about this?

[2020-08-28 08:50] tmadlener commented on #18338
I am experiencing similar problems. However, in my case the environment has been created with an earlier version of spack (before the update to the new config file format). I am not sure if this information is of any help, but by chance I had an environment activated before updating spack and after updating I can't deactivate that environment any longer (via `spack env deactivate`).

I get a simil

[2020-08-28 08:56] bvanessen commented on #18338
I believe that part of my problem is related to the line that says

view: true

That is at the end of my spack.yaml file. It is added during the creation of the environment and if I delete it and reconcretize the environment it seems to work.

Brian C. Van Essen
vanessen1@llnl.gov
(w) 925-422-9300
(c) 925-290-5470
---
Sent from my iPhone

[2020-08-28 09:55] alalazo commented on #18343
I started updating the package, but it might take a bit more than expected to get it right since build appears to be broken even for v3.0.8 on:

* **Spack:** 0.15.4-710-125191931
* **Python:** 3.6.9
* **Platform:** linux-ubuntu18.04-broadwell

[2020-08-28 13:17] tmadlener commented on #18338
It looks like creating a new environment with explicitly disabling the creation of a view also allows me to create, activate and deactivate environments. However, setting `view: false` in the `spack.yaml` file after an environment has been created, concretized and all packages installed with an earlier version of spack has no effect.

The hash that is printed in the error message seems to be the o

[2020-08-28 13:48] riscy768 opened #18356 "Can Not Build with CCE on Shasta"
My team has little experience with Spack and about the same with our new Shasta system.  While I know Shasta's new (our is one the first), I'm concerned that I must be missing "something" fundamental in how I should be configuring my compiler, etc as I can't even do a base build of zlib with cce.
[code]
### Steps to reproduce the issue

On Shasta system....
- extract Spack
- run setup_env.sh
- spa

[2020-08-28 13:54] riscy768 commented on #18356
Attaching debug output
[debug.out.cce-zlib.txt](https://github.com/spack/spack/files/5142433/debug.out.cce-zlib.txt)

[2020-08-28 15:07] adamjstewart commented on #18344
The `libfabric` and `fabtests` packages currently have no official maintainer listed, but PRs are always welcome. Maybe @hppritcha would be interested in this.

[2020-08-28 16:20] bvanessen commented on #18338
I did find the problematic has in the lock file as well it is the first one:
[code]

[2020-08-28 16:23] bvanessen commented on #18338
It looks like all of the hash values in the lock file do not correspond to the hash values of the installed packages.

[2020-08-28 16:34] ojamond opened #18357 "Spec for external packages appears in 'spack find'"
When I install within an environment a package XXX which depends on a package YYY which  is defined as external in the `spack.yaml`, the spec of the package YYY appears when doing  `spack find` (and what is more annoying, can cause 'conflicts' if a variant of the package XXX is actually built by spack in another context when doing 'spack load XXX').

### Steps to reproduce the issue

1. clone and

[2020-08-28 17:37] mwkrentel commented on #18289
Your build log says that `cmp` doesn't exist.

[code]

I think what's happening here is: somehow at a critical point when
spack runs this, the `cmp` command isn't available.  This causes the
`move-if-change` script to fail, this causes the time stamps on the
doc and `texi` files to be wrong, this tells `make` that the doc files
need to be rebuilt, `makeinfo` doesn't exist, so the build fails.

It

[2020-08-28 17:51] eugeneswalker commented on #18289
Yes. That works! Thank you for catching that. I should have been more diligent reviewing the full log.

Since the build system relies on `cmp`, the right thing to do seems to be, to add `diffutils` as an explicit build dependency (regardless of platform). If there are no objections, we will do this PR: https://github.com/spack/spack/pull/18361

[2020-08-28 17:52] joequant commented on #18231
It turns out that this can be put in the documentation.

To make this work with squid you can set the http_proxy environment variable, but the mirrors need to be set to use http instead of https to allow caching.

Distcc will work but that will require setting compilers.yaml to point to the distcc compilers.

[2020-08-28 18:31] #18289 closed, assigned to nobody

[2020-08-28 18:55] haampie commented on #17981
There is no such a thing as a non-intrusive patch to LLVM :laughing:.

Upstream patches have been reverted temporarily because of too many issues. I'll give it another try this weekend.

[2020-08-28 19:13] mwkrentel commented on #18289
@eugeneswalker I don't really run docker (not yet), but I'm curious,

How can a linux system not have cmp or diff?
Is this common on docker, something very minimal?
Is diffutils really optional in RH 8.x?

[2020-08-28 19:16] eugeneswalker commented on #18289
its Red Hat’s Universal BASE Image (UBI8) and yea it is super barebones. Super small. Meant to build on top of.

[2020-08-28 19:18] scheibelp commented on #18338
@tmadlener one thing I wanted to check about https://github.com/spack/spack/issues/18338#issuecomment-682408670

@bvanessen reported that this issue comes up if he tries to make an environment from scratch:

[code]

Does this also occur for you? Or do activation errors only occur when activating preexisting environments?

[2020-08-28 19:21] mwkrentel commented on #18289
Ok, thanks !

[2020-08-28 19:22] scheibelp commented on #18338
Also @tmadlener is your stack trace the same as https://github.com/spack/spack/issues/18338#issue-687624016, or different?

[2020-08-28 21:15] adamjstewart commented on #9065
#9249 was an attempt to fix the problem for all CMake packages. However, it was decided that this solution was too dangerous to use for all CMake packages. The solution should be used on a package-specific level. For `googletest`, this package has already been fixed, so I think this issue can be closed now.

[2020-08-28 21:15] #9065 closed

[2020-08-28 21:42] wortiz opened #18369 "spack load with fish shell fails when package contains -h"
### Steps to reproduce the issue

[code]

### Error Message

[code]

### Information on your system

### Additional information

Workaround:
[code]

Appears to be caused by ` function check_env_activate_flags` being too lax when checking for -h

Can be fixed with the following patch but I'm not sure if this is strict enough

[code]

I don't usually write fish programs so maybe someone more knowled

[2020-08-29 01:03] ax3l opened #18370 "macOS nightly build tests are failing"
### Steps to reproduce the issue

[code]

with an external qt install as in our CI (#18642)
[code]

fails with
[code]

### Information on your system

any recent macOS

### Additional information

See:
https://github.com/spack/spack/runs/1039421566?check_suite_focus=true

I think it's caused by this line:
  https://github.com/spack/spack/blob/25021ec2280cc61ec7e6ea7ea39dec773eb796c0/var/spack/repo

[2020-08-29 01:29] michaelkarlcoleman opened #18371 "Installation issue: elmerfem fails (current develop branch)"
### Steps to reproduce the issue

[code]

### Information on your system

### Additional information

* [spack-build-out.txt]()
* [spack-build-env.txt]()

### General information

- [ ] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [x] I have run `spack maintainers <name-of-the-package>` and @mentioned any maintainers
- [ ] I have uploaded the build log and en

[2020-08-29 01:43] omor1 opened #18372 "BLAS/LAPACK providers should set CMake configure options in consumers"
BLAS and LAPACK providers should have a mechanism for allowing their consumers to properly set the CMake `BLA_STATIC` and `BLA_VENDOR` configuration options. This is similar in essence to the already-existing `blas_libs` property, but specific to CMake.

### Rationale
Properly linking to BLAS and LAPACK in a CMake is currently somewhat fraught. The preferred mechanism of using `FindBLAS` and `Find

[2020-08-29 01:48] omor1 commented on #18372
Briefly discussed the issue with @adamjstewart, who recommended pinging @alalazo as the author of #1875.

[2020-08-29 02:06] omor1 opened #18373 "Standardized CMake Interprocedural Optimization Variant"
Add standard `ipo` variant to CMakePackage.

### Rationale
CMake exposes the `CMAKE_INTERPROCEDURAL_OPTIMIZATION` variable to enable IPO/LTO on all targets in a project. Similar to the standard `build_type` variant for CMake, Spack should have a standard `ipo` variant (defaulting to `False`) that enables `CMAKE_INTERPROCEDURAL_OPTIMIZATION`.

### Description
[code]

### Additional information
Spac

[2020-08-29 02:37] omor1 commented on #18192
Quick question before disabling IPO entirely, can you try using `-ipo1` or `-ipo-jobs1`? I've had issues with prior versions of the Intel compiler where large applications will by default generate more than one object file and cause a segfault between multithreaded components in the compiler; serializing IPO fixed that in my case.

[2020-08-29 02:41] raovgarimella commented on #4119
Just hit this in a container build

[2020-08-29 03:52] adamjstewart opened #18375 "install/install_tree: glob support"
We should add glob support for `install`/`install_tree`/`copy`/`copy_tree`.

### Rationale

I see a lot of packages using syntax like:
[code]
### Description

It would be nice if you could instead do:
[code]

[2020-08-29 07:13] darmac commented on #8746
Any update for this issue? We met the same issue now.

[2020-08-29 15:19] sethrj commented on #18370
@ax3l Seems reasonable. Could you print `spack spec qt` or whatever concretization of QT variants/version/deps?

[2020-08-29 20:30] ravil-mobile commented on #16668
It turned out that my docker root was set to a remote storage. I reset the root to a partition on my local ssd and everything worked. Im closing the issue.

[2020-08-29 20:30] #16668 closed, assigned to alalazo

[2020-08-29 20:58] omor1 commented on #18372
Hmm, these could even be added automatically in CMakePackage's `_std_args` method:
[code]

I don't know if that's useful or if it breaks package expectations though.

[2020-08-29 23:31] trws commented on #8746
As far as I know this remains a problem.  We worked around it for flux
by having an option for building from a tarball that auto-detects a
situation like this, among other things.

On 29 Aug 2020, at 0:13, darmac wrote:

[2020-08-30 02:00] Sinan81 opened #18397 "python packages: spack create should automatically convert 'pythonhosted.org...' urls to 'pypi.io...'"
### Rationale
It would mean one less step for users in creating python packages.

### Description
location of link to tar files in pypi.org goes like `pythonhosted.org...`. For example:
[code]
However, in spack `pypi.io` type link is preferred. For example, the pypi.io link for the above example would be:
[code]
The logic of going from a give pythonhosted type link to pypi.io link is simple. This

[2020-08-30 08:37] svenevs commented on #18001
@scothalverson yes you got it

Yes, I think @adamjstewart originally created this "hack" (clever workaround based on constraints of other parts of spack). It's a bit confusing, but all of those constraints are encoding min / max versions of clang / gcc / icc / etc as declared by NVIDIA (what `nvcc` is tested against wrapping).

Exactly. Sorry for not explaining more, the clang / cuda stuff is a bi

[2020-08-30 15:35] adamjstewart commented on #18397
This would be fairly easy to do automatically. In the long run, I would like to add a `pypi` variable similar to `url` that knows what to do. See #17587 and #2718 for related work.

[2020-08-31 03:26] DraTeots opened #18401 "dev-build ignores environment settings"
In order to create a build environment for a package with exact packet versions (especially things like CERN ROOT) I create an environment with

[code]

Here 'ejana' depends on others and others depend on root and each other and having them all of one version is important. So ```concretization: together``` works well and does the job of getting consistent versions of packages during install.

If s

[2020-08-31 07:07] tmadlener commented on #18338
Hi @scheibelp, I get the same stack trace as above.

[2020-08-31 07:53] ketsubouchi opened #18409 "Installation issue: r-boot"
### Steps to reproduce the issue

[code]

Build of `r-boot%fj` on 2020 Aug has a checksum error.
This version added to spack at 31 Aug 2019. Please see https://github.com/spack/spack/commit/661a894c85f451a4ef868abcc9871653914361bd
According to our log, same build succeeded on 2019 Oct.

https://cloud.r-project.org/src/contrib/boot_1.3-23.tar.gz seems to be changed between these attempts.
We found

[2020-08-31 08:56] alalazo commented on #18338
Am I correct that Spack v0.15.X should not be affected by this issue, since the change in `packages.yaml` is only in `develop` at the moment?

[2020-08-31 09:38] alalazo commented on #18401
@becker33 FYI

[2020-08-31 11:07] alalazo commented on #17987
Closing this after https://github.com/spack/spack/issues/17987#issuecomment-680235510 Anybody who disagrees, let me know if you want this reopened.

[2020-08-31 11:07] #17987 closed, assigned to nobody

[2020-08-31 14:05] tmadlener commented on #18338
Yes, at least for me checking out `0.15.4` (and reverting the changes in the `packages.yaml` config file) allows me to activate and deactivate environments again. Also concretizing environments seems to work again.

[2020-08-31 14:06] albestro opened #18419 "Strange concretization error "Invalid Version range" due to slack version specification of the external dependency"
I noticed a strange behavior with version ranges. After some troubleshooting (thanks @haampie), we found the root reason in my configuration, but I think it is worth mentioning what happened.

What happened is that due to my `packages.yaml` configuration having a "superficially" described version (i.e. `python@3`), the package `weechat` containing the directive `depends_on("python@3.5:")` caused

[2020-08-31 14:18] xdelaruelle opened #18420 "Installation issue: environment-modules 4.5.2"
### Steps to reproduce the issue

[code]

### Additional information

I will not provide spack build logs, as issue comes from the `environment-modules` package and it has already been reported on Modules project (see cea-hpc/modules#354).

On version 4.5.2 of environment-modules, the `configure` script is a bit too strict and does not accept anymore options like `--disable-dependency-tracking` wh

[2020-08-31 14:45] EthanS94 commented on #18192
@omor1 I haven't tried that, but I'll give it a shot. Thanks!

[2020-08-31 15:32] bvanessen commented on #18338
I guess to be precise, I was using head of develop, not the explicit 0.15.4 release.

Brian C. Van Essen
vanessen1@llnl.gov
(w) 925-422-9300
(c) 925-290-5470

[2020-08-31 15:38] adamjstewart commented on #18419
This is a known limitation of the concretizer. If you add an external package, you should specify the exact version (3.8.5), not just 3. This should hopefully be fixed by @tgamblin's experimental concretizer.

[2020-08-31 15:39] adamjstewart commented on #18409
Thanks for digging into this! Checksum changes are tricky security issues, but luckily you were able to find a cache of the old checksum and confirm that the changes were trivial. In this case, it's fine to open a PR to change the checksum.

[2020-08-31 15:43] #18420 closed, assigned to nobody

[2020-08-31 15:50] #18419 closed, assigned to nobody

[2020-08-31 15:50] alalazo commented on #18357
This is by design, so I am not really sure why you report it as a bug. Say you want to have an external `cmake`:
[code]
When you install that spec, `/qz6wvej` will also be "installed" meaning it will have an entry in the DB that clearly marks it as an external (so that specs can refer to it as a dependency, and Spack will be able to keep track of that):
[code]
What is the part of this workflow tha

[2020-08-31 16:02] glennpj opened #18423 "The `spack external` command does not honor scopes"
The `spack external find` command does not honor scope. The expectation is this would be at least comparable to `spack compiler find`, which takes a `--scope` argument.

### Steps to reproduce the issue

[code]
Using `--config-scope` does not work either, writing packages.yaml to my home directory.
[code]

### Information on your system

[code]

### Additional information

- [x] I have run `spack

[2020-08-31 16:43] ojamond commented on #18357
Ok, I didn't know the '-p' option of spack find...

It is just that it has been a little disturbing for me and some users of the software I am working on, for instance for openmpi: when building our software using cmake, a spack's environment file (spack.yaml) is generated at configure time, and all the 3rd parties are built by spack within this environment. But openmpi (as cmake) is declared as e

[2020-08-31 17:52] alalazo commented on #18357
Just to be sure I understand correctly: your `CMakeLists.txt` generates a `spack.yaml` so that CMake can use Spack to build the dependencies?

That could be indeed a nice suggestion. The same might apply to `spack spec -I`.

[2020-08-31 18:54] alalazo commented on #17677
For the record, I am on `develop` and situation is similar but worse on my system:
* **Spack:** 0.15.4-773-f4a37b2dc
* **Python:** 3.6.9
* **Platform:** linux-ubuntu18.04-broadwell

and this is what I see:
[code]
Will try to work on a fix asap.

[2020-08-31 19:45] scheibelp commented on #18049
@becker33 I'm curious about your thoughts on this:

For matrices that expand to anonymous specs, the check added in https://github.com/spack/spack/pull/16893 will fail; the fix added at https://github.com/FairRootGroup/spack/commit/5668256776fb07b0ac88c9f65fc8832fac5d1c60 addresses that, although I'm curious if you think there would be an advantage to this vs. holding off on variant substitution u

[2020-08-31 20:35] michaelkarlcoleman commented on #18371
Upstream release (8.4) is broken, and that's the default version chosen by this recipe.  If you install `elmerfem@devel` the compile succeeds.  (That pulls from the `devel` branch, though, of course.)

https://github.com/ElmerCSC/elmerfem/issues/237

This could be patched in Spack, or conceivably `devel` could be made the default version.  Not sure what's best.

[2020-08-31 23:05] mrmundt opened #18430 "Environment variables are not substituted in configuration files"
### Steps to reproduce the issue
I have created a `repos.yaml` file with the lines:
[code]
I have set the environment variable on the command line (`export UNIQUE_REPO='/path/to/repo/with/repo.yaml'`), activate my environment, and then run `spack install` in my Spack environment.
### Error Message

[code]
The repository does exist in the UNIQUE_REPO path - and was created using `spack create --rep

[2020-09-01 01:38] #15246 closed

[2020-09-01 01:43] darmac opened #18433 "How to get a patch from website?"
We want to introduce a patch from here for `cvs`:
https://gitweb.gentoo.org/repo/gentoo.git/tree/dev-vcs/cvs/files/cvs-1.12.13.1-fix-gnulib-SEGV-vasnprintf.patch

But when we using `patch()` function with above url, we can get a html file only.
So, what should I do to get the real patch file url?

Thanks for your kindly guidance.

[2020-09-01 02:31] scheibelp commented on #18338
@tmadlener does removing spaces after module file names and/or enclosing config file values in quotes resolve the issue as mentioned at https://github.com/spack/spack/pull/18368#issuecomment-683580919?

If not, would you be able to post your config file?

@alalazo mentioned being able to fix this issue in the next day so I am assigning him.

[2020-09-01 02:35] bvanessen commented on #18338
FYI, removing the space after the module file names solved my issues.

Brian C. Van Essen
vanessen1@llnl.gov
(w) 925-422-9300
(c) 925-290-5470

[2020-09-01 03:04] ketsubouchi commented on #18409
Thank you for response.
We were lucky in this case, but what should we do if we are not lucky?
(we found checksum mismatch and could not find "old" archive to verify)
Which is better in view of security?

1. Create issue and discuss
2. Open a PR

[2020-09-01 03:44] tkameyama commented on #18433
May be https://gentoofan.org/gentoo/poly-c_overlay/dev-vcs/cvs/files/cvs-1.12.13.1-fix-gnulib-SEGV-vasnprintf.patch

[2020-09-01 03:51] darmac commented on #18433
Yes, thanks, so how can we get the url
[code]

from

[code]

Just by manully check?

[2020-09-01 03:53] #18228 closed, assigned to nobody

[2020-09-01 04:14] tkameyama commented on #18433
I search cvs-1.12.13.1-fix-gnulib-SEGV-vasnprintf.patch by google.

[2020-09-01 06:18] darmac commented on #18433
Got it, I thought there's a method to transfer the url...

[2020-09-01 06:18] #18433 closed, assigned to nobody

[2020-09-01 08:18] alalazo commented on #18338
Trying to debug this simple environment:
[code]
which exhibits the same behavior as reported in the description. It seems that doing:
[code]
we read the environment 4 times and we rewrite the `spack.yaml` (so  I think there's a regression on #13546).

[2020-09-01 08:22] tmadlener commented on #18338
For me activation errors only occur when I am trying to activate a preexisting environment. Creating one from scratch using the exact same yaml file I used for the original one seems to work just fine.

However, interestingly enough, concretizing the newly created environment yields different hashes for some of the packages. I would have naively have expected that these are stable between spack ve

[2020-09-01 08:37] alalazo opened #18438 "Environment manifests are rewritten unexpectedly by Spack"
If I create a new `spack.yaml` in a folder and concretize it, Spack writes default values into it unexpectedly.

### Steps to reproduce the issue
Use this simple `spack.yaml`:
[code]
If we concretize it we can notice that the `spack.yaml` changed on disk:
[code]

### Error Message
No error message, but a regression on #12313 which was solved by #13546. The `spack.yaml` file is rewritten only if **

[2020-09-01 08:48] alalazo commented on #18438
Seen while debugging #18338

[2020-09-01 08:57] alalazo commented on #18338
There are further issues reproducible with the environment posted above:
[code]
On a failed command the previously existing lockfile is deleted from disk.

[2020-09-01 09:35] alalazo opened #18439 "SpecList has instances of mutable types as default __init__ arguments"
While debugging #18338 I stepped on this definition:

https://github.com/spack/spack/blob/3701633937a80c56ce212cd77c82c082f705e7ad/lib/spack/spack/spec_list.py#L26-L30

that might cause unwanted interactions between different instances of `SpecList` if they use defaults for `reference` (and is difficult to read if default for `yaml_list` is used). This issue is a reminder to refactor this part of

[2020-09-01 11:24] alalazo opened #18441 "Existing lockfile not preserved on write error"
While debugging #18338 I noticed that if an error occurs during the write operation of an environment, any `spack.lock` existing before the command might be removed by Spack.

### Steps to reproduce the issue
Use the following:
[code]
which triggers #18338. The first concretization works:
[code]
The second attempt at the same command fails and removes `spack.lock` from disk:
[code]

### Error Mess

[2020-09-01 12:49] alalazo commented on #18338
I think I have a full diagnosis. The issue is particularly difficult to trace, since in memory there's no sign of newlines for the `modules` attribute. In fact one can stop and debug and see the following:
[code]
for both the case where we have a lockfile and where we don't. Anyhow, when we compute the `build_hash` of a spec we pass through the YAML representation of the spec, exactly at this line

[2020-09-01 14:43] ilbiondo opened #18444 "Installation issue: gcc+nvptx"
### Steps to reproduce the issue

There seems to be a problem building gcc with nvptx support due to a recent change in the CUDA package.

[code]

### Information on your system

$ spack debug report
* **Spack:** 0.15.4
* **Python:** 3.6.8
* **Platform:** linux-centos7-skylake_avx512

### Additional information

This looks to be due to the following commit which excludes the stubs directory from t

[2020-09-01 15:08] haampie commented on #18444
Notice there was this PR recently too, which removed another instance of `libcuda.so` in favor of `libcudart.so`: https://github.com/spack/spack/pull/18000

[2020-09-01 15:18] adamjstewart commented on #18409
I usually just open a PR. If we can't find an old archive to verify, I contact the developers and ask them if they know why the checksum might have changed. As long as they don't say "oh, it looks like we got hacked, don't download that file" then it's usually fine.

@tgamblin and @citibeth have talked a lot about the security angle in the past. In the future, we would like to have some automated

[2020-09-01 15:40] sethrj commented on #18370
@ax3l My packages.yaml contains
[code]
and builds qt yaml without complaint. On my system, `/usr/X11R6` is a symlink to `../private/var/select/X11` which is a symlink to `/opt/X11`.

The concretization that worked for me:
[code]

[2020-09-01 16:54] alalazo commented on #18338
@tmadlener I think I was able to reproduce your problem with this simple environment:
[code]
and I believe this is a different issue, with a lesser impact than the one reported by @bvanessen . Based on your description above I reproduced by:
[code]
If that seems what you are experiencing, it can be solved by:
[code]

[2020-09-01 17:10] tmadlener commented on #18338
Hi @alalazo,

I think I might be experiencing yet another problem...

I am not sure if this really qualifies as the most minimal example, but this is as small as I could get it for now, while still exhibiting the original problem.

For completeness: `spack debug report` yields:
[code]

I have then used a stripped down version of my original `environment.yaml` file, which now only has these content

[2020-09-01 17:40] adamjstewart commented on #18370
That's an interesting theory. According to the docs for `ForwardQueryToPackage`, we should be accounting for this:

[code]
So it should be working. If you want, you can try renaming `libs` to `gl_libs` in the `opengl` package.

I think it's more likely that OpenGL isn't installed at all on our GitHub Actions runners, or it's installed in a different directory than the one we're using. I tried repl

[2020-09-01 17:42] haampie commented on #18444
@ilbiondo hopefully you're not on the latest cuda driver, can you test whether https://github.com/spack/spack/pull/18449 fixes your problem?

I'm running into the next issue:

[code]

[2020-09-01 17:51] adamjstewart commented on #18370
A simple test leads me to believe that our `libs` attribute should be working fine as long as OpenGL is actually installed:
[code]
This is with the following entry in `packages.yaml`:
[code]
P.S. The format of `packages.yaml` changed, but we didn't change the format of `spack config add` used by our CI. Is this the issue?

[2020-09-01 17:58] adamjstewart opened #18450 "Relocate tests fails on macOS"
When I run `spack test` on macOS, the `relocate.py` tests always fail.

### Steps to reproduce the issue

[code]

### Error Message

[code]
The problem is that these tests assume that `/usr/bin/gcc` is actually GCC. On macOS, `/usr/bin/gcc` is actually a symlink to the Apple Clang compilers, which don't accept the `--disable-new-dtags` flag. We either need to check if `/usr/bin/gcc` is actually GC

[2020-09-01 18:02] gartung commented on #18450
@alalazo

[2020-09-01 18:03] gartung commented on #18450
I can work on a fix but id is same to remove `--disable-new-dtags` from the command line?

[2020-09-01 18:08] adamjstewart commented on #18450
I tried the following patch:
[code]
but now I get a new error:
[code]

[2020-09-01 18:09] nithintsk commented on #17998
@alalazo @gartung I'm following up to see if anyone has had time to look at this?

[2020-09-01 18:11] gartung commented on #18450
Can you try https://github.com/spack/spack/pull/18451

[2020-09-01 18:12] adamjstewart commented on #18450
#18451 has a bug (need to use extend, not append). I tried something similar and got the issue reported above.

[2020-09-01 18:13] gartung commented on #18450
I think I am skipping the tests anyway
[code]

[2020-09-01 18:13] adamjstewart commented on #18450
Yeah, you need patchelf installed. I'm using a Spack-installed version.

[2020-09-01 18:14] adamjstewart commented on #18450
I tried another patch:
[code]
but now I get a new error:
[code]

[2020-09-01 18:15] gartung commented on #18450
It should just skip these tests on macOS.

[2020-09-01 18:16] adamjstewart commented on #18450
@gartung that sounds like a much easier fix

[2020-09-01 18:21] gartung commented on #18450
try this patch
[code]

[2020-09-01 18:28] gartung commented on #17998
Sorry no.

[2020-09-01 19:40] adamjstewart commented on #15366
No longer able to reproduce this issue.

[2020-09-01 19:40] #15366 closed

[2020-09-01 19:49] #18450 closed, assigned to nobody

[2020-09-01 21:51] becker33 commented on #18401
@DraTeots single installs into an environment using `concretization: together` are not possible with the current concretizer. We may need to make the same constraint on dev-builds.

I think the feature you really need is environments specifying dev builds. See https://github.com/spack/spack/pull/15256. Could you take a look at that PR and confirm whether it will satisfy your use-case?

[2020-09-01 22:00] becker33 commented on #18049
@scheibelp I think the value of an easy fix for this problem is pretty high compared to trying to optimize for something we want later, and I think that variant substitution is sufficiently "one-off" within Spack that we're unlikely to code ourselves into a corner here.

@dennisklein have you tried this out with an `exclude` clause in the outer matrix? Either way, I think we would appreciate a PR

[2020-09-01 23:51] DraTeots commented on #18401
@becker33 Oh! That is exactly what I need! (strange, I searched the issues for dev-build and didn't find it). You may definitely close the issue in favor of this PR

[2020-09-02 00:49] becker33 commented on #14176
@s-sajid-ali is this still an active issue? I haven't looked at it much but I know I have used that workflow recently without reproducing the error.

[2020-09-02 01:07] #12231 closed

[2020-09-02 01:07] #12519 closed

[2020-09-02 01:07] #15575 closed

[2020-09-02 01:07] #2235 closed

[2020-09-02 01:07] #2319 closed

[2020-09-02 01:07] #2339 closed

[2020-09-02 01:07] #2597 closed

[2020-09-02 01:07] #4920 closed

[2020-09-02 01:07] #5254 closed

[2020-09-02 01:07] #9395 closed

[2020-09-02 01:07] #2055 closed

[2020-09-02 01:07] #2085 closed

[2020-09-02 07:15] #14102 closed

[2020-09-02 07:55] ilbiondo commented on #18444
@haampie - the fix in https://github.com/spack/spack/pull/18449 seems to fix things for me - Thanks!

Adding `setup_dependent_package()` and the driver_libs looks like a clean fix to me.

[code]

then

[code]

works correctly.

Regarding your error

[code]

This is probably due to CUDA 11 dropping support for the Kepler (?) class GPUs which have compute capability 3.0 (sm_30). Using `cuda@10.2.89`

[2020-09-02 08:04] haampie commented on #18444
And can you verify it works at runtime too apart from compiling successfully? I'm asking cause GCC is using a stub library for libcuda.so to compile.

I believe I tried that yesterday, but in fact it didn't. Haven't checked out why, but it might have to do with libcuda.so just being a stub lib, and the system libcuda.so is most likely the latest version.

[2020-09-02 09:45] nilsvu opened #18460 "Installation issue: charmpp@develop: unsupported option '--destination'"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.15.4-803-370163393
* **Python:** 3.7.6
* **Platform:** darwin-catalina-skylake

### Additional information

* [spack-build-out.txt](https://github.com/spack/spack/files/5161414/spack-build-out.txt)
* [spack-build-env.txt](https://github.com/spack/spack/files/5161416/spack-build-env.txt)

### General informatio

[2020-09-02 11:18] ilbiondo commented on #18444
A simple test suggests that it works as designed:

[code]

[code]

Then selecting one and two GPUs via Slurm works::

[code]

[2020-09-02 13:10] haampie opened #18463 "Dealing with `hipcc` / AMD's clang fork"
Now that we have the `hip` package in Spack, we might see some new packages start using this compiler. I've been meaning to wrap hipMAGMA, and there's been some effort to make PyTorch support AMD GPU's too.

Packages already using `hipcc` include [rocfft](https://github.com/spack/spack/blob/develop/var/spack/repos/builtin/packages/rocfft/package.py#L37) and [rocblas](https://github.com/spack/spack

[2020-09-02 13:39] ilbiondo commented on #18444
And with a code that actually does something:

[code]

nvidia-smi agrees:

[code]

As such I'd say that all is good.

[2020-09-02 13:49] haampie commented on #18444
Nice. Final question(s): do you see how/where `libcuda.so` is actually used in your GCC? Maybe you could `grep libcuda.so` or `grep lcuda` in the spack install folder of GCC? Or is it just that it implicitly adds `-lcuda` when compiling or so? What does `readelf -d foo.x` say?

[2020-09-02 14:28] ilbiondo commented on #18444
This is where I might be making things up...

`-lcuda` is definitely present when compiling GCC itself, for example

[code]

How it's actually used is another question. Inside GCC we see:

[code]

and inside the lib directory

[code]

Which are the target specific versions of the libraries.

At compilation time some part of the target specific code is statically linked in with the executable by a

[2020-09-02 15:00] #18409 closed, assigned to nobody

[2020-09-02 15:01] s-sajid-ali commented on #14176
Fetched the latest develop and compiled a new compiler and spack added that properly (no ccahce issues as before).

PS : Was there a PR in the recent past that changed the detection logic ?

[2020-09-02 15:01] #14176 closed

[2020-09-02 15:03] #16916 closed, assigned to nobody

[2020-09-02 16:18] srya-b commented on #16478
@scheibelp this is @adamjstewart reopening this issue on behalf of my roommate @sbaks0820.

I was trying to install a package when my laptop battery died during the installation. Now, whenever I try to install the same package, I see the following error:
[code]
[code]
The file in question exists but is empty. We should handle this automatically.

This is on the latest develop branch:
* **Spack:**

[2020-09-02 17:37] scheibelp commented on #16478
Can you remove the spec with `spack uninstall -f python` and then reinstall it?

[2020-09-02 18:21] eugeneswalker commented on #17892
Same build failure with `%intel@19.1.2.254`

[2020-09-02 18:31] tkordenbrock commented on #17892
This looks like a problem with Faodel itself on CLE-7 systems.  I have created https://github.com/faodel/faodel/issues/7 to resolve it.

[2020-09-02 19:48] eugeneswalker commented on #17894
Same error with `%intel@19.1.2.254`:

[code]

[code]

[2020-09-02 20:14] adamjstewart commented on #16478
@scheibelp I'm actually having trouble reproducing this on my own machine. Do I need something other than a `spec.yaml` file to reproduce this?

[2020-09-02 20:16] eugeneswalker opened #18468 "Installation issue: unifyfs: can't detect MPI via cray-mpich"
On `NERSC Cori` (Cray 7) using `%intel@19.1.2.254` with `spack@develop` (30-Aug-2020, 665e5ce0fd75ed638b7f645bd2563aef33525e33)

`unifyfs@0.9.0` configure phase fails to find MPI when using `cray-mpich/7.7.10` loaded via module file.

config.log: [unifyfs-config.log.txt](https://github.com/spack/spack/files/5164596/unifyfs-config.log.txt)
spack-configure-args.txt: [spack-configure-args.txt](https:

[2020-09-02 20:23] alalazo commented on #16478
@adamjstewart I could reproduce with a fresh clone and `zlib`:
[code]

[2020-09-02 20:45] michaelkarlcoleman opened #18469 "nn-c uses invalid self.compiler.pic_flag? (breaks nn-c build, via elmerfem build)"
These lines fail, because there is no such member, and looking at other packages, it seems that flags like
[code]
would be appropriate.

https://github.com/spack/spack/blob/601f97d8a50b1840df9b056a34256b6dd2b54ce3/var/spack/repos/builtin/packages/nn-c/package.py#L29-L31

I triggered this on recent `devel` (today) by
[code]

[2020-09-02 20:46] #3768 closed

[2020-09-02 20:55] michaelkarlcoleman opened #18470 "f95 should be provided by gcc package?"
### Rationale

Not sure whether this makes sense or not, but I feel like I'd like to load the dependencies for a spack package, including the 'gcc' it was built with, and then go to a completely independent git checkout of the software and build it (making use of the spack libs and compiler just loaded).  This didn't quite work because `f95` is magically present in the spack build environment, but

[2020-09-02 22:06] tldahlgren opened #18471 "Clarify NoValidVersionError message"
### Rationale

There are some packages like `jdk` where the package can be automatically installed for Linux x86_64 but not macOS or aarch64. There are also some packages like `cuda` which don't define a `version(...)` at all on macOS but do on Linux x86_64, aarch64, and ppc64le.

The former example could be reformatted to look like the latter example. Or both examples could be modified by adding

[2020-09-02 23:26] #12505 closed

[2020-09-02 23:48] s-sajid-ali commented on #18460
@matthiasdiener : https://github.com/UIUC-PPL/charm/pull/2625 removed the use of `--destination` (which is only available in `buildold`). Should spack specify a dependency on `cmake@3.4.0:` for `charm++@6.10.2:` and set `CMAKE_PREFIX_PATH` instead ?

[2020-09-02 23:49] rblake-llnl opened #18474 "Installation issue: py-torchvision"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.15.4-807-44f244ace
* **Python:** 3.7.8
* **Platform:** linux-rhel7-power9le

### Additional information

@adamjstewart

Problem occurs in `py-torchvision` using `CUDAExtension`, which in turn uses this code in the `py-torch` package, in this code here: https://pytorch.org/docs/stable/_modules/torch/utils/cpp_e

[2020-09-02 23:55] matthiasdiener commented on #18460
Thanks @s-sajid-ali, I'll add the `--destination` option to the new build system.

[2020-09-03 00:52] #18474 closed, assigned to nobody

[2020-09-03 01:23] adamjstewart commented on #18469
@michaelkarlcoleman good catch, want to submit a PR to fix this? If not I can also submit a PR.

[2020-09-03 01:26] adamjstewart commented on #18470
@michaelkarlcoleman the feature you're looking for is `spack dev-build`. It automatically sets `CC` and friends to Spack's compiler wrappers, sets up all the variables needed by the compiler wrappers, and builds your software. A similar command is `spack build-env`, which sets up the environment but doesn't actually run the build commands.

[2020-09-03 01:26] #18470 closed, assigned to nobody

[2020-09-03 01:47] dzhang-b opened #18477 "spack install does not respect the `repo` and `spec` combo inside spack.yaml"
When I activate one environment, and then run `spack install`, it will only read the package file from default repo, but not the repo I defined in `spack.yaml`

### Steps to reproduce the issue

[code]

[code]

### system info
spack version 0.15.4

[2020-09-03 01:55] michaelkarlcoleman commented on #18469
Apologies, but I'm overrun right now. Thank you for jumping in. --Mike

[2020-09-03 17:47] #18375 closed, assigned to nobody

[2020-09-03 17:49] #18338 closed, assigned to alalazo

[2020-09-03 18:52] LDAmorim commented on #17934
Hi, sorry for my super late reply.
Indeed removing the fortran compilers from the clang description, allows to compile mpich (using the current *spack* repo) successfully.
So this issue can be closed, sorry for the trouble.
And thank you again for the suggestion @haampie !
Cheers,
Diana

[2020-09-03 19:46] EthanS94 opened #18488 "Py-pillow: New simd version can't be targetted in packages.yaml, doesn't automatically concretize to 7.0.0.post33"
@adamjstewart This is on MacOS with the current spack develop branch. The only way I've found to properly set the new pillow version is to explicitly use ^py-pillow-simd in the spec.

### Steps to reproduce the issue

[code]

### Additional information

- [x] I have run `spack debug report` and reported the version of Spack/Python/Platform
[code]
- [x] I have searched the issues of this repo and b

[2020-09-03 19:50] payerle opened #18489 "Installation issue: bml (missing python build dependency)"
I ran into the following issue when trying to buidl the package bml on a RHEL8 system, with
the build aborting with the error:cd /tmp/spackswinst/spack-stage/spack-stage-bml-1.3.1-4zhmbw4g3akeml4zndyaqqkdes2zi3qv/spack-build/src/Fortran-interface && /tmp/spackswinst/spack-stage/spack-stage-bml-1.3.1-4zhmbw4g3akeml4zndyaqqkdes2zi3qv/spack-src/scripts/convert-template -DMATRIX_TYPE=double_complex -D

[2020-09-03 20:43] matthiasdiener commented on #18460
The patches to Charm++ have been merged and `spack install charmpp@develop` should work again now. Can you please check @nilsleiffischer ?

[2020-09-03 20:44] michaelkarlcoleman commented on #18470
Thanks very much!

[2020-09-03 20:45] EthanS94 opened #18492 "Installation issue: py-mpi4py ^python+uuid"
@adamjstewart I run into this issue after https://github.com/spack/spack/pull/18252

### Steps to reproduce the issue

This fails:
[code]

This works:
[code]

### Information on your system

[code]

packages.yaml:
[code]

### Additional information

* [spack-build-out.txt](https://github.com/spack/spack/files/5171100/spack-build-out.txt)

### General information

- [x] I have run `spack debug repo

[2020-09-03 20:48] adamjstewart commented on #18492
@EthanS94 can you upload the build log?

@michaelkuhn can you help me debug this? I'm wondering if not all `uuid` libraries are created equal and the one we currently default to doesn't work. I know that #18322 hasn't been merged yet, but this would probably be a good test for it.

[2020-09-03 20:56] EthanS94 commented on #18492
@adamjstewart Uploaded

[2020-09-03 20:58] adamjstewart commented on #18492
Can you go into the `python` installation directory and run `ld -r` on all of the `.so` files that are generated? It looks like `libuuid` isn't being linked correctly.

[2020-09-03 21:05] EthanS94 commented on #18492
You mean `ldd -r` right? I get one error:
[code]

The rest of the output is:
[python-ldd-out.txt](https://github.com/spack/spack/files/5171137/python-ldd-out.txt)

[2020-09-03 21:09] adamjstewart commented on #18492
Based on the error message above, I wonder if another possible issue is that `/usr/lib64/libpsm_infinipath.so` is linking to the system `libuuid` and it's a different version than the one that `python` links to.

[2020-09-03 21:18] EthanS94 commented on #18492
Yes that looks correct:
[code]

[2020-09-03 21:26] adamjstewart commented on #18492
@skosukhin also volunteered to help me maintain the Python package, maybe he can help.

@tgamblin do we currently have anything in place to deal with multiple libraries appearing in the DAG? I don't think we currently have a package for infiniband to prevent this problem.

[2020-09-03 22:36] #18488 closed, assigned to adamjstewart

[2020-09-04 01:45] adamjstewart opened #18496 "fish: spack load displays warning message"
When you run `spack load` with the `fish` shell, it displays a warning message. This can also be seen in [Spack's CI tests](https://github.com/spack/spack/runs/1069407405?check_suite_focus=true).

### Steps to reproduce the issue

[code]

### Error Message

Here is the warning message from our CI tests:
[code]

### Information on your system

The warning from our CI is from Spack develop, the late

[2020-09-04 03:57] michaelkarlcoleman opened #18499 "Installation issue: opencascade fails because depends (indirectly?) on libsm"
### Steps to reproduce the issue

[code]

I added a `depends_on` of `libsm` to the `opencascade` recipe and it successfully built.  There no direct dependency, but I suspect this is actually an undeclared (possibly indirect) dependency of `tk` or `vtk` (as a guess).  Not sure how to efficiently narrow it down.

### Information on your system

* **Spack:** 0.15.4-850-6fcec1d
* **Python:** 3.7.1
* *

[2020-09-04 13:29] skosukhin commented on #18492
To my understanding, this is a typical problem with external packages: if you introduce an external package you have to declare all its dependencies as externals too. In this case, `libuuid` should be listed in `packages.yaml` too. The problem is that the library is installed to `/lib64` but the headers are most probably in `/usr/include`. Therefore, it's unclear what path should be set in `packag

[2020-09-04 13:43] skosukhin commented on #18176
We will lose Libtool files if we switch to CMake. I mean those `*.la` files in the `prefix/lib` that are implicitly used when we build dependent Libtool-based packages, e.g. NetCDF. It will also affect cases when we build a Libtool-based package outside of Spack and want to use Spack's installation of HDF5. I'm not saying that it will break things. It just might.

[2020-09-04 13:46] adamjstewart commented on #18176
@skosukhin would that problem be solved if we also switch NetCDF to CMake? At some point in the distant future we are planning to add Windows support, in which case CMake will be necessary.

[2020-09-04 13:55] skosukhin commented on #18176
I just wanted to highlight a possible side effect. It shouldn't stop anybody from switching to CMake. If we get problems with NetCDF, we will find a way to solve them.

[2020-09-04 16:14] shahzebsiddiqui commented on #18121
Hey @tgamblin any idea if this issue will be part of the next release or subsequent one, this feature can certainly save up alot of cpu cycles as our pipeline gets bigger we are just wasting jobs and queue time.

[2020-09-04 19:01] germasch commented on #18178
FWIW, I had the same error show up after upgrading spack to 0.15.4 (from 0.14.x), and `spack clean -m` fixed it for me.

[2020-09-04 19:05] kurtsansom commented on #18178
`spack clean -m` fixed the issue.

what could be added to the documentation and where would it go such that a users find this solution? I would be happy to make that contribution with some guidance.

[2020-09-04 19:17] adamjstewart commented on #18178
@scheibelp @becker33 I wonder if there's a way to check whether or not the virtual cache is out of date so that users don't have to run `spack clean -m`.

[2020-09-04 20:26] becker33 commented on #18356
It turns out this is because Cray uses `prereq` commands in EnvironmentModules v4 instead of `module load` commands to have the PrgEnv module load other modules. This causes some of Spack's internal module manipulations to fail, and is a different from the XC systems. There is an active bugfix branch for this `bugfix/shasta-hotfix-live-branch` to work out a solution.

[2020-09-04 22:22] balay opened #18520 "py-numpy: build fails when using preinstalled python [also has cython installed]"
py-numpy build fails when using preinstalled python3.

System Cython is also installed - however this build is using spack dependencies for cython.  Likely system cython is getting picked up instead of spack installed cython?

[code]
[code]

### Additional information

[spack-build-out.txt](https://github.com/spack/spack/files/5177157/spack-build-out.txt)
[spack-build-env.txt](https://github.com/s

[2020-09-04 22:33] adamjstewart commented on #18520
Hmm, I'm not sure how to prevent this. It looks like your system cython is too old to compile numpy. I'll have to see how cython is found and if there's a way to put Spack's cython first.

[2020-09-04 22:41] adamjstewart commented on #18520
If you run `spack build-env` to step into the build, what happens when you run:
[code]
My guess is that it's pointing to your system Cython instead of the Spack-installed one.

[2020-09-04 22:42] adamjstewart commented on #18520
According to https://docs.python.org/3/tutorial/modules.html#the-module-search-path, `PYTHONPATH` should be searched first.

[2020-09-05 01:21] adamjstewart opened #18521 "Faster ncurses build"
I think it might be possible to cut the build time of ncurses in half.

### Rationale

When we build ncurses, we build both `--enable-widec` and `--disable-widec`. This is needed because some packages that depend on ncurses expect `libncursesw`, while others expect `libncurses`.

### Description

I noticed that the [Homebrew](https://github.com/Homebrew/homebrew-core/blob/master/Formula/ncurses.rb

[2020-09-05 02:55] omor1 commented on #18521
Are there any packages that need _both_ regular and wide character support? This seems to my naïve eyes something that could be made a variant? There's also the `--disable_lib_suffixes` option, which may be relevant.

[2020-09-05 06:18] balay commented on #18520
[code]

Hm - so PYTHONPATH got set incorrectly for cython. [or perhaps it should be installed in lib  and not lib64?]

[2020-09-05 06:26] balay commented on #18520
[code]
So the system stuff is in lib64
However some python packages installed by spack use lib
[code]

[2020-09-05 07:18] becker33 commented on #18356
Cray has changed the way they do their PrgEnv loading (to use module collections instead of meta-modules) because of this change in behavior in `module` v4. Updates to the Cray PE should alleviate this problem (although they will require other mitigations in Spack).

[2020-09-05 08:22] alalazo commented on #18338
@tmadlener What you report in https://github.com/spack/spack/issues/18338#issuecomment-685007048 is not an issue, in the sense that Spack is working as designed. Technically we use different kind of hashes for different purposes internally in Spack. When we show hashes on the command line we usually employ the "dag hash", while to write a lock file for environments we use the "build hash" (if you'

[2020-09-05 08:46] alalazo commented on #18423
I think this was solved by @becker33 in #18165

[2020-09-05 13:07] nilsvu commented on #18460
@matthiasdiener On macOS I'm getting this compiler error:

[code]

On another linux machine I get this one:

[code]

To debug these issues in a clean environment I set up a few minimal installation examples and a Dockerfile here: https://github.com/nilsleiffischer/test-spack-charmpp. It actually shows a few other issues, that we may also want to fix. At the moment, it's stuck at finding `zlib` (se

[2020-09-05 15:22] adamjstewart commented on #18520
Thanks @balay, that explains it. I remember a similar issue where the `lib` vs `lib64` problem affected a user (#17126).

I think there are two possible solutions here:

1. Add both `lib` and `lib64` to the `PYTHONPATH`
2. Install to `lib`, not `lib64`

1 is more inline with how we treat non-Python libraries. I think 2 might be problematic for external Python installations like yours that we don't

[2020-09-05 15:33] balay commented on #18520
[code]
Perhaps one of these options - say   --install-lib  can be used consistently with all python packages so that the path used here exactly matches the one used with PYTHONPATH?

And somehow `python3.7/site-packages` is obtained by spack  to set for PYTHONPATH  so 'lib' vs 'lib64' can be similarly obtained  from installed python - and used?

`python3 setup.py  install --prefix=$HOME/cython-0.2

[2020-09-05 15:36] adamjstewart commented on #18520
The problem is that users may also add packages like `py-cython` as external packages. So we can't guarantee that they will be installed in `lib`.

We just use `'python{0}/site-packages'.format(self.version.up_to(2))`, not much magic there. There might be a way to query the `python` executable to see what it will use, but it's difficult to find those options in a consistent way across all Python v

[2020-09-05 15:36] balay commented on #18520
BTW: `lib` vs `lib64` can be similarly controlled at install time for autoconf/cmake packages. [but yeah - for pre-installed/system packages - specified in ~/.spack/packages.yaml - spack would have to check both locations]

[2020-09-05 15:47] balay commented on #18520
Always using `lib` should also be fine [as long as all spack packages are consistent]

[2020-09-05 19:27] glennpj commented on #18423
Yes, it was.

[2020-09-05 19:27] #18423 closed, assigned to alalazo

[2020-09-06 00:25] omor1 opened #18527 "Recursive dependency resolution in database search"
Certain commands (e.g. `spack find`, `spack location`) are unable to resolve installed packages when dependencies of dependencies are specified. In particular, I have several non-builtin packages: `parsec` optionally depend on an MPI implementation or on another library, `lci`, and `dplasma` depends on `parsec`.

Having installed `dplasma ^parsec transport=mpi ^openmpi` and `dplasma ^parsec transp

[2020-09-06 00:25] omor1 commented on #18527
Pinging @adamjstewart and @scheibelp as requested.

[2020-09-06 05:52] JBlaschke commented on #18369
@wortiz Yep! you're absolutely right. Thanks for bringing that to my attention.

Your solution still runs into the issue that `-h<anything>` would still get matched. #18528 Does the matching properly now.

[2020-09-06 06:02] JBlaschke commented on #18496
Strange -- I tried to recreate using:
[code]
And I get no such warning.  Not saying that it's not my fault -- I just wonder if it might be something specific to my system (or yours/the CI). That warning can be issued if fish is detecting that an incorrect (i.e. non-existent) path exists in `PATH` -- so much is clear from the warning message itself.

Here is a theory: are you running fish from with

[2020-09-06 14:11] haampie commented on #18521
Also notice that on ubuntu `libcurses.so`, `libncurses.so` and `libncursesw.so` are just linker scripts making the application link to libtinfo.so instead:

[code]

[2020-09-06 19:12] glennpj opened #18530 "public mirror always has precedence"
When adding a local mirror it does not get a higher priority than the public mirror. That causes spack to go out to the Internet too frequently. The only way that I can get it to be a higher priority is to add it to the `defaults` scope but that does not seem like the right thing to do.
### Steps to reproduce the issue

[code]
Downloads will check the public mirror first.

### Information on your

[2020-09-07 08:00] tmadlener commented on #18338
@alalazo, Thank you for clarifying this :)

[2020-09-07 10:34] yellowhat opened #18535 "Installation issue: NAMD with MPI"
Hi,
I would like to build NAMD with MPI support.

### Steps to reproduce the issue
[code]
[spack-build-out.txt](https://github.com/spack/spack/files/5182596/spack-build-out.txt)
[spack-build-env.txt](https://github.com/spack/spack/files/5182597/spack-build-env.txt)

Thanks

[2020-09-07 10:37] pattakosn opened #18536 "UnicodeEncodeError: 'ascii' codec can't encode characters in position 5-9: ordinal not in range(128)"
### Steps to reproduce the issue
[code]

### Information on your system

*Spack:** 0.15.4
*Python:** 2.7.5
*Platform:** linux-centos7-broadwell

[code]
### Additional information

* [spack-build-out.txt]()
* [spack-build-env.txt]()

@lrknox

### General information

- [x] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [x] I have run `spack maintainers <name-of-

[2020-09-07 17:59] adamjstewart commented on #18536
This looks like a Spack issue, not an hdf5 issue. Can you run `spack --debug install zlib` and post the output?

@scheibelp @tgamblin

[2020-09-07 18:54] #18439 closed, assigned to nobody

[2020-09-07 21:56] BenWibking opened #18553 "Installation issue: flang"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.15.4-879-28c6ce971
* **Python:** 3.8.2
* **Platform:** linux-ubuntu20.04-zen2

### Additional information

* [spack-build-out.txt](https://github.com/spack/spack/files/5185001/spack-build-out.txt)
* [spack-build-env.txt](https://github.com/spack/spack/files/5185006/spack-build-env.txt)

@naromero77

### Genera

[2020-09-07 22:29] BenWibking commented on #18553
It looks like this failure may be due to glibc 2.29+ including a wrapper around the `getcpu` system call: https://lwn.net/Articles/778286/

It looks like this version is not yet shipping in RHEL/CentOS, so this may have been missed in testing.  Hopefully a good argument to include the latest Ubuntu LTS release in build tests.

[2020-09-07 22:45] ikitayama opened #18554 "Incomplete py-cython build"
`py-cython` build seems to be broken at least on ThunderX2.

[code]

[2020-09-08 02:47] omor1 commented on #18527
This is a double-iteration bug in `spack.spec.Spec.satisfies_dependencies`:

[code]

For reference, this issue has existed since 8ae380fb71eefc288a532b4574cf53cec32f74e4.

[2020-09-08 07:49] mayrmt commented on #5504
I intend to use `ccache` not for caching compilations of spack-installed packages, but rather to install `ccache` via spack and then use it in my development toolchain for software, that's not packaged via spack, but just uses spack to obtain its external dependencies.

Here's my solution for `CMake` projects:
1. Install and load `ccache` via spack
2. Add `-D CMAKE_CXX_COMPILER_LAUNCHER:FILEPATH="

[2020-09-08 10:20] pattakosn commented on #18536
Hi, sure, here it is:
[code]

[2020-09-08 14:36] germasch opened #18565 "Installation issue: cabana with nvcc-wrapper"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.15.4
* **Python:** 3.7.0
* **Platform:** linux-rhel7-power9le
(this is on Summit)

### Additional information

The errors are of the kind
[code]

This happens, for all I can tell, because nvcc-wrapper isn't being used by cabana -- or other cmake-based packages that depend on kokkos. I believe the reason for th

[2020-09-08 14:49] payerle opened #18566 "Installation issue: libxsmm (missing python build dependency)"
I am encountering an error building libxsmm, apparently due to a missing python build dependency.

### Steps to reproduce the issue

spack install libxsmm@1.15%gcc@8.4.0 ~debug +generator ~header-only +shared

Results in error

The build log is more informative, with

So libxsmm seems to need python to build, but has not python build dependency in spack.

[code]

[2020-09-08 15:56] naromero77 commented on #18553
Looks like you are building with a really old version of clang, could you please try to build with a recent version of GCC (>7.5).

`spack install flang%gcc`

[2020-09-08 16:20] mpokorny opened #18570 "Improve error message when view construction fails"
Attempting to create a view that erroneously links packages with the same name into the same prefix results in a somewhat cryptic error message: `Error: the transactional move of ".../views/default" failed.` A different error message, which tells the end user directly about the conflict, or what might be done to correct the view definition, would be an improvement.

### Steps to reproduce the issu

[2020-09-08 16:41] adamjstewart commented on #18536
@mathstuf @becker33 This looks like a bug in our implicit RPATH detection for compilers. But that logic seems to use `Executable`, which was updated to prevent this bug in #5077 and #10186. I'm not sure what the issue is here.

[2020-09-08 19:43] payerle opened #18578 "Installation issue: pexsi +fortran and with openmp in dependencies"
### Steps to reproduce the issue

is failing with the error

           rye7kdl/bin/mpif90 -o f_driver_ksdft_linux f_driver_ksdft.o   /tmp/spackswinst/spack-stage/spack-stage-pexsi
           -0.10.2-dqqtnfp2u6vuwf3636bjykh3363sictk/spack-src/src/libpexsi_linux.a /software/spack-software/2020.05.14/
           linux-rhel8-ivybridge/gcc-8.4.0/superlu-dist-5.3.0-z5awrqmwa27gvmf5pcmyi74kwoprkooa/lib/

[2020-09-08 20:14] tldahlgren commented on #17891
Note:
1) `spack maintainers cray-libsci` doesn't return anything because there are no maintainers listed in the package
2) Only two individuals have worked on this package: @junghans and @becker33
3) The package's `homepage` and `url` are outdated

[2020-09-08 20:53] tldahlgren commented on #17891
Certainly, given the right information.

The warning and error each come from one place each in the code.  The first from `package.py` and the second from `mirror.py`.   So the issue would be how to determine that the package is external.

I am not familiar with this command so would have to dig into it to address the issue.

[2020-09-08 21:03] adamjstewart commented on #17891
@tldahlgren I'm just wondering if we could do something similar to what you did for packages that must be manually downloaded and print a warning message saying that this package must be vendored.

`spack external find` searches for specific executables in your `PATH`, queries the version, and adds them to the `packages.yaml`. I'm not sure if `cray-libsci` has any corresponding executable though.

[2020-09-08 21:36] tldahlgren commented on #17891
Right now the only thing I see in its package that even *hints* that it is external is the `external_prefix` property.  And it appears to be the only built-in package that has such a property.

Based on the `lustre` package's solution, it looks like this package should be raising an `InstallError`.

[2020-09-08 21:36] tldahlgren commented on #17891
According to Greg B. it does not.  But options are being discussed that could help with this eventually.

[2020-09-08 21:45] adamjstewart commented on #17891
We can always add some equivalent to what we had for manually downloaded packages.

[2020-09-08 22:01] tldahlgren commented on #17891
Very true.  And that would allow us to provide a more meaningful error earlier on in the processing.  It looks like `cray-libsci` would not be the only package to benefit from this capability either.

Perhaps something to discuss with Todd so we can raise the priority?

[2020-09-08 22:11] glennpj commented on #11695
Closing this as it is fairly old at this point.

[2020-09-08 22:11] #11695 closed

[2020-09-08 22:13] glennpj commented on #13970
Closing this due to inactivity. I worked around this in a deployment script and it seems to not be a problem anymore with intel 19.1.2

[2020-09-08 22:13] #13970 closed

[2020-09-08 22:16] glennpj commented on #14334
Closing this as it is quite old, and perhaps not as relevant when using `spack gc`.

[2020-09-08 22:16] #14334 closed

[2020-09-08 22:17] glennpj commented on #14335
This seems to no longer be an issue.

[2020-09-08 22:17] #14335 closed

[2020-09-08 22:18] glennpj commented on #14336
Closing this as I work around this with a deployment script and there seems to be no interest in changing behavior.

[2020-09-08 22:18] #14336 closed

[2020-09-08 22:22] #17891 closed, assigned to alalazo, adamjstewart

[2020-09-08 22:59] omor1 commented on #18527
This is arguably also an issue in how Spack deals with dependencies, wherein they can be ordered differently depending on how they are specified:
[code]

Order of dependencies for the first `mpileaks` will be `openmpi libfabric` while in the latter will be `libfabric openmpi` (among others not listed). Fixing the sorting probably breaks existing installs in some fashion though...

[2020-09-08 23:30] becker33 commented on #17891
The `external_prefix` method is because the prefix to the cray-libsci package cannot be determined from the module by the normal methods, Cray has all sorts of internal structure in that directory. Other packages can implement that method if they need fancy ways to determine the prefix from the module contents.

[2020-09-08 23:56] LDAmorim commented on #17934
Hi,
Sorry I ended up reopening this issue.
But I think I might need to use the fortran compilers after all, when I try to install `adios2`.
The issue I get, using the workaround of `spack install mpich~fortran` is:
[code]
Is there any alternative or way to fix this `mpich` issue?

I attach here the files of the spack build error in case they help.

[spack-build-env.txt](https://github.com/spack/sp

[2020-09-09 01:08] BenWibking commented on #18553
I don't know why the build log reports Clang 7, which I don't even have installed. I'm actually building with gcc by default:

[code]

[2020-09-09 01:11] scheibelp commented on #17934
I'm not sure how to quickly modify Spack to add `-fallow-argument-mismatch` to `FFLAGS` for a hybrid compiler identifying as Clang other than the method mentioned in the PR description. I don't think this would be good long-term though, since the need is based on the Fortran compiler vs. what the compiler identifies as.

We plan to add compilers as dependencies, which will include finer-grained la

[2020-09-09 01:12] BenWibking commented on #18553
Explicitly adding %gcc to the spec gives the same error:

[code]

[2020-09-09 01:28] bollig opened #18583 "relion fails without TBB"
Due to 'else:' condition leading to this branch, builds of relion without TBB (i.e., without Intel compiler) will fail to build.

https://github.com/spack/spack/blob/2f4d49374400366e238d3bac80b380d8446f46d9/var/spack/repos/builtin/packages/relion/package.py#L76

This should be something along the lines of:
[code]
...
[code]

[2020-09-09 01:45] bollig commented on #18583
Looks like when FORCE_OWN_TBB=ON the build fails due to a bad hash (see https://github.com/3dem/relion/issues/594).

Better solution is to:

[code]

[2020-09-09 01:45] bollig commented on #18583
[code]

[2020-09-09 01:59] #18566 closed, assigned to nobody

[2020-09-09 02:52] LDAmorim commented on #17934
Hi @scheibelp ! Thank you for your reply.
I think your last suggestion makes a lot of sense to me.
I will try to use the changes you might make (sorry, I am probably not gonna be able to implement anything on my own quickly) and test it and let you know how it goes.

[2020-09-09 04:14] ikitayama commented on #18554
This is resolved.

[2020-09-09 04:14] #18554 closed, assigned to nobody

[2020-09-09 08:25] #18469 closed, assigned to nobody

[2020-09-09 08:33] alalazo commented on #18471
There's also this issue which is related and discusses a solution which might be doable with the current concretizer: https://github.com/spack/spack/issues/11206

[2020-09-09 11:48] mabraham commented on #18239
Fix is merged and will be included in 2020.4

[2020-09-09 14:05] anne-glerum commented on #17811
@adamjstewart Actually, no. I got past this error (so this issue can be closed), but ran into dependency issues that I cannot recall any more. But I ended up installing dealii with candi, which was successful. Thanks for the help!

[2020-09-09 14:53] adamjstewart commented on #17811
Thanks @anne-glerum, if you ever encounter other issues with Spack feel free to open a new issue!

[2020-09-09 14:53] #17811 closed, assigned to nobody

[2020-09-09 15:15] naromero77 commented on #18553
First, give the master branch a try:
spack install flang@master%gcc

Its common for these compilers to break with the newest releases on Linux. This is not a bug in Spack Flang package, but in Flang itself. If the master branch does not work, please file a github issue here:
https://github.com/flang-compiler/flang

Sorry that I can't be of more help.

[2020-09-09 16:01] shahzebsiddiqui opened #18588 "Show unique hash during spack concretize"
I would like to see unique hash during spack concretize, this should show all packages installed, whereas current `spack concretize` will show duplicate hash for package if it's a dependency in other partial dags.

### Rationale

It is hard to pinpoint a package is built once or multiple times, i have several package section with `buildable: false` it is hard to analyze `spack concretize` to see a

[2020-09-09 16:26] ax3l opened #18589 "Installation issue: py-pillow-simd and py-pillow"
### Steps to reproduce the issue

[code]

### Information on your system

* Ubuntu 18.04.5 LTS on x86_64
* gcc-8.4.0
* **Spack:** 0.15.4-922-fa04ad5d9
* **Python:** 3.6.9
* **Platform:** linux-ubuntu18.04-skylake

### Additional information

py-pillow-simd:
* [spack-build-out.txt](https://github.com/spack/spack/files/5196558/spack-build-out.txt)
* [spack-build-env.txt](https://github.com/spack/spa

[2020-09-09 16:52] adamjstewart commented on #18589
I don't have an immediate idea as to what the issue is here. Some things you can try:

* Build in serial with `spack install -j1`. I recently added parallel building to this package
* Check the `setup.py` file, we filter some of the include/library directories in there
* Check the `setup.cfg` file, we tell it which submodules to build in there
* Try other versions of Python

If you don't have any

[2020-09-09 17:05] tgamblin commented on #14097
Closed by #18367.

[2020-09-09 17:05] #14097 closed

[2020-09-09 17:12] scheibelp commented on #18554
Hello @ikitayama, was this resolved by https://github.com/spack/spack/pull/18572? It looked like there was still a problem there (at https://github.com/spack/spack/pull/18572#issuecomment-689310500).

Or if you fixed it yourself could you mention how you did that?

[2020-09-09 22:22] ikitayama commented on #18554
I closed because the issue can be discussed in #18572.

[2020-09-09 23:13] LDAmorim opened #18598 "Installation issue: adios2%gcc on macOS"
Hi,

The package maintainers are:
@ax3l
@chuckatkins
@williamfgc

Sorry for bothering you all with this.

But I am stuck with this issue (description below), when trying to install `adios2` with `cmake-3.18.2`, `gcc-10.2.0` and `mpich-3.3.2`.

I don't remember if this was already solved.

Using `spack edit adios2` so looking into the `packages` file I can see that the `FFLAGS` include `fallow-argu

[2020-09-09 23:39] LDAmorim commented on #18598
I get the same error with `openmpi`.

[2020-09-10 01:57] BenWibking commented on #18553
Ah, ok. Compiling with the master branch works! Thanks.

[2020-09-10 04:34] williamfgc commented on #18598
Thanks @LDAmorim, seems like an issue between adios2 and gcc10. I reported this in adios2.

[2020-09-10 04:35] LDAmorim commented on #18598
Thank you @williamfgc !

[2020-09-10 04:51] ax3l commented on #18598
Offline discussed: it might be that the system is a bit mixed with GCC and AppleClang.

For macOS, due to various dependencies only testing AppleClang, we probably need to stay with that and try to fix issues occurring with it. During the last months and reporting issues to various larger OSS projects, I am not too optimistic about building Spack stacks with GCC in general on macOS, at least as of

[2020-09-10 10:13] Joe23232 opened #18605 "Few questions regarding Spack"
I have a few questions regarding `spack`

1. Does it support various flags that the portage package manager supports, for example USE flags and all the other flags? In other words is `spack` just as powerful as the portage package manager?
2. Can I install applications in the root area where normal package managers (such as `pacman`) does for various applications such as `firefox`?
3. If question

[2020-09-10 10:47] dev-zero commented on #16409
Well, gcc-4.8 compiler support is being phased out, see also https://www.cp2k.org/dev:compiler_support

[2020-09-10 11:24] dev-zero commented on #15285
Latest CP2K is also failing due to missing unicode support in the locale when building with a Python < 3.7 (later versions of Python have an implicit `open(..., encoding='utf-8')`).

@michaelkuhn this workaround works. Unfortunately `C.UTF-8` may not be available on older Centos/RHEL, where `en_US.UTF-8` should be used instead.

The easiest solution would probably be to change Spacks default to `C

[2020-09-10 11:25] dev-zero commented on #18029
yes, will add to my next PR for updating CP2K

[2020-09-10 11:40] Rihas commented on #13555
hi There this works for me.
spack install visit ^python+shared ^glib@2.56.3 ^py-setuptools@44.1.0

[2020-09-10 13:18] mo7ammedmostafa opened #18606 "Installation issue: package (e.g. fgsl) using intel compiler"
There seems to be a problem building some packages ( not all packages )  using the intel compiler.
Some packages compile fine without an issue ( for example packages such as zlib, openssl, and cmake  gives no issue ) but others give linking problem.
As an example to reproduce the problem I use fgsl package which produced an error as we see here.
[code]
now when I try installing a package that invo

[2020-09-10 14:43] mathstuf commented on #18536
Looks like something in a path or the like has non-ascii characters? @pattakosn are any paths with non-ascii characters around your spack usage?

[2020-09-10 15:00] #18029 closed, assigned to nobody

[2020-09-10 15:01] #18369 closed, assigned to nobody

[2020-09-10 15:06] adamjstewart commented on #18606
Can you try:
[code]
and see if that allows you to build? I agree, this sounds like the same issue as #17100.

[2020-09-10 17:33] eugeneswalker opened #18610 "Installation issue: hpctoolkit on RHEL 7"
`hpctoolkit@2020.08.03` isn't building on `RHEL 7` for `x86_64` with `%gcc@8.1.0`

Spack version is `spack@develop` (114317464b578ec9dde5cb4d96b2a114cb0909be, 10-Sep-2020)

Concrete spec: [hpctoolkit-l73vyj.yml.txt](https://github.com/spack/spack/files/5203665/hpctoolkit-l73vyj.yml.txt)
Build log: [hpctoolkit-build-out.txt](https://github.com/spack/spack/files/5203673/hpctoolkit-build-out.txt)

[c

[2020-09-10 18:09] mwkrentel commented on #18610
@eugeneswalker I'm happy to see that someone uses our tools, but in
this case, I think you're making a classic mistake.

What is in your `compilers.yaml` file?

I think you'll find that you're missing a `modules:` entry for gcc
8.1.0.  Without that, spack doesn't load the gcc module and so the
build can't find `libstdc++`.  The failure to find `libstdc++` is a
classic sign that this is the problem

[2020-09-10 18:18] tgamblin commented on #18605
Packages can have [variants](https://spack.readthedocs.io/en/latest/packaging_guide.html#variants), and you can control them with [package preferences](https://spack.readthedocs.io/en/latest/build_settings.html#concretization-preferences), which is roughly equivalent and potentially finer-grained than USE flags.

No, Spack packages have to *install* in separate prefixes.  You can create an environ

[2020-09-10 18:43] #18605 closed, assigned to nobody

[2020-09-10 19:10] eugeneswalker commented on #18610
GCC 8.1.0 is not loaded via module file in my environment. And I've used GCC 8.1.0 to build ~230 other packages, without any obvious errors, so I don't think this is an issue of compilers.yaml needing an entry for the module file.

What stands out to me is that it is looking for `libstdc++.la` here:
[code]

when it should be looking for it here:
[code]

Notice the differing hashes after `gcc-8.1.0

[2020-09-10 21:51] mwkrentel commented on #18610
Well, clearly hpctoolkit configure isn't going to just up and change
the hash for no reason.  There must be something in the spack config
that's using the other hash.

Is it possible that you have two installs for gcc 8.1.0?

What does `spack compiler info gcc` report?

[2020-09-10 23:16] ikitayama opened #18613 "CUDA: nsys gets stuck during the profile"
@ax3l , on ThunderX2 the Spack built `cuda` provide nsys, but it does not process `nsys profile a.out` ie goes infinite loop.

[2020-09-11 00:06] amaji commented on #17877
Having same issue with `m4%intel@19.1.2.254` on CentOS7.
Commenting out `--no-gcc` didn't work for me, but gave a different error:
[code]

[2020-09-11 00:12] adamjstewart commented on #18613
@ax3l @svenevs

[2020-09-11 00:22] ikitayama commented on #18613
While admin installed manually CUDA Toolkit 11.x works fine.

[2020-09-11 00:40] Joe23232 commented on #18605
I see, thanks man.

[2020-09-11 01:21] white238 opened #18617 "create mirror does not update tarballs of git branch versions"
I have a shared team location for a spack mirror.  I ran into a problem last night when I noticed our axom@develop mirrored tarball had not been updated since May.  This is especially bad considering there is no way to notice this until a new feature or bug fix is needed from a dependency you track via a git branch.

### Steps to reproduce the issue

[code]

### Workaround

[code]

[2020-09-11 04:30] tgamblin commented on #18605
Let us know if you have more questions!

[2020-09-11 06:52] Joe23232 commented on #18605
@tgamblin Thank you mate

May I suggest something for `spack`? I wanted to suggest to have an option to allow users to install an application in the root area and it installs it in the same manner as `pacman`.

[2020-09-11 07:26] tgamblin commented on #18605
@Joe23232: we likely won't do this, at least not unless it is through environments as I mentioned above (we could make it safer to point an environment at `/`).

The reason is that if we made packages actually *install* to the root, we would only be able to have one version of any particular package.  This is one of the limitations of system package managers that Spack is designed to get around.

[2020-09-11 07:35] Joe23232 commented on #18605
If I were to use something like KISS Linux, I would like to use `Spack` package manager to update the entire OS rather than using the built in package manager as you can't use USE and CFlags.

[2020-09-11 09:17] mo7ammedmostafa commented on #18606
`$ spack install --dirty fgsl%intel`

Using  `--dirty` option installation was a success.
[code]
I tried using  `--dirty` option to install other packages, such as  openmpi%intel and mpich%intel, which also failed before due to similar reasons ( mostly failing during configure stage with an error a long the lines of "fortran solver failed to compile a real program" )
They all succeeded without a p

[2020-09-11 14:35] joshessman-llnl opened #18624 "Failure of module command is not checked"
### Steps to reproduce the issue
Run `spack dev-build` using a Python version that does not match the system Python version

### Error Message

[code]

### Information on your system

* **Spack:** 0.15.4-613-ccf94de
* **Python:** 3.7.2
* **Platform:** linux-rhel7-broadwell

### Additional information

- [x] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [x] I h

[2020-09-11 14:55] williamfgc commented on #18598
@ax3l @LDAmorim I tagged you in the adios2 repo issue. Since this is coming from one of the optional engines, you could try building with the `~dataman` variant in the meantime. Hope it helps.

[2020-09-11 15:13] amaji opened #18625 "hdf5@1.8.21 fails to build with gcc@10.2"
[code]
Build error:
[code]

Has anyone else seen this?

[2020-09-11 15:32] amaji commented on #18625
This is happening with `hdf@[1.8.15:1.8.21] %gcc@10.2.0`. So, probably an artifact of gcc@10.

Things are fine with `gcc@9.3.0`.

[2020-09-11 16:00] LDAmorim commented on #18598
Thank you @williamfgc ! I will try it asap.

[2020-09-11 17:56] LDAmorim commented on #18598
Running ```spack install adios2%gcc~dataman``` works, thank you very much for this workaround!

[2020-09-11 17:56] LDAmorim commented on #18598
Do you want me to close this issue? Or leave it open until I can test other fixes?

[2020-09-11 17:57] #18441 closed, assigned to nobody

[2020-09-11 17:59] williamfgc commented on #18598
@LDAmorim feel free to close this issue as this is propagating from upstream, that issue should still be open. Glad to hear it worked!

[2020-09-11 18:01] #18598 closed, assigned to nobody

[2020-09-11 19:36] naromero77 commented on #18553
Your welcome.

Since this is fixed in the master branch, I would consider this issue closed.

[2020-09-11 19:43] adamjstewart opened #18642 "macOS nightly build tests are failing"
Our macOS nightly build tests are failing for jupyter because `qt` can't find its `opengl` dependency even though we are adding it as an external package. We should either fix this, or switch to another package like `jupyterlab` which doesn't depend on `opengl`.

@ax3l do you have time to take a look at this?

[2020-09-11 21:01] adamjstewart commented on #18625
@lrknox

[2020-09-11 23:45] #17992 closed, assigned to nobody

[2020-09-12 02:08] #18553 closed, assigned to nobody

[2020-09-13 12:25] tomgreen66 opened #18656 "Installation issue: quantum-espresso"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.15.4
* **Python:** 3.6.10
* **Platform:** cray-sles15-thunderx2

[code]

### Additional information

* [spack-build-out.txt](https://github.com/spack/spack/files/5214061/spack-build-out.txt)
* [spack-build-env.txt](https://github.com/spack/spack/files/5214062/spack-build-env.txt)

@naromero77
### General infor

[2020-09-13 16:10] zhiyuanzhai opened #18658 "Installation issue: openblas build failed"
### Steps to reproduce the issue

[code]
Error messages are shown [here](https://pastebin.com/raw/qeaiaPHe).

### Information on your system

* **Spack:** 0.15.4-947-1aceb38b8
* **Python:** 3.8.5
* **Platform:** darwin-macos-skylake
* **Version:** 11.0 beta Big Sur

* `packages.yaml` [here](https://pastebin.com/raw/qt26tVqZ)

### Additional information

* [spack-build-out.txt](https://github.com/s

[2020-09-13 22:22] tomgreen66 commented on #18656
It didnt help that I have a version of FFTW3 in default library search path `/usr/lib64` that I dont want to use and makes trying to use the `configure` FFT search routine look there before version specified using `LIBDIRS` at configure stage.  I think I have got round this by using the `MANUAL_DFLAGS` option to set `-D__FFTW3` at the make stage with `make('all', 'MANUAL_DFLAGS=-D__FFTW3')` in the

[2020-09-14 04:20] zhiyuanzhai opened #18660 "Installation issue: Perl failed to recognize macOS Big Sur at step ‘configure’"
### Steps to reproduce the issue

[code]

This problem is basically due to Apple's bumping the version number to 11.0. It is actually resolved by this [PR](https://github.com/Perl/perl5/pull/17946). I believe that we just have to copy what they did.

### Information on your system

* **Spack:** 0.15.4-947-1aceb38b8
* **Python:** 3.8.5
* **Platform:** darwin-macos-skylake

### Additional informatio

[2020-09-14 14:59] adamjstewart commented on #18660
Want to submit a PR? Basically you would just add that patch and apply it to whatever versions work.

[2020-09-14 15:18] payerle commented on #17993
Sorry, I just realized I had ability to make pull requests for docs, so added my proposed doc change.

[2020-09-14 16:01] payerle opened #18664 "Installation issue: qbox (installation paths, python shebang and deps)"
### Steps to reproduce the issue
The command
[code]
succeeds, and puts content in the installation directory, but there are some issues:

1) Almost everything is installed immediately below the installation prefix for the package.  The qbox website implies that the python/gnuplot scripts should be in the utils subdir, and there are a number of broken symlinks (e.g. qbdriver/H_HSCV_PBE-1.0.xml whic

[2020-09-14 16:09] naromero77 commented on #18656
The FFT search in QE's Automake often finds libraries in the system path and there doesn't seem to be an easy way to override this. Can you clarify which machine you are using Spack on? There are not too many Arm-based Cray out there.

[2020-09-14 16:37] adamjstewart commented on #18589
@ax3l did any of those suggestions help in diagnosing the issue?

[2020-09-14 16:59] quellyn opened #18667 "Spack-generated modulefiles may exceed line-length limits for tcl"
We use Spack environments on a variety of platforms. Recently I encountered the following error while trying to load a particular Spack-built modulefile:

[code]

The issue seems to be a single long line (8234 characters) in the modulefile -- a comment containing the package configuration options:
[code]

If I break up this huge line into two separate comments, then the module file loads without a

[2020-09-14 19:40] tomgreen66 commented on #18656
Hi, thanks for taking a look.  We are investigating Spack for the Isambard system in the UK, which also will be having the A64fx processor soon so good to get any help possible!  Just happened to choose Quantum Espresso due to a researcher request.

[2020-09-15 01:33] ewquon commented on #17877
Having the same issue installing `m4@1.4.18` with `intel@20.0.2` on CentOS7. Commenting out `--no-gcc` also did not work for me and produces the same error as @amaji .

[2020-09-15 07:18] haampie commented on #17934
@scheibelp I'm not sure how your comment is related to the above issue, but I might be missing something.

@LDAmorim: If your package is using `find_package(MPI REQUIRED)`, it should just work as long as Fortran is not enabled as a language, and it does not explicitly list Fortran in the components. See https://github.com/Kitware/CMake/blob/master/Modules/FindMPI.cmake#L1400-L1414. Otherwise somet

[2020-09-15 07:24] scheibelp commented on #17934
The issue description (https://github.com/spack/spack/issues/17934#issue-675174917) refers to https://github.com/spack/spack/issues/16913 which is fixed by adding `-fallow-argument-mismatch` and mentions that the same solution works here.

The problem is deciding when to add `-fallow-argument-mismatch`: we know it works here but Spack doesn't provide a good mechanism for deciding when to do this w

[2020-09-15 08:02] ikitayama opened #18674 "Installation issue: py-setuptools"
[code]

[2020-09-15 08:02] ikitayama commented on #18674
The log:

[code]

[2020-09-15 08:08] haampie commented on #17934
Ah ok, but @LDAmorim is using clang for everything, not GCC 10 (from the logs).

In that case it should be fine if you just don't use Fortran compilers, and glancing over the cmakelists.txt of adios2, they only enable Fortran as a language when you request that explicitly. So `spack install adios2 %clang ~fortran ^mpich ~fortran` should be OK I guess.

[2020-09-15 14:54] #18664 closed, assigned to nobody

[2020-09-15 15:01] adamjstewart commented on #18674
It looks like you're using an externally installed Python 3.6.8 installed in `/usr`. What I think is going on is that for some reason Spack is picking up a Python 2 installation in `/usr` instead and trying to use that to install the latest version of `py-setuptools`, which only supports Python 3.

Can you check in `/usr/bin` and confirm that `python3.6` is available? Is there also a `python2` in

[2020-09-15 15:06] LDAmorim commented on #17934
Thanks @scheibelp and @haampie !
It does work when I remove `fortran`.
Sorry for the confusion.

[2020-09-15 15:38] eugeneswalker opened #18677 "pipelines: ci rebuild: env activated via `-e` switch not inherited by subprocess"
When `spack ci rebuild` is invoked like `spack -e <path> ci rebuild`, then the subprocess launched to handle installation of dependencies from build cache is launched without awareness of the environment specified by `<path>`.

One important effect here is that if you set `mirrors:` in your `spack.yaml`, and then in your child jobs run `spack -e <path-to-env> ci rebuild`, you won't be able to inst

[2020-09-15 16:01] eugeneswalker commented on #18610
The issue here has to do with the paths specified in the libtool control files for certain dependencies of `hpctoolkit`. If the dependencies were built in an environment where `listdc++.la` was at a different location than the environment where the dependencies are ultimately installed, it causes this problem when building hpctoolkit. So this is really a problem with how the relocations are done w

[2020-09-15 16:02] #18610 closed, assigned to nobody

[2020-09-15 16:15] scottwittenburg commented on #18677
Thanks for reporting this @eugeneswalker, I'll take a look when I get a chance.

In the meantime, and for others who end up here, you can make it work by explicitly activating your environment before you invoke the ci rebuild command.

[code]

[2020-09-15 17:41] naromero77 commented on #18656
Thanks for reporting the problem. If its not super urgent, I will take a look at it after Oct. 1. I have a ton of deadlines right now due to the end of U.S. fiscal year (end of this month).

[2020-09-15 19:17] jcbowden commented on #10329
I had a similar problem on Linux (Debian 10) and it was fixed by changing of the format of the library version:
On my system:
[code]

[2020-09-15 21:11] tomgreen66 commented on #18656
No problem - happy with my temporary fix. Also seems to be an issue with 6.6 and ELPA where the patches for ELPA do not work due to QEF/q-e@918a61c276dd7306915ed5af0546774db069327b.  Have some new patches if interested.   Can create a new issue.

[2020-09-15 21:23] naromero77 commented on #18656
Issues with QE's autoconf are best resolved by submitting an issue on their gitlab here:
https://gitlab.com/QEF/q-e/-/wikis/Quantum-Espresso-test-suite

Once there is an official fix in QE develop, we can apply the git commit as a patch to 6.6 from within Spack.

Same thing with the Arm problem -- I think it would also be desirable go get the QE developer's to fix this issue for us and then we can

[2020-09-15 21:25] ikitayama commented on #18674
On the Fugaku login node, `python2` is a symbolic link to python2.7. There's no Python 3.6.8 in `/usr/bin`.

[2020-09-15 21:28] adamjstewart commented on #18674
In that case I think you need to update your `packages.yaml` to use the correct version of Python or the correct installation prefix of Python 3. Spack thinks that `/usr/bin/python` is Python 3.6.8, which is why it's crashing.

[2020-09-15 21:29] ikitayama commented on #18674
Nope it's 2.7.5.

[2020-09-15 21:31] adamjstewart commented on #18674
Maybe update your `packages.yaml` to `2.7.5`. Unfortunately you'll have to specify which versions of `py-setuptools` and other packages support Python 2 because the concretizer is currently broken. Alternatively, don't use an external package and let Spack build Python 3.

[2020-09-15 21:32] ikitayama commented on #18674
I'm doing it right now; is there a Spac command to remove the entry from packages.yaml?

[2020-09-15 21:32] ikitayama commented on #18674
Or better validat all the packages written in packages.yaml.

[2020-09-15 21:32] ax3l commented on #18642
Yes, that's #18370. Let's see what the progress on that one is.

[2020-09-15 21:34] adamjstewart commented on #18674
There is no command to validate, since it can be arbitrary external packages which aren't in the `PATH`. You should be able to remove with `spack config remove packages:...:...`. Or you can add the correct version with `spack external find python`.

[2020-09-15 21:35] adamjstewart commented on #18642
I new it existed but couldn't find the issue, thanks.

[2020-09-15 21:35] #18642 closed, assigned to nobody

[2020-09-15 21:38] adamjstewart commented on #18370
I tried debugging this on GitHub Actions but was having trouble viewing the output. It didn't seem like `spack external find opengl` was working, so maybe OpenGL isn't actually installed on their macOS machines? If that's the case, we may want to switch from `py-jupyter` to `py-jupyterlab` or `py-notebook`, which don't have that `qt` dependency that takes forever to build and relies on `opengl`.

[2020-09-15 21:41] adamjstewart commented on #18370
Trying to build `qt` on my macOS with an external OpenGL to confirm that this is an issue with GitHub Actions, not with qt/opengl/libs on virtual dependencies.

[2020-09-15 21:41] ax3l commented on #18370
Yes, looks like potentially the GH runner for macOS removed OpenGL from its image recently? Let's see if we can pull this in via [brew](https://formulae.brew.sh/formula/glfw): #18684

[2020-09-15 21:59] ikitayama commented on #18674
I did `spack install python@3.8.5` on the login node and did `spack external find`:

[code]

Now the package of interest `jube` builds fine.
Many thanks to @adamjstewart for guding me through to the perfect solution!

[2020-09-15 22:01] adamjstewart commented on #18674
If you're building Python with Spack, there's no reason to add it as an external package.

[2020-09-15 22:03] #18674 closed, assigned to nobody

[2020-09-15 22:26] ax3l commented on #18370
Oh, overlooked this:

Maybe all we need is
`-`

`+`

or so?

[2020-09-16 04:40] ax3l commented on #18589
Thank you for the help!
- `spack install -j1 ...`: nope for both packages (but TIL! :+1: )
- `setup.py|cfg`: hm, cannot spot...

Finally had some time to dig into this more thoroughly.
Looking into the pil source code, they define their float macros in an `Imaging.h` file inside `libImaging/`.

Well... my system's Python 3.6 has that file as well:
[code]
And I recently ran a `spack externals find`

[2020-09-16 04:49] h-murai commented on #12628
I also see a similar problem of openfoam with 0.15.1. What status this issue is in?

[2020-09-16 09:03] dev-zero commented on #4635
I believe I found a similar case with the following `packages.yaml`

[code]

and running :

[code]

Note: `spfft` is a dependency of `sirius`, both of them depend on CMake.

But when trying to concretize `spfft` alone it works:

[code]

as does it without `package.yaml` and having installed CMake with `spack install cmake@3.10.21`:

[code]

[2020-09-16 11:39] haampie opened #18689 "`spack load` often interferes with system executables by setting LD_LIBRARY_PATH"
I'm opening this issue since this popped up twice on Slack in a short time, and I've had the same issue too.

If you're on older OS, it is very likely that running `spack load [any package]` will break system executables like `git`, `lua` and others (or at least generate warnings). The problem is spack modifies `LD_LIBRARY_PATH` when running `spack load ...`, and system executables will now start

[2020-09-16 12:12] tomgreen66 commented on #18656
Its an interesting one since we force it to use an FFT library by setting environment variables but need to tell it somehow to use the FFTW3 interface by setting the DFLAG.  It looks like the instructions suggest editing the makefile afterwards to make sure the DFLAGS are correct.  I assume we can use any FFT library so its up to the user to tell it.  Might still raise it with quantum espresso git

[2020-09-16 13:11] pattakosn commented on #18536
I do not know which paths you would like me to check. Which paths are you refering to?

[2020-09-16 15:21] nrichart opened #18692 "Environment with package depending on scalapack and concretized with `intel-mkl`"
I managed to create an environment that cannot be installed.
The problems seems to come from the `build_system` intel when a package depends en scalapack in en environment. The `spec_root` spec is not pointing to the proper spec and the blacs library cannot be determine since `spec_root` is not the proper spec depending on `mpi`

### Steps to reproduce the issue

[code]

If you do the add in the o

[2020-09-16 15:27] adamjstewart commented on #18589
That's odd. Does your system's Python 3.6 also have PIL installed? I don't think Python itself comes with an `Imaging.h` file, at least the Spack-installed 3.7 and 3.8's I have don't.

Yes, that seems like the solution. It's a shame `include_dirs` is added before all other includes instead of after. We can either hack the source code or find another way to inject includes (CPATH maybe?).

I've bee

[2020-09-16 15:29] adamjstewart commented on #18589
Just saw your PR. Let's say what the Pillow devs say. If they like that solution, we can add your patch.

[2020-09-16 15:36] adamjstewart commented on #18689
I see where you're coming from, and we've had several users raise this issue in the past: #3955 (@hartzell)

At the same time, a lot of Python packages don't support RPATH, and can't be used unless their dependencies are in `(DY)?LD_LIBRARY_PATH`. I'm not sure what the best strategy is here, but let's move this conversation to #3955.

Closing as a duplicate.

[2020-09-16 15:36] #18689 closed, assigned to nobody

[2020-09-16 15:42] eugeneswalker opened #18694 "binary relocation: libtool control files: hardcoded paths to libstdc++.la are ploblematic"
Libtool control files can contain hardcoded paths to `libstdc++.la`. This can break builds when packages that contain these hardcoded paths get cached in a build cache, and are then subsequently installed into a target environment where `libstdc++.la` is not in the same location.

For instance, if I build the dependencies of `hpctoolkit` in an environment where `libstdc++.la` is at
[code]

Then th

[2020-09-16 15:44] xdelaruelle commented on #18667
This issue seems related to environment-modules@3.2 and not Tcl itself. [A line length limit is set](https://github.com/cea-hpc/modules/blob/c-3.2/modules_def.h#L448) to read each modulefile line.

For the record, this issue does not affect environment-modules 4.0 and newer versions.

[2020-09-16 15:49] haampie commented on #3955
Since https://github.com/spack/spack/issues/18689 was closed as a duplicate, let me add the tl;dr here:

In the last two weeks two people reported issues on Slack where `spack load` broke system executables as a result of spack paths in LD_LIBRARY_PATH.

In particular: `spack load cmake` causes system `git` to fail on CentOS 8, because openssl gets pirated.

Another instance is where my terminal/s

[2020-09-16 16:02] adamjstewart commented on #3955
Just to add another point to this, many Python packages don't support RPATH, and won't work unless `(DY)?LD_LIBRARY_PATH` is set.

[2020-09-16 16:12] rblake-llnl opened #18695 "Installation issue: util-linux"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.15.4-1005-0d5c06567
* **Python:** 3.6.9
* **Platform:** linux-ubuntu18.04-ivybridge

### Additional information

* [spack-build-out.txt](https://github.com/spack/spack/files/5233443/spack-build-out.txt)
* [spack-build-env.txt](https://github.com/spack/spack/files/5233446/spack-build-env.txt)

### General infor

[2020-09-16 16:14] quellyn commented on #18667
That makes more sense; thank you for confirming that.

That's good news for the future. Much of our HPC infrastructure is still RHEL/CentOS 7 based and I'm not confident I can convince them to adopt a newer version of environment-modules at this time. Since Spack builds its modulefiles, I was hoping there might be a way to tell it to suppress the inclusion of comments.

[2020-09-16 16:15] haampie commented on #3955
Does Python maybe have a dedicated env variable for search paths it dlopens?

If not, how about adding a prop `export_search_paths = false` to PackageBase, and set it to `true` for `PythonPackage`? Then `spack load` would only have to add paths to `(DY)LD_LIBRARY_PATH` whenever `export_search_paths` is true.

[2020-09-16 16:21] rblake-llnl opened #18697 "Installation issue: cryptsetup"
### Steps to reproduce the issue

Requires  #18696 to get to this point.

[code]

### Information on your system

* **Spack:** 0.15.4-1005-0d5c06567
* **Python:** 3.6.9
* **Platform:** linux-ubuntu18.04-ivybridge

### Additional information

* [spack-build-out.txt](https://github.com/spack/spack/files/5233487/spack-build-out.txt)
* [spack-build-env.txt](https://github.com/spack/spack/files/5233490

[2020-09-16 16:21] naromero77 commented on #18656
The way they do FFT detection is a bit problematic in the context of Spack. What I should probably request from the QE developers is a simple flag to just override their own FFT detection and pass in the correct include line for the headers and the correct link line (both of which Spack can provide). Spack is basically its own meta build system at this point :)

[2020-09-16 16:30] rblake-llnl opened #18698 "lustre: Needs `spack external find` support"
Someone needs to add spack external find support to lustre

### Rationale

Lustre is a dependency for some packages, but it /cannot/ be installed.  The current help text says that you need to modify your .yaml files manually.

With `spack external find` we don't need to do this anymore.

### General information

- [X] I have run `spack --version` and reported the version of Spack: 0.15.4-1006-e5cc

[2020-09-16 16:46] adamjstewart commented on #3955
Not that I know of, just `(DY)?LD_LIBRARY_PATH`.

[2020-09-16 21:30] #18698 closed, assigned to nobody

[2020-09-17 01:04] ax3l commented on #18370
@adamjstewart what is the new `spack config add` syntax actually for this array-argument? Tried around but could not pass it properly for `spec` and `prefix`.

[2020-09-17 01:12] ax3l commented on #18589
Yes, that's the thing. A good ol' something-in-debian/ubuntu version of it. Sorry, did only summarize that in the PIL PR yesterday, glad you saw it in the links.

Oh no, looks like something for the checklist with the new concretizer, @tgamblin.

[2020-09-17 03:11] adamjstewart commented on #18370
No idea. I think @becker33  wrote the syntax and @alalazo  changed the packages format.

[2020-09-17 05:15] shuds13 commented on #2594
@scheibelp @becker33 @balay

Following discussion with @scheibelp at the recent Spack telecon, I would like to register an interest in variant propagation from the perspective of the xSDK metapackage. I am also making an effort to establish some [common variant names/types for xSDK packages](https://github.com/xsdk-project/xsdk-community-policies/blob/python-updates/installation_policies/xSDK_spac

[2020-09-17 10:31] dev-zero commented on #4635
ok, it seems that my issue is already represented in #7288 (slightly different from the original issue reported here)

[2020-09-17 20:42] scottwittenburg commented on #14233
@opadron This bears a striking resemblance to what you were just showing me with the `opengl` package, I think.  While external packages are currently supported in pipelines, it may be that this kind of "no-source, no-version, external-only" package is not included.

[2020-09-18 08:51] ketsubouchi opened #18733 "ocaml package manager and spack"
### Description
We are trying to build ocaml based software CCA/EBT(https://github.com/ebt-hpc/cca) in Spack.
CCA/EBT needs `ocamlfind` to build.
https://opam.ocaml.org/packages/ocamlfind/
`ocamlfind` works same as `pip`. `ocamlfind` must be installed in `ocaml` directory and
`ocamlfind` make library files under `ocaml`.
This behavior seems to conflict Spack management system.
Should we import `oc

[2020-09-18 09:49] alalazo commented on #18694
Confirmed that from a clean checkout of Spack :
[code]
and inspecting the file:
[code]
one can find hard-coded compiler paths. Creating a tarball and relocating to a different place has the effects reported in the issue. For the records, the version I am currently using is:

* **Spack:** 0.15.4-1022-80fe51046
* **Python:** 3.6.9
* **Platform:** linux-ubuntu18.04-broadwell