[2019-08-07 20:28] adamjstewart opened #12313 "spack concretize reorganizes spack.yaml"
The way Spack Environments were explained to me was that if you maintained a project on GitHub, you could add a `spack.yaml` file to your repo that lists its dependencies. Then you could clone the project, cd into the directory, and run `spack install` or `spack concretize; spack install` to install all of its dependencies. However, `spack concretize` appears to modify `spack.yaml`, a file which i

[2019-08-07 21:25] adamjstewart commented on #12304
Doesn't this imply that `libiconv` should be a direct dependency of `hdf5`? Does this problem only occur with OpenMPI or does it also occur with `~mpi` or other MPI providers? Maybe OpenMPI wasn't rpathed to `libinconv` during installation, so `LD_LIBRARY_PATH` needs to be set to use it.

[2019-08-07 21:30] bartlettroscoe commented on #12304
@adamjstewart,

As was explained in #12143, `RPATH` and `LD_LIBRARY_PATH` only impact runtime behavior of the binaries, they don't have any impact in linking.  If `-l<some-lib>` is passed into the link line, the linker needs to be be able to find that library by searching the passing in `-L<path>` paths or the standard system paths (as last resort).  So there are some bad `-liconv` listings in som

[2019-08-07 21:43] #12298 closed

[2019-08-07 21:55] citibeth commented on #12313
I agree, this is not nice.  Actually, I maintain a Spack fork on GitHub,
and the environments I use are maintained as `spack.yaml` files within it.

On Wed, Aug 7, 2019 at 4:28 PM Adam J. Stewart <notifications@github.com>
wrote:

[2019-08-08 01:13] bartlettroscoe commented on #12235
@laubry, Spack is already building binutils@2.31.1.  Why does the 'openblas' package not have dependence on 'binutils'?

[2019-08-08 01:17] bartlettroscoe commented on #12304
FYI: Building of the 'parallel-netcdf' package also has build errors not finding `-liconv` and `-lnuma`.  I was able to hack it to get it to work with:

[code]

For the life of me I can't get `ldflags` to work with spack.  I am going to need to find a way to hack around `ldflags` support in spack not working.

[2019-08-08 02:52] bartlettroscoe commented on #311
CC: @fryeguy52, @becker33

Any chance this will get fixed or spack will add an option to make spack do this?

For SNL ATDM we are needing to break up the building of the compiler, the "tools" packages, MPI, and the TPL packages into four separate `spack install` commands and spack is rebuilding the same package with different hashes several times but otherwise there are no differences that I can s

[2019-08-08 04:29] qobilidop opened #12322 "Installation issue: grackle"
Installing grackle on a Mac would fail. I figured out the reason but need help deciding the best solution.

### Steps to reproduce the issue

[code]

### Platform and user environment

Please report your OS here:
[code]

### Additional information

The issue is that on Mac `glibtool` should be used instead of `libtool` as noted in the [grackle installation doc](https://grackle.readthedocs.io/en/gr

[2019-08-08 08:17] laubry commented on #12235
@bartlettroscoe From what I understand, gcc is looking for gas on the PATH, unless you compile it explicitly with binutils.

It's possible the build will succeed if you add a depends_on("binutils") in openblas.
Openblas shouldn't depend on binutils, I bet it will compile fine with intel compiler or llvm.

The real problem is that "gcc -mavx2" will tell the build system that you  can compile avx2 i

[2019-08-08 08:22] laubry commented on #12235
@bartlettroscoe Since you built binutils, does adding the module in your compilers.yaml fix the build ?
ie:
[code]

[2019-08-08 08:50] alalazo commented on #12313
I stumbled on that too, and was about to open an issue. I don't think Spack should modify `spack.yaml` when producing `spack.lock`. It's a very weird use case to:
- Write manually your `spack.yaml`
- Concretize and produce `spack.lock`
- Find out that `spack.yaml` has been rewritten and new attributes have been added to it

[2019-08-08 11:56] bartlettroscoe commented on #12235
@laubry, thanks for the suggestion.  The problem is that we are building 'openblas' in the same `spack install` command as we are building `binutils`.  So do you think it is worth trying hacking `openblas/package.py` to add a call to `depends_on('binutils')`?

[2019-08-08 12:04] laubry commented on #12235
@bartlettroscoe It should work.

Make sure you do depends_on('binutils', type='build'), or you'll drag a runtime dependency.

[2019-08-08 12:08] bartlettroscoe commented on #12235
@laubry, what is the difference between a 'build' dependency and a regular dependency?  There is no mention of the `type` argument at all for `depends_on()` in:

* https://spack.readthedocs.io/en/latest/tutorial_packaging.html

And what would a runtime dependency even mean for a library like 'openblas'?  It has no executbles (or at least none that we would care about).

[2019-08-08 12:18] laubry commented on #12235
@bartlettroscoe It is explained in the packaging guide :
[https://spack.readthedocs.io/en/latest/packaging_guide.html#depends-on](https://spack.readthedocs.io/en/latest/packaging_guide.html#depends-on)

As you say, openblas doesn't need binutils at runtime, but I think that by default, the type for depends_on is type=("build", "link", "run")

Also, I'm not sure (maybe a dev can confirm), I think t

[2019-08-08 12:22] laubry commented on #12235
@bartlettroscoe I should have read the link I gave you all the way... It's all explained :

the default type is ('build', 'link'), but you should really use build only.

[2019-08-08 13:13] citibeth opened #12323 "Spurious Error Installing into Environment w/ View"
I have a Spack environment (with view).  I did the command:
[code]
It came back to me with:
[code]
Yes, I have a bunch of R stuff in the environment.  But why is it trying to deactivate / reactive R things when all I did was add `py-tables`?

[2019-08-08 13:45] bartlettroscoe commented on #12235
@laubry, the last thing I am worried about at this point is having to rebuild packages if dependencies change.  We have rebuilt these packages from scratch at least 100 times in the last 6 months trying to get all of this to work.

[2019-08-08 14:07] chuckatkins commented on #12045
Would it then be appropriate to add a conflict?
[code]

[2019-08-08 15:07] adamjstewart commented on #12323
I had this same problem. When I tried to deactivate the package, it told me it wasn't activated to begin with.

[2019-08-08 17:29] scheibelp commented on #12313
Ultimately we decided `spack.yaml` could be modified by Spack. For example that `spack add` can add specs. Would it be annoying to maintain a separate copy (e.g. if you want to regenerate the environment from scratch)? We could also add options to copy the `spack.yaml` file and manage it separately.

Overall I can generally agree that this may not be desirable, but if @citibeth @adamjstewart @alal

[2019-08-08 17:53] mamelara opened #12331 "Spack reports multiple keys for gpg v2.2 even though only one was created"
During the hackathon multiple people ran into an issue with gpg 2.2 because of the difference in output with `gpg --list-secret-keys --with-colons --fingerprint`. @opadron  was able to figure out that this was due to a difference in output from the different versions of gpg.

### Steps to reproduce the issue

[code]
[code]

As you can see in gpg version 2.2 both public and private keys are include

[2019-08-08 17:54] becker33 commented on #311
@bartlettroscoe this is dependent on a rewrite of the concretization algorithm that Todd is currently working on. @fryeguy52 can tell you about the demo @tgamblin gave at the workshop this week. It's not fully functional yet, but it appears to be coming along well.

[2019-08-08 17:54] scheibelp commented on #12323
I can look at this by tomorrow (8/9) or possibly later today.

@adamjstewart did you have this issue with `py-tables` specifically, or with some other Python extension (and your error message mentioned an R package)?

@citibeth could you add the output after rerunning with `-d --stacktrace` (like `spack -d --stacktrace install py-tables`)?

[2019-08-08 17:56] scheibelp commented on #12306
Hi @obreitwi does https://github.com/spack/spack/pull/12317 resolve the issue for you?

[2019-08-08 18:05] mamelara opened #12332 "spack find for an upstream installation?"
It would be nice to have the ability to run a `spack find` to an upstream install_tree of Spack.

### Rationale
With our current pipeline, we have no way of knowing what our pipeline installed and with which dependencies. We would like the ability to point spack to a `spack-db` and be able to see what is installed there. Sometimes we need to see which dependency got linked with our package in case

[2019-08-08 18:20] mpbelhorn commented on #12284
I recommend using gcc/4.8.5 to install perl and python dependencies rather than XL. What we currently do in `/sw/summit/.swci` is have two spack instances: `0-core` and `1-compute`. We use `0-core` to install non-link and runtime dependencies like perl and python which are then marked as "external" packages in the `1-compute`spack instance's `etc/spack/packages.yaml` configuration file.

You'll al

[2019-08-08 18:29] danlipsa commented on #12284
Thanks for the advice @mpbelhorn. Indeed I succeeded compiling paraview using gcc (I used gcc@7.4.0) and spectrum-mpi. I just used xl because it was the default compiler setup (besides gcc 4.8.5) as I logged in.

I had to load the module for the compiler - learned that the hard way by filing a bug report and having @chuckatkins suggest the right solution.

[2019-08-08 18:44] chuckatkins commented on #12284
The optimal way to use ParaView interactively in an HPC environment is with no X at all and rely on off-screen rendering via either OSMesa on the CPU or EGL on the GPUs (egl in spack is currently being worked on but there's a lot of plumbing to figure out).  You then use the ParaView GUI on a local machine and connect to backend pvserver processes running on the compute nodes.  There's also the no

[2019-08-08 18:49] jennfshr opened #12337 "Feature Request: Create Mirror for Environment"
Need the ability to generate a mirror for an entire environment in support of supplying a package mirror to non-internet connected systems at LANL

[2019-08-08 18:56] mpbelhorn commented on #12284
@chuckatkins I agree on all points.

That's what I was probing about. We've had folks interested in running interactive viz jobs on Summit which is generally a waste of resources and I wanted to make sure that was not the intention. Non-interactive batch jobs and linked-library use cases are the exceptions to the general recommendation to use GCC and Rhea.

[2019-08-08 19:15] adamjstewart commented on #12313
My use case is as follows. I have a GitHub repo for a research project I'm working on. This project depends on several Python and C libraries that I would like to install with Spack. I check a `spack.yaml` file into my Git repo and then I can clone and `spack install` and go. The issue with Spack modifying `spack.yaml` is that it is often under version control.

Yes, commands like `spack compiler

[2019-08-08 19:17] adamjstewart commented on #12323
@scheibelp My error had nothing to do with R packages, it was Python packages that I had already installed. Basically, I installed a set of packages in my environment, one of them crashed, I reconcretized and tried to install again, and it complained that `py-numpy` couldn't be deactivated because `py-scikit-learn` depended on it (both of these were packages I was trying to install). So they weren

[2019-08-08 19:48] alalazo commented on #12313
@scheibelp Commands like `spack add` are meant to modify `spack.yaml`, so it's absolutely fine to do it. What is unexpected is that `spack concretize` and `spack install`, that are meant to take `spack.yaml` as input, end up overwriting it.

[2019-08-08 20:30] adamjstewart opened #12340 "How to handle Python certificates"
### Issue

I'm trying to use a Spack-installed Python package (`py-earthengine-api`) but I found that Spack's Python package doesn't install any certificates:
[code]

### Solution

Is there a way we can get Spack's `python` package to automatically install certificates so that `ssl` actually works? I once had to do something similar for the `mercurial` package, where I added `py-certifi` as a depe

[2019-08-08 20:53] adamjstewart commented on #12340
Hmm, I may have overreacted. I didn't want to build Python with an obsolete `openssl` so I used a module on the system. Unfortunately, this module is woefully out-of-date. I tried getting the Blue Waters admins to update it but they refused. Let me try rebuilding Python with Spack's openssl package.

[2019-08-08 21:33] adamjstewart commented on #3690
@alalazo @scheibelp I think this issue is still present, although in another form. While in a Spack Environment, I tried uninstalling one of the packages that was added as an external package, and got the following error:
[code]
Then, I ran `despactivate` and once out of Spack Environments, I tried again, only to see this old issue rear its ugly head:
[code]

[2019-08-08 22:04] nmsriram commented on #9904
Did you find a solution to this issue?  I'm seeing it as well on Mojave.

[2019-08-08 22:08] becker33 commented on #12304
@bartlettroscoe several points:

1. LD_LIBRARY_PATH is searched (after `-L` flags) at link time.
2. `spack install hdf5 ldflags="-L/path/to/iconv"` should install hdf5 and all of its dependencies with `-L/path/to/iconv` added to every link line. You are correct that it shouldn't cause any problems for packages that don't depend on libiconv.
3. @adamjstewart's point about OpenMPI is a good one. If

[2019-08-08 22:08] goxberry opened #12343 "Installation issue: hunspell: autoreconf uses 'libtoolize' instead of 'glibtoolize' on macOS 10.14.6"
### Steps to reproduce the issue

[code]

### Platform and user environment

Please report your OS here:
[code]
and, if relevant, post or attach:

- `packages.yaml`:

[code]

### Additional information

I'm fairly confident the issue here is due to https://github.com/spack/spack/blob/3bd854f991305abaa54d8b7f4ab804aac80ae7b4/lib/spack/spack/build_systems/autotools.py#L196, which seems to call `libt

[2019-08-08 22:20] bartlettroscoe commented on #12304
I am not sure what is injecting `-liconv` and `-lnuma` on the link line.  It is very hard to figure that out.  All I know is that something is adding them without the associated `-L<dir>` arguments so they can be found.

I am pulling it in as the included file `packages_mpi_for_tpls_build.yaml` with contents:

[code]

Would pulling this in as a module avoid the need to manually set `ldflags="-L<di

[2019-08-08 22:46] bartlettroscoe commented on #12304
FYI: Turns out you can **not** apply those `-L<dir>` flags globally.  If you do, you get a 'superlu-dist' package failure:

[code]

So now I am having to use the spec:

[code]

This is quite a tap dance we are having to do here to allow using an externally built MPI.

Why have other people net seen problems like this?  Is everyone just allowing spack to build MPI along with the packages?  But we c

[2019-08-08 22:49] becker33 commented on #12304
What error message do you get for building `openmpi@1.10.1 %clang@5.0.1`? That's a bug in its own right, there's no reason that shouldn't build properly.

[2019-08-08 22:54] bartlettroscoe commented on #12304
[code]

But in any case, the SPARC and Sierra projects at SNL use gcc@4.9.3 to build openmpi@1.10.1 (not with spack obviously) and then use that to build packages with clang@5.0.1.  Therefore, we should be able to do that with Spack too.  Spack should be able to match the builds that people are already succeeding with.  We should not force people to build openmpi with clang if they want to build i

[2019-08-08 23:11] adamjstewart commented on #12340
Yep, installing my own `openssl` and linking Python to that solved the issue!

[2019-08-08 23:11] #12340 closed

[2019-08-09 00:46] #11980 closed

[2019-08-09 01:18] scheibelp commented on #12323
Can you also include your `spack.yaml`?

[2019-08-09 02:56] adamjstewart commented on #12323
My `spack.yaml`:
[code]

[2019-08-09 14:52] citibeth commented on #12323
I'm sorry, the workplace where I encountered the problem is not one from which I can share details freely, I've already shared what I can about this problem.  Suffice it to say, Spack has made it beyond academic / government HPC computing!

[2019-08-09 15:26] hongjianweng opened #12355 "Issue with spack on Tianhe-2 supercomputer in China"
When I try to use spack to install netcdf on our own servers and Tianhe-2 supercomputer, it shows that the servers cannot resolve  Spack mirrors. I think it may be because of the network of servers. I also contacted with the engineer of Tianhe-2, he told me that they directly install library instead of using spack which is not very useful because of the complexity of supercomputer cluster.

The er

[2019-08-09 17:16] citibeth commented on #12313
My use case is similar to @adamjstewart's.  In my case, I maintain a fork of Spack, and I put my environments in that fork as `spack.yaml` files:

https://github.com/citibeth/spack/tree/efischer/giss2/var/spack/environments

When I want to build the environment (from scratch), I do something like:
[code]

Obviously, automatically overwriting files under version control is a bad idea.  When combine

[2019-08-09 17:49] tgamblin commented on #12313
This misses the point.  We want spack environments to be usable via the command line, yes, and there are commands like `spack add` and `spack remove` that need to add things to lists in the file.  I think their changes should be minimal as well (which is why we used ruamel to modify the file instead of `pyyaml`).

However, this issue is about `spack concretize` and `spack install` which shouldn't

[2019-08-09 17:49] tgamblin commented on #12313
Oh looks like @alalazo already said the same thing 😄

[2019-08-09 17:52] citibeth commented on #12313
To put in in a wider context, `spack edit` edits `package.py` files.  But
that doesn't mean that Spack can auto-edit those files whenever it feels
like it.

[2019-08-09 18:45] adamjstewart commented on #2632
Either the error message has changed, or I've encountered a new situation in which this bug can occur. I have a package containing:
[code]
When I run:
[code]
The only workaround I've found so far is to explicitly declare your Python version:
[code]

[2019-08-09 19:07] scheibelp commented on #2632
@adamjstewart I think https://github.com/spack/spack/issues/2632#issuecomment-520024556 should be a new issue (I think this is a different type of issue than what is reported elsewhere in this thread):

I would characterize https://github.com/spack/spack/issues/2632#issuecomment-520024556 as a bug rather than feature request because while we can run into problems with merging constraints with diff

[2019-08-09 20:05] ax3l commented on #12355
Hi @hongjianweng,

from similar reports, it looks like your internet access on that machine is routed to some kind of proxy. Maybe correspond with your local sysadmin to set the proxy for `curl` (`$HOME/.curlrc`) and `git` (`$HOME/.gitconfig`) properly? It's looking very much like a general network issue.

[2019-08-09 22:12] scheibelp commented on #12313
I appreciate the responses and I think they clarify a few things:

* https://github.com/spack/spack/issues/12313#issuecomment-519651718 is ok with *some* automatic edits to `spack.yaml` but not hardcoded paths etc. which are totally wrong for version control
* https://github.com/spack/spack/issues/12313#issuecomment-519996564 appears to be totally against all modifications to `spack.yaml` that are

[2019-08-09 22:32] mathomp4 commented on #9904
I just tried `gcc@9.1.0` a week or so ago and I got the same error I have before. I'm hoping when 9.2.0 is released next week (so I've heard) maybe things will change?

[2019-08-09 22:32] goxberry commented on #12343
@adamjstewart @tgamblin @alalazo I keep running into this issue with any Autotools package I try to install from source that doesn't override the `autoreconf` method with the trivial implementation above. Is there any chance one of you could review #12344?

[2019-08-10 04:12] tgamblin commented on #12313
@scheibelp: I think we really want both of these.  I think it's worth making issues for them.

[2019-08-10 15:54] sethrj commented on #9904
For what it's worth, I tried installing a GCC toolchain on my mac several months ago. Getting GCC to install correctly is only the first of your headaches, I promise you. Many spack packages (or the software they're installing) -- especially if they involve linking against system frameworks -- fail to build with GCC.

[2019-08-10 16:09] sethrj opened #12380 "Clang always references system gcc, even if being built with spack gcc"
### Steps to reproduce the issue

Even when building LLVM with a spack-installed GCC compiler, Clang includes the system GCC installation in its search paths:

[code]

This is the source of a problem that took a long time to debug, wherein a code that's compiled using both Clang (built using GCC 8.2) for C++ and Gfortran (the same GCC 8.2) can link against both the system-provided `libgfortran` an

[2019-08-11 01:13] goxberry opened #12383 "Installation issue: pango: build cannot detect glib without libffi"
### Steps to reproduce the issue

[code]

### Platform and user environment

I'm running macOS 10.14.6.

and, if relevant, post or attach:

- `packages.yaml`:
[code]

[2019-08-11 17:40] #12380 closed

[2019-08-11 20:00] #12268 closed

[2019-08-12 20:45] #11325 closed

[2019-08-13 00:33] Sinan81 opened #12398 "installation issue: Bazel doesn't build beyond 0.17.2"
I am currently trying to build latest tensorflow 1.x version for which  Bazel v0.24.1 is needed.  As shown below, Bazel won't build beyond 1.17.2

I tried commenting out a few patches that might be irrelavent for newer versions: fix_env_handling-0.17.2.patch, link.patch, and unix_cc_configure-0.17.2.patch but then I am getting different build errors.

### Steps to reproduce the issue

[code]

###

[2019-08-13 05:52] jcftang commented on #12398
I suspect your system of patch may have issues on lustre or other networked filesystems where it fails to patch 'read only' files, try adding a depends_on("patch") in the bazel build and see if that helps?

[2019-08-13 10:19] obreitwi commented on #12306
Hi, yes, the issue is resolved by #12317 - thank you very much!

[2019-08-13 10:19] #12306 closed

[2019-08-13 14:22] loikki commented on #12322
Hi,

I agree that this is strange to have a condition on it, I think that we can safely remove the condition. Anyway the libtool dependency is one of the most common one (I am pretty sure that you need it to build HDF5 or MPI), therefore we will not really impact anyone by fully adding it.

[2019-08-13 14:37] rmsds opened #12404 "junit output breaks if there are non-ascii characters in the build output"
When installing a package and using `--log-format=junit`, if the output includes non-ascii characters, the `spack install` command returns an error and an empty output file is created. The package is still correctly installed.

### Steps to reproduce the issue

[code]
Note the `^freetype@2.7.1` dependency is specified because it's the one I found which builds cleanly with `%intel`. `cairo%intel` i

[2019-08-13 14:51] dev-zero commented on #7970
@alalazo care to elaborate? FYI Spack is in many ways very similar to the Gentoo Linux Metadistribution (look for the Gentoo Prefix Project)), and experience there has shown that the implicit kind of virtuals are difficult to implement and have subsequently been removed again

[2019-08-13 17:51] omsai opened #12408 "Document workaround for missing bootstrap_args in Custom Build Systems"
Todd Gamblin confirmed in the Slack #packaging room that this is a documentation bug; there is no `self.bootstrap_args()` function in [Phase and phase_args functions](https://spack.readthedocs.io/en/latest/build_systems/custompackage.html#phase-and-phase-args-functions).

As it turns out, the bootstrap phase is an ad-hoc phase only ever used by the CMake package, it's not anywhere in the spack pyt

[2019-08-13 18:09] #12062 closed

[2019-08-13 18:13] omsai commented on #12408
After carefully re-reading the documentation I see that it says that the bootstrap phase is defined ad-hoc in the CMake package which also defines `bootstrap_args()`.

[2019-08-13 18:13] #12408 closed

[2019-08-13 18:35] Sinan81 commented on #12398
Just tried it, I am still getting the same error. Thanks for the suggestion though.

[2019-08-14 18:19] ajw1980 opened #12418 "glib doesn't build with python ~pythoncmd"
glib requires python3 to compile. The glib package does replacements to use python, which doesn't work if the spack python3 was installed with ~pythoncmd.

[code]

I did this, but maybe there is something better:
[code]

[2019-08-14 18:38] omsai opened #12419 "Installation issue: cutadapt"
1. The issue exists both with the git stable master 0.12.1 branch as well as the develop branch.
2. Yes, in both cases I confirmed the `package.py` file has the line `depends_on('py-setuptools', type=('build', 'run'))` as described in #11279

### Steps to reproduce the issue

[code]

### Platform and user environment

Please report your OS here:

[code]
and, if relevant, post or attach `packages.y

[2019-08-14 18:50] omsai commented on #12419
Issue persists using latest upstream version available on `pip`:

[code]

[2019-08-14 19:19] ajaymur91 opened #12421 "Installation issue: cp2k@6.1 (installs but fails cp2k regression test)"
CP2K (Chemistry/ Molecular dynamics package) installs but fails a simple regression test that is provided with the package. (Produces incorrect results.)

CP2K comes with a comprehensive set of regression tests (http://cp2k.org/dev:regtesting) that I could not get to work after several attempts. (I am not an expert in setting up ARCH files etc that is required to do this).  **Probably a good featu

[2019-08-14 19:39] Sinan81 commented on #9352
Wondering if there is any update on the status of tensorflow on Spack since this issued was posted last year.

In the mean time, I am compiling it outside of Spack (with dependencies provided by spack). Not able to compile tensorflow v1.13 or 1.14 as Bazel versions beyond 17.2 is not available in Spack yet. #12398

[2019-08-14 19:49] adamjstewart commented on #9352
The closest package in Spack right now is #2043. It tries to play nicely with Bazel, but has many limitations. For example, it downloads its own set of dependencies, so it won't build on an air-gapped network. This is similar to how the Easybuild TensorFlow package works.

#3244 was a failed attempt to build TensorFlow using CMake. This was abandoned as Google decided not to support CMake, and com

[2019-08-14 21:33] Sinan81 commented on #9352
@adamjstewart Thanks a lot for the update. I would certainly be interested in looking into #2043, however I am super busy currently. It would be a "game changer" if arch specific pre-built binaries of TF were provided by Spack.

[2019-08-14 22:38] adamjstewart commented on #12418
You could extract the correct executable name from `self.spec['python'].command.path`.

[2019-08-15 01:09] qobilidop commented on #12322
Thanks for your clarification. I'll submit a PR with solution 1 then.

[2019-08-15 13:27] ajw1980 commented on #12418
Yes, I think just changing to python3 instead of python works ok:

[code]

[2019-08-15 15:11] adamjstewart commented on #12418
That only works if you're building with Python 3.

The `depends_on` says any Python version will work. Is this no longer the case?

[2019-08-15 15:42] ajw1980 commented on #12418
I checked the release notes and it looks like python2 is unsupported in 2.59, so I guess 2.56.3 should still be ok with python2.

With ~pythoncmd set, the build would have used the system python (which is python 2.7.5 on centos7), but spack would have loaded the spack python environment so that possibly messed up the system python environment since the build environment sets PYTHONHOME?

[code]
Th

[2019-08-15 16:38] obreitwi opened #12431 "Concretizer is unable to automatically determine last package version to support python 2"
Many python packages (rightfully) dropped Python 2 support and started to require Python 3 in their latest versions, for example `numpy`, `scipy`, `pandas`, `matplotlib` etc. and there are plans to change the default Python version to 3 (#10319).

However, currently `spack` is unable to determine the last version to still support Python 2 during concretization and instead returns a concretization

[2019-08-15 17:49] scheibelp commented on #12276
https://github.com/spack/spack/pull/12278 has been merged so I am assuming this is resolved (please reopen if that's not the case).

Also: thanks!

[2019-08-15 17:49] #12276 closed

[2019-08-15 19:15] sethrj commented on #12431
I've had to deal with this too... as a workaround I use `spack edit py-whatever` to search for the right version and add it to my `packages.yaml` file for later reference.

[2019-08-15 21:18] ianbrobin opened #12436 "hash_length is not working with lmod"
I'm trying to generate lmod modules without a hash post-fix. I have spack installed at /usr/local. At /usr/local/spack/etc/spack my modules.yaml file is:
[code]
Then, I ran
[code]
The module for gcc still has the hash prefixed even though I have `hash_length: 0` in my module.yaml file. Previously, hash_length had worked tcl modules.

### Information about my system

[code]

[2019-08-16 01:45] #12337 closed

[2019-08-16 07:36] oracleLee commented on #12240
### I add information using r3.5.0 when install trinity

$ spack install trinity  %gcc@8.3.0 ^r@3.5.0
==> Error: An unsatisfiable version constraint has been detected for spec:

    r@3.5.0%gcc@8.3.0~X~external-lapack~memory_profiling~rmath arch=linux-centos7-x86_64
        ^bzip2@1.0.8%gcc@8.3.0+shared arch=linux-centos7-x86_64
            ^diffutils@3.7%gcc@8.3.0 arch=linux-centos7-x86_64

[2019-08-16 07:37] oracleLee commented on #12240
In addition that `spack spec r-edger ^r@:3.5.0` and `spack spec r-biocgenerics ^r@3.6.0` work as follow

     $spack spec r-biocgenerics ^r@3.6.0
     Input spec
     --------------------------------
     r-biocgenerics
         ^r@3.6.0

     Concretized
     --------------------------------
     r-biocgenerics@0.30.0%gcc@8.3.0 arch=linux-centos7-x86_64
         ^r@3.6.0%gcc@8.3.0~X~external-lapa

[2019-08-16 07:44] alalazo commented on #12436
Can you please post the result of:
[code]
?

[2019-08-16 14:09] olesenm opened #12442 "remove defunct adios openfoam integration"
old (adios1) integration is not supported, maintained, recommended for openfoam.
The of-adios-write package serves no purpose any more.

[2019-08-16 14:56] balay commented on #12286
@mwkrentel Thanks! this works. (the second suggestion)

[2019-08-16 14:56] #12286 closed

[2019-08-16 16:52] ianbrobin commented on #12436
[code]
This made me realize there were config files at `~/,spack`, so I removed them. I don't believe I created them, so they must have been auto-generated at some point. So I ran:
[code]
So, the module functionality works, but for some reason `spack config blame modules` doesn't show `gcc@4.8.5` as a core_compiler.

[2019-08-16 16:52] #12436 closed

[2019-08-16 17:12] omsai opened #12445 "Installation issue: faidx"
`faidx` has multiple runtime errors.  PR incoming.

### Steps to reproduce the issue

[code]

If I correct for that error by adding the `'run'` dependency of `py-setuptools` I see that the package is missing the `six` dependency required by upstream's setup.py:

https://github.com/mdshw5/pyfaidx/blob/master/setup.py#L5

[code]

### Platform and user environment

Please report your OS here:
[code]

[2019-08-16 21:25] chissg opened #12448 "`spack pkg` command and tests fail for git < 1.8.5"
The implementation of the `spack pkg` command assumes one is working in an environment with a git >= 1.8.5, as the `-C` option is used for all invocations of the `git` command. Associated tests also fail, see `spack test cmd/pkg`:

[code]

On a standard `Scientific7` (or `RHEL7`) system, the version of git available is `1.8.3.1`. On `RHEL6` (still in extensive use in HEP), it is `1.7.1`.

A reason

[2019-08-16 22:02] #7647 closed

[2019-08-17 00:05] scheibelp commented on #7647
@chissg I was iterating on #7675 to resolve this, but has it resolved for you in the meantime without it?

[2019-08-17 03:10] kmanalo commented on #11617
Just chiming in I went through the same hoops, finding the same issue.

[2019-08-17 03:41] #12445 closed

[2019-08-17 12:23] sethrj commented on #9904
Also for reference, see @citibeth 's comment on a failing `perl%gcc@8.1.0`: https://github.com/spack/spack/issues/9976#issuecomment-447061400 .

[2019-08-17 12:30] sethrj commented on #10336
I believe this was also fixed via https://github.com/spack/spack/pull/12166 : the main distribution `uuid` isn't compatible with Apple's fork. Closing since you also said it builds fine.

[2019-08-17 12:30] #10336 closed

[2019-08-17 12:38] sethrj commented on #12011
Maybe one way to allow for the openmp requirement would be for *variants* to be stored as part of the compiler spec. This might allow `%clang+openmp` to be specified as a requirement; and to get rid of the (as far as I can tell, basically unused) `provides('golang')` in GCC by replacing a requirement with `%gcc+languages=go`. Apple's external compiler would be of course stored as the variant `clan

[2019-08-18 03:53] adamjstewart commented on #12011
@sethrj that solves one problem, but it doesn't solve the problem that Apple Clang and LLVM Clang are versioned differently. I believe CMake separates Clang and AppleClang too.

[2019-08-18 13:14] sethrj commented on #12011
That's very true, I wasn't thinking about the versioning... 😒

[2019-08-19 01:08] adamjstewart commented on #12448
We can also skip the tests if an old version of git is detected. But then `spack pkg` won't work for all users... @tgamblin

[2019-08-19 01:17] kmanalo opened #12469 "Installation of Valgrind +MPI with Intel Using Auto Dispatch Variant"
This is probably targeted for @glennpj or others with better awareness of `-ax<vectorization>` for auto dispatch.

Is there a way to disable `-ax<option>` while building tools like Valgrind, after setting building Intel compilers with `auto_dispatch=COMMON_AVX512`?

My workaround is to remove the added lines to the matching `{icpc,icc,ifort}.cfg` files.

### Steps to reproduce the issue

An exampl

[2019-08-19 04:02] paul-hammant commented on #10336
Build runs fine if I do the `sudo mv /usr/local/include /usr/local/include.old` hack

[2019-08-19 09:37] angel-devicente commented on #7358
I was just bitten by this bug while trying to install TAU.

My temporary hack around this was to do:

[code]
And then continue with the rest of the TAU installation, but of course it would be nice to make it work properly with Python3.

AdV

[2019-08-19 13:30] albestro commented on #12102
I agree with you about having intermediate directories with `install_tree` permissions, it sounds ok:

- it acts as chokepoint allowing to install packages to everyone whose access to `install_tree` is granted,
- and at the same time, in case a particular package has its specific permissions, by not restricting permission for intermediate folders it will allow any spack user to install other packa

[2019-08-19 14:14] nmsriram commented on #9904
I finally got gcc @9.1.0 to build with Spack.  Didn't do anything different, it just built.  I'm going to try to rebuild 7.4.0 (my original target) with gcc instead of clang cc to see if it builds.

[2019-08-19 17:31] #11163 closed

[2019-08-19 17:59] greglucas commented on #11950
I was running into the same issue with the cluster version installed and wondering why it was looking for 'profesional ...' It turns out all of the compiler links were registered/found by Spack, but the extra tools packages weren't. I missed the 'special step' listed on the intel installation page:
https://spack.readthedocs.io/en/latest/build_systems/intelpackage.html#integrating-external-librarie

[2019-08-19 18:02] mamelara commented on #8618
Hello,

Does Charliecloud bring in variables from the Cray environment when you try to run the container? We recently experienced this with `shifter` and found that Spack was picking up the CRAYOS_VERSION variable that was in the container and then proceeded to do all the cray things. If you are able to enter into a clean environment then it might be able to run properly.

[2019-08-19 18:38] glennpj commented on #12469
@kmanalo I think there are two ways to do it.

1. Pass cflags to the spec
```spack install valgrind cflags='-axOFF'```

1. Install an instance of the compiler with no auto dispatch options and set that up in your compilers.yaml file with a different spec name, ie., intel@19.0.4_base
This has the advantage of having spack keep track of packages built with that compiler.

[2019-08-19 20:05] reidpr commented on #8618
We normally leave the environment untouched, so yes, we'd get all the Cray variables. Thank you for the suggestion! We will investigate.

[2019-08-19 22:56] tldahlgren opened #12477 "build: staging existing packages"
See #12072 , #12474

Per Adam (@adamjstewart ):
We should still investigate why Spack is creating stages for packages that are already installed and whether or not that requirement makes sense.

[2019-08-20 01:02] jrmadsen opened #12480 "No PYTHONPATH in modulefile for `extends('python@3:')`"
Python 2.7 is basically EOF and I hardly test for 2.7 support so I want the default Python to be >= 3.

This creates a valid modulefile:

[code]

[code]

If I change:

[code]

to:

[code]

Python 3.7 gets installed but the resulting modulefile results in:

[code]

and my Python package is not added to PYTHONPATH

### Steps to reproduce the issue

Try `extends('python@3:')` and look at the modulefi

[2019-08-20 01:27] adamjstewart commented on #12480
Can you try the following?
[code]

[2019-08-20 02:30] jrmadsen commented on #12480
That worked, thanks. I'd update the documentation -- it is fairly clear that you should use only one of either `extends` or `depends_on` and not both (unless I missed something)

[2019-08-20 02:30] #12480 closed

[2019-08-20 02:40] adamjstewart commented on #12480
Once upon a time, `extends` and `depends_on` were both needed. However, I set things up so that `extends` automatically adds `depends_on`. There's a chance `extends` doesn't properly handle additional info in the spec aside from the package name. That's my guess as to what the problem is.

[2019-08-20 09:49] HadrienG2 opened #12481 "Installation issue: root+x build does not find fontconfig headers"
# Steps to reproduce the issue

[code]

As you can see, ROOT uses a libXft header which includes a fontconfig header. Even though `fontconfig` and `libxft` are correctly made part of `root`'s spec and installed before ROOT is built, the fontconfig header is not found during the ROOT build, which suggests an include path problem.

Other libxft-based applications, such as `xclock`, `xlogo` and `xdm`

[2019-08-20 11:35] gartung commented on #12481
@HadrienG2 you can try commenting out the line that unsets the spack include paths. I never tested with Debian based OS's.

[2019-08-20 12:14] ChrisTX opened #12482 "File conflicts can occur in views if the conflicting packages do not cause concretization errors"
I've noticed some unexpected behavior if an environment (or rather its view) contains two packages that have file conflicts, but do not conflict themselves. More specifically, `metis` and `scotch^+metis` both provide `include/metis.h` but do not conflict otherwise - it's perfectly possible  to add both to an environment and install it, without Spack complaining at all.

However, the files are _not

[2019-08-20 13:28] gartung commented on #12481
The original bug was  that spack inserted its include paths before the -isystempath set by ROOT's CMakeLists.txt.

[2019-08-20 13:48] HadrienG2 commented on #12481
@gartung Sorry for my unclear wording above. I actually already tried to comment out this line, and I know that it solves the problem for my particular `root` spec on my particular system (which is actually an openSUSE docker container running on a Debian system for infrastructure reasons... but only the openSUSE userspace should matter here).

It's not clear to me, however, whether the underlying

[2019-08-20 13:50] gartung commented on #12481
As long as you make your change specific to openSUSE I am OK with it.

[2019-08-20 14:05] HadrienG2 commented on #12481
Well, should it be? Introducing system-specific code may not be necessary here, if the underlying spack problem has actually been resolved.

Can someone who faced the #10850 issue in the past check, on a similar spack spec and system configuration, if the `SPACK_INCLUDE_DIRS` trick is still necessary for them as of the current spack master?

Conversely, can someone also check if `root@6.16.00 cxxs

[2019-08-20 15:30] steffen-AEI opened #12485 "Multiple users of spack on a system broken (permissions errors)"
Today, I cloned spack (default branch "develop") into ~/SPACK, and went through the usual steps.

I failed very early, with neither "spack bootstrap" nor "spack install $package" working.

*Explain, in a clear and concise way, the command you ran and the result you were trying to achieve.
Example: "I ran Spack find to list all the installed packages and..."*

### Steps to reproduce the issue

[cod

[2019-08-20 16:22] kmanalo commented on #12469
Thanks @glennpj I'll give 1 a try first!  We do use the technique present in 2, but for a different reason.

[2019-08-20 19:57] lee218llnl opened #12488 "qt build fails during spack install py-pyqt4"
Spack fails to build qt during a "spack install py-pyqt4" attempt. This was brought up in https://github.com/spack/spack/pull/12479. Note that I incorrectly said in that PR that it was py-pyqt5 I was trying to build, but in fact it is py-pyqt4 that fails for me. The build log is attached.

[spack-build-out.txt](https://github.com/spack/spack/files/3522345/spack-build-out.txt)

@Sinan81 it sounds l

[2019-08-21 00:31] ianbrobin opened #12493 "hdf5 not installing with intel-mpi"
I am trying to install hdf5 with intel mpi, but I get the following error:
[code]
[config.log](https://github.com/spack/spack/files/3523080/config.log)

I am able to compile with my C compiler:
[code]

### Information on my system

[code]

[2019-08-21 01:51] scheibelp commented on #12485
Hi @steffen-AEI, could you try https://github.com/spack/spack/pull/12492?

I think the issue on your system is that the temp directory is not editable by you, but unfortunately the error message which would inform you of that is currently broken (a Spack bug). #12492 will not fix your issue but will confirm that Spack cannot find a temporary directory that you have write permissions for. With that

[2019-08-21 06:08] #12102 closed

[2019-08-21 06:50] steffen-AEI commented on #12485
Since v0.12 (there's no 0.12.1 release branch, nor anything newer) works: what would be the directory to create/change permissions of?

After another git pull, commit 3b115ff is now on top of the log, but still
[code]

For now, I'll take the 0.12 version, doctor a recent bzip2 and singularity in, and try to proceed, but that cannot be the last word.

[2019-08-21 09:41] steffen-AEI opened #12499 "go-bootstrap: arch ppc64le unknown?"
### Steps to reproduce the issue

[code]

### Platform and user environment

Please report your OS here:
[code]

I know there are Debian packages for golang...

[2019-08-21 13:04] ThemosTsikas opened #12500 "Installation issue: nag"
The NAG Fortran Compiler gets updated on NAG's website periodically. The URL does not change but the checksum becomes out of date. The current checksum is
"74573f87274dc2a55918dcd2d14ede95"
for Build 6223 of Version 6.2 This needs to be inserted in
var/spack/repos/builtin/packages/nag/package.py

### Steps to reproduce the issue

[code]

### Platform and user environment

Please report your OS her

[2019-08-21 13:30] Liampowe opened #12501 "Error: [Errno 37] No locks available"
When trying spack load <app> I am getting this error.
Error: [Errno 37] No locks available

I tried
rm `find . -name '*lock'`
Which I found mentioned in another thread, but that still did not work.

Thank you for any help.

[2019-08-21 14:29] chissg commented on #12448
@adamjstewart Note that this is not really a "general test" issue, but that the underlying functionality is dependent upon a feature of an external command (`git`) that may not always be present. This issue does have implications for specific test results, but I don't think it fits into the category of, "General test capability(ies)."

[2019-08-21 16:30] Try2Code opened #12505 "Ruby: Support rubygems coming with ruby package"
*Rubygems is not working after installing ruby with spack*

### Rationale

rubygems is the built-in package manager just like pip for python. It comes with with den ruby package because it is part of the official ruby tarball.

### Description

Usually the rubygems command ```gem``` i used to install packages into system directories of below ```$HOME```. This does not work with the ruby package of

[2019-08-21 16:31] #12448 closed

[2019-08-21 16:49] tuxfan commented on #10384
Any progress on this?

[2019-08-21 16:54] tgamblin commented on #12505
@Try2Code: I think you can make this work by patching `RbConfig::CONFIG` the way we already patch our MPI compiler wrappers.  Essentially, you'd need to add a line like this one to the `RbConfig:CONFIG` module:

* [var/spack/repos/builtin/packages/mpich/package.py:70](https://github.com/spack/spack/blob/develop/var/spack/repos/builtin/packages/mpich/package.py#L70)

The implementation of that func

[2019-08-21 16:58] tgamblin commented on #12501
I suspect you are running on an NFS mount that does not support locking.

You could try running on a filesystem that *does* support locking, or you can look at the `locks` setting in `config.yaml`.  You can either set that to `false` or run with `spack -L ...` to disable locks.

Please feel free to reopen if this doesn't address your issue.

[2019-08-21 16:58] #12501 closed

[2019-08-21 17:07] Try2Code commented on #12505
Ok, i will give it a try. Never worked with environments, yet. But getting the ruby package working would be helpful. I will post here in case of further questions

cheers

[2019-08-21 17:24] adamjstewart commented on #12505
Also note that #3127 added preliminary support for a `RubyPackage` base class/build system. If you use Ruby for a lot of your work and would like to revive that PR, I can help.

[2019-08-21 17:27] adamjstewart commented on #12500
Hi @ThemosTsikas, do you work for NAG? I think I remember you helping me out with some NAG issues in Spack a couple years ago.

Is there any way NAG could not do that? It makes checksums rather useless if there is no guarantee that they will stay the same. Most software packages increment the minor or patch version number when there are changes.

[2019-08-21 17:35] Try2Code commented on #12505
ok @adamjstewart  - so this package class would be a replacement for gem? or only for un-packaged code?

[2019-08-21 17:37] adamjstewart commented on #12505
I don't know much about Ruby, so I'll answer in the form of Python. The `PythonPackage` base class doesn't replace `pip`, it just offers a way to build Python packages from source code. We still have a `py-pip` package that can be installed alongside Python to use separately from Spack, but the primary mechanism of installing Python packages in Spack is the `PythonPackage` base class.

[2019-08-21 17:41] Try2Code commented on #12505
alright  - btw: I couldn't make py-pip work. it gives an error after installing and loading
[code]

or did I do something wrong here?

[2019-08-21 17:50] ThemosTsikas commented on #12500
Yes, I do. I have passed your request on.

[2019-08-21 18:09] mwkrentel commented on #12485
Yes, I agree that somewhere you need to add a `user` component to the
tempdir path.

You expect `/tmp` to have mode 1777 and so you can create directories
there.  But `/tmp/spack-stage` does not.  It already exists and is
owned by another user, so this has become a race condition.  It works
for the first user and fails for the other N-1.

Also, I strongly recommend re-adding something like
`$spack

[2019-08-21 18:17] adamjstewart commented on #12505
@Try2Code Unfortunately, Python packages don't have RPATH. In order to use them, you either run `spack activate` or `spack view` or `spack env` to symlink them into a single directory, or module load all of the dependencies so that they appear in your `PYTHONPATH`. In this case, the missing dependency is `py-setuptools`.

[2019-08-21 18:42] adrienbernede opened #12510 ".DS_Store issues with environments"
I have some troubles using environments on MacOS as soon as .DS_Store exists. I know the problem was already reported, but is supposed to have been solved.

### Steps to reproduce the issue
I have a simple reproducer for the issue I am running into :
 - On MacOs.
 - Clone Spack.
 - Use finder and "go to folder" to navigate the `spack/var/spack/repos/builtin/packages`, and try clicking some directo

[2019-08-21 18:45] scheibelp commented on #12485
Thanks for running that!

Adding `$user` will resolve this, but we intend that Spack will do this automatically for you. We are looking into fixing this so that you don't have to edit `config.yaml`.

[2019-08-21 22:03] tldahlgren commented on #12485
As I mentioned in my response to your comment on #12495 , staging *should* be adding `$user` to `$tempdir/spack-stage` when `$user` is not already a node in `$tempdir` assuming it is the "first accessible" `build_stage`.

Unfortunately, if there is only one `build_stage` entry with a path that exists but is not accessible, the current code will raise a `StageError` complaining `No accessible stage

[2019-08-21 22:15] tldahlgren commented on #12485
I've been discussing this option with Todd (tgamblin).

As I mentioned above, you can customize your configuration settings with a `config.yaml` file in `etc/spack/config.yaml` or `$HOME/.spack/config.yaml` (see https://spack.readthedocs.io/en/latest/config_yaml.html#config-yaml).

[2019-08-22 03:26] mwkrentel commented on #12485
IMO, the guiding principle here should be robustness.  For experienced
users who want to set it to something specific for their system, they
can.  That's not a problem.

But for novice users or even experienced users who don't care where
the build stage is, it should "just work."  And that's where I think
the current setting comes up short.  For **many** users, you have to
know what this is and se

[2019-08-22 07:32] steffen-AEI commented on #12485
That's what I had suggested above ;) - first try /tmp/$user/spack-stage (might resolve setup issues with /tmp itself), then /tmp/spack-stage-$user (needs 1777 permissions), fall back to old $spack/var/spack/stage (should be safe with old single-user setups). Redundancy is good, although this isn't absolutely failsafe (something like tempnam() should be though).

Correct, even for N=2.

Users don't

[2019-08-22 07:40] steffen-AEI commented on #12485
[...]

@tldahlgren Tamara,
you're asking to let each and every user create/change her config.yaml - to accommodate breakage that wasn't their fault? Please have a second look. They may not even be aware of others keeping their own copy of Spack, and never had to.

If there's something inherently wrong with my suggestion I'd like to learn about my mistakes.

[2019-08-22 08:11] steffen-AEI commented on #12499
Same happens for ARM64, btw:
[code]

[2019-08-22 09:18] ThemosTsikas commented on #12500
I am afraid we cannot change the process due to other commitments. But what I will do is make it part of the update process to alert spack (via raising an Issue) whenever a 64-bit Linux compiler is updated on our website. Seeing as nobody had reported this since November 2018 when the last change was made, I can only assume that it's not widely used.

[2019-08-22 13:38] krishnakumarg1984 commented on #6274
I have the same issue here. What is the recommended solution?

[2019-08-22 15:47] tjahns commented on #12493
I have the same problem, as far as I can tell it's because of the following (quoting from my question on Slack):

The problem is that stuff from compilers.yaml is not used because the wrapper from mpich or openmpi is used without setting the same environment variables the plain compiler gets set via module load. If there is a way to influence the environment mpicc is executed in, that would be gre

[2019-08-22 17:09] tldahlgren commented on #12485
What I meant was that `$user` is automatically being appended -- behind the scenes if you will -- to the first accessible directory from `config:build_path` if `$user` does not appear as a node in the directory path.  Unfortunately, elevating `spack-stage` above `$user` when `$tempdir` is not

I actually do understand your point and we have been discussing it here at LLNL.  One concern raised wrt

[2019-08-22 17:17] tldahlgren commented on #12485
The value of `$user` was implicitly appended to `config:build_stage` if it did not already appear in the selected path.  The unfortunate side-effect that you've found is the problem of ownership when the directory is first created.

I am working on moving `$user` higher in the directory tree and addressing permissions per discussion at LLNL (see #12516).

I understand and will raise the issue inte

[2019-08-22 17:20] tldahlgren commented on #12485
I do understand your point.  @tgamblin Thoughts?

[2019-08-22 17:42] ianbrobin commented on #12493
I believe my error is similar. On line 984 of my config.log I get the following:
[code]

[2019-08-22 17:57] cdfh commented on #11655
@termi-official Have you tried adding LLVM to your compiler's modules in `compilers.yaml`?

From memory, this fixed a similar problem I was experiencing in using libc++ with clang. This is my `compilers.yaml` file:

[code]

You can find which module you need with:

`spack module tcl find llvm`

[2019-08-22 19:16] cdfh opened #12519 "rpaths with `spack setup`"
I'm attempting to use `spack setup` to establish an out-of-stage build environment for cmake-based C++ projects, as described [here](https://spack.readthedocs.io/en/latest/workflows.html#build-with-spack). However, the binaries produced under this workflow have link errors for dependencies related to the compiler's runtime library.

### Steps to reproduce the issue

[code]

### Error description

[2019-08-22 19:36] JunCEEE opened #12520 "Installation issue: hdf5"
### Steps to reproduce the issue

[code]

### Platform and user environment

Please report your OS here:
[code]
and, if relevant, post or attach:
- `packages.yaml`
[code]

### Additional information

Sometimes the issue benefits from additional details. In these cases there are
a few things we can suggest doing. First of all, you can post the full output of:
[code]
to show people whether Spack ins

[2019-08-22 22:01] ejcjason opened #12527 "Request to mention that you can uninstall package by hash"
Request to mention that you can use hashes in `spack uninstall -h` and `Error: You can either:`.

### Rationale
I happened to have created multiple modules, and I hope to delete one of them, but failed like this:
[code]
After searching for a while, I found the solution in #2199 to use hash. Although, the problem was solved, I really think the last sentence in this [comment](https://github.com/spac

[2019-08-22 22:14] tgamblin commented on #9200
This is done by #9329 and #11621

[2019-08-22 22:14] #9200 closed

[2019-08-22 22:16] tgamblin commented on #9590
Fixed by #9749.

[2019-08-22 22:16] #9590 closed

[2019-08-22 22:16] tgamblin commented on #7114
Fixed by #9564.

[2019-08-22 22:16] #7114 closed

[2019-08-22 22:49] Sinan81 opened #12529 "is spack create broken?"
Currently on a fresh clone of develop branch (commit 7b2470236ea046baffc66af567beba29e1e280ce)
getting the following when I try to create a python package:
[code]
* centos7.6
* Linux ws-067 3.10.0-957.12.2.el7.x86_64 #1 SMP Tue May 14 21:24:32 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

[2019-08-22 23:34] JunCEEE opened #12530 "Installation issue: external package installed in None"
This is a  continuous issue with #12520 .
Since the installation with spack is unsuccessful, I tried to set up external hdf5 module. However, something might be wrong during the parsing of the external module, since it shows "hdf5@1.10.5 : is actually installed in **None**".

### Steps to reproduce the issue
[code]

[code]

- `packages.yaml`
[code]

[2019-08-22 23:59] tgamblin commented on #8387
Fixed by #10274.

[2019-08-22 23:59] #8387 closed

[2019-08-22 23:59] tgamblin commented on #7119
Fixed by #10274.

[2019-08-22 23:59] #7119 closed

[2019-08-23 01:53] tldahlgren commented on #12529
I was able to reproduce the bug (apologies!) and the fix at #12536 works for me.

[2019-08-23 06:30] #808 closed

[2019-08-23 06:34] tgamblin commented on #753
This was fixed by #4478.

[2019-08-23 06:34] #753 closed

[2019-08-23 06:37] tgamblin commented on #1380
This was fixed by #4692.  The compiler wrappers now put package  include paths *before* dependency paths.

RE: some of the other points here, ignoring transitive dependencies will likely cause *many* packages to behave incorrectly and bring in system headers when they shouldn't,  so we're unlikely to do that.

[2019-08-23 06:37] #1380 closed

[2019-08-23 06:48] tgamblin commented on #1283
Can't find the PR where this was fixed, but it's fixed in `develop`.  `spack fetch <spec>` results in `spec`'s downloads being cached.

[2019-08-23 06:48] #1283 closed

[2019-08-23 06:49] tgamblin commented on #1213
@SteVwonder: is this fixed?

[2019-08-23 06:51] tgamblin commented on #1191
Fixed by #11906, if not earlier.

[2019-08-23 06:51] #1191 closed

[2019-08-23 07:05] tgamblin commented on #1272
Since #4692, the compiler wrappers actually parse `rpath` arguments out of compile lines and substitute them with compiler-specific (and likely more portable) `-Wl,-rpath,...`  and `-rpath ...`.  So this should not be an issue -- if Spack sees `-rpath=`,  it actually replaces it with a version with spaces, even if it comes from the build.

[2019-08-23 07:05] #1272 closed

[2019-08-23 07:44] steffen-AEI commented on #12485
@tgamblin,

Things happening *automatically, behind the scenes* are always sources of confusion - unless the config setting (and documentation) are changed to reflect that the given values are **not** the paths to be used.
(If this setting was handled in a different manner depending on whether it comes from a global config or a user-specific one this would add even more confusion.)

Keep it simple

[2019-08-23 17:29] mamelara opened #12547 "Installation issue: font-util"
Font-util attempts to install in /etc/fonts which leads to a Permission Denied error.
### Steps to reproduce the issue

[code]

### Platform and user environment

Please report your OS here:
Cray XC40 Cori
SLES15
GCC-8.2.0

[2019-08-23 17:45] #12529 closed

[2019-08-23 22:07] Sinan81 commented on #12488
I've been a bit busy this week, will definitely look into this early next as it is also related to a PR that I'm working on (#12338)

[2019-08-23 22:34] CalvinDSeamons opened #12560 "Build error using spack mirrors to build py-chardet"
### Steps to reproduce the issue
The first snippet of code is py-chardet installing with no issues from a mirror on a system with internet access.
[code]
Below is another system without access to the internet with the mirror from above copied over.

[code]
Here are the contents of the `spack-build-out.txt`
[code]

### Platform and user environment
linux-rhel7-x86_64

### Additional information
It

[2019-08-24 07:23] goxberry opened #12563 "Installation issue: mfem@3.4.0 cannot find hypre's lapack dependency if hypre is in packages.yaml"
### Steps to reproduce the issue

[code]

### Platform and user environment

Please report your OS here:

I'm running macOS 10.14.6, attempting to build with Apple Clang 10.0.1.

and, if relevant, post or attach:

- `packages.yaml`
[code]

### Additional information

This error does not occur if I remove `hypre` from my `packages.yaml` and build `hypre` in Spack from source.

[2019-08-24 13:21] #7115 closed

[2019-08-24 20:46] Sinan81 commented on #12488
The apparent cause of this problem is that in pyqt4, qt dependency is indicated to be built with phonon variant:
[code]
Note however that in py-pyqt5, the only required variant is opengl:
[code]
If I understand correctly, [phonon provides audio and video playback support](https://www.riverbankcomputing.com/static/Docs/PyQt4/phonon-module.html#details): if those aren't needed, then one can eliminat

[2019-08-24 21:50] Sinan81 commented on #12488
Just to be clear, qt@5.11.3 builds just fine with +phonon variant.

[2019-08-25 04:15] Sinan81 commented on #12488
Looking at "spack-build-out.txt", there are two sets of fatal errors are:
ones associated with +sql variant
[code]
and the one associated with phonon-backend "gstreamer"
[code]
The fatal errors associated with `+sql` variant is very strange because this variant is enabled regardless `+phonon` or not and qt builds just fine in that case. Somehow it seems enabling phonon variant is causing an interf

[2019-08-25 04:50] goxberry opened #12571 "Installation issue: raja~openmp still seems to require OpenMP"
### Summary

Attempting to build RAJA 0.8.0 without OpenMP using Apple Clang 10.0.1 and GNU Fortran 9.2.0 yields a run-time error in CMake because Apple Clang does not ship with OpenMP. In other words, building RAJA without OpenMP still seems to require OpenMP, which is counterintuitive.

### Steps to reproduce the issue

[code]

### Platform and user environment

Please report your OS here:

I am

[2019-08-26 08:16] Sinan81 commented on #12488
Above PR fixes this problem, by disabling phonon backend gstreamer.

Another solution to this problem could be to pass '-continue' option to configure so that it wouldn't stop at the step where it is checking gstreamer plugins.

[2019-08-26 09:14] LudovicEnault commented on #3909
Hi there,
I find this thread useful but still had to find the exact stuff to do.
So, for other people (and me when I would have forgotten), Here is what I have done:
(doing for lua but same spirit applies for lua-filesystem)
--no-checksum
[code]

[2019-08-26 20:04] omsai opened #12583 "Add triage label to all non-feature GitHub issues"
In working towards alerting package maintainers about issues relating to their packages, we can have a triage team look at new non-feature issues to identify the spack packages, etc.

The ad-hoc way in which new issues are currently triaged is by checking for issues with no comments and which have no label assigned.

A better way than looking at the number of comments would be using the existing "

[2019-08-26 20:53] omsai opened #12586 "Installation issue: gdal"
@adamjstewart if I understand the error correctly, it appears that if any of gdal's dependencies have MPI enabled, MPI must be loaded for libgdal to link correctly.  Specifically, I propose we add an `mpi` variant to gdal and maybe couple it to enable/disable all the `mpi` aware dependencies of `gdal`.  Does that make sense?  If so I can create a pull request with the change.

### Steps to reprodu

[2019-08-26 23:39] omsai commented on #12586
My spec lists `hdf5+mpi`

I can get it to compile with your advice: `depends_on('mpi')` isn't sufficient; I also need to pass `mpicc`, `mpicxx`:

[code]

I'll revert and test `~netcdf` and other variants to find the culprit.

[2019-08-27 00:46] omsai commented on #12586
- I can reproduce the error simply with `gdal +hdf5 %gcc@6.3.0`.
- Maybe it has to do with my using `mpi` compiled by spack?  A lot of sites then to source their environmental modules for their `mpi` providers.  What `mpi` implementation do you use for your GDAL installation?

I need to use `%gcc@6.3.0` compiler for my HPC user because MATLAB pins their releases against gcc versions for compiling

[2019-08-27 12:00] #12571 closed

[2019-08-27 12:05] alalazo opened #12600 "Add basic tooling to support Spack command extensions"
As a user I want a command to help managing Spack command extensions so that I don't have to perform repetitive tasks manually

### Rationale

Since a while we have an experimental support in Spack for [custom extensions](https://spack.readthedocs.io/en/latest/extensions.html). What I propose in this issue is to build a bit of tooling to make it easier to use them. The bare minimum I think would b

[2019-08-27 14:07] chissg commented on #12600
Hi,

I think in general the idea of having a Spack command to provide functionality for dealing with extensions is a good one. (create, check, get, rm, etc.). I'm a little leery of making an existing command do something completely different—would it be acceptable to make a different existing command do something more instead?

The existing spack commands functionality could be moved to spack comm

[2019-08-27 14:56] ThemosTsikas commented on #12493
I think intel-mpi is broken because of this lack of knowledge of where to find libfabric.so.1. I've seen other packages on top of intel-mpi fail to build in the same way.

[2019-08-27 18:23] ajaymur91 opened #12604 "URL for pkgconf@1.5.4 is broken"
### Steps to reproduce the issue

[code]

[2019-08-27 18:31] #12604 closed, assigned to nobody

[2019-08-27 19:50] citibeth opened #12606 "Spack Environment Forgets what was in it"
When you `spack -e <myenv> install one-package`, in some ways the environment "forgets" what else was installed in it.

### Steps to reproduce the issue

[code]

Later on, I made it "remember" with:
[code]
(which installed nothing, but did go over everything again.  For some reason it re-concretized too, even though I did not ask it to).

After that, I got `spack env loads` files with many extra/r

[2019-08-28 01:31] ArangoGutierrez opened #12610 "Add Singularity for macOS"
# Singularity Desktop for macOS

Since Spack supports builds on macOS, Singularity now offers a macOS release (Beta Release) allows Linux-based Singularity containers to be designed, built, tested, and signed/verified on macOS. This capability is enabled through two components:

- Singularity itself - a native port of the software to macOS that offers a subset of the functionality currently availa

[2019-08-28 01:50] glennpj opened #12612 "Package patches are not written to environment repo"
When a package is installed in a Spack environment it is added to the repo contained in the environment directory. However, the patches for the packages are not written to the repo package directory which makes the repo not usable for rebuilding anything that had patches.

For example, here is the default package directory for julia:
[code]
And here is the directory in the environment repo:
[code]

[2019-08-28 02:15] adamjstewart opened #12613 "Conditional test dependencies not added to spec"
Something major must have broken very recently, because this bug didn't exist 3 weeks ago when I was working on #12170.

I'm trying to install numpy, but when I run the unit tests, it turns out `pytest` isn't added as a dependency. The package contains:
[code]
If I run:
[code]
it doesn't add the `py-pytest` dependency. But if I do:
[code]
it does add the `py-pytest` dependency.

[2019-08-28 02:24] chhschou opened #12617 "Installation issue: gpgme"
### Steps to reproduce the issue
spack install gpgme

[code]

### Platform and user environment

Please report your OS here:
[code]
### Additional information

Sometimes the issue benefits from additional details. In these cases there are
a few things we can suggest doing. First of all, you can post the full output of:
[code]
[code]
[spack-cc-gpgme-d6wpjys.in.log](https://github.com/spack/spack/fi

[2019-08-28 06:46] StenKnudsen opened #12623 "mesa-glu@9.0.0%gcc@4.8.5"
Hello Spack.io

Thanks in advance for your great product.

However i am struggling with mesa-glu@9.0.0%gcc@4.8.5.
I'm an on a offline RHEL site locked with the default RHEL 7.6 installation. I have created a spack-mirror using a spec file where I have included the lib above.
But there seems to be a compiler diff problem: "%gcc@:5.0.999" conflicts with "llvm@8:"

The problem can be reproduced by ex

[2019-08-28 09:38] weijianwen opened #12628 "System paths may get into generated module files"
Spack generates modules with /usr/bin for intel compilers and libs, which leads to issues after unloading environment modules. Similar issues are mentioned in #5201 . It is marked as resolved by #5460 . But I can still reproduce this issue on the latest Spack.

### Steps to reproduce the issue

[code]

### Information on your system

Linux 3.10.0-514.el7.x86_64 #1 SMP Tue Nov 22 16:42:41 UTC 2016

[2019-08-28 17:30] naromero77 opened #12633 "feature: Sanity check on values of install_tree and build_state values in config.yaml"
*Please add a concise summary of your suggestion here.*
There should be a check that the `install_tree` directory is not a subdirectory of `build_stage` in config.yaml.

Otherwise, by typing:
`spack clean`

All your packages are blown away.

### Rationale

*Is your feature request related to a problem? Please describe it!*

It was an oversight on my part, but I set-up `config.yaml` as follows:
[na

[2019-08-28 20:45] RemiLehe opened #12636 "Unable to `spack load` packages in Spack Docker container"
I recently downloaded and booted into one of the Spack Docker container (`spack/ubuntu-xenial`), but was then unable to execute `spack load` commands.

### Steps to reproduce the issue

[code]

### Error Message

[code]

### Information on your system

This was tried on ubuntu 16.04, with Docker version 18.03.0-ce, build 0520e24.

[2019-08-28 21:11] #12613 closed, assigned to nobody

[2019-08-28 21:12] tldahlgren commented on #12613
Caches can lead to some "interesting" behaviors.

[2019-08-28 21:46] omsai commented on #12586
Yes,  `OMPI_SKIP_CXX` is the fix.  The good news for you is you don't need change anything with GDAL; it's a bug in HDF5.

It turns out `OMPI_SKIP_CXX` is an include directive, not an environmental variable; I'm too used to Intel MPI's approach of environmental variables affecting runtime behavior.

The real culprit is HDF5 linking to C++ bindings even when C++ bindings are turned off per message

[2019-08-28 21:55] adamjstewart commented on #12586
You can keep the bug open, just add "Fixes #12586" to the first comment of your PR.

[2019-08-29 00:05] odoublewen commented on #5424
Today I did a fresh clone of spack, removed `$HOME/.spack`, and tried to `spack spec gtkplus` and got this:

[code]

Is something broken?

[2019-08-29 00:31] scheibelp commented on #11396
@liamrpowell I haven't seen a response to https://github.com/spack/spack/issues/11396#issuecomment-494550009 for a few months so I am going to close this. If you can still replicate the issue feel free to reopen the bug (in which case could you try the suggestion at https://github.com/spack/spack/issues/11396#issuecomment-494550009?)

[2019-08-29 00:31] #11396 closed

[2019-08-29 00:39] scheibelp commented on #5424
@odoublewen regarding https://github.com/spack/spack/issues/5424#issuecomment-525968580

That is not the same as this issue: yours is a concretization error and this issue is a built error (post concretization).

Your issue, like https://github.com/spack/spack/issues/9753 and https://github.com/spack/spack/issues/11659, is an instance of #2632. I will collapse this comment and https://github.com/s

[2019-08-29 02:49] #12586 closed

[2019-08-29 07:39] mayrmt opened #12644 "Installation issue: CMake@3.13.0"
### Steps to reproduce the issue

I'm trying to install `cmake@3.13.0` into an environment. Here's the environment's `spack.yaml`:
[code]

The compiler is gcc 9.2.0 installed via HomeBrew.

Here's the spec for cmake:
[code]

And here's the build error:
[code]

And the full build log:
[buildlog_cmake.txt](https://github.com/spack/spack/files/3554322/buildlog_cmake.txt)

### Platform and user enviro

[2019-08-29 16:39] naromero77 commented on #12633
@tldahlgren Yes, if `spack clean` only subdirectories with a hash (or are .lock) that would be enough to close this issue. Is this https://github.com/spack/spack/pull/12516 stalled or does it just need to get merged in?

[2019-08-29 16:55] tldahlgren commented on #12633
I think it's close.  I have some feedback to address, such documentation.

[2019-08-29 17:27] adamjstewart opened #12647 "pytest tmpdir too long for gpg tests on macOS"
When I run `spack test packaging` on macOS 10.14.6 with Python 3.7.3, I see the following error:
[code]
I filed a bug [here](https://github.com/pytest-dev/pytest/issues/5802) and it looks like there are ways to manually configure the `tmpdir` directory. This wasn't caught by Travis because we don't have `gpg` installed, so those tests are skipped.

@alalazo

[2019-08-29 17:29] eugeneswalker opened #12648 "Binary Relocation in Py3: string + byte concatenation error"
There are multiple places inside /lib/spack/spack/relocate.py where strings and bytes are concatenated, which is not allowed in Python 3. For instance, if you try to install a package from binary cache (`spack buildcache install <spec-available-at-buildcache>`), using Spack+Py3, the process fails with an error from line 323 of lib/spack/spack/relocate.py complaining about this. There are at least

[2019-08-29 18:00] lee218llnl commented on #12488
#12579 has been merged. Thanks.

[2019-08-29 18:00] #12488 closed

[2019-08-29 20:05] mwkrentel opened #12650 "external packages: spack finds wrong prefix for cuda from module on Cori"
I'm seeing a problem where spack finds the wrong prefix for a cuda
module.  IMO, this has to be either a bug with the module entry or
else a bug in how spack reads the module, and I'm asking for a ruling.

This is on cori at NERSC, a Cray machine with GPUs on some compute
nodes.  I created a dummy package that just adds a few dependencies
and has a trivial install() method that prints the `spec[..

[2019-08-29 20:50] tldahlgren opened #12651 "tests: test_stage fails when run with `-k`"
It appears the `test_stage` test fails when run tests filtered on stage.

### Steps to reproduce the issue

[code]

### Error Message

The test checks to ensure the `mock_stage` directory was used and fails.  In the first case, the first default`config:build_stage` directory is used for staging.  In the second case, the first path in the `config:build_stage` directory of `test/data/config.yaml` is

[2019-08-29 21:29] Sinan81 commented on #12398
On a Vagrant Centos7 box tested that TF v0.18.1 builds once link.patch is commented out (gcc@4.8.5)

[2019-08-29 21:46] ajaymur91 opened #12652 "intel parallel studio: broken URL"
intel parallel studio download issue:
Attempted direct download from intel.com but seems like registration+email verification is required. Also the files are rather large (~5GB) for download to personal computer and re-upload to HPC cluster.

### Steps to reproduce the issue
[code]

[2019-08-29 21:58] Sinan81 commented on #12398
v0.19.2 fails
[code]

[2019-08-29 22:35] ajaymur91 commented on #12652
Resolved:
New working URL updated in
.../packages/intel/package.py

[2019-08-29 22:35] #12652 closed

[2019-08-29 23:58] odoublewen opened #12654 "Installation issue: gtkplus"
The merge of PR #12568 broke gtkplus at least for me.  Ever since that merge, I get a build error that configure is looking for `cairo-gobject`.

I've been working with @hartzell on a fix, and I'm going to let him post what appears to be the solution, because he is the one that found it and explained it to me.

### Steps to reproduce the issue

[code]

[code]

### Platform and user environment

Pl

[2019-08-30 02:34] oracleLee commented on #12240
I‘ve solved the first problem the last few days.Version conflicts can be achieved by lowering the version requirements of one of the software.
`$ spack install trinity@2.6.6 %gcc@5.4.0 ^r@:3.5.3 ^r-edger@3.22.3 ^r-biocgenerics@0.26.0 ^py-numpy@1.16.4`

The above command make trinity@2.6.6 compile.
Anyway,compiling a software requires different versions of software support is a very troublesome pro

[2019-08-30 04:13] tylerjereddy opened #12661 "spack load -r portability across all supported shells"
I just have an informal reproducer for now, but I can use command sequences like the following on hpc nodes and local Ubuntu machines to produce different results with different shells--bash seems to properly recurse through the `spack load -r package` module loads, while `tcsh` and `csh` appear to only load the target and not recurse though the dependent modules.

In reproducer.sh (with i.e., app

[2019-08-30 04:15] tylerjereddy commented on #12661
Maybe I'll take a shot at enabling the recursing in tcsh because I need it. Guidance for regression tests might be useful though.

[2019-08-30 05:02] adamjstewart opened #12662 "external package: path extracted from module does not exist and contains colons."
I'm getting a weird warning message with the `intel-parallel-studio` module on my cluster:
[code]
However, both of those directories do exist:
[code]
The module file contains:
[code]

[2019-08-30 09:59] olesenm commented on #12442
Change merged in, but issue didn't get closed

[2019-08-30 09:59] #12442 closed

[2019-08-30 14:46] jrood-nrel commented on #12628
I think this is similar to an issue I made too https://github.com/spack/spack/issues/9639

[2019-08-30 17:33] #12612 closed

[2019-08-30 17:47] #12654 closed

[2019-08-30 18:51] Sinan81 commented on #12398
I just realized that it helps to use openjdk@1.8 as opposed to the latest.

[2019-08-30 19:06] mwkrentel opened #12665 "spack compiler find does not find FE compilers on Cray"
I'm seeing a problem on Cray where `spack compiler find` does not
identify the FE compiler modules, at least for GNU.

Cray has several modules for compilers and separate FE and BE arch
types.  For GNU at least, the raw modules are front-end compilers.
It's only the Cray wrappers (cc, CC, ftn) that add the back-end
specific options.  I'm not sure how Intel, PGI or Clang handle this.

For example,

[2019-08-30 20:29] scheibelp commented on #12240
Sorry you had to try all that!

This is another instance of https://github.com/spack/spack/issues/2632 (now added to https://github.com/spack/spack/wiki/Issue-Disambiguation) although the precise manual constraints required will differ in each case. We are actively working on automatically resolving more complex constraint interactions like this. In the meantime the constraints will have to be exp

[2019-08-30 20:33] omsai opened #12667 "Installation issue: netcdf"
Looks like a parallel build failure bug?  Works once I run `spack -d install -j 1 $spec`

### Steps to reproduce the issue

[code]

### Platform and user environment

Please report your OS here:
[code]
and, if relevant, post or attach:

[code]

to the issue

### Additional information

Sometimes the issue benefits from additional details. In these cases there are
a few things we can suggest doing.

[2019-08-30 20:48] scheibelp commented on #12667
It looks like there is no failure message when you run `spack install ioapi ^netcdf+parallel-netcdf % gcc@9.1.0` but that it stops and prompts you for a patch, are you saying that when you run `spack -d install -j 1 $spec` that it proceeds normally?

[2019-08-30 21:05] scheibelp commented on #12563
That is currently the case. I think the `mfem` package should retrieve `blas` libs directly rather than via `hypre` (although it would be great for Spack to have better support for this). If you have multiple distributions of `blas` in `packages.yaml` this could be problematic (i.e. not well-supported by Spack), even if you specify the `blas` dependency for `hypre` as you did in your example.

If

[2019-08-30 21:18] scheibelp commented on #12560
It appears the `py-chardet` requires `pytest-runner`: it looks like this dependency is not currently recorded in the Spack `py-chardet` package. Adding `py-pytest-runner` as a `py-chardet` dependency (I think the `build` deptype is appropriate) should resolve this issue.

Could you confirm that addresses your issue? If so I can submit a PR to make that change (or you can do so and I'll merge it).

[2019-08-30 21:40] scheibelp commented on #12606
For me the following sequence works fine:

[code]

As a sanity check, are you executing these commands in a folder with a `spack.yaml`? Or have you had another Spack environment activated when running these commands (that *shouldn't* be a problem but could be causing issues).

[2019-08-30 21:44] citibeth commented on #12606
On Fri, Aug 30, 2019 at 5:40 PM Peter Scheibel <notifications@github.com>
wrote:

yes

Now that Spack auto-activates environments without my consent, I have no
idea.  I certainly don't want to activate any environments.

-- Elizabeth

[2019-08-30 22:09] Sinan81 commented on #12398
This developer applies a jdk patch for v0.25.1 https://github.com/vbatts/copr-build-bazel/tree/01a8b80dec0c04b458e4d674e1bc3f024306cfda

[2019-08-30 22:13] Sinan81 commented on #12398
for v0.24.1: in the following link jdk 11 is used for the build and a jdk patch  is applied

https://github.com/vbatts/copr-build-bazel/tree/01a8b80dec0c04b458e4d674e1bc3f024306cfda

[2019-08-31 18:12] mwkrentel commented on #12665
Ok, I did the binary search and found the regression.
It's from 6d56d4545472 and #10190.
ping @alalazo

My memory was a bit off.  `spack compiler find` (with no arguments)
never found FE compilers on Cray, except for `/usr/bin/gcc`.

BUT, `spack compiler find /opt/gcc/7.3.0` did used to work and identify
this as a FE compiler.  Before the commit, I get,

[code]

And after (with a fresh compilers.y

[2019-08-31 20:10] omsai commented on #12667
Yes on both counts.

[2019-09-02 03:43] tgamblin commented on #10664
@scheibelp is working on adding a feature to mirror *all* of Spack quickly, so that we can deploy the long-wanted source mirror.  Once we have that, a mass sha256 conversion should be pretty easy.  Assigning this to him.

[2019-09-02 07:22] StenKnudsen commented on #12623
Hello again.
My issue seems to be due to a spack version mismatch.

On the offline site I was running the official spack-0.12.1 version. Whereas on the workstation where I was creating the spack-mirror for the offline site I was running the HEAD of spack of github version.
This was not a good idea regardless of defining specific version and specific compiler+its version

So problem is now resolved

[2019-09-02 07:22] #12623 closed

[2019-09-02 13:18] albestro opened #12684 ""Extracted path from module does not exist": Truncated path from module"
I'm getting the same warning message, for which I may have found the root cause, even if the problem may be slightly different.

### Steps to reproduce the issue
I get a warning when I do `spack spec llvm@8.0.0`, which requires python. For the latter one, I changed `packages.yaml` to use a module provided by the system.

The interesting line inside the python module is
[code]

### Error Message
[c

[2019-09-02 13:22] albestro commented on #12684
By looking at the code, here it is the source of the warning

https://github.com/spack/spack/blob/4e487bf308f80bfea2365565f5b2da3acdaeb757/lib/spack/spack/util/module_cmd.py#L105-L108

so, by following `get_path_from_module_contents` the first returning branch is the one relative to `LD_LIBRARY_PATH`

https://github.com/spack/spack/blob/4e487bf308f80bfea2365565f5b2da3acdaeb757/lib/spack/spack/util

[2019-09-02 13:59] albestro commented on #12684
By looking into it deeper, I think that the problem is that if there is an `LD_LIBRARY_PATH` entry, it returns a path at every cost, while I think that it would be better to go on checking with other kinds of module file entries and return a path just if it finds what is looking for.

For the `LD_LIBRARY_PATH` branch, it is looking for the sub-directory `/lib`, but I would add a test for `PATH` th

[2019-09-02 14:01] michaelkuhn commented on #12667
I just gave this a try: While netcdf builds for me, ioapi does not due to a checksum error (it seems you need an account to get access to the tarballs so I gave up at this point). The patch in @omsai's output seems to come from the perl package. :confused:

[2019-09-02 20:00] opadron commented on #12636
Ok, so while looking into this issue, I started reworking how the various shell scripts in the docker images work on startup, to both address this issue as well as to provide downstream images that might want to build spack packages a cleaner way to handle starting up and shutting down the ssh server for MPI applications.  To be clear, I still think that work is worthwhile.

However, after doing m

[2019-09-03 02:24] #2638 closed

[2019-09-03 15:04] albestro commented on #12662
@adamjstewart

I've given a first quick look at it, and a thing caught my eye.

It looks for the module path in `LD_LIBRARY_PATH` that contains multiple paths separated by colons.

The pattern is something like `<...>/slib:<...>/lib:<...>`

Without checking thoroughly into the code, I would say that the problem is related to the fact that it looks for "/lib" in the full string (all colon-separated

[2019-09-03 15:55] CalvinDSeamons commented on #12560
Sorry for the late response. Adding `depends_on('py-pytest-runner', type='build')` inside of `py-chardet/package.py` fixes the issue and charliecloud/0.10 can build fully from the mirror now.
Thanks for your help.

 I don't have correct access rights to make my own branch so If you just want to submit a PR I'd appreciate it.

[2019-09-03 19:21] Sinan81 commented on #12398
Easybuild uses jdk8 to compile v0.25: https://github.com/easybuilders/easybuild-easyconfigs/blob/master/easybuild/easyconfigs/b/Bazel/Bazel-0.25.2-GCCcore-8.2.0.eb

[2019-09-03 21:56] #12560 closed

[2019-09-03 21:58] scheibelp commented on #12560
Thanks for checking that!

if you are so inclined in the future, you can make a fork of Spack and submit PRs here via that (which should not require any special permissions).

[2019-09-03 22:35] becker33 commented on #12650
@mwkrentel I can tell you exactly why this is happening. The problem is the heuristics we use to extract paths from the modules will find the first command affecting `LD_LIBRARY_PATH` and detect `/usr` as the prefix.

I'm not quite sure what the best change to the heuristic is. We detect based on `LD_LIBRARY_PATH`, `CRAY_LD_LIBRARY_PATH`, `<pkg>_DIR`, `PATH`, and additions of `-L` or `-rpath` flag

[2019-09-03 22:38] becker33 commented on #12662
@albestro you're absolutely right about what the problem was. It looks like I need to rewrite the heuristics in `lib/spack/spack/util/module_parsing.py`. As I mentioned in #12650 I'm not sure exactly what the heuristic needs to be, but it definitely needs to be more sophisticated.

[2019-09-03 22:39] becker33 commented on #12662
I've removed the `modules` label, as that label is generally for Spack-generated module files, not for internal module parsing.

[2019-09-03 22:42] becker33 commented on #12665
@alalazo I'm assigning this to you since @mwkrentel bisected it down to a commit from your PR #10190.

[2019-09-03 23:31] #12485 closed

[2019-09-04 00:08] becker33 commented on #12650
@mwkrentel can you confirm that #12693 resolves your issue?

[2019-09-04 00:08] becker33 commented on #12662
@adamjstewart can you confirm that #12693 resolves this issue?

[2019-09-04 04:29] tgamblin commented on #12547
@mamelara: did you figure out what is causing this?  I think you need to either patch `font-util` or modify the package.

[2019-09-04 05:42] mwkrentel commented on #12650
Yes, for this example, your patch produces the right answer:
`/usr/common/software/cuda/10.1.168`

Thanks!

[2019-09-04 05:50] mwkrentel commented on #12650
@becker33 As for heuristics, I also don't know a clear "best" answer.
Some observations:

1. When writing heuristics, you want to be very careful not to "fix"
the rules for one case and end up breaking another case that used to
work.

2. `/usr` is an unusual place to put a module.  I could understand
`/usr/local/<package>`, but `/usr` should be suspicious.

3. In the above `cuda/10.1.168` example,

[2019-09-04 08:29] oracleLee opened #12695 "Installation issue: perl_dbfile"
**perl-dbfile** is a one of packages to install trinity ， I've experienced the following problem while building
$ spack install perl-dbfile@1.840 %gcc@5.4.0

[code]

Furthermore , while encountering the error of `'make' '-j4'` what else I can try to solve it ?

[2019-09-04 08:36] oracleLee commented on #12240
Thank you for your answer.There are indeed many different compilations between different environments.
As far as I know, R has version only 3.5.0:3.5.3, why is there a version such as R@3.5.9 in spack?

[2019-09-04 09:10] flxmr opened #12696 "Dealing with secondary dependencies when using a nonstandard-libc/crosscompiler"
Hey all,
so I've been trying to use spack to build my toolchain using a custom libc (as it's either that or using bazel to get a recent working tensorflow-gpu version on our "old" SL7-cluster). After trying to build libc with system/spack compilers for a while, but always getting RPATH related errors (which google didn't help with anymore), I tried crosstools-ng to build a full toolchain with a "m

[2019-09-04 10:25] alalazo commented on #12665
I used to have access to Piz Daint, but I realize it's not the case anymore since a couple of days. I'll try to get a username on any Cray asap to test this. In the meanwhile if anybody could provide a `xfailing` unit test I could work on that.

[2019-09-04 13:39] solalito opened #12701 "Installation issue: cp2k"
### Steps to reproduce the issue

[code]

### Platform and user environment

Please report your OS here:
[code]

### Additional information

The website hosting the libxc library is down as it is often the case (see https://github.com/pyscf/pyscf/issues/51).

### Steps to fix (or hack?) it

I was actually able to install cp2k but the solution is not elegant at all. Note that I am a new spack user

[2019-09-04 14:44] adamjstewart commented on #9232
What happens if the module in question is already loaded? None of the `PATH`s will change, and Spack won't be able to locate anything.

[2019-09-04 14:45] adamjstewart commented on #6954
This issue is now resolved. I regularly use `source share/spack/setup-env.sh` on BW.

[2019-09-04 14:45] #6954 closed

[2019-09-04 14:47] adamjstewart commented on #5114
@pramodskumbhar Can you see if this problem still exists? `setup-env.sh` was recently overhauled.

[2019-09-04 14:48] adamjstewart commented on #2983
No response since July, so I'm assuming this issue is no longer valid.

[2019-09-04 14:48] #2983 closed

[2019-09-04 14:59] flxmr commented on #12696
Well, turns out adding "-Wl,--allow-shlib-undefined" to ldflags works perfectly. After fixing up some bundled cmake-dependency to work with the compiler/libc-combination, it seems I've found a quite convenient way to get spack use a new libc.

[2019-09-04 14:59] #12696 closed

[2019-09-04 17:46] becker33 commented on #9710
@kellyrowland can you confirm this is fixed by #12693?

[2019-09-04 17:48] becker33 commented on #9126
@srinathv is this resolved by #12693?

[2019-09-04 17:50] becker33 commented on #5273
@parmodskumbhar is this resolved by #12693?

[2019-09-04 17:52] becker33 commented on #9154
@sleak-lbl I think #12693 should resolve the issues you've seen with module parsing

[2019-09-04 18:47] adamjstewart commented on #9154
I've removed this from "Most Wanted" since BW will be retired at the end of the year.

[2019-09-04 21:26] becker33 commented on #12650
@mwkrentel what you've described is fairly similar to what I did in the PR. I gave each line of the module a vote, instead of each variable. Each line gets to cast its vote if it matches one of several patterns that suggest it is a path to the package.

Actually, saying each line gets a vote is slightly misleading. Many of the patterns check for colon-delimited lists. If a line has several colon-d

[2019-09-04 21:38] mwkrentel commented on #12650
@becker33 Oh, sorry, I didn't mean to steal your idea.  I just looked
and the module and thought, "A person can look at this and clearly get
the right answer, so how I describe that as an algorithm."

[2019-09-04 21:53] imnasnainaec opened #12709 "Installation issue: python@3.7.4"
I was successfully able to install python@3.7.4 with compiler gcc@4.8.5 and gcc@8.1.0, but it fails when I try with the most up-to-date gcc@9.2.0.

---

### Steps to reproduce the issue

[code]
[...]
[code]
[...]
[code]

### Platform and user environment

[code]

[2019-09-04 21:55] becker33 commented on #12650
Oh no worries at all. I think if more issues come up here it would be worth considering your idea of discounting the votes of some lines based on how clear a signal they give (A line with multiple paths is less of a signal, etc).

[2019-09-04 22:51] AndrewGaspar opened #12710 "Support relative file paths in spack.yaml mirrors section"
The "mirrors" section of "spack.yaml" should support file paths that are relative to the spack.yaml.

### Rationale

I have some dependencies I've "vendored" into my source control via a spack mirror for systems where those dependencies aren't accessible. I'd like the included spack environment to point to that mirror. Currently mirrors can not be to a relative path.

### Description

Allow relati

[2019-09-05 03:04] oracleLee opened #12712 "Installation issue：canu"
I've been compiling same software with different compilers in a few days. **canu** can be installed by gcc@8.3.0 and gcc@5.4.0 but by intel@19.0.4 not , some libraries I changed the way to compile with gcc@5.4.0 ,final the errors came.
[code]

I hope to get a solution soon.

[2019-09-05 11:57] solalito opened #12716 "Installation issue: pflotran"
### Steps to reproduce the issue

[code]

### Platform and user environment

Please report your OS here:
[code]

### Additional information

Related issues: #7404 and #7145

[2019-09-05 16:37] vsoch commented on #12297
hey @odoublewen I'm giving this a try, and I'm hitting this error:

[code]
Any ideas for what to try? The various google searches / solutions offered didn't seem to work, but maybe I missed the right one! :)

[2019-09-05 18:42] odoublewen commented on #12297
Can I see what you have so far?  Do you have spack forked somewhere?  Not sure I will be much use, but I'm usually willing to hit my head against a wall a little -- occasionally I find a loose brick or two :)

[2019-09-05 19:31] vsoch commented on #12297
Yes!

[code]

The commented out bits are what I've been playing around with - I had thought that adding flags to those commands could help (but haven't so far).

[2019-09-05 19:33] vsoch commented on #12297
And here it is packaged with a branch: https://github.com/researchapps/spack/blob/add/shadow-uidmap/var/spack/repos/builtin/packages/shadow-uidmap/package.py

Sorry it took me a bit - I had cloned with depth 1 and had to redo it!

[2019-09-05 21:01] SheraLee opened #12722 "MPI wrapper compiler"
I am trying to create a spack package for p3dfft.3 [https://github.com/sdsc/p3dfft.3].
I start with trying on SDSC Comet with default Intel Compilers.

The package depends on FFTW and MPI, in this particular platform, we use mvapich2.

**My  python script:**
`class P3dfft3(Package):
    homepage = "https://www.p3dfft.net"
    url      = "https://github.com/sdsc/p3dfft.3/archive/master.tar.gz"

[2019-09-05 23:14] floquet opened #12726 "Installation issue: Cray ARM nodes, Cray compiler, Allinea compiler - Open MPI fails in configure phase"
### Overview

Signal error: **Could not run a simple Fortran program**

Configure failures occur for all `Open MPI` versions tested: `4.0.1, 3.1.4, 3.0.4` using the Cray `cce/9.0.1`, and Allinea `arm/19.2` compilers.

Backup files for this issue are from the `cce/9.0.1` run.

GCC compilers successfully build Open MPI on these nodes.

### Steps to reproduce the issue

[code]

### Platform and user

[2019-09-05 23:28] raon62 opened #12727 "Error building zlib while building scorep with clang on IBM linux cluster"
I have loaded modules:
1) cuda/9.2.148   2) StdEnv’  3) clang/upstream-2019.03.26   4) spectrum-mpi/rolling-release
 
 
In ~/.spack/packages.yaml, I have added:
packages:
  mvapich2:
    paths:
      mvapich2@2.3%intel@19.0.4 arch=rhel7-x86-64: /usr/tce/packages/mvapich2/mvapich2-2.3-intel-19.0.4
 
  spectrum-mpi:
    paths:
      spectrum-mpi@rolling-release%clang@9.0.0 arch=linux-rhel7-ppc64le:

[2019-09-06 02:11] adamjstewart opened #12730 "Spack Environments cannot handle space in PATH"
Spack Environments commands fail in **horrible** ways if your `PATH` contains spaces.

### Steps to reproduce the issue

[code]

### Error Message

[code]
This is especially troublesome on macOS, where a lot of system libraries are installed in directories containing spaces, like `/Library/Application Support/`. In this case, users do not have an option to avoid spaces in their `PATH`.

@zchen105

[2019-09-06 02:15] adamjstewart opened #12731 "Spack Environments does not set all env vars during activation"
When I run `spack env activate ...`, Spack automatically adds all of my packages to my `PATH`, but it doesn't set all environment variables. In particular, when I build `gdal+java+mdb`, it adds a lot of Java dependencies to the environment. These dependencies cannot be found unless `CLASSPATH` is set. I could hack Spack Environments to set `CLASSPATH`, but it would be more robust and predictable i

[2019-09-06 02:22] tgamblin commented on #12731
@becker33 and I talked about this one today.

[2019-09-06 02:30] adamjstewart opened #12732 "Implicit RPATH detection chokes on unexpected output"
I was helping someone set up Spack on their machine, but the simplest `spack compiler find` command crashed when trying to detect implicit RPATHs for an Anaconda-installed gfortran.

### Steps to reproduce the issue

On macOS:
[code]

### Error Message

[code]

### Information on your system

macOS 10.14.6 Mojave

Spack should be more robust in this scenario. As is, Spack fails to detect any compi

[2019-09-06 11:01] alalazo opened #12736 ""run_after" and "when" decorator are incompatible with each other"
Using both the `@when` and `@run_after` decorator on the same method results in weird errors, depending on the order in which they're used.

### Steps to reproduce the issue

Use both decorators on the same method, like:
[code]

### Error Message

Reporting the error description from a conversation with "Sly" on Slack:

### Information on your system

Should not be relevant

[2019-09-06 23:28] odoublewen commented on #12297
OK, so `configure` is failing due to missing `AM_GNU_GETTEXT` macro.

The `autoreconf` command is giving an early warning of the same thing.

[code]

I see you have gettext listed as a dependency.  In my build environment, it does get added to the `CMAKE_PREFIX_PATH`, but from what I can tell online, the macro needs to be defined in one aclocal's `.m4` files.  I don't see any mention of this macro

[2019-09-07 02:34] scheibelp commented on #12712
[code]

It appears boost is a vendored dependency of `canu` (i.e. provided with `canu` rather than explicitly listed in Spack's package.py file for `canu`). Does that file exist? `spack cd canu` will take you to the location where Spack builds `canu`.

If it does, based on looking at this error message in general I'm wondering if Intel occasionally changes its directory to build files (which would

[2019-09-07 13:19] vsoch commented on #12297
Yeah, most of the instructions online came down to editing the configuration files themselves, which didn't seem like the right/best solution.

[2019-09-07 14:58] odoublewen commented on #12297
Yes.  The gettext .m4 files are in their opt directory:

[code]

...and if we add the `gettext-0.19.8.1-vtt4qdhwuaedpphtikxd44tzoc4jnfgu/share/aclocal` directory to the autoreconf command:

[code]

Then we get a lot further into the build.  Failing now due to missing semanage headers.  (selinux headers are okay).

[code]

[2019-09-07 15:16] vsoch commented on #12297
Ah, let me see what I can do with that!

[2019-09-07 15:34] vsoch opened #12749 "bzip2 upstream is "gone" ?"
This was working yesterday, but today the source for bzip2 is returning `410 Gone`:

[code]

Has anyone seen this before (or know a workaround?)

[2019-09-07 15:35] vsoch commented on #8963
I just hit this issue, but with a different mirror, see #12749

[2019-09-07 15:37] vsoch commented on #12749
Actually looks like it's known, I'm editing the package file now:

[code]

[2019-09-07 15:41] vsoch commented on #12749
okay I have a fix, I'll put it in with my current PR.

[2019-09-07 16:20] vsoch commented on #12749
Just kidding I'm an idiot, I didn't have an updated version of develop.

[2019-09-07 16:20] #12749 closed

[2019-09-07 16:22] vsoch commented on #12297
I got it working, but for some reason I didn't hit that semanage.h error... is it because I have ubuntu?

[2019-09-07 16:32] vsoch commented on #8963
Just kidding, my branch wasn't updated, the fix was already done! Sorry about that.

[2019-09-07 17:39] hartzell commented on #12297
This works for me on Owen's system (CentOS 7):

[code]

Associated commentary:

- The package should probably be named "shadow", because:
  1. That's what `spack create` names the package when you hand it the download URL; and
  2. That's what the upstream package is named.
  2. I'm pretty sure that that's what @adamjstewart would tell me to do...
- When dealing with things distributed on GitHub,

[2019-09-07 18:49] vsoch commented on #12297
I’ve been working really hard on this and I already opened a PR, would you mind pushing to my branch so we both are contributors? Mine worked too, but as you point out, it’s flawed :(

[2019-09-07 18:54] vsoch commented on #12297
huh, I had originally chosen the download URLs but changed to package when I saw it used in another package. I wonder if that one is messed up too.

Anyway, I'm happy to change my PR, or if you want credit, you can push to my branch. I'd like to be involved, if that's ok with you...

[2019-09-07 19:49] vsoch commented on #12297
okay I fixed it, sorry for being such an idiot.

https://github.com/spack/spack/pull/12750

[2019-09-07 20:07] hartzell commented on #12297
Go for it!

[2019-09-07 20:25] hartzell commented on #12297
There are reasons to do it both ways, depending.  In general using the download URLs is *lazier*, which as [Larry says](http://threevirtues.com/) is more *virtuous*.  But the devs might not have uploaded half-baked pizzas (yeah, it's lunch time, food analogies abound), you might need to rebuild from scratch and the devs didn't include all of the raw materials in the `download` tarballs, or perhaps

[2019-09-07 20:40] odoublewen commented on #12297
Actually, I was sandboxing on an old centos7 system.  I think that explains why I didn't have the needed SE manage goodies.

[2019-09-07 22:35] adamjstewart opened #12751 "External packages that don't work without loading modules"
A lot of external packages are not built with RPATH support, and so they need `LD_LIBRARY_PATH` to be set in order to use them. However, even if you specify which module needs to be loaded in `packages.yaml`, this env var is blown away.

### Steps to reproduce the issue

packages.yaml:
[code]
[code]
The module file is pretty simple:
[code]
We either need to start loading these module files, or at

[2019-09-07 22:37] adamjstewart commented on #12297
Assuming this is closed by #12750, reopen if not.

[2019-09-07 22:37] #12297 closed

[2019-09-07 22:50] adamjstewart opened #12752 "Cannot locate core MKL libraries"
I'm trying to build something with an external `intel-parallel-studio` installation, but it fails to find the right MKL libraries.

### Steps to reproduce the issue

[code]
[code]
[code]
@mgsternberg @davydden @glennpj @becker33 it looks like all of you have recently edited the `IntelPackage` base class. Let me know if there's any more output you would like to see.

[2019-09-07 23:32] #2757 closed

[2019-09-08 02:06] #3909 closed

[2019-09-08 02:06] #7848 closed

[2019-09-08 03:13] ax3l opened #12760 "CORS for spack.packages.io"
We should add the HTTP header [`Access-Control-Allow-Origin: *`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Origin) for our NGINX service that is serving static JSON content on https://spack.packages.io .

This will allow to include and parse the response in HTML apps, such as https://github.io [pages](https://pages.github.com/), which require these for proper [

[2019-09-08 06:32] alalazo commented on #7358
Hi, there's the same issue building PAPI 5.7.0. Note that the issue is present only when using Python 3 due to [some changes in behavior when processing text files](http://python-notes.curiousefficiency.org/en/latest/python3/text_file_processing.html#). Apparently detecting the encoding of a file [is not an easy task](https://stackoverflow.com/a/436299/771663) - so making it such that we open a fi

[2019-09-09 00:19] #12760 closed

[2019-09-09 10:29] jdomke opened #12767 "Errors installing packages on aarch64?"
current main branch (develop) cannot build any packages
(git hash 02931a82fd506a095ab93d6ad1d0dc416caf141d)

### Steps to reproduce the issue

[code]

### Error Message

[code]

### Possible mitigation

[code]

### Information on your system

System: ThunderX2 (aarch64)
Linux: CentOS Linux release 7.6.1810
Kernel: 4.14.0-115.10.1.el7a.aarch64

[2019-09-09 10:38] alalazo commented on #12767
Can you bisect starting from a commit that is known to be good? I am wondering if this is related in some way to your configuration, but have no access so far to an ARM architecture.

[2019-09-09 10:39] jdomke commented on #12767
last good commit i know if is 4f9131fdc2 (between this and now i have not tried other versions)

[2019-09-09 10:41] alalazo commented on #12767
Can you use [git-bisect](https://git-scm.com/docs/git-bisect) to check where this starts? Just try to install hdf5 at every commit, and mark them good or bad depending on whether they suceed or not.

[2019-09-09 11:00] jdomke commented on #12767
ok, finished bisecting, last good commit is a7e9f477fcfdc5caac4585d7cbf0df85c1829b18

[2019-09-09 11:03] alalazo commented on #12767
Thanks, so probably we need to investigate #7153 i.e. the commit after that.

[2019-09-09 11:09] alalazo commented on #12767
It seems #7153 changes `compilers.yaml`. Did you try already to move your current `compilers.yaml` to some backup area and try to set up again your compilers? (Apologies if I can't be more precise than that upfront, but here I'm flying blind as I don't have any `aarch64` machine to log into).

[2019-09-09 11:12] jdomke commented on #12767
basically i cannot even create a new `compilers.yaml`
`spack compiler find` will already fail

[2019-09-09 11:20] phanousk commented on #11125
For the record, this has been perhaps closed because current git master of charmpp builds and gets installed succesfully.

[2019-09-09 14:22] adamjstewart commented on #12767
This should be fixed by #12756. Can you confirm?

[2019-09-09 14:28] paulbry commented on #12709
Let me preface this all by say I'm not sure what the issue and I just wanted to add some notes that may help.

I ran into the same problem; however, incorrectly assumed it was a due to using `%clang@7.0.1` and decided to simply return to it later. I didn't notice this issue until today.

I was able to install Python without the above error by checking out a previous commit (https://github.com/spac

[2019-09-09 15:33] opadron commented on #12636
Just in case it's not clear from my above findings:

I don't think this is-, or should be considered-, an issue with the docker images; but an oversight in spack that users run into when starting from a completely fresh installation.  It's just that running a new container is a pretty common way to create the circumstances needed to observe this issue.

[2019-09-09 16:12] jdomke commented on #12767
Yes, can confirm that `spack compiler find` and `spack install ...` worked again. Thanks.

[2019-09-09 16:49] ax3l commented on #12636
Ok, so this is a general spack issue and we could work-around it by installing some small package in the docker images by default, e.g. `tar`.

[2019-09-09 18:27] opadron commented on #12636
Depending on how much we want to reuse Spack packages (as opposed to OS-specific packages), it might make sense to take such a change to it's logical conclusion and bootstrap everything Spack needs, only installing what's absolutely necessary from the OS.

[2019-09-09 20:19] sameershende opened #12771 "Installation issue: Python 3.7.4"
### Steps to reproduce the issue

[code]

### Platform and user environment

Please report your OS here:
[code]

### Additional information
Looks like the build command needs to cd to the following Modules directory before compiling:

cd /tmp/sameer/spack-stage/python-3.7.4-hh7uoyvjbzg24abvrux7kz5a6nljluha/spack-src/Modules
[sameer@ Modules]$ ls _struct.c
_struct.c
[sameer@ Modules]$ ls _ctypes/_c

[2019-09-09 20:26] ax3l commented on #12636
Yes, good idea. Just `build-essential ca-certificates coreutils curl git python unzip` and `spack bootstrap` :)

[2019-09-09 21:18] adamjstewart commented on #12771
Duplicates #12709. Let's continue the discussion there.

[2019-09-09 21:18] #12771 closed

[2019-09-09 21:19] adamjstewart commented on #12709
@imnasnainaec @sameershende what do your `compilers.yaml` look like? (`spack config get compilers`). See if removing any suspicious `implicit_rpaths` helps.

[2019-09-09 21:22] adamjstewart commented on #12716
This is a bug in the concretizer that should hopefully be fixed in the next release. In the meantime, you can do:
[code]

[2019-09-09 21:28] adamjstewart commented on #12701
You might be able to find newer versions at https://gitlab.com/libxc/libxc

[2019-09-09 21:45] paulbry commented on #12709
@adamjstewart I can just follow up on my earlier note that removing the `implicit_rpaths` worked in my case even in the latest version of Spack.

[2019-09-09 22:22] scottwittenburg commented on #12331
I have `gpg` version 2.2.4 installed on my machine, where the man page includes:

[code]

That indicates to me that we're relatively safe intending to parse the output of listed secret keys, as long as we use the `--with-colons` option.  The file referenced there, for a recent master, can be viewed online [here](https://git.gnupg.org/cgi-bin/gitweb.cgi?p=gnupg.git;a=blob_plain;f=doc/DETAILS;hb=ref

[2019-09-09 22:33] scheibelp commented on #12667
I'm having trouble replicating this by running `spack install netcdf` but I also don't have access to a RHEL 6 system.

Can you rerun this with `-d` (like `spack -d install netcdf`) and include what Spack prints here? I'm hoping we can replicate the bug by omitting the `-j` argument. If the bug cannot be replicated when running with `-d` (but not `-j`) then can you mention that here?

[2019-09-10 01:29] glennpj commented on #12701
I created a local libxc package that uses the sources from github. If it looks like the www.tddft.org site will continue to be problematic I could work up a PR to start using sources from there for libxc.

[2019-09-10 01:37] glennpj commented on #12752
I went back to def5b237633f6cfa51d5619d34880a993c5d3a32 and see the same behavior with an external parallel-studio. I am not sure whether this is a problem with the Intel base class or in how spack gets the non-standard library paths from an external parallel-studio.

[2019-09-10 05:15] davydden commented on #12752
last time I used intel-MKL (around May), it picked it up for me. I bet it has to do with directory structure of your installation which probably deviates form what Spack expects. Spack's build log contains some debug output of Intel package paths used in MKL that you can use to help debug the problem and see what exactly fails.

[2019-09-10 08:24] oracleLee commented on #12712
Thanks a lot.
I tried `spack cd canu`  and according to the prompts to run `spack stage canu`  before it . The file exist and  the document names `spack-build-out.txt ` content is as follows

[code]

In practice, I have some doubts about the solution:

- I don't know where I can add  `-I` , and ran command `spack install -I canu %intel@19.0.4 ^freetype%gcc@5.4.0 ^libcerf%gcc@5.4.0 ^harfbuzz%gcc@5.

[2019-09-10 11:43] omsai commented on #12667
It turns out that I can only produce the issue only with new spack repos.  If I see the issue once, kill the hung spack with Ctrl + C and re-run it again, it no long appears with or without `--debug`.  So my initial suggestion that the issue was related to jobs with a workaround of `spack install --jobs 1` seems incorrect.

Using `spack clean` is not able to clear whatever state fixes the hang.

@

[2019-09-10 12:26] alalazo commented on #12716
@adamjstewart Are we keeping track of all the issues that are different manifestations of this concretizer bug somewhere?

[2019-09-10 13:29] ajw1980 opened #12779 "Spack is very slow with a large number of packages"
I've built python and and R with many packages for each of them and spack becomes very slow to install packages (or also spack spec -I). When I strace spack while it is running, it looks like it repeatedly gets locks and reads the index.json for each package. It seems like maybe the locking and DB read should just be done once.

Here's a couple of seconds of strace on `spack spec -I r-caret`:
[cod

[2019-09-10 14:04] adamjstewart commented on #12716
Nope. There's too many to keep track of...

[2019-09-10 14:07] adamjstewart commented on #12779
@tgamblin

[2019-09-10 14:31] imnasnainaec commented on #12709
I updated Spack and reloaded gcc@9.2.0, then python@3.7.4%gcc@9.2.0 installed successfully without any manual modification of compilers.yaml. Is the issue resolved for @sameershende ?

[2019-09-10 14:54] tgamblin commented on #12779
Can you attach the output of `spack debug create-db-tarball`?  Note this will show us what packages you have installed, so don’t do it if this is an issue.

[2019-09-10 14:55] alalazo commented on #12651
Ouch, that means very likely that we have tests that depend on the state left by previous tests to pass :cry: As soon as we have time it could be good to run tests locally with [this plugin](https://pypi.org/project/pytest-random-order/) to find which other tests are showing the same issue.

[2019-09-10 15:29] ajw1980 commented on #12779
Here it is.
[spack-db.xr-develop.5b73b1c50.2019-09-10-102634.tar.gz](https://github.com/spack/spack/files/3596486/spack-db.xr-develop.5b73b1c50.2019-09-10-102634.tar.gz)

[2019-09-10 20:21] freifrauvonbleifrei opened #12781 "Installation issue: superlu-dist"
### Steps to reproduce the issue

[code]

### Platform and user environment
[code]

It may be due to me using the system-installed mpich. from `packages.yaml`:
[code]
where
[code]
please let me know if the system default could cause the issue.

[2019-09-10 20:26] chchang6 opened #12782 "Installation issue: Dakota"
Trying to build Dakota 6.9 on our CentOS system with GCC 9.2.0, and running into CMake errors as follows. All dependencies installed as part of this Spack installation process (other than GCC 9.2, which I installed via Spack earlier).

### Steps to reproduce the issue

[code]

### Platform and user environment

[code]

### Additional information

[code]
[spack-cc-dakota-pix52ac.in.log](https://git

[2019-09-10 23:12] CalvinDSeamons opened #12787 "Installation issue:Go-md2man failing"
### Steps to reproduce the issue
This error is being thrown during the installation of charliecloud/0.10. It occurs in the Go-md2man package. I have found go forums online that hint at the possibility of a naming conflict as `GO` is installed first. Then `Go-md2man` is installed and is creating identical files, thus causing the error. I cannot confirm this is the actual issue at this time however.

[2019-09-11 01:09] scheibelp commented on #12667
I'm wondering if this is related to https://github.com/spack/spack/issues/12709: as a sanity check, if you explicitly remove all `implicit_rpaths` from your `compilers.yaml` file does that happen to resolve it?

(if so, we are actively working on that)

[2019-09-11 02:25] scheibelp commented on #12712
When I say `-I` entries I mean include directories. `spack install -I ...` prints out install status (from `spack --help`. Also, it wouldn't be possible to specify this on the command line because it is dynamic (the include directories are in the staging directory). The Makefile appears to respect `CFLAGS`/`CXXFLAGS`

You can instantiate Spack's build environment for `canu` and invoke `make` with

[2019-09-11 03:27] omsai commented on #12667
I was trying to reproduce the bug in a fresh spack installation and see the issue pop up when installing mpfr:

[code]

[2019-09-11 03:32] omsai commented on #12667
@scheibelp I don't think I have any implicit_rpaths:

[code]

[2019-09-11 16:28] omsai commented on #12667
Good news!  I'm finally able to get a debug trace of the fault.

Here are the output files:

[spack-cc-parallel-netcdf-5qrofcq.in.log](https://github.com/spack/spack/files/3601795/spack-cc-parallel-netcdf-5qrofcq.in.log)
[spack-cc-parallel-netcdf-5qrofcq.out.log](https://github.com/spack/spack/files/3601796/spack-cc-parallel-netcdf-5qrofcq.out.log)

And the steps I used to reproduce the bug:

[cod

[2019-09-11 17:27] opadron commented on #12751
I'd like to throw some support behind adding an explicit `environment:` option to the `packages.yaml`.

As part of the VIS SDK work, we've added `libglvnd`, a GL library that dispatches calls at run time to another GL library that actually implements the interaction with the underlying hardware, and are working on retrofitting glvnd support onto the `mesa` and `opengl` packages.

The problem we're

[2019-09-11 17:51] #12650 closed

[2019-09-11 17:51] #12662 closed

[2019-09-11 17:51] #12684 closed

[2019-09-11 17:51] #9126 closed

[2019-09-11 17:51] #9710 closed

[2019-09-12 12:24] alalazo opened #12796 "Reduce the verbosity of the 'mirror' command"
Most of the times the `spack mirror` command is too verbose. This is a proposal to reduce the number of messages displayed by default and demote most of the current ones to debug level.

### Rationale

As an example I'll post what happens when a user tries to update a mirror with a few tarballs already in:
[code]
It's basically a wall of text to download 5 tarballs.

### Description

What I'd like

[2019-09-12 12:35] phxyz12 opened #12797 "spack reindex uses full hash length although install_hash_length: 8 in config.yaml"
Dear all

I updated spack today (pull onto my install from March this year). When I try to reindex the package db, I get errors like this:

[code]

It seems that Spack tries to use full length hashes in the name of the package install dir. Actually, in my config.yaml I've set install_hash_length: 8 and hence the real install dir of the package in the error above is:

[code]

### Steps to reproduce

[2019-09-12 16:08] chissg opened #12798 ""spack test" wrongly adds directory to config.yaml"
Using the current `HEAD` of `develop` (5a6d060b5), it appears that packages are being staged in an apparently inappropriate place:

[code]

The relevant section of my `config.yaml` says:

[code]

Is this some hysteresis / cache pollution caused by prior use of `spack test`, or something else? @tldahlgren?

Thanks,
Chris.

[2019-09-12 16:48] chissg opened #12799 "xrootd URL bad redirect"
Currently, requests to `http://xrootd.org/X` are redirecting to `https://xrootd.slac.stanford.udu/` home page regardless of `X`, causing install attempts to fail. I have a request in to fix the redirection, but if not we will have to amend the recipe.

[2019-09-12 18:54] chissg opened #12800 "upcxx: CROSS warning pollutes all invocations of Spack"
Since the addition of `upcxx`, **all** invocations of Spack on systems without `aprun` result in a warning message:
[code]
This is somewhat sub-optimal to say the least, and results from the invocation of `detect_scheduler()` in order to provide the default of the `scheduler` variant, which is executed whenever the recipes are parsed.

I would suggest that an alternative scheme be found to set the

[2019-09-13 13:48] chissg commented on #12800
@tgamblin Apologies for dinging when there's already a PR to fix it. I checked issues prior to filing, but not PRs.

[2019-09-13 15:49] JanKleine commented on #12752
I'm having the exact same issue when trying to install parmetis with an external intel parallel-studio. I made sure that the module file for parallel-studio adds the necessary libraries to `LD_LIBRARY_PATH`. The build log seems to be missing, the corresponding folder is empty.

[2019-09-13 17:27] odoublewen opened #12829 "cryptsetup: UUID library not found"
New cryptsetup package was merged into develop just yesterday (#12762).

I was quite sure it was working when merged.  I tested a couple hours before, by rebasing my develop fork and merging.  And it worked!   But today, working from develop HEAD (currently at 3f06d5c12), it looks broken:

[code]

I thought I was going mad, but by trial and error, I found that if I do a `git revert b95b4bb9e`:

[c

[2019-09-13 17:34] odoublewen commented on #12829
I did a diff of `spack spec cryptsetup`, and the only difference is the presence of the new variant `~column_metadata` which is off (by default) as expected.

[code]

I remain thoroughly confused.  Here's the full spec for cryptsetup, from current HEAD (3f06d5c):

[code]

[2019-09-13 19:20] huqy opened #12830 "Help needed on how to use intel-mpi in intel-parallel-studio installed within Spack"
Hello,

I followed the instruction "[Installing Intel tools within Spack](https://spack.readthedocs.io/en/latest/build_systems/intelpackage.html?highlight=intel#installing-intel-tools-within-spack)" installed `intel-parallel-studio/cluster.2018.3` successfully. But I wasn't able to make Spack select intel-mpi package in the studio. Here are what I tried:

---

### Without configuring packages.yaml

[2019-09-13 20:01] scottwittenburg commented on #12331
#12831 contains the fix I described above.

[2019-09-13 20:27] odoublewen commented on #12829
It appears that commenting out this **one line** in sqlite/package.py fixes cryptsetup:

[code]

I remain thoroughly confused!

[2019-09-13 20:39] odoublewen commented on #12829
I'm still confused, but I note that doing `spack spec -f` yields an interesting difference:   python and util-linux get rebuilt with a different hash -- although the spec appears to be identical.

The first file in the diff is the HEAD of develop, with broken cryptsetup.
The second file in the diff is with sqlite's `variant('column_metadata', ...` line commented out.
[code]

[2019-09-13 20:45] Sinan81 commented on #12731
@adamjstewart is there an alternative to environments that 100% works? I wonder if a meta package would work

[2019-09-13 20:46] adamjstewart commented on #12731
The alternative is to install environment modules and `module load` all the packages you need.

[2019-09-13 21:23] adamjstewart commented on #12830
A few comments to help you understand the situation:

1. Spack has an idea of "virtual packages". That is, a package like FFTW can _require_ a virtual dependency on MPI, but many different packages can _provide_ MPI (mvapich2, mpich, openmpi, intel-mpi, etc)

2. The Intel ecosystem in Spack is a bit complex. `intel-mpi` is a completely different package than `intel-parallel-studio+mpi`, although b

[2019-09-13 21:33] adamjstewart commented on #1035
Closing this as a duplicate of #921

[2019-09-13 21:33] #1035 closed

[2019-09-13 21:38] adamjstewart commented on #1426
Tried this again on develop and it looks like this bug is no longer present!

[2019-09-13 21:38] #1426 closed

[2019-09-13 21:39] adamjstewart commented on #1819
I no longer have access to a Fedora machine to test this, but I haven't had any problems building glib in a long time. I'm going to assume this is no longer an issue.

[2019-09-13 21:39] #1819 closed

[2019-09-13 21:39] huqy commented on #12830
Hi Adam,

Thanks for your prompt comments. I tried as suggested but still get the same error. Any ideas?

[code]

[2019-09-13 21:52] scheibelp commented on #12829
If Spack is failing to find this library (even given that it is listed as a dependency) then I'm wondering if this is an instance of https://github.com/spack/spack/issues/12709: can you try manually setting the `implicit_rpaths` entry for `gcc@4.8.5` in your `compilers.yaml` or try out the bugfix branch at https://github.com/spack/spack/pull/12789?

The hash of any package depends on the hash of a

[2019-09-13 22:45] Sinan81 commented on #12731
Is there a simple way to make sure that all packages are compatible with each  other (concretize together?) as in environment modules?

[2019-09-14 00:15] odoublewen commented on #12829
Thanks, that much makes sense.

I grabbed that branch and merged it into the HEAD of develop (in my fork), and tried the build install again -- but still get the same error.

But the weirdness of this is that it is *not* failing to find it, when this line is removed from `sqlite/package.py`:
[code]

It seems like there is something fundamentally wrong, if the addition of a variant that defaults to

[2019-09-14 00:27] hartzell commented on #12829
@odoublewen -- running a build now....

[2019-09-14 00:46] hartzell commented on #12829
I also see the failure and can replicate by going into the build dir after the failure, starting a fresh shell, `. ../spack-build-env.txt`, then `./configure`

It's finding libuuid ok (scan through the config output) but blows up when it tries this:

[code]

Opening the config.log, searching down for clear and reading a bit and :scream:, :scream:, :scream:.  Hate computers....

It's blowing up whe

[2019-09-14 01:10] odoublewen commented on #12829
Thanks... But, also, can you confirm my observation that the cryptsetup build works when [this line](https://github.com/Sinan81/spack/blob/931d65cc14dc5ac80c405acc165d9ecc2bd9f169/var/spack/repos/builtin/packages/sqlite/package.py#L37) is commented out?  That's what is making me think I am crazy.

Does commenting out that line rescue cryptsetup for you too?  If so, why??? 😱

[2019-09-14 03:05] hartzell commented on #12829
You don't appear to be crazy, it works for me with that line commented out also.  I'll see if I can make up^H^H^H^H^H^Hfigure out an explanation over the weekend....

[2019-09-14 03:08] hartzell commented on #12829
FWIW, with that line commented out, compiling the test program succeeds.  Doesn't speak to *why* though....

[code]

[2019-09-14 06:08] odoublewen commented on #12829
Here's my hunch.  I'm wondering what determines the sort order of the various PATHs that get set up in the build env.  I'm thinking the order is semi-deterministic.  It's reliable with the same spec-hash, but change one hash in the deps and the order might be different.

I have no data to back this up, just a thought that occurred as I was brushing my teeth.

[2019-09-14 14:12] adamjstewart commented on #12830
Hmm, that looks like a concretization bug. My suggestion would be to use `intel-mpi` instead of `intel-parallel-studio`, or explicitly specify the version on the command line like so:
[code]

[2019-09-14 16:16] hartzell commented on #12829
I had a similar thought, that the presence of the variant, even if it's `False`, in that file changes the ordering of various libraries.

But I can't explain how `/home/ghartzell/owen/spack/lib/spack/env/gcc/gcc -o conftest -g -O2   conftest.c -luuid`, which doesn't obviously involve any other libraries, sometimes turns up a missing symbol and sometimes doesn't.

When I changed the sqlite package

[2019-09-14 16:18] hartzell commented on #12829
Well, nuts.

I just logged back in and reran `(module purge; spack install cryptsetup)` and it worked.  Also tried a simple `spack install cryptsetup` (leaving various bits in from an upstream repo in my environment) and it also built.  But, looks like the `module purge` isn't enough to get the spack-built compiler out of my environment, presumably it's picking it up from one of my compilers.yaml

[2019-09-14 16:22] hartzell commented on #12829
Try as I may, I can't get it to fail again.  I've removed everything and am rebuilding from scratch.

[2019-09-14 18:25] hartzell commented on #12829
Just rebuilt from scratch, successfully.   Haven't changed anything (no pulls, no edits, no etc...).

:confused:

[2019-09-14 20:31] odoublewen commented on #12829
Well, I'm glad at least that you were able to replicate (1) the  uuid link error and (2) the lack thereof when twiddling that totally unrelated line in the sqlite dep.

Yesterday *was* Friday the 13th + full moon. 🌕

Seems more likely that there is some underlying fragility with the way uuid (and other?) libs are being autoconfig'ed, and as long as it's not a full moon with a hash that ends with a

[2019-09-14 20:33] odoublewen commented on #12829
[code]
😢 😢 😢

[2019-09-14 22:25] mwkrentel commented on #12830
I may be way off here, but if the output of `cat packages.yaml` is
correct, then you misspelled parallel as in `intel-paralle-studio`.

[code]

That would explain why spack is ignoring your `packages.yaml` entry.

[2019-09-15 02:25] adamjstewart commented on #2930
I managed to install Perl 5.26.2 with Intel 18.0.1, so I assume this bug is no longer present.

[2019-09-15 02:25] #2930 closed

[2019-09-15 02:38] adamjstewart commented on #3118
This issue is still present in develop. It looks like the latest version of libdwarf completely changes its installation method (there is no longer a `configure` script in the `libdwarf` subdirectory. We may need to overhaul this package and drop support for older versions. It looks like they also support a CMake build, which may work better on macOS.

[2019-09-15 03:03] adamjstewart commented on #3842
@tgamblin @scheibelp This bug was fixed by #5077, but it looks like #5077 was reverted by #10186. Any idea how to handle this properly?

[2019-09-15 03:10] adamjstewart commented on #9034
@alalazo Want to take another stab at vendoring setuptools? Alternatively, we could stop vendoring things like `pytest` which aren't _required_ to run Spack. We already don't vendor `flake8`, although I wonder if we should.

[2019-09-15 06:12] alalazo commented on #9034
Regardless of `setuptools` (that is needed by `Jinja 2` and thus is a real dependency) I am also wondering since a while if we should avoid vendoring `dev` dependencies like `pytest`. That will make it a little bit more difficult to setup development for Spack, but on the other hand we could use up to date packages if employing Python 3.X as an interpreter. For instance, we are currently using `py

[2019-09-16 15:00] hartzell commented on #12829
More coffee, more clarity.  The reason that my builds were succeeding was that I'd left the sqlite variant commented out.  I just reinstated it and builds are failing wonderfully.

[2019-09-16 15:08] hartzell commented on #12829
Ah ha-ish.  The test for `uuid_clear` is linking against a `libuuid.so` that's included in the `util-linux` package, **not** the one from the `uuid` package.

[code]

At a guess, the times that it works it's picking up the `libuuid` package and having happy linkage.

[2019-09-16 15:42] hartzell commented on #12829
This fixes it for me on a CentOS 7 system.  I couldn't find any clean way to get the util-linux package's copy of libuuid to include the gettext/libintl dependency, which would have let us drop the additional depends_on.

[2019-09-16 16:52] huqy commented on #12830
Thanks for the good catch, Mark. When I corrected the typo, the concretization goes through. However the installation is still failed. It seems to be stopped when it found `intel-parallel-studio` has been not externally but internally installed through Spack?

[code]

[2019-09-16 16:58] adamjstewart commented on #12830
This seems related to #3787. Can you run again with `spack -d install fftw`?

[2019-09-16 17:09] huqy commented on #12830
Hi Adam,

Your explicit specifying-version way works. However it skipped to generate the new module file for intel and intel-mpi with hashcode of ekidp2z..., since it found I already have a module file for the previously installed ffw with intel and openmpi with hashcode of ogd3phl... as shown below.

Any solutions for this case with zero hash_length?

[code]

[2019-09-16 17:14] adamjstewart commented on #12830
I would highly recommend _not_ using a hash_length of zero with Spack. The whole point of Spack is that you can install (almost) infinitely many different combinations of packages in ways that cannot be expressed solely through package name and version. You _could_ add a suffix for this particular combination that would give it a unique module file name, but this is only a workaround until the nex

[2019-09-16 17:25] huqy commented on #12830
Hi Adam,

Thanks for the quick response and the notes! I will take that.

Here is what I got (an assertion error) related with the #3787:

[code]

[2019-09-16 17:26] omsai commented on #12667
@scheibelp here are the new logs :heart:

[code]

[spack-cc-parallel-netcdf-5qrofcq.in.log](https://github.com/spack/spack/files/3617419/spack-cc-parallel-netcdf-5qrofcq.in.log)
[spack-cc-parallel-netcdf-5qrofcq.out.log](https://github.com/spack/spack/files/3617421/spack-cc-parallel-netcdf-5qrofcq.out.log)

[2019-09-16 17:52] adamjstewart commented on #3787
@scheibelp this bug was reproduced in #12830, any progress on #7759?

[2019-09-16 18:10] #12730 closed

[2019-09-16 18:34] scheibelp commented on #12667
Apologies but I forgot to mention: these logs only include the Spack compiler wrapper invocations (`*.in.log` is the compiler invocation without modifications from Spack, and `*.out.log` is with all the extra RPATH entries).

To get the output of these processes you can either copy it from the terminal, or it will also be output to files in the stage directory (`spack cd netcdf` after a failed ins

[2019-09-16 19:30] tldahlgren commented on #12798
IIRC There was some offline discussion on this and someone proposed using a custom scope for testing.

[2019-09-16 20:25] Sinan81 opened #12840 "mysql build error: error: underlying type mismatch in enum 'enum enum_field_types'"
mysql cxxstd=11 won't build . But I'm pretty sure cxxstd=14 or 17 works.

mysql@8.0.16

boost@1.69.0

gcc@7.4.0

### Steps to reproduce the issue

[code]

### Error Message

[code]

### Information on your system

Centos7.6

[2019-09-16 20:45] Sinan81 commented on #12840
mysql@8.0.15 cxxstd=11 (requiring boost@1.68.0) builds just fine. Hence, this ticket can be considered low priority as far as I'm concerned.

[2019-09-17 02:09] #12732 closed

[2019-09-17 02:09] #12767 closed

[2019-09-17 14:09] gartung opened #12845 "Relocate macOS buildcaches on linux hosts using python tools."
Installing macOS buildcaches on a linux host does not work by design because otool and install_name_tool are not available. Although the sources for these two tools could be founs and built as packages, it would be faster to use two python packages that are already available in spack: py-machotools and py-macholib

### Rationale

HEP software is distributed by CVMFS. The CVMFS server is running SL

[2019-09-17 14:13] gartung commented on #12845
@chissg @marcmengel

[2019-09-17 17:32] derobins commented on #12586
This should be fixed in HDF5 1.10.6 and 1.12.0. I'm running the pull requests through now.

[2019-09-17 18:22] #12829 closed

[2019-09-17 21:48] junghans opened #12851 "Concretizer issue using variants"
If I have two packages `a` and `b` with `a` being:
[code]
and `b` being:
[code]
I am getting the following concretization error:
[code]
However if I drop the variant in `b`:
[code]
concretization works:
[code]

[2019-09-17 21:57] scheibelp commented on #12851
This is a duplicate of https://github.com/spack/spack/issues/5465

See also: other issues mentioned under item [1] of https://github.com/spack/spack/wiki/Issue-Disambiguation

In short: this happens because the concretizer algorithm is greedy and finalizes details of specs before it is certain that will not lead to constraint errors. To handle things like this in full generality the current plan i

[2019-09-17 21:57] #12851 closed

[2019-09-17 22:21] glennpj opened #12852 "overly long shebangs can break perl package builds"
There are a few perl packages that are built with Build.PL rather than Makefile.PL and in those cases the configure step will generate a 'Build' script. The first line of that script will be the shebang pointing to the perl installation. The perl build system sets the Build script as the executable for building.
[code]
The problem is that if the shebang line is too long, the build step will fail w

[2019-09-17 22:45] #12709 closed

[2019-09-18 04:28] gartung commented on #12845
Implemented in #12858

[2019-09-18 06:36] JanKleine commented on #12752
Something seemed to be wrong with my module file. When I created a new one it started to work.
I followed [this](https://software.intel.com/en-us/articles/using-environment-modules-with-the-intel-development-tools) guide and turned `<install_dir>/bin/compilervars.sh intel64` into a module file. The tool has a bug, some environment variables are going to be set (i.e. overwritten) and not prepended,

[2019-09-18 12:25] #12845 closed

[2019-09-18 15:48] dh4nav commented on #10874
I'm having this problem too, and I'd like to argue that it's actually high impact, because tcl is a dependency in the installation of lmod, which in turn is part of the modules config tutorial. So every new user has a high chance of running into this issue.

[2019-09-18 15:54] floquet commented on #12726
The root issue is with Open MPI which will require non-trivial changes to build the Fortran bindings. CLOSING the Spack issue.

[2019-09-18 15:54] #12726 closed

[2019-09-18 17:23] SheraLee opened #12864 "When using external MPI: C compiler cannot create executables"
I am creating a package for our project, which depends on MPI. When using external MPI and configure with intel or GCC compiler, there is "C compiler cannot create executables" errors when configuring. In the configure log, it says:" while loading shared library: libmpc.so.3: cannot open shared object file: No such file or directory."

However, I have may package successfully downloaded while usin

[2019-09-18 17:33] adamjstewart commented on #12864
I believe this is related to #12751. Your MPI was built without RPATH support, and requires `LD_LIBRARY_PATH` to be set to use it. Spack clears `LD_LIBRARY_PATH` by default to prevent unintended libraries from polluting the build. As a workaround, try running:
[code]
The `--dirty` flag tells Spack not to clear `LD_LIBRARY_PATH` and friends.

[2019-09-18 20:26] CalvinDSeamons commented on #12787
I would also like to add that on all three systems I am trying to build on, spack fails at a unique package of go. toss3 fails with what is above.
cle6.0 system fails on package `go` with.
[code]
On cle7.0 systems the error occurs in `go-bootstrap` with:
[code]

[2019-09-19 08:13] aivazis commented on #12586
I think that the way this failure was handled missed the point. Looking at the error report, what I see is this:

gdal depends on hdf5
hdf5 had BOTH its C++ AND its MPI support enabled, hence it depends on libmpi_cxx
while linking libgdal.so, the linker did not see libmpi_cxx, hence the unresolved symbols from libmpi_cxx

It seems to me that the patch takes care of the wrong half of the problem.

[2019-09-19 12:08] derobins commented on #12586
HDF5 should have no dependencies on libmpi_cxx, even when building parallel HDF5 with the C++ wrappers. We never make any C++ MPI calls.

[2019-09-19 16:17] citibeth commented on #9352
@Sinan81 Could you provide more info on your out-of-Spack build of tensorflow?  Specifically, can you list the Spack packages of tensorflow dependencies?  We should at least be able to make a tensorflow-deps meta-package.

[2019-09-19 16:20] adamjstewart commented on #9352
@citibeth The major hurdle with TF is that it tries to download its own deps, and there appears to be no way to prevent that. That's the main reason it hasn't been packages yet, although EasyBuild has it. PyTorch also downloads some of its own deps, but we have a package for that. I think we should move forward with a TF package, even if it downloads some of its own deps.

[2019-09-19 18:28] citibeth commented on #9352
I agree.

On Thu, Sep 19, 2019 at 12:20 Adam J. Stewart <notifications@github.com>
wrote:

[2019-09-19 20:51] Sinan81 commented on #9352
@citibeth : below are the dependencies that I use for building & running tensorflow. Actually, yesterday I created a feature branch for tensorflow packagefile enabling me to install tensorflow wheel compiled by hand: https://github.com/Sinan81/spack/tree/tensorflow
[code]

[2019-09-19 20:58] Sinan81 commented on #9352
I should also add that latest version of bazel available via spack conflicts with gcc versions beyond 7.4.0.
Speaking of bazel, with the latest version available via spack, 0.17.2, we are only able to compile tensorflow version 1.12.3. It would be a huge help if newer versions of Bazel are provided by spack.

[2019-09-20 00:11] Sinan81 commented on #9352
@citibeth Tested build configurations listed at the bottom of the the following page should be useful for choosing a suitable cuda, cudnn, bazel version combination: https://www.tensorflow.org/install/source

[2019-09-20 06:05] akkbook opened #12883 "spack build HPCTOOLKIT & STAT error"
Hello,
I followed the instruction "Installing HPCTOOLKIT & STAT tools within Spack" installed error.. Here are what I tried. Would you give me some advice? Thanks!

### Platform and user environment
OS：Redhat 7.2
Linux gos 3.10.0-514.el7.x86_64 #1 SMP Wed Oct 19 11:24:13 EDT 2016 x86_64 x86_64 x86_64 GNU/Linux

[2019-09-20 06:24] mwkrentel commented on #12883
@akkbook You have a very old spack recipe for hpctoolkit.  I removed
hpctoolkit-externals back in Nov 2018.

I have current directions for installing hpctoolkit via spack at:

http://hpctoolkit.org/software-instructions.html

[2019-09-20 06:39] akkbook commented on #12883
Thank you for your advice.

[2019-09-20 07:51] #2379 closed

[2019-09-20 14:47] SheraLee commented on #12864
Thank you so much! It works for all compilers now!

[2019-09-20 16:06] DavidPoliakoff opened #12888 "Difference in behavior between running configure with Spacks build-env and how Spack configures software"
I'm trying Spack on a new system, and am running into a bewildering error. I try

`spack install zlib%gcc@7.2.0`

And somewhere in configure I get your standard broken GCC messages

[code]

I tried two things to reproduce this, (1) configuring with that GCC, which works, and (2) sourcing the spack-build.env file, and running the same configure line Spack did, which also works. (Side note: whoever

[2019-09-20 17:34] #12331 closed

[2019-09-20 17:42] DavidPoliakoff commented on #12888
@becker33 is helping me out in Slack. Turns out a good way to debug in this situation is

`spack build-env zlib%gcc@7.2.0 bash; spack cd zlib%gcc@7.2.0`

[2019-09-20 18:03] DavidPoliakoff commented on #12888
Okay, in my specific instance, apparently two things are happening

When wrapped by spack, gcc can't find libgcc and crtbegin.o (and crtend.o). Adding the path to cflags and cxxflags fixes it. (Maybe the dependent modifying my cflags as seen in the trace is why this happens?). To be specific, modifying ~/.spack/[arch]/compilers.yaml and adding

[code]

Under the `flags` field fixes this. If you ca

[2019-09-20 18:13] DavidPoliakoff commented on #12888
@becker33 caught it, turns out that compiler relies on a module to automatically work. Instead of modifying `flags` in that instance, you modify `modules`

[2019-09-20 18:13] #12888 closed

[2019-09-20 20:33] gartung commented on #12845
Addtional implementation in
https://github.com/spack/spack/pull/12867

[2019-09-20 21:02] mwkrentel commented on #12888
@DavidPoliakoff  So, you didn't fill in the `modules:` field in the
`compilers.yaml` entry for gcc@7.2.0?   Was that the problem?

@becker33  @tgamblin  See, this is where if `spack compiler find`
filled this in automatically, then this sort of problem wouldn't
happen.

This is just too easy a mistake to make and a very easy mistake to
overlook when reporting "bugs".

Nag, nag, :-)

[2019-09-20 21:18] chissg commented on #12799
This has been resolved with a network reconfiguration on the `xrootd.org`  / `xrootd.slac.stanford.edu` site.

[2019-09-20 21:18] #12799 closed

[2019-09-20 21:23] becker33 commented on #12888
@mwkrentel #11989, and yes, that's precisely what the bug was.

[2019-09-20 22:17] mwkrentel commented on #12883
Btw, stat fails for the same reason, you have an out of date spack
recipe.  Bzip2 moved to sourceware.org a few months ago and then was
dropped from fossies.

This was fixed in spack in mid July in d7b76df5ac2.

[2019-09-21 02:07] scheibelp commented on #12355
I agree with https://github.com/spack/spack/issues/12355#issuecomment-520046885. Can you reach this site outside of Spack from your machine?

[2019-09-21 17:46] tylerjereddy opened #12891 "ENH: option to ignore default config"
It may be useful if spack could be provided with a flag to ignore default configuration so that when combined with i.e., the `-C` config scope option you really will just get a single scope read in for i.e., the `yaml` settings files.

[2019-09-21 17:50] tylerjereddy opened #12892 "ENH: control over ~/.spack handling"
"Mysterious things" can happen when you are trying out a bunch of things with a single spack installation, or using spack in a continuous integration context, and you don't occasionally purge / move your `~/.spack` folder.

It may be neat if it were possible to i.e., specify an alternative location for the purpose that path serves, or perhaps even to disable leveraging `~/.spack`. Not sure if eith

[2019-09-21 17:53] tylerjereddy commented on #12710
Not sure if related but I'm pretty sure `spack mirror add` can have problems with relative paths simply not working, with no exception raised when provided. Perhaps I'll take a look..

[2019-09-21 19:29] BryanFlynt-NOAA commented on #10842
Using the develop branch from today I'm also getting this same error using OpenSuse and it makes Spack impossible to use.  Has this been fixed within one of the Branches?

The command:

Successfully builds:
- mpc
- gmp
- mpfr
- etc...

Then:
It compiles gcc source but when it links the -L path contains .../lib/ directories but the libraries Spack previously built (mpc, gmp, mpfr, etc.) have all be

[2019-09-22 16:11] mkiernan opened #12896 "installation issue on AMD 7551 with gcc@8.2.0 - illegal instruction"
I'm getting "illegal instruction" when trying to use spack to install just about anything on an AMD EPYC 7511 "excavator" / Naples system (Azure HB60rs instance) with a vanilla CentOS 7.6 image. The same process is working fine on it's sister Intel Skylake platform.

The example given is gcc@8.2.0, which fails in perl. Other packages are failing with the same illegal instruction error (e.g. libato

[2019-09-22 16:59] alalazo commented on #12896
This bug has been introduced with #3206 and I need to investigate the cause of it. As a workaround to permit you to still build things you can either specify:
[code]
or put that preference in `packages.yaml`. That will build software for a generic `x86_64` architecture, which is what Spack was previously doing.

Regarding the bug, from what I can see Spack is behaving like it was meant to - meanin

[2019-09-22 17:23] alalazo commented on #12896
Looking at the flags from `cpuinfo` I can see BMI1 and BMI2 (emphasized below in bold text).

From [this reference](https://en.wikipedia.org/wiki/Bit_Manipulation_Instruction_Sets#BMI1_(Bit_Manipulation_Instruction_Set_1)) it seems to me that BEXTR is part of BMI1, so it should be there?

[2019-09-22 18:38] tgamblin commented on #12896
A couple things are weird here --

1. Shouldn't AMD 7551 be recognized as `zen`?  See [wikichip](https://en.wikichip.org/wiki/amd/epyc/7551) -- it's definitely `zen`, so that seems odd to me.  I don't have exactly the same node (I don't have Azure), but I launched two `m5a` instances in AWS with `ubuntu` and `centos7` and they both show up as `zen`.  I'm not sure why `spack` thinks this one is `ex

[2019-09-23 01:32] adamjstewart opened #12905 ""Specific Targets" does not work in Python 3"
When Spack is run with Python 3, it fails to detect the specific target on my machine.

### Steps to reproduce the issue

[code]

### Information on your system

macOS 10.14.6, early 2013

Python 3.7.3

[code]

@alalazo @tgamblin @becker33

[2019-09-23 01:47] adamjstewart commented on #12905
I'm getting closer to tracking this down. There appears to be a "try-except" that masks the following issue:
[code]

[2019-09-23 03:06] jlconlin opened #12907 "Installation issue: vim"
### Steps to reproduce the issue

[code]
This does not generate any errors, but it doesn't install vim 8.1.x.
[code]

I also tried adding some options, but those were not honored either
[code]

### Platform and user environment

Please report your OS here:
[code]

### Additional information

Sometimes the issue benefits from additional details. In these cases there are
a few things we can suggest

[2019-09-23 07:23] aivazis commented on #12586
I think you mean that HDF5 doesn't make any C++ MPI calls **explicitly**:

[code]

Everybody who, directly or indirectly, includes the C++ MPI API makes calls to `libmpi_cxx`. So if I need `-lhdf5_cpp`, I also need `-lmpi_cxx`.

The same is true for `gdal`, hence my observation that the way this problem report was handled addressed the wrong half of the problem.

[2019-09-23 14:02] alalazo commented on #12896
[This wiki page](https://en.wikipedia.org/wiki/Bit_Manipulation_Instruction_Sets#BMI1_(Bit_Manipulation_Instruction_Set_1)) shows that `BEXTR` exists both in `bmi1` (register form) and `tbm` (immediate form). While the former instruction set is part of both the 15h family (from piledriver on) and the 17h family the latter is not supported by zen and following architectures.

So, I think we got the

[2019-09-23 14:22] alalazo commented on #12896
Last bit, apparently the flags of the OP miss the `clzero` entry which we look for to consider a microarchitecture a `zen`.

[2019-09-23 17:53] alalazo commented on #12896
I have a submitted a fix. @mkiernan Note that with the fix above in your case I expect Spack to detect your architecture as a generic `x86_64`. Things will work but won't be optimized for the hardware. Do you have any clue why `clzero` is missing in your `/proc/cpuinfo`?

[2019-09-23 18:00] pat-s commented on #12896
Sorry for hijacking this. I have numerous build failures since months and using `target: x86_64` seems to solve them all (I haven't tried all of them yet).

I am on a centOS 7.7 and `spack arch` tells me `linux-centos7-zen`. Beforehand, I could not even install a custom gcc compiler.

This setting seems to be very important (sorry, I have no experience in different platforms/targets) and I am wond

[2019-09-23 18:12] mkiernan commented on #12896
Thanks @alalazo - confirmed the x86_64 workaround (pre fix) works. However, really what I want is optimized builds as I'm using spack to create a simplified benchmarking environment. Checking with our platform guys on missing clzero - it is possibly an artefact of virtualization as Todd mentioned.

[2019-09-23 18:15] alalazo commented on #12896
@pat-s

#3206 was merged yesterday... :smile: If you're looking for docs here are [the user docs](https://spack.readthedocs.io/en/latest/basic_usage.html#architecture-specifiers) and the [packager docs](https://spack.readthedocs.io/en/latest/packaging_guide.html#architecture-specifiers). Let me know what you think of that.

[2019-09-23 18:39] alalazo commented on #12896
@mkiernan Just in case you need to hack your way through to be faster, you can check [this file](https://github.com/spack/spack/blob/develop/lib/spack/llnl/util/cpu/microarchitectures.json) and delete the `clzero` feature from `zen` to have Spack detect your architecture as a `zen`.

[2019-09-23 19:08] pat-s commented on #12896
Oh, just took a quick look at the date of the first post and this was 2017 🤦‍♂

Thanks, I was just too dumb to find them.

Regarding the issue: I updated today and was wondering why my packages were installing into `linux-centos7-zen` instead of `linux-centos7-x86_64`. This explains it.

However, my system gcc v4.8.5 can`t cope with `target=zen` as this required >= v6.

Beforehand gcc compilers an

[2019-09-23 19:27] smjenness opened #12915 "spack load error: unable to find modulefile"
I have successfully installed several spack packages on my Linux Redhat HPC, and I can find the the installations using `spack find`, however the module system does not appear to be working. For example,

### Steps to reproduce the issue

[code]

### Error Message

But if I try to load any of the packages with `spack load`, I get the following error:
[code]

Following some old issues here, I have

[2019-09-23 19:57] adamjstewart commented on #12915
Can you run `echo $MODULEPATH` and `module avail`?

[2019-09-23 20:03] smjenness commented on #12915
Please see below. None of my spack module files are listed in module avail, just the ones our HPC admins and contributors have built. Thank you.

[code]

[2019-09-23 20:09] adamjstewart commented on #12915
In order to use Spack's module files, you need to update your `MODULEPATH` to tell Environment Modules where to find them. If you run `. ~/spack/share/spack/setup-env.sh` or manually set your `MODULEPATH` in your `~/.bashrc`, `module avail` should list all packages built with Spack.

[2019-09-23 20:20] smjenness commented on #12915
Thank you. I ran `echo $MODULEPATH` above after running `. spack/share/spack/setup-env.sh`, so for some reason it is not getting added automatically anymore (it was as of about 2 weeks ago).

If I now have to add it manually in `.bashrc` could you please tell the specific syntax I should use (this is not on the spack help pages as far as I can tell)? Thank you, and I'm sorry for what may be a very

[2019-09-23 20:28] adamjstewart commented on #12915
@alalazo can you take a look at this? Spack should be setting up `MODULEPATH` correctly. This may be related to #12916.

[2019-09-23 20:51] ax3l commented on #2379
:dancer:

[2019-09-23 22:08] hbsworth commented on #12915
spack changed the default architecture in the latest developer git release
my ubuntu setup the default ${ARCHITECTURE} was:
linux-ubuntu18.04-x86_64
now changed to:
linux-ubuntu18.04-skylake

[2019-09-23 22:54] pat-s opened #12920 "spack module <> does not generate env modules anymore"
After updating to HEAD today, my whole system broke. This may not only have to do with spack but also with the centOS upgrades.

Anyway, now every `spack module <> refresh -y` call has no effect. I see no errors but also no env modules are created anymore. Meanwhile I removed all to start "fresh" and now I am here without any.

I already resetted everything and initialized spack from scratch, no s

[2019-09-24 04:30] tgamblin commented on #7441
I believe this (the detection, at least) was fixed in #11994.  The detection @carns introduced in #9712 here was not quite right.  Specifically, [this line](https://github.com/spack/spack/pull/9712/files#diff-3f450f9072969bd3b01bdcf9d5142ed9R245) reports `sh` if `bash` is run through a symlink/hard link/filename called `sh`.

[2019-09-24 04:31] tgamblin commented on #7441
Note that I removed `SPACK_SHELL`, as I do not think we should be exporting variables that tell people which shell they're running.  They won't be correct if you, e.g., launch a subshell, and scripts should do that detection themselves.

[2019-09-24 04:31] #7441 closed

[2019-09-24 04:54] #12896 closed

[2019-09-24 10:10] pat-s commented on #12915
I confirm the problem.

[2019-09-24 10:11] pat-s commented on #12920
Closing in favor of https://github.com/spack/spack/issues/12915 which better describes the problem

[2019-09-24 10:11] #12920 closed

[2019-09-24 11:31] alalazo opened #12923 "Relocation unit test failing on local development box"
Updating to the latest version of `develop` I got relocation unit tests failing on my development machine.

### Steps to reproduce the issue
Run the following command:
[code]

### Error message
<details>

<summary>Click to expand the error message</summary>

[code]

</details>

### Information on your system

EDIT: **I have `patchelf` installed on the system**. Running `git bisect` points to a940f

[2019-09-24 11:33] alalazo commented on #12923
Installing `patchelf` on the system doesn't make a difference.

[2019-09-24 11:46] jounathaen opened #12924 "Installation issue: doxygen"
*Thanks for taking the time to report this build failure. To proceed with the
report please:*
1. Title the issue "Installation issue: <name-of-the-package>".
2. Provide the information required below.
3. Remove the template instructions before posting the issue.

We encourage you to try, as much as possible, to reduce your problem to the minimal example that still reproduces the issue. That would

[2019-09-24 11:56] gartung commented on #12923
Correct I do not have patchelf in PATH. I changed get_patchelf() to return None if the arch is test because it was trying to install patchelf for tests.

[2019-09-24 12:00] alalazo commented on #12923
Which test is trying to do that? I added a decorator to avoid that issue:
[code]
and that's what is triggering the error when `patchelf` is found (because now `get_patchelf` will return `None`). Was the test not protected by this decorator or is there some other issue?

[2019-09-24 12:03] gartung commented on #12923
I had added get_patchelf() to lib/spack/spack/binary_distribution.py and I needed it to skip during tests. I reverted that change before merging. Perhaps i should also remove the return of None for tests.  Can you test if commenting out or removing this line fixes your case:
https://github.com/spack/spack/blob/a940ff34d745e0830f9e40305698bfd85d65fbd3/lib/spack/spack/relocate.py#L69

[2019-09-24 12:05] gartung commented on #12923
I should have added the decorator you mentioned to the test instead.

[2019-09-24 12:54] akkbook commented on #12883
Thanks.

[2019-09-24 13:40] alalazo commented on #12923
Fixed by #12925

[2019-09-24 13:40] #12923 closed

[2019-09-24 14:12] jounathaen commented on #12924
Apparently this is already fixed in develop branch. A pity that the releases are so seldom... ☹

[2019-09-24 14:13] #12924 closed

[2019-09-24 14:28] becker33 commented on #12530
@ejcjason What commit of Spack are you using? The heuristics for detecting paths from modules were changed recently and I want to make sure we're debugging on the same version.

[2019-09-24 14:32] becker33 commented on #12499
Apparently this is not possible without an intel node somewhere in the process... https://forum.golangbridge.org/t/installation-of-go-on-arm-v8/3694/8

[2019-09-24 14:43] becker33 commented on #12493
@ianbrobin Can you find libfabric on your system (usually /usr/lib) and try installing with `spack install hdf5@1.10.5 ldlibs="-l/path/to/libfabrics.so" ^intel-mpi@2019.4.243`?

I don't think that's the long term solution, but if it works that tells us more about what we need.

[2019-09-24 15:49] pat-s opened #12928 "Build error: cmake"
cmake errors even with cxxflags set (spack compiled gcc@9.2.0)

`spack install cmake cxxflags="-std=c++11"`

---

### Steps to reproduce the issue

[code]

### Platform and user environment

[code]

### Additional information

Possibly related https://github.com/spack/spack/issues/11223

[2019-09-24 16:00] weijianwen commented on #12628
@becker33 Sure thing. For example `/lustre/share/spack/modules/sandybridge/linux-centos7-x86_64/intel/19.0.4-gcc-4.8.5`

[code]

[2019-09-24 16:34] adamjstewart commented on #12928
Where are the errors?

[2019-09-24 16:42] pat-s commented on #12928
Sorry, c/p mistake. Added the error message in the initial post.

[2019-09-24 16:47] #12905 closed

[2019-09-24 17:23] adamjstewart commented on #12928
That's one error, is there another error?

[2019-09-24 17:28] citibeth opened #12929 "Problems fetching pdftk"
Looks like `pdftk` download site is suffering from bitrot.

"""==> Fetching https://www.pdflabs.com/tools/pdftk-the-pdf-toolkit/pdftk-2.02-src.zip
##O#- #
curl: (60) SSL certificate problem: certificate has expired
More details here: https://curl.haxx.se/docs/sslcerts.html

curl failed to verify the legitimacy of the server and therefore could not
establish a secure connection to it. To learn more

[2019-09-24 19:05] rgmiller opened #12930 "Installation issue: py-adios"
### Steps to reproduce the issue
[code]

The result is lots of errors like:
```adios_mpi.cpp:47080:21: error: 'PyThreadState' {aka 'struct _ts'} has no member named 'exc_type'; did you mean 'curexc_type'?```

And similar.

### Platform and user environment
[code]

### Additional information
py-adios includes a file (adios_mpi.cpp) which was generated using Cython 0.28.2.  This version of Cython ge

[2019-09-24 19:17] paulbry opened #12931 "AttributeError: 'Target' object has no attribute 'lower'"
When installing `llvm` I've run into a Spack error `AttributeError: 'Target' object has no attribute 'lower'`. There are a few other packages that also use `Target.lower()` but I haven't tried installing those yet.

### Steps to reproduce the issue

[code]

### Error Message

[code]

### Information on your system

Only tried a single system at this moment:

[code]
[code]

[2019-09-24 19:28] tgamblin commented on #12931
See #12914.

[2019-09-24 19:37] paulbry commented on #12931
@tgamblin Thanks

[2019-09-24 20:20] pat-s commented on #12928
The other one is exactly the same, not sure why it is logged two times in the log file.

<details>
<summary>Details</summary>

[code]

</details>

[2019-09-24 20:25] #12800 closed

[2019-09-24 21:31] eugeneswalker opened #12935 "`buildcache list` does not show all binaries from target family"
On RHEL7, I have Spack installed packages built with GCC 4.8.5 and also 7.3.0. The ones built with GCC 4.8.5 are tagged `haswell`, the ones built with 7.3.0 are tagged `broadwell`. I have created binaries of ALL these packages and put them in a mirror. `spack buildcache list` only shows me the binaries tagged `broadwell` even though I'm running it on the exact same machine where the packages were

[2019-09-24 21:49] becker33 commented on #12935
Note: This is due to lines 613 and 630 in `lib/spack/spack/binary_distribution.py`

It will take slightly more work to come up with a solution.

[2019-09-24 21:51] citibeth opened #12936 "Concretizer Error: Cannot concretize pism"
@tgamblin I started with a band new clone of spack on the default branch.  Then try:
[code]
This should work.  Unfortunately, it fails with a conflict on `hdf5~fortran`.  Note that `hdf5~fortran` is not requested by any packages in this DAG.
[code]
Note that adding the following line to `pism/package.py` makes the problem go away:
[code]

[2019-09-24 21:51] citibeth commented on #12929
This isn't so much a BUG in Spack; but an "FYI".  I've reported it upstream.

[2019-09-24 21:51] #12929 closed

[2019-09-25 01:23] citibeth commented on #10530
#10452 didn't work for me.  I'll try limiting the CMake version.

[2019-09-25 01:45] citibeth opened #12937 "Continued scalapack errors building PETSc"
@davydden
See #4341; I'm still getting scalapack error installing petsc 3.4.4.  (I know 3.4.4 is ancient; but it's what I need to install at this point).

[code]

Sounds like maybe we should re-do #4341 to use `--with-scalapack-dir` instead of `--with-scalapack-lib`???

[2019-09-25 02:03] citibeth opened #12938 "`superlu-dist`: Old Versions Wrongly Removed"
@tgamblin @scheibelp
Try running the command: `spack spec petsc@3.4.4`.  This produces the output below.  Note that it chose `superlu-dist@xsdk-0.2.0`, instead of, say `superlu-dist@4.3`.  This is clearly a bug.  Non-checksummable versions should NEVER be chosen by default.  (And this version doesn't work with `petsc@3.4.4` anyway).

[code]

[2019-09-25 02:21] citibeth commented on #12938
Turns out that #9445 caused this bug.  @balay can you please fix it?

[2019-09-25 02:27] citibeth commented on #12938
Never mind... I see that upstream removed the old versions.  I'll change PETSc to use `superlu-dist@5.2.2`, which seemed to work in the past.

[2019-09-25 02:29] citibeth commented on #12938
I'm wrong again.  The old versions *are* available, just not on GitHub.  Again... old versions should be kept in the Spack recipe!

[2019-09-25 02:32] citibeth commented on #12938
Here are the old versions.  But now I see they're not CMake (probably autotools).  And we've never really come up with a solution at Spack on how to handle this properly while keeping old versions.
[code]

[2019-09-25 03:31] citibeth opened #12942 "CMakePackage Cannot Find `cmake`?"
@alalazo
Trying to build `superlu-dist` (a `CMakePackage`) yields:
[code]
Is it getting confused with a folder called `cmake` in the stage?  Has anyone seen this problem before?  Why isn't `CMakePackage` running the full path of the `cmake` build dependency?

[2019-09-25 03:32] davydden commented on #12937
It should certainly not be done unconditionally. Perhaps 3.4.4 config did not support taking libs directly.

[2019-09-25 03:54] citibeth commented on #12938
This probably was actually a bug in #12941.  I needed to remove my `.spack-env` stuff in order to make my changes to `superlu-dist/package.py` take effect.

[2019-09-25 03:54] #12938 closed

[2019-09-25 03:55] citibeth commented on #12942
This probably was actually a bug in #12941.  I needed to remove my `.spack-env` stuff in order to make my changes to `superlu-dist/package.py` take effect.

[2019-09-25 03:55] #12942 closed

[2019-09-25 03:56] citibeth commented on #12937
That much is clear, it did not.

[2019-09-25 16:46] martyitz opened #12945 "spack does not report error when compiler is missing"
I went to clean up my aging installs, and deleted all the files.  I did not
update `~/.spack/linux/compilers.yaml`, so it still pointed to  several compilers that
no longer existed.

I went to do various installs, and they all failed with errors that did not indicate
the problem was with the compiler.  I think spack should report an error like:

[code]

[2019-09-25 16:47] tgamblin commented on #12945
Thanks @martyitz!

[2019-09-25 16:48] tgamblin commented on #12945
It would be pretty easy to do a quick check before we start the build to see whether the chosen compiler still exists.  I would rather not do a check on all compilers at startup, as it'll increase our already slow (due to Python modules) startup time

[2019-09-25 16:50] martyitz commented on #12945
I agree.  No need to check the compilers that are not about to be used.

[2019-09-25 17:49] pat-s commented on #12928
I can build cmake successfully [from source](https://gist.github.com/1duo/38af1abd68a2c7fe5087532ab968574e) using the same compiler that Spack files with.
As a workaround for now I am linking to this installation in `packages.yml`.

I do not really see what is wrong with the Spack build. Even with the same options for `bootstrap` it fails so the error needs to reside more deeply in Spack?

[2019-09-25 18:33] tldahlgren commented on #12633
@naromero77 #12516 has been merged.

Note that there is a follow up (#12733  ) that changes the naming convention for stage directories to prepend `spack-` so that `spack clean` can blow away `build_stage` subdirectories starting with `spack-` instead of the hash.

Would this change still work for you?

[2019-09-25 18:37] naromero77 commented on #12633
yes, we can close this issue. Thanks for pinging me.

[2019-09-25 19:27] adamjstewart commented on #12928
I wonder if this is related to the new microarchitecture flags being added. @alalazo can you take a look?

[2019-09-25 20:25] pat-s commented on #12928
Works if I reset to commit a940ff34d745e0830f9e40305698bfd85d65fbd3.

[2019-09-25 20:26] alalazo commented on #12928
@pat-s Can you try to use `git bisect` and post the first bad commit?

[2019-09-25 23:41] #12931 closed

[2019-09-26 00:33] carns opened #12951 "cannot specify multiple cflags on the command line"
In the current origin/develop version of spack (presently e6cae97), I cannot figure out how to specify multiple cflags on the command line.

### Steps to reproduce the issue

[code]

### Error Message

[code]

If I check out revision a940ff34d and run the same command, then it works as expected:

[code]

It appears as though the argument encapsulated with quotation marks are being split when they

[2019-09-26 01:31] scheibelp commented on #12667
@omsai any chance you could add the `spack-build-out.txt` log here?

[2019-09-26 11:50] oracleLee opened #12955 "Installation issue: quantum-espresso"
I am trying to install quantum-espresso with MPI

### Steps to reproduce the issue

[code]

### Platform and user environment
[code]

### Additional information

The output of spack spec is as follows:
[code]

Rebuilding the package with additional debug information:
[code]
[spack-cc-quantum-espresso-2mgoawy.in.log](https://github.com/spack/spack/files/3657589/spack-cc-quantum-espresso-2mgoawy.in.

[2019-09-26 13:38] alalazo commented on #12915
I'm not able to reproduce the issue. What I did using 90236bc9f54a0fccbf0e133d09ce258b379e5ae3:
[code]
Can anybody provide more information on version of Spack being used, etc. or better a reliable reproducer to work on?

[2019-09-26 13:41] alalazo commented on #12915
I might have an idea of what happens. Can people post the output of `spack arch` please?

[2019-09-26 13:41] oehlrich9 commented on #12915
I think the problem is related to a new naming scheme
spack find now shows me two different sections for gcc@9.1.0:
`
-- linux-centos7-skylake_avx512 / gcc@9.1.0 ---------------------
autoconf@2.69    libiconv@1.15        mpich@3.3.1     readline@7.0
automake@1.16.1  libpciaccess@0.13.5  ncurses@6.1     texinfo@6.5
cmake@2.8.10.2   libsigsegv@2.11      openssl@1.0.2s  util-macros@1.19.1
cmake@3.15

[2019-09-26 13:44] pat-s commented on #12915
1. Install a package
2. `spack module <> refresh - y` to generate env module
3. Module not available with `module av` because MODULEPATH is not correctly set/updated by `setup-env.sh`.

[2019-09-26 13:46] oehlrich9 commented on #12915
No, I am at HEAD and it is still not functional

[2019-09-26 13:47] alalazo commented on #12915
@pat-s That's what is not happening to me :slightly_smiling_face: Can you post the result of both:
[code]
? My hypothesis is that this happens if you are trying to load modules for architectures that are not the same of your current host.

[2019-09-26 13:49] alalazo commented on #12915
/opt/apps/spack/share/spack/modules/linux-centos7-skylake_avx512

Thanks for the confirmation @oehlrich9 that's exactly what I meant above.

[2019-09-26 13:57] oehlrich9 commented on #12915
The problem is not only in loading the modules but also in building them

On my system they were previously build into linux-centos7-x86_64, now they are build into linux-centos7-skylake_avx512 on the exact same cluster
This leads to a lot unnecessary compilation as spack does not find already installed packages and builds them again

[2019-09-26 14:10] oehlrich9 commented on #12915
Previously, the architecture was just called x86_64, not it is called skylake_avx512, which makes all previously installed software invalid for that host, even though the architecture is still the same

[2019-09-26 14:10] alalazo commented on #12915
@oehlrich9

I guess you are using the `develop` branch and update it frequently. In that case the support for specific targets merged a few days ago (#3206) has the effect you mention if you have software already installed at some previous commit.

I wouldn't consider building optimized software for your architecture as a default a bug though. If you are fine with building generic binaries that ca

[2019-09-26 14:18] oehlrich9 commented on #12915
Our system is completely homogeneously, so building just x86_64 is fine for us.

Thanks, that did the trick at least for building software
Sadly, `spack load` is still broken and cant find module files

[2019-09-26 14:26] oehlrich9 commented on #12915
A quick workaround for me is just adding the old modulefile directory manually to the MODULEPATH

[2019-09-26 14:48] pat-s commented on #12915
[code]

The setting above solves it.

Since the new microarchitecture approach my arch is `linux-centos7-zen`, before it was `x86_64`.
However a lot of formulas fail for me with this new arch that's why I prefer the old one.

[2019-09-26 14:54] pat-s commented on #12928
Builds fine again with latest HEAD :)

[2019-09-26 15:02] pat-s commented on #12915
I indeed only see modules for the arch matching `spack arch`, even if I force build packages with another arch, e.g. `x86_64` (just installed one for `linux-centos7-zen`)

So now I suspect `spack module <> refresh` is not generating modules at all for an arch differing from `spack arch`?

[2019-09-26 15:56] TheQueasle commented on #12928
I've hit the same error just now on a fresh pull from 'develop'.

[code]

This happened when I specified the target as `x86_64`.

It did not throw the error if I did not specify a target and just let spack choose (`haswell` in this case).

[2019-09-26 16:09] pat-s commented on #12915
A practical problem which is occurring by this is that I am unavailable to load a custom `gcc` because my system compiler always install as `x86_64` and I cannot create the env module for this package.

[2019-09-26 20:38] #12852 closed

[2019-09-26 23:25] wspear opened #12963 "EVPath: Add configuration options for additional features"
We are creating a package for a program that depends on EVPath but it needs EVPath's atl, ffs, dill, enet (currently provided) and cercs_env components. Could we get these options added to the EVPath package?

[2019-09-27 17:46] woodard opened #12967 ".spack/compilers.yaml is now .spack/<os>/compilers.yaml"
simple doc fix
https://spack.readthedocs.io/en/latest/getting_started.html?highlight=compiler%20flags#manual-compiler-configuration

references ~/.spack/compilers.yaml now it appears to be ~/.spack/linux/compilers.yaml

[2019-09-27 19:39] martyitz opened #12968 "Errors in config.yaml formatting or content are not reported comprehensively"
I had an syntax error in my ~/.spack/linux/compilers.yaml file, which gave some
invalid name (a full path) instead of a shorter name.
I tried to install "hpctoolkit+mpi" and it failed trying to build openmpi with the confusing error:
[code]
That was the first prerequisite that needed building.  Same thing happened trying to install
using a target clause.

spack should report that the compiler modu

[2019-09-27 19:41] martyitz opened #12969 "Enable putting "target=xxxx" in the config.yaml file"
If one is building on an x86 machine for a site which has many different chips,
it would be best to install all shared software built for the x86_64 architecture.
Currently that means adding a target clause on each install.  It would be more
graceful if the target could be specified in the config.yaml file

[2019-09-27 22:01] scheibelp commented on #12736
FYI looks like https://github.com/spack/spack/pull/12904#discussion_r329240444 is was affected by this (although that PR includes a workaround for this bug).

[2019-09-28 00:19] #12930 closed

[2019-09-28 18:22] adamjstewart commented on #12967
Technically, it's a bit more complicated than this. By default, Spack puts compilers in `~/.spack/<os>/compilers.yaml`, but there are several other accepted [configuration scopes](https://spack.readthedocs.io/en/latest/configuration.html#configuration-scopes). But I think it's a good idea to change the docs to reference the default location. Care to submit a PR? If not I can submit one for you.

[2019-09-28 18:25] adamjstewart commented on #12963
Hi @wspear, you can add whatever variants you want to the `libevpath` package! PRs are always welcome. I just checked and that package currently doesn't list any `maintainers`, so technically no one is in charge of it.

[2019-09-28 18:39] #10585 closed

[2019-09-29 19:01] vikramsg opened #12974 "Installation issue: gdbm"
After the Mac OS update to Mojave there were some issues, so I decided to reinstall Spack. However, I got stuck with building even gcc. It gets stuck at gdbm.

---

### Steps to reproduce the issue

[code]

### Platform and user environment

Please report your OS here:
[code]

To try and bypass this issue, I found that the following took me slightly forward but I get stuck again.
### Additional In

[2019-09-29 20:55] adamjstewart commented on #12974
@alalazo this looks like another microarchitecture bug. For the record, I'm able to install gdbm 1.18.1 with both Clang 11.0.0 and Homebrew-installed GCC 9.2.0 on macOS 10.14.6 (Mojave), so I don't think there's a problem with the `gdbm` package itself.

@vikramsg can you share the output of `spack config get compilers`? I want to see if there are any old compilers still listed from before your OS

[2019-09-29 22:07] vikramsg commented on #12974
I actually cleaned up everything and reinstalled Xcode since some other stuff was not working as well. So, clang does not have the old version. The gcc below is from Macports. I can't use that either.

[code]

Here's the arch output.

[code]

[2019-09-29 22:15] adamjstewart commented on #12974
Assuming you're building with Clang this should definitely work. I'm pretty sure this is a microarchitecture bug that @alalazo can help with.

[2019-09-30 11:29] vikramsg commented on #12974
I did a reinstall of Xcode and spack after cleaning up everything and now it seems to work.

[2019-09-30 11:29] #12974 closed

[2019-09-30 19:41] wspear opened #12983 "Installation issue: Rose"
Trying to install chill, its dependency rose 9.10.0 fails to build with the error output below. I think the critical error is failure to download EDG but there are some other potential issues mentioned. I am building with gcc-7.3.0 on a RHEL6 system.

[code]

[2019-09-30 20:05] wspear commented on #12983
I tried spack install rose@develop and got this:

[code]

[2019-09-30 21:30] mwkrentel commented on #12883
@akkbook  Have you tried a more recent version of spack?
There's no bug here and you may as well close this issue.

[2019-09-30 21:35] adamjstewart commented on #12983
@justintoo

[2019-10-01 01:40] iluvatar1 opened #12988 "Spack stuck installing libxml2 (curl does not download xmlts)"
Hi,
I am trying to use spack and to show it to my local research group as an alternative for package management. When doing spack install lmod , if gets stuck when it is downloading libxml2 and its resources.  In particular, it tries to download xmlts-2.9.9.tar.gz, reaches 99.9% , stops there for a while, and then throws an error about an error downloading the package.

### Steps to reproduce the

[2019-10-01 15:53] adamjstewart commented on #12988
[code]
works for me. Can you try again and make sure it isn't an intermittent issue? I often have intermittent download issues with curl, but running it again usually fixes the problem.

[2019-10-01 17:17] ax3l opened #12998 "Transition ZFP to CMakePackage"
ZFP is primarily build with CMake and installing it via Makefiles will lack important configuration files for downstream projects.

I therefore propose to update the package accordingly.

Related to
- https://github.com/ornladios/ADIOS2/issues/1800
- #12987

[2019-10-01 17:18] ax3l commented on #12998
cc previous authors of the package: @michaelkuhn @markcmiller86

[2019-10-01 19:33] iluvatar1 commented on #12988
Hi,
yes and no, on another computer the fetch command works, but on another one
it fails again. As you said, seems to be intermittent  . I do not know what
to do here, just try again and again after some time? because I tried many
times on a minutes wide span and it did not work. Just now, after several
hours, it is working.
Thanks for your guidance

On Tue, Oct 1, 2019 at 10:53 AM Adam J. Stewart

[2019-10-01 19:36] adamjstewart commented on #12988
That's unusual. It could just be that the server that hosts the downloads was undergoing maintenance. For a lot of packages that download from popular repos (GNU, CRAN) we download from a mirror to prevent these kinds of issues. In the long run, Spack plans on creating their own mirror for all download tarballs that will be hosted by LLNL. This should prevent this problem from happening again, or

[2019-10-01 22:03] #12935 closed

[2019-10-01 23:04] hartzell opened #13005 "Problems with Lmod modulefile names post-PR#3206"
We're using Spack on CentOS 7 systems.  We build our things nightly
to stay on top of changes.

The recent changes in #3206 changed the names of the directories in
which our modules end up.  We splice a spack tree into our users
environments with a shell script that used to refer to the Core
directory with something like this:

[code]

which worked well enough since all of our systems are x86_64.

[2019-10-01 23:05] hartzell commented on #13005
ping @odoublewen

[2019-10-01 23:54] hartzell opened #13006 "`spack clean -s` doesn't clean stage dirs"
I'm working on a mac, running OSX 10.13.6, with a git tree that's at `cfc17e95062a8d974bd95b881070199ffcb343f9`.

I believe that `spack clean -s` should clean up the staging dirs created by `spack stage <package>` but it doesn't seem to.

Might be "problem exists between keyboard and chair", but thought I'd check.

If it's a bug, I'll go hunting.  If not, I'll get more coffee.

[code]

[2019-10-02 00:17] #12787 closed

[2019-10-02 02:13] adamjstewart commented on #13006
I can reproduce this bug on macOS 10.14.6 when running Spack with both Python 2 and 3.

[2019-10-02 02:18] #12915 closed

[2019-10-02 02:54] adamjstewart opened #13009 "spack test leaves behind config.yaml file"
When I run `spack test`, it leaves behind a `config.yaml` that shouldn't be there.

### Steps to reproduce the issue

[code]

### Information on your system

* macOS 10.14.6
* Python 3.7.3

This may also be related to #12647

[2019-10-02 03:28] adamjstewart commented on #13009
Confirmed that this line is responsible:
https://github.com/spack/spack/blob/develop/lib/spack/spack/test/conftest.py#L142,L143

[2019-10-02 03:38] adamjstewart commented on #13009
Even worse, if you have an existing `build_stage` set in your user-level `config.yaml`, it gets overwritten.

[2019-10-02 03:48] adamjstewart commented on #13009
It looks like this function was added in #12072. @tldahlgren can you take a look? The only fix I've found so far is to comment-out the entire first part of the if-statement, but that's probably there for a reason.

[2019-10-02 04:29] tgamblin commented on #12969
@martyitz: you can already do this, but not in `config.yaml`.  You can do it for all packages or per-package in `packages.yaml`:

[code]

Note you can do that in an [environment](https://spack.readthedocs.io/en/latest/environments.html) (`spack.yaml` file) too.

@alazo: can you add this to the docs?

[2019-10-02 04:29] #12969 closed

[2019-10-02 06:28] #12998 closed

[2019-10-02 08:10] alalazo commented on #12969
@tgamblin Wrong handle above :smirk:

[2019-10-02 09:19] christianbaensch opened #13018 "Installation issue "libsigsegv""
Dear community,

I´ll try to install dealii onto a Ubuntu 16.04.6 LTS machine with gcc 5.4.0 and the build runs into an error while installing "libsigsegv".
It´s indepentend whether a user or the super user run the installation and there isn´t also a problem with permissions. On tests with other machine with same OS and gcc, I have partial success with the installation, otherwise it runs into the

[2019-10-02 09:21] matz-e commented on #12928
Same here, `target=skylake` made it compile, while `x86_64` did not. The CMake logs look fairly clean, I don't see any direct error/failure message:
[code]
Maybe that warning is captured by CMake?

[2019-10-02 09:46] pat-s commented on #12928
Confirm the problems with `x86_64`.
Various formulas are failing during C compiling steps but they work when using the specific micro arch.

[2019-10-02 09:47] pat-s commented on #13018
You can try roll back before the "microarch" PR was merged. Since then I also have problems on arch `x86_64`.

[2019-10-02 09:49] alalazo commented on #12928
@becker33 @tgamblin I don't think this is the cause of the issue, but we might need to investigate this:

and check since when it became deprecated.

[2019-10-02 10:06] matz-e commented on #12928
@alalazo I think this warning may actually trip up Cmake:

https://github.com/Kitware/CMake/blob/master/Source/Checks/cm_cxx_features.cmake#L29

Seems easy enough to patch, I can look into that.

[2019-10-02 10:11] alalazo commented on #12928
@matz-e Thanks! If you go for it you'll probably need to modify this:

https://github.com/spack/spack/blob/bec283080292f90f8f97dcb7ceb070a9a86ed388/lib/spack/llnl/util/cpu/microarchitectures.json#L51-L57

and provide whatever version specific flags GCC expects. You can have a look at the `nehalem` microarchitecture to follow as a guideline. Basically the value for the `gcc` key won't be an object,

[2019-10-02 10:26] matz-e commented on #12928
@alalazo thanks for the pointer, that would actually be a better place to fix things! I was more thinking about patching CMake (since it's only a deprecation warning), but fixing the flags would be better.

[2019-10-02 10:26] pat-s commented on #12928
Thanks guys for tackling this.
I just hardcoded the change for now and using `-mtune=generic` makes me pass the errors before for `x86_64` arch formulas.

[2019-10-02 11:19] matz-e commented on #12928
Sort of torn about this. While `-mtune=x86-64` is deprecated, it is still accepted:
[code]
I'm no expert on these optimization flags, so not sure what to do. I'll patch CMake locally for now to resume our builds.

[2019-10-02 14:10] adamjstewart commented on #13018
[code]
@alalazo

[2019-10-02 14:12] adamjstewart commented on #13006
@tldahlgren was the last person to work on stages in #12072, she might be able to track down the problem.

[2019-10-02 14:16] alalazo commented on #12928
@matz-e Ok, I'll take a stab at it, don't worry!

[2019-10-02 14:31] tldahlgren commented on #13009
ISee #12857

On Oct 1, 2019, at 11:49 PM, Adam J. Stewart <notifications@github.com<mailto:notifications@github.com>> wrote:

It looks like this function was added in #12072<https://github.com/spack/spack/pull/12072>. @tldahlgren<https://github.com/tldahlgren> can you take a look? The only fix I've found so far is to comment-out the entire first part of the if-statement, but that's probably there

[2019-10-02 17:01] cwsmith commented on #13005
I think I'm hitting the same issue using the develop branch (b929774).   I `git pull`'ed `develop` yesterday for the first time in about a month.  After that, I installed a package and noticed that the module and install path is now `linux_rhel7_skylake` instead of `linux_rhel7_x86_64`.  The system I’m working on has a pre-skylake intel processor.

[2019-10-02 17:20] scheibelp commented on #13009
Closing this as a duplicate of https://github.com/spack/spack/issues/12798. Feel free to reopen if that does not seem to be the case to you. I am updating the title of that issue to make it clearer.

[2019-10-02 17:20] #13009 closed

[2019-10-02 17:20] hartzell opened #13023 "RFC: GoPackage -- support for packaging applications written in Go"
I'm thinking about putting together support for go-based packages.
Going forward, I believe that most go applications will use [modules]
to manage their dependencies so my initial plan is to focus support on
applications that either:

1. use modules *and* vendor their dependencies; or
2. use modules *but do not* vendor their dependencies.

I plan to provide generic implementations of the basic pha

[2019-10-02 17:26] hartzell commented on #13005
What OS/distro are you using?  What compiler?

I wonder if there's some way (presumably the same mechanism that Spack is using...] to discover what target instruction set the compiler was built for (I'm betting skylake, but...)?

[2019-10-02 17:34] cwsmith commented on #13005
@hartzell We are running RHEL7 and the spack installs were using clang 7.0.0.  In `compilers.yaml` we pass `-mtune=native -march=core2` under the `flags:` heading to support the various generations of intel processors we have in our systems.  The machine I was running spack on is a `i7-7700 CPU`; which is apparently using the ['Kaby Lake' microarch](http://www.cpu-world.com/CPUs/Core_i7/Intel-Core

[2019-10-02 18:41] paulbry commented on #12520
I had this same issue (different spec though) I was able to succesfully complete my build by using Python 3 as I was also using CentOS 7. In my case I loaded a module of a Spack installed version of Python 3.7.4

Can't guarantee it will work in your case or if there is a different fix.

[2019-10-02 19:48] wspear opened #13028 "Installation issue: seacas"
I need to install seacas to provide ioss for our e4s environment. After concretizing as follows in our CENTOS7 image the build failed with the error output below.

I then tried building it outside of our environment. The resulting spec and (different) error output are also below.

Note that we are building in a docker environment with a minimal OS install. Occasionally we run into packages that ex

[2019-10-02 20:20] adamjstewart commented on #13023
I don't know anything about Go, but I do know a lot about adding new build systems/package base classes to Spack, so let me know if you need any help or reviews for a new `GoPackage` base class.

[2019-10-02 21:18] tgamblin commented on #12355
Closing this as I think it's an issue with machine connectivity to the internet.  Please reopen if setting a proxy or using `spack mirror` doesn't work!

[2019-10-02 21:18] #12355 closed

[2019-10-02 22:11] hartzell commented on #13023
FWIW, here' the list of things current in Spack that `depend_on(go...)` (assuming my ripgrep-fu is up to snuff), whether they use modules (specifically, have a `go.mod` file) and whether they've vendored their dependencies).

| package   | uses modules | vendored deps | comments                    |
|-----------|--------:|---------:|-----------------------------|
| direnv    | no      | no       |

[2019-10-02 22:17] adamjstewart commented on #13023
I think you missed `rclone`

[2019-10-02 22:26] alalazo commented on #3768
**TL;DR** I don't think we should encourage packagers to use `depends_on('libfoo', type='link')` for usual C and C++ libraries even if it seems the most correct modeling right now. They should stick to `depends_on('libfoo')` instead and we should change the default dependency type at some point. Long story below.

----

Sorry if I came so late to this party, just finished reading the discussion ab

[2019-10-02 22:35] adamjstewart commented on #3768
I mostly agree with @alalazo, we should add an `include` deptype. There are a lot of X11 header-only libraries (`spack list proto`) that could be uninstalled after they are used to build another package. I'm not sure whether the default should have `build` or not. One additional thing to consider is #12842. There are some test dependencies that need to be RPATHed.

[2019-10-03 06:40] jcftang commented on #13023
Also, with the recent golang releases there is also GOPROXY which you could leverage on the host to pull cached artifacts.

[2019-10-03 08:31] #12928 closed

[2019-10-03 15:31] #12967 closed

[2019-10-03 15:43] hartzell commented on #13023
@jctang -- how do *you* see it being useful (I'd scratched my head and put it aside):

- for figuring out the set of dependencies I think that either using `go list ...` or parsing the `vendor/modules.txt` file seems simpler than anything that I can imagine involving GOPROXY.

- for pulling the resources I think that I'll want to use the Spack machinery because it'll ensure that everything Spack-s

[2019-10-04 06:13] mathsen opened #13045 "Warning: specifying a "dotkit" module root has no effect"
Today I pulled the newest commits from the spack dev branch (since I was affected by [this](https://github.com/spack/spack/pull/12962) bug and now executing setup-env.sh leads to this error:

[code]
The warning is also shown when running just "spack list", here is the (relevant) output with the "-d --stacktrace" option:

[code]

Afterwards spack does not change my $MODULEPATH, so the modules creat

[2019-10-04 06:56] jcftang commented on #13023
@hartzell I was thinking that it would be useful to be able to set the GOPROXY variable to point to a local proxy that developers might be using and vice versa for development purposes. But upon thinking about it you are probably right, just unpacking things in GOPATH seems simpler.

[2019-10-04 07:05] alalazo commented on #13045
Can you please run:
[code]
and post the output? I think I missed to update a place in `main.py` when writing #11986 and that you have a custom `dotkit` path specified in `config.yaml`.

[2019-10-04 07:07] mathsen commented on #13045
Here we go:
[code]
Hope that helps :)

[2019-10-04 07:11] alalazo commented on #13045
@mathsen Working on a more permanent fix right now. As a quicker workaround you can delete:
[code]

[2019-10-04 07:12] mathsen commented on #13045
@alalazo That was really fast! Thanks for the (very) quick help!

[2019-10-04 08:18] mathsen commented on #13045
@alalazo With your fix I now get:

[code]

Nothing more - so I guess it works :) The warning comes from the fact, that I just copied the default config from the spack root directory to my home folder and adjusted the things I needed... I removed the "dotkit" line as you advised (and which seems to be new default now).

Unfortunately I'm still not able to see the spack module files without manipula

[2019-10-04 08:33] healther commented on #9352
For what it's worth: [This is our package](https://github.com/electronicvisions/spack/blob/visionary/var/spack/repos/builtin/packages/tensorflow/package.py) that we are using internally. It works but it really isn't pretty and requires the `spack install tensorflow` command to be run from somewhere with internet access.

We always wanted to put it upstream, but things keep coming up that push that

[2019-10-04 08:40] alalazo commented on #13045
I am not able to reproduce your issue with MODULEPATH. Can you please open a new bug report if you find a reliable reproducer?

[2019-10-04 08:47] mathsen commented on #13045
alalazo: Ignore my comment, now everything works as expected... I just had to comment in the line where setup-env.sh is being sourced in my .profile file...
Thanks again for your fast help fixing this bug!

[2019-10-04 12:03] albertosalvadori opened #13048 "Installation issue: slepc-3.12.0 fails to configure with gcc@9.2.0"
### Steps to reproduce the issue

[code]

### Platform and user environment

[code]

- `packages.yaml`
packages:
  all:
    compiler: [gcc]
  perl:
    paths:
      perl@5.16.3%gcc@9.2.0: /usr
  dealii:
    variants: +optflags~python

- `compilers.yaml`

compilers:
- compiler:
    environment: {}
    extra_rpaths: []
    flags: {}
    modules: []
    operating_system: centos7
    paths:
      cc:

[2019-10-04 15:33] adamjstewart commented on #9352
@healther that doesn't look that bad. It's better than no package. Does anyone have the time to steal that recipe and make a PR?

[2019-10-04 16:54] shuds13 opened #13051 "Installation issue: petsc4py"
petsc4py cannot find numpy on Theta (Cray XC40).

### Steps to reproduce the issue

[code]

### Platform and user environment

Please report your OS here:
[code]
[config.yaml.txt](https://github.com/spack/spack/files/3691338/config.yaml.txt)
[packages.yaml.txt](https://github.com/spack/spack/files/3691339/packages.yaml.txt)

### Additional information

[code]

I have also tried to do this in a spe

[2019-10-04 18:04] hartzell commented on #13023
@jcftang -- Ah, yes.

I'm proposing/implementing tooling to help Spack package authors write packag{es,ing} for Go-based applications.

Once that's in place, [I hope] it'll be easy to package up something like [the goproxio](https://github.com/goproxyio/goproxy) or [athens](https://github.com/gomods/athens) proxies so that they can be used by folks building Go-based applications.

[2019-10-04 19:05] healther commented on #9352
There is a graduate school next week at our institute, I might find some time at the lecture.. no promises though :)

[2019-10-04 20:53] alalazo commented on #12892
Just for the record, this also hits if you package Spack in a singularity image and run it using default bind mounts. When your home is mounted all your host configuration in `~/.spack` comes with it - including compilers that might not be installed in the image, concretization preferences that might not fit etc.

[2019-10-05 06:42] #13045 closed

[2019-10-05 13:16] hseara opened #13057 "Allow the user to customize the path for the ~/.spack folder"
*Multiple coexisting spack installations share the ~/.spack folder. On some occasions, we have seen odd behaviors that currently can be solved by deleting the user ~/.spack folder. However, it will be best if the user could just set in "{SPACK}/etc/spack/defaults/config.yaml" a different path for each spack installation.*

### Rationale

*When a single user manages multiple spack installations the

[2019-10-05 13:37] alalazo commented on #13057
Duplicate of #12892

[2019-10-05 13:44] hseara commented on #12892
As I mentioned in the duplicate request #13057 a possible solution to this issue could be to provide a variable in "{SPACK}/etc/spack/defaults/config.yaml" to set a customized path for the ~/.spack folder.

[2019-10-06 01:51] adamjstewart commented on #12892
Are none of these other configuration scopes sufficient?
https://spack.readthedocs.io/en/latest/configuration.html#configuration-scopes

You can have different configuration files for each Spack instance if you put them in `$(prefix)/etc/spack`, or different configs for each machine by putting them in `/etc/spack`. You can also pass a custom config scope via the `--config-scope` variable. For exam

[2019-10-06 08:43] hseara commented on #12892
@adamjstewart  For sure, the available configurations scopes are sufficient.  The point discussed here is, however, whether it would be possible to tune the user scope location. This scope is the only one with the path fixed that it is not self-contained in the spack installation folder. Moreover, it is used by default when invoking 'spack' alone. This is why it is so problematic.

I find interest

[2019-10-07 12:02] anne-glerum commented on #13005
I think I hit a similar issue on my Mac where instead of `darwin-mojave-x86-64` spack now uses `darwin-mojave-broadwell`. I haven't looked into it in detail, but spack now seems unable to load environment-modules on a fresh bash shell and a spack install of py-pip gives an ImportError upon running.

[2019-10-07 12:36] alalazo commented on #13005
@anne-glerum Are you using `environment-modules`  with a "flat" layout or `lmod` hierarchical layout?