[2021-10-02 06:00] tgamblin commented on #26420
@alalazo: should we disable `-static-libstdc++` when building from source?

[2021-10-02 07:43] HadrienG2 commented on #26242
tl;dr: How about `build_jobs = min(2 * physical_cpu_cores, physical RAM / 2GB)`?

---

@goxberry Sorry, I do not understand what your latest proposal is trying to achieve.

Earlier, you said that your main issue with my initial proposal was that it put unknowing users at the risk of crashing their system, which would cause bad user experience and ultimately bad reputation for Spack.

Accepting thi

[2021-10-02 08:00] alalazo commented on #26420
Let me check what are our defaults for installing GCC. The issue here is that to solve this long term we need compiler as dependencies (i.e. we need to be able to say `clingo` has a dependency on `libstdc++` and have that reflected in the spec and DB).

Relaxing the requirement on having a static `libstdc++` when building from sources means trading errors of this type (which occur upfront) with er

[2021-10-02 08:31] tgamblin commented on #26420
@alalazo: I'm saying that for the bootstrapped binaries we'd still use `--static-libstdc++`, but when bootstrapping from source we'd turn it off.  So the source bootstrap and binary bootstrap would actually be building different specs.  I think this is a fairly simple tweak to the code that builds the bootstrap clingo, right?

[2021-10-02 08:52] alalazo commented on #26420
@tgamblin Sure, that was clear. What I'm saying is that relying on shared libraries in the latter case doesn't solve all the issues. It solves this one, but opens for others related to Spack not tracking the `libstdc++` dependency.

Here's an example use case that I have in mind. Say we have a Spack installed GCC (from previous versions or a buildcache). Spack installs by default:
[code]
so static

[2021-10-02 09:00] alalazo commented on #26420
@jacobmerson My understanding is that this happen with v0.16.3 Can you check if `develop` bootstraps (from binaries) correctly for you?

I'll be submitting a PR shortly relaxing the requirements when building from sources but I'd like to confirm that the bootstrapping logic in its current state on `develop` is working on your platform.

[2021-10-02 11:05] cessenat commented on #26408
@maruthinh you could try, as an alpha test:
spack install --no-checksum gmsh ^fltk@1.3.7

[2021-10-02 12:53] #26420 closed, assigned to alalazo

[2021-10-02 14:40] tueda commented on #13505
Somehow I hit the `mpfr` problem:
[code]
Retrying `spack install` worked fine.

Version:
[code]

[2021-10-03 03:06] benc303 opened #26438 "Installation issue: gcc with Xcode 13"
### Steps to reproduce

After installing Xcode 13, which was released a few weeks ago, and its command line tools, gcc fails to build. I tried to build with command
[code]
(the `-j 1` option being to ensure ungarbled build output). The build error, from `spack-build-out.txt`, is:
[code]

It seems to be an issue with how the zstd library is linked to the binaries built by gcc. The command that buil

[2021-10-03 04:23] jacobmerson commented on #26420
@alalazo the binary bootstraping worked perfectly on the develop branch.

[2021-10-03 08:55] cessenat commented on #26408
This is solved by PR #26423

[2021-10-03 08:55] #26408 closed, assigned to nobody

[2021-10-03 09:52] cessenat commented on #22095
I've checked that the issue is solved since @sethrj merged PR #26423
This issue should now be closed

$ spack install --jobs 2 octave@6.2.0+fftw+fontconfig+freetype+gnuplot+curl+fltk
[code]
sombrero did plot a nice colored surface in 3d as exepcted

$ spack debug report
* **Spack:** 0.16.2-4625-d9f25f223f
* **Python:** 3.6.9
* **Platform:** linux-ubuntu18.04-zen2
* **Concretizer:** clingo

[2021-10-03 10:11] cessenat commented on #22095
Oh, I must apologize, it already worked right **before** that PR ; anyway still works thereafter.

$ spack debug report
* **Spack:** 0.16.2-4645-d603f4519d
* **Python:** 3.6.9
* **Platform:** linux-ubuntu18.04-zen2
* **Concretizer:** clingo

[2021-10-03 11:53] sethrj commented on #22095
Closed by #26423

[2021-10-03 11:53] #22095 closed, assigned to nobody

[2021-10-03 13:33] sethrj commented on #26002
@wspear The "Type mismatch" error you're seeing is an extremely common bug in MPI usage (and other functions) that, starting with GCC10, is treated as an error. Basically if you call `MPI_Allreduce` (or other MPI functions) twice from the old-style `mpi` module (or `mpi.h` header) in the same Fortran file but with different types, Gfortran treats it as an error because it derived the function sign

[2021-10-03 17:51] jthies commented on #26002
in the corresponding Fortran module there is only a "use mpi", no "#include <mpi.h>" or something similar. Moreover, I can build phist with gfortran 10 without problems.

[2021-10-03 19:20] melven commented on #26002
Just to clarify (thanks @sethrj):
* ancient: `include 'mpif.h'`
* old: `use mpi`
* new: `use mpi_f08`

We currently have `use mpi` there - the code was partly written before working Fortran 2008 support in the compilers.
@jthies: I would suggest we use the newer Fortran module if available... (I can have a look but I stil have some other points on my todo list ;) )

[2021-10-03 23:13] sethrj commented on #26002
@jthies The error is definitely related to the `mpi` call:
[code]
on line 167 passes `logical :: res` and
[code]
on 389 passes `integer :: ierr`.

If the MPI version that defined `mpi.mod` (wherever it's hiding) just declares `EXTERNAL MPI_Allreduce` rather than defining a generic interface, GCC10 will definitely error out. It will infer from the first call that the `MPI_Allreduce` function (which

[2021-10-04 00:31] shahzebsiddiqui opened #26450 "readthedocs PR build"
it would be useful to enable readthedocs PR preview of docs see https://docs.readthedocs.io/en/stable/pull-requests.html. Once this is enabled incoming PRs will build the PR docs you can view the rendered page. Definitely useful for reviewing documentation changes live by clicking on the PR as pose to reviewing the file.

Take for example this PR in e4s project https://github.com/E4S-Project/e4s/p

[2021-10-04 06:02] mwkrentel commented on #26242
Geez, who knew it was so difficult to come up with a simple default.

I think it's very risky to argue, "most modern systems have ..., so
let's push the limit to ...."  There is old hardware, new hardware,
single-user systems, sytems with 20 other users running -j 32.  A few
years ago, TACC disabled SMT on their systems, so "2 times number of
cores" would not be such a good idea there.

The point

[2021-10-04 07:37] goxberry commented on #26242
@HadrienG2, the developers I support primarily use HPC nodes and are not sysadmins (nor am I, for that matter), so if they bring down a node, they get scolded by sysadmins and it becomes my problem to debug. I am optimizing for a different case than you are -- namely, avoiding trouble from my colleagues -- which is the root of our disagreement.

**I don't particularly care what the default job lim

[2021-10-04 08:15] punkpony commented on #26385
Thank you! Yes, I am wondering if I did not link up the modules with compilers right then.

any tips very welcome :)

[2021-10-04 08:57] haampie opened #26459 "Installation issue: hip with cmake 3.21.3"
### Steps to reproduce the issue

[code]

[2021-10-04 10:10] haampie opened #26464 "Version is no longer totally ordered and comparison speed regressed"
### Steps to reproduce

After https://github.com/spack/spack/pull/24639 the set of Version objects no longer satisfy a total order with `<`:

[code]

You may say this is an edge case, but generally I'm not a fan of extending Version with git-related things, because Git commit sha's are the exception, and they don't map perfectly to Spack registered versions.

If what we want is to compare a Git co

[2021-10-04 10:20] #26459 closed, assigned to srekolam

[2021-10-04 10:44] haampie commented on #26464
Note that in https://github.com/spack/spack/pull/22973 we were happy with a 2x speedup, now we have a 4x slowdown :(

[2021-10-04 10:47] alalazo commented on #26464
For the record, version comparison affects in non-negligible ways the "setup" time of each concretization (it is needed to compute a lot of facts about packages and preferences)

[2021-10-04 10:51] haampie commented on #26464
So, if instead we make the spec parser create GitVersion's we pay the cost of the regex only once, and otherwise there's just the cost of dispatching to the right `__lt__` implementation depending on the types of the arguments (and get a fast path for Version < Version comparisons), which as far as I understand is slow in Python anyways, but sure it must be faster than executing a regex...

(waiti

[2021-10-04 10:59] alalazo commented on #26464
A few random thoughts that almost date back to #1997 The semantic of versions is package specific, in the sense that it makes little sense to compare versions across packages (what is the meaning of comparing `@1.3` in `mpich` with `@4.5` in `openmpi`?). Given that,  we may think of having, longer term, more version classes implementing  different semantics - rather than a single class that tries

[2021-10-04 11:03] jacorvar opened #26466 "Add `slurm-contribs` to slurm package"
### Summary

Add `slurm-contribs` package to Spack to be used together with `slurm`.

### Rationale

It contains commands such as `seff` which are very useful for our community.

### Description

There are alternatives such as `sacct` plus several arguments, but `seff` gives you a quick snapshot of the used resources.

### Additional information

* **Spack:** 0.16.3-4541-9e70fc6
* **Python:** 3.6.

[2021-10-04 14:32] #25876 closed, assigned to nobody

[2021-10-04 14:59] #26231 closed, assigned to nobody

[2021-10-04 15:21] jamesETsmith commented on #7857
I see this problem when building Julia 1.6.2 using a `spack` installed version of OpenBLAS (0.3.17) on MacOS (11.6). Was there ever a fix for this? I know #6941 is already a similar issue to this one and I didn't want to open another overlapping issue (but if that's preferred just let me know).

[2021-10-04 15:31] haampie commented on #26464
@alalazo I think I know what you're trying to say with "what is the meaning of comparing `@1.3` in mpich with `@4.5` in openmpi?" but clearly nobody is going to compare versions across packages, that never comes up.

I guess what you're getting at is that every package can impose a different total order on a different set of versions S:
1. By default (S = {Version}, <); lexicographical on the Vers

[2021-10-04 15:43] alalazo commented on #26464
That's exactly my point. We don't need to be able to compare arbitrary Version objects to each other (which would be a valid reason to have a single class representing a version in Spack's codebase). We just need a total order for objects referring to the same package.

For the rest that's where I'd like to arrive. A relevant example of 2 for instance are C++ versions where 98 < 03 < 11 < 14 < 17

[2021-10-04 17:32] haampie opened #26482 "v.concrete does not mean isinstance(v, Version)"
### Steps to reproduce

After https://github.com/spack/spack/pull/24639

[code]

Before https://github.com/spack/spack/pull/24639

[code]

Note that this is technically incorrect, since it should be a version list of a concrete version and a range. This also hits yet another bug in spack, namely:

[code]

:/

[2021-10-04 17:51] haampie commented on #26482
@becker33 I guess the issue is not on the git version side, but rather with VersionRange `x:x` being concrete -- which is a bug imho. I've tried to address that here: https://github.com/spack/spack/pull/26208 but spack seems to rely on this behavior

[2021-10-04 19:06] sethrj commented on #23894
@KineticTheory Most of the versioning constraint conflicts should have been taken care of automatically with the clingo concretizer, which is now the default. The fact that glib only depends on python as a *build* dependency is a long-standing task of preventing build deps from constraining the rest of the DAG.

[2021-10-04 19:06] tgamblin commented on #26482
Is this title helpful?

[2021-10-04 19:15] tgamblin commented on #26053
@JamieSlome did you end up reporting this?

[2021-10-04 20:07] sethrj commented on #26438
I verified this fails on my machine too.  Interestingly, I *also* hit an almost identical error while building ROOT today. That makes me think this is a problem with spack itself...

This error kind of reminds me of https://github.com/spack/spack/issues/21870 .

[2021-10-04 20:31] sethrj commented on #26438
@benc303 Figured it out I think: it's a problem with the `libzstd` that's being built: grepping `otool -l libzstd.dylib` includes:
[code]
so it thinks it's being installed to an absolute path that it doesn't exist at. I do see `/usr/local` as a default in the Makefile so there's possibly something wonky going on there. I'll keep digging.

[2021-10-04 20:35] sethrj commented on #26438
OK @benc303 confirmed, the link command inside `libzstd` make file is explicitly setting `-install_name /usr/local/lib/libzstd.1.dylib` because `PREFIX` isn't passed to the `build` stage. I'll fix this. It does mean that this package *might* not be relocatable on mac, even if rpaths are adjusted.

[2021-10-04 21:04] haampie commented on #26482
What title would you give to it? There's multiple bugs going on.

1. The new git versions PR assumes that `version.concrete` being truthy implies that `instance(version, Version)`, which is incorrect.
2. VersionRange can be concrete, which doesn't make sense
3. Spack relies on VersionRange being concrete in some cases.

[2021-10-04 21:16] haampie commented on #26482
The tl;dr VersionList incorrectly simplifies ranges x,x.y:x.z to x:x, which is considered a concrete version, which triggers a bug in the new git commit code which assume that concrete versions === Version objects.

[2021-10-04 21:26] sethrj commented on #26438
This is a result of the change from cmake to makefile for zstd in #25610 @haampie . Presumably CMake is smarter about not hardcoding paths with `-install_name`, since it will even update rpaths when installing. I'm submitting a patch.

[2021-10-04 21:50] tldahlgren opened #26519 "Import failures on stand-alone python package tests"
### Steps to reproduce

Running tests on `py-numpy` installed on September 27th -- though likely from a branch and not `develop` -- yields import failures.

If I uninstall and re-install the package from `develop`, I do not get those failures. While that is okay under development, I imagine it would not be acceptable for facilities.

[code]

### Error message

Running from the system I think I use

[2021-10-04 22:17] ax3l opened #26520 "Trouble Setting Conflict for Darwin aarch64/M1"
### Steps to reproduce

In #26318, I want to set a conflict that GCC does not build on Apple M1 (Darwin aarch64) architectures prior to the GCC 12+ releases.

This works:
* `conflicts('@:11', when='platform=darwin')`

and those should as well, but don't:
* `conflicts('@:11', when='target=aarch64: platform=darwin')`
* `conflicts('@:11', when='target=m1 platform=darwin')`
* `conflicts('@:11', when='

[2021-10-04 22:26] michaelkuhn commented on #25358
Does #26521 work for you? At least with glibc, it seems to do the trick.

[2021-10-05 01:12] glennpj commented on #26308
@bcdarwin I am not able to replicate this. I wonder if your include directory is not quite right with your external openmpi.

[2021-10-05 01:30] #8703 closed

[2021-10-05 02:03] #26438 closed, assigned to nobody

[2021-10-05 03:33] joequant opened #26523 "Installation issue: cppgsl"
### Steps to reproduce the issue

[code]

### Information on your system

[user@61c536099a03 /]$ spack debug report
* **Spack:** 0.16.3
* **Python:** 3.9.7
* **Platform:** linux-mageia9-zen2
* **Concretizer:** clingo

### Additional information

[spack-build-env.txt](https://github.com/spack/spack/files/7282564/spack-build-env.txt)
[spack-build-out.txt](https://github.com/spack/spack/files/7282565

[2021-10-05 06:19] HadrienG2 commented on #26242
Oh well, if...

- Everyone is quite obviously getting fed up with this discussion.
- It seems no simple policy will please everyone.
- We just don't agree enough on the tradeoffs & priorities involved to pick a non-simple policy.

Then it's better to just call it a day.

Just to fix what I perceive as a misunderstanding: it's not as if I care only about optimal build perf, or don't care at all abo

[2021-10-05 06:19] #26242 closed, assigned to nobody

[2021-10-05 07:16] #26189 closed, assigned to alalazo

[2021-10-05 08:57] JamieSlome commented on #26053
@tgamblin - an e-mail was sent to `maintainers@spack.io` but was never opened?

You can visit the link directly here:

https://huntr.dev/bounties/8764cd1e-1fb3-465d-8575-5e6a0dbc3223/

[2021-10-05 15:09] benc303 commented on #26438
Thanks! This is working now.

[2021-10-05 16:42] eugeneswalker opened #26536 "mesa18: all fetchers failed - server certificate verification failed"
### Steps to reproduce the issue

Using:
* `spack@develop` (c426386f4623d4a087af384ebc2276ca203f3cb9 from `Tue Oct 5 06:38:31 2021 +0900`)

[code]

### Information on your system

* **Spack:** 0.16.3-4683-c426386f46
* **Python:** 3.8.10
* **Platform:** linux-ubuntu20.04-cascadelake
* **Concretizer:** clingo

### Additional information

@ChristianTackeGSI @chuckatkins @v-dobrev

### General informa

[2021-10-05 16:53] ChristianTackeGSI commented on #26536
Hi!

Can you check the following things / verify that I don't look at the wrong places?
* ```bash
  $ git clone 'https://gitlab.freedesktop.org/mesa/mesa.git'
[code]

[2021-10-05 18:38] haampie commented on #26536
Is this using `curl` built by Spack somehow?

7fdb879308247c060654a95a9eedfbc628533f01

So Spack-built curl defaults to using openssl's certs, which by defaults symlinks the system certs; the idea was there was no change for the user.

FWIW: `git` depends on `curl` depends on `openssl` by default, so if that git somehow is in the PATH and Spack starts using it internally, that could be an issue. C

[2021-10-05 20:02] samcmill commented on #19544
It looks like the AmberTools filename changed on the download site?

I took the new filename from the Conda feedstock and it worked for me?  https://github.com/conda-forge/ambertools-feedstock/blob/master/recipe/meta.yaml

[2021-10-05 21:52] jgalarowicz opened #26542 ""%gcc@:5" conflicts with "clingo-bootstrap" [C++14 support is required to bootstrap clingo]"
### Steps to reproduce

spack won't install any package for my spack development build.  I used minime as an example package.   I can flip to the original concretizer and and then I can build.    platform is eclipse at SNL.

[code]

### Error message

see above.

### Information on your system

[jgalaro@eclipse-login3 packages]$ spack debug report
* **Spack:** 0.16.3-4702-713bbdbe7c
* **Python:**

[2021-10-05 22:38] sethrj opened #26544 "Duplicate rpaths in some autotools packages"
### Steps to reproduce

Installing `glib` (and some other packages including `harfbuzz`, `gettext`, and likely more) results in duplicate LC_RPATH commands in the library headers for a shared library on macOS:
[code]
(The fact that `libpcre` is using a non-relocatable `install_name` is an issue for another day.)

This does *not* appear to happen on linux (maybe the linker removes duplicate rpaths?

[2021-10-05 22:43] sethrj commented on #26544
The issue is that `libtool` for these packages is set to create the libraries explicitly using `-Wl,-rpath,${DEPENDENCY}/lib` **and in addition** Spack adds `${DEPENDENCY}/lib` to `SPACK_RPATH_DIRS` so (I presume) its compiler wrapper adds them as well as part of the linker command.

[2021-10-05 23:40] mtmiller commented on #23809
This should be fixed now by #25952

[2021-10-05 23:40] #23809 closed, assigned to nobody

[2021-10-06 00:13] Sinan81 commented on #26033
sorry. I've been on vacation, haven't had a chance to look at it. Will look into it this week or so.

[2021-10-06 07:07] dev-zero opened #26546 "Installation issue: meson broken on multilib systems with lib/lib64 split (like openSUSE)"
### Steps to reproduce the issue

[code]

Meaning: the directory included in `$PYTHONPATH` does not contain the Meson distro while the `lib` dir would.

@michaelkuhn

### Information on your system

* **Spack:** 0.16.3-4672-572791006d
* **Python:** 3.6.13
* **Platform:** linux-opensuse_leap15-sandybridge
* **Concretizer:** clingo

### Additional information

Since this is not a build problem, but

[2021-10-06 07:10] dev-zero commented on #26546
Note, this issue is similar to #7353 but exactly the other way round: `lib64` gets added to `$PYTHONPATH` while the package was installed in `lib` (since it doesn't contain any compiled extensions).

[2021-10-06 07:10] dev-zero commented on #26546
... and since `meson` is now a requirement of `mesa` this breaks the build tree for all UI-related packages.

[2021-10-06 07:42] haampie commented on #26542
Can you run `spack -d spec zlib` to get details about why the download failed?

We should intercept the errors here a bit better...

[2021-10-06 09:03] alalazo opened #26548 "Environment don't account for custom install tree in spack.yaml"
### Steps to reproduce

A custom store in an environment doesn't seem to be taken into account during concretization:
[code]
The output above shows a `-` symbol even after installation. Trying instead:
[code]
shows that zlib is already installed in the environment.

Originally I experienced this issue with an already existing environment that was installing specs in the default store (instead of t

[2021-10-06 09:04] alalazo commented on #26548
@haampie Can you reproduce this?

[2021-10-06 09:12] haampie commented on #26548
can't reproduce?

[2021-10-06 09:41] alalazo commented on #26548
For the record, trying to triage this in DM with @haampie The actual environment is more complex and was already installed. I'll be posting a reproducer in a container if I find it.

[2021-10-06 10:38] alalazo commented on #26548
Applying the following:
[code]
within the environment in the description, this is the output:
[code]
which points to a wrong prefix (should be `/spack-env/store/...`). Doing a similar thing in the commit posted above gives instead:
[code]
which is the expected value.

[2021-10-06 11:05] haampie opened #26550 "Better error handling when fetching from buildcache"
### Summary

In https://github.com/spack/spack/pull/26399 we got better errors for bootstrapping issues, but the error messages for failing downloads from the build cache are still really poor.

Take for instance https://github.com/spack/spack/issues/26542, the error message is:

[code]

It does not show you *why* it failed. It means you have no ssl certificates installed, the server is not reacha

[2021-10-06 11:08] haampie commented on #26550
How about handling errors here like in Go:

[code]

instead of

[code]
what we do now?

[2021-10-06 12:25] sethrj commented on #26308
@bcdarwin It looks like `itk` is building against MPI-enabled HDF5 wrappers but without linking to MPI (either by calling `mpicxx` or providing `-I${MPI_ROOT}/include`).  Can you provide the full output of
[code]
and attach the build log file like the bug report requires? Thanks!

[2021-10-06 12:30] sethrj commented on #26275
@naughtont3 My coworker reported a similar error on his mac with OpenMPI 4.1.1 due to the linker path line being truncated somewhere inside the configure script.  In his configure output file we found:
[code]
where the library flag was truncated at the end. That truncated path ended up breaking downstream MPI code.

Spack is particularly susceptible to this because the default prefix path is so lo

[2021-10-06 12:32] sethrj commented on #26261
~~@glennpj looks like this is a package you've worked with before? Have any ideas or should this be reported on the project's build site? Thanks!~~

Sorry the `install` line deceived me: the failure is in diamond, which @RemiLacroix-IDRIS and @erimar77 have worked with before.

[2021-10-06 12:37] sethrj opened #26552 "Patch Autotools-based libraries to use @rpath install_name"
### Summary

Use `install_name_tool -id '@rpath/${filename}' ${prefix}/${filename}` to fix up macOS libraries installed by autotools that have `LC_ID_DYLIB` hard-coded by `libtool`. This would make autotools-installed libraries consistent with CMake-installed libraries in that they use RPATH for propagating link information rather than hard-coding it.

### Rationale

Whereas most spack-CMake-insta

[2021-10-06 12:44] RemiLacroix-IDRIS commented on #26261
I see `undefined reference to vtable` in the output, seems like a C++ issue with virtual method/constructor. Not sure if it's Spack related or if the problem is in the code.

[2021-10-06 12:48] sethrj commented on #26261
I would guess it's a problem in the code. @omsai can you try `spack install diamond@2.0.12` and see if that fixes the error?

[2021-10-06 12:59] vchuravy opened #26554 "Installation issue: rocprofiler-dev has a runtime dependency on roctracer-dev"
`rocprofiler` depends at runtime on libraries installed through rocprofiler https://github.com/ROCm-Developer-Tools/rocprofiler/blob/93778bdc4fa5403fedede3afcc1155338c62a6f3/bin/rpl_run.sh#L29

Despite the assumption that the directory layout is fixed https://github.com/ROCm-Developer-Tools/rocprofiler/issues/58

Spack should probably add a runtime dependency as well.
https://github.com/spack/spac

[2021-10-06 13:25] gartung commented on #26552
As long as either @rpath/libname or /full/path/to/libname is used the relocation should work. Some packages used neither and need to be fixed.

[2021-10-06 14:06] iarspider opened #26555 "Load custom build system classes from repositories"
### Summary

Allow loading custom build systems from (package) repositories, without needing to modify `sys.path` or patch `pkgkit.py`

### Rationale

_No response_

### Description

_No response_

### Additional information

_No response_

### General information

- [X] I have run `spack --version` and reported the version of Spack
- [X] I have searched the issues of this repo and believe this is

[2021-10-06 15:06] sethrj commented on #26552
@gartung Thanks for those fixes and the info. In this particular case I'm *not* talking about a spack buildcache relocation, which adjusts from one hardcoded path to another hardcoded path.

What my application needs is to be able to copy all the spack-created `.dylib` files in my toolchain to an arbitrary `$INSTALL/lib` (where `$INSTALL` is actually `foo.app/Contents/Resources`) and then fix up a

[2021-10-06 15:14] cessenat opened #26559 "Installation issue: netcdf-cxx4 on MacOS BigSur"
### Steps to reproduce the issue

[code]

### Information on your system

% spack debug report
* **Spack:** 0.16.1-4783-199bd9f8f8
* **Python:** 3.8.2
* **Platform:** darwin-bigsur-skylake
* **Concretizer:** clingo

### Additional information

% spack maintainers netcdf-cxx4
@WardF
[spack-build-env.txt](https://github.com/spack/spack/files/7295152/spack-build-env.txt)
[spack-build-out.txt](https:/

[2021-10-06 15:45] gartung commented on #26552
Creating a buildcache with relative paths for macOS binaries makes use of @loader_path.
Making autotools packages do this automatically seems like a good idea.

[2021-10-06 16:20] manuelakuhn opened #26561 "Installation issue: py-mayavi"
### Steps to reproduce the issue

Installing `py-mayavi` fails with no propper error message
[code]
gives
[code]

@adams

### Information on your system

* **Spack:** 0.16.3-4720-199bd9f8f8
* **Python:** 3.8.10
* **Platform:** linux-fedora32-haswell
* **Concretizer:** clingo

### Additional information

_No response_

### General information

- [X] I have run `spack debug report` and reported the

[2021-10-06 16:21] manuelakuhn commented on #26561
I have built the newer patch release 4.7.3 and this works (will open a pull request for it) while 4.7.1 still is broken.

[2021-10-06 16:41] jgalarowicz commented on #26542
@haampie This is what I get:
[code]

[2021-10-06 17:01] bcdarwin commented on #26275
@sethrj - here you are, apologies:

[config.log](https://github.com/spack/spack/files/7295779/config.log)
[spack-build-out.txt](https://github.com/spack/spack/files/7295842/spack-build-out.txt)
[spack-build-02-configure-out.txt](https://github.com/spack/spack/files/7295863/spack-build-02-configure-out.txt)

[2021-10-06 17:30] bcdarwin commented on #26308
@sethrj - apologies, here you are:

[output of `spack spec -I itk`](https://github.com/spack/spack/files/7296013/spec.txt)
[`spack-build-out.txt`](https://github.com/spack/spack/files/7296015/spack-build-out.txt)

[2021-10-06 17:44] haampie commented on #26542
@alalazo / @scottwittenburg any clue

Can you access https://mirror.spack.io/bootstrap/github-actions/v0.1/build_cache/index.json.hash?

Bootstrapping from binaries must be the easiest way to get bootstrapping to work, or spack should be convinced to pick up a newer compiler if you have it on your system.

[2021-10-06 18:00] sethrj commented on #26275
Well, that's definitely showing that the LDFLAGS going in are fine, but the LDFLAGS coming out of `configure` have that extra `-L`:
[code]
or where the OPAL configure input has the correct LDFLAGS, but then `OPAL LDFLAGS` picks up the blank `-L`...
[code]

I'm baffled here.

[2021-10-06 18:06] sethrj commented on #26308
OK, as I suspected, looks like `itw` isn't MPI-aware and doesn't pick up the transitive MPI dependencies on HDF5 and FFTW. @glennpj as the maintainer do you happen to know whether ITK should understand MPI?

@bcdarwin It looks like you'll have to manually specify `itw ^hdf5~mpi ^fftw~mpi` but I will update the necessary variants if  Glenn or anyone else can confirm.

[2021-10-06 18:19] sethrj commented on #26308
Oh boy, and another hiccup: `fftw-api` is a virtual dependency so it's unable to accept `mpi` variants... maybe I can just add `^mpi`??

[2021-10-06 18:32] #26548 closed, assigned to alalazo

[2021-10-06 19:21] hppritcha commented on #26275
I checked this out with head of spack/develop on a cluster running RHEL7.6 and I notice that where your output shows an -L (blank) I'm seeing something from spack:
[code]

Looks like at least for this install the funny /users/hpritchard/spack/op thing is trying to add the libgcc from the spack installed gcc 9.1.0 into the LDFLAGS.

[2021-10-06 19:51] kuberry commented on #26542
I don't mean to hijack this thread, but I want to mention that others are having issues with this same thing. Many people are using RHEL7 machines (labs, universities, etc...), and for some of the architectures there are no prebuilt binary to install, causing the need to untrust `github-actions` and then attempting to install `clingo-bootstrap`. The default compilers for these systems are 4.8.5 an

[2021-10-06 20:00] adamjstewart commented on #26450
I tried this in another repository of mine and couldn't get it working. But if it does work we could replace the doc tests with this.

[2021-10-06 20:03] jgalarowicz commented on #26542
@haampie I have to use spack mirrors to build at SNL, so I personally don't have a lot of access to the outside world when building with spack.   I was using %gcc@10.2.0 to build, but spack was built with %gcc@4.9.3, I believe.

[2021-10-06 20:22] alalazo commented on #26542
@kuberry Can you give a list of Python version / Architectures for which you don't have binaries?

[2021-10-06 20:26] michaelkuhn commented on #26546
Looks like a general problem, your `PYTHONPATH` contains only `lib64` directories as far as I can see.

@adamjstewart probably knows best what's going on with Python packages.

[2021-10-06 20:29] sethrj commented on #26275
@hppritcha So you're seeing it too then: the link flags are just being truncated at that point... 383 characters for your line, 435 for @bcdarwin 's, 411 for @tmdelellis...

[2021-10-06 20:32] naughtont3 commented on #26275
I tried container build w/ ubuntu-20.04 and gcc-9.3.0 to mirror as close as possible what I think is the setup.  I also created a really long path for user's spack dir.  But i was not able to reproduce the openmpi build error.

[code]

FWIW, here's the LDFLAG info from that build

[code]
[code]

[2021-10-06 20:33] sethrj commented on #26275
@naughtont3 it looks like you are getting the truncated flags in OPAL LDFLAGS?
[code]
is not valid -- it's killing it midway through the hash before the `/lib`

[2021-10-06 20:35] adamjstewart commented on #26546
Hey, I'll try to summarize the issue. The Python build system installs libraries to one of several locations:

* `lib/python-X.Y/site-packages`
* `lib64/python-X.Y/site-packages`
* `lib/python-X.Y.Z/dist-packages`
* etc.

We can query the Python `distutils` package (now deprecated) to determine where these packages will get installed. However, CMake packages that install Python libraries install t

[2021-10-06 20:36] naughtont3 commented on #26275
@sethrj Yes, it is truncated.   For clarity here's the full pkg-config libs from command line for zlib...

[code]

[2021-10-06 20:37] sethrj commented on #26275
BTW in my particular use case the truncated path didn't result in a build failure, but the broken `-L` propagated downstream to the compiler wrapper and caused downstream build warnings/errors due to an invalid link path. I think @bcdarwin got especially unlucky because it truncated the entire path, so that `-L -Wl, ...` caused an immediate failure, whereas `-L/ -Wl,...`  would have at least passe

[2021-10-06 20:40] naughtont3 commented on #26275
@sethrj So that suggests the fix is shorter paths or spack config to reduce path lengths, but not a fundamental openmpi package error, right?

[2021-10-06 20:42] haampie commented on #26542
@alalazo I think we should prioritize bootstrapping patchelf, cause likely that's the issue... it needs a "recent" compiler too. Or we should nudge the old concretizer better to pick an old patchelf version which *can* be built from sources by ancient compilers.

Also errors for the github-actions bootstrapping method should be improved, cause they are entirely useless by default.

are clingo bina

[2021-10-06 20:44] michaelkuhn commented on #26546
Thanks! Meson is a regular setuptools package as far as I can tell, though. Shouldn't it end up in `lib` then?

[2021-10-06 21:08] alalazo commented on #26542
I don't think it's patchelf in this case. It seems the bootstrap mirror can't be reached. @jgalarowicz If you contact me on slack I can help setting up a local bootstrap mirror. We have a work in progress PR to make the process more user friendly, but it can also be done now with some tedious rewriting of some part of the configuration + untarring the mirror from [here](https://github.com/alalazo/

[2021-10-06 21:18] jgalarowicz commented on #26542
@alalazo I switched to the original concretizer, so I am able to build and get my job done.  I am fine waiting until things are ironed out - if you think that is a good/ok idea.   But, if you think this is something that is needed for helping the clingo concretizer going forward I can set up the local bootstrap mirror with your help.   Thanks!

[2021-10-06 22:35] sethrj commented on #26275
I think that would be a workaround rather than a fix. I haven't seen this happen with older OpenMPI and similar configurations. Could it be some odd change to the autoconf system?

[2021-10-06 23:03] glennpj commented on #26308
Certain ITK libraries, like libITKIOHDF5-5.2.so.1, will use MPI if HDF5 uses MPI. This does build for me so I do not think the issue is MPI.

@bcdarwin Does this compile for you if you use a Spack built OpenMPI?

[2021-10-06 23:31] haampie opened #26567 "Stuck for 5+ minutes in a log parser"
### Steps to reproduce

After hitting a build error, Spack is forever stuck in a log parser:

[code]

.. wait 5 minutes ...

[code]

[code]

### Error message

_No response_

### Information on your system

* **Spack:** 0.16.3-4730-ceb962fe17
* **Python:** 3.6.12
* **Platform:** cray-sles15-broadwell
* **Concretizer:** clingo

### General information

- [X] I have run `spack debug report` and repo

[2021-10-07 00:18] adamjstewart commented on #26546
Hmm, was this package installed before the PythonPackage refactor? I would try installing it again on develop and see if the issue is still present. We should now be adding the same directory as we force setuptools to install to.

[2021-10-07 09:15] haralmha opened #26571 "py-graphviz: Version 1.7 not available on PyPi"
Steps to reproduce:
`spack checksum py-graphviz`
Version 1.7 does not show up. The tarball is nowhere to be found on the PyPi page: https://pypi.org/project/pygraphviz/1.7/#files

[2021-10-07 10:48] UweSauter commented on #26400
@TorreZuk
I'm not actively setting HIPCC_COMPILE_FLAGS_APPEND so I don't know where this should come from and how to check if this is used while Spack tries to compile.

Also, Spack is not building packages in parallel. Yes, using `-j20` it tells the compiler to build parallel but Spack itself will build packages sequentially (as far as I can tell from watching `top` during builds).

And even with

[2021-10-07 11:59] UweSauter commented on #25931
I was able to build `roctracer-dev-api@4.2.0` with `gcc@10.3.0` and `roctracer-dev-api@4.3.1` with `gcc@7.5.0`, `gcc@10.3.0` and `gcc@11.2.0` as well as `roctracer-dev@4.2.0` with `gcc@10.3.0` and `roctracer-dev@4.3.1` with `gcc@7.5.0` but not with `gcc@10.3.0`  or `gcc@11.2.0`.

When trying to build `roctracer-dev@4.3.1%gcc@11.2.0` I get the following error:
[code]
[spack-build-env.txt](https://g

[2021-10-07 14:19] haralmha commented on #26571
I have also tried to add `version('1.7', sha256='a7bec6609f37cf1e64898c59f075afd659106cf9356c5f387cec\
aa2e0cdb2304')` (where the sha256 is from the zip file on the PyPi page) to the `package.py` file for `py-graphviz`. When I try to `spack checksum py-raphviz`, I get this:
[code]

[2021-10-07 14:45] eugeneswalker commented on #26536
Using system fetchers (non-spack installed) inside a Docker container image for `Ubuntu 20.04`. The ca-certificates package was last updated on September 1st. I just updated it and now... it works! Thank you!

[2021-10-07 14:45] #26536 closed, assigned to nobody

[2021-10-07 16:08] sethrj commented on #17981
@haampie it looks like these patches got merged upstream so I'll close this issue, please reopen if it's not addressed.

[2021-10-07 16:08] #17981 closed, assigned to nobody

[2021-10-07 16:24] chchang6 opened #26578 "Installation issue: py-h5py"
### Steps to reproduce the issue

[code]

### Information on your system

[cchang@el3 ~]$ spack debug report
* **Spack:** 0.16.2-4197-f9314d3
* **Python:** 3.6.8
* **Platform:** linux-centos7-skylake_avx512
* **Concretizer:** original

### Additional information

Installation does not appear to proceed to staging.

I am trying to satisfy the py-h5py OpenMPI dependency with a build including PMI an

[2021-10-07 17:07] gmfricke opened #26579 "Installation issue: ucx"
### Steps to reproduce the issue

spack install ucx@1.11.1%gcc@10.2.0~mlx5-dv

### Information on your system

Connectx3 Infiniband NICs. Centos 7 OS.
spack debug report
* **Spack:** 0.16.3-4569-5599db5
* **Python:** 3.6.8
* **Platform:** linux-centos7-nehalem
* **Concretizer:** clingo

### Additional information

Package maintainer @hppritcha
[spack-build-env.txt](https://github.com/spack/spack/f

[2021-10-07 17:15] TorreZuk commented on #26400
I don't see a way to set the global variable for Tensile CpuCount as we don't pass --jobs to the tensile build step so it is taking all affinity core count.   The python fork clones the memory space per processor available but wouldn't touch most of the memory pages, so I would try to allow overcommit:
vm.overcommit_memory = 0
vm.overcommit_ratio = 97
as 64GB should squeak by.  An environment vari

[2021-10-07 17:19] alalazo commented on #26450
It seems this was enabled:
![Screenshot from 2021-10-07 19-12-57](https://user-images.githubusercontent.com/4199709/136433006-5b9dfa62-2ef6-4257-bbda-c197fc2a2583.png)

 Should we remove the doc test?

[2021-10-07 17:41] wdconinc commented on #26523
I am getting the same issue on gcc@10.3.0 with the spack develop branch.

Most recent version updates by @iarspider and @haralmha

[2021-10-07 17:44] chchang6 commented on #26578
Tried with debugging flags, but doesn't shed any light for me.
[code]

[2021-10-07 17:53] cgmb commented on #26139
I had set up my `PATH` as per the [ROCm Installation docs](https://rocmdocs.amd.com/en/latest/Installation_Guide/Installation-Guide.html#ubuntu), which breaks [the Spack guidelines for a clean environment](https://spack.readthedocs.io/en/latest/getting_started.html#clean-environment). Given that this was something directly warned about in the docs, it's not too surprising that there were problems.

[2021-10-07 17:53] #26139 closed, assigned to srekolam

[2021-10-07 17:58] adamjstewart commented on #26450
Yes, we should remove the doc tests and make the new tests required the next time we have to update things for black/other test name changes.

[2021-10-07 17:58] sanjtrip commented on #25931
Hi @UweSauter, With gcc7.5, could you build all ROCm-4.3.1 recipes ?

[2021-10-07 18:02] wdconinc commented on #26523
`multi_span` was deprecated, https://github.com/microsoft/GSL/pull/958. Maybe the quickest fix here is to remove them from 3.1.0 as well.

[code]

[2021-10-07 18:10] adamjstewart commented on #26571
The issue is that [graphviz](https://pypi.org/project/graphviz/) and [pygraphviz](https://pypi.org/project/pygraphviz/) are two different projects. It sounds like you want to add a new package for `py-pygraphviz` instead of using `py-graphviz`.

[2021-10-07 18:10] #26571 closed, assigned to nobody

[2021-10-07 18:39] sethrj opened #26582 "GCC rpath installation in specs has unintended consequences"
### Steps to reproduce

Spack's GCC install hardwires (through the `specs` file) the linker to adding an rpath entry to GCC's library dir, so that compiled binaries get the right `libstdc++` etc. This is mostly necessary because Spack doesn't currently treat spack-compiled compilers as part of the spec (you can't install `zlib %gcc@8.3 % gcc@4.8` where 4.8 is the system compiler and 8.3 is built b

[2021-10-07 18:50] chchang6 commented on #26578
OK, something right there in the spec output.
[code]
These are all Slurm dependencies under OpenMPI, why do they have an impact on how py-h5py builds?

[2021-10-07 19:42] hppritcha commented on #26579
I'm not sure that UCX works with Connectx3.  Which version of ofed is installed on the system? ofed_info will provide that.

[2021-10-07 21:08] jgalarowicz commented on #26542
I also get this at LANL on the snow platform with the same version of spack.

[2021-10-07 22:19] michaelkuhn opened #26585 "Configured variants broken with new concretizer"
### Steps to reproduce

[code]

### Error message

`spack spec -I mpich` prints (`verbs` is missing):
[code]
while `spack spec -I libfabric` prints:
[code]

If I switch back to the original concretizer, I get the correct output/dependency. Interestingly, this also only happens if `fabrics` has multiple values. If I set `variants: fabrics=verbs`, I get the correct dependency.

### Information on yo

[2021-10-07 22:22] michaelkuhn commented on #26585
Might be related to #24754.

[2021-10-07 23:01] #25002 closed, assigned to nobody

[2021-10-08 00:36] sethrj commented on #26582
It turns out that `%include` doesn't work from the main `specs` file: had to [read the GCC source](https://github.com/gcc-mirror/gcc/blob/0e90799071ee78f712f3b58fca7000bc0a258ade/gcc/gcc.c#L2377) to figure this out.

Other spec file modifications for rpaths:
- [GCC configure-time adjustment](https://www.py4u.net/discuss/105305)
- [Homebrew GCC](https://github.com/Homebrew/homebrew-core/blob/HEAD/F

[2021-10-08 02:33] joequant commented on #26523
Fedora just removes the tests but I prefer the microsoft patch

[2021-10-08 03:39] steo85it opened #26595 "Installation issue: mesa"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.16.3-4766-449a5832c8
* **Python:** 3.6.8
* **Platform:** linux-centos7-skylake
* **Concretizer:** clingo

### Additional information

[spack-build-out.txt](https://github.com/spack/spack/files/7308314/spack-build-out.txt)
[spack-build-env.txt](https://github.com/spack/spack/files/7308316/spack-build-env.txt)

[2021-10-08 06:50] #26348 closed, assigned to nobody

[2021-10-08 06:55] dev-zero commented on #26546
@adamjstewart the first thing I did was to update `develop` and install the latest version of meson. Or do I need to reinstall the whole dependency chain (e.g. path stored somewhere in `setuptools`)?

[2021-10-08 06:57] dev-zero commented on #26546
@michaelkuhn the package correctly installs to`lib/`, but `lib/python3.6` does not get added to the `PYTHONPATH`, only `lib64/python3.6` does.

[2021-10-08 08:49] michaelkuhn opened #26598 "Preferences are not taken into account when installing virtual packages from command line"
### Steps to reproduce

[code]

### Error message

`spack spec -I mpi` results in:
[code]
It works correctly if I switch back to the old concretizer.

### Information on your system

* **Spack:** 0.16.3-4764-da31c7e894
* **Python:** 3.9.7
* **Platform:** linux-fedora34-zen2
* **Concretizer:** clingo

### General information

- [X] I have run `spack debug report` and reported the version of Spack/P

[2021-10-08 08:59] UweSauter commented on #26400
So I uninstalled `rocblas@4.2.0%gcc@10.3.0` and dependent packages and modified `vm.overcommit_memory` to `0` and `BUILD_WITH_TENSILE` to `ON`

With this setting the installation of this combination succeeded.

[2021-10-08 09:58] loveshack commented on #26579
I just reported that as https://github.com/openucx/ucx/issues/7518

I worked around it with ucx-1.11 by removing --without-mlx5-dv from the build recipe.

[2021-10-08 11:00] sethrj commented on #26582
*Another* unintented consequence: spack GCC-driven linker ignored `LD_RUN_PATH`, see https://github.com/spack/spack/pull/26590#issuecomment-938549388 .

[2021-10-08 11:21] haampie commented on #26068
[code]

[code]

hitting this

[2021-10-08 11:22] haampie commented on #26068
ping @becker33, any clue?

[2021-10-08 11:23] alalazo commented on #26068
It seems the same as one of the two reported in the description.

[2021-10-08 12:14] michaelkuhn commented on #26546
Oh, sorry, I mixed that up. So the question is why Spack only adds `lib64` to `PYTHONPATH` then (and why it gets created, since it seems to be empty).

[2021-10-08 12:50] alalazo opened #26600 "spack.store.db.read_transaction might take a write lock"
### Steps to reproduce

Working on #26264 I had [this stacktrace](https://gitlab.spack.io/spack/spack/-/jobs/1127884) on Gitlab Pipelines. The stacktrace shows multiple processes trying a read operation and ending up trying to acquire a write lock (and timing out for that). While not easily reproducible, I think this is a bug at least in the API, since it is unexpected that a context manager that

[2021-10-08 14:50] TorreZuk commented on #26400
Good to hear.  We will look at hooks for better control of CPU load and memory and generally reducing peak memory usage in future releases but likely won't help until around the version ~5 timeframe so hopefully the build wasn't too slow with a little bit of swap.

[2021-10-08 14:55] UweSauter commented on #26400
What amount of time would you expect for the build to take?

The host I'm using is a KVM VM with 20 cores (host has 2x Intel Gold 6138 @ 2.0 GHz) and 64GB memory…

I was watching memory and CPU usage with `htop` and as far as I can tell, the real memory usage was never above 8GB.
But CPU usage was also very low, many of the packages (especially the ones that are Python based) only use 1 core most

[2021-10-08 15:11] TorreZuk commented on #26400
Well if you build rocblas for all GPU architectures (the default) it can roughly take from 2 to 5 hours but I am not familiar with your CPU or disk.   A new AMD EPYC CPU would provide much more parallelism so could build much faster.   If you build rocblas for a single GPU architecture with the -a flag then around 1 hour or less.

The memory peak usage may spike for short periods but as you found

[2021-10-08 15:18] #26400 closed, assigned to srekolam

[2021-10-08 15:22] sethrj opened #26606 "@run_after('install') doesn't execute when overwriting a spec"
### Steps to reproduce

1. Install zlib.
2. Modify zlib/package.py to assert:
[code]
3. Reinstall with `spack install --overwrite -y zlib`.
4. Installation succeeds **without hitting the assertion**.
5. Uninstall with `spack uninstall -f -y zlib`
6. Try to reinstall with `spack install -y zlib`: the installation correctly hits the assertion.

@haampie I know you made an improvement to `--overwrite

[2021-10-08 15:30] sethrj commented on #26606
Sorry, I'm a dumbass! It was an error in my code and output from the package was being printed to package/install.out even though I had `-vd` on.

[2021-10-08 15:30] #26606 closed, assigned to nobody

[2021-10-08 15:58] srekolam commented on #26400
@TorreZuk  , thanks for your inputs on this issue .
@UweSauter ,good to hear that you have the rocblas installed.

[2021-10-08 16:36] UweSauter commented on #25931
[rocm-4-3-1-base_gcc-7-5-0.log](https://github.com/spack/spack/files/7312836/rocm-4-3-1-base_gcc-7-5-0.log)

This is the output from `spack install -j20` inside the environment with definition:
[code]

  `rocm-openmp-extra` failed to build with
[code]

Looks like `rocm-openmp-extras` is the only package failing from the base set.

[2021-10-08 16:42] srekolam commented on #25931
there is PR that is still pending for rocm-openmp-extras for 4.3.0 , current recipe only has support till 4.2.0 hence the error .
https://github.com/spack/spack/pull/25482

[2021-10-08 18:42] adamjstewart commented on #26546
Can you uninstall and reinstall both meson and setuptools? If that doesn't work, can you share the `spack-build-out.txt` and `spack-build-env.txt` files for both meson and setuptools? They should be in the installation `<prefix>/.spack/` directory.

[2021-10-08 22:35] #26600 closed, assigned to nobody

[2021-10-08 23:32] haampie commented on #26598
can you run `spack solve mpi` and show the scores?

[2021-10-09 08:29] UweSauter commented on #25931
[rocm-4-3-1-math_gcc-7-5-0.log](https://github.com/spack/spack/files/7315249/rocm-4-3-1-math_gcc-7-5-0.log)

This is the output from `spack install -j20` inside the environment with definition:
[code]
  `migraphx` fails to build the same way as in #24429.
[code]

[2021-10-09 09:31] UweSauter commented on #25931
I'm currently trying to build the ROCm tools:
[code]
and I'm a bit irritated why `rocblas@4.3.1` is yet again installed.

I'll post the log once the installation has finished.

[2021-10-09 10:06] michaelkuhn commented on #26598
[code]

[2021-10-09 10:08] michaelkuhn commented on #26598
As a side note, this is what happens when I remove `openmpi` from the providers in `etc/spack/defaults/packages.yaml`:
[code]
I guess the new concretizer just hates `mpich`. :laughing:

[2021-10-09 10:12] michaelkuhn commented on #26585
[code]

[2021-10-09 10:19] haampie commented on #26598
@alalazo negative score for multivalued variants seems like a modelling problem

[2021-10-09 10:54] haampie commented on #24754
@alalazo here's negative values for multi-valued variants too is what I noticed

[2021-10-09 11:15] alalazo commented on #24754
Negative values there are just maximizations instead of minimizations. We can format output better but I think `clingo` internally always minimizes. On a maximization it minimizes on the opposite number, which is what is shown here.

[2021-10-09 16:00] UweSauter commented on #25931
[rocm-4-3-1-tools_gcc-7-5-0.log](https://github.com/spack/spack/files/7315951/rocm-4-3-1-tools_gcc-7-5-0.log)

So, both `roctracer-dev@4.3.1` and `rocm-validation-suite@4.3.1` fail to build because they try to download during the process instead when I prepared with `spack fetch -D`. For `roctracer-dev` this is already reported in #25936.

When allowing downloads those packages succeed as do the r

[2021-10-09 18:48] sethrj commented on #26582
**Another** surprise: the rpath entries in the spec files are not correct for macOS! They must be two separate rpath commands rather than a colon-separated one.

[2021-10-09 19:46] UweSauter commented on #25931
Next try with `gcc@10.3.0`:
[rocm-4-3-1-base_gcc-10-3-0.log](https://github.com/spack/spack/files/7315985/rocm-4-3-1-base_gcc-10-3-0.log) (bad build only)
`rccl` and `rocm-openmp-extras` don't build.

[2021-10-10 04:17] vsoch opened #26641 "pkgconf fails install under ubuntu 16.04 because Python doesn't support format strings"
### Steps to reproduce

Develop version of spack, and ubuntu 16.04

[code]
Here is an exact Dockerfile to reproduce it
[code]
To build and run
[code]

### Error message

[code]

I think the Python is too old - and the package should have a constraint:

[code]
Format strings weren't introduced into a bit after 3.5.

### Information on your system

See the Dockerfile above, that's the system :) And

[2021-10-10 05:02] vsoch commented on #26641
My current hack to fix it (in the Dockerfile before spack external find, after adding autamus) is to basically update to python 3.8
[code]
Then the build is successful.

[2021-10-10 06:59] UweSauter commented on #25931
[rocm-4-3-1-math_gcc-10-3-0.log](https://github.com/spack/spack/files/7317018/rocm-4-3-1-math_gcc-10-3-0.log) (bad build only)
`migraphx` fails with `error: no member named 'string' in namespace 'std` and `error: expected unqualified-id`

[2021-10-10 09:38] UweSauter commented on #25931
[rocm-4-3-1-tools_gcc-10-3-0.log](https://github.com/spack/spack/files/7317196/rocm-4-3-1-tools_gcc-10-3-0.log) (bad build only)

`rocm-validation-suite@4.3.1` fails with `fatal error: 'yaml-cpp/dll.h' file not found`

[2021-10-10 11:27] UweSauter commented on #25931
And no with `gcc@11.2.0`:
[rocm-4-3-1-base_gcc-11-2-0.log](https://github.com/spack/spack/files/7317316/rocm-4-3-1-base_gcc-11-2-0.log)

`rocm-openmp-extras@4.3.1` fails as expected but more important `hsa-rocr-dev@4.3.1` fails with `error: 'void* memset(void*, int, size_t)' offset [0, 143] is out of the bounds [0, 0] [-Werror=array-bounds]` and thus all dependent packages are not built.

I won't

[2021-10-10 14:16] bernhardkaindl commented on #26595
@steo85it : The actual build error is not found in your build log AFAICS (it is truncated, it was likely too long).

But, build with LLVM 13, like your build failed for me too.

My problem was fixed by using LLVM 12 instead: #26627
(It's quite plausible that Mesa's Software Rasterizer does need updates for LLVM 13)

Without any change to your spack tree, you can confirm if the fix works for you to

[2021-10-10 14:25] xpye98 commented on #26542
@jgalarowicz May I ask how you switched to the original concretizer and get this thing down?
I met the same problem as yours. I need to spack mirror some packages on a machine without Internet, and I got the same error as you present here.

[2021-10-10 17:35] vsoch opened #26644 "Clingo bootstrap "cannot import name architecture""
### Steps to reproduce

This is happening across our autamus builds - you can see the full output here https://github.com/autamus/registry/runs/3852451587?check_suite_focus=true and I'm attaching an example Dockerfile to reproduce (a different package but same error).
[code]
cc @alecbcs

### Error message

[code]

### Information on your system

See container.

### General information

- [ ] I hav

[2021-10-10 17:39] steo85it commented on #26595
Ops, my bad, sorry!! Your suggestion works, anyway: I was able to install mesa with llvm 12 (maybe it would be good to modify the dependency requirements?). Thanks!

[2021-10-10 17:39] #26595 closed, assigned to nobody

[2021-10-10 22:32] alansill opened #26647 "bcl2fastq2 install fails on 64-bit Linux due to boost 1.54.0 dependency"
Installing bcl2fastq2 on a CentOS 8.3 Linux machine fails when building the boost dependency at the 1.54.0 version defined in the spec. This is apparently due to the fact that recent versions of glibc always assume int64_t support.

Manually doing a spack edit to change from 1.54.0 to 1.55.0 allows boost to build and bcl2fastq2 to complete the install.

[2021-10-11 13:33] haampie commented on #26647
Feel free to submit a pull request with your changes to the package!

[2021-10-11 13:34] haampie commented on #26644
Python question: can we make that error message more useful just from the exception, without saving the stacktrace?

[2021-10-11 13:38] haampie commented on #26644
Can't reproduce the error by the way, did your CI maybe use a cached version of the image? Do you have the image sha around?

[2021-10-11 15:47] bernhardkaindl commented on #26595
I did now, @tldahlgren and @prckent  (problem fixed: Mesa does not build with LLVM@13, @13 is for now excluded from building Mesa).

@steo85it  No not your bad, but when adding new a new major version of a compiler, we have to expect that intimate users of it could be affected until we test and are able to correct for it.

It's the 2nd build issue related to LLVM@13 that I fixed btw, the first one

[2021-10-11 15:47] manuelakuhn opened #26656 "`when` context manager fails when additional dependency version constraint is used"
### Steps to reproduce

Running the `when` context manager with a constraint on the dependency version fails when concretizing.

I used the `py-datalad` package to demonstrate the behavior:
- modify spec:
[code]
- run:
[code]
This fails (error message see below) whereas these combination all work:
- variant + package version
[code]
- package version + variant
[code]
- dependency version + package

[2021-10-11 15:49] haampie commented on #17981
Indeed I didn't look at it that weekend

[2021-10-11 15:58] sethrj commented on #21870
I think I finally understand this, thanks to all the fucking around with rpaths in #26608 and #26590.

When building with `~binutils` we tell GCC `'--with-ld=' + binutils.ld` **which does not call the spack wrappers**, which are what add rpaths to the spack package dependencies! Therefore the linker creating `libgfortran` isn't passed the correct rpaths. The solution is probably to add the rpaths

[2021-10-11 16:20] vsoch commented on #26644
Yep ghcr.io/spack/ubuntu-bionic:latest@sha256:7e3dc5df716e3cfe6a41471562d9bf536b0725353e151797852b2d182f0b2a08

[2021-10-11 18:14] steo85it opened #26661 "Installation issue: gmt@5.4.4 %gcc@11.1.0"
### Steps to reproduce the issue

[code]
results in the following error, possibly because of an incompatibility with the compiler version
[code]

### Information on your system

* **Spack:** 0.16.3-4760-b33a092
* **Python:** 3.6.8
* **Platform:** linux-centos7-broadwell
* **Concretizer:** clingo

### Additional information

Googling around, I found these pages which look relevant, but I'm unsure h

[2021-10-11 19:35] adamjstewart commented on #26661
Does this bug occur for newer versions of gmt?

[2021-10-11 19:52] steo85it commented on #26661
Not for 6.2.0 or the latest git, at least (I didn't try 6.0.0). The problem is that for some gmt functions, we are having back-compatibility issues, and we need 5.4.2 installed, too...

[2021-10-11 21:22] srekolam commented on #25931
I see the rccl is succesfully installed . Like i said, the rocm-openmp-extras is not updated for 4.3.1 and the PR for 4.3.0 is still in review. from your log attached, i found the below
4m==>[0m rccl: Executing phase: 'install'
[1;34m==>[0m rccl: Successfully installed rccl-4.3.1-lumdn4ct3eoryjvepqza5ef4it3pukmj

[2021-10-11 21:24] srekolam commented on #25931
i have the PR that uses the spack recipe for yaml-cpp and not download . it is still in review

[2021-10-11 21:27] srekolam commented on #25931
I shall look into it. The cmakelists.txt for roctracer-dev seems to download the hsa-class git repo leading to the failure as reported.

[2021-10-11 21:38] srekolam commented on #22597
@eugeneswalker  , can you please let me know if this is still an issue else, can we close this ?

[2021-10-11 21:40] haampie commented on #22597
We can close this, the new concretizer should take care of it and is the default (otherwise feel free to reopen)

[2021-10-11 21:40] #22597 closed, assigned to nobody

[2021-10-11 22:13] certik opened #26667 "spack.fetch_strategy.FetchError: All fetchers failed for spack-stage-gnuconfig-2021-08-14-gedovjnheiii5r4na5e3pjlekcergep6"
### Steps to reproduce

On a fresh Apple M1 MacBook Pro, just installed the command line utilities (like `git`), cloned `spack` and put `spack` into `$PATH`. The bootstrapping fails:

[code]

### Error message

[code]

### Information on your system

* **Spack:** 0.16.3-4805-95e63e0c29
* **Python:** 3.8.2
* **Platform:** darwin-bigsur-m1
* **Concretizer:** clingo

### General information

- [X] I

[2021-10-11 22:32] certik commented on #26667
The error messages should be improved. I instrumented the code like this:
[code]
Now it gives the following output:
[code]

So we can see that it is trying 5 fetchers, the first two try a local cache and we ignore the error. Fine.

The other three fail. But why? The errors are not reported. Let's see:
[code]
Now it prints:
[code]

I see. That is useful. So the `urllib` seems to fail over https. Th

[2021-10-11 22:39] haampie commented on #26667
Yeah, we should really do this. See also #26399 and #26599. I think error messages of fetching may have regressed during the change of defaults from curl to urllib. But we can do the same stuff for collecting errors as in #26599.

[2021-10-11 22:44] certik commented on #26667
@haampie thank you. Any idea what is actually causing it?

Let's keep going. The first url actually works in my browser: https://mirror.spack.io/_source-cache/archive/69/69b6d2868e70167ba1bdb9030b49beeb20f00b37e30825e83fd04291d96bc5f7.tar.gz, so let's figure out which place in Spack is downloading it:
[code]
This prints:
[code]

[2021-10-11 22:52] haampie commented on #26667
You could try if curl works, through `spack config edit config`:

[code]

If you could share your findings on why urllib does *not* work that'd be interesting, but I don't think I can help with macos.

[2021-10-11 23:10] certik commented on #26667
When I do that, I get:
[code]

[2021-10-11 23:13] certik commented on #26667
Regarding the error, I tried to replicate what Spack is doing directly, but I think I must be doing something wrong, because I get a different error:
[code]

Those are some really unhelpful error messages coming from Python. :( An exception in exception seems like a bug in Python itself. I assume I called it with incorrect arguments, but still.

So, I went to another computer and just figured out

[2021-10-11 23:33] certik commented on #26667
Anyway, regarding the config, it seems that `spack config edit config` produces a broken config file. That seems like another bug.

However, I can simply edit the config file `~/.spack/config.yam` by hand like this:
[code]
and this works!!

Thank you @haampie for this.

Btw, I also tried:
[code]
But that gives the same error as above.

I think that the Python's urllib is somehow broken.

Ok, now p

[2021-10-11 23:42] haampie commented on #26667
-j1 seems very much unrelated?

[2021-10-11 23:43] certik commented on #26667
Oh no, it is very much related! This is hours of debugging behind this. I am documenting what is going on now.

[2021-10-11 23:51] certik opened #26669 "Builtin make on macOS often does not work with any -j besides -j1 (Permission denied)"
### Steps to reproduce

This is something that I have noticed on unrelated project: when I use the default `/usr/bin/make` it has the following behavior:
[code]

But if I use the `make` from Conda, then it works just fine in parallel.

I am reporting this as a standalone issue, because this seems to be happening on both of my two macs, the MacBook Pro 2019 (Intel) and 2020 (M1). As a consequence,

[2021-10-11 23:53] certik commented on #26667
All right. So the reason you have to use `spack install -j1` is due to the fact that the default `make` on macOS (both Intel and M1....) on my computers fails for anything besides -j1, and it trips things in such a way that one would never figure out it is coming from make. See #26669 for details.

[2021-10-11 23:55] certik commented on #25598
So a simple workaround that would have never occurred to me, but I finally figured it out in an unrelated issue:
[code]
Now everything works!!

See #26669 for all the details.

[2021-10-12 00:54] certik commented on #26667
So on the M1 macOS, everything worked until:
[code]

It seems it is trying to use the system Python instead of the spack's Python? Although I noticed that spack didn't build Python yet.

[2021-10-12 01:49] adamjstewart commented on #26669
That's odd, I'm also using the builtin `make` on macOS 10.15.7 and it works fine in parallel. Maybe you installed the macOS command line tools (or XCode) without accepting the license agreement? You should be prompted to do this the first time you open XCode.

[2021-10-12 02:12] certik commented on #26669
I installed the command line tools by typing `git` and hitting enter in a terminal. A dialog pops up asking me to download the tools, then I accept the agreement and it installs the tools.

If you have any ideas how to dig at this issue deeper, please let me know.

[2021-10-12 02:21] psakievich opened #26671 "Failure to concretize when RelWithDebInfo is the default"
### Steps to reproduce

Spack fails to concretize if the the default `build_type` is `RelWithDebInfo` because some of the rocm packages omit this from their variant lists.

[code]
@srekolam @arjun-raj-kuppala @haampie

### Error message

[code]

### Information on your system

[code]

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
-

[2021-10-12 02:22] adamjstewart commented on #26669
I would try installing the full XCode suite and launching XCode and signing that agreement. The command-line-tool-only package has given me trouble in the past.

[2021-10-12 02:39] certik commented on #26667
The last error is fixed by:
[code]
That's a hack, but I didn't figure out how else to force the right path.  I wonder if it hints at the possible problem, that I installed the command line tools using the default approach of "CommandLineTools", but not the full Xcode.

[2021-10-12 03:54] certik opened #26672 "Installation issue: libtermkey"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.16.3-4806-532ba03d60
* **Python:** 3.8.2
* **Platform:** darwin-bigsur-m1
* **Concretizer:** clingo

### Additional information

[code]

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have run `spack maintainers <name-of-the-package>` an

[2021-10-12 03:55] certik opened #26673 "Installation issue: libluv"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.16.3-4806-532ba03d60
* **Python:** 3.8.2
* **Platform:** darwin-bigsur-m1
* **Concretizer:** clingo

### Additional information

[code]

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have run `spack maintainers <name-of-the-package>` an

[2021-10-12 04:56] Sinan81 commented on #26033
It seems there are two issues. First one is that QGIS can't find proj include dirs correctly as well as sqlite3 libs. So, qgis package file needs to be modifed as follows:
[code]
The second issue is that It seems like `sqlite` package was recently revamped, and that might have broke qgis build.

[2021-10-12 05:00] #26661 closed, assigned to nobody

[2021-10-12 05:01] steo85it commented on #26661
Not sure how to fix this, reinstalling with gcc@7.4.0 "solved" the issue.

[2021-10-12 05:33] alalazo commented on #26671
Added a `build-error` tag since this specific issue is possibly solvable in the package, since it overrides:
[code]
In my opinion there might be also a minor bug since, if the options in `packages.yaml` need to be treated as preferences, then if a value does not exist and is listed under `all:` it should be discarded.

[2021-10-12 05:37] alalazo commented on #26644
Is this still happening? Or was it just a transitory effect of https://github.com/spack/spack/pull/25986 ?

[2021-10-12 05:41] alalazo commented on #26644
Note that there should be no need to bootstrap `clingo`, since it is already bootstrapped in the image:
[code]

[2021-10-12 05:53] vsoch commented on #26644
So should we try the build again?

[2021-10-12 06:00] vsoch commented on #26644
Re run had the same issue. https://github.com/autamus/registry/runs/3866850309?check_suite_focus=true Is it something about using build cache or containerize?

[2021-10-12 06:22] alalazo commented on #26598
Negative scores are maximizations. Changing the title since:
[code]
so this seems to happen only when installing virtual packages as root.

[2021-10-12 07:05] #26567 closed, assigned to nobody

[2021-10-12 07:26] goxberry opened #26674 "Packaging Guide Documentation: what are best practices for setting compiler flags within a package?"
### Summary

As someone who's contributed to Spack for multiple years, I'm still confused about best practices for setting compiler flags within a Spack package, even after reading the [Compiler Flags](https://spack.readthedocs.io/en/latest/packaging_guide.html#compiler-flags) subsection of the [Packaging Guide](https://spack.readthedocs.io/en/latest/packaging_guide.html); here, I'm ignoring injec

[2021-10-12 07:29] UweSauter commented on #25931
@srekolam
Would you mind checking the rest of the packages regarding cmake trying to download something, too?

Depending on when I was connected via `ssh` the proxy connection might have existed or not…

[2021-10-12 07:37] dev-zero commented on #26546
Still no dice unfortunately, here come the spack-build-*.txt files:

[setuptools.spack-build-env.txt](https://github.com/spack/spack/files/7327869/setuptools.spack-build-env.txt)
[setuptools.spack-build-out.txt](https://github.com/spack/spack/files/7327870/setuptools.spack-build-out.txt)
[meson.spack-build-out.txt](https://github.com/spack/spack/files/7327871/meson.spack-build-out.txt)
[meson.spac

[2021-10-12 08:09] haampie commented on #25931
@srekolam what you can do is create a spack environment:

[code]

and then add the following:

[code]

concretize and download all the sources:

[code]

and run spack install in an environment without internet:

[code]

that way you don't have to bother with docker containers and what not.

[2021-10-12 08:14] haampie commented on #26669
Poor macOS users

[2021-10-12 08:17] UweSauter commented on #25931
I created the environments with prepared files, see above. Then I activated and concretized and after that I ran `spack fetch -D`. This _should_ download everything so that an offline build can run.
**But** this only works if the build process itself doesn't try to download, as is the case with e.g. `roctracer-dev`. In that package, cmake tries to clone from Github.
This is not Spack's fault but t

[2021-10-12 08:44] haampie commented on #25931
Yes, that's clear. My comment was about showing a way to detect those packages by creating an air gapped environment for spack install.

[2021-10-12 08:47] UweSauter commented on #25931
Ah, sorry.
Well, as my environment itself has internet access restrictions I actively need to setup a proxy connection to download.

[2021-10-12 08:54] haampie commented on #25931
Thanks @UweSauter for pointing this problem out, we should aim to make things installable without an internet connection, to improve security, reproducibility and the general experience for users who don't have a network connection on their compute nodes. I've proposed to make our gitlab pipelines run the install process without an internet connection.

[2021-10-12 09:13] michaelkuhn commented on #26641
Looking at the trace, I don't see how this is caused by pkgconf. This rather looks like an issue with fetching binaries from the mirror. Does it also happen with other packages?

[2021-10-12 10:03] alalazo commented on #26598
Ok, deleted previous message since it was a red-herring. I am checking a few lines fix for this right now. The fix might be swapping target 4 with target 5 in the optimization. Checking if some other use case breaks because of that.

[2021-10-12 12:01] #17405 closed, assigned to nobody

[2021-10-12 12:08] haampie commented on #26671
Agreed with @alalazo, apart from that, I typically have a patch around for the compiler wrapper to force the optimization and debug flags, i.e. remove `-g` and `-O0|-O1|...|-Os` and always add `SPACK_COMPILER_FLAGS`. I still have to update this patch to accommodate for the new posix compiler wrapper.

[2021-10-12 12:15] #26598 closed, assigned to alalazo

[2021-10-12 13:16] alalazo commented on #26585
So this one is tricky. The versions of `gdbm` allowed by `perl` are constrained from above:
[code]
and this means that if we have to pull in `perl` we also need to pull in the 3rd best version of `gdbm`. This is what "version badness 2" means in the scores above. Now, since:
-  The constraints in `packages.yaml` are not enforced (they are a soft preference)
-  We optimize for versions at higher pr

[2021-10-12 13:17] alalazo commented on #26585
Note that here we can't just switch priorities, but we need to think of something more complex.

[2021-10-12 13:19] alalazo commented on #26585
As a workaround we can remove this version score and say the preferred version of `gdbm` is 1.19:
[code]

[2021-10-12 13:34] alalazo commented on #24754
This first case without `packages.yaml` seems because we have a conflict in the package's default values that clingo has to work around to find an optimal solution. The default on `linux` is:
[code]
which is a conflict because of this `py-torch` directive:
[code]
For the ASP based solver it's ~equivalent~ better (because of the reasons in the next comment), given the current rules, to assign an ar

[2021-10-12 13:49] alalazo commented on #24754
That's correct. The current semantics for preferences in `packages.yaml` is to make `~cuda` the new default for the variant. The issue with that is having non-consistent variant defaults. The ASP-based solver has to choose between:
- Keeping `~cuda` and flipping 3 variant values from their default values, or
- Using `+cuda` and changing just `cuda_arch`

Since having 2 deviations from the defaults

[2021-10-12 13:51] alalazo commented on #24754
@tgamblin @becker33 See :point_up: for an interesting use case.

[2021-10-12 13:59] alalazo commented on #24754
As a workaround one can specify:
[code]
so that `~magma` and `~cudnn` are defaults too.

[2021-10-12 14:01] alalazo commented on #26585
As a further note, if we concretized build dependencies separately this issue would have been mitigated (but not solved) since the bad score is coming in from a build dependency i.e. `cmake`.

[2021-10-12 14:27] steo85it commented on #26033
Thank you! I'm testing it but I'm getting into some issues with qt and gcc@11.2.0 . Trying an older compiler to get at least to the qgis installation step.

[2021-10-12 14:42] certik commented on #26669
So when I install `make` using `spack` and ensure it is in PATH, then spack actually works fine in parallel.

Quite frankly, I don't think Spack should be using anything from the system. It's a good habit to assume it is just broken.

I thought maybe I have broken something on my previous laptop, so I didn't want to even bother reporting it. But when the exact same issue happens on a brand new M1

[2021-10-12 14:45] certik commented on #25598
I am going to close this issue. The real bug is #26669.

[2021-10-12 14:45] #25598 closed, assigned to michaelkuhn, alalazo

[2021-10-12 14:46] certik commented on #25598
I will note that the bug is in Spack using system make instead of its own.  But let's discuss it at #26669.

[2021-10-12 15:11] #26002 closed, assigned to nobody

[2021-10-12 15:20] haampie commented on #26669
I love this view. For linux I've created https://github.com/eth-cscs/spack-batteries-included which is based on the ideas of AppImage, basically a single-file executable that mounts a zstd-compressed squashfs file included in the binary as an immutable filesystem which contains not only spack, but also `python`, `make`, `git`, `ca-certificates-mozilla`, etc. If there's no fuse on your system, it s

[2021-10-12 15:23] vsoch commented on #26641
Right it looks like it’s botocore, but superficially the message appears alongside pkgconf - it wasn’t obvious until I added debug.

[2021-10-12 15:26] certik commented on #26669
The issue of bootstrapping a compiler from nothing is interesting, see here: https://github.com/certik/bcompiler/issues/1#issuecomment-793896926. It can be done and it should be done. But it is a lot of work. Note also that in terms of Spack, you not only need to bootstrap a compiler, but also all the basic utilities like tar, make (!), etc., all in the right order. In theory that can all be done.

[2021-10-12 15:34] haampie commented on #26669
I don't think a short-term goal is to have spack bootstrap ab initio :p currently we assume the os provides proper build tools, as well as a working python installation, which usually isn't too much to ask...

It's probably easier to bootstrap by downloading working binaries from somewhere (which we currently don't fully provide except for clingo), and then run `spack install spack`, like gcc buil

[2021-10-12 15:36] bcdarwin commented on #26308
@glennpj yeah, builds fine when not using an external OpenMPI (but this isn't a solution for me due to #26275).

[2021-10-12 15:46] certik commented on #26669
(Yes, it is not a short term goal for me either. All I am saying is that it is interesting conceptually and eventually it would be nice to have.)

The clingo binary was not available on M1 (because it was trying to build it from source, and that's where it failed).

[2021-10-12 15:54] Sinan81 commented on #26033
I used gcc@7.4 and spack@0.16.3

[2021-10-12 16:22] haampie opened #26683 "Spurious test failures ci tests"
### Steps to reproduce

[code]

@scottwittenburg could you please make the reported output a bit more verbose to give us a hint *what* fails if it fails? Right now the test doesn't given any feedback whatsoever.

### Error message

.

### Information on your system

.

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have sear

[2021-10-12 16:24] adamjstewart commented on #24754
Could we instead consider defaults in `packages.yaml` to be hard preferences instead of soft preferences? That is, if it is physically possible to build something with the settings in `packages.yaml`, we do it without questions?

[2021-10-12 16:24] haampie commented on #26683
The function that's being called is 460 lines long :weary:

[2021-10-12 16:43] adamjstewart commented on #26546
Sigh, it looks like this was broken by #25998, which was designed to fix the exact opposite problem for the cython package. For now, you can undo that commit locally to fix your issue. In the long run, we need to figure out how setuptools/distutils decides where to install packages and use that consistently everywhere. We're currently using distutils to do this, but distutils is now deprecated in

[2021-10-12 16:45] adamjstewart commented on #26661
I think the "fix" is to add a conflict to denote that older versions of GMT can't be built with newer versions of GCC. If anyone can backport a patch to add GCC 11 support to older GMT then we can remove the conflict.

[2021-10-12 17:05] alalazo commented on #24754
We could, but I'm not sure we should. Doing something like that means adding two additional targets to the list of our 13 targets. I think it will have some impact on the time it takes to concretize (but need to measure to be sure). Also, it won't solve these kind of issues, just add another layer to it. For instance you can add conflicting variants to package `a` and package `b` in `packages.yaml

[2021-10-12 17:07] alalazo commented on #24754
If we don't modify the current algorithm, we should probably document more explicitly this behavior and try to clarify what it means to set a variant preference in `packages.yaml`.

[2021-10-12 17:16] haampie commented on #26669
Even when you changed from urllib to curl?

In any case, the most likely outcome of pursuing bootstrapping from nothing is that Spack becomes a linux distro like NixOS, instead of just a package manager assuming a working distro, like Nix, which it is now.

[2021-10-12 17:22] goxberry commented on #26674
Lightly edited for clarity.

[2021-10-12 18:07] steo85it commented on #26033
and did you manage to compile successfully, or did you still get blocked by the `sqlite` issue you mentioned? I still get an error related to that package (see build output attached), even when using gcc@9.3.0 (just to understand if it's worth installing gcc@7.4 that you used).

[spack-build-out.txt](https://github.com/spack/spack/files/7332244/spack-build-out.txt)

[2021-10-12 18:14] goxberry commented on #26669
MacPorts uses this approach on macOS, last I checked. Depending on the use-case, I'm not sure there's economy in such an assumption because it trades off potential bugs in Spack-launched package builds for potential end-user configuration bugs when users try to use Spack-installed packages in their downstream software development. These latter bugs were what caused me to switch from using MacPorts

[2021-10-12 18:29] Sinan81 commented on #26033
No, I couldn't compile qgis due to sqlite issue. It seems you're at the same point as me (hence no need to downgrade gcc). As I said the issue seems to be the revamping of the sqlite package. I bet if you used the older versions of the sqlite package file, the build will work just fine. Also, to make sure qgis itself is not the issue, you could also try building a version that is previously known

[2021-10-12 18:34] steo85it commented on #26033
Thanks! I'm trying to compile with an older sqlite version (but maybe you meant an older version of the spack package itself, I'll test that, too), else I'll try an older qgis, indeed.

[2021-10-12 18:37] alalazo commented on #24754
Added to the possible discussions here https://github.com/spack/spack/wiki/Telcon:-2021-10-13

[2021-10-12 20:09] haampie commented on #26669
My only mac is a macbook air from 2015, I remember compiling julia from sources which requires building llvm took hours, before I had a proper desktop.

I still test spack every now and then on that macbook, python already feels terribly slow :p

[2021-10-12 20:11] #26550 closed, assigned to scottwittenburg

[2021-10-12 20:27] etpalmer63 opened #26691 "Documentation: Table in PackageGuide.rst not rendering correctly"
There is a small typo in formatting for the table in "Implementing the install procedure" that is preventing it from rendering correctly. I attempted to do the easy fix (line 2888, change `=` to `-`), but then the highlighting for the class names wasn't working and I was not sure what was wanted. So I thought it best to post an issue.

[2021-10-12 22:52] brugger1 commented on #13233
I've encountered this many times over the past week iterating on patches. I've been changing the name of the patch file to get around it, essentially with a version number. This way the patch file doesn't change.

[2021-10-12 23:22] haampie commented on #26641
So, seems like an issue with pip not specifying proper version bounds? Do we know of a package manager that handles this better?

[2021-10-12 23:27] vsoch commented on #26641
I think because we know it's Python related, this isn't something that really spack can handle. So let's close - and it will be helpful if someone finds it and can use my hack err fix :)

[2021-10-12 23:27] #26641 closed, assigned to nobody

[2021-10-12 23:28] haampie commented on #25545
What syntax would make sense if versions were propagated? That's also common e.g. in the rocm ecosystem, where currently loops are used

[2021-10-12 23:34] haampie commented on #26641
I was joking but I mean, what's wrong with spack install py-boto3?

The issue is that pip gives you an incompatible botocore, right?

I also remember I tried installing boto3 with apt, but got a hopelessly broken version.

Maybe spack got it figured out in terms of giving you an optimal version compatible with your system python.

Otherwise do a multistage build for your build image where you run

[2021-10-12 23:39] vsoch commented on #26641
Yes I think so!

[2021-10-13 00:07] Sinan81 commented on #26033
It turns out I built qgis@3.16.15 successfully before, of which spec details is attached below.
[qgis_last_known_build.txt](https://github.com/spack/spack/files/7333756/qgis_last_known_build.txt)
in particular, sqlite was built with the following options:
[code]

[2021-10-13 00:11] Sinan81 commented on #26033
yep! that's exactly what I meant. I also tried building with sqlite@3.35.4 which failed.

[2021-10-13 00:24] Sinan81 commented on #26033
As shown in the package file, in the revamped sqlite package file, `column_metadata` variant seem to be left in a 'TODO' state which might be a clue to the build issue. I'll look into followings next
[code]
, and try to have a basic understanding of what has happened, after which we  can ping the developers who contributed that code if necessary.

[2021-10-13 00:28] steo85it commented on #26033
Ah, great, thanks! I'll try that, too. For the moment I tested
`spack install qgis ^sqlite@3.34.0 %gcc@9.3.0`
with the `sqlite` package at commit `76424c1` (Mar-21, with some modification to make it compatible with spack@0.16.2-4279-7e7de25aba), and it failed with the same error as before.

[2021-10-13 02:12] steo85it commented on #26033
Just as a lazy test, I tried to mimic your last successfull spec with
[code]
(by always including the `sqlite` package from Mar-21, in principle before the last revamp) but it still fails with the same problem. So, no luck with the dumb/brute-force testing...

[2021-10-13 03:05] Sinan81 commented on #26033
my bad. Sqlite library Cmake variable should point to the actual library but not the directory:
[code]
let's see if this makes a difference at all.

[2021-10-13 03:33] Sinan81 commented on #26033
... and it builds successfully! Sorry, because of the above mentioned mistake we wasted a lot of time.

[2021-10-13 03:35] steo85it commented on #26033
I'm going to test it, but happy to do it with some confidence in success. Fingers crossed it will work for me, too!

[2021-10-13 03:58] alalazo commented on #26656
The issue here is that in the current implementation `when` constraints coming from context managers are appended to the spec, rather than prepended:

https://github.com/spack/spack/blob/4d58661d08879bc95d12ea9888fed99ec5f4fa18/lib/spack/spack/directives.py#L251-L255

so the directive in the description is equivalent to:

[code]
which leads to the error that has been reported.

Both prepending and

[2021-10-13 04:01] alalazo commented on #26656
@manuelakuhn Do you have an example of a package for which this use make sense? I can submit a fix with unit tests but it would be also good to have an example in the same PR.

[2021-10-13 09:59] simonpintarelli commented on #26295
Here is a closely related example which fails and for which the above described workaround doesn't help:

[code]

fails when using clingo with `Error: Unsatisfiable spec.`, together with a list of unsatisfiable constraints (39'400 lines).  The same spec works when setting `concretizer: original` in `config.yaml`

[2021-10-13 11:38] Smahane opened #26705 "LAMMPS failed to install with Intel compiler due to cpio and diffutils"
### Steps to reproduce

- I added user-intel to the package.py file
- Intel compiler and libraries are available in my environment
[code]

### Error message

[code]

### Information on your system

spack debug report
* **Spack:** 0.16.3-4690-3cf426d
* **Python:** 3.6.8
* **Platform:** linux-centos7-skylake_avx512
* **Concretizer:** clingo

### General information

- [X] I have run `spack debug rep

[2021-10-13 12:13] rajeeja commented on #26388
Got the same error with building vtk on ubuntu gcc@9.2.0. Trying to build visit:

[code]

[2021-10-13 13:00] steo85it commented on #26033
I confirm that qgis installs fine with your latest mod (probably something to commit, too).  Specifically, this worked: `spack install qgis@3.16.5 %gcc@9.3.0`
Thanks a lot for your help!

p.s.: As with my last install, I get an error message when opening the gui: wondering if you are familiar with it.
[gis_gui_error.txt](https://github.com/spack/spack/files/7338322/gis_gui_error.txt)
(it's quite h

[2021-10-13 13:39] manuelakuhn commented on #26656
Thanks for the explanation why this happens @alalazo
Having an optional keyword argument actually would be doable but in the end I am not the biggest fan of this approach. The biggest advantage of the `when` context manager for me is its simplicity and readability. That would decrease and also make its usage not consistent anymore. But as I see you are already discussing about different solutions

[2021-10-13 13:52] haampie commented on #26656
This other example should just work after going from string processing to spec intersection / merging / combining constraints.

[2021-10-13 13:54] manuelakuhn commented on #26656
Thanks, that's also how I understood your discussions in the PR.

[2021-10-13 15:38] #25988 closed, assigned to alalazo

[2021-10-13 16:24] joequant opened #26714 "Installation issue: gosam-contrib"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.16.3
* **Python:** 3.9.7
* **Platform:** linux-mageia9-zen2
* **Concretizer:** clingo

### Additional information

_No response_

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have run `spack maintainers <name-of-the-package>` and **@me

[2021-10-13 16:25] joequant commented on #26714
this seems to be due to parallel builds not finishing the build of mninja.mod before it is required

[2021-10-13 16:34] certik opened #26715 "Installation issue: gcc on Apple M1"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.16.3-4809-6a462725cf
* **Python:** 3.8.2
* **Platform:** darwin-bigsur-m1
* **Concretizer:** clingo

### Additional information

The relevant part of the build log. The failure is on the line `*** Configuration aarch64-apple-darwin20.6.0 not supported`:
[code]

CC @alalazo, @michaelkuhn

### General informatio

[2021-10-13 16:36] certik commented on #26715
Seems like this is a duplicate of #26317.

[2021-10-13 17:47] mwkrentel opened #26718 "clingo error with versions of virtual packages"
### Steps to reproduce

This is a bug with clingo and versions of virtual packages.

For hpcviewer, old versions require java exactly version 8, new
versions use java >= 11, so we have:

[code]

Note that the two when regions are disjoint, so for a given version,
only one can be correct.  But with clingo, an old spec
`hpcviewer@2019.12` concretizes as:

[code]

This is incorrect.  Version 2019.12

[2021-10-13 17:59] certik commented on #26317
Here is how to get GFortran 11 working today on Apple M1:
[code]

How does Conda do it and why Spack cannot do it?

[2021-10-13 18:11] Sinan81 commented on #26033
I think the error has to do with some recent changes to `qscintilla` package breaking some things and hence QGIS turning of qscintilla support. I'll be looking into this in the following days.

[2021-10-13 18:38] steo85it commented on #26033
Thanks again, that's anyway not urgent! I'll close this issue, as the initial problem has been solved ( https://github.com/spack/spack/issues/26033#issuecomment-941872244 should be included in qgis package, though, at your convenience - or I can also do it, if you prefer).

[2021-10-13 18:38] #26033 closed, assigned to nobody

[2021-10-13 19:07] sethrj commented on #23428
I also have hit this -- today while trying to `spack install --overwrite py-numpy/mno76z`, which has build-time python dependencies:
[code]

While trying to reinstall Silo:
[code]

@alalazo @haampie ?

[2021-10-13 19:17] sethrj commented on #26317
@certik it looks like that version was cross-compiled targeting an M1 but built on an x86. I'm assuming the problem  is that GCC itself won't compile on an M1, so you can't use spack to build it natively. Maybe you could use spack to build GCC on an x86 mac with `target=m1`, and then use a buildcache to "install" it on an M1?

[2021-10-13 19:29] sethrj commented on #23428
My workaround was to get the full spec (all dependencies and variants), `spack uninstall -f`, and `spack install <full_spec>`... not always possible if you update spack occasionally.

[2021-10-13 20:13] certik commented on #26317
Yes, conda-forge is using the Intel macOS on Azure and they cross compile to M1. I tested it and it works very well. It's interesting that GCC itself does not build on M1. I didn't realize that. So that explains it.

[2021-10-13 22:01] KineticTheory commented on #11615
We are now making aggressive use of mirrors.  This is no longer an issue for me.  If anyone needs it, you can also grab [metis-5.1.0 here](https://github.com/KineticTheory/spack-mirror/blob/master/metis/metis-5.1.0.tar.gz).

[2021-10-14 00:38] joequant opened #26726 "Installation issue: groff has race condition that causes intermittent failures"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.16.3
* **Python:** 3.9.7
* **Platform:** linux-mageia9-zen2
* **Concretizer:** clingo

### Additional information

I cannot consistently reproduce the error, but it appears that there is an issue with parallel builds.  If the latter part of the build begins before eqn is built, this triggers an error.  The bui

[2021-10-14 00:43] joequant commented on #26714
[spack-build-env.txt](https://github.com/spack/spack/files/7342099/spack-build-env.txt)
[spack-build-out.txt](https://github.com/spack/spack/files/7342101/spack-build-out.txt)

[2021-10-14 08:51] Bitllion opened #26733 "I can't load openfoam"
### Steps to reproduce

I just installed openfoam successfully. I want to continue my work, but when I load it, I report an error
[code]

### Error message

[code]

### Information on your system

[code]

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have searched the issues of this repo and believe this is not a duplicate

[2021-10-14 08:52] #25955 closed, assigned to nobody

[2021-10-14 10:27] alalazo commented on #26718
Bug confirmed. This is due to the fact that we don't have a "version uniqueness" rule for virtual packages. This diff:
[code]
solves the bug for me. Currently checking if any test is failing and trying to add a regression test.

[2021-10-14 10:28] alalazo commented on #26718
For reference, the current answer set contains 2 versions of `java`:
[code]

[2021-10-14 10:33] #26656 closed, assigned to alalazo

[2021-10-14 12:21] UweSauter opened #26734 "Documentation: how to create (tcl/lmod) module for a Spack environment"
Assume you have a Spack environment defined via
[code]

What else needs to be defined so that Spack creates a (one) module that will set up the user's environment using Spack's environment's view?
I don't want to generate a tcl/lmod module for each installed package, just for the Spack's environment's view.

[2021-10-14 15:25] KineticTheory commented on #23894
@sethrj As you say, this particular issue is resolved.  I am closing the ticket.  Unfortunately, I still can't build visit.

[code]

[2021-10-14 15:25] #23894 closed, assigned to nobody

[2021-10-14 16:15] cessenat opened #26738 "Installation issue: perl-module-build"
### Steps to reproduce the issue

On CentOS7 with no external package, perl-module-build suddenly does not compile.
It used to compile fine some time before (I have a trace with perl 5.32.1).
I'm puzzled and stuck by the problem which seems very basic:

[code]

### Information on your system

$ spack debug report
* **Spack:** 0.16.2-4883-e4ff135
* **Python:** 3.6.8
* **Platform:** linux-centos7-sk

[2021-10-14 16:53] alalazo commented on #26718
Hi @mwkrentel thanks for the report! Fix is in #26740 In general if you encounter issues like this one with clingo, feel free to report them on Github  and assign to me.

[2021-10-14 16:59] wilkersonb opened #26742 "Installation issue: qt"
### Steps to reproduce the issue

Spack installation of QT-5 is producing a build error on MacOS Big Sur with Xcode 13. The build and environment files are attached.

### Information on your system

* **Spack:** 0.16.3-4870-49354140be
* **Python:** 3.9.7
* **Platform:** darwin-bigsur-skylake
* **Concretizer:** clingo

### Additional information

maintainer : @sethrj

[spack-build-out.txt](https://

[2021-10-14 17:39] sethrj commented on #23894
Ugh...

[2021-10-14 17:59] sethrj commented on #26742
@wilkersonb The failing command and error is:
[code]
I see
[code]
which looks wrong. So somehow your homebrew install is interfering with the qt install... what is your `$SPACK_ROOT/etc/spack/packages.yaml` file?

[2021-10-14 18:46] adamjstewart commented on #26733
@olesenm

[2021-10-14 18:47] wilkersonb commented on #26742
[pack-yaml.txt](https://github.com/spack/spack/files/7348610/pack-yaml.txt)

[2021-10-14 18:48] bvanessen commented on #25914
@bvanessen I am also experiencing this.

[2021-10-14 18:50] wilkersonb commented on #26742
I've attached the yaml as a text file. Let me know if I should delete something from my homebrew install

[2021-10-14 19:03] sethrj commented on #26742
That's bizarre, I have no idea why that's being picked up.

[2021-10-14 19:05] wilkersonb commented on #26742
Would a potential workaround include removing hunspell (and poppler/QT) from homebrew?

[2021-10-14 19:18] sethrj commented on #26742
That could definitely do the trick. What we really need is to prevent qt itself from trying to find packages deep inside homebrew, but I'm not sure the necessary flags to do that...

[2021-10-14 20:29] chchang6 commented on #26578
To update, this appears (to me, based on indirect evidence, so with salt...) to be a general Spack issue whereby a dependency specified by hash is interpreted flatly, i.e., so all subdependencies are interpreted as direct ones of the primary package. If I specify the dependency using the Spack Spec language, then it works better.

More specifically, in the code in `$SPACK_ROOT/spack/spack/spec.py`

[2021-10-14 21:06] #26718 closed, assigned to alalazo

[2021-10-14 22:53] ax3l opened #26751 "Installation issue: mpi4py"
### Steps to reproduce the issue

[code]

### Information on your system

Both seen in CI for macOS and Ubuntu 20.04.

* **Spack:** 0.16.3-4881-41d375f6a4
* **Python:** 3.8.10
* **Platform:** linux-ubuntu20.04-skylake
* **Concretizer:** clingo

### Additional information

Since Monday this week (10/14/2021), `py-mpi4py` is not building anymore due to linker errors:
[code]

No change in mpi4py in t

[2021-10-15 05:20] #26714 closed, assigned to nobody

[2021-10-15 05:20] #26726 closed, assigned to nobody

[2021-10-15 08:29] alalazo opened #26755 "Output of lsb_release is not ignored by distro"
### Steps to reproduce

Originally posted here: https://github.com/spack/spack/commit/fcac95b0654a84151ad51a9123f74e8cdfcf8d26#commitcomment-58082083

### Error message

No error message, but the optimization seems to change the name of the OS being detected

### Information on your system

The only relevant part seems to be Arch linux as an OS

### General information

- [X] I have run `spack deb

[2021-10-15 08:56] cessenat commented on #26733
Same thing for me :
[code]

[2021-10-15 09:34] #26755 closed, assigned to nobody

[2021-10-15 14:28] haampie opened #26762 "arch linux platform name depends on whether lsb_release is installed or not"
On Arch, spack arch outputs a distro name:

- `arch` if lsb_release is not installed (default)
- `archrolling` if lsb_release is installed by the user

[2021-10-15 14:31] alalazo commented on #26520
I started looking into this. First finding is that on `linux` with `x86_64` arch it seems to work, i.e. if I do:
[code]
`gcc` is correctly concretized at version `master`. Using the first conflict posted above for darwin generates these facts
[code]
which also seems correct. The expansion of `node_target_satisfies` facts are:
[code]
where `m1` is listed. Even `version_satisfies` facts seem correct

[2021-10-15 16:30] #26317 closed, assigned to michaelkuhn, alalazo, adamjstewart

[2021-10-15 16:30] #26715 closed, assigned to nobody

[2021-10-15 17:11] bcdarwin commented on #26734
I too would appreciate such a feature but I believe it doesn't exist yet.  One could easily hack together a script to create such a modulefile from the generated `loads` file from an environment, but Spack directly creating this file would be better.

[2021-10-15 18:56] KIwabuchi opened #26770 "Implement Smoke Test (or stand-alone) for a Header-only Library"
Hello,

Could you tell me how to set up a Spack smoke test (or stand-alone) for a header-only library?

I'm trying to implement a smoke test in the [Metall package](https://github.com/spack/spack/blob/develop/var/spack/repos/builtin/packages/metall/package.py) (founded by the Exascale Computing Project).

I read [this](https://spack.readthedocs.io/en/latest/packaging_guide.html#stand-alone-or-smok

[2021-10-15 20:09] bcdarwin opened #26771 "Spack generates a `loads` file not sorted by dependency ordering"
### Steps to reproduce

This is possibly not minimal, but the crux of the issue is that in some cases, Spack generates an invalid `loads` file wherein `paraview` comes before its dependency `openmpi`:

[code]

### Error message

See lmod error above when sourcing `loads` file.

There is no command to run in `debug` mode since the error occurs in generated code, not in Spack internals.

### Informa

[2021-10-15 21:40] cjosey commented on #26669
As a heads up, a similar "parallel macOS make doesn't work" was reported here: #21492.

So far, everyone who has reported similar issues in these threads works at the same place, which fuels my speculation that it is a misconfiguration on our end.

[2021-10-15 21:53] marcmengel opened #26772 "Giving spack "-debug" instead of "--debug" gives really confusing error.."
### Steps to reproduce

If you meant to type, say:
`spack --debug list gcc`
but instead typed
`spack -debug list gcc`
you get:
[code]
I suggest we check for specifically that environment name ("bug"), and add to the message:
"...did you mean --debug rather than -debug?"
because the message is otherwise really confusing given the intent of the user.

### Error message

[code]

While this error mess

[2021-10-15 23:15] certik commented on #26669
I suspect that too that it is a misconfiguration on my end, although not my personal fault.

But at the end of the day, I've seen that over the past 20 years over and over that a system package is broken (at Linux or macOS), one way or another. And the solution is always to simply not depend on it. Whether in Sage, HashDist or now Spack. It's always the same story and always the same solution.

[2021-10-16 00:35] ax3l commented on #26751
Cannot reproduce anymore, must have mismatched CI output with the removed `-r` from `spack load -r`

[2021-10-16 00:35] #26751 closed, assigned to nobody

[2021-10-16 00:48] ax3l commented on #26520
So I just tried again the merged version from #26318 with the latest Spack `development`.

If I am performing a `spack install gcc` at an AppleM1, it will automatically select `gcc@master`, which is ok as we unconstrained it.

If I remove the `master` version, I would expect a conflict now.
I kind-of get one, but not with the usual conflict message. I get "Error: gcc does not satisfy unknown" wand

[2021-10-16 00:57] ax3l commented on #26317
Agree with all the above about the cross-compiled compiler.
On top of that, I think conda-forge did build the fork in https://github.com/spack/spack/issues/26317#issuecomment-929700562 as soon as M1 was released.

[2021-10-16 07:27] goxberry commented on #26669
Bootstrapping aside, not depending on external software is *an* answer, but I don’t see how it could be *the* answer in all cases — e.g., at HPC sites, [it doesn’t make sense for users to build their own MPI](https://spack.readthedocs.io/en/latest/getting_started.html#mpi).

I could see the value in some sort of more expansive bootstrapping option in addition to the current paradigm of permitting

[2021-10-16 10:27] haampie commented on #26772
I get the confusion, but this is expected and standard behavior. `-x -y -z arg` can be abbreviated to `-xyzarg` and people rely on this, like in `tar -xvzf filename`.

It just happens to be so that `-debug` is interpreted as `-d -e bug`.

[2021-10-16 10:27] #26772 closed, assigned to nobody

[2021-10-16 12:13] Tonny-Gu opened #26775 "Update newly added languages via spack compiler find"
### Summary

 I hope `spack compiler find` can let spack recognize compiler submodules newly installed. For example, when spack found `gcc` without `g++` initially, then I installed `g++` manually, at this moment invoking `spack compiler find` does nothing and spack still think there is no `g++` on this machine.

### Rationale

_No response_

### Description

A fresh installed Ubuntu bundles `gcc`

[2021-10-16 12:20] certik commented on #26669
Yes, you cannot use your own MPI at HPC sites, so that is an exception. You absolutely can and should build your own make, just like spack builds and uses its own cmake. Depending on system cmake would be similarly a bad idea, as typically it is too old, or can also be broken in various ways.

[2021-10-16 18:32] marcmengel commented on #26772
I understand how the argument parsing works.  That's not the issue.

The issue is we can give a *better error message*.  If the name of the environment we cannot find happens to be "bug", there is a strong probability the user fat-fingered --debug, and we should mention that, as I would propose that it is far more likely that a user typoed --debug than that they did -e bug when they don't have a "

[2021-10-16 20:01] haampie commented on #26772
I disagree it requires a better error messages... we already provide tab completion for long arguments, and it's just a funny coincidence we have the -d and -e  flags.

[2021-10-17 20:35] #26450 closed, assigned to tgamblin

[2021-10-17 20:49] dev-zero commented on #26546
@adamjstewart an alternative to figuring out what setuptools is doing is to tell setuptools what to do. This is what Gentoo (also a multilib-enabled distro) is doing, see here: https://gitweb.gentoo.org/repo/gentoo.git/tree/eclass/distutils-r1.eclass#n678

[2021-10-17 23:48] ikitayama opened #26789 "Installation issue: intel-oneapi-compilers"
### Steps to reproduce the issue

[code]

### Information on your system

$ spack debug report
* **Spack:** 0.16.3-4903-03f84fb440
* **Python:** 3.8.5
* **Platform:** linux-centos8-zen2
* **Concretizer:** clingo

### Additional information

_No response_

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have run `spack maintai

[2021-10-17 23:49] ikitayama commented on #26789
@rscohn2 , I'd appreciate you look at this as I've been seeing this on JURECA at JSC for a long time.

[2021-10-17 23:51] adamjstewart commented on #26546
We do: https://github.com/spack/spack/blob/develop/lib/spack/spack/build_systems/python.py#L265,L266

The problem is that we also need to support external Python installations where we don't have control over this.

[2021-10-18 11:21] rscohn2 commented on #26789
This doesn't look like a problem the intel-oneapi-compilers package, but instead of interaction with the JURECA python and spack. I see you reported the same problem with another package: https://github.com/neuronsimulator/nrn/issues/1398#issuecomment-903047268 I only maintain the oneapi packages and am not familiar with other spack internals. The spack slack channel would be a better way to find

[2021-10-18 11:23] ikitayama commented on #26789
Okay Robert thanks.

On Mon, Oct 18, 2021 at 20:21 Robert Cohn ***@***.***> wrote:

[2021-10-18 16:17] steo85it opened #26798 "gdal@3.3.2+zstd not working as expected"
When installing `gdal` with `zstd` compression support, build and installation look fine, but `gdal_translate -co COMPRESS=ZSTD` gives
[code]
I attach my `build-env` and `build-out`
[spack-build-env.txt](https://github.com/spack/spack/files/7366926/spack-build-env.txt)
[spack-build-out.txt](https://github.com/spack/spack/files/7366927/spack-build-out.txt)
The shown config messages look fine:
[code

[2021-10-18 16:36] giltirn opened #26799 "Spack install fails immediately with error "/usr/bin/python3: symbol lookup error: /usr/bin/python3: undefined symbol: _Py_LegacyLocaleDetected" on Spock"
### Steps to reproduce

I am trying to build a spec that requires a dev-build of Python3 which is not presently available on Spock. I can have spack build Python in my environment without issue, but when I try to recreate the environment with additional specs or build a new environment that uses the same spack build of Python, spack install fails with the error

"/usr/bin/python3: symbol lookup er

[2021-10-18 16:48] idesk2596 opened #26801 "build all dependencies with different compiler"
Hi,

You may can tell if possible to build an app with a compiler but ALL its dependencies with different compiler with one directive?

what i mean is that if i do for example:
[code]

py-tensorflow@2.2.3 and  all its dependencies get built with gcc 7.5.0,
and if we want a specific dependency to be built with different compiler we need to specify it like:
[code]
As i'm using gcc@11.2.0 by default

[2021-10-18 17:34] #26544 closed, assigned to nobody

[2021-10-18 18:14] steo85it opened #26803 "qgis@3.16.5 gui errors and missing gdal/raster functions"
See last posts of #26033 for more infos (copying here as separate issue).

As from subject, the following errors occur at opening and only 3 operations are then available in the "raster" menu.
[qgis_gui_error.txt](https://github.com/spack/spack/files/7338322/gis_gui_error.txt)

@Sinan81 commented that this could be related to:

[2021-10-18 18:18] bcdarwin opened #26804 "Inadequate performance of generated `loads` file"
### Steps to reproduce

I have an environment containing ~40 explicitly declared packages, including some with moderately deep dependency chains, e.g. `py-itk` and `py-pandas`.  The generated `loads` file contains ~1250 packages and takes more than 15 minutes to source.  However, if I convert it to a single module file via `cat /path/to/loads | grep 'module load' | awk -F" " '{ printf "depends_on(

[2021-10-18 18:20] bcdarwin commented on #26734
Especially important in light of #26804 (see workaround given there).

[2021-10-18 18:29] haampie commented on #26734
I think this makes sense, especially with concretization: together.

If you don't want to wait for module files you can do `spack env activate --sh > env.sh` and `source env.sh`.

[2021-10-18 19:38] haampie commented on #25532
@alalazo this ties in to our conversation today:

It'd be nice if we keep track of a list of changes/actions applied to the in-memory representation of an environment, say `env.actions = [...]`, and then whenever a spack.yaml/lock needs to be persisted to disk for whatever reason, and the underlying spack.yaml has changed, we can instantiate an Environment object from disk, apply env.actions, and

[2021-10-18 19:41] adamjstewart commented on #26798
Thanks for the bug report, I was able to reproduce this on macOS too. Based on the [GeoTIFF driver docs](https://gdal.org/drivers/raster/gtiff.html#creation-options):

It looks like the problem is that we are using an external libtiff that isn't compiled with zstd support. I added a zstd variant to the libtiff package. Testing this now and will submit a PR to fix this when I'm done.

[2021-10-18 19:51] steo85it commented on #26798
That sounds very promising, thanks for looking into this!

I should probably open a separate "issue" about this, but is it possible that something similar is happening when trying to add a `--with-lerc=...` compiler option (to get `lerc` compression support, see [https://github.com/OSGeo/gdal/blob/master/gdal/configure.ac](https://github.com/OSGeo/gdal/blob/master/gdal/configure.ac), [https://gith

[2021-10-18 19:52] adamjstewart commented on #26798
Correct:

I can look into adding a LERC package to Spack.

[2021-10-18 19:55] steo85it commented on #26798
If possible, that would be amazing, thank you!
In the meantime, I should compile `libtiff` with both `zstd` and `lerc` support (with the latter being compiled separately, while unavailable in spack)... interesting, thanks!

[2021-10-18 19:57] adamjstewart commented on #26798
Correct. This shouldn't take me more than an hour.

[2021-10-18 19:58] steo85it commented on #26798
I can definitely wait, then! Thanks a lot for your help!

[2021-10-18 23:00] naughtont3 commented on #26275
@sethrj  I do not know of exact changes that would cause change for this release (openmpi-4.1.1).  I did spack install of few past versions (openmpi 4.0.1, 4.0.6, 4.1.0, 4.1.1) on the same long path container and got similar results (things build/install fine, but the contents of the derived *LDFLAGS vars all had similar truncation w/ really long path.

So not sure how to fix this beyond using som

[2021-10-18 23:28] eugeneswalker opened #26810 "axom@0.5.0 build fails: spin::BVH class requires RAJA and Umpire"
### Steps to reproduce the issue

Using:
* `spack@develop` (a118e799ae8ae0f4d6063f502606af3a77fdae9a from `Mon Oct 18 23:21:08 2021 +0200`)
* Ubuntu 20.04, GCC 9.3.0
* x86_64 and ppc64le

Concrete spec: [axom-lgdlj3.spec.yaml.txt](https://github.com/spack/spack/files/7369080/axom-lgdlj3.spec.yaml.txt)

Reproducible using Docker container image `ecpe4s/ubuntu20.04-runner-x86_64:2021-10-01`

[code]

[2021-10-19 00:43] sethrj commented on #26275
Thanks so much @naughtont3 for checking that out in such detail. Since the truncation error seems like a factor of all the external library paths, and there's no obvious (to me) character limit on the end result, it's going to be hard to catch in practice.

I'm also surprised that this hasn't been seen on the E4S pipeline -- I thought that they padded the spack prefix to be ridiculously long to ma

[2021-10-19 00:45] steo85it commented on #26798
The PR looks great, I tested and it works as planned! Thanks!
Just one "doubt": wouldn't the "gdal+zstd" option be meant for forcing a libtiff+zstd dependency? Else, there is no way on the gdal installation level to "activate" support for those compression libraries (and maybe that's fine in spack philosophy, I'm just wondering).
Thanks a lot for your help and effort!

[2021-10-19 03:06] scottwittenburg commented on #26275
The E4S stack does include `openmpi` as a root spec, and I haven't noticed any problems installing it or creating a buildcache for it.  However, it looks like the environment picks `mpich` as the `mpi` provider for all in its `packages` section (see [here](https://github.com/spack/spack/blob/d41ddb8a9c05b90a6321e0531b5dfa3ca13773f8/share/spack/gitlab/cloud_pipelines/stacks/e4s/spack.yaml#L20)), so

[2021-10-19 04:17] vsoch commented on #26644
okay this is sorted out - @alecbcs figured it out! We had package.py files still importing spack.architecture. So that's why it couldn't reproduce locally for me (or anyone really). Good to close this - if anyone else has issues check that you aren't caching anything, and that your package.py files are up to date.

[2021-10-19 04:17] #26644 closed, assigned to alalazo

[2021-10-19 04:22] Sinan81 commented on #23943
How come GDAL builds works for `json-c@:0.13.1` but not the newer versions. I wonder what has changed

[2021-10-19 05:19] white238 commented on #26810
Axom is going to do a release soon and this should be fixed then.

https://github.com/LLNL/axom/milestone/1

[2021-10-19 14:17] #26798 closed, assigned to adamjstewart

[2021-10-19 14:20] dmentock opened #26817 "Module not being added to $PYTHONPATH after issuing spack load"
### Steps to reproduce

I would like to install the new version of the newly added package damask:

`spack install damask@3.0.0-alpha5%gcc`

after it is installed I would like to load and import it to python as following:

`spack load damask@3.0.0-alpha5%gcc`

issuing `echo $PYTHONPATH | grep damask` yields no results, in spite of the 3.0.0-alpha5 dependency argument in  damask/package.py containi

[2021-10-19 17:20] omsai opened #26825 "Installation issue: htop"
### Steps to reproduce the issue

This is a known issue with htop failing to compile with gcc@10 described here: https://github.com/hishamhm/htop/issues/986

The issue is spack is using an out of date archived repository: https://github.com/hishamhm/htop and should migrate to the new repository https://github.com/htop-dev/htop/ where htop is now at version 3.1.1 instead of 2.2.0 currently in spack

[2021-10-19 18:16] adamjstewart commented on #26798
@steo85it we could propagate variants like this, but then we would need to add 11 new variants to GDAL to control libtiff build options. Then there are the dozens of other drivers that involve external dependencies. I think it's much simpler to have users say:
[code]
then to add a ton of new variants to the GDAL package and extra `depends_on` lines to propagate these.

[2021-10-19 18:31] adamjstewart commented on #26817
@MarDiehl can you take a look at this? If this is an issue with our Python build system let me know.

[2021-10-19 18:41] steo85it commented on #26798
Agreed, that would quickly become a mess (plus I got from the PR discussion what the original idea of that option was)!

[2021-10-19 19:55] MarDiehl commented on #26817
thanks for reporting.
alpha5 with gcc works, I will install with Intel and report the results here.

[2021-10-19 20:43] carns opened #26830 "spack install not setting exit code for bad spec when using the fish shell"
### Steps to reproduce

[code]
In the above example I have deliberately added a spec for the `zlib` package with a variant that does not exist.  When I then run `spack install` it reports an error in stdout or stderr, but it does not set an exit code (note that this happens to be in the fish shell, so I'm using `$status` rather than `$?`).

This is problematic in scripted or CI environments becaus

[2021-10-19 20:44] omsai commented on #26825
Hmm... bumping the version to 3 doesn't seem like a quick fix.  I did a bit of work trying to rewrite the package to run htop@3.1.1 (https://github.com/omsai/spack/blob/htop-3/var/spack/repos/builtin/packages/htop/package.py), but it keeps hanging on startup and needs to be SIGKILL-ed on a virtual machine on centos7-linux-broadwell even when compiling with all the variants disabled.  On that machi

[2021-10-19 20:57] mathstuf opened #26833 "Support for banning writing to ~/.spack"
### Summary

Maybe this is already possible, but it seems that `-C` scopes are always read-only (`ImmutableConfigScope`), so I haven't found a way to provide a custom writeable scope.

### Rationale

On CI machines that are not containerized (e.g., macOS, Windows), ensuring the CI jobs stay in a specific directory is key to keeping machines "clean". I'd like to tell Spack "never write to `~/.spack

[2021-10-19 21:02] haampie commented on #26833
See #26735

[2021-10-19 21:07] haampie commented on #26830
[code]

:thinking:

[2021-10-19 21:11] mathstuf commented on #26833
Ha, thanks. I haven't gone through my Spack emails in a while, so I didn't see that I'm even mentioned there.

[2021-10-19 21:17] carns commented on #26830
Hunh.  Possibly something specific to the `fish` shell then?

[2021-10-19 21:18] carns commented on #26830
I get a 1 return code when using `bash`.

[2021-10-19 21:18] haampie commented on #26830
Right, maybe the fish shell wrapper is broken

[2021-10-19 21:23] MarDiehl commented on #26817
I don't even manage to install the prerequisites.
More precisely, `diffutils` cannot be build

[code]

full log is attached

[spack-build-out.txt](https://github.com/spack/spack/files/7376730/spack-build-out.txt)

[2021-10-19 21:36] MarDiehl opened #26836 "Installation issue: diffutils%intel"
### Steps to reproduce the issue

[code]

### Information on your system

[code]

I've installed Intel oneAPI and made the compilers available according to the official documentation

[code]

### Additional information

error message

[code]
Files:

- [spack-build-env.txt](https://github.com/spack/spack/files/7376786/spack-build-env.txt)
- [spack-build-env-mods.txt](https://github.com/spack/spack/

[2021-10-19 21:37] MarDiehl commented on #26817
reported as https://github.com/spack/spack/issues/26836

[2021-10-19 21:39] #25914 closed, assigned to becker33

[2021-10-19 22:48] grondo commented on #25571
Fixed by 22cfc19bcbc9d4df84dbd7f8023fbeb7de6ea94f?

[2021-10-20 01:40] tldahlgren commented on #26770
Hello.

You should be able to implement the tests (that are to be performed weeks to months after the installation) however seems appropriate to demonstrate that a user can successfully build against your library and run their code.

Use of `self.run_test()` is not required within `self.test()`.  It is intended to support multiple test parts so that failures of some tests do not prevent running th

[2021-10-20 11:22] haampie commented on #26833
Reopening cause the PR is pending

[2021-10-20 15:35] giltirn commented on #26799
I've been able to work around this issue by first having spack build Python as above, then treating spack's installation as an external:

(in install script)
export PATH=/gpfs/alpine/csc299/proj-shared/ckelly/spock/chimbuko_10_11_21/spack/spack/opt/spack/cray-sles15-zen2/clang-amd/python-3.6.13-vho34pskfmzakzm7m2rn5ii62nze7eyn/bin:${PATH}
export LD_LIBRARY_PATH=/gpfs/alpine/csc299/proj-shared/ckel

[2021-10-20 16:38] scottwittenburg opened #26854 "`spack ci reproduce-build` fails on jobs from `develop` pipelines"
### Steps to reproduce

Start with a failed job from a `develop` pipeline in gitlab CI, for example [this](https://gitlab.spack.io/spack/spack/-/jobs/1146018) one.  Following the instructions in the job trace results in:

[code]

The full output from running the `install.sh` script of the reproducer is attached.

I think the problem is that because the job was part of a `develop` pipeline, the ins

[2021-10-20 19:09] yoonbo opened #26857 "Installation issue: LAMMPS"
### Steps to reproduce the issue

[code]

Problem: When installing LAMMPS with CUDA and Kokkos, it does not turn on the CUDA support for Kokkos.

### Information on your system

* **Spack:** 0.16.3-4898-b2f059e
* **Python:** 3.7.4
* **Platform:** linux-centos7-haswell
* **Concretizer:** clingo

### Additional information

[spack-build-01-cmake-out.txt](https://github.com/spack/spack/files/7383665/

[2021-10-20 22:08] gmfricke commented on #26579
@hppritcha I believe it used to work with connectx3. Perhaps things changed recently.

[2021-10-20 22:13] hppritcha commented on #26579
I think @loveshack identified the issue correctly.  some ucx developer wasn't properly protecting new code.  simplest thing to do is to edit the spack recipe for ucx and delete the mlx5-dv variant.  I'll work up a patch to apply to the tarball.  Not sure if I can get to it this week though.

[2021-10-21 01:50] junghans commented on #26857
I think the problem is that `lammps+cuda` enables the cuda support through the gpu package. To enable cuda through kokkos you might need to do something like `lammps+kokkos ^kokkos+cuda` as lammps is agnostic to the enabled kokkos backends.

[2021-10-21 02:04] pghysels opened #26861 "Installation issue: llvm-amdgpu"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.16.3-4955-fc7178da17
* **Python:** 3.9.7
* **Platform:** linux-ubuntu21.10-zen2
* **Concretizer:** clingo

uname -a
Linux cs-it-7098760 5.13.0-20-generic #20-Ubuntu SMP Fri Oct 15 14:21:35 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux

[spack-build-env.txt](https://github.com/spack/spack/files/7385415/spack-build-en

[2021-10-21 08:29] haampie opened #26866 "concretizer does not take a unique provider"
### Steps to reproduce

[code]

`spack -e . concretize` shows `openblas@0.3.18`, `intel-mkl@2020.4.304`, `fftw@3.3.9`

meaning, repeated providers for blas, lapack (openblas / intel-mkl) and fftw-api (fftw, intel-mkl).

I can't find a Spack version where this does *not* happen right now.

[2021-10-21 11:23] alalazo commented on #26866
The bug is confirmed:

<details>

<summary> spack solve sirius ^intel-mkl </summary>

[code]

</details>

[2021-10-21 12:31] alalazo commented on #26866
In the solve showing the bug `intel-mkl` is in the DAG (without triggering conflicts), but is not providing any virtual package:
[code]

[2021-10-21 12:39] alalazo commented on #26866
The condition for `intel-mkl` to be a possible provider are met and in fact:
[code]

[2021-10-21 12:40] haampie commented on #26866
I'm also confused about `intel-mkl` being a provider for `mkl` by the way in packages.yaml... may be unrelated, but... what does that even mean? I hope virtuals are not providing virtuals :p

edit: didn't read you second comment before posting.

[2021-10-21 12:44] alalazo commented on #26866
I think that is to distinguish the provider for other part of the MKL library, like `pardiso` etc. ?

[2021-10-21 12:57] alalazo commented on #26866
This
[code]
seem to solve this issue. I am checking right now if it causes regressions. Note that by default it tries to use an old `intel-mkl` to bring in `fftw`.

[2021-10-21 13:05] haampie commented on #26866
Cool.

Yeah, I can live with that! Pretty sure than soon :tm: someone will complain about it, but oh.

[2021-10-21 13:27] alalazo commented on #26866
I'll tag as "workaround" given the diff above, but still trying to check why this happens in the first place. I think one of the causes is this pattern:
[code]
because `^intel-mkl` is true by default given the root spec, regardless of the virtuals that might or might not be provided by `intel-mkl` in the DAG. Currently we don't have a way to say "sirius depends on X with ... if X provides any virt

[2021-10-21 13:28] alalazo commented on #26866
Pinging @tgamblin @becker33 as they might also be interested in the issue.

[2021-10-21 13:28] haampie commented on #26866
Hm, but that pattern is a workaround in the first place... if I use conflicts instead, spack will default to using non-preferred providers like amdblis, because for those it doesn't have to change defaults like +openmp.

In fact cp2k is an example where they *don't* want to have openmp flag propagation to amdblis, because apparently it's broken. So they used to specify `conflicts('^openblas thread

[2021-10-21 13:33] alalazo commented on #26866
That pattern makes sense with the current semantics, so that's fine. Currently (modulo bugs like this one) if a package provides some virtual, it is also the provider of all the other possible virtuals provided by the same spec that may be used in the DAG.

That won't be true anymore with #15569 where the intent is to e.g. cherry-pick using lapack and blas from `intel-mkl` and `fftw-api` from `fft

[2021-10-21 13:37] haampie commented on #26866
Yeah, actually this ties in with that point raised above, where spack concretizes to fftw and old intel-mkl, because fftw is preferred but intel-mkl is required, and old intel-mkl does not provide fftw-api.

The *user intent* with ^intel-mkl is to say: use intel-mkl for blas / lapack / fftw-api. But that's not what is technically expressed, what is expressed is: a dependency on intel-mkl is requir

[2021-10-21 13:40] haampie commented on #26866
@alalazo if it helps, try and remove that depends_on statement for intel-mkl in sirius, and note what happens: intel-mkl becomes a provider of fftw-api as dependency of spfft, but sirius gets openblas and fftw for its virtuals... Does that help with debugging?

[2021-10-21 13:46] haampie commented on #26866
I'm afraid my brain is not advanced enough to follow `concretize.lp` :brain:

[2021-10-21 13:51] alalazo commented on #26866
So these are the providers according to `clingo` if  I remove the `depends_on` for `intel-mkl`:
[code]
I think `openblas` is there because of the self-fulfilling `depends_on` mentioned above:
[code]
For `clingo`, without the rule in the diff above, this directive is a choice i.e. "when +openmp you can add openblas with threads=openmp" as opposed to:
[code]
which imposes the dependency.

[2021-10-21 14:05] alalazo commented on #26866
So, turns out writing a test is what takes most time :laughing:

[2021-10-21 15:24] iarspider opened #26872 "Installation issue: py-zipp with py-setuptools-scm@6.3.2"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.16.3-4967-3720d06e26
* **Python:** 3.10.0
* **Platform:** linux-debian11-skylake_avx512
* **Concretizer:** clingo

### Additional information

@adamjstewart

Logs: https://gist.github.com/8ea20ef00793767a46e48ed6d4b320cf

Adding an explicit build dependency on `py-packaging` to `py-zipp` allows the installatio

[2021-10-21 15:50] MarDiehl commented on #26836
I can reproduce the issue on another computer, also running Arch linux.

The issue is discussed on SO: https://stackoverflow.com/questions/69404834, apparently the Intel C++ compiler is not fully compatible with GCC 11.x.

The Intel community board has also some information: https://community.intel.com/t5/Intel-oneAPI-Data-Parallel-C/Compilation-issues-with-ICPC-2021-4-and-C-14/m-p/1319043

[2021-10-21 18:40] srekolam commented on #26861
I just checked with the internal team on this ticket - from log file it shows that the compilation failed because the header file linux/cyclades.h is missing.  It looks like a newer version of the linux kernel headers has removed the cyclades support.  Here the LLVM commit that fixes the issue: https://github.com/llvm/llvm-project/commit/68d5235cb58f988c71b403334cd9482d663841ab
you could try this

[2021-10-21 18:46] carns commented on #23228
This was addressed in https://github.com/spack/spack/pull/23932

[2021-10-21 18:46] #23228 closed, assigned to nobody

[2021-10-21 19:02] adamjstewart commented on #26872
Hmm, I'm having trouble reproducing this issue locally. It also isn't clear why this dep would be needed for all packages that depend on setuptools-scm. I don't see it mentioned anywhere in `setup_requires` or `install_requires`.

[2021-10-21 20:06] iarspider commented on #26872
@adamjstewart try starting from `python:3` docker image. I have also reproduced the error on Ubuntu 20.04 (physical) machine and on SLC7 one.

[2021-10-21 20:24] iarspider commented on #26872
As to why is it needed - no idea. `packaging` is not listed as a requirement for zipp (or anyio, or matplotlib - these are the packages that need this additional dependency).

[2021-10-21 20:28] adamjstewart commented on #26872
@alalazo this might be related to the CI failures we were seeing.

[2021-10-21 20:29] lnussbaum opened #26884 "`spack buildcache create` needs `file` installed"
### Steps to reproduce

Without the `file` package installed, I get:
[code]

Installed it fixes it.
That's on the develop branch.

### Error message

_No response_

### Information on your system

[code]

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have searched the issues of this repo and believe this is not a duplicate

[2021-10-21 20:40] iarspider commented on #26872
Correction: not matplotlib, but python-dateutil

[2021-10-21 21:36] Char-Aznable opened #26887 "curl: wrong setup for dependency ldap and rtmp"
### Steps to reproduce the issue

spack install curl +gssapi+ldap+libidn2+libssh+libssh2

### Information on your system

* **Spack:** 0.16.2-4004-a68701c636
* **Python:** 3.6.8
* **Platform:** linux-centos7-westmere
* **Concretizer:** original

### Additional information

The build failed with:
[code]
Similarly, if build with `+rtmp`, it fails with:
[code]
@adamjstewart Since I saw https://github

[2021-10-22 00:47] adamjstewart commented on #26887
It looks like those variants were added by @aahmed-se in #25166, I don't know much about them. You can try adding a dep on `openldap`, but I don't yet see a package for `librtmp`.

[2021-10-22 04:16] skeelyamd commented on #25931
The error:

/localscratch/tmp/spack/hpcoft30/build/spack-stage-hsa-rocr-dev-4.3.1-tkzc7s3hg5gdbpo3j5f3w6owzpoznnyp/spack-src/src/image/blit_kernel.cpp:277:9:
             error: 'void* memset(void*, int, size_t)' offset [0, 143] is out of the bounds [0, 0] [-Werror=array-bounds]

is a defect in GCC.  GCC observes that no known memory allocation function is called to populate this pointer so assume

[2021-10-22 09:12] dmentock opened #26891 "Installation issue: diffutils%intel"
### Steps to reproduce

[code]

### Error message

[code]

### Information on your system

* **Spack:** 0.16.3-4943-1983d6d9d0
* **Python:** 3.8.10
* **Platform:** linux-ubuntu20.04-sandybridge
* **Concretizer:** clingo

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have searched the issues of this repo and believe this is

[2021-10-22 12:50] jakub-homola opened #26898 "HIP package only works on AMD platform, not on NVIDIA"
The HIP package seems to only support AMD platform, on NVIDIA platform the HIP tools don't work correctly (because they are set up for AMD).

Before installing the hip package through spack, I made sure the `HIP_PLATFORM` environment variable was set to `nvidia`, but it did not have any effect on the installation.

The `module load hip` command overwrites the `HIP_PLATFORM` environment variable to

[2021-10-22 13:03] PhilipFackler commented on #25571
yes, thank you.

[2021-10-22 13:03] #25571 closed, assigned to nobody

[2021-10-22 19:58] rhenwood-arm opened #26908 "gpg-agent hangs with multiple active spack installs on the same machine using the same gpg-keys"
### Steps to reproduce

I *think* this is a spack issue...

1. Install a gitlab runner as a shell executor.
2. Send jobs to the runner that install spack and build some packages. Also, inject gpg credentials into the newly installed spack so the runner can sign binary artifacts and push them to a S3 bucket when the build is complete.
3. Over time, multiple gpg-agent processes accumulate in the pro

[2021-10-24 17:46] #26582 closed, assigned to sethrj

[2021-10-25 01:41] Sinan81 commented on #26803
As a point of reference, no gui errors in qgis@3.10.10 built with spack@0.16.3. The raster menu looks like the attached image.
![raster_menu](https://user-images.githubusercontent.com/2924561/138622157-5ffc6e96-2fbc-4aa5-848c-e9704bcc7026.png)

[2021-10-25 07:11] #26866 closed, assigned to alalazo

[2021-10-25 07:16] haampie commented on #26866
Thanks for the quick fix!

[2021-10-25 07:47] fangohr commented on #22606
This issue appears to persist (and the above looks like it is not scheduled to be solved for 0.16.4, or any upcoming release?)

I have put together this little repository (https://github.com/fangohr/tmp-spack-clingo-issue) which uses github workflows and Docker containers to illustrate the problem (on a Debian image). In essence:

 - installing `zlib` works fine with spack 0.16.3.
 - installing `z

[2021-10-25 07:53] alalazo commented on #22606
@fangohr From the failed build attempt you linked it seems bootstrapping from binaries failed and Spack is falling back to bootstrap from sources.

[2021-10-25 08:11] alalazo commented on #22606
I think you may be missing some [system requirements](https://spack.readthedocs.io/en/latest/getting_started.html#id7) and therefore you are not able to bootstrap from binaries. For instance, if I reproduced your environment correctly:
[code]
you don't have `file` installed, and that is required to use binary packages. Without binary packages you need `libpython3-dev` etc. because you are building

[2021-10-25 10:36] punkpony opened #26925 "Any package gives `Installation issue: ==> Error: Spec version is not concrete: mkfontdir `"
### Steps to reproduce the issue

install of spack is as per documentation:

[code]

Then I run installation of any software (tried gromacs and grace)
[code]

I get the error:
[code]

I guess something is not right with the original instal of spack? But not sure how to check it.
Thank you!
V

### Information on your system

[code]

### Additional information

I don't seem to have build logs, m.b.

[2021-10-25 11:17] haampie commented on #26925
can you provide the stacktrace with `spack -d <cmd>`

[2021-10-25 11:22] punkpony commented on #26925
- [check spec ]

[code]

[2021-10-25 11:27] punkpony commented on #26925
Thank you @haampie

Sorry got confused  with packages:

[code]

[2021-10-25 11:32] haampie commented on #26925
right, so it seems there is something misconfigured in packages.yaml

[2021-10-25 11:34] punkpony commented on #26925
What can I do about it?

[2021-10-25 11:39] punkpony commented on #26925
I am not sure I am happy that there are different paths here:
[code]

The cluster has an older spack version, which _may_ have a problem. It actually did give me the same error, hence my reinstall for the latest version of spack. I wonder if `/etc/spack` links there?

So yep, the /etc/spack is from Nov 2020, i.e. olderr spack install. I think I need to get rid of it somewhere in my paths

[2021-10-25 11:58] haampie commented on #26925
Oof... that's spack's worst nightmare. I have an open PR to fix that: #26735, please upvote it so we can get it in before 0.17.

For now please just cherry-pick that PR and set SPACK_SYSTEM_CONFIG_PATH=/somewhere/else, for instance in your bash_profile or so.

Edit: fixed the PR number, there are many, 26735 is the correct one.

[2021-10-25 12:09] punkpony commented on #26925
So, yep, literally this, I have compilers.yaml and packages.yaml being picked up from the old install.

My root is correct:
[code]
and I cannot see the path to `/etc/spack` lingering anywhere ...

Will do the `SPACK_SYSTEM_CONFIG_PATH` thank you!

[2021-10-25 12:44] fangohr commented on #22606
@alalazo - thank you for the quick and useful feedback. As you said: one of the dependencies was missing  (the `file` command). Having added that to the image, all works as it should.

Thanks for the link to the Docker images. What would be interesting is to see the source of the Dockerfiles that are used to build these containers: that's what I got wrong. (I ran this in a container to be sure I g

[2021-10-25 12:49] haampie commented on #22606
There's also `spack install spack` now :)

[2021-10-25 13:46] dunatotatos opened #26929 "Installation issue: htslib "liblzma development files not found""
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.16.1-5063-de8e795
* **Python:** 3.5.2
* **Platform:** linux-centos7-broadwell
* **Concretizer:** clingo

### Additional information

[spack-build-01-autoreconf-out.txt](https://github.com/spack/spack/files/7410476/spack-build-01-autoreconf-out.txt)
[spack-build-02-configure-out.txt](https://github.com/spack/sp

[2021-10-25 14:01] dunatotatos commented on #26929
I don't fully understand why the header file is found, but the symbol is not. It is definitely available in the library:
[code]

[2021-10-25 14:41] dunatotatos commented on #26929
Could be my bad. There are multiple installation of the same xz@5.2.5 with the same specifications, but a different spack version. One of the installation does not have this symbol available. Could htslib configure step somehow try to use this other incomplete version?
I'm re-building the whole software stack from scratch, and I'll see if it gets better.

[2021-10-25 15:10] #17370 closed, assigned to nobody

[2021-10-25 16:38] alalazo commented on #22606
@fangohr You can find the Dockerfiles under `share/spack`. For instance [this](https://github.com/spack/spack/blob/develop/share/spack/docker/ubuntu-1804.dockerfile) is the Dockerfile used for Ubuntu 18.04

[2021-10-25 17:34] dunatotatos commented on #26929
I just ran the same command on a fresh new installation of spack, with the same symptom:
[code]

Symbol is there, though:
[code]

[2021-10-25 19:30] sethrj opened #26938 "Installation issue: jdk can't download directly"
### Steps to reproduce the issue

[code]

The gzip file is HTML that reads:
[code]

### Information on your system

* **Spack:** 0.16.3-4967-3720d06e26
* **Python:** 3.8.8
* **Platform:** darwin-bigsur-skylake
* **Concretizer:** clingo

### Additional information

not applicable

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X]

[2021-10-25 19:55] fangohr commented on #22606
@alalazo That's really useful - thank you!

[2021-10-25 19:58] dunatotatos commented on #26929
I just noticed that:
[code]
I'm not sure if it's completely expected that the found symbol is on the system library and not in spack-installed xz.

[2021-10-25 21:23] tgamblin commented on #24552
Something is definitely screwy here as it seems like this function depends on how it's called the first time after clearing the cache.

[code]

[code]

On the bright side, `spack list -v` and `spack list` seem to work -- and that's the only place this is currently used.  I don't fully understand the behavior and we should probably fix it, though.

@becker33?

[2021-10-25 21:28] haampie commented on #26929
It's going to be linked with rpath, so your system version will not be picked up at runtime, and Spack's compiler wrapper will prepend -L/path/to/xz/lib even if it's missing in the package:

[code]

For me it builds fine, maybe on centos there is something funky going on with lib vs lib64, is the -L flag correct if you do the above? Or just try what the conftest does like this:

[code]

[2021-10-26 00:54] srekolam commented on #24429
I could see that error when do a spack external find which then add the below inside the  /root/.spack/packages.yaml
python:
    externals:
    - spec: python@3.6.8+bz2+ctypes+dbm+lzma+nis+pyexpat+readline+sqlite3+ssl~tix~tkinter+uuid+zlib
      prefix: /usr
After that if i try to build any package eg- py-pyyaml-5.3.1 etc, it fails . So i am thinking this is not related to this migraphx package bu

[2021-10-26 00:56] srekolam commented on #24429
[py-pyyaml_build_error.txt](https://github.com/spack/spack/files/7414283/py-pyyaml_build_error.txt)

[2021-10-26 09:21] dunatotatos commented on #26929
Thanks for your help! Investingating in your direction helped me realize that the problem was on my side.

[code]
[code]

The env seems very messed up, with a mix of the currently deployed installation of spack (/software/linux-centos7-x86_64) and of the new one used for testing (/software/spack/linux-centos7-x86_64), as well as some stuff not related to spack at all (/software/lib64 is a remainde

[2021-10-26 09:21] #26929 closed, assigned to nobody

[2021-10-26 19:08] rlangefe opened #26949 "Cannot create spack environment: [Errno 39] Directory not empty: '.spack-env'"
### Steps to reproduce

I ran the following command with a fresh Spack installation to attempt to create an environment directory. This is a multi-node system and works on the head node, but I get the error message that's included here when I tried on another node. I should also note that this error occurs both on NFS mounted paths and on non-NFS mounted paths. It also happens when the directory `

[2021-10-26 19:34] tgamblin commented on #23596
@sleak-lbl why is this not the `site` configuration scope?  You say you use a single spack instance. See https://spack.readthedocs.io/en/latest/configuration.html#configuration-scopes.  You can put things in `$spack_prefix/etc/spack`.

[2021-10-26 20:00] sleak-lbl commented on #23596
our one site has multiple systems with different compilers, hardware etc, so the one spack instance has a different `packages.yaml` and `compiliers.yaml` for each system. PR #26735 should solve this neatly (and is in fact a more thorough implementation of exactly the local patch that I'm currently using)

[2021-10-26 20:21] shahzebsiddiqui opened #26950 "kokkos build failure on zen3 target"
### Steps to reproduce

I am doing a `spack install` on Perlmutter using e4s-21.08 branch

We need to add an entry for zen3 see https://github.com/spack/spack/blob/e4s-21.08/var/spack/repos/builtin/packages/kokkos/package.py#L85-L136 codebase.

### Error message

[code]

### Information on your system

[code]

This is a copy of my spack.yaml it is still in development.
[code]

### General informat

[2021-10-26 20:38] arwild01 commented on #24378
According to the table here... https://www.tensorflow.org/install/source#gpu

tenorflow 2.5.0 and now 2.6.0 should only be build with gcc@7.3.1

[2021-10-26 21:52] michaelkarlcoleman commented on #23359
As follow-up, I ran into what appears to be the same bug today.  (I did a pull from 'develop' today.)

For me, the reproducer is `spack install cairo` (with LANG=C).  It appears that the bug can be avoided with `LANG=en_US.UTF-8 spack install cairo`, but yuck.

[2021-10-26 22:09] adamjstewart commented on #23359
Can you see if #23379 solves your issue?

[2021-10-27 01:08] #19800 closed, assigned to nobody

[2021-10-27 01:08] #23596 closed, assigned to nobody

[2021-10-27 01:08] #25547 closed, assigned to nobody

[2021-10-27 01:08] #26925 closed, assigned to nobody

[2021-10-27 10:26] samcom12 commented on #26705
same for me on `CentOS `with `Intel `and `intel-neapi` compilers

[2021-10-27 11:12] punkpony commented on #26925
Hi, @haampie & @tgamblin,  sorry, did not have time to check if setting `SPACK_SYSTEM_CONFIG_PATH` will solve this

 I have done:
`export SPACK_SYSTEM_CONFIG_PATH=$SPACK_ROOT/etc/spack/defaults`
`export SPACK_DISABLE_LOCAL_CONFIG=true`

unfortunately, I am still getting the following:

`$ spack -d install grace`
_skipping some rows that are fine
[code]

i.e. it is **STILL** looking into the origin

[2021-10-27 11:13] manuelakuhn opened #26977 "Wrong source url for older versions of R-packages"
### Steps to reproduce

When there is a newer version of an R-package published on cran, fetching the older versions does not work in spack anymore.
e.g. `r-ellipsis`
- newest version in spack is 0.3.1 (before #26965 is merged)
- newest version on cran 0.3.2
- running `spack checksum r-ellipsis@0.3.1` fails with the error message
[code]
but `spack checksum r-ellipsis@0.3.2` works.

Also `spack ins

[2021-10-27 11:39] haampie commented on #26925
I guess you are on an older commit than ae6e83b1d5ef2e7049fbc01a7f308b4b5bdf4c4b?

This issue got closed automatically when #26735 was merged

[2021-10-27 12:21] punkpony commented on #26925
Fair point

oops, fair point... updated, seems good. Thank you!

[code]

yep, did not want to write in the merge.

[2021-10-27 13:04] mahendrapaipuri opened #26980 "Installation issue: ucx with gdrcopy"
### Steps to reproduce the issue

[code]
When I tried to build UCX 1.10.1 with GDRCopy 2.2, I ran into the following error:

[code]

The issues seems to come from incompatibility of `rocm_gdr` with newer versions of GDRCopy (> 2.0, I presume) which has been discussed [here](https://github.com/openucx/ucx/issues/4489). I could fix it by adding a new variant `rocm` to UCX package and setting the def

[2021-10-27 13:54] alalazo commented on #26977
@glennpj FYI

[2021-10-27 14:44] wilkersonb commented on #26742
I went back and removed hunspell/qt from my homebrew installation. It caused some issues, but once I attempted the qt-5.15.2 reinstall the fatal errors were still present. I've attached the qt build output again if it provides any additional answers.

[qt-build-out.txt](https://github.com/spack/spack/files/7427062/qt-build-out.txt)
.
[qt-build-env.txt](https://github.com/spack/spack/files/7427063/

[2021-10-27 15:42] alalazo commented on #26950
Wasn't this solved by #26827 ?

[2021-10-27 16:25] alalazo commented on #24552
@tgamblin Looking into this. It doesn't seem to me clearing the cache is required to reproduce:
[code]

[2021-10-27 16:33] hppritcha commented on #26980
@mahendrapaipuri would you mind opening a pull request with your modifications?

[2021-10-27 16:47] alalazo commented on #24552
Explanation is kind of simple:
https://github.com/spack/spack/blob/acb8ab338d3df901ec430daa073eff7c1a845b9b/lib/spack/spack/repo.py#L547-L555

We cache the result of the first call and reuse it in the second call. Bug introduced in #15702 since before that PR there was no argument to `all_package_names`.

[2021-10-27 16:55] alalazo commented on #24552
I'll submit a PR with a bugfix asap.

[2021-10-27 17:21] mahendrapaipuri commented on #26980
@hppritcha Sure, will do shortly!!

[2021-10-27 18:01] sethrj commented on #26950
@shahzebsiddiqui This should have been fixed by  #25910. The spack version you're using is very old.

[2021-10-27 19:47] steo85it opened #26993 "Installation issue: shtools"
### Steps to reproduce the issue

[code]

### Information on your system

[code]

### Additional information

[spack-build-out.txt](https://github.com/spack/spack/files/7428897/spack-build-out.txt)
[spack-build-env.txt](https://github.com/spack/spack/files/7428898/spack-build-env.txt)

The problem seems to be related to libtool, even though it's installed correctly as dependency
[code]
I also trie

[2021-10-27 20:07] eschnett commented on #26993
I'll have a look later. In the mean time, try adding a line
[code]
and see whether this helps.

[2021-10-27 21:20] shahzebsiddiqui opened #26995 "raja: installation issue with nvhpc compiler on perlmutter (cray-sles15-zen3)"
### Steps to reproduce the issue

@davidbeckingsale

I am trying to install raja with nvhpc compiler and it failed
[code]

### Information on your system

[code]

### Additional information

[spack-build-out.txt](https://github.com/spack/spack/files/7429334/spack-build-out.txt)

Shown below is my spack configuration for perlmutter.
[code]

### General information

- [X] I have run `spack debug rep

[2021-10-27 22:55] shahzebsiddiqui opened #26997 "cray-libsci support for NVHPC"
### Summary

@haampie @becker33

The cray-libsci directory now provides a `NVIDIA` subdirectory which i presume is the canonical name to refer nvhpc builds to use cray-libsci.

See content of root directory for libsci 21.08.1.2
[code]

According to this code we dont have a mapping  for nvhpc https://github.com/spack/spack/blob/890095e876a85d91ae7359f9120082c4e2f6a249/var/spack/repos/builtin/packag

[2021-10-27 22:56] KIwabuchi commented on #26770
@tldahlgren Thank you for reply.

Could you tell me how to build and run a test program without using  `self.run_test()`?

Yes, I understood the feature. However, my issue is that our package does not use a compiler for build and install because it is a header-only library.

Is it possible to specify a compiler as a dependency for smoke tests?
For example, our package file contains the following c

[2021-10-27 23:14] tylerjereddy opened #26998 "Installation issue: some Python packages on Centos7/RHEL7"
Sample reproducer for one of them in centos7 docker container: `spack install py-python-dateutil %gcc@9.3.1 ^py-setuptools@57.4.0` produces output like `pkg_resources.DistributionNotFound: The 'packaging>=20.0' distribution was not found and is required by the application`.

Sample patch that helped in my buildout scenario--not sure if the team would normally add conditional guards for certain ope

[2021-10-27 23:18] shahzebsiddiqui commented on #26950
okay i will try to cherry pick this PR and see if it fix the issue. I am building e4s/21.08 so this is based on spack branch https://github.com/spack/spack/tree/e4s-21.08

[2021-10-27 23:20] shahzebsiddiqui commented on #26950
yes i had to use this PR to get started on perlmutter. This issue was specific to kokkos when trying to install on zen3

[2021-10-27 23:23] tldahlgren commented on #26770
Sure.  Ideally you'd have a test program in your repository so it can evolve with your headers but if that's not the case, you have two choices: 1) add one or more custom (test) files or 2) in-line writing a test file.  In both cases, you can compile and run the files.

For 1), there's some documentation at https://spack.readthedocs.io/en/latest/packaging_guide.html#adding-custom-files though the

[2021-10-28 00:39] bgeltz commented on #26003
I just added some additional fixes around building our Fortran codes to the PR @cmcantalupo started.  It's all here:
https://github.com/geopm/geopm/pull/1875
@wspear any chance you'd be willing to try the build again?

I'm also working through it on my end (SLES 15.2, SPACK 0.16.3-5058-890095e876), but I haven't been able to get to the spot where you're seeing the failure yet.

[2021-10-28 02:44] steo85it commented on #26993
Thanks for the suggestion, I tried and unfortunately I get the same error (even after a `spack clean`).

[2021-10-28 03:11] eschnett commented on #26993
Actually, the correct line to declare libtool is
[code]
Can you try this as well, just to make sure?

Another possible quick fix could be to add the newest version
[code]

[2021-10-28 03:51] steo85it commented on #26993
I tried both (one by one) and keep getting the same error...

[2021-10-28 04:31] michaelkarlcoleman opened #27000 "Installation issue: hdf5 (h5cc -showconfig failure?)"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.16.3-5037-e0dd364
* **Python:** 3.6.8
* **Platform:** linux-rhel7-broadwell
* **Concretizer:** clingo

### Additional information

The build didn't fail or give errors.  Rather, the output of `h5cc -showconfig` seems amiss.  Specifically, it looks like
[code]
whereas other versions I've looked at, both via 'co

[2021-10-28 12:42] byrnHDF commented on #27000
The current version of hdf5 in spack is based now on cmake and the h5cc is based on pkgconfig. The showconfig just simply dumps the libhdf5.settings file. However, using CMake you can get the properties of the library and tools from the hdf5-config.cmake file and use those properties in your code.

[2021-10-28 13:11] haampie commented on #21179
This was fixed by #24350

[2021-10-28 13:11] #21179 closed, assigned to RikkiButler20

[2021-10-28 14:08] eschnett commented on #26993
I am able to reproduce the problem.

[2021-10-28 14:26] eschnett commented on #26993
I don't understand the error you saw. However, the package expected a different libtool, not the one in Spack. (There are two libtools around that do similar things, but which expect different options.) I will open a pull request to disable libtool which isn't necessary.

[2021-10-28 14:33] mathstuf opened #27015 "Support capping macOS deployment target versions"
### Summary

When building on macOS, the target deployment version defaults to the current version being run. Like with `arch` flags, it would be useful to be able to give a maximum deployment target through a simple flag on macOS. `cflags` and such can be used, but it needs passed to every language, so Fortran in the stack would require `fflags` as well. Additionally, some build systems may have

[2021-10-28 15:27] steo85it commented on #26993
The patched version worked for me, I could successfully `spack install shtools@4.9.1 %gcc@11.1.0` (when imposing ^openmpi@4.0.5 , but that's a different story).
Thanks a lot @eschnett for your help!

[2021-10-28 15:34] mathstuf opened #27017 "Installation issue: clingo-bootstrap-spack"
### Steps to reproduce the issue

Compile on macOS arm64 with `DEVELOPER_DIR=/Applications/Xcode-x.y.app/Contents/Developer` (modify as needed). `clingo-bootstrap-spack` fails with:

[code]

There is no `/Applications/Xcode.app` on the machine because there are many such versions installed, so they all get renamed to not conflict. Our x86_64 machines are set up the same way and do not fail.

Build

[2021-10-28 16:19] michaelkarlcoleman commented on #27000
Thank you for the quick response.  So, paraphrasing, I think you're saying that `h5cc` presents two different interfaces, depending on which build system is used to build `hdf5`, and that one lacks the `-showconfig` flag.  In addition, the `autoconfig` template I referenced therefore simply won't work with the current Spack `hdf5` package.  This is a bit unfortunate, but at the same time, it's unc

[2021-10-28 16:47] mathstuf commented on #27017
It seems that the default from-system configuration for the `apple-libuuid` package in `etc/spack/defaults/darwin/packages.yaml` might be bringing in this path? I don't see `/Applications/Xcode.app` anywhere else in the source tree. I see `Xcode.app` in the compiler re-wrapping injection logic, but that shouldn't be anchored at `/Applications`.

[2021-10-28 17:25] lrknox commented on #27000
The output of h5cc -showconfig is identical to the contents of lib/libhdf5.settings, which is available in both autotools and cmake builds.  Could you substitute “cat libhdf5.settings” for “h5cc -showconfig”?

From: Michael Coleman ***@***.***>
Sent: Thursday, October 28, 2021 11:20 AM
To: spack/spack ***@***.***>
Cc: Larry Knox ***@***.***>; Mention ***@***.***>
Subject: Re: [spack/spack] Install

[2021-10-28 18:16] mathstuf commented on #27017
I just hacked together a fix; no idea if it's suitable.

[2021-10-28 18:33] byrnHDF commented on #27000
Unfortunately, h5cc should be just a convenience utility to compile a quick program and show the build features. It was not intended to be used in other ways. To properly build upon hdf5, the right tools should be used; pkgconfig for some people, cmake for some, ninja for others, etc. The switch to CMake provides better independence for platform build systems and allows CMake to deal with the nati

[2021-10-28 18:40] tldahlgren opened #27024 "Environment activation/deactivation issues with [t]csh"
Haven't looked at the code yet to see what is going on but I'm seeing the following behavior:

[code]

And environment variables still have paths to the view.

_Originally posted by @tldahlgren in https://github.com/spack/spack/issues/25409#issuecomment-953132990_

[2021-10-28 19:24] haampie commented on #27024
@scheibelp can we turn your comment into a pull request? I'm not super familiar with csh and its interpolation behavior, so I didn't do it

[2021-10-28 19:28] tldahlgren commented on #27024
@haampie I created this via GitHub but could've picked a better comment.  Do you mean turn his comment into an issue?

[2021-10-28 19:29] tldahlgren opened #27027 "Environment activation/deactivation issue with [t]csh"
As for your initial issue in https://github.com/spack/spack/pull/25409#issuecomment-953132990:

[code]

There seems to be a problem with our generated csh commands where we don't enclose them in ``` `` ``` and they therefore are evaluated, for example:

[code]

Appears in `spack env activate --csh <name-of-env>`, but this fails in my env when `$SPACK_OLD_PROMPT` isn't defined because it tries to e

[2021-10-28 19:29] tldahlgren commented on #27024
Duplicates #27027

[2021-10-28 19:29] #27024 closed, assigned to nobody

[2021-10-28 19:30] tldahlgren commented on #27027
@haampie Is this what you meant?  It's definitely a much better comment for the issue. :grin:

[2021-10-28 19:45] adamjstewart commented on #26998
Hmm, this doesn't make any sense, `py-pytest-runner` doesn't import `packaging` anywhere. `setuptools` does, but `setuptools` bundles its own `packaging` to prevent a circular dependency. It seems like your `setuptools` installation is broken. When you load it, is `PYTHONPATH` set correctly?

[2021-10-28 19:50] haampie commented on #27027
Yes! Btw, we got a PR in for zsh (#26120), I created a PR for sh (#27012), Peter had this comment for csh, and then there still is this one https://github.com/spack/spack/issues/26830 about fish... Still in time for 0.17? :laughing:

[2021-10-28 19:59] tylerjereddy commented on #26998
@adamjstewart I have the container open now, and I was just reproducing it for a user reporting the same issue, so let me know if there are other things you want me to provide you with:

(in centos7 container that has the issue)

- `spack load py-setuptools`
- `echo $PYTHONPATH`
- `/github_projects/spack/opt/spack/linux-centos7-skylake_avx512/gcc-9.3.1/py-setuptools-57.4.0-yhopvo2hcn44iz3cj5k3hxeq

[2021-10-28 20:01] tldahlgren commented on #27027
I've never used the fish shell.

We're trying to get `0.17` out this week.

[2021-10-28 20:02] adamjstewart commented on #26998
Is that the correct path? Like does the directory have `pkg_resources` in it? Does the error message specify which file is trying to import `packaging`?

[2021-10-28 20:15] tylerjereddy commented on #26998
Seems like the correct path--this has stuff in it: `/github_projects/spack/opt/spack/linux-centos7-skylake_avx512/gcc-9.3.1/py-setuptools-57.4.0-yhopvo2hcn44iz3cj5k3hxeqvceynhhr/lib/python3.8/site-packages/pkg_resources/_vendor/packaging/`

I'll place the full traceback below the fold for `spack install py-python-dateutil ^py-setuptools@57.4.0`:

<details>

[code]

</details>

I also have access t

[2021-10-28 20:32] adamjstewart commented on #26998
Is this an external Python or a Spack-installed Python? When you run this Python, which of the following commands work (after running `spack load py-setuptools`):
[code]

[2021-10-28 20:36] tylerjereddy commented on #26998
[code]

[2021-10-28 20:42] adamjstewart commented on #26998
Hmm, I would have to dig deeper. I've been planning to switch our build system from `python setup.py install` to `pip install` for a while now. I'm guessing that this will solve the issue.

[2021-10-28 20:52] tylerjereddy commented on #26998
Ah yeah, PEP517/518 (`pyproject.toml`) compliant builds are probably the way to go, although many projects are taking quite some time to get there.

I guess we will vendor some patches internally or something for now.

[2021-10-28 22:47] glennpj commented on #26977
I am trying to catch up on things but will take a look.

[2021-10-28 23:18] michaelkarlcoleman commented on #27000
Thanks, everyone.  I think I have what I need to proceed (probably just wedging it in one way or another).

@lrknox Yes, we could look at that `.settings` file, though there is a bit more drama involved in that one has to find it, as opposed to `h5cc -showconfig`, which is easy if it's already in `$PATH`.

More importantly, though, there seems to be a noticeable amount of code out there that think

[2021-10-29 01:10] #26830 closed, assigned to nobody

[2021-10-29 01:51] Hong-Xiang opened #27049 "Failed to install package in NixOS"
### Steps to reproduce

Following instructions of install spack, but failed to install any package. Spack failed on build initial `perl` package,
[code]

Then use nix shell to provide python and other utilities
[code]
which just provide python and other libs in current `$PATH` and related environment variables.

### Error message

[code]

### Information on your system

* **Spack:** 0.16.3-5058-89

[2021-10-29 04:04] gsiawGH opened #27050 "does spack work on apple M1 mac mini yet?"
### Steps to reproduce

git clone https://github.com/spack/spack ~/spack
cd ~/spack
git checkout releases/v0.16
. share/spack/setup-env.sh

this is following the steps in https://spack-tutorial.readthedocs.io/en/latest/tutorial_basics.html#

### Error message

sysctl: unknown oid 'machdep.cpu.leaf7_features'
sysctl: unknown oid 'machdep.cpu.vendor'
sysctl: unknown oid 'machdep.cpu.model'
sysctl: u

[2021-10-29 05:03] gsiawGH commented on #27050
this is very similar to https://github.com/spack/spack/issues/22088
but not sure how that was resolved.

[2021-10-29 06:50] alalazo commented on #27050
@gsiawGH Can you check the latest `develop` branch? It should work there.

[2021-10-29 06:56] Sinan81 commented on #26803
I think the errors are due to using latest versions of Python. I did two things which seemed to fix the issue.
1. compiled with python@3.8.6
2. fix cmake issue in regards to QSci Sip dir:
[code]
Soon, I'll be submitting a PR (or you could go for it if you feel like it!)

[2021-10-29 08:10] #25314 closed, assigned to alalazo

[2021-10-29 10:01] stephenmsachs opened #27053 "`spack unload` leaves residual environment variables"
### Steps to reproduce

@tgamblin as discussed yesterday:

If you use `spack load` and `spack unload` with packages that set their environment by sourcing a file, e.g. basically all Intel packages, there will be residual environment variables after `unload`.

This happens because `spack unload` actually runs `uenv.environment_modifications_for_spec`, i.e. the same as `spack load` and reverses the

[2021-10-29 12:24] byrnHDF commented on #27000
Likely it would be an easy add, change requests welcome.

CMake complexity vs aggravation probably depends on if your working with it always on one platform vs many platforms. And the latest version is generations ahead of what could be done 12 years ago.

[2021-10-29 12:39] stephenmsachs opened #27055 "Unclear which provider will be used, when preferences are set in `packages.yaml` at the package level"
### Steps to reproduce

I have found an issue with the concretizer not picking up the correct providers when described in `packages.yaml`. If providers are aded to the command line, e.g. `^intel-mpi ^intel-mkl`, all works as expected. Here is one example of intel-mpi not being picked up.

Tagging @tgamblin as discussed yesterday.

The default MPI provider after pulling the `develop` branch is Open

[2021-10-29 12:51] haampie commented on #27055
Is this syntax supposed to work?

[code]

It looks like an ill-defined minimization problem :thinking: if there are two packages depending on mpi, with different preferences, what determines optimality?

[2021-10-29 14:29] carns opened #27063 "default autoreconf routine uses system libtool instead of Spack-provided libtool"
### Steps to reproduce

There are probably other ways to reproduce this.  One way is to use Spack on a system on which the stock version of libtool is 2.4.2 (like Centos 7) and try to `spack install` an autoconf-based package that does not define it's own explicit `autoreconf` step in package.py.

The following output shows an example of such a scenario on the Bebop system at ANL:

[code]
The `usb

[2021-10-29 14:48] carns commented on #26830
Thank you @haampie !  I confirmed that #27028 fixed the problem.

[2021-10-29 15:50] yantosca opened #27067 "Installation issue: emacs+X@27.2 build halts during re2c installation as part of clingo-bootstrap-spack"
### Steps to reproduce the issue

[code]

### Error
The error seems to occur when building the re2c package (as part of clingo-bootstrap-spack):
[code]

### Information on your system

* **Spack:** 0.16.3-5107-962d06441e
* **Python:** 3.6.8
* **Platform:** linux-centos7-haswell
* **Concretizer:** clingo

### Additional information

This seems similar but not quite identical to #26938.
[spack-build

[2021-10-29 15:52] yantosca commented on #27067
also `spack maintainers re2c` and `spack maintainers emacs` return no values.

[2021-10-29 16:06] michaelkarlcoleman commented on #27000
Re "complexity vs aggravation", that would make a great slogan!  :-)

It's a bit off-topic, but here's a recent example of my dealings with CMake.  It's quite a snarl, so impossible to be certain, but it really looks like CMake is the culprit.  I regularly install scientific software, which is often challenging and ugly, but I think this is the only install I ever had to just punt on.

https://git

[2021-10-29 16:19] glennpj commented on #26977
This looks to be a problem with `spack checksum` and not the `r` and `r-` packages.

I disabled mirrors and cleared the cached archive. Fetching works fine.
[code]
Checking versions works fine.
[code]

However, looking at `spack checksum` reveals an oddity.
[code]
All of the versions listed in the `package.py` file are using the `url` attribute but all of the versions _not_ listed in the `package.

[2021-10-29 16:44] #17543 closed, assigned to nobody

[2021-10-29 16:44] #23259 closed, assigned to nobody

[2021-10-29 17:36] scheibelp commented on #27055
Yes: for now the specifications in `packages.yaml` are not hard constraints, they are preferences that can be ignored.

I think @tgamblin has suggested that these be treated the same as command-line constraints (e.g. `foo ^openmpi`). Even in that case, it could still make sense to allow different packages to specify different providers for a virtual (as long as they are not concretized together).

[2021-10-29 18:07] eugeneswalker opened #27075 "py-pylint@2.3.1: ubuntu 18.04: no module named pip"
### Steps to reproduce the issue

`py-pylint@2.3.1` build is failing using:
* `spack@develop` (commit 890095e876a85d91ae7359f9120082c4e2f6a249 from `Wed Oct 27 16:26:22 2021 -0400`)
* Ubuntu 18.04, GCC 7.5.0, x86_64
* Python 3.8.12

Concrete spec: [py-pylint-4nn3nb.spec.yaml.txt](https://github.com/spack/spack/files/7444063/py-pylint-4nn3nb.spec.yaml.txt)

Reproduced using Docker container image `

[2021-10-29 18:32] yantosca commented on #27067
Sorry, I thought I had fixed it but the error still persists.

[2021-10-29 18:34] bernhardkaindl commented on #26833
Tested with rev `b8bc0` of today (~/.spack-removal PR level: #27022) on Ubuntu 18.04:
[code]
Result (trimmed with -maxdepth 3, in total 29 MB where created in `~/.spack`):
[code]
@haampie @tgamblin  It can't find an option to move bootstrap to $spack and cache and report look like open issues to be redirected to fix this issue.

[2021-10-29 18:59] adamjstewart commented on #27075
I'm unable to reproduce this on my own Ubuntu 18.04 machine.

I'm pretty sure this is a red herring. We don't use wheel because we aren't building any wheels.

[2021-10-29 19:05] bdunlay opened #27076 "build-env isn't finding easy_install.pth files for python egg packages"
### Steps to reproduce

* Create a package with a build-time dependency on python and py-pyquaternion
* Install the package
* Enter build-env and try to import

[code]

This looks to be the same problem as issue https://github.com/spack/spack/issues/6131, but different in that build-env is active without a view. The package can be imported in the **runtime** view.

For me, the consequence of this

[2021-10-29 20:01] eugeneswalker commented on #27075
From the top of the build log:
[code]

Looks like the real issue is this:
[code]

I'm not having this problem in our Ubuntu 20.04 containers, or in the ppc64le version of our Ubuntu 18.04 container -- do you know what outside of Spack could cause this?

[2021-10-29 21:38] gsiawGH commented on #27050
great, if i use the share/spack/setup-env.sh script from the develop branch, and then checkout the "releases/v0.16" branch, then the installs are working again!

so the work-around is to copy the share/spack/setup-env.sh from the develop branch, after switching to the "releases/v0.16" branch

so that i can create new sessions with the proper setup-env.sh script

[2021-10-29 21:38] glennpj commented on #26977
Just to confirm, I commented out all but the most recent version in the package.py file. This is what `spack checksum` looks like with that.
[code]
So, the `list_url` is not being looked at if the version is in the `package.py` file.

[2021-10-29 21:39] gsiawGH commented on #27050
oh, however, i am still getting these errors, during the installation. but at least its not killing the installation!

sysctl: unknown oid 'machdep.cpu.leaf7_features'
sysctl: unknown oid 'machdep.cpu.vendor'
sysctl: unknown oid 'machdep.cpu.model'
sysctl: unknown oid 'machdep.cpu.leaf7_features'
sysctl: unknown oid 'machdep.cpu.vendor'
sysctl: unknown oid 'machdep.cpu.model'

[2021-10-29 21:55] gsiawGH commented on #27050
with this workaround, im still getting installation errors

so far, i can install coreutils and zlib, but cant install fish

while installing fish, it breaks on dependency openssl

spack install openssl
[spack-build-out.txt](https://github.com/spack/spack/files/7445083/spack-build-out.txt)

[2021-10-29 21:55] bernhardkaindl commented on #26977
This behavior was introduced by this PR @tldahlgren: https://github.com/spack/spack/pull/25831/file

Reverting #25831 (just comment-out the block of added lines) fixes `spack checksum --batch r-cvtrs` (and others, output with current git HEAD):
[code]
With it reverted (new lines just commented out):
[code]
But this change has no effect on:
[code]

[2021-10-29 22:01] bernhardkaindl commented on #26977
@glennpj An idea might be to implement url_for_version() in lib/spack/spack/build_systems/r.py returning src/contrib/ for the latest version (and check CRAN if it is still the latest - as it is moved to Archive on upload of a new versions), and src/contrib/Archive/' + self.cran + '/' for the Archive versions. - but then `spack checksum` would have to modified to use that as well - see the breakdow

[2021-10-29 22:03] glennpj commented on #26977
To echo what @bernhardkaindl says above, there is also a problem when a version is specified on the command line.
[code]
That also triggers using only `url` and not `list_url`.

[2021-10-29 22:05] glennpj commented on #26977
No, this used to work. The fix is to ensure that `list_url` is considered as well as `url`. Also, it is important to note that this is not an `r` problem. Other packages that use `list_url` would also be affected.

[2021-10-29 22:07] bernhardkaindl commented on #26977
But when/how is `url` used and when the `list_url`?

AFAIK, `list_url` is only used for fetching a page to download and parse the list of versions.

Of course, this is a global problem with `spack checksum`.

IMO, the current design, as outlined by Adam is broken: https://github.com/spack/spack/issues/24668#issuecomment-873302701

I think it would be good if `spack checksum pkg@version` would use

[2021-10-29 22:13] glennpj commented on #26977
I can confirm that backing out #25831 fixes the case where a version is not specified on the command line.
[code]
but not when a version is given on the command line.

[2021-10-29 22:15] eugeneswalker commented on #27075
Adding a build dependency on `py-pip` resolved this for me. What do you think @adamjstewart?

Would this be appropriate as a PR? I will make one if you give the nod.

[2021-10-29 22:24] glennpj commented on #26977
To be honest, I am not sure that `spack checksum ...` with a version from `list_url` worked recently. So there may be two problems here.

To be complete, I replaced the `cran` attribute with explicit `url` and `list_url` parameters and see the same behavior as with the `cran` attribute. That pretty much confirms that this is not an `r` problem but a `checksum` problem.

[2021-10-29 22:34] glennpj commented on #26977
I thought this all seemed familiar. This is the same issue as #11680.
So, indeed, there are two problems. The second introduced with #25831, and the first, has been around a while.

[2021-10-29 22:51] bernhardkaindl commented on #26977
Yes, https://github.com/spack/spack/pull/25831/files added the call to `pkg.url_for_version(v)` for each version found in the page downloaded from `list_url`:
[code]
The default implementation of url_for_version is here: https://github.com/spack/spack/blob/f2a36bdf14a8e5ad2ce3484c5d5c915d5a3dc9eb/lib/spack/spack/package.py#L935

When the `url` returned from `pkg.url_for_version(v)` is `pkg.url` (m

[2021-10-29 23:51] adamjstewart commented on #27075
I've been planning to overhaul our PythonPackage build system to install with pip instead of `python setup.py install` but haven't gotten a chance yet. I'm hoping that will solve this issue and a lot of others I've seen reported.

[2021-10-30 00:00] bernhardkaindl commented on #26977
The first issue, which has been around for a while is that for staging sources, spack ***when  staging*** using from the nearest(derived) URL based on `Package.url`(with the version substituted) fails, `SPIDER` gets called and it falls back to an URL based on `list_url`:
[code]
Besides using Package.list_url, for R:
https://github.com/spack/spack/blob/f2a36bdf14a8e5ad2ce3484c5d5c915d5a3dc9eb/lib/s

[2021-10-30 00:07] bernhardkaindl commented on #26977
@adamjstewart I cannot think of a good reason why `spack checksum` (for each version) cannot use the same download functions which are used for `spack stage`.

[2021-10-30 01:35] steo85it commented on #26803
Tested and it works for me!! Thanks a lot @Sinan81 ! (I let you close when the PR is submitted and accepted - would it also need a conflict with newer python versions?)

[2021-10-30 01:40] Sinan81 commented on #26803
Great! Yes I'll add a conflict and more. I'm trying to figure out which python version between 3.8.6 and 3.8.12 breaks the build.

[2021-10-30 03:40] pghysels commented on #26861
Applying the patch worked, thanks.

[2021-10-30 03:40] #26861 closed, assigned to srekolam

[2021-10-30 04:19] glennpj opened #27085 "clingo concretizer not honoring version specs"
### Steps to reproduce

There are quite a few open clingo related issues so this may have already been reported.

I can not build llvm-12 so I set llvm in `$spack/etc/packages.yaml`
[code]
That is not honored when concretizing.
[code]
There is no indication as to why it is overriding my constraint. What it really should print is why it can not satisfy the constraint. If I switch the concretizer to

[2021-10-30 07:44] bernhardkaindl commented on #24861
@tldahlgren The cause of `spack checksum` failing (and not install) is simple.

The `list_url` of the package cannot be fetched:
[code]
@sethrj Yes, the 2nd bug in the package is that the `@when('@:6.0.0')` is not applied, and therefore must be changed:

This fixes it, but see the question in the patch:

[code]
(Hint: The comment above `url_for_version` says that they want to append `_esmumps` for

[2021-10-30 09:43] sethrj commented on #24861
Great catch! A pr for Scotch would be great. No idea why the list url isn't picking up the newer tags but can look into it. We also ought to improve the failure mode for "list url doesn't work".

[2021-10-30 15:53] acgetchell opened #27096 "Cannot use spack packages from cmake"
### Steps to reproduce

In short:
[code]

All steps and configurations outlined in this repo:

https://github.com/acgetchell/causal-sets-explorer

### Error message

[code]

### Information on your system

[code]

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have searched the issues of this repo and believe this is not a d

[2021-10-30 16:33] adamjstewart commented on #26977
The reason that fetching (`spack fetch`, `spack install`, etc.) and searching (`spack versions`, `spack checksum`, etc.) use different code paths is that these are very different tasks. When fetching, we already know the version number, and presumably we know where to download from, we just need to replace the version from a known URL with this version. For searching, we instead need some webpage

[2021-10-31 06:29] zzzoom commented on #27085
I've hit this bug today, or a very similar one. clingo isn't honoring any concretization preferences at all inside environments either:

[code]

[2021-10-31 18:26] mathsen commented on #24945
Hello,
I just want to mention that I also need to use a SOCKS5 proxy (on 127.0.0.1:60000) on the nodes where I have to compile and after fiddling around a little bit it works with the following setup:

~/.bashrc:

[code]

Important: Since python's urllib doesn't use these env variables I had to setup spack to use curl instead:

~/.spack/config.yaml

[code]

Note that I also setup git using my SOCK

[2021-11-01 08:13] haampie commented on #27096
You should use `find_package(Boost REQUIRED)` as all Spack does is it sets CMAKE_PREFIX_PATH, and it'd be better to add a package.py for your package either in Spack or in your own repo.

[2021-11-01 08:16] #24552 closed, assigned to becker33

[2021-11-01 08:16] #24522 closed, assigned to nobody

[2021-11-01 08:19] haampie commented on #27085
@zzzoom can't reproduce, what commit were you on?

[2021-11-01 09:13] stephenmsachs commented on #27055
The main question for me is how to make the command-line constraints persistent. `spack solve gromacs ^intel-mpi` does exactly what I want it to do, so how can I add this to `packages.yaml` to make `spack solve gromacs` behave the same?

[2021-11-01 09:45] haampie commented on #27055
Notice that `^intel-mpi` does not do exactly what you want to do. It means requiring a dependency on intel-mpi, which as a side-effect forces the provider for mpi to intel-mpi, because intel-mpi unconditionally provides mpi. There are packages that conditionally provide a virtual, in which case requiring that package as a dependency is not the same as forcing a provider (notably intel-mkl, which p

[2021-11-01 10:19] stephenmsachs commented on #27055
Yes, you are correct. I want to force a provider rather than add a dependency.

Setting providers for `all` is not an option as I want to include multiple packages with different providers per package. I have tried the environment route with adding `spack:packages:gromacs::providers:mpi:[intel-mpi]` via `spack config edit`, but no luck. Intel MPI was not pocked up by `spack solve`.

[2021-11-01 12:55] #27017 closed, assigned to alalazo

[2021-11-01 13:43] alalazo commented on #27085
I'm not sure I would classify this as a bug. Version, variants, etc. in `packages.yaml` are not constraints - they are just preferences. Spack is told to prefer version 11.1.0 if there are no "issues" with it, but is free to choose anything else if that version cannot be used or leads to a "worse" solution (in terms of the current optimization targets that clingo has).

For dependencies, minimizin

[2021-11-01 14:00] alalazo commented on #27055
This will be solved, very likely, by a reworking of the rules for multi-valued variants in #25310 In the meanwhile you can set preferences as:
[code]
to avoid `openmpi` having the same score as `intel-mpi` when used as an mpi provider. Note the double `:` which is key to discard Spack's default provider list.

[2021-11-01 14:05] #26980 closed, assigned to nobody

[2021-11-01 14:12] alalazo commented on #27050
Sorry for not being clear. This is supposed to be working on latest develop. Whether or not it works on the v0.16.3 release depends on the version of `archspec` we have there.

[2021-11-01 14:22] eugeneswalker commented on #27075
Should we add `py-pip` as build dependency of `py-pylint` until then?

[2021-11-01 14:28] zzzoom commented on #27085
f45ef21e375d2a57813d64818d055b89582ebdc5

I'll try to reproduce it in a cleaner install.

[2021-11-01 15:01] adamjstewart commented on #27075
If that solves your problem I'm fine with that, just add a comment pointing to this issue so we know why it's there.

[2021-11-01 15:04] iarspider commented on #26872
@adamjstewart It is mentioned [here](https://github.com/pypa/setuptools_scm/blob/v6.3.1/pyproject.toml#L6). The `build-system` table's `requires` key is described in [PEP-518])(https://www.python.org/dev/peps/pep-0518/#build-system-table) as follows:

In my opinion, this matches spack's definition of run-time dependency.

[2021-11-01 15:11] adamjstewart commented on #26872
Isn't that the definition of a build-time dep? The `setup.py` is only executed when we build the package, it doesn't get installed so it isn't used at run-time.

[2021-11-01 15:14] iarspider commented on #26872
I think the mentioned `setup.py` is not setuptools-scm's one, but (e.g.) zipp' - "required ... to execute the build system", not to build the build system.

[2021-11-01 15:22] adamjstewart commented on #26872
The docs say to add `requires = ['setuptools', 'wheel']` for most packages. So this is to execute the build system of the package, not dependency packages.

[2021-11-01 15:35] iarspider commented on #26872
Just did one more test. Using a clean environment, ran `pip install -vvv --no-binary=:all: zipp==3.6.0`, you can find full log here: [gist](https://gist.github.com/iarspider/21b36f565173e2ec94dfcf3001d21150). If you run `grep packaging` on that output, you will see that pip downloads and installs `packaging`, but it is not listed in `pip install`, meaning that it is only installed temporary.

[2021-11-01 15:36] iarspider commented on #26872
`setuptools-scm` is listed in `requires` key for zipp: [link](https://github.com/jaraco/zipp/blob/v3.6.0/pyproject.toml#L2)

[2021-11-01 15:38] adamjstewart commented on #26872
Yep, so `py-setuptools-scm` should have a build dep on `py-packaging`, and `py-zipp` should have a build dep on `py-setuptools-scm`. If any other deps are needed, then I think we should report a bug to those developers because the dependency isn't properly listed under `install_requires`.

[2021-11-01 16:36] shahzebsiddiqui opened #27124 "spack builds depended on user modules"
### Steps to reproduce

I have noticed spack builds are affected based on modules loaded in your environment. To reproduce this issue here is a simple spack.yaml with a compiler definition for gcc on Perlmutter using the cray wrappers but using modules to load the appropriate environment.

[code]

Next you can create the environment wherever you have the spack.yaml

[code]

Here is the error i get

[2021-11-01 16:42] shahzebsiddiqui commented on #27124
i realized there is an issue with loading modules after purging and we dont know how `cray-mpich` can be loaded after purging this means that doing spack builds with `module purge` has different behavior than running with active modules in environment.

[code]

[2021-11-01 16:57] stephenmsachs commented on #27055
This again only works if set for `all`. If I set it only for `gromacs`, then Open MPI is picked up.
[code]

I guess for now the workaround is to use one environment per application and set providers of `all` inside each environment.

[2021-11-01 17:09] shahzebsiddiqui commented on #27124
After doing some troubleshooting the way to get `cray-mpich` or any PrgEnv-* modules to load was to load `craype-network-ofi` which has path to cray-mpich module

[code]

The cray-mpich modulepath is in `/opt/cray/pe/lmod/modulefiles/comnet/nvidia/20/ofi/1.0`

[code]

This is coming from this modulefile

[code]

[2021-11-01 17:22] iarspider commented on #26872
https://github.com/pypa/setuptools_scm/blob/v6.3.0/setup.cfg#L30 Oops...

[2021-11-01 17:22] #26872 closed, assigned to adamjstewart

[2021-11-01 19:27] shahzebsiddiqui commented on #27124
i have reported this issue to Cray and referenced them to this issue for feedback. I would be curious to know if other sites are experiencing similar issues with spack builds when running `spack install` with module purge and one with startup modules.

[2021-11-01 20:17] maxim-belkin opened #27130 "Capturing variant values in module names"
### Steps to reproduce

I'd like to customize names of generated module files with variant values: for example, for packages built for `cuda_arch` 35 I'd like to be able to use `35` in the module name. I was trying to achieve this by using the following naming schemes in my `modules.yaml`:

[code]

However, for some reason`{variants.cuda_arch.value}` returns `('35',)` instead of expected `35`:
[co

[2021-11-01 20:40] #22938 closed, assigned to tldahlgren

[2021-11-01 21:08] iarspider commented on #26998
@adamjstewart I think this is exactly what we've discussed today: setuptools-scm depend on packaging. I have just submitted a PR to add that dependency.

[2021-11-01 21:50] #27075 closed, assigned to adamjstewart

[2021-11-02 01:36] haampie commented on #16803
This is fixed by #26793

[2021-11-02 01:36] #16803 closed, assigned to nobody

[2021-11-02 02:04] #26998 closed, assigned to adamjstewart

[2021-11-02 06:35] Sinan81 commented on #26803
turns out I was wrong. the runtime error was due to Qscintilla issue only.

[2021-11-02 06:35] #26803 closed, assigned to nobody

[2021-11-02 09:49] haampie commented on #26833
```SPACK_USER_CACHE_PATH=...```

[2021-11-02 09:49] #26833 closed, assigned to nobody

[2021-11-02 11:14] alalazo commented on #26884
This is documented here: https://spack.readthedocs.io/en/latest/getting_started.html

We probably need a better error message or diagnostics.

[2021-11-02 15:15] gsiawGH commented on #27050
ok, yes, running from develop branch, no issues with . share/spack/setup-env.sh

however, i am not able to install any basic packages, like git or coreutils

[2021-11-02 16:15] eugeneswalker opened #27156 "kokkos@3.4.00 +sycl +tests: Kokkos_Setup_SYCL.hpp: 'CL/sycl.hpp' file e not found"
### Steps to reproduce the issue

`kokkos@3.4.00 +sycl +tests +debug std=17` is failing to build using:
* `spack@develop` (372fc78e9869e36c54ac86bfd20e2447df0a8405 from `Tue Nov 2 19:37:23 2021 +0800`)
* Ubuntu 20.04
* Intel OneAPI 2021.4.0

Concrete spec:  [kokkos.spec.yaml.txt](https://github.com/spack/spack/files/7462312/kokkos.spec.yaml.txt)

Concretization:
[code]

[code]

sycl.hpp is here:
[

[2021-11-02 16:17] mwkrentel opened #27157 "clingo should allow two providers in the same DAG"
### Steps to reproduce

@alalazo Could we rethink the fix from #26718 and #26740 ?

The problem is that the fix breaks another concretization that I need,
namely, `hpctoolkit +rocm`.  The problem is that hpctoolkit +rocm has
two dependencies, `llvm-amdgpu` and `hsa-rocr-dev` that both require
specifically `libelf`, and hpctoolkit requires `elfutils`.

I understand this is an advanced use case.  `e

[2021-11-02 16:31] #19830 closed, assigned to nobody

[2021-11-02 16:59] tgamblin commented on #26833
This is documented here: https://spack.readthedocs.io/en/latest/configuration.html#overriding-local-configuration

See #26735 and #27022

[2021-11-02 17:08] DavidPoliakoff commented on #27156
@masterleinad is doing a lot of the SYCL work. Any recommendations?

[2021-11-02 17:12] glennpj commented on #27085
Okay, constraint is not the correct term, sorry. I do consider this a bug though as per the issue template:
[code]

Essentially, the original concretizer treated versions in `packages.yaml` more like constraints. However, the behavior with clingo is very different from that of the original concretizer and I prefer the behavior of the original concretizer here. The original concretizer tries to use

[2021-11-02 17:38] eugeneswalker opened #27160 "kokkos@3.4.01 +tests +rocm build fails: cannot overload __host__ function '__failed_assertion'"
### Steps to reproduce the issue

`kokkos@3.4.01 +tests +debug +rocm amdgpu_target=gfx908` build fails using:
* `spack@develop` (372fc78e9869e36c54ac86bfd20e2447df0a8405 from `Tue Nov 2 19:37:23 2021 +0800`)
* Ubuntu 20.04, ROCM 4.3.1, GCC 11

Concrete spec: [kokkos.spec.yaml.txt](https://github.com/spack/spack/files/7462873/kokkos.spec.yaml.txt)

Concretization:
[code]

Build output:
[code]

###

[2021-11-02 17:44] DavidPoliakoff commented on #27160
(We'll discuss these internally, just pinging to let you know we're looking at this)

[2021-11-02 18:22] eugeneswalker opened #27163 "mpix-launch-swift build fails: syntax error: end of file unexpected (expecting ")")"
### Steps to reproduce the issue

`mpix-launch-swift@develop` build fails using:
* `spack@develop` (b3711c0d9d07b8b0e673adc49f5742d90cf48a12 from `Tue Nov 2 10:55:50 2021 -0700`)
* Ubuntu 20.04, GCC 9.3.0, x86_64 (shown here)

Concrete spec: [mpix-launch-swift.spec.yaml.txt](https://github.com/spack/spack/files/7463142/mpix-launch-swift.spec.yaml.txt)

Concretization:
[code]

Reproduced here using

[2021-11-02 18:45] eugeneswalker opened #27165 "raja@0.14.0 +rocm build fails: cmake: HIP_ARCHITECTURES is empty for target"
### Steps to reproduce the issue

`raja@0.14.0 +rocm amdgpu_target=gfx908 ~tests ~examples` build fails using:
* `spack@develop` (372fc78e9869e36c54ac86bfd20e2447df0a8405 from `Tue Nov 2 19:37:23 2021 +0800`)
* Ubuntu 20.04, GCC 11.1.0

Concrete spec: [raja.spec.yaml.txt](https://github.com/spack/spack/files/7463283/raja.spec.yaml.txt)

Concretization:
[code]

[code]

### Information on your syste

[2021-11-02 20:59] eschnett opened #27175 "`memkind` builds `jemalloc`"
The `memkind` package builds `jemalloc`. It should declare a conflict with the `jemalloc` package to ensure that not both are installed simultaneously (or rather, that not both can be used simultaneously since the respective symbols in the generated libraries conflict).

Alternatively, `memkind` could just depend on `jemalloc` if that is possible.

[2021-11-02 23:37] eugeneswalker opened #27180 "trilinos@13.0.1 +cuda build fails: class "cudaPointerAttributes" has no member "memoryType""
### Steps to reproduce the issue

`trilinos@13.0.1 +cuda cuda_arch=70` build fails using:
* `spack@develop` (b3711c0d9d07b8b0e673adc49f5742d90cf48a12 from `Tue Nov 2 10:55:50 2021 -0700`)
* Ubuntu 20.04, x86_64, GCC 9.3.0

Concrete spec: [trilinos.spec.yaml.txt](https://github.com/spack/spack/files/7464562/trilinos.spec.yaml.txt)

Concretization:
[code]

[code]

### Information on your system

* *

[2021-11-02 23:59] sethrj commented on #27180
Uh oh. Do you know if this works with 13.2 (just merged)?

[2021-11-03 03:07] eugeneswalker commented on #27180
It builds, yes! Thank you. Should we close this issue?

[2021-11-03 04:32] eugeneswalker opened #27183 "dealii +cuda build fails: invalid conversion from 'MPI_Comm' {aka 'int'} to 'void*'"
### Steps to reproduce the issue

`dealii@9.3.1 +cuda cuda_arch=70` build fails using:
* `spack@develop` (f1fb816d93821a19046474a9252a5b6fb2c9cd00 from `Tue Nov 2 17:36:53 2021 -0400`)
* Ubuntu 20.04, x86_64, GCC 9.3.0

I am also using a cherry-pick of https://github.com/spack/spack/pull/27169 to get around the current build issue with `gmsh`.

Concrete spec: [dealii.spec.yaml.txt](https://github.

[2021-11-03 04:53] BenWibking commented on #25354
Not with Spack, no. The sysadmins managed to install openjdk+hpcviewer+hpctoolkit manually, though.

[2021-11-03 05:12] #25249 closed, assigned to RikkiButler20

[2021-11-03 05:47] BenWibking commented on #25354
Ok, I figured out what the issue was. It turns out there is a bug in python versions < 3.7.4 that causes extended attributes used by Lustre to cause PermissionError when using shutil.copy2 (which is used by https://github.com/spack/spack/blob/develop/lib/spack/llnl/util/filesystem.py#L504 to copy directory trees).

Setting SPACK_PYTHON to point to a python executable >= version 3.7.4 fixes the pro

[2021-11-03 05:48] BenWibking commented on #25354
The upstream Python bug is: https://bugs.python.org/issue24538 and the confirmation that it affects Lustre is here: https://bugs.python.org/issue24538#msg301493

[2021-11-03 06:19] dev-zero commented on #11116
I've encountered the same thing with the OneHalf Dark color scheme with Wezterm :(

[2021-11-03 07:11] #9740 closed

[2021-11-03 10:46] sethrj commented on #27183
Not sure if this matters but it looks like kokkos doesn't have cuda enabled?

[2021-11-03 10:48] sethrj commented on #27180
We should add a conflict or patch first. Right now 13.0.1 is necessary to build fortrilinos (also e4s) so this isn't entirely a fix...

[2021-11-03 11:58] sethrj commented on #27180
OK it looks like this is a conflict with cuda+11, see https://github.com/trilinos/Trilinos/issues/7923 . It would be easy to add a conflict, and it looks like the patch for that issue applies to 13.0.1. I've created a PR to try to fix this, would you give it a try? #27188

[2021-11-03 12:01] sethrj commented on #27183
@eugeneswalker does deal.II include a vendored copy of SUNDIALS?? The erroneous header is inside the sundials source directory, but it looks like deal.II does have a legitimate upstream dependency on sundials ...

[2021-11-03 12:57] lamdalamda opened #27190 "q-e-sirius with rocm problem"
### Steps to reproduce

I am trying to install q-e-sirius with rocm

and there seems to be some problem on hip

I'm doing something like

[code]

The sirius with rocm can be successfully installed but the q-e-sirius failed.

Did I miss anything?

### Error message

==> q-e-sirius: Executing phase: 'cmake'
==> [2021-11-03-20:11:33.990536] 'cmake' '-G' 'Unix Makefiles' '-DCMAKE_INSTALL_PREFIX:STRING

[2021-11-03 12:58] #27190 closed, assigned to nobody

[2021-11-03 13:06] lamdalamda opened #27191 "Installation issue: q-e-sirius"
### Steps to reproduce the issue

I'm tying to install q-e-sirius with ROCm on AMD GPU R9 fury (gfx803)

I have done following step:
[code]

The sirius is successfully built while q-e-sirius failed.

### Information on your system

* **Spack:** 0.16.3-5174-80807e6dd4
* **Python:** 3.8.10
* **Platform:** linux-ubuntu20.04-haswell
* **Concretizer:** clingo
CPU: dual e5-2699v3 GPU: AMD R9 fury
ROCm 4

[2021-11-03 13:10] lamdalamda commented on #27191
output before building qe-sirius:
[code]

[2021-11-03 15:43] balay commented on #27183
Perhaps you can try: 1fc589f85dc5e160068da9ba891c31fc40ad5056

[2021-11-03 17:42] mdorier opened #27199 "Clingo prefers old versions to using a develop branch"
### Steps to reproduce

Here is an example of situation where spack chooses a lower version than necessary for a dependency:

[code]

In this example, `mochi-bedrock` has versions `0.2.3`, `0.3`, and `0.3.1` (and some lower numbered versions). `mochi-remi` has `depends_on('mochi-bedrock@0.2:')`. So I would expect `spack spec -I mochi-remi` to show `mochi-bedrock@0.3.1` in the dependency tree, yet

[2021-11-03 17:50] eugeneswalker commented on #27183
Same error :(

[2021-11-03 17:51] eugeneswalker commented on #27183
Should we have an explicit dependency on `sundials` then, in the Spack package for `dealii`?

[2021-11-03 18:03] sethrj commented on #27183
The explicit dependency is there. Sorry, I pulled the dealii source and see that the `include/deal.II/sundials` are *wrappers* around sundials, not a *copy* of sundials as I originally thought.

If I had to guess from the error and context, it's that the Deal.II authors assumed that the `MPI_Comm` is actually a pointer (which is true for OpenMPI) but since you're compiling with `MPICH` it's actual

[2021-11-03 18:38] #27180 closed, assigned to nobody

[2021-11-03 22:33] #26993 closed, assigned to nobody

[2021-11-03 22:54] wspear opened #27207 "Installation issue: kokkos"
### Steps to reproduce the issue

Install kokkos **without** a variant that requires an explicitly defined compiler (i.e. cuda). The build will succeed but the cmake configuration generated for use when building with the resulting kokkos installation will specify spack's internal g++ compiler. This will cause any attempt to use a cmake-mediated kokkos build to fail.

The file with the faulty compi

[2021-11-03 23:01] ghost commented on #26536
I had this issue with Ubuntu 20.04 as well. It was resolved by reinstalling ca-certificates.
`sudo apt-get install --reinstall ca-certificates`

[2021-11-04 01:43] eugeneswalker opened #27213 "hpx package.py: self.variants['instrumentation'].values: 'tuple' object has no attribute 'values'"
### Steps to reproduce the issue

`hpx`'s package.py has an issue in `spack@develop` (b9cdaa542916bbdc98b2b6c81fe1126af425e031 from `Wed Nov 3 21:07:35 2021 -0400`)

Seeing the same error on:
* Ubuntu 18.04, GCC 7.5.0, x86_64 and ppc64le
* Ubuntu 20.04, GCC 9.3.0, x86_64 and ppc64le

[code]

### Information on your system

* **Spack:** 0.16.3-5229-b9cdaa5429
* **Python:** 3.8.10
* **Platform:** li