[2016-11-30 01:04] #2417 closed

[2016-11-30 02:28] TomasPuverle opened #2440 "Instructions on setting up environment-modules need update for macOS"
I noticed that the following example in "Getting started" no longer appears to work:
[code]
I think the problem is (at least) two fold:
1) I don't think tempfile is universaly supported
2) I installed environment-modules using spack and the MODULE_VERSION variable just expands to 'bin', leading to a path of '..../Modules/bin/bin/add.modules', which doesn't exist.

Thank you,

Tom

[2016-11-30 02:58] adamjstewart commented on #2440
You're right. `tempfile` doesn't exist on my macOS or on CentOS 6. From the `tempfile` manpage: "`tempfile` is deprecated; you should use `mktemp(1)` instead."

[2016-11-30 04:33] TomasPuverle opened #2441 "Color problems"
I just spent some time stepping through the code trying to debug something which turned out to be a phantom issue.

I use a "Dark Solarized" color scheme in my terminals, and when running

    spack find --long

I could only see the packages but none of the hashes.  As you've probably guessed by now, the color of the output was so similar to the terminal background that it was not visible.

I can

[2016-11-30 20:42] bathmatt opened #2447 "Failure to install RHEL6 hpctoolkit"
I get an error in the install phase.  Log file attached
[speck.zip](https://github.com/LLNL/spack/files/622925/speck.zip)

[2016-11-30 23:17] hegner commented on #2014
OK. A dashboard is there now - with #2445 the basic infrastructure for using CDash is functional. Doing
[code]
you see the results [here](http://cdash.cern.ch/index.php?project=Spack). Ignore the incomplete entries - those were still debugging for my PR.

If we could get this `release-test.yaml` in place I could combine both pieces into something easy to use.

[2016-11-30 23:36] krafczyk opened #2448 "py-h5py is sometimes installed without a listed dependency on py-cython."
`py-h5py` depends on `py-cython` as described in it's `package.py` file.

If you take a clean spack installation and just install `py-h5py` with `spack install py-h5py`, `py-cython` is installed but `py-h5py` is installed without any dependence on `py-cython` somehow.

You can see this here after I install `py-h5py` in an empty spack installation:

[code]

But `py-cython` definitely was built and

[2016-12-01 04:01] TomasPuverle opened #2449 "spack setup example from docs doesn't work"
I get the following error:

➜  spack git:(develop) ✗ spack setup mylib@local
Traceback (most recent call last):
  File "/home/tom/dev/spack/bin/spack", line 206, in <module>
    main()
  File "/home/tom/dev/spack/bin/spack", line 183, in main
    return_val = command(parser, args)
  File "/home/tom/dev/spack/lib/spack/spack/cmd/setup.py", line 133, in setup
    with spack.installed_db.write_transa

[2016-12-01 04:25] #2449 closed

[2016-12-01 04:26] TomasPuverle commented on #2449
Duplicate #2316

[2016-12-01 09:39] JaroslavHron commented on #2448
`py-h5py` has `py-cython` as `'build'` dependency type only, that means it is used in build process only.
(see. [py-h5py/package.py#L44](https://github.com/LLNL/spack/blob/develop/var/spack/repos/builtin/packages/py-h5py/package.py#L44))

`py-astropy` has `py-h5py` as `nolink=('build','run')` dependency type
(see. [py-astropy/package.py#L44](https://github.com/LLNL/spack/blob/develop/var/spack/rep

[2016-12-01 15:28] adamjstewart commented on #2448
@mathstuf @tgamblin

I don't like this behavior. Specifically, we shouldn't be installing another `py-h5py` here.

[2016-12-02 15:52] JavierCVilla commented on #1861
Finally I found the problem. The errors were caused by the ssl type taken during the installation process. As the [MySql documentation](https://dev.mysql.com/doc/refman/5.7/en/source-configuration-options.html#option_cmake_with_ssl) shows, it is possible to define the SSL type to use in CMake with the parameter `-DWITH_SSL`. By default it takes the value `bundled` which means to use the ssl suppor

[2016-12-02 15:52] #1861 closed

[2016-12-02 18:50] citibeth opened #2461 "Checklist for package file submission"
I find myself saying the same thing over and over again.  So here's a list of requirements for `package.py` submissions that should be added to our documentation (in no particular order):

1. At least one numeric (checksummable) version must be supplied.

2. All explicit versions in `depends_on()` statements must also be for checksummable versions.

3. If the package builds binaries... please chec

[2016-12-02 18:54] citibeth opened #2462 "Developer and Download support for Python packages."
@adamjstewart

The innovations in #2460 need to be factored out into a general Spack `PythonPackage` (alongside `CMakePackage`, `AutotoolsPackage`, etc).

While we're at it... we should also see a `PyPIPackage` (subclassing `PythonPackage`) along the lines of #2281

[2016-12-02 18:56] citibeth commented on #2461
See #2375 for info on adding `-fPIC` flag to compilers.

[2016-12-02 18:58] citibeth opened #2463 "Standardize `+fpic` to `+pic`"
I believe it's been decided that the `+fpic` variant should be called `+pic` instead.  Someone needs to do a global search-and-replace on the Spack repo to get all packages in line.  Something like:
[code]

Also, packages need to be checked, and changed if needed, to follow #2375

[2016-12-02 19:08] adamjstewart commented on #2462
We also need to create an `RPackage` for `r-*` files, which tend to be much more uniform (almost identical).

[2016-12-02 19:49] citibeth commented on #2461
See #2457 for example on using `CMakePackage`.

[2016-12-02 20:59] alalazo commented on #1486
@scheibelp @tgamblin What was the reason to introduce all the variants in `boost`? The reason I ask is that I am trying to introduce the support for new libraries, but I cannot do it with variants because they will depend on the version of boost itself.

In addition some of the older versions seem broken:
[code]
Do you think the `boost` package needs an overall review? How would you like to procee

[2016-12-02 21:14] adamjstewart commented on #1486
My experience with depending on boost is that certain applications require certain boost libraries. For example, you can't build `cgal` without `boost+thread+system`. So we'll either need to build all options, or provide a variant for each.

The versioning problem is annoying. Could we create a dictionary like:
[code]
Then we can loop through the keys to create the variants (like we were previousl

[2016-12-02 21:18] alalazo commented on #1486
That's what I was doing, but I stopped because it feels like an hack and it will increase the list of variants over time for every version.

[2016-12-02 21:29] adamjstewart commented on #1486
It would probably be a lot of work, but in the long run the best option might be adding `when=` to `variant()`. Certain versions provide certain variants (libraries). The hard part will be concretization of something like `boost+thread`. How will you look up what versions of boost provide the `+thread` variant?

[2016-12-02 21:38] gartung opened #2465 "Building compiler on AMD server and using on Intel server causes illegal instruction errors."
I know this doesn't come up on supercomputers because the architecture of all of the nodes is identical. However I ran into an odd problem building gcc on a build server and using it on another machine. The relocated compiler worked as long as I disabled the binutils and gold options. That was a few merges from develop ago. Now when I try to compile with the relocated compiler I get error messages

[2016-12-02 21:47] citibeth commented on #2462
Actually, I'd like a `spack setup` for Python, not just a `spack diy`.  Running Spack can be sloowwww.

[2016-12-02 22:02] adamjstewart commented on #2462
Something that should be added to the `PythonPackage` class is a test that tries to import the installed package. See #1305 for details.

[2016-12-02 22:51] gartung commented on #2465
This may be a case of ccache messing things up again. This is the compilers detected on the build server which gcc@4.9.3 was built with
compilers:
- compiler:
    environment: {}
    extra_rpaths: []
    flags: {}
    modules: []
    operating_system: scientificfermi6
    paths:
      cc: /usr/lib64/ccache/gcc
      cxx: /usr/lib64/ccache/g++
      f77: /usr/bin/gfortran
      fc: /usr/bin/gfortra

[2016-12-02 23:03] adamjstewart opened #2466 "All CMakePackages depend on CMake"
@alalazo Is there any reason we can't add `depends_on('cmake', type='build')` to the CMakePackage base class? It seems silly to have to add it to every package that extends it.

[2016-12-02 23:43] becker33 commented on #1815
Will this issue be resolved when #2261 is merged, or is it a separate bug? @adamjstewart and @ashkan2200 can you check whether that PR resolves your issues?

[2016-12-02 23:47] tgamblin commented on #2466
We might need to adjust the way directives store metadata for this, but I think it's a good idea.

[2016-12-03 00:46] xjrc commented on #1815
These problems look very similar to those in  issue #2249.  As such, I believe that they should be fixed by #2261, but it wouldn't hurt to double check!

[2016-12-03 03:44] TomasPuverle opened #2468 "A corrupted packages.yaml causes 'spack config edit' to error out"
Adding an invalid key to one of the yaml files causes it to be un-editable by spack.  For example:

packages:
  all:
    compiler: [gcc, intel, pgi, clang, xl, nag]
    providers:
      mpi: [openmpi, mpich]
      blas: [openblas]
      lapack: [openblas]
      pil: [py-pillow]

  openssl:
      paths:
          openssl@system: /usr
      version: [system]
      buildable: False
      **checksum:

[2016-12-03 06:41] davydden commented on #1486
Having 'when' with variants was mentioned Todd at other thread about Trilinos.

As for boost, I think it does the right thing by providing variants for each module. Otherwise we would have to build all of them which is: (I) time consuming (ii) more fragile (iii) would bring extra dependencies like Python/MPI, that may not be desired or even break concretization in theory. I believe Trilinos should

[2016-12-03 07:22] alalazo commented on #2466
@adamjstewart I didn't do that because of what @tgamblin said, see [here](https://github.com/LLNL/spack/pull/1186#issuecomment-253323484).

I think I may have an idea anyhow how to do that: instead of using `inspect.stack`  we may:

1. register at class construction time all the directives in a global attribute within the `directives` module
2. flush them into the  class being constructed using `P

[2016-12-03 09:08] ashkan2200 commented on #1815
I'll check and report back here

[2016-12-03 15:24] citibeth opened #2469 "Better Compiler Support"
This thread is to further discuss the ideas about compilers and variants that arose in this thread:

https://groups.google.com/forum/#!topic/spack/rl2OSwhj1cE

[2016-12-03 16:32] hartzell commented on #2440
At some point in my past I cargo-culted a bit of code to work around platform variations in how mktemp behaved.  [This is most likely](http://unix.stackexchange.com/questions/30091/fix-or-alternative-for-mktemp-in-os-x) where I cut-n-pasted it from (didn't write it down at the time but it's a perfect match...).

[code]

[2016-12-03 21:35] gartung commented on #2465
The presence of ccache is not what effected the build. It seems  the gcc build system will optimize for the x86_64 of AMD or Intel cpus unless you change the config and/or make options. The two build scripts for relocatable gcc@4.9.3 that I have looked at use two different solutions. The first uses 'make profiledbootstrap' along with --host= and --build= config options. The second uses 'make boots

[2016-12-03 23:29] tgamblin commented on #2461
I think this stuff belongs in a checklist in `CONTRIBUTING.md` (then it will appear at the top of every PR as [documented here](https://github.com/blog/1184-contributing-guidelines)).

We currently have a [contributor guide](http://spack.readthedocs.io/en/latest/contribution_guide.html), but it's a bit on the long side.  I think we should make a short and sweet `CONTRIBUTING.md` file that links to

[2016-12-03 23:38] #1815 closed

[2016-12-03 23:38] #2249 closed

[2016-12-03 23:40] tgamblin commented on #1815
@ashkan2200: #2249 is merged.  Can you verify that this fixes your issue?

This won't cause Spack to build against your old packages automatically (though you could force it with `spack install package ^/hash`, but it should make the old packages appear properly in `spack find`.

[2016-12-03 23:40] tgamblin commented on #1815
@ashkan2200: if this is still a problem feel free to reopen.

[2016-12-04 03:15] tgamblin commented on #2469
@TomasPuverle:

I like the ideas from the original thread about propagated variants.  I think that rather than propagating compiler versions, though, we could do this by allowing variants on virtual dependencies and using them to specify language features, e.g.:

[code]

This way the packager neither has to memorize standard versions, nor levels of support in particular compiler versions, and the

[2016-12-04 03:17] tgamblin opened #2472 "Data File Packages"
This thread is to further discuss the idea of data-only packages, as started by Lynn Garren:

https://groups.google.com/forum/#!topic/spack/rl2OSwhj1cE

Forking this from @citibeth's #2469 because that ended up being about compilers.

[2016-12-04 03:48] gartung commented on #2465
So this seems to be caused by gmp 6.1.1 automatically using  -mtune=bdver2 on the AMD build server. I added flags to use mtune=generic since I want gcc@4.9.3 which depends on gmp to be usable on both out AMD and Intel servers.

[2016-12-04 03:53] #2465 closed

[2016-12-04 03:59] tgamblin commented on #2465
@gartung: We do actually want to support this for hosting binary packages out on the internet, even for supercomputers.

On Linux `x86_64` systems, we don't use a very specific target string.  On the Crays we steal the one the Cray target string, which is something like `haswell`, `ivybridge`, `knl`, etc.  It is on my list to make the Linux builds more specific by querying `/proc/cpuinfo` or simil

[2016-12-04 04:04] gartung commented on #2465
@tgamblin -mtune=generic seems to be the safest options when building gcc and its dependencies.

[2016-12-04 04:08] gartung commented on #2465
@tgamblin The HEP computing grid is a very heterogeneous collection of AMD and Intel servers so we optimize to the lowest common architecture. For online data acquisition systems where speed is essential we compile to the system and there is even work on using GPU accelerators.

[2016-12-04 04:11] tgamblin commented on #2465
@gartung: ok that's useful.  I think we could do something smart to allow either generic or specific binaries on a system like that, depending on what the user wants.

[2016-12-04 04:50] TomasPuverle commented on #2469
@tgamblin

Todd,

Thank you for your response.  As I was writing my original suggestion, I too considered not relying on compiler versions but rather on specific features, in almost an identical way to what you suggest, and had even drafted my original email along similar lines.  As such, I am happy to see that you are also considering it.  However, let me tell you why I, ultimately, rejected the

[2016-12-04 04:58] TomasPuverle opened #2473 "openssl@system not working at HEAD"
I configured spack as per the instructions in the documentation.  Specifically, I added the following to packages.yaml.
[code]
Now, when I try to install a package, I get an error.  For example:
[code]
Why is spack looking for a checksum for a system-installed binary?  Also, I am never given the opportunity to say "y/N".

When I passed '--no-checksum', spack tried to download 'openssl-system.tar.g

[2016-12-04 13:51] alalazo commented on #1249
@TomasPuverle I saw your message "Spack and (Ana)Conda - living side by side" in the mailing list and thought you might be interested in this issue and the ones referenced above

[2016-12-04 17:05] TomasPuverle commented on #1249
Thank you for pulling me into the discussion; this is exactly what I was referring to in the thread on google.

I am having a bit of trouble understanding the consensus here; the way I'm reading the issue, I am seeing "this seems worthwhile but hard".

I have a question, especially wrt dependencies:  Why is it important for spack to have the "foreign" dependencies?  I understand that in an ideal s

[2016-12-04 18:44] citibeth commented on #1249
There is a difference between Spack delegating to other package managers (getting them to build its packages, or analyzing their package repos to auto-generate Spack package); and linking a Spack repo with another repo.

[2016-12-04 18:45] citibeth commented on #1249
I do like the idea of a more formalize Spack repo that consists of foreign-installed packages; rather than mixing this into `packages.yaml` the way it's done now.

[2016-12-04 18:46] citibeth commented on #2473
This is a bug, it worked previously.

[2016-12-04 18:46] citibeth commented on #2468
Just use your editor directly...

[2016-12-04 19:18] TomasPuverle commented on #2468
Yes, I understand.  But I think the interface is a little broken.

[2016-12-04 23:04] TomasPuverle commented on #2247
Hi,

I've been reading through all the issues mentioned above by @citibeth, which obviously led me down a rabbit hole of feature discussions, bug reports and related issues.

I have to admit I'm having a bit of trouble piecing together what is under consideration, what is under construction, what has been rejected etc.

Is there any documentation (before I dive into the source to try and figure it

[2016-12-04 23:46] hartzell opened #2480 "bzip2 fails to install, "argument of type 'ArchSpec' is not iterable""
Does this ring any bells with anyone?  Otherwise I'll dig in.

I'm trying a clean install in a just-cloned repository.

I'm installing gcc-5.4.0.  It fails early on with:

[code]

[2016-12-04 23:59] tgamblin commented on #2480
@hartzell: does #2481 fix this?

[2016-12-05 00:22] #2480 closed

[2016-12-05 00:53] hartzell commented on #2480
Yes.  Thanks!!

[2016-12-05 10:10] davydden opened #2484 "x11 fails to build on macOS due to excessively long argument list"
`libx11` fails to build on macOS due to excessively long argument list
[code]

[2016-12-05 10:55] davydden commented on #2484
@mathstuf @adamjstewart @alalazo :  anyone knows a workaround cut-down the length?

p.s. related to https://github.com/LLNL/spack/pull/1832

[2016-12-05 13:19] alalazo commented on #2368
@tgamblin @becker33 @scheibelp Did you have time to check this? If we want to stick with nose despite the note above I'll close the issue.

[2016-12-05 16:33] mathstuf commented on #2484
Response files should help, but that's more on the build system of libx11 than spack IMO.

[2016-12-05 16:36] davydden commented on #2484
what is that?

[2016-12-05 16:38] adamjstewart commented on #2247
I'm basically doing this right now (I have 3 different Spack installations) and the problem is that hash-changing PRs are being merged in the middle of a development cycle. I'm already on `spack-0.10` even though 0.10 hasn't been released yet, and if the hash changes again, I guess I'll have to go to `spack-0.10.1` or something. I've been trying to push @tgamblin to only merge hash-changing PRs at

[2016-12-05 16:44] mathstuf commented on #2484
A file containing arguments to the command like. Depending on the tool, it can be one per line or a string which is parsed as arguments (usually Windows behavior). It is usually referenced via `@extra_args.rsp` from the command line.

[2016-12-05 16:52] tgamblin commented on #2484
@mathstuf: how well does that work across compilers?

@davydden: Are all the includes and args needed?  Could we do something like we did for transitive RPATHs?

[2016-12-05 17:34] #2346 closed

[2016-12-05 17:38] citibeth commented on #2380
@adamjstewart

This is a continuation of #2478... I think we're getting ahead of ourselves here.  Let's go back to use cases, of which I see two:

1. You work in a shared library environment.  You want to build everything with `+shared`.  Things that can't do shared libs, you want to do `+pic` (since you intend to link them with shared libs).

2. You work on a Cray and need to build things static.

[2016-12-05 18:03] #2027 closed

[2016-12-05 18:08] tgamblin commented on #2155
This should be fixed by #2261.  Can you verify and reopen if not?

[2016-12-05 18:08] #2155 closed

[2016-12-05 18:09] mathstuf commented on #2484
Generally, it is `@foo.rsp`, but some compilers are different (`armcc` is different at least).

[2016-12-05 18:12] tgamblin commented on #2027
@pramodk: can you verify this?

[2016-12-05 18:25] tgamblin commented on #1457
@davydden: do you still see this?  Do you have a reproducer?

[2016-12-05 18:25] tgamblin commented on #1754
@eschnett: do you still see this and do you have a reproducer?

[2016-12-05 18:27] tgamblin commented on #2368
@alalazo: I have no particular affinity for `nose`, especially if it is not supported.  I think that @scheibelp should comment (in case there's anything in particular we need from `nose`).

How big of a change is switching to `py.test`?  Why'd you pick that one over the other options in the list?

[2016-12-05 19:24] adamjstewart commented on #1978
Ping @tgamblin

[2016-12-05 19:33] adamjstewart commented on #1978
Also, the GitHub description for Spack still points to http://llnl.github.io/spack. Can we update this to https://spack.readthedocs.io/en/latest/?

[2016-12-05 19:35] alalazo commented on #2368
I don't know yet, but I hope it won't be a big change as in `py.test` docs they say that it can run natively `nose` test suite. If you want to go this direction I would be glad to experiment with it in a branch.

The disclaimer is that I don't a have direct experience with `nose2`, and I used `py.test` only in small personal projects (mainly for educational purpose, see [here](https://github.com/a

[2016-12-05 19:50] krafczyk commented on #2155
@tgamblin: I'd like to verify that it's fixed, however I deleted the offending spack installation as soon as #2157 was merged which fixed the underlying problem causing spack to assign me two architectures depending on context. This is because I couldn't get anything done with spack otherwise.

[2016-12-05 21:50] tgamblin commented on #2155
@krafczyk: I'm reasonably sure that it's fixed, based on the error I'm seeing in your `spec` string above.  So we'll leave it closed -- feel free to file another if it reoccurs.

[2016-12-05 22:00] eschnett opened #2489 "How to handle packages that Spack cannot download?"
I want to package CosmoMC. To download, you have to enter your email address on a web site and accept a licence. A download url is then emailed to you. How do I tell Spack about this? I assume I will download the tarball manually and then somehow point Spack to it.

The packaging guide has a section on "licensed software" <https://spack.readthedocs.io/en/latest/packaging_guide.html#licensed-softwa

[2016-12-05 22:08] alalazo commented on #2489
@eschnett You can create a mirror and put the tarball inside it. `spack` will try to fetch from mirrors before trying download `urls`.

[2016-12-05 22:17] adamjstewart commented on #2489
It isn't really documented, but @alalazo is right. See http://spack.readthedocs.io/en/latest/mirrors.html for details on how to create a mirror.

Check out the following packages for software that behaves similarly to yours:

- converge
- cuda
- daal
- intel
- intel-parallel-studio
- ipp
- mkl
- pgi
- turbomole
- vizglow

The unofficial standard that we started using was to use a URL like:
[code]

[2016-12-05 22:55] aprokop commented on #2342
@citibeth @alalazo Any ideas about this one?

[2016-12-05 23:35] citibeth commented on #2489
I added the "documentation" tag to this.  Someday, someone will make (another) sweep through open Issues and implement all the "documentation"-tagged issues.

[2016-12-05 23:47] citibeth commented on #2342
Looks to me like you've run into #1623.

[2016-12-05 23:52] citibeth commented on #2342
Also watch out for #1622 if you're putting a lot of stuff in `packages.yaml` (AFAIK, I'm the only person so far who has tried to work that way, hence the bugs).  You might also want to look at the `efischer/develop` branch for any other bug fixes / workarounds that have not yet made it into the main `develop`:

https://github.com/citibeth/spack/tree/efischer/develop
https://github.com/LLNL/spack/p

[2016-12-05 23:55] citibeth commented on #2466
I'm concerned about it for two reasons:

1. Different packages have different CMake version requirements.  So there is no one-size-fits-all `depends('cmake')` command.

2. We continue to go down the path of making things more implicitly automagic in order to save a few lines in the `package.py` files.  I continue to think that is a dangerous idea --- at least something we should have a serious dis

[2016-12-06 01:48] TomasPuverle commented on #2150
Pretty much the same as my issue: #2473

[2016-12-06 07:48] davydden commented on #2380
what about `pic`, i presume it's on by default on all static libs, right? I does not really hurt much so i would say we don't have to cary around extra variant.

p.s. I don't have a strong opinion on how to call a single variant to control shared/static, namely `shared` with `+shared` default, or `static` with `~static` default.

[2016-12-06 10:00] alalazo commented on #2380
@citibeth If I understand your proposal correctly, i.e.:

- there's only one variant that controls shared/static
- if in shared mode pic is assumed if you can only build static libraries

then I fully agree with it.

I don't see why we may want to use:
[code]
 instead of
[code]
as there are 32 package that now adopt the opposite convention vs. 0 that adopt this one, but if people like the renaming

[2016-12-06 11:12] citibeth commented on #2380
No, pic is off for static.  You only need it if you plan to link with
dynamic libs.
On Dec 6, 2016 5:00 AM, "Massimiliano Culpo" <notifications@github.com>
wrote:

[2016-12-06 11:20] alalazo commented on #2380
Sorry, I don't get to what part of the comment you are replying...

Anyhow,  I am fine as long as we keep only one variant. If we want to go with `static` then:

- `+static` means build libraries that can be linked statically
- `~static` means build libraries that can be linked dynamically (so either shared libraries or static with pic)

If we want to maintain the current convention just substitut

[2016-12-06 11:23] citibeth commented on #2380
h

In 1990, static libs were standard and people were just beginning to add
shared libs to their builds.  '+shared' made sense from that point of
view.  Today shared libs are standard, so it makes sense to acknowledge
that by using '+static' for the nonstandard build.

That is right.  Under my scheme, pic would only be used if you don't ask
for '+static' and the build is unable to make a shared li

[2016-12-06 11:41] davydden commented on #2380
It looks like we all agree to use a single variant, so it only a matter of taste how to name it: shared or static. @tgamblin ping

[2016-12-06 11:45] citibeth opened #2492 "Re-work shared vs. static builds (Universal Variants)"
@davydden @adamjstewart @alalazo @tgamblin

This is a continuation of #2380.  It's in a new thread because the proposal now goes far beyond documentation.  The idea would be to **Create a dummy package (call it `spack` for now) with a multi-valued variant (#2386; call it `library-type` for now taking enum values `shared` and `static`).  Then make the base class `Package` `depends_on('spack')` (#24

[2016-12-06 11:46] citibeth commented on #2380
Sorry, I disagree after a night's sleep; see #2492

On Tue, Dec 6, 2016 at 6:41 AM, Denis Davydov <notifications@github.com>
wrote:

[2016-12-06 12:02] alalazo commented on #2492
I think this is really going somewhere. The only thing that doesn't convince me out of the box is the implementation with fake dependencies in a base class, as we may find something cleaner. But having globals for certain properties definitely makes sense.

We may even provide a `spack globals` command to set or query them from cli like:
[code]

[2016-12-06 12:06] citibeth commented on #2492
In general, I think we should avoid building additional machinery if
etisting stuff can be used to do the job.
On Dec 6, 2016 7:02 AM, "Massimiliano Culpo" <notifications@github.com>
wrote:

[2016-12-06 12:09] alalazo commented on #2492
That's debatable, but my point is that the implementation would be a stretch of the dependency model, at least logically. Anyhow I consider this a minor issue at the moment.

[2016-12-06 12:12] alalazo commented on #2466
What I propose above involves substituting the use of `inspect.stack` with meta-classes. It's not additional machinery, just a refactoring of the existing one that permits to inherit across different module files (currently you can't).

[2016-12-06 12:17] citibeth commented on #2466
I have mixed feelings:

1. I like the idea of being able to inherit `depends_on()` declarations ---
even if I'm not thrilled about its application in this particular case.

2. I don't like things that require meta-classes to implement: we will lose
99% of Python programmers at that point.  But given that this is buried
deep within Spack and not user-visible, I'd give it a pass --- as long as
we ca

[2016-12-06 14:15] davydden commented on #1457
@tgamblin

This should still be the case, to trigger you need to patch `hwloc` to have different dependency type on libtool and then check hashes of `dealii@develop~python+mpi ^boost+python` and `dealii@develop`:
[code]
The hashes of `hwloc` should be different. The latest clues are https://github.com/LLNL/spack/issues/1457#issuecomment-239318984

[2016-12-06 14:30] davydden commented on #2484
@tgamblin I don't think I understand your question, but my understanding that using mock up XCode in Spack (which leads to `/Users/davydden/spack/var/spack/stage/xcode-select/clang/8.0.0-apple/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/cpp`) makes config system of `X11` unhappy. If you look at `x11`, there are no arguments provided to the config but `prefix`:
[code]

[2016-12-06 15:51] adamjstewart commented on #2466
@citibeth This won't be a problem. You can always add `depends_on('cmake@1.2.3:')` to your package to make a more specific version constraint. Spack won't complain that you used `depends_on('cmake')` twice.

[2016-12-06 16:28] hartzell opened #2494 "Can I use URLFetchStrategy w/out a checksum?"
The texlive distribution seems to roll out new tarballs at the drop of a hat.

I thought about just deleting the digest and treating it like 'develop' (even renaming the version) but URLFetchStrategy seems to insist on a digest.

So two questions:

1. is there a directive/interface that I can use to specify "Here is the URL for a tarball, it's untrusted."

2. Should I, or should we just keep tryin

[2016-12-06 16:38] adamjstewart commented on #2494
@citibeth

[2016-12-06 16:41] citibeth commented on #2494
The short answer is "no."

Does TeXLive roll out new tarballs on the same URL?  That would be a problem we need to think about...

[2016-12-06 16:42] citibeth commented on #2494
MacPorts can install TeXLive.  What do they do in their recipe?

[2016-12-06 16:47] citibeth commented on #2494
You probably want to mirror/download the TeX repo as a Spack resources.  The standard network install for TeXLive would not be legal in Spack.

https://www.tug.org/texlive/acquire-mirror.html

Then again, much of what Spack is built to do isn't so necessary for TeX.

[2016-12-06 16:49] adamjstewart opened #2495 "Infinite recursion in spack spec"
When I clone a fresh copy of Spack and run:
[code]
This also occurs for me with other very large packages like `dealii`. Interestingly enough, I am unable to reproduce this on another computer. I've tried newer versions of Python but no luck. This definitely wasn't a problem until recently. Any ideas?

[2016-12-06 16:54] alalazo commented on #2495
Can you post the output of this where the problem occurs ?
[code]

[2016-12-06 16:56] adamjstewart commented on #2495
Looks like the limit is 1000 on both computers, so this isn't the problem.

[2016-12-06 17:01] adamjstewart commented on #2495
Identified the difference between computers. On one computer, I have the following in my `packages.yaml`:
[code]
the other does not. When I copy this to the other computer, it breaks all of a sudden.

[2016-12-06 17:06] adamjstewart commented on #2495
So either adding the tk dependencies to Python just barely pushes me past the 1,000 recursion depth limit, or it is introducing an infinite dependency loop somewhere.

[2016-12-06 17:09] adamjstewart commented on #2495
For the record, anyone should be able to reproduce this problem. The following works:
[code]
The following crashes:
[code]

[2016-12-06 17:09] alalazo commented on #2495
This is easy to check tweaking `spack`. Just add:
[code]
at the beginning of the script and see if it solves the problem.

[2016-12-06 17:11] adamjstewart commented on #2495
@alalazo I tried setting the recursion limit to 100,000 and it segfaulted. Sounds like an infinite loop to me.

[2016-12-06 17:13] alalazo commented on #2495
It's an infinite recursion:
[code]

[2016-12-06 17:18] alalazo commented on #2495
Gotcha! Not a dag anymore:
[code]

[2016-12-06 17:30] adamjstewart commented on #2495
@alalazo Is it just because `python+tk` depends on `tk`, which depends on `python+tk`?

[2016-12-06 17:33] adamjstewart commented on #2495
If I remove the Python dependencies from `libxcb` and `xcb-proto`, things work again.

[2016-12-06 17:34] alalazo commented on #1457
@tgamblin @adamjstewart I may have one originating from a patological case in #2495 where the graph is no more acyclic:
[code]
Check the concretized `tk`: there are two version of it in the DAG which look like they are identical to one other, just the hashes change.

Another funny thing is that this command completes because the dependency on python is of `type=build` and is treated differently (a

[2016-12-06 17:53] adamjstewart commented on #2495
Looks like this problem arose after #2053 was merged. If I comment out the tk dependency on libx11, it works again.

[2016-12-06 17:54] jrood-nrel opened #2496 "Permissions error copying XCode on OSX when trying to install a package"
@mathstuf When using Spack on my OSX (10.11.6) laptop with XCode (8.1), and trying to install a package using Spack, it appears to copy the entire XCode directory into Spack and by default it appears I do not have the correct permissions for some folders:

==> Warning: Copying Xcode from /Library to /Users/jrood/spack/var/spack/stage/xcode-select/clang/8.0.0-apple in order to add spack wrappers to

[2016-12-06 17:57] adamjstewart commented on #2496
Duplicate of #2363. You're not the only one with this problem. @davydden?

[2016-12-06 17:58] davydden commented on #2496
I don't have that problem, no idea why

[2016-12-06 18:59] adamjstewart commented on #2123
Just saw this error message again.

[2016-12-06 19:01] adamjstewart commented on #2123
Also, I'm seeing duplicate packages for all of my installations. Did the hashing mechanism change again??

[2016-12-06 19:25] scheibelp commented on #2368
The original reason I swapped to nose was to generate XML-formatted test results (specifically: xunit) to be read by a continuous integration server (original PR here: https://github.com/LLNL/spack/pull/202). py.test and nose2 both support this so it should be fine to switch.

It also should not be much hassle to remove nose: using nose did not require modifying the unit tests directly; most of th

[2016-12-06 21:49] hartzell opened #2497 "Install, uninstall, reinstall dies"
I have a script that's a variation on something @eschnett posted to the mailing list a while back.

It starts off like so (and goes on to install a bunch of things):

[code]

I got everything to install, fixing failures along the way, then did a `spack uninstall -a` and removed "my" compiler from etc/spack/compilers.yaml.

I ran the script again, it built gcc and was building R prerequisites when

[2016-12-06 22:00] tgamblin commented on #2368
@alalazo: If it works, then, I think going with `py.test` would be good.  i agree with (1) that nose configuration is kind of weird -- there are places where it isn't clear whether we should set an env var, pass a parameter, or add some plugin.  If `py.test` works better and is maintained, let'd do it.

Also, if you remove `nose` and switch to `py.test`, you'll keep growing your removed-lines reco

[2016-12-06 22:01] hartzell commented on #2494
Yes.  Sigh...

I used to support TeX installations from first principles but it's become such a circus (and I use TeX tools much less seriously than I used to) that I'm not particularly interested in crafting a *de novo* install, they've simply made it too hard.  It's another instance of "instead of cleaning up stuff, we'll just hide it all behind a shower curtain (Docker, I'm looking at you...)"

[2016-12-06 22:06] becker33 commented on #2494
I’ll consider myself suitably flogged.

@tgamblin do you have an opinion on this? For now I think it would be fine to update the digest. In the long run I think we want to figure out a way to treat it like a head checkout of a github repo.

[2016-12-07 01:31] citibeth opened #2498 "Check for cycles in DAG"
Spack should check for cycles in the DAG when doing `spack install` or `spack spec`.  If a cycle is detedted, it should exit gracefully (and display USEFUL information allowing the user to find the cycle).  See #2495

[2016-12-07 01:41] citibeth commented on #2495
This problem (circular dependency) was also noted in #2098 and is similar to #2321 (where we discussed a bunch of ideas, resulting in #2325)

We will see this problem more as we try to make Spack more complete.  I suggest the following approaches to it:

1. The theoretically correct solution to this problem is to recognize that dependencies exist as a SPIRAL, not a DAG.  At the most basic level...

[2016-12-07 02:00] citibeth commented on #2494
I've spent some time looking at the TeXLive distro, and thinking about it.  My more informed thoughts are:

Spack provides the service of coordinating a bunch of packages in a DAG, in which you know exactly what is depending on what.  Builds are repeatable (with the same Spack, `packages.yaml`, etc).  It can download and install 1000+ pieces of software.

The TeXLive network install is an installe

[2016-12-07 02:02] citibeth commented on #2494
BTW... if `rename` needs `perl` as a build dependency, then `texlive` should probably have it as well (I don't know if it does already).

[2016-12-07 02:08] tgamblin commented on #2494
Would it be reasonable to piggyback on one of the TeXLive versions maintained by the various distros already out there?

* https://www.tug.org/texlive/distro.html

We would not have the "latest" version, but we would at last have a stable version in Spack.

[2016-12-07 02:12] citibeth commented on #2494
I think it would be great if Spack could use the recipes from one or more
of those distros.  If that were possible (and in theory it is possible),
then we could get a lot of new Spack packages for "free" (or at least for
cheap).

On Tue, Dec 6, 2016 at 9:08 PM, Todd Gamblin <notifications@github.com>
wrote:

[2016-12-07 02:16] tgamblin commented on #2494
I think in this case we could just use the distro URLs instead of the "official" (but broken) URL.  If we want the latest develop version to function like a develop version, we can put it in as `svn` via https://www.tug.org/texlive/svn/.  Then you at least have SSL protecting you for the SVN checkout, and we label it `develop` per convention so people know what they're getting.

Sound good?

[2016-12-07 02:17] citibeth opened #2499 "Proposal: Dummy Variants"
This is in reponse to #2494 and others.

Spack packages get hash codes based on the spec used to install them.  The implicit assumption is that if two install directories have the same spec, then they will have the same software inside them.  This assumption breaks down for packages that are really installers for a suite of packages.  For example:
  a) `luarocks`, `pip`, etc --- these install stuf

[2016-12-07 02:18] citibeth commented on #2494
I like your idea of downloading from distros.  I doubt anyone needs a
Spack-installed latest-development version of TeXLive.

[2016-12-07 02:19] tgamblin commented on #2494
I guess we need to choose a distro to follow -- `pkgsrc` looks like a decent option, but I am not sure how current any of them stay or how reliable their releases are.  Might be good to look into that.

FWIW, homebrew doesn't bundle TeXLive because of exactly this crap, and they just recommend you install `mactex` instead, which is available [cask-only](https://caskroom.github.io).

[2016-12-07 02:22] citibeth commented on #2494
I've been happy so far installing TeXLive with MacPorts (on my Mac) and
CentOS7 (on my Linux machine).  But I suppose that someone stuck with an
ancient Linux machine who needs LaTeX might be out of luck.  Maybe they can
just install using the TeXLive installer script?

I'd be interested in understanding the motivation behind Spack's `texlive`
package.

On Tue, Dec 6, 2016 at 9:19 PM, Todd Gamblin

[2016-12-07 15:03] ashkan2200 opened #2503 "spack fails to include default variants as dependencies"
Hi all,

There is an issue with spack where if I input the command `spack install dealii ^trilinos@12.8.1` the command fails by saying `Dealii does not depend on trilinos`. However, Deal.II is compiled with Trilinos as one of the dependencies which are turned on by default.

On the other hand, if I point explicitly that trilinos should be enabled `spack install dealii+mpi+trilinos ^trilinos@12.8.1

[2016-12-07 15:23] citibeth commented on #2503
Yes, that's about how it works. I'll let others decide whether it's a bug or a feature.

You can also put a `trilinos` entry into your `packages.yaml` file, then you just have to write `spack install dealii`.

[2016-12-07 15:25] davydden commented on #2503
yes, it's known inconvenient behaviour that defaults are not considered so you need to help spack with `spack install dealii+mpi+trilinos ^trilinos@12.8.1`.

I generally find it easier to work with `packages.yaml` and put all my preferred versions/variants there.

[2016-12-07 15:28] citibeth opened #2504 "Satisfy Python build dependency with Spack's Python"
@tgamblin @adamjstewart @alalazo @davydden

The proposal is that when Spack encounters `depends_on('python@xxx', type='build')`, that it will satisfy that dependency with the Python being used to run Spack (if the version of that Python matches the requested spec), rather than a Spack-built Python.  This will eliminate some circular dependency problems we've been having, and also eliminate the nee

[2016-12-07 15:29] citibeth commented on #2503
I think this has been answered adequately, closing for now.

[2016-12-07 15:29] adamjstewart commented on #2503
Yes, this bug has been around since the early days of Spack. I believe #397 is the oldest known reference I've seen. @tgamblin has a lot of work planned for the concretizer, and I believe this is one of the issues we would all like addressed, just for the sake of avoiding confusion.

[2016-12-07 15:30] citibeth commented on #2503
OK my mistake closing... I re-opened and added the "documentation" tag.  Unless/until we fix, we should talk about this "gotcha" in the docs.

[2016-12-07 15:37] adamjstewart commented on #2504
I would be interested in a solution to the circular dependency problems I've been seeing and the Python 2 vs. 3 conflicts you've encountered. I think this part can be a little bit complicated though:

I have no idea how you plan to do that, but I would be interested to see what you come up with. In all honesty, I'm inclined to just remove the build dependencies and depend on system installations b

[2016-12-07 15:40] tgamblin commented on #2503
Can we add a "known issues" page to the docs to reduce the number of open issues?  We have some things like this in the getting started guide, but not in easily referenced form like I've seen other projects do.

It could even reference original issues on github, and then when we close duplicates, we can reference the original as @adamjstewart did so that there's a link to the new one.

[2016-12-07 15:43] adamjstewart commented on #2503
I would definitely be in favor of linking to original issues and closing duplicates. I always cringe at spending time documenting bugs vs. just fixing them, but for complicated bugs like this that may take a while.

[2016-12-07 15:46] citibeth commented on #2504
Using `sys.executable` and `sys.version`.  If `sys.version` works out, set `spec['python'].prefix` to that based on `sys.executable`.  (Actually... the `python` package should export the full pathname of the Python interpreter, like we do with LAPACK).

That would have a similar effect and be less effort.  Or... you can just put `/usr/bin/python` and `/usr/bin/perl` in your `packages.yaml`.  Maybe

[2016-12-07 15:46] tgamblin commented on #2504
We're planning on addressing this and other concretizer issues in the coming year.  I think in the interim though, the build deps are useful because they allow you to build in multiple stages.   I believe you can build the chain you mentioned above incrementally in two steps -- just not all at once.  That's not really a solution, but at least it is a workaorund.  It is sad that a human currently h

[2016-12-07 15:48] citibeth commented on #2504
@tgamblin Even if we can do the theoretically correct solution, do we want to force users to build Python as a build dep, even though a perfectly good Python is already running on their system?  I believe this is the kind of thing that could turn off users.  (It's a BIG criticism of MacPorts).

[2016-12-07 15:48] davydden commented on #2504
users can always setup external python in `packages.yaml`.

[2016-12-07 15:51] citibeth commented on #2503
There are two problems here relating to too many open issues:

1. Open bugs
2. Open documentation requests.

Why don't we make a two single Issues called something like "Known Issues"
and "Documentation Issues".  When we decide to close discussion on an issue
but mark it as something we wish to fix or document later, we link it into
those two Issues.

OK, I'll demo this...

On Wed, Dec 7, 2016 at

[2016-12-07 15:52] citibeth opened #2505 "Open Documentation Requests"
**PLEASE DO NOT POST TO THIS ISSUE!!!**

This is a list of all OPEN documentation requests that we do not wish to see cluttering up the Issues list.  Once a documentation request is satisfied, it should be removed by editing this post.

* How to handle packages that Spack cannot download? #2489

[2016-12-07 15:53] citibeth commented on #2489
Closing, as this has been moved to #2505.

[2016-12-07 15:57] adamjstewart commented on #2504
Users _can_, but as a pretty heavy Spack user, I _still_ don't really understand how to add external packages. All of this "`buildable=False`/fake path/fake `@system` version/version must be specified in spec and again separately" nonsense make that a real hurdle. A lot of users using this feature are just trying desperately to get Spack not to install duplicates of the same package. I think this

[2016-12-07 16:00] adamjstewart commented on #2503
Instead of documenting things that are missing from the documentation, and creating elaborate posts containing the information that should be documented... why don't we just add it to the documentation and close the issue? Yes, some missing documentation is contributor-knowledge specific (I'm looking at you @alalazo 😉) but a lot of these are pretty simple...

[2016-12-07 16:01] citibeth commented on #2504
I've made some issues where I sketched out some automated ways.  The
problem is, it will take a lot of work to translate the output of `yum` to
Spack packages --- and will have to be done separately for each OS.

On Wed, Dec 7, 2016 at 10:57 AM, Adam J. Stewart <notifications@github.com>
wrote:

[2016-12-07 16:02] citibeth commented on #2503
Because oftentimes other people provide the information in the post, and
nobody at the time has the time or inclination to fix the docs.  In the
past, I was very productive by tackling 10 small doc problems at once.

On Wed, Dec 7, 2016 at 11:00 AM, Adam J. Stewart <notifications@github.com>
wrote:

[2016-12-07 16:16] davydden commented on #2504
IMHO the only hurdle is `buildable=False`, otherwise something like this
[code]
makes perfect sense to me in case of `openmpi`.

i would not do that, otherwise Spack will quickly become a Homebrew which relise on a great number of system packages on macOS, and Linuxbrew which has hard time knowing what is actually needed. I very much like the fact that everything needed for the build is specified.

[2016-12-07 16:21] adamjstewart commented on #2504
It makes perfect sense to you that specifying `openmpi@1.8.8` causes Spack to ignore your package, but specifying `openmpi@1.8.8` **and** `version: [1.8.8]` works? We have gotten an awful lot of issues with confused users over this. I'm not the only one who finds this complicated.

[2016-12-07 16:23] citibeth commented on #2504
I agree with @adamjstewart this is poor UI design.  In the example above,
`openmpi` is repeated 3 times and `1.1.8` another 3 times.

I believe Adam was saying he wants to PERSONALLY rely on system packages,
not remove the good features of Spack that allow it to build its own
packages if needed.

On Wed, Dec 7, 2016 at 11:16 AM, Denis Davydov <notifications@github.com>
wrote:

[2016-12-07 16:23] davydden commented on #2504
oh, but this is a different issue. I agree that this is wrong and should be fixed. I am just say that external packages are not evil per-se, something just can be improved for sure.

[2016-12-07 16:25] davydden commented on #2504
not remove the good features of Spack that allow it to build its own
packages if needed.

i must have misunderstood. Let's hope https://github.com/LLNL/spack/pull/2507 will make life easier.

[2016-12-07 17:50] krafczyk opened #2510 "Allow multiple versions of the same package in the DAG in some situations."
Part of my goal here: #2320 is to make `py-jupyter_notebook` work for both python 2 and python 3. The problem is that `node-js` (a dependency of `py-jupyter_notebook`) requires python 2 and not python 3 for their build system to work. When I change the `node-js` speciifcation to reflect this, I get the error

[code]

Likely because concretization has selected 3.5.2 as 'the' python package to use s

[2016-12-07 17:55] adamjstewart commented on #2510
I agree that instead of preventing the same package from being used twice, we should prevent the same spec/hash from being used twice. This would also fix the problem I ran into in #2495 where `libxext` depends on Python, and I have `+tk` enabled, but tk depends on python as well. If I could simply build with `python~tk`, the problem would go away.

There are orthogonal discussions going on in #25

[2016-12-07 17:57] krafczyk commented on #2510
Is there a DAG improvements general issue where we can talk about and aggregate all the DAG improvement we want?

[2016-12-07 18:00] #2352 closed

[2016-12-07 18:01] krafczyk commented on #2352
This was merged in #2343.

[2016-12-07 18:02] becker33 commented on #2510
#839 is designed to address this, as does #1770. Both are still WIP.

[2016-12-07 18:03] krafczyk commented on #2510
Thanks for pointing these out to me.

[2016-12-07 18:04] hartzell commented on #2494
@citibeth --

Speaking only for myself (though I am the perpetrator...), I'm looking for tooling that will let me set up computational biology/bioinformatics computing environments.  Within an organization, my concern spans "HPC" clusters (managed by sun/univa grid engine) + individual linux boxes that share storage, stand alone systems on site, and various systems spun up in the cloud (clusters u

[2016-12-07 18:13] citibeth commented on #2494
Thank you for taking the time, that was really interesting.  As I said
before... I think you should just finish the TeXLive stuff in the most
expedient way, and forget about doing it in a theoretically "correct" way.
I would just add warnings explaining what's going on in the TeXLive
`package.py`.

[2016-12-07 18:25] tgamblin commented on #2494
@hartzell: Thanks from me too.  Use cases are always good to have.  I wonder how often @everyone gets mentioned in random threads on github 😄

To answer your original question, though:

1. No, you can't have a URL version without a checksum -- we don't allow that.
1. You *can* use the `--no-checksum` argument to `spack install` if you want to explicitly disable checksumming.  You can also globally

[2016-12-07 18:25] #2494 closed

[2016-12-07 18:27] TomasPuverle commented on #2499
Interestingly, I was about to make a similar topic; What I wanted to suggest is to nuance the "variant" notion into "variants" and "features".  I've come across similar issues on the mailing list to do with too much rebuilding; and in the case of e.g. libraries which have many subcomponents, having them distinguished by variant I believe is a waste.

The difference, at least from a high level, is

[2016-12-07 18:30] adamjstewart commented on #2499
@TomasPuverle You might want to take a look at #2386. @alalazo is adding better support for mutually exclusive variants.

[2016-12-07 18:36] citibeth commented on #2510
See also #2504 #2498 #2495 #2098

As a workaround, temporarily remove the build dependencies for Python.  Then `node-js` should build with the System Python.

[2016-12-07 18:39] citibeth commented on #2499
satisfied by any install for which the feature was enabled.
I believe that's already the way it works.

On Wed, Dec 7, 2016 at 1:27 PM, TomasPuverle <notifications@github.com>
wrote:

[2016-12-07 19:12] tgamblin commented on #2503
The idea was to add a section called "Known Issues" in the docs and link to github issues for long-standing things... I don't see how the new issues help people a) find the information more easily or b) cut down on the number of open issues.

[2016-12-07 19:27] citibeth commented on #2503
It looks like there are two slightly different proposals here:

1. Add a section called "Known Issues" in the docs and link to github issues for long-standing things...

2. Create an Issue thread called "Known Issues" and link to github issues for long-standing things.... (and also create a single link to this "Known Issues" thread from the docs).  [See #2505 for an example of how the "Known Issue

[2016-12-07 19:45] #2510 closed

[2016-12-07 20:32] tgamblin commented on #2503
@citibeth:

1. I suspect, though I could be wrong, that a known issues page would incite considerably less controversy than the contributor guide.  Does anyone disagree about which issues are known?  I think we're all pretty open about that.  It's much more clear cut than "what should every PR submitter have to do".

2. The timescale we're talking about here is long.  I am not so concerned about t

[2016-12-07 20:53] tgamblin commented on #2499
I think what you're proposing is that we allow different installs to be named.  So I could install one meta-installer for one environment and another for some other environment like:

    spack install npm name=webapp_stack_1
    spack install npm name=webapp_stack_2

And install packages in each of those separately.  Only difference being that the user picks the name.  On its face this seems reas

[2016-12-07 20:54] tgamblin commented on #2499
@TomasPuverle: That is in fact how it works, logically.  `depends_on('foo+bar')` will be satisfied by *any* foo that has `+bar`, regardless of other variant options.

However you may have run into the issue that we concretize first without looking at what is installed, and then reuse by exact hash.  There are lots of discussions on that, and the plan is to try to make Spack more aggressively reuse

[2016-12-07 20:59] citibeth commented on #2503
Does this mean writing them up for the docs in RST format?  Or does it mean
simply putting a GitHub link into the docs?

Still, submitting a PR for every known-issue would still be a pain. How
about this... when we see a known issue that needs to head to the docs, we
tag it with known-issue and documentation.  Someone else figures out what
to do later when collecting the documentation tags...

[2016-12-07 21:02] citibeth commented on #2499
As I envisioned it, packagers would just add a `name` variant to the few
packages where it makes sense; no need to touch core Spack.

...but can you do this with `spack install`, not `spack diy`?

[2016-12-07 21:04] tgamblin commented on #2499
like you can already do with spack diy ***@***.***

You can't.  `diy` actually just trusts you entirely about the version.  I actually think adding a name variant is clearer.

[2016-12-07 21:53] #2400 closed

[2016-12-07 23:55] jrood-nrel opened #2519 "'spack env package %compiler' error"
`spack env package %compiler` appears to error for me
`spack env package%compiler` appears to work for me

I believe the space should be legal, correct?

[2016-12-08 00:09] xjrc opened #2520 "Incorrect Spec Resolution When Specifying Hash for Dependency at Install"
There is a bug in Spack that causes a dependency's `spec` to be resolved incorrectly if the dependent package specifies the dependency through its hash when invoking `spack install` (e.g. `spack install package ^/dephash`).

To reproduce this error, perform a fresh install of the latest version of Spack and run the following commands:

[code]

The second command will fail to install `hdf5~shared~p

[2016-12-08 03:09] citibeth commented on #2489
The decision was to just leave this as an open thread until it makes its way into the docs.

[2016-12-08 03:10] #2505 closed

[2016-12-08 04:00] svenevs opened #2521 "flex and scotch conflicts"
Hello,

I was trying to install something else that through the chain wanted to install `scotch`.  I originally thought that `scotch` was failing, it had a bunch of `undefined reference to scotchyywrap` stuff going on.  The great google gods led me to [here](http://stackoverflow.com/questions/1811125/undefined-reference-to-yywrap), and I realized it was probably a `flex` conflict.  I really have n

[2016-12-08 08:54] #2306 closed

[2016-12-08 09:01] #1784 closed

[2016-12-08 09:15] tgamblin commented on #1689
@lee218llnl can you please verify that this doesn't happen anymore since #1980 has been merged, and reopen if it does?

[2016-12-08 09:15] #1689 closed

[2016-12-08 16:21] adamjstewart commented on #2123
Happened again to me today.

[2016-12-08 16:56] adamjstewart commented on #2521
Confirmed that this bug occurs for me on CentOS 6 with GCC 6.1.0. Confirmed that rolling back to an older version of flex works. Will submit PR shortly.

[2016-12-08 17:37] #2521 closed

[2016-12-08 18:07] skosukhin commented on #2350
1. Doesn't work
2. Works
3. Doesn't work
4. Works

[2016-12-08 18:09] citibeth commented on #2350
Thank you; that looks to me like a full endorsement of the patch.

On Thu, Dec 8, 2016 at 1:07 PM, Sergey Kosukhin <notifications@github.com>
wrote:

[2016-12-08 19:01] mplegendre commented on #2504
As a note, that "version [1.8.8]" isn't required when specifying externals. That's telling Spack that it should prefer openmpi 1.8.8 over other versions when concretizing.

But that config just lists one external openmpi, so there's not going to be other versions.

[2016-12-08 19:05] becker33 commented on #2519
I see the same error. From a comment in the python file for the env command:

"# Specs may have spaces in them, so if they do, require that the
# caller put a '--' between the spec and the command to be
# executed.  If there is no '--', assume that the spec is the
# first argument."

So this seems like the designed behavior. @tgamblin is this really the behavior we want for `spack env`? It makes t

[2016-12-08 19:20] becker33 commented on #2350
Closing this issue as @citibeth created it and has considered it resolved.

[2016-12-08 19:20] #2350 closed

[2016-12-08 21:16] cyrush commented on #2496
I was surprised to find that spack now makes a copy of xcode on OSX.

Is this absolutely necessary?

Since I have several spack instances this wastes quite a bit of space.

[2016-12-08 21:34] mathstuf commented on #2496
On Thu, Dec 08, 2016 at 13:16:59 -0800, Cyrus Harrison wrote:

Yes, some projects only look at Xcode for the compiler (e.g., Qt5), so a
hacked up Xcode is made which replaces the compilers with spack's
wrappers (which are needed to get dependent linker paths and such)..

Work was done to try and minimize what is copied, but there is likely
more to trim if you're interested (it was 12G or so; got i

[2016-12-08 21:39] tgamblin commented on #2496
@cyrush: it's really for Qt5 -- this was the only way @mathstuf was able to get it to build.

@mathstuf: it looks like currently makes the copy in the `stage` directory.  Could that be moved to [`misc_cache`](http://spack.readthedocs.io/en/latest/config_yaml.html) so that things can share the same mock XCode and so that it doesn't get purged by the system? (The stage directory can be in a volatile

[2016-12-08 21:39] cyrush commented on #2496
would it be possible to only do this for qt5?

[2016-12-08 21:53] cyrush commented on #2496
I understand the importance of qt5, but my gut tells me trying to mock something as complex as xcode is going to be a long term maintenance nightmare.

It seems like there should be a way to create qt spec that would point to spack's compiler wrappers.  Obviously I don't know the full details, was there a discussion about what cropped up before the mocked xcode?

[2016-12-08 21:53] xjrc commented on #2520
This is potentially related to #1377, but I don't think that this bug existed at the time #1377 was submitted.  As far as I can tell, this was issue was introduced into Spack at some point since commit edfe2297fd0bd376c8026d9309b241300ab65ed1 was merged (i.e. the last month or two).

[2016-12-08 21:58] tgamblin commented on #2496
@cyrush: So Ben actually tried mocking a Qt spec up first, and ran this up to Qt support.  They basically said that XCode was the only way to build Qt on a mac.  The layer we have to mock up is relatively small -- this basically just gets XCode to point at the OS X compilers. If we could get a thinner mock layer (maybe using more symlinks?) that would be nice but I was relatively convinced when we

[2016-12-08 22:05] tgamblin commented on #2363
@mathstuf

[2016-12-08 23:05] cyrush commented on #2496
@tgamblin thanks, from that report trying something else could be an endeavor and maybe futile.

I think only doing this mocking when building packages that need it is a good thing to strive for.  It limits the fallout when things go wrong.

[2016-12-08 23:24] jrood-nrel opened #2528 "Propagating compiler flags into MPI wrappers"
I am using the Intel compilers and have `cflags: -gcc-name=/.../gcc/.../bin/gcc` etc, in my compilers.yaml for it to use the GCC frontend because Intel can't afford a frontend or whatever. When I build something like OpenMPI and the MPI wrappers get used by dependent packages, these flags don't propagate. Therefore my first guess is that I would like to do something like this in the OpenMPI packag

[2016-12-08 23:33] becker33 commented on #2528
I haven't fully thought through your issue to see why and whether you need to access the compiler flags from the package.py file. However, if you do need to, you should be able to using `self.compiler.flags[cflags]`, etc.

[2016-12-08 23:37] tgamblin commented on #2528
You should be able to get at the compiler flags like this:

[code]

For a build like this:

[code]

In the build environment for `foo`, we set `OMPI_CC`, `OMPI_CXX`, etc. to the compiler wrappers, so that `mpicc` *does* use Spack's wrappers, but they're configured for the build of `foo` (as they should be).  When `mpicc` is called outside Spack, those vars aren't set by Spack, and it uses the regu

[2016-12-08 23:39] tgamblin commented on #2528
@becker33: I wonder if we should make the interface through `Package` (`self.compiler.flags`) and `Spec` (`self.spec.compiler_flags`) more consistent.

[2016-12-08 23:42] becker33 commented on #2528
@tgamblin's warning about the flags being stored as an array also applies to flags grabbed using the syntax I presented as well.

We discussed making the compiler flags an attribute of the compiler spec instead of the top level spec. I don't recall what technical challenges caused us to go with the implementation we currently have. I don't think it's meaningfully dissimilar to other aspects of the

[2016-12-08 23:45] lee218llnl commented on #1689
@tgamblin Confirmed that this no longer occurs.

[2016-12-08 23:46] tgamblin commented on #1689
Thanks!

[2016-12-09 00:00] jrood-nrel commented on #2528
Ok so maybe this is already solved and I'm just being ignorant. I think I'm looking at the way to get around this in the trilinos package file, i.e. I should explicitly be doing this:

[code]

Then Spack shoudl include the flags right? My problem is that I'm letting CMake find the MPI wrappers implicitly which then _don't_ include the flags. Let me try this.

[2016-12-09 02:22] jrood-nrel commented on #2528
So I am using:

[code]

and I have this in OpenMPI configure:

[code]

and it is not giving me the flags specified in compilers.yaml:

[code]

I also tried this in the package CMake configure:

[code]

and it does not appear to add the flags I need for GCC emulation from compilers.yaml either.

[2016-12-09 02:40] jrood-nrel commented on #2528
Also `self.compiler.flags[cflags]` or `self.compiler.flags['cflags']` both seem to give me errors in a package file.

[2016-12-09 02:56] TomasPuverle commented on #2499
Clearly, due to a combination of my preconceptions, and the observed behaviour I arrived at an incorrect conclusion.  Does the manual say anything about this "supersetting"? I have no recollection of it.  Up until the comments above, I was under the impression that a variant implied a completely incompatible version.
But if that's the case, I don't really understand - are you saying that in genera

[2016-12-09 02:59] TomasPuverle commented on #2499
I've seen some of those, and perhaps that's where some of my confusion
stems from.  Would the abstract repo ordering I suggested perhaps help
address some of these issues?

On 12/07/2016 02:54 PM, Todd Gamblin wrote:

[2016-12-09 09:15] davydden commented on #2199
i also have problems with uninstalling by hash, it used to work:
[code]
Btw, `spack uninstall -h` should mention that you can use hashes.

[2016-12-09 09:17] davydden commented on #2199
interestingly enough it worked for another package (`cmake`).

[2016-12-09 11:19] davydden opened #2532 "optionally add maintainers to each package"
I think it would be good to add _maintainers_ (in a very relaxed sense) -- a list of github users who are recommended to be pinged when the package is modified.

Something like
[code]
which is also to be printed in `spack info`.

Those maintainers could be individuals who:

- are (co-)authors of the software and are using Spack
- added the `package.py` to Spack
- sysadmins who use this specific pa

[2016-12-09 13:53] mathstuf commented on #2363
`ParentalControls` can probably be excluded from the spack copy of Xcode. Would need to be tested though.

[2016-12-09 13:59] mathstuf commented on #2496
IIRC, the compiler object is shared for the entire tree, no? So how do we have a package signal that it needs help (which may be on a per-compiler basis) and of what kind? IMO, it's easier just to have the compiler act the same for all packages rather than trying to figure out why you need to do some extra work for package A versus package B, but that's me.

Upstream for Qt5 basically said "good l

[2016-12-09 14:22] davydden opened #2534 "SLEPc fails to configure with Spack's python"
I just wiped my installation of Spack to re-install and check things and got the error `Symbol not found: __PyCodecInfo_GetIncrementalDecoder`:
[code]
Looking at the history of `python` package, i don't see what could have led to this.

For now will be using
[code]

[2016-12-09 14:36] adamjstewart commented on #2363
I don't think it's only ParentalControls. I received thousands of lines of permission denied errors.

[2016-12-09 14:42] adamjstewart commented on #2495
This problem happened to me again for `libxml2` and anything that depends on it because I have `libxml2+python` set in my `packages.yaml`.

[2016-12-09 14:47] adamjstewart commented on #2199
@davydden I've always had problems with:
[code]
but this generally works:
[code]
If neither work, then it sounds like you've ran into the same case as me.

[2016-12-09 14:49] davydden commented on #2199
you are right, i actually did not notice that I specified package to be uninstalled twice: with the name `cairo` and with  the hash `722bfct`. Probably that was the reason. Just confused myself :smile:

[2016-12-09 15:04] mathstuf commented on #2363
Is this a new Xcode release? Can you copy it yourself? With `sudo`? I wonder if Apple hasn't locked things down again…

[2016-12-09 15:22] adamjstewart commented on #2363
Haven't tried sudo yet, but I'm sure that would fix it. We probably shouldn't require Spack to be run with sudo on macOS, even if it is only the first time. How does Homebrew handle this?

[2016-12-09 15:26] davydden commented on #2363
IIRC, they require to run once with `sudo` to allow non-root user to write into `/usr/local`

[2016-12-09 15:27] davydden commented on #2363
+1000000

[2016-12-09 16:39] adamjstewart opened #2537 "Compiler in spec ignored for build dependencies"
I've never noticed this before, but I don't think it's the intended behavior??
[code]
It looks like all of the build dependencies are building with GCC even though Intel was specified. @mathstuf Is this how things are supposed to work?

[2016-12-09 16:55] davydden commented on #2537
do you by any chance specify which compiler to prefer in `packages.yaml`?

[2016-12-09 17:00] adamjstewart commented on #2537
@davydden Nope. Can you not reproduce this? Mac defaults to clang now right? Try running `spack spec eigen %gcc`

[2016-12-09 17:02] davydden commented on #2537
yes, i think i see similar effects:
[code]

[2016-12-09 17:25] citibeth commented on #2199
That should be an easy fix...

On Fri, Dec 9, 2016 at 9:49 AM, Denis Davydov <notifications@github.com>
wrote:

[2016-12-09 17:57] davydden opened #2540 "OpenMPI compiler can't be used outside of Spack on macOS with Clang"
that looks like a regression:
[code]

It certainly did not behave like that a month or so ago and one was able to build with Spack build MPI.

[2016-12-09 18:06] adamjstewart commented on #2540
This is supposed to be handled in the OpenMPI package under:
[code]
Can you add some debug messages and rebuild it and see if this gets run?

[2016-12-09 18:23] scheibelp commented on #2537
That was me who added this behavior (and it is intentional): build deps now default to frontend compiler. If this is not desirable alternatives can be discussed.

PR was: https://github.com/LLNL/spack/pull/2292

[2016-12-09 18:30] citibeth commented on #2534
My guess is your Spack-installed Python executable @2.7.10 is picking up system-installed Python 2.7.10 binary packages.

http://stackoverflow.com/questions/34386527/symbol-not-found-pycodecinfo-getincrementaldecoder

I think that's the right choice for people who need Python only as build dependencies.

[2016-12-09 18:31] scheibelp commented on #2537
This part appears incorrect though:

[code]

bzip2 and others should have been built with clang in this case - I'll need to check into this (ASAP)

[2016-12-09 18:31] citibeth commented on #2532
The alternative is to just use `git blame` when something goes wrong.

[2016-12-09 18:31] adamjstewart commented on #2537
Interesting. I don't _think_ it will be a problem for me? And it will lead to less duplication of build-dependencies, which no one really cares that much about. Is there a way to specify what compiler the build dependencies are built with, or do you have to do them one at a time on the command line? Do they still reflect preferences chosen in`packages.yaml`? I think there are a lot of questions st

[2016-12-09 18:37] davydden commented on #2534
Could be, but it certainly did do that before. So something must have changed so that this started to happen...

[2016-12-09 18:39] davydden commented on #2532
I think you address a different issue. As I tried to explain above, i would NOT consider maintainer to be responsible for packages, it's more like **volunteer** peers to review PRs or give advices for related issues. In other words, not everyone who ever contributed any changes to the given package will be listed as maintainers.

[2016-12-09 18:40] scheibelp commented on #2537
Yes - with the caveat that it filters out compilers that aren't defined for the frontend architecture.

At the moment one-at-a-time is the only way. There could be an option to disable the behavior entirely

[2016-12-09 18:41] davydden commented on #2537
is it documented? If not, I am adding the label to remind ourselves about it.

[2016-12-09 18:43] scheibelp commented on #2537
No, and it should be come to think of it.

[2016-12-09 18:44] adamjstewart commented on #2532
I wonder if we could work some git voodoo so that anyone listed as a maintainer is automatically added to the list of reviewers when a PR is submitted. But as @davydden said, maintainers aren't just the ones who have edited the file. They can also be people who heavily depend on the packages and are willing to vet/test any changes made to that package.

[2016-12-09 18:45] davydden commented on #2532
yes, ideally that would be good to have.

[2016-12-09 18:45] citibeth commented on #2534
2.7.11/12 were merged July 15, I suppose this isn't a change for you.

On Fri, Dec 9, 2016 at 1:37 PM, Denis Davydov <notifications@github.com>
wrote:

[2016-12-09 18:46] adamjstewart commented on #2532
Even without it being automagic, being able to see who is listed as a maintainer and manually pinging them to make sure they are ok with the changes would probably be nice. Especially for packages where the developers are also Spack users/maintainers.

[2016-12-09 18:48] davydden commented on #2534
no, for sure not. I have been using Spack build python when switching to Siera and the versions was 2.7.12. So the timeframe of this issue is roughly last two months.

[2016-12-09 18:54] tgamblin commented on #2532
I think this is an awesome idea.  I'd assume we'd add some more Travis tasks or maybe some other kind of webhook service to handle this.  We'd need to make sure the maintainer mentions don't get picked up in forks, but aside from that I see no problems with allowing people to volunteer to watch packages -- I think it would be really useful.

[2016-12-09 18:55] adamjstewart commented on #2537
Btw, why was this change made exactly? Is it only necessary for Cray/BGQ clusters?

[2016-12-09 18:58] davydden commented on #2540
i checked files and it looks like this is was run, for example `mpicc-wrapper-data.txt` contains
[code]
...and **this IS the problem**, actually! Because when building with `clang` it points not to
[code]
but on XCode mockup compilers.

@mathstuf any hints on how to fix this, related to XCode mockup issue?

[2016-12-09 19:03] tgamblin commented on #2537
@adamjstewart It's supposed to allow the build dependencies to be recycled better and to avoid building them with "weird" compilers.  It's useful not only on Cray and BG/Q, but also on clusters like the new `ppc64le` machines at LLNL and ORNL, where we want to build codes with compilers like XL, but nobody wants to port, say, `cmake` or `Qt` (which cmake depends on) to XL.

IBM is working on packa

[2016-12-09 19:04] tgamblin commented on #2537
Would it be useful to separate the build deeds from the rest of the DAG in the output of `spack spec`?

[2016-12-09 19:05] adamjstewart commented on #2537
Ah, that makes sense. I agree that it is nice to recycle build dependencies. I was just really surprised when I saw that change out of the blue. I think it's fine as is.

[2016-12-09 19:08] davydden commented on #2537
@mathstuf suggested to resolve them separately https://github.com/LLNL/spack/issues/839 , which i would say is good to have.

[2016-12-09 19:09] tgamblin commented on #2537
It seems like we should just be concretizing the DAG of things reachable via `link` edges, then concretize the build deps node by node per-build.

[2016-12-09 19:12] davydden commented on #2537
right, there is no reason to have build-only dependencies in DAG as they won't influence anything, they are auxiliary packages needed to build things and that's it.

[2016-12-09 19:20] scheibelp commented on #2537
OK one complexity in the example in this thread:

The build dependency flex links to packages which are also linked (transitively) by the root. The bug where bzip2 gets a different compiler than gettext comes up because at the time of compiler concretization for gettext, the bzip2 dependency has not been materialized (I suspect because it is activated by a variant); therefore at the time when the

[2016-12-09 19:20] tgamblin commented on #2537
I think they should eventually be in the DAG for provenance (in case their  affect the build somehow) but right now we don't include them to avoid having to rebuild things JUST because of a build dep.  Once we can consider installed things during concretization I was planning to put them back.

But yes -- I think their resolution should be entirely separate.  We could even consider resolving them

[2016-12-09 19:20] davydden commented on #2540
p.s. `spack_cc` is certainly no the right thing to use in `def filter_compilers(self):` as it points to compiler wrappers.

[2016-12-09 19:23] adamjstewart commented on #2537
@tgamblin One thing I want to avoid is running `spack spec`, seeing that a package A depends on B and C, then running `spack install` and being very confused why Spack is building D. It's good to know what will be built, but yes we should ignore them in the hashing part of the process.

[2016-12-09 19:31] davydden commented on #2540
yes, it is `spack_cc` points to `/Users/davydden/spack/lib/spack/env/clang/clang`, whereas `self.compiler.cc` points to the mockup XCode `/Users/davydden/spack/var/spack/stage/xcode-select/clang/8.0.0-apple/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/clang` which in turn also points to Spack's wrappers (thus the problem).

While `fortran` compilers are treated correctly  by `sel

[2016-12-09 19:40] davydden commented on #2540
Another interesting fact, `self.compiler.cxx` surprisingly points to the right place, for example `mpic++-wrapper-data.txt` contains
[code]
I am puzzled...

[2016-12-09 19:44] mathstuf commented on #2537
Build dependencies do need to resolve against the DAG subset where they are used, so if a project links Python itself and one of its build dependencies *uses* Python, the Python libraries must match otherwise you may get the wrong Python library loaded (even if we didn't use `LD_LIBRARY_PATH` now, `PATH` on Windows would require things to be set up this way).

[2016-12-09 19:52] davydden commented on #2540
@mathstuf :  I don't know what is the best solution to this problem, but one way would be to have a global switch to decide whether mockup XCode is needed or not. If the package is known to build without it, then `setup_custom_environment()` in `clang.py` would not do anything special and exit on
[code]
Not elegant, but should work.

[2016-12-09 20:02] mathstuf commented on #2540
`setup_custom_environment` would need to be passed in the spec that it is building for to know whether it needs things mocked up or not.

[2016-12-09 20:02] mathstuf commented on #2363
I was more referring to outside of spack whether `cp` works or not. The `sudo` experiment is me looking for whether Apple is locking down Xcode too now.

[2016-12-09 20:05] scheibelp commented on #2537
I'm taking a look into the feasibility of resolving build dependencies separately - specifically if it can be done by late next week. If I assess that it cannot be done in that time (or if people voice an opinion on it) then I'll create a PR to revert #2292. In the meantime, concretization for eigen (and likely other complex packages) is broken. A temporary fix would be:

[code]

Or making intel a

[2016-12-09 20:14] davydden commented on #2540
@mathstuf :

so essentially you are saying that the current content of `setup_custom_environment` should be moved into a function `setup_mockup_xcode()` and then packages which need this the would declare
[code]
? Since `qt` does not build for me and I can't test if I break something by attempting to fix this issue, would you mind creating a PR with a fix?

[2016-12-09 20:17] scheibelp commented on #2537
@mathstuf If I understand correctly this is a situation where package X links to python and

X -> Y -> python

Python is a run dependency of Y and Y is a build dependency of X. If python were simply a build dependency of Y then I presume the python used by Y and by X could be different.

[2016-12-09 20:38] mathstuf commented on #2537
That won't work because if X needs Python3 for linking and Y needs Python2 for running, what does one set `PYTHONPATH` to?

[2016-12-09 20:40] davydden commented on #2537
but i think we discuss the case of build-only dependencies, that is the case when the edge from a node to python is neither `link` nor `run`.

[2016-12-09 20:45] mathstuf commented on #2540
I don't have cycles to work on spack :/ . Looking at my patch, `compiler.setup_custom_environment(env)` is called in `set_compiler_environment_variables` which looks to have a `pkg` argument which could have this.

The problem, IMO, is how does a compiler know it needs to be set up one way for one package versus a second way for a second compiler (if, e.g., clang had two "special" environment setu

[2016-12-09 20:46] scheibelp commented on #2537
I'm a confused because my comment was an attempt to create an example of what you were saying didn't work (I wasn't asserting that in fact it should work):

I went on to say that *if* Python was a build dependency of Y and not a run dependency I think you could build two separate pythons.

Does that make sense?

[2016-12-09 20:51] davydden commented on #2540
i would say this is the responsibility of a package. The package should trigger whether or not mocked up xcode is used from https://github.com/LLNL/spack/pull/1832 `

[2016-12-09 21:02] adamjstewart commented on #2363
@mathstuf It looks like it is in fact locked down:
[code]
I can try redoing things with sudo to make sure it all works. Or I can redo it without to get you a better list of what is and isn't locked down. How do I do that? I think it automatically did it when I ran install last time. Should I delete `var/spack/stage/xcode-select` and run install again?

[2016-12-09 21:03] scheibelp commented on #2537
A couple additional points:

* Perhaps most importantly - this sounds like a difficult problem with or without Spack. Does it appear in general? How is it handled there
* For the purposes of building X perhaps it just needs PYTHONPATH to refer to Python2, when it comes to running X it could refer to Python3. I'm likely overlooking something about how library finding would work

[2016-12-09 21:20] adamjstewart commented on #2537
@scheibelp This is a very common problem. Most packages that rely on Python as a build dependency rely on `python@2`. If you are trying to build a Python 3 module and one of its dependencies relies on Python 2 as a build dependency, Spack is dead in the water.

[2016-12-09 21:21] mathstuf commented on #2537
All modules are found in the default `site-packages` directories and no `PYTHONPATH` is needed at all. Spack gets into trouble because it needs to construct a `PYTHONPATH`.

I had more, but @adamjstewart said it more concisely :) .

[2016-12-09 21:32] adamjstewart opened #2545 "Allow spack create to handle already downloaded tarballs"
We should make `spack create` work with already downloaded tarballs. This is useful for licensed software. I don't see any reason why it wouldn't work. For some reason, fetching fails currently.

[2016-12-09 21:38] scheibelp commented on #2537
I think the key difference between this and the case I mentioned is that Python2 is a build dependency in this case and not a run dependency. Given a case like:

(python3 module) -> (dependency X) -> (python2 as a build dependency)

In this case I imagine Spack could (although it doesn't right now) omit Python2 setup when building the python3 module.

If the following were instead the case:

[2016-12-09 22:06] amklinv commented on #2166
Just checking in again.  I'm still having the same issue on edison (using @BarrySmith's spack fork).  Is there anything new you'd like me to try?

[2016-12-09 22:10] mathstuf commented on #2537
We're on the same page :) . In any case, that is #839.

[2016-12-09 22:29] tgamblin commented on #839
@mathstuf @scheibelp since you guys are on the same page per #2537, do you want to take a stab at this together?

[2016-12-09 22:33] sknigh opened #2546 "Spack cannot concretize R specs"
I need to build tk+X for as a dependency for R. I can't create a spec to do this that does not produce a CLI error.

[code]
I also tried this, same result
[code]
This too
[code]
Specing cairo+X AND cairo\~X does not produce errors. I was able to ```spack install``` tk+X, cairo\~X and cairo+X independently. I'm also able to produce errors like these on Ubuntu with d7e9134.

[2016-12-09 22:42] citibeth commented on #839
This issue actually advocates for two things in the title; which one are @mathstuf and @scheibelp looking into at this point?  I believe that resolving dependencies based on already-installed stuff (or other such lists of specs) needs the upcoming new concretizer?

[2016-12-09 22:43] tgamblin commented on #839
Specifically fixing things for the build dependencies.  I think this should probably be two issues -- considering what is installed is harder and would need more of a rework.  @mathstuf is actually already working on that, but it's prototype at this point.

[2016-12-09 22:44] citibeth opened #2547 "Mixed-case variants?"
Now that we've made all packages lower-case, what are peoples' opinions on variants?  Should we have `mypackage+X` or `mypackage+x`?

[2016-12-09 22:47] adamjstewart commented on #2547
I vote for lowercase.

[2016-12-09 22:51] citibeth commented on #2546
@hartzell   This looks to me like a problem in the R package:
[code]

Depending on things `~xyz` is often problematic; why do you care that `cairo` was NOT built with X support?  But that brings up...

I don't believe that the Cairo API or Tk is tied into X.  Therefore, shouldn't the variant on `r` be something like `gui=tk`?

[2016-12-09 22:51] davydden commented on #2547
same here,  lowercase

[2016-12-09 22:52] citibeth commented on #839
that, but it's prototype at this point.

OK... when it's ready, I will definitely want to see the following features:
 1. List already-built stuff into a user-editable file
 2. Concretize based on a file listing already-built stuff
 3. For convenience, combine (1) and (2) together.

On Fri, Dec 9, 2016 at 5:43 PM, Todd Gamblin <notifications@github.com>
wrote:

[2016-12-09 22:55] tgamblin commented on #839
Why is that not encompassed by `packages.yaml` + the install database?  Are you saying you want a per-project context of already built stuff, which is why you need the file?  What is the use case for this?

[2016-12-09 23:01] adamjstewart commented on #2546
This is the same problem I had in #1552 and solved in #1553. The problem is that `R`, `tk`, and `cairo` all default to `+X`, but `pango` defaults to `~X`. @tgamblin This is another case where variant forwarding would save the day and make the dependencies way simpler.

[2016-12-09 23:05] adamjstewart commented on #2546
For the time being, you have a few options. This works:
[code]
You can also set pango to default to `+X` in your `packages.yaml`. As for more permanent solutions that would help all users, you could set pango to default to `+X`. The only problem is that if a single user has any of these packages set to `~X` in their `packages.yaml`, it doesn't work anymore. That was the case for me in #1552. For t

[2016-12-09 23:26] scheibelp commented on #839
I am looking into this at the moment. If @mathstuf you have some free time I'd appreciate doing something more collaborative. IIRC you mentioned somewhere you do not though, in which case I'll work on a solution and then if possible your input would be quite valuable.

[2016-12-09 23:31] sknigh commented on #2546
[code]
This works for me. Thanks!

[2016-12-10 03:45] citibeth commented on #839
Installing with respect on "whatever happens to be in my Spack" is not
repeatable.  Installing with respect to the contents of a file IS
repeatable.  There are many uses cases here:

1. I'm having weird problems and I ask you for help.  You run the same
installation and have no problems at all.  After a lot of back-and-forth
and heartache, we figure out my problems are because Spack is picking up

[2016-12-10 04:29] tgamblin commented on #839
Ok right.  We've always said we'll keep a deterministic/stateless/repeatable option.  Just making sure this is not something new.

[2016-12-10 05:03] scheibelp commented on #2537
@tgamblin

#2548 is the start of an attempt at this. It occurs to me that even if it doesn't take much time, this feature would override #2292. Therefore I think it should be reverted. The PR for that is at: https://github.com/LLNL/spack/pull/2549

[2016-12-10 05:15] krafczyk opened #2550 "External package support is generally broken"
External package support is currently working in only a minimal fashion.

Let me illustrate this with an extensive example. I'll then follow up with a proposal for moving forward.

**Extensive Example**

Related to my issue in #2191, I have several mpi installations on my university's computing cluster. These I've specified in my `~/.spack/packages.yaml` file like so (non mpi entries represent my

[2016-12-10 09:59] alalazo commented on #2550
FYI, I need to update #1167 as I started it when Cray modules were not supported. This will permit to register the external packages in the DB, and e.g. generate module files for them. Would that be sufficient for your use case, even though it doesn't introduce an "external" namespace?

Another thing: now external packages are not registered but THEY ARE taken into account by the hashing mechanism

[2016-12-10 16:06] svenevs commented on #2537
I am not sure if this is related, please feel free to disregard.  But when this happened to me it was from a `spack install eigen %clang@3.9.0`, which ultimately failed trying to build `openblas` because I was dumb and didn't specify a fortran compiler in my `compilers.yaml`.

At the time of the failed installation I had an `openblas %gcc@5.3.1`.  So if the decision is to keep the re-use feature,

[2016-12-10 17:03] krafczyk commented on #2550
Well, I'm still a newcomer to spack so I don't know exactly how everything is working nor how any particular problem _should_ be solved. I just suggested the 'external' namespace since namespaces seem to be something that specs have and 'builtin' was an existing namespace. If your method solves my problem then of course I'm happy, but I don't think I'm in a good position to judge whether or not it

[2016-12-10 18:20] davydden commented on #2550
my understanding is that namespaces are designed for a different usage case, namely when you combine builtin packages with your own packages, which are not yet in Spack. Then to distinguish between the two in case of conflicting names (i.e. totally different `package.py` for `openmpi`), you would use namespaces. I don't think it was meant to distinguish whether a package is installed by Spack or i

[2016-12-10 18:27] davydden commented on #2550
In Spack you really need to start from the final packages you need, without installing anything by hand.  In your case, just do `spack install py-h5py` and either add extra constraints on the command line (i.e. `^mvapich2@2.1rc1` or what you already do is edit `packages.yaml` to reflect your options. This should work without any issues irrespectively of Spack's build or external MPI. I use it all

[2016-12-10 18:36] davydden commented on #2550
I am not sure, but i never saw `spack install py-h5py^/mzyuler`, namely specifying `hash` of the installed package instead of its spec.

Another point to dig: you have
[code]
with
[code]
Could it be that there you actually need to write `mvapich2@2.1rc1%gcc@4.9.2` to make it work?

[2016-12-10 19:11] BarrySmith opened #2553 "Option to keep all build files to help debug"
Forgive me for asking a question that is probably answered elsewhere but I could not find it.

Is there an option that forces spack to keep all the build directories for packages that it thinks have built correctly? I have a failure that is impossible to debug since spack seems to clean out all the build directories thinking the build was successful. I know the build was not successful because som

[2016-12-10 19:20] davydden commented on #2553
You can run `spack install --keep-stage` to keep the stage. If you need it to exist after the rester of computer, then according to [documentation](http://spack.readthedocs.io/en/latest/configuration.html), you should be able to specify in `config.yaml`
[code]
to avoid using temporary folder provided by OS.

[2016-12-11 00:01] BarrySmith commented on #2553
Works. Thanks!

[2016-12-11 00:01] #2553 closed

[2016-12-11 00:20] tgamblin commented on #2553
@BarrySmith: I dunno if you just stick Spack in your path or source the `setup-env.sh` script, but if you source the script, you can get straight to the build directory with `spack cd`:

[code]

Note that Spack doesn't delete the build directory if the build fails; only if it succeeds.  So you don't need `--keep-stage` unless it's succeeding but something's going wrong during the build.

Spack *wi

[2016-12-11 00:23] #2540 closed

[2016-12-11 00:34] tgamblin commented on #2545
@adamjstewart: can you post a use case?  Questions:

1. If the package doesn't exist yet, how would there be tarballs for it in `var/spack/cache`?  Is this just for when you're re-creating a package that existed before?
1. Is this for packages that maybe share tarballs with other packages?  The fact that the cache is a mirror means the tarballs are stored per-package, so if two packages share a ta

[2016-12-11 00:37] tgamblin commented on #2363
@mathstuf: can you take a stab at making this work on sierra?

[2016-12-11 01:32] krafczyk commented on #2550
@davydden: So I tried your `mpi: [mvapich2@2.1rc1%gcc@4.9.2]` idea. It didn't work sadly...

I didn't explicitly mention above what happens when i try to install `hdf5`. The problem is it seems to pick the wrong version of `mpi`. (`mpich@3.1.3` in my case) It uses the external version I specified in `~/.spack/packages.yaml` but just the wrong version. The same thing happens when I try to install `

[2016-12-11 05:59] davydden commented on #2363
to be fair, it did work for me on Sierra.

[2016-12-11 06:04] davydden commented on #2550
that looks like a bug. To narrow it down, can you try (i) specifying only one package and it's version of MPI in `packages.yaml`; (ii) if this does not work, skip using modules and use paths as in my example `packages.yaml`.

that a known undesired behaviour, you need to fill in the whole chain, something along the lines
`spack install py-h5py^hdf5+mpi^mvapich2`, but again, this should NOT be need

[2016-12-11 10:43] jppelteret opened #2554 "Doxygen does not build with flex v2.6.2"
See https://github.com/westes/flex/issues/113 . Is it possible to blacklist this version of flex?

[2016-12-11 10:50] jppelteret opened #2555 "Slepc python error"
I'm building `slepc` as part of the `deal.II`, and have specified a variant for the boost library in `packages.yaml` to ensure that only one version of `boost` gets built
[code]

However, this leads to a configure-time error in the `slepc` package:
[code]

I was able to fix the problem by adding `depends_on('python @2.6:2.7')` to `slepc`'s package (which mirrors a line in `petsc`), but I'm not sur

[2016-12-11 11:02] jppelteret commented on #2555
Duplicate of #2534

[2016-12-11 11:02] #2555 closed

[2016-12-11 12:52] davydden commented on #2554
maybe add `preferred=True` to the version which is known to build? Or to specify this in doxygen requirements.

[2016-12-11 13:06] pramodk commented on #2027
Don't see this issue while using develop, so all looks good!

[2016-12-11 18:02] hartzell commented on #2546
This quirk was discussed as part of the pull request that added X support to R, #2053.

The only way I could get my POC set of apps to build end-to-end last week (*yay*) was by doing what @adamjstewart suggested above (I actually spec'ed by cairo and pango because it worked when I tried it and then I moved on, I'll try @adamjstewart's shorter version).

**But**, I then needed to add similar prereq

[2016-12-11 18:07] hartzell commented on #839
+1 for something like what @citibeth is asking for, as it sounds like it would be useful for my "set up our standard set of apps on a new system" use case.

Right now I have a script full of `spack install this` statements and I awakened the discussion about meta-packages in the past to scratch the same itch.

[2016-12-11 19:35] tgamblin commented on #839
@hartzell: can you attach your script?

[2016-12-11 20:13] tgamblin commented on #2363
@davydden @mathstuf: I'm regrettably unable to test on Sierra (the lab moves slow on OS X upgrades).  Maybe it would be sufficient to change the copy routine to just grab things that are readable?

[2016-12-11 20:43] svenevs commented on #2065
I found myself wanting a `pip3` related to my `spack` installed `python@3.5.2` as well.  Assuming the module has been loaded (aka `python3` refers to the `spack` python), I think the above behavior is safest -- by default assume no `pip3` installed.

I like the `+pip` variant idea, the modulefile already consistently makes `pip3` point to the right one :)

If users did not receive `pip`, they can

[2016-12-12 01:41] citibeth commented on #2546
I looked up the arguments to R's configure (see below).  It is my opinion that we would do well to go through that list carefully and be more careful about the command line arguments we pass to R's configure.

It is also my opinion that if you don't want to do X11 with R, then it should just `depends_on('cairo')`.  When you don't specify a variant on a dependency, it means you don't care whether t

[2016-12-12 01:55] citibeth commented on #839
I used to use scripts like @hartzell too.  I now use "dummy packages" (meta-packages), which have their plusses and minuses compared to the old scripts.

[2016-12-12 02:15] citibeth commented on #2065
@sknigh I looked at it a bit... I have no idea why PIP is disabled for Python3.  I would either (a) just remove it, or (b) make it an option that defaults to `+pip`.  I don't find PIP particularly useful in the Spack context, but its presence shouldn't be harmful.

This is problematic because ideally, the same hash should always equal the same install tree.  If you start writing into install trees

[2016-12-12 02:18] citibeth opened #2558 "Get rid of `type='nolink'`?"
@tgamblin @davydden There's been a proposal to get rid of `depends_on(..., type='nolink')` and replace it with `depends_on(..., type='build,run')`.  So far, there seems to be consensus that this is a good change.  Does anyone wish to provide further discussion?

[2016-12-12 07:25] alalazo commented on #2558
I think this change will help keep things consistent in the long run. If we extend the types of dependencies to e.g. `test` or any other new type, then the name `nolink` will be wrong and should read `nolink_notest` etc. Having `build,run` instead requires no modification in case any extension is added.

[2016-12-12 07:38] alalazo commented on #2065
@sknigh Just fyi, there are two issues you may want to read. #1249 is raising the general issue of what we should do when we enter into the territory of other package managers. #2281 is instead more focused on PyPI. They are both in a discussion stage right now.

[2016-12-12 07:46] alalazo commented on #1115
I'll close the issue for now as the configuration system underwent a lot of improvements that could resolve this use case (configuration files hierarchies).

[2016-12-12 07:46] #1115 closed

[2016-12-12 08:54] #2183 closed

[2016-12-12 13:04] davydden opened #2563 "Issues with external packages via module files instead of path"
I tried
[code]
on a HPC cluster, but get
[code]

[2016-12-12 15:47] hartzell commented on #839
@tgamblin -- Here's the most recent incantation.  It's cribbed from something @eschnett [published to the google group](https://groups.google.com/forum/#!topic/spack/h_UtM17jV7Y). Calling it a "script" is a bit presumptuous....

The compiler bit is particularly sub-par.  The first time it runs it uses the system compiler to build me a gcc@5.4.0. If you run it again, it uses gcc@5.4.0 to build a gc

[2016-12-12 15:51] hartzell commented on #839
I may someday be able to say the same thing.

After @citibeth's explanation of her meta-packages in #2049 and link to [env-modele](https://github.com/citibeth/spack/blob/efischer/develop/var/spack/repos/builtin/packages/env-modele/package.py) I goofed around with them a bit.    Just Need More TUITS....  (that should be a bumper sticker or a t-shirt or ...).

[2016-12-12 15:56] adamjstewart commented on #839
@tgamblin The script I use to install one of my common stacks looks like:
[code]
I think it would be good to store a list of what is installed for the sake of being able to reinstall the same stack on a different Spack installation every time the hash changes.

[2016-12-12 16:41] adamjstewart commented on #2065
That's the plan. I think there are quite a few open discussions about this. The way I envision it, you should be able to run:
[code]
And Spack will create the package, add the correct homepage and URL based on #2281, and subclass a new PythonPackage class. At that point, the only thing we aren't currently doing would be to automatically add the dependencies and version constraints. I would have to

[2016-12-12 17:12] adamjstewart commented on #1851
Just updated to Fedora 25 and it looks like there are no changes with respect to this PR. The error message is the same:
[code]
It would be nice if the error message was more clear, or if Spack automatically updated the OS version.

[2016-12-12 17:27] adamjstewart commented on #2546
This doesn't fix anything. I tried commenting out the `cairo~x` dependency in R, cairo, and pango, but `spack spec R` still crashed.

I think we want the same thing here. Basically, if I ask for `package +variant`, that variant should be enabled for all dependencies as well. #2492 seems like kind of a hack to me. Would that mean that every single package in Spack would have a `+X` or `+mpi` varian

[2016-12-12 17:41] adamjstewart commented on #2554
Apparently Scotch also doesn't work with flex 2.6.2. @svenevs, https://github.com/westes/flex/issues/113 explains why you ran into the problem discussed in #2521. I think the appropriate solution here is to specify that doxygen `depends_on('flex@:2.6.1')`, as was done in #2523. `preferred=True` should be used lightly, as it can confuse a lot of new developers who are always expecting the latest ve

[2016-12-12 17:49] adamjstewart commented on #2545
@tgamblin Yes, 3 is the use case. I'm trying to create a package for MATLAB, and I had already downloaded a tarball for it. `spack create /path/to/tarball.tar.gz` was unable to fetch the tarball, so it couldn't create a template for me. I think this is a common problem when trying to create new packages for licensed software.

[2016-12-12 17:55] adamjstewart commented on #2537
@svenevs This isn't a re-use feature, it is a "use the default compiler for build dependencies" feature. One side-effect of using the default compiler is you are more likely to reuse a single installation if you are trying to build the same software stack with multiple compilers. But if you don't have that build dependency built with the default compiler, Spack would still rebuild it. In your case

[2016-12-12 18:04] krafczyk commented on #2550
About your point (i), do you mean only have my preferences for hdf5, etc and only the information for one mpi module, in addition only specifying one mpi provider? like this:

[code]

Your suggestion `spack install py-h5py^hdf5+mpi^mvapich2` worked however this isn't surprising since I've specified that `py-h5py` should have `+mpi` in the `~/.spack/packages.yaml` file. `mvapich2` is then explicitl

[2016-12-12 18:06] adamjstewart commented on #2554
Hmm, I guess if the developers themselves recommend against using `2.6.2` for compatibility reasons, then maybe we should use `preferred=True` on `2.6.1`. There isn't really a way to blacklist, aside from commenting out the version directive. Should we remove `2.6.2` altogether? I think I was the one who added it, and I only added it because I saw a new version was available.

[2016-12-12 18:20] svenevs commented on #2065
@citibeth thank you for the in-depth response.  I will post a couple of separate issues in free time over the next week explaining the `tk` issues, living docs collab issue, etc, and keep this thread focused on the `pip` front.

### Python + pip && Defaults

I would like to submit a PR that standardizes this behavior, adding a `+pip` variant and having it default to **ON**.

1. In the docs page we

[2016-12-12 18:39] svenevs opened #2565 "impossible python tk variant"
I cannot seem to get any python to accept the `+tk` variant.
[code]
looking at the actual package, I think this was something that was only half edited out?

1. The variant [still exists](https://github.com/LLNL/spack/blob/eb645a8e46a9e0144149991d486593ca825b0b6c/var/spack/repos/builtin/packages/python/package.py#L57) and [two dependencies](https://github.com/LLNL/spack/blob/eb645a8e46a9e014414999

[2016-12-12 18:41] jrood-nrel commented on #2503
Can I vote bug on this? I was just about to post this exact same thing as an issue.

[2016-12-12 19:04] adamjstewart opened #2566 "Allow tty output during spack install"
Currently, if you try to run `tty.msg` or `tty.warn` during a `spack install`, the output will be printed to `spack-build.out` and the user will never see it unless building verbosely. `tty.msg` can be very useful for printing helpful information specific to a package, as is done with Homebrew.

[2016-12-12 19:08] tgamblin commented on #2566
I like it.  I'm curious whether Homebrew forks the build. This is harder than you might think for Spack, as we need the parent process (which is logging the output) to print the messages.

[2016-12-12 19:08] adamjstewart commented on #2566
On a similar note, I'm working on creating a MATLAB package, but I'm running into a problem. The installer opens up a GUI where you can log in to your account and validate your license, but not all clusters will have internet access or GUI support. Alternatively, you can install in offline silent mode, specifying everything from the command line. The only problem is that you need to specify an act

[2016-12-12 19:26] hartzell commented on #2565
Two observations:

1. It's funny to me that the `python` package depends on `tcl` directly.  It seems like it should depend on `tk` and pick up `tcl` via's `tk`'s dependency on it.  Commenting out the dependency on `tcl` doesn't change the outcome.

2. If I change the `tk` variant's default to `true`, then `~tk` and `+tk` all work (independent of change #1 above).  That's not really a solution, bu

[2016-12-12 20:00] adamjstewart commented on #2565
Duplicate of #2495 and many other issues. The problem is in the dependency chain:

`python+tk` -> `tk` -> `libx11` -> `libxcb` -> `python`

Spack sees the build dependency on `python` at the end, knows that it should default to `~tk`, and continues concretization. Then it gets back up to the top and sees that you requested `python+tk`, which obviously doesn't satisfy `python~tk`. But the way the c

[2016-12-12 21:02] davydden commented on #2550
@krafczyk yes, I the packages.yaml you posted in the last message is what I suggested. However it should be enough to do 'spack install py-h5py' with it. If this works for you, then there is certainly a bug sumewhere which breaks it when you add more external mpi. @tgamblin any ideas?

[2016-12-12 21:27] becker33 commented on #2558
I agree with the proposed change as well.

[2016-12-12 21:32] mathstuf commented on #2537
C++ compilers use completely different ABIs since there is no standard (every MSVC version crossed with release and debug build modes and the calling conventions/mangling of GCC exist). Those two are the main ABIs and the standard library in use pretty much dictates it.

[2016-12-12 21:36] hartzell commented on #2565
@adamjstewart -- Is there an argument to `spack spec` that you used to generate the path above?

I was pretty sure this was "that same old problem", but couldn't dig deep enough to catch it.

[2016-12-12 21:44] krafczyk commented on #2550
@davydden: I've given that `packages.yaml` a try, and it works! The correct `hdf5` along with the correct `mpi` (`mvapich2@2.1rc1`) get installed.

So I guess there's a bug somewhere...

[2016-12-12 21:44] krafczyk commented on #2550
In addition, `py-yt` installed correctly with all the correct dependencies as well with just `spack install py-yt`.

[2016-12-12 21:47] adamjstewart commented on #2565
@hartzell Nope, I wish. The way I debug this particular problem is to look at the package for which `spack spec` fails. Then, run `spack spec` for all dependencies. I keep working my way down until I find the culprit. In this case, it was pretty easy because `python+tk` failed, but `python~tk` and `tk` didn't. Since `tk` depends on `python~tk` according to `spack spec`, it's the source of the conf

[2016-12-12 21:49] svenevs commented on #2565
Oh dear, that's quite subtle. Ok thank you, sorry for the duplicate :/

[2016-12-12 21:49] #2565 closed

[2016-12-12 22:31] mplegendre commented on #2550
A small correction.  When you specify:
[code]
You're not telling Spack that the only provider of mpi is mvapich2@2.1rc1.  You're telling Spack that it should prefer mvapich2@2.1rc1 over other mpi providers when other things are equal.  If, for example, a package explicitly asks for mpi@3: and mvapich2@2.1rc1 doesn't provide that, then Spack might pick openmpi.  The likely source of this bug is tha

[2016-12-13 02:05] hartzell opened #2567 "Can't generate lmod modules for go, virtual package problem perhaps?"
I'm having trouble generating `lmod` modules.  I've reduced my experiment to doing `spack install go` and a freshly spun up CentOS 7 system and then the following.

Here's what I have installed:

[code]

I created a `modules.yaml` file like so:

[code]

and then tried to refresh the modules like so:

[code]

I *think* that what's going on has something to do with `go-bootstrap` being a virtual pac

[2016-12-13 02:07] hartzell commented on #2567
@alalazo -- I did read the tutorial, but I may have missed something... 😄

[2016-12-13 05:12] citibeth commented on #2546
There is a fine line between a hack and a parsimonious re-use of infrastructure.  I'm not sure which one this is yet. :-)

Let's see what it would mean by thinking through an example.  For every universal variant we desire, we make a dummy package for it.  So for the `x` universal variant, we might make a package called `variant-x` -- which will offer a SINGLE variant called `+x` (default False).

[2016-12-13 05:36] citibeth commented on #2065
Sounds like a worth cause for a PR.

What does that command do?

I don't know, but probably not.  It would be nice to know why the PIP stuff was only added for `python3`.  The answer might be as simple as, the person who added it used Python3 and wanted to be conservative.  Would you be able to go through `git blame`, figure out who it is, and ask that person?

Yes

http://stackoverflow.com/questi

[2016-12-13 05:37] citibeth commented on #2503
Jon, what do you mean by "vote bug on this"?

On Mon, Dec 12, 2016 at 1:41 PM, Jon Rood <notifications@github.com> wrote:

[2016-12-13 05:38] citibeth commented on #2558
Great!  There is unanimous consent on this issue.  Now somebody just needs
to do it...

On Mon, Dec 12, 2016 at 4:27 PM, becker33 <notifications@github.com> wrote:

[2016-12-13 05:46] citibeth commented on #2566
Elsewhere, I believe I suggested that Spack allow for variants that do not make it into the hash (or apparently, `packages.yaml`).  License keys would be a perfect application of this feature: because the installation really is the "same", no matter what license key is installed in it.  Two directories with the same hash should be the same...

Asking from a tty would be a bad idea, IMHO... like bu

[2016-12-13 05:48] citibeth commented on #2554
I vote for "blacklisting" 2.6.2 by commenting it out, and adding a short comment (with URL link) in the `package.py` explaining the problem.

[2016-12-13 05:49] tgamblin commented on #2554
We don't currently have an attribute for blacklisting a version, but `2.6.2` seems like a real disaster.  I like @citibeth's idea.  If people really want it they can uncomment it.

[2016-12-13 07:23] davydden commented on #2554
same here, we should just comment it out and add a short comment say that it breaks a lot of things.

[2016-12-13 07:37] davydden commented on #2550
good point! I was not aware of this, thanks @mplegendre !

[2016-12-13 09:32] #2534 closed

[2016-12-13 10:11] davydden commented on #1377
Regarding the uninstall issues by hash, i notice that it does not work in case variants/options/dependencies of a package change between installation. For example I have had `p4est->lua` installed, but now i removed `lua` (which was wrong), and reinstall `p4est`. In this case `spack uninsta /hash` wont work and it will show all versions of `p4est` installed.

[2016-12-13 10:45] davydden commented on #1996
fixed by https://github.com/LLNL/spack/pull/2560

[2016-12-13 10:45] #1996 closed

[2016-12-13 10:46] davydden commented on #2366
the resource part is fixed in https://github.com/LLNL/spack/pull/2371, so i close this for now

[2016-12-13 10:46] #2366 closed

[2016-12-13 12:21] ashkan2200 commented on #2537
I haven't read through all the comments but maybe someone has suggested this.
Is it possible to put global configuration in installation command?
For instance

    spack install X%intel **python3%intel
anything passed with `**` would be propagated to all the dependencies, meaning that every dependency will build with `python3` in this case.

[2016-12-13 13:16] davydden opened #2570 "spack load should throw when input is wrong"
currently `spack load cmke` instead of `spack load cmake` will run gracefully. Same applies to trying to load something which is not installed.

In both cases where should be an error message which may say:
(i) `Package <package> is not found in Spack repositories`
(ii) `Package <package> is not installed`

[2016-12-13 13:29] citibeth commented on #2554
I'm adding the `ready` flag to indicate that discussion is about done, and this Issue is ready for a PR.

[2016-12-13 13:52] adamjstewart commented on #2537
@ashkan2200 You should check out the documentation on packages.yaml. It does exactly what you're looking for, permanently.

[2016-12-13 14:00] adamjstewart commented on #2503
@citibeth OP asked if this was a bug or a feature (maybe a rhetorical question). @jrood-nrel votes that's it's a bug.

[2016-12-13 14:03] davydden commented on #1377
I am not sure what you mean, but i guess the problem is that once a user install something into `<package>-hash-old` and then the package change (variants/dependencies), then spack won't be able to uninstall the old package by `hash-old`, however Spack still lists it among other installed variants of this package.

I think this is not a big problem and it appears due to the fact that Spack is in a

[2016-12-13 14:08] davydden commented on #1377
What I am saying is, uninstall by hash relies on the fact that the package to be uninstalled is consistent with it's `package.py` in Spack.

[2016-12-13 16:12] pramodk opened #2572 "Spack on Cray KNL system and module detection error"
Hello,

As posted on [google group](https://groups.google.com/forum/#!topic/spack/WdbtdkZb6lk), I am trying Spack on Cray KNL system. On other Cray systems (XK-7/XC-30), `spack compiler find` auto-detects **PrgEnv-***.  On this KNL system, this auto-detection isn't working.

I am looking at `lib/spack/spack/operating_systems/cnl.py`, line 56:

[code]
With this, `spack compiler find` gives :

[code

[2016-12-13 16:51] tgamblin commented on #2572
@mamelara @becker33

[2016-12-13 17:38] citibeth commented on #2547
Lower case it is... now someone needs to submit a PR.

[2016-12-13 17:39] citibeth commented on #2532
Are there any more specifics on how this feature would work?  Would we need to add something to the `package.py` files?  Can you please give a mock-up example?  I want to get this idea ready for implementation in a PR.

[2016-12-13 18:15] davydden commented on #2532
i would say roughly the feature would work along the following lines (example of `dealii`):
(i) `dealii/package.py` would have `maintainers` field (can be set any any pythonic way, does not matter):
[code]
(ii) `spack info dealii` would show:
[code]

People who volunteer to watch packages would simply add their GitHub user names in PRs next time they modify a package and that's it for now. Then it

[2016-12-13 18:35] davydden commented on #1583
the issue does not appear anymore

[2016-12-13 18:35] #1583 closed

[2016-12-13 18:38] davydden commented on #1137
this is implemented now `config.yaml` can have
[code]
see http://spack.readthedocs.io/en/latest/configuration.html

[2016-12-13 18:38] #1137 closed

[2016-12-13 18:38] citibeth commented on #2532
Thanks.

1. It looks like other Spack changes (for now) would be be in the Sphinx
stuff, to pull the maintainers list into the manual on ReadTheDocs.

2. Should we allow maintainers who don't have GitHub handles?  I.e. by
email address?

3. I believe the maintainers should be specified like:
[code]
or even:
[code]

4. Should the order of maintainers mean anything? Is the first in the list
a "prima

[2016-12-13 18:42] davydden commented on #2532
stuff, to pull the maintainers list into the manual on ReadTheDocs.

yes, good idea

email address?

i think it's not that important for now, i would say it can be added later if there is a need.

I think we should drop `@` so that GitHub won't send notifications in case somebody fork Spack or modify those packages. The `@` character can be added later in the output of `spack info`

a "primary mai

[2016-12-13 18:48] adamjstewart commented on #2123
Ran into this problem again today... and found another clue! I'm working on a new package, which only has a single dependency, pkg-config (build deptype). When I ran `spack install`, it found that pkg-config was already installed, but then crashed with the error message I've seen dozens of times before. Since the package only had a single dependency, I tried uninstalling it, only to find:
[code]
A

[2016-12-13 18:48] #2316 closed

[2016-12-13 18:56] citibeth commented on #2532
Are you saying that GitHub does "clever" things when `@maintainer` is found
in a source file?  And don't you think the maintainers will WANT to know
when someone modifies a package they maintain?

Then the syntax to set it up should be unordered:
[code]

[2016-12-13 19:02] becker33 commented on #1377
Spack is supposed to cache the old hash of the package once the package is concrete, specifically to avoid this issue. While looking into @2520 I've discovered that this caching is getting blown away at some point in the install process. I'm assuming that a similar problem is occurring with uninstall.

I don't have an answer to this problem at the moment, all I can say is that I'm working on isola

[2016-12-13 19:02] aprokop commented on #2532
A sample script to determine authors:
[code]
results in
[code]

[2016-12-13 19:12] davydden commented on #2532
@aprokop Maintainers != authors, see [above](https://github.com/LLNL/spack/issues/2532#issuecomment-266088539).

[2016-12-13 19:15] davydden commented on #2532
in a source file?

not sure about the source, but one certainly get pinged when mentioned in the commit.

when someone modifies a package they maintain?

sure, but not in every fork Spack has. So far it's manual business anyway, when a contributor modifies a package he is advised to ping maintainers. To be on the safe side i would not use `@` for now. If we find out later that there is a good reas

[2016-12-13 19:15] davydden commented on #2532
p.s. @aprokop but thanks for the script :smile:

[2016-12-13 19:22] davydden commented on #1377
thanks @becker33 ! p.s. i edited your comment to correct the link to the issue.

[2016-12-13 19:23] becker33 commented on #2123
Can you add the output of a later `spack find -l` to this?

[2016-12-13 19:23] krafczyk commented on #2550
@mplegendre: So I did something similar to your suggestion. I removed all the letters from the versions of all the listed modules. This still results in the wrong `mpi` being selected. Here is my modified `packages.yaml` file.

[code]

`mvapich2@2.0:` is marked as a provider for `mpi@3` so the problem isn't that `mvapich2` doesn't provide the right version of `mpi`.

[2016-12-13 19:26] aprokop commented on #2532
@davydden I just thought that if I know nothing about a package, lets look at the authors.

[2016-12-13 19:28] davydden commented on #2532
I agree, maybe this script should be added somewhere in Spack and in case maintainers field is empty, then contributors are advised to check who previously modified the given package and ping them. The problem here is that you have names and e-mails, and not GitHub names to ping... But maybe one can dig this info somehow automatically...

[2016-12-13 19:29] davydden commented on #2532
p.s. i do those things by-hand looking at the history to check who edited the package before me.

[2016-12-13 19:31] adamjstewart commented on #2123
After the uninstall and after reinstalling, I see:
[code]
So `hcs5k2j` isn't still hanging around. And yes, it reinstalled the exact same hash.

[2016-12-13 19:33] davydden commented on #2532
On another hand, the individuals who ever contributed some changes to Spack may NOT want to be pinged at all. So it's kind of pinging people without their permission. That's why i think of _maintainers_ as volunteer who themselves add their name to a `package.py`. Shall they decide not be bothered in future -- they create PR to remove the name.

So i kind of feel that this system is more polite to

[2016-12-13 19:36] aprokop commented on #2532
How do you reach people that could be interested to be maintainers, but do not follow spack development after contributing once or twice?

[2016-12-13 19:43] davydden commented on #2532
I would say just advertising the feature in release notes. If I am someone who once contributed to `packageA` and use it often/depend on it being functional, then I would consider keeping an eye on the package not being broken and/or help test PRs in my environment/settings.

p.s. One could of course send e-mails ONCE to all guys who ever contributed changes to each package and invite to be mainta

[2016-12-13 19:52] hartzell commented on #2567
These environment variables (from `go/package.py`, similar in `go-bootstrap`)

[code]

are only used in the build step.

Would it be correct to just add a couple of `env['...']` statements before [line 94](https://github.com/LLNL/spack/blob/develop/var/spack/repos/builtin/packages/go/package.py#L94) and would it have the same effect of setting them for that base step?

[2016-12-13 19:55] krafczyk opened #2573 "Add -j support to diy"
`-j` and other install options should be available when using `spack diy`.

[2016-12-13 20:01] citibeth commented on #2532
I think we can just wait for people to come forward. Maintainers are only
needed when a package breaks.

On Tue, Dec 13, 2016 at 2:43 PM, Denis Davydov <notifications@github.com>
wrote:

[2016-12-13 20:08] luigi-calori opened #2574 "problem building pango+X"
It seems that X variant on pango and cairo lead to problems if activated, to reproduce:
`spack  spec gtkplus`
`spack -d spec pango+X`

[2016-12-13 20:17] adamjstewart commented on #2574
This is a known issue. See #2495, #2565, #1552, and #1553 for extensive discussion. The problem is that `gtkplus` defaults to `+X` while `pango` defaults to `~X`. Spack isn't currently smart enough to resolve this conflict and crashes. @tgamblin @scheibelp

[2016-12-13 20:23] BarrySmith opened #2576 "Need more information in error condition with ==> Error: Unexpected token"
$ ./bin/spack install xsdk
==> Error: Unexpected token
$

It should at least print the spec that it is trying to parse and ideally the stack trace

[2016-12-13 20:24] amklinv commented on #2166
I'm also seeing the exact same issue on cori (@BarrySmith)

[2016-12-13 20:36] mamelara commented on #2166
I was able to build stuff on Cori. I think having the direct path to the cc, CC, and ftn binaries is what helped, as mentioned by @mpbelhorn. Has that been tried? I'm running into other issues at the moment but I'll see if I can remember what helped.

[2016-12-13 20:40] hartzell commented on #2567
I made the change mentioned above, and it builds a functional go and I can generate lua modules for it.  PR is #2577.

@alalazo is this an issue to keep open for investigation?  Should "I" hold off on merging the #2577?

[2016-12-13 20:40] mamelara commented on #2572
Is the issue that it's not detecting all the compilers from modules? Just looking for clarification but from what I tried it looks like in cnl.py your $PATH is replacing $MODULEPATH.
[code]
and it grabs $PATH from cmd/compiler.py in compiler_find:

[code]

FYI I'm on Cori.

[2016-12-13 20:49] becker33 commented on #2572
If the path is the issue, then this is fixed by #1514. That PR is only waiting on a rebase to current develop.

[2016-12-13 20:53] mamelara opened #2578 "AttributeError: 'str' object has no attribute 'module_name'"
[code]
Been getting this error when trying to install

[2016-12-13 21:10] alalazo commented on #2567
@hartzell Keep this open: the fact that this happened for a virtual package rings a bell. I remember I encountered some odd behavior in the DAG during module generation phase and I wonder if this could come from there. I'll try to have a look asap.

[2016-12-13 21:10] becker33 commented on #2578
@mamelara I believe that with the new ArchSpec refactoring, that line should read

`load_module(pkg.architecture.target.module_name)`

(deleting '.spec'). Can you check that this works for you and create a PR for that change?

[2016-12-13 21:57] KineticTheory commented on #2572
@mamelara On Trinitite/Trinity, when I develop outside of spack, I target KNL instead of haswell by `module load PrgEnv-intel; module swap craype-haswell craype-mic-knl`.  The `spack compilers` command has no way of knowing about this `swap`.  How should I inform spack that I want to target haswell.

[2016-12-13 22:12] hartzell commented on #2567
Ok.  No panic on my end, though it's a loose thread I'd like to tie off.  Don't stay up all night for it... ;)

[2016-12-13 22:13] becker33 commented on #2572
@KineticTheory that should be handled through the architecture interface, specifically the target. Installing with `spack install foo %intel target=mic-knl` should automatically load the craype-mic-knl module in the build environment.

[2016-12-13 23:37] KineticTheory commented on #2572
@becker33 That syntax doesn't seem to work for me.  Spack doesn't know the difference between the haswell's module set and the mic-knl's. Spack sees that I have already built for haswell, and refuses to build a mic-knl flavor.

[code]

[2016-12-14 00:07] becker33 commented on #2578
Closed by #2579

[2016-12-14 00:07] #2578 closed

[2016-12-14 00:22] hartzell opened #2583 "Is there a way to mirror a package and its dependencies?"
I'm having trouble doing end-to-end builds because sourceforge is timing out today.

That encouraged me to get around to playing with `spack mirror` and it doesn't quite do what I assumed (dangerous word, that...) it did.

I was hoping that `spack mirror create -d /path/to/dir emacs@25.1`  would figure out all of the packages and versions that would be used to install that and go get them all.

I

[2016-12-14 02:43] scheibelp commented on #2558
FYI I'll likely do this as part of https://github.com/LLNL/spack/pull/2548 (and I'll add a TODO there)

[2016-12-14 03:15] citibeth commented on #2583
I've always felt the `spack mirror` functionality is a little weak.  I think the behavior described here would be useful.

[2016-12-14 03:16] citibeth commented on #2573
What does `-j` do?

[2016-12-14 03:41] BarrySmith opened #2585 "How does spack detect a failed build?"
In the readthedocs I found

but how does spack detect errors in the make, make check make install paradigm. My make failed as did the make install but spack happily goes along thinking the install was successful.

what do I need to do in my makefiles to get spack to realize that the process failed?

Note this happens with the pflotran package so you can see what the makefile looks like currently.

[2016-12-14 04:09] tgamblin commented on #2585
Does the pilot ran makefile return an error code on failure?  Any command (spack.util.Executable)  in install() that returns an error code should raise an exception and fail the build.

Another way the build can fail is if nothing is in the prefix after install.  And, finally, you can designate sanity check files for builds that write to the prefix (where a file present in the prefix doesn't neces

[2016-12-14 04:15] BarrySmith commented on #2585
I'll need to debug that, it has a base makefile that then calls the makefile that does the real work so it is possible the error code does not properly get up to the base makefile.

[2016-12-14 04:25] BarrySmith commented on #1476
Got hit with this again after some friendly sys-admin upgraded a machine I haven't used in a few weeks. I, of course, completely forgot I had gotten this problem before #1851 and only a search of issues refreshed my memory.  You definitely need spack to be a bit nicer with useful error messages in this situation. I am already missing too much hair :-)

[2016-12-14 04:56] pramodk commented on #2572
thanks @becker33 for pointing out #1514! The compilers (i.e. all **PrgEnv-***) are now getting populated. But there is an issue with the target in `compilers.yaml`:

[code]

And `spack arch` gives:

[code]

[2016-12-14 05:03] BarrySmith opened #2586 "Install fail on hdf5 linux-ubuntu14-x86_64/gcc-6.2.0"
[spack-build.env.txt](https://github.com/LLNL/spack/files/650822/spack-build.env.txt)

[spack-build.out.txt.gz](https://github.com/LLNL/spack/files/650824/spack-build.out.txt.gz)

[2016-12-14 05:15] BarrySmith commented on #2586
@tgamblin I know your dream is that spack installs all the dependencies to insure consistent compilers, versions  etc and this is why spack does not care much about allowing one to use "system" installs of some packages (in fact that functionality is pretty much broken now). Unfortunately, some packages such as hdf5, are so damn temperamental that their spack builds will often fail which leaves th

[2016-12-14 05:23] pramodk commented on #2359
I am trying Spack on Cray KNL system (discussion in #2572) and seeing exactly same issue when I try to install :

[code]
(I don't have this issue on os-x, x86, bg-q platforms.)

[2016-12-14 05:40] davydden commented on #2583
Same here, IMHO mirror should fetch everything needed to build the spec, not only the root node.

[2016-12-14 05:54] pramodk opened #2587 "Spack concretisation issue on Cray KNL ('NoneType' object has no attribute 'to_cmp_dict')"
On the Cray KNL system I see :

[code]

Quickly looked into `lib/spack/spack/concretize.py` :

[code]

And at some point during concretisation, the value of  `default_archs` is:

[code]

Could someone have a look?

[2016-12-14 14:49] krafczyk commented on #2573
It allows parallel builds with a specific number of threads. This is especially useful when a diy package requires a bunch of prerequisites which all need to be compiled.

Basically, I feel that `spack diy` should behave the same way as `spack install` and take the same arguments to do the same thing. As is, `spack diy` builds packages in 'verbose' mode automatically among other things such as the

[2016-12-14 14:58] alalazo commented on #2567
The ultimate problem is that during module creation `go` has only one dependency, which is `git` (build, link, run) therefore the `KeyError` above. This is due to the fact that:

1. during module refresh the `spec` is retrieved from the db
2. `build` only dependencies are not stored in the db
3. and even if they were we don't traverse build only dependencies during module creation

Point 1 is nece

[2016-12-14 15:12] alalazo commented on #2567
@trws Just pinging in case you are interested in the issue

[2016-12-14 15:46] citibeth commented on #2573
Thank you.  In the past, command line args have been inconsistent between Spack commands because someone added it to one command and neglected to add the same arg to others.  This is most likely what's going on here.  A `git blame` on the lines in `spack install` that implement the `-j` flag might be telling in this respect.

Does anyone know of any reason that `-j` should NOT be available for `sp

[2016-12-14 15:47] citibeth commented on #2583
I think this is ready to be implemented, does anyone want to take a stab at it?

[2016-12-14 15:47] citibeth commented on #2574
I'm closing this issue because it is a duplicate.

[2016-12-14 15:47] #2574 closed

[2016-12-14 15:49] citibeth commented on #2532
I think this is ready to implement.

[2016-12-14 16:17] luigi-calori commented on #2574
I agree it's a duplicate ( sorry, my knowledge of spack internal is not enough for recognize it).
Anyway if possible, I think it  would be good to  collect also this particular  issue along with the other and to provide suggested workarounds.
I need to build these packages, so I tried to fix in #2575
Any hints for better workarounds would be really welcome.

[2016-12-14 16:22] citibeth commented on #2574
the other and to provide suggested workarounds.

I have suggested Universal Variants as a possible solution to this problem
(#2492), but it is still in the discussion stage.  See also the discussion
in #2546.

I'm interested in your opinions on this idea, do you think it would help
your problems?

On Wed, Dec 14, 2016 at 11:17 AM, Luigi Calori <notifications@github.com>
wrote:

[2016-12-14 16:25] adamjstewart commented on #2574
@citibeth Universal variants and/or variant forwarding would definitely solve this issue, but the real problem is that the concretizer isn't smart enough to pick a variant aside from the default. See #2575 for more discussion.

[2016-12-14 16:30] adamjstewart commented on #2574
Let me put out a PR for a workaround. It won't be pretty, but I think it will help a lot until the concretizer is fixed.

[2016-12-14 16:38] luigi-calori commented on #2574
It seems that one workaround that could work without touching current develop is to explicitly ask for X in gtkplus, without relying to it's default:

`spack spec gtkplus+X` seem to be correctly concretized, while

`spack spec gtkplus`  produce th error

[2016-12-14 16:53] citibeth commented on #2574
@adamjstewart We have two proposals on the table: variant forwarding and universal variants.  I think we should seriously consider both in a rational way before going ahead with either.

I looked over #2575 again, and I conclude that variant forwarding and universal variants would provide about the same functionality in the end.  But variant forwarding brings up a host of new questions.  For examp

[2016-12-14 17:07] kserradell opened #2589 "Add missing bzip2 dependency to fontconfig"
Hello, it's me again.

When trying `spack install fontconfig`, I have this error:

`configure: error: Package requirements (freetype2) were not met:`
`Package 'bzip2', required by 'freetype2', not found`

I've tried to add `depends_on('bzip2')` in `var/spack/repos/builtin/packages/fontconfig/package.py` but it still fails.

Any issue?

[2016-12-14 17:14] adamjstewart commented on #2589
@kserradell Way ahead of you. See #2536. If you update to the latest develop and rebuild all of those dependencies, you should be good to go.

[2016-12-14 20:42] trws commented on #2567
Thanks @alalazo.  The odd golang dependency structure is because spack can't have a package depend on another version of itself (which would solve the issue), so we have go-bootstrap which can in principle be fulfilled by either gcc or a special old version of go that can be bootstrapped with c.  It's a pain, but it's the best I could come up with at the time.

Since those environment variables ar

[2016-12-14 20:55] kserradell commented on #2589
@adamjstewart I'm sorry but even cloning the spack repo in develop branch and starting from scratch, I'm getting this error.

[2016-12-14 20:57] adamjstewart commented on #2589
Hmm, let me do some debugging.

[2016-12-14 21:00] kserradell commented on #2589
Thanks. Let me know if you need more info on our environment.

[2016-12-14 21:27] scheibelp commented on #2587
Hi @pramodk I believe I can fix this - my target would be to have a PR before tomorrow

@tgamblin could you push https://github.com/LLNL/spack/pull/2549 (reverting the PR which assigns frontend architecture to build deps)? I'd like that to merge before fixing this.

[2016-12-14 21:31] adamjstewart commented on #2589
I'm unable to reproduce this problem. Which elicits a few questions. I tried `sudo dnf remove bzip2` just to see what would happen if bzip2 wasn't installed on your system, but I can't even install fontconfig because bzip2 is required to decompress the xz tarball. Do you really not have bzip2 installed?

When you run `spack edit freetype`, does it say `depends_on('bzip2')`? If you are definitely o

[2016-12-14 21:49] adamjstewart opened #2592 "Decompressing a .zip file spits out thousands of lines of text"
If you run `spack install` on a package that downloads a .zip archive, the decompression stage spits out thousands of lines of text like:
[code]
You can suppress this output by using `unzip -q` or `unzip -qq` if you want it to be really quiet. I tried adding this to `spack.util.compression.decompressor_for`, but `which()` can't accept a second argument. Can someone else figure this out? We should

[2016-12-14 21:52] tgamblin commented on #2592
call `add_default_arg('-q')` (or `-qq`) on the `Executable` object returned by `which`.

[2016-12-14 22:24] #2592 closed

[2016-12-14 22:34] #2554 closed

[2016-12-14 22:40] becker33 commented on #2572
Can you check whether this is still reproducible with #2580 merged?

[2016-12-14 22:45] becker33 commented on #2572
@pramodk Did you find #1514 useful? I notice that @robertdfrench closed his PR without it being merged.

[2016-12-14 22:47] becker33 commented on #2563
@davydden I've never used the module system to find external packages on a non-Cray system (we originally added the feature because it is necessary to cray mpich). Can you paste in the result of `module show` on the external module you're attempting to load?

[2016-12-14 23:17] hartzell commented on #2567
@trws -- I've never tried to bootstrap a "modern" go release via gccgo.  Have you?  Is it simple (simpler than go-bootstrap?)?

@alalazo -- I'd like to clean up the go package by merging #2577.  If this is the only package that's walked into this particular lamp-post then I think your "possible general solution" above falls into the "You Ain't Gonna Need It" land.  It seems like there are bigger f

[2016-12-14 23:18] hartzell commented on #2567
@alalazo

Is that gettext problem well known or newly discovered?

[2016-12-15 00:04] citibeth opened #2594 "Variant Forwarding Proposal"
Comments / criticisms appreciated.  This is a first stab at it.

In this proposal, the Spack concretizer and package syntax will be upgraded to allow variants to be "forwarded" through the DAG.  This can be thought of as, effectively, the Spack concretizer overwriting the DAG through the concretization process (sorry, I don't have a well thought out algorithm).  Forwarding happesn before concretiz

[2016-12-15 00:16] becker33 commented on #2594
There was a previous PR from @alalazo that implemented some of these features, #391. It's been closed since, but we have some users at LLNL who have encorporated this feature already; it could be a valuable place to start thinking about this.

At the time @tgamblin and I had thought that we preferred a version that had variant forwarding as an attribute of the variant and not the dependency. I don

[2016-12-15 00:17] hartzell opened #2595 "lua modules, hash_length=0, suffixes and name collisions (oh my!)."
On a current-ish develop, I'm seeing this:

[code]

given this:

[code]

Based on the discussion in [the tutorial](https://spack.readthedocs.io/en/latest/tutorial_sc16_modules.html#change-module-file-naming), I thought that the suffixes bit would fix the conflict.

[2016-12-15 00:17] hartzell commented on #2595
@alalazo -- ping....

[2016-12-15 00:22] hartzell commented on #2595
and @alalazo (and @everyone), if you're ever in Oakland, I owe you a beer....

[2016-12-15 00:35] hartzell commented on #2595
setting `hash_length: 0` leads to the collision.  Setting `hash_length: 1` (in the course of convincing myself I was editing the correct file) leads to e.g. **emacs/25.1-o6hdu7p**.  Setting `hash_length: 10` leads to e.g. **emacs/25.1-o6hdu7p**.

Seems like it works more like a boolean than an actual length.

[2016-12-15 04:27] pramodk commented on #2572
the issue of `target: <built-in function any>` fixed by #2580 merge.

We still need #1514 to automatically populate **PrgEnv-***.

[2016-12-15 06:08] alalazo commented on #2567
@hartzell Try to have a look at #2588 (I asked for your review there). It's an alternative for #2577 that just touches `go`. The `gettext` problem seems to be due to include order and is [well know in the GNU community](https://www.gnu.org/software/gettext/FAQ.html#integrating_undefined), but I didn't investigate it further.

[2016-12-15 06:44] alalazo commented on #2595
@hartzell `spack module` is right:
[code]
Try to change your `modules.yaml` to:
[code]

[2016-12-15 06:49] alalazo commented on #2595
Also, I cannot reproduce the problem you had with `hash_length`:
[code]
After changing `modules.yaml` to:
[code]
I get:
[code]

[2016-12-15 07:24] trws commented on #2567
I haven't tried it since 1.6, but yes I've built with gcc-go with success, and originally had support in the spack packages for it as well (hence the virtual for golang and go-bootstrap deps). It's "easier" in that it's a clear dependency, but it takes much, much longer to build a gcc tool chain than to build an old go 1.4 with a system C toolchain.

In the end, the real issue as far as go is conc

[2016-12-15 07:57] alalazo commented on #2567
I agree: though it won't take a long time, it will touch a lot of files and every time you do something like this you have a chance of compromising some part of the code. And that would slow-down `v0.10`. So not a good time to do (or at least merge) this.

[2016-12-15 08:06] davydden commented on #2563
@becker33 here's the output
[code]
I just thought since there are modules already, then it would be easier to set-up external MPI's.

Also don't you need to use `modules` with `Intel` compilers to specify which `gcc` to load? That would be the case regardless of Cray / non-Cray, as far as I understand.

[2016-12-15 08:20] davydden opened #2597 "spack setup fails with AssertionError"
First time tried using `spack setup` to develop a package with Spack, and unfortunately it did not work. Looks like something is failing here related to compiler (line `1373`), which does not make much sense to me:
[code]
Then I try
[code]
and the error path is similar, BUT it now has something related to architecture (line `1372`).

---

`packages.yaml`:
[code]
and `compiler.yaml`
[code]

[2016-12-15 08:33] davydden commented on #2594
In this case Spack conretizer should be clever enough to see that `B` does not support a variant, but still pass it along to `C`? However in your example it would not be possible to define because you attach forwarding to `depends_on`:

[code]

Thereby i think

this would be more natural way to do it, even though a variant would be forwarded to all dependents.

I have not looked into @alalazo 's P

[2016-12-15 08:47] kserradell commented on #2589
Hello @adamjstewart. I'm answering all your questions:

1. I do have bzip2 in our OpenSUSE 13.2 system. `zypper search bzip2` shows `bzip2` package.
2. Yes, `spack edit freetype` shows `depends_on('bzip2')`
3. I've started in two different machines with a git clone so my environment is clean.
4. `ldd libfreetype.so`
`	linux-vdso.so.1 (0x00007ffdb570a000)`
`	libbz2.so.1.0 => /home/Earth/kserrade/so

[2016-12-15 11:09] JavierCVilla commented on #1819
@adamjstewart Did you manage solve this?

I have realized a similar error, not core dumped, but importError module. What I've seen is that when `python` is installed before `glib`, the latter fails. However, when I install firstly `glib` it works. My hunch is that may be related with the change of the `PYTHONHOME` by the new installed python but I'm still checking it.

Is it your case that you ins

[2016-12-15 12:30] citibeth commented on #2594
On Thu, Dec 15, 2016 at 3:33 AM, Denis Davydov <notifications@github.com>
wrote:

Yes.

However in your example it would not be possible to define because you

I don't get what you mean.  Of course it would be possible for the
concretizer to pass a variant from A to C without B knowing about it.  Once
A has decided to transitively forward a variant, all descendants of A (that
define `x`) will get

[2016-12-15 12:37] citibeth opened #2599 "spack compiler find: update "None" entries with found"
Re-running `spack compiler find` does not find compilers that have been installed since the last time it was run.  See:

https://groups.google.com/forum/#!topic/spack/9r4CR9jmNjY

[2016-12-15 12:38] citibeth commented on #2597
Does `spack spec` work for you?

[2016-12-15 12:39] davydden commented on #2597
sure. I would be very unhappy if it did not :smile:

[2016-12-15 12:42] davydden commented on #2594
A has decided to transitively forward a variant, all descendants of A (that
define `x`) will get it, regardless of any other forwarding instructions
further down the DAG.

I see, but that is more in line of what @becker33 suggests that **forwarding is a property of a variant**, not `depends_on()`. Going to your suggested interface example, I would change

[code]
to

[code]
to make the whole forwar

[2016-12-15 12:45] davydden commented on #2599
so the suggestion is to always update `compilers.yaml` with the new paths, in case Spack find the same compiler/version but in a new location now?

[2016-12-15 13:01] citibeth commented on #2594
The functional difference is: in the first example, A can do transitive
forwarding to some dependencies and non-transitive (or none at all) to
others.  In the second proposal, all forwards from A are transitive.

The first is more flexible.  We should consider use cases to see if we need
that flexibility.

On Thu, Dec 15, 2016 at 7:42 AM, Denis Davydov <notifications@github.com>
wrote:

[2016-12-15 13:02] citibeth commented on #2597
:( @tgamblin

All I can say is... it works for me on what's now an out-of-date branch.  I
did a couple of updates to get it working again, but this is not one of the
problems I saw.

Things have been changing rapidly, and apparently `spack setup` has been
broken at least a few times.  This is why we need regression tests...

On Thu, Dec 15, 2016 at 7:39 AM, Denis Davydov <notifications@github.com>

[2016-12-15 13:06] davydden commented on #2594
that flexibility.

Good idea.

[2016-12-15 13:10] davydden commented on #2597
For the record, I see this behaviour on f613445eb2c0bf89ae54803754d46e7cbca64c49 (which is very recent).

can one not add a few for `spack setup` using (preferably builtin packages or in the worst case mockup packages? Now idea in what part of the testing suite would they go, but it should be possible, right @tgamblin ?

[2016-12-15 15:13] kserradell commented on #2589
@adamjstewart digging in fontconfig configure, in line 14323

`Package requirements (freetype2) were not met:`

By the way, in a MacOS works perfectly...

[2016-12-15 16:03] hartzell commented on #2595
That doesn't surprise me.  I see my SNAFU now: I still have to pause and think about '^' and '+' and '~' and ...

The tutorial example is rewriting the module filenames based on particular configurations of prerequisites.

I'm trying to rewrite the module filenames based on variants.  That will work better if I actually *specify* the variant.  Funny, that....

[2016-12-15 16:18] hartzell commented on #2595
Ok, now I get it.  Those settings change the **name** of the lua module file but not the value shown to the user via `module avail`.   E.g (with `hash_length: 2`)

[code]

And the same thing with suffixes, they get added to the file name but don't change the values displayed by `module avail` (I swore I had tried "'+X': X" while I was flailing^H^H^H^H^H^H^H^H experimenting):

[code]

That's kind o

[2016-12-15 16:18] #2595 closed

[2016-12-15 17:13] tgamblin commented on #2567
Fixed by #2588.

[2016-12-15 19:48] scheibelp commented on #2597
Once #2292 is reverted with https://github.com/LLNL/spack/pull/2549 this error should no longer occur. The issue should likely remain to promote testing spack setup

[2016-12-15 21:27] citibeth commented on #2597
BTW... What do you mean by "frontend compiler?"

On Thu, Dec 15, 2016 at 2:48 PM, scheibelp <notifications@github.com> wrote:

[2016-12-15 21:40] scheibelp commented on #2597
I mean building toward the frontend architecture (frontend target/os of the platform). It is potentially misleading for me to say "frontend compiler" since the same compiler could be used for both targets.

[2016-12-15 21:41] becker33 commented on #2572
@pramodk Would you be willing to reopen #1514 and rebase on current develop?

[2016-12-15 21:48] citibeth commented on #2597
I see... so on non-HPC systems with just on architecture, in theory
building build deps with the frontend compiler should have no effect.

On Thu, Dec 15, 2016 at 4:40 PM, scheibelp <notifications@github.com> wrote:

[2016-12-15 21:53] scheibelp commented on #2597
Yes although if there are multiple compilers available for the frontend right now the concretizer may choose different ones for the build dependencies. This will disappear temporarily when #2549 is merged (which is soon likely today) but may come up again with #2548

[2016-12-16 03:29] citibeth commented on #2597
Hmm... for the average user of a simple installation who just wants to set
up one compiler... having Spack use more than the "primary" compiler would
seem to be counter-intuitive.

On Thu, Dec 15, 2016 at 4:53 PM, scheibelp <notifications@github.com> wrote:

[2016-12-16 05:20] scheibelp commented on #2597
I think I could make it so the build dependencies get the same compiler in cases where there isn't a frontend/backend distinction - I've added a TODO over at #2548

[2016-12-16 08:04] davydden opened #2605 "[Packaging guide] document recommendations for running tests"
Document that contributors should NOT add a variant `test` but instead use `self.run_tests`. Explain that the reason is that running installation tests does not change the installed package per-se, it's not really a variant in this sense. It's just an optional step during `spack install`.

[2016-12-16 09:24] ax3l commented on #1773
The main benefit I see is that we could do extensive CI for packages contributed by the community, in a similar way as [conda-forge](https://conda-forge.github.io/) does it.

We are not splitting the "code base" in that sense, but the build recipes / spack packages. I totally agree, that we need a stable package class "API" for that.

But since I think we live in a moving eco-system, we could just

[2016-12-16 16:19] citibeth opened #2606 "Document Package Superclasses specific to build systems"
MakefilePackage, CMakePackage, AutotoolsPackage, etc.

[2016-12-16 16:45] citibeth opened #2607 "Document self.run_tests stuff"
https://github.com/LLNL/spack/pull/2602

[2016-12-16 17:54] alalazo commented on #2607
Huh, what's the difference between this and #2605 ?

[2016-12-16 17:56] #2607 closed

[2016-12-16 17:57] citibeth commented on #2607
Sorry, repeat.

[2016-12-16 18:12] citibeth opened #2608 "Add a `test` deptype"
From @adamjstewart

[2016-12-16 18:14] adamjstewart commented on #2608
Duplicate... of #1279

[2016-12-16 18:14] #2608 closed

[2016-12-16 18:28] adamjstewart commented on #2589
This is all very strange. There's something going on here, but I have no idea what. Maybe someone else can figure it out? In the meantime, I would contact the fontconfig and/or freetype developers and see if they have any advice, or can at least explain where that error message is coming from.

[2016-12-16 18:39] adamjstewart commented on #2599
Just to be more clear, the issue isn't that `spack compiler find` doesn't find new compilers. It's that it doesn't update _existing_ Spack compilers with _newly added_ Fortran compilers. If you run `spack compiler remove gcc` and re-run `spack compiler find`, I suspect it will work as expected.

This is definitely a troublesome bug, and probably happens for a lot of macOS users.

[2016-12-16 18:43] adamjstewart commented on #1819
Honestly, I'm not even sure when I ran into this problem. I never fixed it, but I was able to get past it or avoid it somehow. Maybe I didn't need glib anymore?

[2016-12-16 21:39] jgalarowicz opened #2613 "libbfd.so: undefined reference to `libintl_dgettext'"
Has something changed in the binutils build lately that would cause this undefined reference (libintl_dgettext)?

My cbtf-krell build now fails with the latest develop branch, with no changes in my code.

Thanks for any clues on how to resolve.

Jim G

Partial build output:
/home/jeg/spack/opt/spack/linux-fedora19-x86_64/gcc-4.8.3/binutils-2.24-ncmqjaexykxcxxgh3cezjfpvnwvtw7rr/lib/libbfd.so: undef

[2016-12-16 21:42] adamjstewart commented on #2613
You could try adding a `depends_on('gettext')` to the binutils package and reinstalling. You would test it by running:
[code]

[2016-12-16 22:10] tgamblin commented on #2599
The idea with the current behavior is that it will not update an existing user configuration with a "better" compiler if the user doesn't want one.  I suspect people actually want their Fortran compilers updated when they run `spack compiler find`.

Is it sufficient to notice that some compilers are set to `None` and to update *those* if they are found?

[2016-12-16 22:12] adamjstewart commented on #2599
I think that would be enough. The only thing I want to make sure is that it won't overwrite my `cflags` and friends.

[2016-12-16 22:12] citibeth commented on #2599
`spack compiler find` could root around, find stuff, show it to the user,
and then ask for direction on what to do.

On Fri, Dec 16, 2016 at 5:10 PM, Todd Gamblin <notifications@github.com>
wrote:

[2016-12-16 22:15] jgalarowicz commented on #2613
Hi Adam,
Thanks for the suggestions.  It appears that didn't do the trick.  Still have the undefined.
I added the depends_on('gettext') to the binutils package and reinstalled binutils after uninstalling it.

[jeg@localhost packages]$ lsr /home/jeg/spack/opt/spack/linux-fedora19-x86_64/gcc-4.8.3//binutils-2.24-ncmqjaexykxcxxgh3cezjfpvnwvtw7rr/lib/libbfd.so
0 lrwxrwxrwx. 1 jeg jeg 14 Dec 16 13:48 /

[2016-12-16 22:19] tgamblin commented on #2613
This is in the gettext FAQ:
https://www.gnu.org/software/gettext/FAQ.html#integrating_undefined

From: Jim Galarowicz <notifications@github.com>
Reply-To: LLNL/spack <reply@reply.github.com>
Date: Friday, December 16, 2016 at 2:15 PM
To: LLNL/spack <spack@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [LLNL/spack] libbfd.so: undefined reference to `libintl_dgettext

[2016-12-16 22:21] tgamblin commented on #2605
Maybe I'm not remembering correctly, but it would be really nice if we could add a test function to `Package` now, so that the post-install tests could be run with, say, a `spack pkg-test <pkg>` command.

[2016-12-17 02:59] cpraveen opened #2615 "Failure to install dealii@develop"
@davydden I am unable to install dealii@develop as it fails at cmake. I have attached log files.

[CMakeError.log.txt](https://github.com/LLNL/spack/files/658616/CMakeError.log.txt)
[CMakeOutput.log.txt](https://github.com/LLNL/spack/files/658617/CMakeOutput.log.txt)
[spack-build.out.txt](https://github.com/LLNL/spack/files/658618/spack-build.out.txt)

[2016-12-17 03:12] cpraveen commented on #2615
I could install

spack install dealii@8.4.2 -netcdf

I had to disable netcdf though

[code]

I have

[code]

but it is looking for "lib" directory which is not present.

[2016-12-17 08:52] davydden commented on #2605
the issue was related to tests during installation, but I agree, a separate post-install function is nice to have. We already have a good discussion in this topic here https://github.com/LLNL/spack/issues/2060

[2016-12-17 09:00] davydden commented on #2599
sounds good to me. Additionally in this case it would be good to print out something like `fc f77 compilers are updated in XYZ@1234`

and then ask for direction on what to do.

that would also do, but I don't think it's necessary for the current problem and is also more complicated to implement. I would not bother asking a user when updating `None` to `something`, jus t confirm to him/her that thi

[2016-12-17 09:04] davydden commented on #2615
@cpraveen i know where the problem is, will create a PR soon.

p.s. this is yet another reasons to have https://github.com/LLNL/spack/pull/1875 of @alalazo merged in some shape/form.

[2016-12-17 10:50] alalazo commented on #2605
This requires a bit of analysis of the use cases we have though. Post-install tests are quite heterogeneous, e.g.:

- link tests we added like in the case of `openblas`
- tests that come with the package require some folder that was in the stage area
- tests that trigger some command from package `prefix`

and we need to be able to run any of those in a way that is transparent to users.

[2016-12-17 11:01] davydden commented on #2605
let's keep the discussion in one place --  #2060, several of those usage cases are already mentioned there.

[2016-12-17 16:57] #2615 closed

[2016-12-17 17:10] citibeth commented on #2599
I agree, sounds good to me.

[2016-12-17 19:10] davydden opened #2617 "packages using prefix/lib and prefix/lib64"
from @tgamblin

This would be good to have, but it may be difficult to implement as one needs a specific OS to encounter such behaviour (i.e. `netcdf-cxx` installs to `lib` on `ubuntu 16.04`, but uses `lib64` on `opensuse tumbleweed`). Also some packages may not have an option to control libs location, then one would need to move libs post-install and if there are more than one, do extra patching.

[2016-12-18 18:11] jesslinn commented on #1100
I had the same problem building Python-2.7.12 with spack-0.9.1.  The problem is noticed when the system python is version 2.7.5 or less which has the pyconfig-64.h file.

The problem is caused because $SPACK_ROOT/lib/spack/env/cc adds libraries of dependencies to the rpath including /usr/lib and /usr/lib64.  The python install script sets the LD_LIBRARY_PATH to the build directory in order to pick

[2016-12-18 18:20] alalazo commented on #1100
@jesslinn I think this has been solved in `develop` precisely in the way you suggested! :smile:

Also, for your information, there will be a new release soon with this and a lot more other changes / bugfixes (see project v 0.10).

[2016-12-18 20:12] citibeth commented on #2617
You mean Spack still supports 32-bit?  Raise your hand if you have a 32-bit HPC cluster...

`/lib64` was a hack to support 32-bit and 64-bit libraries simultaneously, when we were just beginning to make the switch to 64-bit architecture.  Those days are hopefully now behind us, with everything converted to 64-bit mode.  32-bit Linux builds are no being retired:

https://linux.slashdot.org/story/16

[2016-12-18 20:25] davydden commented on #2617
no, i mean different packages still install libs in different locations, most of the time it's `prefix/lib`, but on some OS it's `prefix/lib64`.

good point, that's far easier than trying to move libs.

same here.

[2016-12-18 20:57] jesslinn commented on #1100
Thanks. I actually am using develop 592df25 fresh as of yesterday, so it is not fixed there.

On reflection it might be better not to add rpaths for any non-spack generated dependency, rather than singling out /usr.

[2016-12-18 21:24] alalazo commented on #1100
I thought this shouldn't happen since #2083, I'll try to see tomorrow if I can reproduce the issue. Which OS are you on?

[2016-12-19 00:46] adamjstewart commented on #2617
We also need to support externally installed packages, which we have no control over.

I'm actually in the middle of 32-bit library headaches due to a couple legacy software packages that have not yet been ported to 64-bit and require 32-bit dependencies. Trying to compile a 32-bit glibc library? Not fun.

[2016-12-19 06:13] davydden commented on #2617
agreed. That's one of the reasons I like https://github.com/LLNL/spack/pull/1875

[2016-12-19 07:59] tgamblin commented on #2123
@adamjstewart: should be fixed by #2626.  Can you verify?

[2016-12-19 08:00] tgamblin commented on #1178
@adamjstewart: should be fixed by #2626.  Can you verify?

[2016-12-19 08:00] tgamblin commented on #1377
@eschnett: this should be fixed by #2626.  Can you verify?  I tested with the package DB you attached above.

[2016-12-19 08:07] tgamblin commented on #2342
@aprokop: can you test this with #2626?  #2626 includes fixes to `satisfies()` for dependencies that I *think* will fix this.

[2016-12-19 16:14] aprokop commented on #2342
@tgamblin Will do (probably tomorrow).

[2016-12-19 16:14] adamjstewart opened #2628 "NCO versions not being detected properly"
[code]
Looks like we need to add another regex for this URL scheme. I would expect the alpha/beta versions to look like `4.6.3-alpha04` instead of `04`.

[2016-12-19 17:09] #1992 closed

[2016-12-19 17:09] #2123 closed

[2016-12-19 17:26] adamjstewart commented on #2123
@tgamblin This might actually be finally fixed! I ran into the same problem again when trying to build mvapich2, updated to the latest develop, tried again, and it worked!

[2016-12-19 17:38] #1178 closed

[2016-12-19 17:45] adamjstewart opened #2632 "Concretization of competing version constraints"
Just noticed this problem:
[code]
This works though:
[code]
This problem was uncovered by #2590, which changed the default to `+mpi`. The problem is with the following version constraints:
[code]
My understanding is that Spack ignores any `when=` dependencies during the first phase of concretization unless they are specified on the command line. Since I didn't specify `+mpi`, it chose the latest v

[2016-12-19 18:04] tgamblin commented on #2632
Added to the Spack `v1.0` project.  This will have to wait for the smarter concretizer.

[2016-12-19 18:19] adamjstewart commented on #2632
Just making sure we're aware of it. Ideally, the new super-fancy genius concretizer will be able to close every issue with the "concretization" label.

[2016-12-19 18:21] tgamblin commented on #2632
I hope so.  I'm sad it's not really super-fancy-genius -- It's just backtracking search.  But hey it should be pretty cool.  I want to add a `spack ways` command that shows you ALL the legal ways to build a package (not that it's guaranteed to terminate).

[2016-12-19 18:24] adamjstewart opened #2634 "Killed a build, now Spack thinks it is installed"
I just tried building a package, noticed something was wrong during configure, and killed it with <kbd>Ctrl</kbd>+<kbd>C</kbd>. When I ran `spack purge` and tried installing it again, I saw:
[code]
When I ran `spack reindex` and tried installing again, I saw:
[code]
Of course, that directory is empty except for `.spack/spec.yaml`.

[2016-12-19 18:32] tgamblin commented on #2634
I don't see how this would happen unless the `ctrl-C` happened right between the setting of `keep_prefix` and `spack.store.db.add` in `Package.do_install()`.  We should probably turn off interrupts during that part of install.

[2016-12-19 18:35] davydden commented on #2632
that's exactly the same issue as https://github.com/LLNL/spack/issues/1781 . For now you would need to have all `depends_on` either with or without  `when=` clause, so in this case it should changed to
[code]
so that Spack does not conretize `hdf5` before it went through the whole graph and variants.

[2016-12-19 18:40] adamjstewart commented on #2632
@davydden Unfortunately, that does not help.

[2016-12-19 18:41] adamjstewart commented on #2634
It didn't. It was mid-configure.

[2016-12-19 18:43] davydden commented on #2632
@adamjstewart you are too quick to downvote:
[code]
with
[code]
:smile:

[2016-12-19 19:31] adamjstewart commented on #2634
Nope, I didn't. There were no error messages at all either, which was weird. Usually I think it prints a Spack error message saying that the user killed the command.

[2016-12-19 19:39] adamjstewart commented on #2632
@davydden Interesting strategy, fighting fire with fire. But I think your understanding of the problem is wrong. The thing that got it working wasn't adding `depends_on("hdf5 @1.8:", when="~mpi")`, it was removing `depends_on("hdf5 @1.8:")`. This prevents Spack from concretizing on the latest version of HDF5 during the first pass (before considering variants), putting it off until the variants are

[2016-12-19 19:42] adamjstewart commented on #2632
P.S. I'm working on various fixes to h5hut right now so I think I'll include your workaround for the time being.

[2016-12-19 19:46] davydden commented on #2632
well, that's exactly what i suggested above in the first comment. BUT it was not enough, because apparently there was another `depends_on(hdf5 , when="+mpi")` which made problems. So it's arguable whether or not my understanding is wrong ;-)

you can't have everything with the current conretizer, I am well aware of it. At least my patch make the whole thing comply with its limitation, whereas CLI

[2016-12-19 20:20] adamjstewart opened #2638 "spack find: error: argument -p/--paths: not allowed with argument -d/--deps"
[code]
Why not?

[2016-12-19 21:46] mamelara commented on #2572
@becker33 I rebased on current develop. Not sure how to reopen it as #1514

[2016-12-19 22:17] #2628 closed

[2016-12-19 23:06] jrood-nrel commented on #2634
I experience this almost every time I `qdel` a batch submitted build script and have to delete an empty install prefix directory.

[2016-12-20 00:10] tgamblin commented on #2634
@jrood-nrel: I believe that `qdel` will kill the job and not let it clean up.  Spack relies on being able to execute the `finally` block... do you know what signal `qdel` sends?

[2016-12-20 02:58] scheibelp commented on #2495
https://github.com/LLNL/spack/pull/2548 is an attempt to resolve this

[2016-12-20 12:31] kserradell commented on #2589
Hello. I'll do it.

[2016-12-20 15:07] kserradell commented on #2589
@adamjstewart ! I've found the problem! Take a look to e98db3441c45129aaa747e5ccbba5b56a101526d

It now installs in my environment.

[2016-12-20 16:23] jrood-nrel commented on #2634
@tgamblin Looks like:

[2016-12-20 17:50] citibeth opened #2647 "Create spack-nonfree repository"
@tgamblin @adamjstewart

The proposal, initially discussed in #2614, is to move non-free packages (which require, among other things, manual tarball downloads) into a separate `spack-nonfree` Spack repository, under a separate GitHub repo.

The GitHub repo `http://github.com/LLNL/spack-nonfree` would have a `repo.yaml` and `packages/` at its top level.  The `repo.yaml` file would specify either `b

[2016-12-20 18:16] adamjstewart commented on #2647
Every package containing `licensed_required = True` is licensed. Still not convinced on the argument for creating a new repo though.

[2016-12-20 18:19] tgamblin commented on #2647
I vaguely like the idea but I haven't really had time to think about this, and we have other priorities right now.  If people want to discuss, go ahead, but I don't really want to add this until it is easier to add repositories, e.g. by git URL.

[2016-12-20 18:34] davydden commented on #2647
copy-paste it here for clarification:

by @citibeth :

[2016-12-20 18:36] adamjstewart commented on #2589
Interesting. I wonder if adding pkg-config to any of the dependencies would solve the problem. Can you try building the dependencies and see if they look for pkg-config during configure? I'm fine with your solution too.

[2016-12-20 18:47] citibeth opened #2648 "Non-downloadable packages"
Some packages cannot be auto-downloaded by Spack.  The current way to ensure that is to specify a URL like (see #1298):
[code]

We need a less obscure way to achieve the same end.

[2016-12-20 21:03] davydden commented on #2597
#2292 is reverted with https://github.com/LLNL/spack/pull/2549, but still on 3f1cdbf5efb6092d806a25f35c87b7b6b3b78364  there is
[code]

[2016-12-20 22:52] jwillenbring opened #2651 "Mixed Toolchains documentation out-of-date"
The documentation in the section titled

[Mixed Toolchains](http://spack.readthedocs.io/en/latest/getting_started.html#mixed-toolchains)

refers in step 4 to the old location for the compilers.yaml file, and shows an example in the old format for an entry in that file.

[2016-12-21 02:20] aprokop commented on #2342
I don't know what's going on, but I tried testing the recent `HEAD` (3f1cdbf5efb6), and I cannot even install `openmpi` due to not finding the Fortran compiler in openmpi's `die_without_fortran`. Spack clearly does not see gfortran even though it's accessible on the command line and is in `/usr/bin/gfortran`. Printing `self.compiler` right before the check results in
[code]
I don't think it matter

[2016-12-21 02:52] tgamblin commented on #2342
Is this #2599?

[2016-12-21 03:02] citibeth commented on #2342
I always just configured my compilers manually, look in compilers.Yaml
On Dec 20, 2016 9:20 PM, "Andrey Prokopenko" <notifications@github.com>
wrote:

[2016-12-21 03:04] aprokop commented on #2342
@tgamblin You are right. After I blew away `~/.spack/linux/compilers.yaml` and rerun `spack compiler find` it found them.

I did not realize that spack keeps some things in `~/.spack/cache` and ~/.spack/linux`. I'm sure there must be a good reason to do that, but my expectation is that blowing away the spack directory should delete all spack. This is in line with the fact that spack stores its dat

[2016-12-21 03:07] aprokop commented on #2599
Got hit by that in #2342 when using a container with only gcc/g++ installed. Updated HEAD which included a newer variant of openmpi (which needs Fortran), installed gfortran, even blew away spack but the problem was only solved by removing `~/.spack/linux/complers.py`

[2016-12-21 03:44] scheibelp commented on #2597
I can replicate this; I'll see if I can track down the issue in the next couple days

[2016-12-21 03:52] aprokop commented on #2342
#2626 does **not** fix the issue. `boost` still picks up openmpi-2.0.1 instead of the installed openmpi-1.8.8 disregarding instructions from `packages.yaml`.

[2016-12-21 04:15] citibeth commented on #2651
Thank you for bringing this to our attention.

[2016-12-21 11:46] kserradell commented on #2589
Adding pkg-config dependency in freetype and libxml2 (font-util already have), also solves the problem.

dafcd5e99516ca40642e61ba316b49194ddc5682

Which should be the solution?

[2016-12-21 15:03] jesslinn commented on #1100
rhel7 and ol7

[2016-12-21 16:00] adamjstewart commented on #2589
Unless someone else has an opinion, I think it would be better to add the pkg-config dependency to those packages. If it is installed on your system, the build will pick it up anyway. This just ensures that it is always present and the correct version is always found. Can you submit a PR with that last commit?

[2016-12-21 16:03] adamjstewart commented on #2342
👍

👎

There are a lot of reasons for this. If you need to uninstall and reinstall Spack for whatever reason, you may want to keep your settings. Also, I have multiple Spack installations (I have to reinstall every time the hash changes), so it is nice to have global settings for all installations.

[2016-12-21 16:07] aprokop commented on #2342
I see you point. I know that some people write their own `compilers.py`. But I only had a custom `packages.py` and everything else was auto-generated. Is it worth keeping the settings that you never generated yourself?

OK, that's valid.

[2016-12-21 16:15] adamjstewart commented on #2342
Spack doesn't really have an idea of which settings have been edited by the user and which were auto-generated.

[2016-12-21 17:23] sknigh opened #2653 "package.yaml does not resolve global variants"
Lets suppose I have an infiniband cluster. I would like to have communication libraries to build with the +verbs variant when it is available. I tried to express this in package.yaml:

[code]

Unfortunately, it neither throws an error, nor influences spec concretization.

[code]

[2016-12-21 17:37] adamjstewart commented on #2653
Duplicate of #2165, should be solved by #2644.

[2016-12-21 18:18] #2653 closed

[2016-12-21 18:45] citibeth commented on #1100
Yes, my Python 2.7 problems are on CentOS7 also.

On Wed, Dec 21, 2016 at 10:03 AM, jesslinn <notifications@github.com> wrote:

[2016-12-21 18:52] citibeth commented on #2342
I think Andrey has a good point there.  Spack could have that idea, of
course.

On Wed, Dec 21, 2016 at 11:15 AM, Adam J. Stewart <notifications@github.com>
wrote:

[2016-12-21 18:55] adamjstewart commented on #2342
It would be difficult to keep track of. We would have to include time stamps of when Spack last edited it to tell if it has been manually edited since. Also, would we delete it if the user ran special commands like `spack compiler add` or `spack external add` (coming soon)? None of the Spack configurations are really auto-generated. They come from `spack compiler add`, either run explicitly or imp

[2016-12-21 20:25] aprokop commented on #2342
@adamjstewart I agree that the solution would be hard for a little benefit. I could think of splitting the configuration files into user-defined and generated, and then merging them when spack is running but I don't think it's worth it. I think a better thing to do would be simply documenting the process. But even that may not be necessary with #2599 fixed.

[2016-12-21 20:26] citibeth commented on #2319
@adamjstewart

This continues to be a problem, even after #2317.  It is not a problem on ALL packages, just some.  For example, on Python extensions.  The problem is that a skeleton Python tree gets generated, and then that is confusing `directory_layout`.

Any ideas on how to  fix this?  See below...

[code]

[2016-12-21 20:41] adamjstewart commented on #2319
Hmm, sorry, I've never used `spack setup` before, so I'm not sure how it even works. @alalazo?

[2016-12-21 20:46] adamjstewart commented on #2342
Yeah, we already kind of do that. Spack comes with it's own defaults in `etc/spack/defaults` that get merged with the user settings in `~/.spack`. Like I said, anything that removes auto-generated settings would also affect other Spack installations. Spack would have no means of telling whether or not other Spack installations exist.

I think this is pretty standard for UNIX applications. It allow

[2016-12-21 20:58] citibeth commented on #2319
The general gist of the problem is as follows... `spack setup` goes through an entire install process, except it does not actually build or install.  But it still generates the module file.  It is presumed that the user will later do the installation for real by running `mkdir build; cd build; ../spconfig.py ..; make install`

[2016-12-21 20:59] citibeth commented on #2342
So about the original problem of not respecing OpenMPI versions...?

On Wed, Dec 21, 2016 at 3:46 PM, Adam J. Stewart <notifications@github.com>
wrote:

[2016-12-21 21:07] citibeth opened #2657 "Spack Melts Down into a puddle..."
@mathstuf  Something's missing in the Python code, this should easy to fix.

[code]

[2016-12-21 21:24] cyrush opened #2658 "RPATH entires in std_cmake_args undermine install from static builds"
I am building a project that has exes that link to static libs on bgq using gcc. Our project uses a CMake-based build system.

In our build system I noticed I had to disable any RPATH related CMake settings to avoid relinking errors during install.

When building with spack the issue reappeared b/c spack includes RPATH settings as part of `std_cmake_args`.

I can easily filter the `std_cmake_args`

[2016-12-21 21:28] citibeth commented on #2657
OK, I fixed that bug, now I see the error message it was trying to tell me:
[code]

??? Are we getting an array of chars somewhere instead of a string?  Or is this a problem printing the error?

[2016-12-21 21:30] adamjstewart commented on #2657
`m4` is the only thing that depends on `libsigsegv`, and only when `+sigsegv`, which is the default. Aside from that, I don't know where this is coming from.

[2016-12-21 21:49] scheibelp commented on #2657
It appears this is a problem printing the error: the ```comma_or``` function expects a container so in

[code]

it would make sense to do ```comma_or([name])``` instead

[2016-12-21 21:52] tgamblin commented on #2657
@scheibelp: or if there is only one `name` and not a list, just `name`.

[2016-12-21 22:07] aprokop commented on #2342
It is [still](https://github.com/LLNL/spack/issues/2342#issuecomment-268428868) an issue.

[2016-12-21 22:24] citibeth commented on #2657
So it looks like the problems mentioned above are minor/cosmetic.  Now to the core bug... the line `other.get_dependency(name)` should never fail, according to the description of `dep_difference()`: `Returns dependencies in self that are not in other.`  Once you swap other for self, this would read "Returns dependencies in other that are not in self."  Therefore, `other.get_dependency()` should no

[2016-12-21 23:13] trmwzm opened #2660 "luaposix (lmod) fetch error"
Link and md5 correct in package.py, .... but debug shows incorrect path during install:

[code]
[code]

[2016-12-21 23:26] citibeth commented on #2657
So... binutils -> m4 ->sigsegv.
Apparently, one of the `binutils` between `self` and `other` had `sigsegv` as a (transitive) dependency, and the other one didn't.  Somewhere, `binutils` is picking up `^sigsegv`, although I can't for the life of me figure out where.

Funny thing, `spack spec` works just fine on this spec.  So I tried (effectively):
[code]
Now it's working --- although it decided it

[2016-12-21 23:28] tgamblin commented on #2660
The [package](https://github.com/LLNL/spack/blob/develop/var/spack/repos/builtin/packages/lua-luaposix/package.py) could probably use a proper `url_for_version` method.

I think we need to figure out how to offload some of the URL special cases from Spack's `url.py` to package files.  @adamjstewart might like that.

[2016-12-21 23:45] citibeth commented on #2657
Now I'm really getting some crazy stuff; even after `spack reindex`:
[code]

[2016-12-21 23:50] citibeth commented on #2657
This isn't working.  I'm upgrading to the latest Spack and starting over again...

[2016-12-22 00:05] citibeth opened #2661 "`spack install` should print spec!"
When you run `spack install` (or `spack setup`), Spack should print the entire concretized spec BEFORE it prints anything else (or does anything).  What it prints should be the same as if one runs `spack spec -Il`.

This would be good for debugging.

Any comments?

[2016-12-22 00:08] tgamblin commented on #2661
Seems very non-orthogonal.  Most users don't care.  You can just run `spack spec -whateveryoulike` before `spack install`.

[2016-12-22 00:09] tgamblin commented on #2661
And, after install, you can run `spack spec /abc123` on the install hash to see what happened.

[2016-12-22 00:56] cyrush commented on #2583
I believe spack mirror already does this if you add `--dependencies `

Here is how I am using an ancient version of spack (from within a python script) to fetch the source of a package and everything it depends on:

`"spack/bin/spack mirror create -d {} --dependencies {}".format( mirror_path, pkg_name)`

[2016-12-22 00:58] tgamblin commented on #2583
@cyrush: I think @hartzell is looking for something that will download all the versions, rather than just those needed for a particular concrete spec.  I've actually got a prototype of this I used to download all the tarballs in Spack; it just needs polishing off.

I think we could make this the default behavior (download tarballs for all potential options) and allow a `--minimal` argument to shri

[2016-12-22 01:07] cyrush commented on #2583
I see -- I would prefer it only download what is needed for the spec given and have an option to broaden. I think it's good to be nice to the folks hosting the files :-)

[2016-12-22 01:41] citibeth commented on #2661
When `spack spec` takes 40 seconds, that suggestion is a non-starter.
There should at least be an option to print it as you install.  I'm going
crazy debugging this.

On Wed, Dec 21, 2016 at 7:08 PM, Todd Gamblin <notifications@github.com>
wrote:

[2016-12-22 01:55] citibeth opened #2662 "`spack setup` is just plain broken"
`spack setup` does not work.  For posterity, here is a relatively simple example of it not working.  Looking inside `setup.py`, I barely recognize what I see:

1. `spack setup` was originally derived directly from the `spack diy` code; but now the two look nothing alike.

2. `spack setup` ends up concretizing the spec twice.  When specs take about a minute to concretize, that can be a serious prob

[2016-12-22 02:50] adamjstewart commented on #2661
Duplicate of #2149.

[2016-12-22 02:55] adamjstewart commented on #2660
Getting rid of special cases is good, but hiding complexity inside of the Spack core libraries is probably better. My goal is that someone who has never even heard of Python can easily use and contribute packages to Spack.

[2016-12-22 04:14] citibeth opened #2663 "`+doc` or `+docs`?"
Any opinions?  Should we standardize on a variant called `+doc` or `+docs`?  Either way, it will be turned off by default; turn it on builds docs associated with a package.

Sometimes building docs involves a lot: doxygen, even LaTeX.  And it's usually not needed in the land of the WWW.

[2016-12-22 04:30] citibeth commented on #2661
I'm working on a PR for this...

[2016-12-22 05:21] aprokop commented on #2663
I think we should, and it's `+doc` for me.

[2016-12-22 05:33] citibeth opened #2665 "Refactor code shared between CMakePackage and general builds using CMake."
@alalazo I noticed that `get_std_cmake_args()` in `build_environment.py` seems to repeat code from `_std_args()` in `build_systems/cmake.py`.  Can one of them be deleted?

[2016-12-22 05:46] tgamblin commented on #2665
Any `Package` subclass can still use cmake.  Maybe there's a decent way to refactor but I don't think we should get rid of these variables for general builds.

[2016-12-22 05:48] citibeth opened #2666 "Concretizations crashes if the same spec string is concretized twice."
@tgamblin In #2664, we seem to have discovered that many strange bugs happen when you concretize a spec more than once in a run of Spack.  We're solving the immediate problem by removing unnecessary (and VERY inefficient) multiple concretizations.  But I think this also points to a possible problem somewhere deep in the concretization / memoization logic; a bug that could bite us again elsewhere.

[2016-12-22 05:49] citibeth commented on #2665
Oh yes, of course.  Let's just say this should be refactored.

[2016-12-22 05:51] tgamblin commented on #2666
What is this issue asking?  I don't know how to address it.  There are already issues open about concretization for 0.10 that I'm working on. Do you have a reproducer?  If not please close and reopen with something concrete.

[2016-12-22 05:56] tgamblin commented on #2662
@citibeth: sounds like spack setup needs regression tests.

[2016-12-22 06:06] davydden commented on #2663
Agree, also prefer '+doc'

[2016-12-22 14:15] citibeth commented on #2662
I'm not sure if `everytrace/package.py` has made it into Spack.  For those who wish to reproduce this behavior, it is attached here.
[everytrace_package.py.txt](https://github.com/LLNL/spack/files/668914/everytrace_package.py.txt)

[2016-12-22 14:19] citibeth commented on #2666
See #2662

This may be the first time we've suspected or concluded that concretizing the same thing more than once could be contributing to the problems.  It is therefore useful information, if it turns out that multiple concretization really is triggering a bug.

Probably this is just something to be aware of.  I believe we're getting around this problem in #2664.  Although we shouldn't be concre

[2016-12-22 14:44] tgamblin commented on #2666
Concretization is idempotent:
https://github.com/LLNL/spack/blob/3f1cdbf/lib/spack/spack/spec.py#L1497

If the problem is #2662, there is already have an issue for that.  I don't understand why one problem needs two issues.  One is sufficient.

[2016-12-22 15:06] citibeth commented on #2666
I see... but something was not working.  Why else would `spack setup` and `spack install` give such different behavior in #2662?

#2662 is fixed by #2664, so I expect it will be closed soon.

[2016-12-22 16:09] adamjstewart commented on #2634
This happened to me again today.
[code]
Checked and I actually do have an `mpich@3.2%intel-17.0.0` installation directory with only a `.spack` directory inside. Had to delete it and run `spack reindex` to get back to normal. Seems like Spack isn't cleaning up properly after failed/killed installs.

[2016-12-22 18:00] trmwzm commented on #2660
Would it be possible to use the link containing the git SHA1 of the release ?

[2016-12-22 18:40] scheibelp commented on #2666
https://github.com/LLNL/spack/blob/3f1cdbf/lib/spack/spack/spec.py#L1497

The issue I think is being reported is

[code]

rather than

[code]

The referenced line handles the second case but not the first. And actually that also seems to be a good reproducer:

[code]

[2016-12-22 18:46] citibeth commented on #2666
Yes, I think you nailed the core issue.  I think this is a better explanation of the problem than #2662.
(Was not aware of the `spack python` command... I should review all Spack commands someday).

[2016-12-23 10:31] davydden commented on #1457
@tgamblin i just double checked that the issue is still there, I created a separate branch which triggers is, see https://github.com/davydden/spack/commit/f4ca2e74520e4ff7ee0907050f5fd69d0111f0d3

[2016-12-23 14:05] jesslinn commented on #1100
/usr was getting injected into my dependency list because of taking the recommendation in (Spack) Getting Started to use the system's openssl:

[code]
So one way to hide the underlying problem is just to let spack build openssl.

The reason that `filter_system_paths` from  [#2083](https://github.com/LLNL/spack/pull/2083) does not work for cleaning up dependencies is that it combines ` ['/', '/usr'

[2016-12-23 14:15] citibeth commented on #1100
Tell spack that openssl is in '/fakepath', does that fix the problem?
On Dec 23, 2016 9:05 AM, "jesslinn" <notifications@github.com> wrote:

[2016-12-23 14:44] davydden commented on #1100
you are right, this needs to be fixed.

The right way to fix this may not be by adding workarounds to filter `/usr/ `from `prefix`, but adjusting compiler wrappers so that instead of`prefix`-es they use `prefix/lib` and `prefix/include`. I don't know details of wrappers, but I see no reasons why `SPACK_DEPENDENCIES`, `SPACK_RPATH_DEPS` and `SPACK_LINK_DEPS` have to be `prefix`es.

Otherwise I am h

[2016-12-23 16:30] tgamblin commented on #1457
I have a fix for this --- finishing up getting all the tests working with the PR.

This is caused because of some bugs introduced when deptypes were implemented.  Specifcally there's a routine that "flattens" the dependencies in the DAG and gives you a dict of single node specs keyed by name.  That was adapted to give you a dict of DependencySpecs, which are basically edges in the DAG, but it assu

[2016-12-23 16:34] davydden commented on #1457
Sounds great!

[2016-12-23 17:49] jesslinn commented on #1100
@davydden  I don't think the essential problem comes from using prefix or prefix/lib and prefix/include although you are right that it would be another way to fix the current symptom .  The deeper problem comes up whenever a general install prefix is used for multiple dependencies from outside of spack (e.g. /usr or /usr/local).  If one wants to use package1 (openssl) from such a location but not

[2016-12-23 20:57] davydden commented on #1100
i think we just need to avoid using prefixes of `/usr/local/` and that's why: When you do `/usr` or `/`, then during linking `/usr/lib` and `/lib` will be found no problem AFAIC (so no issues with removing such prefixes), however if you say that `/usr/local/lib` won't be found automatically, then sorting this prefix won't help here because you may be breaking the following linking chain: `package-

[2016-12-24 06:13] citibeth commented on #2658
Can you please post a log file showing the relinking errors?  Just rename it to '.txt' and attach to the comments on this thread.

[2016-12-24 12:24] juan42 opened #2674 "Wrong $PATH extension in Tutorial"
Using the link from the main repo readme you get redirected to http://spack.readthedocs.io/en/latest/tutorial_sc16.html.

It recommends
[code]
which is wrong. You need to set
[code]
I'm sorry, i haven't found a branch to edit this directly. But the information is misleading

[2016-12-24 13:05] jesslinn commented on #1100
I completely agree that it is best not to build with packages that use `/usr/local` as a prefix.

The dep_prefixes are currently sorted alphabetically by package name.  My only point was that if, instead of removing a `/usr/local` path completely, it were moved to the end of the list, then if someone happened to specify `packagename@system: /usr/local` in packages.yaml, it would work the way a dep

[2016-12-24 13:14] davydden commented on #1100
Looking at
[code]
i very much doubt this is indeed the case. In other words, they must be related to the DAG we build, and not just something random/alphabetical.

With due respect I perfectly understand your point, I just do NOT agree that this is the right approach because packages depend on one another and order of the libraries in the link line is important. See my comment above https://github

[2016-12-24 13:16] davydden commented on #1100
@jesslinn If you have an alternative solution, please create a PR. I am not a maintainer of Spack so I do not decide what is merged and what isn't.

[2016-12-24 14:28] citibeth commented on #1100
So we have a situation here where C->B->A.  C and A are built with Spack, but B is not.  That's not a use case I'm particularly interested in supporting.

I am of the opinion that paths already built-in to the compiler should not be specified again as -I or -L.  But paths not built-in should be.  Apparently, what is / is not included by default varies between compilers:

https://www.google.com/sea

[2016-12-24 14:33] citibeth commented on #1100
My brief research above indicates that removing `/usr/local` won't work at all with Clang.

How do you know that's not already the case (with GCC at least)?  I believe GCC seraches `/usr/local` before any other system directories:

https://gcc.gnu.org/onlinedocs/cpp/Search-Path.html

[2016-12-24 14:33] hartzell commented on #2583
@tgamblin -- I didn't explain it well, I don't want everything, just everything that I need to install my set of things.

I'll give @cyrush's suggestion a try.

[2016-12-24 16:30] davydden commented on #1100
One can check `$cpp -v` to see which folders are searched for by pre-processor.

So for Apple's `clang` it has:
[code]
whereas `$ ~/spack/opt/spack/darwin-sierra-x86_64/clang-8.0.0-apple/gcc-6.2.0-yuzfgyrrvsnlutzrys2hwgbr47km7cql/bin/cpp -v` says
[code]

So at least on macOS (I am away from Ubuntu at the moment, so can't test), both `/usr/local` and `/usr` are searched for. Also no huge difference

[2016-12-24 16:50] citibeth commented on #1100
We  can't assume what the compiler will / will not include on its own.
Appending these things at the end of our path will lead to greater
predictability.  What's the harm?

[2016-12-24 17:06] adamjstewart commented on #2674
You can edit this directly by submitting a PR to the develop branch. I can fix this.

[2016-12-24 21:52] hartzell commented on #2546
F.W.I.W. (and for future reference for me), here's how I've been building my R bits (just ran through that part of the build with commit `e340f275`).

[code]

[2016-12-24 22:42] adamjstewart commented on #2546
@hartzell You can also put the following in `~/.spack/packages.yaml`:
[code]
and run:
[code]
to get the same effect.

[2016-12-25 00:38] hartzell opened #2676 "luaposix fails to download"
While installing lmod, `luaposix` fails to download.

[code]

The tarball exists here:  https://github.com/luaposix/luaposix/archive/release-v33.4.0.tar.gz

and here's the relevant bit of the package.py

[code]

The package itself hasn't changed.  I think I remember fetching code being reworked recently.  Does this ring any bells?

g.

[2016-12-25 01:07] adamjstewart commented on #2676
@tgamblin

[2016-12-25 01:28] hartzell commented on #2546
Yes, but that only works if the job runs as me, on a machine that has that file in my home directory.

The command I shared does not depend on any configuration outside of the repo.  Making those changes in my home directory feels a bit like 'spooky magic at a distance', which usually leads to trouble....

I believe (have not tested) that I could get the same effect in an `etc/spack/packages.yaml`

[2016-12-25 04:52] adamjstewart commented on #2676
Duplicate of #2660.

[2016-12-25 04:52] #2676 closed

[2016-12-25 19:31] hartzell opened #2678 "Valgrind builds tool for its own build that needs to be "sbang-ed"..."
My valgrind build failed thusly:

[code]

`coregrind/link_tool_exe_linux` is built by the install script and has a hideously long perl shbang line.

I understand how the `sbang` mechanism is connected via the post-install hook and runs as part of the `install` process.  Is there an approved way of wedging it into the build process (valgrind seems to be auto-tools based)?

[2016-12-25 20:32] #2660 closed

[2016-12-25 20:36] #2674 closed

[2016-12-25 20:36] tgamblin commented on #2674
@juan42: thanks!

[2016-12-25 21:20] tgamblin commented on #1457
Ok here are specs for @davydden's reproducer, without and with the fix.

## Without fix
[code]

Notice that the two different command lines should result in the exact same DAG, but in one, `libpciaccess` has a build dependency on `libtool` and in the other it has `build` and `link` dependencies on `libtool`.  This is because `libool` is actually needed by several packages, and deptypes from one en

[2016-12-26 03:24] #1100 closed

[2016-12-26 18:31] hartzell opened #2682 "luafilesystem fails to download (no, not an echo...)."

[2016-12-26 18:33] hartzell commented on #2682
I thought I knew what was going on, but typed to quickly...

Closing, will open a new one if needed.

[2016-12-26 18:38] hartzell commented on #2682
Ok, I was on the right track.

Installing fails thusly:

[code]

Because there's a typo in the tag for that version of luafilesystem ([luafilesystem issue #88](https://github.com/keplerproject/luafilesystem/issues/88)).

Instead of `v1_6_3` it was tagged `v_1_6_3`.

Not sure if they changed the tag recently or if recent changes to make luaposix tightened something up or ...

If someone gives me a

[2016-12-26 18:40] hartzell commented on #2682
Unsightly hack-around was to change the version to `v_1_6_3` ....

[code]

[2016-12-26 19:11] hartzell commented on #2678
I'm confused, but today's clone built this successfully.  If I have trouble again, I'll reopen this.

[2016-12-26 19:11] #2678 closed

[2016-12-26 19:29] hartzell commented on #2497
In retrospect, I believe that this was caused by updates to the package descriptions between the first and second builds.

[2016-12-26 19:29] #2497 closed

[2016-12-26 22:14] mamelara commented on #2166
@amklinv I just ran into the cannot create C executables with libpciaccess as well as libxml2. It seems that the dependency on pkg-config type build seems to change the pkg-config PATH to point to the spack installed pkg-config. What I did to fix this was to include in packages.yaml the already installed pkg-config present on Cori (and same for Edison) so that paths to cray libs are still availabl

[2016-12-27 00:17] adamjstewart commented on #2682
It looks like https://github.com/keplerproject/luafilesystem/issues/88 has been resolved now and they added a new release tag, although the checksum has changed. Do you want to just update the checksum?

[2016-12-27 12:31] hartzell commented on #2682
Updated the checksum, url, and a bit of the install command to make it work.  See #2683

[2016-12-27 19:10] cyrush commented on #2658
Yes -- I'll paste a snippet for more context.

[2016-12-27 19:44] cyrush commented on #2658
[2016.12.27.bgq.static.rpath.issue.txt](https://github.com/LLNL/spack/files/674584/2016.12.27.bgq.static.rpath.issue.txt)

[2016-12-27 19:45] cyrush commented on #2658
That shows the example.

It happens in the install phase when the linker trys to relink due to the RPATH options given to CMake via spack.

This is using gcc 4.7.2 and cmake 3.1 on bgq.

[2016-12-27 19:49] #2682 closed

[2016-12-28 01:36] citibeth commented on #2658
I believe this is probably a static-build + CMake issue, not a bgq issue (i.e. that a similar problem would happen on any Linux when trying to static-build a CMake project).

See: https://cmake.org/pipermail/cmake/2013-September/055755.html

@cyrush Are you able to find any small examples that exhibit this problem when you try to build them static?  If it breaks for you, and it breaks for others n

[2016-12-28 17:36] cyrush commented on #2658
@citibeth I believe you are correct, I think I did encounter it on linux as well, but I can't find logs.

I could create a contrived example, but not sure when I will have time to do so.