[2022-02-12 05:58] wdconinc commented on #28899
Maintainers: @HadrienG2 @chissg @drbenmorgan @vvolkl

[2022-02-12 09:45] #26997 closed, assigned to nobody

[2022-02-12 16:04] rscohn2 commented on #28768
I spent some time learning how the module files and external packages work. I believe adding the prefix to packages.py should solve the initial problem of not finding the vars.sh and your experience confirms that. The 2nd problem where the module file does not have CC set is because I was not setting it in the package. #28901 should address that issue.

[2022-02-12 17:10] burgreen opened #28902 "Update for package parmgridgen for darwin platforms"
### Summary

$ spack --version
0.17.1-1158-af4d555c20

I have attached an updated package.py and a patch_darwin.txt files that builds successfully on darwin.

[patch_darwin.txt](https://github.com/spack/spack/files/8054083/patch_darwin.txt)
[package.py.txt](https://github.com/spack/spack/files/8054085/package.py.txt)

### Rationale

_No response_

### Description

_No response_

### Additional inf

[2022-02-12 17:19] nkgh77 opened #28903 "Installation issue: py-tensorflow@2.4.1"
### Steps to reproduce the issue

spack install py-tensorflow~cuda+mkl

### Information on your system

* **Spack:** 0.17.1-1163-8c943261a2
* **Python:** 3.8.10
* **Platform:** linux-ubuntu20.04-skylake
* **Concretizer:** clingo

### Additional information

[spack-build-env.txt](https://github.com/spack/spack/files/8054094/spack-build-env.txt)
[spack-build-01-configure-out.txt](https://github.com/

[2022-02-12 18:33] adamjstewart commented on #28903
Possibly a duplicate of #28612. Can you try building with an older version of protobuf and see if that works?
[code]
@aweits @glennpj maybe we should fix this in a separate PR since #27138 is taking a while.

[2022-02-12 21:20] fluidnumericsJoe opened #28906 "Installation issue: llvm-amdgpu"
### Steps to reproduce the issue

[code]

### Information on your system

[code]

### Additional information

[spack-build-out.txt](https://github.com/spack/spack/files/8054545/spack-build-out.txt)
[spack-build-env.txt](https://github.com/spack/spack/files/8054546/spack-build-env.txt)

@arjun-raj-kuppala
@haampie
@srekolam

This issue appears to be related to the removal of `cyclades.h` from the L

[2022-02-12 23:02] glennpj commented on #28903
I believe that #27138 is only waiting on #28621.

[2022-02-13 09:34] tgamblin commented on #28902
Please submit this as a pull request.

[2022-02-13 09:34] #28902 closed, assigned to nobody

[2022-02-14 06:10] srekolam commented on #28906
this was reported sometime ago #26861
Here the LLVM commit that fixes the issue: https://github.com/llvm/llvm-project/commit/68d5235cb58f988c71b403334cd9482d663841ab
You could try to C-P this fix or wait for ROCm 5.0 which i am currently working to update now.

[2022-02-14 07:51] nkgh77 commented on #28903
Thank you. This worked!

[2022-02-14 07:51] #28903 closed, assigned to nobody

[2022-02-14 08:11] simon28li opened #28910 "Automatically generate a complete package.py that can be compiled successfully"
### Summary

At present, the writing of package.py is to manually add additional dependencies, patches, special environment variables, compilation parameters and so on after generating template files, whether it is possible to automatically generate a complete package.py that can be compiled successfully, so that the efficiency of enabling software can be greatly improved.

### Rationale

_No resp

[2022-02-14 09:50] brenthuisman opened #28911 ""No satisfying compiler available is compatible with a satisfying os", OpenSuse Tumbleweed"
### Steps to reproduce

Although I've tried to setup Spack before with the advised instructions, I just did again with a fresh checkout so see if anything had changed.
[code]

### Error message

The output of `./spack install libelf` is:
[code]
The error, `No satisfying compiler available is compatible with a satisfying os`, does not occur in the bug tracker. I actually have current compilers avai

[2022-02-14 09:54] #28869 closed, assigned to sethrj, keitat

[2022-02-14 10:12] haampie commented on #28910
Unclear what you're asking

[2022-02-14 10:12] #28910 closed, assigned to nobody

[2022-02-14 13:36] npf opened #28916 "missing dependency: py-pyopencl depends on py-six"
### Steps to reproduce

[code]

### Error message

[code]

### Information on your system

$ spack debug report
* **Spack:** 0.17.1-1045-cd4aad7627
* **Python:** 3.9.2
* **Platform:** linux-debian11-sandybridge
* **Concretizer:** clingo

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have searched the issues of this repo and

[2022-02-14 13:41] npf commented on #28916
The bug comes from the fact `py-pytools@2021.2.9` does not depend on `py-six` anymore since commit 3db918b1cdfb720df22d6571804259ede8dc40f7.

My analysis is that `py-pyopencl` imports `py-six` in its `__init__.py`, so it should have a direct dependency on `py-six` rather than relying on `py-six` coming as an indirect dependency e.g. of `py-pytools`.

[2022-02-14 15:50] fluidnumericsJoe commented on #28906
@srekolam if older versions of llvm-amdgpu are offered through spack, we really ought to put in patches for those versions so they can be installed on OS's that removed cyclades. Otherwise, this error will still afflict some users.

Alternatively, OS version requirements need to be strictly enforced for older versions of ROCm that are incompatible with newer OS

[2022-02-14 16:06] lukebroskop commented on #28839
Thanks @shahzebsiddiqui, I've updated the packages and added myself as a maintainer.

https://github.com/spack/spack/pull/28921
https://github.com/spack/spack/pull/28922
https://github.com/spack/spack/pull/28923

[2022-02-14 16:42] sethrj commented on #28090
Besides the ROOT and configure issues, one further place I've seen this cause a problem is gcc 8.3:
[code]

It seems that newer versions of GCC translate `-mmacosx-version-min=11` to `-macosx_version_min 11.0.0` in the call to `ld`, but older GCC does not, and `ld` fails to parse this "version number" since it doesn't have a `.` in it. So just to be safe I will put in a PR to add a `.0` extension

[2022-02-14 17:21] psakievich commented on #28509
I'd like to see this addressed soon.  This is bash error that is confusing to a lot of the users in my project.

[2022-02-14 17:23] nkgh77 opened #28925 "Installation issue: Bazel@3.7.2"
### Steps to reproduce the issue

spack install py-tensorflow%gcc@10.3.0~cuda+mkl ^intel-mkl

### Information on your system

* **Spack:** 0.17.1-1150-389b24c
* **Python:** 3.8.12
* **Platform:** linux-rhel6-broadwell
* **Concretizer:** clingo

### Additional information

[spack-build-env.txt](https://github.com/spack/spack/files/8062703/spack-build-env.txt)
[spack-build-out.txt](https://github.co

[2022-02-14 17:32] shahzebsiddiqui commented on #28839
Thanks @lukebroskop. I can only think of three spack packages if there are others in spack package list that belong to cray then please add them. I am going to close this issue. My main concerns are met.

[2022-02-14 17:32] #28839 closed, assigned to lukebroskop

[2022-02-14 18:12] ax3l opened #28930 "ADIOS2: Make libffi dependency more relaxed"
### Steps to reproduce the issue

Migrated from https://github.com/libffi/libffi/issues/691#issuecomment-1029310561

@eisenhauer:

cc @eisenhauer @chuckatkins @pnorbert this libffi build issue breaks the build for ADIOS with SST, which relies on `libffi`, for Perlmutter in the HPE/Cray `PrgEnv-nvidia` programming environment.

### Information on your system

Perlmutter (NERSC) x86-64

Compiling on

[2022-02-14 18:25] ax3l commented on #28930
@eisenhauer We currently have
[code]
in the package. We can add `target=aarch64:` et al. to the `when=` clause but we cannot do "not x86" here.

Can you please list me all the supported architecture families where you need and support libffi on? Only `aarch64` and `ppc64le`?

[2022-02-14 18:45] eisenhauer commented on #28930
Unfortunately, using libffi and emulating DCG is our fallback on all architectures where we _don't_ have direct DCG support.  We have direct DCG support on:
  -  sparc, ppc64le, x86, x86_64, ia64, arm5, arm6, arm8

and we would need libffi everywhere else.   Generating a list of all unsupported architectures isn't sustainable, so we really need to be able to say "not sparc and not ppc64le and not

[2022-02-15 01:16] simon28li commented on #28910
@haampie
For example, when I execute the command `spack create xxx (url) `, spack can automatically identify additional dependencies, patches, special environment variables, compilation parameters, etc., without additional manual operation, is it too difficult to implement?

[2022-02-15 07:53] psakievich commented on #28509
I'll also throw on another fun one for the deactivate. Can't deactivate if there is a syntax error in a `spack.yaml` because deactivating tried to load the environment to deactivate.

[2022-02-15 08:10] haampie commented on #28509
Deactivate should also undo changes from packages (setup_run_environment), so if the environment is invalid, you can't deactivate.

[2022-02-15 10:02] haampie commented on #28910
you can't know that :man_shrugging:

[2022-02-15 11:08] nkgh77 commented on #28755
I know this is too much ad-hoc, but
I succeeded to compile libuv, by
(1) halting the process with Ctrl-z when the patch is applied,
(2) and copy "spack-src/src/unix/loop-watcher.c" to "spack-src/src/"
(3) and restart the process with "% fg".
not quite sure why the source has gone.

[2022-02-15 11:53] haampie commented on #28755
weird. can you try with https://spack.readthedocs.io/en/latest/packaging_guide.html#package-level-build-parallelism, maybe there is some race or so.

[2022-02-15 11:56] haampie commented on #28755
Actually I think something goes wrong when applying the patch.

[code]

Can you apply the patch by hand and see if it works?

[code]

[2022-02-15 12:13] haampie commented on #28755
I can reproduce your problem, the default `patch` version on rhel 6 has bugs.

[code]

[2022-02-15 12:20] haampie commented on #28755
as a hacky workaround, you can add `depends_on('patch@2.7:', type='build')` to julia/package.py.

[2022-02-15 12:20] #28755 closed, assigned to nobody

[2022-02-15 14:14] #28776 closed, assigned to nobody

[2022-02-15 14:29] nkgh77 commented on #28776
Does including the patch command to dependency make sense?

[2022-02-15 14:41] haampie commented on #28776
Hm, I think i'm happy if you add a `depends_on('patch@2.7:', type='build')`, although `patch` is assumed to be a dependency of spack itself, not of the package.

[2022-02-15 15:21] #28509 closed, assigned to haampie

[2022-02-15 15:22] psakievich commented on #28509
Interesting. I wasn't aware of that but it makes sense.

[2022-02-15 15:28] christoph-conrads opened #28947 "Question: tests and `depends_on`"
Consider a package having additional dependencies only for testing. How can I convey this information in the `package.py`?

A package depending on Google Test (Spack package `googletest`) would contain at least the following line:
[code]
This may not suffice as the build system of the package won't be able to detect Google Test at configuration time. This could be fixed by adding the line below:
[

[2022-02-15 16:10] haampie commented on #28509
To be fair that's quite broken, cause the general use case is: create, activate, add, concretize, install. so, at the end you don't have any package variables set, cause you activated before adding. But if you would deactivate and then activate you get the setup_run_environment changes.

[2022-02-15 16:52] iluvatar1 opened #28955 "Some env vars (ike LD_LIBRARY_PATH) not cleaned after unload"
### Steps to reproduce

Hi, I have just installed spack (latest development version) and have found that the command ```spack unload``` does not clean the environment vars that it setted, like ```LD_LIBRARY_PATH``` . Example: I have just installed ```zlib``` and ```lmod```. Then

[code]
I tried using ```spack edit lmod``` to search for clues but I don't see anything there and my spack knowledge is

[2022-02-15 17:47] #4261 closed

[2022-02-15 17:47] #18606 closed, assigned to nobody

[2022-02-15 17:47] #21237 closed, assigned to nobody

[2022-02-15 21:06] carns opened #28964 "Concretizer reuse doesn't understand compiler flags compatibility"
### Steps to reproduce

I'm using the json-c package with address sanitizer options as a simple example, but this bug isn't particular to that package or those options, it's just an illustration.

I start by creating two different environment configurations, they are identical except that one sets custom cflags and ldflags for development/debugging purposes:

[code]
I then create an environment us

[2022-02-16 09:36] alalazo commented on #28964
This seems an interesting use case. We don't analyze compiler flags to automatically check for conflicts in them, and doing so is probably a daunting task. What we might be able to do though is to let the users customize, e.g. in `packages.yaml`, the directives being present in the packages by extending them.

The idea is that, if you could express in your environment that each package needs to be

[2022-02-16 10:25] alalazo commented on #28911
See https://github.com/spack/spack/pull/28912 The issue is very likely `tumbleweed` detection which brings a date in the name of the operating system.

[2022-02-16 10:29] alalazo commented on #28911
The other pieces of the puzzle are #28042 (which possibly removed an automated search of compilers for the new `tumbleweed`, thus revealing the bug) and having a previous configuration in the user scope.

I think if you disable the global configs like done [here](https://spack.readthedocs.io/en/latest/configuration.html#overriding-local-configuration) a fresh clone should work as documented.

[2022-02-16 11:10] haampie opened #28994 "criterion "number of non-default variants (non-roots)" seems incorrect"
### Steps to reproduce

Currently on develop:

[code]

picks up rocm 4.3.1, but 4.5.2 is the latest. When I add `^hip@4.5:` I do get 4.5.2. The solve output shows it prefers 4.3.1 because of the following:

[code]
so without the `^hip@4.5:` constraint it manages to find a way to do without "non-default variants", except I don't see any difference in variant values when I compare the concrete specs

[2022-02-16 11:34] brenthuisman commented on #28911
I nuked my Spack dir and `~/.spack`, and this time `./spack compiler find` was not required!

`~/.spack` was created with a checkout after #28042 was merged, so maybe another merge fixed this in the meantime...

[2022-02-16 11:48] haampie commented on #28994
When I comment out

[code]

it concretizes to the latest, with those costs for criterion 7 equal:

[code]

my guess is some logic in `variant_set` is incorrect

[2022-02-16 11:55] mdorier opened #28998 "Add --json to spack env activate"
### Summary

`spack env activate <something>` must be called from a shell to have an effect on its current environment. `spack env activate --sh <something>` can be used to get the equivalent shell code that should be executed to activate the environment (similarly for `--csh` and `--fish`). It would be great to add a `--json` option that would output a JSON-formatted representation of the environ

[2022-02-16 11:57] alalazo commented on #28994
You don't have variants set in your spec in a non-root node, so it seems correct that commenting line 468 doesn't have an effect on optimization "7". What does it happen for priority "4"?

[2022-02-16 12:46] haampie commented on #28994
[code]

this makes it concretize to the latest :confused: but it's at least a case of a "set" variant.

I think `llvm-amdgpu` can now be used in mesa thanks to the virtual llvm package. Why hip depends on mesa, I have no clue. As a workaround... we can go with the above patch.

I still think there is a bug in Spack, given that that depends_on was unconditional in the hip package, so no way for the

[2022-02-16 13:05] alalazo commented on #28994
Imho it's a bug in how the `mesa` package is modeled. Saying `mesa~llvm` forces the concretizer to flip a value for the `swr` variant. Reading `mesa` recipe it seems to me that the variant in question makes little sense when `~llvm` - so it's probably better to model it as a conditional variant as in #29008

[2022-02-16 13:43] haampie commented on #28994
So, the solution to this trouble was:

the concretizer had to actively flip a variant value for new hip versions that don't depend on hip-rocclr anymore, but for older versions where hip-rocclr _was_ a dependency, the variant value came as a constraint `mesa~llvm@21: swr=none`.

So... no bug, just bad packages.

[2022-02-16 13:43] #28994 closed, assigned to alalazo

[2022-02-16 14:03] haampie commented on #28998
Why don't you work with spack as a library and use

[code]

[2022-02-16 14:11] mdorier commented on #28998
Quoting you on slack: "i gave up on spack scripting" :-P

To be more serious, I have tried using spack's python interface but, in my context it's not appropriate for two reasons:
(1) my software is downloading and installing spack, so I can't rely on spack being already present; at best after my software downloads it it could use importlib to import it, but...
(2) my software may install multiple

[2022-02-16 14:59] sethrj opened #29011 "Installation issue: go-bootstrap fails on monterey (x86_64)"
### Steps to reproduce the issue

[code]

### Error message

[code]
and in the log:
[code]

### Information on your system

* **Spack:** 0.17.1-1184-e68182dcb4
* **Python:** 3.8.5
* **Platform:** darwin-monterey-skylake
* **Concretizer:** clingo

### Additional information

- [spack-build-env.txt](https://github.com/spack/spack/files/8080808/spack-build-env.txt)
- [spack-build-out.txt](https://git

[2022-02-16 15:50] npf opened #29012 "Allow `spack buildcache create` to cache build dependencies of a spec."
### Summary

Currently `spack buildcache create` only has an option to choose between
- caching the package and its link/run dependencies ;
- caching the package only ;
- caching the link/run dependencies only.
No option to cache the build dependencies as well.

It would be nice to be able to cache all dependencies, including the build ones.

### Rationale

When installing a spec with `spack insta

[2022-02-16 16:09] alalazo commented on #28260
I'm having a closer look at this issue. Sorting is just for readability when debugging clingo programs and can be omitted entirely. That part of the code emits input facts for the solver, so the order is not important as long as the set of facts stays the same.

[2022-02-16 16:15] alalazo commented on #28260
I can reproduce this with:
[code]

[2022-02-16 16:47] KineticTheory commented on #25353
I know this issue is closed, but I just ran into the exact same problem with RHEL8.  `spack external find` inserted the following into `packages.yaml`
[code]
This prevented `binutils` from configuring.  Removing the offending externals block fixed the problem.

[2022-02-16 16:54] haampie commented on #25353
Yeah, I think we should remove the external find stuff for gettext, it's causing more problems than it solves (ping @alalazo)

[2022-02-16 17:23] tgamblin commented on #28964
Two things:

1. I think we at least need an option to reuse only from the current environment.  Global reuse isn't always what you want.  It may be that we want only-from-current-env to be the default for environments.  This lines up with some of the discussion in #28468.
2. I actually don't have any problem with adding (gradually) constraints for particular compiler flags.  I don't think we have

[2022-02-16 17:37] alalazo commented on #28964
@tgamblin Slightly OT but for 1. look at https://github.com/spack/spack/pull/28941 which changed the `reuse` argument to accept a list of specs instead of being just a boolean:

https://github.com/spack/spack/blob/253a6abc483c3b581e882220246f0f3ae826585c/lib/spack/spack/solver/asp.py#L2084-L2089

With that API change it should be easy to pick any set of specs we want to be reused into a solve.

[2022-02-16 18:32] mdorier commented on #28998
Note that my suggestion for `spack env activate` also applies to `spack env deactivate`, `spack load`, and `spack unload`.

[2022-02-17 07:50] #28260 closed, assigned to tgamblin, alalazo

[2022-02-17 07:57] alalazo commented on #25353
@KineticTheory When you run:
[code]
what are you looking for? Build tools or really anything that Spack has a rule on how to find?

[2022-02-17 10:17] haampie commented on #7694
I think we can just close this for now as #29015 is merged, unless @adamjstewart wants more control over the length of patch hashes, then feel free to reopen

[2022-02-17 10:17] #7694 closed

[2022-02-17 14:01] carns commented on #28964
Thanks for considering this.

FWIW, I actually would like the ability to reuse packages across environments (as long as the full spec, including flags, variants, etc. matches exactly).

My use case is maybe a little odd.  I have many spack environments that I use on my laptop.  I help to maintain several packages in a dependency chain, for example x->y->z.  If I'm working on z, then I activate an

[2022-02-17 14:29] nilsvu opened #29038 "Build dependencies get installed even when a binary cache is used"
### Steps to reproduce

1. Create a build cache with `py-matplotlib`.
2. `spack install py-matplotlib` with the build cache configured as mirror. It will install `nasm`, which is a build dependency of `libjpeg-turbo`, even though `libjpeg-turbo` is installed from the build cache.

### Error message

_No response_

### Information on your system

* **Spack:** 0.17.1-1178-3cc7f0b111
* **Python:** 3.

[2022-02-17 16:37] KineticTheory commented on #25353
In my case, I was letting spack find all tools available on the system.  I was trying to reproduce a spack build issue related to `py-torch` and wanted to avoid building things like autotools, cmake, perl, etc.  Sure, I was sloppy and didn't really look at what spack inserted into `package.yml` (this was a one-off build out in a temp directory).  But the build failure of `binutils` was an unexpect

[2022-02-17 16:45] alalazo commented on #25353
@KineticTheory I think #29031 would help with your use case.

[2022-02-17 18:47] #24014 closed, assigned to nobody

[2022-02-17 19:44] shahzebsiddiqui commented on #28275
i am going to close this according to @lukebroskop message https://github.com/spack/spack/pull/28276#issuecomment-1036320038

[2022-02-17 19:44] #28275 closed, assigned to nobody

[2022-02-17 21:47] eugeneswalker opened #29052 "kokkos@3.5.00 +sycl build fails: Kokkos_SYCL_Team.hpp:112:17: error: no member named 'group_broadcast' in namespace 'sycl'"
### Steps to reproduce the issue

`kokkos +sycl std=17 %dpcpp` build fails using:
* `spack@develop` (783615cacfdec7bd712cd903d409bcef6fc7cef4 from `Mon Feb 14 21:23:35 2022 +0100`)
* Ubuntu 20.04, x86_64
* Intel DPCPP 2022.0.0 from the latest Intel OneAPI Toolkit

Compiler entry for `dpcpp`
[code]

**Concrete spec:** [kokkos.spec.json.txt](https://github.com/spack/spack/files/8092402/kokkos.spec.j

[2022-02-17 22:09] masterleinad commented on #29052
You need a recent `develop` version of `Kokkos` in order to use the `oneAPI 2022` release. The upcoming `Kokkos` release (3.6) will also support this.

[2022-02-17 22:10] masterleinad commented on #29052
The (missing) backward compatibility in the compiler is rather to blame.

[2022-02-17 22:23] eugeneswalker commented on #29052
Ahh, yes. The build completes fine when I use `kokkos@develop` -- thank you very much for your quick response!

Would it make sense to add a `conflict` saying `kokkos@:3.5.00 +sycl` cannot be built with `%dpcpp@2022.0.0`? If you think so, I could make a PR for this.

[2022-02-17 22:59] masterleinad commented on #29052
Yes, sure.

[2022-02-18 05:45] white238 commented on #28829
I am having this problem as well. I am requesting `scr@3.0rc2~shared` in the `packages` section of an environment file.  If I remove `~shared` it will concretize the correct version otherwise I end up with `scr@2.0.0` which is very undesirable. Especially since I am trying to see if Axom works with the new release of SCR.

`spack -e some_env solve axom+scr` produces:

[code]

[2022-02-18 06:34] tgamblin commented on #28829
FWIW, @white238's case can be reproduced by comparing these:

[code]

[2022-02-18 06:36] tgamblin commented on #28829
Oops accidentally closed -- sorry!

These two concretizations are worth comparing the scores on:

[code]

@alalazo can you take a look at this?

[2022-02-18 08:32] Bitllion opened #29058 "Installation issue: How to use mpiicc compiler software?"
### Steps to reproduce the issue

Spack uses mpicc instead of mpiicc by default. I have successfully compiled elpa manually. To compile its MPI version, I need to set some parameters: CC = mpiicc cxx = mpiicpc FC = mpiifort fcflags = "- MKL = cluster" -- enable OpenMP. I tried to modify the value of CC in the script, but failed, prompting that mpiicc cannot be found. In fact, mpicc and mpiicc are

[2022-02-18 16:37] VirtualEmbryo opened #29078 "Installation issue: fenics - libmkl_intel_thread.so.2: undefined symbol: omp_get_num_procs"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
==> Installing fenics-2019.1.0.post0-5vtmz2psdiclmp2epsdra5xkp5uovjls
==> No binary for fenics-2019.1.0.post0-5vtmz2psdiclmp2epsdra5xkp5uovjls found: installing from source
==> Using cached archive: /share/softs/spack/var/spack/cache/_source-cache/archive/61/61abdcdb13684ba2a3ba4afb7ea6c7907

[2022-02-18 20:10] #28612 closed, assigned to adamjstewart

[2022-02-18 21:15] adamjstewart commented on #2504
I think the discussion on this issue has died out. Let's close this for now. We can reopen if this is still something we want to support.

[2022-02-18 21:15] #2504 closed

[2022-02-18 22:00] kwryankrattiger opened #29084 "Build issue: diffutils@3.8%nvhpc"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
"/tmp/ryan.krattiger/spack-stage/spack-stage-diffutils-3.8-zwu4ukysjtqv7k43y2c5z2aplogu5deu/spack-src/lib/malloca.c", line 52: error: 64 bits operations with signed and unsigned operands are currently unsupporte
d by __builtin_add_overflow
    if (!INT_ADD_WRAPV (n, plus, &nplus) && !xalloc_

[2022-02-18 22:33] #29052 closed, assigned to nobody

[2022-02-18 22:53] trws opened #29085 "Express what kind of dependency can be provided by an external"
### Summary

External detection should have a way to express whether a given external provides the "build", "link" or "run" components of a given package.

### Rationale

As of now, an external is either present or not, and is assumed to work for build, link or run dependencies.  At the same time the detection logic looks for executables, and usually does not check for libraries or headers.  This

[2022-02-20 03:56] shahzebsiddiqui opened #29094 "bmi versions"
@carns please have a version for bmi its tied to `main` branch for time being and this causes issues when trying to put specs in buildcache since it cant find version. See https://github.com/spack/spack/blob/9e2d78cffc1beaec2c6e4c3a379c17f25a35b31f/var/spack/repos/builtin/packages/bmi/package.py#L17.

spack will give a warning because its not a version.

[code]

Please consider having a release i

[2022-02-20 04:01] shahzebsiddiqui opened #29095 "pin version for openturns"
@liuyangzhuan please have a version for openturns. Looks like there are several releases according to https://github.com/openturns/openturns/tags but version i see is `master`

https://github.com/spack/spack/blob/9e2d78cffc1beaec2c6e4c3a379c17f25a35b31f/var/spack/repos/builtin/packages/openturns/package.py#L22

Seems like you should be maintainer of this package i was trying to install `gptune` an

[2022-02-20 05:39] liuyangzhuan commented on #29095
Hi, @shahzebsiddiqui, I've created a PR to address this
https://github.com/spack/spack/pull/29097
I required you as the reviewer.

[2022-02-20 14:20] psakievich opened #29099 "Improvements to spack develop"
### Summary

Documenting a discussion from one of the weekly meetings from a couple months back here.

Key features to be implemented:

- [ ] provide a `--repo` option for cloning to clone from a specific fork/repo
- [ ] provide a `--branch` option to clone a specific branch
- [ ] remove the requirement for specifying a concrete spec with `spack develop` and instead default to the default version,

[2022-02-21 01:21] MarDiehl commented on #9014
Have you tried tell gfortran to ignore this with `-fallow-argument-mismatch`

[2022-02-21 08:08] #29011 closed, assigned to nobody

[2022-02-21 15:29] dev-zero commented on #28554
@shahzebsiddiqui PR #29108 builds CP2K in an Nvidia Docker container (with nvarch 70). For Perlmutter I ran into the issue that the `-march znver3` flag gets passed to `nvcc` which bailed out with a `znver3` unknown. The default gcc is 9.x, which indeed does not know about the arch, trying to build with a different gcc sent me down a rabbit hole of other packages failing to build (libxsmm) amongst

[2022-02-21 15:36] shahzebsiddiqui commented on #29095
thanks @liuyangzhuan i saw it. We can close this issue once PR is merged. Ill keep an eye on this

[2022-02-21 18:51] haampie opened #29110 "IntelPackage gets compiler wrong"
IntelPackage queries compiler support libraries (libomp) before compiler modules are loaded. These paths are then added as rpaths.

[code]

On Cray where `cc` is clang by default, this means it picks up clang's compiler support libraries, which are in turn from some old GCC:

[code]

And its directory contains `/opt/gcc/8.1.0/snos/lib64/libstdc++.so.6.0.25`, but the compiler registered in spack sh

[2022-02-21 19:18] haampie commented on #29110
Simpler example that fails immediately:

[code]

[2022-02-21 20:29] haampie opened #29112 "upstreams config not picked up in env"
[code]

[2022-02-21 23:31] tgamblin commented on #29112
I dug into this a bit but am still not sure why this is happening.  I'll assign it to me and try to get to it after full hash.

[2022-02-22 00:16] crtrott opened #29114 "Installation issue: LLVM@13.0.x"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
spack install llvm@13.0.0 +cuda cuda_arch=70
==> Warning: Missing a source id for llvm@13.0.0
[+] /home/projects/x86-64/spack/opt/spack/linux-rhel7-skylake_avx512/gcc-9.2.0/libiconv-1.16-dh7pvqkkrh4f6emrhl7jbk6o7qisa57o
[+] /home/projects/x86-64/spack/opt/spack/linux-rhel7-skylake_avx512/gcc

[2022-02-22 00:17] crtrott commented on #29114
Note this also happens with 13.0.1, 12.0.1 installed fine for me.

[2022-02-22 00:57] junghans commented on #4119
Haven't seen that in a long time.

[2022-02-22 00:57] #4119 closed

[2022-02-22 01:09] zzzoom opened #29115 "Installation issue: python %aocc@3.2.0"
### Steps to reproduce the issue

Trying to install `python %aocc@3.2.0`, it builds but fails to install.
Tested with both python 3.10.2 and 3.9.10.

[code]

### Error message

<details><summary>Error message</summary><pre>
==> python: Executing phase: 'install'
==> Error: ProcessError: Command exited with status 2:
    'make' '-j16' 'install'

7 errors found in build log:
     4170        if not

[2022-02-22 02:00] adamjstewart commented on #29115
I'm guessing this will be fixed by #28708? Until then you can simply disable the `+ensurepip` variant on the command line:
[code]
or set this globally in your `packages.yaml` or `spack.yaml`:
[code]

[2022-02-22 03:43] zzzoom commented on #29115
That PR fixes the build by skipping the part that fails, but you're left with a python with a broken standard library.

[code]

[2022-02-22 03:49] adamjstewart commented on #29115
@amd-toolchain-support if that's the case, it might be better to add a general conflict like `conflicts('%aocc')` saying that Python can't be compiled with AOCC. We already have the same thing for NVHPC and GCC (on macOS). This conflict can be conditionally applied if the build issue is fixed in newer Python or newer AOCC.

[2022-02-22 05:57] zzzoom commented on #29115
BTW, this is specific to AOCC 3.2.0.
`python %aocc@3.1.0` only fails 3 tests in the python test suite.
`python %aocc@3.2.0 ~ensurepip` crashes before running any tests.

[2022-02-22 09:16] COMODr opened #29118 "Installation issue: [spack cc] ERROR: Compiler 'gcc@4.8.5' does not have a C++ compiler configured."
### Steps to reproduce the issue

[code]

### Error message

        CKAGE_URL=\"\" -DPACKAGE=\"patchelf\" -DVERSION=\"0.13.1.20211127.72b6d44\" -I.    -Wall -std=c++11 -D_FILE_OFFSET_BITS=64   -c -o patchelf.o patchelf.cc
     41    [spack cc] ERROR: Compiler 'gcc@4.8.5' does not have a C++ compiler configured.

     43    make[1]: Leaving directory `/tmp/root/spack-stage/spack-stage-patchelf-0.1

[2022-02-22 12:11] srekolam commented on #27683
the above changes are now in spack:develop branch for 4.5.2 onwards. hence closing this ticket.

[2022-02-22 12:11] #27683 closed, assigned to srekolam

[2022-02-22 13:18] #29095 closed, assigned to nobody

[2022-02-22 13:18] alalazo commented on #29095
Closing since the associated PR has been merged

[2022-02-22 14:16] alalazo commented on #28829
@tgamblin Just saw your comment above. I'll take a look at this asap.

[2022-02-22 18:05] trws commented on #29114
What gcc were you using for this @crtrott?  I'm running a build in a centos7 container with devtoolset-9 to see if I can repro, but if you're using a gcc built some other way it would be good to know.

[2022-02-22 20:18] trws commented on #29114
Sadly, that did not do it.  Building with the devtoolset-9 gcc 9.3.1 compiler worked just fine.

[2022-02-22 21:29] trws commented on #29114
The solve here is update your spack, since we fixed this issue (as much as it can be fixed) in #26584. It's that libcxx can't be built with a gcc that old, and a spack as old as 0.16.2 doesn't encode that requirement.  I didn't see it in current spack because the concretizer automatically turned off the libcxx variant for gcc 9.

[2022-02-22 21:29] #29114 closed, assigned to nobody

[2022-02-22 22:08] carns commented on #29094
Sure thing @shahzebsiddiqui .  I'm on vacation through the end of this week but I'll get on it shortly after that.  It's not difficult (the code hasn't changed in years) but I want to make sure to get the naming etc. right.

[2022-02-23 00:56] #13940 closed

[2022-02-23 00:56] #14129 closed

[2022-02-23 00:56] #15985 closed

[2022-02-23 01:41] wyphan commented on #19365
I've just created PR #29155 to specifically try to add `+cuda` variant to `nvhpc`. Let's see how this goes...

[2022-02-23 09:10] wyphan commented on #19365
Revisiting https://github.com/spack/spack/pull/19294#issuecomment-708470862, the concretizer now correctly picks up CUDA:

[code]

Not sure if it was due to the switch to `clingo` in 0.17, or because I specifically added `CUDA_HOME` environment variable to the `nvhpc+cuda` variant, which MAGMA build system specifically looks for.

[2022-02-23 14:44] shahzebsiddiqui commented on #29094
Thanks @carns. Yeah this also causes an issue for us when we ttrying to update buildcache because there is no version in addition to fact that building of `main` branch is not good practice as spack builds will be affected if main branch is changed over time.

[2022-02-23 15:53] Nazehs commented on #12120
Getting a similar error too

CMake Deprecation Warning at CMakeLists.txt:1 (CMAKE_MINIMUM_REQUIRED):
  Compatibility with CMake < 2.8.12 will be removed from a future version of
  CMake.

  Update the VERSION argument <min> value or use a ...<max> suffix to tell
  CMake that the project does not need compatibility with older versions.

-- The C compiler identification is AppleClang 13.0.0.13000029

[2022-02-23 16:59] npf commented on #23177
Hello, I'm following up on this issue since I'm also trying to install Matlab R2019b without success.

After placing `matlab_R2019b_glnxa64.zip` in my mirror in `matlab/matlab-R2019b.zip`, and running `spack install matlab mode=automated key=<my installation key>`, everything looks fine: checksum is ok, and the Matlab Installer GUI operations are indeed automated. But it stops at the selection of

[2022-02-24 01:51] wspear opened #29168 "Installation issue: binutils"
### Steps to reproduce the issue

[code]
This works with binutils@2.37 and without +libiberty

### Error message

<details><summary>Error message</summary><pre>
==> binutils: Executing phase: 'install'
==> Error: ProcessError: Command exited with status 2:
    'make' '-j16' 'install'

9 errors found in build log:
     2983    checking for O_CLOEXEC... /bin/bash ./libtool  --tag=CC   --mode=compile

[2022-02-24 02:36] #20375 closed, assigned to nobody

[2022-02-24 07:06] antoniokaust commented on #23177
@npf I think we (KAUST) were only able to automatically install MATLAB R2016b. So we started using `spack install matlab@Rxxxx{a|b} mode=interactive` to install it. This fires up MATLAB's GUI installer, you have to login with your MathWorks credentials then select all the components you want to install based on your license.

The error you're getting is because `post_install` gets called even if `

[2022-02-24 09:41] manuelakuhn opened #29170 "Unexpected behaviour of concretizer when resolving dependencies"
### Steps to reproduce

When a dependency is defined for example as:
[code]
the concretizer will choose `my_dep@3.6.0` as a suitable choice.

Minimal artificial example to reproduce:
Take the `py-flit` package and change
[code]
**expected result**: spack is not being able to concretize the newest release (`py-flit-core@3.7.0` is not in spack) and thus will build the second to newest one.

**actual

[2022-02-24 09:59] fspiga opened #29171 "Renaming `graviton2` target as `neoverse-n1`"
### Summary

I am working on NVIDIA Arm HPC Developer Kit (https://developer.nvidia.com/arm-hpc-devkit) which is equipped with Ampere Computing 'Altra' CPU.

When running spack (any recent released tags and giot head), the CPU is recornised as `graviton2` despite it is not. This is what I get on an internal deployment:
[code]

Spack version: `0.17.1-1338-fddc58387c`

### Rationale

`graviton2` is

[2022-02-24 10:26] brechtm opened #29173 "Installation issue: font-util (RHEL 7.4) - "failed to write cache""
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
==> font-util: Executing phase: 'install'
==> Error: ProcessError: Command exited with status 2:
    'make' '-j16' 'install'

5 errors found in build log:
     132     autoreconf: running: aclocal -I /apps/hosted/spack/opt/spack/linux
             -rhel7-haswell/gcc-4.8.5/util-macros-1.19.3-

[2022-02-24 11:51] Try2Code opened #29178 "Proper use of install_tree in a shared installation"
### Summary

Setup is this: The admin of our test cluster shares his spack environment, so that users can find, inspect and load installed packages. This is also useful because I as a user don't have to care about compilers.

But as soon as I define `install_tree` (to point a directory where I have write access) in my `~/.spack/config.yml` I don't find any of the system packages anymore. I can ins

[2022-02-24 13:59] elsagermann opened #29182 "Spack load doesn't treat compiler as run dependency"
### Summary

Hey there,

My team and I are having some issues with RPATH and loading modules since the introduction of the new nvhpc compiler.
Our usual workflow (and one we'd like to keep if possible) is the following:

1) spack install pckg
2) spack load pck
3) sbatch submit.pckg

Problem is some of our dependencies modules overload the RPATH with some RUNPATH and this makes the exectuable of ou

[2022-02-24 14:59] haampie commented on #29182
The issue here is partly a broken Cray PE (as in, the nvhpc cray software stack requires the nvhpc module to be loaded because compiler support libraries can't be located other than through LD_LIBRARY_PATH, which is set in the compiler module iirc).

Note that spack itself figures out implicit linking paths of the compiler, so that anything you compile with spack itself will locate runtime compile

[2022-02-24 15:51] eugeneswalker opened #29186 "Binary relocation doesn't relocate paths needed for Spack smoke tests"
### Steps to reproduce

Binary relocation of some packages with spack smoke tests does not relocate strings needed for the tests.

For example, `superlu-dist` built in a long path, cached, and then installed to a short path:

[code]

As a result:
[code]

@wspear @tldahlgren @balay @pghysels @liuyangzhua

### Error message

_No response_

### Information on your system

* **Spack:** 0.17.1
* **Pyth

[2022-02-24 17:28] liuyangzhuan commented on #29186
@liuyangzhuan

[2022-02-24 17:29] liuyangzhuan commented on #29186
@liuyangzhuan  keeping an eye on this.

[2022-02-24 22:07] kgerheiser commented on #28183
I'm hitting this too while bootstrapping Clingo. Does Clingo require a static libpython?

[2022-02-24 23:31] rschauner opened #29191 "Installation issue: R fails to build because object-introspection and graphite2 on M1 Mac"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
==> Error: ChecksumError: sha256 checksum failed for /var/folders/q_/f27fyd_j4mzd0sj0w_n5fn_00000gs/T/M262567/spack-stage/spack-stage-jdk-14_36-dezynjh34gr2fxgal5xr2kcxxooxuqkb/jdk-14_linux-x64_bin.tar.gz

==> Installing graphite2-1.3.13-7uo4coik2xuzwerltu6ndvnauzncc7gv
==> No binary for gra

[2022-02-25 01:50] becker33 commented on #29178
If `/path/to/local` is the install tree you want, and `/path/to/system` is the system install tree, put in your user config directory (`~/.spack`)

[code]

That should allow you to install packages locally without having to reproduce the upstream builds locally.

[2022-02-25 01:57] tgamblin commented on #29178
feel free to reopen if @becker33 hasn't addressed your question

[2022-02-25 01:57] #29178 closed, assigned to nobody

[2022-02-25 03:04] climbfuji opened #29192 "ESMF doesn't built on macOS with apple-clang+gfortran, doesn't built with gfortran-10+, and doesn't build on Cray"
### Steps to reproduce

Installing ESMF fails on the following systems:
1. macOS with apple-clang+gfortran
2. Any system using gfortran-10+
3. Cray systems such as ORNL's Gaea system

To repeat:
[code]
on any of these systems.

All of these problems are known and have been solved elsewhere (https://github.com/noaa-emc/hpc-stack, https://github.com/JCSDA/jedi-stack).

### Error message

Various err

[2022-02-25 05:02] zzzoom opened #29194 "Installation issue: nss %clang"
### Steps to reproduce the issue

nss fails to build on clang/aocc because it properly detects clang as its C compiler, but it runs g++ as its C++ compiler with clang parameters.

[code]

### Error message

<details><summary>Error message</summary><pre>
     1846    g++ -o Linux5.4_x86_64_clang_glibc_PTH_64_OPT.OBJ/databuffer.o -c -std=c++11 -O2 -fPIC  -m64 -pipe -ffunction-sections -fdata-section

[2022-02-25 05:27] svenevs opened #29196 "can spack deactivate / activate failures be undone by spack?"
### Steps to reproduce

I have no idea how to engineer an easy example that you can reproduce, I'm mostly opening an issue with a ref to #6228 and some information for users who find themselves in this situation (cannot deactivate something that is not installed) for how to try and repair things (including future me...creating a new spack is my usual fix but I decided to figure it out this time).

[2022-02-25 07:13] Try2Code commented on #29178
perfect - thx

[2022-02-25 10:34] haampie opened #29201 "--reuse does not reuse versions known in the db, but unknown in package.py"
### Steps to reproduce

I tried to explicitly add cray-mpich by hand in the db, but realized later the version was not registered in package.py.

This prevents spack from picking it up with --reuse; it will always use a known version from package.py.

### Error message

_No response_

### Information on your system

.

### General information

- [X] I have run `spack debug report` and reported the

[2022-02-25 10:35] haampie commented on #29201
Didn't help to put `packages:cray-mpich:version: [x.y.z]` in packages.yaml, it switched to mpich, for some reason, even though cray-mpich is preferred.

[2022-02-25 11:33] alalazo opened #29203 "Swapping repositories creates new module objects in `spack.pkg.*`"
### Steps to reproduce

[code]
The class id is different because the module object has been recreated from scratch, even though one was already available in `sys.modules`.

### Error message

No error message, just the unexpected behavior above which might lead to intricate failures when two different module objects (which are supposed to be equal) get used in different parts of the code.

### Inf

[2022-02-25 11:35] haampie commented on #29201
Also does not reuse `target=x86_64` on haswell, it seems.

[2022-02-25 11:40] manuelakuhn opened #29204 "Fetching not up-to-date versions fails"
### Steps to reproduce

I am not sure if this is a R problem or a general one but I only encountered it for R packages so far.

It seems that R packages which have a newer version on cran (for bioconductor I did not check) cannot be built due to missing sources. This only affects packages where the sources are not yet in the spack mirror.

E.g. `r-cli`:

Package in spack: version 3.1.1
newest vers

[2022-02-25 11:53] flxmr opened #29206 "CUDA not found/linked building pytorch inside a spack environment"
### Steps to reproduce

I wanted to create an environment containing `py-torch@1.9.1+cuda`. Unfortunately it's not picking up CUDA, e.g. I get a `+cuda`-spec, but it's actually not properly linking CUDA! However it does, when building standalone with roughly the same spec (didn't lock every minor python dep but CUDA/cudnn/nccl)! The `spack-build-01-install-out.txt` says very weirdly it couldn't fi

[2022-02-25 13:02] alalazo opened #29210 "test_env_install_two_specs_same_dep is asserting the wrong object"
### Steps to reproduce

The test:

https://github.com/spack/spack/blob/d62b8f0bf37e6066639be89d099709d492dff544/lib/spack/spack/test/cmd/env.py#L294-L298

is asserting the `installed` attribute on the wrong object. Since it is getting the *package class* as opposed to a *package instance* what the test is asserting is the presence of a property on the class. A simple reproducer of the behavior bel

[2022-02-25 15:08] shahzebsiddiqui commented on #28554
hi @dev-zero let's sync up can you please tell me your email and i can follow up with a session. We can do this interactive and try building CP2K together. I recently made our spack infrastructure project available on github (https://github.com/NERSC/spack-infrastructure) along with the documentation https://nersc-spack-infrastructure.readthedocs.io/en/latest/.

[2022-02-25 15:21] kgerheiser commented on #28183
I found a solution to this. My Python install only has shared libraries, but did not have `+shared` in its spec. There's a check in Python's package.py that checks for shared vs. static with `if '+shared' in self.spec:`. Adding `+shared` to the external spec let Python find the correct libraries and boostrap Clingo.

[2022-02-25 16:49] certik commented on #28190
On an M1 Max, I still get exactly the same error as above, but unfortunately the patch above does not fix it, I get further errors. The following patch gets it to start compiling `clingo-bootstrap-spack-fwqxswj4iz5tyic2sjguthrzmundqq3z`:
[code]
But it fails with:
[code]
I don't now how to fix that.

Spack needs to build its own Python, it should not rely on system Python like this. Also note that

[2022-02-25 16:57] certik commented on #28190
I had to use Conda to bootstrap Spack. ;) Here is how to do it:
[code]
Apply this patch:
[code]
and it will get pass this failure!

However, now spack only works inside the above `spack` Conda environment, otherwise it tries to bootstrap Clingo again and fails.

But it would be nice to make Spack not depend on Conda...

[2022-02-25 16:58] tldahlgren commented on #29210
That looks like an assertion I would write.  Unfortunately, I have *no* idea what I was thinking at the time.

Thanks for catching this.

[2022-02-25 17:05] giordano commented on #15540
I'm experiencing a similar issue.  In an environment I have
[code]
`mpicc` is in `/tessfs1/sw/Intel/impi/2018.1.163/intel64/bin/mpicc` (basically `prefix + bin/mpicc`, it should be easy to guess?), but
[code]
which is completely wrong and it points to a non-existing path.  The suggesting above to change the prefix to `/tessfs1/sw/Intel/impi/2018.1.163` doesn't help at all for me.

[2022-02-25 17:10] certik commented on #26672
I can confirm this is still the same error on Apple M1 Max.

[2022-02-25 17:11] certik commented on #22593
This is a duplicate of #26672.

[2022-02-25 17:32] certik commented on #22594
Duplicate of #26673.

[2022-02-25 17:32] certik commented on #26673
I can confirm this still happens on M1 Max.

[2022-02-25 18:03] eschnett opened #29224 "Installation issue: fftw"
### Steps to reproduce the issue

I cannot install `fftw +mpi` on macOS any more. The FFTW libraries are built without linking against the MPI libraries, leading to an error due to undefined symbols.

[code]

### Error message

<details><summary>Error message</summary><pre>
6 errors found in build log:
     6474    mv -f .deps/rdft2-rank-geq2-transposed.Tpo .deps/rdft2-rank-geq2-transposed.Plo

[2022-02-25 18:33] sethrj commented on #28190
@certik I found it much easier to bootstrap with homebrew: `brew install gcc`, `spack compiler find gcc`

[2022-02-25 18:34] sethrj commented on #28190
Also I used `brew` to install `go` and `git-lfs`, since the `go` bootstrap used by spack doesn't build on M1 or monterey

[2022-02-25 18:35] sethrj commented on #28190
Wait sorry I see this is about *python* not *gcc* -- I successfully bootstrapped spack on M1 last week, no changes required. Could it be that your conda environment is interfering with spack?

[2022-02-25 18:36] certik commented on #28190
I don't think my conda installation is interfering with Spack. It doesn't alter any paths unless I do "conda activate something".

[2022-02-25 18:37] sethrj commented on #28190
I also had Xcode installed, and it sounds like you don't?

[2022-02-25 18:37] certik commented on #28190
Yes, I don't have Xcode installed, just the command line utilities.

[2022-02-25 18:41] certik commented on #26673
@sethrj with your installation of spack on M1, do you think you could please try this and see if it works for you? You can just do `spack install libluv`.

[2022-02-25 18:47] sethrj commented on #28190
I assume you're developing on macOS, so why avoid Xcode? I don't think the CommandLineTools have a compiler on them, let alone the full macOS SDK needed to build packages that use the GUI.

[2022-02-25 19:00] sethrj commented on #26673
I tried it both on monterey-m1 and bigsur-x86_64: no dice on either one. It looks like it's not even linking against lua, so  I think the code (unchanged since it was added in  #18100) is simply broken.

@tkameyama When was the last time you built this successfully? Can you help @certik debug this?

[2022-02-25 19:05] alalazo opened #29226 "Add an integration test to verify spack exit code on the command line"
In #25601 we removed a return statement from `main` accidentally, and we had no test that caught the issue. We need some test that can verify if failing commands are returning a non-zero exit code, since otherwise we'll get false positives in CI.

The bug has been fixed in the meanwhile in #29223

[2022-02-25 19:54] mohammadryousefi opened #29227 "Installation issue: py-torch"
### Steps to reproduce the issue
[code]
### Error message

[code]

### Information on your system

* **Spack:** 0.17.1-1181-76489eb213
* **Python:** 3.7.2
* **Platform:** linux-rhel7-power9le
* **Concretizer:** clingo

Settings:
fetch_url_method: curl

### Additional information

Found [this](https://github.com/spack/spack/issues/18338) issue but it doesn't look the same. I don't have issues with

[2022-02-25 19:56] certik commented on #26673
@sethrj thanks for trying it! I read through the documentation of Spack, but I still can't figure out how to debug a broken package. I found the directory which contains the checked out source code, e.g., in `/var/folders/8w/5mqfkhqn1nj0tw97g3hl1nyh0000gn/T/ondrej/spack-stage/spack-stage-libluv-1.36.0-0-tvx2glpetx6p24opmyhhs7t6kfigxe5z/`, but when I execute `make` in there, it says that I am not r

[2022-02-25 19:58] sethrj commented on #26673
You should be able to just `source` the `spack-env.txt` in the staging directory, which will set up the PATH, CMAKE_PREFIX_PATH, secret Spack compiler wrapper variables, etc.

[2022-02-25 19:59] certik commented on #26673
I think that's it! Thanks. I can now reproduce the error by hand. Let me debug it.

For others, here is how to debug it:
[code]

[2022-02-25 20:05] certik commented on #26673
Adding `/Users/ondrej/repos/spack/opt/spack/darwin-monterey-m1/apple-clang-13.0.0/lua-5.3.5-cojs2g45u6pevsn3akvpmwxeon4ujuyv/lib/liblua.dylib` to the clang command line that fails makes it succeed. So it's just not linking against the `liblua`'s shared library, that's it. Now we need to figure out how to make cmake link against it.

[2022-02-25 20:10] certik commented on #26673
Ok, all I had to do is to update to the latest version:
[code]
And it's fixed. I'll submit a PR soon. Done: #29228

[2022-02-25 20:12] scheibelp commented on #9134
I've added this to the agenda for our upcoming general teleconference at https://github.com/spack/spack/wiki/Telcon:-2022-03-02 - I think that would be useful for exploring possible challenges with implementing `spack update` (e.g. handling git conflicts).

[2022-02-25 20:13] adamjstewart commented on #29227
Bleh, this affects all packages with diffs downloaded from GitHub. Will submit a PR to fix this. Thanks for the bug report!

[2022-02-25 20:24] mohammadryousefi commented on #29227
Sounds great. Thanks.

[2022-02-25 21:05] certik commented on #28190
Yes, I am developing on macOS. The CommandLineTools tools have the compiler (clang). I haven't done GUI, I just develop C++ and Fortran applications, and they all work with just CommandLineTools. I guess I like to keep my system minimal. So far Spack is the first project that requires it.

[2022-02-25 23:56] climbfuji opened #29232 "Bug in package exempi: 'platform' misspelled as 'polatform'"
### Steps to reproduce

I accidentally came across this typo in the exempi package:
[code]
This must be 'platform', not 'polatform'.

### Error message

Not applicable. I didn't try to install the package, I just came across this.

### Information on your system

spack debug report
* **Spack:** 0.17.1-1142-675ef7ab01
* **Python:** 3.9.10
* **Platform:** darwin-monterey-x86_64
* **Concretizer:** cl

[2022-02-26 00:27] mdorier opened #29235 "Spack chooses to use cray-libsci, then complains it's not installable"
### Steps to reproduce the issue

[code]

Spack concretization leads to using `cray-libsci` as implementation of BLAS (even though I'm not on a Cray system), but the `install` function of this package raises an exception saying it's not buildable and should be provided as external. It's not really spack's fault, but I suppose there should be a better way for a package to declare that it's not buil

[2022-02-26 00:54] flxmr commented on #29206
So this issue is annoying me a lot. It actually works, when building "outside", because for whatever reason, I can just build the exact spec outside and then it just gets picked up when doing a `spack install`.

Weirdly I got a similar issue when building `py-torch-sparse`, where the installed and necessary pytorch is just not put in the `PYTHONPATH` for the build environment. "Outside" it is.

ED

[2022-02-26 01:02] sethrj commented on #28190
Interesting, well the next time I set up a computer I'll try not installing xcode and see what errors crop up. I think the assumption is generally that if you're "developing" (i.e. building code) on mac then Xcode is needed — homebrew and conda can likely get away with this because  they distribute prebuilt binaries. Perhaps Spack can get to that point as well.

[2022-02-26 03:00] certik commented on #28190
If Xcode is for development, what are the command line utilities for? They get automatically installed the first time you type "git" (and possibly other programs) in the command line.

[2022-02-26 04:01] sethrj commented on #28190
The apple developer tools documentation:

So I guess the distinction may be that the CLT are for command-line-focused (no GUI components) development and Xcode proper is for development that could involve the gui or other Apple platforms.

[2022-02-26 05:30] alalazo commented on #28190
Not sure if/how we can lift the requirement, but as far as I remember we always had this documented as:

at [this page](https://spack.readthedocs.io/en/latest/getting_started.html#system-prerequisites)

[2022-02-26 10:56] flxmr opened #29237 "Installation issue: py-pip in environments not working..."
### Steps to reproduce the issue

So, some packages have explicit pip-dependencies. Now, in a view, this pip does not properly get linked into the fs-hierarchy and thus it's broken, because it's somehow using the python-provided pip partly, which usually is not compatible...

### Error message

[code]
This leads to:
[code]

### Information on your system

* **Spack:** 0.17.1
* **Python:** 3.7.3
*

[2022-02-26 11:11] flxmr commented on #28793
I encounter the thing when trying to fix this: https://github.com/spack/spack/issues/29237 using spack activate. There seems to be something seriously wrong with environments since last November, as this is not the only issue I have.

[2022-02-26 11:58] flxmr commented on #29237
Reverting before this: https://github.com/spack/spack/pull/27798 makes it work again.

[2022-02-26 14:04] sethrj commented on #20138
Closing as unverified and missing details. The OpenMPI package has also probably changed a lot in a year and a quarter.

[2022-02-26 14:04] #20138 closed, assigned to nobody

[2022-02-26 14:04] sethrj commented on #20140
Closing as unverified and missing details. The OpenMPI package has also probably changed a lot in a year and a quarter.

[2022-02-26 14:04] #20140 closed, assigned to nobody

[2022-02-26 15:11] certik commented on #28190
I see. Thanks for the feedback. The reason for me to use Conda and Spack on macOS is to bypass the default way of installing packages, which I do not find user friendly or maintainable. Installing Xcode is one of those big packages that I do not like installing. I just like to take the stock macOS as it comes, and just do minimal changes to it. The command line utilities are needed (it seems), so

[2022-02-26 15:18] sethrj commented on #28190
It might be worthwhile adding packages to model Xcode and CLT and the macOS SDKs -- but since they're tightly coupled to the compilers, which aren't (yet!) modeled as Spack packages, it might be impossible to do correctly (for now!).

[2022-02-26 16:02] flxmr commented on #29206
Also here: reverting before this: https://github.com/spack/spack/pull/27798 makes it work again.

[2022-02-26 16:51] certik commented on #28190
My understanding is that the only dependency on Xcode is via depending on Python from it. But it seems that Spack works with any Python package, such as the one from Conda. There is Python installed using commandline utilities, but the paths must be adjusted in Spack for that. Finally, Spack insists on creating some directories in the Python installation, which I don't quite understand why, and th

[2022-02-26 17:11] #26673 closed, assigned to nobody

[2022-02-26 17:15] #26672 closed, assigned to nobody

[2022-02-26 17:59] adamjstewart commented on #9134
Many Spack users who contribute to Spack use `origin` for their own fork and `upstream` for the canonical source. Not sure how to detect which of these to use.

It's unclear if `spack update` should update Spack itself or if it should update the currently active environment.

[2022-02-26 18:11] adamjstewart commented on #29237
I have a few suggestions that you can try. These are partly potential workarounds and partly debugging questions.

1. Instead of using `pip install` can you try `python -m pip install`?
2. Can you try using `python~ensurepip` instead of the default `python+ensurepip`?
3. Can you try the following patch?

[code]

I believe the issue is that `python+ensurepip` installs pip in the site-packages direc

[2022-02-26 19:50] flxmr commented on #29237
That sounds like a reasonable explanation and should fix the thing as long as I either build python with `python~ensurepip` or don't have any dependencies on `py-pip` in any of the other packages in the environment...

To answer your questions:
1) do that already
2) that works!
3) that doesn't work, if any package drags in `py-pip` as a dependency. Which for example tensorflow (thanks here for pul

[2022-02-27 09:54] flxmr commented on #29237
It seems it also fixes this: https://github.com/spack/spack/issues/29206. Question is why?

[2022-02-27 09:54] #29206 closed, assigned to adamjstewart

[2022-02-27 19:39] adamjstewart commented on #29206
Hmm, #27798 should not affect CUDA detection. I would have to see the full build log and build environment to debug this.

[2022-02-28 01:32] omor1 commented on #25143
@harisubramoni any progress on this? I'm running into further issues when trying to use MVAPICH2. Open MPI and MPICH do not vendor/bundle their hwloc dependencies, making them far easier to use with PaRSEC.

[2022-02-28 09:04] longlong10086 opened #29242 "Installation issue: libiconv"
### Steps to reproduce the issue

##my config.yaml
build_stage:
- $spack/var/spack/stage

[code]

### Error message

<details><summary>Error message</summary><pre>

2 errors found in build log:
     21    checking whether ......../softs/spack/lib/spack/env/gcc/gcc understands -c and -o together... yes
     22    checking whether make supports the include directive... yes (GNU style)
     23    che

[2022-02-28 13:07] haampie commented on #29206
Possibly #29217 solves this? If you depend on an environment view somehow, cuda libraries were not properly symlinked.

[2022-02-28 15:18] climbfuji opened #29245 "Make netcdf-cxx4 package config inconsistent with netcdf-fortran package config"
### Summary

The netcdf-cxx package configuration is quite different from netcdf-fortran, although both are from the same organization and build on the same netcdf-c library. The netcdf-fortran package seems to be maintained and used more, therefore I am suggesting to align the netcdf-cxx4 package (default options etc.) with the netcdf-fortran package.

### Rationale

Being consistent in how optio

[2022-02-28 17:16] haampie opened #29248 "Properly define the meaning of x.satisfies(y, strict)."
From the `Spec.satisfies` docstring:

[code]

Formally abstract specs can be identified with subspaces of the solution space, and concrete specs can be identified with singletons in the solution space. Concretization comes down to picking an optimal element from the subspace of abstract input specs.

Then `x.satisfies(y, strict=False)` _should_ be defined as `x` and `y` have a non-empty intersecti

[2022-02-28 18:40] wyphan commented on #9134
@adamjstewart My take on this would be implementing it along the way `apt` works with `apt update` and `apt upgrade` so the `spack update` actually fetches the newest repos (for a given branch which can `echo`ed to stdout for information) and then there's also the `spack upgrade` to re-concretize and re-build for the current environment. What do y'all think?

[2022-02-28 18:40] wyphan commented on #9134
Also, summoning @becker33 here.

[2022-02-28 20:55] #29226 closed, assigned to nobody

[2022-02-28 21:27] adamjstewart commented on #9134
Homebrew also uses this same update/upgrade naming scheme, although I always confuse these two commands. But yeah, I would be fine with those names if that's what others want.

[2022-02-28 21:35] quellyn opened #29249 "Error bootstrapping Spack on Cray/HPE Apollo 80"
### Steps to reproduce

We use Spack environments in our software builds. I have been testing #28556 for @alalazo and have had great success with all but one platform: Cray/HPE Apollo 80. The sequence of events are as follows.

1. Clean up and activate my Spack environment:
[code]

2. Make sure that Spack detects the compilers specified within my [compilers.yaml](https://github.com/spack/spack/fil

[2022-02-28 21:39] albestro commented on #22593
With #29229 merged, this should be fixed and it can be closed.

Can you confirm @certik?

[2022-02-28 21:50] wyphan commented on #9134
@adamjstewart I think it should be trivial to add a prompt for users to select yes or no, as well as some flag like `-y` to answer "yes" to everything, for scripting purposes. The proper prompt can be written to confirm which operation is gonna get executed

[2022-02-28 21:53] glennpj commented on #29204
@manuelakuhn Can you try #29250 and see if it resolves the issue for you?

[2022-02-28 21:53] becker33 commented on #9134
What about this for an interface?

[code]

And then for the update operation, I would imagine it would be the equivalent of

[code]
Or if we want to be more aggressive
[code]
We could add the latter as an option and have the former as the default.

We also probably need to decide what should happen if the stashed changes cannot be applied, or in general if the rebase merges can't be resolved by gi

[2022-02-28 21:55] certik commented on #22593
Yes, this now works!

[2022-02-28 21:55] #22593 closed, assigned to nobody

[2022-02-28 21:55] certik commented on #22594
This was fixed by #29228.

[2022-02-28 21:55] #22594 closed, assigned to nobody

[2022-02-28 22:40] wyphan commented on #9134
We should probably add a guard against the first `git stash` command failing. I've had that happen even though it's supposed to be rare :joy:

[2022-03-01 00:12] kgerheiser opened #29255 "Unable to link to libpython using Intel Python"
### Steps to reproduce

Spack uses `python -m sysconfig`, specifically the values `LDLIBRARY` and `LIBRARY`, to query the Python libs for `spec['python'].libs`.

https://github.com/spack/spack/blob/6eef12cd1030e540b470542ee2fe405d20b001e9/var/spack/repos/builtin/packages/python/package.py#L747

https://github.com/spack/spack/blob/6eef12cd1030e540b470542ee2fe405d20b001e9/var/spack/repos/builtin/pac

[2022-03-01 02:11] glennpj commented on #29204
@manuelakuhn Ignore my PR, #29250 and try #29258 as @trws has a proper fix for the issue.

[2022-03-01 09:35] #29210 closed, assigned to alalazo

[2022-03-01 10:03] iarspider opened #29260 "Installation issue: py-gosam"
### Steps to reproduce the issue

[code]

### Error message

[code]

### Information on your system

* **Spack:** 0.17.1-1370-10f3113b3c
* **Python:** 3.8.10
* **Platform:** linux-ubuntu20.04-skylake_avx512
* **Concretizer:** clingo

### Additional information

Logs for Spack develop: https://gist.github.com/05e70d6f71a66a318fceb3f238264887

py-gosam installs with 0.17.0 (but only if checking the

[2022-03-01 10:21] iarspider commented on #29260
Ping maintainer - @adamjstewart

[2022-03-01 11:28] manuelakuhn commented on #29204
@glennpj @trws I can confirm that #29258 fixes the problem for me for all of the packages mentioned above.

[2022-03-01 12:11] jomoulin opened #29263 "Installation issue: py-fenics-dolfinx@0.1.0 can't find `-lhdf5-shared`"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
==> Error: ProcessError: Command exited with status 1:
    '/scratchm/jmoulin/TOOLS/spack/opt/spack/linux-centos7-broadwell/gcc-10.1.0/python-3.9.10-dog6ldmzldm3rcbhqfy6kp4s4jyr5gvv/bin/python3.9' '-m' 'pip' '-vvv' '--no-input' '--no-cache-dir' '--disable-pip-version-check' 'install' '--no-d

[2022-03-01 13:13] behrmann commented on #24268
I might be hit by this, but I'm not entirely sure, since I'm somewhat new to Spack.

This is with `reuse` set to `True` in `concretizer.yaml` (changing this to `False` or running the install with `--fresh` doesn't make any difference, though) and all paths residing on NFS. Interestingly, another checkout of Spack (i.e. cloned to a separate directory) at the same commit, accessed via the same NFS s

[2022-03-01 13:17] behrmann commented on #24268
As a followup: This occured after installing llvm via `spack install llvm@11.1.0 ~lldb`, which now after uninstalling it raises the same error about libllvm not being found in the repository.

[2022-03-01 16:43] alalazo commented on #28829
@white238 I started having a look at this. Concretizing both `axom+scr` and `axom ^scr` gives the following consistent result for me:

<details>

<summary>`axom+scr` and `axom ^scr`</summary>

[code]

</details>

Using `scr~shared` changes the hash since `~shared` is not the default value for that variant, but `scr` is still at version `3.0rc2`. I'll try to concretize with `clang` next to see if t

[2022-03-01 16:57] alalazo commented on #28829
Tried with `%clang` too and cannot find a combination that on my platform:

* **Spack:** 0.17.1-1378-8cefe38b0e
* **Python:** 3.8.10
* **Platform:** linux-ubuntu20.04-icelake
* **Concretizer:** clingo

results in a version of `scr` that is not `3.0rc2`. @white238 Can you share your `spack.yaml` or another reproducer?

[2022-03-01 17:08] alalazo commented on #28829
@mdorier I just tried to reproduce your issue on the same platform as in https://github.com/spack/spack/issues/28829#issuecomment-1055650704 and couldn't reproduce it too. What I get is `hepnos@0.6`. I'll attach [spack.yaml.txt](https://github.com/spack/spack/files/8163448/spack.yaml.txt) and [spack.lock.txt](https://github.com/spack/spack/files/8163449/spack.lock.txt) for reference.

[2022-03-01 17:25] jrwrigh opened #29271 "Documentation for Combinatorial Install doesn't mention matrix"
### Summary

The [Combinatorial Sets of Installs](https://spack.readthedocs.io/en/latest/workflows.html#combinatorial-sets-of-installs) should mention using [matrix as a way to install a cartesian product of dependencies](https://spack.readthedocs.io/en/latest/environments.html#spec-matrices). I am assuming this works for the above application.

The documentation is for spack v0.17.1

### Rational

[2022-03-01 17:42] mdorier commented on #28829
@alalazo did you try with the spack.yaml file that I attached? I also get `hepnos@0.6` with an empty environment. The problem seems to come specifically from the spack.yaml file that I attached.

[2022-03-01 17:50] alalazo commented on #28829
@mdorier

Ahem, I took a look at the `spack.yaml` and I see that there are 26 external specs registered as `buildable: false`. *That means Spack is forced to use those externals*. On my platform I cannot even concretize because of conflicts with those externals set, until I removed most of them.

There's another thing that is worth pointing out. Looking into your repository I see this pattern used

[2022-03-01 17:57] alalazo commented on #28829
~For some reason the spec creating issues is, for me, `cmake@3.20.3`. I am still trying to understand what triggers the issue.~ Some architectural details (like the OS) are pinned. I need to try remove those.

EDIT: Removing `arch=...` everywhere I can reproduce concretizing to v0.4.6 The issue are external specs, I'll try to pin down which are "problematic"

[2022-03-01 18:22] mdorier commented on #28829
Thanks for the tips on inheriting from builtin packages. I'm not the author of those packages so I never noticed they were setup like that.

[2022-03-01 18:26] alalazo commented on #28829
@mdorier The issue with your environment is that you have:
[code]
registered, which is deprecated. Given the current policy in `clingo` to avoid deprecated versions unless strictly necessary to satisfy the constraint imposed by the user, then you'll get the first version which doesn't need `openssl` (v0.4.6). Note that `clingo` cannot build a newer one because it is forbid to by `buildable: false`

[2022-03-01 18:34] mdorier commented on #28829
I see, that's not a cause I would I found by myself. Maybe spack could warn when this kind of thing happens?

[2022-03-01 19:31] EthanS94 opened #29272 "Installation issue: Can't change LLVM version as dependency in Spack environment"
### Steps to reproduce the issue

[code]

### Error message

N/A

### Information on your system

* **Spack:** 0.17.1-1378-8cefe38b0e
* **Python:** 3.6.9
* **Platform:** linux-ubuntu18.04-zen2
* **Concretizer:** clingo

### Additional information

@haampie @trws

[spack.yaml.txt](https://github.com/spack/spack/files/8164260/spack.yaml.txt)

### General information

- [X] I have run `spack debug re

[2022-03-01 19:32] EthanS94 commented on #29272
@kwryankrattiger Is this related to the llvmlib virtual package?

[2022-03-01 19:50] garth-wells commented on #29263
Earlier versions of `fenics-dolfinx` won't build because of a change that was made to the Spack HDF5 package (I think in https://github.com/spack/spack/pull/18937). Spack HDF5 now builds using CMake and installs its own `hdf5Config.cmake` (or similar, HDF5 on my computer is built with autotools so I can't check at the moment). Annoyingly the HDF5 provided CMake file and the CMake provided `FindHDF

[2022-03-01 20:21] kwryankrattiger commented on #29272
Off hand I don't think this would be caused by virtual packages, but the concretizer works in mysterious ways. It may be that the concretizer is ignoring your request for version 7, I have also seen some strange behavior around trying to constrain versions using the packages.yaml and getting unexpected results.

Does it work if you add `llvm@7` to the environment and concretize together?

The thin

[2022-03-01 20:33] EthanS94 commented on #29272
Yeah. I just did that to see if I could get anything to change the version. The main thing is I've been using this for a while:

[code]

And it has stopped working recently. I don't know why. I'll try adding `llvm@7` to the environment.

[2022-03-01 21:00] alalazo commented on #28829
In this case it's not that easy. We warn the user if we *actually* use a deprecated version, but how can we warn the user about anything we *might* have used but we don't?

More to the point of this environment: the request is `hepnos` and clingo gave back a concretized version of `hepnos` so everything is good with Spack. With a more specific request, like `hepnos@0.6:` Spack would warn the user

[2022-03-01 21:03] mdorier commented on #28829
I see. Since this weird concretization happened within a CI script that captures the logs and only displays them in case of failure, when I forced it to use hepnos@0.6 the warning must have gotten lost in logs.

[2022-03-01 21:06] EthanS94 commented on #29272
Adding `llvm@7` to the environment:

[code]

This resolved to `  -   lme2szl          ^llvm@7%intel@19.0.4.243~clang ...` in the spec which failed to fetch when building.

[code]

Explicitly adding `llvm@7.1.0` seems like it's going ok. I could use this as a workaround

[2022-03-01 21:38] EthanS94 commented on #29272
@kwryankrattiger I've narrowed it down to https://github.com/spack/spack/commit/991438a242423b9abba726874d974626f11fbd05 . If I use spack at `991438a242423b9abba726874d974626f11fbd05~1`, I do get the correct version in the concretized spec. Any later and I hit this issue.

I'm guessing this is the same issue as https://github.com/spack/spack/issues/7950

[2022-03-02 00:20] #27975 closed, assigned to RikkiButler20

[2022-03-02 00:31] #29260 closed, assigned to adamjstewart

[2022-03-02 02:59] scheibelp commented on #29094
Thanks @carns for #29274 but @shahzebsiddiqui I think Spack should be able to tolerate packages without versions: in that case, we should just not make a binary cache of the package.

If the issue is that a missing version for this package causes our binary cache generation to fail, then I think this bug should stay open. If we already handle such packages, and the issue was just created because f

[2022-03-02 04:29] BenWibking commented on #24992
I'm also having this problem.

[2022-03-02 08:07] alalazo commented on #28829
What we might do more easily is add a new audit so that:
[code]
Is able to report if any external with `buildable: false` is at a deprecated version. This would still require user intervention to be diagnosed, but can be helpful to point out potential issues.

[2022-03-02 09:56] mdorier commented on #28829
It could be useful to have a field in the YAML file that would say "allow deprecated versions of this package as if they were not deprecated". I saw the weird concretization problem on multiple platforms and I now realize that on each of them, an external openssl was specified, so that could have been the cause every time. For external packages, it would make sense to disable deprecation.

[2022-03-02 10:08] alalazo commented on #28829
That opens to the opposite issue: why was a deprecated version being used without a warning to the user? I don't think we should try to special case externals even more than they are now. It's software that is outside of the control of Spack, so it's difficult to ask Spack for consistency/optimality in the DAG and at the same time introduce manual constraints that work against it.[^1] I see for in

[2022-03-02 13:22] ltalirz opened #29288 "Improve error message for parsing errors"
### Summary

When encountering an invalid character during parsing, spack should give the user *some* indication of where the error lies.

### Rationale

Being new to writing spack recipes, my new recipe included the line

[code]
which is not the correct way of expressing version range.

The corresponding error message was
[code]
which did not tell me which file was affected, nor which line / stri

[2022-03-02 13:25] ltalirz commented on #29288
Happy to open a PR if you can advise on whether you would prefer to make the error message more verbose or to change how the `LexError` is displayed (if the latter, I would appreciate some guidance on where/how to do this).

[2022-03-02 14:15] alalazo commented on #921
This is fixed on `develop` at 8d118104c79bca646b193f84857b75b7f54359df:
[code]

[2022-03-02 14:23] alalazo commented on #1924
Closing, since the most up-to-date discussion on versions is #26557

[2022-03-02 14:23] #1924 closed

[2022-03-02 14:26] alalazo commented on #2093
As of 8d118104c79bca646b193f84857b75b7f54359df this works as intended:
[code]

[2022-03-02 14:28] alalazo commented on #2211
Permissions are configurable since a while:

https://github.com/spack/spack/blob/8d118104c79bca646b193f84857b75b7f54359df/lib/spack/spack/schema/packages.py#L92-L108

[2022-03-02 14:28] #2211 closed

[2022-03-02 14:30] alalazo commented on #2234
Outadated (old concretizer). Improving error messages for the new concretizer is tracked in another issues.

[2022-03-02 14:30] #2234 closed

[2022-03-02 14:37] alalazo commented on #2342
This is solved by `clingo`, with the caveat that in `packages.yaml` users express preferences (not hard constraints). So, If the `openmpi` version is old enough, like in this case, to not allow the best version of `hdf5` to be built then clingo would prefer to have the best root spec version as opposed to downgrade that and use the preferred `openmpi`.

[2022-03-02 14:37] #2342 closed

[2022-03-02 14:41] alalazo commented on #2360
Solved by the new concretizer:
[code]

[2022-03-02 14:41] #2360 closed

[2022-03-02 14:42] pramodk commented on #2093
As mentioned in https://github.com/spack/spack/issues/2093#issuecomment-255606876, the behaviour was bit random. But I am sure lot has changed during last 5.5 years and don't have recent memory of this issue. So good to close this!

[2022-03-02 14:43] alalazo commented on #2563
Closing as outdated, as the system to interact with modules changed since the issue was opened.

[2022-03-02 14:43] #2563 closed

[2022-03-02 14:45] alalazo commented on #3690
Closing since this issue didn't get new additions in the last year.

[2022-03-02 14:48] alalazo commented on #3728
On 8d118104c79bca646b193f84857b75b7f54359df I get:
[code]
after changing `Zlib` class name. I'll be closing the issue.

[2022-03-02 14:48] #3728 closed

[2022-03-02 14:55] ce107 opened #29292 "Installation issue: py-tensorflow on x86_64 and RHEL8 with cpu-only"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary>

[code]

</details>

### Information on your system

* **Spack:** 0.17.1-681-fc9bfe5317
* **Python:** 3.6.8
* **Platform:** linux-centos8-cascadelake
* **Concretizer:** clingo

### Additional information

[spack-build-out.txt](https://github.com/spack/spack/files/8170365/spack-build-out.txt)
[spa

[2022-03-02 14:56] alalazo commented on #4107
<details>
<summary>$ spack spec  py-horovod~cuda %gcc ^openblas </summary>

[code]

</details>

[2022-03-02 15:04] alalazo commented on #5237
Closing as stale and possibly outdated, but feel free to reopen if I'm wrong. Since this issue was opened we have environments which support `views` and `projections` to deal with cases where packages try to overwrite each other.

[2022-03-02 15:04] #5237 closed

[2022-03-02 15:47] frobnitzem commented on #25164
Clingo will also not boostrap on my install using the latest develop branch today.

The first `spack concretize` I ran hung during bootstrapping.  After I killed it, spack used the old concretizer.

However, trying to fix this by installing clingo showed what looks like a parse error from the clingo spackage as it tries to detect the c++14 flag.  The arch/compiler here is `linux-rhel8-x86_64/gcc-1

[2022-03-02 15:51] frobnitzem opened #29293 "compiler.cxx14_flag error"
Using gcc-10.3.0 on a recent spack install, querying `compiler.cxx14_flag ` throws the following error:

==> Error: JSONDecodeError: Expecting value: line 1 column 1 (char 0)

This leads to an error bootstrapping clingo:

_Originally posted by @frobnitzem in https://github.com/spack/spack/issues/25164#issuecomment-1057078417_

[2022-03-02 16:33] jomoulin commented on #29263
Ok, I understand. I will go with 0.3.0 and following then. Thanks for the answer !

[2022-03-02 16:33] #29263 closed, assigned to nobody

[2022-03-02 17:15] scottwittenburg opened #29295 "Local binary index cache can become out of sync with mirrors"
### Steps to reproduce

There is nothing to reproduce here, this is just pointing out there is at least one way (and likely others) that the binary index cache defined in `lib/spack/spack/binary_distribution.py` may become out of date with the binary packages actually present on remote mirrors.

This came up in review of #28504 in this [comment](https://github.com/spack/spack/pull/28504/files#r813

[2022-03-02 17:25] npf commented on #28891
I agree. I faced the issue today when trying to install py-torch that depends on intel-mkl in the v0.19 branch at least.

[2022-03-02 17:29] G-Ragghianti commented on #28891
@tgamblin Is this something that would be OK to add to spack (detecting if a package failed to install anything)?

[2022-03-02 17:31] npf opened #29296 "`spack install --yes-to-all` does not allow forcing the fetch of a missing source"
### Steps to reproduce

[code]

### Error message

Would expect to not require confirmation.

### Information on your system

* **Spack:** 0.17.1-1394-e6dcd382ee
* **Python:** 3.7.3
* **Platform:** linux-debian10-skylake
* **Concretizer:** clingo

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have searched the issues of thi

[2022-03-02 17:38] npf opened #29297 "`spack install --fake` does not fake the installation, package is installed"
### Steps to reproduce

[code]

### Error message

The package is installed.

### Information on your system

* **Spack:** 0.17.1-1394-e6dcd382ee
* **Python:** 3.7.3
* **Platform:** linux-debian10-skylake
* **Concretizer:** clingo

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have searched the issues of this repo and belie

[2022-03-02 17:44] kwryankrattiger opened #29298 "Runtime dependency constraints are not respected for external packages"
### Steps to reproduce

Install external rocm stack version x.y.z and u.v.w. Configure them in `/etc/spack/packages.yaml`

For me, u.v.w is 5.0.0 and x.y.z is 4.3.1, but this is an issue in general.

[code]

[code]

### Error message

[code]

Note: hip is 4.3.1, but the other ROCm stack dependencies are 5.0.0.

These are not just build deps, the are also link and run deps, so having incompatible v

[2022-03-02 18:54] wyphan opened #29300 "GCC support for AMD GCN offloading / ROCm for OpenACC and OpenMP target offload"
### Summary

GCC is able to support OpenACC and OpenMP target offload on AMD GPUs starting from version 10.
https://gcc.gnu.org/wiki/OpenACC
https://gcc.gnu.org/wiki/Offloading
It would be nice if Spack provides an option to compile this version.
The compilation steps are outlined here:
https://gcc.gnu.org/wiki/Offloading#How_to_try_offloading_enabled_GCC
In short, pull in LLVM source tarball and

[2022-03-02 18:58] wyphan commented on #29300
Summoning @alalazo and @michaelkuhn

[2022-03-02 22:15] scottwittenburg opened #29306 "Fix name of test module to better reflect purpose"
### Steps to reproduce

Nothing to reproduce here, but the file `lib/spack/spack/test/spec_yaml.py` could stand to be renamed to something more accurate since spack tries to serialize specs as json now instead of yaml.  One possibility is to rename it to `spec_serialization.py`.

Originally suggested by @alalazo in a review [comment](https://github.com/spack/spack/pull/28504/files#r814029868) of #

[2022-03-02 23:53] omor1 commented on #19782
This is still an issue in fully-updated Spack, even with Clingo; I managed to encounter it very quickly when beginning to setup a fresh environment. Can we get some traction on this @becker33?

I'm not sure why I'm encountering this so frequently—maybe I'm using Spack differently? I tend to install dependencies piecemeal and then choose them explicitly via hash when installing my actual target spe

[2022-03-02 23:54] climbfuji opened #29308 "Installation issue: py-pkgconfig needs py-poetry, not py-poetry-core?"
### Steps to reproduce the issue

Trying to install `py-h5py` which needs `py-pkgconfig`. The installation of `py-pkgconfig` fails with
[code]
Package `py-poetry-core` is installed, which is what these packages want, according to their dependency list. Trying to install `py-poetry` to fix this leads to the same error for one of the `py-poetry` dependencies, `py-crashtest`:
[code]
So, you can't ins

[2022-03-03 00:10] climbfuji commented on #29308
This posts suggests to use `pipx` to install poetry: https://github.com/python-poetry/poetry/issues/2449

[2022-03-03 00:38] climbfuji commented on #29308
Ok, my workaround is to use homebrew's Python's pip3 to install poetry and then the rest just falls in place. Not the ideal solution, but it works.

[2022-03-03 01:11] trws commented on #26464
So, you mentioned memoization... Much as I would love to see the many, many corner cases go away.  The implementation tolerates this one much better with a few tweaks, like doing a string length comparison with 40 before paying to match a regex that must be exactly 40 characters long.  PR in the works, but this is the progress so far:

script:
[code]

before:
[code]

after:
[code]

The timing for

[2022-03-03 01:53] omor1 commented on #29173
I have encountered this too, albeit on macOS. I'm not sure the exact cause, but it seems to be some sort of race when using multiple build jobs; `spack install -j1 font-util` succeeded. The package doesn't seem to have an actual maintainer, but the last people who touched it significantly were @tkameyama and @adamjstewart.

[2022-03-03 02:00] #18468 closed, assigned to nobody

[2022-03-03 02:01] #16813 closed, assigned to scheibelp

[2022-03-03 02:03] #18677 closed, assigned to scottwittenburg

[2022-03-03 02:03] #19219 closed, assigned to opadron

[2022-03-03 02:05] #20346 closed, assigned to nobody

[2022-03-03 02:07] #23473 closed, assigned to nobody

[2022-03-03 02:08] #23292 closed, assigned to nobody

[2022-03-03 02:08] #23339 closed, assigned to nobody

[2022-03-03 02:09] #23776 closed, assigned to nobody

[2022-03-03 02:11] eugeneswalker commented on #25485
I see a conflict has been added:
https://github.com/spack/spack/blob/develop/var/spack/repos/builtin/packages/paraview/package.py#L84

Now that this is expressed in the package.py, should we close this? What do you think?

[2022-03-03 02:12] vicentebolea commented on #25485
@eugeneswalker yes, good catch :) we merged that few days ago.

[2022-03-03 02:12] #25485 closed, assigned to nobody

[2022-03-03 08:46] brechtm commented on #29173
Thanks, @omor1. Unfortunately, `spack install -j1 font-util` shows the same issue on RHEL 7.4 for me.

[2022-03-03 08:53] brechtm commented on #29173
[This comment to an Arch Linux issue](https://bugs.archlinux.org/task/59889#comment172686) suggests setting the _SOURCE_DATE_EPOCH_ environment variable. That could work, but I don't know how to do that with spack.

[2022-03-03 10:40] alalazo commented on #29298
This is a well known issue with externals, since they are special cased due to the current impossibility for Spack to ensure transitive dependencies are treated correctly.

What happens is that dependencies on externals are artificially trimmed, so all the constraints that are expressed in `hip` under a `depends_on` directive do not hold anymore for the concretizer. By being external `hip` effecti

[2022-03-03 12:53] alalazo commented on #29297
Confirmed this bug:
[code]
Looking at what is in the tree is what confirms the bug, since `--fake` used to touch fake files in the same prefix.

[2022-03-03 12:59] alalazo commented on #29297
Apologies for changing labels a couple of times, but I had to refresh my knowledge of this part of the code. What gets installed when you pass `--fake` are empty fake files. You can check that by:
[code]
This argument is mainly for developer, to create synthetic databases for integration tests or similar purposes. Closing the issue, but let me know if you still have questions.

[2022-03-03 12:59] #29297 closed, assigned to nobody

[2022-03-03 13:10] psakievich opened #29315 "Create the ability for Spack to recognize Spack installs for externals"
### Summary

Let's make Spack be able to recognize spack installs for externals.  We parse a lot of the information for the builds/package  into a json file that gets included in every install (environments, views, opt, etc).  As a user I would like to be able to use `spack external` to get externals from other users spack instances by pointing to a spack  environment or view they've created.

@tg

[2022-03-03 13:10] alalazo commented on #29296
The bug is there, since:
[code]
Anyhow, since `--yes-to-all` is very generic and we have the more specific flag `--no-checksum` I wonder if the right fix is to error out rather than prompting the user in a case like this one. @adamjstewart @becker33 Any opinion on the subject?

[2022-03-03 13:34] haampie commented on #26464
Yeah, that's a hacky fix though. It'd be better to just have a GitVersion object. Again, git versions are the exception.

[2022-03-03 13:59] #29194 closed, assigned to nobody

[2022-03-03 16:56] trws commented on #26464
I agree, but the two vaguely doable options for that both have some nasty downsides when I look at the required refactoring.

1. Make `Version` a function that dispatches as appropriate.  It's used in too many places to easily split it, so this would work, it's what `ver` is supposed to be, but *way* too many places already use Version directly, so we're kinda stuck with it.
    - downside: all pl

[2022-03-03 16:58] trws commented on #26464
Possibly even replace the version tuple with a commit-version class actually, that would probably be less overall divergence.

[2022-03-03 18:02] pbrady opened #29321 "Installation issue: netcdf-c %intel@2021.5"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
==> Installing netcdf-c-4.8.1-aq5st4jjdcymcmzxpgknvyvhu42unlkd
==> No binary for netcdf-c-4.8.1-aq5st4jjdcymcmzxpgknvyvhu42unlkd found: installing from source
==> Using cached archive: /Users/ptb/gitrepos/spack/var/spack/cache/_source-cache/archive/bc/bc018cc30d5da402622bf76462480664c6668b55

[2022-03-03 18:19] pbrady commented on #29321
netcdf-c built fine on my linux machine using the same intel compilers so this bug is limited to mac

[2022-03-03 19:32] eugeneswalker opened #29326 "libdrm@2.4.110 build fails: missing dependency on meson?"
### Steps to reproduce the issue

`libdrm@2.4.110` build is failing using:
* Ubuntu 2.04, GCC 9.3.0, x86_64
* `spack@develop` (ebf92b428e789825f0543f36ac32073bdb0daba5 from `Thu Mar 3 15:03:10 2022 +0100`)

It looks like it should have an explicit dependency on `meson` -- at least for the newest version?

Concrete spec: [libdrm.spec.json.txt](https://github.com/spack/spack/files/8180532/libdrm.spe

[2022-03-03 19:46] becker33 commented on #17723
Can someone run with `spack -d` to get a stacktrace of the failure? @wspear ?

[2022-03-03 20:06] wspear commented on #17723
@becker33 behold!
[code]

[2022-03-03 20:07] eugeneswalker commented on #17723
[code]

[code]

[2022-03-03 20:12] adamjstewart commented on #29296
I have a slight preference for keeping "--yes-to-all" and dropping "--no-checksum" since it reduces the number of flags you need to memorize. We also have prompts for using deprecated versions that should be combined with this. But I'm also fine with removing "--yes-to-all" or make it imply "--no-checksum".

[2022-03-03 20:20] adamjstewart commented on #29173
You can set environment variables in a package using:
[code]
I'm not sure exactly what the value is supposed to be since that command fails on macOS for me. But you can either run an OS tool or use Python's builtin datetime module.

[2022-03-03 21:03] becker33 commented on #17723
Where is the `.spack-db` directory associated with the upstream?

[2022-03-03 21:03] becker33 commented on #17723
Or what is the `install_tree:root` value for the upstream?

[2022-03-03 21:08] wspear commented on #17723
For mine it's in:  /spack/opt/spack/.spack-db/

[2022-03-03 21:09] becker33 commented on #17723
Change your `upstreams` config to

[code]

[2022-03-03 21:09] becker33 commented on #17723
After that, does it still fail?

[2022-03-03 21:14] adamjstewart commented on #29308
I'm unable to reproduce this, both `py-pkgconfig` and `py-crashtest` build fine for me on develop. The full build and logs would be helpful in understanding why this is happening.

[2022-03-03 21:16] adamjstewart commented on #29255
If you're using Intel Python, what does your `packages.yaml` look like? If you add `~shared` does that solve your issue?

[2022-03-03 21:17] climbfuji commented on #29308
I'll try to retrieve those. It just happened again to me on a completely different system (HPC - MSU Orion), and I solved it by ditching the Python module that the sysadmins provide and installing a miniconda3 version that has `poetry` installed via pip.

[2022-03-03 21:18] wspear commented on #17723
Same issue. And the path that's failing doesn't seem to have changed despite updating the path in upstreams.yaml

[code]

[2022-03-03 21:21] wspear commented on #17723
It was taking its config from /global/u2/w/wspear/PERLMUTTER/spack-daisychain/spack/etc/spack/linux/upstreams.yaml instead of .spack/upstreams.yaml. Is that how scoping is supposed to work?  When I edited the one in etc `spack find` worked.

[2022-03-03 21:30] becker33 commented on #17723
@eugeneswalker does changing the path resolve the issue for you as well?

[2022-03-03 21:32] kgerheiser commented on #29255
The spec looks like this:

[code]

The `~shared` option is a good thought, but it doesn't work because `LIBRARY = libpython3.a` as well, but no static library exists. Intel builds the interpreter with `--disable-shared`, deletes the static library, then builds again with `--enable-shared`, and installs the static interpreter with the shared libraries from second build.

https://github.com/spack/sp

[2022-03-04 03:53] #29326 closed, assigned to nobody

[2022-03-04 07:42] #29203 closed, assigned to alalazo

[2022-03-04 07:52] marvinbernhardt commented on #19782
That reflects my usage of spack to some degree and I also had this problem repeatedly.

[2022-03-04 09:13] #29232 closed, assigned to nobody

[2022-03-04 09:14] brechtm commented on #29173
@adamjstewart I've tried adding `env.set('SOURCE_DATE_EPOCH', str(int(time.time())))` to `setup_build_environment()` to no avail. The error occurs in the following section of font-util's _package.py_ though:

[code]

Does `setup_build_environment()` affect _run_after_ sections as well?

[2022-03-04 09:36] tgamblin commented on #17723
I think regardless of whether this fixes things for @eugeneswalker and @wspear we should make it so that the DB doesn't attempt to create anything if it finds itself on a read-only filesystem.

We should probably fail with some intuitive error if we don't find `.spack-db` for an upstream or read-only filesystem, rather than trying to create it and failing.

[2022-03-04 10:14] alalazo commented on #29171
Can you move this discussion to https://github.com/archspec/archspec-json/issues ?

[2022-03-04 14:31] adamjstewart commented on #29173
Yes, setup_build_environment affects all phases and run_after sections. You added the line to the existing setup_build_environment instead of adding a new function that got overridden right? You can also check the build environment log file to make sure the variable was set.

[2022-03-04 16:12] brechtm commented on #29173
👍 Good to know!

Yes, I added to the existing _setup_build_environment_, so I guess the environment variable doesn't fix things in this case.

[2022-03-04 16:14] behrmann opened #29342 "Installation issue: llvm"
### Steps to reproduce the issue

[code]

### Error message

I can't really post the error message, since it's too long for the issue body. Please have a look at [`spack-build-out.txt`](https://gist.githubusercontent.com/behrmann/6038c4826297b03fdef94ba6165c838f/raw/8ddbe95ab7abecfeef3c0cd767392356fad279ec/spack-build-out.txt)

<details><summary>(shortened) error message</summary><pre>
3 errors fo

[2022-03-04 17:11] bollig commented on #17723
Raised this in slack and thought it would help others that find their way here: https://gist.github.com/bollig/aab44a2e5774d80d992c2974f8b2ea7b

I use this to root deploy spack where root has control over upstream packages and users have read-only access. Users get read/write control over packages that install to their own $HOME/.spack.

[2022-03-04 17:13] #29170 closed, assigned to tgamblin

[2022-03-04 17:19] wspear commented on #17723
@tgamblin beyond that, maybe there should be a useful error message or at least a warning if a .spack-db is not found regardless of the writability of the filesystem. I'd think in most cases users intend to point their upstreams to a valid install_tree:root.

[2022-03-04 19:03] omor1 commented on #29173
Can you check to see whether it's consistently failing at a particular font and, if so, disable that one?

[2022-03-04 21:10] rchoudhary opened #29350 "`llvm+gold` with external `binutils` build failure because of missing `plugin-api.h` header"
### Steps to reproduce

[code]

### Error message

[code]

### Information on your system

* **Spack:** 0.17.1-1457-4081597731
* **Python:** 3.8.10
* **Platform:** linux-ubuntu20.04-skylake_avx512
* **Concretizer:** clingo

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have searched the issues of this repo and believe this

[2022-03-04 22:40] rchoudhary commented on #29350
Note, I can build when using the command `spack install llvm @13.0.1 ~gold`, i.e. by disabling the gold plugin.

[2022-03-04 23:53] pbrady opened #29352 "Installation issue: boost fails with "classic" intel"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
==> Installing boost-1.78.0-rwzzf7xc6pnmk6oprr4y6m7njmsrfrfe
==> No binary for boost-1.78.0-rwzzf7xc6pnmk6oprr4y6m7njmsrfrfe found: installing from source
==> Using cached archive: /home/ptb/gitrepos/spack/var/spack/cache/_source-cache/archive/86/8681f175d4bdb26c52222665793eef08490d775852933

[2022-03-05 02:05] climbfuji opened #29354 "Spack linker env makes netcdf-c believe that it doesn't support shared libraries"
### Steps to reproduce

This is on an HPC called Cheyenne. I used different versions of the Intel compilers (2021.2.0, installed by sysadmins; and 2022.0.2 installed with the Intel installers) with the corresponding Intel-MPI and got the same result. I also tried with netcdf-c-4.7.4 and netcdf-c-4.8.1.

When I run configure manually with those compilers loaded:
[code]
However, if I run this throug

[2022-03-05 02:07] climbfuji commented on #29354
@skosukhin tagging you as the spack-netcdf expert.

[2022-03-05 02:25] climbfuji commented on #29354
More information: the exact configure command is
[code]
Run through spack makes configure believe that it can't produce dynamic libraries. Run manually works fine.

If I add `LD=/something/stupid` to the configure command and run it manually, I get the same error as when I run it through spack:
[code]

[2022-03-05 22:09] ax3l commented on #29224
X-ref: PR in #29279

Issue appears since #28797

[2022-03-06 16:19] climbfuji commented on #29354
@skosukhin I found that on the very same machine, with the very same settings, the netcdf-c configure step says that it can't create shared libraries:
[code]
However, the netcdf-fortran library can. It still fails linking against netcdf-c, either because of the issue I raised in https://github.com/spack/spack/discussions/29349 or because static linking isn't configured correctly to begin with, but

[2022-03-07 13:09] haampie commented on #3955
I believed this cause I am not a Python user, but I think it's not true. Python packages typically open a wrapper library which has rpaths, right? So, I doubt they rely on LD_LIBRARY_PATH much?

I still believe we should disable LD_LIBRARY_PATH by default.

@giordano reports a system where `less` is dynamically linked to `curses`, and pretty much any spack environment includes `curses`, meaning th

[2022-03-07 16:21] srekolam commented on #28906
submitted the patch for llvm-amdgpu for 4.2.0 till 4.5.2  #29376

[2022-03-07 16:46] hainest commented on #29352
This is likely related to, but different from, #16328. Support for the intel compiler is spotty in Boost.Build because it's not on their usual testing path due to licensing issues. I will try to take a deeper look at this, but it may be a while.

[2022-03-07 17:07] junghans opened #29379 "Add CI test running "-frecord-gcc-switches""
### Summary

We should add a CI test compiling with `cflags=-frecord-gcc-switches` and running `readelf -p .GCC.command.line` afterwards to check which packages inject "unwanted" flags.

### Rationale

Some build recipes inject unwanted flags that we should detect and warn about during the code review.

### Description

Compile with `-frecord-gcc-switches` and look at the `.GCC.command.line` block

[2022-03-07 17:21] mwkrentel opened #29381 "hsa-rocr-dev dies looking for version of hsakmt-roct in all spack build"
### Steps to reproduce the issue

ping @srekolam @arjun-raj-kuppala @haampie (maintainers)

For me, the all-spack build of `hip` or `hsa-rocr-dev` fails as:

[code]

This happens with 4.5.2 and 4.3.1.  I'm using an all-spack build, that
is no `packages.yaml` for any external packages, and not using `/opt/rocm`.

Indeed, `CMakelists.txt` in hsa-rocr-dev has:

[code]

And `/opt/rocm` has this in `hs

[2022-03-07 17:23] eugeneswalker opened #29382 "binutils +gold %oneapi build fails: undefined reference to gold:: ..."
### Steps to reproduce the issue

`binutils@2.36.1 +gold %oneapi@2022.0.0` build is failing using:
* `spack@develop` (e86cdbbf2302e46907c09984a482c8fe4e5c1f7b from `Thu Mar 3 19:53:40 2022 -0800`)
* Ubuntu 20.04, X86_64 (AMD EPYC 7662 64-Core Processor)
* OneAPI Toolkit 2022.1.2.146 installed using offline Intel installer
* Seeing the same issue with `binutils@2.38 %oneapi`

Concrete spec: [binuti

[2022-03-07 17:31] giordano commented on #17471
I'm getting the same error trying to run a [ReFrame](https://reframe-hpc.readthedocs.io/en/stable/) benchmark which uses [Spack as build system](https://reframe-hpc.readthedocs.io/en/stable/tutorial_build_automation.html#using-spack-to-build-the-test-code).  Installation of Spack packages fails with
[code]
in the standard error.  The command which is trying to run is
[code]
The `spack-build-out.tx

[2022-03-07 18:14] pbrady commented on #29352
Thanks @hainest

[2022-03-07 18:15] haampie commented on #17471
@tgamblin any clue?

[2022-03-07 18:58] #29192 closed, assigned to nobody

[2022-03-07 21:35] eugeneswalker opened #29390 "rocsolver@4.5.2 ^fmt@8.1.0:8.1.1 build fails: fmt/ranges.h: error: no matching member function for call to 'format'"
### Steps to reproduce the issue

`rocsolver@4.5.2 ^fmt@8.1.1` builds fails using:
* `spack@develop` (3d29e0d64139e11b0551eae8a25dd9f1232515e1 from `Mon Mar 7 11:58:39 2022 -0700`)
* Ubuntu 20.04, X86_64
* GCC 9.3.0

It looks like there should be a conflict for `rocsolver@4.5.2 ^fmt@8.1.1`. Same error w/ `^fmt@8.1.0

Concrete spec: [rocsolver.spec.json.txt](https://github.com/spack/spack/files/820

[2022-03-08 01:58] #29390 closed, assigned to nobody

[2022-03-08 08:28] alalazo opened #29397 "Rename all the arguments expecting a dependency type to "deptypes""
See discussion in https://github.com/spack/spack/pull/28673#discussion_r810461502

In Spack's codebase we have functions that take a `deptype=` argument, and other functions that take a `deptypes=` argument. This is confusing and might lead to typo and ultimately bug in the code. We need to standardize on one spelling.

These bugs have already been fixed in `develop`, but for instance we had a cal

[2022-03-08 16:25] shahzebsiddiqui commented on #28012
This issue may be related to https://github.com/spack/spack/issues/28260 looping in @mpbelhorn. I am getting same error with large spack stacks

[2022-03-08 16:38] shahzebsiddiqui commented on #29094
The intent of this issue was to pin a version, we generally don't like to install packages based on a branch as part of facility deployment because `spack install bmi` can change as master branch changes over time which is not good. Yes i know that spack doesn't write specs to buildcache that are not specified as version. I am not sure if there is an open issue for that and if it makes sense to ke

[2022-03-08 17:25] #27977 closed, assigned to RikkiButler20

[2022-03-08 17:36] alalazo commented on #28012
@shahzebsiddiqui #28260 was solved and shouldn't be happening with `develop`. Can you confirm that?

[2022-03-08 17:37] alalazo commented on #28012
Duplicate of #28260

[2022-03-08 17:38] alalazo commented on #28012
It seems a duplicate looking at the logs:
[code]
@shahzebsiddiqui Waiting for your confirmation before closing.

[2022-03-08 19:46] shahzebsiddiqui commented on #28012
yes its a duplicate. I will close this

[2022-03-08 19:46] #28012 closed, assigned to alalazo

[2022-03-08 21:29] scheibelp commented on #29300
I think this could be done by updating the Spack `gcc` package: FWIW I think you can also install a full LLVM, which might be simpler because then you can add something like:

[code]

In order to better handle requirements like:

(from https://gcc.gnu.org/wiki/Offloading#How_to_try_offloading_enabled_GCC) I think it will be useful to have the compilers-as-dependencies work merged.

[2022-03-08 22:46] haampie opened #29404 "lib/spack/spack/test/cmd/ci.py::test_ci_nothing_to_rebuild spuriously fails"
### Steps to reproduce

First noticed it here:

https://github.com/spack/spack/commit/a39a6c4ea7863031d1c89fea05b3b3be76e25f2f

although it passed in that PR: https://github.com/spack/spack/pull/29369

also fails here: https://github.com/spack/spack/pull/29402

can't reproduce it in my local branch here: https://github.com/haampie/spack/pull/15

### Error message

[code]

### Information on your s

[2022-03-08 23:13] mcuma commented on #29084
I see the same error and have wandered here with the help of Google. Apparently, this is a bug in NVHPC:
https://lists.nongnu.org/archive/html/bug-diffutils/2022-01/msg00002.html

What worked for me is to use diffutils@3.7 instead.

[2022-03-08 23:34] igory1999 opened #29406 "Installation issue: llvm"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
libncurses.so.6: undefined reference to `_nc_tiparm@NCURSES6_TINFO_6.2.current'
</pre></details>

### Information on your system

* **Spack:** 0.17.1-1463-d424d0e54e
* **Python:** 3.9.7
* **Platform:** linux-pop21-icelake
* **Concretizer:** clingo

### Additional information

 @trws @haampie

[2022-03-09 01:52] vsoch opened #29409 "perl no longer installs un-versioned binaries"
For singularity HPC, we create recipes that can confidently say the path and name of a binary in advance. E.g., for our perl recipe we have:

[code]
As of perl 5.34, this tree (and the subsequent view) turns out correctly - e.g., I have a perl / perlthanks and all the expected executables in bin.
[code]
However with 5.35.0 I no longer have any un-versioned binaries. They all end in the version.

[

[2022-03-09 02:24] eugeneswalker opened #29410 "umpire@6.0.0 +rocm ^blt@0.5.0 build fails: cmake: get_target_property() called with non-existent target "hip_runtime""
### Steps to reproduce the issue

`umpire@6.0.0 +rocm ^blt@0.5.0` build fails using:
* `spack@develop` (a9996db35c1a018c582a67af112cc9f8f72e477f from `Tue Mar 8 21:22:40 2022 +0100`)
* Ubuntu 20.04, X86_64
* GCC 9.3.0
* ROCm 4.5.2
* `^blt@0.5.0`

**Concrete spec**
[umpire.spec.json.txt](https://github.com/spack/spack/files/8211092/umpire.spec.json.txt)

**Concretization**
[code]

**Error**
Reprodu

[2022-03-09 02:29] eugeneswalker opened #29412 "raja@0.14.0 +rocm ^blt@0.5.0 build fails: cmake: get_target_property() called with non-existent target "hip_runtime""
### Steps to reproduce the issue

`raja@0.14.0 +rocm ^blt@0.5.0` build fails using:
* `spack@develop` (a9996db35c1a018c582a67af112cc9f8f72e477f from `Tue Mar 8 21:22:40 2022 +0100`)
* Ubuntu 20.04, X86_64
* GCC 9.3.0
* ROCm 4.5.2
* `^blt@0.5.0`

**Concrete spec**
[raja.spec.json.txt](https://github.com/spack/spack/files/8211144/raja.spec.json.txt)

**Concretization**
[code]

**Error**
Reproduced u

[2022-03-09 02:42] vsoch commented on #29409
Please see https://github.com/spack/spack/pull/29413 for my suggested fix.

[2022-03-09 09:43] alalazo commented on #6305
Outdated. The `spack bootstrap` command has been removed a long time ago and then repurposed in `v0.17`

[2022-03-09 09:43] #6305 closed

[2022-03-09 10:11] alalazo commented on #7326
Still in `develop`:
[code]

[2022-03-09 11:33] alalazo commented on #6296
Already fixed.

[2022-03-09 11:33] #6296 closed

[2022-03-09 11:56] haampie commented on #29404
@scottwittenburg i'm once more asking to improve this ci/buildcache code and those tests... it's taking too much of my time anytime anything goes wrong. See https://github.com/spack/spack/pull/29419 for a fix

[2022-03-09 11:57] haampie commented on #29404
note that https://github.com/spack/spack/commit/a39a6c4ea7863031d1c89fea05b3b3be76e25f2f has unicode symbols too.

@scottwittenburg can you go over all the other potential issues with unicode in ci/buildcache? Thanks.

[2022-03-09 12:16] srekolam commented on #29381
@mwkrentel  can you let me know the steps to reproduce ..i am not seeing this issue - i looked at the hsakmt-config-version.cmake inside the install_prefix_path of hsakmt-roct/lib64/cmake/hsakmt i see the below set(PACKAGE_VERSION "1.0.0")
I looked at hsakmt-roct@5.0.0 as well as hsakmt-roct@4.5.2 too

[2022-03-09 15:39] haampie commented on #29110
@rscohn2 pinging you since your handle pops up in `spack maintainers intel-mkl`.

This issue a high priority issue, since it's making spack unusable on our systems.

Another person reports gcc 7.5.0's `libgfortran.so.4` is picked up instead of `libgfortran.so.5` corresponding to gcc 9.3.0.

[2022-03-09 15:42] toxa81 commented on #29110
I reproduced this issue

[2022-03-09 16:27] #29084 closed, assigned to nobody

[2022-03-09 16:52] ltalirz commented on #26705
Just wanted to mention that I got a similar error (`argument is incompatible with formal parameter`) while compiling openmpi with slurm support using the `intel-oneapi` compilers on CentOS.

I'm new to spack, so maybe this is obvious, but I was able to get it to build by using older versions of the packages which caused the build to fail (gawk, libgcrypt in my case).
`spack install openmpi %intel

[2022-03-09 17:19] rscohn2 commented on #29110
Which package has the issue?

[2022-03-09 17:20] mdorier opened #29426 "lib64 directories not added to PKG_CONFIG_PATH"
### Steps to reproduce

[code]

One my Ubuntu machine this works fine. On ORNL's Summit, pkg-config can't find json-c.pc. The difference is that on my Ubuntu machine this file is located in the package's `lib` directory, while on Summit it ends up in a `lib64` directory, which isn't in `PKG_CONFIG_PATH`. I don't know why this difference happens, but I suspect it could happen with other packages. `

[2022-03-09 17:27] mdorier commented on #29426
Actually, if I deactivate the environment and reactivate it, I find that the `lib64` directory (of the environment) has been added to `PKG_CONFIG_PATH`, so the problem is: spack doesn't add it right away (contrary to the `lib` directory), and we need to deactivate and reactivate the environment to get the updated variable.

[2022-03-09 17:40] mdorier commented on #29426
Actually if I do `spack load json-c` within the environment, the problem goes away. Within the context of a larger environment with more packages, the environment's does have a `lib64` folder with a `pkgconfig` subfolder and the .pc file of some packages, but not that of json-c...

[2022-03-09 18:17] pbrady opened #29427 "Installation issue: perl %intel on macos"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
==> Error: ProcessError: Command exited with status 2:
    'make' '-j12'

3 errors found in build log:
     1432          ^
     1433
     1434    sv.c(2811): warning #161: unrecognized #pragma
     1435          CLANG_DIAG_RESTORE_STMT;
     1436          ^
     1437

     1439

[2022-03-09 18:41] haampie commented on #29110
`intel-mkl` is what I've tried.

The issue is in build_systems/intel.py:

- https://github.com/spack/spack/blob/033647c8b1969aacc6db859fb7f779ff658f48ed/lib/spack/spack/build_systems/intel.py#L689-L692

`self.compiler.cc` may just be the string `"cc"`. Compilers in Spack may require modules to be loaded that alter the PATH so that `cc` refers to the right `cc`. So, if you run `cc` before those mod

[2022-03-09 19:29] rscohn2 commented on #29110
@scheibelp: Any thoughts on the right way to do this? MKL package libs property needs to return the openmp runtime as one of the libraries. The openmp runtime is provided by the compiler. The implementation of the libs property invokes the compiler so it can query where the openmp runtime is located. Apparently, it is not invoking the compiler that is actually used for the build. @haampie says som

[2022-03-09 20:32] sethrj commented on #26377
This bit us again. @becker33 I think this showed up after the big "env views are symlinks" refactor; do you happen to know an easy fix? For now we're laboriously deleting the directories and symlinking in the frameworks directly into the view (ugh).

[2022-03-09 21:03] haampie commented on #26377
See #29443 for a fix

[2022-03-09 22:19] mwkrentel commented on #29381
@srekolam Hmm, we must be doing something different, but at first
glance, I don't see what it is.

For me, this is an ALL-spack build.  That is, NO external packages
from `packages.yaml`.  Nothing `spack external find`.  Also, you can't
use rocm 5.0 because that's not in spack yet.

I'm on x86_64, RH 8.5, gcc 8.5.0.  I could try other arch's, but I
don't expect that to make any difference.

I'm mo

[2022-03-09 22:28] haampie commented on #29381
@mwkrentel with `bwrap --dev-bind / / --tmpfs /opt/rocm spack install ...` you can make sure `/opt/rocm` is not used.

[2022-03-10 00:59] davidbeckingsale commented on #29412
`raja@0.14.0` should depend on previous BLT release, and the upcoming RAJA release will work with `blt@0.5.0`

[2022-03-10 02:27] vsoch opened #29434 "spack uninstall with --force should not ask me for confirmation"
[code]
bad spack.

[2022-03-10 09:15] alalazo commented on #6145
I agree with https://github.com/spack/spack/issues/6145#issuecomment-343034226 This is a known limitation of our current model for externals that trim dependencies of the external node. As such I think it shouldn't be considered a bug. Whenever we'll improve the model for externals to account for dependencies this behavior will change.

[2022-03-10 09:16] #6145 closed

[2022-03-10 09:18] alalazo commented on #7872
I think this was fixed, but feel free to reopen if I'm wrong.

[2022-03-10 09:18] #7872 closed

[2022-03-10 09:22] alalazo commented on #7950
Fixed as of 9ab21024e26ab0394475d957a0ca2c5246cce35d (it was probably fixed when we switched to clingo):
[code]

[2022-03-10 09:22] #7950 closed

[2022-03-10 09:40] alalazo commented on #8047
This concretizes correctly at 9ab21024e26ab0394475d957a0ca2c5246cce35d:
[code]
Any error during the installation is likely `build-error` (i.e. in the recipe of the package). Closing the bug.

[2022-03-10 09:40] #8047 closed

[2022-03-10 09:42] alalazo commented on #8058
Closing as stale (no reply since https://github.com/spack/spack/issues/8058#issuecomment-387609647) Feel free to open a new issue if you still have troubles.

[2022-03-10 09:42] #8058 closed

[2022-03-10 09:43] alalazo commented on #8425
Support for Python 2.6 was removed after v0.17 Closing this issue.

[2022-03-10 09:43] #8425 closed

[2022-03-10 09:57] alalazo commented on #8150
The current semantic is for a specific package entry to override the generic `all` preferences. This might be changed in the future, but as far as I can tell was done like that on purpose - so closing the bug report. Feel free to open another issue if you want to discuss changing the current behavior.

[2022-03-10 09:57] #8150 closed

[2022-03-10 09:58] alalazo commented on #8131
Closing as very likely outdated (Cray implementation changed a lot since this bug report). Feel free to reopen if I am wrong about that.

[2022-03-10 09:58] #8131 closed

[2022-03-10 10:01] #8850 closed

[2022-03-10 10:09] alalazo commented on #9149
@adamjstewart I wouldn't regard this as a bug, but as a feature request :slightly_smiling_face: The current model for externals is that we truncate all the dependencies (and don't account for conflicts) and we get information from `packages.yaml`. What would be ideal is that:
1. We could detect externals automatically via `spack external find`
2. Each detection has means to detect the entire DAG
3

[2022-03-10 10:10] alalazo commented on #9209
Closing as outdated:
[code]

[2022-03-10 10:10] #9209 closed

[2022-03-10 10:15] alalazo commented on #9798
Small reproducer:
[code]

[2022-03-10 10:19] haampie commented on #29110
@rscohn2 there's a short fix in #29439

[2022-03-10 10:25] alalazo commented on #10027
Seems solved by `clingo`:
[code]

[2022-03-10 10:25] #10027 closed

[2022-03-10 10:27] alalazo commented on #10080
Closing as I can't reproduce this either on my laptop and https://github.com/spack/spack/issues/10080#issuecomment-446777686 never got answered. Feel free to open a new issue if you still have troubles.

[2022-03-10 10:27] #10080 closed

[2022-03-10 10:29] alalazo commented on #10031
Still an issue with an active environment.

[2022-03-10 10:37] alalazo commented on #10184
@balay I'm spending some time to look at old issues that are still open. Is this one still relevant or can it be closed?

[2022-03-10 10:40] alalazo commented on #10248
Closing as outdated. As of 9ab21024e26ab0394475d957a0ca2c5246cce35d:
[code]
open the environment `spack.yaml`, which seems correct.

[2022-03-10 10:40] #10248 closed

[2022-03-10 10:45] alalazo commented on #10331
Closing as I can't reproduce the issue anymore (so I assume it was fixed). Feel free to open a new issue if the problem persist.

[2022-03-10 10:45] #10331 closed

[2022-03-10 10:50] alalazo commented on #10332
Works as of 9ab21024e26ab0394475d957a0ca2c5246cce35d:
[code]

[2022-03-10 10:50] #10332 closed

[2022-03-10 10:51] #10372 closed

[2022-03-10 10:52] alalazo commented on #10402
Outdated, since:
[code]

[2022-03-10 10:53] #10694 closed

[2022-03-10 13:03] #11023 closed

[2022-03-10 13:04] alalazo commented on #11023
[code]

[2022-03-10 13:06] alalazo commented on #10626
Closing as this seems a question (and was answered)

[2022-03-10 13:06] #10626 closed

[2022-03-10 13:10] #11160 closed

[2022-03-10 13:50] giordano commented on #17471
It turns out the problem I'm having is reproducible on any system wit the current `master` version of ReFrame, for example commit https://github.com/eth-cscs/reframe/commit/f8d292caea7987147cf098c3f51e5730fadc90f6.  You can see the documentation for how to set up ReFrame from a GitHub checkout: https://reframe-hpc.readthedocs.io/en/stable/started.html#github.  This ReFrame test is a reliable repro

[2022-03-10 14:11] jgalarowicz commented on #26542
I tried the clingo concretizer again, but still get the error.   Seems like it doesn't like the fact that the system components are built with gcc@4.9.3 judging by this message:
``` 1. "%gcc@:5" conflicts with "clingo-bootstrap" [C++14 support is required to bootstrap clingo]```

[code]
spack install --no-cache --keep-stage survey@1.0.3.openmpi-1.10 %gcc@10.2.1 +mpi ^openmpi@1.10
==> Bootstrapping

[2022-03-10 15:04] alalazo commented on #11308
Closing as stale (no answer given to https://github.com/spack/spack/issues/11308#issuecomment-513412865) Feel free to open a new issue if the problem still occurs.

[2022-03-10 15:04] #11308 closed

[2022-03-10 15:11] alalazo commented on #11563
I think this was solved when we made `apple-clang` a different compiler from `clang`, but feel free to reopen if I am wrong.

[2022-03-10 15:30] alalazo commented on #11835
This has been solved by clingo. Using:
[code]
I have:
[code]
Commenting out the `x86_64` instead:
[code]

[2022-03-10 15:30] #11835 closed

[2022-03-10 15:39] alalazo commented on #3508
Works with `clingo`. I used:
[code]
on:
* **Spack:** 0.17.1-1520-9ab21024e2
* **Python:** 3.8.10
* **Platform:** linux-ubuntu20.04-icelake
* **Concretizer:** clingo

It always selects the ubuntu external. If I comment it out:
[code]

[2022-03-10 15:39] #3508 closed

[2022-03-10 15:56] alalazo commented on #12510
Related to #5610

[2022-03-10 16:07] alalazo commented on #12606
Reading through the issue it seems it was unreproducible, so closing it. Feel free to undo if I am wrong about that.

[2022-03-10 16:07] #12606 closed

[2022-03-10 16:11] #13555 closed

[2022-03-10 16:13] alalazo commented on #13783
That PR was merged, so closing this issue.

[2022-03-10 16:37] alalazo commented on #27771
@tldahlgren Why was this marked as high-impact? Is it a blocker for some other work to be performed?

[2022-03-10 16:48] #29412 closed, assigned to nobody

[2022-03-10 16:57] tldahlgren commented on #27771
Good question.  It's been a while so I don't remember.  I'll switch to medium until I have an opportunity to revisit my notes on this.

[2022-03-10 17:46] mwkrentel commented on #29381
@srekolam  @haampie
I tried this on another machine that doesn't have GPUs, so no
/opt/rocm files and no chance of using them.

I get the same result.  Again, with NO external packages, hsakmt-roct produces:

[code]

Is this an issue with cmake (3.22.2) or pkgconf (1.8.0) ?

@srekolam   Have you tried building hsakmt-roct with NO external packages,
no `packages.yaml`, no `spack.yaml`, no environme

[2022-03-10 18:15] srekolam commented on #29381
@mwkrentel yes, i have built them individually with out packages.yaml, or spack.yaml and no environment.  I did not see any failures for either 4.5.0 or 4.5.2 etc..

[2022-03-10 18:16] mwkrentel commented on #29381
Ok, here's something.  `spack debug report` says:`

[code]

There are two things here: (1) hsakmt-roct is somehow taking its
version from the spack version.  I've seen something similar once
before, where it mattered if you were running some command inside a
git repo or not where you ended up running git from the wrong repo.

(2) the spack version reporting is wrong.  This is not spack 0.11.2.
It'

[2022-03-10 18:48] giltirn opened #29446 "AutotoolsPackage no longer supports legacy setup_environment"
### Steps to reproduce

I encountered an issue when building with the most recent Spack version where my override

[code]
is not being called during the install process, resulting in the build failing due to linker errors from undefined MPI symbols. Reverting to a version from January 25th resolved the issue. Looking at the Spack source, it seems to be happening because an override for  setup_buil

[2022-03-10 18:58] bvanessen opened #29447 "spack install --test root not working properly in environment"
### Steps to reproduce

When installing py-numpy in a environment with other root packages and the `--test root` flag is set, it fails to build because it cannot find `py-pytest` and it doesn't show up as a dependency in the concretization.

[code]

### Error message

[code]
[spack_lock.txt](https://github.com/spack/spack/files/8226249/spack_lock.txt)
[spack_yaml.txt](https://github.com/spack/spac

[2022-03-10 19:53] #11983 closed

[2022-03-10 20:30] pbrady commented on #29427
This is the error I'm seeing: https://github.com/perl/perl5/issues/14503.  I'll test the patch included in the issue

[2022-03-10 22:14] #29110 closed, assigned to scheibelp

[2022-03-11 00:11] mwkrentel commented on #29381
@srekolam  I found out what's going on, and I can show you how to reproduce the problem.

In the hsakmt-roct source tree, it uses git to identify its version in
cmake_modules/utils.cmake:

[code]

This is dangerous because you don't know if this code is being run
from a git repo or not.

In `config.yaml`, spack uses these paths to locate the build directory:

[code]

If you use the first choice, o

[2022-03-11 01:51] eugeneswalker commented on #29410
Fixed by https://github.com/spack/spack/pull/29433

[2022-03-11 01:51] #29410 closed, assigned to nobody

[2022-03-11 03:52] adamjstewart commented on #29446
`setup_environment` hasn't really been used since #11115, which was 3 years ago. Should we just remove it entirely? Is there any reason you can't use `setup_build_environment` or `setup_run_environment`?

[2022-03-11 05:21] mwkrentel commented on #27771
The other possibility is to review the fix in #27789 and merge.
I looked at it and approved back in Dec 2021.

The fix in #27789 is a partial fix to the more general problem of combining
`@when` with other directives.  But this much is useful.

[2022-03-11 07:43] alephpiece commented on #26542
I get the same error on CentOS7 with the latest `develop` branch. I tried to enable devtoolset-9 with the following command, but spack failed to detect it.

[code]

[code]

[2022-03-11 14:15] alalazo commented on #29446
@adamjstewart I'll submit a PR to remove the legacy behavior for v0.18

[2022-03-11 14:36] climbfuji commented on #26542
Same problem. I had to edit the bootstrap config in $HOME/.spack/.../bootstrap/... manually to change the compiler.

[2022-03-11 15:01] alephpiece commented on #26542
It works! Thank you. I thought this config file would be overwritten when bootstrapping.

[2022-03-11 15:14] brechtm commented on #29173
It seems to always fail at _font-adobe-100dpi_. I haven't managed to disable it. Commenting out the corresponding entry of the `fonts_resource` list results in this error:

[code]

I'm experienced with Python, but I don't understand where this is coming from.

[2022-03-11 15:39] brechtm commented on #29173
I can skip specific fonts in the _font_install_ method. But it then just fails on the next one, so I think all fonts might be affected.

[2022-03-11 15:59] kgerheiser opened #29459 "cray-mpich (> 8.1.6) does not contain non-Cray MPI wrappers"
### Steps to reproduce the issue

[code]

I am trying to use an external `cray-mpich@8.1.9`, but it doesn't contain the regular MPI wrappers (`mpicc`, etc).

PR https://github.com/spack/spack/commit/f6a9ef5ef51630969635f9068e3420dd4dadc86f (@haampie  @lukebroskop ) added this if statement:

[code]

Problem being that the  `cray-mpich@8.1.9` on my system does not contain the non-Cray wrappers (`mpi

[2022-03-11 16:10] giltirn commented on #29446
I can use `setup_build_environment` and am fine with support being removed

[2022-03-11 16:24] lukebroskop commented on #29459
@kgerheiser, what type of Cray system are you using (e.g. XC, CS)?

One other thing, the mpicc, mpicxx, and mpifort wrappers are not put in your path by default. Can you see if mpicc is present in the cray-mpich directory (`find /opt/cray/pe/mpich -name mpicc`).

[2022-03-11 16:30] kgerheiser commented on #29459
I did some searching and it's a Cray EX.

I do an `ls /opt/cray/pe/mpich/8.1.9/ofi/intel/19.0/bin` and it returns only `mpichversion`.

[2022-03-11 16:43] amagela opened #29461 "Cannot bootstrap clingo from pre-built binaries within UBI-8"
### Steps to reproduce

First, create Dockerfile.

[code]

Then, go into the container and get it to bootstrap the concretizer.

[code]

I would like for it to use the pre-built Clingo binaries but it, instead, will bootstrap it from source. I verified that I can `curl` on the URL given in the output (see below).

[code]

I am not sure what to check next.

### Error message

[code]

### Informatio

[2022-03-11 16:51] lukebroskop commented on #29459
I know what is going on here. We only rolled put wrappers for AMD/ROCM, CCE, and GNU as initial PrgEnv targets.
Sorry about the trouble and thank you for reporting this. Until we get a fix in place, do you think you can continue to call your MPI `cray-mpich@8.1.6`?

[2022-03-11 17:19] mpbelhorn opened #29464 "Add ability to configure the default max_processes upper limit value without locally patching spack"
### Summary

It would be useful on OLCF machines to be able to configure the max number of processes used to solve an environment.

Currently, spack chooses a maximum number of processing threads that is [the lesser of the number of specs to solve or 16](https://github.com/spack/spack/blob/develop/lib/spack/spack/environment/environment.py#L1211-L1214). On OLCF resource login nodes, our admins use

[2022-03-11 17:33] eugeneswalker opened #29465 "spack ci rebuild: import_signing_key: compression algorithm mismatch yields interactive prompt, causes non-zero exit"
### Steps to reproduce

`spack ci rebuild` may fail to import a signing key if that signing key encodes a preference for a compression algorithm not available to the GPG where `spack ci rebuild` is run.

For example, if I generate a key using the GPG on my laptop, where `BZIP2` is a supported compression:
[code]

This key thus includes `BZIP2` in its list of preferred compression algorithms:
[code

[2022-03-11 17:38] scottwittenburg commented on #29465
Nice, thanks for doing this detective work @eugeneswalker .  Not sure yet what to do about it, but at least now we're aware it's a thing :+1:

[2022-03-11 18:14] KineticTheory opened #29466 "Installation issue: superlu-dist@7.2.0 %cce@13.0.1"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
[ 89%] Linking C executable pddrive3d
cd /tmp/$user/spack-stage/spack-stage-superlu-dist-7.2.0-o42xqpat3daktcbw3dfsahqe7lg3g3ba/spack-build-o42xqpa/EXAMPLE && /usr/projects/user_contrib/spack.20220303/opt/spack/cray-cnl7-haswell/gcc-7.5.0/cmake-3.22.2-lcuvt25/bin/cmake -E cmake_link_script C

[2022-03-11 18:27] pghysels commented on #29466
Looks like netlib-lapack is compiled with gcc, but superlu_dist is being compiled with the Cray compiler. Some Fortran compilers add an underscore to the function names. SuperLU_dist's CMake script checks whether the compiler being used adds this underscore. But if you used a different compiler for lapack/blas, that could cause issues.

[2022-03-11 18:33] KineticTheory commented on #29466
Indeed!

I missed this detail in my review.  Let me be more explicit in my environment description (`spack.yaml`) to see if I still get this error.

[2022-03-11 18:52] KineticTheory commented on #29466
@pghysels I'm still seeing the same error, even when linking to `lapack@3.9.1 %cce@13.0.1`.  I've updated all of the issue description above to capture this most recent failure mode.

[2022-03-11 18:53] kuberry commented on #26542
@climbfuji Are you also on CentOS7 when you need this work around? I've run into it on CentOS7, as well. gcc@4.9.3 (:5), definitely doesn't have C++14 support, but I've recently built gcc@9.3.0 on RHEL7 using gcc@4.8.5 (which also doesn't have C++ support), and it didn't complain.

[2022-03-11 19:15] psakievich commented on #28201
@scheibelp

[2022-03-11 19:36] liuyangzhuan commented on #29466
Can you see if this PR fixes the issue?
https://github.com/spack/spack/pull/29467/files

[2022-03-11 20:34] eugeneswalker commented on #28830
Downgrading botocore version per @ChristianKniep suggestion corrected the issue for me too. Thank you.

[2022-03-11 21:05] KineticTheory commented on #29466
I pulled that change-set, but it didn't fix the failing link step.  Do you know where this symbol is defined?  It is missing from my `netlib-lapack` installation:

[code]

[2022-03-11 22:14] liuyangzhuan commented on #29466
Hmm. Can you try openblas instead of netlib-lapack?

[2022-03-11 23:26] KineticTheory commented on #29466
I've never been able to build `openblas %cce`.  I don't see a spack ticket about this.  Maybe I'll create one.  Anyway, trying to build `openbas` with `cce` results in:

[code]

We do have `cray-libsci` that provides blas and lapack.  I'll give that a try.

[2022-03-12 00:12] pghysels commented on #29466
`cray-libsci` should give you (much) better performance.

if I do `spack install netlib-lapack`, it has
[code]
I see spack has some patches for Cray CCE, one for 3.7:3.8, and one for 3.9.1. Perhaps try a different version of `netlib-lapack`.
You could also try `netlib-lapack@3.10.0`.

[2022-03-12 00:56] KineticTheory commented on #29466
@pghysels I've tried `netllib-lapack` versions 3.7.0, 3.8.0, 3.9.1.  All of these builds have:

[code]

I can use `cray-libsci`, so I'll stick with that one for now.

[2022-03-12 01:33] climbfuji commented on #26542
I had this problem on RHEL7 with gcc@4.8.5 ... doesn't fit what you are saying.

[2022-03-12 02:59] kgerheiser commented on #29354
Getting this on Orion as well

[2022-03-12 05:30] kgerheiser commented on #29459
Sure, that's not a problem. We use a fork of Spack that contains the fix.

[2022-03-12 17:01] adamjstewart opened #29477 "Installation issue: py-tensorboard-data-server"
### Steps to reproduce the issue

[code]

### Error message

[code]

### Information on your system

* **Spack:** 0.17.1-1532-8adc6b7e8e
* **Python:** 3.9.10
* **Platform:** darwin-catalina-ivybridge
* **Concretizer:** clingo

### Additional information

* [spack-build-out.txt](https://github.com/spack/spack/files/8237985/spack-build-out.txt)
* [spack-build-env.txt](https://github.com/spack/spack/

[2022-03-12 17:56] sethrj opened #29478 "Installation issue: python+ctypes"
### Steps to reproduce the issue

[code]

### Error message

Python appears to install successfully, but downstream packages fail, e.g. py-setuptools:
<details><summary>Error message</summary><pre>
[code]

[2022-03-12 18:50] sethrj commented on #29478
Update: this might somehow be a change in the core spack build or some other environmental issue. I reinstalled a known-working build (same hash!) of python+ctypes (using the older libffi) and whereas the working build adds `-lffi` to the linker args for `_ctypes`, the rebuild does not! 😱

Dammit, looks like the configure line changed so that it's no longer adding CPPFLAGS/LDFLAGS:
[code]

[2022-03-12 19:00] sethrj commented on #29478
OK confirmed, reverting #28673 reinstates the LDFLAGS/CPPFLAGS and `_ctypes` builds again.

[2022-03-12 19:29] sethrj commented on #29427
Intel compiler on macOS? You're a brave man. 😬

[2022-03-12 20:56] garth-wells commented on #29478
I can also confirm that reverting #28673 fixes the build failure.

[2022-03-12 21:09] kuberry commented on #26542
I'm just trying to add a data point. What could be happening is that when I'm on RHEL7, it is finding a binary of clingo and installing from binary, whereas in your experience it isn't finding a prebuilt binary for that OS/architecture combo, so it is building clingo from source (hence the invocation of gcc to build it, and the corresponding version conflict (:5)).

[2022-03-12 21:33] varioustoxins opened #29479 "can't run gitlab ci pipeline, FAO Scott.wittenburg?"
### Steps to reproduce

I am trying to run the CI framework on gitlab to start testing pip installation of packages with @adamjstewart

starting with example script from the CI tutorial fails on cloud hosted gitlab

[code]

pipeline runs but fails with message

[code]

using latest from develop in 'share/spack/gitlab/cloud_pipelines'

fails to run at all on commit

### Error message

as above

###

[2022-03-13 02:42] #29478 closed, assigned to nobody

[2022-03-13 13:27] pbrady commented on #29427
The things I do for modern Fortran…

On Sat, Mar 12, 2022 at 1:29 PM Seth R. Johnson ***@***.***>
wrote:

[2022-03-13 15:51] #29446 closed, assigned to nobody

[2022-03-14 10:59] npf commented on #28916
Hello, should I close the issue now that it is merged/fixed in develop ?

[2022-03-14 11:11] npf commented on #23177
Hello, thanks for the info. My last findings with 2019b:

- I can install with the spack mechanism (using Matlab's zip installer package) if and only if I provide my Matlab login/password: all Matlab products are offered then downloaded and installed
- I can install using the file installation key if using the installer from the Matlab ISO: all products are also offered and installed (no download

[2022-03-14 13:01] msimberg opened #29491 "`spack build-env` does not support `--reuse`"
### Summary

Currently on develop `spack install` and `spack spec` support the `--reuse` flag. `spack build-env` does not support this flag making it slightly awkward to use `spack install --reuse --only dependencies <spec>` and then `spack build-env` to get the same environment since one has to use the hash of the concretized spec instead of just using `spack build-env --reuse <spec>`.

I've seen

[2022-03-14 19:49] #28916 closed, assigned to nobody

[2022-03-14 20:51] npf opened #29502 "Inconsistency with the use of scope user"
### Steps to reproduce

Adding a compiler in the default scope or user scope ends up in different file paths:

[code]
but:
[code]

### Error message

_No response_

### Information on your system

* **Spack:** 0.17.1-6-6391bfe4f5
* **Python:** 3.9.2
* **Platform:** linux-debian11-power8le
* **Concretizer:** clingo

### General information

- [X] I have run `spack debug report` and reported the ver

[2022-03-14 21:13] brettviren opened #29503 "Jsonnet package has typo `s/sha256sum/sha256/`"
### Steps to reproduce

[code]

### Error message

[code]

### Information on your system

[code]

Replacing`version()` calls with `sha256sum=` in `jsonnet/package.py`

https://github.com/spack/spack/blob/develop/var/spack/repos/builtin/packages/jsonnet/package.py#L20

with `sha256=`:
[code]

lets the package build.

### General information

- [X] I have run `spack debug report` and reported the v

[2022-03-15 01:55] balay opened #29507 "clingo error on fedora 36 (pre-beta) with python-3.10.2"
### Steps to reproduce

[code]

### Error message

[code]
[spack-error.log](https://github.com/spack/spack/files/8249533/spack-error.log)

### Information on your system

[code]

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have searched the issues of this repo and believe this is not a duplicate
- [X] I have run the faili

[2022-03-15 04:17] balay commented on #29507
Some additional info: on this box - python3.9 works [gets clingo from buildcache] - but fails with 3.10 - where a build from source is attempted
[code]

[2022-03-15 09:16] alalazo commented on #29507
Right now we don't support binary bootstrapping for Python 3.10. This will change soon though. That said, bootstrapping from source _should_ work. We test for that on each PR on Fedora 35 so I'm surprised to have issues with Fedora 36. Just to double check, do you have all these pre-requisites installed:

https://github.com/spack/spack/blob/aee763015e92c478112f0b583aa6abe241336d66/.github/workflow

[2022-03-15 09:17] a-denis opened #29510 "Wrong use of 'command -v' in setup-env.csh"
### Steps to reproduce

The code to detect SPACK_PYTHON in setup-env.csh uses "command -v", which is a bash command. As a result, we get spurious error messages in terminals at shell initialization, and SPACK_PYTHON is not set:
[code]

Indeed, "command -v" is a Bourne shell / Posix thing and is not available in (t)csh. In (t)csh, it is ok to use "which", which is a builtin.

[code]

When replacing

[2022-03-15 09:40] alalazo commented on #29503
Can you submit a PR and ping me?

[2022-03-15 09:44] alalazo commented on #29502
I don't understand where is the bug:
[code]

[2022-03-15 13:36] balay commented on #29507
Ah yes - that works - and I see F35 also has python-3.10.2

I had bison-devel missing - but installing that doesn't make a difference.

Note: the following works though:
- install python-3.10.2 in spack (via python-3.9)
- run spack (spec) using this python-3.10.2 once.
- now spack via native python-3.10.2 works.

[2022-03-15 16:00] alalazo commented on #29507
@balay I can reproduce the failure. I see that `clingo` is installed, so this must be some weirdness with Python import system. I'll write here any new findings.

[2022-03-15 16:48] tmenari commented on #28183
I am also failing to bootstrap `develop` clingo on macOS 12.2.1 M1 with Xcode installed in the default location. It appears to be a regression from v0.17.1 introduced by commit e0f044561e9b3cb384bfb0f364555e5875b1a492.

[2022-03-15 17:05] adamjstewart commented on #29510
@tgamblin I'm surprised our tests didn't catch this, do we only test sh/fish?

[2022-03-15 17:54] eugeneswalker opened #29520 "axom@0.6.1 +cuda build fails: Utilities.cpp.o: undefined reference to `__cudaRegisterLinkedBinary..."
### Steps to reproduce the issue

`axom@0.6.1 +cuda` build fails using:
* `spack@develop` (c3b6b3036dede8c14533a1f20ade89a38c926789 from `Mon Mar 14 09:32:09 2022 -0700`)
* Ubuntu 20.04, X86_64
* GCC 9.3.0
* CUDA 11.4.2 / Driver 495.46

Concrete spec: [axom.spec.json.txt](https://github.com/spack/spack/files/8255952/axom.spec.json.txt)

Concretization:
[code]

Error is quickly reproduced using Doc

[2022-03-15 18:46] eugeneswalker commented on #27954
This is still a blocker for us using:
* `spack@develop` (c3b6b3036dede8c14533a1f20ade89a38c926789 from `Mon Mar 14 09:32:09 2022 -0700`)

[2022-03-15 18:57] #27183 closed, assigned to nobody

[2022-03-15 19:09] eugeneswalker opened #29523 "dealii@9.3.2 +cuda build fails: sundials/kinsol.cc: 'SUNDenseLinearSolver' was not declared in this scope"
### Steps to reproduce the issue

`dealii@9.3.2 +cuda` build fails using:
* `spack@develop` (c3b6b3036dede8c14533a1f20ade89a38c926789 from `Mon Mar 14 09:32:09 2022 -0700`)
* Ubuntu 20.04, X86_64
* GCC 9.3.0
* CUDA 11.4.2

Concrete spec: [dealii.spec.json.txt](https://github.com/spack/spack/files/8256361/dealii.spec.json.txt)

Concretization:
[code]

Error is quickly reproduced using Docker contai

[2022-03-15 19:18] eugeneswalker opened #29524 "legion@21.03.0 +cuda build fails: cmake: variables used by project but set to NOTFOUND: CUDA_CUDA_LIBRARY"
### Steps to reproduce the issue

`legion@21.03.0 +cuda` build fails using:
* `spack@develop` (c3b6b3036dede8c14533a1f20ade89a38c926789 from `Mon Mar 14 09:32:09 2022 -0700`)
* Ubuntu 20.04, X86_64
* GCC 9.3.0
* CUDA 11.4.2

Concrete spec: [legion.spec.json.txt](https://github.com/spack/spack/files/8256431/legion.spec.json.txt)

Concretization:
[code]

Error is quickly reproduced using Docker cont

[2022-03-15 19:45] streichler commented on #29524
Is this the same as #27969?  If not, can you help me understand what's different?

[2022-03-15 19:46] eugeneswalker opened #29526 "sundials@6.1.1 +rocm build fails: test_nvector.c.o: relocation R_X86_64_32 against symbol `sunctx' can not be used"
### Steps to reproduce the issue

`sundials@6.1.1 +rocm` build fails using:
* `spack@develop` (c3b6b3036dede8c14533a1f20ade89a38c926789 from `Mon Mar 14 09:32:09 2022 -0700`)
* Ubuntu 20.04, X86_64
* GCC 9.3.0
* ROCm 4.5.2

Concrete spec: [sundials.spec.json.txt](https://github.com/spack/spack/files/8256612/sundials.spec.json.txt)

Concretization:
[code]

Error is quickly reproduced using Docker c

[2022-03-15 19:49] eugeneswalker commented on #29524
Yes, it is the same. Apologies, I missed that.

[2022-03-15 19:49] #29524 closed, assigned to nobody

[2022-03-15 20:04] eugeneswalker opened #29527 "vtk-m@1.7.1 +rocm build fails: cmake: imported target "hip-lang::device" includes non-existent path"
### Steps to reproduce the issue

`vtk-m@1.7.1 +rocm` build fails using:
* `spack@develop` (c3b6b3036dede8c14533a1f20ade89a38c926789 from `Mon Mar 14 09:32:09 2022 -0700`)
* Ubuntu 20.04, X86_64
* GCC 9.3.0
* ROCm 4.5.2

Concrete spec: [vtkm.spec.json.txt](https://github.com/spack/spack/files/8256727/vtkm.spec.json.txt)

Concretization:
[code]

Error is quickly reproduced using Docker container im

[2022-03-15 20:12] vicentebolea commented on #29527
cc @kwryankrattiger

[2022-03-15 20:22] cyrush commented on #27954
@eugeneswalker

Not related to this exact error, but vtk-m 1.6.0 will not work with `sm=80`.  Ampere support was hard wired to only be `sm=86`, which will not work on, say, Perlmutter.  We would need 1.7.1 (which also has API changes), which means we need newer Ascent (0.8.0)

We are supporting Ascent 0.8.0 via our spack fork - but haven't had the time to update the spack develop packages.

I woul

[2022-03-15 20:31] eugeneswalker commented on #27954
Sounds great. We are planning the next release for end of May (E4S 22.05)

[2022-03-15 20:45] kwryankrattiger commented on #29527
There are known issues with HIP >= 4.5 afaik. So far I have only been able to build VTK-m with HIP 4.3, everything else fails to configure in CMake. I am not sure if this is an issue in CMake or in the ROCm packages or both, and I do not have a solution for it.

[2022-03-15 22:29] balos1 commented on #29526
Can you try to build with `~static`?

[2022-03-15 23:47] bollig commented on #28830
Ran into this as well. Will rebuild gitlab-runner to lock this down

[2022-03-16 01:15] adamjstewart commented on #29397
Can we stop using `**kwargs` in the codebase? If all arguments are always named we can more easily prevent these bugs and add type hints (once we drop Python 2 support).

Most package directives call this argument `type`, so I guess we have 3 different naming schemes in Spack.

[2022-03-16 09:38] alalazo commented on #28188
This is an issue with the implementation of `Openblas.libs`, which doesn't handle that case. It should be fixed in `openblas`.

[2022-03-16 09:56] haampie commented on #24223
@tgamblin can you be a bit more precise about "hit develop soon"? Before or after 0.18 branches off?

[2022-03-16 09:58] alalazo commented on #27507
Duplicate of https://github.com/spack/spack/issues/28012

[2022-03-16 09:59] alalazo commented on #27507
I'm closing this since it seems the same report as of #28012 (clingo not bootstrapping on Perlmutter). That should have been addressed already, but feel free to reopen if something is still missing.

[2022-03-16 09:59] #27507 closed, assigned to nobody

[2022-03-16 10:15] alalazo commented on #11820
The behavior seems to be clearly documented [here](https://spack.readthedocs.io/en/latest/environments.html#environment-managed-views), so I'll be closing this issue. Feel free to submit a new proposal if you think the default value for `view` should be changed.

[2022-03-16 10:15] #11820 closed

[2022-03-16 10:22] alalazo commented on #10048
Closing since this has been solved. See https://spack-tutorial.readthedocs.io/en/latest/tutorial_developer_workflows.html for a more in-depth guide on how to develop software using an environment.

[2022-03-16 10:23] haampie commented on #28188
Hm, @alalazo I think in general most packages are written in a way where they assume the variants defined above are usable in methods below. We'd have to communicate/review better that that's not a safe assumption?

[2022-03-16 11:37] alalazo commented on #28188
The issue is using:
[code]
directly. In those cases it's better to use `get` and provide a default.

[2022-03-16 11:50] haampie commented on #28188
Hm, but then we're repeating defaults everywhere.

[2022-03-16 12:56] alalazo commented on #28188
Not variant defaults. I mean something like:
[code]
I actually have an idea for this kind of issues. What if we can run a post-install hook to record the results of the possible calls to `libs` in a JSON file to be stored under `<prefix>/.spack`? We can change our protocol to prefer what is hard-coded in the JSON file if it exists.

[2022-03-16 13:37] brettviren commented on #29503
Maybe this is good for @jcpunk to fix

[2022-03-16 15:24] jcpunk commented on #29503
I'm not sure I understand what needs to be different.... these used to build...

[2022-03-16 16:02] ax3l opened #29540 "dev-build forgets resources"
### Steps to reproduce

I think `spack dev-build` forgets to prepare `resources` declared in packages.

First seen with `amrvis`:
[code]

### Error message

Compile error due to missing `resource`.

### Information on your system

* **Spack:** 0.17.1-1551-ed359cb00b
* **Python:** 3.8.10
* **Platform:** linux-ubuntu20.04-skylake
* **Concretizer:** clingo

### General information

- [X] I have run `

[2022-03-16 16:02] brettviren commented on #29503
The "sum" in `sha256sum` seems to be the problem.  I see only one other package using this same spelling (`kicad`).

I only defer as I don't have things set up to form a PR right now.

I do have a `go-jsonnet` package I could/should contribute after a bit more local testing.  How about I include this spelling fix with that PR?

[2022-03-16 21:19] sethrj commented on #26287
I've hit this again. I thought making a "gnu mirror" package was supposed to relieve this kind of fetching error :(

[2022-03-17 12:12] troyrock opened #29560 "Installation issue: Dakota 6.12"
### Steps to reproduce the issue

[code]

### Error message

When I originally tried to build I got a different error message than I am currently getting.  I saved part of the original error message but not all of it (sorry).
<details><summary>Error message</summary><pre>
     4460    cd /tmp/trockwood/spack-stage/spack-stage-dakota-6.12-6xlinzt67zzxar6fut3nmkw6l2tbs24t/spack-build-
             6

[2022-03-17 17:54] pbrady opened #29566 "Installation issue: openmpi with apple-clang/nag"
### Steps to reproduce the issue

[code]

my environment spack.yaml
[code]

### Error message

<details><summary>Error message</summary><pre>
     31189    libtool: install: /usr/local/bin/ginstall -c .libs/libmpi_usempi.40.dylib /Users/
              ptb/gitrepos/spack/opt/spack/darwin-bigsur-skylake/apple-clang-13.0.1/openmpi-4.1
              .2-4gnei6m2fqrzebi2bty6sxy776d6ayv5/lib/libmpi_usemp

[2022-03-17 18:22] mdorier opened #29568 "Spack error: Packages should not override platform_executables"
### Steps to reproduce

[code]

### Error message

[code]

Traceback with debug:

[code]

### Information on your system

* **Spack:** 0.17.1-1606-5a72204d38
* **Python:** 3.9.5
* **Platform:** linux-ubuntu21.04-sandybridge
* **Concretizer:** clingo

This problem very likely appeared today (17 March 2022). I did a git pull this morning and everything was working fine. I did another one this evenin

[2022-03-17 18:39] pbrady commented on #29566
I can manually build openmpi@4.1.2 with this compiler combination on my machine via:

[code]
I'm not sure if the raw spack recipe is adding additional flags or if the paths are being set incorrectly

[2022-03-17 19:09] upsj opened #29570 "Spack uses locale-dependent strings in Windows"
### Steps to reproduce

I cloned spack at 5a72204d38c9c0b5dc67df3ed2f455a3ddeb2727 and ran `.\bin\spack_cmd.bin`. Trying to run any `spack` command, even `spack commands` fails with the same error message

### Error message

[code]

It seems like the locale-dependent `ECHO is off` strings in spack.bat don't play nice with Windows in different languages.

### Information on your system

Windows 11

[2022-03-17 19:51] upsj opened #29571 "Installation issue: Ginkgo"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>NameError: name 'UnsupportedCompilerFlag' is not defined</summary>

[code]

</details>

### Information on your system

* **Spack:** 0.17.1-1606-5a72204d38
* **Python:** 3.9.6
* **Platform:** windows-windows10-AMD64
* **Concretizer:** original

### Additional information

<details><summary>spack-build-env.txt</summary>

[2022-03-17 20:04] tcojean commented on #29571
I don't think the new msvc compiler has the CXX version support yet.
See: https://github.com/spack/spack/blob/develop/lib/spack/spack/compilers/msvc.py
Against: https://github.com/spack/spack/blob/develop/lib/spack/spack/compilers/gcc.py#L75

[2022-03-17 20:32] #7629 closed

[2022-03-17 22:40] trws opened #29575 "Installation issue: windows: nasm installs an empty directory"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
</pre></details>

No error message, but also no nasm.exe

### Information on your system

* **Spack:** 0.17.1-1606-5a72204d38
* **Python:** 3.9.5
* **Platform:** windows-windows10-AMD64
* **Concretizer:** original

### Additional information

[spack-build-out.txt](https://github.com/spack/sp

[2022-03-17 22:43] trws opened #29576 "Installation issue: Windows: openssl"
### Steps to reproduce the issue

Before installing nasm, get a cryptic config error from spack that turns out to be lack of nasm.
With nasm installed and in path:
[code]

### Error message

<details><summary>Error message</summary><pre>
==> Warning: the original concretizer is currently being used.
        Upgrade to "clingo" at your earliest convenience. The original concretizer will be removed

[2022-03-17 22:45] trws opened #29577 "Installation issue: Windows: perl with vs 2022"
### Steps to reproduce the issue

[code]

While using VS 2022 msvc

### Error message

<details><summary>Error message</summary><pre>
[+] C:\Users\trws\AppData\Local\Microsoft\WindowsApps (external python-3.9.10-6tr4wecjbs35znjqw5awxvs24xy2qxoy)
==> Installing perl-5.34.0-e3fhwahgshhg6y5opcq5pwangewoeri3
==> No binary for perl-5.34.0-e3fhwahgshhg6y5opcq5pwangewoeri3 found: installing from source
=

[2022-03-18 01:09] jeanbez opened #29578 "Cannot write module files with path modifications containing the `{}` characters"
### Steps to reproduce

I’m struggling to set an environment variable in our `setup_run_environment` whose value must contain `{}`, e.g. this is the value my env variable should have when I load the package: `async under_vol=0;under_info={}`

[code]

Discussing with @tgamblin, we tried it with `zlib`, which works without an issue. But in my package I get:

[code]

@tgamblin mentioned that since sp

[2022-03-18 08:29] bollig opened #29579 "build_stage does not have known type by default"
https://github.com/spack/spack/blob/0ce8b9d3983acaf2469b3b10af8bd1b72798026b/etc/spack/defaults/config.yaml#L61

This is new in v0.17; it worked fine in v0.16.

[code]

I'm using this workaround for now:
[code]

[2022-03-18 09:40] jbigot opened #29580 "Installation issue: py-numpy"
### Steps to reproduce the issue

[code]

### Error message

We likely hit https://github.com/numpy/numpy/issues/17937 (numpy 1.13.3 is incompatible with python 3.9)

<details><summary>Error message</summary><pre>
==> Installing py-numpy-1.13.3-ena44amvzcbjjfn6vqqz27m7qyzdamty
==> No binary for py-numpy-1.13.3-ena44amvzcbjjfn6vqqz27m7qyzdamty found: installing from source
==> Fetching https://mirr

[2022-03-18 10:14] rgommers commented on #29580
These versions of NumPy and Python are simply incompatible. NumPy `1.13.3` supports Python versions 2.7 and 3.4-3.6 (see https://github.com/numpy/numpy/releases/tag/v1.13.3), and you are trying to build with Python 3.9. So this is not a bug, just a "don't do this".

I'm not sure if you are explicitly selecting these versions though? And if not, if it makes sense to add an upper bound on Python ver

[2022-03-18 10:24] jbigot commented on #29580
I'm specifically selecting `py-numpy@1.13.3`, but that's it. By default it gets the latest python. The error I get is obtained by simply running
[code]
in the docker image `spack/ubuntu-bionic`.

I agree with you that the solution would be to "add an upper bound on Python version". Maybe this isn't exactly a bug, but currently trying to install `py-numpy@1.13.3` fails if not also forcing python ve

[2022-03-18 10:28] haampie commented on #29580
Feel free to add a missing depends_on(...) upperbound.

[2022-03-18 10:47] rgommers commented on #29580
Makes sense. There's an ongoing discussion about Python upper bounds in the packaging Discourse. For future Python versions, something may break and for NumPy and other complex libraries at some point something is guaranteed to break. The question is just when. So far most packages have not bothered setting an upper bound. If we add one here now, it should probably be for the highest Python versio

[2022-03-18 11:00] vkarak commented on #17471
@giordano The error in ReFrame is eventually a regression in ReFrame which https://github.com/eth-cscs/reframe/pull/2476 will fix, so perhaps this here is unrelated.

[2022-03-18 11:34] jbigot commented on #29580
running
[code]
also fails:
<details><summary>Error message</summary><pre>
==> Installing py-numpy-1.13.3-hbmehaex5pdapwljf5c6hyfp5sostsyj
==> No binary for py-numpy-1.13.3-hbmehaex5pdapwljf5c6hyfp5sostsyj found: installing from source
==> Fetching https://mirror.spack.io/_source-cache/archive/36/36ee86d5adbabc4fa2643a073f93d5504bdfed37a149a3a49f4dde259f35a750.zip
==> Applied patch /opt/spack/var/s

[2022-03-18 14:25] rgommers commented on #29580
Thanks, that's very helpful. So adding an `<=3.6` upper bound sounds good.

This error comes from generated Cython code, so it will only occur for NumPy releases where Cython code was still included in the sdist. This was done until numpy `1.18.0` (see https://github.com/numpy/numpy/pull/14453), which is why `1.18.0` is the first release where Cython is a dependency in https://github.com/spack/spa

[2022-03-18 14:55] adamjstewart commented on #29580
Just catching up on the discussion. @rgommers I agree with numpy's current approach of not specifying an upper bound for Python versions in `setup.py`/`setup.cfg`/`pyproject.toml`. Luckily Spack allows you to add an upper bound after the fact, so I think this is the right approach.

As for how to find the correct upper bounds for all releases, we could:

1. Only allow the versions of numpy a parti

[2022-03-18 15:02] rgommers commented on #29580
This is always mentioned in the release notes for a minor release, and in the vast majority of cases something needed fixing. The other way to see it is just to check on PyPI for which Python versions wheels are provided. I think this is a good approach; it's likely that something is broken for an unsupported Python version even if the build works. So to try (2) you'd have to run the test suite as

[2022-03-18 17:24] cyrush opened #29587 "Invalid version specifier message points to wrong `@`"
### Steps to reproduce

issue: with bad version in spec, carrot in error message doens't point to the issue.

[code]

### Error message

[code]

The problem here, the carrot points at the first `@` - it should point to the second `@`.

(Easy to pick out in this example, but harder to track down in a more complex spec)

This is similar in nature to #8269, but I think it merits its own report.

###

[2022-03-18 18:54] alalazo commented on #29507
@balay Can you check if #29581 fixes your issue by bootstrapping with binaries?

[2022-03-18 20:12] ashermancinelli commented on #28441
We are going to handle this better in ExaGO and HiOp, thank you for pointing it out.

[2022-03-18 20:16] balay commented on #29507
@alalazo - that works!

[code]

[2022-03-18 23:38] BenWibking opened #29594 "Installation issue: motif"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
==> Installing motif-2.3.8-zkjjeffl46ddwyzbbqzyicalcd6anjz7
==> No binary for motif-2.3.8-zkjjeffl46ddwyzbbqzyicalcd6anjz7 found: installing from source
==> Using cached archive: /avatar/bwibking/spack/var/spack/cache/_source-cache/archive/85/859b723666eeac7df018209d66045c9853b50b4218cecadb7

[2022-03-19 00:42] #29204 closed, assigned to glennpj

[2022-03-19 01:56] climbfuji commented on #29354
We (mostly @kgerheiser) figured this out. We had some `LDFLAGS` set in the compielr config that worked fine when `ld` was called through the compiler, but it didn't work when `ld` was called directly (like it is the case for the `netcdf-c` and `netcdf-fortran` and other `./configure` steps).

We found better ways to set the necessary flags, thus closing this issue.

[2022-03-19 01:56] #29354 closed, assigned to nobody

[2022-03-19 01:58] climbfuji commented on #29308
I got this error on several more systems in the last two weeks. We worked around it by installing `poetry` (not just the core part) outside of spack for each of the Python installations. I still think that this is a problem, but I don't have the time to investigate this much further right now.

[2022-03-19 12:08] sethrj commented on #29520
Uh oh... this looks like the sort of error you get when the project is using relocatable device code but not quite linking everything correctly 😱

[2022-03-19 14:59] sethrj commented on #28415
@cessenat I had some issues with silo/hdf5 as well, fixed in #29132 . Can you try again and see if the issue is still here?

[2022-03-19 15:05] sethrj commented on #19694
This was fixed at some point :)

[2022-03-19 15:05] #19694 closed, assigned to tldahlgren

[2022-03-19 15:06] sethrj commented on #18084
Fixed by #22115 .

[2022-03-19 15:06] #18084 closed, assigned to nobody

[2022-03-19 18:00] cessenat commented on #28415
It is fine now with clingo :
`spack install silo~mpi %gcc ^hdf5~mpi %gcc
`
=> hdf5-1.12.1 + silo-4.10.2
It uses 1.12.1 instead of 1.10.7 some time ago.
Spec indicates hdf5 api=v110 is concretized.
[code]

But with original concretizer, hdf5 api=default is concretized:
[code]
Final test, when requesting silo 4.11 it is OK both for clingo and original concretizers, with hdf5 api=default:

[code]

$

[2022-03-19 18:01] sethrj commented on #28415
Sounds like my PR fixed the error you were seeing then. Glad to hear it!

[2022-03-19 18:01] #28415 closed, assigned to nobody

[2022-03-19 18:06] sethrj commented on #29526
Is it supposed to be building the tests? That seems to be where it's failing...

[2022-03-19 20:09] white238 commented on #29520
=( yea.... i am pretty sure its a combination of separable compilation + cmake's greater than 3.14.5 + (this is the real problem) object libraries.

I will be ripping out the object libraries very shortly.

[2022-03-20 04:37] #29568 closed, assigned to scheibelp

[2022-03-20 16:14] wdconinc commented on #19364
The current external detection relies on executables, likely to some extent because that is a limited set of paths that can be retrieved easily on all supported systems (`lib/spack/spack/detection/path.py`, `executables_in_path`). Including all files on the system, even those outside of search paths, is likely unpractical. Therefore:
- extending this to environment variables seems equally (even mo

[2022-03-20 16:45] adamjstewart commented on #29477
Looks like using a newer version of rust solved my build issues! It is possible to document the [minimum supported rust version](https://rust-lang.github.io/rfcs/2495-min-rust-version.html) in your `Cargo.toml` but the tensorboard devs don't do this. We could require rust 1.58.1+ (the version they use in CI) but that feels rather arbitrary. I'll close this for now.

[2022-03-20 16:45] #29477 closed, assigned to nobody

[2022-03-20 19:01] trws commented on #19364
So, I've been thinking about this a lot.  Adding the actual feature is nearly trivial for huge classes of packages, especially those that support pkg-config and/or cmake Find* files, but there's a significant side question: How do we deal with packages that have both, and installations of only one or the other

It's a problem we already have, that causes builds to fail and all kinds of issues if,

[2022-03-20 19:47] #29523 closed, assigned to nobody

[2022-03-20 21:23] haampie opened #29635 "windows: don't make symlink fall back to copy."
### Steps to reproduce

I find it surprising that `symlink` falls back to a copy on Windows, and in some cases it is just bad. In particular here:

https://github.com/spack/spack/blob/6611f0bf4b657543f29f2d62adc396ca33393ee5/lib/spack/spack/environment/environment.py#L535

The trick is to update views atomically, effectively
[code]

Can symlink just remain a symlink instead of something hard to re

[2022-03-21 09:53] npf commented on #29502
Well, ok I did not understand that I had to specify the platform in order to get the same behavior as when not giving the scope.

May I suggest to document that not giving a scope is equivalent to setting `--scope user/$(spack arch --platform)` in https://spack.readthedocs.io/en/latest/configuration.html?highlight=scope ?

[2022-03-21 13:14] alalazo commented on #19364
Adding a reference to #28005 by @bvanessen since it is closely related to this topic

[2022-03-21 13:38] robertu94 commented on #19364
@trws IMHO, this doesn't need to be complicated.  We can simply extend the current functionality of `executables` to be a list of files that can be found.  Maybe something like:

[code]

or

[code]

These would be searched in order.

In these examples, Executable retains the current usage of `executables` and uses the existing meanings of `determine_version`.

PkgConfig("lzma") uses the normal pkg

[2022-03-21 14:12] alalazo commented on #19364
Another PR that seems related to this issue https://github.com/spack/spack/pull/29205

[2022-03-21 15:03] flxmr commented on #11206
Another usecase of the original feature would be statically linked [ORCA](https://orcaforum.kofo.mpg.de), which nowadays is distributed as 3 large (~2GB) zip-files. (However the better solution there, would be to recreate all the dynamic libs in spack probably or just not use spack at all for small-deployments (tm) ...)

[2022-03-21 15:21] alalazo commented on #28188
We discussed this issue last Wed. at the community telco. The outcome is, for the time being, to treat these kind of issues as style issues for packages. See [here](https://github.com/spack/spack/wiki/Telcon%3A-2022-03-16) for the minutes.

[2022-03-21 16:05] alalazo commented on #29434
Why shouldn't it? I think `--force` is meant to force uninstallation of software even if it is still depended upon by something else. What gets reported are the matches to your abstract spec.

[2022-03-21 16:56] scottwittenburg commented on #29479
@varioustoxins That example project on gitlab.com hasn't been updated in awhile, but was intended to be a small standalone example of an environment repository.  So I'm just curious where you were trying this pipeline?  In your own project on gitlab.com or on a self-hosted gitlab?  You mentioned you were using latest from develop in `share/spack/gitlab/cloud_pipelines`, but the example expects the

[2022-03-21 17:34] vsoch commented on #29434
For all other software, when “force” is added it’s a non interactive “yes I really want to do this” interaction. Spack should not go against that expectation and be special.

[2022-03-21 18:49] npf commented on #23177
Ok, here are my last findings about matlab:
- 2019b: indeed as suggest by @antoniokaust, I can install with spack in interactive mode using my matlab user/password instead of a file installation key. To bad file installation key does not work, thus not allowing unattended install.
- 2022a: the installer seems to have changed a lot:
  - It seems to first require matlab products to be downloaded for

[2022-03-21 19:53] KiruyaMomochi commented on #29635
It's possible to use symbolic link, but with limitations

Before Windows 10 Insiders Build 14972 (19H1)
- the program need to be elevated to run as administrator
- *or*, `Create symbolic links`(`SeCreateSymbolicLink`) is granted to user in Group Policy

However, **after Build 14972, after Developer Mode is on, any user on the machine can run the mklink command without elevating a command-line cons

[2022-03-21 20:23] RikkiButler20 opened #29653 "Compiler & Variant Propagation"
### Summary

Currently on develop, compiler flags and variants are inconsistent: compiler flags set for a package are inherited by its dependencies, while variants are not. We should have these be consistent by allowing for inheritance to be enabled or disabled for both variants and compiler flags.

- [ ] Make new (spec language) operators
- [ ] Apply operators to variants and compiler flags
- [ ]

[2022-03-21 21:46] trws commented on #19364
That could be a step in the right direction.

@robertu94, I agree a design like that should work well, and that in general that a pkg-config file without a library is a broken package, but it's easy to have:

1) just the binary/executable, due to say a static install
2) just the library, no headers or executable, if it was pulled in as a lib dependency through say apt
3) all but the executable, du

[2022-03-21 23:23] robertu94 commented on #19364
@trws I completely agree that these need to be addressed.  I think that a proof of concept that requires all of them is the shortest path forward, and one that doesn't bind our hands later.  A more robust implementation might expand our concept of an external package to be a link-only, run-only, and build-only external package.  In this case

1. the binary provides a run-time only external depende

[2022-03-22 00:43] sethrj commented on #19364
For the geant4 data case (and other use cases I have in mind, also transport data) there are no exe files at all, not libraries. Perhaps we could start from there?

[2022-03-22 01:13] trws commented on #19364
I suppose that has less scope for failure, so sure? The trick we have is making sure the detection stuff can cause the existing exec detection to fail when it should.

The smallest change to do something with this would be to do something like list `ls` as the executable for geant4 and then see if the files exist.  We really don't even need any extra functionality to prototype it, but if you could

[2022-03-22 04:12] wspear opened #29659 "Spack Standalone/Smoke Tests: Standardize/publicize test launch behavior and allow external control"
### Summary

To better support testing MPI-enabled packages, provide a standardized method of executing MPI applications from within a spack test. Allow the invocation of MPI to be adjusted at test run time and make information on any defaults (i.e. number of processes required) available prior to running the test.

### Rationale

There are a variety of MPI implementations with differing launch co

[2022-03-22 07:36] VassilisAsteriou opened #29661 "Installation issue: cp2k without cuda"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
...
==> Installing cp2k-9.1-p6tbfvahz5xaoy5ettx77d6ua5tcclo2
==> No binary for cp2k-9.1-p6tbfvahz5xaoy5ettx77d6ua5tcclo2 found: installing from source
==> Using cached archive: [...]/spack/var/spack/cache/_source-cache/archive/fe/fedb4c684a98ad857cd49b69a3ae51a73f85a9c36e9cb63e3b02320c74454c

[2022-03-22 09:30] grisuthedragon opened #29663 "Hidden directory for enviroment views created"
### Steps to reproduce

For the users of our HPC system, I create environments for large software projects, such that the non-developer users are able to use their software easily. In the environments, I usually add all tools and dependencies required by the users. Now, in the maintenance time windows, we updated spack and installed new environments. But now, beside the `view` directory, an additi

[2022-03-22 10:10] haampie commented on #29663
What sort of crashes? It works with symlinks so that the view can be updated atomically when a new view is created. Although arguably `mv view old_view && mv new_view view && rm -rf old_view` isn't too bad.

[2022-03-22 10:29] grisuthedragon commented on #29663
I would be enough to make it configurable, if the view is made available via this symlink or directly in the folder.

Due to this change with the symlinked view, our backup tool creates too many backups of the installed software. Due to the changing symlink we end up in some mess.. If it stays in the same folder, the backup software keeps track of the changes in he view as well.

[2022-03-22 11:12] haampie commented on #29663
Isn't that more of an issue with the backup software not preserving symlinks? I don't see what you mean with  "too many backups".

[2022-03-22 11:48] grisuthedragon commented on #29663
We need the preservation of symlinks at other places, so this is not an option. "Too many backups": Depends on how offen we had to change the environment until the users are satisfied. Since this process can take some days, depending on the software, we have one backup every night. So somethimes up to ten copies of the different old views until we reach the stable variant.

I personally would like

[2022-03-22 12:08] robertu94 commented on #19364
@sethrj For the use case you have, we might create some thing like the following:

[code]

I think we should resist the urge to only fix this for only for data files and think about how to fix this for cmake and pkg-config -- even if we don't implement the solutions together.  I do think I agree with @trws that when implemented, we should make the current external packages that can be broken becau

[2022-03-22 12:23] locsmith commented on #29479
hi @scottwittenburg
so this is me working at trying to make sure the python2 builds continue to work... I am currently working on gitlab as it seemed the easiest place to start but will need to move to another hosts when i reach out of time/credit. I was just using gitlab in the cloud to bootstrap things as it seemed the easiest place to start as I presume they will have setup correct.

_You menti

[2022-03-22 14:42] haampie commented on #27764
Is there are reproducer for this?

[2022-03-22 14:43] #26884 closed, assigned to alalazo

[2022-03-22 14:56] haampie commented on #27262
Fixed in #28418

[2022-03-22 14:56] #27262 closed, assigned to nobody

[2022-03-22 14:59] haampie commented on #27055
Is this still an issue after https://github.com/spack/spack/pull/25310?

[2022-03-22 15:17] haampie commented on #11747
@alalazo can you check?

[2022-03-22 15:18] haampie commented on #29112
Any clue @tgamblin? Moving to 0.17.3 for now.

[2022-03-22 16:11] adamjstewart commented on #19364
I wouldn't recommend using external packages for Python libraries, it's currently pretty broken. Because external packages don't register their dependencies in the spec, external Python libs don't actually depend on or extend Python, and so they don't get added to `PYTHONPATH` and may have other problems as well. See #9149.

[2022-03-22 16:30] krcb opened #29667 "Conflict when installing Python on MacOS"
### Steps to reproduce

I ran the following command to generate a spec for python 3.8 on MacOS 12.2.1

```spack --show-cores=minimized spec --reuse python@3.8%gcc@11.2.0```

Note that gcc@11.2.0 was built using spack with

```spack install gcc@11.2.0```

### Error message

==> Error: python@3.8%gcc@11.2.0 is unsatisfiable, conflicts are:
  A conflict was triggered
  A node must have exactly one pl

[2022-03-22 19:14] #29094 closed, assigned to scheibelp

[2022-03-22 19:25] RikkiButler20 opened #29668 "Apply operators to variant and compiler flags"

[2022-03-22 19:25] #29668 closed, assigned to nobody

[2022-03-22 19:46] eugeneswalker opened #29669 "py-cryptography@35: build fails: failed to get `asn1` as a dependency of..."
### Steps to reproduce the issue

`py-cryptography@36.0.1` build is failing using:
* `spack@develop` (6760175289e620fb4af6ff61d3a98116315af8e4 from `Tue Mar 22 17:46:39 2022 +0100`)
* Ubuntu 20.04, x86_64
* GCC 9.3.0
* Python 3.8.12 (spack-installed)

**Concrete spec:** [py-crypto.spec.json.txt](https://github.com/spack/spack/files/8327415/py-crypto.spec.json.txt)

**Concretization**
[code]

Quick

[2022-03-22 21:13] bvanessen opened #29672 "--reuse concretizes to a new architecture than the current target architecture"
### Steps to reproduce

On a Power8 system I can create an environment that then fails to build because it tries to use Power9 installed packages.

[code]

### Error message

On a system where there is a an existing `power9le` set of software packages the above commands when using `--reuse` find packages that are incompatible with the `power8le` architecture.

[code]

### Information on your syste

[2022-03-22 21:13] bvanessen commented on #29672
@becker33 Here is the issue for the bug that we talked about.

[2022-03-22 21:13] tldahlgren commented on #29659
@becker33 @tgamblin

There was a start on something like this by @sshudler about a year ago (https://github.com/spack/spack/pull/22703).

There has been some debate about whether it is appropriate to run on more than one node in Spack because some partitions in LLNL/LC can have extremely long wait times.

[2022-03-22 21:23] adamjstewart commented on #29669
I just installed py-cryptography 36.0.1 with Python 3.9.10 and Apple Clang 12.0.0 on macOS 10.15.7 without any issues. Does this system have internet access? Are there any special git proxies or firewalls that could cause this problem?

[2022-03-22 21:29] johnwparent opened #29673 "Tee functionality during build broken on Windows"
### Steps to reproduce

Install any package on Windows e.g.
```spack install cpuinfo```

Spack's tee functionality does not pipe the output to stdout, only the output file.

### Error message

_No response_

### Information on your system

* **Spack:** 0.17.1-1640-1c8aed358e
* **Python:** 3.8.4
* **Platform:** windows-windows10-AMD64
* **Concretizer:** original

### General information

- [X] I ha

[2022-03-22 21:43] eugeneswalker commented on #29669
Yes, internet access is fine, I was able to install hundreds of other packages (both python and non-python with Spack). Also no git proxies and no firewalls that I'm aware of that would impact this. I've installed hundreds of other python packages  just fine in the same container, same system, same Spack instance. Obviously something is not right and it may very well be something on my end that I

[2022-03-22 21:59] adamjstewart commented on #29669
@AndrewGaspar has done a lot of Spack + Rust work and may be able to help

[2022-03-22 21:59] wspear commented on #29659
Re: multi-node testing. I don't think tests should use more than one node by default, but if a user wants to explicitly invoke a test over multiple nodes there's no reason to prevent it.

But also note, I only ever use spack standalone tests in interactive allocations or as a call from a higher-level batch script and I assume that will be the general use case going forward. If I need to jump throu

[2022-03-22 22:00] lukebroskop commented on #27736
Maybe I can give a little more info on this issue. I see the same problem from my spack environment, here's a simple reproducer:
[code]

This occurs with `clingo` only, the `original` concretizer works.
[code]

[2022-03-22 22:43] trws commented on #19364
I actually might go for pkg-config before headers and libraries as independent things, spack and other packaging ecosystems already provide these, and if they are there, the headers and lib are there or the install is broken and there's a known version available as part of it along with a way to query everything we need to be able to actually use it.  The others are conceptually easier individuall

[2022-03-23 02:08] ax3l commented on #29540
Discussed on slack: it might be, that some users check out their `resources` themselves when they do `dev-build`s. Thus, we probably need to add a flag to opt-in to populate resources.

[2022-03-23 02:14] scottwittenburg commented on #29479
One thing you'll need to figure out if you use https://gitlab.com is where the binary packages will be stored after each spec gets built and installed.  The example pipeline you linked above only builds a few very small packages, and thanks to that, it can use gitlab artifacts for the binary mirror.  I don't know how large of artifacts gitlab.com is configured to handle, but I think it's out of yo

[2022-03-23 04:33] adamjstewart commented on #29667
Python does not compile with GCC on macOS, see https://github.com/python/cpython/pull/13306

You should use Apple Clang on macOS for almost all software installs, many packages don't build with GCC.

[2022-03-23 04:33] #29667 closed, assigned to adamjstewart

[2022-03-23 07:50] #29227 closed, assigned to adamjstewart

[2022-03-23 09:46] alalazo commented on #29434
I think the semantic has been there long enough to be a concern, if we want to stay backward compatible with scripts. In my understanding there are two orthogonal behaviors being discussed here:
1. `spack uninstall` prompts for confirmation by default
2. `spack uninstall` needs an explicit argument if the user wants to uninstall something that will leave the store in an inconsistent state

Current

[2022-03-23 13:20] haampie commented on #29112
@alalazo can you please fix this. It has to do with this terrible madness that is 100 context managers that are not effect free.

This fixes my issue:

[code]

I want to rely on config in environments, so I don't think `impact-low` reflects the state of the issue.

[2022-03-23 13:24] haampie commented on #29112
[code]

is another workaorund.

[2022-03-23 13:51] rgommers commented on #29580
I can reproduce this problem. Then I tried to test a patch locally, and found Python 3.6 doesn't build on my machine (up-to-date version of Arch Linux on `x86_64`):
[code]

Is it just too old? Both NumPy 1.13 and Python 3.6 are ancient and past their end-of-life. Python 3.8-3.9 does build for me. I'll just submit a PR to fix this issue without it working locally, because apparently Python 3.6 is s

[2022-03-23 14:06] jbigot commented on #29580
On my side, I can give you my reason for building this. I try to select the minimum versions of my dependencies to support building in the oldest supported versions of ubuntu/debian/fedora. Typically, in practice, this means using the versions of libraries as available in ubuntu LTS. I then use spack in CI to build docker images with the oldest and latest versions of the libraries I claim to suppo

[2022-03-23 14:37] alalazo commented on #11747
I'll be removing this from the point releases. The repository namespace is currently not part of the solve, so fixing this issue might require some discussion on the semantic we want to implement. For instance, it's not clear to me what should be the behavior when:
[code]
and
[code]
are explicitly requested by different packages in the same solve.

[2022-03-23 15:11] iarspider opened #29686 "Installation issue: m4 (but could be any other package)"
### Steps to reproduce the issue

[code]

### Error message

[code]

### Information on your system

[code]

### Additional information

The root cause of the problem is: the <MIRROR> web server tries to interpret the `?id=` part as parameters to pass to php or other interperter. I guess spack should replace the special symbols (like `?` and maybe `#`) when constructing mirror url

### General inf

[2022-03-23 16:36] vsoch commented on #29434
It's primarily for automated usage, when most would expect `--force` to work as it normally does across tools. Having force and yes to all is unexpected. Here is just an example https://opensource.com/article/19/5/may-the-force-linux of how many command line tools have force.

The benefit is having a good UI, where predictable is one of the facets of "good." But if nobody wants that then it doesn'

[2022-03-23 16:36] osborn9 opened #29687 "Issue with `spack clean -a` and `build_stage/.lock` file"
### Steps to reproduce

[code]

### Error message

Output after `spack clean -a`
[code]

Then when installing a package after executing `spack clean -a`, e.g., `spack -d install hypre@develop`
[code]

This behavior was noticed after https://github.com/spack/spack/pull/27021 (potential issue with addition of `cleanup` in `lock.py` ?)

### Information on your system

* **Spack:** 0.18.0.dev0 (c300b9

[2022-03-23 16:41] alalazo commented on #29434
I'm not everybody, so let's see. To be clear, I understand what you're saying and would agree for a new command. I am just wondering if the potential breakage outweighs the benefit we have from this change.

[2022-03-23 16:48] vsoch commented on #29434
potential breakage? but stuff breaks in spack all the time. I'm not sure I've seen reproducibility / maintaining the same interactions has been prioritized before?

[2022-03-23 17:27] alalazo commented on #29687
Thanks for the report, I was about to submit a similar issue with a warning from `os.open`:
[code]
Using `git bisect` seems to point to 4aee27816e7101753aeb392e868096236a26d84d but I'm not totally sure of the exact commit, since a couple of them were entirely broken.

[2022-03-23 17:38] wspear opened #29688 "Spack smoke/standalone tests fail on read-only filesystems"
### Steps to reproduce

On a system where spack is installed in an unwritable location (e.g. NERSC's Cori with `module load e4s/22.02`) `spack test run` fails. There are at least two failure cases as shown below. The first associated with superlu-dist is definitely a read-only fs problem. The second, more common error is less clear in its origin and may be a distinct issue.

### Error message

`>

[2022-03-23 17:42] alalazo commented on #29687
Using this diff:
[code]
I have the following stacktrace:

<details>

<summary>$ spack -d clean -a</summary>

[code]

</details>

[2022-03-23 18:07] alalazo commented on #29687
This seems to fix the issue:
[code]

[2022-03-23 18:26] alalazo commented on #29687
So, complete diagnosis of the issues is:
1. During `spack clean -a` we were trying to remove all the stage dirs
2. When doing that we are (erroneously?) passing directories AND files to `remove_linked_tree` and `shutil.rmtree` (which should accept only directories)
3. Before the Windows PR errors in that function were ignored, so we didn't notice
4. After the Windows PR we try to handle the error

[2022-03-23 18:34] tldahlgren commented on #29688
In the `superlu-dist` case, the package should  be performing all of the `filter_file` operations in `cache_test_sources` so 1) they are only done once and 2) they are not done on read-only file systems.

[2022-03-23 18:46] adamjstewart commented on #29580
FWIW, I tried deprecating and eventually removing deprecated versions of Python (#28003) but eventually had to revert it (#28411) because a lot of people care about reproducibility and need to be able to reproduce results with libraries that require ancient Python versions.

I would also like to use Spack to do exactly what @jbigot is doing, hoping @tgamblin or someone can whip up a new concretiza

[2022-03-23 18:47] wspear commented on #29688
Tagging superlu-dist package devs so they can take a look at that. @balay @gchavez2 @liuyangzhuan @pghysels @xiaoye

Here is the full spack debug output from a spack test that gives the other error, along with confirmation that builtin-index.json exists and is readable:

[code]

[2022-03-23 18:49] tldahlgren commented on #29688
Regarding the `CacheError`, `FileCache` is currently requiring RW access.

[2022-03-23 19:52] liuyangzhuan commented on #29688
I don't understand the problem. How is this related to superlu installation?

On Wed, Mar 23, 2022 at 11:49 AM Tamara Dahlgren ***@***.***>
wrote:

--
Yang Liu
Research Scientist
Lawrence Berkeley National Laboratory

[2022-03-23 20:00] wspear commented on #29688
There are two mostly unrelated issues reported here. This one:

[code]

...is failing because the test function for superlu-dist is trying to run a filter operation on a makefile under the install location which is impossible when the spack installation is read-only (such as when a user is running a test operation on a facility installed spack). That filter operation needs to happen when the packa

[2022-03-23 20:22] rgommers commented on #29580
Thanks for the context, makes sense!

I've seen this request for Pip/`pyproject.toml` as well, it's reasonably common I think.

[2022-03-23 20:41] krcb commented on #29667
Thanks! This is really helpful feedback which I can pass along to my team

[2022-03-23 21:23] scottwittenburg opened #29695 "Better control of how package and dependencies are installed"
### Summary

Currently `spack install` only has the following options for deciding when to use buildcache for package installation: `--cache-only` and `--no-cache` apply both to installation of the package and its dependencies.  It would be nice to have finer control over when buildcache is used during package installation, i.e. to allow specification of whether buildcache should be used for packa

[2022-03-23 21:26] scottwittenburg commented on #29695
@tgamblin @becker33 @haampie I think all of you were involved in this discussion at the time, please feel free to correct my memory where you think appropriate.

@alalazo This is how I would see us accomplishing what you described on slack a bit ago (re: forcing gitlab to rebuild everything from source, even when hashes didn't change).

[2022-03-23 23:51] #29580 closed, assigned to nobody

[2022-03-24 07:58] iarspider commented on #29686
#23300 was fixing it, but for local files. I will see if I can extend it to mirroring in general (there is no reason to pass `?` or `=` to mirror URL, right?)

[2022-03-24 09:35] cessenat commented on #23348
Thanks @mpokorny , it is solved.
I encoutered a failure building qscintilla, so I added a more explicit recipe for it:
`spack install octave+qt+qscintilla+fftw+fontconfig+freetype+glpk+gl2ps+magick+gnuplot+zlib+curl+fltk+qrupdate %gcc ^mpich ^openblas ^qscintilla+python+designer ^qt+dbus~framework`
It provided octave with following guis:
[code]

Fine now.

[2022-03-24 09:35] #23348 closed, assigned to nobody

[2022-03-24 09:54] #26377 closed, assigned to alalazo

[2022-03-24 11:02] vvolkl commented on #29447
I can confirm - same thing with the catch2 dependency of podio, for example.

[2022-03-24 13:25] #29112 closed, assigned to tgamblin

[2022-03-24 16:12] iarspider opened #29704 "`spack install --monitor` fails with `Error: 'full_hash'`"
### Steps to reproduce

[code]

### Error message

[code]

### Information on your system

* **Spack:** 0.18.0.dev0
* **Python:** 3.6.8
* **Platform:** linux-centos7-broadwell
* **Concretizer:** clingo

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have searched the issues of this repo and believe this is not a duplicate
-

[2022-03-24 16:13] iarspider commented on #29704
@vsoch ping

[2022-03-24 16:23] vsoch commented on #29704
The full hash needs to be in a spec for spack monitor to receive it. If someone removed or changed it, it needs to be added back.

[2022-03-24 16:49] elfprince13 opened #29706 "#27021 broke GitHub SSH urls"
### Steps to reproduce

[code]

### Error message

Empty error message
[code]

In debug mode, this leads to an assertion error originating here (code introduced in #27021):

https://github.com/spack/spack/blob/872d29e20168d1ff133fc25cad5932e5949c9c6e/lib/spack/spack/util/url.py#L345-L347

### Information on your system

* **Spack:** 0.18.0.dev0 (c8f1b8c95c4feaa36577d33344c7639f0799bc93)
* **Python

[2022-03-24 17:12] iarspider commented on #29704
I need a better reproducer - this one was created by dumping the spec with missing `full_hash` in a much bigger environment (~460 specs)

[2022-03-24 17:32] scheibelp opened #29707 "Git hashes in concretized environment break custom repos"
### Steps to reproduce

1. Create an environment with a custom package repo

2. In that environment's specs, add any package (whether it's mentioned in the custom repo or not) with `@<git-commit-hash>` as a version

3. Add another package which refers to the custom package repo (i.e. something exclusive to the custom package repository)

4. Concretize the environment

5. Any future operation using

[2022-03-24 17:42] scheibelp commented on #29707
@vsoch I'm curious: `spack.test.cmd.install.test_install_commit` installs a package which contains the following:

[code]

what is the meaning of `assert spec.satisfies('@:0')`?

[2022-03-24 17:44] m214089 commented on #27000
We did run into the same problem and it is really pretty annoying. As it h5cc was documented with the -showconfig option it is a bit too simple claiming that it should be handled differently. :-(

[2022-03-24 18:01] vsoch commented on #29707
I'm not the best one to ask - ping @becker33 !

[2022-03-24 20:25] alalazo opened #29713 "File permissions and calls to "llnl.util.filesystem.remove_linked_tree""
### Steps to reproduce

Call from a script or a unit-test:

https://github.com/spack/spack/blob/f8201f4acc53bbb7efcde77a369546181b802d19/lib/spack/llnl/util/filesystem.py#L1183-L1209

with a path that fails to perform `shutil.rmtree`, e.g. the path of a file. That on linux leaves the file with different permissions because of how `onerror` handles the error.

### Error message

This was leading to

[2022-03-24 20:37] johnwparent commented on #29713
Apologies, I was out yesterday and didn't get a chance to respond to @scheibelp. Rather than pollute that PR, I'll post my response here. I think Peter has a fine solution, I'll push shortly.

[2022-03-24 20:39] jeanbez commented on #8742
@adamjstewart I can confirm that the issue is still there

[2022-03-24 21:20] iarspider commented on #29704
Here is full spec: https://cernbox.cern.ch/index.php/s/RGtCwNtFBw0aMQR . And the lock file after doing `spack concretize`: https://cernbox.cern.ch/index.php/s/llQLQQg2iZ6QHGb .

[2022-03-24 21:21] vsoch commented on #29704
Why is the spec in yaml? Isn’t that a really old format?

[2022-03-24 21:21] iarspider commented on #29704
To debug, I have made two changes:
[code]

and got the following output:
[code]

[2022-03-24 21:22] vsoch commented on #29704
Yeah I guess someone renamed full_hash to hash without thinking about spack monitor.

[2022-03-24 21:23] iarspider commented on #29704
IIRC, the lock file was changed to JSON, the environment itself is still YAML

[2022-03-24 21:23] vsoch commented on #29704
You could try just renaming the index to use that instead.

[2022-03-24 21:26] iarspider commented on #29704
I thought `hash` was `dag_hash`, which is different from `full_hash`. (grumble) that stoopid slack where history gets cut off at the worst time (/grumble)

[2022-03-24 21:32] vsoch commented on #29704
well, for spack monitor's sake it really just needs a unique id for the spec. It was a pretty arbitrary decision when it was first made. Technically we can present any of the hashes (changed and newly deemed worthy) for it to use. If the key is wrong for the server, the easiest thing to do will be just to add full_hash to be whatever spack is now using (e.g., dag).

[2022-03-24 21:44] adamjstewart commented on #8742
@jeanbez can you share your `spack-build-out.txt` and `spack-build-env.txt` from the failed build? That will help figure out what's going on. Also, what is your spec (R version, compiler, OS, etc.)?

[2022-03-24 22:17] balos1 commented on #29526
Yes, because of the `+examples` variant.

[2022-03-25 00:00] jeanbez commented on #8742
@adamjstewart sure! I've tried with multiple versions of R (4.1.3 and 3.6.3), both failed, on macOS Monterey (12.3)

You can access the out.txt and env.txt files here: https://gist.github.com/jeanbez/cf3eeb5d86544c8392092c3e90d506d0

[2022-03-25 00:27] sethrj commented on #29526
@balos1 I think it would be a good idea to turn those off by default. It's another case of "variant might be useful if this is your primary purpose for building spack" but "not good if you're just a library being used by someone else".

[2022-03-25 00:31] balos1 commented on #29526
@sethrj  Sure, then the error would not happen during the build, but I think would likely result in the same linking error when someone goes to link against the library.

[2022-03-25 00:32] balos1 commented on #29526
FWIW, this only seems to happen when `+rocm` (I replicated using the docker container). With `~rocm` it builds fine for me.

[2022-03-25 07:39] #29687 closed, assigned to nobody

[2022-03-25 08:26] reynozeros commented on #20670
I ran into the same issue on the current develop branch.

Here is the output from the terminal in debug mode:
[spack_likwid_output.txt](https://github.com/spack/spack/files/8348720/spack_likwid_output.txt)

[2022-03-25 11:18] iarspider commented on #29704
OK, I have a better reproducer. Let me update the first message...

[2022-03-25 11:37] iarspider commented on #29704
So, IIUC, `full_hash` is not written into `spack.lock` file by default (why?). But a spec read from `spack.lock` is considered `final` and it's `full_hash` is not recalculated (or, at least, not recalculated at the moment when spack monitor code is being called).

[2022-03-25 16:43] vsoch commented on #29704
That should be okay, try changing:

[code]
or choose any hash that you want that you have. I'm not sure ht.hash is an option, maybe ht.dag_hash is, for example.

[2022-03-25 17:44] jmaack24 opened #29721 "Installation issue: Julia"
### Steps to reproduce the issue

[code]

### Error message

The build error occurs Julia's generation of precompile statements.  It seems to be related to [this Julia build issue ](https://github.com/JuliaLang/julia/pull/43250) where upgrading `libgit2` also required upgrading `libssh2`, `mbedtls` and `libcurl`.  Checking the above spec shows that the version of `libgit2` has been upgraded but no