[2020-06-18 22:31] becker33 commented on #14695
@adamjstewart I think that in the last case (in an environment) the `--inactive` flag should still respect other environments known to Spack.

[2020-06-19 01:46] scottwittenburg commented on #17119
Closing in favor of #17164

[2020-06-19 01:46] #17119 closed, assigned to nobody

[2020-06-19 02:21] scottwittenburg opened #17169 "Extend existing gitlab.spack.io check to test PRs from forks"
Currently gitlab.spack.io runs the E4S pipeline any time a PR is created and the associated branch was pushed to the main spack repo, as well as when any PR is merged to `develop`.   In the coming weeks, this functionality will be extended so that the pipeline runs on every PR, even those from forks.

To prepare for this, this issue is about keeping track of the tasks that remain to be done.  Unti

[2020-06-19 02:22] scottwittenburg commented on #17169
@opadron @zackgalbreath Can you guys take a pass over this, make sure everything makes sense, and add anything you can think of that I may have missed?  Thanks!

[2020-06-19 03:45] cyrush commented on #17162
@white238 -- do we need some extra guards for the new logic for this case?

[2020-06-19 05:10] white238 commented on #17162
I added a new spec to our list on Axom so hopefully this doesn't happen again.

[2020-06-19 13:20] zackgalbreath commented on #17169
LGTM. Off the top of my head, I can't think of any tasks that you missed. But if one comes to me I'll add it here.

[2020-06-19 13:29] josepedro opened #17172 "Error: All fetchers failed for spack-stage"
spack fetch -D hpctoolkit
==> Using cached archive: /home/jose/git/spack/var/spack/cache/_source-cache/git//HPCToolkit/hpctoolkit.git/ac6ae1156e77d35596fea743ed8ae768f7222f19.tar.gz
==> Warning: Fetching from mirror without a checksum!
  This package is normally checked out from a version control system, but it has been archived on a spack mirror.  This means we cannot know a checksum for the tarb

[2020-06-19 14:30] roguephysicist opened #17174 "Installation issue: quantum-espresso (intel-mkl + openmpi)"
Spack builds Quantum Espresso with Open Mpi and the Intel MKL with no errors, but when running `pw.x` I immediately get a segfault:

[code]
It would seem that Spack is linking against the wrong library, `libmkl_blacs_intelmpi_lp64` instead of `libmkl_blacs_openmpi_lp64`.

### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.14.2-1483-6d9f026
* **Python:** 3.6.8

[2020-06-19 15:38] tz-rrze commented on #17174
try to change line 297 of quantum-espresso/package.py from
    ``scalapack_option = 'intel' if '^mkl' in spec else 'yes'``
to
   ``scalapack_option = 'intel' if '^intel-mpi' in spec else 'yes'``
or perhaps
   ``scalapack_option = 'intel' if ('^intel-mpi' in spec and  '^mkl' in spec) else 'yes'``

[2020-06-19 16:13] becker33 commented on #17164
I think the latter option in which we access `spack.lock` directly will be perfect for what I need. It'll be trivial to read a spack.lock file and extract a spec from it, write that to yaml, and pass it to the build farm.

In the current workflow, do we pass the entire spec.yaml file in base64 encoding?

[2020-06-19 16:20] scottwittenburg commented on #17164
Awesome, that's what I'll be doing too.

If we're ignoring compiler-bootstrapping pipelines, yes.  The concrete, base64-encoded *root* spec, along with the package name to index it with, gives us what we need to build.

[2020-06-19 16:23] scottwittenburg commented on #17164
Just a little background on why we pass the concrete *root* spec, rather than the concrete spec we need to build:  When we relate the build spec to it's dependencies in CDash, we need to identify those dependencies precisely.  So we also pass dependency package names to the job, and use them to index the same *root* spec.  Hopefully that makes sense.

[2020-06-19 16:27] becker33 commented on #17164
Yes, that makes sense. That will work as well, since I can just index the spec and write out the yaml of the subDAG relevant to this job.

[2020-06-19 17:02] adrienbernede commented on #17164
Sounds great!

Naively, it seems to me that it relieves Spack from having to deal with generating any gitlab syntax. The "interface" being the variables that needs to be defined for `spack ci rebuild` to run correctly. If that makes sense.

I just have one technical question:
`SPACK_REPO: $env:SPACK_REPO`

Is that relying on a feature in Gitlab, or is it for Spack to look for the environment varia

[2020-06-19 17:07] scottwittenburg commented on #17169
fyi @tgamblin

[2020-06-19 18:04] ian-bertolacci commented on #1773
I think this is worth keeping open.
I opened a duplicate issue ( #17062 ) :

It was commented that splitting the packages and spack into different repositories would not have prevented the intel-tbb checksum problems, which is true but also not what I had the issue with:

[2020-06-19 19:29] naromero77 commented on #17174
Thanks for reporting the issue. Let me take a look. There are many combinations that need to be supported and there were many that I didn't bother testing.

[2020-06-19 19:30] mwkrentel commented on #17172
See #17030 for why this keeps failing.

Anyway, if your real goal is to install hpctoolkit (or anything else
that depends on m4), then there's a simple workaround.  Use m4 1.4.17.
M4 is just a build tool and 1.4.17 will work as well as 1.4.18.
1.4.17 doesn't require fetching the remote patch (what really fails).

[code]

Better yet, add it to `packages.yaml`.

[2020-06-20 05:48] naromero77 commented on #17174
Please give the diff in the above PR a try and let me know if it solves your problem.

[2020-06-21 16:59] sethrj opened #17187 "libffi: always builds for "native" target with 3.3 despite `target= x86_64`"
### Steps to reproduce the issue

- Build generic (non-processor-specific) target
- Try running a downstream code on a less capable processor, see an illegal instruction signal
- Notice that the libffi configure says `checking for gcc architecture flag` because it defaults to optimizing for the local target

[code]

### Information on your system

[code]

### Additional information

[spack-build-o

[2020-06-21 17:02] sethrj commented on #17187
(For me, by the way, the code I saw crashing was Python 3.7.7 called through ctypes.

[2020-06-21 23:03] cyrush commented on #17162
@white238 thanks for this fix. @bvanessen if you get a chance, can you confirm the fix healed spack for you?

[2020-06-22 05:30] eugeneswalker commented on #17164
Hey Scott, I think this looks great. Having the ability to customize these jobs will be helpful, if not essential, to adapting the pipeline to diverse environments where users may want to run! Thanks!

[2020-06-22 07:02] alalazo commented on #17172
Duplicate of #17030

[2020-06-22 07:03] alalazo commented on #17172
@josepedro Closing as duplicate, feel free to reopen if you think there are other issues to be considered.

[2020-06-22 07:03] #17172 closed, assigned to nobody

[2020-06-22 15:01] yellowhat opened #17197 "intel-mpi from system: Error: super() argument 1 must be type, not IntelMpi"
### Steps to reproduce the issue

[code]

### Error Message
[code]

Using `openmpi` works as expected:
[code]

Any ideas?

Thanks

[2020-06-22 15:04] yellowhat commented on #17197
Using `paths` instead of `modules`:
[code]
returns the same error:
[code]

[2020-06-22 15:49] roguephysicist opened #17198 "Installation issue: libxc with Intel 2020 compiler"
The following error is produced when compiling libxc with the Intel 2020 compilers:

[code]
This stems from line 91 of `$SPACK/var/spack/repos/builtin/packages/libxc/package.py`:

[code]

If the first two flags are removed, libxc compiles correctly. It works perfectly fine with the flags when using the Intel 2018 compiler, so there must be some new behavior in the more recent version.

### Steps t

[2020-06-22 15:56] scottwittenburg commented on #17164
That's certainly more true after we accept this.  But we still also have to stage the jobs and do the DAG scheduling (fill in the `needs`) fields of each job.

That is something I added to this PR ([here](https://github.com/spack/spack/pull/17129/files#diff-91c881f6c518872fb25e74a847ec22b1R580-R586)) so that we would have the ability to interpolate environment variables at pipeline generation time

[2020-06-22 17:19] becker33 commented on #15813
@adamjstewart are you still able to reproduce this issue?

[2020-06-22 17:41] shahzebsiddiqui opened #17199 "NERSC Software Package"
Currently spack does not support the following packages, all of these packages are installed outside of Spack at Cori, we would like to get support for these packages if possible.
- [ ] cpmd https://www.lcrc.anl.gov/for-users/software/available-software/cpmd/
- [ ] ComputeCPP https://github.com/codeplaysoftware/computecpp-sdk need to confirm link
- [ ] ds9 https://sites.google.com/cfa.harvard.edu/

[2020-06-22 17:46] becker33 commented on #10245
@alalazo I don't think the `::` ever allows a specific setting to override an `all` setting. The `override` field that we add to `syaml_str` in the configs is not considered when we are combining values from two places in the config system in client code. It is only used in `merge_yaml`.

[2020-06-22 20:12] bvanessen commented on #17162
@cyrush Yes this fixed it.

[2020-06-22 20:12] #17162 closed, assigned to nobody

[2020-06-22 20:44] rspavel commented on #17123
So went to go do a deep dive and apparently it is fixed on develop since last week. And after learning how to rename things in git bisect (but apparently not how to use grep which would have been a lot faster...)

[code]

Thanks @becker33

[2020-06-22 21:02] #17123 closed, assigned to nobody

[2020-06-23 02:01] Sinan81 commented on #17199
pytorch is already available: see `spack info py-torch`

Also, looking at cuda installation prefix, I am seeing quite a few nsight related folders there.

[2020-06-23 06:40] alalazo commented on #17199
@shahzebsiddiqui Added a few labels and marked `pytorch` as done. Also PRs are welcome! :slightly_smiling_face:

[2020-06-23 08:08] alalazo commented on #17198
I think that:
[code]
seems more an error that should be reported to Intel. Not saying that the recipe is perfect, but an internal compiler error is always a bug in the compiler.

[2020-06-23 08:11] alalazo commented on #17197
Can you post the result of:
[code]
The `-d` option after `spack` enables debug output and should print the entire stacktrace for the error.

[2020-06-23 08:23] yellowhat commented on #17197
Sure:
[code]

[2020-06-23 08:28] alalazo commented on #17168
Related to https://github.com/spack/spack/pull/15158#issuecomment-597638675 and #1795

[2020-06-23 08:30] yellowhat commented on #17197
Sure.
To `spack/etc/spack/defaults/packages.yaml` I have added:
[code]
and I get:
[code]

Seems that is not able to find `intel-mpi@2019.7.217%gcc@9.2.0 arch=linux-centos7-x86_64`, maybe I need to specify the `arch` option, strangely the same setup works with openmpi.

[2020-06-23 08:30] alalazo commented on #17168
@tgamblin @scheibelp @tldahlgren @becker33

[2020-06-23 08:32] yellowhat commented on #17197
Even with:
[code]
same error.

[2020-06-23 13:32] becker33 commented on #14560
These tests no longer fail.

[2020-06-23 13:32] #14560 closed

[2020-06-23 14:06] scottwittenburg commented on #17168
I like this idea, thanks for writing it up @chuckatkins.  One question:

I'm not familiar with all the packaging systems out there, is there likely to be a `rpm -ql <pkg-name-list>` analog on all the systems spack is aiming to support?  If not, do you already have in mind a way to handle this gap?  Maybe just fallback to the previous externals syntax (no `debs` or `rpms` supported in those cases)?

[2020-06-23 14:51] chuckatkins commented on #17168
@alalazo I wasn't even aware of #15158 and #1795, thanks!  In many ways I think it combines and solves some of the short comings of them.  In #1795 @citibeth proposes a similar scheme, albeit with `repoquery` instead.  It would be "os specific" but I think that's reasonable to do given that there's a fairly limited set of packaging systems needing to be dealt with.  @scottwittenburg if we consider

[2020-06-23 14:57] becker33 commented on #13504
@davydden @olesenm I think this is still related to `BASH_FUNC__module_raw` coming from the bashrc file that is sourced in `setup_run_environment`. I think if you add `BASH_FUNC_*` to the blacklist in that method I think it should resolve it.

I have not installed openfoam locally to test as I'm hoping someone can test my theory without having to spend the time to install openfoam, but I can try i

[2020-06-23 16:08] shahzebsiddiqui commented on #17199
Yea please feel free to check off any software that is already covered. I hope to contribute back to Spack soon

[2020-06-23 16:38] becker33 commented on #16156
@adamjstewart The resolution to #15884 did not resolve this. I think it's specific to having multiple versions of python linked into the same view.

[2020-06-23 17:22] #15182 closed

[2020-06-23 17:22] #15684 closed

[2020-06-23 17:41] becker33 commented on #16451
@adamjstewart I'm moving this to the next patch release, since we're trying to put out a release this week and I'm focused on features for the first release of the new major series (v0.15.0). This is moving to v0.15.1.

[2020-06-23 18:58] cdfh opened #17214 "Spack fails to create hardlink views due to Python"
I'm trying to create a hardlink view for python, however the `spack view` command fails.

[code]

The command fails with non-zero exit code. The command works if creating softlinks instead of hardlinks.

The file `/mnt/store/tmp/spack/views/python/bin/python3.7` does indeed not exist, although I note that `/mnt/store/tmp/spack/views/python/bin/python3.7m` _does_ exist.

### Steps to reproduce the

[2020-06-23 23:02] becker33 commented on #16651
@mc-allen I'm assuming you don't care about the spec being removed from the roots of the environment, what you need is for it to be removed from the concretization of the environment so that it is re-concretized if it is reinstalled? The former would be very difficult, but the latter is quite tractable.

[2020-06-24 01:19] scheibelp commented on #15966
Apologies for taking so long to get to this, what are the permissions on

[code]

?

I would only expect to see the error where it occurred if this file was not readable by the downstream Spack instance. I assume that if this is the case there would be other problems though (if extensions.yaml is not readable, I assume the downstream instance cannot read other files in the prefix).

[2020-06-24 05:35] vkallesh commented on #16970
Sorry from the comment section I could infer much details.
Is issue resolved ?, on which branch changes were done?

[2020-06-24 06:37] alalazo commented on #13481
@tgamblin @becker33 Moved this to the next minor release. It would be good if after v0.15.0 we could define a minimal list of uarchs that is necessary to close this.

[2020-06-24 06:42] ilbiondo commented on #15966
Hi,
the permissions are:

[code]

So extensions.yaml is `600` unlike the other files

@alalazo - do you see the same permissions when you reproduce the problem?

[2020-06-24 06:57] alalazo commented on #7186
@becker33 I think this can be closed, since we have `spack containerize` that by default:
1. Uses multi-stage builds
2. Calls `spack gc` in the build stage
3. Strips the binary files

And we have documentation [here](https://spack.readthedocs.io/en/latest/containers.html)

[2020-06-24 06:57] ilbiondo commented on #15966
I think this is more than permissions related - if I set the permissions to `644` then things get even more fun.

[code]

Then try and uninstall something:

[code]

With -d we see:

[code]

[2020-06-24 07:02] alalazo commented on #13485
@becker33 We moved most of the unit tests to Github actions. A few more improvements are on the way, but I think that what was done is sufficient to close this. Note that the smoke build tests inspect the paths that chaged and are triggered only if needed.

[2020-06-24 07:02] #13485 closed

[2020-06-24 12:46] #16486 closed, assigned to alalazo

[2020-06-24 12:47] roguephysicist commented on #17198
Understood, I'll take it up with them. Thanks.

[2020-06-24 12:47] #17198 closed, assigned to nobody

[2020-06-24 12:53] vkallesh commented on #16970
From this link https://github.com/spack/spack/pull/17063 I got the fix.

Just curious to understand:
1. What are tests that above changes needs to undergo for this recipe to be part of release?
2. How much time required for this change to be part of spack next release?

[2020-06-24 13:55] prckent commented on #7186
Indeed this has been addressed by the containerize functionality. Thanks.

[2020-06-24 13:55] #7186 closed

[2020-06-24 14:08] alalazo commented on #12665
@becker33 I started on this. It should be fairly easy to recover the previous behavior. Also, even with the current behavior a valid front-end compiler can be detected automatically by loading the corresponding module and searching for new compilers:
[code]
@jmellorcrummey Is there any other fundamental issue that I am missing here?

[2020-06-24 14:28] roguephysicist commented on #17174
Done, works like a charm! Thanks @naromero77

[2020-06-24 14:28] #17174 closed, assigned to nobody

[2020-06-24 15:57] s-sajid-ali commented on #17083
@rhc54  : I attempted to add a `python` variant to `PMIx` ([here](https://github.com/s-sajid-ali/spack/commit/16156a0beafae3b8b67ea0cfdea6182dab743ce1)) as per the above and hit the following error. Build logs are attached.

[code]

Note : The configure script shipped with release tarballs does not seem to support `--enable-python-bindings` which only works when building from git.
[code]

[spack-b

[2020-06-24 16:14] becker33 commented on #7116
This item seems to be covered by the e4s pipeline that we test on all internal PRs and on releases.

There are additional improvements to make, but those should be in separate issues/PRs for changes to the pipeline now that it is in place.

[2020-06-24 16:14] #7116 closed

[2020-06-24 16:23] roguephysicist opened #17227 "Spack concretizer does not choose correct variant of external package."
Spack will avoid concretizing with a specific variant of an external package. In this particular example, I want to build Quantum Espresso with Open MPI 4.0.3 compiled with the GCC 10.1.0.

Here is an excerpt from my `packages.yaml`:

[code]

### Steps to reproduce the issue

Spack concretizes correctly for GCC 6.5.0, 8.4.0, and 9.3.0, but when requesting GCC 10.1.0, it selects `openmpi@4.0.3%gcc@

[2020-06-24 17:11] mwkrentel commented on #12665
@alalazo  Hmm, that's not the behavior I see.  On both cori at NERSC
and theta at ANL, I get the following with today's spack.

On cori, starting without a compilers.yaml file, modules for
PrgEnv-gnu and gcc/8.3.0, I run `spack compiler find` and then
`spack compiler list`.  gcc 7.5.0 is the one from /usr/bin.

[code]

What am I doing differently?
Is it the machine?  Something in my environment?
Y

[2020-06-24 18:27] mwkrentel commented on #12665
Here is `module show gcc/8.3.0`, if that helps.

[code]

And both cori and theta use TCL modules, if that matters.

[2020-06-24 18:35] scheibelp commented on #15966
Thanks for the update! I see where Spack is going wrong. I think https://github.com/spack/spack/pull/17231 will resolve this for you (both the original error, and the one you reported at https://github.com/spack/spack/issues/15966#issuecomment-648632110)

Lower-level details: When validating the extension_map, Spack is using the directory layout rather than the DB (which I think makes sense in avo

[2020-06-24 20:23] DiegoMagdaleno commented on #14102
This is about to get bigger, since macOS Big Sur by Apple now ships with Python 3.8 by default, and most brew formulae has updated to Python 3.8 Space is still broken for me :/

[2020-06-24 20:24] becker33 commented on #7121
Moving this to v0.15.1 so that we can monitor it in develop before adding it to a release.

[2020-06-24 20:37] adamjstewart commented on #14102
Oddly enough, I've been using Spack on Ubuntu 20.04 (via WSL) which comes with Python 3.8.2 but I haven't encountered a single problem yet. I already have 160+ packages successfully installed.

[2020-06-24 20:40] scheibelp commented on #14102
Spack should work fine with Python 3.8 in Linux, but not on Mac OS, because Python 3.8 multiprocessing behavior diverged for Mac OS and Linux.

[2020-06-24 21:18] quellyn opened #17238 ""spack install" command core-dumps while installing a particular package within a hybrid Spack environment"
### Steps to reproduce the issue

Our site has a complex code with many dependencies. In the past we've generally stuck to compiling with Intel or GCC on an x86_64 architecture, but we are attempting to expand our reach onto more platforms and toolchains. Case in point:  the IBM XL 16.1.1 compiler and Spectrum MPI.

Because it's proven impossible to build out the entire dependency tree using XL, w

[2020-06-24 22:06] naromero77 opened #17239 "Cross-compiling detection/stored in the spec object"
In support of large scale supercomputer and even mid-tier linux clusters, it would be desirable to store in the `spec` whether the the current spack install invocation is a cross-compiling scenario.

### Rationale

Here is a concrete use case:
https://github.com/spack/spack/pull/17180

Quantum ESPRESSO uses autoconf and does not have much of a concept of cross-compilation AFAIK. You have to manual

[2020-06-24 23:03] tldahlgren opened #17241 "Installation issue: sundials `all fetchers failed` error"
I am getting the following error (running from LC/Quartz) when I try to install `SUNDIALS` using `develop` at commit `bc53bb9`.

[code]

Hovering over the `SUNDIALS` link at https://computing.llnl.gov/projects/sundials/sundials-software shows the URL is accurate.  Clicking on that link in a web browser brings an Open/Save dialog box.

[2020-06-24 23:03] tldahlgren commented on #17241
@gardner48  ping

[2020-06-24 23:31] tldahlgren commented on #17241
@gardner48 Recommend adding `list_url = 'https://github.com/LLNL/sundials/releases'` to the package.  This works for me.

[2020-06-25 01:36] tldahlgren opened #17243 "Installation issue: samrai: All fetchers fail error"
I am getting the following error (running from LC/Quartz) when I try to install `SAMRAI` from `develop` at commit `bc53bb9`.

[code]

Hovering over SAMRAI links at https://computing.llnl.gov/projects/samrai/software shows the URL should be accurate. Clicking on them in a web browser brings an Open/Save dialog box.

[2020-06-25 01:50] tldahlgren opened #17245 "Installation issue: XBraid `all fetchers fail` error"
I am getting the following error (running from LC/Quartz) when I try to install `XBraid` using `develop` at commit `bc53bb9`.

[code]

[2020-06-25 03:18] vkallesh opened #17247 "Installation issue: libflame installation fails for 5.1.0 version"
[spack-build-env.txt](https://github.com/spack/spack/files/4828922/spack-build-env.txt)
It was observed that although libflame installation is successful for latest version 5.2.0 but fails for 5.1.0 version

### Steps to reproduce the issue
[code]

### Information on your system
$ spack debug report
* **Spack:** 0.14.2-1528-577a88880
* **Python:** 3.7.5
* **Platform:** linux-ubuntu19.10-zen2
$

##

[2020-06-25 03:20] vkallesh commented on #17247
[spack-build-env.txt](https://github.com/spack/spack/files/4828930/spack-build-env.txt)
[spack-build-out.txt](https://github.com/spack/spack/files/4828931/spack-build-out.txt)

[2020-06-25 04:07] adamjstewart commented on #15813
I don't have time to try to reproduce this right now. Tbh, I don't even use modules anymore, Spack Environments is all I need. I'll close this and we can reopen if anyone else stumbles on the same problem.

[2020-06-25 04:07] #15813 closed

[2020-06-25 07:38] #16733 closed, assigned to becker33

[2020-06-25 07:50] alalazo opened #17252 "Refactor code for "config add/remove""
As part of #13920 for v0.15.0 we merged code that is probably better to move from `spack.cmd.config` to `spack.config`. There has been some discussion about possible refactoring that wouldn't modify the exposed functionality or cli at:
- https://github.com/spack/spack/pull/13920#discussion_r435767986
- https://github.com/spack/spack/pull/13920#discussion_r435769471
- https://github.com/spack/spack

[2020-06-25 08:08] alalazo commented on #12665
@mwkrentel The test I did so far were done only on Piz-Daint. I just checked and the default PE there is `PrgEnv-cray`, so I was using that. If I switch explicitly to `PrgEnv-gnu` I obtain your same results. I'll try to work on a fix and then also test it on Cori.

[2020-06-25 08:14] alalazo commented on #12665
To give more context, we do two separate searches to detect compilers for back-end and front-end. The one on front-end is based on:

https://github.com/spack/spack/blob/b26e93af3d19e4492cf049bc7479eb85bc8f7da7/lib/spack/spack/operating_systems/cray_frontend.py#L56-L65

This is the part of code that unloads the `PrgEnv` before trying to search executables in the PATH and thus prevents from detectin

[2020-06-25 08:23] olesenm commented on #13504
Hi @becker33

I have used `grep -i BASH` on all openfoam module files generated by spack on my installation (openfoam 1806,1812,1906,1912) and I don't see any instances at all.

if you want to test a minimal (non-functional) openfoam installation without the long compilation times, there is a backdoor that I use. It could be more elegant, but is really only ever meant as a diagnostics hack.

Chang

[2020-06-25 13:27] #15966 closed

[2020-06-25 16:18] #12011 closed

[2020-06-25 16:27] #15302 closed

[2020-06-25 16:45] gardner48 commented on #17241
I have this same problem on quartz and lassen but not my laptop so it seems like this might be an LC issue. Adding
[code]
or
[code]
works for me. I'll put a PR to address this issue.

[2020-06-25 17:34] #13426 closed

[2020-06-25 21:47] michaelkuhn opened #17262 "config-related test errors"
When accessing configuration data using `spack.config.[gs]et` at some point before test setup, something goes wrong and the test configuration will not be set up properly, leading to test failures. I encountered this in #17229 because it introduces `spack.config.get` calls in Spack's main function. However, it is enough to enable debugging to reproduce the problem.

### Steps to reproduce the issu

[2020-06-25 22:16] michaelkuhn commented on #17262
Looks like this is due to the config singleton being initialized at different points. Without debug, it is initialized after `test session starts` (with arch `test`), with debug, it is initialized before (with the real arch).

This works around the problem but is probably not the nicest solution:
[code]

[2020-06-26 02:20] #17116 closed, assigned to nobody

[2020-06-26 10:32] vvolkl opened #17270 "Installation issue: qt+webkit"
### Steps to reproduce the issue

[code]

### Information on your system

~$ spack debug report
* **Spack:** 0.14.2-1505-037aa66
* **Python:** 2.7.5
* **Platform:** linux-centos7-broadwell

Got the same failure on linux-ubuntu20.04-broadwell/gcc-9.3.0.

### Additional information

[spack-build-env.txt](https://github.com/spack/spack/files/4836354/spack-build-env.txt)

[spack-build-out-01.txt](http

[2020-06-26 10:36] vvolkl commented on #17270
Since the build log is a bit huge I reproduce some of the errors (I don't think I caught all of them):

[code]
[code]
[code]
[code]
[code]
...

[2020-06-26 14:57] #16651 closed, assigned to nobody

[2020-06-26 15:10] mc-allen commented on #16651
Sorry for the delay - yes, what I really wanted to be able to do was to reinstall matrix-defined specs.

[2020-06-26 15:32] hartzell opened #17273 "Problem container-izing builds with Spack-built compilers, what's the good practice?"
TL; DR, when I built a Docker image w/ bcl2fastq, compiled with a Spack-built gcc@8.4.0 starting from the Container docs page's `spack.yaml`, running the result fails for lack of various compiler libraries.

As a hack, including gcc@8.4.0 in the list of packages (and rebuilding it) works.

---

My general pattern with Spack is to build a gcc (usually @8.4.0 these days) and then use that to compile

[2020-06-26 15:33] hartzell commented on #17273
ping @alalazo

[2020-06-26 16:07] alalazo commented on #17273
@hartzell Did you try using #15028 and:

- Build your custom Spack enabled base image that has `gcc@8.4.0` installed already
- Use that in the build stage

?

[2020-06-26 17:25] hartzell commented on #17273
I have not (*yet*) tried #15028, wasn't sure of it's status and wanted to see how dev behaved (that's what my cow-orkers would be likely to grab off the shelf).

I built my base image by changing a few lines at the bottom of the stock spack centos base image Dockerfile and I "used" it by editing the From line in the generated Dockerfile.

The problem seems to be that the gcc@8.4.0 I built with the

[2020-06-26 17:38] alalazo commented on #17273
I didn't try that myself, but I think if you copy/create in your image a `config.yaml` like:
[code]
and then from the same directory you do:
[code]
that should be installed in the right place.

[2020-06-26 18:03] eugeneswalker opened #17278 "Inconsistent concretization with `packages:: {}` vs no package preferences at all"
Using spack@develop (commit id 1602b7a56192c23fb7fc110a1c8a17ec0837bdd3):

**/etc/spack/packages.yaml**
[code]

**spack.yaml (respect existing package preferences)**
[code]

The environment above concretizes to:
[code]

Now, if I add `packages:: {}` to `spack.yaml` so that it will concretize without respecting any existing package preferences:
**spack.yaml (ignore all existing package preferences)

[2020-06-26 18:14] eugeneswalker commented on #17278
I didn't realize, but `packages:: {}` also overrides Spack defaults (`$SPACK_ROOT/etc/spack/defaults/packages.yaml`) so this is expected behavior. Closing.

[2020-06-26 18:14] #17278 closed, assigned to nobody

[2020-06-26 19:04] #17197 closed, assigned to nobody

[2020-06-26 20:40] becker33 commented on #13398
@lee218llnl can you confirm #17280 resolves this issue? I have tested it building `gcc@9.3.0 %gcc@7.3.0` on ulna.llnl.gov

[2020-06-26 21:12] #12945 closed

[2020-06-26 22:20] #15850 closed

[2020-06-26 23:37] lee218llnl commented on #13398
This worked for me too.

[2020-06-27 00:29] chchang6 opened #17281 "Installation issue: mpfr"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.14.2-1093-701fc1f
* **Python:** 3.6.8
* **Platform:** linux-centos7-skylake_avx512

### Additional information
==> Fetching https://www.mpfr.org/mpfr-4.0.2/allpatches
######################################################################## 100.0%
==> Error: ChecksumError: sha256 checksum failed for /tmp/cchang

[2020-06-27 00:55] hartzell commented on #17273
That seems to work, or more specifically this does:

[code]

It ends up adding about 1.2GB to the resulting Docker images.  I can cut that down to 1.1GB by running `spack gc` in the base image.  I can knock that down to 247MB if I remove all things in the gcc dir except `lib` and `lib64`, which appears to still leave me with a functional application.

[2020-06-27 00:56] hartzell commented on #17273
What's the future look like for #15028?

[2020-06-27 13:11] sethrj commented on #17270
@vvolkl The errors you're posting are the irrelevant ones from the configuring process. I think the actual error is this one:
[code]

Can you please attach the spack build out file? It looks like your three attachments are duplicates and don't include the configure/output line.

[2020-06-27 19:32] adamjstewart commented on #17281
This should be fixed by #16937. Can you update to the tip of develop and try again?

[2020-06-27 20:57] ax3l commented on #17152
@alalazo I wish I knew more, I just assisted @hartzell by merging #15343 :D

[2020-06-27 23:37] melven commented on #16728
Similar issue here.

System information:
* System: linux-ubuntu18.04-skylake_avx512
* Spack: 0.14.2-1583-d7c46d8c5
* CMake: at least 3.17.1 and 3.17.3

Building CMake in spack with GCC 10.1 reproduces the error above (segmentation fault in CTest).
Same CMake-Version built in spack with GCC 9.2.0 works as expected (no segfault).
Same CMake-Version built by hand with GCC 10.1 works fine (as already

[2020-06-27 23:51] #5397 closed

[2020-06-27 23:51] #13398 closed

[2020-06-28 16:43] vvolkl commented on #17270
Hi @sethrj, thanks for taking a look at this. For me the attachments are ok, but find here the whole file: https://cernbox.cern.ch/index.php/s/kz1RC8W7O3HjaCA

The configure line at the top is:

[code]

[2020-06-28 18:32] #17187 closed, assigned to nobody

[2020-06-29 02:51] becker33 commented on #17199
@nicholas-sly I think you know of someone working on a package for `totalview`, is that correct?

[2020-06-29 03:30] nicholas-sly commented on #17199
I have an initial version of the package file.  I'll try to shore it up on Monday and create a PR.  Another member of my team,  @francinelapid, was working on an IDL package.  I'll inquire with them on the state of it as well.

[2020-06-29 06:22] alalazo commented on #17273
@hartzell I hope it's almost in its final stage. Reviewing process has been slow due to other priorities so far, but with that I was able to e.g. produce a minimal size image of `gromacs+cuda` see https://hub.docker.com/repository/docker/alalazo/gromacs/tags?page=1

[2020-06-29 08:04] yellowhat commented on #17197
No sure, what is going on but:
[code]

[2020-06-29 12:27] cbontoiu opened #17294 "Installation issue: bin utils"
Hello, I am trying to install ```Spack``` on a cluster which seems to assume ```gcc@4.8.5``` as default. However I need Spack to be used by a code called ```PIConGPU``` whoose latest version makes use o ```gcc@7.4.0```.

I downloaded ``Spack``` through git, as git clone https://github.com/spack/spack.git volatile/src/spack, sourced the environment as source volatile/src/spack/share/spack/setup-env

[2020-06-29 14:53] #12665 closed

[2020-06-29 15:08] #17130 closed, assigned to nobody

[2020-06-29 15:27] scottwittenburg opened #17298 "Refactor: Database class as used for install or buildcache"
As discussed [here](https://github.com/spack/spack/pull/15002#discussion_r445932280), and now that the database class is used to read/write both the install database as well as the buildcache index, we should clean up how the database class uses InstallRecord (maybe creating a class hierarchy to include buildcache records as well as install records).

[2020-06-29 15:33] riscy768 opened #17299 "Cray shasta systems: Spack cannot detect architecture"
My team is enthusiastic to give Spack a chance to build packages for a pair of large Cray Shasta systems coming later this year.  On our test system, I am experiencing issues with what I think are the Spack initialization and craype recognition routines (possibly the cle-release file .... I was looking at issue [12178](https://github.com/spack/spack/issues/12187)) to come to this conclusion.

Spac

[2020-06-29 18:25] michaelkuhn commented on #17294
`gcc`'s `binutils` variant is off by default (see `spack info gcc`). Can you try `spack install gcc@7.5.0+binutils` (if your Spack is new enough, otherwise stick to `@7.4.0`)?

[2020-06-29 21:21] eugeneswalker opened #17301 "Cray: CompilerAccessError: cc CC ftn not executable"
Using `spack@develop` (commit id d71fdc9719f716347bb4d61e26e00368466f3aa4) on NERSC Cori Login node:

[code]

Same error when trying with `%gcc@9.2.0`.

Here is the spack-created compilers.yaml entry for gcc@8.3.0:
[code]

@becker33

[2020-06-29 22:05] cbontoiu commented on #17294
@michaelkuhn The same error appears with a fresh download of ```Spack``` downloaded as  ```  git clone https://github.com/spack/spack.git volatile/src/spack ``` and with ``` spack install gcc@7.5.0+binutils  ``` the same error appears. I don't know how to activate ```binutils``` and maybe this is not essential. All I wanted was to get some new version of gcc installed. I tried with
``` spack compi

[2020-06-29 22:13] michaelkarlcoleman commented on #15156
This seems like a rather obscure command to answer the fundamental question of "What modules do I have loaded?".  I searched the docs for quite a while and never did find it.  Just sort of lucked into it here.

It would be nice to add this everywhere "spack load" is used in the docs.  As in "here we load the module", and then "this is how we see it was loaded".

[2020-06-29 23:55] hainest opened #17304 "PermissionError with different side-by-side OSes"
I recently did an in-situ upgrade from Ubuntu 19.04 to 20.04. When I try to install packages for the new OS alongside the old ones, I get a PermissionError. I believe the issue is that the proper `mkdir` command is missing since that directory is owned by me and the base error message is "Operation not permitted" (i.e., it's not _really_ a permission error).

	$ spack install zlib
	==> 19225: Inst

[2020-06-30 01:26] #17301 closed, assigned to becker33

[2020-06-30 02:48] adamjstewart commented on #17299
Can you try running from the develop branch? [Several recent PRs](https://github.com/spack/spack/pulls?q=is%3Apr+is%3Aclosed+label%3Acray) have been merged to fix Cray support. These will be included in the next release (0.15) which is expected to come out any day now. @becker33

[2020-06-30 03:07] becker33 commented on #17299
I'm working on the release right now, ETA tonight. This issue sounds like it should be resolved by #12989, which is in the 0.15.0 release.

[2020-06-30 08:32] michaelkuhn commented on #17294
What kind of system are you trying this on? Please paste the output of `spack debug report`.

[2020-06-30 08:36] cbontoiu commented on #17294
@michaelkuhn

![image](https://user-images.githubusercontent.com/7108691/86103854-32a8ed80-bab5-11ea-9189-22d5e73365e7.png)

There is also this hint

![image](https://user-images.githubusercontent.com/7108691/86104132-8adfef80-bab5-11ea-939c-0d0f2de5136f.png)

[2020-06-30 12:36] michaelkuhn commented on #17294
Thanks!

I just tried building `gcc@7.5.0` (and `@9.3.0`) on our CentOS 7 machines and got different results than you:
- Without binutils, it works fine.
- With binutils, I get the same error as you.

It seems there is some difference between our CentOS installations. There is also a long issue about similar problems (#1866).

[2020-06-30 14:12] ptaffet opened #17311 "Installation issue: mpfr"
### Steps to reproduce the issue

[code]
I looked into the issue a little, and the `package.py` file does specify `force_autoreconf = True`, which seems to be what is needed. `aclocal` does get called, which I think should regenerate the file, but clearly that's not working.

I was able to build it directly from the stage directory, but I think that was using libtool 2.4.2.

### Information on you

[2020-06-30 14:28] ptaffet commented on #17311
Modifying the `package.py` to depend on `libtool@2.4.2` instead of `libtool` does fix the issue, but I think that's not the right way to do it.

[2020-06-30 19:26] #7311 closed

[2020-06-30 20:39] glennpj opened #17315 "the containerize command does not activate the environment"
The `spack containerize` command will output the following to the Dockerfile:
[code]
But since #17258 the environment will need to be activated for the install to succeed.

[2020-06-30 21:58] chchang6 commented on #17281
Just pulled today, and looks like mpfr is installing as hoped. Thanks!

From: "Adam J. Stewart" <notifications@github.com>
Reply-To: spack/spack <reply@reply.github.com>
Date: Saturday, June 27, 2020 at 1:33 PM
To: spack/spack <spack@noreply.github.com>
Cc: Christopher Chang <Christopher.Chang@nrel.gov>, Author <author@noreply.github.com>
Subject: Re: [spack/spack] Installation issue: mpfr (#17281

[2020-06-30 21:59] #17281 closed, assigned to nobody

[2020-06-30 22:40] jrmadsen opened #17319 "Auto-find system libraries"
This may already be in the works or suggested already but here goes...

### Rationale

It is kind of annoying to generate packages.yaml files like this:

[code]

### Description

There would be a spack command like `spack system find cmake` that would create the `packages.yaml` entry.
This `spack system find` command could have options like `--buildable <bool>`.

I want to propose a `def find_syst

[2020-06-30 22:53] jrmadsen commented on #17319
It actually looks like there is already a way to determine the spec info in `cmake/package.py`:

[code]

This makes it easier. Maybe just something like:

[code]

[2020-06-30 22:55] jrmadsen commented on #17319
Also something like `spack system list cmake` would be nice to list everything that might be generated

[2020-06-30 23:17] #17315 closed, assigned to becker33

[2020-06-30 23:20] becker33 commented on #17319
I think what you want is the `spack external find` command.

I'm going to close this issue as we already have this functionality. It is supported on a package-by-package basis, so PRs are welcome to add it to packages you care about.

[2020-06-30 23:20] #17319 closed, assigned to nobody

[2020-07-01 01:32] chchang6 opened #17322 "Installation issue: openmpi@3.1.6 %gcc@8.4.0"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.14.2-1624-212299a
* **Python:** 3.6.8
* **Platform:** linux-centos7-skylake_avx512

packages.yaml:
[code]

### Additional information
* The build fails during UCX installation.
* I'm also confused why UCX is being built without CUDA, since OpenMPI is being requested with it.
* Not sure why shmem.h is being inc

[2020-07-01 02:25] jrmadsen commented on #17319
@becker33 Good to know it exists, doesn't seem to do anything though:

[code]

So where is the info on how to do this?

[2020-07-01 06:05] 1fish2 commented on #9446
Geeze. I ran into this problem on CentOS 3.10.0 while `spack install python@3.8.3` was trying to install perl to install openssl and likewise while it was trying to install gettext.

@Sinan81's post and the linked [serverfault answer](https://serverfault.com/a/293231/525862) rescued me after days of testing hypotheses and searching for answers! (Spack's dependency management rescued me after more

[2020-07-01 08:38] cedricchevalier19 opened #17325 "Installation issue: gcc@8.,3.0 with centos7 default compiler"
### Steps to reproduce the issue

[code]

### Information on your system

$ spack debug report
* **Spack:** 0.15.0
* **Python:** 3.6.8
* **Platform:** linux-centos7-broadwell

### Additional information

Related to #3943 and #1866 which were not properly fixed but *avoided*.

PR #9024 solves this issue. (and I think +binutils should become the default).

Maintainer is @michaelkuhn .

### General i

[2020-07-01 08:48] navdeeprana opened #17326 "Installation issue: Paraview fails on cmake."
I am trying to install paraview with cuda support, which fails with the following cmake error

[code]

### Steps to reproduce the issue
[code]

### Information on your system

[code]
### Additional information

I have cuda locally installed, with the following in my `.spack/packages.yaml` :
[code]

[spack-build-env.txt](https://github.com/spack/spack/files/4856724/spack-build-env.txt)
[spack-build

[2020-07-01 11:22] michaelkuhn commented on #17294
Turns out my Spack repository was not up-to-date. Now that I have pulled a new version including commit cc284934490cfbf3bce53c0a0ae3c6997098c47c, I get the failure both with and without binutils.

[2020-07-01 13:06] alalazo commented on #17319
@jrmadsen [Here](https://spack.readthedocs.io/en/latest/build_settings.html#cmd-spack-external-find) you can find documentation on the feature, while [here](https://spack.readthedocs.io/en/latest/packaging_guide.html#making-a-package-discoverable-with-spack-external-find) it is explained how to make a package discoverable. Also, there's #16526 that extends on previous work done on external package

[2020-07-01 17:18] s-sajid-ali commented on #17322
Regarding ucx being built without cuda support : the [current recipe](https://github.com/spack/spack/blob/develop/var/spack/repos/builtin/packages/openmpi/package.py) for `openmpi` does not pass the `+cuda` variant to the dependent `ucx` spec. Could you open a PR which adds the following line to fix the same ?
[code]

I'm not sure why `MPICC` is being set, this could have something to do with the

[2020-07-01 18:56] chchang6 commented on #17322
Hi Sajid, thanks. Yeah, I just tried a UCX install with
[code]
based on the spec for an openmpi@3.1.6 install, and got the same error.

Will put in the PR shortly.

[2020-07-01 19:59] riscy768 commented on #17299
I installed v0.15 today.  I'm still having problems. Running the initialization, it looks like something is still broken and it doesn't recognize my platform.  Oddly, at v0.14, I could at least unload craype and not get this error (see below this error.)

ln01-nmn:/apps/spack/spack-0.15.0/share/spack # . ./setup-env.sh
Traceback (most recent call last):
  File "/apps/spack/spack-0.15.0/bin/spack",

[2020-07-01 20:15] s-sajid-ali commented on #17322
@chchang6 : Looking more closely at the logs, it looks like the installation of ucx fails in the `mpi-tests` phase. I wasn't able to reproduce this and looked at the configure script for the 1.8.0 release. These tests are disabled by default unless enabled by `--with-mpi` or if `MPICC` (and friends) are detected.

Could you check the values of these environment variables are present before running

[2020-07-01 21:48] becker33 commented on #17304
Do you have debug output from `spack -d install zlib` that you could paste in here? That will really help to quickly figure out what operation is causing the problem.

[2020-07-02 04:12] Sinan81 opened #17342 "Installation issue: Gunrock"
### Steps to reproduce the issue

At first glance this doesn't seem to be a Spack issue, but just in case I will report it here, and  contact Gunrock developers soon.

[code]

### Information on your system

The error is system independent

[code]

### Additional information

A  longer debug output is:
[code]
### General information

- [x] I have run `spack debug report` and reported the version o

[2020-07-02 08:52] Sinan81 commented on #17342
Not a spack problem. Closing.

[2020-07-02 08:52] #17342 closed, assigned to nobody

[2020-07-02 08:53] vkallesh commented on #17247
Could you please help to check this issue?

[2020-07-02 16:02] chchang6 commented on #17322
@s-sajid-ali It appears to happen during Spack environment activation:
[code]
Happens even after I remove the two "noarch" partial failed openmpi builds.

[2020-07-02 18:18] mpbelhorn commented on #14779
I was able to build `rdma-core@28.0` (new version added to package locally) with Intel 19.0.3 on a RHEL8 x86_64 box via spack v0.14.2 but it required a couple of patches:

[code]

The first bit of the patch overcomes an issue where some of the pre-built docs don't actually exist and CMake fails the build because it cannot find them. An alternative to patching out the line to install the missing do

[2020-07-02 18:19] glennpj opened #17354 "spack create downloads all versions"
Beginning with commit 08f449ae9a4b18e5a8c1056278b6e925d1760678, PR #14311, the `spack create` command no longer prompts for the number of versions to use. Instead, it proceeds to download and checksum everything that it finds.

On an older version of spack:
[code]

With the latest develop:
[code]

[2020-07-02 18:20] glennpj commented on #17354
This might be specific to github downloads.

[2020-07-02 22:12] Sinan81 commented on #11370
Thanks! I was just looking for this. Can this be mentioned in Spack docs along side ubuntu/centos ? It seems Alpine is very popular.

[2020-07-03 09:56] #17294 closed, assigned to nobody

[2020-07-03 13:25] KineticTheory opened #17370 "Installation issue: eospac@6.4.0 % gcc@10.1.0"
### Context

* I have no problem building `spack install eospac@6.4.0 % gcc@7.5.0`
* On a different machine I have successfully build this version with intel-17, intel-18, intel-19, gcc-6.4.0, and more.  This issue seems to be specific to `gcc@10:`.

### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.15.0
* **Python:** 3.6.9
* **Platform:** linux-ubuntu18.04-i

[2020-07-03 13:29] KineticTheory commented on #10384
I'm also seeing this issue when using a mixed compiler toolchain (clang@10.0.0 and gfortran-7.5.0).  I was attempting to build `openmpi@3.1.6 % clang-10.0.0`. Adding `-fPIC` fixed this issue for me:

[code]

[2020-07-03 13:43] yellowhat opened #17371 "Installation issue: intel-mpi"
[code]

Maybe releated to https://github.com/spack/spack/pull/17248?

Thanks

[2020-07-03 16:38] certik commented on #17370
Thanks for the report @KineticTheory. I don't have time right now to debug it unfortunately.

[2020-07-03 20:48] mwkrentel commented on #17311
@ptaffet See #13792 and #13903.

Back then (Nov 2019), the problem was using an external package (perl,
cmake) from /usr put /usr/bin early in your path, so building mpfr
would pick up /usr/bin/libtool instead of the spack-built libtool.
This is an awkward problem for spack because you want to use
/usr/bin/perl but not /usr/bin/libtool.

This was fixed in Nov 2019 in #13903, so unless you're using

[2020-07-04 15:57] hartzell commented on #17152
Note that @AndrewGaspar's big rust cleanup includes a bit that deletes the llvm dependency:

https://github.com/spack/spack/pull/16185/files#diff-0fe83e4d90bf103731e9cb531114778cL28-L31

(That link doesn't work that well....  Search down through the PR for ripgrep/package.py and notice the deletion of L28-L31)

[2020-07-04 16:18] AndrewGaspar commented on #17152
Yeah, I removed all but the most recent versions of each Rust package (we can change this if desired), and, as noted, it no longer requires llvm to build.

[2020-07-05 10:58] tz-rrze commented on #17371
#17378 only fixed half of the problem;
ea8a0be4 introduced yet an other problem. In line 70 of ``var/spack/repos/builtin/packages/intel-mpi/package.py`` is must read
[code]
instead of
[code]
i.e. **undescore** instead of **dot** before wrappers

[2020-07-05 16:09] #17371 closed, assigned to adamjstewart

[2020-07-06 04:38] Sinan81 commented on #11370
How do we build the above mentioned spack alpine image? Can you provided specific instructions. I am not super familiar with Docker.

[2020-07-06 05:23] Sinan81 commented on #11370
I just combined the above mentioned steps with the recipe in Spack centos7 dockerfile:
[code]

In order to build it one needs to put the Docker file in a fresh clone of spack repo:
[code]
Aterwards one can enter interactive shell via
[code]

[2020-07-06 05:26] vsoch commented on #11370
hey @Sinan81 ! I was just testing this for you, but it seems that your computer is faster than mine. The above recipe is actually for a  [Singularity](https://sylabs.io/guides/3.5/user-guide/build_a_container.html#creating-writable-sandbox-directories) container, meaning that we get layers from Docker and dump them into a root folder and build into a sif binary. To do that:

[code]
where `Singular

[2020-07-06 05:35] Sinan81 commented on #11370
@vsoch Thanks a lot! Appreciate it. Your version of Dockerfile looks simpler, which is great. As you guessed, I had an issue with python, for which quick fix was to go back to alpine:3.10 . Thanks for suggesting the proper way to fix it.

[2020-07-06 05:58] tgamblin commented on #8635
@alalazo @becker33: Does #13920 address this somewhat?

[2020-07-06 07:49] vvolkl opened #17390 "Installation issue: root+r builds with -Dr=OFF"
@chissg @HadrienG2 @drbenmorgan `spack install root+r`  does not actually build root with `-Dr=ON`. Not sure if it is a dependency issue or concerns the logic in the recipe. I think this should be easily reproducible, but let me know if you need more details on the configuration

[2020-07-06 12:40] 70akaline opened #17394 "F18 install failed, the source directory does not appear to contain CMakeLists.txt"
I think this issue is caused by f18 merged to llvm main repository

### Steps to reproduce the issue

[code]

### Error Message

[code]

### Information on your system

[code]

[code]
### Additional information

- [x] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [x] I have searched the issues of this repo and believe this is not a duplicate
- [x] I have run t

[2020-07-06 15:27] glennpj opened #17396 "maintainers are passed when using cuda"
When using the cuda build system, the maintainers are passed through to the package in the output of `spack info`. This began with ~~#15301~~ #15031, but that is probably only because that PR added the `maintainers` field to the cuda build system. The cuda build system lists the following maintainers:

[code]

When using the cuda build system, such as in a mixin, those are propagated.
[code]
even

[2020-07-06 15:30] alalazo commented on #17396
@glennpj I think the PR you are referring to is #15031 not #15301

[2020-07-06 15:32] alalazo commented on #17396
@ax3l @svenevs

[2020-07-06 15:34] eugeneswalker commented on #17325
I'm having the same problem, using `spack@develop` (b3bc538df649c5b6bfaba697b70cf874da454c26 from `2020-07-06`) on all the following platforms:
* CentOS 7, CentOS 8 (x86_64 and ppc64le)
* RHEL 7, RHEL 8 (x86_64 and ppc64le)

I'm trying to build gcc@7.3.0 using the system compiler in each of these environments. It is failing in all cases with same error.

<b>CentOS 7 using system compiler gcc@4.8.5

[2020-07-06 16:14] glennpj commented on #17396
@alalazo Yes, thank you.

[2020-07-06 18:02] #17325 closed, assigned to nobody

[2020-07-06 20:55] #5114 closed

[2020-07-06 21:16] svenevs commented on #17396
I'd rather not be default maintainer on anything using CUDA, only brought in if it's actually a CUDA issue.

[code]

However, `py-pip` doesn't have any maintainers, if `person` became maintainer of `PythonPackage` then we'll hit the same thing and would need to specialize that too.  Is there a way to detect instead if the "child package" itself?  If so, then we don't need to special-case:

[code]

[2020-07-07 00:52] becker33 commented on #212
To the extent this is for finding arbitrary packages, I think it is satisfied by #15158 and #16526.

To the extent this is for finding Spack packages installed by a separate instance, I think this is covered by #8772.

If you think this proposal should be considered separately from the linked issues, feel free to reopen it and ping me.

[2020-07-07 00:52] #212 closed

[2020-07-07 02:22] adamjstewart commented on #17396
I would rather keep the ability to pass maintainers through from the build system in case I ever go crazy and decide to maintain every Python package 😄

What if we simply comment out `maintainers` in `CudaPackage`? That way no one will be automatically notified once my maintainer bot lands, but we'll still know who to contact by inspecting the build system?

[2020-07-07 08:31] alalazo commented on #17396
I agree with Adam, let's not special case the treatment of the `maintainers` attribute in `CudaPackage`.

Can't we remove `maintainers` completely and add a note to `CudaPackage` docstring:
[code]
or more seriously:
[code]
?

[2020-07-07 10:09] alalazo opened #17403 "Remove explicit version enumeration in "containerize" related code"
As a maintainer I want to remove the explicit enumeration of Spack versions in:

- https://github.com/spack/spack/blob/develop/lib/spack/spack/container/images.json
- https://github.com/spack/spack/blob/develop/lib/spack/spack/schema/container.py

so that there will be one place less to update when cutting a new release.

### Rationale
Recently the release process has been documented, with TODO fo

[2020-07-07 11:56] alalazo opened #17405 "The fixture "mock_gnupghome" fails at times during cleanup"
Recently there have been a few CI jobs failing at times during the cleanup phase of the `mock_gnupghome` fixture. An example of a job that failed in that way is:
- https://github.com/spack/spack/runs/842564816

### Steps to reproduce the issue

The error occurs sporadically during our CI jobs on Github.

### Error Message

The relevant part of the error message is:
[code]

### Information on your

[2020-07-07 12:13] alalazo opened #17406 "Add unit tests for a bug in binary string replacement"
This is just a reminder to add unit tests for #17075 and #17418 which fixed a bug in binary string replacement but didn't add any new test to avoid regression.

The corresponding issue is #17041

[2020-07-07 14:49] awacha opened #17407 "Permission error when activating environment by a different user"
We have a Spack installation on our NFSv4 cluster. When a user tries to activate an environment, sometimes it fails with a PermissionError as Spack tries acquire a read-only lock on the .spack-env/transaction_lock file.

### Steps to reproduce the issue
1. Log in to a compute node under a different user than the owner of the .spack-env directory.

2. Try to activate an environment:
[code]

3. See

[2020-07-07 15:58] svenevs commented on #17396
Docs solution works for me! Thanks :slightly_smiling_face:

[2020-07-07 16:01] alalazo commented on #8635
@tgamblin Yes, I think #13920 addresses this issue:
[code]

[2020-07-07 17:30] ax3l commented on #17396
Same here, thanks :)

[2020-07-07 17:48] riscy768 commented on #17299
We need more documentation for standup of Cray systems with release 15.  I had to hack around a bit but finally resolved that I needed to set SPACK_FRONT_END and SPACK_BACK_END only to hit a different issue.  In operating_systems/cray_backend.py line 100 specifies the "RELEASE" from the cle-release file.  This value does not exist in the cle-release file.  By the way, on Shasta, I had to set SPACK

[2020-07-07 18:22] opadron commented on #17041
I was just affected by this exact bug.  I created a buildcache entry for perl with

[code]

in my `spack.yaml`.

Then, I try to install from that binary on another spack instance installed under `/spack`, with the default install prefix (`/spack/opt/spack`).

In this case, the RPATH in perl is not rewritten at all.  It's still just `/sw/spack_path_placeholder/spack_path_placeholder/...`, so my ins

[2020-07-07 18:28] gartung commented on #17041
The replacement is done here
https://github.com/spack/spack/blob/6c300ab717d7bea6bf05cf8090b37a3d092a8b27/lib/spack/spack/relocate.py#L509
It does not seem to work unless there is text before and after the $padding.

[2020-07-07 18:30] gartung commented on #17041
If you can figure out the actual bug I would be grateful.

[2020-07-07 18:32] riscy768 commented on #17299
Are there other portions of configuration I'm missing here?  I've been able to get intel and gcc to build (via direct calls to their executables (not via the PrgEnv-intel or PrgEnv-gcc wrappers through Cray's cc/CC/ftn).

Donald.Duck@ln01-nmn:~/spack-develop/share/spack> spack install zlib %cce
self._avail_targets -> zen
SPACK_BACK_END -> zen
self._avail_targets -> zen
SPACK_BACK_END -> zen
==> 13

[2020-07-07 18:33] gartung commented on #17041
It's not an rpath replacement issue. You can check that with patchelf. The problem is that perl compiles in a default path to find modules. It fails to do the binary string replacement because the regex does not match for some reason.

[2020-07-07 18:35] gartung commented on #17041
Can you add the error messages you get from perl. It would show if the module path was not replaced at all or replaced incorrectly.

[2020-07-07 18:42] opadron commented on #17041
[code]

and here's the relevant part of the binary dump, showing that the path was not replaced at all:

[code]

[2020-07-07 18:45] #17396 closed, assigned to nobody

[2020-07-07 18:47] gartung commented on #17041
Can you show the binary block with the end of the path or run ```strings perl```. Seeing the pattern of the placeholded might help debug why it is not being replaced.

[2020-07-07 18:49] gartung commented on #17041
There must be some environment variable that perl can use to find its modules.

[2020-07-07 18:52] gartung commented on #17041
Ah I see that the rpath is not set correctly either.
Something about replacing $padding:n is the paths is not working as expected.  Did you test the perl in the original install with the padding?

[2020-07-07 18:54] opadron commented on #17041
This is the output from the strings command:

[code]

I have not tried that, yet.  I'll try it now and report back.

[2020-07-07 19:25] opadron commented on #17041
Tried it with the original install and everything was fine.

[2020-07-07 20:45] gartung commented on #17041
@opadron can you give #17418 a try.

[2020-07-08 07:38] #17354 closed, assigned to adamjstewart

[2020-07-08 09:50] iWangJiaxiang commented on #4934
Hi, is there any plan to implement url repo support recently?

[2020-07-08 10:46] alalazo commented on #15848
https://github.com/spack/spack/pull/16526#issuecomment-654362857 is another interesting case for an how to (Rust)

[2020-07-08 10:50] tbennun commented on #8635
Thanks! I also think this helps, but had I not been subscribed to this issue, I would never have known the exact syntax and that this is possible. Did you / are you planning to add some note for this in the docs?

[2020-07-08 11:09] alalazo commented on #15848
https://github.com/spack/spack/issues/8635#issuecomment-654962710 "How to set a default compiler from CLI"

[2020-07-08 11:20] haampie commented on #6759
Actually this issue comes up again in [Rootless Docker](https://docs.docker.com/engine/security/rootless/), which is probably what a lot of people will be using when Docker 20.x comes out. For instance:

[code]

I can reproduce it with

[code]

using Rootless Docker version
[code]
Maybe we should just go for `--no-same-owner` by default, also outside of Docker. I don't immediately see any reason w

[2020-07-08 15:16] tgamblin commented on #8635
I actually think it might help to add something to the `spack compiler` command for this one.  Some sugar around the
`spack config` command as suggested in the original issue.

Do you like `spack compiler default` or `spack compiler prefer` better?

[code]

That said, we should probably hold off on implementing this (or something like it) until after #15569 and #16526 are in, as they will change h

[2020-07-08 15:42] opadron commented on #17041
That seems to have fixed the problem for me.  Thanks!

[2020-07-08 19:51] scheibelp commented on #17299
@becker33 is this still a problem?

[2020-07-08 20:23] scheibelp commented on #15464
We have #3508 on our project board so I will close this since #3508 is considered to cover this

[2020-07-08 20:23] #15464 closed

[2020-07-08 21:05] spiani commented on #16689
I think that this bug is still present! Has anybody found a solution or, at least, a workaround?

[2020-07-08 21:43] ptaffet commented on #17311
Hi Mark,
I was running this on NOTS at Rice. It's a RHEL 7.6 (`linux-rhel7-ivybridge`) system. My copy of spack was pretty new (the day I posted the issue, or maybe one day before).

`type -a libtool` reports `libtool is /usr/bin/libtool`, and `/usr/bin/libtool --version` reports `libtool (GNU libtool) 2.4.2`.

My `packages.yaml` is:
[code]

(I didn't realize how useful `packages.yaml` could be un

[2020-07-08 22:40] becker33 commented on #17299
I don't know. I haven't looked at this since the v0.15.0 release.

@riscy768 do you know whether the operating system is the same on the FE and BE nodes on the systems you're discussing? I know Cray has been making some changes to their programming environment, but I don't have access to a Shasta system to debug on.

[2020-07-08 22:59] #7121 closed

[2020-07-09 02:10] haampie opened #17432 "spack rebuild seems to use wrong python version when it is in the environment"
### Steps to reproduce the issue
Have a spack.yaml + .gitlab-ci.yml file like https://gitlab.com/cscs-ci/ci-testing/spack-ci/-/tree/839a2aa3794865671060c8431175f01bae8ba4b8.

- This builds `hpx`.
- `hpx` has down the line a dependency on Python
- I believe this confuses spack in the `spack rebuild` step, making it fail to locate the `botocore` module and error next as follows

To isolate the probl

[2020-07-09 09:54] iWangJiaxiang opened #17438 "Failed to fetch OpenFoam source code"
OpenFoam source code fetch url gets redirected because of sourceforge.

The link <https://sourceforge.net/projects/openfoam/files/v2006/OpenFOAM-v2006.tgz> will be led to

![image](https://user-images.githubusercontent.com/19409802/87025610-35ba8100-c20d-11ea-9e96-510d5ba30cce.png)

### Steps to reproduce the issue

[code]

### Error Message

[code]

### Information on your system

### Additional

[2020-07-09 10:31] haampie commented on #17432
It seems I can make it work by making `spack ci generate` output `spack env activate --without-view .` s.t. python does not land in the path.

[2020-07-09 12:22] iWangJiaxiang opened #17441 "Installation issue: can't install intel package when existing manually installed intel-parallel-studio"
In my cluster, intel parallel studio has been manually installed before. When I tried to install intel package using spack, it failed because of detected exsiting intel installation.

I checked [Uninstall Intel® Compiler for Linux* When uninstall.sh is Missing or...](https://software.intel.com/content/www/us/en/develop/articles/uninstall-intel-compiler-for-linux-when-uninstallsh-is-missing-or-not-

[2020-07-09 12:25] ChristianTackeGSI commented on #16514
We had an alike report in our group. But I can't reproduce this.

* `docker run --rm -it ubuntu:18.04`
* `apt-get install --no-install-recommends` a bunch of basic things like git, python3, gcc, libc6-dev, make, patch, ca-certificates.
* `cd /tmp && git clone https://github.com/spack/spack`, `cd spack`, `git checkout releases/v0.14`, `. ./share/spack/setup-env.sh`
* `spack install git`, `spack loa

[2020-07-09 12:32] ChristianTackeGSI commented on #16514
Okay, if re-installing system git, I can get:
[code]

But that is a completely different error.
It's related to IMHO too much LD_LIBRARY_PATH-setting, while RPATH/RUNPATH should just have worked.

[2020-07-09 16:23] ChristianTackeGSI commented on #3955
I stumbled over this, because LD_LIBRARY_PATH breaks nearly anything using ncurses on my Debian-10 machine:

[code]

So I would like to blacklist LD_LIBRARY_PATH for `spack load`. I just haven't found an easy way to do that?

And on the other side, modules.yaml / prefix_inspections doesn't seem to be honored.

[2020-07-09 19:43] eugeneswalker commented on #17041
I am still seeing issues using `spack@develop` (commit ce9d30f80fb8c0a323895bdcee9270420fde8f81 from 8-July-2020).

Here is an example of what I'm seeing:

Using `bmi%gcc@7.5.0`: [bmi.spec.yaml.txt](https://github.com/spack/spack/files/4899087/bmi.spec.yaml.txt)
Build cache: `https://cache.e4s.io/e4s-long-path`
Pub key: `https://oaciss.nic.uoregon.edu/e4s/e4s.pub`

I have all the dependencies pre-

[2020-07-09 19:48] gartung commented on #17041
@eugeneswalker Can you check to see if you are using the head of develop. Also the install tree should at a minimum have something in front of $padding. Did you check that the rpaths in the relocated binary were changed?
Can you try this in spack build_env and show that the perl binary is not configured correctly.
From the error message it looks like it is missing a file.

[2020-07-09 19:52] jxy commented on #16514
Tried again (reinstalled) after updating to spack 0.15.0.  Still the same.  Only built remotes are

[code]

Apparently some dependencies are not satisfied.

[2020-07-09 19:58] jxy commented on #16514
If you have any of the `git-remote-{ftp,ftps,http,https}` built, perhaps checking their library dependencies would reveal something.

How do I save the output from `configure`?  I can try to look at it when I get around.

[2020-07-09 19:58] eugeneswalker commented on #17041
I tried again using head of develop, so right now: d0f5b69a19236ea3c17dd306708d6ece43283501

**It works** when `install_tree` is:
* `/blah/$padding:500`
* `/$padding:500`
* `/$padding:639` <--- note: 639

**It fails** when `install_tree` is:
* `/$padding:640` <-- note: 640 (fails with same error as my post above)

This is a fairly new build cache, and all the binaries in it were built with `instal

[2020-07-09 20:01] eugeneswalker commented on #17041
What I'm saying is, all the binaries in https://cache.e4s.io/e4s-long-path were originally built with `install_tree: /$padding:640`. For the purposes of the pipeline, all subsequent rebuilds are also taking place with the same install tree. And that is where this issue is cropping up.

[2020-07-09 20:14] gartung commented on #17041
Is this only happening for the ppc64le arch?
 If this also happens for x86_64 arch I would be able to download the buildcaches and debug the install.

[2020-07-09 20:16] eugeneswalker commented on #17041
Also happening for x86_64, yes. You can use this image: `ecpe4s/ubuntu18.04-runner-x86_64:1.0` which has gcc@7.5.0 ready -- you would have to clone spack, add the build cache, and get the key. Use this bmi spec for x86_64: [bmi-x86_64.spec.yaml.txt](https://github.com/spack/spack/files/4899299/bmi-x86_64.spec.yaml.txt) . All its dependencies are in the mirror @ https://cache.e4s.io/e4s-long-path

[2020-07-09 20:18] gartung commented on #17041
I will try to take a look at this tomorrow.

[2020-07-09 21:14] #17322 closed, assigned to nobody

[2020-07-09 21:48] gartung commented on #17041
When you create the buildcache what is the value of install_tree?

[2020-07-09 21:48] gartung commented on #17041
Do you know what the maximum value of $padding can be?

[2020-07-09 21:56] gartung commented on #17041
@scottwittenburg what is the maximum value for $padding?

[2020-07-09 21:59] eugeneswalker commented on #17041
All the binaries *should* have been created with `install_tree: /$padding:640` -- written exactly that way (i.e.: with the "/" preceding $padding)

[2020-07-09 22:09] frankwillmore commented on #16707
[code]
Still seeing this with v0.15.0

[2020-07-09 22:10] gartung commented on #17041
Just making a wild ass guess here but the path computed for /$padding is different when installing the buildcache:
https://github.com/spack/spack/blob/e0572a7d96402b7d3ed4f6ad373aa785a8ca76e7/lib/spack/spack/util/path.py#L132

[2020-07-09 22:11] gartung commented on #17041
Or I am comparing the original path and new path with less than instead of less than or equal.

[2020-07-09 22:29] gartung commented on #17041
@eugeneswalker I am getting this error
 spack buildcache list
==> Finding buildcaches at https://cache.e4s.io/e4s-long-path/build_cache
==> Error: Failed to read index https://cache.e4s.io/e4s-long-path/build_cache/index.json

Can you run
```spack buildcache update-index -d MIRROR_URL, --mirror-url MIRROR_URL```

[2020-07-09 22:39] gartung commented on #17041
I managed to download the spack file for perl. I see that you used relative rpaths. I know for relative rpaths I reconstruct the absolute path in the original install_tree and directory layout. Then I calculate the relative rpath in the new install_tree and directory layout. The off-by one working makes me suspect the recalculation is not right.

[2020-07-09 22:44] gartung commented on #17041
In the binary_distribution file I see
[code]

[2020-07-09 23:26] eugeneswalker commented on #17041
So that looks right, right? The length of `buildpath` in the quoted snippet, is 641 = "/" + $padding:640. So I should be able to install that package to `install_tree: /$padding:640` right?

As an experiment just now, what I did was rebuild all of bmi+its dependencies manually, installed to `/$padding:640` -- then I created a local filesystem build cache of that, deleted the local install, re-inst

[2020-07-09 23:29] gartung commented on #17041
What is the url for the e4s public key?

[2020-07-09 23:32] gartung commented on #17041
When I run that path through wc I get 642 but that may include the endline.

[2020-07-09 23:36] eugeneswalker commented on #17041
https://oaciss.nic.uoregon.edu/e4s/e4s.pub

[2020-07-09 23:36] eugeneswalker commented on #17041
I think so.

[2020-07-10 00:06] gartung commented on #17041
When I run ```perl -V``` with the relocated perl binary it reports the correct ```@INC``` paths.

[2020-07-10 00:27] gartung commented on #17041
All I can tell is that the prepare script does not seem to run correctly when invoked by the autoreconf function override in the bmi package.

[2020-07-10 00:30] gartung commented on #17041
This is what I see in spack-build-out.txt
[code]

[2020-07-10 00:34] gartung commented on #17041
[code]

[2020-07-10 00:36] gartung commented on #17041
I am installing using /tmp/spack so the spack prefix is not getting replaced in the sbang expression.

[2020-07-10 01:00] becker33 commented on #16707
`spack arch` should not be responding to `module load` commands, as it inspects the default target when a new user logs in to the system. I'm guessing that for Theta that's haswell, since it is for every other XC40 system.

[2020-07-10 01:16] gartung commented on #17041
@eugeneswalker give this a whirl https://github.com/spack/spack/pull/17455

[2020-07-10 01:56] eugeneswalker commented on #17041
That did the trick!

[2020-07-10 03:08] adamjstewart commented on #17438
@olesenm

[2020-07-10 03:14] adamjstewart commented on #17199
There's definitely some folks at ANL who would like to see molpro/qchem/vasp packaged.

I think @svenevs had some interest in `tensorrt`

[2020-07-10 03:28] #17041 closed, assigned to nobody

[2020-07-10 10:44] ChristianTackeGSI opened #17457 "List of prefix_inspections duplicated"
spack currently has two places that list `prefix_inspections`:

1. `etc/spack/defaults/modules.yaml` (and `etc/spack/defaults/darwin/modules.yaml`) contains `modules:prefix_inspections`.
2. `lib/spack/spack/user_environment.py:prefix_inspections()` has nearly the same list, just as python code.

There should be only one place to maintain such a list.

[2020-07-10 11:49] RemiLacroix-IDRIS commented on #16035
Worked for me!

[2020-07-10 13:59] robertosussex opened #17460 "spack hangs on centos 7 probably a lock error"
Hi there,

I have installed spack on the login node of our cluster. It was working fine. However, after and NFS remount of the home directories where the user have their data (including mine) spack hangs. For instance

 source share/spack/setup-env.sh
-bash-4.2$ spack --debug find
==> [2020-07-10-14:43:38.701278, 25090] Imported find from built-in commands
==> [2020-07-10-14:43:38.702756, 25090] I

[2020-07-10 16:01] frankwillmore commented on #16707
Never mind the module load. I thought that spack was detecting from environment, but now it's not clear to me where it gets finds the default target.

The login nodes on theta are Haswell, yes, but the default target should be cray-cnl6-mic_knl. This was the case with v0.14.2 and previous versions of spack, so it seems something has changed.

[2020-07-10 16:38] becker33 commented on #16707
When you log into the system, what modules are loaded?

[2020-07-10 18:39] olesenm commented on #17438
Not sure what is going on here. Are you able to fetch one of the older versions? Just to identify where the problem is

[2020-07-10 18:40] olesenm commented on #17438
Looks like the sha might have changed somewhere along the way.

[2020-07-10 18:45] becker33 opened #17464 "Less verbose installs"
Currently, Spack reports curl "errors" when searching for binary packages in the source mirror.

These should instead fail silently, as they are expected behavior.

### Rationale

The current behavior scares users and causes unnecessary bug reports.

We already have `--no-cache` and `--cache-only` options for users who are not okay with packages failing over to source.

[2020-07-10 19:41] frankwillmore commented on #16707
[code]
and on iota as well:
[code]

[2020-07-10 22:52] frankwillmore opened #17469 "buildcache for foreign architecture no longer readable"
I generated a buildcache with cnl7 (alcf iota), copied the mirror to a cnl6 system (alcf theta) and tried to list packages.
When building the cache with spack v0.14.2, I was able to view the packages, but not install. When building with v0.15.0, I am neither able to view nor install.

### Steps to reproduce the issue

[code]

tgamblin:
it’s complaining about the OS difference so I believe it shoul

[2020-07-11 05:26] nithintsk opened #17471 "Unable to use spack install in Mock environments without tty"
I am using spack in a mock environment to create binaries for different mellanox driver versions of a custom package.

spack install runs into the below error in the mock environment because it is not a tty.
[code]

### Steps to reproduce the issue

[code]

### Possible cause
https://bugzilla.redhat.com/show_bug.cgi?id=843434

**I managed to resolve the error and proceed with the installation by m

[2020-07-12 13:36] adamjstewart commented on #7970
Closing this issue as it is essentially equivalent to:
https://github.com/spack/spack/issues?q=is%3Aissue+is%3Aopen+label%3Avirtual-dependencies

[2020-07-12 13:36] #7970 closed

[2020-07-12 13:37] adamjstewart opened #17475 "Unable to extend virtual dependencies"
Two core tenets of Spack are the idea of virtual packages (where multiple implementations of a library provide the same API) and extensions (where a package can be symlinked to a dependency prefix). Unfortunately, these two tenets are currently incompatible, and virtual dependencies cannot be extended.

### Rationale

There are many extendable packages in Spack that either have virtual dependencie

[2020-07-12 16:59] tgamblin commented on #17475
Thanks for making this!

[2020-07-12 18:28] vdikan commented on #6799
I regret to inform that the app seems broken again.

[2020-07-12 20:07] Julius-Plehn commented on #17438
Yes, the hash of `8831dfc58b0295d0d301a78341dd6f4599073d45.patch` changed to `531146be868dd0cda70c1cf12a22110a38a30fd93b5ada6234be3d6c9256c6cf`

[2020-07-13 02:20] #14182 closed

[2020-07-13 02:40] adamjstewart commented on #17457
I completely agree with this. I believe the original idea was that we wanted Spack to work even if a user deletes the default configuration files. But code duplication is a slippery slope.

[2020-07-13 08:21] g-mathias commented on #14109
We are currently running into the same problems.

namd is build with charmpp message passing. It has a 'provides mpi@2', which triggers intel-mkl to search for a matching mpi interface for blacs. charmpp is unknow so it raises an error. A hack would be to comment out the `raise_lib_error` in `lib/spack/spack/build_systems/intel.py`. A cleaner way would be to give intel-mkl a  `blacs`  variant, so

[2020-07-13 09:33] alalazo opened #17479 ""spack ci" unit tests add a test mirror to user configuration"
Running:
[code]
changes user configuration by adding a "local_mirror" that is apparently used for testing purposes.

### Steps to reproduce the issue
The issue can be reproduced like this:
[code]

### Error Message

No error message, but the user configuration gets changed by Spack unexpectedly.

As a side note, the tests above are failing when run on their own while they pass when they are run as

[2020-07-13 10:23] ChristianTackeGSI commented on #17457
IMHO `spack load` is its own module system – the "Spack Module System" – with `spack load`, `spack unload`, and `spack find --loaded` being the major user interaction points.
In that sense, it should also obey the config in `modules.yaml`, including `prefix_inspections`.

[2020-07-13 10:46] alalazo opened #17481 "test_ci_generate_with_env fails when run on its own"
Refers to the comment in the "Error message" of #17479  When running:
[code]
the test fails. This does not happen when running the test as part of the test suite.

### Steps to reproduce the issue

[code]

### Error Message

The error message is reported above.

### Information on your system

* **Spack:** 0.15.1-107-9c42f246e
* **Python:** 3.7.4
* **Platform:** linux-ubuntu18.04-broadwell

### Ad

[2020-07-13 11:02] ChristianTackeGSI commented on #16514
[code]

So there is something strange going on.

Output of configure:
[code]

[2020-07-13 11:09] alalazo opened #17482 "Exceptions raised during build environment construction result in e4s pipeline remaining pending"
I submitted #17439 to test a PR with changes to Spack's core on the e4s pipeline. This was great, since it detected a bug that slipped through unit tests.

I just want to report that the bug was during the construction of the build environment resulting in errors like [this one](https://cdash.spack.io/viewConfigure.php?buildid=13980). On the PR I never got an error reported, but the pipeline was h

[2020-07-13 12:26] g-mathias commented on #14109
OK, I was playing around a bit and the hack would be awful and would not work. Modifying intel-mkl and namd I could compile it (see below). Currently, I am working on spack 0.13.4 on SLES15. I will check, if it will work as well for the current development version of spack.
Here's a list of patches documenting the modifications

-  The modification for intel.py and intel-mkl/package.py introduce t

[2020-07-13 12:45] olesenm commented on #17438
Interesting, it looks to be pulling the patch for 1806 which isn't actually needed. I guess this was cached on my system and so didn't trigger the issue.

[2020-07-13 14:49] olesenm commented on #17438
https://github.com/spack/spack/pull/17483

[2020-07-13 14:52] olesenm commented on #17438
@iWangJiaxiang - in case this takes longer to resolve, you can use a local hack to comment out the patch for 1806.

[2020-07-13 15:47] #17438 closed, assigned to nobody

[2020-07-13 15:59] jxy commented on #16514
Looks like during the linking step, libcurl's dependencies were not resolved correctly.

[code]

Perhaps curl should use more dependencies built by spack.

[code]

[2020-07-13 16:01] vvolkl opened #17488 "[root] dictionary generation fails when using spack-installed compilers"
I'm using centos7 with a spack-installed gcc@8.3.0, and root@6.20.04. When I try to `spack load gcc; spack load root` and compile something that creates a dictionary (e.g. podio), root errors with `#include <string_view> not found`. This does not occur when using the system compiler on other machines, or using the spack compiler wrappers.
@HadrienG2 @chissg @drbenmorgan any ideas?

[2020-07-13 16:27] HadrienG2 commented on #17488
Almost every time I have seen an error related to string_view includes in ROOT, the problem turned out to be caused by a mismatch between the C++ standard or compiler that ROOT was built against, and the C++ standard or compiler that the ROOT client application was using. In most cases, one was C++17 and one wasn't.

It seems that the ROOT API depends on which compiler and C++ standard you are usi

[2020-07-13 18:30] vvolkl commented on #17488
Indeed, that usually happens during a c++ standard mismatch in root, and in fact I try to inherit the root cxxstd for packages depending on it.

But here I think the issue is a  different one - I'm not sure how exactly root uses the compiler during dictionary creation, but somehow it misses the stl provided with it. I'm not sure if the compiler wrappers are to blame, or it is an environment issue.

[2020-07-13 18:37] roguephysicist opened #17509 "Installation issue: libint with Intel compilers"
I am attempting to build CP2K using the Intel 2020/2018 compilers, but Libint fails to build correctly. I have been able to successfully build Libint using gcc@9.3.0.

There are a few warnings in the error output included below; these can be removed by changing the optimization flags and do not affect the error occurring after line 5560.

### Steps to reproduce the issue

[code]

### Information o

[2020-07-13 19:11] scottwittenburg commented on #17482
@alalazo Did you recently restart this [job](https://gitlab.spack.io/spack/e4s/-/jobs/243073)?  I ask because the check is marked as failed on your github PR, as well as marked as failed on the associated gitlab pipeline, but that particular job is still running.  I've not seen that happen unless someone clicks the retry button on the pipeline or on a specific job.

Anyway, regarding the error not

[2020-07-13 19:20] alalazo commented on #17482
Yes, I restarted it since it failed for a system error (pod didn't start on the first try).

[2020-07-13 19:42] scottwittenburg commented on #17482
Was the job marked as failed, and this was the reason you saw in the job trace?  Normally, jobs will be retried the maximum of three times before they'd be marked as failed, so I wonder if the same thing happened the first two times?

[2020-07-13 20:07] scottwittenburg commented on #17482
@alalazo I created #17510 in order to test what you reported.

[2020-07-13 20:24] scottwittenburg commented on #17482
But since you force-pushed the branch, maybe you fixed the problem that caused the failures?  Any idea how I can get my hands on the change that results in the `AttributeError: 'Spec' object has no attribute 'mpicc'` type of issue you mentioned above?  I looked at the diff you linked, and it seems the same as the re-written commit with the same commit message currently on your branch, but so far i

[2020-07-13 20:29] shahzebsiddiqui commented on #17199
adding xalt to Spack, I have a project to setup Xalt for Cori, we have ALTD and this is available with spack. It would be nice to have this installed via spack.

[2020-07-13 20:43] alalazo commented on #17482
@scottwittenburg Just remove the last commit from the branch. If you do so there's a bug with subscripting virtual dependencies if they have been monkey patched. That will expose the `AttributeError: 'Spec' object has no attribute 'mpicc'` error that will happen *before* configure time when  the build environment is being set.

[2020-07-13 21:26] ChristianTackeGSI commented on #16514
spack's curl has a `depends_on('openssl')`. So it's quite interesting to see it search for gnutls?!

Okay, the first thing, that seems to be breaking: libidn2. It takes the one from the system. That's not good. But that's a hint on how to reproduce it: Let me install some libidn*-dev… and see.

[2020-07-13 22:19] #6759 closed

[2020-07-13 23:16] adamjstewart commented on #17464
Do we have a similar issue open for searching for tarballs in the source mirror? For example, when I try to install a newer version of CUDA, I see:
[code]
This could probably be condensed to a couple of lines.

[2020-07-13 23:50] cyrush opened #17512 "having an opengl dependency fails with a confusing error message"
Running on linux, trying to test installing visit, I hit the following error:

### Steps to reproduce the issue

[code]

### Error Message
[code]
@becker33  informed me this is b/c opengl is a non-buildable virtual package, to solve this we can inject the mesa as opengl:

[code]

### Information on your system

This was on pascal @ LLNL.

[2020-07-13 23:53] cyrush commented on #17512
More context from Greg:

That appears to be a Spack bug. You should be able to work around it by adding ^mesa+opengl to your spec, or by configuring an external opengl to use the system version.
Could you also open an issue about this? The opengl package currently is only a placeholder for the OS provider, and that means it’s not buildable at the moment. In the long run we need to fix that, but in

[2020-07-13 23:55] ian-bertolacci opened #17513 "Readme link spackpm.herokuapp.com leads to broken page"
the link: https://spackpm.herokuapp.com/ in the readme goes to a "Application error" page.

[2020-07-14 00:54] scottwittenburg commented on #17482
The pipeline for this [PR](https://github.com/spack/spack/pull/17510) still hasn't built it's first spec, due to a pretty large backlog of E4S pipelines running at the moment, around 20 of them it looks like.  I think this is mainly due to a large number of merges to `develop` in a (relatively) short period of time.  In our cloud infrastructure, we only have 10 of the medium sized runners that can

[2020-07-14 05:40] HadrienG2 commented on #17488
This does ring a bell. I did actually encounter dd4hep dictionary creation issues too, though the error was different. I worked around it by sourcing the `thisdd4hep` script instead of relying only on spack's environment setup, which suggests that there is some env var which the ROOT dictionary mechanism needs and which spack does not currently set.

[2020-07-14 13:46] ChristianTackeGSI commented on #16514
Hi,

okay, I fixed the libidn2 dependency for curl in #17526.
If you want to try the patch before it lands in develop: https://github.com/ChristianTackeGSI/spack/commit/059935c7a22dd063482345485ef24d75e62fe586

I don't know, if this already helps, but it definitely was a problem.
Can you retry (either after the thing is merged or by patching)?
Let's see, what are the next libraries, that we need t

[2020-07-14 13:53] vdikan opened #17527 "Slack channel sign-up app error"
Reintroduction of  [#6799](https://github.com/spack/spack/issues/6799) : heroku app error renders instead of sign-up for slack.

[2020-07-14 14:48] vdikan commented on #17527
Sorry, I overlooked https://github.com/spack/spack/issues/17513
which is about same issue

[2020-07-14 15:08] scottwittenburg commented on #17482
It seems this was reproduced overnight.  Even though a bunch of jobs failed (job script exited non-zero) in later stages, and there do not seem to be any jobs still running, the E4S pipeline is marked by gitlab as running, therefore the dependent spack pipeline is still marked as pending, and there has been no update to the PR check.

Thanks for reporting this @alalazo, I'm looking into it.

[2020-07-14 16:24] carsonwoods opened #17530 "Installation issue: Trilinos"
On Trilinos 12.12.1, Spack will fail to install when compiling with OpenMP support if the compiler is gcc@9.3.0.

[code]

### Information on your system

[code]

### Additional information
[spack-build-env.txt](https://github.com/spack/spack/files/4919941/spack-build-env.txt)
[spack-build-out.txt](https://github.com/spack/spack/files/4919942/spack-build-out.txt)

@aprokop
@keitat
### General infor

[2020-07-14 16:44] aprokop commented on #17530
Does not seem like a Spack issue:
[code]
Need current Trilinos developers to weigh in.

@carsonwoods Is there a reason for you to use a 3-year old version of Trilinos?

[2020-07-14 16:48] carsonwoods commented on #17530
@aprokop I'm converting an existing software environment that uses this version of Trilinos into an environment built using Spack.

[2020-07-14 17:28] opadron opened #17531 "mirror create lacks arguments to provide a mirror name or mirror url."
Despite the name, `spack mirror create` and `spack buildcache create` used to also accept mirror URLs and the names of configured mirrors passed via the `-d, --directory` argument.  To minimize confusion, this behavior was changed so that only `file://` URLs would be accepted.  The `-m, --mirror-name` and `--mirror-url` arguments were added to `spack buildcache create` to allow users to specify re

[2020-07-14 17:43] aprokop commented on #17530
Interesting. So your existing software environment was able to build this version of Trilinos with OpenMP just fine? Could you please compare the cmake output for it with the one from Spack to see what the differences are?

[2020-07-15 02:15] adamjstewart commented on #17527
Closing as a duplicate of #17513, let's continue the discussion there

[2020-07-15 02:15] #17527 closed, assigned to nobody

[2020-07-15 02:21] adamjstewart commented on #17479
Possible duplicate of #15376?

[2020-07-15 06:46] alalazo commented on #17479
Duplicate of #15736

[2020-07-15 06:48] alalazo commented on #17479
@adamjstewart I would be for not closing this issue, though it is definitely a duplicate, since it has a shorter title and a simpler reproducer. When I opened this issue I tried to search if something was reported already but didn't find the issue above.

[2020-07-15 07:03] alalazo commented on #17513
Added the unreproducible tag, since what I get right now is:
![Screenshot from 2020-07-15 09-02-31](https://user-images.githubusercontent.com/4199709/87514055-f317ff00-c679-11ea-9530-b06b5826d187.png)

Feel free to remove the tag (or ping me to do that) if the error persists for you.

[2020-07-15 07:09] tgamblin commented on #17513
Something (not sure what) went wrong with the old app and its legacy Slack token.  We started getting bad logins.

So I tried fixing by deploying this app: https://github.com/outsideris/slack-invite-automation, which apparently @alalazo immediately saw 😄.  Unfortunately, the badge seemed like it was displaying the wrong number of users, and it always said 0 were online.

I was able to just redeplo

[2020-07-15 07:10] #17513 closed, assigned to nobody

[2020-07-15 07:39] tgamblin commented on #17460
What version of NFS is this, and is the lock server running properly if it's version 3?

Does this command reliably succeed on your nodes?

[code]

[2020-07-15 10:14] alalazo opened #17543 ""spack config add" fails to validate type of fields where the default constructor value is not allowed"
The command:
[code]
fails while it should instead write:
[code]
in the most appropriate configuration scope.

### Steps to reproduce the issue
Just try the following command:
[code]

### Error Message

[code]

### Information on your system

* **Spack:** 0.15.1-127-a6abd530b
* **Python:** 3.7.4
* **Platform:** linux-ubuntu18.04-broadwell

### Additional information

The issue is due to the fact th

[2020-07-15 11:20] haampie opened #17544 "spack ci rebuild fails to install all cached dependencies."
### Steps to reproduce the issue

I'm trying to narrow down an issue in `spack ci rebuild` for which #17536 should be a solution, but it seems to not entirely fix everything.

I believe the issue is when you install a package (e.g. `curl`) which has dependencies in common with a compiler (e.g. for gcc it is perl, zlib) it will only install one version of perl, say `perl%gcc@7.5.0`, but not the spe

[2020-07-15 12:29] haampie commented on #17544
Seems like the issue might be caused by `package_id` returning just the name of the package, not the hash:

https://github.com/spack/spack/blob/develop/lib/spack/spack/installer.py#L530-L556

If I make it return `return "{0}-{1}-{2}".format(pkg.name, pkg.version, pkg.spec.dag_hash())` however, it will complain the compiler is not found: `Cannot proceed with pkgconf-1.7.3-kzr452jfe6jcg524blr3d4zl5o

[2020-07-15 13:42] haampie commented on #17544
Ok, probably it's a combination of two problems:

1. package_id is not unique and cannot handle multiple packages with the same name but different compilers
2. the compiler task only gets a single entry in its `dependents` list, so other tasks are not notified that a dependency was built:

[code]

[2020-07-15 15:48] haampie commented on #17544
@scottwittenburg:

I've solved this issue now, see this branch

https://github.com/spack/spack/compare/develop...haampie:ci-patches

In particular you need `Make package_id more unique` and `Collect compilers to be bootstrapped queueing` (that commit message misses a word i see :p). The other commits solve unrelated issues.

The main issue I see is that `Make package_id more unique` will not be ac

[2020-07-15 17:04] #17390 closed, assigned to nobody

[2020-07-15 17:07] adamjstewart commented on #17479
I would be fine with closing my old issue, as long as it gets fixed I don't mind which issue is used to track it.

[2020-07-15 19:56] carsonwoods commented on #17530
@aprokop I spoke with the maintainers for the software environment and they said that listing Trilinos with OpenMP support as being able to be built with gcc 9.3.0 was a mistake and that they don't actually build it for their environment, it is in fact a Trilinos issue, not a Spack issue.  Though there should probably be a `conflicts('+openmp', when='%gcc@9.3.0')` added to the Trilinos package fil

[2020-07-15 21:03] aprokop commented on #17530
It is totally unclear at this point what versions of Trilinos are affected by which versions of gcc. Sure, you could do `conflicts('+openmp', when='@12.12.1%gcc@9.3.0')`, but I'm not sure how useful that is.

[2020-07-15 21:08] payerle opened #17550 "Installation issue: kallisto (why mpich dependency)"
spack info kallisto
reports that kallisto depends on mpich.

This is surprising to me because it is not optional and specific to the mpich package (and not a dependency on the virtual MPI package).  But even more surprising, is I do not see any mention of kallisto supporting MPI.  I cannot find any mention of MPI in the source code, and the only MPI dependency appears to be indirect via hdf5 built

[2020-07-15 21:10] payerle commented on #17550
spack debug report
* **Spack:** 0.14.2
* **Python:** 3.6.8
* **Platform:** linux-rhel8-x86_64

Package lallisto has no maintainers listed.
I have not included build log, etc. as problem occurs before that stage.

[2020-07-15 22:30] carsonwoods commented on #17530
Good point. I'll close the issue then.

[2020-07-15 22:30] #17530 closed, assigned to nobody

[2020-07-16 00:14] jrood-nrel commented on #17512
I've been hitting this a lot. I can't figure out how to set a gl provider in such a way to always use mesa.

[2020-07-16 02:49] adamjstewart commented on #17550
It looks like this package was added by @akthoma in #5063 and updated by @odoublewen and @hartzell, maybe one of them can comment on this? It would be great to add a maintainer for this package if anyone would like to volunteer!

[2020-07-16 06:19] Char-Aznable commented on #13958
@scheibelp Any update on this? I think this issue boils down to how to properly use toolchain not being part of the OS to build spack tools.

[2020-07-16 06:28] #17550 closed, assigned to nobody

[2020-07-16 08:10] andymwood opened #17554 ""spack buildcache list" breaks when a mirror lacks "build_cache/index.json""
If a mirror lacks "build_cache/index.json", spack reports an error and prevents me from accessing the build_cache of any other mirrors. In particular, the source mirror that is now provided by default in spack v0.15.1 has no index.json and I have to remove that mirror to access any build cache's I've created myself.

### Steps to reproduce the issue

Set up a local mirror with a build cache:

[cod

[2020-07-16 12:56] andymwood opened #17556 "Installation issue: gcc"
Spack won't build gcc for me under OpenSUSE 15.1

### Steps to reproduce the issue

[code]

### Information on your system

[code]

compilers.yaml
[code]

### Additional information

* [spack-build-env.txt](https://github.com/spack/spack/files/4931545/spack-build-env.txt)
* [spack-build-out.txt](https://github.com/spack/spack/files/4931546/spack-build-out.txt)

@michaelkuhn

### General informatio

[2020-07-16 14:20] owainkenwayucl opened #17557 "Installation issue: flang [llvm-flang clang++ can't find libstdc++ from GCC@9.3.0]"
On our systems, installing `flang` fails because `clang++` from llvm-flang can't find libstdc++ when run through `cmake`.  Outside of `cmake` it can comfortably build C++ binaries.

### Steps to reproduce the issue

*(With a completely clean checkout of spack, cleared out ~/.spack etc)*

[code]

### Information on your system

* **Spack:** 0.15.1
* **Python:** 2.7.5
* **Platform:** linux-rhel7-bro

[2020-07-16 14:43] owainkenwayucl commented on #17557
Just to prove that this is something weird going only inside cmake, compiling [a simple C++ program](https://github.com/UCL-RITS/pi_examples/blob/master/cpp_pi_dir/calculate_pi.cpp) with `clang++` from llvm-flang:

[code]

[2020-07-16 15:58] naromero77 commented on #17557
Thanks. Give me a couple of days to work on this.

[2020-07-16 22:16] naromero77 commented on #17557
Thanks for reporting the problem. I was unable to reproduce it on my system locally. This does not mean the problem is not there, and I do believe that this is a real problem for you.

Based on a hunch, instead of passing that extra flag to `-DCMAKE_CXX_FLAGS`, give this patch a try:
[code]

[2020-07-17 01:00] scottwittenburg commented on #17554
I struggled at some point removing mirrors using the cli also, it seems you often have to specify the scope:

[code]

or:

[code]

[2020-07-17 16:01] riscy768 commented on #17299
@becker33

Greg,  thanks for the fix for Shasta... it definitely initializes properly on Shasta with that fix.  I'm still getting the following error when I attempt to build zlib with cce ....   spack install zlib %cce

Compiler error reporting is too harsh for ./configure (perhaps remove -Werror).
** ./configure aborting.

Any idea how to fix this?

Thanks,

Chris

[2020-07-17 16:04] #17554 closed, assigned to nobody

[2020-07-17 16:11] becker33 commented on #17299
Can you look at `config.log` or equivalent and find out what test failed? Can you also send me the output of `spack compiler info cce`?

Often that error means we're using a compiler flag that's invalid, but that seems less likely for zlib since it doesn't do a lot of implicit flags. I think I've built it with the newest cce compilers on an older (non-Shasta) cray system, so that's a starting poin

[2020-07-17 16:23] riscy768 commented on #17299
The configure log output shows something interesting .... the "Error: A PrgEnv-* module file must be loaded:"

Do I perhaps need to have a "compilers.yaml" entry explicitly stating that PrgEnv-cray needs to be loaded for cce.  The above output would make me think that the "spack compiler find" is working as expected.  Here's the output of the compiler info and the configure.log is below that:

spa

[2020-07-17 16:24] riscy768 commented on #17299
My apologies ... no idea why the formatting came out like it did above

[2020-07-17 17:35] glennpj commented on #17512
According to `git bisect` this problem began with the change to the gl provider in #14572.

[2020-07-17 19:39] michaelkuhn commented on #17556
I noticed that GCC sometimes is using isl's `lib64` directory and (when it's failing) `lib`. Could you please check which of these actually exists within isl's directory (`spack location -i isl`)?

[2020-07-17 19:41] michaelkuhn commented on #17556
Looks like this is a known problem: #10842, #2617

[2020-07-18 03:13] zicklag commented on #9696
I'm having the same issue. Is there any way for me to go about resolving it or maybe finding some workaround?

[2020-07-18 03:57] cpraveen opened #17579 "Installation issue: netlib-scalapack 2.1.0"
### Steps to reproduce the issue

[code]

### Information on your system

[code]

[code]

### Additional information

 * [spack-build-out.txt](https://github.com/spack/spack/files/4941037/spack-build-out.txt)
 * [spack-build-env.txt](https://github.com/spack/spack/files/4941038/spack-build-env.txt)

### General information

- [x] I have run `spack debug report` and reported the version of Spack/Py

[2020-07-18 07:15] mwkrentel commented on #17311
@ptaffet I figured out what's going on here.  The problem is that
you're using automake 1.13.4 from packages.yaml.

Libtool and automake work closely together.  Libtool 2.4.6 is the
latest and automake 1.13.4 is **very** old (2013).  They're just too
far apart.

If you take out automake and let spack build the latest version, then
I expect it should work.

The problem is not specific to mpfr.  You

[2020-07-18 07:20] andymwood commented on #17556
[code]

I notice that the `-i` option for `spack location` is broken:
[code]

[2020-07-18 07:33] andymwood commented on #17556
`SPACK_LINK_DIRS`, defined in `spack-build-env.txt` contains `/home/vagrant/spack/opt/spack/linux-opensuse_leap15-sandybridge/gcc-7.5.0/isl-0.21-s56ion4nr374zv2nlgn6lzxvbvn7sel5/lib64`.

But the failing command, in `spack-build-out.txt` contains `-L/home/vagrant/spack/opt/spack/linux-opensuse_leap15-sandybridge/gcc-7.5.0/isl-0.21-s56ion4nr374zv2nlgn6lzxvbvn7sel5/lib`.

Is there a simple work-aroun

[2020-07-18 07:42] andymwood commented on #17556
I'm trying this now. I'll report back when it finishes:
[code]

[2020-07-18 08:59] andymwood commented on #17556
It worked.

[2020-07-18 09:24] Joe23232 opened #17582 "Few questions regarding spack."
I am interested in getting it but I have a few questions regarding `spack` package manager.

* Does the packages get installed into the `~` directory? Or does it get installed whereever the `spack` git package is located?
* Does it share dependencies like `pacman` does so it doesn't take extra space?
* Am I able to specify the flags (like with Gentoo's portage package manager) so I can get higher

[2020-07-18 17:38] adamjstewart commented on #17582
Hi @Joe23232, welcome to Spack!

1. By default, if you clone Spack to some directory `SPACK_ROOT`, your packages are installed to `$SPACK_ROOT/opt/spack/`. However, you can change this by modifying the `install_tree` setting in `config.yaml` so that packages can be installed anywhere on the filesystem: https://spack.readthedocs.io/en/latest/config_yaml.html#install-tree
2. Yes, Spack shares all de

[2020-07-19 01:18] Joe23232 commented on #17582
Thanks mate :)

Ah I see.

Sounds like `pacman` to me

Oh that is good, is it possible if I modify some config files so by default it can then use the `cflags` that I assign it to?

Ah I see that is great, hope to see it grow :) One question though, am I able to add a github/gitlab repository if a package is not available in the main repository?

That is pretty good :)

[2020-07-19 03:11] adamjstewart commented on #17582
Yes, you can add any flag you want permanently to your `compilers.yaml`, see https://spack.readthedocs.io/en/latest/getting_started.html#manual-compiler-configuration

I used to do this pretty heavily when I worked at ANL: https://github.com/spack/spack-configs/blob/master/ANL/LCRC/linux/compilers.yaml

Yes, Spack is completely open source, we accept pull requests for any package you want to add.

[2020-07-20 00:37] zicklag opened #17593 "Can You Use mingw as a Compiler to Build Windows Executables From Linux?"
Hey there, I'm starting to try to use spack for all of the projects that I build from source, and I was wondering if there is a way to add mingw as a Spack compiler so that I can cross compile windows executables with it. I tried to add mingw to the compilers.yaml file, but it kept failing with an empty error message as soon as I set the `spec` of the compiler to have `mingw` in the name ( even if

[2020-07-20 00:58] adamjstewart commented on #17593
In order to add a new compiler to Spack, see #11287 for which files need to be modified. It's not too much work if you want to submit a PR, and I'm happy to review it.

[2020-07-20 00:59] adamjstewart commented on #17593
For what it's worth, although Spack doesn't yet support Windows, we have had several users express interest in adding Windows support. Also, Spack works great on WSL already, I use it every day.

[2020-07-20 00:59] zicklag commented on #17593
Oh, cool. If I get the time I'll check it out. :)

[2020-07-20 08:16] Joe23232 commented on #17582
Ah I see.

Looks very complicated, I wouldn't really understand what the code does in the file.

Am I able to just add it to the program though on my local machine?

---

One other question, say if I compiled some Linux applications using `spack`, if I copied the executable over to Mac OS, would it still run the executable or do I need to recompile the application from the source code?

[2020-07-20 09:06] owainkenwayucl commented on #17557
Unfortunately that didn't solve the problem.

I combined our two methods though to this which worked:

[code]

[2020-07-20 11:35] ChristianTackeGSI commented on #16514
@jxy would you mind retrying with spack/develop? The libidn2 thing should be fixed now.
Either we have the next system library that needs to be replaced by a spack library, or we're done.

[2020-07-20 13:19] haampie opened #17598 "Make -j, --jobs flags definitive"
### Rationale

Spack handles the `-j` flag differently from other popular build systems like `make` and `ninja`, because it sets a hard limit for the number of build jobs to the number of cores:

[code]

For reference, `make`, `ninja`, `scons` and `ctest` do not have an upper limit, and `ninja` seems to set the number of parallel jobs to `nproc + 2` by default on my system (something currently not

[2020-07-20 14:17] adamjstewart commented on #17582
Yes, you can write a recipe without contributing it upstream. But then no other users would be able to use your recipe.

You would need to recompile from source code. The system headers and libraries on macOS and Linux are drastically different. Even if you built on Ubuntu 18.04 you would have to recompile on Ubuntu 20.04.

[2020-07-20 14:35] Joe23232 commented on #17582
Ah I see. Of course I would contribute but just curious to know.

What about on BSD, if I used OpenBSD, would it also be drastically different as well compared to Linux?

[2020-07-20 15:42] naromero77 commented on #17557
Can you spell out how you are loading the GCC module? (It should NOT be necessary, but knowing the details may help with reproducing the error).

[code]

Basically, clarify the steps between the first and second spack commands above.

[2020-07-20 15:47] adamjstewart commented on #17582
Yes, you should assume every OS and OS version will require a different compilation. Depending on the package (and which headers/libraries it links to) it might work, but Spack will rebuild it anyway just in case. Spack's compiler wrappers inject microarchitecture-specific flags to build the most optimized binaries for your hardware, so executables aren't general purpose like they are with other p

[2020-07-20 15:47] naromero77 commented on #17557
I am also adding Tom Scogland @trws . Even though this is not the main `llvm` package, he may have some insight into this issue.

[2020-07-20 19:11] eugeneswalker opened #17605 "Installation issue: CMake using Intel compilers"
Using `spack@develop` (96fa6f0c1be4ab55ec6ba7cd5af059e1ed95351f, from 17-July-2020) at NERSC Cori on `haswell`:

Building `CMake@3.17.3` fails with:
1. `%intel@19.0.3.199` -- fails in boostrap phase (see below)
2. `%intel@19.1.1.217` -- fails in bootstrap phase (same error as 1.)
3. `%intel@18.0.3.222` -- fails during build (see below)

**%intel@19.0.3.199, %intel@19.1.1.217 -- bootstrap fails**
[

[2020-07-20 20:58] #12228 closed

[2020-07-20 23:32] haampie opened #17607 "CUDA stubs directory ends up in rpath, making NVIDIA profiling tools segfault"
### Steps to reproduce the issue

The following segfaults when `config:shared_linking == rpath` (default value):

[code]
but it works fine with `config:shared_linking == runpath`. Also other profilers segfault: `ncu sirius.scf` and `nsys sirius.scf`. Just running `sirius.scf` works fine.

This is because spack seems to misconfigure a path that most likely propagates to the nvidia profiler tools, w

[2020-07-21 01:13] robertosussex commented on #17460
I managed by changing
  build_stage:
    - /tmp/rs558/$user/spack-stage
    - /tmp/rs558/.spack/stage

in

./etc/spack/defaults/config.yaml

and creating a symbolic link

.spack-db -> /tmp/rs558/.spack-db

in

/its/home/rs558/spack/opt2/spack

Many thanks

Roberto

[2020-07-21 01:13] #17460 closed, assigned to tgamblin, tldahlgren

[2020-07-21 02:18] sethrj commented on #15082
Sadly this is still failing for me when linking against `qt@4.8.7` -- perhaps because it's using the system `libsm` instead of a spack-provided one. Trying that now.

[2020-07-21 02:20] sethrj commented on #15082
Sorry, to be clear: libsm isn't failing; it's code downstream of qt that's failing.

[Commented without scrolling back up to the top 😬 ]

[2020-07-21 03:02] sethrj commented on #15082
Annnd adding the missing dependency to qt fixes everything. Yay!

[2020-07-21 05:55] drummerdoc commented on #14679
Any updates on this issue?

[2020-07-21 06:48] scheibelp commented on #14679
Are you having a similar issue? Does `wcs.h` appear anywhere in the `wcslib` prefix (I think that's the dependency that would provide it)? If so can you include where you see it? If not, it's possible that `py-astropy` needs another dependency.

[2020-07-21 06:53] drummerdoc commented on #14679
It does not...not that I could find.  I can see that it tries to build with a flag ``--use-system-wcslib`` So somehow it might be that it thinks I have it somewhere, but I can't find it on my system anywhere.

[2020-07-21 09:21] owainkenwayucl commented on #17557
The normal way so:

[code]

[2020-07-21 09:28] owainkenwayucl commented on #17557
I should point out it's something that's revealed specifically on our clusters.  I also have access to machines at UCL run by the Computer Science department which don't exhibit this - I wonder if it's visible due to the skeleton install of the OS we deploy.

A good example of the minimal nature of this is that there is no g++ 4.8.5 binary from the RHEL system install as you can see in the `compil

[2020-07-21 11:48] g-mathias commented on #17605
We see similar issues with cmake on a SLES15 haswell system. gcc 9.3.0 has issues with the slightly older versions of cmake. For the newer intel compilers we see the same errors as above for 19.0.3 (Thx @brietzke ).
cmake@3.15.5%gcc8.4.0 ✅
cmake@3.15.5%gcc9.3.0 ❌
cmake@3.15.5%intel@19.0.5.281 ✅
cmake@3.15.5%intel@19.1.1.217 ✅
cmake@3.16.5%gcc8.4.0 ✅
cmake@3.16.5%gcc9.3.0 ❌
cmake@3.16.5%intel@19.0.

[2020-07-21 15:21] adamjstewart commented on #17607
@ax3l @svenevs

[2020-07-21 15:52] LDAmorim commented on #14679
Hi, sorry. I haven't tested this in a long while.

[2020-07-21 16:05] eugeneswalker commented on #17605
This build configuration worked for me.

[2020-07-21 17:07] drummerdoc commented on #14679
Hi thanks, I'm stuck on this and use any thoughts.

[2020-07-21 17:10] svenevs commented on #17607
I cannot look into this at this time but I can confirm that we definitely don't want stubs dir in rpath. That's not for public consumption.

[2020-07-21 17:13] LDAmorim commented on #14679
It seems that you still need to have the `wcslib` package installed, from looking at:
https://github.com/spack/spack/blob/ec1237479ee8786c808db722ecb0378136cd22d3/var/spack/repos/builtin/packages/py-astropy/package.py#L58

Can you do `spack install wcslib` and then `spack load wcslib`?
Or do you get errors?

Can you try commenting out that line and the one:
https://github.com/spack/spack/blob/ec12

[2020-07-21 17:47] drummerdoc commented on #14679
That didn't fix the issue (exact same error messages), but I am wondering if there is a way to "make clean" for py-astropy and start again.  Searching the web for how to do this now... any pointers/ideas would be appreciated

==> Error: ProcessError: Command exited with status 1:
    '/Users/marc/src/spack/opt/spack/darwin-mojave-x86_64/clang-10.0.1-apple/python-3.7.7-cj6tnvnjdoemms4chr3kvlkdix7vr

[2020-07-21 17:53] LDAmorim commented on #14679
After you load the `wcslib` module, do you know where: `wcs.h` is?

If it is in your `spack` folder, then can you try adding the wcslib module as a (fake) external package in your `packages.yaml`?
I did that to use `cmake` with gcc using its `spack` path:
[code]
So you can try the same but to your `wcslib` path.

[2020-07-21 17:56] scheibelp commented on #14679
If `spack install` fails for some package and you try again, Spack will automatically clean everything and start from the beginning with the package that failed.

Spack provides a means to "debug" an installation with the `spack build-env` command, which will set up the environment appropriately. See also: https://spack.readthedocs.io/en/latest/packaging_guide.html#spack-build-env

[2020-07-21 18:00] drummerdoc commented on #14679
@LDAmorim I see a wcs.h file at

/Users/marc/src/spack/opt/spack/darwin-mojave-x86_64/clang-10.0.1-apple/wcslib-6.4-rxqn53e3azxkvkxoe7qxy7nb2aga273g/include/wcslib/wcs.h

linked from /Users/marc/src/spack/opt/spack/darwin-mojave-x86_64/clang-10.0.1-apple/wcslib-6.4-rxqn53e3azxkvkxoe7qxy7nb2aga273g/include/wcslib-6.4/

I'll try modifying the ``packages.yaml`` file as you suggest

[2020-07-21 18:11] scheibelp commented on #14679
One possible reason `py-astropy` cannot find these headers is that they don't appear in the default location that Spack expects: that would be `<wcslib-prefix>/include/wcs.h`.

You can define a `headers` function in the `wcslib` package to tell Spack where to find the headers in the `wcslib` prefix (in `<wcslib-prefix>/include/wcslib/`). `openmpi` has an example of that function.

[2020-07-21 18:16] drummerdoc commented on #14679
I could try copying/modifying the headers function from openmpi, but your observation suggests a bigger problem with my install.  Can you suggest how ``spack install wcslib`` has put this lib in a place that is not the "default location"?

[2020-07-21 18:23] LDAmorim commented on #14679
Indeed he has them in `include/wcslib/wcs.h` instead of `include/wcs.h`.

[2020-07-21 18:27] balos1 opened #17636 "Installation issue: py-matplotlib fails to build on macOS, "error: Failed to download FreeType.""
py-matplotlib fails to build on macOS because it "Failed to download FreeType." However, the freetype package has already been installed.

### Steps to reproduce the issue

[code]

### Information on your system

[code]

### Additional information

* [spack-build-out.txt](https://github.com/spack/spack/files/4955461/spack-build-out.txt)
* [spack-build-env.txt](https://github.com/spack/spack/files/

[2020-07-21 18:27] drummerdoc commented on #14679
Ha!  Manually linking the includes to the expected path allowed the install to complete.  This may be an error in the wcslib spack install?  Anyway, awesome...thank you both so much!

[2020-07-21 18:32] scheibelp commented on #14679
When I look at the Spack `wcslib` package I don't see any configuration related to the headers directory, so I think this is the location chosen by `wcslib`. Spack generally doesn't adjust the layout of the package installation other than to try to set the root prefix of the installation.

So there's two ways to address the issue:

* Make `wcslib` install the headers to `include/` (instead of `inc

[2020-07-21 18:34] payerle opened #17638 "Installation issue: kahip (python2 vs python3 issue in SConstruct scripts)"
I am running into an issue when trying to build kahip using scons based on python3

### Steps to reproduce the issue
spack install kahip@2.00
when using a scons built with python@3

gives error
=========
==> 20722: Installing kahip
==> Fetching http://algo2.iti.kit.edu/schulz/software_releases/KaHIP_2.00.tar.gz
==> Staging archive: /tmp/spackswinst/spack-stage/spack-stage-kahip-2.00-w6pzs3m7ke2ks5

[2020-07-21 18:35] LDAmorim commented on #14679
You're very welcome! I'm happy it worked, but it is just a work around as @scheibelp pointed out there is an actual solution.

I can try to work on the headers PR. But I never did it before.
Would it be ok for me to ask you both to help me review it?

[2020-07-21 18:35] drummerdoc commented on #14679
Sure, I'd like to learn about how all this works as well.

[2020-07-21 18:44] scheibelp commented on #14679
Yes! I'd really appreciate it if you submitted a PR and would be happy to review it.

[2020-07-21 18:54] olesenm commented on #17638
My last information was their cmake was only experimental and they use scons because it is easy for them.
You might try tagging them directly on their repo and see if that does something.

[2020-07-21 19:38] adamjstewart commented on #17636
I know what the problem is and how to fix it. Unfortunately my internet went out so I can't submit a PR just yet. Basically, if you look at `setup.cfg.template`, it says that by default, matplotlib downloads and installs its own copy of freetype and qhull unless `system_freetype` and `system_qhull` are True. It looks like this behavior is new as of 3.3, which is why no one noticed it. I'll submit

[2020-07-21 20:33] naromero77 commented on #17557
If you skip the `module use ...` and `module load ...`, do you still have the same issue?

[2020-07-21 22:51] DraTeots opened #17652 "Installation issue: perl hangs during configuration phase"
[code]

the same goes with exact version, I tried perl@5.30.3, perl@5.30.3, perl@5.28.0

[code]

### Information on your system

[code]

I tried both compilers, tried add target=x86_64
[code]

### Additional information
* [spack-build-out.txt]()

[code]

### General information

- [x] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [ ] I have run `spack maintain

[2020-07-21 23:27] naromero77 commented on #17557
As a last attempt to fix the issue without injecting additional flags into `-DCMAKE_CXX_FLAGS`, could you please add the patch below to BOTH `llvm-flang` and the `flang` package:

Thank you for your patience.

[2020-07-22 11:15] mdorier opened #17657 "Installation issue: CMake does not compile with GCC on macOS yet, use clang"
Despite cmake being installed without spack, and spack being instructed to use the existing installation, spack reports that it cannot build cmake on my Mac with gcc.

### Steps to reproduce the issue

Install cmake on MacOS without spack. Add its path in your `packages.yaml` file, setting `buildable: false`. Make sure to have gcc installed (e.g. using homebrew) and detected by spack. Then try to

[2020-07-22 11:36] owainkenwayucl commented on #17557
It happens regardless of whether the modules are loaded or not (once GCC 9.3.0 in `compilers.yaml`.  I just had those is as steps as from a clean install of spack (if that makes sense).

I'll test the patch above and get back to you.

[2020-07-22 11:57] ReinhardPrix commented on #3955
I'm seeing exactly the same issue, on Debian stable (10) and testing/bullseye (11), I'm getting:
[code]

which seems to come from `spack load ncurses`, as
[code]

So `spack load` sets `LD_LIBRARY_PATH`, which then 'breaks' system tools. Is there any easy way to turn off LD_LIBRARY_PATH setting in `spack load` ?

[2020-07-22 12:04] noloader commented on #2613
Also see [I get a linker error “undefined reference to libintl_gettext”](https://www.gnu.org/software/gettext/FAQ.html#integrating_undefined) in the GetText FAQ.

[2020-07-22 12:45] owainkenwayucl commented on #17557
I *believe* making the change to `llvm-flang` (obviously replacing `options` with `args`) has fixed it - I'm just doing a complete rebuild to be sure.

Once i've done that I'll amend the pull request.

(re patience, don't worry, I'd rather have a good solution rather than a fast one).

[2020-07-22 14:43] brevilo opened #17660 "Concretizer stuck in dead loop (only) when spec is used as package dependency"
Disclaimer: I'm a spack newbie so bear with me if the way I'm using things is totally off.

When trying to build a custom package a specific spec used in a `depends_on` clause causes the Concretizer to fail (stuck in a dead loop), while the same spec works just fine via `spack spec`.

### Steps to reproduce the issue

Works:
[code]

Gets stuck:
[code]

With `banana/package.py` defined as
[code]
Th

[2020-07-22 15:29] brevilo commented on #17660
FYI: could be related to https://github.com/spack/spack/issues/11160

If fact, I now could get it working by splitting up the spec in the package definition:
[code]
The reason why I _thought_ this didn't work earlier was because of the buggy `depends_on('python@:2.7')` I had used back then, which didn't resolve to the correct Python version (see side note above). Correcting for that issue now does

[2020-07-22 15:40] ChristianTackeGSI commented on #3955
If https://github.com/spack/spack/issues/17457#issuecomment-657473823 would get implemented, you could override the `prefix_inspections` in modules.yaml.

Until then I see two workarounds:
* Don't use `spack load` and use normale environment modules / lmod: Let spack generate them for you, then use `module load foo`.
* Patch `lib/spack/spack/user_environment.py:prefix_inspections()` in your local

[2020-07-22 16:21] alalazo commented on #17660
Duplicate of #11160

[2020-07-22 16:22] alalazo commented on #17660
@brevilo Marking as a duplicate so that we know that closing one implies closing the other.

[2020-07-22 16:58] tmdelellis opened #17662 "Installation issue: Trilinos with GCC on MacOSX"
### Steps to reproduce the issue

[code]
This is a well-known issue with GCC on MacOSX with XCODE 11.  It has to do with the `-isysroot` path.  If you don't include this path things seem to work out fine.  For example, most of our spack packages that compile using gcc use autoconf, which doesn't detect the sysroot.  It appears a work-around when using cmake may be to set the following:
[code]
You

[2020-07-22 17:08] ChristianTackeGSI commented on #3955
Another question that lately came up concerning this topic:

Let's assume one disables `LD_LIBRARY_PATH` globally (as described above in various ways).
Let's further assume doing so is officially supported.

How does the `package.py` for a specific package that *really* needs `LD_LIBRARY_PATH` to be set (for whatever reason), and knows, that it will likely not break too much, go at setting it?
* W

[2020-07-22 17:29] opadron commented on #17512
I've also been running into this, and other strange concretizer behavior with `gl`.  (#17663)

I also ran into a situation that caused the concretizer to run in an infinite loop.  I'm going to wait and see if the above fix does anything to fix things before submitting another issue.

[2020-07-22 17:39] opadron commented on #17512
@jrood-nrel Have you tried overriding the `gl` and `glx` providers in your `packages` config to prefer `mesa`?

[code]

You should also be able to use mesa through libglvnd, if you wanted to go that route.  That's how the providers are setup by default.

All this is with the caveat that the changes in #14572 might be hitting corner cases in the concretizer and making a mess of things.  I plan on d

[2020-07-22 17:40] jrood-nrel commented on #17512
Hmm, I think that is what I was trying, but I will look again.

[2020-07-22 17:42] jrood-nrel commented on #17512
Oh, without the `~glvnd` though. So maybe that's it.

[2020-07-22 18:16] shuds13 commented on #6401
@adamjstewart I have the same problem. Is there a solution?

[code]

[spack_error.txt](https://github.com/spack/spack/files/4961689/spack_error.txt)

[2020-07-22 18:53] LDAmorim commented on #14679
Hi, I tried to make some changes in https://github.com/spack/spack/pull/17666 but haven't been successful so far.
Can you point me to other files that managed to do the headers path change correctly?
Thanks,
Diana

[2020-07-22 20:24] jxy commented on #16514
Yep.  That solved the problem.

[2020-07-22 20:24] #16514 closed, assigned to nobody

[2020-07-23 07:59] olesenm opened #17672 "openfoam install missing META-INFO"
The META-INFO directory contains api and patch information and should (must?) be part of the install.

- providing a fix shortly.

[2020-07-23 08:07] brevilo commented on #17660
Sure, thanks!

[2020-07-23 11:50] ReinhardPrix opened #17677 "Installation issue: octave"
Octave (any version) fails to build on Debian stable/buster/10.4 with default-version of readline 8.0, due to a system-library linking problem against libreadline-7.0. It does build when specifying `readline@7.0` as a dependency.

### Steps to reproduce the issue

[code]
Build log: [spack-build-out.txt](https://github.com/spack/spack/files/4965114/spack-build-out.txt)
Build env: [spack-build-env.t

[2020-07-23 15:37] shahzebsiddiqui opened #17679 "spack pipeline issue with spack env activate"
@scottwittenburg
This is my .gitlab-ci.yml trying to build at Cori

[code]

Shown below is my `spack.yaml`

[code]

The ``spack env activate .`` doesn't work anymore .

Here is the snapshot build at https://software.nersc.gov/ecp/spack-ecp/-/jobs/17290

[code]

I am trying to figure out if i should create an environment name, if so can it be same name?  Should i run ``spack env create e4s spack.ya

[2020-07-23 15:51] scottwittenburg commented on #17679
Hi @shahzebsiddiqui, maybe I'm just missing it, but did you report the spack version you're using for this?  I guess it would be the values of the `SPACK_REPO` and `SPACK_REF` environment variables you put in the gitlab CI variables.  I just pasted your `spack.yaml` into a file, used the mainline spack `releases/v0.15` branch, and did not have a problem activating the environment using `spack env

[2020-07-23 16:01] shahzebsiddiqui commented on #17679
i have now added `SPACK_REPO` and `SPACK_REF` in my gitlab CI variables i was declaring them in my gitlab file and that was wrong since i was referencing them in spack.yaml as well.

Not sure if this PR https://github.com/spack/spack/pull/17258 addressed something has changed. according to release https://github.com/spack/spack/releases/tag/v0.15.1

Anyhow i am not using tag release but using ``de

[2020-07-23 16:12] scottwittenburg commented on #17679
I believe the need to explicitly `spack env activate` your environment was added to `v0.15.0`, so it should be in both the the release and develop branches.  Did adding `SPACK_REPO` and `SPACK_REF` gitlab CI variables resolve the problem?

[2020-07-23 17:05] shahzebsiddiqui commented on #17679
I found out i was in the wrong directory which was my fault, i can do `spack env activate .`

[2020-07-23 17:16] shahzebsiddiqui commented on #17679
i am closing this issue this is not relevant anymore and i am able to solve my issue.

[2020-07-23 17:16] #17679 closed, assigned to nobody

[2020-07-23 17:41] tldahlgren opened #17680 "integrated hdf5 smoke test"
Create an additional `hdf5` smoke test, per becker33 in https://github.com/spack/spack/pull/17360#pullrequestreview-450292260, that performs the following:

- Use well-structured `hdf5` file
- Check output of `h5dump` on the file
- Use `h5copy` to copy the file
- Ensure `h5diff` of file and copy are identical

[2020-07-23 19:57] ptaffet commented on #17311
Hi Mark,
Thanks for the investigation! I had run `spack external find` at some point, and I didn't notice it had discovered those ancient versions.

[2020-07-23 19:57] #17311 closed, assigned to nobody

[2020-07-23 20:20] #17299 closed, assigned to becker33

[2020-07-24 00:18] DraTeots commented on #17652
Updates:

1. IDK if it is clear form the original report, but what is happening is that perl build system uses its own platform identifier which tries to ask a question from user so it hangs waiting for answer forever.

2. Spack identifies target as `skylake_avx512` by default, changing it to x86_64 does not fix the issue (while building other packets for x86_64 works flawlessly)

[2020-07-24 07:12] hhoeflin commented on #17152
Thanks for this - will this be merged soon?

[2020-07-24 07:29] RemiLacroix-IDRIS commented on #17605
Same issue here with `cmake@3.18.0%intel@19.1.1`.

Edit: As far as I can tell they broke Intel support in version 3.17.0, more precisely in this commit: https://github.com/Kitware/CMake/commit/033a4b12a5e5f67f2f00c23885a3ff04acbeb4cd.

I will open an issue on their Gitlab to check whether I'm right about this commit being incorrect.

Edit2: Here is the issue I opened: https://gitlab.kitware.com/cm

[2020-07-24 08:17] RemiLacroix-IDRIS commented on #15901
I don't think so, the problem can be reproduced outside of Spack, see https://github.com/spack/spack/issues/17605#issuecomment-663385809.

[2020-07-24 08:37] jlow2016 commented on #17579
My current workaround is to add the development branch until the GCC 10 fix/patch is available.
Use `spack edit netlib-scalapack`

[code]

Related PR: https://github.com/spack/spack/pull/17647

[2020-07-24 08:48] cpraveen commented on #17579
Thank you, I could continue using develop branch.

But I am getting error with Mumps now.

[2020-07-24 08:52] g-mathias opened #17691 "Installation issue: py-pymol cannot link against libGLEW.so"
With the latest versions of spack I run into a link error when running
[code]
The error message is
[code]
The build node runs on SLES15 (target=x86_64); the glew package is **not** installed on the host system.

There is no maintainer for py-pymol but @hseara has worked on the package lately.

[spack-build-out.txt](https://github.com/spack/spack/files/4970852/spack-build-out.txt)
[spack-build-env.

[2020-07-24 13:32] #17672 closed, assigned to nobody

[2020-07-24 14:15] #17636 closed, assigned to nobody

[2020-07-24 15:02] #17607 closed, assigned to nobody

[2020-07-24 15:06] bassenj opened #17694 "Installation issue: CMake picks up wrong modules for Boost on Ubuntu 20.04"
### Steps to reproduce the issue

Since an upgrade to Ubuntu 20.04, my system has a new directory with CMake modules for Boost 1.71.0  (`/usr/lib/x86_64-linux-gnu/cmake`) which seems to interfere with `CMakePackage`s such as `dakota`.

[code]

The error message indicates that Spack's CMake module `FindBoost.cmake` interferes with parts of the system's CMake installation. I suspect this can be an i

[2020-07-24 15:30] opadron commented on #17512
After taking a closer look, we decided to revert #14572 for now (#17682).  We will be (re)iterating on the changes in a new PR and making sure nothing gets accidentally left out this time around.

@jrood-nrel @cyrush, could you try your specs with the latest `develop` and let me know if you're still encountering problems?  Note that `libglvnd` is no longer a "thing" until we merge a fixed version

[2020-07-24 15:50] alalazo commented on #17464
Can we consider this fixed by #17546 ?

[2020-07-24 17:00] #15970 closed

[2020-07-24 18:25] bassenj commented on #17694
`openbabel` is affected too.

[code]

[2020-07-24 18:59] bassenj commented on #17694
@chuckatkins Is there a possibility to prevent CMake from picking up these modules?

[2020-07-24 19:56] ChristianTackeGSI commented on #16514
Thanks for testing! :-)

[2020-07-24 21:43] jrood-nrel commented on #14102
I'm starting to experience this issue as well.

[2020-07-25 12:41] sethrj commented on #14102
Just hit this with a fresh Catalina install using homebrew. Worked around by removing `/usr/local/bin` from my PATH:
[code]

[2020-07-25 13:50] DiegoMagdaleno commented on #14102
@sethrj This solution doesn't seem ideal, if I remove /usr/local/bin from my path, then I can't access my Homebrew tools

[2020-07-25 14:46] sethrj commented on #14102
Sure, but you only need to do it temporarily in the shell in which you’re calling `spack install`. I’m not suggesting doing that permanently.

[2020-07-25 18:54] cdfh commented on #7550
I just wanted to chime in with another use case that would benefit from this proposal.

I use spack to do cross compilation for ARM platforms and have a recurring issue with `target=arm` being propagated to build-dependencies such as cmake, which execute on the build machine and not the target (I've described [my struggles](https://groups.google.com/g/spack/c/aFsGIhsDKCg/m/OtzR__unCgAJ) on the [ma

[2020-07-26 03:12] tgamblin commented on #7550
This will be fixed in either 0.16.0 or 0.17.0.

[2020-07-27 10:15] biri1987 commented on #17662
Dear tmdelellis,

I'm really new in Spack and I'm trying to install trilinos on my MacOSX system without success. My laptop is not running on Mojave but on Catalina. I have a problem when netlib-scalapack package has to be installed. This is the error message:

==> Error: Failed to install netlib-scalapack due to ChildError: ProcessError: Command exited with status 2:
    'make' '-j16'
4 errors fo

[2020-07-27 13:27] biri1987 opened #17713 "Installation issue: netlib-scalapack and trilinos"
Hi,

I'm really new in Spack and I'm trying to install Trilinos on my macOS machine (Catalina 10.15.6) without success. The installation fails when netlib-scalapack has to be installed.

Do you have any suggestion?

Thank you in advance for all your help,
Gabriele

### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.15.1
* **Python:** 3.7.4
* **Platform:** darw

[2020-07-27 13:28] biri1987 commented on #17713
[spack-build-out.txt](https://github.com/spack/spack/files/4982266/spack-build-out.txt)
[spack-build-env.txt](https://github.com/spack/spack/files/4982265/spack-build-env.txt)

[2020-07-27 13:29] alalazo commented on #17713
Can you please post the output of:
[code]
?

[2020-07-27 13:32] biri1987 commented on #17713
Hi alalazo,

here the output:
[code]
Thank you!

[2020-07-27 20:07] keitat commented on #17662
It sounds C and Fortran compiler issue for building/interfacing BLACS routine calls.  Is it happening with gcc-8.3?

[2020-07-28 01:24] hartzell opened #17723 "Cannot use a read-only upstream, since Spack tries to write on the filesystem"
TL;DR: It seems that I **can not** chain to a read-only tree.

---

I build spack trees with a fairly set of packages; once built I consider them immutable.

One of my work situations involves AWS instances with a shared EFS filesystem that has horrible performance.  I'd like to build my trees in the EFS filesystem so that they're easily available but they'd take *forever*.

My current solution is

[2020-07-28 01:34] sethrj commented on #17713
This looks like an issue with some of the older Fortran code inside `netlib-scalapack` relying on unspecified/non-standards-compliant behavior, probably triggered by a change in default with GCC 10 (which you're using) compared to older versions. GCC10 is pretty new.

Trilinos is unrelated to the build error itself; spack fails while building the upstream code. You should be able to work around th

[2020-07-28 01:47] cdfh commented on #12519
Since opening this issue, I've been happily using #13542 to get around the problem. This fix requires `compiler.extra_rpaths` to be appropriately (and manually) defined in `compilers.yaml`. Just today, I've been doing some reevaluation. These are my notes:

## clang works without `extra_rpaths`

At the time of opening this issue, my belief (from empirical observation and #5817) had been that clang

[2020-07-28 02:47] cdfh commented on #12519
Don't have time just now to make a PR, but in case future generations discover these rambles, the following is what got me through the night:

[code]

With above diff, my artefacts are correctly linked to clang's runtime libraries.

[2020-07-28 10:02] olesenm opened #17730 "openfoam does not find fujitsu mpi header"
As noted by @t-karatsu on [OpenFOAM issue 16719](https://develop.openfoam.com/Development/openfoam/-/issues/1671) the recipe does not find `mpi.h` for Fujitsu MPI.

The OpenFOAM recipe still uses  `prefix.include` from the mpi spec instead of `headers.directories` (as per the change #7267), which means that it does not find the mpi header buried a few levels deeper.

[2020-07-28 10:03] olesenm commented on #17730
Patch as per @t-karatsu recommendation coming shortly.

[2020-07-28 10:22] biri1987 commented on #17713
Dear @sethrj,

thank you for your quick response! I if use your installation command it works!

I do not understand one stuff: you say that I'm using GCC10 but if I force the installation with `spack install trilinos%gcc@10.1.0` I get:

    ==> Error: Conflicts in concretized spec trilinos@12.18.1%gcc@10.1.0~adios2~alloptpkgs+amesos+amesos2+anasazi+aztec+belos+boost~cgns~chaco~complex~debug~dtk+ep

[2020-07-28 13:27] adamqc commented on #14102
@DiegoMagdaleno You can also use `brew unlink python` to remove python from `/usr/local/bin`.

[2020-07-29 15:52] jrood-nrel commented on #15522
For anyone else having this problem, it seems like a `libfabric.so` is required to be in `LD_LIBRARY_PATH` and the `FI_PROVIDER_PATH` set for Intel MPI for the CMake configure with a mixed language to succeed during configure. I have explained how I set these in Spack for Trilinos https://github.com/trilinos/Trilinos/issues/7740 .

[2020-07-29 17:16] ax3l commented on #14102
Interesting, did brew roll out Python 3.8 in the last days or so ([likely](https://github.com/Homebrew/homebrew-core/issues/47274#issuecomment-656361893))? The problem occurs for me now as well in [nightly macOS integration tests](https://dev.azure.com/axelhuebl/openPMD-api/_build/results?buildId=431&view=logs&j=34728502-b804-5fe0-5737-8e89552133fc&t=79531e41-447b-5b9d-7dea-35a761be9db7&l=76) on A

[2020-07-29 17:32] sethrj commented on #14102
Yeah, I installed a fresh brew on a new system and it has 3.8.

[2020-07-29 17:34] adamjstewart commented on #14102
Anaconda has also switched to Python 3.8 by default. I would like to switch Spack's default soon, but this issue is obviously blocking that.

EDIT: opened #17798 to get the ball rolling.

[2020-07-29 18:32] mrmundt commented on #7966
As per the Spack tutorial today, there is still an interest in this. We would appreciate this extension to allow these to be added to a spack stack.

[2020-07-29 18:39] hpcnpatel commented on #15522
FYI, I still face the error with spack 15.3
[code]
Not only for Trilinos, but I have also observed this signature with some other packages. Seems that complete MPI & MKL paths are not propagated through CMake.

[2020-07-29 18:45] hpcnpatel commented on #15522
similar work around is,
[code]

[2020-07-30 02:45] #17730 closed, assigned to nobody

[2020-07-30 03:17] #15901 closed

[2020-07-30 03:17] #17605 closed, assigned to nobody

[2020-07-30 11:04] andymwood opened #17784 ""spack buildcache create ..." fails if the a file already exists"
In version v0.14, `spack buildcache create ...` would only report a warning if the build cache of a dependency already existed.

Now, on version v0.15, it returns an error and suggests I use the option `-f` to overwrite the existing files. I don't want to do that - it's slow and wastes time.

How can I get the old behaviour back?

### Steps to reproduce the issue

[code]

In v0.14, it reports lots

[2020-07-30 13:49] owainkenwayucl commented on #17557
The patch has been merged in so I'm closing this issue - thanks for the help getting this fixed.

[2020-07-30 13:49] #17557 closed, assigned to nobody

[2020-07-30 14:17] sjpb opened #17791 "Installation issue: cp2k"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.14.2-1247-6ddc077
* **Python:** 3.7.6
* **Platform:** linux-centos7-broadwell

`packages.yaml`:

[code]

### Additional information

* [spack-build-out.txt]()
* [spack-build-env.txt]()

### General information

- [x] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [x] I have

[2020-07-30 15:40] dev-zero commented on #17791
I'd say this is a duplicate of #4107 (and others) and not really specific to CP2K. Can you please try with one of the workarounds over there?

[2020-07-30 18:43] RemiLacroix-IDRIS opened #17794 "libxc: Conflicting optimization options break build with Intel 19.1.x"
The libxc package configures some optimization options for the build through setting `CFLAGS` and `FCFLAGS`:
https://github.com/spack/spack/blob/ab7b07553beecd54475e90127e2e02ba269ec99e/var/spack/repos/builtin/packages/libxc/package.py#L55-L78

This predates the whole architecture detection added in v0.13.0 but now it can somehow conflict.

In our case, Spack detects that we have `skylake_avx512`

[2020-07-30 20:13] psakievich commented on #14102
`brew link python 3.7.6_1` to switch back to python 3.7

[2020-07-30 21:26] goxberry opened #17796 "llvm package includes conflict directive with nonexistent flag"
This issue isn't strictly a bug, so it didn't seem to make sense to use one of the existing templates.

[Line 162 of the `llvm` package in commit 75042c381c9fd1412f0fce99aab9ebd43fd528c8 (current `HEAD` of `develop` as of this writing)](https://github.com/spack/spack/blob/8b515f3ba07d6a67e8a75c506a2d5d4816a73fa6/var/spack/repos/builtin/packages/llvm/package.py#L162) mentions a nonexistent `+clang_

[2020-07-31 03:22] #17638 closed, assigned to nobody

[2020-07-31 13:49] RemiLacroix-IDRIS commented on #17794
I have opened an Intel support case for this issue.

[2020-07-31 14:58] RemiLacroix-IDRIS opened #17810 "FFTW: "configure" script fails with Intel compilers on some systems."
As far as I can tell this issue occurs when the system GNU compilers are more recent than 6.5.0. For a more comprehensive description of the problem see https://github.com/FFTW/fftw3/issues/184.

It can be worked-around by replacing the `-no-gcc` option set in the `configure` for Intel compilers by `-gcc-sys`:
[code]

This can be done easily in Spack (https://github.com/RemiLacroix-IDRIS/spack/com

[2020-07-31 15:43] anne-glerum opened #17811 "==> Error: invalid literal for int() with base 10: '' When installing"
I want to install the latest dealii. I have updated my spack with `git pull`.
On the developer branch, `spack spec` and `spack install` with any package name (tried dealii, gcc and libelf)
give the error
[code]
Reverting to the old spack commit where I was at before git pull (a940ff34d; this does not contain the latest dealii release), I can do `spack spec dealii@9.1.0` without getting the above e

[2020-07-31 16:10] edoapra commented on #10303
nwchem@7.0.0 is now available and no longer requires csh
https://github.com/spack/spack/commit/154870da0ba237b8b94b721d2bc8a4d9f68883dc

[2020-07-31 16:57] adamjstewart commented on #10303
I'm going to close this, but if @marvinbernhardt specifically needs NWChem 6 then we can reopen.

[2020-07-31 16:57] #10303 closed

[2020-07-31 17:21] adamjstewart commented on #17811
Hi @anne-glerum, it's great to see more geophysicists using Spack!

I think the problem here is that the Apple Clang compiler was renamed from `%clang@10.0.1-apple` to `%apple-clang@10.0.1` (see #17110). If you make those updates in your `compilers.yaml`, I _think_ it should fix your problem.

The reason it wasn't being caught before was that Spack doesn't yet support microarch-specific optimizati

[2020-07-31 17:29] aantao opened #17814 "Installation issue: cp2k+sirius requires that sirius have the +shared, but sirius>6.3.0 doesn't support +shared"
### Steps to reproduce the issue

[code]

### Additional information
The requirement for +shared comes from this section of the cp2k recipe:
[code]
The line in the Sirius recipe, where the +shared support was removed:
[code]

### General information

[2020-07-31 21:36] tldahlgren opened #17820 "`develop` test failures on linux"
The following tests fail using `develop` on LC quartz (Linux, broadwell):

- `test_all_virtual_packages_have_default_providers` and
- `test_all_dependencies_exist`

### Error Messages

[code]

### Information on your system
[code]

### Additional information

- [x] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [x] I have searched the issues of this repo and be

[2020-07-31 21:41] tldahlgren commented on #17820
While these test failures don't appear to affect CI, they are a distraction when testing work and PRs.

[2020-07-31 22:14] tldahlgren commented on #17820
Nvm.  I have "dueling" miscellaneous cache issues between clones at different commits points and just need to remember to `spack clean -m`.

[2020-07-31 22:15] tldahlgren commented on #17820
Nvm.  I have "dueling" miscellaneous cache issues between clones at different commits and just need to remember to `spack clean -m`.

[2020-07-31 22:15] #17820 closed, assigned to nobody

[2020-07-31 22:36] gartung commented on #17469
This functionality was removed with the switch to inxex.json
https://github.com/spack/spack/pull/15002

[2020-07-31 22:36] gartung commented on #17469
@scottwittenburg

[2020-08-01 00:31] bvanessen opened #17823 "Cray environment for CUDAHOSTCXX is goofed"
### Steps to reproduce the issue

On CoriGPU I am building lbann using GCC 8.2.0 and cmake is unable to resolve CUDAHOSTCXX because spack setups up a cray environment even though I am not using one.  It ends up with CUDAHOSTCXX=CC, which is wrong.

### Error Message

[code]

[code]

### Information on your system

CoriGPU

### Additional information

- [ ] I have run `spack debug report` and repor

[2020-08-01 01:12] bvanessen commented on #17823
@scheibelp @tgamblin @becker33

Why does the the compiler on a cray system get set to "CC" rather than the actual compiler.  In the cuda package this cause problems with the following line:

[code]

This should be set to the actual compiler the same way it is done on other systems.

[2020-08-01 01:14] scheibelp commented on #17823
Notes:

* `CUDAHOSTCXX` is set in https://github.com/spack/spack/pull/16869
* @bvanessen is not referring to builds with Spack, but the fact that once the package is installed, that this variable is set in their environment (affecting subsequent installs outside of Spack)

[2020-08-01 01:26] tgamblin commented on #17823
@robertmaynard @ax3l @becker33: #16869 seems to break things on Cray because we set the CUDAHOSTCXX to `CC`, as that is what we detect things as in `compilers.yaml`.

When `nvcc` is called on Cray does it ignore some module settings or something? Seems like if we use `CC` it should pick up the modules loaded in the build environment and do the right thing.

If that doesn't work, what should we be

[2020-08-01 01:43] tgamblin commented on #17823
Ok we discussed this a bit and it's... interesting.  I think the fundamental problem in @ax3l's #16869 is this, from `cuda/package.py`:

[code]

This says that we should set `CUDAHOSTCXX` in the *run* environment for CUDA.  But that is assuming that the run environment has something to do with the way CUDA was built.  In @bvanessen's case, he's trying to load an environment that somehow depends on

[2020-08-01 01:52] ax3l commented on #17823
Uff, I am sorry for the regression.

Yes, I actually want this for dependent packages that build against CUDA with CMake - so `setup_dependent_build_environment`... And I would like that var set when activating an environment with CUDA in it or `spack load`-ing CUDA, because that's how I would use it for compiling things against Spack envs/modules in development.

If this conflicts badly with othe

[2020-08-01 01:56] tgamblin commented on #17823
This, I think, is fine.  But test it on Cori.  Can you do that and submit a PR?

This is the tricky part.  We don't currently have a good way to do that because the env doesn't really have a "compiler" associated with it.  You load specs in the env but we don't know what you intend to build with it.  So I would just remove this for now.

I do think this is a good thing for a dev env to set but it'

[2020-08-01 02:03] ax3l commented on #17823
Sorry, don't have time for this right now:

[2020-08-01 15:36] #17469 closed, assigned to nobody

[2020-08-01 20:29] #17823 closed, assigned to becker33

[2020-08-01 20:52] adamjstewart commented on #14679
I think the correct solution is to add a build dependency on pkg-config. I'll try this out and put together a PR soon.

[2020-08-02 20:52] #17784 closed, assigned to nobody

[2020-08-02 22:03] adamjstewart commented on #17796
Want to submit a PR to remove that line? @trws @naromero77 are the maintainers.

[2020-08-02 22:06] adamjstewart commented on #17657
@chuckatkins is this a known CMake issue?

[2020-08-02 22:07] adamjstewart commented on #17582
It sounds like all of your questions have been answered? Is it safe to close this issue?

[2020-08-03 01:34] Joe23232 commented on #17582
Yeah of course, thanks for your help mate :)

On Mon, Aug 3, 2020 at 8:07 AM Adam J. Stewart <notifications@github.com>
wrote:

[2020-08-03 01:52] #17582 closed, assigned to nobody

[2020-08-03 05:16] eugeneswalker opened #17846 "Installation issue: conduit: missing hdf5_hl.h"
`conduit@master` is failing using `spack@develop` (31-July-2020, f3cb3a2eb8991cdfa131abcb429f13903911db1f) on:
* `CentOS 7` on `x86_64` and `ppc64le` using `gcc@8.1.0`
* `Ubuntu 18.04` on `x86_64` and `ppc64le` using `gcc@7.5.0`

I've attached the exact concretized spec file I'm using to do the install below.

All the dependencies are available in public build-cache: https://cache.e4s.io/e4s (gpg

[2020-08-03 08:24] andymwood opened #17849 "`spack buildcache` doesn't generate `index.json` automatically"
I have created a build cache for software to be installed on several different systems, all of which are compatible with x86_64. `spack buildcache install` worked with v0.14, now it's broken on both develop and v0.15 branches.

### Steps to reproduce the issue

[code]

I get a different error message with v0.15:
[code]

It works fine with v0.14:
[code]

### Information on your system

* **Spack:**

[2020-08-03 12:34] haampie opened #17853 "Make install --only=dependencies install the direct dependencies explicitly"
If I want to run CI for a project that is spack-buildable, and I don't want to host my own binary cache, a useful strategy seems to be to create a base docker image in which you run `spack install --only=dependencies [package name]@develop`, store that image on Dockerhub, and run `spack dev-build --ignore-dependencies [package name]@develop` as part of CI.

The problem is that the base image becom

[2020-08-03 12:58] anne-glerum commented on #17811
Thanks for your quick reply @adamjstewart !
To get the installation started I created a new compiler with the exact same settings, just the new name and adapted my install command accordingly:
`spack install dealii ^cmake@3.9.4 %apple-clang@10.0.1-gfortran9.1.0`
The install unfortunately fails halfway through with the `berkeley-db` package in the build phase (all errors are related to atomic), but

[2020-08-03 13:33] adamjstewart commented on #17811
The berkeley-db bug was just fixed, if you update to the latest develop you should be able to get past that.

[2020-08-03 15:00] cyrush commented on #17846
@eugeneswalker thanks for letting me know --  I'll take a look a this later this week.

[2020-08-03 15:10] naromero77 commented on #17796
Just got back from "vacation" and catching up on many things. Give me a day or two to take a look -- want to make sure nothing accidentally disappeared.

[2020-08-03 18:29] anne-glerum commented on #17811
Yes, great! Sorry for not seeing that, I thought I had checked for issues/PRs on berkely-db.

[2020-08-03 18:51] #14679 closed

[2020-08-03 21:26] adamjstewart commented on #17846
Do we just need to add a dependency on `hdf5+hl`?

[2020-08-03 22:27] eugeneswalker commented on #17846
Build succeeds with `^hdf5+hl`

[2020-08-03 22:47] tgamblin commented on #17846
Just looks like `conduit` needs to say it depends on `hdf5+hl`.

@cyrush: should `conduit` require the HL interface?

[2020-08-03 22:54] haampie opened #17858 "buildcache create does not work with uninstalled root specs of environment"
`spack buildcache` tries to create a cache entry for non-installed root specs:

### Steps to reproduce the issue

[code]

### Error Message

[code]

### Information on your system

* **Spack:** 0.15.3
* **Python:** 3.6.9
* **Platform:** linux-ubuntu18.04-zen2

### Additional information

- [x] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [x] I have searched t

[2020-08-03 23:02] cyrush commented on #17846
we actually filter out the HL libs (b/c we don't use or link them) -- I wonder if this is due to a new version of cmake or maybe updates to the hdf5 package?

It would be good to understand the root cause.

[2020-08-03 23:02] tgamblin commented on #17846
If it does not need HL, then I think that this line should be changed:

https://github.com/LLNL/conduit/blob/29f4fe5026866b8a7cd52b92713bb7a16dfa90da/src/cmake/thirdparty/SetupHDF5.cmake#L69

from:

[code]

to:

[code]

Or maybe no `Fortran` if it doesn't use the `Fortran` interface.

It looks like per the docs `HL` is a default component: https://cmake.org/cmake/help/latest/module/FindHDF5.html

[2020-08-03 23:05] tgamblin commented on #17846
Actually scratch that... all the docs say that wtihout `COMPONENTS` it should only attempt to find the C bindings.  So is this a bug in 3.18?  Hm.

[2020-08-04 00:08] eugeneswalker commented on #17846
Yes, I think this is right. If I build `conduit ^cmake@3.17.3` the build completes fine, even *without* `hdf5+hl`

[2020-08-04 10:08] haampie commented on #17858
This solves #17859 in the sense that it does not error, but at the same time it also skips creating tarballs of dependencies of uninstalled root specs, so it simply does nothing for packages installed as `spack install --only=dependencies [spec]` inside an environment.

[2020-08-04 12:07] Nischay-Pro opened #17869 "Installation issue: ucx"
I'm trying to build openmpi with ucx but on compiling ucx I get build errors with `error: implicit declaration of function`.

[code]

### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.15.3-387-3a02d1a84
* **Python:** 3.6.8
* **Platform:** linux-centos8-zen2

### Additional information

* [spack-build-out.txt](https://github.com/spack/spack/files/5021896/spack

[2020-08-04 14:58] eugeneswalker opened #17871 "Installation issue: adios2 on NERSC Cori"
Using `spack@develop` (3-Aug, 4c97a0ea1cbcb42fff4cb2183552b6b6c441d791) on NERSC Cori (`cray-cnl7-haswell`) with `%intel@19.1.1.217`:

The Spack environment used to install `adios2` is attached below along with the full build log.

[code]

Full build log: [adios2-build-out.txt](https://github.com/spack/spack/files/5022802/adios2-build-out.txt)
Spack environment: [spack.yaml.txt](https://github.com

[2020-08-04 15:14] eugeneswalker opened #17873 "Installation issue: caliper on NERSC Cori"
Using `spack@develop` (3-Aug, 4c97a0ea1cbcb42fff4cb2183552b6b6c441d791) on **NERSC Cori** (`cray-cnl7-haswell`) with `%intel@19.1.1.217`:

The Spack environment used to install `caliper` is attached below along with the full build log.

[code]

Full build log:  [caliper-build-out.txt](https://github.com/spack/spack/files/5022882/caliper-build-out.txt)
Spack environment: [spack.yaml.txt](https://gi

[2020-08-04 15:33] eugeneswalker opened #17874 "Installation issue: dyninst on NERSC Cori"
Using `spack@develop` (3-Aug, 4c97a0ea1cbcb42fff4cb2183552b6b6c441d791) on NERSC Cori (`cray-cnl7-haswell`) with `%intel@19.1.1.217`:

The Spack environment used to install `dyninst` is attached below along with the full build log.

[code]

Full build log: [dyninst-build-out.txt](https://github.com/spack/spack/files/5022978/dyninst-build-out.txt)
Spack environment: [spack.yaml.txt](https://github.

[2020-08-04 15:37] lee218llnl commented on #17874
This is the Intel compiler crashing and so this should probably be reported to Intel. In the meantime, you may want to try a different Intel version or try the GNU compiler.

[2020-08-04 17:03] #17814 closed, assigned to nobody

[2020-08-04 17:30] eugeneswalker opened #17877 "Installation issue: m4 on NERSC Cori using Intel Compiler"
Using `spack@develop` (3-Aug, 4c97a0ea1cbcb42fff4cb2183552b6b6c441d791) on NERSC Cori (`cray-cnl7-haswell`) with `%intel@19.1.2.254`:

The full build logs, and the exact concretized spec of `m4` used here, are attached below.

Full build log: [m4-build-out.txt](https://github.com/spack/spack/files/5023549/m4-build-out.txt)
Spec: [m4.spec.yaml.txt](https://github.com/spack/spack/files/5023556/m4.sp

[2020-08-04 18:33] jrmadsen commented on #17873
Random comment to subscribe and @daboehme I don't think this is a caliper issue but thought you might like to be aware of it

[2020-08-05 05:22] naromero77 commented on #17796
I went back over a year in the git history. That conflict has been there for a while, but I don't think it has ever done anything.

Maybe @homerdin might know.

I will just plan on deleting that tomorrow if I don't hear back from anyone.

[2020-08-05 12:36] t-karatsu opened #17891 "Installation issue: parse extension error of cray-libsci"
When I tried to install the cray-libsci package, the following error occurred.
[code]
Is this package supposed to include external libraries?
In that case, it seems unnecessary to define `url` and `version`.

We also think that it is necessary to define a `conflict` if the available environment(ex. architecture) is limited.

### Steps to reproduce the issue

[code]
### Information on your system

[2020-08-05 17:15] eugeneswalker opened #17892 "Installation issue: faodel on NERSC Cori with Intel 19.1.1.217"
Using `spack@develop` (3-Aug, 4c97a0ea1cbcb42fff4cb2183552b6b6c441d791) on **NERSC Cori** (`cray-cnl7-haswell`) with `%intel@19.1.1.217`:

Concretized `faodel` spec: [faodel.spec.yaml.txt](https://github.com/spack/spack/files/5030044/faodel.spec.yaml.txt)
Full build log: [faodel-build-out.txt](https://github.com/spack/spack/files/5030029/faodel-build-out.txt)

[code]

@tkordenbrock @shahzebsiddiqu

[2020-08-05 17:50] eugeneswalker opened #17893 "Installation issue: superlu-dist on NERSC Cori w/ Intel 19.1.1.217"
Using `spack@develop` (3-Aug, 4c97a0ea1cbcb42fff4cb2183552b6b6c441d791) on **NERSC Cori** (`cray-cnl7-haswell`) with `%intel@19.1.1.217`:

`superlu-dist` spec: [superlu-dist.spec.yaml.txt](https://github.com/spack/spack/files/5030232/superlu-dist.spec.yaml.txt)
Build log: [superlu-dist-build-out.txt](https://github.com/spack/spack/files/5030242/superlu-dist-build-out.txt)

[code]

@balay @gchavez2

[2020-08-05 18:27] eugeneswalker opened #17894 "Installation issue: scr on NERSC Cori w/ Intel 19.1.1.217"
Using `spack@develop` (3-Aug, 4c97a0ea1cbcb42fff4cb2183552b6b6c441d791) on **NERSC Cori** (`cray-cnl7-haswell`) with `%intel@19.1.1.217`:

`scr` concretized spec: [scr.spec.yaml.txt](https://github.com/spack/spack/files/5030399/scr.spec.yaml.txt)
Build Log: [scr-build-out.txt](https://github.com/spack/spack/files/5030404/scr-build-out.txt)

[code]

@gonsie @shahzebsiddiqui @scottwittenburg

[2020-08-05 21:40] jrood-nrel commented on #9639
This bit me again today. I installed `intel-parallel-studio@cluster.2020.2` and it wrote a bunch of `/usr` and other paths like Spack's `gcc` wrapper. So when I compiled something using the Intel 2020 module it complained that Spack wasn't loaded!

[2020-08-05 22:14] eugeneswalker opened #17896 "Installation issue: tau on NERSC Cori w/ Intel 19.1.1.217"
Using `spack@develop` (3-Aug, 4c97a0ea1cbcb42fff4cb2183552b6b6c441d791) on **NERSC Cori** (`cray-cnl7-haswell`) with `%intel@19.1.1.217`:

`tau` concretized spec: [tau.spec.yaml.txt](https://github.com/spack/spack/files/5031512/tau.spec.yaml.txt)
Build Log: [tau-build-out.txt](https://github.com/spack/spack/files/5031510/tau-build-out.txt)

[code]

A relevant part of the log (attached at top):
[co

[2020-08-05 22:30] eugeneswalker opened #17897 "Installation issue: upcxx on NERSC Cori w/ Intel 19.1.1.217"
Using `spack@develop` (3-Aug, 4c97a0ea1cbcb42fff4cb2183552b6b6c441d791) on **NERSC Cori** (`cray-cnl7-haswell`) with `%intel@19.1.1.217`:

`upcxx` concrete spec: [upcxx.spec.yaml.txt](https://github.com/spack/spack/files/5031558/upcxx.spec.yaml.txt)
Build log: [upcxx-build-out.txt](https://github.com/spack/spack/files/5031559/upcxx-build-out.txt)

[code]

@mjacquel @bonachea @scottwittenburg @shah

[2020-08-05 23:19] daboehme commented on #17873
Thanks for letting me know. Indeed looks more like a compiler problem than a Caliper problem. I can't reproduce it on our own Clusters with Intel 19.1.2, but of course that doesn't say much being a completely different system and newer compiler.

[2020-08-05 23:23] eugeneswalker commented on #17873
Just to confirm, you are able to build caliper with intel 19.1.2 on your systems? I agree this looks like compiler problem. I will bring it up with systems staff.

[2020-08-05 23:30] daboehme commented on #17873
Yep, both manually and through spack.

[2020-08-06 00:51] eugeneswalker opened #17901 "Installation issue: axl on NERSC Cori w/ Intel 19.1.1.217"
Using `spack@develop` (3-Aug, 4c97a0ea1cbcb42fff4cb2183552b6b6c441d791) on **NERSC Cori** (`cray-cnl7-haswell`) with `%intel@19.1.1.217`:

`axl` concrete spec: [axl.spec.yaml.txt](https://github.com/spack/spack/files/5031892/axl.spec.yaml.txt)
Build log: [axl-build-out.txt](https://github.com/spack/spack/files/5031890/axl-build-out.txt)

[code]

@shahzebsiddiqui

[2020-08-06 01:48] sethrj commented on #17713
Sorry @biri1987 , I missed your response. I think (on mac systems) Spack automatically adds any available GCC compilers to the `fortran`/`f77` keys of your apple-clang compiler, so that it becomes a "mixed" toolchain. It's still using clang for C++; the error you get with the `%gcc@10` is because the GNU C++ compilers don't work well on newer mac versions.

I'm going to close this until it can be

[2020-08-06 01:48] #17713 closed, assigned to nobody

[2020-08-06 01:48] eugeneswalker opened #17903 "Installation issue: mumps on NERSC Cori w/ Intel 19.1.1.217"
Using `spack@develop` (3-Aug, 4c97a0ea1cbcb42fff4cb2183552b6b6c441d791) on **NERSC Cori** (`cray-cnl7-haswell`) with `%intel@19.1.1.217`:

`mumps` concrete spec: [mumps.spec.yaml.txt](https://github.com/spack/spack/files/5032052/mumps.spec.yaml.txt)
Build log: [mumps-build-out.txt](https://github.com/spack/spack/files/5032050/mumps-build-out.txt)

[code]

@shahzebsiddiqui

[2020-08-06 02:01] sethrj commented on #17662
@keitat the problem @biri1987 posted is distinct from the one @tmdelellis posted, which is a GCC/mac incompatibility:
[code]

The SCALAPACK issue was moved to https://github.com/spack/spack/issues/17713 and solved (or at least worked around by not compiling SCALAPACK).

@tmdelellis 's issue is just one more in the host of incompatibilities between GCC's C++ and newer macOS versions. I thought we h

[2020-08-06 16:45] quellyn commented on #16910
Hi guys,

Can you elaborate more on the workaround? I am experiencing this same problem on a Cray platform (LLNL's rzwhamo, cray_toss3.6-5rc1_amd-epyc). In my case I'm attempting to use gcc and mvapich2 (modules provided by Cray), and multiple packages fail to install with errors like: "undefined reference to 'MPI_<libname>'".

However, when I module swap gcc for cce, and cray-mvapich2_nogpu_gnu f

[2020-08-06 17:02] #14058 closed

[2020-08-06 21:48] scheibelp commented on #16910
If you have added `mvapich2` as a root spec and installed the environment, that would be the workaround I'm referring to - you shouldn't have to do anything else.

I don't see Spack loading modules for externals, so if this is module-dependent, I think we need to add that in to environment activation.

[2020-08-07 13:10] cedricchevalier19 commented on #10714
Fixed by #10715

[2020-08-07 13:10] #10714 closed

[2020-08-07 13:25] RemiLacroix-IDRIS opened #17930 "PGI compilers integration in NVIDIA HPC SDK"
NVIDIA released its HPC SDK today. It includes the ex-PGI compilers which have been rebranded `nvc`, `nvc++` and `nvfortran`.

How do you plan to accommodate this rebranding? Should we keep using the NVIDIA compilers as PGI compilers or should it be new compilers (which might break existing packages since "%pgi" wouldn't catch those although it will probably be needed in most cases)?

[2020-08-07 15:11] haampie opened #17932 "GCC_INSTALL_PREFIX in llvm+clang not set correctly with system GCC on Ubuntu 20.04"
### Steps to reproduce the issue

On Ubuntu 20.04 with the system GCC 9.3.0, LLVM gets built with `-DGCC_INSTALL_PREFIX=/` when the compiler paths are `/bin/gcc` -- which was the default in my case (compilers are added with `spack compiler find`). The correct prefix is `/usr` I guess.

[code]
### Information on your system

[code]

Error was introduced by https://github.com/spack/spack/pull/12381

[2020-08-07 15:33] sethrj commented on #17932
@haampie Can you print the output of `clang -print-search-dirs`?

[2020-08-07 15:36] haampie commented on #17932
Oof.. I've just uninstalled the broken clang version, and I'm now recompiling from source again with the compiler paths in `~/.spack/linux/compilers.yaml` changed from `/bin/{gcc,g++,gfortran}` to `/usr/bin/{gcc,g++,gfortran}`. I don't think I want to recompile llvm again just to run that command :smile:.

For what it's worth, with my updated compiler paths, the cmake variable is `-DGCC_INSTALL_PR

[2020-08-07 17:51] LDAmorim opened #17934 "Installation issue: mpich"
This issue is related to https://github.com/spack/spack/issues/16913, but for macOS (clang).
And can be fixed by extending/duplicating the fix for compiler `gcc@10:` to `apple-clang@11:`.

### Steps to reproduce the issue

[code]

### Information on your system

[code]

* clang version: 11.0.3
* gcc (gfortran) version: 10.2.0
* cmake version: 3.18.1

[code]

[code]

### Additional information

* [

[2020-08-07 18:03] eugeneswalker commented on #17846
`cmake@3.17.3` works fine with an otherwise-default `conduit` concretization.

[2020-08-07 18:04] eugeneswalker commented on #17846
Should I update the `conduit` Spack package to use up to `cmake@3.17.3` ?

[2020-08-07 18:49] tgamblin commented on #16910
I think we should do this -- people have been finding that externals are not added during environment activation in other scenarios too (e.g. when added by prefix)

[2020-08-07 20:50] #17846 closed, assigned to zackgalbreath

[2020-08-07 22:24] LDAmorim commented on #16215
Hi all,

This is just an update in case people are getting stuck on this detail.

There is a problem now with the inclusion of the conflict, even if I define:
[code]

When I try to install `openpmd-api@dev %gcc` it fails due to the conflict.

I had to comment out the conflict in the package config of `cmake` and use that one as an external package, to be able to do that installation.

So, maybe in

[2020-08-07 23:43] SirRujak commented on #17048
I've been trying to test out the rocm branches which rely on pocl and it appears that this issue was fixed in llvm@10.0.1 as per this [bug report](https://bugs.llvm.org/show_bug.cgi?id=44870). On my local machine I was able to just add version 10.0.1 to the llvm spack definition and it built correctly. I am not entirely sure if anything else would need to happen for the llvm update but I wanted to

[2020-08-08 02:24] darmac opened #17946 "Installation issue: akantu"
`akantu` build fail in spack:
[code]

[2020-08-08 02:31] darmac opened #17947 "Installation issue: ace"
`ace` stage error(I'm not sure it's my internet problem or not), after I change the hash, `ace` can install successfully:
[code]

[2020-08-08 03:22] Sinan81 commented on #17048
Weird, the build is still failing for me despite I am using llvm@10.0.1. Could you provide the spec of the successful build?

[2020-08-08 04:18] Sinan81 commented on #17048
disabling `polly ` option in llvm pushes build percentages from 70ish to 99% however it is still failing due to a different error:
[code]
This looks like a somewhat trivial error.

[2020-08-08 05:42] eugeneswalker opened #17948 "Installation issue: Umpire"
`Umpire` build fails using `spack@develop` (7-Aug-2020, 3978db91dc4385b492b8dcbc1f2b87326f217b1b) on:
* Ubuntu 18.04 x86_64, `%gcc@7.5.0`
* Ubuntu 18.04 ppc64le, `%gcc@7.5.0`
* RHEL 7 x86_64, `%gcc@8.1.0`
* RHEL 7 ppc64le, , `%gcc@8.1.0`

Concrete spec: [umpire.spec.yaml.txt](https://github.com/spack/spack/files/5044716/umpire.spec.yaml.txt)
Build log: [umpire-build-out.txt](https://github.com/spa

[2020-08-08 14:48] sethrj commented on #17846
@eugeneswalker  the error is caused by https://gitlab.kitware.com/cmake/cmake/-/merge_requests/4345 and I'll try to put in a PR to CMake to fix it.

A minimal example case (when building against hdf5~hl
[code]
gives an error message but successfully configures:
[code]

However, because the compiler configuration error out, it doesn't pull in the correct szip/dl libraries. See https://gitlab.kitwar

[2020-08-08 16:11] #16035 closed

[2020-08-08 16:58] balay commented on #17893
With internal compiler errors I usually look for workarounds [find compiler flag that is triggering this and avoid using this flag.]

I don't really understand this build though - so assuming its e4s issue (per label)....

my basic haswell build goes through.

[code]

also cc: @xiaoye

[2020-08-08 20:00] SirRujak commented on #17048
My install was a bit messy due to trying to get the rocm build going concurrently so I am starting a rebuild of pocl with a fresh spack install to sort things out. I'll post back with the specifics of my build process and the spec for it when it finishes up. May be a bit but I should be able to have it ready later today.

[2020-08-08 21:05] Sinan81 commented on #17048
Please take your time. This is not something super urgent. Thanks!

[2020-08-09 00:59] SirRujak commented on #17048
No worries! Had some non-computer stuff to do today so I have been running it in the background building away. I was able to build it again from a fresh install with both gcc@8.3.0 and gcc@9.3.0. Here is the [spec.yaml](https://github.com/spack/spack/files/5046620/specyaml.txt) for pocl. For reference I am on the spack develop branch and pulled it today. The only change I made was to the llvm pack

[2020-08-09 16:51] sethrj commented on #17932
So does `/bin/gcc` not exist, or is it just a symlink to `/usr/bin/gcc`? Do header files exist at `/include`? Should we add a  runtime assertion in the llvm recipe to check for a directory `$GCC/include/c++`?

Maybe the safest change would be to parse `$CC -print-search-dirs` and use that instead ?

[2020-08-09 18:40] #17948 closed, assigned to nobody

[2020-08-09 18:47] #17810 closed, assigned to nobody

[2020-08-09 19:04] #17796 closed, assigned to nobody

[2020-08-10 05:48] #17262 closed, assigned to scheibelp

[2020-08-10 05:56] alalazo opened #17966 "Turn test architecture and config into proper fixtures"
This issue is just a reminder of a technical debt we have to solve. The gist of the issue is described in a couple of comments here:

https://github.com/spack/spack/blob/8c1329958c0d414305b185f37bd6d13814cd98c8/lib/spack/spack/test/conftest.py#L285-L293

[2020-08-10 07:51] haampie commented on #17932
So, `/bin/gcc` exists and it's a copy of `/usr/bin/gcc` _not_ a symlink. `spack compiler find` has a bug which changes the order of the directories in `$PATH` s.t. `/bin/gcc` ends up in my `compilers.yaml` while `/usr/bin/gcc` should come first. Let me make a PR for that separately.

I've rebuild clang, it seems the actual search paths were correct (I might have accidentally copied the wrong error

[2020-08-10 08:06] g-mathias opened #17968 "Installation issue: charliecloud 0.16 & 0.17"
I find two minor issues installing the latest charliecloud versions

1. Encoding problem

[code]
* **Spack:** 0.15.0-457-73486df9f
* **Python:** 3.6.10
* **Platform:** linux-sles15-haswell

Google tells me e.g. https://stackoverflow.com/questions/18649512/unicodedecodeerror-ascii-codec-cant-decode-byte-0xe2-in-position-13-ordinal

[spack-build-out-py@3.6.10.txt](https://github.com/spack/spack/file

[2020-08-10 08:08] haampie commented on #17934
With https://github.com/spack/spack/pull/17964 you can avoid using Fortran compilers altogether, which can be useful if your package just uses the C or C++ interface.

[2020-08-10 15:57] LDAmorim commented on #17934
Hi, Thank you for the reply!
I will try again without the fortran compilers (I actually think I did that first and got a missing `gfortran` error message, but I will double check it!).

[2020-08-10 17:34] eugeneswalker opened #17974 "Build fail: petsc on RHEL 7, Ubuntu 18.04 (x86_64 and ppc64le)"
`petsc` build is failing using `spack@develop` (10-Aug, 1398038beead1a1532fc337165e2b6bf9d58c284) on:
* `Ubuntu 18.04` `x86_64 + ppc64le` `%gcc@7.5.0`
* `RHEL 7` `x86_64 + ppc64le` `%gcc@8.3.1`

Concrete spec for `petsc` on RHEL7-x86_64: [petsc-stemyz.yml.txt](https://github.com/spack/spack/files/5052331/petsc-stemyz.yml.txt)
Build log: [petsc-build-out.txt](https://github.com/spack/spack/files/50

[2020-08-10 17:40] balay commented on #17974
Fix at https://github.com/spack/spack/pull/17973

[2020-08-10 17:57] eugeneswalker opened #17975 "Build fail: magma ppc64le: rhel8 and centos8: "__ieee128" is undefined"
`magma` build is failing using `spack@develop` (10-Aug, 1398038beead1a1532fc337165e2b6bf9d58c284) on:
* `RHEL 8` `ppc64le` `%gcc@8.3.1`
* `CentOS 8` `ppc64le` `%gcc@8.3.1`

Concrete spec for `magma` for RHEL8 ppc64le: [magma-ph5dkn.yml.txt](https://github.com/spack/spack/files/5052396/magma-ph5dkn.yml.txt)
Build log: [magma-build-out.txt](https://github.com/spack/spack/files/5052466/magma-build-ou

[2020-08-10 19:38] reidpr commented on #17968
Hi, thanks for the bug reports!

Re. problem 1, I think this is a Spack bug. Charliecloud's configure output includes Unicode characters, specifically the greater than or equal to symbol U+2265 “≥”, which in UTF-8 is represented by the sequence [E2 89 A5](http://www.ltg.ed.ac.uk/~richard/utf-8.cgi?input=%E2%89%A5&mode=char). Note the offending byte `0xe2`. Spack should be fixed to accept Unicode o

[2020-08-10 19:50] g-mathias commented on #17968
Issue 1 may be a particular problem of python 3.6.x - I've seen similar bug reports for Ubuntu as well.

For Issue 2 PR hpc/charliecloud#722 fixes the issue only in `examples` - the `test` directory was forgotten. Hope it will be fixed in the upcoming 0.18 version of charliecloud.

[2020-08-10 20:45] #17974 closed, assigned to nobody

[2020-08-10 21:31] luszczek commented on #17975
This is an error in system files. The environment for compilation has not been set up. Spack's `build.env` could shed some light on this.

[2020-08-10 23:09] haampie opened #17981 "LLVM's support lib cmake targets have dependencies on system libs (zlib, ncurses/tinfo)"
When building `spack install llvm`, it creates a cmake file:

https://github.com/llvm/llvm-project/blob/master/llvm/lib/Support/CMakeLists.txt#L1

which is installed to e.g.

[code]
It contains certain strict dependencies on 'system libraries':

[code]
only `z3` has a proper path to the spack installed lib.

In my case I was building rocBLAS, which uses this LLVM target, links against the system v

[2020-08-11 10:59] helen9813488 commented on #7147
@davydden I had the same issue, and followed your instructions above.  In the resulting compiler.yaml file my f77 and fc are not set.  I have:
-compiler:
  spec: gcc@7.4.0
  paths:
  cc: /usr/bin/gcc
  cxx: /usr/bin/g++
  f77:
  fc:

What should I put for f77 and fc? I saw in your tutorials "/usr/bin/gfortran" but that doesn't exist on my system.  I tried "spack install gfortran" but got back "Err

[2020-08-11 13:33] sethrj commented on #17846
Merged into cmake develop and backported into the upcoming CMake 3.18.2 release: https://gitlab.kitware.com/cmake/cmake/-/merge_requests/5112

[2020-08-11 13:41] payerle opened #17987 "Problem with compiler selection Intel vs AMD; allow more specific targets in compilers.yaml"
Spack does not appear to readily allow one to specify a different compiler to use for AMD vs Intel builds.  This is problematic because I am seeing cases wherein compiling a package on AMD using a gcc compiler built on Intel platform fails, but the same compilation (same spack command) succeeds if I replace the compiler in compilers.yaml with the same version of gcc built on AMD system.

However,

[2020-08-11 13:42] payerle commented on #17987
### Additional Information
spack debug report
* **Spack:** 0.14.2
* **Python:** 3.6.8
* **Platform:** linux-rhel8-zen2

[2020-08-11 14:30] ilbiondo commented on #17987
As AMD and Intel seem to have diverged sufficiently to not be compatible a simpler solution might be to split them into two families.

This is defined in lib/spack/llnl/util/cpu/microarchitectures.json and looks to be reasonably simple to change.

Changing

[code]

to

[code]

Should be enough to create a new "zen" family although it would be cleaner to start at the top and create `x86_64_Intel` a

[2020-08-11 14:43] alalazo commented on #17987
@ilbiondo The issue here is more subtle and has to do with the fact that currently we only have a single `target` attribute while we should have at least two attributes like e.g. `host` and `target`. One would serve to identify where the compiler can run the other where the executables it produces can run. There's work on-going to improve support for cross-compilation that will touch this aspect,

[2020-08-11 15:32] naromero77 commented on #17981
Yes, please report the issue on LLVM bugzilla. It would be good to get this upstreamed.

@trws Are you OK with the change?

[2020-08-11 16:01] payerle opened #17992 "Included configs in env spack.yaml ignored if basename matches previously included config"
When using the include: field inside a spack.yaml for an environment, it appears that if two of the included configurations have the same basename (i.e. same name but in different directories), only the first file with the same basename is "included".  I would have expected both to be included.

### Steps to reproduce the issue

1) Clone a new spack install, copy *.yaml from ../etc/spack/defaults

[2020-08-11 16:17] payerle opened #17993 "Doc error? include config in env spack.yaml applied in different order than online docs say"
The online documentation:
https://spack.readthedocs.io/en/latest/environments.html
in the section "Included configurations"
states
"Included configs listed later will have higher precedence, as the included configs are applied in order."

This does not match what I see when using included configurations.
### Steps to reproduce the issue
1) Clone a new spack instance, copy yaml configs from etc/spa

[2020-08-11 16:21] payerle commented on #17992
See also #17993 (re order in which include files applied.  The example in the current issue display that as well, but as the ordering issue is basically just a mismatch between docs and actual behavior and will likely be just a doc fix, I split into a separate issue)

[2020-08-11 17:22] zhiyuanzhai commented on #14102
Actually, the problem disappears with conda environment activated.
The python version in my environment is still 3.7.6 now. I haven't upgraded my environment yet.
I will have my conda environment activated when using spack before the problem is finally fixed.

One more thing:
Notice that the command `python` still refers to python 2.7.16 in the latest version of Catalina, while `python3` is the on

[2020-08-11 19:50] G-Ragghianti commented on #17975
This is also interesting because as far as I can tell, gcc@8.3.1 wasn't released by gnu.

[2020-08-11 22:30] nithintsk opened #17998 "Need a "-d" option for spack buildcache list which is similar to spack find -d"
### Request Summary

We would require a switch option to display the dependencies of binary packages:- `$ spack buildcache list -d`
This would behave in the same way as `$ spack find -d`

### Problem Summary

We have created a new package request for MVAPICH2-GDR: [link](https://github.com/spack/spack/pull/17883) which is dependent on different versions of cuda. The package is not installable and

[2020-08-11 23:49] rblake-llnl opened #17999 "Installation issue: cuda package fails to locate linking library directory"
### Steps to reproduce the issue

[code]
Relevant error message
[code]

### Information on your system

* **Spack:** 0.15.3-489-2f0fd44
* **Python:** 3.7.2
* **Platform:** linux-rhel7-power9le

spack.yaml
[code]

### Additional information

Problem occurs here in the cuda package:
[code]

Commit 54bce00d on 2020-07-24 broke this, while fixing issue #17607 with PR #17619

### General information

-

[2020-08-12 00:08] JulienLoiseau opened #18001 "Clang/Cuda compatibility on power9"
I am working on Power9 architecture.
The module already existing are:
cuda 9.2
cuda 10.2
cuda 11.0

I have multiple versions of clang available:
clang 8.0.1
clang 8.0.0
clang 7.0.0
I also installed llvm 10.0.0 and master (11.0.0?) using spack.

I want to install Kokkos using a combination of clang/cuda but I encounter problems of compatibility even if as listed (https://gist.github.com/ax3l/948913

[2020-08-12 02:17] eschnett opened #18005 "Want Spack Docker container based on Ubuntu 20.04"
I want a Spack Docker container based on Ubuntu 20.04. I refer to the image that is used by Spack to build packages (the "build" stage).

### Rationale

Ubuntu 18.04 provides GCC 7, which is too old. I need at least GCC 8. By using Ubuntu 20.04 as base image, this would be solved.

### Description

It is possible to install GCC 8 with Ubuntu 18.04, and change a few settings to make it the default

[2020-08-12 08:33] haampie commented on #17981
@naromero77 I was about to submit a patch, but a few hours ago someone pushed changes that actually already address `zlib`, they now use find_package :) https://reviews.llvm.org/D79219.

So we can drop at least part of my patch in upcoming releases of LLVM

I've submitted a patch for ncurses here: https://reviews.llvm.org/D85820

[2020-08-12 10:47] michelemartone opened #18014 "librsb update to 1.2.0.9"
Hi.
librsb-1.2.0.9 is out, at  https://sourceforge.net/projects/librsb/files/
it would be good to update its package.py

[2020-08-12 11:13] #17999 closed, assigned to nobody

[2020-08-12 12:09] darmac opened #18016 "spack cannot show curl processor bar"
It's strange that , recent `spack` version cannot show download url and process bar.
I checked the code and found that `spack` don't print the log in fetch stage now.

And I dumped the `curl_args` by this way ,and found `'-#'` option enabled for `curl`, which means it should print the `process bar` when curl some package.
[code]

But the log I tested is that:
[code]

So, is that a bug or I missed

[2020-08-12 12:09] #18014 closed, assigned to nobody

[2020-08-12 16:55] eugeneswalker opened #18023 "Pipelines: Feature Spec Name more Prominently in CI Job Labels"
Can we change the way CI Job's are labeled so that the Spec name/version/hash are featured more prominently?

Jobs are currently labeled like this:
* `(specs) autoconf/cyewtpk 2.69 intel@19.1.1.217 cray-cnl7-haswell`

GitLab only shows the first 13 characters of this by default, and you have to mouse-over to see the full label. So `(specs)` takes up 7/13 (>50%) of the label, when it is arguably th

[2020-08-12 18:51] trws commented on #17981
Yeah, I'm good with this.  As long as we're not overriding something they vendor, but replacing usage of a system package, I think it's an improvement.  Thanks!

[2020-08-12 19:09] citibeth opened #18027 "Give checksum of failed download."
When Spack fails to download a tarball, print the expected checksum of that failed download in the error message.  Something like (see last line below):

[code]

### Rationale

This will allow us to easily `rsync` the tarball from another Spack installation, without digging through Spack recipes.

### Description

Alternative is to name Spack download cache tarballs with decipherable names, like t

[2020-08-12 20:10] EthanS94 opened #18028 "Installation issue: cray-mpich not setting up correct compiler wrappers, fails hdf5 build"
### Steps to reproduce the issue

I don't know who maintains mpich. The recent change from @alalazo seems to be causing this, but I could be wrong!

[code]

### Information on your system

### Additional information

Relevant packages.yaml to use cray-mpich module:
[code]

compilers.yaml for intel/19.0.4:
[code]

Error output from Spack:
[code]

Error output from hdf5:
[code]

Looking at the recen

[2020-08-12 20:17] ghost opened #18029 "Installation issue: CP2K"
CP2K leads to spec conflict for

[code]

Issue is caused by code below,

[code]

Issued may be fixed as follows,

[code]

[2020-08-12 20:23] eschnett opened #18030 "Spack-in-container: Stripped libraries cannot be used for linking"
I am using Spack in a container. I follow the instructions in the manual, except that I am using Ubuntu 20.04 instead of 18.04 as base image. The standard generated Dockerfile contains the lines

[code]

in the builder.

When I later use the resulting image, I cannot link against Spack-generated `*.a` libraries. The linker complains that they have no symbol table (and suggests to run `ranlib`). Wh

[2020-08-12 20:54] mwkrentel opened #18031 "spack config update doesn't handle comments in yaml file"
The `spack config update` command doesn't handle comments (#).

AFAIK, comments are allowed and I've been using them for years.  For
example, here is a sample `packages.yaml` file, and what happens when
I try to update it.

[code]

And the file isn't updated.

----------

Btw, there are two formats to specify lists in yaml, either with
`[...]` on one line, or with `-` on multiple lines.  I think t

[2020-08-12 22:19] haampie commented on #18030
I think the point of the multistage build is to have one part where you build, and one part where you generate a final set of binaries meant for just running the binaries, with the complete build environment gone.

In case you need to link to your libs in the second part, maybe don't even consider a multistage build at all? Or at least drop stripping of binaries?

[2020-08-12 22:19] payerle opened #18033 "Installation issue: libssh (linking against system instead of spack krb5 libraries)"
I ran into the following issues
libssh@0.8.5%gcc@8.4.0 build_type=RelWithDebInfo
resulting in errors like:

(full build log attached further down)

This occurred on a zen2 system running RHEL8.2, having previously successfully built on ivybridge and plain x86_64 systems.  However, the aforementioned Intel builds were done prior to some OS patches, and an attempt to spack install --overwrite on the

[2020-08-12 22:37] haampie commented on #18005
FWIW, it's trivial to install gcc-9 on ubuntu:16.04 even:

[code]
it could be useful because linking against an older libc makes your binaries compatible with newer versions too. At the same time though, spack sees different OS-platforms as incompatible by default, since it's part of the triplet.

[2020-08-12 22:48] reidpr commented on #17968
I merged the PR for issue 2. Is there a way to test our master in Spack?

And I claim issue 1 isn't a problem with the Charliecloud package but rather Spack more broadly.

As to what to do with this issue according to the Spack workflow, I don't know.

[2020-08-12 23:20] eschnett commented on #18030
For me, the end product is an image where people can modify, build, and run my application. Thus the Spack-generated libraries are part of the end product.

If you only want binaries, then you might as well not copy the `*.a` files; binaries won't need them.

A multi-stage build still makes sense because it gets rid of intermediate packages.

[2020-08-12 23:23] eschnett commented on #18005
GCC-9 produces (in its default setting) code that is not binary compatible with older versions of GCC. The problem is that the STL (e.g. the `string` class) is sensitive to whether `-std=c++17` is used or not, and this option is the default on newer versions of GCC, but not on older ones. Hence packages written in C++ (Boost etc.) are not binary compatible: I cannot use GCC-9 to compiler code that

[2020-08-13 01:04] #18028 closed, assigned to alalazo

[2020-08-13 01:35] adamjstewart commented on #351
No response to @alalazo's comment, I'm assuming that this issue is stale and closing it. Feel free to reopen if it's still an issue we need to solve.

[2020-08-13 01:35] #351 closed

[2020-08-13 01:36] adamjstewart commented on #888
@hainest maybe you could take a look at this old boost issue?

[2020-08-13 01:38] adamjstewart commented on #1486
@hainest maybe you can take a look at this old boost issue?

[2020-08-13 01:40] adamjstewart commented on #1515
Just to update on the WSL debate, I've been using Spack on WSL all summer and have yet to encounter a single issue. To echo what @KineticTheory mentioned, WSL-1 is extremely slow for filesystem access, but WSL-2 has now fixed this. You still need to manually switch from WSL-1 to WSL-2, but it took my environment symlinking times down from 20 minutes to 30 seconds.

[2020-08-13 01:43] adamjstewart commented on #1795
Spack now has a `spack external find` command which allows you to detect system installation and auto-populate your `packages.yaml`. There are currently a limited number of packages that support detection, but new PRs are coming in every day. Do you think it's still worthwhile to keep this issue open, or can we close it now?

[2020-08-13 01:46] adamjstewart commented on #2230
Does anyone have any other suggestions to fix this? I know I maintain Spack's Python recipe, but I've never been able to reproduce this bug, so it's hard to fix.

[2020-08-13 04:58] alalazo commented on #18030
@eschnett Marking this as a question and not a bug and closing. You can opt-out of stripping libraries by adding a:
[code]
attribute to your environment. See [here](https://spack.readthedocs.io/en/latest/containers.html#environment-configuration) for a list of options you can use to fine tune container generation. Feel free to reopen if you think there are additional issues to be revised.

[2020-08-13 05:56] #2893 closed

[2020-08-13 05:57] alalazo commented on #2893
@adamjstewart We might want to revisit this at a later stage, but needs some thoughts on how to setup tests (since it maintains a DB of encountered failures and tests them for regressions).

[2020-08-13 06:03] #3968 closed

[2020-08-13 06:06] alalazo commented on #6703
This has been fixed in the meanwhile:
[code]
Currently using:

* **Spack:** 0.15.3-501-7d8575140
* **Python:** 3.6.9
* **Platform:** linux-ubuntu18.04-broadwell

[2020-08-13 06:06] #6703 closed

[2020-08-13 06:23] vkallesh opened #18043 "namd: all fetchers fail"
### Steps to reproduce the issue

[code]

### Error Message

[code]

### Information on your system

### Additional information

- [x] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [x] I have searched the issues of this repo and believe this is not a duplicate
- [x] I have run the failing commands in debug mode and reported the output

[namd_stacktrace.log](ht

[2020-08-13 06:26] vkallesh commented on #18043
Error message:
==> Error: FetchError: All fetchers failed for spack-stage-namd-2.13-rvkidyrofl2uj2w5be3tfeyrznbgnv2w

/home/spack/spack/lib/spack/spack/package.py:1246, in do_fetch:
       1243                raise FetchError("Will not fetch %s" %
       1244                                 self.spec.format('{name}{@version}'), ck_msg)
       1245

[2020-08-13 06:30] alalazo commented on #18031
Bug confirmed:
[code]
Currently using :

* **Spack:** 0.15.3-508-5512340a5
* **Python:** 3.6.9
* **Platform:** linux-ubuntu18.04-broadwell

[2020-08-13 07:26] g-mathias commented on #17968
Hi, for issue 1 using python@3.7 for spack seems to be a viable workaround. Building charliecloud@master now works and I see the `ln -fTs /tmp  ...charliecloud/test/fixtures/symlink-to-tmp` now. Great, thanks!
Personally, I would consider this issue resolved. Fixing it for 0.16&0.17 seems too much effort considering the fast release policy of charliecloud. If somebody has the same problem and need

[2020-08-13 08:08] alalazo commented on #18031
@mwkrentel Thanks for reporting this bug. There's a fix for it in #18045 Let me know if it works for you.

---

Concerning the style issues, to know if we need to update a file we check its content in memory. If we have to write updated content in it we rely on the `ruamel.yaml`  we vendor for formatting and I think currently we don't tweak much defaults. I'd avoid to go too deep into formatting,

[2020-08-13 13:32] aantao commented on #6401
I have the same issue as well and was wondering if there was a workaround.
[code]

[2020-08-13 13:50] milljm commented on #7938
That worked for me. I was attempting to install VTK when this issue occurred.

[code]
Applying your change solved my issue:

[code]

[2020-08-13 14:06] dennisklein opened #18049 "Regression in environment matrix spec resolution"
[One of our spack environments](https://github.com/FairRootGroup/FairSoft/blob/7ebe61adcb0ddbf65cba21e1c93fce5728a2fbbb/test/env/fairlogger.yaml) that has worked with spack `0.14` no longer works with spack `0.15`:

[code]

### Error Message

With the activated [environment](https://github.com/FairRootGroup/FairSoft/blob/7ebe61adcb0ddbf65cba21e1c93fce5728a2fbbb/test/env/fairlogger.yaml) from above

[2020-08-13 14:32] s-sajid-ali commented on #18043
You'd have to manually download the `namd` source code from [here](https://www.ks.uiuc.edu/Development/Download/download.cgi?PackageName=NAMD) by registering for an account (it's free). Then in the directory where the file is located, you can do `spack install namd@downloaded_version`.

PS: `spack` can fetch the in-development version directly from their git repo.

[2020-08-13 15:04] s-sajid-ali opened #18050 "spack env update doesn't update environment definition file format"
When an environment definition file has paths / modules but unfilled, `spack env update env-name` doesn't update the definition file to the new format introduced in https://github.com/spack/spack/pull/17804.

Example :
[code]

Attempt to update the above to the new format :
[code]

@alalazo

[2020-08-13 15:15] eschnett commented on #18030
Stripping `*.a` libraries is fine, but Spack is too aggressive in stripping them. The result are `*.a` libraries that are useless – they cannot be used for linking. I was reporting a bug, not asking a question.

I see three options:
- Strip `*.a` libraries less aggressively, so that they remain useful for linking (my suggestion above)
- Delete `*.a` libraries instead of stripping them if you only

[2020-08-13 16:49] mwkrentel commented on #18031
@alalazo  Well, it doesn't crash, which is good.

The following example is still not handled well, where the top and
bottom block of comments are not copied to the new version.

[code]

I can tell by how spack reads things in and then prints the results
that the file gets "normalized" in the internal representation.  So,
it's probably impossible to transform the file the way a person would,
and no

[2020-08-13 16:54] #18031 closed, assigned to alalazo

[2020-08-13 16:59] #17858 closed, assigned to nobody

[2020-08-13 20:12] adamjstewart commented on #17820
Thanks @tldahlgren, I had the same issue and `spack clean -m` fixed it.

[2020-08-14 00:31] aantao opened #18059 "Installation issue: fftw %intel@19.1.1.217 ^intel-parallel-studio@cluster.2020.1"
### Steps to reproduce the issue

[code]
Background:
The ldflag is to resolve this issue: https://github.com/spack/spack/issues/6401
The cflag is to resolve this issue: https://github.com/FFTW/fftw3/issues/184  and https://community.intel.com/t5/Intel-C-Compiler/FFTW-compilation-issue-autoconf-for-standard-headers-fails/m-p/1146080/highlight/true#M34702

### Information on your system
OS: CentOS 8

[2020-08-14 04:36] hainest commented on #1486
@adamjstewart This came up when we added the Container library. I'm not sure what the best solution is, but I'll look into it again when I get some time.

[2020-08-14 04:39] hainest commented on #888
@adamjstewart My bjam-foo isn't great, but I'll see if I can replicate this.

[2020-08-14 04:41] hainest commented on #17874
Dyninst does not build with the Intel compiler (It's on my list of things to get to eventually). Please file a bug report on our [repo](https://github.com/dyninst/dyninst/issues).

[2020-08-14 04:45] hainest commented on #8401
Dyninst doesn't build with clang, but I'm working on it. I also have a [PR](https://github.com/spack/spack/pull/18063) for Dyninst to rely directly on elfutils instead of elf@1.

[2020-08-14 04:57] hainest commented on #14883
This has been fixed (https://github.com/spack/spack/pull/16818).

@adamjstewart We can close this issue.

[2020-08-14 05:56] #14883 closed

[2020-08-14 15:16] adamjstewart opened #18071 "Matplotlib + ffmpeg crashes when saving MP4 file"
When I build `py-matplotlib+movies` (which pulls in a dependency on `ffmpeg`), matplotlib crashes when I try to save an MP4 file.

### Steps to reproduce the issue

It should be possible to follow any matplotlib animation tutorial like https://towardsdatascience.com/animations-with-matplotlib-d96375c5442c and save the result as an MP4 file to reproduce the issue.

### Error Message

[code]

### In