[2021-08-27 19:41] #25582 closed, assigned to tldahlgren

[2021-08-27 19:48] wspear commented on #25612
Setting the packages.yaml prefix to CRAY_MPICH_PREFIX seems to have it working. Thanks! Do you know if there's any likelihood of automating this on the spack side?

[2021-08-27 20:41] adamjstewart commented on #22116
@BenjaminRodenberg can you try this again on develop? We recently merged a lot of PRs to improve the Python build system.

[2021-08-27 20:45] adamjstewart commented on #15886
This may be related to https://github.com/spack/spack/issues/9149. When external packages get registered in a spec, their dependencies don't.

[2021-08-27 20:47] christoph-conrads commented on #25612
For my PR #25666 I looked at the code in [`lib/spack/spack/utils/module_cmd.py`](https://github.com/spack/spack/blob/f5ab3ad82a62585589296ff37ebf7af1aed8303f/lib/spack/spack/util/module_cmd.py#L140-L150) and the responsible function is based on heuristics counting the number of occurrences of paths. This could be automated (with module name `cray-mpich`, the prefix in `CRAY_MPICH_PREFIX` is not ha

[2021-08-27 21:15] trws commented on #25617
Main is often fragile this way, does main build outside of spack with gcc 9.3?

[2021-08-27 22:48] eugeneswalker commented on #25617
I don't know about outside of Spack. But I do know that, the exact same commit of llvm@main:
* builds with GCC 11.2.0
* doesn't build with GCC 9.3.0

Because I added a custom `version()` call to the package.py for llvm. Exact same concretized spec, exact same commit of llvm main, but gcc 9.3.0 doesn't work, gcc 11.2.0 works.

[code]

[2021-08-27 22:52] tylerjereddy opened #25669 "Performance: recursive spack load"
While I realize that "environments are the future," we continue to rely on `spack load -r` to load a fairly sizeable set of dependencies internally, and migration would likely be complex. Even after recent performance improvements in `develop` like #23661 (which cut our load time in half), we are still taking about 1.5 minutes to load our `spack` installed dependencies each time we run `spack load

[2021-08-27 22:54] tylerjereddy commented on #25669
I should also note that the `--profile` flag wasn't working for me in `tcsh` (`missing }` error message or similar), though ideally I'd probably want to use `line_profiler` to get the really nicely formatted output instead of the built-in profiler on its own.

[2021-08-27 23:16] markyoder commented on #17877
Some comments and addenda to the above notes:

I see this error as well, as described above, when building m4 or tar (originally in the process of building geos) with intel@2021.2.0. Also, as discussed, the failed compiles are with the default, newer package versions: `m4@1.4.19`,
`tar@1.34`.

Rolling back the package versions, in `packages.yaml` for now,:
 `m4@1.4.19` -> `m4@1.4.17`
`tar@1.34` ->

[2021-08-27 23:18] trws commented on #25617
Ok.  When and if that becomes a tagged version we'll want to have a conflict with that gcc version, and possibly lower.  It sounds like this isn't a package issue though since using a higher gcc works, so I'm going to close this pending something to be fixed in the packaging.

[2021-08-27 23:18] #25617 closed, assigned to nobody

[2021-08-27 23:19] tldahlgren commented on #25325
@corbett5 Hi Ben.  Is it too late to take you up on a new release and Spack update?  I had someone point out to me that I really shouldn't be having the RADIUSS Cloud CI jobs running against the `develop` version.  (See #25530 )

[2021-08-28 00:54] corbett5 commented on #25325
Sure, it might take me a week to get around to though.

[2021-08-28 00:56] tldahlgren commented on #25325
Great!  Keep me posted.  And thank you.

[2021-08-28 02:35] eugeneswalker opened #25673 "hdf5: h5pcc, h5hlcc: switch to cmake causing link issues on Ubuntu 18, 20"
### Steps to reproduce

Builds of `hdf5` starting after cc20dbf645d32a45ce6b7ed848c6f25eaf42e350 and 55dd306790eee6165e9076402bb6e674be7df324 produce `h5pcc` and `h5hlcc` that, when used, give link errors on Ubuntu 18.04 and 20.04. Problem does not appear to effect RHEL 7 and 8 builds.

Problem illustrated below using:
* spack@develop (e2b9ba30012aeab5a39f016f6efd7c9cdf9003f0 from Sat Aug 28 02:28

[2021-08-28 14:31] #23892 closed, assigned to scheibelp, alalazo

[2021-08-28 16:45] adamjstewart commented on #20025
Just reproduced this again. Going to try to figure out what changed. I'm now in an environment with a Spack-built Python, so that may affect things.

[2021-08-28 17:05] adrfantini opened #25677 "Installation issue (Spack 0.16.2): CDO"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.16.0
* **Python:** 3.9.6
* **Platform:** linux-archrolling-skylake

### Additional information

No .log or .txt files exist in the build directory.

Spack was just installed, no other package is installed.

@skosukhin

### General information

- [X] I have run `spack debug report` and reported the version of S

[2021-08-28 17:05] adamjstewart commented on #20025
Okay, if I remove the try-except logic in `spack.install_test.TestSuite.__call__`, I get the same error message as in #23892:
[code]
@alalazo just fixed this for installations in #25658, looks like we need to add this to another method to fix it for smoke tests.

[2021-08-28 17:14] adamjstewart commented on #20025
Tried adding a `TestSuite.__reduce__` method but it didn't solve the issue, so the issue isn't with pickling `TestSuite` but some other object.

[2021-08-28 18:00] adamjstewart commented on #20025
Figured out how to figure out which object is having trouble being pickled. After removing the try-except logic:
[code]
If I print the object we're trying to serialize, it gives me `spack.environment.Environment`. Going to try to add a `__reduce__` method to that.

[2021-08-28 18:29] adamjstewart commented on #23892
We should add a unit test for this...

[2021-08-28 20:43] alalazo commented on #23892
@adamjstewart This was with your environment after concretization, not exactly a "unit" tests. After that I could rule out most of the code and reproduce with just the snippet above. Maybe I can try extracting a single spec from the environment and see if it is sufficient to reproduce the error. If it is we may store a spec.yaml in `test/data`.

[2021-08-28 22:35] adamjstewart commented on #25677
Are you using a newer version of the `ncurses` package with an older version of Spack?

[2021-08-28 22:36] adamjstewart commented on #25669
This may also relate to #25306

[2021-08-29 04:38] psakievich commented on #25370
Bump on this. So are there any thoughts on @haampie's suggested solution?  @sethrj I'm also wondering if there is a package based solution for `Trilinos` as well?  Looking at my config and concretization it looks like `~scorec` is set so I'm wondering why this resource is even getting downloaded at all? If we could clean this up in the `Trilinos` package that would be a bandaid in right direction

[2021-08-29 08:43] sethrj commented on #25370
Yeah the problem is that develop ignores variants so tries to always download the resources. And we can't remove the resource without removing the capability...

[2021-08-29 12:44] psakievich commented on #25370
Ah I see. That explains it.

[2021-08-29 15:39] adrfantini commented on #25677
I have not installed `ncurses`, CDO is the first package I tried to install. I'm guessing it's pulling in `ncurses` as a dep? The output does not specify anything. Spack is 0.16.0 (latest version on AUR), so not the latest, maybe that could be the issue.

[2021-08-29 15:57] adamjstewart commented on #25677
Can you try:
[code]
That may help pinpoint the issue. Also, can you try to reproduce the issue on develop?

[2021-08-29 19:05] adrfantini commented on #25677
Sure:
https://pastebin.com/8NHEWLbT

[2021-08-29 22:52] KineticTheory opened #25686 "Installation issue: trilinos~kokkos fails"
### Steps to reproduce the issue

[code]

Annoyingly, the above command fails.  I must actually run

[code]

cc maintainers: @keitat @kuberry @sethrj

### Information on your system

[code]

### Additional information

[spack-build-env.txt](https://github.com/spack/spack/files/7073332/spack-build-env.txt)
[spack-build-out.txt](https://github.com/spack/spack/files/7073333/spack-build-out.txt)

###

[2021-08-29 23:14] adamjstewart commented on #25677
@tgamblin @alalazo may want to look at this. Even if the package didn't have a URL it still shouldn't fail.

[2021-08-30 02:52] kjrstory opened #25687 "Installation issue: paraview %gcc@11.1.0"
### Steps to reproduce the issue

[code]

I compiled Paraview with gcc11.1.0, and the following error occurred.
missing includes: error: ‘numeric_limits’ is not a member of ‘std’
So I found https://www.gnu.org/software/gcc/gcc-11/porting_to.html.

I think the solution.
Files using "std:numeric_limits" should include this line "#include \<limits\>".
Is there anyone who can make this patch?
Do you h

[2021-08-30 03:38] tgamblin commented on #25677
@adrfantini any chance you can try with 0.16.2? e.g.:

[code]

[2021-08-30 08:34] alalazo commented on #25663
I can concretize using the new concretizer:

<details>

<summary>$ spack solve pfunit </summary>

[code]

</details>

[2021-08-30 08:49] alalazo commented on #25566
@adamjstewart Going to close this, but feel free to reopen if you can find a reproducer.

[2021-08-30 08:49] #25566 closed, assigned to nobody

[2021-08-30 09:08] alalazo commented on #25420
@superNick459 ?

[2021-08-30 09:08] alalazo commented on #24430
@UweSauter

[2021-08-30 13:01] danlipsa commented on #25687
Look in /home/danlipsa/projects/spack/var/spack/repos/builtin/packages/paraview/package.py
There are several patches already for various versions and reasons. You can add another one that fixes those headers. Another option is to downgrade the compiler %gcc7.4.0 for instance.

[2021-08-30 13:30] alalazo opened #25690 "Reported root specs differ based on whether a matrix is used or not"
### Steps to reproduce

This can be reproduced concretizing these two equivalent environments:
[code]
and:
[code]
and trying the:
[code]
command after concretization.

### Error message

The environment where the specs have been spelled out explicitly reports:
[code]
while the one where the matrix is expanded:
[code]
I think they are both slightly incorrect and they should read:
[code]

### Inform

[2021-08-30 14:35] alalazo commented on #25690
The problem seems to be a bit more entrenched in the design of environment than I thought. Going back to the examples in the description, here:

https://github.com/spack/spack/blob/378543b554a21990b38965674f9f04940feb6e27/lib/spack/spack/environment.py#L1200-L1207

we register the root specs of the environment with matrices to be `zlib ^mpich` and `zlib ^openpmi`. This is incorrect and we can in f

[2021-08-30 15:56] amaji opened #25696 "Installation issue: libxsmm"
### Steps to reproduce the issue

[code]

### Information on your system

[code]

### Additional information

[spack-build-env.txt](https://github.com/spack/spack/files/7077900/spack-build-env.txt)
[spack-build-out.txt](https://github.com/spack/spack/files/7077901/spack-build-out.txt)

Trying to build `libxsmm` with `gcc@11.2.0` on AMD Milan (CentOS 8) throws assembler errors like these:
[code]

S

[2021-08-30 17:53] hfp commented on #25696
This is known and an issue likely due to a compiler which was released post-validation of LIBXSMM 1.16.1. However, I am a bit surprised you mention "other GCC/Intel Compilers" having also no success. Can you please try `INTRINSICS=0` (on any compiler you wish), there is no performance penalty or such if your goal is lust to leverage JIT and Small Matrix Multiplications (which is very likely the ma

[2021-08-30 18:39] adrfantini commented on #25677
Sure thing! Tested with the latest 0.16.2:
https://pastebin.com/izv50RTq

Spoiler: still does not work :(

[2021-08-30 19:17] BenjaminRodenberg commented on #22116
@adamjstewart everything works now as expected when running the commands from above. There are no more errors during installation. Thanks for fixing this!

This is the working setup that I'm using now:
[code]
From my perspective this issue can be closed.

[2021-08-30 19:17] #22116 closed, assigned to nobody

[2021-08-30 19:43] sethrj commented on #25686
Looks like Meulu might also require Kokkos. Trilinos config options have a huge parameter space that is barely explored so it's hard to know what options will work. Can't investigate for another week but try disabling muelu as well?

[2021-08-30 20:08] KineticTheory commented on #25686
I've already tried `~muelu` with the combo I listed above but that didn't fix the build failure.

As you say, there is a huge combinatorial space for trilinos variants and it is difficult to capture all of the bad-combinations.  It is interesting that the trilinos build system didn't catch this conflict when running cmake.

For now, my work around is to build the `+kokkos` version as this installa

[2021-08-30 21:13] kuberry commented on #25686
I'm not sure if the goal of the spack recipe is to attempt to capture every possible conflicting combination (thoughts @sethrj , @keitat) of Trilinos subpackages  (can vary from version to version of Trilinos). I think if **either** the concretizer indicates the conflict or Tribits does, this is desired behavior. The error you are seeing is because `muelu` (specifically `muelu/src/Graph/PairwiseAg

[2021-08-30 22:14] tylerjereddy opened #25705 "DOC, ENH: `spack load` through chained instances?"
The [documentation for chaining spack instances](https://spack.readthedocs.io/en/latest/chain.html) outlines some steps for loading modules from a local spack instance that has been chained to another upstream, which includes regenerating some module files/index files.

However, since https://github.com/spack/spack/pull/14062 removed the dependence of `spack load` on module systems altogether, I d

[2021-08-30 22:24] KineticTheory commented on #25686
@kuberry I really thought I had reproduced this error with `spack install trilinos~kokkos~tpetra~ifpack2~amesos2~muelu`, but I just tried it and it is building correctly. (sigh). I must have had some left over files in the build directory when I got the bad result.

The original command that failed (and continues to fail) is:
`spack install trilinos@12.18.1+superlu-dist~kokkos~tpetra~ifpack2~ameso

[2021-08-30 23:12] glennpj commented on #23203
I hit this as well. Looking at the recipe, it is not clear how libunwind fits. The variant defaults to `True`, but the dependency is commented out.
[code]
Also, it looks like `libunwind` is not compatible with `setjmp` so there probably needs to be a `conflicts` directive for that.

@cchambreau Any ideas of the appropriate fix?

[2021-08-30 23:13] tylerjereddy commented on #25705
Actually, this seems "ok" in manual testing I guess--must be something on our end with setting `SPACK_ROOT` or subshells in a workflow...

[2021-08-30 23:13] #25705 closed, assigned to nobody

[2021-08-31 00:04] tylerjereddy commented on #25306
The patch below gets me a much faster load, and things mostly look "ok," but it seems that `CPATH` doesn't get set with my workarounds. I thought I saw the same thing on `develop` though, so I need to double check it is not related to chaining or some other weird thing on my end I guess. Not sure if a cleaner patch might be accepted as a new option to `spack load` or something like that.

[code]

[2021-08-31 01:04] amaji commented on #25696
Thanks for the suggestions @hfp! I can build the `master` branch with any compiler without issue.

`INTRINSICS=0` also works for 1.16.1. But I could not build it with default make (for gcc 10.2, gcc 11.2). Built fine for gcc 8.4.1.

[2021-08-31 03:11] germasch commented on #25663
That's good, but the new concretizer is not the default yet, right? If you feel like things working with the new concretizer is good enough, feel free to close. This doesn't actually affect me personally, since I have to use an older version of pfunit in any case, but I just generally find it nicer if things work out of the box.

[2021-08-31 07:31] hfp commented on #25696
Let me come up with some more build-keys applicable for 1.16.1. We had this issue earlier already like people who wish to use bleeding edge GCC with 1.16.1. Though, GCC 10 had some breaking change in default behavior namely `-f[no-]common`.

[2021-08-31 08:14] haampie opened #25709 "Rework hooks to improve modularity / testing"
### Summary

This is an issue to comment on the design of https://github.com/spack/spack/pull/25665 / https://github.com/spack/spack/pull/25622 / https://github.com/spack/spack/pull/25573.

Currently we have one hook runner (let me just call it even handler) for each hook (aka event):

[code]

and they are called like this:

[code]

There are some downsides to this

1. Can't easily disable them in

[2021-08-31 09:38] haampie commented on #25545
Yeah, that looks kinda useful, it could also make sense for propagating say `cuda_arch`

[2021-08-31 09:45] #25034 closed, assigned to scheibelp, becker33

[2021-08-31 09:47] haampie commented on #17060
Can you still reproduce @adamjstewart and @daniellivingston? There's been some changes in the installer and `--overwrite` since, in particular https://github.com/spack/spack/pull/24049 and https://github.com/spack/spack/pull/25579

[2021-08-31 09:50] haampie commented on #25663
The new concretizer should be the default soon, so switching is the better solution

[2021-08-31 09:50] #25663 closed, assigned to nobody

[2021-08-31 10:56] alalazo commented on #25663
@germasch For reference, we'll be soon :tm: merging #25502

[2021-08-31 11:45] haampie commented on #25306
CPATH is never set since https://github.com/spack/spack/pull/14749 and later also https://github.com/spack/spack/pull/21699 was accepted. Users can add these variables in https://github.com/spack/spack/blob/develop/etc/spack/defaults/modules.yaml if they need.

@tylerjereddy is this patch meant as a dirty workaround or as a solution that's supposed to be merged?

I'm happy to review if you turn it

[2021-08-31 12:23] Billae commented on #24591
update:
I try to explicitely apply the patch you cite in the MR but it still loop in the build phase

[2021-08-31 14:16] adamjstewart commented on #17060
I've never been able to reproduce this reliably unfortunately.

[2021-08-31 14:17] adamjstewart commented on #17060
Let's close and hope that one of those PRs solved the issue.

[2021-08-31 14:17] #17060 closed, assigned to nobody

[2021-08-31 14:51] alalazo commented on #25537
Hmm, are you sure that all the R packages can be concretized together? This is not the same issue as #23307 but is actually pointing to some conflict. Can you try to reduce the reproducer to something smaller by removing as many packages as possible in a way that `r-aer` still fails?

[2021-08-31 15:09] albertosalvadori opened #25716 "Installation issue: mumps-5.3.3"
### Steps to reproduce the issue

spack install mumps

==> Installing mumps-5.3.3-luk72jdlkekz33qd2ynhspbxrx4rnges
==> No binary for mumps-5.3.3-luk72jdlkekz33qd2ynhspbxrx4rnges found: installing from source
==> Using cached archive: /home/dealii/spack/var/spack/cache/_source-cache/archive/27/27e7749ac05006bf8e81a457c865402bb72a42bf3bc673da49de1020f0f32011.tar.gz
1 out of 2 hunks FAILED -- saving

[2021-08-31 15:27] tylerjereddy commented on #25306
@haampie Interesting, I didn't know there was a way to automatically turn CPATH setting back on (or even that it was intentionally deactivated on `develop`).

Our use case is to `spack load -r collected_deps_package` only what we need for CMake to build our project (find C/C++/Python/Fortran dependencies built by spack on various HPC machines/architectures), and nothing beyond that, with a focus o

[2021-08-31 16:35] keitat commented on #25686
Adding @jhux2 @bartlettroscoe

[2021-08-31 19:37] bartlettroscoe commented on #25686
I am shocked this even configures.

[2021-08-31 19:40] KineticTheory commented on #25686
We've been using that line for several years w/o issue!

[2021-08-31 19:49] bartlettroscoe commented on #25686
So you have been building the Epetra-only stack in Trilinos?  (That is what you get if you disable Kokkos and Tpetra basically.)   I don't think there is much, if any, automated testing to ensure that the Epetra-only stack works in Trilinos these days (or this configuration would still be working).  It is just the opposite, they want the Epetra stack to go away and to get everyone to move over to

[2021-08-31 20:01] KineticTheory commented on #25686
Yep. We started using it in 2003 or 2004 and are still using it today. I'll relay your comments to the main code team, but my understanding is that they aren't ready to adopt the Kokkos/Tpetra-based stack yet.

[2021-09-01 00:25] kjrstory commented on #25687
I already compiled paraview %gcc@7.5.0, but it is necessary to compile to gcc11 version for the future use.
I checked the existing paraview patch files as danlipsa said.
I found that the patch file was made using the 'git diff' command.
Using this, I succeeded in compiling paraview@5.9.1 with gcc11 version.
I will make sure that other versions of the paraview are the same. After this check, I'll c

[2021-09-01 06:19] kjrstory commented on #25687
I checked that the patch I made works in paraview 5.9.1 version but not in other paraview version.
This is because the position where the "#include \<limits\>" enters is different depending on the version.
In other words, I have to create a patch file for each paraview version, It will be be too complicated.
Instead, it seems to have to use patch function or let the gcc version fall below 11.

[2021-09-01 06:23] alalazo commented on #20340
Hi @mpbelhorn It took a while but I am finally trying to solve this issue. I was wondering if you had some success moving to clingo since December?

For things like this one it's better to add conflicts in the package with `clingo`, since the new concretizer will be able to work around them.

Let's discuss about that in this issue. I think reusing the same approach would have side effects with cli

[2021-09-01 06:26] alalazo commented on #25690
For the record, this is what is reported in `spack.lock` in the case of matrix expansion:
[code]
The root specs `zlib ^mpich` and `zlib ^openmpi` look wrong and they should be substituted by just `zlib`.

[2021-09-01 10:45] haampie opened #25728 "Spack tests leak active environment between tests"
### Steps to reproduce

[code]

This fails because `test_extensions` suddenly runs an environment aware SpackCommand that can't find certain specs in the active env.

[2021-09-01 12:49] jacorvar commented on #25537
I'm pretty sure almost ALL (with a couple of exceptions out of ~900) R packages can be concretized together, at least with the following version (I know it's CentOS and not Ubuntu, should I expect a difference related to OS?):
[code]
The following configuration (removing `config: concretizer: clingo` in the config) works when concretizing (with spack 0.16.2-3961-d52a1b8279):
[code]

However, setti

[2021-09-01 17:33] mpokorny commented on #25651
Just hit this error. https://gitlab.gnome.org/GNOME/pango/-/blob/main/NEWS#L251-253 is relevant. I can confirm that v1.42.0 builds in Spack.

[2021-09-01 17:36] mwkrentel opened #25734 "clingo fails with python 3.6 on ppc64le RHEL 7.x"
### Steps to reproduce

Clingo does not work with the /usr/bin/python3 3.6 that comes with
RedHat 7.x on ppc64le.  The initial bootstrapping fails with:

[code]

I tried this on a power9 with RHEL 7.7 with /usr/bin/python3 3.6.8,
rpm package python3-3.6.8-10.el7.ppc64le.

How to reproduce:

1. move .spack to another name, eg: dot-spack, so you have a clean, empty setup

2. make a fresh clone of sp

[2021-09-01 18:22] knelli2 commented on #25651
I can also confirm that v1.42.0 builds in Spack.
Then to get image magick to build, I had to do `spack install imagemagick ^pango@1.42.0`.

[2021-09-01 18:46] danlipsa commented on #25687
I think it is reasonable to say that older versions of paraview require older versions of gcc and only patch 5.9.1 for gcc 11 as a first step. If someone needs an older paraview compiled with gcc 11 they can add their own patch.

[2021-09-01 19:36] alalazo commented on #25734
I can reproduce that on Lassen. It seems the extension is not ABI compatible with that Python, even though I am trying to get more information. The weird thing is that the extension has been compiled against a Python 3.6 coming from `manylinux2014` so it _should_ be compatible with _any_ Python 3.6. I'll post findings here as I understand more.

[2021-09-01 20:06] alalazo commented on #25734
I checked all the dynamic symbols and the only ones visible in `clingo` come from GLIBC_2.17 which is allowed, see [here](https://www.python.org/dev/peps/pep-0599/#the-manylinux2014-policy).

There's one thing we do though that _might_ explain the ABI incompatibility. In the same document there are requirements for sticking with:
[code]
We don't "export" those symbols, but clingo requires C++14 (w

[2021-09-01 20:40] mpokorny commented on #23348
I believe this issue may have been solved by #25488. With that PR, my build succeeds. Also having reviewed the build output attached to this issue, it certainly seems likely that #25488 would have fixed it.

[2021-09-01 20:42] alalazo commented on #25734
Must be something else. I built Python 3.6.10 with Spack + GCC4.8.5 and:
[code]
Still have to understand what happens with the system Python.

[2021-09-01 21:09] alalazo commented on #25734
Got what is the issue by using the Python interpreter in super verbose mode. Using the system Python:
[code]
The Python interpreter at some point is trying to load:
[code]
in the correct directory, but fails. If one looks carefully at it **the name of the library is wrong**, since apparently the system Python resolves the host architecture to ppc64le instead of powerpc64le. In fact, copying the bi

[2021-09-01 21:12] #25537 closed, assigned to alalazo

[2021-09-01 21:13] alalazo commented on #25734
And corresponding issue: https://github.com/pypa/manylinux/issues/687

[2021-09-01 21:19] alalazo commented on #25734
So it seems RedHat has a patch to "fix" the architecture names, which break manylinux on Power PC see [here](https://src.fedoraproject.org/fork/churchyard/rpms/python3/blame/00274-fix-arch-names.patch?identifier=test_email-mktime). The binary works with other compiled Python interpreters, since the name of the architecture is the expected one.

[2021-09-01 21:29] alalazo commented on #25734
@tgamblin @becker33 One fix we can adopt to workaround this is to copy the extension library to the alternative name if we are on a Power architecture as soon as we have installed the corresponding buildcache.

[2021-09-01 21:32] mwkrentel commented on #25734
Would it be a simple workaround to add a symlink in the clingo
bootstrap to cover the other name?

I tried that manually and it seems to work.

[2021-09-01 21:38] alalazo commented on #25734
Yeah, I think that or copying should be the workaround. We should do it from Spack code, so we don't have to touch the buildcache which seems to be built and packaged correctly.

[2021-09-02 00:08] tgamblin commented on #25734
@alalazo I think making the symlink as @mwkrentel suggests is the way to go.  I'm tempted to say we should just fix the buildcache here, so that it always has the two names.  Adding symlinks like this seems like it should be part of creating packages for `ppc64le`.

[2021-09-02 00:09] tgamblin commented on #25734
Any reason not to make a new buildcache?

[2021-09-02 06:14] alalazo commented on #25734
Creating a symlink or copying the library to have an alternative name is a quick fix. Recreating and uploading the buildcache takes longer and needs more validation (we have CI to check for `x86_64` but need to validate manually `ppc64le` and `aarch64` binaries). I feel like it's not less hacky since the binary is technically portable and correct, it is just running on a patched interpreter.

Fina

[2021-09-02 06:16] alalazo commented on #25734
~I don't think so, unless:~
1. ~We package software using the RedHat system Python as an external~
2. ~We use RedHat patch to change the architecture name in an interpreter built by Spack~

Thinking about that some more, the interpreter we use goes in general in the hash of the buildcache, so every extension is made for a specific interpreter - and each interpreter is consistent with itself. This

[2021-09-02 06:23] tgamblin commented on #25734
The thing is that basically the only Power machines we care about run RHEL. This isn’t a special case; it’s kind of the only case, at least until IBM decides it cares about HPC again.

Also I’m kind of worried that other distros may do things like this, too. IIRC, Ubuntu calls the architecture `ppc64el` instead of `ppc64le`. Are there issues with Ubuntu on power?

[2021-09-02 06:26] tgamblin commented on #25734
So I’d say do the quick fix for now, but we need to get more machines validating the build caches w/different containers. We can add runners to them; we should have some power9 runners at LLNL that we can use; also GCP has some (though I dunno if we can use them effectively — they are AIX).

[2021-09-02 06:27] tgamblin commented on #25734
Do you know if the expected arch name here is something we can query from the host python? Seems like there should be a programmatic way to know the expected libname.

[2021-09-02 06:29] alalazo commented on #25734
I didn't check that, will do today.

I think the answer is:
[code]
which should get the extension suffix for the Python extensions (from the link reporting the issue on manylinux).

[2021-09-02 06:34] tgamblin commented on #25734
Ok then maybe the thing to do is to symlink that if it’s different from the manylinux name — that seems more robust than including everything we know of in the buildcache; it might save us on platforms we don’t anticipate.

[2021-09-02 06:47] Jarvx opened #25752 "question about version function"
https://github.com/spack/spack/blob/8a7af82a82fb80b660a08ab54e8d8402d7ca27b5/var/spack/repos/builtin/packages/libaio/package.py#L20

I was just wondering where I can find the definition of the function version in the class body?

[2021-09-02 10:04] sethrj commented on #25686
This is my feeling anytime I build trilinos 😂😂😅

[2021-09-02 11:35] alalazo commented on #25734
Running on an emulated Ubuntu under Docker:
[code]
So it seems they use a different name for `uname -m` but they don't patch the Python interpreter.

[2021-09-02 12:13] alalazo commented on #25734
Just tried on ubuntu 20.04 ppc64le under Docker + Qemu:
[code]
so it seems it's just RedHat system Python at the moment.

[2021-09-02 12:28] kuberry commented on #25686
So a quick recap. The recipe does now work for @KineticTheory, once they add `~muelu`. MueLu does have a **required** dependency on Kokkos in Tribits that is currently listed as **optional**.

I can follow up with the MueLu team to see whether they are intending to support a Tpetra+Kokkos free build or not. If they are not, then PR #25703 should be merged, disabling an Epetra only build path for M

[2021-09-02 14:23] haampie commented on #23368
So, if `setup_run_environment` is supposed to be called for run type dependencies when loading a root spec (which I think makes a lot of sense), why do we have `setup_dependent_run_environment` at all?

[2021-09-02 15:22] markyoder opened #25757 "Installation issue: freetype@2.8"
### Steps to reproduce the issue

@michaelkuhn
[code]

The `--config-spec=` mostly contain `package.yaml` information. Without getting into too much detail, I typically start with the most recent versions of packages and walk them back until they work. I've see a couple of these "will not compile with `%intel` errors.

Debug report:

[code]

### Information on your system

System is:
Stanford's Sh

[2021-09-02 18:50] adamjstewart commented on #25752
This function is defined here: https://github.com/spack/spack/blob/develop/lib/spack/spack/directives.py#L303

[2021-09-02 21:17] kuberry commented on #25686
Follow up: Based on issue https://github.com/trilinos/Trilinos/pull/9532, I was referred to PR https://github.com/trilinos/Trilinos/pull/9532.

MueLu is going full Kokkos. I suggest we approve PR https://github.com/spack/spack/pull/25703.

[2021-09-02 22:06] ashermancinelli opened #25765 "gpg publish command failing with `'NoneType' object has no attribute 'geturl'`"
### Steps to reproduce

[code]

### Error message

[code]

### Information on your system

Running in container ubuntu:18.04 with:
* **Spack:** 0.16.2-4117-03331de0f2
* **Python:** 3.6.9
* **Platform:** linux-ubuntu18.04-haswell
* **Concretizer:** original

with host:
* **Spack:** 0.16.2-4108-56ba3448db
* **Python:** 3.8.3
* **Platform:** darwin-catalina-skylake
* **Concretizer:** clingo

### Gene

[2021-09-02 22:07] ashermancinelli commented on #25765
@opadron As per convo on slack

[2021-09-03 02:42] Jarvx commented on #25752
Thanks for the quick response ! I was thinking maybe this is imported from somewhere. So in this case,  "version" will be loaded using directives.

[2021-09-03 03:29] adamjstewart commented on #25752
The import happens here: https://github.com/spack/spack/blob/develop/lib/spack/spack/pkgkit.py#L46

This file is automatically imported here: https://github.com/spack/spack/blob/develop/lib/spack/spack/repo.py#L81

It's a bit confusing, but that's where all the magic happens.

[2021-09-03 03:31] Jarvx commented on #25752
It is just so exciting to see your help !!!  Many thanks !

[2021-09-03 04:33] #25752 closed, assigned to nobody

[2021-09-03 06:07] #17100 closed, assigned to nobody

[2021-09-03 07:08] keitat commented on #25686
FYI: One of major Trilinos user, deal.II library, is still using 1st generation library packages.  If necessary, I will assist them to introduce the 2nd gen packages.  deal.II is xSDK member library... it's kind of urgent.

[2021-09-03 07:18] keitat commented on #25686
@KineticTheory @kuberry  I will add `~zoltan2` because it is 2nd generation libraries.  Are you using "develop" branch?

[2021-09-03 09:52] haampie opened #25773 "amdgpu_target_sram_ecc no longer used in rocfft"
The `amdgpu_target_sram_ecc` variant has no effect in newer versions of `rocfft`, we should probably add conflicts for all values other than `none` for the versions where it doesn't apply.

[2021-09-03 11:33] alalazo opened #25777 "Speed-up "spack ci" unit tests"
Running unit tests locally during development takes ~20 mins. for me, on recent hardware and a ~100Mb/s network. In my case half of the time is spent in cmd/ci.py unit tests:
[code]

[2021-09-03 12:13] alalazo commented on #25777
Apparently these tests spend a lot of time in `url_open`:

![Screenshot from 2021-09-03 14-12-22](https://user-images.githubusercontent.com/4199709/132003312-54e743a0-d201-4d6d-8b14-7c1c07170043.png)

Profiling data to be viewed with [speedscope](https://www.speedscope.app/) : [cmd_ci.spd.txt](https://github.com/spack/spack/files/7105763/cmd_ci.spd.txt)

[2021-09-03 12:27] kuberry commented on #25686
@keitat, is what you mean that you are going to add `~zoltan2` to the deal.II recipe for calling Trilinos? Do you want to start an issue/PR for not building unused 2nd gen Trilinos packages in deal.II? (maybe link it to this issue and ping me?) Also, when you ask if I'm using 'develop' branch, do you mean on Trilinos?

You could immediately consider adding `~amesos2~ifpack2~zoltan2~muelu` to the d

[2021-09-03 12:31] RemiLacroix-IDRIS opened #25780 "Modules: how to properly customize the CPATH for some specific packages"
Hi,

I am trying to customize the CPATH for a specifc package (namely libtirpc) and I am not sure how to do that properly.

The rational is that I want both `.../include` and `.../include/tirpc` to be added to the `CPATH`, similarly to what is already done for the `headers` property of that package:
https://github.com/spack/spack/blob/8149048a78ebbcdb46719eab5209e51bdeb3f86d/var/spack/repos/builti

[2021-09-03 13:59] joennlae commented on #23534
I proposed a patch to fix it. See #25782

[2021-09-03 14:27] #25728 closed, assigned to nobody

[2021-09-03 15:22] haampie opened #25784 "Ship latest `config.{guess,sub}` with Spack"
### Summary

In autotools packages we have some logic to replace outdated `config.{guess,sub}` files with recent ones, so that `./configure` works on architectures unknown at the point where the configure script was generated.

This logic requires the package to depend on `automake`, so it pulls these files from there.

### Rationale

Unfortunately automake pulls in a lot of dependencies:

![Scree

[2021-09-03 15:31] KineticTheory commented on #25686
The projects I work with will continue to use the 1st generation library packages like Epetra (at least for another year).  We just need the ability to build those with spack (even if the spack build requires `+kokkoks`),   This discussion has been useful for me and I will communicate with the teams that migrating to the 2nd gen solvers should be scheduled.

I'm okay closing this issue whenever it

[2021-09-03 15:32] haampie commented on #25784
~@tgamblin mentioned that in some cases an exotic machine may provide a system `automake` which provides customized `config.{guess,sub}`, and the current approach allows one to mark `automake` as external, so that spack picks up these custom files (iiuc).~

~Shipping a recent config.guess/config.sub with Spack would not really support that case :(~

~Unless we make the paths to `config.guess` / `c

[2021-09-03 15:57] kuberry commented on #25686
@KineticTheory you should be fine doing what you did along with `~muelu` going forward, i.e.
`trilinos~kokkos~tpetra~amesos2~ifpack2~muelu`.

[2021-09-03 16:01] keitat commented on #25686
@kuberry Currently, we include all important 2nd-gen libraries in deal.ii because we need to maintain the xSDK interoperability (deal.II is an xSDK member package).  I am curious if there is a way to enforce the inclusion of 1st gen libraries from package.py of deal.II or create a special Trilinos build just for deal.II.

[2021-09-03 16:13] keitat commented on #25686
@kuberry Previously, I observed adding `~zoltan2` is required when removing Kokkos (or building 1st-gen only library) when using Spack **develop** branch.  Do we see this problem? Maybe, it's gone.

As for deal.II, let me clarify. I am just telling that there are still some major Trilinos users relying on the 1st gen Trilinos libraries.  From the xSDK perspective, it is OK with the current package

[2021-09-03 17:00] carns commented on #13233
I just encountered this as well (I'm modifying a patch while trying to debug a one-off problem). Very confusing!  I'm glad to have found this issue and @citibeth 's suggestion to delete that json file.  That was a successful workaround.

[2021-09-03 17:33] #25686 closed, assigned to nobody

[2021-09-03 17:37] kuberry commented on #25686
@keitat Would you mind trying again? I've observed `spack install trilinos~kokkos~tpetra~ifpack2~amesos2~muelu` working (without need for `~zoltan2`). Also, I totally agree that 1st gen Trilinos libraries are important. In all of this, the only thing I found surprising was that MueLu was ever able to build without Tpetra (although it won't in the future), because I thought it would fail to build w

[2021-09-03 17:44] vicentebolea commented on #25687
This has been an issue in other packages for Paraview 5.9.1. Here is the patch at the OpenSUSE build system https://build.opensuse.org/package/view_file/science/paraview/paraview-gcc11-limits.patch?expand=1

[2021-09-03 17:58] jgalarowicz commented on #25612
I also have been having a problem building on the Cray.   After seeing this I added a modules setting (I had the prefix) to the externals file and now I can build our MPI collectors on a Cray.   The paths to the MPI installation were missing.

[2021-09-03 22:04] sethrj commented on #25686
Maybe we should move toward toggles for first and second generation package groups (epetra and all its solvers, tpetra and all its solvers) instead of adding more variants and propagating tribits logic into the spack recipe?

[2021-09-04 06:46] ax3l opened #25794 "Installation issue: motif"
### Steps to reproduce the issue

[code]

### Information on your system

Ubuntu 20.04 LTS (x86_64)

* **Spack:** 0.16.2-4144-536121cadf
* **Python:** 3.8.10
* **Platform:** linux-ubuntu20.04-skylake
* **Concretizer:** original

### Additional information

cc main authors of the package: @briedel @awacha

cc original reporter: @WeiqunZhang

Linker error in motif build:
[code]

* [spack-build-env.t

[2021-09-06 07:20] alalazo commented on #25777
@scottwittenburg @zackgalbreath fyi

[2021-09-06 09:46] UweSauter commented on #24430
I've been on vacation the last weeks and will look into this in the next few days.

[2021-09-06 14:48] alalazo opened #25805 "Module files are being generated during bootstrapping"
### Steps to reproduce

[code]
Similarly for `lmod` if it is enabled in `modules.yaml`

### Error message

No errors, but since module files are not needed during bootstrapping they should be disabled. This issue has been firstly reported on Slack by @mwkrentel  (in his case an incomplete configuration of `lmod` was causing failures in the bootstrapping procedure).

### Information on your system

[2021-09-07 09:13] jacorvar opened #25815 "singularity 3.8.1 lacks `--fakeroot` support"
### Steps to reproduce

Hi I have installed and loaded singularity successfully
[code]

I have a `.def` file which I can correctly build as the root user:
[code]

### Error message

However, I get the following error when I try to build the `.sif` file in a rootless way:
[code]
The cause seems to be the unability of singularity to detect the `newuidmap` command. However, it is reachable and found

[2021-09-07 15:13] scottwittenburg commented on #25777
Hmm, I wonder if we're just waiting to hit a timeout in some cases and could benefit from just shortening it.

[2021-09-07 16:59] marcmengel opened #25824 "Feature for developers: optionally whine if recipes and/or patches are not tracked in git"
### Summary

Requesting the addition of a flag to check if recipes and patches are tracked in Git.

### Rationale

If you're developing new recipes and adding patches to them in a large build tree, it is easy to forget to "git add"
things... until you check out a copy somewhere else and the build breaks.

### Description

A flag one can turn on in the config that has the code that imports recipes

[2021-09-07 21:17] srekolam commented on #25773
the AMDGPU_TARGETS_SRAM_ECC is removed from the 4.1.0 onwards ..i looked at the cmakelists.txt for rocfft for rocm-4.1.0 and i see it is removed.
in that case, l propose to do the following change in the recipe. - Line 65-66 ,
 if tgt_sram[0] != 'none' and if spec.satisfies('@3.9.0,4.0.0'):' :
            args.append(self.define('AMDGPU_TARGETS_SRAM_ECC', ";".join(tgt_sram)))

[2021-09-08 01:21] scottwittenburg opened #25829 "buildcache update-index causes build dependency thrashing"
### Problem Summary

The problem is that running `spack buildcache update-index` repeatedly on the same set of `spec.yaml` files might result in splicing the same dependencies back and forth forever.  Here's some excerpted output from several back-to-back runs to illustrate:

[code]

From the output we can see that spack spliced a different `libpciaccess` into the dependencies of `hwloc`.  So let'

[2021-09-08 01:25] scottwittenburg commented on #25829
@becker33 Is it clear what the problem is here?  If not, let me know, and I can try to explain better.  I've been struggling with why we seem to need to splice so many specs every time we run `spack buildcache update-index`, even when we didn't build anything new to put into the mirror.  The four files I uploaded are sufficient to reproduce the problem.

[2021-09-08 04:53] Char-Aznable opened #25832 "Installation issue: gperftools"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.16.2-3914-fbed679dd0
* **Python:** 3.9.6
* **Platform:** linux-ubuntu20.04-skylake
* **Concretizer:** original

### Additional information

Basically, this hits https://github.com/gperftools/gperftools/issues/424 because gperftools isn't configured to link with libunwind. Forcing a LDFLAGS="-L/path/to/libunwin

[2021-09-08 07:40] uraoul opened #25833 "`make: *** No rule to make target 'check'` with cmake emulating autotools behavior"
### Steps to reproduce

Spack fails to execute tests (`spack install --test=root <package name>`) if cmake uses autotools make check emulation as described in [cmake wiki](https://gitlab.kitware.com/cmake/community/-/wikis/doc/tutorials/EmulateMakeCheck)

Given the following minimal package.py file :
[code]

And the following construct in CMakeFiles.txt :
[code]

`spack install --test=root minimal

[2021-09-08 08:40] msimberg commented on #25832
I can try to have a go at this. It looks like CMake support was added in 2.8.1 though, and I don't know if it's possible to support autotools for the older versions while using CMake for the newer versions? I'd be ok with dropping the older versions but I don't know if someone else needs them to stay around? I take it things build fine with CMake but not autotools, right?

Adding the needed LDFLAG

[2021-09-08 10:43] haampie commented on #25433
It's either from a cmake 3.21 issue which added language support for hip: https://github.com/ROCm-Developer-Tools/HIP/blob/rocm-4.3.1/hip-lang-config.cmake.in#L76 (check if it works with cmake 3.20 and rocm 4.3.1, or use -D__skip_rocmclang=ON)

Or it's from the hip config file https://github.com/ROCm-Developer-Tools/HIP/blob/94fc25725edbcd8f11b1c3d7bb61b50bfde05a7f/hip-config.cmake.in#L119

The la

[2021-09-08 11:01] haampie commented on #25433
Maybe your issue is this: new cmake detects the compiler as rocmclang, then find_package(hip CONFIG) tries to find clang from hipcc (https://github.com/ROCm-Developer-Tools/HIP/blob/94fc25725edbcd8f11b1c3d7bb61b50bfde05a7f/hip-config.cmake.in#L104-L107) but it's not working because the compiler is now known as clang not hipcc. It fails but it's a silent error, so https://github.com/ROCm-Developer-

[2021-09-08 12:05] #25387 closed, assigned to nobody

[2021-09-08 13:54] eschnett commented on #25832
There's currently a discussion in the Spack community about how to change build systems, i.e. how to support multiple build systems for packages. I don't know whether there's a good answer yet. In the mean time, I'd just limp forward with autotools, and setting the additional flag.

[2021-09-08 14:57] psakievich opened #25840 "Installation issue: distributed build of Trilinos"
### Steps to reproduce the issue

@sethrj @kubery @keiat I am having problems with building Trilinos via `srun`.  I am able to build every other package in my DAG (~20) but not Trilinos.  It seems that the the compute nodes are always trying to restage `Trilinos` and I'm not sure why.  This could be a bigger issue in spack, but I only have this problem with `Trilinos`. The stage directory is not/s

[2021-09-08 14:59] #25512 closed, assigned to nobody

[2021-09-08 16:06] scottwittenburg commented on #25829
fyi @zackgalbreath

[2021-09-08 16:09] kelbstf commented on #25446
Hello,

i just wanted to ask if ANY body has an idea how to fix the issue.
I can't believe i am the only one, since myuse case is so basic.
Exept for setting a path for the modules outside of $spack...
Is that a no go?

In the meantime i completely reinstalled the cluster for another reason,
and installed Spack 0.16.2 from scratch,
but still have the exact same problem:

- the architecture as spec

[2021-09-08 16:18] haampie commented on #25784
Ok, new idea;

Can't we create a minimal package that we maintain ourselves containing config.sub/config.guess, so that the user can just mark it as external if they need the system version of config.sub/config.guess?

[2021-09-08 16:23] sethrj commented on #25840
Trilinos is one of the few packages that uses "resources" when it clones, and resources inside a parallel build might hit some sort of edge case.

[2021-09-08 18:13] #25805 closed, assigned to alalazo

[2021-09-08 18:13] #25734 closed, assigned to alalazo

[2021-09-08 19:34] #23203 closed, assigned to nobody

[2021-09-08 22:23] wspear opened #25852 "Spack test may use incorrect cmake"
### Steps to reproduce

I'm not sure how to replicate this issue generally but any package that has spack test support and a specific cmake requirement might be subject.

In a 'clean' environment (where the correct cmake is not loaded manually) `spack test <package>` may use a system-provided or otherwise incorrect cmake, resulting in test components that rely on cmake to fail to build. If doing `

[2021-09-08 22:29] tldahlgren commented on #25852
Technically, #24424 only has a package-specific hack for the problem.  A relatively simple solution that used to work does not seem to fix the general problem (anymore) and I have not had a chance to dig into why that is the case.  For more see #25165.

[2021-09-08 23:23] michaelkarlcoleman opened #25853 "Installation issue: amber"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.16.2-4201-eb99db5
* **Python:** 3.6.8
* **Platform:** linux-rhel7-broadwell
* **Concretizer:** original

### Additional information

@hseara

First, thanks very much for this package file.  It doesn't work currently, but looks very promising.  The upstream is clearly shaky and buggy, so props for trying to dea

[2021-09-08 23:24] mwkrentel opened #25854 "spack install does not add core_compilers for lmod on cray"
### Steps to reproduce

On Cray with lmod, something in the `spack install pkg` sequence fails
to add `core_compilers` to `modules.conf`.  As a result, spack install
fails with:

[code]

How to reproduce.  Work on a Cray machine that uses lmod modules, eg,
spock at ORNL.

1. Clone the latest spack develop.  A couple commits went in today
(2021-09-08) that fixed some bugs that would obscure the bug

[2021-09-08 23:39] bernhardkaindl commented on #25784
I can tell you how Debian-based distros do it:

They have a package `autotools-dev` which provides
[code]
Until some time ago, it also had the script to update these files in the source tree of a package.
This script has since been moved to the package `debhelper`: `/usr/bin/dh_update_autotools_config`
[code]
I don't know, but maybe you can make it so that for destination architecture aarch64 and

[2021-09-09 00:54] wspear opened #25856 "Installation issue: magma"
### Steps to reproduce the issue

On Spock:
spack install magma+rocm amdgpu_target=gfx908 ~cuda
Results in numerous errors like:
/tmp/wspear/spack-stage/spack-stage-magma-2.6.1-n7lm3ohemxap4sobkyar2o3xehwrm3oz/spack-src/magmablas_hip/magma_templates.h:20:5: error: use of undeclared identifier '__syncthreads'

Other undeclared identifiers include threadIdx and blockIdx in files like zgeam.hip.cpp a

[2021-09-09 01:06] wspear opened #25858 "Installation issue: tasmanian"
### Steps to reproduce the issue

On Spock:
spack install tasmanian+rocm~cuda amdgpu_target=gfx908
Fails with numerous errors like:
/tmp/wspear/spack-stage/spack-stage-tasmanian-7.5-wn73xeo7rheolvi37iiwyqyllees4rb7/spack-src/SparseGrids/tsgCudaBasisEvaluations.hpp:92:13: error: use of undeclared identifier 'threadIdx'

Other undefined identifiers are __syncthreads, grimDim and blockIdx. These all

[2021-09-09 01:11] kwryankrattiger commented on #25612
This really should be automated, the `CRAY_MPICH_PREFIX` will change depending on the module configuration, so putting it into the package.yaml is not going to be reliable.

I am also on spock, another work around that will do what appears to be the right thing is to call the `cray-mpich@8.1.7` `mpich@3.4.2` in the package spec. Thanks @chuckatkins for this!

[code]

[2021-09-09 01:23] wspear opened #25859 "Installation issue: netlib-scalapack"
### Steps to reproduce the issue

On Spock:
Installing netlib-scalapack as a dependency of slate, installed like:
spack install slate+rocm amdgpu_target=gfx908 ~cuda
Fails like:

    27    -- Could NOT find MPI_C (missing: MPI_C_WORKS)
     28    -- Could NOT find MPI_Fortran (missing: MPI_Fortran_WORKS)
     29    -- Could NOT find MPI (missing: MPI_C_FOUND MPI_Fortran_FOUND)
     30    -- Found

[2021-09-09 01:28] kwryankrattiger commented on #25859
GNU should work if you use `/opt/cray/pe/mpich/8.1.7/ofi/gnu/9.1` for the prefix. The prefix you have there is for the Cray toolchain.

[2021-09-09 01:30] wspear opened #25860 "Installation issue: mpich"
### Steps to reproduce the issue

On the Cray system, Spock, with the PrgEnv-gnu module loaded doing
`spack install mpich`
fails with this error:
`/usr/bin/ld: cannot find -l-L/opt/cray/pe/gcc/10.3.0/snos/lib/gcc/x86_64-suse-linux/10.3.0`

Ideally we could use the system cray-mpich as an external but that has issues noted here: https://github.com/spack/spack/issues/25612

### Information on your s

[2021-09-09 01:43] wspear commented on #25859
Switching out the prefix didn't help but this did: https://github.com/spack/spack/issues/25612#issuecomment-915681878

[2021-09-09 03:56] lukebroskop commented on #25612
@wspear, I think you want your packages.yaml to use the **cray-mpich** package (not **mpich**).

e.g.
[code]

[2021-09-09 08:00] haampie commented on #25784
Yeah, it's highly similar then. So our `autotools-dev` would be `gnuconfig` https://github.com/spack/spack/blob/59a2594d153325e47cfac546212f6dd7e71956c3/var/spack/repos/builtin/packages/gnuconfig/package.py which just pulls sources from a mirror of the gnu config.git repo from tags I've added manually when they bump the timestamp.

The `dh_update_autotools_config` is written in python in `lib/spac

[2021-09-09 08:41] msimberg commented on #25832
@Char-Aznable just to understand the problem, are you building an older version of `gperftools`? I just tried `spack install gperftools` on spack commit `edb1d75b1b` which installs `gperftools` 2.9.1 and `libunwind` 1.5.0. I'm on Ubuntu 21.04 and it worked.

The issue you've linked was closed as not a bug, so it's not clear to me in what situations `gperftools` isn't being linked to `libunwind`. I

[2021-09-09 10:43] haampie commented on #25612
@christoph-conrads yes, that heuristic is an ugly hack and doesn't make sense. Unfortunately there are no rules to module files, so it's hard to extract the prefix path from them.

But do note that the `cray-mpich` package has an `external_prefix` property where the actual prefix is pulled from:

[code]

and as you can see, it's again terribly system dependent, since module files aren't uniform ac

[2021-09-09 11:16] haampie opened #25867 "Local test failures after #22845"
### Steps to reproduce

[code]

### Error message

[code]

### Information on your system

* **Spack:** 0.16.2-4205-161f0d5045
* **Python:** 3.8.11
* **Platform:** linux-ubuntu20.04-zen2
* **Concretizer:** clingo

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have searched the issues of this repo and believe this is not a d

[2021-09-09 11:49] #22241 closed, assigned to nobody

[2021-09-09 12:09] G-Ragghianti commented on #25856
Can we see the full concretization?

[2021-09-09 12:29] bernhardkaindl commented on #25815
@jacorvar The newuidmap (and also the needed newgidmap) from spack are not enough to use `--fakeroot`, tehy must also be suid-root, and your `uid` and `gid` must be in `/etc/subuid` and `/etc/subgid`. Example error if all of that is done and just the suid-root is missing on these programs:
[code]
So, because of the need for root privileges for the `newuidmap` and `newgidmap` programs, you have to

[2021-09-09 12:58] haampie commented on #25867
Not sure if this explains all the test failures, but running `spack clean -b` (which I didn't want to do at first) fails in the code that checks all environments if a spec ... in the bootstrap store is used in that environment too (see https://github.com/spack/spack/issues/25203). In any case, turns out that the real error is:

[code]

And this KeyError happens because `self.specs_by_hash` is empt

[2021-09-09 13:49] kelbstf commented on #25446
Hello,

in the meantime i found that the core problem seems to be the following unexpected divergence between installation path and module path.
Which is why i boiled down the previous post to this updated description:

[code]

[code]

[code]

[code]
[code]
[code]

[code]

I am starting to believe i might not actually am facing a bug, but the result of an underlying concept that a differentiation

[2021-09-09 14:19] wspear commented on #25856
Is there a better way of getting this for pasting into this thread than just 'spack spec'? Maybe the json or yaml output?
[code]

[2021-09-09 14:25] G-Ragghianti commented on #25856
This works fine for me, thanks.  I don't have access to spock right now, but I'll see if I can reproduce on our AMD system.

[2021-09-09 14:30] psakievich commented on #25840
would someone else please try this out and see if it is just my system or an actual bug in spack?  @sethrj where do the resources get cloned? are they not in the same stage directory? if the resources aren't being cloned when I do `spack stage` then that seems like it could be a bug to me. I also tried staging the exact spec from concretization just in case this was the case.

[2021-09-09 15:22] mathomp4 opened #25870 "Odd issue with already-installed oneAPI and Module Generate?"
### Steps to reproduce

I am on a cluster (NCCS Discover) where Intel oneAPI 2021.3 is already installed. So if I do:
[code]
so spack found them and in my `linux/compilers.yaml`:
[code]
Now, I want the `ifort`, etc, so in `packages.yaml` I have:
[code]
And now I want to "install" that so I can do `spack load intel@2021.3` and:
[code]

### Error message

[code]

### Information on your system

$ sp

[2021-09-09 15:50] Char-Aznable commented on #25832
@msimberg I was also trying to build 2.9.1. To my understanding, libunwind doesn't have dependent environment set up in package.py so gperftools shouldn't be able to pick up the LDFLAGS from spack's libunwind, should it? I examined my build log and certainly didn't see the desired LDFLAGS. `spack` sometimes pick up dependent library from other directories (see https://github.com/spack/spack/issues

[2021-09-09 16:13] haampie commented on #25832
Notice that you don't see the flags the compiler wrapper injects in the build logs:

[code]

from my build logs `checking for backtrace in -lunwind... yes`, so it works with just `-lunwind`, provided everything goes through the compiler wrapper.

[2021-09-09 18:12] mwkrentel opened #25874 "compiler find confuses clang-ocl with clang"
### Steps to reproduce

I have a one-node RHEL 8.x x86_64 system with an AMD GPU and ROCM
installed.  This is the ROCM tar file downloaded from AMD installed
into /opt/rocm-4.3.1, not a spack install.  There is no clang
compiler, but ROCM installs clang-ocl in /usr/bin.

So, there is no clang and `spack compiler find` confuses clang-ocl
with clang and creates an entry in `compilers.yaml`.

[code]

[2021-09-09 18:24] adrienbernede opened #25876 "Installation issue: axom"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.16.2-4207-5fddd48f80
* **Python:** 3.7.2
* **Platform:** linux-rhel7-broadwell
* **Concretizer:** original

### Additional information

axom@0.5.0 needs umpire@5.0.0 but package is not constrained and fails using umpire@6.0.0

@white238 @davidbeckingsale.

Relevant part of the log:
[code]

[spack-build-out (2)

[2021-09-09 18:25] mechapple opened #25877 "fenics install fails due to cmake python ply issue"
I have come across a new error when installing fenics with spack. This seems like a similar issue to https://github.com/spack/spack/issues/13397.

I am installing spack with the following command:
`spack install fenics~hdf5 ^openmpi+pmi schedulers=slurm`

I run into cmake issues at the final step. Specifically it cannot locate py-ply and site.py
[code]
I have verified that py-ply is in PYTHONPATH.

[2021-09-09 18:35] scheibelp commented on #25877
Note that `spack install` won't use modifications you make to your shell with `spack load` - that command modifies the shell to aid usage of Spack packages outside of calls to Spack (e.g. if you want to do builds without Spack).

If `py-ply` is listed as a dependency of `fenics` then Spack will add it to PYTHONPATH for `spack install fenics`. I don't immediately see it listed as a dependency of `f

[2021-09-09 18:39] mechapple commented on #25877
[code]

[2021-09-09 18:51] scheibelp commented on #25877
To get what Spack sets up for PYTHONPATH when it attempts the install, can you also run `spack build-env fenics~hdf5 ^openmpi+pmi schedulers=slurm`? That will output all the shell variable settings. I'm specifically interested in what Spack sets for PYTHONPATH (if anything).

[2021-09-09 19:25] mechapple commented on #25877
I get a hypre error:
[code]

[2021-09-09 19:40] scheibelp commented on #25877
This is confusing: `hypre` is a transitive dependency of `fenics` but hasn't been installed yet: can you run `spack spec -I fenics~hdf5 ^openmpi+pmi schedulers=slurm` (the extra `-I` option will check what dependencies of `fenics` have been installed).

Also, while at first glance it doesn't seem related, there is a `fenics` PR at https://github.com/spack/spack/pull/25864 which may help.

[2021-09-09 19:57] kelbstf commented on #25446
Just for completeness:
same problem when using the stock and default module- and installation pathes, after a reinstallation of Spack:

[code]

[code]

[code]

As far as i can see, this deployment is as stock and basic as possible.

[2021-09-09 20:05] raffenet commented on #25860
Is there a way to capture all the `config.log` files generated as part of the build and share them here? Some library dependency name is not being properly set from the look of it, but it is difficult to determine where in the configuration from the output.

[2021-09-09 20:20] mkstoyanov commented on #25858
The error indicates that the build is not using the `hipcc` compiler, looking at the logs it is using `clang++`.

In the tasmanian spack package, I have:
[code]
and the `CXX` variable is exported in the build environment, but somehow it is not respected.

The issue appears on my test machine now, so it is not specific to a single system. It was not present in a previous version of spack and hip.

[2021-09-09 20:21] mechapple commented on #25877
Thank you. I shall look into #25864
[code]

[2021-09-09 20:32] wspear commented on #25860
Here is the config.log. Please let me know if you would like to see anything else.

[config.log](https://github.com/spack/spack/files/7139598/config.log)

[2021-09-09 20:38] raffenet commented on #25860
Unfortunately I don't see anything in that one. Different subdirectories in MPICH also generate `config.log` files that might help find the issue. Could you grab all the ones you can find? E.g.
[code]

[2021-09-09 20:49] wspear commented on #25860
[src.mpi.romio.config.log](https://github.com/spack/spack/files/7139687/src.mpi.romio.config.log)
[src.mpl.config.log](https://github.com/spack/spack/files/7139688/src.mpl.config.log)
[src.pm.hydra.config.log](https://github.com/spack/spack/files/7139689/src.pm.hydra.config.log)
[src.pm.hydra.mpl.config.log](https://github.com/spack/spack/files/7139690/src.pm.hydra.mpl.config.log)
[test.mpi.config

[2021-09-09 22:02] ax3l commented on #25141
Fixed via #24623

[2021-09-09 22:13] ax3l commented on #22918
Variant looks good, but we are still defaulting to `RelWithDebInfo` instead of `Release`.
I would argue we should default to `Release`.
We can still inject `-g` if needed via a Spack-ish approach, but using `-O2` for most of the things by default (due to `RelWithDebInfo`) looks just dangerous to me.

[2021-09-09 22:49] scheibelp commented on #25877
What version of Spack are you using (can you run `spack debug report`)?

I do not see `py-ply` as a dependency in 5fddd48f801616326b5dd6acb9e14879affb8da5 (Spack develop as of today).

[2021-09-09 23:24] AmericanEnglish commented on #6401
This is a very old issue but I want to point out that `configure` accepts the `MPICC` variable. When compiling you can set this to use `mpiicc`.

[code]

This builds successfully for me. While only somewhat connected you should try setting this environment variable before you run your build process and configure should just work.

[2021-09-09 23:41] zzzoom opened #25878 "Installation issue: amdlibflame"
`amdlibflame` doesn't have a build dependency on `python +pythoncmd` so it fails to build when a `python` binary/symlink isn't present.

### Steps to reproduce the issue

[code]

### Information on your system

[code]

Rocky 8.4 python externals in packages.yaml:
[code]

### Additional information

[spack-build-out.txt](https://github.com/spack/spack/files/7140267/spack-build-out.txt)
[spack-build

[2021-09-10 03:23] mechapple commented on #25877
[code]

[2021-09-10 03:48] pghysels commented on #25433
It works for me now with the latest spack develop branch, using hip 4.3.1 and CMake 3.21.2, or also CMake 3.20.5.

[2021-09-10 06:58] sanjtrip commented on #24429
@srekolam, Any update on the reproduction of this missing python.h file ?

[2021-09-10 09:59] jacorvar commented on #25815
Great, thanks! Now it works :smiley:

[2021-09-10 09:59] #25815 closed, assigned to nobody

[2021-09-10 10:09] bernhardkaindl commented on #25420
@alalazo @superNick459  I've tested if PR #25569 fixes this issue:

No, PR #25569 doesn't fix this issue, but it is fixed by the now-merged #22845. The commit message says:

And that's the effect. With this commit on develop now, the old precompiled docbook-xml package isn't fetched from https://cache.e4s.io but recompiled, with @glennpj new local docbook catalog filenames and because everything i

[2021-09-10 10:27] christoph-conrads commented on #25859
Did you try @lukebroskop's suggestion from the same thread?

In comparison to the `mpich` package, the `cray-mpich` package contains special code to deal with Cray peculiarities including its own implementation of `external_prefix()` (Thanks to haampie for this hint).

[2021-09-10 10:28] kelbstf commented on #25446
I just found more details about the problem:

When configured to create lmod modules in modules.yaml, Spack 0.16.2 actually still creates tcl modules in addition, at the same time, for the same application installed via Spack.

While the tcl-modules properly reflect the target microarchitecture as expected, the lmod-/lua-modules don't.
And the only modules displayed in "module av" are the insuffic

[2021-09-10 10:51] alalazo commented on #25420
@bernhardkaindl @glennpj Ok, that seems reasonable. I'll close the issue, but feel free to reopen if you think there's anything else that needs to be discussed here.

[2021-09-10 10:51] #25420 closed, assigned to nobody

[2021-09-10 11:26] alalazo commented on #17405
This is happening more frequently lately.

[2021-09-10 12:50] kelbstf commented on #25446
Update:
the reason why the TCL type of module was created is resulting from the way i customised the modules.yaml configuration. My understanding was that putting a modules.yaml file on the same level as the "defaults" subdir would overrule the respective aspect/directive of the defaults/modules.yaml file. But actually it is extending it in this application.
For the time being i helped the problem

[2021-09-10 16:02] srekolam commented on #25433
i think a patch which was applicable for hip@4.3.0 did not apply and may be it caused the issue .While updating the rocm recipes for 4.3.1 release, i noticed it and corrected it
Can we close this issue then ?

[2021-09-10 16:41] wspear commented on #25859
I suspect that would work fine or better for individual installs but when I switch my environment to use cray-mpich instead of mpich it won't concretize. I think something in there is insisting on using mpich and failing because it doesn't recognize cray-mpich as a valid substitute.

[code]

is the error I'm getting and that definitely isn't a top level spec in my environment. If I can track down

[2021-09-10 16:56] kwryankrattiger commented on #25612
I had tried "correct" approach by adding `cray-mpich` as an external, buildable=false, module package but the `cray-mpich` package returns a `None` for the `prefix`. And then it dies on trying to index `None` with an out of range on spack. There is a `CRAY_MPICH_DIR` defined in the module file, so maybe there is a bug in the `get_path_args_from_module_line` routine?

[2021-09-10 17:04] kwryankrattiger commented on #25612
This is what I initially tried and it failed. The `mpich` hack is a work around that problem.

[2021-09-10 17:06] wspear commented on #25612
Providing mpi with cray-mpich is preventing my environment from concretizing, presumably because one of the top level specs is forcing mpich. I haven't been able to track down which one yet.

[code]

[2021-09-10 17:35] srekolam commented on #24429
i do not have a reproduction for this . i am able to see that it builds successfully

[2021-09-10 17:46] lukebroskop commented on #25612
@wspear , what spec are you trying to concretize?
I just tried Tau and it concretized (this is from Spock)

[code]

[2021-09-10 17:48] scottwittenburg commented on #25829
fyi @eugeneswalker

[2021-09-10 17:49] wspear commented on #25612
The whole e4s enchilada: https://github.com/E4S-Project/e4s/blob/master/environments/21.08/spack.yaml
(Slight modifications to use the gcc version provided by Spock, avoid building the cuda specs and specify cray-mpich as the mpi provider)

[2021-09-10 18:02] sanjtrip commented on #24429
Hi @UweSauter, To recap:
1. MIGraphX builds with a PyBind11 library which creates Python bindings.  This means it needs not-only the normal Python packages  but also the *-dev packages which include the header files.

2. MIGraphX gets tested with multiple versions of Python.  Therefore it also gets built with bindings for those multiple bindings and versions.  This means the system needs to have t

[2021-09-10 18:37] wspear opened #25893 "Need intel-level-zero package, or access to level-zero paths from an existing oneapi package"
The TAU package has a configuration option for building with level-zero instrumentation support which we want to make available with spack installs. We can not find a way to get the location of the level-zero installation from within the spack build environment. Is there an existing package that can be specified as an external to give this information? Otherwise could a new intel-level-zero packag

[2021-09-10 19:01] eugeneswalker commented on #25433
Yes, working for me now as well. Thank you!

[2021-09-10 19:01] #25433 closed, assigned to srekolam

[2021-09-10 19:13] srekolam commented on #25433
thank you !!  Just wanted to get some inputs about any tests that can be run in my test environment so that these can be caught.. let me know if you have any inputs.

[2021-09-10 20:24] mwkrentel commented on #25893
It is possible to create a "external only" package whose only purpose
is to allow you to create an entry for it in `packages.yaml` with the
path to the system install.  This is how you insert a local path for a
system directory.

You mainly need to specify how to find the headers, libraries and any
adjustments to the environment for a package that wants to use this.

Grep for `has_code = False` in

[2021-09-10 22:03] glennpj commented on #25420
Basically, the fixes in #24300 were not getting picked up because there was no change in the hash. Although this is fixed now it seems like this type of thing could pop up for other packages going forward.

@alalazo Is there a way to force a hash update of a package if none of the changes from a PR otherwise trigger a hash change? It almost seems like the package.py itself would need to be part of

[2021-09-11 01:35] tldahlgren opened #25898 "spack test cannot access results from previous tests"
### Steps to reproduce

You'll need test results produced by running `spack test run` prior to around September 8th.

If you don't have any I can provide a tar ball of some that I was able to copy from my Mac to a Linux box to get the same output.

### Error message

Based on tests I ran on my Mac on August 27th, where I used aliases `p2`, `m4`, and `p3` for testing different installations of `m4`

[2021-09-11 02:25] kjrstory opened #25899 "package SU2 version and configuration upgrade"
I want to become a maintainer of SU2, a CFD package.
Currently, SU2 is package in Spack, but the version is not being updated, and it does not support additional installation options such as MPI or BLAS.
First, I aim to replace the current version of 7.0.3 in Spack with the latest version of 7.2.0.
After that, I try to add the following options and dependent packages that fit those options.
<html>

[2021-09-11 03:58] cpraveen commented on #24030
I face this issue. Due to mixed compilers clang+gfortran, the fflags does not get updated with -fallow-argument-mismatch.

[2021-09-11 04:10] cpraveen opened #25900 "Installation issue: Trilinos on macos BigSur and m1 cpu"
### Steps to reproduce the issue

```spack install -j8 --fail-fast --only dependencies dealii```

Trilinos fails to compile.

### Information on your system

* **Spack:** 0.16.2-4210-b12f38383c
* **Python:** 3.9.6
* **Platform:** darwin-bigsur-m1
* **Concretizer:** original

compilers.yaml

[code]

packages.yaml

[code]

### Additional information

[spack-build-out.txt](https://github.com/spack/sp

[2021-09-11 04:13] cpraveen commented on #25900
I also have problem compiling kokkos.

[code]

The problem is target name is identified as `m1`. If I change line 253 to

[code]

it compiles fine. @jciesko  @jjwilke

[2021-09-11 07:19] alalazo commented on #25420
@glennpj Right now we have 3 different kind of hashes. Details are more complicated but roughly:
1. DAG hash (accounts only for link and run deps from root)
2. Build hash (accounts for all deps from root)
3. Full hash (same as build hash + accounts for package.py)

I need to double check, but I think for buildcaches we are using the build hash to avoid excessive rebuilds at least until #25310 land

[2021-09-11 09:04] chrisrichardson commented on #25877
@scheibelp - note that #25864 is for `fenicsx`, which is quite different from legacy `fenics` package

[2021-09-11 11:27] rscohn2 commented on #25893
Can you explain what you need? I don't normally build software that links directly with level_zero. On my system, standard install puts the libraries here:

[code]

and the header files here:
[code]

The libraries are in the standard system path so at link time, you just need ``-lze_loader``. In your source code, do you do:

[code]
No ```-I``` needed, or

[code]

needs ```-I /usr/include/level_zer

[2021-09-11 11:44] rscohn2 commented on #25893
@jchodor: If I build level zero from source, will ``make install`` put the include files in ``<prefix>/include/level_zero`` ?

[2021-09-12 10:40] sethrj commented on #25840
@psakievich Looking more carefully at your build log it appears that trilinos itself rather than one of its resources is failing to clone. Is it possible that there's a disk space issue or some other problem using your git in your home directory on a compute node? Does trilinos build when using only a single job on the compute node? Can you run
[code]
on a compute node in the stage directory?

[2021-09-12 10:48] sethrj commented on #25900
@cpraveen I think you need to open up a separate issue for the kokkos install... it looks unrelated to the trilinos failure, which for ease of reading is a link error:
[code]

[2021-09-12 10:53] sethrj commented on #25900
This looks like a Fortran name mangling issue: it looks like the fortran compiler is generating `_epetra_dcrssv_` but the C++ code in Trilinos expects `_epetra_dcrssv__` (note the second underscore). I don't know anyone personally who has successfully built Trilinos on the Apple M1. It might be worth trying a minimal install of trilinos (Epetra only) and posting on the [Trilinos issue tracker](htt

[2021-09-12 18:02] kelbstf commented on #25446
This behaviour seems to be intentional for lmod modules under LINUX, although i don't have understood the reasoning behind of it yet.

[2021-09-12 18:02] #25446 closed, assigned to nobody

[2021-09-12 18:37] mechapple commented on #25877
@scheibelp
I was able to see the PYTHONPATH that spack uses during build-env
[code]
It appears py-ply is being loaded. But cmake fails just as before:
[code]

[2021-09-13 00:15] mechapple commented on #25877
I discovered that cmake is using python2 as the PYTHON_EXECUTABLE rather than python3. The CMakeCache.txt in the build folder reads the following. I shall try to figure out how to get spack/cmake to use python3 instead of python2.
[code]

[2021-09-13 02:57] cpraveen opened #25907 "kokkos fails to install on apple m1"
I have problem compiling kokkos.

[code]

The problem seems simple.

The problem is `spec.target.name` is identified as `m1` which is not present in `spack_micro_arch_map`. If I change line 253 to

[code]

it compiles fine. @jciesko  @jjwilke @janciesko

[2021-09-13 03:16] cpraveen commented on #25900
I tried this

[code]

which gives same error as before.

Without fortran

[code]

it compiles. I dont use trilinos from fortran. Do I lose anything if I disable fortran ?

[2021-09-13 06:40] alalazo commented on #25899
Feel free to go ahead with PRs and submit the proposed changes to the package. To become a maintainer of the package, simply add yourself to the list of "maintainers" (it's an attribute at class level). I'm going to close this since we usually don't require to have proposed changes to a package be stated upfront in an issue. Looking forward to your PRs.

[2021-09-13 06:40] #25899 closed, assigned to nobody

[2021-09-13 08:08] #24971 closed, assigned to nobody

[2021-09-13 08:33] mdorier opened #25908 "Editing spack environment file that contains errors"
### Steps to reproduce

This is more of an annoyance than a bug. If you are in an environment, do `spack config edit config` to edit its spack.yaml file, and add something erroneous. Spack commands will then fail (which should be expected), but most importantly `spack config edit config` will also fail, preventing the user from going back to their spack.yaml to correct it. The file needs to be ope

[2021-09-13 08:47] sethrj commented on #25900
@cpraveen Interesting... this should probably be reported in the Trilinos (or TriBITS) bug tracker for sure. Fortran is used for building internal components (such as the Epetra solvers you see) rather than for making Trilinos available to downstream Fortran code (which is the purview of the ForTrilinos project). I'm honestly not sure what capabilities are lost by disabling Fortran internally, but

[2021-09-13 08:51] cpraveen commented on #25900
I had to disable fortran and aztec to compile it.

If I disable only fortran, it fails while compiling aztecoo where it seems to need some fortran stuff. I think I need aztec since the deal.II package asks for aztec to be built in trilinos.

@sethrj

[2021-09-13 09:37] cpraveen commented on #25900
Here is the output when I disable fortran only

[code]

These are some errors

[code]

[spack-build-out.txt](https://github.com/spack/spack/files/7153186/spack-build-out.txt)
[spack-build-env.txt](https://github.com/spack/spack/files/7153189/spack-build-env.txt)

[2021-09-13 10:18] sethrj commented on #25900
Thanks @cpraveen , I'll add conflicts for `+aztec~fortran` and `@:13.0.1 +fortran target=m1`.

[2021-09-13 14:19] kuberry commented on #25900
@sethrj Is there a fix to support Fortran on `m1` for versions that will follow 13.0.1? If not, should this just be a conflict with `+fortran target=m1`?

[2021-09-13 14:51] #25900 closed, assigned to nobody

[2021-09-13 15:21] wspear commented on #25612
I believe this is related to the mpich/cray-mpich configuration so I'm going to mention it here first. I'll create some package specific issues if the tagged maintainers prefer.

Several packages being built with spock's cray-mpich module as an external are failing with undefined reference errors like:

[code]

I tried adding the fabric module to the mpich external but that didn't accomplish anyth

[2021-09-13 15:26] kwryankrattiger commented on #25612
I was running into this. I couldn't figure out why it happens, but the "fix" was to add the `libfabric` module  to all of the compilers. The other thing you may try is to add `libfabric` to the `cray-mpich` module list. The cray modules don't load all of the required modules with just a module load, so some need to be manually loaded, `libfabric` and `dmmsl` are two that I ran into, but there are

[2021-09-13 15:54] christoph-conrads commented on #25612
[`spack.yaml`, line 11](https://github.com/E4S-Project/e4s/blob/08808b78d51785ae9406b5d7e59bb520464480f4/environments/21.08/spack.yaml#L11) is at fault:
[code]

[2021-09-13 15:55] sethrj commented on #25900
@kuberry I'm hoping and assuming... if I can get an M1 computer then I'll be able to debug this ;) and get it in for the next version bump.

[2021-09-13 15:58] raffenet commented on #25860
Hmm, it is not obvious to me what is going on. I notice now that there are some Cray MPICH related things in the build environment, and it looks like another MPI might be getting linked in by mistake? See `-lmpifort_gnu_91 -lmpi_gnu_91` in the build output. Is it possible to unload the Cray MPICH module from the build env and see if that helps?

[2021-09-13 16:14] shahzebsiddiqui opened #25914 "unable to detect Perlmutter system architecture"
cc: @sleak

### Steps to reproduce

We are unable to detect perlmutter architecture in spack. For more details see https://spackpm.slack.com/archives/C5W7NKZJT/p1631284957272400.

I have debugged this with e4s branch `e4s-21.08` and `develop` branch and still getting same issue
[code]

### Error message

_No response_

### Information on your system

[code]

### General information

- [X] I have r

[2021-09-13 17:07] #25907 closed, assigned to nobody

[2021-09-13 17:23] wspear commented on #25612
I am using a spack.yaml modified for spock:

[code]

[2021-09-13 17:24] scheibelp commented on #25877
Thanks for that extra info! Based on https://github.com/spack/spack/issues/25877#issuecomment-917741099, I think the issue is that `fenics` needs to set `PYTHON_EXECUTABLE` in its `cmake_args` method (`llvm` has an example), would you be able to try that (and possibly create a PR for Spack if that works)?

[2021-09-13 18:54] wspear commented on #25612
@kwryankrattiger that did the trick! I had already tried putting libfabric in the external mpi definition but putting it in the compiler has this working. Haven't run into any other missing modules yet.

[2021-09-13 21:25] #25867 closed, assigned to alalazo

[2021-09-13 21:44] wspear opened #25922 "Installation issue: libcircle"
### Steps to reproduce the issue

On spock, the cray system. using the system cray-mpich as an external compiler like this in packages.yaml:
[code]

`spack install libcircle` fails like
[code]

Maybe related to other issues with spack/mpi configuration on this platform: https://github.com/spack/spack/issues/25612

### Information on your system

* **Spack:** 0.16.2-4235-fca81c2ac8
* **Python:** 3.

[2021-09-13 22:28] wspear opened #25926 "Installation issue: rempi"
### Steps to reproduce the issue

On spock, the cray system. using the system cray-mpich as an external compiler like this in packages.yaml:

[code]

spack install rempi fails like

[code]
Maybe related to issues with mpi configuration on this platform: https://github.com/spack/spack/issues/25612

### Information on your system

* **Spack:** 0.16.2-4235-fca81c2ac8
* **Python:** 3.6.13
* **Platform

[2021-09-13 23:06] wspear opened #25927 "Installation issue: conduit"
### Steps to reproduce the issue

On spock, the cray system. using the system cray-mpich as an external compiler like this in packages.yaml:

[code]

spack install conduit fails like

[code]
Maybe related to other mpi configuration issues on this platform: https://github.com/spack/spack/issues/25612

### Information on your system

* **Spack:** 0.16.2-4235-fca81c2ac8
* **Python:** 3.6.13
* **Platf

[2021-09-13 23:07] psakievich commented on #25840
@sethrj I tried this script:
[code]
and it seems to clone fine.
[code]
I tried with `srun spack install` right after this and it still fails.

[2021-09-14 01:41] KineticTheory commented on #24271
FWIW - I'm seeing this same issue when trying to install `graphviz+pangocairo`.

[2021-09-14 01:42] KineticTheory commented on #22117
I'm also seeing this problem.

[2021-09-14 02:16] lukebroskop commented on #25926
I'm able to build rempi on spock:
[code]
this is what I use for my cray-mpich package
[code]

[2021-09-14 02:21] mechapple commented on #25877
Thank you. That fixed the issue. Now the fenics install progresses to a new error: **ufc.h not found.**
This appears to be similar to #5693, which is currently being addressed.

[2021-09-14 04:25] psakievich commented on #25840
@sethrj I partially figured out the problem.  When the fetch operation is called it is done in a temp directory directly in spack that is not the stage directory, and then the files are copied from that temp dir to the stage later.

https://github.com/spack/spack/blob/f6eb16982ab2e7b9c2931281ca48acb9ebc07c1e/lib/spack/spack/fetch_strategy.py#L941-L947

This is indeed in a location that does not ha

[2021-09-14 04:28] psakievich commented on #25840
I'm not sure why if I pre-stage the files I still get the error though.  It seems like there should be no need to run the `git clone` operation in `$TMPDIR` for that case.  I haven't really tracked that down. But this does explain why all my other packages in the DAG are building fine except `Trilinos`. `Trilinos` is probably the biggest individual package I deal with.

[2021-09-14 06:50] UweSauter commented on #24429
Hi @sanjtrip ,

please correct me if I'm wrong but I don't find this relevant for the case when migraphx is installed by Spack.

Any dependency that migraphx requires and that is not defined as an external package in the Spack configuration needs to be a direct or indirect requirement from migraphx that Spack must manage.
In reverse conclusion this means that migraphx should not rely on packages t

[2021-09-14 07:07] tgamblin opened #25930 "Avoid slow copies when cloning git repositories"
### Summary

Per https://github.com/spack/spack/pull/24639#discussion_r707835983, `GitFetchStrategy` should use something faster than Python's `shutil.move` / `shutil.copy` commands to copy cloned git repositories into place.  Possible approaches:

* `rsync`
* `git clone` again to copy the cloned repository
* clone directly to the destination in the first place
* others?

### Rationale

Python's c

[2021-09-14 07:08] UweSauter opened #25931 "Installation issue: multiple issues with ROCm 4.3.1 stack"
### Steps to reproduce the issue

@arjun-raj-kuppala  @haampie  @srekolam

If needed I can create single issues for each of the packages…

[code]

### Information on your system
[code]
### Additional information

[hsa-rocr-dev_spack-build-01-cmake-out.txt](https://github.com/spack/spack/files/7159527/hsa-rocr-dev_spack-build-01-cmake-out.txt)
[hsa-rocr-dev_spack-build-02-build-out.txt](https://git

[2021-09-14 07:23] kjrstory opened #25932 "Installation issue: SU2 with mpi"
### Steps to reproduce the issue

The SU2 package does not support mpi as a dependent package.
The following phrase has been added to the package file of SU2.

[code]
And I tried to install SU2 as below.
[code]
The following error occurs when install openmpi as a dependency.
[code]

The same error is SU2 issue https://github.com/su2code/SU2/issues/1037.

In summary, it is as follows
Case 1. openmp

[2021-09-14 07:54] msimberg commented on #25832
@Char-Aznable just FYI, I'm not doing any work in this direction at the moment. I'd like to understand why things are failing in your case first.

[2021-09-14 09:57] UweSauter commented on #24430
The next error I get is:

[code]

which doesn't surprise as I'm behind a firewall prohibiting direct access to the internet.

Can you please change the package so that everything can be downloaded via `spack fetch -D rocm-validation-suite`?

[2021-09-14 11:18] UweSauter opened #25936 "Installation issue: roctracer-dev-4.2.0 tries to download from Github"
### Steps to reproduce the issue

@arjun-raj-kuppala  @srekolam

Same issue as with `rocm-validation-suite`. The build process now tries to download from Github which is not possible. All requirements should be downloadable via `spack fetch -D roctracer-dev`  so that the source code can than be synchronized to the build host.

[code]

### Information on your system

[code]

### Additional informat

[2021-09-14 13:14] UweSauter commented on #24429
Here's the latest results:
[code]

[2021-09-14 14:14] jacorvar opened #25938 "Cannot set compiler in `spack: packages: all:` when building a container from environment"
### Steps to reproduce

I'm trying to build a very basic singularity container with the following (partially taken from [here](https://spack.readthedocs.io/en/latest/environments.html?highlight=concretize#spec-list-references)):
[code]

When I set a given compiler for all packages, as well as a target, as in the config file, it is ignored when creating the environment. The workaround is to create

[2021-09-14 16:28] psakievich commented on #25840
@scheibelp out of curiosity why do we do this clone to `tmp` and then copy files over? Is there a performance advantage over just cloning to the stage directory?

[2021-09-14 17:28] cjobrie opened #25944 "Installation issue: exuberant-ctags"
### Steps to reproduce the issue

[code]
which uses clang, *or*
[code]

### Information on your system

* **Spack:** 0.16.2-3807-5f3c25f6e9
* **Python:** 3.8.2
* **Platform:** darwin-catalina-haswell
* **Concretizer:** original

### Additional information

[spack-build-out.txt](https://github.com/spack/spack/files/7163984/spack-build-out.txt)
[spack-build-env.txt](https://github.com/spack/spack/fi

[2021-09-14 18:24] cjobrie commented on #25944
Found a [fix](https://sourceforge.net/p/ctags/bugs/383/), but requires changing a good chunk of the `exuberant-ctags`  source too.

[2021-09-14 19:35] ashermancinelli opened #25946 "Pass additional arguments to `spack ci rebuild`"
### Summary

I would like to pass extra arguments to `spack install` when invoking `spack ci rebuild`. For example,

[code]

### Rationale

I would like to test and view verbose build output for packages that are installed in CI.

### Description

In the `spack ci rebuild` command, arguments seem to be built up based on the ci environment and written to an install script:

[code]

If we add a rema

[2021-09-14 19:40] ashermancinelli commented on #25946
CC @scottwittenburg

[2021-09-14 19:40] srekolam commented on #25931
in the rdc error log,  i observed that you are using gcc@11.2.0 which i have not validated it internally for the rocm recipes . the rdc error i am able to recreate it . no space left on device could be something very specific to your setup i think.

[2021-09-14 19:42] scottwittenburg commented on #25946
@qwofford This sounds similar to what you were requesting the other day, except this seems to be about appending to the `spack install ...` command, while you wanted to *prepend* to the command.  Is that accurate?

[2021-09-14 20:06] qwofford commented on #25946
Yes, you described what I am hoping to do exactly.

This is useful when running a containerized spack

[2021-09-14 21:32] ashermancinelli commented on #25946
@scottwittenburg In your opinion, should invalid arguments passed to `spack install` be filtered out with a warning message or should we just error and exit at the point we've realized it? Or should we not filter the arguments at all?

[2021-09-14 21:34] mkstoyanov commented on #25858
The latest CMake 3.21 and ROCm have an issue when it comes to using the `hipcc` compiler. The workaround has been added to the Tasmanian spack packge:

https://github.com/spack/spack/pull/25948 and https://github.com/spack/spack/pull/25949

[2021-09-14 21:50] corbett5 commented on #25325
It took me two weeks, sorry for the delay.

https://github.com/spack/spack/pull/25950

[2021-09-14 21:52] scottwittenburg commented on #25946
@ashermancinelli I'd be tempted to say don't try to filter them out at all, unless you have an approach in mind that will continue to work without maintenance even as the commands and options change over time.

[2021-09-14 21:58] omsai opened #25951 "Installation issue: bedops"
### Steps to reproduce the issue

[code]

### Information on your system

[code]

### Additional information

N/A

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have run `spack maintainers <name-of-the-package>` and **@mentioned** any maintainers
- [X] I have uploaded the build log and environment files
- [X] I have searche

[2021-09-14 23:32] tldahlgren opened #25954 "Installation issue: cudnn fetching fails for 7.0/7.1"
### Steps to reproduce the issue

@adamjstewart @bvanessen

This issue is being raised after fixing an error brought up in the slack `#packaging` channel.  After the #25953 fix, attempting to install `cudnn@7.1` results in the following error:

[code]

### Information on your system

* **Spack:** 0.16.2-4253-7aee21a8dd
* **Python:** 3.7.2
* **Platform:** linux-rhel7-cascadelake
* **Concretizer:**

[2021-09-14 23:40] tldahlgren commented on #25954
Note the slack message posted by @dorton21 was related to `spack install py-cryolo`, which was failing during its installation of this package.

[2021-09-15 01:27] psakievich commented on #25840
I'm just going to close this. Sounds like @becker33 and @tgamblin have plans to rework this staging procedure in the future.

[2021-09-15 01:27] #25840 closed, assigned to nobody

[2021-09-15 01:57] Bitllion opened #25955 "Installation issue: Cannot find compiler command to configure"
### Steps to reproduce the issue

spack -d  install intel-parallel-studio@cluster.2020.4 failed:

### Information on your system

==> [2021-09-15-09:53:55.106084] Imported install from built-in commands
==> [2021-09-15-09:53:55.107658] Reading config file /es01/jnist/spack/etc/spack/defaults/config.yaml
==> [2021-09-15-09:53:55.126836] Reading config file /root/.spack/config.yaml
==> [2021-09-15-0

[2021-09-15 05:37] #20025 closed, assigned to becker33

[2021-09-15 07:06] zzzoom commented on #25878
@amd-toolchain-support please take a look at this.

[2021-09-15 08:16] Jordan474 commented on #5378
Because of this bug, `--log-format junit|cdash` is kind of unusable for me.

In addition to not exiting with an error when a build fails, worse, with `--log-format`, spack still goes on building the dependen**ts** of failed builds.

And it also ignores the `--fail-fast` options.

Here is a quick mocked test with `--fail-fast`, if that helps:

[code]

[2021-09-15 10:20] sethrj commented on #25840
Nice debugging work @psakievich , sorry I wasn't any more help!

[2021-09-15 10:42] UmbReTHY commented on #25651
I can confirm this as well. Building with gcc@11.2.0 on CentOS 7.9, and python 3.6.

Forcing pango version 1.42.0, as in @mpokorny post, worked for me.

[2021-09-15 12:29] dev-zero commented on #22621
When switching from `intel-mkl` to `intel-oneapi-mkl` I also noticed that my package (`cp2k`) failed linking due to missing symbols from `scalapack`. Indeed it seems that while `intel-mkl` adds `libmkl_scalapack.so` to its `libs` when `+mpi` is set, `intel-oneapi-mkl` is missing the `mpi` variant and does not add them. Same for `libmkl_blacs_...`.
Should I open a separate issue for this or would y

[2021-09-15 12:45] dev-zero commented on #22621
... and consistency between `intel-oneapi-mkl` and `intel-oneapi-mpi` wrt `lp64` vs `ilp64` should also be included somehow. Atm `intel-oneapi-mpi` returns the `ilp64` variant in its `libs` while `intel-oneapi-mkl` gives the `lp64`.

[2021-09-15 14:03] rscohn2 commented on #25893
@wspear: I looked at Tau and it does:
[code]
https://github.com/UO-OACISS/tau2/blob/d2faff9ed431326fa3c3103a7aa179828d8e3911/include/Profile/L0/ze_utils.h#L15

Since level zero is installed into /usr/include and the system library location, I don't see why you need something to give you the location of the installation.

[2021-09-15 14:15] rscohn2 commented on #22621
I will take a look at MPI and MKL. No need to file a separate issue.

[2021-09-15 14:16] wspear commented on #25893
We're trying to get it running on an EA system where it is installed in a non-standard location. Currently the only thing that works is installing tau with --dirty since the LD_LIBRARY_PATH is the only clue to the install location available in the build environment.

[2021-09-15 14:22] wdconinc opened #25968 "Use relative path in environment view links"
### Summary

Environment views currently use absolute links to the actual view directory, e.g. a view at `/usr/local` will make that an absolute link to `/usr/._local/xmtuqjhjio3cw53twomkg2gzcg626zbp`. This feature request propose to change this to a relative link to `._local/xmtuqjhjio3cw53twomkg2gzcg626zbp` instead.

### Rationale

 The absolute link works fine inside the system itself, but when

[2021-09-15 14:47] rscohn2 commented on #25893
OK, now I understand the suggestion from @mwkrentel.

[2021-09-15 15:52] NessieCanCode opened #25971 "Installation issue: repeatmodeler fails on dependency ncbi-rmblastn"
### Steps to reproduce the issue

 spack install repeatmodeler arch=linux-centos7-haswell %gcc@8.2.0

### Information on your system

[root@scyphozoa spack]# spack debug report
* **Spack:** 0.16.2-1-c699e90
* **Python:** 2.7.5
* **Platform:** linux-centos7-haswell

### Additional information

[spack-build-out.txt](https://github.com/spack/spack/files/7171492/spack-build-out.txt)
[spack-build-env.t

[2021-09-15 15:57] rscohn2 commented on #25893
I created the basic package here: https://github.com/rscohn2/spack/blob/dev/level-zero-external/var/spack/repos/builtin/packages/level-zero-external/package.py
The intention is that you put a dependence on the virtual level-zero package and this package can provide it if you add the prefix to packages.yaml.
I did not do any testing. Can you help by creating a test case? Perhaps create a Tau packag

[2021-09-15 16:10] #4021 closed

[2021-09-15 16:57] srinivamd commented on #24430
@UweSauter Could you please discard rocm-validation-suite package as it is not required for ROCm development?

[2021-09-15 17:17] kwryankrattiger opened #25973 "Installation issue: sz+python when using external python"
### Steps to reproduce the issue

packages.yaml
[code]

Install `sz+python` with spack
[code]

Error paraphrased
[code]

### Information on your system

ORNL Spock

* **Spack:** 0.16.2-4028-d27e0bff5a
* **Python:** 3.6.13
* **Platform:** cray-sles15-zen2
* **Concretizer:** clingo

### Additional information

maintainers: @disheng222 @robertu94

[spack-build-env.txt](https://github.com/spack/spack/

[2021-09-15 17:31] robertu94 commented on #25973
@kwryankrattiger unfortunately this error is to be expected, but spack doesn't provide the tools to mark external python as as a conflicted configuration.  The underlying problems is that CMake doesn't have a predictable way to knowing where to install the python modules, so it relies on ${Python3_SITELIB} which is defined by the python interpreter that is linked against.  Since your system python

[2021-09-15 17:54] adamjstewart commented on #25973
Even if we're using Spack-installed python, sz shouldn't be installing to the python installation prefix. In other packages, we either tell CMake where to install the modules or patch CMake to force it to install to the correct installation prefix. I would consider this a bug in our sz recipe that we should fix.

[2021-09-15 17:56] robertu94 commented on #25973
@adamjstewart is that done with a cmake variable like `-DPATH_TO_INSTALL_PYTHON_MODULES`?  Or is there some other way that this is handled?  Is there a good example too look at ?

[2021-09-15 17:58] adamjstewart commented on #25973
Yes, either with a CMake variable if one exists or a patch function if one does not. If you grep for packages that use `site_packages_dir` you should find a few examples.

[2021-09-15 18:27] G-Ragghianti commented on #25856
I have referred this to the MAGMA devs.

[2021-09-15 18:30] kwryankrattiger commented on #25973
On the question of deprecation, you can specify different depends/options depending on the version of the package specified in the spec.

[code]

This is broken because it creates a cycle between `libpressio` and `sz`, and also `libpressio` is not available with default spack so I don't think this is really going to pass muster without that package being ported over too.

[2021-09-15 18:34] wspear commented on #25856
I think this is related to an error that we ran into with the tasmanian package. They found a fix which may also apply to magma: https://github.com/spack/spack/issues/25858

[2021-09-15 18:57] #25580 closed, assigned to adamjstewart

[2021-09-15 19:26] G-Ragghianti commented on #25856
Yes, I can see that it is the same problem.  Thanks. I'm looking into whether to apply the workaround __skip_rocmclang=ON or to disallow the broken cmake version.

[2021-09-15 20:05] rmchurch opened #25978 "Allowing env var paths in packages.yaml for python"
### Summary

`packages.yaml` does not allow for env variables in external python spec. For example:
[code]
When doing a `spack install` for a spack environment which has a `py-` package that depends on this external python in conda, the current spack developer version will error out:
[code]
This is because in package.py, there is only a `os.path.exists`, and not an `os.path.expandvars` call. Could

[2021-09-15 20:19] #25447 closed, assigned to nobody

[2021-09-15 22:33] kgerheiser opened #25983 "Concretizer dumps debug state instead of printing conflict messgae"
### Steps to reproduce

I run `spack concretize -f` and I get thousands of lines of errors when attempting to build with `gcc@9.4.0` on macOS for certain packages. But using `intel@2021.2` or `apple-clang@12.0.5` work fine.

I have a simplified `spack.yaml`:

[code]

And I set it up with:

[code]

Then I run `spack concretize -f` and get the errors.

Removing `jasper@2.0.32` and only building `ope

[2021-09-15 23:17] #25951 closed, assigned to nobody

[2021-09-15 23:30] wspear commented on #25893
I'm testing this out. It's not working yet, but I suspect it's an issue with my configuration, not your package. Hoping for a nudge in the right direction on spack slack.

[2021-09-16 00:19] robertu94 commented on #25973
@kwryankrattiger I think I understand what you are saying.  Are you suggesting that if someone requests `sz+python` above a certain version, that spack should bring in `libpressio+python+sz`?  If LibPressio and SZ had exactly the same python API, I might agree that a something like that might make sense.  However, the APIs are not compatible like that.  In fact, that is a major reason why the SZ p

[2021-09-16 00:26] slayoo opened #25984 "Installation issue: gettext (fails with "Failed to find suitable substitutes for config.sub")"
### Steps to reproduce the issue

[code]

### Information on your system

sarabas@atmos-sarabas ~ % spack debug report
* **Spack:** 0.16.2-4249-c6edfa3f31
* **Python:** 3.8.2
* **Platform:** darwin-bigsur-m1
* **Concretizer:** original

### Additional information

[code]

[code]

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X]

[2021-09-16 01:33] robertu94 commented on #25973
@adamjstewart I applied the fix to reference `site_packages_dir` locally to libpressio and SZ (patch forthcoming), however both of these depend on py-numpy which in turn depends on py-cython.  When I try to use a system python with py-numpy and py-cython, I get the following errors on Fedora 34. I get the same errors with a `spack install` instead of `spack dev-build`

[error_log.txt](https://gith

[2021-09-16 01:38] adamjstewart commented on #25973
@robertu94 what version of Spack are you using? That should be fixed by #24095. Can you share your `spack-build-env.txt` file too? Also, if you can locate what directory the cython module lives in. You may need to reinstall cython if it was installed before #24095.

[2021-09-16 01:52] robertu94 commented on #25973
@adamjstewart  I am using commit `995684133124f70365ef326fdf5b64d649218ca7`  I just installed Cython today for the first time today since I just reinstalled my whole OS recently.

Here is the spack-build-env.txt for py-cython [spack-build-env.txt](https://github.com/spack/spack/files/7174331/spack-build-env.txt)

Here is the build tree for cython [cython-tree.log](https://github.com/spack/spack/fi

[2021-09-16 01:55] adamjstewart commented on #25973
Odd, Cython gets installed to `lib64`, but `lib` gets appended to the `PYTHONPATH`. Can you upload the `spack-build-out.txt` for Cython?

[2021-09-16 02:00] robertu94 commented on #25973
@adamjstewart I did see previous comment

[2021-09-16 02:01] adamjstewart commented on #25973
That's the `spack-build-env.txt`, not the `spack-build-out.txt`, right?

[2021-09-16 02:04] robertu94 commented on #25973
Ah. sorry. I’ll send it in the morning

[2021-09-16 03:07] rscohn2 commented on #25893
Thanks. I did zero testing so there is a good chance my part does not work.

[2021-09-16 12:04] UweSauter commented on #25931
I was able to resolve the `no space left` and now there are two blockers:

`rdc`
[code]
and `hsa-rocr-dev`
[code]
All other packages are either already installed or don't build due to dependencies.

[2021-09-16 12:08] sethrj commented on #25983
@kgerheiser I'm unable to reproduce this on my machine. Can you post your site/user packages and config files (or `spack config get packages`) just to make sure something's not awry there?

My system:
[code]

Successful concretization:
[code]

[2021-09-16 13:05] kgerheiser commented on #25983
Looks like it's CMake related. If I do `spack external find cmake` then it works. Looking at the CMake package.py, it doesn't build with GCC on macOS:

https://github.com/spack/spack/blob/5b211c90f5b30dc3866b5d72185fe7ab6108ad46/var/spack/repos/builtin/packages/cmake/package.py#L149

But instead of that warning message I'm getting this strange failure.

I also tested on another machine and was abl

[2021-09-16 13:05] robertu94 commented on #25973
Here is the build out [spack-build-out.txt](https://github.com/spack/spack/files/7177904/spack-build-out.txt)

[2021-09-16 13:47] gartung opened #25988 "Running boostrap on an NFSv4 volume produces a PermissionError"
### Steps to reproduce

Running `spack spec zlib` on a system where the home directory is on a NAS (nfs v4) volume results in a permission error
[code]

Running ` export HOME=/path/on/local/disk; source spack/share/spack/setup_env.sh;spack spec zlib` results in a checksum error. Note: `spack clean -a` might have also been run.
[code]

### Error message

_No response_

### Information on your syste

[2021-09-16 13:50] alalazo commented on #25988
Where is the:
[code]
located? Is there anything that might be changing the package after download?

[2021-09-16 13:55] gartung commented on #25988
No, but the `spack clean` might have cleared some cache. I am attempting to get a stack trace for the PermissionError on nfsv4.

[2021-09-16 13:55] gartung commented on #25988
/tmp is local disk.

[2021-09-16 13:57] G-Ragghianti commented on #25856
https://github.com/spack/spack/pull/25989

[2021-09-16 13:59] gartung commented on #25988
[code]

[2021-09-16 14:00] gartung commented on #25988
The `--stacktrace` does not show where the PermissionError occured because it is not a fatal error(?)

[2021-09-16 14:02] gartung commented on #25988
It's somewhere in buildcache install. I will need to step through the code to see where it happens.

[2021-09-16 14:04] alalazo commented on #25988
What happens if you:
[code]
in a path where you have read/write permissions?

[2021-09-16 14:06] psakievich opened #25992 "clingo bootstrap failing inside certain environments"
### Steps to reproduce

I believe this is an issue with trying to bootstrap inside an environment. It could be anonymous environments.  I'm not sure. pinging @alalazo

[code]

### Error message

[code]

### Information on your system

[code]

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have searched the issues of this rep

[2021-09-16 14:08] G-Ragghianti commented on #25856
Resolved once merged.

[2021-09-16 14:08] #25856 closed, assigned to nobody

[2021-09-16 14:10] gartung commented on #25988
It works.

[2021-09-16 14:12] gartung commented on #25988
The bootstrap command runs quickly. The spec command which triggers the bootstrap is taking a while.

[2021-09-16 14:16] gartung commented on #25988
[code]

[2021-09-16 14:26] gartung commented on #25988
The slowness is probably from our NAS which is overloaded.

[2021-09-16 14:27] alalazo commented on #25988
The bootstrap in https://github.com/spack/spack/issues/25988#issuecomment-920942763 worked correctly, not sure how to reproduce / where to look for an error here.

[2021-09-16 14:33] sethrj commented on #25983
Ah good catch. A lot of codes fail to build with GCC on macOS (depending on the clang version):
- https://github.com/spack/spack/issues/15265
- https://github.com/spack/spack/issues/17662
- https://github.com/spack/spack/pull/16249

[2021-09-16 14:38] gartung commented on #25988
I am debugging the buildcache install command. I suspect something in it is causing the permission error on nfsv4.

[2021-09-16 14:47] kgerheiser commented on #25983
I still believe this is a bug.

I understand that some things don't build with GCC on macOS, but there is some kind regression in behavior where it dumps thousands of lines of error messages and automatically chooses to build everything with a different compiler instead of just saying CMake can't be built with this compiler.

[2021-09-16 14:53] UweSauter commented on #25931
I will try compiling with `gcc@10.3.0`, too.

[2021-09-16 14:53] sethrj commented on #25983
@kgerheiser good point. The `clingo` concretizer sometimes has trouble producing a useful error message when it hits conflicts. Maybe @alalazo can comment.

[2021-09-16 14:53] alalazo commented on #25983
@kgerheiser Dumping internal state as an error message is indeed a regression, and we'll be working towards improving that soon.

[2021-09-16 15:01] gartung commented on #25988
The unpacked archive has weird permissions on the subdirectories (group S?)

[code]

[2021-09-16 15:13] gartung commented on #25988
Is there any way to mask out the group sticky bit on the subdirectories in the tarfile?

[2021-09-16 15:21] alalazo commented on #25988
Does this happen because we download and extract in `/tmp`?

[2021-09-16 15:22] haampie commented on #24716
Closing this since it'll be backported

[2021-09-16 15:22] #24716 closed, assigned to nobody

[2021-09-16 15:26] cpraveen commented on #25900
@sethrj  Surprisingly I could compile trilinos now. Not sure what all changed.

I made a new login with minimal PATH and tried to install, and it worked.

Maybe my homebrew packages or something else was causing some problem before.

There were however some issues I had to fix.

openmpi had screwed up linker path which I manually fixed.
Some package needed me to pass MACOSX_DEPLOYMENT_TARGET value

[2021-09-16 15:33] gartung commented on #25988
yes

[2021-09-16 15:33] adamjstewart commented on #25973
Okay, so it looks like Cython is one of the only packages that uses platform-specific site package dirs. Let me submit a PR to try to fix this.

[2021-09-16 15:35] gartung commented on #25988
It must be caused by the umask for the filesystem.  Doing a search on tarfile extractall PermissionError mentions problem where the directory is created with the wrong permission which then prevents files from being extracted into it.

[2021-09-16 15:39] gartung commented on #25988
The umask is 0022 on the system.

[2021-09-16 15:48] alalazo commented on #25988
The sticky bit is possibly set by a post install hook `spack.hooks.permissions_setters.py` which I think calls:

https://github.com/spack/spack/blob/d73fe19d931f22307e5118b3f788304665de2db1/lib/spack/spack/package_prefs.py#L207-L216

[2021-09-16 15:51] gartung commented on #25988
No. Unfortunately it is caused by extracting the tarfile to a temp dir which uses whatever umask is set. The I used a temporary tarfile to install into the prefix. It was a hack to preserve hardlinks because install_tree does not.

https://github.com/spack/spack/blob/d73fe19d931f22307e5118b3f788304665de2db1/lib/spack/spack/binary_distribution.py#L1416

[2021-09-16 15:57] gartung commented on #25988
For example this is the tempdir where the archive is extracted and repackaged. The extracted directory has the sitcky bit for other because of the umask and the newly created archive of the same name preserves the sticky bit.
[code]

[code]

[2021-09-16 16:00] alalazo commented on #25988
Ok, so it's guess number 1 at https://github.com/spack/spack/issues/25988#issuecomment-920999152

[2021-09-16 16:03] MisterFruits commented on #19925
I'd love to have some input about this issue.

In my HPC center PMI libs were installed in a different place than slurm (`/usr` vs `/usr/local`):
 - First, we patched the `openmpi/package.py` so that the build looks for the libs in the right dir and
 - then came a RedHat update that changed back the location of PMI libs back to `/usr` and the vendor supplied a `/opt/pmix/3.1.5`
 -  We removed the

[2021-09-16 16:04] gartung commented on #25988
Yes. I think I unpacked the tarfile in the tempdir to do the relocation before installing in the prefix. I see now that I do the relocation on the prefix. I can just unpack the archive directly in the prefix.

[2021-09-16 16:09] alalazo commented on #25992
I can't reproduce this issue, as everything works for me. Differences with your environment:

* **Spack:** 0.16.2-4270-244a3074ad
* **Python:** 3.8.10
* **Platform:** linux-ubuntu20.04-icelake
* **Concretizer:** clingo

<details>

<summary> Console output </summary>

[code]

</details>

Do you have either:
- `patchelf` installed on your system, or
- a C++11 capable compiler to build it from source

[2021-09-16 16:14] alalazo commented on #25992
I'll retry in a docker environment with CentOS 7

[2021-09-16 16:16] psakievich commented on #25992
I was worried this would be hard to reproduce on another system.  I do have `patchelf` and a C+11.  Also I get a successful bootstrap if I run `spack solve zlib` outside the environment. So it seems to be related to the environment and/or calling `solve` vs `concretize`.

I have replicated this issue several different times on the current system so it is repeatable on mine.

[2021-09-16 16:22] alalazo commented on #25992
I see this in your log:
[code]
What do you get from `spack compiler list`? EDIT: don't mind having `rhel5`, that's because of the buildcache.

[2021-09-16 16:24] gartung commented on #25988
It turns out the problem is the umask 0022 which adds the group sticky bit when the archive for clingo is unpacked in a temporary directory. The buildcache procedure creates another temporary tarfile  which preserves the sticky bit. When this temporary tarfile is  unpacked on nfsv4 the stick bit makes it impossible for python to write the files into the directories. I think this is because the def

[2021-09-16 16:24] psakievich commented on #25992
These are the system compilers
[code]

[2021-09-16 16:38] alalazo commented on #25992
I can't reproduce it even on a CentOS 7 docker image. In the end the environment concretizes and Spack has this in the bootstrap store:
[code]

[2021-09-16 16:41] alalazo commented on #25992
Also, the version of Spack you reported is recent enough to have https://github.com/spack/spack/pull/25607 so I wonder what is the trigger here.

[2021-09-16 16:48] hppritcha commented on #19925
@MisterFruits looks like the ompi spack package isn't set up to handle you're use case for pmi(1,2).

Do you want to use the slurm provided pmi1/pmi2?  Or would you prefer to switch to using pmix?
Yes this is complicated even if you're involved in these projects (open mpi, openpmix)

I'd be interested in seeing your patch for the pmix dependency.  Its complicated to get the dependencies right as t

[2021-09-16 16:50] alalazo commented on #25992
Can you reproduce the same behavior on another rhel7 machine?

[2021-09-16 17:13] psakievich commented on #25992
Here is my bootstrap store after successful bootstraping
[code]
I'll try to reproduce on another machine later today. Unfortunately all the rhel7 machines I use share the same home directory so I need to wipe `~/.spack` again.  One of my struggles with `~/.spack` priority

[2021-09-16 17:24] NessieCanCode commented on #25971
This morning I was able to build repeatmodeler and all of its dependencies by
changed the git branch
rm ~/.spack/cache/patches/builtin-index.json
spack clean -a
spack reindex

[root@scyphozoa ~]# spack debug report
* **Spack:** 0.16.2
* **Python:** 2.7.5
* **Platform:** linux-centos7-haswell

[2021-09-16 17:24] #25971 closed, assigned to nobody

[2021-09-16 17:27] psakievich commented on #25992
I was able to try it now.  Same error on a different rhel7 machine. Here are the compilers for this case
[code]

[2021-09-16 17:40] kgerheiser commented on #25983
Did the concretizer change recently? I see Spack build `clingo` when I run concretize, which it didn't do before.

I test out commit https://github.com/spack/spack/commit/f0875b2fef8e495809854141785c1fc7f5d86407 from Aug 13 (last time I synced with develop) and it gives the correct error:

[code]

[2021-09-16 17:42] psakievich commented on #25992
Also `spack solve libz` fails with the same error inside the environment. So it does seem to be an issue with being in the environment.

[2021-09-16 17:42] alalazo commented on #25983
Yes, we merged #25502 in preparation for v0.17.0

[2021-09-16 17:45] alalazo commented on #25992
This is weird because https://github.com/spack/spack/pull/25607 should ensure environments are deactivated during bootstrapping :thinking: I need to check if I have access to a rhel7 machine but currently I tried cento7, rhel8, ubuntu20.04 and couldn't reproduce. Can you `cat` your `spack.yaml`?

[2021-09-16 17:47] psakievich commented on #25992
yeah here it is
[code]

[2021-09-16 17:48] psakievich commented on #25992
here is the info on the second machine too
[code]

[2021-09-16 17:50] alalazo commented on #25992
Hmm, just a guess but since there's one difference with mine... can you try to remove the `compilers` section and see if you still get the issue?

[2021-09-16 17:56] alalazo commented on #25992
Adding a compilers section to `spack.yaml` I can finally reproduce a failure.

[2021-09-16 17:56] psakievich commented on #25992
That was actually added for me. I'm going from a completely fresh clone and no `~/.spack` so I believe something in the concretize/bootstrap is running a compiler find operation and it is getting added to the `spack.yaml`.  When I remove that section spack adds it back for me again.  This could be the differentiator.

[2021-09-16 17:57] alalazo commented on #25992
That shouldn't happen per the PR above :thinking: The issue with compilers should be solved when we merge #25608 but I need to verify that.

[2021-09-16 18:33] kgerheiser commented on #25983
Manually specifying the conflicting compiler in `packages` resolves the error, but you must know which package is causing the conflict.

[code]

[2021-09-16 18:48] robertu94 commented on #25973
@kwryankrattiger  as soon as #25998 gets merged, libpressio@0.70.8: works with system installed python.  SZ will require a small patch once @disheng222 merges the patch to the cmake files for SZ.  You can find the PR for it https://github.com/szcompressor/SZ/pull/75.  I'm linking  [this patch file](https://github.com/spack/spack/files/7180261/szpackage.txt) that you can apply to your spack instanc

[2021-09-16 18:54] wspear opened #26002 "Installation issue: phist"
### Steps to reproduce the issue

On the the Cray system Spock building phist like
`spack install phist@1.9.4%gcc@10.3.0`
Fails with:
[code]

### Information on your system

* **Spack:** 0.16.2-4271-c4e26ac7c8
* **Python:** 3.6.13
* **Platform:** cray-sles15-zen2
* **Concretizer:** clingo

### Additional information

[spack-build-out.txt](https://github.com/spack/spack/files/7180299/spack-build-ou

[2021-09-16 19:03] alalazo commented on #25992
I think I understand what is happening here. These lines:

https://github.com/spack/spack/blob/bb29c5d6744a227c6169aafa2a79d36a51de85b6/lib/spack/spack/bootstrap.py#L495-L506

search for a compiler before deactivating the environment, if none are present. In my case I didn't hit the issue because I always started from places where a `compilers.yaml` was already there. Can you confirm that the issu

[2021-09-16 19:11] psakievich commented on #25992
@alalazo yes that solves it for me as well. Thanks for tracking this down.

[2021-09-16 19:15] wspear opened #26003 "Installation issue: geopm"
### Steps to reproduce the issue

On the Cray system Spock geopm@1.1.0 fails to build with gcc@10.3.0 with numerous errors like:
[code]

### Information on your system

* **Spack:** 0.16.2-4271-c4e26ac7c8
* **Python:** 3.6.13
* **Platform:** cray-sles15-zen2
* **Concretizer:** clingo

### Additional information

@maiterth
[spack-build-env.txt](https://github.com/spack/spack/files/7180437/spack-bui

[2021-09-16 22:14] srekolam commented on #25931
with SLES - the gcc version that is recommended is gcc-7.5.0 , with Centos 8 - gcc version that can be used is gcc-8.4.1

[2021-09-16 22:41] sanjtrip commented on #25931
In the internal validation, cmake ver 3.21.2 is being used for ROCm-4.3.1 and ROCm-4.3. @UweSauter, Can you please use this gcc and cmake version which @srekolam is suggesting and update ? Adding @srinivamd.

[2021-09-17 00:00] wspear opened #26007 "Installation issue: libnrm won't concretize with clingo and cray-mpich"
### Steps to reproduce the issue

On the Cray system Spock we are using cray-mpich as an external mpi provider, set up in packages.yaml like this:

[code]

And the top of our environment like this:
[code]

Libnrm built and configured under this configuration previously but with the new concretizer we instead get a lot of concretizer output concluding with:

[code]
Libnrm specifies mpich as a speci

[2021-09-17 01:53] srinivamd commented on #25931
@sanjtrip Isn't there an issue with cmake 3.21.2 that needs a workaround? Take a look at this issue: https://gitlab.kitware.com/cmake/cmake/-/issues/22536
I think 3.21.3 is expected to have the fix.

@UweSauter Could you please skip 'rdc' packages as rdc "Radeon Data Center" is for remote monitoring, not required for development? We can use `rocm-smi` for monitoring.

I believe what @sanjtrip @sre

[2021-09-17 05:51] ikitayama opened #26026 "`<cmd>: error: file could not be opened:`"
### Steps to reproduce

[code]

### Error message

_No response_

### Information on your system

On JURECA at JSC, on today's develop.

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have searched the issues of this repo and believe this is not a duplicate
- [X] I have run the failing commands in debug mode and reported the

[2021-09-17 05:52] ikitayama commented on #26026
[code]

[2021-09-17 13:22] haampie commented on #20231
This seems to be fixed on develop

[2021-09-17 13:22] #20231 closed, assigned to alalazo

[2021-09-17 13:25] haampie commented on #20292
Moving this to 0.17, since I doubt it's gonna land in 0.16 given the changes to the ASP solver that aren't backported already

[2021-09-17 13:26] alalazo commented on #20126
I think this has been solved in https://github.com/spack/spack/pull/17563

[2021-09-17 13:26] #20126 closed, assigned to alalazo

[2021-09-17 13:53] haampie commented on #18477
Thanks @cwsmith, not sure why this was not closed yet

[2021-09-17 13:53] #18477 closed, assigned to nobody

[2021-09-17 13:54] alalazo commented on #25992
@psakievich Can you try https://github.com/spack/spack/pull/26029 and tell me if it works for you?

[2021-09-17 14:00] haampie commented on #20580
Fixed on develop

[2021-09-17 14:00] #20580 closed, assigned to alalazo

[2021-09-17 14:23] cmcantalupo commented on #26003
Thanks for the report.  Unfortunately the last release of geopm was tagged almost 2 years ago, before the gcc toolchain emitted these errors on the GEOPM code base.  I believe all these problems have been fixed in our development branch, but there has also been two years worth of other development done on that branch.

We are restricted from tagging a new release based on our development branch un

[2021-09-17 14:40] wspear commented on #26003
I think a patch would be fine for our purposes. Thanks!

[2021-09-17 14:47] steo85it opened #26033 "Installation issue: qgis"
### Steps to reproduce the issue

[code]

### Information on your system

[code]

### Additional information

Here is my compilation output and error message: proj is installed, so I'm not sure why it is complaining.
Thanks for any help @Sinan81  @adamjstewart !

[code]

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have ru

[2021-09-17 14:59] mslacken opened #26034 "External specs do not store the operating system by default"
### Steps to reproduce

When two different operating systems have the same spack installation the `spack compiler` command can handle this correctly, but not the `spack external find` command.
So it is not possible to use external libraries in conjunction with different operating systems even when setting the operating system explicitly in `.spack/packages.yaml`

### Error message

No explicit err

[2021-09-17 15:24] psakievich commented on #25992
@alalazo yes #26029  works for cases with and without a compilers section in `spack.yaml` when there is no `compilers.yaml` in `~/.spack`.

[2021-09-17 17:39] cmcantalupo commented on #26003
On a fresh fedora 32 VM I was able to run the commands below after adding the include of string to ProfileTable.hpp:

https://github.com/geopm/geopm/pull/1875

I did disable some parts of the build to enable an easier check on a fresh Fedora VM.  Please let me know if this change is sufficient.  Thanks!

[code]

[2021-09-17 17:53] ktpedre opened #26036 "Allow extra_instructions at beginning of container stages"
### Summary

Some sites may need to add SSL certificates or other things to the beginning of the stages generated by "spack containerize". There are currently "extra_instructions:build" and "extra_instructions:final" options available to add extra commands at the end of each build stage. This request is asking for similar functionality for the beginning of each build stage.

For example:

[code]

[2021-09-17 19:12] michaelkuhn commented on #25757
I'm not sure what to do here since the conflict message states that freetype is simply not compatible with %intel:

You could try checking whether this is still true or building it with %gcc.

[2021-09-17 19:20] ax3l opened #26037 "Installation issue: fftw+openmp %apple-clang"
### Steps to reproduce the issue

[code]

[code]

### Information on your system

`spack debug report`:
* **Spack:** 0.16.2-4280-bd415ec841
* **Python:** 3.9.5
* **Platform:** darwin-catalina-ivybridge
* **Concretizer:** clingo

### Additional information

- [spack-build-env.txt](https://github.com/spack/spack/files/7188063/spack-build-env.1.txt)
- [spack-build-out.txt](https://github.com/spack/sp

[2021-09-17 19:26] markyoder commented on #25757
I am working around the problem. I wasn't sure if it was of value to put this into the bugs repository. I think I just rolled back the version, or i may have fixed it by adding a `spack load gcc` into the script. If it's not of value to keep it on the bugs-list radar, you can certainly close the ticket.

[2021-09-17 19:30] ax3l commented on #26037
We could try more hints, e.g., as in  https://github.com/spack/spack/blob/bd415ec8417320f42213ebf4a4b5088f753eed0b/var/spack/repos/builtin/packages/lbann/package.py#L278-L287 ?
(I have no mac to test this personally.)

[2021-09-17 21:37] eugeneswalker commented on #25673
For any HDF5 people here -- are these unimportant wrappers? Is this believed to be a false error? Are others able to use these wrappers with an out-of-the-box spack build of hdf5 on ubuntu?

[2021-09-17 21:48] ax3l commented on #26037
That worked! Will submit a PR.

[2021-09-18 00:28] #25992 closed, assigned to alalazo

[2021-09-18 07:58] michelemartone opened #26043 "librsb update to 1.2.0.10"
### Summary

Hi!
librsb-1.2.0.10 is out, at https://sourceforge.net/projects/librsb/files/
it would be good to update its package.py.

### Rationale

_No response_

### Description

_No response_

### Additional information

_No response_

### General information

- [X] I have run `spack --version` and reported the version of Spack
- [X] I have searched the issues of this repo and believe this is

[2021-09-18 21:13] #26037 closed, assigned to nobody

[2021-09-18 21:43] #26043 closed, assigned to nobody

[2021-09-19 08:04] CodeToLearnScience opened #26051 "Installation issue: gmsh"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.16.2-4306-2d4d51eb5e
* **Python:** 3.8.10
* **Platform:** linux-ubuntu20.04-zen
* **Concretizer:** clingo

### Additional information

_No response_

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have run `spack maintainers <name-of-the

[2021-09-19 10:12] davinwei opened #26052 "Installation issue: cannot install package"
### Steps to reproduce the issue

i just do following
git clone -c feature.manyFiles=true https://github.com/spack/spack.git
$ cd spack/bin
$ ./spack install gcc@8.3.0
==> Bootstrapping clingo from pre-built binaries
==> Error: cannot bootstrap the "clingo" Python module from spec "clingo-bootstrap@spack+python %gcc target=x86_64"

### Information on your system

my linux is centos7.9

### Additio

[2021-09-19 10:13] haampie commented on #26052
Can you share the output for `spack -d spec zlib`?

[2021-09-19 10:41] JamieSlome opened #26053 "Trying to get in touch regarding a security issue"
Hey there!

I'd like to report a security issue but cannot find contact instructions on your repository.

If not a hassle, might you kindly add a `SECURITY.md` file with an email, or another contact method? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) this best practice to ensure security issues are responsibly disclosed,

[2021-09-19 13:44] tgamblin commented on #26053
Thanks for this suggestion!

I’ve added a `SECURITY.md` file here:

https://github.com/spack/spack/blob/develop/SECURITY.md

[2021-09-19 13:44] #26053 closed, assigned to nobody

[2021-09-19 14:28] kgerheiser commented on #25983
I wouldn't call this issue closed. I can pick any other conflicting package other than CMake (Python, OpenSSL) and re-create the same error cascade.

[2021-09-19 17:24] sethrj commented on #25983
Sorry @kgerheiser , I had created the auto-closing merge before the title/content of this issue changed. I'm reopening.

[2021-09-20 07:09] UweSauter commented on #25931
- I don't use the devtoolset. The compilers I use are the ones available in Spack. First, the compiler itself is compiled with `gcc@4.8.5` which is the base compiler from CentOS 7, then this intermediary compiler is used to compile the final version:
` gcc@10.3.0%gcc@4.8.5` -> `gcc@10.3.0%gcc@10.3.0` (same for `gcc@11.2.0`)
- Other dependencies are also built with Spack
- `cmake@3.21.3` is not yet

[2021-09-20 08:40] CodeToLearnScience opened #26063 "Installation issue: paraview"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.16.2-4312-8fceaf4a33
* **Python:** 3.8.10
* **Platform:** linux-ubuntu20.04-zen
* **Concretizer:** clingo

### Additional information

[code]

@chuckatkins  @danlipsa  @vicentebolea

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have ru

[2021-09-20 08:43] haampie commented on #25931
it's not released in general

I don't recall any rocm package has an upper bound for cmake?

[2021-09-20 11:43] #25687 closed, assigned to nobody

[2021-09-20 13:01] robertu94 commented on #25973
@kwryankrattiger I've submitted the PR to spack now that szcompressor/SZ#75 is merged.  Once it is approved and merged, you should be able to `spack isntall sz@master+python` with an external python.  `libpressio@0.70.8+sz+python` should already work.

[2021-09-20 13:47] samcom12 commented on #4107
I'm getting a similar issue for package `py-horovod` .

[code]

[code]

[2021-09-20 13:53] haampie commented on #4107
And if you use the new concretizer? The comment hints on that. (`spack config edit config` set `concretizer: clingo`)

[2021-09-20 14:11] alalazo opened #26068 "Spurious local failures of test_install_commit and test_versions_from_git"
### Steps to reproduce

Running unit tests locally:
[code]
might result in two tests failing at times on feature branches. Re-running the same tests like:
[code]
may result in having them PASSED. So far they does seem to always pass in CI.

### Error message

<details>

<summary>$ spack unit-test</summary>

[code]

</details>

### Information on your system

* **Spack:** 0.16.2-4312-8fceaf4a33
* *

[2021-09-20 16:27] sethrj commented on #25179
I'm getting this too on `darwin-bigsur-skylake`. @haampie it says you closed this issue? was it solved somewhere?

[2021-09-20 16:30] haampie commented on #25179
It's that environment variable mentioned above exported somewhere in a shell startup script iirc

[2021-09-20 16:30] sethrj commented on #25179
Actually I see in the `perl` recipe:
[code]

@alalazo this was added in #21375, do you happen to know what xcode/apple-clang version you had?
[code]

[2021-09-20 16:31] sethrj commented on #25179
The environment variable is still (apparently) being set for the Perl spack package build in `setup_build_environment`, not for the dependents...

EDIT: confirmed that it's definitely showing up when running `spack install perl` inside `spack-build-env`:
[code]
so clearly we need to find out what versions it's actually needed because it seems that for newer versions of macos/xcode/perl it breaks t

[2021-09-20 18:56] wspear commented on #26003
That patch fixes most of the errors.

With that applied I still get this when installing geopm through spack on spock. It looks like something is returning an empty string for a library name (edited, it was a -l not a -I).
[code]

[2021-09-20 19:54] markyoder commented on #20403
The issue I'm having here is with the LMOD modules. Fore GCC + LMOD, Spack automagically sets up the prepend_path(MODULEPATH), so that we can use a workflow like (for example):
[code]

Fore intel-oneapi-compilers, MODULEPATH is not prepended, so the intel+MPI hierarchies are orphaned. Presumably, this is a problem with both the classic and LLVM compilers loading with the same module. It is easy en

[2021-09-21 08:15] haampie opened #26096 "CentOS 6 image doesn't build with clingo on Dockerhub"
### Steps to reproduce

Has to do with failure on centos:6

[code]

---

So it bootstraps *during* concretization?

[2021-09-21 09:05] alalazo commented on #26096
If I recall correctly to fully deprecate the CentOS 6 image we also need to change our configuration on Dockerhub to not try the build and avoid pushing the failed check on Github.

[2021-09-21 09:17] haampie commented on #26096
Note though that centos:6 may have found a legit bootstrapping problem @alalazo

[2021-09-21 09:39] mdorier opened #26100 "spack install hangs on Cori with a simple environment"
### Steps to reproduce

I have a simple environment file that fails to install on Cori. The `spack install` command hangs indefinitely.
Here is the environment file:

[code]

After cloning spack and setting it up (including bootstrapping clingo):

[code]

The logs are as follows:

[code]

At this point I cannot even kill spack with ctrl-C; I have to open a new terminal and issue a `kill -9`.

Here

[2021-09-21 14:14] kwryankrattiger commented on #25973
wow thanks for being so fast on this!

[2021-09-21 15:32] quellyn opened #26117 "Installation issue: boost"
While trying out a recent PR to address boost%intel build issues, I encountered another failure:
[code]
Here's my [spack-build-out.txt](https://github.com/spack/spack/files/7187510/spack-build-out.txt)

_Originally posted by @quellyn in https://github.com/spack/spack/issues/25965#issuecomment-921977611_

[2021-09-21 15:33] quellyn commented on #26117
Mentioning @scheibelp, who asked me to post my issue separately.

[2021-09-21 18:15] #25878 closed, assigned to nobody

[2021-09-21 18:55] G-Ragghianti opened #26122 "clingo disables cuda variant when specific cuda version is requested"
### Steps to reproduce

MAGMA is configured to build CUDA support by default (magma+cuda).  This can optionally be changed to ROCm if CUDA is disabled (magma+rocm~cuda).  However, if a specific version of cuda is requested, the concretizer changes to using rocm and completely disabled cuda:

[code]

### Error message

_No response_

### Information on your system

* **Spack:** 0.16.2-4339-24500d4

[2021-09-21 19:01] G-Ragghianti commented on #26122
[code]

[2021-09-21 19:05] G-Ragghianti commented on #26122
If you try to do `magma~rocm ^cuda@10.0.3` you get a bunch of diagnostic output followed by:

[code]

[2021-09-21 19:22] G-Ragghianti commented on #26122
I'm going to recreate this issue with a better example.

[2021-09-21 19:22] #26122 closed, assigned to nobody

[2021-09-21 19:27] G-Ragghianti opened #26126 "Clingo can't concretize magma ^cuda@11.0.3"
### Steps to reproduce

The following spec should be possible:
[code]

### Error message

_No response_

### Information on your system

* **Spack:** 0.16.2-4339-24500d4
* **Python:** 3.6.8
* **Platform:** linux-centos7-zen2
* **Concretizer:** clingo

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have searched the issues of

[2021-09-21 19:30] G-Ragghianti commented on #26126
When `^cuda@11.0.3` is left off, it is able to concretize:

[code]

[2021-09-21 19:46] #26126 closed, assigned to nobody

[2021-09-21 23:29] rblake-llnl commented on #25677
I'm hitting this same bug with python 3.9.7 on Mac OS X Big Sur.

[2021-09-21 23:55] rblake-llnl commented on #25677
Confirming that everything works-for-me on develop.

[2021-09-22 02:51] scheibelp commented on #25677
I can replicate this error on my Mac with v0.16.0 by installing and using python@3.9.6 - I'll see if I can figure out a fix tomorrow

[2021-09-22 03:11] adamjstewart commented on #25677
Is this fixed by #24686?

[2021-09-22 03:47] tldahlgren commented on #22938
It may be worth noting:

1. spack only stores tags in lower case
2. `spack find` is intended to search installed packages so adding a mutually exclusive option just to show tags seems awkward
3. `spack list` is intended to search available packages and, IMO has the same issue as 2

[2021-09-22 05:35] MintMiku opened #26138 "Installation issue: py-torchvision can't fetch src from master branch"
### Steps to reproduce the issue

[code]

The deps with hash `q7k2fue` is py-torch installed by spec `py-torch@master %gcc@8.5.0 cuda_arch=80 ^cuda@11.4.0 ^nccl@2.11.4-1 ^cudnn@8.2.2.26-11.4-linux-x64`

### Information on your system

* **Spack:** 0.16.2
* **Python:** 3.8.6
* **Platform:** linux-ubuntu18.04-zen2

### Additional information

Since I found the src repo of "py-torchvision" has rename

[2021-09-22 06:15] cgmb opened #26139 "Installation issue: rocblas"
### Steps to reproduce the issue

[code]
Full spec: [spec.txt](https://github.com/spack/spack/files/7208110/spec.txt)

On attempting to install, I see a number of warnings like this:
[code]

Followed by errors such as this one:
[code]

### Information on your system

* **Spack:** 0.16.2-4341-a8977f828e
* **Python:** 3.6.9
* **Platform:** linux-ubuntu18.04-zen2
* **Concretizer:** clingo

### Additi

[2021-09-22 07:34] davinwei commented on #26052
[opc@centos7-9-nonrdma-davin-20210916 ~]$ spack -d spec zlib
==> [2021-09-22-07:33:10.723364] Imported spec from built-in commands
==> [2021-09-22-07:33:10.724218] Imported spec from built-in commands
Input spec
--------------------------------
zlib

Concretized
--------------------------------
==> [2021-09-22-07:33:10.725683] Reading config file /home/opc/spack/etc/spack/defaults/config.yaml
==>

[2021-09-22 13:53] haampie opened #26153 "Spack arbitrarily switches interpretation of versions from closed-open range to concrete / exact version during concretization"
### Steps to reproduce

Given:
1. Two system compilers with specs `gcc@10.2.0-myidentifier` and `gcc@10.3.0-myidentifier`
2. A package `x` depending on `y`, where `x` conflicts with `gcc@10.3.0`, and also conflicts with `y@2.0.0`
3. And a system version of `y` with the spec `y@2.0.0-myidentifier`

```spack spec x``` concretizes to

[code]

not satisfying either of the constraints, which is a bug,

[2021-09-22 13:54] alalazo commented on #26096
I didn't dig deeply into it, but the issue is related to CentOS 6 + Python 2.6 having problems to download the buildcache from cloudfront

[2021-09-22 13:58] adamjstewart commented on #26153
Duplicate of #8957

[2021-09-22 13:59] haampie commented on #26153
Oh no... a 4 digit issue?!

[2021-09-22 13:59] #26153 closed, assigned to nobody

[2021-09-22 14:00] haampie commented on #8957
Copying my issue from elsewhere since it was a duplicate:

Given:
1. Two system compilers with specs `gcc@10.2.0-myidentifier` and `gcc@10.3.0-myidentifier`
2. A package `x` depending on `y`, where `x` conflicts with `gcc@10.3.0`, and also conflicts with `y@2.0.0`
3. And a system version of `y` with the spec `y@2.0.0-myidentifier`

```spack spec x``` concretizes to

[code]

not satisfying either o

[2021-09-22 14:31] haampie commented on #8957
No you don't, you can do `spack install mpich@:3.2.0`, which shows more of the intent to exclude `3.2.1` but include `3.2`, it does not read as "install non-existing version 3.2.0" anymore. You can even do `spack install mpich@3.2:3.2.0` to take any release from the range [3.2, 3.2.1).

clause that applies to exactly 2.1 and not include 2.1.0.

Do we know of cases where `2.1` and `2.1.0` are separ

[2021-09-22 14:38] haampie commented on #8957
To make the clingo concretizer interpret `x.y` as `[x.y, x.y+1)` consistently, this seems the minimal change, but it fails tests:

[code]

[2021-09-22 15:10] kwryankrattiger commented on #24759
+1 I am also running into this issue. I explicitly specify `libfabric` as an external package, `buildable: false` and it attempts, and fails, to fetch. It is strange though, a couple weeks ago this was working for me.

[2021-09-22 15:51] rblake-llnl commented on #25677
```releases/v0.16``` currently fixes this issue.

[2021-09-22 16:46] scottwittenburg opened #26167 "Spack fails to splice old specs with missing patches"
Spack cannot update the buildcache index of the main develop binary mirror (so far E4S only) because some old specs cannot be spliced.  The result of this is that pipelines are generating hundreds of unnecessary jobs for the E4S stacks (both on `ppc64le` and `x86_64` since they share a mirror), causing really long delays of 15 hrs or longer per pipeline.

Here's a summary of the problem, but see f

[2021-09-22 16:48] scottwittenburg commented on #26167
fyi @alalazo

[2021-09-22 16:57] adamjstewart commented on #25677
Yes, #24686 has been backported to `releases/v0.16` and `v0.16.3` should be coming soon I believe.

[2021-09-22 17:00] skennon10 opened #26169 "Path to config issue"
This value points to the full path of spack.yaml:
https://github.com/spack/spack/blob/76ad001c563bfdd1821b590110cbe83e1b177d03/lib/spack/spack/cmd/config.py#L255
I think it should get the os.path.dirname(scope.path), since
https://github.com/spack/spack/blob/76ad001c563bfdd1821b590110cbe83e1b177d03/lib/spack/spack/cmd/config.py#L240
gives dir_ok=False when passed a file, not a directory, then I ge

[2021-09-22 18:18] markyoder commented on #6204
Is this something that has since been solved with `Spack --config-scope=my_special_config_path/ install ...`.

if not, it looks like `--config-scope` + a `config.yaml file` overriding `install_tree` would do the trick:
[code]

[2021-09-22 18:19] scheibelp commented on #25677
I've added this to the v0.16.3 release project and this can be closed whenever that is finished

[2021-09-22 18:51] alalazo commented on #26167
This is where we are failing when looking for a non-existing patch:

https://github.com/spack/spack/blob/76ad001c563bfdd1821b590110cbe83e1b177d03/lib/spack/spack/package.py#L1545-L1546

It's true that in the spec we store the sha256 of the patches, so we don't need to look them up in the repository (via the index), but for some reason the patch level enters the full hash - and that seems to be an

[2021-09-22 19:18] scottwittenburg commented on #26167
@alalazo The approach I took in #25708 is not sophisticated but just abandons the package hash on certain spliced specs.  In fact, I wasn't aware this was the underlying cause of needing to recompute the package hash in the first place, so this is interesting to find out.

But for sake of argument let's say we already stored the patch level in the spec.json|yaml, wouldn't we still need to recomput

[2021-09-22 19:57] wdconinc opened #26172 "Installation issue: boost@1.77.00 +python (python_jam.patch fails)"
### Steps to reproduce the issue

[code]

This returns (shown here after a `spack clean -a`)
[code]

### Information on your system

* **Spack:** 0.16.2-4359-dcf4ca9a0e
* **Python:** 3.9.5
* **Platform:** linux-ubuntu21.04-skylake
* **Concretizer:** clingo

### Additional information

The issue only happens for `+python` (defaults to off). The patch is only applied for `patch('python_jam.patch', w

[2021-09-22 21:00] kwryankrattiger commented on #24759
I will note a work around for this that got me to the next thing.

[code]

It seems that this correctly checks that there is an external package for this and it does not need to fetch. The downside to this is if I want updates, I need to `spack clean --downloads` and then re-fetch the world.

[2021-09-22 22:01] MichaelLaufer commented on #19319
closing as this is no longer relavant

[2021-09-22 22:01] #19319 closed, assigned to nobody

[2021-09-23 00:14] #25677 closed, assigned to nobody

[2021-09-23 01:48] MintMiku commented on #26138
Thanks a lot

[2021-09-23 01:48] #26138 closed, assigned to adamjstewart

[2021-09-23 06:20] sanjtrip commented on #25931
Hi @UweSauter, Can you please use gcc7.5 or gcc-8.4.1 (CentOS) to compile the final version ? We can leave the cmake version which you are using.

Hi @srekolam, can you please comment on the above ? Please post the steps/packages you built with gcc-8.4.1 on your test system.

[2021-09-23 06:56] alexmyczko commented on #14130
https://repology.org/project/spack/versions ok if they can do it i can do it as well...

[2021-09-23 06:57] UweSauter commented on #25931
@haampie:

FYI: It was released on 2021-09-20.

`rocblas@4.2.0` failed to build with `cmake@3.20.2`, see #24029. So although the ROCm `package.py`s don't restrict the uppper Cmake version the built process does not always succeed.

@sanjtrip: It doesn't make sense to me to install yet another compiler just to build one package whose previous version built fine with `gcc@10.3.0`. I only use the OS'

[2021-09-23 11:47] haampie commented on #25931
Ok, thanks, I just checked the 3.21 release notes when writing that comment, there was no mention of it. Next time feel free to submit a PR, I've done it this time: #26186

[2021-09-23 11:48] alalazo commented on #26167
I'm taking a step back and trying to make sense of why we need to splice specs when generating an `index.json` file. In this particular case we have a synthetic buildcache repository with 2 `spec.yaml` files, one for `mpfr` and one for `gmp`. They are consistent with each other i.e.
- `mpfr` references the DAG hash of `gmp`
- `mpfr` and `gmp` have a full hash in their respective spec.yaml (but the

[2021-09-23 12:43] melven commented on #26002
Hi @wspear

The output and environment file indicate that the MPI library was built for a different compiler version (9.1 vs. 10.3).
I don't know how the details are handled but usually the generated MPI Fortran module file (`mpi.mod`) is not compatible between different compiler versions.
Could this be a problem?

The actual code in phist looks fine to me. Does the following code compile with the

[2021-09-23 15:10] haampie opened #26189 "Bootstrap disregards command line scopes"
### Steps to reproduce

When running `spack -C my_config_scope spec zlib` Spack disregards `my_config_scope` during bootstrapping.

I haven't checked what the behavior of `spack -c x:y:z spec zlib` is during bootstrapping.

I have to be able to specify the staging dir on the command line in some way, also the one used during bootstrapping.

[2021-09-23 15:42] alalazo commented on #26189
Copying the original report from https://github.com/spack/spack/pull/26071#issuecomment-925881559

[2021-09-23 15:57] scottwittenburg commented on #26167
@becker33 May want to chime in here, and maybe help me straighten out my understanding as well.

The `mpfr` in this case seems to have been written back before we put all the hashes into the `spec.yaml`, so it doesn't have a full hash, and neither does it's internal representation of its `gmp` dependency.  The `gmp` seems to have been updated later after we were writing full hashes into those file

[2021-09-23 16:00] alalazo commented on #26167
It seems to have a full hash for itself as a top-level key at the very bottom, even though it's true it doesn't have the full hash for the `gmp` dependencies.

[2021-09-23 16:03] scottwittenburg commented on #26167
You're right, I didn't notice the full hash there.  I guess that spec was written at a time when we did have the full hash of the package only, but put it in a different location.  But as you point out, its dependency `gmp` doesn't have it, and that's the point of contention between the two serialized specs anyway.

[2021-09-23 16:17] alalazo commented on #26189
Besides the issue that there is configuration that we may want to use during bootstrap (as opposed to other that we want to disregard), I think this needs investigation. My understanding is that we should have locks also for the stages, so that if another Spack process is trying to write in a stage that is currently being used it should block and wait.

[2021-09-23 16:18] alalazo commented on #26189
Can you report where (on which system) this is happening?

[2021-09-23 19:13] baallan opened #26204 "README.md start instructions fail on rhel7.7/toss-release-3.5-3 without useful error message"
### Steps to reproduce

fork spack on github
clone fork to local and try to build
[code]
alternatively, try '. $bleh/share/spack/setup-env.sh' and then install zlib and get the same result.

### Error message

[code]

### Information on your system

[code]

[code]

[2021-09-23 19:17] baallan commented on #26204
quite possibly duplicate of #26052 but on another OS.

[2021-09-23 19:17] #26204 closed, assigned to nobody

[2021-09-23 21:22] haampie commented on #26189
Piz Daint, but I don't think it's machine specific?

[2021-09-23 21:40] tldahlgren opened #26210 "Installation issue: qhull connection reset by peer"
### Steps to reproduce the issue

I have been having problems on multiple efforts to build packages that depend on `qhull` due to connection reset errors.  This happens when testing PRs, CI/CD builds, etc.

[code]

### Information on your system

* **Spack:** 0.16.3-4365-c80614254d
* **Python:** 3.7.2
* **Platform:** linux-rhel7-cascadelake
* **Concretizer:** clingo

### Additional information

Th

[2021-09-23 22:37] zzzoom opened #26213 "Installation issue: ucx %aocc"
### Steps to reproduce the issue

[code]

### Information on your system

[code]

### Additional information

`ucx` fails to build with `%aocc` because AOCC's `lld` doesn't support `-dynamic-list-data`.

Related UCX issues:
https://github.com/openucx/ucx/issues/4549
https://github.com/openucx/ucx/issues/5545

[spack-build-out.txt](https://github.com/spack/spack/files/7221122/spack-build-out.txt)
[

[2021-09-23 22:45] bgeltz commented on #26003
@wspear Could you post the full build log for the ```-l-L``` issue?  It's not on line 819 so I'm guessing it happened somewhere higher up.

[2021-09-24 00:15] sanjtrip commented on #25931
@srekolam, Any comment on the gcc-version based on the comment of @UweSauter about gcc-10.3 ? I have not seen any validation report beside gcc-7.5 being used for ROCm-Spack-build and we need to come to resolution on this. Please provide your input.

[2021-09-24 02:01] srekolam commented on #25931
yes..we have been using gcc-7.5.0 for spack package validation on SLES 15 SP3 . I would normally do not recommend higher versions of gcc that is not used for internal validation.

[2021-09-24 07:47] #26096 closed, assigned to alalazo

[2021-09-24 08:10] jthies commented on #26002
I suspect that you are using a vendor-provided MPI installation but the spack config file (packages.yaml) doesn't fully identify it, so the concretizer mixes packages built with different compiler versions.

[2021-09-24 09:58] jthies commented on #26002
interestingly, I just switched from the original concretizer to clingo and it is trying to put together phist %gcc@11.2.0 with openmpi%gcc@9.3.0 for some reason. So it almost seems like an error in the concretizer to me.
What I did was
[code]
Where the installed cmake version was built using gcc@9.3.0. The concretizer, however, then decides to build all other phist dependencies with gcc@9.3.0:
[co

[2021-09-24 10:06] MisterFruits commented on #19925
@hppritcha sorry for the late repply,
Actually, I'm not quite sure about what I want to do regarding pmi{1,2,x}, the basic requirement is that the compiled openmpi integrates well with slurm and srun. I don't have a clear understanding of how pmi, slurm and openmpi interact with each other and absolutely no idea about version compatibility. I'll expose in detail what I understood and did.

Here's

[2021-09-24 13:58] iarspider opened #26231 "Spack replaces symlinked spack.yaml with a copy"
### Steps to reproduce

For development, I need to frequently update the definition of environment (i.e. `spack.yaml`). I keep it in git repo, and symlink it from there to `var/spack/environments/<name>`. However, each time I concretize the environment, the symlink is replaced with a copy of file.

Simple reproducer:
1. Create some environment:
[code]

2. Replace `spack.yaml` with a symlink
[code]

[2021-09-24 14:39] hppritcha commented on #26213
I posted a query about ucx 1.11.1 and aocc to the ucx mail list.

[2021-09-24 16:01] hppritcha commented on #26213
i was able to reproduce this outside of spack using the aocc 3.0.0 package.  checking for workarounds.

[2021-09-24 16:09] bernhardkaindl commented on #26139
https://releases.llvm.org/  -> 14 Apr 2021 | 12.0.0
https://github.com/ROCmSoftwarePlatform/rocBLAS/tags -> rocm-4.0.0 on Nov 10, 2020

Hence, rocBLAS 4.0.0 is far too old to be compile-tested with clang-12 on release day Nov 10, 2020.

You'll likely have to select a newer release of `rocblas` or use an older compiler.

installing `rocblas@4.0.0 %gcc@8.4.0` on Ubuntu 18.0.4 running on  AMD Rome(ze

[2021-09-24 16:31] srekolam commented on #26139
it is working fine with 4.3.1 ..But while submitting a PR  #25917, cory bloor recently has observed the failure on 4.0.0 for rocblas and i have suggested to log this issue. During the update of spack rocm recipes for 4.0.0 we were sure that it was working and later changes for 4.1.0 seems to have induced this failure..

[2021-09-24 16:39] bernhardkaindl commented on #26139
When the  spack rocm recipes were updated for 4.0.0, clang-12.0.0 (released 14 April) wasn't going to be released until 3 further months in the future (see the date, Jan 5):
[code]
This means it cannot have been clang@12 back then: it must have been some other or older compiler, as you see!

[2021-09-24 17:27] becker33 commented on #26167
@scottwittenburg have you discussed this with @nhanford recently? Nate, Todd, and I discussed this Tuesday and it sounds like the least harmful lie to tell to Spack is to execute the splice, but then manually delete the `build_spec` provenance and reattach the old dag_hash to the spliced object, before we push it to the mirror.

When we have the reusing concretizer and use full_hash everywhere, th

[2021-09-24 17:44] srekolam commented on #26139
the llvm-amdgpu@4.0.0 i have just installed - and it shows below-
/spack/opt/spack/linux-centos8-skylake_avx512/gcc-8.4.1/llvm-amdgpu-4.0.0-4zmj2rrcj2h6tjl5v6vxea5lvpfgmb6c/bin/clang --version
clang version 12.0.0
Target: x86_64-unknown-linux-gnu
Thread model: posix
InstalledDir: /spack/opt/spack/linux-centos8-skylake_avx512/gcc-8.4.1/llvm-amdgpu-4.0.0-4zmj2rrcj2h6tjl5v6vxea5lvpfgmb6c/bin

[2021-09-24 17:58] hppritcha commented on #26213
sorry I didn't see this issue before - https://github.com/openucx/ucx/issues/4549

[2021-09-24 18:10] bernhardkaindl commented on #26139
:+1:  **Thanks, good! I said before, with gcc-8.4.0 :+1: , it works just fine!** :1st_place_medal:

-> (This spack install was using **gcc-8.4.1** :+1:  (see it marked in **bold** above), and also this build is now on *centos8*, not on Ubuntu 18.04 as before!. This means you now used completely different compiler and host distribution :+1: - Good: not clang-12! :-1: )

### This solved your problem

[2021-09-24 18:20] cgmb commented on #26139
I don't have the actual Clang 12 compiler installed on my system. Just llvm-amdgpu@4.0.0. The ROCm fork of clang (llvm-amdgpu) is based on the development version of Clang, so it will tend to report version numbers higher than the most recent official Clang release. At the time, of the 4.0.0 release, the version it reported was Clang 12, so the version string there isn't cause for concern.

I thin

[2021-09-24 18:21] scottwittenburg opened #26241 "PIpelines: Make quality of life improvements"
### Summary

This a list of some fairly quick things we can do to improve gitlab pipelines.

### Rationale

If we improve pipeline throughput, more PRs can be contributed to spack.

### Description

This list is in no particular order and includes cleanups and speed improvements

- [x] radiuss no longer needs a custom image since the default image contains clingo
- [x] data-viz-sdk should likely u

[2021-09-24 18:23] zzzoom commented on #26213
I have a patch that adds `LDFLAGS=-fuse-ld=bfd` and a dependency on `binutils+ld` when `%aocc` but I'm wondering if that breaks any platforms where it would build otherwise.

[2021-09-24 18:23] scottwittenburg commented on #26241
fyi @tgamblin @alalazo @zackgalbreath

This is the "short list" we were just talking about.  I can probably knock most of it out first thing next week, but feel free to add things if you think of other possible improvements.

[2021-09-24 18:32] cgmb commented on #26139
Oh, you know what I might have screwing things up? A newer version of ROCm installed into /opt/rocm. I'll see if I can reproduce this problem in a clean ubuntu:18.04 container.

[2021-09-24 18:32] HadrienG2 opened #26242 "Proposal: Use 2 threads per CPU core by default"
### Summary

I believe that on x86_64 and other 2-way SMT architectures, spack should default to using all available CPU resources, as if called with the `-j $(nproc)` CLI parameter. Highly threaded CPU architectures like POWER, however might benefit from a cap on the amount of threads per core that is used. Benchmarking on such CPUs would be useful to clarify where the default cap should be set,

[2021-09-24 18:46] haampie commented on #26139
We're jumping through a lot of hoops not to pick up system stuff in /opt/rocm, if only the rocm ecosystem could drop its references to that location... Providing it in cmake hints is borderline acceptable maybe.

[2021-09-24 18:46] bernhardkaindl commented on #26139
Hi Cory @cgmb !

I don't know rocblas at all, sorry I should not even look at this issue, but maybe yes, I don't know!

Now I understand a bit more, you refer to this check:
[code]
First:
[code]
This looks correct, so what follows is only executed for rocblas@4.1.0 and newer (is this what you intented?)

Then, there is:
[code]
So if `self.spec.variants['tensile_architecture'].value` is either `gfx

[2021-09-24 18:49] bernhardkaindl commented on #26139
Sounds like it would be really good to use some form of `fakechroot` (https://github.com/dex4er/fakechroot like I think I have read in some proposal for spack) as soon as possible.

[2021-09-24 21:14] haampie commented on #26242
I tend to agree with this for the most part, in particular with making Spack's handling of build jobs less surprising compared to established build systems. Are there any known build systems that actually set a default cap on the number of jobs?

Couple notes:

1. I think another reason to do have a configurable cap is to avoid "abuse of the login node" in HPC centers. But well, maybe centers shou

[2021-09-24 21:32] srekolam commented on #26139
I am not seeing this issue ..i took a fresh centos docker container and installed the spack and was able to build it rocblas@4.0.0 with out any failures

[2021-09-24 21:39] haampie commented on #26139
Yeah, but it's diffcult with externals, and spack itself has many system dependencies

[2021-09-24 21:42] cgmb commented on #26139
That complaint has been heard, and it's something we're working towards.

Spack is pretty good at surfacing those sorts of bugs in our build system. Finding environment-related defects one of the main reasons why I've been getting involved with Spack. I'd really like to identify and fix more issues before each library release, rather than patching things up after.

That lends further credence the

[2021-09-24 21:51] haampie commented on #26139
Yay, I'm very happy to hear that. Secretly I was hoping that AMD would consider using spack during development :D Apart from finding these bugs (or let's say, non-standard installation issues), Spack is also really good at listing the huge number of environment variables that are scattered around the place: https://github.com/ROCm-Developer-Tools/HIP/issues/2224. One the main offenders there is `R

[2021-09-24 22:42] hppritcha commented on #26213
@zzzoom that sounds most promising.  I'd suggest opening a PR with this patch so we can review it.

[2021-09-25 07:03] mwkrentel commented on #26242
I'll just remind everyone that with the previous defaults, I tried
running `spack install hpctoolkit` on one of our local clusters and it
wedged the machine hard enough that the admins had to reboot it
because spack ran `make -j 192`.

It's Ok to provide the knobs/config to shoot yourself in the foot or
piss of the admins or get your account suspended.  But it can't be the
default, you have to exp

[2021-09-25 19:18] #25773 closed, assigned to srekolam

[2021-09-26 14:30] asesidaa commented on #26213
Don't know if it's off topic, but it seems that on AMD's [website](https://developer.amd.com/spack/hpc-applications-openmpi/), they recommend to compile UCX using GCC only.

[2021-09-26 20:13] hppritcha commented on #26213
the issue really isn't aocc specific, but rather clang in general.

[2021-09-27 08:23] alalazo opened #26258 "Profile and speed-up the concretization of environments that are concretized separately"
The generation step of each Gitlab pipeline takes a large amount of time and needs to be run for each PR. Since the main operation done in that step is the concretization of the underlying environment, optimizing the concretization should result in a speed-up of the entire pipeline.

## Profiling

Profiling data to be viewed with https://www.speedscope.app/:
- [Environment with a single spec](http

[2021-09-27 10:29] omsai opened #26261 "Installation issue: diamond"
### Steps to reproduce the issue

[code]

### Information on your system

[code]

Contents of `~/.spack/packages.yaml`

[code]

### Additional information

- [spack-build-out.txt](https://github.com/spack/spack/files/7235459/spack-build-out.txt)
- [spack-build-env.txt](https://github.com/spack/spack/files/7235462/spack-build-env.txt)
- [CMakeOutput.log](https://github.com/spack/spack/files/7235489

[2021-09-27 11:45] alexmyczko commented on #14130
Current state of packaging looks like this:
https://mentors.debian.net/package/spack/

Could something be done with future source tarball releases for:
`source-contains-autogenerated-gperf-data: var/spack/repos/builtin/packages/gcc/gcc-backport.patch`
`source-contains-prebuilt-binary: var/spack/repos/builtin/packages/patchelf/test/hello`

[2021-09-27 14:00] haampie opened #26265 "Proposal for loading packages in Spack"
We currently have three different ways to load packages "at runtime":

1. `spack load`
2. `spack env activate`
3. `module load`

all of which have different behaviors. The idea of this proposal is to ensure they all
have the same semantics by default, but still allow them to be configurable in ways
that make sense for certain centers (in particular w.r.t. module files).

As similar command is `spa

[2021-09-27 14:06] #26265 closed, assigned to nobody

[2021-09-27 16:41] mauneyc-LANL opened #26271 "Unused dependencies in an explicit spec produces constraint(?) errors"
### Steps to reproduce

This arises in some environment setups with a configuration like
[code]

The problem is reproducible simply with:

[code]

I've tried this on various package specs (e.g. `spack spec fmt ^ openblas`) with similar error outputs.

That is (from what I can tell), if a package does not have an explicit dependency on a dependency listed in the spec, there is an error. It appears

[2021-09-27 18:57] wspear commented on #26003
These are from an updated spack/e4s environment on spock
[config.log](https://github.com/spack/spack/files/7238610/config.log)
[spack-build-out.txt](https://github.com/spack/spack/files/7238616/spack-build-out.txt)

:

[2021-09-27 19:01] wspear commented on #26002
This test code and the majority of the mpi-using applications in this environment compile successfully.

The environment pins everything to gcc@10.3.0 so I think we're ok there. Some other packages have had issues with the include and lib paths for mpi, related to conflation between mpich and cray-mpich configurations I think. But that isn't what's happening here as far as I can tell.

[code]

[2021-09-27 19:22] bcdarwin opened #26275 "Installation issue: openmpi"
### Steps to reproduce the issue

[code]

However, compiling for `skylake` succeeds.

### Information on your system

[code]

Note: the build fails similarly on an actual pre-Skylake Broadwell CPU as well.   (I'm using a skylake machine here for faster compiling and to demonstrate that it's a broadwell-specific issue.)

### Additional information

cc maintainers @hppritcha  @naughtont3

tail of `s

[2021-09-27 19:43] naughtont3 commented on #26275
Looks like an empty value is getting passed for `-L`, possibly coming from the hwloc-2.5.0 package for gcc-9.3.0 on broadwell?

`... -L    -Wl,-rpath -Wl,/projects/tools/programs/ubuntu-20.04/spack/opt/spack/linux-ubuntu20.04-broadwell/gcc-9.3.0/hwloc-2.5.0-mgf2pgiusiwz5xzwqpqctlqwowwj6awq/lib ...`

What is output from following, `pkg-config --variable=libdir hwloc`

[2021-09-27 19:45] naughtont3 commented on #26275
On second look, may not be for hwloc, as I see that earlier in the link line.

[2021-09-27 20:47] hppritcha commented on #19925
@MisterFruits this patch should accomplish what you want with some caveats.   If you want to be able to do _native_ launch capability on your slurm cluster (be able to launch apps built with open mpi compiler wrappers using srun),  and you want to use PMIx for the launcher/app interface, you'll need to build SLURM against the same PMIx as the one used to build Open MPI.

[2021-09-27 21:50] #26210 closed, assigned to nobody

[2021-09-27 22:38] #24248 closed, assigned to nobody

[2021-09-27 22:38] #25784 closed, assigned to nobody

[2021-09-27 23:49] sethrj opened #26287 "Installation issue: diffutils"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.16.3-4486-c0da0d83ff
* **Python:** 3.8.8
* **Platform:** darwin-bigsur-skylake
* **Concretizer:** clingo

### Additional information

My coworker and I both hit this error today: she was on our corporate VPN and I was not, so it's unlikely that this was our company firewall blocking fossies.org (which it does)

[2021-09-27 23:50] sethrj commented on #26287
Also the user-facing backtrace is really weird... so an error unto itself. This isn't the first time I've seen an error message point to the wrong line.

[2021-09-27 23:56] willelm opened #26288 "Thinking real64 is a package"
### Steps to reproduce

[code]

### Error message

[code]

### Information on your system

This is on LLNL rztrona. I think it's just that the concretizer thinks that real64 is it's own package when it's really just an option to metis.

* **Spack:** 0.16.3-4487-87450f3688
* **Python:** 3.7.2
* **Platform:** linux-rhel7-broadwell
* **Concretizer:** clingo

### General information

- [X] I have run

[2021-09-28 00:36] sethrj commented on #25179
Should be closed by #26290

[2021-09-28 07:54] melven commented on #26002
phist uses its own `FindMPI.cmake` script because of some problems in (older) CMake versions on clusters (finding the wrong MPI version).
We should check if it helps to remove it.
Can you reproduce the error if you compile phist without spack? Then you could check if it helps to remove the file `cmake/FindMPI.cmake` in phist.

Unfortunately I don't have access to a Cray system currently - what abo

[2021-09-28 08:15] MisterFruits commented on #19925
@hppritcha It works well indeed and allow to build openmpi against an external PMIx or a spack-compiled one.

Do you think it can be usefull to submit a pull request with this change ?

[2021-09-28 08:50] jthies commented on #26002
I think we may have to get the MPI paths from the spack package.py and force phist to use them, maybe that's not done in a clean way up to now (that is, we rely on phist finding the MPI that spack puts in its way).

[2021-09-28 09:58] haampie commented on #26288
The error message really tells you exactly what's wrong in seacas...

[2021-09-28 09:58] simonpintarelli opened #26295 "concretize fails in develop environment when dependencies are also under development"
### Steps to reproduce

For the following develop environment with the linear chain of dependencies `sirius -> nlcglib -> kokkos` (all under development):
[code]

Concretization fails with the following error (apparently coming from nlcglib, the first dependency of the root package sirius):

[code]

If  `^nlcglib@develop` is appended to the root spec of sirius, it will complain with the same messa

[2021-09-28 09:58] simonpintarelli commented on #26295
ping @haampie

[2021-09-28 10:16] haampie commented on #26295
@becker33 once more I would propose to make the specs in the `develop` section selectors/filters on the concrete environment, and not have them influence concretization. The current behavior is hard to explain to users: all root specs get constrained with develop specs *before* concretization -- but if you fail to mention any of them in the root specs, you run into this issue. So should we advise

[2021-09-28 14:57] cessenat commented on #26051
The problem is in package `med` that cannot find hdf5+mpi. This package is maintained by @likask.
I reproduced that outside spack and contacted Open Cascade support.
Maybe as a workaround you can try
`spack install gmsh ^cgns~mpi ^med~mpi`

[2021-09-28 14:59] haampie commented on #26271
See #25695

[2021-09-28 15:21] haampie commented on #26271
Duplicate of #20340

[2021-09-28 15:29] haampie commented on #20340
I think this issue is largely solved by extending the spec domain specific language with "direct dependency of". In fact that'd be a great feature to have now that we're looking to drop the uniqueness constraint of packages in a dag (for compiler-as-packages and cross-compilation).

If `y ^x` meant "x is a direct dependency of y" and `y ^^x` meant "x is any transient dependency of y" (like in xpat

[2021-09-28 16:17] alalazo commented on #26189
It might be machine specific or a bug in the locks / locking logic. The file system needs to support `fcntl` byte range file locks. The point is that there are two different locks for the store and the staging area, so:

is a non-sequitur. The config scope issue should be solved in #26071.

[2021-09-28 16:36] willelm commented on #26288
OK, so this is on the maintainer of seacas. @gsjaardema . We were able to build seacas by deleting any reference to +int64 and +real64 in the package setup file.

[2021-09-28 16:36] #26288 closed, assigned to nobody

[2021-09-28 17:39] gsjaardema commented on #26288
I have (actually before seeing this...) been working on a new tag of seacas and noticed the metis/parmetis issue. I should hopefully have a PR up soon that will fix this.

[2021-09-28 17:43] sanjtrip commented on #25931
Hi @UweSauter, did you try using gcc-7.5 to build rdc and roctracer modules ? @srekolam from rocm-spack team recommended to use that.

[2021-09-28 18:08] bcdarwin opened #26308 "Installation issue: itk"
### Steps to reproduce the issue

Due to #26275 I am unable to build openmpi against the Broadwell arch, but using an external openmpi causes the ITK build to fail (though nothing to do with Broadwell/Skylake in this case as I'm not specifying the target arch). I am quite unsure this issue hasn't been reported in a different guise for some other package combination.

[code]

### Information on you

[2021-09-28 18:29] gsjaardema commented on #26288
should be fixed by #26310

[2021-09-28 20:53] manuelakuhn opened #26314 "Installation issue: vtk@9.0.3+python"
### Steps to reproduce the issue

After installing `vtk@9.0.3+python`, the python vtk module is not found in the path:
[code]

### Information on your system

* **Spack:** 0.16.3-4507-32b5669e8d
* **Python:** 3.8.11
* **Platform:** linux-fedora32-haswell
* **Concretizer:** clingo

### Additional information

A similar problem was resolved in #17126 but seem to have reappeared again.

[code]
[code]

[2021-09-28 21:53] adamjstewart commented on #26314
Does VTK have a way to specify which directory to install the Python libraries to? If not, we may need to override `setup_run_environment` to add the correct directory.

[2021-09-28 22:18] haampie commented on #26189
Hm ok, staging dir is likely a tmpfs/ramfs, I'll check tomorrow

[2021-09-28 23:31] ax3l opened #26317 "Installation issue: GCC on BigSur aarch64"
### Steps to reproduce the issue

Hi,

I got a new macOS Mini (aarch64 with BigSur).

I am trying to bootstrap Spack on it. After installing Xcode, the following compilers are found:
[code]

So I need a GFortran or similar to get OpenMPI installed for basic HPC developer stacks.

Running `spack install gcc`fails with:
[code]

### Information on your system

* **Spack:** 0.16.3-4507-32b5669e8d
* **

[2021-09-28 23:34] ax3l commented on #26317
Possible that GCC does not support aarch64 Darwin yet?
[code]

[2021-09-28 23:38] ax3l commented on #26317
Looks like
  https://github.com/iains/gcc-darwin-arm64
will earliest land in GCC 12
  https://gcc.gnu.org/pipermail/gcc/2021-September/237340.html

[2021-09-29 00:13] sethrj commented on #26317
Alas! Thanks for being the one to discover this.

[2021-09-29 00:16] ax3l commented on #26317
My pleasure. I started formulating a conflict in PR #26318.
Having some trouble there to find the right spec atm :sweat_smile:

[2021-09-29 00:42] ax3l opened #26319 "Installation issue: llvm-openmp for M1"
### Steps to reproduce the issue

On the new macOS M1 (aarch64) systems with BigSur, compiling llvm-openmp does not work with the provided Xcode (AppleClang 12.0.5).

[code]

leads to:
[code]

### Information on your system

* **Spack:** 0.16.3-4508-2b5893c932
* **Python:** 3.9.7
* **Platform:** darwin-bigsur-m1
* **Concretizer:** clingo

`compilers.yaml:`
[code]

### Additional information

* [sp

[2021-09-29 01:00] ax3l commented on #26319
I tried the latest LLVM OpenMP release (11.0.0) on the homepage:
[code]
and the same error persists.

[2021-09-29 01:03] ax3l commented on #26319
Looking at home-brew, there seems to be a 12.0.1 version, too:
https://github.com/llvm/llvm-project/releases/download/llvmorg-12.0.1/openmp-12.0.1.src.tar.xz

That one works. PR incoming.

[2021-09-29 07:37] vvolkl opened #26324 "Some Hadoop versions not available on server"
Spack expects the following versions:
[code]

but on the server there is only:
[code]

[2021-09-29 09:55] #25567 closed, assigned to nobody

[2021-09-29 10:39] haampie commented on #26189
The lock tests work on that filesystem btw, so maybe a bug?

[2021-09-29 11:36] manuelakuhn commented on #24122
Can be closed, now that clingo is the default concretizer.

[2021-09-29 11:36] #24122 closed, assigned to nobody

[2021-09-29 13:21] #20349 closed, assigned to nobody

[2021-09-29 13:22] HadrienG2 commented on #26242
I've been thinking about these some more, and here are some thoughts about some of the concerns raised by @haampie:

Yes, this is why I kept the option of letting sysadmins manually tune a `build_jobs` cap in the config file. Though if I were them, I would fix the "abuse of login node" problem in lower-level ways that apply to every app, not just Spack:

- If the problem is that by running CPU-int

[2021-09-29 14:22] goxberry commented on #26242
I disagree with this proposal simply because I think the speed versus reliability tradeoff is unfavorable; I think #11072 (which I assume is what was really meant when @HadrienG2 linked to #1072) illustrates this point.

The counterarguments I've seen so far to objections or potential objections to this proposal seem like they reduce to "any system crashing/wedging/slowdowns resulting from this ch

[2021-09-29 14:29] yosefe commented on #26213
we are compiling UCX successfully with clang, so must be aocc specific IMO.
@zzzoom @hppritcha does aocc support “--export-dynamic” option?

[2021-09-29 14:46] hppritcha commented on #19925
@MisterFruits yes please open a PR.

[2021-09-29 15:27] gsjaardema commented on #12045
There should be no conflict between chaco and exodus.  Both can be built at the same time which is done all the time in the seacas build.  I think there may be some logic issue in the trilinos package:
[code]
I think the `if` block is OK, but the `else` block should not be needed; let other areas determine whether to build `SEACASChaco` and SEACAS itself...

[2021-09-29 15:32] zzzoom commented on #26213
@yosefe yes, it does.

[2021-09-29 17:32] downloadico opened #26348 "Hashes are missing from "spack find --json""
### Steps to reproduce

spack find --json does not include the hashes for the installed packages.

### Error message

_No response_

### Information on your system

* **Spack:** 0.16.3-4506-a2c1635
* **Python:** 3.6.8
* **Platform:** linux-centos7-nehalem
* **Concretizer:** clingo

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X

[2021-09-29 19:24] jthies commented on #26002
@wspear, could you post the output of "mpicxx -show"? I noticed that on my Ubuntu-system, "/usr/bin/mpicxx -show" contains paths to spack-installed openmpi headers if I have the corresponding TCL module loaded... Our cmake FindMPI relies on such a command to figure out the MPI include and library paths.

[2021-09-29 19:34] wspear commented on #26002
Here it is (with the cray-mpich/8.7.1 module loaded, no spack involvement):

[code]

[2021-09-29 20:39] zzzoom opened #26354 "Installation issue: gdb@11.1"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.16.3-4399-cdcecda9d0
* **Python:** 3.6.8
* **Platform:** linux-rocky8-zen2
* **Concretizer:** clingo

### Additional information

gdb requires GMP to build since version 11.1. (https://www.gnu.org/software/gdb/download/ANNOUNCEMENT)

@robertu94

[spack-build-out.txt](https://github.com/spack/spack/files/725491

[2021-09-29 21:31] zzzoom opened #26358 "Installation issue: gdb +python"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.16.3-4399-cdcecda9d0
* **Python:** 3.6.8
* **Platform:** linux-rocky8-zen2
* **Concretizer:** clingo

The relevant part of packages.yaml is that we're using EL8 python as an external, which doesn't include a /usr/bin/python symlink.
[code]

### Additional information

gdb looks for a `python` binary to execute

[2021-09-29 22:16] LuisSalbey commented on #14321
I'm having problem installing intel-mpi@2019.10.317

spack install intel-mpi@2019.10.317
==> Installing intel-mpi-2019.10.317-4ss2iw6eg4bqt6jrlt5dqiyhh6yi3ugs
==> No binary for intel-mpi-2019.10.317-4ss2iw6eg4bqt6jrlt5dqiyhh6yi3ugs found: installing from source
==> Using cached archive: /spack/var/spack/cache/_source-cache/archive/28/28e1b615e63d2170a99feedc75e3b0c5a7e1a07dcdaf0a4181831b07817a5346

[2021-09-29 22:21] LuisSalbey commented on #14321
spack --version
0.16.2-4335-c24413a530

[2021-09-29 22:46] robertu94 commented on #26354
@zzzoom good catch. Could you please provide a list of external packages and the contents of /etc/os-release so I can verify a fix. I have many deadlines in the next two-three weeks so I’ll have limited bandwidth to work on this until then.

If you provide a PR, I’d be happy to review it.

[2021-09-29 22:47] robertu94 commented on #26358
Another good catch. I’ll look into this when I get time. I can also help you prepare a PR if you have time to make one.

[2021-09-30 02:02] robertu94 commented on #26354
I found a fix that I think addresses this, but I don't have time to test all the older versions right now.

[2021-09-30 02:02] robertu94 commented on #26358
I found a fix that I think addresses this, but I don't have time to test all the older versions right now.

[2021-09-30 02:05] CodeToLearnScience commented on #26051
Thanks a lot. I will check it out.

[2021-09-30 07:25] HadrienG2 commented on #26242
@goxberry Thanks for the correction #1072 -> #11072, looks like a typo that got propagated everywhere. Fixed it in the OP.

---

I think you hit the nail in the head when you say that this is a speed vs reliability tradeoff. The problem is that as with any quantitative tradeoff, as long as people's opinions are our only metric, we will have issues because these opinions will fall at different poin

[2021-09-30 07:30] cessenat opened #26369 "Installation issue: dos2unix"
### Steps to reproduce the issue

`$ spack install dos2unix`
On many systems it fails to properly add -lintl as described by

at
https://www.gnu.org/software/gettext/FAQ.html#integrating_undefined

This did NOT happen on MacOS, neither on Ubuntu 18 with external gettext, but it did on many other platforms (Ubuntu18, 20, 20 on Raps Pi, CentOS7.8)

[code]

### Information on your system

$ spack deb

[2021-09-30 09:27] manuelakuhn commented on #26314
Adding `'-DCMAKE_INSTALL_LIBDIR:PATH=lib'` installs all libraries into lib (no lib64 usage). I have tested it on linux-fedora32-haswell and linux-debian9-piledriver and it solves the problem for me. I will open a pull request for it.

For the problem with 8.2.0 I will open another issue.

[2021-09-30 10:10] tueda commented on #26052
I got a similar error on CentOS6@Docker (I was trying Spack to see whether it works for our system). It is easy to reproduce:
[code]
[code]
[code]
[code]

[2021-09-30 11:13] haampie commented on #26052
@alalazo we really need better error handling here...

See the note here

https://spack.readthedocs.io/en/latest/getting_started.html#bootstrapping-clingo

~It seems `patchelf` can't be built with GCC 4.x, we're missing a conflict for it.~ It can w/ GCC 4.8.5, `gcc-c++` was missing as a package?

As a backup, Spack tries to build clingo from sources, but that fails because clingo itself needs C++1

[2021-09-30 11:16] haampie commented on #26052
Actually I think there's another issue: https://github.com/spack/spack/pull/26155 Spack has given up on `centos:6` since it's been EOL for about a year now, but the PR shows you the workaround to fix issues with python 2.6 and ssl.

We still run unit tests on centos:6 though, but we don't rebuild the centos:6-spack image anymore.

[2021-09-30 11:51] cessenat commented on #26369
I think this is fixed by PR #26371

[2021-09-30 11:51] #26369 closed, assigned to nobody

[2021-09-30 12:04] goxberry commented on #26242
tl;dr: The current defaults for 16 or fewer logical cores are fine. I favor @mwkrentel's [suggestion](https://github.com/spack/spack/issues/26242#issuecomment-927022954) for larger core-count systems.

-----------------

In general, fixing a problem upstream is always preferable to kludging around it in Spack. If RAM requirements to builds are sufficiently large, even in the `make -j1` case, that

[2021-09-30 12:16] haampie commented on #26295
From a discussion with @psakievich:

You *could* also concretize the devs specs like `concretize_together([root spec, dev specs...])`, which would make concretization less surprising.

However, in the same discussion we agreed that it'd be nice to be able to compare a dev spec with a stable non-dev spec in one and the same environment, which would be impossible when the dev spec is always imposed

[2021-09-30 12:25] psakievich commented on #26295
Yes I think that would be going in the wrong direction because we end up constraining what develop specs can do and limit opportunities for future growth.  Spack has all the infrastructure to do multiple develop builds with variants of the same spec in one environment, and a scalable build system to boot. It would be a shame to handicap develop specs with a change like this.

[2021-09-30 12:30] psakievich commented on #26295
Another idea that follows the spirit of #22087 is to allow users to put the `dev_path` variant directly in the specs.
This is clunkier for spec specifications but removes the ambiguity users are experiencing. Not sure I endorse this but I thought I'd mention it. I could support it as an optional way to specify develop specs, but wouldn't want to use it myself. Probably not a good sign 😬

[2021-09-30 12:57] tueda commented on #26052
@haampie Based on your comment, I found that the following (still) works on the `centos:centos6` Docker image. Thank you!
[code]

[2021-09-30 14:00] sethrj opened #26377 "Environment views don't properly create directory symlinks"
### Steps to reproduce

I'm using macOS to install `qt@5+framework`, which installs to $Qt_ROOT/lib (for example) the QtGui framework:
[code]

The view to Qt placed in the environment, however, incorrectly unlinks the symbolic links:
[code]
The `Headers`, `Resources`, and `Versions/Current` in the view are all empty directories.

### Error message

_No response_

### Information on your system

*

[2021-09-30 18:52] #25973 closed, assigned to nobody

[2021-09-30 19:27] punkpony opened #26385 "Installation issue: grace"
### Steps to reproduce the issue

```$ ./spack install grace```

```$ ./spack maintainers grace ```
@RemiLacroix-IDRIS

### Information on your system

[code]

### Additional information

errors on the screen during attempt to install

[code]

...

[code]

...
[code]

[2021-09-30 20:16] danlipsa commented on #26314
@adamjstewart This seems to be a regression as @manuelakuhn pointed out this was already solved at the spack level in  #17126

[2021-09-30 20:17] danlipsa commented on #26314
Or rather it was solved in https://github.com/spack/spack/pull/18523

[2021-09-30 21:09] srekolam commented on #26139
@cgmb  can we close this ticket ? let me know what you think ?

[2021-09-30 21:12] manuelakuhn opened #26388 "Installation issue: vtk@8.2.0+python"
### Steps to reproduce the issue

vtk 8.2.0 fails on build with the following error message:

[code]

### Information on your system

* **Spack:** 0.16.3-4547-7694c58736
* **Python:** 3.8.10
* **Platform:** linux-fedora32-haswell
* **Concretizer:** clingo

### Additional information

Discovered in #26314 but opened as separate issue

[spack-build-out.txt](https://github.com/spack/spack/files/72625

[2021-09-30 21:42] cgmb commented on #26139
I don't know. I will watch that issue with interest.

It's probably not a Spack issue, but I would like to pin down the cause so we can say so with certainty. That said, I have a lot on my plate... if you don't hear back from me by Oct 7th (1 week), go ahead and close this.

[2021-09-30 22:14] parke opened #26394 "Cannot bootstrap Spack on Alpine Linux"
### Steps to reproduce

(Fyi, I am a new user of `spack`, so I may not know what I am doing.)

In a fresh Alpine Linux 3.14.2 chroot environment (and probably also in a native install of Alpine Linux), I run the following as root:

    #  apk  update
    #  apk  add  build-base  bash  git  python3

I then run the following as a non-root user:

    $  git  clone  -c feature.manyFiles=true  https://

[2021-09-30 22:40] #26354 closed, assigned to nobody

[2021-09-30 22:40] #26358 closed, assigned to nobody

[2021-10-01 00:52] #26314 closed, assigned to nobody

[2021-10-01 06:19] cessenat commented on #26385
I can't find your build_log files.
It seems you have a problem with your C++ compiler/pre procesor.
Have a look at the config.log in
/tmp/verastov/spack-stage/spack-stage-berkeley-db-18.1.40-yrpwph5ofibzlgiwzi3zdngtnrxqvkne/spack-src/dist/

[2021-10-01 06:28] RemiLacroix-IDRIS commented on #26385
Yeah, it doesn't seem like the problem is specific to Grace but rather you have an issue with the C++ compiler on your system.

[2021-10-01 06:28] cessenat commented on #26051
Tell me if it works, I'm interested.
Then, you can try the file below, which should be OK for med+mpi.
You will have to copy it for instance to
`$SPACK_ROOT/spack/var/spack/repos/builtin/packages/med/package.py
`
[package.txt](https://github.com/spack/spack/files/7264669/package.txt)

[2021-10-01 08:14] CodeToLearnScience commented on #26051
@cessenat
This (``` spack install gmsh ^cgns~mpi ^med~mpi```) suggestion didn't work

             ontAndGlyph'

     1676    make[2]: Leaving directory '/tmp/nhmaruthi/spack-stage/spack-stage-gmsh-4.8.4-gjuz66nqxw4zg7aritdbgnuze7vypnim/spack-build-gjuz66n'

             ontAndGlyph'

     1681    make[2]: Leaving directory '/tmp/nhmaruthi/spack-stage/spack-stage-gmsh-4.8.4-gjuz66nqxw4zg7aritdbgnu

[2021-10-01 08:54] UweSauter opened #26400 "Installation issue: rocblas@4.2.0%gcc@10.3.0 fails with "OSError: [Errno 12] Cannot allocate memory""
### Steps to reproduce the issue

@arjun-raj-kuppala @haampie @srekolam

Trying to install ROCm 4.2.0 inside a Spack environment on a 24 core server with 64GiB RAM, 16 GiB `/tmp`.

`spack.yaml`
[code]
results in
[code]

### Information on your system

[code]
[spack-build-out.txt](https://github.com/spack/spack/files/7265591/spack-build-out.txt)

[spack-build-env.txt](https://github.com/spack/spack

[2021-10-01 09:06] haampie commented on #26400
don't underestimate the amount of ram you need to build rocblas :sweat_smile:

[2021-10-01 09:08] UweSauter commented on #26400
As mentioned, the server has 64GiB… and rocblas should also build on workstations equipped with less RAM.

[2021-10-01 09:09] #26172 closed, assigned to nobody

[2021-10-01 09:23] cessenat commented on #26051
It seems to be a problem with the gmsh/fltk connection.
I suggest you open a separate issue for that, with your log files, and external dependencies if any (~/.spack/packages.yaml) : often problems arise with system packages that do not have the proper components.
Your original problem, building med+mpi is indeed solved by PR https://github.com/spack/spack/pull/25312
from @christoph-conrads (much

[2021-10-01 09:29] haampie commented on #26400
I mean, if you insist on building in /tmp, can't you make it larger? Otherwise just change your stage directory in the config. Or play with build_jobs, etc.

[2021-10-01 09:36] UweSauter commented on #26400
I've been monitoring the usage of `/tmp` (which is on disk, not in RAM) and it never used more 20% of the available space.

Sure, it might be that I've missed that point in time when the usage exploded but on the other hand I cannot conclude from the logs that `/tmp` is the problem here.

Also, Spack seems to be cleaning up after the failure so I cannot in retrospect see where it hit the limitatio

[2021-10-01 09:39] haampie commented on #26400
On failure it doesn't clean the stage dir, if for some reason it does, do `spack install --keep-stage ...`

[2021-10-01 10:21] UweSauter commented on #26400
Also, `Cannot allocate memory` implies problems allocating RAM, not problems writing to disk. And as I said, `/tmp` is on a disk.

[2021-10-01 10:25] haampie commented on #26400
Can you try `rocblas tensile_architecture=gfx908` or so? Also please consider opening an issue upstream (rocblas or tensile).

[2021-10-01 10:36] UweSauter commented on #26400
Once the build host runs into the next issue with ROCm 4.3.1 I'll try to build rocblas@4.2.0 with only one process (`-j1`) but I suspect that this won't help.

Would you mind telling me the whole Spack command? I'm not yet familiar with all the possible arguments.
I have 2 types of GPUS: `gfx900` and `gfx906`

[2021-10-01 10:41] haampie commented on #26400
Ah, try `spack install rocblas tensile_architecture=gfx906`, it definitely limits the amount of things being built. If this succeeds, it's worth opening an issue upstream asking about the ram requirements, and if it can be brought down somehow.

See `spack info rocblas` for accepted values for the variants

[2021-10-01 10:42] haampie commented on #26400
@srekolam seems like `tensile_architecture=gfx900,gfx906` does not work, should it accept multiple values?

[2021-10-01 11:47] UweSauter commented on #26400
So, `rocblas@4.3.1%gcc@7.5.0` shows the same `Cannot allocate memory` when Spack is called with `-j20`.

`spack install -j1 --keep-stage rocblas@4.2.0%gcc@10.3.0 tensile_architecture=gfx906` is currently running.

[2021-10-01 12:02] UweSauter commented on #26400
Hm, searching for `OSError: [Errno 12] Cannot allocate memory` I found [this article](https://yantor3d.wordpress.com/2019/06/09/not-enough-memory-mine-more-memory/):
[code]
My `overcommit` settings are
* vm.overcommit_kbytes = 0
* vm.overcommit_memory = 2
* vm.overcommit_ratio = 97

[Kernel overcommit documentation](https://www.kernel.org/doc/Documentation/vm/overcommit-accounting)

[2021-10-01 12:13] haampie commented on #26400
Again, might be worth filing this issue upstream, since it has to do with some python script written by amd: https://github.com/ROCmSoftwarePlatform/Tensile

[2021-10-01 12:17] UweSauter commented on #26400
AMD is already aware of this issue but the devs I have contact with are based in California.

[2021-10-01 13:40] UweSauter commented on #26400
After calling `spack clean -a` the run of `spack install -j1 --keep-stage rocblas@4.2.0%gcc@10.3.0 tensile_architecture=gfx906` succeeded.

[2021-10-01 14:01] cessenat opened #26408 "Installation issue: gmsh"
### Steps to reproduce the issue

[code]

### Information on your system

$ spack debug report
* **Spack:** 0.16.2-4553-b96d836a72
* **Python:** 3.9.5
* **Platform:** linux-ubuntu21.04-x86_64_v2
* **Concretizer:** clingo

### Additional information

[spack-build-env.txt](https://github.com/spack/spack/files/7267724/spack-build-env.txt)
[spack-build-out.txt](https://github.com/spack/spack/files/726

[2021-10-01 14:05] cessenat commented on #26051
I opened an issue for gmsh #26408 where I encounter the same problem on one uptodate system.
I do not have the problem on a slightly older spack dev version. Hope I find the time to narrrow the search.

[2021-10-01 14:07] cessenat commented on #26408
This is likely to be the same issue as encountered in
https://github.com/spack/spack/issues/26051#issuecomment-932019667
(after solving med HDF5+MPI initial problem solved by PR https://github.com/spack/spack/pull/25312)

[2021-10-01 14:27] #24671 closed, assigned to nobody

[2021-10-01 14:27] #26051 closed, assigned to nobody

[2021-10-01 14:27] CodeToLearnScience commented on #26051
@cessenat Thanks for the comments. I will open a separate issue related to fltk

[2021-10-01 14:53] UweSauter commented on #26400
When building in combination with the other packages of the Spack environment (`spack install -j1`), it fails again.

When changing `self.define('BUILD_WITH_TENSILE', 'ON')` to `OFF` in the `package.yaml` the build succeeds inside the Spack environment.

[2021-10-01 15:06] #26319 closed, assigned to jgalarowicz, adamjstewart

[2021-10-01 15:06] cessenat commented on #26051
Good idea. I'm puzzled about what is wrong, really. I need smarter people to help !
I've found a similar thread for Octave
https://stackoverflow.com/questions/27941384/octave-cannot-find-fltk-xgetutf8fontandglyph-symbol
with a pointer to https://www.fltk.org/str.php?L3156
but 1) I never managed to get
nm -D /path/libfltk.so  | grep XGetUtf
answer anything 2) the working gmsh install (on my Ubuntu

[2021-10-01 15:11] UweSauter commented on #26400
`rocblas@4.3.1%gcc@7.5.0` also builds successfully when `'BUILD_WITH_TENSILE'` is set to `'OFF'`

[2021-10-01 15:27] UweSauter commented on #24430
With
[code]
I was able to build `rocm-validation-suite@4.2.0%gcc@10.3.0`.

[2021-10-01 15:36] TorreZuk commented on #26400
Ensure you don't have HIPCC_COMPILE_FLAGS_APPEND env variable include -parallel-jobs=X where X is > 1 set it to one, it should be defaulting to one if the flag isn't there (this is parallel computation of a single unit but forks memory).
Otherwise rocblas with Tensile will require the full 64GB RAM for building by itself so can you set your spack build to only build rocblas by itself and resume pa

[2021-10-01 16:26] CodeToLearnScience commented on #26051
I am new to spack. I have tried dozen times to install gmsh with various options. But have not been successful.

[2021-10-01 16:49] alalazo commented on #26068
@becker33 @vsoch I'm getting the two errors above consistently on my laptop on every branch I work on (not in CI though). I didn't investigate them yet, but I think they're related to #24639 so I wonder if anything rings a bell here.

[2021-10-02 05:46] jacobmerson opened #26420 "Installation issue: clingo-bootsrap"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.16.3
* **Python:** 3.6.8
* **Platform:** linux-rhel8-power9le

### Additional information

@alalazo
[clingo-bootstrap-error.txt](https://github.com/spack/spack/files/7270917/clingo-bootstrap-error.txt)

I just cleared out the cache to test the solution, so hopefully this output from `spack -d solve zlib` will