[2021-07-09 18:01] mwkrentel commented on #11582
@msimberg This probably isn't the problem, but in your `packages.yaml` file, you have `providers:`
under `compilers:`.  You probably want it under `all:` instead.

[2021-07-09 18:46] samcmill commented on #24806
The patch in your fork looks reasonable to me and is the sort of thing I did for some of the most commonly used packages to work around issues like this.

A workaround is to add `set NOSWITCHERROR=1;` to `$HOME/.mynvcrc`.  See https://docs.nvidia.com/hpc-sdk/compilers/hpc-compilers-user-guide/index.html#site-spec-using-user-rc.

[2021-07-09 18:50] payerle commented on #24806
Thanks for the NOSWITCHERROR hint --- just started building with nvhpc.

On Fri, Jul 9, 2021 at 2:46 PM Scott McMillan ***@***.***>
wrote:

--
Tom Payerle
DIT-ACIGS/Mid-Atlantic Crossroads        ***@***.***
5825 University Research Park               (301) 405-6135
University of Maryland
College Park, MD 20740-3831

[2021-07-09 20:59] permeakra opened #24812 "RuntimeError: Unable to locate python command in /usr/lib/python-exec/bin"
Spack tries to find python in '/usr/lib/python-exec/bin' . WTF is this dir, I do not have it in ubuntu or gentoo.

[code]

### Information on your system

* **Spack:** 0.16.2-3160-f31e52801d
* **Python:** 3.9.5
* **Platform:** linux-gentoo2-zen
* **Concretizer:** original

Python 3.9 active, python 3.8 available

### Additional information

- [x] I have run `spack debug report` and reported the ve

[2021-07-09 21:05] permeakra commented on #24812
[compilers.yaml.txt](https://github.com/spack/spack/files/6793933/compilers.yaml.txt)
[packages.yaml.txt](https://github.com/spack/spack/files/6793934/packages.yaml.txt)

[2021-07-10 02:23] Tom-python0121 commented on #24797
see:https://github.com/verilator/verilator/issues/3063

[2021-07-10 02:23] #24797 closed, assigned to nobody

[2021-07-10 23:54] Smattr opened #24822 "graphviz package: unnecessary patch steps"
At time of writing, the Graphviz package file contains the following:

[code]

IIUC this is working around https://gitlab.com/graphviz/graphviz/-/issues/163. This was resolved in Graphviz commit ed155274912f3eded8833ae644625e6017637634, which made it into Graphviz version 2.46.0. So these steps should be unnecessary for ≥2.46.0.

CC @cessenat

[2021-07-11 17:43] adamjstewart commented on #24598
Trying again with magma 2.6.0 and I'm seeing a different build issue much earlier on:
[code]
[spack-build-out.txt](https://github.com/spack/spack/files/6797372/spack-build-out.txt)
[spack-build-env.txt](https://github.com/spack/spack/files/6797373/spack-build-env.txt)

Bumping CUDA version is not an option for me.

[2021-07-11 18:53] G-Ragghianti commented on #24598
Since this will probably require a MAGMA dev to address, I've filed an issue on the ICL bitbucket: https://bitbucket.org/icl/magma/issues/47/xhsgetrf_gpucpp-244-53-error

[2021-07-11 19:43] #24628 closed, assigned to nobody

[2021-07-12 02:15] Tom-python0121 opened #24827 "spack install --keep-stage -v gmime@2.6.23 failed in centos8"
I meet a problem:spack install --keep-stage -v gmime@2.6.23 failed in centos8.
### Steps to reproduce the issue

[code]
Can you help me out?
### Information on your system
[root@centos8 ~]# spack debug report
* **Spack:** 0.16.1-1624-a0b5dcca3c
* **Python:** 3.6.8
* **Platform:** linux-centos8-aarch64
* **Concretizer:** original

[2021-07-12 07:32] Tom-python0121 commented on #24827
Add the gtk-doc dependency and configure the --with-libiconv=gnu dependency. The problem is solved.

[2021-07-12 07:32] #24827 closed, assigned to nobody

[2021-07-12 07:43] msimberg commented on #11582
Yes, that's what I was expecting, or at least hoping for. This issue sounded close enough to what I was hoping to do but I wasn't sure if it was applicable. This clears it up, thank you!

I can certainly open an issue if you think it's useful. I wasn't sure if this behaviour is by design or just because of noone requesting/implementing it yet. I can certainly work with `build-env` if that's the re

[2021-07-12 12:25] alalazo commented on #24812
Which Python command do you have available (full path)?

[2021-07-12 12:38] permeakra commented on #24812
@alalazo
[code]

[2021-07-12 12:49] alalazo commented on #24812
OT: I'll be available at spots this week + don't have a gentoo available quickly, so debug may proceed slower than usual :slightly_smiling_face:

Can we try ruling out the `python-exec2c` script? From a clean environment you can try:
[code]
and report if clingo bootstraps successfully from sources.

[2021-07-12 13:13] permeakra commented on #24812
It does. Please, could you help me to find what exactly python-exec2c breaks so I could report a bug?

[2021-07-12 16:39] sethrj opened #24842 "clingo: transitive build dependencies are not ignored"
If B is a build-only dependency of A, and C is a build-only dependency of B, then C shouldn't be required by A if B already exists. However, with the `clingo` concretizer, C still shows up in the concretization of A even when B is already built.

This is mainly a problem when trying to manually specify an existing build-only dependency for a package, e.g. an already installed external or an out-of

[2021-07-12 21:00] G-Ragghianti commented on #24598
@adamjstewart Can you try installing magma@master?  I've created a fix for the two problems that you encountered.  There will likely be a bugfix release for magma (2.6.1) soon.

[2021-07-12 21:14] adamjstewart opened #24845 "Installation issue: boost"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.16.2-3480-e0017a6666
* **Python:** 2.6.9
* **Platform:** cray-suse_linux11-bulldozer
* **Concretizer:** original

### Additional information

* [spack-build-out.txt](https://github.com/spack/spack/files/6804413/spack-build-out.txt)
* [spack-build-env.txt](https://github.com/spack/spack/files/6804414/spack-buil

[2021-07-12 21:15] adamjstewart commented on #24598
Testing now

[2021-07-12 21:16] adamjstewart commented on #24845
Boost seems to install with the system GCC 5.3.0, but fails to install with my Spack-installed GCC 5.5.0.

[2021-07-13 01:29] sleak-lbl opened #24847 "Package versioning"
Add package-version, dependency-package-version and required-spack-version information to packages

### Rationale

A given Spack instance is usually a checkout of a specific version tag, with a few commits cherry-picked from `develop` for packages with an update I need that arrived since the release version. This leads into a kind of dependency hell, as the cherry-picked update might rely on anoth

[2021-07-13 04:52] adamjstewart commented on #24598
The master branch installs successfully for me now, thanks for the fixes!

[2021-07-13 04:52] #24598 closed, assigned to nobody

[2021-07-13 11:19] #23886 closed, assigned to nobody

[2021-07-13 14:50] dev-zero commented on #24744
@Tom-python0121 I've updated the PR in https://github.com/spack/spack/pull/24665 which in my tests fixed the issue you were seeing. Since this issue is about the package as in the PR I am going to close it now. If there are more problems, please comment directly in the PR.

[2021-07-13 14:50] #24744 closed, assigned to scheibelp

[2021-07-13 18:02] tldahlgren opened #24861 "checksum command fails when fetch and install do not"
Trying to check the sha256 for scotch (#24855), shows the `checksum` subcommand fails while `fetch` and `install` works.  The package currently provides `url` and `list_url` properties as well as a `url_for_version` method (gated on previous versions).

### Steps to reproduce the issue

[code]

### Error Message

See above.

### Information on your system

* **Spack:** 0.16.2-3503-a6f839b880
* **P

[2021-07-13 19:22] hainest commented on #24845
@adamjstewart Does the spack-installed gcc support the `-std=c++11` flag? I've sometimes found that spack-installed compilers behave differently from those provided by a system package.

[2021-07-13 19:27] adamjstewart commented on #24845
How do I test this? (I'm a Python person, not a C++ person 😄)

[2021-07-13 19:36] hainest commented on #24845
$ echo "int main(){}" > test.cpp
    $ /your/spack/g++-5.5.0 -std=c++11 test.cpp

[2021-07-13 19:44] adamjstewart commented on #24845
@hainest yes that executes successfully. Many of my other C++ packages are building correctly with this compiler, so I don't think it's an issue with the compiler.

[2021-07-13 19:55] #24806 closed, assigned to nobody

[2021-07-13 19:59] hainest commented on #24845
The b2 check for C++11 functionality is https://github.com/boostorg/build/blob/develop/src/engine/check_cxx11.cpp. What does your compiler say when trying to build that?

[2021-07-13 20:03] adamjstewart commented on #24845
Both compiling and running `a.out` show no error messages.

This is on a Cray system. There may be some slight difference between the front-end and back-end nodes that could cause a discrepancy.

[2021-07-13 20:09] qwofford opened #24865 "Make environment config file for buildcache options"
I'd like a way to roll buildcache options into a spack environment. Doing so would allow me to create a single set of configs that defines a complete spack environment, including where you can get the cached files associated with that environment

### Rationale

You already support `spack env activate -d .; spack install` for installing an environment with multiple packages, but in order to create

[2021-07-13 20:29] hainest commented on #24845
Well, that's.. neat. I'm assuming you are building Boost and this test on the same login/compute node?

I guess the next thing to try is running the build script for b2 directly. Can you hop into the boost install and run src/engine/build.sh?

[2021-07-13 21:10] mwkrentel commented on #24845
@adamjstewart Could you try this experiment for me?

The boost `package.py` file has a conditional patch for cray platform.
Could you comment this out and retry.

[code]

The patch removes the spack env wrapper for the compiler on Cray.
(Just for building bjam, not in general for compiling boost libraries.)
This was necessary for older Cray where FE != BE and BE compiled code
(eg, bjam) would cras

[2021-07-13 21:23] sethrj commented on #24861
I think this is a problem with misuse of the `@when` inside the scotch package; it reminds me of my past misuse of `@when` , https://github.com/spack/spack/issues/20177 .

Does `spack checksum` concretize the spec when trying to fetch the URL?

[2021-07-13 21:34] payerle commented on #22380
The last comment seems to have been garbled; I believe the discussion being referred to is at
https://sourceware.org/pipermail/gsl-discuss/2021q1/006772.html

[2021-07-13 21:50] adamjstewart commented on #24845
Yes, let me try removing that patch.

Unfortunately I'm stuck on GCC 5.x due to CUDA 9.1 which can't be upgraded.

[2021-07-14 02:20] adamjstewart commented on #24845
Well, prepare to be seriously annoyed. Removing that patch allows me to build boost on the compute node (probably on the login node too).

[2021-07-14 03:12] mwkrentel commented on #24845
Grrr, that's too bad.  I know that some form of that patch is
necessary for what I'll call "old-style Cray", ie, lots of modules,
PrgEnv, FE != BE, static binaries, etc.  "New-style Cray" is vendor
Cray, but it builds more like standard Linux with compatible FE and BE.

I'll see if I can reproduce this.  My main access to Cray is theta,
theta-gpu at Argonne, cori at NERSC and I think something at

[2021-07-14 03:18] adamjstewart commented on #24845
The only Cray I have access to is Blue Waters at NCSA.

I think my Cray is a mix of old and new styles. FE and BE seem to be pretty similar, but there are a lot of modules and PrgEnv. It's CNL 5 so pretty old.

Heh, I wish...
[code]

[code]

[code]
Will try building with a newer GCC.

[2021-07-14 03:28] mwkrentel commented on #24845
Ah ha!  You built gcc 5.5.0 with spack, right?  In that case, you need
to put the spack module in the compiler spec.  Spack compiler find
doesn't do this automatically.

Try this.  Add the module for gcc 5.5.0 to the compiler entry and
re-activate the bootstrap patch.  See if that works.

[2021-07-14 03:40] adamjstewart commented on #24845
I'm not using modules. Like I literally disabled Spack's generation of modules. Why would the module be needed to use the compiler if everything is RPATHed?

[2021-07-14 06:10] mwkrentel commented on #24845
I'll see if theta at ANL is close enough to produce the same behavior.

What does spack arch report for FE and BE?
Run from the FE, I guess.

So, you're building boost on the compute nodes?
On theta, I normally build BE apps on the login nodes.

[2021-07-14 13:04] albestro opened #24878 "Problem with new concretizer and package version constraints"
The new concretizer complains that a newer version of a package does not satisfy a right-open range constraint.

### Steps to reproduce the issue
In our (currently not release yet) spack package for `dla-future` we define a dependency with HPX 1.6.0 or earlier versions with the line

`depends_on("hpx@1.6.0:")`

HPX (at the moment of writing) is 1.6.0, but soon the 1.7.0 will be released. Here it i

[2021-07-14 14:26] adamjstewart commented on #24845
On login nodes:
[code]
On compute nodes:
[code]
Boost builds fine with GCC 8.2.0 on the compute nodes. Boost fails with the same error message for GCC 5.5.0 on both the compute and login nodes.

[2021-07-14 15:31] eschnett opened #24885 "Spack adds empty lines when it rewrites yaml files"
Spack rewrites yaml files when using commands such as
[code]

Every time Spack runs, it adds another empty line in front of comments. (I thought there was an open issue about this already, but now I cannot find it.)

As a quick fix, could you delete all empty lines in the resulting file? This way, at least Spack is idempotent.

[2021-07-14 15:31] mwkrentel commented on #24845
@adamjstewart Has something changed on your system, or is this your
first time building boost with gcc 5.5?  That is, the bootstrap patch
is 2.5 years old, I'm wondering why you haven't seen this before?

Anyway, the arch tells me that Blue Waters is a standard, "old-style"
Cray, just a really old version.  So, I'm hopeful that I can get the
same result on theta or cori.

The gcc results tell me t

[2021-07-14 15:35] adamjstewart commented on #24845
I'm not sure if I've ever been able to compile `boost` on this system, this is my first time trying.

Yes, you can write `os=cnl5` in a `when=` arg. But note that my build fails with this patch both on `suse_linux11` (compute) and on `cnl5` (login), so the patch will need to be skipped in both cases on this system.

[2021-07-14 15:44] mwkrentel commented on #24845
Does building boost with gcc 5.5 work on the login node without the patch?
I would think that falls under the original problem of compute node code
will crash on the login node.  Building for cray-cnl5-bulldozer on login node  ?

[2021-07-14 15:46] adamjstewart commented on #24845
See above:

[2021-07-14 16:03] ndcontini opened #24886 "Mirror shows no cache entries for v0.16.2-3526-e6e21b1 but can retrieve cache entries using other versions"
I noticed that when using v0.16.2-3526-e6e21b1, it appears as though my mirror has no build cache entries. However, if I switch to v0.16.2 or v0.16.1, I am able to see cache entries.

### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.16.2-3526-e6e21b1
* **Python:** 3.6.8
* **Platform:** linux-rhel6-x86_64
* **Concretizer:** original

### Additional informatio

[2021-07-14 16:15] mwkrentel commented on #24845
It fails on the login node WITHOUT the patch?

I'd expect it to fail on the login node both with and without the
patch, but in different ways.  Without the patch, the CC wrapper code
won't run on the login node.  With the patch, it's missing the
-std=c++11 flag.

[2021-07-14 16:22] eschnett opened #24887 "Installation issue: hypre (warnings reported)"
When building `hypre`, I see these warnings:

[code]

I don't know how severe these are. If these are harmless, then the warnings should be disabled, or there should be a comment in the `hypre` packages's `package.py`.

[2021-07-14 16:26] eschnett opened #24888 "Installation issue: boost"
### Steps to reproduce the issue

[code]

The build aborts because the include file `boost/bind.hpp` is not found. The build works fine with the released versions of Boost.

According to the Boost documentation, one needs to run `./b2 headers` after cloning the git repository. I don't see this command run in Boost's `package.py`.

[2021-07-14 17:08] adamjstewart commented on #24845
Ah, sorry for the confusion.

It fails on the login and compute nodes with the patch. It succeeds on the login and compute nodes without the patch.

[2021-07-14 22:16] mpokorny commented on #23348
I can reproduce this issue in gtkplus@3.24.29 (the same error message, that is) on RHEL7, gcc 11, with the Spack develop branch. I can also confirm that this issue does not appear to be a duplicate of any other issue in the Spack repo (_i.e_ check that fourth box).

[2021-07-14 23:22] ax3l commented on #24680
Yes, that counterintuitive comparison is implemented in HDF5 itself:
https://github.com/HDFGroup/hdf5/blob/hdf5-1_12_1/config/cmake/hdf5-config-version.cmake.in#L16-L20

Sorry, did not provide the reference above, will edit it in.

[2021-07-14 23:33] srekolam commented on #24429
from the spack-build-out.txt ,i am seeing that migraphx_py.cpp is being built for python3.8 (migraphx_py_3.8.dir) as well as python3.6 (migraphx_py_3.6.dir). for 3.6 it is looking at /usr/include/python3.6m and not able to find it . But when i look at the log at my system, i dont similar error  ..i only see src/py/CMakeFiles/migraphx_py_3.8.dir/migraphx_py.cpp.o and built succesfully.. i do think

[2021-07-15 01:11] mwkrentel commented on #24845
@adamjstewart I'm trying to reproduce your steps and there's something
I don't understand.  I built gcc 5.5.0 (I had to build down, 9.3.0 --> 5.5.0).

On the compute nodes, spack arch reports os=suse_linux11, but your gcc
5.5.0 compiler entry has os=cnl5.  So how can you use that compiler
for that arch?  Spack won't accept that.

Do you have another gcc 5.5.0 entry?
Are you sure spack install is u

[2021-07-15 02:19] adamjstewart commented on #24845
[code]
It doesn't make a lot of sense to me either. I only have a single GCC 5.5.0 entry in my `compilers.yaml`.

[2021-07-15 03:00] #24888 closed, assigned to nobody

[2021-07-15 03:59] adamjstewart opened #24901 "Sanity checks for missing package versions/variants"
Spack already has sanity checks for packages with non-existing dependencies. We should add checks for the situation in which package `A` depends on `B@1.2.3:+foo` but package B either does not have any versions in that range or does not have a `+foo` variant.

### Rationale

Many (the majority?) of the failing GitLab CI problems lately have been caused by a PR being merged that adds a new version

[2021-07-15 06:18] UweSauter commented on #24429
As I already wrote I included `depends_on('python@3:', type='build')` as line 48 in `package.py`.

Yet a `spack install migraphx %gcc@10.3.0 ^cmake@3.17.5 ^python@3.8.10` results in
[code]
(I had to pin the Python version so that the package has the same Python version as the rest of the stack.)
[spack-build-out.txt](https://github.com/spack/spack/files/6820798/spack-build-out.txt)

[2021-07-15 11:53] rgommers commented on #24076
Debian indeed makes a giant mess of this. NumPy does provide a public function to query for the correct include path, this is always reliable:
[code]

[2021-07-15 12:59] adamjstewart commented on #24076
Thanks @rgommers. It seems like this problem is more broad than just numpy. Numpy just happens to be the second package that people install (after cython) and the build fails because it can't find cython. I believe #24095 should fix this.

[2021-07-15 17:26] srekolam commented on #24745
can we close this issue ?

[2021-07-15 17:36] srekolam commented on #24429
it looks like the Build has found different version of pythons in your case as per the log spack-build-out.txt which has the below
 Python 2.7 found.
-- Python 3.5 not found.
-- Python 3.6 found.
-- Python 3.7 not found.
-- Python 3.8 found.
-- Python 3.9 not found.
while trying to build migraphx_py.cpp for python3.6m ,it uses the -I -isystem /usr/include/python3.6m and does not find Python.h ther

[2021-07-15 20:00] sanjtrip commented on #24429
We can try to include depends_on('python@3:8', type='build') and see if this completes the build successfully.

[2021-07-16 06:34] UweSauter commented on #24429
First of all I thought that when I specify `^python@3.8.10` which matches `depend_on('python@3:', type='build')` that Python 3.8.10 is used.
Second, `depends_on('python@3:8', type='build')` doesn't make any sense. I think what you meant is `depends_on('python@3.8:', type='build')`. Do you really think it is a good idea to tighten the dependencies instead of fixing the detection mechanism?

Nonethe

[2021-07-16 07:09] mwkrentel commented on #24845
@adamjstewart @hainest
I've tried several things and I've come to the conclusion that most of
the above theories are wrong.

Adam, try this experiment.  Rebuild gcc 5.5.0, but keep the module.
Make a new compilers.yaml entry for gcc 5.5.0 and cnl5 (you may need
to remove the old entry) and add the two modules for this entry:
PrgEnv-gnu and gcc.  Then build for cnl5 (as in your boost spec) with
the

[2021-07-16 07:45] albestro opened #24918 "Installation issue: boost"
@hainest, I report here a couple of issues that @eschnett addressed trying to build boost on macOS.

- boost filesystem incompatibility with GCC (on darwin?)
https://github.com/boostorg/filesystem/issues/199
- boost in spack uses an incomplete tree (is it needed to run `b2 headers`?)
https://github.com/boostorg/property_map/issues/22

The above issues refers to develop branch of Boost (it was indi

[2021-07-16 08:21] UweSauter opened #24919 "How to get output of nested make"
I have the problem that package A is calling a nested make on package B. The Makefile for B, generated by Cmake, contains
[code]
which means that I cannot see the invocation details of the nested make.

Is there a way to include the invocation details and output from the nested make?

[2021-07-16 09:42] UweSauter commented on #24429
Further investigation shows that the include paths for deeper nested compilation don't include the Python version installed by Spack. This triggers the `'Python.h' file not found` error.
I have no idea how to fix that but the Python include path needs to be passed to all levels of compilation.

[2021-07-16 14:08] RichardYCJ opened #24924 "Spack install could not find shared libraries when using external compilers"
### Steps to reproduce the issue
I come up with the following issue while trying to installing libraries using external compilers. Here I just use adol-c as an example.

[code]

Since the external compilers are managed by `module`, I thus add `extra_rpaths` to the `compilers.yaml` file
[code]

However, it seems the configure procedure still couldn't find the shared libraries even though it specifi

[2021-07-16 15:22] robertu94 opened #24928 "Clingo bootstrap doesn't work on Gentoo"
Gentoo has a python launcher to support it's slot system that gets used that seems to break clingo's bootstrap.  Specifically, it uses https://github.com/mgorny/python-exec.   The "real" pythons are installed to

[code]

I tried to override this by providing an external python with a path to the "real" python that doesn't use the wrapper, but that didn't work either.  I'm at a loss at how to work

[2021-07-16 15:23] robertu94 commented on #24928
@cosmicexplorer I think you work on Clingo boostrap?

[2021-07-16 15:26] robertu94 commented on #24928
Also as a follow up,  if I set the concretizer back to normal, I can install clingo without a problem.

[2021-07-16 15:28] #24076 closed, assigned to adamjstewart

[2021-07-16 17:23] robertu94 commented on #24928
With the following patch, I get past the build error, and get a different error

[code]

Here is the new error:

[code]

And here is what got built:

[code]

It seems that the build is not creating the right python shared object or loading it.  Using the original concretizer,  Here is what the install dir looks like:

[code]

[2021-07-16 19:05] srekolam commented on #24429
Uwe, can you let me know if this can fix your issue.. i did add the include path for python to the cmake.

[2021-07-16 21:44] wihobbs opened #24938 "Spack environments do not treat Python path variables correctly"
When I activate a Spack environment for the first time, the `$PATH` and `$PYTHONPATH` variables are changed in a different way than if I deactivate that same environment and reactivate it again. See output below.

### Steps to reproduce the issue

[code]

### Error Message

In the first Spack environment, I loaded Python, so my `$PYTHONPATH` should change to the Spack-loaded version of Python in m

[2021-07-16 22:00] marcmengel commented on #2247
Okay, so I've been reading through this discussion from #1325, and I have two concrete suggestion that I think might actually help:

When one adds a new variant to a package, one should specify in the variant what value packages built before the variant was added should be considered: i.e.
   variant('furble', default=True, description="Turn on furbling", old_missing=False)
would say that we have

[2021-07-16 23:55] tgamblin commented on #2247
In 0.17 we'll be making the new concretizer default, and it will *prefer* to use installed versions of packages, and will *optionally* use the traditional installation mode that doesn't consider them.  What that means is that if you install one thing, say an MPI implementation, and the installed thing *can* be used by a new thing you install, we'll prefer to do that.  That should change the percep

[2021-07-17 16:25] UweSauter opened #24945 "Documentation: how to use Spack behind various proxy types"
Currently there is no documentation  on how to use Spack behind a proxy.

Please provide the required configuration settings or environment variables that are necessary to use behind HTTP / HTTPS / SOCKS5 proxies.

[2021-07-17 17:42] adamjstewart opened #24946 "Installation issue: py-tensorboard-plugin-wit"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.16.2-3546-88aa8299d8
* **Python:** 3.8.1
* **Platform:** linux-ubuntu18.04-haswell
* **Concretizer:** original

### Additional information

* [spack-build-out.txt](https://github.com/spack/spack/files/6835086/spack-build-out.txt)
* [spack-build-env.txt](https://github.com/spack/spack/files/6835087/spack-build-

[2021-07-19 07:00] puneet336 opened #24951 "openmpi loaded in environment but spack starts compiling the same"
Hi,
I have compiled openmpi with some flags like ucx etc, and have created the module to load the same in environment-
[code]

now on running the following command
`spack -d install -v openfoam@2012 %gcc@9.2.0 target=zen2 cflags="-march=native" cxxflags="-march=native" fflags="-march=native"  ^amdfftw@3.0 ^adios2~fortran ^cgal@4.13 ^openmpi@4.1.1 fabrics=auto `

the openfoam spack buidl fails , an

[2021-07-19 09:04] haampie commented on #24756
I'm opposed to making paths absolute, because:

1. I use anonymous environments where the spack.yaml file is in the same directory as the sources (`./spack.yaml` and `./src`), so relative paths make sense.
2. I want to share spack.yaml with others, and absolute paths don't exist on other people's machines.

For anonymous environments, relative paths should be relative to the `spack.yaml` file, so

[2021-07-19 14:17] haampie commented on #24878
Things are a quite inconsistent here...

Given the existing versions 1.2.8 and 1.2.11 of zlib and the non-existing version 1.3.0, this is the behavior more or less:

---

[code]

**Clingo**: Errors when collecting facts before concretization
**Original**: Errors during concretization

(it tries to add the constraint `@1.2.8` on top of `zlib@1.2.11`, which fails)

---

[code]

**Clingo**: `Unsatisf

[2021-07-19 14:40] jrobbin opened #24959 "spack containerize for Singularity appears to be broken"
With this spack.yaml:
[code]
The command:
[code]
writes a Singularity definition that fails to build.  The problem will be fixed in [Singularity 3.8.1](https://github.com/sylabs/singularity/issues/159).  The problem is that /opt/view in the first stage of 'image.def' is a symllink and Singularity doesn't handle symlinks correctly.  A short term fix is to not use a symlink:
[code]

### system
* **S

[2021-07-19 16:06] srekolam commented on #24497
the fix #24603 is merged into spack develop branch

[2021-07-19 19:02] sanjtrip commented on #24429
@UweSauter, Could you try the PR https://github.com/spack/spack/pull/24936 and let us know if this fix works ?

[2021-07-19 20:11] UweSauter commented on #24497
#24603 was not yet merged. The build pipeline failed at one step.

[2021-07-19 20:51] UweSauter commented on #24759
I'm experiencing something alike. When trying to fetch a package, e.g. `gcc@10.3.0` using the current development branch I get
[code]
Going back to v.0.16.2 downloading is not a problem.

When using
[code]
with the current development branch, downloading also succeeds.

I'm behind a `ssh -R 12345 user@host` SOCKS5 proxy emulated by my ssh client.

[2021-07-19 20:54] UweSauter commented on #24429
I had problems downloading sources for the last few days, see #24759. Looks like I found a config option that restored download capability. Will try building tomorrow.

[2021-07-20 09:22] andymwood commented on #20471
For info, I sent a bug report to Intel about this issue and it has now been fixed in the latest version of the Intel compiler and VTK can be built successfully without the option `-no-ipo`.

[2021-07-20 09:29] #24745 closed, assigned to srekolam

[2021-07-20 09:29] haampie commented on #24745
Yeah, you'd either have to use `concretization: separately` or remove the standalone rocm-device-libs

[2021-07-20 12:15] mdorier opened #24971 "spack checksum gives incorrect sha256 when discovering versions by itself"
### Steps to reproduce the issue

[code]

As you can see, requesting 10 checksums makes spack fetch from a certain link (`https://github.com/pmem/pmdk/releases/download/1.11.0/pmdk-1.11.0.tar.gz`) and yields a certain sha256 value, while requesting a single version's checksum makes spack use another link (`https://github.com/pmem/pmdk/archive/1.11.0.tar.gz`) and yield a different checksum.

From t

[2021-07-20 12:33] puneet336 commented on #24951
resolved by using -
 openmpi:
    buildable: False
    modules:
        openmpi@4.1.1%gcc@9.2.0:  gcc9/mpi/openmpi/4.1.1_ucx

[2021-07-20 12:33] #24951 closed, assigned to nobody

[2021-07-20 14:44] aweits commented on #24946
Do you know what binary is dumping core?

[2021-07-20 14:46] adamjstewart commented on #24946
How would I determine that?

[2021-07-20 14:48] aweits commented on #24946
you can run the "file" command on the corefile (if there is one) in the builddir/cwd when the build failed...

[2021-07-20 15:50] eugeneswalker opened #24981 "trilinos@13.0.1: cmake: MiniTensor has required library dependence on disabled TPL Boost!"
Building `trilinos@13.0.1 +amesos +amesos2 +anasazi +aztec +belos +epetra +epetraext +ifpack +ifpack2 +intrepid +intrepid2 +isorropia +kokkos +ml +minitensor +muelu +nox +piro +phalanx +rol +rythmos +sacado +stk +shards +shylu +stokhos +stratimikos +teko +tempus +tpetra +trilinoscouplings +zoltan +zoltan2 +superlu-dist gotype=long` fails at CMake stage using:
* `spack@develop` (889ece85ed4d9305a5b

[2021-07-20 15:57] EthanS94 commented on #20471
Hey @andymwood , which version of intel? Is it 2021.3? Thanks!

[2021-07-20 17:13] srekolam commented on #24497
i see this merged today..can we close this issue ?

[2021-07-20 17:13] sethrj commented on #24981
Yes, I thought I corrected this in https://github.com/spack/spack/pull/24820/commits/b99e237979c421a5df48e612bfd1ecdb6ad9d088 , which then concretized correctly...

[2021-07-20 17:16] sethrj commented on #24981
Crap, I see the problem, I put `depends_on('boost')` rather than `conflicts('+boost')`, so it's specifying the command-line switch to disable boost but including the dependency in the tree. I'll fix this, sorry.

[2021-07-20 17:17] #24497 closed, assigned to srekolam

[2021-07-20 19:13] #24981 closed, assigned to nobody

[2021-07-20 20:05] srisvs33 opened #24992 "Installation issue: BBCP"
Hello everyone

I was trying to install bbcp through Spack. but unfortunately, it is showing the following error message.

Cloning into 'bbcp'...
fatal: dumb http transport does not support --depth
lib/spack/spack/stage.py:501 ==> [2021-07-21-01:23:41.431691] ProcessError: Command exited with status 128:
    '/usr/bin/git' '-c' 'advice.detachedHead=false' 'clone' '--branch' 'master' '--single-bran

[2021-07-20 22:03] adamjstewart opened #24995 "Concretizer option to install oldest version of packages"
By default, Spack installs the latest stable release of a package. I would like a concretizer option that allows me to install the oldest release that Spack knows about for each package in an environment.

### Rationale

I would like to use Spack for CI. Instead of only testing the latest release of my dependencies, I would like to also test the oldest version of these dependencies that I support.

[2021-07-20 22:59] mpokorny opened #25002 "Installation issue: grpc"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.16.2-3512-9a0febab89
* **Python:** 3.8.2
* **Platform:** linux-rhel7-skylake
* **Concretizer:** clingo

### Additional information

* [spack-build-env.txt](https://github.com/spack/spack/files/6851654/spack-build-env.txt)
* [spack-build-out.txt](https://github.com/spack/spack/files/6851655/spack-build-out.txt)

[2021-07-21 04:45] tgamblin commented on #24995
I can't implement this right now, but all it would take is modifying `pkg_version_rules()` in `asp.py`, which sorts the versions from the package and gives them weights.  The comparator defined there (`keyfn`) defines the order of preference and we just enumerate the sorted list and give each version a weight based on its order in that enumeration.

There are other parts that do things like add pr

[2021-07-21 07:06] andymwood commented on #20471
Yes, it's 2021.3.

[2021-07-21 10:19] alalazo opened #25011 "Bootstrapping from sources is broken on develop"
### Steps to reproduce the issue

Trying to bootstrap from sources on `develop` I got the following error cause by #24095:
[code]
i.e. Spack is not able to import the `clingo-bootstrap` that was just installed. The installation is correct and using `git bisect` the first commit that broke the bootstrapping procedure is:
[code]

### Information on your system

* **Spack:** 0.16.2-3579-887820ecb5
*

[2021-07-21 10:27] alalazo commented on #25011
The tree for `clingo-bootstrap` on the system where it fails is:
[code]
Before we were looking in the `python3.6/site-packages` directory, while after that commit we are looking into `python3/dist-packages` which is empty.

[2021-07-21 11:00] haampie commented on #25011
can confirm using the `spack/ubuntu-bionic` docker image (and installing python3-dev first :roll_eyes:)

[2021-07-21 13:10] FiodarM commented on #10493
I seem to experience a similar issue when attempting to install any package. In my case spack hangs on `configure` step using nearly 0% CPU. I have a hypothesis that it can be related to multiprocessing. I had very similar and unpredictable hangs when I was using `multiprocessing.Pool` on a Windows machine.
Here is my system information:
[code]
I don't know if it is important but I run from WSL.

[2021-07-21 13:41] UweSauter commented on #24429
I still get
[code]
As far as I can tell, the innermost `make` doesn't have the necessary include path configured.

If needed I can post the whole log.

[2021-07-21 14:22] #25011 closed, assigned to alalazo, adamjstewart

[2021-07-21 14:37] payerle opened #25013 "Installation issue: metis - metis not building with %nvhpc"
When attempting to build metis using %nvhpc the compilation fails due to various minor compilation warnings (e.g. unused
variables, etc), which get promoted to errors because of the  compilation -Werror flag.

### Steps to reproduce the issue

[code]
The above is only the first such instance of such an error encountered in the compilation of metis; I found about a dozen files have these and simila

[2021-07-21 16:23] trws opened #25017 "boost: update dependents to conform to composable variants"
We've been doing some work on the side for this as part of the BUILD project.  Using boost, and this branch, as a build suite we got some data on all the boost components touched by a c++ compiler as part of building each of the packages depending on boost (at least the ones that actually built).  As a result, we have a full list of boost components used by about half the packages touched in here

[2021-07-21 16:28] trws commented on #25017
@spack/maintainers, if anyone has experience with one of these packages or a minute to set up a PR to update #22303 with the deps for one of these, it would be great.  There are lots of updates to be made here.

[2021-07-21 16:29] trws commented on #25017
@SteVwonder, any chance you could look at the flux-shed package? I'm pretty sure the list we have in here is accurate, but it would be great to have some active testing on it if we could.

[2021-07-21 16:30] trws commented on #25017
@ryandomalley, would you be willing to do the folly update?

[2021-07-21 16:40] srekolam commented on #24431
the patch with #25009  will fix this issue

[2021-07-21 18:35] UweSauter commented on #24431
I can confirm that #25009 fixes this issue. Closing.

Thanks!

[2021-07-21 18:35] #24431 closed, assigned to srekolam

[2021-07-21 19:09] UweSauter commented on #24430
New symptoms.
[code]

[spack-build-out.txt](https://github.com/spack/spack/files/6858211/spack-build-out.txt)

[2021-07-21 19:24] #25013 closed, assigned to nobody

[2021-07-21 23:52] eugeneswalker opened #25028 "trilinos@develop cmake fails: TPL_X11_NOT_FOUND=TRUE"
`trilinos@develop ~adios2~amesos+amesos2~anasazi~aztec+belos+boost~cgns~chaco~complex~debug~dtk~epetra~epetraext+exodus+explicit_template_instantiation~float~fortran+hdf5~hypre~ifpack+ifpack2~intrepid~intrepid2~isorropia+kokkos~matio~mesquite~minitensor~ml+mpi+muelu~mumps+netcdf~nox~openmp~phalanx~piro+pnetcdf~python~rol~rythmos~sacado+shards~shylu+stk~stratimikos~suite-sparse~superlu~superlu-dist

[2021-07-22 02:07] becker33 commented on #16264
Fixed by #21996

[2021-07-22 02:07] #16264 closed, assigned to nobody

[2021-07-22 04:38] mwkrentel commented on #25017
@trws You want updates to the diff in the form of a PR, is that right?
Which repo, branch?

[2021-07-22 04:55] mwkrentel commented on #24845
@adamjstewart Did you try building boost with the PrgEnv-gnu and gcc modules?
All of the other examples do this with Cray and I think that's the answer here.

[2021-07-22 09:45] alalazo commented on #20044
@jacobmerson Can you please double check if this is solved in `develop`? I can't reproduce the error and I think it was related to missing support for the clingo version based on cffi.

[2021-07-22 11:24] haampie commented on #16264
Thanks @becker33, very useful!

[2021-07-22 12:05] sethrj commented on #25028
[code]
I removed the `x11` variant because it wasn't changing any of the actual configure options (and didn't include any of the dependencies). It looks like this is coming through the SEACAS and is required for the `+exodus` option for plotting utilities that look to be required. Is this the first time you've tried building `+exodus` on a mac? It seems likely that trilinos might have been pulling

[2021-07-22 12:31] #24946 closed, assigned to nobody

[2021-07-22 12:40] sethrj commented on #25028
Working on a fix, by the way... testing it before opening a PR.

[2021-07-22 13:42] haampie opened #25034 "develop spec marked installed after build failure."
It seems my develop spec in an environment gets marked as installed in the database even though it fails to build.

Maybe this database corruption wasn't noted before #24049, which now only uses the database to see if a spec is installed, not the filesystem.

I haven't verified this, but I can imagine the issue is that this only happens after a previous successful install, and we simply forget to

[2021-07-22 13:46] haampie commented on #25034
pinging @simonpintarelli who reported the same issue

[2021-07-22 15:17] ryandomalley commented on #25017
Will do!

[2021-07-22 15:37] adamjstewart commented on #24845
Sorry, I'm traveling at the moment. Will test this out when I get back next week.

[2021-07-22 16:27] #25028 closed, assigned to nobody

[2021-07-22 17:50] jacobmerson commented on #20044
I think this is working now with develop (it works on my system).

[2021-07-22 17:50] #20044 closed, assigned to alalazo

[2021-07-22 20:20] payerle opened #25043 "Installation issue: intel-tbb %nvhpc build issues"
When attempting to build intel-tbb with %nvhpc, I am running into a several issues:
1) a number of compiler flags are not recognized by the nvc compilers
2) in several places, the commands to link the code into shared libs is using ld version scripts and complaining about syntax errors in such.

The first issue is common when building with %nvhpc (and truth be told, I "cheat" and have spack pass -

[2021-07-22 21:18] shahzebsiddiqui opened #25047 "raja test failure on shared library"
Here is an example script from Cori running the raja test via `spack test`

[code]

### Error Message

We are getting error message where raja library is not found.

[code]

I can confirm that there is a shared library **libRAJA.so** so its not why linker is not picking up the library when `spack test` is run for the spec. Does spack not setup the environment to load the appropriate paths includin

[2021-07-22 21:37] shahzebsiddiqui opened #25048 "spack prereq"
It would be cool if spack can have a command like `spack check` to  run checks on a HPC system to verify [spack prerequisites](https://spack.readthedocs.io/en/latest/getting_started.html#prerequisites) are met. The `spack check` command is not sub-command so i think we can use this subcommand.

[code]

By default it will run the required checks at the facility to ensure pre-req are met in order to

[2021-07-22 23:00] tldahlgren commented on #25047
I cannot reproduce this problem when I build the package in my own Spack instance on cori and run it.

This leads me to wonder if it has something to do with how the module file was created and or if there is a need for the package to define `setup_run_environment`.

[2021-07-22 23:41] ax3l commented on #7618
Just to update on this old issue before closing it, because it's likely related to either a tooling bug or environment tooling inconsistency between compiler and ranlib/ld/ar used.

In the latest pybind11 releases (v2.6.0 and v2.6.2+), the CMake control was modernized a lot: https://pybind11.readthedocs.io/en/stable/compiling.html#building-with-cmake
Parallel to the `pybind11_add_module` helper fu

[2021-07-22 23:41] #7618 closed

[2021-07-23 00:23] eugeneswalker opened #25050 "llvm@8 build fails on Ubuntu 20.04, GCC 9.3.0, glibc 2.31: narrowing conversion"
`llvm@8` fails to build using:
* `spack@develop` (91b4d974f161bb9f3e38be82b43e8566fa9f1c56 from `Thu Jul 22 10:09:18 2021 -0700`)
* Ubuntu 20.04, GCC 9.3.0 (glibc 2.31)

Same spec builds OK on:
* RHEL 7, GCC 9.3.0 (libc 2.17)
* RHEL 8, GCC 8.4.1 (libc 2.28)
* Ubuntu 18.04, GCC 7.5.0 (glibc 2.27)

It looks like the issue may specifically have to do with glibc 2.31 based on:
* https://stackoverflow.

[2021-07-23 03:55] adamjstewart commented on #25048
@becker33 @alalazo @vsoch are currently working on allowing Spack to bootstrap many of these dependencies itself automatically, so this check may not be needed for much longer.

[2021-07-23 03:57] vsoch commented on #25048
I think that bootstrap PR is for style dependencies only.

it was suggested in slack that this could be done as an extension, @shahzebsiddiqui could you make an extension?

[2021-07-23 03:58] adamjstewart commented on #25048
@vsoch your PR is for style deps only, but we already bootstrap clingo automatically and I think @becker33 was working on other deps too.

[2021-07-23 03:59] vsoch commented on #25048
oh gotcha. Neat!

[2021-07-23 07:46] alalazo commented on #25048
See #22720 for clingo with buildcaches

[2021-07-23 07:50] alalazo commented on #25048
@shahzebsiddiqui Did you try prototyping this with [extension](https://spack.readthedocs.io/en/latest/extensions.html)? Also for the name of the command I think it would be better to use something more specific, like `spack prerequisites`. Finally, if it may be of help, you can find a table of prerequisites for Spack in this [repo](https://github.com/alalazo/spack-bootstrap-mirrors).

[2021-07-23 15:51] EthanS94 opened #25057 "Installation issue: paraview@master Could NOT find catalyst (missing: catalyst_DIR)"
### Steps to reproduce the issue

@mathstuf I'm guessing the recent addition of `VTK_MODULE_USE_EXTERNAL_ParaView_vtkcatalyst` is getting turned on in spack.

[code]

### Information on your system

[code]

### Additional information

### General information

- [x] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [ ] I have run `spack maintainers <name-of-the-pac

[2021-07-23 15:58] EthanS94 commented on #25057
`VTK_MODULE_USE_EXTERNAL_ParaView_vtkcatalyst` is enabled by spack:

[code]

[2021-07-23 16:21] haampie commented on #25034
Seems like `Error: Failed to install sirius due to RuntimeError: the transactional move of` is the main cause btw, it happens every now and then, not always.

[2021-07-23 22:12] payerle opened #25070 "Installation issue: superlu-mt using nvhpc for BLAS/possibly nvhpc +blas issue???"
I am attempting to build superlu-mt +blas %nvhpc using nvhpc+blas as the provider for BLAS, but the build is failing due to undefined references to various aio_* symbols.  Thus does not occur when I try an otherwise identical build for superlu-mt~blas.

In debugging, I see that spack's nvhpc recipe  adds -lnvf to the compilation lines when using LAPACK from nvhpc, which has the various aio_* symbo

[2021-07-23 22:49] mathstuf commented on #25057
Note that `catalyst` will need to be updated to `master` to have all of the fixes to work externally.

https://gitlab.kitware.com/paraview/catalyst/-/commit/8752c02c10e4ce24f2078d1c61ae8be8ee8dd056

[2021-07-23 22:50] mathstuf commented on #25057
I'll also note that it is not enabled explicitly by spack, but instead it is the default from the `PARAVIEW_BUILD_WITH_EXTERNAL=ON` setting.

[2021-07-24 00:20] wdconinc opened #25073 "Replacement of shebang in environment views leaves tilde backup files"
In scripts in environment views, the shebang line (e.g. `#!/usr/bin/python3.8`) is replaced by the (hidden) view directory. However, this leaves a backup file with `~` with the original shebang line. Probably harmless.

### Steps to reproduce the issue

With a `spack.yaml` in the current directory
[code]
setup the environment as follows:
[code]

### Error Message

When correctly installed, I don't

[2021-07-24 04:47] shahzebsiddiqui commented on #25048
So i have not used spack extensions this looks relatively new, though this may be worth a try. @sameershende uncovered some issues on Spock system like basic core utilities like `wget` were not found. So if i understand correctly, the extensions are run via `spack unit-test --extensions=<name>` which is using pytest under the hood to run the test but these may not be portable or applicable across

[2021-07-24 04:57] vsoch commented on #25048
@shahzebsiddiqui from the docs, it looks like the extensions can be run like commands, e.g.,

[code]
The extension can also have tests, which is what you pointed out, but the extension is not explicitly run by the test.

[2021-07-24 04:58] vsoch commented on #25048
This seems pretty straight forward and fun, @shahzebsiddiqui I can put one together this weekend if you like.

[2021-07-24 05:06] shahzebsiddiqui commented on #25047
I can reproduce the error, one needs to load the `e4s/21.02` module on Cori see https://docs.nersc.gov/applications/e4s/cori/21.02/ for more details. This is the default module which will source a spack instance and activate a spack environment. You can use this same script or just run the commands manually and should be able to reproduce the error.

[code]

Now me running the test

[code]

[2021-07-24 05:41] vsoch commented on #25048
Tada!! The 10 minute sleepy project is alive!

https://github.com/vsoch/spack-prereq
https://asciinema.org/a/426954?speed=2

Something along these lines should work for you @shahzebsiddiqui ? Test it out, and update it and PR if you want any more functionality, or to add tests. Happy Friday!

[2021-07-24 05:44] shahzebsiddiqui commented on #25048
So is spack extension the only viable option for running arbitrary test at the facility. I was leaning on having this part of spack codebase or if spack has a repo for it's extension in it's main org. I think most of these checks should be pretty simple and if it's part of spack organization it can gain more visibility and perhaps we can get more contribution.

I think we can run these sanity chec

[2021-07-24 05:49] vsoch commented on #25048
This is probably outside of my decision making, but (my opinion) is that the checks for any specific center are going to be different enough that it wouldn't make sense to have in the production version of spack. But I could see creating an extension, and then if it's popular enough evaluating that again.

If you want explicit test cases with pytest, I didn't implement that (I just did a simple co

[2021-07-24 05:54] shahzebsiddiqui commented on #25048
Great work @vsoch I saw the repo https://github.com/vsoch/spack-prereq and this looks great start . Yeah I think we should have some extension supported under the spack organization so that its easier to find examples right now it's fairly limited and this is a pretty new and powerful feature

[2021-07-24 05:56] vsoch commented on #25048
Sure I can transfer it there if that’s desired, let’s check with @alalazo and @tldahlgren first.

[2021-07-24 12:48] adamjstewart commented on #25048
I personally don't like Spack extensions and I agree with @shahzebsiddiqui. Spack core changes rapidly, and personal extensions quickly become out of date. In this case, checking for Spack's prereqs isn't site-specific and would benefit a lot of people. Of course, if Spack automatically bootstraps its deps, such a command won't be needed anymore.

[2021-07-24 20:25] vsoch commented on #25048
I think the distinction here is allocation of responsibility - in spack core it becomes the responsibility of spack maintainers. An extension is not. The unspoken expectation is "I expect you to keep it working for me." I would argue this is reasonable for most of spack (or any open source project) for something that is a core feature, but people are not entitled to just request that anything and

[2021-07-25 02:54] shahzebsiddiqui commented on #25048
Right now the use-case was to decide whether E4S team should run basic sanity check for tests that depend on E4S Testsuite. I don't think these should be part of E4S Testsuite, bcz these are facility specific tests that can be addressed at the facility in their test suite. That is what buildtest,  reframe, or pavilion address.

I think we should proceed with the extension for now what @vsoch has p

[2021-07-25 02:58] vsoch commented on #25048
I did this last night.

I was thinking about this, and I have mixed feelings. On the one hand, it would be super nice to maintain a single extensions repository and then have common docs, place to post issues, etc., but on the other hand (with the way extensions are currently designed) that means that by adding the repository root you install them all. I think what would be ideal is to take an app

[2021-07-25 08:05] ikitayama commented on #24495
[code]

[2021-07-25 08:05] ikitayama commented on #24495
@tgamblin does the above look sane to you? I generally think on JURECA spack is slow.

[2021-07-25 08:06] ikitayama commented on #24495
Of course I measure it with the latest develop.

[2021-07-25 11:06] alalazo commented on #25048
@adamjstewart I don't think this is always the case. For instance, using `which` to detect executables is stable since a long time and here this is basically the functionality that gets used. Honestly I think extensions would be good in a number of ways to:
1. Deprecate features that have been superseded by new functionality (we can move them to an extension and remove them from core Spack). Think

[2021-07-25 12:04] UweSauter commented on #24745
Could we please reopen?

This happened again with the latest development version which includes #23853.

[code]
`spack.yaml`
[code]
Output:
[code]

[2021-07-25 17:41] vsoch commented on #25048
I would! I like the idea at least. :)

[2021-07-26 15:15] adamjstewart commented on #25073
@becker33 @scheibelp was it one of you working on environment symlinks recently?

I think this would be as simple as using `backup=False` in `filter_file` to prevent these tilde backup files, but I'm not sure where the code is for this.

[2021-07-26 16:52] wspear opened #25093 "Some spack tests fail because they find system executables instead of spack-provided"
We observed this issue operating on the spock system at olcf using the gnu-PrgEnv module and the latest pull of spack to install the e4s environment. Running `spack test run` to do all internal smoke tests resulted in several errors indicating that the spack test for some basic utilities was finding the system executable instead of the one provided by spack. We did not attempt to find any external

[2021-07-26 19:44] tgamblin commented on #22613
I've got a fix for this -- it'll land along with reuse of installed dependencies.

[2021-07-26 19:46] adamjstewart commented on #22613
Is reuse of installed deps coming soon? Cuz that's a really big deal.

[2021-07-26 19:48] tgamblin commented on #22613
It is. Prototype is running -- gotta resolve a few issues but you should be able to try to break it soon.

[2021-07-26 19:49] adamjstewart commented on #22613
This is the single most important change that has happened in Spack since I started using it. We should throw a party.

[2021-07-26 20:02] adamjstewart commented on #21672
Just hit this on Ubuntu 20.04, let me see if I can fix this.

[2021-07-26 20:03] adamjstewart commented on #22335
Just hit this on Ubuntu 20.04, also see #21672. Will try to fix this today.

[2021-07-26 20:07] EthanS94 commented on #25057
@mathstuf What does this mean for fixing the spack build? Should the package have a `depends_on(catalyst)`? Or is setting `VTK_MODULE_USE_EXTERNAL_ParaView_vtkcatalyst:BOOL=OFF` as in the above PR the correct path?

[2021-07-27 06:50] sanjtrip commented on #24745
Hi @UweSauter, Can you please test with "concretization: separately" and update ?

[2021-07-27 06:51] fabratu opened #25102 "Installation issue: py-scipy@1.7.0 complains about missing libgomp on macOS 11.14.6."
`py-scipy` fails to build/install on my local machine (macOS 11.4.6, x86_64). If installed with `spack install -v py-scipy`, version 1.7.0 complains about a missing `libgomp`.

Mentioning maintainer: @adamjstewart

### Steps to reproduce the issue

[code]

### Information on your system

[code]

### Additional information

[spack-build-out.txt](https://github.com/spack/spack/files/6878752/spack-bu

[2021-07-27 08:47] UweSauter commented on #24745
`concretization: separately` succeeds but again wants to install multiple versions of `llvm-amdgpu` (and possibly other packages, haven't checked).

[concretize.log](https://github.com/spack/spack/files/6884067/concretize.log)
[spack.lock](https://github.com/spack/spack/files/6884072/spack.lock.txt)

[2021-07-27 09:25] haampie commented on #24745
The issue is rocm-openmp-extras, it depends on llvm-amdgpu ~rocm-device-libs, but I can't comment on whether this is necessary or not. See also https://github.com/ROCm-Developer-Tools/aomp/issues/217#issuecomment-848847695

[2021-07-27 12:50] #21672 closed, assigned to nobody

[2021-07-27 12:50] #22335 closed, assigned to nobody

[2021-07-27 13:39] mathstuf commented on #25057
Until Spack packages a new enough `catalyst`, using ParaView master's embedded copy is suitable. There should be a `catalyst` release before 5.10 though.

[2021-07-27 16:02] sanjtrip commented on #24745
@srekolam, can you update on rocm-openmp-extras dependencies and how can we remove the circular dependency ?

[2021-07-27 18:06] garth-wells opened #25111 "Recommended approach when a package changes build system (KaHIP)?"
Is there a recommend approach for when a package changes build system? The package in question is `kahip` [1], which has changed from SCons (v.2) to CMake (v.3). The current Spack package is for KaHIP version 2.0 and uses SCons. The latest KaHIP release series is v.3.

[1] https://github.com/spack/spack/blob/e5bbb6e5b4a1af25dd46101bfc044d04deb10cb5/var/spack/repos/builtin/packages/kahip/package.py

[2021-07-27 18:11] quellyn opened #25112 "`spack compiler find` cannot locate IBM XL Fortran compilers"
When I run `spack compiler find` it doesn't appear to successfully locate the IBM XL Fortran compilers via the module I have loaded.

### Steps to reproduce the issue

[code]
[code]
[code]

### Error Message

When I examine my `~/.spack/compilers.yaml`, I see that `spack` could not find paths to the IBM Fortran compilers:
[code]

### Information on your system

[code]

The above output is from an

[2021-07-28 03:25] Tom-python0121 opened #25119 "spack install --keep-stage -v npm failed in centos8_aarch64"
Hello,I meet a problem:spack install --keep-stage -v npm failed in centos8_aarch64.
### Steps to reproduce the issue

[code]
Can you tell me how to solve this problem?
### Information on your system
[root@centos8 spack-src]# spack debug report
* **Spack:** 0.16.1-1624-a0b5dcca3c
* **Python:** 3.6.8
* **Platform:** linux-centos8-aarch64
* **Concretizer:** original

### Additional information

* [sp

[2021-07-28 14:38] manuelakuhn commented on #24928
I get a similar error message on my fedora 32 system:

[code]
spack debug report
* **Spack:** 0.16.2-3697-ac2444f1d5
* **Python:** 3.8.10
* **Platform:** linux-fedora32-haswell
* **Concretizer:** clingo

In addition I had the problem as well on a debian 9 system. Somehow I managed to get it to work there by checking out a new clone and removing the `~/.spack` directory (rm ~/.spack alone did not d

[2021-07-28 14:45] alalazo commented on #24928
@manuelakuhn It's a bug due to #24095 Short version is that `clingo` is installed correctly, but Spack computes the wrong directory to add to PYTHONPATH. I'll work on a fix to it asap.

[2021-07-28 14:53] manuelakuhn commented on #24928
Thank you!

[2021-07-28 15:30] #25057 closed, assigned to nobody

[2021-07-28 18:22] alalazo commented on #24971
One are artifacts that the maintainer of the repo uploaded and attached to a version release, the other is an automatically generated tarball or the repository at a given tag.

[2021-07-29 13:37] alalazo commented on #24901
We can add:

<details>

<summary>$ spack audit packages </summary>

[code]

</details>

to the unit-tests, but we need to fix the reported errors first (most of them are coming from ParaView).

[2021-07-29 13:49] alalazo commented on #24812
@permeakra I'll try to debug this with low priority. Can you check if bootstrapping from binaries with #22720 works on your system? The setup requires some manual work at the moment, but when the PR is merged the buildcache will be in a public location so everybody could pull from it.

[2021-07-29 14:22] fabratu commented on #25102
I corrected the wrong macOS version number in the issue-title.

[2021-07-29 16:44] srekolam commented on #24429
hello Uwe,
I looked at the cmake/PythonModules.cmake inside the migraphx .  it is using the following
set(PYTHON_SEARCH_VERSIONS 2.7 3.5 3.6 3.7 3.8 3.9) ,
set(_PYTHON_VERSIONS)
foreach(PYTHON_VERSION ${PYTHON_SEARCH_VERSIONS})
    find_python(${PYTHON_VERSION})

and it tries to build the migraphx_py.cpp for each of these python versions and for python3.8 , it is able to find the Python.h using th

[2021-07-29 16:47] srekolam commented on #24745
Hello Uwe,
Can you please help me with more information when you say ' but again wants to install multiple versions of llvm-amdgpu (and possibly other packages')
do you mean you wanted to use different rocm version of llvm-amdgpu like 4.2.0, 4.1.0 in same environment.

[2021-07-29 17:04] srekolam commented on #24430
Hello Uwe,
The sudo permissions issue that you reported is being looked at currently and some of changes to the CMakeLists.txt is currently in progress. I will update you once we have this working. Thanks in advance

[2021-07-29 18:55] tldahlgren commented on #25093
I have experienced this problem as well with packages depending on a specific `CMake`.

[2021-07-29 18:56] tldahlgren commented on #17680
Closed through #17686

[2021-07-29 18:56] #17680 closed, assigned to tldahlgren

[2021-07-29 19:05] tldahlgren commented on #24773
Note the upstream issue:  https://github.com/open-source-parsers/jsoncpp/issues/1136

[2021-07-29 19:05] tldahlgren commented on #24773
And a (temporary) "fix": https://github.com/spack/spack/pull/24774

[2021-07-29 19:05] #24773 closed, assigned to nobody

[2021-07-29 19:08] tldahlgren commented on #25047
As I mentioned off-line, I *can* reproduce the problem after loading the environment.

[2021-07-29 20:29] alalazo commented on #24928
Can you check if #25138 solves this issue?

[2021-07-29 20:55] robertu94 commented on #24928
@alalazo Ill have time to test this Monday

[2021-07-29 20:57] ikitayama opened #25139 "llvm: OpenMP offloading File 'a.out' does not contain device code"
`llvm` built with `spack install llvm+omp_debug+cuda cuda_arch=80` , but I build test code like below:

[code]

with `clang++ -fopenmp -fopenmp-targets=nvptx64 tmp.cc` cuobjdump says there's no device code.

[2021-07-29 20:57] ikitayama commented on #25139
Do I need extra options when compiling?

[2021-07-29 21:01] ikitayama commented on #25139
@naromero77  @trws I appreciate you jump in and comment

[2021-07-29 22:10] adamjstewart commented on #24901
Didn't even realize this command existed! Yes, we should add that. This only checks variants, right? Would it be possible to check versions too?

[2021-07-29 22:13] ikitayama opened #25141 "Installation issue: cuda; OverflowError: signed integer is greater than maximum"
[code]

[2021-07-29 22:13] ikitayama commented on #25141
@Rombur  @ax3l would you take a look at it?

[2021-07-30 00:36] ikitayama commented on #25141
After pulling the update, I was able to build `cuda@11.4`

[2021-07-30 00:36] #25141 closed, assigned to nobody

[2021-07-30 01:22] omor1 opened #25143 "mvapich2 vendored hwloc dependency"
### Description
`mvapich2` vendors its `hwloc` dependency; this causes problems when applications or runtimes depend on both `mpi` and `hwloc`. This can be partially worked around by ensuring that both `hwloc` versions are the same—but whether this works depends on the link order of the application (in particular, it seems that `mvapich2`'s `libmpi.so` must be linked before `libhwloc.so`).

The pr

[2021-07-30 05:58] manuelakuhn commented on #24928
A quick check seems to work for me (patch + run `spack spec python`). I can do a more proper check either this evening or on the weekend.

[2021-07-30 06:34] UweSauter commented on #24745
@srekolam: What I mean is that I expect only one version per package inside that environment. Meaning all packages dependending on e.g. `llvm-amdgpu` should require the same configuration parameters for `llvm-amdgpu` so that only one `llvm-amdgpu` configuration needs to be built.

I don't want to mix release versions inside the environement; I want to have a ROCm 4.2 environment that does not incl

[2021-07-30 06:50] UweSauter commented on #24429
I don't know why Cmake is unable to find the `Python.h` for 3.6m.

My environment has 2 Python versions provided by the OS:
[code]
as well as those that spack installs, e.g.
[code]

Please explain why Cmake is searching for all those Python versions if I explicitly tell spack that `migraphx` should `depend_on('python@3:8', type='build')`? This is counter-intuitive as well as counter-productive…

[2021-07-30 06:57] alalazo commented on #24901
@adamjstewart In general it's possible to add new checks in a quite simple way (they're just decorated functions that inspect a specific aspect of Spack). Going back to versions, there the thing is quite tricky, since we allow to have as externals versions that are not listed in packages which e.g. we don't for variants.

[2021-07-30 09:25] ikitayama commented on #25139
I wasn't able to offload the kernel as I was setting `OMP_TARGET_OFFLOAD=disabled` , how do I make sure the device code is actually in the binary?

[2021-07-30 11:45] gpotter2 opened #25146 "Add cudnn version 8.2.2 (Cuda 11.4)"
### Description

[The `cudnn` spec](https://github.com/spack/spack/blob/develop/var/spack/repos/builtin/packages/cudnn/package.py
) should be updated to add version `8.2.2` wich supports Cuda 11.4. This is an issue because 11.4 is now the default cuda version. See the [cudnn support mattrix](https://docs.nvidia.com/deeplearning/cudnn/support-matrix/index.html).

I had some conflicts trying to inst

[2021-07-30 13:03] #25146 closed, assigned to nobody

[2021-07-30 13:21] jacorvar opened #25149 "r-cairo installation fails"
Hi,

I am trying to install all R packages from spack in an environment. I can install most of them properly, but `r-cairo` and others dependent on this one fail.

Then I proceed to install packages and get the following for `r-cairo`:
[code]

### Information on my system

[code]
### Additional information
My environment config file looks like this:
[code]

- [x] I have run `spack debug report` an

[2021-07-30 13:46] shahzebsiddiqui commented on #18588
hi @becker33 can we consider having a `[E]` option or `[e]` to show external packages in concretized output. See https://spackpm.slack.com/archives/C5W7NKZJT/p1625232749310400?thread_ts=1625197335.306700&cid=C5W7NKZJT for our conversation, perhaps some others may have idea.

[2021-07-30 13:48] shahzebsiddiqui commented on #10947
i am going to close this issue now, yeah now i think about this doesn't really make sense.

[2021-07-30 13:48] #10947 closed

[2021-07-30 13:50] shahzebsiddiqui commented on #13923
Just following up on my old tickets. Does it makes sense to keep this ticket around? @adamjstewart @tgamblin

[2021-07-30 13:51] shahzebsiddiqui commented on #24684
hi @becker33 can we consider having a `[E]` option or `[e]` to show external packages in concretized output. See https://spackpm.slack.com/archives/C5W7NKZJT/p1625232749310400?thread_ts=1625197335.306700&cid=C5W7NKZJT for our conversation, perhaps some others may have idea.

[2021-07-30 14:15] adamjstewart commented on #13923
No preference from me.

[2021-07-30 14:31] adamjstewart commented on #24901
Yes, I don't want to check for existing versions at run-time, I just want to statically make sure that if a package A requires B@2+, then package B has at least one version at 2 or higher. An external version should not affect this.

P.S. Why does `spack audit` exist? Like, couldn't we just merge that into the package sanity tests? They seem to serve the same purpose, except only package sanity ge

[2021-07-30 14:38] alalazo commented on #24901
The idea of `spack audit` is to add checks that are either too onerous to be done automatically or tied to some customization done by the user. For instance:
[code]
can be run when a user repository is registered and there is also:
[code]
to detect common issues with configuration.

[2021-07-30 15:36] luca-heltai commented on #24658
Notice that this issue was not present in an erlier version of the gmsh package file in spack.

This line: `depends_on('gl2ps')`  introduced *a lot* of additional dependencies (including flex and scotch above) and it seems it is *not* really a required dependency (I think it should be optional and set to off by default). Commenting it out (as it was in the previous commit) results in a perfectly f

[2021-07-30 16:01] Rombur commented on #24658
I have done some digging and I don't think that gmsh depends on GL2PS. GL2PS and gmsh authors are the same person and a subset of GL2PS is included in gmsh. gmsh does not depend on GL2PS but it shares some code with it. I don't think this dependency should have been added.

[2021-07-30 21:04] glennpj commented on #25149
I can build `r-cairo` with your specs outside of an environment.
[code]
Your environment snippet indicates that other packages are installed and I suspect that the problem is from
[code]
with something else in the environment causing the problem. You might be able to track this down by setting
[code]
If you force reconcretization and install you might be able to see what the culprit is as you will

[2021-07-30 23:37] wspear opened #25164 "Installation issue: clingo-bootstrap"
### Steps to reproduce the issue

Set up a spack environment to use the clingo concretizer by adding

  config:
    concretizer: clingo

to the spack.yaml file. Then run:

[code]

### Information on your system

* **Spack:** 0.16.2-3738-b4c6c11e68
* **Python:** 3.6.13
* **Platform:** cray-sles15-zen2
* **Concretizer:** clingo

### Additional information
I encountered this issue on the Spock EA sys

[2021-07-31 00:17] harisubramoni commented on #25143
Hi,

MVAPICH2 supports hwloc v1 and v2 as configure time options. So far, we've
seen that Gromacs requires v1. Are there any other applications that rely
directly on hwloc and mpi?

We will also see if we can rely on an underlying version. However, since
there are differences in some of the APIs in hwloc v1 and v2 I'm not sure
if this alone will help. MVAPICH2 will have to be built against the ver

[2021-07-31 00:59] ikitayama commented on #17199
Is Nsight going planned to be packaged?

[2021-07-31 00:59] ikitayama commented on #17199
Not only for Cori though.

[2021-07-31 01:06] #25139 closed, assigned to nobody

[2021-07-31 19:22] adamjstewart commented on #24845
Thanks, adding `PrgEnv-gnu` to my compiler modules list seems to solve the problem!

[2021-07-31 19:22] #24845 closed, assigned to nobody

[2021-07-31 20:10] shahzebsiddiqui commented on #25048
I tested out this extension on my mac and it worked! Does it make sense to document the core spack extensions in https://spack.readthedocs.io/en/latest/extensions.html or do we document them in their separate projects. I noticed that @alalazo extension for `spack filter` was added in https://github.com/spack/spack-prereq/commit/bfc21bd4ecd9507dd54fe27ed8f447e651746207 but removed by @vsoch in http

[2021-07-31 21:17] vsoch commented on #25048
@shahzebsiddiqui I think you are getting confused just because the spack pre-req extension is based off of the filter extension and thus has a common commit history - I did this only to give @alalazo credit for most of that structure that he designed, and it doesn't indicate that repository is the "master extensions" repo that filter was removed from. There hasn't been discussion / decision about

[2021-08-01 01:40] adamjstewart commented on #25164
Bootstrapping clingo currently requires Python's development libraries to be present. @alalazo has a PR that can bootstrap from binaries that may solve this. In the meantime, you'll have to use Spack's original concretizer to build clingo instead of relying on Spack to bootstrap it automatically.

[2021-08-01 04:46] omor1 commented on #25143
In my private branch of Spack I've actually exposed `hwloc=v1` and `hwloc=v2` as variants on `mvapich2`. There are other applications that rely directly on hwloc in addition to MPI—in my case, that's PaRSEC, but this is not uncommon in certain higher-level runtimes that utilize MPI for communication. The problem is that regardless of whether v1 or v2 API is needed (PaRSEC can use either), MVAPICH2

[2021-08-01 04:54] omor1 commented on #25143
[code]

Note that the PaRSEC application links to MVAPICH2 before hwloc:
[code]

On the other hand, the DPLASMA application links hwloc before MVAPICH2:
[code]

[2021-08-01 07:58] manmohanbrahma opened #25171 "xios 2.0 and xios 2.5 build fails with spack"
@adamjstewart

[code]

The same issue persists with XIOS 2.5 build. The same issue occurs with GCC v8.3 build as well.

[2021-08-01 08:06] manmohanbrahma opened #25172 "spack fails to build netcdf4-fortan with AOCC"
### Steps to reproduce

[code]

### Information on your system

* **Spack:** 0.16.1-2216-c011e2156f
* **Python:** 3.6.8
* **Platform:** linux-centos8-zen3
* **Concretizer:** original

@WardF @skosukhin

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have searched the issues of this repo and believe this is not a duplicate
-

[2021-08-01 10:38] manuelakuhn commented on #24928
I did some further tests and at least for me the patch seems to fix the issue. Thank you very much.

[2021-08-01 16:32] adamjstewart commented on #25171
It looks like our `xios` build recipe has no official maintainer. My suggestion would be to contact the `xios` developers and report this build issue.

[2021-08-01 20:19] adamjstewart commented on #23123
I wrote basically all of our current [Build Systems](https://spack.readthedocs.io/en/latest/build_systems.html) docs, so here are my thoughts.

### Cons

I'm a bit afraid to include this in Spack's documentation because it isn't really specific to Spack. The current build system docs explain a bit about each build system, but only enough to write a Spack package for it. Our documentation is alread

[2021-08-01 20:31] adamjstewart commented on #19298
I finally got around to documenting this! Can you see if #25174 does a good job of explaining how to support multiple build systems? If anything is unclear, let me know and I'll try to improve the docs.

[2021-08-01 20:31] adamjstewart commented on #13466
I finally got around to documenting this! Can you see if #25174 does a good job of explaining how to support multiple build systems? If anything is unclear, let me know and I'll try to improve the docs.

[2021-08-01 20:31] adamjstewart commented on #22209
I finally got around to documenting this! Can you see if #25174 does a good job of explaining how to support multiple build systems? If anything is unclear, let me know and I'll try to improve the docs.

[2021-08-01 20:31] adamjstewart commented on #25111
I finally got around to documenting this! Can you see if #25174 does a good job of explaining how to support multiple build systems? If anything is unclear, let me know and I'll try to improve the docs.

[2021-08-01 20:31] adamjstewart commented on #20364
I finally got around to documenting this! Can you see if #25174 does a good job of explaining how to support multiple build systems? If anything is unclear, let me know and I'll try to improve the docs.

[2021-08-01 21:32] omsai commented on #23123
@alalazo That's one of my favorite autotools resources!  I actually ran into the author on one of Adafruit's Discord channels last year and thanked him for the excellent resource; his day job  has since taken him away from that type of work and he lamented not completing the online book as much as he originally intended.  It's been adequate for my purposes though.

@adamjstewart Yes, looking at it

[2021-08-02 03:24] mwkrentel commented on #24845
@adamjstewart For Cray, adding `PrgEnv` to the `compilers.yaml` entry is
essential.  But I would suggest that the safest course is also to add the module
for the compiler, especially if it's a system (non-spack) module.

For example, I've seen this happen.  A system comes with pre-built
(non-spack) modules for gcc x.y and cmake built with this gcc, and you
add an external cmake to `packages.yaml`.

[2021-08-02 07:37] jacorvar commented on #25149
My ultimate goal is to install R and all its packages from spack in a single environment. The downside of concretizing separately is I can get multiple R installations (multiple r@4.0.4 indeed), but I need a single one. Otherwise I get packages depending on different R's, and cannot use them from a single R.
However, I can't understand why multiple r@4.0.4 become installed, since I'm specifying at

[2021-08-02 08:12] pelahi opened #25177 "Installation issue: charmpp"
### Steps to reproduce the issue

The issue is how charmpp defines compiler names and how inflexible it is. The spack recipe will need an update to deal with this issue. To highlight it, I have tried building charmpp with three different GNU compiler versions.

Here are the compiler versions and the spec produced.
[code]

The resulting builds follow:
[code]

There are similar issues on a cray syst

[2021-08-02 08:29] jayvdb opened #25179 "Installation issue: perl on BigSur"
### Steps to reproduce the issue

Using `develop` branch

[code]

Each time I run this, it pops up xcode prompt asking to install command line tools, which I do successfully, and then the same error occurs.

Running the following on the terminal succeeds
[code]

I have built and installed perl-5.34.0 from source without problems.

I am able to `spack install..` other packages, inc. pkgconf, berkel

[2021-08-02 11:45] manuelakuhn opened #25180 "`spack style` fails because it uses system python instead of spack-provided one"
### Steps to reproduce

I tried to run `spack style` to check if my new packages follow the spack format. This failed because spack used the system python, which is too old, instead of using the one provided by spack itself.

[code]
It should not matter if `python` is installed instead of `py-flake8` because `spack style` gives the same result after running `spack load python`.

This might be rela

[2021-08-02 12:03] permeakra commented on #24812
@alalazo I'll check later this week.

[2021-08-02 12:49] stephenmsachs opened #25182 "openfoam-org does not concretize due to incompatible default flex (2.6.3) version"
### Steps to reproduce

[code]

However, `spack  install openfoam-org^flex@2.6.1` works just fine.

### Error message

_No response_

### Information on your system

Skylake
Amazon Linux2

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have searched the issues of this repo and believe this is not a duplicate
- [X] I have run

[2021-08-02 15:35] adamjstewart commented on #25182
You can either use the new concretizer by adding the following `config.yaml`:
[code]
or by explicitly specifying the version of `flex` to use as you already noted. The new concretizer will become the default in Spack 0.17.

[2021-08-02 16:42] glennpj commented on #25149
It could be because something is requiring a different version or variant of something, anything really, in the dependency chain. You can use `spack spec` to evaluate those and try to come up with a set of constraints that you can put in a `packages.yaml` file or the `packages:` section of the environment's `spack.yaml`. Alternatively, you may want to try Spack's new concretizer.

[2021-08-02 20:35] robertu94 commented on #24928
@alalazo this doesn't fix the issue for me.  Here is the output that I get when I try this:

[code]

[2021-08-02 20:37] robertu94 commented on #24928
However if I apply the patch I mentioned earlier, it works for me with your new patches @alalazo

[2021-08-02 23:32] srekolam opened #25195 "Installation issue: hip using cmake-3.21.1"
### Steps to reproduce the issue

 spack  install -v hip
[+] /spack/opt/spack/linux-centos8-skylake_avx512/gcc-8.3.1/pkgconf-1.7.4-6kb5qdvzffhclwpx25wmbr65hpeidtej
[+] /spack/opt/spack/linux-centos8-skylake_avx512/gcc-8.3.1/berkeley-db-18.1.40-2ppyrsl6t7cjdajhihkucem6tykaqbke
[+] /spack/opt/spack/linux-centos8-skylake_avx512/gcc-8.3.1/libiconv-1.16-ugkwz7ufoj6aa42jvsd7kagsh5wajbpv
[+] /spack/opt/s

[2021-08-02 23:52] jayvdb commented on #25179
explicitly setting `export SYSTEM_VERSION_COMPAT=0` works around the problem
https://stackoverflow.com/questions/67349383/xcodebuild-issue-after-upgrading-to-xcode-12-5

[2021-08-03 00:29] wspear commented on #25164
When I tried this with the default concretizer I ran into a different (presumably compiler specific) error. I'm pretty sure gcc 10.3 is way above C++14 compliance so I'm not sure what's going on here...

[code]

[2021-08-03 02:00] pelahi commented on #22970
Hi @vicentebolea , @elleryames, I have also encountered this issue and wonder if any further work has been done. How can I help? Would it be useful for me to test the proposed solution on a variety of architectures?
Also, do you know if similar issues have been encountered when using clingo?

[2021-08-03 06:50] alalazo commented on #25164
@wspear Can you show:
[code]
?

[2021-08-03 09:08] haampie commented on #25195
:laughing: cmake 3.21 adds hip language support but it can't build hip?

[2021-08-03 10:41] alalazo commented on #24812
@robertu94 The Gentoo specific issue in #24928 is being tracked here

[2021-08-03 11:35] #25043 closed, assigned to nobody

[2021-08-03 12:10] alalazo commented on #25180
When you:
[code]
Spack sets the `SPACK_PYTHON` environment variable to point to the interpreter used for Spack. From there on  `${SPACK_PYTHON}` will be used as the interpreter for Spack no matter what is the current `python` in your shell. You can of course change the environment variable value to point to a different interpreter.

[2021-08-03 13:42] haampie opened #25203 "spack uninstall warns about unrelated named environments when using multiple install roots (e.g. bootstrap store)"
### Steps to reproduce

Named environments can use different install roots in their `config` section. In fact, the install root of a named environment can be overridden on the command line using `spack -e env -c config:install_tree:root:path/to/somewhere`.

This means that environments are not tied to a particular install root.

When removing a spec outside environments, Spack warns when that spec

[2021-08-03 14:53] #24928 closed, assigned to alalazo

[2021-08-03 15:42] christoph-conrads commented on #24761
Spack does not propagate the default target to dependent packages on the Jean Zay supercomputer when making a package build with a dependency on a specific MPI implementation; removing `perl` in `~/.spack/packages.yaml` does not help:
[code]
Both specs `melissa@develop ^openmpi` and `melissa@develop ^openmpi@4.0.2` trigger the issue.

`openmpi@4.0.2` is a loadable module:
[code]

[code]

`spack sp

[2021-08-03 15:53] balay commented on #24761
Presumably the following might work (as it did in my usage):

[code]

[2021-08-03 15:56] christoph-conrads commented on #24761
Yes, it works. For future readers: the `target` must be listed right behind `melissa@develop`.

[2021-08-03 17:15] wspear commented on #25164
I started over with a fresh clone of spack and removed my compilers.yaml and repopulated it but that didn'thelp. The duplicate compiler entries are identical which seems like a bug but I'm not sure how to reproduce it elsewhere.

spack find -d
[code]
spack compilers (showing gcc only)
[code]

[2021-08-03 17:17] jacorvar commented on #25149
I've tried the laziest way: installing `clingo@master` with same gcc and arch as the environment, and then setting `concretizer: clingo` in the `~/etc/spack/defaults/config.yaml` file.

However, it prompts the following error:
[code]

[2021-08-03 17:43] eugeneswalker opened #25225 "Installation issue: strumpack@5.1.1 +rocm: relocation R_X86_64_32 against symbol... recompile with -fPIC"
### Steps to reproduce the issue

`strumpack@5.1.1 +rocm` builds recently began failing using:
* `spack@develop` (5698850dc47b20a6fc648a7b15b1ee37fa170c16 from `Tue Aug 3 17:18:19 2021 +0530`)
* Ubuntu 20.04 (GCC 9.3.0)
* Ubuntu 18.04 (GCC 7.5.0)
* RHEL 7 (GCC 9.3.0)
* RHEL 8 (GCC 8.4.1)

Concrete spec: [strumpack-z7u4ht.spec.yaml.txt](https://github.com/spack/spack/files/6926021/strumpack-z7u4ht.

[2021-08-03 17:59] alalazo commented on #25164
Apologies @wspear there's a typo on my end, I meant:
[code]
to check what was installed in the bootstrap store.

[2021-08-03 18:03] wspear commented on #25164
$ spack find -b
==> Showing internal bootstrap store at "/ccs/home/wspear/.spack/bootstrap/store"
==> 16 installed packages
-- cray-sles15-x86_64 / gcc@10.3.0 ------------------------------
berkeley-db@18.1.40  bzip2@1.0.8   diffutils@3.7  libiconv@1.16    m4@1.4.19    openssl@1.1.1k  pkgconf@1.7.4  readline@8.1
bison@3.7.6          cmake@3.20.5  gdbm@1.19      libsigsegv@2.13  ncurses@6.2  perl@5

[2021-08-03 18:10] alalazo commented on #25164
@wspear What I see is that apparently the spec to bootstrap clingo concretized to something, so Spack knows what it _should_ do.

The bootstrap store though has no mention of `python`, which is strange (it should be registered as an external as `python@3.6`). Also, from the CMake error you posted it seems CMake couldn't detect Python (it needs the interpreter + headers + libraries) and thus couldn

[2021-08-03 18:11] vicentebolea commented on #22970
@pelahi there was a PR that resolved this, however, it has been in hold for 3 months. I will rebase it a ping you from there

[2021-08-03 18:22] balay commented on #25225
The recent strumpack change switched  default for `shared` from `false` to `true`.

https://github.com/spack/spack/pull/25058/files

If this change is a trigger for this error - perhaps using `strumpack shared=false` will get this build going

[but yeah - good to fix `shared` build failures]

[2021-08-03 18:22] sanjtrip commented on #24429
@srekolam Do we have any update on this ?

[2021-08-03 18:41] eugeneswalker commented on #25225
Ahh yes, I see, that was what triggered this. `strumpack +rocm ~shared` succeeds. Should we leave this issue open as a record of the `strumpack +rocm +shared` build issue?

[2021-08-03 18:47] wspear commented on #25164
Not sure if this is useful, but the spec shows a sub-dependency on python@3.8.11. Nothing about 3.6. Anything else I can do to either bypass this or help diagnose? I've successfully used clingo provided by pip but I thought it was worth while trying to get it work from bootstrap here.

[code]

[2021-08-03 18:56] alalazo commented on #25164
@wspear When we bootstrap we temporarily override part of the configuration and:
- Set the store to an alternate place (to keep the software installed for Spack's purposes separated from the one you need for your own work)
- Register the current Spack interpreter as an external Python
- Fix the version of clingo we want to use, for compatibility reasons

This is to say that I expected to see `pyth

[2021-08-03 19:19] wspear commented on #25164
Running `spack -d solve zlib` does a lot, but eventually fails with the  `Could NOT find Python (missing: Python_LIBRARIES Interpreter Development` error.

It is trying to use the python3.6 for that. Would it be worth while to try again after setting SPACK_PYTHON to the 3.8 that this spack already built?

[2021-08-03 19:33] pghysels commented on #25225
I pushed a fix for this in the STRUMPACK master branch: https://github.com/pghysels/STRUMPACK/commit/23f2e974e51306f3a4c6eec5463480d080dfc411
I will see if I can create a patch for spack.

Thanks for reporting this!

[2021-08-03 20:13] adamjstewart commented on #25093
I just encountered this as well. This affected `cmake`, `hdf5`, `m4`, `perl`, `python`, and `sqlite`, all of which expect to find their executables in their installation prefix. Are we not running `setup_run_environment` before running these tests?

[2021-08-03 23:17] pghysels commented on #25225
I added a patch to spack
https://github.com/pghysels/spack/commit/7bc62f3ba2443c304c23bfcc616105209c4fe9e2
and I want to create a pull request from this, but now I'm testing it and I'm getting errors installing rocblas-4.2.0.

[2021-08-04 15:02] christoph-conrads commented on #12520
The problem is triggered on the Jean Zay supercomputer (RedHat Enterprise Linux 8.1) when a specific OpenMPI module is a dependency (OpenMPI 4.0.2, CUDA-enabled, module `openmpi/4.0.2-cuda`). The OpenMPI module in question depends on one of the available CUDA modules. The Spack exception does not disappear when the CUDA module is added as a dependency to `packages.yaml` but only when the modules a

[2021-08-04 15:15] adamjstewart opened #25249 "Document how to display loaded modules"
### Summary

We should do a better job of documenting how to display a list of all modules loaded by `spack load`. This may require documentation in multiple places, including references in other commands, tutorials, and reference docs. Basically anywhere that we mention that `spack load` exists.

### Rationale

This is probably the second most common question I see on Slack/GitHub after #22287.

[2021-08-04 15:26] ravil-mobile commented on #25249
Hi,

I guess `spack find --loaded` is not so intuitive for many people because `spack --help` says that `find` lists and searches installed packages.
Maybe adding a new command (e.g., `spack show --loaded`) will make it clear. What do you think?

[2021-08-04 15:30] adamjstewart commented on #25249
We could also add the flag to `spack list` for people who are familiar with `module list`.

[2021-08-04 15:32] adamjstewart commented on #25073
Another symptom of this: when using `jupyter` from an environment, I see:
[code]

[2021-08-04 15:34] christoph-conrads commented on #12520
The issue can be triggered with packages other than HDF5 for me; what matters is the OpenMPI dependency.

[2021-08-04 17:05] jacorvar commented on #25149
I have tried to install r-cairo outside of the environment and after `spack clean -a`) and I still get the same error:
[code]

[This is the full log.](https://github.com/spack/spack/files/6933124/out.log)

Could it be a GCC-related issue?

[2021-08-04 17:13] sanjtrip commented on #24430
@UweSauter, We were able to reproduce this internally - changes to CMake are in progress. Once fix rolls out, @srekolam or I will update. Adding @srinivamd.

[2021-08-04 17:16] ravil-mobile commented on #25249
I guess the original `spack list` command was a bit ambiguous for users because it is actually searching for available packages. I would rename this command to `spack search` and use `spack list` to display currently loaded modules. Then `spack list` will be a complete analogue of `module list` and there will be no question because, as I suspect, the most of Spack users are HPC people.

[2021-08-04 17:22] adamjstewart commented on #25249
See #4159 and #2867 for some historical discussions on Spack command names. We've certainly thought about this before, but Spack isn't just for HPC and thinks like `apt`, `dnf`, `brew`, etc. use very different command names. It's hard to be consistent with other tools when all other tools use different names.

[2021-08-04 18:29] cjobrie opened #25254 "If urrlib fails fetching, fallback to curl"
### Steps to reproduce

[code]

### Error message

[code]

This error occurs for each and every package I've tried to download. I'm going through a poxy but I've tried off and on the proxy. Nothing helps.

Any ideas?

### Information on your system

[code]

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have searched the iss

[2021-08-04 18:51] adamjstewart commented on #25254
Can you try the following `config.yaml`:
[code]
Spack recently switched from using `curl` to download all files to using Python's urllib library, which gives us better Windows support.

[2021-08-04 18:58] cjobrie commented on #25254
This fix did works for me! Thanks so much. The question is why didn't spack fall-back to `curl` when the `urlllib` didn't work?

[2021-08-04 19:00] adamjstewart commented on #25254
I have the same desire, @loulawrence how hard would that be to implement?

[2021-08-04 21:02] mwkrentel commented on #25249
I recall wanting to do this a few months back.  Since this is a
question about modules and spack already has a "user environment"
section on modules, I read everything there was about spack load,
unload and module.  Didn't find anything.  Never thought to try spack
find.

IMO, `spack find --loaded` is misplaced.  Spack find is a question
about what is/not installed.  This is more a question about

[2021-08-04 23:02] hainest commented on #20491
I am running into a similar problem on Theta with LLVM. If I do

    $ hostname
      thetalogin4
    $ cat /etc/os-release
      NAME="SLES"
      VERSION="15-SP1"
      VERSION_ID="15.1"
      PRETTY_NAME="SUSE Linux Enterprise Server 15 SP1"
      ID="sles"
      ID_LIKE="suse"
      ANSI_COLOR="0;32"
      CPE_NAME="cpe:/o:suse:sles:15:sp1"

    $ rm ~/.spack/cray/compilers.yaml
    $ spack co

[2021-08-05 03:38] glennpj commented on #25149
I do not think it is a GCC issue. I created a git branch from the commit level of your version from the `spack debug report` output, thinking that maybe something was off from that timeframe. However, I was still able to build `r-cairo`.

I am wondering though if there is something going on with system X11 packages. Do you have the `libXt-devel` RPM package installed? That package is installed on

[2021-08-05 04:11] whochi commented on #25050
It's not this repository, but I had the same issue.
So I modified it by referring to the page below, and the build went on normally.
I want you to check it out.

https://reviews.llvm.org/D70662

[2021-08-05 08:32] jacorvar commented on #25149
According to `yum info libXt*`, it seems only `libXt` and `libXtst` are installed on my system as RPM packages (they are also installed inside of the environment), but not `libXt-devel`.
After a quick search, everything points to the lack of `libXt-devel` as a cause for this issue. However, I cannot find it on spack repository. Is there any solution apart from installing it as RPM? (I have a bunch

[2021-08-05 11:34] kelbstf opened #25269 ""--log-file" generating no logfile"
### Steps to reproduce

Hello,

i currently fail with compiling r and try to debug it, but no log files seem to be available.
[code]
The specified logfiles can not be found on the system.
Is this an expected behaviour, resp. am i missing here s.th.?

### Error message

[code]

I seem to not be able to find any of the referenced log files as well, in addition to the missing log file i hoped to have

[2021-08-05 15:44] angelocr opened #25272 "OpenPBS not provides 'pbs' virtual package"
### Steps to reproduce

I installed OpenPBS from the OpenHPC repository and I added as an external package to Spack:
[code]

When I try to install OpenMPI with "schedulers=tm", the concretization depends on Torque and not OpenPBS:
[code]

I added the line:
[code]
to OpenPBS "package.py" and OpenMPI concretization depends on OpenPBS as expected.

### Error message

_No response_

### Information on

[2021-08-05 16:17] eugeneswalker commented on #25050
I am trying it now, will report back here. Thank you.

[2021-08-05 16:28] adamjstewart commented on #25272
The `openpbs` package does not currently have an official maintainer. I would suggest submitting a PR with your proposed change, it sounds like the right thing to do to me.

[2021-08-05 17:28] eschnett opened #25278 "FileFilter eats newline characters"
### Steps to reproduce

I am trying to build the `chombo` package. This fails. The `edit` function in the package produces improper lines in the Makefile.

It seems that package commands such as
[code]
remove the final newline in the lines where they act, leading to run-together lines such as
[code]
(these are 3 lines run together).

It seems that the regex syntax `\s*` (and, similarly, `.*`, or `

[2021-08-05 17:56] kelbstf opened #25279 "Installation issue: flex-2.6.4"
### Steps to reproduce the issue

Successful:
[code]
Failing:
[code]

Errors apparently:
[code]

[code]
Errors in their context:

[code]
Errors according to build log:
[code]

### Information on your system

* **Spack:** 0.15.0
* **Python:** 3.6.8
* **Platform:** linux-centos8-haswell
* Spack implemented via OHPC 2.2
* OS: CentOS8.4

### Additional information

[config.log.txt](https://github.com/

[2021-08-05 18:29] eugeneswalker commented on #25050
With slight modification because the affected filename is not .cpp but rather .cc, this patch allowed me to build llvm@8 w/ glibc2.31 on Ubuntu 20.04 with GCC 9.3.0. I don't know enough to know if the application of this patch to exactly llvm@8 will break anything, do you have opinion on this?

Thank you!

[2021-08-05 18:35] scheibelp commented on #25279
Are you able to replicate this with the current tip of Spack's develop branch (you might have to specify `flex@2.6.4` if a version has been added since Spack 0.15)?

[2021-08-05 19:16] kelbstf commented on #25279
Hello @scheibelp,
thank you very much for your response.
I also tested the explicit "spack -d -v install flex@2.6.4" (same result), but omitted that here as the generic version appeared to be more general. I
 believe that would download the latest release? I actually did not check that.
As OHPC newbie i did not manage to ascertain yet, whether i may update to latest spack 0.16.2 wihtout brealing i

[2021-08-05 19:21] scheibelp commented on #25279
Would you be able to create a new directory with a fresh Spack install on the same system (and try installing flex with that)?

[2021-08-05 19:46] hainest opened #25280 "Installation issue: otf2"
### Steps to reproduce the issue

Using spack@develop (b11f8aa4ea5582eb3d9eb200061ed267a986b157)

    $ spack -d install -v -j4 tau@master%cce ^elfutils%gcc

    ...
    ==> [2021-08-05-19:27:53.265439] '/usr/bin/patch' '-s' '-p' '1' '-i' '/gpfs/mira-home/thaines/ecp/spack/var/spack/repos/builtin/packages/otf2/cray_ac_scorep_sys_detection-m4.patch' '-d' '.'
    The text leading up to this was:

[2021-08-05 21:03] hainest commented on #25280
@lukebroskop Thanks for the super quick fix! Do you have any thoughts on why `patch` was waiting for console input? I've not seen it do that before.

[2021-08-05 21:04] srekolam commented on #18073
closing this as this was fixed some time ago

[2021-08-05 21:04] #18073 closed, assigned to nobody

[2021-08-05 21:26] lukebroskop commented on #25280
@hainest No problem!
Since Spack attempted to patch a file that moved in otf2@2.3, I assume this is the patching utility giving you a chance to redefine the location. I have never had success inputing a new path through console input though.

[2021-08-05 21:26] #25280 closed, assigned to nobody

[2021-08-05 21:57] glennpj commented on #25149
There is a spack package called `libxt` and it should be part of the spec for `r-cairo`, but pulled in by other dependencies. The idea is this should work without needing the system packages. Since I have that RPM installed, the build finds it, but that is not desired. Try adding
[code]
to the r-cairo package and see if that helps.

[2021-08-05 22:56] KineticTheory opened #25286 "[trilinos] build broken by PR23518 when custom compiler flags are required"
### Steps to reproduce

I'm working on LLNL's rzansel machine (Power9).  Installing trilinos with XL drops custom flags defined in `compilers.yaml` that I require.  The install command is:

[code]

This build completes without error but the installed libraries are not useful to me.

In my case, we need the XL options `--gcc-toolchain=/usr/tce/packages/gcc/gcc-8.3.1 -Wl,-rpath,/usr/tce/packages/xl/

[2021-08-05 23:00] KineticTheory commented on #25286
cc: @quellyn @DarylGrunau @lukebroskop @sethrj @hppritcha

[2021-08-06 01:35] jayvdb opened #25288 "Publish package list in repology"
### Summary

Adding spack package list to https://repology.org/ allows library maintainers an easy place to see the library in all packaging systems, especially identifying which are out of date and the maintainer to contact.

### Rationale

https://github.com/repology/ is a meta-repo of packages in various packaging systems.

The list of supported repositories is at https://repology.org/repositor

[2021-08-06 01:47] tgamblin commented on #25278
I think the issue is that your regex does not end in `$`, so your regex eats the newline.

do you have to use \s* here at all?

[2021-08-06 02:24] lukebroskop commented on #25286
Hi @KineticTheory, please take a look at #25290 -- does that work?

[2021-08-06 08:24] whochi commented on #25050
I'm not sure, so I'm testing it after building it.
After all, I think the only way to check is by the developer who built it.
Otherwise, I think we should use the higher LLVM version.

I'm sorry I couldn't help you.

[2021-08-06 09:19] kelbstf commented on #25279
Sure. Do you have s.th. in specifc in mind i should address in that parallel installation?

[2021-08-06 11:06] kelbstf commented on #25279
Hello @scheibelp,
i just managed to get flex-2.6.4-gcc-9.3.0 installed via spack 0.16.2 into a parallel installation on OHCP2.2 into
"/opt/ohpc/admin/spack-0.16.2".
It installed the following dependencies:
[code]
Since i am not sure yet how deep the integration of spack-ohpc.noarch into OHPC is, i can't figure whether i have to determine why the installation failed via spack "0.15.0-8.1.ohpc.2.0 "

[2021-08-06 12:17] christoph-conrads commented on #24671
The problem is that the HDF5 CMake target name changed from `hdf5` to `hdf5-shared`. Here is a work-around:
[code]

[2021-08-06 13:13] eschnett opened #25295 "Access GCC's cpp"
### Summary

I am writing a Spack package that needs to describe how to call `cpp` to pre-process some Fortran code. A good way of doing so is to call GCC's cpp with the `-traditional` argument, and I'm indeed building the package with `%gcc`. However, I don't see a way to tell Spack to use GCC's cpp.

The `self.compiler` object does not have a property `cpp_names`.

When I just call `cpp`, then S

[2021-08-06 13:43] christoph-conrads commented on #24671
The MED README mentions Eric Fayolle as a point of contact. I e-mailed him.

[2021-08-06 14:04] eschnett commented on #25278
I tried adding a `$` at the end; this didn't help. The newline still gets eaten.

I also tried as described in the [example in the documentation](https://spack.readthedocs.io/en/latest/build_systems/makefilepackage.html#edit-makefile), and this didn't work either.

I couldn't find a way to eat up the whole line except the newline. My work-around is to eat the whole line, including newline, and add

[2021-08-06 14:06] KineticTheory commented on #25286
I'm testing it now.
This fix seems to fix my issue. Thanks!

[2021-08-06 14:57] adamjstewart commented on #25288
@vsoch @tldahlgren might be interested in this.

[2021-08-06 15:02] vsoch commented on #25288
Why are the only packages for spack different versions of spack?

https://repology.org/project/spack/packages

if it helps I keep a list of packages that updates automatically nightly:

https://spack.github.io/packages/data/packages.json

[2021-08-06 15:04] vsoch commented on #25288
Do y'all just need this format? https://repology.org/addrepo

[2021-08-06 16:06] jacorvar commented on #25149
That solved the issue.

Thanks!

[2021-08-06 22:13] padamson opened #25297 "UQTk variant to build PyUQTk and add it to PYTHONPATH"
### Summary

UQTk provides a Python interface called PyUQTk that is not currently built. This feature request is to add a variant to build PyUQTk and add it to `PYTHONPATH`.

### Rationale

PyUQTk is a very useful, integral part to UQTk.

### Description

An alternative is to always build PyUQTk, but this would add overhead for those that will not use the PyUQTk interface.

### Additional informat

[2021-08-07 02:13] eschnett opened #25304 "Installation issue: openmpi"
### Steps to reproduce the issue

The command
[code]
leads to the build error
[code]

### Information on your system

[code]

### Additional information

[spack-build-out.txt](https://github.com/spack/spack/files/6948459/spack-build-out.txt)
[spack-build-env.txt](https://github.com/spack/spack/files/6948460/spack-build-env.txt)

@hppritcha
@naughtont3

### General information

- [X] I have run `sp

[2021-08-07 19:25] hppritcha commented on #25304
i'll add a dependency on pandoc for case of building master branch.

[2021-08-07 21:54] adamjstewart opened #25306 "`spack load` results in duplicate paths in env vars"
### Steps to reproduce

When I load a package with `spack load`, I end up with duplicate paths in the environment variables that get set. For even a moderately sized set of packages (10+), this quickly exceeds the maximum length for environment variables on the system:
[code]

To demonstrate this, take the `py-matplotlib` package:
[code]

### Error message

When I check `PYTHONPATH`, I see that de

[2021-08-07 22:14] adamjstewart commented on #25306
@alalazo @becker33

[2021-08-07 22:18] adamjstewart commented on #25306
Note that this only affects `spack load`, it doesn't affect `spack env activate`.

[2021-08-08 18:37] #25286 closed, assigned to nobody

[2021-08-08 18:39] glennpj commented on #25149
Okay, so that dependency will need to be added. I will create PR for that.

[2021-08-09 07:27] #25149 closed, assigned to glennpj

[2021-08-09 07:50] alalazo commented on #25297
I see that you already added a PR in this sense, which is fine. Usually we use the "feature" tag for feature requests on core Spack, while we just proceed with PRs modifying packages without the additional burden of opening an issue for each modification. I'm going to close this issue and continue the discussion in #25298, but feel free to reopen if you think I missed something.

[2021-08-09 07:50] #25297 closed, assigned to nobody

[2021-08-09 08:01] alalazo commented on #25288
Leaving a comment to get email notifications, since this issue is quite interesting.

[2021-08-09 08:23] jayvdb commented on #25288
It shows that some distros have an out of date version of spack, and Mageia Cauldron is using an unreleased git based version.

That is the first step - publishing JSON with whatever metadata per package is possible, with roughly that structure.

Then spack needs to contribute a parser, like those in https://github.com/repology/repology-updater/tree/master/repology/parsers/parsers , to consume tha

[2021-08-09 08:30] #25172 closed, assigned to nobody

[2021-08-09 08:39] haampie commented on #25306
`spack load` defaults to `--only=package,dependencies`, which means that it'll load more than direct runtime dependencies... Seems like a wrong default to me.

If I add

[code]

and look at `py-python-swiftclient +keystone`, it has 45 packages concretized, and the number of env mods is:

[code]

whereas with `--only=package` it makes 32 changes:

[code]

---

Further it seems the complexity of `sp

[2021-08-09 08:52] alalazo commented on #20491
I don't have access to THETA, but can you try using `os=fe` as a constraint for things that need to work on the frontend? That, instead of trying to specify only the microarchitecture, might work.

[2021-08-09 11:40] alalazo commented on #25164
Yes, please try something like that. The error here is very likely that the Python you are using doesn't have header files or they can't be located by CMake.

Also, slightly OT but if you have time it would be appreciated. Can you try #22720 and do:
[code]
That PR should bootstrap from precompiled binaries and hopefully it should work correctly (will be merged soon).

[2021-08-09 13:08] kuberry opened #25313 "_urlopen purges 'context' from request, causing SSL no-verify to be ignored (spack -k)"
### Steps to reproduce

urllib is the default url retriever for http and https protocol, however, it is not possible to retrieve any packages using `spack -k` (disabling SSL verification) with urllib (bug introduced by deleting `context` ). There is a bug in lib/spack/spack/util/web.py because it cannot behave properly with the `-k` flag for Spack.

Please examine lib/spack/spack/util/web.py:

- N

[2021-08-09 13:16] alalazo opened #25314 "Wrong exit code from tty.die"
### Steps to reproduce

[code]

### Error message

There is no error message, rather one would expect the second command to return 1 given that:

https://github.com/spack/spack/blob/ce199e1c67c74e6ea94183ba57e22e039d42810b/lib/spack/llnl/util/tty/__init__.py#L272-L275

is called when activating an already active environment

### Information on your system

* **Spack:** 0.16.2-3865-ce199e1c67
* **P

[2021-08-09 13:16] alalazo commented on #25314
@haampie FYI

[2021-08-09 13:48] rscohn2 commented on #22805
@vdanilin added the package: #25311

[2021-08-09 13:48] #22805 closed, assigned to nobody

[2021-08-09 13:49] rscohn2 commented on #20403
@dev-zero: Vtune package was added: #25311

[2021-08-09 15:35] vsoch commented on #25288
cool thanks! That looks relatively straight forward - I'll start putting together those files for spack.

[2021-08-09 17:04] vsoch commented on #25288
@jayvdb I have the basic files ready - could you show me how to use repology-update.py (or some other basic Python command) so I can test my parser class? I see there is a database - ideally I'd want to just disable that or use sqlite.

[2021-08-09 19:10] tgamblin commented on #311
For folks still interested in this, check out #25310, which will finally allow the concretizer to aggressively reuse installed packages, packages from build caches, and packages from upstreams.

[2021-08-09 22:30] wspear commented on #25164
Looks like it works (both the clingo-bootstrap install and spack -d solve zlib) with the manually bootstrapped python (SPACK_PYTHON pointed to spack built 3.8)

The pull request also results in a successful solve zlib. I double checked that it still fails without either the pull request or the spack-built python.

[2021-08-09 23:12] BenWibking opened #25323 "Installation issue: hpctoolkit (unsatisfiable variant constraint)"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.16.2-3870-5916afec84
* **Python:** 3.6.8
* **Platform:** linux-centos8-cascadelake
* **Concretizer:** original

### Additional information

N/A

Maintainers: @mwkrentel

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have run `spack main

[2021-08-09 23:31] mwkrentel commented on #25323
@BenWibking  What does `spack config blame packages` report, and what is in your
`packages.yaml`?

Either (1) something in your config specifies `xz~pic`, in which case
you need to change that to +pic.

Or (2) the concretizer is being dumb and fixing on xz~pic before it should.

Either way, you can probably fix this by explicity adding `xz+pic` in
packages.yaml.

[code]

or else on the command lin

[2021-08-09 23:38] BenWibking commented on #25323
`spack config blame packages` reports (along with a lot of other unrelated packages):
[code]

`spack install hpctoolkit ^xz+pic` strangely gives the same error:
[code]

[2021-08-10 00:19] #23192 closed, assigned to nobody

[2021-08-10 00:43] tldahlgren opened #25325 "Installation issue: LvArray @ 0.2.1 testTensorOpsNoSize.cpp max size failure"
### Steps to reproduce the issue

I am building the software in the Spack RADIUSS Cloud CI and the `unitTests/CMakeFiles/testTensorOps.dir/testTensorOpsOneSize.cpp` unit test build is failing with the error below.  The CDash output can be found at https://cdash.spack.io/viewBuildError.php?buildid=162186.

[code]

### Information on your system

Reporting results from Spack Cloud CI so see above sn

[2021-08-10 00:52] padamson commented on #25297
Ok, thanks for your patience while I learn the spack business rules.

[2021-08-10 01:24] corbett5 commented on #25325
Thanks! I'll take a look at it, probably specific to GCC 7.

[2021-08-10 01:25] tldahlgren opened #25326 "Installation issue: raja@develop camp-related example and tutorial build failures"
### Steps to reproduce the issue

RADIUSS Cloud CI is encountering CAMP resource-related failures (building tutorial examples) during the build of `raja@develop%gcc@7.5.0 arch=linux-ubuntu18.04-x86_64`.  See https://cdash.spack.io/viewBuildError.php?buildid=162997 and https://cdash.spack.io/viewBuildError.php?buildid=162993.

[code]

### Information on your system

Reporting results from Spack Clo

[2021-08-10 01:29] tldahlgren commented on #25325
FYI. Just replaced the build output with the equivalent from the raw output.

[2021-08-10 01:39] tldahlgren opened #25327 "Installation issue: umpire@develop build failure (RADIUSS Cloud CI)"
### Steps to reproduce the issue

RADIUSS Cloud CI is encountering CAMP resource-related failures (building tutorial examples) during the build of umpire@develop%gcc@7.5.0 arch=linux-ubuntu18.04-x86_64.  See https://cdash.spack.io/viewBuildError.php?buildid=162995.

[code]

### Information on your system

Reporting results from Spack Cloud CI so see above snippets for a bit more information, which

[2021-08-10 02:53] davidbeckingsale commented on #25327
This should work building against `camp@master`.

[2021-08-10 04:29] mwkrentel commented on #25323
@BenWibking
Ah, you're trying to use an external xz, that's the issue.  `~pic` is
the default for xz, so I think the (old) concretizer interprets the
externals spec as `xz~pic` and settles on that early and that
conflicts with hpctoolkit's need for `+pic`.

If my theory is correct, then IMO this is a concretizer bug, not a
toolkit bug.  But unless the new, clingo concretizer has the same bug,
then

[2021-08-10 06:02] alalazo commented on #25297
No worries, thanks for the PR!

[2021-08-10 06:35] alalazo commented on #25164
@wspear So I think this issue is due to the default Python interpreter, that either is not providing header files or is not configured in a way that CMake can find them. I'll add this to the list of issues fixed by #22720

[2021-08-10 07:09] haampie commented on #23951
This is still an issue... Another example:

[code]

concretizes to `^rocm-smi-lib@3.8.0` because `3.9.0` and above have a dependency on Python, which pulls in the virtual dep `uuid`.

[2021-08-10 09:50] alalazo commented on #23951
Working on a fix where I think the core change will be:
[code]

[2021-08-10 14:42] kelbstf opened #25332 "module.yaml custom module installation path fails package installation"
### Steps to reproduce

Hello,
i am attempting to customise the path where Spack 0.16.2 will install it's modules in an OHPC(2.2)'s Lmod environment.
In earlier Spack releases there was an option in config.yaml, but in later/latest release this was moved to modules.yaml, if i understand it right.

I now can't find the proper syntax for the configuration.
The most likely version with it's related e

[2021-08-10 14:51] #23949 closed, assigned to nobody

[2021-08-10 14:59] davidbeckingsale commented on #25326
I think this is the same as the Umpire issue - need to build against `camp@master`.

[2021-08-10 16:46] kelbstf commented on #25332
Ohoh!
My bad, sorry: i was missing 2 white spaces prefixing the "lmod: /opt/ohpc/pub/modulefiles-spack" line.
i.o.w.:
[code]
will make the parser happy!

[2021-08-10 16:46] #25332 closed, assigned to nobody

[2021-08-10 17:03] corbett5 commented on #25325
Ok I've got a PR up that fixes the issue. After merging it do you need a new release?

[2021-08-10 18:11] eugeneswalker opened #25339 "Installation issue: parsec 3.0.2012: Unknown CMake command "FLEX_TARGET""
### Steps to reproduce the issue

`parsec` fails at CMake stage using:
* `spack@develop` (81be31aee091a6d108a40e0f3dc7ff3bdfa93f26 from `Mon Aug 9 16:07:39 2021 +0200`)
* Ubuntu 20.04, GCC 9.3.0

Concrete spec: [parsec.spec.yaml.txt](https://github.com/spack/spack/files/6963572/parsec.spec.yaml.txt)

Using DockerHub container image `ecpe4s/ubuntu20.04-runner-x86_64:2021-07-01` for reproducer below

[2021-08-10 21:06] tldahlgren opened #25341 "Style: 'spack style --fix' fails with isort v4.2.15"
### Steps to reproduce

Spack is using a newer `isort` option for the settings file than is supported by the earliest version listed in `py-isort`.  I ran into this problem when, IIRC, Spack bootstrapped to the earlier version when I ran the `spack stye` command.

Current `isort` documentation lists three other options that *might* work on older versions.  I tried two (`--settings` and `--settings

[2021-08-10 21:15] #23951 closed, assigned to alalazo

[2021-08-10 21:16] haampie commented on #25341
If only we had a package.py for spack where we could express these constraints ^^

[2021-08-10 23:43] scheibelp commented on #25295
We add a `cpp` symlink to `PATH` for the install, so when you call `cpp` in the build, we intend that you get redirected to use Spack's wrapper. Would you be able to print the build environment you are in when the install fails? I would like to examine `PATH` in your case to see if our ordering isn't suitable (or perhaps an external is undermining our `PATH` modifications).

An alternative could b

[2021-08-11 00:55] Sinan81 opened #25344 "installation issue: ATLAS build fails (due to older gcc@4.8.5 ?)"
### Steps to reproduce the issue

[code]

### Information on your system

$ spack debug report
* **Spack:** 0.16.2-1-c699e90
* **Python:** 3.6.8
* **Platform:** linux-centos7-haswell
Also failed for skylake arch. Using system gcc@4.8.5

### Additional information

I will be providing further information soon. This is a low priority thing.

### General information

- [X] I have run `spack debug rep

[2021-08-11 02:30] qwofford commented on #14720
I'm also having this issue.

[2021-08-11 04:35] BenWibking opened #25353 "Installation issue: binutils"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.16.2-3870-5916afec84
* **Python:** 3.6.8
* **Platform:** linux-centos8-cascadelake
* **Concretizer:** original

### Additional information

[spack-build-env.txt](https://github.com/spack/spack/files/6965871/spack-build-env.txt)
[spack-build-out.txt](https://github.com/spack/spack/files/6965872/spack-build-out.

[2021-08-11 04:49] BenWibking opened #25354 "Installation issue: openjdk"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.16.2-3870-5916afec84
* **Python:** 3.6.8
* **Platform:** linux-centos8-cascadelake
* **Concretizer:** original

### Additional information

[spack-build-out.txt](https://github.com/spack/spack/files/6965940/spack-build-out.txt)
[spack-build-env.txt](https://github.com/spack/spack/files/6965941/spack-build-env.

[2021-08-11 04:51] BenWibking commented on #25323
I removed the external spec for xz and this issue is fixed. However, I still cannot install hpctoolkit because openjdk and binutils fail to build. Neither of these packages has a maintainer, but I've opened issues for them in separate tickets in the hope that someone will take a look (#25354 #25353).

[2021-08-11 07:10] alalazo commented on #25323
Closing the issue, feel free to reopen if you think there's anything else to discuss here.

[2021-08-11 07:10] #25323 closed, assigned to nobody

[2021-08-11 07:30] #25341 closed, assigned to nobody

[2021-08-11 07:47] alalazo commented on #25353
@BenWibking It seems to me there might be an issue with your compiler. I just tried on:

* **Spack:** 0.16.2-3887-fb8c954e2e
* **Python:** 3.6.9
* **Platform:** linux-ubuntu18.04-broadwell
* **Concretizer:** original

and binutils builds correctly (with GCC 11.1.0):
[code]

[2021-08-11 08:01] BenWibking commented on #25353
Lots of other packages build fine... so I'm not sure how to debug this, especially since there's no substantial additional information in the log files.

[2021-08-11 08:01] BenWibking commented on #25353
In fact, I can run the ./configure script for binutils successfully outside of the spack build environment, using the system gcc, rather than the gcc symlink inside of spack.

[2021-08-11 08:08] alalazo commented on #25353
Can you post your `compilers.yaml` (or the compiler entry in there that you're currently using)?

[2021-08-11 08:09] alalazo commented on #25353
Also, do you see in `config.log` where the test is failing to compile?

[2021-08-11 11:28] haampie opened #25358 "binutils executables can't be built statically"
### Steps to reproduce

[code]

Builds binaries that still depend on libc on musl :(.

This is because of the flag handler introduced in #22642.

When removing `iflags`, appending `flags`, and returning `(flags, None, None)` I am able to build static executables.

@michaelkuhn I'm afraid the current solution still isn't perfect...

### Error message

.

### Information on your system

.

### Gener

[2021-08-11 13:51] eschnett commented on #25295
Calling `cc -E` doesn't quite work: `cpp` reads from stdin if no file names are given, `cc -E` requires the option `-` to read from stdin. (But it's so tantalizingly close!)

I believe the problem is in Spack's `cc` script (line 134 ff.) When `mode=cpp`, the command is simply `cpp`, without path, as there is no variable `SPACK_CPP` that could be used. This then chooses the system `cpp`. From you r

[2021-08-11 13:56] kuberry commented on #25254
In `spack/lib/spack/docs/getting_started.rst`, all details about fetching `https` mention `curl` and how to configure it, with none mentioning `urllib`. The switch from `curl` to `urllib` by default seems like a big change, but the guidance on how to configure `urllib` to work with SSL verification and proxies is missing (it actually doesn't work with `-k`, but that would be fixed by PR #25316) an

[2021-08-11 14:05] #25327 closed, assigned to nobody

[2021-08-11 14:05] #25326 closed, assigned to nobody

[2021-08-11 14:57] haampie commented on #19868
When I build python, I end up with

[code]

Lots of repeated entries, but the important thing is that `/usr/lib/x86_64-linux-gnu` is not moved to the bottom, and this particular directory includes openssl's libcrypto and libssl.

Wouldn't a better strategy be to look for spack prefixes and move those first, and consider everything else system dir? Instead of looking for system paths and moving the

[2021-08-11 15:07] adamjstewart opened #25363 "Use system cmake when bootstrapping clingo"
### Summary

When bootstrapping the new concretizer, Spack should use the system CMake if it is avaiable.

### Rationale

`clingo-bootstrap` only has 2 dependencies, Python and CMake. When bootstrapping the new concretizer, Spack correctly detects and uses the system Python, but doesn't use the system CMake. This leads to Spack building CMake and all of its 14 dependencies, which takes a substanti

[2021-08-11 15:17] alalazo commented on #25363
We'll soon provide bootstrapping from binaries, and the docs already says:

so I'm not really sure if we should go all the way to try to mock external detection for the sake of bootstrapping from sources.

[2021-08-11 15:18] eschnett commented on #25295
I looked at the PATH the Spack reports in `spack-build-env.txt`:
[code]

Note that GCC's `bin` directory is not listed there. This is the compiler I'm using (from `spack.yaml`):
[code]
The compiler binaries are listed explicitly there. There is no path listed that should be added to PATH to find the compiler. Consequently, I don't think Spack will add `/Users/eschnett/Cactus/view-compilers/bin` to

[2021-08-11 15:23] adamjstewart commented on #25363
If binaries are coming soon, I'm fine with that. How soon is soon? Is that a different effort than the one to make public binaries for general Spack packages?

[2021-08-11 15:35] alalazo commented on #25363
Yes. Soon is a week or two I think. If you checkout #22720 and try:
[code]
it should work out of the box and e.g. bootstrap from binaries built on `rhel5` for `x86_64` and `linux`.

[2021-08-11 15:39] #25363 closed, assigned to alalazo

[2021-08-11 16:12] scheibelp commented on #22621
Related to https://github.com/spack/spack/issues/23867 and https://github.com/spack/seps/pull/2

[2021-08-11 16:19] becker33 commented on #19868
We should probably do both -- spack paths first, then unknown (presumably externals that aren't in system paths, maybe system paths we didn't think of), then system paths.

[2021-08-11 18:19] scheibelp commented on #25295
Thanks for checking that: I realized we don't actually add the `bin/` directory where the compiler is located, but rather the wrapper directory (which is in line with your observation but also confirming it from checking the source).

As a temporary fix, you may be able to update the `environment:` section of the compiler definition to prepend the compiler's bin directory to the path (see https://

[2021-08-11 18:47] sethrj commented on #25353
I sometimes see errors like this when I unwittingly have compiler modules loaded. Can you check that your modules are clear (or as expected)?

[2021-08-11 19:04] sethrj commented on #22970
I'm also hitting this issue when trying `spack solve nalu-wind`:
[code]

[2021-08-11 19:11] sethrj commented on #23008
See also https://github.com/spack/spack/pull/20623#issuecomment-879226388

[2021-08-11 21:04] superNick459 opened #25369 "Installation issue: med: cmake: could not find target hdf5"
### Steps to reproduce the issue

`med` fails at CMake stage using:

- spack@develop [229bcd9](https://github.com/spack/spack/commit/229bcd9f036ffca43aae53af998f4f3ffe70fec8)
- Ubuntu 20.04, GCC 9.3.0

Spec: [med_spack.yaml.txt](https://github.com/spack/spack/files/6971256/med_spack.yaml.txt)

Docker container: `ecpe4s/ubuntu20.04-runner-x86_64:2021-07-01`
How to reproduce:
[code]

### Information

[2021-08-11 21:05] psakievich opened #25370 "spack develop clone with resources errors"
### Steps to reproduce

When trying to use `spack develop` with Trilinos an error occurs during the call to `spack develop` and the Trilinos spec is not added as a develop spec
[code]
Further inspection of the `spack.yaml` shows no development spec has been added.
The Trilinos repo that is cloned looks fine and will work if you manually add the develop spec to the `spack.yaml`.

If you run `spack

[2021-08-11 21:21] eschnett commented on #25295
My work-around is to create a script [`cpp.sh`](https://gist.github.com/eschnett/6eb1416ecad4f5c1a5891b18796ee45b) that wraps `cc -E`. This could be adapted for Spack.

The rub lies in line 34 there, deciding whether to add `-` as additional argument.

I'm also adding `-traditional` because I'm preprocessing Fortran; that should be removed in the general case.

I also find that Clang's `cpp` doesn

[2021-08-11 21:23] sethrj commented on #25370
The failure looks like it's with cloning `dtk`, which I'm not sure will even build as a "subrepo" for trilinos at present. Does it work if you delete the `when='+dtk @develop'` DTK resource inside the trilinos package?

[2021-08-11 21:50] abouteiller commented on #25339
Thanks, the spack recipe is missing a build-dependency on flex (and probably also bison). I'll add it asap.

[2021-08-11 22:17] bosilca commented on #25339
I guess we have multiple issues here. First, we are using the CMake FLEX_TARGET when Flex support was not available, which is incorrect. Second, as the FLEX dependency is optional (only some DSL needs it), the rest of the runtime should compile correctly.

[2021-08-11 22:27] abouteiller commented on #25339
Right, but the other changes have to happen on the Parsec side. For Parsec 4.x we have a branch that completely removes dependencies on flex/bison, but we will need to keep supporting 3.x builds in Spack for a while.

[2021-08-11 23:10] vsoch commented on #25288
Just to ping others here, I did work for this yesterday https://github.com/repology/repology-updater/pull/1173 and there is something in the parsing that is not detecting/registering the package. If someone with experience with repology could take a look it would be very helpful!

[2021-08-12 06:22] #25339 closed, assigned to nobody

[2021-08-12 06:42] alalazo commented on #22970
@vicentebolea What is the state of #23257 ?

[2021-08-12 12:15] christoph-conrads commented on #25369
duplicate of #24671

[2021-08-12 14:40] psakievich commented on #25370
@sethrj unfortunately the error still persists even after commenting out the `dtk` variant for `develop`
[code]

[2021-08-12 14:41] EthanS94 opened #25387 "Installation issue: ParaView@master could not find the fmt external dependency"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.16.2-3894-229bcd9f03
* **Python:** 3.6.3
* **Platform:** linux-rhel7-broadwell
* **Concretizer:** original

### Additional information

@chuckatkins @danlipsa @vicentebolea

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have run `spack

[2021-08-12 15:05] sethrj commented on #25370
Hm, this looks like an issues with package `resource`s (rather than Trilinos itself) and the `spack develop` feature. @haampie I think `develop` is something you work on pretty often; do you have any ideas?

[2021-08-12 17:51] #25225 closed, assigned to nobody

[2021-08-12 18:51] eugeneswalker commented on #25369
closing as duplicate

[2021-08-12 18:51] #25369 closed, assigned to nobody

[2021-08-12 20:09] EthanS94 commented on #25387
@utkarshayachit Spack does have a package for `fmt`. I tried adding that as a dependency to paraview, but it failed with the default variant `cxxstd=11`. I am going to try `cxxstd=14` and see if that's better.

Do you have a preference on how to handle this? Should ParaView build `fmt`, or is the spack package preferred here? Thanks!

[2021-08-12 20:25] utkarshayachit commented on #25387
either is totally fine. thanks, ethan!

[2021-08-12 23:53] tldahlgren commented on #25164
@alalazo I'm having an issue with clingo-bootstrap on one of the UO machines (gilgamesh).  The error message is:

[code]
[[uo-gilgamesh-shell-bootstrap.txt](https://github.com/spack/spack/files/6979132/uo-gilgamesh-shell-bootstrap.txt)
](url)

See https://systems.nic.uoregon.edu/internal-wiki/index.php?title=Compute:_Gilgamesh for details on the server.

[2021-08-13 03:58] BenWibking commented on #25353
I don't have any compiler modules loaded. Here is my compilers.yaml:
[code]

And gcc version:
[code]

This is the error in config.log:

[code]

[2021-08-13 04:02] BenWibking commented on #25353
It looks like it's failing because it can't link with `-lintl`.

[2021-08-13 05:23] sethrj commented on #25353
Sounds like your local GCC installation isn't configured properly. You might be able to get it to work with the extra rpaths flag.

[2021-08-13 05:26] BenWibking commented on #25353
I can build binutils from source using gcc outside of Spack perfectly fine, by building manually from within the spack-src directory itself.

[2021-08-13 09:30] christoph-conrads opened #25408 "Installation issue: serf relies on "python" executable being present"
### Steps to reproduce the issue

[code]

### Information on your system

(Spack code from PR #22720, the system is a Linux container)

[code]

### Additional information

* [spack-build-env.txt](https://github.com/spack/spack/files/6981352/spack-build-env.txt)
* [spack-build-out.txt](https://github.com/spack/spack/files/6981353/spack-build-out.txt)

Adding `depends_on("python")` does not help bec

[2021-08-13 09:31] christoph-conrads commented on #25408
The [Debian Wiki on Python](https://wiki.debian.org/Python):

[2021-08-13 12:05] christoph-conrads commented on #25408
The recommendation from [Python Enhancement Proposal (PEP) 394 _The "python" Command on Unix-Like Systems_](https://www.python.org/dev/peps/pep-0394/) (last update in June 2019):

[2021-08-13 12:32] christoph-conrads opened #25410 "Installation issue: python bz2 module cannot be imported"
### Steps to reproduce the issue

[code]

### Information on your system

[code]

### Additional information

* The problem occurs with Python 3.8.11, 3.7.11.
* The problem described in this issue breaks Mercurial builds.
* [spack-build-out.txt](https://github.com/spack/spack/files/6982375/spack-build-out.txt) (Python 3.8.11 build)
* [spack-build-env.txt](https://github.com/spack/spack/files/69823

[2021-08-13 13:10] #6996 closed

[2021-08-13 14:01] christoph-conrads commented on #25410
The problem vanishes if bzip2 is built by Spack instead of re-using the system bzip2. This is probably a case of missing headers. :roll_eyes:

[2021-08-13 14:01] #25410 closed, assigned to nobody

[2021-08-13 14:16] christoph-conrads commented on #25410
Installing `libbz2-dev` and `liblzma-dev` (for XZ) and rebuilding the Python interpreter resolves the problem for me.

[2021-08-13 14:37] adamjstewart commented on #25410
Yep, this is definitely caused by missing headers. I generally let Spack build everything instead of using external system packages.

[2021-08-13 14:44] adamjstewart commented on #25408
We should definitely add a build dep on Python. You can try adding a patch for Python 3 that searches for `python2` instead of `python`, but this is a bug that should be reported to the serf developers.

[2021-08-13 14:45] adamjstewart commented on #25410
Should we add a dependency on `python+bz2` then?

[2021-08-13 15:15] eugeneswalker opened #25416 "rocsolver 4.3.0 build fails: ld: failed to convert GOTPCREL relocatio"
### Steps to reproduce the issue

`rocsolver@4.3.0` build fails using:
* `spack@develop` (b008d2b1fe03273156b37bab4f388bc738aaddb2 from `Thu Aug 12 22:37:56 2021 +0800`)
* Ubuntu 20.04, GCC 9.3.0
* Ubuntu 18.04, GCC 7.5.0
* RHEL 7, GCC 9.3.0
* RHEL 8, GCC 8.4.1

Concrete spec: [rocsolver.spec.yaml.txt](https://github.com/spack/spack/files/6983175/rocsolver.spec.yaml.txt)

Reproduced here using Doc

[2021-08-13 15:18] christoph-conrads commented on #12520
JUWELS. Same problem with OpenMPI 4.1.1. The Jean Zay work-around does not work. The Spack branch generating the output below is based on commit 607f2a0c1c12159069208902b2c9ca10ea532256.

[code]

[2021-08-13 15:52] srekolam commented on #25416
yesterday , i got an update that  rocFFT and rocSOLVER were having trouble with their debug builds in rocm-4.3.0. Appears Linking will begin to fail with relocation errors once the binary size would exceed 2GiB. I did not face this issue when i was testing it. But trying to confirm if the above signature matches this issue internally.

[2021-08-13 17:09] wspear opened #25418 "Installation issue: perl"
### Steps to reproduce the issue

spack install perl %intel@19.1.3.304
This is with the latest pull of spack and installs perl@5.34. Similar errors observed with 5.32.1 and 5.35.0. 5.32.0 works. (EDIT)

Numerous errors occur in the build phase after a successful configure phase starting with:

and followed by dozens similar to:

     960           if (COP_SEQ_RANGE_LOW(pn) == PERL_PADSEQ_INTRO)

[2021-08-13 17:25] shahzebsiddiqui commented on #25418
There is a relevant issue see https://github.com/Perl/perl5/issues/18624#issuecomment-808970231 looping in @ikitayama who created the issue. I suppose let's wait for this issue to be fixed and then try to install perl

[2021-08-13 17:39] gartung opened #25419 "Spack fetch error if url no longer exists and spack-public mirror removed"
### Steps to reproduce

[code]

### Error message

[code]

### Information on your system

* **Spack:** 0.16.2-3907-f0875b2
* **Python:** 3.6.8
* **Platform:** linux-scientific7-skylake_avx512
* **Concretizer:** original

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have searched the issues of this repo and believe this is

[2021-08-13 18:01] srekolam commented on #24430
Uwe,
the changes to the cmakelists.txt were upstreamed and merged yesterday. Can you please retry for 4.2.0 and let us know if this resolves the issue yo are seeing

[2021-08-13 18:05] adamjstewart commented on #25419
Both `wget` and `curl` also fail to download http://www.hepforge.org/archive/pythiasix/pythia-6.4.28.tgz, so I think this is an issue with the URL, not with Spack.

[2021-08-13 18:08] gartung commented on #25419
As I said in the linked PR the old url has gone away so a new one is needed.

[2021-08-13 18:08] #25419 closed, assigned to nobody

[2021-08-13 18:10] adamjstewart commented on #25419
I think I was confused whether the issue was that the URL needed to be updated, or that a global `url` variable was required. Sorry for the confusion!

[2021-08-13 18:35] superNick459 opened #25420 "gtk-doc build fails: configure: could not find DocBook XML DTD V4.3 in XML catalog"
### Steps to reproduce the issue

`gtk-doc` fails during config stage using:

- spack@develop [f0875b2](https://github.com/spack/spack/commit/f0875b2fef8e495809854141785c1fc7f5d86407)

- Ubuntu 20.04, GCC 9.3.0
- Docker container: `ecpe4s/ubuntu20.04-runner-x86_64:2021-07-01`

Spec: [gtk-doc-spack.yaml.txt](https://github.com/spack/spack/files/6984545/gtk-doc_spack.yaml.txt)

How to reproduce:
[co

[2021-08-13 21:24] cgmb commented on #25416
That does indeed look like the binary size problem. There's a number of different ways to reduce the binary size to get it under the 2GiB limit.

The two workarounds that don't require changing anything in Spack are:
1. Use `rocsolver build_type=Release` rather than the default `RelWithDebInfo`
2. Use `rocsolver ~optimal` to omit kernels optimized for small matricies (generic fallbacks will be use

[2021-08-13 22:09] eugeneswalker commented on #25416
Wow! I would love to be able to do that. In my case `rocsolver` was being built as a dependency of `strumpack +rocm ~slate ~shared amdgpu_target=gfx906` -- clearly `amdgpu_target=gfx906` is not being used by rocsolver to select the architecture!

[2021-08-13 22:39] superNick459 opened #25422 "axom +cuda build fails: g++: unrecognized command line option '-Xcompiler=-fopenmp'"
### Steps to reproduce the issue

`axom +cuda` fails during build phase using:

- spack@develop [f0875b2](https://github.com/spack/spack/commit/f0875b2fef8e495809854141785c1fc7f5d86407)
- Ubuntu 20.04, GCC 9.3.0
- Docker container: `ecpe4s/ubuntu20.04-runner-x86_64:2021-07-01`

Spec: [axom-cuda-spack.yaml.txt](https://github.com/spack/spack/files/6985330/axom-cuda-spack.yaml.txt)

How to reproduce

[2021-08-13 23:23] srekolam commented on #25195
@haampie  , i think we can close this issue right.

[2021-08-15 01:13] sethrj commented on #25272
@angelocr I think this is fixed on `develop`; https://github.com/spack/spack/pull/16758 should have allowed openpbs support and https://github.com/spack/spack/pull/24568 enables other PBS managers. Can you try building with that instead of the (more stable but out of date) 16.2?

[2021-08-15 01:19] adamjstewart commented on #25272
@sethrj I think the `openpbs` package is missing `provides('pbs')` like @angelocr mentioned. Right now, `torque` is the only PBS provider in Spack:
[code]

[2021-08-15 01:22] sethrj commented on #25272
Ah I see! Thanks for teaching me a new command :) when I made #24568 I only added the providers to the default `packages.yaml`. I'll fix in a new PR.

[2021-08-15 12:59] #25272 closed, assigned to nobody

[2021-08-15 17:02] kelbstf opened #25431 "Customise architecture directory in modulefile path"
### Summary

Hello,

the "architecture" directory keeps potentially superfluous information in homogeneous clusters.
Customisation via projections seems to affect only the path for the applications, not their modules.

### Rationale

Default convention:
[code]
Desired option:
[code]
Or even better:
[code]

### Description

Spack 0.16.2 always includes the architecture directory in the module path,

[2021-08-15 19:20] eugeneswalker opened #25433 "strumpack@5.1.1 +rocm build fails: g++: -E or -x required when input is from standard input"
### Steps to reproduce the issue

`strumpack@5.1.1 +rocm ~slate amdgpu_target=gfx906` fails to build using:
* `spack@develop` (44e251d9747c5369c53d330cad4dd524a959baab from `Sun Aug 15 08:40:24 2021 -0700`)
* Ubuntu 20.04, GCC 9.3.0
* Ubuntu 18.04, GCC 7.5.0
* RHEL 7, GCC 9.3.0
* RHEL 8, GCC 8.4.1

Concrete spec: [strumpack.spec.yaml.txt](https://github.com/spack/spack/files/6988729/strumpack.spec

[2021-08-15 22:30] mwkrentel commented on #25353
@BenWibking I suspect there's something wonky in your spack config.
This works fine for the rest of us.  First,

1. Your distro is Linux Centos 8.x, right?  This normally comes with
/usr/bin/gcc 8.x.  Is there some reason you're using gcc 8.x from
/opt/nci as opposed to /usr/bin?  I'm using /usr/bin/gcc and it works
for me and I'd bet that it works for you.

Certainly, you are allowed to use compi

[2021-08-16 01:46] BenWibking commented on #25353
I appreciate the assistance. Yes, it's a CentOS 8.4 system.

I've moved the ~/.spack folder out of the way and cloned a fresh spack repo. Then:
[code]

/opt/nci/bin/gcc is a compiler wrapper installed by the system administrators of the cluster. It adjusts some header and library environment variables. I've attached those scripts below.
[nci_wrapper_gcc.txt](https://github.com/spack/spack/files/69

[2021-08-16 01:55] BenWibking commented on #25353
And indeed, when I put the old packages.yaml into ~/.spack, it fails with the old error again. In case there is interest in debugging the problem, I've copied the bad packages.yaml below:

[code]

Nothing seems obviously wrong here to me, unfortunately.

[2021-08-16 05:41] mwkrentel commented on #25353
First, I'm not really a fan of using spack externals.  It's fine for
build utils (cmake, perl, python) and for packages specific to the
system (mpi, cuda).  But for libraries that we link into hpctoolkit,
I'd rather you build them from scratch via spack.

So, it looks like spack external created a package spec that doesn't
work for binutils.  Start with `spack spec binutils` and try removing
the p

[2021-08-16 07:39] alalazo commented on #25418
@glennpj Pinging in case this issue might be of interest to you

[2021-08-16 09:12] BenWibking commented on #25353
Removing gettext solves the build problem for binutils. hpctoolkit then builds successfully as long as ~viewer is added to the spec (since openjdk doesn't build for some other reason that I've opened another issue for) and xz is also removed from packages.yaml. Thanks.

[2021-08-16 10:01] alalazo commented on #25164
@tldahlgren I don't know if anything changed in the meanwhile, but I logged into Gilgamesh and the system Python interpreter there has clingo installed:
[code]
so no need to bootstrap.

[2021-08-16 11:04] haampie commented on #25195
Yeah!

[2021-08-16 11:04] #25195 closed, assigned to nobody

[2021-08-16 11:35] #25353 closed, assigned to alalazo

[2021-08-16 11:36] sethrj commented on #25353
Thanks @mwkrentel for debugging! I agree that space external should generally not be used for linked libraries.

[2021-08-16 12:28] haampie commented on #25370
Yeah I think spack develop + resource is broken, but I didn't look into this.

[2021-08-16 14:46] haampie commented on #25370
@becker33 what's the idea with develop & resources? where do they go?

Another difficulty is that resources have a `when` clause that can only be evaluated after concretization, whereas `spack develop p@x.y.z` tries to clone before concretization based only on the version number. (Same applies to patches, which we don't handle either)

[2021-08-16 15:06] haampie commented on #25370
This is a solution, but it's very hacky & calling into internals:

[code]

[2021-08-16 17:06] srekolam commented on #25416
the PR @25423 resolves this issue. hence closing it

[2021-08-16 17:06] #25416 closed, assigned to srekolam

[2021-08-16 17:07] srekolam commented on #24430
Uwe, the recipe is updated with the patch that should fix this issue. Can you please check once for your rocm-4-2.0 release.

[2021-08-16 17:20] mwkrentel commented on #25353
@BenWibking    Where did you get the gettext entry in packages.yaml?  I don't see in
the gettext package.py the code to search for this, so I guess you
must have added it manually?

The spack built gettext provides libintl, but RH doesn't.  The intl
functions are also provide in libc, so RH doesn't provide a separate
libintl.  That was the mistake.  From the external gettext spec,
binutils was exp

[2021-08-16 18:53] quellyn opened #25445 "Installation issue: python"
### Steps to reproduce the issue

1). Login to a node with the ppc64le architecture (IBM Power9):
[code]

2). Verify that the IBM XL compiler is present in your environment:
[code]

3). Clone the `spack` source and run the environment setup script:
[code]

4). Verify that Spack knows about your IBM XL compiler:
[code]

5). Attempt to install python 3.8.0 with the IBM XL compiler (NOTE:  Currently

[2021-08-16 18:58] quellyn commented on #25445
NOTE:  I have [reported this issue upstream](https://bugs.python.org/issue44877) as well, with little attention so far.

[2021-08-16 19:36] kelbstf opened #25446 "projections of module path fails, but works for installation path"
It looks like projections configured in modules.yaml do not work in Spack 0.16.2 as expected.
Attempting to substitute the ${ARCHITECTURE} token with just the "target" seems to work under Spack 0.16.2 only for the installation path, but not the module path.

### Steps to reproduce
**1) Configuration:**
[code]

[code]

**2) Install package:**
[code]
**3) Check result:**
[code]

[code]
[code]
[code]

[2021-08-16 20:17] quellyn opened #25447 "Installation issue: netlib-lapack"
### Steps to reproduce the issue

1). Login to a node with the ppc64le architecture (IBM Power9):
[code]

2). Verify that the IBM XL compiler is present in your environment:
[code]

3). Clone the `spack` source and run the environment setup script:
[code]

4). Verify that Spack knows about your IBM XL compiler:
[code]

5). Attempt to install `netlib-lapack 3.9.0` with the IBM XL compiler (NOTE:  C

[2021-08-17 01:00] BenWibking commented on #25353
No, all the entries were added by running spack external. I think I ran it a few months ago, so maybe it was in an older version of the package.

I'm glad you found the root cause. That was quite a subtle issue!

[2021-08-17 04:15] mwkrentel commented on #25354
@BenWibking You have the strangest bug reports. :-)

I don't know if this is something that anyone can really help you
with.  The openjdk package is very simple: dowload tar file, unpack
and copy into place (the python version of tar-copy).

The error message is permission denied.  So, walk the path for the
install directory and check each step.  Check if you can manually cd
to the install dir and

[2021-08-17 05:15] kjrstory opened #25452 "Support new package: DualSPHysics"
I want to install DualSPHysics(https://dual.sphysics.org) which is one of SPH(Smoothed Particle Hydrodynamics) SW using Spack. DualSPHysics is a GPL license and is written in C++ and CUDA languages. It supports Nvidia GPU and OpenMP acceleration.

[2021-08-17 14:54] adamjstewart commented on #14695
Has anyone gotten a chance to work on this yet?

[2021-08-17 16:05] corbett5 commented on #25325
@tldahlgren I merged the PR, do you need a new release (and associated Spack update)?

[2021-08-17 17:35] kelbstf commented on #25446
I just found that the "archtecture" section of the module path is generated in lmod.py in "arch_dirname(self)".
Since also the syntax for the tokens to use in priovisions differ between installation path and module path, and the customisation of the module path apparently moved from config.yaml to modules,yaml recently, this issue may possibly be rooted in a code transition process?
If my assumpti

[2021-08-17 17:41] gartung commented on #25419
We were getting an error because the global url was invalid and the version line did not specify its own url. We specified the url in the version and Chris' question was whether the global url was needed in that case.

[2021-08-17 21:03] adamjstewart opened #25468 "Anaconda Python: unable to locate python libraries"
### Steps to reproduce

Using a conda installation of Python:
[code]

### Error message

[code]

### Information on your system

* **Spack:** 0.16.2-3949-d00fc55e41
* **Python:** 3.9.6
* **Platform:** linux-ubuntu18.04-haswell
* **Concretizer:** clingo

Pretty sure this is a bug in the Python package (me, @skosukhin), but pinging @alalazo so he is aware.

### General information

- [X] I have run

[2021-08-17 21:17] adamjstewart commented on #25468
Current workaround is to set `SPACK_PYTHON=/usr/bin/python3` to avoid using the conda python.

[2021-08-18 00:04] vicentebolea commented on #23008
The resolution was just merged at https://github.com/spack/spack/pull/23257. Closing this.

[2021-08-18 00:04] #23008 closed, assigned to nobody

[2021-08-18 08:50] Yvonne-zyf0627 opened #25474 "Would it be possible to remove the complier suffix from some tcl module name such as cuda?"
### Summary

Would it be possible to remove the complier suffix from tcl module name when the packages is installed? For example, would it be possibe to change **cuda/10.1.243-gcc-4.8.5** to **cuda/10.1.243** ,  because in the strict sense cuda is not compliedd by gcc-4.8.5, the complier suffix of the module name will confuse the user.

### Rationale

The develop branch spack was used

### Descrip

[2021-08-18 10:04] haampie opened #25475 "`spack style` bootstraps over and over"
### Steps to reproduce

As much as I like the fact that `spack style` bootstraps its own dependencies, once is enough. Somehow it reinstalls the python packages multiple times a day for me when I just develop (maybe switching branches etc, but usually I rebase on the develop branch).

And in fact it does inst all the exact same packages:

[code]

since it shows "Module file already exists", and th

[2021-08-18 10:45] kelbstf commented on #25446
Does it matter with regards to the LMod integration of Spack that LMod is not isntalled using Spack, but installed as an OHPC package?

[2021-08-18 12:19] kelbstf commented on #25446
Just wanted to add from the debug log:

[code]
[code]
[code]
[code]
[code]

It looks like the tokens are available and well defined, but the "translation" while writing the module file fails...

[2021-08-18 12:56] christoph-conrads commented on #25408
The Serf developers were notified by sending a message to the e-mail address mentioned in the Serf README.

[2021-08-18 13:04] christoph-conrads commented on #25408
#25478

[2021-08-18 13:43] adamjstewart commented on #25475
@vsoch

[2021-08-18 16:27] hootthompson opened #25483 "install OpenGL"
### Steps to reproduce

(notebook) jovyan@jupyter-jhthomps:~$ spack list | grep opengl
opengl
openglu
(notebook) jovyan@jupyter-jhthomps:~$ spack install opengl
==> Error: There are no valid versions for opengl that match ':'

***
This seems to be the same as issue 17512 which appears to be closed. Are suggestions there still valid? You'll see that I'm running in a Python notebook environment.

##

[2021-08-18 16:29] vsoch commented on #25475
Is it the same for clingo? The spack style bootstrap doesn't do anything special or different from another bootstrap - so this suggests there is some issue with bootstrapping. They all follow this convention:

[code]
So I think we should ping @alalazo

[2021-08-18 17:00] eugeneswalker opened #25485 "paraview@5.9.0 +cuda build fails: undefined reference to __cudaRegisterLinkedBinary..."
### Steps to reproduce the issue

`paraview@5.9.0 +cuda` build fails w/ **CUDA 11.4** using:
* `spack@develop` (b22728d55c126a0034f70c7331b6fabc4d6ad095 from `Wed Aug 18 09:49:51 2021 +0200`)
* Ubuntu 20.04, GCC 9.3.0
* Ubuntu 18.04, GCC 7.5.0
* RHEL 7, GCC 9.3.0
* RHEL 8, GCC 8.4.1

Concrete spec: [paraview.spec.yaml.txt](https://github.com/spack/spack/files/7008885/paraview.spec.yaml.txt)

Repro

[2021-08-18 17:11] vicentebolea commented on #25485
@eugeneswalker thanks for this report, we do not support CUDA yet in ParaView. Yes, we have the flags in the spack package but  it will not work. We are working  on that (Already have a branch where we got this work) but we are having some issues adding testing infrastructure for this setting. We will release this feature in the coming weeks probably.

[2021-08-18 17:13] eugeneswalker commented on #25485
Oh! Sounds good. Thank you for quick response! Should I close this issue now? Would you like to keep it open until your branch is merged?

[2021-08-18 17:13] alalazo commented on #25475
I don't experience the same for clingo. I think one difference is that clingo uses a different function to import a module than the one used here to put an executable into the PATH. I'd wait for #22720 and #24003 to be merged (they'll refactor the bootstrapping logic heavily) and then deal with this issue. Or if #24003 takes longer than expected to be merged I can try to solve it there.

[2021-08-18 17:15] alalazo commented on #25475
I marked this as low impact as it's for developers only, feel free to raise it to medium if you think it's more severe than that.

[2021-08-18 17:38] vicentebolea commented on #25485
@eugeneswalker keep it open, it will be also good to have this for future people intending to use ParaView +CUDA

[2021-08-18 18:14] #22606 closed, assigned to alalazo

[2021-08-18 18:14] #23946 closed, assigned to tgamblin, alalazo

[2021-08-18 18:14] #24417 closed, assigned to alalazo

[2021-08-18 18:14] #24450 closed, assigned to alalazo

[2021-08-18 18:14] #25164 closed, assigned to alalazo

[2021-08-18 18:41] vsoch commented on #25475
@tgamblin let's hold off on spack-bot (at least production deploying) the new version that includes running spack style until this is fixed.

[2021-08-18 19:56] #22970 closed, assigned to nobody

[2021-08-18 20:38] haampie commented on #25475
Yeah, low impact it is indeed, cause it's reasonably fast anyways.

I don't have a bootstrapped clingo, I have my own spack environment with python, clingo, boto and other deps that spack doesnt bootstrap yet, and that has been working fine for a long time. Maybe I could add the style packages there too and see if that fixes it for me

[2021-08-18 22:03] vsoch opened #25490 "Deprecated or completely changed packages"
It looks like the grib-api is no longer used, and it was replaced:

https://www.ecmwf.int/en/newsletter/152/news/end-road-grib-api

The larger issue is that the install links don't seem to work anymore.

Similarly, connect proxy (previously on GitLab now is 404, and the one with the most starts on GitHub is https://github.com/larryhou/connect-proxy. But I can't tell if this is exactly the same, or

[2021-08-18 22:13] vsoch commented on #25288
This is published: https://repology.org/repository/spack, and I've opened a PR to address a bulk of the list of problems #25491

[2021-08-18 23:40] vsoch commented on #25490
Just adding another note - I was unable to fix/update connect-proxy: https://github.com/spack/spack/runs/3366403557?check_suite_focus=true. We likely need to discuss how to redo/update or remove the package (if there is no stable source code).

[2021-08-19 00:52] tldahlgren commented on #25164
It did.  Luke installed `clingo` and `boto` for me on the machine.  But I thought it could be useful for this issue and associated PR to provide an example of the output I was getting -- since it did appear to be CMake-related.

[2021-08-19 04:08] mohit9638iitk commented on #6
Spack install can't find shared libraries when using intel compilers

[2021-08-19 13:28] xy124 commented on #19314
Same issue here with the same versions and also with protobuf 3.6.1 . Installing protobuf 3.4.0 with the named intel compiler works

[2021-08-19 13:34] christoph-conrads commented on #25410
Ok but there is more missing than just `+bz2` (see below). I am investigating.
[code]

[2021-08-19 13:40] cpraveen commented on #23534
Facing this issue on arm macmini, is there any fix for this ? Not able to install deal.ii, libffi encounters this error.

[2021-08-19 13:43] xy124 commented on #12752
Same error here. Adding manually
`prefix: /.../intel/parallel_studio_xe_2019_update4_cluster_edition/compilers_and_libraries_2019.4.243/linux/mkl`
to the lib-mkl entry in `~/.spack/packages.yml` fixed this. But probably this is not the clean way to fix this and the module file need to be fixed instead

[2021-08-19 13:45] christoph-conrads commented on #25410
Exactly what I was looking for: [Mercurial wiki: _Supported Python Versions_](https://www.mercurial-scm.org/wiki/SupportedPythonVersions). I will add all of the information on this webpage to the Spack build.

An excerpt:

[2021-08-19 14:33] psakievich commented on #25034
@haampie I think this might be the same issue that I'm seeing in #25495.  To debug my case I ran
[code]
I put print statements in `environment.py::_spec_needs_overwrite` and traces this behavior to the first check that sees if the spec is installed.  This evaluated to `false` for the develop spec. But for some reason it shows up as installed in the `spack install` output.

[2021-08-19 14:45] christoph-conrads commented on #25410
PR #25506

[2021-08-19 14:53] ningli opened #25509 "Installation issue: p3dfft3"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.16.2-3945-a81ec88c6c
* **Python:** 3.6.8
* **Platform:** linux-centos8-skylake
* **Concretizer:** original

### Additional information

The package fails to compile with gcc 10+, apparently due to the 'argument mismatch' issue in some Fortran codes. The compiler flag `-fallow-argument-mismatch` is required.

[

[2021-08-19 15:39] adamjstewart opened #25512 "spack url stats: add option to list offending packages"
### Summary

We should add an option to `spack url stats` (or maybe `spack url list`) that prints packages that don't use SHA256 yet.

### Rationale

@tgamblin introduced `spack url stats` back in the day when we converted all packages from MD5 to SHA256. At this point, a very small number of packages don't have SHA256 checksums:
[code]
I would like to deprecate the versions that don't have SHA256

[2021-08-19 16:04] adamjstewart opened #25514 "spack.yaml: allow conditional dependencies"
### Summary

We should allow conditional dependencies in `spack.yaml` files.

### Rationale

`spack.yaml` is designed to describe the dependencies of a project. Many of these dependencies are conditional on OS or dependency version. Other package managers like conda and pip support this like so:
[code]
Many of these dependencies either can't be installed or aren't needed for some platforms/version

[2021-08-19 16:29] adamjstewart commented on #25483
`opengl` is an external-only package. Spack can't install it because it requires hardware drivers. If `opengl` is already installed, you can add it as an external package. If not, you can try another `gl` provider like `mesa`.

[2021-08-19 16:41] hootthompson commented on #25483
Ok, thank you very much for the response!

Hoot

From: "Adam J. Stewart" ***@***.***>
Reply-To: spack/spack ***@***.***>
Date: Thursday, August 19, 2021 at 12:29 PM
To: spack/spack ***@***.***>
Cc: hootthompson ***@***.***>, Author ***@***.***>
Subject: [EXTERNAL] Re: [spack/spack] install OpenGL (#25483)

opengl is an external-only package. Spack can't install it because it requires hardware driv

[2021-08-19 18:20] #25483 closed, assigned to nobody

[2021-08-19 19:55] eugeneswalker commented on #25433
Anyone know about this? We would like to include `strumpack +rocm` in E4S 21.08 but would need to have a fix for this :(

[2021-08-19 21:03] #23164 closed, assigned to alalazo

[2021-08-20 00:20] tldahlgren commented on #25325
Hi @corbett5.  Great!  Thanks.  I'm working off `develop` so I think I should be fine.

[2021-08-20 00:31] tldahlgren commented on #25325
Hmm.  My PR (#25321 ) did depend on the above recommendation of using `lvarray ~tests`.  I'm generally going off of whatever is the preferred version for a package.

[2021-08-20 02:09] corbett5 commented on #25325
The `lvarray.yaml`file you have has `tests: true`, which is the default.

[2021-08-20 09:36] haampie commented on #25514
I wonder if we can model spack.yaml as a declarative anonymous package definition (without source code), cause I'd also like to add `conflicts(...)` in spack.yaml sometimes if a particular version does not work (e.g. our docs environment does not work with a single version of py-sphinx). Now I have to write `specs: - pkg@1.0.0:1.2.3,1.2.5:`, but I'd rather write `specs: - pkg` and `conflicts: - pk

[2021-08-20 10:03] haampie opened #25532 "Environments reread, which complicates scripting"
### Steps to reproduce

Create an env in `cd $(mktemp -d)`:

[code]

Run `spack python`

[code]

And `all_specs()` is empty, because `install_all()` rereads the spack.yaml file from disk right here:

https://github.com/spack/spack/blob/d52a1b8279bb7515669ae3bc6cf6dd5f6f6fca08/lib/spack/spack/environment.py#L1534

and no spack.lock was stored because I didn't call `e.write()` anywhere.

It'd be gre

[2021-08-20 10:25] alalazo commented on #25514
Don't we have that already:
[code]
? From [here](https://spack.readthedocs.io/en/latest/environments.html#spec-matrices):

[2021-08-20 12:11] jacorvar opened #25537 "Cannot concretize ALL R packages together with clingo"
### Steps to reproduce

I've created an environment including ALL R packages (through `$ spack add $(spack list r-*)`) with the following config:
[code]
I'd like to concretize everything together in order to have one single package version if possible.

### Error message

However, I get the following error when concretizing:

[code]
According to [#23307](https://github.com/spack/spack/pull/23307),

[2021-08-20 13:32] haampie opened #25541 "Environment view updates are slow"
### Steps to reproduce

Create an environment like this:

[code]

and run `spack install`. The view takes more than 10 seconds to create.

When adding a new spec, and rerunning spack install, it takes as much time.

Also somehow I'm ending up with a bunch of files of the form `[name]~` in my path, like `pybabel~`.

@adamjstewart is reporting the same. ping @becker33

### Error message

none

### I

[2021-08-20 13:46] adamjstewart commented on #25541
In my case it takes more like 10 minutes.

See #25073

[2021-08-20 15:03] kwryankrattiger opened #25545 "Add option to depends_on to automatically propagate package variants to dependencies"
### Summary

I want a simpler way to propagate variants between packages. The default behavior is to not do this, which makes sense, but in many cases it is desired to propagate variants to dependencies.

### Rationale

Currently propagating package variants is a bit of a pain as each flag must be individually specified on and off.

[code]

This becomes very verbose as the number of variants incre

[2021-08-20 15:17] haampie commented on #25545
You can do

[code]

do you really explicitly depend on hdf5~mpi though?

Generally it's better to keep the package.py as declarative as possible

[2021-08-20 16:01] spenpw opened #25547 "Override scope for `spack install`"
### Summary

When running the `spack install` command, an option should be available to specify a configuration scope from which to get build settings.

### Rationale

When an administrator is installing a package globally for all users on a system to access, but the administrator has a `~/.spack` directory containing configuration files for their own local packages, there is no way to install glo

[2021-08-20 17:06] kwryankrattiger commented on #25545
In the case that I am describing we are explicitly turning the variant on/off based on the variant from the parent. The use case is more wrapper packages that setup SDKs vs individual packages. ie. the SDK doesn't have MPI, all of the sub packages turn off MPI.

I agree too much magic can lead to issues. The proposed solution is much less verbose and it is a little easier to parse one line vs many

[2021-08-20 22:56] eschnett opened #25552 "Installation issue: curl"
### Steps to reproduce the issue

[code]

The newest version of `curl` (7.78) does not build on macOS any more. Version 7.76.1 built fine.

The error message is
[code]

### Information on your system

[code]

### Additional information

[spack-build-out.txt](https://github.com/spack/spack/files/7024382/spack-build-out.txt)
[spack-build-env.txt](https://github.com/spack/spack/files/7024383/spack-bu

[2021-08-21 11:38] christoph-conrads commented on #12520
This post explains how to fix this issue:
* add the prefix manually to `~/.spack/packages.yaml` in addition to the module name(s)
* ensure the list of modules needed by OpenMPI in `~/.spack/packages.yaml` is complete

Here is the OpenMPI entry in `~/.spack/package.yaml` on CentOS 7:
[code]
At some point in `spack install`, Spack will attempt to determine the package prefix based on the information

[2021-08-21 11:42] christoph-conrads commented on #25408
Closing the issue because the pull request resolved the problem on the Spack side.

[2021-08-21 11:42] #25408 closed, assigned to nobody

[2021-08-21 18:05] #20364 closed, assigned to adamjstewart

[2021-08-21 18:05] #22287 closed, assigned to alalazo, adamjstewart

[2021-08-21 18:05] #25111 closed, assigned to adamjstewart

[2021-08-21 19:51] adamjstewart commented on #23891
Hit this again today with a different environment:
[code]

[2021-08-21 19:55] tgamblin commented on #23891
Are you building sequentially (and in one package at a time — package can be parallel) on one node or in parallel (multiple packages at a time)?

[2021-08-21 19:58] adamjstewart commented on #23891
Sequentially on my laptop

[2021-08-22 00:50] Julius-Plehn commented on #25452
Attached you can find a work in progress version of this package. It builds but due to some dependency management and binary shipment weirdness I stopped working on this package.

[code]

Next issue:
`DualSPHysics5.0CPU_linux64: error while loading shared libraries: libdsphchrono.so: cannot open shared object file: No such file or directory`

[2021-08-22 01:25] tgamblin commented on #23891
@adamjstewart can you see if #24794 fixes this?  It's been updated.

[2021-08-22 07:02] #25102 closed, assigned to adamjstewart

[2021-08-22 16:31] adamjstewart commented on #7355
This should be fixed by #24545 and #24236. Users who don't use Spack's module features can set `SPACK_SKIP_MODULES` and skip all the slow calls to the Python interpreter.

[2021-08-22 16:31] #7355 closed

[2021-08-22 17:14] adamjstewart opened #25555 "Environment activation is slow"
Activating/deactivating Spack environments is incredibly slow:
[code]
For comparison, for a similarly sized Conda environment:
[code]
Unfortunately, `pyinstrument` doesn't work for bash functions (which are required for env support), and `spack --profile` doesn't work either.

May be related to #25541, #25306

[2021-08-22 17:20] adamjstewart commented on #25541
@tgamblin is there a command I can run to get timing for just the view update and not concretization/installation?

[2021-08-22 17:21] adamjstewart commented on #25555
This is with a fairly large environment:
[code]

[2021-08-22 17:35] adamjstewart commented on #20025
Has anyone had a chance to work on this? It keeps getting bumped from one release to the next.

[2021-08-22 19:08] haampie commented on #25541
Spack env view regenerate?

[2021-08-22 20:25] adamjstewart commented on #25541
Thanks @haampie, that's exactly what I was looking for. Here are some timings to demonstrate the severity of the issue:
[code]
This is with the large environment I shared in #25555.

[2021-08-22 21:25] adamjstewart commented on #25555
From running `spack -d`, it looks like the issue is that we are running the code I added in #24095 for every Python package. Coupled with #25306, we are running this recursively for every package.

In the short term, I think we can just cache that result. In the long term, we need to do something differently in that code anyway because `distutils` is being removed.

@alalazo

[2021-08-23 01:23] Char-Aznable commented on #13484
Why is this closed? I tried installing diffutils%clang@12.0.0 and still got this error

[2021-08-23 01:31] Char-Aznable commented on #13484
I can confirm that applying the patch from https://github.com/spack/spack/pull/13778 resolves the issue with clang-12

[2021-08-23 07:20] alalazo commented on #25555
I was thinking that it might be difficult to settle on a single strategy for all the Python versions we support and all the Python packages, so maybe we should:
1. Design an approach that could account for different strategies (`distutils` + ?)
2. Have some way to dispatch this call to the right strategy depending on a) Python version in the DAG b) Metadata in the package

[2021-08-23 07:38] #25552 closed, assigned to adamjstewart

[2021-08-23 08:00] alalazo commented on #25547
Would it work if you use:
[code]
and start each config with a double colon? Alternatively (and for reproducibility) you can also use an environment with all the needed configuration pulled in.

[2021-08-23 08:10] alalazo commented on #25468
@adamjstewart Is this solved with #22720? Bootstrapping from binaries should not use `libpython*.a`

[2021-08-23 10:32] lorddavidiii commented on #25420
So, may this related, I recognized that after #24300 the name for the xml catalogs changes from `catalog.xml` to `catalog`, hence I had to reinstall  `docbook-xsl` and `docbook-xml` to fix this.

 I just checked, I install these to packages one commit before the PR, ie 970bf4318c, them `XML_CATALOG_FILES` points to `catalog.xml`, but after checking out th PR commit, ie 4fd8640586816d59693b264bcbd5

[2021-08-23 11:38] alalazo opened #25563 "Pipelines failing if two specs have same dag hash, but different full hashes"
### Steps to reproduce

The issue can be reproduce locally with this simple environment:
[code]
which installs the same spec using two different build dependencies. This results in the two specs having:
- The same value for `dag_hash`
- Different values for `build_hash` and `full_hash`

The environment can be concretized correctly and produces a valid `spack.lock`:

<details>

<summary>$ spack con

[2021-08-23 11:51] alalazo commented on #25563
@scottwittenburg @tldahlgren @tgamblin @becker33

[2021-08-23 12:13] alalazo commented on #25563
These seem to be the relevant lines:

https://github.com/spack/spack/blob/2971a630b815fa88b71152787eca4ce2deb2dc7c/lib/spack/spack/environment.py#L1605-L1607

The condition `concretized_user_spec.satisfies(spec)` checks just the DAG hash if `spec` is concrete. We should probably special case the matching on concreteness of the argument.

[2021-08-23 14:28] #22591 closed, assigned to nobody

[2021-08-23 14:32] #20578 closed, assigned to nobody

[2021-08-23 14:56] adamjstewart opened #25566 "spack clean -b: failure on macOS"
### Steps to reproduce

[code]

### Error message

[code]

### Information on your system

* **Spack:** 0.16.2-4008-2971a630b8
* **Python:** 3.8.11
* **Platform:** darwin-catalina-ivybridge
* **Concretizer:** clingo

@alalazo

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have searched the issues of this repo and believe th

[2021-08-23 14:58] adamjstewart commented on #25468
@alalazo not really. We don't seem to have binaries for Python 2, although the bootstrap is working for Python 3. Also, this is a more general problem that likely affects many aspects of Spack when using Anaconda Python as an external package.

[2021-08-23 15:09] alalazo commented on #25468
We do have them, and they are tested on Ubuntu, see [here](https://github.com/spack/spack/runs/3396267926?check_suite_focus=true)

[2021-08-23 15:12] spenpw commented on #25547
Could you point me to documentation on the double colon? I'm not familiar with what that does.

Additionally, figured I should mention that this was discussed briefly in Slack: https://spackpm.slack.com/archives/C5W7NKZJT/p1629385848289600.

[2021-08-23 15:15] adamjstewart commented on #25468
We don't seem to have binaries for Python 2 on macOS?

[2021-08-23 15:16] alalazo commented on #25547
Sure, see [here](https://spack.readthedocs.io/en/latest/configuration.html#overriding-entire-sections)

[2021-08-23 15:35] alalazo commented on #25468
That's correct. For MacOS we have Python 3.5-3.9. I was reading the output of `spack debug report` and wondering if something was wrong on Ubuntu.

[2021-08-23 15:37] adamjstewart commented on #25468
The original error was encountered on Ubuntu with Python 3. Binary bootstrapping should solve that, although it won't solve people trying to use external Python packages.

[2021-08-23 15:40] glennpj commented on #25420
The `XML_CATALOG_FILES` points to the file with the entities, so the name itself should not matter. The `gtk-doc package builds fine on a CentOS-7 system. That likely means that the system installed catalog is, or is not, coming into play, possibly due to the environment variable being ignored.

[2021-08-23 15:41] adamjstewart commented on #22918
I added this variant in #4797. I know very little about CMake, so I'm personally fine with changing the default to whatever the community agrees on.

[2021-08-23 15:41] alalazo commented on #25468
True, but this issue is specific to clingo and bootstrapping. I'm fine changing its scope, but we should modify the title and labels I guess.

[2021-08-23 15:41] haampie opened #25567 "Move zstd away from cmake again"
### Summary

zstd should be trivial to install, and cmake is too big of a dependency

### Rationale

cmake itself bootstraps zstd, so we can't have zstd use cmake as a build system if we want to ship cmake properly without vendored libs: In https://github.com/spack/spack/pull/22668 I made zstd use cmake, but cmake bootstraps zstd https://github.com/Kitware/CMake/tree/master/Utilities/cmzstd, so it

[2021-08-23 15:45] glennpj commented on #25420
It could also be something amiss with the entities in the docbook packages. I will look into that as well.

[2021-08-23 16:11] spenpw commented on #25547
So I think that `spack install -C /etc/spack` would be a sort of hacky way to make this work, but it would be nice to be able to essentially skip config levels from the command line. I would be interested in taking a crack at implementing a `--scope` flag for `spack install`. Is this a good idea?

[2021-08-23 16:50] sanjtrip commented on #24430
@UweSauter, Could you update testing the fix ?

[2021-08-23 17:27] tldahlgren commented on #25563
I had this problem with `font-util` for some RADIUSS Cloud CI builds I was working on.

@alalazo Any reason to include the fix with that PR (versus a separate PR) since it's an issue seen when someone uses `clingo` concretizer in CI?

[2021-08-23 17:29] pghysels commented on #25433
Sorry I was on vacation, I will look into this.

[2021-08-23 17:37] glennpj commented on #25420
@superNick459 Can you try PR #25569 and see if that fixes the problem.

[2021-08-23 17:50] PhilipFackler opened #25571 "Installation issue: flux-sched"
### Steps to reproduce the issue

[code]

### Information on your system

On the OLCF Ascent cluster

[code]

### Additional information

[spack-build-env.txt](https://github.com/spack/spack/files/7033790/spack-build-env.txt)
[spack-build-out.txt](https://github.com/spack/spack/files/7033791/spack-build-out.txt)

When I add the following line to the flux-sched package.py file, it works.
[code]

@S

[2021-08-23 18:13] alalazo commented on #25563
I think we can cherry pick the commit, if need be. But having that in a PR that triggers the error is good so that we know it's fixed :slightly_smiling_face:

[2021-08-23 18:13] alalazo commented on #25563
Also, I hope #25502 would go in relatively soon

[2021-08-23 22:05] psakievich commented on #25034
@haampie I've confirmed that #24049 is where this issue started.

[2021-08-24 10:26] mdorier opened #25580 "py-pybind11 not usable with system-provided python due to PYTHONPATH problem"
### Steps to reproduce the issue

py-pybind11 builds fine, but is unusable because spack doesn't correctly make PYTHONPATH point to it when using a system-provided python installation. I don't know if it's a problem with spack or with the pybind11 package itself.

To reproduce, first make sure you have a system-installed python, listed in your packages.yaml file, then do the following:

[code]

Up

[2021-08-24 10:42] haampie opened #25581 "unit tests require network"
### Steps to reproduce

[code]

ping @alalazo

### Error message

FAIL lib/spack/spack/test/bindist.py::test_default_rpaths_create_install_default_layout
FAIL lib/spack/spack/test/bindist.py::test_default_rpaths_install_nondefault_layout
FAIL lib/spack/spack/test/bindist.py::test_relative_rpaths_create_default_layout
FAIL lib/spack/spack/test/bindist.py::test_relative_rpaths_install_default_layout

[2021-08-24 11:54] haampie opened #25582 "`spack install --overwrite ...` install prefix backup doesn't work, leaving spec installed in db without install prefix dir"
### Steps to reproduce

[code]

### Error message

[code]

### Information on your system

* **Spack:** 0.16.2-4012-c3b1bae67b
* **Python:** 3.8.11
* **Platform:** linux-ubuntu20.04-zen2
* **Concretizer:** clingo

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have searched the issues of this repo and believe this is not a d

[2021-08-24 12:24] haampie commented on #25582
Great, so `replace_directory_transaction` actually works and moves the original install prefix back in place, but then it gets removed immediately by the PackageInstaller :laughing:

[code]

[2021-08-24 14:07] RemiLacroix-IDRIS commented on #17326
It seems that the problem also appears with `~static+kits` for Paraview 5.9.1.

Edit: Maybe it has to do with `+python3` in fact, I'm not completely sure...

There seems to be a mix of static and dynamic libraries:
[code]

[2021-08-24 14:58] adamjstewart commented on #25580
@ax3l the issue is that `py-pybind11` is a `CMakePackage` and doesn't contain the same logic as `PythonPackage` for installing libraries to the correct directory. Does it have to be a `CMakePackage`? If so, we'll need to copy the logic from `PythonPackage` into `py-pybind11`.

[2021-08-24 15:11] adamjstewart commented on #21215
Bumped this from impact-low to impact-medium since clingo will soon be the default concretizer and macOS support is important (at least to me 😆 )

[2021-08-24 17:07] #24726 closed, assigned to nobody

[2021-08-24 17:09] #25581 closed, assigned to alalazo

[2021-08-24 19:48] mathstuf commented on #17326
Hmm. `+python3` is definitely involved there, though I don't see what would cause this based on `master` right now. I'd need to dig in later.

[2021-08-24 21:08] #23891 closed, assigned to tgamblin

[2021-08-24 21:34] adamjstewart commented on #21215
Possibly a duplicate of #23892. Not saying we should close either issue, but if we fix one we might fix the other.

[2021-08-24 21:52] tldahlgren commented on #5629
@pramodskumbhar Is this still an issue for you since the parallel build support refactoring?

[2021-08-24 22:04] tldahlgren opened #25595 "Spack -ddd install results in failed builds"
### Steps to reproduce

You can no longer use the triple debug option (for seeing detailed lock debug messages) when installing a package.

[code]

This issue was mentioned in #24794 and appears to be related to a bug introduced in #18205.

### Error message

[code]

### Information on your system

* **Spack:** 0.16.2-4019-80713e234c
* **Python:** 3.7.2
* **Platform:** linux-rhel7-broadwell
* **Co

[2021-08-24 23:47] pghysels commented on #25433
I assume the problem comes from:
`-L"HIP_CLANG_INCLUDE_PATH-NOTFOUND/../lib/linux" `
but I don't how that ends up in the link line.
It also fails with strumpack@master. I tried to enable HIP as a language in CMake in strumpack@master, instead of using FindHIP.cmake, but that leads to the same problem.

I would think this is because of a change in hip-4.3, but I cannot compile with hip-4.2 anymore

[2021-08-25 00:08] eugeneswalker commented on #25433
@srekolam @arjun-raj-kuppala @haampie -- Do you have any ideas what might be going on here? Could this be coming from something in hip@4.3.0 ?

[2021-08-25 00:21] #25595 closed, assigned to nobody

[2021-08-25 00:36] mathstuf commented on #17326
I have *a* cycle involving some of the same bits here. I'll work on it for 5.10, but a backport to 5.9 can be done for Spack at least (I don't think we'll have a 5.9.2).

[2021-08-25 01:28] mathstuf commented on #17326
Taking a look at it, the change is just not eligible for 5.9 anyways (and I'd caution against a backport). I'd just deny the configuration of `+static+kits+python3` up front for `paraview@:5.10`.

[2021-08-25 03:20] certik opened #25598 "Installation issue: gcc"
### Steps to reproduce the issue

[code]

### Information on your system

[code]

[code]

### Additional information

I couldn't find those files.

Given that the packages fails to build like this, I assume something is not configure properly.

CC @alalazo  @michaelkuhn

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have ru

[2021-08-25 05:40] ax3l commented on #25580
Uff, I have to admit we reworked the CMake logic a ton in 2.6+.

Let's see if that vanishes with the latest release? (#25519)

Not necessarily, but usually downstream consumers are C++ projects that use CMake's `find_package` to find it.
I think if we install it as a PythonPackage we should still be able to find it from C++, we can test with `openPMD-api` or other projects if we change it.

[2021-08-25 06:15] alalazo commented on #25598
@michaelkuhn Do you have bandwidth (and a MacOS) to look into this?

[2021-08-25 07:13] RemiLacroix-IDRIS commented on #25485
@vicentebolea: Sorry it's not clear to me whether CUDA is not supported in ParaView in general or in the context of Spack?

[2021-08-25 07:31] RemiLacroix-IDRIS commented on #17326
I had `~shared` because of `+cuda` but I'm reading in #25485 that CUDA is not supported yet. `+cuda~shared~kits+python3` goes through configure but failed to link as noted in the PR.

[2021-08-25 08:19] haampie commented on #25566
I know what this is: a spec in the bootstrap store occurs in some named environment. Spack can't know from an environment file what database it belongs to, so uninstall errors with a false positive. It could be solved by running with `-f`.

[2021-08-25 08:35] haampie opened #25603 "`spack clean -b` may remove specs from environment"
### Steps to reproduce

`spack clean -b` calls

https://github.com/spack/spack/blob/f6a9ef5ef51630969635f9068e3420dd4dadc86f/lib/spack/spack/cmd/clean.py#L108-L109

but uninstall is environment aware, and the environment is not deactivated in the 'bootstrap context', so we run:

https://github.com/spack/spack/blob/f6a9ef5ef51630969635f9068e3420dd4dadc86f/lib/spack/spack/cmd/uninstall.py#L326-L332

[2021-08-25 11:10] alalazo commented on #25603
Marked as impact low as we switch the store before doing this, so we don't uninstall anything from the environment :disappointed_relieved: Anyhow, calling `spack clean -b` with an active environment results in wrong output:
[code]
and in the bootstrap store not being cleaned.

[2021-08-25 12:13] haampie commented on #25603
It still calls `_remove_from_env` which can remove something from the specs section of an environment file.

[2021-08-25 12:14] haampie commented on #25566
The general issue is https://github.com/spack/spack/issues/25203, but we can solve this one apart from it.

[2021-08-25 12:26] alalazo commented on #25603
That's true, but it removes that only after uninstall and the chances `clingo-bootstrap@spack` is in an environment are low, I think. I can raise this to `impact-medium` if it seems more appropriate. A draft fix has been submitted already, just waiting for the tests to complete.

[2021-08-25 12:27] haampie commented on #25603
hehe, i have such an environment :p but yeah. I don't know how it works for dependencies (like zlib), makes me think about @adamjstewart's issue: #25566

[2021-08-25 13:07] alalazo commented on #25566
Does #25607 solve this issue?

[2021-08-25 16:08] adamjstewart commented on #25566
I'm actually no longer able to reproduce the original issue anymore lol. I `rm -rf`'ed the entire directory and upgraded Spack so maybe it was a bug specific to the from-source bootstrapping or something?

[2021-08-25 16:32] mathstuf commented on #17326
ParaView will start to ignore `+kits` in a `~shared` build, so I would recommend backporting [this hunk](https://gitlab.kitware.com/paraview/paraview/-/merge_requests/5141/diffs#diff-content-50aceb399f2f088584653c78950153b4bb26cce3) for 5.9.1.

[2021-08-25 16:34] wspear opened #25612 "External cray-mpich provides incorrect spec['mpi'].prefix.include path"
### Steps to reproduce

This is observed on the spock system, a cray early-access machine at ORNL. It causes several mpi dependent package builds to fail including TAU, which I will use as an example.

packages.yaml looks like:

[code]

The TAU package sets up its mpi configuration like this:
[code]

Which translates to this in the actual configure invocation:
`'-mpiinc=/opt/cray/pe/mpich/8.1.7/gt

[2021-08-25 16:51] adamjstewart commented on #25580
I wonder if we can subclass both `CMakePackage` and `PythonPackage` and call the install methods for both in the package. That would help prevent the setup.py logic from becoming outdated when it gets updated in `PythonPackage`.

[2021-08-25 17:56] #25563 closed, assigned to nobody

[2021-08-25 18:15] mwkrentel commented on #25354
@BenWibking Did you ever get this to work?

[2021-08-25 18:31] vicentebolea commented on #25485
@RemiLacroix-IDRIS in latest versions of ParaView we do not support CUDA in general. But we will soon support it through VTK-m, it will be unlikely to be iincluded in the next ParaView release but it will be in master sometime later.

[2021-08-25 19:38] adamjstewart commented on #23892
Current workaround is to use:
[code]
somewhere in Spack, but this isn't a great long-term solution unless we know why the issue is occuring.

[2021-08-25 19:40] adamjstewart commented on #21215
Added a temporary workaround in #23892 if anyone else encounters this issue before we get it fixed.

[2021-08-25 20:20] tldahlgren commented on #20025
@adamjstewart I'm not having the problem with the latest `develop` on my Mac (Big Sur, Python 3.9.5 and 2.7.16).  I see this is listed in the `0.16.3` and you were using `0.16.0`.  Should I be testing with a specific release or commit?

[2021-08-25 20:38] adamjstewart commented on #20025
Oh interesting, maybe it was fixed recently. I'll investigate.

[2021-08-25 22:19] alalazo commented on #21215
I'm not sure this is a duplicate. Here `pickle` is not able to find `Spec` in `llnl.util.lang` 🤔 Still not sure why it searches that there.

[2021-08-25 23:24] eugeneswalker opened #25617 "llvm@main fails: expected primary-expression before '>' token"
### Steps to reproduce the issue

`llvm@main +clang +compiler-rt +libcxx +lld +lldb +llvm_dylib ~cuda` fails to build using:
* `spack@develop` (e4e4bf75ca1f640901621e18bfa0d69e4f5474c6 from `Wed Aug 25 16:35:49 2021 -0600`)
* Ubuntu 20.04, GCC 9.3.0

Concrete spec: [llvm.spec.yaml.txt](https://github.com/spack/spack/files/7050471/llvm.spec.yaml.txt)

Reproduced below using Docker container image `

[2021-08-26 00:22] tldahlgren opened #25618 "Stand-alone/smoke tests should not require 'spack load' to work"
### Summary

Stand-alone/smoke tests should ensure the package's environment is set properly prior to running the tests.

### Rationale

There are some environments and situations (e.g., MacOS) where you cannot run stand-alone tests without first running `spack load` on the associated package.  This is inconvenient at best.

### Description

Spack test should `load` the package's environment setti

[2021-08-26 06:10] samcom12 commented on #19544
I'm still getting a `fetch` error.

[code]

[2021-08-26 07:19] RemiLacroix-IDRIS commented on #17326
Maybe adding `conflict('+kits', when='~shared')` would be enough?

[2021-08-26 08:23] Billae commented on #24591
I have the same issue with the same configuration (doxygen1.9.1 on gcc7.5 & ubuntu 18).
Is there some  fix to do ?

[2021-08-26 12:07] alalazo commented on #21215
Note to self, it's very likely the:

https://github.com/spack/spack/blob/4ddc0ff218d5ed0968f6efb0fac855b1b7127375/lib/spack/llnl/util/lang.py#L752-L759

that is confusing `pickle` sometimes.

[2021-08-26 14:44] srekolam commented on #25433
i do not know at this moment that this issue is seen with hip@4.3.0.  If this is something that needs to be investigated, i can reach to the internal hip team for any clues .

[2021-08-26 15:00] alalazo commented on #21215
Fix for this issue is here 3f5a61e12afc7f4e542d05b9a95f9c03c6bb3710

[2021-08-26 15:14] mathstuf commented on #17326
That sounds reasonable to me.

[2021-08-26 15:27] germasch commented on #11582
I got pointed to this thread, dealing with the same issue, and hoping there's a better solution.

IMHO this is a kinda limited definition of an environment. I mean generally you're exposing these installations because you want to do something with them, most likely to actually build some code that depends on those packages, and hence needing matching compilers is probably a rather common case.

So

[2021-08-26 16:46] #21643 closed, assigned to scheibelp

[2021-08-26 16:51] adamjstewart commented on #20025
I'm so confused, I can't even reproduce this on the 0.16.0 release anymore. I guess we can close this for now until someone encounters it again and figures out how to reproduce.

[2021-08-26 17:47] scheibelp commented on #11582
Yes: if you can't make a Spack `package.py` file then you would need to add your own script to make a given compiler the chosen one for your working environment `spack-python` might be able to help you do that automatically (i.e. add the compiler appropriate for whatever environment you activate). We assume it would be easy to create a Spack package for development purposes but if that doesn't app

[2021-08-26 18:21] pramodk commented on #5629
I haven’t come across this recently. So can be closed. (pramodskumbhar was my alias)

[2021-08-26 18:32] tldahlgren commented on #5629
Closing since appears to no longer be an issue.

[2021-08-26 18:48] haampie commented on #11582
I was about to point this out too, particularly considering that loading "the compiler of the environment" is not well-defined since environments contain multiple packages with potentially multiple compilers, and you can't just load all the build environments of all dependencies without conflicts.

We should just make it easier for people to create packages with development in mind. In particular

[2021-08-26 19:20] #25603 closed, assigned to alalazo

[2021-08-26 19:42] germasch commented on #11582
[Circling back to the original question about environments, I agree that it's not trivial to know what compiler etc is wanted, and it may not even be well defined. So I don't have a real good answer, but I do think it'd be nicer for stuff to "just work".]

So actually writing my own package files was my first approach, and in fact I'd like that to be my only approach so that I don't have to try to

[2021-08-26 20:23] scheibelp commented on #11582
Out of curiosity, how do these builds differ? We've spoken to users who do this in different environments with different compilers, and I could also see a desire to rebuild with different variants.

Overall though, we in fact *do* allow multiple builds of the same development source with CMake.

We definitely want to improve `spack develop` to make this easy, so if you have more comments on pain p

[2021-08-26 20:24] scheibelp commented on #11582
Actually you wouldn't repeat step 10, and if the source changes but the spec doesn't then I think `spack install` should rebuild the specs under development (@becker33 this is based on timestamps right?).

[2021-08-26 20:44] #25541 closed, assigned to tgamblin

[2021-08-26 20:44] #25555 closed, assigned to tgamblin

[2021-08-26 20:51] #25313 closed, assigned to nobody

[2021-08-26 21:21] vsoch commented on #25288
I think we can close this - if any further tweaks, etc. are needed we can open new issues. Thanks everyone!

[2021-08-26 21:21] #25288 closed, assigned to nobody

[2021-08-26 23:00] scheibelp commented on #11582
BTW if you are interested, we have a (currently) weekly meeting on Wednesdays if you think a faster-paced discussion would be useful (e.g. https://groups.google.com/g/spack/c/81AHtT2Gmjw).

[2021-08-26 23:23] germasch commented on #11582
The problems I had related to build-env are because I missed `--`:

[code]

Reading the help text helps ;) (But a more helpful error would be nice, too)

[2021-08-27 00:08] germasch commented on #11582
So that Python_Initialize error wasn't just missing `--`, it just happened again. And if that happens, somehow the `spack.{lock,yaml}` end up moved out of `.spack-env` into `.`, breaking the environment altogether. I've re-created my environment from scratch 10 times in the last 30 minutes as things went awry.

If I'm careful to not do something else, the `spack build-env` approach actually does w

[2021-08-27 01:31] knelli2 opened #25651 "Installation issue: pango"
### Steps to reproduce the issue

The error is with the pango spec, but I encountered it when installing imagemagick because pango is a dependency.
(using any version of gcc, I specifically have tried gcc@8.3.1 and gcc@10.2.0)
spack install imagemagick

or

spack install pango

This this the output of the error in the terminal:
[code]

### Information on your system

* **Spack:** 0.16.2-4030-af2f0

[2021-08-27 01:37] adamjstewart commented on #25598
This doesn't look like an issue with the GCC package, it looks like a permissions issue on the system. I'm able to install GCC just fine on my macOS laptop, not sure what's different about this setup.

[2021-08-27 01:38] adamjstewart commented on #25651
@alalazo has done most of the work on our Autotools build system, he may be able to comment on this one.

[2021-08-27 01:38] adamjstewart commented on #25512
@tldahlgren you may be interested in this since you're working on http -> https for package URLs.

[2021-08-27 01:41] adamjstewart commented on #25468
The Anaconda installation on macOS has both static and shared libs, so this problem may be specific to Linux.

[2021-08-27 01:49] adamjstewart commented on #25468
Well, this is really strange:
[code]
Both `LIBRARY` and `LDLIBRARY` say to use a static lib, but the installation only has shared libs. And there are no other env vars that have the shared libs. I guess we could just check for both and ignore `LDLIBRARY`/`LIBRARY`?

[2021-08-27 01:55] adamjstewart commented on #25468
I haven't seen anyone else report issues with locating Python libs, so I think I'm going to ignore this until someone other than me has an issue. I usually avoid external Python installations anyway.

[2021-08-27 01:55] #25468 closed, assigned to nobody

[2021-08-27 07:58] alalazo commented on #23892
After concretizing the environment, this can be reproduced in an intepreter like:
[code]

[2021-08-27 08:34] alalazo commented on #23892
Ugh, [this](https://stackoverflow.com/questions/2134706/hitting-maximum-recursion-depth-using-pickle-cpickle) is not promising. Maybe though we can pickle things differently than just using defaults.

[2021-08-27 09:10] #21215 closed, assigned to scheibelp, alalazo

[2021-08-27 11:29] haampie commented on #11582
@germasch you can open a github discussion about improving developer experience, cause this is rather unrelated to the original issue.

short reply: use `spack develop` + `spack install` when you want to test spack installs end-to-end (e.g. you're debugging a dev version of a dependency or so and you want to rebuild dependency + dependent), use `spack build-env` if you want to quickly iterate with

[2021-08-27 13:49] germasch opened #25663 "installation issue: pfunit"
### Steps to reproduce

[code]

### Error message

I believe the above shows the problem, so I don't think it helps to add 1744 lines of additional debug info, though I'll be happy to add it if requested.

### Information on your system

[kaig1@login1 spack]$ spack debug report
* **Spack:** 0.16.2-4066-4f3a538519
* **Python:** 3.6.13
* **Platform:** cray-sles15-zen2
* **Concretizer:** original

(I

[2021-08-27 13:57] germasch opened #25664 "installation issue: the-silver-searcher"
### Steps to reproduce

[code]

This happens on Summit and on Spock, using gcc/{10.2,10.3}, respectively. Looks like an issue with the actual package.

### Error message

[code]

I'm more than happy to add the complete debug if requested, but I don't think it adds anything useful.

### Information on your system

[kaig1@login5 summit-gpu]$ spack debug report
* **Spack:** 0.16.2-4066-4f3a538519
* *

[2021-08-27 18:34] certik commented on #25598
@adamjstewart if you tell me what to try, I am happy to poke around if you tell me what to do. I am still quite new to macOS. Is Spack trying to write into /var ? That might not be allowed. But if it writes into the directory where the spack git repository was cloned, then things should work.

[2021-08-27 18:43] adamjstewart commented on #25598
Can you try changing the build directory? Add a `config.yaml` like:
[code]
Then it won't try to write to `/var`, which is the default `$TMPDIR` on macOS.

[2021-08-27 18:45] christoph-conrads commented on #25612
Hi, I was struggling with MPI on another machine and this is detailed in issue #12520 at the very bottom (this issue is only superficially about HDF5) and ended up writing documentation on how I _think_ Spack uses modules in pull request #25666 (attention: not reviewed yet). Could please show me the output of `module show cray-mpich/8.1.7`?

[2021-08-27 18:46] #25093 closed, assigned to nobody

[2021-08-27 18:46] #25618 closed, assigned to tldahlgren

[2021-08-27 18:50] wspear commented on #25612
After a lot of documentation and license info the setup portion of 'module show' gives:

[code]

[2021-08-27 18:59] certik commented on #25598
I added `~/.spack/config.yaml` with the contents you wrote and it indeed starts using `~/.spack/stage` as a temporary directory.

Now I am getting errors like:
[code]

So it does look like some permission problem on my Mac.

[2021-08-27 19:03] christoph-conrads commented on #25612
Could please try to add the following line to `~/.spack/packages.yaml` and attempt to rebuild?
[code]

On CentOS 7 I observed that Spack was computing the wrong prefix in the presence of nonstandard paths, i.e., instead of having a directory with the folders `bin`, `lib`, `include`, and so on, the OpenMPI package on CentOS 7 is found in `/usr/lib64/openmpi/bin`, `/usr/lib64/openmpi/lib`, and `/usr

[2021-08-27 19:24] eugeneswalker commented on #25617
This problem does not occur when I use `gcc@11.2.0`, all else being the same.

[2021-08-27 19:26] christoph-conrads commented on #10241
I see this message in Devuan Ascii and a Devuan Beowulf Linux containers with a fresh Spack clone when I
* download Spack,
* install all packages needed for documentation,
* activate the `py-sphinx`, `py-sphinx-rtd-theme`, and `py-sphinxcontrib-programoutput`,
* log out of the container shell,
* log in again,
* try to activate the same packages again.