[2021-04-19 04:36] naromero77 commented on #22982
In the case, of `quantum espresso`, here is what I see:
`spack install quantum-espresso~scalapack@6.7%gcc@9.3.0 hdf5=parallel
^intel-mkl@2020.4.304 ^mpich@3.3.2 netmod=tcp device=ch3` works

but, this generates a linking error:
`spack install quantum-espresso~scalapack@6.7%gcc@9.3.0 hdf5=parallel ^intel-mkl@2020.4.304 ^mpich@3.3.2 netmod=ofi device=ch4`

[code]

[2021-04-19 06:10] Sinan81 commented on #23003
On a second thought, this is probably not a good idea since it would artificially introduce a build dependency for `qgis`. Considering that @adamjstewart and I are very responsive to qgis related spack issues, it is ok to leave the package file as it is. Also, Spack might be switching to a better concretizer soon as far as I can tell, and hence the concretization issues will disappear.

[2021-04-19 06:45] ikitayama opened #23078 "Unable to `spack load intel` version which is provided by `intel-oneapi-compilers` spec"
### Steps to reproduce the issue

[code]
I naively expect the above is always possible.

### Error Message

[code]

### Information on your system

### Additional information

- [ ] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [x] I have searched the issues of this repo and believe this is not a duplicate
- [ ] I have run the failing commands in debug mode an

[2021-04-19 06:48] ikitayama commented on #23078
@DanVev , @rscohn2 is this expected?

[2021-04-19 07:52] haampie commented on #19871
@ikitayama I'm kinda curious if https://github.com/haampie/spack-batteries-included improves performance in any way, since it should have better caching behavior on a shared filesystem.

[code]

[2021-04-19 08:17] ikitayama commented on #19871
Assume I'm testing your script correctly, on JURECA-DC, I am afraid I don't
feel the speed up at all.

On Mon, Apr 19, 2021 at 4:52 PM Harmen Stoppels ***@***.***>
wrote:

[2021-04-19 08:25] haampie commented on #19871
Hm okay, do you have more than just the builtin repo? Basically the `_create_new_cache` should be a bit faster in terms of filesystem access. Also, are you on the Spack Slack workspace? That'd be a bit easier to discuss

[2021-04-19 08:31] ikitayama commented on #19871
No, I don't think so at least, locally I never developed specs by myself.

On Mon, Apr 19, 2021 at 5:25 PM Harmen Stoppels
***@***.***> wrote:

[2021-04-19 09:39] haampie commented on #23003
Ah yeah, works for me with the new concretizer. I'm gonna close the issue then, if people want to have it work better with the current concretizer feel free to reopen.

[2021-04-19 09:39] #23003 closed, assigned to nobody

[2021-04-19 10:49] zhujunmian opened #23086 "Installation issue: dftbplus"
## DFTB+ (dftbplus) package installation Issue
I found a problem with `dftbplus@19.1` package installation issue. The problem is that the `dftbplus` package github repository uses the `git submodule` for many important parts of the package in the `/external/` folder, including `mpifx`, `mbd`, `fytest` and `libnegf` which is not included in the package release `19.1.tar.gz` file.

To check that iss

[2021-04-19 11:34] rscohn2 commented on #23078
I believe this is expected.
[code]
behaves the same way

You do spack load on packages, so you have to do:
[code]

[2021-04-19 13:07] ikitayama commented on #23078
Thank you, @rscohn2 , closing this issue.

[2021-04-19 13:07] #23078 closed, assigned to nobody

[2021-04-19 15:34] steo85it commented on #23003
That's good for me, too! Thanks for your help!

[2021-04-19 16:01] gsjaardema commented on #13028
I think this is an error with the compatibility of your fortran and c++ compilers (or possibly, an error with the check to see if they are compatible.  I don't know if this is at the CMake level, or if it is something that TriBITs (used by SEACAS and Trilinos for "enhancing" CMake) is doing incorrectly.

[2021-04-19 16:02] gsjaardema commented on #13028
I noticed that this is a couple years old -- is this still an issue, or (hopefully) it is now working...

[2021-04-19 17:16] tmadlener opened #23112 "Installation issue: binutils default variants lead to conflicts in concretization"
The changes from #23065 lead to a conflict with the default variants of `binutils` and so as a side product seem to break the conretization for some packages that do not explicitly specify the `binutils` variants they want. I am using `gcc +binutils` below here. But there are others as well.

### Steps to reproduce the issue

[code]
Results in
[code]

### Information on your system

[code]

### Ad

[2021-04-19 17:21] scheibelp commented on #23073
@alalazo I think the main problem here is highlighted in https://github.com/spack/spack/issues/23073#issuecomment-822142811:

[code]

* The user specified `netlib-lapack+external-blas` so it should depend on `blas`
* The user specified a preexisting install of `openblas`
* `openblas` also provides `lapack`, so Spack is complaining that there are two `lapack` providers

(also note this is occurring

[2021-04-19 18:35] alalazo commented on #23073
@scheibelp In general #15569 would be required. In this particular case I wonder if this is possible at all. My understanding is that `openblas` provides a unique library with both BLAS and LAPACK symbols in it, so I don't think one can easily use only the BLAS part as a building block for another LAPACK provider.

[2021-04-19 18:35] Nandinihpc commented on #23073
if so what is the exact command to use to build netlib-lapack?

[2021-04-19 18:42] alalazo commented on #23073
@Nandinihpc It depends what are your needs. If you just need `netlib-lapack` you can:
[code]
That will build both the BLAS and LAPACK part of the library, and won't be the fastest implementation ever though.

[2021-04-19 20:05] scottwittenburg commented on #20005
This has cropped up for me again too, this time with `libbsd`.

[code]

Steps to reproduce:

[code]

Spack output, including error trace:

[code]

I tried the latest work from #20072 and at first it did not cause the problem.  However, I noticed that PR has not been rebased since `libmd` was added as a dependency of `libbsd`, and when I rebased it on the latest `develop`, I can indeed still reprod

[2021-04-19 20:16] chuckatkins commented on #23112
This also breaks llvm:
[code]

[2021-04-19 20:20] chuckatkins commented on #23112
In fact, just the default `binutils` spec on linux now generates a conflict:
[code]

[2021-04-19 20:29] haampie commented on #23112
Ugh... can we default to the new concretizer already :s. My bad, I didn't test this with the old one.

Can somebody knowledgeable about GCC/LLVM tell me whether you would always want to have the binutils assembler when building gold or ld?

The reason for the conflict with `ld` is valid, as I ended up with a broken combination of system linker & spack provided assembler. The previous default was t

[2021-04-19 20:47] scheibelp commented on #20005
I'm having trouble reproducing https://github.com/spack/spack/issues/20005#issuecomment-822749016 on a docker Ubuntu 18.04 image (either on develop or on #20072, although FWIW I just merged the `develop` branch into #20072):

[code]

My output:

[code]

(and fwiw the spec hashes in this case match yours)

The docker image I'm using:

[code]

[2021-04-19 21:21] scottwittenburg commented on #20005
Ok, with `056cecf` (the commit where you merged the latest `develop` into your branch for #20072), I can no longer reproduce [#20005 (comment)](https://github.com/spack/spack/issues/20005#issuecomment-822749016).  I'm not sure what happened there, your branch seemed to rebase cleanly on the latest `develop`, but I may just have screwed something up.  Sorry for the noise.

[2021-04-19 21:30] haampie commented on #23112
Sorry for the inconvenience :grimacing:. I've submitted #23122 to fix this. The conflicts where unnecessary for gold and the combination of old system assembler and new ld were fine, apparently. The only issue is +gas~ld then, for which I kept the conflict.

[2021-04-19 22:17] quellyn commented on #23059
Forgot to mention @becker33 at LLNL.

[2021-04-19 23:33] omsai opened #23123 "Extend Build Systems guide with background information"
TL;DR: Is there interest in teaching new spack contributors more generally about build systems, and can we bring that into spack's contributor documentation?

One of the most fun experiences I've had with packaging software for Gentoo Linux was reading through their comprehensive [developer manual](https://devmanual.gentoo.org/) which extends the packaging mission of the Gentoo project to more gen

[2021-04-20 00:10] wspear commented on #13028
I'm not seeing the error reported previously but now getting this (building with openmpi)

[code]

[2021-04-20 01:19] adamjstewart commented on #13028
@mlawsonca was also having some build issues, had to manually set `HDF5_ROOT`. This looks like a similar issue where a dependency isn't being found. I think the package needs to be more explicit about where to find dependencies.

[2021-04-20 01:35] darmac opened #23124 "Applying spack-doc as pdf format"
I found the spack-doc only support online view now.
And we have some people want to learn `spack` on offline environment.
So is there any methord to generate a latest spack-doc as pdf format?

[2021-04-20 01:36] arwild01 opened #23125 ""spack find" lost its mind?"
I just noticed the following and I'm not sure what to make of it.  Does this imply something is corrupt or what?  (Or am I supposed to somehow quote the arguments in some way I've not realized before now.

To be clear.. you can see I have a boost package that was built with the openmpi package and If I search for the boost package without being explicit about the hash of openmpi it finds it... but

[2021-04-20 01:37] arwild01 commented on #23125
I missed this in the above...

`[arwild1@hplwsp007 ~]$ spack --debug --stacktrace find boost@1.76.0%gcc ^openmpi/sbne3rv
lib/spack/spack/cmd/__init__.py:122 ==> [2021-04-19-20:37:01.187856] Imported find from built-in commands
lib/spack/spack/cmd/__init__.py:122 ==> [2021-04-19-20:37:01.189520] Imported find from built-in commands
lib/spack/spack/config.py:981 ==> [2021-04-19-20:37:01.213464] Read

[2021-04-20 01:38] Nandinihpc opened #23126 "Lammps install issue with adios2 variant not found error"
Please see this

spack spec lammps@20210310%gcc@10.2.0 +mpi +exceptions +granular +kspace +latte +manybody +mc +misc +molecule +mpiio +peri +poems +python +qeq +replica +rigid +shock +snap +spin +srd +voronoi +user-atc +user-h5md +user-lb +user-meamc +user-misc +user-netcdf +user-omp +user-reaxc ^netcdf-c@4.7.4/k5w4qtp ^adios2@2.7.1/mpffptq +mpi +parallel-netcdf ^parallel-netcdf@1.12.1/r5b7kru
ope

[2021-04-20 04:36] ikitayama commented on #19871
@haampie are you on GPFS or Lustre? Looks like JSC's GPFS has been unstable for some time; that's I suspect, one reason Spack can't operate at full speed.

[2021-04-20 07:27] #23112 closed, assigned to nobody

[2021-04-20 07:28] alalazo commented on #23126
See #23085

[2021-04-20 07:44] alalazo commented on #23123
Another useful resource for Autotools is [here](https://autotools.io/)

[2021-04-20 09:01] alalazo opened #23128 "Mirror creation fails if `=` or `?` characters are in a patch url"
From https://github.com/spack/spack/pull/22393#discussion_r616222128

### Steps to reproduce the issue

[code]
Removing the local mirror makes everything work:
[code]

### Information on your system

Not relevant, see https://github.com/spack/spack/pull/22393#discussion_r616222128 for details

### Additional information

- [x] I have run `spack debug report` and reported the version of Spack/Pytho

[2021-04-20 09:07] alalazo commented on #23128
@glennpj Here's the issue to track what seen in #22393 Thank for the detailed information!

[2021-04-20 12:07] #22632 closed, assigned to nobody

[2021-04-20 13:30] cessenat commented on #23025
This seems not to be the error you are looking for according to
https://lists.gnu.org/archive/html/autoconf/2011-03/msg00009.html
You should look further down, better search bottom up from the last error.

[2021-04-20 13:44] alalazo commented on #23052
Duplicate of #23126

[2021-04-20 13:44] #23052 closed, assigned to nobody

[2021-04-20 14:46] haampie opened #23132 "Better output for distributed builds"
### Rationale

![Screenshot from 2021-04-20 16-42-05](https://user-images.githubusercontent.com/194764/115416262-e8d1f500-a1f7-11eb-881e-1ba2e8651e61.png)

### Description

It would be nice if a process would output these log messages just once instead of repeatedly hundreds of times

[2021-04-20 16:51] eschnett opened #23142 "Installation issue: llvm"
### Steps to reproduce the issue

Build package `llvm`. The resulting `clang` executable does not work.

[code]

I updated the Spack description of the Apple Clang system compiler as described in https://github.com/spack/spack/issues/23036 to make the build succeed. That is, I point to a gfortran executable that presumably remains unused.

The same thing happens with the earlier version `llvm @11.

[2021-04-20 17:55] #23126 closed, assigned to nobody

[2021-04-20 18:45] haampie commented on #10385
This is implemented in the meantime... still very slow.

Edit, you were right about the CXXFLAGS & CFLAGS!

[2021-04-20 18:45] #10385 closed

[2021-04-20 19:38] mansourmoufid opened #23146 "Installation issue: libsigsegv"
### Steps to reproduce the issue

[code]

fails with the error:

[code]

This was fixed in version 2.13. I updated libsigsegv/package.py to version 2.13 and it builds fine.

### Information on your system

* **Spack:** 0.16.1-2320-5931995364
* **Python:** 3.8.2
* **Platform:** darwin-bigsur-arm64
* **Concretizer:** original

### Additional information

* [spack-build-out.txt](https://github.com/sp

[2021-04-20 19:39] #22736 closed, assigned to nobody

[2021-04-20 19:52] haampie commented on #23146
Thanks, could you share your edits to the package and make a pull request so this issue can be closed?

[2021-04-20 20:41] skylerpaulus opened #23150 "Spack module path"
Hello,

I am currently having issues with spacks target. Its installing packages for ivybridge but I need it to be x86_64
I have created a config file at:
/opt/ohpc/pub/spack/etc/spack

[code]

but this is not working when installing a new package. Any help would be much appreciated.

[2021-04-20 21:03] scheibelp commented on #23150
Some issues:

* This isn't defined in a location that Spack looks for config (if it was, it would raise errors as mentioned below, because it doesn't follow the config schema)
* `target` is configured in the `packages` section, not the `config` section: see https://spack.readthedocs.io/en/latest/build_settings.html#concretization-preferences and https://spack-tutorial.readthedocs.io/en/latest/tuto

[2021-04-20 21:03] quellyn commented on #23112
FYI: When I build out `mesa` I get this now:
[code]

Looking at `spack info binutils` now, it appears that `+gold` and  `~plugins` are the defaults. If I understand the description correctly both of those really ought to be turned on by default:
[code]

[2021-04-20 21:46] haampie opened #23153 "Inconsistent buildcache flags"
`spack buildcache create` accepts both `--mirror-name` and `--mirror-url`

`spack buildcache check` only accepts `--mirror-url`

Shouldn't the latter accept both flags too?

[2021-04-20 21:51] haampie opened #23154 "Fast spack buildcache create"
### Rationale

I have a script that runs this:

[code]

And I've been waiting 20 minutes for it to archive intel-mkl and it ran out of time in a CI job and was killed :sweat_smile:.

Sure this was on a slow shared filesystem, but still, it should be 10x faster at the very least, and preferably a 100x faster.

For reference: running `mksquashfs` with `zstd` compression on the intel-mkl directory ta

[2021-04-20 22:27] haampie commented on #23112
Uhm, it's not using ld.gold in this case?

plugins is apparently not strictly necessary for ld.gold to compile, but it is if you want to use it with gcc/clang

[2021-04-20 22:46] #23146 closed, assigned to nobody

[2021-04-20 23:57] hartzell commented on #20005
I'm having a similar problem and wanted to check here before I open another/a-new bug.

I've been exploring CI pipelines and have things working to the point where I get buildcache files in the mirror for all of the **Stage-0** jobs.  All of the jobs for **Stage-1** fail, apparently when they're trying to install their dependencies from the **Stage-0** buildcache files.

Debugging this is slow as

[2021-04-21 00:43] scottwittenburg commented on #20005
I don't know for sure if it's the same problem, but in your CI pipelines, if you have your jobs run `spack ci rebuild`, you could add the `-d` option to get the full stack trace.

As for good workflows for working with CI pipelines, that's a longer discussion to have in a dedicated issue.  I'm interested in that as well, so if you create such an issue, ping me on it :grin:

[2021-04-21 00:45] scheibelp commented on #20005
@hartzell does #20072 help in your case?

[2021-04-21 00:51] hartzell commented on #20005
@scottwittenburg -- I am using `-d` and I have lots and lots more output, but none of it seems relevant.

@scheibelp -- I'll give it a try, it'll take a bit because this is an internal image off of an internal mirror of the public repo and (<insert list of moving parts>).

[2021-04-21 04:49] naromero77 commented on #23036
If I am understand correctly, the issue is not specific to LLVM package but more of a global problem?

[2021-04-21 04:53] naromero77 commented on #23142
Does a non-Spack build/install work?

[2021-04-21 07:23] vvolkl commented on #23062
Can confirm that the source mirror is (sometimes? just recently?) quite slow in europe.

[2021-04-21 08:02] #22786 closed, assigned to alalazo

[2021-04-21 08:02] #22718 closed, assigned to alalazo

[2021-04-21 08:52] alalazo opened #23164 "Coverage failing with kcov 38"
For historical reasons we are building kcov at version 3.4 from sources in our CI. The main motivation was that there was no system package for it in `ubuntu:18.04`, which was the default `ubuntu-latest` virtual environment for GitHub Actions up to not so long ago.

Since a while `ubuntu-latest` points to `ubuntu:20.04` and there is a `kcov-38` package installable using `apt`. That though gives li

[2021-04-21 11:39] aweits commented on #18444
in these:

libgomp/target.c:
gomp_load_plugin_for_device() -> dlopen()s libgomp-plugin-nvptx.so.1

libgomp/plugin/plugin-nvptx.c:
init_cuda_lib() -> dlopen()s libcuda.so.1

[edit: nvptx plugin might actually be linked against libcuda.so.1 depending on the state of the define of PLUGIN_NVPTX_DYNAMIC in libgomp]

[2021-04-21 12:45] marvinbernhardt opened #23166 "Error: Invalid Spec DAG"
I ran
[code]
to prepare an installation of lammps with cuda support. If I don't define the existing packages, it will concretize.

I am mainly reporting this, because I could not find any issue that has precisely this error. I recently updated spack with `git pull` in case that could be a cause of the problem. I don't belive this is an issue with lammps, but rather with libxml2 in some way.

### S

[2021-04-21 12:56] marvinbernhardt commented on #23166
Now this is weird: if I don't specify the cuda version it works, but uses the same cuda version
[code]

[2021-04-21 13:02] skylerpaulus commented on #23150
@scheibelp Thanks this fixed the issue I was having.

[2021-04-21 13:02] #23150 closed, assigned to scheibelp

[2021-04-21 13:47] mdorier opened #23168 "Spack re-installing an already-installed dependency then complaining about same SHA-1"
Note: I'm filing this issue as a bug report rather than an installation issue of the argobots package because I do think the package is correct and Spack is actually faulty here.

Since the recent change to the Argobots package (https://github.com/spack/spack/pull/23133) which in particular added the `stackguard` variant, I see the following problem when installing any package that depends on argo

[2021-04-21 13:54] carns commented on #23168
Tagging @shintaro-iwasaki so he is aware also.

[2021-04-21 13:56] mdorier commented on #23168
I can fix the problem by changing `no` to `none` in the argobots package, so I think somehow Spack considers`variant=no` as equivalent to `~variant`.

[2021-04-21 14:05] hartzell commented on #20005
@scheibelp -- #20072 does not appear to help.

[2021-04-21 14:07] hartzell commented on #20005
@alalazo -- is the commit in your repo worth trying out?  It's unclear if it's on a branch I can grab or ???

[2021-04-21 14:12] alalazo commented on #20005
@hartzell The commit is from #22720 Not sure why yet, but transforming local imports into imports done at the module level solved the issue for me.

[2021-04-21 14:37] shintaro-iwasaki commented on #23168
Thanks. @mdorier No matter whether this issue can/will be fixed in Spack or not, I should update the `argobots` package if changing `no` to `none` is the easiest fix so far.

I will submit a patch in a couple of days (as I would like to fix other things as well pointed out by @carns).

[2021-04-21 16:11] trws commented on #23036
That’s certainly what it looks like. At least it’s an issue with handling of clang and Apple-clang as opposed to the LLVM/clang package.

Sent from my iPhone

On Apr 20, 2021, at 9:49 PM, Nichols A. Romero ***@***.***> wrote:

﻿

If I am understand correctly, the issue is not specific to LLVM package but more of a global problem?

—
You are receiving this because you were mentioned.
Reply to this

[2021-04-21 16:47] alalazo commented on #23036
Were you able to compile any dependency before this failure? Asking since that flag is fine on my MacOS with Catalina and `apple-clang@12.0.0` and it's injected into every compilation line. Can you for instance:
[code]
?

[2021-04-21 17:29] tldahlgren commented on #22920
Good question.

The point of the test was to make sure that, if the test stage directory resides *within* a spack instance, the path is accessible.

The default test configuration (`lib/spack/spack/test/data/config/config.yaml`) indicated we are supposed to be able to support a build stages within a spack instance.  So this test case was made to ensure that is supported.

[2021-04-21 17:43] skylerpaulus opened #23177 "Installation issue: Matlab R2019b"
### Steps to reproduce the issue

[code]

### Information on your system

I have the zip file for matlab: matlab_R2019b_glnxa64.zip located in /mnt/beegfs/home/spack (Created the user spack to handle everything related to spack)

* **Spack:** 0.16.1-2318-fa06dbb
* **Python:** 3.6.8
* **Platform:** linux-centos7-ivybridge
* **Concretizer:** original

### Additional information

Build files where no

[2021-04-21 17:46] scheibelp commented on #23168
@shintaro-iwasaki that would be an excellent short-term fix (and the Spack devs will need to update a longer-term fix)

In more detail:

I think this is occurring because of underlying YAML representations Spack uses to compute the hash. "no" can be represented as a boolean in YAML (https://yaml.org/type/bool.html). I think enclosing those strings in quotes would help (https://stackoverflow.com/qu

[2021-04-21 18:02] hartzell commented on #20005
I cherry picked https://github.com/alalazo/spack/commit/a818dcc20f5e7b2b843d2be6afa9b7e1750ebb6b onto the spack develop branch and it seems to have fixed the problem.

[2021-04-21 18:29] eschnett commented on #23142
No, it has the same problems.

[2021-04-21 19:14] flxmr opened #23182 "Supporting selection of "newest" spec with "find"-like-commands"
Hello everyone,

as I was tasked with updating our µHPC-systems stack, I thought, I could just get a new version of spack and be done very fast. Turns out I erred and it started to build the base-GCC used for building our actual software stack, because some commit added a new variant... Well, no problem, just let it build, then select the newest version for each occurence of such thing, I thought!

[2021-04-21 20:38] bvanessen opened #23186 "spack -d buildcache keys --install --trust --force fails to find mirror keys"
### Steps to reproduce the issue

Pointing spack to a buildcache with a valid public key, it fails to find one.

[code]

Where the following works:

[code]

### Error Message

There is no error message.  It fails silently.

### Information on your system

### Additional information

$ spack debug report
* **Spack:** 0.16.1-2336-75fd886f62
* **Python:** 3.7.2
* **Platform:** linux-rhel7-broadwell
*

[2021-04-21 20:57] renderdude commented on #23036
Everything compiles fine. Before I get to LLVM, I build python, tiff, PNG, openexr, boost, libzip, openvdb, and openimageio.

If you look at the build log, it builds ~15% of LLVM fine, until it hits the ARM file in clang_rt.builtins_arm64_osx. Without investigating further, is it that -march=skylake is invalid when building these files?

[2021-04-21 23:23] germasch opened #23188 "Installation issue: petsc@3.7.7"
### Steps to reproduce the issue

[code]

### Information on your system

[kaig@ln-0001 spack]$ spack debug report
* **Spack:** 0.16.1
* **Python:** 2.7.5
* **Platform:** cray-rhel7-zen2

You probably want to disregard the fact that it says "cray". It is a Cray, but one with a rather broken software stack, which doesn't get used in my spack config.

@balay  @barrysmith  @jedbrown

I'm pretty sure

[2021-04-21 23:59] tldahlgren opened #23189 "Installation issue: fontconfig 2.12.3"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.16.1-2245-4cca69f4ed
* **Python:** 3.7.2
* **Platform:** linux-rhel7-broadwell
* **Concretizer:** clingo

### Additional information

This is a known issue with tarballs.  Refer to https://gitlab.freedesktop.org/fontconfig/fontconfig/-/issues/10 for more information about the work-around.

### General informat

[2021-04-22 02:16] balay commented on #23188
This is what I get:
[code]
So spack is evaluating python dependencies differently on this box.

older petsc releases need `python2` and latest python packages in spack have such conflicts with python2. . In this case the following is likely to work.

[code]

[2021-04-22 02:21] tldahlgren opened #23192 "Installation issue: LvArray@0.1.0"
I am currently building an environment on LC's quartz system.  I am concretizing separately with `raja` and `umpire` being constrained as `~openmp`.

The specification provided below is the one produced by the `clingo` concretizer so the outputs reported here are from building `LvArray` **outside** of the environment.  The error seems to indicate I should be telling the build where to find the lib

[2021-04-22 03:00] germasch commented on #23188
Thanks, yes, I had in the mean time figured out that I'd need py-setuptools@44 by looking at its package.py file, and, as you suggested, too, that does in fact work.

The actual python dependency that spack concretizes actual does seem fairly similar between our systems:
[code]

I'm trying to understand why py-setuptools gets pulled in for me but not for you. It might actually be related to openmp

[2021-04-22 03:07] ikitayama opened #23195 "Installation issue: nest"
### Steps to reproduce the issue

[code]

### Information on your system

### Additional information

* [spack-build-out.txt]()
* [spack-build-env.txt]()

### General information

- [ ] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [x] I have run `spack maintainers <name-of-the-package>` and @mentioned any maintainers
- [ ] I have uploaded the build log and en

[2021-04-22 03:08] ikitayama commented on #23195
On my branch, the package.py is changed so that Python is default to False, but it keeps branch into the `+python` case.

[2021-04-22 03:09] ikitayama commented on #23195
No one shows up as maintainers.

[2021-04-22 03:11] ikitayama commented on #23195
@heplesser, @jougs

[2021-04-22 03:25] corbett5 commented on #23192
LvArray doesn't have an option to enable/disable OpenMP it just picks up whatever RAJA is built with. Can you post the specs you used to build RAJA? Then I'll try and replicate the issue.

[2021-04-22 04:10] ikitayama commented on #19871
The GPFS which is connected to JURECA-DC at JSC seems unstable these days, at least to me, so here's today's measurement:

[code]

[2021-04-22 04:54] corbett5 commented on #23192
After adding `gcc@8.3.1` to `compilers.yaml` the following worked for me on Quartz, albeit with Spack develop (7322a9e).

Which produces the following output

cd /tmp/corbett5/spack-stage/spack-stage-lvarray-0.1.0-lbrbbr5kglo6lgg7nlechpgtwialhcr3/spack-build-lbrbbr5/src && /usr/WS2/corbett5/spack-tmp/opt/spack/linux-rhel7-broadwell/gcc-8.3.1/cmake-3.20.1-qnu5li7yigtawhiqjegkknp23e5cvbtz/bin/cmake

[2021-04-22 06:53] ikitayama commented on #19871
Is loading time constant for any specs?

[2021-04-22 07:07] Tom-python0121 opened #23198 "Error: Cannot find directory sc/config when spack install --keep-stage -v p4est"
I meet a problem about error: cannot find directory sc/config when spack install --keep-stage -v p4est.
### Steps to reproduce the issue

[code]
I wanted to update the p4est version, but the old website: https://github.com/p4est/p4est.github.io/tree/master/release/. was updated to version 2.2. Now, according to the official documentation, the latest version has been submitted to the new website: h

[2021-04-22 07:12] #22979 closed, assigned to nobody

[2021-04-22 14:31] maxim-belkin opened #23203 "Installation issue: mpip"
### Steps to reproduce the issue

[code]
produces

[code]

The issue can be resolved by adding:
[code]

### Information on your system

* **Spack:** 0.16.1-2331-a97ef832d9
* **Python:** 3.6.8
* **Platform:** linux-centos8-sandybridge
* **Concretizer:** clingo

Both packages.yml and modules.yml are unmodified.

### Additional information

* [spack-build-out.txt](https://gist.github.com/maxim-belkin

[2021-04-22 15:25] psakievich opened #23205 "Add more installation date information to spack find"
I'd like `spack find -L` to include the date-time stamp the package was installed, and a new flag `--latest` added to `spack find` and `spack location`  to show the last install of package that matches the provided spec.

### Rationale

I have found that I often get multiple versions of the same package installed due to packages being updated, or trying to fix bugs as a developer.  In this case I'

[2021-04-22 15:44] vvolkl opened #23206 "`spack versions --new edm4hep` not working as expected"
`spack versions --new edm4hep` should give an empty output, but instead returns the latest tag. Seems to be connected to the `url_for_version` convention the package uses.

### Steps to reproduce the issue

[code]

### Information on your system

~/repo/spack (lcg-develop)$ spack debug report
* **Spack:** 0.16.0-213-63f483a5c0
* **Python:** 3.8.5
* **Platform:** linux-ubuntu20.04-skylake
* **Concr

[2021-04-22 16:21] glennpj opened #23208 "building a "large" number of packages in environment fails with file descriptor error"
I am currently building out a new software stack for our site, with a few different microarchitecture targets. I run `spack clean --all` before each target build. At some point, during the build of any target architecture, a failure will occur. At first the messages were lock related but it seemed related to the number of open files. I did not capture the exact message. I then bumped the limit for

[2021-04-22 17:06] scheibelp commented on #23195
[code]

Is always true. It should be changed to

[code]

Do you think you would be able to submit a PR for the fix?

[2021-04-22 21:09] tldahlgren commented on #23192
Sure.  The Spack (`clingo`) concretizer determined the `raja` dependency to be:

[code]

I'm trying to be *minimal* in the environment but I'll try being explicit with the `raja` dependency for `LvArray`.

[2021-04-22 21:18] ikitayama commented on #23195
#23211 please review @scheibelp ! Thanks!

[2021-04-22 21:23] corbett5 commented on #23192
Great, when I install RAJA separately with the spec you provided I get the same problem.

[2021-04-22 21:26] quellyn commented on #23059
Update for @balay, @osborn9, @becker33, and @gaber :  Backing down to `cuda 11.0.2` resolves this issue on RZAnsel.

[2021-04-22 21:35] #23195 closed, assigned to nobody

[2021-04-22 21:48] corbett5 commented on #23192
It appears that RAJA has changed their CMake package with 0.13. The following is what I get with `blt_print_target_properties` with 0.13.0

[code]

The issue here is that it is exporting `openmp` in `INTERFACE_LINK_LIBRARIES`, but you don't link to OpenMP via `-lopenmp` which is what CMake is trying to do here.

With 0.12.1 I have the following output (from a non-spack build so it's not an identic

[2021-04-22 21:50] davidbeckingsale commented on #23192
Fixed by this I think: https://github.com/LLNL/RAJA/pull/987

[2021-04-22 22:08] corbett5 commented on #23192
@davidbeckingsale thanks, building with `raja@develop` fixed the issue!

@tldahlgren If that is a suitable fix for you you'll need to disable the LvArray unit tests with `~tests`. RAJA 0.13 changed how you access the `RAJA::View` members so they won't build. I'll do a LvArray release in the next week or so that will fix that particular issue.

[2021-04-22 23:38] becker33 commented on #22585
@cyrush have you tried using the new format to specify the install tree?

[code]
can be replaced with
[code]

[2021-04-22 23:45] tldahlgren opened #23213 "Installation issue: lbann@0.101"
I am currently building an environment -- concretize separately -- on LC's quartz system.

The specification provided below is the one produced by the clingo concretizer plus an additional constraints mpi to reproduce the output outside of my environment.

@bvanessen

[code]

### Information on your system

* **Spack:** 0.16.1-2245-4cca69f4ed
* **Python:** 3.7.2
* **Platform:** linux-rhel7-broadwe

[2021-04-23 00:00] bvanessen commented on #23213
@tldahlgren How recently have you updated your spack repo?  On Tuesday we put together a series of PRs that fixed some of these bugs, specifically, that the `+vision` variant has to be turned on for the older version of lbann.

[2021-04-23 00:08] tldahlgren commented on #23213
Looks like it was last Friday (April 16, 2021).

[2021-04-23 00:09] bvanessen commented on #23213
@tldahlgren Can you please update and check again.

[2021-04-23 00:46] cyrush commented on #22585
thanks @becker33 , I'll give this a try!

[2021-04-23 00:57] tldahlgren commented on #23213
Sure.  Will try again once my latest environment-based build completes (IF the package doesn't build after the update). :grin:

[2021-04-23 01:07] #22951 closed, assigned to nobody

[2021-04-23 06:05] Mrxun-JN commented on #6647
yes！It works！

[2021-04-23 06:56] ikitayama commented on #23195
Thanks again for pointing out the bug, @scheibelp much appreciated.

[2021-04-23 12:31] alalazo commented on #23213
@adamjstewart FYI, this _may_ be related to #22340

[2021-04-23 13:37] #23189 closed, assigned to tldahlgren

[2021-04-23 13:46] alalazo commented on #23036
@renderdude It may be, not sure how to deal with something like that at the moment 🤔 I wonder what is going on under the hood for those files, since the compiler understands that flag for every other dependency and for the objects already compiled in LLVM.

[2021-04-23 14:00] alalazo commented on #23205
Duplicate of #23182

[2021-04-23 14:12] alalazo commented on #23166
Can you please double check what would be the behavior of the new concretizer?

[2021-04-23 14:46] #23029 closed, assigned to nobody

[2021-04-23 14:51] marvinbernhardt commented on #23166
so I added `concretizer: clingo` to config.yml.

Now it suddenly starts building packages!? Is this the expected behavior?
[code]

[2021-04-23 14:57] alalazo commented on #23166
@marvinbernhardt If you don't have the `clingo` module importable in Python yes.

What happened is that Spack started bootstrapping `clingo` from sources to use it during concretization. We'll soon be able to bootstrap from binaries which would be much faster. Also, since a couple of days another alternative if you're using a Python interpreter which is at version 3.6 or later is to:
[code]

[2021-04-23 15:18] marvinbernhardt commented on #23166
I see, thanks for the clarification.

Now when I use it I get `==> Error: variant "adios" not found in package "lammps" [required from package "lammps"]`.
Super weird, as there is only a variant user-adios.

<details>
  <summary>debug log</summary>

[code]
</details>

[2021-04-23 15:20] marvinbernhardt commented on #23166
Ah ok, those seem to be faulty checks in lammps package.py around line 152.

[2021-04-23 15:24] marvinbernhardt commented on #23166
When I fix package.py, I get the same error again

<details>
  <summary>debug log</summary>

[code]
</details>

[2021-04-23 15:56] adamjstewart commented on #23213
I think this is a bug in the `lbann` package. The spec above explicitly specifies `~vision`, so `lbann` does not depend on `opencv` at all.

[2021-04-23 16:15] bvanessen commented on #23213
@adamjstewart @tldahlgren Version 0.101.0 of LBANN did not support disabling the dependency on OpenCV.  That was only added in the develop branch.

[2021-04-23 16:17] adamjstewart commented on #23213
In that case we can just add a conflict for `@:0.101 ~vision`

[2021-04-23 16:19] bvanessen commented on #23213
That line is already in there `conflicts('~vision', when='@0.91:0.101')`

[2021-04-23 16:27] adamjstewart commented on #23213
Ah, so it sounds like this issue may have been fixed by #23159. @tldahlgren can you try updating to develop again?

[2021-04-23 18:25] hartzell opened #23227 "CI pipeline fails while creating buildcache for go@1.16.2"
I am unable to use the `spack ci` pipeline to create a buildcache for go@1.16.2.  I *am* able to create a buildcache from the command line.

The failure that is reported in `pipeline_log.txt` from the job's artifact is:

[code]

### Steps to reproduce the issue

I am currently unable to run `spack ci` pipelines using the standard images or local images built from the spack `develop` branch, see th

[2021-04-23 18:26] hartzell commented on #23227
FYI @scottwittenburg, @alalazo

[2021-04-23 18:36] carns opened #23228 "LD_LIBRARY_PATH (or equivalent) is not set on Cray platforms"
On conventional Linux systems, loading a Spack package will add it's library path to LD_LIBRARY_PATH.

This does not happen on Cray systems, however.  This makes it difficult for library developers to document how to use their libraries at run time because the behavior is inconsistent across platforms.

### Steps to reproduce the issue

[code]

### Error Message

[code]

The core problem is that e

[2021-04-23 19:06] psakievich commented on #23205
I'm okay with closing this.  I'll add a comment to #23182 with the features I think it is missing.

[2021-04-23 19:06] #23205 closed, assigned to alalazo

[2021-04-23 19:11] psakievich commented on #23182
A couple of other features I'd like added to this request:

1. `spack find -L` will include the date-time stamp of when the package was installed
2.  add the `--newest` and `--first` flags to `spack location` as well.

The rational behind these requests are 1. will allow one to look at and sortall the instances of the package that have been installed, and 2. will make it easier to use the installs

[2021-04-23 19:25] skylerpaulus opened #23229 "Installation issue: qgis"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.16.0-1183-9eb5c8f
* **Python:** 3.6.8
* **Platform:** linux-centos7-broadwell
* **Concretizer:** original

### Additional information

No logs were created.

@Sinan81 @adamjstewart

### General information

- [x] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [x] I have run

[2021-04-23 19:27] adamjstewart commented on #23229
Try:
[code]

[2021-04-23 19:46] haampie commented on #23182
This would be useful for me too, but is --newest a temporal thing or a version number thing?

[2021-04-23 19:48] haampie commented on #23182
Another way to work is to use spack find in the context of an environment:

spack -e . find pkg

And it will likely only return 0 or 1 installed specs; when the environment is reconcretized and the root spec has changed, you won't find it with ^

[2021-04-23 19:52] skylerpaulus commented on #23229
[code]
@adamjstewart

[2021-04-23 20:10] adamjstewart commented on #23229
[code]
There may be other variants you need to explicitly enable as well. You can also try the new clingo concretizer which is smart enough to figure all of this out.

[2021-04-23 20:52] hartzell commented on #23227
FWIW, the problem may be due to trying to UTF-8 encode something that's already encoded, see [this disucssion](https://stackoverflow.com/a/24475405/11542197).

[2021-04-23 21:28] tldahlgren commented on #23213
@bvanessen @adamjstewart @alalazo Thank you all for the exchange and information.

I'm closing this issue since I am now able to build `lbann` (as part of an environment) after updating to develop.

[2021-04-23 21:28] #23213 closed, assigned to nobody

[2021-04-23 21:32] tldahlgren commented on #23192
I changed the spec in my `spack.yaml` to be `lvarray ^raja~openmp`, which is consistent with how I'm building `raja` atm,  and it built successfully. I should note that I am concretizing separately so my environment is building two variants of `raja@0.13.0` and one of `raja@develop`.

[2021-04-23 21:45] #18444 closed, assigned to nobody

[2021-04-23 21:45] #19255 closed, assigned to nobody

[2021-04-23 21:49] scheibelp commented on #23168
This particular instance of the problem is fixed by https://github.com/spack/spack/pull/23171 (thanks @mdorier!)

In general in the future #23191 should allow packages to define variants with "no" as a possible value

[2021-04-23 21:49] #23168 closed, assigned to scheibelp

[2021-04-23 22:26] scottwittenburg commented on #23227
This looks familar to me.  I think maybe @shahzebsiddiqui or @adityakavalur may have seen this before, but I don't know how they eventually got around it, or if it's still affecting them.

Either way, I'll take a look, thanks for reporting.

[2021-04-23 22:38] cyrush commented on #22585
@becker33 i was able to do -j installs, thanks for the showing me the right format!

Should we close this, or do you want to keep it up this as an old format vs new format issue?

[2021-04-23 23:41] omor1 opened #23236 "Installation issue: clingo@master+python missing py-cffi dependency"
### Steps to reproduce the issue

[code]

Later when trying to use the new ASP-based concretizer, Spack is unable to load `clingo`, as the `cffi` dependency is missing. This was initially reported on Slack. Pinging maintainers @alalazo @tgamblin.

This should be a simple fix:
[code]

### Information on your system

[code]

### General information

- [x] I have run `spack debug report` and reported

[2021-04-24 03:35] becker33 commented on #22585
Let's leave it for now, I'll change the title.

[2021-04-24 06:36] alalazo commented on #23236
@omor1 I'm on it, will submit a PR shortly. With respect to this:

If you want to use `clingo` for the new ASP-based solver you can let Spack bootstrap it from sources. For that we use a commit of clingo that is pinned and is known to work for Python 2.6 too. Details are [here](https://spack.readthedocs.io/en/latest/getting_started.html#optional-bootstrapping-clingo). Also, there's this PR waiting

[2021-04-24 10:27] flxmr commented on #23182
Hey, great to hear that I'm not the only one with this problem. As of now, I've patched a `--newest-install` flag into the `spack load` and `spack module`-command. So it's a temporal thing, which probably is only relevant for small-scale deployments like ours. We don't care whether some flag was added to some spec in some git-commit, we just want to have the spec as far as we thought about it for

[2021-04-24 13:19] Nandinihpc opened #23240 "hpl install issue"
Witht he new concretizer i am installing openmpi@4.0.5 with hpl and i get this error.

Traceback (most recent call last):
  File "/opt/apps/nfs/spack-quanah/bin/spack", line 76, in <module>
    sys.exit(spack.main.main())
  File "/opt/apps/nfs/spack-quanah/lib/spack/spack/main.py", line 772, in main
    return _invoke_command(command, parser, args, unknown)
  File "/opt/apps/nfs/spack-quanah/lib/s

[2021-04-25 08:12] afrah opened #23243 "Installation issue: tau@2.30.1%gcc@7.1.0"
I have to profile some software packages like superlu-dist with tau using a  x86_64 GNU/Linux cluster . I installed spack using this command:
git clone https://github.com/spack/spack.git.  The command for tau installation is :

The compiler I should use is  gcc@7.1.0. The installation gives error with tau building stage:

I tried to add -fno-use-linker-plugin to gcc@7.1.0 compiler flags but that d

[2021-04-25 18:37] KineticTheory commented on #22606
I ran into a similar issue on a fresh Ubuntu 20.04 image because I forgot to install `libpython3-dev`.  Without this package, Clingo-bootstrap failed to configure with the error "python was not found."

[2021-04-25 19:53] Sinan81 commented on #23229
@adamjstewart How do we use `clingo` exactly? Is it just sifficient to indicate it in `config.yaml` and spack will automatically bootstrap it? It is not clear from documentation.

[2021-04-25 21:03] adamjstewart commented on #23229
@alalazo can correct me if I'm wrong, but I think Spack now automatically bootstraps clingo for you. If not, just run `spack install clingo && spack load clingo`.

[2021-04-26 00:26] Sinan81 commented on #23229
Manually installing, even `clingo-boostrap` didn't work for me. What happens is after adding `clingo` to config yaml, it seems spack installs it in the first opportunity when running a concretization related command like `spack spec ..` or `spack install ...` etc.

[2021-04-26 01:36] adamjstewart commented on #23229
Manual installation would likely require you to use the original concretizer. But it sounds like bootstrapping is working.

[2021-04-26 04:28] #23236 closed, assigned to alalazo

[2021-04-26 07:30] alalazo commented on #23229
@Sinan81

Curious what is not clear in the docs [here](https://spack.readthedocs.io/en/latest/getting_started.html#optional-bootstrapping-clingo) and what can we do to improve clarity.

[2021-04-26 14:34] skylerpaulus opened #23250 "Installation issue: minizip"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.16.0-1183-9eb5c8f
* **Python:** 3.6.8
* **Platform:** linux-centos7-broadwell
* **Concretizer:** original

### Additional information

* [spack-build-out.txt](https://github.com/spack/spack/files/6377855/spack-build-out.txt)
* [spack-build-env.txt](https://github.com/spack/spack/files/6377857/spack-build-env.t

[2021-04-26 14:59] adityakavalur commented on #23227
I think the issue we had on Cori were related to path length, although @eugeneswalker might know better.

[2021-04-26 15:21] Billae commented on #16030
Hello,

I also have theses kind of error messages (for Paraview in my case) and it drives me crazy to not know who needs the variant which conflicts >__<. Is there any evolution in this thread ?

[code]

[2021-04-26 15:21] cessenat commented on #23250
Hello @skylerpaulus,
This is exactly why I made a PR on minizip ; you can update minizip/package.py from develop at least by
git checkout 86fad97
or git pull to be uptodate.

[2021-04-26 15:45] skylerpaulus commented on #23250
Perfect! That fixed it, thanks!

[2021-04-26 15:45] #23250 closed, assigned to nobody

[2021-04-26 15:47] psakievich commented on #22970
@vicentebolea what's the verdict here?  I can update #23002 to maintain the status quo for now by querying `cuda_arch` and mapping it to string if it's an int, or do you just want to make the switch to use the same syntax as the other packages inheriting from `CudaPackage`?

[2021-04-26 15:48] naromero77 commented on #23036
Is this an issue you would hit with non-Spack install as well?

If it is, I would recommend filing a bug issue here:
https://bugs.llvm.org/

That would raise awareness of MacOS X issues and perhaps encourage the community to set-up a buildbot for MacOS X. Once they fix it, we could probably backport that patch here.

[2021-04-26 15:54] Billae opened #23255 "Installation issue: paraview (spec conflict )"
Hello,
I notice spec conflicts with binutils (which is needed with +plugins for LLVM but -plugins for somewhere else) in the paraview build.

I have seen that a modifcation of the binutils variants last week breaks some installations (#23112), maybe this one too ?
 I'm sorry , i have not found how to know who needs the "-plugins" variant (is there a command to do this ?).

@chuckatkins  @danlipsa,

[2021-04-26 15:55] cessenat opened #23256 "mesa build error with binutils~plugins"
Concretizer can't resolve the fact that indirect dependency `mesa` requires `binutils` with `~plugins` due to variant defaults while the other indirect dependency `llvm` requires `+plugins`

_Originally posted by @Sinan81 in https://github.com/spack/spack/issues/23003#issuecomment-822048045_

[2021-04-26 16:00] ilbiondo commented on #22932
The PR https://github.com/spack/spack/pull/22587 mentioned above fixes the issue - I have no idea why my search of open issues didn't find it...

[2021-04-26 16:04] cessenat commented on #23256
So as well as llvm as reported by @Sinan81 I observe that
spack install **mesa ^binutils~plugins fails** whereas spack install **mesa ^binutils+plugins works**.
Precisely:

Error message in "meson-log.txt" is
[code]
$ **spack debug report**
* **Spack:** 0.16.1-2392-e3054c3318
* **Python:** 3.8.5
* **Platform:** linux-ubuntu20.04-core2
* **Concretizer:** original
System Ubuntu 20.04
[spack-build-en

[2021-04-26 16:21] cessenat commented on #23255
It appears that the conflicting spec is with mesa, you can find that if you put llvm as an external dependency.

The foo thing is that mesa ^binutils~plugins fails, I've raised an issue #23256.
Right now you can compile paraview with
spack install paraview ^binutils+plugins

[2021-04-26 16:23] vicentebolea commented on #22970
@psakievich we have no choice but to eventually change our API since is an oddity that Paraview uses as `cuda_ arch` the cuda microarch families names.

As for the now, I like what you have proposed at #23002. What remains is the mapping from when the cuda_arch variant is numeric and the translation to the family name. I have a branch where I am working on this, I will soon create the pull request

[2021-04-26 16:23] vicentebolea commented on #22970
https://github.com/spack/spack/pull/23257

[2021-04-26 16:26] cessenat commented on #23243
Before the root of the problem is solved you can retry with

I would like binutils to have the 'plugins' variant at the same time as the 'gold' one but I'm not 100% sure.

[2021-04-26 16:42] afrah commented on #23243
binutils installed successfully . I used the same command on my computer and tau works perfectly but I need to use the cluster .. from the output file :
[+] /x/tauSpack/spack/opt/spack/linux-centos7-broadwell/gcc-7.1.0/binutils-2.33.1-gc5tqoqftleaovrmwoiqjaey6upkm6zi
I will try anyways

[2021-04-26 16:58] cessenat commented on #23243
You should not get the message "ld: fatal error: cannot use --plugin: ld was compiled without plugin support"
if you compiled binutils+plugins.
Can you run spack spec /gc5tqoqf ?

[2021-04-26 17:00] afrah commented on #23243
I delete the previous installations and run it again with
`spack install tau@2.30.1%gcc@7.1.0+fortran+mpi+openmp+papi+pdt+pthreads ^binutils+plugins`

I am waiting for the output

[2021-04-26 17:05] cessenat commented on #23243
For tau you must also set +libiberty+headers (take the binutils spec from tau and add +plugins).

[2021-04-26 17:49] joshessman-llnl opened #23259 ""spack config add" fails for config:concretizer due to enum requirement"
### Steps to reproduce the issue

[code]

This also requires that `concretizer: original` *not* be present in `etc/.../config.yaml` - this may be an unsupported configuration.

### Error Message

[code]

### Information on your system

* **Spack:** 0.16.1
* **Python:** 3.7.2
* **Platform:** linux-rhel7-broadwell
* **Concretizer:** original

### Additional information

- [x] I have run `spack debug

[2021-04-26 17:49] joshessman-llnl commented on #23259
Tag: @becker33

[2021-04-26 18:08] afrah commented on #23243
Thank you for your reply ... I finally installed tau. I did a set of things besides the command :
`spack install tau@2.30.1%gcc@7.1.0+fortran+mpi+openmp+papi+pdt+pthreads ^binutils+plugins
`
I removed these two lines:
[code]
There was a minor bug in the llibelf header files which requires copying libelf folder inside itself so as as the path libelf/libelf.h exists.
and it works!

[2021-04-26 18:29] #23243 closed, assigned to nobody

[2021-04-26 19:18] odoublewen opened #23263 "Installation issue: shadow sha256 checksum mismatch"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.16.1
* **Python:** 3.8.1
* **Platform:** linux-ubuntu14.04-broadwell
* **Concretizer:** original

### Additional information

I guess I created this package so that makes me the default maintainer?

I forget what is the preferred way to figure out whether it is okay to update the checksum?  @hartzell You [ment

[2021-04-26 20:12] Sinan81 commented on #23229
I think it would be useful to mention there one needs to edit `config.yaml` first to enable `clingo` since when I search clingo in spack docs, "optional: bootstrap clingo" is the first page that shows up.
Also in the given example, it would be useful to show the step where clingo is installed and then spack moves on to `solve` step like
[code]

[2021-04-26 21:57] Sinan81 commented on #16030
I would pass a debug option to spack command and then search for `~plugins` in the terminal output backwards to figure out what package is causing the conflicting option. Or you could try switching to `clingo` concretizer.

[2021-04-26 22:46] omor1 opened #23273 "ldlibs compiler flags injection order"
When setting `ldlibs` for a package or compiler, the link flags are injected by the wrapper script after the flags from the input command. This is different than all other injectable flags (e.g. `cflags`, `cxxflags`, `ldflags`, etc.) and can cause the wrong library to be used when the injected one is intended to override another library.

For example, below I want to install `libxml2` while overri

[2021-04-26 22:51] jrobbin opened #23274 "[Question] How do I direct spack to use the spack-public mirror?"
Do I need to tell spack to use the spack-public mirror? I see it's listed ('spack mirror list'), but when I install something, say 'spack install xz', spack still uses the source tarball on sourceforge.

Thanks!

[2021-04-27 00:01] lee218llnl opened #23275 "Installation issue: concretization of stat with binutils plugins variant"
This was reported to me via the STAT github repo (https://github.com/LLNL/STAT/issues/27). STAT is failing to install because binutils variants aren't being concretized properly. I can work around this by depending on `^binutils+plugins`, but it seems like the default should work. Is there some other way I need to resolve this in the STAT package or LLVM package?

[code]

[2021-04-27 08:57] Billae commented on #16030
How do I switch to new concretizer ?
I try
[code]

but the output seems to be the same (with still my variant conflict). Is there something to do to activacte clingo concretizer ?

[2021-04-27 10:29] haampie commented on #16030
If you're on a new version of spack run `spack solve binutils` and it'll install the new concretizer for you. Or you can try out https://github.com/haampie/spack-batteries-included if you're on linux, which enables it by default.

[2021-04-27 12:40] cpraveen opened #23282 "p4est 2.3.1 fails to build on RHEL"
p4est build fails.

### Steps to reproduce the issue

[code]

This is the top level error

[code]

### Information on your system

* **Spack:** 0.16.1-2400-42af3c1
* **Python:** 3.7.3
* **Platform:** linux-rhel7-skylake_avx512
* **Concretizer:** original

[code]

### Additional information

 * [spack-build-env.txt](https://github.com/spack/spack/files/6384520/spack-build-env.txt)
 * [spack-build-o

[2021-04-27 14:41] mpokorny commented on #18570
I haven't paid much attention to this issue recently, but yesterday I encountered the same error message again. Now there is an additional line of output that identifies the package that caused the conflict. Either I missed that message previously, or it's new, but in any case, I think that this issue is essentially fixed.

[2021-04-27 15:13] Billae commented on #23255
Yep you're right. Force binutils variants work, it will be okay until your issue is solved. Thanks

[2021-04-27 15:13] #23255 closed, assigned to nobody

[2021-04-27 15:20] cessenat opened #23283 "Installation issue: hdf5"
Recursive variable setting in hdf5/example/Makefile when using both **szip** and LD_LIBRARY_PATH.
Occurs with **Intel compilers** where we need to **set LD_LIBRARY_PATH** (otherwise hdf5+fortran%intel fails).
I consider it is the HDF5 configure's logic that is wrong.

### Steps to reproduce the issue

[code]
### Information on your system

* **Spack:** 0.16.1-2393-418c78fdc9
* **Python:** 3.6.9
*

[2021-04-27 15:25] hartzell commented on #20005
@alalazo -- Do you have any plans to PR your https://github.com/alalazo/spack/commit/a818dcc20f5e7b2b843d2be6afa9b7e1750ebb6b?

I can't use the CI pipelines w/out it and/but _can_ use them with it.

I could open an issue and/or set up a stand-alone PR for it.

[2021-04-27 15:34] alalazo commented on #20005
@hartzell Can you try #23269 and see if it helps in your case? Otherwise I can submit a818dcc as a workaround.

[2021-04-27 15:48] eugeneswalker commented on #20005
I'm also seeing this -- #23269 didn't fix it for me, but [a818dcc](https://github.com/spack/spack/commit/a818dcc20f5e7b2b843d2be6afa9b7e1750ebb6b) did

[2021-04-27 15:54] alalazo commented on #20005
@hartzell @eugeneswalker Do you have a deterministic reproducer for this issue? I have been unable to reproduce it outside CI and now even the case that was failing for me using GitHub Actions seems to pass.

[2021-04-27 15:58] eugeneswalker commented on #20005
Container: `ecpe4s/rhel8-runner-x86_64:2021-03-01`
Concrete spec: [readline-d7jrl6.spec.yaml.txt](https://github.com/spack/spack/files/6385945/readline-d7jrl6.spec.yaml.txt)

[code]

[2021-04-27 16:56] alalazo commented on #20005
I think I have a better fix for it, I'll submit it by today.

[2021-04-27 17:32] hartzell commented on #20005
I won't be able to take https://github.com/spack/spack/pull/23269 for a test drive until this evening.  Let me know if it's still interesting or if you have other plans.

*Thanks for banging on this!*

[2021-04-27 17:37] cdelv opened #23287 "Installation issue: Spack doesn't work well on cluster"
I Tied to install some packages with these commands
spack install zlib

spack install berkeley-db-18.1.40

the log error for Zlib is

`==> zlib: Executing phase: 'install'

==> [2021-04-27-11:33:35.419240] './configure' '--prefix=/homes/orionsan/cdelv/spack/opt/spack/linux-fedora26-westmere/gcc-9.2.0/zlib-$

Compiler error reporting is too harsh for ./configure (perhaps remove -Werror).

** ./conf

[2021-04-27 17:40] alalazo commented on #20005
@hartzell Other plans, see #23288

[2021-04-27 18:02] tldahlgren commented on #23275
@lee218llnl What version of spack?  Which concretizer is being used?

[2021-04-27 18:07] lee218llnl commented on #23275
This the develop branch. Here is the commit:
[code]

[2021-04-27 18:10] alalazo commented on #23275
@haampie

[2021-04-27 18:30] odoublewen commented on #23263
The GitHub  ["release asset" page for shadow](https://github.com/shadow-maint/shadow/releases/tag/4.8.1) has:
* `shadow-4.8.1.tar.gz`
  * URL is: https://github.com/shadow-maint/shadow/releases/download/4.8.1/shadow-4.8.1.tar.gz
  * sha256 is: `3ee3081fbbcbcfea5c8916419e46bc724807bab271072104f23e7a29e9668f3a` (does not match)
* `Source Code (tar.gz)`
  * URL is:  https://github.com/shadow-maint/sh

[2021-04-27 18:47] scheibelp commented on #23263
I don't think it has. I would guess that the wrong checksum was added (e.g. the last update to the Spack `shadow` package created the checksum using the second link you mention in https://github.com/spack/spack/issues/23263#issuecomment-827824260 when in fact Spack is pulling from the first link you mentioned).

Would you be able to create a pull request for this?

[2021-04-27 18:54] odoublewen commented on #23263
@scheibelp Yes, thanks, and here it is:   https://github.com/spack/spack/pull/23291

[2021-04-27 19:14] eugeneswalker opened #23292 "unifyfs 0.9.2 build fails: undefined reference to 'major', 'minor'"
`unifyfs@0.9.2` fails to build using:
* spack@develop (295377b2b4695f30e79f4bd877fd85476a8febb9 from `Tue Apr 27 14:20:32 2021 -0400`)
* RHEL 8 - GCC 8.3.1
* Ubuntu 20.04 - GCC 9.3.0

Concrete spec: [unifyfs-epk2wg.spec.yaml.txt](https://github.com/spack/spack/files/6387011/unifyfs-epk2wg.spec.yaml.txt)
Container: `ecpe4s/ubuntu20.04-runner-x86_64:2021-03-10`
Build log: [unifyfs-build-out.txt](htt

[2021-04-27 19:22] CamStan commented on #23292
Thank you! Linked our current discussion on this. Working on a solution.

[2021-04-27 20:56] eschnett opened #23296 "Installation issue: gcc"
### Steps to reproduce the issue

[code]

This builds GCC with the Apple Clang compiler shipped with macOS 11.3. The previous version was 12.0.0, which worked fine for building GCC.

### Information on your system

[code]

### Additional information

* [spack-build-out.txt.gz](https://github.com/spack/spack/files/6387605/spack-build-out.txt.gz)
* [spack-build-env.txt](https://github.com/spack/spac

[2021-04-27 21:16] payerle opened #23297 "Installation issue: hdf +external-xdr ^libtirpc failing (libtirpc issue???)"
I am attempting to build hdf on a 64 bit system using libtirpc as external-xdr, but the build fails complaining that the hdf configure parameter --enable-hdf4-xdr  is not supported for 64 bit mode.

Debugging the hdf configure script a bit further, it appears that spack is correctly not passing either --enable-hdf4-xdr or --disable-hdf4-xdr (due to a bug in hdf configure script the latter is treat

[2021-04-27 21:18] flxmr opened #23298 "Environments don't support namespaced packages?"
Hello all, I'm still redoing our cluster (troubleshooting RoCE without previous experience is so much fun...) and I'd like to install some environments; the spack.yaml looks something like
[code]
Now, my problem is that the concretization is not picking up the `sne`-namespace-specs, but instead defaulting to the ones from the namespace-repo (as visible in the generated spack.lock). The namespace i

[2021-04-27 21:19] Sinan81 commented on #16030
Does doing `spack solve ..` once will make sure from now on spack will use `clingo`? Or is also necessary to edit `config.yaml` to make clingo permenant?

[2021-04-27 21:22] #23274 closed, assigned to nobody

[2021-04-27 21:23] #23263 closed, assigned to nobody

[2021-04-27 21:38] flxmr commented on #23298
So digging through the code it turns out, environments do have their own repo. So I think this goes from bug to: "How am I supposed to build this repo!"

EDIT for this: it picks it up just fine, when putting my custom "sne" repo "above" the builtin-repo in a `repos`-section. Good for now, I guess, but not sure whether it would be handy to adress repos with the `<repo>.<package>`-syntax used in nor

[2021-04-27 22:34] Sinan81 commented on #16030
Ok. `spack install <package>` goes back to original concretizer (and fails as expected) after doing `spack solve <package>`. This is what I mean by unclear documentation. How can I tell `spack install` to use `clingo` ? Or else of course `clingo` should be made the default concretizer in `config.yaml` for things to work as expected.

[2021-04-27 22:43] Sinan81 commented on #16030
As far as I can tell, the workflow for using clingo **temporarily** to install a package is:
[code]

[2021-04-27 23:55] #20005 closed, assigned to nobody

[2021-04-28 00:55] afrah opened #23301 "Modifying source code before installation"
am working on a cluster with x86_64 GNU/Linux operating system. I want to profile some sparse solvers with TAU using 16 number of processors. However, I got this error.

`TAU bootstreap heap exceeded. Increase BOOTSTRAP_HEAP_SIZE in memory_wrapper.c and try again.`
from memory_wrapper.h, I get:

[code]
I need to modify this file in order to increase page size before the installation since this can

[2021-04-28 01:10] hartzell commented on #20005
Thanks everyone!

[2021-04-28 03:21] cdelv opened #23304 "Installation issue: GCC@10.3.0"
I ran the command `spack install gcc %gcc@7.3.1`. I'm using that compiler because the gcc@9.2 seems to be corrupted and I don't have root permissions on this computer. The OS is linux Fedora26. Everything installs well but when GCC is in the build phase this happens:
[code]
The build log shows the following:

[code]
The compilers.yaml file:

[code]

[2021-04-28 04:30] cdelv commented on #23304
Update: I tried with gcc@10.1.0 and gcc@9.3.0 and the same error occurred. Also, while inspecting the command it seems that spack is trying to use the system libiconv and not the one installed by spack. Never the less inside the spack installed libiconv lib directory there's a libiconv.so.2 and libiconv.so . Having 2 different version some times yields the same error, although the error in this ca

[2021-04-28 08:15] alalazo commented on #23301
You can patch `tau` before installation. This involves modifying `tau/package.py` to add either a patch directive or a patch method. You may want to search in the builtin repository to look for examples.

[2021-04-28 08:44] afrah commented on #23301
Thank you for your reply ... I created a patch file called **memory_wrapper.patch** with content
[code]

and modified package.py in inside spack/repos/builtin/packages/tau by adding this line
`    patch('memory_wrapper.patch', when="2.30.1%gcc@7.1.0")
`
how can I tell spack the location of memory_wrapper.h if it is used from cached archive or from the url

[2021-04-28 10:50] afrah commented on #23301
The path is spack-src/src/wrappers/memory/memory_wrapper.h

[2021-04-28 10:50] #23301 closed, assigned to nobody

[2021-04-28 10:51] flxmr commented on #23298
So, I looked through the code for too long and I'm now relatively positive this is indeed a bigger problem and in fact a bug/misfeature:
in concretize.py, the spec is just copied as the "base"-string to the metapackage used for concretization: https://github.com/spack/spack/blob/e14baffbcfce7a0073f21ce6d4e7615bca51e1cb/lib/spack/spack/concretize.py#L750 This means, every information about any name

[2021-04-28 11:10] haampie commented on #23275
Let's just default to +plugins in binutils to make things work...

Orthogonal to that is that packages should really use `depends_on('binutils +plugins')` instead of `depends_on('binutils')` if they need plugins.

[2021-04-28 11:13] haampie commented on #23275
https://github.com/spack/spack/pull/23309

[2021-04-28 11:15] alalazo commented on #23298
Can you please check what would be the status for the same bug with the ASP-based solver and #23307 ?

[2021-04-28 11:29] cessenat commented on #23297
Hello @payerle I do not have this issue with a recent spack ; it seems your version is 0.14 and the problem may have been corrected since.
Possibly by yourself see https://github.com/spack/spack/pull/15993.
Am I wrong ?

[2021-04-28 11:51] #23275 closed, assigned to alalazo, becker33, tldahlgren

[2021-04-28 11:53] #23256 closed, assigned to nobody

[2021-04-28 11:59] alalazo commented on #16030
@Sinan81 That's a good workaround. I think a user is supposed to be able to:
[code]
but at the moment this doesn't work due to #17543

[2021-04-28 12:04] flxmr commented on #23298
I tried on my dev machine, but alas clingo won't run (probably the compiler on my dev machine is too new (Fedora 33+gcc 10.2.1) or I'm missing some dependencies, which it doesn't complain about :() and as I was well away patching the old one by just moving namespaced dependencies towards the intermediate repo, I will roll this out to our cluster for now.

[2021-04-28 12:56] #18570 closed, assigned to nobody

[2021-04-28 13:02] alalazo commented on #23259
Duplicate of #17543

[2021-04-28 13:17] payerle commented on #23297
I was attempting to upgrade from spack-0.14 to spack 0.16, and I did not notice that
spack debug report was still showing 0.14

So, obviously I did something wrong on upgrade attempt --- I suspect my spack is in a weird state.
So I will close this ticket, fix my upgrade, and try again.

[2021-04-28 13:17] #23297 closed, assigned to nobody

[2021-04-28 13:20] alalazo commented on #22932
Duplicate of #22530

[2021-04-28 13:21] alalazo commented on #22932
I added both this issue and #22530 to the v0.16.2 project so that we'll backport the bugfix to the next minor release. Closing, but let me know if anything else needs to be done.

[2021-04-28 13:21] #22932 closed, assigned to alalazo

[2021-04-28 14:23] skylerpaulus opened #23317 "Installation issue: mesa"
Hello, I am installing qgis but it is failing at the mesa install.

### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.16.0-2473-7317b04
* **Python:** 3.6.8
* **Platform:** linux-centos7-broadwell
* **Concretizer:** original

### Additional information

* [spack-build-out.txt](https://github.com/spack/spack/files/6392473/spack-build-out.txt)
* [spack-build-env

[2021-04-28 14:23] payerle opened #23318 "Installation issue: bzip2: python error in package.py"
#23230 appeared to introduce a typo/python error in package.py

### Steps to reproduce the issue

[code]

### Information on your system
[code]

### Additional information
Does not reach point of creating spack-build-out.txt, etc

No maintainers, I believe issue was added by @scheibelp  in #23230

### General information

- [X ] I have run `spack debug report` and reported the version of Spack/Pyt

[2021-04-28 15:00] #22822 closed, assigned to nobody

[2021-04-28 17:01] #23318 closed, assigned to nobody

[2021-04-28 17:54] payerle opened #23328 "Installation issue: hdf +external-xdr ^libtirpc failing (libtirpc issue???)"
I am attempting to build hdf on a 64 bit system using libtirpc for external-xdr, but the build fails complaining that the hdf configure parameter --enable-hdf4-xdr is not supported for 64 bit mode.

(This is a re-issue of #23297 --- I am in the process of moving from spack 0.14 to the most recent 0.16.1, and somehow the spack environment used in 23297 was corrupted.  I have cleaned up, confirmed t

[2021-04-28 19:06] scheibelp commented on #23328
If it is expected that all dependents of `libtirpc` will `#include <netconfig.h>` rather than `#include <libtirpc/netconfig.h>`, then I think the way to do this is to implement `def headers` in `libtirpc`:

[code]

In that case, Spack will add `-I` options that include the full path to each `.h` file (whereas normally it would just add `-I<prefix>/include/`).

Would you be able to try that?

[2021-04-28 19:59] payerle commented on #23328
I tried that just now (I think I tried something like that before submitting this ticket), and it failed in the same way (config.log test checking for xdr.h complains it cannot find rpc/types.h, etc.).
(I removed the recursive=True flag, as find_all_headers does not allow for that, but does pass
recursive=True when it calls find_headers().)

There was no explicit -I for libtirpc in the configure g

[2021-04-28 20:30] scheibelp commented on #23328
Thanks for that! Looking through the code I realized we take steps to "stop early" at `include/` since that is often what dependents want (but not the right thing to do here). When overriding headers, you can explicitly set the directories:

[code]

Up to this point it seems we haven't had use for functionality that automatically creates `-I` directives from all directories containing header files

[2021-04-28 21:26] payerle commented on #23328
OK, that worked.  I submitted a pull request to use both include and include/tirpc (just in case anything was expecting tirpc to be in the path).

[2021-04-28 22:03] scottwittenburg opened #23333 "Error in Environment.matching_specs() method"
Today I hit an error in this [line](https://codecov.io/gh/spack/spack/src/develop/lib/spack/spack/environment.py#L1577).  The problem there is that `root_matches` is a dictionary mapping concrete specs to abstract specs, but it is indexed with an integer.

I hit this while attempting to use `matching_spec()` in #22657, but you can also make it happen using the `spack location` command (or probably

[2021-04-28 22:11] scottwittenburg commented on #23333
@scheibelp You have the honor of having touched that line last :stuck_out_tongue_winking_eye:

Apart from just alerting you to this issue, which looks simple to fix, I also wonder if you can help me understand whether `matching_spec()` is right for my use case in #22657.  I'm wondering if I'm the only one hitting this because I'm doing something unexpected that should really be done another way.

[2021-04-29 00:27] white238 opened #23334 "Add an "any" option to operating_systems in compiler spec"
I would like to provide a generic `operating_system` value in my compiler spec or possibly leave it blank and allow spack to auto-detect it.

### Rationale

https://github.com/LLNL/serac/blob/917eb8f05b99496e29772e251dc5b4ae8c88dd92/scripts/spack/configs/darwin/compilers.yaml#L8

This requires the user to alter this line to `bigsur`, `catalina`, etc.  I could copy and paste the same compiler spec

[2021-04-29 01:53] scheibelp commented on #23333
The problem is

[code]

`root_matches` is a dictionary, and this code (that I wrote) is treating like a list and indexing the first element (but python is complaining because the dictionary does not have a `0` key). I can fix this tomorrow.

Note that `Environment.matching_spec` will return a root spec or a dependency of a root spec. Also if the user provides a spec like

`x`

which would normally

[2021-04-29 01:56] scheibelp commented on #23328
Closing as fixed by #23332

[2021-04-29 01:56] #23328 closed, assigned to scheibelp

[2021-04-29 07:43] cessenat commented on #23317
Have you tried the very final update of mesa (some hours ago) that deal with using gallium swrast ?

[2021-04-29 12:18] vvolkl commented on #23154
Pinging @chissg as we were just recently discussing this and this issue would be a good place to keep track of developments!

I still think that the best way to speed things up is to just do less work - and it this case it might just be not doing relocation at all (but installing to the final path directly using some overlayfs, for example). Does not work for every usecase, but could be a nice sol

[2021-04-29 12:26] haampie commented on #23154
It would be nice indeed to use overlayfs, but support is really bad (except for some distro's that have a patched kernel).

Rootless / namespace support for overlayfs will only land in the 5.13 kernel, and the userspace/fuse version still requires kernel 4.18, which is already too new for many hpc centers.

But of course that shouldn't block us from offering support for it! It's just not a very ge

[2021-04-29 14:22] cessenat commented on #23177
Maybe you can try with
$ spack -d install -v matlab@R2019b
to get full log of what happens, but also did you put your downloaded file in
$SPACK_ROOT/var/spack/cache/matlab/matlab_R2019b.zip ?
There are more hints at
http://spack.readthedocs.io/en/latest/mirrors.html

[2021-04-29 15:10] scottwittenburg commented on #23333
Thanks for that explanation @scheibelp.  For my use case (CI pipelines) I'm mainly going to want to install concrete specs (either via cli hash or concrete `spec.yaml` on disk).  In that case there should be no ambiguity for `matching_spec` to deal with, so probably nothing for me to worry about.

Question in general though: In the environment I described above, there is a single root `ncurses` an

[2021-04-29 16:19] eugeneswalker opened #23339 "axom 0.4.0: build fails: ld: cannot find -lopenmp"
`axom@0.4.0` fails to build using:
* spack@develop (087110bcb013566f6ba392d4c271e891f4b3a2b1 from `Thu Apr 29 16:43:01 2021 +0200`)
* Ubuntu 20.04 - GCC 9.3.0
* RHEL 8 - GCC 8.3.1

Using container: `ecpe4s/ubuntu20.04-runner-x86_64:2021-03-10`
Concrete spec: [axom-ayoawp.spec.yaml.txt](https://github.com/spack/spack/files/6400068/axom-ayoawp.spec.yaml.txt)
Build log: [axom-build-out.txt](https://g

[2021-04-29 16:29] eugeneswalker opened #23340 "veloc 1.4, 1.3: build fails: transfer_module.cpp: too many arguments to function 'int AXL_Init()'"
`veloc@1.4` (and `@1.3`) fails to build using:
* spack@develop (087110bcb013566f6ba392d4c271e891f4b3a2b1 from `Thu Apr 29 16:43:01 2021 +0200`)
* Ubuntu 20.04 - GCC 9.3.0
* Ubuntu 18.04 - GCC 7.5.0
* RHEL 8 - GCC 8.3.1
* RHEL 7 - GCC 9.3.0

Using container: `ecpe4s/ubuntu20.04-runner-x86_64:2021-03-10`
Concrete spec: [veloc-oqsntu.spec.yaml.txt](https://github.com/spack/spack/files/6400144/veloc-o

[2021-04-29 16:59] cdfh commented on #7550
Don't think this got addressed in 0.16.0 sadly, but still very much looking forward to it in 0.17.0. The issues described in my previous comment ultimately led to us migrating away from spack for cross compiling, so its still very much a wanted feature.

[2021-04-29 17:04] #16807 closed, assigned to nobody

[2021-04-29 17:28] scheibelp commented on #23333
That's the intended behavior of `matching_spec`, but you can disagree on whether that's the correct behavior (i.e. if that's not what you want for your use case): an environment can have a package as a root and as a dependency, and we assume that when users ask about the package that they care about the root instance. This works well for the commands which currently use `matching_spec` like `spack

[2021-04-29 17:35] eschnett commented on #23296
The issue persists for `gcc @11.1.0`.

[2021-04-29 17:38] eschnett commented on #23296
The error is a bootstrap comparison failure:
[code]
More than 700 files differ. I assume the differences all have the same cause and are not due to a compiler error.

[2021-04-29 17:53] payerle opened #23345 "Installation issue: hdf-eos2 failing to build with ^hdf+szip"
When trying to build hdf-eos2 using an hdf built with +szip, I get an error during configure
about lack of an --with-szlib flag.

It also looks like the checks for jpeg and zlib libraries will fail if hdf was not built with them
(e.g. using ``` if self.spec['jpeg']:``` instead of ``if 'jpeg' in self.spec:```)

### Steps to reproduce the issue

[code]

### Information on your system

[code]
### Add

[2021-04-29 17:55] scottwittenburg commented on #23333
I agree with that behavior in general, thanks for providing background on the intentions there.

[2021-04-29 18:59] eschnett commented on #23296
I see that the variant `bootstrap` is off by default, and Spack passes `--enable-bootstrap` to enable bootstrapping. However, GCC bootstraps by default, and requires `--disable-bootstrap` to disable it.

When I make this change, then (a) GCC builds much faster, and (b) the error goes away; GCC builds successfully.

[2021-04-29 19:01] mvictoras opened #23347 "sensei: sensei_config is missing"
https://github.com/spack/spack/blob/develop/var/spack/repos/builtin/packages/sensei/package.py
sensei_config is missing

[2021-04-29 19:52] cessenat opened #23348 "Installation issue: gtkplus"
[code]

### Information on your system

* **Spack:** 0.16.1-2442-6b12000
* **Python:** 3.6.8
* **Platform:** linux-centos7-skylake
* **Concretizer:** original

[code]

[code]

No ~/.spack/packages.yaml

Using gcc@8.4.0

### Additional information

* [spack-build-out.txt](https://github.com/spack/spack/files/6401209/spack-build-out.txt)
* [spack-build-out.txt](https://github.com/spack/spack/files/6

[2021-04-29 20:37] eugeneswalker opened #23349 "ruby-hpricot 0.8.6: rhel8 build fails: failed to build gem native extension"
`ruby-hpricot@0.8.6` fails to build using:
* spack@develop (c27c70acd9b03084bfcf2a07cf6270fcf350e75d from `Thu Apr 29 15:24:47 2021 -0400`)
* RHEL 8 - GCC 8.3.1 (x86_64)

Note: not seeing this error on Ubuntu 20.04 w/ GCC 9.3.0

Container: `ecpe4s/rhel8-runner-x86_64:2021-03-01`
Concrete spec: [ruby-hpricot-3zgnes.spec.yaml.txt](https://github.com/spack/spack/files/6401484/ruby-hpricot-3zgnes.spec

[2021-04-29 20:56] ndusek commented on #19844
I am encountering the same issue in Spack v0.16.1 installing intel@18.0.5.

According to [this doc from Intel](https://software.intel.com/content/www/us/en/develop/articles/silent-installation-guide-for-intel-parallel-studio-xe-composer-edition-for-os-x.html), my guess is setting `ACTIVATION_TYPE=license_server` in the `silent.cfg` might get it to use the value of `INTEL_LICENSE_FILE` but I don't

[2021-04-29 21:02] adamjstewart commented on #23349
No idea, sorry

[2021-04-29 21:13] white238 commented on #23339
There seems to be an unguarded openmp dependency in this release.  Can you use axom@develop?  I am currently fixing something but I can try to provide a patch in spack for this release once I track it down.

[2021-04-29 21:24] eugeneswalker commented on #23339
Yes, that worked! We would love a patch! Thank you.

[2021-04-29 23:36] Nandinihpc opened #23355 "spack install error with maker install"
I was trying to install maker and this is the install spec

 spack spec --install-status maker@3.01.03%gcc@9.3.0

 version_satisfies("xproto","7.0.25:","7.0.31")
  version_satisfies("xproto","7.0.8:","7.0.29")
  version_satisfies("xproto","7.0.8:","7.0.31")
  version_satisfies("yasm","1.2.0:","1.3.0")
  version_satisfies("yasm","1.2.0:","develop")
  version_satisfies("yasm","develop","develop")

[2021-04-29 23:54] eschnett commented on #23296
Maybe this https://gcc.gnu.org/bugzilla/show_bug.cgi?id=100347 is related? If GCC mis-detects the architecture, all created files would differ.

[2021-04-30 00:02] omor1 commented on #19782
I have a way of replicating this consistently inside an environment. Creating BundlePackages `a` `b`, `d`, and `e`, where:
[code]

[code]

In short, this is a situation caused by `_dup_deps` where there are two paths to a dependency _and_ that dep has its own dependency. I've seen this most often with environments, though as shown above it is not exclusive to them. A workaround it to only explicit

[2021-04-30 00:48] omor1 commented on #19782
[code]

I'm not sure if this is the proper solution, but it allows progress.
I think that in some situations this can lead to getting to an `InconsistentSpecError` instead, which is a _different_ bug that's due to the _terrible_ implementation of `__str__` (or more precisely of `sorted_deps`) on `Spec`: it calls `flat_dependencies`, which does a deep copy of the `Spec` and is both very inefficient

[2021-04-30 00:59] white238 commented on #23339
@eugeneswalker this was actually a pretty nasty set of problems that caused this.  I think i fixed it in the PR mentioned above.  Can you see if this fixes your problem?  My day is over and if you haven't responded I will try to reproduce this tomorrow.

[2021-04-30 01:58] eugeneswalker commented on #23339
Thank you for your quick work. Unfortunately, this didn't resolve the issue. I get the same error :(
[code]

[2021-04-30 02:16] scottwittenburg commented on #23333
Question about this: The line of code you just fixed in #22657 returns the abstract spec from the `(concrete, abstract)` pair, why do you recommend installing that?  As I was working on this just now, I was surprised to see that what I got back from `matching_spec` had a dag hash that did not previously exist in the environment (at all, as a dep or a root).  For my use case, I don't want to instal

[2021-04-30 02:24] scottwittenburg commented on #23333
Looking again, the docstring of that method does say "find a matching concretized spec in the environment".  Furthermore, in the case where there's exactly one match (be it dep or root) in the environment, the concrete spec is returned.  Is it possible it's a bug that the abstract spec rather than the concrete spec is returned when `len(root_matches) == 1`?

[2021-04-30 04:28] white238 commented on #23339
I think I was running into a first-come-first-set-the-version situation.  I am running it through a set of tests now.

[2021-04-30 06:17] #22902 closed, assigned to nobody

[2021-04-30 11:48] marvinbernhardt commented on #23166
Any tip on how I could resolve this? I would really like to install lammps+cuda with spack.

[2021-04-30 12:20] marvinbernhardt commented on #23166
It gets much weirder when I add `^hwloc`

Tried that with the latest develop branch. Looks like there is some Python bug there, right?

[code]

[2021-04-30 13:30] skylerpaulus opened #23359 "Installation issue: qgis"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.16.0-2473-7317b04
* **Python:** 3.6.8
* **Platform:** linux-centos7-broadwell
* **Concretizer:** original

### Additional information

spack-build-out.txt was empty
* [spack-build-env.txt](https://github.com/spack/spack/files/6405626/spack-build-env.txt)

@Sinan81 @adamjstewart
### General information

- [x] I

[2021-04-30 13:31] skylerpaulus commented on #23317
@cessenat mesa@master fixed the issue. Thanks!

[2021-04-30 13:31] #23317 closed, assigned to nobody

[2021-04-30 13:55] adamjstewart commented on #23359
@scheibelp has tackled a lot of unicode decoding issues lately, he may have an idea.

[2021-04-30 16:18] vchuravy opened #23368 "`spack env activate` does not traverse run dependencies for environment modifications"
Moving this from #gripes on Slack.

Mine @SteVwonder question was:

@tgamblin answer was:

[2021-04-30 18:27] tldahlgren commented on #23132
We go back-and-forth on the amount of noise to add/drop from the builds.  😆

[2021-04-30 20:06] scheibelp commented on #23333
https://github.com/spack/spack/pull/22657 appears to fix this, so I updated the PR description to reflect that.

I missed that. #22657 handles that

[2021-04-30 20:21] scheibelp commented on #23359
Are you on a custom branch? If so, does that branch include https://github.com/spack/spack/pull/22888? If not, can you try it?

Otherwise, can you rerun the command with `-d` (`spack -d install...`) and add the output here?

[2021-04-30 20:25] omor1 commented on #19782
Thinking a bit more, this check might need to be moved up to `_dup_deps` rather than be in `_add_dependency`.

[2021-04-30 20:42] skylerpaulus commented on #23359
It should not be a custom branch. Here is the qgis part of spack -d install, let me know if you want the full thing.

[code]

Thanks

[2021-04-30 20:51] scheibelp commented on #23359
Thanks for the extended output. I think I see the issue and should be able to fix this on Monday (low-level details: `combine_phase_logs` is opening files with ASCII decoding vs. UTF-8)

[2021-04-30 21:02] skylerpaulus commented on #23359
Awesome! Thanks again!

[2021-04-30 21:19] jfinney10 opened #23374 "Spack modifies spack.yaml on read-only operations"
Reference to Spack slack message: https://spackpm.slack.com/archives/C01UZDL35C4/p1619642815329900

When working within an environment where I am adding packages to it, I am getting newlines added to the config file each time I run `spack install`.

### Steps to reproduce the issue

[code]

### System information
OLCF's Ascent

### Spack Version

[code]

### Additional information

- [ ] I have ru

[2021-04-30 21:19] jfinney10 commented on #23374
@scheibelp asked to be pinged on this

[2021-04-30 22:12] tgamblin commented on #23368
@scheibelp do you have time to take a stab at this one?

[2021-04-30 22:32] scheibelp commented on #23368
I think I can look at this on May 4th

EDIT (5/4): other issues are taking longer than expected. My new estimated start date for this is 5/6.

[2021-04-30 22:53] omor1 commented on #23273
As an alternative, it's possible to parse `other_args` and inject `SPACK_LDLIBS` right any of its own libs i.e. stop before any `-l` args in `-other_args`, inject `SPACK_LDLIBS`, and then resume adding the remainder of `other_args`.

[2021-04-30 23:16] eugeneswalker commented on #23339
This issue isn't resolved by #23356 as far as I can tell :(

[2021-04-30 23:17] becker33 commented on #23339
I was overeager merging it. @white238 is working on a further fix (that I would have known to wait for if I had been slightly more patient).

[2021-04-30 23:17] becker33 commented on #23339
Sorry for the wasted time :/

[2021-04-30 23:54] adamjstewart commented on #23374
I've also had this problem in the past, although it's better now than it used to be. Makes it really difficult to keep a `spack.yaml` under version control.

[2021-05-01 01:18] ikitayama commented on #18882
Given that it's been a while since I've opened up this Issue, Spack and CUDA Toolkit both have changed a lot, closing this.

[2021-05-01 01:18] #18882 closed, assigned to sethrj, ax3l

[2021-05-01 02:02] omor1 opened #23380 "`spack module lmod loads` should load hierarchy prerequisites"
`spack module lmod loads` should output commands to load hierarchical prerequisites.

### Rationale
Currently, `spack module lmod loads` (and relatives such as `spack env loads -m lmod`) output only the spec specified. If this isn't in the Core part of the Lmod hierarchy, it is not possible to directly load the module; it can only be loaded _after_ its hierarchical prerequisites.

The `-r/--depend

[2021-05-01 18:22] healther commented on #22606
I'm running into the same error, would it be possible to force spack to build its own python interpreter as part of the bootstrap process?

[2021-05-02 14:47] haampie opened #23385 "gettext should not build its own libxml"
It seems `gettext` still builds its own libxml, even though we add libxml as a dependency. We should drop that.

From the logs:

[code]

Also it compiles mostly single-threaded on fujitsu/aarch64/centos7

[2021-05-02 21:26] ashki23 opened #23388 "Installation issue: intel-oneapi-mpi"
### Steps to reproduce the issue

[code]

### Information on your system

[code]

### Additional information

Please click the following links to see the build files:

* [spack-build-out.txt](https://github.com/ashki23/spack-bug-report/blob/main/intel-oneapi-mpi-2021.2.0/spack-build-out.txt)
* [spack-build-env.txt](https://github.com/ashki23/spack-bug-report/blob/main/intel-oneapi-mpi-2021.2.0/spa

[2021-05-03 11:41] ciaron opened #23394 "Installation issue: intel-oneapi-compilers"
### Steps to reproduce the issue

[code]

Download URL is indeed a 404, also when logged in to my Intel account. The correct URL seems to be very slightly different:

https://registrationcenter-download.intel.com/akdlm/irc_nas/17427/l_HPCKit_p_2021.1.0.2684_offline.sh

(note extra "0." in the URL)

### Information on your system

[code]

### Additional information

* [spack-build-out.txt]() - not

[2021-05-03 12:21] rscohn2 commented on #23394
It looks like they renamed a file on the server. They don't usually do that and I will ask them to make both old and new URL's work.

I see that you are using the latest release, which is from February. Would it be possible to switch to the develop branch, as I believe it is working there.

[2021-05-03 13:15] ciaron commented on #23394
Thanks Robert!

I tried `develop`, but I get a different error:
[code]

(I just did `git checkout develop` on my Spack installation - is this the right way to switch?)

[2021-05-03 13:45] rscohn2 commented on #23394
After the checkout, it would be better to do a:
[code]
To update the develop to the latest.

I am not sure if it is ok to switch branches when you have installed packages. Can you try a new clone and install?

[2021-05-03 14:11] rscohn2 commented on #23388
I did not consider the possibility that someone would invoke spack as root. While I work on a fix, you need to do this in between installing oneapi packages:
[code]

[2021-05-03 14:16] dev-zero opened #23398 "`spack compilers` gets compiler version from PrgEnv version rather than compiler"
### Steps to reproduce the issue

[code]

the module `intel/8.0.0` does not exist:

[code]

My guess is that this goes unnoticed because a) for most compilers the compiler version is bigger than the PrgEnv version (except for aocc where this gets annoying) and b) because loading modules gets ignored (see #21253) amd loading a PrgEnv pulls in the compiler module automatically.

### Information on y

[2021-05-03 15:10] ashki23 commented on #23388
Thank you, @rscohn2. It solved the issue.

[2021-05-03 15:20] rscohn2 commented on #23388
@ashki23 after #23401 is merged, you will not have to manually remove the installercache.

[2021-05-03 15:55] MBlaschek commented on #22093
Hi,
I tried again `perl-5.32.1 %intel@20.0.2` the composer edition fails, but running `perl@5.32.1 %oneapi@2021.2.0` succeeds.
So clearly a compiler issue. Thanks for the input. Really solved my problems.

[2021-05-03 16:00] ciaron commented on #23394
Can confirm it works from a clean `develop` branch.

[2021-05-03 16:05] w8jcik opened #23402 "CUDA version 8 and lower does not install correctly"
@Rombur  @ax3l CUDA packages in versions 8, 7, 6 install but they have only `bin` directory with one file and `pkgconfig` with a few `.pc` files. Everything else is missing. Also a clear error appears when install is run with `-v` switch.

### Steps to reproduce the issue

Setup Spack on Ubuntu 20.04 (I am providing Dockerfile which you can run or review the setup procedure), then

[code]

succeed

[2021-05-03 18:56] rscohn2 commented on #23394
@ciaron: Thanks for checking.

It turns out that the URL never worked. We were still getting everything working at the time they did the Feb release. This means 0.16 is unusable for people who want to install oneapi.

@scheibelp : FYI

[2021-05-03 20:48] payerle opened #23411 "Installation issue: hdf-eos5 fails to build with hdf5+szip"
When trying to build hdf-eos5 using an hdf5 built with +szip, I get an error during configure
about lack of an --with-szlib flag.

It also looks like the check for  zlib libraries will fail if hdf was not built with it it
(e.g. using if self.spec['zlib']: instead of ``if 'zlib' in self.spec:```)

Basically looks to be the hdf-eos5 version of issue #23345 for hdf-eos2.

### Steps to reproduce the i

[2021-05-03 22:40] sethrj commented on #19347
Seems like the solution would be to just mark llvm@:10.999 as incompatible with arm+apple?

[2021-05-03 22:57] w8jcik commented on #23402
It works again with this change

[code]

[2021-05-03 23:37] carns commented on #23228
Ah, I have found why (in terms of spack config files) this is the case.  On Linux systems, there is a linux-specific modules.yaml file in etc/spack/defaults/linux/ that tells spack to set LD_LIBRARY path when modules are loaded:

[code]

This is not the case on Cray systems:
[code]

This also means (I think - will confirm shortly) that I can work around the problem by putting my own modules.yaml f

[2021-05-04 01:02] Rombur commented on #23402
I can reproduce the problem. Does you patch also works with newer versions of CUDA?

[2021-05-04 02:06] sethrj commented on #21870
I've seen that @haampie has submitted quite a number of `binutils` patches recently and am curious if he has seen anything that could be related to this.

[2021-05-04 02:15] sethrj commented on #21284
@jonglezb you did install `gcc+binutils`, correct? In my experience this does correctly set up the GCC compiler internals (with at least [one exception](https://github.com/spack/spack/issues/21870)) without the need for any shenanigans with `PATH`.

[2021-05-04 05:27] #22088 closed, assigned to alalazo

[2021-05-04 08:07] #23345 closed, assigned to nobody

[2021-05-04 08:59] ciaron commented on #23394
@rscohn2 thanks for the update. It looks like the URL for `intel-parallel-studio@cluster.2020.4` is also broken in releases/v0.16. We're just trying out Spack for now, so none of this is urgent (for us at least).

[2021-05-04 11:02] haampie commented on #21870
Hm, I've only built gcc with c, c++ and go support on centos 7 with +binutils, and it looks OK for gcc at least (both libz and zstd -- the latter is used for compression of debug symbols iiuc):

[code]

[code]

[2021-05-04 12:57] rscohn2 commented on #23394
It doesn't look like 0.16 had support for 2020.4:
https://github.com/spack/spack/blob/8dd2d740b1fbd4335209240fcc42826d0a143f57/var/spack/repos/builtin/packages/intel-parallel-studio/package.py#L23
Was it a different PSXE update that had a bad URL?

[2021-05-04 14:22] eschnett opened #23424 "Views are updated twice, which is slow"
I am installing a set of packages via an environment. This environment also defines a view. This view is updated twice in a row instead of only once. Since I'm on an HPC system, updating the view is very slow.

### Steps to reproduce the issue

[code]

My `spack.yaml` is:
[code]

### Error Message

The screen output ends with:
[code]

Note the duplicate message about `Updating view` at the end. Th

[2021-05-04 14:24] cessenat opened #23425 "Installation issue: hwloc"
### Steps to reproduce the issue
When compiling hwloc with nvhpc on Ubuntu 20.04 while libxml2 is external, libxml2 is not found. When using gcc it is found, when using an spack libxml2 there is no problem either. Problem occurs on Ubuntu 18.04 as well.

[code]

### Information on your system

* **Spack:** 0.16.1-2501-2efcfa9de1
* **Python:** 3.8.5
* **Platform:** linux-ubuntu20.04-core2
* **Concr

[2021-05-04 14:36] bgoglin commented on #23425
Hello, I'd need to see the hwloc config.log to understand why pkg-config failed to find LIBXML2 with nvhpc.

[2021-05-04 14:40] cessenat commented on #23425
[config.log](https://github.com/spack/spack/files/6421848/config.log)
Thanks for looking so fast !

[2021-05-04 14:45] bgoglin commented on #23425
Strange, pkg-config just says that libxml-2.0.pc doesn't exist. I am trying to replicate.

[2021-05-04 14:46] ciaron commented on #23394
You're right - my apologies. I was seeing the version numbers in `develop` and trying to install with `release`.

[2021-05-04 15:06] frankwillmore commented on #23228
good catch! Looks like it's covered here:

https://spack.readthedocs.io/en/latest/module_file_support.html#customize-environment-modifications

[2021-05-04 15:29] eugeneswalker commented on #22351
Can the dependency count minimization aspect of the new concretizer be disabled via a setting?

[2021-05-04 16:27] haampie commented on #23424
Worse even if you do distributed builds, they get updated N+1 times

[2021-05-04 16:38] haampie commented on #22351
This is more acceptable than selecting a very old version because the newer versions pull in more virtual deps... Should we just default to concretizing to new versions? The user can always force `pkg ^openmpi` if they're unhappy

[2021-05-04 17:49] carns commented on #22548
For posterity in case someone else encounters this issue: in a the Jenkins script environment I was able to work around this problem by installing spack in a subdirectory within the `$WORKSPACE_TMP` subdirectory.  In the Jenkins instance that I am using at least, this path is on a shared directory that is cleaned up between jobs, yet has a path short enough to fit under the Spack limitation.

I'm

[2021-05-04 18:24] skosukhin commented on #23283
Maybe I am wrong but I have two comments regarding the compiler configuration:
1. The `environment` section looks unusual. Shouldn't it be:
[code]
    i.e. should the value really contain `${LD_LIBRARY_PATH}`? Do you still need #23284 if you change this?
2. Did you really need to set `LD_LIBRARY_PATH`? Did you try to inject `rpaths` instead (it's cleaner and normally helps)?
[code]

[2021-05-04 18:35] marcmengel opened #23428 "spack install --overwrite doesn't put build dependencies in build environment"
Tried to reinstall a package with spack install --overwrite and it failed to find "cmake" which was a build dependency.

This happens with either concretizer turned on.

### Steps to reproduce the issue

* Make sure you do not have "cmake" in your path.
* fresh install of spack v0.16.1
* Install mysql (if you don't have it already)
* Try to re-install mysql with --overwrite

[code]

So in the plai

[2021-05-04 21:41] cessenat commented on #23283
You are absolutely right @skosukhin : sourcing  /opt/intel/oneapi/setvars.sh was not sufficient for finding libimf.so in fortran, but adding
export MODULEPATH=${MODULEPATH}:/opt/intel/oneapi/modulefiles
prior to compilation makes setting LD_LIBRARY_PATH: /opt/intel/oneapi/compiler/2021.2.0/linux/compiler/lib/intel64_lin
unnecessary so that the error is not met.
Still, the hdf5 Makefile is recursiv

[2021-05-04 22:06] payerle opened #23436 "Installation issue: zfp install fails due to use of system python"
When trying to build zfp on my system, I encountered a bunch of odd python errors.  Upon deeper investigation, it appears that the CMake configuration tool zfp was using found/decided to use the system installed python instead of the spack installed python.  Looking at the zfp recipe, it had dependencies on py-numpy and py-cython, but no explicit dependency on python.

I confess that might underst

[2021-05-05 03:59] lindstro commented on #23436
@payerle I must confess myself to not having a complete understanding of how these Python dependencies work.  I did not run into this issue myself when I last updated the zfp spack recipe, but I will take a look.  It seems reasonable to adopt the solution you propose, but before we do so I'd like to get some feedback from the spack folks.

[2021-05-05 05:20] pelahi opened #23439 "Error on Cray Milan system, "Could not determine a platform for this machine""
I am testing Spack on a Cray (centos:8) machine with Milan CPUs (AMD EPYC 7713 64-Core Processor). Spack produces the following error message with any command.

### Error Messages
[code]

_This only applies to spack develop branch including and after the_
[code]

An update to archspec has caused an issue. I have raised this bug here and will also raise this issue in archspec.

For reference, using

[2021-05-05 06:00] eugeneswalker commented on #23374
Same boat over here! Would love to see this **not happen** :)

[2021-05-05 06:56] pelahi commented on #23439
This is an update to say that error occurs because of an update to `lib/spack/external/archspec/json/cpu/microarchitectures.json`. I am not certain why the updates to archspec's json file are causing these issues (the specific pull requests are https://github.com/archspec/archspec-json/pull/25 and I have also tried the changes to the json file that are in https://github.com/archspec/archspec-json/

[2021-05-05 07:44] pelahi commented on #23439
Another update, this may be due to the an older linux kernel in use on the system which does not recognise the zen3 architecture and may not be inherently due to spack, but rather the interplay between the OS and archspec (the /proc/cpuinfo is missing a microcode entry).

[2021-05-05 07:45] bgoglin commented on #23425
I couldn't reproduce anything. I can't find a system with "nvc" unfortunately. We have some nvcc from CUDA 11.2 but they fail to configure hwloc even earlier (compiler not ISO C99).

That said, libxml2-dev brings /usr/lib/x86_64-linux-gnu/pkgconfig/libxml-2.0.pc (on Debian, but should be the same on Ubuntu), hence I don't see why changing the compiler would cause pkg-config not to find it anymore.

[2021-05-05 07:48] alalazo opened #23440 "ASP-based solver: custom package versions cannot be concretized together"
A Spack environment which contains root specs with custom versions (i.e. versions not declared in a `version` directive in the corresponding `package.py`) cannot be concretized together.

### Steps to reproduce the issue
The following environment:
[code]
gives an error during concretization.

### Error Message
The error message is:
[code]

### Information on your system

* **Spack:** 0.16.1-2510-4

[2021-05-05 07:48] alalazo commented on #23440
@bvanessen Thanks for trimming down the original environment that was giving issues. It has been really helpful.

[2021-05-05 08:23] cessenat commented on #23425
Hello Brice,
Outside of spack pkg-config provides the right answer, with PKG_CONFIG_PATH being set or not
[code]
If you wish you can install nvhpc with spack or from https://developer.nvidia.com/nvidia-hpc-sdk-downloads

[2021-05-05 08:42] skosukhin commented on #23283
@cessenat I am sorry. How exactly am I write? Does replacing `${LD_LIBRARY_PATH}:/opt/intel/oneapi/compiler/2021.2.0/linux/compiler/lib/intel64_lin` with just `/opt/intel/oneapi/compiler/2021.2.0/linux/compiler/lib/intel64_lin` in `compilers.yaml` help? Does replacing the environment modification with `extra_rpaths` help?

There is no recursion in the makefile. You introduce it yourself with your

[2021-05-05 08:51] w8jcik commented on #23402
It would need version check `if self.spec.satisfies`. Other than this we can just try building all versions to see if it works.

I found what is the reason for this issue. Perl 5.26 removed current directory from module search path. This is why we need to alter `PERL5LIB` to make it work.

I just still don't understand why is it necessary to extract `./InstallUtils.pm` from the package.

[2021-05-05 09:13] cessenat commented on #23283
Thank you very much @skosukhin for your crystal clear explanation, I now understand my error.
Replacing ${LD_LIBRARY_PATH}:/opt/intel/oneapi/compiler/2021.2.0/linux/compiler/lib/intel64_lin with just /opt/intel/oneapi/compiler/2021.2.0/linux/compiler/lib/intel64_lin as well as simply removing the append_path as you advised (https://github.com/spack/spack/issues/23283#issuecomment-832149742) both w

[2021-05-05 09:13] #23283 closed, assigned to nobody

[2021-05-05 10:15] jjellio opened #23443 "CCE doesn't support CXX standard flags beyond 11"
### Error Message
[code]

Glancing at `compilers/cce.py`, it only annotates C++11 - curiously, I never bumped into this, because Trilinos sets its own CXX flags via kokkos.

### compilers/cce.py
[code]
I'll be submitting a PR that adds flags (and referencing this)

### Additional information

- [ ] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [x] I have searc

[2021-05-05 12:57] payerle commented on #23436
@lindstro I suspect that the issue might manifest itself differently on different linux distros.  IIRC, I encountered a bunch of subtle python dependency issues in various packages when rebuilding a RHEL7 sw stack on RHEL8 last year.  If you have opportunity to easily rebuild zfp (perhaps changing a variant), keeping the stage directory, and see what PythonLib and PythonInterp CMake is reporting b

[2021-05-05 12:59] dev-zero opened #23445 "module_cmd::get_path_from_module_contents broken for lmod modules"
Given the following output of `module show cray-mpich`:

[code]
and the `packages.yaml`:

[code]

one gets when trying to install a package:

[code]

The problem here is twofold:
* [ ] the matcher function `match_flag_and_strip` does not strip the trailing `")` of the path found by matching `-L`, hence the invalid path:
https://github.com/spack/spack/blob/4f7bd11d61b67666bf11a827650900666f920672/l

[2021-05-05 15:29] alalazo commented on #22351
Not as simple as that I fear. Let me have a look at this issue again to see if I can find an easy way out.

[2021-05-05 15:35] alalazo commented on #22351
@eugeneswalker

There's no direct dependency count minimization... What is a spec that reproduces your issue? Would:
[code]
be sufficient? Asking since I want to determine if it's the same issue or two different but similar ones.

[2021-05-05 17:01] qwertos opened #23449 "Log actions to syslog"
Enable logging (i.e. to syslog) actions a user takes in a spack environment. Especially:

- `spack load`
- `spack env activate`

### Rationale

We have a shared spack environment that our users use. It would be helpful to be aware of what packages are popular, and what are no longer needed.

### It would be extra nice (but not necessary) if...

... the contents/format of the message were configura

[2021-05-05 18:12] mthielma opened #23453 "Installation issue: mesa"
Hi,
when trying to install gmt, the installation failed due to an issue with the mesa installation. I find it somewhat strange (and I am unsure if this is a spack issue), as it seems as if this issue is not new and has been addressed [here](https://gitlab.freedesktop.org/mesa/mesa/-/merge_requests/1753). However, I also found the fix in u_queue.c, which should make timespec_get() available.

### S

[2021-05-05 18:36] eschnett opened #23454 "Spack adds empty lines into `spack.yaml` files"
When I run `spack compiler find` with an active environment, Spack modifies the respective `spack.yaml` file, rewriting the compiler information in there. The newly written file adds one emtpy line in front of every comment. After several iterations of this, the long stretches of empty lines become annoying.

### Steps to reproduce the issue

[code]

### Error Message

`spack.yaml` before:
[code]

[2021-05-05 18:56] frankwillmore opened #23455 "spack fails to generate a build environment when using intel-oneapi-mpi as mpi provider"
### Steps to reproduce the issue

[code]

intel-oneapi-mpi is specified as the mpi provider, not openmpi, so it's not clear why it's querying that package or how.

I was able to install the package using the above spec, but my interest is in examining the build environment, as other packages using this mpi provider getting incorrect paths to mpicc, etc.

### Error Message

[code]

### Information

[2021-05-05 19:00] scheibelp commented on #23454
I'm going to close this as a duplicate of https://github.com/spack/spack/issues/23374. Feel free to reopen if you disagree. I am aware of the issue but need to make time to work on it.

[2021-05-05 19:00] #23454 closed, assigned to nobody

[2021-05-05 19:00] nebulism opened #23456 "QT5.15.2 +webkit+opengl concretize bug with python versions"
All,
I've encountered a concretize error when the starting off a new spack repo and doing an install of qt+webkit+opengl.

**Reproduce the error**
1.  Start off with fresh spack repo
2. Use gcc/9.3.0 or other compiler (doubt this is an issue here)
3. Create an environment --without-view
4. spack install qt+webkit+opengl

**Result of error**
[code]
**Spack Debug report**
* **Spack:** 0.16.1-2515-9a

[2021-05-05 21:23] rhd commented on #19219
I'm experiencing this with 0.16.1. Is it an actual problem or can it be ignored?

[2021-05-05 21:52] eugeneswalker commented on #19219
as far as i know, it can be ignored

[2021-05-06 07:25] pelahi commented on #23439
I have tested the latest versions of spack and the commit that included zen3 in archspec's json file one the same machine with several different kernels. Currently using Fedora live 31 () and 34 (5.11.12-300.fc34.x86_64), both linux kernels >4, the error is not present. However, older kernels (4.18.0-240.22.1.el8_3.x86_64) fail. It does appear to be an issue with the linux kernel and the interplay

[2021-05-06 12:42] samfux84 opened #23471 "Ruby cannot be installed due to SSL certificates for gems"
When trying to install ruby with spack, the installation fails, because the SSL certificate for the gems cannot be downloaded

### Steps to reproduce the issue

[code]

### Error Message

[code]

### Information on your system

### Additional information

[2021-05-06 14:24] eugeneswalker opened #23473 "blt@0.3.6 unsatisfiable conflict w/ +rocm: umpire, raja, more?"
Using original concretizer from `spack@develop` (dfcd01f2c7ebbd0c1ac214c5c73ebc00b46d930d from `Thu May 6 12:11:20 2021 +0200`)

[code]

Same with `umpire+rocm`:
[code]

Where is this conflict coming from?

@white238 @haampie ?

[2021-05-06 14:30] #23132 closed, assigned to nobody

[2021-05-06 15:42] ldalessa opened #23475 "LD_LIBRARY_PATH reset before `gcc` wrapper causes compiler error"
I have a module-installed system compiler, gcc-10.3, that was installed with some non-normal `.so` paths, particularly `--with-isl=/opt/crc/i/isl/0.18/gcc/4.8.5`. The system's `gcc/10.3.0` module adds `/opt/crc/i/isl/0.18/gcc/4.8.5/lib` to my `LD_LIBRARY_PATH` and everything works fine normally.

I have added this module to my `compilers.yaml` for `gcc@10.3`.

When I try and use this compiler to b

[2021-05-06 16:10] haampie commented on #23473
there's no registered version of raja that supports blt@0.4:, probably the others need 0.4?

[2021-05-06 16:38] adamjstewart commented on #23456
It looks like this concretization issue is solved by the new concretizer. If you want to stick with the old concretizer, you'll have to explicitly specify which versions of the package and its dependencies you want to build so as to avoid the meson dependency. @sethrj may have some tips.

[2021-05-06 16:39] eugeneswalker commented on #23473
I don't know the technical reason
(A) why blt 0.3.6 can't be used with +rocm
(B) where the conflict is triggered in Spack

I don't see the conflict statements defined in the raja and umpire packages, so where is this coming from?

[2021-05-06 16:45] white238 commented on #23473
It is here:  https://github.com/spack/spack/blob/2ba493cd630dfc44e69c32b6e31993fa949fc10b/lib/spack/spack/build_systems/rocm.py#L110

There have been  a lot of fixes in BLT related to rocm since 0.3.6 but I am not sure if any of them were hard requirements.  I don't have time right now to test if 0.3.6 works right now.  Can one of you try removing that and see if it works?  It might have been put

[2021-05-06 17:19] #23440 closed, assigned to alalazo

[2021-05-06 17:19] sethrj commented on #9900
Might be worth retrying this since the `qt` package has had some changes, including an explicit `gui` option.

[2021-05-06 17:20] sethrj commented on #23456
@nebulism Qt+webkit requires Python 2.7, but Qt requires glib which requires meson which requires Python 3.5 or higher. I'd try building with `^glib@2.56.4` to remove the meson dependency; and if that doesn't work, install clingo and use the new concretizer as Adam suggests.

[2021-05-06 17:53] payerle commented on #23436
Adding a pull request to make python an explicit dependency of zfp.

My tests show that this will add spack-installed python to CMAKE_PREFIX_PATH env var, which seems to make the build happy.

But I agree that feedback from spack folk would be useful (I am hoping that a pull request might bring to their attention)

[2021-05-06 18:21] alecbcs commented on #14900
Hey all, just ran into this attempting to compile Go on an Arm based Mac. If bootstrapping with gccgo is possible. Would it be feasible for the go-bootstrap package to just be a wrapper around installing gcc with the go language support enabled?

Are there any specific use cases where compiling GCC wouldn't be an option and we would have to fallback to a binary bootstrap?

[2021-05-06 19:19] trws commented on #14900
Not that I know of. That’s a good solution, but an expensive one if you don’t have gccgo available already. That’s why we started the way we did, even bootstrapping from an ancient one through c was a great deal faster, but that should be much more reliable if it actually covers all the versions and platforms.

Sent from my iPhone

On May 6, 2021, at 11:22 AM, Alec Scott ***@***.***> wrote:

﻿

He

[2021-05-06 19:21] payerle opened #23479 "Installation issue: geos +python ^python@3 config issues finding python"
When installing geos with python3 bindings, it fails in configuration stage complaining about being unable to find the python libraries.  This appears to be due to a few python2-isms in the geos CMake files.

I created a patch file to make the CMake stuff in geos more python3 friendly (the one reported below plus a couple related spots), and when I went to open an issue on the geos upstream site d

[2021-05-06 19:21] nebulism commented on #23456
Thanks all going to try this now!

[2021-05-06 19:44] nebulism commented on #23456
Trying Clingo now, using the old concretizer seemed to cause issues even when using ^glib@2.56.4

[2021-05-06 20:03] EthanS94 commented on #18197
Fixed by MR above

[2021-05-06 20:03] #18197 closed, assigned to nobody

[2021-05-06 21:29] sethrj commented on #23456
I'm curious what it concretizes to when it's done 🤔 Probably some older versions of multiple software components. You're the third person I know of who's had issues with qt+webkit so maybe someone has a patch for getting it to work with python 3? Is QtWebKit deprecated?

[2021-05-07 01:40] adamjstewart commented on #23479
Thanks for the patch! Like you noticed, Python has been unsupported since GEOS 3, and apparently no longer exists at all. I've never used the Python bindings myself, but if you think it will be helpful to others you can submit a PR with your patch.

[2021-05-07 03:01] ikitayama opened #23486 "Installation issue: libbsd with Intel oneAPI compiler `intel@2021.2.0`"
### Steps to reproduce the issue

[code]

Which tries to apply a patch, but it does not succeed.

### Information on your system

### Additional information

* [spack-build-out.txt]()
* [spack-build-env.txt]()

### General information

- [ ] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [x] I have run `spack maintainers <name-of-the-package>` and @mentioned an

[2021-05-07 03:01] ikitayama commented on #23486
No one is assigned to this package.

[2021-05-07 06:57] zerothi opened #23490 "spec negation operator !"
Enable the use of a negation operator in spec dependencies.

### Rationale

It may be viable to never allow a package to use a specific library version for various reasons. Sometimes libraries gets released which then turns out to break API/ABI and a new release is made soon after. But this is not always apparent to end-users or package maintainers.

### Description

From the [spec dependency list

[2021-05-07 07:29] ikitayama commented on #23486
@pramodk this is a required package by NEURON and building it with Intel compiler fails.

[2021-05-07 07:29] ikitayama commented on #23486
To be specific, Intel oneAPI compilers.

[2021-05-07 07:58] alalazo commented on #22351
I am having a look at this issue. I'll solve it as suggested in https://github.com/spack/spack/issues/22351#issuecomment-802507256 and give the highest priority to the minimization of deprecated versions. This would be, in my opinion, a sensible behavior since usually versions are deprecated for good reasons (security, serious bugs, etc.).

Nonetheless, I think our ASP-based solver should select i

[2021-05-07 11:28] alalazo commented on #23490
See #23491 I think it solves the issue by marking `1.3.2` as deprecated in the corresponding `package.py`. Otherwise you already point out in the description that this is permitted by the current syntax.

[2021-05-07 11:38] zerothi commented on #23490
I don't think that is entirely the same usecase. Marking stuff as deprecated requires the `package.py` to be correctly formatted.

It would still be nice to selectively decide version on the command line. E.g. also if one has a suspicion, but no confirmation, about an incompatible version.

While the current syntax could be used, I would argue that the `!version` syntax is much cleaner and shorter

[2021-05-07 12:35] alalazo commented on #23439
@pelahi Thanks for the extensive report. Can you post a single entry of `/proc/cpuinfo` in the case that fails and one in the case where it succeeds?

[2021-05-07 13:27] sethrj commented on #23453
This looks like the apple clang compiler being more particular than whatever the Mesa developers use. Can you try building the latest version of Mesa (`spack install mesa@21.0.3`) and see if they patched it upstream?

[2021-05-07 13:28] sethrj commented on #23296
Closed by #23360

[2021-05-07 13:34] alalazo commented on #22031
Closing this issue, but feel free to reopen if I missed anything.

[2021-05-07 13:34] #22031 closed, assigned to nobody

[2021-05-07 14:10] eschnett commented on #23296
The GCC build still fails if you enable bootstrapping. The GCC developers recommend always using bootstrapping.

I also find that older GCC versions (that used to work) now also fail with bootstrapping. The difference is that I've switched to macOS 11.3, which uses a newer version of Apple Clang (12.0.5). Can you re-open this issue?

[2021-05-07 15:22] skylerpaulus commented on #21396
docbook-xsl seems to be fixed when it comes to this error but docbook-xml is still giving the error. @adamjstewart

[2021-05-07 15:44] eschnett commented on #23296
I hear this is an XCode 12.5 issue; see https://gcc.gnu.org/bugzilla/show_bug.cgi?id=100340 .

[2021-05-07 15:48] nebulism commented on #23456
I'm beginning to wonder the same thing , and whether QtWebKit is worth the trouble.  I installed Clingo and it did concretize to the point of building Qt.  So that was a success.  The build itself failed though.  If I get some time next week, I'll dig into the failure.  Thank you for all the assistance!

[2021-05-07 16:58] jefflarkin commented on #22834
I'm attempting to setup a multi-user machine on which $HOME is small and NFS-mounted, so preventing spack from installing anything, particularly this bootstrap software that is used by everyone, is highly desirable.

[2021-05-07 17:07] #23333 closed, assigned to scheibelp

[2021-05-07 17:27] #23479 closed, assigned to nobody

[2021-05-07 17:45] alalazo commented on #22834
@jefflarkin There's no way to do that from config right now, though we were thinking of making the location of the bootstrap store configurable or even allow to disable bootstrapping altogether. In any case, if you can provide on your multiuser machine an interpreter for Spack with `clingo` already importable and you set `SPACK_PYTHON` to that interpreter for every user you will not trigger bootst

[2021-05-07 19:50] ghost opened #23509 "Installation issue: py-matplotlib"
### Steps to reproduce the issue

[code]

### Information on your system

This fails to build on RHEL7, Ubuntu 18, and Ubuntu 20 with Clang > 10
[code]

### Additional information
@adamjstewart
[This forum post](https://github.com/termux/termux-packages/issues/5787) suggested turning off link-time optimization when using Clang.  I created a branch with a possible fix [here](https://github.com/dsje

[2021-05-07 20:24] adamjstewart commented on #23509
Thanks for the bug report! I only use Apple Clang, so I can't test this, but if you want to open a PR I can take a look!

[2021-05-07 22:48] ikitayama commented on #23486
I wasn't `load`ing `intel-oneapi-compilers` priro to building `libbsd` Closing this.

[2021-05-07 22:49] mthielma commented on #23453
Running `spack install mesa@21.0.3` already fails a step before due to some issue with gallium (see also attached spack-build-out.txt).

==> mesa: Executing phase: 'meson'
==> Error: ProcessError: Command exited with status 1:
    'meson' '/var/folders/vd/jjpt329928913mx_gwk0hl0m0000gn/T/mthiel/spack-stage/spack-stage-mesa-21.0.3-bgbejhdk4ovdceg53dalijf7kyvoekga/spack-src' '--prefix=/Users/mthiel/

[2021-05-07 23:00] pramodk commented on #23486
this is indirect dependency of some other package? NEURON doesn't depend on this directly.

[2021-05-07 23:24] ikitayama commented on #23486
Sorry I wasn’t loading oneAPI compiler that’s why I was getting an error.

On Sat, May 8, 2021 at 8:00 Pramod Kumbhar ***@***.***> wrote:

[2021-05-07 23:56] #23509 closed, assigned to nobody

[2021-05-08 00:03] ikitayama commented on #23486
Well, I still get this:

[code]

@pramodk would you mind checking the build with the Intel oneAPI compiler? Thanks!

[2021-05-08 00:04] ikitayama commented on #23486
The build initiated as follows:
[code]

[2021-05-08 02:47] nebulism commented on #23456
@sethrj  , @adamjstewart  I am going to close this topic as QWebKit is deprecated in light of there being QWebEngine.  We may want to update the spack entry variant to remove webkit entirely?

[2021-05-08 02:47] #23456 closed, assigned to nobody

[2021-05-08 04:14] ikitayama opened #23523 "Installation issue: neuron: can't fetch 8.0 release"
### Steps to reproduce the issue

[code]

### General information

- [ ] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [x] I have run `spack maintainers <name-of-the-package>` and @mentioned any maintainers
- [ ] I have uploaded the build log and environment files
- [x] I have searched the issues of this repo and believe this is not a duplicate

[2021-05-08 04:14] ikitayama commented on #23523
@pramodk et al., would you upload the 8.0 tarball?

[2021-05-08 09:08] pramodk commented on #23523
@ikitayama : it's not tarball issue but 8.0 version is not added to the spack yet. Tarballs are already uploaded (e.g. via GitHub releases). With 8.0 release, spack recipe needs quite some changes. Will try to that in coming week.

[2021-05-08 09:18] ikitayama commented on #23523
@pramodk I'll leave it to you guys then!

[2021-05-08 14:01] robertodr opened #23530 "Installation issue: hipsycl@0.9.1 can't find boost libraries"
The package installs fine, however compiling a SYCL example fails with:
[code]

@nazavode

### Steps to reproduce the issue

[code]

### Information on your system

[code]

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have run `spack maintainers <name-of-the-package>` and @mentioned any maintainers
- [ ] I have uploaded th

[2021-05-08 21:17] alalazo commented on #5269
Discussion revamped in #23474, where having 2 boolean variants is proposed `+shared+static` for a few libraries.

[2021-05-09 02:04] germasch commented on #23188
Well, I guess it's not worth keeping it open. The problem at hand is resolved (well, maybe worked-around).

[2021-05-09 02:04] #23188 closed, assigned to nobody

[2021-05-09 13:16] AsWali opened #23533 "Survey on globally distributed software engineering f"
Hey there.

We are doing a survey on globally distributed software engineering focused on open source projects. If you have some spare time we would really appreciate your response. The form takes about 10 minutes. Thanks in advance!
Survey can be found [here](https://forms.gle/N1TnifRuCYHrCY9JA)

[2021-05-09 13:41] #23533 closed, assigned to nobody

[2021-05-09 22:44] andreipoe opened #23534 "Installation issue: gettext (needed for python) fails on aarch64"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.16.1
* **Python:** 3.6.8
* **Platform:** cray-rhel8-aarch64
* **Concretizer:** original

### Additional information

* [spack-build-env.txt](https://github.com/spack/spack/files/6448549/spack-build-env.txt)
* [spack-build-out.txt](https://github.com/spack/spack/files/6448550/spack-build-out.txt)

The error mes

[2021-05-09 22:45] adamjstewart commented on #23534
@alalazo this looks like an `AutotoolsPackage` bug.

[2021-05-10 00:34] adamjstewart opened #23535 "Docs won't build locally, spack.ci import error"
Tried building the docs locally for the first time in a long time and ran into an error.

### Steps to reproduce the issue

[code]

### Error Message

[code]

### Information on your system

* **Spack:** 0.16.1-2558-ecb7d6dca1
* **Python:** 3.8.7
* **Platform:** darwin-catalina-ivybridge
* **Concretizer:** clingo

### Additional information

- [x] I have run `spack debug report` and reported the v

[2021-05-10 01:54] #22892 closed, assigned to nobody

[2021-05-10 02:16] sethrj commented on #23453
Yeah it looks like we'll have to wait for the maintainers @chuckatkins @v-dobrev to weigh in -- I'm not very familiar with mesa nor meson; I just picked up on this issue for the mac compiler connection.

[2021-05-10 02:59] zhumaomaoya opened #23537 "ruby-terminal-table: LoadError (cannot load such file -- terminal-table)"
I meet a problem about error:ruby-terminal-table: LoadError (cannot load such file -- terminal-table).
### Steps to reproduce the issue

[code]
I have loaded the software "ruby-terminal-table" with the command "spack load ruby-terminal-table", but I use ruby "require'terminal-table" to import this software, and it prompts a path loading error. Can you give us some hints about the solution to the p

[2021-05-10 08:41] Bitllion opened #23538 "I can't create a build_cache"
[code]

[2021-05-10 09:01] andreipoe opened #23539 "Spack tries to use non-existent `PrgEnv-gnu` for manually installed GCC on HPE Apollo/Cray CS"
On HPE Apollo, and on the older Cray CS, a `PrgEnv` module is only available for the Cray Compiler. If additional compilers are installed manually, Spack expected them to be used using their own PrgEnv and the Cray wrappers, but these do not exist

### Steps to reproduce the issue

With a new install of Spack on an HPE Apollo 80, CCE and GCC are detected correctly:

[code]

... but the commands pi

[2021-05-10 14:25] pramodk commented on #23486
Ok. Thanks for changing the title as the issue is not coming from neuron.

[2021-05-10 21:54] tldahlgren commented on #23436
FWIW. I have not had any problems build `zfp` in an environment on LC's Quartz BUT I've been using the new (`clingo`) concretizer.

[2021-05-10 22:00] lindstro commented on #23436
@tldahlgren I've not had any issues, either, but evidently others have.  Can you think of a reason not to merge this PR?  Is there a downside to adding the Python dependency?

[2021-05-10 22:16] lpoirel opened #23550 "Installation issue: petsc+mumps [^mumps+openmp]"
[code]
fails since PRs https://github.com/spack/spack/pull/23161 by @RemiLacroix-IDRIS (add `+openmp` version to mumps)  and https://github.com/spack/spack/pull/23143 by me (set `+openmp` as default for mumps): a test program for mumps fails for not finding openmp in petsc's configure.

https://www.mcs.anl.gov/petsc/petsc-current/docs/manualpages/Mat/MATSOLVERMUMPS.html reads

@balay @jedbrown @Ba

[2021-05-10 23:26] tgamblin commented on #7117
This is resolved by a lot of work by @zackgalbreath, @scottwittenburg, and @opadron over in https://github.com/spack/spack-infrastructure

[2021-05-10 23:32] tldahlgren commented on #23436
I don't see why it can't be merged.  I don't think there's a down side but @adamjstewart is our Python expert. 😀

[2021-05-10 23:35] #23436 closed, assigned to nobody

[2021-05-11 00:27] omor1 commented on #23166
Bringing @becker33 into this since he's been dealing with some similar issues—I think in particular #22991 might help? I recall that the `l, i, b, i, c, o, n, or v` issue was solved for me with that.

Regarding the `InconsistentSpecError` I've actually debugged that separately, since I'd been encountering it as well—it's due to a frankly terrible implementation of `sorted_deps` (used in `__str__`)

[2021-05-11 08:42] lpoirel opened #23554 "spack view copy should use patchelf instead of search and replace"
Currently, `spack view copy` does a low-level search the source prefix path in the binaries and replace it with the destination prefix path.

It would be better to do this using `patchelf`, either to do the same thing, or even to strip rpath from the binary.

### Rationale

When the destination prefix is longer than the source prefix, the search/replace in the binary strategy fails.

In my case, I

[2021-05-11 08:46] lpoirel commented on #23554
see https://github.com/spack/spack/blob/95ad5b882c990971e74d04261a665ba680f7c4be/lib/spack/spack/relocate.py#L496-L498

[2021-05-11 10:06] cpraveen commented on #21303
On a mac, with mixed toolchain, clang + gfortran, the flag does not get added. I manually added it and it works ok to compile mumps with gfortran@11. Would be nice to fix this for mixed compiler cases. Thanks. @tepperly

[2021-05-11 11:02] tomdeakin opened #23556 "Question: Variant selecting different package parent types"
I've got a simple code implemented in lots of different programming models. We've got a CMake build system where you say:
[code]

In Spack, I can create a package that inherits from `CMakePackage` and include a simple variant:
[code]
and then pass the selection to CMake:
[code]

It might be convenient to inherit from the different package types depending on the variant value. For instance, if I ch

[2021-05-11 16:25] arekfu opened #23562 "Installation issue: python"
### Steps to reproduce the issue

[code]

### Information on your system

[code]

No relevant configuration details (reproducible on a clean `spack` clone).

### Additional information

The `install` phase is stuck. `top` shows a few `python` processes running at 100%. Attaching with `gdb` to one of these processes shows that the process is stuck in an infinite loop in `_Py_HashDouble()` around [h

[2021-05-11 17:38] adamjstewart commented on #23562
How long did you let it run for? I don't see anything obviously suspicious in the log. Are you able to build Python without Spack?

[2021-05-11 18:20] skylerpaulus opened #23568 "Installation issue: maker@2.31.10"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.16.0-2473-7317b04
* **Python:** 3.6.8
* **Platform:** linux-centos7-broadwell
* **Concretizer:** original

### Additional information

No build files available

### General information

- [x] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [ ] I have run `spack maintainers <

[2021-05-11 18:38] omor1 opened #23569 "spack dependents --installed only shows one installed variant of dependent specs"
I have multiple variants of `dplasma` installed that depend on `amdlibflame/nyqwya2`. Running `spack dependents --installed amdlibflame/nyqwya2` only shows one of those installed specs.

### Steps to reproduce the issue

[code]

Additionally, `spack find ^amdlibflame/nyqwya2` doesn't find _any_ packages that depend on that installation of `amdlibflame`. This possibly has something to do with the d

[2021-05-11 18:46] heaton-dev opened #23570 "Installation issue: cp2k cxxflags JSONDecodeError"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.16.1-2582-fee5cf4e49
* **Python:** 3.6.10
* **Platform:** cray-sles15-thunderx2
* **Concretizer:** original

### Additional information

[spack-build-env.txt](https://github.com/spack/spack/files/6461328/spack-build-env.txt)
[spack-build-out.txt](https://github.com/spack/spack/files/6461329/spack-build-out.txt

[2021-05-11 19:22] dev-zero commented on #23570
`@7:` is a version range to apply the code which follows for v7 and newer of CP2K.
But this is not really CP2K related, rather an error which occurs when parsing the output of a `module` command which is supposed to be JSON. Can you verify that the `module` you specified for the used compiler (check in `~/.spack/cray/compilers.yaml`) actually returns something valid for `module show ...`?
Btw, whe

[2021-05-11 20:02] arekfu commented on #23562
I let it run for more than 3 hours. I don't think it can escape that while loop if `m=inf`.

Also, if I download Python 3.8.10 from the web, I cannot build it with the OneAPI compiler installed by Spack. I have tried to install the OneAPI compiler on my own but I am having problems.

[2021-05-11 20:11] arekfu commented on #23562
I found that passing `CFLAGS="-fp-model=strict"` to `configure` fixes the problem. This sounds like another overzealous non-IEEE754 Intel optimization...

[2021-05-11 20:37] adamjstewart commented on #23562
Want to submit a PR to add that flag to the Spack package? If not I can get to it sometime next week.

[2021-05-11 21:30] arekfu commented on #23562
Incoming!

[2021-05-11 21:30] #23368 closed, assigned to scheibelp

[2021-05-11 22:08] omor1 commented on #23569
@tgamblin asked me to upload my installation [db tarball](https://github.com/spack/spack/files/6462236/spack-db.private_tmp.5e8b8b883c.2021-05-11-150056.tar.gz).

[2021-05-12 07:23] jacobmerson commented on #20553
Not positive if I should start a new bug report for the following, but it is related to this issue...

`spack dev-build --test root` also does not pull in the test dependencies.

[2021-05-12 07:25] jacobmerson opened #23586 "spack spec/solve include option for --test dependencies"
When using the `spack spec` or `spack solve` commands there should be a way to see the test dependencies that are included with `spack install --test  root ...`

### Rationale
It is often helpful to visualize what packages will be built if they are already installed, etc to make sure the packages.yaml file is set up right, or to further constrain things to avoid rebuilding already installed packag

[2021-05-12 07:48] pelahi commented on #23439
Hi @alalazo , the missing entry was `microcode`. Though I am not certain that in itself will indicate whether archspec will work. Some OS's do not have this entry but worked. We have tested a few other kernels and it is not obvious what kernels will work but we have had 100% success with kernels of >=5.3.x. For older kernels running on Milan CPUs where spack does not work, it is simply a matter of

[2021-05-12 14:17] #22351 closed, assigned to alalazo

[2021-05-12 14:40] marvinbernhardt commented on #23166
So you mean this one could be implemented better?
https://github.com/spack/spack/blob/7f91c1a5109e4c7f92c22594d0bcfc1b94bf230b/lib/spack/spack/spec.py#L3576-L3579

[2021-05-12 15:06] alalazo commented on #23166
@marvinbernhardt Can you create a smaller reproducer that can be used to debug on another platform?

[2021-05-12 15:21] marvinbernhardt commented on #23166
I would like to, but I don't know how. Would that be a dockerfile or something?

[2021-05-12 15:25] alalazo commented on #23166
Let me check if I can quickly refactor `Spec.__str__` first to address https://github.com/spack/spack/issues/23166#issuecomment-839828114

[2021-05-12 16:12] alalazo commented on #23166
Tests are still running, but can you check if you still get an error with https://github.com/spack/spack/pull/23593 ?

[2021-05-12 16:23] marvinbernhardt commented on #23166
This works!!
<details>
  <summary>console output</summary>

[code]
</details>

[2021-05-12 16:25] alalazo commented on #23166
Good to know. Then, at least for the ASP-based solver, I just need to fix tests in #23593 :slightly_smiling_face: It seems the new implementation adds a few whitespaces sometimes.

[2021-05-12 16:28] marvinbernhardt commented on #23166
When I try to install I get a different error though
[code]
Probably not related, but I thought I mention it here.

[2021-05-12 16:36] alalazo commented on #23166
This seems very similar to https://github.com/spack/spack/issues/19782

[2021-05-12 17:56] sleak-lbl opened #23596 "system configuration scope that does not require root access"
Allow a per-system configuration scope in a location that doesn't require root access

### Rationale

At our site the third-party-software support staff do not have root access to systems and therefore cannot easily write to `/etc`.

We prefer to use a single spack instance (on the shared filesystem) for all users and systems, rather than maintaining multiple spack instances. However, different sy

[2021-05-12 18:27] adrienbernede opened #23598 "Environments: exact match required in matrix exclude or will exclude all"
Spack requires an exact match in `matrix` `exclude` or it will exclude all spec for the given package.

### Steps to reproduce the issue

environment:
[code]

Here the concretization will show nothing... all the specs for `ncurses` are excluded even though they use a different compiler.

To fix this, it is enough to exclude the exact match `ncurses@6.2 ^pkg-config@0.28 %clang@10.0.0`.

### Informa

[2021-05-12 18:39] janciesko opened #23599 "Building Kokkos on Frontier-like systems fails at dependency Z3"
Kokkos installation with ```spack install --verbose kokkos@develop rocm=True std=14 amdgpu_target=gfx908``` fails on Tulip,Lyra and Redwood with
```  >> 1132    ld.lld: error: undefined symbol: void nla::intervals::set_var_interval<(dep_intervals::with_deps_t)1>(unsigned int, dep_intervals::im_config::interval&) ```
in upstream dependency ```Z3```.
Dependencies visibile to me: ```Kokkos -> llvm-am

[2021-05-12 20:35] omor1 commented on #23166
My experience is that these two problems are interrelated. Depending on what order things happen in (due to context e.g. inside or outside an environment) one or the other might be encountered first. Both are issue due to a spec with the same name appearing twice in the DAG: the `__str__` issue is when this "invalid DAG" is attempted to be formatted, usually in the message of a prior exception (th

[2021-05-13 09:07] simon28li opened #23614 "Execute sentencepiece.py to report a error `cannot allocate memory in static TLS block`"
### Steps to reproduce the issue

[code]

### Error Message

[code]

### Information on your system

[code]

### Additional information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have searched the issues of this repo and believe this is not a duplicate
- [ ] I have run the failing commands in debug mode and reported the output

@adamjstewart Ca

[2021-05-13 09:52] simon28li commented on #23614
In addition, I would not have made this mistake if I removed the gperftools, that Sentencepiece depended on.

[2021-05-13 10:01] alalazo commented on #23439
I don't see any `microcode` listed in the JSON file. Am I missing something?

[2021-05-13 11:04] #23562 closed, assigned to nobody

[2021-05-13 11:16] alalazo commented on #23569
Duplicate of #11983

[2021-05-13 11:16] alalazo commented on #23569
I think this will be fixed by #21683 once merged, can you confim?

[2021-05-13 11:57] Tom-python0121 opened #23615 "collect2: fatal error: cannot find 'ld'"
When I install rclone on the SUSE system, the following problem occurs.
### Steps to reproduce the issue

[code]
Can you help me see if there's any solution?
### Information on your system
localhost:~ # spack debug report
* **Spack:** 0.16.1
* **Python:** 3.6.5
* **Platform:** linux-sles15-aarch64
* **Concretizer:** original

### Additional information

* [spack-build-out.txt]()
* [spack-build-env

[2021-05-13 12:06] heaton-dev commented on #23570
I'll try the Arm libraries once I get this version to build 🙂

Module is fine:

[code]

Seems I have two gcc@9.3.0 entries in `~/.spack/cray/compilers.yaml`, I even regenerated it by deleting the file and running `spack compiler find`.

excerpts:
[code]

[2021-05-13 12:07] alalazo commented on #23538
Did you try:
[code]
?

[2021-05-13 13:01] sethrj opened #23616 "Document vendored dependencies in packages"
Consider adding a `vendored('blas@1.234', when='+builtin_blas')` directive to document that a package has a vendored dependency (one that's included as part of the source tree or downloaded on-the-fly, and built into the resulting code), possibly printing a warning if it concretizes in the same spec as the non-vendored version or a vendored version from another package.

### Rationale

In multiphy

[2021-05-13 15:14] eugeneswalker opened #23617 "variorum@0.4 build fails: SetupJansson.cmake: need explicit JANSSON_DIR"
`variorum@0.4` build fails using:
* `spack@develop` (98cf0f5e0719353b3326b73581d5a74c8363009e from `Thu May 13 08:48:04 2021 -0600`)
* Ubuntu 20.04 - GCC 9.3.0
* Ubuntu 18.04 - GCC 7.5.0
* RHEL 8 - GCC 8.3.1
* RHEL 7 - GCC 9.3.0
* x86_64 and ppc64le

Using container: `ecpe4s/ubuntu20.04-runner-x86_64:2021-05-10`
Concrete spec: [variorum-imktxr.spec.yaml.txt](https://github.com/spack/spack/files/64

[2021-05-13 17:40] vsoch commented on #11636
I just reproduced this in development (spack develop branch on ubuntu 20.04) trying to create an environment with a few scientific libraries, and (even with --no-checksum) it comes down to:

[code]
This issue is almost 2 years old - has anyone taken a look?

[2021-05-13 17:50] vsoch commented on #11636
I tried moving up the config command to not use a checksum to earlier in install(), because the environment interaction was previously before it (and thus not influencing it), this part:

[code]

and the result is that it moves forward without doing the check, but then fails because it doesn't have a url for the version:

[code]

[2021-05-13 20:41] adamjstewart commented on #23614
I'm unable to reproduce this on macOS so I'm not sure how much help I can be. You might want to contact the sentencepiece developers.

[2021-05-13 20:59] scheibelp commented on #11636
I assigned myself but never got to looking at it. Are you able to look into it? I will reassign this to you for now (but feel free to bounce it back)

[2021-05-13 21:00] vsoch commented on #11636
I tried a few things but I don't have a solution to offer. I'm not sure where the 3.8 is coming from (and why it can't resolve to 3.8.8). Do you have ideas of where to look?

[2021-05-13 21:18] scheibelp commented on #11636
Can you mention the Spack command you were running and your configuration (particularly `packages.yaml`, if it deviates from the defaults).

I grepped for explicit dependencies on `python@3.8` (which can result in this problem whereas `python@3.8:` should work) in our packages repository and didn't see any examples.

Also to make sure, this issue as originally presented concerns an attempt to down

[2021-05-13 21:33] vsoch commented on #11636
I'm running this via a pipe from another piece of software I'm developing but I'll do my best! So I'm trying to create and then eventually activate / use a spack environment to go alongside a scientific workflow.

So I start with the spack.yaml, which has what I need for a particular step:

[code]

And then I create the environment (this works okay)
[code]
So then to concretize and install I was r

[2021-05-13 21:52] scheibelp commented on #11636
I'd like to see the concretized specs (to make sure that the concretizer didn't decide on this) but since the specs aren't installed, that will take a bit of work: can you try the following commands (in part using `spack-python`):
[code]

[2021-05-13 22:39] vsoch commented on #11636
ah this is embarrassing! So I went back trying to figure out why I didn't see python@3.8 anywhere, and turns out I was looking at the wrong spack.yaml. The 3.8 was hardcoded by yours truly:
[code]
and the reason is because I was copying a conda environment for snakemake verbatim, not thinking that spack doesn't have that version. When I updated it:
[code]
the error of course went away! Was the iss

[2021-05-13 22:51] scheibelp commented on #11636
Thanks for the extra info!

Yes. We could definitely make this clearer. There is some complexity though in that some packages have mixed `x.y` and `x.y.z` versions, so there are cases where the user would ask for `3.8` and mean it (but not this one).

That being said, I think the issue as originally reported (unable to skip checksums in an environment) still exists, so I'm going to collapse these

[2021-05-14 01:01] pelahi commented on #23439
Ah, I understand the confusion. There was no missing entry in the json file. If there is an entry in the json file for zen3, then on Milan systems running older kernels (such as that of CentOS 8.3), spack cannot detect the platform. When I inspected the `/proc/cpuinfo` information produced by the kernel, this file did not contain a `microcode` entry. This entry is there when running the same OS on

[2021-05-14 02:19] pelahi commented on #23439
Sample `/proc/cpuinfo` on several different systems.
[code]

On CentOS 8.3 running on a rome machine

[code]

Same but on Milan
[code]

[2021-05-14 04:51] #23166 closed, assigned to alalazo

[2021-05-14 07:13] ikitayama commented on #19871
@alalazo , I'd like to investigate this issue with your help; currently, I have access to the local BeeGFS system.

[2021-05-14 17:52] payerle opened #23640 "virtual packages seem to be ignoring namespaces"
I created a spack repo 'hacks' with higher precedence than builtin, and when I place new versions of packages in builtin into hacks, I am not always having the 'hacks' version overriding the 'builtin' version.  This seems to be happening only with virtual packages.

### Steps to reproduce the issue

1. Clone a clean spack from git
[code]
2. Copy the etc/spack/default/*.yaml config files to etc/spa

[2021-05-14 19:02] payerle commented on #18535
I also encountered this issue, and the fixes suggesgted by @yellowhat appear to resolve
I have submitted a pull request with those suggestions

@matthiasdiener

[2021-05-14 20:08] eschnett opened #23642 "Cannot declare view in `spack.yaml` environment any more"
### Steps to reproduce the issue

I have a `spack.yaml` file that declares an environment. This file also declares a view. This used to work fine, but gives an error today after a `git pull`.

[code]

### Error Message

The concretization itself seems to work fine. A `spack.lock` file is created. Then there is this error:

[code]

### Information on your system

[code]

### Additional information

[2021-05-14 20:13] haampie commented on #23642
Yeah, this was a bit bumpy, the workaround is to just delete your old view directory

[2021-05-14 20:55] eschnett opened #23643 "Installation issue: adios2"
### Steps to reproduce the issue

[code]

### Information on your system

[code]

### Additional information

* [spack-build-out.txt](https://github.com/spack/spack/files/6481152/spack-build-out.txt)
* [spack-build-env.txt](https://github.com/spack/spack/files/6481155/spack-build-env.txt)

@ax3l  @chuckatkins  @williamfgc

### General information

- [x] I have run `spack debug report` and reported

[2021-05-14 21:02] tgamblin commented on #23642
@haampie do you know what caused it?

[2021-05-14 21:11] ikitayama opened #23644 "Set `llvm` 's CMake option, -DCMAKE_BUILD_TYPE to Release"
LLVM, if not set, defaults to Debug build which is costly in terms of build time, can we set it to Release in package.py?

[2021-05-14 21:13] ikitayama commented on #23644
@naromero77  @trws thoughts?

[2021-05-14 21:19] trws commented on #23644
That's already the default.

https://github.com/spack/spack/blob/fc392d2f56beae448dd5d8888dbb2b8cde6d9e64/var/spack/repos/builtin/packages/llvm/package.py#L132

[2021-05-14 21:24] ikitayama commented on #23644
Then, I don't understand as to why `llvm` build is extremely slow if initiated by Spack.

[2021-05-14 21:25] ikitayama commented on #23644
On Jülich's GPFS it takes couple of hours to finish, wit my choices of variants.

[2021-05-14 21:26] ikitayama commented on #23644
🤔

[2021-05-14 21:26] trws commented on #23644
It could be that somehow it's getting overridden, or some other variant is causing an issue.  What's the full set of selected variants, or the concrete spec?

[2021-05-14 21:29] ikitayama commented on #23644
[code]

[2021-05-14 21:31] trws commented on #23644
Ok, that's a reasonable set.  It's still pretty expensive to build that way, if you want a quick build you probably want shared_libs on, but it seems vaguely reasonable.  I'm not sure why that would be hours, unless that includes building all the dependencies.

[2021-05-14 21:37] ikitayama commented on #23644
Actually, my build is initiated as:

`$ spack install llvm@main+omp_debug+cuda cuda_arch=80`

for my OpenMP offloading app development.

[2021-05-14 21:47] matthiasdiener commented on #18535
Thank you for the report and the suggested fix!
I've implemented a potential workaround in #23645.

I'm still curious why `setup_dependent_build_environment` would be called for the charmpp build itself.

[2021-05-14 21:48] ikitayama commented on #23644
@trws , what's your typical build time with your choices of variants? less than an hour?

[2021-05-14 21:49] trws commented on #23644
It depends completely on where I build, what FS I use, and how many of the dependencies I need to build.  It's less than an hour to just build llvm, but more if it ends up building all of python and cmake and so-forth, especially on a network filesystem.

[2021-05-14 21:49] ikitayama commented on #23644
If I build LLVM manually, with CMake + Make or + Ninja, that's the time.

[2021-05-14 21:50] ikitayama commented on #23644
Alright, build is default to Release in Spack, I will close this Issue. Thanks!

[2021-05-14 21:50] #23644 closed, assigned to nobody

[2021-05-14 23:32] smattis-nnl commented on #17723
I am also having this same issue with the current develop version of spack. I have a read-only upstream, and when I try to build anything I get  an error about  not having write permissions for the `.spack-db' file in the upstream spack distribution.

[2021-05-14 23:57] adrienbernede opened #23651 "Installation issue: care"
`care` fails to concretize because of inconsistencies in BLT requirements.

### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.16.1-2655-fb9cd84415
* **Python:** 3.7.2
* **Platform:** linux-rhel7-broadwell
* **Concretizer:** original

### Additional information

### General information

- [x] I have run `spack debug report` and reported the version of Spack/Py

[2021-05-15 00:45] ax3l commented on #23643
Might be a good upstream report, cc @pnorbert
[code]
Upstream: https://github.com/ornladios/ADIOS2 -> posted as https://github.com/ornladios/ADIOS2/issues/2700

AFAIK, `endian_reverse` is one of the less-intense tested features.

[2021-05-15 01:23] ax3l commented on #23643
Patch submitted to https://github.com/ornladios/ADIOS2/pull/2701

[2021-05-15 11:46] ikitayama opened #23654 "Installation issue: `llvm` main branch fails to build via Spack"
### Steps to reproduce the issue

[code]

### Information on your system

### Additional information

* [spack-build-out.txt]()
* [spack-build-env.txt]()

### General information

- [x] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [x] I have run `spack maintainers <name-of-the-package>` and @mentioned any maintainers
- [ ] I have uploaded the build log and en

[2021-05-15 11:46] ikitayama commented on #23654
[code]

[2021-05-15 11:47] ikitayama commented on #23654
@naromero77  @trws, main is failing at this moment.

[2021-05-15 11:48] ikitayama commented on #23654
[Uploading spack-build-out.txt…]()

[2021-05-15 11:49] ikitayama commented on #23654
[spack-build-out.txt](https://github.com/spack/spack/files/6486670/spack-build-out.txt)

[2021-05-15 17:04] eschnett commented on #23642
I think I found the cause: Spack switched view directories from being directories to being symlinks to directories. The new code tries to change the symlink, but doesn't handle the case when an old-style directory is still there.

[2021-05-15 20:31] trivialfis commented on #5764
Hi, would it be possible to have sandboxed environment command too?  I'm looking for something similar to guix's `environment --container` command.

[2021-05-16 03:54] eugeneswalker commented on #23473
Just tried. Errors:

[code]

[2021-05-16 13:49] sethrj opened #23663 "AttributeError: 'CommentedSeq' object has no attribute 'get'"
I'm trying to install a new package after pulling spack to a recent version; and the install seems to be failing due to an error while building modulefiles deep in the spack config settings.

### Error Message

[code]

### Information on your system

* **Spack:** 0.16.1-2661-2202ce27fa
* **Python:** 3.8.5
* **Platform:** darwin-bigsur-skylake
* **Concretizer:** clingo

### Additional information

[2021-05-16 14:19] sethrj commented on #23663
@becker33 I think this may result from #22588 ? It seems that `spack module lmod refresh` works fine for my other modules, removing all the comments from the `modules` files has no effect, but adding some debug code to `config.get` produces:
[code]
so I guess it's expecting a dict but getting a list?

[2021-05-16 14:21] sethrj commented on #23663
Indeed, reverting to fc392d2f56 fixes the error...

[2021-05-16 14:45] eugeneswalker opened #23665 "environment w/ view: spack env activate: PATH not set right on RHEL8"
Here is a case where `spack env activate` does not set `PATH` (and other environment variables) on RHEL 8

Using:
* `spack@develop` (379a1fd23bf464717b93a09fde68cf6469c2cbe7 from `Sat May 15 13:48:00 2021 -0700`)
* RHEL8 via container image `ecpe4s/rhel8-runner-x86_64:2021-05-16`

spack.yaml:
[code]

[code]

This exact same environment can be activated on RHEL 7, Ubuntu 18.04, and Ubuntu 20.04 and

[2021-05-16 16:50] marvinbernhardt commented on #19782
Is this a PR somewhere? This fixes the problem for me and probably shoud be adapted, no?

EDIT: sorry, missed #21262

[2021-05-16 18:09] eschnett opened #23667 "Installation issue: hpctoolkit"
### Steps to reproduce the issue

[code]

I receive errors of the kind
[code]

Building with `gcc @10.3.0 target=skylake_avx512` works fine.

### Information on your system

[code]

### Additional information

* [spack-build-out.txt](https://github.com/spack/spack/files/6489735/spack-build-out.txt)
* [spack-build-env.txt](https://github.com/spack/spack/files/6489736/spack-build-env.txt)

@mwkrente

[2021-05-16 20:46] omsai opened #23668 "Installation issue: libint"
`libint` should have a build-time dependency on `python@2.7,3:`.

### Steps to reproduce the issue

[code]

### Information on your system

(I don't have the output of `spack debug report` because I'm reporting this bug on behalf of another brand new user from the spack mailing list: https://groups.google.com/g/spack/c/nWWYLB3KhGI)

### Additional information

Here is the shell session output the

[2021-05-16 23:33] mwkrentel commented on #23667
@eschnett This kind of error usually is the result of a newer gcc/g++ becoming
more strict on some type of usage.  However, in this case, the error is,
"expected unqualified-id before '(' token" and the offending line is:

[code]

I guess I don't see what the problem is here.

Anyway, I'll compile up 11.x and see if I get the same error.

Thanks for reporting this.

[2021-05-17 07:56] #21197 closed, assigned to nobody

[2021-05-17 10:59] sethrj opened #23673 "Perform smoke tests in temporary directory"
Currently post-installation tests are usually run inside the install prefix and must be cleaned before reusing. I suggest a mechanism for running inside a temporary directory.

### Rationale

Installation tests, especially for libraries, can be messy (e.g. create a `build` dir with many files), and the result of one build might affect another build resulting in a false positive or negative.

Furth

[2021-05-17 11:10] haampie commented on #23663
Getting the same after 10 minutes of an install :/

[2021-05-17 11:12] sethrj commented on #23663
Yeah took me 20 minutes of installs to debug it 😂

[2021-05-17 13:03] jgalarowicz commented on #23663
@alalazo @sethrj Hi - I am also seeing this.  How did you revert to the fc392d2 mod?  Will:  git checkout fc392d2 be sufficient to get around the problem?

I'm on a system where I need to mirror the spack and project component sources to compile my projects.

==> Installing libsigsegv-2.13-j7noanegkreyrfcaldvjzl5fmbd5h5yj
==> No binary for libsigsegv-2.13-j7noanegkreyrfcaldvjzl5fmbd5h5yj found: in

[2021-05-17 13:06] sethrj commented on #23663
Yes. There's alsos a pending PR to temporarily revert the broken change, https://github.com/spack/spack/pull/23674, so hopefully soon a "git pull" will fix.

[2021-05-17 13:07] jgalarowicz commented on #23663
@sethrj Thank you for the update Seth!

[2021-05-17 15:15] mwkrentel commented on #23667
I can confirm the build error with gcc 11.x.  The C++ header file
<limits> uses the name 'epsilon' in some templates which I think is
the real conflict, although the error message doesn't report that.

It's easy enough to fix (change epsilon to a different name).  But
fixing this exposed several other C++ usages that gcc 11.x didn't
like.  So, it may take a few days to clean them out with 11.x.

W

[2021-05-17 17:28] adamjstewart opened #23701 "`spack load` broken by #22588"
### Before

[code]

### After

[code]

My `modules.yaml` looks like:
[code]
but even without this file I can reproduce the bug. Any idea what could be causing this?

* **Spack:** 0.16.1-2651-fc392d2f56
* **Python:** 3.8.7
* **Platform:** darwin-catalina-ivybridge
* **Concretizer:** clingo

[2021-05-17 17:58] adamjstewart commented on #23701
For some reason this wasn't caught by our `cmd/load.py` tests. I'm guessing this only affects old installations, not new installations.

[2021-05-17 18:16] tgamblin commented on #19871
Fixed by #23661.

[2021-05-17 18:16] #19871 closed, assigned to alalazo

[2021-05-17 20:28] naromero77 commented on #23654
Is this specific to the Spack-build or is the plain-vanilla version working?

I would recommend sticking to the one of the officially tagged releases. `main` can break at any time.

[2021-05-17 20:31] ikitayama commented on #23654
For openmp project new features and bug fixes trickled in on a daily bases
this I try to build main.

On Tue, May 18, 2021 at 5:29 Nichols A. Romero ***@***.***>
wrote:

[2021-05-17 20:34] naromero77 commented on #23654
I understand why you would want to use `main`. My other question is whether the failure is specific to the Spack-build or does it also fail with the plain-vanilla version.

[2021-05-17 20:38] ikitayama commented on #23654
Log looks so lengthy is three a good way to check CMake options?

On Tue, May 18, 2021 at 5:34 Nichols A. Romero ***@***.***>
wrote:

[2021-05-17 20:52] naromero77 commented on #23654
You can try:
`-DCMAKE_VERBOSE_MAKEFILE=1`
https://cmake.org/cmake/help/latest/variable/CMAKE_VERBOSE_MAKEFILE.html

[2021-05-17 21:12] ikitayama commented on #23654
How do I reduce this output down to simpler, sequences of human readable CMake options?

[code]

[2021-05-17 21:57] scheibelp commented on #23640
This looks like a duplicate of https://github.com/spack/spack/issues/22589

Are you able to try using the newer concretizer?

[2021-05-17 21:58] ikitayama commented on #23654
By the way, do we want to add an option switch to Ninja build?

[2021-05-17 23:04] DamynChipman opened #23710 "Installation issue: Petsc (Failed install of Metis)"
### Steps to reproduce the issue

Attempting to install `petsc`, but the install stage of `metis` fails. Installation steps:

[code]

### Information on your system

Output of `spack debug report`:

[code]

Output of `uname -a`:

[code]

### Additional information

* [metis-spack-build-env.txt](https://github.com/spack/spack/files/6497306/spack-build-env.txt)
* [metis-spack-build-out.txt](https://

[2021-05-17 23:08] tldahlgren commented on #23673
Thank you for taking the time to create this issue.

Post-installation tests do not have to be run from inside the installation prefix. Early examples using files cached from the build did that for simplicity (and didn't typically clean up after themselves, which is something that needs to be addressed).

Spack *does* create a test suite stage directory *and*, for each spec, a test stage directory

[2021-05-17 23:24] ikitayama commented on #23654
I'll close this for now.

[2021-05-18 01:05] sethrj commented on #23673
Thanks for the response. I'm still a little confused about the test functionality, and this feature is new enough that it's easier for me to look through examples in other packages rather than try to understand based on the documentation alone 😬 so I do appreciate updates for both the explanations in the documentation and use cases in existing packages.

Gotcha, those are probably the ones I looke

[2021-05-18 01:12] tldahlgren commented on #23673
Can we hold off on closing the issue?  I've automated the copy of cached test files to the test stage directory and am modifying several packages to build in the test stage directory.  Not quite ready for a PR but hopefully soon.

It wouldn't be to `self.test_suite.current_test_data_dir`.  That's for custom files.

Depending on feedback -- once I make a PR -- I'm expecting that you'll be able to a

[2021-05-18 02:15] tldahlgren commented on #23673
#23713 Should address the issue raised here

[2021-05-18 07:20] #21696 closed, assigned to nobody

[2021-05-18 10:13] lpoirel commented on #23554
I would be happy to work on a PR if someone could tell me in which direction to go

[2021-05-18 12:09] Tom-python0121 opened #23741 "spack install ambari failed in opensuse"
when I install ambari in suse,Python2 cannot work with GCC to compile py-setuptools@44.1.0. This issue occurs only in Debian.
### Steps to reproduce the issue

[code]
How am I supposed to solve this problem?
### Information on your system
root@debian:~# spack debug report
* **Spack:** 0.16.1
* **Python:** 3.7.3
* **Platform:** linux-debian10-aarch64
* **Concretizer:** original

### Additional info

[2021-05-18 16:07] mansourmoufid opened #23749 "Installation issue: libffi"
### Steps to reproduce the issue

Building libffi on Mac M1, I get undefined symbols linker errors:

[code]

This seems to be a known issue: libffi/libffi#571

### Information on your system

* **Spack:** 0.16.1-2321-e25cbfa196
* **Python:** 3.8.2
* **Platform:** darwin-bigsur-arm64
* **Concretizer:** original

### Additional information

* [spack-build-out.txt](https://github.com/spack/spack/file

[2021-05-18 20:24] murez opened #23759 "Installation issue: libfuse"
### Steps to reproduce the issue

[code]

### Information on your system

### Additional information

* [spack-build-out.txt]()
* [spack-build-env.txt]()

### General information

- [ ] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [ ] I have run `spack maintainers <name-of-the-package>` and @mentioned any maintainers
- [ ] I have uploaded the build log and en

[2021-05-18 20:53] haampie commented on #23759
Can you file an issue upstream? If they merge a patch, you can add it to spack

[2021-05-18 23:35] DamynChipman commented on #23710
After some more debugging, I found the issue to be with my setup. Particularly, I am using `cmake` already installed on the machine (via a module; working on a cluster). I had `~/.spack/packages.yaml` populated with my machine's `cmake`. The issue appears to be a linking error between my `cmake` and `GLIBCXX`. Installing `metis` and `petsc` "out of the box" via `spack` works fine.

I'll fix things

[2021-05-18 23:35] #23710 closed, assigned to nobody

[2021-05-19 01:06] eugeneswalker opened #23776 "amrex +rocm build fails: missing headers: rocprim/rocprim.hpp"
`amrex@21.05 +rocm amdgpu_target=gfx906` fails to build using:
* `spack@develop` (20a99f4f046f5ad94ce0aa3457bffebd718d875a from `Tue May 18 10:50:55 2021 +0200`)
* Ubuntu 20.04, GCC 9.3.0

Concrete spec: [amrex-rocm.spec.yaml.txt](https://github.com/spack/spack/files/6503794/amrex-rocm.spec.yaml.txt)
Build log: [amrex-rocm-build-out.txt](https://github.com/spack/spack/files/6503804/amrex-rocm-buil

[2021-05-19 05:14] ikitayama commented on #23654
@naromero77 , as the `llvm` package co-maintainer, is the main branch build completely out of support scope? while I think it is useful to address the issues found in main builds. Just curious to know your thoughts.

[2021-05-19 05:17] mwkrentel commented on #23667
@eschnett I fixed the build issues with gcc 11.x.  If you'd like to try it out,
you should be able to install `hpctoolkit@master %gcc@11.1.0`.

We're planning on a new release in a few days.  I'll update the
hpctoolkit recipe at that time.

[2021-05-19 05:48] schmitts opened #23780 "Run-time issue: python+tkinter"
The tkagg backend does not work as expected, see below with a fresh Spack at 319f20d94ff68f781b4913d236e0587dfa0195ba.

[code]

The variants `tk` and `tcl` itself were installed:

[code]

### General information

* **Spack:** 0.16.1-2700-319f20d94f
* **Python:** 3.8.5
* **Platform:** linux-ubuntu20.04-haswell
* **Concretizer:** original

[2021-05-19 11:06] ikitayama commented on #23654
Also-, why we always include both NVPTX and AMDGPU, if not all projects are supposed to be built?

[2021-05-19 11:10] ikitayama commented on #23654
[code]

I don't understand these either as the above options look sane to me.

[2021-05-19 15:06] naromero77 commented on #23654
We are looking into this. I rather not add another variant, so we would just hard-code it to Ninja which is what the LLVM buildbot normally use.

[2021-05-19 15:07] naromero77 commented on #23654
I don't really understand your comment.

[2021-05-19 15:11] naromero77 commented on #23654
The Spack packages are supported by the community. Neither @trws or I have specific funding earmarked to support the LLVM Spack package. We do this out of our "spare time." If someone else from the community initiate PR, we can review it. However, IMO supporting the `main` branch would be difficult. Most of the Spack packages only support officially releases. So, we have no plans to support `main`

[2021-05-19 15:12] naromero77 commented on #23654
There are always warnings, but are any of these impacting a build of an official LLVM release.

[2021-05-19 16:13] haampie opened #23790 "Restructure repo"
### Rationale

With over 5k packages navigating the builtin repo is quite cumbersome, specifically through the GitHub UI:

### Description

Some package managers choose to create subdirs for the first letter:

``a/ b/ c/ ... z/``

Or even

```aa/ ab/ ac/ ... ba/ bb/ ... zz/```

Or

```a/a/ a/b/ ... z/z/```

That would make browsing through github a bit easier.

[2021-05-19 16:41] adamjstewart commented on #23790
Another idea I've had would be to put language-specific packages in subdirectories, like `py/`, `r/`, etc. However, we now have ~1K R packages, so this would give us the same issue. Of course, we would also run into this issue with `r/` and `p/`.

Current workaround is to manually type the package name in the browser URL, but I understand that this is cumbersome. Most other package managers and re

[2021-05-19 16:48] ixdi commented on #20155
Hi,
This error also appears when installing openbabel. It would be great to have the fix, thanks.

[2021-05-19 17:06] adamjstewart commented on #18865
I'm guessing this was fixed by #18869

[2021-05-19 17:06] #18865 closed, assigned to nobody

[2021-05-19 17:07] #2149 closed

[2021-05-19 17:07] adamjstewart commented on #23790
P.S. I wonder if this should be a Discussion instead of an Issue, although no one seems to pay attention to Discussions...

[2021-05-19 17:11] adamjstewart commented on #19301
Closing this since it's a CMake issue, not a Spack issue.

[2021-05-19 17:11] #19301 closed, assigned to nobody

[2021-05-19 17:12] adamjstewart commented on #22209
Closing this as the original question has been answered.

[2021-05-19 17:12] #22209 closed, assigned to nobody

[2021-05-19 18:01] elleryames commented on #22970
@vicentebolea Your fix was looking good. Are we just waiting for a review? Is there anything I can contribute?

[2021-05-19 18:20] trws commented on #23654
That's right.  Neither of us are "official support" for this.  I think we both want it to be as usable and useful as possible, main branch included, but only have so much bandwidth for this as a side project.  If there is an issue with *the spack package* that does not appear when building directly, that's what we're here to fix.

[2021-05-19 18:54] adamjstewart commented on #23780
I'm unable to reproduce this on macOS, tkagg seems to work just fine.

Can you try the following test to see if this actually involves matplotlib?
[code]
Can you also try:
[code]
For me, it's in `lib/tk8.6/tk.tcl`.

[2021-05-19 19:04] adamjstewart commented on #23780
Can you follow the debugging steps listed at https://wiki.python.org/moin/TkInter? One possibility is that you are using SSH and `DISPLAY` is not set (requires `ssh -Y`).

[2021-05-19 21:48] eugeneswalker opened #23799 "ascent ^vtk-h@0.7.1 build fails: undefined ref vtkh::lodepng_encode_memory"
`ascent@0.7.0` build fails when using `vtk-h@0.7.1` using:
* `spack@develop` (7febe23ebcb33932661b6736be87969e465f867e from `Wed May 19 14:05:24 2021 -0700`)
* Ubuntu 20.04 GCC 9.3.0
* Ubuntu 18.04 GCC 7.5.0
* RHEL 7 GCC 9.3.0
* RHEL 8 GCC 8.3.1

Concrete spec: [ascent.spec.yaml.txt](https://github.com/spack/spack/files/6511704/ascent.spec.yaml.txt)
Build log: [ascent-build-out.txt](https://github

[2021-05-19 21:54] eugeneswalker opened #23800 "axom ^conduit@0.7.2 build fails: FindConduit.cmake: can't find conduit"
`axom@0.4.0` build fails when using `conduit@0.7.2` using:
* `spack@develop` (7febe23ebcb33932661b6736be87969e465f867e from `Wed May 19 14:05:24 2021 -0700`)
* Ubuntu 20.04 GCC 9.3.0
* Ubuntu 18.04 GCC 7.5.0
* RHEL 7 GCC 9.3.0
* RHEL 8 GCC 8.3.1

Concrete spec: [axom.spec.yaml.txt](https://github.com/spack/spack/files/6511719/axom.spec.yaml.txt)
Build log: [axom-build-out.txt](https://github.com/s

[2021-05-19 23:11] white238 commented on #23800
I'll have a PR up very shortly that should fix this.

[2021-05-20 01:17] ikitayama commented on #23654
spack-build-02-build-out.txt
spack-build-01-cmake-out.txt

[2021-05-20 01:18] ikitayama commented on #23654
[spack-build-02-build-out.txt](https://github.com/spack/spack/files/6512256/spack-build-02-build-out.txt)
[spack-build-01-cmake-out.txt](https://github.com/spack/spack/files/6512258/spack-build-01-cmake-out.txt)

[2021-05-20 02:42] ye-luo commented on #23654
https://lists.llvm.org/pipermail/openmp-dev/2021-May/004002.html
It is mostly LLVM issue and not surprising on main branch. If we change building openmp as LLVM_ENABLE_RUNTIMES instead of LLVM_ENABLE_PROJECTS, the spack build should become more robust.

[2021-05-20 03:50] ikitayama opened #23805 "`spack add bison` fails in my "dev" Spack Environment"
I'd like to fix this, without discarding my environment.

[code]

[2021-05-20 03:52] ikitayama commented on #23805
Environment is great, but I feel that it often corrupts and I have to do create from scratch.

[2021-05-20 05:01] ikitayama commented on #23654
I think in upstream main, the AMDGPU target can not be built reliably at this moment.

[2021-05-20 06:45] schmitts commented on #23780
I'm not using SSH and `DISPLAY` is set:

[code]

Imports work but the test fails:

[code]

[code]

However, I do have a `tk.tcl` in:

[code]
Which has `tk8.6` at the end more compared to the search path reported above. When I symlink the contents of `tk-8.6.10-egp4nzel66d2273p3olurpjif6bhhkmj/lib/tk8.6` one level down (to `tk-8.6.10-egp4nzel66d2273p3olurpjif6bhhkmj/lib`), things seems to work.

[2021-05-20 08:38] nkgh77 opened #23809 "Installation issue: Octave with intel-mkl_ilp64"
### Steps to reproduce the issue

$ spack install octave%gcc@9.3.0+hdf5+zlib ^intel-mkl+ilp64 ^intel-mpi
==> Installing octave-6.2.0-ae3yhbbpigimzj7wac25nmhdaud3p7u7
==> No binary for octave-6.2.0-ae3yhbbpigimzj7wac25nmhdaud3p7u7 found: installing from source
==> Using cached archive: /home/kushida/SPACK/spack/var/spack/cache/_source-cache/archive/45/457d1fda8634a839e2fd7cfc55b98bd56f36b6ae73d31bb

[2021-05-20 09:01] simon28li opened #23810 "Can the new version of (not yet checksummed) obtained by `spack versions xxx` automatically adapt to the correct source code pull path during installation?"
Can the new version of (not yet checksummed) obtained by `spack versions xxx` automatically adapt to the correct source code pull path during installation?
### Rationale

The problems I encountered are similar to this issue[#14129](https://github.com/spack/spack/issues/14129).
### Description

[code]
My goal is to get which new versions are available, and then test the compilation and installation

[2021-05-20 09:04] #23790 closed, assigned to nobody

[2021-05-20 09:32] cessenat opened #23812 "Installation issue: scotch"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.16.1-2763-bd47eaf0f8
* **Python:** 3.8.2
* **Platform:** darwin-bigsur-skylake
* **Concretizer:** original

### Additional information

* [spack-build-out.txt](https://github.com/spack/spack/files/6514628/spack-build-out.txt)
* [spack-build-env.txt](https://github.com/spack/spack/files/6514630/spack-build-env.

[2021-05-20 10:42] haampie opened #23813 "Can't specify what gpg executable to use"
When running `spack gpg` it's unclear what gpg is being used. Spack will try `gpg2` in the path if available and otherwise `gpg`. On systems with both gnupg1 and gnupg2 it will always use gnupg2, but I'd like it to use gnupg1; or maybe some gpg that I've built with spack not in the PATH. Can we have a SPACK_GPG variable to override the educated guess from spack?

[2021-05-20 12:35] #23445 closed, assigned to nobody

[2021-05-20 13:06] eschnett opened #23815 "Broken views are not removed"
Spack does not remove old views. I see these directories:

### Steps to reproduce the issue

[code]

The directory "._view/ojcoqmogozxypeoozhzh5bzqzrbcslax" is outdated. Spack should remove it.

I believe I may have interrupted Spack while creating an earlier view, or it ran out of CPU time.

Spack should remove all partial views when a new view is generated successfully.

### Information on your

[2021-05-20 13:10] eschnett commented on #23667
I confirm that the master branch builds with GCC 11.

[2021-05-20 13:28] cessenat commented on #23812
Adding -Wno-implicit-function-declaration is a work around.

[2021-05-20 14:44] vvolkl opened #23816 "Installation issue: kubernetes"
### Steps to reproduce the issue

[code]

### Information on your system

[code]

took external go from system, but same error with spack-built go

### Additional information

[code]

### General information

- [x] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [x] I have run `spack maintainers <name-of-the-package>` and @mentioned any maintainers
- [ ] I have

[2021-05-20 14:47] yellowhat commented on #20303
[https://github.com/spack/spack/blob/develop/var/spack/repos/builtin/packages/fio/package.py](https://github.com/spack/spack/blob/develop/var/spack/repos/builtin/packages/fio/package.py) does not pass any particular flag. Am I correct?

[2021-05-20 15:26] #23800 closed, assigned to nobody

[2021-05-20 15:45] eugeneswalker commented on #23701
Good catch!

It looks like https://github.com/spack/spack/pull/22588 is also responsible for https://github.com/spack/spack/issues/23665 which uniquely affected RHEL 8 and not RHEL 7, Ubuntu 18.04, or Ubuntu 20.04.

[2021-05-20 16:12] trws commented on #23654
Are there docs for that @ye-luo? If it will make things better it would be nice to do.  Glancing at the system I don't see openmp in the all list in the cmake, is it just missing or incomplete or..?

[2021-05-20 16:33] ye-luo commented on #23654
https://github.com/llvm/llvm-project/tree/main/openmp#options-for-libomptarget

What did you mean? I saw openmp listed
https://github.com/llvm/llvm-project/blob/943839870a0be356c40629c75d4583976cb9e812/llvm/CMakeLists.txt#L67
https://github.com/llvm/llvm-project/blob/943839870a0be356c40629c75d4583976cb9e812/llvm/runtimes/CMakeLists.txt#L10

[2021-05-20 16:38] adamjstewart commented on #23780
Alright, I am actually seeing a possibly related bug on macOS:
[code]
So it's picking up something, just the wrong one. I'll keep investigating.

[2021-05-20 16:55] adamjstewart commented on #23780
The Python build log actually points out this issue:
[code]
This can be seen on the command line too:
[code]

[2021-05-20 17:00] adamjstewart commented on #23780
Possibly a bug in the tk build?
[code]

[2021-05-20 17:08] cyrush commented on #23799
Pretty sure `ascent@0.7.0` won't build against `vtk-h@0.7.1` due to API changes.  We are releasing `ascent@0.7.1` shortly.

[2021-05-20 17:16] eugeneswalker commented on #23799
I will change it so that it builds against `vtk-h@0.7.0` for now then! Thank you.

Should we leave this issue open and link the ascent-version-update PR to this? And then it will close when merged?

[2021-05-20 17:16] adamjstewart commented on #23780
I wonder if this is because `tk` and `tcl` aren't designed to be installed to different directories. During installation, the `tk` configure script issues the following warning:
[code]
Most package managers seem to have a single package that combines both `tcl` and `tk` and installs them to the same prefix:

* [Homebrew](https://github.com/Homebrew/homebrew-core/blob/master/Formula/tcl-tk.rb)
* [M

[2021-05-20 17:24] adamjstewart commented on #8716
Is this still an issue?

[2021-05-20 19:16] #23206 closed, assigned to nobody

[2021-05-20 19:20] adamjstewart commented on #23780
Okay, thanks to a patch from Macports, I've fixed the bug I encountered on macOS. Now I'm getting the same bug as you were getting. Still digging to solve that one, but I might end up symlinking things like you suggest.

[2021-05-20 19:59] adamjstewart commented on #23780
Okay, I think I'm starting to lose my mind. If I install `tk` multiple times, sometimes it installs `lib/tk8.6/tk.tcl`, sometimes it installs `lib/tk.tcl`, and sometimes it doesn't install `tk.tcl` at all. Maybe it's a parallel build bug. Testing now.

[2021-05-20 21:04] adamjstewart commented on #23780
@schmitts I'm not sure how else to debug this problem. Can you try uninstalling and reinstalling `tk` a few times on your system to see where it installs `tk.tcl`? With #23825 my installation now consistently succeeds, but that is only a patch for macOS so won't help you.

[2021-05-20 21:27] #23799 closed, assigned to nobody

[2021-05-21 00:59] vicentebolea commented on #22970
@elleryames yeah somethings came up and I left the PR there. It works on my machine, could you review it?

[2021-05-21 06:47] OmenWild opened #23830 "Installation issue: hdf5 with nvhpc"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.16.1-2784-d2178fb47b
* **Python:** 3.8.5
* **Platform:** linux-ubuntu20.04-sandybridge
* **Concretizer:** original

### Additional information

The error is that `nvhpc` does not understand the `-Wno-implicit-function-declaration` flag passed to the configure script. Root cause is this chunk of code in the `pa

[2021-05-21 06:51] bonachea opened #23831 "Preserve line breaks in spack info output"
The `spack info` output is the main source of package information for users, and thus the primary means for package authors to provide package/variant documentation to end users.

Currently the display code for `spack info` strips out newlines from description strings, which hinders efforts by package authors to format their package documentation in more readable ways. This happens in at least two

[2021-05-21 08:31] #19687 closed, assigned to RikkiButler20

[2021-05-21 09:08] #21246 closed, assigned to nobody

[2021-05-21 10:10] schmitts commented on #23780
I've done

[code]

a couple of times. `tk.tcl` always ends like below:

[code]

[2021-05-21 17:22] adamjstewart commented on #23780
Opened up an issue with the `tk` developers, let's see what they say: https://core.tcl-lang.org/tk/tktview/447bd3e4abe17452d19a80e6840dcc8a2603fcbc

Alternatively, we can open an issue with the Python developers and get tkinter to search in `<prefix>/lib/tk8.6/tk.tcl`.

[2021-05-21 18:18] trws commented on #23654
Right you are, I must have been looking at the wrong thing somehow, either way thanks for the links!

[2021-05-21 18:59] omsai commented on #23668
Thinking about this a little bit more, I realized that `spack` itself cannot be run without `python`, so strictly speaking it's not necessary to add a `python` dependency for build time to run libint's trivial [c_to_f.py  script](https://github.com/evaleev/libint/blob/master/export/fortran/c_to_f.py) which only uses base python `re` and `sys` libraries with no external python modules.

Later it wa

[2021-05-21 18:59] #23668 closed, assigned to nobody

[2021-05-21 22:05] mtmiller commented on #23809
Yeah, I confirm errors when attempting to configure Octave with either

* `-lmkl_intel_lp64`, or
* `-lmkl_intel_ilp64` and `-fdefault-integer-8`

But building Octave does succeed with both

* `-lmkl_gf_lp64`, or
* `-lmkl_gf_ilp64` and `-fdefault-integer-8`

Because Octave contains Fortran source that is built with gfortran and linked with the selected BLAS variant, it needs to use the correspondin

[2021-05-21 22:08] michaelkuhn commented on #9134
You could also achieve something similar using `spack mark` (see https://spack.readthedocs.io/en/latest/basic_usage.html#marking-packages-explicit-or-implicit).

I do something like this to upgrade my packages:
[code]

[2021-05-21 22:35] mtmiller commented on #23809
:grimacing: I just rediscovered #21772, already attempting to solve this issue.

[2021-05-22 14:32] #23749 closed, assigned to nobody

[2021-05-22 23:43] KineticTheory commented on #3477
I'm no longer looking for this solution.  Not sure if it is still broken or not.

[2021-05-22 23:43] #3477 closed

[2021-05-23 13:59] sethrj commented on #12781
The `GOMP` missing symbol relates to OpenMP support... I'm digging through some unrelated openmp issues now and stumbled across this. Are you building with `+openmp`?

[2021-05-23 14:00] simonpintarelli opened #23862 "can't stage cuda / unable to parse extension"
~~spack fails to stage cuda. I can't reproduce the bug on another system, although I couldn't resolve it even with a clean git clone and deleting all custom configuration.~~

spack v0.16.2 fails to fetch cuda.

### Steps to reproduce the issue

[code]

### Error Message
[code]

### Information on your system

[code]

[2021-05-23 14:15] simonpintarelli commented on #23862
The bug was caused by a wrong spec trying to fetch an inexistent cuda version.

[2021-05-23 14:15] #23862 closed, assigned to nobody

[2021-05-23 14:58] elleryames commented on #22970
Sorry @vicentebolea, I wasn't able to get to it the last few days and I am heading out on a trip for the next week. I'll take a look in a week or so.

[2021-05-23 22:43] tomgreen66 opened #23867 "Installation issue: intel-oneapi-mpi"
### Steps to reproduce the issue

[code]

### Information on your system

[code]

Use external package to override libfabric to use OS supplied version.

### Additional information

Have proposed changes at ARCCA@8f20f9acd705dd3919bfc7e66a1e7c6593669753

Package didnt fail, it was more at runtime it picked up Intel internal libfabric which was incompatible with system I was using.  Intel provide a

[2021-05-24 12:31] rscohn2 commented on #23867
@scheibelp: This is another instance of the problem where we need virtual packages. https://github.com/spack/spack/pull/23326
https://github.com/spack/spack/discussions/22749

Is the functionality ready to use?

[2021-05-24 17:33] scheibelp commented on #23867
Not yet: we are still actively discussing how to resolve this and are working on something more formal at https://github.com/spack/seps/pull/2.

In the meantime, is something like #23326 possible in this case?

[2021-05-24 20:50] rscohn2 commented on #23867
#23326 hardcoded to one choice. We already have that for MPI. @tomgreen66 is proposing adding a variant. From looking at https://github.com/spack/seps/pull/2 it appears that we could add variants now. When the new functionality is ready, we would add interface=true and dependent packages that use the variants would not need to change. Is that correct?

[2021-05-24 20:54] scheibelp commented on #23867
Without the implementation to back it up, each choice of variants would result in a separate installation of `intel-oneapi-mpi`. If this is needed right away, then I think this would be a reasonable stopgap measure.

With the above caveat: yes. (note thought that the syntax may not exactly `interface=True`, but you'll be able to do something just as easily).

[2021-05-24 22:21] KineticTheory commented on #16243
I consider this resolved. I'm going to open a new issue to document the current issues with building Visit on Ubuntu 20.04 with gcc@9.3.0.

[2021-05-24 22:21] #16243 closed, assigned to nobody

[2021-05-24 22:42] sethrj commented on #16243
Sorry, I'm visiting (ha ha) this for  the first time in memory. FWIW any patches I added that no longer apply definitely need version restrictions. As to concretization, this is where the [clingo solver](https://spack.readthedocs.io/en/latest/config_yaml.html?highlight=clingo#basic-settings) comes very much in handy; otherwise it's necessary to give a *lot* of hints about using older versions of p

[2021-05-25 04:30] ikitayama opened #23880 "Installation issue: llvm using Ninja leads to a build error"
### Steps to reproduce the issue
Add a line `generator = 'Ninja'` in the package.py

[code]

### Information on your system

### Additional information

* [spack-build-out.txt]()
* [spack-build-env.txt]()

### General information

- [ ] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [ ] I have run `spack maintainers <name-of-the-package>` and @mentioned any mai

[2021-05-25 04:32] ikitayama commented on #23880
[spack-build-out.txt](https://github.com/spack/spack/files/6536476/spack-build-out.txt)

[2021-05-25 04:33] ikitayama commented on #23880
Dear maintainers, in LLVM, Ninja has been used extensively when building the codebase, so I thought switching to Ninja would be beneficial to the users.

[2021-05-25 10:44] haampie commented on #23880
You have to add `depends_on('ninja', type='build')`

[2021-05-25 11:15] rscohn2 commented on #23867
I see. If someone installs a variant and I add interface=true afterwards, it might be confusing or require reinstallation to be in a consistent state. It seems better to wait unless someone tells me there is an urgent need. How much longer until interface=true is available?

[2021-05-25 12:06] arekfu opened #23886 "Installation issue: root"
### Steps to reproduce the issue

Reproducible on CentOS 7, as well as (I suspect) any platform where native compiler in `/usr/bin` uses an old ABI.
[code]
Compilation succeeds. However...
[code]
The errors indicate an ABI mismatch between the compiler that was used to build ROOT (gcc 7.5.0) and the compiler that was used to inspect the `Test.h` header file. Indeed, running `rootcling` under `stra

[2021-05-25 12:14] fubingting opened #23887 "Whether RubyPackage can set to load GEM_PATH automatically when spack load"
Whether RubyPackage can set to load GEM_PATH automatically when spack load

The following command was executed but caused an error. I found that GEM_PATH was not loaded.
[code]
[code]
After modifying package.py,  all paths are loaded into GEM_PATH，“tmuxinator -h” can run normally.
[code]

### General information

Spack: 0.16.1-1624-a0b5dcca3c
Python: 3.6.8
Platform: linux-centos8-aarch64
Concretiz

[2021-05-25 12:22] vvolkl commented on #23886
Hi @arekfu,

I've been bitten by this before, see https://github.com/spack/spack/issues/17488 and https://github.com/spack/spack/pull/18078 (as you can see from the lengthy conversations it was also tricky for me to figure out).

The good news is that there is a very easy workaround:  just symlink the spack-installed `gcc` to `cc`. Since it is a runtime issue, you don't even need to rebuild, just

[2021-05-25 12:43] arekfu commented on #23886
The idea to add a `cc` symlink in the ROOT `bin/` directory crossed my mind, too. Would you accept a PR?

[2021-05-25 12:46] arekfu commented on #23886
@vvolkl As you may have noticed in [the discussion on the ROOT forum](https://root-forum.cern.ch/t/tclass-and-cling-disagree-on-the-size-of-the-class/44831/33), Axel Naumann hinted that ROOT can be configured to look for `cc` elsewhere at build time. Do you know how? That would probably be a cleaner solution, IMO.

[2021-05-25 12:55] vvolkl commented on #23886
Yes, thinking about this some more, I think this is the best solution. You should be able to get the path for the symlink with `self.compiler.cxx`.

I don't know how to tell ROOT what compiler to look for. If you manage that, you could also set the path to gcc directly there. However, I'm not sure if this will circumvent the compiler wrapper, and that would limit a lot of the functionality of spac

[2021-05-25 13:02] arekfu commented on #23886
You have a good point with the compiler flags etc. Won't the symlink break this? For example, if we inject `-fabi-version=<n>` through the Spack wrapper...

[2021-05-25 13:32] vvolkl commented on #23886
For Key4hep, we've been using the symlink variant in production for quite a while without problem. In that particular case cling invokes the compiler only to get  include paths so I think it is ok.

[2021-05-25 13:36] arekfu commented on #23886
Alright, thanks. I'll see what I can do for the PR.

[2021-05-25 14:24] #23673 closed, assigned to tldahlgren

[2021-05-25 14:29] vvolkl commented on #23886
@arekfu  From Axel's reply on the root forum, it sounds like `-DCLING_CXX_PATH=self.compiler.cxx` would be used by cling at runtime, so that may indeed be be the best option.

[2021-05-25 14:32] arekfu commented on #23886
OK, I'll try that!

[2021-05-25 14:59] sethrj commented on #10705
cross referencing with https://github.com/spack/spack/issues/5269 and https://github.com/spack/spack/pull/23474

[2021-05-25 15:58] payerle commented on #23640
Agreed --- duplicate of #22589.  Missed that in my search of related tickets, sorry.

Have not been able to try clingo concretizer yet in my test env, it sounds from 22589 that clingo should fix that.  If I manage to get clingo working in test env, I will update 22589.

[2021-05-25 15:58] #23640 closed, assigned to scheibelp

[2021-05-25 16:33] adamjstewart opened #23890 "Clingo bootstrapping: reinstalling already installed packages"
If I tell Spack to use the new concretizer but don't have `clingo` in my `PATH`/`PYTHONPATH`, Spack will bootstrap it for me. However, it doesn't seem to check whether `clingo` or its dependencies are already installed. This leads to Spack wasting time reinstalling the same hashes of dependencies.

### Steps to reproduce the issue

1. Set `clingo` as the default concretizer, make sure `clingo` is

[2021-05-25 16:52] adamjstewart opened #23891 "Too many open files"
I believe I've found a possible file handle leak in Spack. This manifests itself when installing very large environments.

### Steps to reproduce the issue

I'm trying to install the following environment:
[code]
A few of these packages aren't yet in Spack, but you should be able to substitute them with other packages and still reproduce this.

### Error Message

After successfully installing seve

[2021-05-25 16:54] alalazo commented on #23890
@adamjstewart Bootstrapping is done in a separate store to keep the software that Spack needs for itself separated from the one that was requested by the user. This also permits to have more control over what gets installed when bootstrapping, rather than picking specs that have been installed by the user and may or may not be compatible with what Spack needs.

This is to say that the behavior is

[2021-05-25 16:55] adamjstewart commented on #23890
Alright, as long as this is by design. Binaries will definitely help with this.

[2021-05-25 16:55] #23890 closed, assigned to alalazo

[2021-05-25 17:12] adamjstewart commented on #23891
When I run `spack -ddd install`, I also see:
[code]

[2021-05-25 17:17] adamjstewart opened #23892 "RecursionError: maximum recursion depth exceeded while pickling an object"
I encountered a build error on macOS that only seems to happen with Python 3. I'm guessing this is one of those Python 3.7+ macOS multiprocessing bugs we've encountered in the past.

### Steps to reproduce the issue

I'm trying to install the same environment as #23891.

### Error Message

[code]

### Information on your system

* **Spack:** 0.16.1-2888-a284edb852
* **Python:** 3.8.10
* **Platform

[2021-05-25 18:10] RikkiButler20 opened #23893 "Installation issue: AML"
### Steps to reproduce the issue

[code]

### Information on your system

[code]

### General information

- [x] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [x] I have run `spack maintainers <name-of-the-package>` and @mentioned any maintainers
- [ ] I have uploaded the build log and environment files
- [x] I have searched the issues of this repo and believe

[2021-05-25 18:28] KineticTheory opened #23894 "[visit] Recipe needs additional version constraints"
I was able to build visit on Ubuntu-20.04 with gcc@9.3.0 after some trial and error iterations.  The visit recipe is not properly constrained as it expects older versions of many dependencies.

This is a update/replacement of #16243 and is related to #16965 and #13555.

### Steps to reproduce the issue

* I'm working from spack hash 769e549cd91583d462d686e0a19b6469e593c40e with the classic concret

[2021-05-25 18:45] alalazo commented on #23890
BTW, if you have some time and want to try #22720 instructions are in the PR description :smirk:

[2021-05-25 19:07] skylerpaulus commented on #21396
I attempted adding this to docbook-xsl
[code]

but I still recieve this error:
[code]

[2021-05-25 19:17] adamjstewart commented on #23891
Thanks to Activity Monitor, it looks like Spack has hundreds of open file handles for `/Users/Adam/spack/opt/spack/.spack-db/prefix_lock`.

[2021-05-25 19:25] adamjstewart commented on #23891
It looks like these file handles get cleaned up once each root spec in the environment finishes installing, but for specs with large DAGs like `py-azureml-sdk` we accrue too many open file handles and the ulimit is exceeded.

[2021-05-25 20:47] ikitayama commented on #23880
@haampie I was building it after loading `ninja`

[2021-05-25 20:54] ikitayama commented on #23880
[code]

[2021-05-25 20:55] ikitayama commented on #23880
@haampie could you re-open this Issue?

[2021-05-25 21:17] haampie commented on #23880
Sorry, I didn't notice we have a special make install call for `install-LLVMTableGen`, `install-LLVMDemangle` and `install-LLVMSupport`.

Could you try the following configure options to replace our handcrafted make installs? https://llvm.org/docs/BuildingADistribution.html#relevant-cmake-options

[2021-05-25 21:26] RikkiButler20 opened #23899 "Installation issue: aml versions master & develop"
### Steps to reproduce the issue

[code]
This is the same output for

[code]

### Information on your system

[code]

### General information

- [ ] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [ ] I have run `spack maintainers <name-of-the-package>` and @mentioned any maintainers
- [ ] I have uploaded the build log and environment files
- [ ] I have searched

[2021-05-25 21:47] haampie opened #23900 "Installation issue: rocblas builds twice (and once is slow enough already)"
### Steps to reproduce the issue

@srekolam / @arjun-raj-kuppala it seems like roclbas builds everything twice, is that expected? If not can you please fix it?

[code]

[code]

[2021-05-25 21:55] tldahlgren opened #23901 "Installation issue: py-hatchet v1.3.0 checksum mismatch"
I've been having problems building v1.3.0 due to checksum mismatch and I confirm that the checksum in the package oddly no longer matches that calculated by spack.

### Steps to reproduce the issue

[code]

BUT the checksum in the package is:

[code]

[2021-05-25 22:13] adamjstewart commented on #23901
It might be better to convert to the PyPI URL/hash since that can't be changed.

[2021-05-25 22:20] ikitayama commented on #23880
That did the trick. Thanks!

On Wed, May 26, 2021 at 6:17 AM Harmen Stoppels ***@***.***>
wrote:

[2021-05-26 00:34] #23899 closed, assigned to RikkiButler20

[2021-05-26 01:31] ikitayama commented on #23880
Do they give choices generally, so that one can pick Makefile or Ninja?

On Wed, May 26, 2021 at 7:20 Itaru Kitayama ***@***.***>
wrote: