[2017-03-02 16:03] jayjaybillings opened #3305 "Fenics doesn't install on Fedora 25"
I'm trying to install Fenics with the latest version of Spack (straight git clone) on Fedora 25. Everything builds except Fenics itself:
[code]
I'll submit the log file if you want.

[2017-03-02 16:08] davydden commented on #3305
unless you do, nobody can even try to help :smile:

[2017-03-02 16:08] davydden commented on #3305
better yet, just look into it yourself and see what's the error message....

[2017-03-02 16:12] alalazo commented on #3305
@jayjaybillings I changed the title in a try to make it more informative when looking at the over 450 issues we have. Feel free to change it further or revert it if you don't agree.

[2017-03-02 16:30] alalazo commented on #3305
Hmm, it's also quite strange that it failed on:
[code]
and passed
[code]
according to the stack-trace you posted.

[2017-03-02 16:33] alalazo commented on #3301
Relevant documentation [here](https://spack.readthedocs.io/en/latest/contribution_guide.html#flake8-tests). Closing the issue.

[2017-03-02 16:33] #3301 closed

[2017-03-02 17:28] adamjstewart commented on #3304
Based on the test result:

I think it's safe to say that the answer is "close enough". Unfortunately, poorly designed test suites don't understand "close enough", and since the two numbers aren't identical, it fails. I would say it's safe to ignore this error. I'll put out a PR shortly that updates `icu4c` so that the test suite is only run when you specify `spack install --run-tests`. As it is no

[2017-03-02 18:27] adamjstewart commented on #3305
@alalazo It failed during `make`, not `make install`. This part is reliable:
[code]
This part is unreliable:
[code]
See #3117.

[2017-03-02 18:27] jayjaybillings commented on #3305
@alalazo I thought so too.

Full log attached. Looks like it might be a problem with changes in Trilinos?
[code]
[spack-build.txt](https://github.com/LLNL/spack/files/814711/spack-build.txt)

[2017-03-02 18:53] tgamblin commented on #3222
I think there are actually other issues with the way we currently prepend includes.  An example would be #3185 -- @davydden had issues because there was a conflicting header in a dependency of `gnuplot`.

The arguments in the original compiler wrappers were inserted, I believe, after any local project includes, but I believe that was causing some problems for @eschnett, who redid the `cc` wrapper

[2017-03-02 18:55] davydden commented on #3305
Maybe u need to limit it to older versions of Trilinos?

[2017-03-02 19:03] jayjaybillings commented on #3305
I'm happy to try that out. Is the process for doing that in the documentation? (I'm relatively new to Spack.)

[2017-03-02 19:06] certik opened #3318 "setup-env.sh takes 1.5s to run"
For some reason, the shell support takes 1.5s to run:
[code]
That prevents me to put it into `.bashrc`, because then every time I open a new terminal window, I have to wait 1.5s.

[2017-03-02 19:07] certik opened #3319 "`spack env` gives "RuntimeError: Cannot locate python executable""
Here is how to reproduce it:
[code]

[2017-03-02 19:07] adamjstewart commented on #3305
To try out an older version:
[code]
To make it permanent, run `spack edit fenics` and edit the following line:
[code]
Let's say for example that you discover that fenics works with Trilinos 12.9.0 and older. You would edit the line to become:
[code]

[2017-03-02 19:12] adamjstewart commented on #3319
A few questions:

1. What version of Python are you running Spack with?
2. Are you using an external Python installation in your `packages.yaml`?
3. What version of Python are you building mesa with?
4. What is the Python executable called?
5. You don't have it symlinked in any weird way do you? Maybe you're using Homebrew or something like that to install Python?

If I had to guess, you're using

[2017-03-02 19:13] adamjstewart commented on #3318
You might be interested in #2880.

[2017-03-02 19:20] certik opened #3320 "Compiling paraview uses rpath with 100s of ":""
I compile paraview using:
[code]
and the develop branch (ffce6e1c4e8ab98c6d90dd2187a63387d13c098e), and I noticed in the compile log file that Spack passes hundreds of empty colons in the `-rpath` option to the linker, see below. That looks like a bug.
[code]

Or is this on purpose and it's just a padding, so that the rpath can be replaced later by substitution?

[2017-03-02 19:43] hartzell opened #3321 "Is it possible to require use of a local mirror?"
I'd like to *require* spack to use tarballs from my local mirror and fail if it can't find what it wants.

I can't find any mention in the docs.  Is it possible?

[2017-03-02 19:50] KineticTheory commented on #3320
@certik I think CMake inserts those colons as padding so that the RPATH can be switch from build-time dependencies to install-time dependencies. I see this type of padding with all of my CMake-based projects.

[2017-03-02 19:52] tgamblin commented on #3321
No feature at the moment but you could hack it in by changing the default of `mirror_only` in `Package.fetch()` to `True`. [See here](https://github.com/LLNL/spack/blob/develop/lib/spack/spack/stage.py#L371).

I think we should make this work like the default [`repos.yaml`](https://github.com/LLNL/spack/blob/develop/etc/spack/defaults/repos.yaml) and have a default `mirrors.yaml` that looks like t

[2017-03-02 19:58] jayjaybillings commented on #3305
Downgrading the Trilinos version using the first command in @adamjstewart's comment fixed it. Thanks!

[2017-03-02 19:58] #3305 closed

[2017-03-02 20:10] adamjstewart commented on #3305
Feel free to contribute a PR!

[2017-03-02 20:44] certik commented on #3319
1. 2.7.12
2. where is this file `packages.yaml`, I didn't find it in `.spack`. I didn't modify any such file by hand though, as far as I know.
3. I used the default spack settings
4. The systemwide is /usr/bin/python
5. I use a stock Ubuntu 16.04.

[2017-03-02 20:49] certik commented on #3320
Interesting. I've never seen it in my cmake projects, but I wonder if some of the cmake rpath options influence it. It looks like it's not a spack bug though, so I am closing this.

[2017-03-02 20:49] #3320 closed

[2017-03-02 20:56] adamjstewart commented on #3319
2. It would be in `~/.spack/packages.yaml`, but if you didn't modify it then it doesn't matter anyway.

So it sounds like you tried to build mesa, but it crashed during the process. Can you run `spack find -p python` to see which version of Python it installed and where it is installed? Then tell me what Python executable(s) it installed. It could be called `python`, `python2`, or `python3`.

[2017-03-02 21:30] certik commented on #3319
The contents of my `~/.spack` directory is:
[code]
and the Python package installed `python` and `python2`:
[code]

I removed all packages from spack and all my local modifications, and just used the unmodified development branch, and I can still reproduce the problem using:
[code]
The reason mesa itself fails to build is due to:
[code]
But that's not relevant I assume for this bug.

[2017-03-02 21:50] adamjstewart commented on #3319
Yeah, I ran into that same problem the last time I messed with the Mesa package. I'm the one who added the comment about "libudev" to the package. Btw, I have a work-in-progress `systemd` package in #2631, but gave up on it because I couldn't get `glibc` to build.

Anyway, yeah, that's not relevant to the bug. Let me think some more.

[2017-03-02 21:51] hartzell commented on #3321
I think that in the current `modules.yaml` file, `mirrors` contains a mapping that contains symbolic names and URLs.

I think that your example above is a sequence of things.

I currently have a `etc/spack/mirrors.yaml` that contains:

[code]

In the model you describe, would I just use:

[code]

and if, perhaps I wanted to use mine and *then* check the internet I could use:

[code]

[2017-03-02 22:21] adamjstewart commented on #3319
When I run:
[code]
I see a completely different bug:
[code]
Removing the spack between `mesa` and `%gcc@5.3.0` solves this bug and things behave as expected. Can you see if this fixes it for you? If not it could be an unrelated bug.

[2017-03-02 22:29] certik commented on #3319
That was it!
[code]
vs. (btw you meant space instead of spack, it took me a while to figure out what you meant):
[code]
and it works.

Thanks for figuring it out!

[2017-03-02 22:46] adamjstewart commented on #3319
Ha, comment fixed. Glad it was a simple solution!

[2017-03-02 22:49] adamjstewart commented on #3319
Btw, I took a closer look at `spack env`. Most of our commands allow spaces inside of specs, but `spack env` doesn't. I'm pretty sure this is on purpose. You can add arguments after your spec to run a command, for example:
[code]
The easiest way to figure out what is the spec and what is the command to run is to take everything after the first space and assume it is the command to run. In your cas

[2017-03-02 22:49] #3319 closed

[2017-03-02 22:52] certik commented on #3319
Ah, ok. I didn't realize that. Thanks for figuring it out. That's tricky.

[2017-03-03 00:32] #3304 closed

[2017-03-03 00:34] adamjstewart commented on #3268
Closed by #3276.

[2017-03-03 00:34] #3268 closed

[2017-03-03 00:36] #3274 closed

[2017-03-03 01:01] #3172 closed

[2017-03-03 02:27] eschnett commented on #2318
I received this error while building a package that depends on `mpi`. This was resolved to `openmpi`. The error was about `hwloc`. After adding `^openmpi` as explicit dependency, the problem went away.

[2017-03-03 13:29] eschnett opened #3331 "It shouldn't be necessary to add Spack-built compilers manually to "compilers.yaml""
Spack already knows everything about Spack-built compilers. It should simply consult `spack find` in addition to looking at `compilers.yaml`. This is similar to the way other dependencies are resolved; for these, Spack looks at the available packages as well as at `packages.yaml`.

This would also allow the next step: Spack should remember which package depends on a Spack-built compiler, since thi

[2017-03-03 15:13] healther opened #3343 "Spec object has no attribute cppflags - openblas fails to build"
@davydden mentioned that this a regression and that it worked a couple of days ago in #3333 .

I see the following (taking ```0.2.15``` because it isn't installed yet)

[code]

[2017-03-03 15:53] weijianwen commented on #3166
Thank you @adamjstewart .  After long time of struggling, your settings finanally make my externally-installed Intel MPI work. This may also help guys @cnelson3  and @pramodk in  #3019 .

[2017-03-03 16:13] davydden commented on #3343
i don't see the solution, but I am quite sure that it's a regression coming from https://github.com/LLNL/spack/pull/1875 , probably some last minute changes broke somthing. @alalazo could you have a look?

[2017-03-03 16:17] alalazo commented on #3343
@davydden Can you try: `spec['openblas'].cppflags` ? If that doesn't work I'll try to have a closer look asap.

[2017-03-03 16:19] davydden commented on #3343
[code]
fixed the issue.

[2017-03-03 16:20] davydden commented on #3343
i will create a PR...

[2017-03-03 16:24] adamjstewart commented on #3343
@alalazo Shouldn't `spec` and `spec['name']` be identical when `'name'` is the name of the package?

[2017-03-03 16:26] alalazo commented on #3343
I think this is worth an explanation: one of the last changes I did in #1875 was removing the explicit spec deep-copy in `__getitem__` in favor of an object wrapper (`SpecBuildInterface`) which wraps a `spec` and adds all the query you can do during the build.

The fact is you get the wrapper only if you go through `__getitem__`, which should be 99% of the cases as usually you don't try to compile

[2017-03-03 16:33] adamjstewart commented on #3343
Well, as long as we know about it. We might want to go back through existing packages and make sure there are no other packages like this. I take it this means that `self.spec.prefix` no longer exists either?

[2017-03-03 16:46] alalazo commented on #3343
Hmmm, why? What you get back from `spec['name']` is a wrapper to the underlying spec. As such it has **all** the methods of the spec (including `prefix`), and in addition it can be queried for `cppflags` and `libs`.

The relevant code is [here](https://github.com/LLNL/spack/commit/ed582cef68585b6090866fb0bb3aa2cc72dbe2ed), in particular `ObjectWrapper` and `SpecBuildInterface`.

[2017-03-03 17:04] adamjstewart commented on #3343
Wait, so `spec.prefix` and `spec['openblas'].prefix` are equivalent but `spec.cppflags` and `spec['openblas'].cppflags` aren't?

[2017-03-03 17:07] alalazo commented on #3343
@adamjstewart Mostly:

This is 100% correct.

`spec.cppflags` doesn't exist.

[2017-03-03 17:10] adamjstewart commented on #3343
Huh. Well that's confusing. I'll just stop using `spec.` and always use `spec['name'].` I guess.

[2017-03-03 17:15] alalazo commented on #3343
@adamjstewart I don't think you'll need to do that. This problem will show up only if in a package you want to retrieve its own `cppflags` or `libs`. At the moment I think only `hdf5` and `openblas` need this kind of treatment for the home-baked build and link tests.

[2017-03-03 18:23] certik opened #3345 "Jupyter notebook fails to install"
[code]
I use Ubuntu 16.04 and installed using:
[code]

[2017-03-03 18:46] tgamblin commented on #3345
@krafczyk

[2017-03-03 18:50] krafczyk commented on #3345
Hmm strange.. Can you do `spack info py-jupyter-notebook` and `spack info npm` for me? node should have been installed as a build dependency.

[2017-03-03 18:53] certik commented on #3345
[code]

[code]

Node is indeed among modules installed by the above command:
[code]

[2017-03-03 18:55] certik opened #3346 "spack spec is slow"
[code]

[2017-03-03 18:59] krafczyk commented on #3345
Okay, I think I know what the problem is,

Apparently `node-js` is not listed as a run dependency of `npm`. This means that it falls back on whatever `node` is installed on the system when it's used as a dependency itself.

patch incoming.

[2017-03-03 19:02] certik commented on #3345
@krafczyk can you please ping me once you submit a patch? I'll try it out.

Thanks for figuring it out.

[2017-03-03 19:08] adamjstewart commented on #3346
Ha. Try `r-rminer`. That's the worst I've ever seen.

[2017-03-03 19:17] alalazo commented on #3331
Can we close this as duplicate of #449 ?

[2017-03-03 19:21] citibeth commented on #3346
Yes, I deal with specs of that size too.  At least it's a lot better than it used to be!

[2017-03-03 19:26] certik commented on #3346
Over 5 minutes on `r-rminer`.

So every time I do stuff like `spack install py-jupyter-notebook %gcc@5.4.0` I have to wait half a minute. That's a severe usability problem.

@tgamblin I am comparing against Hashdist, where I don't have to wait half a minute to start installing packages. You asked me what things are missing in Spack, so I am reporting all the issues that I am finding. The idea of t

[2017-03-03 19:26] citibeth commented on #3318
What do you need shell integration for?  If you are planning on using `spack load`, you will probably find it's also slower than you like.  Look in the docs about `spack module loads` to generate module load scripts, or (even faster to load) `spack view` to put everything you need in one tree.

[2017-03-03 19:27] adamjstewart commented on #3346
How does Hashdist handle dependencies?

[2017-03-03 19:29] citibeth commented on #3295
See #2698 for a more in-depth discussion on this issue.  The core problem is that spack find/load/etc. fails when you have more than one instance of a package installed.

[2017-03-03 19:32] davydden opened #3348 "gcc6.3.0 is broken on Sierra 10.12.3"
a fresh installation of GCC results in a broken `gfortran`:
[code]
(this is the error log from `openmpi` configure).

I did have `6.3.0` working (built around January), it could be related to dependencies. I don't recall any OSX updates in the last couple of months.

[2017-03-03 19:34] davydden commented on #3348
there was this change to `gcc` recently https://github.com/LLNL/spack/commit/4afb7a729c2886a25809d2c00d78f99f6e4286fa

@gartung: do you think it could be related?

I will try to un-do this patch and see if it fixes the issue...

[2017-03-03 19:50] citibeth commented on #3346
@certik Welcome to Spack-land.  I am not familiar with Hashdist, but I see you have at least 2 years experience with it.  I would be interested in your answer to @adamjstewart's question.  I believe that concretization is one of Spack's big strengths.

I agree, slow concretization is a problem; and to be honest, concretization is now 3x faster than it was 1 year ago. But as you point out, that's n

[2017-03-03 19:55] gartung commented on #3348
OK. Give it a try. I haven't tested this patch with Sierra.

[2017-03-03 20:00] adamjstewart commented on #3346
A cache would greatly help things like Python and R, where every package depends on Python/R and Python/R have a large list of dependencies that don't change.

[2017-03-03 20:04] adamjstewart commented on #3295
"fails" is a strong word. You just have to be more specific 😝

[2017-03-03 20:38] citibeth commented on #3295
The problem is that the level of specificity you need to use *depends on
what else happens to be installed in your Spack*.  Something that worked
yesterday could break tomorrow because someone else installed a new
version.  It's not a way to build a reliable system.

On Fri, Mar 3, 2017 at 3:04 PM, Adam J. Stewart <notifications@github.com>
wrote:

[2017-03-03 21:01] adamjstewart commented on #2387
Found the answer to my own question in the Python package:
[code]
This is pretty useful, although I'm not sure if it's useful enough to make it into the documentation.

[2017-03-03 21:01] #2387 closed

[2017-03-03 21:07] adamjstewart commented on #3295
I agree, it's certainly not something I would use in a script.

[2017-03-03 22:09] eschnett commented on #3331
No, I would close #449 instead. What I suggest above is more far-reaching. In particular, if there's a Spack command that adds a compiler `compilers.yaml`, then this wouldn't ensure that Spack keeps track of this compiler as run-time dependency of other installed packages. I rather think this needs to be done in the database of installed packages.

[2017-03-03 22:31] certik commented on #3318
@citibeth I just want to be able to load the packages somehow. `module available` doesn't list the spack packages, unless the shell integration is enabled. But given how slow it is to enable it, I can't keep it enabled all the time.

I just want something that's fast and that allows me to use the modules, reliably. See also #3295.

[2017-03-03 22:33] adamjstewart commented on #3318
@certik All you need to do is add the appropriate directory to your `MODULEPATH` in your `~/.bashrc`. It's a small part of what `setup-env.sh` does.

[2017-03-03 22:37] certik commented on #3318
@adamjstewart ah, that's it! Thank you, that makes it work for me. Here is the relevant part of my `.bashrc`, for reference:
[code]

[2017-03-03 22:38] adamjstewart commented on #3318
I'll close this issue then. Any discussion on ways to speed up our shell integration can continue in #2880.

[2017-03-03 22:38] #3318 closed

[2017-03-03 22:41] adamjstewart commented on #3201
@hueyke Can you provide us with the `spack-build.out` so we can debug this?

[2017-03-03 22:48] adamjstewart commented on #3121
Perhaps we could be more specific and raise `ConfigureError`, `BuildError`, or `InstallError` now that we have different phases?

[2017-03-03 22:58] certik opened #3353 "how to find information about a module"
Here is an example:
[code]
I would like to found out how these were built, so that I can figure out which one to load.

The best that I figured out is:
[code]
So the `chpcwgg` version is built with `+webkit`, and that's the one I want.

There is `spack load`, but that requires you to already know exactly how it was built, which of course I forget after a while (and also it's terribly slow due to #

[2017-03-03 23:00] tgamblin commented on #3353
There is actually support for this.  There is `spack load`.  You need to source the shell support (which gets you @adamjstewart's awesome bash completion too):

[code]

Then you can do this:

[code]

It'll find the appropriate module and prompt you if the spec is still ambiguous.

[2017-03-03 23:03] certik commented on #3353
@tgamblin as I tried to explain in the issue, `spack load` (sorry, I wrote `module load`, but I meant `spack load`) doesn't work for the following reasons:

* It's slow, see #3318 and #3346
* you have to know how the package was built (the correct command is actually `spack load paraview +qt ^qt +webkit %gcc@5.4.0` --- pretty complicated to remember)

[2017-03-03 23:04] tgamblin commented on #3353
Ok I read more carefully -- you also want to lookup by hash.  You can do this:

[code]

I think you actually proposed using `/` for hash references when we talked about this at LANL or on the hashdist list someplace 😄 .

[2017-03-03 23:05] certik commented on #3353
Ah, prefect! Yes, this does what I wanted:
[code]
I was trying it without the `/`.

[2017-03-03 23:05] #3353 closed

[2017-03-03 23:16] certik opened #3354 "How to find out how a package was built"
Given an already built package `/chpcwgg`:
[code]
How do I find out the way it was built? In this example the answer is:
[code]
I want this so that I can build exactly the same package, but with some modification (perhaps enable Python in paraview, but keep the `qt` built exactly the way it was, and keep the compiler exactly the way it was).

Here is one way, that I am aware of, that does *not* wo

[2017-03-03 23:40] tgamblin commented on #3346
@certik: I'm actually looking at replacing this with `pycosat`, which I think will be reasonably fast.  There are complexities in the Spack solve that aren't in, say, conda -- we can solve for build combinations, and we support preferences -- e.g. "prefer some other version of openmpi" or "prefer openblas unless the package really needs something else".

A cache is an interesting idea.  We already

[2017-03-04 00:01] gonsie opened #3356 "CPack module to create Spack packages"
This should be a thing.

[2017-03-04 00:14] adamjstewart commented on #3356
@mathstuf

[2017-03-04 00:28] eschnett opened #3358 "Cannot specify independent dependencies any more"
I want to build a package `a`, which depends on `b`, which depends on `c`, etc. I want to specify the compiler with which `c` is built. This fails:

[code]
Here `cosmomc` depends on `planck-likelihood`, which depends on `mpi`, so this should work. I'm quite certain it used to work.

I need to specify the compiler for `pkg-config` because it doesn't build with `gcc` on macOS. On the other hand, `co

[2017-03-04 00:32] citibeth commented on #3318
On Fri, Mar 3, 2017 at 5:31 PM, Ondřej Čertík <notifications@github.com>
wrote:

Just set your `MODULEPATH` env var.  You don't need all the other shell
integration stuff.

[2017-03-04 00:32] tgamblin commented on #3358
@eschnett: You can specify independent dependencies, but this is a problem with Spack's handling of variants.  It doesn't know you can depend on those things unless you add the `+foo` options for the intervening packages.  Same reason you have to write:

[code]

This will be solved with the new concretizer, which will do much more aggressive (and hopefully faster) resolution.

[2017-03-04 00:35] citibeth opened #3359 "Docs: ways to change the build environment"
From @tgamblin

Alex:

You can!  Just set them the way you normally would in python from within the package.py file.  e.g.:

Spack adds an ‘env’ shortcut to os.environ, which you can use:

[code]

You could just as easily use os.environ directly:

[code]

Or, if you’re using AutotoolsPackage or CmakePackage, you can use setup_environment:

[code]

OR, equivalently:
[code]

There are two ways to do

[2017-03-04 00:39] tgamblin commented on #3320
We do two things for CMake RPATH handling:

1. `-D CMAKE_INSTALL_RPATH_USE_LINK_PATH=FALSE`
1. `-D CMAKE_INSTALL_RPATH=<explicit value>`

The first one prevents CMake from deciding what should be appended to the project's install RPATH, and the second one is, by default, lib dirs of all the (transitive) link dependencies.  You can set `transitive_rpaths = False` in your package if you don't want t

[2017-03-04 00:47] certik commented on #3346
@citibeth In Hashdist, you create a "profile", where you list what packages (and what configuration) you want in that profile (and if you want a dependency with a certain configuration, you put it there). We currently don't handle compilers like Spack does, but that can be incorporated there too. It roughly corresponds to writing the Spack's concretization by hand, but it's not really verbose, and

[2017-03-04 00:55] tgamblin commented on #3354
@certik: we don't store this right now but I would like to.

In particular, I think it would be really useful for environments.  Say the user has installed a bunch of stuff in a (notional, not implemented yet, but we're working on it) Spack environment:

[code]

If you wanted to reproduce the user's build someplace, you could think about either reproducing it exactly (from the concrete spec) or fu

[2017-03-04 01:10] eschnett commented on #3358
Thanks.

This command line works:
[code]

[2017-03-04 01:10] #3358 closed

[2017-03-04 01:20] tgamblin commented on #3346
@certik: `pycosat` seems pretty awesome, although I think I would like a few more bindings for doing incremental solves.  I am not sure how we'd formulate certain things, like concretization preferences, without doing several solves, but maybe that is ok.  Seems like my choices are doing several solves or freeing up the possible values for certain variables, calling `itersolve()`, and sorting.

Yo

[2017-03-04 01:30] #3343 closed

[2017-03-04 01:31] tgamblin commented on #3358
ew.  apologies in advance. 😞

[2017-03-04 06:24] citibeth commented on #3346
My software stack contains ~100 packages and concretizes in ~20 seconds.  I
doubt I could manually concretize the same stack in Hashdist (or EasyBuild
or Conda or etc) anywhere near as fast.  Of course, the other systems don't
make me re-concretize every time I want to build.  I'll suspect the
concretization cache really might make solve this usability problem.

On Fri, Mar 3, 2017 at 8:20 PM, Tod

[2017-03-04 07:54] alalazo commented on #449
Superseded by #3331

[2017-03-04 07:54] #449 closed

[2017-03-04 10:13] alalazo commented on #3359
The other thing that `spack_env` provides over setting `env` directly is an analysis of what gets modified. So far it catches modifications that have no effect, like in:

- package `A` depends in some way on package `B`
- `A` wants to `unset FOO`, `B` wants to `set FOO=bar`

If you use `spack_env` you'll get a warning telling you what's happening, if you use `env` you'll just set a variable and la

[2017-03-04 13:49] #3159 closed

[2017-03-04 14:09] eschnett opened #3364 "'Spec' object has no attribute 'lapack_libs'"
I am seeing this weird error:

[code]

Do you have any pointers as to what might be causing this? It happens on Linux, but not on Darwin.

[2017-03-04 14:18] davydden commented on #3364
simply change to `spec['lapack'].libs` and `spec['blas'].libs`. The package is not up-to-date with https://github.com/LLNL/spack/pull/1875.

[2017-03-04 14:23] tgamblin commented on #3364
@alalazo: would it make sense to allow `spec['lapack'].lapack_libs` to continue working for external packages like @eschnett's?

I like the new convention, but I don't see why we couldn't preserve the real attributes since one would expect them to work in pure Python.

[2017-03-04 14:28] davydden commented on #3364
@tgamblin but do we really need to? The fix is trivial, i think it would be fewer lines of code to maintain in Spack's core if all packages use `spec['lapack'].libs`.

[2017-03-04 14:52] certik commented on #3346
I would be interested to see your stack and what spack install lines you
use to install it.

Sent from my mobile phone.

On Mar 3, 2017 11:24 PM, "Elizabeth Fischer" <notifications@github.com>
wrote:

My software stack contains ~100 packages and concretizes in ~20 seconds. I
doubt I could manually concretize the same stack in Hashdist (or EasyBuild
or Conda or etc) anywhere near as fast. Of course

[2017-03-04 15:05] eschnett commented on #3364
I see many package that use `lapack_libs` (grep shows about 60 hits). Are they all broken?

[2017-03-04 15:07] davydden commented on #3364
are you sure you are on the latest `develop` branch? All of them were supposed to be converged in https://github.com/LLNL/spack/pull/1875, @alalazo correct me if I am wrong.

[2017-03-04 15:09] eschnett commented on #3364
Yepp, needed to merge. Only a few packages are broken (`elemental`, `lammps`, `magma`).

[2017-03-04 15:09] davydden commented on #3364
I checked and see only a couple: `elemental`, `lammps`, `magma`, `phist`. Which looks like a reasonable amount of packages which slipped through.

[2017-03-04 15:10] eschnett commented on #3364
Given that `elemental` and `magma` provide very lapack-like features, it seems strange that exactly these are broken.

[2017-03-04 15:11] davydden commented on #3364
I will fix those...

[2017-03-04 15:25] alalazo commented on #3364
@eschnett They are broken because they were added after I made the change to all other packages. #1875 has been sitting there for a while and `elemental` and `magma` are pretty recent additions.

[2017-03-04 15:35] alalazo commented on #3364
@tgamblin

At a first glance I would say no. The reason is that we are querying from a `Spec`-like instance and not from the package. If we really want to go that way I think we need either:

-  a fat interface with all the virtual dependencies included
- some meta-programming mechanism (to do things neatly and attach `lapack_libs` only to `lapack` providers)

to be able to say:
[code]
which adds

[2017-03-04 15:41] adamjstewart commented on #3364
@alalazo I'm a little confused about the current state of things. In `atlas`, I see:
[code]
In `openmpi`, I see:
[code]
In `netlib-lapack` I'm seeing:
[code]
I kind of understand why some packages use `blas_libs` and others just use `libs`. But why are some properties and some aren't?

[2017-03-04 15:42] #3364 closed

[2017-03-04 15:42] alalazo commented on #3364
@adamjstewart I'll check it right now.

[2017-03-05 04:23] hueyke commented on #3201
@adamjstewart Here's the build log, thank you.
[spack-build.out.txt](https://github.com/LLNL/spack/files/819105/spack-build.out.txt)

[2017-03-05 07:36] luigi-calori commented on #3201
I' m working on qt+mesa ^mesa+gallium build on a cluster without GPU.
https://github.com/RemoteConnectionManager/spack/tree/pr/qt_on_headless_mesa
Much of the changes are to make Qt link to spack built X11 stack. If that is not your case, try to skip also script build
 '-skip', 'script'

[2017-03-06 15:20] #2232 closed

[2017-03-06 16:30] eschnett opened #3372 "Want easier way to specify compiler"
When I install a package on macOS, I often prefer to install with my own version of `gcc@6`. However, certain packages don't build with GCC, and require Apple's Clang instead. The packages that require Clang are often "unimportant" for my application (bison, cmake, gettext, pkg-config, python).

It is unfortunately very difficult to tell Spack "build everything with `%gcc`, except for these few pa

[2017-03-06 16:35] davydden commented on #3372
no, it is not. Look at `packages.yaml`, e.g.
[code]

[2017-03-06 16:37] davydden commented on #3372
please re-open if this does not solve your issue.

[2017-03-06 18:08] tgamblin commented on #3372
@eschnett: This is a similar problem to users on big cross-compiled machines, where we want to build the build dependencies with the "easy" default compiler, and other things with the fancy compiler.

See @scheibelp's PR #2548, which I think will solve your problem when it's merged, *without* the need to edit `packages.yaml`.

[2017-03-06 19:12] adamjstewart commented on #3372
Unfortunately, specifying the compiler for dependencies in your `packages.yaml` doesn't work. See #2795 and #2786

[2017-03-06 19:17] eschnett commented on #3372
When I modify `packages.yaml` as suggested, then `spack spec` does not seem to honour my choice.

[2017-03-06 19:37] davydden commented on #3372
Sorry, I forgot that there are open bugs related to this

[2017-03-06 21:16] scheibelp commented on #2786
I offered to take a look at this issue. I intend to have a PR for it by the end of 3/9

[2017-03-06 23:22] scheibelp commented on #1476
I will look at this by the end of the week and provide an update by the end of 3/10

[2017-03-07 08:46] healther opened #3374 "Spack find ignores --explicit flag"
It seems like my ```spack find``` and ```spack find --explicit``` produce exactly the same output. I'm pretty sure, that I did not install 3 versions of ```gettext``` manually... But I get

[code]

Can anyone reproduce this? Is this a known issue?

Btw. Is it intentional that the output of spack isn't written to stdout, but rather to stderr?

[2017-03-07 13:31] citibeth commented on #3374
I agree, writing this to STDERR just makes life painful for users.

[2017-03-07 13:34] citibeth commented on #3354
This feeds into Spack Envrionments.  An environment will store the original spec and fully concretized spec.

The original question is somewhat ambiguous.  More than one user-supplied spec might have resulted in the same fully concretized spec getting installed.

[2017-03-07 13:34] citibeth commented on #3356
Can you explain more about what it would do and how it would work?  And we're open to PRs...

[2017-03-07 13:39] citibeth opened #3376 "Detecting Duplicate Packages"
[@adamjstewart This is in response to a recent thread, but I cannot find it right now]

In developing naming conventions (which is probably a good thing), I think we are placing too much burden on the *name* when trying to determine if a package is duplicate.  I suggest we look at a variety of factors to come to a conclusion that two packages are "possibly duplicate."  Obvious factors to look at w

[2017-03-07 19:52] healther commented on #3376
You are referring to #3339 and #3340.

And I think this only partially addresses the problem. This would basically cover the developer aspects of ```spack```, but it doesn't really help the user who is trying to guess the correct package name. I still find the behavior of ```spack find``` and ```spack list``` confusing. They do NOT accept typical wildcard symbols (i.e. ```spack find py-*``` yields

[2017-03-08 01:17] adamjstewart commented on #3376
`spack list` does accept wildcard characters actually. You have to put them in quotes if you don't want the shell to expand them. But they aren't usually needed because wildcard characters are added to the beginning and end by default. `spack find` doesn't accept wildcard characters, you're right about that.

[2017-03-08 13:29] citibeth commented on #3376
@healther I agree with all your points.  From the developer side, I'm
suggesting we need a multi-progned approach as well.  Any convention we
come up with, there always seem to be exceptions here and there that we
didn't think about at first.

On Tue, Mar 7, 2017 at 8:17 PM, Adam J. Stewart <notifications@github.com>
wrote:

[2017-03-08 14:35] samfux84 opened #3380 "Multiple module categories"
Hi all,

I am managing the applications on a HPC cluster and currently I am testing spack to figure out if it would make sense for us to use it for building software on the cluster.

I appreciate the possibility to have the modules files created as part of a spack package. For the application life-cycle management on our cluster, we use 3 module categories "new", "supported" and "legacy" to indica

[2017-03-09 00:57] becker33 commented on #660
Problem 2 does not appear to be resolved at this time.
[code]

[2017-03-09 01:14] aprokop opened #3385 "Perl installation fails when CPATH ends in ":""
When installing perl I was getting failures:
[code]
The error started with
[code]
Searching online produced [this](http://serverfault.com/questions/145288/make-error-when-compiling-perl-5-12-1-rhel-5-5) (i don't think OS matters, though).

I checked and indeed my CPATH ended with ":". I removed that and it compiled successfully.

[2017-03-09 10:09] samfux84 opened #3387 "spack fails to build patch@2.7.5 because of symlink problems"
Hi all,

yesterday I did a fresh spack install on a virtual machine with a minimal OS installation (CentOS 7 with only few packages, including Python 2.7, git, curl and GCC 4.8.5) that still fulfills the minimal requirement for spack.

The first thing that I noticed is, that I need to build patch, but this already failed:

[code]

Looking at the error message:

[code]

it seems that there is a sym

[2017-03-09 10:53] alalazo commented on #3387
I can reproduce the problem, which is similar to other we have seen with recent versions of autotools. PR incoming

[2017-03-09 10:56] alalazo commented on #3387
@samfux84 Can you confirm that #3388 solves your problem?

[2017-03-09 11:20] samfux84 commented on #3387
@alalazo I am not very familiar with git. I just installed the master branch with

git clone https://github.com/llnl/spack.git

I don't know how to apply this patch (especially since I don't have the patch utility installed on this particular vm, since I though I can build patch with spack. It was also not mentioned in the minimum requirements of spack that one needs to have patch installed.)

I t

[2017-03-09 13:10] alalazo commented on #3387
@samfux84 The command should be:
[code]

[2017-03-09 13:25] samfux84 commented on #3387
@alalazo I was running the commands that you suggested:

[code]

But I still get the same error message about the symlinks:

[code]

and

[code]

Best regards

Sam

[2017-03-09 13:28] alalazo commented on #3387
@samfux84 That's because I had a typo, the pull request number is 3388, not 3338.

[2017-03-09 13:33] samfux84 commented on #3387
@alalazo Now the installation is working fine. Pull request 3388 solves the problem.

Thank you very much for helping me.

[2017-03-09 13:40] #3387 closed

[2017-03-09 17:47] aprokop commented on #3385
I don't have time to do PR to check that situation in the Perl package. Just recording it here should be fine for future.

[2017-03-09 17:47] #3385 closed

[2017-03-09 18:43] tgamblin commented on #3376
@healther: would you like to see wildcards added to the spec syntax?  That would allow you to also do something like this:

[code]

But we'd need to add some parsing support, and I think that full regex syntax would be difficult to support.

[2017-03-09 18:45] tgamblin commented on #3374
@healther: I am a bit confused by this, because `spack find` prints to `sys.stdout`.  I believe the output of module commands goes to stderr, which I also find annoying, but I can do this:

[code]

[2017-03-09 18:49] lee218llnl commented on #3222
Addressed by https://github.com/LLNL/spack/pull/3317/.

[2017-03-09 18:49] #3222 closed

[2017-03-09 18:58] adamjstewart commented on #3376
@tgamblin Correction:
[code]

[2017-03-10 09:36] healther commented on #3374
Mh, I can also do:
[code]

so the output of ```find``` definitely goes to stdout now and I can't reproduce what I remember happening (at least I googled a couple of weeks ago "how to pipe stderr" in connection with spack's find or list. Was this changed recently?

However the main part of this issue is still open, the ```explicit``` flag does not seem to work for me (see above)

[2017-03-10 09:45] healther commented on #3376
I'm actually not sure what exactly I'd want. All I can say is, that I expected ```spack find py-*``` to print a list of all python packages and I was confused that it didn't.

The typical scenario is that I know part of the package name by heart, but don't necessarily bother to remember the exact packagename. Take ```py-pyyaml``` for example. What I know is that I want to use ```import yaml``` in

[2017-03-10 20:21] eschnett opened #3406 "bison doesn't find m4 at run time"
While building `flex`, I had `bison` fail because it could not execute `m4`. The reason was that I had uninstalled the `m4` package (via Spack) which `bison` installed as its build dependency. Then, `bison` failed since this `m4` executable did not exist any more.

I think `m4` needs to be a run-time dependency of `bison` as well.

[2017-03-10 20:22] adamjstewart commented on #3406
Feel free to contribute a PR. Should be an easy change.

[2017-03-10 20:35] eschnett commented on #3213
I encountered this problem as well. As described above,
[code]
corrects it for me. I suggest to use this as official resolution.

[2017-03-10 22:31] JaeseungYeom opened #3407 "trying to add IBM clang-gpu on ray.llnl.gov"
This is a pre-production compiler. However, I am trying to take advantage of Spack.
So, I attempted to add it, and it did not work.
I tried it on installing Metis and failed as shown below. (Some of the characters are not correctly shown due to board limitations)
[code]
=========================================================
The last couple of lines in the file above contains the following
[code

[2017-03-10 23:09] adamjstewart commented on #3407
All of the Spack changes seem correct. Are you able to build `ncurses` with `clang-gpu` on `ppc` outside of Spack? That's how I usually determine whether or not it's a Spack problem.

[2017-03-10 23:18] adamjstewart commented on #3407
@becker33 Can the parser handle compilers with a dash in the name? I wonder if this is being parsed as `metis %clang -gpu`. @JaeseungYeom Can you post the output of `spack spec metis %clang-gpu`? Do you have any other compilers in `~/.spack/linux/compilers.yaml`?

[2017-03-10 23:53] JaeseungYeom commented on #3407
I am able to build metis out of spack using clang-gpu by exporting CC=mpiclang-gpu and CXX=mpiclang++-gpu. However, I have not separately tried ncurses yet.

I only added clang-gpu to `~/.spack/linux/compilers.yaml`. The others in the file are the ones that were already in.

The attached is the output file.
[spack-build.zip](https://github.com/LLNL/spack/files/835344/spack-build.zip)

[2017-03-11 00:53] adamjstewart commented on #3407
But what about `ncurses`?

`mpiclang-gpu != clang-gpu`.

If you really want to tell if it's a problem with Spack, you need to do everything identically. Use `clang-gpu` to build `ncurses`, use the same flags, and run `make -j160` so that there are as few differences as possible. If there's any way to get the `ncurses` build to crash outside of Spack, then we know it isn't a Spack bug.

[2017-03-11 02:29] DavidPoliakoff opened #3409 "Spack OpenBLAS errors"
I was trying to install nwchem. On spack install openblas I get an error (at bottom of message). That package appears to be broken. Thoughts?

==> Error: AttributeError: 'Spec' object has no attribute 'cppflags'
[SPACK_ROOT]/var/spack/repos/builtin/packages/openblas/package.py:143, in check_install:
     132      @run_after('install')
     133      def check_install(self):
     134          spec =

[2017-03-11 02:58] JaeseungYeom commented on #3407
I can confirm that I am able to build both metis-5.1.0 and ncurses-6.0 outside of spack by exporting CC=clang-gpu and CXX=clang++-gpu and `make -j160`

[2017-03-11 03:13] adamjstewart commented on #3409
Try updating to the latest develop branch. This was fixed in #3344.

[2017-03-11 03:13] #3409 closed

[2017-03-11 03:34] adamjstewart commented on #3407
Alright, we're making progress! Now, when you built it outside of Spack, did you add all of the patches in the `ncurses` package, and did you add the same configure flags? Are you sure the `pic_flag` for `clang-gpu` is the same as the one for `clang`? Did you use `CPPFLAGS=-P`? That caused problems with the Intel compilers so it was recently (today) switched to only apply to GCC. I don't think the

[2017-03-11 04:16] JaeseungYeom commented on #3407
I did not apply any specific option. I simple unzip the packages downloaded by spack and built them as they are.
In config.log of ncurses, I see `ac_cv_env_CPPFLAGS_set=` and `ac_cv_env_CPPFLAGS_value=`

I am not sure about how to find out pic_flag. The below is what I see in clang-gpu.
[code]
I was not able to build any other package. To be precise, I have not tried much.
Considering the clang-gp

[2017-03-11 04:24] JaeseungYeom commented on #3407
Actually, I just tried out fftw.
[code]

[2017-03-11 09:15] davydden opened #3412 "pkg-config is broken on a fresh Ubuntu"
subj
[code]

[2017-03-11 09:22] davydden commented on #3412
@mamelara must be related to this patch https://github.com/LLNL/spack/commit/15f80ed15c31c4a36c05d9fe405f9bc712898b1c

[2017-03-11 09:24] davydden commented on #3412
that's with Ubuntu's `Python 2.7.12`

[2017-03-11 09:25] davydden commented on #3412
oh, @tgamblin already has a fix https://github.com/LLNL/spack/pull/3411

[2017-03-11 13:48] #3412 closed

[2017-03-11 15:05] adamjstewart commented on #3407
That doesn't tell me anything other than that the build crashed somewhere during `make`. So it looks like `clang-gpu` is just a wrapper around `clang`, so all of the flags should be the same. Are you able to build `ncurses` with `clang`? Can you try building a few simple packages like `zlib` or `gmp` with `clang-gpu`?

[2017-03-11 15:09] adamjstewart commented on #1490
Fixed by #3411

[2017-03-11 15:09] #1490 closed

[2017-03-11 16:59] JaeseungYeom commented on #3407
I can build ncurses and zlib with clang in spack but not gmp.
I cannot build all three with clang-gpu.

[2017-03-11 18:38] #3213 closed

[2017-03-11 19:10] tgamblin commented on #2874
Is this still an issue?

[2017-03-11 19:14] tgamblin commented on #2801
They should support all the same parameters fetch strategies do.

[2017-03-11 19:16] tgamblin commented on #2701
I believe we settled on underscores, if necessary.  I prefer short and sweet if possible.

[2017-03-11 19:16] #2701 closed

[2017-03-11 21:52] adamjstewart commented on #2874
I'm still not seeing any documentation on `PythonPackage` or `RPackage`, unless I'm doing something wrong.

[2017-03-12 03:04] #3406 closed

[2017-03-12 07:02] alalazo commented on #2874
@adamjstewart What about [this](http://spack.readthedocs.io/en/latest/spack.build_systems.html#module-spack.build_systems.python) or [this](http://spack.readthedocs.io/en/latest/spack.build_systems.html#module-spack.build_systems.r) ? Or were you specifically looking for something not in the API part of the docs?

[2017-03-12 08:28] davydden commented on #2874
at the bottom of the homepage of the docs it says

probably it's not an issue of updating, but building documentation?

[2017-03-12 14:35] adamjstewart commented on #2874
Ah, I see it now. I swear it wasn't there for the longest time. Weird.

[2017-03-12 20:17] davydden opened #3426 "compiler find does not automatically mix clang and gfortran anymore"
@BarrySmith added in https://github.com/LLNL/spack/pull/2192 a nice feature so that `gfortran` is setup within `clang` compiler in Spack. It appers that this feature is currently broken.
I am testing  a simple bash script which has:
[code]
which produces
[code]
however `fortran` part is still missing in `clang@8.0.0-apple`:
[code]

[2017-03-13 02:18] eschnett commented on #3204
I see the same error on macOS Sierra with Apple's clang and OpenBLAS. It seems the problem is independent of Intel.

[2017-03-13 05:56] mamelara opened #3428 "spack compiler find on Cray says no new compilers found"
Deleted my compilers.yaml and tried to create a new one but this happens

[code]

It still writes to compilers.yaml and the yaml configuration looks correct but the output needs to be fixed.

[2017-03-14 04:25] scheibelp commented on #3428
I believe I created this with #2999 - I will work on having a fix tomorrow.

[2017-03-14 04:28] scheibelp opened #3434 "Compiler is not found"
Issue was originally reported by @BarrySmith in https://github.com/LLNL/spack/pull/3427 (copied here):

it does not even detect the clang compilers period! I used git bisect and found

e727f56d89ccd2aa9aabc14cf4efb471f32341dc is the first bad commit

In other words before this bad commit #2999 I would get

[code]

Afterwards I get

[code]

The "bad" commit it is pretty big so I don't know where to

[2017-03-14 04:31] scheibelp commented on #3434
@BarrySmith apologies but I realized this should be opened as a separate issue so I copied my questions to you into this thread

I want to be 100% sure, does your output in fact look exactly like:

[code]

? I would have expected it to look like:

[code]

(only difference is "Added 2 new compilers" vs. "Added 3 new compilers")

Also: is there an entry for clang in ```/Users/barrysmith/.spack/compi

[2017-03-14 04:33] scheibelp commented on #3434
This is related to https://github.com/LLNL/spack/issues/3428 but in that case the compilers are actually found (but a confusing error message says otherwise). In this case the compiler is actually not added to the configuration.

[2017-03-14 10:32] weijianwen opened #3435 "Failed to build `zlib %pgi@16` due to `pgcc-Error-Unknown switch: -include`"
I tried to build `zlib %pgi@16` in Spack, but failed with the message `pgcc-Error-Unknown switch: -include` . I find nowhere in zlib's package that `-include` flag is introduced.  It works if I build zlib against PGI without spack.

[code]

However, zlib works well with PGI and no `-include zconf.h` flag is introduce during manual installation.

[code]

[2017-03-14 13:09] adamjstewart commented on #3435
I am able to reproduce this. It looks like `zlib@1.2.8` works fine with PGI but `zlib@1.2.11` does not. I'll submit a bug report.

[2017-03-14 13:17] adamjstewart commented on #3435
Hmm, you're right that it builds fine outside of Spack. If I convert it from `AutotoolsPackage` to `Package` it magically works again. But I can't think of what the difference could be...

[2017-03-14 13:22] adamjstewart commented on #3435
Figured it out. `Package` calls `./configure` while `AutotoolsPackage` calls `/absolute/path/to/configure`. If I call `/absolute/path/to/configure` outside of Spack, it crashes with the same error message. Although `zlib` comes with a `configure` script, it doesn't actually use `AutotoolsPackage`. I'll have a PR shortly to fix this.

[2017-03-14 14:43] #3435 closed

[2017-03-14 15:05] mamelara opened #3437 "/ before hash in spec causing No Such File Or Directory Error for debug log"
I always see this whenever I use ``spack -vd install [package]``

```/global/u2/m/mamelara/spack/lib/spack/env/gcc/gcc: line 358: /global/u2/m/mamelara/spack-cc-libelf@0.8.13%gcc@6.1.0 arch=cray-CNL-ivybridge /x2yjrjr.in.log: No such file or directory```

[2017-03-14 15:12] eschnett commented on #3437
This is not due to the spacing, this is due to the slash `/` before the hash.

[2017-03-14 15:14] tgamblin commented on #3437
We should rename the debug logs for compilers -- the names date back to the very first versions of Spack.  They should also probably go in the build stage and not in the current working directory.

[2017-03-14 16:14] BarrySmith commented on #3434
Sorry, my mistake, I was lazy when I cut and pasted the message and just removed the Clang from the list. It does indicate only 2.

[code]

I manully removed the .spack/darwin/compilers.yaml before each run and then checked the file afterwards and it listed the same items as was printed to stdout. So it truly is not finding the clang.

[2017-03-14 16:48] #3426 closed

[2017-03-14 18:04] scheibelp commented on #3434
To make sure of that can you see whether ```spack compiler list``` outputs clang?

Part of what I added in #2999 was to avoid re-adding an entry if it already existed, there's a few potential config files other than the one you manually removed (and if clang shows up in the listing it would be in one of those):

* ~/.spack/darwin/compilers.yaml
* ~/.spack/compilers.yaml
* [spack git repo]/etc/spac

[2017-03-14 19:37] BarrySmith commented on #3434
Crap, my fault. Sorry I wasted your time. I deleted the ~/.spack/darwin/compilers.yaml but didn't think about the ~/.spack/compilers.yaml file (which only had clang listed, which is why I got the messages only about finding the other compilers, since it alreay knew about clang). When I removed both files spack did detect all the compilers.

Having both locations ~/.spack/darwin/compilers.yaml and

[2017-03-14 19:37] #3434 closed

[2017-03-14 19:49] scheibelp commented on #3434
Not at all! Part of my recent work has been to attempt to make compiler configuration handling simpler. If it is confusing then I need to improve it. I appreciate the responses

[2017-03-14 21:14] citibeth commented on #3380
Our proposed Spack Environments would make this pretty simple.

[2017-03-15 03:24] nicksan2c opened #3443 "spack install elfutils fails"
`spack install elfutils` fails as follows

[code]

elfutils was migrated as of this commit Sat, 24 Dec 2016 21:31:41 +0000 (22:31 +0100):

https://sourceware.org/git/?p=elfutils.git;a=commit;h=1700fd25e6caf26663af2bd994d1d99fab9df59f

fedorahosted.org was retired on March 1st, 2017

https://fedoraproject.org/wiki/Infrastructure/Fedorahosted-retirement

Docs need to be updated @ https://spack.readt

[2017-03-15 03:26] nicksan2c commented on #3443
Also, as of this writing, the following versions exists

elfutils-0.163
elfutils-0.164
elfutils-0.165
elfutils-0.166
elfutils-0.167
elfutils-0.168

[2017-03-15 03:58] adamjstewart commented on #3443
Feel free to contribute a PR. Otherwise someone will get to it eventually.

[2017-03-15 05:26] #3294 closed

[2017-03-15 14:30] eschnett commented on #3346
My concretization time is now at 153 seconds...

[2017-03-15 18:12] eschnett opened #3446 "Python process at 100% while `make` is running"
I notice that there is a `python` process consuming 100% CPU time while a package is building or installing. However, during that time, Spack should not be doing much. I wonder whether there is an accidental busy-wait somewhere?

[2017-03-15 18:25] adamjstewart commented on #2358
Pretty sure this is obsolete now that `nolink` is invalid.

[2017-03-15 18:25] #2358 closed

[2017-03-15 18:37] adamjstewart commented on #3446
Possible duplicate of #2304

[2017-03-15 19:10] popescua opened #3448 "Julia's package manager certificate not accessible in version 0.5.1"
After successfully installing version 0.5.1 non-root users are denied access to Julia's package manager certificate located at `{$ROOT}/etc/curl/cacert.pem`

To my opinion the rights for subdirectory `curl` are not set properly. You might consider adjusting it accordingly.

[2017-03-15 19:26] adamjstewart commented on #3448
@eschnett

[2017-03-15 19:28] adamjstewart commented on #3448
It also looks like we're downloading the cert with `curl` during `install`. This won't work on air-gapped clusters. @eschnett Can you add this file as a checksummed resource and modify the file permissions?

[2017-03-15 21:01] #2411 closed

[2017-03-16 01:12] eschnett commented on #2304
If log redirection takes 100% CPU time, does this mean that this is the limiting factor for performance? In the sense that things would install faster without log redirection?

[2017-03-16 01:12] eschnett commented on #3446
Yes, a duplicate.

[2017-03-16 01:12] #3446 closed

[2017-03-16 13:03] adamjstewart commented on #2617
#1875 is merged now. Can this issue be closed?

[2017-03-16 13:05] davydden commented on #2617
yes, let's close it.

[2017-03-16 13:05] #2617 closed

[2017-03-16 13:06] adamjstewart commented on #2589
I think this can be closed now that #2652 has been merged. Reopen if I'm wrong.

[2017-03-16 13:06] #2589 closed

[2017-03-16 13:08] adamjstewart commented on #2558
`type='nolink'` has been gone for a while now.

[2017-03-16 13:08] #2558 closed

[2017-03-16 13:12] adamjstewart commented on #2473
`@system` is no longer the recommended approach. Either use the actual version number of the system package or don't specify the version number at all. The documentation has been updated to reflect this.

[2017-03-16 13:12] #2473 closed

[2017-03-16 13:29] adamjstewart commented on #1821
@tgamblin Can this be closed now that #1875 is merged?

[2017-03-16 13:39] eschnett opened #3465 "OpenMP crashes: Cannot install gcc and llvm simultaneously"
I first built gcc (6.3) with a system compiler, then llvm (3.9) with that gcc, both via Spack. I then created a view that contained both gcc and llvm. My intention was to combine the respective Clang and Gfortran.

However, this lead to crashes and segfaults in applications built with that version of gcc. I tracked this down to a shared library confusion: Both gcc and llvm provide a shared library

[2017-03-16 14:35] tgamblin commented on #1821
Yep!

[2017-03-16 14:35] #1821 closed

[2017-03-16 18:24] #3428 closed

[2017-03-16 21:35] adamjstewart commented on #2634
I've ran into this bug several times this week. It seems like every time I try to install something, hit <kbd>Ctrl</kbd>+<kbd>C</kbd> during configure, and re-run `spack install`, it crashes.

Normally (in the past) when I hit <kbd>Ctrl</kbd>+<kbd>C</kbd>, Spack would print an error message starting with `==>` mentioning that it caught my signal. Now it simply prints `Terminated`.

[2017-03-16 21:37] jrood-nrel commented on #2634
Almost all of my builds are as batch jobs and I encounter this several times a week. It's currently my least favorite thing about Spack.

[2017-03-16 21:52] adamjstewart commented on #2634
Just did it again. I think I can reliably reproduce this now if anyone has any fixes they want tested.

[2017-03-17 00:55] #2903 closed

[2017-03-17 04:07] #2786 closed

[2017-03-17 04:08] #1476 closed

[2017-03-17 04:17] becker33 commented on #2359
@ashkan2200 is this issue occurring on a Cray machine or some other platform?

[2017-03-17 09:28] ashkan2200 commented on #2359
@becker33 , no, the issue was on a cluster with infiniband network.

[2017-03-17 12:17] samfux84 opened #3471 "Building curl@7.52.1 with system openssl"
Hi all,

I would like to build curl such that it supports https:// domains. This requires openssl. According to http://spack.readthedocs.io/en/latest/getting_started.html#openssl it is recommended to use the system openssl. I modified the packages.yaml file according to the documentation:

[code]

I am using CentOS 7 and installed the required openssl rpms through the package manager:

[code]

For

[2017-03-17 13:21] adamjstewart commented on #3471
First of all, you should never modify `etc/spack/defaults/packages.yaml`. These are the defaults that ship with Spack and are likely to change, preventing you from upgrading or causing you to accidentally push that commit to a PR. Spack has a hierarchy of configuration files:

* `~/.spack/linux`
* `~/.spack`
* `etc/spack/linux`
* `etc/spack`
* `etc/spack/defaults`

You can put your configuration f

[2017-03-17 13:31] adamjstewart commented on #3471
For example, my `~/.spack/packages.yaml` contains:
[code]
this should also work:
[code]

[2017-03-17 13:31] samfux84 commented on #3471
Thank you for helping me with this issue.

Regarding the modification of packages.yaml, does this apply to all config files ? If I do a fresh spack installation, should I copy all of the .yaml files to ~/.spack and modify them there ?

I will soon try your suggestion and provide some feedback.

[2017-03-17 13:41] adamjstewart commented on #3471
Yes, you should leave the configuration files in `etc/spack/defaults` alone. There's no need to copy them. Any configuration files in `~/.spack` will be merged with the defaults. Although, if you want to keep track of everything Spack sets as default, there's no harm in copying them.

[2017-03-17 13:43] adamjstewart commented on #3471
Of course, there's nothing wrong with modifying `etc/spack/defaults`. It won't break Spack or anything, and it didn't cause your problem. But if you ever need to update to a newer version of Spack or contribute a PR, modifications to `etc/spack/defaults` could cause problems. These files are tracked by git, whereas things in `~/.spack` aren't.

[2017-03-17 13:45] samfux84 commented on #3471
I am sorry for the misunderanding. I meant should I copy the config files to ~/.spack and modify then the config files in ~/.spack, not the ones in default.

[2017-03-17 13:54] adamjstewart commented on #3471
Actually, it looks like you do need to specify the version, you can't leave it blank. You can find the version of OpenSSL by running:
[code]
I'll add that to the documentation.

[2017-03-17 14:19] #2802 closed

[2017-03-17 14:31] eschnett opened #3473 "Cannot find Python function `resource` in documentation"
I am trying to add a `resource` call to a package. I need to know which keywords arguments it expects. I currently cannot find this in the documentation.

I notice two problems:
- When I follow a link in a search result, I end up at the top of a very large page, where I have to search again. I expect to be placed near the term which I searched.
- The two pages `spack package` and `Packaging Guide`

[2017-03-17 14:46] samfux84 commented on #3471
I did now a fresh spack installation (currently I am only doing test installations, therefore redoing it does not take long) and modified only config files in ~/.spack/linux
[code]

[code]
I tried both:

- spack install -v curl@7.52.1
- spack install -v curl@7.52.1 ^openssl@1.0.1e

In both cases openssl was not recognized.

[2017-03-17 14:55] #2846 closed

[2017-03-17 14:55] adamjstewart commented on #3471
Do you have the openssl development headers installed?

[2017-03-17 14:56] adamjstewart commented on #3471
Reopening as `@system` wasn't actually the problem this time.

[2017-03-17 14:57] adamjstewart commented on #3473
I don't think we have any control over that, but I agree that it is very annoying.

The rest of the comments I completely agree with.

[2017-03-17 15:14] samfux84 commented on #3471
Thank you very much for your help. The openssl-devel package was missing. After installing it, curl recognized openssl and everything compiled fine.

[2017-03-17 15:31] #3471 closed

[2017-03-17 16:09] eschnett opened #3475 "Unclear error message with `resource`"
I just received this error message:
[code]

I assume this resource declaration is to blame:
[code]

The error message should be more descriptive, telling me what is wrong. (I don't know yet what is wrong -- I'm assuming I'm missing a keyword argument.)

[2017-03-17 16:15] eschnett commented on #3448
The problem seems to be that `curl` creates a subdirectory with restrictive permissions.

How do I fetch a single file via `resource`? Do you have an example?

[2017-03-17 16:20] adamjstewart commented on #3448
The following files contain examples of how to use `resource`:
[code]
To fetch a single file instead of a tarball, try adding `expand=False`. If that doesn't work, let me know.

[2017-03-17 16:21] adamjstewart commented on #3475
Try adding `expand=False`. I think it's trying to find the extension of the tarball, but since it isn't a tarball it's returning None.

[2017-03-17 17:08] adamjstewart opened #3476 "Unable to uninstall packages that aren't in Spack"
@alalazo I know you were thinking about how to handle things like `spack module refresh` for packages that were installed on a branch but haven't yet made it into develop. Here is another case that should be solved.

I added a package for `py-abipy` and installed it. Then I switched back to develop, where this package does not exist. When I run `spack uninstall abipy`, this is what I get:
[code]
I

[2017-03-17 17:15] alalazo commented on #3476
@adamjstewart Yes. The root problem is the incoherent construction of a repository for the specs in the DB: the bugs in `spack module refresh` and `spack uninstall` are just the symptoms.

[2017-03-17 17:17] scheibelp commented on #2164
Resolved by https://github.com/LLNL/spack/pull/2999 (which also includes an updated error message to point you to files where there are duplicates in case a user manually updates multiple files)

Please reopen if you see this again.

[2017-03-17 17:17] #2164 closed

[2017-03-17 17:40] KineticTheory opened #3477 "Cray: Unable to target mic-knl on LANL's Trinity machine"
Trinity has two types of back-end machines: haswell and mic-knl.  Spack works great for targeting the haswells.  When targeting the mic-knl nodes, I normally `module swap craype-haswell craype-mic-knl`, but I can't figure out how to do this with spack. BTW - All builds are done from the haswell front-end.

For example:
[code]

Okay that looks good for the haswells, but we want to target the mic-kn

[2017-03-17 17:41] adamjstewart opened #3478 "Spack-built Python: ImportError: No module named _io"
Has anyone seen this error message before?
[code]
It occurs for me on develop, but only on macOS. It's definitely new, as I've never seen it before. @davydden?

[2017-03-17 17:53] davydden commented on #3478
i think i saw those when there was a misunderstanding between system provided python and the one build by spack, see https://github.com/LLNL/spack/issues/2534

[2017-03-17 17:54] adamjstewart commented on #3478
Yep, seems like the same problem. I guess this was never resolved.

[2017-03-17 17:55] davydden commented on #3478
current python works for me on Sierra:
[code]

[2017-03-17 17:56] davydden commented on #3478
that one was resolved by https://github.com/LLNL/spack/pull/2560 which makes sure the same python is used to configure slepc as that which was used to build petsc.

[2017-03-17 18:06] adamjstewart commented on #3478
Ah, so it's a different problem then. Your problem was that you were using the wrong Python. My problem is that `io` can't be imported at all with Spack-installed Python.

[2017-03-17 18:06] eschnett commented on #3448
I tried these lines:
[code]
This fails with
[code]
I notice the directory `/home/eschnett/src/spack/var/spack/stage/resource-cacert-ulfd66l4vuuu6osw5med2qsmt4agxztt` is empty. I don't think it should be -- shouldn't this be either the downloaded file, or contain the downloaded file?

[2017-03-17 18:09] adamjstewart commented on #3448
@tgamblin? Does `resource` not support `expand=False`?

[2017-03-17 18:10] eschnett commented on #3475
Thanks for the pointer. (It actually doesn't help.) I asked for help about resolving this elsewhere; I wanted to open this ticket mostly to get a better error message. I don't want to spread out the discussion about resolving this to multiple places.

[2017-03-17 18:18] davydden commented on #3478
Correct

[2017-03-17 18:18] scheibelp commented on #3448
Resource should support ```expand=False```: I've fixed issues with that before e.g. https://github.com/LLNL/spack/pull/1310

I likely won't get a chance to look at this until 3/21. In the meantime:

If you run ```spack clean julia``` before trying an installation does that help?

If you remove ```destination=cacert.pem``` does it at least get past the staging phase? Certainly it should support set

[2017-03-17 18:38] eschnett commented on #3448
The original issue can be corrected by a strategically placed `mkdirp` before curl creates the directory.

[2017-03-17 18:41] eschnett commented on #3448
I usually start with a `spack uninstall`, and a `rm -rf var/spack/stage /tmp/$USER/spack-stage`, since these are often necessary to make things build. Does a `spack clean` do any more than that?

[2017-03-17 18:43] scheibelp commented on #3448
```spack clean``` only removes the staging directory so is a subset of what you did.

[2017-03-17 18:44] xjrc commented on #3478
@adamjstewart: For what it's worth, this was the error I was getting before #1435 was merged.  The problem was that user configuration was getting in the way and causing shared libraries (e.g. `_io.so`) from being installed in the Python Spack directory.  It may be worthwhile to check and see if `_io.so` is located in `/path/to/spack/python/lib/python2.7/lib-dynload` and to figure out what could b

[2017-03-17 19:45] adamjstewart commented on #3478
Thanks @xjrc. `_io.so` is indeed not installed anywhere in the Python installation directory. This also causes `make test` to fail. Any idea where these user configuration files would be hiding? I'll start poking around.

[2017-03-17 19:47] eschnett commented on #3448
The error message with and without the `destination=` keyword is the same:
[code]

[2017-03-17 20:05] xjrc commented on #3478
@adamjstewart: You can find information on the configuration files that can be used to change install paths [here](https://docs.python.org/2/install/index.html#distutils-configuration-files).  These files shouldn't be causing any problems after #1435, but I may have missed something in my fix related to a non-user configuration level.

To debug this, I'd recommend saving the install stage for `pyt

[2017-03-17 20:20] adamjstewart commented on #3478
@xjrc You didn't miss anything in `Makefile.pre.in`:
[code]
I'll keep looking.

[2017-03-17 20:33] hartzell opened #3484 "`spack activate py-virtualenv` fails to activate `py-setuptools`"
I've starting installing and activating py-virtualenv as part of a standard shared toolset.  Here's the bit of the script that drives the installation.

[code]

I was suprised to discover that activating `py-virtualenv` did not activate the apparently-required `py-setuptools` (happens with python2 and python3).

E.g.  Here's the python3 version:
- adding the installed python directory to PATH;
- p

[2017-03-17 20:38] adamjstewart commented on #3478
No suspicious environment variables like `DYLD_LIBRARY_PATH` that could be causing this problem.

[2017-03-17 20:42] adamjstewart commented on #3484
Try:
[code]
If that works I can submit a PR. People keep forgetting that the default deptype is `('build', 'link')`, not `('build', 'run')`. I'm pretty sure we only activate run deptypes.

[2017-03-17 20:55] adamjstewart commented on #3484
This change solved the problem for me. Note that I had to uninstall and reinstall `py-virtualenv` so that the dependency was correct in the database. `spack reindex` may also have worked. I'll submit a PR shortly.

[2017-03-17 21:07] #3448 closed

[2017-03-17 21:14] hartzell commented on #3484
Do you have enough evidence that I can skip testing your change or should I still take it for a spin?

You get bonus points though, I'm still unhappy with the gyrations I did for making the gtkplus build work again, I'll go check if the thing that's tripping it up is the missing 'run' bit...).

[2017-03-17 21:25] adamjstewart commented on #3484
Yeah, I'm satisfied that my fix works. But you're welcome to test it as well.

There actually were several other packages missing the `'run'` deptype. See #3486.

[2017-03-17 21:25] #3484 closed

[2017-03-17 21:28] adamjstewart commented on #3478
Also tried upgrading the Anaconda installation that I run Spack with so that it would be the same version as the Python I am trying to install, but that didn't work. Nor did running Spack with the system Python.

[2017-03-17 21:48] hartzell commented on #3484
@adamjstewart -- **Thank you for fixing/PR-ing it.**

I'll wait for it to come around after the merge and see if it fixes the build.

[2017-03-17 23:03] hartzell commented on #3374
Putting aside the issue of where the output goes.....

`spack find`, `spack find -e` and `spack find -E` all seem to return the same output.

[code]

I pulled this demonstration out of a tree that has a Jenkins job adding things, but it doesn't appear that anything was added during the window in which I ran the three commands.

The only explicitly added thing in the
`linux-centos7-x86_64 / gcc@4.8

[2017-03-18 14:05] adamjstewart commented on #3478
Found the error message that explains why `_io.so` was never installed:
[code]
Now I just need to figure out why `__PyCodecInfo_GetIncrementalDecoder` wasn't found.

[2017-03-18 14:26] weijianwen opened #3487 "spec['mpi'].mpicc doesn't work for MPI in intel-parallel-studio"
I failed to build mdtest with Intel Parallel Studio due to "'Spec' object has no attribute 'mpicc'" issue.  mdtest is an MPI program to test metadata performance on filesystem.

The command to reproduce this issue and the error message is listed below.

[code]

mdtest's build process is organized in Makefiile shipped with it. What Spack does is to replace the "$(CC.$(OS))'" string with the selecte

[2017-03-18 14:35] adamjstewart commented on #3478
Submitted a bug report with Python: http://bugs.python.org/issue29846

[2017-03-18 14:36] adamjstewart commented on #3487
@alalazo

[2017-03-18 14:51] alalazo commented on #3487
For other MPI packages this is done like:
[code]
which seems to be missing from `intel-parallel-studio`.

[2017-03-18 14:56] tgamblin commented on #3487
The `intel-parallel-studio` package needs to define `mpicc` and related attributes in a `setup-dependent-environment` method.  Parallel studio is based on MPICH, so you can probably take the `setup_dependent_environment` from `mpich` to make this work.  You probably want to set the attributes and environment variables conditionally, depending on whether parallel studio is built with `+mpi`.

This

[2017-03-18 15:14] alalazo commented on #3487
Now that directives can be inherited in a hierarchy, what do you think of having a `providers` sub-folder in `spack` where to collect virtual dependencies and common implementations in some way? If we come up with a good design, we can probably use the base classes there as mixins. Something like:
[code]

[2017-03-18 15:51] weijianwen commented on #3487
@alalazo Regarding MPI wappers, things got a bit compited for `intel-parallel-studio` since it has two suites for invoking GNU and Intel compilers backend seprately. To take `MPICC` for example,

* `mpicc` invokes `gcc`
* `mpiicc` invokes `icc`

I think @adamjstewart mentioned similar simulaition when dealing with `intel` and `intel-parallel-studio`. His workound is to install two (almost) duplica

[2017-03-18 16:02] tgamblin commented on #3487
In spack, that's the best way to handle this, I think.  We don't assume that a package can dynamically swap compiler backends (because most don't), so we install two versions in cases like this.

Is the wrapper in Intel MPI significantly different from the wrapper in mpich?  The important part for spack builds is that the wrapper accepts MPICH_CC, MPICH_CXX, etc. variables.  If it doesn't, then se

[2017-03-18 16:21] weijianwen commented on #3487
`MPICC` environment variable works for MPI in intel-parallel-studio. But for `MPICH_CC`, I am not sure about it.

[2017-03-18 16:32] tgamblin commented on #3487
@weijianwen: can you edit the mpich script to see if it is just the same one from mpich?

[2017-03-18 16:39] weijianwen commented on #3487
@tgamblin Shall I add `setup_dependent_environment` fucntion similiar to `mpich` into `intel-parallel-studio` package? After that I retry buiding of mdtest.

[2017-03-18 16:48] tgamblin commented on #3487
You likely need both serup_dependent_environment and setup_dependent_package.  But yes!  I would try that.

[2017-03-18 16:52] davydden commented on #3487
yes, i think this is how it should be done. This is also the same for things like single-threaded Atlas and multithreaded Atlas -- they can probably be stored within a single prefix, but we don't want to do it because we want a single package be specific, in that case have `+openmp` flag and thereby return correct libraries.

In your case you would have two installations of intel-mpi, the one with

[2017-03-18 16:54] davydden commented on #3487
@weijianwen i would look at `mpich` and see how everything is done there and what is missing in `intel-parallel-studio` package. Then just copy-paste and add some ifs for intel/gcc compilers.

[2017-03-18 18:14] alalazo commented on #3487
If I remember correctly: `mpiicc` always calls `icc` as compiler, while `mpicc` can be driven via `MPICH_CC` and defaults to `gcc` if the environment variable is not set.

[2017-03-18 18:43] davydden commented on #3487
you are right.

Actually, there is already a 1.5 month old PR which aims at fixing the issue https://github.com/LLNL/spack/pull/2980

[2017-03-18 18:43] davydden commented on #3487
see https://github.com/LLNL/spack/pull/2980#issuecomment-276747987

[2017-03-18 20:14] adamjstewart commented on #3478
According to the Python developers:

Removing `--enable-shared` from the build solves the problem. I think this is the best way to go, at least on macOS.

[2017-03-19 01:14] #3247 closed

[2017-03-19 16:57] hartzell commented on #3484
Closing the loop, @adamjstewart's PR fixed my problem.  **THANKS!**

[2017-03-20 02:07] weijianwen opened #3493 "Do not use "~" in the mirror path, use the full path instead"
I followed Spack's Mirrors Guide on http://spack.readthedocs.io/en/latest/mirrors.html?highlight=mirror to configure a local mirror. After adding packages, however, curl kept complaining about failing to fetch `/spack/mirror/xxx` file which did exist there.

[code]

It turned out that curl doesn't interprete `~` as `$HOME`. As a workaround, mirror path should be specified in full without `~`, for

[2017-03-20 11:42] adamjstewart commented on #3493
That's my fault. I replaced all occurrences of `/home/username` with `~` so there wouldn't be random usernames scattered throughout the documentation.

[2017-03-20 14:06] citibeth commented on #3493
Should the docs be change back?  Or should Spack be changed to properly expand the tilde?

[2017-03-20 17:48] alalazo commented on #3493
@citibeth @adamjstewart  Or we may take common user names from other domains (like cryptography), and use "Alice" and "Bob" (or anything else we might like) all other the place.

[2017-03-20 17:50] adamjstewart commented on #3493
I would be fine with just `/home/username` everywhere.

[2017-03-20 21:35] healther opened #3501 "Incorrect dependency handling on spack load --dependencies"
I wanted to take a shot at #3374 (now fixed by #3492) but I ran into dependency tracking issues when I wanted to use ```py-pudb```

[code]

spack, for some reason, decided that it should load ```py-setuptools```, ```py-six```, ```py-packaging```, ```py-pyparsing``` and ```py-appdirs``` even though it concretizes the spec as follows:

[code]

If I'm reading this correctly the missing packages shoul

[2017-03-20 21:40] adamjstewart commented on #3501
This looks correct. `py-pudb` only has a build dependency on `py-setuptools`. When you load a package, you shouldn't load build dependencies. A build dependency means "this is needed to build the package, but you can delete it afterwards for all I care". The correct deptype for this one should be `type=('build', 'run')`. I'll submit a PR shortly.

[2017-03-20 21:48] healther commented on #3501
It actually (at least for me also has a run-time dependency. At least:
[code]
(missing the 5 packages mentioned above)
[code]
loading setuptools is actually required
[code]

[2017-03-20 21:50] adamjstewart commented on #3501
Exactly. It _should_ have a runtime dependency, but the `package.py` didn't declare it. This is corrected in #3502.

[2017-03-20 21:55] healther commented on #3501
Ah, sorry then I misread your answer. However that does not fix my problem (I should really do a ```git diff``` before posting, I had changed that locally without having an effect).

[2017-03-20 22:51] jrood-nrel commented on #3354
I haven't thought about the implementation issues of this, but I would like to see `spack-build.out` move to the installation prefix at installation time, mainly to see the configure line.

[2017-03-20 23:02] goxberry commented on #3156
@citibeth Out of curiosity, has there been any updates on multi-user Spack?

[2017-03-20 23:05] adamjstewart commented on #3354
@jrood-nrel It already is. Check for `<prefix>/.spack/build.out`.

[2017-03-21 01:30] citibeth commented on #3156
No updates, but I still think it's a good idea.  This would be a MAJOR
structural change to Spack, which would require discussion and buy-in
before it's implemented.

We have not yet had that discussion.  Do you have any thoughts on the
matter?

On Mon, Mar 20, 2017 at 7:02 PM, Geoffrey Oxberry <notifications@github.com>
wrote:

[2017-03-21 05:47] weijianwen commented on #3487
Thank you, @davydden . I cherry-picked #2980 commits but it doesn't work. That PR needs to fix two things:

1. Missing `setup_dependent_environment` for `MPICC` etc.
2. Incorrect paths for MPI wrappers like `mpicc` for intel-parallel-studio.

I'll this issue and move onto #2980 .

[2017-03-21 05:47] #3487 closed

[2017-03-21 09:32] healther commented on #3501
Okay I started to poke around a bit and it seems that @adamjstewart 's patch regarding the ```py-setuptools``` run-dependency of ```py-pudb``` doesn't make it into the db. Even after a ```spack reindex```.
At least my ```opt/spack/.spack-db/index.json``` didn't change after pulling the current LLNL-develop and running ```spack reindex```.
Is this intentional behavior?

[2017-03-21 09:59] healther commented on #3501
Turns out I also needed to reinstall ```py-pudb```, is it possible that the load commands etc are based on the ```package.py``` at the time of the install? If so maybe there should be a warning if a user wants to load a package which ```package.py``` has changed

[2017-03-21 10:04] healther commented on #3501
After some further testing:
It is sufficient to just _additionally_ install ```py-pudb``` after the update of its ```package.py```, this however leaves me with two installed ```py-pudb```'s, which are both loaded on a ```spack load py-pudb``` call, which is definitely not what I expected.
I'm not comfortable with the silence of ```spack load``` in my opinion it should both complain if it finds mul

[2017-03-21 15:38] citibeth commented on #3501
Can you generate the correct set of modules using `spack module loads`?

[2017-03-21 15:54] adamjstewart commented on #3501
Sounds like it. In my opinion, that's the create behavior. Imagine this: If you add a new package to a branch and switch back to develop, that package no longer exists according to Spack. But you still want to be able to use it. Using the `package.py` that it was installed with solves this problem.

I agree, we shouldn't be loading multiple installations of the same package. @alalazo?

[2017-03-21 17:04] adamjstewart opened #3508 "External packages for multiple OSes"
I'm managing two clusters, one of which runs CentOS 6 while the other runs CentOS 7. With a `packages.yaml` like:
[code]
things work great on CentOS 7. But on CentOS 6, I'm seeing:
[code]
If I had to guess, I bet it's choosing `flex@2.5.37` because it's newer, and then getting an error because `arch=linux-centos7-x86_64` says it isn't for CentOS 6.

[2017-03-21 17:17] davydden commented on #3508
i guess a workaround is to pin the version by `version: [2.5.35]` in the file used on CentOS6.

[2017-03-21 17:20] davydden commented on #3508
I would have gotten the same issues with `openmpi` (current newest is `2.0.2`) on `Centos7` cluster if I would not be doing
[code]
which works perfectly.

[2017-03-21 17:24] adamjstewart commented on #3508
@davydden The `version` setting doesn't make a difference in this case. The only reason that your `packages.yaml` works for you is because you don't specify an `arch` to use. For my case, the home directory and Spack installation directory are in a shared GPFS mount, so there is no "file used on CentOS6". If I pinned the version to be the one on CentOS 6, things would work on 6 and break on 7. If

[2017-03-21 17:27] davydden commented on #3508
oh, i see now. Yes, then you can not indeed pin the version.

The other workaround which comes to mind is to pretend that both are the same version and pit it.

But I agree, there should be a way to do it properly. How about `buildable: False` making conretizer choose among versions specified in the file as opposed to all possible options? Essentialy, "I don't want to build it, just use what i hav

[2017-03-21 18:00] davydden opened #3509 "ncurses fails to install due to permission problem on a shared AFS file system"
we had a user who tried Spack and had a problem with installing ncurses https://groups.google.com/forum/?fromgroups#!topic/dealii/r7P682fTF7Y

I cross-post his message here in case there is something to be fixed in Spack. From the user's comment, i was not able to tell if that's the case or not. Feel free to reply to the original post if you think it's more appropriate, as well as close this issue

[2017-03-21 20:42] scheibelp commented on #2634
I'm self-assigning this. I can start looking at the issue this week (and hopefully a PR by this Friday). If someone else was looking at this let me know.

I'm thinking the most straightforward approach would be to create an additional file in the ```.spack``` metadata directory in the package prefix to indicate that the install (and post-install hooks) completed (e.g. ```.spack/install_marker```,

[2017-03-21 21:07] tgamblin commented on #2634
@scheibelp: great!

You're always going to have cases where something can `kill -9` a build and force it to die without cleanup.  So the case needs to be handled regardless of whether we improve SIGINT handling or not.

Touching an install marker in `.spack` (maybe `.spack/complete`?) seems like a reasonable way to go.  Personally, I think that we should remove incomplete install prefixes on reins

[2017-03-21 21:10] adamjstewart commented on #2634
The only time I would prefer not to do this is if I run `spack install --run-tests`, the tests fail, but I don't really care and just want to install it. In that case, for most packages, it will quickly finish up the last steps. But for some packages it will cause a problem if you run configure without cleaning the directory first, so I can see why we would want to default to cleaning up.

[2017-03-21 21:16] tgamblin commented on #2634
@adamjstewart>:
The only time I would prefer not to do this is if I run spack install --run-tests, the tests fail, but I don't really care and just want to install it.

There's a more complicated discussion here on tests that run in the build directory, tests that run from an install directory, etc. and how we should record whether tests pass.  I'd like to factor `--run-tests` out into some separa

[2017-03-21 21:22] adamjstewart commented on #2634
This is just a use case. I really wouldn't be offended if we cleaned up by default and there was no option to preserve the files. But `--keep-prefix` sounds good to me as far as UI goes.

[2017-03-21 21:32] healther commented on #3501
@tgamblin Regarding your post in #3502, okay I get that the ```package.py``` at install-time is the one that should be associated with an installed module, however I still think it is unexpected behaviour (at least from the user side) that changing a dependency_type_ requires a reinstall. Not that I don't understand why it is necessary, but I didn't expect it from the start (as proven by me openin

[2017-03-21 21:37] goxberry commented on #3156
It would be a useful feature to maintain a common software stack for multiple developers of a library. The workaround right now, I think, would be to:

- run something like a Spack installation out of some common directory these users can access
- use this Spack installation to install our dependencies that way
- set up the build system of our development project so that it links correctly to the

[2017-03-21 22:14] citibeth commented on #3501
The fundamental problem here is that `spack load` is wimpy,
non-deterministic and generally broken.  When you run `spack install`, you
specify what you want installed.  The next logical thing you do is `spack
load` (or equivalent).  You should not have to make Spack "guess" which
installed version you are looking for.

Spack Environments should absolutely fix this problem.  I'm reluctant to
spend

[2017-03-21 22:17] citibeth commented on #3156
Yes... if you can just keep re-doing the owner and permission of the stuff
in the Spack folder, it kinda works (or make sure everyone runs Spack with
compatible g+rw permissions).  Still feels hacky...

[2017-03-21 22:31] tgamblin commented on #3374
@healther: can you verify that this is fixed by #3374?

[2017-03-21 22:39] adamjstewart commented on #3374
You mean #3492

[2017-03-21 23:05] tgamblin commented on #3501
If I understand you correctly, I don't think this is actually true.  It's legit for version 1.0 of `foo` to depend on a library and for version 1.5 NOT to depend on the same library.  We don't restrict that in Spack, and 1.0 and 1.5 should work fine if both installed at once.

Ok, maybe I should refine my answer.  I think it's true that *many* people would want the behavior you describe for *run*

[2017-03-21 23:25] tgamblin commented on #3374
Yes I did.  D'oh.

[2017-03-21 23:28] tgamblin commented on #2634
Ok @scheibelp: let's use `--keep-prefix` to skip the removal if needed.

[2017-03-21 23:54] adamjstewart commented on #3374
I think @healther already mentioned that this works and we can close this in #3492. Reopen if not.

[2017-03-21 23:54] #3374 closed

[2017-03-22 03:55] citibeth opened #3513 "Separate Hashes for Install Directories vs. Modules"
@tgamblin @healther @adamjstewart

Spack currently creates *install directories* and *modules*, both based on a fully concretized spec (FCS).  Install directories and modules are identified by hash; and the same hash algorithm is currently used to generate the hash used to identify both types of objects.  Using the same hash for both seems intuitively correct.  However, recent discussion on #3501

[2017-03-22 03:56] citibeth commented on #3501
Please see #3513 for my thoughts on this matter.

[2017-03-22 04:04] citibeth commented on #3508
Would #2700 help?   It would not be hard to implement.  You should also be able to get immediate relief using #2686 and a couple of Bash aliases.

[2017-03-22 04:56] goxberry commented on #3156
I would love to use `spack setup`, but can't convince the team to use CMake. IIRC, using `spack module load` (on LLNL's TOSS-3 machines) or `spack use` (on LLNL's TOSS-2 machines) would mangle `LD_LIBRARY_PATH`, which takes care of most to all of the library location issues, so I'm not terribly worried about that part. I suspect I'll need separate Spack installs for those two sets of machines; I c

[2017-03-22 05:03] citibeth commented on #3156
On Wed, Mar 22, 2017 at 12:56 AM, Geoffrey Oxberry <notifications@github.com

What does the team use?  `spack setup` is not CMake-specific, other than no
one has ported it to other build systems.  But everything is in there to
make it easy.

[2017-03-22 08:19] healther commented on #3501
@tgamblin

I meant that even if version 1.5 no longer depends on bar, spack does still know that version 1.0 did depend on it -> hence the _information_ should still be available in the ```package.py```

My problem was/is more that if I have a "broken" ```package.py``` (i.e. missing dependency), doing a ```spack module loads --dependencies``` or a ```spack load --dependencies``` gives me a broken

[2017-03-22 08:31] healther commented on #3513
I'm not sure if I'm correct in this, but I thought of the hashes as a unique identifier of the contents of an installation directory. In that case it would only need to hash all build-dependencies.

The generated modules then would have to incorporate the link- and run-dependencies as well as the hashes of those dependencies. The output of ```spack find``` should then only contain the latter sort

[2017-03-22 12:02] adamjstewart commented on #3508
#2700 would certainly help. I still think it's a bug that what I'm trying to do doesn't work, but #2700 seems like a good idea regardless.

[2017-03-22 12:14] citibeth commented on #3501
In #3156 I suggested that the core installer part of Spack doesn't keep
around any `package.py` files.  It would be given only fully concretized
specs, along with a hash and `package.py` files for each node in the spec.
Clearly, anything dealing with installed packages would need to work off of
the `package.py` files used to originally install those packages (and
stored in the install dirs).

prob

[2017-03-22 12:16] jcftang commented on #3476
This behaviour also occurs when a package from a private repo is promoted to the upstream and then the package is removed from the private repo.

[2017-03-22 12:27] citibeth commented on #3513
yes

yes

yes.  Although `spack find`, `spack load`, etc. and weak and should be
replaced with more useful ways of finding stuff that's been built (see
Spack Environments).

somewhat minor detail. The idea is that in general, Spack would now need to
know whether each declared dependency (`depends_on()`) does or does not add
to (a) the install dir hash, (b) the module hash.  I'm concluding that
use

[2017-03-22 12:29] alalazo commented on #3476
@jcftang Repositories act as namespaces, so I think that from Spack perspective removing `myrepo.mypackage` will not be influenced in any way by the fact that you added `builtin.mypackage`.

[2017-03-22 12:50] alalazo opened #3515 "On the interaction between DB and repositories"
**TLDR** Below I am trying to make the point on a few bugs that led to many open discussions, but that in my opinion share the same common problems. I hope this will help in the analysis and that will start a discussion on how to solve them.

--------

There are currently a lot of discussions on issues arising from:

1. installing software from a repo
2. changing or deleting the `package.py` for t

[2017-03-22 13:11] alalazo commented on #3515
For the record, I think we should really:

1. Get rid of all the direct usages of global variables like `spack.repo` in classes or functions. There should be an indirection layer to make it easy to plug-in something different.
2. Make repository with the same namespace extend each other, with a semantic that resembles dictionary updates
3. Change the mechanism used to detect if a spec is virtual o

[2017-03-22 13:15] goxberry commented on #3156
Right now, we use a Makefile with some variables that store paths (these
variables are in a separate file that gets 'include'-d into the Makefile)
-- this setup ended up being the compromise between using a full-fledged
build system and an even kludgier GNU Makefile setup.

On Tue, Mar 21, 2017 at 22:03 Elizabeth Fischer <notifications@github.com>
wrote:

--
Geoffrey Oxberry, Ph.D., E.I.T.
goxberr

[2017-03-22 15:30] citibeth commented on #3156
Luckily, `spack setup` is not a hopeless cause here.  We could make a
"generic" Spack setup output; for example, create a '.mk' file setting
variables equal to the locations of the paths.  Then you include that '.mk'
file in you Makefile.

I think it would save a lot of effort over doing (essentially) the same
thing manually.

On Wed, Mar 22, 2017 at 9:15 AM, Geoffrey Oxberry <notifications@github

[2017-03-22 15:44] goxberry commented on #3156
Agreed; that would automate our current process, which would be a big win.

On Wed, Mar 22, 2017 at 08:30 Elizabeth Fischer <notifications@github.com>
wrote:

--
Geoffrey Oxberry, Ph.D., E.I.T.
goxberry@gmail.com

[2017-03-22 18:22] scheibelp commented on #3515
I can definitely confirm that spec and spec.package.spec are not always consistent. In fact there is special logic in ```build_environment.setup_package``` to correct this:

[code]

I have previously suspected ```repository.Repo.get```; FWIW my initial guess would be that ```hash(spec)``` is getting thrown off because deptypes are not copied properly (something in the logic of ```Spec._dup``` and

[2017-03-22 22:50] ulrikeyang opened #3522 "failed xsdk build on linux box"
I tried to build the xsdk on my linux box. This time I got further, after it couldn't find the compilers, I was able to add them with spack find compilers.
I was then able to start the build, however it failed with the following messages:
[code]

[2017-03-22 22:53] davydden commented on #3522
are you on the HEAD of the `develop` branch (do `git pull` if not)? I recently wiped my Ubuntu 16.04 and reinstall a lot of things including `trilinos` without problems.

[2017-03-22 22:55] ulrikeyang commented on #3522
It was a completely fresh clone, so I would think so.
Ulrike

From: Denis Davydov [mailto:notifications@github.com]
Sent: Wednesday, March 22, 2017 3:53 PM
To: LLNL/spack <spack@noreply.github.com>
Cc: Yang, Ulrike Meier <yang11@llnl.gov>; Author <author@noreply.github.com>
Subject: Re: [LLNL/spack] failed xsdk build on linux box (#3522)

are you on the HEAD of the develop branch (do git pull if n

[2017-03-22 22:59] ulrikeyang commented on #3522
I was using the barry/xsdk branch, since I was trying to build the xsdk

[2017-03-23 02:31] ScottWales opened #3523 "External environment module not found"
I am looking into using Spack to manage a small number of packages on a HPC for my research group. The HPC has an existing large variety of environment modules installed by the administrators, which I would like to use from within Spack.

To get a handle on how Spack works I have created an empty repository with a single package that depends on MPI
[code]
and I have set up the central MPI module i

[2017-03-23 02:35] weijianwen opened #3524 "Failed to build lammps"
Lammps build failed with an error message "No spec with name lapack in lammps...".   I tried to specify `openblas` dependecy to it, but spec said "".

[code]

[2017-03-23 06:01] alalazo commented on #3523
Can you post the output of:
[code]
My guess is that your default compiler is resolved to be `gcc`.

[2017-03-23 06:19] ScottWales commented on #3523
[code]

[code]
Adding `preferred: True` to the intel compiler gives the same result.

Does there need to be a openmpi package in the repository, or is Spack happy with it just listed in `packages.yaml`?

[2017-03-23 06:26] alalazo commented on #3523
You need the `package.py` to be in the repository, even if the package is a non-buildable external. This is because the package also carries potential information for dependents or run-time (e.g. through the `setup_dependent_environment` or similar callbacks).

[2017-03-23 06:40] davydden commented on #3522
i think you need to ask @BarrySmith to rebase his branch or merge `develop` so that we are on the same grounds. Otherwise, `xsdktrilinos` is in `develop` as well.

[2017-03-23 06:44] davydden commented on #3524
strange, this code
[code]
looks right to me.

As for the spec, you need to do
[code]

[2017-03-23 06:47] davydden commented on #3524
wait a second, the key to your issue is
[code]
namely you have `~user-atc`, thereby it **should NOT** get into `build_user_atc()` and query blas/lapack. So it's some bug in the package itself, not really related to Blas/Lapack.

[2017-03-23 06:57] davydden commented on #3523
why would you create an empty repo? I mean, why not checking out spack's `develop` branch and try using?

[2017-03-23 14:07] weijianwen opened #3525 "Failed to bootstrap pkg-config with pgi compiler"
I failed to bootstrap `pkg-config` with `pgi@16.10`.  The error says "PGC-F-0249-#error --  Your platform/compiler is missing constructor support (glib-init.c: 284)". Shall I submit a bug report to `pkg-config`?

[code]

[2017-03-23 14:29] weijianwen commented on #3524
@davydden you are right. Specifying `+user-atc` passes the blas checking.

[code]

But new a new issue arise. I'll check it and update my progress in this issue.

[code]

[2017-03-23 14:41] davydden commented on #3524
@weijianwen it looks like there are two issues here:

1. original one when you got into `build_user_atc()` although your spec was `~user-atc`,
2. the one you have now with undefined reference. Maybe the order in which things need to be build matters. `PairEAM` is a potential, so it's something provided by lummps _core_.

[2017-03-23 14:42] adamjstewart commented on #3525
I've ran into this bug as well but hadn't yet gotten around to submitting a bug report. You're actually better off submitting a bug report to the glibc developers. pkg-config depends on glibc, but glibc depends on pkg-config. The developers realized this would cause a circular dependency, so pkg-config contains glibc in one of its sub-directories. If the glibc developers give you a patch for glibc

[2017-03-23 14:44] davydden commented on #3524
@weijianwen judging from http://lammps.sandia.gov/doc/pair_eam.html EAM potential is a part of `manybody` package, so probably `user-atc` can be enabled **iff* `manybody` is enabled as well.

[2017-03-23 15:30] weijianwen commented on #3524
@davydden thank you. I am not Lammps expert either. Maybe I can ask my collegue about lammps' internal package dependency and figure out a minimal usable feature set.

[2017-03-23 15:34] ulrikeyang commented on #3522
Hi Denis,

I tried to use the develop branch to build xsdktrilinos, and very soon I got the following error:

==> Fetching https://ftp.gnu.org/gnu/libsigsegv/libsigsegv-2.11.tar.gz

curl: (35) Encountered end of file
==> Fetching from https://ftp.gnu.org/gnu/libsigsegv/libsigsegv-2.11.tar.gz failed.
==> Error: FetchError: All fetchers failed for libsigsegv-2.11-pnjkbezbydx4kdlpttvd3zidvqznla5e
/ho

[2017-03-23 15:38] davydden commented on #3522
anything special in your settings? Can you download the tarbal manually? What happens if you change `https` to `http` in `package.py`?

[2017-03-23 15:43] ulrikeyang commented on #3522
What would you be looking for with regard to settings?
Which tarball?
Where should I change https to http in package.py? It looks like it’s mostly in comments, except for the ALLOWED_URL_SCHEMES

From: Denis Davydov [mailto:notifications@github.com]
Sent: Thursday, March 23, 2017 8:38 AM
To: LLNL/spack <spack@noreply.github.com>
Cc: Yang, Ulrike Meier <yang11@llnl.gov>; Author <author@noreply.gith

[2017-03-23 15:45] davydden commented on #3522
no idea, i am just asking if you use some custom settings for Spack

the one which can't be download, namely https://ftp.gnu.org/gnu/libsigsegv/libsigsegv-2.11.tar.gz

SPACK_ROOT/var/spack/repos/builtin/packages/libsigsegv/package.py

[2017-03-23 17:28] adamjstewart commented on #3524
Reopening because #3526 fixed the first problem but not the second.

[2017-03-23 18:26] kielfriedt opened #3529 "Spack ABI check doesn't work properly with Apple gcc 4.2.1 (which is clang)"
libdwarf failure when building it with elfutils for elf. I tried to install 'libdwarf@20130207%gcc@4.2.1'
and encountered an issue. I believe this is because of the recent changes @lee218llnl did with elf. Stack trace is below and gave multiple examples of how to cause the issue.

[code]
[code]
[code]
@lee218llnl Should we set the default elf implementation *back*  to libelf

[2017-03-23 19:35] #3047 closed

[2017-03-23 20:00] lee218llnl commented on #3529
@kielfriedt perhaps we should try to debug this rather than work around it. Based on the errors you get, I'm not seeing how this could be related to the libelf/elfutils modification. For the configure error, can you send the config.log output?

For the second one, can you send the output of the command "gcc --print-file-name=libstdc++.dylib". I don't have a Mac, so I am not going to be able to rep

[2017-03-23 20:37] citibeth commented on #3513
@scheibelp This relates to your work on deptypes.

[2017-03-23 20:54] adamjstewart commented on #3522
It sounds like you might be having problems with your curl certificates. Do the following commands work for you outside of Spack?
[code]
What about:
[code]

[2017-03-23 23:19] ScottWales commented on #3523
@alalazo Thanks, adding a dummy package solved my issue
[code]

@davydden The built-in package repository appears to be more of a 'build the world' thing from what I can see, downloading and building all of the libraries itself that we already have available centrally on the HPC. It also seems like a good thing to have a single place where packages are defined - if a package is in the repository t

[2017-03-23 23:20] #3523 closed

[2017-03-24 00:03] willelm commented on #1588
The link above is now broken. Coming back to spack after a hiatus, I see that depends_on has changed and I can't find documentation at readthedocs.

[2017-03-24 01:18] tgamblin commented on #1588
Bill: was went to readthedocs so the docs stay updated all the time.  Here are the dependency docs: http://spack.readthedocs.io/en/latest/packaging_guide.html#depends-on. Unfortunately, it looks like LLNL's software.llnl.gov is not forwarding to RTD like it used to.

[2017-03-24 01:47] scheibelp commented on #3523
To be clear, the package repository doesn't determine what all gets installed, it just provides "recipes" for installing packages when you want to do so

Would it be sufficient to inspect the installation prefix (e.g. under ```spack/opt/...```)? This would also tell you which modules are installed (as well as ```spack/share/spack/modules/...```. The installation prefix also includes a ```.spack```

[2017-03-24 15:46] ulrikeyang commented on #3522
since Barry merged the barry/xsdk branch I was able to try again and made progress.
It appears also there was some mismatch with the SPACK_ROOT env variable, but that is fine now.
Now it fails when trying to build Alquimia with the following error messages:
/home/yang11/IDEAS/Spack/spack/lib/spack/spack/build_systems/cmake.py:149, in cmake:
     144      def cmake(self, spec, prefix):
     145

[2017-03-24 15:49] ulrikeyang commented on #3522
Ignore the bottom portion of my previous comment, but the parts before are important.
Thanks
Ulrike

[2017-03-24 15:58] adamjstewart commented on #3522
There is no `alquimia-dev` package in Spack, so we likely won't be able to help you. You may want to contact the `alquimia-dev` developers.

[2017-03-24 18:05] ulrikeyang commented on #3522
So, there is apparently a known alquimia issue, which they are working on.

However, I also tried to build xsdk on cab and it fails for me when building hdf5 with the following error:
==> Ran patch() for hdf5
==> Building hdf5 [AutotoolsPackage]
==> Executing phase : 'autoreconf'
==> Executing phase : 'configure'
==> Executing phase : 'build'
==> Error: ProcessError: Command exited with status 2:

[2017-03-24 18:11] adamjstewart commented on #3522
The error message that you posted means that something went wrong during `make`. As for what went wrong, the build log (`spack-build.out`) should be very enlightening.

[2017-03-24 18:16] ulrikeyang commented on #3522
The last few lines are
Warning: Possible change of value in conversion from INTEGER(4) to INTEGER(2) at (1)
tH5T_F03.F90:1178.18:

    f_ptr = C_LOC(data_out_r31)
                  1
Error: Parameter 'data_out_r31' to 'c_loc' at (1) must be a scalar
f951: warning: unrecognized command line option "-Wno-c-binding-type" [enabled by default]
make[2]: *** [tH5T_F03.o] Error 1
make[2]: Leaving director

[2017-03-24 18:16] #3522 closed

[2017-03-24 18:37] scheibelp commented on #3513
Specifically that is referring to #2548. To update this thread with discussion from the telecon: #2548 was more focused on how deptypes affect environment setup for a build; IMO this is a different issue. My initial read-through of #3501 is that it is also a different issue: it started out potentially related to #2548 in that deptypes determine which modules are loaded; it then turned into a discu

[2017-03-26 00:06] hartzell opened #3554 "Spack can't fetch libgd, url handling seems to be problematic"
libgd won't build, it fails trying to fetch the library (for all three versions in the package.py).

[code]

Here's the URL from the package.py:

[code]

Note that the url in `package.py` contains this bit:

[code]
but the URL that's being fetched looks like this:

[code]

In particular, the one being fetched is lacking the `gd-` in two places.

Ring any bells?

[2017-03-26 00:19] hartzell commented on #3554
Ok, I think that the problem is that the package is named `libgd` but there's a thing that looks like a version number that has *just* `gd-` in front of it.  That's taken as part of the version in the demo url and is excised when the url is built.

I can fix it in this case by defining a `url_for_version` for libgd.  Is there a wider issue here or should I just PR the libgd change?

[2017-03-26 00:38] adamjstewart commented on #3554
Just submit a PR with a url_for_version. #2972 will probably fix this. Keep the issue open and I'll double check.

[2017-03-26 13:36] adamjstewart commented on #3554
Can confirm that this issue will be solved by #2972.

### Before
[code]
### After
[code]

[2017-03-27 08:16] futuretristan commented on #3001
Again,

`spack spec dealii@8.3.0+mpi+trilinos ^trilinos@12.4.2`

yields

`==> Error: dealii does not depend on trilinos`

[2017-03-27 08:20] davydden commented on #3001
No, it's not again. Check out the 'depends_on' statement in dealii package, IIRC there is now an extra option for 64bit index sets, which u need to specify in the spec so that concretization algorithm sees the dependency.

[2017-03-27 08:28] futuretristan commented on #3001
Okay,
`spack spec dealii@8.3.0+mpi+trilinos~int64^trilinos@12.4.2`
works. I didn't know that you even have to explicitly disable options when not needed. For users not that familiar with the spack python scripts this is hard to find out.

[2017-03-27 08:32] davydden commented on #3001
This is a know issue with concretization algorithm when you want add command-line constrains. Main developers are working on the fix.

You can avoid all those troubles by adding custom configuration in ~/.spack/packages.yaml See docs for more details.

[2017-03-27 13:01] davydden opened #3567 "strange issues with openmpi"
i was reinstalling the software stack and used the current openmpi and got this when trying to use it outside of Spack:
[code]

[2017-03-27 17:16] tgamblin commented on #3443
Fixed by #3505

[2017-03-27 17:16] #3443 closed

[2017-03-27 20:33] davydden commented on #3567
probably it's something with the new version of `openmpi`, fixed by setting `TMPDIR`, no idea why it did not complain before.

[2017-03-27 20:33] #3567 closed

[2017-03-27 23:53] hartzell opened #3575 "Odd error w/ setuptools"
My automated build crashed this afternoon.  I haven't looked into it too far yet and nothing is leaping to mind that I might have done to trigger it.

Wanted to see if other folks have seen something similar.

Here's a bit of of the spack console output:

[code]

[2017-03-28 02:49] adamjstewart commented on #3575
@lee218llnl

[2017-03-28 09:03] healther commented on #3501
My original issue is closed, so I close this thread. I think the discussions are better placed in #3515 or #3513

[2017-03-28 09:03] #3501 closed

[2017-03-28 11:00] samfux84 opened #3580 "coreutils@8.23 fails with "Too many levels of symbolic links""
This seems to be the same problem as described in #3387 for the patch package.

Adding

build_directory = 'spack-build'

to the coreutils package seems to solve the problem. I am sorry for not providing directly a pull request. I am new to spack and not used to work with git yet (still have to learn that).

[2017-03-28 11:44] adamjstewart commented on #3580
Fixed by #3543. If you update to the latest develop branch you should be good to go.

[2017-03-28 11:44] #3580 closed

[2017-03-28 13:26] alalazo opened #3581 "paraview: openmpi spec not constructed properly during install?"
This problem has been reported first in #3537 by @olesenm . The following command:
[code]
results in the error:
[code]

[2017-03-28 14:52] lee218llnl commented on #3575
Crud, my mistake. Just created #3582.

[2017-03-28 16:32] #3575 closed

[2017-03-28 17:00] sknigh opened #3588 "Datamash build error"
[code]

It is the result of a bad symlink created at configure when building in the source directory.

[2017-03-28 17:15] sknigh opened #3590 "spack -k does not propagate to mercurial-based packages"
Some packages, such as pflotran, use mercurial (hg). Mercurial will strictly check certificates unless ```hg clone``` is used with ```--insecure```. ```spack -k``` does not set ```--insecure```

[2017-03-28 17:21] adamjstewart commented on #3590
If you or anyone else want to take a stab at fixing this, the relevant code would be `HgFetchStrategy` in `lib/spack/spack/fetch_strategy.py`. Compare to `GitFetchStrategy` which does set insecure properly.

[2017-03-28 17:59] adamjstewart commented on #3588
Fixed by #3589.

[2017-03-28 17:59] #3588 closed

[2017-03-28 19:17] keitat opened #3591 "Mercurial 3.9.1 is not executed at the right directly location (OSX10.11)"
I found Mercurial (hg) instantiated by Spack is failing to locate python's modules and library files.

Mercurial's executable is a python script, which start with finding python modules using its relative path. It appears that Spack is not setting the current directory properly when executing Mercurial.

(This is how Mercurial's executable look like:)
[code]

[2017-03-28 20:27] keitat opened #3592 "cmake: failing build on OSX 10.11 (clang-8.0 and gcc-6.3.0)"
Spack fails to build CMAKE-3.7.2 on OSX10.11.  I confirmed this happens with clang-8.00 and gcc-6.3.0.  I think it is not compiler specific.
[code]

[2017-03-28 20:44] adamjstewart commented on #3592
@mathstuf

[2017-03-28 21:01] hartzell opened #3593 "Help tracking down [my system's] bug in building spack's htop"
I use spack to build htop on one of my CentOS 7 systems and it works Just Fine(tm).

I'm moving onto a fancier, newer CentOS 7 system and I noticed that the spack built htop doesn't have any text in the bottom half.  It doesn't seem to be a color scheme issue (e.g. background == foreground).

I noticed that it's linking against the system ncurses library:

[code]

which is weird because a) the pac

[2017-03-28 22:32] olesenm opened #3594 "install fake creates libraryso instead of library.so"
Came with commit ed582cef68585b

    --- a/lib/spack/spack/package.py
    +++ b/lib/spack/spack/package.py
    @@ -1053,6 +1053,10 @@ class PackageBase(object):
             touch(join_path(self.prefix.bin, 'fake'))
             mkdirp(self.prefix.include)
             mkdirp(self.prefix.lib)
    +        library_name = 'lib' + self.name
    +        dso_suffix = 'dylib' if sys.platform == 'darwin

[2017-03-29 03:56] tgamblin commented on #3594
Yep.  That's a typo.  Care to submit a PR?

[2017-03-29 16:43] tgamblin commented on #2492
My only objection to this is that the relationship is actually more complicated than what's allowed by the dummy dependency.  Suppose we have library_type and it can be one of:

* ('static')
* ('shared')
* ('static', 'shared')

By using a dummy dependency for "global" properties like this, you force builds with *any* difference in global settings to be completely separate.  So the more things you

[2017-03-29 17:12] citibeth commented on #2492
I would say that our thinking has evolved since this Issue was posted.  In particular, #2644 provides similar functionality and is much simpler (and also implemented).  At this point, we are waiting on #2386 as a prerequisite to clean up shared vs. static builds.

Might universal variants be used for something else, or should this issue be closed?  My gut feeling is that bottom-up forwarding of va

[2017-03-29 18:00] davydden commented on #3567
there is even a special issue on OpenMPI FAQ https://www.open-mpi.org/faq/?category=osx#startup-errors-with-open-mpi-2.0.x  strangely, i never came across this problem. Either way - it's not related to Spack.

[2017-03-29 18:58] citibeth commented on #2663
So it's agreed, we standardize on `+doc`.  Now somebody needs to change existing `+docs` to `+doc`.

[2017-03-29 20:33] hartzell opened #3627 "GNUtls can't find the tarball for 3.5.9"
Looks like @healther's  recent update to include v 3.5.9 broke the build:

[code]

[2017-03-29 20:42] tgamblin commented on #3567
@davydden: Mac OS X has some pretty weird, long temp directory names by default.  This might not be Spack's fault, but if there is some config file that we could patch in OpenMPI by default, to make it use a shorter tmp name, then we could add that to the package.

The default `TMPDIR` has the advantage that it is only owned by you, but the OpenMPI guys recommend to set it to `/tmp` as on other sy

[2017-03-29 20:49] hartzell commented on #3627
It also looks like whatever changed caused the digest for 3.3.9 to be incorrect.

[2017-03-29 21:45] hartzell opened #3628 "httpie does not depend on py-argparse"
httpie won't build for python 2.7.13.

[code]

It works w/ python@3..6.0

I think that this bit in the `setup.py` is what suggested the addition.

[code]

Looking at it though, I believe that it only applies in certain (bdist_wheel...) situations.

[2017-03-29 21:45] hartzell commented on #3628
@adamjstewart -- I think that I should back out this addition.  Make sense to you?

[2017-03-29 21:49] adamjstewart commented on #3628
Ah, yes, that's a concretization problem. Can you comment it out so that we can re-add it after concretization is fixed? In the meantime, add the dependency unconditionally for all versions of Python.

[2017-03-29 22:05] hartzell commented on #3628
yep.

[2017-03-29 22:15] adamjstewart commented on #3628
This is basically the same bug as #2793. I've been commenting out these dependencies in a few packages.

[2017-03-30 03:30] BarrySmith opened #3632 "Cannot download default scalapack provider"
A fresh clone of spack

[code]

[code]

[code]

I do not have MKL install on my apple laptop.

[2017-03-30 06:21] healther commented on #3627
sorry for that. I tested the install but forgot to clean my cache (thought ```spack purge``` does that too)

@adamjstewart: Thanks for cleaning up my mess, where would I have found the syntax for your ```url_for_version```? And would a ```list_url``` with ```list_depth=2``` also have worked?

[2017-03-30 07:16] #3627 closed

[2017-03-30 12:54] hartzell commented on #3628
@adamjstewart -- should I leave this open as a reminder or close it in the name of neatness?

[2017-03-30 13:06] adamjstewart commented on #3628
Leave it open. @tgamblin can close it when his new concretizer is released.

[2017-03-30 13:09] adamjstewart commented on #3627
I tried adding a `list_url` but it didn't work, no idea why. I believe `url_for_version` is somewhere in the Packaging Guide. Basically it takes a version object as an input parameter and returns the URL for that version.

[2017-03-30 13:11] adamjstewart commented on #3627
Btw, `spack purge` doesn't clear your download cache by default but there is a flag to do that. See `spack purge --help` for details.

[2017-03-30 13:27] adamjstewart commented on #3632
A couple of observations:

You shouldn't use `/usr/local/bin` in your `packages.yaml`. The installation directory is `/usr/local`, this is the prefix you should use. `/usr/local/bin` is just where the executables are installed. Spack will always search for its dependencies in prefix.bin or prefix.lib, so this is important.

As to what is causing your actual problem, the problem is that for some re

[2017-03-30 15:07] adamjstewart commented on #3632
Ah, I see what's going on here. There is no `scalapack` package, it's a virtual dependency. Since we don't specify a default virtual dependency, it chooses `intel-mkl`. We should probably default to something that can actually be downloaded, like `netlib-scalapack`. I'll submit a PR to do this shortly.

[2017-03-30 19:11] hartzell opened #3637 "Unable to activate r-rmarkdown"
I'm having trouble activating an R package and would love to know if it works for anyone else (and perhaps what I've done wrong).

---

I have two+ problems:

1. I'm trying to activate *r-rmarkdown* and I'm getting this failure

[code]

2. When I first hit the problem it tried to activate a bunch of stuff before failing, e.g.

[code]

   but after several rounds of attempted deactivate and activat

[2017-03-30 19:14] BarrySmith commented on #3179
Can these git messages also be eliminated from the output?

[code]

[2017-03-30 19:17] adamjstewart commented on #3179
Can you give us an example package that prints this information?

[2017-03-30 19:17] adamjstewart commented on #3637
See #3031.

[2017-03-30 19:18] davydden commented on #3179
Are you sure you rebased/ merged in develop?

[2017-03-30 20:56] hartzell commented on #3637
Yep, that's it.  Thanks!

[2017-03-30 20:56] #3637 closed

[2017-03-30 21:19] michaelkuhn opened #3638 "Installing providers is broken"
I have set up `packages.yaml` like this:
[code]

Doing `spack install mpi` installs mvapich2 but for some reason no dependencies are installed first. If I do `spack install mvapich2`, everything works correctly.

[2017-03-30 21:24] adamjstewart commented on #3638
That's really weird. `spack spec mpi` behaves properly, but not `spack install mpi`.

[2017-03-30 21:29] BarrySmith commented on #3179
In the branch barry/xsdk

$ ./bin/spack install hypre@xsdk-0.2.0

Yes, barry/xsdk was just merged with develop.

[2017-03-30 21:38] adamjstewart commented on #3179
I can confirm that this is still present in develop. If I steal `xsdk-0.2.0` from `barry/xsdk` and modify the hypre package to add:
[code]
I get:
[code]

[2017-03-30 21:55] adamjstewart opened #3642 "spack configure/build doesn't work for all package base classes"
`spack configure` and `spack build` are designed stop at a certain phase of the package installation process for debugging purposes. However, this only works for `CMakePackage`, `AutotoolsPackage`, and `PythonPackage`. These 3 build systems contain separate build and install phases.

This doesn't work for `MakefilePackage` even though it has a build phase:
[code]
It also doesn't work for a `Packag

[2017-03-30 23:38] #1817 closed

[2017-03-31 02:00] citibeth commented on #2115
I came across the folloing on the CMake email list today.  My takeaways are:

1. Maybe we should increase the priority of this kind of comparison project.

2. Maybe we should review http://spack.io with respect to this statement:

The author gives more details that we can/should include up-front:

[2017-03-31 02:44] tgamblin commented on #2115
Do you have a link to the OP?

[2017-03-31 02:46] tgamblin commented on #2115
On spack.io: a comparison page would be nice.  I don't think it goes on the front page, as if pure not familiar with package management at all, a comparison is meaningless.

[2017-03-31 06:34] alalazo commented on #3642
`MakefilePackage` was not added to the dictionary, so solving this is just a matter of adding the entry.

 For things like `qbank`, which use a custom build system but can be divided into different phases, we can decide on a convention and use inspect the package. The convention can be as simple as checking that `configure in phases` is `True` (and then stopping at configure). If you think this ca

[2017-03-31 12:49] eschnett opened #3647 "Cannot build `mawk` with `clang` on Darwin"
When I build `mawk` with Apple's `clang` on Darwin 16.5.0 (macOS 10.12.4), then the resulting `mawk` executable always crashes.

A debugger shows the following:
[code]

Note the "detected buffer overflow" message.

I can build `mawk` just fine with a Spack-built `gcc`.

[2017-03-31 12:53] adamjstewart commented on #3647
*sigh*. I was hoping this would be a good solution to the gawk bootstrapping problem. Maybe it would be better to remove all dependencies on gawk/mawk and simply patch the things that require them so that they work with any system awk implementation. Otherwise, we'll have to contact the mawk developers to fix this.

[2017-03-31 12:58] adamjstewart commented on #3642
Works for me! Honestly, I'm wondering if we should just rename the `cmake` phase in `CMakePackage` to `configure`. That's what every other build system calls it. `configure` isn't just an executable that comes with Autotools, it's also a verb that describes what `cmake` is doing. But then we would have to consider renaming the `edit` phase of `MakefilePackage` to `configure`, which is a bit differ

[2017-03-31 13:27] davydden commented on #3647
i confirm that I had the same issue. I don't think `awk` is a virtual dependency currently, maybe it should be? Otherwise one has to set `mawk` as an external package provided by macOS.

[2017-03-31 14:00] adamjstewart commented on #3647
It is a vdep.

[2017-03-31 14:20] tgamblin commented on #3642
Why not add a `configure` method in `CMakePackage` that just calls `cmake()`?  Then you can override either and it'll work, and `spack configure` will call whichever one is implemented.  Same for configure_args.

I'd need to think about what happens when you inherit from both AutotoolsPackage and CMakePackage and override both conditionally.  It would be. Ice if packages like dyninst whose build s

[2017-03-31 14:31] eschnett commented on #3647
`ncurses` depends on `mawk`, not on the virtual `awk`.

[2017-03-31 14:36] alalazo commented on #3642
@tgamblin I'll try to have a look at `dyninst` at take that as a use case.

[2017-03-31 14:45] adamjstewart commented on #3647
Yep, that was just to work around the circular dependency.

[2017-03-31 17:41] mathstuf commented on #3592
Hmm, it works with an older Xcode. I'll go try it on a newer Xcode.

[2017-03-31 17:42] mathstuf commented on #3592
Oh, this is with a different compiler.

[2017-03-31 19:59] hartzell opened #3652 "FYI: Lmod infinite recursion problem."
I'm building a tree full of applications and letting Spack automagically generate the module files for me.

`module avail` with yesterdays tree works.  `module avail` with today's tree recurses (apparently) and eventually crashes with a stack overflow:

[code]

There are only a few differences.

If you can't stand the suspend, please check out the real Cry For Help that I made in the Lmod reposito

[2017-03-31 20:39] #1305 closed

[2017-03-31 20:40] #2807 closed

[2017-04-01 00:46] adamjstewart opened #3653 "spack versions broken"
I just ran `spack versions` on every single package in Spack and not a single one of them found a remote version. I've tested this on multiple machines with different versions of Python. Did something break in develop?

[2017-04-01 00:48] adamjstewart commented on #3653
Seems to be due to this commit: 1d1a14dbe9cfc512cedff7430b694df87b2cd5ee
[code]

[2017-04-01 00:59] adamjstewart commented on #3653
Got things narrowed down to the change in `lib/spack/spack/util/web.py`.

[2017-04-01 01:26] adamjstewart commented on #3653
Still not sure why things aren't working properly. I wonder if there is a bug in `six`.

[2017-04-01 01:34] adamjstewart commented on #3653
The bug was due to a missing `urlparse` import. I'll see what I can find in `six`.

[2017-04-01 01:37] tgamblin commented on #3653
Grep for urllib or six.moves and you can likely find the equivalent.

[2017-04-01 01:41] adamjstewart commented on #3653
Yep, found it. PR incoming.

[2017-04-01 02:07] adamjstewart opened #3655 "spack fetch doesn't work in Python 3"
It has something to do with how we handle checksums:
[code]

[2017-04-01 02:13] adamjstewart commented on #3655
Seems related: http://stackoverflow.com/a/27460013/5828163

Maybe we need a better way of hashing things?

[2017-04-01 09:36] alalazo commented on #3655
I see another problem related to this: all the `python3` tests on Travis are failing on fetch, but none is exiting with non-zero before the unit tests.

[2017-04-01 12:08] boegel commented on #3647
I'm hitting the same problem.

Things I've tried to work around, none of them worked:

* add back the `CPPFLAGS=-P` option for ncurses (cfr. #3361, was dropped in #3425): same problem remains
* add dependency on `gawk` rather than `mawk` (cfr. #3425, reverting in #3481 to avoid circular dependency): introduces circular dependency (couldn't Spack report this more nicely?)
* update `mawk` to the pat

[2017-04-01 12:36] adamjstewart commented on #3647
The problem is that in terms of dependencies, `gawk` -> `gettext` -> `ncurses` -> `mawk`. `ncurses` obviously can't depend on `gawk` or else it would become a cycle. Normally, every package in Spack would use the system `awk` installation, but @eschnett found a package that couldn't be built with his system `awk`, so he added a dependency on `gawk`. Then I noticed that `gawk` depended on `gettext`

[2017-04-01 13:24] alalazo commented on #3652
@hartzell We are using `lmod` since a while in production, with a hierarchy composed of `compiler`, `mpi` and `lapack`. Can you post somewhere your `modules.yaml` to have a look at it?

[2017-04-01 13:30] alalazo commented on #3652
@hartzell I think I spotted your problem: you have 2 `gcc@5.4.0`. One is built with your `Core` compiler, the other is built with another `gcc@5.4.0`. That causes you to have two entries for gcc:
[code]
which apparently cause the recursion. I never ran into this case because I never built the same compiler twice...

[2017-04-01 22:10] #3653 closed

[2017-04-01 22:27] hartzell commented on #3652
@alalazo

Uninstalling *gcc@5.4.0%gcc@5.4.0* fixed the infinite recursion.

I've updated [the other thread](https://github.com/TACC/Lmod/issues/245#issuecomment-290950488) with the `modules.yaml` and other details.

I'd be interested in any input about [getting to my desired end state, also described in a comment over there](https://github.com/TACC/Lmod/issues/245#issuecomment-290951107).

[2017-04-02 10:48] alalazo commented on #3652
@boegel @rtmclay I am moving the discussion here, as it seems it has more to do with spack generation of hierarchical module files than with `Lmod`.

---

@hartzell

I must admit that, when I designed the hierarchical support, I never thought of using it without having `Core` as an entry point. So I assume that this particular use can be subject to discussion, to decide if we should issue a warnin

[2017-04-02 19:48] #3632 closed

[2017-04-03 01:27] hartzell commented on #3652
@alalazo -- thanks for the feedback.  I'll continue the conversation here.

I'll dig into your comments above after I get a couple of fires out.

Sadly, both clusters are CentOS 7, just different patch levels.  I'll look into the change you pointed out.

[2017-04-03 01:29] hartzell commented on #3652
But, I'm close to something that works and have one last hangup.

The setup I had already described [over in the other thread](https://github.com/TACC/Lmod/issues/245#issuecomment-290951107) is working.  **Nearly**.

I've rebuilt everything except the `gcc@5.4.0%gcc@5.4.0`).

I can `module use .../gcc/4.8.5` which puts the `.../gcc/5.4.0` directory on MODULEPATH and makes all of the things build w

[2017-04-03 01:47] hartzell commented on #3652
A bit more data:

[code]

[2017-04-03 01:51] hartzell commented on #3652
Time out.  Now *all* of the packages are building with `gcc@4.8.5`, even though the first thing that I build is `gcc@5.4.0` and then add it to `etc/spack/compilers.yaml`.

Too much time staring at it.  Time to take a break.

[2017-04-03 01:59] hartzell commented on #3652
Sigh.  There was an entry for 4.8.5 in `~/.spack/linux/compilers.yaml`.

[2017-04-03 06:48] samfux84 opened #3664 "Circular dependencies"
Hi,

I would like to build python with spack, but it seems that it has circular dependencies:

python -> tk -> libx11 -> libxcb -> python

How can this be resolved ?

Best regards

[2017-04-03 07:01] tgamblin commented on #3664
Can you try this with #2548 merged?

[2017-04-03 07:35] samfux84 commented on #3664
Do I need to do a fresh spack installation to merge the pull request #2548 ?

[sfux@develop02 spack]$ git fetch origin pull/2548/head:master
fatal: Refusing to fetch into current branch refs/heads/master of non-bare repository
[sfux@develop02 spack]$

[2017-04-03 07:48] tgamblin commented on #3664
@samfux84: you shouldn't.  I think you're getting that error because you're trying to fetch directly into a checked out branch.

Try:
[code]

[2017-04-03 08:19] samfux84 commented on #3664
@tgamblin: Thank you for helping me. I am still not that used to git yet. The commands that you provided worked. I could merge the pull request #2548 with my current branch.

I am afraid that I still did not fully understand how this resolves the circular dependencies.

I usually build all the dependencies first, and then the main package, such that there is only 1 installation done at a time (no

[2017-04-03 08:57] tgamblin commented on #3664
I would first try `spack install python+tk` on that branch.

The issue arises from our concretizer being a bit naive.  It can't resolve the fact that it first needs to build `python ~tk` to build a dependency of `python+tk`.  That branch allows us to deal with build dependencies separately from run dependencies so that we can at least start to deduce chains like this.

[2017-04-03 10:24] samfux84 commented on #3664
Thank you for your reply.

I tried the command you suggested, but it fails:
[code]
The build can not find the X11 header files:

[code]

[2017-04-03 12:55] adamjstewart commented on #3664
This should have been fixed in another branch. I modified `tk` to always depend on X11 unconditionally. Can you run `spack spec python+tk` to see whether it is building `tk+X` or `tk~X`?

[2017-04-03 12:58] samfux84 commented on #3664
[code]

[2017-04-03 12:59] samfux84 commented on #3664
[code]

[2017-04-03 13:38] samfux84 commented on #3176
[code]

The curl that is used to fetch the tarball has been built with spack using the system openssl from CentOs 7.2:

[code]

[2017-04-03 15:03] hartzell opened #3668 "Spack-built gcc can't find crtbegin.o or -lgcc"
I'm using Spack on a CentOS 7 system which has *gcc@4.8.5* as the system compiler.  I've used that to build *gcc@5.4.0*.

This compiler is used by Spack to build a big old pile of packages that work successfully.

I've used Spack's Lmod support to build lua modulefiles using the configuration [described in this comment](https://github.com/TACC/Lmod/issues/245#issuecomment-290950488).

If I `module

[2017-04-03 15:17] hartzell commented on #3668
@alalazo -- just FYI....

Ok, I made two changes to the  `modules.yaml` file I [shared in the other thread](https://github.com/TACC/Lmod/issues/245#issuecomment-290950488).

1. Uncommented the `core_compilers` section (and touched up the base gcc version); and
2. touched up gcc version in the blacklist section.

Now `module use /..../Core` and then `module load gcc` gives me a working compiler.

C

[2017-04-03 15:17] #3668 closed

[2017-04-03 15:52] eschnett opened #3670 "/usr/local should not be at beginning of PKG_CONFIG_PATH"
I have problems building `libxcb` on Cori. The problem is that this package finds a version of `xcb-proto` that is too old, although Spack just installed a newer of this package.

I tracked down the problem to this setting of `PKG_CONFIG_PATH` while Spack is running:

[code]

Note the two system directories `/usr/local/lib64/pkgconfig:/usr/lib64/pkgconfig` in the beginning. They should not be ther

[2017-04-03 16:00] adamjstewart commented on #3176
Yep, this will be fixed by #2972. I'm still putting the finishing touches in.

[2017-04-03 17:06] eschnett commented on #3670
This also occurs on Blue Waters. Note that both Blue Waters and Cori are Cray system. I don't see the problem elsewhere, but that might be coincidence.

[2017-04-03 17:13] adamjstewart commented on #3670
Or it might not be a coincidence:
https://github.com/LLNL/spack/blob/develop/var/spack/repos/builtin/packages/pkg-config/package.py#L46

@mamelara added this in #3378 to address #3167.

[2017-04-03 17:13] adamjstewart commented on #3167
Closed by #3378? Reopen if not.

[2017-04-03 17:13] #3167 closed

[2017-04-03 17:20] luigi-calori commented on #3664
I have  the same problem of @samfux84 some  week ago I tried to merge #2548 and it merged, and I was able to build python+tk ^tk+X  ... unfortunately, I found out that merging #2548 had a side effect of not being able to build other python packages

Now I tried the merge but now it seems not mergeable and github report [conflicts](https://github.com/LLNL/spack/pull/2548/conflicts)
Am I missing som

[2017-04-03 17:24] alalazo commented on #3668
Your modifications to `modules.yaml` looks fine to me. The fact that `gcc@4.8.5` is listed in the `core_compilers` section translates the directory where module files are placed from:
[code]
to
[code]
When you build `gcc@5.4.0%gcc@4.8.5` you'll create the module:
[code]
This module will add its own module path when loaded and will be of the "compiler" family (so that if you load any other compiler

[2017-04-03 17:28] adamjstewart commented on #3664
@samfux84 You must be using an older version of Spack, because `tk` now unconditionally depends on `libx11`.

[2017-04-03 17:30] citibeth commented on #3670
My comment on #3672 might be relevant here.

I agree, hardcoding `/usr/lib` etc. anywhere other than the END of the environment in a Spack context is wrong.  Any ideas on how to fix this?

[2017-04-03 17:30] luigi-calori commented on #3664
Uh... that could also explain why  I' m not able to merge  2548 and why also github reports conflicts

[2017-04-03 17:32] adamjstewart commented on #3664
#2548 also has conflicts. Every time another PR affects the same lines of the same file, it creates a conflict. #2548 will need to be updated to resolve these conflicts. You can do this by hand with a merge or rebase.

[2017-04-03 17:34] adamjstewart commented on #3670
`s/prepend_path/append_path/` in the `package.py`. If @mamelara agrees I can put out a PR.

[2017-04-03 17:37] luigi-calori commented on #3664
MM.. apart the fact that I' m not sure to be able to correctly edit the conflicts, how could then keep the patch? Is there a way to submit a PR on PR?

[2017-04-03 17:40] adamjstewart commented on #3664
Only if the PR contributor allows you to push to the same branch. It's probably best to wait for @scheibelp to update it. But I agree that building `python+tk` is important. Better concretization is the primary goal for the next Spack release, so I'm confident that it will be merged soon.

[2017-04-03 17:41] scheibelp commented on #3664
I can fix the conflicts (with develop) today. These conflicts appeared over the last 2 days.

@luigi-calori  Would you be able to mention which packages fail for you in the PR (once I get it consistent with develop)?

[2017-04-03 17:52] citibeth commented on #3670
Yes... thinking about it a few minutes, I think that's a good start.  To finish the job, we would need:

1. `AutotoolsPackage` should PREPEND `spec.prefix/lib/pkgconfig` when setting up build and module environments.

2. Since `pkg-config` is Autotools-based, it needs to override (1) with its own APPENDING logic discussed above.

I *think* this will do what we want, and I recommend both get submit

[2017-04-03 18:07] citibeth commented on #3670
As per discussion on #3672, it looks like (1) above already happens.  We just need to figure out how to:

1. DISABLE it for `PkgConfig`
2. Make sure messing with `PKG_CONFIG_PATH` happens for build environments as well as modules.

[2017-04-03 18:59] luigi-calori commented on #3664
Thanks @scheibelp
If I remember well one was py-cffi
As  soon as the conflicts are solved, I can try to merge and use it to build my stack ( paramiko was one of the module that I need along with python+tk )

[2017-04-03 19:51] alalazo opened #3675 "Abinit: invalid spec on concretization"
Reproducible on a fresh clone of spack:
[code]
I may be seeing that wrong, but the specs in the error message seem all equal to me.

[2017-04-03 20:02] adamjstewart commented on #3675
They definitely are the same, I just ran `diff` on the output. I'm not sure what the cause is, but this may have been introduced when I set `netlib-scalapack` as the default `scalapack` provider in #3634.

[2017-04-03 20:05] alalazo commented on #3675
Whatever it is, #3634 may have uncovered a bug but is definitely not the cause of it.

[2017-04-03 20:16] adamjstewart commented on #3675
Reproducible with every package that depends on `scalapack`.

[2017-04-03 20:18] adamjstewart commented on #3675
Possible cause? If I comment out all of the virtual dependencies from `netlib-scalapack`, things work again. Are we testing to see if virtual dependencies are allowed to depend on other virtual dependencies?

[2017-04-03 20:18] eschnett opened #3676 "__future__ breaks Spack"
The package `hdf5-blosc` contains the line `from __future__ import print_function`. This seems to break Spack; the error message is

[code]

where I've added a few `print` functions to find out what is going on. Apparently, Spack is trying to interpret `future` as a spec.

Remove the `import __future__` seems to make everything work again. The similar package `hdf5` does not contain such an import

[2017-04-03 20:21] davydden commented on #3675
Wow, that's unfortunate.

[2017-04-03 20:22] alalazo commented on #3675
@adamjstewart Nice catch! I think we are not, and given the current state of things `scalapack` is the only virtual dependency which will have this requirement. This may be worth an `xfail` test. 'll try to see if I can code something tomorrow.

[2017-04-03 20:24] citibeth opened #3677 "Spack Database"
Here is info from @tgamblin on the Spack database.

Ok here is a hastily written summary of the DB.

In `config.yaml`, there is this setting:

install_tree: $spack/opt/spack

That tells Spack where all installs are rooted.  Installs are, by default, stored in their own $prefix.  Each $prefix directory looks like this:

[code]

All that is really necessary to make install prefixes unique is the has

[2017-04-03 20:26] adamjstewart commented on #3676
I can reproduce this but I can't figure out the cause. Even if I comment out every print statement in `hdf5-blosc`, I still see this error message every time I run `spack info hdf5-blosc`. I wonder if one of the other modules that gets called isn't `print_function` compliant? That would cause problems for Python 3 support.

[2017-04-03 20:53] citibeth commented on #3676
I doubt that's the problem.  I believe that each source file gets to decide independently whether or not to use the updated print_function.

[2017-04-03 22:34] #2946 closed

[2017-04-03 22:34] #2947 closed

[2017-04-03 22:34] #3176 closed

[2017-04-03 22:34] #3554 closed

[2017-04-04 01:57] scheibelp commented on #3664
I have updated #2548 to resolve merge conflicts with develop.

However, the py-cffi example showed me that python modules which depended on py-setuptools to build are broken for that PR. I have a more-detailed post on my thoughts in the PR conversation.

I added a commit which resolves the issue for py-cffi specifically, but I will likely end up reverting that and pursuing a different fix.

[2017-04-04 09:03] alalazo commented on #3675
In case it rings a bell to somebody the error above occurs in `_constrain_dependencies`, with:
[code]

[2017-04-04 09:14] alalazo commented on #3675
More insight. Current stack-frame
[code]
it seems we are comparing an `openmpi` that is not concrete (`self`) with one that is instead concrete (`other`). Apart from that the dependencies match.

[2017-04-04 11:15] alalazo commented on #3675
@adamjstewart After further testing it seems it's the `mpi` that causes the problem here. Specifying the package you want is a workaround to help the concretizer do its job:
[code]

[2017-04-04 12:04] tgamblin commented on #3675
Issue is this line in spec.py:

[code]

Should be:

[code]

The `satisfies()` routine is calling an external, memoizing function (`self.concrete`) when it should refer to the memoized value (`self._concrete`)

[2017-04-04 14:03] #3675 closed

[2017-04-04 14:49] samfux84 commented on #3664
@adamjstewart: For my current test installation (~ 80 packages), I am using the master branch + merged PR's: 2548, 2972, 3388, 3543

Would you recommend to use the development branch ?

I went for the master branch, because I am planing to use spack for managing almost the entire software stack of our HPC cluster (I thought first that the development branch would change often, and therefore it wou

[2017-04-04 15:28] adamjstewart commented on #3664
@samfux84 We use Spack to manage our entire software stack at [ANL's LCRC](http://lcrc.anl.gov/), serving around 300 active users with diverse software needs. We've been keeping up-to-date with Spack's develop branch for the last 1.5 years with only minor hiccups. Yes, things break often, but not as often as things get fixed. Spack is still at the point where I would recommend most users stick wit

[2017-04-04 18:06] adamjstewart opened #3690 "spack uninstall --dependents broken"
This occurred for me on an older Spack clone, so I'm not sure whether or not it's been fixed already. But I noticed this odd behavior:
[code]
It seems like Spack isn't paying attention to the order of dependencies when it uninstalls something.

[2017-04-04 19:16] krafczyk opened #3693 "UnicodeDecodeError with MakefilePackage when using python 3.6.0"
Checkout the current develop, and install astyle with python 3.6.0. I get the following:

[code]

[2017-04-04 19:17] krafczyk commented on #3693
Python 2.7 works just fine.

[2017-04-04 19:18] adamjstewart commented on #3690
Ok, ran into this again on the latest develop:
[code]
Perhaps it has something to do with deptypes? @scheibelp

[2017-04-04 19:18] adamjstewart commented on #3693
Duplicate of #3655.

[2017-04-04 19:18] #3693 closed

[2017-04-04 22:03] #2587 closed

[2017-04-04 22:17] mamelara commented on #3670
@adamjstewart yes, should probably change to append

[2017-04-05 05:36] samfux84 commented on #3664
@adamjstewart Thank you for your reply. It would then actually make sense for me to also switch to the development branch. I will try to rebuild the ~80 packages from my test installation and then try to build python+tk and then provide feedback.

[2017-04-05 11:43] olesenm opened #3700 "cannot build mxml"
Blocks building of ADIOS on my system (gcc 4.8.5 linux-opensuse42-x86_64) with this traceback:

    /home/mol/Software/spack/lib/spack/spack/build_systems/autotools.py:266, in configure:
     258      def configure(self, spec, prefix):
     259          """Runs configure with the arguments specified in
     260          :py:meth:`~.AutotoolsPackage.configure_args`
     261          and an appropri

[2017-04-05 12:00] olesenm commented on #3700
Attached possible update for mxml (it is getting really difficult having so many pending pull requests).
Culled out old versions that are no longer available to fetch.

[mxml-package.zip](https://github.com/LLNL/spack/files/896089/mxml-package.zip)

[2017-04-05 16:37] hartzell opened #3707 "Is there a way to actually stage a build in /tmp (without the symlink)?"
I've been building the *shiny-server* package in a spack tree located at a convenient location (that happens to have a short path).

When I updated my Jenkins build to include *shiny-server*, the job failed while building *shiny-server* with this error (while cleaning up in part of the shiny server's built in node server):

[code]

I scratched my head a bit and remembered that I had configured Spa

[2017-04-05 16:41] hartzell commented on #3652
@alalazo -- I have all of this working now, using the core support.  I think that it was mostly due to me not using it correctly.  There might be room to add some seatbelts and airbags though, so I'm going to leave the issue open while I get a bit more experience with what I've put together and get passed my looming deadline.

**Thanks** for all the help!

[2017-04-05 18:18] thiagotei opened #3709 "Cannot find any package installation"
I decided to upgrade my spack and nothing works anymore.
So, I decided to have a fresh installation and got the latest tag 0.10.0.

[code]
However, it cannot find any package install:

[code]
Thanks

[2017-04-05 18:22] adamjstewart commented on #3709
If you run:
[code]
does Spack try to reinstall `tmuxinator`?

[2017-04-05 18:24] alalazo commented on #3709
The problem here seems to be related to the `dotkit` support, but it's difficult to say more about it at the moment...

[2017-04-05 18:30] hartzell commented on #3707
Oddly enough, using the links to `$tempdir` allowed the *shiny-server* package to build.

That's a bit confusing, but...  Perhaps internally the `npm/node` configure bits are resolving the symbolic link and using the real path?

Works For Me(tm), so I'm going to close this.

[2017-04-05 18:30] #3707 closed

[2017-04-05 18:32] adamjstewart commented on #3709
Ah, I see. I was wondering if it was just a case of changing hashes. How popular is `dotkit`?

[2017-04-05 18:40] alalazo commented on #3709
Maybe some paths in the dotkit module files have been written with a shorter version of the hash, but this is just a guess.

As far as I know dotkits are used by just a few sites (including LLNL).

[2017-04-05 19:29] thiagotei commented on #3709
Now I could `spack use tmuxinator`:
`Prepending: tmuxinator-0.6.11-gcc-4.6.1-75czzxg (ok)`
I don't know what exactly changed in my environment.
I got out the machine and came back.
Also, sometimes this is happening:
[code]

[2017-04-05 19:34] adamjstewart commented on #3709
For information about that bash error message, see http://redsymbol.net/articles/unofficial-bash-strict-mode/

I'll take a look.

[2017-04-05 19:39] joshuata opened #3711 "Boost fails for versions < 1.56.0 with python3"
When installing Boost@1.54.0 with python3, spack cannot patch boost.build and throws an error:
[code]
This is due to a change in the directory structure of boost.build. For versions before 1.56.0 the path should be `/tools/build/v2/tools/python.jam`

[2017-04-05 19:46] adamjstewart commented on #3709
I wasn't able to reproduce the unbound variable bug. I tried:
[code]
but it worked with no problems. It may have something to do with your environment. If you want to get rid of that warning permanently, add `set +u` to your `~/.bashrc`.

[2017-04-05 20:37] hartzell opened #3713 "`module load httpie` breaks CentOS 7's yum."
I'm sharing this mostly as a tale of woe (whoa!) about `LD_LIBRARY_PATH` and dynamically linked system utilities....

I'm on `CentOS 7`.  `yum` generally works.  If I load the Lmod `httpie` module, `yum` no longer works.

[code]

It's not simply about `PYTHONPATH`.

Unsetting `LD_LIBRARY_PATH` seems to be necessary and sufficient to allow `yum` to work again.

It appears that `yum` is walking down

[2017-04-05 20:59] joshuata opened #3714 "Cannot install jdk"
I cannot install the jdk package because the kwargs for version (`curl_options`) are not getting passed to the URLFetchStrategy.

[2017-04-05 21:03] #3593 closed

[2017-04-05 21:26] #3711 closed

[2017-04-05 22:01] ulrikeyang opened #3716 "==> Error: YAML ProviderIndex was not a dict."
I tried to use spack to install xsdk had some issues and then used spack clean xsdk .
Now I keep getting the error message
==> Error: YAML ProviderIndex was not a dict.
even after uninstalling and reinstalling spack.
Anybody know what is going on, and how I can get rid of this problem?
Thanks
Ulrike

[2017-04-05 22:24] wscullin opened #3717 "SHA-1 prefix spec collision when specifying hashes for dependencies"
I'm shortening flags and compiler options for the sake of brevity as the total length is 1134 chars, but can provide full paths if it matters. This may also be a variant of #1559, but it seems to be a slightly different animal.

Using the Intel compilers, pixman will only build and pass tests when optimization is set to -O0. It depends on libpng which in turn depends on zlib. I don't want to build

[2017-04-05 22:42] scheibelp commented on #3716
If you completely removed spack, there may be lingering configuration in ```~/.spack/``` - you could try moving that (or removing it if you haven't customized the configuration).

Could you rerun the command with "-d": e.g. ```spack -d install ...``` and include the full stack trace here?

[2017-04-05 22:50] ulrikeyang commented on #3716
Removing the .spack directory and doing a complete fresh install removed the problem.
Thanks

From: scheibelp [mailto:notifications@github.com]
Sent: Wednesday, April 5, 2017 3:43 PM
To: LLNL/spack <spack@noreply.github.com>
Cc: Yang, Ulrike Meier <yang11@llnl.gov>; Author <author@noreply.github.com>
Subject: Re: [LLNL/spack] ==> Error: YAML ProviderIndex was not a dict. (#3716)

If you completely

[2017-04-05 22:58] #3716 closed

[2017-04-05 23:39] hartzell commented on #1483
@adamjstewart -- The *nextflow* package suffers from this issue, my users can't run `.../bin/nextflow` because its `0x0744`.

Should I just touch up the *nextflow* package or is this safe/worth addressing at the lower level?

[2017-04-05 23:48] adamjstewart commented on #1483
I don't see any reason why `set_executable` shouldn't set `a+x`. Can anyone else think of a reason?

P.S. I've used `chmod('+x',...)` before in the past, but mostly because I didn't know `set_executable` existed.

[2017-04-05 23:54] hartzell commented on #1483
Were you asking *me* about "anyone else think of a reason", or do we think the "others" are listening in?

[2017-04-06 00:16] thiagotei commented on #3709
I had  `set  -u` on my `. bashrc`.
Should it be `set +u`?

[2017-04-06 01:34] fmahebert opened #3719 "Error building automake"
On a Fedora 25 system, `spack install automake` fails with an error during the build phase. The build log ends with:

[code]

[2017-04-06 01:40] fmahebert commented on #3719
Trying older versions...

- `spack install automake@1.14.1` fails in the same way
- `spack install automake@1.11.6` installs successfully

[2017-04-06 01:48] adamjstewart commented on #3709
The default is `set +u`. Why did you put `set -u` in your `~/.bashrc`?

[2017-04-06 02:54] thiagotei commented on #3709
I'm trying to remember why. I think it was something related to spack as well. Weird.
Thanks anyway!

[2017-04-06 02:54] #3709 closed

[2017-04-06 07:08] tgamblin commented on #1483
I would be fine with making set_executable do `a+x`.  I think that makes more sense too.

[2017-04-06 07:13] tgamblin commented on #3709
AFAIK, *just* LLNL, and we've switched to `lmod` on our [latest generation Linux machines (CTS-1)](https://www.llnl.gov/news/labs-tap-silicon-valley-bolster-computing)).  We're still using dotkit on the [previous generation (TLCC2)](https://asc.llnl.gov/computing_resources/tlcc/), which may be around for a bit longer.

[2017-04-06 07:30] tgamblin commented on #3719
@fmahebert: can you try adding `depends_on('perl', type=('build', 'run'))` to the `automake` package?  If that works, can you submit a PR for this?

[2017-04-06 07:31] tgamblin commented on #3719
From googling, it looks like this fails when the system `perl` does not have the `Thread::Core` module.  We should probably expose the `perl` run dependency anyway.

[2017-04-06 07:37] sknigh commented on #3719
I ran into this some months ago on a newly configured Centos 7 machine. I fixed it with
[code]
[refer to this](https://github.com/hpcugent/easybuild-easyconfigs/issues/1822)

[2017-04-06 08:30] samfux84 opened #3720 "Confusion about dependencies of m4"
I am using the development branch + PR: 2548, 2972:

[code]

Best regards

Sam

[2017-04-06 08:34] davydden commented on #3720
that's a known issue with conretizer similar to https://github.com/LLNL/spack/issues/3001 .
The issue is that it does not take into account default values for variants.
You need to do

spack install m4@1.4.18+sigsegv ^libsigsegv@2.11

ps. @tgamblin we definitely need a new conretizer and a FAQ page with known issues

[2017-04-06 08:34] #3720 closed

[2017-04-06 08:41] tgamblin commented on #3720
@davydden: concretizer is being worked on! 😁  PRs welcome for a "known issues" section for the docs, or I'll see when I can get to it.

[2017-04-06 08:42] davydden commented on #3720
i guess i missed the presence of this section, will have a look.

[2017-04-06 09:16] tgamblin commented on #3717
I was able to reproduce this.

@becker33: the issue is that the flags logic is pushing compiler flags down into the `libpng/lggn6f6` part of the spec that's already concrete.  It shouldn't set flags there; it should keep already-concrete specs exactly the same.

[2017-04-06 10:03] davydden opened #3724 "spack choose older compiler by default"
don't know when this started, but at the moment Spack choose older compiler by default, i.e. `gcc@4.7` instead of `gcc@5.4.0`. I see it on a fresh copy on Ubuntu 16.04 with 715ac8b7e67b094c094ec290729c5257cd565a0c.

[2017-04-06 12:05] samfux84 opened #3727 "bash@4.3 ^readline@7.0 gives error:"
I am using the development branch + PR: 2548, 2972

[code]

[code]
[code]

bash spec:

[code]

It seems that the configure script ignores the specified readline:

[code]

config.log:
[code]

Any idea ?

Should bash have a dependency ncurses, since it the speck contains the option --with-curses, or do you think it is because the readline library that is linked against ncurses is not recognized ?

B

[2017-04-06 12:14] JavierCVilla opened #3728 "Improve error message when package name is not consistent with Spack's conventions"
Trying to install a new own package in local (probably wrong created by myself) I got this trace error:

[code]

The last error comes from [here](https://github.com/LLNL/spack/blob/develop/lib/spack/spack/file_cache.py#L152). The trace suggests that `value` does not derive from an Exception class. Any idea what is happening?

[2017-04-06 12:51] adamjstewart commented on #3728
Are you using Python 3? I noticed a similar bug when trying out Spack's Python 3 support. As you have surmised, to solve this problem you need to figure out what error class this is and make sure it extends Exception. A print statement or repr on value might help with that.

[2017-04-06 12:59] adamjstewart commented on #3727
This is (kind of) my fault. `ncurses` has a couple different library types. There is the default library `libncurses.so` and there is a wide-encoding UTF-8 library for CJK support called `libncursesw.so` (notice the 'w'). We've always built the latter library, but we previously passed the `--disable-lib-suffixes` option so that the libraries would be named without the 'w'. This broke the `htop` pa

[2017-04-06 13:31] adamjstewart commented on #3719
I ran into this same problem once. Adding a Perl dependency fixed the package for me on Fedora and broke the package for me on CentOS. If I remember correctly, the package creates and runs a Perl script during installation and the shebang is too long. We may need to use some of @hartzell's magic on this one.

[2017-04-06 13:35] samfux84 commented on #3727
@adamjstewart: Thank you for your reply. Sorry for opening so many issues and thank you for the great work that you and the other spack developers do.

I hope that I can also contribute to the project once I am more used to work with git and spack.

For the moment, I will try to edit the bash package and add LIBS=-lncursesw to the configure line to see if this fixes the problem.

[2017-04-06 13:58] eschnett opened #3730 "Cannot install Intel compilers"
This fails:
[code]

This is the error:
[code]

The problem seems to be that the install script looks for a path with `../Resources` in its name. The `pset` file mentioned in the error message does exist, but is at a different location.

[2017-04-06 14:33] thiagotei commented on #3709
I'm happy using cab, hope it stays around :)

[2017-04-06 15:38] tgamblin commented on #1483
One caveat: I actually think `set_executable` should only set the `x` bits for which the `r` bit is already set.  That is, it shouldn't grant `x` permissions to people who can't already read the file.

[2017-04-06 15:42] tgamblin commented on #1559
@xjrc: is this issue still present since #2681 was merged?

[2017-04-06 15:47] hartzell commented on #1483
Ooooo.  Bit twiddling.  Just like a job interview!

So the read-ability of the file is a side effect of the umask of the account doing the build, right.

Other Spack things I've installed are ending up (e.g. the git `.../bin/*`) 755, which might be from my umask (0022) or from git's install.

[2017-04-06 15:47] citibeth commented on #3728
Note the following from the Python manual:

The line `raise value` should be removed from __exit__ in file_cache.py (close to line 152).

I don't believe this is Python3.  Python3 exceptions are chained;

https://blog.ionelmc.ro/2014/08/03/the-most-underrated-feature-in-python-3/

[2017-04-06 15:55] adamjstewart commented on #3709
Ah, so it's the equivalent of ANL's [SoftEnv](http://www.mcs.anl.gov/hs/software/systems/softenv/softenv-intro.html). We're also slowly phasing it out and moving towards Lmod with our newest cluster.

[2017-04-06 15:57] adamjstewart commented on #3727
I'll test things too since I kind of feel responsible. Btw, I've been having a lot of problems with the readline library in regards to Python, so maybe the two are related. See #3269.

[2017-04-06 16:19] thiagotei commented on #3709
@adamjstewart I found why I decided to add `set -u`. We discussed this issue already! Look at this [comment made by you ](https://github.com/LLNL/spack/issues/2417#issuecomment-263094637).

[2017-04-06 16:23] adamjstewart commented on #3709
Ah that's right. Yes, I still wouldn't recommend it. Most Bash scripts are developed assuming that this feature is not set, so it can have unintended consequences. Let me check one last time to see if our scripts work with this set.

[2017-04-06 16:29] adamjstewart commented on #3709
Ah, I see the problem now. It can be recreated by running:
[code]
I'll see if I can fix it. Maybe you should keep it on so you can find more bugs in Spack 😆

[2017-04-06 16:33] adamjstewart commented on #3727
I think `LIBS=-lncursesw` solved the problem. Tests passed for me as well. I'll send out a PR shortly.

[2017-04-06 16:40] fmahebert commented on #3719
@tgamblin, @adamjstewart: adding the `perl` dependency to the `automake` package fixed the build issue on my Fedora machine. Would you like me to submit the PR, or wait until a CentOS-compatible solution is identified?

@sknigh: Installing `perl-Thread-Queue` also worked.

[2017-04-06 16:59] adamjstewart commented on #3719
We definitely don't want to break the package on CentOS. Let me test it out and see if I can reproduce the problem.

[2017-04-06 17:13] xjrc commented on #1559
@tgamblin: I'll test it out sometime later today or tomorrow and I'll let you know.

[2017-04-06 17:26] thiagotei commented on #3709
Yes! That's what I was doing on my `.bashrc`. Sorry for not mentioning it.
[Some people advise](http://www.davidpashley.com/articles/writing-robust-shell-scripts/) the use of `set -u`.

[2017-04-06 17:29] adamjstewart commented on #3709
Oh I completely agree! See [this article](http://redsymbol.net/articles/unofficial-bash-strict-mode/) too. I always add `set -u` to my scripts when I write them. But not to my `~/.bashrc` because that is equivalent to running everyone else's scripts with this setting, whether they expect this or not. If you want to check only your `.bashrc` file, you can add `set -u` to the top and `set +u` to the

[2017-04-06 19:14] tgamblin commented on #1559
@xjrc: thanks!

[2017-04-06 19:35] thiagotei commented on #3709
@adamjstewart Good idea! Thanks

[2017-04-06 21:14] adamjstewart opened #3746 "sanity_check_prefix broken/not being called?"
I have a WIP package I'm writing and `spack install` just ran successfully. However, nothing was installed! The installation prefix only contains the `.spack` directory. The package extends `MakefilePackage`, which does indeed contain:
[code]
so it should be run. Any ideas how to test this?

[2017-04-06 22:51] thiagotei opened #3749 "Build Rose compiler needs .git information"
I'm trying to install Rose with spack using my custom packaging code.
However, even though I specified to fetch a commit, it gets it through tar.gz, but Rose needs the .git dir apparently. How to fetch the without getting the tar.gz?

Partial spack output:
[code]

The error:

[code]

It looks like this happens only when try to install it again the same version. Does spack create a tar.gz from clon

[2017-04-07 00:09] scheibelp commented on #3749
At the moment ```spack clean``` only removes the stage directory. It seems like it would make sense to add a ```--clear-cache``` option that also removes the cache file

I'll aim to have a PR out for that early next week.

```spack purge``` (with the ```--all``` or ```--downloads``` option) clears the cache but it actually clears out the entire cache.

In the meantime, you can manually delete the

[2017-04-07 00:23] fmahebert opened #3751 "Error configuring libedit"
I am getting a configure error in `spack install libedit` with the following entry in the log:
[code]
This may be a result of the recent change to provide libncursesw, also discussed in #3727.

[2017-04-07 02:31] thiagotei commented on #3749
That helps!
But how spack generates the tar.gz from a git clone? Does it remove .git?

[2017-04-07 03:06] scheibelp commented on #3749
Apparently it does, in fetch_strategy.GitFetchStrategy:

[code]

I imagine if it didn't do this, the cached archive could be used as is. @tgamblin do you recall why fetcher archive functions remove the SCM data (e.g. .git)?

Either way IMO there should be an easy way to clear the cache for a specific package

[2017-04-07 04:47] nicksan2c commented on #3751
As of this commit:

https://github.com/LLNL/spack/commit/df150b3e9299448e05c2598944496d2182c06c96

spack create MakefilePackage (#3710)

It worked for me on Cent OS 7.3

[code]

[2017-04-07 05:01] nicksan2c commented on #3751
I did a git pull to have the latest version and that works as well:

[code]

[2017-04-07 08:07] weijianwen opened #3755 "OpenMPI entries in `packages.yaml` halt `spack spec openmpi`"
I use `$SPACK_ROOT/etc/spack/packages.yaml` to list packages installed outside this Spack instance. It worked quite well before until I updated  Spack to 030127a0 this morning.

Steps to reproduce this issue:

1. Copy the following contents to `$SPACK_ROOT/etc/spack/packages.yaml`.
2. Run `spack spec openmpi` which seems to take forever long.

[code]

[2017-04-07 08:12] davydden commented on #3755
can you do a `git bisect` https://git-scm.com/docs/git-bisect to figure out which commit broke it for you?

[2017-04-07 08:20] weijianwen commented on #3755
I did a `git bisect` and found that 00fb0dd6c6 introduced this issue.

[2017-04-07 08:22] davydden commented on #3755
@weijianwen what if you add `~cuda` to all your variants in the file?

[2017-04-07 08:23] davydden commented on #3755
@tgamblin ping.

[2017-04-07 08:26] weijianwen commented on #3755
I added `~cuda` variant to all entries in `packages.yaml` then it works now. Seems it breaks spack's ability to check packages installed before that variant update.

[code]

[2017-04-07 09:00] JavierCVilla commented on #3728
I think it doesn't have to do with Python3 either. I have just realized how to reproduce the error.

Just create or duplicate an existing package in builtin, Python for instance.

[code]

Then if the name is modified to `Python_a` using the underscore, the mentioned error appears when trying to install any package:

[code]

Somehow, Spack detects this wrong class name (using underscore instead of

[2017-04-07 11:52] citibeth commented on #3728
Have you tried my suggestion?  Spack is doing something the python manual
saya you shouldn't do, and my suggestion fixes that problem.
On Apr 7, 2017 5:01 AM, "Javier" <notifications@github.com> wrote:

[2017-04-07 12:46] samfux84 commented on #3727
#3735 works for me and fixes the problem with building bash:

[code]

[2017-04-07 13:22] tgamblin commented on #3728
@javiercvilla: what is `type(value)` when this happens?

[2017-04-07 13:28] tgamblin commented on #3728
And what happens if you try @citibeth's suggestion?  That may cause the same error but it will tell you where the real exception happened, as the trace won't originate from __exit__ (masking the root cause).

[2017-04-07 13:43] #3727 closed

[2017-04-07 16:03] #3751 closed

[2017-04-07 18:06] #3700 closed

[2017-04-07 19:53] adamjstewart opened #3764 "Bug in spec resolution of virtual dependencies"
I'm trying to build `hpl`, which contains:
[code]
The concretized spec looks like:
[code]
However, `spack install` crashes with the following error message:
[code]
At first, I thought this was another case of #3487, but that's where things get weird. `mvapich2` defines `self.mpicc`, so I was confused why I would get this error message. On a whim, I added:
[code]
to the `hpl` package, only to find

[2017-04-07 21:02] adamjstewart commented on #3724
Hmm, I'm not seeing this behavior. Can you post your `compilers.yaml` and `packages.yaml`?

[2017-04-07 21:19] alalazo commented on #3724
I also noticed some weird behavior with compilers lately:
[code]

[2017-04-07 21:24] adamjstewart commented on #3724
Are any of those dependencies externally installed packages? If `buildable: False` then Spack will try to use the same compiler as the one you specified for that package. See #3166.

[2017-04-07 21:27] adamjstewart commented on #3655
Anyone know how to get this working? Without fetching we really can't say that Spack supports Python 3.

[2017-04-07 21:44] davydden commented on #3724
I have no external packages on Ubuntu, I will post the configuration files on Monday.

[2017-04-08 02:52] citibeth opened #3768 "Document the meaning of deptypes"
@tgamblin @krafczyk @davydden @certik @scheibelp

In #3347 and similar, I'm coming to believe we don't really know what we mean by build, link and run dependencies.  I'm hoping we can clarify that in this thread.

First of all, I believe we need a list of the different kinds of things that might happen when A->B.  Here is a probably incomplete list:
 1. B's module loaded by A's module?
 2. B added

[2017-04-08 02:53] citibeth commented on #3768
@adamjstewart

[2017-04-08 07:11] alalazo commented on #3724
It seems my problem stems from the configuration hierarchy in some way. I always added compilers using:
[code]
on a particular checkout of `spack`.  This created a `configuration.yaml` that looks like:
[code]
Then in another part of the filesystem I started working on a new clone of spack. This clone added an entry in `~/.spack/compilers.yaml`:
[code]
From this point one the first version of Spack

[2017-04-08 07:15] alalazo commented on #3724
Just to be clear:

1. I think we should track down this bug, and see why a change in the configuration hierarchy affects concretization
1. After using Spack for a while on clusters and workstations I propose we make `site` the default `scope`. The `user` scope is potentially a shared state among many installations that can make the behavior of Spack change inadvertently.

What do you think @davydd

[2017-04-08 11:46] adamjstewart commented on #3724
Why not set the default configuration scope in `config.yaml`? Then everyone will be happy. Seriously, we don't use that thing enough. We still have a half dozen issues open asking for the ability to set the default parallelism.

[2017-04-08 13:14] alalazo commented on #3724
@adamjstewart I agree on all the line. In fact in #3183 I added a list of directories in `config.yaml` where to find the templates. We can use the same mechanism for configurations files like `compiler.yaml` or `packages.yaml` and there make `site` the default configuration scope. Something like:
[code]
If there's agreement I'll start working on a PR later next week.

[2017-04-08 15:53] adamjstewart commented on #3724
@citibeth was interested in project-scope configuration and might find it nice to be able to configure this in `config.yaml`.

[2017-04-08 17:18] michaelkuhn commented on #3638
This seems to have been fixed by 20f388cebdc57dd246732c8295187342ec878f6b.

[2017-04-08 17:19] #3638 closed

[2017-04-09 01:16] #3749 closed

[2017-04-09 01:50] #3670 closed

[2017-04-09 17:39] hartzell opened #3771 "mosh won't build for me, protobuf can't find it's input file."
On a CentOS 7 system with a spack tree from yesterday afternoon, I'm unable to `spack install mosh`.

Jump down to **TL;DR** for an explicit question...

Here's the juicy but of `spack-build.log`:

[code]

I can start a shell w/ the right environment (`spack env mosh bash`) and replicate the failure:

[code]

What's "funny" is that all three of the invocations below work.  It seems that the pathna

[2017-04-10 08:11] samfux84 commented on #3664
Switched to development branch + PR's: 2548, 2972, 3735. After reinstalling all packages I tried again to install Python and this time it worked, as tcl and tk are not required to build Python (are they only used if +tk is specified ?):

[code]

[2017-04-10 12:22] adamjstewart commented on #3664
Yes. You can see this in the `depends_on` directives.

[2017-04-10 13:55] hartzell commented on #3771
@adamjstewart -- is this perhaps the result of an AutotoolsPackage update since the mosh package was minted?  Would the change above make sense or is it silliness?

[2017-04-10 14:11] adamjstewart commented on #3771
Yes, this is likely due to the switch to `AutotoolsPackage`. The way that we usually handle these is to build out-of-source, like:
[code]
Your solution would also work. Either are fine to submit a PR for.

[2017-04-10 15:40] sknigh opened #3774 "Centos 7 libjson-c build failure"
Build failure
[code]

Logs
[code]

```make distclean``` isn't portable in this case because the Makefile was configured to use /bin/ksh, which isn't installed on many systems.

I could work around it with ```rm config.status``` which will cause configure to lose its state and re-run.

[2017-04-10 16:05] weijianwen opened #3775 "How to control BLAS choice via preprocessor macros (HAVE_ATLAS, HAVE_OPENBLAS...)?"
In Kaldi, `kaldi-blas.h` can handle various BLAS packages' header including by defining macros like `HAVE_ATLAS`, `HAVE_OPENBLAS` etc.

https://github.com/kaldi-asr/kaldi/blob/master/src/matrix/kaldi-blas.h

My question is, for packages depending on Kaldi (say https://github.com/Microsoft/CNTK ), where is the best practice to control the BLAS choice in accordance to Kaldi? And in Spack, how can we

[2017-04-10 16:05] adamjstewart commented on #3764
For now, commenting out the `provides('mpi')` directive in `intel-parallel-studio` lets me build `hpl`, although there are some other build errors I need to figure out.

[2017-04-10 16:06] adamjstewart commented on #3775
@weijianwen Support for this scenario will be added in #3367, which adds a `HeaderList` class that allows you to specify macros.

[2017-04-10 16:13] adamjstewart commented on #3771
Closed by #3773.

[2017-04-10 16:13] #3771 closed

[2017-04-10 16:26] adamjstewart commented on #3774
The latest release of `libjson-c` doesn't seem to have this problem. I'll put out a PR to add this new version.

[2017-04-10 16:45] adamjstewart commented on #3764
The build error I mentioned looks like:
[code]
In the `intel-parallel-studio` package, it looks like we're adding these last 3 system libraries by hand:
[code]
Does anyone know why we were doing this? @lee218llnl @davydden @alalazo

[2017-04-10 18:09] scheibelp commented on #3664
If you don't need to build ```python+tk``` and just want to build ```python@version```, then you should not need to include #2548.

[2017-04-10 18:38] davydden commented on #3764
because if you look at Intel MKL link adviser, you will see a need to provide all those libs. Otherwise MKL won't work in some packages

[2017-04-10 18:40] davydden commented on #3775
i think this will be controlled automatically by Spack because when you conretize anything which uses `Kaldi`, you will have one and only one version of Blas in the graph of packages.

[2017-04-10 19:01] scheibelp commented on #3768
I'll take a crack at creating an initial list, I'll refine this over the next couple days. If you can edit this feel free to do so. If you can't or don't want to, feel free to leave a comment and I can update this. If someone comes up with something more comprehensive I'm also happy to make suggestions for that.

For X->Y

The following occurs for all deptypes

* Y is built as a prerequisite for X

[2017-04-10 19:04] hartzell opened #3778 "Guidance on adding 'completions' to git package."
I'd like to "gift" the git package with the ability to install the completion bits that live in the `contrib` subdirectory, basically doing [what the homebrew git recipe does](https://github.com/Homebrew/homebrew-core/blob/master/Formula/git.rb#L125-L132).

I'm scratching my head about where to install the bits.

I see that @alalazo has a [TODO about adding completion support in the node.js packag

[2017-04-10 19:13] scheibelp commented on #3724
@alalazo I had some questions about your example:

* does ```spack compiler find``` locate gcc 6.3 or is it outside of ```/usr/bin/```?
* are the versions of the two spack instances the same?
* how recent is the version of each spack instance?
* when ```~/.spack/compilers.yaml``` is present, what happens when you explicitly specify gcc 6.3 or 4.8? For example ```spack spec -I netlib-scalapack%gcc@

[2017-04-10 19:17] adamjstewart commented on #3778
You can add the git completion scripts to the git package as resources, but I wouldn't try to install them outside of the git installation prefix.

[2017-04-10 19:26] adamjstewart commented on #3768
Just to clarify, `include` deptypes are "Coming Soon", right?

Also, since we're on the topic, we need to consider how to implement a `test` deptype: See #1279. Here's what I'm envisioning. Let's say we have a package X that has a `test` dependency on Y. If I run:
[code]
Spack should not reinstall X because the hash should not change. But if I just run:
[code]
Spack should first install Y and then

[2017-04-10 19:32] adamjstewart commented on #3764
Won't those libraries be automatically picked up from the system anyway? If not, then we need to add the full path, not just the file name.

[2017-04-10 19:36] davydden commented on #3764
no, they won't. You will get undefined symbols during linking.

[2017-04-10 20:01] hartzell commented on #3778
@adamjstewart -- I don't think that they need to be [a real resource](https://github.com/LLNL/spack/blob/7043fff8078d0b7a62895302dabbe71904220edf/lib/spack/spack/resource.py), they're already [part of the git source tree](https://github.com/git/git/tree/master/contrib/completion).  It's just a matter of adding a variant that copies them somewhere appropriate.

Actually, since it's going to take ex

[2017-04-10 20:09] #3774 closed

[2017-04-10 20:34] scheibelp commented on #3768
Yes, they are not currently in Spack

As for what the "test" deptype should imply, I'd like to treat them exactly like the build deptype, but the example of gcc in #1279 implies to me that the libraries of test deptypes need to be available while tests are run; they shouldn't be part of RPATHs though. None of 1-6 currently accommodate this (and Spack doesn't currently support it)

[2017-04-10 20:37] adamjstewart commented on #3768
Which GCC test dep do you think it needs libraries from? I guess I assumed they were all build deptypes. Even if it's not perfect, I would love to see a `build`-like `test` deptype. Then I can start adding unit tests to all of the Python packages I care about.

[2017-04-10 20:52] scheibelp commented on #3768
I think I'm mistaken: from glancing over the dependencies you mentioned I thought TCL might but when I think more on it I think I was wrong there. I should say I wasn't basing this off of any familiarity with gcc tests.

[2017-04-10 20:59] adamjstewart commented on #3768
I think a build-like dependency should suffice for now. Any interest in working on this? I've tried taking a look but I have no idea how our deptype/concretization logic works and it seems to be in turmoil at the moment.

[2017-04-10 21:43] sknigh opened #3783 "cscope build errors on Centos 7"
cscope fails to build on Centos 7. The configure script output says it can't find curses. As a shot-in-the-dark I tried adding ```depends_on('ncurses')``` and get the same result

[code]

From spack-build.out
[code]

[2017-04-10 22:20] scheibelp commented on #3768
Yes. I will self-assign #1279. However I don't plan on starting on it for at least 3-4 weeks, in part because as you mention things are a bit in flux.

[2017-04-10 22:23] scheibelp commented on #1279
I have self-assigned this. However, it will take me a while to get to it: I plan on having an update here by 5/8. If anyone else wants to attack this before then feel free (although FYI the concretization logic related to making a change like this is currently being altered).

[2017-04-10 22:27] sknigh commented on #3783
I can make the error go away if I install ncurses via yum.
[code]

I can do that in my case, some users can't, however I would expect most Centos/RHEL environments to have ncurses in the system path.

[2017-04-10 23:06] svenevs opened #3786 "force spack to use dependencies it already installed, regardless of dependency's dependencies being updated"
I'm almost certain this is a duplicate, but I'm not finding the answer and I've been battling `qt` for too long now...

I want to install something that depends on `python`.  In my `packages.yaml` I have

[code]

this **will** get picked up, in terms of version and variant preferences:

[code]

but it won't use my existing one because the `python@3.5.2` dependencies updated since I installed mine

[2017-04-10 23:18] adamjstewart commented on #3786
This is something we plan on working on with the new concretizer.

In the meantime, here's what I do. Open (or create if it doesn't already exist) `~/.spack/packages.yaml`and add:
[code]
This will force Spack to use that exact installation every time. I suggest you also add a Python 2.7 installation as some packages don't work with Python 3 yet. You can also add external packages like `autoconf` a

[2017-04-10 23:19] adamjstewart commented on #3786
Alternatively, from the command line, you should be able to run:
[code]
to specify exactly which hash to build with.

[2017-04-10 23:27] svenevs commented on #3786
Yeah I think that would be a nice feature...but yes great thanks adam, pathing and non-buildable it is!  Yes, I suppose I would be better off building with python2, but then how would you all get feedback on whether or not something needs to be marked as py2 in the dependencies?

Since I hate `qt` with a special intensity, and only want it around as a dependency for something else, I suppose I'll

[2017-04-10 23:27] #3786 closed

[2017-04-10 23:34] adamjstewart opened #3787 "Unable to add external packages built with Spack to packages.yaml"
Never seen this one before. I'm trying to build something with `intel-parallel-studio` and I don't want to reinstall `intel-parallel-studio` for every compiler, so I added it to my `packages.yaml` like so:
[code]
But when I try to build `hpl`, I see:
[code]
I have no idea what this means. Anyone else? The `intel-parallel-studio` installation went by fine and I'm using it to install the dependencie

[2017-04-11 00:25] svenevs commented on #3787
Yes. I'm getting this too, mine might be more helpful since more things are happening?

[code]

On install:

[code]

So it seems like it's freaking out because even though I have the package installed, it's dependencies are not?

[2017-04-11 00:31] svenevs commented on #3787
Yeah definitely smells like a concretizer bug.  I hacked `libxcb` and `xcbproto` to rid the `python` dependencies.  Just _reset_ those to back to what they are supposed to be and now it gets past that in the sense that it did something different.  But something different is it now is using `clang@3.9.0`.  Relevant section of `packages.yaml`:

[code]

Isn't that supposed to use `gcc@5.3.1` over `cl

[2017-04-11 01:45] BarrySmith opened #3788 ""url" is always required in packages"
[code]

Why are you forcing me to provide a "url" when my only distribution mechanism is git? This use to work fine.

[2017-04-11 02:00] adamjstewart commented on #3787
Hmm, but `intel-parallel-studio` doesn't have any dependencies. I might just uninstall everything and start over.

[2017-04-11 07:03] alalazo commented on #3724
@scheibelp Thanks for looking into this. In case, this week I won't have time to debug the issue, but from next week I should be able to work on it.

The two versions I used above were not the same, but they were pretty recent clones of develop:

1. bd9213a55fecfefd2b67de0383bfb568a58438f0
1. 1d21a11ff4b646666ae8027e7594476f045833d1

Here's the behavior:
[code]

[2017-04-11 07:21] JavierCVilla commented on #3728
Sorry for the late answer.

@tgamblin It refers to the package with the wrong name just created (`Python_a`)

[code]

Following @citibeth's suggestion, the error trace shows the same as the previous `type(value)`, so I guess the line with `raise value` should be just removed .

[code]

[2017-04-11 08:49] alalazo commented on #3788
@BarrySmith Is some description missing here, or is it just like that?

[2017-04-11 09:04] samfux84 opened #3790 "Git: Cannot generate configure: missing dependencies ['m4', 'autoconf', 'automake', 'libtool']"
Hi,

I am trying to build git, but it fails with the following error message about missing dependencies:

[code]
The dependencies are there:

[code]

and I have added the path to the "bin" dir to the PATH variable:
[code]
I get similar error messages for the packages

- glib
- fonttosfnt

Any idea what is going wrong ?

Thank you for your help and best regards

[2017-04-11 09:12] davydden commented on #3724
sorry for delay in posting, here are my `linux/compilers.yaml`:
[code]
config.yaml:
[code]
and packages.yaml
[code]
And I have those issues even on the most simple packages like `libsigsegv`:
[code]

[2017-04-11 11:02] svenevs commented on #1517
@adamjstewart why can't we lock the versions when coming from qt as an intermediate solution? There are tons of other packages that do this, I think.

[code]

Or alternatively, maybe making the system ones available through spack (some `~binutils`-esque shenanigans)?

[2017-04-11 11:21] jppelteret opened #3791 "LLVM 4.0 fails to install on Linux: file RPATH_CHANGE could not write new RPATH"
Dear all,

I've just updated `spack` to 808e9b46493495dff64d9964631faa929bbe4ebd in order to build `LLVM` on Linux (Mint 17.3 based off Ubuntu 14.04 I believe).

This is how I have my `packages.yaml` setup in order to install LLVM with shared libraries (and minus a couple of troublesome variants)
[code]

Unfortunately `spack install llvm` fails upon installation (not compilation) with the followin

[2017-04-11 11:43] adamjstewart commented on #3728
If you're still wondering why the error is happening in the first place, the package class should be `PythonA`, not `Python_a`. But I agree that we should fix things so the error message is more clear.

In general, there's no reason to create a package by hand anymore. Even if there is no download for your package, you can still run `spack create --name python-a` and spack will choose the appropri

[2017-04-11 11:46] adamjstewart commented on #3790
Those packages need to be added as dependencies of git and fonttosfont. This is needed any time the download does not come with a configure script. I'm surprised no one has run into this problem before.

[2017-04-11 11:49] samfux84 commented on #3790
@adamjstewart:

It seems that they are listed in the spec:

[code]

spack info git also shows the dependencies:

[code]

[2017-04-11 12:36] adamjstewart commented on #3790
Are these externally installed packages? Are you using an alternate installation directory or something like `spack view`?

[2017-04-11 12:39] #3778 closed

[2017-04-11 12:40] samfux84 commented on #3790
The only external package that I am using is openssl. All other packages have been installed with spack:

[code]
I am using the development branch (last "git pull" was about 6 hours ago) with PR's: 2548, 2972, 3735. I am using an alternate installation directory, which is specified in $HOME/.spack/linux/config.yaml:

[code]

[2017-04-11 12:46] berrill opened #3792 "openblas fails when cross-compiling"
On Titan, openblas fails due to the check_build routine.  This is caused by the fact we are cross-compiling and the binary created is not compatible with the login node where spack is running so it fails at the
    make('tests', *self.make_defs)
line in var/spack/repos/builtin/packages/openblas/package.py.  If I remove the line, then spack can proceed.  We need a way to disable these types of test

[2017-04-11 13:01] JavierCVilla commented on #3728
Thanks @adamjstewart, I knew that was the reason of the error. I accidentally created a package with the wrong name and then I started to suffer the previous error for every package I tried to install.

Good to know !

[2017-04-11 13:06] adamjstewart commented on #3790
Hmm, I've never used an alternate installation directory before so I can't say how well it works. That's the only thing I could think of. Sorry I can't be of more help!

[2017-04-11 13:10] berrill opened #3793 "Mercurial does not work with spack on Titan"
Spack does not seem to correctly handle python paths with mercurial on Titan when loaded as a module.  When checking out any mercurial repo through spack I get:

Trying to clone Mercurial repository:
  https://bitbucket.org/pflotran/pflotran-xsdk
==> '/sw/xk6/mercurial/2.6.3/python2.6.8/bin/hg' 'clone' 'https://bitbucket.org/pflotran/pflotran-xsdk'
'import site' failed; use -v for traceback
Traceb

[2017-04-11 13:13] samfux84 commented on #3790
Thank you for your feedback.

I will try to some debugging on my own. Is there an easy way to get more verbose output for the spack install command, like having a Python stack trace for the command that is failing ? And is there a way to print the values of some variables like for instance spec.prefix ?

[2017-04-11 13:18] samfux84 commented on #3790
Changing

[code]

to

[code]

solved the problem:
[code]

[2017-04-11 14:30] svenevs commented on #3787
I don't think the above analysis was very clear on my part.  It appears to me that **anything** marked as `buildable: False` is _unable to be used_ in compiling any package.  I tried doing `libxcb` with just `xcp-proto` in my `packages.yaml`, for example, and it failed as well.

I think the best / most important test case would be `mpi` related packages, if those are marked as `buildable: False` a

[2017-04-11 14:59] adamjstewart commented on #3787
Wow, this is bad. Your statement is almost right. I just tried a simple:
[code]
added it to my `packages.yaml`:
[code]
and now `spack install m4` produces the aforementioned error message. Even if I remove `buildable: False`, the error message still persists. `spack reindex` doesn't help.

However, if I use an external package that wasn't installed with Spack:
[code]
it works just fine. So I would

[2017-04-11 15:05] adamjstewart commented on #3787
Ooh, and if I run `spack find` I'm seeing it in the database:
[code]
Of course, that's not the right path:
[code]

[2017-04-11 15:06] adamjstewart commented on #3787
@alalazo Any change these bugs will be fixed by #1167?

[2017-04-11 15:13] alalazo commented on #3787
@adamjstewart I'll have time to have a look at this starting next week.

Are you sure it's **in** the database? Can you check the `json` file?

[2017-04-11 15:20] adamjstewart commented on #3787
In `opt/spack/.spack-db/index.json` I see:
[code]
Btw, that `0.9.2`, is that the Spack version? `spack --version` returns `0.10.0`. Is there somewhere we forgot to update the database version?

[2017-04-11 15:24] tgamblin commented on #3788
@BarrySmith: ?

[2017-04-11 15:25] adamjstewart commented on #3788
_curiosity intensifies_

[2017-04-11 15:28] junghans opened #3795 "spack setup -i fails"
[code]

[2017-04-11 15:31] sknigh opened #3796 "go-bootstrap build failure in Centos 7"
The error
[code]

spack-build.out
[code]

Related issue: https://github.com/golang/go/issues/19457

[2017-04-11 15:32] adamjstewart commented on #3795
`spack setup` doesn't work. Hasn't for a very long time. I'm adding that to the documentation in #3781. See #2597 and #2662 for details. Also try out #2664 and see if it fixes your problem.

[2017-04-11 15:33] adamjstewart commented on #3796
Try installing `go-bootstrap -test`. Tests don't always pass. We should probably remove this variant and only run the tests when `--run-tests` is supplied.

[2017-04-11 15:36] adamjstewart commented on #3787
The previous comment shows the package immediately after installation of `curl`. If I run `spack reindex`, it changes to:
[code]
Notice that `path` is updated to the wrong path and `installed` is now `true`.

[2017-04-11 15:44] sknigh commented on #3796
```go-bootstrap~test``` solved my issue

As a aside, I would rather have the variant's default value changed instead of removing it. Changing specs often breaks down my scripts which compels me to avoid updating spack regularly.

[2017-04-11 15:50] adamjstewart commented on #3796
I agree in terms of stability, but we agreed long ago not to have `test` variants. The problem is that if you install `go-bootstrap~test` and then install `go`, you'll find it reinstalling `go-bootstrap+test`. `go-bootstrap+test` and `go-bootstrap~test` should be identical installations, we shouldn't have two different specs for identical installations.

[2017-04-11 16:44] citibeth commented on #3795
See #2664, I fixed this in December.

[2017-04-11 16:50] junghans commented on #3795
Nice, still needs to be merged though.

[2017-04-11 16:50] #3795 closed

[2017-04-11 17:17] xjrc commented on #1559
Wasn't able to get to this last week since I was a bit busy, but I'm taking a look at it now.  Setting this test up takes a while, but I should have a response in a few hours.

[2017-04-11 17:28] davydden commented on #3764
p.s. @adamjstewart here is the link line from  https://software.intel.com/en-us/articles/intel-mkl-link-line-advisor  for intel compiler
[code]
As you see, we need to add those system libs.

But I agree, probably we need to specify their full path to make sure `LibraryList` works correctly for all usage scenarios.

[2017-04-11 19:09] #3783 closed

[2017-04-11 20:22] adamjstewart commented on #3790
Interesting. @alalazo @scheibelp Did something change recently? The line that is supposed to see if the package is listed as a dependency is:
[code]
For some reason, build dependencies now return `False` for `'name' in spec`.

[2017-04-11 22:32] xjrc commented on #1559
@tgamblin: Unfortunately, I wasn't able to perform a clean test for this because a number of the dependencies for `visit@2.10.3` no longer install properly for me (e.g. `vtk@6.1.0~opengl2` and `hdf5@1.10.0-patch1~mpi`).  However, I was able to get an installation half-working by using installation files from Spack v0.10 for the failing libraries, and it looks to me like the reinstallation issue is

[2017-04-11 22:32] #1559 closed

[2017-04-11 22:56] scheibelp commented on #3790
As it happens with #2548 ```x in spec``` will not work if x is a build-only dependency of "spec". I overlooked that this would cause a problem for autotools. I'll have to update the PR to get it to support that; I should be able to do that today.

[2017-04-11 23:02] adamjstewart commented on #3790
But #2548 hasn't been merged yet. Something must have changed elsewhere. Should be a single line fix to loop through build dependencies here, but I'm not sure what the syntax would be.

[2017-04-11 23:04] scheibelp commented on #3790
I'm pretty sure @samfux84 was using develop with #2548 merged in:

[2017-04-11 23:39] adamjstewart commented on #3790
Ah, that makes more sense. Thanks!

[2017-04-11 23:41] adamjstewart commented on #3790
I'm going to close this because the bug isn't in develop and has been fixed in the PR that introduced it.

[2017-04-11 23:41] #3790 closed

[2017-04-12 16:07] tgamblin commented on #1559
Thanks @xjrc!

[2017-04-12 19:45] adamjstewart commented on #357
@alfredo-gimenez It sounds like you just need to clean up your `DK_NODE` and things should work properly. You can reopen this issue if that doesn't solve the problem.

[2017-04-12 19:45] #357 closed

[2017-04-12 19:53] adamjstewart commented on #508
Closed by #2375.

[2017-04-12 19:53] #508 closed

[2017-04-12 19:57] lee218llnl opened #3813 "mpl_toolkits.basemap fails to import"
I'm having trouble importing mpl_toolkits.basemap. I know this had previously worked, so I don't know where to point the finger. Here's what I see:

[code]

With a previous installation I see this:

[code]

Notice that the __path__ in the latter case includes the mpl_toolkits directory where basemap exists. I'm not sure why the old Spack python build was able to find both the matplotlib and basema

[2017-04-12 20:00] adamjstewart commented on #529
Is this issue still relevant? I think `spack install` automatically deletes the staging area after a successful installation. Although I could be wrong, because I run `spack purge` religiously.

[2017-04-12 20:27] adamjstewart commented on #3813
See #1964. This may have introduced the bug. It sounds like it was meant to address the bug.

[2017-04-12 20:39] scheibelp commented on #529
It will unless the user specifies ```--keep-stage``` or if the install fails.

[2017-04-12 20:40] #529 closed

[2017-04-12 21:13] adamjstewart commented on #645
It sounds like this issue was resolved by #1676. Reopen if I'm wrong.

[2017-04-12 21:13] #645 closed

[2017-04-12 21:16] adamjstewart commented on #1274
@eschnett Does this still happen? I just cleared my downloads cache and installed a package. Spack immediately started downloading it instead of reporting that it couldn't find the file in my downloads cache.

[2017-04-12 21:30] adamjstewart commented on #1488
Fixed by #1758.

[2017-04-12 21:30] #1488 closed

[2017-04-12 21:31] adamjstewart commented on #1483
Fixed by #3742.

[2017-04-12 21:31] #1483 closed

[2017-04-12 21:39] adamjstewart commented on #1369
I think this will be fixed by #3013, which allows you to run `spack --no-color find`.

[2017-04-12 21:44] adamjstewart commented on #1426
Confirmed that this bug is still present in the latest develop.
[code]
This isn't that big of a deal until you need to install a new Python package and you find that some of its dependencies have been updated. You can either activate the package anyway and ignore the dependencies (broken) or you can uninstall and reinstall the dependencies and everything that might have depended on them (time cons

[2017-04-12 21:45] adamjstewart commented on #1304
I'm starting to think that this test isn't such a good idea. I've come across some packages (flex?) that _should_ have missing symbols. It is up to you as a developer using this package to define those symbols.

[2017-04-12 21:48] adamjstewart commented on #1286
Feel free to create a virtual dependency for jpeg if you want. If not, that's fine too. I'm going to close this issue as it sounds like the discussion is done. Trying to close out old issues so that we can focus on the relevant bugs.

[2017-04-12 21:48] #1286 closed

[2017-04-12 22:17] citibeth commented on #3813
Ah yes, this issue rears its ugly head again. @adamjstewart is right, see #1964; and while you're at it, you can also look at #1948 and https://github.com/matplotlib/matplotlib/issues/5327 and https://www.python.org/dev/peps/pep-0420/ .  See in particular the solution I use in #1964 for this issue, which explains some of what you observed:

Based on that, here's where I would look:

1. I see that

[2017-04-12 23:33] pramodk opened #3816 "Spack, Cray, mpich and link error"
I am trying to build one of the package which looks like :

[code]

I have setup `packages.yaml` and `compilers.yaml` correctly :
[code]

While building the package I get link error :
[code]

I see the mpi library linking error. But as we are using cray wrappers via `spack/env/intel/icc` I don't understand how this could end with link error.  I am checking at `spack-build.env` and see that variabl