[2020-12-14 11:36] #20369 closed, assigned to nobody

[2020-12-14 15:18] MBlaschek opened #20372 "Installation issue: libemos"
Installing libemos@4.5.1 and 4.5.9 as well

### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.16.0-225-78fee80e4
* **Python:** 3.6.8
* **Platform:** linux-rhel8-skylake_avx512
* **Concretizer:** original

### Additional information

* [spack-build-out.txt](https://github.com/spack/spack/files/5689628/spack-build-out.txt)
* [spack-build-env.txt](https://github

[2020-12-14 15:22] MBlaschek commented on #20372
Adding the two lines at the bottom solves the errors....
and the new version as well.

[code]
However I'm not sure if that is really the solution or it's just me having to do this fix?

[2020-12-14 15:54] alalazo commented on #20340
@mpbelhorn Apologies, this is a known issue that is still to be fixed. I'll add it to the v0.16.1 list and assign to myself.

[2020-12-14 18:52] adamjstewart opened #20375 "spack test run --verbose"
I would like to see a `--verbose` flag added to `spack test run`.

### Rationale

Currently, the output of `spack test run` looks like:
[code]
I think by default, we should add a summary at the end, like pytest does. Something like `7 out of 7 tests PASSED`. I would also like a `--verbose` flag that shows more details of the tests for each package.

[2020-12-14 18:56] adamjstewart commented on #20364
There is currently no universally accepted way to handle this. Some packages have split into `foo` and `foo-legacy`. There has been some talk of making a separate `legacy` repo for these older versions. The most common solution is to subclass the `Package` base class and provide separate phases for each version using `@when`. See https://github.com/spack/spack/pull/12941#issuecomment-538105434 for

[2020-12-14 19:34] mpbelhorn commented on #20340
@alalazo Good to know it's a known issue. And no worries. I'm still learning how the new concretizer works and suspect I'll want to re-structure our environment's specs anyways once we're ready to adopt the new concretizer in our production deployments. I really appreciate the work done on the new concretizer and am really excited about it.

[2020-12-14 20:31] eugeneswalker opened #20380 "superlu build fails: csh install.csh: csh: Command not found"
I'm seeing `superlu@4.3` builds fail if `csh` is not available.

I will submit a PR making `tcsh` a build dependency of `superlu` unless someone objects.

System info:
* `spack@develop` (cf37e9276d826a4607afcc307f765c0708e83311 from `Fri Dec 11 16:54:11 2020 -0700`)
* `RHEL 7` for `x86_64`
* `GCC 8.1.0`
* Docker image: `ecpe4s/rhel7-runner-x86_64:2020-12-01`

Concrete spec: [superlu.spec.yaml.txt]

[2020-12-14 20:35] jrood-nrel commented on #20380
Interesting. I've probably only been on machines where `csh` is available by default. So I guess I'm fine with this.

[2020-12-14 20:51] eugeneswalker commented on #20380
Likewise. I only ran into this because I was working in some relatively slim Docker images that don't have `csh`

[2020-12-15 09:22] #4837 closed

[2020-12-15 09:37] #20171 closed, assigned to alalazo

[2020-12-15 12:52] smarocchi commented on #16874
Same problem with spack 16.0 in container singularity centos 7 on architecture ppc64le

In file included from connect/btl_openib_connect_sl.c:22:
/usr/include/infiniband/iba/ib_types.h:41:10: fatal error: complib/cl_types.h: No such file or directory
 #include <complib/cl_types.h>
          ^~~~~~~~~~~~~~~~~~~~
compilation terminated.

but the file is in

Singularity> find / -name cl_types.h
/usr/

[2020-12-15 12:55] #20132 closed, assigned to nobody

[2020-12-15 13:10] rscohn2 opened #20403 "Add packages for intel oneapi components"
Add packages for intel oneapi components

### Rationale

Simplify install of oneapi components

### Description

intel-oneapi-cpp (contains icc/icpc, icx/icpx, dpcpp
intel-oneapi-fortran (contains ifort/ifx)
intel-oneapi-mkl
...

### Additional information

### General information

[2020-12-15 13:11] rscohn2 commented on #20403
@tldahlgren @scheibelp
Added this issue for discussion separate from PR's

[2020-12-15 13:12] rscohn2 commented on #20403
See #19506

[2020-12-15 16:31] cosmicexplorer opened #20407 "hermetic/remoteable/cacheable process executions"
*Summary:* **use the pants CLI tools to insert file/directory contents from build steps into a local db, and allow execution against a backend for the [bazel remote execution API](https://github.com/bazelbuild/remote-apis) (remexec API).**

### Rationale

The remexec API is a [single-file protobuf API](https://github.com/bazelbuild/remote-apis/blob/master/build/bazel/remote/execution/v2/remote_exe

[2020-12-15 16:55] cosmicexplorer commented on #20407
It's not clear yet how useful this would be. The most useful measurements to get first would require picking a package with no dependencies, then asking for that package:
- Which files does each build step (configure, make, install, test, ...) have access to at the start and the end of the step?
- Which files does each build step read, and which does it write? (This can be determined with `strace`

[2020-12-15 17:01] cosmicexplorer commented on #20407
It's also totally possible to do this without using the pants CLI tools or `upc` at all. But I believe the CAS interactions, the remote file sync logic, and the conversion to protobuf (and keeping up with updates to the API) would be a very large project, while this ticket instead describes how to *incrementally* test out parts of the remoting stack.

[2020-12-15 18:36] iulian787 opened #20409 "Installation issue: moab"
variant moab+cgm is not building anymore

moab still uses *.la libtool library files to resolve dependencies

So `spack spec moab+cgm` works as expected, but
`spack install moab+cgm` does not, with compile errors related to missing *.la files in cgm installation. Looking at the cgm build, I see that the *la files are built, but they are not installed anymore in cgm installation folder, in spack;

[2020-12-15 18:38] EthanS94 commented on #19979
@chuckatkins @v-dobrev ping . Have you run into this problem? Should there be a `depends_on(cmake)` in mesa's package file?

[2020-12-15 19:11] nightlark opened #20410 "Logger dies (fails package build) when it encounters non-ascii character"
### Steps to reproduce the issue

I got this error by running this command:

[code]

I'm using gcc 10.2.0 and running the command using bash -- other packages using the same build system work fine.

### Error Message

[code]

Running with --debug gives:

[code]

### Information on your system

* **Spack:** 0.16.0-230-86ae63b
* **Python:** 3.6.8
* **Platform:** linux-rhel7-thunderx2
* **Concretizer

[2020-12-15 19:17] nightlark commented on #20410
Actually, this might be related to #15285, and it looks like there's PR #15206 as a possible fix.

[2020-12-15 19:51] Rashadx86 commented on #16874
@smarocchi I was able to get past it by defining verbs=/usr/include/infiniband and omitting the fabrics=verbs

[2020-12-15 20:01] cosmicexplorer commented on #20260
@haampie:

You just got 100% up-to-date in the space of one comment because you read my mind! The plan is definitely to lean on pre/cross-compiled binaries for clingo specifically! You have made me realize I didn't write out anywhere the plan in my head for #20159 -- sorry!! I was thinking in that PR we would distribute specifically **clingo** as:
1. cross-compiled binaries for osx, linux x86, ARM

[2020-12-15 20:48] nightlark commented on #20410
Okay, pretty sure this is just another instance of the locale issue. Closing duplicate.

[2020-12-15 20:48] #20410 closed, assigned to nobody

[2020-12-15 22:11] grabear commented on #19051
@JBlaschke I don't have access to the machine that I was working on (or something similar).  However, I will give it a try over the holidays and report back.  Thanks for the potential workaround!

[2020-12-15 22:44] #20310 closed, assigned to becker33

[2020-12-16 01:39] bhatiaharsh opened #20418 "Installation issue: Bazel@0.29"
I am trying to build `bazel@0.29.1` on my way to `py-tensorflow@2.1` on `lassen` (`power9`) and running into a lot of issues. First, I ran into [this](https://github.com/bazelbuild/bazel/issues/9263) and ended up creating a patch to fix this. After that, I am running into a linking error -- i think my compiler is set up correctly since this is the only time I see this issue.

Here is the tail of t

[2020-12-16 02:37] cosmicexplorer commented on #20256
# Summary

Thank you so much for that brilliant overview! It looks like there are several directions we can expand spack's spec syntax right now, and I was super excited to see where our thoughts met. Here are the remaining useful ones I identified from our discussion:
1. **Pin a virtual dependency as in #15569.**
  - **1.1** proposes `[virtual=mpi] mpich`.
  - **1.2** and **2.1** propose `%mpi=mp

[2020-12-16 04:45] adamjstewart commented on #20418
Sorry, I don't have access to a power9 system to test this on. I haven't encountered this myself, but from my experience, TF and Bazel are a nightmare to build on any system that Google doesn't officially support. For example, the build should work just fine on Ubuntu but seems to fail for everyone on RHEL/CentOS. There may be some workarounds in old Spack issues or Bazel/TF issues. I would sugges

[2020-12-16 04:52] bhatiaharsh commented on #20418
@adamjstewart , thanks for a prompt response. I am looking through the package for finding solutions.

One silly thing that is happening is, that during linking stage is failing. I suspect this is because the `LD_LIBARRY_PATH` is not correct. I have added the compiler to spack after loading as a module.

[code]
note that there is no `lib` path for my compiler, `gcc/7.3.1`. do you know why it might

[2020-12-16 05:01] adamjstewart commented on #20418
Hmm, I believe we have some logic inplace to automatically detect RPATHs for compilers. @becker33?

[2020-12-16 07:09] angelinesalberto commented on #14779
Hi,
I am not able to install rema-core with intel compilers, I do:

spack install rdma-core@28.0 %intel@19.1.3.304

And I get the follow errors:

Error: ProcessError: Command exited with status 2:
    'make'

17 errors found in build log:
     193    cd /tmp/spack/spack-stage/spack-stage-w5G6WU/rdma-core-28.0/spack-build/util && /mnt/lustre/ohpc/admin/spack/0.12.1/lib/spack/env/intel/icc  -I/tmp/s

[2020-12-16 09:55] smarocchi commented on #16874
Dear @Rashadx86, thank you ! Unfortunately I have not grasped where I have to define "verbs=/usr/include/infiniband and omitting the fabrics=verbs"

I show you what I am trying to do:

#############################

[code]
#############################

This command is working without verbs neither in the "fabrics=" nor in the "verbs="

Thanks again for your help !

[2020-12-16 09:59] jordialcaraz opened #20424 "Installation issue: dyninst@9.3.2 + boost, setup_dependent_package from pr #20198 breaks boost <= 1.69.0"
I try to install dyninst@9.3.2 but get the following error:

==> dyninst: Executing phase: 'cmake'
==> Error: AttributeError: 'NoneType' object has no attribute 'spec'

/home/jalcaraz/spack/var/spack/repos/builtin/packages/boost/package.py:552, in _cmake_args:
        551            def _cmake_args(self):

### Steps to reproduce the issue

$spack install dyninst@9.3.2

@hainest

### General inform

[2020-12-16 13:37] johnsmith2077 commented on #13343
Hi, hope it's not too late, I encounter a similar problem and fix it by adding `-stdlib=libstdc++`, which will make clang link to the `libstdc++.*` in gcc lib folder. This flag is needed because gcc and clang are using different c++ standard libraries with different names(`libstdc++` and `libc++` respectively). While I use `gcc@10.2.0` and `clang@11.0.0`(which doesn't contain `libstdc++` anymore),

[2020-12-16 14:20] rscohn2 commented on #20403
@scheibelp, can we continue the conversation from #19506 here?

I am working on a new PR: #20411 . I am starting with TBB because it is the smallest package and quick to download/install. I am working on the structure with the base class and individual packages that inherit from it. When that is right, I can create all the other packages more easily. I have some questions about the best way to do

[2020-12-16 17:04] bhatiaharsh commented on #20418
FYI, i was able to install this on power9 (well, at least one -- lassen.llnl).

This commit makes the fix. I am still dealing with tf errors, and can throw in a PR if you'd like, although at least some of this is hacky.

https://github.com/bhatiaharsh/spack/commit/b4fbdd77afe179eddf01da2ba98c3b97fda0583c

[2020-12-16 17:12] mrmundt commented on #7966
Is there any ETA/update on this?

[2020-12-16 17:29] becker33 commented on #20256
@cosmicexplorer I don't know that I can fully respond to every point here, but there are a couple things I have strong feelings about.

The first is that I do not think we should use the `%` sigil for virtual dependencies. I think we will want to differentiate between build deps and link/run deps on the command line, and I think that's a more appropriate co-option of the `%` sigil that previously

[2020-12-16 17:44] hainest commented on #20424
This is a known concretizer bug that was recently addressed (#20341). As an aside, Dyninst 9 is no longer supported. I would strongly encourage you to upgrade to 10+. I'm a Dyninst dev, so I would be happy to help with any upgrade troubles.

[2020-12-16 17:56] cosmicexplorer commented on #20256
I think it's very reasonable to avoid using `%` for virtual dependencies for now. The reason we would want to expand the concept of virtual dependencies would be to obtain something like this `ComplexResource` object I tried to define above, as compared to the imho very thin concept of virtual dependencies we have right now. This comment in particular defined the object that would motivate using `

[2020-12-16 18:13] cosmicexplorer commented on #20256
The issue I saw with not using `%` was tangential, in that specs currently have no way to determine whether something is a virtual or non-virtual provider just by parsing the spec. I believe @alalazo's solution in #15569 with `^[virtual=c, ...] dependency` could still be adaptable to the following to define a syntax for virtual dependencies:

1. `^[virtual=c, ...] dep` => *pin* the virtual package

[2020-12-16 18:13] nithintsk opened #20429 "Hash changes make binary mirrors unusable"
### Description

We currently have binary mirrors for the MVAPICH2-X and MVAPICH2-GDR packages that are available through spack. The binaries on these mirrors are rendered unusable whenever the build dependencies of MVAPICH2-X or MVPICH2-GDR (bison and libpciaccess) are updated by their maintainers.

This causes us to regenerate all our binaries with the latest version of spack and all the depende

[2020-12-16 18:16] adamjstewart commented on #7966
#17475 gives a pretty good summary of what needs to be fixed in order to support this feature. I haven't heard any talk about anyone trying to tackle this in the near future. @scheibelp @becker33?

[2020-12-16 18:17] adamjstewart commented on #20418
If you submit a PR I'll test it on macOS and make sure it doesn't break anything for me. Good luck with TF issues!

[2020-12-16 18:21] cosmicexplorer commented on #20256
I also should have made it clear that `%` wouldn't have been used until we were able to convert all compilers to be virtual dependencies first. I was under the impression (maybe incorrectly) from @alalazo's comments that it *could* make sense to do that. In my comments just above, it was recorded as:

I believe this could be done right now as a proof of concept. **Do we think compilers and virtual

[2020-12-16 18:44] scheibelp commented on #20403
OK excellent let me know if I've missed anything so far. I'm happy to answer future questions.

I think it would make sense for `icx`/`icpx` to be included together (my assumption is that these are for C and C++ respectively). The difficulty may arise when bundling `icpx` and `dpcpp` (which I assume are both for C++). Note that for different compiler executables of the same language, Spack will en

[2020-12-16 18:50] rscohn2 commented on #20403
I have some questions here: #20411

[2020-12-16 18:58] cosmicexplorer opened #20430 "consider bootstrapping spack as a standalone PEX to avoid interpreter clashes"
*Summary:* Expose the [`pex`](https://github.com/pantsbuild/pex) python tool as a spack package. This allows creating [hermetic python environments as executable zip files](https://github.com/spack/spack/pull/20159), otherwise known as *PEX files.*

### Rationale

- Even after #20207, the version of python used to bootstrap clingo *must* remain the first python executable on the `PATH` -- otherwis

[2020-12-16 19:00] cosmicexplorer commented on #20430
This may not end up being needed. But I would prefer we avoid interpreter entanglement rather than letting some users experience issues with isolation after bootstrapping clingo, and learn to accept that that's necessary.

[2020-12-16 19:22] jordialcaraz commented on #20424
I tried to use 10+ but I get a segmentation fault and using gdb i get an error sayind dwarf_error.c does not exist.

I will try to install dyninst manually until the fix is available. Thank you.

[2020-12-16 19:30] hainest commented on #20424
Please submit a bug report on https://github.com/dyninst/dyninst. Be sure to include as much information about your environment as possible (e.g., OS, compiler, glibc, etc.) and the exact error messages you were seeing. If you can include a minimum working example to demonstrate the error, that would be great, but not mandatory.

[2020-12-16 19:49] becker33 commented on #20256
Compilers need to be virtual dependencies for the compilers-as-dependencies work that @alalazo has already started on, but there is a difference between a virtual build dependency (`pkgconfig`), a virtual build dependency that imposes a link dependency on its dependents (`c`, `cxx`, `fortran`), and a virtual link dependency (`mpi`, `blas`, `lapack`). I think we need to be able to independently exp

[2020-12-16 22:05] mrmundt opened #20434 "DeprecationWarning: ABCs Collection"
**NOTE: Spack still functions as intended. I simply want to report the deprecation warning.**

I wrote a spack-python script to do some cleanup/setup of spack files in between runs. I wrote a few unittests for my script, and when I ran them, I got these deprecation warnings:

[code]
### Steps to reproduce the issue
The script is rather long, so I'll give you a piece of it:

[code]
The test:
[code]

[2020-12-16 22:12] v-dobrev commented on #19979
Judging by https://gitlab.freedesktop.org/mesa/mesa/-/blob/master/meson.build, it looks like `cmake` may be used by the build system, at least in some cases. However, I'm not sure if `mesa` or `meson` should depend on `cmake` -- technically, I think `mesa` calls `meson` which then finds and calls `cmake`.

[2020-12-16 23:15] #20079 closed, assigned to alalazo

[2020-12-16 23:52] cosmicexplorer commented on #20256
Ok, thank you so much for that context!

I am pretty sure I agree with that. Here's how I was planning to do that:
1. *Enable virtual dependencies ("requires") and virtual "providers".*
    - **No concept of build step yet.**
    - From https://github.com/spack/spack/issues/20256#issuecomment-745725236:
        - Left side is *provides*.
        - Right side is *requires*.

2. *Specify build steps

[2020-12-17 00:32] iulian787 commented on #20409
so our workaround is this:
[code]

[2020-12-17 14:56] roblatham00 opened #20444 "Building MPI programs on Cray (Theta) no longer works"
When I try to build mpi-using packages on Cray (ALCF Theta), the build fails.

### Steps to reproduce the issue

[code]

### Information on your system

[code]

This is the ALCF Cray "Theta" system, bane of my spack experiences

I do not see this problem with spack-0.15.4

I do see this problem with spack-0.16.0

I trick spack by telling it cray-mpich is mpich:

[code]

### Additional information

[2020-12-17 15:20] haampie commented on #20444
could you run `git bisect` to figure out on which commit it fails?

[2020-12-17 16:08] MBlaschek commented on #20372
Realized that in `eccodes@2.19.1` the path is again different:
[code]
Not sure how to write that properly

[2020-12-17 16:13] SalvoBella opened #20445 "Problems during install deal.II in spack"
Hi everyone, first I want to apologize because I am new into ubuntu, so I could be wrong anywhere.

In order to install a library, I had to clone spack, and then to install deal.II and vtk.
I followed this code:

[code]

Up to this point, everything seems fine, and I got no errors.
Then I install

`spack install dealii@9.2.0 ^suite-sparse@5.2.0`

And I get errors as you see in the screen.
Do you h

[2020-12-17 16:22] chuckatkins commented on #19979
It looks like CMake needs to be a runtime-only dependency of meson

[2020-12-17 18:08] chuckatkins commented on #19979
@EthanS94 does #20449 fix the issue for you?

[2020-12-17 19:07] ArjunNarayanan opened #20450 "Installation issue: blitz"
I can't seem to find the build log and environment files, if someone could help me locate them that would be great :)

I am trying to build the blitz++ library and running into the error below:

### Steps to reproduce the issue

[code]

### Information on your system

[code]

### Additional information

* [spack-build-out.txt]()
* [spack-build-env.txt]()

### General information

- [x ] I have run

[2020-12-17 19:33] EthanS94 commented on #19979
@chuckatkins trying it out now. Thanks

[2020-12-17 20:26] #20380 closed, assigned to nobody

[2020-12-17 21:39] EthanS94 opened #20454 "Installation issue: automake@1.16.3"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.16.0-281-a879c875d
* **Python:** 3.6.3
* **Platform:** linux-rhel7-broadwell
* **Concretizer:** original

### Additional information

This was found during a build of paraview%intel, but I will test with gcc too. automake@1.16.2 builds fine. I can provide more information if needed. Just wanted to get this up

[2020-12-17 21:53] EthanS94 commented on #19979
@chuckatkins It worked!

It looks like the same thing is needed for expat, possibly? Shortly after finding cmake, the meson build failed (on a compute node, so no internet access) with:
[code]

[2020-12-17 21:56] #19979 closed, assigned to nobody

[2020-12-17 22:23] EthanS94 commented on #19979
@chuckatkins Should I open a new issue for this expat problem?

I tried adding `depends_on('expat', type='run')` to meson's package.py which didn't fix it. Adding `depends_on(expat, type='build')` to mesa's package.py did fix it, but I'm not sure if that's the right thing to do.

[2020-12-17 22:37] EthanS94 commented on #20454
I get the same error with `gcc@7.4.0`

[2020-12-17 23:23] eugeneswalker opened #20456 "py-greenlet@0.4.13 build fails on power arch: platform/switch_ppc64_linux.h"
Building `py-greenlet@0.14.3` fails using `spack@develop` (c5b4a667d3e8d44efe5395c33a5c57ec66dc5056 from `Thu Dec 17 16:56:39 2020 -0500`).

I believe this is due to a fairly recent change (post ~ 2020-12-14)

System info:
* `Ubuntu 18.04` for `ppc64le`
* `GCC 7.5.0`
* Docker container image: `ecpe4s/ubuntu18.04-runner-ppc64le:2020-12-01`

Concrete spec: [py-greenlet-5gtlvi.yml.txt](https://github

[2020-12-17 23:24] adamjstewart commented on #20456
Try adding a link dependency on Python

[2020-12-17 23:27] eugeneswalker commented on #20456
Still fails, same error :(

[2020-12-17 23:29] eugeneswalker commented on #20456
Looks like this issue: https://github.com/python-greenlet/greenlet/issues/119

[2020-12-17 23:32] eugeneswalker commented on #20456
Yes. The patch described here allowed the install to complete without error:
* https://github.com/python-greenlet/greenlet/issues/119#issuecomment-359150714

And this is the more complete commit that was ultimately submitted to resolve:
* https://github.com/python-greenlet/greenlet/pull/130/files

... which made it's way into `py-greenlet@0.4.17`

[2020-12-18 00:39] chuckatkins commented on #19979
It should be applied to the mesa package.

[2020-12-18 00:40] chuckatkins commented on #20454
I just started hitting this today as well

[2020-12-18 00:41] tachidok opened #20458 "openblas installation is very slow: spack 0.16.0"
Openblas is taking too long to finish the installation, around 11 minutes, is that normal?

### Minimal example
[code]

I want to add that I came to this minimal example after trying to create a Dockerfile with more packages and noticed that openblas was taking too long to install. I initially tought it was a docker related problem but then I individually installed the packages using the command

[2020-12-18 01:30] haampie commented on #20458
It's normal, it compiles for multiple architectures, and not only compiles blas, but also lapack

[2020-12-18 03:38] #20456 closed, assigned to nobody

[2020-12-18 07:30] angelinesalberto opened #20469 "Installation issue: Error installing rdma-core with intel compiler"
Error installing rema-cores with intel compiler

Hi,
I am not able to install rema-core with intel compilers, I do:

spack install rdma-core@28.0 %intel@19.1.3.304

And I get the follow errors:

Error: ProcessError: Command exited with status 2:
'make'

17 errors found in build log:
193 cd /tmp/spack/spack-stage/spack-stage-w5G6WU/rdma-core-28.0/spack-build/util && /mnt/lustre/ohpc/admin/spack/0.1

[2020-12-18 09:47] andymwood opened #20471 "Installation issue: VTK, internal compiler error with Intel 19.0.5"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.16.0
* **Python:** 3.6.8
* **Platform:** linux-centos7-broadwell
[spack-build-out.txt](https://github.com/spack/spack/files/5714900/spack-build-out.txt)
[spack-build-env.txt](https://github.com/spack/spack/files/5714901/spack-build-env.txt)

### Additional information

* [spack-build-out.txt]()
* [spack-build-

[2020-12-18 15:10] danlipsa commented on #20471
Would this fix it?
https://github.com/spack/spack/pull/18193

[2020-12-18 15:54] giltirn opened #20476 ""Could NOT find MPI" error for MPI builds on Theta (Cray XC40)"
I am trying to build my dependencies on Theta using a spack environment with the following spack.yaml

[code]
While most of the components are compiling, I am having trouble with adios2:

[code]

As you can see I am here including mpich as a root dependency following the advice from [here](https://github.com/spack/spack/issues/16910), but it is apparently not working.

The build seems to be failin

[2020-12-18 16:23] haampie commented on #20476
There's a `cray-mpich` package now, so you should be using that:

[code]

[2020-12-18 16:35] andymwood commented on #20471
I think so, yes.

[2020-12-18 16:39] danlipsa commented on #20471
Can you please try it and file a PR. Thanks!

[2020-12-18 16:40] giltirn commented on #20476
Thanks for the quick response. Unfortunately, changing mpich to cray-mpich didn't seem to work:
[code]

[2020-12-18 17:50] andymwood commented on #20471
The pull request is #20480

[2020-12-18 17:50] chuckatkins commented on #20471
Blanket disabling IPO is pretty drastic and can have a significant effect on the resulting binary performance.  Is it possibly an issue of resource exhaustion?  Does it work if you build with a smaller `j` level, i.e `spack install -j8` or `-j4` instead of the default which would be up to 16?

_Originally posted by @chuckatkins in https://github.com/spack/spack/issues/18193#issuecomment-748227462_

[2020-12-18 18:14] andymwood commented on #20471
I've just tried this, with spack checked out on releases/v0.16:
[code]

There's no joy with `-j 4` or `-j 8` either.

[2020-12-18 19:03] #20323 closed, assigned to nobody

[2020-12-18 19:26] robertu94 opened #20483 "install libpython.py when installing python"
install libpython.py when installing python

### Rationale

Installing this gdb extension would dramatically improve the debugging experience  with python with C extensions.

### Description

libpython.py is a gdb extension written by the python core developers which provides several helper functions for debugging python c extensions using gdb such as `py-bt` which translates the full C backtrace

[2020-12-18 21:14] adamjstewart commented on #20483
@robertu94 I looked into this. According to the docs you linked, it seems like the only way to activate Python support is to set `add-auto-load-safe-path` in your `~/.gdbinit`, correct? We try to avoid modifying any files outside of the Spack installation prefix in order to make Spack easy to uninstall. Unless `gdb` has some default `gdbinit` file we can overwrite (I couldn't find one), the best w

[2020-12-18 21:47] robertu94 commented on #20483
@adamjstewart I'm okay with having to modify the file myself to enable this.  I just need the file to be installed with the spack prefix in the first place.

On a side note, it is [also possible](https://sourceware.org/gdb/onlinedocs/gdb/Auto_002dloading-safe-path.html) to set a spack-built gdb's default auto-load-safe-path at configure time for gdb using `--with-auto-load-dir`, but I think the de

[2020-12-18 21:57] adamjstewart commented on #20483
That looks promising! Any thoughts on the best place to put `python-gdb.py`? Maybe in `$prefix/share/gdb` if there isn't already a default location in the Makefile somewhere. I'll try to put together a PR to make all of this work and let you test it.

[2020-12-18 22:07] adamjstewart commented on #20483
According to [this](https://stackoverflow.com/questions/40391404/loading-python-support-in-gdb) it looks like the `$prefix/bin` directory is a good choice.

[2020-12-18 22:19] adamjstewart commented on #20483
pyenv does the same thing: https://github.com/pyenv/pyenv/pull/1289

[2020-12-19 10:59] vvolkl commented on #20050
@alalazo #20064 seems like a fairly straightforward fix that just makes fetching a bit more robust, what do you think?

[2020-12-19 14:07] jppelteret commented on #19407
Hi @DominicSoldner! Sorry that I didn't see your message until now. I've not got much experience at all with the Intel compilers on Emmy, but it looks suspiciously like you've hit the same problem as is documented here https://github.com/spack/spack/issues/15522. Although its not ideal, there's a potential work-around that's been suggested in https://github.com/spack/spack/issues/15522#issuecommen

[2020-12-19 19:24] DominicSoldner commented on #19407
Hi @jppelteret Thank you very much for your help! I tried using this approach but get the error:

'Trilinos' object has no attribute 'component_lib_dir'

Thanks to your pointer I tried also the proposal from [#7740](https://github.com/trilinos/Trilinos/issues/7740) witch fixed to problem. :)

Thank you again for your help

[2020-12-20 23:39] #15896 closed

[2020-12-20 23:41] #15019 closed

[2020-12-20 23:41] #13926 closed

[2020-12-20 23:42] #13775 closed

[2020-12-20 23:43] #12206 closed

[2020-12-20 23:44] #19147 closed, assigned to nobody

[2020-12-20 23:49] adamjstewart commented on #9154
I think most of the issues related to `bwpy` as an external package have been resolved. NCSA is currently working on porting `bwpy` to Spack, so that will make things much easier to integrate in the future.

[2020-12-20 23:49] #9154 closed

[2020-12-20 23:50] #8639 closed

[2020-12-20 23:51] #4203 closed

[2020-12-20 23:52] #3833 closed

[2020-12-20 23:53] #2801 closed

[2020-12-21 03:43] darmac commented on #17060
Is there any plan to fix this issue? We have encountered this too...

[2020-12-21 04:22] adamjstewart commented on #17060
It's likely going to be difficult to fix until we can figure out how to reliably reproduce it.

[2020-12-21 09:30] weijianwen opened #20489 "Spack seems to ignore install_tree in ~/.spack/config.yaml in v0.16.0"
Spack project is installed on a READ-only directory (`/lustre/opt/spack/`) on our cluster. After upgrading it to v0.16.0, Spack seems to ignore install_tree setting in ~/.spack/config.yaml, insisting writing data to `/lustre/opt/spack/opt`.

### Steps to reproduce the issue

[code]

### Information on your system

[code]

[code]

### Additional information

- [x] I have run `spack debug report` an

[2020-12-21 16:00] giltirn opened #20491 "Concretize mixing architectures in dependencies (Theta)"
I am trying to create an environment on ALCF Theta (Cray XC40) that installs all my dependencies. Among them is a more recent version of Python than is available on the system. The problem is that while I want the majority of specs to be cross-compiled for the KNL compute nodes, I want Python to be usable from the login and job head nodes which are Haswell cores (any Haswell code will of course wo

[2020-12-21 18:55] zorun opened #20495 "spack should use python2 if python3 version is too old"
I try to run spack on a Solaris machine that has both python2 and python3, but the python3 version is quite old:

[code]

When setting up spack, it tries to use the python3 version and fails:

[code]

According to the Getting Started doc, Python 3.3 is too old, so this is expected. From [getting_started](https://spack.readthedocs.io/en/latest/getting_started.html):  `Python 2 (2.6 or 2.7) or 3 (3.

[2020-12-21 19:16] adamjstewart commented on #20495
I'm not sure if there is an easy way to enforce this. We could search for `python3.9 python3.8 python3.7 python3.6 python3.5 python2.7 python2.6 python3 python2 python` but that seems excessive.

What does `python` symlink to on your system? We could put `python` before `python3`, but that will likely cause problems since `python` usually means `python2` and we're trying to phase out Python 2 supp

[2020-12-21 20:22] zorun commented on #20495
Yes, python points to python2 on this system.

What about checking the python version with something like this (+ check for python2, you get the idea):
[code]

[2020-12-21 21:57] EthanS94 opened #20497 "Cray: spack load paraview can break slurm commands"
### Steps to reproduce the issue

[code]

### Error Message

[code]

### Information on your system

### Additional information

- [x] I have run `spack debug report` and reported the version of Spack/Python/Platform
[code]
- [x] I have searched the issues of this repo and believe this is not a duplicate
- [ ] I have run the failing commands in debug mode and reported the output

[2020-12-21 22:52] tachidok opened #20498 "Installation issue: less"
I am building a container with spack installed there, this is the Dockerfile

[code]

When trying to install "less" from the copied ```spack.yaml``` file it does not work.

This is the minimum ```spack.yaml``` file to reproduce the problem
[code]

### Information on your system
* **Spack:** 0.16.0-199-5b1739da7
* **Python:** 3.7.3
* **Platform:** linux-ubuntu18.04-skylake
* **Concretizer:** origin

[2020-12-22 01:21] cosmicexplorer opened #20501 "use gringo from clingo to find ground expressions for z3 rules"
Basic idea: [ASP](https://en.wikipedia.org/wiki/Answer_set_programming) is a family of constraint solvers spack uses since #19501 that let you write "rules", which often have implicit "for all" or "there exists (uniquely?)" quantifier expressions, e.g. https://github.com/spack/spack/blob/1d8aa34f52bec78a33c46db1dd881866dbe4e9b4/lib/spack/spack/solver/concretize.lp#L9-L19 Before (not strictly) any

[2020-12-22 03:16] cosmicexplorer opened #20504 "consider using the pex library to allow spack users to configure where their python code resolves from"
I don't know if this would have even been feasible before #17587 is merged, which introduces a much more natural and unified way to refer to python packages off of pypi.

I'm coming from using tools which very kindly allowed interchanging different sources of python repos: see pants configuration at https://www.pantsbuild.org/docs/python-third-party-dependencies#using-custom-repositories:
[code]

[2020-12-22 03:33] cosmicexplorer commented on #20123
#20159 has been very close for weeks....going to try to put that to bed today.

[2020-12-22 03:42] cosmicexplorer commented on #20504
Received some helpful context in https://github.com/spack/spack/pull/17587#discussion_r547048408 from @adamjstewart: no spack python packages require any external repo to work (which probably means users haven't found the lack of repo selection to be *too much* of an issue, either).

I think this is a legitimate use case, but I don't think it should be given any priority right now.

[2020-12-22 06:23] nithintsk commented on #17998
@adamjstewart @gartung is this feature doable? I believe it would be a good enhancement.

Currently, we are asking users to refer to our MVAPICH2 Userguide to get the correct hash of the binaries based on the cuda version they need. This is because there is no way to identify dependencies in spack buildcache list.

[2020-12-22 09:44] samcom12 commented on #16874
I'm getting the same error on ARMv8. Following for answer

[2020-12-22 14:55] mdorier commented on #20454
Same here.

[2020-12-22 15:03] weijianwen commented on #20489
I found Spack create the following dir structure in `/lustre/opt/spack/opt` after permission enabled.

[code]

Seems like indices. Grepping Spack code indicates that I may need to customize `_cache_root` to avoid writing indices into the default directory colocated with Spack binary.

[code]

Any suggestion on setting `_cache_root`  in ~/.spack/config.yaml ? Thank you!

[2020-12-22 15:03] mdorier opened #20510 "spack install command incorrectly returning 0 when failing"
I have a CI pipeline that builds a few packages daily to make sure that they keep building correctly. The CI script includes the following in a function:

[code]

The script then reports the value of RET in a log file.

For the past week or so, I've been hit by [this issue](https://github.com/spack/spack/issues/20454), effectively making all my packages fail to build because automake-1.16.3 could

[2020-12-22 17:13] bhatiaharsh commented on #20418
should be resolved by https://github.com/spack/spack/pull/20512

[2020-12-22 17:43] bhatiaharsh opened #20513 "Installation issue: py-tensorflow@2.1 (power9)"
Tensorflow build on power9 (lassen.llnl) simply hangs (waited ~12 hours before canceling).

### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.11.2-9807-5771441ec
* **Python:** 3.7.2
* **Platform:** linux-rhel7-power9le

**Note:** There seems to be a bug in the version reported. I am working off of v0.16.0. See the output of `git log`

[code]

### Additional i

[2020-12-22 17:47] bhatiaharsh opened #20514 "spack debug reports incorrect version"
I updated my fork to `v0.16.0`, but `spack debug report` and `spack --version` report `0.11.2`.

### Steps to reproduce the issue

[code]

Here is the `git log` (I have 2x commits on top of the released version)
[code]

### Error Message

### Information on your system

### Additional information

- [x] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [x] I have

[2020-12-22 17:56] adamjstewart commented on #20513
Yeah, you need to run `git fetch upstream --tags` to get it working properly, I think it's a git bug/feature.

[2020-12-22 17:57] adamjstewart commented on #20514
You need to run `git fetch upstream --tags` to update the version reporting. Not sure if there is a better way to get this information.

[2020-12-22 17:58] bhatiaharsh commented on #20514
thanks @adamjstewart  and @becker33 . This is fixed. Closing this issue now.

[2020-12-22 17:58] #20514 closed, assigned to nobody

[2020-12-22 18:50] zorun opened #20515 "Don't build GCC with libisl (graphite) by default"
It's a bit surprising that GCC is built with ISL: this is not enabled by default upstream, and most toolchains I know (Debian, OpenWrt) don't enable it.

In addition, compatibility is rather picky, as evidenced by the many version constraints in the current package and by upstream bug reports: https://gcc.gnu.org/bugzilla/show_bug.cgi?id=graphite

It would make more sense to use ISL only as an opt

[2020-12-22 20:20] EthanS94 opened #20517 "Installation issue: autoconf can reach max shebang limit and break install"
I ran into this when my install_tree was set to a very long path (110 characters). I think an install_tree of 108 characters is the maximum allowed or autoconf will break. This can be fixed by using a shorter path for the install_tree, but I want to post this here if anyone else hits the same problem.

install_tree: `/yellow/usr/projects/paraview/stam/pilotlight/tests/spack/tmp_grizzly_master_inte

[2020-12-22 20:52] cosmicexplorer opened #20518 "unify "compiler" and "build system" to make complex dependencies more explicit"
This is a similar attempt as #10411, with the broader scope

### Rationale

1. We have long desired to make a package work in more than 1 type of Spack "build system" at a time, e.g. if a package switches from using autotools to cmake. See #12941 for context. https://github.com/spack/spack/pull/12941#issuecomment-538870806 describes the consensus on use cases and tries to lay out one possible solu

[2020-12-22 20:52] #20518 closed, assigned to nobody

[2020-12-22 22:37] EthanS94 commented on #20489
@weijianwen I don't remember why, but I had to add an extra line with `root:` in my config.yaml a while back. Does this work for you?
[code]

[2020-12-22 22:50] #20418 closed, assigned to nobody

[2020-12-22 22:53] adamjstewart commented on #20515
@michaelkuhn

I agree with making it an optional variant, don't know enough about GCC as to whether it should default to True or False.

[2020-12-22 22:59] EthanS94 opened #20522 "Installation issue: z3 with intel compiler undifined references in lar_solver.cpp"
### Steps to reproduce the issue

[code]

### Information on your system

[code]

### Additional information

I tried with `z3@4.8.9` and did not hit this error. Maybe it's enough to just add version 4.8.9 to z3's package.py file?

### General information

- [x] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [x] I have run `spack maintainers <name-of-the-packag

[2020-12-22 23:03] EthanS94 commented on #20522
https://github.com/Z3Prover/z3/pull/2899 is what led me to try 4.8.9

[2020-12-22 23:04] cosmicexplorer opened #20523 "break build systems and dependency `type`s down into more granular resource dependencies"
**Probably blocking on #20530 to resolve this, but the type of solution we get to #20530 might come from the discussion in this issue.**

This is a similar attempt to #10411, but with a broader scope. We attempt to explicitly represent interaction with build systems by introducing the "resource dependencies" concept instead of defining a dependency by build step names alone.

**Unlike #20256, *any

[2020-12-23 00:10] cosmicexplorer commented on #20123
Adventures from #20159 include:
[code]
Referencing #20430, #20260, and #20207 here. @tgamblin, @becker33: I am 100% aware that neither pex nor sandboxing are important goals for us right now. Regardless, I currently have two solutions for the clingo bootstrap problem, which I'm pretty sure isn't going to go away. I could figure out another one, but I think I might also just want to refresh my memo

[2020-12-23 00:11] cosmicexplorer commented on #20123
Like one alternative is to start patching CMake python support, and that got very difficult very fast.

[2020-12-23 00:32] michaelkuhn commented on #20515
FWIW, Fedora and consequently RHEL/CentOS have it enabled. I don't have a strong opinion about it, though. We can leave it disabled by default.

@zorun Care to submit a PR?

[2020-12-23 02:11] robertu94 commented on #18802
I had this problem too with font-util as well.  For me, it was fixed by removing my external pkg-config  which had a fontconfig package entry provided by my OS.  I've also seen this problem with a collaborator who extensively modified his PATH and LD_LIBRARY_PATH variables.  The problem is that it is not trivial to decide when to strip entries not provided by spack out since you never know where a

[2020-12-23 06:58] weijianwen commented on #20489
@EthanS94 I didn't change config.yaml. After adding a writable /lustre/opt/spack/opt directory, it works. Still, it is annoying that a writable dir required under the default location.

[2020-12-23 06:58] #20489 closed, assigned to nobody

[2020-12-23 10:04] cosmicexplorer opened #20530 "enable spack core code to depend on the output of a spack build"
Spack doesn't seem to have a concept of "detecting" or "installing" binaries (like `xz`) that it assumes are available on the PATH in the interstitial code that runs before and after package build steps. This means that it fails with very opaque error messages in situations that Spack itself can fix!

This ticket would likely be a good prequel to #20523, because this ticket focuses more on fixing

[2020-12-23 10:40] cosmicexplorer commented on #20256
With #20258, #20260, and #20523 all broken out, I have renamed this issue to represent its narrowed focus. I would say that my comment immediately above: https://github.com/spack/spack/issues/20256#issuecomment-747110323 should be the entire amount that hasn't been addressed or moved to another issue. cc @tgamblin

[2020-12-23 10:51] zorun commented on #20515
Sure, thanks for the feedback.

Here are the PR: #20531 and (just to be sure) #20532

[2020-12-23 14:31] nilsvu opened #20534 "Version constraint is violated for external packages"
With this configuration packages build with Python 3.9, even though I specified the constraint 3.8:

[code]

### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.16.0-311-857749a9b
* **Python:** 3.9.0
* **Platform:** darwin-bigsur-skylake
* **Concretizer:** original

### Additional information

- [x] I have run `spack debug report` and reported the version of Sp

[2020-12-23 15:17] iulian787 opened #20535 "compiler configuration error"
We are trying to configure intel compilers for spack, on a ubuntu 14 system
we see this:
spack spec zlib%intel
Input spec
--------------------------------
zlib%intel

Concretized
--------------------------------
==> Error: Single '}' encountered in format string

in debug mode, we see this:
spack -d spec zlib%intel
==> [2020-12-23-09:12:52.246600] Imported spec from built-in commands
==> [2020-12-

[2020-12-23 19:27] becker33 opened #20536 "A proposal on treating git refs as versions"
## 1. Motivation

Many users pin packages to particular git commits, tags, or branches, rather than released versions. This is particularly relevant to developers, who often track several packages through their release processes simultaneously, with versions constraints that propagate through their entire DAG. Therefore, Spack should allow users to seamlessly treat git refs, and other Version Cont

[2020-12-23 19:29] becker33 commented on #20536
@tgamblin This is the proposal for the work I want to lock myself in a room and get a jump on next week when there won't be any meetings

 @rblake-llnl I think you will find this interesting.

[2020-12-23 20:05] adamjstewart commented on #20536
Should this be a discussion instead of an issue?

[2020-12-23 20:51] becker33 commented on #20536
@adamjstewart I'm not sure. Do we want to push all feature requests to discussions? If so then definitely yes.

[2020-12-23 23:53] EthanS94 commented on #20497
If I `spack install paraview@master ^mesa~glx`, slurm commands don't break. glx adds a decent amount of additional dependencies to the build.

It seems like the length/number of paths in the environment is causing this, but I don't know where to start looking.

[2020-12-24 00:03] tgamblin commented on #20536
Should we have a separate repo for proposals like this?  e.g., like k8s KEPs: https://github.com/kubernetes/enhancements.

It might be useful to add this written step to the design process for larger features, not just for discussions but to give people a chance to see the full idea. I think Spack's getting large enough that the writing will help -- there are a lot of interconnected issues for man

[2020-12-24 02:54] adamjstewart commented on #20536
Personally I think issues are fine for minor feature requests, but big changes that require discussion and planning might be better as discussions. I think a formal system for SEPs (Spack Enhancement Proposals) sounds like overkill.

Anyway, sorry for derailing this conversation. Feel free to hide these comments as off-topic once we make a decision.

[2020-12-24 03:12] becker33 commented on #20536
We could call them "Spack Upgrades" just to confuse anyone who has ever used another package manager...

[2020-12-24 03:15] becker33 commented on #20536
Converting this to a discussion; I agree large feature requests should be discussions.

[2020-12-24 03:15] #20536 closed

[2020-12-24 03:59] JieJiang-Cosmology commented on #19570
I also have this problem on macos, my HDF5 version is 1.12.0.

[2020-12-24 13:43] ravil-mobile opened #20545 "improve installation of Zoltran: imposing +int64 constrains on parmetis"
### Rationale
zoltan spec has a variant called  `int64` which imposes the corresponding constrain on metis.
https://github.com/spack/spack/blob/6947951aaf9954b1dfd12ca7a9266d7335f07105/var/spack/repos/builtin/packages/zoltan/package.py#L37-L44

The same constrain must be applied to parmetis.

### Description
I guess a solution can be something like
[code]

### Additional information

I guess this

[2020-12-24 19:17] #20515 closed, assigned to nobody

[2020-12-24 23:20] tachidok commented on #20458
Ok, if that is the case then it seems there is nothing else to do but wait.

[2020-12-25 02:04] ipdemes commented on #20454
I have got the same error

[2020-12-25 06:53] Nischay-Pro opened #20551 "command not found: complete on zsh shell"
I created a script `/etc/profile.d/spack.sh` to auto load spack on starting a shell across all users. Some of my users use `zsh` as their default shell. I've noticed that users who use `zsh` are getting the `command not found: complete`

### Steps to reproduce the issue

1. Create environment script  `/etc/profile.d/spack.sh`
[code]
2. Change shell to `zsh`
3. Logout and relogin to your user accou

[2020-12-25 08:20] t-nojiri opened #20552 "Installation issue: py-mikado"
I have detected two problems.
1) The version of py-biopython and py-pysam specified in depends_on is the version that spack does not support.
2) py-mikado will result in a Fetch Error.

I can handle the error 1), but not 2).

[2020-12-25 12:56] rscohn2 commented on #20403
#19330 and #20411 provide basic support.

Follow-up work from from @scheibelp

* Add setup_run_environment to intel-oneapi-compilers
* Add provides(mpi) to intel-oneapi-mpi (and additional changes are required to make this usable as an MPI provider in Spack)
Without this change, Spack would not be able to use intel-oneapi-mpi as an MPI provider when building packages which require MPI libraries
*

[2020-12-25 22:45] adamjstewart commented on #20552
For 2), I would change the download to https://pypi.io/packages/source/M/Mikado/Mikado-1.2.4.tar.gz and update the package to that version.

[2020-12-25 22:47] adamjstewart commented on #20545
Your suggestion looks good to me, want to submit a PR?

[2020-12-26 03:32] ikitayama commented on #20454
I am currently seeing it and this prevents Spack from building the latest `gcc`.

[2020-12-26 05:52] ikitayama commented on #20454
According to the Spack git log, the cause must be purely in the change in the automake between .2 and .3.

[2020-12-26 11:35] ravil-mobile commented on #20545
Thanks. I will submit

[2020-12-26 14:12] varioustoxins commented on #20154
this maybe an OS X problem,

~/programs/spack/share/spack/setup-env.sh has

[code]

so it depends on the output from spack --print-shell-vars sh,modules

on my  osx

[code]

so it doesn't detect modules as being installed, however

spack install environment-modules gives
[code]

the problem seems to be in main.py

[code]

as module_spec is set to 'environment-modules target=x86_64' which gives an

[2020-12-26 14:17] varioustoxins commented on #20154
I should add that after removing the x86_64 requirement

[code]

 it now works

[code]

[2020-12-26 15:47] #19908 closed, assigned to nobody

[2020-12-26 20:11] #20458 closed, assigned to nobody

[2020-12-26 22:18] adamjstewart opened #20553 "`spack test` doesn't use test dependencies"
When you run `spack test` on a package, `type='test'` dependencies aren't added to the environment, causing some tests to fail.

[2020-12-27 03:38] cosmicexplorer commented on #20530
**I would love for any advice on which of the two entries in the Implementation section to investigate further!!** I would *strongly* prefer the first method so we can say for sure "Spack has exactly these requirements!" and then users who cannot meet those requirements know they can make an issue to ask for it. Here is an example I love from Pants: https://www.pantsbuild.org/docs/installation

Th

[2020-12-27 03:58] cosmicexplorer commented on #20530
#20123 describes (some of) the new workstream to smooth the spack bootstrap process for new users. When testing clingo on CentOS6, I ran into the problem in this issue and it was super frustrating because the error message (subprocess execution couldn't find the tool on the `PATH`)  was very difficult to decipher and it can be difficult to know how many times you may have to keep rerunning spack.

[2020-12-27 04:02] cosmicexplorer commented on #20530
Running `spack external find` would probably be a good first step to advise in  any docs. [EDIT]: Although, I don't think that would change the `PATH` at all.

[2020-12-27 05:52] JeffR1992 opened #20566 "Using spack packages in CMake projects"
I've installed OpenCV with spack using `spack install opencv`, and am now trying to use this spack version of OpenCV in a CMake project.

In my current CMake project, I'm using OpenCV version 3.2, that comes with Ubuntu 18.04, as follows:
[code]

However, I'm a little uncertain as to how I can instead use the newer spack version of OpenCV in my CMake project. One attempt I tried was to find out wh

[2020-12-27 06:24] cosmicexplorer opened #20567 "update contribution guide with a flowchart for triage"
See this lengthy comment https://github.com/spack/spack/discussions/20536#discussioncomment-243779, which described two separate fixes for the [Contribution Guide](https://spack.readthedEocs.io/en/latest/contribution_guide.html).

This can be summarized as:
- [ ] Make Flowchart on Top of Contribution Guide:
    - [ ] Clear Fix => Points to whole page
    - [ ] Unclear Fix =>
        - [ ] (b) from

[2020-12-27 07:11] ikitayama commented on #20454
After the holidays, could this be checked promptly, as this seems to be affecting lots of packages?

[2020-12-27 07:55] cosmicexplorer commented on #20407
I believe I was extremely concerned about being annoying earlier and made up an excuse to close this issue. It describes a fundamentally possible path spack can traverse at some point, even if it's not feasible to consider right now.

[2020-12-27 07:55] #20407 closed

[2020-12-27 07:56] #20359 closed

[2020-12-27 20:32] adamjstewart commented on #20566
The `find_package(...)` command in CMake should handle searching for and linking to OpenCV for you. You just have to tell CMake where to find OpenCV. If your project doesn't have flags to explicitly define where OpenCV is installed, setting `CMAKE_PREFIX_PATH` should work. I believe this is done automatically when you run `spack load opencv` or `module load <opencv-module-name>`.

[2020-12-27 20:38] adamjstewart commented on #20445
@davydden  @jppelteret  @luca-heltai

[2020-12-27 21:14] luca-heltai commented on #20445
As far as dealii is concerned, we don't use netcdf support from trilinos. Can you try and see if

[code]
succeeds?

[2020-12-27 21:33] SalvoBella commented on #20445
Thanks a lot for the answer!
Unfortunately it doesn't work, this is what I get:

<img width="590" alt="mandare" src="https://user-images.githubusercontent.com/56541934/103180173-901acd00-4893-11eb-9d3f-a517a7382df4.PNG">

[2020-12-28 01:32] JeffR1992 commented on #20566
Thanks @adamjstewart , unfortunately trying `spack load opencv` and then building with CMake, gives the following message:
`Found OpenCV: /usr (found version "3.2.0")`
So it looks like the default Ubuntu system version of OpenCV is still being found instead of the newer spack version.

I did have better luck with your suggestion of using `CMAKE_PREFIX_PATH` as follows:
`set(CMAKE_PREFIX_PATH "${CM

[2020-12-28 01:59] adamjstewart commented on #20566
Hmm, it seems to be present in the latest release. Did you add `#include <opencv2/imgproc.hpp>`?

[2020-12-28 06:36] JeffR1992 commented on #20566
Sorry yes you're right, I had commented out `#include <opencv2/imgproc.hpp>` in my code during testing. However, when I un-comment this include statement I unfortunately get a new set of errors which point to `imgproc.hpp` contained in `/usr/include`. Here's an example of the first error I get:
[code]
But, if I print out the value of `OpenCV_INCLUDE_DIRS` I get: `/home/alex/spack/opt/spack/linux-u

[2020-12-28 11:18] samcom12 commented on #18535
I'm also getting the same error with Intel MPI. Following for a fix.

[2020-12-28 11:53] #20545 closed, assigned to nobody

[2020-12-28 12:12] lrtfm opened #20578 "Installation issue: PETSc with options `trilinos` and `exodusii`"
As the package `trilinos` include `exodusii`, if we set those options at the same time, the build of `petsc` will end with errors.
Should we add `conflicts` between these two options?

@balay Thanks.

### General information

- [ ] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [ ] I have run `spack maintainers <name-of-the-package>` and @mentioned any maintain

[2020-12-28 15:23] joshessman-llnl opened #20580 "Clingo concretizer does not use compiler to "tie-break" package versions"
### Steps to reproduce the issue

`compilers.yaml`:
[code]

`packages.yml`:
[code]

[code]

### Error Message

[code]

Commenting out one of the mvapich externals allows this to concretize but the expected behavior is that the external whose compiler matches the requested compiler is selected.

### Information on your system

* **Spack:** 0.16.0
* **Python:** 3.7.2
* **Platform:** linux-rhel7-broa

[2020-12-28 15:49] christian-heusel opened #20581 "Installation issue: WRF"
### Steps to reproduce the issue

#### Error 1

[code]

#### Error 2

[code]

### Possible Fixes

#### Error 1

I noticed that the error was most likely caused by 42008e532f28c41d8e134052e1a109c65a8440f9 in this changeset:
[code]
The comment notes that the build should have a maximum of 20 build jobs, is that or 10 correct?
I think there just is an error in the parentheses, see https://github.com/

[2020-12-28 16:18] adamjstewart commented on #20566
Ah, if you need the `imgproc` module, you need to build `opencv+imgproc`. Same for any other modules you need.

[2020-12-28 16:28] adamjstewart commented on #20581
Can you see if this is fixed by #20006?

[2020-12-28 16:33] ipdemes commented on #20454
@ikitayama : it is affecting at least 2 packages for our build: parmetis, legion

[2020-12-28 16:38] MichaelLaufer commented on #20581
@christian-heusel
Can you provide the full spec that was concretized?
I believe that #20006 should solve both those issues. Let us know.

[2020-12-28 16:44] christian-heusel commented on #20581
@MichaelLaufer I just fixed it myself, but essentially my result is the same as the mentioned pull request so the problem is most likely fixed by it! 😄

What still is unclear to me why in the mentioned commit  https://github.com/spack/spack/commit/42008e532f28c41d8e134052e1a109c65a8440f9 the maximum number of jobs is suddenly 10 instead of the 20 jobs that were possible before.

@adamjstewart @Mic

[2020-12-28 16:49] MichaelLaufer commented on #20581
@christian-heusel
Yes that is a valid comment:
20 is the limit imposed by WRF. @ptooley requested a change to a max of 10 a while back, presumably due to some bugs with high job count. Either way, the comment should surely match the code, so we will fix at the next PR.

[2020-12-28 16:52] christian-heusel commented on #20581
Thanks for clarifying! 😊

You decide whether that should keep this issue open or not since my main issue was solved in #20006!

[2020-12-28 16:55] #20581 closed, assigned to nobody

[2020-12-28 17:13] #20213 closed, assigned to nobody

[2020-12-28 17:15] aphecetche commented on #20213
Closing this as the original problem was understood. Plus I no longer have access to a Catalina machine but only BigSur ones anyway ;-) ...

[2020-12-28 18:00] eugeneswalker opened #20585 "spack gpg trust fails on RHEL7: "--create-socketdir": invalid option"
`spack gpg trust` is now returning non-zero exit status on RHEL7 even when the *spack* command itself is being properly used.

Spack info:
* `spack@develop` (8919226dc6110403ac0f0ef6fa01abe59d493f89)
* `Mon Dec 28 17:56:15 2020 +0100`):

I'm using the following Docker images, which are based on the official RHEL 7 UBI image (`registry.access.redhat.com/ubi7/ubi:7.6-239`)
* `ecpe4s/rhel7-runner-x86

[2020-12-28 22:20] eugeneswalker opened #20590 "mumps@5.3.3 fails: patch rejected"
`mumps@5.3.3` is failing, I think, because of the patch introduced with 0150b394d7df0a3b6104f061514dfa5539bddde0

Using:
* `spack@develop` (1e971b62de76d731d5a220a0b271e105bf01caca)
* `Mon Dec 28 13:48:20 2020 -0800`
* Ubuntu 18.04 on x86_64

Concrete spec: [mumps-nnlqlp.spec.yaml.txt](https://github.com/spack/spack/files/5748938/mumps-nnlqlp.spec.yaml.txt)

[code]

@payerle @adamjstewart @scottwi

[2020-12-28 22:24] mdorier commented on #20454
@ipdemes I think it potentially affects all automake-based packages. I found a similar bug reported 2 years ago on the homebrew repo: https://github.com/Homebrew/linuxbrew-core/issues/6275
And 4 years ago here: https://stackoverflow.com/questions/39141038/unable-to-build-gnu-automake
seems to be related to Perl?

[2020-12-28 22:26] ikitayama commented on #20454
The diff is large so it’s not immediately clear that is related to Perl.

On Tue, Dec 29, 2020 at 7:24 Matthieu Dorier <notifications@github.com>
wrote:

[2020-12-28 22:33] #19644 closed, assigned to nobody

[2020-12-28 22:36] #20523 closed

[2020-12-28 22:38] #20256 closed

[2020-12-28 22:44] wohlbier opened #20591 "squashfs build fails with gcc-10"
squashfs build fails with gcc-10.

### Steps to reproduce the issue

[code]

### Error Message

[code]

### Information on your system
[code]

### Additional information

- [x] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [x] I have searched the issues of this repo and believe this is not a duplicate
- [x] I have run the failing commands in debug mode and rep

[2020-12-29 00:30] JeffR1992 commented on #20566
Aha great, in that case is there a way to have spack download and build a "full" version of OpenCV? If I print out the `OpenCV_LIBS` variable for OpenCV version 3.2.0 that is located in the `/usr` directory I get quite a lot of libraries:

`OpenCV_LIBS: opencv_calib3d;opencv_core;opencv_features2d;opencv_flann;opencv_highgui;opencv_imgcodecs;opencv_imgproc;opencv_ml;opencv_objdetect;opencv_photo;o

[2020-12-29 03:18] adamjstewart commented on #20566
You can enable or disable whatever you want:
[code]
There isn't currently an "enable all variants" feature, but you can set the defaults to whatever you want in your `packages.yaml`.

[2020-12-29 06:14] lrtfm commented on #20454
This is relative to the changes of the Shebang line in the new Automake. See pull request #20579.

[2020-12-29 07:46] #20591 closed, assigned to nobody

[2020-12-29 08:03] #2281 closed

[2020-12-29 08:03] #2335 closed

[2020-12-29 10:16] #20454 closed, assigned to alalazo

[2020-12-29 14:13] pcafrica commented on #20445
Hi @SalvoBella!

The following should work (just tested succesfully):
[code]

[2020-12-29 16:04] #20483 closed, assigned to nobody

[2020-12-29 16:12] adrien-cotte opened #20605 "Modules projections always prepend `-` to hash"
Hello,

When I set the modules projections, "{architecture}" seems hard coded at the beginning of the path and "-{hash}" at the end.
I would like a path like this:

[code]

### Steps to reproduce the issue

First, this is my file to reproduce:
[code]

Then, let's install this env:

[code]
Finally, check products and modules paths:

[code]
As describe in spack.yaml, modules and products must have t

[2020-12-29 16:12] #10812 closed

[2020-12-29 18:26] cosmicexplorer opened #20607 "implement concretizer features with z3"
This issue is to track the various features added to the concretizer in ASP recently to ensure the z3 version contains the same features. This is a subset of the "concretizer" label in the list of spack PRs. We hope/expect that it will be possible to accomplish this in fewer changes than needed for the ASP concretizer, simply because we know what we will need to build beforehand somewhat.

- [ ] #

[2020-12-29 19:00] cosmicexplorer opened #20609 "z3 comparisons"
It would be interesting to consider as goals for a z3 concretizer:

- A z3/SMT theory for versions
- z3 relative performance
- z3 grounding vs clingo grounding, and the relative memory/CPU requirements for each.

[2020-12-29 19:01] cosmicexplorer commented on #20609
cc @tgamblin -- writing a description of how the z3 solver is currently architected and how it relates to these points today.

[2020-12-29 19:08] cosmicexplorer commented on #20609
Basically, combine #20221, #20501, and #20503.

[2020-12-29 19:09] cosmicexplorer commented on #20221
We are pretty sure this is a reasonable thing to do, so closing this issue.

[2020-12-29 19:09] #20221 closed, assigned to nobody

[2020-12-29 20:00] trws commented on #20551
Interesting, I am having trouble reproducing this exactly as noted, but it looks like this is what happens if both of these things happen together:

1. zsh is initialized without either `compinit`, `bashcompinit` or both
2. user sources `spack-completion.bash` in an emulation mode other than `zsh`

One way to repro, non-interactive shell in sh emulation mode: `zsh -c 'emulate sh ; source share/spa

[2020-12-29 21:19] joshessman-llnl opened #20611 "Unable to concretize with Clingo when libyogrt is part of dependency tree"
### Steps to reproduce the issue
Any of the above result in the same error:
[code]

### Error Message

[code]

I imagine this is because https://github.com/spack/spack/blob/c22141f444861abeaee297a3d92696e9ae94a509/var/spack/repos/builtin/packages/libyogrt/package.py#L39

references an invalid value of the 'scheduler` variant:
https://github.com/spack/spack/blob/c22141f444861abeaee297a3d92696e9ae94

[2020-12-29 22:58] ikitayama commented on #20454
@alalazo I was able to build the latest release of `automake` with Fujitsu compiler without an issue. Thanks!

[2020-12-30 04:50] Nischay-Pro commented on #20551
@trws Looks like your code snippet did the trick. I'm no longer getting the error message.

[2020-12-30 08:58] luca-heltai commented on #20445
Thanks @SalvoBella and @elauksap. I've opened #20606 to fix this.

[2020-12-30 15:34] akail commented on #16874
I also am running into this exact same issue.

### Steps to reproduce the issue
[code]
### Information on your system
[code]

### Additional Information
* Fails with 3.1.6 and 4.1.0
* Works without specifying fabric
* Forced architecture build for x86_64

[2020-12-31 00:14] ikitayama opened #20630 "Installation issue: sionlib on A64FX"
### Steps to reproduce the issue

[code]

### Information on your system

### Additional information

* [spack-build-out.txt]()
* [spack-build-env.txt]()

### General information

- [ ] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [ ] I have run `spack maintainers <name-of-the-package>` and @mentioned any maintainers
- [ ] I have uploaded the build log and en

[2020-12-31 00:15] ikitayama opened #20631 "Installation issue: sionlib"
### Steps to reproduce the issue

[code]

### Information on your system

### Additional information

* [spack-build-out.txt]()
* [spack-build-env.txt]()

### General information

- [ ] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [x] I have run `spack maintainers <name-of-the-package>` and @mentioned any maintainers
- [ ] I have uploaded the build log and en

[2020-12-31 00:17] ikitayama commented on #20631
@pramodk , I am not certain if the SIONlib itself has been ported to Fugaku. I'll contact the JSC developers in the new year.

[2020-12-31 01:54] #20630 closed, assigned to nobody

[2020-12-31 20:08] JeffR1992 commented on #20566
Perfect, thanks @adamjstewart , so if I want to build additional packages on top of default opencv I should use the `opencv+<package_name>` syntax you mentioned above?

[2020-12-31 20:10] adamjstewart commented on #20566
Yes. In Spack we call things like `opencv` "packages" and things like `+imgproc~openmp` "variants". So if you build `opencv+imgproc~openmp`, it will build `opencv` with the `opencv_imgproc` module but without OpenMP support.

[2021-01-01 10:05] samcom12 commented on #991
I fall on this issue for parallel-NetCDF with intel-mpi.

[2021-01-02 05:04] samcom12 commented on #4333
@tkonolige adding cray-libsci to package.yaml returns the following error for me.

==> Error: /home/sameer/.spack/packages.yaml:72: Additional properties are not allowed ('module' was unexpected)

[2021-01-04 08:07] darmac opened #20650 "Could c-blosc2 use some stable version instead of develop version?"
It looks like these's some release version for `c-blosc2`, why we only use `develop` version?

`https://github.com/Blosc/c-blosc2/releases`

[2021-01-04 16:49] cwsmith opened #20655 "clingo/asp concretizer generates multiple package installs when one is expected"
Running the clingo based concretizer within an environment to install `fftw`, `netlib-lapack`, and `netlib-scalapack` results in multiple installs of `cmake`.  I expected to have one install of each package.  Am I doing something wrong in my `spack.yaml` setup?

### Steps to reproduce the issue

Create an environment:

[code]

Replace `spack.yaml` with the following contents.  Note, replace the `g

[2021-01-04 16:50] ax3l opened #20656 "Open MPI 4.0.5 build fails on macOS 10.15: libevent"
I am trying to install Open MPI 4.0.5 on macOS 10.15 via Spack using AppleClang as the compiler. The instance runs on Azure Pipelines as part of my quality assurance scripts, since I don't own a mac.

Following a build error on macOS 10.15 and checking the homebrew recipes, I think Open MPI depends on libevent.

### Steps to reproduce the issue

[code]

### Information on your system

* Operating

[2021-01-04 16:53] ax3l commented on #20656
Upstream maintainer feedback from my bug report:

[2021-01-04 17:36] cwsmith commented on #20655
Using the HEAD of `develop` (1b33008705) produces the expected result:

[code]

~Running the concretizer on the cluster with the openmpi variants added also produces the expected results:~  I made a mistake somewhere.  It is installing mpich and openmpi for some reason.

[2021-01-04 18:10] aendk opened #20660 "Installation issue: llvm-11.0.0"
LLVM-Package fails to install on Ubuntu 20.04.

### Steps to reproduce the issue
A did a new/clean install of spack before as I am a first-time user.
I was in the process to install hipcycl, so this was part of the invocation:
[code]
Is there something I might have overlooked, or should i provide additional logs?
### Cmd-output:
[code]
### Information on your system

* **Spack:** 0.16.0-423-16ce20

[2021-01-04 18:54] scheibelp commented on #20553
Generally `test`-type dependencies were only intended to be used once: at the time of installation. I think you are saying you'd like to be able to run tests on the package whenever you like in the environment - am I correct about that? If so I might classify this as a feature.

[2021-01-04 22:18] adamjstewart commented on #20650
@ax3l is the maintainer

[2021-01-04 22:54] SalvoBella commented on #20445
@elauksap @luca-heltai

Thank you very much for your help!
If it could be useful maybe to others, I just want to say that at the end I had other errors with the command `spack install vtk@9.0.0 ^mesa~llvm`, so I managed to install the library through the mk packages.
If you need any details about the errors, I saved the screens and I wish to be helpful! Thanks again!

[2021-01-04 23:16] tgamblin commented on #20429
This will be addressed by #19085 (which will make the buildcache hashes able to be referenced by users on the command line) as well as a forthcoming concretizer PR, to prefer already-installed packages and binary packages from mirrors.  I think the combination of these two will make mirrors *much* more usable in 0.17.0 (something we've been aiming at for a while).

[2021-01-04 23:29] dnystrom1 opened #20668 "Uncontrolled number of compilation processes when building Caliper on Fedora 33"
Trying to use spack on my linux laptop running Fedora 33.  Trying something that I thought would be simple i.e. "spack install -j 4 caliper" with the devel version of spack.  For a reason that I do not understand, spack is creating between 20k and 30k processes compiling with gcc which exceeds the process resource limit on my laptop.  Is there some way to control or prevent this?  I thought adding

[2021-01-04 23:41] scheibelp commented on #20668
Have you built other packages without this issue? Specifically have you built other packages of a comparable "size"? One reasonably fast but semi-intensive package I can think of off the top of my head is `openblas`. I'm trying to get a sense of whether this is a Spack-on-the-latest-Fedora issue or a Spack-building-Caliper issue.

[2021-01-05 00:00] ax3l commented on #20650
Sounds great, let's tag (only) the latest release for now? @darmac

[2021-01-05 00:03] ax3l commented on #20650
Ah, I see. `c-blosc2` is still in open beta, with the latest release being `v2.0.0.beta.5`.
https://github.com/Blosc/c-blosc2/releases

My intention was to wait for the first non-preview release before starting to tag things, but if you rely on such a preview release we can also start earlier. Do you like to co-maintain the package if you use it actively, @darmac?

[2021-01-05 00:07] dnystrom1 commented on #20668
I have tried to also build both likwid and hpctoolkit.  However, I am not sure I have done that in a very controlled manner where I was starting from scratch.  Both my likwid and hpctoolkit builds failed to complete and had an error.  So, I was planning to report that as well but have not yet gotten around to it.  I will try some additional builds and see if others exhibit the same behavior.  On a

[2021-01-05 00:26] cwsmith commented on #20655
On the cluster and my workstation adding `fabrics=ucx` (or `fabrics=verbs`, not shown) to the `openmpi` variants as shown below:

[code]

results in the attached concretization [concretized2.log](https://github.com/spack/spack/files/5767375/concretized2.log) which has both `openmpi` and `mpich` being installed.

[code]

Interestingly, switching back to the 'original' concretizer correctly outputs

[2021-01-05 01:06] darmac commented on #20650
@ax3l
I opened this issue because this package build failed when I use a earlier spack version.

But sorry, infact, I'm not a active user :(
I think using a non-preview release is a good idea, we can just wait the really stable version.

[2021-01-05 01:45] dnystrom1 commented on #20668
So, here is the order in which the packages were built when building caliper.

pkgconf-1.7.3-tscq656tjqch7wgd7j6fwnxy2rvvfxis/
berkeley-db-18.1.40-mhw7njjv4j6s6y3kpmbtb62yetwfjfrj/
zlib-1.2.11-z72m2fyeujhju2lt5k4qahebkzkjttcl/
libsigsegv-2.12-r2mbfjdsj2shzalzlvgux4ps2qjxxdkx/
util-macros-1.19.1-ul5dj53za77r22ofb73ydtd7pr4xcqoj/
libiconv-1.16-xftmrpafftlwtvzsr4lgkqxfzvpeoxib/
xz-5.2.5-t67ym52gmkgsj

[2021-01-05 01:52] dnystrom1 commented on #20668
Just tried building likwid from a fresh clone of spack.  It fails with the following error.

==> Installing likwid-5.1.0-2znqh4hqbqyiowi2dckmwkottm327eyc
==> No binary for likwid-5.1.0-2znqh4hqbqyiowi2dckmwkottm327eyc found: installing from source
==> Fetching https://spack-llnl-mirror.s3-us-west-2.amazonaws.com/_source-cache/archive/5a/5a180702a1656c6315b861a85031ab4cb090424aec42cbbb326b849e29f55

[2021-01-05 02:10] dnystrom1 opened #20670 "Build of likwid fails on Fedora 33 when using spack develop branch"
Tried building likwid/5.1.0 on laptop running recently undated Fedora 33 from a fresh spack clone.  There were no modifications made to files within ~/.spack and build fails in same way with or without ~/.spack.

### Steps to reproduce the issue

#!/bin/bash
git clone https://github.com/spack/spack.git
source spack/share/spack/setup-env.sh
spack install -j 4 likwid@5.1.0

### Error Message

==> In

[2021-01-05 02:19] scheibelp commented on #20668
Do you get many processes when building just `gettext`? When building on my system the gettext installation appears to start many processes (although not running simultaneously). The `gettext` install also takes about 8 minutes to complete for me and so may be running in parallel with installations of other "sibling" spack dependencies.

[2021-01-05 02:37] dnystrom1 commented on #20668
Am trying to build hpctoolkit right now.  It also requires gettext and is working on in right now.  Here is what is going on right now.

% ps agux | grep wdn | grep gcc | wc -l; ls -lthr spack/opt/spack/linux-fedora33-haswell/gcc-10.2.1
25159                 <------------------------------------------------------------------------ Note large number of gcc processes.
total 120K
drwxr-x---.  3 wdn w

[2021-01-05 02:39] dnystrom1 commented on #20668
Have not tried building gettext alone yet.  Can try that after my hpctoolkit build completes.

[2021-01-05 03:05] #20656 closed, assigned to nobody

[2021-01-05 03:12] dnystrom1 commented on #20668
Here is the result of building gettext for hpctoolkit.

==> Installing gettext-0.21-57aha3yr7p4zz3y6xft4qqcm2cni5tw2
==> No binary for gettext-0.21-57aha3yr7p4zz3y6xft4qqcm2cni5tw2 found: installing from source
==> Fetching https://spack-llnl-mirror.s3-us-west-2.amazonaws.com/_source-cache/archive/d2/d20fcbb537e02dcf1383197ba05bd0734ef7bf5db06bdb241eb69b7d16b73192.tar.xz
##########################

[2021-01-05 03:54] dnystrom1 opened #20672 "Build of hpctoolkit fails on Fedora 33"
Trying a build of hpctoolkit from fresh clone of spack fails on Fedora 33.  No special customizations done.

### Steps to reproduce the issue

#!/bin/bash
git clone https://github.com/spack/spack.git
source spack/share/spack/setup-env.sh
spack install -j 4 hpctoolkit +mpi ^openmpi

### Error Message

==> Installing hpctoolkit-2020.08.03-dfrulxfvokpyet3afosqm3su3rpqkcty
==> No binary for hpctoolkit

[2021-01-05 04:21] t-nojiri commented on #20552
Thank you for your comment on how to deal with it.
I have confirmed that it can be built on x86_64 and aarch64 machines.

[2021-01-05 05:19] t-nojiri opened #20674 "Installation issue: fermi"
In the following PR, the macro name of the patch file became lowercase, resulting in a build error.
　https://github.com/spack/spack/pull/20647

Even if the URL of sse2neon is changed, the macro name remains SSE2NEON.h, so I don't think it is necessary to change the macro name of the patch file.

I have confirmed that I can build by modifying the macro name of the patch file of fermi, fermikit and

[2021-01-05 05:26] t-nojiri commented on #20674
It was a problem in my environment.

[2021-01-05 05:26] #20674 closed, assigned to nobody

[2021-01-05 05:59] t-nojiri commented on #20552
Should I issue this PR as one PR?
Since the change in 1) is the addition of a new version, I am wondering whether to create one PR or separate it.

[2021-01-05 06:00] adamjstewart commented on #20552
Yes, one PR for the whole package is fine.

[2021-01-05 06:16] t-nojiri commented on #20552
thank you for your answer.

[2021-01-05 06:39] mwkrentel commented on #20672
This is a known problem with gcc 10.x.  This sometimes happens when a
new gcc breaks some old usage.
See https://github.com/HPCToolkit/hpctoolkit/issues/309

Unfortunately, I don't know a good workaround for 2020.08.03.
`hpctoolkit@master` should work, and I'd recommend that anyway.
Or else, use gcc 9.x.

[2021-01-05 09:54] yellowhat commented on #18535
Following @Nortamo suggestion I have commented the lines:
[code]
in the `charmpp` package.

I was able to install `namd` with:
[code]
And I was able to run the `stmv` benchmark.

[2021-01-05 09:55] alalazo opened #20679 "Non-declared dependency attached by the ASP solver"
The ASP based concretizer currently attaches non-declared dependencies on `libc` when trying to resolve for `iconv`. Doing a bisect the bug started at 0ce08640e08de8f7313a4b3974131e2efa5249e0

### Steps to reproduce the issue
At commit 0ce08640e08de8f7313a4b3974131e2efa5249e0 or later:
[code]
while the expected result is:
[code]

### Error Message
No error message, but the DAG has a node that is u

[2021-01-05 09:56] alalazo commented on #20679
@haampie @tgamblin @becker33

[2021-01-05 13:55] samcom12 commented on #18535
Thanks @yellowhat It worked for me as well.

[2021-01-05 17:25] eschnett opened #20682 "Installation issue: gcc"
### Steps to reproduce the issue

[code]

### Information on your system

[code]

### Additional information

* [spack-build-out.txt](https://www.dropbox.com/s/y0zx2k72nl3rwbk/spack-build-out.txt?dl=0)
* [spack-build-env.txt](https://gist.github.com/eschnett/59f9699f3b07b7cd5c52f3ba15210baa)

@michaelkuhn

### General information

- [x] I have run `spack debug report` and reported the version of S

[2021-01-05 17:46] dnystrom1 commented on #20672
Thanks for the update.  I will give hpctoolkit@master a try first.

[2021-01-05 17:58] naromero77 commented on #20660
I don't have this version of Ubuntu, but I will try to see if I can reproduce the error on an earlier version of Ubuntu.

[2021-01-05 18:57] scheibelp commented on #20668
Did you have a notion of whether many processes were started during that install? Or did the number stay low? The `watch` command may help with this (it runs a command periodically).

[2021-01-05 19:08] dnystrom1 commented on #20668
See my comments above my previous one i.e. from 16 hours ago where I show the output of the following shell commands.

ps agux | grep wdn | grep gcc | wc -l; ls -lthr spack/opt/spack/linux-fedora33-haswell/gcc-10.2.1

I was running that command repeatedly while gettext was building.  First, the number of gcc processes ramped up to at least 25159.  Shortly after, the number of processes reached a l

[2021-01-05 19:45] scheibelp commented on #20668
Do you have the full output of any of these `ps` command executions when there are many processes? I'm curious about the state of the processes: When I install `gettext` it appears to start many thousands of processes, but they all resolve very quickly (rapidly increasing PID but only ~10 processes at any given time). I'm curious if the process state is persisting but not cleaned.

(EDIT: wrong -

[2021-01-05 19:54] becker33 commented on #20668
@scheibelp I don't think Spack will install packages in parallel unless the user specifically requests it (via bash or a resource manager).

[2021-01-05 20:04] michaelkuhn commented on #20682
Did that work before? From some googling around, it seems to come up pretty often (also with older macOS versions). Could you please try adding `--with-build-config=bootstrap-debug` to the flags?

[2021-01-05 20:55] dnystrom1 commented on #20668
I do not have the full output of the above ps command but I did look at some of the ps output before doing the greps.  My memory is that most of the gcc processes were in a state of S+ but am not sure how good my memory is on this.  The ramp up and then subsequent ramp down in processes was not quick.  It took some time, especially the ramp down.  My impression is that spack was only working on th

[2021-01-05 21:11] #20471 closed, assigned to nobody

[2021-01-05 21:49] scheibelp commented on #20668
Could you do that when you get a chance? I'm currently having trouble replicating this on a docker `fedora:latest` image

Would you also be able to provide the output of `ulimit -a` on your system? For the docker image I get

[code]

[2021-01-05 22:20] dnystrom1 commented on #20668
Here is the output for ulimit -a on my system.

% ulimit -a
core file size          (blocks, -c) unlimited
data seg size           (kbytes, -d) unlimited
scheduling priority             (-e) 0
file size               (blocks, -f) unlimited
pending signals                 (-i) 128036
max locked memory       (kbytes, -l) 64
max memory size         (kbytes, -m) unlimited
open files

[2021-01-05 22:23] dnystrom1 commented on #20668
Looks like I have max user processes set and you do not.  I have seen my max number of processes be greater than 75K.  So I would guess that it is hitting this limit of 128036 which results in me getting the warning from fork that I reported above.

[2021-01-05 22:25] dnystrom1 commented on #20668
Not sure what is important to consider if one wants to set max user processes.  For instance, my laptop has 32 GiB of memory and 64 GiB of swap.  And, it is a 4 core processor with hyperthreading enabled.

[2021-01-05 22:57] dnystrom1 commented on #20668
So, I have your ps output in a couple of bzipped files.  Is there a way to upload those files or send them to you in some way?

[2021-01-05 23:04] scheibelp commented on #20668
Github should allow you to upload them here, or you can send them to me on slack (scheibelp), or I can think of another way if neither of those work.

[2021-01-05 23:33] dnystrom1 commented on #20668
OK.  I poked around on github and did not see a way to upload files.  Also, not sure how to send them to you on slack.  I am happy to try either way but need a bit more coaching.  Or maybe I can do something like the comment below where it says to attach files by dragging and dropping.

[2021-01-05 23:43] dnystrom1 commented on #20668
OK.  Looks like I figured this out.  Here are two gzipped log files with the output of "ps agux | grep wdn | grep gcc" at two different times in the build.  The ps_wdn_gcc_3.log.gz file was done before the peak in processes and the ps_wdn_gcc_4.log.gz file was done after the peak in processes.  If you uncompress and then run 'grep "  R"' on the two log files, you will not get a hit on _3.log but y

[2021-01-06 00:51] ikitayama commented on #19871
Welcome to 2021, as of this writing, it takes a few minutes to log on to JURECA-DC as I have my .bash_profile containing a line:

`spack load llvm /biqe`

... Hmm.

[2021-01-06 00:51] ikitayama commented on #19871
@alalazo your expert help is much appreciated.

[2021-01-06 00:59] #20679 closed, assigned to alalazo

[2021-01-06 01:20] dnystrom1 commented on #20672
Thanks for the suggestion.  I was able to build hpctoolkit@master.

[2021-01-06 01:20] #20672 closed, assigned to nobody

[2021-01-06 01:35] eschnett commented on #20682
@michaelkuhn The last time I tried was a few versions ago of both GCC and MacOS. I used to be able to build with a few tweaks and changes to the Spack build instructions, but as far as I can see, these have been included into Spack.

How do I add this flag? Should I `options.append` this flag in `configure_args`?

[2021-01-06 01:52] scheibelp commented on #20668
Looking at ps_wdn_gcc_4.log FWIW I only see one example of `R+` as a process state (that doesn't invalidate your theory but I thought it was worth mentioning).

I also see two instances of each command running which seems strange to me

I'll have to look through this more and brainstorm other questions to ask (I'll return to this tomorrow) but for now I'm not sure how to proceed.

[2021-01-06 04:06] dnystrom1 commented on #20668
Yes, I only got one hit.  Not sure what it all means.

[2021-01-06 04:33] rscohn2 commented on #20403
#20693 adds the provides for mpi, tbb, mkl

[2021-01-06 04:41] rscohn2 commented on #20403
@frankwillmore did the setup_run_environment in #20686

[2021-01-06 05:18] naromero77 commented on #20660
Can you test to see if this works for you?
`spack llvm +cuda cuda_arch=61 ^cuda@11.0.2`

[2021-01-06 07:33] alalazo commented on #20682
I tried to reproduce with this very similar configuration:

* **Spack:** 0.16.0-422-247e8f7926
* **Python:** 3.7.3
* **Platform:** darwin-bigsur-cannonlake
* **Concretizer:** original

but in my case GCC 10.2.0 doesn't show any issue.

[2021-01-06 08:51] #20445 closed, assigned to nobody

[2021-01-06 09:54] michaelkuhn commented on #20682
Exactly. There is already an `if sys.platform == 'darwin':` block, so you could try adding it there.

[2021-01-06 12:20] samcom12 opened #20696 "Installation issue: py-tensorflow with Intel compilers on linux-centos7-skylake_avx512"
### Steps to reproduce the issue

[code]

### Information on your system

### Additional information

* [spack-build-out.txt]()
[code]
* [spack-build-env.txt]()
*compilers.yaml
[code]

### General information

- [x] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have run `spack maintainers <name-of-the-package>` and @mentioned any maintainers
- [X] I have

[2021-01-06 12:24] samcom12 commented on #20696
@adamjstewart @aweits KIndly look into it.

[2021-01-06 14:32] opadron commented on #20585
Could you try running a bisect over the last month or so to see if you can't narrow down the change?

[2021-01-06 15:18] eugeneswalker commented on #20585
This is the commit that introduced the issue:
* 857749a9ba3619f8190cc8b817d66125cf846c94
* `Tue Dec 22 21:39:10 2020 -0800`

[2021-01-06 15:45] opadron commented on #20585
Yes, very curious.  I'll try to reproduce and update here. :+1:

[2021-01-06 16:18] eschnett commented on #20682
The problem was that I have MacPorts installed, which provides a package (maybe the assembler?) that prevents GCC from bootstrapping. Disabling MacPorts makes GCC build.

Thanks for your help!

[2021-01-06 16:18] #20682 closed, assigned to nobody

[2021-01-06 16:39] EthanS94 opened #20700 "An install_tree used successfully for a while is no longer usable. Can't figure out why"
I am setting an install location with config.yaml:
[code]

Spack debug report:
[code]

Today, I am not able to use this install_tree and am getting the error `==> Error: '<' not supported between instances of 'tuple' and 'str'` with simple commands like `spack find` and `spack uninstall <spec>`. Setting the install path to something else or using the default path works. I've tried reverting to old

[2021-01-06 18:10] trws commented on #20585
What's your python version, and do you have the typing module available? That commit of mine shouldn't have had any effect on that command, just on type checking.  The only thing I can think of is the stub typing module I added for python2.x, not sure *how* that would have caused a problem, but it's a place to start.

[2021-01-06 18:23] adamjstewart commented on #20696
Can you upload the full `spack-build-out.txt` and `spack-build-env.txt`? Without those we can't really tell what's going wrong.

[2021-01-06 18:42] eugeneswalker commented on #20585
Python 3.7.4, typing module *is available*. The problem seems to be that, since https://github.com/spack/spack/commit/857749a9ba3619f8190cc8b817d66125cf846c94, this check evaluates to true, whereas before it evaluated to false, on RHEL7:
* https://github.com/spack/spack/blob/develop/lib/spack/spack/util/gpg.py#L289

I don't know *why*

[2021-01-06 19:40] trws commented on #20585
I think I found it.  Have a look at the change [here](https://github.com/spack/spack/commit/857749a9ba3619f8190cc8b817d66125cf846c94#diff-e428c0615000e3d0c6f4b2811f6f490fd75240e9bf90f9a4f821b40fb2162e61R192).

After the change to disambiguate the GpgConstants instance from the class name to satisfy the style checks, the user_run_dir check for gpgconf_string now looks at the class rather than the i

[2021-01-06 19:42] eugeneswalker commented on #20585
I will try now, and report back with a PR if it works. Thanks!

[2021-01-06 19:47] eugeneswalker commented on #20585
This works.

[2021-01-06 20:29] #20585 closed, assigned to nobody

[2021-01-07 05:22] blue42u opened #20721 "Meson's `find_library` does not search dependencies"
Tried packaging a Meson-based project that uses `find_library()` to find `libbfd` from `binutils` (needed since it doesn't ship a pkg-config or CMake file), but Meson will only search the system directories and not dependencies. Building outside Spack (using `spack load binutils`) works as desired.

### Steps to reproduce the issue

Create a minimal Meson project that uses `find_library`:
[code]
C

[2021-01-07 14:24] rscohn2 opened #20725 "Installation issue: intel-oneapi-mpi is incomplete"
### Steps to reproduce the issue

[code]

[2021-01-07 14:27] rscohn2 commented on #20725
@scheibelp : I found the code in build_systems/intel.py that implements extra logic for packages that provide virtual dependencies and will try to move it over to the oneapi package.

[2021-01-07 16:00] sethrj commented on #18958
After further examination this is just a byproduct of the difficulty of "generic" (non-semantic) version comparison, and https://github.com/spack/spack/pull/20695 has a suitable workaround: after experimenting I found `Version('2.0.dev1') < Version('2.0.0')`.

[2021-01-07 16:49] aphecetche opened #20729 "Installation issue: gcc@7.3.0 using CentOS 7 native gcc@4.8.5"
@michaelkuhn

Trying to compile a new gcc using the native one (gcc 4.8.5) on a CentOS 7 system (with gcc, gcc-gfortran and gcc-c++ yum packages installed) I hit something that looks like a circular dependency (gcc -> Berkeley-db -> g++ (4.8.5 not capable enough ? to compile berkeley-db)) issue ?

[code]

[code]

- [x] I have run `spack debug report` and reported the version of Spack/Python/Platfo

[2021-01-07 17:06] aendk commented on #20660
@naromero77
sorry for replying late, building this package takes forever on my machine. Thank you for your quick response.
```./spack install llvm +cuda cuda_arch=61 ^cuda@11.0.2```

has yielded the same/similar error. Do you have other ideas on how to tackle this problem with regards to different versions/downgrades?

Here is the log for the sake of completion:

[code]

[2021-01-07 17:30] naromero77 commented on #20660
Maybe @trws knows more here. This looks like a bug in LLVM itself and should probably be filed here:
https://bugs.llvm.org/

It looks specific to your version of Ubuntu, but I am not sure.

Can you also try doing?
[code]

[2021-01-07 17:45] aphecetche commented on #20729
Ahem, err, I've found the issue. Pilot error.

First time I used spack on this system the c++ compiler was _not_ installed. I then installed it but made the mistake of _not_ updating the `compilers.yaml` file. That's why `berkeley-db` was complaining about the c++ compiler...

[code]

That's already the second time in my (short) spack journey that I'm making the mistake of mis-configuring the `com

[2021-01-07 17:45] #20729 closed, assigned to nobody

[2021-01-07 17:59] jasonbuechler opened #20731 "PNG support in R missing?"
### Steps to reproduce the issue

[code]

### Error Message

[code]

### Information on your system

output of `spack debug report` -->
[code]

### Additional information

- [x] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [x] I have searched the issues of this repo and believe this is not a duplicate
- [x] I have run the failing commands in debug mode and re

[2021-01-07 18:30] eugeneswalker commented on #20700
@becker33 Does this look familiar? I had this problem at one point, and then I think Greg fixed something and it went away.

[2021-01-07 18:32] adamjstewart commented on #20731
There is currently no official maintainer for the `r` package in Spack, but you're welcome to submit a PR to add a new `+png` variant.

[2021-01-07 21:07] joshessman-llnl opened #20736 "Clingo concretizer regression"
### Steps to reproduce the issue

Discovered while merging develop into #20657, appears to have been introduced in https://github.com/spack/spack/commit/0ce08640e08de8f7313a4b3974131e2efa5249e0

Using `clingo@master` with the standard (i.e., non-CFFI) Python module:

[code]

Result of `git diff` in the spack repo:
[code]

### Error Message

[code]

### Information on your system

* **Spack:** 0.16

[2021-01-07 22:00] becker33 commented on #20736
@tgamblin I think this comes from your refactoring work. Do you want to dig into it or should I?

[2021-01-08 03:28] tgamblin commented on #20736
@becker33 want to try? I’ve been busy with another task and won’t get back to this for a bit, but it’d be good if you looked.

[2021-01-08 07:14] jamesETsmith opened #20744 "Installation issue: py-numexpr"
Hello! I'm in the process of setting up Spack on my laptop and I've run into a bit of trouble. Originally I was trying to install `py-pandas`, but it kept failing during the `py-numexpr` build. I found that trying to build `py-numexpr` alone reproduces the error.

### Steps to reproduce the issue

[code]

The output:

[code]

### Information on your system

[code]

### Additional information
* [co

[2021-01-08 11:32] aendk commented on #20660
Thank you, I will think about filing it there.
The error stayed the same with Polly being exchanged for other stuff.

Here is the log:
[code]

[2021-01-08 12:53] samcom12 commented on #14488
Which variable does Bazel use to use TMPDIR?

[2021-01-08 15:50] germasch opened #20745 "spack external find problem with bzip2"
I used `spack external find` on a RHEL-based system (`Red Hat Enterprise Linux Server release 7.7 (Maipo)`)

It detected bzip2:

[code]

However, that bzip2 isn't actually usable for development, since there is no header file, and just the versioned shared library. If I had root access I could probably install a corresponding devel package, but I don't, and as a user it'd be better to have spack n

[2021-01-08 17:18] jasonbuechler commented on #20731
Understood.  I took a crack at it here: https://github.com/spack/spack/pull/20753

[2021-01-08 17:26] #20312 closed, assigned to nobody

[2021-01-08 18:10] s-sajid-ali opened #20756 "Different linking behavior between spack load vs module load"
### Details

For the following build of `openmpi`, I'm seeing a difference in behavior between `spack load` and `module load`. While using `spack load`, this build of `openmpi` is able to compile a test program but when using `module load`, it fails with a link error. Moreover, while it works with `spack load`, the same aforementioned linker error occurs inside a spack environment.

[code]
#### vi

[2021-01-08 18:40] s-sajid-ali commented on #14488
The logic for setting the temporary directory can be seen at following location in py-tensorflow's recipe :

https://github.com/spack/spack/blob/develop/var/spack/repos/builtin/packages/py-tensorflow/package.py#L517

[2021-01-08 18:47] #20725 closed, assigned to nobody

[2021-01-08 18:57] naromero77 commented on #20660
Are you able to build LLVM on the command line without Spack?

[2021-01-08 19:05] eugeneswalker commented on #20590
@payerle Do you know why these are getting rejected? What version of mumps did you test this with? The src/Makefile lines targeted for patching don't match the patch file with mumps 3.3, did you test on a different version? Do we need to maintain two different patches -- one for the version you tested this with and one for mumps 3.3?

[2021-01-08 19:35] eschnett opened #20757 "Installation issue: boost"
### Steps to reproduce the issue

I want to build `boost %gcc` on Summit, which is a ppc64le GNU/Linux system. This fails due to a configure error in Boost.

Although Boost's `bootstrap.sh` is called as expected with `--with-toolset=gcc`, it tries to use the `xlcc` toolset internally. The problem is that `bootstrap.sh` does not pass the `TOOLSET` variable as argument to the `build.sh` script.

Thi

[2021-01-08 19:38] payerle commented on #20590
My bad.  I tested with mumps@5.2.0, and it looks like they changed ordering of some of the include -I flags between that and 5.3.3.

It looks like two versions of the patch are needed.

[2021-01-08 20:15] giltirn commented on #20476
It appears the issue is now resolved; the cray-mpich package appeared in a more recent revision of the develop branch, and adding the package as haampie suggested resolved the issue. Thanks!

[2021-01-08 20:15] #20476 closed, assigned to nobody

[2021-01-08 20:48] #18958 closed, assigned to nobody

[2021-01-08 21:05] eugeneswalker commented on #20590
Sounds good. I will use your patch for 5.2 as a template and submit a new patch and a PR that applies the correct patch depending on the mumps version.

[2021-01-08 23:01] adamjstewart commented on #14488
I wish there was some way we could use the same stage directory that Spack uses for building, but it won't work if that directory uses NFS.

[2021-01-08 23:17] adamjstewart commented on #20744
That is really odd. I'm able to build `py-numexpr@2.7.0` on my system, which is almost identical to yours:

* **Spack:** 0.16.0-510-ba41181478
* **Python:** 3.8.7
* **Platform:** darwin-catalina-ivybridge
* **Concretizer:** original

Does it work with Python 3.8.7?

[2021-01-09 01:00] eschnett opened #20762 "Installation issue: amrex +cuda"
The `amrex` package has an error where it uses `spec` instead of `self.spec`. This happens when installing `amrex +cuda`.

[code]

@asalmgren  @mic84

[2021-01-09 01:11] eschnett commented on #20762
Also, the check `if cuda_arch == 'none':` does not seem to be working. It seems that checking `cuda_arch[0]` instead does work. This would also be an error in the Spack documentation at <https://spack.readthedocs.io/en/latest/build_systems/cudapackage.html?highlight=cudapackage#provided-variants-and-dependencies>.

[2021-01-09 01:37] jamesETsmith commented on #20744
@adamjstewart, that worked right away! For reference, I modified the install command above to the following.

[code]

I agree though, this is very weird...

[2021-01-09 01:52] eschnett commented on #20762
Sorry to keep adding on to this issue: It seems that Spack wants the `cuda_arch` variant to be set to `75` (no dot), but AMReX wants it to be `7.5` (with a dot). Neither works; it is not possible to use the `cuda_arch=...` setting.

[2021-01-09 18:02] adamjstewart commented on #20744
I just confirmed that I'm also able to build `numexpr` with Python 3.9.1, so I don't think the Python version is the problem. Are you installing Python 3.9.0 with Spack? I bet if you uninstall it and reinstall it the problem will disappear.

[2021-01-09 19:34] eugeneswalker opened #20766 "sbang relocation broken (again)"
`sbang` relocation is broken under some conditions using `spack@develop` (1e3f6489c49f68f3efb3966c81a5f2ae8e0a08c1, `Fri Jan 8 15:48:23 2021 -0500`)

The conditions under which the problem manifests are described below.

1. Build binaries from source, into a long install_tree using <i>both</i>
  * `config: install_tree: root: <root>`
  * `config: install_tree: padded_length: <N>`
  * For instance,

[2021-01-10 00:37] DiegoMagdaleno opened #20769 "Split Builtin Spack repo and Spack itself"
As of right now Spack has their built in repository in the same Git repo where its source code is located.

This creates some problems, like packages not being able to be updated without updating spack itself, or doing git pull on the location Spack is installed on.

This proposal would make Spack do, what Homebrew does to a certain extent, have Spack and Spack-core (Repository).

Issues this woul

[2021-01-10 05:09] ggouaillardet commented on #20756
First, I think this is really a spack issue and not an Open MPI one.

I noted that the `openmpi` package depends on the external `xpmem` package, and I suspect this is what explains the different behaviors.
If you `module avail`, do you see a spack generated module related to `xpmem`?
If yes, what if you `module load xpmem-xyz` followed by `module load openmpi`?
If no, is there a non spack generat

[2021-01-10 09:17] jserv commented on #15725
This issue should be no longer valid since `SSE2NEON` package is merged.

[2021-01-10 19:57] brada4 commented on #20668
Spotted looking from other side - it should be `MAKE_NB_JOBS=-1` in openblas package file to actually obey external jobserver. Zero is default, i.e auto-detect and runon all CPUs when having make limiting itself.
Most options are contained in `Makefile.rule` in the tarbal.

[2021-01-10 22:42] DiegoMagdaleno commented on #7123
+ 1 for this it would be very useful for users that don't have super computers and need to build compilers that take a lot of time to build.

[2021-01-10 22:55] adamjstewart commented on #6172
This now exists: https://github.com/spack/spack-configs

[2021-01-10 22:55] #6172 closed

[2021-01-10 23:05] adamjstewart commented on #20769
Duplicate of #1773 and #17062

[2021-01-10 23:05] #20769 closed, assigned to nobody

[2021-01-10 23:05] eschnett commented on #20757
I assume the following happens:

- The script `build.sh` is indeed using the GNU compiler. I assume this is so because the environment variable `CXX` is set.
- The script also decides that it wants to use the `xlcpp` toolset. I assume this is because the function guess_toolset doesn't look at `CXX`; instead, the condition is `test_uname Linux && test_path xlC_r`, i.e. it checks whether `xlC_r` is

[2021-01-10 23:05] adamjstewart commented on #17062
Closing as a duplicate of #1773

[2021-01-10 23:05] #17062 closed, assigned to nobody

[2021-01-10 23:08] DiegoMagdaleno commented on #1773
I agree with the comment above, it would be more proficient to start splitting Spack, right now you have issues for Spack itself and packages that don't build.

Homebrew worked like Spack before, and they decided to split because of this issue.

[2021-01-10 23:12] adamjstewart commented on #1773
I would love to be able to split them, especially the issues and PRs, but at the moment Spack isn't very stable. Just a few days ago I merged a PR that updated every Python package in Spack. If you tried to install those new package recipes on any previous version of Spack, they wouldn't work. This still happens all the time. See #18376 and #20610 for recent examples.

P.S. Once Spack _is_ stable,

[2021-01-10 23:21] adamjstewart commented on #20766
This issue (and your PR) should probably be moved to https://github.com/spack/sbang

[2021-01-10 23:22] eugeneswalker commented on #20766
except this has to do w relocation of sbang which is not handled by sbang, right?

[2021-01-10 23:23] adamjstewart commented on #20766
Hmm, not sure, feel free to ignore me

[2021-01-11 00:43] #15725 closed

[2021-01-11 05:21] samcom12 commented on #14488
Thanks, @adamjstewart I could change tmp dir from TensorFlow recipe. but now I'm seeing errors like "Spack compiler must be run from Spack! Input 'SPACK_ENV_PATH' is missing."

[2021-01-11 05:35] adamjstewart commented on #14488
Are you using a non-Spack-installed bazel? Spack adds a patch to bazel to allow our compiler wrappers to work. Apparently there's a better way to do this by making some kind of Spack toolchain for bazel, but I haven't had the time to investigate.

[2021-01-11 07:19] alalazo commented on #1773
@DiegoMagdaleno To add on what @adamjstewart is saying, Spack is still changing APIs and underlying "model" of the software specs if you are using `develop`. If there's a need for stability you can use any major release, e.g. v0.16.X, since there we only backport changes that won't require a rebuild / reconfiguration of an already installed stack.

Did we ever check (as a theoretical exercise) how

[2021-01-11 09:27] alalazo commented on #20757
@eschnett I don't have access to summit, but I have access to Marconi which has a very similar hardware:

* **Spack:** 0.16.0-522-9a1ab9a
* **Python:** 3.6.8
* **Platform:** linux-rhel7-power9le
* **Concretizer:** original

I can't reproduce this build error there. What I tried is:
[code]
This is my list of compilers:
[code]
And this is how GCC is configured:
[code]
Do you spot any difference that

[2021-01-11 09:58] alalazo commented on #20745
This issue is possibly pointing at a documented limitation, see [here](https://spack.readthedocs.io/en/latest/build_settings.html#cmd-spack-external-find):

Maybe we can solve the specific problem with `bzip2` in its own `package.py` and collect experience how to generalize the solution to other `link` type dependencies. Off the top of my head this involves just searching for some specific header

[2021-01-11 12:24] haampie opened #20774 "HIP_PLATFORM inconsistency"
Currently in https://github.com/spack/spack/blob/develop/var/spack/repos/builtin/packages/hip/package.py we build with `HIP_PLATFORM=rocclr`, but in `setup_dependent_build_environment` we use `HIP_PLATFORM=hcc`.

Can you please comment on this @srekolam / @arjun-raj-kuppala / @amd-toolchain-support? What should the value be?

[2021-01-11 13:04] samcom12 commented on #19877
@adamjstewart  I feel like need to go through python and porting python packages in Spack.
I tried it hard but couldn't succeed yet.
Can I get help for porting the same?

[2021-01-11 15:02] jgalarowicz commented on #20424
Hi all,
I'm seeing the same thing with dyninst@10.0.0 when trying to build on a Power8 platform.
[code]

[2021-01-11 16:08] cosmicexplorer commented on #20260
#20779 describes a way I learned just now that Ardour (on Linux) supports tools only built for a specific IPC interface for Windows: VST plugins. It uses wine but is having immense difficulty maintaining the runtime virtualization and mentions that running "a normal windows VST host in wine" may be more stable.

[2021-01-11 16:20] jamesETsmith commented on #20744
I had tried reinstalling python 3.9.0 earlier and that didn't work. I just ran into a very similar issue where I tried to use my `openmpi` build from spack and it tried to use ` /usr/bin/gcc++` again (which again it couldn't find). This time I uninstalled and re-installed openmpi and everything worked fine. I'm using a mixed tool chain (since I'm on a mac) and I can't compile Python with gcc via s

[2021-01-11 16:34] adamjstewart commented on #20744
What's the output of `spack config get compilers`?

[2021-01-11 17:01] jamesETsmith commented on #20744
Sure, here it is:

[code]

[2021-01-11 17:22] gartung commented on #20766
@adamjstewart I have been out of the loop with the sbang changes. Is sbang now a "vendored" subpackage of spack. Can the sbang install be outside of both the spack source directory and the spack install root? I seem to recall that there was a problem with long paths and sbang.

[2021-01-11 17:29] gartung commented on #20766
@eugeneswalker This change was supposed to handle sbang relocation from the old format to the new format.
https://github.com/spack/spack/commit/a80d221bfa1c9be4b2b9eff9f057edf62c34e50b#diff-f18647423e51ee5a190a09fc1ddeec214b1f8e3b45f68080df621971fd5b0f7d

[2021-01-11 17:31] gartung commented on #20766
It looks like the sbang line with the new format is not being replaced. Is that correct?

[2021-01-11 17:39] iulian787 opened #20781 "Installation issue: cmake using pgi/nvhpc compiler"
I am trying to install netcdf-c using nvhpc compiler
I have issues, related to cmake:

spack spec cmake %nvhpc
Input spec
--------------------------------
cmake%nvhpc

Concretized
--------------------------------
==> Error: Conflicts in concretized spec "cmake@3.19.2%nvhpc@20.9~doc+ncurses+openssl+ownlibs~qt arch=linux-ubuntu18.04-skylake_avx512/sw44xu6"

List of matching conflicts for spec:

[2021-01-11 17:57] eugeneswalker commented on #20766
Yes and no. The problem is only when the binaries are originally built with the `config: install_tree: padded_length:` setting.

When you build with:
[code]

The sbang script is stored at `unpadded_root/bin/sbang` -- but this is not relocated properly when you later try to install those binaries from the cache.

However, when you build _without_ `config: install_tree: padded_length`, the relocatio

[2021-01-11 18:44] adamjstewart commented on #20744
Hmm, yeah I don't see anything wrong that would cause the problem you're encountering. When building Python packages, the build often uses a mix of Spack's compiler wrapper and the compiler that Python was built with. In the case of Python, although we build it with Spack's compiler wrapper, we filter that out with the actual compiler path at the time of installation. So if `cc: /usr/bin/gcc` used

[2021-01-11 18:46] gartung commented on #20766
Hmm... I suspect it has something to do with the sbang location being defined as the unpadded root

https://github.com/spack/spack/blob/de3504ca2965e8cdba4e615d6bcb590f274aebef/lib/spack/spack/hooks/sbang.py#L30

[2021-01-11 18:55] eugeneswalker commented on #20766
Right. I believe the reasoning there was because of the expectation that padding would make a long path, and using a long path to reference sbang would defeat the purpose of the sbang.

[2021-01-11 19:09] gartung commented on #20766
Right so with padding the sbang_root != install_root and that sbang line is never replaced. Your proposed solution of storing the old sbang root seems to work.

[2021-01-11 19:10] carns commented on #20510
I've hit this same problem in a different build environment using spack v0.16.0.  In my case the package failure was in a deep dependency, and it's build error output was hidden in the terminal as spack continued attempting to build other packages in the dependency tree.   The final return code from `spack install` was 0,  so there wasn't any way to observe the error other than from a) subsequent

[2021-01-11 19:13] adamjstewart commented on #1773
@alalazo here is the answer to your question.

Number of non-Python packages that Python packages depend on:
[code]
Number of Python packages that non-Python packages depend on:
[code]

[2021-01-11 19:44] becker33 commented on #20736
@alalazo chimed in via slack and offered to take it on.

[2021-01-11 21:09] jamesETsmith commented on #20744
That definitely could have happened because I was doing a lot of tinkering with the spack compilers. Unrelated to the original issue (but related to your previous comment), would it be safe to build python with one compiler (clang in my case) and then a python package (e.g. py-numpy) with a _different_ compiler (say gcc-10.1.0)?

[2021-01-11 21:56] AndrewGaspar commented on #18492
@skosukhin I ran into the same issue on (I think) the same system, and yes, /lib64 symlinks to /usr/lib64.

I think this issue can be closed.

[2021-01-11 22:06] EthanS94 commented on #18492
The initial issue was encountered when letting spack build libuuid instead of using the system's libuuid.

I've moved to using the system's libuuid as an external dependency. A different package depends on it which can't be disabled with a variant `~uuid`.  I think it is xt, but I can't remember. That's been working fine.

I haven't tested with spack-built libuuid in a while. I'm fine with closing

[2021-01-11 22:06] #18492 closed, assigned to nobody

[2021-01-11 22:30] adamjstewart commented on #20744
You _can_ do it:
[code]
although I wouldn't recommend it. There's really no reason to use GCC on macOS. Many packages like `py-torch` will use a mix of the compiler you build Python with (%apple-clang) and the compiler you tell it to (%gcc), which will probably break something.

[2021-01-11 22:31] adamjstewart commented on #18492
We recently added a `uuid` virtual package that probably helps with this.

[2021-01-11 22:45] jamesETsmith commented on #20744
Ok, it seems dangerous, but I figured I'd ask. Thanks for your help!

[2021-01-11 22:45] #20744 closed, assigned to nobody

[2021-01-11 22:52] mic84 commented on #20762
@eschnett thank you for reporting. Can you try PR #20786 and see if it solves the issue? Thanks!

[2021-01-12 10:00] alalazo commented on #20736
Having an external Python in packages.yaml is required to trigger the issue:
[code]

[2021-01-12 10:07] alalazo commented on #20736
Digging into it, it seems that the answer set contains atoms for node attributes without having that specific node in the solution DAG. In this particular case:
[code]
is not in the answer set, but:
[code]
is.

[2021-01-12 10:23] alalazo commented on #20736
It seems we deduce that certain dependency conditions hold also for external packages. Adding another condition to that rule:
[code]
makes `libxml2+python` concretize for me. Checking right now if all unit tests are passing.

[2021-01-12 10:43] mohan002 opened #20789 "Installation issue: ELPA"
Error:
==> Installing elpa-2017.05.001-fqahf335eay23rb35ibxdkf7y3gd6g2l
==> No binary for elpa-2017.05.001-fqahf335eay23rb35ibxdkf7y3gd6g2l found: installing from source
==> Fetching http://elpa.mpcdf.mpg.de/html/Releases/2017.05.001/elpa-2017.05.001.tar.gz
################################################################################### 100.0%
==> Warning: The contents of the archive look like

[2021-01-12 12:25] alalazo commented on #20736
@joshessman-llnl Can you confirm that #20790 solves your issue?

[2021-01-12 14:35] joshessman-llnl commented on #20736
@alalazo Thanks for taking a look at this, it indeed solves the problem I was running into.

[2021-01-12 15:22] alalazo commented on #20611
This issue is correctly diagnosed in its description. The new concretizer is stricter in certain checks if compared to the original concretizer. Here it fails since the `scheduler=lsf` anonymous spec used in a `conflicts` directive is not an allowed state of `libyogrt`.

[2021-01-12 15:30] alalazo commented on #20611
This should be solved by #20794

[2021-01-12 16:42] glennpj opened #20798 "running `spack style` leaves a '.mypy_cache' directory behind"
### Steps to reproduce the issue

[code]

### Error Message

[code]

### Information on your system

[code]

[code]

### Additional information

- [x] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [x] I have searched the issues of this repo and believe this is not a duplicate
- [x] I have run the failing commands in debug mode and reported the output

[2021-01-12 17:22] scheibelp commented on #20789
The http:// link that Spack is trying doesn't appear to work but the site does appear to respond to the https:// link. It looks like the `url_for_version` function of the ELPA package needs to be updated:

[code]

With that do

[code]

Can you try that?

[2021-01-12 18:27] thomasbrTTU opened #20799 "Building chap package.py file"
Trying to create the package.py file for the chap application (Channel Annotation Package) and have a few questions.
Read the documentation at [https://spack.readthedocs.io/en/latest/build_systems/cmakepackage.html] since chap uses Cmake.

First built chap using ubuntu under WSL for windows using the instructions at [https://github.com/channotation/chap]. In the build process,
it produces a CMakeC

[2021-01-12 18:41] adamjstewart commented on #20799
Spack sets `CMAKE_PREFIX_PATH`, which is usually sufficient for CMake to find dependencies. If it doesn't work, you'll have to set these variables yourself in `cmake_args`.

You can use any BLAS/LAPACK provider you want. In the package, add `depends_on('blas')` and `depends_on('lapack')`, then build like so:
[code]

[2021-01-12 18:42] adamjstewart commented on #20798
Fixed by #20613

[2021-01-12 19:01] doutriaux1 opened #20801 "Installation issue: pytorchvision and python2 from spack.yaml does not work"
### Steps to reproduce the issue
use this [rzhasgpu-python2.txt](https://github.com/spack/spack/files/5804205/rzhasgpu-python2.txt) yaml file and spack v0.16.0

[code]

### Information on your system

rzhasgpu on LC (toss) spack.yaml file worked on Dec 4th.

### Additional information

We are using binaries mirror setup by @rblake for us.

v0.16.0 works as is for @rblake but for me I need to edit

[2021-01-12 19:12] adamjstewart commented on #20801
This is a bug in the old concretizer. What it's trying to tell you is that by default, Spack wants to install the latest version of `py-torchvision`, but that doesn't support Python 2. You can do one of 3 things:

1. Use Python 3, because Python 2 has been dead for years
2. Use Spack's new concretizer
3. Explicitly tell it to use `py-torchvision@0.5.0`, the latest version that supports Python 2

T

[2021-01-12 19:27] aendk commented on #20660
```llvm-config --version``` indicates that my system has  LLVM 10.0.0 installed.
 So i suppose I could build it manually on the command line, but I have not tried it.

[2021-01-12 19:32] doutriaux1 commented on #20801
Thanks @adamjstewart
@rblake do you know why suddenly 0.5.1 disappeared then? It looks like you had it on your mirror.

[2021-01-12 19:43] adamjstewart commented on #20801
0.5.1 has never existed on PyPI, on GitHub, or in the mainline Spack package. Maybe you added it without updating the `package.py`? I'm not sure where it would come from though.

[2021-01-12 19:45] doutriaux1 commented on #20801
maybe it was a typo. Let's close it. Thanks!

[2021-01-12 19:45] #20801 closed, assigned to nobody

[2021-01-12 20:15] joshessman-llnl commented on #20611
Awesome, thank you @alalazo!

[2021-01-12 20:31] rblake-llnl opened #20810 "Installation issue: pytorch@1.4.0"
### Steps to reproduce the issue

[code]

Seems to be a bug in 1.4.0, recommended to remove this version.

### Information on your system
* **Spack:** 0.16.0
* **Python:** 3.7.2
* **Platform:** linux-rhel7-haswell

### Additional information

* [spack-build-out.txt]()
* [spack-build-env.txt]()

@adamjstewart

Related to #20801

### General information

- [X] I have run `spack debug report` and rep

[2021-01-12 20:40] adamjstewart commented on #20810
This is related to https://github.com/pytorch/pytorch/issues/35149

We are explicitly disabling fbgemm by default, but that doesn't seem to be working for some reason. I'll investigate.

[2021-01-12 20:43] rblake-llnl commented on #20810
Doh!  I looked for a duplicate in the bug reports, I must have missed this one.  Thanks Adam.  Version 1.4.1 doesn't have this problem, for the record.

[2021-01-12 20:45] adamjstewart commented on #20810
Yeah, 1.4.1 was a re-release just to fix that bug. We actually remove the submodule itself in 1.4.0, so it shouldn't cause this problem. Trying to figure out why it still complains.

[2021-01-12 21:30] adamjstewart commented on #20810
I looked into this. We had the same problem for the `nervangpu` submodule in 0.4.1 and the `fbgemm` submodule in 1.4.0. The problem is that the git repo for fbgemm changed its commit hashes (must have been a force push). For `nervangpu`, we could simply remove the submodule and move on. For `fbgemm` that doesn't seem to work due to https://github.com/pytorch/pytorch/blob/master/setup.py#L307. We c

[2021-01-12 21:36] s-sajid-ali commented on #20756
No.

I didn't create one, but that would most likely solve the issue since the `spack load` also loads `xpmem`.
[code]
This seems to be why the compilers wrappers work with spack load. Thanks for the pointer on generating an external modulefile!

### For spack-maintainers/developers :
Why is the behavior of `spack load` and `spack env activate` different ? I've created an environment with just ope

[2021-01-12 22:02] thomasbrTTU commented on #20799
Created the chap package.py file using

`spack create --force https://github.com/channotation/chap/archive/version_0_9_1.tar.gz`

and added the following lines to the package.py file.

[code]
It is able to build all of the dependencies but get the following error when running

`spack install chap ^netlib-lapack`

[code]
Embedding the following two print statements in /home/thomasbr/spack/lib/spack

[2021-01-12 22:39] #20348 closed, assigned to nobody

[2021-01-12 23:06] adamjstewart commented on #20799
What's the output when you run `spack -d install chap`? Can you share the full `package.py`?

[2021-01-12 23:11] #20611 closed, assigned to alalazo

[2021-01-13 02:02] mohan002 commented on #20789
@scheibelp that worked. thanks.

[2021-01-13 06:23] #20736 closed, assigned to alalazo

[2021-01-13 10:43] ghost opened #20833 "Installation issue of ruby-packages"
I am trying to create the recipe of glib2 which depends on native-package-installer and pkg-config.
Glib2, native-package-installer and pkg-config are the ruby packages.
When I install glib2 with my recipe, I get an error "cannot load such file -- pkg-config (LoadError)."
What should I do with this in this case?

The following is detailed information.

glib2: https://rubygems.org/gems/glib2
native

[2021-01-13 11:56] mdorier opened #20834 "Spack hangs during installation when target architecture is provided by spack.yaml file"
I'm on the Theta supercomputer. I have a spack.yaml file describing an environment I want to install. When I create the environment, activate it, then type `spack install`, spack hangs indefinitely on this message:

[code]

(The argobots package here is for the example; it blocks just as well when the environment contains anoother packages)

After experimenting with many variants of my spack.yaml

[2021-01-13 12:05] thomasbrTTU commented on #20799
The output for `spack install -d chap` and the `package.py` files are attached.

[package.py.txt](https://github.com/spack/spack/files/5808466/package.py.txt)
[spack-chap.out.txt](https://github.com/spack/spack/files/5808467/spack-chap.out.txt)

[2021-01-13 16:00] mdorier commented on #20834
I have solved my problem by completely wiping out my spack installation as well as my .spack folder; I also moved from zsh to bash (not sure if that matters but maybe a zsh or bash configuration file on Theta is doing something different with respect to setting up modules and paths). I'll close the issue but leave it for reference, in case someone stumbled on the same problem. I still have no idea

[2021-01-13 16:00] #20834 closed, assigned to nobody

[2021-01-13 16:16] AEI-SXSmirror opened #20837 "Installation issue: "julia" does not build with gcc@10.2.0"
### Steps to reproduce the issue

[code]
also `spack install julia`, `spack install julia@1.4.0` etc.

### Information on your system

Tested on both `linux-debian9-x86_64` and `linux-centos7-haswell`.
[code]

Compiler gcc@10.2.0 built with itself (bootstrapped from system-provided gcc). Python 3.8.7 available within SPACK.

### Additional information

Error messages varying, perhaps due to unavai

[2021-01-13 16:58] nabw commented on #19291
Hi, don't know if it helps but for me this works:

`spack install dealii@9.2.0~ginkgo %gcc@8.4.0 ^trilinos@12.14.1~netcdf~exodus ^petsc+hypre+mumps+superlu-dist ^suite-sparse@5.2.0 ^boost@1.72.0`

so maybe check the defaults for dealii PETSc and compare it with the one you have? You can check the required libraries by changing in the previous line 'install' to 'spec' as you did, instead check your

[2021-01-13 17:24] AEI-SXSmirror commented on #20837
Addition: following #15206 and prefixing the `spack install` command with `LC_ALL=en_US.UTF-8` doesn't change the outcome. The position of the offending character is shifted though (9 to 11 in the second case).

Second addition: loading the latest Python (`spack load python~debug`) following the hints in #15285, then running `LC_ALL=en_US.UTF-8 spack install julia@master [arch=...]` , as suggested

[2021-01-13 18:54] adamjstewart commented on #20799
The reported line number if wrong, to fix your bug:
[code]

[2021-01-13 18:58] adamjstewart commented on #20833
Maybe it depends on `pkgconfig` instead of `ruby-pkg-config`? Maybe `ruby-pkg-config` depends on `pkgconfig`?

[2021-01-14 12:45] gipert opened #20903 "Hangs on install"
Spack install (any package) step hangs on my remote machine, I cannot even terminate it with SIGINT. Since I know the disk is slow, I let it work for a lot of time, but now I suspect it's hung forever. Any suggestion on how to further debug this?

### Steps to reproduce the issue

[code]

### Information on your system

[code]

### Additional information

- [x] I have run `spack debug report` and

[2021-01-14 13:06] meuer opened #20904 ""stornext" file system : too long file names lead to installation failures"
I tried to install a long list of dependent software on a cluster with CentOS7 using spack 0.16.0.

1. The installation functions on a single Ubuntu-18.04 standalone system.
2. I tried to install on the home directory partition, which is located on an external StorNext filesystem. Even though the concretization was completed successfully, the installation exited after hours of installing most of t

[2021-01-14 16:09] thomasbrTTU commented on #20799
Made the change but it is now throwing a different error. Attached the debug output. How do you know what cmake flags for locating libraries, cmakes and include directories?
[spack-chap-2.txt](https://github.com/spack/spack/files/5815551/spack-chap-2.txt)

[2021-01-14 17:05] adamjstewart commented on #20799
You may need to set the CMake flags for BLAS/LAPACK.

[2021-01-14 19:12] germasch commented on #20745
Thanks, you're right, it's a documented limitation (I hadn't seen that), not a bug. Nevertheless it is a hurdle to getting started with spack, in particular for people who can't make sense of the ensuing errors when afterwards trying to install dependent packages with spack.

I just hit the same issue again with openssl -- `spack external find` found the Ubuntu 20.04 openssl (with the wrong prefix

[2021-01-15 05:06] adamjstewart commented on #14130
FWIW, I wrote a simple PCL package in #20933

[2021-01-15 07:22] healther commented on #19905
It turns out some of this may have been due to an update of XCode. I'm uncertain whether I should have expected spack to pick that up or whether I should have manually cleaned and reinstalled. After doing essentially a `git clean -dfx` most everything builds fine. `py-scikit-image` is the only hold-out for me and since I got `py-scikit-learn` to work, this should also be possible, but blind monkey

[2021-01-15 08:39] alalazo commented on #20903
Does it help to run Spack with filesystem locks disabled:
[code]
? Note that this mode of operation is unsafe and suitable only if you can ensure that a single Spack process is running at a given time.

[2021-01-15 08:47] #19877 closed, assigned to adamjstewart

[2021-01-15 11:21] gipert commented on #20903
Now it works, indeed. Is it there a permanent workaround for this? Also e.g. `. setup-env.sh` hangs.

[2021-01-15 11:57] tmadlener opened #20936 "Configuration scopes not working as expected for user level config on all packages"
As stated in the documentation user level configurations should take precedence over site level configurations. I have run into slightly unexpected behavior, where I have a variant which I want to set for all my packages in my user config, and this seems to not be applied to packages which have variants defined in the site level config.

### Steps to reproduce the issue

In more concrete terms:
`~

[2021-01-15 12:00] alalazo commented on #20903
Can you check if you have lockfiles in the store you're using? For the default configuration it should be:
[code]
From what I can see here, it seems Spack cannot acquire a lock and it has no timeout on acquiring it - so I am wondering if there are permission issues in your particular setup.

[2021-01-15 13:42] gipert commented on #20903
Any issue you know on NFS filesystems? BTW:
[code]

[2021-01-15 13:54] alalazo commented on #20903
We require NFS v3 and a lock server, even though I don't see this requirement anywhere in our documentation. A similar comment is in [this old issue](https://github.com/spack/spack/issues/17460#issuecomment-658601643).

[2021-01-15 13:58] gipert commented on #20903
Oh, #17460 seems really about my very same issue, thanks. Let me try to investigate. Guess what distro the server is?

[2021-01-15 14:26] gipert commented on #20903
Easy fix: solved by copying the `.spack-db` folder to a local filesystem (e.g. `~`) and symlinking it back to its original location.

This should be somehow added to the docs, having a tiny disk quota in `~` is very common on HPC clusters. This forces the user to install spack elsewhere (frequently on exported filesystems).

Thanks!

[2021-01-15 14:26] #20903 closed, assigned to nobody

[2021-01-15 15:43] meuer commented on #20904
We have been able to localize the main problem. The file names used in the spack environment "view" are too long for the "stornext" file system.

[2021-01-15 16:37] Billae commented on #17270
Hello,

I'm new with spack and I also have these build errors when I want to install Qt5.14.2 in order to build paraview 5.9.
Personally, I had this problem because in my environment the dependency to the _mesa_ package was in buildable=false and it was actually not installed. When I change it to buildable=true, spack install _mesa_ and the the Qt build succeed.

Maybe, this will not help you at a

[2021-01-15 23:08] mlawsonca opened #20984 "PCL"
### Steps to reproduce the issue
[code]
### Information on your system
* **Spack:** 0.16.0-578-295ad5e292
* **Python:** 3.7.2
* **Platform:** linux-rhel7-power9le
* **Concretizer:** original

[code]
### Additional information
[spack-build-env.txt](https://github.com/spack/spack/files/5823320/spack-build-env.txt)
[spack-build-out.txt](https://github.com/spack/spack/files/5823321/spack-build-out.txt

[2021-01-15 23:12] adamjstewart commented on #20984
@tgamblin I'll let you handle the locking issue. I'll take a look at the build failure.

[2021-01-15 23:25] adamjstewart commented on #20984
Looks like an ICE. That's outside my area of expertise. I would contact the PCL developers: https://github.com/PointCloudLibrary/pcl/issues/new/choose

@michaelkuhn are there any known issues with using a Spack-installed GCC 10.2.0 on Power9?

[2021-01-16 01:03] mlawsonca opened #20998 "Installation issue: 3dtk"
### Steps to reproduce the issue

`$ spack -k install 3dtk cgal=true compact_octree=true ipo=true openmp=true ^/rdzugft`

[code]

### Information on your system
* **Spack:** 0.16.0-577-b73cb64ba4
* **Python:** 3.7.2
* **Platform:** linux-rhel7-power9le
* **Concretizer:** original

packages.yaml:
[code]

### General information

- [x] I have run `spack debug report` and reported the version of Spac

[2021-01-16 02:10] adamjstewart commented on #20998
The "-k being ignored" issue seems to be related to #19611 and #6708. Hopefully we can kill 3 birds with 1 stone here.

I have a feeling that there are two issues going on here. The first is that we give that unhelpful advice of using `-k` even though `-k` is already being given and clearly doesn't work. The second is that fetching is failing for some reason. I'm going to focus on fixing the secon

[2021-01-16 02:14] adamjstewart commented on #20998
Also, can you report the output of:
[code]

[2021-01-16 02:20] adamjstewart commented on #20998
I believe @mlawsonca and @kuberry (#19611) are both at Sandia, so this could be specific to a machine there.

[2021-01-16 02:25] adamjstewart commented on #20998
Also also, what's the output of:
[code]
If it fails, you can add `--verbose` to get more info.

[2021-01-16 02:45] jamesETsmith opened #20999 "Installation issue: util-linux-uuid"
Hello again!

I'm running into trouble trying to build python on a cluster I use. One of the dependencies `util-linux-uuid` is trying to install in a directory that require root permission. @adamjstewart or other spack devs, are there some flags that I can pass to get it to install somewhere else? (I have also tried this python@3.8.7 and gotten the same error).

Thanks!

### Steps to reproduce the

[2021-01-16 02:47] mlawsonca commented on #20998
`python3 -c 'import ssl'`
->No output
Confirmed my Spack installed version of python has +ssl, told the 3dtk install to use this Python and I still experienced the same build errors

`$ spack -d fetch util-linux-uuid`
[code]

`$ curl -O --verbose https://www.kernel.org/pub/linux/utils/util-linux/v2.36/util-linux-2.36.tar.gz`
[code]

[2021-01-16 02:49] adamjstewart commented on #20999
@michaelkuhn added the `util-linux-uuid` package as a fork of `util-linux` recently.

It looks like we had this same problem for the `util-linux` package. You either need to `--disable-bash-completion` or explicitly pass a `--with-bashcompletiondir` flag. I'm guessing we want the former here since `util-linux-uuid` is supposed to be just the `libuuid` bits.

I'll open an issue with this fix.

[2021-01-16 02:52] adamjstewart commented on #20999
#21000 should solve the problem for you!

[2021-01-16 02:54] adamjstewart commented on #20998
Okay, given that even `curl` can't download this file, this seems to me like it isn't a Spack problem (although we could certainly have a more useful error message).

Can you try building `curl` with Spack and adding it to your `PATH`?

[2021-01-16 02:59] mlawsonca commented on #20998
`$ spack -d install curl`
[code]

[2021-01-16 03:00] jamesETsmith commented on #20999
All set, thanks for your help!

[2021-01-16 03:00] #20999 closed, assigned to nobody

[2021-01-16 03:12] adamjstewart commented on #20998
^ fixed by #21001

[2021-01-16 03:28] adamjstewart opened #21002 "Downloads cache no longer a valid mirror?"
Previously, Spack's local downloads cache followed the simple structure:
[code]
If, for whatever reason, Spack/curl was unable to download a particular package, it was easy to download it with wget or on another system and drop it into the downloads cache. This was particularly useful for licensed software that had to be downloaded manually. However, now the downloads cache follows a hash-based st

[2021-01-16 18:48] kimjohn1 opened #21009 "Install hitch"
I'm a new user and find that after installation, I have to execute the spack  setup script:

$ . spack/share/spack/setup-env.sh

every time I open a terminal to use spack.  Is there a way to make the setup script changes permanent (Linux Mint 20.04 OS)?

KimJohn

[2021-01-16 19:16] adamjstewart commented on #21009
Yes, you can add that line to your `~/.bashrc` and it will be sourced upon startup every time you open a new terminal.

[2021-01-16 19:18] kimjohn1 commented on #21009
Adam,
Got it. Thanks!
Kim

On Sat, Jan 16, 2021, 12:16 PM Adam J. Stewart <notifications@github.com>
wrote:

[2021-01-16 19:21] adamjstewart commented on #21009
No problem, let me know if you have any other questions!

[2021-01-16 19:21] #21009 closed, assigned to nobody

[2021-01-16 19:37] adamjstewart commented on #13762
The `parmetis` URL works again, and Spack now has an official mirror in case the website goes down again. I actually think we should switch `metis` back too, see #21003.

[2021-01-16 19:37] #13762 closed

[2021-01-16 19:43] adamjstewart commented on #20789
@mohan002 want to submit a PR to fix this?

[2021-01-16 19:45] adamjstewart commented on #7399
Is this something we plan on fixing? As @scheibelp mentioned, we do need to concretize before fetching because we need to choose a default version, and we need to see whether or not patches or resources are needed. If your `compilers.yaml` is out-of-date, the easy fix is `spack compiler find`. I'm not sure if we can do anything else to prevent this issue.

[2021-01-16 19:46] adamjstewart commented on #1069
@mlawsonca I wonder if this would solve your problem.

[2021-01-16 19:47] adamjstewart commented on #1143
No response from @scheibelp so I'm guessing this is no longer an issue, reopen if I'm wrong.

[2021-01-16 19:47] #1143 closed

[2021-01-16 19:49] adamjstewart commented on #2489
This seems to be even more complex now that the downloads cache uses hashes, see #21002

[2021-01-16 19:50] adamjstewart commented on #3969
No response from @citibeth so I'm guessing the current error message is sufficient. Reopen if I'm wrong.

[2021-01-16 19:52] adamjstewart commented on #5390
Would #20767 and #15896 be useful for this? We could deprecate patch versions and remove them after some time so that we only have stable versions in the package.

[2021-01-16 20:11] adamjstewart commented on #5654
`spack install` now has a `--fail-fast` flag, can we close this issue?

[2021-01-16 20:12] adamjstewart commented on #9833
I'm guessing this issue is no longer relevant, reopen if I'm wrong.

[2021-01-16 20:12] #9833 closed

[2021-01-16 20:14] adamjstewart commented on #13646
The website is back up again. We also have an official Spack mirror now. The new GitHub download for metis is actually problematic, so we'll probably end up reverting that in #21003. Hopefully with the official Spack mirror and downloads cace this issue is less frequent.

[2021-01-16 20:14] #13646 closed

[2021-01-16 20:19] adamjstewart opened #21014 "`spack fetch` flag to disable use of downloads cache/mirrors"
I would like to see a flag added to `spack fetch` that tells Spack to ignore the downloads cache and any other mirrors.

### Rationale

Often when I'm debugging a package that another user is unable to download, I want to see if I can download it myself. Right now, when I run `spack fetch`, it either tells me that the package is already in my downloads cache, or it downloads it from https://spack-

[2021-01-16 20:22] adamjstewart commented on #14321
This release is no longer present in the `intel-mpi` package, you should use a different release. If you have problems downloading any of the other releases let me know.

[2021-01-16 20:22] #14321 closed

[2021-01-16 20:24] adamjstewart commented on #14901
Spack now has an official mirror, so users rarely access the original website unless a new version is being added. Patches are also contained in this mirror. I think it's safe to close this issue.

[2021-01-16 20:24] #14901 closed

[2021-01-16 20:26] adamjstewart commented on #15273
Duplicate of #14129

[2021-01-16 20:26] #15273 closed

[2021-01-16 20:28] adamjstewart commented on #16887
Spack now has an official downloads mirror that is used by default, so users rarely have to access sourceforge unless they are adding a new package/version. I think it's safe to close this issue, given that we have a mirror and the solution is to increase the downloads timeout.

[2021-01-16 20:28] #16887 closed, assigned to nobody

[2021-01-16 20:29] adamjstewart commented on #17243
Website is back up, and fetching from either the source mirror or the original website should work.

[2021-01-16 20:29] #17243 closed, assigned to nobody

[2021-01-16 20:30] adamjstewart commented on #17947
In the meantime, someone added a new version with the correct checksum. @darmac did you get a chance to contact the developers? @scheibelp this is for a version that downloads from a private website over http, not https.

[2021-01-16 20:31] adamjstewart commented on #18397
Closed by #17587

[2021-01-16 20:31] #18397 closed, assigned to nobody

[2021-01-16 20:33] adamjstewart commented on #19544
@hseara did you get a chance to look at this? It looks like the tarball was renamed from `Amber#` to `AmberTools#`. We also need to add version 20 for this to work.

[2021-01-17 02:32] ikitayama commented on #19871
I am reporting that a single Spack package (llvm) load described in my bash login script prevents me from logging on
to JURECA-DC login node; not only it takes time.

[2021-01-17 02:34] ikitayama commented on #19871
May I also ask @tgamblin and @becker33 to take a look at this real issue? If the work-around is just 'don't load anything
at login time, I'd follow that advice.

[2021-01-17 12:37] pramodk commented on #5654
I haven’t seen this issue recently so it’s ok to close.

[2021-01-17 12:37] #5654 closed

[2021-01-17 12:58] hseara commented on #19544
I will have a look during this week.

[2021-01-17 20:15] adamjstewart commented on #19051
@grabear did you get a chance to test this workaround?

[2021-01-17 20:45] adamjstewart commented on #8742
@kcygan can you see if this issue still exists? I just built `r@4.0.3~X` and `r@4.0.3+X` on macOS Catalina without any issues.

[2021-01-17 22:34] adamjstewart commented on #8605
@llpesce is this still an issue? @becker33 knows a lot about Cray.

[2021-01-17 22:36] adamjstewart commented on #10510
Closed by #12019, Spack now has a builtin package for `r-hdf5r`.

[2021-01-17 22:36] #10510 closed

[2021-01-17 22:53] adamjstewart commented on #19788
I believe this was fixed by #20608!

[2021-01-17 22:53] #19788 closed, assigned to nobody

[2021-01-18 01:05] darmac commented on #17947
Sorry, I think there is a mail list here:
http://www.dre.vanderbilt.edu/~schmidt/ACE-members.html
but I have no priviledge to contact them by email.

[2021-01-18 03:45] mohan002 commented on #20789
Yeah sure @adamjstewart

[2021-01-18 09:26] hseara commented on #19544
Hi all,
Please take into account the following:

- I am not related in any way to Amber of their development team.
- **Amber** is proprietary software with a very cheap and flexible license (whole departments with a single license). There are no direct download links for it. It basically provides the advanced MD engine `pmemd`.
-  **Ambertools** is free of charge, and its components are mostly rel

[2021-01-18 12:02] haampie opened #21129 "build-env fails with message about openmpi for dbcsr"
### Steps to reproduce the issue

[code]
Somehow openmpi ends up in the spec when using build-env. It shouldn't. And oddly enough it assumes I have openmpi installed with gcc@10, even though I'm trying to concretize with gcc@9.

[code]

[code]

### Information on your system
* **Spack:** 0.16.0-804-2cfe349828
* **Python:** 3.8.7
* **Platform:** linux-ubuntu20.04-zen2
* **Concretizer:** original

[2021-01-18 12:08] haampie commented on #21129
@alalazo seems like openmpi ends up as a link dependency in `set_build_environment_variables`. If I print `link_deps       = set(pkg.spec.traverse(root=False, deptype=('link')))` this is what i get:

[code]
and openmpi is in there...

also it contains many duplicate specs.

[2021-01-18 12:13] haampie commented on #21129
aargh... i got it. no white space allowed. `spack build-env dbcsr~mpi%gcc@9.3.0` works. that was a waste of time. :/

[2021-01-18 12:13] #21129 closed, assigned to alalazo

[2021-01-18 12:54] IncubatorShokuhou opened #21130 "Installation issue: perl%nvhpc"
### Steps to reproduce the issue

[code]

### Error Message

[code]

### Information on your system

* **Spack:** 0.16.0
* **Python:** 3.7.7
* **Platform:** linux-ubuntu20.04-skylake
* **Concretizer:** original

### Additional information

- [x] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [x] I have searched the issues of this repo and believe this is not a

[2021-01-18 13:00] hhoeflin opened #21131 "CentOS 8 docker container"
Currently for CentOS, the last version available is CentOS 7. As the installed toolchain is getting relatively old, I was wondering what the support plans for later versions are, e.g. CentOS 8 (and possible follow-on project after end-of-life).

Same question for Ubuntu for a Spack Docker-container for Focal Fossa.

- https://wiki.centos.org/About/Product
- https://wiki.ubuntu.com/Releases

Thanks

[2021-01-18 18:34] adamjstewart commented on #19544
@hseara this all sounds good to me. I think it's safe to use that download link in the package, although I'm not a legal person. We do something similar for the `jdk` package. In that way, it should be easy to use the newest version of AmberTools that supports the chosen version of Amber.

For the changing build system question, that's much more open-ended. See https://github.com/spack/spack/pull/

[2021-01-18 18:41] adamjstewart commented on #21130
@samcmill can you take a look at this? You added this `%nvhpc` patch in #19452, and a more recent PR changed the default version of Perl. You should check which versions of Perl your patch works for and restrict it to those versions. You may need to create a new patch for 5.32.0+ if it hasn't been patched upstream yet.

[2021-01-18 20:27] samcmill commented on #21130
Yes, I'll take a look.

[2021-01-19 02:29] IncubatorShokuhou commented on #20781
met the same build error when building with nvhpc@**20.11**

### Information on your system

* **Spack:** 0.16.0
* **Python:** 3.7.7
* **Platform:** linux-ubuntu20.04-skylake
* **Concretizer:** original

[2021-01-19 09:23] alalazo commented on #20837
@glennpj ~Pinging you as the maintainer of the package~ Apologies, diagnosis is already in the first comment (I read just the description before)

[2021-01-19 20:17] bollig commented on #18343
Created PR #21155

[2021-01-19 20:44] bollig commented on #18583
Created PR #21155 and included logic to enable Spack-managed TBB when GPU is disabled. Relion either uses GPU (+cuda) or ALTCPU (~cuda); they prefer GPU by default.

[2021-01-19 21:49] samcmill commented on #21130
There are 2 issues:
1. The current patch does not apply cleanly to 5.32.0
2. Even with the patch issues resolved, the NV compiler 20.11 has trouble with Perl 5.32.0

Unless there are objections, I will submit a PR that:
1. Restricts the current patch to 5.30.x
2. Sets a conflict for 5.32 and `%nvhpc`

As a workaround, you can use `spack install netcdf-c%nvhpc@20.11 ^perl@5.30.3`

[2021-01-20 01:24] IncubatorShokuhou commented on #21130
@samcmill It works. Thank you!

[2021-01-20 09:59] samcom12 commented on #20696
@adamjstewart  How can we create **spack-build-out.txt** and **spack-build-env.txt** I have tried with the **spack --debug install** command but it is creating **.log** files instead of **.txt** files.

[2021-01-20 16:44] jonglezb opened #21170 "Installation issue: cuda"
### Description

Installing cuda 10.1.243 fails on a POWER machine.  On the other hand, cuda 10.2.89 installation works (but I specifically need 10.1.X).

### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.16.0-873-c63f680d2a
* **Python:** 3.7.3
* **Platform:** linux-debian10-power8le
* **Concretizer:** original

### Additional information

* [spack-build-out.

[2021-01-20 17:16] mdorier opened #21172 ""Unknown namespace" after deactivating an environment"
I have a spack.yaml file describing an environment. This file contains the following lines to add a namespace:

[code]

When I deactivate the environment, I'm getting this warning:
[code]

I don't know what in the shell environment may be corrupt, or if I can safely ignore this warning, but this might be something to address.

[2021-01-20 17:19] alex--m commented on #6245
I'm getting the same "issue" as @undertherain , and I'm fairly certain it would be easy to fix (famous last words). I'll even give it a go myself.

[2021-01-20 17:21] jmellorcrummey commented on #20403
[Intel GPU Tools Feedback.pdf](https://github.com/spack/spack/files/5844109/Intel.GPU.Tools.Feedback.pdf)

[2021-01-20 18:09] opadron commented on #6245
@alex--m thanks for taking a look at this!

Keep in mind that a lot has changed in Spack over the last two years.  As I understand it, it is by design that Spack refuses to do anything when there is ambiguity in terms of which installed spec you want Spack to load (for the case where more than one matches the spec provided in the command line).

I am doubtful that a reasonable heuristic could work

[2021-01-20 19:20] adamjstewart commented on #20696
If the build fails, it will print the location of `spack-build-out.txt`. `spack-build-env.txt` is in the same directory. If the build succeeds, these files will be found in the `.spack` directory of the installation prefix.

[2021-01-20 19:22] #20552 closed, assigned to nobody

[2021-01-20 19:26] samcmill commented on #21130
Fixed in #21177

[2021-01-20 19:54] #18343 closed, assigned to alalazo

[2021-01-20 19:54] #18583 closed, assigned to nobody

[2021-01-20 20:43] #20766 closed, assigned to eugeneswalker

[2021-01-20 21:21] cyrush opened #21179 "keep package build times as part of metadata in .spack dir"
### Rationale

During a build, spack provides summary of the build times, like:

[code]
It would be great if these times were also stored along with other info (spack-build-env.txt spack-build-out.txt	spec.yaml) that is kept in the  special `.spack` dir created during the install.

This would allow folks to traverse the builds and extract this info easily after the fact.

### General information

[2021-01-20 21:29] rscohn2 commented on #20403
@jmellorcrummey Thanks for writing it all down. The tools you referenced are managed by different groups so it may take a while to sort it all out.

[2021-01-20 21:32] cyrush commented on #21179
Here is here the total time message is created:

https://github.com/spack/spack/blob/a8ccb8e116a1abfaa1d7ecb4e84f9f14ebab12ad/lib/spack/spack/installer.py#L1723

The fetch time is calced by the package class, and the total time is calced by the installer. build_process method.  Build time is inferred from total minus fetch, and isn't stored -- just printed.

The package class provides logic for wr

[2021-01-20 21:51] #21130 closed, assigned to nobody

[2021-01-21 04:41] samcom12 commented on #20696
[spack-build-env.txt](https://github.com/spack/spack/files/5846893/spack-build-env.txt)
[spack-build-out.txt](https://github.com/spack/spack/files/5846894/spack-build-out.txt)

[2021-01-21 04:46] samcom12 commented on #20696
[spack-build-env.txt](https://github.com/spack/spack/files/5846914/spack-build-env.txt)
[spack-build-out.txt](https://github.com/spack/spack/files/5846915/spack-build-out.txt)

For py-NumPy related build failure

[2021-01-21 04:51] adamjstewart commented on #20696
Numpy build failures seem to be related to a bug with Cython + Intel:
[code]
Same for TF:
[code]
I would contact the Cython developers to see what's wrong with the Cython + Intel build.

[2021-01-21 07:04] samcom12 commented on #20696
Also, when I see ```spec``` for ```TF``` it uses ```Bazel-3.7.2 ``` while in ```spack info bazel``` it shows versions only till ```3.7.1```

![image](https://user-images.githubusercontent.com/13285627/105315048-c9213580-5be4-11eb-9bc4-2c87b3830ed1.png)

![image](https://user-images.githubusercontent.com/13285627/105315173-f1109900-5be4-11eb-9faa-4b8b6194073e.png)

[2021-01-21 09:39] samcom12 opened #21190 "Installation issue: py-tensorflow on apollo80 with gcc"
I have tried building py-TensorFlow with GCC on the apollo80 system. but it was failing for bazel so I installed bazel manually and added same to ```packages.yaml```

[code]

### Steps to reproduce the issue

[code]

### Information on your system

spack debug report
[code]
spack arch
[code]

### Additional information

* [spack-build-env.txt](https://github.com/spack/spack/files/5848169/spack-bui

[2021-01-21 10:35] ghost commented on #20833
Thank you for your advice.

ruby-glib2 dose not depend on pkgconfig.
And ruby-pkg-config dose not depend on pkgconfig.

I changed the ruby-pkg-config to depend on pkgconfig and tried again.
However, the results didn't change.

This problem did not occur when I installed glib2 and pkg-config without use of spack.

It seems that  ruby package can not load other  ruby packages installed using spack ,

[2021-01-21 11:14] samcom12 commented on #14488
@adamjstewart I have tried both ways non-spack-bazel and spack-installed-bazel but nothing has worked for me yet.

[2021-01-21 14:27] VeronicaVidal opened #21194 "How to install WRF-Chem + KPP with spack @CentOS 7"
Hi @MichaelLaufer @ptooley,

I've installed WRF with spack following this order:
spack install gcc languages=c,c++,fortran
spack load gcc
spack compiler add
spack install python@3.6.7
spack load python
spack install wrf ^openmpi

At this moment, I had WRF installed, but as I need to use WRF-Chem+KPP, I installed flex and yacc libraries:

spack install flex
spack install yacc

And I tried to compil

[2021-01-21 14:53] MichaelLaufer commented on #21194
@VeronicaVidal
Unfortunately I do not have any experience with WRF-Chem.
I took a look at the log and it appears that the path to WRF-Chem is longer than allowed (40 characters max according to [this](https://dreambooker.site/2018/12/13/Installing-libraries-and-automating-WRF-Chem/))

@adamjstewart a few months back you mentioned a friend interested in WRF-Chem, did your friend ever install WRF-Ch

[2021-01-21 15:11] adamjstewart commented on #21194
Nope

[2021-01-21 15:23] adamjstewart commented on #14488
Hmm, the `bazelruleclassprovider-0.25.patch` patch should solve the error message you're seeing, not sure why you would see that error with Spack-installed Bazel.

[2021-01-21 15:25] adamjstewart commented on #20833
Tbh I don't know a ton about Ruby. We are setting `GEM_PATH`, which I assume is what controls how Ruby dependencies are found. Pinging @Try2Code @t-brown @marcmengel @mathstuf @DiegoMagdaleno who may know more than me about Ruby.

[2021-01-21 15:28] adamjstewart commented on #21190
As I mentioned in the other issue, Bazel is hacked using `bazelruleclassprovider-0.25.patch` to allow Spack's environment variables to propagate to the build environment. So using a non-Spack-installed Bazel doesn't work at the moment. The last time we talked to the Bazel developers they suggested writing a toolchain for Spack so that we don't need to hack anything. But I don't know much about Baz

[2021-01-21 15:32] adamjstewart commented on #20696
This is probably because you're using an externally installed Bazel. If you remove Bazel from your `packages.yaml` it should use 3.7.1. Note that it doesn't matter if the version is in the package.py if you're using an externally installed package.

[2021-01-21 15:54] cwsmith commented on #18477
From my limited experience/testing, both of these issues are resolved with v0.16.0 (and possibly in earlier versions).

[2021-01-21 16:07] VeronicaVidal commented on #21194
If the part of the path controlled by spack is more than 85 characters, ~/spack/opt/spack/linux-centos7-zen/gcc-10.2.0/wrf-4.2-e2z3fyxjv5u2zcejrkpfcextji2ggl52/...  it is not possible to compile kpp with spack then, or maybe there is a way to shorten the part of spack path?

[2021-01-21 16:40] adamjstewart commented on #21194
Unfortunately there isn't an easy way to shorten the Spack path. We've had problems with this in the past due to shebang line-length limits, but we wrote a tool called [sbang](https://github.com/spack/sbang) to deal with this. Where does the 40 character limit come from? Could we patch that out?

[2021-01-21 17:00] lpoirel opened #21197 "Enable spack install petsc +mkl_pardiso"
spack installed petsc cannot use the mkl_pardiso solver

### Rationale

It would be awesome to be able to use mkl_pardiso from petsc, as installed by spack

### Description

As shown in https://gitlab.com/petsc/petsc/-/blob/master/config/examples/arch-ci-linux-intel-mkl-single.py, it should be possible to configure petsc to use mkl_pardiso

### General information

- [ ] I have run `spack --versio

[2021-01-21 17:17] jackpap opened #21198 "Installation issue: paraview@5.8.1"
### Steps to reproduce the issue

[code]
### Information on your system

* **Spack:** 0.16.0-860-89b9d07ef
* **Python:** 3.6.12
* **Platform:** linux-opensuse_leap15-skylake
* **Concretizer:** original

### Additional information

VTK/Rendering/OpenGL2/../../../lib64/../lib64/libvtkIO-pv5.8.so.1: undefined reference to `pugi::xml_node::next_sibling() const'

@chuckatkins @danlipsa @vicentebolea
[s

[2021-01-21 17:20] vicentebolea commented on #21198
Thanks @jackpap for the ticket, the Paraview team will have a look at this right away.

[2021-01-21 17:51] jonglezb commented on #21170
It works fine when running the cuda installer without `--installpath`, which defaults to `/usr/local/cuda-10.1/` (but this is useless for Spack of course)

There is a discussion about this issue here: https://forums.developer.nvidia.com/t/cuda-10-1-243-10-1-update-2-ppc64le-run-file-installation-issue/82433/8

Here is the workaround from the above link:
[code]

I tested it and it works. The `x86_6

[2021-01-21 20:32] adamjstewart commented on #21197
@balay @BarrySmith @jedbrown are our `petsc` package maintainers, maybe they can add this feature. PRs are always welcome!

[2021-01-21 21:17] aweits commented on #21190
Can we have a look at the bazel build failure? If we get that straightened out things should be *much* easier to address.

[2021-01-21 21:46] lpoirel commented on #21197
I'll be happy to help :-)
Should I simply add
    '--with-mkl_pardiso-dir={path}'
    '--with-mkl_cpardiso-dir={path}'
path being the intel-mkl spec prefix, as suggested by the following link?  https://gitlab.com/petsc/petsc/-/blob/master/config/examples/arch-ci-linux-intel-mkl-single.py

[2021-01-21 21:56] balay commented on #21197
Thanks for checking on this.

yes - adding -`-with-mkl_pardiso-dir` should work. Also you might have to add the dependency on `intel-mkl`. [which I think should automatically conflict with any other blas/lapack - i.e openblas or netlib-lapack]

[2021-01-21 23:06] adamjstewart commented on #21197
I assume we'll want to make a variant for this. Spack's [Packaging Guide](https://spack.readthedocs.io/en/latest/packaging_guide.html) may be useful documentation if you are new to writing package recipes.

[2021-01-21 23:08] adamjstewart commented on #21190
Please do. The school semester is about to start for me, so I definitely won't have time to look into this in the next few months, but I would be willing to test a PR that does Spack + Bazel the right way.

[2021-01-22 03:02] lindstro opened #21210 "`spack style` is not a recognized command"
Reading the [contribution guide](https://spack.readthedocs.io/en/latest/contribution_guide.html#style-tests), I'm trying to style check my package before submitting a PR, but `spack style` fails with the error

[code]

[2021-01-22 04:41] #20590 closed, assigned to nobody

[2021-01-22 05:38] mwkrentel commented on #20424
I was about to report this as a separate bug, but then a search for boost turned this up.

I believe the real problem is the setup_dependent_package method introduced in PR #20198.
If you delete the setup_dependent_package method, then it works.

I suggest you change the subject to something like:  'setup_dependent_package
from pr #20198 breaks boost <= 1.69.0'

----------

Here is the bug report

[2021-01-22 07:17] samcom12 opened #21214 "Installation issue: Abinit on apollo80 system with gcc@8.1.0"
### Steps to reproduce the issue

[code]
[code]

[spack-build-env.txt](https://github.com/spack/spack/files/5854098/spack-build-env.txt)
[spack-build-out.txt](https://github.com/spack/spack/files/5854099/spack-build-out.txt)

### Information on your system

### Additional information

* [spack-build-out.txt]()
* [spack-build-env.txt]()

### General information

- [X] I have run `spack debug report

[2021-01-22 10:24] VeronicaVidal commented on #21194
@adamjstewart This 40 character limit comes from chem/KPP/compile_wkc
Concretely, the lines are,
   if (  `echo $WRFC_ROOT | awk '{print ( length ( $1 ) > 40 ) }' `) then
   echo WARNING: If kpp fails here the path to WRF-Chem might be too long for yacc ...
   endif

[2021-01-22 10:33] alalazo opened #21215 "ASP solver: two unit tests failing on MacOS"
Running the unit test suite reports two failures, both related to pickling objects, when testing with the new concretizer. The errors do not occur with the original concretizer.

### Steps to reproduce the issue
Setup `clingo` to be able to test the new concretizer. Then:
[code]

### Error Message

The error message is the following:

<details>

<summary>SPACK_TEST_SOLVER=clingo spack unit-test ..

[2021-01-22 10:37] alalazo commented on #21215
These errors have been unnoticed since we don't test the new ASP based solver with MacOS, mainly due to the long setup time it would take for each run to install clingo (for linux we use a container with clingo pre-installed). We should probably add a CI run to cover this gap while are working on bootstrapping `clingo`.

[2021-01-22 12:48] alalazo commented on #21210
That's because the command was added at a later commit than the one you're on (the documentation you linked refers to the latest `develop` branch). I would suggest rebasing your branch, but if you can't for any reason this:

https://spack.readthedocs.io/en/v0.16.0/contribution_guide.html#flake8-tests

is the corresponding documentation for the now deprecated `spack flake8` command.

[2021-01-22 14:50] danlipsa commented on #20190
The same thing happens on Ubuntu 20.04 with the latest spack.

[2021-01-22 15:54] adamjstewart commented on #21194
Hmm, removing that line would be easy, but it sounds like this is a limitation of yacc. I wonder if this limitation still exists or if it was only true for older versions of yacc. There are also different packages that implement yacc if I recall.

[2021-01-22 16:52] lindstro commented on #21210
Thanks--that solved the problem.

[2021-01-22 16:52] #21210 closed, assigned to nobody

[2021-01-22 17:17] mwkrentel commented on #20424
Note: the version of dyninst doesn't matter.
Both @jgalarowicz and I report the same failure with current dyninst.

[2021-01-22 18:38] vicentebolea commented on #21198
@jackpap this is being resolved in the following PR: https://github.com/spack/spack/pull/21224

[2021-01-22 22:27] #21170 closed, assigned to nobody

[2021-01-22 23:39] #19277 closed, assigned to nobody

[2021-01-23 03:19] adamjstewart commented on #2015
I'm no longer able to reproduce this on develop, even with the old concretizer, so I think this issue was fixed at some point.

[2021-01-23 03:19] #2015 closed

[2021-01-23 09:35] ikitayama opened #21237 "Installation issue: openblas"
### Steps to reproduce the issue

[code]

### Information on your system

### Additional information

* [spack-build-out.txt]()
* [spack-build-env.txt]()

### General information

- [x] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [ ] I have run `spack maintainers <name-of-the-package>` and @mentioned any maintainers
- [ ] I have uploaded the build log and en

[2021-01-23 09:36] ikitayama commented on #21237
[code]

[2021-01-23 09:37] ikitayama commented on #21237
Here's my ~/.spack/packages.yml

[code]

[2021-01-23 09:37] ikitayama commented on #21237
Finally this failure seems to be blocking build of `nest`

[2021-01-23 15:20] ravil-mobile opened #21242 "Add a better error message when `container:os_packages:command` is needed"
I ran `spack containerize` to generate a Dockerfile with custom build and final  images in order to try it out.

### Steps to reproduce the issue
Here is an exaple of `spack.yaml` file:
[code]

The following lines caused the issue:
[code]
*Checked by commenting them out.*

However, everything is ok if I use official Spack Images i.e.:
[code]

### Error Message

[code]

### Information on your syst

[2021-01-23 22:34] lpoirel opened #21246 "Installation issue: petsc tests error"
### Steps to reproduce the issue

[code]

Since version 3.13, the path is src/ksp/ksp/tutorials instead of src/ksp/ksp/examples/tutorials

A separate issue is that when using intel-mpi, mpirun is not found in `join_path(spec['mpi'].prefix.bin` , and I cannot therefore quickly test a fix for this issue

### Additional information

@balay @BarrySmith @jedbrown
### General information

- [x] I have r

[2021-01-24 23:08] omsai opened #21249 "Installation issue: picard"
### Steps to reproduce the issue

picard doesn't automagically allow you to use newer versions than coded in `package.py` because of the need to use `version(..., expand=False)`.  Therefore a manual version bump is needed for the latest version.

[code]

### Information on your system

[code]

[code]

### General information

- [x] I have run `spack debug report` and reported the version of Spack/

[2021-01-25 07:13] #21249 closed, assigned to nobody

[2021-01-25 08:24] alalazo commented on #21242
@ravil-mobile This is a case of a non-informative error message :slightly_frowning_face: What happens is that Spack has a built-in knowledge of which package manager to use for Ubuntu or CentOS, but is not able to guess for `nvidia`. The solution should be just a one line addition to the configuration:
[code]
Let me know if that solves your problem. In any case I'd leave this issue open as a remin

[2021-01-25 12:54] matz-e commented on #18606
Similar issue here, and filling `modules` did not help.

I fixed this by specifying the environment modifications directly (I used a full path for the module before, and it did not seem to have an effect on Spack):
[code]

[2021-01-25 13:18] alalazo commented on #21198
Fixed in #21224

[2021-01-25 13:18] #21198 closed, assigned to nobody

[2021-01-25 14:14] dev-zero commented on #18606
@matz-e the `modules` must match what `modules avail` gives you for the compiler (in my case it was something like `['intel-parallel-studio-cluster.2020.2-intel-19.1.2.254-jzepir2']`), Spack does not report when it couldn't load the module, but simply continues without it.

[2021-01-25 14:21] ravil-mobile commented on #21242
Hi, thanks a lot. It works! *command* clause is actually logical. Maybe it will be a good idea to add this case to the documentation?

Btw, as far as I can remember, you implemented this feature i.e., "Custom Images Provided by Users". So, you would like to thank you very much. It is really what I was looking for!

[2021-01-25 14:22] srekolam commented on #19340
the llvm-amdgpu package is now updated with GCC_INSTALL_PREFIX. Can you let me know if this is still seen ?

[2021-01-25 14:23] matz-e commented on #18606
@dev-zero I'm aware of that — with our old environment modules installation, all failures are silent. I tried it with our regular module names, to no avail (may also be that we modify the `MODULEPATH` with some broader scope modules, we first load a `unstable` or `archive` module to get access to Intel et al)

I'm also on the `v0.16` stable branch, not sure if there were any recent fixes

[2021-01-25 14:43] dev-zero commented on #18606
@matz-e here's a patch which will make Spack check whether the module is available prior to loading: https://github.com/dev-zero/spack/commit/35101e8ce24c54bbfd9d8419aebe01adb11937a4.patch
If it can't be found it will error out. I installed the Intel compiler via Spack and I also have to activate the module system managed by Spack before it is able to load the compiler by running `source .../setup

[2021-01-25 15:15] zimaaaaa opened #21254 "Installation issue: lz4"
Hello!

Trying to install one program, I've got stuck with the installation of lz4 package

Input:
` spack install lz4 %gcc@7.3.0`

Output:
[code]
As I know, warning is not the cause of this issue, it's just informing me that cascadelake architecture is not supported by gcc@7.3.0.

All the best,
zimaaaaa

[2021-01-25 15:40] alalazo commented on #21242
@ravil-mobile Thanks, glad to know that the feature is useful! In case you are interested we have a few extensions planned, which are being discussed here: https://github.com/spack/spack/discussions/20442

[2021-01-25 16:17] msimberg commented on #19340
I just successfully built `rocm-device-libs`. Thanks for the fix! This can be closed on my part at least.

[2021-01-25 16:20] rscohn2 commented on #20403
@scheibelp @frankwillmore
There is an update release for the compilers. The intel-oneapi-compilers package uses intel hpckit package for install because it has both compilers. This update is not distributed as part of hpckit so would require using the standalones, which requires 2 separate downloads with a lot of duplication that will make the total download size 2+ gig instead of 1.2. HPCKit has

[2021-01-25 16:36] srekolam commented on #19340
Thanks for confirming!!
@haampie  , can we close this issue ?

[2021-01-25 16:38] #19340 closed, assigned to nobody

[2021-01-25 17:03] jonglezb opened #21260 "Installation issue: mxnet"
Building mxnet with CUDA fails

### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.16.0-950-bfa480d87d
* **Python:** 3.7.3
* **Platform:** linux-debian10-skylake_avx512
* **Concretizer:** original

### Additional information

* [spack-build-out.txt](https://github.com/spack/spack/files/5868153/spack-build-out.txt)
* [spack-build-env.txt](https://github.com/spa

[2021-01-25 17:07] jonglezb commented on #21260
Looking at the package, I don't see how it could possibly work:

- we define `CUDNN_PATH` but it's not used anywhere in the mxnet source
- we have a local patch, `makefile.patch`, that (among other things) adds support for `CUDNN_PATH` in mxnet's build system
- but this local path is only applied to versions `@0.10:0.11`
- I tried to remove the version constraint but the patch no longer applies on

[2021-01-25 18:37] jonglezb commented on #21260
Quick & dirty patch for mxnet 1.6.0:

[code]

[2021-01-25 18:39] jonglezb commented on #21170
For reference, it turns out that using x86_64-linux is not ideal, because headers will be both in `targets/ppc64le-linux/include/` (all headers) and `targets/x86_64-linux/include/` (only a few headers).

The workaround also works when pre-creating `targets/ppc64le-linux/include/` instead, so it's a much cleaner solution.

This is the approach I took in #21200 (I just forgot to mention that here)

[2021-01-25 18:41] pbrady opened #21261 "Installation issue: legion on macos"
### Steps to reproduce the issue

[code]

### Information on your system

[code]

### Additional information

* [spack-build-out.txt](https://github.com/spack/spack/files/5868839/spack-build-out.txt)
* [spack-build-env.txt](https://github.com/spack/spack/files/5868834/spack-build-env.txt)

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platf

[2021-01-25 19:04] marcpaterno commented on #13894
I am encountering what might be a related problem. In my case, I receive a message that says
[code]
However, the file named does not exist. I have attached the full output of the command `spack concretize -f` to this posting.

[concrete.log](https://github.com/spack/spack/files/5869025/concrete.log)

[2021-01-25 19:14] adamjstewart commented on #21260
Hi @jonglezb, thanks for the patch! Want to submit a PR to add that patch? What was the first version of mxnet to support CMake? Once #20767 is merged I can deprecate any versions that only support Makefile builds so we can switch to CMake.

[2021-01-25 19:30] ax3l commented on #13894
I found that in my case this was caused by a concretization conflict.
The error message could be clearer, though.

[2021-01-25 19:52] jonglezb commented on #21260
Hi, yes, I will send a proper patch after I finish testing! I also have other fixes to send.

CMake support seems to have been there for a long time, but it only recently became usable (from what I can tell). The [build instructions](https://mxnet.apache.org/get_started/build_from_source) recommend CMake over Makefile in mxnet 1.7.0. Looking at the history, it looks like mxnet 1.6.0 should also bu

[2021-01-25 19:56] aphecetche opened #21265 "Installation issue: default Darwin packages.yaml apple-libuuid prefix causing issues"
# The Issue

While trying to compile `py-matplotlib` on a Big Sur Mac with Apple Clang, got a bunch of errors of the kind :

[code]

After some investigation, turns out the core of the problem is that the build environment has a CommandLineTool include path in SPACK_INCLUDE_DIRS (`/Library/Developer/CommandLineTools/SDKs/MacOSX.sdk/usr/include`) while the SDK in use is the Xcode one (`/Application

[2021-01-25 20:02] adamjstewart commented on #21260
I'm happy to port to CMake, I'll deprecate 1.3.0 for now.

[2021-01-25 20:04] jonglezb commented on #21260
@adamjstewart cool!

The build-fixing PR is here: #21267

And I also have a PR adding support for cuda_arch: #21266

[2021-01-25 20:05] scheibelp commented on #20403
To make sure, are you saying you only need to do this if we choose to support out-of-cycle releases?

You are right that the general model in Spack assumes that only one tar.gz needs to be downloaded, although there is a means to add to that with the `resource` declaration: this is typically for adding optional modules to a package (generally the idea is to download "extra" files that are placed i

[2021-01-25 20:13] adamjstewart commented on #21260
Do you have any interest in helping me maintain the mxnet package? I don't actually use mxnet, I'm a PyTorch person. You don't need to be a Spack expert, it just gives us someone to ping when a user reports build issues like this or submits a PR to modify the build recipe. If so, you can add your github handle to the `maintainers` field in the package in either of your PRs.

[2021-01-25 20:22] jonglezb commented on #21260
Sorry, I don't actually use mxnet either, I'm only building it so that it's available for users of our platform: https://www.grid5000.fr/

I really can't commit to maintaining it over the long term.

[2021-01-25 20:25] joshessman-llnl commented on #21215
For what it's worth, merging #20657 would allow for the use of clingo binary wheels via `pip` which would speed up the process on OSX.

[2021-01-25 20:29] jonglezb commented on #21260
@adamjstewart while we're at it, could you also have a look at #21256 ? It's a dependency of mxnet and it fixes a build failure on ppc64le.

[2021-01-25 21:04] #19767 closed, assigned to nobody

[2021-01-25 21:04] adamjstewart commented on #21265
I'm no XCode expert, but I think your solution is the way to go. That directory exists on my system as well, so it's not specific to Big Sur. The only potential issue we may face is for users who have the XCode CommandLineTools installed but not the full XCode suite. Can you submit a PR to make your suggested change? This is a new feature anyway, so if it breaks things for anyone it's easy to fix.

[2021-01-25 21:09] #21260 closed, assigned to nobody

[2021-01-25 21:43] rscohn2 commented on #20403
We only need this to support out of cycle releases.

The C compilers and fortran compilers come in separate packages. You have to download and run the installers. There is no interaction between the 2 installers.

[2021-01-25 22:17] scheibelp commented on #20403
In that case, regarding:

I think it's fine to skip them unless you think users would depend on the functionality provided.

If it becomes important to add out-of-cycle releases, I think it might make sense to treat the Fortran/C components as separate packages (this should work fine with both old and new-style compiler detection in Spack).

[2021-01-25 22:36] rscohn2 commented on #20403
Separate package would make it simpler. I will wait until there is a request or we know something critical is in the package.

[2021-01-25 22:38] kurtsansom opened #21277 "How to use conda within spack"
### Steps to reproduce the issue

[code]
move the contents added to the .bashrc file and put them in a different file
i.e.  ~/.bash_conda

modify alias to be able to load the .bashrc file
e.g. alias goconda="source ~/.bash_conda"

try to create a conda environment
[code]
error message:
`-bash: /home/krs/tools/spack/var/spack/environments/test/.spack-env/view/bin/conda: /home/krs/tools/spack/opt/sp

[2021-01-25 22:42] SteVwonder opened #21278 "Installation issue: mvapich2"
Build error when installing `mvapich2` on a Cray XC system.  It looks like a `-l` was inserted into a link line with a missing/empty library name.

### Steps to reproduce the issue

[code]

### Information on your system

[code]

relevant bit from the compilers.yaml:
[code]

[code]

### Additional information

* [spack-build-out.txt](https://github.com/spack/spack/files/5870086/spack-build-out.txt

[2021-01-25 22:42] jgalarowicz commented on #20424
Yes, I agree with Mark.   Doesn't matter what the version of Dyninst is.

[2021-01-25 22:47] SteVwonder commented on #21278
Looks like I'm getting the same error with `spack install mpich`.  So maybe this is a shared bug between the two packages/MPIs, or (maybe more likely) there is something weird with the programming environment that I'm using that is affecting both packages.

[2021-01-25 22:48] #21277 closed, assigned to nobody

[2021-01-25 22:49] kurtsansom commented on #21277
I was able to create an environment after uninstalling, and clearing the cache,  and reinstalling.
Not sure what I flubbed. it may be that I had two environments sharing the same thing?

I think maybe the thing **NOT** to do is `conda init`

[2021-01-25 22:54] harisubramoni commented on #21278
Hi,

Thanks for the feedback. We do not have access to a Cray system. We will try to see if we get access to it to debug the issue further.

Best,
Hari.

[2021-01-26 07:12] cosmicexplorer opened #21282 "consider a NixPackage build system"
Determine how to incorporate the nix dependency model (see https://nixos.org/guides/how-nix-works.html) into the spack dependency model (see https://github.com/spack/build-si-modeling) and determine what nix operations spack would need to run (e.g. https://nixos.org/guides/towards-reproducibility-pinning-nixpkgs.html).

### Rationale

See in-progress spack/build-si-modeling#2 -- it would be cool t

[2021-01-26 07:36] jonglezb opened #21283 "Merging a PR should keep full commit messages"
Merging a PR removes part of commit messages, it only keeps the first line.

For example:

- original commit in PR: https://github.com/spack/spack/pull/21267/commits/8f8a2a55d31e60169d9075dd1a760d4ca9fbd625
- final commit in tree: https://github.com/spack/spack/commit/7bed6a7077dcaed2b2400e2c437967124cc227ae

This is a shame because the commit message is typically relevant information that should

[2021-01-26 08:04] jonglezb opened #21284 "binutils tools should be part of Spack compiler definition"
binutils is currently taken from the system by default, even when using a compiler that lives under Spack. This is a bit strange given how important it is when building.

### Rationale

To make sure we don't depend on a particular system package, we bootstrap our Spack tree by building GCC within Spack, and we then use this Spack GCC as Spack compiler. Then, subsequent updates of our Spack tree ar

[2021-01-26 09:24] alalazo commented on #21283
Hi @jonglezb I think there's a misunderstanding:

This is not the way it works, in the sense that whoever merge the PR can edit the message when squash merging. I think this is absolutely fine and helps in keeping the `develop` branch informative when looking at commit messages. The only thing that we never do is to remove the reference to the original PR, so if more context is needed it's just a

[2021-01-26 09:31] arm7star opened #21285 "Installation issue: catalyst"
catalyst do_stage function call failed with python and python3 false as default.
some catalyst dependent packages depend on python3 and the PYTHONHOME is set to the home of the python installed by spack, so that the system python will not work.

I add the follow codes in do_stage function and it works.
        if '+python3' not in self.spec and '+python' not in self.spec:
            os.unsetenv('

[2021-01-26 09:41] haampie commented on #21283
Hm yeah, in this case the full commit message could've been used. But indeed, the reference to the PR is still there.

[2021-01-26 09:55] jonglezb commented on #21283
No hard feelings, I just wanted to make sure whether it was intentional or not.

There is indeed a link to the PR, but it's not in the git repository itself (which I often use to find stuff with git log)

Ok, I'll make sure to mention this in future PR then, thanks!

[2021-01-26 09:55] #21283 closed, assigned to nobody

[2021-01-26 15:13] matz-e commented on #18606
@dev-zero, thanks for the prod! I think I already went through all possible module name combinations, relative and absolute paths and all. I tried your patch, and our Spack seemed to just pass the test. Then I dropped into the debugger and actually noticed that the error output
[code]
is not `None` or `False`…

Furthermore, I'm running Spack from `zsh` and not `bash`. Seems like I'll have to tune

[2021-01-26 16:37] Billae commented on #19312
Hello,

I am new in Spack and I had exactly the same issue in the same context on two different machines (one on ubuntu and the other on centos). I try with gcc9.2 and libtheora1.1.1.

After investigations, here are my conclusions and my solution:
There is a problem with the Latex documentation generation, specially with the "\texttrademark" in the doc/spec/spec.tex in libtheora. I don't think the

[2021-01-26 17:14] adamjstewart commented on #21282
`nix` isn't a build system, it's a package manager, right?

[2021-01-26 19:01] um-pdavila opened #21299 "Installation issue: Building Rapidjson on power9le"
### Steps to reproduce the issue

[code]
==> Error: ProcessError: Command exited with status 2:
    'make' '-j16'
...

...

### Information on your system

$ spack debug report
* **Spack:** 0.16.0-951-3893ce8
* **Python:** 3.6.8
* **Platform:** linux-rhel7-power9le
* **Concretizer:** original
*

[2021-01-26 21:50] tepperly opened #21303 "Installation issue: mumps"
I am having trouble building MUMPS 5.3.3 with GCC 10.2.1 in the context of a build of LiDO (an optimization package that uses MFEM) on Fedora 33 Linux.

### Steps to reproduce the issue

[code]
### Information on your system

* **Spack:** 0.16.0
* **Python:** 3.9.1
* **Platform:** linux-fedora33-haswell
* **Concretizer:** original

### Additional information

* [spack-build-out.txt](https://github

[2021-01-26 21:52] tepperly commented on #21303
This issue, https://github.com/spack/spack/issues/19687, is similar, but the errors seem to be different.

[2021-01-27 01:07] Tom-python0121 opened #21307 "at-spi2-atk@2.34.2 / at-spi2-core@2.36.0:An error is reported when a self-test meson test is performed on the debian/ubuntu/suse/openeuler."
The problem is caused by at-spi2-atk@2.34.2.
1/2 droute-test OK 0.07s
2/2 atk-test FAIL 0.17s (killed by signal 5 SIGTRAP)
Command at at-spi2-core@2.36.0: ${at-spi2-core_bin_dir}/libexec/at-spi-bus-launcher & at-spi2-core_bin_dir=$(spack location -i  at-spi2-core@2.36.0)
Key log: GLib-GIO-CRITICAL **: 20:23:59.348: g_settings_schema_source_lookup: assertion 'source! = NULL' failed
(process:24530):

[2021-01-27 01:57] #21307 closed, assigned to nobody

[2021-01-27 01:59] Tom-python0121 commented on #21307
Another release.

[2021-01-27 05:02] sleak-lbl opened #21311 "Dependency on external package causes compiler preferences to be ignored"
### Steps to reproduce the issue

In my `packages.yaml` I have:

[code]

When I run `spack spec -Il clingo@master` I expect to see the intel compiler being used, since that is specified as the preferred compiler, eg:

[code]

However, I get:

[code]

If I remove the entries for cmake as an external package, I get the expected result.

### Apparent Cause

After instrumenting some of the concretizin

[2021-01-27 09:04] alalazo commented on #21311
Am I correct that this issue is only with the original concretizer and not with the ASP based concretizer? Is it by any chance it solved by #20976 (since it looks similar to that issue)?

[2021-01-27 09:47] dev-zero commented on #18606
I guess what breaks in your case is that Spack uses `bash` for running the commands but nowhere in your `.bashrc`/`.bash_profile` the `module` system is loaded (and `module` is a shell func rather than a command, hence not inherited from your shell session).

[2021-01-27 09:50] matz-e commented on #18606
I have module sourcing scattered all over my rc files (`.bashrc`, `.bash_login`, `.bash_profile`, and `.profile`, just to be redundant). But it seems like if I just call `bash -c 'module av'`, it sources neither of those files :)

See #21316 for my solution to get this working with `zsh`. I'd assume that `fish` users will have the same issue.

[2021-01-27 09:50] zimaaaaa opened #21317 "Installation issue: lz4"
Hello everybody!
Trying to install one program, I've got stucked with installation of the `lz4` package

### Steps to reproduce the issue

[code]

### Information on your system

Output of `spack debug report`
[code]

### Additional information

* [spack-build-env.txt](https://github.com/spack/spack/files/5879185/spack-build-env.txt)
* [spack-build-out.txt](https://github.com/spack/spack/files/587

[2021-01-27 09:52] zimaaaaa commented on #21254
I'm closing this issue because I've remade it with all requierments.

[2021-01-27 09:52] #21254 closed, assigned to nobody

[2021-01-27 10:12] haampie opened #21318 "mpich 3.4 doesn't build with clang 6.0.0"
### Steps to reproduce the issue

Ping @raffenet @yfguo, can you reproduce? Should we add a conflict for clang?

[code]

### Error Message

[code]

### Information on your system

    Spack: 0.16.0-997-aa8e026242
    Python: 3.8.7
    Platform: linux-ubuntu20.04-zen2
    Concretizer: clingo

### Additional information

- [x] I have run `spack debug report` and reported the version of Spack/Python/

[2021-01-27 10:41] alalazo commented on #13894
@marcpaterno That message may be a convoluted way to tell users that there are at least two configurations of `sqlite` installed in the environment and they cannot be projected at the same time into a single view.

[2021-01-27 10:55] haampie opened #21319 "Failing install return no error code without --fail-fast"
### Steps to reproduce the issue

[code]

* **Spack:** 0.16.0-997-aa8e026242
* **Python:** 3.8.7
* **Platform:** linux-ubuntu20.04-zen2
* **Concretizer:** clingo

### Additional information

- [x] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [x] I have searched the issues of this repo and believe this is not a duplicate
- [x] I have run the failing commands i

[2021-01-27 12:38] alalazo commented on #21319
Duplicate of #20510

[2021-01-27 12:39] alalazo commented on #21319
@haampie Let's keep this open nonetheless, just added the comment above to be sure to close both issues.

[2021-01-27 12:40] alalazo commented on #20774
@amd-toolchain-support

[2021-01-27 14:12] jonglezb opened #21327 "Installation issue: mxnet python runtime error"
### Description

Mxnet now builds fine, but there is a runtime error. It happens on both x86_64 and ppc64le.

### Steps to reproduce the issue

Make sure that nvidia drivers are installed (outside of spack), this is needed at runtime.

[code]

### Information on your system

* **Spack:** 0.16.0-1006-cbdf87cd28
* **Python:** 3.7.9
* **Platform:** linux-debian10-skylake_avx512
* **Concretizer:** ori

[2021-01-27 14:16] jonglezb commented on #21327
The missing symbol seems related to mshadow.

Looking at mxnet's Makefile, I'm pretty sure it does not use the mshadow package from Spack but uses a built-in version.

I tried to add the following patch to the Spack package to force using the mshadow package from Spack:
[code]

However, with this patch, I get tons of build errors, starting with:

[code]

[2021-01-27 14:17] jonglezb commented on #21327
So, I'm starting to be out of my depth here.

@adamjstewart unless you have an idea, I guess I'll give up for now and try again when you have time to convert the package to CMake.

[2021-01-27 15:46] maxim-belkin opened #21344 "`.real_version` not working as intended"
Tried to install Clingo on a Cray system (Blue Waters). Default compiler is gcc@6.3.0.

### Steps to reproduce the issue

[code]

### Error Message

Didn't do this step as I pinged @adamjstewart for help and his proposed fix (changing `.real_version` to `.version` in `lib/spack/spack/compilers/gcc.py`) solved the problem. I can execute this step without the "fix" if desired.

[code]

### Informati

[2021-01-27 16:58] adamjstewart commented on #21327
No great ideas off the top of my head. You could open an issue with the OpenCV devs, but they'll probably just tell you to use CMake instead. I might try to port things to CMake in the near future. I don't like dropping the old version without warning but I don't really know anyone else who uses this package and it seems broken as is.

[2021-01-27 17:03] adamjstewart commented on #21344
This specific error is easy to fix with imports. The bigger error is that `self.compiler.cxx14_flag` isn't working for GCC 6.3.0, which definitely supports C++14.

@becker33 I believe this logic was introduced in #18179. Can you take a look at this? @maxim-belkin and I both have access to BW so we can try making changes and testing them. We're both also on Slack if you want to discuss there.

[2021-01-27 17:05] MBlaschek opened #21350 "intel-parallel-studio composer 2017 versions"
I tried to installed intel-parallel-studio 2017.2, i followed the instructions from Documentation [Installing Intel tools within Spack (Route 2)](https://spack.readthedocs.io/en/latest/build_systems/intelpackage.html)

License file is available and another version is allready running.
By the way edit the documentation: stub needs to be replaced with nothing see Issue [#19043](https://github.com/sp

[2021-01-27 23:12] danlipsa commented on #19312
An alternate way to solve this - simply don't build the doc, as its not really needed.
https://github.com/spack/spack/pull/21360
I have not seen the alternate solution listed.

[2021-01-28 01:45] #21318 closed, assigned to nobody

[2021-01-28 02:44] adamjstewart commented on #21344
@maxim-belkin I just tried reproducing this on BW but I'm having trouble. What does your `compilers.yaml` entry look like? Mine looks like:
[code]
Can you make the following changes and share the output?
[code]
This will let us see which compiler is actually being run and what version is being reported. If you run with `spack --debug` it will give us more info. You'll have to undo the `.real_versi

[2021-01-28 06:36] yfguo commented on #21318
Let me try on our side.

[2021-01-28 06:46] Billae commented on #19312
It is also a solution, I thought it cleaner to repair the doc generation instead of avoiding it.

Eloïse

[2021-01-28 08:28] RemiLacroix-IDRIS commented on #20789
Sorry I missed this issue but this problem is fixed in 5ef2daaa4a4a0b12c8adcedf496f6b9e61e8950e.

[2021-01-28 08:34] #20789 closed, assigned to scheibelp

[2021-01-28 08:39] becker33 commented on #21344
Merged the first part of the fix. Now we just have the version discrepancy.

[2021-01-28 11:40] yellowhat opened #21374 "spack find -d does not group"
Hi,
I have notice a strange behaviour in the `spack find` command.
If I run:
[code]
As you can see the packages are grouped by the architecture/compiler making the output human readable.

Not if I add the "-d" flag:
[code]
The installed packages are not grouped anymore by architecture/compiler and makes very difficult to understand which package is build for which architecture/compiler.
Same outpu

[2021-01-28 15:56] raffenet commented on #21318
If you add `pac_cv_have_float16=no` to your configure line, it will disable `_Float16` support. That should be OK as a workaround until we solve the configure test issue.

[2021-01-28 16:07] danlipsa commented on #19312
@Billae I used your patch instead as it worked for both versions. Thanks for submitting it. I advise trying to submit it upstream - to the libtheora repo. It would be nice to not have to apply this patch for future versions. Thanks!

[2021-01-28 16:41] maxim-belkin commented on #21344
My `compilers.yaml` looks somewhat different (see the full listing below) -- it lists GCC and PGI compilers for the backend nodes (running CNL) that `spack compiler find` was able to find. So, the corresponding value for `gcc@6.3.0` is:

[code]

Then in `packages.yaml` I have:
[code]

And after the above patch I see:

[code]

Should I keep "front-end" compilers instead?

<details><summary><b><code

[2021-01-28 17:09] EthanS94 opened #21379 "Installation issue: autoconf@2.69 can't download mirror due to patch file"
### Steps to reproduce the issue

[code]

If I comment this out, it works:
https://github.com/spack/spack/blob/bf33fe48050bb3d5b0b4f25f034d013320e0db24/var/spack/repos/builtin/packages/autoconf/package.py#L23-L25

@skosukhin I am running on a machine with firewalls, and I think they may be blocking this link. I don't run into this error on a local machine.

### Information on your system

[code]

[2021-01-28 17:14] adamjstewart commented on #21374
This will be fixed by #20028

[2021-01-28 17:20] adamjstewart commented on #21327
Trying to port to CMake today, it looks like 1.3.0 actually has CMake support so I won't need to complicate the package much.

[2021-01-28 17:47] skosukhin commented on #21379
Unfortunately, I don't know how I could help here. The patch is also available via a slightly different link. You can try it:
[code]
We could add the patch directly to the Spack repo but there are many packages that download patches from various sources. So, it doesn't look like a good solution.

It is also interesting why Spack tries to download the patch although it is not for the version reques

[2021-01-28 17:54] EthanS94 commented on #21379
Thanks for looking into this! It was weird to me too that it tries to download the patch. I would think specifying `autoconf@2.69` would avoid it, but I guess not.

That was me. I labelled as build-error, because the build failed when trying to download that patch. Maybe that's not the right label to use?

[2021-01-28 18:29] Billae commented on #19312
Thanks for PR my solution. I'm a bit new with Github and i didn't know how to do that =).

I will try to propose this solution on the libtheora github :)

Eloïse

[2021-01-28 19:21] glennpj commented on #20731
Support for png is dependent on whether R was built with the `+X` variant or not.
[code]
Interestingly enough, `+X` does not enable X11 support. It looks like the variant combinations need to be worked on a bit. The same issue applies for jpeg and tiff.

[2021-01-28 19:36] alalazo commented on #3690
@adamjstewart I have installed and:
[code]
things for a while now, mostly outside Spack environments. I never encountered this issue after #11977 Wondering if we can narrow down commonalities in the failures reported here to have a deterministic reproducer and close this issue once and for all. I'd say that it's likely that environments enters in the alchemy.

[2021-01-28 19:41] #3179 closed

[2021-01-28 19:49] adamjstewart commented on #3690
I've definitely observed this bug long before I started using environments, so I don't think that's the cause.

I haven't been able to reproduce this lately. If there's some patch I can apply or debugging messages I can report when I do encounter this that might help. Otherwise maybe we can just close until the next time someone encounters this.

[2021-01-28 19:50] adamjstewart commented on #20731
@glennpj what about #20753?

[2021-01-28 20:03] alalazo commented on #3690
The best thing would be a list of specs / series of commands that show this behaviour in a reproducible way. I don't mind keeping the issue open while a bug is lurking somewhere, and close it when we have a proper bug fix.

[2021-01-28 20:22] glennpj commented on #20731
I am not sure if building with an explicit `--with-libpng` enables PNG support without `+X`. I am wondering if something like the following might be sufficient:
[code]

[2021-01-28 20:23] glennpj commented on #20731
By the way, `libpng` is currently in the spec for `r` but it would be best to make that explicit.

[2021-01-28 21:10] adamjstewart commented on #3690
Yeah, I have no idea how to reproduce.

[2021-01-28 23:37] glennpj commented on #20731
Okay; I just tested #20753. As I suspected, getting png support requires that R be built with `+X`. I think rather than create variants for the graphics formats we just make them part of the build with `+X` as in https://github.com/spack/spack/issues/20731#issuecomment-769360070.

[2021-01-29 00:06] maxim-belkin commented on #21344
I'm going to close this issue because the "UnsupportedCompilerError" problem has been fixed and it's likely that the other discrepancy is due to the (Cray) compiler I use.