[2022-10-26 05:13] eugeneswalker commented on #30483
Yes, I can try.

Here's what happens when I try building `mfem +rocm` w/ PR#33480, using spack-built ROCm components.
[code]

[2022-10-26 05:20] eugeneswalker commented on #30483
Interestingly, making `hipsparse` an explicit dependency doesn't add `hipsparse`'s include path. Once I make `hipsparse` an explicit dependency, I still see lines like this that give the error above:
[code]

Simply adding the following is enough. I figured Spack would set this up automatically when `hipsparse` was added as an explicit dependency...
[code]

[2022-10-26 05:29] eugeneswalker commented on #30483
Here are the full logs. I can upload more if I missed any that would help.
[spack-build-env.txt](https://github.com/spack/spack/files/9866435/spack-build-env.txt)
[spack-build-out.txt](https://github.com/spack/spack/files/9866436/spack-build-out.txt)
[spack-build-01-configure-out.txt](https://github.com/spack/spack/files/9866437/spack-build-01-configure-out.txt)

[2022-10-26 06:24] eugeneswalker commented on #30483
I was able to get it to find `hipsparse` include directory like this:
* https://github.com/eugeneswalker/spack/commit/d2da57a34a72c4bb09d5fabbdfc9a3367260a272

Maybe not the best way to go about it? What do you think?

[2022-10-26 10:05] emilioj commented on #32520
Hi there!

Regarding my 'not found hwloc_topology_init symbol in libhwloc.so' (libhwloc.so), I've checked that the "problem' seems this cmake flag:

`CMAKE_REQUIRED_FLAGS: -nostdlib++`

Setting that flag before calling the `check_library_exists()` function in `openmp/runtime/cmake/config-ix.cmake` produces this:

[code]

whereas removing the flag results in the expected result:

[code]

Is it norm

[2022-10-26 11:18] haampie commented on #32520
Sounds like an issue to raise upstream

[2022-10-26 14:32] balay commented on #32559
Add ref: https://github.com/spack/spack/pull/33505

[2022-10-26 14:47] v-dobrev commented on #30483
@eugeneswalker, thank you for testing! I pushed a small tweak to #33480 that should resolve the `hipsparse` include path issue. Can you test it, if you don't mind?

[2022-10-26 14:53] psakievich commented on #33318
Pinging @tgamblin @haampie and @adamjstewart based on the git history since there is no maintainer for this package.
I've noticed this too and it is really annoying.  Since curl is a dependency of so many things I think we should fix this soon and not let it linger. EDIT: Simple fix. see associated PR

[2022-10-26 14:58] hpcnpatel opened #33528 "Spack installs libraries in $PREFIX/lib64 instead of $PREFIX/lib for all AutotoolsPackages"
### Error description

When I install any **AutotoolsPackage**  packages, Spack installs libraries in the **$PREFIX/lib** on one system (1) and on the other system (2), I get all installed libraries in the **$PREFIX/lib64**.

Hence $PREFIX/libdir is different on two different systems.

=========================================================
System 1 info:

* **Spack:** 0.17.1
* **Python:** 3.6.1

[2022-10-26 15:02] hpcnpatel commented on #33528
For the reference: #10842, #17556, https://github.com/spack/spack/pull/18190

[2022-10-26 16:23] eugeneswalker commented on #30483
That did it! Thank you!

[2022-10-26 16:38] v-dobrev commented on #30483
Excellent! Thanks for testing!

[2022-10-26 18:44] anselmic commented on #28188
Hello,

I have a similar problem with version 0.19.0.dev0 when installing py-numpy:

[code]

It is not clear from the previous discussion if there is a workaround.
Thanks

[2022-10-26 19:54] haampie commented on #12736
Lol, this was also fixed with 30738?

[2022-10-26 19:56] alalazo commented on #12736
Yes, in a sense. Now `run_after` and `run_before` have a `when=` argument.

[2022-10-27 05:21] vsoch opened #33544 "Package missing attribute legacy_buildsystem"
Hi there! We do nightly builds for all of the flux packages, and flux-pmix just failed:

https://github.com/flux-framework/spack/actions/runs/3334569875/jobs/5517664275

With:

[code]

I believe as (possibly) a result of this large changeset?

https://github.com/spack/spack/pull/30738/files#diff-a84edde530c6ead1a43248bba686526c1a19670976147ec8638a20d3adb47bbd

Could you please let us know how to b

[2022-10-27 07:16] KangmingYang2008 commented on #23964
If gtkdocize isn't installed, it will fail. And it can be ignored by exporting GTKDOCIZE=echo.

[2022-10-27 07:42] haampie opened #33547 "Spack install race conditions"
There are still multiple races when firing up multiple `spack install` processes:

## sbang

[code]

## Provider cache hang

[code]

[2022-10-27 08:29] jbigot opened #33548 "Installation issue: llvm (with +llvm_dylib +link_llvm_dylib)"
### Steps to reproduce the issue

[code]

### Error message

The full error message is too long for github with similar errror repeated due to parallel build, I reduce its length here

[code]
<details><summary>Error message</summary><pre>
==> Installing llvm-15.0.2-bek2ylxhcoa4drh3ds5egizxmsyu6g4m
==> No binary for llvm-15.0.2-bek2ylxhcoa4drh3ds5egizxmsyu6g4m found: installing from source
==> Fetc

[2022-10-27 08:53] adamryczkowski commented on #33440
No wonder Perl couldn't find the module - all the @INC the whole prefix `/home/aryczkowski/spack/opt/spack/linux-centos7-haswell/gcc-4.8.5/perl-5.34.1-ojqfu5awixzn5mo7meg6kz5jg5pma3qi` is an empty directory. The modules are stored in the `/tmp` subfolder.

Setting the `PERL5LIB` does not help, because Spack overrides this environment variable.

What can I do?

[2022-10-27 09:17] alalazo commented on #33544
Should be fixed in the linked PR. Feel free to ping or assign me for anything related to #30738

[2022-10-27 09:18] alalazo commented on #33544
Also, are you installing from ~binaries~ concrete specs that have been generated before #30738, right?[^1]

[^1]: This bug is triggered when reading old concrete specs that don't have the `build_system` variant, which seems not what people want in CI - so that's why I am asking.

[2022-10-27 09:44] alalazo commented on #33544
Ok, found it. If I understand correctly this workflow is restoring an old cache:
![Screenshot from 2022-10-27 11-36-30](https://user-images.githubusercontent.com/4199709/198249523-54dcc924-e497-4748-809a-bdbd67997435.png)

The bug should be fixed by the corresponding PR. I just want to point out, in case this is not intentional, that the flux workflow seems not to be testing the latest develop - b

[2022-10-27 10:42] vsoch commented on #33544
Sort of? We actually _do_ target upstream spack develop: https://github.com/sciworks/spack-updater/blob/5bef4d6611e2c63fe31ae33516adaa274eca8f10/scripts/update_package.py#L48-L53  and you can see that at the top:

![image](https://user-images.githubusercontent.com/814322/198262998-43576247-4d36-4110-bb53-fcec03d2e16e.png)

but we use a cache for packages, which hugely speeds up the install:

https

[2022-10-27 10:54] alalazo commented on #33544
Spack is trying to get information from the build system of `lua-luaposix` in case it wants to influence the build environment of `flux-core`. Then `lua-luaposix` fails due to the bug solved in #33551. Spack requires that attribute because `lua-luaposix` wasn't rebuilt after #30738, so we have to guess its build system.

[2022-10-27 10:55] vsoch commented on #33544
Gotcha! So this should be fixed by your PR?

[2022-10-27 10:55] alalazo commented on #33544
And thanks for reporting the bug!

[2022-10-27 10:56] alalazo commented on #33544
Yes, this was essentially an oversight over 7k lines :laughing:

[2022-10-27 11:11] vsoch commented on #33544
Don't worry @alalazo you're amazing in the work you do for spack, tiny bugs are totally expected! We have this workflow for exactly that reason and I'm always happy to report and help figure them out. <3

[2022-10-27 12:17] #33544 closed, assigned to alalazo

[2022-10-27 14:58] alalazo commented on #28188
You can install a new openblas that has the variant. Also, the fix to this is to use `get` instead of direct access if we want backward compatibility of recipes for `spec['openblas'].libs`

[2022-10-27 15:33] #33318 closed, assigned to nobody

[2022-10-27 18:17] rblake-llnl opened #33571 "Installation issue: hip : can't find can't find rocm install location when installed external"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
==> Installing umpire-2022.03.1-ju6g34zh7u3hi6aq37stuthflm6g5koa
==> No binary for umpire-2022.03.1-ju6g34zh7u3hi6aq37stuthflm6g5koa found: installing from source
==> Using cached archive: /usr/WS2/blake14/spack/0.18/var/spack/cache/_source-cache/git//LLNL/Umpire.git/v2022.03.1.tar.gz
==> Wa

[2022-10-27 18:30] rblake-llnl opened #33572 "spack mark -a should work differently in an environment"
### Summary

By default, `spack mark -a` will mark all installed packages in spack whether or not you have an environment active.

It'd make more sense for me (and be more useful) if `spack mark -a` was environment aware and only marked installed packages within that environment.

### Rationale

I was trying to find an easy way to remove all the packages from an environment and rebuild/reinstall t

[2022-10-27 20:04] adamjstewart commented on #32435
@ax3l can you take a look at this? Another user reported the same build issue in a different PR.

[2022-10-27 21:32] tldahlgren commented on #31387
I tried this example on an LLNL machine but with only 8 jobs using #33391 and keep getting 6 of those errors reported and the installation fails.  I get this starting with clean environments, etc. (I added a `clean` rule to the `Makefile` to remove `.spack-env store spack.lock env-*`).  My timeout settings are:

[code]

Performing the same process under develop (`0.19.0.dev0 (600948558d9ca6e3fab95

[2022-10-27 21:34] eugeneswalker commented on #33572
This would be useful for my work as well.

[2022-10-28 03:07] ye-luo commented on #33371
@rscohn2 It seems that #33378 is closed. Have you prepared the two split PRs you mentioned?

[2022-10-28 05:01] vsoch commented on #33544
Just wanted to follow up everything is green :green_apple: and working tonight - hooray! Thanks again :green_heart:

https://github.com/flux-framework/spack/actions/runs/3342865881

[2022-10-28 12:28] rscohn2 commented on #33371
I completed 1 or the 2 PR's, but it is not the one you want. I am trying to do a single PR that provides all of the MKL library support including OMP/TBB parallelism and matches the intel-mkl behavior that enables scalapack. Too much has changed for me to be able to copy the old code. I hope to finish early next week.

[2022-10-28 14:36] cosmicexplorer commented on #33020
Hm, that's very interesting! I think I will try to add `ver('1.0') in ver('1:1a')` as an example in the doc changes of #24025!

[2022-10-28 16:04] #33119 closed, assigned to nobody

[2022-10-28 16:07] mkstoyanov commented on #31702
The fix was merged in https://github.com/spack/spack/pull/33536

[2022-10-28 16:07] #31702 closed, assigned to nobody

[2022-10-29 20:22] #30483 closed, assigned to nobody

[2022-10-30 03:41] vsoch opened #33606 "Copy view still not working"
I can't find my issue from before, but the view with a copy still doesn't work - I get this:

[code]
ping @haampie - I think you'll remember the context (and you wrote most of the code here). I had originally opened the issue for Flux, and we never could update the view to be a copy because of this bug. Thanks!

[2022-10-30 03:43] vsoch opened #33607 "Clarification on concretizer:unify:true config option"
I try to update my config to use this setup, but both of these fail:

[code]

Is this not available yet? If so, why are we telling the user to update? :thinking:

[2022-10-30 03:44] vsoch commented on #33607
oops hit enter when I didn't mean to - figured it out sorry!

[2022-10-30 03:44] #33607 closed, assigned to nobody

[2022-10-30 10:53] haampie commented on #33606
https://github.com/spack/spack/pull/32306#issuecomment-1265248767 no clue why it did not get merged :/

[2022-10-30 23:03] pranith opened #33612 "Installation Issue: Spack installed gcc and python do not find libraries"
I am getting an error when trying to use a spack installed python instance about not being able to find the library 'intl'. However, the package 'gettext' that contains this library is installed.

$ spack find
-- linux-rhel7-broadwell / gcc@11.2.1 ---------------------------
autoconf@2.69                ca-certificates-mozilla@2022-10-11  gettext@0.21.1        libiconv@1.16      m4@1.4.19       pe

[2022-10-31 03:45] charmoniumQ opened #33613 "Installation issue: py-tomli"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
==> Waiting for py-tomli-2.0.1-ri3u2mhxtyexbcaqajaedokpzsh45ypy
==> Installing py-tomli-2.0.1-ri3u2mhxtyexbcaqajaedokpzsh45ypy
==> No binary for py-tomli-2.0.1-ri3u2mhxtyexbcaqajaedokpzsh45ypy found: installing from source
==> Error: IsADirectoryError: [Errno 21] Is a directory: '/tmp/sam/sp

[2022-10-31 16:34] scheibelp commented on #33571
There's at least a couple of approaches

1. Set `rocm_prefix` based on its location relative to some library/exe of interest
2. Further refine prefix based on spec details (if possible, more details below)
3. Record the possible prefix locations, there may be some order you can visit them such that you can use the first that exists

Regarding:

do you know if this is specific to LLNL? Likewise @eu

[2022-10-31 17:05] rblake-llnl commented on #33571
Giving more context:

This is all working within the context of an environment. In order to get things to work properly, I need to include external definitions for `hip`, `hsa-rocr-dev`, and `llvm-amdgpu`.

Ideally we could just look up the correct location in `llvm-amdgpu`, but since `hip` is marked as external `llvm-amdgpu` isn't in hip's dependency tree. This means hip needs to go spelunking in

[2022-10-31 18:35] eugeneswalker commented on #33571
I don't know. I was using OLCF Crusher's external install of ROCm 5.2.0, which looks the same as when I install ROCm 5.2.0 myself following the official instructions on AMD's website, using their installation script (not Spack). It seems like anyone following the official instructions for installing ROCm outside of Spack will get the same set of prefixes.

[2022-10-31 18:40] adamjstewart commented on #33613
It seems like the error is during staging, not building? @scheibelp and @tldahlgren prob know more about staging than I do. What's the error message when you use `spack --debug ...`?

[2022-10-31 19:53] charmoniumQ commented on #33613
I was thinking that too; wasn't sure.

[code]

[2022-10-31 19:56] charmoniumQ commented on #33613
I was thinking the `os.remove` in `lib/spack/spack/fetch_strategy.py` might be promoted to a `shutil.rmtree`. But then I get:

[code]

It seems this really should be a file.

As the issue says, this persists after a fresh `rm -rf /tmp/sam`, so it must be consistently downloading and unzipping an archive into that location.

[2022-10-31 21:21] adamjstewart commented on #33613
This section of code was most recently edited by @haampie.

Does the problem only affect py-tomli or any other packages? Can you also try `spack clean -a` and see if that helps? Maybe there's a problem with the cached download, although checksums should prevent that.

[2022-10-31 23:36] scheibelp commented on #33571
`umpire` is a `ROCmPackage`, and in that case `umpire+rocm` should have a direct dependency added to `llvm-amdgpu`.
However, if you mean in the context of `hip`, I would say no, or at least not in a robust manner (I discuss a similar case in https://github.com/spack/spack/pull/33386 and that is pending further internal discussion).

[2022-10-31 23:38] rblake-llnl commented on #33571
Yes, in the context of `hip`.  It's `hip` that isn't finding the correct version of llvm-amdgpu.

[2022-11-01 00:02] white238 opened #33629 "MPI: Unhelpful error message when no buildable MPIs are allowed and no externals match"
### Steps to reproduce

The error message that comes out of concretizing when you have no MPI's that will satisfy the virtual package leads you down the wrong path.  It would be much more helpful to have something to the extent of "Error: cannot satisfy non-buildable virtual package MPI with any given externals."

The important two parts of reproducing this is the following:

* Have a MPI external

[2022-11-01 00:05] white238 commented on #33629
Full environment file here (will need to be renamed due to file extension):

[toss3-gcc8.txt](https://github.com/spack/spack/files/9905684/toss3-gcc8.txt)

[2022-11-01 06:53] stephenmsachs commented on #33461
I can see how this makes sense if the user has populated the spack binary cache themselves. In the case described above I do not agree that this is the correct behavior. From the perspective of a user using the public binary mirror the `buildable` flag should protect previously installed software (whether through spasck or external). So, downloading from binary cache and building from source shoul

[2022-11-01 06:56] stephenmsachs commented on #33461
I propose https://github.com/spack/spack/pull/33468 to filter out packages locally defined as `buildable:false` when using the buildcache index as "reusable" in the concretizer.

[2022-11-01 07:08] alalazo commented on #33461
See discussion https://github.com/spack/spack/pull/31558#discussion_r922229604 We miss finer grained control over "reuse", I don't think we should change the current semantic without giving more options.

[2022-11-01 12:35] nono-Sang opened #33637 "Installation issue: <libuuid>"

[2022-11-01 19:24] psakievich commented on #33571
We ran into a flavor of this today.  Pinging @PaulMullowney

[2022-11-01 19:29] psakievich commented on #33571
There is another caveat in the path detection of externals for hip we discovered from this PR https://github.com/spack/spack/pull/33344

Specifically this line: https://github.com/spack/spack/blob/6b3ea9463097524dfc1b329b0cd9af6d935a02e7/var/spack/repos/builtin/packages/hip/package.py#L291

This seems like an arbitrary conditional since it is not actually checking the install paths and it broke ou

[2022-11-01 21:11] #32471 closed, assigned to scheibelp, alalazo

[2022-11-02 11:24] mdorier opened #33660 "Installation issue: Can't build a package that depends on lua"
### Steps to reproduce the issue

Since today, one of our packages that depends on Lua is failing to build, with spack reporting an error related to the Lua package.

Note: you need the "mochi" namespace, from here: https://github.com/mochi-hpc/mochi-spack-packages

[code]

### Error message

<details><summary>Error message</summary><pre>
...
==> Installing lua-5.4.4-bngbxqdowdgxoy4v5utzc6rw5fk3aq

[2022-11-02 13:57] stephenmsachs commented on #33461
OK, then how about adding another boolean `downloadable` or `binary_cache`? It's kind of clunky but would fullfill the purpose.

[2022-11-02 16:43] #29653 closed, assigned to RikkiButler20

[2022-11-02 21:20] luke-dt opened #33674 "Installation issue: krb5"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
==> Installing krb5-1.19.3-4bwqckllkm2dcucxjokmvbb7ofmneame
==> No binary for krb5-1.19.3-4bwqckllkm2dcucxjokmvbb7ofmneame found: installing from source
==> Using cached archive: /Users/luke/Documents/GitHub/dantaslab/spack/var/spack/cache/_source-cache/archive/56/56d04863cfddc9d9eb7af17556e

[2022-11-02 22:25] tldahlgren commented on #33313
There's precedent for using `-n` and `--name` as options (see `spack create` and `spack module`).

[2022-11-02 23:20] beromer commented on #33674
I have the exact same error message from ncurses (via spack install gcc@11.3.0) on a freshly imaged Redhat 8 system.  Are there any known workarounds?

[2022-11-02 23:25] jordialcaraz opened #33680 "Installation issue: ncurses"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
==> Error: AttributeError: 'str' object has no attribute 'propagate'

The 'ncurses' package cannot find an attribute while trying to build from sources. This might be due to a change in Spack's package format to support multiple build-systems for a single package. You can fix this by updatin

[2022-11-03 03:00] v-dobrev opened #33684 "Build issue in PETSc, MFEM, and other packages when using `kokkos+wrapper` as a dependency"
This issue came up in testing the upcoming xSDK v0.8.0 release, see https://github.com/xsdk-project/xsdk-issues/issues/192.

The main issue is that `kokkos+wrapper` depends on the package `kokkos-nvcc-wrapper` https://github.com/spack/spack/blob/b652fe72d7a55150813c6ffbb68e9c724737fc0a/var/spack/repos/builtin/packages/kokkos/package.py#L192-L194

and that package replaces the compiler called by th

[2022-11-03 03:02] v-dobrev commented on #33684
Some more context: the original PR for `kokkos-nvcc-wrapper` is here: #16358.

[2022-11-03 04:09] #33680 closed, assigned to nobody

[2022-11-03 04:11] salotz-sitx commented on #30965
@alalazo On the last comment did you have any more materials on this?

[2022-11-03 06:02] salotz-sitx commented on #30965
I recently switched from using `docker build` to using [kaniko](https://github.com/GoogleContainerTools/kaniko) for doing image builds because I want to run builds in CI/CD, on a Kubernetes cluster, and without the security implications of docker-in-docker.

I had a custom Dockerfile based roughly on the `spack containerize` template, and I believe the fix I used did get upstreamed, i.e. `COPY --f

[2022-11-03 10:44] alalazo commented on #32559
This should be fixed by #33665 Let me know if this is not the case

[2022-11-03 10:44] #32559 closed, assigned to alalazo

[2022-11-03 11:29] zhujunmian opened #33690 "Cmake does not work"
### Steps to reproduce

The Cmake in the most recent commit in the developing branch has stopped working for many packages, including `scalapack`, `spfft`.

The error message is the same: `==> Error: ProcessError: /usr/bin/cmake/bin/cmake: Not a directory` for all those packages, regardless of `packages.yaml`. Therefore, it is more likely to be a `spack` problem rather than individual package prob

[2022-11-03 11:35] alalazo commented on #33690
Can you post more details on your configuration? We do a lot of builds in ci, and I hope a general error like "CMake doesn't work" would be caught by that :slightly_smiling_face:

See for instance a complete rebuild of `netlib-scalapack` done in CI today: https://gitlab.spack.io/spack/spack/-/jobs/4162721

[2022-11-03 11:49] zhujunmian commented on #33690
My `packages.yaml` is:
[code]
I once tried to change the prefix for `cmake` from `/usr/bin/cmake` to `/usr`, but I still get the same error message.

I am currently at commit
[code]
To reproduce the problem, I tried to install a package `sirius`, and many of its dependencies including `spglib`, `spfft`, `spla` all suffer from the same problem.

The step to reproduce the error:
[code]

[2022-11-03 11:56] alalazo commented on #33690
I think you got the prefixes wrong. It should be `/usr` not `/usr/bin/cmake`.

[2022-11-03 13:44] alalazo commented on #33690
Closing since this is very likely a user configuration issue. Feel free to reopen if you think this is a problem with Spack.

[2022-11-03 13:44] #33690 closed, assigned to alalazo

[2022-11-03 13:45] fspiga opened #33693 "Installation issue: OpenBLAS 0.3.21 targeting Neoverse N1 builds also Neoverse N2"
### Steps to reproduce the issue

[code]

### Error message

Running
[code]

<details><summary>Error message</summary><pre>
[+] /global/scratch/groups/amp/spack-amp-common/opt/spack/linux-rocky8-graviton2/gcc-11.2.0/perl-5.34.1-w7ov27ljnvscwvs7wxqvm3bup6e7sf3c
==> Installing openblas-0.3.21-piaogrnqfg5zpvpprm3e4yxatjwrizxy
==> No binary for openblas-0.3.21-piaogrnqfg5zpvpprm3e4yxatjwrizxy found: i

[2022-11-03 14:30] balay commented on #32559
Works now. Thanks!

[2022-11-03 15:06] ax3l opened #33696 "Installation issue: ncurses"
### Steps to reproduce the issue

[code]
[code]

### Error message

<details><summary>Error message</summary><pre>
==> Error: Terminating after first install failure: AttributeError: 'str' object has no attribute 'propagate'

The 'ncurses' package cannot find an attribute while trying to build from sources. This might be due to a change in Spack's package format to support multiple build-systems f

[2022-11-03 15:53] zhujunmian commented on #33690
Later, I found that the problem was with the `cmake` that was installed by `spack` itself.

Another `cmake@3.16.3` was installed in the system, and therefore, no matter how I changed the `packages.yaml` file, `spack` only refers to the `cmake@3.16.3`, rather than the `cmake@3.16.5` which is included in the `packages.yaml` problem.

So this is just a user configuration problem.

Thank @alalazo for

[2022-11-03 18:54] masterleinad commented on #33684
Can you elaborate on how you are compiling files including `Kokkos` headers? How do you decide whether a host compiler or `nvcc` should be used for compiling those files?
As soon as you configure `Kokkos` with `Cuda` every file including `Kokkos` header files must be run through `nvcc` regardless of the file extension  (and that is what `nvcc_wrapper` is doing).

[2022-11-03 19:48] v-dobrev commented on #33684
I can speak about MFEM: it does not use Kokkos directly, it is needed only when we enable PETSc (or maybe SUNDIIALS) which is built with `kokkos+wrapper`.

Regarding the host vs `nvcc` compiler usage: in MFEM (and probably other packages) once you enable CUDA, all C++ files are compiled with `nvcc` with the flag `-x=cu` (and `-ccbin` set to the MPI C++ wrapper).

[2022-11-03 19:56] masterleinad commented on #33684
That's basically exactly what `nvcc_wrapper` (with forwarding host flags to the host compiler).
Anyway, would it be enough for `kokkos-nvcc-wrapper` to only do something (or being used in the first place) if the C++ compiler isn't `nvcc`?

[2022-11-04 00:43] v-dobrev commented on #33684
In the MFEM `package.py`, we do not modify the C++ compiler -- neither the Spack wrapper, `env["CXX"]`, nor the actual C++ compiler called by the Spack wrapper, `env["SPACK_CXX"]`. The switch to `nvcc` happens inside the MFEM build system. This way the compilation chain for host code is: `nvcc` -> `mpicxx` -> Spack C++ wrapper -> actual compiler.

Even if packages that depend on `kokkos-nvcc-wrapp

[2022-11-04 09:05] #32861 closed, assigned to nobody

[2022-11-04 09:58] haampie commented on #27539
Closed by #31948

[2022-11-04 09:58] #27539 closed, assigned to nobody

[2022-11-04 11:08] mdorier commented on #33660
It must have been fixed; I don't see the error anymore in my CI build. Closing.

[2022-11-04 11:08] #33660 closed, assigned to nobody

[2022-11-04 14:27] andre-merzky opened #33705 "Installation issue: berkeley-db"
### Steps to reproduce the issue

[code]

FWIW: The same issue happens after `git co v0.18.1`.

### Error message

<details><summary>Error message</summary><pre>
$ spack install py-radical-utils
==> Installing libiconv-1.16-5ozepeqi6ia36oxafja24e465du33fy4
==> No binary for libiconv-1.16-5ozepeqi6ia36oxafja24e465du33fy4 found: installing from source
==> Using cached archive: /mnt/home/merzky/proje

[2022-11-04 14:54] markyoder opened #33706 "Installation issue: nco@5.0.1 does not build with %intel compilers. appears to be a solved bug"
### Steps to reproduce the issue

I'm working with an environment, but I expect this should do the trick.
[code]

### Error message

The main error is:

`>> 598    nco_rgr.c(4850): error: "msk_out" must be specified in a variable list at enclosing OpenMP parallel pragma`

I found this reference:
[https://bytemeta.vip/repo/nco/nco/issues/244](https://bytemeta.vip/repo/nco/nco/issues/244)

Which bas

[2022-11-04 17:19] adityakavalur commented on #32310
@feacluster did you ever figure this out? I am running into this issue as well

[2022-11-04 17:52] #33233 closed, assigned to nobody

[2022-11-04 18:33] nish-ant opened #33712 "Installation issue: openmpi@4.1.4"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
==> Installing openmpi-4.1.4-shbfai55ndsv4jpbl4eiibhnsk3vfniu
==> No binary for openmpi-4.1.4-shbfai55ndsv4jpbl4eiibhnsk3vfniu found: installing from source
==> Error: AttributeError: 'NoneType' object has no attribute 'target'

The 'openmpi' package cannot find an attribute while trying to

[2022-11-04 18:52] #33409 closed, assigned to adamjstewart

[2022-11-04 19:46] cameronrutherford commented on #32444
Any progress on this? I would love to manage transformers through spack.

[2022-11-04 20:20] adamjstewart commented on #32444
Concretizer error message is still useless...

Going to try to add a newer version and see if it's easier to concretize. What is almost certainly going on here is that two of the dependencies require versions that conflict with each other. The tricky part is figuring out which versions conflict.

[2022-11-04 20:20] markyoder commented on #29993
I get a similar problem. Relevant error being:

[code]

But that compiler is definitely available:
[code]

[2022-11-04 20:42] markyoder commented on #29993
And I guess this is my error, from the `configure.log`.

[code]

[2022-11-04 21:34] adamjstewart commented on #32444
Fixed in #33716.

The concretization bug was due to rust and how Spack sorts versions. Basically:

1. `py-transformers` depends on `py-tokenizers`
2. `py-tokenizers` depends on `rust@nightly` (in older versions)
3. `rust@:1.43` depends on `python@2.7:2.8`
4. Spack sorts `nightly` as older than all stable release versions
5. `py-transformers` (and many other packages in the DAG) depends on Python 3

[2022-11-04 22:01] balay commented on #29993
How do I reproduce this issue?

I just tried the following and got a working build
[code]

[2022-11-04 22:06] balay commented on #29993
And likely the following patch to petsc configure will ignore the warning..
[code]

[2022-11-04 22:56] ryandanehy opened #33719 "Exago@develop ~raja+hiop+ipopt on Mac OS builds with can't find openmp issue."
### Steps to reproduce the issue

darwin-monterey-m1
Apple Clang 14.0.0
~raja
+hiop
+ipopt
PETSC 3.18.0

spack environment file: [spack.txt](https://github.com/spack/spack/files/9933589/spack.txt)

==> Concretized exago@develop
 -   74qfjyp  exago@develop%apple-clang@14.0.0~cuda+hiop~ipo+ipopt+mpi+python~raja~rocm build_type=RelWithDebInfo arch=darwin-monterey-m1
 -   g3vhmv3      ^cmake@3.23.3%ap

[2022-11-04 22:58] #33719 closed, assigned to nobody

[2022-11-04 23:50] cameronrutherford commented on #32444
Amazing news! Thanks, @adamjstewart. I know concretizer is an NP hard problem, and so I wish I could have been more useful in tracking this down.

I am much more adept ad debugging packages I maintain like ExaGO and HiOp

[2022-11-04 23:59] adamjstewart commented on #32444
I basically just started commenting out dependencies (in a binary search) until things magically concretized, that usually gives away what the problem is.

[2022-11-05 02:03] lrtfm commented on #30023
It seems related to the pr https://github.com/Reference-ScaLAPACK/scalapack/pull/39, and has been fixed by https://github.com/Reference-ScaLAPACK/scalapack/pull/57

[2022-11-05 17:38] #32444 closed, assigned to adamjstewart

[2022-11-06 09:12] #29815 closed, assigned to nobody

[2022-11-07 00:47] #32430 closed, assigned to becker33

[2022-11-07 09:25] Tom-python0121 opened #33731 "spack install --keep-stage -v neo4j@5.0.0 failed on centos8_aarch64"
### Steps to reproduce

[code]
Why is jdk@14_36 displayed?

### Error message

[code]

### Information on your system

[root@centos ~]#  spack debug report
* **Spack:** 0.16.1
* **Python:** 3.6.8
* **Platform:** linux-centos8-aarch64
* **Concretizer:** original

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have searched th

[2022-11-07 09:56] lawrence910426 commented on #30906
Does anyone have a workaround with this issue? If so, it would be helpful. Thank you so much

[2022-11-07 12:53] chengscott opened #33734 "Installation issue: cmake"
### Steps to reproduce the issue

[code]

### Error message

The build is success, but cmake cannot be executed.

[code]

### Information on your system

[code]

### Additional information

@chuckatkins

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have run `spack maintainers <name-of-the-package>` and **@mentioned** any m

[2022-11-07 13:19] chengscott commented on #33734
~~Problem solved after I set `export CMAKE_ROOT=/home/mdl/ypc5394/.spack/var/spack/environments/fluid/.spack-env/view/share/cmake-3.24` manually~~
cmake has no problem itself and has nothing to do with this env variable.
It turns out that spack does not rehash, so `hash -r` would resolve this issue

[2022-11-07 13:21] #33734 closed, assigned to nobody

[2022-11-07 14:03] chengscott opened #33735 "Rehash shell after spack install"
### Summary

perform rehash in shell (e.g. `hash -r`) after spack install

### Rationale

As per #33734, the shell needs rehash to use the newly installed package.

### Description

the implementation could be a helper function that allows a package to rehash after installation

### Additional information

_No response_

### General information

- [X] I have run `spack --version` and reported the

[2022-11-07 17:44] balay commented on #29993
This issue is likely fixed by https://github.com/spack/spack/pull/33556

[2022-11-07 21:17] tgamblin commented on #29695
Fixed by #32537

[2022-11-07 21:17] #29695 closed, assigned to nobody

[2022-11-07 21:18] tgamblin commented on #31194
Is this @trws's issue fixed by #32253?

[2022-11-07 21:24] tgamblin commented on #22920
Does this still happen?

[2022-11-07 21:25] tgamblin commented on #25612
Do you still see this issue after #29392 ?

[2022-11-07 22:17] v-dobrev commented on #31194
Can you post the Meson log file (`meson-log.txt`) too? The error message has its location.

[2022-11-07 22:24] G-Ragghianti opened #33743 "RPATH not set when using HIP"
### Steps to reproduce

[code]

### Error message

RPATH is not set in the spack-gnerated libmagma.so.  This causes problems when linking user code against the spack-install library because it fails to pick up the require dependencies and sometimes picks up older system-install libraries like libstdc++ which causes runtime errors.

From looking at the spack logs for the magma build, it appears tha

[2022-11-07 22:27] glennpj opened #33744 "Installation issue: serf"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
==> Installing serf-1.3.9-47no22l5awkdaoejmalqfntb7y26lcwp
==> No binary for serf-1.3.9-47no22l5awkdaoejmalqfntb7y26lcwp found: installing from source
==> Using cached archive: /opt/packages/gpjohnsn/spack/var/spack/cache/_source-cache/archive/54/549c2d21c577a8a9c0450facb5cca809f26591f048e46

[2022-11-07 23:14] tgamblin commented on #32056
Fixed by #33406

[2022-11-07 23:14] #32056 closed, assigned to nobody

[2022-11-07 23:35] renjithravindrankannath commented on #31920
Hi @tldahlgren / @becker33 , Is there anyone looking into this issue?
Please let us know if this is an expected behavior or it is tracked under a different ticket.

[2022-11-08 00:12] tgamblin commented on #31194
I was wrong -- this is not fixed by #32253

[2022-11-08 00:22] becker33 commented on #25612
This issue should be fixed by a combination of 3 things:

1. #29392
2. The external spec should be `cray-mpich@...`, not `mpich@...`
3. Tau needs to be modified to not assume that every mpi implementation stores its headers in `$prefix/include`. That's not true for `cray-mpich`. Instead, Tau should use `spec["mpi"].headers.directories()` and similarly for the library directories.

[2022-11-08 00:23] tgamblin commented on #32668
This was fixed by #33337.

[2022-11-08 00:23] #32668 closed, assigned to alalazo

[2022-11-08 00:46] becker33 commented on #518
Fixed by #17967

[2022-11-08 00:46] #518 closed

[2022-11-08 02:37] adamjstewart commented on #31194
Versions have changed a bit since I first opened this issue, but here are the specs and logs for the tip of develop:
[code]
* [spack-build-out.txt](https://github.com/spack/spack/files/9957152/spack-build-out.txt)
* [spack-build-env-mods.txt](https://github.com/spack/spack/files/9957154/spack-build-env-mods.txt)
* [meson-log.txt](https://github.com/spack/spack/files/9957156/meson-log.txt)

[2022-11-08 03:15] glennpj opened #33747 "R packages with non-R dependencies broken by recent commit"
### Steps to reproduce

I was working on R package updates and noticed that all R packages with non-R dependencies are no longer able to find headers for those dependencies. I ran `git bisect` and determined that the problem was introduced with PR #30738 (@alalazo).

I can potentially fix every R package that has non-R dependencies by patching the `configure` scripts and setting `configure_args` b

[2022-11-08 05:50] #31278 closed, assigned to nobody

[2022-11-08 07:09] v-dobrev commented on #31194
From the Meson log, it looks like the following sanity check fails:
[code]
It looks like the `sanitycheckcpp.cc` source is just this:
[code]
according to https://github.com/mesonbuild/meson/blob/0.63.3/mesonbuild/compilers/cpp.py#L89.

The Meson code that generates the error is here: https://github.com/mesonbuild/meson/blob/0.63.3/mesonbuild/compilers/mixins/clike.py#L334-L340

I'm not sure if the

[2022-11-08 09:20] alalazo commented on #33747
How were we finding those dependencies before? I took a look at the current procedure and couldn't find anything that is missing at a first glance. The functions that should be called (e.g. `setup_dependent_build_environment`) are called, and code seems to be executed correctly.

[2022-11-08 09:32] alalazo commented on #33747
@glennpj Can you post the entire output as a file, in my case I can reproduce but I also see:
[code]
Was that the case before?

[2022-11-08 09:59] alalazo commented on #33747
I checked many other specs, and they all seem to use our compiler wrapper during configuration, as expected. `r-units`, instead, picks up `/usr/bin/gcc` on my laptop.

[2022-11-08 10:22] alalazo commented on #33747
I think I got what happened, currently trying to confirm it. We have this line in `r`'s recipe:
[code]
This is needed to use a Spack built R even outside of Spack - so it substitutes Spack compiler wrappers with the bare compilers after installation. We also have this other function in `r`'s recipe:
[code]
I think the reworking in #30738 inverted the order of execution of the two functions (even t

[2022-11-08 13:53] G-Ragghianti commented on #33743
I've determined that the compiler (hipcc) is setting RUNPATH instead of RPATH when given "-Wl,-rpath,/tmp/spack/...".

[code]
Suggestions?

[2022-11-08 13:58] #33747 closed, assigned to alalazo

[2022-11-08 14:06] haampie commented on #33743
It's because it escapes the compiler wrapper. Typically Spack manages to intercept the linker invocation, but that can fail if the linker is directly exec'd by path instead of by name. The compiler wrapper normally also ensures rpath is used instead of runpath.

I don't have a hip install available right now. If you drop in a build environment magma+rocm w/ `spack build-env magma+rocm -- bash` and

[2022-11-08 14:11] G-Ragghianti commented on #33743
I see that hipcc is calling clang++ and it appers to be passing the "-Wl,-rpath" along to it:

<code>
$ strace -f hipcc -Wl,-rpath,/tmp/spack test.c |& grep exec

[pid 65541] execve("/opt/rocm-5.2.0/llvm/bin/clang++", ["/opt/rocm-5.2.0/llvm/bin/clang++", "-isystem", "/opt/rocm-5.2.0/llvm/lib/clang/1"..., "-isystem", "/opt/rocm-5.2.0/hsa/include", "-isystem", "/opt/rocm-5.2.0/include", "-O3", "-L/o

[2022-11-08 14:18] haampie commented on #33743
And in the build env can you verify `which ld` is pointing to Spack's dir?

And does it show up like this: `strace -s1024 -f hipcc hello.cpp |& grep -E 'access.*ld'`

Or even simpler: add `exit 1` as the second line of `$spack/lib/spack/env/cc` and see if it errors (compiler wrapper = linker wrapper)

[2022-11-08 14:39] G-Ragghianti commented on #33743
It appears that clang++ will set RUNPATH instead of RPATH unless you give it `-Wl,--disable-new-dtags,-rpath,/tmp/spack/...`.

There is an error when I break the spack "cc" compiler wrapper, but this is during cmake when it tests the compiler.

I've attached the strace output.
[strace.log](https://github.com/spack/spack/files/9962186/strace.log)

[2022-11-08 15:01] dylex opened #33756 "Installation issue: amdlibm build_args missing arguments"
I presume this is related to the recent builder introduction #30738.  The old scons builder called `build_args` and `install_args` with `(spec, prefix)` but these were taken out in this change.  If this is intentional, packages need to be fixed.  If not, maybe they can be added back?

[code]

[2022-11-08 15:03] #33744 closed, assigned to nobody

[2022-11-08 15:47] franciscoadasme commented on #31831
Hey everyone,

It seems that the makefile.include files were renamed in v6.3.0, dropping the `linux_` prefix . Removing the prefix from the paths in `vasp/package.py` solves the issue.

However, then I stumbled with another issue related to the compiler options:

[code]

`mpif90` is a MPI wrapper around `flang` from the AOCC compiler suite, which indeed doesn't recognize `-fallow-argument-mismatch

[2022-11-08 16:41] adamjstewart commented on #31194
FWIW, that `sanitycheckcpp.cc` compiles fine for me outside of Spack. Here are the debug logs from the compiler wrappers:

* [spack-cc-mesa-blztv5h.in.log](https://github.com/spack/spack/files/9963302/spack-cc-mesa-blztv5h.in.log)
* [spack-cc-mesa-blztv5h.out.log](https://github.com/spack/spack/files/9963304/spack-cc-mesa-blztv5h.out.log)

[2022-11-08 17:05] markyoder commented on #29993
Looks like the recent PR fixed this. Thanks to everybody who helped! Much, much, much appreciated!

[2022-11-08 17:19] #31640 closed, assigned to nobody

[2022-11-08 17:30] kuberry opened #33760 "Refactor Trilinos recipe using autogenerated Spack variants/constraints from Tribits"
<h3>Current Scenario</h3>

Users can generate a Trilinos spec by specifically adding `+package` for the package that they want to enable, and it will build with required dependencies enabled (as determined in Tribits). Also, packages are likely to be built that the user did not desire (if default of variant is True), and using `~package` is an indicator that a recipe is incompatible with a variant

[2022-11-08 17:45] kuberry commented on #33760
@psakievich @sethrj @bartlettroscoe @jwillenbring

[2022-11-08 17:46] cameronrutherford commented on #31941
#31696 has been closed, and I now have passing Spack pipelines in GitHub actions again!! Thank you to everyone that helped debug this, and I think that I can mark this as closed. I will re-open if for some reason behaviour re-appears.

[2022-11-08 17:46] #31941 closed, assigned to zackgalbreath, scottwittenburg

[2022-11-08 17:48] bartlettroscoe commented on #33760
@kuberry, thanks for this detailed issue.  I am curious what the Spack user community would think about having `Trilinos_ENABLE_ALL_OPTIONAL_PACKAGES=ON` by default?  That gives the maximum functionality given the packages that are explicitly enabled and yields the shortest set of enable specs to get what you want.

[2022-11-08 18:36] #19977 closed, assigned to nobody

[2022-11-08 18:44] wspear commented on #25612
@becker33 I wasn't aware of that design pattern and would like to switch, but it looks like headers.directories() returns an array. I'd guess that's usually just a single directory but if it is ever given more than one path TAU's configure script will break and doing headers.directories()[0] seems fragile. Can I assume directories[0] will always be where mpi.h/libmpi.so are located?

[2022-11-08 19:09] becker33 commented on #25612
I believe that is true of all current MPI providers, but you really can't assume that. Is this a limitation of the `tau` build system that it cannot handle an MPI implementation that requires multiple include directories?

[2022-11-08 19:22] wspear commented on #25612
Yes, though historically it hasn't really been a limitation. Tau can find what it needs as long as it has the location of mpi.h. Even now, multiple disjoint lib/include directories seems to be a theoretical problem.

[2022-11-08 19:36] becker33 commented on #25612
You could always implement the search yourself, if you don't care what headers MPI thinks you need and only need `mpi.h`.

[code]

[2022-11-08 19:42] psakievich commented on #33760
Thanks for putting this together @kuberry.  I think the tooling is moving in the right direction for ensuring reproducibility between spack and tribits. Being able to demonstrate that is an important part of the path toward making `trilinos` and spack more compatible with one another.

I'm definitely in favor of this option over packing all the variants into one single trilinos package.  I think p

[2022-11-08 19:51] G-Ragghianti opened #33763 "Installation issue: hsa-rocr-dev needs numactl"
### Steps to reproduce the issue

Install hsa-rocr-dev on a  system that doesnt' have /usr/lib64/libnuma.so installed:
[code]

### Error message

<details><summary>Error message</summary><pre>
make[2]: *** No rule to make target '/usr/lib64/libnuma.so', needed
             by 'libhsa-runtime64.so.1.5.0'.  Stop.
</pre></details>

### Information on your system

* **Spack:** 0.19.0.dev0
* **Python:*

[2022-11-08 19:59] psakievich commented on #33760
@bartlettroscoe I think in principle it can sound nice to just have one fully enabled `trilinos` build to rule them all, but the build time and size of the library would probably not be desired by the community.  My M1 laptop builds trilinos very fast (10min) but the download for the source alone is around 35 min. As a side note, I'm also curious, is the `Trilinos_ENABLE_ALL_OPTIONAL_PACKAGES` bui

[2022-11-08 20:08] markyoder opened #33765 "Installation issue: py-bottleneck"
### Steps to reproduce the issue

well... I'm trying to build `paraview` in an environment, something like:
[code]
, which will expand out to:
[code]
I get an error on py-bottleneck, and a couple others as well (see Error message, below).

So, with the spec defined:

[code]

this ought to do it:
[code]

From within that environment,
[code]

### Error message

<details><summary>Error message</summa

[2022-11-08 20:16] bartlettroscoe commented on #33760
That is not what I am suggesting.  To be clear, `Trilinos_ENABLE_ALL_OPTIONAL_PACKAGES=ON` only enables the optional packages **upstream** from the packages you explicitly enable.  For example, enabling Tpetra would only trigger the enables of the packages (outside of Tpetra) of Teuchos, Kokkos, Epetra (and then only selected subpackages from Teuchos and Kokkos).

For just downloading the source c

[2022-11-08 20:20] bartlettroscoe commented on #33760
As discussed in my [TUG Presentation](https://trilinos.github.io/pages/community/trilinos_user_meetings/TUG_2022/2022-10-27/01_TribitsModernization_TUG_2022-10-27.pdf), we are working to where you can build Trilinos in smaller subsets of packages in different CMake projects.  Getting closer to being able to demonstrate this.

[2022-11-08 20:34] psakievich commented on #33760
This is good to know. Thanks for clarifying. Definitely lost in translation.

This sounds excellent. I think we could make this play quite nicely with spack's infrastructure. @bartlettroscoe what are your thought about making these subsets be individual `spack` packages that can pull from the same tarball along the lines of what I suggested above?

[2022-11-08 21:03] tldahlgren commented on #32603
I tried this and am seeing details in the `install-time-test-log.txt` file in the build stage directory for the package.  Are you not seeing a file with that name?

[2022-11-08 21:04] tldahlgren commented on #31920
I am able to reproduce the failure case and see the outputs in the build stage directory's `install-time-test-log.txt` file.  Let me try the success case.

[2022-11-08 21:12] adamjstewart commented on #32603
I've never heard of this file before. I'm sure it's there, and that's good to know. But this issue is suggesting that `spack install --test --verbose` should display that output just like it does with the build output. Otherwise I have no idea that the tests are actually running vs. being skipped. That's how things used to be before post-install tests were added.

[2022-11-08 21:13] adamjstewart commented on #33765
Can you upload this file?
[code]
That's the build log which will tell me what actually went wrong.

[2022-11-08 21:26] tldahlgren commented on #31920
I am also able to see the `install-time-test-log.txt` file on success in the same install prefix subdirectory as the build logs.

Success:
[code]

Failure:
[code]

[2022-11-08 21:29] markyoder commented on #33765
Yes; thought it was attached above, but here it is:

[spack-build-out.txt](https://github.com/spack/spack/files/9965402/spack-build-out.txt)

[2022-11-08 21:29] tldahlgren commented on #32603
Good point.  I'll look into outputting the path to that file on success and failure.

[2022-11-08 21:33] adamjstewart commented on #32603
We should def output the path on failure (like we do for build). But we should output the contents when verbose as well (like we do for build).

[2022-11-08 21:36] adamjstewart commented on #33765
Okay, so the real error here is that your numpy build is broken:
[code]
Not sure if this is a numpy issue or an openblas issue. Maybe @rgommers can comment. @rgommers let us know if you want to see the build logs for numpy or openblas or anything else.

[2022-11-08 22:40] kuberry commented on #33760
If we were able to extract a single parent package along with its subpackages (think SEACAS with all SEACAS* subpackages), I'm wondering what it would look like for users to request a SEACAS subpackage in a Trilinos recipe. I think this would still require a variant for every parent package (to know to enable the extracted SEACAS package, for example) and then subpackages would be enabled through

[2022-11-08 22:45] psakievich opened #33769 "Add the ability to forward install args to depfiles"
### Summary

As a user, I'd like a way to forward arguments for `spack install` into `depfiles` such as `--keep-stage`, `--overwrite` etc.

Pinging @haa

### Rationale

I'm sold on `depfiles`. They are an awesome way to get parallel builds.  They are missing some of the features available in `spack install`.  Certain arguments are needed at the `spack install` call such as `--keep-stage`.

### Des

[2022-11-08 23:01] markyoder commented on #33765
I'm thinking that reminds me of a Fortran error related to the `-fallow-argument-mismatch,` but 1) I think that is only for the intel compilers, and 2) I generally think this is different.
I did find this:
[load command address/offset not properly aligned](https://github.com/spotify/dh-virtualenv/issues/273)
I'll look back at the `numpy` build and see if there is a workaround; very interested to h

[2022-11-08 23:10] haampie commented on #33769
You can already do `make SPACK_INSTALL_FLAGS=--keep-stage` etc.

You can also set separate flags for deps, for example `make SPACK_INSTALL_FLAGS=--keep-stage x/.install-deps/<hash> && make SPACK_INSTALL_FLAGS=--verbose (x/.install/hash)`.

I was thinking to add phony convenience targets for packages if they are unique in the env, e.g. `make x/.install/python` (should also tab complete)

If you nee

[2022-11-08 23:23] haampie commented on #33769
Actually why don't we just use `<pkg name>-<version>-<hash>` instead of `<hash>` for target names and remove the `.` so that tab completion works even better.

Then you can do `spack env depfile -o Makefile --make-target-prefix x` and run `make x/i<tab>` -> `make x/install-d<tab>` -> `make x/install-deps/py<tab>` -> `make x/install-deps/python-3.11.0-abcdef`

[2022-11-08 23:34] psakievich commented on #33769
@jrood-nrel see above 👆

[2022-11-08 23:38] bartlettroscoe commented on #33760
As listed in https://github.com/TriBITSPub/TriBITS/issues/367, the initial target is to build separate Spack packages (each with its own CMake project) for SEACAS, KokkosKernels, Kokkos, and Zoltan (where Zoltan must be pulled out because SEACAS depends on Zoltan) and have the Spack 'trilinos' package build any other packages that might depend on those.

One would assume the the SEACAS support in

[2022-11-08 23:53] Paul-Ferrell commented on #33313
This looks fine. There's a couple definitional things we need to be clear about though.

If we're building environments **A**, **B**, and **C**, **(A + B + C)** should equal **(A)** + **(B)** + **(C)**. IE - the union of the results, not the union of the inputs. I need to be able to build each by themselves, toss those packages into the build cache, and then build **A + B + C** without needing any

[2022-11-08 23:54] salotz-sitx commented on #21590
[code]

[code]
Just adding my experience.

[2022-11-08 23:58] jrood-nrel commented on #33769
Awesome.

[2022-11-09 00:03] haampie commented on #33769
Convenience improvemens: https://github.com/spack/spack/pull/33773

[2022-11-09 01:24] psakievich commented on #33760
If for the `panzer` example this is how spack already operates.  If we have a `panzer` package or virtual package inside trilinos then it could resolve it's own dependencies in the package description `depends_on('seacas+subpkg1+subpkg2...')`.

I guess I don't know if we really need a master `trilinos` package for organizing all the sub-packages, but even if we do have it that shouldn't really cha

[2022-11-09 04:22] wdconinc commented on #31648
I am apparently also affected by this :-\

[2022-11-09 10:32] rgommers commented on #33765
Two possible things come to mind:
1. Improper stripping of binaries during the build process. This is the root cause for all of the first hits one gets (also all Python packages) when searching for `ELF load command address/offset not properly aligned`.
2. NumPy and OpenBLAS were built with gcc `12.1`. That release changed something in RPATH handling. I've seen a report before and should be able t

[2022-11-09 13:49] kuberry commented on #33760
## Options

If SEACAS is a package in Spack, let’s suppose it has variants {`seacasexodus`, `seacas…`,`all`}, which are all disabled by default (and enabling `+all` would enable all other subpackages in SEACAS).

Trilinos can either have 1) an unconditional dependence on SEACAS, 2) one that is conditional, or 3) no dependency (removing Trilinos as a Spack package and replacing it with many package

[2022-11-09 14:39] bartlettroscoe commented on #33760
Yes, option-2 is really the only feasible option for FY23 (unless things go more smoothly from here and I get a ton more funding).

[2022-11-09 14:56] wdconinc commented on #31648
https://github.com/spack/spack/issues/32336 indicates this is solved in https://github.com/spack/spack/pull/32340. I'm on v0.18.1 so I'll have to backport that.

[2022-11-09 14:59] psakievich commented on #33760
Option 2 seems perfectly reasonable to me.  I don't think it would be terrible to move to option 3 from option 2 over time if there was sufficient motivation and funding. I'm curious if there is any additional perspective from the core developer team that they'd like to add in. I know there are many interested parties when it comes to the trilinos package. Pinging @tgamblin

[2022-11-09 15:23] adamjstewart commented on #33765
@markyoder if you check in `spack find -p foo`, you can find the installation prefix of package foo. Then, the build logs will be in `.spack/spack-build-out.txt`. If you could upload those for py-numpy and openblas that would be helpful.

[2022-11-09 15:41] albestro opened #33785 "`spack location -b` returns wrong build directory for CMake packages"
### Steps to reproduce

The output of `spack location -b` for a CMake packages is incorrect.
Indeed, it returns the source directory, instead of the build one.

[code]

I started investigating the problem by bisecting with the aim to find when the behaviour has changed, and it can be seen, the following commit is the last one that still works correctly, i.e. it reports the correct build directory

[2022-11-09 15:53] albestro commented on #33785
Investigating this issue, I realised that the problem has been introduced by #30738.

Testing the commit before that one, it works as expected, as reported above

[code]

Looking at how `spack location -b` works, the relevant part is

https://github.com/spack/spack/blob/078767946c1290b225a7b8e0d64241944dbfa1db/lib/spack/spack/cmd/location.py#L142-L152

and in particular at line 144 where it checks

[2022-11-09 16:13] nish-ant commented on #33712
The issue is resolved in spack v0.18.1 using `--no-checksum` option.
[code]
I am not sure if this is a viable solution so I am keeping the issue open until confirmation.

[2022-11-09 17:05] markyoder commented on #33765
Ok. Split of a little laboratory environment -- copied my `paraview` environment, but now I only install `py-bottleneck` (so far).

py-numpy_spack-build-out.txt: spack-build-out.txt from py-numpy

The other 4 files are from openblas and appear to be relevant.

[spack-build-01-edit-out.txt](https://github.com/spack/spack/files/9973429/spack-build-01-edit-out.txt)
[spack-build-02-build-out.txt](http

[2022-11-09 17:23] luke-dt commented on #33674
The latest version `0.19.0.dev0 (9f4715ef505886a59e60f27dd4205bcdc432b417)` appears to fix this issue for me

[2022-11-09 17:23] #33674 closed, assigned to nobody

[2022-11-09 17:36] haampie commented on #33763
I think we patch this? Or try to fix this. Is there any note regarding numactl in the relevant spack packages? I vaguely remember that hipcc added -lnuma* to the linked libraries for no good reason

[2022-11-09 17:39] nish-ant opened #33790 "Installation issue: precice"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
     1373    Could not build the ssl module!
     1374    Python requires an OpenSSL 1.0.2 or 1.1 compatible libssl with X509_VERIFY_PARAM_set1_host().
     1375    LibreSSL 2.6.4 and earlier do not provide the necessary APIs, https://github.com/libressl-portable/portable/issues/381
     137

[2022-11-09 17:44] MakisH commented on #33790
This seems to me related to the Python package, not preCICE:

[code]

[2022-11-09 17:56] nish-ant commented on #33790
Hello @MakisH. You could be right.

I am not sure why this is happening as I am following the same steps that I mentioned in an ticket from few months ago on the [preCICE forum](https://precice.discourse.group/t/openfoam-6-adapter-error-during-build-undefined-symbols-of-dependencies/1091/5?u=nish-ant). The installation was working back then but now I am unable to build preCICE, even though the sys

[2022-11-09 17:57] rgommers commented on #33765
Sure, that's equivalent for this purpose. The change came in at gcc 12, so it'd be useful to know if any recent gcc <12 works.

[2022-11-09 18:00] rgommers commented on #33765
Nothing jumps out to me in those numpy/openblas build logs

[2022-11-09 18:02] markyoder commented on #33765
Ok. I get the same error with `gcc@10.3.0`:
[code]

What about the compiler flags? I throw in `-fPIC` as standard default flags. It winds up being required for some packages, like `petsc` I believe. My general impression is that it is a good default.

[2022-11-09 18:03] MakisH commented on #33790
Do you need the PETSc-based RBF mapping (to run very large parallel cases)? If not, you can disable PETSc as a workaround for now (that should be `spack install precice -petsc`, I think).

[2022-11-09 18:05] G-Ragghianti commented on #33763
The numactl spack package is a dependency for some rocm/hip packages, but not for hsa-rocr-dev currently.

[2022-11-09 18:13] adamjstewart commented on #33765
This error message just means that "something" failed, it isn't necessarily the exact same issue. You'll have to check the build log to see if it's also an issue with OpenBLAS.

[2022-11-09 18:26] cyrush commented on #25180
I hit a related issue - `spack style` failed to bootstrap b/c it tried to install dependencies into the system python.

[2022-11-09 19:23] markyoder commented on #33765
Ok. py-numpy build attached.
[spack-build-out.txt](https://github.com/spack/spack/files/9974414/spack-build-out.txt)

Then, from py-bottleneck, the key bit is:

[code]

and the whole thing is:
[code]

[2022-11-09 19:31] markyoder commented on #33765
In the `py-numpy` build log, there are a bunch of these warnings about writing a size=1 byte into a region of size=0
[code]

[2022-11-09 19:59] adamjstewart commented on #33765
I'm a Python person, not a C/C++ person, but doesn't this have something to do with PIC? I would try removing `-fPIC` and see if that solves the issue (you'll need to rebuild at least OpenBLAS, numpy, and bottleneck).

[2022-11-09 21:00] simonpintarelli opened #33797 "Installation issue: hip cmake fails to find clangrt when using clang"
### Steps to reproduce the issue

[code]

The problem also affects rocm 5.3.0 (I've merged the respective PRs in my personal branch)

### Error message

<details><summary>Error message</summary><pre>
1 error found in build log:
     17    -- Looking for pthread_create in pthreads
     18    -- Looking for pthread_create in pthreads - not found
     19    -- Looking for pthread_create in pthread

[2022-11-09 21:04] feacluster commented on #32310
I opened a chat on the discord page about this and got some helpful replies . But I can't seem to login to discord anymore to copy/paste what they said.

[2022-11-09 21:04] #32310 closed, assigned to nobody

[2022-11-09 21:46] markyoder commented on #33765
Already on that -- removed the `-fPIC` flags, but alas, it still breaks. I think that that this is usually the sort of thing that PIC fixes, not breaks.
Digging into the logs a bit, it looks like basically the same error:
[code]

[2022-11-10 00:41] glennpj opened #33806 "Installation issue: py-pyqt5 and multiple build systems"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
...
The 'py-pyqt5' package cannot find an attribute while trying to build from sources. This might be due to a change in Spack's package format to support multiple build-systems for a single package. You can fix this by updating the build recipe, and you can also report the issue as a bug. M

[2022-11-10 03:04] honghh2018 opened #33807 "The gfortran already in spack.yaml, but the spack build can not be found the gfortran and -l gfortran"
:warning: Reported on Spack v0.18.0 :warning:

### Steps to reproduce

![image](https://user-images.githubusercontent.com/41668708/200990334-4e94743e-d5e5-4a9a-a261-1271692605ed.png)

I can not find the gfortran in /share/apps/spack/var/spack/environments/gdal-proj-geos-env/spack.yaml file, but i can using  the gfortran to build src file that need gfortran  library(lgfortran )

the error showing b

[2022-11-10 04:12] glennpj opened #33808 "Installation issue: postgresql and multiple build systems"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
==> Error: AttributeError: type object 'AutotoolsPackage' has no attribute 'install'

The 'postgresql' package cannot find an attribute while trying to build from sources. This might be due to a change in Spack's package format to support multiple build-systems for a single package. You can

[2022-11-10 08:51] nish-ant commented on #33790
With the oprion `-petsc`, I am now seeing this error:
[code]

Firstly, I want to point that I'm building `openmpi@4.1.4` in a step before building `precice`:
[code]
I also append the path to `openmpi` libraries in `LD_LIBRARY_PATH`.
So I'm not sure why `openmpi@4.1.3` is getting installed while building `precice`.
One thing I notice is that during these past few days, the preferred `openmpi` versi

[2022-11-10 08:54] #33785 closed, assigned to alalazo

[2022-11-10 09:25] fsimonis commented on #33790
This is not necessary and may even confuse spack. Spack handles already handles this for you.

Spack commit https://github.com/spack/spack/commit/13e6f87ef6527954b152eaea303841978e83b992 doesn't contain openmpi 4.1.4. It looks like you are mixing the aforementioned commit with the current develop version of spack.

@nish-ant I recommend you to start from scratch. Remove all packages and build preC

[2022-11-10 14:07] nish-ant commented on #33790
It looks like spack discontinued with `openmpi@4.1.4` somewhere in the last couple of months since I was using the same command to build `precice` and it was working without error. However, as you also menstioned, in v0.19.0.dev0 (cfd0dc6d89dd54f2bbbbf053e73f9825d2f6319a), the preferred `openmpi` version is 4.1.4.

I continued with this and I am able to build `precice` without error.

However, whi

[2022-11-10 14:22] srekolam commented on #33797
@simonpintarelli  i have noticed the same failure with few of the packages too ..strumpack , ginkgo etc failing in gitlab-ci for PR 33320 .
the below will fix too but just trying to see if this can be fixed in the hip package etc.
if self.spec.satisfies("^hip@5.3.0:"):
                args.append(
                    self.define(
                        "HIP_CXX_COMPILER", "{0}/bin/clang++".format

[2022-11-10 15:03] jeffmacdonald7 opened #33816 "Error: vasp-6.3.2 Package was not installed"
### Steps to reproduce

# spack -d install -v -j 16 vasp@6.2.0 +scalapack +openmp %aocc@3.2.0 target=zen3 ^amdfftw@3.1 ^amdblis@3.1 threads=openmp ^amdlibflame@3.1 ^amdscalapack@3.1 ^openmpi@4.1.1 fabrics=auto

or
# spack -d install -v -j 16 vasp@6.3.2 +scalapack +openmp %aocc@3.2.0 target=zen3 ^amdfftw@3.1 ^amdblis@3.1 threads=openmp ^amdlibflame@3.1 ^amdscalapack@3.1 ^openmpi@4.1.1 fabrics=auto

[2022-11-10 15:49] jeffmacdonald7 commented on #33816
here is the entire build.log output

export VASPVER=6.3.2
export CPU=zen3

spack --debug --stacktrace -d install -v -j 16 vasp@$VASPVER +scalapack +openmp %aocc@3.2.0 target=$CPU ^amdfftw@3.1 ^amdblis@3.1 threads=openmp ^amdlibflame@3.1 ^amdscalapack@3.1 ^openmpi@4.1.1 fabrics=auto

[build.log](https://github.com/spack/spack/files/9982479/build.log)

[2022-11-10 16:12] rscohn2 commented on #33178
I can reproduce the problem. The problem occurs in m4. If I replace m4 with the system binary, it works ok.  It could be a compiler bug, but there is also a good chance it is just a latent bug in m4 that is uncovered by compiler optimization. It will take a lot of time to track this down so I would rather not pursue it. Can you force m4 to use gcc instead?

[2022-11-10 16:43] rscohn2 commented on #33371
@ye-luo : I made the change you requested: https://github.com/spack/spack/pull/33795
I also added tbb/omp support

[2022-11-10 16:47] rscohn2 commented on #32878
I believe we block mirroring because the license does not allow 3rd party redistribution.

[2022-11-10 16:59] dylex commented on #33806
Here's what I'm getting:
[code]

[2022-11-10 17:01] quellyn commented on #32878
Thanks for the reply, @rscohn2.

Mention my colleagues @jennfshr and @dshrader, as they maintain a source code mirror for us and may not be aware of this.

[2022-11-10 17:39] eugeneswalker commented on #33178
Yes, I can. Thank you for looking into this.

[2022-11-10 18:07] vectorflux commented on #30133
I have the same problem, namely Error: Invalid url format from url: git@github.com:C2SM/icon-exclaim.git.  It can be cloned by hand fine.  But the prefix "ssh://" does not work for me:  git = "ssh://git@github.com:C2SM/icon-exclaim.git"  give the error:  "ssh: Could not resolve hostname github.com:C2SM"  (and it cannot be cloned by hand with the prefix).  Am I missing something obvious?

[2022-11-10 18:09] vsoch opened #33820 "Gnome download urls for libxml2 are borked"
You can see the failure here:

https://github.com/rse-ops/docker-images/actions/runs/3438939020/jobs/5735638900#step:8:119

And a manual test:

https://download.gnome.org/sources/libxml2/2.10.1/libxml2-2.10.1.tar.xz

I see:

![image](https://user-images.githubusercontent.com/814322/201173415-ae60bcaf-b3bb-4aa6-9a7c-3535ef39574f.png)

Here is where it's being derived:

https://github.com/spack/spac

[2022-11-10 18:43] alalazo commented on #33808
Fixed by #33770

[2022-11-10 18:43] #33808 closed, assigned to nobody

[2022-11-10 19:57] glennpj commented on #33808
Oh, sorry; I somehow missed that.

[2022-11-10 20:15] jeffmacdonald7 commented on #33816
so the problem is that perl does not download from www.cpan.org.

from the same EXACT machine I can use curl to get perl
this works
curl http://www.cpan.org/src/5.0/perl-5.36.0.tar.gz --output perl-5.36.0.tar.gz

wireshark shows
GET /src/5.0/perl-5.36.0.tar.gz HTTP/1.1
Host: www.cpan.org
User-Agent: curl/7.68.0
Accept: */*

HTTP/1.1 200 OK                    << NICE data incoming.
Connection: keep

[2022-11-10 20:52] alalazo commented on #33808
No worries. As an explanation for the cryptic error, in #30738 we moved methods from one class hierarchy to another.

`AutotoolsPackage` doesn't have anymore an `install` method, so if people call the method on a specific class, like `AutotoolsPackage.install`, they won't find it. To maintain an almost complete backward compatibility with the recipes we've got in the `builtin` repository, I coded

[2022-11-10 22:34] jpbrodsky opened #33827 "py-numpy compilation fails with clang/10.0.1/include/altivec.h:55:19: error: unknown type name 'vector'"
Architecture: power9.
Compiler: clang 10.0.1
Concretization:
[code]

(note: openblas would not compile with clang, so I switched it to gcc in the environment's spack.yaml)

Error message:
[code]

In the past, I've compiled py-numpy on this system using spack and clang 14. I'd keep using clang 14 but the version on this system is bound to the gcc4.9 toolchain and one compilation step (root) does no

[2022-11-10 22:35] jpbrodsky commented on #33827
@adamjstewart tagging you as you requested

[2022-11-10 23:18] adamjstewart commented on #33827
@rgommers

[2022-11-11 11:33] rgommers commented on #33827
This is an older numpy release, 1.21.3. Some issues with SIMD instructions for PowerPC have been fixed in the past couple of releases. You also need a recent enough compiler. For GCC I think we need at least 8.0, not sure about Clang on PowerPC specifically.

[2022-11-11 15:48] adamjstewart commented on #33827
@rgommers it would be great to add all of this knowledge in as `conflicts` in the package so that Spack can automatically choose the right numpy/compiler version or fail with a useful error message. Is there any detailed documentation of supported OS/compiler versions? If not, we'll have to continue to add things ad hoc like this.

[2022-11-11 15:55] rgommers commented on #33827
There is no single document. For platforms like PowerPC we don't really know, because there's no CI for it. This is probably the most useful overview of what we do know: http://scipy.github.io/devdocs/dev/toolchain.html#compilers.

[2022-11-11 16:11] jeffmacdonald7 commented on #33816
previously i was trying this on ubuntu 20.04, today I tried on new box ubuntu 22.04.  same error

==> [2022-11-11-11:03:00.083351] Checking existence of https://mirror.spack.io/perl/perl-5.36.0.tar.gz
==> [2022-11-11-11:03:00.457176] Failure reading URL: Download failed: HTTP Error 404: Not Found
==> [2022-11-11-11:03:00.457415] URL does not exist: https://mirror.spack.io/perl/perl-5.36.0.tar.gz
=

[2022-11-11 16:21] haampie commented on #33816
can you access those urls with `curl` or `wget`?

[2022-11-11 16:25] haampie commented on #33816
Can you download it with vanilla `urllib`?

[code]

[2022-11-11 16:52] jeffmacdonald7 commented on #33816
Yes curl works fine from the same exact machine....no containers or
firewall issues

On Fri, Nov 11, 2022, 11:22 AM Harmen Stoppels ***@***.***>
wrote:

[2022-11-11 16:55] haampie commented on #33816
I meant urrlib not curl/wget

[2022-11-11 16:58] jeffmacdonald7 commented on #33816
is there typo in that command ?

python -c 'import urllib.request; print(urllib.request.urlopen("http://www.cpan.org/src/5.0/perl-5.36.0.tar.gz").status)'
Traceback (most recent call last):
  File "<string>", line 1, in <module>
ImportError: No module named request

[2022-11-11 17:04] haampie commented on #33816
Hm, it's Python 3 API, maybe `python3 -c ...` or `spack python -c ...`

[2022-11-11 17:08] jeffmacdonald7 commented on #33816
yes that worked.
python3 -c 'import urllib.request; print(urllib.request.urlopen("http://www.cpan.org/src/5.0/perl-5.36.0.tar.gz").status)'
200

[2022-11-11 18:56] w8jcik commented on #32675
I can confirm that this still happens on the current version of Arch Linux.

[code]

It is not possible to build GCC 11.3, 10.4, 9.5 from Spack, probably other versions. Although GCC 12.2.0 builds fine.

Also the temporary workaround works. Thank you @hseara

[2022-11-11 21:23] adamjstewart commented on #33827
Is there historical info for that? If it's stored in the same git repo, I guess someone could go back in time and see which release bumped min compiler versions. Would be great to translate that to Spack package conflicts.

[2022-11-11 22:04] frobnitzem commented on #31154
Is #3515 related?  In my opinion, there needs to be a plan for splitting 3 different things:

1. spack's repository of available packages (facts about how packages depend on one another)
2. spack's management process for what's currently installed (including the DB) - perhaps even isolating the "compile and install" function
3. workflows built on top of spack (e.g. concretize these specs, compile

[2022-11-12 00:02] #33769 closed, assigned to nobody

[2022-11-12 02:11] rouault opened #33857 "GDAL: "./spack install gdal +netcdf" fails on Ubuntu 20.04"
### Steps to reproduce

[code]

Might be related to https://github.com/spack/spack/issues/12586

Workaround:
[code]

### Error message

[code]

but
[code]

### Information on your system

[code]

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have searched the issues of this repo and believe this is not a duplicate
- [X] I h

[2022-11-12 02:23] adamjstewart commented on #33857
Ah, this is relatively easy to explain/solve. The first time you run Spack, it searches your OS for compilers and puts them in a `compilers.yaml` file (generally in `~/.spack/linux/compilers.yaml`, although this file can live in other locations too). If you don't have a Fortran compiler available when this happens, Spack won't update `compilers.yaml` for you, even if you install it later. You can

[2022-11-12 02:40] rouault commented on #33857
ah that it did (I also had to apt install gfortran-10). thanks!
Closing

[2022-11-12 02:40] #33857 closed, assigned to nobody

[2022-11-12 06:15] accopeland commented on #17152
Same issue on spack v0.18 and applying hartzell's solution (deleting that entire setup_build_environment function in the ripgrep package.) also worked for me on Rocky Linux release 8.6 (Green Obsidian)

[2022-11-12 08:47] rgommers commented on #33827
The toolchain doc itself was created in 2019 [commit](https://github.com/scipy/scipy/commit/651c83d43263bc51d44872c0bdf47a17f89a70a2). That only has info on MSVC; most of the rest came in about 1.5 years ago [commit](https://github.com/scipy/scipy/commit/020d0f92c2203a40652217a353df566dfb7cd347). That 1.5 years is the most interesting though - for example, minimum GCC was 4.8 for many years up to

[2022-11-12 11:54] boontham33345 commented on #33827
Good

[2022-11-12 11:54] boontham33345 commented on #33820
Good

[2022-11-12 13:41] jeffmacdonald7 commented on #33816
WORKAROUND_IDEA:

I wonder if I manually download and install http://www.cpan.org/src/5.0/perl-5.36.0.tar.gz would spack
realize its already installed and hence work around this issue ?    Or is spack always going to try and download http://www.cpan.org/src/5.0/perl-5.36.0.tar.gz  weather its installed locally allready or not ?

[2022-11-12 13:56] haampie commented on #33816
You can make Spack use `curl`: `spack config add config:url_fetch_method:curl`.

If you get to the bottom of why `urllib` doesn't work for you in Spack, that'd be great to share.

[2022-11-12 14:24] cessenat opened #33863 "Installation issue: silo+silex on Rhel8"
### Steps to reproduce the issue
Probably @markcmiller86 could help : silex installation on Rhel8

[code]
`spack install silo@4.11~mpi~fortran+silex ^hdf5~mpi`

### Error message

<details><summary>Error message</summary><pre>
==> Installing qt-4.8.7-rfmxb254guql3ro5zsajit2wfglbckji
==> No binary for qt-4.8.7-rfmxb254guql3ro5zsajit2wfglbckji found: installing from source
==> Fetching https://mirro

[2022-11-12 19:59] gustavoberman opened #33866 "Installation issue: py-pyqt5"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
==> Installing py-pyqt5-5.13.1-c7ok2d3elnimd24lvim6py4wdxfea6f2
==> No binary for py-pyqt5-5.13.1-c7ok2d3elnimd24lvim6py4wdxfea6f2 found: installing from source
==> Using cached archive: /share/apps/spack/var/spack/cache/_source-cache/archive/54/54b7f456341b89eeb3930e786837762ea67f235e886512

[2022-11-13 00:15] gustavoberman commented on #33866
Looks like same problem that [https://github.com/spack/spack/issues/33806](url)
#33806

[2022-11-13 08:06] fsimonis commented on #33790
Have you loaded the precice before running the tests?

[code]

[2022-11-13 12:48] jeffmacdonald7 commented on #33816
Perfect!!!!! let me try that on Monday.    Thanks Harmen.

On Sat, Nov 12, 2022 at 8:57 AM Harmen Stoppels ***@***.***>
wrote:

[2022-11-13 18:44] kindjie commented on #15642
This still happens on the latest version of Spack.

[2022-11-13 19:25] shahzebsiddiqui opened #33878 "Specify location for installing gpg key in default configuration"
### Summary

@adamjstewart

It would be helpful to the default spack configuration `$SPACK_ROOT/etc/defaults/config.yaml` with configuration to specify where GPG key will be installed.

# What is the problem trying to solve
This will be useful when one has to do `spack buildcache keys -it` as a user it will install the GPG key outside of spack this also fix the issue where facility do a spack depl

[2022-11-13 20:40] nish-ant commented on #33790
No. But I have installed preCICE (along with OpenFOAM) in a `spack` environment which I activated before running the tests. That should have been sufficient, right?

[2022-11-13 21:30] adamjstewart commented on #33866
Yep, closing as duplicate of #33806

[2022-11-13 21:30] #33866 closed, assigned to nobody

[2022-11-14 13:46] ChristianTackeGSI opened #33889 "`target` not honored in environment/`spack.yaml`"
### Steps to reproduce

[code]

Note the `skylake_avx512` and not `zen`.

This used to work in at least 0.16 (probably 0.17).

### Error message

_No response_

### Information on your system

* **Spack:** 0.19.0.dev0 (a4cec82841228266d10734ecae2056f2980bf482)
* **Python:** 3.9.2
* **Platform:** linux-debian11-skylake_avx512
* **Concretizer:** clingo

### General information

- [X] I have run `spa

[2022-11-14 13:49] haampie commented on #33889
You will want to use package requirements now instead of package preferences: https://spack.readthedocs.io/en/latest/build_settings.html#package-requirements the docs have been updated to suggest requirements first. See the first paragraph of https://spack.readthedocs.io/en/latest/build_settings.html#package-preferences too

[2022-11-14 14:04] ChristianTackeGSI commented on #33889
Hi @haampie, thanks for your very fast answer!

[code]

What am I missing? (`spack -d` just gives a big stack trace, but nothing more useful it seems to me.)

(#32528 should be fixed in my version, right?)

Which exactly lists the `target`?

[2022-11-14 14:35] haampie commented on #33889
Hm @alalazo can you have a look?

[2022-11-14 15:04] alalazo commented on #33889
By default we only consider targets that are compatible with the current host, so you would need to:
[code]
before trying to compile for `zen` on a `skylake`. ~That said it seems we have some regression with preferences and requirements, since adding the above I am able to force targets from cli, but not from `packages.yaml`. I'll check why's that and report any findings here.~ [^1]

[^1]: Apologi

[2022-11-14 15:21] ChristianTackeGSI commented on #33889
Okay, This seems to work better now:
[code]

NOTE: If the old syntax is supposed to not work any longer, why is there no warning (with a suggestion to move to the `require:` syntax)?

Also from the docs it seems that the old and new syntax have different semantics? The old was a "preference" while the new one is a "requirement"?

[2022-11-14 15:23] alalazo commented on #33889
They should both work. The old syntax is a preference, so Spack might do something different. The new syntax is a requirement, so Spack will either use that target or error.

[2022-11-14 15:24] jeffmacdonald7 commented on #33816
trust me, once I figure this out...Ill share

[2022-11-14 15:29] ChristianTackeGSI commented on #33889
Okay, it looks like the concretizer/targets/host_compatible=false setting also makes the old syntax work.

I'll leave it to you, whether or not it is feasible to note that setting in the concretization error?

Many thanks for the clarifications!

[2022-11-14 15:37] jeffmacdonald7 commented on #33816
AFTER running
# spack config add config:url_fetch_method:curl

now spack SUCCESSFULLY downloads and installs perl-5.36.0

many Thanks haampie!

[2022-11-14 15:37] adamjstewart commented on #28256
@alalazo would really love to be able to run `spack audit packages` after removing Python 2 to see which packages break... but need macOS support for this command first.

[2022-11-14 15:41] alalazo commented on #33889
I'll close this issue for now. Pinging both @becker33 and @scheibelp since the conversation here might be useful for the discussions that are currently ongoing on better error messages from clingo.

[2022-11-14 15:41] #33889 closed, assigned to alalazo

[2022-11-14 15:50] fsimonis commented on #33790
This should work, so I am a bit out of ideas.

[2022-11-14 16:21] jeffmacdonald7 commented on #33816
Im going to close this issue.

PROBLEM:
==> [2022-11-11-11:03:00.457904] Checking existence of http://www.cpan.org/src/5.0/perl-5.36.0.tar.gz
==> [2022-11-11-11:03:00.961662] Error: ConnectionResetError: [Errno 104] Connection reset by peer

/usr/local/spack/lib/spack/spack/package_base.py:1455, in do_fetch:
1452
1453 self.stage.create()
1454 err_msg = None if not self.manual_download else self.do

[2022-11-14 16:21] #33816 closed, assigned to nobody

[2022-11-14 16:47] mkandes opened #33897 "Randomly (?) lose lmod hierarchy at mpi-level during spack-based deployment process"
### Steps to reproduce

We build and deploy a spack-based software stack using a relatively simple set of dependent slurm jobs at this time. e.g., see https://github.com/sdsc/spack/tree/sdsc-0.17.2/etc/spack/sdsc/expanse/0.17.2/cpu/specs. Recently, after moving to Spack v0.17.2, I came across a problem where I would occasionally lose the lmod hierarchy at the mpi-level during the deployment of mpi

[2022-11-14 17:12] mkandes commented on #33897
Is there a way to force a rebuild of module-index.yaml?

[2022-11-14 17:27] mkandes commented on #33897
It seems like the intel compiler lmod config dir was lost at some point ... normal deployment ...

[code]

bad deployment that lost hierarchy ...

[code]

[2022-11-14 18:33] #33112 closed, assigned to nobody

[2022-11-14 19:31] psakievich opened #33899 "Upstreams using specialized repos fail to concretize"
### Steps to reproduce

Recently spack has stopped working with an upstream that we've been using for months.  The upstream has it's own repo called `cde` where some package modifications are done.
Now when we try to concretize we get an `Unknown namespace error`.

[code]

### Error message

[code]

### Information on your system

* **Spack:** 0.19.0.dev0 (f92987b11fec53423d777bd6818e12c71810a8d5)

[2022-11-14 19:40] blue42u commented on #33547
We're seeing these two races in HPCToolkit's CI on one of our CI runners (very underpowered machine):

## Binary index cache hang
[code]

## Binary index cache race
[code]

[2022-11-14 20:07] wyphan opened #33901 "Spack detects Apple Clang as CCE on macOS"
### Steps to reproduce

On a fresh Spack clone on Apple M2 (2022 model), running Monterey,
[code]
detects `/usr/bin/cc` as the Cray compiler wrapper `cc`, even though it is really `apple-clang` in disguise. Same goes with `spack compiler find`.

Terminal output of `spack -d external find --all`: [spack-external-find-all.log](https://github.com/spack/spack/files/10006608/spack-external-find-all.log

[2022-11-14 20:18] jeffmacdonald7 commented on #31831
Im install VASP6.3.2 and getting same dont recognize -fallow-argument-mismatch

 spack debug report
* **Spack:** 0.19.0.dev0 (d49c992b230f544deeed13fb193d779a53f2f201)
* **Python:** 3.8.10
* **Platform:** linux-ubuntu20.04-zen3
* **Concretizer:** clingo

I dont know how to get rid of it.   I've delete any mention of "allow-argument-mismatch" from all the makefile.includes, but it  keeps coming BAC

[2022-11-14 23:33] blue42u opened #33907 "Installation issue: libxcrypt"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary>

[code]

</details>

### Information on your system

* **Spack:** 0.20.0.dev0 (2cd7322b11f3d0a46b6b2400925371ca3319dfe7)
* **Python:** 3.10.7
* **Platform:** linux-almalinux8-zen2
* **Concretizer:** clingo

### Additional information

[spack-build-out.txt](https://github.com/spack/spack/files/100

[2022-11-15 11:29] pauleonix commented on #30959
Was this fixed by #31054 ?

[2022-11-15 13:31] alalazo commented on #33347
@johnwparent Is there any update on this? I see fewer failures in Windows tests, but they are still :heavy_check_mark: when they fail.

[2022-11-15 14:09] johnwparent commented on #33347
@alalazo We merged a PR cleaning up a number of the failures, #33385 is designed to fix the false positive issue and clean up the rest of the tests, if I could just get the CI to run.

[2022-11-15 14:22] nish-ant opened #33913 "Error with `spack add`"
### Steps to reproduce

I am running `spack add` to install pacakge:
[code]

### Error message

I get the following error:
[code]
This error is same with other packages:
[code]

### Information on your system

* **Spack:** 0.19.0.dev0 (a4cec82841228266d10734ecae2056f2980bf482)
* **Python:** 3.9.2
* **Platform:** linux-centos7-skylake_avx512
* **Concretizer:** clingo

### General information

- [X]

[2022-11-15 15:55] #32878 closed, assigned to nobody

[2022-11-15 16:42] prehensilecode commented on #33178
How does one configure spack to make all packages use m4%gcc?

[2022-11-15 16:51] eugeneswalker commented on #33178
[code]

And in the `packages.yaml`:
[code]

[2022-11-15 17:00] jeffmacdonald7 commented on #31831
nevermind, I figured out my issue.    I had to open up vasp.6.3.2.tgz   edit makefiles so that NONE of them mention -fallow-argument-mismatch.   Then tar and gzip vasp.6.3.2.tgz.   However spack had the old .tgz cache in /tmp/root/blah blah.

# spack clean --all.    <<   solved that however then the sha256 hash no longer match for  vasp.6.3.2.tgz   I just changed vasp/package.py so that the sha256

[2022-11-15 18:01] balay opened #33923 "PYTHONPATH set by spack is broken on Fedora 37"
### Steps to reproduce

- setup system python in ~/.spack/packages.yaml
[code]
- spack install py-numpy

### Error message

[code]

### Information on your system

[code]

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have searched the issues of this repo and believe this is not a duplicate
- [X] I have run the failing comm

[2022-11-15 18:06] balay commented on #33923
Here `PYTHONPATH` is incorrectly set to `pkg-dir/local/lib64/python3.11/site-packages`  [and pkg-dir/local/lib/...] instead of the correct `pkg-dir/lib64/python3.11/site-packages`?

I don't see this issue on ubuntu-20.04 - where PYTHONPATH is set to `pkg-dir/lib/python3.8/site-packages` - and the python module is installed correctly in the same location

[code]

[2022-11-15 18:08] balay commented on #33923
Note: This issue triggers a build failure of `py-slepc4py` - as it fails to find/load dependent pkg `py-petsc4py`

[code]

[2022-11-15 18:19] adamjstewart commented on #33923
This is a known issue. For more discussion, see:

* https://github.com/pypa/pip/issues/10978
* https://github.com/spack/spack/pull/31939
* https://github.com/spack/spack/issues/32662
* https://github.com/spack/spack/issues/32769

TL;DR: the system Python on the majority of Linux distros (not just Fedora) contains a number of ungodly hacks to change the default behavior of distutils and setuptools.

[2022-11-15 19:21] ghost opened #33924 "output black formatted code suggestions for Error: RuntimeError: Cannot generate configure: missing dependencies msg to output"
Since all the package.py's got reformatted to black style formatting, shouldn't the following example change to double quoted:

[code]

corrected? version:

[code]

Not sure it there are other code suggestions that need modified.  I have the following diff I can put into PR if wanted:

[code]

[2022-11-15 21:18] mkandes commented on #33897
Potentially related thread - https://groups.google.com/g/spack/c/Hx_aqbjPTVE

[2022-11-15 21:46] mkandes commented on #33897
Potentially related thread - https://github.com/spack/spack/issues/30547

[2022-11-15 22:12] greenc-FNAL opened #33928 "Defaults in `package_base` unconditionally deactivate package checks for multiple build systems"
### Steps to reproduce

* Attempt to install a package with `--test=root` for a package using any of the build systems:
  * autotools
  * cmake
  * makefile
  * meson
  * nmake
  * python
  * qmake
  * racket
  * scons
  * sip
  * waf
* **IF** the recipe/build system defines checks at build or install time **AND** the relevant `XXX_time_test_callbacks` attribute is mentioned in the `legacy_attribu

[2022-11-15 22:16] greenc-FNAL commented on #33928
This issue appears to be the result of the defaulting of `build_time_test_callbacks` and `install_time_test_callbacks` to `None` in `PackageBase` in conjunction with the listing of either or both of these items as `legacy_attributes`.

In the case where the recipe's package class does not override the default, then the `None` default from `PackageBase` overrides anything set by the builder in eith

[2022-11-15 23:28] adamjstewart commented on #32893
@becker33 assigning this to you since you mentioned it shouldn't be hard to add this feature to the new concretizer and that it used to exist in the old concretizer. Feel free to re-assign if someone else has more time to work on it.

[2022-11-16 11:08] #33924 closed, assigned to nobody

[2022-11-16 13:49] pauleonix opened #33938 "Installation issue: intel-tbb"
### Steps to reproduce the issue

After finding https://github.com/oneapi-src/oneTBB/issues/859 I assume that the problem is caused by `binutils@2.27` from the centos7 repos being used. But adding a `build` and `link` dependency to `binutils@2.31:` doesn't seem to help.

[code]
The used compiler is
[code]
### Error message

<details><summary>Error message</summary><pre>
==> Error: ProcessError: Co

[2022-11-16 16:16] greenc-FNAL commented on #33928
This issue and #33942 are both applicable to `develop` and `releases/v0.19`

[2022-11-16 18:13] psakievich commented on #33899
@becker33 looks like this is due to #32434

[2022-11-16 18:36] carsonwoods opened #33947 "`spack load --list` should list active environment packages"
### Summary

`spack load --list` shows all packages which have been loaded by running `spack load [spec]`. This is useful, but doesn't fully serve the case for users who use Spack environments. When an environment is active, running `spack load --list` returns nothing (aside from packages explicitly loaded by the user). I would like for the command to list all packages in the environment to reduce

[2022-11-16 19:36] #33806 closed, assigned to nobody

[2022-11-16 19:41] rgmiller opened #33950 "Installation issue: libxml2"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
==> Ran patch() for libxml2
==> libxml2: Executing phase: 'autoreconf'
==> libxml2: Executing phase: 'configure'
==> Error: ProcessError: Command exited with status 1:
    '/tmp/xmr/spack-stage/spack-stage-libxml2-2.10.1-5v6usyzivmtc5gjmbya2mgwf6356rle5/spack-src/configure' '--prefix=/home/x

[2022-11-16 19:45] besser82 commented on #33907
The build-error comes from an incomplete Perl installation.  RHEL-based distros, starting with Fedora 27 or RHEL 8, are just shipping a reduced, yet POSIX compliant, Perl stack with their default installation.
See: https://fedoraproject.org/wiki/Changes/perl_Package_to_Install_Core_Modules.

To get the full Perl core stack installed on the system, which is recommended for (cross-)compilation envir

[2022-11-16 21:45] blue42u commented on #33907
@besser82 Thank you for the advice. I've implemented something like `dnf install perl` for my use case (it's a container image I have direct control over).

While this fixes the build, IMHO this is not a suitable solution for Spack, which should work so long as the [documented prerequisites](https://spack.readthedocs.io/en/latest/getting_started.html#system-prerequisites) are met. A full Perl core

[2022-11-17 01:55] #32374 closed, assigned to nobody

[2022-11-17 02:28] #33127 closed, assigned to nobody

[2022-11-17 02:42] #33148 closed, assigned to nobody

[2022-11-17 02:56] #28170 closed, assigned to nobody

[2022-11-17 07:03] renjithravindrankannath commented on #33797
hip package updates in PR  #33320 includes the fix for this issue.

[2022-11-17 08:32] honghh2018 commented on #33807
Had anyone hear this?

[2022-11-17 08:50] simonpintarelli commented on #33797
@renjithravindrankannath @srekolam Thank you for the fix!

[2022-11-17 08:50] #33797 closed, assigned to nobody

[2022-11-17 10:27] besser82 commented on #33907
For Debian / Ubuntu the requirements say: `apt install build-essential …`, which in turn installs a full Perl core stack by dependencies on `dpkg-dev`…  So to be fair with rpm-based distributions, one should install the same set of packages there, too, e.g. adding Perl to the list of needed packages, as it is considered to be a build-essential package by Debain / Ubuntu.  MacOS ships a full Perl c

[2022-11-17 10:56] haampie commented on #33907
We always add Spack's `perl` as a build dep when possible, for example in `openssl`, `openblas` etc. I don't think we want to explicitly have `perl` as a prerequisite for Spack, since so far it wasn't required. As far as I know, `libxcrypt` is the only Perl dependency that requires Perl.

Also, it's rather awkward to disable `crypt` support from Perl, it seems to require a patch, there's no single

[2022-11-17 13:01] Orchal commented on #12520
Hi, works for me. I made a symlink of /usr/lib64/openmpi then I added a symlink of /usr/include/openmpi-[...] inside of the symlink.

It builds that way

[2022-11-17 13:34] robertu94 commented on #31581
I was just thinking about this this morning. We can just use `cuda_arch=none` for now or `hip_arch=none` etc...

Detecting things like cuFile support (which requires a cooperating file system) can be done with commands like `gdscheck` included with `cuda@11.7.1:`, but is in many ways orthogonal to the architecture (although it requires it).

The later raises questions about how to account for Inte

[2022-11-17 15:26] fspiga commented on #33693
cc https://github.com/spack/spack/pull/33968

[2022-11-17 17:04] blue42u commented on #33907
@haampie Could Spack add a `perl-bootstrap` package that is *only* used to build `libxcrypt`? I think it wouldn't matter if it uses the system libcrypt or even if the `crypt` support is disabled, it's only purpose is to bootstrap a full `perl` which other packages will use.

[2022-11-18 02:13] adamjstewart opened #33985 "Better concretizer error message: Cannot satisfy requirement group for package"
### Summary

Okay, this one was my own dumb fault. I added a `packages.yaml` along the lines of:
[code]
then later forgot about this and tried to install a newer version:
[code]
I'm wondering if we can somehow improve this message to clarify that:

1. I, the user, expressly forbid this in `packages.yaml`
2. Specifically, `~/.spack/packages.yaml`
3. And if I want to allow this, I need to delete thi

[2022-11-18 02:17] vitduck opened #33986 "How to force spack to use dependencies built by core compiler ?"
Hello,

I've gone through the module file tutorials and successfully set up my environment.
Below is the result for ```spack find``` with the most relevant entries for my question.
[code]
Since spack categorizes software according to compiler versions, ```autoconf``` and many other minor dependencies were automatically recompiled. ```nvhpc``` is somewhat picky, and often fails to compile dependenc

[2022-11-18 02:32] adamjstewart commented on #31366
@becker33 did you mention a PR that fixed this? This bug isn't that severe, but it is really annoying and visible.

[2022-11-18 03:02] adamjstewart opened #33987 "Bootstrapping on Apple Silicon fails if using a non-native x86_64 interpreter"
### Steps to reproduce

When I try to run Spack for the first time, it attempts to bootstrap clingo. We're supposed to have binaries available now, but these don't work:
[code]
Spack instead bootstraps clingo from source, which takes ~20 min.

### Error message

_No response_

### Information on your system

* **Spack:** 0.20.0.dev0 (baec1b75f71d33c675fbb50451a704f6ac02c427)
* **Python:** 3.8.9
*

[2022-11-18 04:44] bernhardkaindl commented on #33693
@fspiga We need to see the compiler path of the %gcc@11.2.0 you've specified for the build:
[code]

[2022-11-18 05:01] alalazo commented on #33987
I can't reproduce on:

* **Spack:** 0.20.0.dev0 (2060d51bd060feeed01bed61f347f60e5c835518)
* **Python:** 3.8.9
* **Platform:** darwin-monterey-m1
* **Concretizer:** clingo

which is the only Apple M1 machine I have access to. What I get there is:

![Screenshot from 2022-11-18 06-00-32](https://user-images.githubusercontent.com/4199709/202621721-1d16ddba-244c-4004-8dd1-f62ab9d3556b.png)

[2022-11-18 05:02] alalazo commented on #33987
I am wondering what is the difference between the two machines, and if it is also related to code signing or similar issues. The machine above is the same one which we use to generate the binaries.

[2022-11-18 05:26] alalazo commented on #31366
This should be solving the issue #33817

[2022-11-18 05:37] adamjstewart commented on #33987
Let me know if there's any debugging steps I can try.

[2022-11-18 05:52] adamjstewart commented on #29735
I'm hitting a similar issue, or at least a similar error message. When building on M1, packages like libffi and openblas fail with messages like:
[code]
This seems to suggest that my compiler thinks it is an x86_64 compiler, not an aarch64 compiler. Any idea what could cause this?

[2022-11-18 05:58] adamjstewart commented on #29735
Figured it out, I knew I had seen this before.

The first `python3` in my `PATH` was an x86_64 executable (built by homebrew) running in Rosetta mode. If I set `SPACK_PYTHON=/usr/bin/python3` and use that aarch64 built Python, all of my builds magically succeed. Any idea why the Python used to run Spack would affect the build like this? `spack arch` still reports aarch64 regardless, so I'm not sur

[2022-11-18 06:07] adamjstewart commented on #33987
Remind me tomorrow to check if this is related: https://github.com/spack/spack/issues/29735#issuecomment-1319580661

[2022-11-18 06:18] alalazo opened #33989 "Intermittent failures in unit-tests related to stages"
### Steps to reproduce

In the last few days I have seen a couple of times the macOS unit tests failing (in different tests) with error messages resembling [this one](https://github.com/spack/spack/actions/runs/3494510671/jobs/5850374251). There is no clear step to reproduce so far, other than it's always related to stages.

### Error message

![Screenshot from 2022-11-18 07-17-03](https://user-im

[2022-11-18 06:19] alalazo commented on #33989
@haampie fyi

[2022-11-18 10:32] alalazo commented on #33928
Confirmed. Thanks for reporting the issue!

[2022-11-18 12:10] haampie opened #33993 "`spack uninstall`"
### Steps to reproduce

Spack uninstall is still not great:

- [ ] `uninstall --dependents` is too greedy, it traverses through build type edges
- [ ] `spack uninstall %gcc` prints a never-ending list of error messages:
[code]
- [x] dependencies are uninstalled before dependents, leading to error messages about inconsistent state of the DB
- [x] it takes a long long time to run e.g. `spack uninsta

[2022-11-18 13:05] bernhardkaindl commented on #33693
If you didn't use e.g. a gcc-11.2.0 build by Linuxbrew but used spack to build the gcc-11.2..0:

This should be fixed when #33190 and #33994 are reviewed and merged.

You'll have to rebuild the gcc build by spack with `spack install gcc@11.2.0+binutils` in this case to get also the binutils from spack. Alternativelly, a recent clang should work as well, or install a newer RH toolchain as described

[2022-11-18 13:11] brada4 commented on #33693
for targetting neoversen1 you need to remove dynamic_arch and use TARGET=NEOVERSEN1 xor use TARGETLIST to allow alternate codepaths for more functional CPUs than host.

[2022-11-18 14:09] certik commented on #29735
My experience is that Spack should build its own Python and only use that, otherwise thing are incredibly fragile on macOS with the system Python. I hit so many bugs like these.

[2022-11-18 15:34] psakievich opened #33996 "Using `--scope user` when `SPACK_DISABLE_USER_SCOPE` is set gives unintelligible error messages"
### Steps to reproduce

I accidentally had `SPACK_USER_DISABLE_CONFIG` set and couldn't figure out what was going on.

[code]
`user` is being included as a scope option in one part of the message, but excluded in the next

### Error message

[code]

### Information on your system

* **Spack:** 0.20.0.dev0 (2060d51bd060feeed01bed61f347f60e5c835518)
* **Python:** 3.7.5
* **Platform:** linux-rhel7-sk

[2022-11-18 15:50] adamjstewart commented on #33987
Yep, that was the issue. The following Python's work and I can successfully bootstrap from binary:

* `/usr/bin/python3`, Python 3.9.6, universal binary with 2 architectures: x86_64, arm64e
* Spack-installed, Python 3.10.8, arm64

The following Python's don't work and require bootstrapping from source:

* `/usr/local/bin/python3`, Python 3.8.9, bash script that runs x86_64 executable, Homebrew-ins

[2022-11-18 15:53] adamjstewart commented on #29735
In this case, the system Python (`/usr/bin/python3`) works great, it's Homebrew Python that breaks everything. Note that Spack is still installing its own Python in the DAG, the issue is with the Python used to run the Spack executable. Anyway, just mentioning this in case anyone else runs into this issue (_ahem_, future me) and maybe this will be a potential fix for them.

[2022-11-18 15:55] alalazo commented on #33987
Aargh, this is yet another issue! On Apple M1 we assume you are using an interpreter supporting arm64 code for the binaries. We don't have logic to check whether the interpreter is meant for x86_64 only and try to bootstrap with other binaries :cry:

[2022-11-18 16:02] adamjstewart commented on #33987
Well at least we now know. Something to watch out for in case other users report issues. Hopefully this Homebrew x86_64 thing is uncommon.

[2022-11-18 17:13] dylex opened #34003 "Installation issue: libvips-8.10.5"
libvips (now a dependency of npm, since #33724) fails to build with errors like
[code]
This seems to be due to this issue, which has been long fixed in more recent libvips versions: https://github.com/libvips/libvips/issues/1987

[2022-11-18 18:15] TBird2001 commented on #32859
I did some more digging. The problem is the following line at the very end of the "package.py" file:
[code]
The `copy-dt-needed-entries` flag is not supported by clang. The flag was introduced in commit 89cc16a9cd back in April.

[2022-11-18 18:40] adamjstewart commented on #32859
@haralmha can you take a look at this? Maybe we can limit this flag to only certain compilers, or use a different flag for clang.

[2022-11-18 21:22] greenc-FNAL opened #34006 "Attempting to execute test callbacks fails with padded installs"
### Steps to reproduce

[code]

[ Specifying a Perl package avoids dependence on whether #33928 has been fixed ]

### Error message

[code]

### Information on your system

* **Spack:** 0.19.0 (9c020da21df641256b2f799073abc7f714c0f3c3)
* **Python:** 3.6.8
* **Platform:** linux-scientific7-skylake_avx512
* **Concretizer:** clingo

### General information

- [X] I have run `spack debug report` and r

[2022-11-18 21:22] #33928 closed, assigned to greenc-FNAL, alalazo

[2022-11-19 02:14] zeronewb opened #34012 "spack mirroring hungs"
### Steps to reproduce
Clean room env for CI ( without keys, github fingerprints, etc )
spack mirror create -d ~/mirror --all
Wait for a day or two ( nic and wan speed 10g+ ).

Mirroring is slow due to nested loops and direct invocations of curl binary; please, consider switching to PycURL  + asyncio with pools, or to PyPy, if you don't like external libs.

### Error message

_No response_

### In

[2022-11-19 12:02] #34006 closed, assigned to nobody

[2022-11-19 13:14] simonpintarelli opened #34016 "spack arch reports linux on cray system"
### Steps to reproduce

It seems spack is not detecting correctly that it is running on a cray system. I noticed it because suddenly all builds are getting linked with cray libsci.

[code]
Expected result `cray-sles15-zen`, but it prints `linux-sles15-zen2`.

According to git bisect the following commit https://github.com/spack/spack/commit/53fbaa5dcded49d4fa04ee307813071873dab4f3 is causing the p

[2022-11-19 17:58] zeronewb commented on #34012
Related
https://github.com/spack/spack/issues/13604
https://github.com/spack/spack/pull/14616
Please, consider switching to at least https://github.com/libgit2/pygit2, instead of spawning a subshell with git running;
and, please, provide options for creating a mirror directly from s3, with help of AWS SDK.

[code]

[2022-11-19 18:03] bernhardkaindl commented on #33696
I cannot reproduce with ncurses, but reproduce a similar error with `spack -d install -v berkeleygw:
* **Spack:** 0.19.0.dev0 (0f0f5332b66562f182e9b24ea9f0fb650b7f3332)
* **Spack:** 0.20.0.dev0 (2f057d729da61e8c12828df44377f0a93fed820f)
* **Python:** 3.8.10
* **Platform:** linux-ubuntu20.04-zen2
* **Platform:** linux-ubuntu20.04-neoverse_n1
* **Concretizer:** clingo
After the install phase:
[code]

[2022-11-19 18:24] adamjstewart commented on #34016
This is by design, see #29392

[2022-11-21 00:34] climbfuji opened #34028 "Removal of PYTHONHOME from Python package causes build errors with ecflow"
### Steps to reproduce

The ecflow package apparently requires PYTHONHOME to be set to the Python that is used by spack, for example when compiling boost. PYTHONHOME was removed from the Python `package.py` recently. In our macOS CI tests, this results in an error that boost builds correctly against the Python we want it to use (3.9.12 from homebrew), but ecflow picks the macOS system Python (3.11

[2022-11-21 08:05] iarspider opened #34031 "`spack -e ... config update config` fails"
### Steps to reproduce

[code]

### Error message

[code]

### Information on your system

* **Spack:** 0.19.0 (bb8b4f9979e87ae3fb63a3adcb768eda09e5b059)
* **Python:** 3.6.8
* **Platform:** linux-almalinux8-broadwell
* **Concretizer:** clingo

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have searched the issues of this re

[2022-11-21 08:28] iarspider commented on #34031
The failing check is here: https://github.com/spack/spack/blob/develop/lib/spack/spack/cmd/config.py#L248
which is due to the fact that `.../foo/spack.yaml` is indeed not a directory.

[2022-11-21 09:17] iarspider commented on #34031
After adding a simple "fix":
[code]

the update starts, but quickly fails:
[code]

[2022-11-21 10:23] mgiugliano opened #34033 "(Failed) install on Google Colab"
Any success while installing spack on Google Colab?

I had Python 3.7.15, gcc (Ubuntu 7.5.0-3ubuntu1~18.04) 7.5.0,

Trying
[code]

unfortunately failed, returning this error message...

[code]

Note: the build log file indicated above is empty (i.e. 0 bytes)

[2022-11-21 11:06] haampie commented on #34033
@tgamblin can you maybe look into this? Not only are these foreground/background tests failing half of the time, but they're also causing spack to break in Google Colab for no good reason :|.

[2022-11-21 11:11] haampie commented on #34012
libgit2 is poor quality, I don't think we want to use it.

See for example the list of issues Julia has with libgit2: https://github.com/JuliaLang/Pkg.jl/issues/2679 and more here: https://github.com/JuliaLang/julia/issues?q=is%3Aissue+is%3Aopen+libgit2+label%3Alibgit2

They even haven't fixed https://github.com/libgit2/libgit2/issues/4019 in 6 years, which causes issues all the time in HPC.

So i

[2022-11-21 13:02] zeronewb commented on #34012
Ok, valid point. Right now i just dropped all git repos for syncing.
P.S.  My 0.1 cents for MMAP issue, it works with NFS4+

[2022-11-21 16:09] franciscoadasme commented on #31831
Hey everyone,

I've finally compiled vasp v6.3.2 using AMD compiler suite and libraries successfully. The main issue is that the spack package is out of date with the Makefile files included in recent versions of VASP (maybe since v6.3 but I couldn't check that). The latest version, v6.3.2, includes Makefile files tailored for AMD (aocc/aocl) where some invalid flags like `-fallow-argument-mismatc

[2022-11-21 16:15] adamjstewart commented on #34028
@alalazo

[2022-11-21 16:21] alalazo commented on #34028
Thanks for the ping @adamjstewart I'll have a look at this asap.

[2022-11-21 16:55] alalazo commented on #34028
I see you have an updated version of `ecflow`! Would it be possible to upstream it? With the one in Spack the issues are old bugs due to incompatibility of Boost 1.69 and Python 3.10

[2022-11-21 16:57] adamjstewart opened #34037 "Installation issue: qt-base on macOS arm64"
### Steps to reproduce the issue

[code]

### Error message

[code]

### Information on your system

* **Spack:** 0.20.0.dev0 (684ae1106efee53d2925da43bf2864178d71378e)
* **Python:** 3.10.8
* **Platform:** darwin-monterey-m1
* **Concretizer:** clingo

### Additional information

* [spack-build-out.txt](https://github.com/spack/spack/files/10058500/spack-build-out.txt)
* [spack-build-env-mods.txt](

[2022-11-21 17:01] adamjstewart commented on #34037
As a workaround, `qt-base~network` seems to build fine. Ideally we should fix `qt-base+network`. If we can't fix that, we should consider adding a conflict or defaulting to False. This will also minimize the number of dependencies and speed up build times.

[2022-11-21 17:02] alalazo commented on #34028
The thing I'd try, once I have the updated version of the recipe you're working on, is to bump the requirement on CMake to v3.16+ and set [Python_EXECUTABLE](https://cmake.org/cmake/help/latest/module/FindPython.html#artifacts-specification) and other similar variables as needed to help CMake pick the correct interpreter.

[2022-11-21 17:17] climbfuji commented on #34028
Yeah, I was looking at the ECMWF atlas package (which we have as ecmwf-atlas in our fork, not yet in the spack repo) and for that one I am already setting `Python_EXECUTABLE`. See https://github.com/NOAA-EMC/spack/blob/d8bfe52ebbddf485c4455c64aaf8a79e8abfb3cc/var/spack/repos/jcsda-emc/packages/ecmwf-atlas/package.py#L69.

[2022-11-21 17:23] climbfuji commented on #34028
Yes, let me do this asap, and then we can try without PYTHONHOME in the Python pacakge, but with Python_EXECUTABLE in ecflow.

[2022-11-21 17:28] alalazo commented on #34028
For what is worth I can build the old version we have in Spack with some fixing to `Pyext/CMakeLists.txt`. Not sure what I did is still relevant for the next major version of `ecflow`.

[2022-11-21 17:37] climbfuji commented on #34028
https://github.com/spack/spack/pull/34038

[2022-11-21 20:32] simonpintarelli commented on #34016
Thank you, I should have read the commit message first. Looks like I need to remove the module section from the `compilers.yaml` then.

[2022-11-21 20:32] #34016 closed, assigned to nobody

[2022-11-21 22:28] adamjstewart opened #34049 "Install progress bar"
### Summary

It would be cool if `spack install` provided a progress bar so you don't have to be verbose to see how far along the package install is.

### Rationale

Downloading already has a progress bar, why not install?

### Description

This would only be possible for build systems like CMake and Meson that provide `[XXX/YYY]` percent completion updates. The idea would be to parse these live a

[2022-11-22 00:05] bernhardkaindl commented on #33696
@ax3l: I could reproduce it not with `ncurses` but with `berkeleygw`.

I bisected where the Error occurred first: It appears since https://github.com/spack/spack/pull/29761 (Enable/Disable Propagation for Compiler Flags & Variants) was merged.

I sent I pull request to fix this issue, see #34019, please have a try!

[2022-11-22 00:13] bernhardkaindl commented on #33020
@cosmicexplorer @adamjstewart @tgamblin Maybe discuss this in the upcoming TelCo @Nov 23nd?

[2022-11-22 03:44] bernhardkaindl commented on #33696
@ax3l Nevermind, I found out that the ncurses install error was fixed by #33682.

The install error after berkelygw was triggered by the recipe doing `spec.compiler_flags["fflags"].append(...)`

[2022-11-22 03:44] #33696 closed, assigned to nobody

[2022-11-22 14:22] #31366 closed, assigned to nobody

[2022-11-22 15:46] stevenrbrandt opened #34062 "pigz does not use spack environment"
### Steps to reproduce the issue

[code]
So after looking at the pigz makefile, it's clear what the problem is. There's no way to tell it where the zlib package, so if it's not on the system in the starndard place, it can't find it. I.e. it won't use spack. Also problematic is that it sets "CC=gcc". My suggested fix is in this git diff output.
[code]

### Error message

<details><summary>Error mes

[2022-11-22 15:49] giordano commented on #29350
For what is worth, I got the same error when building llvm 8.0.0, so this isn't specific to 13+

[2022-11-22 15:54] adamjstewart opened #34064 "`use_xcode = True` doesn't work for Xcode 13+"
### Steps to reproduce

Packages like `qt` require the full Xcode suite, and create a copy of the Xcode compilers in order to inject Spack's compiler wrappers. However, this seems to no longer work on newer versions of macOS.
[code]
This command opens a prompt asking the user to install Xcode command line tools. However, the command line tools, and the full suite, are both already installed.

###

[2022-11-22 16:00] haampie commented on #29350
I don't think we're gonna fix this in Spack. It's an issue in LLVM, they should check for the header s.t. it's an error caught during cmake/configure.

It happens when binutils is external and only runtime components are installed (e.g. binutils-dev is missing). If you're using externals you're telling Spack that it's a drop-in replacement for the Spack package.

[2022-11-22 16:03] giordano commented on #29350
That's indeed my case, but perhaps there should be a spack variant of binutils with only the runtime, to match what distro do?

[2022-11-22 16:05] haampie commented on #34062
This was fixed a long time ago in f583e471b86444f5dcbb83f3751db7fb835ab0be / 569884661992bd1dad39b1abb0b26167d6063baf, please upgrade spack

[2022-11-22 16:05] #34062 closed, assigned to nobody

[2022-11-22 16:41] hartsw commented on #34064
When you delete the build directory (so `/var/folders/j1/68dlgpr91vlgs26vty2c8xk80000gn/T/ajstewart/spack-stage` and whatever else) and re-run does it tell you that it's copying XCode over again?

Sometimes when I have issues with Qt and spack that seems to do the trick.

[2022-11-22 16:55] adamjstewart commented on #34064
The first time I ran `spack install qt`, I do remember it telling me that it's copying Xcode and not to interrupt the process.

I just ran `spack clean && spack install qt` but it's no longer printing this message. Is there somewhere else where this cache is maintained?

[2022-11-22 16:58] adamjstewart commented on #34064
It looks like `spack clean` doesn't touch this directory. If I manually remove it and try again, it does copy Xcode again. Is there a different `spack clean` flag that touches this location?

[2022-11-22 16:59] hartsw commented on #34064
I'm no spack expert, I've just done what you did and delete that directory manually.

[2022-11-22 17:01] adamjstewart commented on #34064
But yeah, when I delete that directory and try again, I encounter the same issue. It can't find make and asks me to install CLT.

[2022-11-22 17:41] sethrj commented on #34064
I wonder if this has to do with relocatable binaries on Apple silicon?

[2022-11-22 17:47] adamjstewart commented on #34064
Can anyone attempt to build Qt on x86_64 macOS with recent Xcode/macOS and see if this is limited to arm64?

[2022-11-22 18:52] gartung commented on #31401
@tgamblin This symbolic link relocation bug is now impacting Fermilab's use of buildcaches. In particular the relocation of binutils is broken because ld relies on a symbolic link to find libctf.so.0. @chissg is epsilon-delta away from have an automated CI build of our software with spack.

[2022-11-22 18:58] gartung commented on #31401
This link is listed in the install manifest
[code]
but the link is not being made.

[2022-11-22 19:01] gartung commented on #31401
I see part of the problem is that `lib/libctf.so.0.0.0` is listed in `relocate_binaries` but the link `libctf.so.0` is not listed in `relocate_links`

[2022-11-22 19:26] haampie commented on #31401
What spack version are you at? Multiple bugs (#33636, #33608) related to it have been fixed recently.

[2022-11-22 19:35] gartung commented on #31401
Latest commit merged into the Fermilab fork is 4bf964e6b36e8756b014c2e30343507c1cb71b03

[2022-11-22 19:40] payerle commented on #31582
I spoke to someone (I think it was Gregory Becker) after one of Todd's talks at SC22 about this matter, and he requested some additional information next time I encountered it.  Also, one of the speakers at the BoF seemed to indicate they were running into the issue as well.

I am running
[code]
although we have augmented this with some updates to packages from recent devel branches (in particular

[2022-11-22 19:45] gartung commented on #31401
Ah the buildcaches were made before those fixes went in.

[2022-11-22 19:54] gartung commented on #31401
@eugeneswalker Is this still an issue?

[2022-11-22 21:32] eugeneswalker commented on #31401
i don’t think so

[2022-11-22 22:12] #31401 closed, assigned to nobody

[2022-11-22 22:12] haampie commented on #31401
Feel free to reopen if still an issue, but I think it should be solved

[2022-11-23 03:34] hainest opened #34077 "Installation issue: boost@1.80.0 does not build with %oneapi"
**e4s-oneapi/boost**
[code]
I'm not sure here. I never use PCH.

**e4s/dealli**

[code]
Boost have been cleaning up their headers to remove implicit inclusions.

_Originally posted by @hainest in https://github.com/spack/spack/issues/32879#issuecomment-1265933265_

[2022-11-23 09:08] surbanEDA opened #34080 "Perl installation aborts due to missing File/Basename.pm in @INC"
As part of Emacs installation, Perl dependency installation fails.
Error given is:

![image](https://user-images.githubusercontent.com/118888582/203507871-ab20fe0d-d988-4e54-952c-f7f8283e1fbe.png)

[2022-11-23 11:34] haampie opened #34085 "provider index / cache race conditions"
### Steps to reproduce

[code]

### Error message

.

### Information on your system

.

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have searched the issues of this repo and believe this is not a duplicate
- [X] I have run the failing commands in debug mode and reported the output

[2022-11-23 13:43] haralmha commented on #32859
@adamjstewart I am not working with this anymore and I do not have the Spack setup available. But I suggest keeping the workaround for gcc11 only and potentially extend the version range condition (and/or add other compilers as well) later if users experience that the DSO is not found.

[2022-11-23 13:51] iarspider opened #34089 "Wrong concretization with invalid variants"
### Steps to reproduce

[code]

### Error message

[code]

### Information on your system

* **Spack:** 0.19.0 (bb8b4f9979e87ae3fb63a3adcb768eda09e5b059)
* **Python:** 3.6.8
* **Platform:** linux-almalinux8-skylake
* **Concretizer:** clingo

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have searched the issues of this repo

[2022-11-23 13:53] iarspider commented on #34089
I would expect Spack to complain that `bar` is not a valid variant of `llvm`.

In v0.18.1 (13e6f87ef6527954b152eaea303841978e83b992), the concretization did not fail, but chose `cuda_arch=50`.

[2022-11-23 16:54] cwsmith commented on #33108
Hi @tldahlgren,

I successfully ran the Omega_h smoke tests (`ctest -R smoke`) from a build of Omega_h (9.34.13 + https://github.com/SCOREC/omega_h/commit/a98878051b40fcbb3436875a3a905209983b7a2f to support Trilinos@develop 15001620fea) on Perlmutter A100 using GCC 11.2.0 and CUDA 11.5.

Any more info on the testing environment would be appreciated.  Is the testing environment accessible for debug

[2022-11-23 17:42] rhc54 commented on #17083
Deeply sorry for the incredible delay. Between retiring and health issues, I'm afraid I allowed this to fall off my radar. However, increasing requests for the bindings has raised it to my attention again.

I checked the latest tarball (v4.2.2) and it does have the `--enable-python-bindings` option in configure. Not sure why the v3.1.5 tarball was lacking it, but perhaps we can focus on the v4.2.2

[2022-11-23 18:45] s-sajid-ali commented on #17083
No worries about the delay and hope you're feeling better now!

I tried the same recipe and I am now about to build for the `v4.1.2` release as shown below:
[code]
What should the lower bound of this feature be?

[2022-11-23 18:47] eugeneswalker opened #34108 "Bug: installing libpressio from cache fails because of existence of another package in the cache that isn't even in the dependency tree for libpressio"
### Steps to reproduce

It looks like Spack is getting confused by the presence of some packages in our build cache because they no longer exist in Spack. But what is odd is that the particular package Spack complains about being in the cache -- here it is `netcdf` -- isn't even in the dependency graph for the package I'm trying to install.

I'm using:
* Docker container image `ecpe4s/ubuntu20.04-

[2022-11-23 18:51] #30836 closed, assigned to nobody

[2022-11-23 18:58] rhc54 commented on #17083
Oh - that's fantastic! Let's just set it at v4.1.2 since we know that one works. I'm pushing people to update to the v4.2 series anyway, so that should be fine.

Thanks so much! I'll advise when I get v4.2.2 (well, it will be a v4.2.3 release to fix the buglets I found) ready to go.

[2022-11-23 20:39] alalazo commented on #34028
Closed by #34043

[2022-11-23 20:39] #34028 closed, assigned to alalazo, climbfuji, adamjstewart

[2022-11-23 20:55] publixsubfan opened #34111 "Installation issue: MFEM post-install fails with XL + gcc-toolchain flag"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
==> [2022-11-23-12:34:34.629302] Error: AttributeError: 'str' object has no attribute 'propagate'

The 'mfem' package cannot find an attribute while trying to build from sources. This might be due to a change in Spack's package format to support multiple build-systems for a single package. Y

[2022-11-24 00:09] v-dobrev commented on #34111
Judging by the `spack-build-out.txt` log file, the installation of MFEM is completed without any issues.

The error must be happening after that, maybe during the module file generation -- I see `module_file_generation.py` being executed in the python stack trace. On the other hand the `.../mfem/package.py` is not visible in the stack trace, so this looks like a generic Spack issue.

I see the mes

[2022-11-24 00:33] #32859 closed, assigned to nobody

[2022-11-24 12:32] imjelde commented on #19844
I have the same issue with intel-mkl. Anybody know how to tell Spack to change what's in `silent.cfg`? If this is what fixes the problem

[2022-11-24 15:34] stephenmsachs opened #34120 "Installation issue: openfoam"
### Steps to reproduce the issue

Use Intel compiler built on top of latest gcc.

The following lines will run without error (openfoam package currently does not report any compilation errors), but you can find the error in `spack-build-out.txt`

[code]

I tried `boost@1.80.0` and `boost@1.75.0`. Error occured with both.

### Error message

[code]

### Information on your system

[code]

### Addit

[2022-11-25 09:47] cessenat opened #34126 "Patch cannot be applied in more than one manner"
### Steps to reproduce

I have a package 'mypackage' that either uses a CVS checkout of a submodule from a branch, in what case spack compilation will occur in a sub-directory ("src" actually), or a more usual tgz file from an url, in what case spack compilation will occur in spack-src directly. I happened to need the same patch for 2 versions. The patch is built using the same directory structure

[2022-11-25 11:19] omsai commented on #29406
Looks like a duplicate of #29342

[2022-11-25 13:22] zeekus opened #34129 "Installation issue: hdf5+fortran+hl%oneapi@2022.2.0 ^intel-mpi - CMAKE_C_COMPIER path wrong"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message: not able to find the right intel-mpi compiler </summary><pre>
 [centos@ip-10-137-0-174 ~]$ spack install hdf5+fortran+hl%oneapi@2022.2.0 ^intel-mpi
[+] /modeling/spack/opt/spack/linux-centos7-skylake_avx512/oneapi-2022.2.0/pkgconf-1.8.0-aaihhrfzc5wonl6axdfcjqim5doobvmi
[+] /usr (external openssl-1.0.2k-fi

[2022-11-25 18:30] omsai commented on #29342
Also saw this error linking to ncurses due to the missing symbol `_nc_tiparm@@NCURSES6_TINFO_6.2.current` with with the latest llvm@15 on Debian 11 like @behrmann

Thanks to @haampie for the suggestion of looking more closely at ncurses. It seems like the bug was fixed on April 20th by Dylan with 7aa1fef5064aa3882ec1d91ab008201e155b77dd. Because my spack-built ncurses that caused the error was bui

[2022-11-25 19:33] #29342 closed, assigned to nobody

[2022-11-26 01:41] omsai commented on #33071
Reproduced on Debian 11

[code]

This doesn't happen with llvm@15

[code]

@trws I'm a little lost trying to understand the comment.  I'm not seeing libomptarget behavior changing between llvm versions 12 and 15 in `def post_install(self)` of the llvm package.py and  I don't see a difference in LLVM_ENABLE_PROJECTS between the versions in the cmake outputs.  Do you think this bug is caused by upst

[2022-11-26 02:36] haampie commented on #33071
This was also found in https://github.com/spack/spack/pull/28109

Have you not of https://github.com/haampie/libtree :laughing:

[2022-11-27 01:24] omsai commented on #5424
Can we close this old bug?  `gtkplus@2.24.32` now installs without error.  There is no longer any `+X` variant because it has been forced on for the `cairo` and `pango`; see #6940.  #6940 didn't reference this issue, causing this issue to become stale.

Although note that I haven't tried installing it on RHEL 6 + GCC 4.4.7 per the original report, but I don't think that matters because @alalazo re

[2022-11-27 14:54] omsai commented on #5453
A minimum reproducible example of not finding H5open in -lhdf5:

[code]

As you say, the underlying error in `config.log` is `undefined reference to 'dlsym'`

[code]

Note that the second line in the output above does not use `-ldl`:

[code]

This hack currently in `silo` adds `-ldl` but clearly it's not propagating to the configure test program and needs to be fixed:

[code]

[2022-11-27 14:59] omsai commented on #5453
It's really bizarre that `-dl` isn't being added in the configure test compilation command but the rest of the static libs are, because hdf5's pkg-config with `--static` provides `-dl`:

[code]

[2022-11-28 04:16] dipietrantonio commented on #32799
I have encountered this issue too, is there a way around it?

[2022-11-28 07:43] alalazo commented on #5424
@omsai Closing this per your request.

[2022-11-28 07:43] #5424 closed

[2022-11-28 11:38] haampie opened #34155 "Current cache invalidation of binary index is flawed"
### Steps to reproduce

1. There's a race: pushing and pulling is not atomic / transactional.
2. We don't deal with partial success: index.json uploads fine, but index.json.hash does not.

I don't get the point of a separate index.json.hash:

1. It leads to races
2. For HTTP or S3 protocols: Etag is the way to handle cache invalidation: fetch index.json with `If-None-Match`, if fetched, store the

[2022-11-28 17:41] manuelakuhn opened #34164 "`spack checksum` support for GitHub URLs is broken"
### Steps to reproduce

As requested by @adamjstewart in #34162, open this as separate issue:

When trying to see the different versions available upstream for a package on github, `spack checksum` does not detect GitHub URLs automatically.

Reprocuce e.g. with package `dcm2niix`:
[code]
Expected output:
[code]

### Error message

_No response_

### Information on your system

* **Spack:** 0.20.0.

[2022-11-28 17:42] adamjstewart commented on #34164
I think @tldahlgren recently edited these files and may know which commit might have broken this. If not let me know and I can do some digging after my prelims.

[2022-11-28 19:15] cwsmith commented on #33108
@tldahlgren I hit a similar cuda allocation failure in a Spack build of Omegah on a Power9+V100 system.  PR https://github.com/spack/spack/pull/34169 has a fix for the problem on my system (passing the wrong cuda architecture flags) which I'm also seeing in the build log from the Spack test system (specifically, the command line lists `--generate-code=arch=compute_52,code=[compute_52,sm_52] ` [her

[2022-11-28 19:43] NicolaLorenzoni opened #34170 "Installation issue: py-scipy with Blis and Flame"
### Steps to reproduce the issue

Hi everyone (and the maintainers of the py-scipy @adamjstewart  @rgommers)
I have a problem appearing when I try to install py-scipy using AMDBlis (and AMDlibflame) as dependency, and a similar error appears installing py-scipy using Blis (and libflame).

After perfectly installing AMDBlis and AMDlibflame as

`spack install amdblis threads=openmp`
`spack install a

[2022-11-28 20:05] eli-schwartz commented on #34170
SciPy uses Meson for building now, and looks up the BLAS dependency using pkg-config with these config options.

Seems like Blis does provide one, but it's called blis.pc, so passing the Meson configuration as `-Dblas=blis` should work. I don't know enough about spack to answer how it calculates this as `blis-mt`.

[2022-11-28 20:20] climbfuji commented on #34129
Is this related to/a duplicate of https://github.com/spack/spack/discussions/34132 ? I posted an answer in that discussion.

[2022-11-28 21:24] adamjstewart commented on #34170
Spack's `py-scipy` package queries `spec["blas"].libs.names[0]`, which resolves to `spec["blis"].libs.names[0]`, which searches for `libblis` and `libblis-mt` in the installation prefix. It seems like the order is non-deterministic, so it's getting `blis-mt` instead. I'll hardcode it to use `blis`.

[2022-11-28 21:40] shahzebsiddiqui commented on #33878
We added environment `SPACK_GNUPGHOME` in https://github.com/spack/spack/pull/17139 by @eugeneswalker. Luke what do you think about this proposal

[2022-11-29 00:14] toxa81 commented on #4558
I'm hitting the same issue on CrayOS
[code]

  On Ubuntu all works fine under an unprivileged user.

[2022-11-29 01:59] tldahlgren commented on #34164
After some digging, I noted `list_depth` defaulting to `0` is an issue.  Per https://spack.readthedocs.io/en/latest/packaging_guide.html#list-depth, I added `list_url` and `list_depth` and `spack checksum` and it worked BUT *not consistently* as shown below:

[code]

[2022-11-29 02:34] adamjstewart commented on #34164
`list_depth` shouldn't matter, https://github.com/rordenlab/dcm2niix/releases lists all release tarballs, there's no need to spider down through different pages.

[2022-11-29 03:35] tldahlgren commented on #34164
It apparently does based on the URLs that are being `spider`ed.  At least that's what I'm seeing for this example.  And it's the https://github.com/rordenlab/dcm2niix/archive/refs/tags/ that show more versions.

[2022-11-29 03:47] tldahlgren commented on #34164
Note the behavior above may also be related to switching `_spider` to use `ThreadPool` as a context manager.

[2022-11-29 04:32] adamjstewart commented on #34164
The https://github.com/rordenlab/dcm2niix/releases page contains the links we are looking for, spidering shouldn't be necessary. I think what's happening is that it's going from https://github.com/rordenlab/dcm2niix/releases to https://github.com/rordenlab/dcm2niix/tags and getting the links we want from there instead. I'm not sure why that would be necessary.

We usually try to prefer releases ov

[2022-11-29 07:16] stephenmsachs commented on #32589
I fixed a different issue with `cmake%intel` in https://github.com/spack/spack/pull/34167, which had the same error message. Basically `cmake` bootstrap will fail for unique_ptr if the compiler outputs the word "warning". I would expect https://github.com/spack/spack/pull/33556 to fix this issue as it resets the compiler flag to `-march=pentium4`.

[2022-11-29 14:54] stephenmsachs opened #34181 "Installation issue: intel-oneapi-compilers"
### Steps to reproduce the issue

Error occurs if you use `intel-oneapi-compilers-classic@2021.6.0` ~= `intel-oneapi-compilers@2022.1.0` installed on top of `gcc@12` and then try to install e.g. OpenFOAM with the `intel` compiler.

[code]

### Error message

/shared/spack/opt/spack/linux-amzn2-x86_64_v3/gcc-7.3.1/gcc-12.2.0-4tairupdxg2tg2yhvjdlbs7xbd7wudl3/bin/../include/c++/12.2.0/bits/random.h(1

[2022-11-29 15:03] NicolaLorenzoni commented on #34170
That solves the Blis problem, thanks!
Yet, there is a second error related to libflame (AMDlibflame in my case)

`scipy/meson.build:132:0: ERROR: Dependency "flame" not found, tried pkgconfig and cmake`

which seems to be of different nature (in the sense that naively trying a guess -Dlapack=libflame, since I don't see any pkgconfig file, does not work).

[2022-11-29 15:47] dvdsnchzIT opened #34184 "Installation issue: abinit"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
==> Error: Package 'netcdf' not found.
You may need to run 'spack clean -m'.
</pre></details>

### Information on your system

Centos 7

* **Spack:** 0.20.0.dev0
* **Python:** 3.6.8
* **Platform:** linux-centos7-cascadelake
* **Concretizer:** clingo

### Additional information

No maintainer

[2022-11-29 15:50] rscohn2 commented on #34181
The dependency on gcc is described here: https://www.intel.com/content/www/us/en/develop/documentation/cpp-compiler-developer-guide-and-reference/top/compatibility-and-portability/gcc-compatibility-and-interoperability.html

If you `spack install intel-oneapi-compilers%gcc@12` then it should use header files from gcc12, and this appears to be happening based on the error message. Try install with

[2022-11-29 16:05] stephenmsachs commented on #34181
@rscohn2 thanks for the pointer. However, I cannot find any version specific information in there. I would love to add something like `requires("%gcc@:11", when="@2022.1.0")`, but I don't know to which versions this applies.

[2022-11-29 16:33] tldahlgren commented on #34164
The links to the .tar.gz files scraped from the releases page point to the tags page.  For example, https://github.com/rordenlab/dcm2niix/archive/refs/tags/v1.0.20220720.tar.gz.

I agree it should be easy to test pre-commit.  I got a bit caught up in experimenting with changes related to use of `ThreadPool`.

[2022-11-29 16:42] rscohn2 commented on #34181
I could not find anything. icc has been deprecated so if it doesn't support gcc12 headers now, it will likely never support it.

[2022-11-29 18:00] stephenmsachs commented on #34181
Ok, I'll try `requires("%gcc@:11", when="@2022.1.0")` then. It looks like icc from 2022.2.0 supports gcc 12.

[2022-11-29 18:21] wdconinc opened #34192 "apptainer: conmon config flag added in singularityce not available"
#33891 has caused a regression in apptainer, which does not like the `--without-conmon` flag in its [mconfig](https://github.com/apptainer/apptainer/blob/main/mconfig), since apptainer uses [singularityce]([url](https://github.com/spack/spack/blob/develop/var/spack/repos/builtin/packages/apptainer/package.py)) as its base.

_Originally posted by @wdconinc in https://github.com/spack/spack/issues/3

[2022-11-29 18:30] wdconinc commented on #34192
I don't know what the right approach is here: `if singularity_name == 'apptainer'` before `confstring += " --without-conmon"` seems hacky and won't handle well if/when apptainer adds conmon support...

[2022-11-29 19:04] charmoniumQ commented on #33613
Pulling the latest branch seems to fix this.

[2022-11-29 19:04] #33613 closed, assigned to nobody

[2022-11-29 19:24] charmoniumQ opened #34193 "Installation issue: krb5~shared"
### Steps to reproduce the issue

Note that `krb5+shared` works fine.

[code]

### Error message

<details><summary>Error message</summary><pre>
==> Installing krb5-1.20.1-hnlfmq4zdeqzd76iusibekzpox35pvh4
==> No binary for krb5-1.20.1-hnlfmq4zdeqzd76iusibekzpox35pvh4 found: installing from source
==> Using cached archive: /home/sam/.local/share/spack/var/spack/cache/_source-cache/archive/70/704aed

[2022-11-29 19:36] #34181 closed, assigned to nobody

[2022-11-29 20:06] zeronewb commented on #34193
CFLAGS=-fcommon ?
`            if "%gcc@10:" in spec:
                compilerArgs.append("CFLAGS=-fcommon")`

[2022-11-29 20:12] koysean opened #34196 "intel-oneapi-mkl: trying to source non-existing file: vars.sh"
### Steps to reproduce

1. Install hypre (or any package with an MKL dependency) using an external installation of intel-oneapi-mkl which does not contain `vars.sh`.
2. Run `spack load hypre`

### Error message

[code]

### Information on your system

* **Spack:** 0.20.0.dev0 (61a7420c94d84888a5408bf88f74076dfc1014fe)
* **Python:** 3.6.15
* **Platform:** linux-sles15-icelake
* **Concretizer:** cli

[2022-11-29 21:15] benkirk opened #34198 "Installation issue: autoconf@2.71 fails with "config:install_tree:padded_length: 128""
### Steps to reproduce the issue

[code]

### Error message

<summary>/bin/sh: bin/autom4te: (padded path): bad interpreter: No such file or directory</summary>

<details><pre>
[+] /glade/work/benkirk/bugreports/spack/autoconf@2.17_with_padded_paths/spack/opt/spack/[padded-to-128-chars]/linux-centos7-haswell/gcc-4.8.5/perl-5.36.0-anfitppgefpfm45xszj5mlmkwm2k345m
==> Installing autoconf-2.71-iry7xw

[2022-11-29 21:27] benkirk commented on #34198
I realize I forgot some motivation:  Autoconf 2.70+ is required to properly resolve "linking to Fortran libraries from C fails" with the newer versions of Intel's OneAPI.

https://www.intel.com/content/www/us/en/developer/articles/release-notes/oneapi-fortran-compiler-release-notes.html

[2022-11-29 21:33] eugeneswalker commented on #33878
This sounds like a good idea.

[2022-11-29 21:56] charmoniumQ commented on #34193
This seems to work; thanks!

[2022-11-29 21:56] #34193 closed, assigned to nobody

[2022-11-29 22:15] quellyn opened #34200 "Installation issue: netlib-lapack"
### Steps to reproduce the issue

[code]

To reproduce:
1. Clone spack and checkout v0.19.0 release:
[code]
2. Load a module for the IBM XL compiler:
[code]
3. Source spack setup script:
[code]
4. Detect compiler:
[code]

NOTE the detection of a "`cce`" compiler above with the same release number as the `xl` package. Spack's compiler detection seems to have gone awry here:

[code]

Other issues ar

[2022-11-29 22:37] quellyn commented on #34200
I think this is definitely fallout from #30738; when I roll back the `netlib-lapack` `package.py` recipe to the commit before that, the package builds fine.

I have been able to build with GCC, so I'm guessing it's something XL specific.

[2022-11-30 01:19] myan-rarcellino-nnl commented on #32589
@stephenmsachs Thanks for the update. It looks like #33556 made it into v0.19.0 so I will test it out and if everything looks good I will close this issue

[2022-11-30 01:58] adamjstewart commented on #9149
Presumably closed by #33777

[2022-11-30 01:58] #9149 closed

[2022-11-30 02:19] zhan4429 commented on #33756
I got the same error. Any solution yet?

[2022-11-30 03:45] quellyn opened #34205 "Installation issue: paraview"
### Steps to reproduce the issue

[code]

Reproducing the issue might be difficult:
1. We use Spack environments.
2. There are a number of packages that can't build with XL, and so we have to build those with GCC instead (e.g., py-numpy, py-scipy, etc.). Because of the need for multiple versions of certain dependencies (e.g., `netlib-lapack%gcc`, `netlib-lapack%xl_r`), it's not really possible to

[2022-11-30 05:12] lukebroskop opened #34206 "cannot concretize a spec with flags defined in the package spec AND in the compiler specification"
### Steps to reproduce

simple concretize the following spec:
[code]

### Error message

[code]

### Information on your system

* **Spack:** 0.20.0.dev0 (ef06b9db5bb2099dfd6161d763953612eec1314a)
* **Python:** 3.9.7
* **Platform:** darwin-monterey-cannonlake
* **Concretizer:** clingo

spack -d concretize -f
[code]

### General information

- [X] I have run `spack debug report` and reported the ve

[2022-11-30 14:55] #17083 closed, assigned to nobody

[2022-11-30 15:08] blue42u opened #34213 "Installation issue: bear"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary>

[code]

</details>

### Information on your system

* **Spack:** 0.20.0.dev0 (43d93f7773841f4fe62163abc5d995a89c76763a)
* **Python:** 3.10.8
* **Platform:** linux-debiann-zen2
* **Concretizer:** clingo

### Additional information

[spack-build-out.txt](https://github.com/spack/spack/files/101244

[2022-11-30 17:38] shahzebsiddiqui commented on #33878
@tgamblin can we have this task in the next release perhaps in this project https://github.com/orgs/spack/projects/4 so it gets higher priority?

[2022-11-30 17:55] lukebroskop commented on #34206
@becker33, #34218 fixed this issue!

[2022-11-30 17:55] #34206 closed, assigned to nobody

[2022-11-30 18:17] alalazo commented on #32693
I think #34029 would solve this. Can you confirm?

[2022-11-30 18:18] alalazo commented on #31265
This should be solved by #34029

[2022-11-30 18:22] adamjstewart commented on #32693
Will test that out. Note that I'm also seeing an issue with mypy that I reported on Slack:
[code]
This was a bug present in older mypy for newer Python (https://github.com/python/mypy/issues/13627), but the version of mypy I'm using should not have that issue. Will also see if your PR fixes that problem too.

[2022-11-30 18:31] tgamblin commented on #34012
I've basically found all git wrappers to be less reliable than just invoking git.  FWIW, we do not run external processes in subshells -- we just exec them from Spack.

[2022-11-30 18:45] adamjstewart commented on #32693
I wasn't able to reproduce my original issue, so I would be fine with closing this regardless of #34029. However, I'm still seeing the mypy issue above. Let me know if I should open a separate issue for that.

[2022-11-30 19:19] aphedges opened #34223 "Installation issue: cuda"
### Steps to reproduce the issue

[code]

### Error message

The problem isn't a failing build. The resulting package works properly, but the file `/etc/ld.so.conf.d/cuda-11-7.conf` is created outside of the installation directory. Because Spack v0.19.0 no longer loads `LD_LIBRARY_PATH`, the version that happens to be compiled on the system is loaded during dynamic linking instead of the `cuda` ve

[2022-11-30 21:37] jpbrodsky opened #34226 "Installation issue: py-torch 1.12.1 (LSF error?)"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message (short)</summary><pre>
  -- Found MPI_C: /usr/tce/packages/spectrum-mpi/ibm/spectrum-mpi-rolling-release/lib/libmpiprofilesupport.so (found version "3.1")
  -- Found MPI_CXX: /usr/tce/packages/spectrum-mpi/ibm/spectrum-mpi-rolling-release/lib/libmpiprofilesupport.so (found version "3.1")
  -- Found MPI: TR

[2022-11-30 22:23] jpbrodsky opened #34227 "Installation issue: pytorch 1.13 (hunks failed error)"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
==> Installing py-torch-1.13.0-v6yjyzuckwwfmarvivcbcfnm6wzznaps
==> No binary for py-torch-1.13.0-v6yjyzuckwwfmarvivcbcfnm6wzznaps found: installing from source
==> Using cached archive: /p/gpfs1/brodsky3/nexo/spack/var/spack/cache/_source-cache/git//pytorch/pytorch.git/v1.13.0.tar.gz
==> Wa

[2022-11-30 22:55] jpbrodsky commented on #34226
Spack.yaml for this environment:
[code]

[2022-11-30 23:00] adamjstewart commented on #34226
I'm guessing this bug is specific to PowerPC since it builds fine in CI. We have one other Spack ML expert with access to PowerPC who should be able to help with this. In the long run, we're trying to get our ML CI stack building on PowerPC as well.

[2022-11-30 23:01] adamjstewart commented on #34227
This should be easy to reproduce and fix, just need to update the patch files. I don't have access to PowerPC but this bug can be reproduced with `spack patch py-torch` for anyone who does. If you comment out the arch specifier, should be able to reproduce and test on x86_64 too.

[2022-11-30 23:03] rexeor opened #34229 "Installation issue: VMD"
### Steps to reproduce the issue

[code]