[2022-08-24 12:14] alalazo commented on #32348
I think this might be the right way to fix the issue:
[code]
I tried that in @blue42u use case and it works. I'm still trying to understand what chain of deduction can lead to have the hash of `gdbm` as an atom in the answer set (i.e. I'm trying to figure out if this integrity constraint, which is legit, covers up for a bug lurking in the logic program).

[2022-08-24 13:15] alalazo commented on #32348
It seems simple synthetic cases would hit different errors if we try to force the hash of a package with a missing dependency. For instance, trying to concretize `libpng`:
[code]
from a buildcache with only `libpng` and without `zlib` leads to errors like:
[code]
if we force clingo to pick `libpng` hash. For more complicated cases, where we have a lot more specs in the buildcache, we don't have lo

[2022-08-24 13:27] cessenat opened #32353 "spack load fails when package depends on ninja and meson"
### Steps to reproduce

When I load a package that depends on ninja, I get an error:
spack load meson
==> Error: module 'spack.pkg.builtin.meson' has no attribute 'make_jobs'
This happens since PR
https://github.com/spack/spack/pull/31739
Of course I did recompile everything.
When I remove setup_dependent_package in ninja package it is OK again.

### Error message

Traceback (most recent call last

[2022-08-24 15:37] blue42u commented on #32348
Thanks! I managed to throw together a rather large reproducer based on your analysis and what I know from #32193, I tried a few smaller examples but this was the only one that crashed:
<details>

[code]

</details>

I'm wondering if the root cause behind this and #32193 are the same, Spack trusts the `index.json` to contain a valid hash and copies it into the Spec on load: https://github.com/spack

[2022-08-24 15:40] alalazo commented on #32348
Can you check #32354? I think this solves the issue.

[2022-08-24 15:44] alalazo commented on #32348
I think the problem is different. The buildcache contains a few binary packages that don't have the corresponding dependencies, and we were instead assuming that if an `installed_hash` was in a buildcache so were its dependencies. Adding an integrity constraint solves the issue in the logic program, because it makes the answer sets that lead to these errors not valid solutions anymore.

[2022-08-24 16:56] tgamblin commented on #32348
Is this just a documentation issue?  In the PR, the build cache is set up sort of like this:

[code]

i.e., things not built specifically by the PR are fetched from the develop buildcache.  The PR build caches are fundamentally incomplete in that we only put things built *for* the PR in them, and some dependencies will necessarily come from `develop`

We could set up mirrors with some config to po

[2022-08-24 17:37] blue42u commented on #32348
@tgamblin It's more than a documentation issue if the PR builds something completely outside the public buildcache. I first saw this issue when I tried [pulling CentOS 7 binaries from the PR buildcache](https://gitlab.com/hpctoolkit/hpctoolkit/-/jobs/2908440433). :upside_down_face:

FYI `s3://spack-binaries-prs/pr31598_hpctoolkit-stack` + rolling `develop` buildcache worked for us until August 15t

[2022-08-24 18:57] vmiheer opened #32359 "doxygen: add libclang variant"
### Summary

Doxygen can parse using libclang. This support need to be enabled using https://github.com/doxygen/doxygen/blob/b2d2c8d730ca725fc7adbbeb5f2481e64a56d7b0/BUILD.txt#L35 cmake flag `use_libclang`.

Version: 0.19.0.dev0 (e2468c89288f1312ae058949918f4a9c70bd5901)

### Rationale

This is just feature enhancement and not related to problem.

### Description

Just add `+libclang` to doxygen.

[2022-08-25 03:23] blue42u opened #32365 "Environment `view:projections` doesn't apply to PythonPackage"
### Steps to reproduce

In an environment, specifying specific projections for some packages doesn't seem to work, only the catch-`all:` clause is used. So far I've only identified PythonPackages as affected:
[code]

### Error message

There should be 3 directories in `x/view/other`: `py-black`, `meson` and `other` containing Black, Meson and all other packages respectively.

### Information on yo

[2022-08-25 11:41] Briffou opened #32371 "Installation issue: mumps % intel2022.1.0"
### Steps to reproduce the issue

[code]

with external installation of Intel compilers and MKL, so I have in `~/.spack/packages` :
[code]

### Error message

<details><summary>Error message</summary><pre>
spack install -j10 mumps%intel@2022.1.0 ^intel-oneapi-mpi ^intel-oneapi-mkl +cluster
[+] /opt/intel/oneapi/ (external intel-oneapi-mkl-2022.1.0-2a3mblfwozvwumcibboujfsi25aguu52)
[+] /opt/intel/o

[2022-08-25 12:31] alalazo opened #32372 "Select the most up to date `package.py` for reusable specs"
### Summary

Design another optimization criterion for specs that can be reused, to disambiguate among hashes that are different only because of the contribution of the  "content hash".

### Rationale

When dealing with large buildcaches[^1] it might happen that a particular package is associated to many different hashes which differ only because of the content hash. This means that the underlying

[2022-08-25 12:58] alalazo opened #32373 "Unit tests that modify user directories"
I have been running unit-tests with this `autouse=True` fixture added:
[code]
and got 56 errors. Here's the logfile [unit_test_run.log](https://github.com/spack/spack/files/9424841/unit_test_run.log)

[2022-08-25 12:59] alalazo commented on #32373
@trws

[2022-08-25 13:23] blue42u opened #32374 "Installation issue: gettext"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
==> Installing gettext-0.21-u7czd2k7zvdmmaituv2gzsx3kaugox2w
==> No binary for gettext-0.21-u7czd2k7zvdmmaituv2gzsx3kaugox2w found: installing from source
==> Using cached archive: /root/spack/var/spack/cache/_source-cache/archive/d2/d20fcbb537e02dcf1383197ba05bd0734ef7bf5db06bdb241eb69b7d16

[2022-08-25 14:45] skosukhin opened #32375 "Installation issue: py-poetry-core"
Steps to reproduce the issue:

[code]
Spack "thinks" that `py-poetry-core` is installed successfully but it's not because all relevant files from the [`poetry`](https://github.com/python-poetry/poetry-core/tree/1.0.8/poetry) directory are missing. This happens because the stage directory is gitignored and, therefore, ignored during the installation (see [here](https://github.com/python-poetry/poet

[2022-08-25 15:25] vanderwb commented on #21987
+1 for this request. Module conflicts are still very useful in lmod hierarchies (e.g., between MPI and serial versions of libraries with different names).

[2022-08-25 15:53] cessenat commented on #32353
Probably @trws or @eugeneswalker or @becker33 could help with this issue.

[2022-08-25 15:55] #32348 closed, assigned to alalazo

[2022-08-25 23:37] trws commented on #32353
Yeah, that one's on me, odd that it didn't come up in testing but should hopefully be a straightforward fix.

[2022-08-25 23:51] adamjstewart commented on #32375
These steps to reproduce are very involved. I wonder how common this issue actually is. From what I can tell, this seems like a bug in poetry, not a bug in Spack. Can you open an issue with poetry and see what they think? This should affect not only poetry but all packages that use poetry as a build backend.

[2022-08-25 23:54] trws commented on #32373
That looks useful to make sure we clean up.  Unfortunately it still allows modifications to be made during the tests, which can stick around if they get cancelled uncleanly.  In #32361  spack-tmpdir generates a safe temporary directory tree for the tests to use, might be worth trying to make a fixture that does the same along with this? It also has a way to use bubblewrap to remount prefix and ~/.

[2022-08-26 04:09] #32214 closed, assigned to nobody

[2022-08-26 06:05] alalazo commented on #32373
Sure, the intent was to have a list of tests writing outside of `tmpdir`. I wouldn't run this fixture in CI since it slows down the tests a lot. I'm looking forward to #32361 being merged!

[2022-08-26 08:51] skosukhin commented on #32375
@adamjstewart imagine what the `poetry` guys say when I tell them: "There is, you know, Spack. We love installing packages from sources. Also, some of us, like myself, do it in a way that even other spackiniacs consider as an unhealthy deviation."

I agree that it's not a bug in Spack. However, we could do several things:
1. Python packages should do `python -c 'import <package-name>'` as a post-i

[2022-08-26 09:37] #32353 closed, assigned to nobody

[2022-08-26 17:35] adamjstewart commented on #32375
1. We do support this. Both `spack install --test=root py-poetry-core` and `spack install py-poetry-core && spack test run py-poetry-core` will attempt to import all modules. However, it only tries to import what it sees in the installation prefix, so that probably wouldn't catch your issue. We could manually add a list of imports to attempt to every package but that would be a considerable amount

[2022-08-26 18:06] srekolam commented on #30711
this is fixed as part of 5.2.0 recipe update.
@G-Ragghianti , can you please let me know if you get some chance to test it

[2022-08-26 18:12] #32283 closed, assigned to chuckatkins, cyrush, kwryankrattiger

[2022-08-26 18:31] G-Ragghianti commented on #30711
Yes this is now resolved for us.  Thanks.

[2022-08-26 18:31] #30711 closed, assigned to srekolam

[2022-08-26 19:56] wspear opened #32402 "Testing issue: spack test for gptune hangs"
### Steps to reproduce the issue

`spack test run gptune` when executed at least for Gptune, installed with the signature below, hangs and must be killed manually to reclaim control of the console.

[code]

### Error message

<details><summary>Test log state after test is killed</summary><pre>
spack test results -l lvezuqtn6mi6p3qyxwtc434vku5jjg5m
==> Results for test suite 'lvezuqtn6mi6p3qyxwtc43

[2022-08-26 20:01] KiruyaMomochi opened #32404 "Windows: `cache_local` fails when git filesys monitor is running"
When playing with spack on Windows, `stage.cache_local` is always failing for packages involving git, due to the directory cannot be renamed.
After checking system file handles, I found the root cause.
The reason is that I have enabled [file system monitor](https://github.blog/2022-06-29-improve-git-monorepo-performance-with-a-file-system-monitor/) globally.

This monitor creates a long running [d

[2022-08-26 20:05] KiruyaMomochi commented on #9323
I have tried spack on Windows, and found various problems.
After some change I can finally load simple CMake projects like `fmt`.

Here are all the fixes, patches, hacks and thoughts:

## Environment

- Microsoft Windows: 10.0.25182
- Visual Studio: 2022 Version 17.4.0 Preview 1.0
- Python: 3.10.5
- Spack: 0.19.0.dev0
- CMake: 3.24.0
- Ninja: 1.11.0

## Bootstrapping with Clingo

### Modify concer

[2022-08-26 20:07] KiruyaMomochi commented on #32404
Pinging @scheibelp as mentioned in Slack.

[2022-08-26 20:25] adamjstewart commented on #9323
^ @scheibelp @johnwparent @loulawrence @BetsyMcPhail

P.S. We should create a GitHub "team" for all Spack + Windows developers.

[2022-08-26 20:32] omsai commented on #32311
Removing the `use_xcode = True` from the `package.py` using `spack edit qt` allows `qt@5.15.5` to compile and install, but I'm still doing some other work with my application and will know more about how bad of an idea removing that line is until some time next week.

[2022-08-26 22:56] #18975 closed, assigned to nobody

[2022-08-27 00:52] cyrush opened #32408 "Installation issue: fides ~vtk-m fails b/c it still looks for vtk-m in the spec"
### Steps to reproduce the issue

@caitlinross  @dpugmire

I don't have the reproducer wrapped up with a bow, but see below error.
I expect any build with fides~vtk-m will cause this issue.

I can also give you a docker container if that helps.

### Error message

See below giant error for specific details:

[code]

Notice in : `vtk-m in fides@1.1.0%gcc@9.4.0+adios2~ipo+mpi~vtk-m`

we have `~vtk-m

[2022-08-27 09:33] cessenat commented on #32311
Thanks @omsai for the tip ; I got an error after a while
[code]

[2022-08-27 09:38] cessenat opened #32409 "Installation issue: glew, opengl dependent packages on mac"
### Steps to reproduce the issue

[code]
`spack install glew@2.2.0%apple-clang@12.0.5~ipo build_type=RelWithDebInfo gl=other patches=7992e52 arch=darwin-monterey-skylake`
Important to point out : opengl is external:
cat ~/.spack/packages.yaml
[code]

### Error message

<details><summary>Error message</summary><pre>
==> Installing glew-2.2.0-uvi7nyh56ocyqy5zduag46aztedrak76
==> No binary for glew-2

[2022-08-27 10:04] cessenat opened #32410 "Installation issue: netcdf-cxx"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
==> Installing netcdf-cxx-4.2-4kjkz5dky7tpicf5yh34qvdy53337hdo
==> No binary for netcdf-cxx-4.2-4kjkz5dky7tpicf5yh34qvdy53337hdo found: installing from source
==> Fetching https://mirror.spack.io/_source-cache/archive/95/95ed6ab49a0ee001255eac4e44aacb5ca4ea96ba850c08337a3e4c9a0872ccd1.tar.gz

[2022-08-27 10:11] cessenat opened #32411 "Installation issue: font-util"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
     ...

     12884     /usr/bin/install -c -m 644 crox1cb.pcf.gz crox1c.pcf.gz crox1cbo.pcf.gz crox1co.pcf.gz crox1hb.pcf.gz crox1h.pcf.gz crox1
              hbo.pcf.gz crox1ho.pcf.gz crox1tb.pcf.gz crox1t.pcf.gz crox1tbo.pcf.gz crox1to.pcf.gz crox2cb.pcf.gz crox2c.pcf.gz crox2cb

[2022-08-27 10:15] cessenat commented on #32409
* Removing
[code]
make it go through
* same for gl2ps

[2022-08-27 10:48] cessenat commented on #32411
Retrying, the process went to the end successfully.
I have no explanation, maybe a file system transient error.

[2022-08-27 10:51] cessenat commented on #32411
So, as not reproducible, closing the issue.

[2022-08-27 10:51] #32411 closed, assigned to nobody

[2022-08-27 15:32] omsai commented on #32311
It compiled and installed for me using without changing any of the default flags, so it would help if you could follow spacks' issue reporting instructions to upload all the logs, your exact spec, `spack debug report`, etc: https://github.com/spack/spack/blob/develop/.github/ISSUE_TEMPLATE/build_error.yml

[2022-08-27 17:47] jppelteret commented on #32278
Hi @elauksap,
Thanks for the detailed report. I'm looking into it in #32415. I'm surprised that you see the configuration failure in deal.II, since [ROL is an optional dependency](https://github.com/dealii/dealii/blob/master/cmake/configure/configure_20_trilinos.cmake#L153). I'll attempt to reproduce the error on my side, after which I can try to determine where the problem lies.

[2022-08-28 16:47] yurivict opened #32419 "Spack should look for examples in share/examples/{project-name}, not in lib/EXAMPLE"
### Steps to reproduce

In [this](https://github.com/xiaoyeli/superlu_dist/issues/111#issuecomment-1229488965) issue the project claims that Spack needs examples in lib/EXAMPLES.

A semi-standard location for examples is ```share/examples/{project-name}```, that's where all linux/BSD package distros install them. Spack should do the same.

### Error message

n/a

### Information on your system

Fr

[2022-08-28 21:38] adamjstewart commented on #32419
Spack does not care where example code is installed to, there are no customs in Spack of using that particular directory. Spack simply executes the build system of a package and lets the package decide where it should be installed. The `superlu-dist` package is currently hard-coded to run tests in that directory, but that can easily be changed, and even changed depending on the version of `superlu

[2022-08-29 05:27] liuyangzhuan commented on #32402
Did you forget to do
spack load gptune
before
spack test run gptune?

If this is not the case, can you also try
cd /spack/opt/spack/linux-ubuntu20.04-x86_64/gcc-9.4.0/gptune-3.0.0-db3njgcxugdun5d452wiw7goxw4hhykx/.spack/test/examples/Scalapack-PDGEQRF_RCI
bash run_examples.sh

[2022-08-29 15:20] sethrj commented on #17407
I've also seen this on some of our systems:

[code]

The `PermissionError` is a subclass of `OSError`, which `_ensure_parent_directory` is supposed to catch... so why isn't it? ...

[2022-08-29 16:19] sethrj commented on #17407
OK, turns out the OSError was re-raising the exception if it wasn't one of a whiltelisted few.

[2022-08-29 19:02] douglasjacobsen opened #32430 "Incorrect concretization when a package is found with the wrong provider in a cache"
### Steps to reproduce

Have something installed in a cache with a provider:

[code]

Try to concretize an environment with a different provider:
[code]
[code]

(As an aside here, adding `- $compilers` under specs fixes the issue as well oddly)

Results in:
[code]

Where wrf is omitted from the concretized specs.

(Here is a lot more debugging info than we started with https://gist.github.com/doug

[2022-08-29 20:06] iarspider opened #32431 "Unable to create bootstrap mirror"
### Steps to reproduce

[code]

### Error message

[code]

Full output: https://gist.github.com/iarspider/f853581cdff483be2845c8cc4b82972c

### Information on your system

* **Spack:** 0.18.1 (13e6f87ef6527954b152eaea303841978e83b992)
* **Python:** 3.6.8
* **Platform:** linux-almalinux8-broadwell
* **Concretizer:** clingo

### General information

- [X] I have run `spack debug report` and reported

[2022-08-29 21:14] wspear commented on #32402
gptune is loaded for the hang. I think the error output posted above is from the wrong run. The hang occurs in the Scalapack-PDGEQRF test and the log output from a quit test looks like:

[code]

When I run that test manually in the` .spack/test/examples/Scalapack-PDGEQRF `directory it runs to completion. I added -x to the invocation of bash in the package's test routine but no additional diagnosti

[2022-08-29 22:01] wspear opened #32435 "Installation issue: py-pybind11"
### Steps to reproduce the issue

Encountered while trying to install gptune but the standalone package has the same issue. Observed with both @2.9.1 and @2.8.1

[code]

### Error message

<details><summary>Error message</summary><pre>
==> Installing py-pybind11-2.9.1-duspcos2yvs4smhb664ewt5ce3pz6vjk
==> No binary for py-pybind11-2.9.1-duspcos2yvs4smhb664ewt5ce3pz6vjk found: installing from source

[2022-08-29 23:23] scheibelp commented on #32375
I assigned https://github.com/spack/spack/issues/32404 to myself, which is both Git and caching-related, but FYI that problem is conceptually separate (i.e. I would have very likely resolved that without fixing this, and now that I've read both, it is my explicit intent that they be resolved separately).

For this problem: I don't know why we discard `.git` when caching repos:

* the first issue t

[2022-08-30 03:33] vanderwb opened #32439 "spack location -i doesn't work as advertised"
### Steps to reproduce

Simply try to run `spack install -i <spec>` on any spec that is valid but not yet installed. The help suggests that this should do something useful, yet an error is produced. For example, in a clean spack install:

[code]

### Error message

[code]

However

[code]

**(spec need not be installed)**

### Information on your system

* **Spack:** 0.19.0.dev0 (0c9b4bc3d20ce4edf

[2022-08-30 04:39] liuyangzhuan commented on #32402
This doesn't make much sense to me. Could it just be that the tests haven't been finished? How long have you waited until killing the test?
For gptune@3.0.0~hypre~ipo+mpispawn~superlu
the tests will be GPTune-Demo, Scalapack-PDGEQRF, and Scalapack-PDGEQRF_RCI. If you go to .spack/test/examples/ and if manual run of each of the three examples finishes, I think spack test should just work as it is.

[2022-08-30 05:15] alalazo commented on #31961
In my opinion the solution in #32428 is backwards. For a use case that, if I understand correctly, happens outside of Spack the proposal is to add an argument to a directive that:
1. Can create issues with the interpretation of what `explicit` means (clashing values among edges)
2. Doesn't make sense most of the time for regular packages

Can't we solve this issue where the E4S reports are generat

[2022-08-30 15:25] cameronrutherford opened #32444 "py-transformers unable to be found"
### Steps to reproduce

This is quite a simple error to reproduce, and has consistently been an issue for me for a while now with various versions of spack.
[code]
or, to see this error in an environment:
[code]

### Error message

[code]
<details> <summary>Full error output</summary>

[code]
</details>

### Information on your system

I have seen this error on multiple systems:

On my local mac:

[2022-08-30 15:26] cameronrutherford commented on #32444
@adamjstewart is the maintainer of the relevant package, and replied in the slack when I asked about this issue in #general.

I get this behaviour with a fresh clone of spack, and it is painfully easy to re-produce for me.

I am able to run `spack edit py-transformers` just fine and see that the `package.py` exists, but for some reason spack cannot concretize the package itself.

[2022-08-30 15:28] cameronrutherford commented on #32444
A workaround that I have imagined would be to install the relevant stack without `py-transformers` using spack, and then to install the transformers library using `pip`.

This might work, but it would be 1000% easier to have this working within spack.

[2022-08-30 15:36] tldahlgren commented on #32402
I ended up disabling running the tests for `gptune` from our `spack ci` in our E4S stack runs, which run `spack test` after a successful build.  You can see the output at the bottom of https://gitlab.spack.io/spack/spack/-/jobs/2875679/raw.  The spec job would timeout after 6 hours (https://gitlab.spack.io/spack/spack/-/jobs/2875679).

[code]

[2022-08-30 16:27] wspear commented on #31961
What is the intention of 'explicit' if not marking the top level 'user requested' packages, to distinguish them from the slushpile of dependencies? Metapackages are there to curate sets of these user-facing packages. I figure E4S's issues just encapsulate the troubles of any other spack use case that uses metapackages and cares about explicit.

If the packages requested by metapackages aren't expl

[2022-08-30 17:06] adamjstewart commented on #32444
... aaaand all of a sudden I'm magically able to reproduce this. I don't think anything changed on my end, but I'm glad that you're not the only one experiencing this anymore.

@becker33 @alalazo is it possible that this error message is a red herring? The package clearly has versions, so I'm guessing it's more something like "no version can be concretized successfully".

[2022-08-30 17:15] vanderwb commented on #31278
@scheibelp Chiming in on this one - maybe it's my lack of familiarity with how OneAPI compilers are currently handled in Spack, but I don't see a way to load both of them using an Lmod stack.

Right now I have both the oneapi and intel compilers in my Spack setup. Spack creates modules for both of them, but the "classic" module uses a `depends_on` condition to load the oneapi module too. However,

[2022-08-30 18:13] #28840 closed, assigned to tldahlgren

[2022-08-30 20:39] jscook2345 opened #32451 "Installation issue: Missing prefix path error from cray-mpich package is not helpful"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
==> Spack test cwrtinrsilyucjll3v472ulcu6shqgyr
==> Error: IndexError: list index out of range

/global/common/software/spackecp/perlmutter/e4s-21.11/spack/var/spack/repos/builtin/packages/cray-mpich/package.py:104, in headers:
        102    def headers(self):
        103        hdrs = find

[2022-08-30 20:40] jscook2345 commented on #32451
@shahzebsiddiqui

[2022-08-31 05:48] cpraveen opened #32454 "spack ignores my packages.yaml file"
### Steps to reproduce

I have specified +mumps for trilinos in my $HOME/.spack/darwin/packages.yaml file

[code]

But spack seems to ignore this and does not enable mumps

[code]

### Error message

_No response_

### Information on your system

$ spack debug report
* **Spack:** 0.19.0.dev0 (8f34a3ac5c7ff09751007d57c88884aee48921bb)
* **Python:** 3.9.13
* **Platform:** darwin-monterey-m1
* **Conc

[2022-08-31 06:05] jbigot commented on #31051
If this can help, I can provide a docker image where the issue appears

[2022-08-31 06:08] cpraveen commented on #32454
But specifying +mumps on command line enables it

[code]

[2022-08-31 07:17] cessenat opened #32455 "Installation issue: glib, meson: error: unrecognized arguments: -j6"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
==> Installing glib-2.72.3-34rok55i44vhhfcxvl4xvhufvbzz47s2
==> No binary for glib-2.72.3-34rok55i44vhhfcxvl4xvhufvbzz47s2 found: installing from source
==> Using cached archive: /home/cessenat/spack/var/spack/cache/_source-cache/archive/4a/4a39a2f624b8512d500d5840173eda7fa85f51c109052eae806

[2022-08-31 07:28] cessenat commented on #32455
Oh sorry for the noise I had altered the meson package, forget about this issue @trws and @michaelkuhn

[2022-08-31 07:28] #32455 closed, assigned to nobody

[2022-08-31 07:38] cpraveen commented on #32454
Looks like I have to use `require: +mumps` instead of `variants: +mumps` in `packages.yaml` file

[2022-08-31 08:40] haampie commented on #32454
See https://spack.readthedocs.io/en/latest/known_issues.html as well, describing this issue.

The solution is https://spack.readthedocs.io/en/latest/build_settings.html#package-requirements indeed.

[2022-08-31 08:42] #32454 closed, assigned to nobody

[2022-08-31 11:57] lrtfm opened #32456 "Spack env did not copy python executable"
### Steps to reproduce

I have an env with python, the view path just contains links to python. The env is an environment for firedrake (https://github.com/firedrakeproject/firedrake-spack).

I checked some cases,
1) when the root spec does __not__ include `python`, there will only links.
[code]
2) when `python` is the __last one__ in the list of the root spec, there will only links of python, sam

[2022-08-31 14:17] toxa81 opened #32457 "Allow system packages to override the deprecated flag"
### Summary

A quick example:
Package A depends on git@2.17: onward. System package contains
[code]
Git versions <=2.35.1 are deprecated in Spack recipe. As a result, when building package A, latest git version is also built.

### Rationale

Allow system packages to take priority over spack-installed packages. Reduce the number of dependencies to build if user decides so.

### Description

Add a f

[2022-08-31 16:39] eugeneswalker commented on #32002
I'm getting the same error for the latest version `charliecloud@0.29` FYI. I expect there is something that needs tweaking in the package.py, I'm not sure what.

[2022-08-31 17:54] wyphan commented on #9134
@tomboehmer I think this will be a _design_ choice, as in whether to have `spack update` only update the base Spack git tree (and thus the repo information) as well as upgrade installed packages, or alternatively have two commands `spack update` and `spack upgrade`, with the functionality that you described implemented as part of the second command.

[2022-08-31 18:13] j-ogas commented on #32002
I'm unable to reproduce on my local centos7 vm.

[code]

 Looking at your `spack-build-env.txt` I see it is using ubuntu 22.04. I do know that Charliecloud had (or has) an issue with that version, @reidpr can give context and insight on whether it is relevant here.

On your error message we see`Error: RuntimeError: configure script not found in /tmp/root/spack-stage/spack-stage-charliecloud-0.27-7

[2022-08-31 19:00] reidpr commented on #32002
My guess is it's not relevant. It has to do with glibc incompatibility in the test suite. hpc/charliecloud#1430

[2022-08-31 20:05] #31484 closed, assigned to alalazo

[2022-08-31 20:05] #31832 closed, assigned to nobody

[2022-08-31 21:07] davidbeckingsale commented on #32133
This is related to #32127 . @trws has a fix for both, coming soon.

[2022-08-31 21:08] davidbeckingsale commented on #32127
@trws has a fix for this.

[2022-08-31 21:14] j-ogas commented on #32002
@eugeneswalker I pushed a PR, #32466, that makes Spack's autoreconf function use `bash` instead of `sh`. I think this may address the issue here.

[2022-08-31 21:48] eugeneswalker commented on #32002
https://github.com/spack/spack/pull/32466 fixes it for me, on both Ubuntu 20 and 22. Thank you!

[2022-09-01 00:49] trws commented on #32133
See #32469 for the workaround.

[2022-09-01 01:45] scheibelp opened #32470 "`spack unit-test`: recent test fails randomly"
### Steps to reproduce

Rerun `SPACK_PYTHON=python2 SPACK_TEST_SOLVER=clingo spack unit-test -k "installed_externals_are_reused"`

It will fail sometimes and succeed other times. This means that all PRs have a random chance of failing CI.

* The test only actually runs when the concretizer is clingo, and otherwise skips
* I'm not yet sure if this also applies to Python 3 but will check that shortl

[2022-09-01 01:46] scheibelp commented on #32470
@alalazo @becker33 FYI as the writer/merger of the PR

[2022-09-01 06:32] alalazo commented on #32470
Will investigate this, the only weird thing I notice is that:
[code]
and copying the two strings:
[code]
I'll check later what type does `dag_hash()` return.

[2022-09-01 08:08] alalazo commented on #32470
Might have to do with these lines:

https://github.com/spack/spack/blob/0df0b9a505d3731088a462c7fafadf6e162b1cc6/lib/spack/spack/util/hash.py#L13-L21

[2022-09-01 08:30] #32002 closed, assigned to nobody

[2022-09-01 09:22] haampie opened #32471 "Package requirements: target=... not respected."
### Steps to reproduce

This works/concretizes
[code]

This does not work:

[code]

### Error message

[code]

[2022-09-01 09:25] alalazo commented on #32471
I can reproduce even without an environment using:
[code]
and with a package as simple as `zlib:
[code]
Inserting other constraints, e.g. compilers, seem to work.

[2022-09-01 09:51] alalazo commented on #32471
It seems the issue stems from converting `target=X` to an `Archspec` and imposing also a condition on platforms. The bug seems to be in the platform part.

[2022-09-01 10:53] alalazo commented on #32471
So this is due to:
[code]
which doesn't give clingo a choice to pop `node_platform` into existence.

[2022-09-01 11:03] alalazo commented on #32471
Summary, two bugs here. The first one is long-standing, but so far it never caused issues:
[code]
The anonymous spec above got `linux` as a platform, when I said nothing about which platform to use. The second one is that currently we don't optimize on platforms as we do on operating systems and targets.

[2022-09-01 11:20] alalazo commented on #32470
I was able to reproduce with:
[code]
I can give it a try to remove the `sys.modules` hacking the fixture and see if it has anything to do with that.

[2022-09-01 12:38] alalazo commented on #32471
This should solve the specific issue:
[code]
Now, I'm trying to have a look at 8 tests failing on the old concretizer.

[2022-09-01 14:52] shahzebsiddiqui commented on #19292
@rspavel @ktsai7 @rbberger you are listed as maintainer for `flecsi` but the dependency harbuzz still has a conflict with intel i can see this in

https://github.com/spack/spack/blob/143f3f830c42a76fb6255264f7d0012f4919e9ab/var/spack/repos/builtin/packages/harfbuzz/package.py#L70-L72.

Is this constraint still required since we can't build this package. I am fine with closing this ticket if the co

[2022-09-01 16:02] rspavel commented on #19292
Sorry. I apparently was a bad person and ignored this for the past two years.

Is the issue that something in the long long long list of dependencies depends on harfbuzz? And harfbuzz can't build with intel?

If that is the case, this seems "correct"? Flecsi depends on a giant pile of dependencies that, depending on the situation, may depend on freetype which depends on harfbuzz (or the inverse of

[2022-09-01 16:12] haampie commented on #32471
would be nice if this was solved by removing code only

[2022-09-01 16:41] eugeneswalker commented on #32266
I like the idea of deprecating older versions. If someone really wants to use them, they can do it, but there is a gigantic chasm between the current versions which work and the old versions which we would deprecate, and which do not work:
[code]

[2022-09-01 17:01] adamjstewart commented on #32266
The chasm isn't as big as it looks, the next version after 3.4.8 was 35.0.0: https://pypi.org/project/cryptography/#history

[2022-09-01 17:03] adamjstewart commented on #32266
Note that cryptography 3.3 or older is required for Python 2 support. But I'm currently trying to deprecate Python 2 support anyway, so I don't find this to be an issue.

[2022-09-01 17:06] adamjstewart commented on #32266
I'm actually able to build cryptography 3.4.8 on my system, not sure why it's different on yours. Let's avoid deprecation for now since it seems to work some of the time. Now that you no longer need to use an older cryptography, let's close this issue.

[2022-09-01 17:06] #32266 closed, assigned to adamjstewart

[2022-09-01 17:21] jrwrigh commented on #31051
Note that spack no longer sets`$LD_LIBRARY_PATH` as of #28354.

Under that guise, I'll close the issue, but let me know if I should reopen it.

[2022-09-01 17:21] #31051 closed, assigned to nobody

[2022-09-01 20:09] ghost opened #32485 "Installation issue: pasta using wrong Python executable"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
==> [2022-09-01-16:32:52.547994] Installing . to /modules/spack/opt/spack/linux-ubuntu20.04-cascadelake/gcc-9.4.0/pasta-1.8.3-wi4vc2vu6yg4uvu6hmpfhkdvo4kej>==> [2022-09-01-16:32:59.364186] '/usr/bin/python2.7' 'setup.py' 'develop'
ImportError: No module named site
==> Error: ProcessError: Co

[2022-09-01 23:44] tldahlgren opened #32488 "umpire@2022.03.1 (e4s stack): stand-alone tests failing"
All 10 test parts are failing on the `uo-reptar` runner.  (See https://cdash.spack.io/viewTest.php?onlyfailed&buildid=1528908.)

[code]

Links to the output for each test part are available through the above CDash link but all are failing with the same issue about `no GPUs detected`.  For example, the `malloc` check reports the following error:
[code]

[2022-09-01 23:50] tldahlgren commented on #32488
Rather than create a new issue, I'll note this is an issue for other versions of `umpire` on other runners, such as:

- `umpire@6.0.0` on `spack-delphi`: https://cdash.spack.io/viewTest.php?onlyfailed&buildid=1528906

[2022-09-02 00:03] tldahlgren opened #32489 "raja@2202.03.0 (e4s stack on saturn-spack-docker): stand-alone tests failing"
All of the raja stand-alone test parts are failing in the E4S stack using the `saturn-spack-docker` runner.  (See https://cdash.spack.io/viewTest.php?onlyfailed&buildid=1528911.)

[code]

All of the tests I checked are having issues with the CUDA driver.

[code]

[2022-09-02 08:21] alalazo commented on #32470
As a quick mitigation we can mark the test at xfailing when Python 2.X is used

[2022-09-02 14:18] downloadico opened #32493 "Build Paraview with support for .silo files"
### Summary

I need to build Paraview with support for opening .silo files, hopefully using Spack.
@kwryankrattiger  you asked me to tag you.

### Rationale

I have a user that uses Paraview with Windoze where he says .silo file support comes "out of the box" and wants it on Linux as well.  I see that it is supported outside of spack.

### Description

 It was suggested in slack that a +silo varia

[2022-09-02 15:36] weotao opened #32494 "Installation issue: checking if building in the top-level or dist directories... no"
### Steps to reproduce the issue

export SPACK_ROOT=/opt/spack
git clone -c feature.manyFiles=true https://github.com/spack/spack.git ${SPACK_ROOT}
source ${SPACK_ROOT}/share/spack/setup-env.sh
spack --help
spack install -v aocc@3.2.0 +license-agreed

### Error message

<details><summary>Error message</summary><pre>
...
</pre></details>
==> berkeley-db: Executing phase: 'configure'
==> [2022-09-02

[2022-09-02 15:41] alalazo commented on #32470
I added a print to the assert, and:
[code]
so it seems to be an error in the fixture, i.e. both have the `fee` variant that was supposed to be deleted a few lines above the assert.

[2022-09-02 17:40] skosukhin opened #32497 "concretizer: reuse is too agressive for packages that are supposed to be patched by their dependencies"
### Steps to reproduce

`julia` depends on a patched version of `llvm`:
https://github.com/spack/spack/blob/80389911cce2daae5b0e4df069a3be9575954dc3/var/spack/repos/builtin/packages/julia/package.py#L136-L143
with the following constraints:
https://github.com/spack/spack/blob/80389911cce2daae5b0e4df069a3be9575954dc3/var/spack/repos/builtin/packages/julia/package.py#L84-L88

The required patching i

[2022-09-02 19:07] adamjstewart commented on #32485
What does `spack spec pasta` show? It seems like Python 3 is being used, not Python 2, so `PYTHONHOME` is set correctly. According to the build recipe, it seems like pasta 1.9.0 supports Python 3 only. If the build script is still using Python 2, maybe there's a bug in the build script?

@snehring

[2022-09-02 19:12] snehring commented on #32485
This is likely fixed by #32077 and then fixed better by #32220. Prior to that the recipe called which("python2.7") which was an artifact of an earlier version.

[2022-09-02 22:13] blue42u opened #32502 "concretizer: reuse ignores git-ref info"
### Steps to reproduce

When multiple `@git.*` versions are mapped to the same effective version, `--reuse` reuses versions with different Git revisions:
[code]

This does not affect `--fresh` installs, only `--reuse`.

### Error message

A `@git.*` version should be highly specific, it should never be able to be satisfied (for `--reuse`) by any other non-identical version. In other words, the sec

[2022-09-02 22:13] blue42u commented on #32502
Ping @psakievich

[2022-09-02 23:30] cyrush opened #32503 "problem parsing url for hwloc"
### Steps to reproduce

Spack install of openmpi on macOS using -k.

OpenMPI is dependency of larger tree for me, but this should do the trick:

[code]

### Error message

During spack's fetch it tries to construct the proper version via a few failed attempts, including:

https://download.open-mpi.org/release/hwloc/v2.0/hwloc-2.8.0.tar.gz

Note: that `v2.0` should be `v2.8`,  but spack doesn't kno

[2022-09-03 04:25] chadrik commented on #30958
Hi, I ran into the same issue.   I've tried all of the suggestions here but with no luck.

I'm using the latest spack on Catalina:
[code]

xcode is installed and the compiler is found:
[code]

gnupg is installed:
[code]

That leaves me wondering about this error:

[code]

Is there a configuration flag that I can use to force this to be trusted?

[2022-09-03 10:36] eugeneswalker commented on #32194
Can we tell `hypre` where to look for ROCm install via some configure args? It looks like `hypre` doesn't know how to find ROCm components in the locations Spack installs them.

[2022-09-04 14:08] ghost commented on #32485
We were using the un-updated package file that was not coded to install pasta 1.9 with python 3 but when I imported the updated package file as a custom and ran it with spack it worked as intended. Thank you for the help.

[2022-09-04 14:08] #32485 closed, assigned to nobody

[2022-09-04 14:28] ghost opened #32511 "Installation issue: tcoffee using gcc"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
make: *** [Makefile:36: museq] Error 1
==> Error: ProcessError: Command exited with status 2:
    'make' '-j8'

6 errors found in build log:
     22    /modules/spack/lib/spack/env/intel/icc  -O3 -funroll-loops -mfpmath=
           sse -msse  -mmmx  -c -o translate.o translate.c
     23    r

[2022-09-04 21:15] JBlaschke commented on #30430
I fixed this bug (on my linux machine) here: https://github.com/spack/spack/pull/32513

[2022-09-04 23:54] ldalessa opened #32514 "Installation issue: nettle fails to build on M2 silicon"
### Steps to reproduce the issue

[code]

### Error message

The nettle configuration and build fails. According to https://doesitarm.com/formula/nettle/ it should work on apple silicon.

<details><summary>Click to expand</summary>

<pre>
==> Installing nettle-3.4.1-ttk3r6kobqsxqhma4znqj2i2k3wjhont
==> No binary for nettle-3.4.1-ttk3r6kobqsxqhma4znqj2i2k3wjhont found: installing from source
==> Us

[2022-09-05 00:49] JBlaschke opened #32515 "PYTHONHOME set to virtualenv throws Fatal Python error: init_fs_encoding: failed to get the Python codec of the filesystem encoding"
### Steps to reproduce

Run

[code]

within a virtualenv. Ensure spack has set the `PYTHONHOME` variable to the virtualenv

### Error message

[code]

Note that simply running:
[code]
Throws the same error.

### Information on your system

[code]

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have searched the issues of thi

[2022-09-05 11:19] iarspider commented on #32375
I think [this issue](https://github.com/python-poetry/poetry/issues/5547) in poetry itself is also relevant.

[2022-09-05 14:45] serdarkocerr opened #32520 "Installation issue: LLVM"
### Steps to reproduce the issue
[code]
### Error message

While build llvm-12.0.1 I have faced below issue:
[code]

### Information on your system

centos 7
gcc 7.3.1

### Additional information

Hi,
I have been trying install QGIS so I decided to use spack. As you mentioned, spack was cloned and set environment(setup-env.sh).
Then run 'spack install qgis' command
While build llvm-12.0.1 I have f

[2022-09-05 16:06] cessenat commented on #32515
Got the issue too

[2022-09-05 16:19] cessenat commented on #32493
Yes, I tried that too, but the problem is that paraview gave up this opportunity, see thread
https://discourse.paraview.org/t/adding-a-reader-plugin-via-visit-bridge/2177/16
Following
https://www.paraview.org/Wiki/VisIt_Database_Bridge#Silo_Support
I naively added in paraview/package.py
[code]
but that leads to
[code]
You can try manually.

[2022-09-06 04:15] adamjstewart commented on #32520
Can you upload the `spack-build-out.txt` and `spack-build-env.txt` of the failed installation? Those will provide the full error message that will allow us to help.

@Sinan81

[2022-09-06 16:23] m4r1k opened #32534 "intel-mpi-benchmarks is outdated and incomplete"
### Summary

Currently, the available version of intel-mpi-benchmarks range from 2019.2 till 2019.6.
https://github.com/spack/spack/blob/v0.18.1/var/spack/repos/builtin/packages/intel-mpi-benchmarks/package.py#L22-L26

Intel has released much newer versions (latest being the 2021.3)
https://github.com/intel/mpi-benchmarks

Could you update the package.py including not only the latest versions but

[2022-09-06 16:43] adamjstewart commented on #32534
@carsonwoods is the maintainer of this build recipe

[2022-09-06 16:51] #17407 closed, assigned to nobody

[2022-09-06 17:17] carsonwoods commented on #32534
@adamjstewart @m4r1k Please see #32535 and let me know if this resolves the issue.

[2022-09-06 22:33] m4r1k commented on #32534
Hey @carsonwoods

First, thanks a lot for your super fast patch. Much appreciated.
I can confirm the patch you submitted successfully builds all MPI Benchmark versions from 2019.2 onwards while the 2018 to 2019.1 fails on the patches.

[code]

The following for 2018.1 (same error also on 2018.0)
[code]

The following for 2019.0
[code]

The following for 2019.1
[code]

To be on the safe side, I als

[2022-09-06 22:59] brandongc opened #32540 "[feature request] better error messages when `spack load` has multiple matches"
### Summary

Instead of " Use a more specific spec." the message to users should also mention how to load by hash (ie prepending `/`)

Even better, the message should also give some context about what the difference between matches is (or indicate how to find that).

### Rationale

Consider

[code]

1. One has to "just know" to add a `/` for `spack load /uaarf7u` to work
2. There is no obvious dif

[2022-09-06 23:51] scheibelp commented on #32470
Interesting, I get a similar error for `installed_version_is_selected_only_for_reuse`:

(EDIT: this is also intermittent and also only for Python 2)

[code]

I assume an analog to https://github.com/spack/spack/pull/32526 would be suitable?

[2022-09-07 01:03] wyphan commented on #32374
`ldbl` hints at the IBM vs IEEE long double issue.
`spack install gettext cflags="-mabi=ibmlongdouble"` seems to work, but I'm a bit unsure about the repercussions of changing the ABI, especially when it comes to `--reuse`.
For completeness, `spack install gettext cflags="-mabi=ieeelongdouble"` reproduces the same error messages.

[2022-09-07 01:20] adamjstewart commented on #32540
Personally I would love for `spack load` to behave like `module load` and use `--first` by default. By the way, if you didn't know, you can use `spack load --first` if you don't care about the difference.

[2022-09-07 10:44] serdarkocerr commented on #32520
Hi,
Thanks for quick response. I can not find spack-build-out.txt and spack-build-env.txt for llvm installation. but other lib's files exist.

[2022-09-07 14:36] carsonwoods commented on #32534
Yep, I think thats correct. I'll get those changes made on my end today so that they build correctly. Hopefully this should be done by today so the patch can be merged in.

Thanks for letting me know about the incorrect patch!

[2022-09-07 14:50] adamjstewart commented on #32520
When you run `spack install llvm`, it crashes right? And the error message says something like "see /super/long/path/spack-built-out.txt` for more details". Can you upload that file here?

@haampie @trws

[2022-09-07 15:04] carsonwoods opened #32554 "spack checksum does not consider url_for_version"
### Steps to reproduce

I was recently modifying the `intel-mpi-benchmarks` package to support both new and older versions of the package which were not included previously. Some older versions of the package have a different URL version format when compared against recent releases. As part of this, it was suggested that I replace the `version()` + custom URL with the `url_for_version()` function.

[2022-09-07 16:35] scheibelp commented on #31782
Apparently you can `spack diff <file> <file>` for any specs retrieved from Spack, which can be from different environments or installations (extracted with `spack spec --yaml`).

[2022-09-07 17:35] carsonwoods commented on #32534
@m4r1k I've fixed the patch bugs and the issue with 2019.1. Can you re-test and see if you're running into any more build issues? Thanks!

[2022-09-07 18:04] adamjstewart commented on #32554
Yes, `spack versions` and `spack checksum` are a completely different code path from `spack fetch` and `spack install`. This isn't really a bug, just a feature that does not yet exist. The way that `spack versions` and `spack checksum` work is that they look at the `url`, chop off the last part, and search in that location for things that look like files with a name similar to that last bit. This

[2022-09-07 18:59] raffenet commented on #27741
@vsoch did 067800bc315125caa86037bbb82e45bab71a9896 fix this issue?

[2022-09-07 19:13] vsoch commented on #27741
I was building en-masse and just skipped using this library, so I am not sure! I know y'all have a ton of issues so I'm good with closing this - I can re-open if I stumble on it again.

[2022-09-07 19:13] #27741 closed, assigned to nobody

[2022-09-07 20:02] balay opened #32559 "clingo error on fedora 37 (pre-beta) with python-3.11.0rc1"
### Steps to reproduce

[code]

### Error message

[code]

### Information on your system

[code]

[debug.log](https://github.com/spack/spack/files/9509294/debug.log)

[2022-09-07 20:08] balay commented on #32559
I guess its similar to https://github.com/spack/spack/issues/29507

And same work-arounds work here..

[code]
and:
[code]

[2022-09-07 20:25] cyrush commented on #32503
More info:

It consistently fails with spack's `urllib` (default) fetch option, but using `curl` I was able to to download hwloc and build.

If folks have advice on how to get to the bottom of the fetch issue, I am happy to experiment a bit more.

[2022-09-07 21:01] ghost opened #32568 "Installation issue: Openmm"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>

             enMM.dir/wrappers/OpenMMFortranWrapper.cpp.o] Error 1
     2999    make[2]: *** Waiting for unfinished jobs....

             enMM.dir/wrappers/OpenMMCWrapper.cpp.o] Error 1
     3001    make[2]: Leaving directory '/scratch/login-build001/3309281/mgjanc
             i_umass_edu

[2022-09-08 02:28] eugeneswalker opened #32571 "macos binary relocation not working"
### Steps to reproduce

1. Build package in long path
[code]

2. Create binary cache
[code]

3. Install from binary cache into a short path (thus requiring relocation)
[code]

4. Package doesn't work
[code]

Installing from cache works as long as no relocation involved:
[code]

FYI @scottwittenburg @adamjstewart @wspear @gartung

### Error message

See above

### Information on your system

* **Sp

[2022-09-08 03:19] jeffcbecker commented on #27999
I just saw the same issue with llvm 15.0.0 (fresh spack git clone 09/07/2022):

$ spack install llvm +cuda cuda_arch=70 targets=nvptx

note omp_as_runtime default is [on]

Has there been any update on a fix for this? Thanks.

[2022-09-08 21:01] raffenet commented on #22982
@haampie I believe this is fixed with the latest MPICH release. At least, I cannot reproduce it in my local setup. Can you confirm?

[2022-09-08 21:31] davide-q commented on #31782
Thanks. That does not seem to work as I expected:

[code]

If I understand correctly, this works only if the two yaml files are coming from the same spack installation (in two different environments) and are diff'ed in same spack installation? And not if you move them around on different spack installations or machines?

Also, is there a way to get the `spack spec --yaml` for "everything" whether

[2022-09-09 06:11] scheibelp commented on #31782
That looks right and moreover, if you have an environment active, you may have to deactivate it (otherwise the spec queries may automatically constrain themselves to the active environment). I think we can significantly improve this: right now it appears that `cmd/diff.py` always calls `disambiguate_spec` for all specs retrieved from `parse_specs`, even if those specs are concrete (unambiguous). I

[2022-09-09 06:13] Sinan81 commented on #32520
@serdarkocerr please use a release version of Spack to build qgis. Alternatively, in order work around this issue you can try installing qgis like `spack install qgis ^mesa~llvm`  which eliminates llvm dependency. In any case, thanks for reporting the LLVM build issue, which should be fixed at some point.

[2022-09-09 15:46] m4r1k commented on #32534
Hey @carsonwoods

Thanks for the update and apologies for my late reply.

2019.0 through 2021.3 compile and works like a charm but both 2018s still fails.

[code]

Could you fix these last two as well?

[2022-09-09 15:52] m4r1k commented on #32534
BTW, for the 2018s I think you need to reference to the GNUmakefile [1] under src. `all` is supported [2].

There are differences in the supported targets among versions but that's probably something people should be aware of [3] [4].

[1] https://github.com/intel/mpi-benchmarks/blob/v2018.0/src/GNUmakefile
[2] https://github.com/intel/mpi-benchmarks/blob/v2018.0/src/GNUmakefile#L3
[3] https://git

[2022-09-09 18:02] #32502 closed, assigned to nobody

[2022-09-09 18:07] carsonwoods commented on #32534
I'll work on getting 2018 and 2018.1 building. I've gone ahead and added in multiple provisions to prevent 2018 from building with the p2p benchmark. If someone tries it will fail to concretize and will provide an error explaining what went wrong.

[2022-09-09 18:32] srinathv opened #32588 "flag to dump concretizer output to file with a schema name"
### Summary

Allow for some flag to the concretizer to allow for a text file dump.  If environment is active, then scheme the file name with the environment.

### Rationale

This will allow for standard capture of concretizer outputs.  Then the community can diff concretization across environments.

### Description

_No response_

### Additional information

spack --version
0.19.0.dev0 (e3f87035b6

[2022-09-09 18:32] carsonwoods commented on #32534
It also looks like there is a gmake requirement in there as well for older versions. I've added that as well to all 2018 versions. Additionally, it looks like Intel-MPI is required for older versions of the benchmark due to environment variables that only it sets.

[2022-09-09 18:52] myan-rarcellino-nnl opened #32589 "Installation issue: cmake%intel (specifically intel-parallel-studio) starting in v0.18.1"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
[+] /opt/prs/nnl-spack/opt/spack/linux-centos7-x86_64/intel-19.1.3.304/pkgconf-1.8.0-mvamuu2qxoexwapmeptfylwofqoiz3y5
[+] /opt/prs/nnl-spack/opt/spack/linux-centos7-x86_64/intel-19.1.3.304/ca-certificates-mozilla-2022-07-19-5fojbh5uraysxjabomb7w2mtuplewik3
[+] /opt/prs/nnl-spack/opt/spack/li

[2022-09-09 19:31] eschnett opened #32591 "Installation issue: berkeley-db"
### Steps to reproduce the issue

[code]

### Error message

A (Spack-built) Clang 15 cannot build berkeley-db. The problem is that berkeley-db's configure script checks whether TLS is available. This configure check has a bug, as it uses `NULL` without including `<stdlib.h>`. Thus the configure check always fails event though TLS is available, and the build later errors out since TLS is always re

[2022-09-09 20:59] davide-q opened #32594 "Spack doesn't reuse spec when concretizing"
### Steps to reproduce

[code]

### Error message

No error message, but I would expect that spack spec would return `libbsd@0.11.5%gcc@11.3.0` which spack itself compiled and is available in the loaded environment. Instead it insists on `libbsd@0.11.5%gcc@12.1.0`

### Information on your system

[I have no name!@co49svnode03 spack_env_clone_nonlock]$ spack debug report
* **Spack:** 0.18.1 (13e6f8

[2022-09-09 21:02] davide-q commented on #32594
This is very vaguely related to #31345 and #31782 @scheibelp

[2022-09-09 21:10] marcmengel commented on #2700
This is implemented in #31028 , so I would appreciate if other interested folks would comment on whether my implementation
(which allows i.e. `$SPACK_ROOT/etc/spack/scientific7/packages.yaml`) addresses their concerns.

[2022-09-09 23:08] carsonwoods commented on #32534
@m4r1k I think I've got everything working now. Let me know if you find any issues with installing the package after this latest round of changes.

[2022-09-09 23:11] eschnett opened #32595 "Installation issue: openblas"
### Steps to reproduce the issue

[code]

### Error message

The reported error is
[code]

See https://github.com/xianyi/OpenBLAS/issues/3760 for details.

### Information on your system

The error is caused by Clang 15, which does not allow implicit function declarations any more. I have a patch.

### Additional information

_No response_

### General information

- [X] I have run `spack debug re

[2022-09-10 01:40] scheibelp commented on #32594
A couple questions:

* You mention that `libbsd@0.11.5%gcc@11.3.0` is in fact installed. When you activate `p3-10-4_g11-3-0`, if you run `spack find libbsd` does it give you the expected `libbsd`?
* Either way, I assume this is problematic because if you copied `p3-10-4_g11-3-0` to a new spack instance where `p3-8-13_g12-1-0` was installed but `p3-10-4_g11-3-0` was not, that `spack env activate p3

[2022-09-10 02:13] davide-q commented on #32594
Yes, that works correctly. In fact everything works correctly, but the output as described above. I stumbled into this only because I was trying to write a patch for #31345 and noticed it, otherwise I would not ever noticed.

Not sure what you mean. I am not copying anything. I am creating these two environments from scratch. And then installing their content by either editing the config (with `sp

[2022-09-10 02:29] scheibelp commented on #32594
Apologies: that was just a hypothetical situation which I assume wouldn't work. I didn't mean to imply that's what you were doing.

Sorry no (edit: by which I mean that what you are doing *will* work): I was talking about using preferences in `packages.yaml`; your example explicitly defines the specs in the spec list of `spack.yaml`, and those are guaranteed to hold (furthermore you could extend y

[2022-09-11 16:11] adamjstewart opened #32603 "Build-time tests aren't visible"
### Steps to reproduce

Choose any package for which the build-time tests fail. An easy way to reproduce this is to choose any Python package with minimal dependencies and override `import_modules` to be a list of fake modules:
[code]
Then, try to run the build-time tests:
[code]

### Error message

You'll see the full build log, but no build-time tests. All you'll see if that _something_ failed,

[2022-09-12 07:45] #32514 closed, assigned to nobody

[2022-09-12 08:13] alalazo opened #32607 ""Package 'py-cylp' not found" on Python 2.7"
### Steps to reproduce

This error started appearing after https://github.com/spack/spack/pull/32579 was merged (with a non-required test failing). It can be reproduced using Python 2.7 as an interpreter:
[code]

### Error message

[code]

### Information on your system

* **Spack:** 0.19.0.dev0 (d4ec0da49acab19621bd113a1acb7054eae04869)
* **Python:** 2.7.18
* **Platform:** linux-ubuntu20.04-icela

[2022-09-12 08:34] #32607 closed, assigned to alalazo

[2022-09-12 09:38] #24394 closed, assigned to nobody

[2022-09-12 13:54] m4r1k commented on #32534
All works like a charm for me now. Thanks a lot @carsonwoods !!

[2022-09-12 13:54] #32534 closed, assigned to nobody

[2022-09-12 15:27] iarspider opened #32612 "Environment variables not recognized in config:install_tree:projections"
### Steps to reproduce

If I'm reading the [docs](https://spack.readthedocs.io/en/latest/configuration.html#environment-variables) correctly, I should be able to use environment variables inside config:install_tree:projections section, however this is not true:

* Using "new" format
[code]

* Using "old" ("deprecated") format
[code]

### Error message

_No response_

### Information on your system

[2022-09-12 16:32] gartung commented on #32571
Ask @nhanford

[2022-09-12 16:52] gartung commented on #32292
If you think of a better way to do this let me know.

[2022-09-12 18:17] #32595 closed, assigned to nobody

[2022-09-12 19:29] kwryankrattiger commented on #28714
I think archspec only solves part of the problem, but there are other issues, in particular around ROCm due to the distributed nature of all of the features and extensions it provides in comparison to the single tarball cuda provides.

Would anyone be opposed to splitting the configuration and the package dependencies into two different packages?

@adamjstewart made a good point on this. I think t

[2022-09-12 19:40] greenc-FNAL opened #32620 "Unwanted concretization behavior with externals and `iconv:: [libc]` in `packages.yaml`"
### Steps to reproduce

With etc/spack/linux/packages.yaml containing (only):
[code]

Compare:
[code]
with
[code]

In the attached example output, note that the former case concretizes to:
[code]
and the latter to:
[code]

[diffutils-spec-yaml.txt](https://github.com/spack/spack/files/9551256/diffutils-spec-yaml.txt)
[diffutils-3.8-spec-yaml.txt](https://github.com/spack/spack/files/9551257/diffut

[2022-09-12 19:42] greenc-FNAL commented on #32620
Note: from my point of view, the former, less-constrained spec is neither understood nor desired, and the latter is what is wanted.

[2022-09-12 22:14] Kasbr305 commented on #32620
Hi🫠

[2022-09-12 23:21] jeffcbecker commented on #27999
It seems like this issue is on the todo list for spack version 0.19.0. When might that release happen? Also, if anyone has something they'd like to test, I'm happy to help. Thanks.

[2022-09-13 05:24] jacobmerson commented on #32409
I hit the same issue and the workaround also worked for me.

[2022-09-13 05:26] jacobmerson commented on #32410
@cessenat did you find a work around for this? I hit the same issue

[2022-09-13 08:52] alalazo commented on #27999
I would say a good estimate is just before SC22 in November.

[2022-09-13 16:30] cessenat commented on #32410
No I did not. Same issue with
`spack install netcdf-cxx@4.2+netcdf4 %apple-clang@13.1.6`

[2022-09-13 18:53] eschnett opened #32640 "Installation issue: gcc"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
ld: Assertion failed: (_file->_atomsArrayCount == computedAtomCount && "more atoms allocated than expected"), function parse, file macho_relocatable_file.cpp, line 2061.
collect2: error: ld returned 1 exit status
make[6]: *** [libstdc++.la] Error 1
make[5]: *** [all-recursive] Error 1
make[4

[2022-09-13 19:33] #32125 closed, assigned to nobody

[2022-09-13 20:11] adamjstewart commented on #16215
There is some interest in building a GitLab CI pipeline for this kind of software, not sure who would be the best person to tackle this.

[2022-09-14 04:13] #32591 closed, assigned to nobody

[2022-09-14 13:02] sskutnik commented on #32311
@omsai Oddly enough, when I disabled XCode via `spack edit qt` and rebuilt, I got this error instead:

[code]

I will go ahead and file a full debug report ( #32649 )

[2022-09-14 13:08] manuelakuhn commented on #31265
I get the same error for `spack style` but for me the reason is `py-black` instead of `py-isort` and `github-actions-v0.3` instead of `v0.2` (also on fedora36)

[code]

Unfortunately the hack from @alalazo does not work for me. It results in the error:
[code]

Info on system:
* **Spack:** 0.19.0.dev0 (ddd18351a172f0aa4da1da202295eb7243f9c721)
* **Python:** 3.10.6
* **Platform:** linux-fedora36-sky

[2022-09-14 13:24] sskutnik opened #32649 "Installation issue: Qt-5.15"
### Steps to reproduce the issue

[code]

The configuration I am trying to install is simply this:

[code]

### Error message

<details><summary>Error message</summary><pre>
==> qt: Executing phase: 'configure'
==> Error: NoLibrariesError: Unable to recursively locate double-conversion libraries in /Users/Shared/ornldev/code/spack/opt/spack/apple-clang/double-conversion/hdj4f36

/Users/Shared/ornl

[2022-09-14 13:25] #32311 closed, assigned to nobody

[2022-09-14 14:58] mpbelhorn commented on #32451
@shahzebsiddiqui We avoid this IndexError in our copy of spack by having the cray-mpich package patched to check if there is a list of found headers before grabbing index 0 from the list.

https://github.com/mpbelhorn/olcf-spack/commit/939b07cd09bda7206aabf90b9eb6044956e3f2cf

[2022-09-14 15:38] shahzebsiddiqui commented on #32451
This looks like a very simple fix that could be upstreamed to `cray-mpich` package

[2022-09-14 15:42] shahzebsiddiqui commented on #32540
Could we make the default behavior `spack load <spec>` emulate `spack load --first` and that way we don't need `--first` as an option. If one specifies an explicit spec then it should still work and only error out if the spec is not in the database or invalid hash has been specified. Right now one can't do `spack load cmake` or anything since spack install a bunch of specs at the same version and

[2022-09-14 15:51] mwkrentel opened #32651 "Windows rpath support (#31930) breaks "find_libraries""
### Steps to reproduce the issue

[code]

### Error message

[code]

### Information on your system

* **Spack:** 0.19.0.dev0 (53a7b49619671a318274cdec43952a1d59f77ff0)
* **Python:** 3.6.8
* **Platform:** linux-rhel8-zen2
* **Concretizer:** clingo

### Additional information

Something in this commit breaks the build for dyninst.

[code]

Dyninst uses the following line to find the libiberty.a lib

[2022-09-14 16:27] mpbelhorn commented on #32451
Well, it's also unsafe. If the headers are not found there is generally a problem. I just let the problem (if there is one) hit me at build time.

[2022-09-14 16:31] johnwparent commented on #32649
I believe this is the same issue as #32651, assigning to Windows project.

[2022-09-14 17:08] trws commented on #20117
Is the feature you want to be able to install all packages in a buildcache, or to have a better way to name all packages in a stack like e4s? A metapackage per stack could handle the latter while still using the concretizer and spack's internal checks to ensure only compatible packages are installed, while installing everything in the buildcache might well install a tremendous number of incompatib

[2022-09-14 17:17] tldahlgren commented on #32540
Ah.  After I already started adding unit tests for the requested fix.

[2022-09-14 17:38] alalazo commented on #32651
The error is https://github.com/spack/spack/pull/31930/files#r971114971 I'll try to submit a fix asap.

[2022-09-14 18:53] zzzoom opened #32655 "PETSc requires fftw instead of fftw-api"
I was building an environment for an AMD cluster where `amdfftw` provides `fftw-api`, and vanilla `fftw` showed up during the build anyway. After looking through the specs, `petsc +fftw` was found to be the culprit.

Is this working as intended?

[2022-09-14 18:55] zzzoom commented on #32655
@balay @BarrySmith @jedbrown

[2022-09-14 19:13] balay commented on #32655
Are you suggesting the following change?

[code]

[2022-09-14 19:16] mvictoras opened #32656 "OSPRay support in ParaView"
### Summary

@chuckatkins @danlipsa @vicentebolea Would be nice to have OSPRay support in the PV package. This is so we can use Catalyst for in situ rendering.

### Rationale

_No response_

### Description

_No response_

### Additional information

_No response_

### General information

- [X] I have run `spack --version` and reported the version of Spack
- [X] I have searched the issues of this

[2022-09-14 20:45] #32651 closed, assigned to scheibelp

[2022-09-14 20:50] zzzoom commented on #32655
Hm, I don't know what happens when some providers don't support a variant (e.g. `intel-mkl +mpi` doesn't exist) but yes, that's the idea.

[2022-09-14 22:10] scheibelp opened #32657 "Package requirements: virtuals and one_of"
### Summary

@alalazo

https://github.com/spack/spack/pull/32369 added the ability to specify requirements for virtuals (e.g. to mandate that `openmpi` is always used as the `mpi` implementation).

A user wanted to do:

[code]

which could be taken to mean "if you need `mpi`, it should be either `mvapich2` or `openmpi`", if you do this and for example try:

[code]

Ideally we'd either report a cle

[2022-09-14 22:39] brandongc commented on #32540
I think a behavior change to a basic command is a probably a different issue/discussion? (or at least the title of this issue no longer matches)That seems to be a more significant change to how spack works.

[2022-09-15 11:53] mdorier opened #32662 "If using an external Python, the bin directory might not be in PATH"
### Steps to reproduce

If you install a python package, the resulting files will be located in `<prefix>/local` instead of `<prefix>`. While this doesn't seem to be a problem for importing the module, it is a problem when the python package installs executables in `bin`. These executables end up in `<prefix>/local/bin`, which in not in `PATH` when loading the package or when in an environment tha

[2022-09-15 13:17] adamjstewart commented on #32662
This was also reported in #31939. It seems to be due to distro-specific patches to the system Python. Only current workaround is to use Spack-installed Python instead of system Python.

[2022-09-15 13:18] adamjstewart commented on #32662
@trws @pradyunsg

[2022-09-15 13:21] mdorier commented on #32662
Any chance spack could just add `local/bin` in addition to `bin` in `PATH`?

[2022-09-15 13:30] adamjstewart commented on #32662
That would break a lot of external packages. For example, imagine you have Python 3.7 in `/usr/bin/python` and Python 3.9 in `/usr/local/bin/python`. If you use:
[code]
which will it pick up?

[2022-09-15 15:17] sethrj commented on #32170
@alalazo should I close this since the workaround in https://github.com/spack/spack/pull/32260 is merged, or is it possible to bump up the weight of the requested compiler in the concretizer?

[2022-09-15 17:36] mkandes opened #32668 "zlib vulnerable to cve-2022-37434 for versions prior to and including version 1.2.12; will need to update package.py file"
### Steps to reproduce

N/A

### Error message

N/A

### Information on your system

- https://access.redhat.com/security/cve/cve-2022-37434
- https://bugzilla.redhat.com/show_bug.cgi?id=2116639
- https://github.com/advisories/GHSA-cfmr-vrgj-vqwv

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have searched the issues of thi

[2022-09-15 23:26] wspear opened #32672 "Install issue: intel-oneapi-compilers set CC incorrectly"
### Steps to reproduce the issue

[code]

The CC variable specified by spack load for this package is `{install location}/compiler/{date}/bin/icx` but this package only provides `{install location}/compiler/{date}/linux/bin`. I'm not sure if the export should be corrected or if a symlink to {date}/bin should be created but either of those could fix the problem.

### Error message

[code]

### Info

[2022-09-16 08:34] skosukhin opened #32674 "Unexpected results with require one_of"
I want to make sure that my installations of `curl` depend either on `openssl` or on `mbedtls` (not both). So I tried to add the following to my `packages.yaml`:
[code]
I would expect the final `curl` spec to match only one of the above. However, I get `curl tls=mbedtls,openssl` in my final spec:
[code]
@alalazo Is it a bug or a misuse of the feature?

[2022-09-16 08:48] skosukhin commented on #32674
On the other hand, it looks like I can go with just:
[code]
But the result above still looks strange.

[2022-09-16 10:30] hseara opened #32675 "Installation issue: gcc (<12.2.0) build error due to conflict with glibc 2.36 (archlinux)"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
==> gcc: Executing phase: 'build'
==> Error: ProcessError: Command exited with status 2:
    'make' '-j16' 'V=1'

16 errors found in build log:
     970      checking for insque... yes
     971      yes
     972      checking whether vasprintf is declared... checking for bsearch... yes

[2022-09-16 12:29] kuberry commented on #32503
This really looks like an SSL issue from the warnings, but I don't believe it is. The direct link to the resource is at: `https://download.open-mpi.org/release/hwloc/v2.0/hwloc-2.8.0.tar.gz` which is giving `403 Forbidden` errors.

I had no success downloading version 2.8.0 of hwloc so I switched to requesting `^2.7.1` which can succeed because it is older and is cached (direct link for 2.7.1 also

[2022-09-16 13:10] dunatotatos commented on #26734
Got any news on that? I'm trying to understand at what depth I need to work for a PR, and noticed this: https://github.com/spack/spack/blob/0f26931628bf6485b07ffe4611eb1ef3cec2c8c7/lib/spack/spack/hooks/module_file_generation.py#L43
Does that mean that `env_write` actually generate module files?

[2022-09-16 13:14] hseara commented on #32675
You can bypass the error for now by adding this configuration option:

[code]

[2022-09-16 17:22] s-sajid-ali opened #32687 "Cannot create environment view on the `work1` filesystem at FermiLab"
### Steps to reproduce

Creating a view results in the following error:

[code]

### Error message
[code]

While the environment is created, a view for the environment is not created. If I install packages as part of the environment and try to regenerate the view, I get the same error.

### Information on your system

[code]

Note that this is a fresh clone of spack on the `develop` branch.

### G

[2022-09-16 18:16] #32672 closed, assigned to nobody

[2022-09-16 18:40] cyrush commented on #32503
@kuberry
I agree something is different related to `download.open-mpi.org.

The right url should be `https://download.open-mpi.org/release/hwloc/v2.8/hwloc-2.8.0.tar.gz`.

Based on the details in the package.py, Spack doens't know this info at first.

The issue is when spack's extra logic to search around (which is normally robust) hits some barriers talking to the server with `urllib` in an attem

[2022-09-17 15:09] adamjstewart opened #32693 "spack style bootstrapping issues"
### Steps to reproduce

[code]
Why can't it find the headers in `/Users/ajstewart/.spack/.spack-env/._view/h6oacudblohwssd5psvvagvxucromykg`? Because this directory doesn't exist. The correct directory is `/Users/ajstewart/.spack/.spack-env/._view/kqcdhmsfq4y5vhculfimz3omzcwjikqw`. I'm not sure where it's getting the incorrect hash from. `spack clean -a` and `spack reindex` didn't help. `SPACK_PYT

[2022-09-17 15:28] adamjstewart opened #32694 "Conditional variants: first value can't be conditional"
### Steps to reproduce

This took a while to track down, but it's easy to reproduce. First, create a new package:
[code]
Then, add the example conditional from [the docs](https://spack.readthedocs.io/en/latest/packaging_guide.html#conditional-possible-values):
[code]
If you run:
[code]
you'll see that there are some warnings about boilerplate code, but no errors. However, if you modify the list of

[2022-09-19 00:22] rashawnLK opened #32705 "confused about how to instantiate Spack environment on new architecture with Cray Programming Environment"
Hello,

I am not sure what to do so that I am able to source spack/share/spack/setup-env.sh successfully. I am working on a system with an upcoming X86-64 Intel processor with SLES 15 SP3 and the Cray Programming Environment installed.  When I attempt to instantiate the Spack environment via setup-env.sh, I encounter the following:

![image](https://user-images.githubusercontent.com/30301760/19093

[2022-09-19 12:20] kuberry commented on #32503
@cyrush I can confirm that `https://download.open-mpi.org/release/hwloc/v2.8/hwloc-2.8.0.tar.gz` works using wget/curl directly, but **not** `https://download.open-mpi.org/release/hwloc/v2.0/hwloc-2.8.0.tar.gz` (which is the address Spack has resolved).

[2022-09-19 18:27] adamjstewart opened #32715 "spack uninstall: inconsistent state in DB"
### Steps to reproduce

[code]

### Error message

[code]
Spack should not be creating inconsistent DB states, especially with such a simple set of packages.

### Information on your system

* **Spack:** 0.19.0.dev0 (2f19826470b4009fa82b181b673b0520c8fa993a)
* **Python:** 3.8.9
* **Platform:** darwin-monterey-m1
* **Concretizer:** clingo

### General information

- [X] I have run `spack debug repo

[2022-09-20 04:54] wdconinc commented on #18086
Not an issue anymore with current concretizer.

[2022-09-20 04:54] #18086 closed, assigned to nobody

[2022-09-20 06:47] alalazo commented on #32715
Duplicate of #31366

[2022-09-20 07:29] alalazo commented on #32170
@sethrj Let's close this for the time being. Sorry for the late answer.

[2022-09-20 08:45] #23523 closed, assigned to nobody

[2022-09-20 08:45] ikitayama commented on #24495
I no longer use Spack on JURECA, closing.

[2022-09-20 08:45] #24495 closed, assigned to nobody

[2022-09-20 09:44] timocafe opened #32720 "boost program option is missing"
### Summary

Hello, I installed boost with spack however all compiled libs are missing, specially boost_program_options. It is a helper to manage the command line. It will be great to have it.

### Rationale

Does options are needed to install specific package of boost ? I may miss it.

### Description

_No response_

### Additional information

_No response_

### General information

- [X] I have

[2022-09-20 09:54] timocafe commented on #32720
I found the magical command:  spack install boost%gcc@11.2.0+program_options
Please close the ticket ^_^

[2022-09-20 09:54] #32720 closed, assigned to nobody

[2022-09-20 09:59] #32170 closed, assigned to alalazo

[2022-09-20 13:23] #32715 closed, assigned to nobody

[2022-09-20 13:45] luke-dt commented on #31265
Confirming that I am also getting a similar error (except with isort). The suggested hack used to work but no longer works. System specs:

* **Spack:** 0.19.0.dev0 (ef33fdb4b4c7b7d261205f299bef1a564a96e192)
* **Python:** 3.10.6
* **Platform:** linux-fedora36-zen3
* **Concretizer:** clingo

[2022-09-20 15:00] shahzebsiddiqui opened #32724 "clarification on spack external read-cray-manifest and schema validation with version 1.3"
@scheibelp

### Steps to reproduce

On Perlmutter this is the directory of the cray manifest files
[code]

Inside this directory we have two schemas 1.2 and 1.3, one of them we can't read the other one 1.3 is readable. IT not clear if spack reads the top-level json schema or the ones inside the schema directory

[code]

The 1.2 didnt work as expected

[code]

Next i tried 1.3 as shown below and th

[2022-09-20 15:01] shahzebsiddiqui commented on #32724
the debug mode shows that it reads the files from top level folder

[code]

[2022-09-20 15:02] shahzebsiddiqui commented on #32724
Do we need to fix the schema validation for 1.3 version?

[2022-09-20 17:43] climbfuji opened #32732 "Again py-scipy with Intel issues - undefined symbols"
### Steps to reproduce

I am building py-scipy with Intel and I am still having problems with undefined symbols as mentioned in earlier issues that were closed as completed. The problem is that during the py-scipy install it uses `ifort` as Fortran compiler because of https://github.com/spack/spack/blob/d8e566d5542e2c8f0508a83922ba1eada5d473cd/var/spack/repos/builtin/packages/py-scipy/package.py#L

[2022-09-20 17:46] #32110 closed, assigned to nobody

[2022-09-20 20:53] kuberry commented on #32503
in `lib//spack/spack/util/web.py`, in function `def read_from_url(url, accept_content_type=None):`,
there is a conditional:

[code]

Because `hwloc` uses `list_url = "http://www.open-mpi.org/software/hwloc/"` with
[code]
, both using `http protocol`, the url is treated as http and so ` if uses_ssl(url)` is False, no Context is created for an SSL connection, and an SSL error is produced.

This prob

[2022-09-20 20:58] cyrush commented on #32503
Nice work diving deep on this!

[2022-09-21 04:18] amit112amit opened #32739 "Installation issue: mfem"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
==> Error: ProcessError: Command exited with status 2:
    'make' '-j8' 'lib'

2 errors found in build log:
     233    /home/amit/Software/Installations/spack/opt/spack/linux-fedora36-skylake/gcc-12.2.1/openmpi-4.1.4-cv767dtypco2xoz4prkspg734t7amcfd/bin/mpic++ -fPIC  -O3 -std=c+

[2022-09-21 05:33] tzanio commented on #32739
Thanks for reporting this, it is actually a bug in a mode we are not testing regularly.

[2022-09-21 09:00] alalazo commented on #32693
I also started seeing this sometimes ago, but didn't have time to look into it yet. I suspect it's the same as #31265 nowadays (though the failure for bootstrapping `isort` etc. have been multiple, and changed over time).

[2022-09-21 14:46] adamjstewart commented on #32732
@rgommers can you take a look at this?

[2022-09-21 16:04] rgommers commented on #32732
@climbfuji could you point out these previous issues? I

I haven't seen that one before I think. I just searched for SVML and can't find anything in the issue tracker.

`_specfun` should be linking `npymath`, but that should not include SVML. My first guess is that something went wrong in the `numpy`  build.

[2022-09-21 16:11] climbfuji commented on #32732
Here is a list of issues that I think are related, and I agree it has to do with numpy:
- https://github.com/spack/spack/issues/8616
- https://github.com/numpy/numpy/issues/14146
- https://github.com/numpy/numpy/pull/13132
- https://github.com/spack/spack/pull/12170
- https://github.com/spack/spack/issues/10361
- https://github.com/scipy/scipy/issues/13853

[2022-09-21 16:49] keyu-Li opened #32746 "spack cannot work on windows platform"
### Steps to reproduce

[code]

### Error message

[code]

### Information on your system

win10 and win11

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have searched the issues of this repo and believe this is not a duplicate
- [X] I have run the failing commands in debug mode and reported the output

[2022-09-21 17:10] wyphan opened #32747 "Do not export SPACK_PYTHON when sourcing setup_env.sh"
### Summary

This happens on a RHEL 7.6 system where the system Python is version 2.7.5 at `/usr/bin/python` and `/usr/bin/python2` and Python 3 is provided through modules. `/usr/bin/python3` does not exist.

If the following order of operations are executed through `.bashrc`,
[code]
then Spack is locked to use Python 2 even though Python 3 is available through the `Python/3.10.4` module.

Output

[2022-09-21 17:22] #32694 closed, assigned to alalazo

[2022-09-21 17:47] scheibelp commented on #32470
See https://github.com/spack/spack/pull/32569

That should likely be replicated for all tests using the `repo_with_changing_recipe` fixture.

[2022-09-21 18:29] rgommers commented on #32732
This is probably a bug in the Spack package build definition. Just setting `F90` is not enough I think, and that `gfortran` flags are being used seems to confirm that. It should be something like:
[code]
or even
[code]
I'll note that that is being taken care of for the Fujitsu compiler, but not for Intel Fortran: https://github.com/spack/spack/blob/d8e566d5542e2c8f0508a83922ba1eada5d473cd/var/spac

[2022-09-21 18:42] adamjstewart commented on #32732
@rgommers I was under the impression that `python setup.py ...` was deprecated and everything should go through a build frontend like pip instead. Happy to expand `setup.cfg` to set the correct options for other compilers. What is the full list of compilers that are accepted inputs, and which keys can take arbitrary values? Spack supports a lot of uncommon compilers...
[code]

[2022-09-21 18:54] rgommers commented on #32732
Ah yes, `setup.cfg` works for this too - and is indeed technically nicer. `setup.py` deprecated, yeah technically setuptools maintainers have been saying that, but it's not going anywhere any time soon. And for this kind of argument passing I find it easier than figuring out how to get `pip` to pass on the options.

The way these names are defined is via the `compiler_type` attribute of compiler c

[2022-09-21 18:56] climbfuji commented on #32732
Thank you both for looking at this. I was going in a similar direction, albeit not in the spack framework itself, but in the packages. I'll better wait for you to do this the right way!

[2022-09-21 18:59] climbfuji commented on #32732
Just saw that. I added the intelem option in the same place before I posted this issue, but that didn't help. I am now doing essentially the same for py-numpy, too. And set LDSHARED="icc -shared" as well. Trying to throw everything at it and see what happens.

[2022-09-21 20:01] wyphan commented on #9134
A gotcha that I just encountered today: I manually updated Spack using `git pull` from a version where `dyninst@12.1.0` hasn't been released to latest develop where `@12.1.0` and `@12.2.0` exist.

For some reason `spack spec dyninst@12.1.0:` still pulls `dyninst@master` instead of `dyninst@12.1.0`, while `spack spec dyninst@12.1.0` works as expected.

Both `spack clean -m` or `spack clean -p` don'

[2022-09-21 20:12] vicentebolea commented on #32656
I might be wrong but I believe there is no OSpray package in Spack. It will be nice to have somebody from Intel to take care of this :)

[2022-09-21 20:13] vicentebolea commented on #31271
Do you have a fortran compiler, if so is it configured in Spack? You might need to specify to spack which fotran compiler you are using.

[2022-09-21 20:44] adamjstewart commented on #32747
I also find it confusing that Spack doesn't respect `PATH` by default and you have to override `SPACK_PYTHON` if you want to change it. Does anyone else know why we made that decision?

[2022-09-22 07:18] #32540 closed, assigned to tldahlgren

[2022-09-22 13:45] skosukhin commented on #32375
@iarspider could you come up with a PR for Spack to patch `py-poetry-core` with your patch?

I have stumbled upon a much easier way to reproduce the issue with Spack. My `$TMPDIR` is too small and my `$HOME` is too slow, so I decided to use the old good `$spack/var/spack/stage` for staging:
[code]
and `/var/spack/stage` is the first line in Spack's `.gitignore`, of course.

[2022-09-22 14:38] shahzebsiddiqui opened #32761 "Activate spack environment from a file via 'spack env activate -f'"
### Summary

@becker33 @tldahlgren @tgamblin @alalazo @scheibelp

cc: @wspear @eugeneswalker @etpalmer63 @jscook @sleak-lbl

I would like to store multiple spack configuration in the same directory instead of naming them `spack.yaml` and organizing them into unique directories. Currently one can do this operation with `spack env create` to specify which file to use

1. `spack env create e4s <path>

[2022-09-22 16:25] rgommers commented on #32732
@climbfuji the exact command to reproduce it would still be helpful to me. I'm not really a regular Spack user myself, so it's not completely obvious to me from "I am building py-scipy with Intel" how to reproduce the problem (I'd have to go dig in the docs how to select the Intel compilers).

[2022-09-22 16:28] adamjstewart commented on #32732
@rgommers first you would need to register your Intel compiler in Spack. You can run `spack compilers` to see a list of compilers Spack knows about. If the intel compilers are in your `PATH`, you can run `spack compiler find` to find them. You can also specify which directory to look in.

Once Spack knows about your intel compiler, installing with intel would like like `spack install py-scipy %int

[2022-09-22 16:31] adamjstewart commented on #32375
I think a patch to `py-poetry-core` is only a valid approach if that same patch can be contributed upstream. I don't want to maintain a hacky patch for several versions with no end in sight.

[2022-09-22 16:37] climbfuji commented on #32732
All that I did was create an environment configured to use the Intel compiler, add spack ***@***.*** to it and ran “spack concretize” and “spack -ddd install -v”.

This is the concretize output, in case it’s useful:

[py-scipy-intel-test] ***@***.***:/discover/nobackup/dheinzel/spack-stack/spack-stack-scipy-intel> spack concretize --force 2>&1 | tee log.concretize
==> Warning: included configurati

[2022-09-22 16:40] climbfuji commented on #32732
@adamjstewart I am looking at a dirty workaround for now, because I need to get this working asap. Wondering if I can get the complete linker flags from the spack compiler config somehow (e.g. something like that? `self.compiler.linker_arg`) and then manually link in the missing libraries (`-lifcore -l...`).

And then replace that hack with a clean solution once we have one.

[2022-09-22 16:51] skosukhin commented on #32375
@adamjstewart the problem is reported upstream and got quite some response. Hopefully, it will be resolved in a "proper" way. Once that happens, we remove our patch and fetch the "proper" one from the upstream repo. We do a similar thing for other packages, e.g. `llvm`.

[2022-09-22 17:53] adamjstewart commented on #32732
Is #32767 related to this?

[2022-09-22 18:10] climbfuji commented on #32732
This is certainly part of the solution, but I tried this for both py-numpy and py-scipy (https://github.com/spack/spack/issues/32732#issuecomment-1254106020) and it didn't help. I still got the gfortran in the linker step and the import errors listed in the description above.

I have a really nasty workaround that solves the immediate problem. I put the following into both `py-numpy` and `py-scipy

[2022-09-22 19:07] DarylGrunau commented on #32732
PR #32767 fixes this problem for me

[2022-09-22 19:37] climbfuji commented on #32732
I'll try again. I didn't have the switch between x86 and x86_64 when I tried a similar solution a few days ago.

[2022-09-22 19:40] mdorier opened #32769 "Installation issue: py-docutils (symlink error)"
### Steps to reproduce the issue

[code]

### Error message

[code]

### Information on your system

* **Spack:** 0.19.0.dev0 (123354e920582607af689db83037c1055e4ff778)
* **Python:** 3.10.4
* **Platform:** linux-ubuntu22.04-sandybridge
* **Concretizer:** clingo

### Additional information

_No response_

### General information

- [X] I have run `spack debug report` and reported the version of Spa

[2022-09-22 19:52] DarylGrunau commented on #32732
FWIW, applying the changes in #32767 I see the following in the build artifacts:
[code]
Otherwise I see this in the build artifacts:
[code]
In either case the build succeeds but when users import certain modules from `py-scipy` they're met with unresolved symbols.  Running `ldd` on the SciPy shared objects shows (for me, anyway) references to libgfortran instead of the Intel libs that are required

[2022-09-22 20:44] adamjstewart commented on #32769
See #31939. Quickest fix is to just let Spack build Python. The system Python on most distros is broken.

[2022-09-22 22:04] Paul-Ferrell opened #32772 "Add a Package Revocation List"
### Summary

We are getting asked more and more to verify software 'supply chain', and a basic but powerful means to do this is package deprecation. Unfortunately, users won't necessarily be using the latest version of Spack, which means they will likely still pull and build versions of packages that are deprecated for security reason.

This ticket proposes adding a central 'package revocation lis

[2022-09-22 22:17] climbfuji commented on #32732
@DarylGrunau Thanks a lot, your PR also solved the problem on my system. I noticed that the difference between what I tried (based on what was in develop) and your solution is that I had a slightly older version of `py-scipy` which used
[code]
(and which I extended for Intel), whereas your version uses
[code]
instead.

I'll mark this PR as solved via https://github.com/spack/spack/pull/32767.

Tha

[2022-09-22 22:18] climbfuji commented on #32732
This issue will be fixed in https://github.com/spack/spack/pull/32767

[2022-09-23 13:41] #32732 closed, assigned to adamjstewart

[2022-09-23 18:01] G-Ragghianti commented on #30730
I believe that this issue is currently half fixed.  The most recent develop branch does not result in a fatal error because spack will now not try to use packages that were built with a compiler that is not available (removed from compilers.yaml).  However, the issue of the concretizer mixing packages from different compilers is still remaining.  This is a problem because we are trying to vet soft

[2022-09-23 20:34] tbugfinder opened #32799 "Spack caches not updated automatically after git pull"
### Steps to reproduce

[code]

### Error message

[code]

### Information on your system

Rocky Linux 8.6
I don't have issues in running it on our Scientific Linux 7.9.

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have searched the issues of this repo and believe this is not a duplicate
- [X] I have run the failing comma

[2022-09-23 22:13] wyphan opened #32800 "Proper rewrite of Spack configuration overrides (`::`)"
### Summary

When using Spack environments, currently the `spack.yaml` file gets rewritten after each successful operation, and section keys that [override Spack configuration](https://spack.readthedocs.io/en/latest/configuration.html#overriding-entire-sections) gets mangled from `foo::` into `'foo:':`

### Rationale

@tgamblin mentioned that this is due to `py-ruamel-yaml` (at the time of writing

[2022-09-23 22:55] johnwparent commented on #32746
@keyu-Li How are you invoking the Spack on Windows cmd entrypoint?
Can you provide more context for the error message? or about your spack env? I am unable to reproduce locally.

[2022-09-23 23:43] trws commented on #30730
That behavior should be prevented by always using the --fresh​ option, or the corresponding config setting, since the concretizer will prefer same-compiler builds in that mode.  Are you seeing something different?
________________________________
From: G-Ragghianti ***@***.***>
Sent: Friday, September 23, 2022 11:02 AM
To: spack/spack ***@***.***>
Cc: Scogland, Tom ***@***.***>; Mention ***@***.**

[2022-09-26 17:07] douglasjacobsen opened #32823 "Configurable named environment location"
### Summary

It would be nice if there was a config option that let you set the location named environments can live in. Maybe this could even be a list of locations.

### Rationale

Sometimes it's useful to have environments live outside of spack's hard-coded environment location.

### Description

_No response_

### Additional information

_No response_

### General information

- [X] I have run

[2022-09-26 18:09] eugeneswalker opened #32826 "petsc@3.17.4 +rocm configure fails using ROCm 5.2.0 and PrgEnv-gnu/cray/amd on OLCF Crusher"
### Steps to reproduce the issue

`petsc@3.17.4 +rocm` is not building with any of the following PrgEnv on Crusher:
* `PrgEnv-gnu`
* `PrgEnv-cray`
* `PrgEnv-amd`

In all cases, I'm trying to use `rocm/5.2.0` defined as externals.

<details><summary>Spack environment</summary><pre>
spack:
  view: false
  concretizer:
    reuse: false
    unify: false
  compilers:
  - compiler:
      spec: gcc@11.2.

[2022-09-26 18:29] eugeneswalker commented on #30626
FYI I'm seeing this with `trilinos@13.4.0 +rocm` on OLCF Crusher w/ all of:
* `PrgEnv-gnu`
* `PrgEnv-cray`
* `PrgEnv-amd`

[2022-09-26 18:48] balay commented on #32826
[code]

Have to check if this issue exists in `petsc@main`

Also cc: @jczhang07

[2022-09-26 19:07] eugeneswalker opened #32827 "caliper@2.8.0 +rocm fails on OLCF Crusher w/ PrgEnv-gnu: libcaliper-serial.so.2.8.0: undefined reference to hipKernelNameRef"
### Steps to reproduce the issue

I'm having trouble building `caliper@2.8.0 +rocm` with any of the following PrgEnv on OLCF Crusher:
* `PrgEnv-gnu`

In all cases, I'm trying to use `rocm/5.2.0` defined via externals in `packages:` section.

<details><summary>Spack environment</summary><pre>
spack:
  view: false
  concretizer:
    reuse: false
    unify: false
  compilers:
  - compiler:
      spec

[2022-09-26 19:53] shahzebsiddiqui opened #32829 "show status of active spack view (spack env view status)"
@becker33 @tldahlgren @tgamblin

### Summary

We have options `spack env view enable` and `spack env view disable` to change between views but we have no way of telling which view we are in. Similar to `spack env status` which shows the current environment i'd like to see which view we are in.

### Rationale

We would like to deploy multiple views and user should be able to tell which view they ar

[2022-09-26 20:20] eugeneswalker opened #32830 "umpire@2022.03.1 (and raja) +rocm build fails: camp.hip_repair_option doesn't work with CachedCMakePackage"
### Steps to reproduce the issue

`umpire@2022.03.1 +rocm` build fails because `camp.hip_repair_option` doesn't work with `CachedCMakePackage`

This issue is known and a fix is in progress -- creating a formal description of the issue here to track resolution.

Currently open PRs affected by this include:
* https://github.com/spack/spack/pull/32504
* https://github.com/spack/spack/pull/32506
* htt

[2022-09-26 20:31] G-Ragghianti commented on #30730
The new --fresh option does appear to encourage same-compiler builds, but I question whether this is a good name for the option.  I certainly didn't think it was relevant when I had this problem.  The description or `--fresh` doesn't really seem to correspond with what it actually does since it doesn't appear to rebuild any of the dependencies if they already are installed.

```-U, --fresh

[2022-09-26 20:56] trws commented on #30730
The name isn't great, but the change was intentional to reduce the amount of duplicate builds of things.  With `--fresh`, spack builds the most recent best-fit version of every dependency, so if python releases a new minor version, and you install something with `--fresh`, you'll build a new python and everything that depends on it even if one is already installed.  It does not rebuild identical p

[2022-09-26 21:50] jczhang07 commented on #32826
@balay
I saw `--with-hip-include=/opt/rocm-5.2.0/hip/include`  in petsc configure.log.
It should be `--with-hip-include=/opt/rocm-5.2.0/include` starting from rocm-5.2, as AMD rearranged the directories.

[2022-09-26 22:35] haampie commented on #30730
Notice that

[code]

is possible since Spack `0.19.0.dev0`. It gives you the best of both worlds: single compiler for everything & reuse of already installed packages.

Regarding compiler mixing, I think it would make sense if Spack was more strict. I've had issues with Fortran modules due to incompatible compilers. I can only assume that the same issue will happen in the future with C++ modules i

[2022-09-27 00:08] trws commented on #30730
This is why we need compilers as dependencies.  For most C compiler situations reuse across compilers is no problem at all, but for fortran modules it's always fatal.  Library issues abound as well, but all we can do right now is try to cover the common case.

[2022-09-27 06:51] jewelkm commented on #29381
@mwkrentel Can you please confirm if you still face this issue.
I checked with ROCm 5.2.0 and we do not seeing this issue happening.

[2022-09-27 10:30] albestro commented on #32439
I found myself looking into this, so I think it is useful to report my findings for reference.

Apparently, the conflict between the help message and the behavior began in https://github.com/spack/spack/commit/e4613a60cfa47f30c67173e9298e9b2672d91603, where the command started to look just into installed packages, instead of concretizing the spec and getting its prefix. After that, the implementat

[2022-09-27 10:51] hpcnpatel commented on #13944
To continue the discussion further, I am encountering "MPI not initialized" with Intel MPI errors with a number of package installations. The main problem seems to be, there exists a system MPI (openmpi and mpich) on the system. Now, It is cumbersome to fix more than a few packages by editing package.py files.

Do you find any other solution to this problem? How can I tell Spack to not consider th

[2022-09-27 15:59] becker33 commented on #32829
Closing this issue as it demonstrates a misunderstanding of `spack env view enable/disable`. Talking with @shahzebsiddiqui out of band about other potential features.

[2022-09-27 15:59] #32829 closed, assigned to nobody

[2022-09-27 17:26] G-Ragghianti commented on #30730
Thank you.

[2022-09-27 17:26] #30730 closed, assigned to trws

[2022-09-27 18:05] daboehme commented on #32827
Hi @eugeneswalker , thanks for reporting this. At first glance the config looks good. I'll try to reproduce this on our systems.

[2022-09-27 19:28] krcb commented on #31479
@tagardiner @adamjstewart I am seeing this same error attempting to build gcc@11.3.0 on OSX x86 (clang@14.0.0). @tagardiner solution of building with bootstrapping doesn't appear to address this specific error. @adamjstewart are you aware of a patch that would fix this?

[2022-09-27 19:32] #27027 closed, assigned to nobody

[2022-09-27 20:03] adamjstewart commented on #31479
GCC does not build with Apple Clang 14.0.0 at the moment: https://github.com/iains/gcc-12-branch/issues/6

I added a conflict to warn about this in #32702. Hopefully Apple will fix the linker bug soon. For now, if you need a Fortran compiler on macOS, I would either use Homebrew or DMG installers.

[2022-09-27 21:22] #32830 closed, assigned to nobody

[2022-09-27 23:13] TBird2001 opened #32859 "Installation issue: Gnuplot will not build with apple-clang"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
==> gnuplot: Executing phase: 'autoreconf'
==> gnuplot: Executing phase: 'configure'
==> Error: ProcessError: Command exited with status 77:
    '/var/folders/k2/c2vvwrxs4_z7523r3nqqnzbm000lts/T/jcverle/spack-stage/spack-stage-gnuplot-5.4.3-2ayftoulcwjfwkwm2lazq65uxjm2sxh3/spack-src/configur

[2022-09-28 03:59] mwkrentel commented on #29381
Hmm, I just tried `spack install hip @5.2.3` and yes, the build still
fails for me in `hsa-rocr-dev` with the same error as before.

[code]

Let me check the tar files, that will tell me if anything has changed or not.

[2022-09-28 07:03] Jordan474 opened #32861 "Under jobserver, spack doesn't respect non-parallel make"
### Steps to reproduce

I did some massive spack env depfile, and I encountered a bug: long story story short, when a package ask for `make(parallel=False)`, spack runs `make`, which is fine until you are running under a jobserver (`spack env depfile`) then this `make` runs in parallel.

(I already have a fix, I'll create a pull request)

I first encountered the bug when installing `py-pyqt5` usin

[2022-09-28 07:15] #20340 closed, assigned to alalazo

[2022-09-28 10:17] cmacmackin opened #32863 "Installation issue: Autotools-based builds failing with dpcpp"
### Steps to reproduce the issue

There is a [known bug](https://community.intel.com/t5/Intel-oneAPI-Data-Parallel-C/dpcpp-and-GNU-Autotools/m-p/1296985) when using `dpcpp` within autotools-based builds. In this report I am using the `pcre` package (@drkennetz) as a representative and relatively fast-failing example.

[code]

### Error message

<details><summary>Error message</summary><pre>
==> In

[2022-09-28 10:23] cmacmackin commented on #32863
Having read the [bug report](https://community.intel.com/t5/Intel-oneAPI-Data-Parallel-C/dpcpp-and-GNU-Autotools/m-p/1296985) given to Intel, I can see two potential solutions for spack:

- provide some sort of wrapper for dpcpp, as proposed in the bug report
- Modifying the Autotools-based build process to filter out the offending object files from the `predep_objects` immediately after running t

[2022-09-28 13:52] al42and commented on #1712
This is also the case for `fftw-api`. `ngspice` (also `berkeleygw` and `octopus`) tries to concretize which variant of FFTW3 it wants:

[code]

So, one would expect that `ngspice+fft+openmp` would request FFTW3 with OpenMP support but without MPI. However, this is not what happens:

[code]

[2022-09-28 15:03] quellyn opened #32878 "intel-oneapi-mkl sources missing from mirror.spack.io"
### Steps to reproduce

I’m trying to pull down intel-oneapi-mkl source:
[code]
Looking through the output, the source seems to be missing from [mirror.spack.io](http://mirror.spack.io/):
[code]

The platform I’m looking to develop on is pretty tightly firewalled and blocks access to [intel.com](http://intel.com/), so I’m hoping to be able to pull from the Spack mirror instead.

### Error message

[2022-09-28 15:34] al42and commented on #32655
@balay, `fftw-api`, being a virtual package, is not passing down its variants (#1712). So, with your patch, `spack spec petsc+fftw ^amdfftw~mpi` will install AMD-FFTW without MPI support without complaints:

[code]

[2022-09-28 15:54] ma595 commented on #29447
I'm finding that the tests do indeed run with the workaround above. If a test fails however, it seems that the package is removed. Is there a way to install the package even if a test isn't successful? Or even, is there a way to run tests after the package has been installed with `spack install` (i.e. avoiding the use of `spack install --test root`)? Thanks.

[2022-09-28 15:56] adamjstewart commented on #29447
Nope

Yes, `spack test run ...`

[2022-09-28 16:34] tldahlgren commented on #29447
To clarify, `spack test run` will run tests through the package's `test()` method, which will include inherited checks when available (e.g. Python's import checks).

[2022-09-28 16:47] ma595 commented on #29447
Thanks. Therefore, to run a series of pytest tests using `spack test run ...` we need to include pytest as a runtime `run` dependency, and implement a `def test(self): ` function pointing to the repo tests (calling pytest using `Executable(py.test)` or similar)?

[2022-09-28 17:14] adamjstewart commented on #29447
Yes. But I'm currently not accepting PRs that add pytest as a `run` dependency because it isn't. The right way to do this would be to make it a `test` dependency. The fact that `test` dependencies don't show up in `spack test run` is a bug IMO.

Yep. See `py-matplotlib` and `py-statsmodels` for examples of this. Currently, there's a whole history of `spack install --test` and `spack test run` not

[2022-09-28 17:20] fourdim opened #32881 "Inconsistent path on ArchLinux"
### Steps to reproduce

[code]

### Error message

_No response_

### Information on your system

ArchLinux won't return an empty string in `distro.version()` if the package lsb-release is installed.

lsb-release package is not installed by default. However, under some circumstances, it will be installed as a dependency, which will break the existing environment. The path will be `/var/lib/spack/p

[2022-09-28 18:29] eugeneswalker commented on #30483
Yes, that is right. Any update on this? Would it help if we pinged anyone else on this issue?

[2022-09-28 19:46] eugeneswalker commented on #32826
Is this something I'm doing wrong in setting up my config?

In my spack.yaml, where I define `hip` as external, I am observing the same behavior even if I change:
[code]

to
[code]

[2022-09-28 20:07] jczhang07 commented on #32826
@balay who added `--with-hip-include=/opt/rocm-5.2.0/hip/include` to petsc configure?
I searched but could not find `with-hip-include` in https://github.com/spack/spack/blob/develop/var/spack/repos/builtin/packages/petsc/package.py

[2022-09-28 21:54] flxmr opened #32888 "Fine-Grained Control over the reuse-process"
### Summary

So, as I mentioned on the Slack, I would like to have all specs with a specific `target=<desc>` at the root be concretized with that target enforced for all dependencies. So I want to disable reusing non-target dependencies I'd argue.

Where should I start? Would I add an option to the concretizer (seems HARD) or do I just override something in lib/spack/spack/spec.py?

Also: it might

[2022-09-29 02:17] adamjstewart opened #32893 "Environments: matrix of optional variants"
### Summary

I would like to be able to create a Spack Environment with all possible values of a set of variants. Not all packages in the environment will have these variants, and some will have these variants recursively. Basically, I want something like:
[code]
Where `+A` and `+B` will be toggled one and off for `C`, `D`, and `E`, even if those packages don't have those variants, even if their d

[2022-09-29 02:22] adamjstewart opened #32894 "Environments: matrix of OS/arch"
### Summary

I would like to be able to test the same stack in CI across multiple platforms.

### Rationale

I'm working on creating a CI stack for ML packages: https://github.com/spack/spack/pull/31592

I would like to be able to test this stack on multiple operating systems:

1. Linux
2. macOS
3. Windows?
4. Cray?

and multiple architectures:

1. x86_64
2. aarch64
3. ppc64le

at the moment, this

[2022-09-29 08:22] alalazo commented on #32888
Can you be more specific by, e.g. providing one or more concrete use cases? Asking because, depending on the complexity of what you need, this might be already doable with `packages:<name>:require` modulo the bugfix in #32528

[2022-09-29 08:59] flxmr commented on #32888
Thank you I'll try this in a minute, still looking throught the asp.py.

Essentially I would like a kind of "minimal architecture", which is used by default even if there are packages to reuse. E.g. it might happen that for some reason our ansible-playbook starts building package X for `target=x86_64_v3` (which is some old machines). Then later, something requires package X when building for e.g.

[2022-09-29 09:24] flxmr commented on #32888
So, from my reading of asp.py the "easiest" (and probably cleanest way) would be to just add some flags to the concretizer config and then just filter here accordingly: https://github.com/spack/spack/blob/7d50fd3b8e82f93df73b86d54a8d15df4ec07b2b/lib/spack/spack/solver/asp.py#L2359

could any of core developers please confirm this is "the way", then I'll try to add more flags to control reuse and m

[2022-09-29 10:48] alalazo commented on #32747
@adamjstewart See https://github.com/spack/spack/pull/21222#issuecomment-767560765

[2022-09-29 11:22] flxmr commented on #23182
https://github.com/flxmr/spack/tree/flxmr-newest-install - I have some code here. Does this look a) okay (so I can add test) and b) which commands other commands could need this.

[2022-09-29 12:28] kuberry commented on #32503
Hello @cyrush. Now that the fix is in, would you mind checking if it solved your `hwloc` issue?

[2022-09-29 14:46] psakievich commented on #23182
I think it looks pretty good.  I would suggest opening a PR to a get a more thorough review from the core team. In terms of commands, I like `load` and I would also want `find`. Thanks for continuing to pursue this.

[2022-09-30 06:04] shumin1027 opened #32912 "Can't add compiler flags"
### Steps to reproduce

[code]

### Error message

[code]

### Information on your system

* **Spack:** 0.18.1 (13e6f87ef6527954b152eaea303841978e83b992)
* **Python:** 3.10.6
* **Platform:** linux-manjaro22-skylake
* **Concretizer:** clingo

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have searched the issues of this repo

[2022-09-30 06:26] shumin1027 commented on #32912
I found that need to escape the `"` use `\"`

[code]

[2022-09-30 15:27] adamjstewart commented on #32912
@becker33 this seems like a regression

[2022-09-30 15:31] adamjstewart commented on #32859
I wonder if this is at all related to https://github.com/iains/gcc-12-branch/issues/6.

TL;DR: the linker that comes with Xcode 14.0 is known to have bugs, they may be fixed in Xcode 14.1 (in beta)

[2022-09-30 15:54] iarspider opened #32922 "setuptools breaks when using inheritance with packages"
### Steps to reproduce the issue

[code]

### Error message

[code]

### Information on your system

* **Spack:** 0.19.0.dev0 (cf0c4523f34360a601e0e73e12eb36d317862916)
* **Python:** 3.10.7
* **Platform:** linux-fedora36-skylake
* **Concretizer:** clingo

### Additional information

Looks similar to https://github.com/spack/spack/issues/31648, so could be a duplicate.

### General information

- [

[2022-09-30 16:09] adamjstewart commented on #32922
Yep, looks like a duplicate, just a different error message. I've never used external repos before so unfortunately I can't help.

[2022-09-30 20:05] eugeneswalker commented on #32133
Closing this as fixed by https://github.com/spack/spack/pull/32469

[2022-09-30 20:05] #32133 closed, assigned to nobody

[2022-09-30 20:11] eugeneswalker commented on #32127
Closing this as fixed by https://github.com/spack/spack/pull/32469

[2022-09-30 20:11] #32127 closed, assigned to nobody

[2022-09-30 20:23] eugeneswalker commented on #32113
Have you had a chance to look at this @jeanbez @sbyna ? Because GCC 11.2.0 is used by PrgEnv-gnu on OLCF's Crusher and NERSC's Perlmutter, we are unable to build `h5bench@1.2` on either of those systems because of this.

[2022-09-30 20:37] eugeneswalker opened #32932 "blt@0.5.1 bug affecting build of umpire@2022.03.1 +rocm: umpire/util/io.cpp:103:14: error: 'std::filesystem' has not been declared"
### Steps to reproduce the issue

`umpire@2022.03.1 +rocm %gcc@11.2.0` build is failing due to issue with `blt@0.5.1`

spack.yaml
[code]

<details><summary>Concretization</summary><pre>
 -   tmss4gq  umpire@2022.03.1%gcc@11.2.0+c~cuda+device_alloc~deviceconst+examples~fortran~ipo~numa~openmp+rocm+shared amdgpu_target=gfx90a build_type=RelWithDebInfo tests=none arch=linux-ubuntu22.04-cascadelake
[+

[2022-09-30 20:40] mcfadden8 commented on #32932
It is more accurate to say that a fix has been proposed in BLT.  Further digging has shown that this is a cmake bug that was documented several years ago.  We are still working on determining what the best way to work around the issue is.  But we at least understand why it is happening.

[2022-09-30 20:43] mcfadden8 commented on #32932
We are still reviewing/working the fix, so I would hold off on patching until we settle on the best approach

https://gitlab.kitware.com/cmake/cmake/-/issues/15550
and
https://cmake.org/cmake/help/latest/policy/CMP0067.html

[2022-09-30 20:55] eugeneswalker commented on #32932
Got it! Won't merge anything until things settle. Thank you!

[2022-09-30 21:33] eugeneswalker commented on #32111
Have you had a chance to look at this @jthies ?

[2022-10-01 10:17] jthies commented on #32111
Hi @eugeneswalker thanks for the reminder.
I looked at it now but couldn't resolve it quickly. Using the Intel OneAPI compilers (mpiicpc, mpiicc, mpiifort) I ran into another  minor issue that could be fixed easily, but here you seem to be using a compiler that identifies itself in CMake as "IntelLLVM". If I set CC=mpicc, CXX=mpicxx, FC=mpifort on my system, the underlying comiplers are GNU. So I'

[2022-10-01 13:04] jthies commented on #32111
Hm, I compiled it manually now with "icx", "icpx", "ifx" and it worked fine. I have OneAPI version 2022.0.0

[2022-10-01 17:39] jthies commented on #32111
An issue I encounter when building phist %oneapi within spack is that "oneapi-mpi" sets the MPI compiler wrappers to "mpiicc", etc., which means that they will use icc, icpc and ifort rather than icx, icpx and ifx. This then leads to linker errors. I don't think this is a phist issue: we use this code to set the compilers to MPI wrappers:
[code]
So if oneapi provides the compilers as "icx" etc, th

[2022-10-02 16:09] adamjstewart opened #32944 "Installation issue: hwloc+rocm"
### Steps to reproduce the issue

[code]

### Error message

[code]
The problem is that there is no `rocm` package in Spack. Should it instead be `rocm-smi-lib`?

### Information on your system

* **Spack:** 0.19.0.dev0 (8698ca310e15d799a63d96dfc00f1b5cf71319cd)
* **Python:** 3.9.13
* **Platform:** linux-amzn2-x86_64_v4
* **Concretizer:** clingo

### Additional information

@bgoglin @bvanessen thi

[2022-10-02 22:03] adamjstewart commented on #29308
Probably related to https://github.com/spack/spack/issues/32375, https://github.com/spack/spack/pull/32936, https://github.com/python-poetry/poetry/issues/5547.

TL;DR: poetry-core will use global `.gitignore` files to skip files that get installed, resulting in an empty installation prefix. Current workaround is to remove `poetry` from your global `.gitignore`. I'll see if I can find a more robus

[2022-10-03 01:18] simonLeary42 commented on #32888
I was about to request the same thing.

I was asking around in the spack slack about this issue:
[code]
And I heard back from @tgamblin :

I feel like if I'm asking for a particular architecture, `--reuse` should be able to do it's job within those bounds.

[2022-10-03 02:14] climbfuji opened #32948 "`spack install --source` not working for `ca-certificates-mozilla`"
### Steps to reproduce

I am getting an error for `ca-certificates-mozilla` when I am trying to install it with `spack install --source`. I don't care about the sources for this package specifically, rather I am kicking off an install for an entire environment with `spack install --source` and it fails almost immediately in `ca-certificates-mozilla` in the `install` phase. The error is that direct

[2022-10-03 08:23] iarspider commented on #31648
@alalazo gentle ping.

[2022-10-03 13:07] climbfuji commented on #32948
FWIW, except for `ca-certificates-mozilla`, I could install all these packages with `--source`:
[code]

[2022-10-03 16:16] eugeneswalker commented on #32111
I see this error even building against `mpich`:

Here using:
* spack@develop (52e538e1d98a5cc5d90b04fa65ad086a9412af4d from `Mon Oct 3 04:13:52 2022 -0700`)
* Docker container image `ecpe4s/ubuntu20.04-runner-x86_64-oneapi:2022-07-01`
* OneAPI 2022.1.0

<details><summary>spack.yaml</summary><pre>
spack:
  view: false

  concretizer:
    reuse: false
    unify: when_possible

  compilers:
  - compi

[2022-10-03 16:20] TBird2001 commented on #32859
That is possible. A while after reporting this issue, I ran into the linker issue you noted. I'm willing/able to wait until Apple resolves their issue, and then I can try this again.

[2022-10-03 16:22] adamjstewart commented on #32375
@scheibelp how do you feel about this solution? The poetry devs also recommended this approach: https://github.com/python-poetry/poetry/issues/5547#issuecomment-1265599210

Are there any possible issues? What if someone is behind a firewall and requires proxy stuff that is in their global git configuration file?

Where should we do this? My first thought was in `build_environment.py`, but I don't

[2022-10-03 23:49] psakievich commented on #31194
This is also blocking the install of `texlive` :sob:

[2022-10-04 10:29] #32948 closed, assigned to climbfuji

[2022-10-04 15:48] eugeneswalker commented on #32932
Is it OK if I create a PR here in Spack that patches in the changes from [LLNL/blt#600](https://github.com/LLNL/blt/pull/600) for `blt@0.5.1` ?

[2022-10-04 20:06] #32336 closed, assigned to nobody

[2022-10-04 20:20] charmoniumQ opened #32994 "Installation issue: nix"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
==> Installing nix-2.3.15-iotneds2ir4qyfv42ybeowj5o67ultwu
==> No binary for nix-2.3.15-iotneds2ir4qyfv42ybeowj5o67ultwu found: installing from source
==> Using cached archive: /home/sagrays/.local/share/spack/var/spack/cache/_source-cache/archive/7b/7bf04e47960e7895655ad40461f2cf8038b97e981

[2022-10-04 21:31] flxmr commented on #32888
also (just leaving this here as a note to me): if I have some "basic" specs lying around it looks like target-specifications in the defaults are not really respected when concretizing environments.

[2022-10-04 22:30] salotz-sitx commented on #31530
I'm having a similar issue with `py-scipy`. `spack concretize --fresh` does indeed get rid of the error, but this has the unwanted side effect of not reusing anything in my build cache when it is possible for most packages.

Its very hard to reproduce because it depends on exactly whats installed locally and in the build cache.

[2022-10-05 00:37] #32994 closed, assigned to nobody

[2022-10-05 13:14] haampie opened #33014 "Embrace GNU Jobserver FIFO / named pipes for composable parallelism"
### Summary

GNU Make soon :tm: supports named pipes, in fact the alpha release `4.3.90` already supports it.

The advantage of named pipes is that we don't have to worry about file descriptors closing when make is invoked many sub-processes down the line, instead we only need to ensure that the `MAKEFLAGS` env variable is propagated to the relevant process.

A small Python example goes like this:

[2022-10-05 14:09] tasmith4 opened #33015 "Creating a bootstrap mirror fails if a C++14 compiler is not available"
### Steps to reproduce

I'm trying to set up a cache of the sources for bootstrapping spack (i.e. I want to be able to copy this to systems that are air-gapped or where proxy issues are blocking spack from downloading sources, but I want to build locally, since I don't want to have to know the architecture in advance and pre-build binaries for it).  I tried this:
[code]
The C++14 error is because

[2022-10-05 14:09] tasmith4 commented on #33015
@alalazo

[2022-10-05 15:17] cosmicexplorer opened #33020 "allow "not" in `when` clauses"
### Summary

Extend `when` clauses somehow to support negation of the matching performed by their argument.

### Rationale

In working on #24025 I realized that spack version ranges can already support "non-inclusive" bounds. However, @haampie brought up a couple cases that we still can't express:

- A version range that matches the exact version `1`, but *not* the exact version `1.0`.
- Adding a

[2022-10-05 15:45] #32944 closed, assigned to nobody

[2022-10-05 16:03] cosmicexplorer commented on #33020
I see that this was previously discussed in the telcon, and the discussion touched on something I was also thinking: when does `conflicts()` not cover this use case? Useful background: https://github.com/spack/spack/wiki/Telcon%3A-2022-04-13

[2022-10-05 22:35] flxmr opened #33036 "Clingo can't use packages from non-primary namespaces"
### Steps to reproduce

So, maybe I misunderstand some things, but the thing from here: https://github.com/spack/spack/issues/23298 is still bugging me.

Now it's even worse and when I have setup another repo in second place in `repos.yaml`:
[code]
I can't use select packages from this repo like
[code]
this always concretizes to the builtin repo
[code]

I thought this should pick the one from the

[2022-10-06 02:53] adamjstewart commented on #33020
Not opposed to some kind of "not", but wanted to point out that this is possible:
[code]

[2022-10-06 04:07] salotz-sitx opened #33040 "Multiple extendees error"
### Steps to reproduce

I've been having problems installing and generating specs for certain packages in the current configuration of local packages and those in my build cache. So I think it will be pretty difficult to reproduce and I'm not sure that the particular package here is at fault.

[code]

I had similar errors (with different python packages) recently that were solved simply by providi

[2022-10-06 07:36] flxmr commented on #33036
So, this seems relatively hard. When I look into asp.py, it gets a list of possible specs using package_basepy/`PackageBase()`'s `possible_dependencies`-function. This only works with strings at some point. Which means, it will always default to the first package found! not good. I'll try creating a `override_full_name`-dict and see whether I can pass this through all the relevant functions collec

[2022-10-06 07:37] mabraham opened #33042 "spack bootstrap fails when gcc-10 is found and g++-10 is not installed"
### Steps to reproduce

While installing spack on a new air-gapped machine from develop c5d62294b20 commit, I built and copied over a mirror, and set it up following https://spack.readthedocs.io/en/stable/bootstrapping.html. Bootstrapping fails when it selects gcc-10 because there is no matching g++-10. The system gcc and g++ are 7.5.0 but spack does not seem to consider them and I can't find a wa

[2022-10-06 07:37] alalazo commented on #33040
Investigate if this might also be related to #987

[2022-10-06 07:51] alalazo commented on #33042
@mabraham Just double checking, but I assume it is not an option for you to mirror also the binary packages? In that case you don't need a C++ compiler.

[2022-10-06 09:55] haampie commented on #9741
Pinging @albestro on this issue too :upside_down_face: since I briefly discussed it with @alalazo again.

There's multiple solutions now, `spack develop` is quite nice for example (which is what @albestro uses)

## `spack install --keep-stage`

✅  debugger can locate sources and *generated* sources correctly
❌ have to change the stage dir to something shared, when debugging on a different node
❌ d

[2022-10-06 12:40] haampie commented on #6941
Closing this, the julia recipe has been overhauled

[2022-10-06 12:40] #6941 closed

[2022-10-06 13:12] tasmith4 commented on #33015
Further note on this -- I found that even after a successful bootstrap (i.e. `spack spec zlib` will give me a concrete spec with no errors), I would still get the `Error: C++14 support is required to bootstrap clingo` when running `spack bootstrap mirror`.

[2022-10-06 13:36] salotz-sitx commented on #33040
@alalazo It might be under the hood, but I don't think any of these packages are extending multiple extendees.

[2022-10-06 14:57] omsai commented on #15780
Ok, so from both #12667 and this report, what's common is the old python2.6.6 version on RedHat 6.  The spack supported python version at the minute is python 2.7-3.10 (https://spack.readthedocs.io/en/latest/getting_started.html#system-prerequisites) therefore I suggest closing both bugs as won't fix.

[2022-10-06 14:58] omsai commented on #12667
Closing as explained in https://github.com/spack/spack/issues/15780#issuecomment-1270211211

[2022-10-06 14:58] #12667 closed

[2022-10-06 15:12] omsai commented on #12419
This issue was PEBKAC.  I had run into an issue with a duplicate of bzip2 in my local namespace to solve the type of problem described in this [mailing list post](https://groups.google.com/g/spack/c/yeceTzEdq5w/m/c71I97KGCwAJ).  No problem installing `py-cutadapt@2.10` now.

[code]

[2022-10-06 15:14] adamjstewart commented on #15780
I'm fine with that, I haven't seen this issue since then.

[2022-10-06 15:14] #15780 closed

[2022-10-06 16:32] simonLeary42 opened #33069 "Core compilers prepend the Core directory to the modulepath"
### Steps to reproduce

[code]

[code]

[code]

[code]

[code]

### Error message

What happens is that Lmod spider sometimes gets itself into a loop and has a seg fault.
While that is a separate bug report, I see no reason why the core compilers should add the core directory to modulepath, because the core directory by definition is always loaded.

### Information on your system

[code]

### Gene

[2022-10-06 16:33] omsai commented on #18878
@hdezmora In your log, this build failure happens with harfbuzz and not openbabel so the this issue isn't the right place for that report.  The version of harfbuzz was bumped from the 4.2.1 version you tried to 5.1.0 on September 20.  If the fault still persists on your system after updating spack to the new version of harfbuzz, I suggest opening a new issue for harfbuzz and filing the full bug re

[2022-10-06 17:09] omsai commented on #26825
Yay!  This now compiles with `htop@3.2.0` officially now in spack.  For some reason my old system python takes precedence over `SPACK_PYTHON` set to the `python3` binary in `python@3.8.11`, but that's a problem for another time 🤷.

[code]

[2022-10-06 17:09] #26825 closed, assigned to nobody

[2022-10-06 18:54] omsai commented on #24805
htop@3.2.0 compiles.

[2022-10-06 18:54] #24805 closed, assigned to nobody

[2022-10-06 19:00] omsai commented on #18878
Fixed by #31456 for `openbabel@3.0.0 ~gui`

[code]

I that couldn't use the original machine on which I found the fault because spack bootstrap keeps trying to use the operating system `gcc@4.4.7` and failing because clingo needs a C++14 compiler even though the only recognized compiler from `spack compiler list` is `gcc@9.2.0`.

[2022-10-06 19:00] #18878 closed, assigned to nobody

[2022-10-06 19:50] wyphan opened #33071 "OpenMP is broken for `llvm@12.0.1`"
### Steps to reproduce

[code]

### Error message

[code]

### Information on your system

* **Spack:** 0.19.0.dev0 (deae0c48e44753a97a39660b37ad0fbf025be55e)
* **Python:** 3.6.5
* **Platform:** linux-fedora26-graviton
* **Concretizer:** clingo

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have searched the issues of this

[2022-10-06 19:52] wyphan commented on #33071
@trws kindly helped me troubleshoot this problem by running `patchelf --show-rpath` on the `libomp.so` file, which returns empty. The problem goes away after manually patching the `libomp.so` file with `patchelf --add-rpath <path/to/libhwloc.so.15>`.

[2022-10-06 20:16] haampie commented on #33071
Hm, isn't `CMAKE_INSTALL_RPATH_USE_LINK_PATH` propagated to runtimes?

[2022-10-06 20:17] trws commented on #33071
I think it is, but I think this is the last version where we still used `ENABLE_PROJECTS` for OpenMP and had to have a post-build rebuild step for libomptarget.

[2022-10-06 23:16] #32111 closed, assigned to nobody

[2022-10-06 23:20] #30508 closed, assigned to nobody

[2022-10-07 18:28] tldahlgren opened #33108 "Testing issue: omega-h@9.34.13%gcc@9.4.0"
### Steps to reproduce the failure(s) or link(s) to test output(s)

@cwsmith

The stand-alone tests for the above spec are failing.  More information can be found at:

- Build and test summary:  https://cdash.spack.io/build/1816972
- Stand-alone test errors (all 3 part failed):  https://cdash.spack.io/viewTest.php?onlyfailed&buildid=1816972

### Error message

testing mesh to vtu conversion:
[code

[2022-10-07 18:39] tldahlgren opened #33109 "Testing issue: amrex@22.10%gcc11.1.0"
### Steps to reproduce the failure(s) or link(s) to test output(s)

@WeiqunZhang @asalmgren @etpalmer63

The tests failed as part of Spack's PR testing.  More information can be found at:

- build: https://cdash.spack.io/build/1815894
- Failing tests: https://cdash.spack.io/viewTest.php?buildid=1815894

### Error message

Configure with CMake:

[code]

Compile:
[code]

### Information on your syst

[2022-10-07 18:47] tldahlgren opened #33110 "Testing issue: kokkos@3.6.01%gcc@11.1.0"
### Steps to reproduce the failure(s) or link(s) to test output(s)

@crtrott @janciesko

Stand-alone tests are failing in an Spack PR.  More information (for `uo-illyad`) is at:

- Build: https://cdash.spack.io/build/1816897
- Stand-alone tests: https://cdash.spack.io/viewTest.php?onlyfailed&buildid=1816897

Similarly for `uo-gilgamesh`:

- Build: https://cdash.spack.io/build/1815864
- Stand-lone

[2022-10-07 19:00] tldahlgren opened #33111 "Testing issue: fortrilinos@2.1.0%gcc11.1.0"
@aprokop @sethrj

### Steps to reproduce the failure(s) or link(s) to test output(s)

The package is failing stand-alone tests in a Spack PR.  More information is available at:

- Build:  https://cdash.spack.io/build/1816970
- Stand-alone tests: https://cdash.spack.io/viewTest.php?onlyfailed&buildid=1816970

As well as (`uo-gilgamesh`):

- Build: https://cdash.spack.io/build/1815629
- Stand-alone

[2022-10-07 19:05] tldahlgren opened #33112 "Testing issue: ginkgo@1.4.0%gcc@11.1.0"
### Steps to reproduce the failure(s) or link(s) to test output(s)

@hartwiganzt @tcojean

Stand-alone tests failed during a Spack PR pipeline run.  More information can be found at:

- Build: https://cdash.spack.io/build/1816848
- Stand-alone tests:  https://cdash.spack.io/viewTest.php?buildid=1816848

### Error message

Build test software:
[code]

### Information on your system or the test runn

[2022-10-07 19:12] cwsmith commented on #33108
Hi @tldahlgren.  Thank you for the details.

It looks like the mesh construction test failed with an assertion during gpu memory allocation.  Since that test failed the inputs for the subsequent test(s) are missing and they fail.

Which Nvidia GPU did the test run on?  It looks like `sm_80` was set as the CUDA arch so I'm guessing an Ampere A100 card.

[2022-10-07 19:38] tldahlgren commented on #33108
👍

That's a good question.  I'll have to get back to your on that.

[2022-10-07 19:43] eugeneswalker commented on #32113
Closing this issue following merge of PR https://github.com/spack/spack/pull/33000

[2022-10-07 19:43] #32113 closed, assigned to nobody

[2022-10-07 19:49] eugeneswalker opened #33116 "git@2.37.0 %nvhpc@22.7 build fails: NVC++/x86-64 Linux 22.7-0: compilation completed with severe errors"
### Steps to reproduce the issue

`git@2.37.0 %nvhpc@22.7` build is failing with the error shown below. It is not clear what the actual error is, as the messages seem to be marked as warnings. If we need, we can add a conflict for `git %nvhpc`. I don't know.

spack.yaml
[code]

<details><summary>Concretization</summary><pre>
 -   nvjkyet  git@2.37.0%nvhpc@22.7+man+nls+perl+subtree~svn~tcltk arch=l

[2022-10-07 19:52] tldahlgren opened #33117 "Testing issue: slate@2022.07.00%gcc@11.1.0"
### Steps to reproduce the failure(s) or link(s) to test output(s)

@G-Ragghianti @mgates3

Stand-alone test failure detecting in the E4S stack during PR testing.  More information is at:

- Build: https://cdash.spack.io/build/1816862
- Stand-alone testing:  https://cdash.spack.io/viewTest.php?buildid=1816862

### Error message

From https://cdash.spack.io/viewTest.php?onlyfailed&buildid=1816862:

[2022-10-07 19:57] tldahlgren opened #33118 "Testing issue: arborx@1.2%gcc11.1.0"
### Steps to reproduce the failure(s) or link(s) to test output(s)

@aprokop

Spack PR testing detected stand-alone test failure for the package.  More information for the `large-x86-pub-gitlab-runner-666b7757d9-5pfkj` runner is at:

- Build: https://cdash.spack.io/build/1816931
- Stand-alone tests:  https://cdash.spack.io/viewTest.php?buildid=1816931

For `uo-jupiter`:

- Build:  https://cdash.sp

[2022-10-07 20:02] tldahlgren opened #33119 "Testing issue: tasmanian@7.7%gcc11.1.0"
### Steps to reproduce the failure(s) or link(s) to test output(s)

@mkstoyanov

Spack PR testing of the E4S stack has detected a failure.  More information is at:

- Build:  https://cdash.spack.io/build/1816824
- Stand-alone tests:  https://cdash.spack.io/viewTest.php?buildid=1816824

### Error message

Generate the Makefile:

[code]

### Information on your system or the test runner

Runner: lar

[2022-10-07 20:12] tldahlgren opened #33121 "Testing issue: hpctoolkit@2022.05.15%gcc@11.1.0"
### Steps to reproduce the failure(s) or link(s) to test output(s)

@mwkrentel

Stand-alone test failures were detected in the E4S PR pipeline stack for this spec.  More information is available at:

- Build:  https://cdash.spack.io/build/1816922
- Stand-alone tests: https://cdash.spack.io/viewTest.php?buildid=1816922

And

- Build: https://cdash.spack.io/build/1815883
- Stand-alone tests: https:/

[2022-10-07 21:16] aprokop commented on #33118
I don't understand what I'm looking at. Is there a way to see the full log from the build?

[2022-10-07 21:20] sethrj commented on #33111
@tldahlgren the actual problem is that it can't find cmake. Did something change how spack's cmake utility function works?

[2022-10-07 22:16] tldahlgren commented on #33118
I'm trying to see if it is still around and if there's an "easy" way to grab the logs.

[2022-10-07 22:25] tldahlgren commented on #33111
The issue reported here is arising from the `make` being called in the package's `test` method at https://github.com/spack/spack/blob/8309ae08d17a8e6e21881eb429c411ce255ae919/var/spack/repos/builtin/packages/fortrilinos/package.py#L104.

I created the issue to report the problem that occurred during Spack CI testing for the E4S pipeline stack.  I have not tried replicating locally but am seeing if

[2022-10-07 22:31] tldahlgren commented on #33118
For context, the issue reported here is arising from the `make` being called in the package's `test` method at https://github.com/spack/spack/blob/8309ae08d17a8e6e21881eb429c411ce255ae919/var/spack/repos/builtin/packages/arborx/package.py#L131.

The tests are currently only run from the `E4S` pipeline stack.

Failing stand-alone tests for the pipeline checks are informational (i.e., do not prevent

[2022-10-07 22:40] mkstoyanov commented on #33119
CMake cannot find the AMD packages in the post-install tests.

I will investigate next week, but I'm on travel until Thursday.

Thanks for reporting this,

Miro
________________________________
From: Tamara Dahlgren ***@***.***>
Sent: Friday, October 7, 2022 4:02 PM
To: spack/spack ***@***.***>
Cc: Stoyanov, Miroslav ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] [spack/spack] Testing issu

[2022-10-08 07:15] ADKoishi opened #33125 "[Solved manually] Installation issue: pigz@2.7%oneapi@2022.1.0"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
==> Error: ProcessError: Command exited with status 2:
    'make' '-j16'

2 errors found in build log:
     12    gcc -O3 -Wall -Wextra -Wno-unknown-pragmas -Wcast-qual -c zopfli/src/zopfli/cache.c
     13    gcc -O3 -Wall -Wextra -Wno-unknown-pragmas -Wcast-qual -c zopfli/src/zopfli/hash.c

[2022-10-08 07:16] #33125 closed, assigned to nobody

[2022-10-08 12:49] haampie commented on #33125
Fixed by https://github.com/spack/spack/pull/30912

[2022-10-09 09:01] picsel2 opened #33127 "Installation issue: ninja"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
==> Installing ninja-1.11.0-twjnp4ekwdrwtqak6hp5hj6v7fmli3uc
==> No binary for ninja-1.11.0-twjnp4ekwdrwtqak6hp5hj6v7fmli3uc found: installing from source
==> Using cached archive: /rwthfs/rz/cluster/work/sg805090/local/spack/var/spack/cache/_source-cache/archive/3c/3c6ba2e66400fe3f1ae83deb4

[2022-10-09 10:25] picsel2 commented on #33127
I've noticed some things here:
* It seems to me that the system's installation of re2c was picked up
* Configuring ninja requires re2c: https://github.com/ninja-build/ninja/blob/master/configure.py#L481
* Adding re2c to the ninja package as build dependency fixes the issue

[2022-10-09 12:19] jbigot opened #33131 "Installation issue: openssh"
### Steps to reproduce the issue

In docker image `ghcr.io/pdidev/test_env/builder:latest-clang-2e69267`

some context first:
[code]
<details><summary>result</summary><pre>
==> In environment pdienv
==> Root specs
-- linux-None-x86_64 / clang@15.0.0 -----------------------------
bison@3.0.4:%clang@15.0.0   glew@2.0.0:%clang@15.0.0    libiconv%clang@15.0.0         llvm@15.0.0%clang@15.0.0       py-

[2022-10-09 19:26] jthies commented on #32164
related PR: #33132 (targets openblas but may help to support nvhpc lapack in phist, too)

[2022-10-10 00:58] kipintouch opened #33134 "Installation Issue: man-db"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
mv -f .deps/libgnu_la-argp-ba.Tpo .deps/libgnu_la-argp-ba.Plo
/bin/sh ../../libtool  --tag=CC   --mode=compile /opt/spack/lib/spack/env/gcc/gcc -DHAVE_CONFIG_H -I. -I../..  -DDEFAULT_TEXT_DOMAIN=\"man-db-gnulib\"   -Wno-cast-qual -Wno-conversion -Wno-float-equal -Wno-sign-compare -Wno-undef

[2022-10-10 03:26] mwkrentel commented on #33121
@tldahlgren
I tried this on an x86_64 RHEL 8.5 system with spack-built gcc 11.1.0.
Works for me.

I'm not familiar with the mechanics of the E4S builds.
I assume this is running in a docker container?

Can you point me to the container specs so I can run exactly the same
config that you're running.

[2022-10-10 13:16] ChristianKniep opened #33148 "Installation issue: blast-plus (missing cpio)"
### Steps to reproduce the issue

[code]

### Error message

[code]

### Information on your system

c7g-4x Instance

### Additional information

_No response_

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have run `spack maintainers <name-of-the-package>` and **@mentioned** any maintainers
- [X] I have uploaded the build

[2022-10-10 13:39] ChristianKniep commented on #33148
I manually added `cpio` to the `bootstrap` part of the Dockerfile and it works.

[2022-10-10 13:46] #32194 closed, assigned to nobody

[2022-10-10 14:03] haampie commented on #33134
Seems like you're hitting a bug in a vendored copy of gnulib, see https://github.com/spack/spack/pull/31693 for details.

You can add pretty much the same patch to man-db, except that gnulib lives in the `./gl` dir.

[2022-10-10 15:02] haampie commented on #33131
You should file this issue upstream, since it's a package issue, not a Spack issue. Apparently there's some disagreement between clang and gcc, clang turns asprintf into a define when using `-O2 -D_FORTIFY_SOURCE=2` + `#include includes.h`, so you shouldn't have a declaration of `asprintf` in openssh then.

Feel free to add a conflict on `%clang` in Spack.

[2022-10-10 20:04] adamjstewart commented on #32571
Is anyone working on this? This seems like a major issue.

[2022-10-10 21:41] luke-dt commented on #29308
To add to this, I think it's grabbing spack's `.gitignore` and causing issues. I was running into this bug again, and I was able to get around it with a dirty hack:

[code]

[2022-10-10 22:51] trws opened #33176 "Iintrospect `clang` and have it report its chosen gcc toolchain"
Regarding `llvm%clang`, we could introspect `clang` and have it report its chosen gcc toolchain, and use that to fix `GCC_INSTALL_PREFIX` once and for all too... but that would another PR.

_Originally posted by @haampie in https://github.com/spack/spack/pull/33146#discussion_r991584435_

This issue is for that PR.

[2022-10-10 23:58] eugeneswalker opened #33178 "autoconf %oneapi@2022.2.0: autoconf.as:1: non-numeric argument to builtin `_m4_divert_raw'"
### Steps to reproduce the issue

`autoconf@2.69 %oneapi@2022.2.0` build fails with the error shown below:

<details><summary>Concretization</summary><pre>
 -   evnwdcl  autoconf@2.69%oneapi@2022.2.0 patches=35c4492,7793209,a49dd5b arch=linux-ubuntu20.04-x86_64
[+]  kimlvzx      ^m4@1.4.19%oneapi@2022.2.0+sigsegv patches=9dc5fbd,bfdffa7 arch=linux-ubuntu20.04-x86_64
[+]  crtmxcf          ^diffutil

[2022-10-11 02:52] tgamblin commented on #32571
@nhanford can you look at this?

[2022-10-11 05:07] lrtfm commented on #25944
#33135 fixed this.

[2022-10-11 08:25] #25944 closed, assigned to nobody

[2022-10-11 08:27] haampie commented on #32881
Duplicate of #32479 / #26762

[2022-10-11 08:30] trws commented on #29342
The error looks like it could be from ncurses lacking termlib, was the build using an external ncurses by any chance?

[2022-10-11 08:37] haampie commented on #30991
We now run 3.10 tests in ci

[2022-10-11 08:39] haampie commented on #29342
You might wanna try the Spack develop branch, there's been some changes to llvm/ncurses since

[2022-10-11 08:44] haampie commented on #5110
Closing since we have [package requirements](https://spack.readthedocs.io/en/latest/build_settings.html#package-requirements) now

[2022-10-11 08:44] #5110 closed

[2022-10-11 08:47] behrmann commented on #29342
I think so, as described above, the build tries to resolve curses relative to the compiler. This was not configured, though.

I'll have a look whether it still persists on develop.

[2022-10-11 08:48] #13902 closed

[2022-10-11 08:53] haampie commented on #19840
Closing this since these variables can be configured with `spack config add modules:prefix_inspections:./include:[CPATH]`

[2022-10-11 08:53] #19840 closed, assigned to alalazo

[2022-10-11 08:56] haampie commented on #28889
Closing this since you can now add

[code]

[2022-10-11 08:56] #28889 closed, assigned to nobody

[2022-10-11 08:57] haampie commented on #27570
We now bootstrap patchelf, so closing this

[2022-10-11 08:57] #27570 closed, assigned to alalazo

[2022-10-11 09:01] haampie commented on #29426
Feel free to reopen if this is still an issue. As far as I can see `./lib64/pkgconfig` is part of `spack config blame modules`.

Edit: `spack env activate` will not set any variables if nothing is installed yet -- reactivating after install will solve the issue.

[2022-10-11 09:01] #29426 closed, assigned to nobody

[2022-10-11 09:43] haampie commented on #32571
fwiw, can't reproduce on catalina x86_64 w/ apple-clang 11, seems like it's using absolute paths for load commands and dylib ids instead of `@loader_path`

[2022-10-11 11:45] iarspider opened #33194 "`spack style`: mypy checks files belonging to system python"
### Steps to reproduce

On a FC36 machine with mypy 0.982 installed under `/home/user/.local/bin`:
[code]

### Error message

[code]

### Information on your system

* **Spack:** 0.19.0.dev0 (73575eadde00573e6813633dd090041bee08c687)
* **Python:** 3.10.7
* **Platform:** linux-fedora36-skylake
* **Concretizer:** clingo

### General information

- [X] I have run `spack debug report` and reported the

[2022-10-11 12:18] #32503 closed, assigned to nobody

[2022-10-11 13:49] kipintouch commented on #33134
@haampie Thanks,  the `gnulib.patch` solves the issue.

[2022-10-11 13:49] #33134 closed, assigned to nobody

[2022-10-11 13:53] balay commented on #32826
[code]
i.e `--with-hip-include=/opt/rocm-5.2.0/hip/include` is what spack gives to petsc/package.py via `spec[hip].prefix.include`

So I would think modified spec in `spack.yaml` - would fix it - so don't know why it doesn't.

I guess this is the same issue as https://github.com/spack/spack/pull/32938#issuecomment-1272179070

[2022-10-11 14:19] eugeneswalker commented on #32826
I'm not sure it's the same issue. Here, on Crusher using external ROCm, `petsc` doesn't make it past `configure`.

With PR https://github.com/spack/spack/pull/32938, `petsc@3.18.0 +rocm` is failing during build phase:
[code]

[2022-10-11 14:42] haampie opened #33212 "Patch binary installs"
Binary packages like `intel-oneapi-compilers`, `nvhpc` and `cuda` have tons of dependencies (gcc, compression libs...) that we currently don't really cover, they're just taken from the system.

Should we run patchelf to binaries in the prefix to add mising rpaths as a post-install step?

GCC libs include `libatomic.so`, `libgcc_s.so`, `libgfortran.so`, `libquadmath.so`, `libstdc++.so`
Compression

[2022-10-11 15:15] eugeneswalker opened #33214 "axom@0.7.0 +cuda: raja: error: 'cuda' is not a member of 'RAJA::policy'"
### Steps to reproduce the issue

`axom@0.7.0 +cuda %gcc@11.1.0` build fails
* CUDA 11.7.0
* RAJA 2022.03.0

<details><summary>Concretization</summary><pre>
 -   xzrrxjn  axom@0.7.0%gcc@11.1.0+cpp14+cuda~devtools+examples+fortran+hdf5~ipo+lua~mfem+mpi+openmp~python+raja~rocm~scr+shared+tools+umpire build_type=RelWithDebInfo cuda_arch=80 arch=linux-ubuntu20.04-x86_64
[+]  yvtnig5      ^blt@0.5.2%gc

[2022-10-11 15:35] michaelkuhn commented on #30991
`spack unit-test` still doesn't work out-of-the-box, though (or did I miss something?):
[code]

[2022-10-11 16:03] #31782 closed, assigned to scheibelp

[2022-10-11 17:23] G-Ragghianti commented on #33117
Please test https://github.com/spack/spack/pull/33218

[2022-10-11 19:41] kipintouch opened #33219 "Installation issue: Neovim @(stable, git)"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
-- Looking for pthread_create in pthreads
-- Looking for pthread_create in pthreads - not found
-- Looking for pthread_create in pthread
-- Looking for pthread_create in pthread - found
-- Found Threads: TRUE
-- Found LibUV: /spack-bin/gcc-12.2.0/libuv-1.44.1-6h3763f/lib/libuv.so (Required i

[2022-10-11 21:06] balay commented on #32826
@eugeneswalker  I'm trying out a build on crusher

With
[code]
I'm getting:
[code]
So this part is good. However on switching to:
[code]
I get:
[code]
Any idea why `hipcc` [within spack] breaks with this change?

[2022-10-11 21:26] balay commented on #32826
spack-build-env.txt for the first use-case has:
[code]
and the second one:
[code]
[code]

[code]

Don't really understand why `HIP_CLANG_PATH` is getting set differently for this second use-case.

[2022-10-11 21:35] balay commented on #32826
Other diffs:
[code]

[2022-10-11 21:55] greenc-FNAL opened #33227 "Concretizer not handling BuildCache recipes in namespaces not defined locally"
### Steps to reproduce

1. Build a package from a recipe in a non-builtin repo.
2. Upload it to a BuildCache mirror.
3. In a clean Spack instance, configure access to the BuildCache mirror but *not* the non-builtin repo.
4. Attempt to do anything involving the concretizer (`spack stage`, _etc._)

### Error message

Stack trace:
[code]

### Information on your system

[greenc@scisoftbuild01] spack

[2022-10-11 22:06] renjithravindrankannath commented on #31920
Is the install time test logs expected to print in the tty(text console) when it is success?
Currently it is printing for the failure case. Please let us know if this behavior is expected.

[2022-10-11 22:35] wdconinc opened #33229 "Environment view with develop packages is not regenerated even when new files installed"
### Steps to reproduce

1. Setup of environment with a develop package:
[code]

2. Modify the develop package to install an additional file:
[code]

3. The additional file is installed in the prefix, but not in the view:
[code]

4. Back out of testing again:
[code]

### Error message

[code]

In particular, during the second `spack install`, in debug mode, spack reports
[code]
which includes "View

[2022-10-11 22:38] wdconinc commented on #33229
Since the `spack install` step figures out whether existing files have been modified or new files have been added in the develop directory, I was surprised that spack does not recognize that new files have been added to the install prefix.

[2022-10-12 01:20] adamjstewart commented on #32603
Duplicate of #31920

[2022-10-12 06:06] lrtfm opened #33233 "Installation issue: paraview+cuda+qt+python3"
### Steps to reproduce the issue

When I install paraview with `cuda` and `pythnon3`, the exe `vtkpython`  failed.
[code]

The command is
[code]

The output of `spack spec -I -U paraview+cuda+qt+python3` is attached.
[paraview+cuda+qt+python3-spec.txt](https://github.com/spack/spack/files/9761914/paraview%2Bcuda%2Bqt%2Bpython3-spec.txt)

### Error message

<details><summary>Error message</summary>

[2022-10-12 07:41] albestro commented on #33219
I've just quickly looked into this, and it should be just a metter of updating the dependencies.

For what concerns `LIBVTERM` I've found that it has been updated for `neovim@0.8.0` in https://github.com/neovim/neovim/commit/6917a2e569e9f7306a9858f1aeeb32dd1c3ece4e, but I will try to understand if also something else is required.

I'm going to open a PR in the next hours 😉

[2022-10-12 08:31] #29308 closed, assigned to adamjstewart

[2022-10-12 08:31] #32375 closed, assigned to adamjstewart

[2022-10-12 10:35] haampie opened #33237 "linux: environment variable values grow beyond `MAX_ARG_STRLEN`, making exec fail"
Currently `py-scipy` fails to build in gitlab ci, due the following:

- `py-pythran` generates 256 include dirs, which are set as a colon-seperated string in the `SPACK_INCLUDE_DIRS` environment variable;
- due to install path padding each path is at least 512 bytes in size

This results in a string of at least 128KB, which is at least `MAX_ARG_STRLEN = 32 * PAGE_SIZE = 32 * 4KB = 128KB`.

And thi

[2022-10-12 10:58] albestro commented on #33219
@kipintouch can you please give a try to #33238?

[2022-10-12 11:09] alalazo commented on #33237
To add on this `py-pythran` vendors, among other libraries, also `boost` and we are finding all of its headers after https://github.com/spack/spack/pull/32970 (which is indeed a fix, but need to specialize behavior for a few Python extensions).
@adamjstewart fyi

[2022-10-12 11:26] #33219 closed, assigned to nobody

[2022-10-12 14:08] eugeneswalker commented on #32826
Pinging @amd-toolchain-support - any ideas?

[2022-10-12 14:18] eugeneswalker commented on #32826
`/opt/rocm-5.2.0/rocm/bin/hipcc` doesn't exist on Crusher...

[2022-10-12 14:23] eugeneswalker commented on #32826
Looking at `/opt/rocm-5.2.0/bin/hipcc.pl` here is a problem:

[code]

It looks like maybe a bug in `hipcc.pl` ? @renjithravindrankannath @srekolam

[2022-10-12 14:27] balay commented on #32826
yes the first section is a direct migration from 5.1.0. Its not clear if this `extra_attributes:` setting is actually getting used or not. I have it updated in the second section - which is the correct setup for 5.2.0

[2022-10-12 14:29] eugeneswalker commented on #32826
Right. Bizarre that using the correct settings leads to an issue! I don't know what to make of it.

[2022-10-12 14:31] balay commented on #32826
Hm - Since the env variables are setup by spack - I'm assuming the problem is on the spack side of things

[code]
ok - this comment is buggy - and needs fixing though...

[2022-10-12 15:21] vicentebolea commented on #33233
Build with +share

[2022-10-12 16:10] ajpowelsnl opened #33247 "Installation issue: Cannot install gdb on Intel(R) Xeon(R) Platinum 8160 CPU @ 2.10GHz Machine with Python"
### Steps to reproduce the issue

[code]

### Error message

[code]

### Information on your system

Not clear on where I would find this report

### Additional information

Not clear on where I would find these files

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have run `spack maintainers <name-of-the-package>` and **@me

[2022-10-12 16:10] tldahlgren commented on #33121
That's correct.  The only stack that currently runs the tests is the E4S Stack (https://github.com/spack/spack/blob/develop/share/spack/gitlab/cloud_pipelines/stacks/e4s/spack.yaml) that defines the image (`ecpe4s/ubuntu20.04-runner-x86_64:2022-10-01`).

[2022-10-12 16:39] eugeneswalker opened #33249 "raja@2022.03.0 +rocm fails: g++-11: error: unrecognized command-line option '--offload-arch=gfx900'"
### Steps to reproduce the issue

Having trouble building `raja@2022.03.0 +rocm`

<details><summary>Concretization</summary><pre>
==> Concretized raja+rocm amdgpu_target=gfx90a
 -   ltz5si5  raja@2022.03.0%gcc@11.1.0~cuda+examples+exercises~ipo~openmp+rocm+shared~tests amdgpu_target=gfx90a build_type=RelWithDebInfo arch=linux-ubuntu20.04-x86_64
[+]  y36fzbw      ^blt@0.5.2%gcc@11.1.0 arch=linux-ub

[2022-10-12 16:41] davidbeckingsale commented on #33249
Can you try building with amdclang++ as the C++ compiler?

[2022-10-12 17:09] eugeneswalker commented on #33249
What would that compiler definition look like?

Would it be possible to change the RAJA package.py so it chooses the correct compiler like other `+rocm` packages in Spack? For instance, see https://github.com/spack/spack/blob/develop/var/spack/repos/builtin/packages/amr-wind/package.py#L94-L95 (There are other examples but this one comes to mind quick, most that I've seen do the same thing where t

[2022-10-12 17:28] tldahlgren commented on #33117
Slate was built twice for this PR. One passes while the other complains about the CUDA driver.

The uo-godzilla runner (https://gitlab.spack.io/spack/spack/-/jobs/3614821) succeeded.

The large-x86-pub-gitlab-runner-666b7757d9-5pfkj/runner-ykvcyvvr-project-2-concurrent-17hww6g runner (https://gitlab.spack.io/spack/spack/-/jobs/3614820) failed with errors CUDA driver version is insufficient for CUD

[2022-10-12 17:41] salotz-sitx opened #33253 "Update python-igraph / igraph package"
According to this message for the `py-python-igraph` package PyPI page (https://pypi.org/project/python-igraph/) the maintainers have deprecated `python-igraph` in favor of `igraph`.

Not sure how to handle this on the spack package side. Should `py-python-igraph` be abandoned and create `py-igraph` for new versions?

[2022-10-12 18:03] balay commented on #32826
Here is the fix:
[code]
(the comment needs updating though...)

And the following petsc build is successful with it
[code]

[2022-10-12 18:18] roymuss opened #33256 "Installation issue: spack install gcc hangs"
I'm trying to build a version of gcc 10 or greater with arch=linux-rhel7-ppc64le using an already installed gcc-8.3.1 and all attempts are hanging.  All dependencies are external except gnuconfig and libtool which are successfully built.  I've tried 10.4.0, 11.3.0, and 12.2.0.

spack/bin/spack -d install -v -j1 gcc@12.2.0%gcc@8.3.1 build_type=RelWithDebInfo arch=linux-rhel7-ppc64le

**The tail end

[2022-10-12 18:53] eugeneswalker commented on #32826
Worked for me ! thank you!

[2022-10-12 19:40] ipdemes commented on #28814
I am seeing similar error on my MAC laptop. Is there a solution?

[2022-10-12 19:43] sethrj commented on #33111
Sorry, I had looked at this on my mobile device and thought I saw something about a failing "cmake" before the failing "make". The `make` there is dependent on the previous `cmake` command; is it possible those are now being launched asynchronously instead of sequentially? I don't see anywhere in the output where the cmake in the test directory is actually run.

[2022-10-12 21:38] kwryankrattiger opened #33264 "Speed up buildcache copy/sync/etc. when handling remote to remote urls"
### Summary

When copying remote (s3) to remote (s3) buildcaches, use the s3 APIs rather than downloading and re-uploading everything.

### Rationale

The routine `spack.cmd.buildcache.copy_buildcache_file` will download each remote file, and then re-upload those files back to remote. When a buildcache is small, and has smaller `.spack` files this is fine. But as the source buildcache grows larger

[2022-10-12 21:41] G-Ragghianti commented on #33117
The error "CUDA driver version is insufficient for CUDA runtime version" means that the version of CUDA that you are using is not compatible with the version of the CUDA or NV drivers that are installed on the system.  This is not something that spack or the slate spack package is in control of.  It would have to be fixed by whomever is deciding which version of CUDA to install as a dep for the sp

[2022-10-12 21:53] #32932 closed, assigned to nobody

[2022-10-12 21:56] giordano opened #33265 "`spack load` errors out if home is not writable or doesn't exist"
### Steps to reproduce

On [ARCHER2](https://www.archer2.ac.uk/), UK Tier-1 system, the `home` directory is [not accessible from compute nodes](https://docs.archer2.ac.uk/user-guide/data/#archer2-storage).  Trying to run `spack load` results in an error which makes a job fail:
[code]
It appears `spack load` internally tries to create a directory in the home causing a failure which is not handled g

[2022-10-12 21:56] #30478 closed, assigned to nobody

[2022-10-12 22:24] white238 opened #33272 "Compiler classes are missing standard flags"
### Summary

The compiler classes are missing several standard flag properties.

### Rationale

This is causing some hard-coded standard flags in some of the packages which could cause some standard flags to be passed to compilers that do not support that specific flag.  This would cause a build error instead of a more easily understood Spack error message.

### Description

For example, the intel

[2022-10-13 01:06] eugeneswalker opened #33276 "tasmanian@7.7 +rocm build fails: cmake: Cannot find libiomp5 which is needed by HIP/Clang to enable OpenMP"
### Steps to reproduce the issue

Having some issues building `tasmanian@7.7 +rocm amdgpu_target=gfx90a %gcc@11.1.0`

Here using Docker container image:
* `ecpe4s/ubuntu20.04-runner-x86_64:2022-10-01`
* ROCm 5.2.3

<details><summary>Concretization</summary><pre>
 -   ksvbto3  tasmanian@7.7%gcc@11.1.0~blas~cuda~fortran~ipo~magma+mpi+openmp~python+rocm~xsdkflags amdgpu_target=gfx90a build_type=Relea

[2022-10-13 02:16] salotz-sitx commented on #33253
Just an FYI, I was having build failures with the current latest versions of `py-python-igraph` and I've gotten most of the way with new/updated recipes for `py-python-igraph` and `igraph` itself. The `igraph` build changed to CMake.

However, I'm having issues with the `python-igraph` setup.py not properly working.

[2022-10-13 04:26] lrtfm commented on #33233
Thanks!

[2022-10-13 09:48] welucas2 commented on #33265
If you set these environment variables then Spack will look for and create new YAML configs and cache items in the directories chosen, rather than in your home directory. On ARCHER2, I run the following, which just use a `.spack` directory in my own work directory (note `${HOME/home/work}` resolves as the path to your home directory with 'home' replaced by 'work'):

[code]

You can set the locatio

[2022-10-13 10:00] giordano commented on #33265
@welucas2 this work around gets me going, thanks a lot!  But I still think Spack should handle this more gently, without erroring out badly, so I'll keep the issue open.

[2022-10-13 13:03] jbigot commented on #33131
@haampie: the upstream report is there https://bugzilla.mindrot.org/show_bug.cgi?id=3482 It's not clear wether it's really an openssh issue or if it comes from spack and more specifically spack-compiled clang that still seems to rely on the underlying system libc

[2022-10-13 13:55] haampie commented on #33131
I commented on that thread, it's an openssh issue.

But I dunno why our clang is more strict:

[code]

[code]

[2022-10-13 14:11] haampie commented on #33131
Submitted https://github.com/openssh/openssh-portable/pull/349, can you make a PR for Spack to either get a conflict on clang@15: or submit a patch of the configure file?

[2022-10-13 14:19] gartung commented on #33227
@tgamblin @alalazo How would one add the `.spack/repos/repo-name/repo.yaml` to the namespace resolution?

[2022-10-13 14:21] gartung commented on #33227
My work around has been to always have all of the repos used to create a buildcache defined in the in the spack directory where the installation would be done.

[2022-10-13 15:22] jbigot commented on #33131
Thanks, sounds great, I'll make a PR to conflict with `clang@15:` and as soon as openssh fixes its configure, I guess we can extract a patch to remove this conflict

[2022-10-13 15:32] d-beltran opened #33288 "Downloading software through https post"
### Summary

Hi everyone,

I am trying to create a spack package for [ambertools](https://ambermd.org/AmberTools.php). However, the only way I know to download ambertools is from [here](https://ambermd.org/GetAmber.php#ambertools), where a small form must be filled to request the download. It can be downloaded using the following curl call:

curl -d "Name=na&Institution=na&City=na&State=na&Country

[2022-10-13 16:55] adamjstewart commented on #33253
I would recommend deprecating versions in the old package and moving all packages that depend on it to the new package, see https://spack.readthedocs.io/en/latest/packaging_guide.html#deprecating-old-versions

[2022-10-13 17:00] eugeneswalker opened #33291 "umpire@2022.03.1 +rocm build fails: util/io.cpp:188:34: error: 'fspath_path' was not declared in this scope"
### Steps to reproduce the issue

`umpire@2022.03.1 +rocm` build fails for me

This issue resolved by patch in PR https://github.com/spack/spack/pull/33250 (from https://github.com/LLNL/Umpire/pull/784)

* ROCm 5.2.3
* BLT 0.5.2

<details><summary>Concretization</summary><pre>
 -   dewpd2n  umpire@2022.03.1%gcc@11.1.0+c~cuda+device_alloc~deviceconst+examples~fortran~ipo~numa~openmp+rocm+shared amd

[2022-10-13 17:09] mcfadden8 commented on #33291
Did the umpire patch occur for this?  If so, may I see the patched file or the log that shows what happened when spack applied the patch to the Umpire cmake file?

[2022-10-13 17:12] eugeneswalker commented on #33291
I took what was merged from https://github.com/LLNL/Umpire/pull/784 and put it here:
https://github.com/spack/spack/pull/33250/files

And it gets me past this `std::filesystem` issue (and onto another one.)

[2022-10-14 06:29] kipintouch commented on #33219
Thanks @albestro ,
The solution works for both `neovim@master` & `neovim@stable`

[2022-10-14 10:05] Thomas-Ulrich opened #33304 "Wrong architecture detected on a cray platform"
### Steps to reproduce

I'm trying to install a package on a cray cluster (shaheen, KAUST university).
But spack does not detect correctly the architecture:
[code]

### Error message

I would expect:
```cray-sles15-ivybridge```

### Information on your system

[code]

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have searc

[2022-10-14 11:11] haampie commented on #33131
They merged the pr, but thanks to the great build system that is autotools you will need to wait for a new release that bundles a newly generated `configure`, or you gotta submit a patch to spack where you directly modify the generated configure script.

[2022-10-14 14:53] robertu94 opened #33309 "Installation issue: nvcomp 2.3.0 and later"
### Steps to reproduce the issue

PR #32630 adds a NV COMP package, but it only supports the Open Source (BSD3) versions of their packages.  NVIDIA puts the download link for (as far as I know) only a few recent versions behind a login required downloads page.  Additionally the propietary license provided by Nvidia seems probematic for spack (but I am not a lawyer).  Specifically:

Since the point

[2022-10-14 15:12] #32826 closed, assigned to nobody

[2022-10-14 16:38] RikkiButler20 opened #33313 "Combine Environments Under One View"
### Summary

Add the capability to combine any number of environments together under one view.

### Rationale

_No response_

### Description

Entry point
Check for conflicts in existing environments
Print new combined view
Entry point on the concretize command

Example:
`spack env combine concretize --name current env1 env2 ... env6 eConf`
`spack -e current install`
generate: current/spack.yaml &

[2022-10-14 17:41] tasmith4 opened #33318 "spack external find curl emits an empty file"
### Steps to reproduce

[code]

### Error message

This command works as expected, but afterwards, an empty file named `str` appears in the directory where I ran the command.

### Information on your system

[code]

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have searched the issues of this repo and believe this is not a

[2022-10-15 00:00] mkstoyanov commented on #33276
Should be fixed after #33345

The issue comes from ROCm that lumps OpenMP CPU and GPU capabilities into one option, while Tasmanian uses OpenMP CPU for multi-threading. Disabling the default OpenMP will fix this, OpenMP + CPU can still be enabled if/when the user knows it's available on their system.

[2022-10-15 00:56] mkstoyanov commented on #33119
I managed to reproduce. Surprisingly, `spack test run tasmanian` fails but running the test manually after `spack load tasmanian` works just fine.

[2022-10-15 04:35] alalazo opened #33346 "Add platform flag to docker instructions in pipeline"
### Summary

Since we now support multiple architectures (AArch64, x86_64), it might happen to debug broken specs in pipelines across a number of them. After we get the artifacts locally with a command like:
[code]
we see printed to screen instructions that start with the following command:
[code]
The command has no `--platform` flag to Docker. This might lead to unexpected images being run depend

[2022-10-15 06:35] mwkrentel commented on #33304
Spack maintains separate front-end and back-end arch types, and the
default is BE.  In this case, `cnl7` is the back-end OS and this is
probably correct.  Try:

[code]

The default is to build for the BE.  If you want to build for the FE,
you would use:

[code]

https://spack.readthedocs.io/en/latest/getting_started.html#spack-on-cray

[2022-10-15 07:42] Thomas-Ulrich commented on #33304
Thank you, this is indeed the case:
[code]
But now, if I connect interactively to a node, I get:
[code]
Which seems at odds with the backend using cnl7, right?
My problem is then that most compilers found are associated with operating_system: cnl7

[code]
my packages.yaml look like that:
[code]

Then if  I get the following errors:

[code]

[2022-10-15 09:12] alalazo opened #33347 "Unit tests on Windows are failing depite CI is passing"
### Steps to reproduce

Reporting from a discussion among maintainers in Slack. Unit tests running on Windows are failing, despite CI on them passing. Examples of failing unit tests with :heavy_check_mark: CI:
- https://github.com/spack/spack/actions/runs/3246813188/jobs/5326063183
- https://github.com/spack/spack/actions/runs/3246813188/jobs/5326063112

The issue making unit tests fail possibly s

[2022-10-15 09:14] alalazo commented on #33347
@johnwparent I know you're working on this (thanks!). Added the issue so that we can keep track of it until it's solved and add details that might be relevant without them being subject to Slack's limitations.

[2022-10-15 09:35] alalazo opened #33348 "Improve instructions on how to reproduce pipeline failures"
### Steps to reproduce

Filed as a bug and not as a feature since the current instructions may not work. Trying to reproduce a pipeline failure according to Gitlab log instructions (e.g. see https://gitlab.spack.io/spack/spack/-/jobs/3620866) result in the following:
[code]
There might be issues with the docker container, but those are covered in #33346 . If we start the correct container and exec

[2022-10-15 15:04] mwkrentel commented on #33304
@Thomas-Ulrich Sorry if I confused you about FE/BE.

In spack language, `arch` is a triple of `platform` (cray), `os`
(sles15) and `target` (x86_64), separated by dash.  Target is just the
`x86_64` piece, not the full triple.

That's why your spec failed, because you wrote `target=...` instead of `arch=...`

More generally, for your app, parmetis, you should build it on a login
node and built to r

[2022-10-15 16:57] WeiqunZhang commented on #33109
Looks like the issue is the amrex library was built with rocm but the smoke test was not.  @etpalmer63 Any thoughts?

[2022-10-15 18:34] johnwparent commented on #33347
Thanks @alalazo! I've also added this to the Spack on Windows project.

[2022-10-17 05:26] mwkrentel commented on #33121
@tldahlgren
I tried this in the ecpe4s/ubuntu20.04-runner-x86_64:2022-10-01 container.
Again, works for me.

[code]

I didn't use the `spack.yaml` file with an environment, concretize,
etc.  I just built toolkit 2022.05.15 the usual way I build it.
But I looked at the specs in `spack.yaml` and there's nothing special.

Is there some way you could try this at another site?  Another machine?

Somewa

[2022-10-17 11:01] haampie opened #33365 "installer: drop redundant build deps"
It would be good if `spack install x` would install just the shallow/pruned DAG that would make `x` work, instead of installing redundant transitive deps that aren't required:

If `x` has a build-only-type dep `y`, and `y` has a build-only-type dep `z`, there's no need to install `z` and its deps if `y` is already installed when building `x` from sources.

Similarly, when `x` is installed from a b

[2022-10-17 11:42] emilioj commented on #32520
Hi there!

I am reusing this issue instead of opening a new one as I am also having problems to get llvm built with spack.

In my case, I am stuck with this error: (I get this when I am trying to build an old VTK version, as llvm is in the recipe, but I've also tried `spack install llvm` with different versions and different compilers with no success...)

[code]

I have tried with different gcc ve

[2022-10-17 13:12] Thomas-Ulrich commented on #33304
ok, thank you for the explanations. Then let's close the issue.

[2022-10-17 13:12] #33304 closed, assigned to nobody

[2022-10-17 14:22] eugeneswalker commented on #33276
Thanks!

[2022-10-17 14:22] #33276 closed, assigned to nobody

[2022-10-17 14:24] eugeneswalker commented on #33291
You can see in the error log above, the errors go together. The patch resolves both of the errors.

[2022-10-17 14:51] etpalmer63 commented on #33109
I will look into it later today.

[2022-10-17 15:32] lpoirel commented on #22621
All the options discussed here and in  https://github.com/spack/seps/pull/2 look wonderful, but might not be available before some time.

However, the current implementation in `intel-oneapi-mkl` seems like a regression compared to what has been available in `intel-mkl`.

Would it be possible, until something better is available, to replicate in intel-oneapi-mkl the variant-based mechanics used in

[2022-10-17 15:32] bellenlau opened #33371 "ScaLAPACK provided by intel-one-api without cluster variant"
### Summary

ScaLAPACK seems to be available in the `intel-oneapi-mkl` package[ installed without the cluster variant](https://github.com/spack/spack/pull/33312#discussion_r995996516).
According to the recipe, scalapack are provided with `+cluster` variant.  @rscohn2

### Rationale

If `+cluster` variant is missing, `quantum-espresso+scalapack+mpi ^intel-oneapi-mkl` is concretized with `netlib-sca

[2022-10-17 16:24] danielecesarini commented on #33371
The point is that scalapack interface is (virtual) provided by `intel-oneapi-mkl` only when `+cluster` variant is added, but it looks like that Intel OneAPI always provides the scalapack libraries.

[2022-10-17 16:25] rscohn2 commented on #22621
I will look into adding something that matches the way intel-mkl works.

[2022-10-17 19:03] etpalmer63 commented on #33109
I think the dependency lines just need to be modified to make those paths available during the tests. See, https://github.com/spack/spack/pull/28967.

If the Spack CI tests ROCm, then I'll just make the changes on that PR and let the CI test it.

[2022-10-17 21:21] mkstoyanov commented on #33119
This should be resolved with #33381

Merged, closing the issue.

[2022-10-18 07:55] waveman68 commented on #29852
May I suggest an alternate solution using views in the spack.yaml?

[code]

Access this with `spack config edit` with your environment activated.

[2022-10-18 14:53] mkstoyanov commented on #31702
Fixed in #33390

[2022-10-18 14:56] mkstoyanov commented on #27896
Is this still and issue? I have not been able to reproduce.

I've had multiple successful builds on tasmanian+rocm lately.

[2022-10-18 15:21] eugeneswalker commented on #27896
I think the issue is only when `+openmp` and `+rocm` come together. Have you been able to build with `+openmp +rocm` ? Are those options not safe together?

[2022-10-18 15:23] eugeneswalker commented on #27896
Trying to reproduce this just now, when I do `+openmp +rocm` I get a different error, the one we discussed just recently here: https://github.com/spack/spack/issues/33276#event-7602759514

Will close this issue then as I can't reproduce it either. Thank you!

[2022-10-18 15:23] #27896 closed, assigned to mkstoyanov

[2022-10-18 15:28] mkstoyanov commented on #25858
Old issue, resolved already. Open a new one, if needed.

[2022-10-18 15:28] #25858 closed, assigned to nobody

[2022-10-18 17:21] cwsmith commented on #26169
In Spack v0.18.1 making the change suggested above:

[code]

resolved my issue described below.

-------

I’m trying to run spack config update modules within a newly created environment with Spack v0.18.1 using an spack.yaml file I previously used with Spack v0.15.4 and hitting a file permission issue that I can’t sort out.  From what I can tell my user has full access to the files Spack is repor

[2022-10-18 17:24] haampie commented on #26169
@cwsmith care to make a PR?

[2022-10-18 17:24] cwsmith commented on #26169
@haampie Will do.

[2022-10-18 19:36] wyphan opened #33398 "Spack config and environment YAML linter/validator"
### Summary

It would be nice if Spack provides a linter or validator for config and environment YAML files as a built-in Spack command.

### Rationale

I often edit my Spack YAML config and environment files by hand and often make mistakes. Usually the misconfiguration won't show up until much later. For instance, my `modules.yaml` could be invalid and it won't trigger an error when I `spack inst

[2022-10-18 20:28] danielbarter commented on #27049
The issue here is that when perl is being configured, it is finding both the desired `errno.h` and also the system specific `bits/errno.h`. If you look in `${glibc.dev}/include` you will see the `bits` folder, which the configuration is detecting as a normal header

[2022-10-19 05:33] Sinan81 commented on #32520
Have you tried building with release version of Spack? It seems the latest release version is 0.18.1

[2022-10-19 14:28] climbfuji opened #33409 "Bad python.libs.ld_flags on macOS using external homebrew Python"
### Steps to reproduce

When using homebrew on macOS, the spack Python package `self.config_vars["LDLIBRARY"]` variable points to `Python.framework/Versions/3.9/Python`, which is indeed a shared library but doesn't have the correct filename suffix. This confuses several packages (e.g. `met`) that use `python.libs.ld_flags` - see https://github.com/dtcenter/METplus/discussions/1762.

This can be fi

[2022-10-19 16:16] anselmic commented on #12105
0.19.0 as well.

[2022-10-19 17:00] alalazo commented on #33121
@tldahlgren I tried looking through the dashboards, but couldn't find any link back to the pipeline. Can you post one?

[2022-10-19 17:11] jeanbez opened #33413 "Installation issue: py-scipy"
### Steps to reproduce the issue

I running into issues when trying to install py-scipy from spack. It says `Error: 'numpy' must be installed before running the build`

[code]

[code]

### Error message

<details><summary>Error message</summary><pre>
==> Installing py-scipy-1.8.1-3gycrz2yi3crxndqtjhod6ju36xnttld
==> No binary for py-scipy-1.8.1-3gycrz2yi3crxndqtjhod6ju36xnttld found: installing fr

[2022-10-19 17:19] adamjstewart commented on #33413
It looks like you're using the Python installation on the OS instead of letting Spack install Python. In my experience, this often introduces a lot of issues, as OS distributors (including macOS, Ubuntu, and RHEL) tend to hack distutils/setuptools to change the behavior of Python and end up breaking lots of stuff. So if you don't care why this is happening and just want to move on with your life,

[2022-10-19 17:53] jeanbez commented on #33413
@adamjstewart Got it, I'll give it a try with your suggestion. I was actually working on a new spack recipe that requires that library, which was causing the failure.

Sure, here is the output of each: https://gist.github.com/jeanbez/2ada3e7b51ea7d084aa494d23866cba6

[2022-10-19 17:56] adamjstewart commented on #33413
I don't actually see anything suspicious in that log at first glance. It looks like you're using the version in `/usr/local/bin/python3`? How was that installed, Homebrew?

[2022-10-19 17:57] jeanbez commented on #33413
Yes, that version came from brew

[2022-10-19 17:59] adamjstewart commented on #33413
#33409 also reported issues using brew-installed python, but I don't think those are related. I'm actually not sure why it's complaining about numpy not being installed since it is and since `PYTHONPATH` appears to be correctly set. Maybe @rgommers can chime in on this one. I'm not sure how scipy 1.8 used to determine whether or not numpy was installed.

[2022-10-19 18:03] jeanbez commented on #33413
BTW I also tried installing multiple versions of it and the issue was the same.

Also, what is the correct way to make spack install python? When I try it mentions it found the package already installed and points to the one installed with brew.

[2022-10-19 18:12] adamjstewart commented on #33413
If you remove python from `packages.yaml` and uninstall existing installation in spack (`spack uninstall -aR python`) that should do it.

[2022-10-19 18:43] #33249 closed, assigned to nobody

[2022-10-19 18:44] tldahlgren commented on #33121
Unfortunately I couldn't find it either.  I'm working with Kitware to see if we can add the PR to the CDash output to make it easier to provide at least access to the artifacts.

[2022-10-19 18:45] tldahlgren commented on #33121
Apologies.  I tried to find the artifacts associated with the issues I reported that day.  We're working on a way to tie the CDash output to the PR so we can provide that information.

[2022-10-19 19:14] #33291 closed, assigned to nobody

[2022-10-19 19:33] scheibelp commented on #33121
@scottwittenburg located some pipelines that built this same hash so could be useful for this:

* PR build: https://gitlab.spack.io/spack/spack/-/jobs/3574977
* develop build: https://gitlab.spack.io/spack/spack/-/jobs/3565886

From the first link, you can for example get the download url and do:

[code]

I think the error can be ignored

(we agreed though it would be good for the test output to p

[2022-10-19 19:48] scottwittenburg commented on #33121
I don't think you should ignore the error.  As the explanation describes, you should try to fetch the latest commits from upstream (and if you're reproducing a job that ran on someone else PR, fetch the history from their fork too).  The `reproduce-build` command is trying to recreate the version of spack tested in the pipeline, and it does that by creating a new merge commit with the same parents

[2022-10-19 20:28] eugeneswalker opened #33421 "netlib-scalapack@2.2.0 %cce: libscalapack.so: undefined reference to `_idmin_'"
### Steps to reproduce the issue

Having some trouble with `netlib-scalapack@2.2.0 %cce@14.0.0` on OLCF Crusher

Encountered similar errors in the past building `openblas%cce`:
* Related issue thread: https://github.com/xianyi/OpenBLAS/issues/3651
* PR that resolved issue for openblas: https://github.com/spack/spack/pull/31931

Concrete spec: [netlib-scalapack.spec.json.txt](https://github.com/spa

[2022-10-19 20:37] alalazo commented on #33347
I'm not a Windows user, but in case it helps, it seems the default GithubActions behavior for powershell is:
- Prepend `$ErrorActionPreference = 'stop'` to the script being executed
- Append `if ((Test-Path -LiteralPath variable:\LASTEXITCODE)) { exit $LASTEXITCODE }` to reflect the last exit status

Information taken from [here](https://docs.github.com/en/actions/using-workflows/workflow-syntax-f

[2022-10-19 20:45] johnwparent commented on #33347
The last exit status is actually the issue. The `$ErrorActionPreference` only applies to poweshell commandlets unfortunately, not to outside exes like `python ...` or `coverage`. So while the spack unit-test command fails, the next two commands (the coverage commands) still exit zero, so when the `if ((Test-Path -LiteralPath variable:\LASTEXITCODE)) { exit $LASTEXITCODE}` is run, it sees the exit

[2022-10-19 20:48] lukebroskop commented on #33421
@eugeneswalker, did you try adding `-hnopattern` to the fortran compiler flags?

[2022-10-19 20:57] eugeneswalker commented on #33421
I had no tried that, but that worked. I will submit a PR and link to this issue. Thanks!

[2022-10-19 21:32] eugeneswalker opened #33423 "blaspp@2022.05.00 +rocm w/ PrgEnv-amd: ld.lld: error: unable to find library -lCLANGRT_BUILTINS-NOTFOUND"
### Steps to reproduce the issue

Having some trouble building `blaspp@2022.05.00 +rocm` w/ PrgEnv-amd on OLCF Crusher

Here using `ROCm 5.2.0` as an external.

Concrete spec: [blaspp-rocm.spec.json.txt](https://github.com/spack/spack/files/9824501/blaspp-rocm.spec.json.txt)

<details><summary>Concretization</summary><pre>
 -   5lq7il2  blaspp@2022.05.00%clang@14.0.0-rocm5.2.0~cuda~ipo+openmp+rocm

[2022-10-19 22:31] cyrush opened #33425 "behaivor of duplicant variants?"
### Steps to reproduce

I had a package that had the exact same variant twice (cut and paste typo), along the lines of:

[code]

Today -- I realized that `+myvariant` wasn't reflecting in the spec.

[code]

I removed the second copy, and then asking for `+myvariant` worked as I expected.

This simple error disabled a big chunk of functionality and automatized testing of it.

I didn't think to ques

[2022-10-19 22:35] eugeneswalker opened #33426 "chai@2022.03.0 +rocm fails: Imported target "blt_hip" includes non-existent path ... in its INTERFACE_INCLUDE_DIRECTORIES"
### Steps to reproduce the issue

Having some trouble building `chai@2022.03.0 +rocm`

Here using Spack-installed ROCm 5.2.3

Concrete spec:

<details><summary>Concretization</summary><pre>
 -   q4wscmv  chai@2022.03.0%gcc@11.1.0~benchmarks~cuda~enable_pick+examples~ipo~openmp~raja+rocm+shared~tests amdgpu_target=gfx90a build_type=RelWithDebInfo arch=linux-ubuntu20.04-x86_64
[+]  y36fzbw      ^blt

[2022-10-20 07:38] emilioj commented on #32520
Thanks for your reply!

I had not tried it! I have done it now, with a different result: now, with spack 0.18.1, I (apparently) hit issue #29342 (https://github.com/spack/spack/issues/29342):

[...]

I do not know why the my local ncurses is being involved in the build :-? I've tried with two different compilers (gcc 9.5 and gcc 12.2), same result.

I will try with a differen

[2022-10-20 09:26] haampie commented on #32520
Follow the hint there, an even more recent version of Spack is possibly needed, since the curses stuff was changed in the meantime.

[2022-10-20 10:04] rj-jesus opened #33432 "Unable to use `target=a64fx` on HPE Apollo 80"
I'm unable to specify `target=a64fx` on an HPE Apollo 80 system (see below), which leads to unoptimised builds of most packages.

[code]

### Information on your system

[code]

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have searched the issues of this repo and believe this is not a duplicate
- [X] I have run the failin

[2022-10-20 10:36] antoine-mesobfc commented on #25696
I tried to compile version `1.17` on these different arch with `GCC 11.2.0` , but I get this error (no such instruction: ...,%zmm10' ...)
[code]

My final goal is to install lastest Gromacs with CP2K, libxsmm spec are :
`libxsmm@1.17 ~debug~generator~header-only~large_jit_buffer~shared blas=default`
Until now, all my software has been compiled with GCC 11.2.0 and `spack 0.18`  on these architectur

[2022-10-20 12:09] G-Ragghianti commented on #33423
Have you done much digging on this?  The inclusion of CLANGRT_BUILTINS-NOTFOUND in place of the library name leads me to suspect that some cmake file of another package is actually at fault.  The slate build process uses cmake's findpackage functionality to determine these values, but if they are wrong like this there isn't much that the slate spack package can do about it.

[2022-10-20 14:12] haampie commented on #31387
@melven can you try #33391 with smaller `db_lock_timeout` again? :D

[2022-10-20 15:48] eugeneswalker commented on #33423
Yes, it looks like `CLANGRT_BUILTINS` is supposed to be figured out by ROCm's `.cmake` configs. I'm using Crusher's external ROCm 5.2.0 install. I don't know why it isn't finding it. Static library for clangrt builtins exist. I was able to manually patch the `blaspp` link lines so that it found it, but don't know why this is necessary.

[2022-10-20 16:18] rgommers commented on #33413
It does `import numpy.distutils` right at the top of the main `setup.py`, there's no other logic. So this being an issue with using the wrong Python interpreter seems likely.

[2022-10-20 16:52] adamryczkowski opened #33440 "Installation issue: perl@5.34.1 on CentOS 7.9.2009: "Can't locate warnings.pm in @INC""
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
running "/tmp/aryczkowski/spack-stage/spack-stage-perl-5.34.1-ojqfu5awixzn5mo7meg6kz5jg5pma3qi/spack-src/miniperl" -I../../lib ppport_h.PL
installing ppport.h for cpan/DB_File
installing ppport.h for cpan/IPC-SysV
installing ppport.h for cpan/Win32API-File
installing ppport.h for dist/IO
ins

[2022-10-20 18:40] eugeneswalker opened #33442 "openblas@0.3.21 w/ Cray PrgEnv-gnu: gfortran: noomp: linker input file not found: No such file or directory..."
### Steps to reproduce the issue

Having some trouble building `openblas@0.3.21 %gcc@11.2.0` using PrgEnv-gnu on OLCF Crusher.

Concretization:
[code]

Compiler entry:
[code]

Build error:
[code]

### Error message

<details><summary>Error message</summary><pre>
... see above
</pre></details>

### Information on your system

* **Spack:** 0.19.0.dev0 (cd015b84980bb26190c73c0cdbbcf0cc4b0db95e)
* **P

[2022-10-20 18:57] martin-frbg commented on #33442
Should be fixed by https://github.com/xianyi/OpenBLAS/pull/3778 - sorry for the inconvenience but I do not have access to any Cray system

[2022-10-20 19:03] eugeneswalker commented on #33442
Thank you! I will create a PR here that patches that in!

[2022-10-20 20:51] mwkrentel commented on #33121
@scheibelp I tried this, but there was no directory `/builds` in the container.

[code]

[2022-10-20 23:03] haampie opened #33453 "Binary relocation breaks hardlinked files"
See https://github.com/spack/spack/pull/33443#issuecomment-1286198889 there was a spurious trailing line in `bin/automake`, with just

[code]

right after what is normally the last line:

[code]

leading to a `Useless use of private variable in void context` error when running `automake`. I could reproduce it once locally. But not a second time. @trws mentioned he had seen this in the past too

I

[2022-10-21 01:11] eugeneswalker opened #33455 "raja@0.14.0 +rocm: rocprim: error: no template named 'enable_if_t' in namespace 'std'"
### Steps to reproduce the issue

Having some trouble building `raja@0.14.0 +rocm`.

The details posted here apply to OLCF Crusher w/ externally-installed ROCm 5.2.0 (see spack.yaml below) but also when installing ROCm components with Spack (i.e. not external).

This same error was reported in another context here:
* https://github.com/ROCmSoftwarePlatform/rocPRIM/issues/349
* The recommended solu

[2022-10-21 02:57] alexispaz opened #33459 "Enable pylibxc at libxc package"
### Discussed in https://github.com/spack/spack/discussions/33458

<div type='discussions-op-text'>

<sup>Originally posted by **alexispaz** October 20, 2022</sup>
libxc has a python interface that has to be activated using `python setup.py install`. libxc package at spack does not build this interface. I guess there should be a key or a variant in the package that enable it. I tried to figure out

[2022-10-21 13:24] stephenmsachs opened #33461 "Spack ignores `buildable=False` if available in binary cache"
### Steps to reproduce

It seems availaibility in binary cache is valued higher than the `buildable` flag by the concretizer.

## Reproducer
Use `packages.yaml` as
[code]

The command will show that the extrnal defined libfabric version is used:
[code]
Output:
[code]

Now add the binary mirror as:
[code]

and the following line will produce an older version of libfabric which is available in the b

[2022-10-21 15:19] stephenmsachs commented on #33461
After reading some of the code it seems to me that installed specs and specs available in the binary cache are treated the same way. If the `reuse` flag is set, the concretizer wil try to fulfill the request from installed and binary cache specs first before using uninstalled specs.

I would argue this behavior is not optimal. I would assume binary cache objects to be treated with the same level o

[2022-10-21 15:58] danielbarter commented on #27049
What i said above was wrong. The same include errors happen on nixos, and things still build fine. The issue is in the perl script `Cwd.pm:183`:
[code]

[2022-10-21 16:30] #33453 closed, assigned to nobody

[2022-10-21 17:19] danielbarter commented on #27049
this is fixed now in https://github.com/spack/spack/pull/33394. @haampie or @msimberg, feel free to close.

[2022-10-21 20:05] #27967 closed, assigned to nobody

[2022-10-21 20:22] eugeneswalker commented on #33178
@rscohn2 Any ideas? I realize we can ask Spack to build `autoconf` with `%gcc` but, it seems like we should not have to do this, that OneAPI should be able to do it. It works with OneAPI 2022.1.0.

[2022-10-21 21:06] rscohn2 commented on #33178
I will look at it

[2022-10-21 21:58] #33455 closed, assigned to nobody

[2022-10-21 22:08] scheibelp commented on #33121
I'll note that the download link from the second build works for me:

[code]

so perhaps that will have a script in `/build/`.

@scottwittenburg when I pull the latest develop and retry the original link I posted, I get:

[code]

do you know why that would occur?

[2022-10-21 23:16] eugeneswalker opened #33473 "py-scipy@1.8.1 %cce: clang-14: error: unknown argument: '-mavx5124fmaps'"
### Steps to reproduce the issue

Having some trouble building `py-scipy@1.8.1 %cce@14.0.2` on OLCF Crusher w/ PrgEnv-cray

spack.yaml
[code]

<details><summary>Concretization</summary><pre>
 -   4ul2h4h  py-scipy@1.8.1%cce@14.0.2 arch=cray-sles15-x86_64
[+]  axgs6lj      ^openblas@0.3.20%cce@14.0.2~bignuma~consistent_fpcsr~ilp64+locking+pic+shared patches=9f12903,f432226 symbol_suffix=none thread

[2022-10-22 09:00] rgommers commented on #33473
@eugeneswalker the errors you are showing above are from the configure stage of the build, where it is being tested whether or not some flags are supported by the compiler. Those can fail and that should not be relevant. Can you please show the whole build log?

[2022-10-22 09:08] haampie commented on #33473
[code]

it's in spack-build-out.txt

[2022-10-22 09:14] rgommers commented on #33473
Ah thanks missed that, thanks. What is the `ftn` compiler here? I've never seen that as the name of a binary for a Fortran compiler before.

[2022-10-22 09:17] haampie commented on #33473
It's the amazing proprietary Cray compiler

[2022-10-22 15:10] #33421 closed, assigned to nobody

[2022-10-22 23:54] michaelkuhn commented on #30991
OK, I found #25371, which implies that the vendored pytest should only be used as a last resort. I have now installed pytest locally and everything works. It might make sense to simply remove the vendored pytest since it won't work with any up-to-date installation anyway and might cause confusion (for me, at least).

[2022-10-22 23:54] #30991 closed, assigned to nobody

[2022-10-23 00:53] #33442 closed, assigned to nobody

[2022-10-24 09:00] alalazo commented on #33461
This has been somewhat discussed in a bugfix https://github.com/spack/spack/pull/31558 The main issue is that `buildable: false` is too coarse grained[^1] and there is no way to specify from configuration what to reuse[^2]. There is a way to achieve what you want here:
[code]
which is to require to use that version. We are also working on allowing users more control on what can be reused, but that

[2022-10-24 09:51] rgommers commented on #33473
Okay, I had a closer look at this. SciPy 1.8.1 builds with `numpy.distutils` as the build system. That does not know anything about `ftn` or another Cray compiler. The `no-second-underscore` and other flags that are the problem here are coming from the `gfortran` defaults in `numpy/distutils/fcompiler/`.

From SciPy 1.9 onwards, the build system changes to Meson. Meson also doesn't know anything a

[2022-10-24 10:26] msimberg commented on #27049
I added a "fixes" comment on #33394 so this should be closed automatically when that is merged.

[2022-10-24 15:30] jennfshr commented on #33116
Turns out, this is an internal compiler error, though the error doesn't report it that way, and has been filed with Nvidia, issue 3841405.

[2022-10-24 16:08] #33426 closed, assigned to nobody

[2022-10-24 16:47] eugeneswalker commented on #33473
This sounds great. Let us get this merged ASAP, and then I can try the build on Cray, see how it goes, and report back.

Thanks for your help!

[2022-10-24 18:37] eugeneswalker commented on #33116
Do you have a link to the issue we could post here for reference?

[2022-10-25 09:25] haampie opened #33499 "Indexing spec by package name should return the sensible spec"
Previously Spack guaranteed a unique spec per package in the DAG, but this is no longer true. Reuse may pull in different flavors of specs for packages also occurring as direct run/test/build or transitive link deps. In those cases `spec[pkg_name]` can return an arbitrary spec in the DAG, as it returns the first match.

To solve this, we should iterate over the DAG in an order where we consider th

[2022-10-25 09:35] andymwood opened #33501 "`--directory` option is broken for `spack buildcache create`"
### Steps to reproduce

In version 0.18, spack started demanding a URL for `--directory` options, but it won't accept a URL for `spack buildcache create --directory ...`. It works in version 0.17. `spack buildcache create --mirror-url ...` seems to work.

[code]

### Error message

[code]

### Information on your system

* **Spack:** 0.19.0.dev0 (272767c67fbc52ecee1c7ec07f3d9c1c9bbc71be)
* **Pytho

[2022-10-25 14:47] #33499 closed, assigned to nobody

[2022-10-25 15:15] jeffcbecker commented on #27999
Any update on this? I pulled spack yesterday, and saw the same issue when I tried building llvm 15.0.2.

[2022-10-25 16:34] eugeneswalker opened #33510 "libffi@3.4.2 %nvhpc build fails: catastrophic error: exception handling option can be used only when compiling C++"
### Steps to reproduce the issue

Having trouble building `libffi@3.4.2 %nvhpc@22.9`

Spack environment:
[code]

Concretization:
[code]

Partial build error (full log attached at bottom of issue):
[code]

### Error message

<details><summary>Error message</summary><pre>
... see above
</pre></details>

### Information on your system

* **Spack:** 0.19.0.dev0 (234e6caba8a87b4d86fdacc6576e65dfafa5e24

[2022-10-25 16:39] eugeneswalker commented on #33473
I checked out the PR branch from https://github.com/spack/spack/pull/31810 and tried building `py-scipy%cce@14.0.2` on Cray:

[code]

Full logs:
[spack-build-out.txt](https://github.com/spack/spack/files/9862264/spack-build-out.txt)
[spack-build-env.txt](https://github.com/spack/spack/files/9862265/spack-build-env.txt)
[meson-log.txt](https://github.com/spack/spack/files/9862266/meson-log.txt)

I

[2022-10-25 16:42] adamjstewart commented on #33473
#31810 does not fix Cray support, it adds a new version which uses the meson build system. Someone still needs to add meson support for Cray. See https://github.com/mesonbuild/meson/pull/10909 for an example of what this looked like for Intel OneAPI. Not sure if Cray will be more or less involved.

[2022-10-25 17:01] eugeneswalker commented on #33473
For sure. I was just trying to provide info to rgommers and others who, despite not having access to cray system, may know enough about meson and scipy, to suggest the specific changes required, which I could then try out.

[2022-10-25 20:05] rgommers commented on #33473
https://github.com/mesonbuild/meson/pull/10909 is indeed a good guide; making similar changes as a patch to the `meson` package in Spack and iterating on that until the build succeeds (or at least the compiler is recognized and we get past the "unknown flags" issue) would be great. That should be easier for you than for me @eugeneswalker. If there's a new SciPy build blocker, I can try to help wit

[2022-10-25 21:25] srinathv opened #33515 "directory as default for `env create`"
### Summary

when one does `spack env create FOO` spack prompts:
"Would you rather do `spack env create -d ${HOME}/FOO`? "

or something similar...

### Rationale

Having directory enclosed spack environments better for the user knowing where spack information resides, rather than drilling down into a spack source directory.  Also, this allows for user to use a system installed spack which out hav

[2022-10-25 21:25] wspear opened #33516 "Installation issue: intel-oneapi-mpi doesn't provide valid prefix.include/lib/bin"
### Steps to reproduce the issue

spack install tau+mpi^intel-oneapi-mpi

### Error message

### Information on your system

* **Spack:** 0.19.0.dev0 (9d5151ba25394b35ff7fc4b06b858c53e638ec5d)
* **Python:** 3.10.6
* **Platform:** linux-ubuntu22.04-westmere
* **Concretizer:** clingo

### Additional information

@rscohn2

The TAU package sets the mpi include directory like:  `options.append("-mpiinc

[2022-10-26 02:21] v-dobrev commented on #30483
@eugeneswalker, do you have an easy way to test if #33480 resolves this issue? I'd test it myself but I suspect building ROCm+HIP through Spack takes some time.

[2022-10-26 03:03] v-dobrev commented on #32739
This issue was resolved in https://github.com/mfem/mfem/pull/2919 which is part of MFEM v4.5. This version of MFEM will be added to Spack with #33480.