[2020-04-28 05:27] hartzell commented on #16340
Just confirmed the same behavior on a fresh clone using the CentOS 7 gcc@4.8.5.

[code]

[code]

[2020-04-28 08:36] ajkotobi commented on #15776
Hi @adamjstewart, I gave it a try and some dependencies got installed but on `zlib` got this

[code]

Is there anyway to workaround this?
[code]

Thanks

[2020-04-28 09:46] hartzell commented on #16340
Apologies, I thought I'd cleared everything, but something in the new environment in which I'm working is setting `LD_LIBRARY_PATH` and I'm tripping over it.

[code]

[2020-04-28 09:46] #16340 closed, assigned to nobody

[2020-04-28 14:55] adamjstewart commented on #15776
@ajkotobi what version of Spack are you using? Can you try again on develop?

[2020-04-28 15:09] yantosca commented on #16263
I have recently gotten a similar "argument list too long" error when typing e.g. `man ls`.  I think this is because Spack wants to add all of the package manual paths to the `$MANPATH` env var.  But this chokes if there are more than 512 paths added.

My workaround is to manually reset the MANPATH to what it was before loading Spack.

For what it's worth...

[2020-04-28 19:01] arwild01 commented on #10302
I wanted to chime in and add that I've now seen this on Intel@19.1.1 (aka the 2020 icc from Parallel Studio 2020) on a CentOS 8.1 node (gcc@8.3.1 is the system compiler).  The fix of removing:

-        if spec.satisfies('%intel'):
-            args.append('CFLAGS=-no-gcc')

...does solve the problem.

'm a little not clear on if this was a problem just with pre-2018 intel releases or if it had to

[2020-04-29 00:56] hartzell commented on #16195
Yes, that's what I was saying and your reply makes sense.  Thanks!

[2020-04-29 01:05] hartzell commented on #16195
In the interim I've updated my spack installation and rebuilt things and I can't replicate this.  There's a good chance that I was having issues with things in ~/.local...

I'll close it and if I trip over it again I'll reopen.

Thanks for the followup.

[2020-04-29 01:05] #16195 closed, assigned to scheibelp

[2020-04-29 11:20] healther commented on #16263
Have a look at `spack env` and `spack view` the tldr is basically this: For a sufficiently deep dependency tree spack's naive way of loading packages will not scale. Especially not on network filesystems and something like shell tab completion (where the shell needs to interrogate all directories in PATH to offer a complete set of suggestions).

[2020-04-29 16:57] eugeneswalker opened #16374 "Installation issue: petsc"
Trying to build `petsc@3.13.0` using gcc@7.3.0 fails on x86_64 for:
* Ubuntu 18.04
* RHEL 7, RHEL 8

Using `spack@develop`, commit `b6b44948b86` from Wed, Apr 29, 2020.

It is failing during configure phase with the following message:
[code]

[configure.log](https://github.com/spack/spack/files/4553113/configure.log)
[spack-build-out.txt](https://github.com/spack/spack/files/4553114/spack-build-ou

[2020-04-29 17:09] balay commented on #16374
Likely due to change in d9992a778faa6688143a537d802b3078416c0a7a

To work arround :
`spack install petsc ^hdf5+hl+fortran`

[2020-04-29 17:31] #15739 closed

[2020-04-29 17:55] eugeneswalker commented on #16374
That worked for me. Thank you! If `petsc` in fact depends on `hdf5+hl+fortran` -- why does the package recipe for `petsc` not state this explictly?

[2020-04-29 18:49] balay commented on #16374
@eugeneswalker please try the fix in `balay/petsc-update-hdf5-check` and see if this works

[2020-04-29 19:18] eugeneswalker commented on #16374
This worked! Thanks!

[2020-04-29 21:48] hartzell commented on #13531
While you're cleaning up the page, there's also a buglet down under the "Mirror precedence" section, where its says that the mirror is defined in `~/.spack/mirrors.yaml`.    Mine's in `~/.spack/linux/mirrors.yaml`.

[2020-04-29 21:52] hartzell commented on #13531
FWIW, my use pattern for the cache is to have a little block down at the bottom of the script that builds a bunch of thigns (e.g. my CI scripts) that rsync `var/spack/cache` into the mirror dir, rather than running the separate create step.  None of the symlinks are in there, but it's not a place that humans look so....   I suppose that if there were Round Tuit's sitting around someone might exten

[2020-04-30 02:04] scheibelp commented on #16244
Can you add:

* The command you ran which produced the error message you got
* The output of that command when running with `-d` (`spack -d install...` or whichever command you were using)
* The modifications you made to any `package.py` files (you mentioned `pgi`, did you also modify `pkg-config`?)

Questions:

* Is step 4 required? Does everything proceed well up to that point?
* Is there a reas

[2020-04-30 03:17] darmac opened #16381 "Installation issue: coreutils"
coreutils package build failed.
It can be done in earlier spack version ( also coreutils@8.31 )

Error log:
[code]

[2020-04-30 13:47] KineticTheory commented on #16245
I tracked my build failure down to the package option `force_autoreconf = True`.  Commenting out this line allows me to build again.  This option has been in the `gmp/package.py` for 3 years, so it can't be the source of the real issue. It seems that forcing the reconfigure breaks my build and I don't know why.

Several people have contributed to this package and I am pinging you for help: @adamjs

[2020-04-30 13:57] KineticTheory commented on #16245
Now mpfr is refusing to build with the same type of error.

It looks like the package is mixing the use of spack provided libtool (2.4.6) and the system libtool (2.4.2).  Could there be something in the base class for  AutotoolsPackage that has changed?

Adding the following to `packages.yaml` seems to be a functioning work around for now:

[code]

[Update] This allowed me to install many packages

[2020-04-30 14:03] alalazo commented on #16214
Apologies @scheibelp bouncing the issue back since I don't have access to a Mac and can't reproduce on `linux`:
[code]
I am working with:
* **Spack:** 0.14.2-895-9698907e7
* **Python:** 3.6.9
* **Platform:** linux-ubuntu18.04-broadwell

The only unusual thing I spotted is that in the configuration there are "external" packages that are indeed installed by Spack. @LDAmorim is there any reason for t

[2020-04-30 15:40] #16374 closed, assigned to nobody

[2020-04-30 15:43] eugeneswalker opened #16392 "Installation issue: kokkos-kernels"
Trying to build `kokkos-kernels` is failing using gcc@7.3.0 on x86_64 for:
* Ubuntu 18.04
* RHEL 7, RHEL 8

Using spack@develop, commit id `3a3f87171858` from 30 April 2020, the build fails with the following error message:
[code]

[spack-build-out.txt](https://github.com/spack/spack/files/4559340/spack-build-out.txt)

@junghans @jjwilke

[2020-04-30 16:01] tuxfan opened #16394 "Installation issue: gdbm"
On Fedora 32 (default gcc is 10.0.1), gdbm fails with duplicate symbols.

### Steps to reproduce the issue

With gcc 10.0.1 as the compiler:
[code]

### Information on your system

* **Spack:** 0.14.2-895-9698907e7
* **Python:** 3.8.2
* **Platform:** linux-fedora32-skylake

### Additional information

(Note: This could be a change to the linker behavior with 10.0.1. The same code builds find with

[2020-04-30 16:13] #16381 closed, assigned to nobody

[2020-04-30 16:16] junghans commented on #16394
This is https://gcc.gnu.org/bugzilla/show_bug.cgi?id=85678
(see https://wiki.gentoo.org/wiki/Gcc_10_porting_notes/fno_common for some more background)

We will need to inject ` -fcommon` into `CFLAGS`.

[2020-04-30 16:19] LDAmorim commented on #16214
Hi @alalazo , thanks for the reply and check.
I have a list of packages that I need to install. Some of them try to re-install packages that I already have, such as python. As a result when I try to use them, they become incompatible. So I try to find the "broader" installation of the package that is re-installed and use it as external.
Also, when I use gcc packages (MPI and openPMD-api) I need `c

[2020-04-30 16:36] #16392 closed, assigned to nobody

[2020-04-30 17:16] #16394 closed, assigned to alalazo

[2020-04-30 18:58] scheibelp commented on #16214
It looks like we have some logic in the `glib` `package.py` which attempts to address the referenced issue:

[code]

Two possibilities that occur to me:

* The latest version of `glib` is ignoring the environment variable we set, and thereby running into the problem again. Could you try building a prior version of glib (`spack install glib@2.62.6`)?
* The symbol stripping options we use (`-x`) are

[2020-04-30 19:05] michaelkuhn commented on #16245
gmp builds fine for me, strange. My Spack is a bit more recent, though: 0.14.2-909-6d7daf0de @adamjstewart has done some changes to the autotools machinery a few days ago, so maybe try updating to a more recent snapshot?

[2020-04-30 19:06] nicholas-sly commented on #14923
In my case, unloading the `craype-hugepages2M` module fixed this issue.  If hugepages is required for the installation, I understand that there are differences between the front-ends and the compute nodes for that functionality, so you may try building on a compute node.  You'll have to stage the packages first (probably a `spack mirror create -d <package>`) as you won't have access to the interne

[2020-04-30 19:20] KineticTheory commented on #16245
I'm getting the same issues from today's develop version (hash 42d7fd30c46482fe3d8da1e65301bf5e7da2df6f).  I think the issue is that my OS and system tools are very old.

[2020-04-30 19:26] adamjstewart commented on #16245
Yes, you can try with or without #15784 and #16132 and make sure neither of those PRs broke anything.

[2020-04-30 19:31] scheibelp commented on #16330
Hi @bvanessen I have added the `workaround` tag since you mentioned a workaround for this in the PR description. If that ends up causing you trouble or no longer becomes convenient, let me know and I can up the priority of this.

[2020-04-30 19:35] scheibelp commented on #16298
I have assigned myself to keep track of this, but @hartzell would you mind being assigned? I got the impression from the thread that you are keeping track of the package and may be more aware of when that fix appears in the package (and this issue can be resolved). If you don't have the time for that, I'll keep the issue.

[2020-04-30 21:09] elleryames opened #16407 "Installation issue: py-configobj"
### Issue
Installation fetches version 5.0.6 and fails with a ChecksumError:

    Expected a2f5650770e1c87fb335af19a9b7eb73fc05ccf22144eb68db7d00cd2bcb0902 but got 2e140354efcca6f558ff9ee941b435ae09a617bc071797bef62c8d6ed2033d5e

### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.14.2-828-f20202387
* **Python:** 3.6.9
* **Platform:** linux-ubuntu18.04-zen2

##

[2020-04-30 21:54] tldahlgren commented on #16283
I don't have sticky bits on for my Spack database directories and my umask is `077` but my failure-related directory and files all allow `rwx` for owner _and group_ starting from `$SPACK_ROOT/opt/spack/.spack-db` on down.  All of my install directories are `drwxr-sr-x`.  So I'll keep digging.

[2020-04-30 22:27] tldahlgren commented on #16283
After some digging and chatting, Frank confirmed that the `packages.yaml` files for the three user accounts all have `permissions: all:` entries with at least `write: group` and `group: software` so we could be more explicit at least in terms of setting up the failure directories.

[2020-04-30 23:15] hartzell commented on #11279
Just noticed this while searching for something else.

FWIW, I played with this back in PR https://github.com/spack/spack/pull/8364 (virtualenv instead of pipenv).

I'm pretty sure that it would be possible to use resources to pull down all of the pip files into the cache, stage them into something appropriate, and then point pip at them locally.

[2020-04-30 23:18] hartzell commented on #16298
@scheibelp -- can you drop me a note at hartzell@alerce.com?

[2020-04-30 23:18] #15984 closed

[2020-05-01 00:58] adamjstewart commented on #16407
@Sinan81 I believe you wrote this package. Can you take a look? This is why I prefer to download Python packages from PyPI, where the checksum can't change like on GitHub.

[2020-05-01 01:51] becker33 commented on #16263
I don't know that there will be a simple way to fix this, unless I'm mistaken the issue is simply the size of the environment variable.

As a workaround, I would suggest creating an environment (using `spack env create`) with an associated view, and activate the environment instead of loading the packages. It does the exact same thing, except the view unifies all the packages to a single prefix.

[2020-05-01 01:55] nadnatalia opened #16409 "cp2k7.1 libint2.6 pre-req fails"
Hi,

I have been trying to compile libint2.6 for cp2k7.1.
Attached is the out and the error log that were given out by spack.
Please help?
[error.txt](https://github.com/spack/spack/files/4562180/error.txt)
[spack-build-out.txt](https://github.com/spack/spack/files/4562182/spack-build-out.txt)

[2020-05-01 05:26] jilpi opened #16411 "Installation issue: arborx"
The latest commit concerning arborx' package ([598c233](https://github.com/spack/spack/commit/598c233f78d23329c0cc6c7bc86b7117dca7bacd)) doesn't work:
[code]

Can be fixed by changing `package.py` as follows:
[code]

I will try to submit a PR.
Thanks

[2020-05-01 06:10] jilpi commented on #16411
Here's the PR for this issue: https://github.com/spack/spack/pull/16413

[2020-05-01 07:31] alalazo commented on #16411
Fixed by #16413

[2020-05-01 07:31] #16411 closed, assigned to nobody

[2020-05-01 07:51] alalazo commented on #16409
Can you please fill in the template build-error report? That will give us more information to start investigating.

[2020-05-01 15:24] yellowhat opened #16418 "Installation issue: hpl and amdblis"
### Steps to reproduce the issue
[code]

Is a HPL or amdbliss error?

Thanks

[2020-05-01 17:21] adamjstewart commented on #16418
Can you share your `Make.<arch>` file from the HPL installation? That will specify the flags used to search for BLAS. Also, does the installation work with `blis`?

[2020-05-01 17:45] yellowhat commented on #16418
In the spack-src folder there is only `Make.top`, is this the you are looking for?

[2020-05-01 17:49] adamjstewart commented on #16418
Oh, nvm, apparently that was for old versions of HPL (2.2 and below). Can you try changing:
[code]
to remove the if-statement and always add those flags?

[2020-05-01 18:43] yellowhat commented on #16418
Just tried still same error.

[2020-05-01 19:05] DiegoMagdaleno opened #16421 "Proper way to add a Ruby Package"
So I wanted to add a Ruby Package, more precisely, [Cocoapods](https://cocoapods.org) but, I can't find proper documentation on how to make properly package a ruby gem, what would be the official way to do it?.

[2020-05-01 20:35] KineticTheory commented on #16245
@adamjstewart I messed with a fresh spack install and determined that the underlying issue was mixing autotools versions.  I've had a lot of trouble building m4 from scratch and so I was pointing to a very old version on from my OS.  When I reverted to spack-built m4, libtool, etc., everything started working again.

[2020-05-01 20:35] #16245 closed, assigned to nobody

[2020-05-01 22:16] nadnatalia commented on #16409
### Steps to reproduce the issue

[code]

### Information on your system
[code]

### Additional information

[spack-build-out.txt](https://github.com/spack/spack/files/4566460/spack-build-out.txt)

[spack-build-env.txt](https://github.com/spack/spack/files/4566463/spack-build-env.txt)

[2020-05-02 01:07] KineticTheory commented on #16243
I also tried to build `spack install -j 64 visit %gcc@9.3.0 ^openmpi` from
spack hash 42d7fd30c46482fe3d8da1e65301bf5e7da2df6f, but ran into an unsatisfiable constraint.

[code]

Is there a version and variant of visit that is know to build under spack?

[2020-05-02 02:34] citibeth commented on #16246
I'm getting these same errors building `pism` with Python bindings:

[code]

[2020-05-02 16:07] #15746 closed

[2020-05-02 16:09] adamjstewart commented on #16421
#3127 started work on a `RubyPackage` base class, but it's pretty out-of-date by now. If you want to try again I will be happy to review, although I don't know much about Ruby gems.

[2020-05-02 17:26] mc-allen commented on #15662
I believe that this can be closed now with the merge of #15663

[2020-05-02 18:53] hartzell opened #16432 "View that include R libraries require setting R_LIBS"
### Steps to reproduce the issue

When I create a view that includes R libraries, I was surprised to find them linked into the top level of the view and not into the R installation.

Python packages, on the other hand, seem to be linked into `lib/python3.7/site-packages`, as if they were "activated".

[code]

### Additional information

[code]

- [x] I have run `spack debug report` and reported th

[2020-05-02 19:05] adamjstewart commented on #16432
Python packages are installed into `<prefix>/lib/python3.7/site-packages`, so creating a view simply involves symlinking them to the the same prefix as everything else.

How are R packages installed? Do they need to be installed to a sub-directory? `R_LIBS` should be getting set for all R packages via `setup_dependent_run_environment`, I thought that method would be called when activating an envir

[2020-05-02 19:56] adamjstewart commented on #8716
For what it's worth, it looks like basemap is now deprecated in favor of cartopy: https://matplotlib.org/basemap/users/intro.html#cartopy-new-management-and-eol-announcement

[2020-05-02 19:57] adamjstewart commented on #9350
For what it's worth, it looks like basemap is now deprecated in favor of cartopy: https://matplotlib.org/basemap/users/intro.html#cartopy-new-management-and-eol-announcement

[2020-05-02 21:57] hartzell commented on #16432
Ah, so (to repeat/rephrase), python packages install into e,g. py-pip's prefix/.../site-packages, and when they're activated they're linked into the python's prefix/.../site-packages.

R packages, on the other hand, install into e.g. r-packrat's PREFIX and are/would-be linked into R's prefix when activated, and always require R_LIBS?  I assumed (danger!) that when an R extension was activated, one

[2020-05-02 23:08] adamjstewart commented on #16432
Python packages (for example, `py-foo`) install to their own installation prefix (`<py-foo-hash>/lib/python<version>/site-packages`). So when you activate them or create a view, all they have to do is symlink to the same prefix as the Python installation and you don't need `PYTHONPATH` anymore.

To clarify, creating a `view` and `activate`ing the package are two very different things. Although arg

[2020-05-03 14:44] hartzell commented on #16432
I'm in the same boat (in spite of having worked for one of R's creators...).

I guess that part of what I'm asking is whether this is working as intended or if there's room for improvement.  Is there an R-savvy Spack person we could ping?

[2020-05-03 16:06] elleryames commented on #16407
Would either editing the package file or installing with no-checksum be a viable work-around?

[2020-05-03 16:17] adamjstewart commented on #16432
@HenrikBengtsson @JavierCVilla @glennpj @codeandkey @odoublewen

[2020-05-03 20:53] #16223 closed, assigned to nobody

[2020-05-03 21:28] odoublewen commented on #16432
When it comes to deterministic R envs, I am more wary than savvy, but here are my 2 cents:

When you install packages with R, I think it uses the writeable path found in the return from `.libPaths()`.   Which is in turn configurable via env vars and user/site level config files.   See `?.libPaths`.   But I think you all knew that already.

In general, I stay away from the spack R/python packages.

[2020-05-03 22:16] HenrikBengtsson commented on #16432
On Sun, May 3, 2020 at 2:29 PM Owen Solberg <notifications@github.com> wrote:

I second this: I recommend install R packages from within R itself,
i.e. typically install.packages().  I can't imagine maintaining
recipes for all > 15,000 R packages on CRAN and ~2,000 packages on
Bioconductor while those packages are in constant flux as well.  So, I
would just stay away from support individual R pack

[2020-05-04 00:43] hartzell commented on #16432
Thanks for the feedback!

I am, in fact, doing what @odoublewen is imagining.  I'm also, sadly, using a Spack package for `r-renv` that my new job currently prevents me from PR'ing.  Since no one else has my shiny new toy (as if any number of people couldn't bang it out in their sleep), I redid the example using `r-packrat`, which makes exactly the same point and is repeatable by other people.

I'

[2020-05-04 07:24] #15662 closed

[2020-05-04 10:22] jlow2016 commented on #16418
I can get it working by editing the configure script to check for Generic BLAS with the Spack BLAS ld_flags.
I've added the line in the hpl package.py file:

[code]

[2020-05-04 15:56] glennpj commented on #16432
The problem is that the `R_LIBS` variable is not getting handled by the spack environment properly. The variable is not set in the environment after R is installed. If you deactivate and then activate again it will get set.
[code]
[code]
[code]

[2020-05-04 15:57] citibeth opened #16451 "Spack Environments w/ View and py-jupyter"
I built my environment, and it gave the following error at the end of the `env install` process.  Although I don't use `py-jupyter` directly, it *is* part of this env:

[code]

### Information on your system

See attached `spack.lock` describing my environment.

[spack.lock.txt](https://github.com/spack/spack/files/4575685/spack.lock.txt)

[2020-05-04 16:06] HenrikBengtsson commented on #16432
I think the right question to ask is why is R_LIBS set at all? There should
be no need to set it outside of R - when launching 'R' or 'Rscript' it'll
be set internally.

FWIW, in my 20 years with R, I don't think I ever ran into a case where I
had to set R_LIBS. I maintain many parallel version and installations of R.

On Mon, May 4, 2020, 08:57 Glenn Johnson <notifications@github.com> wrote:

[2020-05-04 16:06] glennpj commented on #16432
This looks like a problem with spack environments not setting environment variables when a package installs into the environment that needs to set one. New environment variables should get set/updated as part of the view update.

[2020-05-04 16:08] glennpj commented on #16432
If I recall correctly, the reason it is set in spack is to support both Linux and Mac with a common directory layout.

[2020-05-04 16:10] glennpj commented on #16432
Even if there is a better way to handle R_LIBS in spack, it still seems that spack environments should be setting environment variables as part of the view update.

[2020-05-04 16:18] yellowhat commented on #16418
I have just tried:
[code]
but I am still getting the same error.

[2020-05-04 16:37] HenrikBengtsson commented on #16432
On Mon, May 4, 2020 at 9:09 AM Glenn Johnson <notifications@github.com> wrote:

Is that a macOS thing?  I don't have access to macOS, but on Linux,
the standard ./configure --prefix=... && make && make install will
"just work" in this sense.  Also, R_LIBS is actually not set by R or
in R;

$ Rscript --vanilla -e "Sys.getenv('R_LIBS')"
[1] ""

Note though, that:

$ Rscript --vanilla -e "rev(.libPat

[2020-05-04 16:54] jennfshr opened #16453 "Installation issue: cmake"
### Steps to reproduce the issue
This problem occurs on Cray XC systems with Cmake versions v3.7.0 - v3.17.0
Has already been fixed in the release-3.17.3 branch of CMake

This patch is to fix previously released versions

Problem 1:
CMake Issue: https://gitlab.kitware.com/cmake/cmake/-/issues/20645
CMake MR: https://gitlab.kitware.com/cmake/cmake/-/merge_requests/4681 (merged)
cm_cxx_features: Fil

[2020-05-04 17:00] jennfshr commented on #16453
@chuckatkins I have a patch I'm getting ready to submit a MR that resolves this problem.

[2020-05-04 17:07] ChristianTackeGSI commented on #10582
Hi @paulbry,

tjos soimds a lot like #12228. Is this possible?

[2020-05-04 17:08] citibeth commented on #10582
I put the config scope as part of the environment, in don’t use it IN
ADDITION to the env.

On Mon, May 4, 2020 at 13:07 Dr. Christian Tacke <notifications@github.com>
wrote:

--
Elizabeth Fischer, she/her
University of Alaska, Geophysical Institute
cell: 617-308-0436

UA is an AA/EO employer and educational institution and prohibits illegal
discrimination against any individual: www.alaska.edu/no

[2020-05-04 17:17] ChristianTackeGSI opened #16454 "FR Make includes in environments more powerful"
The current `include` feature of environments only supports including configs.
Please make it possible, so that the referenced files could provide `definitions` (or other features of `spack.yaml`).

### Rationale

We have a bunch of environment which share a lot of common parts. Maintainaing the common parts is always a repetitive task.

### Description

We already consider using some extra tool t

[2020-05-04 17:29] scheibelp commented on #16246
@citibeth that error looks the same, but to make sure, does this occur when building `llvm`?

Could you also list other system details that might help @ax3l see what differs between your systems (i.e. why does it work in #16299 but not for you):

* Mac OS version
* The commit you were using in Spack
* Your `packages.yaml`

?

[2020-05-04 17:35] jlow2016 commented on #16418
Not sure why it's not working for you.

My config.log contains:

[code]

with the spack-build-out.txt containing:

[code]

By the way, I added just the additional line to the original hpl package file:

[code]

[2020-05-04 17:40] citibeth commented on #12228
Environments have a config scope built-in.  The idea is they are supposed to be self-contained, that they "just work."  Having external config scops would seem to defeat the purpose here.

[2020-05-04 17:43] jlow2016 commented on #16418
[spack-build-out.txt](https://github.com/spack/spack/files/4576199/spack-build-out.txt)
[config.log](https://github.com/spack/spack/files/4576201/config.log)

Full logfiles here.

[2020-05-04 18:56] yellowhat commented on #16418
May I ask how did you install hpl? spack install hpl ^amdblis? Where did you get the `config.log` file?

Thanks

[2020-05-04 19:04] ChristianTackeGSI commented on #12228
First, to repeat the original poster:

That said, I would still advocate for being able to layer things. Things might have different sources (people maintaining them, etc) and users might want to "mix and match".

Having a more powerful include feature (see #16454) would simplify things somewhat, because then authors could provide "defintions"-files that people include in their final environment f

[2020-05-04 21:17] hartzell commented on #16432
There's something more subtle (or obvious) going on, the `packrat` library *does* seem to get linked into the R tree where you'd expect (`/<....>/rlib/R/library`) along side all of the standard R libraries but R doesn't see it.

Here's the little test I ran, given a Spack installation with `r` and `r-packrat`:

[code]

Here's what I see when I do it (some R output clipped):

[code]

Even though `p

[2020-05-04 21:42] adamjstewart commented on #16451
What happens when you run:
[code]
I've noticed a lot of little bugs with Spack Environments that require me to blow away the environment and start over. I've never successfully installed an environment, updated a package, then reinstalled the environment without having to jump through this hoop.

[2020-05-04 22:00] citibeth commented on #16451
Yes then it worked its way out.

[2020-05-04 22:08] adamjstewart commented on #16451
@tgamblin I added this to the TODO list for the next release since I encounter this problem very regularly.

[2020-05-04 22:11] #15231 closed

[2020-05-04 22:16] hartzell commented on #16432
A co-worker just suggested that I see what `.libPaths()` reports when running R from the view:

[code]

Seems like it's looking back into the parent R installation and not really getting at even its core libraries that were linked into the view, via the view.

One solution would be to set R_LIBS.  I'm wondering if there's something we can drop into the view, some dot file or .... that makes the R

[2020-05-04 22:26] hartzell commented on #16432
(and yes, it isn't lost on me that several others have mentioned `.libPaths()` above....)

[2020-05-05 01:09] hartzell commented on #16432
[So](https://www.npr.org/2015/09/03/432732859/so-whats-the-big-deal-with-starting-a-sentence-with-so), it turns out that `/path/to/view/bin/R` is a link to a shell script (`<r prefix>/bin/R`) that starts off like so:

[code]

If you remove the link, make a copy of the `<r prefix>/bin/R` script and touch up the `R_HOME_DIR` line to point into the view, it functions more like the view's Python does

[2020-05-05 01:27] adamjstewart commented on #16432
The `python` package has an `add_files_to_view` and `remove_files_from_view` that look suspiciously useful for this. @scheibelp @becker33 @tgamblin might know how to do this.

[2020-05-05 02:06] hartzell commented on #16432
Yeah, I just found them....  `add_files_to_view` even calls `filter_file` on certain files....  Not sure that there even needs to be anything other than default behavior for removing files.

I'm in a holding pattern around pushing changes out from the new job at the moment.  If I get a chance to whack at it I can comment on whether it's a useful mod.

I'd be curious if any of the various tagged fo

[2020-05-05 02:50] scheibelp commented on #16432
To confirm: yes that is what that function is for. Python has an issue analogous to the scenario described in https://github.com/spack/spack/issues/16432#issuecomment-623787862 - it needs to actually copy the `python` binary rather than symlink it, because the real path (resolving symlinks) is used when searching for libs.

[2020-05-05 03:32] ax3l commented on #16246
Hm, `pism` has no `llvm` dependency which is the topic of this thread. I would recommend to open a separate issue for this and ping the package maintainer @citibeth on it ;-)

That said, I think the `pism` package lacks a specification for the Python executable to use, which is how CMake learns which of the many python's on a system to pick up:
[code]

[2020-05-05 03:39] matthewcurry commented on #16244
Hi there,

I have hit this issue, as well, and it's pretty easy to reproduce. Here is my procedure:

1. Get a fresh checkout of Spack 0.14.2. Delete ~/.spack, get new shell for clean environment.
2. In spack tree, add the following as etc/spack/config.yaml:
[code]
3. module purge
3. Load spack shell support (so I can get environments).
5. Create a spack.yaml with the following contents:
[code]
6.

[2020-05-05 03:40] citibeth commented on #16246
My errors were when building `pism`.  I posted here because it was the same error, so might be cross-relevant.  My problem turned out to be that `python` was built with `~shared`, resulting in a `libpython.a`.  I don't know why other makers of Python extensions worked.  But PISM barfed on that: it linked `libpython.a`, which depended on `libintl.dylib`, which is part of the `gettext` package.  But

[2020-05-05 04:56] ax3l commented on #16246
Thanks for the update.

I would still recommend to set `-DPYTHON_EXECUTABLE:FILEPATH`, this is how you signal which Python to use to CMake scripts and will you save headaches with system-wide installs down the road.
https://cmake.org/cmake/help/v3.17/module/FindPythonInterp.html
https://cmake.org/cmake/help/v3.17/module/FindPython.html#artifacts-specification

[2020-05-05 05:05] hartzell commented on #16432
I haven't tested it much, but I can confirm that copying that base method from package.py into `r/packae.py` and extending it so that it checks for the two copies of the `.*/bin/R$` script and replaces that line with the `rlib/R` dir in the view _root (is that private?) seems to work.

I'll test it out locally and see if there are any surprises.

[2020-05-05 05:39] jlow2016 commented on #16418
[code]
[code]
The config.log file is \<stage-directory\>/spack-src/config.log where the stage directory is the line with "Created stage in" (assuming the install fails, otherwise it is cleared by default after successful install).

I'm using the git develop branch:
[code]

[2020-05-05 13:29] adamjstewart commented on #16418
You can add `--keep-stage` to prevent the stage directory from being removed. Also, the `config.log` should be copied to `<prefix>/.spack/config.log` upon successful installation.

[2020-05-05 13:52] asmaahassan90 commented on #3525
I ran into the same issue trying to install pkg-config@0.29 with pgi@19.7. I'm using Spack 14.2.
Shall I go for the trick of directing pkg-config to use the system package or there is  another fix for it?

[2020-05-05 14:54] adamjstewart commented on #3525
As far as I know, nothing has changed. You should use an external installation of `pkgconfig` and report the build issue to the `pkgconfig` developers.

[2020-05-05 15:50] yellowhat commented on #16418
If I patch and run:
[code]
it compiles, instead:
[code]
it stil returns the same error.

Any ideas?

[2020-05-05 18:02] #16453 closed, assigned to nobody

[2020-05-05 18:17] jlow2016 commented on #16418
I think this is related to pull request https://github.com/spack/spack/pull/15566

You'll need to patch the blis package to look for the libblis-mt.so library

[code]

[2020-05-05 18:20] nicholas-sly opened #16474 "Generating incorrect implicit rpaths for gcc on Cray"
Attempting to install cmake@3.17.0%gcc@9.2.0 on Cray (in this case, CLE7 on x86_64) resulted in Spack trying to pull libraries from gcc@8.3.0.  Relevant info:

[code]

The relevant environment lines from the cmake build:
[code]

And the GCC information with that compiler loaded is:
[code]

### Steps to reproduce the issue

[code]

### Error Message

[code]

### Information on your system

[code]

[2020-05-05 18:35] yellowhat commented on #16418
Thank you very much, that fixed the issues.

[2020-05-05 18:42] adamjstewart commented on #16418
Want to submit a PR?

[2020-05-05 18:59] yellowhat commented on #16418
I am trying to compile hpl with "+openmp":
[code]
But if I try to run it no multiple threads are spawn for each MPI rank.

I can see that "OMP_DEFS" is present in setup/Make.Linux_Intel64, but I do not see it in `config.log`.
How can I check which `Make.*` is used during the build?

Thanks

[2020-05-05 19:23] yellowhat commented on #16418
Yes how do I do it?

[2020-05-05 19:24] adamjstewart commented on #16418
Our [Contribution Guide](https://spack.readthedocs.io/en/latest/contribution_guide.html) has some tips. Basically, create a new git branch, add and commit the change, and then push.

[2020-05-05 22:22] adamjstewart opened #16478 "Leftover <prefix>/.spack/spec.yaml from failed installations"
I'm trying to uninstall all of my installed packages. The process uninstalls a few hundred packages and then crashes with:
[code]

### Steps to reproduce the issue

[code]

### Error Message

[code]

### Information on your system

* **Spack:** 0.14.2-979-7e5874c250
* **Python:** 3.7.6
* **Platform:** darwin-catalina-ivybridge

### Additional information

Could be related to #3690, but a completel

[2020-05-05 22:29] adamjstewart commented on #16478
Here's the file it has trouble reading in the first error message: [spec.yaml](https://github.com/spack/spack/files/4583982/spec.txt)

[2020-05-05 22:39] adamjstewart commented on #16478
I uninstalled the failing package:
[code]
Then confirmed that it was no longer installed:
[code]
Then ran things again:
[code]
It looks like this may be a leftover failed installation?
[code]
The only thing in that directory is a `spec.yaml` file. I'm going to try manually deleting it.

[2020-05-05 22:39] quellyn commented on #16269
I can confirm this on a LANL Darwin Power9 node:

Spack arch:  linux-rhel7-power9le
Spack version:  0.14.2-706-5d008dc

ncurses 6.2 fails to build (same errors Jim encountered)
ncurses 6.1 builds fine

[2020-05-05 22:50] adamjstewart commented on #3690
I encountered this again today. I ran `spack uninstall -ay` and it successfully uninstalled over ~1,400 packages but then failed on the final 4:
[code]
Note that `jdk` here is an externally installed package, if that makes a difference.

[2020-05-05 22:50] adamjstewart commented on #16478
Okay, manually deleting that file solved the issue. We should make this more robust. Maybe a try-except around the loop?

[2020-05-05 22:53] adamjstewart opened #16481 "spack uninstall does not uninstall environments"
I ran `spack uninstall -ay` to uninstall all of my packages. I expected this to deactivate my environment view but it just left all the symlinks behind.

### Steps to reproduce the issue

1. Create an environment
2. Install it
3. Deactivate the environment
4. Uninstall everything

### Error Message

Spack was still trying to use the Python executable from my environment even though it had been uni

[2020-05-05 22:56] adamjstewart commented on #16478
Hmm, I just noticed I have many leftovers from failed installations that only contain a `.spack/spec.yaml` file. This might be a more serious problem than I thought:
[code]

[2020-05-05 23:04] scheibelp commented on #16478
Do you know if you ever prematurely terminated an uninstall (e.g. with CTRL-C)?

Also based on the presence of the `spec.yaml` file, I'm thinking `spack reindex` would not work (which would be my first thought on something to try when Spack complains about inconsistent install state).

I'll have time to investigate this tomorrow (5/6)

[2020-05-06 00:37] #2116 closed

[2020-05-06 00:37] #13198 closed

[2020-05-06 00:58] adamjstewart commented on #16478
Definitely, hundreds of times. I might have even hit Ctrl-C multiple times in rapid succession.

[2020-05-06 01:06] scheibelp commented on #16478
To be clear, that *should* be OK, I'm just trying to brainstorm how this inconsistent state would be reached.

[2020-05-06 07:15] davydden commented on #13504
@alalazo if/when you have a moment, could you please have a look at this module thing issue? The problem persist even with latest 0.14.2:

[code]

This is no longer related to `BASH_FUNC__module_raw` (the function is not even there).

A workaround is to use modules manually:  `module load openfoam-1912_200403-gcc-9.2.0-dpmvivs`.

[2020-05-06 10:52] robert-mijakovic commented on #5542
Hi @lee218llnl,

did you get any response from Intel as we experience the same issue?

I have contacted Intel and got the following response:

=======================================================================
Dear Robert,

I have additional discussion with the development team and the issue you reported is not a bug.

Use of -Xlinker tells the compiler driver that the linker has to be invoke

[2020-05-06 15:02] roguephysicist opened #16486 "Hard-coding of architecture directory in modulefile paths"
The architecture path is hard-coded into the generated modulefile paths:

https://github.com/spack/spack/blob/2cb4ae747d6dba8817f67ae98d78c39883cb2cff/lib/spack/spack/modules/common.py#L570

This is very inconvenient if the user wants a unified modulefile list even if some packages are built with different targets. At least for the Tcl modulefiles, rather than being hard-coded, couldn't this be pa

[2020-05-06 16:07] scottwittenburg opened #16487 "Installation issue: unifyfs"
After #16458 (which marked `argobots` 1.0 as preferred) was merged, we can no longer concretize the `unifyfs` package.  The `unifyfs` package depends indirectly on `argobots` through it's `margo` dependency.

To reproduce the issue, on either linux or osx, just attempt to concretize the `unifyfs` package using `spack spec unifyfs`:

[code]

Tagging maintainers from `spack blame argobots`:

@shinta

[2020-05-06 16:20] scottwittenburg commented on #16487
fyi @eugeneswalker

[2020-05-06 16:32] mdorier commented on #16487
The margo package should be updated to depend on argobots@1.0 instead of rc1.

[2020-05-06 16:42] scottwittenburg commented on #16487
Yeah, that did it.  Thanks @mdorier!

[2020-05-06 19:17] #16487 closed, assigned to nobody

[2020-05-06 20:16] dzhang-b commented on #13963
Has the same problems using spack environment.

spack.yaml
[code]

spack install -> Error out on conflict dependencies.

Current workaround: set view to false;

[2020-05-06 20:38] adamjstewart commented on #16418
Closed by #16476

[2020-05-06 20:38] #16418 closed, assigned to nobody

[2020-05-07 01:25] scheibelp commented on #16478
I still haven't cracked what's going on here, and I'll have to keep working on it tomorrow, but a couple things in the meantime:

* While I agree with https://github.com/spack/spack/issues/16478#issuecomment-624347257 that this error shouldn't prevent the package from being installed, the error itself (https://github.com/spack/spack/issues/16478#issue-612931449) is unexpected and appears to be due

[2020-05-07 01:27] adamjstewart commented on #16478
See my second comment above

That could be related, these must have been created before `tensorflow` was renamed to `py-tensorflow`.

[2020-05-07 01:35] scheibelp commented on #16478
Thanks!

That spec.yaml is definitely malformed (i.e. should not have been generated by `Spec.to_yaml`). As for how it got into that state could be considered a secondary matter: `spack uninstall` should be robust enough to remove the prefix even if the Spec is malformed, so I'll add something tomorrow to allow for that.

[2020-05-07 03:36] alansill commented on #12628
I see a similar issue when doing a spack install openfoam:

[code]

[2020-05-07 04:32] alansill commented on #16328
I see the same thing with 1.73.0

The bootstrap.log generated during the boost compile says:
[code]
From this, I'm guessing that C++11 is now required and one should not try to work around it.

[2020-05-07 09:30] #15884 closed

[2020-05-07 11:53] vvolkl opened #16506 "Installation issue: ncurses@5.9"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.14.2-998-b196e43
* **Python:** 2.7.5
* **Platform:** linux-centos7-broadwell

### Additional information

[code]

### General information

- [x] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [x] I have run `spack maintainers <name-of-the-package>` and @mentioned any mainta

[2020-05-07 16:13] healther opened #16508 "Container, spack and conflicts with the host's python"
I'm not completely sure if this should be considered a bug in spack or whether the use case below is too strange.

We deploy the software we depend on in singularity containers containing different apps (for different use cases). In the last update of the base image we moved to python3-providing one, this exposed the following problem:

[code]

The reason for this is a combination of
- the `spack`

[2020-05-07 18:46] amaji commented on #15384
@scheibelp Sorry for the long absence. I reverted back to using Spack 0.13.4 and did not see this  in a while. But it resurfaced again in my new install.

This time I am seeing the issue with Openmpi and the issue cropped up AFTER I uninstalled all Openmpi packages in my Spack and reinstalled them with a new default variant `fabrics=auto` as opposed to `fabrics=none`.

This is what I see.
[code]
B

[2020-05-07 20:31] jxy opened #16514 "spack installed git cannot find remote helper for 'https'"
### Steps to reproduce the issue

[code]
### Information on your system

* **Spack:** 0.14.2-1002-4b65efa8a
* **Python:** 3.6.9
* **Platform:** linux-ubuntu18.04-skylake_avx512

### Additional information

- [x] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [x] I have searched the issues of this repo and believe this is not a duplicate
- [ ] I have run the fai

[2020-05-08 06:18] Sinan81 commented on #16407
Sorry, just saw the discussion thread.

@elleryames you can install without checksum like
[code]

[2020-05-08 06:19] Sinan81 commented on #16407
@adamjstewart this package name rings a bell. I remember experiencing some issues with the version at pypi. Let me take a look at it.

[2020-05-08 06:25] Sinan81 commented on #16407
From the corresponding PR https://github.com/spack/spack/pull/12639

[2020-05-08 13:24] haampie commented on #10714
I'm getting the same problem after 20 minutes of compiling :(

[2020-05-08 15:13] elleryames commented on #16407
@Sinan81 Thanks for this. Yeah, I looked more into the configobj package and it seems the maintainers of the project must be busy with other things and have neglected it. There are many people calling for an updated PyPi version (last released 2014).

[2020-05-08 18:30] becker33 commented on #14567
@mbdevpl Yes, a PR would be accepted if provided.

Also, there are ongoing plans to change the semantics of dashes that might help as well. @alalazo would be able to help you with that.

[2020-05-08 19:21] alalazo opened #16532 "Unit tests are failing on travis-ci.com"
Since we moved from `travis-ci.org` to `travis-ci.com` unit tests are failing. It seems the issue is that stdout and stderr are not captured by `pytest` and thus unit tests using `capfd` are failing.

### Steps to reproduce the issue

Run unit tests under `travis-ci.com`, see e.g. [this](https://travis-ci.com/github/spack/spack/jobs/330679066)

### Error Message

Not relevant

### Information on y

[2020-05-08 21:52] alansill opened #16538 "gcc and open foam install conflicting mpfr packages"
/home/asill/spack/opt/spack/linux-centos7-broadwell/gcc-7.3.0/mpc-1.1.0-6utlrx5ydo6c4gvfcync2naozmza6hjh
==> 183004: Installing gcc
==> Using cached archive: /home/asill/spack/var/spack/cache/_source-cache/archive/71/71e197867611f6054aa1119b13a0c0abac12834765fe2d81f35ac57f84f742d1.tar.xz
==> Staging archive: /tmp/asill/spack-stage/spack-stage-gcc-9.3.0-5abm3xgixzmahrtwe27z2zgopjx3iju7/gcc-9.3.0.ta

[2020-05-08 21:53] alansill commented on #16538
Command was spack install -j 18 mpfr@4.0.2 gcc@9.3.0 openfoam +paraview+vtk+zoltan ^mpi

Same result if I leave off the "mpfr@4.0.2" which was just added to try to avoid the conflict.

[2020-05-08 23:18] adamjstewart commented on #16538
Can you share your environment file? I think you need to add:
[code]
in order for them to take each other into account.

[2020-05-09 03:01] adamjstewart opened #16540 "Foreground commands echoed when Spack is run in background"
If you run Spack in the background, any command you run in the foreground gets echoed.

### Steps to reproduce the issue

[code]
As you can see, commands like `ls` and `git status` get echoed. This isn't the case with most other background processes, so it must be a bug in our implementation of #15723.

### Information on your system

* **Spack:** 0.14.2-1022-7487706b87
* **Python:** 3.7.3
* **Pla

[2020-05-09 17:22] adamjstewart commented on #16540
I also noticed problems with metacharacters like "up arrow" or "tab". Trying to view the command-line history and tab completion don't work when Spack is running in the background.

[2020-05-09 20:00] #16421 closed, assigned to nobody

[2020-05-09 20:34] #16532 closed, assigned to nobody

[2020-05-09 21:47] omsai opened #16544 "Installation issue: py-plotly should not fix all versions of dependencies"
### Steps to reproduce the issue

The plotly package incorrectly uses one and only one version of it's dependencies specified in upstream's requirements.txt instead of specifying a minimum version like upstream's setup.py:
https://github.com/plotly/plotly.py/blob/v2.2.0/setup.py#L49

This is is introducing a circular dependency in my trying to use a fewer version of py-deeptools@3.4.1 which has a

[2020-05-09 22:00] omsai commented on #16544
The spec resolves after changing to an open range:

[code]

[code]

[2020-05-10 14:53] robert-mijakovic commented on #5542
@alalazo Any comment from your side?

[2020-05-11 08:22] alalazo commented on #5542
@robert-mijakovic This is a very old issue, so I need to check if there are further workarounds or ways to solve it. My inclination would be to say that this is still something Intel needs to address either in docs (saying that having linker options in `cfg` files may interfere with other options of `icc` - thus limiting the usefulness of `cfg` files) or in their compilers.

Also, I find  `icc -he

[2020-05-11 08:43] #16407 closed, assigned to nobody

[2020-05-11 08:56] vvolkl opened #16564 "Relocation: false BinaryTextReplaceError"
I was  relocating packages to an install path longer than the one used to create the buildcache, and saw the Error below. But I remembered that `patchelf` should actually be capable of growing the rpath in binaries, so I tried commenting out the exception, and installed and used a few packages, all without any issues.

This raises the question, is this error really justified? If not, removing this

[2020-05-11 15:50] tmadlener opened #16581 "Installation issue: py-pyyaml"
### Steps to reproduce the issue

I have tried to build a package that depends on `py-pyyaml`, but `py-pyyaml` fails during the build stage due to what looks like a linker error. I am not sure whether this is due to the linker looking at the wrong place or if it is something else.

[code]

### Information on your system

[code]

### Additional information

* [spack-build-env.txt](https://github.co

[2020-05-11 17:22] adamjstewart commented on #16581
This looks like the issue that @skosukhin reported and is trying to fix in #16527. I still don't know why I didn't encounter this issue myself. For now, you can either try #16527 and see if that fixes the issue for you, or build without libyaml: `spack install py-pyyaml~libyaml`. If pyyaml accepts some kind of flag or environment variable, we could use that to tell it where to find `libyaml`, but

[2020-05-11 17:55] #15145 closed

[2020-05-11 18:41] gartung commented on #16564
Can you try updating to the head of develop as a test.

[2020-05-11 18:43] gartung commented on #16564
/home/gitlab-runner/paaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaading/spack/opt/spack/linux-centos7-haswell/gcc-4.8.5/gcc-8.3.0-zvioj2ws7j3tm4k2ns72menfduhukqty
 is longer than the old path
/home/vavolkl/spack/opt/spack/linux-centos7-haswell/gcc-4.8.5/gcc-8.3.0-zvioj2ws7j3tm4k2ns72menfduhukqty

This is functioning as expected.

[2020-05-11 18:46] gartung commented on #16564
Yes patchelf can grow the rpath entries, but the error is from trying to replace strings compiled into the binaries. I don't recall if I added a switch to bypass that check.

[2020-05-11 18:49] becker33 opened #16586 "Installation issue: python3.8.0:3.8.2 %intel"
### Steps to reproduce the issue

[code]

### Information on your system

[code]

### Additional information

This issue appears across multiple systems, and only with python 3.8. I've successfully built python@3.7.7%intel from the same setup.

This is the build output. I'll attach the files separately.

[code]

* [spack-build-out.txt](https://github.com/spack/spack/files/4611472/spack-build-out.t

[2020-05-11 18:56] gartung commented on #16564
As initially implemented  this was just a warning message. My colleague argued that this should be an error because the complete relocation was not done.

You always have the option of connecting out the line that raises the error. Relocating compilers is tricky at best. The compilation rules file is text, so it will get rewritten. Running the compiler to get flags will result in incorrect paths u

[2020-05-11 19:05] tmadlener commented on #16581
HI @adamjstewart, sorry I had briefly looked through any related issues, but apparently I have missed the open PR. `spack install py-pyyaml~libyaml` indeed seems to work to build pyyaml. I have to check if the dependencies are working as expected with this in place.

I have also tried #16527 and that works as well for me. So once that is merged, I suppose this can also be closed.

[2020-05-11 19:13] eschnett opened #16590 "Installation issue: gcc 10.1 does not build on macOS"
### Steps to reproduce the issue

[code]

### Information on your system

[code]

### Additional information

https://gist.github.com/eschnett/acae32979d0a7dfc8e080fdf50868fd5

### General information

- [x] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [x] I have run `spack maintainers <name-of-the-package>` and @mentioned any maintainers
- [x] I have uploade

[2020-05-11 19:27] becker33 commented on #16586
Update: This is also relevant for current Spack develop branch:

[code]

[2020-05-11 20:21] becker33 commented on #16586
On further testing, this applies to all python@3.8.x

[2020-05-11 20:29] lee218llnl commented on #5542
FWIW, I got a similar explanation from Intel regarding -Xlinker in the .cfg file. No word yet on a potential new option that will print the version regardless.

[2020-05-11 21:11] hartzell commented on #1743
I'd love to see this.  Perhaps instead of having the CI do it "someone" (sorry, hands tied at the moment) could add `spack black` (now who's shaving a yak?).

[2020-05-11 21:43] becker33 commented on #16564
As @gartung said, this is not a false Error, it correctly identifies that the package will not work as intended in the new location because it has strings hard-coded into the package.

I'm closing this as correct behavior. @vvolkl feel free to ping me here (or on slack) if you want more information on how to work around this error or why this error is occurring despite the rpaths being correctly e

[2020-05-11 21:43] #16564 closed, assigned to alalazo, gartung, becker33

[2020-05-11 21:59] adamjstewart commented on #16590
@michaelkuhn

[2020-05-11 23:02] #16586 closed, assigned to nobody

[2020-05-11 23:27] #15803 closed

[2020-05-12 00:46] adamjstewart commented on #16474
Can you see if #16593 fixes this issue? I noticed that we're trying to detect implicit RPATHs _before_ we actually load the compiler modules that the compiler needs to run.

[2020-05-12 07:55] alalazo commented on #1743
@hartzell I can take a stab at it if there's agreement. What stopped us so far is that `black` doesn't grant compatibility with Python 2.6.

[2020-05-12 08:12] alalazo commented on #16506
Trying to assess priority of this build error. Is there any package that constrains `ncurses` to version `5.9`?

[2020-05-12 08:21] alalazo commented on #16486
Hmm, the current naming scheme results in something like:
[code]
Usually people would:
[code]
but to do what you ask for I think it suffices to:
[code]
In that way you should see all the module files that have been generated for any target. Would that solve your use case?

[2020-05-12 08:21] michaelkuhn commented on #16590
I was able to reproduce it on Linux with Clang. It looks like the `-L` flag for zstd is missing, too. I'll investigate and wonder how this ever worked with GCC.

[2020-05-12 08:33] alalazo commented on #3690
@adamjstewart Is this consistently reproducible by just installing:
[code]
?

[2020-05-12 08:50] vvolkl commented on #16506
I encountered this setting the version manually while debugging an unrelated error, a quick `grep` search of the builtin repo only brings up `hstr` with a constraint of `ncurses@:5.99.99`.

[2020-05-12 10:46] michaelkuhn commented on #16590
Please give #16599 a try and let me know whether it improves things for you.

[2020-05-12 11:28] vvolkl commented on #16564
@gartung @becker33 Many thanks for your explanations. I'd be interested to understand in more details the limitations of relocations, so l'll come back to that and write you on slack.

[2020-05-12 11:57] roguephysicist commented on #16486
No, because now your modulefile layout looks like this:

[code]

which is far from optimal. And what if you have modulefiles for system utilities that need to appear alongside the ones generated by Spack? The 'arch' directory prevents from having a single, unified layout.

Furthermore, `{architecture}` can be specified in the `naming_scheme` property, which can be the default behavior for people w

[2020-05-12 12:00] alalazo commented on #16486
What is optimal?

[2020-05-12 12:04] roguephysicist commented on #16486
Something that is easy for users, mostly non-computer science researchers, to work with.

[2020-05-12 12:14] alalazo commented on #16486
Hmm, can you be more specific? Trying to understand what is your use case and which are the limitations you see.

[2020-05-12 14:36] roguephysicist commented on #16486
Sure thing.

I am using Spack to automate and manage the software installation on our centralized university cluster. On the hardware side, our cluster is comprised of several different microarchitectures (Haswell, Broadwell, Skylake). On the software side, we serve 14 different departments, so there is quite a large variety of packages that need to be installed and maintained (many of these have

[2020-05-12 16:00] eugeneswalker opened #16602 "Installation issue: libffi on power 8"
Trying to build `libffi@3.3` on `power8` using `gcc@7.3.0` results in the error shown below. Using `spack@develop` checked out at commit `7813e4146459` from 12-May-2020. Even when target=ppc64le is specified:

[code]

@michaelkuhn @ax3l @skosukhin

[2020-05-12 16:03] alalazo commented on #16486
@roguephysicist Thanks for the detailed explanation.

Up to this point I would say this sounds familiar, as I have done the same thing for EPFL since not so long ago. The only thing I would recommend against is:

I understand why one wants to install Intel manually with the current state of Spack, but my advice here would be to register Intel as an external tool in `packages.yaml` and customize `m

[2020-05-12 16:17] nicholas-sly commented on #16474
Sadly, no.  That machine is currently undergoing an OS downgrade.  I'll try afterwards, but it will be on a sles12-based cray environment.  I will, however, try this if I encounter the same issue when I try building after the downgrade.

[2020-05-12 16:34] roguephysicist commented on #16486
This is exactly what I did. The compilers correctly specified in `compilers.yaml` (even with modules), and the remaining libraries and tools are all specified in `packages.yaml`. I have used the Intel MKL from within Spack on many packages with good results.

I am not particularly planning on doing several builds of the **same** software for different architectures. Some packages that do not benef

[2020-05-12 16:47] #15550 closed

[2020-05-12 17:23] #15362 closed

[2020-05-12 21:37] dzhang-b commented on #7904
`spack setup` command is broken for even cmake project now.

[2020-05-12 22:00] eugeneswalker commented on #16602
`libffi@3.2.1` builds fine on power8, just not version `3.3`... I will leave this issue up for now unless told to close it.

[2020-05-12 22:06] #16544 closed, assigned to nobody

[2020-05-12 23:31] ax3l commented on #16602
cc @chuckatkins that should hit y'all with the default configuration of ADIOS2, too. `libffi` is pulled by SST which is default-on. What do you build with on Summit?

[2020-05-12 23:34] ax3l commented on #16602
cross-link: upstream but report https://github.com/libffi/libffi/issues/531

@eugeneswalker does this patch (https://github.com/libffi/libffi/pull/532) work for you? We could apply it to the 3.3 release in Spack.

[2020-05-13 02:46] rodent5 commented on #16421
woeis @DiegoMagdaleno droem gone

[2020-05-13 05:01] scottwittenburg commented on #16244
I have also hit this error in the context of a compiler bootstrapping CI pipeline.  Some salient points:

- For the whole process, I'm in an environment defined by being in the directory containing the attached `spack.yaml` (renamed to `spack.yaml.txt` for github).
- I want to build a package using a compiler which is not already installed in my container
- So I configure a binary mirror where tha

[2020-05-13 06:14] AStupidBear commented on #7123
@tgamblin Where can I find public binary mirrors to speed up installing?

[2020-05-13 06:30] tgamblin commented on #7123
E4S (https://e4s.io, part of ECP) is running a binary mirror -- the details are here:

* https://e4s-project.github.io/download.html

See "E4S build cache", which takes you here:
* https://oaciss.uoregon.edu/e4s/e4s_buildcache_inventory.html

Our goal is to eventually consolidate that and have it track mainline Spack, but we're not there yet. You can use it in containers right now, though.

[2020-05-13 15:57] eugeneswalker commented on #16602
Unfortunately, no, it does not work. It's interesting, because I get the exact same error, which indicates that `defined(__FLOAT128_TYPE__)` is evaluating true in the preprocessor conditional:

<b>ffi_powerpc.h</b>
[code]

Even with this change, the same error is returned:
[code]

Any ideas why it thinks float128 is available?

@ax3l

[2020-05-13 16:02] sjpb opened #16623 "Installation issue: gcc"
### Steps to reproduce the issue

[code]

Same for `gcc@9`, `gcc@5` too at least.

### Information on your system

[code]

### Additional information

### General information

@michaelkuhn

- [x] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [x] I have run `spack maintainers <name-of-the-package>` and @mentioned any maintainers
- [ ] I have uploaded the build

[2020-05-13 16:11] sjpb commented on #16623
I should mention that I checked in the browser and that address fails too. So hopefully it's not just a network issue my end!

[2020-05-13 16:58] michaelkuhn commented on #16623
`@10` is not a valid version, `@10.1.0` is. Something like `@10:` should also work.

[2020-05-13 17:55] s-sajid-ali commented on #16115
Fixed by https://github.com/spack/spack/pull/16619.

[2020-05-13 18:20] sjpb commented on #16623
Doh. Many thanks.

[2020-05-13 18:20] #16623 closed, assigned to nobody

[2020-05-13 19:35] frankwillmore commented on #14721
I'm hitting the same issue when trying to read from buildcache. I can export a package successfully and sign it with ```spack gpg sign``` but when I uninstall the package and try to re-install from buildcache, it fails as:

[code]
If spack is generating a key pair, what do I need to be doing so that it can find its public key?

[2020-05-13 20:22] dzhang-b commented on #8054
This happen to me as well. I think this should be considered as a bug.

When I ran `spack install --keep-stage <spec>`, I am considering that no matter how many times I ran `spack install`, it will not remove staged packages unless it was specifically asked to remove it.

[2020-05-13 20:24] dzhang-b commented on #8054
Besides, I think `--keep-stage` flag is broken now. If the package is installed, then `--keep-stage` will not take effect and will not generate the staged directory.

[2020-05-13 20:54] mgnisia commented on #13210
After facing this issue as well: I wanted to share my solution for the python version `3.5.0`. Here the problem was that it requires a openssl version of 1. If you install with spack with the latest version it doesn't work. If you define this dependency the `_ssl` problem was fixed.
`spack install python@3.5.0 ^openssl@1.0.2t`

[2020-05-13 21:52] ajw1980 opened #16633 "Installation issue: wireshark did not set rpath correctly"
I needed to add `-DCMAKE_INSTALL_RPATH_USE_LINK_PATH=ON` to the wireshark/package.py to get RPATHs set correctly. It did find some libraries, but maybe those were from indirect depends?

ldd for initial build:
[code]

ldd with -DCMAKE_INSTALL_RPATH_USE_LINK_PATH=ON set:
[code]

[2020-05-13 23:21] tldahlgren opened #16636 "Bug/tests: three relocate.py tests fail with additional gcc libs"
I ran `spack test` on an LLNL LC machine and three relocate tests fail.  I confirmed this is the case with commit `c50b586`. The bug appears to be related to a too-specific check of the RPATHs.

### Error Message

[code]

### Information on your system

* **Spack:** 0.14.2-1095-8d73ca3
* **Python:** 3.7.2
* **Platform:** linux-rhel7-zen

### Additional information

- [x] I have run `spack debug re

[2020-05-14 03:27] cpraveen opened #16638 "Installation issue: suite-sparse@5.7.2"
I get error when I try this
[code]
Here is the spec

[code]

The error I see is like this
[code]

### Information on your system

[code]

compilers.yaml file
[code]

packages.yaml file
[code]

### Additional information

* [spack-build-out.txt](https://github.com/spack/spack/files/4625882/spack-build-out.txt)
* [spack-build-env.txt](https://github.com/spack/spack/files/4625890/spack-build-env.txt)

[2020-05-14 09:07] cpraveen commented on #16638
Older versions from 5.4.0 onwards also fail with this error
[code]
I could install version 5.3.0

[2020-05-14 09:15] healther commented on #16508
FYI: This it how it looks https://github.com/electronicvisions/spack/commit/6a7ea1580f388a588ff676cbf852b1307d8a82bf
I can make a PR from this commit

[2020-05-14 09:39] alalazo commented on #16508
I think this is a problem of the `app` more than of Spack, or am I missing something? Also, there's already a way of forcing the use of a particular python interpreter with Spack:
[code]
so I don't see a case for allowing an override by an environment variable.

[2020-05-14 09:40] alalazo commented on #16508
Also, is this container related at all? If the `app` sets the wrong `PYTHONHOME` I assume it will break also outside of a container, right?

[2020-05-14 10:43] skosukhin commented on #15780
@scheibelp
I applied #15932
patched it (otherwise it fails):
[code]
ran `spack -d install flex > 15780.out 2> 15780.err`
and here is the result of `grep -i "15780" 15780.*`:
[code]
and here is the resul of `tail -n 100 ./15780.out`:
[code]
It looks like Spack tried to apply a [patch](https://src.fedoraproject.org/rpms/findutils/raw/97ba2d7a18d1f9ae761b6ff0b4f1c4d33d7a8efc/f/findutils-4.6.0-gnulib-

[2020-05-14 12:07] healther commented on #16508
I _thought_ `PYTHONHOME` is the way to go when you want to use a non-standard installation path for the default `python` binary [doc](https://docs.python.org/3/using/cmdline.html#envvar-PYTHONHOME). Since we try to overwrite all system-provided installations, I _think_ our usage of setting `PYTHONHOME` is correct, at least in so far as we want to point our `python{,2,3}` binary to the view when lo

[2020-05-14 20:59] mc-allen opened #16651 "Support for deleting packages declared in environment spec matrix"
### Rationale

Currently, it is not possible to reinstall or delete a package declared in an environment spec matrix:

https://spack.readthedocs.io/en/latest/environments.html#spec-matrices

This is a blocker for reinstalling a given package in the matrix within the environment. The workaround for this is to uninstall the package globally, then reinstall it within the environment.

### Additional

[2020-05-14 21:43] frankwillmore commented on #16283
I found an easy reproducer for a related permission issue:
1. Delete $SPACK_ROOT/var/spack/misc-cache
2. spack spec any package
Result: misc-cache and everything under it is re-written without group permission, despite permission/ownership of parent directory:
[code]

So subsequent attempts even to spec by the 'other' user fail:
[code]

[2020-05-15 01:08] adamjstewart commented on #16638
Can you try building the package in serial? `spack install -j1 suite-sparse`

[2020-05-15 01:24] dzhang-b opened #16652 "Stage is not kept for already installed specs even if --keep-stage is used"
Package's build directory is removed if `spack install --keep-stage` is called on an already installed spec.

### Steps to reproduce the issue
Install a new spec using:
[code]
at this point the stage directory should be present. If the same command is given again:
[code]
`spack cd` will fail with the error message reported below.

### Error Message
[code]

[2020-05-15 03:56] darmac opened #16656 "Nginx: how to include kinds of module?"
When we install `nginx`, some additional module is needed for some test case.
e.g.
[code]

But there are too much module for nginx, I think now we need add variants for each module? Is that  a more flexiable method for us to add the nginx module?

[2020-05-15 04:23] cpraveen commented on #16638
I get the same error even with serial build.

[2020-05-15 13:49] roblatham00 commented on #12520
I'm seeing a similar problem on CentOS Linux release 7.8.2003 (Core).

Redhat's packaging of OpenMPI is a little different from other system mpi that I've seen.  the headers are over in /usr/include/openmpi-x86_64 but the libraries and mpicc wrapper are in /usr//lib64/openmpi3.  Will that confuse spack?  in packages.yaml both reporter and I have only the /usr/lib64/openmpi3 directory in paths.  Do

[2020-05-15 15:45] sjpb commented on #15373
Glad I found this - I think the https://spack-tutorial.readthedocs.io/en/latest/tutorial_modules.html still suggests this is the case

[2020-05-15 17:28] anderbubble opened #16665 "Support dependency compiler overrides in packages.yaml"
Compilers specified in `packages.yaml` should be used for dependencies even if the dependent package is being built with a different compiler.

### Rationale

In a spack environment I use a combination of specs in `spack.yaml` and configuration in a `packages.yaml` to control what will be installed. Sometimes we try to install a package with a compiler, but one of its dependencies can't be built s

[2020-05-15 17:40] anderbubble opened #16666 "Documentation for IntelPackage breaks lmod module generation"
The readthedocs [IntelPackage](https://spack.readthedocs.io/en/latest/build_systems/intelpackage.html?highlight=intel%20compiler#installing-intel-tools-within-spack) page directs the user to construct an environment in which the intel compiler package is seen to have been installed by itself. I have done this this long-way round in the past, by installing the Intel compiler with `%gcc`, then insta

[2020-05-15 17:42] anderbubble commented on #16666
I recognize I have not provided the precise error message here; I'll try to replicate, but this is something I experienced quite a while ago, and conversation on slack made it sound like it was likely still an issue, even though I have a workaround.

[2020-05-15 18:24] ravil-mobile opened #16668 "a bug while building a docker container with spack"
Spack cannot delete a building directory while removing garbage (i.e. **spack gc -y**). This bug only pops up while spack is building an image. Probably, there is a bug in the spack image.

### Steps to reproduce the issue

[code]

### Error Message

[code]

### Information on your system

[code]

### Additional information

- [ ] I have run `spack debug report` and reported the version of Spack/P

[2020-05-16 05:57] huqy opened #16674 ""spack find" across different scopes"
Hello,

Right now `spack find` command seems only picking up the configurations with highest priority when existed. That means if a user defines a different directory of `.spack-db` in the user level `config.yaml`, he/she can only query the packages installed in that user-level directory and miss the ones installed in site or default level directories.

Please let me know if my understand is wrong

[2020-05-16 15:40] #11140 closed

[2020-05-16 15:40] #12493 closed

[2020-05-16 15:40] #15522 closed

[2020-05-16 15:42] adamjstewart commented on #16656
Yes, the preferred way of doing this would be to add variants for each module.

[2020-05-16 15:42] #16656 closed, assigned to nobody

[2020-05-17 18:22] ye-luo opened #16689 "llvm built with system gcc missing gcc-toolchain"
I'd like to use the system gcc and spack install llvm.
However, the built clang/clang++ cannot build codes because of missing gcc-toolchain configuration.

### Steps to reproduce the issue

[code]
### Information on your system
Ubuntu 20.04 with gcc 9.3

### Additional information
- [x] I have searched the issues of this repo and believe this is not a duplicate
Note: searching issues of this repo

[2020-05-18 08:44] ravil-mobile opened #16695 "nvidia/cuda as a base image for spack"
### Rationale
It would be really helpful to be able to build images with Spack not only for CPU-based apps but also for GPU-based ones

### Description
Add nvidia/cuda image as a base one

### General information

- [ ] I have run `spack --version` and reported the version of Spack
- [ ] I have searched the issues of this repo and believe this is not a duplicate

[2020-05-18 10:24] mdorier opened #16696 "Add spack bootstrap back (as a no-op)"
The `spack bootstrap` command has recently been removed (commit https://github.com/spack/spack/commit/43c9ad34216a282a50cc1bbd107949c24db38835). Would it be possible to re-enabled it simply as a no-op with a warning message indicating that it has been deprecated and won't do anything?

I've had multiple CI jobs fail on me for the past week because this command does not exist anymore, and I'm still

[2020-05-18 13:54] greschd commented on #15146
Thanks, I was stuck on this problem!

Looking at `intel-mkl` [here](https://github.com/spack/spack/blob/develop/var/spack/repos/builtin/packages/intel-mkl/package.py#L74), maybe the right way to fix this would be adding something like

[code]
to the `intel-parallel-studio` package?

[2020-05-18 14:57] #16581 closed, assigned to adamjstewart

[2020-05-18 16:49] scheibelp commented on #16674
I assume you are referring to `install_tree` - Spack can only have one of those (hence why you are seeing the highest-precedence behavior). If you want Spack to make use of multiple install trees, then one option is upstreams (see: https://spack.readthedocs.io/en/latest/chain.html); note that upstreams have special semantics and may not do what you want; in that case, you may have to explain here

[2020-05-18 17:09] aweits commented on #16478
I can get this behavior with this (assumes that revocap-coupler fails fetch for you):
[code]
A quick snippet of how to prevent (not sure this is a valid fix, but a diff is sometimes worth a 1000 words):
[code]

[2020-05-18 20:25] huqy commented on #16674
Thanks for the info, Peter. I think `install_tree` in `upstreams.yaml` is exactly what I want.

However I got a couple observations after a quick test:

1. Although the installation from `spack install` can cross-reference to multiple spack-instances, the dependency of libs seems to have to pertain to the single spack-instance database indexes, that introduces the missing dependency errors during

[2020-05-18 22:19] frankwillmore opened #16707 "spack reports wrong target architecture on Theta (Cray XC-40)"
Currently, a clone of the 'develop' branch of spack reports and attempts to build for the wrong target architecture on theta (Cray XC-40):

### Steps to reproduce the issue:

[code]

[2020-05-18 23:34] adamjstewart commented on #16707
Can you see if this will be fixed by #16593?

[2020-05-19 13:07] alalazo opened #16720 "Potential for a fork bomb in "spack versions""
Forwarding here a severe bug that was reported in a direct conversation with @nazavode. Having ~10 users running at the same time `spack versions` on front-end nodes caused kernel lockup due to the high number of sockets opened (sys-admin reports ~210k distributed over 3 nodes). Users were internal, so they had `ulimit -n` set to ~70k.

### Steps to reproduce the issue
The forking behavior can be

[2020-05-19 15:34] frankwillmore commented on #16707
I merged this patch and cloned a fresh instance, but I still see the same.
[code]

[2020-05-19 15:35] nazavode commented on #16720
@alalazo thanks for taking care of summing up all the info in an issue. In the meantime I asked all the Spack users on the system to use `spack versions --safe` since it looks like a safe way to avoid web scraping.

[2020-05-19 15:43] alalazo commented on #16720
If they just want to query safe versions they can also use `spack info`:
[code]

[2020-05-19 18:09] adamjstewart commented on #16707
What is the output of the following commands?
[code]

[2020-05-19 18:41] payerle opened #16725 "Installation issue: netcdf-cxx4"
[code]

### Information on your system

### Additional information

* [spack-build-out.txt]()
* [spack-build-env.txt]()

### General information

- [x] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [x] I have run `spack maintainers <name-of-the-package>` and @mentioned any maintainers
- [x] I have uploaded the build log and environment files
- [x] I have searc

[2020-05-19 18:55] mc-allen opened #16727 "Cannot use spack containerize with spack 0.14.2 version"
### Steps to reproduce the issue

Using a spack.yaml with the following container fields:

[code]

Run

[code]

### Error Message

[code]

### Information on your system

This did not work for me on 0.14.2.

[code]

### Additional information

- [x] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [x] I have searched the issues of this repo and believe this is no

[2020-05-19 18:56] prckent opened #16728 "ctest compiled with gcc 10 seg faults"
ctest from cmake 3.17.1 compiled from recent spack development versions will segmentation fault when compiled with GCC 10.1.0. These are the latest cmake and gcc versions supported by spack.

I have never had this problem with other compilers and suspect a subtle compatibility problem. Note that cmake itself seemingly works without problems.

If would be very helpful to know if someone else can re

[2020-05-19 19:01] payerle commented on #16725
@WardF
* **Spack:** 0.14.2-1112-445cae5c8
[spack-build-env.txt](https://github.com/spack/spack/files/4652590/spack-build-env.txt)
[spack-build-out.txt](https://github.com/spack/spack/files/4652591/spack-build-out.txt)
[spack-configure-args.txt](https://github.com/spack/spack/files/4652592/spack-configure-args.txt)
* **Python:** 3.6.8
* **Platform:** linux-rhel8-x86_64

[2020-05-19 19:35] bradking commented on #16728
This has also been reported to CMake upstream as [CMake Issue 20730](https://gitlab.kitware.com/cmake/cmake/-/issues/20730), but building by hand with the upstream defaults seems to work fine.  There may be something about spack's configuration options or dependencies that triggers this.

[2020-05-19 19:35] sjpb opened #16730 "`lmod` integration unclear in module documentation"
Having recently installed spack on a system with `lmod` and built packages with it I was confused that `module avail` showed no modules. After asking for help on slack I discovered that `setup-env.sh` only sets `MODULEPATH` for `tcl`. I suggested on Slack that the module tutorial wasn't very clear about `lmod` use but having just gone back and reread the it `Hierarchical Module Files` section is a

[2020-05-19 19:57] payerle commented on #16725
Getting a failure on netcdf-cxx4 due to illegal configure args.

E.g.,
spack install netcdf-cxx4@4.3.1%gcc@8.4.0 +dap +doxygen +jna +ncgen4 +netcdf4 +pic ~pnetcdf +shared +static arch=linux-rhel8-x86_64

Dies with error
    28     ==> 29125: netcdf-cxx4: Executing phase: 'configure'
     29     ==> [2020-05-19-11:44:18.476779, 29134] '/tmp/payerle/spack-stage/spack-stage-netcdf-c
            xx4-4

[2020-05-19 20:57] jeffhammond commented on #9134
Is this feature going to be supported?

[2020-05-19 21:19] #15291 closed

[2020-05-19 21:29] tgamblin commented on #9134
Needs new concretizer.  After 0.15.  Possibly 0.16.

[2020-05-19 21:51] frankwillmore commented on #16707
[code]

[2020-05-19 22:45] WardF commented on #16725
These arguments appear to be for the netcdf-c library configuration script.

[2020-05-19 23:26] white238 opened #16733 "Option to copy configs to any hard config scope"
Add command to copy an environment file to override a config scope (user, site, system)

### Rationale

WSC codes want to be very sure that the packages and compilers used are the ones described by the project. Several projects current patch spack through uberenv to limit extra scopes creeping in.  This would remove that hack.

### Description

git clone spack
cd spack/repo
bin/spack env activate

[2020-05-19 23:29] becker33 commented on #16733
After discussion with @tgamblin, it might make more sense from an interface perspective to have this functionality appear as a subcommand of `spack config`. This could be done in conjunction with #13920.

@white238 do you have strong feelings about where this functionality should live, or do you not care as long as you can achieve it with a single command?

[2020-05-19 23:30] white238 opened #16734 "Add ability to toggle default state of Buildable"
Add ability to change the default state of Buildable to False instead of True.

### Rationale

Unless you are careful and lock down your dependencies, Spack builds far too many packages (perl, tar, etc).  Users who are unfamiliar with the problem often waste hours thinking that a 2 hour library build is normal when it should be < 10 minutes. It would be nice to be able to provide a list of package

[2020-05-19 23:33] white238 commented on #16733
I don't care what the command is as long as its a single command that overrides all scopes to obey my bidding.  I leave it up to you guys to decide what is best in your framework/vision.

[2020-05-20 01:11] ax3l commented on #15850
Uff, bites me as well. I though I add a `spack.yaml` to the root of my repo for developers but this now interferes badly with my Spack-powered CI if I sit in the wrong dir.
https://github.com/openPMD/openPMD-api/pull/737

[2020-05-20 13:05] justbennet commented on #16730
Does one have to declare the system compiler as `Core`?  Would Spack be usable for, say, a small bioinformatics cluster that doesn't need newer compilers and only run serial/multicore software?

Just trying to separate a _requirement_ from a usual or recommended practice.

[2020-05-20 13:11] sjpb commented on #16730
My understanding - and I may be wrong - is that you *have* to specify some compiler as Core, else there's no entry point for the module tree. So the system compiler should be in Core, but if that's all you need, fine.

[2020-05-20 16:11] #16636 closed, assigned to nobody

[2020-05-20 17:59] ben-albrecht commented on #14222
As another data point, I encountered this issue in our nightly spack integration testing on our linux32 platform.

Both of the [suggested work-arounds ](https://github.com/spack/spack/issues/14222#issuecomment-568047760) worked for me and I was able to figure out one of them from the error message alone (always a good sign!). However, I look forward to a more principled solution.

[2020-05-20 19:34] michaelkuhn commented on #16590
@eschnett Ping :) #16599 has been merged in the meanwhile. Is this still a problem for you?

[2020-05-20 20:33] eschnett commented on #16590
Everything is fine. I must have forgotten to report back.

[2020-05-20 20:33] #16590 closed, assigned to nobody

[2020-05-21 00:09] #16734 closed, assigned to nobody

[2020-05-21 20:00] naromero77 opened #16751 "Installation issue: SLATE"
@G-Ragghianti

### Steps to reproduce the issue

[code]

### Information on your system

naromero@naromero-desktop ~]$ spack debug report
* **Spack:** 0.14.2-1174-92989fbbf
* **Python:** 3.6.9
* **Platform:** linux-ubuntu18.04-westmere

### Additional information
I also get another set of GOMP related errors with `+openmp` variant

* [spack-build-out.txt](https://github.com/spack/spack/files/46644

[2020-05-21 21:07] bvanessen opened #16754 "Version 46ab939 is unable to create an environment with spack.yaml file"
When I run a newer version of spack to recreate an environment that used to work I get the following error:

spack -d env create foo ~/spack.git/var/spack/environments/lbann-dev-power9le/spack.yaml
==> Error: 'syaml_str' object has no attribute 'lc'

### Steps to reproduce the issue

[code]

### Error Message

[code]

### Information on your system

This failed on Lassen.

vanessen@lassen709 [spac

[2020-05-21 21:08] bvanessen commented on #16754
@scheibelp Here is an issue

[2020-05-21 21:10] bvanessen commented on #16754
Here is the spack.yaml file.

[code]

[2020-05-21 21:30] orcunyildiz opened #16755 "Installed packages do not become available in spack environment until deactivate + activate"
When I install a package within a spack env, this package does not become available until I deactivate the environment, and then activate it again.

### Steps to reproduce the issue

[code]

### Error Message

which python command inside the spack env should point to the spack installed python (python@3.8.2 in this case), but it points to the system python (/usr/bin/python).

### Information on yo

[2020-05-22 02:51] dzhang-b commented on #275
Hi I have a meta-package uses both python3 and python2. `python3` and `python2` are really different packages. Is it possible to support multiple python version at the same time?

Or How can I escape the spack to use system python2/python3 by default?

By the way, `python3.5` and `python3.8` are also very different in that different level support of type annotation. It is total possible for packag

[2020-05-22 04:32] tgamblin commented on #275
@dzhang-b: Not in a single meta-package, but you can easily make an environment that installs both:

* https://spack-tutorial.readthedocs.io/en/latest/tutorial_environments.html
* https://spack-tutorial.readthedocs.io/en/latest/tutorial_stacks.html

We will be making it possible over the next few months to have python2 as a *build* dependency in the same DAG that uses python 3 as a run or link dep

[2020-05-22 05:31] dzhang-b commented on #275
@tgamblin Cool! Thanks. Looking forward to see python2 support in when building the package that requires python2 installation.

But I still think python and python3 should be named differently and allowed to be list as dependencies at the same time. Debian/Ubuntu manually used `python3` binary name instead of `python` even when python2 is not presented in the system.

Who knows if in future pytho

[2020-05-22 07:07] hgrhgy opened #16757 "some mistake in package cdo-1.9.8 download address"
package cdo-1.9.8 download address should be ：
https://code.mpimet.mpg.de/attachments/download/20826/cdo-1.9.8.tar.gz
not
https://code.mpimet.mpg.de/attachments/download/20286/cdo-1.9.8.tar.gz

[2020-05-22 11:34] alalazo commented on #16757
@hgrhgy Can you submit a PR for this issue?

[2020-05-22 12:23] alalazo commented on #16652
Can't reproduce:
[code]
Version used:

* **Spack:** 0.14.2-1187-0581e6abb
* **Python:** 3.6.9
* **Platform:** linux-ubuntu18.04-broadwell

[2020-05-22 13:04] alalazo commented on #16695
You might be interested in #15028, though the task to build the base image is currently on the user.

[2020-05-22 13:15] alalazo commented on #16695
[Here's](https://hub.docker.com/repository/docker/alalazo/gromacs/tags?page=1) a proof of concept with a CUDA enabled gromacs.

[2020-05-22 15:48] adamjstewart commented on #16757
@skosukhin is the maintainer

[2020-05-22 15:50] dzhang-b commented on #16652
@alalazo Can you do `spack install` or `spack install --keep-stage` again. The staged directory is removed afterward.

The other way to reproduce it is to use `spack dev-build`, after that, `spack location -i` or `spack location -b` wont work.

Lastly, I have used `spack.yaml` inside my `dev-build` directory. It is possible that when run in a environment like this also trigger this error.

[2020-05-22 17:30] skosukhin commented on #16757
see #16764

[2020-05-22 17:50] scheibelp commented on #16754
The property "naming_scheme" doesn't exist - replace:

[code]

with

[code]

The error this generates does not have a line number for some reason, so the code generating the error message for this issue was itself failing - https://github.com/spack/spack/pull/16765 fixes that.

[2020-05-22 18:05] bvanessen commented on #16754
Okay, that seemed to fix it.  I am curious, I am sure that I got the field naming_scheme from the spack documentation at some earlier time.  Is it correct that it used to be valid?

Brian C. Van Essen
vanessen1@llnl.gov
(w) 925-422-9300
(c) 925-290-5470

[2020-05-22 18:11] scheibelp commented on #16754
It looks like https://github.com/spack/spack/pull/16629 did in fact remove `naming_scheme` and replace it with `projections`.

@becker33 will this cause issues for all existing environments or am I missing something (e.g. is there an automatic conversion mechanism that might not be getting applied here)?

[2020-05-22 20:49] quellyn commented on #16754
Hitting the same thing:

[code]

[quellyn@darwin-fe3 1.1]$ spack debug report
* **Spack:** 0.14.2-1194-7449bf8
* **Python:** 3.6.8
* **Platform:** linux-centos7-haswell

[2020-05-22 21:52] rrobinson-RMS commented on #12281
Hi,

is this actually working ? Has anyone compiled from it ?

I get several errors in the spec stage but manage to get past, but compilations seems to immediately error. Can provide more details if it is meant to be working.

Thanks Roger

[2020-05-23 02:12] #16757 closed, assigned to nobody

[2020-05-23 03:22] anderbubble commented on #11224
I am also experiencing this issue.

[2020-05-23 06:03] dzhang-b commented on #2873
from developer's point of view, we just want to have a `spack.yaml` file in the root repo to define a set of packages, dependencies etc so collaborator can build the repo just with `spack install <spec>` or `spack dev-build <spec>`. Maybe tutorial can cover this use case at the beginning.

[2020-05-23 07:11] Sinan81 commented on #12281
What platform are you compiling at? It compiles just fine on any Linux.

[2020-05-23 07:13] Sinan81 commented on #12281
I think it would be best if you can create a new issue ticket and ping me there.

[2020-05-23 07:19] Sinan81 commented on #12281
By the way, Spack concretizer is not perfect yet. So, you will need to give it a few hints so that it concretizes:
[code]
Above `mesa~llvm` is optional (unless if you're using and old gcc.) it enables you avoid building llvm which takes quite some time.

[2020-05-23 23:35] tejendrapsingh opened #16780 "Installation issue: tau"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.14.2-1209-bc145b2b3
* **Python:** 3.6.8
* **Platform:** linux-centos8-skylake

### Additional information

* [spack-build-out.txt](https://github.com/spack/spack/files/4672689/spack-build-out.txt)
* [spack-build-env.txt](https://github.com/spack/spack/files/4672688/spack-build-env.txt)

@eugeneswalker @khuck

[2020-05-23 23:45] michaelkuhn commented on #16780
This should be fixed by #16782, please give it a try.

[2020-05-24 00:09] tejendrapsingh commented on #16780
Thanks.
So, I need to remove this line `flag_handler = AutotoolsPackage.build_system_flags` and add these lines
[code]

to the ` var/spack/repos/builtin/packages/libunwind/package.py file`, right?

[2020-05-24 00:22] tejendrapsingh commented on #16780
Thanks.
It worked!
Brilliant!
Closing this.

[2020-05-24 00:22] #16780 closed, assigned to nobody

[2020-05-24 13:06] zyzzyxdonta opened #16783 "Installation issue: likwid"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.14.2-1047-ff6a0fc7b
* **Python:** 3.6.9
* **Platform:** linux-ubuntu18.04-power8le

### Additional information

* [spack-build-out.txt](https://github.com/spack/spack/files/4673552/spack-build-out.txt)
* [spack-build-env.txt](https://github.com/spack/spack/files/4673553/spack-build-env.txt)

@TomTheBear

### G

[2020-05-24 14:22] TomTheBear commented on #16783
The issue can probably be fixed with this commit: https://github.com/RRZE-HPC/likwid/commit/557009ec519fb93e11353a3eb2673158d575c2e4

[2020-05-24 14:47] tejendrapsingh opened #16784 "Error: gcc@10.1.0 does not load"
### Steps to reproduce the issue

[code]

### Error Message
`==> Error: No compilers for operating system centos8 satisfy spec gcc@8.3.1`

[code]
[code]

### Information on your system

* **Spack:** 0.14.2-1209-bc145b2b3
* **Python:** 3.7.7
* **Platform:** linux-centos8-skylake

### Additional information

- [x] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [x

[2020-05-24 15:07] tejendrapsingh commented on #16784
Solved.
Edited the `compilers.yaml ` file to have two compilers with `gcc@8.3.1` preceding `gcc@10.1.0`.

[2020-05-24 15:11] #16784 closed, assigned to nobody

[2020-05-24 15:45] zyzzyxdonta commented on #16783
That commit works, thanks!

[2020-05-25 03:35] sailer1205 opened #16794 "install alsa-lib failed"
Is anyone can access the ftp address below?

https://github.com/spack/spack/blob/bc145b2b3f87da8276e4c2e0665e9830de3d0322/var/spack/repos/builtin/packages/alsa-lib/package.py#L15

When I use spack to install alsa-lib, it failed, the reason is the ftp address is unavailable. Is this a bug or just for some network problems that only some area could not access the ftp?

[2020-05-25 04:19] nithintsk opened #16795 "Installation issue: bzip, libtool with $padding in install tree"
Based off https://github.com/spack/spack/pull/16338 - OS support for $padding, I edited the file `$SPACK_ROOT/etc/spack/defaults/config.yaml` and changed the install tree to have $padding.

[code]
The reason was that I wanted to have a very long install path to create binary packages. My package is dependent on bzip2 and libtool, but their installation is failing.

### Steps to reproduce the issue

[2020-05-25 05:54] darmac opened #16796 "How can I develop a package with different PackageClass by each version?"
There is some package depends on different version of `protobuf`,
The `protobuf@:2.5.0`  is a `AutotoolsPackage`, while the other version using `CMakePackage`.
So, is there any example we can put the the two package type in one package?
e.g.  `Ginkgo` (but show more detailed than it.)

[2020-05-25 08:35] alalazo commented on #16796
There's no unique answer to this question yet. A good starting point for the on-going discussion is https://github.com/spack/spack/pull/15420 where you can also find links to alternative proposals on how to solve the issue of packages that change build systems over time.

[2020-05-25 08:40] zyzzyxdonta commented on #16783
Hi,
I've had another look and noticed that the commit you mentioned is already present in tha tarballs available from GitHub and the likwid page. However, [this commit](https://github.com/RRZE-HPC/likwid/commit/e0332ace8fe8ca7dcd4b4477a25e37944f173a5c) is missing.
I'm making a pull request with the patch.

[2020-05-25 08:41] TomTheBear commented on #16783
OK, perfect, I missed that one. Thanks for checking.

[2020-05-25 11:02] skosukhin commented on #11224
It looks like you need to make sure that the compiled executables gets an `RPATH` entry targeting the directory with the right version of `libstdc++`. There are several ways to achieve that (the first two should work even when you use the compiler outside of Spack):
1. You can patch `gcc` before building it: the file of interest is [gcc.c](https://gcc.gnu.org/git/?p=gcc.git;a=blob;f=gcc/gcc.c;h=b0

[2020-05-25 11:10] #16783 closed, assigned to nobody

[2020-05-25 12:30] alalazo commented on #16754
@scheibelp @becker33 Can a mechanism like the one in #16526 be helpful here to update the configuration files? In case I can refactor that PR to have a schema update separate from GCC detection.

[2020-05-25 13:15] #16725 closed, assigned to nobody

[2020-05-25 13:36] #16115 closed, assigned to nobody

[2020-05-25 14:44] scemama opened #16803 "Too long #! lines with bytecode (binary data)"
OCaml can create bytecode executables. These are binary files, where the 1st line contains the path to the bytecode interpreter:
[code]
Bytecode executables are required for the compilation of the OCaml compiler, so for the installation of the ocaml package.

Because of spack's very long paths, the length of this line can be larger than the system's limit. This is properly handled by Spack for scr

[2020-05-25 14:46] scemama commented on #16803
Issue #16772 is related to this bug

[2020-05-25 15:57] sharkdp commented on #16298
Fixed in [bat v0.15.2](https://github.com/sharkdp/bat/releases/tag/v0.15.2).

[2020-05-25 16:43] eugeneswalker opened #16807 "Installation issue: petsc build fails on all platforms"
Trying to build `petsc@3.13.1` with `gcc@7.3.0` fails on all tested platforms using `spack@develop` commit id `c4031f045512` from 25-May-2020:
* ubuntu 18.04 x86_64 and ppc64le
* rhel7, rhel8 x86_64
* centos7, centos8 x86_64

[code]

Full build log: [petsc-build-out.txt](https://github.com/spack/spack/files/4678146/petsc-build-out.txt)

I suspect this is due to a commit to Spack within past couple

[2020-05-25 16:49] #14425 closed

[2020-05-26 00:22] adamjstewart commented on #16794
`spack fetch alsa-lib` works fine for me, must be ftp issues. If you can find a http link you can submit a PR to switch it to that, or add multiple `urls = [...]`.

[2020-05-26 01:16] sailer1205 commented on #16794
@adamjstewart thanks for your reply!
The command "spack fetch alsa-lib" also works fine for me, and I  found that when I execute the command, the spack will fetch the alsa-lib archive from the url http://ftp.oregonstate.edu/.1/blfs/conglomeration/alsa-lib/alsa-lib-1.1.4.1.tar.bz2.
Shell we use the url instead?

[2020-05-26 03:41] s-sajid-ali commented on #16807
I ran into the same issue recently and a quick inspection of includes from `superlu-dist` shows that `LargeDiag_AWPM` is missing from `superlu-dist@6.3.1` but not from `superlu-dist@6.3.0` :
[code]

I'm not sure if something changed in the `superlu-dist` build system between `6.3.0` and `6.3.1` that was not accounted for in spack. My guess would be that this is due to the missing [`combblas` depen

[2020-05-26 06:42] #16796 closed, assigned to nobody

[2020-05-26 07:35] alalazo commented on #16794
I confirm that fetching `alsa-lib` seems fine. Also:
[code]
it uses the intended url for me.

[2020-05-26 07:40] alalazo commented on #16794
@sailer1205 Closing as I was able to install and fetch without issues. Feel free to reopen if you think I missed something or you have a clear reproducer.

[2020-05-26 07:40] #16794 closed, assigned to nobody

[2020-05-26 13:38] RobertRosca opened #16808 "Mirror All Dependencies in Environment"
This is more like unexpected behaviour than an actual bug, but 'bug' is the closest fit. I ran `spack mirror create --all` expecting it to mirror "all packages in the current environment", but it only mirrors the `user_specs` for the environment not `all_specs`.

Passing through a combination of `--all --dependencies` doesn't mirror everything either.

For me the expected behaviour of `--all` or `

[2020-05-26 14:02] hartzell commented on #16298
Great news, thanks for calling it out.

We might want to wait until they fix their https://github.com/sharkdp/bat/issues/1022

[2020-05-26 14:33] glennpj commented on #16808
This seems to be the same issue as #14335, so any potential fix would likely apply to that as well.

[2020-05-26 15:20] sharkdp commented on #16298
This has been fixed in v0.15.3

[2020-05-26 15:42] eugeneswalker commented on #16808
I came here to post that I was having this problem as well. `spack mirror create -D --all` is not grabbing the dependencies when run in context of a spack environment. @becker33

[2020-05-26 15:53] eugeneswalker commented on #16807
I am going to ping @mathsen to see if he knows whether this is expected behavior with version `6.3.1`

[2020-05-26 16:07] becker33 commented on #16754
@scheibelp yes that was not backwards compatible. I'll create a PR to allow backwards compatibility.

[2020-05-26 17:05] s-sajid-ali commented on #16807
I expected this to be a [simple fix](https://github.com/s-sajid-ali/spack/commit/43c7cb78e5bb9df2f679822871e5ace86185ad50) that involves adding the missing `combBLAS` dependency but `SuperLU-dist` requires the use of headers from `Applications/BipartiteMatchings` in the `CombBLAS` build directory which are not present in the install directory. I'm not sure how this could be done, so I'll leave it

[2020-05-26 17:50] scheibelp commented on #16754
Based on https://github.com/spack/spack/issues/16754#issuecomment-634121326, I'll reassign this issue to @becker33. #16765 addresses the error message issue but I think this issue should stay open if we plan to fix it by allowing backwards compatibility.

[2020-05-26 19:24] eugeneswalker opened #16813 "Spack install fails to use local source cache for git repo"
### Runtime Environment
Using `spack@develop` w/ commit id `0b96082e7` from 20-May-2020 on `Ubuntu 18.04` for `x86_64`

### Problem
`spack install` isn't able to use the locally mirrored source of packages that rely on Git repositories, when the network is unavailable during `spack install`. The problem is easily illustrated below using the simple package `cinch@master` as an example. `cinch` has

[2020-05-26 20:38] scottwittenburg commented on #16807
Just to confirm, this issue started breaking the E4S pipeline on `gitlab.spack.io` with the merge of #16704, at which point the concretization of the E4S environment started picking up `superlu-dist@6.3.1` instead of `superlu-dist@6.3.0`.

[2020-05-26 21:06] #16754 closed, assigned to becker33

[2020-05-26 21:43] payerle opened #16820 "Installation issue: ffmpeg fails in configure with +X (xlib not found), possibly libxv issue?"
I have included the standard requested information below, but from what I could unravel,
1) Spack package libxv installs .../include/X11/extensions/Xvlib.h
which includes a line "#include X11/extensions/Xv.h"
2) Xv.h appears to be part of the videoproto package, which libxv has as a
build dependency.
3) If I manually add the include dir for the videoproto package to the SPACK_INCLUDE_DIRS env vari

[2020-05-26 22:45] payerle commented on #16820
[spack-build-env.txt](https://github.com/spack/spack/files/4685155/spack-build-env.txt)
[spack-build-out.txt](https://github.com/spack/spack/files/4685156/spack-build-out.txt)
[config.log](https://github.com/spack/spack/files/4685157/config.log)

[2020-05-27 08:34] RobertRosca commented on #16808
Ah I didn't notice the other issue.

The main problem is that if you're in an environment the `--dependency` and `--all` flags don't seem to get checked or affect what is mirrored, as the checks for those flags only happen if you aren't in an environment.

Fixing this in the code is simple, but deciding what flags should do what is a bit tricky I guess.

[2020-05-27 09:09] alalazo commented on #16652
Thanks, I was able to reproduce the bug by trying to repeat the installation:
[code]

[2020-05-27 11:26] luigi-calori commented on #16720
I can confirm that the issue is real:  on our power9 login nodes
spack versions openfoam
resut in enormous number of python process spawned that hangs the node.

PR  #16749 change behaviour and a single process is present during the command execution
no hangs happen

[2020-05-27 12:24] payerle commented on #16820
Attached are build.out, etc. from original issue
[spack-build-env.txt](https://github.com/spack/spack/files/4685155/spack-build-env.txt)
[spack-build-out.txt](https://github.com/spack/spack/files/4685156/spack-build-out.txt)
[config.log](https://github.com/spack/spack/files/4685157/config.log)

It seems like making videoproto a link dependency of libxv fixes the issue --- with that change, and reb

[2020-05-27 14:34] #16820 closed, assigned to alalazo

[2020-05-27 14:54] tamaradanceva opened #16825 "Installation issue: intel-tbb"
#14608 # Steps to reproduce the issue

I got the issue while trying to install hpctoolkit
[code]
A minimal example:
[code]
Error:
[code]
I have found this related thread, https://github.com/oneapi-src/oneTBB/issues/30, but I was not sure it s appropriate to reopen it. I also saw a patch in the develop branch for intel-tbb@2020/. Thanks in advance.

[2020-05-27 15:07] scottwittenburg commented on #16795
@nithintsk I saw a similar issue with those packages on an Ubuntu system.  Even though the final generated path length (`3871` in the case of one of your pasted install paths) is less than the system max path (usually `4096` on linux, but you can check in your specific case by typing `getconf PATH_MAX /`), some packages had problems making symlinks with that length of path.

In my case, I was able

[2020-05-27 15:47] rrobinson-RMS commented on #12281
Hi there, thanks for the hints.

Still having some problems. Will post a ticket later.
Im using CentOS7 with Intel-Ivybridge Processes.

Which compiler should I be using ? I currently have gcc ~7.5 and gcc4.8.5 (ie CentOS7 default).

Thanks
Roger

[2020-05-27 16:54] nithintsk commented on #16795
Thanks for your reply Scott. It looks like the max path length on both my systems are 4096.

[code]

I did see the $padding:<len> option and am glad it's there. Currently I'm using $padding:300 and have no issues with it. Just wanted to bring to your attention that $padding was not working for some packages. I have no further questions since $padding:<len> is a suitable workaround.

[2020-05-27 17:21] #16727 closed, assigned to alalazo

[2020-05-27 17:38] scheibelp commented on #16808
I think I see where the code needs to be updated to gather dependencies in environments (detail: I need to use `all_specs_by_hash` to gather them). As of now, there isn't a way to mirror all of the dependency specs. Perhaps that should happen if the user specifies `--all` or perhaps they should also specify `--dependencies`, but I'll need to update it so that one of those works.

If you specify `-

[2020-05-27 17:41] mwkrentel commented on #16825
How old is your copy of spack?
This works for me with today's spack.

Intel keeps moving their repo around.  This was updated in spack in
#15675 on March 27 and AFAIK, versions after that work.

[2020-05-27 19:46] scottwittenburg commented on #16807
@tgamblin If you have noticed all the gitlab pipelines failing since Friday or so, this is the reason.  As a short term workaround, we could pin `superlu-dist` to the older `6.3.0` version in order to get the pipelines passing again.

[2020-05-27 20:30] tgamblin commented on #16807
@scottwittenburg: sounds like the right solution for e4s.  @eugeneswalker?

[2020-05-27 20:33] mathsen commented on #16807
I have also noticed problems with superlu-dist (already with 6.3.0) and trilinos and had to go back to 6.2.0 - that's why I initially made [pull request 16704](https://github.com/spack/spack/pull/16704), to get 6.2.0 into spack. By looking on the release page I saw 6.3.1 and just added this newer version.
Nevertheless it seems as if superlu-dist is under ongoing heavy restructuring, that's what al

[2020-05-27 20:51] eugeneswalker commented on #16807
Yes, I agree. I think we have the email for one of the developers around in the office. I might try and forward a link to this issue.

[2020-05-27 20:54] scottwittenburg commented on #16807
Thanks @mathsen, and a question for @eugeneswalker: For E4S, should we stick to the previous version we had working (`6.3.0`) or go back to the one Mathias recommended (`6.2.0`)?

[2020-05-27 20:58] eugeneswalker commented on #16807
Let's stick with what we know has been working in our environment. At least for now. We can flesh out the policy more if need be, but for now I like the idea of prioritizing keeping the builds in a working state. How does that sound?

[2020-05-27 21:06] scottwittenburg commented on #16807
Sounds good to me, thanks!

[2020-05-27 21:10] Sinan81 commented on #12281
So far, I compiled QGIS with gcc 4.8.5, 7.4.0, and 8.2.0

[2020-05-27 21:11] Sinan81 commented on #12281
I am also usually compiling it on Centos7

[2020-05-27 21:13] Sinan81 commented on #12281
Last time I compiled it was 1.5 months ago or so I think. I will give it a try again today or so.

[2020-05-27 21:24] scheibelp commented on #16808
I can create a fix for this tomorrow, which would allow some combination of options to retrieve/mirror all the specs (including dependencies) in an environment.

[2020-05-27 21:46] mc-allen opened #16833 "spack reindex can fail for npm packages if environment view directory doesn't exist"
At times when I hit spack bugs, I will remove the .spack-env/view directory as that seems to solve some issues and get back to a clean state (I know, need to file a bug for that too). Recently I added an npm dependency to my package, and found that when the .spack-env/view directory didn't exist, spack reindex would fail because .spack-env/view/npm-cache didn't exist. The npm package contains logi

[2020-05-27 22:59] dzhang-b commented on #16652
Thanks for repeating the experiment. If I want to start debugging the spack code, where can I start? for example, where can I add a `pdb.set_trace()` and single step the python code?

[2020-05-28 01:21] raovgarimella opened #16841 ""exclude" semantic bug with non-boolean variants in spec matrices"
I tried to create a spec matrix for testing variants of a package and excluding some incompatible variant combinations. Unfortunately, it did not work.

### Steps to reproduce the issue

I created a ```spec.yaml``` file in a new directory

[code]
and ran
```spack concretize -f```

### Error Message

I was expecting the following options to be concretized
[code]
Instead, spack did not exclude the `

[2020-05-28 02:47] mwkrentel commented on #16825
I checked commit 16f104aafe2b that I mentioned above, and it includes:

[code]

So, the old sha is what your spack expected, but what it got was the
new sha.  This confirms that you have an old version of spack and this
was fixed two months ago.

[2020-05-28 04:58] AndrewGaspar commented on #16298
I've removed the llvm dependency in my MR: https://github.com/spack/spack/pull/16185

Getting close for it to be ready to merge...

[2020-05-28 05:08] kayarre commented on #16807
I found that changing superlu_enum_consts.h allowed petsc to build, along with some other stuff I added in.

I tested with just the patch and it builds without error. (not sure if combblas is required)

[code]

the first path I went down intended to add the combblas library based on a previous comment. I am not sure this was the correct approach but here is what I needed to change in the superlu-d

[2020-05-28 05:08] naromero77 commented on #6995
I was thinking about this boost headers-only variant again and was looking at some of the suggestions here.
https://github.com/spack/spack/pull/10911

I couple of thoughts for your consideration @adamjstewart

Easiest: Write a boost headers-only package, the downside is that someone needs to maintain both the regular version and headers-only version in sync. Optionally, one can make a boost-header

[2020-05-28 07:51] mdorier commented on #6995
The downside of maintaining 2 distinct packages is that if you have a package `A` that has `depends_on('boost')` (i.e. no particular variant required) and a package `B` that has `depends_on('boost+x')`, we should expect that concretizing these packages together would make spack install a single `boost+x`. If we have two packages for boost (say `boost` and `boost-headers`), then the maintainer of p

[2020-05-28 08:48] aphecetche opened #16843 "Provide an Ansible Spack module"
Would love to see an Ansible module that would let me install packages with Spack

### Rationale

To install my dev machines (mainly laptops and virtual vms) I've setup years ago some Ansible playbooks. So far the packages I'm installing that way are done with either the specific platform package managers (e.g. brew on Mac, apt on ubuntu, etc...) leading to a lot of distribution specific yml files

[2020-05-28 10:18] tamaradanceva commented on #16825
That is right, thanks, I got into another issue now though with hpctoolkit. I will open anohter issue and close this one.

[2020-05-28 10:18] #16825 closed, assigned to nobody

[2020-05-28 10:33] #16833 closed, assigned to nobody

[2020-05-28 15:00] naromero77 commented on #6995
Thank you for raising these points that I had not thought of. Do people think the latter approach would work? I often end up implementing packages and then half-way through it realize that it won't actually work, so any insight would help.

[2020-05-28 15:12] marcmengel commented on #4427
I think the pull request mentioned above will resolve this, and it's really tiny...

[2020-05-28 16:42] balay commented on #16807
Looks like this API change crept into 6.3.1 - and is now reverted from master.

[code]

I've updated petsc dependencies so that the incompatible superlu-dist@6.3.1 is not used

https://github.com/spack/spack/pull/16849

Or perhaps its best to remove superlu-dist@6.3.1  from spack?

cc: @xiaoye

[2020-05-28 16:57] hartzell opened #16851 "R packages don't link their scripts into a view's bin directory"
I'm using a Spack installation that based on commit fcbf0545c, with a variety of local fixes and package updates.

Given that `r` and `r-packrat` have been installed, I'd expect this:

[code]

to link the `packrat` script into `blort/bin`, but the only sign of it is within the library.

[code]

Is this normal behavior for R packages?

[2020-05-28 17:53] hartzell commented on #16851
Errr,  hold the phone.  I may be misunderstanding something....

[2020-05-28 17:58] jeffhammond opened #16852 "please provide log path in error messages"
Messages like `Review log for details` should include the location - or perhaps just its name - of the log file to be reviewed.

### Rationale

Yes. I am trying to debug the NWChem install failure.  It says to review the log.  Which log?

[code]

### Description

I can, of course, search my filesystem for this file, whose name I do not know, but it's not convenient.

For example, I looked for the

[2020-05-28 18:29] hartzell commented on #16851
I *hate* it when I stumble on something, file an issue, have a productive discussion about it, and *then completely forget that it ever happened.

Apologies, this is exactly what's we were discussing in https://github.com/spack/spack/issues/16432, except that I hadn't engaged my gears full.y.

[2020-05-28 18:29] #16851 closed, assigned to nobody

[2020-05-28 18:30] becker33 commented on #16841
This internal issue behind this bug: There is not a "strict" mode for checking satisfiability for abstract variants. Fixing that appears to resolve the bug. I expect to push a PR today.

[2020-05-28 19:19] bartlettroscoe commented on #5269
NOTE: CMake by default can only build shared or static libraries, not both.  Yes it is true you could configure two different build directories (one for shared and one for static) but that seems like a waste and you are asking for trouble installing these into the same installation directory.

Newer CMake support mulit-configuration builds but that requires usage of build generators and a lot of C

[2020-05-28 23:37] scheibelp commented on #16808
I have updated https://github.com/spack/spack/pull/14154 to allow for this (in addition to adding a couple other behaviors).

[2020-05-29 00:24] pibion opened #16857 "Installation issue: gcc@4.9.4"
### Steps to reproduce the issue

[code]

This results in instruction errors when I try to compile other programs (in this case libiconv), which makes me wonder if the assembler also needs to be recompiled. GCC builds without error, but doesn't actually work.

[code]

### Information on your system
The system is running Scientific Linux 6 (gcc 4.4.7).  The above error does not happen if I install

[2020-05-29 07:24] alalazo commented on #16857
The default for `gcc` is to concretize using `~binutils`. In this case it seems you need to use `gcc@4.9.4+binutils` to get a newer `as` that can understand those instructions.

[2020-05-29 07:25] alalazo commented on #16857
Linking #15848, since this would be a good use case to document.

[2020-05-29 07:40] RobertRosca commented on #16808
Awesome, thanks! And the exclude option will also be useful.

[2020-05-29 10:59] dazzag24 commented on #15752
The entire https://www.gfd-dennou.org site seems to be having issues today.  I've just manually edited the spack/0.14.2/spack/var/spack/repos/builtin/packages/netcdf-c/package.py file to point to the ftp://ftp.unidata.ucar.edu/pub/netcdf/netcdf-c-4.7.3.tar.gz link instead as a temporary workaround

[2020-05-29 13:21] pibion commented on #16857
@alalazo oh wow, thank you!

I'll give this a try on another SL6 computer and report back (probably early next week).

[2020-05-29 13:33] eschnett opened #16866 "Installation issue: ssht should install headers into `include/ssht` subdir"
The `ssht` package seems to install its header into the wrong location.

The `ssht` package uses `cp` to copy header files into the `include` directory of the install location. However, there is also an (unused) `install` target in the `CMakeFile`, which would install the header files into `include/ssht`.

How should this be resolved? I assume the long-term goal is to rely on the package's built-i

[2020-05-29 14:26] alalazo commented on #15813
I can't reproduce this on:

* **Spack:** 0.14.2-1262-edd075a5e
* **Python:** 3.6.9
* **Platform:** linux-ubuntu18.04-broadwell

Here's what I tried:
[code]

[2020-05-29 14:32] alalazo commented on #15813
The situation doesn't change if I try to customize the naming scheme using:
[code]
Marking this issue as unreproducible for now, feel free to remove the tag if there's a reproducer I missed.

[2020-05-29 18:33] scheibelp commented on #16866
It sounds like users of `ssht` are expected to `include <ssht/foo.h>`. If that's true and `ssht` isn't generating files there, the ideal solution is to suggest an upstream patch. If there's an option you can provide to the build system via Spack, that would also work.

If neither of those options are available, then I would say there isn't a standard way to deal with it: I've seen cases where the

[2020-05-29 18:41] RobertRosca commented on #12527
Oh, hey @ejcjason , didn't even realise you made this issue :smile:

I did a PR to mention this in the error, so now it says:

[code]

Which clears it up a bit.

[2020-05-29 19:15] Sinan81 commented on #12281
just cloned latest spack, and built QGIS without problems. I cam curious what errors you're getting.

[2020-05-29 19:23] JunCEEE commented on #12527
Hey @RobertRosca it's also a surprise that it's you who did the PR! I have almost forgotten about this issue.
Thanks!

[2020-05-29 20:27] rrobinson-RMS commented on #12281
So I re-cloned spack and made sure it only had access to gcc 4.8.5 and it fails to build qt/5.14.2 which was happening before will try and get you logs.

[2020-05-29 20:33] Sinan81 commented on #12281
I know for a fact latest llvm won't build with gcc 4.8.5. So, I would suggest you try building qt with `^mesa~llvm` option.

[2020-05-29 20:57] rrobinson-RMS commented on #12281
yes I did which gcc compiling on ?

[2020-05-29 21:03] eschnett commented on #16866
Yes, it sounds as if people are expected to use `#include <ssht/ssht.h>`. What the Spack `ssht` package currently generates are files `include/ssht.h` instead since it circumvents the makefile when installing files. The question is whether or how to update the `ssht` package since changing this will presumably break code that currently uses Spack.

I don't understand what you mean by `headers` pro

[2020-05-29 21:18] Sinan81 commented on #12281
I recently compiled qt (as a dependency of qgis) with gcc@4.8.5. Let's take this discussion to a new issue. There are quite a few qt spack package maintainers which can help more.

[2020-05-29 21:22] frankwillmore opened #16870 "spack config blame is erroneously reporting the origin of a compiler setting"
In trying to trace the origin of a compiler setting being picked up by the concretizer, I noticed that spack config blame was merging settings from:

`$SPACK_ROOT/etc/spack/packages.yaml `

---and---

`$SPACK_ROOT/etc/spack/defaults/packages.yaml
`

on the same line of the report, thus mistakenly attributing a setting from the former file to the latter file. Below versions of cce and clang are pic

[2020-05-29 21:52] Sinan81 commented on #12281
Also, in my case qt won't build with gcc@4.8.5:
[code]
I think the reason is that spack is optimizing the build for skylake (although initially it says it will optimize it for haswell since that's the best gcc@4.8.5 can support). I think previously I built latest qt with gcc@4.8.5 for a generic x86_64 arch.

[2020-05-29 22:00] Sinan81 commented on #12281
Also, it seems qt@5.13 is last version that supports gcc@4.8  as shown in the "Generic Linux" section.

https://doc.qt.io/archives/qt-5.13/supported-platforms.html

https://doc.qt.io/qt-5.14/supported-platforms.html

[2020-05-29 22:12] scheibelp commented on #16866
If users of the `ssht` package are expected to do this, I'd assume that Spack packages which depend on `ssht` would have to go out of their way to refer to `ssht` header files; you could edit these packages and have the Spack `ssht` package use the associated Makefile. If `ssht` dependents aren't modified, I'd suspect that those dependents may be incorrectly using `ssht` and their code would have

[2020-05-29 22:12] nicholas-sly opened #16871 "Compilers built with 'install_missing_compilers' should be marked as explicit specs"
When a spec specifies a compiler for an environment to be used to build an explicit spec, it should be possible for the compiler to be an explicit spec as well.  Adding the compiler to the spec list is not necessarily an adequate fix if the package tries to modify variants in unexpected ways.

### Rationale

We're building a Spack Stacks environment against 3 compilers and 3 MPI implementations wi

[2020-05-29 22:20] scheibelp commented on #16870
When it comes to merging lists into a single line, I think Spack would have trouble deciding on this.

* It could report all involved files, but that would mess with the formatting.
* It could use the line-by-line YAML format for lists (rather than including all compilers on a single line)

I'd have to experiment with this.

Therefore, unless I misunderstand you, I think this might be better class

[2020-05-30 02:20] anderbubble opened #16872 "Installation issue: openmpi"
### Steps to reproduce the issue

[code]

### Information on your system

This package is being installed as part of a spack envornment. That environment can be found at

https://github.com/ResearchComputing/core-software/tree/sprint-ending-2020-05-11/spack/environments/spring2020

Notably, there is a `packages.yaml` file here:

https://github.com/ResearchComputing/core-software/blob/sprint-ending

[2020-05-30 02:21] anderbubble commented on #16872
I'm happy to provide any further information I can / help debug from our environment. I'll be checking in over the weekend. If I'm doing something wrong, please let me know; but in any case I don't think it should TB like that.

[2020-05-30 02:40] anderbubble commented on #16872
I tried adding `depends_on('opa-psm2', when='fabrics=psm2')` to the `openmpi` package, but I got the same error. `opa-psm2` did appear in the spec; but presumably since it's not literally called `psm2` it isn't being seen.

[2020-05-30 05:34] anderbubble commented on #16872
I think I've got this fixed on our side. The package is building now.

I'm also going to fix the TODO to document `with_or_without` and `enable_or_disable`, since I had to figure them out to fix this.

I've got a couple more tests I want to run to make sure I didn't do anything unnecessarily; but so far it appears to be working.

[2020-05-30 07:14] hainest commented on #15333
I can confirm this is still an issue with the current head of develop (9d1f71e89), but installing 8.0.0 and 10.0.0 works fine.

[2020-05-30 07:36] anderbubble opened #16874 "Installation issue: openmpi"
### Steps to reproduce the issue

[code]

### Information on your system

[code]

This package is being installed as part of a spack envornment. That environment can be found at

https://github.com/ResearchComputing/core-software/tree/sprint-ending-2020-05-11/spack/environments/spring2020

Notably, there is a `packages.yaml` file here:

https://github.com/ResearchComputing/core-software/blob/sprin

[2020-05-30 07:46] anderbubble commented on #16874
[code]

[2020-05-30 07:51] anderbubble commented on #16874
[code]

[2020-05-30 07:58] anderbubble commented on #16874
In `opal/mca/btl/openib/connect/btl_openib_connect_sl.c`:

[code]

Which is picking up `/usr/include/infiniband/iba/ib_types.h`. This implies that `/usr/include` is on the include path.

The file it can't find is at `/usr/include/infiniband/complib/cl_types.h`, but `/usr/include/infiniband/iba/ib_types.h` is hitting it with the line

[code]

So it's expecting `/usr/include/infiniband` to be on the

[2020-05-30 15:39] anderbubble commented on #11224
As of

[code]

it appears that I can install cmake correctly now; so I expect that #16634 _has_ fixed this problem. @nazavode, do you concur?

[code]

[2020-05-30 15:46] adamjstewart commented on #16870
I like this solution.

[2020-05-30 15:47] anderbubble commented on #11224
[code]

[2020-05-30 18:38] frankwillmore commented on #16870
As do I. It would really clarify the origin of the setting.

[2020-05-31 02:08] #16866 closed, assigned to scheibelp

[2020-05-31 22:10] nazavode commented on #11224
@anderbubble yep I can confirm that except for the time frame when I reported the original issue, I've never experienced the same issue again. Looks like it's fixed for good, thanks for pointing it out!

[2020-06-01 04:09] alalazo commented on #11224
@nazavode @anderbubble  Closing the issue then, feel free to reopen if you seen the same again.

[2020-06-01 04:09] #11224 closed

[2020-06-01 05:05] coneheadusa commented on #11858
Similar problem.  ==> Error: AttributeError: 'list' object has no attribute 'directories'
Here is the error trace and the results of the spack-python commands.

git status
HEAD detached at v0.14.2

spack install netcdf-c
[+] /home/spack/spack/opt/spack/linux-ubuntu18.04-haswell/gcc-7.4.0/libsigsegv-2.12-5tcftzfms4dwmgnd5rsizk4chgdvffvl
[+] /home/spack/spack/opt/spack/linux-ubuntu18.04-haswell/gcc-

[2020-06-01 07:13] hseara opened #16887 "Installation issue: xz"
xz package cannot be downloaded from sourceforge.net

I can download the files through the browser, despite the fact that it takes ages to start the download.

### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.14.2-1284-de63e1c2a
* **Python:** 3.8.3
* **Platform:** linux-archrolling-westmere

and the same in a server in different location:

* **Spack:** 0.14.

[2020-06-01 08:14] sailer1205 commented on #16794
@alalazo It's the proxy problem.
I only export the http_proxy and https_proxy environment variables, but forgot to export the ftp_proxy.

[2020-06-01 08:59] mdorier commented on #6995
I think most people who use boost in their workflow with spack will have already hardcoded the `~x` and `+y` variants that they need, not to mention all the packages that depend on Boost. Which means that changing into a multi-valued variant is going to break a lot of code bases and packages.

My two cents is that for now it's better to keep the boost package as it is; if someone needs a headers-o

[2020-06-01 15:36] alalazo commented on #16887
I was not able to reproduce  on:

* **Spack:** 0.14.2-1285-ca98f58fe
* **Python:** 3.6.9
* **Platform:** linux-ubuntu18.04-broadwell

This is what I get instead:
[code]
Can you check if this was just an intermittent issue with `xz`?

[2020-06-01 19:22] hseara commented on #16887
Interestingly, I continue without being able to download the package.

[code]

Please note that I am trying this from two entirely different sites within the Czech Republic and another in Finland. So unless something funny is happening within Europe's internet and `sourceforge.net`, I do not understand how all three sites may be without access since Saturday.  This is the day I tried the installat

[2020-06-01 19:40] hppritcha commented on #16874
@anderbubble I'm having problems reproducing this and I know why.  When I build in spack using your options the verbs configure output is different than yours
[code]
yours
[code]
I wonder if your configury run is picking up pieces installed from spack and verbs support you have installed already on your system outside of spack.

[2020-06-01 22:33] #16872 closed, assigned to nobody

[2020-06-01 23:18] mwkrentel commented on #16887
Sourceforge is known for being slow to connect.  And your connections
are timing out after the default of 10 seconds.

You can reset this in `config.yaml`.  Try increasing the timeout to
something like 60 seconds.

[code]

Can you wget the file directly?  If all else fails, you could download
the file manually and put it in a spack mirror.

[2020-06-02 06:25] hseara commented on #16887
Thanks for the replies and help.

There is certainly an issue of timeouts due to the slowness of the redirections in sourforge.net. I finally managed to download it from one of the mirrors after trying several times  http://kent.dl.sourceforge.net/sourceforge/lzmautils/files/xz-5.2.5.tar.bz2. I will also increase my time out as suggested.

By the way, when I try to download directly with curl I ge

[2020-06-02 09:02] #16841 closed, assigned to becker33

[2020-06-02 16:01] eugeneswalker commented on #14518
This seems like a general problem when you want to `spack install` packages that use Git repos, and have the sources pulled from a local source cache:

I created an issue for the more general problem here: https://github.com/spack/spack/issues/16813

@coreyjadams

[2020-06-02 18:28] scheibelp commented on #16813
Did you `spack mirror add` the mirror after you created it? On Mac OS I can get Spack to download the git repository from the mirror:

[code]

Note that the Spack fetch cache avoids adding unverifiable sources (like the tip of a Git branch) but it should work with a mirror.

[2020-06-02 18:40] eugeneswalker commented on #16813
I did ‘spack mirror’ with a file containing list of specs. I was then able to install every non-Git package in the list of specs just fine— without network access. The Git ones failed, despite me being able to verify the existence of the source mirror for the specific Git-based packages. But, that said, I do not think I explicitly added the mirror.

[2020-06-02 19:03] scheibelp commented on #16813
If `spack mirror list` doesn't show the mirror, then Spack won't use it, and those sources would be getting picked up another way (perhaps Spack's default cache was updated at some point?). Can you let me know if it fails after using `spack mirror add`?

[2020-06-02 19:23] eugeneswalker commented on #16813
`spack mirror list` shows the mirror. I just didn't remember adding it, but I must've done it, because it is there.

Some more context:
I am running `spack install` on compute nodes where there is zero outside network access. On the compute nodes, `spack install` is ABLE to install every single spec except the Git-based ones, <em>using the local source mirror</em>. <b>It is only the Git-based pack

[2020-06-02 20:39] mwkrentel opened #16909 "Allow packages to set default variants in dependencies"
This is a request for a new feature and discussion.

I'd like to allow packages to set the preferences (defaults) for
variants in their dependency packages and do so from their
`package.py` file.  Of course, this can be done now in `packages.yaml`
or the command line, but allowing this in `package.py` has some
advantages.

For example, my project (hpctoolkit) depends on libunwind, and
libunwind ha

[2020-06-02 20:51] scheibelp commented on #16813
Good point: no I haven't disconnected my system from the network. I will have to do that to confirm whether the mirror helps in my case.

[2020-06-02 21:07] bvanessen opened #16910 "Spack does not properly put an external MPI compiler into the environment on Cray"
When activating an environment with a non-CrayPE MPI library, the MPI compilers are not properly put into the users environment.

Create an environment on Cori-GPU that uses mvapich2 as an external defined by the module file.

Activate the environment.

Build an MPI code and it fails.

### Steps to reproduce the issue

[code]

### Information on your system

### Additional information

- [x] I hav

[2020-06-02 21:07] bvanessen commented on #16910
@scheibelp @becker33 Created a new issue to deal with this.

[2020-06-02 22:25] scheibelp commented on #16813
I tried this while disconnected from the internet and it appeared to work OK (again, on my Mac). I'll note that generally versions like `@master` are less preferred, so would you be able to run `spack spec <the spec you want to install>` to ensure that everything you want is in the mirror? For example in the case of `cinch` I had to explicitly `spack install cinch@master`.

[2020-06-02 22:44] amarathe84 opened #16911 "Some dependencies failed to build with `spack install` of environment spec"
Several dependencies failed to build when doing `spack install` of environment spec but the same packages built without issues when specified manually one at a time. Reporting this issue  here with intel-19.0.4.227 on linux-rhel7-broadwell system but it also happens with other versions of the Intel compiler toolchain.

All failed packages appear to have a dependency on libiconv so this may be a li

[2020-06-03 00:19] eschnett opened #16912 "Installation issue: mpich does not build with gcc 10"
The mpich package does not build with gcc 10. gcc 10 enforces the Fortran standard, which reports argument mismatches for certain MPI calls. This issue is well known; see e.g. <https://gcc.gnu.org/gcc-10/porting_to.html> and <https://lists.mpich.org/pipermail/discuss/2020-January/005863.html>. The work-around is to add `-fallow-argument-mismatch` to `FCFLAGS` when building mpich, and presumably al

[2020-06-03 00:19] #16912 closed, assigned to nobody

[2020-06-03 00:20] eschnett opened #16913 "Installation issue: mpich does not build with gcc 10"
The mpich package does not build with gcc 10. gcc 10 enforces the Fortran standard, which reports argument mismatches for certain MPI calls. This issue is well known; see e.g. https://gcc.gnu.org/gcc-10/porting_to.html and https://lists.mpich.org/pipermail/discuss/2020-January/005863.html. The work-around is to add -fallow-argument-mismatch to FCFLAGS when building mpich, and presumably also when

[2020-06-03 00:39] eschnett commented on #16913
Adding `'FCFLAGS=-fallow-argument-mismatch'` and `'FFLAGS=-fallow-argument-mismatch'` to the configure arguments indeed makes mpich build. I'm not familiar with how to insert this into the proper Spack mechanisms.

[2020-06-03 00:43] becker33 commented on #16913
@eschnett
What version of Spack are you using?

My latest pull has
[code]
already in the `mpich` package.py file.

[2020-06-03 00:58] eschnett commented on #16913
[code]

D'oh. It's `develop` in this project.

[2020-06-03 01:00] #16913 closed, assigned to nobody

[2020-06-03 01:59] eugeneswalker commented on #16813
So I definitely screwed up on my reproducer. The problem I've been running into on the compute nodes is when installing `flecsi+cinch` .  I first do `spack mirror create -D flecsi+cinch` on a login node and make sure it was able to cache all the specs. I then go to the compute node, and run `spack install felsci+cinch`. Everything installs just fine until it reaches `cinch`:

[code]

`flecsi+cinch

[2020-06-03 02:44] scheibelp commented on #16813
Thanks for the clarification!

The mirroring logic might be ignoring the dependency constraints and not adding the Git version to the mirror. A short term solution may be to explicitly add `cinch@master` to the mirror (like in https://github.com/spack/spack/issues/16813#issuecomment-637727880). Note you would want to do this in addition to mirroring `flecsi+cinch` like

[code]

I should be able to

[2020-06-03 08:19] aphecetche opened #16916 "Installation of go-based package create files outside of SPACK_ROOT"
When installing some go-based packages, e.g. fzf or hugo I noticed that some files are created under $HOME/go, i.e. outside my Spack "path".

### Steps to reproduce the issue

[code]

### Information on your system

testuser@macbook-pro-de-laurent ~ % spack debug report
* **Spack:** 0.14.2-1306-5604c8d91
* **Python:** 3.7.7
* **Platform:** darwin-catalina-skylake

### Additional information

- [x]

[2020-06-03 10:01] alalazo commented on #16909
Related: #391 #2594

[2020-06-03 13:35] eugeneswalker commented on #16813
Some more context here:

I have been creating my local source cache like this:
[code]
<b>Notice how I am not specifying a directory!!</b> It is storing these in `$SPACK_ROOT/var/spack/cache`

Then when I run on the compute node:
[code]

That is what I've been doing and it obviously isn't working.

IT DOES WORK if I create the source cache like this:
[code]

So, everything works if I explicitly sta

[2020-06-03 14:19] payerle opened #16928 "Installation issue: gnuplot (No spec with name wx)"
### Steps to reproduce the issue
spack install gnuplot@5.2.8%gcc@8.4.0 +X +cairo +gd +libcerf +pbm +qt +wx

returns error
Error: KeyError: 'No spec with name wx in gnuplot@5.2.8%gcc@8.4.0+X+cairo+gd+libcerf+pbm+qt+wx patches=ad89f23815fd925889ae78009ba22e6f9e4b12fea389280040cef519deafb052 arch=linux-rhel8-x86_64 ^at-spi2-atk@2 ... (listing all dependencies, etc)

### Information on your system
* *

[2020-06-03 14:20] payerle commented on #16928
[spack-build-env.txt](https://github.com/spack/spack/files/4723935/spack-build-env.txt)
[spack-build-out.txt](https://github.com/spack/spack/files/4723938/spack-build-out.txt)
No spack-configure-args.txt created

[2020-06-03 14:30] #12527 closed

[2020-06-03 16:09] eugeneswalker opened #16930 "Installation issue: Darshan-runtime GCC 9.3.0 Ubuntu 20.04"
Using `spack@develop` with commit id `70c3b0ba0941` from 3-June-2020.

System:
* Ubuntu 20.04
* GCC 9.3.0
* x86_64 and ppc64le

[code]

Full build log: [darshan-runtime.txt](https://github.com/spack/spack/files/4724615/darshan-runtime.txt)

@carns  @shanedsnyder @michaelkuhn @carsonwoods

[2020-06-03 16:17] eugeneswalker opened #16931 "Installation issue: Faodel 1.1906.1 GCC 9.3.0 Ubuntu 20.04"
Using `spack@develop` with commit id `70c3b0ba0941` from 3-June-2020.

System:
* Ubuntu 20.04
* GCC 9.3.0
* x86_64 and ppc64le

[code]

Full build log: [faodel.txt](https://github.com/spack/spack/files/4724653/faodel.txt)
Configure arguments: [faodel-configure.txt](https://github.com/spack/spack/files/4724664/faodel-configure.txt)

@tkordenbrock

[2020-06-03 16:19] rajeeja opened #16932 "Ubuntuu 20.04 packages.yaml"
This might not be a bug and I'm doing something wrong. Trying to get spack spec turbine+python+r
to use system R and python. Please guide. Thanks:

packages.yaml has a new location? .spack/linux? or just .spack. It has contents:
[code]

[code]

[2020-06-03 16:21] eugeneswalker commented on #16931
Looks like this was fixed in `faodel` master branch by a craigulmer (https://github.com/faodel/faodel/commit/f0267fc728d0f49ad396b83e8e62fba54027f31f). Perhaps it would be best for me to make a patch from this, and commit back to Spack package for `faodel`.

[2020-06-03 16:27] eugeneswalker opened #16933 "Installation issue: Sz 2.1.8.3 GCC 9.3.0 Ubuntu 20.04"
Using `spack@develop` with commit id `70c3b0ba0941` from 3-June-2020.

System:
* Ubuntu 20.04
* GCC 9.3.0
* x86_64 and ppc64le

[code]

Full build log: [sz.txt](https://github.com/spack/spack/files/4724710/sz.txt)
Configure args: [sz-configure.txt](https://github.com/spack/spack/files/4724714/sz-configure.txt)

@disheng222 @germasch @robertu94

[2020-06-03 16:44] robertu94 commented on #16933
@eugeneswalker Sorry about that.  I'll modify the CMakeLists.txt for SZ to require a build flag to generate ctags; its a development dependency only.

[2020-06-03 16:45] shanedsnyder commented on #16930
Whoops, I just realized we haven't updated the spack repo with the new Darshan versions released over the last month or so. Sorry about that! I just submitted a new PR (#16934) that should add those.

The build error you are seeing was fixed in version 3.2.0 (you are building 3.1.8 here). The new PR adds up through 3.2.1, so I'd recommend using that once it has been accepted. If you need to get by

[2020-06-03 16:51] huqy opened #16936 "Installation issue: meep"
Hi I am unable to install meep through spack by getting the error below. It can be reproduced by running a container from the spack's docker image `spack/centos7:latest`. Please advise. Thanks.

[code]

[2020-06-03 16:52] eugeneswalker commented on #16930
Yes! Version 3.2.1 resolves this problem. Thank you!

[2020-06-03 18:06] payerle opened #16938 "Installation issue: suite-sparse (possibly intel-tbb issue?)"
### Steps to reproduce the issue
spack install suite-sparse@5.7.2%gcc@8.4.0 +cuda +openmp +pic +tbb arch=linux-rhel8-x86_64

with our virtual tbb package set to tbb: [intel-tbb@2018.3] in package.py

results in error
==> 21880: suite-sparse: Building suite-sparse [Package]
==> 21880: suite-sparse: Executing phase: 'install'
==> Error: NoLibrariesError: Unable to recursively locate intel-tbb librar

[2020-06-03 18:38] #16931 closed, assigned to nobody

[2020-06-03 19:15] scheibelp commented on #16813
This should be documented or otherwise clarified to the user, but Spack avoids attempting to retrieve "unstable" versions from its internal source cache (so even if an archive of a Git branch tip is stored there, Spack won't look for it there) : my goal with that was to avoid a user accidentally pulling in the tip of a branch and then transparently downloading that cached version indefinitely.

Wi

[2020-06-03 19:32] eugeneswalker commented on #16813
Ok. Gotcha. So this is intended behavior then. Should we close this issue? Thanks for helping me with this.

[2020-06-03 20:29] davidngoudjou opened #16939 "tecplot failed to install"
Hello dear spack users.
I am new in spack.
I have spack installed in centos 7, using as my local environment to install packages using spack. I have many installed already. But for tecplot, I downloaded the source file and copied it to the tecplot directory. Once I run spack install tecplot, it return error during the install. Bellow is the error I am getting.
=> 10365: tecplot: Executing phase: '

[2020-06-03 20:51] scheibelp commented on #16813
Absolutely - you are welcome! I'm trying to decide if the issue should remain open so I can figure out how to clarify this to users

[2020-06-03 21:22] naromero77 commented on #16751
@G-Ragghianti @luszczek Wanted to ping you guys again about this issue

[2020-06-04 00:43] #16808 closed, assigned to scheibelp

[2020-06-04 01:05] #16930 closed, assigned to nobody

[2020-06-04 02:46] zephyr221 opened #16942 "lammps new package USER-MEAMC (It replaces the original package MEAM)"
Hi,

lammps new package **USER-MEAMC** cannot be built through spack with the latest Safe version lammps20200505.

The package **USER-MEAMC** fully replaces the original **MEAM** package, which has been removed from LAMMPS after the 12 December 2018 version.

As for the latest Safe version lammps-20200505, **meam** is listed in the variants. It should be replaced with **USER-MEAMC**.

Variants:
me

[2020-06-04 02:57] adamjstewart commented on #16932
`packages.yaml` has always had several possible locations, see https://spack.readthedocs.io/en/latest/configuration.html#configuration-scopes

It's unclear what your problem is. Your `packages.yaml` looks correct to me. Note that `spack spec` won't show external packages until you actually install them and they are registered in the database.

[2020-06-04 03:08] #16928 closed, assigned to adamjstewart

[2020-06-04 04:00] rajeeja commented on #16932
Ok, I was under the impression the spec would show and take into account packages.yaml, just wanted to avoid accidental reinstallation of packages. Is there any other way to check what will get picked by the installer?

[2020-06-04 05:25] rajeeja commented on #16932
getting this error, how to proceed?
[code]

[2020-06-04 07:02] alalazo commented on #16841
Added this issue to the v0.14.3 project to ensure we cherry pick the fix.

[2020-06-04 13:04] adamjstewart commented on #16932
It looks like anaconda doesn’t ship with Python‘s development headers. I’m not sure if there is a way to install them after the fact. You might have to use Spack Python.

[2020-06-04 14:18] luszczek commented on #16751
@naromero77 thank you for pointing it out. Looks like mismatch between SLATE variants and its Spack variants. We had some staffing changes and are reassigning this.

[2020-06-04 15:16] rajeeja commented on #16932
ok, I'll use spack python, I have R 4.0.0 installed and wanted to use it, but that seems to be a problem:
My packages.yaml:
[code]
ERROR with  spack install turbine+r ^mpich
[code]

[2020-06-04 16:16] #16933 closed, assigned to nobody

[2020-06-04 17:06] adamjstewart commented on #16932
It seems like it's trying to build R even though you already have it marked as `buildable: False`? It might be a problem with your syntax, the correct syntax should look like:
[code]

[2020-06-04 17:06] G-Ragghianti commented on #16751
I believe that the problem has been fixed in the newest revision of SLATE, and I'm verifying this right now.

[2020-06-04 17:32] rajeeja commented on #16932
made the change, still doesn't find it.
[code]

[code]

[2020-06-04 18:03] G-Ragghianti commented on #16751
I can confirm that this is now fixed.

[2020-06-04 18:58] adamjstewart commented on #16932
In your `packages.yaml`, your `arch` is listed as "xlinux" instead of "linux". I think that's the problem.

[2020-06-04 19:07] naromero77 commented on #16751
Thanks guys. I can confirm that I can compile it on my desktop now. I will close this github issue now.

[2020-06-04 19:07] #16751 closed, assigned to nobody

[2020-06-04 20:16] rajeeja commented on #16932
that didn't change anything. It still fails with the same error and tries to build r.
[code]
[code]

[2020-06-04 20:29] adamjstewart commented on #16932
Ah, one more bug. `R` should be lowercase `r`.

[2020-06-04 21:13] ldalessa commented on #9746
Just ran into this today. Obscure and difficult to deal with for those of us that don't administer linux systems. I didn't even know such a thing as a `noexec` mount existed... I just kept looking at `configure` and seeing it was marked properly as executable...

[2020-06-04 21:21] rajeeja commented on #16932
:) thanks for the catch and help. One last, after I use python from spack, how do I go about pip and installing other python packages on that python from spack?

[2020-06-04 21:37] adamjstewart commented on #16932
You can either install your other Python packages with Spack, or `spack install py-pip` and use `pip` to install things.

[2020-06-04 23:52] scheibelp commented on #16910
(not sure if this was ever true) ~I can replicate this error (using an external instance of `mvapich2` built with Spack) but I'm not yet sure of why the problem occurs. I'll be looking into this more tomorrow.~

[2020-06-05 00:55] bvanessen commented on #16910
Great.

Brian C. Van Essen
vanessen1@llnl.gov
(w) 925-422-9300
(c) 925-290-5470
---
Sent from my iPhone

[2020-06-05 06:33] jthies commented on #311
Any progress on this? After much frustration I adopted a multi-stage installation similar to what @bartlettroscoe described, but it would be a lot easier if I could tell spack to reuse installed specs rather than rebuild the latest version.

[2020-06-05 07:08] #16720 closed, assigned to tgamblin, scheibelp, alalazo, becker33, tldahlgren

[2020-06-05 07:35] #16329 closed, assigned to nobody

[2020-06-05 10:07] andymwood opened #16965 "Installation issue: visit"
I'm trying to install visit on Centos 7 using gcc 7.3.1 provided by devtoolset-7.

### Steps to reproduce the issue

If spack is checked out on branch develop, I get an unsatisfiable version constraint:
[code]

When checked out on v0.14.2, it fails when it tries to install the dependency qt
[code]

### Information on your system

`spack debug report` fails when spack is checked out on v0.14.2.

On

[2020-06-05 13:44] alalazo opened #16967 "Make Apple Clang a separate compiler from LLVM Clang"
As a user I want Apple Clang to be a separate compiler from LLVM Clang so that they are distinguished more clearly.

### Rationale

Despite the name of Apple's compiler is just `clang` the version numbers differ from vanilla LLVM and have to be distinguished by a `-apple` suffix. This is causing a complexity increase in e.g. the code that injects microarchitecture specific flags and is inconsisten

[2020-06-05 13:44] alalazo commented on #16967
@becker33 @adrienbernede

[2020-06-05 13:58] jjolly opened #16968 "Installation issue: gcc@7.3.0"
### Steps to reproduce the issue

From Ubuntu 20.04 with gcc 9.3.0 installed
[code]

### Information on your system

[code]

### Additional information

* [spack-build-out.txt](https://github.com/spack/spack/files/4736493/spack-build-out.txt)
* [spack-build-env.txt](https://github.com/spack/spack/files/4736502/spack-build-env.txt)

gcc maintainer: @michaelkuhn

### General information

- [X] I hav

[2020-06-05 13:59] jjolly commented on #16968
I have backported patches that fix the issue for gcc@5.3.0:7.4.0. PR to follow shortly.

[2020-06-05 14:47] sethrj commented on #16965
The QT error looks like your GCC compiler configuration might be missing some flags or install components. The concretization error is because Visit requires python 2.7 but spack defaults to 3.x. Also it looks like you misspelled “spec” but I guess spack anticipated such typos 😅

[2020-06-05 15:44] adrienbernede commented on #16967
I would like to complete this with a related "bug" on MacOS (darwin-mojave-skylake), with Spack `0.14.2-1313-0086c4754`:

With `clang@10.0.0-apple` already configured (by autodetection), Spack won’t detect vanilla llvm 10.0.0 installed with Homebrew even when provided with the installation location.
Commenting Apple Clang config results in successful detection of LLVM Clang.

Although both are the

[2020-06-05 17:44] vkallesh opened #16970 "Installation issue: libflame"
[spack-build-env.txt](https://github.com/spack/spack/files/4737656/spack-build-env.txt)
[spack-build-out.txt](https://github.com/spack/spack/files/4737659/spack-build-out.txt)

### Steps to reproduce the issue

[code]

### Information on your system

### Additional information

* [spack-build-out.txt]()
* [spack-build-env.txt]()

### General information

- [x] I have run `spack debug report` and r

[2020-06-05 17:46] vkallesh commented on #16970
[spack-build-out.txt](https://github.com/spack/spack/files/4737673/spack-build-out.txt)
[spack-build-env.txt](https://github.com/spack/spack/files/4737676/spack-build-env.txt)
[spack-db.releases-v0.14.7a68a4d85.2020-06-05-230245.tar.gz](https://github.com/spack/spack/files/4737682/spack-db.releases-v0.14.7a68a4d85.2020-06-05-230245.tar.gz)
[libflame.log](https://github.com/spack/spack/files/473768

[2020-06-05 17:56] vkallesh commented on #16970
spack find will fail for libflame installation.

Steps to reproduce:
1. git clone https://github.com/spack/spack.git
2. cd spack
3. git checkout releases/v0.14
4. source spack/share/spack/setup-env.sh
5. spack install -v gcc
6. spack compiler add <gcc install path>
7. spack install -v libflame %gcc@9.2.0
8. spack find libflame

Error message:
No package matches the query: libflame

1.

[2020-06-05 18:53] cyrush commented on #16243
@KineticTheory

I did some updates to the VisIt package a little back, and I added some comments to the package with recipes tested.  Here is a snippet:
[code]

I still think there is something that needs to be fixed for linux, I think we need to add GLU dep.

[2020-06-05 18:55] cyrush commented on #16965
@andymwood I make some changes to develop recently, and when I did - I added some comments in the package about install specs to try.

Here is a snippet:
[code]
I still think there is something that needs to be fixed for linux, I think we need to add GLU dep.

[2020-06-05 22:21] psakievich commented on #14677
@tgamblin finally got some time to look at this.  looks like the issue is the [regex for a fully qualified expression](https://github.com/spack/spack/blob/76abf358138927be3ebeea2bead9fd1ccd087f41/lib/spack/spack/spec.py#L3927) doesn't cover this case when called from [here]( https://github.com/spack/spack/blob/76abf358138927be3ebeea2bead9fd1ccd087f41/lib/spack/spack/spec.py#L4100).  In general thi

[2020-06-05 23:56] anderbubble opened #16978 "Installation issue: intel-mpi module sets FI_PROVIDER_PATH incorrectly"
The lmod modulefile generated by intel-mpi treats `FI_PROVIDER_PATH` as a `:`-separated list of paths; but it appears that this is not correct. When loading intel-mpi in hierarchy through an intel module, we end up with

[code]

But this causes an error at runtime. e.g.,

[code]

But if I set the var to the correct value for intel-mpi, it works:

[code]

Notably, it fails the same no matter what o

[2020-06-06 01:11] scheibelp commented on #16330
(I meant to place a comment in https://github.com/spack/spack/issues/16910#issuecomment-639935845 which I accidentally added here)

[2020-06-06 01:12] scheibelp commented on #16910
(the below comments are incorrect: `user_environment.environment_modifications_for_spec` handles this)

~I should have realized we don't actually support this right now: externals are not linked into the associated view for the environment and by default do not result in any shell modifications unless the package defines `setup_run_environment` (that function generally not for modifications to `$P

[2020-06-06 01:13] bvanessen commented on #16910
I don’t understand.  These external packages work on non-cray systems and used to work on this cray system before your recent cray support upgrades.

Brian C. Van Essen
vanessen1@llnl.gov
(w) 925-422-9300
(c) 925-290-5470

[2020-06-06 02:17] scheibelp commented on #16910
I can no longer replicate the issue (and perhaps I was incorrect that I ever could replicate it), in both cases I was attempting this on an Ubuntu system, I am collapsing my related comments to avoid generating additional confusion and will need to investigate this more on Monday.

[2020-06-06 02:17] scheibelp commented on #16910
If you have a notion of a version that was working for you, that would be good to know.

[2020-06-06 03:11] mrzv opened #16979 "Problem with conflict resolution (kokkos +cuda)"
I'm getting a cryptic error message when trying to install `kokkos +cuda`.

### Steps to reproduce the issue

[code]

### Error Message

[code]

### Additional information

`spack install kokkos` (i.e., without cuda) works fine. So does `spack install cuda`.

Not sure if this is helpful, but here are my compilers. `gcc@10.1.0` is used by default.
[code]

### Information on your system

[code]

[2020-06-06 06:37] alalazo commented on #16979
The error message:
[code]
means that GCC greater or equal to version 9 cannot be used to build "kokkos+cuda ^cuda@:10.2.89 arch=linux-None-x86_64:". This is not a bug in Spack, rather an information that was encoded in `CudaPackage` since those compiler versions are not officially supported by the CUDA version you're trying to use, see  [here](https://docs.nvidia.com/cuda/archive/10.2/cuda-install

[2020-06-06 17:00] mrzv commented on #16979
Ah, that explains it. I wish the error was clearer; I didn't understand that `%gcc@9:` meant GCC 9+. But that's on me: it's not the first time I get confused by the spec format.

Perhaps, a related question then. Is it possible to force spack to ignore this conflict? I get what you say about official support, but in practice things are different.

[2020-06-06 20:56] adamjstewart commented on #16970
It looks like the installation finishes, but Spack fails when it tries to update the database:
[code]
@scheibelp have you ever seen anything like this before?

[2020-06-06 20:58] adamjstewart commented on #16967
Duplicate of #12011

[2020-06-06 20:58] #16967 closed, assigned to nobody

[2020-06-06 21:12] #16938 closed, assigned to nobody

[2020-06-06 21:14] #16968 closed, assigned to nobody

[2020-06-06 23:35] michaelkuhn commented on #15285
Does it make a difference if you set `build_language` to `C.UTF-8`?

[2020-06-07 03:31] hainest commented on #8909
@imnasnainaec @bassenj @scheibelp  Did the #14590 fix the issue for you? It did for me.

[2020-06-07 14:26] HassanAlsamahi opened #16990 "Refetch automatically when fetching fail"
An option that gives spack the flexibility to try and re-fetch an application or dependency if failed.

### Rationale

I am trying to use spack in a building a docker image with specific applications to be installed, and these applications are big and it takes a lot of time to build, and sometimes when spack try to install a dependency, it fails in fetching the source file due to a network glitch

[2020-06-08 00:35] imnasnainaec commented on #8909
I'm no longer trying to use Tau. If the issues others have identified here are all resolved, this can be closed.

[2020-06-08 04:06] alalazo commented on #8909
Closing following @imnasnainaec comment

[2020-06-08 04:06] #8909 closed

[2020-06-08 04:20] alalazo commented on #12011
Reporting here the comment from #16967 by @adrienbernede

Commenting Apple Clang config results in successful detection of LLVM Clang.

[2020-06-08 04:23] alalazo commented on #12011
ARM compilers based on LLVM are called `arm`. Would `apple` do as a name to be consistent? Or should we change both to `arm-clang` and `apple-clang`?

[2020-06-08 13:23] mdorier commented on #15886
Any idea for a fix? I keep having to comment the condition here: https://github.com/spack/spack/blob/3ea65818e1827835864c6c073175eb5edf7b4213/var/spack/repos/builtin/packages/python/package.py#L812 for pip-installed packages to be added to PYTHONPATH.

[2020-06-08 13:27] alalazo commented on #16638
It seems to me that the error points to demo executables being unable to load libraries that have just been built. Instead of fiddling with `DYLD_LIBRARY_PATH` in #17007 I disabled running those demos. We can re-enable that in a following PR and made it conditional on `--run-tests` being used.

[2020-06-08 16:55] naromero77 opened #17010 "Installation issue: SLATE with openmp variant and MKL threads=none"
### Steps to reproduce the issue

I have narrowed down the issue as follows:
[code]
fails and gives several `./lib/libslate.so: undefined reference to 'GOMP_taskloop'` errors

However, if you do:
[code]
it succeeds. I am not sure if the intention is to support sequential MKL with OpenMP variant of SLATE. If this combination is supposed to work, it would be a desirable user-facing change to make th

[2020-06-08 18:23] alalazo opened #17012 "Add an optional timeout argument to Executable.__call__"
As a developer I want a way to call a system executable with a fixed timeout so that unexpected events won't freeze the command line.

### Rationale

Spack needs to call external executables in a few contexts (e.g. mirror creation or external spec detection). Sometimes these executables have interactive behavior and without a timeout Spack will freeze while a sub-process waits for user input.

###

[2020-06-08 18:54] jgalarowicz commented on #3525
I'm also running into issues similar to the above when trying to build components with pgi compilers via spack.   Jim G

[2020-06-08 21:40] scheibelp commented on #16910
After debugging this issue with @bvanessen, we came to the conclusion that the environment wasn't exposing the external MPI because it was not mentioned as a root spec in the environment. Therefore this has a workaround.

Other users have expressed the desire that dependencies of root specs in the environment should be added to the environment (and there may be another open issue requesting this s

[2020-06-09 04:26] luszczek commented on #17010
The same missing `GOMP_taskloop` symbol as  #12781 So far, I cannot reproduce it with my setup. I'm still not sure where either `-fopenmp` or `-lgomp` is missing.

[2020-06-09 04:54] #16638 closed, assigned to nobody

[2020-06-09 16:26] becker33 commented on #16474
@nicholas-sly #16593 is now merged, can you test whether this is fixed in the current develop branch?

[2020-06-09 17:39] payerle opened #17021 "Questions re cryptic error message (like 'Error: ...some..hash') and spack.lock"
I have started building the next release of the software lib for our cluster using Spack, making much use of environments to specify package versions/variants, etc.  (I use environments to allow different settings for different compilers, etc).

Every one in a while, something happens and spack commands within a specific environment all start returning a cryptic error message.  Something like
Erro

[2020-06-09 18:12] codeandkey opened #17022 "Installation issue: py-h5py"
### Steps to reproduce the issue

$ spack install py-h5py

### Information on your system

[code]

### Additional information

* [spack-build-out.txt](http://ix.io/2oJK)
* [spack-build-env.txt](http://ix.io/2oJJ)

### General information

- [x] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [x] I have run `spack maintainers <name-of-the-package>` and @mentioned

[2020-06-09 20:22] LPettey-Arm opened #17029 "Question: Custom library link flag in package creation"
Hello,

I'm writing a Spack package to install a library. When the compiler links to the library, I'd like it to use a custom flag e.g "-xyz" rather than prepending the "-l" similar to how the Intel Math Libraries are linked with "-mkl".

I've read through the documentation and can't seem to find how to specify how other software should link against a custom library. Can someone help with this?

T

[2020-06-10 00:29] tldahlgren commented on #13115
I just started working with Adrien on some of his GitLab CI work and find the built-in `before_script` that clones the custom Spack repo for every package in the environment a bit too heavy handed wrt file system usage.

So, fwiw, I'd like to "second" the need for the ability to either provide more flexibility in terms of customizing the actions before `generate` and after `build`.  At this point

[2020-06-10 07:44] andymwood commented on #16965
@cyrush Thanks for the response. I've tried that and now get this when it tries to install glib:
[code]
[glib-spack-build-out.txt](https://github.com/spack/spack/files/4756939/glib-spack-build-out.txt)

[2020-06-10 15:06] ssergien opened #17036 "Installation issue: fftw@3.3.8 with intel@19.0.5 and intel-mpi@2019.5.281"
### Steps to reproduce the issue

[code]

### Information on your system

[code]

[code]
[code]
### Additional information

* [spack-build-out.txt](https://github.com/spack/spack/files/4759291/spack-build-out.txt)
* [spack-build-env.txt](https://github.com/spack/spack/files/4759333/spack-build-env.txt)

### General information

- [x] I have run `spack debug report` and reported the version of Spac

[2020-06-10 15:36] cyrush commented on #16965
Hmm, by the looks of:

`ImportError: No module named site`

looks like glib is using python in its build system and for some reason the python it is calling is not viable.

Was python built before this, or is that later in the build chain?

[2020-06-10 16:31] andymwood commented on #16965
Python is built first:
[code]

[2020-06-10 16:47] scottwittenburg commented on #13115
@tldahlgren @adrienbernede Yes, this sounds like something lots of people will want, and just how we go about it is where there's lots of room for discussion.  It could make sense to schedule a time where we could meet and chat about it.  And/or maybe create an issue where we can put forth the various options and keep a record of the discussion of the various pros/cons of any approach.

fyi @eugen

[2020-06-10 17:05] vkallesh commented on #16970
@scheibelp could you please help with more information for this issue.

[2020-06-10 17:24] ax3l commented on #16602
let me cc @eisenhauer and @chuckatkins on this. This is pulled as a default dependency in ADIOS2 with the default variant `+sst` on. They probably have an idea about the problems with libffi and power.

As a solution that does not break the whole stack by default, one could change the default of ADIOS2 to the spec `adios2 ~sst`on power8 to disable pulling the libffi dependency. This disables SST a

[2020-06-10 17:38] ax3l commented on #16602
I just found a related patch in CMake: https://gitlab.kitware.com/paraview/common-superbuild/commit/a197c0ffda18fc7de48a98d41d753521787086fa

This looks to me like it has landed in libffi [master](https://github.com/libffi/libffi/blob/2e90bb5577ea1fe3bc1716954e790999bc3549f7/src/powerpc/ffi_powerpc.h#L60-L61) already but is not part of libffi [3.3](https://github.com/libffi/libffi/blob/v3.3/src/po

[2020-06-10 19:17] nithintsk opened #17039 "Installation issue: autoconf install fails with base paths greater than 100 characters"
### Steps to reproduce the issue
I am creating a base install path with a long length to create binary packages using spack build create. This is because of a limitation discussed here:- https://spackpm.slack.com/archives/C5W7NKZJT/p1590026295172200
[code]

[code]

I tried for a shorter directory. Shorter by about 20 characters and it works.
[code]

### Information on your system

[code]

### Addi

[2020-06-10 19:19] Piping commented on #2545
Hi, I want to have this feature so that I can zip the directory that was setup by current internet connected machine and unzip at offline machines.

[2020-06-10 19:49] adamjstewart commented on #2545
@Piping the feature I'm proposing here is only for creating new packages, the feature you're looking for already exists. `spack mirror` lets you download tarballs for all of your software, then you can move them to an air-gapped network and run `spack install` using that mirror.

[2020-06-10 20:23] Piping commented on #2545
@adamjstewart I see. Thanks.

[2020-06-10 21:11] eugeneswalker opened #17041 "buildcache: relocation of binaries is broken when $padding is used in the install_tree config variable."
I think there is a problem with the relocation logic used when installing a package from build cache. Specifically, I am seeing the following problem installing `Perl` from build cache using recent release of Spack.

Using `spack@develop` (commit id `478a8aff0`):

Building and caching Perl as following, with `install_tree: $spack/$padding:640`
[code]

This completes just fine.

[code]

I can now i

[2020-06-10 21:25] eugeneswalker commented on #17041
I have additionally tested by building `perl` with the default install_tree in one Spack, caching it using `spack buildcache create -afr --key <key-id> ...`, and then installing it into a different Spack (at a shorter install_tree), and I get a similar error:

[code]

I've seen this in the past when the relocation logic got screwed up. It looks like it has resurfaced.

[2020-06-11 03:16] ikalash opened #17047 "Installation issue with mumps package"
It looks like the path used to download mumps using spack is incorrect.  When I try to install it using the command ```spack --insecure install --dirty --keep-stage mumps```, I get the following error:
[code]
It appears the URL is incorrect, as it hangs when I try to access it in a browser.

[2020-06-11 04:07] Sinan81 commented on #7460
pocl@1.4 installs just fine llvm@9.0.1 and gcc@8.3.0.

[2020-06-11 04:18] Sinan81 opened #17048 "Installation issue: pocl@1.5 and pocl@master"
### Steps to reproduce the issue
I am using Spack development branch
[code]
default version, `pocl@1.5` fails to build as well as `pocl@master`

However `pocl@1.4` builds just fine with `llvm@9.0.1`

### Information on your system

- centos7.6 skylake
- gcc@8.3.0
- dependency LLVM defaulted to 10.0.0

### Additional information

[2020-06-11 04:32] Sinan81 opened #17049 "Installation issue: pocl@1.4 fails to build with +icd option"
### Steps to reproduce the issue

[code]

### Information on your system

$ spack debug report
* **Spack:** 0.14.2-1326-ad50a02
* **Python:** 3.6.8
* **Platform:** linux-centos7-skylake

### Additional information

[spack-build-out.txt](https://github.com/spack/spack/files/4762576/spack-build-out.txt)

### General information

- [x] I have run `spack debug report` and reported the version of Spack

[2020-06-11 11:05] andymwood opened #17053 "Installation issue: mvapich2"
I'm trying to build mvapich2 in CentOS 7 with gcc 7.3.1 and configured for slurm and nemesis. The build succeeds for mvapich2@2.3.3 but fails for mvapich2@2.3.4.

### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.14.2-1390-19dba603a
* **Python:** 2.7.5
* **Platform:** linux-centos7-sandybridge

### Additional information

* [mvapich2-spack-build-env.txt](http

[2020-06-11 15:34] ikalash commented on #17047
Seems this was a temporary problem that has resolved itself - closing.

[2020-06-11 15:34] #17047 closed, assigned to nobody

[2020-06-11 17:49] adamjstewart opened #17058 "Installation issue: readline doesn't link to ncurses"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.14.2-1394-3609f36e6
* **Python:** 3.8.2
* **Platform:** linux-ubuntu20.04-skylake (via WSL)

### Additional information

The installation succeeds just fine, and there are no errors in any logs, but the resulting readline libraries don't link to ncurses:
[code]
From what I can tell, these symbols are supposed

[2020-06-11 18:57] adamjstewart commented on #17058
Hmm, if I set my `LD_LIBRARY_PATH` to contain the ncurses installation, those missing symbols are still present. So maybe the issue isn't linking to ncurses.

[2020-06-11 18:57] Piping commented on #14617
It is also failed by using gcc@10.0.1 in fedora 32

[2020-06-11 19:05] Piping commented on #14617
My bug was resolved to re-run `spack compiler find` to locate the new system compiler after system update.

[2020-06-11 19:26] adamjstewart opened #17060 "spack install --overwrite doesn't reinstall a package"
### Steps to reproduce the issue

I'm having trouble reproducing this with simpler packages, but I can reliably reproduce this locally:
[code]
This is the full output, it isn't actually rebuilding readline for some reason, it thinks it's already installed so it doesn't have to build it again.

The only local modification I have from develop is #17059, which is why I want to reinstall readline.

##

[2020-06-11 20:02] adamjstewart commented on #17060
### Workarounds

I found that the following gets me the desired behavior:
[code]

[2020-06-11 20:29] ian-bertolacci opened #17062 "Split spack and the default package collection into separate git repositories"
Spack, the package manager, and the collection of spack modules, which are managed using spack, should be developed in separate git repositories.

This repository is trying to version control 3 different processes:
1. The development of a sophisticated package manager
2. The curation of a default package collection
3. The maintenance of individual packages in the default collection

While these pr

[2020-06-11 21:40] mwkrentel commented on #17062
Separate from whether this is a good or bad idea, let me point out
that it would NOT solve the intel-tbb problem that you reported above.

Intel moved their repository in a way that both the URLs and the
sha256 sums changed.  So, even if you took a snapshot of spack that
used to work, it would no longer work after Intel's change because the
change was outside the spack repo.  No amount of splittin

[2020-06-11 21:48] scheibelp commented on #16970
Spack appears to be having an issue with variants that can have the value "no" or "yes" - in the case of `libflame` that is the "threads" variant. https://github.com/spack/spack/pull/17063 addresses this by updating `libflame` (Spack core should be updated to allow these values but I think that will take longer).

If you get a chance, can you let me know whether that resolves the issue for you?

[2020-06-11 22:17] ian-bertolacci commented on #17062
I know that it would not have solved the underlying problem with the checksums, but it would have prevented the issue I had, which was that the package definition was updated and corrected, but using that package definition required updating the entire spack repository, and the spack software itself.

And I think that what you've said is a good demonstration of why these should be separate reposit

[2020-06-12 08:49] alalazo commented on #3181
Looking for other things I found this old issue. Just want to leave a note that either #15158 solved this or #16526 will probably do. Comments on #16526 and on the procedure it adds to make a package discoverable using:
[code]
are more than welcome.

[2020-06-12 08:55] alalazo commented on #17062
Duplicate of #1773

[2020-06-12 11:46] alalazo commented on #17060
Can't reproduce with:

* **Spack:** 0.14.2-1394-3609f36e6
* **Python:** 3.6.9
* **Platform:** linux-ubuntu18.04-broadwell

This is what I tried:
[code]

[2020-06-12 14:27] adamjstewart commented on #3181
I vote we close this issue now that #15158 has been merged.

[2020-06-12 14:32] adamjstewart commented on #17060
Yeah, I couldn't reproduce this with libsigsegv and m4 either. I have no idea what is special about readline and python. Perhaps because it is an extension? Perhaps because it is present in an environment?

[2020-06-12 15:04] adamjstewart opened #17070 "MANPATH not properly handled by environments/modules"
Loading an environment/module breaks the `man` command. `MANPATH` is used to give a list of directories to search for man pages. The default (no path) searches typical system locations. As soon as you populate `MANPATH` (e.g. `/home/adam/foo/.spack-env/view/share/man:/home/adam/foo/.spack-env/view/man`), it no longer searches system locations. You need to add a trailing colon to `MANPATH` to get i

[2020-06-12 15:15] ian-bertolacci commented on #17062
Thanks, I'll move this over there.

[2020-06-12 15:43] gartung commented on #17041
Maybe install_tree needs opt/spack in it.
Have you tried
install_tree: $spack/$padding:640/opt/spack

[2020-06-12 16:41] s-sajid-ali commented on #7460
I think this issue can be closed (as `pocl@1.4` builds) and discussion of current bugs can move to https://github.com/spack/spack/issues/17049 and https://github.com/spack/spack/issues/17048

[2020-06-12 16:41] #7460 closed

[2020-06-12 17:10] gartung commented on #17041
Disregard the last suggestion. Before perl was sensitive to having null bytes in the @INC string so I replaced with with '/' as the padding character. As far as I can tell this is done correctly when I test on my Centos8 desktop.

[2020-06-12 17:17] gartung commented on #17041
What are the original spack paths?
Can I download the perl buildcache from somewhere?

[2020-06-12 17:24] gartung commented on #17041
It looks like somehow multiple paths were replaced with padding '/'
[code]
appear to have been replaced with padded paths.

[2020-06-12 18:05] #17058 closed, assigned to nobody

[2020-06-12 18:25] #16602 closed, assigned to nobody

[2020-06-12 19:20] eugeneswalker commented on #14233
I believe this has been resolved.

[2020-06-12 19:20] #14233 closed

[2020-06-13 01:01] Sinan81 commented on #17049
It actually builds fine with opensource implementation of icd loader:
#17078

Will push a commit soon for pocl.

[2020-06-13 01:12] #16970 closed, assigned to scheibelp

[2020-06-13 01:18] #15614 closed

[2020-06-13 06:56] naromero77 commented on #17010
I think there may be some issue with how `CXX` is passed to the SLATE build system from within Spack.

Question: Is an MPI compiler wrapper always required to be passed into the value of `CXX`? Even in serial mode? I am assuming that `CXX` is the main compiler variable and that there is no `MPICXX` that needs to be set elsewhere?

[2020-06-13 21:39] rhc54 opened #17083 "Enable Python bindings in PMIx"
We are seeing an uptick in the number of people wanting to use PMIx in Python libraries and applications. I'm not sure of your distribution policies, but it might be worth considering enabling the Python bindings in the PMIx package.

Building the bindings requires Cython (in the standard locations for the Python being used) plus addition of the `--enable-python-bindings` configure option. It will

[2020-06-14 05:44] svenevs commented on #15901
Was playing around with this, all using a spack-compiled `gcc@8.4.0` backend

- `intel@19.1.1.217` aka 2020.1: failed
- `intel@19.0.5.281` aka 2019.5: failed
- `intel@19.0.1.144` aka 2019.1: success

The boostrap error message is deceptive, it's looking for `-std=c++17` and dying.  It's really very odd that 2019.1 works (would have expected all to fail), [only thing I could find ](https://gitlab.k

[2020-06-14 19:31] #17049 closed, assigned to nobody

[2020-06-15 06:23] darmac opened #17091 "Installation issue: minimap2 (for aarch64)"
When I build minimap2 on my aarch64 platform, build error is reported:

### Steps to reproduce the issue

[code]

[2020-06-15 11:16] ilbiondo opened #17100 "Installation issue: Stream (and other codes) with intel@19.1.1.217"
There appears to be a problem propagating the correct build environment to the compilers shipped with Intel Parallel Studio 2020 update 1

### Steps to reproduce the issue

The same problem occurs for a number of packages including netcdf-fortran and mumps. Stream is simply the fastest and simplest reproducer.

[code]

The build works correctly with Intel@19.1.0.166 and also with a dirty build env

[2020-06-15 16:20] jmellorcrummey commented on #12665
@tgamblin We're trying to get Cray support in place for El Capitan and the failure to address this issue is a major stumbling block. I would conjecture that Mark Krentel is the only one who could successfully install HPCToolkit for Cray because this issue has not been addressed.

Mark just walked me through an install and we had to go back to a commit from last year before running "spack compiler

[2020-06-15 16:47] pattakosn opened #17103 "Installation issue: intel-mpi"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.14.2-1422-6c2e14dfc
* **Python:** 3.4.5
* **Platform:** linux-centos7-broadwell

- compiler:
    spec: gcc@9.3.0
    operating_system: centos7
    target: x86_64
    environment: {}
    modules: [gcc-9.3.0-gcc-5.4.0-5a4k4bn]
    flags: {}
    paths:
      cc: /data1/spack/opt/spack/linux-centos7-broadwell/gcc-

[2020-06-15 20:17] alalazo commented on #12665
@jmellorcrummey

I understand that not being able to detect all compilers using a command is inconvenient. I recently got access again to Cori and Piz Daint, so I'll look into this issue asap. That said the compiler configuration file (as any other configuration file in Spack) is meant to be manually editable. You can work around this issue by adding manually the appropriate compiler entries in `c

[2020-06-16 04:30] #3181 closed

[2020-06-16 04:31] alalazo commented on #3181
Closing following @adamjstewart comment

[2020-06-16 14:46] alalazo opened #17116 "Spack detects duplicate compiler modules on Piz Daint"
When running `spack compiler find` on Piz Daint, Spack detects duplicate entries for `cce`.

### Steps to reproduce the issue

This issue is reproducible on Piz Daint (CSCS) by:
[code]
As can bee seen in the first line there are duplicate entries for ` cce@9.0.2` and `cce@9.0.1`.

### Error Message

There is no error message, only duplicate entries that stem from an incorrect detection of the vers

[2020-06-16 18:10] adrienbernede opened #17118 "Variant cuda "used" but not "declared""
https://github.com/spack/spack/blob/0095c4c25c459b5d7d25ce0462eed753b4036166/var/spack/repos/builtin/packages/umpire/package.py#L56

Self assigning this. Will be fixed among other changes.

[2020-06-16 18:27] #14677 closed

[2020-06-16 19:00] scottwittenburg opened #17119 "Pipelines: Option to cache a cloned spack"
Currently we allow one of two modes of operation:

1. Assume spack command is already available in the runner environment, so we take no action.
2. Allow user to provide `--spack-repo` and `--spack-ref` arguments to the `spack ci generate ...` command, which will cause all jobs to be generated with essentially the following `before_script`:

[code]

and `after_script':

[code]

We propose to suppo

[2020-06-16 19:08] scottwittenburg commented on #17119
@adrienbernede @tldahlgren I've created an issue for the pipeline optimization we discussed last Friday.  Can you take a look and let me know if you think it will solve your issue?

FYI @opadron @zackgalbreath @tgamblin @eugeneswalker

[2020-06-16 19:43] G-Ragghianti commented on #17010
I think CXX needs to be the MPI compiler wrapper unless you are building with MPI=0.

I'm testing your original issue in an ubuntu container right now.

[2020-06-16 21:17] scottwittenburg commented on #17119
Question for @adrienbernede or @tldahlgren: When were discussing this on Friday, @tgamblin mentioned that multiple pipelines would potentially be re-using the cached spack, and thus we would maybe need that `git fetch` and `git reset` mentioned above.  But I'm curious about this.  Is it possible multiple pipelines could be running simultaneously, maybe needing different versions of spack?

[2020-06-16 21:31] rspavel opened #17123 "Broken Compatibility with Cray CN16 Systems"
Identified issues with semi-recent (post spack v0.14.2) changes to how spack detects compilers and environment variables on Cray XC40 machines running CN16 . Specifically tested on LANL's Trinitite and Trinity with NERSC's Cori (CN17) used as a control. Regardless of spec and compilers.yaml, Spack maps Cray's compiler wrappers to the system compiler of ```gcc@4.8.5```

### Steps to reproduce the i

[2020-06-16 21:51] tldahlgren commented on #17119
This issue is consistent with what I recall from last Friday's meeting.  It should prove to make the process of testing environments (`spack.yaml`) far more efficient in terms of file system access.

[2020-06-16 22:34] #12383 closed

[2020-06-16 23:38] G-Ragghianti commented on #17010
My test in an Ubuntu 18.04.3 container was able to successfully install slate with the first "spack install" that you provided (Same compiler version).  I think it would be helpful if you could provide the full information on how your gcc@8.3.0 is configured.

[2020-06-17 01:29] bhatiaharsh opened #17126 "vtk8.2 python modules do not get loaded in PYTHONPATH"
Maintainers: @chuckatkins @danlipsa

It appears `vtk` restructured their python bindings starting `8.2.0` (https://blog.kitware.com/vtk-8-2-0/). However, this change is apparently not reflected in `spack`, and therefore, I am not getting the correct `PYTHONPATH`.

### Steps to reproduce the issue

I can install version `8.2.0` successfully, and it puts python bindings in `lib64`. Upon loading the

[2020-06-17 02:35] adrienbernede commented on #17119
@scottwittenburg Thank you for tackling this.

I have to admit I barely played with caches in GitLab, mainly because the prerequisites are not straightforward, at least at first.

If I understand correctly, caching will allow to reuse a path for a given job, in subsequents pipelines.
The consequences are:
- if we have 100 jobs, we still need to store 100 clones of Spack.
- if the job name changes,

[2020-06-17 02:42] eugeneswalker opened #17128 "Installation issue: python 3.7.3 patch fails, all platforms"
`python@3.7.3` spec.yaml fails to build using `spack@develop` (commit id from 16-June-2020) on the following platforms:
* Ubuntu 18.04 amd64, ppc64le
* RHEL 7 amd64, ppc64le
* CentOS 7 amd64, ppc64le

Here is python-hyodd5.spec.yaml: [python-hyodd5.spec.yaml.txt](https://github.com/spack/spack/files/4790047/python-hyodd5.spec.yaml.txt)

[code]

Also fails:
[code]

Looks like commit that broke this

[2020-06-17 02:50] scottwittenburg commented on #17128
Ah shoot, I should have saved you the effort of digging into it by pinging you when I commented on #16856, which was the cause of the breakage.  Ugh.  Sorry. 🤦

[2020-06-17 03:13] scottwittenburg commented on #17119
Agreed.  I read through the documentation a couple times today to figure out how we could (maybe) use it.

There are tons of ways you can use the caching, assuming you meet one of the criteria I pasted above (I'm guessing in your case, you either have a single runner (1) or your runners have a shared filesystem (3)).  But what you suggested is just one way.  You can also have a cache created in an

[2020-06-17 03:29] adamjstewart commented on #17126
We could modify the `python` package to check both `lib/pythonX.Y/site-packages` and `lib64/pythonX.Y/site-packages`, but I've literally never seen a package that uses the latter. Was this a mistake made by the VTK team or do they know more than me?

[2020-06-17 03:31] adamjstewart commented on #17123
Can you post your `compilers.yaml` (probably in `~/.spack/cray/`)?

The most recent change to how Spack handles Cray was #16593. Maybe you can try reverting that commit locally and see if it solves the issue for you? @becker33 may want to take a look at this issue.

[2020-06-17 03:32] adamjstewart commented on #17116
#16593 was the most recent change to how we handle Cray, maybe you could try reverting that and see if it works for you? @becker33 may want to take a look at this.

[2020-06-17 03:33] adamjstewart commented on #17118
The `+cuda` variant is added by the `CudaPackage` base class. We have a base class for all CUDA packages that contains common things so they don't need to be repeated everywhere.

[2020-06-17 03:33] #17118 closed, assigned to adrienbernede

[2020-06-17 03:46] naromero77 commented on #17010
GCC 8.3.0 was installed via Spack by the Argonne IT sys admins.
[code]
In principle, we should have the same ubuntu version
[code]

[2020-06-17 04:29] adrienbernede commented on #17119
You clearly spent time thinking the details, so I trust you on the usage of cache here :).

We would typically use a specific reference in github spack or a clone. But to answer your question about spack location, here is what I would have done if I were able to customize the `before_script`:

[code]

It’s interesting to see that I may simply not have the same constraints as you in my usage of Git

[2020-06-17 04:30] noloader commented on #8152
Also see [Flex Issue 442](https://github.com/westes/flex/issues/442). For Ubuntu machines `CFLAGS` should include `-g -O2 -D_GNU_SOURCE`. I believe `-D_GNU_SOURCE` is the important one.

[2020-06-17 04:52] scottwittenburg commented on #17119
@adrienbernede Yeah, I think leaving it to users to provide their own scripts is much nicer.  I took an initial stab at that in #17129.

[2020-06-17 04:55] adrienbernede commented on #17118
Missed that! Creating the issue was worth it! Thanks.

[2020-06-17 05:33] alalazo commented on #17116
Thanks for the pointer @adamjstewart I think if we're lucky it might be simply some regex in the Cray Backend platform that needs update. I'll look into that today.

[2020-06-17 07:53] gagiuntoli opened #17130 "Installation issue: gcc@4.8.5 Failed to find suitable config.guess in Arm machine"
Hello, I am trying to install gcc 3.8.5 and it dails at the moment of compiling `pkgconf` complaining about the `config.guess` script:

     $ spack install gcc@4.8.5

I get:

     ...
     .../spack/lib/spack/spack/build_systems/autotools.py:154, in
     do_patch_config_guess:
               151                return
               152            except Exception as e:
               153

[2020-06-17 12:02] alalazo commented on #17118
@adrienbernede In general one easy way to check which variants are allowed on a given package is `spack info`:
[code]

[2020-06-17 13:58] rspavel commented on #17123
```compilers.yaml``` generated on ```3347ef2de4e08374750eb68f750800c1854d595f```

[code]

And generated with ```7a68a4d8513cd6105ee21bedfe04664c292d1e7d``` (tag ```v0.14.2```)

[code]

And it looks like the version of spack I had pulled on trinitite predates that PR but verified same behavior with latest HEAD of ```eb5f1886b78a2b79c9fb5748addaad69c1a56591```

[2020-06-17 15:10] xjrc commented on #17128
I'm working on this now and I should have a PR ready within the day (USA PST).

[2020-06-17 15:12] weijianwen opened #17134 "Installation issue: iozone Permission denied: 'makefile'"
### Steps to reproduce the issue

[code]

### Information on your system

[code]

### Additional information

* [spack-build-out.txt](https://github.com/spack/spack/files/4793441/spack-build-out.txt)
* [spack-build-env.txt](https://github.com/spack/spack/files/4793444/spack-build-env.txt)
### General information

- [x] I have run `spack debug report` and reported the version of Spack/Python/Platfo

[2020-06-17 15:21] eugeneswalker commented on #17130
I  actually had some problems at OLCF because the Spack autotools logic couldn't find a suitable config.guess. And  like you, in my case there was in fact a perfectly fine `config.guess`  provided by the system and and in the Spack tree. I ended up modifying build_systems/autotools.py to use a hardcoded path to config.guess. Obviously that's not a sustainable solution.

[2020-06-17 15:57] becker33 commented on #17116
@alalazo it looks like the issue is that there are two versions of each of those compilers from different modules (for the "regular" and "classic" versions of the compiler). The "classic" version of the compiler uses the old Cray frontend and compiler options, the "regular" one uses a new clang-based frontend and clang-compatible compiler options.

[2020-06-17 16:54] alalazo commented on #17116
@becker33 You're definitely right, even though I'm still puzzled by the decision to have the same version on the compilers :man_shrugging: I think we can solve this either by tweaking:

https://github.com/spack/spack/blob/ad18933ef400ecbb879feebb32368ab7cc898493/lib/spack/spack/operating_systems/cray_backend.py#L145

or by deduplicating the entries (in case we just want to keep the new Clang based

[2020-06-17 17:11] becker33 commented on #17116
I think we

1. tweak the regex to detect the classic as `9.0.0-classic`
2. tweak the version checks in `lib/spack/spack/compilers/cce.py` to only use the new flags for versions >= 9.0 if "classic" isn't in the version.

[2020-06-17 17:14] adrienbernede opened #17135 ""More documentation" link missing"
Documentation does not always link a command to its documentation.

This link is useful because, IMO, it makes is easy to find a command documentation from command reference page.

### Steps to reproduce the issue

Command Reference (in command_index.in) states:

I see this link for `spack clean` (points to spack clean in packaging_guide), but not for `spack ci` and associated subcommands (should

[2020-06-17 18:00] scottwittenburg commented on #17135
Thanks for reporting @adrienbernede, I wasn't aware of that linking functionality.  I'm not sure how to make that happen for the `spack ci` command, but I'll look into it.

[2020-06-17 18:03] adrienbernede commented on #17135
Not sure if it’s specific to `spack ci` :).

[2020-06-17 19:37] mathstuf commented on #17126
lib64 is picked up from the host's preferred library directory. Spack can pass `CMAKE_INSTALL_LIBDIR=lib` to always use it instead.

[2020-06-17 22:40] sethrj commented on #1819
I got the same `ImportError: No module named site` failure trying to install `glib@2.56.4 ^python@2.7.13` on `linux-rhel7-broadwell / gcc@5.4.0` .

The solution was to change the glib `--disable-tracing` argument (which must've been for an older version) to `--disable-dtrace`. I'm going to submit a PR.

[2020-06-17 23:33] sethrj opened #17145 "Concretizer: 'xsdk' version in package is wrongly accepted"
Related to https://github.com/spack/spack/pull/9445: concretizing an older nonexistent version is causing an `xsdk` version to be accepted even though the xsdk tags are not related to the actual version number.

### Steps to reproduce the issue

[code]

### Information on your system

[code]

### Additional information

- [x] I have run `spack debug report` and reported the version of Spack/Python

[2020-06-18 04:30] adamjstewart commented on #17128
Closed by #17140

[2020-06-18 04:30] #17128 closed, assigned to nobody

[2020-06-18 07:03] michaelkuhn commented on #17130
I do not have access to an ARM machine, so I am not 100% sure whether this fixes the problem but could you please give #17149 a try? Thanks!

[2020-06-18 07:43] #17091 closed, assigned to nobody

[2020-06-18 07:44] #17135 closed, assigned to adamjstewart

[2020-06-18 09:40] gagiuntoli commented on #17130
Hi Michael, now it is working. Thanks a lot!

[2020-06-18 10:48] hhoeflin opened #17152 "Ripgrep won't install"
I ran spack install ripgrep and am running into a failure related to llvm. Complete novice, sorry if doing something wrong. I also installed llvm, but does not help.

### Steps to reproduce the issue

[code]

### Error Message
[code]
[code]

### Information on your system

vanilla spack installation with no changes from initial install.
[code]

### Additional information

- [x] I have run `spack d

[2020-06-18 10:51] alalazo commented on #17152
There's possibly an error in the recipe. Can you check if `ripgrep` is supposed to depend on `llvm`? That dependency isn't encoded in `package.py` currently.

[2020-06-18 10:52] alalazo commented on #17152
@ax3l

[2020-06-18 11:17] ptooley opened #17153 "Incorrect sha256sum for libjpeg-turbo@2.0.4"
There is a mismatch between the shasum in the recipe and the shasum of the tarball hosted on github. (Note that the shasum matches that of the tarball at the sourceforge mirror)  Bug seems to have been introduced in #17132

### Steps to reproduce the issue

[code]
### Information on your system
Spack debug report:
[code]

### Additional information
No build logs created.

- [x] I have run `spack d

[2020-06-18 11:58] alalazo commented on #17130
@gagiuntoli I'll keep the issue open until the PR is merged to develop

[2020-06-18 12:02] mdorier opened #17155 ""warning" attribute in versions and variants"
This feature would allow package maintainers to add a `warning='...'` attribute in `version()` and `variant()` statements, for example to indicate that a variant or version is deprecated and will be removed in the future, or is not recommended in production, etc. The presence of such a statement would make spack display the warning in red when installing the package with the specified variant/vers

[2020-06-18 12:44] #17153 closed, assigned to nobody

[2020-06-18 14:37] adamjstewart commented on #17155
This proposal is very similar to #15896

[2020-06-18 14:50] hartzell commented on #17152
One of the cartons that ripgrep loads is/was onig_sys, which tries/tried to use llvm-config as part of compiling the oniguruma [SIC?] library.  There's a bit of discussion about it in an issue centered around bat, https://github.com/spack/spack/issues/16298.

I believe that something's changed, I've had luck at work (still working through the process to get approval to push stuff out...) just dele

[2020-06-18 14:51] mdorier commented on #17155
"deprecated" is pretty specific. This proposal is more generic (as exemplified in the warning about some variant being inefficient).

[2020-06-18 16:57] bvanessen opened #17162 "Installation issue: Conduit"
@cyrush Trying to install Conduit using GCC with recent version (1bb94f2913b8657ce098230f33a08be38e1ba05a) of the spack repo fails.

==> Error: TypeError: argument of type 'NoneType' is not iterable

/global/cfs/cdirs/m3363/lbann/spack.git/var/spack/repos/builtin/packages/conduit/package.py:374, in create_host_config:
        371        if fflags:
        372            cfg.write(cmake_cache_entry

[2020-06-18 18:53] scottwittenburg opened #17164 "Pipelines: Allow users to provide their own scripts"
Many users attempting to leverage the `spack ci` command and auto-generated pipelines have asked for ways to customize the generated build jobs.  This proposal aims to satisfy that goal, and to solve the issue #17119 aimed to solve (unsuccessfully).  Therefore this proposal supersedes #17119.

At a high level, the proposal is for `spack ci generate` to stop generating any `before_script` or `after

[2020-06-18 18:55] scottwittenburg commented on #17119
I created a new issue (#17164) because this one describes an approach that doesn't really solve the problem experienced by some folks.

[2020-06-18 18:57] scottwittenburg commented on #17164
Notifying people I can think of who have, at one time or another, requested more customizable build jobs: @adrienbernede @tldahlgren @becker33 @eugeneswalker.

fyi @tgamblin @opadron @zackgalbreath

[2020-06-18 19:05] prckent commented on #16728
This appears to be a spack problem related to GCC and CascadeLake, possibly also RHEL8 or some other system subtlety. We have a few workarounds now, so this issue could potentially be closed:

* Building cmake/ctest by hand using the RHEL provided GCC9 toolchain is successful
* Configuring spack to target generic x64_64 is successful
i.e. cat ~/.spack/packages.yaml
[code]

[2020-06-18 20:28] becker33 commented on #17164
@scottwittenburg how strict will the requirement be to call `spack ci rebuild` at some point?

The workflow I want to enable is replacing `spack ci rebuild spec.yaml` with something like

[code]

In the particular workflow I'm thinking about, the contract for `buildfarm spack-build` is that it will handle all cdash updates and mirror updates that would otherwise be completed by `spack ci rebuild`,

[2020-06-18 20:39] scottwittenburg commented on #17164
@becker33 I think my "requirement" was more for normal users.  Since you are well aware of what `spack ci rebuild` is doing for you, I think it's true you can replace that however you want.  For the sake of discussion, maybe I should summarize what it's doing:

1. Take a spec as an environment variable, compute it's full hash and compare that to the full hash of the same spec stored on the remote

[2020-06-18 20:53] becker33 commented on #17164
@scottwittenburg I haven't gone through the entire workflow in full detail with this PR yet, but I think the only pain point after this is going to be accessing the cdash information from outside of the `spack ci rebuild` command. But I think that can probably be managed by a `spack-python` script that knows where to look for the `spack.yaml` file.

[2020-06-18 21:20] scottwittenburg commented on #17164
@becker33 Won't your new workflow script run as a gitlab pipeline job?  If it does, it could have access to the CDash auth credentials via a CI environment variable, and job-specific details from the environment as well (passed along in the `variables` of the generated job). But you're right that all that can be re-derived from the `spack.yaml`.

In your case, is `build-farm spack-build ...` going

[2020-06-18 21:27] chuckatkins opened #17168 "A more robust way to support external packages"
This proposal is for a feature to allow external packages to be specified as a set of packages provided by the system's package manager and have spack using symlinks to emulate a unique install prefix.

### Rationale

Often a user needs to have spack use an externally installed version of a package.  The mechanism currently used by spack supplies either an explicit prefix or an env module.  If the

[2020-06-18 21:27] chuckatkins commented on #17168
@opadron @scottwittenburg

[2020-06-18 21:38] becker33 commented on #17164
@scottwittenburg Yeah, the CI environmenbt variables is easier than what I was thinking.

The `build-farm spack-build` command is going to invoke `spack install` under the hood (twice, same as `spack ci rebuild`) and add the CDash variables. But I don't think it can take the environment variables, I think I have to pass them into a yaml file for it.

But that's not a big deal, if my script is

[co

[2020-06-18 22:05] scottwittenburg commented on #17164
What you suggest seems reasonable if your `build-farm spack-build ...` command can't read from environment variables.

The spec file part is a little more complicated, but I don't see any showstoppers.  Currently (and we plan to change this, see below) there are a couple possibilities for what you could get as your spec variable in the generated `.gitlab-ci.yml`.  Ignoring compiler bootstrapping p