[2017-06-21 13:02] alalazo commented on #4562
If the examples are not applications that will be installed but are just a way to check that the package is working correctly, then I would avoid having a variant and I would encode their build as a part of the optional tests that could be run during the installation:
[code]

[2017-06-21 15:19] adamjstewart commented on #4562
The closest discussions I could find are #169, #1169, and #3923. But @markcmiller86 seems to already understand the rationale, variants are variations of installed packages. If the examples flag doesn't change what gets installed, it shouldn't be a variant. However, there are several packages in Spack that do have an `+examples` variant:
[code]
If the examples are installed, I'm fine with that var

[2017-06-21 15:25] markcmiller86 commented on #4562
That all makes perfect sense to me. Wasn't aware of the `self.run_tests` thingy though. That helps a lot.

But, what if I want to keep those around *after* `spack install` has completed. I am guessing right answer is to also `--keep-stage`

[2017-06-21 15:29] adamjstewart commented on #4566
Can you try changing:
[code]
to:
[code]
and see if that helps? The thing to the left of the colon needs to be a spec for a valid package (the package is called `mpich`, not `cray-mpich`). The thing to the right of the colon needs to be the module name, which can be whatever you want (`cray-mpich` in this case).

[2017-06-21 15:31] adamjstewart commented on #4562
Yes, if you run `spack install --keep-stage mfem` it will keep those examples around, at least until you delete the stage with `spack purge`. If you think it would be wise to install the examples, there's no reason you can't add a `+examples` variant that optionally installs the examples. See the `install_tree` method for this.

[2017-06-21 15:34] markcmiller86 commented on #4562
Ok, thanks. I actually like the idea of having it install the examples even if the package's `make install` isn't necessarily designed to do that.

[2017-06-21 16:11] EmreAtes commented on #4566
I did the change and it accepts the file:
[code]
However, the documentation still needs to change, because the example file has no `all:` field.

[2017-06-21 16:18] adamjstewart commented on #4566
Feel free to submit a pull request updating the documentation!

[2017-06-21 16:20] EmreAtes commented on #4566
Ok, thanks

[2017-06-21 16:20] #4566 closed

[2017-06-21 16:50] jgalarowicz opened #4571 "libmng fails to build on rzmanta (power 8) when trying to build the default qt qt5 package or in the case below where I tried to build qt@4.8.6."
libmng fails to build on rzmanta (power 8) when trying to build the default qt qt5 package or in the case below where I tried to build qt@4.8.6.
[code]
This page doesn't mention doing a "make distclean"
http://www.linuxfromscratch.org/blfs/view/cvs/general/libmng.html

[2017-06-21 16:58] #2924 closed

[2017-06-21 16:59] becker33 commented on #2359
@ashkan2200 Is this resolved now (as of #3250 being merged)?

[2017-06-21 17:07] adamjstewart commented on #4571
I think I know what the problem is. I'll bet you tried to build this package, it ran `make distclean` which deletes the Makefile, then it crashed somewhere. Now you are trying to install again and when it runs `make distclean` there is no Makefile to process. Let me try removing that line and make sure it still works.

[2017-06-21 17:07] jgalarowicz opened #4573 "spack mirror remove doesn't seem to be working on rzmanta (power 8)"
[code]
[code]

[2017-06-21 17:14] adamjstewart commented on #4571
When I try to run the package without that line, `configure` crashes with:
[code]
So we can't simply remove that line.

[2017-06-21 17:15] adamjstewart commented on #4571
Let me see if this has been fixed in the newer release.

[2017-06-21 17:20] adamjstewart commented on #4571
Nope, latest release has the same bug. If we don't run `make distclean`, `configure` crashes. Can you try running `spack purge` and then `spack install -v libmng`?

[2017-06-21 17:24] adamjstewart commented on #4573
When you created the mirror, did you already download libsigsegv?

[2017-06-21 17:37] adamjstewart commented on #4571
Oddly enough, `configure` works if I just download the tarball and run it outside of Spack, but in Spack it results in that error message. Can anyone else reproduce this? @alalazo

[2017-06-21 17:38] jgalarowicz commented on #4571
Here is the install -v output:

    50	10:34	spack purge

rzmanta23{jeg}53: spack install -v libmng%gcc@4.9.3
==> zlib is already installed in /usr/global/tools/openspeedshop/oss-dev/spack/opt/spack/linux-rhel7-ppc64le/gcc-4.9.3/zlib-1.2.11-p4bioy6xvjuc7df3khprcblqmfqxta6u
==> jpeg is already installed in /usr/global/tools/openspeedshop/oss-dev/spack/opt/spack/linux-rhel7-ppc64le/gcc-4.9.3/jpeg-9b

[2017-06-21 17:40] jgalarowicz commented on #4573
The mirror existed prior to my building today.  I had built it and added it for another machine (rzmerl).  I then tried to remove it for the rzmanta build.

[2017-06-21 17:41] tgamblin commented on #4564
Thanks @benjaminjeliot!

[2017-06-21 17:42] adamjstewart commented on #4571
Awesome, so `spack purge` gets you past the original error message. Now the problem is that the `config.guess` doesn't recognize PowerPC. @lee218llnl You wrote the `patch_config_guess` logic in #2221 right? Can you take a look at this package? Perhaps we need to separate that logic out of `patch`, which may be overriden by the package.

[2017-06-21 17:43] jgalarowicz commented on #4571
I bet the config.sub and config.guess files don't have power8 in the list.

configure:3859: result: none required
configure:3896: checking build system type
configure:3905: error: cannot guess build type; you must specify one

## ---------------- ##

[2017-06-21 17:43] jgalarowicz commented on #4571
Oops, I see you found that out as well.

[2017-06-21 19:03] adamjstewart opened #4577 "test_get_module_cmd_fails failing in develop"
@tgamblin @alalazo @becker33 I assume this is related to the recent merge of #3250.

If you look at the unit tests for #4568 you'll see a lot of unrelated unit tests failures in Travis. This PR simply adds a new package, so the unit tests should not be failing. Based on the error messages, I'm guessing there's a Python 3 byte incompatible thing we're doing when parsing modulecmd output.

[2017-06-21 19:19] alalazo commented on #4577
@adamjstewart You're right: we have a broken develop. I think we should start to take the habit of rebasing on the latest develop tip before merging any modification to the core. There's also a way to require this for every PR, but maybe this is too much of a burden for packages.

[2017-06-21 19:23] adamjstewart commented on #4577
I ran into a project that did this and it was an absolute nightmare. So downvote from me. But yeah, big PRs that affect internal things would be good candidates for a rebasing once in a while.

[2017-06-21 19:27] adamjstewart commented on #4577
Also, codecov plummeted to 55%? That's weird.

[2017-06-21 19:28] alalazo commented on #4577
@adamjstewart Not weird at all: we upload the coverage files *after success*

[2017-06-21 19:37] adamjstewart commented on #4577
Based on the error message, I'm guessing this bug was caused by the combination of #4230 and #3250:
[code]

[2017-06-21 20:59] tgamblin commented on #4577
I agree with @adamjstewart -- we'll just churn travis if we always rebase.  We had a discussion about this and kind of decided that we were ok with the occasional break.

We should revert whichever merge broke `develop`, then rebase *that* and fix it.

[2017-06-21 21:46] becker33 commented on #4577
See my comment on #4578

[2017-06-21 22:08] #4562 closed

[2017-06-21 23:06] #4552 closed

[2017-06-21 23:33] #4577 closed

[2017-06-22 00:20] markcmiller86 opened #4580 "How do I link against a set of Spack installed packages"
So, I've used Spack to install a bunch of packages I need. Its great and easy to use to do it.

Now, I wanna used the packages I have installed to build an application. For example, I have an MFEM package that uses many of MFEM's optional variant packages which you can see installed here.

[code]

Now, how do I find the paths to the set of packages I need to compile and link my MFEM application? T

[2017-06-22 00:40] adamjstewart commented on #4580
For what it's worth, our users module load their software so they never need to know where the software is installed. And thanks to RPATH, they don't need to know about dependencies either.

[2017-06-22 00:45] markcmiller86 commented on #4580
Well, I think my question is still relevant...how do ensure I `module load` the right packages then?

And, as an aside, doesn't that then always assume dynamic executables and shared libs? What if I don't wanna do that? One reason I don't is that such executables are far too vulnerable to things getting changed out from underneath them due to various updates going on on the system. When I build to

[2017-06-22 00:46] goxberry commented on #4580
Install lmod. I just updated the Homebrew package from version 5.4-ish to
7.4.21, and it has since been updated further, so there should be an easy
way to install it. (Configuration could probably use some work, though.)
Not sure what the status of lmod is in MacPorts.

On Wed, Jun 21, 2017 at 17:40 Adam J. Stewart <notifications@github.com>
wrote:

--
Geoffrey Oxberry, Ph.D., E.I.T.
goxberry@gmai

[2017-06-22 04:04] davydden commented on #4580
A tangential comment: if u build a mfem application, then IMO ideally as mfem user you would only need to know where to find mfem, the rest should be brought by build/config system where a given installation of mfem would know what it was linked with.

As an example, that's how it works with dealii: during its configuration and installation some custom cmake scripts are installed together with cma

[2017-06-22 06:45] alalazo commented on #4577
@becker33 Thanks for the quick fix!

[2017-06-22 06:57] samfux84 commented on #4580
@markcmiller86 I use lmod and define an environment variable $PACKAGE_ROOT for each package, through modules.yaml

[code]

If I load the module python/2.7.12, then I know that the installation directory is $PYTHON_ROOT.

[2017-06-22 11:45] adamjstewart commented on #4580
I think @markcmiller86's questions is not just about how to load software into his environment, but what to do if you have multiple installations of the same package. The way I see it is that if you need a couple common variations of a package, you can configure modules.yaml to add suffixes to those modules. Aside from that, if the hash changes or something, then it probably doesn't matter which o

[2017-06-22 12:02] olesenm commented on #4444
I had previously found that mesa-12 (without spack) produced an installation without proper GL includes.
Mesa-11, 13 and 17 seemed to be ok. It might be worthwhile trying with a new mesa as well.

[2017-06-22 12:12] olesenm opened #4581 "paraview build failure - weird rpath"
I started encountering really a weird issue while building paraview (using the package from develop, which previous worked fined).

Everything progresses fine until the link stage, at which point spack is passing through a really weird rpath that fails:

    -rpath,/tmp/mark/spack-stage/spack-stage-vMgFh5/ParaView-v5.3.0/spack-build/lib:::::::::  ../../../lib/libvtksys-pv5.3.so.1 -lpthread -ldl

N

[2017-06-22 12:24] davydden commented on #4581
@jppelteret if I recall correctly u came across the same issue of ugly broken rpaths?

[2017-06-22 12:51] olesenm opened #4583 "building flex with +lex variant fails"
Using an older system (suse 13 with python 2.7.6) and the symlink code in the package fails entirely.
@mjwoods

[2017-06-22 15:52] olesenm commented on #4492
@alalazo The intermediate resolving seems to be odd as well. Testing the openfoam virtual package.

    $ spack spec openfoam@plus
    Input spec:  openfoam@plus
    Normalized: openfoam@plus
    Concretized: openfoam-com@1612%gcc@4.8 ...

Whereas

    $ spack spec openfoam-com@plus
    Input spec:  openfoam-com@plus
    Normalized: openfoam-com@plus
    Concretized: openfoam-com@plus%gcc@4.8 ...

[2017-06-22 16:01] alalazo commented on #4492
@olesenm I don't think what you see relates to this bug. Virtual dependencies *have their own version*, in the sense that the version you attach to a virtual dependency represents the API version. To make a concrete example `mpi@3` means that I want the standard 3 of MPI, not that I want to install `openmpi@3` (assuming the provider chosen by the concretizer is `openmpi`).

[2017-06-22 16:38] olesenm commented on #4492
OK - thanks for the explanation (makes sense). I guess that I probably get the '1612' since it sort before 'plus'.

[2017-06-22 17:25] jppelteret commented on #4581
@davydden Yes, I think I encountered this but I can neither remember the context nor what the cause of the problem was. I'm looking through closed issues and PR to see if I can find any information...

[2017-06-22 17:30] markcmiller86 commented on #4580
Hmm. I don't have this problem with MFEM (or any other package for that matter) when I just install things manually myself. Why? Because I know where everything is. I know which dependencies I turned on. I decide upon how installation dirs are named, etc.

If I install packages with Spack, I now have much less control over which dependencies get turned on, how things are named (so that I can disti

[2017-06-22 17:45] adamjstewart commented on #4580
Oh no, I was suggesting using `modules.yaml` to change the name of the installed module files. That way, a single person who installs `mfem` controls what the module files are named. See http://spack.readthedocs.io/en/latest/module_file_support.html#customize-the-naming-scheme

[2017-06-22 17:46] adamjstewart commented on #4580
Thanks to RPATH, dependencies are irrelevant. A user should log into a cluster and run `module load mfem` and everything should "just work".

[2017-06-22 17:47] hartzell commented on #4580
@goxberry said:

You can install Lmod via Spack (I do!) and Spack includes excellent support for automagically generating lua modulefiles.  There's a great modules tutorial too, that [even has section dedicated to lmod](https://spack.readthedocs.io/en/latest/tutorial_modules.html#lua-hierarchical-module-files).

[2017-06-22 18:14] hartzell commented on #4580
I'm not exactly sure what `MFEM` is (I'm a visitor from the planet of Biology).  I've had a couple of tentative questions about using libraries installed by Spack from my users and we're feeling our way towards an understanding an some documentation.

A recent example was someone who wanted to install `pygraphviz` himself (outside of Spack, comments about using Spack to do it are out of scope in t

[2017-06-22 18:17] markcmiller86 commented on #4580
(Entered this yesterday but forgot to hit the *comment* button)

Here is basically what I think I want/need...

I need to get at the very information that gets printed during `spack install mfem`...

[code]

With that, I can get all the paths to everything I need. Seems like it oughta be possible to do that somehow with a spack command.

[2017-06-22 18:19] markcmiller86 commented on #4580
BTW...many of the packages listed above install both shared and static libs. That enables me to build a static MFEM application which is what I want.

[2017-06-22 18:21] markcmiller86 commented on #4580
From comments presented here from others, it sounds like there are about as many *solutions* to this problem as there are commenters here; modules.yaml, lmod, rely on rpath, LD_LIBRARY_PATH, etc.

[2017-06-22 18:29] adamjstewart commented on #4580
From my point of view, these are all the same solution. Like, without any one of these awesome things, your life would be much harder. If you need to install multiple versions of the same package, you pretty much have to use some sort of environment variable management system. Otherwise, users would need to know the installation directories of all of their software. So you either use "Lmod" or "En

[2017-06-22 18:42] goxberry commented on #4580
@hartzell said:

I have used spack-installed lmod also, but find system-level installs easier for provisioning new systems.

Agreed; this observation was the impetus for suggesting an lmod install.

[2017-06-22 18:45] hartzell commented on #4580
and `PKG_CONFIG_PATH` and ...

😜

[2017-06-23 13:45] #4583 closed

[2017-06-23 13:50] #4549 closed

[2017-06-23 13:52] #4538 closed

[2017-06-23 15:56] jgalarowicz commented on #4571
I replaced the config.sub and config.guess with newer versions - in the spack build directory and was able to build it and get past this issue temporarily on this particular machine.  I guess I could create a patch to the default tarball source that basically replaces the config.sub and config.guess with the latest gnu versions of those files.

[2017-06-23 16:08] adamjstewart commented on #4571
@jgalarowicz There's already a `patch_config_guess` function in the `AutotoolsPackage` base class that @lee218llnl wrote that does just that. We just need to get it working for `libmng`.

[2017-06-23 20:36] #4126 closed

[2017-06-23 22:52] markcmiller86 opened #4594 "Can package teams maintain package.py in their own repos?"
From what I can tell, the current development model for Spack packages involves a package and in particular, that package's build interface (e.g. CMakeList.txt, configure.ac, Makefile, etc.), owned, developed and maintained over *there* and then a Spack *recipe* for building that package in Spack as a `package.py` file. So, its pretty easy for the two to fall out of sync. with each other. When it

[2017-06-23 22:57] tgamblin commented on #4594
See discussion in #1136 and attempt in #1151.  I'd still accept a PR for this -- I think it would be useful.

[2017-06-23 23:33] tgamblin commented on #4529
I agree -- not sorting lets the package author pick the order to highlight variants they care most about.  If we *do* want to enforce something, package maintainers can do it for the general case by reordering variants, and still allow exceptions.

[2017-06-24 01:41] hartzell commented on #4594
Seems like a neat idea.

A `package.py` file is a bridge between two worlds: the Spack framework on one side and the package on the other, it needs to be in sync with *both* sides.

Some (many?) of them already accommodate changes in the way their target is built by checking the version number and acting accordingly (a simple case is `fontconfig@2.12.2:` depending on `gperf`.

If `package.py` file

[2017-06-24 08:09] alalazo commented on #4529
@tgamblin On the other hand for packages that have a lot of them (e.g. `boost`) lexicographical ordering won't astonish anyone, while searching for a variant among many in an arbitrary order can be a pain.

Many packages have more than one author, and they may disagree on which variants they care most about. Lexicographical is lexicographical, and makes everybody *equally unhappy*.

[2017-06-24 17:08] markcmiller86 commented on #4529
@alalazo, @adamjstewart FWIW...I don't view variant ordering or their descriptions in `spack info` as content cognizant package authors care as much about as non-cognizant package installers (e.g. package users and computing center support staff). For them, they are much less familiar with packages and will probably hope to learn *a lot* from `spack info`.

@tgamblin It isn't so much about putting

[2017-06-25 06:12] tgamblin commented on #4529
@markcmiller86: Thinking about this, I actually agree with @alalazo that this will impact packages with lots of variants, and that `boost`, `trilinos`, and friends are going to be less readable/understandable after the change.  I grepped around a bit and there are quite a few packages with lots of variants:

[code]

So, what do we do about the packages where no one's going to reorder the variants?

[2017-06-25 18:05] markcmiller86 commented on #4529
Doesn't this question _assume_ lexicographical ordering output by `spack info` was somehow desirable and that without it, package maintainers will have to take action to somehow _correct_ things?

While I do indeed like what @tgamblin proposes here, for some reason I am finding it less than credible that some arbitrary ordering was chosen in the past (lexicographical) and that has somehow miraculo

[2017-06-25 18:18] #4530 closed

[2017-06-25 18:24] markcmiller86 commented on #4529
Apologies for wording in previous comment...I've re-worded.

The one case that I think lexicographical ordering is useful for is having to _search_ for a given variant among _many_ variants. Then, yes, I can see how lexicographical ordering could be helpful.

But, I would solve the problem of _searching_ for variants among _many_ a different way. I would just have an option in `spack info` to disp

[2017-06-26 03:42] #4526 closed

[2017-06-26 08:00] olesenm opened #4600 "cleanup some flex dependencies"
- Can cleanup various depends_on flex/bison min version restrictions
  since spack no longer supplies flex, bison lower than these had
  specified anyhow.

- The buggy flex-2.6.2 has now been blacklisted in the corresponding
  flex package (also removed the md5sum to avoid suggesting that this
  version should be revived). The 2.6.3 has similar problems (at least
  for scotch), but 2.6.4 seems to

[2017-06-26 08:01] olesenm commented on #4600
- Can cleanup various depends_on flex/bison min version restrictions
  since spack no longer supplies flex, bison lower than these had
  specified anyhow.

- The buggy flex-2.6.2 has now been blacklisted in the corresponding
  flex package (also removed the md5sum to avoid suggesting that this
  version should be revived). The 2.6.3 has similar problems (at least
  for scotch), but 2.6.4 seems to

[2017-06-26 08:12] davydden commented on #4529
As a user, I think filtering Spack info's variants via a string would be less useful/helpful than adding categories and grouping variants. I like that Spack info gives everything about the package (variants, dependencies, info, etc) in one go, it's a good overview of everything about a package. It's just the variants are not visually not well organized.

In the long run, I think @tgamblin 's idea

[2017-06-26 10:37] alalazo commented on #4529
Honestly I don't like the idea of binding the way we show variants to users to their order of declaration in a `package.py` file. I think *categories* gives enough semantic power to organize them better. So:

- :+1: on categories
- :-1: on using the order of declaration to display information

Somebody decided on purpose to do that, as the `sorted` function was used in `spack info` and dictionarie

[2017-06-26 15:42] markcmiller86 commented on #4529
Ok, so I think I will simply give up on this.

[2017-06-26 15:42] #4529 closed

[2017-06-26 16:10] olesenm commented on #4600
closed with pull request https://github.com/LLNL/spack/pull/4601

[2017-06-26 16:10] #4600 closed

[2017-06-26 17:21] kdfred opened #4603 "Error installing qt"
Installing qt
[code]

[spack-build.txt](https://github.com/LLNL/spack/files/1102929/spack-build.txt)

[2017-06-26 17:28] adamjstewart commented on #4603
Based on the error message:
[code]
I would say the problem is the compiler version you are using. It looks like you are trying to build with GCC 4.4.7? This version of GCC has C++11 support, but you need to use the `-std=c++0x` flag to use it (it was still experimental). As of GCC 4.7 and above, the `-std=c++11` flag should work just fine. So my recommendation is to try a newer compiler.

See http

[2017-06-26 17:38] lee218llnl commented on #4571
I create a PR to fix this. We can and perhaps should patch config.guess ASAP (i.e., after autoreconf) to catch cases like this. I will say, however, that libmng is evil for shipping with pre-configured Makefiles.

[2017-06-26 19:01] olesenm opened #4605 "BUG: mxml / adios link error"
This seems to be related to the pull request https://github.com/LLNL/spack/pull/3696 that I abandoned a few months back, but which has now come back to haunt me.
If I use the current spack setup for adios and mxml, I receive the following error when I try to link against the adios library:

    ld: /home/mol/Software/spack/opt/spack/linux-opensuse42-x86_64/gcc-4.8/mxml-2.10-zxpuyumt66b7ehrlidmcax7

[2017-06-26 20:53] kdfred commented on #4603
This fixed the issue, thanks

[2017-06-26 20:53] #4603 closed

[2017-06-26 22:12] jrood-nrel commented on #4580
I also solve this problem with environment modules, but it does get complicated with having installed multiple specs for the same software/libraries. Maybe I'm wrong, but a start to the command you are searching for would be if `spack find -pd` were to return something, but it doesn't:

[code]

[2017-06-26 22:36] becker33 commented on #1990
@pramodk Is this bug still manifesting? I recently changed the logic around modulecmd, hopefully it is fixed now.

[2017-06-26 23:48] EmreAtes commented on #4553
Yes, this was a problem with my own configuration. When I added pmi to LD_LIBRARY_FLAGS, it started working fine.

[2017-06-26 23:48] #4553 closed

[2017-06-26 23:59] EmreAtes opened #4610 "Changing flags causes dependencies to be re-installed"
When I install a package e.g. `spack install gromacs@5.1.4%cce@8.5.6`, and then I try to install the same package with a modified flag, e.g. `spack install gromacs@5.1.4%cce@8.5.6 cppflags=-O1`, spack tries to compile and install all of the dependencies for gromacs again.

Is this the desired behavior? I feel like the dependencies can be kept as they are, and only the gromacs installation can be m

[2017-06-27 03:43] tgamblin commented on #4610
@EmreAtes: this is normal, as we try to enforce consistent flags across a DAG.  If you want to force gromacs to depend on installed things, you can use `spack install gromacs ^/hash-of-existing-dependency [...]` but that can be somewhat tedious.

@becker33: is there an easy way to avoid propagating flags to dependencies?  Also, are flags currently propagated to build dependencies?

[2017-06-27 11:34] #4605 closed

[2017-06-27 18:02] becker33 commented on #4610
@tgamblin Currently compiler flags do propagate to build dependencies, I doubt that's what we want.

There is not currently an easy way to avoid propagating flags to a dependency, the easiest I can think of is to build the dependency without the flag and then request that build by hash as a dependency.

[2017-06-27 19:59] JusticeForMikeBrown opened #4622 "Class constructor failed for package 'builtin.jdk'"
I don't know what's happening but I am seeking to pull latest from `develop.`

I did it this morning using `git pull origin develop.`

Trying again I now see:

[code]

Why are all of these packages in `var/spack/repos` shown as untracked?

[2017-06-27 20:01] olesenm commented on #4622
Looks weird. I usually do separate `git fetch REMOTE` and a `git merge REMOTE/BRANCH` just to make sure that I get what I am expecting. Maybe try that?

[2017-06-27 20:04] adamjstewart commented on #4622
What does `git log` look like? Are those 90 commits things you committed to the develop branch? The untracked files could be from failed pulls in the past.

[2017-06-27 20:07] davydden commented on #4622
It looks like your local develop is very different from origin's. If u don't expect this, try git reset --hards origin/develop which will remove any differences.

Personally, I keep develop untouched. If I need some custom changes, I do it in a separate branch.

[2017-06-27 20:07] JusticeForMikeBrown commented on #4622
This was due to a one-way rsync.  The source did not have all of these packages but I did pull them from the destination.

[code]

[2017-06-27 20:24] JusticeForMikeBrown commented on #4622
OK this is fixed though I need to now reinstall some packages.

[2017-06-27 22:07] JusticeForMikeBrown commented on #4622
Never mind.

Some of my packages cannot load.  Such as R:

[code]

[2017-06-27 22:31] JusticeForMikeBrown commented on #4622
I installed a new version of R but when I try to remove the old one with it's dependencies:

[code]

[2017-06-27 22:54] JusticeForMikeBrown commented on #4622
`lib/spack/spack/repository.py` has recently changed.   Has anyone else experienced this problem?

[2017-06-27 23:55] JusticeForMikeBrown commented on #4622
I reset to older heads and the problem isn't resolved.  So I am trying to manually delete `jdk` then reindex.

Odd behavior:

[code]

[code]

If I ```rm -rf jdk-8u92-lyqidl5x6h4f2bhtm5n7jq5ufb5ckoro``` then reindex this remaining version of jdk still appears on `spack list.`

[2017-06-28 00:47] JusticeForMikeBrown commented on #4622
Holy s***

I checked out an older version of jdk from `master` and not I am able to uninstall `jdk` and these 100+ `r` packages which are its children.

Hopefully then the issue's fixed!

[2017-06-28 12:43] iulian787 opened #4626 "hdf5 download paths"
It seems that hdf5 download paths have changed, for some of the versions. Is anybody in charge of hdf5, or can anybody submit a PR?

[2017-06-28 12:50] davydden commented on #4626
http://www.hdfgroup.org/ftp/HDF5/releases/hdf5-1.10/hdf5-1.10.1/src/hdf5-1.10.1.tar.gz works perfectly fine for me

[2017-06-28 12:51] adamjstewart commented on #4626
Anybody can submit a PR for any package.

[2017-06-28 14:40] mathomp4 opened #4627 "netcdf-fortran wants to install netcdf even though it's installed"
All,

I'm sure this is a "Matt's a newbie" issue, but I'm stumped.

One of my ultimate goals in life is to get GEOS (Goddard's model) in spack. Why? Good challenge if nothing else, but also to have a nice one command install line? Oooh.

But, that first means being able to install all the libraries it needs. In the end that is essentially ESMF but it seems to have an issue beyond me when I try ins

[2017-06-28 14:48] olesenm commented on #4400
Would there be any way to create and use module includes?

[2017-06-28 15:10] adamjstewart commented on #4627
Isn't there already a `geos` package?

Spack doesn't look at already installed packages before it decides what to install. It takes an abstract spec (`netcdf-fortran %gcc@7.1.0`), concretizes it, and then installs anything that's missing. You can see what is going to be installed by running:
[code]
Anything with a green `[+]` next to it is already installed.

As you correctly surmised, unless you

[2017-06-28 15:17] benjaminjeliot opened #4629 "Conduit build fails to link due to missing MPI libraries"
When building conduit, the build fails at the linking stage due to missing MPI routines.

I can hack around it by changing line 266 of conduit's package.py from
[code]
to
[code]
From package.py, it looks like it was set to 'mpicc' for a good reason:
[code]

Build failure was observed on Ubuntu 16.04.

[2017-06-28 15:21] ssergien opened #4630 "HDF5 installation with Intel compiler 17.0.4 and Intel MPI 2017.3"
I was trying to install hdf5+mpi with Intel@17.0.4 and ^intel-mpi@2017.3.

The install failed with:
[code]
Then we changed the compilers in intel-mpi spec file from mpicc, mpicxx and mpif90 to mpiicc, mpiicpc and mpiifort:
[code]
Installation worked fine.

Then I switched back to mpicc, mpicxx, and mpif90. And restarted install with `-d` flag. Here is what I noticed:
[code]
For some reason mpicxx

[2017-06-28 15:32] adamjstewart commented on #4629
@cyrush It looks like you wrote this package. Any thoughts?

[2017-06-28 15:36] adamjstewart commented on #4630
I've seen this behavior as well, and so have several other users who have opened tickets to replace `mpicc` with `mpiicc` and friends. We should get to the bottom of this.

[2017-06-28 15:39] davydden commented on #4630
According to Intel (see link here https://github.com/LLNL/spack/pull/2980#issuecomment-276747987), it should work. Can u please check if I_MPI_CXX environment variable is being set by Spack?

[2017-06-28 15:41] davydden commented on #4630
@adamjstewart at least other wrappers work as expected, wired that mpicxx does not...

[2017-06-28 15:49] davydden commented on #4630
as far as I see, we do set it correctly https://github.com/LLNL/spack/blob/develop/var/spack/repos/builtin/packages/intel-mpi/package.py#L72  @ssergien can you double check that your `cxx` compiler does not accidentally point to gcc?

[2017-06-28 15:50] adamjstewart commented on #4630
@darachg You saw this behavior as well, correct?

[2017-06-28 15:53] mathomp4 commented on #4627
Yeah. That's a different geos (Geometry Engine Open Source probably). If I do get it in at some point I'll probably need to talk with the bosses. We were GEOS-5, but I think we now mainly refer to it as GEOS. That's in the future though!

Ooh. I'm learning!

Ah. I knew it had to be something like that.

Ah. Very nice! I'll do that forthwith. And add it to other packages too. Like:

Huh. I've built

[2017-06-28 15:54] davydden commented on #4630
here's info directly from Intel https://software.intel.com/en-us/node/528866

(MPICH_{CC,CXX,FC,F77,F90})
Set the path/name of the underlying compiler to be used.
Syntax
I_MPI_CC=compiler
I_MPI_CXX=compiler
I_MPI_FC=compiler
I_MPI_F77=compiler
I_MPI_F90=compiler
Arguments
compiler
Specify the full path/name of compiler to be used.
Description
Set this environment variable to select a specific comp

[2017-06-28 16:00] adamjstewart commented on #4627
If you can get it working, feel free to remove the `conflicts()` and my comment. It didn't work for me when I wrote the package though.

You are my new hero.

[2017-06-28 16:02] davydden commented on #4630
similar discussion with EasyBuild https://github.com/hpcugent/easybuild-framework/issues/2000 turns out those issues were a bug on Intel side: https://github.com/hpcugent/easybuild-framework/issues/2000#issuecomment-261484000 for a single specific version.

[2017-06-28 16:06] adamjstewart commented on #4630
So it sounds like EasyBuild went with `mpiicc` and friends then? @ssergien Can you confirm the presence of the bug by diffing `mpicxx` and `mpiicpc`?

[2017-06-28 16:15] ssergien commented on #4630
@davydden I set these variables and ran a quick test that I found on Intel forum https://software.intel.com/en-us/forums/intel-clusters-and-hpc-technology/topic/509164
[code]
[code]
Here is the output of my output1.txt. Seems like it Intel MPI picks up correct compilers that way.
[code]

[2017-06-28 16:28] davydden commented on #4630
you mean when you do it  by hand it works?

What I meant is that they should already be correctly set in https://github.com/LLNL/spack/blob/develop/var/spack/repos/builtin/packages/intel-mpi/package.py#L72

[2017-06-28 16:41] ssergien commented on #4630
Yes, I did it by hand.

[2017-06-28 16:55] ssergien commented on #4630
We also just edited hdf5 spec file and added:
[code]
Here is the output:
[code]
Looks like Spack sets these correct:

but we still see:
[code]
Weird.

[2017-06-28 17:05] davydden commented on #4630
Can you please try outputting '-v' of Spack's CDC compiler ...spack/env/intel/icpc? Maybe compiler wrappers are somewhat at fault?

[2017-06-28 17:39] ssergien commented on #4630
We added `-v` that did not work.
`--version` worked
here is the output:
[code]

[2017-06-28 17:55] cyrush commented on #4629
Hi All -- thanks for the report & I recognize this issue.

The existing solution is trying to be defensive about not introducing a mpi c++ interface link dependency (since we don't use the mpi c++ interface in conduit).

However, I have found some builds of MPI themselves introduce a link dependency on mpi c++ interface  - even if you are only using the mpi c interface.  To make things worse, the

[2017-06-28 18:01] hartzell opened #4633 "pkg_config only sets ACLOCAL_PATH if you're on a cray"
As written, [pkg_config only adds ACLOCAL_PATH to the environment when `platform = cray`](https://github.com/LLNL/spack/blame/develop/var/spack/repos/builtin/packages/pkg-config/package.py#L54)

That variable should be set all of the time (I need it for a new package that's in progress).

I'll fix this, but I'm not sure about how the `when` bits are handled.

If I supply a second `setup_dependent_

[2017-06-28 18:29] hartzell commented on #4633
I've found a download site for the package I'm working on (lftp) that does not require me to do all of the autoconf steps, so I'm off the hook for this.

I still think it's a problem, and I can use my previous false start to test a fix.

[2017-06-28 18:45] mathomp4 commented on #4627
@adamjstewart I'll probably need your help with esmf soon on how to best edit that make script (i.e., handling different mpich's etc). I'll make a new ticket for that.

[2017-06-28 18:45] #4627 closed

[2017-06-28 19:02] ssergien commented on #4630
just noticed that even after changing intel-mpi spec file to:
[code]
mpiicpc is still reporting g++-4.8.5
[code]
But installation of hdf5 finishes ok.

[2017-06-28 19:09] adamjstewart commented on #4630
So the GCC thing was probably a red herring...

The real question is why `mpicc` and `mpiicc` both work outside of Spack but `mpicc` doesn't work when using Spack. Here's a theory. When we use `mpiicc`, maybe it's pointing directly to the Intel compilers, not the compiler wrappers, right? Maybe that's the difference. We definitely still want to link to the compiler wrappers. We need to figure out

[2017-06-28 19:11] davydden commented on #4630
Most likely yes.

:+1:

[2017-06-28 19:54] hartzell commented on #4633
(in case it wasn't clear from the previous comment)

... and with a little guidance I will produce the PR that I test with my WIP package.

[2017-06-28 21:28] adamjstewart opened #4635 "External packages affect concretization"
This is a weird one. I have a `packages.yaml` containing:
[code]
When I run:
[code]
It chooses a different compiler and version than I requested. If I comment out the external package, it works as I would expect:
[code]

[2017-06-28 21:41] JusticeForMikeBrown commented on #4622
Everything's fine so I am closing this issue.

[2017-06-28 21:41] #4622 closed

[2017-06-29 01:15] ssergien opened #4636 "spec['blas'].libs missing OpenMP libraries for intel-mkl%intel+openmp"
When installing PETSc with intel compiler 17.0.4 and intel-mpi 2017.3 the installation fails with:
[code]
looking at the spack-build.out does not provide any clues.
A lot of testing messages, here are some of the last ones:
[code]

[2017-06-29 13:08] ax3l commented on #4062
@tgamblin is it ok if I mark the two `spack bootstrap` tasks in this issue as bugs instead of features? ^^

[2017-06-29 13:35] JusticeForMikeBrown commented on #4512
Did you try deleting the lock file?

[2017-06-29 14:26] adamjstewart commented on #4636
@BarrySmith

[2017-06-29 14:27] JusticeForMikeBrown opened #4638 "miniconda3 breaks enviornment modules"
Has anyone figured out workaround:

[code]

[2017-06-29 14:28] davydden commented on #4636
you need to look at the pets' own build log, i don't recall exactly, it's something like `build.log`.

[2017-06-29 14:29] adamjstewart commented on #4638
Can you run `module show miniconda3`? I want to see what environment variables it is setting.

[2017-06-29 14:31] JusticeForMikeBrown commented on #4638
It seems one does not exist:

[code]

[2017-06-29 14:33] JusticeForMikeBrown commented on #4638
LOL

[code]

[2017-06-29 14:36] adamjstewart commented on #4638
Interesting. I believe you have run into the same problem as: https://sourceforge.net/p/modules/mailman/message/27952351/

The problem is that `miniconda3` (or maybe one of its dependencies? don't know if `spack load` is recursive or not) includes its own Tcl installation which breaks `modulecmd`.

[2017-06-29 14:38] adamjstewart commented on #4638
If you google that error message, you'll see dozens of people with the same problem. Some people recommend not setting `LD_LIBRARY_PATH`, at least for modules like this. This can be configured in your `modules.yaml`.

[2017-06-29 14:41] JusticeForMikeBrown commented on #4638
Thanks @adamjstewart

I saw this problem referenced on the google machine but I didn't know where it could be addressed in Spack.  I'll try in `modules.yaml` as you suggest!

[2017-06-29 14:43] tgamblin commented on #4638
Miniconda includes its own dependencies, so spack can't manage them. It should probably say it conflicts with all the buncdled dependencies.  I *think* it would be not so hard to make a single miniconda spack package that does what their source installer does.

[2017-06-29 14:50] ssergien commented on #4636
I looked at petsc configure.log it gave me a little more info. It seems that it doesn't like Intel MKL libraries:
[code]

[2017-06-29 14:55] davydden commented on #4636
you need to dig deeper why it thinks MKL can not be used (there should be some test to compiler Blas/Lapack which fails). I did successfully build PETSc with MKL and GNU compilers.

[2017-06-29 14:56] adamjstewart commented on #4636
I think we're using the right syntax. According to `configure`:
[code]

[2017-06-29 14:57] davydden commented on #4636
we certainly are!

[2017-06-29 14:58] BarrySmith commented on #4636
Email the configure.log to petsc-maint@mcs.anl.gov it is usually too big to load up as an attachment.

   Barry

[2017-06-29 15:55] JusticeForMikeBrown commented on #4638
Thanks @adamjstewart this works.

[code]

`Reinstall` miniconda3 to regenerate module file then

[code]

[2017-06-29 15:59] JusticeForMikeBrown commented on #4638
Sorry, it seems the module file still contains $LD_LIBRARY_PATH though now it contains an unset var:

[code]

[2017-06-29 16:15] adamjstewart commented on #4636
@BarrySmith helped us figure out the problem! We are building with `intel-mkl%intel+openmp` (the default), but `spec['blas'].libs` does not return the correct libraries. If you look at `intel-mkl`, you'll see:
[code]
`spec['blas'].libs` returns `libmkl_intel_thread.so`, but it doesn't return `libiomp5.so`. The problem is that `find_libraries` is searching in `compilers_and_libraries_2017.4.196/lin

[2017-06-29 16:17] adamjstewart commented on #4638
Yes, `unset` means `unsetenv`. Try [this](http://spack.readthedocs.io/en/latest/tutorial_modules.html#filter-unwanted-modifications-to-the-environment) instead. You can replace `all` with `miniconda3` if that is the only module that you don't want to prepend `LD_LIBRARY_PATH` for.

[2017-06-29 16:35] JusticeForMikeBrown commented on #4638
@adamjstewart

Thanks.  That **unsetenv** would destroy other non-rpath programs, such as Python and R, which might need `$LD_LIBRARY_PATH.`

conda still works!

[code]

[2017-06-29 16:35] #4638 closed

[2017-06-29 17:01] tgamblin commented on #4062
sure!

[2017-06-29 17:03] davydden commented on #4636
@adamjstewart wow, thanks for figuring this out. Yeah, why can't `Intel` have everything in a single `lib` folder?!.

Could you add a `FIXME` in your PR so that we know what to be done?

[2017-06-29 17:17] davydden commented on #4636
for the record, Intel themself never mention that second location of `libopmp5`, their [Link advisor](https://software.intel.com/en-us/articles/intel-mkl-link-line-advisor) gives:
[code]
which suggests that everything is in `lib/intel64`. What a mess...

[2017-06-29 17:19] davydden commented on #4636
@alalazo @adamjstewart ideally, we should change `find_libraries` so that they throw error in case they could not find the requested libs.

[2017-06-29 17:25] davydden commented on #4636
@adamjstewart wait a second, @ssergien uses a stand-alone `intel-mkl` package, which looks for libs in `intel-mkl-2017.3.196-jyjmyutcol3veyt4bazftyqkxxzmfd7o/lib/intel64`. So `libiopmp5` should be somewhere inside `intel-mkl` prefix?

[2017-06-29 18:34] adamjstewart commented on #4636
@davydden The way things are being installed in develop, `prefix.lib` is a symlink to `pkg/mkl/lib`, which is a symlink to `pkg/compilers_and_libraries/linux/mkl`, which is a symlink to `pkg/compilers_and_libraries_2017.4.196/linux/mkl` etc, etc. So this directory only contains MKL libraries, not compiler libraries.

[2017-06-29 18:35] davydden commented on #4636
oh, i see. Thanks for reminding me the _nice_ directory structure of those packages :smile:

[2017-06-29 20:49] cyrush commented on #4626
FYI

Here is an example the new url for 1.8.16:

"https://support.hdfgroup.org/ftp/HDF5/releases/hdf5-1.8/hdf5-1.8.16/src/hdf5-1.8.16.tar.gz"

(I don't have time to prepare a pull request right now, but figured this may help)

[2017-06-29 20:52] adamjstewart commented on #4626
Oh shit, this new directory structure seems much more stable than the old one! Let me take a stab at this.

[2017-06-30 02:38] #4626 closed

[2017-06-30 08:25] olesenm opened #4645 "update libdrm version"

[2017-06-30 09:34] olesenm opened #4647 "update llvm release"

[2017-06-30 09:38] #4647 closed

[2017-06-30 11:49] #4645 closed

[2017-06-30 11:49] adamjstewart commented on #4645
You don't need to open an issue to open a pull request...

[2017-07-02 12:44] pramodk opened #4665 "How to enforce concretisation preferences specified in packages.yaml?"
I have following in `packages.yaml` :

[code]

Now if I try to build `packageB` with `clang` which has `packageA` as dependency, I thought `packageA` will be concretised with `gcc` but this is not the case. I can explicitly specify this at command line `... ^packageA %gcc@4.9.3`  but wonder if there is any way to enforce the rule/preferences specified in `packages.yaml`

[2017-07-02 13:01] adamjstewart commented on #4665
Unfortunately not. This is a long-standing issue that I first raised in #1371. I've seen no progress on resolving this issue.

[2017-07-02 13:24] pramodk commented on #4665
Ah ok, thanks for pointer. I will close this issue!

[2017-07-02 13:24] #4665 closed

[2017-07-02 16:08] pramodskumbhar opened #4666 "Issue with lmod when enabling direct autoload?"
Hello,

I am playing with `lmod` first time and enabling autoload of `direct` dependencies:

[code]

I have following modules :

[code]

Now if I try to load neuron module which has `tau` dependency I see:

[code]

The error seems obvious as we have to specify full name `mpich/3.2-vanqx22/clang/8.1.0-apple/tau/2.25.2`. Is this a bug or any configuration that I am missing?

[2017-07-02 18:01] pramodk commented on #1371
fix for this will help to avoid complicated spec dependency specification on command line!

[2017-07-02 18:20] pramodk commented on #2388
Same thing here on Theta @ alcf :

[code]

[2017-07-02 18:40] pramodk commented on #1990
@becker33 : I am testing with develop and don't see the error. But I am confused with below behaviour :

I have simple package where I specified install method as:

[code]

I am building on Cray system where I see:
[code]
And the package is getting built for this architecture :

[code]

But when I install package then it doesn't call arch specific install method :

[code]

Anything I am missing ob

[2017-07-02 18:55] pramodk commented on #1517
@mjwoods : if you have tested this we can close this issue. (for me it's failing due to other dependency errors, I need to figure out whats going on).

[2017-07-02 19:00] pramodk commented on #2191
As #1167 is merged, we can close this issue. @krafczyk ?

[2017-07-03 08:48] pramodskumbhar commented on #2096
Today I ended up with below cryptic error message and I had no idea what's going on :

[code]

Then realised this old issue with module loading.
@adamjstewart : I opened PR #4667.

[2017-07-03 11:27] ax3l opened #4668 "cling package"
Hi spack-team,

I would like to add a [`cling` package](https://github.com/root-project/cling) (also building a jupyter kernel) for CERN's C++ interpreter.
It looks like cling is usually based on a slightly older version of `llvm` which [also needs certain patches applied](https://root.cern.ch/cling-build-instructions). Should we add a new package for it instead of adding it to `llvm`?

In this mo

[2017-07-03 11:35] davydden commented on #4668
i would add older version of `llvm` and needed patches and do `depends_on(llvm@o.l.d)` in `cling`.

[2017-07-03 12:14] ax3l opened #4669 "pocl 0.14 install fails"
Building OpenCL via `pocl` fails on creating a symlink as of e5560dfbdee0235f6f727071cec968fd4913fab4

[code]

The stage looks like this:
[code]

But in the installed directory the `OpenCL` symlink is missing if I blindly comment out those lines.

[2017-07-03 12:18] ax3l commented on #4668
Not sure if that works, llvm has this "weird" plugin structure where you build llvm and its plugins (clang, cling, ...) in the same source tree... also, how to I call the `depends_on` "variant" of llvm which has the cling patches (the base llvm codebase itself is patched)?

It might be easier treating this like a hard fork of LLVM in a cling package, but I might be wrong.

[2017-07-03 13:19] adamjstewart commented on #4666
You should read [this section of the Lmod documentation](http://lmod.readthedocs.io/en/latest/080_hierarchy.html). Lmod uses what is called a "Core/Compiler/MPI" hierarchy. Let's walk through an example with the following module files:
[code]
When you set up Lmod, your `MODULEPATH` should be set to:
[code]
not:
[code]
This way, when you first log in, all you see available are compilers (and other

[2017-07-03 15:56] krafczyk commented on #2191
@pramodk @alalazo Yes, this issue is resolved with #1167. I forgot to reply here.

[2017-07-03 15:56] #2191 closed

[2017-07-03 19:09] pramodk commented on #4666
thank you very much @adamjstewart  for explanation!

I gone through modules tutorial and understood some more details. I see how the `Core` compiler is set and then as we load modules, new paths get added and hence available modules.

I can see how to add MPIs but, if I am not wrong, compilers don't get registered into DB. (I tried adding entry into `packages.yaml`)

Here is scenario : I have `gcc

[2017-07-03 19:16] adamjstewart commented on #4666
Okay, so if the behavior you want is:

then you have to remove them as core compilers. Compilers _should_ get registered in the database. What happens when you add them to `packages.yaml`, mark them `buildable: False`, and run `spack install gcc` and `spack install clang`?

[2017-07-03 20:25] pramodk commented on #4666
Ok, I was installing other packages but not compiler itself. I see DB registration once I try to install them.
With below commands do we expect to have two registrations? (i.e. gcc %clang && gcc %gcc ?)

[code]

By the way, `clang` is not a package. So we can't install it. I created new package and then installed.

Now once I refresh modules, `module av`  takes `very long` time. I did `^C` :

[cod

[2017-07-03 20:46] becker33 commented on #1990
@pramodk What branch are you using? I see mod2c is not in develop, so I can't reproduce the error.

[2017-07-03 21:11] pramodk commented on #1990
Ahh.. mod2c is local package that I have. I believe you could reproduce this issue with any other package (with arch specific install method).

[2017-07-03 22:50] adamjstewart commented on #4666
Hmm, I think you're going to need some sort of core compiler (the one that comes from the operating system, not the ones you installed with Homebrew/Spack). Then, use that compiler to install newer versions of GCC/Clang if you want. Until you have a `core_compiler` that was used to install GCC/Clang, things aren't going to work the way you expect. I assume you have XCode installed and that comes w

[2017-07-04 01:26] hartzell commented on #4666
Here's my modules.yaml:

[code]

I use the system compiler (gcc 4.8.x on various releases of CentOS 7) to `spack install` and `spack compiler add` gcc@5.4.0 as the first steps in deploying my environments.  I use that compiler to build all of my toys.

I end up with a `.../share/spack/lmod/linux-centos7-x86_64/Core` directory that I `module use`; it contains a `gcc/5.4.0` modulefile.  I `module lo

[2017-07-04 06:03] alalazo commented on #2191
Yeah, now we have only 526 issues to go! :smile:

[2017-07-04 07:02] ax3l commented on #4669
@eschnett as the original author, do you have any idea why this fails?

[2017-07-04 08:38] alalazo commented on #4666
@pramodk

This statement is not completely true. If you build a compiler via Spack, it is added to the DB as every other package. This also happens if the package is external. What doesn't happen automatically is to register *this* compiler as one of the compilers usable in specs.

The package that provides `clang` is `llvm`.

@adamjstewart

This is a nasty corner case. The [LMod documentation](ht

[2017-07-05 00:46] eschnett commented on #4669
Did you install from scratch, or was this attempt to continue a previously aborted install? The latter could explain why the symlink already exists.

[2017-07-05 08:34] pramodk commented on #4666
@alalazo @hartzell @adamjstewart : thank you for all feedback. Finally I got this setup as I wanted!

Before that here is why I would like to have setup this way : our software stack include simulators/tools for neuroscience that I want to develop/deploy on hpc systems where compilers, mpi stack is already provided (MIRA, TITAN, Piz Daint). I then deploy our stack using 2-3 compilers on these syst

[2017-07-05 11:42] ax3l commented on #4669
Thanks for the hint.
The issue also appears when building from scratch (on a Debian testing with Python 2.7.13 and nvidia drivers installed).

[2017-07-05 12:05] pramodk opened #4674 "Store commit hash along with tag or branch"
While deploying softwares ideally one we have version with specific `commit/tag` and then install it via `spack`.

We have some packages that are being installed from `branch`. This is useful in scenario where developer fix the issue and other users do `spack install` and they get what they want.

But I wonder if Spack stores associated commit id somewhere. I am looking at installed `spec.yaml` bu

[2017-07-05 16:51] #1929 closed

[2017-07-06 11:53] mathstuf commented on #4504
The part that takes a long time in the tests is key generation. I suspect the cluster is low on entropy and GPG is blocking on `/dev/random` or the like. It also seems that `%no-protection` is newer than the version supported there. What version of gpg do you have (Spack uses `/usr/bin/gpg2`, *not* `/usr/bin/gpg`).

[2017-07-06 14:07] krafczyk commented on #4504
[code]

[2017-07-06 15:49] ax3l opened #4684 "Modules: Spelling of Environment Vars"
Currently, environment-variables in `modules.yaml` are consequently casted to uppercase.

In packages like `Ice-T` it's actually relevant if `ICET_DIR` or `IceT_DIR` is set in the environment, since only the latter is honored by CMake properly.

Probably, we should not change the spelling of such variables if the user sets them explicitly. This "cast-to-uppercase" was probably added because [gener

[2017-07-06 19:02] mathstuf commented on #4504
Hmm, I have 2.1.13 here. The hang and rejection of the option on CentOS6 is interesting, but probably due to it being old and lacking entropy.

FWIW, the test took about 11 minutes here. A second run took 4.5 minutes.

[2017-07-06 20:09] mathstuf commented on #4503
Note that not all CMake projects use CTest and using CTest does not imply CMake (though that is a much stronger correlation). IMO, the Spack support for CTest should be independent of CMake (though probably much easier to enable in CMake projects if there's any setup involved).

[2017-07-06 20:11] mathstuf commented on #4519
My guess is that pkg-config is setting `-Werror` on something and then choking on something in system headers.

[2017-07-06 20:51] alalazo commented on #4684
@ax3l I'll try to have a look at this asap. A quick skim through OpenMPI documentation seems to suggest the configuration is case sensitive...

[2017-07-07 04:08] adamjstewart commented on #4571
@jgalarowicz Can you see if this is fixed now that #4604 has been merged?

[2017-07-07 18:28] eschnett commented on #4669
I tried to reproduce this on an Ubuntu 14.04 system, but got stuck at installing LLVM, which is a prerequisite for pocl. The error is something like
[code]

[2017-07-07 18:31] eschnett commented on #4669
The symlink is relative. The current working directory is irrelevant. My original install code was refactored at some point, and apparently a now unnecessary `with working_dir(self.build_directory)` was left around. The symlink is supposed to be in the install tree, in the `include` subdirectory, and point from `CL` to `OpenCL`.

Can you check whether such a symlink already exists in your install

[2017-07-10 01:01] markcmiller86 opened #4699 "Support software package citation"
I could see it being useful to have a way for packages to identify the correct way to cite the package in literature and to have Spack be able to produce a bibtex file for a given set of packages.

[code]

Would produce a bibtex file (or equiv.) for foo and all its dependencies.

This would probably require a new package directive such as

[code]

[2017-07-10 04:47] davydden commented on #4699
that would be nice and would support developers.

However, u would need to have a Bibtex entry for each version of a package (except for develop and alike).

I also disagree that dependencies should be included automatically: say if I build deal.ii with PETSc, i am not necessarily using it. All my calculations might be using Trilinos instead. Same on PETSc side: it might be build with superlu-dist

[2017-07-10 04:50] davydden commented on #4699
Not sure how umbrella packages like Trilinos suggest citations. Say, maybe u would be asked to cite extra when certain parts are used, i.e. MueLu preconditioner package.

[2017-07-10 08:02] ax3l commented on #4669
[Here](https://github.com/ax3l/dockerfiles/tree/master/spack/opencl) is a Ubuntu 16.04 Dockerfile to reproduce the issue:

**Dockerfile:**
[code]

**packages.yaml** (place in same dir):
[code]

Reproduce:
[code]

[2017-07-10 08:03] ax3l commented on #4669
will do!

[2017-07-10 15:15] aprokop commented on #4699
@davydden Yeah, Trilinos is a special snowflake, and one should really cite what is being used, though most people cite just a generic Trilinos paper.

[2017-07-10 15:21] markcmiller86 commented on #4699
@davydden ...I think its better to present user with *all*possible* bits of software used and let the manually eliminate those they know they did NOT use than to fail to present what they may have used.

PETSc is able to do this at turn time which is way cool because it means users get back information on the exact set of solvers, preconditioners, time integrators, etc, actually used in a PETSc ca

[2017-07-11 22:08] jiseung opened #4733 "Compiler dependency"
Is there a way to specify that a package *must* be built using clang? It will build with other compilers, but the executable will fail if clang wasn't used.

[2017-07-12 04:14] davydden commented on #4733
U can declare other compilers to be conflicting: conflict('%gcc')

[2017-07-12 16:32] ax3l commented on #2378
@alalazo I often have the case of installing C++ header-only libraries that pull in dependencies.
The install as described in this thread works well, but if I want to "use" those libraries with modules, similar to the debian `...-dev` packages, I need to load the module *and all it's dependencies* manually, so `CMAKE_PREFIX_PATH` is set for e.g. header files.

Is there a way in the [Package File A

[2017-07-12 22:19] woodard opened #4744 "Spack consumes stdin"
Why does spack consume stdin?

I did something like:
cat list | while read pkg;do spack install $pkg;done

and the loop terminated after one iteration because spack consumed all of stdin. To fix the problem I had to do:

cat list | while read pkg;do spack install $pkg </dev/null;done

Can we fix this? It is counter intuitive for someone writing scripts.

[2017-07-12 22:26] jgalarowicz opened #4745 "Question about how to specify arguments to qmake in spack"
Hi all,

I'm trying to add a new package, cbtf-argonavis-gui, which requires a qmake line that creates the Makefile.  The code in def install currently looks like this:
[code]

When ever I try to build, it appears that qmake doesn't think there is an option -o Makefile openss-gui.pro.   However, I can do that command outside of spack.   So, I'm wondering if anyone can spot what I'm doing wrong.

[2017-07-13 00:23] hartzell opened #4747 "Help finding old discussion re: the tip under getting_started.html#build-your-own-compiler"
I believe that I once stumbled across a discussion about the tip in the ["Building your own compiler" section of the getting started docs](http://spack.readthedocs.io/en/latest/getting_started.html#build-your-own-compiler).

My memory is that some people thought it would work and others didn't but that not many people actually follow the tip.

I can not find the discussion.  I *think* it was an Is

[2017-07-13 00:48] KineticTheory commented on #1436
I'm on Ubuntu 16.04.2 and had this same problem (spack checkout from 2017/07/11).  I had to comment all references to gettext in the manner described by @ax3l before git would build.

[2017-07-13 12:09] adamjstewart commented on #4747
#4061 is the most recent discussion of this tip.

The reasoning is that if you aren't a sys admin and want to play around with Spack, you may end up blowing away your entire installation tree from time to time, but you don't necessarily want to delete all of your compilers. By building your compilers with a separate Spack installation, you can avoid accidentally deleting them.

[2017-07-13 12:16] adamjstewart commented on #4745
Replace:
[code]
with:
[code]
and you should be good to go. `which` creates an `Executable` which runs a `subprocess` when it gets called. Like `subprocess`, it needs a list of arguments. When you pass `'-o Makefile openss-gui.pro'` as a single argument, the shell puts quotes around:
[code]
Here the option isn't `-o`, it's `-o Makefile openss-gui.pro`, which obviously isn't a valid option.

[2017-07-13 12:27] adamjstewart commented on #4744
One reason we consume stdin is so that you can toggle `v` while an installation is running to toggle verbosity. I'm not sure whether or not there is an easy way to fix this.

When I script installations, I always write something like:
[code]
Perhaps this is an option for you.

[2017-07-13 13:05] XL64 commented on #2383
I have similar issue but on the WRITE_LOCK part during install...

[2017-07-13 13:05] adamjstewart commented on #4733
@davydden is correct. Unfortunately, there is currently no "not" in the spec syntax, so you can't say `conflicts('not %clang')`. We've talked about reworking our compiler support to make it more similar to `depends_on`, but I haven't seen any progress on this front.

[2017-07-13 13:42] jgalarowicz commented on #4745
Hi Adam @adamjstewart
Thanks much for this information!   Much appreciated!
Jim G

I get this now, but I think that is because I still have some build issues with the setup of the build environment.

See build log for details:
  /tmp/jeg/spack-stage/spack-stage-KGBcJ_/cbtf-argonavis-gui/spack-build.out
[jeg@localhost packages]$ cat /tmp/jeg/spack-stage/spack-stage-KGBcJ_/cbtf-argonavis-gui/spack-b

[2017-07-13 13:42] #4745 closed

[2017-07-13 15:11] jiseung opened #4750 "Make implementation"
Is there a way to specify that the package must be built with GNU make (gmake)?

[2017-07-13 15:47] adamjstewart commented on #4750
You could add `depends_on('gmake')` and use `gmake()` instead of `make()`.

[2017-07-13 16:26] #4750 closed

[2017-07-13 16:28] jiseung commented on #4750
Oh great! Thanks. I thought guessed that was the case, but I wanted to confirm.

[2017-07-13 16:33] jiseung commented on #4733
Are there only six compilers in total for Spack? gcc, intel, pgi, xl, nag, and clang?

Also, is there a way to reconcretize spec or some way to resolve this issue?
`$ spack spec nut
Input spec
--------------------------------
nut

Normalized
--------------------------------
nut
    ^cmake
    ^random123

Concretized
--------------------------------
==> Error: Conflicts in concretized spec "nut@ser

[2017-07-13 17:23] mathomp4 opened #4755 "Error building gettext"
All,

Today I decided to try and build emacs with X support. Thus, spack decided I needed to build...everything (thanks X11). It got through quite a bit, but when it got to gettext:

[code]
I even tried updating spack via git to see if, hey, new package .py file, but nope. If I look at the build log:
[code]
It's like it's not linking in libxml2? And yet, it is a requirement, and I see it in my mod

[2017-07-13 17:53] baberlevi opened #4756 "Class constructor failed for package 'builtin.jdk'"
I am having an issue that sounds very similar to #4622 while trying to do a module refresh

We had installed jdk 8u92 prior to PR #4317 when minor_versions was introduced.  Doing a module refresh would throw:

    ==> Error: Class constructor failed for package 'builtin.jdk'.

    Caused by:
    ValueError: substring not found
      File "/home/baber/spack/lib/spack/spack/repository.py", line 579,

[2017-07-13 18:37] homerdin opened #4758 "Makefile with file generating scripts"
I am working on a makefile package that calls two scripts that generate files before creating the executable.  These files are generated in the stage, but the executable target does not see them.  Setting parallel to False does not fix the issue.  Does anyone know why this is happening?  I have worked around the issue by calling the scripts seperately in build:

[code]

Here are the Makefile Targe

[2017-07-13 22:09] woodard commented on #4744
Yeah but this breaks standard Unix functionality in other ways as well:
Say for example, you have a much longer list of packages in the script function that you provide and you want to break out of the script with ctrl-c you practically can't do it because spack consumed the stdin.
I would argue that your 'v' interactive capability is not well considered. Rather than assuming you are interactive p

[2017-07-13 22:31] woodard opened #4761 "Spack assumes terminal output when sending stdout to a pipe"
The terminal coloration seems to be stuck on and doesn't turn off when stdout is directed into a pipe:
Consider:
spack find | sort | uniq -c | less
Which shows you something unreadable like:
      2 abyssESC[0;36m@2.0.2ESC[0m
      2 ackESC[0;36m@2.16ESC[0m
      2 adept-utilsESC[0;36m@1.0.1ESC[0m
      2 adiosESC[0;36m@1.11.1ESC[0m
      2 adlbxESC[0;36m@0.8.0ESC[0m
      2 adol-cESC[0;36m@2.6.2E

[2017-07-14 02:24] adamjstewart commented on #4761
Can you test out #3013 and see if it solves your problem? I would really like to see that PR merged.

[2017-07-14 02:29] adamjstewart commented on #4744
I add the following to the script to get this to work:
[code]

There is a `-v/--verbose` flag, but if you forget it you can toggle it with <kbd>V</kbd>.

[2017-07-14 03:20] adamjstewart commented on #4755
Hey, I added those X11 packages! It's really nice if you're working on a cluster that doesn't have any X11 libraries installed, which is quite common. If you don't want to build gettext (or anything else) you don't have to! You can add them as external packages and mark them as `buildable: False` in `packages.yaml`. See http://spack.readthedocs.io/en/latest/build_settings.html#external-packages

B

[2017-07-14 03:25] adamjstewart commented on #4733
You can see a list of supported compilers with `ls lib/spack/spack/compilers`. If it's not there, it isn't supported.

Unfortunately not. I really wish there were. There are quite a few packages that don't build with PGI, and I happen to need to build things with PGI that depend on these packages.

[2017-07-14 15:09] hartzell commented on #4747
That's the one, thanks!

[2017-07-14 15:09] #4747 closed

[2017-07-14 15:10] jiseung commented on #4733
Thank you so much!

[2017-07-14 15:10] #4733 closed

[2017-07-14 15:51] hartzell opened #4766 "Setting GCC_ROOT in Lmod modulefiles leads to a surprise..."
There's a section in the [lua hierarchical module files tutorial](https://spack.readthedocs.io/en/latest/tutorial_modules.html#lua-hierarchical-module-files) that begins:

and it goes on to use *gcc* as an example:

There's also a tip in the [getting started section of the docs](https://spack.readthedocs.io/en/latest/getting_started.html#build-your-own-compiler) that suggests using a separate Spac

[2017-07-14 16:26] mathomp4 commented on #4755
Well, I took a closer look and those are *xml* not *xml2* refs, so I hacked the gettext.py to do:

[code]
So, just always build with included libxml and:

[code]
Yay? I have no idea how to use gettext, so I have no idea if it's now an exploding executable, but it built! I'll keep going on for emacs while ... Awwwwwww nuts:

[code]
[code]

[2017-07-14 16:31] hartzell commented on #4766
One further comment: with the `gcc/5.4.0` module loaded, when I run `gcc` from the shell I get Spack's `gcc@5.4.0` and there's no apparent problem.

But without an extra nudge, Spack is still using the system compiler.

If I:

[code]

and then `spack install pkg-config%gcc@5.4.0` (or make `gcc@5.4.0` the default via `packages.yaml` or ...) then things work as expected.

[2017-07-14 16:42] homerdin opened #4768 "Makefile. MPI compiler wrapper and LIBS"
I am working with a Makefile package and adding `LIBS=-lm` to the make call.  This appears to prevent the wrappers from injecting flags. I needed to explicitly add flags to get it to build.

[code]
It does not find the mpi libraries without the flags

[2017-07-14 18:16] alalazo commented on #4766
I am not sure I fully understand what's going on... Let's say that you have `gcc@5.4.0` built with Spack and registered as a compiler + your os provided compiler is `gcc@4.8.5`. Are you saying that something like:
[code]
is failing, while:
[code]
is not?

---
Now I am getting curious: `GCC_ROOT` apparently is not among the [environment variables](https://gcc.gnu.org/onlinedocs/gcc/Environment-Vari

[2017-07-14 18:30] adamjstewart commented on #4768
Spack's compiler wrappers don't tell the package what libraries to link to (`-l`), it tells them where to find the libraries (`-L`, `-I`, and RPATH). Maybe you should be using `+=` instead of overwriting the variables in the Makefile?

[2017-07-14 19:48] #4768 closed

[2017-07-15 00:10] hartzell commented on #4766
Yes, though I'm not explicitly asking for `gcc@4.8.5` (the same thing happens if the Spack installed `gcc@5.4.0` is *not registered* as a compiler...).

[code]

Same thing happens if I ask for `gcc@4.8.5`:

[code]

(I've touched up the above transcripts, changed a machine name to "blah" and a filesystem path to "poodle" because lawyers, sigh...)

Lo-Fi detective work: the exact string isn't in the

[2017-07-15 00:15] hartzell commented on #4766
After I figured this out and thought about it a bit, I've decided that I actually *should* be doing `(module purge; spack install ...)` when I'm working on new packages etc....

The modulefiles that provide my day-to-day environment set all kinds of helpful variables so that people building software automagically pick things up from that Spack tree.

But in this case I don't want that.  I want eve

[2017-07-15 01:11] hartzell opened #4780 "Can a package to construct a (lua) modulefile that conflicts with another package?"
I need to build packages for a handful of bioinformatics tools that all share the annoying property of including local copies of well known tools (e.g. `bamtools`) in their source tree and installing them alongside their own tool.

I can make this work, but I'm going to end up with `.../opt/.../bamtools-.../bin/bamtools` and `.../opt/.../package_x-.../bin/bamtools` in my tree.

I'm "fine" with thi

[2017-07-15 03:55] naromero77 commented on #4519
I do not even get that far. I get a failure in configure.

[2017-07-15 12:19] alalazo commented on #3074
I am closing this issue as I cannot reproduce the problem. If you can find a series of steps that systematically show the problem, feel free to post them and reopen.

[2017-07-15 12:19] #3074 closed

[2017-07-15 12:36] alalazo commented on #4107
Right now (246c07f864d2db571f7e3ab55e875a4e75b93281):
[code]
Can we consider the issue closed?

[2017-07-15 16:36] alalazo opened #4781 "Use of "tags" attribute in packages"
I noticed that a few packages lately introduced the attribute `tags`, e.g. :
[code]
Other packages go even further, and they have a last line in their docstring providing redundant information:
[code]
In #4774 `tags` is only in the docstring (no attribute), and it uses a colon as a separator.

I would like to start a discussion on this, because I think we should decide how to tag packages before i

[2017-07-15 16:44] davydden commented on #4781
:+1:

FYI, we have had some discussion here https://groups.google.com/d/msg/spack/zGs-0RKz3_U/ybkeTDxTCQAJ  , https://github.com/LLNL/spack/issues/1526 and https://github.com/LLNL/spack/issues/1456

[2017-07-15 20:13] alalazo commented on #4296
@JusticeForMikeBrown I'll close the issue as it seems solved. Feel free to reopen if not.

[2017-07-15 20:13] #4296 closed

[2017-07-15 22:07] pkondamudi commented on #4781
[code]

Above way of handling is good. I also think ```` spack list tag1, tag2, tag3 ```` should also be allowed for enhanced search experience. This can easily done by using some information retrieval packages like [Whoosh](http://whoosh.readthedocs.io/en/latest/intro.html) which take the inputs gives the results ranked with scores and stops words which can be easily added too. Indexing and updat

[2017-07-16 15:30] KineticTheory commented on #1436
I'm not overly familiar with building git, so I'm uploading my `build.out` and `build.env` files to help anyone who is trying to resolve this issue.  One thing I notice is that when `autoreconf` is running during the git build, I see the message:

[code]

I don't know if that message applies to autoreconf itself or to the configuration of the git build directory. Anyway, here are the files:

[git-

[2017-07-16 20:54] katherlee opened #4782 "OpenBLAS compilation error with GCC 7 on POWER8"
This is a reported bug posted on https://github.com/xianyi/OpenBLAS/issues/1078, and a patch was proposed at https://groups.google.com/forum/#!topic/openblas-dev/YI1of4HODmw, which has been merged to the develop branch of OpenBLAS but not in version 0.2.19. See also https://github.com/xianyi/OpenBLAS/pull/1098.

[2017-07-16 21:39] adamjstewart commented on #4782
Want to submit a PR adding this patch to the package?

[2017-07-16 21:47] katherlee commented on #4782
Yep, already did :)

[2017-07-16 23:05] adamjstewart commented on #4782
Thanks! For the record, there's no need to submit an issue if you plan on immediately submitting a PR.

[2017-07-17 00:24] kdfred opened #4784 "Error installing Octave"
[code]

[spack-build (2).txt](https://github.com/LLNL/spack/files/1151430/spack-build.2.txt)

[2017-07-17 11:19] samfux84 opened #4787 "bzip2@1.0.6, two installations with same parameters but different hashes."
I have compiled bzip2@1.0.6 and it seems that the package has somehow changed (after I have installed it). If I try to do the same installation now, then it will have a different hash, even though almost all parameters are equal in both installations.

There is a different order of the compiler flags, but I did not change them as spack takes them out of my compilers.yaml config file:

[spackapps@l

[2017-07-17 11:32] alalazo commented on #4787
Can you post your `compilers.yaml`? This could be due to a dict used instead of an ordered dict. Which python version are you using?

---

It's difficult to debug further this particular case, as:
[code]
Using another package (and no flags in `compilers.yaml`) I don't get the behavior you are seeing:
[code]

[2017-07-17 11:41] samfux84 commented on #4787
@alalazo Thank you for your feedback.

I just started to set up the pbzip2 package as it was requested by some of our users. But the installation of bzip2 should not depend on the pbzip2 package. If I replace "install" with "spec", and run the command multiple times, I should get every time the same concretization of the bzip2@1.0.6 dependency:

[code]
Please find below my compilers.yaml:

[code]

[2017-07-17 11:49] samfux84 commented on #4787
@alalazo I am using Python 2.7.5:

[code]

[2017-07-17 11:53] samfux84 commented on #4787
@alalazo Thank you for the hint about Python.

I figured out, that there was accidentally a second Python version loaded in the environment, when I tried to install the pbzip2 package. After cleaning up the environment, then problem is gone.

Thanks again.

[2017-07-17 11:53] #4787 closed

[2017-07-17 11:59] alalazo commented on #4787
@samfux84 There may still be a problem if it was `python@3.5`. That version was the only one in which the implementation force a randomization of the keys order every time.

[2017-07-17 12:05] samfux84 commented on #4787
The second version in the environment was Python 3.6.0

[2017-07-17 13:17] jgalarowicz commented on #4571
@adamjstewart Sorry I didn't see this.  I will try today.

[2017-07-17 13:54] mathstuf commented on #4519
The log in the description shows that it gets to the build.

[2017-07-17 13:57] jgalarowicz commented on #4571
@adamjstewart This works (I can build libmng) on the Power 8 rzmanta system.

[2017-07-17 13:57] #4571 closed

[2017-07-17 14:06] adamjstewart commented on #4519
I was able to reproduce this bug on macOS Sierra with GCC 6.3.0. It builds fine with Apple clang though. I would suggest contacting the developers.

[2017-07-17 17:36] hartzell commented on #4407
This seems to have been a transient local problem.

[2017-07-17 17:36] #4407 closed

[2017-07-17 17:39] hartzell commented on #4386
Seems like this has been nicely discussed.

I'll leave on last link that I stumbled on over the weekend and close it.

http://www.gettinggeneticsdone.com/2013/08/script-for-launching-bare-jar-files.html

[2017-07-17 17:39] #4386 closed

[2017-07-17 17:41] hartzell commented on #4780
This is different than, but similar to #4071.

[2017-07-17 20:33] hartzell opened #4795 "Help with r-ada `depends_on(r_rpart)` but rpart seems to be in the R core."
I recently added a package for *ada* that `depends_on(r-rpart)`.  I just tried to activate it and it failed.  If I understand what's happening, `rpart` is part of the R core and I should not have added a dependency for it in the package.

Is that correct?  If so I'll update the package.

[2017-07-17 20:37] adamjstewart commented on #4795
See #4516, #3031, #2951, etc.

My understanding is that some packages are built into R and cannot be updated, some (like `r-rpart`) usually come with an R installation but can be updated or not installed, and some can be installed but don't come by default. #4516 will prevent the second group of packages from being installed, thus allowing activation.

[2017-07-17 21:45] eschnett commented on #4519
I confirm that the solution is to build with Apple's Clang instead of GCC. There are a number of packages that have such issues. In other words, you need to pass a respective `^pkgconfig %clang`. You might also need to explicitly specify other intermediate dependencies and/or variants, even if they are the default.

To ensure that your other packages are not built with Clang, you'll also need to e

[2017-07-17 21:56] hartzell commented on #4795
@adamjstewart -- It seems like what I should do is remove the `depends_on('r-rpart')` so that it works with the current state of the world, and then ask @tmerrick1 to add the dependency in his pull request so that things continue to work in the post-merge-of-4516 world.

Does that seem right?

[2017-07-17 22:00] adamjstewart commented on #4795
Well, `spack activate` doesn't work for most R packages currently, so I would be in favor of preparing for the eventual merger of #4516 and keeping the dependency there. The last time I talked to @tmerrick1 it sounded like he was close to being done, aside from me breaking `list_url` for half of the R packages.

[2017-07-17 22:12] adamjstewart commented on #4519
If something doesn't build, it doesn't build. That's not Spack's fault, and I don't recall anywhere that we claim to magically make things just work 😆

Yes, and these patches often come from upstream. If you want to spend hours digging through the source code to fix a bug, then be my guest, but you should probably contribute it back to upstream anyway. In my experience, developers are happy to hel

[2017-07-17 22:37] hartzell commented on #4795
@tmerrick1 -- Do you think you're a day, week, or month away from the merge (no rush on my part, just deciding whether to hold my breath or not).

[2017-07-18 10:29] samfux84 opened #4801 "What is the easiest way to keep the log file for successfully built packages ?"
Hi,

When installing a package with spack, I can have a look at the log file in case there is a problem with the installation. Is there also a good way to keep the log file, if there was no problem with the installation ?

I tohugh about the "dirty" option in the config.yaml file, but this is not exactly what I am looking for, because it also does not cleanup the environment. I would like to just

[2017-07-18 10:37] alalazo commented on #4801
Hmmm, log files should be already saved inside the `<prefix>/.spack` directory, right?

[2017-07-18 10:44] samfux84 commented on #4801
@alalazo Thank you for the hint. I was not aware of this.

[2017-07-18 10:44] #4801 closed

[2017-07-18 12:29] erikzenker commented on #3719
I have the same issue on a freshly installed Arch Linux. It would be really nice to have this dependency. Is there a hot fix for the moment?

[2017-07-18 13:00] mathstuf commented on #4519
+100 to @adamjstewart. Please submit patches upstream that Spack adds to packages. Unless they are 100% known to be Spack-specific, I'd even ask that issues be opened for each patch Spack ships to help track its way to the proper upstream repository (sometimes upstream says "no, that's not how it's supposed to work; here's a proper fix").

As a maintainer of FOSS projects, there's not much worse t

[2017-07-18 13:31] eschnett commented on #4519
I did not (or did not want to) say what @adamjstewart or @mathstuf are reading into my statement regarding me expecting other Spack contributors to create Spack-private patches for packages I need. Or maybe I am now reading too much into their statements... Be that as it may, I'm adding my "+100" to @adamjstewart and @mathstuf as well.

[2017-07-18 14:03] tmerrick1 commented on #4795
So how do I fix this:?

[tmerrick@hpcm packages]$ git checkout develop
error: You have local changes to 'var/spack/repos/builtin/packages/r-spatial/package.py'; cannot switch branches.

I was trying to update the develop on my site before uploading all of the pieces for a pull.

From: Adam J. Stewart [mailto:notifications@github.com]
Sent: Monday, July 17, 2017 5:01 PM
To: LLNL/spack <spack@norepl

[2017-07-18 14:29] ssergien opened #4803 "Installations with Intel MPI"
All my software installs involving Intel MPI fail. I tried PETSc, parallel-netcdf, and cp2k yesterday. Looking at the spack-build.out it looks for mpi wrappers in /blues/gpfs/home/software/spack-0.10.1/opt/spack/linux-centos7-x86_64/intel-17.0.4/intel-mpi-2017.3-dfphq6kavje2olnichisvjjndtridrok/bin and it cant find them there. They are in  /blues/gpfs/home/software/spack-0.10.1/opt/spack/linux-cen

[2017-07-18 15:12] adamjstewart commented on #4803
This will be fixed [here](https://github.com/LLNL/spack/pull/4300/files#diff-beae594d7f7a5e02b701962e97ca283bR96). You can use that `bindir` for now as a workaround until I'm done with #4300.

[2017-07-18 15:13] kothah opened #4805 "problem with xproto"
the xproto could be compile properly but while installing, i come across the following problem

[code]

[2017-07-18 15:18] adamjstewart commented on #4795
You can use:
[code]
to update develop _before_ uploading, or use:
[code]
to update develop _after_ uploading.

[2017-07-18 15:56] adamjstewart commented on #4805
Can you try `spack install -j1 xproto` and see if that works for you?

[2017-07-18 15:56] adamjstewart commented on #4805
If that doesn't work, maybe the previous installation left behind some files in the installation prefix and you need to clear them out first.

[2017-07-18 16:00] ssergien commented on #4803
So it seems that spack installing packages that already exist second time. I looked at the build options and they are the same. Why is that?
[code]
The last 2 seems the same too:
[code]
I tried to install petsc again it started pulling dependencies that already exist.

Petsc is still doesn't work though same MKL errors we saw before.

[2017-07-18 16:04] adamjstewart commented on #4803
Try comparing the `.spack/spec.yaml` in the installation directories. The variants may be the same for the package, but not for the dependencies. The versions of the dependencies could also be different. The compiler flags or virtual dependencies could also be different. As far as I know, Spack's hashing algorithm hasn't changed in a while, so I don't think that's the problem.

[2017-07-18 16:04] adamjstewart commented on #4801
This really needs to make its way into the documentation...

[2017-07-18 16:06] kothah commented on #4805
ah, it worked with `spack install -j1 xproto`
thanks a lot

[2017-07-18 16:11] adamjstewart commented on #4805
I was able to reproduce this as well on macOS, although I couldn't reproduce it on Linux. I'll modify the package to make this more permanent.

[2017-07-18 16:54] #4085 closed

[2017-07-18 16:58] #4383 closed

[2017-07-18 17:06] kothah commented on #4805
well, this is strange. It worked for both macOS and linux for me.
on macOS it worked with -j1 flag while on linux it worked in parallel

[2017-07-18 17:06] JusticeForMikeBrown opened #4811 "texlive $PATH broken"
It seems the binaries do not go into $PREFIX/bin but rather $PREFIX\x86_64-linux\bin which isn't added to $PATH

[code]

[code]

[code]

Anyone fixed yet?

[2017-07-18 17:50] adamjstewart commented on #4805
Same. Maybe it uses a flag to `install` that doesn't work on macOS? You should probably report this to the xproto developers.

[2017-07-18 17:53] adamjstewart commented on #4811
You can add this to `PATH` with `setup_environment`.

[2017-07-18 18:30] tmerrick1 commented on #4795
I tried the first one and got the following error when trying to upload the changes:

[tmerrick@hpcm packages]$ git push origin r3031fix -u
To git@github.com:tmerrick1/spack.git
! [rejected]        r3031fix -> r3031fix (non-fast-forward)
error: failed to push some refs to 'git@github.com:tmerrick1/spack.git'
To prevent you from losing history, non-fast-forward updates were rejected
Merge the remot

[2017-07-18 18:40] adamjstewart commented on #4795
Yes, since you are overwriting the history of your origin, you need to use `git push --force`.

[2017-07-18 20:45] hartzell commented on #4795
I once went to a three hour presentation titled "Git is easy"....  :scream_cat:

[2017-07-18 23:07] tkonolige commented on #4333
Looks like #3122 will add support for cray-libsci. For right now, I took the cray-libsci package (https://raw.githubusercontent.com/mamelara/spack/b36293160e551ed38075717dac7ee03de771a1e6/var/spack/repos/builtin/packages/cray-libsci/package.py)  from the pull request and put it in a local repo (see http://spack.readthedocs.io/en/latest/repositories.html).

[2017-07-19 00:37] #4805 closed

[2017-07-19 09:58] ax3l commented on #2378
@alalazo any idea? :)

[2017-07-19 12:04] alalazo commented on #2378
Currently there's nothing like that. The nearest thing you can do is construct directly the modifications:
[code]

I'll add this request to the list of improvements I need to implement for module file generation and either push it to #3183 or to a later PR (if that one goes in in the meanwhile).

[2017-07-19 22:13] adamjstewart commented on #4784
I would try contacting the developers. Perhaps your compiler is too old?

Based on [this](https://gcc.gnu.org/projects/cxx-status.html) I would guess that if you use GCC 4.7 or newer, things will work. You should also be able to get away with GCC 4.3-4.6 if you manually add `-std=gnu++0x`.

[2017-07-19 22:19] adamjstewart commented on #4633
Presumably this is resolved by #4736. Reopen if not.

[2017-07-19 22:19] #4633 closed

[2017-07-20 03:12] #3998 closed

[2017-07-20 15:31] jgalarowicz opened #4828 "Question/Help with building on the Cray platform"
I'm hoping someone can point out what I'm doing wrong w.r.t. building on the Cray platform.

I'm trying to port the spack builds of the Krell products to the Cray.  I'm doing that work at NERSC on Cori.   But, when I try to build for the Front end using gcc and the sles12-x86_64, spack says it can't find the compiler.

[code]

[code]
[code]

[2017-07-20 15:58] jiseung opened #4829 "Packages without build systems"
Is there a way to build a package that doesn't utilize any build systems?

[2017-07-20 16:40] alalazo commented on #4829
There's the `Package` class which is meant to be generic (i.e. is not tailored to any build system). You'll need to implement a function:
[code]
that does everything is needed to install the package.

[2017-07-20 16:41] jiseung commented on #4829
Great! Thank you so much

[2017-07-20 17:47] tgamblin commented on #4828
@mamelara

[2017-07-20 17:58] mamelara commented on #4828
I remember having to fix a bug here where if you specify the root package for the front end, the rest of the DAG would not follow suite and instead concretize using the back-end architecture.

I showed Greg the change I made to the concretizer, so I will submit a PR for review. You also have to specify both the os and the target to get what you want (probably another change needs to be made to the

[2017-07-20 19:32] jiseung commented on #4829
Are there any examples of these kinds of packages?

[2017-07-20 19:44] adamjstewart commented on #4829
[code]
There's about 357 of them. Once upon a time, there was only a single `Package` class, so many of them are waiting to be converted.

If you give me a package name, homepage, or installation instructions, I can help you convert it to Spack.

[2017-07-20 20:03] adamjstewart opened #4837 "MVV: Need to make sure default is part of values"
If you edit a package like `zlib` to add a fake mulit-valued variant:
[code]
there is no logic in place to make sure that `default` is a member of `values`. Spack installs `zlib foo=bar` just fine. @alalazo Is this expected or is it a bug?

[2017-07-20 20:03] jiseung commented on #4829
Oh, thank you so much! It's called miniGMG, and it doesn't have a homepage, just a [tarball](http://crd.lbl.gov/departments/computer-science/PAR/research/previous-projects/miniGMG/). The instructions on the README say that I should run ```cc -O3 -fno-alias -fno-fnalias -xAVX   -openmp miniGMG.c mg.c box.c solver.c     operators.ompif.c timer.x86.c -D__MPI -D__COLLABORATIVE_THREADING=6 -D__TES    T

[2017-07-20 20:11] adamjstewart commented on #4829
Interesting. Most package authors are nice enough to give you a Makefile, but I guess that's not the case here. I would translate this in Spack to:
[code]

[2017-07-20 20:30] mamelara commented on #4837
Question about multi-valued variants. Does default take multiple values? Example:

[code]

Wasn't sure what are valid entries since documentation is missing.

[2017-07-20 20:32] jiseung commented on #4829
I see. Thank you so much!

[2017-07-20 20:32] #4829 closed

[2017-07-21 08:30] svenevs commented on #1385
FWIW I took a peek into this, and was intrigued by the following:

[code]

The replacement of core python library utilities may lead to catastrophically unfindable bugs ;)  Generally I think the backports one are plug-and-play, but even the smallest difference could cause some potentially crazy nonsense --- who knows, maybe they already are?

It's existence in the `lib/spack/external` directory co

[2017-07-21 08:56] samfux84 opened #4839 "spack package for man pages would be cool"
spack provide a large repository of packages going from system tools all the way up to complex applications.

Many useful system tools are already in the builtin repo of spack.

Would it be possible to add a package that provides "man" ?

[code]

[2017-07-21 09:32] alalazo commented on #4839
PR welcome!

[2017-07-21 13:18] wrk21 opened #4842 "Packages hypre not compiling, C compiler cannot create executables"
We have a new system with Intel Skylake x86, Intel KNL and NVIDIA Tesla P100. Several packages were recently installed using spack.
Currently, I have troubles to install the trilinos package.
[code]
Any advice on how to proceed?

[2017-07-21 13:23] adamjstewart commented on #4842
Can you post the `config.log`? That will explain why the C compiler isn't working. Should be in the same directory as `spack-build.out`.

[2017-07-21 13:33] spco opened #4843 "Error: KeyError: 'No spec with name cbtf-krell in openspeedshop..."
From a brand-new spack installation, running
```./spack install openspeedshop```
from `spack/bin` gives me (after many other dependencies install)
[code]

Naively (first-time spack user) I've tried `./spack install cbtf-krell`, which succeeded, but re-running `./spack install openspeedshop` gives identical error message.

Any help?

[2017-07-21 13:43] wrk21 commented on #4842
I see spack-build.env  spack-build.out,
spack-build.env:
BASH_FUNC_module()=() {  eval `/usr/bin/modulecmd bash $*`
}
CC=/usr/local/software/spack/develop-290617/spack/lib/spack/env/intel/icc
CLASSPATH=/usr/local/Cluster-Apps/intel/2017.4/compilers_and_libraries_2017.4.196/linux/daal/lib/daal.jar:/usr/local/Cluster-Apps/intel/2017.4/compilers_and_libraries_2017.4.196/linux/mpi/intel64/lib/mpi.jar

[2017-07-21 13:43] wrk21 commented on #4842
spack-build.env included

[2017-07-21 13:53] svenevs opened #4845 "is py-sphinx being treated correctly?"
Currently, there are some hard-coded dependencies that don't make sense to me.

1. `py-sphinxconrtrib-websupport` is only a dependency from 1.6 onward:

2. `typing` should not be installed unless it is needed; unless it is v1.6.1 (bug).  This library comes with python 3.5.2+.

    - I forget the state of affairs.  Can something like a backport library "self-destruct" if it shouldn't be installed (

[2017-07-21 14:15] adamjstewart commented on #4845
1. Sounds good to me. A lot of people who add Python packages (myself included) add all dependencies for the latest version only. If the dependencies change or the minimum required version is bumped, we bump it for all versions, not just the latest version. Otherwise:
[code]
becomes:
[code]
So your method is more correct, we've just been lazy about this in the past.

2. I'm not sure if this will w

[2017-07-21 14:23] adamjstewart commented on #4842
Keep looking for a `config.log`, it should be in `/tmp/wrk21/spack-stage/spack-stage-fFzNmM/hypre-2.11.2/src/config.log`.

[2017-07-21 14:32] adamjstewart commented on #4843
(Hopefully) fixed by #4848.

[2017-07-21 14:41] wrk21 commented on #4842
This file contains any messages produced by compilers while
running configure, to aid debugging if configure makes a mistake.

It was created by hypre configure 2.11.2, which was
generated by GNU Autoconf 2.69.  Invocation command line was

  $ ./configure --prefix=/usr/local/software/spack/develop-290617/spack/opt/spack/linux-rhel7-x86_64/intel-17.0.4/hypre-2.11.2-6tdwlsz2pw72xhyo3ef7q4sxw62abqfr

[2017-07-21 14:41] wrk21 commented on #4842
the config.log

[2017-07-21 14:52] spco commented on #4843
Thansk @adamjstewart . That gets me past that error, but I now hit
[code]
The `spack-build.out` ends with
[code]

I'm happy to remove this all and try again if this is me somehow polluting my environment from the previous step, but I haven't done that yet as it takes >30m to complete the installation from fresh. Any ideas on what to do now?

[2017-07-21 15:02] adamjstewart commented on #4842
It looks like there is something wrong with your MPI installation. Are you using an external package? It might be better to let Spack install its own MPI package.

[2017-07-21 15:51] adamjstewart commented on #4843
Hmm, not sure what's going on here. @jgalarowicz may know more.

[2017-07-21 18:29] akthoma opened #4860 "course of action for precompiled binaries"
Question:
When a software is not available as source, and only is available in the form of precompiled binaries (dependent on system architecture or type), what is the course of action? Or would you prefer not to have these kind of packages on spack?

[2017-07-21 18:47] jgalarowicz commented on #4828
@mamelara Thank you for the information!   Please let me know how your PR goes and I will try it.  Jim G

[2017-07-21 18:58] adamjstewart commented on #4860
We have many packages like this in Spack. They are often licensed software, but don't need to be. Just override `install()` to copy the files to the installation prefix. See `jdk` for an example.

Architecture-dependent precompiled binaries are frustrating. So far we've been ignoring them. For example, `jdk` only installs the Linux executable, so it doesn't work on macOS. I started a discussion on

[2017-07-21 19:46] AlexisPerry opened #4863 "~real64 instead of +real64"
`spack install xsdk` producess the following error:
[code]
I looked at the metis package and can't figure out where the '~real64' is coming from.

[2017-07-21 19:58] davydden commented on #4863
This is a concretizer bug. U can get around it by being more explicit in xsdk w.r.t. PETSc dependency (see dealii package for an example of this bugfix). Unfortunately u will still hit some other issues after this.

There was a discussion on the commit, but I can't find it now.

[2017-07-21 20:01] adamjstewart commented on #4863
@alalazo This is another reason we no longer forward variants in `hdf5`. @tgamblin Really need this concretizer fix. We have 51 open issues related to concretization.

[2017-07-21 20:06] davydden commented on #4863
FYI, that's how I made it go in dealii https://github.com/LLNL/spack/pull/4735

[2017-07-21 20:17] kdfred commented on #4784
I tried using gcc-5.2.0 and got a different error

spack install octave %gcc@5.2.0
==> pcre is already installed in /dat/usr/e157618/spack/opt/spack/linux-rhel6-x86_64/gcc-5.2.0/pcre-8.40-2ld54ilc4z2ahg67orjn4zbdkdnujlup
==> readline is already installed in /dat/usr/e157618/spack/opt/spack/linux-rhel6-x86_64/gcc-5.2.0/readline-7.0-g6woxzo42ypkst33fzqmdwjnlzkhp3ev
==> openblas is already installed

[2017-07-21 20:28] adamjstewart commented on #4784
Based on the installation prefix, it looks like you're still using GCC 4.4.7. Or did you upload the wrong `spack-build.out`?

[2017-07-21 23:40] kdfred commented on #4784
My mistake

[spack-build.out.txt](https://github.com/LLNL/spack/files/1166970/spack-build.out.txt)

[2017-07-22 01:50] adamjstewart commented on #4784
Hmm, it quits with no error message? Can you upload the `config.log`? It should be in the same directory as the `spack-build.out`.

[2017-07-22 21:44] kdfred commented on #4784
[config.log.txt](https://github.com/LLNL/spack/files/1167661/config.log.txt)

[2017-07-22 23:34] adamjstewart commented on #4784
Here are the important error messages I'm seeing:
[code]
Can you post your `~/.spack/*/compilers.yaml`?

[2017-07-23 00:11] svenevs commented on #4845
Ok so basically I want to do

[code]

???

Also I'm going to skip 1.6.2 in lieu of 1.6.3 which is the current version `pip` will install.

[2017-07-23 01:32] adamjstewart commented on #4845
You can still incorporate the websupport logic. I think it's only dependencies of dependencies that the concretizer can't handle.

[2017-07-23 14:44] #4845 closed

[2017-07-24 12:00] wrk21 commented on #4842
Thank you for pointing in the right direction.
The installation was successful after removing support for Intel® MIC Architecture from our Intel module.

[2017-07-24 12:00] #4842 closed

[2017-07-24 14:38] paulhopkins opened #4874 "Octave installation links to Spack compiler wrapper which is unusable outside of Spack."
Spack uses a wrapper script to easily switch between different compilers and to add specific flags for runtime library linking. Some applications, like Octave and Python, will record the compiler path and will use it to install sub-modules. If these compiler wrappers are used outside of Spack they will fail because they do not know how to link back to the original compiler.

When Spack installs Py

[2017-07-24 16:47] ssergien opened #4881 "lammps will not install with intel compiler 17.0.4"
lammps will not install with intel compiler 17.0.4. When I check spack-build.out, it is empty.

The only errors I see are:
[code]

[2017-07-24 16:49] davydden commented on #4881
this is the error: `Error: AttributeError: 'Spec' object has no attribute 'mpicxx_shared_libs'`. Probably something is missing in IntelMPI package.

[2017-07-24 16:50] davydden commented on #4881
have a look at `openmpi` and see how `mpicxx_shared_libs` is defined.

[2017-07-24 18:00] kdfred commented on #4784
compilers:
- compiler:
    environment: {}
    extra_rpaths: []
    flags: {}
    modules: []
    operating_system: rhel6
    paths:
      cc: /usr/bin/gcc
      cxx: /usr/bin/g++
      f77: /usr/bin/gfortran
      fc: /usr/bin/gfortran
    spec: gcc@4.4.7
    target: x86_64
- compiler:
    environment: {}
    extra_rpaths: []
    flags: {}
    modules: []
    operating_system: rhel6
    paths:

[2017-07-24 18:36] sknigh opened #4883 "m4 does not build with clang"
[code]
produces a linker error
[code]

I suspect the build fails to find symbols that otherwise come from libgcc. I tried setting ```LIBS=-lcompiler-rt``` without success.

[2017-07-24 19:24] adamjstewart commented on #4784
Okay, I'm out of ideas. Have the Octave developers gotten back to you yet? They would know a lot more than me. I don't think this is a Spack bug from what I've seen so far, but I could be wrong.

[2017-07-24 19:42] jiseung opened #4887 "petsc does not build with ~double"
[code]
produces
[code]

[2017-07-24 19:43] jiseung commented on #4887
This is using gcc, btw

[2017-07-24 19:55] davydden commented on #4887
u need to check `petsc` log to see what's the problem. Most likely some package needs to be diactivated.

[2017-07-24 19:56] ssergien commented on #4881
So here is what I did to make it work:

Change
[code]
to
[code]
Change
[code]
to
[code]
and change
[code]
to
[code]
but I guess now that will not work with any other version of mpi. But these were a problem. For Intel MPI they point to wrong locations.

[2017-07-24 19:59] davydden commented on #4881
it looks like you use external mpi. Due to convoluted lib structure of Intel MPI for now it only works when using Spack to install it. IIRC extra symlinks are done to make it work. Also see
https://github.com/LLNL/spack/pull/4300

[2017-07-24 20:07] jgalarowicz commented on #4843
@spco @adamjstewart It looks like we may have to add a dependency to the openspeedshop build for libtool-ltdl-devel (in rpm terms).   I've seen this on some machines that don't have that rpm package installed.

[2017-07-24 20:20] jgalarowicz commented on #4843
@spco @adamjstewart I think this should fix the later problem:
     depends_on("libtool", type='build')

diff --git a/var/spack/repos/builtin/packages/openspeedshop/package.py b/var/spack/repos/builtin/packages/openspeedshop/package.py
index f51400f..95c3819 100644
--- a/var/spack/repos/builtin/packages/openspeedshop/package.py
+++ b/var/spack/repos/builtin/packages/openspeedshop/package.py
@@ -10

[2017-07-24 20:28] jgalarowicz commented on #4843
@adamjstewart Can I just check in the above fix tied to the 4880 update of the krell products?

[2017-07-24 20:32] jiseung commented on #4887
@davydden do you mean the spack-build.out log?

[2017-07-24 20:32] adamjstewart commented on #4843
Yeah go ahead.

[2017-07-24 20:36] jgalarowicz commented on #4843
@adamjstewart Ok, thanks.  Just submitted what should be the fix.  I can't test on my machine.

[2017-07-24 20:38] spco commented on #4843
Thanks guys, I will try this tomorrow and feed back. Appreciate the work.

[2017-07-24 20:40] davydden commented on #4887
Either that or PETSc own log

[2017-07-24 20:46] jgalarowicz commented on #4843
@spco Thanks for reporting the issues!

[2017-07-24 23:08] KineticTheory commented on #4883
I've also run into this problem.  My work around is to use the system provided m4 via a `package.yaml` entry.

[2017-07-25 00:49] adamjstewart commented on #4883
It would probably be best to contact the `m4` developers on this one, I don't think it's a Spack bug.

[2017-07-25 14:39] amklinv opened #4891 "xsdk build broken by recent commits to petsc and trilinos"
See https://github.com/LLNL/spack/commit/47fe9e7aad850bf2d650b33e5faa32cb7fe312a4 and https://github.com/LLNL/spack/commit/182554520f68a742f3c2fb15f7121e1faf583aaa

[2017-07-25 14:40] amklinv commented on #4891
I'll issue a pull request with the changes that worked for me.

[2017-07-25 16:37] jgalarowicz opened #4898 "Error: Invalid spec error for new un-committed package - debugging advice?"
Hi,

I'm trying to add a new package for our new GUI.   This new package depends on openspeedshop, which traditionally builds its own qt3 based GUI.  I've recently added a multi-valued variant to pass to openspeedshop that tells it not to build the qt3 GUI to avoid conflicts like the one below (Invalid spec).
But apparently, I'm not doing something correctly because I'm still getting this conflict

[2017-07-25 17:04] jgalarowicz commented on #4828
@mamelara Here is what I'm seeing today with the latest development packages.

jgalaro@cori10:~/spack/var/spack/repos/builtin/packages> spack spec cbtf%gcc@6.3.0 os=sles12 target=x86_64
Input spec
--------------------------------
cbtf%gcc@6.3.0 arch=cray-sles12-x86_64

Normalized
--------------------------------
cbtf%gcc@6.3.0 arch=cray-sles12-x86_64
    ^boost@1.50.0:1.59.0
    ^cmake@3.0.2:

[2017-07-25 17:51] adamjstewart commented on #4898
Sounds like a bug in the concretizer. Here's an idea. How about making `openspeedshop` depend on any version of `qt`. Then, you can check the version of `qt` requested. If it's `qt@4`, you can build the `qt4` gui. If it's `qt@3`, you can build the `qt3` gui.

[2017-07-25 18:02] sknigh commented on #4883
KineticTheory has a good workaround, however I try to avoid including external packages because it tends to leak other environment information into builds (Python will get confused IIRC)

I found two other workable solutions:
1. In packages, ```depends_on('m4%gcc', type='build')```
2. From CLI, ```spack install software%clang ^m4%gcc```

[2017-07-25 18:05] jgalarowicz commented on #4898
@adamjstewart Yes, I added that multi-value gui variant that I thought would help.  Unfortunately, the way this is implemented.   The qt3 GUI is embedded in the openspeedshop build, while the qt4/qt5 GUI depends on openspeedshop as one of its components.   So, I have to build openspeedshop because the qt4/qt5 gui needs libraries from the openspeedshop build.  So, I thought I could turn off the qt3

[2017-07-25 18:18] adamjstewart commented on #4883
We definitely don't want to do this. Just because one compiler doesn't work doesn't mean GCC is the only compiler that works.

This is a perfectly fine workaround until someone reports the bug to the `m4` developers and we get it fixed with a patch or new release.

[2017-07-26 01:03] KineticTheory commented on #4883
I [reported](https://lists.gnu.org/archive/html/bug-m4/2017-07/msg00003.html) this issue to the m4 development team.  Apparently, the issue is with gnulib (not m4) and the gnulib folks claim that this particular m4@clang compile failure can be resolved by proper installation and use of clang.  See this [LLVM bug report](https://bugs.llvm.org/show_bug.cgi?id=16404), particularly comment 12.

Does a

[2017-07-26 03:02] xywei commented on #4212
Had similar issues when downloading from Sourceforge. Solved by visiting the download page via a web browser and switching to another mirror that works.

[2017-07-26 06:10] xywei commented on #3719
@erikzenker On Arch it appears to be a different issue. For me I got the same error message and managed to fix it by modifying the source code of automake and escape all curly braces in regex expressions. Here is a [patch for the fix](https://gist.github.com/xywei/03b546054f0d2e2f76c5ac530c88268a).

[2017-07-26 08:23] tgamblin commented on #4874
#4470 is about to go in -- will this help in the case of Octave?

[2017-07-26 13:13] adamjstewart commented on #4874
#4470 doesn't make any changes to the Octave package. It makes it easier to filter compiler wrappers out of text files, but that isn't the case here.

[2017-07-26 16:18] rkalescky opened #4906 "Unable to specify dependency by hash"
Hello, I'm trying to install lammps with an mvapich2 that is already installed, but Spack still tries to rebuild mvapich2. Am I missing something needed here?

[code]

[2017-07-26 16:31] adamjstewart commented on #4906
Much like other package managers, Spack doesn't check to see if a package is installed somewhere on your system before installing it. If you want to force it to use an already installed package, check out our [external package](http://spack.readthedocs.io/en/latest/build_settings.html#external-packages) support.

[2017-07-26 16:34] rkalescky commented on #4906
Perhaps I'm missing something, but this mvapich2 installation was done with Spack so it should be usable correct?

[2017-07-26 16:39] adamjstewart commented on #4906
Oh, I completely missed that, sorry. I was looking at the `ldflags` and got confused.

The problem is how you're specifying the dependency. The hash includes **the package name**, version, variants, compiler, and dependencies. So when you say:
[code]
Spack translates this to:
[code]
Try this instead:
[code]

[2017-07-26 16:42] rkalescky commented on #4906
No problem at all. I tried and got the same thing.

[code]

[2017-07-26 16:48] rkalescky commented on #4906
I should say that I've also edited the compilers.yaml to add a lib directory, which might cause a dependency to be rebuilt as it might be different. However, I assume that I should still be able to specify an existing dependency installation. Not sure if this is related or not.

[code]

[2017-07-26 16:50] adamjstewart commented on #4906
Hmm, @becker33 @tgamblin?

Can you try using the full-length hash (from `spack find --very-long`)? Also try running `spack spec --install-status` instead of `spack install --restage`. That will show a `[+]` next to already installed packages and will tell you whether or not it is picking it up.

[2017-07-26 17:01] adamjstewart commented on #4906
Hmm, what happens if you leave out `--restage`? From the help command:
[code]
Perhaps the installation wasn't properly installed? @scheibelp Could this be related to #4331? Perhaps this installation was installed prior to #4331 and didn't have the right file installed that is being used to detect whether or not the installation was complete.

[2017-07-26 17:31] rkalescky commented on #4906
`spack spec --install-status` returns with nothing.

`spack spec --install-status` gives:
[code]

`spack install lammps%gcc@6.3.0 ^/er3die3` without `--restage` still tries to build mvapich2 again:
[code]

[2017-07-26 18:28] rkalescky commented on #4906
Do you think this may be related or separate issue? Here I'm trying to install opencv with openmpi since I'm having issues with mvapich and spack says that opencv doesn't depend on openmpi (MPI), but it appears that it does (it shows mvapich2 as I set that as the default MPI implementation to use). Both issues appear to be related to dependency resolution.

[code]

[2017-07-26 18:59] adamjstewart commented on #4906
This is unrelated. See http://spack.readthedocs.io/en/latest/known_issues.html#default-variants-are-not-taken-into-account-during-concretization

[2017-07-26 19:12] rkalescky commented on #4906
Ok, I see. Thanks.

[2017-07-26 20:25] becker33 commented on #4906
@adamjstewart I haven't had a chance to catch up on the rest of the conversation, but the counterintuitive hash behavior on the command line that you mention above no longer occurs.

`$ spack spec lammps ^mvapich2/er3die3`
is perfectly legal syntax now, and Spack understands to translate that to
`$ spack install lammps ^mvapich2@version%compiler@version+variants^dependencies`

Spack also still wor

[2017-07-26 20:29] becker33 commented on #4906
@rkalescky What output do you get for

`$ spack spec ^mvapich2@2.2%gcc@6.3.0 ldflags="-L/cm/shared/apps/slurm/current/lib64"  ch3_rank_bits=32 ~cuda~debug fabrics=sock process_managers=slurm threads=multiple arch=linux-centos7-x86_64`

In particular, is the hash you get for that the same as the hash for the existing mvapich2 installation with those properties?

[2017-07-26 21:03] rkalescky commented on #4906
I also tried both variations, `^mvapich2/er3die3` and `^/er3die3`, both give the same result.

`spack spec ^mvapich2@2.2%gcc@6.3.0 ldflags="-L/cm/shared/apps/slurm/current/lib64" ch3_rank_bits=32 ~cuda~debug fabrics=sock process_managers=slurm threads=multiple arch=linux-centos7-x86_64` gives me:
[code]

`spack spec ^/er3die3` for the existing installation gives me:
[code]
It looks like the princi

[2017-07-26 22:27] sknigh commented on #4883
I get a lot of this in the output, but it makes a working executable.
[code]

[2017-07-26 23:23] mamelara opened #4913 "variants in packages.yaml not showing up in spec"
Not sure if this is a duplicate issue but it would be nice to have the ability to specify variants for external packages and have them used. An example:

We want to link with cray-petsc and there are currently 4 different cray-petsc's to link to:
{cray-petsc, cray-petsc-64, cray-petsc-complex, cray-petsc-complex-64}

I was hoping to be able to add this to packages.yaml

[code]

Unfortunately whene

[2017-07-27 01:17] scheibelp commented on #4913
I was able to get the desired behavior by setting the variants explicitly for all cases in packages.yaml:

[code]

Default variant settings are not considered when matching external specs in package.py to the spec the user provides on the command line, so for example ```petsc@X.X.X``` above matches any combination of user-specified variants when calling ```spack spec```. This also means that the u

[2017-07-27 01:33] jgalarowicz commented on #4843
@spco @adamjstewart Hi Sam - just checking if adding the depends_on("libtool", type='build') worked for you, in order to get a successful build of openspeedshop.

[2017-07-27 02:20] scheibelp commented on #4133
Spack gets confused when prioritizing versions for go in this case because of the mix of X.Y and X.Y.Z version formats (e.g. this in part occurs because all instances of 1.8.x satisfy 1.8). I'm currently looking into a solution.

[2017-07-27 02:57] mamelara commented on #4913
I guess cray-petsc is one of the easier ones to know what kind of variants were built. Other cray packages like fftw are unknown which probably means we might need to add a combination of variants for just one package (I guess that's fine? More work on the user though). I say this because I was trying to build abinit+openmp which depended on fftw but I didn't put any variants (because I don't know

[2017-07-27 08:27] samfux84 opened #4914 "gnat dependency of gcc"
I am trying to build GCC 5.4.0 with spack. It has a variant languages:

[code]

The packages.py file contains the following statement:

    depends_on('gnat', when='languages=ada')

When trying to build it with languages=all, I would expect that it keeps the dependency on gnat, since all should include ada:

[code]

How would the syntax in the packages.py file need to be changed such that it keeps

[2017-07-27 08:47] davydden commented on #4914
we should really remove `all` from `gcc` and stick with the defaults. There is a discussion on this elsewhere (few months back), but i don't remember where...

[2017-07-27 08:49] davydden commented on #4914
feel free to create a PR to clean this up.

[2017-07-27 10:05] samfux84 commented on #4914
I will try to create a PR. Is there any documentation about how to do this (specific to spack) apart from the documentation on github ?

[2017-07-27 11:05] davydden commented on #4914
yes, have a brief look here http://spack.readthedocs.io/en/latest/contribution_guide.html

[2017-07-27 11:40] samfux84 commented on #4914
Added PR #4916. Hope that I did not do anything wrong.

@davydden Thank you for the link to the documentation.

[2017-07-27 11:41] davydden commented on #4914
it's all fine, no worries

[2017-07-27 13:51] adamjstewart commented on #4914
`all` does not include `ada`, it only includes the most commonly used languages. I know this is confusing, but blame GCC. I would also like to replace `all` with `c,c++,fortran`, but unfortunately not every version supports those languages.

[2017-07-27 13:53] adamjstewart commented on #4913
If you don't specify any variants, it is equivalent to saying "this satisfies everything".

[2017-07-27 13:54] #4914 closed

[2017-07-27 15:05] mamelara commented on #4913
[code]

and in my packages.yaml

[code]

Doesn't seem to work even if I explicitly say ```^fftw+openmp```

[2017-07-27 16:02] adamjstewart commented on #4913
That looks like a concretization bug. @tgamblin?

[2017-07-27 16:07] adamjstewart commented on #4843
This should be fixed by #4880. Feel free to reopen if not.

[2017-07-27 16:07] #4843 closed

[2017-07-27 17:38] scheibelp commented on #4913
Both the spec on the command line and the spec in packages.yaml have to be explicit at the moment, for example:

[code]

When choosing an external unspecified variants are not considered which gets you

but from looking into it there are a couple additional features that result in the mentioned undesired behavior:

* The external package is not considered concrete when it is substituted
* The exte

[2017-07-27 21:26] hartzell opened #4919 "Running spack with nohup fails with "...'input_stream' referenced before assignment""
I'm introducing one of my co-workers to Spack.  He uses `nohup` (I'm a tmux-er) and found that my build scripts fail (:scream:) under nohup.

We trimmed it down to a simple test case of creating a one line bash script that runs `spack install ...` and then running that script under `nohup`.

[code]

I doubt that this is what *should* be happening.

Is it expected given what Spack's doing to redire

[2017-07-27 22:05] bvanessen opened #4920 "spack setup installs package that is being setup"
When I run spack setup to create a local spack environment for building a project it will install an empty instance of the package at the end of the installation process.

[2017-07-27 23:10] mamelara opened #4921 "Enforcing shared variants"
I'd like for package developers to start taking into consideration shared variants. With 1600+ packages, going through them and providing shared variants is going to take a long time. Maybe add a note if their package doesn't support static libs or something is fine, but I'd like to see less
"--enable-shared" in configure lines.

[2017-07-28 08:56] samfux84 commented on #4914
Tried

`spack install gcc@5.4.0+binutils~piclibs languages=ada,c,c++,fortran,go,java,jit,objc,obj-c++ ^binutils@2.28 ^gmp@6.1.2 ^isl@0.18 ^mpc@1.0.3 ^mpfr@3.1.5 ^zip@3.0 ^zlib@1.2.11 ^gettext@0.19.8.1+bzip2+curses+git+libunistring+libxml2+tar+xz %gcc@4.8.5 arch=linux-centos7-x86_64`

Failed with

[code]

[2017-07-28 12:53] adamjstewart commented on #4914
Yeah, I was never able to get the GNAT/Ada stuff working. Do you actually need it?

[2017-07-28 12:58] samfux84 commented on #4914
@adamjstewart I don't think that it is required. I just wanted to build GCC with all available features. How do you build the GCC compiler with spack ? Are you using languages=all ?

[2017-07-28 13:19] adamjstewart commented on #4914
Yes, I've always used `all`. That's the default if you don't specify, so I figured it would be a good default for Spack too.

[2017-07-28 13:21] samfux84 commented on #4914
@adamjstewart Thank you for your reply. Then I will also install it with languages=all.

[2017-07-28 13:40] adamjstewart commented on #4914
Of course, if you can get Ada working, that would be great too. But I don't think you'll need it. It's mostly used in flight control systems for helicopters and planes. Not a commonly used language.

[2017-07-28 16:32] #4883 closed

[2017-07-28 17:15] adamjstewart commented on #2363
For the record, this problem is still occurring for me. Adding `sudo` doesn't seem to fix it either. I'm unable to install `qt` on macOS because of this.

[2017-07-28 18:09] tgamblin commented on #2363
@mathstuf: does Kitware have a Sierra machine (or someplace you can verify that this works)?

[2017-07-28 18:10] mathstuf commented on #2363
Maybe? I'll ask around.

[2017-07-28 19:30] mathstuf commented on #2363
Yeah, there is one. I'll try and run a test later today, but I probably won't have results until Monday.

[2017-07-28 20:01] adamjstewart commented on #2363
Let me know if there's anything I can test on my end, or if you want any log files/output.

[2017-07-28 20:05] adamjstewart commented on #4920
@citibeth?

[2017-07-28 20:07] citibeth commented on #4920
We need to get the setup pr merged.  Setup has fallen to bitrot.

On Jul 28, 2017 4:05 PM, "Adam J. Stewart" <notifications@github.com> wrote:

<https://github.com/LLNL/spack/issues/4920#issuecomment-318749379>, or mute
the thread
<https://github.com/notifications/unsubscribe-auth/AB1cdwMl0EYOBWFon19gYy3U61pIUjVrks5sSj7ygaJpZM4Ol5dr>
.

[2017-07-29 00:53] hartzell commented on #4919
FWIW, this works:

[code]

[2017-07-29 01:32] scheibelp commented on #4758
If I add the following to your definition (and remove the definition of ```build```) then it builds:

[code]

The ```build``` function is always called and will call ```make``` in the directory indicated by ```build_directory```, which defaults to the base directory unless you override it.

Feel free to reopen if this seems unresolved.

[2017-07-29 01:32] #4758 closed

[2017-07-29 17:50] becker33 commented on #4906
I made a typographical error, that's why the first command didn't work. I wanted the output of

`$ spack spec mvapich2@2.2%gcc@6.3.0 ldflags="-L/cm/shared/apps/slurm/current/lib64" ch3_rank_bits=32 ~cuda~debug fabrics=sock process_managers=slurm threads=multiple arch=linux-centos7-x86_64`

without the `^`.

Also, can you paste the output of

`spack spec lammps %gcc@6.3.0`

and

`spack find -Lvfd m

[2017-07-30 01:42] adamjstewart opened #4927 "Spack compiler wrappers aren't compatible with SCons"
I'm working on a `SConsPackage` base class and started debugging some SCons builds. I discovered that SCons ignores the `CC` environment variable. If I add `'CC={0}'.format(spack_cc)` to the `serf` build line, it actually uses Spack's compiler wrappers, but I end up seeing the following error message:
[code]
Maybe SCons purifies the build environment for some reason? We might need a way to work ar

[2017-07-30 13:50] citibeth commented on #4921
What is a shared variant?  Can you be more specific, please?

[2017-07-30 16:43] adamjstewart commented on #4927
Dug a little deeper into this. It looks like SCons runs all build recipes in an isolated Python environment. By default, this environment doesn't pass any environment variables from the parent process to the subprocess (even `PATH`!). It is up to the package developers to manually pass these environment variables. Some packages like `cantera` have a `env_vars=all` option to pass these environment

[2017-07-30 17:50] adamjstewart opened #4933 "OpenBLAS post-installation tests fail"
[code]
If I skip the tests, `cblas.h` is correctly installed:
[code]
Not sure why it can't find it.

[2017-07-30 17:58] davydden commented on #4933
Is it, by any chance, running before installation?

[2017-07-30 18:33] adamjstewart commented on #4933
Nope, it was definitely post-installation. I saw the "generating cblas.h file in <prefix>/include directory" message.

[2017-07-30 18:38] davydden commented on #4933
weird.... Compiler wrappers won't have the prefix of the package being installed, but we add it manually via `-L`, IIRC. So this should be ok.

[2017-07-30 19:04] adamjstewart commented on #4933
Hmm, I wonder if it's because of that space at the end of the `-I` line. That's the only thing I can think of.

[2017-07-31 08:51] ax3l opened #4934 "repos.yaml: URL Support"
Hi,

support for URLs in `repos.yaml` would be awesome, e.g. to share development previous of new spack packages in repos where still a few fixes are needed in the build system before they can be contributed to spack's mainline.

I found already a note in the docs on this feature: http://spack.readthedocs.io/en/latest/repositories.html#repos-yaml

But since there is not issue for it yet I opened t

[2017-07-31 09:26] alalazo commented on #4837
@mamelara Just posting our private conversation on slack for others to see. The following:
[code]
is completely fine, and if done on package `foo` then the three commands:
[code]
**must** return the same hash.

[2017-07-31 19:57] #1369 closed

[2017-07-31 19:57] #4761 closed

[2017-07-31 19:58] tgamblin commented on #1369
@hartzell: does piping `spack find` work for you now?

[2017-07-31 19:59] tgamblin commented on #4761
@woodard: #3013 is merged -- can you see if piping works now?

[2017-07-31 20:00] tgamblin commented on #4761
Also it wouldn't be hard for us to add, e.g., json output for Spack find.

[2017-07-31 20:11] #4133 closed

[2017-08-01 12:01] olesenm opened #4942 "Module support for OpenFOAM is very poor"
This is a placeholder issue to document the current status, but does not immediately result in a solution.

Creating a module for OpenFOAM within spack is at the moment a bit difficult.
Populating the `setup_environment` manually with environment variables is cumbersome, error-prone and *very* large. Using the `EnvironmentModifications.from_sourcing_files` seems to partly work, but can have issues

[2017-08-01 13:39] adamjstewart commented on #4942
Check out what I'm doing for Intel: https://github.com/LLNL/spack/pull/4300/files#diff-57e7677cdc964b3262ddd8f8634a7602R446

This should work for you as well.

[2017-08-01 15:30] hartzell opened #4943 "expat@2.2.2 fails to build w/out high quality source of randomness"
@adamjstewart updated expat to 2.2.2 yesterday.  One of the changes is

High quality source of randomness appear to be the getrandom() call (linux 3.17+) the SYS_getrandom system call (linux 3.17+) or arc4random_buf (bsd or libbsd).

I apparently have none of the above (CentOS 7 kernel running `3.10.0-327.36.3.el7.x86_64`).

I'm not entirely sure what people in my situation (older kernels) are sup

[2017-08-01 16:31] dalg24 commented on #3018
I am having the same issue with the current HEAD.  Did anybody figure out what was going on?
I am able to untar manually and apply the python patch but it's frustrating because everything goes smoothly with GCC.

[2017-08-01 17:05] adamjstewart commented on #4891
Presumably fixed by #4893.

[2017-08-01 17:05] #4891 closed

[2017-08-01 17:57] scheibelp commented on #3018
@dalg24 you shouldn't have to untar manually - a few questions:

* Does ```spack clean boost``` resolve the problem?
* If that doesn't work can you try running ```spack purge --all``` first
* Could you add the output of the spack install command here (including the spec and the output of the command)?
* Could you also mention the OS you are running on?

[2017-08-01 18:10] junghans commented on #2441
I will leave this here:
[code]

I used this is the following case:
[code]

[2017-08-01 18:24] rkalescky commented on #4906
Here it is.
[code]
[code]
[code]

[2017-08-02 00:40] #4414 closed

[2017-08-02 00:41] tgamblin commented on #4334
@markcmiller86: fixed with #4478.

[2017-08-02 00:52] hartzell opened #4946 "Questions about the singularity package."
Two questions about the singularity package:

1. We're currently using the dynamically generated tarball built from a particular commit/tag on the source tree (aka [this "archive" link](https://github.com/singularityware/singularity/archive/2.3.1.tar.gz)).  This is the raw source and requires that the install run the maintainer level autotools bits (and adds prereqs to the package and etc...).

[2017-08-02 00:54] hartzell commented on #4946
@akthoma -- Was excited when I saw you add this.  A couple of questions....  Thanks!

[2017-08-02 02:21] weijianwen commented on #3018
I happed to built boost against Intel compiler several days ago. It works well.

[code]

@dalg24 could you add `--restage` flag and try it again?

[2017-08-02 07:42] olesenm commented on #4942
I've been lurking on your intel thread, but waiting for the dust to settle a bit. With your changes to `from_sourcing_files`, is there a way (easy or otherwise) to manipulate the changes or the raw JSON prior to emitting? For the OpenFOAM modules, we would actually need the `FOAM_USER_APPBIN` etc to have variable contents and then also propagate that into a few other places.

For example,

    set

[2017-08-02 13:06] adamjstewart commented on #4942
Are you saying you want to change/add environment variables after sourcing the file? That's really easy to do.

[2017-08-02 14:11] KineticTheory opened #4949 "m4 still doesn't build with clang@4.0.0"
After #4883 was fixed, I tried `spack install m4%clang` again.  The build goes much further than before, but it still fails to build for me.  `spack-build.out` has the following error.  Have any of you seen this error? Does anyone have a work around for it?

[code]

[2017-08-02 14:19] dalg24 commented on #3018
@scheibelp `spack clean boost` does not resolve the problem.  `space purge --all` did not help.
I pasted below the output of the install command.  The archive expansion with tar crashes.  When I list the files in the `spack-expanded-archive` directory, I see it is empty.  Note that `space install boost %gcc` runs smoothly.
@weijianwen The `--restage` flag did not change anything.
[code]

[2017-08-02 14:32] adamjstewart commented on #3018
Can you run with `spack -d`? That will enable debugging and you might get a clearer error message. I take it this problem only occurs with the `boost` tarball? But `tar -xf` works fine outside of Spack?

[2017-08-02 15:32] jiseung opened #4950 "#include <library>"
Could someone tell me how make works with a source file that includes a line like
[code]
where `dependency` corresponds to what would normally be in `depends_on()`?

Currently, I'm getting compiling errors from not being able to find these files.

[2017-08-02 15:42] dalg24 commented on #3018
@adamjstewart `-d` flag does not provide me with more useful information (or am I missing something?)  I pasted the log below.

With the boost tarball **AND** intel.  It works fine if I select GCC.  That is the most disturbing thing about it.

Yes

[code]

If I expand the archive myself and apply the patch, the install goes through:
[code]

[2017-08-02 16:02] mathstuf commented on #2363
Hmm, no issues copying Xcode on a Sierra machine. Fresh clone of Spack.

[2017-08-02 16:03] adamjstewart commented on #4950
Which dependency is it? Spack adds `-I<prefix>/include` for every link dependency. Not every package has the same directory structure after installation, so this might not always be enough. If a package includes, for example, `<foo/foo.h>`, my understanding is that the file needs to exist in `prefix/include/foo/foo.h`. Are both of these packages in Spack yet?

[2017-08-02 16:06] sknigh commented on #4949
I've seen this one before with a spack-installed LLVM in Ubuntu. I can't reproduce it at the moment with the local package-manager installed clang compilers for Centos 7, Ubuntu 16.04, or their respective containers.

[2017-08-02 16:06] jiseung commented on #4950
The package depends on 'eigen' and references it by <Eigen/Dense>

[2017-08-02 16:11] adamjstewart commented on #4950
Ah yes, I was about to say, `eigen` has known problems with this. They have a particularly confusing directory structure of:
[code]
Depending on what environment variables the package uses, you should be able to do something like:
[code]

[2017-08-02 16:55] jiseung commented on #4950
Great! That works. Thank you so much!

[2017-08-02 16:55] #4950 closed

[2017-08-02 17:09] adamjstewart commented on #4933
Removing the space at the end of the `-I` line worked! I'll write up a PR to fix this.

[2017-08-02 17:39] adamjstewart commented on #2363
Completely wiped out `~/.spack` and `~/spack` and tried to install `qt` from a fresh clone, but I ran into the same problem. This is on macOS Sierra 10.12.6.

[2017-08-02 18:12] jiseung opened #4955 "Dependent on FTTW"
I'm building a package dependent on FFTW, and it seems like it's breaking in reference to fftw files. The little excerpt below is from `spack-build.out`
[code]
Why would this happen?

[2017-08-02 18:15] adamjstewart commented on #4955
"Undefined reference" usually means that the library isn't being picked up properly. This could be because the library isn't in `prefix/lib` or `prefix/lib64`, or because the program isn't searching for the right `LIBS`.

[2017-08-02 18:24] jiseung commented on #4955
For the program that I'm trying to package/build, I've supplied the prefix for FFTW that's already installed. api.c is a file from FFTW. I also just generally can't seem to find these references in api.c, so I'm not really sure what's happening.

[2017-08-02 20:14] adamjstewart commented on #2363
If I run `spack install qt` a second time without a `spack purge`, Spack seems to think that Xcode was successfully copied, but `configure` isn't fooled:
[code]
If I run this, I get:
[code]
Do I need the entire Xcode installation? I assumed the command line tools were sufficient.

[2017-08-02 20:32] mathstuf commented on #2363
I think you do need a full Xcode. I'd be happy to know differently. Can you build Qt5 with just the command line tools outside of Spack?

[2017-08-02 20:34] mathstuf commented on #2363
I think you do need a full Xcode. I'd be happy to know differently. Can you build Qt5 with just the command line tools outside of Spack?

[2017-08-02 20:36] adamjstewart commented on #2363
I've built every other software package just fine with the command line tools. Is `qt` really that special? I don't mind installing the full Xcode, but it has frequent updates that take hours to download over WiFi. At the very least, we should update the docs to make it clear that the command line tools aren't sufficient.

[2017-08-02 20:56] mathstuf commented on #2363
I don't know. Qt is usually a special kind of beast though if anything is.

[2017-08-02 20:57] mathstuf commented on #2363
[This (unanswered) Stack Overflow question](https://stackoverflow.com/questions/44606219/qt-without-xcode) may be of interest.

[2017-08-02 21:03] adamjstewart commented on #2363
Okay, full Xcode suite is now installed. Trying to install `qt`.

Side note: Why does Spack run the following set of commands _hundreds of times_?
[code]

[2017-08-02 21:33] adamjstewart commented on #2496
@jrood-nrel Are you still having this problem? If so, see the discussion in #2363 and #4958. It looks like the full Xcode suite is required to install `qt`. The command-line tools are not sufficient. If you have the full suite installed, copying works without any permissions errors. But you'll first need to delete any partial copies of Xcode by running:
[code]

[2017-08-02 23:11] adamjstewart opened #4959 "Unable to build qt on macOS with clang"
There are quite a few errors, so it's hard to tell which one is the important one:
[code]
Full [spack-build.out](https://github.com/LLNL/spack/files/1195524/spack-build.txt)

[2017-08-02 23:20] adamjstewart opened #4960 "Unable to build qt on CentOS 6 with GCC 6.1.0"
Lots of error messages, not sure which ones are important:
[code]
Full [spack-build.out](https://github.com/LLNL/spack/files/1195531/spack-build.txt)

[2017-08-02 23:25] adamjstewart commented on #4955
That usually means that it's looking for a different version than the one you have installed, but if `api.c` is from `fftw`, I'm not sure why it would be missing those references. Can you run `ldd -r` on any dynamic executables and shared libraries from the `fftw` installation? That will tell us whether or not they are missing symbols.

[2017-08-02 23:28] adamjstewart commented on #4946
1. This change looks good to me. Fewer dependencies is always better.

2. Does Autotools not handle that?

[2017-08-03 00:21] adamjstewart opened #4961 "Unable to build qt on CentOS 7 with GCC 7.1.0"
This one actually produced a useful error message:
[code]
Full [spack-build.out](https://github.com/LLNL/spack/files/1195614/spack-build.txt)

[2017-08-03 00:49] adamjstewart commented on #4961
`qt~opengl` successfully builds though! We're definitely missing a dependency for `+opengl`.

[2017-08-03 02:50] adamjstewart commented on #4961
Our `qt` build is missing more than half of its dependencies. Run:
[code]
to see a full list of the dependencies `qt` looks for.

[2017-08-03 02:57] adamjstewart commented on #4961
I really, really don't want to go down the rabbit hole of making `qt` more robust and including all of its dependencies with variants to enable them, and then get that working for every version of `qt` we support, where the available option flags keep changing. But if someone wants to pay me to do it, we can talk.

[2017-08-03 13:52] mathstuf commented on #2363
Every time the compiler class is initialized, it refinds the real `clang` and `clang++` binaries. Where could that information be cached?

[2017-08-03 14:38] hartzell commented on #4943
@lee218llnl -- see #4945 for a fix.

[2017-08-03 15:01] jgalarowicz commented on #4898
@adamjstewart Is there some way around this bug?   I've tried many combinations but spack thinks I need qt3, even if I put a variant in the cbtf-argonavis-gui/package.py file that will cause openspeedshop not to depend on qt3.
    depends_on("openspeedshop+cuda gui='qt4'")
    depends_on('qt@4.8.6:')

I'm stuck right now with being able to move forward with spack for checking in the new GUI tool.

[2017-08-03 15:08] adamjstewart commented on #4898
Hmm, this is a rather intricate bug, and I'm not too familiar with the details of the concretizer. @tgamblin might know more.

[2017-08-03 16:38] jiseung commented on #4955
This is what I have from the dynamic executables:
[code]

[2017-08-03 16:40] adamjstewart commented on #4955
That looks right. What about the libraries?

[2017-08-03 16:41] jiseung commented on #4955
This is from `lib`:
[code]
I think most of the undefined symbols are coming from MPI and OpenMP things

[2017-08-03 16:47] adamjstewart commented on #4955
It sounds like there's something wrong with the way `fftw+mpi` is being built. That explains your original error messages too.

[2017-08-03 17:01] jiseung commented on #4955
Oh I seeeee. I mistakenly saw that it was breaking in the middle of my package, but it's actually breaking while building FFTW. I'm getting similar errors from my first message. How should I go about debugging?

[2017-08-03 17:02] #4887 closed

[2017-08-03 17:11] adamjstewart commented on #4955
You could try building with and without MPI support, and try different MPI providers:
[code]
But it might be quicker just to contact the FFTW developers.

[2017-08-03 17:33] #4919 closed

[2017-08-03 19:24] #4933 closed

[2017-08-03 19:30] alalazo commented on #535
Closed as there was no reply since March. Feel free to reopen if still an issue.

[2017-08-03 19:30] #535 closed

[2017-08-03 19:44] alalazo commented on #903
@eschnett Is this still the case?

[2017-08-03 19:49] alalazo commented on #805
As of 269925f77539436045d8a1c2a7d8325d3e8d8c7f it works:
[code]
Probably it was fixed when we went to the bottom of all the weird issues exposed by MV variants.

[2017-08-03 19:49] #805 closed

[2017-08-03 19:57] #4943 closed

[2017-08-03 20:01] alalazo commented on #1375
Closing as duplicate (I think we have enough issues open on this not to forget it).

[2017-08-03 20:01] #1375 closed

[2017-08-03 20:03] alalazo commented on #1507
Can we close this, now that we build `hypre` as part of Travis tests?

[2017-08-03 20:25] alalazo commented on #2305
I think this changed since we merged registering external packages into the DB. If you can confirm feel free to close the issue.

[2017-08-03 20:27] dalg24 commented on #3018
[code]
The GCC install used the same instance of `tar`.  Note that bzip2 and zlib archives are expanded without any issues in the Intel install.

[2017-08-03 20:32] alalazo commented on #2583
@hartzell I'll close this (no reply since January). Feel free to reopen if it is still an issue.

[2017-08-03 20:32] #2583 closed

[2017-08-03 20:38] alalazo commented on #2755
The recipe of `r` changed in the meanwhile, and:
[code]
Can we close this, or is it open as a reminder of an underlying issue?

[2017-08-03 20:40] adamjstewart commented on #2755
It's open as a reminder of an underlying issue.

[2017-08-03 20:56] adamjstewart opened #4965 "Want to be able to print specific message for conflicts()"
I know we've mentioned this elsewhere, but I don't think anyone opened up a dedicated issue for it. Let's say I have a package (`qt-creator`) that requires a C++14 compiler. Currently, I can add the following directive:
[code]
Now, when I try to concretize qt-creator with an older GCC compiler, I get:
[code]
This error message isn't exactly helpful. It would be nice if we could do something like:

[2017-08-03 21:03] scheibelp commented on #3018
bzip2 and zlib are .tar.gz archives, boost is tar.bz2. When I looked up the error message

[code]

It indicates that tar segfaulted and so had an issue with the archive. That being said it appears it's the same tar so I'm not sure what to ask.

[2017-08-03 23:09] lee218llnl opened #4966 "qt 5.3.2 failing to build with "fatal error: xcb/xcb_icccm.h: No such file or directory""
As mentioned in #4925 Qt 5.3.2 is failing to build for me:

[code]

This header appears to be in ./qtbase/src/3rdparty/xcb/include/xcb/xcb_icccm.h. I don't see it in the spack-built libxcb.

[2017-08-03 23:12] KineticTheory opened #4967 "Trouble with variants and hyphens?"
Previously, I was able to build *trilinos* against a specific version of *superlu-dist* like this:

[code]

However, with the current _develop_ branch, I get this error:

[code]

Using `spack info` and reviewing `trilinos/package.py` it is clear that the `+superlu-dist` variant should be available.  I'm wondering if this is broken due to the hyphen in the name.  (I should note that `spack install

[2017-08-03 23:48] adamjstewart commented on #4967
Fixed by #4968. The problem is that the `superlu-dist` dependency was conditional on the version of `trilinos`. Since Spack doesn't concretize the `trilinos` version until after it reads your command-line spec, it didn't know that it depended on `superlu-dist`.

[2017-08-03 23:51] adamjstewart commented on #4967
@davydden I believe this bug was introduced in #1053, specifically https://github.com/LLNL/spack/commit/0e04e65ae0108437e6bf5d3e2233cdbc775fd136. But it sounds like @KineticTheory just ran into this for the first time, so I'm confused.

[2017-08-03 23:55] adamjstewart commented on #4967
Anyway, this is a fairly common concretization bug. As it was before, `trilinos+superlu-dist` didn't depend on `superlu-dist`, but `trilinos@version+superlu-dist` does depend on `superlu-dist`. You can confirm this by specifying any version:
[code]

[2017-08-04 01:01] jgalarowicz commented on #4898
@tgamblin Hi Todd - any ideas on this one?   Maybe the multiple value variant isn't being considered when looking at the ultimate dependencies for the openspeedshop package.  I think this worked when I had a single simple variant for whether qt3 was needed or not.

[2017-08-04 03:09] scheibelp commented on #4898
I'll look at this tomorrow.

[2017-08-04 07:12] alalazo commented on #4107
@davydden I am going to close this. Feel free to reopen if still an issue.

[2017-08-04 13:17] #4967 closed

[2017-08-04 13:28] samfux84 opened #4972 "building gcc 5.4.0 fails with "cannot find -lstdc++""
I am trying to install GCC 5.4.0 with the following command:

`spack install gcc@5.4.0+binutils~piclibs languages=all ^binutils@2.28 ^gmp@6.1.2 ^isl@0.18 ^mpc@1.0.3 ^mpfr@3.1.5 ^zip@3.0 ^zlib@1.2.11 ^gettext@0.19.8.1+bzip2+curses+git+libunistring+libxml2+tar+xz %gcc@4.8.5 arch=linux-centos7-x86_64`

and it fails with

[code]

The log file contains the error message:

[code]

Did somebody encounter

[2017-08-04 13:43] adamjstewart commented on #4972
What happens when you try `gcc~binutils`? I've never gotten `gcc+binutils` to build on any platform with any compiler.

[2017-08-04 13:45] jgalarowicz commented on #4898
@scheibelp Thank you!

[2017-08-04 14:02] samfux84 commented on #4972
Setting "~binutils" solves the problem.

Thank you for your help.

[2017-08-04 14:02] #4972 closed

[2017-08-04 16:21] #2463 closed

[2017-08-04 18:22] hartzell commented on #4972
You didn't provide enough of the log files for me to be certain, but there's a good chance that that bit of the build is trying to link something statically and you don't have the static version of those libraries available.

On my CentOS 7 systems, in addition to the "usual" development packages I've had to explicitly asked to have the `libstdc++-static` package installed.  I also install `glibc-

[2017-08-04 21:48] hartzell opened #4977 "Staging dirs disappear for failed builds."
I build a long list of packages regularly via a Jenkins job.

When a package fails to build, its staging directory is often removed, much to my frustration.

Here's what I see in Jenkins log file (the last line from spack is the `...'make'...` line, the it goes on with other output from the driver script):

[code]

Here's my `etc/spack/config.yaml` file, I believe this says to stage things in `/tm

[2017-08-05 01:26] tgamblin commented on #4977
Is `/tmp` being purged by the system?  If so you can just make `$spack/var/spack/stage` first in your list, and the directories won't be purged.  Otherwise, it's a bug with Spack.

[2017-08-05 01:48] bvanessen commented on #4913
@tgamblin I think that this is the same problem that I am running into with mkl.

[2017-08-05 01:54] scheibelp commented on #4913
@bvanessen is there an issue open for your case? Or would you be able to add details here? I'm working on a PR for this.

[2017-08-05 01:56] bvanessen commented on #4913
No, I just ran into the problem when I was trying to use the intel-mkl library with some options.  I will add the specific error message later tonight.

[2017-08-05 04:22] adamjstewart commented on #2737
#4982 is another example of this.

[2017-08-05 16:13] hartzell commented on #4977
When I make `$spck/var/spack/stage` the first item in the list it does indeed not use the temp. directory.

But, my build explodes (don't remember which package) when cmake constructs a command line that is too long to exec/execvp/.... because the path to the root of my tree is problematically long.

I can't guarantee that something isn't cleaning the temp. dir, **but** there are staging dirs ther

[2017-08-05 16:17] hartzell commented on #4977
It doesn't look like there's an environment variable equivalent to the `-d/--debug` option.

Am I missing something?  It'd be nice if I didn't need to search/replace all 50 or so in my install script.  Worthy of a PR?

[2017-08-05 17:56] #4782 closed

[2017-08-05 18:18] #4457 closed

[2017-08-06 14:44] adamjstewart commented on #1279
@scheibelp Any updates? There are at least 48 packages with commented out test deptypes now.

[2017-08-06 17:41] adamjstewart opened #4985 "Unable to build LLVM on macOS"
I'm seeing the following error message when trying to build LLVM on macOS:
[code]
Full build log [here](https://github.com/LLNL/spack/files/1203281/spack-build.txt). Any ideas?

[2017-08-06 18:02] adamjstewart opened #4986 "Unable to build LLVM on CentOS 7"
I'm trying to build LLVM on CentOS 7 with GCC 7.1.0. I'm seeing the following error message:
[code]
Full build log [here](https://github.com/LLNL/spack/files/1203298/spack-build.txt).

[2017-08-06 21:00] KineticTheory commented on #4986
This looks like a bug in `TaskPool.h.`  [std::bind](http://en.cppreference.com/w/cpp/utility/functional/bind) is defined in the C++ header `<functional>` but this header isn't included by `TaskPool.h.`.  Interestingly, https://github.com/llvm-mirror/lldb/blob/master/include/lldb/Utility/TaskPool.h has this header added to the source.

My guess is that `<functional>` was unknowingly included via an

[2017-08-07 06:31] samfux84 commented on #4972
@hartzell Thank you for your comment. This sound very reasonable. On our system, we do not have the static versions of these libraries installed.

[2017-08-07 12:24] olesenm opened #4989 "Adjust openfoam compilation for cray"
Issue raised in PR #4938 - but needs additional adjustments to OpenFOAM wmake rules to compile with the cray cc/CC compilers instead of gcc etc. (Ref: https://develop.openfoam.com/Development/OpenFOAM-plus/issues/558)

[2017-08-07 15:18] pramodskumbhar opened #4992 "Issue while building openspeedshop (older version of binutils?)"
I am trying to build openspeedshop on Ubuntu 16.04 and I see following (while building cbtf-krell) :

[code]

If I look into `CMakeFiles/CMakeError.log` I see:

[code]

@jgalarowicz : Is this due to old version of binutils that openspeedshop depends on ?

[code]

[2017-08-07 15:34] jgalarowicz commented on #4992
@pramodskumbhar I'm not sure.  I will take a look.  We should not need to depend on the old version of binutils now.   I recently put a patch into the openspeedshop and cbtf-krell to eliminate that dependency.  You can try changing it by taking off the 2.24 and krellpatch phrases.

[2017-08-07 15:52] pramodskumbhar commented on #4992
yes, everything works fine if I just use `depends_on("binutils", type='build')`.

In binutils package I see:

[code]

Is this relevant? If not, I created #4997 removing the patch.

[2017-08-07 16:04] becker33 commented on #2884
@alalazo I think that `${ARCHITECTURE}` should be included in the tokens we can use for modules. I think everything else may be better specified on a per-package basis (which would include dependencies as well).

[2017-08-07 17:12] homerdin opened #5002 "Patches and Package Namespace"
I have another repo other than builtin.  There is a lulesh package in both my repo and the builtin repo.  The builtin spackage has a patch, the version in my repo does not.  Spack was looking for the patch in my repo and failing to find it.  My thought was that the way spack checks for patches ignores the namespace?
However after installing the patch into my repo directory to work then removing it

[2017-08-07 17:13] #1866 closed

[2017-08-07 17:14] adamjstewart commented on #5002
This looks like a duplicate of the same bug first reported in #4236. @alalazo Did you ever track this one down?

[2017-08-07 17:18] alalazo commented on #5002
It should be fixed by #4307. I even made the fix cherry-pickable in case people didn't agree with the refactoring there.

[2017-08-07 17:37] pramodskumbhar opened #5005 "Issue while building mpiP"
Trying to build this on ubuntu desktop gives (config.log):

[code]

I am creating PR with additional `--with-cc` option to configure but then seeing next error:

[code]

[2017-08-07 17:48] #4898 closed

[2017-08-07 17:49] adamjstewart commented on #5005
I would start by converting all of the dependencies from `type='build'` to the default (build/link). I'm not sure why they would be build-only dependencies.

Note sure about the key error. I would have to see your PR.

[2017-08-07 17:59] pramodskumbhar commented on #5005
Ahh..the python scripts assume `LOGNAME` env variable which doesn't exist where I was running build (container). I have create issue with mpiP [repo](https://github.com/LLNL/mpiP/issues/1).

As suggested I have changed dependencies in the PR.

[2017-08-07 18:02] adamjstewart commented on #5005
Ah, that explains it. You could manually set that variable in the package file if you want to.

[2017-08-07 18:16] becker33 commented on #32
Closing as no longer requested. If anyone else wants this feature, we can reopen, but so far it looks like no one needs this.

[2017-08-07 18:16] #32 closed

[2017-08-07 18:24] becker33 commented on #518
@adamjstewart is this issue still live?

[2017-08-07 18:27] becker33 commented on #921
@eschnett are you still seeing this error?

[2017-08-07 18:31] adamjstewart commented on #921
@becker33 This bug is still present in the concretizer. Take any package (for example, `zlib`) and add the following line:
[code]
Instead of concretizing to the latest version of Python 2.7.X, Spack chooses _exactly_ 2.7:
[code]

[2017-08-07 18:34] adamjstewart commented on #518
Yes, last time I checked. Spack chooses the first match it finds, not the first match in `cxx_names` and friends.

[2017-08-07 18:38] becker33 commented on #1276
@mathstuf is this issue still live?

[2017-08-07 18:53] mathstuf commented on #1276
I haven't fixed it at least…

[2017-08-07 19:14] pramodskumbhar opened #5007 "Issue while building pango: "error: *** Could not enable any backends.""
While building paraver package I get:

[code]

[2017-08-07 21:09] pramodskumbhar commented on #5007
I was using external fontconfig:
[code]

I removed it  from `packages.yml`  and then its building fine.

[2017-08-07 21:28] adamjstewart commented on #5007
This kind of thing usually happens because `fontconfig` is installed, but `fontconfig-dev` or `fontconfig-devel` isn't installed. Or because the version installed on the system is too old.

[2017-08-07 21:28] #5007 closed

[2017-08-07 21:32] becker33 commented on #1149
I believe this is fixed by #4331. Feel free to reopen if that is not true.

[2017-08-07 21:32] #1149 closed

[2017-08-07 21:38] #5005 closed

[2017-08-07 21:39] jgalarowicz commented on #4992
@pramodskumbhar Just curious, did elfutils build ok for you on ubuntu?  I'm having trouble on my ubuntu platform, so wanted to check with you.  Thanks - Jim G

[2017-08-07 21:41] becker33 commented on #1492
This is fixed in the current develop (I don't recall which PR it was, I think #2261 or #2500). Closing as resolved.

[2017-08-07 21:41] #1492 closed

[2017-08-07 21:53] pramodskumbhar commented on #4992
I am building this on Ubuntu 16.04 and I don't see see any issue:

[code]

[2017-08-07 22:04] #4992 closed

[2017-08-07 22:22] ax3l commented on #2378
actually an additional `depends_on` `type` such as `"forward"` would be neat, too.

Once could allow header-only libraries with dependencies just to recklessly inject a `depends_on` in a dependent, e.g. for work-arounds as in #5014

[2017-08-07 22:35] becker33 commented on #2208
@pramodk is this still showing up for you? I currently only use one external package, but it appears to be recorded properly in the database. If you're still seeing it I can try for more of a reproducer.

[2017-08-07 23:17] becker33 commented on #2177
How is this different from #642?

[2017-08-07 23:20] becker33 commented on #2135
Closing as fixed by #3250. Reopen if that does not resolve the issue.

[2017-08-07 23:20] #2135 closed

[2017-08-07 23:23] becker33 commented on #2353
Closing as outdated given the changes to the tests since then.

[2017-08-07 23:23] #2353 closed

[2017-08-07 23:37] becker33 commented on #2265
Is this issue resolved as of #2769?

[2017-08-07 23:42] becker33 commented on #2359
Closing as fixed by #3250.

[2017-08-07 23:42] #2359 closed

[2017-08-07 23:49] becker33 commented on #2546
Closing as no longer reproducible.

[2017-08-07 23:49] #2546 closed

[2017-08-08 00:13] citibeth commented on #2177
Not much, I suppose.  I believe that more recent "spack server" proposals
supercede both.

On Mon, Aug 7, 2017 at 7:17 PM, becker33 <notifications@github.com> wrote:

[2017-08-08 01:27] adamjstewart commented on #2546
It's no longer reproducible because I hacked every package to default to `~X`. As soon as a single package defaults to `+X`, concretization grinds to a halt.

[2017-08-08 12:02] skosukhin opened #5018 "Questions on BLAS and LAPACK"
I would like to ask several questions about 'blas' and 'lapack' virtual dependencies.

Let's start with the [documentation](http://spack.readthedocs.io/en/latest/packaging_guide.html?highlight=virtual#blas-and-lapack-libraries). It tells us that we should use blas_libs and lapack_libs properties to avoid hard-coding. 'mkl-intel' has those properties but 'openblas' doesn't (anymore). Does it mean t

[2017-08-08 12:07] davydden commented on #5018
documentaiton is outdated, you should use `bl = spec[blas].libs`, `lp = spec[lapack].libs` and `sca = spec[scalapack].libs` to get LIbraryList for each one and then group them the way the package requires.
You may do `libs = sca + lp + bl` and  call `libs.ld_flags`.

For example, `mumps` does

[code]

and

[code]

that's trickier. AFAIK Spack does not yet have special ways of treating this.

[2017-08-08 12:08] davydden commented on #5018
p.s.

feel free to submit a PR to improve it.

[2017-08-08 12:12] davydden commented on #5018
p.p.s. and yes, i think documentation should really be updated. Other contributors have the same questions, i.e. @EmreAtes https://github.com/LLNL/spack/pull/4711

[2017-08-08 12:13] skosukhin commented on #5018
@davydden thank you, but could you take a look at 'mkl-intel'. It looks like its blas_libs property does some magic to generate the list. Do you think it would be enough just to call self.spec['lapack'].libs if the provider is mkl-intel?

[2017-08-08 12:15] alalazo commented on #5018
@skosukhin Documentation is quite outdated on this topic. I need to clean-up #3377 which contains some of the information you are seeking.

In a nutshell you shouldn't use `blas_libs` or `lapack_libs` anymore, just `libs`. This uses a chain of responsibility to look for:

1. `{virtual_name}_libs` if the name you used is that of a virtual spec
2. `libs` in the package
3. uses a default handler if n

[2017-08-08 12:16] davydden commented on #5018
i don't just think, I am absolutely certain it is :smile: Seriously, i test from time to time `dealii ^intel-mkl` which builds `petsc`,`trilinos`, `mumps` and the whole lot more. That's the whole point about the structure -- each provider is responsible to have a decent implementation. By default `libs` of package `foo` will look for `libfoo.so` in `prefix/lib`. So it works **for all** packages.

[2017-08-08 12:18] davydden commented on #5018
good piont @alalazo . So to cover `lapacke` interface, one needs to extend current code in blas/lapack providers to know about it and behave differently.

[2017-08-08 12:35] skosukhin commented on #5018
@davydden so we can just delete all blas_libs and lapack_libs properties from all the providers and don't lose anything? I am really confused.

[2017-08-08 12:45] alalazo commented on #5018
No. These are callbacks that are invoked when you refer to that package through a 'virtual name'. Example. Let's say your package `foo` depends on `intel-parallel-studio` that provides `mpi`, `lapack` and other virtual interfaces for a particular concretization. At some point in your package you'll ask:
[code]
What happens is that:
- `spec['mpi']` returns you the current provider (`intel-parallel-

[2017-08-08 12:46] davydden commented on #5018
:+1:

My comments above were about how to use the interface in other packages.

[2017-08-08 12:50] davydden commented on #5018
If that would not be the case, we would eventually end up with a whole lot of code dupcilarion where each and every 'foo' needs to have a correct if/else logic based on the chosen provider. I find this a very big advantage of Spack compared to other package managers, i.e. Homebrew, to which i contributed in the past.

[2017-08-08 12:58] skosukhin commented on #5018
@alalazo, now I get it. Thanks! It's very cool actually.
@davydden sounds like contributing to Homebrew was a bad habit you have managed to get rid of =)

[2017-08-08 13:03] skosukhin opened #5019 "Allow compiler wrapper to prepend-path"
Does it look like a good idea to extend #2275 by introducing 'prepend-path' keyword for compilers.yaml (yes, let's just integrate the whole lmod =)?

For example, that could help to tell Intel compiler to use particular binutils. Unfortunately, just setting environment variables is not enough for this: https://software.intel.com/en-us/comment/1910316

[2017-08-08 13:13] davydden commented on #5018
haha, yes

[2017-08-08 16:33] adamjstewart commented on #4203
This discussion came up in #4300, so I'm copying the relevant bits here.

Packages like `intel-mkl` install dozens of libraries all over the place, none of which are in `prefix.lib` or `prefix.lib64`. We _could_ symlink the important libraries to `prefix.lib`, but I really don't want to do that because:

1. It won't work for external packages
2. It's a lot of work to do this manually

To get aroun

[2017-08-08 17:08] alalazo commented on #4203
@adamjstewart We can probably do something like (pseudo-code):
[code]
This will permit to transition smoothly from using `prefix.lib` to `spec[name].libs`. What do you think?

[2017-08-08 17:08] davydden commented on #4203
probably if packages install into weird locations they don't work currently either. So i would not be worried about this case.

What is trickier are packages which install into `foo-prefix/lib` but they don't have a single library `libfoo.so` like `trilinos` which in my installation has 193 (! yes almost two hundred) libraries. So if you could extend `LibraryList` class to know about locations onl

[2017-08-08 17:24] adamjstewart commented on #4203
@alalazo I don't even think this is necessary. As far as I know, `spec['name'].libs` doesn't return an error at the moment, does it? It probably should though... With my design (searching for all libraries, not just libname), if find_libraries doesn't find anything, then `prefix.lib` and `prefix.lib64` won't have any libraries, so no need for a backup.

@davydden Oh, I'm not saying this is a probl

[2017-08-08 17:55] olesenm opened #5021 "Adios2 missing zeromq dependency"
@ax3l : I did a normal build without specifying any variants

    Call Stack (most recent call first):
    ..../cmake-3.9/Modules/FindPackageHandleStandardArgs.cmake:377 (_FPHSA_FAILURE_MESSAGE)
    cmake/FindZeroMQ.cmake:44 (find_package_handle_standard_args)
    source/dataman/CMakeLists.txt:51 (find_package)

[2017-08-08 18:03] davydden commented on #4203
o_O , so those are indeed header files without `.h`?! They look/named like directories to me.

tricky indeed.

[2017-08-08 18:27] becker33 commented on #2657
@citibeth I believe this issue can be closed?

[2017-08-08 18:43] becker33 commented on #3039
@serbanmaerean do you still see this error? In which package are you seeing this?

[2017-08-08 19:46] #4955 closed

[2017-08-08 20:17] sknigh opened #5029 "PAPI build failure when no fortran compiler present"
PAPI's build will (cryptically) fail if a fortran compiler is not installed. Is there a good way to have the package check for a fortran compiler and create a more readable error?

[2017-08-08 20:20] adamjstewart commented on #5029
You can check to see if `self.compiler.f77` and `self.compiler.fc` are set. See `hdf5` for an example.

[2017-08-08 22:08] ax3l commented on #5021
ah, I accidentally removed that in a rebase!
will add it again asap.

[2017-08-08 22:16] pramodskumbhar commented on #4860
@adamjstewart and all: I would like to ask about the packages that are possible to build with source but `very difficult` to build in practice (for most users). Take the example of `paraver` [package](https://tools.bsc.es/paraver) from Barcelona  for performance visualisation. I am using this for years but never built it from source because this is only used on front-end/local node. We generate pr

[2017-08-08 23:45] citibeth commented on #2657
yes, close it

On Tue, Aug 8, 2017 at 2:27 PM, becker33 <notifications@github.com> wrote:

[2017-08-09 00:13] #2657 closed

[2017-08-09 00:53] hartzell commented on #4977
I'm still scratching my head about this.  I'm really trying to solve my frequent crashes building `mono`, but the missing staging dir makes it awfully hard.

I'm running this:

[code]

in the middle of a long list of other `spack install` commands (which do not have the extra args).

I see this after it finishes installing the thing before *mono* (*mosh*...), note the link line:

[code]

Then it g

[2017-08-09 01:24] #5021 closed

[2017-08-09 02:15] scheibelp commented on #4977
If your spack instance is deep in your filesystem tree, maybe choosing a short absolute path for build_stage in config yaml will avoid issues with overly-long paths:

[code]

Also, if you run ```spack stage package-X``` and the stage for package-X remains that would be useful to know.

[2017-08-09 07:15] skosukhin opened #5032 "Old shlex doesn't support Unicode"
[Prior to Python 2.7.3, shlex module did not support Unicode input.](https://docs.python.org/2/library/shlex.html)

This leads to a crash on Cray when finding compilers: Cnl class calls modulecmd, which is Executable, which, after 0cd6555, returns Unicode strings.

I am going to sumbit a PR that fixes this problem in particular, but maybe we should introduce a single entry point for shlex, where w

[2017-08-09 07:28] olesenm commented on #5021
thanks - things getting lost in a rebase is too familiar.

[2017-08-09 08:43] skosukhin commented on #5018
And what do you think about introducing virtual dependencies for cblas, clapack, and lapacke while keeping blas and lapack to represent fortran interface? A bit ugly, maybe, but I don't know another way to express that a package needs C interface of LAPACK, for example.

[2017-08-09 09:11] davydden commented on #5018
i would not as this complicates things quite a lot.

I would just follow this `spec['hdf5:hl,cxx'].libs` --> `spec['blas:c'].libs` to get correct libs. Lapack/Blas providers should then fill it appropriately or throw an error if the don't have it.

[2017-08-09 09:15] skosukhin commented on #5018
@davydden yes, it's a nice thing to get necessary libraries but the problem is in concretization. How let Spack know that we need a provider of 'blas' that also provides C interface?

[2017-08-09 09:17] davydden commented on #5018
I agree, it will allow a package to conretize but will fail during the build time. But the question is -- do we really need this? I though `openblas`, `mkl` and `atlas` have C interface.

[2017-08-09 09:25] davydden commented on #5018
btw, this can be fixed when https://github.com/LLNL/spack/issues/1712 is fixed. Namely, you can introduce a `variant(c_interface=True)` and then require providers to be built with them. If the can not, then one can add (pseudo) `conflict(+c_interface, when=always)`.

[2017-08-09 11:17] samfux84 opened #5034 "Compiling libraries for each available compiler"
In our pre-Spack setup, we used to compile libraries like boost, fftw, metis, openblas etc. with multiple compilers (if the library has mpi support, then we would even compile all possible combinations compiler/mpi).

For instance:

[code]

But all of these builds where sharing the system libraries (autoconf, automake, m4, pkg-config etc.) which are not directly part of the compiler.

With my curr

[2017-08-09 11:22] davydden commented on #5034
see https://github.com/LLNL/spack/pull/4595 This is a known issue with the current code.

[2017-08-09 11:36] samfux84 commented on #5034
@davydden Thank you for your reply.

And how do you deal with this ?

Are you recompiling all packages with each compiler or do you just provide libraries compiled with the standard compiler (and provide the other compilers without additional packages, such that developer can use them to compile their codes) ?

[2017-08-09 11:41] davydden commented on #5034
I actually don't. Maybe @adamjstewart or @alalazo have some advices as they manage HPC.

[2017-08-09 13:20] adamjstewart commented on #5034
@samfux84 The best hack that I've come up with is to add packages you don't want to rebuild as external packages in `packages.yaml`. Even though they were built with Spack, they can be interpreted as system libraries. By adding `buildable: False`, Spack knows not to rebuild them. Just be sure not to specify the compiler or concretization may crash.

[2017-08-09 14:24] olesenm commented on #5021
BTW: for cmake things you might want to take a look at how the paraview/package.py manages ON/OFF bool values for cmake. Seems to reduce some typing.

[2017-08-09 15:57] hartzell commented on #4977
Of course, now that I've added instrumentation the build didn't fail last night....

@scheibelp -- thanks for the suggestion, I'll see if I can set that up.

If I specify a `/short/path` then I'll still end up with a link from `.../var/spack/stage` to it, it just won't be in `/tmp`.  Right?

Now that I type that, I'm back to not quite understanding why just:

[code]

was leading to the "argument l

[2017-08-09 16:14] becker33 commented on #4339
@mamelara does #5033 resolve this without introducing #4355?

[2017-08-09 17:02] #2942 closed

[2017-08-09 18:20] scheibelp commented on #4977
That's true, but also true when /tmp is used. So if the path length issue didn't occur when using /tmp, it may have to do with the length of the real path.

[2017-08-09 20:47] adamjstewart opened #5049 "Build timeouts in Travis"
Our build tests have been timing out at 50 minutes quite frequently lately. I've been restarting Travis jobs for around a third of new PRs. Perhaps we should build fewer packages, or remove the build tests altogether.

[2017-08-10 00:34] bvanessen opened #5050 "Intel-mkl fails to properly set the RPATH when using gcc"
I am trying to build our LBANN library in setup mode with:
[code]
when I work around another mkl issue when building with gcc (the fact that it doesn't put in the `-Wl,--no-as-needed -lgomp` link flags), I get a problem with the RPATH that is created by spack.

I get spconfig.py file that includes:
[code]
if you look at the part that include mkl/lib, it is wrong and should have intel64 at the end

[2017-08-10 01:35] adamjstewart commented on #5050
You could try #4300 and see if that behaves any differently, but I don't think it will solve your problem.

[2017-08-10 01:41] pramodskumbhar opened #5051 "How to add new compiler entry on Cray platform? (TypeError: sequence item 2: expected string, NoneType found)"
Spack auto-detects cray compilers/programming-environemnt and generate `$HOME/cray/compilers.yaml`. This works fine.

Now I would like create new environment (with additional modules) which has say `PrgEnv-intel` and `perftools` module also loaded. (typically for profiling code etc). So I created  `~/.spack/compilers.yaml` as:

[code]

Say `intel@18` is new spec /version. Now I want to use it as:

[2017-08-10 02:51] adamjstewart commented on #2353
For the record, `build_system_guess, python != generic` still fails quite regularly (just failed today). But the biggest problem right now is our build tests keep hitting 50 minutes and timing out. Opened a new issue at #5049.

[2017-08-10 06:33] bvanessen commented on #5050
I was able to get things working using PR #4300.

[2017-08-10 06:49] pramodskumbhar commented on #5051
my bad! sorry for noise! I thought `perftools-base` is not `prerequisite` on Cray KNL system. Typically we need to load `perftools-base` otherwise we get :

[code]

But I didn't see this warning/error in spack debug output. After adding `perftools-base` module in new compiler works fine.

We can close this ticket (it would be useful to get module error message though...)

[2017-08-10 08:11] ax3l commented on #5021
@olesenm oh, `(n)variant_bool` looks efficient, I like that. thanks!

[2017-08-10 08:49] michaelkuhn commented on #3719
On Fedora 26, `automake` fails to compile even when I manually add a `perl` dependency to the package. I have not investigated further, though.

[2017-08-10 15:09] #5051 closed

[2017-08-10 15:13] adamjstewart commented on #5050
@bvanessen Glad to hear it! I expect #4300 to be merged within a week or so.

[2017-08-10 15:34] bvanessen commented on #5050
That is great.  I will be excited to see this merged as soon as possible, so that we can move forward with recent commits for other packages as well as working with MKL.  I have a question about git logistics for working with pull requests. To use the PR, I had to manually move changes that are on develop into the PR.  While I can do this manually, if others want to try out the PR they will have t

[2017-08-10 15:47] adamjstewart commented on #5050
I generally only rebase when I need to resolve merge conflicts. Once it is merged you won't have to worry about this anymore.

[2017-08-10 17:24] fmahebert commented on #3719
@michaelkuhn Using the `dnf` package `perl-Thread-Queue` still works (for me) to enable building `automake` on Fedora 26.

[2017-08-10 18:42] jgalarowicz commented on #4513
@keitat @mamelara @adamjstewart I'm seeing a similar issue on a DOD Cray platform (shepard).   I see there are other PRs and Issues that are also in progress.

[2017-08-10 18:55] mamelara commented on #4513
@jgalarowicz #5033 should also address this error.

[2017-08-10 19:17] jgalarowicz commented on #4513
@mamelara Great!  Thanks for your work on these issues.

[2017-08-10 23:13] markcmiller86 opened #5066 "cannot understand spack error message"
On cooley.alcf.anl.gov, I was trying the following install for mfem...

[code]
And, I got back this error message...

[code]

First, I didn't ask for any particular version of superlu-dist, but this error message seems to suggest I asked for version `develop`. Next, whether I put `@develop` or `@5.1.3` after `superlu-dist` in the above command, that doesn't change behavior. How do I fix this?

[2017-08-11 06:04] davydden commented on #5066
that looks similar to conretization bug i had to workaround here https://github.com/LLNL/spack/pull/4735/commits/1479eab6ac8548b85ea5242d176d20643b8f2666

but you are certainly NOT using spack's main branch as

[code]

[2017-08-11 06:51] alalazo commented on #5066
The problem, I think, is that you *ask indirectly* indirectly for both versions. What I mean is that two or more  variants in the spec you ask for imply both versions of `superlu-dist`.

This can be nasty to track down in particular for packages that have lots of dependencies - currently you need to inspect them manually for inconsistencies. If I remember it well we had similar problems some time

[2017-08-11 10:18] alalazo commented on #5049
Maybe removing tests altogether is not a good choice, as they increase coverage by quite a lot. But I definitely agree that we need to make them faster, and maybe building fewer packages is the path to take.

Looking at the current spec we build:
[code]
I guess this was chosen because it builds both a common `mpi` and a common `blas` provider (plus a package depending on them). In this way we will

[2017-08-11 12:56] adamjstewart commented on #5049
I agree, we could probably find a package from each build system that builds in a minute or less. That would increase coverage quite a bit.

[2017-08-11 14:01] adamjstewart commented on #4203
I just noticed that `intel-mkl` uses:
[code]
Is this the recommended workaround until a better solution has been implemented?

[2017-08-11 15:58] jgalarowicz opened #5074 "Question about heterogeneous compute and front-end builds - keeping libraries for compute and login nodes separate"
For openspeedshop and its base components we build several of the open source components we use for the target compute nodes (Cray, BGQ) and for the login/host (frbnt-end) node.   We do this in two steps, and feed the compute node library paths into the front-end node build.   We have a xml data structure that controls the multicast tree that we fill in using the compute node libraries during the

[2017-08-11 19:23] markcmiller86 commented on #5066
@davydden but you are certainly NOT using spack's main branch as

Yes, correct. I am using the more variants for mfem PR (which I see @adamjstewart just merged today...Thanks Adam)...

Github question...I dunno but is there an easy way for another Spack developer to get a branch created for a PR on a forked repo? I mean, I don't think the `mfem_variants` branch is actually visible in the main Spac

[2017-08-11 19:54] alalazo commented on #5066
@markcmiller86 You can either add the 3rd repo (at which point you have access to all its branches):
[code]
of if the branch you are interested in is in a PR you can:
[code]
(assuming `upstream` is the main repository).

[2017-08-11 20:29] markcmiller86 commented on #1926
@citibeth ... the dummy tarball idea here has two drawbacks...

- 1.0 is the only version number one can assign to a _bundle_ or _meta_ package. I would like things like `0.1` or `0.9` or `alpha` or `develop`
- The LICENSE file the dummy tarball includes is a GNU license. IMHO, this is overly suggestive that the bundle is GNU licensed and certainly would be confusing to anyone who bothered to look

[2017-08-11 20:36] citibeth commented on #1926
See #3133 which addresses this issue.  Would anyone like to push #3133 across the finish line and get it merged?

[2017-08-11 20:36] #1926 closed

[2017-08-12 02:18] #4236 closed

[2017-08-12 02:18] #5002 closed

[2017-08-12 02:21] scheibelp opened #5078 "Need to get rid of RepoPath.dirname_for_package_name"
This function isn't useful if a package name is defined in multiple repos

#5053 sidesteps the ambiguity of this function by retrieving the path directly

https://github.com/LLNL/spack/pull/5053#issue-249288644 details potential complications with achieving this

[2017-08-13 08:22] lalallalaaj opened #5080 "Build Rose compiler needs .git information"

[2017-08-13 09:52] #5080 closed

[2017-08-13 17:33] pramodskumbhar opened #5082 "How to build docs locally ? Getting "AttributeError: type object 'NewBase' has no attribute 'enabled'""
How to build documentation locally?

I am reading instructions [here](http://spack.readthedocs.io/en/latest/contribution_guide.html?highlight=sphinx#documentation-tests) and doing:

[code]

which gives:

[code]

And mentioned log file ` /tmp/sphinx-err-LlqwUm.log` has:

[code]

[2017-08-13 17:59] adamjstewart commented on #5082
What version of `six` are you using?
[code]
Try upgrading to a newer version of `six` and see if that solves the problem.

[2017-08-14 16:53] roblatham00 commented on #3719
Ubuntu-17.10  (so yeah, admittedly I'm running not-yet-released software) gives this error too, even after installing perl-Thread-Queue (or on Ubuntu `libthread-queue-any-perl` and adding a dependency on perl.

[2017-08-14 18:23] #4339 closed

[2017-08-14 18:23] #5032 closed

[2017-08-14 18:27] healther commented on #4154
I just ran into this problem, when I tried to get a lokal flake8 version to run. Is there an open PR that should solve this?

[2017-08-14 19:53] pramodskumbhar commented on #5082
thanks @adamjstewart ! By default OS X had `1.4.1` which was causing this trouble.
All looks good after upgrade!

[2017-08-14 19:53] #5082 closed

[2017-08-14 22:59] markcmiller86 opened #5100 "Recommended way to invoke/use spack within larger "scripts""
I am writing some tools that use spack to test/probe packages a slew of different ways (with various compilers, with various optimizations, with various warning flags, shared/static, compiling C code with c++ compiler, use clang static analyzer (or some other static analyzer), etc.

Some of the aforementioned activites are just variations on invokation of `spack install <whatever>`. Others are mor

[2017-08-14 23:31] markcmiller86 commented on #5100
So, I am guessing that part of the answer here, especially if using python, is to import the spack `main` module and then do things from within it as is described somewhat here...

https://spack.readthedocs.io/en/latest/spack.html#module-spack.main

[2017-08-15 02:09] scheibelp commented on #1279
I'm working on a PR for this and plan to have it ready by this Thursday 8/17

[2017-08-15 06:16] pramodskumbhar commented on #5100
@markcmiller86 : not exactly what you asked but to test build with different compilers and mpi implementations, we have jenkins build that run script like below :

[code]
Similarly you can add compiler specific flags on command line.

[2017-08-15 09:10] ax3l opened #5101 "Use compilers for the same Spack"
Hi,

I am aware of the `spack-tools` workflow to build compilers and other tools (e.g. CMake) in a second instance of spack.

Compilers are (in my naïve world-view) bootstrapped.
I found that compiling them externally first blows up the "getting started" workflow quite a bit for users (not me personally, but *users*).

But especially for CUDA C++ programs, there are [quite some limitations](https:

[2017-08-15 10:59] alalazo commented on #2884
@becker33 In the end in #3183 I am not limiting the tokens that can be substituted. I would prefer to submit small improvements like this one as a separate PR after #3183 will be merged.

[2017-08-15 19:38] pramodskumbhar opened #5110 "Version preferences in packages.yaml ignored?"
Hello,

I have following in `packages.yaml`:

[code]

Consider simple dependency in `ninja` package :

[code]

And I get:

[code]

Spack should prefer `2.7.9`  over `2.7.11`?

[2017-08-15 19:41] scheibelp commented on #5110
It definitely should. I'll be able to look at this later on today.

[2017-08-15 19:50] scheibelp commented on #5110
I haven't traced the exact logic yet, but it looks like it isn't supporting the combination of the version preferences with the externals. From what I can tell checking into it, the version preferences work fine by themselves. In other words I don't think the preferences are used to choose a preferred external.

[2017-08-15 20:21] pramodskumbhar commented on #5110
thank you @scheibelp ! I confirm the preferences are working fine without external packages.

[2017-08-15 20:32] pramodskumbhar opened #5112 "Python package issue in cross compiling environment [Illegal instruction]"
Hello,

Suppose I have package which specifies python dependency as `depends_on('python@2.6:', when='+python', type='link')`.

I am building this on cross compiling environment where python is built for compute node:
[code]

The `build` phase finished fine but then I see:

[code]

As shown in the stack trace above, `package.py` try to execute python built for compute node resulting in error:

[cod

[2017-08-15 20:45] pramodskumbhar opened #5114 "setup-env.sh in .bashrc causing infinite recursion on Cray"
Some of my colleagues also experience this recently and I thought it would be worth to report.

Typically users add following in `.bashrc` for Spack’s shell support:

[code]

But it seems like this goes into infinite recursion. My colleague told me : " but logging into daint takes a million years and eventually starts spitting out buffer overflow errors"  :)

[code]

The same happened on another C

[2017-08-15 21:44] manish2479 commented on #620
Hi

I am not able to install cmake with qt. Here is the error I am getting

==> './bootstrap' '--prefix=/home/user1/spack/opt/spack/linux-sles12-x86_64/gcc-4.8/cmake-3.8.1-w4cp2rscxv562fo4ez54awgto5f7plss' '--parallel=32' '--no-system-jsoncpp' '--system-libs' '--qt-gui' '--' '-DCMAKE_USE_OPENSSL=ON'
---------------------------------------------
CMake 3.8.1, Copyright 2000-2017 Kitware, Inc. and Co

[2017-08-15 21:48] adamjstewart commented on #620
Sounds like the package is missing a dependency on LibRHash. @mathstuf Can you confirm?

[2017-08-15 21:49] pramodskumbhar commented on #5112
I see same issue even for `type=('build', 'link')` (I don't see why adding `build` dependency will change the behaviour though)

[2017-08-15 21:50] adamjstewart commented on #5112
The difference is that `build` adds the Python that Spack installs to the front of the `PATH`. I was hoping that would solve it. Not sure how to solve this one. Anybody else?

[2017-08-16 02:27] scheibelp commented on #5110
I've looked through this more and at the moment the code doesn't support preferences among externals. It occurs to me that instead of specifying ```versions```, you could specify preferences with the externals entirely by ordering their appearance in the yaml file (to be clear, Spack doesn't support this, I'm just proposing that it could). So for example the following would be sufficient:

[code]

[2017-08-16 06:10] pramodskumbhar commented on #5110
yes, that would be fine!

I won't say this is a big problem. I was wondering why this is not working as documented.
This is `good to have` feature (on cray, bg-q machines I/we typically use external packages).

[2017-08-16 06:23] davydden commented on #5110
frankly, i think version choice during concretization should behave exactly the same way regardless of external/interal type of packages; i.e. the rules to choose one should be the same. Otherwise IMO it adds a confusion and inconsistency.

In https://github.com/LLNL/spack/pull/1983/ (among other stuff) I add a few test to conretizer with settings in `.yaml` + `preffered=true` in `package.py`. I t

[2017-08-16 06:44] pramodskumbhar commented on #5110
Agree! I forgot that for `non-external` packages one can just specify `version: [2.7.9, 2.7.11]` and then it will be not consistent.

[2017-08-16 13:35] mathstuf commented on #620
Yes, `librhash` is a dependency as of 3.8.0.

[2017-08-16 14:05] jgalarowicz commented on #5074
I think the question, in spack terms, is: is there a way to find libraries built for a specific target platform.
We need to find the Cray compute libraries and also the login node libraries.  These libraries will have the same names, for example, libcbtf-mrnet.so.     It looks like that is not currently possible, based on the documentation.    Thanks Jim G.

 spack.find_libraries(libraries, root,

[2017-08-16 14:51] pramodskumbhar commented on #5112
if you have any workaround, please let me know and I would be happy to test (have trouble on different machines including alcf).

[2017-08-16 14:55] adamjstewart commented on #620
This should be fixed by #5120. @manish2479 can you test this out?

[2017-08-16 15:11] adamjstewart commented on #5074
Currently, no. Spack does not yet include the CPU target in the spec. I believe @alalazo or @scheibelp may have a branch that does something like this though.

[2017-08-16 15:34] #3676 closed

[2017-08-16 16:11] jrood-nrel commented on #2496
Ok, thanks for the update. I haven't tried this in a long time as I have been using GCC from homebrew. We can close this if it is contained in other issues.

[2017-08-16 16:30] adamjstewart commented on #2496
Will close when #4958 has been merged.

[2017-08-16 17:01] sknigh opened #5123 "buildcache makes malformed HTML"
```spack buildcache create``` makes an index.html file in the ```build_cache``` directory.

[code]

It is missing a ```>``` between the ```href``` argument and its text value, and should look like

[code]

I think a better option would be to suppress the generation of the index.html unless it is supposed to do more than generate a list. Web servers will automatically create static web pages when n

[2017-08-16 17:13] ian-bertolacci opened #5124 "Rose package out of date w.r.t. 0.9.7.0"
This does not refer to the new 0.9.9.0 version of rose (which is addressed by #4730)
Rather the issue is that version 0.9.7 of rose has gone missing, and 0.9.7.0 has been put in its place.
([see Rose release page](https://github.com/rose-compiler/rose/releases))

There are several problems that this causes
1. URL (https://github.com/rose-compiler/rose/archive/v0.9.7.tar.gz) fails to resolve (404 e

[2017-08-16 17:18] adamjstewart commented on #5124
This should be fixed by #4730.

[2017-08-16 17:19] ian-bertolacci commented on #5124
I accadentally posted the issue before completion, I am updating the issue to address the real problem.

[2017-08-16 17:21] #4630 closed

[2017-08-16 17:21] #4636 closed

[2017-08-16 17:21] #4803 closed

[2017-08-16 17:21] #5050 closed

[2017-08-16 17:25] adamjstewart commented on #5123
There is no `spack buildcache` command. Are you on a different branch?

[2017-08-16 17:31] scheibelp commented on #5110
Spack always replaces a package with an external when one satisfies the constraints, so there isn't a consistency error when trying to resolve preferences between externals and non-externals, if that's what you mean. It could be confusing to the user though. The rule is simple enough that IMO it wouldn't be problematic (as long as it's explained up front).

It may be possible to handle external pr

[2017-08-16 17:34] ian-bertolacci commented on #5124
Issue updated.

Also, #4730 looks like it needs some work.

[2017-08-16 17:37] ian-bertolacci commented on #5124
Also, patch fails when installing version 'master'

[2017-08-16 17:50] davydden commented on #5110
@scheibelp I am not sure I understand completely what you are saying but

I am in favour of this one so that
[code]
means `2.7.9` is preferred to `2.7.11` regardless whether or not those are externally provided via
[code]
or build by Spack.

 and

is fixed.

[2017-08-16 17:51] adamjstewart commented on #5124
Feel free to keep hacking off of #4730 and submit a new and improved PR. I haven't gotten a response from @justintoo or @rosecompiler on #4730 in a few weeks.

[2017-08-16 18:05] adamjstewart commented on #5123
@gartung

[2017-08-16 18:21] gartung commented on #5123
Fixed here
https://github.com/LLNL/spack/pull/5127

[2017-08-16 18:45] jgalarowicz commented on #5074
@adamjstewart Thanks for the response!
@alalazo @scheibelp Thanks for any help related to this.  I'm dead in the water right now - related to building on the Cray.

[2017-08-16 18:59] jgalarowicz opened #5128 "ppc64le: spack install xextproto fails due to old config.guess and config.sub files"
I"m trying to build spack on a power 8 cluster and I'm getting the error below due to the old config.guess and config.sub files that don't have information about the ppc64le platform.

The source for this package hasn't been touched for several years.
I guess the only way to fix this is to create a patch that replaces the config.guess and config.sub configuration files.

I can do the patch, if peo

[2017-08-16 19:09] scheibelp commented on #5074
Questions:

To check: I assume both lines are run on the front-end.

Are these two separate Spack packages (i.e. one for the front-end libraries and one for the compute)?

Are the compute node libraries all in a specific directory?

The CPU target is the 3rd field of the architecture:

```bzip2@1.0.6%gcc@4.4.7+shared arch=linux-rhel6-x86_64```

It should be possible to find specs by specifying arc

[2017-08-16 19:25] jgalarowicz commented on #5074
@scheibelp Thanks for the reply!

We have several libraries that are built to run on the login and then built again to run on the compute node (for different reasons).    So several packages will be built with os=CNL and again with os=sles12.  I can't get the os=sles12 working yet because of #4828.  When that is resolved, I can try more things.

Is that possible?   It seems like all the packages g

[2017-08-16 19:42] adamjstewart commented on #5128
Are you using `AutotoolsPackage`? What OS? `_do_patch_config_guess` should do this automatically. @lee218llnl

[2017-08-16 19:49] scheibelp commented on #5074
Analogous to using ```%``` to specify the compiler, e.g. ```zlib %gcc```, you can use ```arch=``` to specify the architecture (platform, os, and target):

```spack find zlib arch=linux-rhel6-x86_64```

That being said if these aren't two separate packages (e.g. you make a package.py for a ```openspeedshop-backend``` and one for ```openspeedshop-frontend```) and the frontend depends on the compute

[2017-08-16 20:21] lee218llnl commented on #5128
Hopefully you've done a git pull somewhat recently. The config.guess patch should be done automatically. The exception is if it is in a subpackage and spack doesn't find it. In that case, I think the best solution is just manually copying a more recent config.guess into var/spack/stage/... and rerunning the install.

[2017-08-16 21:06] skosukhin commented on #5114
I remember looking into this code a long time ago. It's hard to recall all the details but I had two ideas on how this could be improved:

1) In order to "Set and return the default CrayPE target loaded in a clean login session" we should better take the result of this:
[code]
In this case, we make sure that we don't run $HOME/.bashrc since the variable $HOME is unset. And  the errors can be ignor

[2017-08-16 21:31] ax3l commented on #5101
ccing @tgamblin

[2017-08-16 22:34] pramodskumbhar commented on #5074
@scheibelp : I have same issue. For some packages we have two stage installation process (in cross-compiling environment). Sometime creating two packages seems un-necessary. For example, for some packages there are common `build` dependencies between front-end and backend. In this case I want to do something like:

[code]
But I agree this becomes complicated once front-end specific dependencies /

[2017-08-16 23:53] hartzell opened #5136 "A version like 2017-05-30 in packages.yaml doesn't work."
I'm not sure if this is a bug, a feature, or just an obvious fact of life that I am missing, but this works as expected:

`
spack install falcon@2017-05-30
`

This also works:

[code]

but if I don't quote the version string

[code]

I get

[code]

[2017-08-17 02:03] #5123 closed

[2017-08-17 02:20] scheibelp commented on #5074
To be clear it looks like in @jgalarowicz case it is the other order: the compute node libs are created first.

Even if this logic were to be separated into two packages, it should be possible in the future to create build dependencies with the frontend compiler by default.

I can imagine so. And come to think of it we have come across cases where a package builds subcomponents that can't be separ

[2017-08-17 03:47] KineticTheory commented on #3817
+1

I need this feature for non-Cray systems.  Our sysadmins like to hide modules behind other modules.  For example, I can only access the `cmake/3.9.0` module by first loading the `friendly-testing` module.

[2017-08-17 04:22] KineticTheory opened #5137 "How do I set extra_rpaths for MPI compile wrappers?"
I'm trying to build parmetis%intel@17.0.1 ^openmpi@2.1.1.  The compiler and MPI are external packages.

`compiler.yaml` uses `extra_rpaths` to allow Intel/17.0.1 to work:

[code]

`packages.yaml` specifies MPI as an external package:

[code]

Setting the `extra_rpaths` in `compiler.yaml` allows me to build metis, but parmetis fails with: `The C compiler "/usr/projects/hpcsoft/toss3/snow/openmpi/2.

[2017-08-17 06:23] pramodskumbhar commented on #5074
yes, agree.

I contribute to the development of one such software that I am packaging as part of #5097. If there will be any prototype/PR, I will be happy to test / provide feedback.

[2017-08-17 06:26] #5066 closed

[2017-08-17 09:31] skosukhin commented on #5137
Your external openmpi has a set of its own wrappers. Those wrappers are configured to run one of the compilers on your system. Among other things those wrappers should add all necessary -L flags when they call the real compiler. Now, when you build a package that needs openmpi (it does not matter if it's external or not) with Spack, it calls 'setup_dependent_environment' from openmpi package. The

[2017-08-17 12:57] pramodskumbhar commented on #5114
thanks @skosukhin for info!

[2017-08-17 13:17] #620 closed

[2017-08-17 13:40] ax3l opened #5139 "Configure as root user"
Related to #4480, where running as root during partitioning is common.

New versions of some autotools configure scripts (imho rightfully) abort if they are called as super-user (root). The only way to still go on is by exporting `FORCE_UNSAFE_CONFIGURE=1`.

Shall we maybe add such an bypass to `spack` itself so (root) users are not disturbed? Maybe add an explicit switch? Did you encounter simila

[2017-08-17 13:44] ax3l commented on #5139
Now that I think about this 2 month later again, a
[code]
did also solve it... (at least for autotools' configure scripts)

[2017-08-17 14:30] KineticTheory commented on #5137
@skosukhin Thank you for the description of spack's logic for mpi compile wrappers.

Our MPI compiler wrappers include the OpenMPI library paths, but do not provide paths for the Intel compiler.

[code]

However, the Intel compiler will only work if `-Xlinker -rpath=/usr/projects/hpcsoft/toss3/common/gcc/5.3.0/lib64:/usr/projects/hpcsoft/toss3/common/intel-clusterstudio/2017.1.024/compilers_and_li

[2017-08-17 14:48] ax3l commented on #4062
note: `spack purge --all` is now `spack clean -a`

[2017-08-17 14:52] KineticTheory opened #5141 "External package setup via modules not working?"
Please let me know if I am using this feature incorrectly and how to go about debugging the error below.

I would like to use an externally provided installation of cmake when building metis. I edited `packages.yaml` to register cmake by using the `modules` syntax:

[code]

Spack sees the external package for cmake and parses the yaml file without error:

[code]

But when I try to install `metis`,

[2017-08-17 15:16] skosukhin commented on #5137
@KineticTheory if your external openmpi takes into account OMPI_CC and OMPI_CXX environment variables, which Spack sets, Spack's wrapper is called instead of the real compiler. And the wrapper should add the extra_rpaths if they are specified in compilers.yaml. I mean, if everything is configured correctly, spack's wrapper is called, whether the package you build depends on mpi or not. And the wra

[2017-08-17 15:19] ax3l commented on #4480
Uh, I just came up with a super-short new `Dockerfile`:

[code]

If one needs more `RUN` commands that already use spack modules, do
[code]

[2017-08-17 15:42] skosukhin commented on #5141
@KineticTheory, when you specify an external package with a module, spack parses the modulefile and tries to find out where the package is actually installed. The function that implements the logic is called get_path_from_module. You can find it in ./lib/spack/spack/util/module_cmd.py. As you can see it checks for the value of LD_LIBRARY_PATH but, to my surprise, it does not check the value of PAT

[2017-08-17 15:54] jgalarowicz commented on #5074
@scheibelp @pramodskumbhar We would prefer a one spack install line, if that is possible.  I didn't think it was possible, so that is why I came up with the two install line scenario.   If internally, in one package, we could build both the cray compute and login/fe node libraries and then find their arch dependent spec files, that would be ideal.

[2017-08-17 16:15] #2708 closed

[2017-08-17 16:24] KineticTheory commented on #5137
@skosukhin  I am using openmpi-2.1.1 and `mpicc` respects the variables `OMPI_CC`.  This means

`/usr/projects/hpcsoft/toss3/snow/openmpi/2.1.1-intel-17.0.1/bin/mpicc` is translated as

[code]

I guess I don't understand why cmake claims that the compiler `is not able to compile a simple test program.`  My best guess is that `extra_rpaths` set in my `compilers.yaml` isn't processed when `CMAKE_C_C

[2017-08-17 16:30] KineticTheory commented on #5141
@skosukhin I tested your suggestion.  It works.  I will submit a PR to fix this.

[2017-08-17 17:33] mcfadden8 opened #5147 "Running 'spack mirror create' tries to look for compiler using local os spec"
I received the following error when attempting to create a mirror for a rhel7 os on a machine that was running rhel6:
[code]
I worked around the problem by creating a fake compiler entry for gcc@4.8.5 for rhel6 in the compilers.yaml file.