[2022-07-07 17:31] rscohn2 commented on #31255
clang and icx have the same dependence on gcc. It is just less noticeable. If compilers as dependencies can model the dependence, then that is another reason to go with compilers.yaml for now,

[2022-07-07 18:08] rountree commented on #31255
Ok, let me add `-gcc-name` to my `compilers.yaml` and make a pass though and see what comes up.

[2022-07-07 18:28] adamjstewart commented on #31229
I tried:
[code]
and that seems to get me farther through the build, but I still end up with a similar issue:
[code]
@glennpj @aweits any ideas? It looks like TF 2.8 and 2.9 are out now, we should add those too.

[2022-07-07 19:56] jppelteret commented on #31453
My colleague, @ecomellas, has run into exactly the same issue on a clean download of spack (on a Macbook with MacOS 12.4 Montrey, if that makes any difference). We ran the two commands suggested above and that seemed to work. Thanks for the suggestions @luke-dt and @brechtm!

[2022-07-07 20:07] adamjstewart opened #31484 "Concretizer: reuse broken for external packages"
### Steps to reproduce

First, blow away `~/.spack`, clone a fresh copy of Spack, and check for external packages:
[code]
This will register all external packages it finds on the system in `packages.yaml`. We'll focus on git since it's guaranteed to be found, but this affects all external packages.

Next, install git:
[code]
Next, modify the git package. For example, add a new variable:
[code]
Now

[2022-07-07 20:13] adamjstewart commented on #31479
This is confusing. We have a conflict for this:
[code]
This should tell Spack that it can only build `gcc@11.3.0`, so I'm not sure why it's trying to build `gcc@12.1.0`. It works properly on my M1 system. Seems like a concretization issue.

Anyway, workaround for now is to specify exactly which version of GCC you want to install:
[code]

[2022-07-07 20:33] kc9qey commented on #31476
I ended up building llvm 15.0.0 externally and adding it to the setup via packages.yaml.  I'll try llvm@13.x and get back to you...

[2022-07-07 21:00] tagardiner commented on #31479
That's interesting that you're suggesting the concretizer.  The very first challenge I ran into with spack on this system is that the first step of invoking $ spack spec python to bootstrap clingo fails.  A bit of experimentation showed that this was due to an issue with the system python3.  I installed python 3.10 from python.org, put that in my path and then was able to complete the bootstrap pr

[2022-07-07 21:04] adamjstewart commented on #31479
Yeah, we don't yet have clingo binaries for M1 (@alalazo any updates on this?). Your solution is the correct approach. It shouldn't cause any issues as far as I know, and Spack seems to be correctly detecting the system as aarch64.

[2022-07-07 21:09] tagardiner commented on #31479
Ok, thanks

[2022-07-07 21:12] tagardiner commented on #31479
I started from a fresh clone of spack, switched to the v18.0 branch and I'm getting this error with gcc11.3.0.

[tagardi@s1083700: spack.2022.07.06]$ spack spec gcc@11.3.0
==> Error: Only GCC 12 and newer support macOS M1 (aarch64)

[2022-07-07 21:15] adamjstewart commented on #31479
Ah, that explains the issue then. You should use the develop branch, the v18.0 branch does not have great support for M1. GCC didn't support M1 until https://github.com/spack/spack/pull/30825.

[2022-07-07 21:36] tagardiner commented on #31479
I'm restarting the process with the develop branch now.  FWIW, I'm finding the following comment in the gcc package.py file.

    # aarch64/M1 is supported in GCC 12+
    conflicts('@:11.2,11.3.1:', when='target=aarch64: platform=darwin',
              msg='Only GCC 11.3.0 supports macOS M1 (aarch64)')

but the versions listed above in that file are 11.3.0 and 12.1.0.  The comment seems to indicat

[2022-07-07 21:39] adamjstewart commented on #31479
Yep, the comment is outdated. GCC 12 was supposed to be the first release with support, but that PR was pulled at the last minute. Now we just have backports of patches to rely on

[2022-07-07 21:40] tagardiner commented on #31479
Ok, great - thanks for the help!
The build is running and I'll confirm success (hopefully) when it's done.

[2022-07-07 21:44] kc9qey commented on #31476
That worked.  I've got a path forward now to deploy a couple llvm into our production spack instances.
<pre>
[arnoldg@dt-login03 bin]$ spack find llvm
==> 2 installed packages
-- linux-rhel8-zen3 / gcc@11.2.0 --------------------------------
llvm@13.0.0  llvm@15.0.0
</pre>
Our hwloc is from the system OS
<pre>
[arnoldg@dt-login03 bin]$ grep --after-context=2 hwloc $SPACK_ROOT/etc/spack/packages.ya

[2022-07-07 21:46] trws commented on #31476
Ok, so 14 and probably higher needs a newer hwloc.  Should be a pretty straightforward fix, any chance you're willing to throw up a PR?

[2022-07-07 22:12] tagardiner commented on #31479
Argh...  Unfortunately it fails as well.  The failure error messages start with this
[code]

[2022-07-07 22:18] tagardiner commented on #31479
I can copy the spack-build-{out, env}.txt files as well, but the output file is 68.5 MB.  Should I gzip it?

[2022-07-07 22:56] adamjstewart commented on #31479
Can you try `spack install gcc~bootstrap` and see if that makes a difference? For some reason I'm the only one who was able to build GCC on M1 without issue, others have reported that disabling bootstrap helps (#31179, #31189).

[2022-07-07 23:05] anjohan commented on #24924
I ran into the exact same issue.

I cloned spack, sourced `setup-env.sh`, did `spack compiler find`, `spack external find` and `spack external find python openmpi cuda`, then tried to `spack install zlib`.

The error is the same `error while loading shared libraries: libmpfr.so` as above.

This is on my university cluster with modules for everything, `mpfr` in `LD_LIBRARY_PATH`, and similar `paths

[2022-07-08 01:13] tagardiner commented on #31479
That worked!  Why did that work?

I'm really surprised because it selected gcc-11.3.0 even though I didn't qualify the install statement.  That is,

spack install gcc

tries to install gcc@12.1.0

and spack install gcc~bootstrap

installed gcc@11.3.0.  I did execute this directly after trying $spack install gcc@11.3.0, is that why?

Either way, SUCCESS!

[2022-07-08 01:15] adamjstewart commented on #31479
On develop if you don't specify the version it should pick 11.3.0 automatically since that's the only version that supports arm64.

[2022-07-08 08:01] Billae opened #31489 "Installation issue: Error: Package 'armpl' not found"
### Steps to reproduce the issue

Hello,
I try to install paraview but there is an error with the concretization:

[code]

I take a look on this and there is a lot of packages with the same error: python, mesa, llvm and so on.

I found the merge wich (i think) created this:
https://github.com/spack/spack/pull/31437

However I don't understand: when I make a grep on "armpl" in my local copy I don't

[2022-07-08 10:45] haampie commented on #31489
It's a cache issue `spack clean -m` should fix it. But there should also be a proper fix to automatically purge stale cache.

[2022-07-08 10:47] haampie commented on #31489
Duplicate #31453

[2022-07-08 10:47] #31489 closed, assigned to nobody

[2022-07-08 12:34] payerle commented on #31481
OK, perhaps this was due to some corruption in the environment.  As I continued to try to debug the issue, the environment became unusable and I eventually had to delete and recreate the environment.  I also deleted the freetype@2.11.1 package and its dependencies.
After recreating the the environment I was able to build llvm so that it only depended on freetype@2.10 w/out any issues.

[2022-07-08 13:33] kc9qey commented on #31476
No, I'm strictly on the user side of spack and not looking to do any of the git devel activity.  My day job is rich with complexity as it is.

[2022-07-08 14:49] mkszuba opened #31496 "mvapich2 +cuda: configure: failed to link against libcuda"
### Steps to reproduce

When built from source with CUDA support enabled on a system which does not have CUDA drivers installed, mvapich2 Autoconf scripts fail to locate libcuda. This is because even though the mvapich2 package correctly pulls in the package 'cuda' when the relevant variant is enabled and passes --with-cuda=... to configure, unlike some other Spack packages from the built-in repos

[2022-07-08 14:55] SJ2050cn opened #31497 "Cannot `spack load dealii` after `spack gc`"
### Steps to reproduce

I installed dealii@9.3.3 with command `spack install -v dealii~examples~threads`. After installation, I loaded the dealii, and everything worked fine. Then, I run `spack gc`. And next time I run `spack load dealii`, it shows error `list index is out of range`.

### Error message

==>list index is out of range

### Information on your system

* **Spack:** 0.18.0 (c09bf37ff69

[2022-07-08 15:45] haampie opened #31499 "Cannot extract archive, unrecognized file extension: 'None'"
### Steps to reproduce

On linux,

[code]

@scheibelp @johnwparent yet another instance where there's regression on Linux thanks to Windows support. Please fix... it's such a waste of time :(

[2022-07-08 15:52] haampie commented on #31499
Apart from restoring the pre-Windows behavior, there's multiple better solutions.

First, the original filename is part of the response header and can be parsed from there.

[code]

In CURL this is:

[code]

This also solves the special case code for sourceforge...

[code]

Secondly, the best option is to actually parse the file magic bytes to figure out what type of archive it is regardless of th

[2022-07-08 16:39] scheibelp commented on #31499
Thanks for pointing this out @haampie, but regarding

I'm having trouble extracting anything useful from that: we want Windows support; adding features creates bugs; we catch as many as we can with unit/smoke tests. Besides improving the tests and responding to issues as they are brought up, what else is there to do?

[2022-07-08 17:59] adamjstewart opened #31502 "Error: No module named 'decimal' on environment install"
### Steps to reproduce

No idea why I'm experiencing this and no one else is, but any time I install an environment, I see an error message.

### Error message

[code]
This doesn't make any sense, as `decimal` is a builtin Python module and I have no issues importing it, even within Spack:
[code]

### Information on your system

* **Spack:** 0.19.0.dev0 (a12ce9fd59c32e650b43610925e454322995a81d)
*

[2022-07-08 18:02] rscohn2 commented on #31427
I will look at this. Thanks.

[2022-07-08 21:38] trws commented on #31476
Ok, I'll try to get to it but it may take a bit before I can work it in.  Thanks for helping me track down what we need to specify.

[2022-07-09 16:43] haampie commented on #31499
Sorry, I was frustrated with Spack... I tried parallel `spack install` and hit 5 unique bugs. You'd think that a decade old project that is supposed to install software can install software.

[2022-07-10 19:45] adamjstewart opened #31511 "Allow different versions of dependencies at build vs. run time"
### Summary

I would like to be able to support the following concretizer use case:

Package A:
[code]
Package B:
[code]
In this situation, Spack should use a different version of C at build time and run time. When I run `spack install A`, there will be two different versions of C in the DAG: 1 while building A, and 2 while building B. When I run `spack load A`, either version of C may be used, or

[2022-07-11 10:42] haampie commented on #31511
In general this kind of separate concretization of build deps is fine (and @alalazo already worked on it?), but I think the specific example highlights a problem in the Python ecosystem more so than a problem in Spack. They should just use lower and upperbounds, and if they care about reproducibility, provide some separate manifest file with _all_ versions pinned, not just an individual dep, what

[2022-07-11 14:50] eugeneswalker commented on #28830
I still hit this issue when trying to run `spack buildcache update-index` on an S3 endpoint, if the versions aren't pinned:

[code]

[2022-07-11 15:07] adamjstewart commented on #31511
@haampie completely agree, but not something we have control over.

[2022-07-11 18:30] rgommers commented on #31511
To expand on this a little:
- A key reason to pin `numpy==` in the `scipy` build is ABI compatibility; for distributing binaries it is necessary to build against the lowest-supported `numpy` version.
  - This constraint should not apply to Spack, and `scipy` should build with every supported `numpy` version.
- Pinning other build-only dependencies with `==` is done to limit the support surface. To

[2022-07-11 23:28] christian-heusel opened #31527 "Installation issue: petsc+cuda"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>

TESTING: configureLibrary from config.packages.cuda(/tmp/chris/spack-stage/spack-stage-petsc-3.17.1-jrbkpp2sr66glczjxmzk5vb5qetbw7v7/spack-src/config/BuildSystem/config/packages/cuda.py:242)
*******************************************************************************
         UNABLE to C

[2022-07-12 00:07] balay commented on #31527
@christian-heusel can you attach configure.log from this failed build?

Normally spack sets-up nvcc in PATH [as per dependency] - and petsc configure finds it. However:

Perhaps this is the reason for failure. I'm not sure what spack does to get `~allow-unsupported-compilers` working - and if it would work though PETSc/configure invocation. [configure.log should confirm this]

So I think its safer

[2022-07-12 00:15] christian-heusel commented on #31527
Here is the [`configure.log`](https://github.com/spack/spack/files/9088353/configure.log) from the failed build!

[2022-07-12 00:27] balay commented on #31527
[code]

So nvcc encounters errors here - hence configure is rejecting it.

I'm not sure how to over come this failure..

 Does /usr/bin/gcc correspond to gcc-11.3.0?

[2022-07-12 00:40] christian-heusel commented on #31527
`/usr/bin/gcc` is a newer Version of `gcc`:
[code]

But the issue might be with the compiler configuration:
[code]
I thought I had installed `gcc-11`, but as it turns out spack just detected the gcc shipped with cuda 🤔
I will try a compiler configuration that looks more correct and report back here.

[2022-07-12 01:24] longlong10086 opened #31528 "Installation issue: mesa %intel"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
2 errors found in build log:
     20247    ../src/gallium/auxiliary/cso_cache/cso_context.c(1768): warning #188: enumerated type mixed with another type
     20248         info.mode = mode;

</pre></details>

### Information on your system

* **Spack:** 0.16.1
* **Python:** 3.6.8
* **Platfor

[2022-07-12 01:40] balay commented on #31527
Sounds you have 2 different cuda installs - one in /opt/cuda - and the other from spack.

Presumably the one at /opt/cuda is compatible with g++-11? [however the build is using cuda-11.4 installed by spack]

With gcc@11.3 - suggest trying out cuda-11.7

[2022-07-12 02:13] elfprince13 opened #31530 "Spack doesn't support multiple extendees"
### Steps to reproduce

The assert on the last line of this block fails when installing a particular package inheriting from PythonPackage:
https://github.com/spack/spack/blob/df44045fdb68e429bd1accdb7e7c9b947521d75c/lib/spack/spack/package_base.py#L1354-L1363

This results in the error message:
[code]

Tagging @scheibelp as requested on Slack.

### Error message

Adding a `tty.debug` before the a

[2022-07-12 03:09] ye-luo opened #31531 "LLVM build via Ninja doesn't respect -j"
### Steps to reproduce

[code]
`-j 1` is not propagated/translated to Ninja and `top` shows parallel building.

spack-build-02-build-out.txt
[code]

Since https://github.com/spack/spack/pull/27521

### Error message

OOM kills GCC in dmesg.

### Information on your system

Building LLVM on Raspberry Pi 4B 4GB memory

### General information

- [X] I have run `spack debug report` and reported the v

[2022-07-12 07:28] #31104 closed, assigned to nobody

[2022-07-12 08:08] #29730 closed, assigned to becker33

[2022-07-12 13:21] alalazo commented on #31502
Looking at the stacktrace, it seems the bug is triggered by our vendored version of Jinja2[^1] when trying to write module files.

[^1]: The version we vendor is 2.11.3, which is the last one to support Python 2.7. The last version of Jinja2 is 3.1.2

[2022-07-12 13:42] msimberg commented on #31176
@upsj I think https://github.com/spack/spack/pull/31403 fixed this. Could you confirm if it fixed it for you?

[2022-07-12 15:03] #31475 closed, assigned to nobody

[2022-07-12 17:59] eugeneswalker opened #31543 "darshan-util: darshan-job-summary.pl: Can't locate HTML/Entities.pm in @INC"
### Steps to reproduce the issue

`darshan-util@3.3.1`'s `darshan-job-summary.pl` does not work using:
* `spack/develop` (ea91e8f4ca1790598906a0363d9f90852f9a74d3 from `Tue Jul 12 17:03:48 2022 +0200`)
* Ubuntu 20.04, GCC 11.1.0

Error reproduced here using Docker container image `ecpe4s/ubuntu20.04-runner-x86_64:2022-07-01`

[code]

@carns @shanedsnyder

### Error message

<details><summary>Error

[2022-07-12 19:56] luke-dt opened #31545 "openssl bootstrap error on Apple M1"
### Steps to reproduce

Bootstrapping after initial install on an M1 mac stalls at the openssl install

[code]

### Error message

[code]

### Information on your system

* **Spack:** 0.19.0.dev0 (e8d27c6cc4842bb30b6f07a563ed47142abf5d2e)
* **Python:** 3.9.12
* **Platform:** darwin-monterey-m1
* **Concretizer:** clingo

I think this is related to the following bug:

https://github.com/openssl/open

[2022-07-12 21:25] payerle commented on #31237
Sorry, I withdrew the PR but neglected to close the ticket.
The approach given in #30627 is better than my suggestion

[2022-07-12 21:25] #31237 closed, assigned to nobody

[2022-07-12 21:48] haampie commented on #31545
Can you add a patch for it?

[2022-07-12 21:59] luke-dt commented on #31545
Is adding a patch for bootstrapped software any different than other packages? Sorry, I'm kind of unfamiliar with anything outside of basic package building.

[2022-07-12 22:03] haampie commented on #31545
Yeah, it's a normal install of the openssl package, and apparently it just needs a one line patch to include string.h somewhere

[2022-07-12 23:01] climbfuji commented on #30078
We found a way around this, closing

[2022-07-12 23:01] #30078 closed, assigned to johnwparent

[2022-07-13 00:07] scheibelp commented on #31530
If `concretize --fresh` resolved the issue, then I'm inclined to think this is a concretizer bug: @alalazo @becker33 @tgamblin  would you agree?

If so, then it might be useful to have some of your state such that we could reproduce this (and create a fix and tests as appropriate).

[2022-07-13 05:05] adamjstewart opened #31549 "Better OS/arch support for ML libraries"
Many ML libraries are notoriously difficult to build on certain platforms. This task tracks known compilation issues for each library.

### PyTorch

- [x] OpenMP segfault on Apple M1 (https://github.com/pytorch/pytorch/issues/80805)
- [x] ROCm support on Cray (https://github.com/pytorch/pytorch/issues/63083)
- [x] PPC64le + RHEL + GCC (https://github.com/spack/spack/issues/28367)
- [ ] asmjit buil

[2022-07-13 05:09] adamjstewart opened #31550 "New ML library packages/versions"
This task tracks new ML libraries (or new versions) that should be added to Spack.

- [x] Horovod 0.22–0.25 (#29310)
- [x] TensorFlow 2.7.1–2.9.1
- [ ] Torchvision C++ libraries (https://github.com/pytorch/pytorch/issues/71359)
- [ ] DL4J
- [x] JAX (https://github.com/spack/spack/pull/27849)
- [ ] Paddle Paddle
- [ ] Shogun (https://github.com/shogun-toolbox/shogun)
- [ ] WEKA
- [ ] Spark MLLib

[2022-07-13 05:17] adamjstewart opened #31551 "CI and public binaries for ML libraries"
Spack now has a large CI framework in GitLab for PR testing and public binary generation. We should take advantage of this to test and distribute optimized binaries for popular ML frameworks.

We would like to test CPU, CUDA, and ROCm builds on the following platforms:

- [x] Linux x86_64: #31592
- [x] Linux aarch64: #39666
- [ ] Linux ppc64le: #47441
- [ ] ~macOS x86_64~
- [x] macOS aarch64: #365

[2022-07-13 05:31] adamjstewart opened #31552 "Post-install tests for ML libraries"
Spack offers post-install tests for packages that can be run like:
[code]
These tests are designed to serve as smoke tests to ensure that installations work as expected. All Python packages already have import tests, but we can do better than this. I propose that we add tests to all ML libraries in Spack that would (for example):

1. Instantiate a small neural network (single layer MLP)
2. Push th

[2022-07-13 05:41] adamjstewart opened #31553 "ML library benchmarking suites"
Spack offers the ability to distribute pre-compiled _optimized_ binaries for popular ML libraries. This should make Spack extremely competitive with more popular package managers like Conda and Pip. However, we currently have no systematic way to evaluate performance of these frameworks. We should create, or search for existing, benchmark suites.

List of packages to benchmark:

- [ ] PyTorch: htt

[2022-07-13 05:56] adamjstewart opened #31554 "Better build system support for ML libraries"
Many ML libraries including TensorFlow and PyTorch are notoriously difficult to build. We should find ways to improve this.

### Air-gapped networks

Many build systems like Bazel will download dependencies during the installation process. We should find ways to disable this and force the build to use Spack-installed dependencies

- [ ] TensorFlow
- [ ] PyTorch

### Git submodules

Many ML librari

[2022-07-13 06:58] upsj commented on #31176
I would really like to confirm that, but it seems like in the meantime, something else broke:
[code]

[2022-07-13 07:10] alalazo commented on #31530
@scheibelp I agree with that. Is the `geopipe-spack` repo public, so to try reproduce the issue?

[2022-07-13 07:38] alalazo commented on #30410
I'll be adding the `wontfix` label to this issue, and leave it as a known bug for the v0.17 series. That would allow us to proceed with a v0.17.3 release incorporating the bugfixes that have been backported already.

[2022-07-13 08:53] alalazo commented on #31484
Confirmed the bug

[2022-07-13 09:10] nkgh77 opened #31556 "Installation issue: libcroco@0.6.13 in imagemagick"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
==> Installing libcroco-0.6.13-pbtgcyoe7a5drrdolx7fc6eznr4ahreg
==> No binary for libcroco-0.6.13-pbtgcyoe7a5drrdolx7fc6eznr4ahreg found: installing from source
==> Using cached archive: /home/nkushi/spack/var/spack/cache/_source-cache/archive/76/767ec234ae7aa684695b3a735548224888132e063f92d

[2022-07-13 11:41] alalazo commented on #31484
The issue stems from how we derive the `external_spec_selected` atom. Currently that doesn't take into account if a spec is reused by hash:
https://github.com/spack/spack/blob/0e783b2c47ec1dc36e3356b5c1038c1c014f6478/lib/spack/spack/solver/concretize.lp#L479-L481

As it stands, this rule never allow reuse of "installed" external specs. Even without the change in the `package.py`, that causes a cha

[2022-07-13 11:53] upsj commented on #31176
I can confirm this fixes the issue

[2022-07-13 11:53] #31176 closed, assigned to srekolam

[2022-07-13 16:52] elfprince13 commented on #31530
It's not currently public, but there also shouldn't really be anything proprietary in there (mostly we don't want to deal with people showing up and complaining that our custom packages don't work on their systems). I'll confer internally and see what we can do.

[2022-07-13 18:58] #23943 closed, assigned to adamjstewart

[2022-07-13 18:58] #30808 closed, assigned to adamjstewart

[2022-07-13 21:20] simonLeary42 opened #31567 "Installation issue: r@4.2.0 missing some latex file"
### Steps to reproduce the issue

download the checksum for r@4.2.0 from [the latest package file](https://github.com/spack/spack/blob/develop/var/spack/repos/builtin/packages/r/package.py) and insert it into the current package file
`spack install r@4.2.0`

### Error message

<details><summary>Error message</summary><pre>
     1862    l.132 \RequirePackage{letltxmacro}[2008/06/13]
     1863

[2022-07-13 21:47] robertu94 opened #31568 "cmake build system needs a way to add additional CMAKE_PREFIX_PATH entries for things like CUDA"
### Steps to reproduce

There needs to be a way to add extra cmake prefixes to certain proprietary packages where the odds of getting it fixed upstream is unlikely.

Create a package (foo) with the following

[code]

Then create a package (bar) that depends on that package (foo), and attempt to install that package (bar).

bar will not have the prefix path $foo_prefix/targets/x86_64-linux/lib/cmak

[2022-07-14 00:21] brandon-feder opened #31570 "Installation issue: py-torch"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
Error: Can't extrapolate a URL for version 1.12.0 because package py-torch defines no URLs
</pre></details>

### Information on your system

* **Spack:** 0.18.0 (c09bf37ff690c29779a342670cf8a171ad1b9233)
* **Python:** 3.10.4
* **Platform:** linux-ubuntu22.04-zen2
* **Concretizer:** clingo

#

[2022-07-14 00:26] adamjstewart commented on #31570
The issue you are seeing is because the version of Spack you are using didn't have version 1.12.0 of the py-torch package. You have a few possible solutions:

1. Upgrade to a newer version of Spack (anything after 52eaedfca28ea6f9fde3a849732c2cdf92e6fefc)
2. Add `version('1.12.0', tag='v1.12.0', submodules=True)` to the package
3. Cherry-pick the commit 52eaedfca28ea6f9fde3a849732c2cdf92e6fefc fro

[2022-07-14 00:26] #31570 closed, assigned to nobody

[2022-07-14 06:41] simonLeary42 opened #31573 "Installation issue: texlive ambiguous failure"
### Steps to reproduce the issue

[code]

### Error message

`Error 1`
That's seriously all that there is to see in build.out.

### Information on your system

[code]

### Additional information

[--debug install stdout](https://github.com/spack/spack/files/9109182/texlive-linux-ubuntu20.04-cascadelake.out.txt)
[spack-build-env.txt](https://github.com/spack/spack/files/9109179/spack-build-env.txt)

[2022-07-14 11:30] William-Mou commented on #31545
Hi @haampie, I have added a patch to OpenSSL.
And runs `spack spec zlib` without any problem in my M1 Pro (MacBook Pro 14)
Can you please help me to check PR #31575? Thanks

[2022-07-14 15:02] tagardiner opened #31579 "Installation issue: gdb on Apple Monterey M1"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
==> Installing gdb-11.2-qeycnak34y3hjgqsquf3k5u4kmh2g3gh
==> No binary for gdb-11.2-qeycnak34y3hjgqsquf3k5u4kmh2g3gh found: installing from source
==> Using cached archive: /Users/tagardi/opt/spack.2022.07.06/var/spack/cache/_source-cache/archive/b5/b558b66084835e43b6361f60d60d314c487447419c

[2022-07-14 15:33] hdezmora commented on #18878
Any hint to build openbabel 3.1.1 on CentOS7?  I'm getting these errors

==> Warning: Skipping build of pango-1.50.7-uaoorio4iiwzsc3wo4e5f5puan2wr7y4 since harfbuzz-4.2.1-cwxo6yo2g2kbqoj7jlihyz2sr47rsp67 failed
==> Removing failure mark on rapidjson-1.2.0-2022-03-09-xlfiil2yz2ccaz7tik5qb4hiputy6xn3
==> Removing failure mark on openbabel-3.1.1-uubs2xuqo5mzewjbfxub2dc2fharvgjr
==> Removing failure m

[2022-07-14 15:37] hdezmora commented on #18878
Last entries on the build log:

tailf /tmp/spack/spack-stage/spack-stage-harfbuzz-4.2.1-cwxo6yo2g2kbqoj7jlihyz2sr47rsp67/spack-build-out.txt
../src/hb-ot-layout-gpos-table.hh:2846:19:   required from 'typename context_t::return_t OT::PosLookupSubTable::dispatch(context_t*, unsigned int, Ts&& ...) const [with context_t = OT::hb_get_subtables_context_t; Ts = {}; typename context_t::return_t = hb_emp

[2022-07-14 15:47] adamjstewart opened #31581 "Automatic GPU arch detection"
When a user builds a package, they don't need to tell Spack which platform/OS/target/CPU they want to build for, Spack automatically detects this using libraries like distro and archspec.

This is not the case for GPUs and other accelerators. For users of ML libraries, the CPU is barely used, most computation actually happens on the GPU. Currently, users need to manually figure out what GPU they a

[2022-07-14 16:57] payerle opened #31582 "spack spec _some_spec_ concretizes differently than spack install _some_spec_"
### Steps to reproduce

I am attempting to rebuild my software library after installing a new spack version.  I am building things with two versions of gcc (to match what was built with the old spack installation), and before building each package I run a spack spec on it to see what spack install intends to build, so that I can catch when spack would do something I did not intend (e.g. if doing a

[2022-07-14 17:04] payerle commented on #31481
OK, I believe the environment corruption was due to my experimental hacking of package_base.py (it happened right after I implemented a hack  which attempted to merge elements of the dep list if the elements were equal (== not is)).  Even before I deleted and recreated the environment, I restored the original copy of package_base.py.

I have since encountered this same error in other cases, e.g. #

[2022-07-14 17:25] adamjstewart opened #31584 "Official maintainers for ML packages"
Spack has build recipes for dozens of important ML libraries. At the moment, I'm almost singlehandedly maintaining half of them, and the other half have no official maintainer. Because of this, bug reports go unresolved and new versions are infrequently added. We should fix this.

I would like to ensure that all ML packages have 2+ official "maintainers". In particular, I would like each package t

[2022-07-14 19:59] payerle commented on #31582
A similar issue with package sirius,
[code]
where sirius (plus a couple dependencies shown by spec as uninstalled), but
[code]
Full output of commands"
1. spack --env gcc940-py3812 spec -lI sirius %gcc@9.4.0 [spack.spec.sirius.txt](https://github.com/spack/spack/files/9114943/spack.spec.sirius.txt)
1. spack --env gcc940-py3812 install  sirius %gcc@9.4.0
[spack.install.sirius.txt](https://github.co

[2022-07-15 02:29] #31545 closed, assigned to alalazo

[2022-07-15 06:25] William-Mou commented on #31579
This is not the problem of spack
Unfortunately, GDB does not yet support **M1 chips**.

You can build it successfully (without failure), but the GDB executable will not be built.
Maybe use `lldb` debug directly!

ref: https://formulae.brew.sh/formula/gdb#default

[2022-07-15 13:43] eschnett opened #31599 "When a package version is preferred, a reason should be given"
### Summary

Sometimes a particular version of a package is preferred (`version(..., preferred=True)`). There is usually a good reason behind this, but this reason is often not documented in the package. It should be!

I think it would be good to have a mandatory `reason_preferred` string argument when `preferred=True` is chosen for a package version.

### Rationale

When a new version is added to

[2022-07-15 14:59] tagardiner commented on #31579
Ah, I see.  Sorry for bringing up a non-issue, and thanks!

[2022-07-15 14:59] #31579 closed, assigned to nobody

[2022-07-15 15:00] tagardiner commented on #31579
I'm assuming that I should close this issue, since I opened it and it's not a spack problem.
Thanks Again!

[2022-07-15 16:58] RemiLacroix-IDRIS commented on #30730
Any news about this? I'm pretty sure I have seen the concretizer mixing compilers too.

[2022-07-15 17:16] RemiLacroix-IDRIS opened #31607 "New concretizer reusing packages too agressively?"
### Steps to reproduce

Hi,

I have seen pretty weird stuff with the new concretizer after upgrading from an older version Spack. I think it all comes down to the concretizer being too aggressive at reusing package.

For example in the following example, the concretizer chooses to use different versions of Python which leads to a completely broken environment:
[code]

The concretizer also seems to

[2022-07-16 01:28] eugeneswalker opened #31608 "spack config add "config: ..." doesn't work with spaces in inline config"
### Steps to reproduce

Using `spack config add` with an inline config that contains spaces doesn't have the intuitive effect one would expect.

For instance:
[code]

Notice `zlib` doesn't get staged in `<custom-stage-path>`

### Error message

_No response_

### Information on your system

* **Spack:** 0.19.0.dev0 (caee7341dd4fe906ad2254bd5d74f0c9f6520846)
* **Python:** 3.7.7
* **Platform:** darw

[2022-07-16 20:40] cyrush opened #31612 "Issue with SPACK_DISABLE_LOCAL_CONFIG and specific etc/spack/defaults/compilers.yaml"
### Steps to reproduce

To start, I found a workaround for this issue. But I don't understand the root cause and this cost me several hours so I wanted to document it.

To reproduce:

I am on macOS 10.15 (catalina),

check out fresh copy of spack develop

copy the following `compilers.yaml` file to `etc/spack/defaults/compilers.yaml`

[code]

Run:

[code]

### Error message

[code]

Without `SPACK

[2022-07-17 06:05] haampie commented on #31608
Hm, isn't this expected behavior, apart from it adding keys that don't exist without error? Almost all command line parsers do not trim whitespace:

[code]

[2022-07-17 08:09] servesh opened #31616 "Installation issue: py-xdot"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
==> py-xdot: Executing phase: 'install'
==> Error: FileNotFoundError: [Errno 2] No such file or directory: '/soft/spack-builds/linux-opensuse_leap15-x86_64/gcc-10.2.0/py-xdot-1.0-ewo6l45m7prdcqfibj6tgtbfh4imhsvo/lib64/python3.9/site-packages/xdot/__init__.py'

/soft/spack-install/var/spack/r

[2022-07-17 11:56] #31527 closed, assigned to nobody

[2022-07-17 18:37] adamjstewart commented on #31616
Yes, that looks like the right fix, want to open a PR?

Setuptools installs to purelib for pure-Python packages and platlib for packages with non-Python components. On most systems, purelib and platlib are the same, but not on SUSE.

[2022-07-17 19:09] glennpj commented on #31567
@simonleary-umass-edu I will look into this. I did not run into this but the build may have picked up  some TeX bits from my system.

[2022-07-17 21:22] glennpj commented on #31567
The texlive build is fixed in the develop branch.

[2022-07-17 21:37] glennpj commented on #31567
I built `r` on a stripped-down Ubuntu-20.04 system and did not run into the issue. What I think is happening is that the build will look for TeX and if not found skip documentation building. I would bet that a system with a full TeX installation would build documentation.
@simonleary-umass-edu I am not sure how or why things are broken on your system, but I think you have uncovered an issue. Can y

[2022-07-18 06:40] #28830 closed, assigned to nobody

[2022-07-18 10:35] nish-ant commented on #31453
Thanks for the suggestions. Just a note:
Running the command `spack clean -ab` should suffice as mentioned in the [command manual](https://spack.readthedocs.io/en/latest/command_index.html#spack-clean).

[2022-07-18 11:48] mabraham commented on #3509
I had problems with ncurses failing in the above manner when using spack on a shared filesystem even when using `ncurses+symlinks`

[2022-07-18 14:59] Obihoernchen commented on #12105
And in 0.18.0, too.

[2022-07-18 16:03] lee218llnl commented on #31616
perhaps we should make sure this doesn't break backwards compatibility for older python versions and other OSs. If necessary, since we could append both the platlib and purlib paths, or put conditionals in there based on python versions.

[2022-07-18 16:08] adamjstewart commented on #31616
This is unrelated to Python version or OS. This file should always be installed in purelib as long as the library has always been a pure-Python library.

[2022-07-18 16:19] lee218llnl commented on #31616
OK, that makes sense. Thanks.

[2022-07-18 17:15] robertu94 commented on #31581
I agree that something like this is handy (maybe as a subcommand of `spack arch`).  However, just like for CPUs some systems either 1) don't have a GPU at all, or 2) the GPU present isn't the same as the compute nodes being targeted (some ALCF machines come to mind).  Additionally some GPU features depend on the filesystem being used which is probably harder to make a good detection about.

Relate

[2022-07-18 17:18] adamjstewart commented on #31581
Yes, we'll need to figure out the appropriate syntax for this. There are also many other accelerators like TPUs that may or may not be present. I don't think it should be impossible to have some kind of syntax where the arch only includes a GPU if one exists.

Yes, we'll need to support cross-compiling. Luckily this should be much easier than arch cross-compiling since we just need to specify a di

[2022-07-18 18:03] servesh commented on #31616
@adamjstewart Sure, I can open a PR unless @lee218llnl would like to open it.

[2022-07-18 18:06] Paul-Ferrell opened #31627 "Spack mirror --all fails immediately"
### Steps to reproduce

[code]

### Error message

See above

### Information on your system

Our script pulls the latest develop.

[code]

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have searched the issues of this repo and believe this is not a duplicate
- [X] I have run the failing commands in debug mode and reported

[2022-07-18 18:08] adamjstewart commented on #31616
Go ahead, you found the solution.

[2022-07-18 19:56] #31616 closed, assigned to adamjstewart

[2022-07-18 22:28] ghost opened #31634 "Fix broken git url detection"
### Steps to reproduce

Git URLs such as `git@host.com:path/to/repo.git` are currently broken thanks to the filter in the function `require_url_format` in `lib/spack/spack/util/url.py`.  The fix is pretty simple and amounts to replacing `git://` with `git|` in that function.  This is related to Issue https://github.com/spack/spack/pull/29765.  I have a branch with the change at https://github.com/

[2022-07-18 23:51] trws commented on #8675
What version is this for? I stumbled across this and went to look, by default that section now uses `ldconfig -NX -v`, which doesn't update the cache.  Is this only a problem for older versions of ncurses?

[2022-07-19 06:14] alalazo commented on #31627
@Paul-Ferrell @becker33 Can you check if #31636 fixes the issue for you too?

[2022-07-19 10:23] stephenmsachs opened #31640 "Installation issue: Binary libffi fails checksum verification"
### Steps to reproduce the issue

[code]

### Error message

==> Installing libffi-3.4.2-d6d3lh3hgkjwbifbbjuvqs2a3w5xj7pd
==> Fetching https://binaries.spack.io/releases/v0.18/build_cache/linux-amzn2-x86_64_v4-gcc-7.3.1-libffi-3.4.2-d6d3lh3hgkjwbifbbjuvqs2a3w5xj7pd.spec.json.sig
gpg: Signature made Tue 31 May 2022 07:27:40 AM UTC using RSA key ID 3DB0C723
gpg: Good signature from "Spack Project Of

[2022-07-19 14:25] Paul-Ferrell commented on #31627
@alalazo - It does not. See my comment in that MR.

[2022-07-19 14:26] Paul-Ferrell commented on #31627
I should add that the reason it does not is that I'm using both `--all` and `-n all`.

[2022-07-19 15:15] Paul-Ferrell opened #31648 "python_platlib and python_purelib break when using inheritance with packages."
### Steps to reproduce

- Create a separate package repo, and add that repo to Spack.
- Pick a package that depends on python and uses `python_platlib` or `python_purelib` in its `install()` method.
- Create a new package of the same name in your separate repo.
  - Import the needed spack libs
  - Import the parent package of the same name from builtins
  - Create a new class for that package that

[2022-07-19 16:46] ghost commented on #31634
This appears to be a duplicate of https://github.com/spack/spack/pull/29674.  I think the documentation should probably be updated to indicate that we have to use the `ssh://git@bitbucket.org/name/repo.git` syntax or else merge @certik's fix.

[2022-07-19 17:10] simonLeary42 commented on #31567
[code]

[2022-07-19 17:17] adamjstewart commented on #31648
@alalazo any idea how to solve this?

[2022-07-19 17:25] aweits commented on #31229
@adamjstewart can you look and make sure that everything with SPACK_INCLUDE_DIRS up through the compiler wrapper is working correctly?

[2022-07-19 17:28] adamjstewart commented on #31229
@aweits the only thing I know how to do is run `spack --debug install` and upload the debug logs here, can you tell whether or not the compiler wrappers are working correctly from this?

I remember we had an issue with `-I` vs. `-isystem` years ago with TF: https://github.com/bazelbuild/bazel/issues/10437. Wonder if this is related.

[2022-07-19 17:55] aweits commented on #31229
Yep, either the wrapper is invoking the backend compiler with the correct include path for protobuf or it isn't - that should help us figure out what's going on...

[2022-07-19 18:55] adamjstewart commented on #31229
Hmm, `spack --debug` isn't creating a compiler wrapper log anymore...

[2022-07-19 20:38] Paul-Ferrell commented on #31648
You could walk the inheritance tree and set it for each module you encounter. You'd want to stop when you inherit from one of the build classes, or when the module isn't named `package.py`.

Or maybe stop monkey patching, and just provide a base methods/properties that look at the spec dependencies tree, finds Python and grabs and returns those values.

[2022-07-19 21:02] certik commented on #31634
I think my fix should still be merged, so many people keep hitting this issue. But I don't know how to run tests locally (see #29674), so I don't know how to bring it over the finish line.

[2022-07-20 11:02] BenWibking opened #31662 "Installation issue: xpmem"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
==> Installing xpmem-2.6.5-36-3l7huhucveinkphwbe37nvddyoshphh4
==> No binary for xpmem-2.6.5-36-3l7huhucveinkphwbe37nvddyoshphh4 found: installing from source
==> Using cached archive: /home/opc/spack/var/spack/cache/_source-cache/git//hjelmn/xpmem.git/0d0bad4e1d07b38d53ecc8f20786bb1328c446d

[2022-07-20 13:02] RylanYancey opened #31663 "Desired package shows up in Spack Package list website but not found in terminal."
### Steps to reproduce

I'm trying to install Cutlass Nvidia library using Spack.

I've installed Spack via their instructions online and ran "spack install cuda" to install the cuda toolkit beforehand. I then went and used "spack install cutlass".

Cutlass exists on Spack's website, and when I run "spack list", cutlass is not there.

### Error message

[code]
[code]

### Information on your syste

[2022-07-20 14:50] aweits commented on #31229
hm, that's odd - it's currently working for me on a newly-fetched develop branch...

[2022-07-20 15:15] haampie commented on #31662
spack does not provide kernel headers, you have to add them yourself

[2022-07-20 17:18] adamjstewart commented on #31663
You are viewing the docs for the develop version but using the 0.18.1 release. Cutlass was added in #31379 which was merged after the 0.18 release. You'll have to upgrade to a more recent commit if you want to use that package, or wait for the 0.19 release.

[2022-07-20 17:18] #31663 closed, assigned to nobody

[2022-07-20 20:19] kgerheiser opened #31669 "Concretizer does not respect external MPI provider"
### Steps to reproduce

I have two compilers configured (Intel/GCC) along with corresponding MPI (`intel-oneapi-mpi`/`openmpi`) and no matter what I do Spack chooses to build with Intel and Intel MPI.

I set `packages:all:compiler:[gcc@10.2.0]` and `packages:all:providers:mpi:[openmpi@4.0.4]` and in my specs I'm only building hdf5+mpi.

I have tried adding the variants/version in the external spec

[2022-07-20 22:00] glennpj commented on #31567
Poppler failing to fetch is a separate issue.

[2022-07-20 23:35] jrmadsen opened #31671 "Duplicating variant in package to change default results in incorrect When field"
### Steps to reproduce

Go to any package that inherits from CMakePackage and override the `build_type` variant. If you look at the resulting `spack info <package>`, it turns the `When` column into `[, ]` instead of the normal `--`.

### Error message

N/A

### Information on your system

N/A

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/P

[2022-07-21 00:43] BenWibking commented on #31662
Sorry, should have clarified that I do have the kernel headers installed. It just thinks they aren't.

[2022-07-21 02:26] BenWibking commented on #31662
@haampie Here are the kernel headers:
[code]

[2022-07-21 07:01] alalazo commented on #31669
Looking at the output of `spack solve` it seems to me that Spack is reusing an already installed Intel oneAPI MPI. Can you confirm that? If that is the case using `--fresh` should solve concretise with GCC and OpenMPI.

[2022-07-21 08:34] melven commented on #31607
I have a similar problem: the `reuse` has higher priority than the mpi-provider (e.g., `packages:all:providers:mpi: [mpich]`).

This results in an environment with `mpich` that reuses packages built with openmpi, e.g. (`hdf5^openmpi`, `petsc^openmpi`, ...) which is not what I intended...

Concerning mixing of python-versions in the example above: these are only build dependencies, so from my under

[2022-07-21 08:53] RemiLacroix-IDRIS commented on #31607
Unfortunately not, this leaded to the python executable not being able to run because of mixed up paths.

[2022-07-21 08:58] melven commented on #31607
Ok thanks for the clarification. Then I'll need to avoid that case, too.
(So for environment with different python versions, I'll probably need to build some packages like ninja multiple times...)

[2022-07-21 10:25] giordano opened #31675 "Installation issue: OpenBLAS on A64FX with Fujitsu compiler"
### Steps to reproduce the issue

[code]

### Error message

[code]

### Information on your system

This is on Fugaku:
[code]

### Additional information

[`spack-build-env.txt`](https://github.com/spack/spack/files/9158540/spack-build-env.txt)
[`spack-build-out.txt`](https://github.com/spack/spack/files/9158541/spack-build-out.txt)

I had opened an [issue in OpenBLAS](https://github.com/xianyi/O

[2022-07-21 13:22] kgerheiser commented on #31669
What do you mean by already installed? Of course they're already installed (outside of Spack) because they are external. This is a completely fresh environment aside from the externals. I've tried using `--fresh` with no difference. One idea that @becker33 had is that `Spack is punishing the external for having non-default variants/version, which are higher priority than the compiler match`, but I

[2022-07-21 14:35] alalazo commented on #31669
Already present in Spack's DB if you try:
[code]
That seems not to be the case according to your comment.

[2022-07-21 14:52] kgerheiser commented on #31669
I can confirm that nothing is installed with using `spack find`

[code]

[2022-07-21 16:01] eugeneswalker opened #31678 "hdf5 +fortran ^mpich %oneapi build fails during cmake: MakeTestFortranCompiler.cmake:61: ... unknown option '-rpath'"
### Steps to reproduce the issue

`hdf5 ^mpich %oneapi` build fails with:
[code]

Here using:
* `spack@develop` (5ffc095f63f5e6c82fe6289ae44066b492c37828 from `Thu Jul 21 17:02:28 2022 +0530`)
* Ubuntu 20.04, X86_64
* OneAPI 2022.1.0
* Docker container image `ecpe4s/ubuntu20.04-runner-x86_64-oneapi:2022-07-01`
  * contains OneAPI 2022.1.0 pre-installed to default location

Spack environment: [spac

[2022-07-21 17:08] robertkb opened #31680 "Installation issue: gdal+lerc"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
==> Error: NoLibrariesError: Unable to recursively locate lerc libraries in /sw/spack/hydrogpu-2022-06/apps/lerc/3.0-gcc-11.3.0-6qfhczi

/mnt/a/sw/spack/spackgpu/develop-20220714/var/spack/repos/builtin/packages/gdal/package.py:398, in setup_run_environment:
        395        libs = []

[2022-07-21 17:32] robertkb commented on #31680
My colleague with sharper eyes than mine notes that the library is named "libLerc.so", rather than "liblerc.so", so the spec.py code is probably okay, but lerc/package.py needs a proper libs() property defined.

[2022-07-21 18:25] adamjstewart commented on #31680
Good catch! I was wondering why I didn't encounter this issue and then remembered that all the testing on the last big GDAL PR was done on macOS where the filesystem is case-insensitive. PR incoming.

[2022-07-21 19:58] kgerheiser opened #31686 "Spack mirror create attempts to download external packages"
### Steps to reproduce

I am trying to create a Spack mirror from an environment, but it tries to download external packages

With an active environment that contains a single spec of curl:

[code]

I run `spack mirror create --all` and it attempts to download `curl@7.29.0` which doesn't exist at the URL and it keeps doing that over.

According to this PR https://github.com/spack/spack/issues/8083

[2022-07-21 20:28] RonRahaman opened #31687 "Installation issue: OpenPBS 20.0.1: patch step fails"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
==> Installing openpbs-20.0.1-fvtebcm6xf6jcw7k7wayvscracysiqos
==> No binary for openpbs-20.0.1-fvtebcm6xf6jcw7k7wayvscracysiqos found: installing from source
==> Fetching https://mirror.spack.io/_source-cache/archive/68/685a4abcea92bf518df02b544d25e237ae8cef76f86525f7bf3554812e9f50fa.tar.gz

[2022-07-21 21:39] haampie commented on #27063
Soon no longer!

[2022-07-21 21:54] haampie commented on #31095
I recommend we fix the issue!

[2022-07-21 22:36] giordano commented on #31675
BTW, the problem with Spack building the generic binary is not specific to the Fujitsu compiler: also when building with GCC I got `DYNAMIC_ARCH=1`.

***Edit***: the problem of `DYNAMIC_ARCH=1` being used was fixed by #41093, but this didn't resolve the above error when using the Fujitsu compiler.

[2022-07-22 08:04] #31627 closed, assigned to alalazo

[2022-07-22 13:11] #31095 closed, assigned to nobody

[2022-07-22 13:11] #27063 closed, assigned to nobody

[2022-07-22 14:01] dmentock opened #31695 "Defining a package with more than one flag in an environment causes "Invalid character" error"
### Steps to reproduce

[code]
### Error message

[code]

### Information on your system

* **Spack:** 0.19.0.dev0 (de8cb3d21c9e09d38ddebec94465393448979555)
* **Python:** 3.8.10
* **Platform:** linux-ubuntu20.04-sandybridge
* **Concretizer:** clingo

### General information

- [x] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have searched the issues of

[2022-07-22 14:04] rscohn2 commented on #31678
I needed this to see the error:
[code]

[2022-07-22 14:19] stephenmsachs commented on #31640
I proposed a fix to automatically build from source on these errors as I guess they are transient in nature anyway. Today `libffi` donwloads fine, but `py-pip` throws this exception.

[2022-07-22 14:32] rscohn2 commented on #31678
The problem is related to mpich%oneapi:
[code]

Looking at mpif90 script, I think wl needs to be -Wl

I don't know who/what is responsible for making that happen.

[code]

[2022-07-22 15:08] jgalarowicz commented on #31607
I am also seeing this issue with openspeedshop which requires python 2.7 but the new clingo concretizer is using the ninja python 3 while the original concretizer does the right thing pulling in python 2.7 for openspeedshop.   You mention building ninja multiple times.  I'm assuming you mean specifying different python versions for each of the multiple builds.   Will the new concretizer work corre

[2022-07-22 16:21] rscohn2 commented on #31678
The mpich configure sets this up. It is broken for %intel and %oneapi compilers. Hoping @raffenet could suggest what needs to happen.

https://github.com/pmodels/mpich/blob/cdf120d89a2600bc87bb068ee6df55d5633026d8/confdb/config.rpath

[2022-07-22 17:46] psakievich opened #31700 "Compiler flags are not being picked by scope priority"
### Steps to reproduce

1.  Add a fake compiler flag to the install scope compiler:
    **cflags: /dummy_path/test_a**
2. Add the same compiler flag to the user scope compiler but tweak one character:
    **cflags: /dummy_path/test_b**

Something like:
[code]
5. `spack solve zlib`

This gives the super helpful:
[code]

### Error message

[code]

### Information on your system

[code]
Also seeing t

[2022-07-22 19:16] jamesETsmith commented on #15642
I'm seeing this error also, were you ever able to fix it? For reference, I'm trying to build `llvm@14.0.5` with `gcc@12.1.0` and spack 1bc3b0a.

[2022-07-22 23:41] SamBosch77 opened #31702 "Spack test issue: heffte"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
==> Spack test mpwxbgnv6ksqs5ogbrlhhqw5g23kpjnn
==> Testing package heffte-2.2.0-hi4m7gs
==> Error: ProcessError: Command exited with status 1:
    'cmake' '/storage/users/sbosch/spack/opt/spack/linux-ubuntu20.04-x86_64/gcc-9.4.0/heffte-2.2.0-hi4m7gstg27vrdxo4hxreewbrdicusm7/share/heffte/tes

[2022-07-23 14:41] rscohn2 commented on #31678
mpich 4.1 is the first release that has support for oneapi compilers. There has only been an alpha release. Otherwise, you need this patch: https://github.com/pmodels/mpich/commit/c4e999add5017f57f0bf20010dfc31e952174ccb

[2022-07-23 15:43] raffenet commented on #31678
Thanks for finding the patch @rscohn2! I knew we had looked into this, but hadn't yet dug into the logs.

[2022-07-23 15:52] rscohn2 commented on #31678
I hope intel never introduces another compiler wrapper in my lifetime. It breaks everything.

@eugeneswalker:  can do this until mpich has a 4.1 release:
[code]

[2022-07-23 19:17] adamjstewart opened #31706 "Installation issue: llvm"
### Steps to reproduce the issue

[code]

### Error message

[code]

### Information on your system

* **Spack:** 0.19.0.dev0 (bbfe3bd157f8698901cb8172e1bb94805d530336)
* **Python:** 3.7.9
* **Platform:** linux-ubuntu18.04-broadwell
* **Concretizer:** clingo

### Additional information

* [spack-build-out.txt](https://github.com/spack/spack/files/9174490/spack-build-out.txt)
* [spack-build-env-mod

[2022-07-24 09:23] hseara commented on #23654
I do this manually, and it is tedious, Anyway, I think this issue is now outdated and should be closed.

[2022-07-24 09:23] #23654 closed, assigned to nobody

[2022-07-24 09:31] mmrezaie commented on #15642
I gave up and installed it by my own and manually created the module. I have not checked it since then.

[2022-07-24 16:12] trws commented on #31706
This is usually because one or more of libc6-dev, gcc-multilib, g++-multilib, or libc6-dev-i386 is missing from the ubuntu install in question.  It's a funny case because it's part of building the LLVM backend that can target 32-bit, so you can have a full *64-bit* toolchain but still be missing this stuff, and we currently don't detect that.

Actually, @asarkar-parsys, this might be a great case

[2022-07-24 20:30] adamjstewart commented on #31706
Is there any way to build LLVM without 32-bit support? I can't imagine most users actually need that.

[2022-07-24 20:46] adamjstewart commented on #31499
Just hit this same issue with PyPI where URLs look like: https://files.pythonhosted.org/packages/b6/3e/cb066e5cb76302f73a20e302b40e6fd5aea9462ce520581165348c008913/Sphinx-5.1.0.tar.gz#sha256=7893d10d9d852c16673f9b1b7e9eda1606b420b7810270294d6e4b44c0accacc

[2022-07-24 21:34] trws commented on #31706
Not if you want to build it with x86_64 support, at least not that I know of. Clang is natively a cross compiler, though you can build it with only one target instead of all, but X86 and X86_64 are under the same target in the configuration flags.

[2022-07-25 08:03] haampie commented on #31499
#31618 solves this:

on develop:

[code]

with #31618

[code]

So we should just merge it as a simple quick fix. And in the meantime @johnwparent is working on file magic to detect archive types iiuc.

[2022-07-25 08:31] #31499 closed, assigned to scheibelp, johnwparent

[2022-07-25 09:16] haampie opened #31712 "Dropping rpaths of "system paths" considered harmful"
Spack has logic for not adding "system paths" as rpaths, which is a mistake.

For example: OpenMPI is supposed to pick up `libpmi` from Slurm. When building OpenMPI with Slurm marked as external in `/usr` the `/usr/lib64` dir is not added to the rpaths.

With glibc, `/usr/lib64` is a "default path", which has lower precedence than `/etc/ld.so.conf` paths. And on Cray, `ld.so.conf` contains the pat

[2022-07-25 09:50] jgphpc opened #31714 "Installation issue: ascent"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>

==> ascent: Executing phase: 'build'
==> Error: ProcessError: Command exited with status 2:
    'make' '-j12'

4 errors found in build log:
     503        CMakeFiles/ascent_flow.dir/flow_data.cpp.o
     504        CMakeFiles/ascent_flow.dir/filters/flow_builtin_filters.cpp.o
     505    du

[2022-07-25 11:45] melven opened #31716 "build dependency changes hash (ninja^python)"
### Steps to reproduce

[code]

### Error message

According to the documentation (https://spack.readthedocs.io/en/latest/packaging_guide.html), the hash should not change if this is a build-only dependency:

However, the hash changes for every python version that I use here.
Perhaps the documentation is misleading me here or dependencies on python are somewhat special...

The documented behavior

[2022-07-25 13:42] lrtfm opened #31717 "Installation issue: clingo-bootstrap: Could NOT find Python"
### Steps to reproduce the issue

Hi, @alalazo  @tgamblin,  This is in the bootstrap stage. Could you help find the reason?

### Error message

<details><summary>Error message</summary><pre>
[lrtfm@ln0%tianhe2 spack-src]$ spack install tmux
==> Warning: Spec clingo-bootstrap@spack%gcc@9.3.0~docs~ipo+python build_type=Release arch=linux-rhel5-x86_64 ^python@3.6%gcc@9.3.0+bz2+ctypes+dbm~debug+libxml

[2022-07-25 13:48] haampie commented on #31717
If you're using system python you have to install python-dev too (with the headers)

[2022-07-25 13:58] nn200192 opened #31719 "Installation issue: Perl tried to create /data in root directory"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
==> maker: Executing phase: 'install'
==> Error: ProcessError: Command exited with status 13:
    '/home/user/spack2/opt/spack/linux-centos8-zen2/gcc-10.2.0/perl-5.34.1-cdzr6e4cbxmqvfhajitzuhyiq4jwzlik/bin/perl' 'Build' 'install'

1 error found in build log:
     74    Subroutine Parallel::A

[2022-07-25 14:18] lrtfm commented on #31717
Thanks. But it's not the system python, and the headers are all in `/vol7/software/python3/include/python3.6m`  which have been passed to cmake by `-DPython_INCLUDE_DIR:STRING=/vol7/software/python3/include/python3.6m`.

[2022-07-25 14:26] psakievich opened #31720 "Installation issue: berkeley-db M1 with gcc"
### Steps to reproduce the issue

`berkeley-db` builds with `apple-clang` but not `gcc` on M1.

[code]

### Error message

<details><summary>Error message</summary><pre>
==> Installing berkeley-db-18.1.40-doru6hfvbxx3a2tnpnj3xaeuomkeejtt
==> No binary for berkeley-db-18.1.40-doru6hfvbxx3a2tnpnj3xaeuomkeejtt found: installing from source
==> Using cached archive: /Users/psakiev/development/spack/va

[2022-07-25 15:04] haampie opened #31721 "reuse: ignores required variant value, picks the opposite."
### Steps to reproduce

After modifying the openmpi packages like this:

[code]

Spack picks up `~pmi` when `+pmi` is required in the input spec:

[code]

I suspect that the bug here is that the new `when` condition is not satisfied on the reused spec, so `pmi` variant is ignored. At the same time though, `+pmi` should imply `schedulers=slurm`, so it's still weird.

### Error message

.

### Infor

[2022-07-25 16:14] eugeneswalker commented on #31678
Thank you for diving into this @rscohn2 and @raffenet . You are awesome!

[2022-07-25 16:14] eugeneswalker commented on #31678
Should we leave the issue open until new release of mpich is in Spack?

[2022-07-25 16:18] wyphan opened #31731 "symbol lookup error: /lib64/libk5crypto.so.3: undefined symbol: EVP_KDF_ctrl, version OPENSSL_1_1_1b"
### Steps to reproduce

For me, this happens whenever I launch `emacs` after loading a Spack-built OpenSSL.
[code]

### Error message

[code]

### Information on your system

[code]
The system-installed version of OpenSSL is 1.1.1k

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have searched the issues of this repo and beli

[2022-07-25 16:55] tgamblin commented on #27736
We expect this to be fixed by https://github.com/spack/spack/pull/29761 and are going to prioritize that PR

[2022-07-25 17:10] lrtfm commented on #31717
Now, I installed python myself, and the following CMake file can find python
[code]
with output
[code]

But when using spack to install the package, the CMake still can not find python's components "Development.Module: and "Development.Embed"

Is some environment variables need to be set?

[2022-07-25 17:11] eugeneswalker opened #31732 "openblas@0.3.20 %oneapi@2022.1.0: libopenblas.so not linked with libifcore: undefined reference to for_cpystr, ..."
### Steps to reproduce the issue

The library generated by building `openblas %oneapi` is not linked with `libifcore` and has undefined symbols as a result.

Here I am using:
* `spack/develop` (babb0edf077dfccf8e66ab63784437b06bdc3963 from `Mon Jul 25 07:50:22 2022 -0600`)
* Docker container image: `ecpe4s/ubuntu20.04-runner-x86_64-oneapi:2022-07-01`
  * Ubuntu 20.04, X86_64
  * `oneapi@2022.1.0`

[2022-07-25 17:22] adamjstewart commented on #31720
I'm able to reproduce this. I wouldn't recommend using GCC on macOS, many packages (including Python) are known not to compile with GCC on macOS.

[2022-07-25 17:30] cyrush commented on #31714
@jgphpc  Thanks for the report, we saw something like this once before macOS using
gcc 10.

https://github.com/Alpine-DAV/ascent/issues/730

Q: Did you use spack to build gcc?

[2022-07-25 17:32] psakievich commented on #31720
GTK.  Probably not worth the effort to track this down then. Do we have a spot where these compatibility issues are published? It would be good to have a place to check when running into these sorts of problems.

[2022-07-25 17:34] adamjstewart commented on #31720
@tgamblin is working on a public binary cache, I believe that will also include a panel where you can see what systems/compilers each package does and does not build on.

[2022-07-25 17:39] becker33 commented on #31732
Can this be fixed by adding `-lifcore` to the ldflags via the flag handler?

[2022-07-25 17:41] eugeneswalker commented on #31732
I can certainly try that and report back. Would this be the right way to fix it long term?

[2022-07-25 18:03] eugeneswalker commented on #31732
I modified `openblas` package.py like so:
[code]

And that worked:
[code]

And verified that, for instance, the `superlu-dist ^openblas %oneapi` build didn't have the same errors.

[2022-07-25 19:12] #31179 closed, assigned to nobody

[2022-07-25 19:14] johnwparent commented on #31499
Yes, this is correct. That effort can be found at #31589

[2022-07-25 19:59] sethrj opened #31735 "Bootstrap issue: cannot find Python (new apple M2)"
### Steps to reproduce the issue

[code]

@alalazo I'm setting up a brand-new M2 macbook air.  I've installed XCode and CLT (and used `xcode-select --reset` to cause the default tools to point back to xcode). The `python` command isn't available but `python3` is: Python 3.8 exists at `/Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.8/bin/python3.8` , but the pat

[2022-07-25 20:53] martin-frbg commented on #31732
Are you sure this is not simply a re-run of your https://github.com/xianyi/OpenBLAS/issues/3634 from mid-May ? (0.3.20's build scripts not recognizing oneapi ifc under its new-ish ifx name ?)

[2022-07-25 21:05] haampie commented on #31731
This issue would be closed by https://github.com/spack/spack/pull/28354

[2022-07-25 21:27] Paul-Ferrell opened #31736 "Spack mirror --all fails for packages conflicting with the current platform"
### Steps to reproduce

Run `spack mirror --all -n all`

The `spec.concretize()` @alalazo added needs to be in a try/except of some sort.

### Error message

[code]

### Information on your system

 spack debug report
* **Spack:** 0.19.0.dev0
* **Python:** 3.6.8
* **Platform:** linux-rhel7-broadwell
* **Concretizer:** clingo

### General information

- [X] I have run `spack debug report` and repor

[2022-07-25 21:30] eugeneswalker commented on #31732
You are right! I thought we had resolved this previously but I couldn't find an issue here on Spack repo! Thank you. I will create a patch of `f_check` for `openblas@0.3.20` and we can resolve this that way.

[2022-07-25 22:09] adamjstewart commented on #31735
CMake doesn't know how to find the system Python on macOS. Until we have pre-compiled clingo binaries for macOS arm64, you'll need to first install Python (homebrew, conda, source, etc.).

[2022-07-25 22:10] adamjstewart commented on #31735
Also, it's interesting that your spec says M1 instead of M2. @alalazo is that something that needs to be fixed in archspec?

[2022-07-25 22:38] #31732 closed, assigned to nobody

[2022-07-26 01:45] sethrj commented on #31735
Good call @adamjstewart. Looks like I get to be a Guinea pig again...

[2022-07-26 02:43] rhd opened #31741 "Support @run_before('uninstall')"
### Summary

I have a usecase where a tool needs to have a specific script run before it gets uninstalled by spack. If this uninstall script isn't run, I'm not able to `spack install` it again.

### Rationale

See summary. Here is an example taken and modified from [here](https://spack.readthedocs.io/en/latest/build_systems/custompackage.html?highlight=run_before#run-before-run-after).

[code]

##

[2022-07-26 04:27] matt-chan commented on #14720
I'm getting this bug too. Is it possible to add it back to triage please?

[2022-07-26 09:47] dmentock opened #31742 "Spack cannot create environment with packages that use different versions of the same dependency"
### Steps to reproduce

### Discussed in https://github.com/spack/spack/discussions/31718

[code]

### Error message

This results in the error message that says that two different numpy versions (1.23.1 and 1.22.4) are being used in this environment. I have also tried concretizing the packages to only make use of numpy 1.22.4, the results of which can be found in the discussion post.

[code]

The

[2022-07-26 10:01] lrtfm commented on #31717
First of all, the python is not installed by the system. Without `LD_LIBRARY_PATH`, it can not find the `so` file, which results in the failure of CMake. So I installed python by compiling it with `LDFLAGS=-Wl,-rpath=/where/I/will/install/python/lib`,
and then add the python's binary path to `PATH`, then CMake found the new python.

However, another problem arises. As a new so `libstdc++.so.6` is

[2022-07-26 11:42] haampie commented on #31742
It's just the view that fails to create, use `spack env create --without-view` or use `spack -e [my env] config add concretizer:unify:true`.

[2022-07-26 12:20] Jordan474 commented on #31669
I too have an issue with this: since spack 0.17 (clingo) the `providers` preferences seem to be ignored when dealing with external packages. Here is a simpler example:

[code]

[code]

Looking at `concretize.lp` it does seem suspicious that `possible_provider_weight` is forced to `0` when dealing with external ? Shouldn't it be offset using `default_provider_preference` or something ?

[2022-07-26 12:36] dmentock commented on #31742
@haampie I see. Loading this environment also changes the path of my python executable. When I open this executable and import numpy, how do I know which version of numpy I am importing?

[2022-07-26 13:06] nono-Sang opened #31745 "re2c error when installing package"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
==> Bootstrapping clingo from pre-built binaries
==> Bootstrapping clingo from sources
[+] /usr (external bison-3.0.4-2t7uvfd7sesgvvybwkeyxe6lvkw5gdt4)
[+] /GPUFS/sysu_dhuang_lzg2/MyCmake/cmake (external cmake-3.23.2-75pkscco5znjqot7sv277hqpnrwc6g2g)
[+] /GPUFS/app_GPU/application/anaconda3/

[2022-07-26 15:30] sethrj commented on #31735
https://github.com/archspec/archspec/issues/95

[2022-07-26 16:30] renjithravindrankannath commented on #31065
Hi @G-Ragghianti ,
The issue wasn't reproduced on similar environment since lsmod was available in the same docker.
As you have already discovered the problem causing rocm_agent_enumerator to fail and found a solution
please let us know if we can close this ticket.

[2022-07-26 20:03] melven commented on #31387
I had the same problem. with v0.18.1 and
[code]
it seems to work much better for me.

[2022-07-26 20:14] haampie commented on #31387
@melven was this when using environments? And what type of filesystem did you have spack installed on?

For environments #31493 made it to 0.18.1, and #31643 could possibly help (on the develop branch only). Would be curious to know if #31643 solves your issue or not.

[2022-07-26 21:17] melven commented on #31387
Yes, I'm using the following code snippet for building environments:
[code]
And I run this on a 4x16 core cascade lake node.

nfs v3 over infiniband with ext4 on the server.
But I still wanted to benchmark the RAID/NFS as it feels somewhat slower after an update (Ubuntu 18.04 to 20.04).

With https://github.com/spack/spack/pull/31643 (and without increasing db_lock_timeout), the lock timeouts stil

[2022-07-26 21:41] #31678 closed, assigned to nobody

[2022-07-26 23:41] ltalirz commented on #31453
If someone wants a faster fix: delete all occurences of the respective package from `~/.spack/cache/providers/builtin-index.json`.

As for how it ended up there in the first place I'm still not entirely clear. I'm on a clean install of spack 0.18.1 on CentOS 7.9

[2022-07-27 01:03] adamjstewart commented on #31745
Can you run `spack bootstrap status`? It's possible that you're missing one of Spack's [required dependencies](https://spack.readthedocs.io/en/latest/getting_started.html#system-prerequisites).

[2022-07-27 01:05] adamjstewart commented on #31479
Closing since this is fixed in develop, let me know fi you encounter any other build issues.

[2022-07-27 01:05] #31479 closed, assigned to alalazo

[2022-07-27 01:29] nono-Sang commented on #31745
Yes, it shows that clingo is missing. The specific information is :

Spack v0.18.1 - python@3.6

[FAIL] Core Functionalities
  [B] MISSING "clingo": required to concretize specs

[PASS] Binary packages

Spack will take care of bootstrapping any missing dependency marked as [B]. Depe                                                                           ndencies marked as [-] are instead require

[2022-07-27 07:35] #31745 closed, assigned to alalazo

[2022-07-27 08:35] melven commented on #31387
Further remark: with the `db_lock_timeout = 300`, everything seems to work fine and the time for building environments gets reduced significantly.

Example for one environment with a set of "base" packages from me:
[code]
Required build time with `spack -e BuildTools install`: 45 min
Required build time with Makefile and `make -j 56`: 11 min
(Skylake node with 56 cores, ccache is disabled, both cl

[2022-07-27 16:17] haampie commented on #31387
I still think the timeout is a bug. We're building 1 and only 1 spec per spack install command with generated makefiles. And make manages the dependency dag. So i wonder if some locks are held longer than necessary, or if adding to the database is terribly slow.

[2022-07-27 17:36] sethrj commented on #31735
@adamjstewart I installed python through homebrew, and found that Spack still tries to use the system python (getting the same error). I then tried `spack --bootstrap uninstall -a python` and `spack --bootstrap external find python`, but Spack *still* uses the system python. I even removed the system python from `/Users/seth/.spack/bootstrap/config/packages.yaml` but it **still** tries to install

[2022-07-27 17:38] adamjstewart commented on #31735
Try unsetting SPACK_PYTHON or explicitly setting it to the right exe. Spack caches this and it controls which exe is used to run Spack (and therefore to bootstrap)

[2022-07-27 19:39] vsoch opened #31779 "binutls: package contains a newline"
[code]
To reproduce how I'm doing it:

[code]

[2022-07-27 19:57] ghost opened #31780 "Installation issue: Singularity"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
...
</pre></details>
"ERROR  : No setuid installation found, for unprivileged installation use: ./mconfig --without-suid"

"""
[2022-07-26T19:13:38+0000]: The current user 1630 is not                      ^M
[2022-07-26T19:13:38+0000]: part of the "docker" group.                         ^M
[

[2022-07-27 20:35] sethrj commented on #31735
That did the trick, thanks @adamjstewart ! Maybe we need to open a CMake issue to fix system python (especially if CLT or Xcode are installed).

[2022-07-27 21:46] quellyn commented on #25445
Received following response from python developers:

So I am building all python packages with GCC now (with the exception of `py-mpi4py`).

[2022-07-27 21:46] #25445 closed, assigned to nobody

[2022-07-27 21:56] adamjstewart commented on #25445
Unfortunate, but certainly not surprising.

[2022-07-27 21:57] adamjstewart commented on #31735
I'm no CMake expert. Would it be an issue in the clingo repo or in the CMake repo? Who actually maintains the findpython code? @chuckatkins?

[2022-07-27 21:57] #23059 closed, assigned to nobody

[2022-07-27 22:21] sethrj commented on #31735
FindPython is something maintained by Kitware (but open to contributions). I've submitted patches to mainline CMake before so I'll see if I can take a crack at it.

[2022-07-27 22:33] eugeneswalker commented on #29526
Build failure visible here:
* https://gitlab.spack.io/spack/spack/-/jobs/2802229

[2022-07-27 23:35] davidedelvento opened #31782 "Ability to diff specs from files"
### Summary

In spack v0.18.1 (and not only), there is `spack diff` however that is limited in its functionality. It would be very nice to be able to diff arbitrary specs from files

### Rationale

One could be running spack on two different machines and experiencing different behaviors. The administrator could save the spec from one machine into a file, bring it to the other machine and run `spac

[2022-07-28 09:06] haampie opened #31786 "Issues with filename of sources & patches in url fetcher"
The URL fetching / staging code has multiple issues:

- We're using `os.path.basename(s)` which is empty string `""` when `s` has a trailing dir separator (already for 3 years, apparently nobody added a trailing `/` to their urls yet)
- Computed filenames can clash when only taking the basename: `url1.com/download` `url2.com/download`.
- The computed filenames are not particularly pretty / shell s

[2022-07-28 11:34] haampie commented on #31779
This seems to be caused by `spliced` given that

[code]

works fine in the container.

[2022-07-28 11:36] vsoch commented on #31779
How exactly?

[2022-07-28 11:37] vsoch commented on #31779
Also this container has changed like 20 times since I posted the issue.

[2022-07-28 13:45] vsoch commented on #31779
Also spliced (despite it's name) is not actually doing the splicing - it's calling spack functions, so this is still an issue with spack. I'll use the updated container today to try and reproduce for you something in Python to cause it.

[2022-07-28 14:08] haampie commented on #31779
I could reproduce in docker by copying your command, but running spack install directly worked. However, it takes forever to reproduce, so if you're sure this issue is in spack, then please make the reproducer smaller...

Does `spliced` set `LD=ld\n` perhaps?

[2022-07-28 14:10] vsoch commented on #31779
Yeah I can try to do that. And lolz I package my entire environment to reproduce which is more than anyone ever does and it’s still not good enough… 😭

[2022-07-28 14:13] haampie commented on #31779
It's good to have a proper reproducer, but it's still asking a lot of time from others to reproduce...

Fyi, this looks similar:

[code]

so my suspicion is that your wrapper around spack sets some variable that affects the build. I don't think Spack controls the `LD` variable

[2022-07-28 15:24] matthewcurry commented on #31184
Is there something I can do to help find a resolution?

[2022-07-28 15:55] vsoch commented on #31779
The wrapper doesn’t set any variables that aren’t already set in the container. And if that were the case I’d see it across packages (but I don’t).

[2022-07-28 15:56] vsoch commented on #31779
And next time I won’t provide a container I guess!

[2022-07-28 17:33] vsoch commented on #31779
okay I found the difference - for a spack install (or spack python) it does it's own logic to setup paths / environment. For spliced when we add spack to the path, we just do those steps, here:

https://github.com/buildsi/spliced/blob/da091ab8822261ea1059e9620ab1b89c27f81f95/spliced/utils/terminal.py#L94-L108

so the real question is what other foo is spack doing on init?

[2022-07-28 17:36] vsoch commented on #31779
So I think what I need to do is run spliced from spack python, which also needs the full path to the "executable" (which is just a Python script entrypoint).

[code]

[2022-07-28 17:39] vsoch commented on #31779
TLDR - spack doesn't work like a typical Python module. Thanks for the help @haampie !

[2022-07-28 17:39] #31779 closed, assigned to nobody

[2022-07-28 21:50] haampie commented on #31716
I think the documentation is outdated, but @tgamblin should confirm. In the past, the reason build type deps did not enter the hash was to concretize to the same hashes even when build deps were updated, to avoid redundant rebuilds. This was later replaced by making the concretizer prefer reuse of installed specs over optimizing for the latest version of everything. With that in place, the hash co

[2022-07-28 21:51] sethrj commented on #31735
@adamjstewart I dug into this: it turns out that `find_package(Python REQUIRED COMPONENTS Development Interpreter)` works with system python (at least with my current combination of CLT, Xcode). It also works when specifying `-DPython_EXECUTABLE:STRING=/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.8/bin/python3.8`.

*However* the problem is that the cli

[2022-07-28 21:55] adamjstewart commented on #31735
That's being set in the `cmake_python_hints` property in the `clingo` package. We query the `python` package and ask it where it's headers live. The problem is that the system Python uses a non-standard layout but fails to patch sysconfig so sysconfig has no idea where the header files actually live. I added a fallback to `<prefix>/include` but if the actual location is different then that won't w

[2022-07-28 21:56] adamjstewart commented on #31735
See this note in the Python package for a bunch of good references:
[code]

[2022-07-28 21:57] adamjstewart commented on #31735
This is the monolithic PR where I _attempted_ to fix this, or at least get us most of the way there: https://github.com/spack/spack/pull/30834

[2022-07-28 22:17] sethrj commented on #31735
Yes, just removing the include dir works. Removing it when the directory doesn't exist definitely sounds like the quickest path to a successful bootstrap.

[2022-07-28 22:48] adamjstewart commented on #31735
If that solves the issue then that's huge! We've gotten so many bug reports about bootstrapping on M1, glad we finally found a solution. Do you want to open a PR for this?

[2022-07-28 22:49] adamjstewart commented on #31735
Alternatively, is there a real include dir somewhere that does exist but we just haven't figured out how to find it yet? If `python -m sysconfig` contains that directory somewhere we can add that to the list of config_vars we check.

[2022-07-28 22:57] sethrj commented on #31735
I'm still working on this... in the standalone test I have:
[code]
fails with `'-DPython_EXECUTABLE:STRING=/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.8/bin/python3.8' '-DPython_INCLUDE_DIR:STRING=/Library/Python/3.8/include'` (which Spack supplies for clingo-bootstrap) but passes with just `'-DPython_EXECUTABLE:STRING=/Applications/Xcode.app/Contents

[2022-07-28 23:01] sethrj commented on #31735
OK hold on: I think that last failure might've been due to a stale CMakeCache that the boostrap reused.  A standalone build with the env and the updated commands allowed clingo-bootstrap to configure. I'm continuing to try.

[2022-07-28 23:07] sethrj commented on #31735
success! I deleted clingo-bootstrap and completed the boostrapping with system python. 🎉

And yes, there is a true python include dir, at least if xcode is installed, at `/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.8/include/python3.8`. CMake seems to detect this automatically.

[2022-07-28 23:08] adamjstewart commented on #31735
What's the output of `python -m sysconfig`? Is this directory (or parts of it) available anywhere?

[2022-07-28 23:10] adamjstewart commented on #31735
(Idk why I'm asking, I also have M1 and can confirm/test things myself...)

[2022-07-28 23:20] sethrj commented on #31735
On the newer systems, the obsolete `python` isn't available, but...
<details><pre>
$ python3 -m sysconfig
Platform: "macosx-10.14-arm64"
Python version: "3.8"
Current installation scheme: "osx_framework_library"

Paths:
	data = "/Library/Python/3.8"
	include = "/Library/Python/3.8/include"
	platinclude = "/Library/Python/3.8/include"
	platlib = "/Library/Python/3.8/site-packages"
	platstdlib = "/A

[2022-07-28 23:23] adamjstewart commented on #31735
I think the solution is to look at the `INCLUDEPY` setting. `CONFINCLUDEPY` also contains the correct directory. We have a ton of methods to search for libraries but no one encountered issues with headers until now. I'll submit a PR to fix `spec['python'].headers`.

[2022-07-28 23:52] adamjstewart commented on #30958
I assume #31792 doesn't help, but it may fix the next issue you would encounter if you weren't hitting network issues.

[2022-07-28 23:54] adamjstewart commented on #31717
Does #31792 fix this by any chance?

[2022-07-29 02:13] bosmacs opened #31793 "Installation issue: julia@1.7.3"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
==> Error: curl 'platform=darwin' conflicts with '+libssh2'
</pre></details>

### Information on your system

* **Spack:** 0.19.0.dev0 (4f57430ef36dab4e84532ac705c6fefa38965257)
* **Python:** 3.9.13
* **Platform:** darwin-monterey-m1
* **Concretizer:** clingo

### Additional information

@gl

[2022-07-29 04:04] simon-Leary42 opened #31794 "singularityce UnknownVariantError"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
==> [2022-07-28-16:52:28.598572] UnknownVariantError: trying to set variant "setuid" in package "singularityce", but the package has no such variant [happened during concretization of singularityce~setuid]
==> [2022-07-28-16:52:28.598629] UnknownVariantError: trying to set variant "setuid" i

[2022-07-29 09:59] haampie commented on #31793
Right, this would require some digging into how julia builds curl for macos. The spack recipe explicitly depends on `curl +libssh2`, that's why you get a concretization failure. Can you check if by magic `curl+libssh2` builds fine on macos now (you have to update the recipe: `spack edit curl` and remove the line `conflicts('platform=darwin', when='+libssh2')`)? I don't think anybody really tried t

[2022-07-29 10:10] haampie commented on #31782
somewhat related: https://github.com/spack/spack/pull/26469 and https://github.com/spack/spack/pull/28885

[2022-07-29 11:18] haampie commented on #31184
@alalazo is this an issue with arch spec?

So, the package.py adds `-mcpu=thunderx2t99` to the later stage builds (thanks to arch spec), and then there's a test in some configure script:

[code]

that says it supports `-march=armv8-a+lse` too, but maybe this config check does not set `-Werror`, case that what's erroring later?

Edit: I think Spack is doing the Right Thing by specifying `-mcpu=thun

[2022-07-29 12:35] haampie commented on #31184
@matthewcurry maybe you could create a PR to disable target specific C[XX]FLAGS_FOR_TARGET for arm for now until we figure out how to deal with GCC's configure script setting `-march` without bothering about `-mcpu`.

@trws do you maybe happen to know what the best way is to propagate arch related variables to later GCC stages on arm? I see there's also `--with-cpu` for example.

[2022-07-29 13:07] vchuravy commented on #31793
We officially discourage aarch64-darwin on 1.7.6 to many aarch64 bugs that were only fixed in Julia 1.8

[2022-07-29 13:29] lrtfm opened #31797 "Installation issue: mpich: undefined reference to `hwloc_topology_set_io_types_filter'"
### Steps to reproduce the issue

I am trying to install firedrake on a cluster and would like to compile a new mpi. Part of the concretization results are listed below:
[code]

In the building process, the linker will always reach to `/usr/lib64/libhwloc.so` other than the version installed by spack.
It seems the option `--with-hwloc-prefix` does not work. Even if I replace it with two other opti

[2022-07-29 13:48] lrtfm commented on #31717
Yes, #31792 fixes this! Thanks!

[2022-07-29 13:48] #31717 closed, assigned to alalazo, adamjstewart

[2022-07-29 14:24] raffenet commented on #31797
@lrtfm is the problem also present if you try to build the latest MPICH (mpich@develop)? We've made a lot of changes to dependency management in configure recently, but its possible not everything was backported to the 4.0.x branch.

[2022-07-29 15:13] lrtfm commented on #31797
I will try the `develop` version tomorrow.

Did you mean that this problem may only relate to the 4.0.x version, i.e. the 3.x is fine?

[2022-07-29 15:15] raffenet commented on #31797
3.4.x is likely fine, since it will default to use the embedded hwloc included with MPICH and ignore whatever is installed on the system. In 4.0.x we switched to prefer an external hwloc library by default.

[2022-07-29 15:20] lrtfm commented on #31797
Thank you for your clarification!

[2022-07-29 17:57] adamjstewart commented on #7777
We added a conflict so that this will fail during concretization instead of at build time. So on Spack's side, I would consider this to be solved. On curl's side, they'll need to modify their source code to support building libssh2 on macOS. I don't think there's anything else we can do here.

[2022-07-29 18:57] adamjstewart commented on #28090
I also just hit an issue with `py-scikit-build` where a version like 12 doesn't work, it needs to be the full 12.4. @sethrj did you ever open an issue for this? If not I can.

[2022-07-29 19:19] sethrj commented on #28090
No, I haven't seen that. Indeed the latest SDK Is I think 12.3? So surprised 12.4 works

[2022-07-29 20:27] adamjstewart commented on #28090
The latest SDK is 12.4, that's what I have on my system.

Opened a PR with a fix: #31811. Not sure why your fix in #28926 didn't work though.

[2022-07-29 21:16] trws commented on #31184
I'm not sure, if you want to go in on it we could try using the machinery we found to inject the wrappers into stage 2, might let us deal with this more effectively.

[2022-07-29 21:38] bosmacs commented on #31793
@haampie Can confirm the same failure as #7777 still exists:
[code]

@vchuravy Thanks for clarifying about 1.7/1.8 on aarch64, I wasn't aware. 1.8.0-rc1 has the issue with curl.

[2022-07-30 02:11] lrtfm commented on #31797
@raffenet the problem is still there, and I notice that there are some failed operations in the configuration. The `spec` and logs are attached.
[spack-build-env.txt](https://github.com/spack/spack/files/9224153/spack-build-env.txt)
[spack-build-out.txt](https://github.com/spack/spack/files/9224154/spack-build-out.txt)

[code]

[2022-07-30 08:51] haampie commented on #31793
Okay lol, that's a weird configure script check.

[2022-07-30 09:15] haampie commented on #31793
@bosmacs can you try #31816

[2022-07-30 11:41] haampie commented on #7777
I think we're just making life more difficult than necessary for the configure script, by hiding `-L` and rpath linker flags in a compiler wrapper and not informing it about where packages are... apparently it wants to know the dir these libraries are in.

[2022-07-30 15:03] eugeneswalker opened #31817 "adios2@2.8.0 %oneapi build fails: libadios2_fortran.so.2.8.0: version node not found for symbol adios2_adios_init_mod@adios2_adios_init_serial_smod._"
### Steps to reproduce the issue

`adios2@2.8.0 %oneapi@2022.1.0` build is failing using:
* `spack/develop` (ec879240396b457f8bf05361a7d55280e0fa19fb from `Fri Jul 29 19:12:02 2022 -0700`)
* Ubuntu 20.04, OneAPI 2022.1.0 (installed via offline installer)
* Docker container image `ecpe4s/ubuntu20.04-runner-x86_64-oneapi:2022-07-01` (OneAPI pre-installed)

Trying to resolve build error for the E4S O

[2022-07-30 15:08] bosmacs commented on #31793
@haampie I'm getting essentially the same error with that patch, though I see the linker paths have changed:
[code]

[2022-07-30 15:18] eugeneswalker opened #31818 "butterflypack@2.1.1 %oneapi build fails: SRC_DOUBLECOMPLEX/zMAGMA_utilities.f90(296): error #5192: Lead underscore not allowed"
### Steps to reproduce the issue

`butterflypack@2.1.1 %oneapi@2022.1.0` build is failing using:
* `spack/develop` (ec879240396b457f8bf05361a7d55280e0fa19fb from `Fri Jul 29 19:12:02 2022 -0700`)
* Ubuntu 20.04, OneAPI 2022.1.0 (installed via offline installer)
* Docker container image `ecpe4s/ubuntu20.04-runner-x86_64-oneapi:2022-07-01` (OneAPI pre-installed)

Trying to resolve build error for th

[2022-07-30 17:45] eugeneswalker opened #31819 "unifyfs@0.9.2 %oneapi build fails: unifyfs.c:1502:7: error: unused function 'next_page_align' [-Werror,-Wunused-function]"
### Steps to reproduce the issue

`unifyfs@0.9.2 %oneapi@2022.1.0` build is failing using:
* `spack/develop` (ec879240396b457f8bf05361a7d55280e0fa19fb from `Fri Jul 29 19:12:02 2022 -0700`)
* Ubuntu 20.04, OneAPI 2022.1.0 (installed via offline installer)
* Docker container image `ecpe4s/ubuntu20.04-runner-x86_64-oneapi:2022-07-01` (OneAPI pre-installed)

This issue is coming up in our E4S OneAPI

[2022-07-30 23:02] robers97 commented on #30133
I'm running into this too and am not sure of a workaround.
git clone git@github.com:HPC/mini-HACC.git  works,

SPACK returns
==> Error: Invalid url format from URL

I haven't been able pull the bits out of github with any other syntax.

[2022-07-30 23:50] robers97 opened #31822 "Recovering from a corrupted hash database"
### Steps to reproduce

spack install
==> Installing environment week1
==> All of the packages are already installed

spack module lmod refresh==> Do you want to proceed? [y/n] y

Output is below... I'd like to know how to clean up the hash.

### Error message

==> Error: No installed spec matches the hash: 'sdco4ep'
==> [2022-07-30-18:45:32.103772] Do you want to proceed? [y/n] y
==> [2022-07-30-

[2022-08-01 02:23] eugeneswalker opened #31829 "axom@0.6.1 %oneapi build fails: (.text+0x24): undefined reference to `main'"
### Steps to reproduce the issue

`axom@0.6.1 %oneapi@2022.1.0` build is failing using:
* `spack/develop` (ec879240396b457f8bf05361a7d55280e0fa19fb from `Fri Jul 29 19:12:02 2022 -0700`)
* Ubuntu 20.04, OneAPI 2022.1.0 (installed via offline installer)
* Docker container image `ecpe4s/ubuntu20.04-runner-x86_64-oneapi:2022-07-01` (OneAPI pre-installed)

This issue is coming up in our E4S OneAPI CI

[2022-08-01 02:42] eugeneswalker opened #31830 "vtk-m@1.8.0 +openmp %oneapi build fails: make[2]: *** [vtkm/cont/CMakeFiles/vtkm_cont.dir/build.make:681: vtkm/cont/CMakeFiles/vtkm_cont.dir/ArrayRangeCompute.cxx.o] Error 139"
### Steps to reproduce the issue

`vtk-m@1.8.0 %oneapi@2022.1.0` build is failing using:
* `spack/develop` (ec879240396b457f8bf05361a7d55280e0fa19fb from `Fri Jul 29 19:12:02 2022 -0700`)
* Ubuntu 20.04, OneAPI 2022.1.0 (installed via offline installer)
* Docker container image `ecpe4s/ubuntu20.04-runner-x86_64-oneapi:2022-07-01` (OneAPI pre-installed)

This issue is coming up in our E4S OneAPI CI

[2022-08-01 09:52] #31742 closed, assigned to nobody

[2022-08-01 10:08] vijaymocherla opened #31831 "Installation issue: vasp@6.3.0"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error: OSError: No such file or directory: 'arch/makefile.include.linux_gnu_omp'</summary><pre>
 /home/Lib/spack/var/spack/repos/builtin/packages/vasp/package.py:80, in edit:
         77                        spec['qd'].prefix.lib, make_include)
         78        elif '%aocc' in spec:
         79            if '+openm

[2022-08-01 10:48] sethrj opened #31832 "Attempted to use external for 'apple-libuuid' which does not satisfy any configured external spec"
### Steps to reproduce

My pretty-fresh spack installation has ROOT installed:

<details><summary>Ugly ROOT spec</summary><pre>
53qeuen root@6.26.04~aqua~davix~dcache~emacs~examples~fftw~fits~fortran+gdml+gminimal~graphviz~gsl~http~ipo~jemalloc~math~memstat+minuit~mlp~mysql~opengl~oracle~postgres~pythia6~pythia8+python~qt4~r+roofit~root7+rpath~shadow~spectrum~sqlite~ssl~table~tbb+threads~tmva+unur

[2022-08-01 11:29] lrtfm opened #31833 "Failure when disabling locks and concretizing an environment with a pool"
### Steps to reproduce

[code]

### Error message

[code]

### Information on your system

$ spack debug report
* **Spack:** 0.19.0.dev0 (8640e298136c45aab092b2c76810f49593d79a33)
* **Python:** 3.8.13
* **Platform:** linux-rhel6-ivybridge
* **Concretizer:** clingo

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have searched

[2022-08-01 12:14] G-Ragghianti commented on #31065
Yes that does fix the problem, but the other reason that this is filed as an issue is that the install is dependent on something like rocm_agent_enumerator already being installed on the system.  Is there not a clear chicken-and-egg situation here?

[2022-08-01 12:20] rscohn2 commented on #31830
This looks like an internal compiler error. I will work on reporting it.

[2022-08-01 13:52] rscohn2 commented on #31830
The compiler is getting a segv. I filed a ticket. I don't know when the next compiler release will be, or if there is time to fix it before the next release. I reproduced the problem in master branch for vtk-m. You can work around the problem with:
[code]

[2022-08-01 14:35] rscohn2 commented on #31829
raja build fails for me. It might have something to do with the avx support on the machine I use to compile

[code]

[2022-08-01 15:48] #31735 closed, assigned to alalazo, adamjstewart

[2022-08-01 16:31] haampie commented on #31401
how is this different from changing rpaths...

[2022-08-01 17:10] eugeneswalker commented on #31401
Who said it would be different? The rpath is relocatable because the original install prefix is recorded in the binary distribution metadata file. In order to relocate links that point to install prefixes of dependencies, would we not need to add to the metadata file the original install prefixes of the dependencies, so that we could use that during eventual relocation. Do you see another way?

[2022-08-01 17:33] rscohn2 commented on #31818
The compiler wrapper needs to be passed -cpp. I am tracking it down.

[2022-08-01 18:33] simonLeary42 opened #31845 "why does openmpi specify pmi path to slurm path?"
https://github.com/spack/spack/blob/d9c008085800c0fb5fbc309a2d847354387d8a52/var/spack/repos/builtin/packages/openmpi/package.py#L920
\
so if we're compiling with pmi and slurm, then add the argument `--with-pmi={slurm_prefix}`
\
Why? My slurm doesn't have the pmi libraries. I want to use pmix from an external module, and the `--with-pmix` flag is specified later in the same line, but `--with-pmi`

[2022-08-01 18:42] haampie commented on #31845
pmi sources are part of Slurm, although not part of the standard build; see for example: https://github.com/spack/spack/blob/d9c008085800c0fb5fbc309a2d847354387d8a52/var/spack/repos/builtin/packages/slurm/package.py#L218

If your external Slurm does not have pmi and you want pmix instead, use `openmpi ~pmi` (iirc openmpi now enables pmix unconditionally), but do note that Slurm depends on a partic

[2022-08-01 19:08] eugeneswalker opened #31846 "ascent@0.8.0 %oneapi build fails: cloverleaf3d-ref/clover_main.cpp:24: multiple definition of `main'"
### Steps to reproduce the issue

`ascent@0.8.0 ^vtk-m ~openmp %oneapi@2022.1.0` build is failing using:
* `spack/develop` (ec879240396b457f8bf05361a7d55280e0fa19fb from `Fri Jul 29 19:12:02 2022 -0700`)
* Ubuntu 20.04, OneAPI 2022.1.0 (installed via offline installer)
* Docker container image `ecpe4s/ubuntu20.04-runner-x86_64-oneapi:2022-07-01` (OneAPI pre-installed)

Concrete spec: [ascent.spec.

[2022-08-01 19:10] #27954 closed, assigned to nobody

[2022-08-01 19:50] rscohn2 commented on #31818
After https://github.com/liuyangzhuan/ButterflyPACK/pull/11 is merged, it should fix the problem.

[2022-08-01 20:57] liuyangzhuan commented on #31818
Looks good. I've merged the PR. Thank you Robert!
Yang

On Mon, Aug 1, 2022 at 12:51 PM Robert Cohn ***@***.***>
wrote:

--
Yang Liu
Research Scientist
Lawrence Berkeley National Laboratory

[2022-08-01 21:42] #31680 closed, assigned to adamjstewart

[2022-08-01 22:21] robers97 commented on #31822
I thought about this more.  I believe I removed a spack package directory because I didn't like the name spack create <URL> assigned it.  So I likely upset the database that way.  Any pointers appreciated.

[2022-08-01 22:55] adamjstewart opened #31856 "spack list: add --tag flag"
### Summary

`spack find` has a `--tag` flag that lets you filter packages containing a certain tag. We should add the same flag to `spack list`.

### Rationale

A user may want to list _all_ packages belonging to a certain category, not just _installed_ packages.

### Description

We just need to add a `--tag` flag to `spack list`, should be straightforward to copy this setting from `spack find`

[2022-08-01 22:58] rscohn2 commented on #31846
I believe https://github.com/Alpine-DAV/ascent/pull/978 will resolve the issue, but have not tested.

[2022-08-02 06:23] alalazo commented on #31794
The error message says:
[code]
and in fact the `singularityce` package has no `setuid` variant. The correct name for the variant seems to be:
[code]

[2022-08-02 06:23] #31794 closed, assigned to alalazo

[2022-08-02 06:27] alalazo commented on #31716
@haampie is correct. As of v0.18.0 Spack has only one concept of "hash" for specs, which includes build dependencies. I think we should close this issue once the documentation is properly updated.

[2022-08-02 07:14] melven commented on #31716
Ok, thanks for the clarification!

[2022-08-02 09:05] tgamblin commented on #31716
Oops -- nice catch. #31860 fixes the docs.

[2022-08-02 10:40] alalazo commented on #14720
@matt-chan It's in the v0.18.2 project. Hopefully we'll get to it.

[2022-08-02 11:34] #31716 closed, assigned to nobody

[2022-08-02 12:56] jmansour commented on #29447
Unfortunately the work around doesn't appear to consistently work.

For example, for this env,

[code]

running `spack install --test=root` fails due to `pytest` being missing.  I believe the difference is due to the `concretizer:unify:true` option (which as I understand it, shouldn't even make a difference here). Setting it to `false` results in `pytest` being included generally, although it disa

[2022-08-02 14:00] lrtfm opened #31866 "Installation issue: mesa@22.1.2"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
     253    ../src/util/os_file.c: In function 'os_same_file_description':

     255      211 |    return syscall(SYS_kcmp, pid, pid, KCMP_FILE, fd1, fd2);
     256          |                   ^~~~~~~~
     257    ../src/util/os_file.c:211:19: note: each undeclared identifier is reported on

[2022-08-02 14:25] raffenet commented on #31797
@lrtfm thanks for the logs. I think I see the issue. I will test a patch locally and tag if in the PR if it works.

[2022-08-02 14:41] jmansour commented on #27508
I'm hitting this issue too while trying to extend `numpy`.

Suggested solution (with appropriate mods) doesn't seem to help unfortunately.

[code]

[2022-08-02 15:42] Paul-Ferrell commented on #31736
This is caused by an issue with ~/.spack directories. Removing that directory and re-bootstrapping fixes it.

[2022-08-02 15:48] alalazo commented on #31736
@Paul-Ferrell Sorry I didn't see this issue before. This is a known problem that happens when:
1. A package is renamed, or deleted etc.
2. A user is pulling from a version before the change at 1. to a version after the change at 1

In that case the cache for the builtin repository is not updated and you'll see weird error messages like the one you posted. Usually:
[code]
solves the issue.

[2022-08-02 16:36] Paul-Ferrell commented on #31736
@alalazo I just reopened this. The problem extends beyond just what you referred to. Any spec that can't concretize on the given system also throws an uncaught exception, which breaks the mirroring process. This happens pretty quickly, as 7zip conflicts with `platform=linux`.

I think actually concretizing when using `--all` is a bad idea in general because of this. When we say `--all`, we mean *A

[2022-08-02 17:34] chuckatkins commented on #31866
I've submitted a merge request upstream to fix this and I'll patch it in the spack package shortly.

https://gitlab.freedesktop.org/mesa/mesa/-/merge_requests/17863

[2022-08-02 17:38] alalazo commented on #31736
I think we can't implement this idea yet, though in principle I concur with you, at least until we allow to have multiple URLs associated with the same version in a package. See for instance what the `arm` or `cuda` package do to declare their versions.

In any case I'll check what I can do to mitigate this issue.

[2022-08-02 17:55] bosmacs commented on #31793
@haampie I tried again, this time using the `--fresh` argument, e.g. `spack install --fresh curl +libssh2`, and it appears to have worked. Now installing `julia@1.8.0-rc1` to confirm.

However, if I build with the complete set of options Julia requires, I still get a similar configure error:

[code]
I suppose this has to do with mbedtls.

[2022-08-02 18:19] raffenet commented on #31797
@lrtfm can you give https://github.com/spack/spack/pull/31874 a try and see if it fixes the issue?

[2022-08-02 18:58] bosmacs commented on #31793
@haampie Can you check it this patch works for you with `curl@7.78`? This is the version that gets concretized for `julia@1.8.0-rc1`, and it appears to have a problem with other runtime library checks:
[code]

[2022-08-02 19:00] scheibelp commented on #31782
I think another useful case is if you get an error like

[code]

inside of an environment, but you can concretize the spec fine outside of it: I want to be able to easily compare the two specs to get hints about what to tweak inside my environment.

[2022-08-02 20:02] #31818 closed, assigned to nobody

[2022-08-02 20:49] haampie commented on #31793
I can reproduce this... finally.

[2022-08-02 21:48] eugeneswalker commented on #31846
I created a patch with this, and got the following build failure:
[code]

Full log: [spack-build-out.txt](https://github.com/spack/spack/files/9245878/spack-build-out.txt)

[code]

[2022-08-02 22:44] jemma-nelson commented on #26667
I ran into this or a similar error today when trying to install readline (as a dependency of llvm).
The configuration fix here: https://github.com/spack/spack/issues/26667#issuecomment-940500514 helped me, with the caveat that I had to put it under the `spack` top level key:

[code]

Perhaps the docs that suggest that `config` should be at the top-level are out of date? https://spack.readthedocs.i

[2022-08-02 23:01] haampie commented on #31793
The issue here is a combination of things: mbedtls does not set a proper `install_name` (not an absolute path, nor `@rpath/libname.dylib`, but simply `libname.dylib`), and this causes libraries not to be found at runtime, which curl checks.

Spack should rewrite `<filename>` type install names to `@rpath/<filename>`, but that's not done in the compiler wrapper.

[2022-08-02 23:32] ghost commented on #31634
@certik I ran the test locally and it failed for me.  Some debugging shows that the `url_util.parse` function thinks `git@...` URL syntax uses the `file` scheme:
[code]
Changing the test to the following lets it pass but still doesn't look right.
[code]
I was expecting the code to somehow access the `parse_git_url` function but it never does.  It looks like it tries `URLFetchStrategy` in  `fetch_s

[2022-08-03 00:06] balos1 commented on #29526
@eugeneswalker You can retry with https://github.com/LLNL/sundials/tree/bugfix/pic-testnvector

[2022-08-03 05:22] rountree opened #31889 "clingo bootstrap fails on OSX M1 Max + Xcode (0.19.0dev0)"
### Steps to reproduce

Similar to #30958 but not exactly so.
@bhatele Any luck with yours?
[code]

### Error message

[code]

Under `--debug`

[code]

### Information on your system

[code]

also

[code]

[code]

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have searched the issues of this repo and believe this is not a d

[2022-08-03 06:14] alalazo commented on #31889
It seems there are two issues here:
1. Python headers are not found by Spack
2. There's a reference to an unset variable during error reporting

[2022-08-03 06:14] certik commented on #31634
@dsjense thanks! The actual fix is trivial, so it might be worth just merging without testing, if it is hard to test for.

[2022-08-03 06:21] lrtfm commented on #31797
@raffenet it works. Thanks!

[2022-08-03 07:10] rountree commented on #31889
This looks relevant:
[code]

Part of that commit:
[code]

If I'm reading that correctly, the `else` ought to be indented to line up under `if headers:` but that means `CONFINCLUDEPY` is never checked (the `else` trips if `INCLUDEPY` isn't set.

After fooling around a bit with the code it doesn't look like either `CONFINCLUDEPY` or `INCLUDEPY` works.

[2022-08-03 07:17] alalazo commented on #31889
`else` is a valid keyword to be used in a for construct, as it is here. It is run after all the iterations and usually makes sense in a loop that breaks if some condition is met.

Here the issue seems to be:
[code]
because the `directory` variable is used in the error message under the `else`. Anyhow, the real issue for failing to bootstrap is that headers are not found.

[2022-08-03 07:21] #31797 closed, assigned to nobody

[2022-08-03 09:11] haampie commented on #7777
Okay, the actual issue is this: dependencies of curl do not set a proper `install_name` for shared libraries (or: spack does not properly catch those issues).

The `install_name` of a dylib gets copied over to the executable/library that links to it. If the `install_name` starts with `@rpath/libname.dylib`, rpath substitution is done to locate the library; and if the `install_name` is an absolute

[2022-08-03 09:28] Briffou opened #31893 "Failure when using bootstrapping mirror on air-gapped network"
### Steps to reproduce

On a machine with internet access:
[code]

then, on a machine with no internet access (manual copy of directory spack_bootstrap_mirror)
[code]
I have the feeling that spack is looking for `clingo` in `$HOME/.spack/bootstrap/store/linux-fedora36-x86_64/gcc-12.1.1/clingo-bootstrap-spack-jjsfkpt3k34gaa7dzbpjkzsgqnum3lf2/local/lib64/python3.10/site-packages`
Where as on my mach

[2022-08-03 09:56] Briffou opened #31895 "Error with original concretizer on petsc package"
### Steps to reproduce

I observe an error with the original concretizer when trying to install Petsc without superlu-dist (then, +fortran is not needed if I'm right)

[code]
I ran
[code]

### Error message

[code]

### Information on your system

[code]

The error is not present when using `clingo`.

### General information

- [X] I have run `spack debug report` and reported the version of Spack/

[2022-08-03 11:13] rscohn2 commented on #31846
[code]

That nofor-main was there before my change, so my change had no affect. I will look at it more next week.

[2022-08-03 11:18] alalazo commented on #31895
The old concretizer uses a greedy algorithm, so it's not able to infer that you also want to use `+fortran`. This:
[code]
is a workaround for the issue. I'm closing this since we are not improving the old concretizer going forward.

[2022-08-03 11:18] #31895 closed, assigned to nobody

[2022-08-03 11:51] csccva commented on #30958
Finally I managed to get admin right on my laptop. I installed the monterrey OS and then the Xcode.
I still get problems when trying to install:

[code]

[2022-08-03 12:20] csccva opened #31899 "Bootstrapping failing on Monterey with Xcode installed. (intel cpu)"
### Steps to reproduce

[code]

### Error message

[code]

### Information on your system

[code]

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have searched the issues of this repo and believe this is not a duplicate
- [X] I have run the failing commands in debug mode and reported the output

[2022-08-03 14:36] haampie opened #31903 "Absolute path as DT_SONAME to make the linker & dynamic loader agree, and improve startup time."
### Summary

Apparently on macOS it's reasonably common to have macho dylibs with install_name set to the absolute path of itself. That way the runtime linker will never have to search for a library, and there will never be a different library loaded at runtime from the one that was linked. And as a bonus, there's no need tons of syscalls, meaning faster startup times.

Turns out, with ELF files y

[2022-08-03 15:35] eugeneswalker commented on #29526
[code]

Thanks!

I see `bugfix/testnvector` branch is 27 commits ahead of `main` -- how feasible would it be to apply specifically the fixing change to `sundials@6.2.0` via a patch or some other means?

[2022-08-03 16:26] eugeneswalker commented on #29526
Is this the only commit we need to fix the `sundials +rocm` issue describe here?

https://github.com/LLNL/sundials/commit/c147095f728870dd9a73df8660d5650491db9243

[2022-08-03 16:38] balos1 commented on #29526
@eugeneswalker Yes. We can apply it as a patch in Spack to SUNDIALS 6.1.0:6.2.0 if need be, although we will be releasing 6.3.0 with this fix soon.

[2022-08-03 16:44] eugeneswalker commented on #29526
Perfect! See https://github.com/spack/spack/pull/31910

[2022-08-03 17:27] adamjstewart commented on #31889
I'll fix the missing variable, that's easy.

For the headers not being found, can you post the output of `python3 -m sysconfig`? Also, can you look for a `pyconfig.h` file somewhere in the directories listed? It's usually under `INCLUDEPY` but it seems like it's not being found for some reason.

[2022-08-03 18:44] cyrush commented on #31846
@rscohn2's fix should work for `ascent@develop` -- however ascent 0.8.0 has an older version of the BLT cmake macros that doe not support the INTELLLVM tag.

To differentiate - we would need a patch that removes the entry for `INTEL` from the blt macro, and then follow on with a standard cmake append:

[code]

[2022-08-03 19:53] davide-q opened #31918 "Jupyterhub config issue"
### Steps to reproduce

I've installed several python environments with spack, with various modules and various python versions, and all work fine. I've also installed and configured jupyterhub (within a separate environment), and that works okay too. Now I would like the users to select any of the spack environments when running jupyterhub, and I though, no big deal, I'd just make a bunch of kern

[2022-08-03 20:12] davide-q commented on #31918
@scheibelp this is following up on the conversation on spack

[2022-08-03 21:41] rountree commented on #31889
@adamjstewart

Thanks for taking a look.

Update:  The directory trees specified in `INCLUDEPY` and `CONFINCLUDEPY` don't exist.  There is no `/Applications/Xcode.app` directory.  This might be a cursed Xcode install.

Original:

`find /Library -name pyconfig.h` turned up:

[code]
`find /Applications -name pyconfig.h` turned up:

[code]

Here are the highlights of `python3 -m sysconfig`
[code]

He

[2022-08-03 21:55] adamjstewart commented on #31889
Okay, so I think the directory we are looking for is:
[code]
I'm guessing you only have XCode command line tools installed, not the full XCode suite? That may explain why it works for me but not for you.

Only remaining question is how to find the correct directory. One option would be to look in `self.config_vars['base']` recursively. It might be safer to check `<base>/include/pythonX.Y` and `<ba

[2022-08-03 22:02] #29526 closed, assigned to gardner48

[2022-08-03 22:05] rountree commented on #31889
Yes, only the Xcode command line tools installed.

[2022-08-03 23:23] eugeneswalker commented on #31846
How tricky would this be? Would it be a simple change to `blt/cmake/BLTMacros.cmake` ?

[2022-08-04 00:37] renjithravindrankannath opened #31920 "Verbose option is not working for the install test in math libraries"
### Steps to reproduce

After introducing the file install-time-test-log.txt with the test result logs under below commit it is doesn't show the test result with the build logs when we use --verbose in the install command.
https://github.com/spack/spack/commit/0c31ab87c9940465a529a92b9a9fcb6194b7619d
For example with the below command for hipblas@5.1.0 build on the target Mi50 we are not able to s

[2022-08-04 01:29] cyrush commented on #31846
Would it be easy to apply a patch only in the case of oneapi compiler?

If so, I think we could do a very targeted patch.

I am not sure how to go about identifying oneapi with current spack magic - if you can suggest a way, I can help create the patch.

[2022-08-04 02:41] eugeneswalker commented on #31846
Yes! Something like this in package.py:

[code]

See this for a recent example:
* https://github.com/spack/spack/pull/31848

If you tell me what to change in the source files for `ascent@0.8.0` - I could make the patch and submit the PR.

[2022-08-04 04:06] vijaymocherla commented on #31831
@adamjstewart  @fcannini
 I couldn't find any information on whose maintaining this package but, I found this pull request #15187.
 Could you please point this to anyone who can help?
 If am not wrong, I guess there's some issue with `vasp/package.py` that needs to fixed.

[2022-08-04 19:21] jedwards4b opened #31933 "Issue loading LD_LIBRARY_PATH from system compiler module"
### Steps to reproduce

I am on git branch parallelio-update2 which is a branch from develop commit df4e66ec.   The only modifications on the branch are in file var/spack/repos/builtin/packages/parallelio/package.py

I want spack to build the parallelio package using only modules from the system for dependencies.

[code]
Here is my compiler information:
[code]
And finally here is the output of mod

[2022-08-04 21:12] #30388 closed, assigned to scheibelp

[2022-08-04 21:27] climbfuji commented on #31933
@jedwards4b This is a problem that we are also seeing, and only on Cheyenne. We use the same workaround in our spack-stack site config for Cheyenne (https://github.com/NOAA-EMC/spack-stack/blob/develop/configs/sites/cheyenne/compilers.yaml).

[2022-08-04 21:30] jedwards4b commented on #31933
Good to know, thanks @climbfuji

[2022-08-04 21:35] climbfuji commented on #26036
@mark-a-potts FYI

[2022-08-04 22:54] adamjstewart commented on #31920
I observed this too. In many ways, it feels like install-time testing has become a second class citizen compared to post-install testing. Pretty sure logs are still broken and the install will succeed even if the tests fail. Hoping @tldahlgren can solve some of these problems.

[2022-08-05 02:03] cameronrutherford opened #31941 "binaries.spack.io: cannot install openblas from cache due to failed checksum verification"
### Steps to reproduce

https://github.com/LLNL/hiop/blob/develop/.github/workflows/spack_build.yml - this is the github workflow file that we are using.

This seems to be an intermittent error that has persisted across spack versions, and has been documented happening for several months. Here is a list of other failing pipeline examples:
- https://github.com/LLNL/hiop/runs/6866279062?check_suite_

[2022-08-05 02:07] cameronrutherford commented on #31640
#31941 seems similar to this issue. Is consistent with there sometimes being different packages that feel like failing with NoCheckSumException - perhaps I should have piled on this issue, but I wanted to document all of the failures I was seeing as well

[2022-08-05 02:08] cameronrutherford commented on #31941
Similar to #31640 which I noted there

[2022-08-05 03:27] eugeneswalker commented on #31941
Problem is very easy to reproduce:

[code]

FYI @scottwittenburg

[2022-08-05 06:10] #31793 closed, assigned to nobody

[2022-08-05 07:04] fspiga commented on #25354
I hit the same issue on Rocky Linux 8.6 today. It seems default python is 3.6.8.

[2022-08-05 09:11] stephenmsachs commented on #31941
https://github.com/spack/spack/pull/31696 should also fix this issue. It basically falls back to manual install if the checksum does not match.

[2022-08-05 15:19] eugeneswalker opened #31949 "curl@7.84.0 on ppc64le: easy_lock.h:56:7: error: implicit declaration of function 'sched_yield' [-Werror=implicit-function-declaration]"
### Steps to reproduce the issue

`curl@7.84.0` build fails on ppc64le due to:
* https://github.com/curl/curl/issues/9136

This was fixed in curl master:
* https://github.com/curl/curl/pull/9054

Failure reproducible on:
* Ubuntu 18.04, GCC 7.5.0, ppc64le
* Ubuntu 20.04, GCC 11.1.0, ppc64le
* Ubuntu 22.04, GCC 11.2.0, ppc64le

Reproduced below using Docker container image:
* `ecpe4s/ubuntu20.04-ru

[2022-08-05 15:25] eugeneswalker commented on #31941
I think we should find out why the checksum verification is failing using officially generated binaries. Do we know why?

[2022-08-05 17:02] blue42u opened #31952 "`spack ci generate`: `SPACK_CHECKOUT_VERSION` cannot be checked out"
### Steps to reproduce

/cc @scottwittenburg

Generating a CI pipeline for any environment (minimal example below) will include a `SPACK_CHECKOUT_VERSION` which cannot in fact be checked out:
[code]

### Error message

`SPACK_CHECKOUT_VERSION` should always be a form accepted by `git checkout`, so the bare Git commit SHA. The output of `git describe` also works:
[code]

### Information on your sys

[2022-08-05 17:15] rscohn2 opened #31954 "Installation issue: ruby"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
     1919    /localdisk/work/rscohn1/projects/spack/spack/lib/spack/env/oneapi/icx -I. -I../../.ext/include/x86_64-linux -I../.././
             include -I../.././ext/ripper -I../.. -I../../. -DRUBY_EXTCONF_H=\"extconf.h\"    -fPIC -fdeclspec -O3 -ggdb3 -Wall -We
             xtra -Wdeprecat

[2022-08-05 17:19] #31736 closed, assigned to nobody

[2022-08-05 19:06] Kerilk commented on #31954
Thanks for finding this one. This is a bug in `oneapi` we have reported it to Intel.

[2022-08-05 21:29] elliottslaughter opened #31959 "Set return code in spack external find to indicate success or failure"
### Summary

I would like `spack external find X` to return an appropriate exit code based on whether or not `X` has been found on the system.

### Rationale

Right now, a user needs to read the output of `spack external find` to determine what result has occurred. That makes this command difficult to script, potentially leading to either broken builds or bad performance (by failing to discover sy

[2022-08-05 21:50] wspear opened #31961 "Metapackages should register their sub-packages as explicitly installed"
### Summary

When a metapackage such as ecp-data-vis-sdk installs requested 'sub-packages' those packages are treated as typical dependents and not flagged as explicit installs.

### Rationale

Metapackages essentially hide the packages they provide from any logic operating on explicitly installed packages. This is an issue for E4S in particular since we generate reports and run tests on explicitl

[2022-08-05 22:15] scottwittenburg commented on #31941
I think we have seen this once before, but I will verify to be sure it's the same case.  In that case, two different stacks build the same hash, and when we go to copy all the various stacks binaries to the destination mirror, we end up with the spackball (`.spack` file) from one of the stacks and the signed spec json (`.spec.json.sig` file) from the other stack (since they're named the same, resp

[2022-08-05 23:00] scottwittenburg commented on #31941
Following up to confirm that the `.spec.json.sig` file for `openblas /c55doyb` from `s3://spack-binaries/develop` matches exactly the one from `s3://spack-binaries/develop/radiuss`, while the `.spack` file for `openblas /c55doyb` file from `s3://spack-binaries/develop` matches exactly the one from `s3://spack-binaries/develop/data-vis-sdk`.

So there's nothing nefarious going on in this case (or i

[2022-08-06 00:02] sethrj commented on #28344
@alalazo I just got the same `ValueError: Unknown load command: 2147483700` in an unrelated circumstance. This is probably related to fat intel/arm binaries on macos: see https://github.com/ronaldoussoren/macholib/commit/b2e18ec33af3ebfd97334266ebcfe455a6e520ff .

[2022-08-06 00:16] sethrj commented on #28344
Actually, fixed way earlier in v1.13 of macholib : time to update that package recipe 😄

[2022-08-06 10:43] haampie commented on #31959
Reversely, setting an error exit code makes it difficult to script. If I don't know the system my script is running on, it'd be good if `spack external find automake perl ...` did not fail. Everything it finds is nice to have and speeds up builds, but there's no guarantee anything is there. Of course you can add `|| true` to force a success exit code, but that's not very pretty.

[2022-08-06 12:54] sethrj commented on #30626
@keitat I know we just saw this problem in another spack issue but I can't find where:
[code]

I recall you saying you'd ping the belos team.

I've encountered this issue on Windows before; see https://github.com/sethrj/Trilinos/commit/71677252d632093bd7b0002ffe07e58b6024d3e8 .

[2022-08-06 16:13] #31949 closed, assigned to nobody

[2022-08-07 20:25] tylerjereddy opened #31978 "MAINT: improve error for `from spack import *`"
If you work with in-house spackages that use the old `from spack import *` (which apparently was replaced in gh-30404), and update from an older `spack` checkout, your `spack` environment can become unusable for the addition of new packages and it will even suggest a command that doesn't help to repair your environment like:

`spack -e environment_name concretize --force`

This is hopeless, becaus

[2022-08-08 10:20] sparkyniner commented on #31856
Hello, can I work on this?

[2022-08-08 11:29] Paul-Ferrell opened #31985 "`Spack mirror --all` now takes so long to run it's infeasible to do so."
### Steps to reproduce

1. Run `spack mirror --all`
2. Wait at least 3 days.
3. ...
4. Profit

### Error message

@alalazo Patch to fix the issues with `spack mirror --all` have added a concretization step for each package to be mirrored. Instead of taking less than a second to check if a package@version has already been mirrored, for the average package it takes about 20 seconds.

I started a run

[2022-08-08 11:54] alalazo commented on #31985
@Paul-Ferrell I hoped I could get by with a small fix, but I think I'll look into refactoring the way we create mirrors and differentiate when `--all` is given from cases where we mirror single specs.

[2022-08-08 12:33] rscohn2 commented on #31846
Here is the change that @cyrush recommended: https://github.com/Alpine-DAV/ascent/compare/develop...rscohn2:ascent:dev/oneapi

I left the ```INTEL``` in the previous macro. I think it is harmless.

[2022-08-08 13:13] Paul-Ferrell commented on #31985
Do we really have to concretize all these specs? The computational load is huge.  Even with a 10x speedup, we're looking at hours and hours to do this.

[2022-08-08 13:28] alalazo commented on #31985
With single specs I think so, even though I am currently trying to read the mirror internals to get a better sense of when that is needed. The rationale is that there might be patches or resources that need to be mirrored too, and since they can be conditional on variants etc. we need concrete specs to be sure we need them. Same applies when we create a mirror for a spec with dependencies.

When w

[2022-08-08 14:58] adamjstewart commented on #31856
Yes, please do!

[2022-08-08 15:05] rscohn2 commented on #31829
@eugeneswalker: The problem is that they linking a fortran program with icpx and not ifx. You fixed similar issues recently. Do you know what needs to change in the cmake files?

[2022-08-08 15:07] eugeneswalker commented on #31846
Thank you!

Is this supposed to work with `ascent@0.8.0`, or for develop branch only ?

I'm seeing what looks like the same errors with it:
[code]

[2022-08-08 15:21] rscohn2 commented on #31829
I think it needs this: https://github.com/LLNL/axom/compare/develop...rscohn2:axom:dev/ifx-support

I have not tested

[2022-08-08 15:25] rscohn2 commented on #31846
It should work for 0.8.0. Is there a PR you could publish so I could try it out locally?

[2022-08-08 15:31] eugeneswalker commented on #31829
It worked! I did have to change the case of `or` to `OR` in your patch, but that was it! Thank you!

[code]

[2022-08-08 15:57] rscohn2 commented on #31829
Thanks. I was still struggling to set up the test. I will make the correction and submit it upstream.

[2022-08-08 16:02] rscohn2 commented on #31829
Here is upstream PR: https://github.com/LLNL/axom/pull/891

[2022-08-08 16:07] eugeneswalker commented on #31846
Yes, here: https://github.com/eugeneswalker/spack/tree/ascent-issue31846-patch

[2022-08-08 16:18] simonLeary42 opened #31992 "Installation issue: apptainer~suid: illegal instruction"
### Steps to reproduce the issue

`spack install apptainer~suid`

### Error message

[code]

### Information on your system

[code]

### Additional information

[apptainer~suid-build-env.txt](https://github.com/spack/spack/files/9283394/apptainer.suid-build-env.txt)
[apptainer~suid-build-out.txt](https://github.com/spack/spack/files/9283395/apptainer.suid-build-out.txt)

### General information

-

[2022-08-08 19:00] rscohn2 commented on #31817
@chuckatkins : I found this line: https://github.com/ornladios/ADIOS2/blob/b525a57a0ca66134d8c624900155345ee71554e4/scripts/ci/cmake-v2/ci-el8-oneapi-serial.cmake#L5

Do you remember if the problem from this issue is what you were seeing before? Any hints on what to look at?

[2022-08-08 19:28] Paul-Ferrell commented on #31985
The big question for me is: Are there any patches, sources, etc that would need to be pulled down that they aren't available from the class (or an instance of the class)?

[2022-08-08 19:29] Paul-Ferrell commented on #31985
Accidentally closed it...

[2022-08-08 19:39] #31829 closed, assigned to nobody

[2022-08-08 22:19] eugeneswalker commented on #29382
Same problem persists with `binutils@2.38 +gold %oneapi@2022.1.0`

[2022-08-08 22:39] eugeneswalker opened #32002 "charliecloud@0.27, @0.26, @0.29 build fails: RuntimeError: configure script not found in..."
### Steps to reproduce the issue

`charliecloud@0.27` build fails using:
* `spack/develop` (9215d59599ebb38b6d86a8d3f4406ffdc2397d18 from `Mon Aug 8 12:39:32 2022 -0700`)
* Ubuntu 22.04, GCC 11.2.0, x86_64

The error is the same for:
* `charliecloud@0.26`
* `charliecloud@0.27`
* `charliecloud@0.29`

Concretization:
[code]

Install error
[code]

### Error message

<details><summary>Error message</s

[2022-08-09 09:46] sparkyniner commented on #31856
Yupp!, I'm actually a bit new to this and this will be my first contribution, could I please the know the names of the relevant files from the repo for this issue?

[2022-08-09 15:24] haampie opened #32013 "modules: `exclude_implicits` (and specifying a spec) excludes dependencies required through `autoload`, breaking `module load`."
### Steps to reproduce

[code]

[code]

Generates modules for explicit modules with `depends_on(...)` statements for direct deps. But no modules are generated for those dependencies since they are explicit. So `module load` fails.

Same happens when you do

[code]

It only generates modules for specs satisfying `curl`, but then fails to generate modules that are supposed to be autoloaded.

---

In

[2022-08-09 17:31] adamjstewart commented on #31856
The file you'll want to edit is [`lib/spack/spack/cmd/list.py`](https://github.com/spack/spack/blob/develop/lib/spack/spack/cmd/list.py). You'll want to add a new flag in `setup_parser` and use it in `filter_by_name`. For an example of how to do this, look at [`lib/spack/spack/cmd/find.py`](https://github.com/spack/spack/blob/develop/lib/spack/spack/cmd/find.py). Specifically, [this line](https://

[2022-08-09 19:02] sparkyniner commented on #31856
Hello!, thanks to your help I was able to add --tag to find.py but I coudn't understand how to add tests. Could you please review my pull request?

[2022-08-09 19:27] adamjstewart commented on #31856
Just realized `spack tags` provides this same feature. But I still think it's worth including in `spack list` since it's also in `spack find`.

[2022-08-10 00:44] shahzebsiddiqui opened #32021 "Help writing lua modulefile to activate spack on Perlmutter"
@becker33 @tgamblin @alalazo

cc: @jscook @etpalmer63 @sleak-lbl

This issue was reported by @bonachea
___________

# Description

We have an issue loading `e4s/22.05` stack using csh/tcsh and also zsh on Perlmutter. It only works with bash. We also would like some recommendation on how we should write the modulefile. The modulefile serves as an entry point to spack so it must do the `source $SPAC

[2022-08-10 01:16] shahzebsiddiqui commented on #32021
ZSH Test
__________________

[code]

Next i remove spack and tried to reload e4s and it seems to be working

[code]

CSH Test
__________

[code]

Now i see that the module is loaded even with the error message it fails to activate the e4s environment

[code]

We do see that spack functionality is working however its not setting activate spack environment

[code]

I am unsure how to proceed with th

[2022-08-10 04:10] lisanhu opened #32022 "Installation issue: nvhpc"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
==> Error: TypeError: expected string or bytes-like object

/home/lisanhu/mine/prog/spack/var/spack/repos/builtin/packages/nvhpc/package.py:321, in install:
        318        install()
        319
        320        # Update localrc to use Spack gcc

See build log for details:
  /tmp/lisanh

[2022-08-10 04:20] lisanhu commented on #32022
something to add:
My system is a newly installed pop os 22.04 (ubuntu-based distribution).

After commenting line 321, it could install successfully. I've put a line `print(makelocalrc, makelocalrc_args)` in `spack edit nvhpc` to check what happened.

[code]

It seems to call makelocalrc binary in the not yet installed path.

[2022-08-10 08:35] amit112amit opened #32023 "Installation issue: Dealii"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
==> Error: ProcessError: Command exited with status 1:
    'cmake' '-G' 'Ninja' '-DCMAKE_INSTALL_PREFIX:STRING=/home/amit/Software/spack/opt/spack/linux-fedora36-skylake/gcc-12.1.1/dealii-9.4.0-qyeizaptfk4artq6dukrk5scxsbdlbsc' '-DCMAKE_BUILD_TYPE:STRING=DebugRelease' '-DBUILD_TESTING:BOOL=O

[2022-08-10 09:36] cponder commented on #990
Is there a support page we can contact about this? Given that the regular METIS website is down, I can't look there....

[2022-08-10 14:18] msimberg commented on #29527
I also bumped into this issue. It seems to be due to the wrong paths being used here: https://github.com/ROCm-Developer-Tools/HIP/blob/c6b0810186510039bfa94fc68b6bf3530c63e26e/hip-lang-config.cmake.in#L108-L111. However, it's been fixed in 5.2.X: https://github.com/ROCm-Developer-Tools/HIP/blob/d6224a55390bf2d8fd0180c21bae44f0d718d1eb/hip-lang-config.cmake.in#L110-L113.

That means this would hope

[2022-08-10 17:43] j-ogas commented on #32002
Looking into it, thanks for reporting!

[2022-08-10 20:28] bryank-cs opened #32039 "MODULEPATH set to favor most generic architecture"
In `setup-env.sh` , the variable `_sp_compatible_sys_types` gives a list from newest to oldest, such that `x86_64` is last item. However, the function `_sp_multi_pathadd` **prepends** each microarchitecture path in the list that exists to `$MODULEPATH`, thereby causing module  to load the least specific version first, which seems like the opposite of what is desired.

For example it may set it to:

[2022-08-10 21:34] qwofford opened #32041 "Spack install fails as root"
Creating issue per @becker33

[code]

[2022-08-10 22:47] bvanessen opened #32043 "Installation issue: py-scipy does not build correctly"
### Steps to reproduce the issue

Building py-scipy as a dependent package in py-scikit-learn fails to properly build the FFT code internally included.  In this case py-scikit-learn and py-scipy were built as part of an environment.  Note that falling back to a py-scipy@1.3.3 avoids this issue (according to the release notes FFT was added in 1.4.0). @adamjstewart @rgommers

[code]

### Error messa

[2022-08-10 22:53] uturuncoglu opened #32044 "Issue with patch cache when branch is used as a version"
### Steps to reproduce

I tried to install a development branch of the ESMF package but it did not work. I just add following code to ESMF package.py to make available all branches and tags in the package.

[code]

and then I tried to install `esmf@io_multitile`.

### Error message

[spack_debug.txt](https://github.com/spack/spack/files/9304561/spack_debug.txt)

### Information on your system

* *

[2022-08-10 23:41] tldahlgren commented on #30133
I am able to reproduce the problem in an existing package that I tweaked (i.e., changed the `url` property to use that form).

A quick fix allows me to get past the error; however, I am prompted for my SSH passphrase, which could be problematic for packages contributed back to Spack.

@scheibelp What do you think?

[2022-08-11 01:59] scheibelp commented on #30133
Using `git = "ssh://git@github.com:spack/spack.git"` should work (i.e. prepending `ssh://`). I assume @tldahlgren that's what you mean by a quick fix; the password prompt AFAIK is expected - @benpm I assume you have ssh keys configured for git interaction, but let me know if prepending `ssh://` does not produce a satisfactory result.

[2022-08-11 05:24] adamjstewart commented on #32043
Does the same problem occur with scipy 1.8? Is there a reason you need scipy 1.4?

@rgommers are there any known issues with scipy FFT on power9 that have been fixed in newer releases?

[2022-08-11 05:38] uturuncoglu commented on #32044
@becker33 @climbfuji I also forgot to mention but gcc patch for ESMF `https://github.com/spack/spack/blob/develop/var/spack/repos/builtin/packages/esmf/gcc.patch` is failing with this version of code (up-to-date with head of develop of ESMF) since the code is already fixed in the ESMF side.

I am not sure how we need to check the version when we are trying to use branch to install ESMF as spack pa

[2022-08-11 06:23] rgommers commented on #32043
This was fixed in scipy `1.4.2` and `1.5.0`: https://github.com/scipy/scipy/pull/11324

[2022-08-11 06:25] rgommers commented on #32043
I don't think this is worth carrying patches in Spack or other such systems for by the way. As a rule, even if you really need 1.4 and not a newer release, you should always use the last bugfix release, and not the `.0` release - that's why bugfix releases exist.

[2022-08-11 06:27] bvanessen commented on #32043
If these aren’t viable versions on Power, can we mark them as invalid for Power architectures?

Brian C. Van Essen
***@***.***
(w) 925-422-9300
(c) 925-290-5470

From: Ralf Gommers ***@***.***>
Reply-To: spack/spack ***@***.***>
Date: Wednesday, August 10, 2022 at 11:26 PM
To: spack/spack ***@***.***>
Cc: Brian Van Essen ***@***.***>, Author ***@***.***>
Subject: Re: [spack/spack] Installation iss

[2022-08-11 11:12] haampie opened #32056 "Order of traversal"
Spack likes to traverse spec graphs depth-first, but breadth-first would be more accurate to resolve conflicts in a sensible way.

Consider a graph

[code]

where `C` sets a runtime env variable `X=C` and `D` sets it to `X=D`. Then in post-order DFS with alphabetically sorted adjacent vertices, visiting each vertex once, you'd get `D`, `C`, `B`, `A`, so you'd end up with `X=C` as it occurs last, e

[2022-08-11 11:53] #32043 closed, assigned to adamjstewart

[2022-08-11 12:09] #31671 closed, assigned to tldahlgren

[2022-08-11 14:20] rscohn2 opened #32061 "Installation issue: hpctoolkit "error adding symbols: DSO missing from command line""
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
In file included from /localdisk/work/rscohn1/projects/spack/spack/opt/spack/linux-ubuntu20.04-cascadelake/gcc-10.3.0/dyninst-12.2.0-4gpngdjixzisay2v6hoqadl2inixmfr2/include/concurrent.h:40,
                 from /localdisk/work/rscohn1/projects/spack/spack/opt/spack/linux-ubuntu20.04-cascad

[2022-08-11 14:33] #3955 closed

[2022-08-11 14:33] #31731 closed, assigned to nobody

[2022-08-11 15:15] ajaypanyala opened #32064 "spack package install fails with permission error"
### Steps to reproduce

- Am getting a file permission error on the `$HOME/.spack` directory when installing `gcc` using a fresh spack setup.
- System default python3 is `v3.6.8`. So installed `v3.9.6` from sources and set the env variables `PATH` and `SPACK_PYTHON` to the new installation.

[code]

- Tried the following to debug:
[code]

### Error message

[code]
[code]

[code]

[code]

[code]
[c

[2022-08-11 15:15] mwkrentel commented on #32061
Hmm, I don't see any obvious reason for this failure.
I routinely use gcc 8.x and 9.x and I have used 10.x before.
Anyway, Thanks for reporting it, I'll look into it.

@rscohn2 Is this inside a container?

[2022-08-11 15:54] rscohn2 commented on #32061
It is ubuntu 20.04.4, without a container. I tried with gcc@8.4.0, gcc@9.4.0, and gcc@10.3.0 installed by apt and they all have the same problem. Someone else was able to build with a gcc8 installed by spack so we are not blocked.

[2022-08-11 16:13] mwkrentel commented on #32061
@rscohn2 In that case, is there a system version of tbb ?
That is, in `/usr/include` and `/usr/lib` (or wherever ubuntu puts libs) ?

[2022-08-11 17:17] tldahlgren commented on #31856
Yes, that (IMO more intuitive :wink:) command provides the functionality you want (see https://spack.readthedocs.io/en/latest/command_index.html#spack-tags).

[2022-08-11 17:20] benpm commented on #30133
using ssh:// does indeed work

[2022-08-11 17:25] rscohn2 commented on #32061
That was it. I did not have the system tbb installed, but one of my externals had a copy of libtbb.so in the same directory. Thanks!

[2022-08-11 17:25] #32061 closed, assigned to nobody

[2022-08-11 17:29] pbrady opened #32072 "Installation issue: thrust"
### Steps to reproduce the issue

[code]

### Error message

The package builds without error but can't be found using `find_package` in cmake because the `thrust-config.cmake` files are installed in `include` rather than `lib`.  I'm not sure about how far back the cmake support for thrust goes, but the correct behavior (outside of spack) can be achieved with the cmake option `THRUST_ENABLE_INSTAL

[2022-08-11 17:43] adamjstewart commented on #31856
Not sure how this got added to 0.18.2 but we should bump this to 0.19.0 since it adds a new feature.

[2022-08-11 17:53] mwkrentel commented on #32061
Ok, well that was easy.

It should work both with a system (`/usr`) version of tbb or without.
But if you have some extra spack package that's not intel-tbb with
copies of the tbb libraries, then yes, that could cause trouble.

[2022-08-11 19:18] jppelteret commented on #32023
FYI This issue reproduces the error that I reported in https://github.com/dealii/dealii/issues/14065 (although I was using the developer version at the time).

[2022-08-11 19:23] wyphan commented on #11116
I was about to create a new issue for this, also on Solarized Dark :joy:

[2022-08-11 23:51] #31985 closed, assigned to alalazo

[2022-08-12 09:28] JBlaschke opened #32085 "Installation issue: Julia needs SSL certificates"
### Steps to reproduce the issue

Some Julia packages need SSL certificates to be installed to: ` ${JULIA_DIR}/share/julia/cert.pem` -- which does not exist when Julia is installed using Spack -- eg:
[code]

In this case the spec I'm trying to build is:
[code]
But I don't think it matters, as long as we're trying to install a reasonably modern Julia

### Error message

[code]

### Information on y

[2022-08-12 10:56] msimberg commented on #31721
I'm not sure if I'm seeing the same problem, but this looks similar enough that it may be the same. Please let me know if what I'm describing would be better off in a separate issue. Hopefully this gives you another test case...

I'm adding a `tracy` variant to `pika`. If I do:
[code]

then
[code]
i.e. it reuses an old spec, and presumably the concretizer thinks this is ok because `tracy` is not a

[2022-08-12 11:25] JBlaschke opened #32091 "Installation issue: Getting `pthread.h - not found` when trying to build LLVM using GCC 12.1.0"
### Steps to reproduce the issue

[code]
Building this spec will take a while ... followed by the error below.

### Error message

[code]

### Information on your system

[code]

### Additional information

I am building using GCC 12 from linuxbrew:
[code]
This seems to be related to the compiler, as building with GCC 9.4.0 works:
[code]
Attaching:
* [spack-build-out.txt](https://github.com/spack/

[2022-08-12 15:53] jfkiviaho commented on #30958
Try installing `gnupg`?

I was trying to set up Spack on a macOS Monterey yesterday, and I ran into the same issue. Today, I went back over to the [prereqs](https://spack.readthedocs.io/en/latest/getting_started.html#system-prerequisites), and I realized that I was missing `gnupg` on my machine. I installed it (using Homebrew for ease). Then I opened a new terminal window, entered `spack spec zlib

[2022-08-12 16:00] wdconinc commented on #28899
@vvolkl Are you still seeing this still, or have you implemented any of the solutions you identify in [key4hep-spack](https://github.com/key4hep/key4hep-spack)?

[2022-08-12 16:54] vvolkl commented on #28899
Still an issue, thanks for the reminder - opened a PR with a fix now.

[2022-08-12 22:34] jeffcbecker opened #32108 "Installation issue: llvm"
### Steps to reproduce the issue

[code]

### Error message

error message is too long, tail below - see attached spack-build-out.txt

<details><summary>Error message</summary><pre>
     53569    /nobackupnfs1/jcbecker/spack/opt/spack/linux-rhel7-sandybridge/gcc-12.1.0/binutils-2.38-bz56uqfv
              g6rdr2dczyzo3jzm6jw2teu3/bin/ld: lib/liblldbCore.a(IOHandlerCursesGUI.cpp.o): in function `cu

[2022-08-12 22:58] samcmill commented on #32022
This looks like the problem: `'-g77', None,`.

Do you have the GNU Fortran compiler installed?

[2022-08-13 00:12] eugeneswalker opened #32110 "variorum@0.4.1 %oneapi, %gcc build fails: ld: Intel/CMakeFiles/variorum_intel.dir/IvyBridge_3E.c.o:(.bss+0x0): multiple definition of `g_platform'"
### Steps to reproduce the issue

Reproducible using:
* `spack@develop` (`08e75f7a3e02ef` from `Fri Aug 12 00:20:47 2022 -0700`)
* `ecpe4s/ubuntu20.04-runner-x86_64-oneapi:2022-07-01`
* `%oneapi@2022.1.0`

Same error using:
* `%gcc@11.2.0` on Ubuntu 22.04, x86_64

Concrete spec: [variorum.spec.json.txt](https://github.com/spack/spack/files/9330319/variorum.spec.json.txt)

Concretization:
[code]

I

[2022-08-13 00:14] eugeneswalker opened #32111 "phist@1.9.5 %oneapi build fails: kernels.F90(63): error #8284: If the actual argument is scalar, the dummy argument shall be scalar..."
### Steps to reproduce the issue

Reproducible using:
* `spack@develop` (`08e75f7a3e02ef` from `Fri Aug 12 00:20:47 2022 -0700`)
* `ecpe4s/ubuntu20.04-runner-x86_64-oneapi:2022-07-01`
* `%oneapi@2022.1.0`

Concrete spec: [phist.spec.json.txt](https://github.com/spack/spack/files/9330336/phist.spec.json.txt)

Concretization:
[code]

Install error:
[code]

### Error message

<details><summary>Error

[2022-08-13 00:17] eugeneswalker opened #32112 "pruners-ninja@1.0.1 %oneapi, %clang@13, %clang@14: test/ninja_test_util.c:34: multiple definition of `a'"
### Steps to reproduce the issue

Reproduced here using:
* `spack@develop` (`08e75f7a3e02ef` from `Fri Aug 12 00:20:47 2022 -0700`)
* `ecpe4s/ubuntu20.04-runner-x86_64-oneapi:2022-07-01`
* `%oneapi@2022.1.0`

Also an issue with:
* `%clang@13.0.1`
* `%clang@14.0.6`

Concrete spec: [pruners-ninja.spec.json.txt](https://github.com/spack/spack/files/9330385/pruners-ninja.spec.json.txt)

Concretization

[2022-08-13 00:18] eugeneswalker opened #32113 "h5bench@1.2 %oneapi, %gcc@11.2.0: h5bench_util.h:196: multiple definition of `has_vol_async'"
### Steps to reproduce the issue

Reproducible using:
* `spack@develop` (`08e75f7a3e02ef` from `Fri Aug 12 00:20:47 2022 -0700`)
* `ecpe4s/ubuntu20.04-runner-x86_64-oneapi:2022-07-01`
* `%oneapi@2022.1.0`

Same error if using:
* `%gcc@11.2.0`

Concrete spec: [h5bench.spec.json.txt](https://github.com/spack/spack/files/9330402/h5bench.spec.json.txt)

Concretization:
[code]

Install error:
[code]

#

[2022-08-13 00:26] eugeneswalker opened #32114 "flux-sched@0.23.0 %oneapi: emitter.h:164:9: error: comparison with NaN always evaluates to false in fast floating point modes [-Werror,-Wtautological-constant-compare]"
### Steps to reproduce the issue

Reproducible using:
* `spack@develop` (`08e75f7a3e02ef` from `Fri Aug 12 00:20:47 2022 -0700`)
* `ecpe4s/ubuntu20.04-runner-x86_64-oneapi:2022-07-01`
* `%oneapi@2022.1.0`

Concrete spec: [flux-sched.spec.json.txt](https://github.com/spack/spack/files/9330409/flux-sched.spec.json.txt)

Concretization:
[code]

Install error:
[code]

### Error message

<details><summ

[2022-08-13 00:58] hainest commented on #32112
I just built master this afternoon with gcc-11.2 and didn't encounter this. Is it working for clang-13?

[2022-08-13 03:28] lisanhu commented on #32022
I didn't have the fortran compiler.
I just set up a virtual machine and tested with and without gfortran, and the results are the same :(
It's still showing the same error message.
I'm on a newly installed pop os 22.04 just FYI.

[2022-08-13 09:36] lrtfm commented on #32108
Maybe you could try this: https://github.com/spack/spack/pull/32037

[2022-08-13 09:57] lrtfm opened #32118 "Installation issue: llvm %intel undefined reference to `__builtin_ia32_fxrstor64'"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
==> Installing llvm-14.0.6-lh234mz2wc4e5krghtjw2ieqi257rf34
==> No binary for llvm-14.0.6-lh234mz2wc4e5krghtjw2ieqi257rf34 found: installing from source
==> Using cached archive: /home/z2yang/opt/spack/var/spack/cache/_source-cache/archive/98/98f15f842700bdb7220a166c8d2739a03a72e775b67031205

[2022-08-13 11:43] cessenat opened #32119 "Installation issue: poppler+glib"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
[ 89%] Building CXX object glib/CMakeFiles/poppler-glib.dir/poppler-structure-element.cc.o
cd /home/cessenat/tmp/spack-stage-poppler-21.09.0-4gfc3baxkyplzltku4rexghnwtv57wx6/spack-build-4gfc3ba/glib && /home/cessenat/spack/lib/spack/env/gcc/g++ -DG_LOG_DOMAIN=\"Poppler\" -Dpoppler_glib_EXPOR

[2022-08-13 12:00] cessenat commented on #24271
Well I removed ; "dot" stil produces svg files, I do not know how but it is fine.

[2022-08-13 18:10] upsj commented on #30943
+1, the issue also occurs on a fresh WSL2+Ubuntu install

[2022-08-13 21:16] eugeneswalker commented on #32112
Yes, I see the same errors with:
* `%clang@13.0.1`
* `%clang@14.0.6`

[2022-08-13 23:14] eugeneswalker opened #32122 "loki@0.1.7 %gcc@11.2.0 build fails: SmallObj.h:462:57: error: ISO C++17 does not allow dynamic exception specifications"
### Steps to reproduce the issue

Reproducible using:
* `spack@develop` (b32cb5765c598e59f2f91d99807b4331f4eba569 from `Fri Aug 12 23:17:20 2022 -0700`)
* `ecpe4s/ubuntu22.04-runner-x86_64:2022-08-01`
* `%gcc@11.2.0`

Concrete spec: [loki.spec.json.txt](https://github.com/spack/spack/files/9332403/loki.spec.json.txt)

Concretization:
[code]

Install error:
[code]

### Error message

<details><summ

[2022-08-14 01:55] eugeneswalker opened #32123 "rempi@1.1.0 %gcc@11.2.0 build fails: rempi_message_manager.h:53:3: error: 'string' does not name a type; did you mean 'stdin'?"
### Steps to reproduce the issue

Reproducible using:
* `spack@develop` (b32cb5765c598e59f2f91d99807b4331f4eba569 from `Fri Aug 12 23:17:20 2022 -0700`)
* `ecpe4s/ubuntu22.04-runner-x86_64:2022-08-01`
* `%gcc@11.2.0`

Concrete spec: [rempi.spec.json.txt](https://github.com/spack/spack/files/9332531/rempi.spec.json.txt)

Concretization:
[code]

Install error:
[code]

### Error message

<details><su

[2022-08-14 02:04] eugeneswalker opened #32125 "parsec@3.0.2012 +cuda %gcc@11.2.0 build fails: mca/device/cuda/transfer.c:168: multiple definition of `parsec_CUDA_d2h_max_flows'"
### Steps to reproduce the issue

Reproducible using:
* `spack@develop` (b32cb5765c598e59f2f91d99807b4331f4eba569 from `Fri Aug 12 23:17:20 2022 -0700`)
* `ecpe4s/ubuntu22.04-runner-x86_64:2022-08-01`
* `%gcc@11.2.0`

Concrete spec: [parsec.spec.json.txt](https://github.com/spack/spack/files/9332540/parsec.spec.json.txt)

Concretization:
[code]

Install error:
[code]

### Error message

<details><

[2022-08-14 05:28] vsoch commented on #4432
ping on a 5 year old issue! Just hit this - trying to install singularity and basic container functionality doesn't work without setuid, and I don't see any obvious setuid packages. Any quick fixes?

[2022-08-14 06:21] eugeneswalker opened #32127 "raja@2022.03.0 +rocm %gcc@11.2.0 fails: Could NOT find ROCPRIM (missing: ROCPRIM_INCLUDE_DIRS)"
### Steps to reproduce the issue

Reproducible using:
* `spack@develop` (b32cb5765c598e59f2f91d99807b4331f4eba569 from `Fri Aug 12 23:17:20 2022 -0700`)
* `ecpe4s/ubuntu22.04-runner-x86_64:2022-08-01`
* `%gcc@11.2.0`
* ROCm 5.2.0

Concrete spec: [raja.spec.json.txt](https://github.com/spack/spack/files/9332812/raja.spec.json.txt)

Concretization:
[code]

Install error:
[code]

### Error message

<

[2022-08-14 12:35] sethrj opened #32130 "Installation issue: guile"
### Steps to reproduce the issue

This looks like another one of many recent errors with C compilers starting to default to C99 standard (@eugeneswalker  ;) )

[code]

### Error message

[code]

### Information on your system

* **Spack:** 0.19.0.dev0 (4d31b6bf8beb8dd6cb380fb566cb6f07daa652c6)
* **Python:** 3.8.9
* **Platform:** darwin-monterey-m1
* **Concretizer:** clingo

### Additional informat

[2022-08-14 12:38] sethrj commented on #32130
Nope, adding the no-error flag results in:
[code]

[2022-08-14 15:03] rountree opened #32131 "config.yaml: Improve description of $tempdir"
### Summary

Adds a few words into `default/config.yaml` as to how `$tempdir` is generated.

### Rationale

I'm not a native speaker of python, so I lost an hour trying to figure out why most `$<lower-case-variables>` mapped to environment variables but `$tempdir` kept resolving to `/var`.  It's obvious after digging into the source.  Perhaps the additional comments will save someone else a bit of

[2022-08-14 15:51] eugeneswalker commented on #32108
And, if that doesn't work by itself, do it in conjunction with https://github.com/spack/spack/pull/32028 -- high probability that if you use both it will work.

[2022-08-14 15:58] eugeneswalker opened #32133 "umpire@2022.03.1 +rocm fails: Target "blt_hip" INTERFACE_INCLUDE_DIRECTORIES property contains path prefixed in source directory"
### Steps to reproduce the issue

Reproducible using:
* `spack@develop` (b32cb5765c598e59f2f91d99807b4331f4eba569 from `Fri Aug 12 23:17:20 2022 -0700`)
* `ecpe4s/ubuntu22.04-runner-x86_64:2022-08-01`
* `%gcc@11.2.0`
* ROCm 5.2.0

Concrete spec: [umpire.spec.json.txt](https://github.com/spack/spack/files/9333671/umpire.spec.json.txt)

<details><summary>Concretization</summary>
<pre>
 -   umpire@20

[2022-08-14 22:19] jrwrigh opened #32138 "Failed `spack spec` command reports ''Package 'bin' not found""
### Steps to reproduce

I've been able to reproduce on with different combinations of packages, but it specifically fails when I prescribe a package dependency. So of the form `spack spec packageA ^packageB`

[code]

I've also seen it report out `Package 'defaults' not found`. I have run the suggested `spack clean -m`, but it has no effect. This is being done with a clean clone at ALCF's Theta mac

[2022-08-15 01:42] nlvw opened #32140 "Cannot concretize environment when llvm has been backported from develop"
### Steps to reproduce

Deploy spack v0.18.x and create a new repository.  In the new repository, in this case called 'updates', backport fixes to the llvm package so that it correctly build with gcc@12.1.0.  copy llvm from develop into the new repository.

LLVM will build without issue and the spec commands works.  But if llvm is used in an environment the environment will fail to concretize.

Ju

[2022-08-15 06:41] samfux84 commented on #4432
For me, singularity somehow goes into a different category of software than other packages that can be installed with SPACK, as the installation contains setuid binaries. In our cluster, singularity is handled by the people that deploy the operating system on the compute nodes and not by me installing software for the end users with SPACK.

I would not recommend to maintain singularity the same wa

[2022-08-15 07:55] tgamblin commented on #31502
I also see this, FWIW.  I'm not able to reproduce it by calling `spack env view regenerate` (even after deleting the view entirely).

[2022-08-15 08:51] haampie commented on #4432
- Using Spack as root is very dangerous.
- Making Spack ask for temporary root access sounds very dangerous: for the user it's unclear what the scope really is, it could hit bugs of the form `rm -rf $EMPTY_VARIABLE/bin`, ...

Maybe we could print some commands the user can run instead, so the scope of `sudo` is very limited and clear:

[code]

In the end it's just a handful of packages that need t

[2022-08-15 13:34] #28899 closed, assigned to vvolkl

[2022-08-15 17:02] wspear commented on #31961
This issue applies to other metapackages like:
exaworks
@andre-merzky

[2022-08-15 17:43] #31819 closed, assigned to nobody

[2022-08-15 18:46] simonLeary42 commented on #32013
I've also found that on my system `spack gc` deletes modulefiles for dependencies, breaking `module load`. Could this be related?

edit: https://github.com/spack/spack/issues/40180

[2022-08-15 19:56] kwryankrattiger opened #32146 "Installation issue: py-numpy with nvhpc blas/lapack"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
/home/local/KHQ/ryan.krattiger/repos/spack/var/spack/repos/builtin/packages/py-numpy/package.py:223, in set_blas_lapack:
        220        blas_headers = HeaderList([])
        221        if "+blas" in spec:
        222            blas_libs = spec["blas"].libs

        224
        225

[2022-08-15 19:56] kwryankrattiger commented on #32146
Fixed by #32145 .

[2022-08-15 20:51] #31065 closed, assigned to haampie, luszczek, arjun-raj-kuppala, srekolam

[2022-08-15 21:31] kwryankrattiger opened #32164 "Installation issue: NVHPC does not provide usable BLAS/Lapack for packages"
### Steps to reproduce the issue

[code]

### Error message

* Plasma
<details><summary>Error message</summary><pre>
1 error found in build log:
     17    -- Could NOT find MKL (missing: MKL_INCLUDE_DIRS MKL_LIBRARIES)
     18    -- Could NOT find OpenBLAS (missing: OpenBLAS_INCLUDE_DIRS OpenBLAS_LIBRARIES)
     19    -- Could NOT find NetlibCblas (missing: NetlibCblas_INCLUDE_DIRS NetlibCblas_LI

[2022-08-15 21:44] kwryankrattiger commented on #32164
There are also issues when using nvhpc with openmp because it puts the nvhpc libgomp.so in the path but that library is not usable when the nvhpc environment is not configured correctly.

Ref. butterfly
<details><summary>Error message</summary><pre>

             ference to symbol 'omp_get_wtime_@@@@VERSION'

             ck_path_placeholder__/__spack_path_placeholder__/__spack_path_plac

[2022-08-15 22:26] slabasan commented on #32110
Thanks @eugeneswalker, we tagged a new release of variorum (and have another coming up later this month) that should resolve this error, I will get our package updated in spack after the release. Thank you for providing the build steps as well, so I can test at my end with the newer variorum package.

[2022-08-15 22:27] slabasan commented on #32110
@tpatki keeping you in the loop here as well

[2022-08-15 23:07] eugeneswalker commented on #29524
@streichler Does `legion +rocm` similarly require the driver?

Trying to build inside a container image where no AMD GPU is available (but ROCm userspace toolkit is):
[code]

[2022-08-15 23:39] wdconinc opened #32165 "`spack develop` trips up over dead links"
### Steps to reproduce

Reproduce with:
[code]

Backout with:
[code]

### Error message

[code]

Debug output (abridged):
[code]

### Information on your system

* **Spack:** 0.19.0.dev0 (cd80779738ea5e31cc27dd285b75f8ddea8c096f)
* **Python:** 3.10.6
* **Platform:** linux-ubuntu22.04-skylake
* **Concretizer:** clingo

### General information

- [X] I have run `spack debug report` and reported the

[2022-08-15 23:49] wdconinc commented on #32165
Addressed by
[code]
but that generator expression is starting to suffer readability.

[2022-08-15 23:51] elliottslaughter commented on #29524
What ROCm version are you building against? I don't see how a missing CMake command would be related to the driver, so it must be either an issue with specific ROCm version(s) or else Legion's HIP CMake support is just that broken....

[2022-08-16 00:16] eddy16112 commented on #29524
The `HIP_GET_SOURCES_AND_OPTIONS` is cmake macro defined by HIP https://github.com/ROCm-Developer-Tools/HIP/blob/develop/cmake/FindHIP.cmake#L330, and it should be under $HIP_PATH/cmake/FindHIP.cmake. The `$HIP_PATH` is set to `/opt/rocm/hip` by default or can be override by setting the environment variable `HIP_PATH` https://gitlab.com/StanfordLegion/legion/-/blob/master/cmake/FindHIP.cmake#L18-2

[2022-08-16 02:28] jeffcbecker commented on #32108
That fixes the problem! Thanks. You can close this issue.

On Sun, Aug 14, 2022, 8:51 AM eugeneswalker ***@***.***>
wrote:

[2022-08-16 11:07] sethrj opened #32170 "Environment concretization doesn't respect compiler"
### Steps to reproduce

I have a simple one-package environment asking for the NVHPC compiler. Manually concretizing the sole package on the command line works.
[code]

### Error message

Actual concretization of the environment:
[code]

### Information on your system

* **Spack:** 0.19.0.dev0 (89d55149c311aae2ca85d6fb032dcdb9b3ec4bf3)
* **Python:** 3.8.10
* **Platform:** linux-ubuntu20.04-cascade

[2022-08-16 11:52] raullaasner opened #32172 "Installation issue: gcc@12.1.0 with glibc v 2.36"
### Steps to reproduce the issue

[code]
gcc does not build anymore with glibc version 2.36. This is due to API changes in the latest glibc. You can find more information about it here: https://sourceware.org/glibc/wiki/Release/2.36#Packaging_Changes. To the best of my understanding, `<linux/mount.h>` and `<sys/mount.h>` have conflicting definitions which lead to build errors for application such

[2022-08-16 11:58] raullaasner commented on #32172
I'm having trouble editing the original message so posting spack-build-env.txt separately here:
[spack-build-env.txt](https://github.com/spack/spack/files/9350672/spack-build-env.txt)

[2022-08-16 13:08] haampie commented on #32172
Is there an issue for it in the gcc bug tracker?

[2022-08-16 14:27] raullaasner commented on #32172
I searched the GCC bug tracker but could not find a related issue. I think it's not a bug if you use compatible versions of glibc and gcc (specifically, the conflict is with building libsanitizer which, as I understand, is a component of gcc). On my platform glibc was recently bumped to 2.36 but it's not possible to change or downgrade something as fundamental as glibc. In any case, I made the fol

[2022-08-16 14:27] #32172 closed, assigned to nobody

[2022-08-16 14:48] lvw5264 opened #32176 "Installation issue: openlibm, SPACK's ARCH environment variable is incorrect and should be set to ARCH=amd64 or build will fail"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
==> [2022-08-16-09:49:46.724006] openlibm: Executing phase: 'edit'
==> [2022-08-16-09:49:46.724660] Using default implementation: skipping edit phase.
==> [2022-08-16-09:49:46.750198] openlibm: Executing phase: 'build'
==> [2022-08-16-09:49:46.752024] 'make' '-j16'
Makefile:26: linux-rhel8-s

[2022-08-16 15:01] adrienbernede commented on #31030
I am closing this as the initial issue was fixed.

[2022-08-16 15:01] adrienbernede commented on #31030
I am closing this as the initial issue was fixed.

[2022-08-16 15:02] adrienbernede commented on #31030
@trws how about closing this ?

[2022-08-16 15:04] adrienbernede commented on #31030
You said you would be investigating this and I reported a weird related behavior, but the initial issue was fixed from my perspective using `user_cache_path`.

[2022-08-16 15:15] trws commented on #31030
I'll close this and open a separate one for the locking if it comes back up.

[2022-08-16 15:15] #31030 closed, assigned to alalazo

[2022-08-16 15:35] RemiLacroix-IDRIS commented on #31607
Any news about this? It's really driving me crazy... :(

[2022-08-16 20:31] blue42u opened #32193 "Occasional odd (erronous?) environment concretization"
### Steps to reproduce

Very infrequently in our CI jobs, the environment concretizes to an odd result. I don't have a reproducer yet, the final concrete environment is here: [bad-spack-env.zip](https://github.com/spack/spack/files/9353243/bad-spack-env.zip).
Roughly speaking, this environment is generated from the following running in a `registry.opensuse.org/opensuse/leap:15`-based container:
[c

[2022-08-16 20:32] blue42u commented on #32193
/cc @becker33 @alalazo

[2022-08-16 20:48] eugeneswalker opened #32194 "hypre@2.25.0 +rocm fails: _hypre_utilities.hpp:116:10: fatal error: 'rocsparse.h' file not found"
### Steps to reproduce the issue

Reproducible using:
* `spack@develop` (4c2f357f0e8c5a2ce5609e654d5bfc435b6caee5 from `Mon Aug 15 18:00:33 2022 -0700`)
* `ecpe4s/ubuntu22.04-runner-x86_64:2022-08-01`
* `%gcc@11.2.0`
* ROCm 5.2.0

Concrete spec: [hypre.spec.json.txt](https://github.com/spack/spack/files/9354617/hypre.spec.json.txt)

<details><summary>Concretization</summary>
<pre>
  -   hypre@2.25

[2022-08-16 21:06] #32165 closed, assigned to nobody

[2022-08-16 22:45] eugeneswalker opened #32197 "vtk-m +rocm %gcc@11.2.0 fails: FunctorsOpenMP.h:25:10: fatal error: 'omp.h' file not found"
### Steps to reproduce the issue

Reproducible using:
* `spack@develop` (4c2f357f0e8c5a2ce5609e654d5bfc435b6caee5 from `Mon Aug 15 18:00:33 2022 -0700`)
* `ecpe4s/ubuntu22.04-runner-x86_64:2022-08-01`
* `%gcc@11.2.0`
* ROCm 5.2.0

Concrete spec: [vtk-m.spec.json.txt](https://github.com/spack/spack/files/9355092/vtk-m.spec.json.txt)

<details><summary>Concretization</summary>
<pre>
 -   vtk-m@1.8.0

[2022-08-17 02:48] eugeneswalker commented on #27183
Is `boost@1.76.0` the latest supported for `dealii@9.4.0`?

[2022-08-17 13:59] climbfuji commented on #30808
@adamjstewart I am finally getting around to testing the new gdal `cmake` build and it fails on several HPCs, including Gaea for which I had opened this issue originally with the old gnumake build for gdal@3.4.2.

On another HPC (NCAR-Wyoming Cheyenne), the error is:
[code]
I am going to work through these problems one after the other. Do you want me to reopen this issue or create a new one?

[2022-08-17 14:23] climbfuji commented on #30808
Regarding the qhull error, the qhull installation doesn't have any header files:
[code]

[2022-08-17 14:29] climbfuji commented on #30808
I fear that the automatic purger on the scratch filesystem is playing tricks on me ... I'll try again on another filesystem.

[2022-08-17 14:34] wyphan commented on #31706
@trws Do you have a list of header files from libc6 and multilib that LLVM needs to build, so I can add them to #30954?

[2022-08-17 14:43] trws commented on #31706
Not a full list, but `sys/cdefs.h` is a good "canary in the coal mine" so to speak.

[2022-08-17 15:01] wdconinc opened #32214 "Installation issue: libzmq@4.3.1 (patch failed)"
### Steps to reproduce the issue

Local spack install demonstrator:
[code]

Containerized demonstrator:
[code]

### Error message

<details><summary>Error message</summary><pre>
09:42:59 wdconinc@menelaos /opt/software $ docker exec $c sh -c ". /opt/spack/share/spack/setup-env.sh && spack install libzmq@4.3.1"
==> Installing libsodium-1.0.18-5kdat7szjyllvnfyhk3d6e3oxorobxgz
==> No binary for libso

[2022-08-17 15:45] adamjstewart commented on #30808
Can you try using Spack-installed QHULL? If that doesn't work, I would open an issue on the GDAL GitHub repo and tag me and roualt

[2022-08-17 17:38] wyphan commented on #31706
@trws Done, added to the PR

[2022-08-17 17:42] #31889 closed, assigned to adamjstewart

[2022-08-17 19:22] wdconinc commented on #32214
Patch was introduced by @chuckatkins in https://github.com/spack/spack/pull/24563.

I think the issue here is that the patch applies fine against `master`, but not against the released versions before commit https://github.com/zeromq/libzmq/commit/1781cff37bfd569b7b9b6d926f374a8da1f08c42 i.e. versions 4.3.3 (which is the first to include that commit), because it changes the context. On `gcc@12` an

[2022-08-17 19:26] wdconinc commented on #32214
- create a patch for `@4.3.4` so it works with `gcc@12`...

[2022-08-17 21:28] jppelteret commented on #27183
Hi @eugeneswalker,

It looks like we [added a patch](https://github.com/dealii/dealii/commit/5ee7eaa5a618d128867ef13c63a1a72f43e5f43f) for `boost@1.78.0` to `dealii@9.4.0`, so from what I can tell this later version of boost is now supported by the latest deal.II release. If you don't have any success in installing it, please let me know and I can then follow up with the others.

[2022-08-17 22:44] psakievich opened #32225 "Naked asserts in asp.py lead to blank error messages"
### Steps to reproduce

There are a handful of naked asserts in `asp.py` that can lead to no concretization error messages for users if they are hit.
We should make sure all assertions have an associated message and/or prefer raising exceptions.

[code]

https://github.com/spack/spack/blob/d8689b50389cca69495ef2600c9e97c6f47a49c8/lib/spack/spack/solver/asp.py#L2229

### Error message

[code]
There

[2022-08-18 00:23] cosmicexplorer opened #32229 "add license information to a package"
### Summary

Package recipes should be able to declare the license that applies to their source, in cases where the code has a single standard license (most of the time). `spack stage` already provides the full corresponding source for any build output Spack produces, including license(s), so this is mostly envisioned as an ergonomics improvement for checking a package's license.

We will *not* be

[2022-08-18 03:02] climbfuji commented on #30808
That problem went away after building on a filesystem without an automatic scrubber. Sorry for the false alarm. Weird though, the scrubber is supposed to delete files that are older than 120 days, so somehow the installation of qhull must preserver original file modification times.

[2022-08-18 14:50] shuds13 opened #32238 "PYTHONPATH not set for dependencies in a `BundlePackage`"
### Steps to reproduce

If I install a Python package in a Spack environment the view is added to PYTHONPATH. If I install xsdk (which has Python dependencies), it is not. Also, the installed python is not on my PATH.

[code]

For faster test, you can trim down the xsdk package.py so just uses py-libensemble (this is the python package).

e.g. you can trim main function to

[code]

I've tried acti

[2022-08-18 14:52] shuds13 commented on #32238
Update - if I change the above class line to also inherit from PythonPackage, it looks like PYTHONPATH does get set.

[code]

So I guess the question is what is the desired bahavior. I would think, you would always want python dependencies to be added to PYTHONPATH.

[2022-08-18 15:12] bvanessen commented on #29447
@alalazo Any updates on ways to address this issue?

[2022-08-18 16:22] blue42u opened #32242 "Permission denied while concretizing environment"
### Steps to reproduce

[code]

### Error message

[code]

### Information on your system

* **Spack:** 0.19.0.dev0 (3d4705ffabe1045a5fca39aa53ad99bdc7ecbdbe)
* **Python:** 3.10.6
* **Platform:** linux-debianunstable-zen2
* **Concretizer:** clingo

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have searched the issues of th

[2022-08-18 16:36] psakievich commented on #32225
#32237 addresses this issue.  It did not solve the exact error of this case, but still going to close for now. I can't reproduce this on any other machine and I don't have time to track it down on the production machine where the error is occurring. This error is not stopping me from building what I needed to build.

[2022-08-18 16:36] #32225 closed, assigned to nobody

[2022-08-18 17:44] eugeneswalker opened #32243 "Concretizer unification: allow root specs to be considered for unification, but mark them as disabled/do-not-install"
### Summary

If I have a Spack environment:

[code]

I would like to be able to concretize this environment, try building it, and if pkgC fails, I want to be able to mark pkgC as essentially `do-not-install` but still have the concretizer consider it when unifying the environment.

Something like:
[code]

In this way the Spack environment would retain it's unified concretization but just skip buil

[2022-08-18 18:22] Paul-Ferrell opened #32247 "Compilers.yaml compiler defs need to be able to unload modules"
### Summary

On cray systems several package builds need tight control of compiler flags. Unfortunately the Cray programming environments load many modules, some of which force the insertion of compiler flags for the compiler wrappers. Our solution for manual builds was to unload those problematic modules before building, and we'd like to be able to do that with Spack as well.

### Rationale

As i

[2022-08-18 18:55] blue42u commented on #32193
I think this is also related, apparently sometimes the "tainted" hash can cause CI to fail at the very end:
[code]

[2022-08-18 19:35] mvictoras opened #32249 "Installation issue: sensei"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>

             spack/polaris/opt/spack/cray-sles15-zen2/gcc-11.2.0/hwloc-2.8.0-mvdpxwxncw2emcqp33a4js7pdzecmqrv/lib: read: Is a directory

     1377    make[2]: Leaving directory '/tmp/mvictoras/spack-stage/spack-stage-sensei-develop-3u74jaikyzdpl5o56rp5ey6qon2qa6fo/spack-build-3u74jai'

[2022-08-18 20:20] kwryankrattiger commented on #32249
if you `ls /lus/grand/projects/visualization/mvictoras/spack/polaris/opt/spack/cray-sles15-zen2/gcc-11.2.0/hwloc-2.8.0-mvdpxwxncw2emcqp33a4js7pdzecmqrv/` do you see a `lib` dir or a `lib64` dir?

[2022-08-18 21:30] kwryankrattiger commented on #30508
https://github.com/spack/spack/pull/31145/files

[2022-08-18 23:18] becker33 commented on #1371
@adamjstewart is this issue still active?

[2022-08-18 23:21] becker33 commented on #1743
Closed by #24718

[2022-08-18 23:21] #1743 closed

[2022-08-18 23:23] white238 commented on #22918
We recently ran into this by noticing how large our unit tests were getting.  The increase in file size is significant. PR here showing some real world size differences:

https://github.com/LLNL/serac/pull/764

[2022-08-18 23:24] becker33 commented on #1787
Closed by #23824

[2022-08-18 23:24] #1787 closed

[2022-08-18 23:26] adamjstewart commented on #1371
Issue is still present with the following config in develop:
[code]
[code]
Let me try with the new requires syntax.

[2022-08-18 23:30] adamjstewart commented on #1371
Issue is still present with require, and I think require is actually broken. With:
[code]
I would expect to see zlib build with gcc and everything else build with apple-clang, but I don't see that:
[code]
I still have to manually set the default compiler on the command-line:
[code]

[2022-08-18 23:43] becker33 commented on #2247
Closing as completed by the new concretizer and spec reuse.

[2022-08-18 23:43] #2247 closed

[2022-08-18 23:44] becker33 commented on #2313
Closing as duplicate of #1927

[2022-08-18 23:44] #2313 closed

[2022-08-18 23:49] becker33 commented on #2469
Closing in favor of #31357

[2022-08-18 23:49] #2469 closed

[2022-08-18 23:49] becker33 commented on #896
Closing in favor of #31357

[2022-08-18 23:49] #896 closed

[2022-08-18 23:53] becker33 commented on #2759
Closing this -- `spack activate` is now deprecated

[2022-08-18 23:53] #2759 closed

[2022-08-18 23:58] becker33 commented on #3104
@ax3l what do you think of the following:

[code]

We've gotten this request from other users as well, and that was one proposal for how to resolve it. It's not quite as streamlined as doing it on the command line, but you can do it from the CLI

[code]

or even as a one-liner
[code]

[2022-08-19 00:01] becker33 commented on #3166
@adamjstewart I believe this is resolved by #14934. Closing it as resolved, open it if I'm incorrect.

[2022-08-19 00:01] #3166 closed

[2022-08-19 00:05] becker33 commented on #3331
This is partially resolved by #10761. The other component is not something we intend to add before #31357 is resolved, which will completely change the compiler configuration model and render this issue moot.

[2022-08-19 00:05] #3331 closed

[2022-08-19 09:13] alalazo commented on #1371
Currently:

see [docs](https://spack.readthedocs.io/en/latest/build_settings.html#package-requirements). There will be work to lift this restriction and also to allow `requires` under virtual packages.

[2022-08-19 09:22] alalazo commented on #32170
Reproduced the bug. You can workaround it with:
[code]
in which case I get the following spec:

<details>

<summary>geant4@11 cxxstd=17</summary>

[code]

</details>

[2022-08-19 09:35] alalazo commented on #32170
@sethrj This is one conflict that messes with your configuration (there might be more):

https://github.com/spack/spack/blob/be62635154758ace2337d8828f9eac5743115122/var/spack/repos/builtin/packages/cmake/package.py#L192-L194

Spack prefers to keep the default variant and use other compilers if you use preferences only. When you force the compiler on `geant4` like above it prefers to take a penalt

[2022-08-19 11:00] sethrj commented on #32170
Aha, I see. Curiously, though, I was using an external cmake, which concretized as:
[code]
Perhaps also, conflicts shouldn't apply to externals since they've already been built?

[2022-08-19 11:11] alalazo commented on #32170
Ugh, I didn't look at your `packages.yaml` - but I think the issue is of the same kind. Conflicts with `externals` are already not taken into account (for the good and bad, since sometimes that approach causes troubles too).

Also, with https://github.com/spack/spack/pull/32260 you can generally ask for:
[code]
which might be a more general solution if merged.

[2022-08-19 11:48] sethrj commented on #32170
Yep, the `requires` option sounds like the right approach to take for environments going forward. Diffing the two concretized `specs` for nvhpc vs gcc, I get:
[code]

The nvhpc patches/restrictions are due to @haampie in #29848 ... maybe there's an easy patch? It looks like the only problem is the hard-coded `-nostdlib -nostartfiles` options to `$(CC) -shared`...

[2022-08-19 13:12] mvictoras commented on #32249
[code]

[2022-08-19 13:41] frobnitzem commented on #31154
and #16813

[2022-08-19 13:42] haampie opened #32264 "Run black on 0.18.2 backports branch"
Currently it's a pain to backport anything to 0.18 because of the `black` style changes on develop.

@tgamblin can you repeat what you did on develop on this branch #31664 (and remove style ci there).

Thanks.

[2022-08-19 14:23] mkszuba commented on #32091
I have observed exactly the same error on SUSE Linux Enterprise Server 15.3, while attempting to build llvm@12.0.1 using system-installed gcc-11.3.0. Spack version 0.18.0. Interestingly enough, looking at the log shows that quite a few other LLVM modules have successfully located thread header and library; it's only this one that fails.

[2022-08-19 14:23] eugeneswalker opened #32266 "py-cryptography@3.4.8 - failed to fetch pyo3 as dependency package of cryptography-rust: failed to fetch `https://github.com/rust-lang/crates.io-index`"
### Steps to reproduce the issue

Reproducible using:
* `spack@develop` (364e4e03ef25976c24dd8c5f0fe9b8f981b1c336 from `Thu Aug 18 17:53:09 2022 -0500`)
* `ecpe4s/ubuntu20.04-runner-x86_64-oneapi:2022-07-01`
* `%oneapi@2022.1.0`

Environment: [spack.yaml.txt](https://github.com/spack/spack/files/9382854/spack.yaml.txt)

Install error:
[code]

Excerpt from `spack-build-out.txt`
[code]

### Error me

[2022-08-19 16:22] ax3l opened #32272 "Clingo Env: Conduit + Ascent + SENSEI w/ HDF5"
### Steps to reproduce

Trying to concretize the following spec does lead to a Spack environment merge error:
[code]
[code]

cc @cyrush @kwryankrattiger et al.

### Error message

[code]

Somehow the conduit default-on `+hdf5_compat` forces part of the spec to be lowered to HDF5 1.8

[code]

### Information on your system

* **Spack:** 0.19.0.dev0 (90352d722358640e1b8d87f1125a0ee0675eb75e)
* **Pyt

[2022-08-19 16:23] alalazo commented on #32243
I think this is a sensible request, modulo defining a few details. I like turning the spec string possibly into an object:
[code]
so that we have the possibility to add more markers, if needed, in the future. If we implement something like that we possibly need  to adapt Gitlab pipelines to understand the markers.

[2022-08-19 17:09] adamjstewart commented on #32272
I don't know anything about conduit, ascent, sensei, hdf5, or environments.

[2022-08-19 17:11] adamjstewart commented on #32266
Do newer versions work?

[2022-08-19 17:13] ax3l commented on #32272
@adamjstewart I added you because I think it's a concretizer issue - do you know who would be interested in that?

[2022-08-19 17:15] adamjstewart commented on #32272
@alalazo or @becker33

[2022-08-19 17:16] ax3l commented on #32272
Thanks a lot! :)

[2022-08-19 17:18] eugeneswalker commented on #32243
Yes!

[2022-08-19 17:23] eugeneswalker commented on #32266
Yes.

It looks like in this environment we have:

[code]

I will try unpinning the `py-cryptography` upper version limit on `py-globus-sdk`. Maybe it doesn't have to be this way.

[2022-08-19 17:24] adamjstewart commented on #32266
Or add a newer version of py-globus-sdk.

[2022-08-19 17:31] eugeneswalker commented on #32266
It looks like more than just py-globus-sdk, there is another package that is requiring this version of py-cryptography in the environment. Do you know an easy way to find out every package in the environment that might require this ?

[2022-08-19 17:33] adamjstewart commented on #32266
You can use:
[code]
to find all packages that depend on `py-cryptography`, but I don't think the command is environment-aware so it's hard to narrow it down. You could also try `spack find ^py-cryptography` in the environment but that will also include transitive dependencies. If you cross-reference the two, that should give you what you want.

[2022-08-19 18:07] kwryankrattiger commented on #32272
I have found that putting things in the package preferences is mostly not useful in `unify:true` environments. That is probably a concretizer issue, but I think this will be mostly "fixed" with `package:require` going forward. #32260

To fix this now, I would recommend to use the `ecp-data-vis-sdk` package to handle the caveats of sensei/ascent/adios2/hdf5 for you. `ecp-data-vis-sdk +adios2 +ascen

[2022-08-19 18:19] alalazo commented on #32272
The issue in my opinion are the default of environments, which might lead to these conflicts. We have PRs to fix those in v0.19. I don't see by just reading the description a clear problem with the concretizer. If specs are concretized separately and with reuse what you see here might happen.

A couple of notes:
- The error seems to be due to having two versions of `hdf5@1.12.2` with different has

[2022-08-19 21:08] pcafrica opened #32278 "Installation issue: deal.II with Trilinos and CUDA"
### Steps to reproduce the issue

[code]

### Error message

[code]

### Information on your system

[code]

### Additional information

I'm trying to compile deal.II with support to Trilinos and CUDA enabled.
Everything built smoothly (since the installation of OpenMPI CUDA-Aware), except that it seems impossible to enable both dependencies.

Some relevant (conflicting?) lines from `package.py`:

[2022-08-19 22:23] eugeneswalker commented on #32266
Found out there are two issues.

The first issue is the constraints in `py-globus-sdk`. Adding a newer version and unpinning the `py-cryptography` version constraint for newer version fixes that.
* https://github.com/spack/spack/pull/32280

The other issue is an improperly expressed constraint on `py-pyjwt`. I have PR for that:
* https://github.com/spack/spack/pull/32279

[2022-08-19 23:51] ax3l commented on #32272
Thank you both, I think that solves it for now.

I'll roll with `ecp-data-vis-sdk +adios2 +ascent +hdf5 +sensei` as recommended :)

[2022-08-19 23:51] #32272 closed, assigned to cyrush, alalazo, becker33

[2022-08-20 01:06] ax3l opened #32283 "ecp-data-vis-sdk: remove enforced `+fortran`"
Hi,

the `ecp-data-vis-sdk` package enforces `+fortran` on a lot of packages, e.g., ADIOS2 and HDF5. This is not ideal for me, building a C++ stack where I like to avoid Fortran dependencies as much as possible to save compile time.

Can you please make the hard-coded `+fortran` forwards a variant? :)

[2022-08-20 02:06] kwryankrattiger commented on #32283
This was a topic of discussion in our group before and I can bring it up again. I am very much on the fence on being able to specify extra language support from the SDK. The use case you present here seems like it may be a valid reason to be able to disable fortran at very least.

From our previous discussion, language extensions like this off of the core C/C++ libraries for fortran and python fel

[2022-08-20 02:11] ax3l commented on #32283
Thanks, to add another use case: half of our team are Mac users and I want to achieve a quick spack experience on new machines where I can keep FC and F77 to be null in compilers.yaml

I think I can achieve that already unless I use the SDK package
https://twitter.com/axccl/status/1560808524586061824

[2022-08-20 06:46] baloe opened #32286 "Installation issue: gcc@9.5.0"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
[...]
libtool: link: ranlib .libs/libitm.a
libtool: link: ( cd ".libs" && rm -f "libitm.la" && ln -s "../libitm.la" "libitm.la" )
make[4]: Leaving directory '/tmp/bastian/spack-stage/spack-stage-gcc-9.5.0-3a6ryytdjitmnqokyl635p4uadxuv5e4/spack-src/spack-build/x86_64-pc-linux-gnu/libitm'
make

[2022-08-20 15:47] bosmacs opened #32291 "Installation issue: julia@1.8.0-rc1"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
In file included from <stdin>:1:
In file included from /opt/spack/opt/spack/darwin-monterey-m1/apple-clang-13.0.0/llvm-13.0.1-tlnqaosfcm7bwwdnad77joofcyjvsnhm/bin/../include/c++/v1/string:519:
In file included from /opt/spack/opt/spack/darwin-monterey-m1/apple-clang-13.0.0/llvm-13.0.1-tlnqao

[2022-08-20 16:18] alalazo opened #32292 "Unit tests in `bindist.py` depend on the order of execution"
Due to a fixture that is shared among tests:

https://github.com/spack/spack/blob/fff929d5ab08fc21a3fbe795c10e255f993aa39e/lib/spack/spack/test/bindist.py#L49-L54

the unit tests are building a build cache, and later tests depend on the results of previous tests. If the scope of the fixture is changed to `function` tests start failing

[2022-08-20 22:09] #31856 closed, assigned to nobody

[2022-08-21 05:46] rountree opened #32294 "Installation issue: teckit"
### Steps to reproduce the issue

[code]

The "release" tarball used by the current package lacks several files including `SFconv/expat/xmlparse/xmlparse.h`.

Using tarballs based off of version tags solves the problem.  PR incoming.

### Error message

<details><summary>Error message</summary><pre>
➜  spack git:(develop) spack install teckit@2.5.9%gcc
[+] /Users/rountree4/repos/spack/opt/spack/da

[2022-08-21 18:30] adamjstewart opened #32298 "Unit test failures on Apple M1"
### Steps to reproduce

[code]

### Error message

Experienced several unit test failures when running locally:
[code]
Also, many tests prompt for input during running, making them not automated:
[code]
[code]
Full test output:

* [test log](https://github.com/spack/spack/files/9389742/test.txt)

### Information on your system

* **Spack:** 0.19.0.dev0 (dab46296b6591ca35dd8986bc474b3c7eb08edcd)
*

[2022-08-21 18:33] adamjstewart commented on #32292
Could be a cause of some of the test failures in #32298, I saw most bindist.py tests fail, among other tests.

[2022-08-21 18:34] adamjstewart commented on #32266
What do we want to do with this? It sounds like you're now able to get newer versions working. Should we deprecate older versions so no one encounters this issue? Not sure if it's worth trying to patch or report since the upstream maintainers likely no longer support these older versions.

[2022-08-21 18:38] adamjstewart commented on #32238
`PYTHONPATH` isn't controlled by `PythonPackage`, it's controlled by `extends('python')`. If packages use `extends('python')`, regardless of whether or not they inherit from `PythonPackage`, they should be added to `PYTHONPATH`. Note that there is a bug wherein packages that extend multiple libraries (Python, R, Perl, etc.) may not be added to `PYTHONPATH`, but as far as I know that should only af

[2022-08-21 19:33] michaelkuhn commented on #32286
This seems to be caused by newer glibc versions (see 2.1 at https://sourceware.org/glibc/wiki/Release/2.36). Do newer versions of GCC work?

[2022-08-21 21:16] shuds13 commented on #32238
@adamjstewart

I can confirm adding extends('python') worked in both my simplified example above, and in full xsdk. The actual xsdk package does in fact use multiple inheritence `class Xsdk(BundlePackage, CudaPackage, ROCmPackage):`, but it still seems to work.

Note, I do find I have to despacktivate and reactivate the environment after reconcretizing for it to work.

[2022-08-22 01:51] blue42u commented on #32193
After some more experimentation, I was able to build something of a reproducer for issue (2). Apparently the spec is not re-hashed when loading JSON, so if the hash changes it is possible to install identical packages with different hashes, one of which gets "lost":
[code]

If these packages are pushed to a binary mirror, the index has the similar strangeness of having duplicate packages with diff

[2022-08-22 16:34] feacluster opened #32310 "Getting a "command not found" for paraview when loading the openfoam I installed with paraview"
I am new to spack but am familiar with installing OpenFoam from source. I first installed  openfoam@2112 . It worked well and I was able to run some tutorial models. Next I tried to install with paraview with the command, "spack install openfoam@2112+paraview". I believe it installed ok, but when I launch paraFoam, I get "paraview: command not found", per:

[code]

Not sure how to debug further. I

[2022-08-22 16:40] sskutnik opened #32311 "qt-5.15.5 build/install failing on Monterey & clang v13.1.6"
I am trying to install qt-5.15.5 as part of a larger environment install but I am running into an issue building. Specifially, I receive the following error:

[code]

Note that I have the XCode command-line tools already installed; however every time I try to install Qt it seems to not find them. i.e., when I go to manually install the command-line tools, I see the following:

[code]

Moreover, `m

[2022-08-22 17:37] #32023 closed, assigned to nobody

[2022-08-22 18:39] #32294 closed, assigned to nobody

[2022-08-22 21:55] tldahlgren opened #32318 "Installation issue: py-python-dateutil"
### Steps to reproduce the issue

The error originally occurred when I tried to build the new py-ghp-import (see #32316 ).

[code]

### Error message

<details><summary>Error message</summary><pre>
...
==> Installing py-python-dateutil-2.8.2-d5e5cpga2s547en3mxhd7yqtenvcqdss
==> No binary for py-python-dateutil-2.8.2-d5e5cpga2s547en3mxhd7yqtenvcqdss found: installing from source
==> Using cached ar

[2022-08-22 22:13] adamjstewart commented on #32318
I think the error message we care about here is:
[code]
But this is confusing because:

1. python-dateutil doesn't depend on packaging
2. packaging is an external package

Can you try the following patch?
[code]

[2022-08-23 00:33] tldahlgren commented on #32318
Sure.  Still getting the same errors with the patch.

[2022-08-23 00:36] #31122 closed, assigned to climbfuji

[2022-08-23 00:39] adamjstewart commented on #32318
Then I'm stumped. I'm not sure if there's a way to get an external Python to ignore the packages installed in its own site-packages directory, and I'm not sure why pip thinks that `packaging>=20.0` is required to install python-dateutil. We're even using `pip install --no-deps` which _should_ cause pip to ignore dependency requirements altogether. Maybe @pradyunsg can advise on the pip side of thi

[2022-08-23 10:43] alalazo commented on #29447
@bvanessen Not so far. I think addressing this properly require some design changes, maybe also distinguishing between buil-time test dependencies and run-time test dependencies (i.e. the one needed to run `spack test`). @tldahlgren and @becker33 might have a more informed opinion on this.

[2022-08-23 10:59] alalazo commented on #31607
@RemiLacroix-IDRIS I don't see it mentioned in the thread, but I assume you are aware that with:
[code]
you'll get back the old deterministic concretizer behavior.

[2022-08-23 11:01] RemiLacroix-IDRIS commented on #31607
@alalazo : is it the same as `--fresh` on the command-line?

[2022-08-23 11:07] alalazo commented on #31607
Yes, but from config file - so you don't have to specify `--fresh` every time.

[2022-08-23 13:09] baloe commented on #32286
I don't know about newer versions, I'm travelling right now, that makes it a bit difficult to let my laptop compile stuff for 2 hours just to see if an error occurs after 2 hours.
But I really need GCC<10.

[2022-08-23 13:11] baloe commented on #32286
Can't spack install an older  version of glibc and use that one?

[2022-08-23 13:19] haampie commented on #32286
edit: yes, but it's not a path worth pursuing: https://github.com/spack/spack/wiki/Building-gcc-with-glibc-together-in-10-easy-steps

[2022-08-23 14:35] jhodrien commented on #12520
I don't think this is quite sufficient.  The split install of OpenMPI befuddles Spack, and you can't currently have it all line up, as it expects the include files and binaries to be located within a single prefix, which isn't the case with Red Hat's packaging.

The correction you made was the same one I had used, which works as long as software access mpicc and friends from the path.  But if the

[2022-08-23 16:22] mvictoras commented on #32249
Any updates with this?

[2022-08-23 16:42] jrwrigh commented on #32138
Update: This appears to be a environment issue. The above behavior is observed for my custom zsh environment on theta, _but_ not for a "clean" zsh environment (starting it via `zsh -l -f`).

The only difference between the environment variables (reported by `env`) is the following:
[code]

I'm not sure if it's expected that these few changes would actually affect how spack runs.

[2022-08-23 16:50] jrwrigh commented on #32138
Comparing `spack --debug --stacktrace spec cgns ^cmake` output between the two environments doesn't reveal any differences other than the `lib/spack/spack/solver/asp.py:2130 ==> [2022-08-14-16:49:25.064258] build(PACKAGENAME)` output being in a different order.

Also, it's now complaining that:
[code]

[2022-08-23 17:34] scheibelp commented on #12520
We're still interested in supporting split prefixes, but I'm curious if creating a symlink works for you in the meantime, e.g.:

[code]

[2022-08-23 17:40] nicholas-sly opened #32336 "Inherited packages break module-scoped variables"
### Steps to reproduce

Under an unknown set of conditions, running `spack install llvm+python` will generate this error.

### Error message

[code]

### Information on your system

[code]

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have searched the issues of this repo and believe this is not a duplicate
- [X] I have ru

[2022-08-23 17:42] becker33 commented on #32336
The set of conditions that triggers this is installing `myrepo.llvm`, when `myrepo.llvm` inherits from `builtin.llvm`.

[2022-08-23 18:19] shuds13 commented on #32238
Just to add a thought, in my naive view, it would be good if any package with python dependencies (at least run dependencies) updated the PYTHONPATH. I don't know all the practical considerations with that.

[2022-08-23 18:20] adamjstewart commented on #32238
`extends('python')` is identical to `depends_on('python')` but also sets `PYTHONPATH`. There are thousands of packages that depend on Python but don't install any Python libraries.

[2022-08-23 18:25] kwryankrattiger commented on #32249
It is still on my radar but I haven't had time to look into this error much. I just updated the SENSEI package to include a v4.0.0, which I recommend using rather than develop since the spack recipe is not well tested with develop and is only updated for releases.

[2022-08-23 18:45] balay commented on #32238
@adamjstewart xsdk is just a metapackage. py-libensemble is the python package here. As @shuds13 indicated xsdk just adds a dependency

[code]

So I would think that `extends('python')` should go into `py-liensemble` and not xsdk. Is this not the case? [i.e spack env requires this in xsdk - not py-liensemble?]

[2022-08-23 18:47] adamjstewart commented on #32238
Correct, and `py-libensemble` is a subclass of `PythonPackage`, so it already has `extends('python')`. I don't know why a metapackage would behave differently, but this should work as is.

[2022-08-23 19:03] adamjstewart commented on #32318
Wondering if this is related to #29308

[2022-08-23 20:01] shuds13 commented on #32238
Yes, it doesn't work for me, I have to add the extends('python') to the xsdk package. My steps taken are at the top, if anyone wants to try.

[2022-08-23 20:04] adamjstewart commented on #32238
@becker33 @scheibelp any thoughts on this? It seems like `PYTHONPATH` isn't being set for dependencies in an environment.

[2022-08-23 20:22] mvictoras commented on #32249
Cool, thanks! FIY I am getting the same error when trying to install `v4.0.0`

[2022-08-24 01:42] DeeliN221 opened #32346 "To install compiler and packages depending on it"
### Summary

To date, it seems that one has to install compiler, such as `gcc@12.2.0`, before installing packages depending on it.

How about integrate these actions into one single command?

### Rationale

_No response_

### Description

Here is my `spack.yaml`

[code]

when I run `spack concretize -f`, it complains about missing `gcc@12.2.0`, ignoring my command to install `gcc@12.2.0` as listed

[2022-08-24 05:05] alalazo opened #32348 "ASP-based solver: KeyError on spec construction"
### Steps to reproduce

The error has been reported on Slack by @blue42u (on buildcaches) and @adamjstewart (on a local store). The steps to reproduce on a buildcache are:
[code]

### Error message

[code]

### Information on your system

* **Spack:** 0.19.0.dev0 (af4788fdefd156efdb9ce7ffbeb57c8f73898e43)
* **Python:** 3.8.10
* **Platform:** linux-ubuntu20.04-icelake
* **Concretizer:** clingo

###

[2022-08-24 05:36] scheibelp commented on #29707
Yes.

[2022-08-24 05:36] #29707 closed, assigned to scheibelp

[2022-08-24 07:33] #1371 closed

[2022-08-24 09:48] alalazo commented on #32348
The issue seems to be a missing hash for a transitive dependency. In the ASP code I see:
[code]
and the `hash` in the `KeyError` refers to `gdbm`. In the logic program though, there is no `installed_hash` fact emitted for it. Investigating now why the hash is missing.

[2022-08-24 10:21] alalazo commented on #32348
So this issue started after #30806 but I think the PR just made a latent bug apparent. In the index we miss the hash of a few dependencies so, for instance, for the `autoconf` above we miss `gdbm`, `readline` and `ncurses`.

If we revert #30806 the behavior is to select a buildcache, and then install the missing spec from sources. Given that we might avoid default values to select a buildcache bec

[2022-08-24 11:05] alalazo commented on #32348
In a case like this (hash `/xyz` is in the buildcache, but one or more of of its dependencies is not) how do we want Spack to behave? Should it:
1. Consider the hash in the solve, and go back to the previous behavior of building missing dependencies, or
2. Discard that hash and emit a warning or a debug level message

? I would lean towards 2.

[2022-08-24 11:44] alalazo commented on #32348
Still trying to analyze the root cause of this, since I can't reproduce the error by creating syntetic buildcaches with a missing dependency.