[2021-01-29 00:06] #21344 closed, assigned to nobody

[2021-01-29 01:04] adamjstewart commented on #21344
I was talking to @becker33 about this. At one time he had access to BW, not sure if he still does. But if you encounter any other cross-compiling/Cray issues he would be the best person to help with those. He's helped me a lot with Cray support on BW in the past.

I'm more than happy to help with Python stuff or Spack configuration stuff, the only thing I'm less of an expert in is this Cray compil

[2021-01-29 02:04] glennpj commented on #20731
@jasonbuechler You could modify #20753 to modify the dependency specs as above to make png support in R more clear.

[2021-01-29 02:46] srekolam commented on #20774
i was able to talk to hip team and they are looking at fixing it with ROCm4.1.
here is what it would look like post the ROCm4.1
HIP_COMPILER : clang
HIP_PLATFORM : amd
HIP_RUNTIME  : rocclr

[2021-01-29 02:57] Tom-python0121 opened #21384 "All self-test cases fail to be executed on the OpenEuler system:collectd@5.11.0"
I am having trouble about all self-test cases fail to be executed on the OpenEuler system:collectd@5.11.0.
### Steps to reproduce the issue

[code]
Therfore,The impact of **valgrind** on the **make test** is as follows on the **openEuler** system,all **collected** self-test cases fail.Although glibc-debuginfo is successfully installed, the version of **glibc-debugutils** is not the expected one. H

[2021-01-29 04:19] adamjstewart commented on #21384
Can you try adding:
[code]
to the package? Then run:
[code]
to actually run the tests.

[2021-01-29 05:47] t-nojiri opened #21388 "Installation issue: symlinks"
symlinks will result in a checksum error.
The date of symlinks-1.4.tar.gz you want to download is October 9, 2009, which is older than September 24, 2020, when the PR for'symlinks' was submitted.
Therefore, it is unlikely that the checksum value will change after submitting the PR, but what should I do?

[2021-01-29 06:23] Tom-python0121 commented on #21384
@adamjstewart ,I did do as you said. After the **collectd** configuration is complete in the spack package file, the **openEuler** still reports this error：
[code]
The **ubsan** library cannot be installed on the OpenEuler system. As a result, the **Valgrind** installation fails.

[2021-01-29 11:52] Tom-python0121 opened #21392 "r-testthat issue:An error is reported when the r-sf self-test suite is executed"
I am having trouble about an error is reported when the **r-sf** self-test suite is executed because of the **r-testthat** question.
### Steps to reproduce the issue

[code]
Obviously, the test case is generated in **r-testthat**. After r-testthat is installed and updated, the **r-testthat** dependency problem still occurs after **Rscript testthat.R** is executed. I hope someone can provide guidan

[2021-01-29 12:34] maxim-belkin commented on #20044
I can confirm that this issue still exists with Clingo "v5.4.1" (which reports that it's v5.4.0 btw) and that building from the git repo solves the problem (at which time it reports that it's v5.5.0).

[2021-01-29 15:35] skylerpaulus opened #21396 "Issues loading docbook-xml after install"
I am trying to install wayland with spack but it requires docbook-xsl and docbook-xml to be loaded in modules. Both xml and xsl have been installed with spack with the following commands,

``$ spack install docbook-xml``
``$ spack install docbook-xsl``

When I try to load xml into my module I receive the following error
``$ module load docbook-xml-4.5-gcc-10.2.0-bs4kifb``
``-bash: eval: --: invali

[2021-01-29 16:24] adamjstewart commented on #21384
Can you try:
[code]

[2021-01-29 16:49] glennpj commented on #21392
I wonder if this is the version of proj. The listed dependency for proj is `PROJ (>= 4.8.0)`. The spack package further constrains this:
[code]
The question then becomes, is this a problem with the test case itself, or does r-sf not actually support proj-6?

[2021-01-29 17:58] glennpj commented on #21392
Clicking to the Home page I see:
[code]
That indicates that this might only work with proj4.

[2021-01-29 18:29] #21317 closed, assigned to nobody

[2021-01-29 19:05] #21374 closed, assigned to nobody

[2021-01-30 01:40] cnwangfeng opened #21399 "Installation issue: Casacore"
Dear @mpokorny,

May you please update the casacore?

I think it has two minor bugs that should be updated.

1.    depends_on('cfitsio@3.181:')  : Actually, 3.181 is an old version. The newest one is 3.49.  The error solved when I set 3.181 to 3.40

2.   depends_on('hdf5', when='+hdf5') should be replaced with "depends_on('hdf5+hl', when='+hdf5')"

Otherwise, the cmake should report the error list

[2021-01-30 17:35] adamjstewart commented on #21392
This is also a valuable resource for PROJ version support: https://github.com/OSGeo/PROJ/wiki/proj.h-adoption-status

[2021-01-30 17:38] adamjstewart commented on #21396
The separator logic was added by @trws way back in #2541, maybe he has some comments. @alalazo may be able to comment on the modules logic.

[2021-01-30 17:42] adamjstewart commented on #21388
@darmac can you comment on this? It looks like you added this package and checksum in #18925.

[2021-01-30 19:21] glennpj commented on #21392
Thanks @adamjstewart
That is valuable, although not definitive. My interpretation of that version matrix indicates that the current constraints in the spack r-sf package are too restrictive. Since `proj.h` is supported, it seems that r-sf should work with proj-7. Removing the constraints and starting the tests yields information that is not reflected in the DESCRIPTION file.
[code]
Apparently, the

[2021-01-31 00:51] msmygit opened #21410 "Need to use latest beta release of cassandra 4.0 as opposed to alpha releases on the latest available tag"
Need to use latest beta release of cassandra 4.0 as opposed to alpha releases on the latest available tag. See the code [here](https://github.com/spack/spack/blob/v0.16.0/var/spack/repos/builtin/packages/cassandra/package.py#L18-L19) which is still using _alpha_ releases when _beta_ releases are already available.

### Steps to reproduce the issue

[code]

### Error Message

[code]

### Informatio

[2021-01-31 04:29] trws commented on #21396
Wow, long time ago. IIRC, XSL uses space separated environment variables, and needed to have at least two entries in some cases to support what I was doing, but that doesn't appear in the patch, and the logic looks wrong since both set rather than append, not sure where this falls WRT the module rework from around that time though, it might have been tested with TCL modules.

[2021-01-31 16:06] sethrj commented on #21379
@EthanS94 The installation process hadn't yet reached the "build" phase -- the `build-error` tag refers to an issue during the `build` (or `configure`) phase, during the call to make/configure/cmake.

[2021-01-31 16:41] EthanS94 commented on #21379
@sethrj  I see. Thanks for clarifying!

[2021-01-31 18:40] adamjstewart commented on #21410
Hi @msmygit, welcome to Spack! If you want to add a new version of a package, you can run:
[code]
to see what versions Spack can automatically detect, then:
[code]
to download and checkum a particular version. You can then copy-n-paste that line into the `package.py`, which can be accessed by running `spack edit cassandra`. Then you can submit a PR so that other users can use this version.

There

[2021-01-31 19:32] bollig opened #21412 "IOR bootstrap causing errors in spack v0.16"
https://github.com/spack/spack/blob/a04e0d25258c11215221953abf46b3f137203138/var/spack/repos/builtin/packages/ior/package.py#L42

[code]

[code]

[2021-01-31 22:18] RobertRosca opened #21413 "Sourceable/Module File Generation for Environment Activation"
It would be nice to have an option to get `spack env activate --sh -v` to output a modulefile or a sourceable script that could be activated.

### Rationale

In some cases it would be nice to have a static way for users to activate an environment (like python venv `activate` scripts). `spack env activate --sh -v` gets you pretty close to this, you just need to prepend paths to environment variable

[2021-02-01 02:24] Tom-python0121 commented on #21384
@adamjstewart Thanks for your suggestion, but I have found a solution. The problem is caused by the lack of **glibc-debuginfo**, which is the same as the bug in **valgrind ls -l**. I have found and downloaded **glibc-debuginfo-2.28-36.oe1.aarch64.rpm** and **glibc-debugsource-2.28-36.oe1.aarch64.rpm** in **https://repo.huaweicloud.com/openeuler/openEuler-20.03-LTS/debuginfo/aarch64/Packages/**, an

[2021-02-01 02:26] adamjstewart commented on #21384
Awesome! Want to submit a PR adding that valgrind test dependency?

[2021-02-01 02:37] Tom-python0121 commented on #21384
@adamjstewart Currently, the valgrind test dependency is not added to the spack package, and all test cases can be passed after the make check command is executed. Therefore, this is the same as that in **CentOS**, the valgrind test dependency does not need to be added to the spack package. This is caused by an **OpenEuler** system problem, therefore, as long as the **glibc-debuginfo** is installe

[2021-02-01 02:39] adamjstewart commented on #21384
Yes, but that only works because you happen to have valgrind installed on the system. For users who don't, the tests will fail.

[2021-02-01 02:42] Tom-python0121 commented on #21384
@adamjstewart Yes,therefore, your advice is best to submit a PR adding that valgrind test dependency?

[2021-02-01 07:13] darmac commented on #21388
Really? I tried checksum and looks nothing error:
[code]

But when I tried `https` protocal, it's changed:
[code]

So, should I change `http` to `https`?

[2021-02-01 08:13] Tom-python0121 opened #21415 "java.lang.NullPointerException : in fastjson@1.2.68 when use mvn test"
I am having trouble about  in fastjson@1.2.68 when use **mvn test** but there was an error: java.lang.NullPointerException .
### Steps to reproduce the issue

[code]
How to handle the **null pointer error exception**? It points to **test_color** , I need help to solve this problem.

### Information on your system

[suse:spack-src]$spack debug report
* **Spack:** 0.16.0-77-98460b6f4
* **Python:** 3

[2021-02-01 08:55] cosmicexplorer commented on #21282
*I think any package manager that can publish packages likely exposes something which could be called a build system, but that's almost pedantic.* In particular, Nix notes that a package definition includes (https://nixos.org/guides/how-nix-works.html#nix-language):

so like python with setuptools, it includes a build step. That is the justification to me to calling it a build system.

The rationa

[2021-02-01 09:15] simon28li opened #21416 "Manual operations block automated script execution"
Hello,sometimes I get stuck when I perform an application installation, such as nag.
### Steps to reproduce the issue

[code]
I use the shell script to install the application in batches. When I install nag, it will jump to an interface and jam my script execution. I would like to ask if there are installation options to skip these manual operations?
The following is the content of the stuck inter

[2021-02-01 10:04] alalazo commented on #20044
Just a heads up that there's work ongoing to properly bootstrap clingo for Spack:
- We recently merged #20652 introducing a package with options that would help with bootstrapping clingo, both from sources and binaries
-  We are currently working towards reviewing and merging #20207. When that is done  `clingo` will be bootstrappable from sources on any linux with GCC > 6.X or MacOS if Apple Clang

[2021-02-01 10:17] alalazo commented on #18438
Another example of the same issue, this time dealing with relative paths that get re-written as absolute paths:
[code]

[2021-02-01 10:39] Tom-python0121 opened #21418 "OpenEuler failed to test the p4est@2.2 self-test case."
I am having trouble about openEuler failed to test the p4est@2.2 self-test case
### Steps to reproduce the issue

[code]
As you can see, Testsuite Summary for p4est 2.2 is all passed when the **make check-TESTS** is used, but Testsuite Summary for libsc 2.2 fails when the **make check** is used. I am looking for the reason but I am not, he is eager to get help in solving this thorny problem.

###

[2021-02-01 17:30] #20434 closed, assigned to adamjstewart

[2021-02-01 18:05] bollig opened #21427 "[gitlab-ci:mappings] Allow multiple matches for runner-attributes"
I was hoping to avoid listing:
[code]
and compress it to:
[code]
where the first match overrides the instance type AND one of the later matches would override the build image. This as a way to compress the runner mappings logic

(beyond 2 build images the current mapping syntax gets super inefficient)

I'd like to assign a spec to build on two different OSes, and certain specs to be tagged uniquel

[2021-02-02 02:53] h-denpo opened #21435 "Installation issue: llvm+shared_libs"
Previously, "spack install llvm+shared_libs" was successful.
Now it fails.
If you specify "spack install -flang +shared_libs", it succeeds.
The following commit may be the cause.
[code]
### Steps to reproduce the issue

[code]
### Cmd-output:

[code]

### Information on your system

* **Spack:** 0.16.0-1092-71b12e9b27
* **Python:** 3.6.8
* **Platform:** linux-rhel8-haswell
* **Concretizer:** origi

[2021-02-02 03:56] t-nojiri commented on #21388
thank you for your answer.

In my environment, the same result as https is returned with http.

The following OSS you added also has a checksum error.
http-get, http-ping, http-load, post

Can you try spack checksum with https protocol?

[2021-02-02 05:51] darmac commented on #21388
Can you try spack checksum with https protocol?
=>  I get the checksum `b0bb689dd0a2c46d9a7dd111b053707aba7b9cf29c4f0bad32984b14bdbe0399` by using `spack checksum` with symlinks changed to `https` protocol in `package.py`

But sometimes my environment will get different `sha256` with the others.
I'm not sure it's a regional issue or not.

So if you both get the wrong checksum, I can just change it

[2021-02-02 06:44] t-nojiri commented on #21388
I modified package.py as below and tried the command.
$ diff -u package.py.org package.py
--- package.py.org      2021-01-04 11:58:33.000000000 +0900
+++ package.py  2021-02-02 15:40:02.000000000 +0900
@@ -9,10 +9,10 @@
 class Symlinks(MakefilePackage):
     """Scan or change symbolic links."""

-    homepage = "http://ibiblio.org/pub/Linux/utils/file"
-    url      = "http://ibiblio.org/pub/Linux

[2021-02-02 08:22] darmac commented on #21388
OK, so we can use this patch?
[code]

[2021-02-02 11:36] Tom-python0121 commented on #21418
The problem has been resolved. For details, visit https://github.com/cburstedde/libsc/pull/16.

[2021-02-02 11:37] #21418 closed, assigned to nobody

[2021-02-02 11:37] #21384 closed, assigned to nobody

[2021-02-02 13:27] Tom-python0121 commented on #21392
@glennpj
@adamjstewart
 I do as you said.But It didn't work.
[code]
As you can see, it didn't work.

[2021-02-02 15:24] evili commented on #18867
Yes! This patch has worked for us. Thanks

[2021-02-02 16:05] danlipsa opened #21445 "Installation issue: 'spack install -j40 paraview@5.7.0+python3+mpi' paraview cannot find python development"
If I specify by hand
Python3_INCLUDE_DIR=/home/danlipsa/projects/spack/opt/spack/linux-ubuntu20.04-broadwell/gcc-9.3.0/python-3.7.9-rqkbuftaryrcsjtztqus7cajncu6sm2a/include/python3.7m
and
Python3_LIBRARY_RELEASE=/home/danlipsa/projects/spack/opt/spack/linux-ubuntu20.04-broadwell/gcc-9.3.0/python-3.7.9-rqkbuftaryrcsjtztqus7cajncu6sm2a/lib/libpython3.7m.so

the compilation succeds.

[~/projects/spac

[2021-02-02 16:05] danlipsa commented on #21445
@mathstuf @chuckatkins Any ideas

[2021-02-02 16:48] ashermancinelli commented on #17407
I am running into this as well - our development team and CI use shared spack environments on a shared FS. Has this been addressed in a pr yet?

[2021-02-02 17:07] adamjstewart commented on #18867
@aweits we should add this to the package, although I would first like to open a PR with the PyTorch devs to comment on this.

[2021-02-02 17:12] adamjstewart commented on #21388
Can someone submit a PR? Doesn't matter who. In general, we should always prefer https, except for the packages needed to bootstrap curl.

[2021-02-02 17:20] mpokorny commented on #21399
I'm able to reproduce the cfitsio issue. Newer cfitsio versions ought to be selected by the package recipe, but cfitsio uses some unusual version numbering scheme, which apparently doesn't fit well with Spack's notions of version numbers. No matter, though, since cfitsio v3.181 is very old, and no longer downloadable using ftp only, I will update the dependency to the earliest of those versions th

[2021-02-02 17:26] mpokorny commented on #21399
I just found a problem with my build using HDF5: it seems to have picked up libhdf5_hl from outside of my Spack installation. Please disregard my previous comment on the HDF5 issue, and I will investigate further.

[2021-02-02 19:10] mathstuf commented on #21445
Getting a `--debug-find` on that `cmake` line would help.

[2021-02-02 20:19] danlipsa commented on #21445
@mathstuf Here you are.
Before I run cmake, I sourced spack-build-env.txt
At one point it starts looking for python3.8-config but it is not clear where that comes from

[debug-find.txt](https://github.com/spack/spack/files/5914222/debug-find.txt)

[2021-02-02 20:34] mpokorny commented on #21399
I now think that the cause of the HDF5 problem is the cmake file in the casacore source used to find the HDF5 library. It seems to be an old version, which unfortunately allows no control over whether to link to the high-level library. Just removing that file from the casacore source, and building with a modern Cmake allowed me to build casacore successfully as you specified. I will consider how b

[2021-02-02 21:19] eugeneswalker opened #21451 "py-petsc4py fails on all systems, all arch"
`py-petsc4py@3.14.0` build fails using `spack@develop` (7dcf3f7aedbfdf085451f8fffb2ecdfb08c96c7d from `Tue Feb 2 11:11:51 2021 -0800`)
* `Ubuntu 18.04` w/ `gcc@7.5.0`
* `Ubuntu 20.04` w/ `gcc@9.3.0`
* `RHEL 7` w/ `gcc@8.1.0`
* `RHEL 8` w/ `gcc@8.3.1`

Concrete spec: [py-petsc4py-endo3v.spec.yaml.txt](https://github.com/spack/spack/files/5914488/py-petsc4py-endo3v.spec.yaml.txt)
Full build log: [py

[2021-02-02 21:23] adamjstewart commented on #21451
@dalcinl is also listed as a maintainer for `py-petsc4py`, and @BarrySmith and @jedbrown are also listed as maintainers for `petsc`, maybe one of them can help.

[2021-02-02 22:01] odoublewen commented on #14896
I also feel like the `$HOME/.spack` dir is a source of troubles when switching between spack installations and/or distros on an NFS cluster.

I wish spack had an option to ignore user-level config, with the goal of creating better isolation between spack installations.

I think there is a thread or another issue somewhere here where this is discussed, but I can't find and link it at the moment.

F

[2021-02-02 22:36] odoublewen opened #21454 "NFS: spack install fails if installation directory is not world-writable"
Spack seems to get tripped up when I try to install it on our cluster NFS and if the spack installation dir is not world-writable.  I get an error when it tries to set directory permissions immediately after creating a directory.

Some NFS systems exhibit latency on directory/file creation and initially I thought that might explain the phenomenon.  But now I'm not so sure.

Installs work fine on t

[2021-02-02 23:08] odoublewen commented on #21454
Actually, if I make the spack installation dir world-writable, *most* of the installs succeed, but there are stochastic failures, with various stack traces, but it's always because a file doesn't exist, e.g.:

[code]

This may be due to misconfiguration or some obscure idiosyncrasies of our NFS mount.  If you want to close this, I would understand.  But I'm willing to help you understand more abou

[2021-02-02 23:26] mathstuf commented on #21445
FindPython likes to search for Python versions from high to low. It starts with 3.8, finds that on the build host and tries to use that instead of falling back to 3.7 and finding the Spack-provided build. Spack should be passing [these variables](https://cmake.org/cmake/help/latest/module/FindPython3.html#hints) around to try and pin `FindPythonX` to use the version it expects to be used. `Python3

[2021-02-02 23:44] glennpj commented on #21392
@Tom-python0121 We already know that the tests will not work with the newer versions of gdal and proj, because at least one test is looking for older versions. You could get past that by going the opposite direction and testing against proj-4. I had tried that previously and it did get past the file format issue, with the remaining failures due to not having the "suggested" packages loaded. There

[2021-02-03 00:37] t-nojiri commented on #21388
For users with general privileges, the following error occurs.
install: cannot change ownership of './spack/opt/spack/linux-rhel8-thunderx2/gcc-8.3.1/symlinks-1.4-q276qpplxdtqyov4v7aji6rce2hlrcg3/bin/symlinks': Operation not permitted

Therefore, the following modifications are required.
     def edit(self, spec, prefix):
         filter_file('/usr/local', prefix, 'Makefile', string=True)
+

[2021-02-03 03:54] darmac commented on #21388
@t-nojiri  Thanks for that.

[2021-02-03 07:21] arstgr opened #21462 "Installation issue: Error: NoLibrariesError: Unable to recursively locate hpcx libraries"
### Steps to reproduce the issue

[code]

[code]

[code]

### The error:
==> Installing cp2k
==> No binary for cp2k found: installing from source
==> cp2k: Executing phase: 'edit'
==> Error: NoLibrariesError: Unable to recursively locate hpcx libraries in /opt/hpcx-v2.7.0-gcc-MLNX_OFED_LINUX-5.1-0.6.6.0-redhat7.6-x86_64/ompi

/share/apps/spack/0.15.4/spack/var/spack/repos/builtin/packages/cp2k/pac

[2021-02-03 12:55] Tom-python0121 opened #21465 "14 self-test cases fail to be executed when R-FS is installed using the Spack"
Hello!I meet a question about 14 self-test cases fail to be executed when R-FS is installed using the Spack.
### Steps to reproduce the issue

[code]

### Error Message

[code]
Although the problem has been solved, I don't know whether this solution is feasible. If you have a better solution, please provide us.
### Information on your system
[root@centos8 testthat]# spack debug report
* **Spack:**

[2021-02-03 14:15] danlipsa commented on #21445
@mathstuf What about not looking in system directories? Like in this patch, which works.
https://github.com/spack/spack/pull/21452/commits/71d973ee0d8e5c1da5f22d8e7b0ca0c55f313bb5

[2021-02-03 14:52] mathstuf commented on #21445
That works because Sensei ships its own `FindPython`. VTK/ParaView does too, but once we have a minimum CMake where we don't need to do so, Spack won't have a place to patch. It is *far* better to pass in the variables to make it Just Work™ rather than patching files which might be provided by CMake sometimes.

[2021-02-03 16:27] danlipsa commented on #21445
Python3_ROOT_DIR works nicely on ParaView 5.9. It does not work on ParaView 5.8.1 or ParaView 5.7.0. So I'll pass that in spack, but I'll have to patch for 5.7 as well.

[2021-02-03 17:02] #21388 closed, assigned to nobody

[2021-02-03 18:55] mathstuf commented on #21445
Hmm. Those might stick `FindPython` into `patches/99` overriding whatever CMake has. I would recommend adding patches to remove the files and just require a new-enough CMake. Then `Python3_ROOT_DIR` should work just fine.

In addition to removing the files, the entries in `VTK/CMake/vtkInstallPackage.cmake` will also need removed.

[2021-02-03 19:00] tldahlgren commented on #6324
@ax3l ping

[2021-02-03 19:38] tldahlgren commented on #11280
@wspear @cbruccoleri Is this still an issue for you?

[2021-02-03 19:46] christoph-conrads commented on #18880
same problem with v0.16.0 in the Spack tutorial container ([digest SHA256:00ae41fa3c02ef7a26c48b37d50c71a2a48da8b8995e9d35b475d2725a09c1f6](https://hub.docker.com/layers/spack/tutorial/latest/images/sha256-00ae41fa3c02ef7a26c48b37d50c71a2a48da8b8995e9d35b475d2725a09c1f6)), see console output below.

@mierl Could you rename the issue to `==> Error: '<' not supported between instances of 'str' and '

[2021-02-03 19:54] christoph-conrads commented on #18880
The packages `elf` and `dyninstall` clash somehow:
[code]

[2021-02-03 22:54] danlipsa commented on #21445
Doing this seems to find the python include and library fine but there are not cache variable created for the include and library. So the compilation fails. Any ideas what is wrong?

[2021-02-03 23:00] danlipsa commented on #21445
I removed everything and reconfigured and I have the same behavior - so there is something not quite right with what you suggested.
<pre>
~/projects/ParaView/src-5.7.0/VTK ((e4e8a4df9c...) *)]$ git diff CMake/vtkInstallCMakePackage.cmake
diff --git a/CMake/vtkInstallCMakePackage.cmake b/CMake/vtkInstallCMakePackage.cmake
index 0d98fd7011..c6f0237678 100644
--- a/CMake/vtkInstallCMakePackage.cmake

[2021-02-03 23:05] danlipsa commented on #21445
Should we do it with the patch? Not ideal but fast ... :-)

[2021-02-03 23:39] danlipsa commented on #21445
https://github.com/spack/spack/pull/21452

[2021-02-03 23:45] danlipsa commented on #21445
I have another issue with paraview 5.7.0 after we fix the python issue. When I do
VTK_MODULE_USE_EXTERNAL_VTK_netcdf:BOOL=ON
Compilations get the path to the header (I think) but it does not link with the netcdf library.
When compile I get the following errors. Any suggestions where should I look for this. Thanks!

<pre>
/usr/bin/c++  -g  -Wl,-lc  -Wl,-lc CommandLineExecutables/CMakeFiles/pvbatch.

[2021-02-03 23:55] mathstuf commented on #21445
You can patch what is in `patches/99` just fine. But 5.9 has it in `3.18`, so using a CMake >= 3.18 will not have the patch applied.

For the compile failure, I would look for patches since then in VTK's `ThirdParty/exodusII` for any changes related to netcdf.

[2021-02-04 02:48] glennpj commented on #21465
The title of the issue states the failures happen "when r-fs is installed with Spack". Does this happen if installed outside of Spack?

Spack does not normally run tests but we could patch those files if needed. I am very leery of heading down that road though. Overall, I think the FS developers would be in a better position to know if your solution is correct.

[2021-02-04 02:54] timmoon10 opened #21475 "`spack add` fails when Python is in environment view"
I'd like to get Spack to build Python and install it to an environment. However, I run into errors when I try adding any other packages to the environment.

As far as I can tell, the problem is that the main Spack driver uses the Python that has been installed to the environment. However, adding a package to the environment involves moving the environment view to a temporary directory. Thus, the P

[2021-02-04 03:04] Tom-python0121 commented on #21465
@glennpj ,Currently, I have reported this issue to FS developers and I am waiting for their reply to see if they have a better solution:https://github.com/r-lib/fs/issues/313

[2021-02-04 03:35] scheibelp commented on #21475
Could you include the output of `spack config blame packages` here?

(EDIT) Did you try the PR by checking out the PR branch?

[2021-02-04 10:49] ikitayama opened #21482 "Installation issue: py-numpy"
[code]

### Information on your system

### Additional information

* [spack-build-out.txt]()
* [spack-build-env.txt]()

### General information

- [ ] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [x] I have run `spack maintainers <name-of-the-package>` and @mentioned any maintainers
- [ ] I have uploaded the build log and environment files
- [ ] I have searc

[2021-02-04 10:50] ikitayama commented on #21482
@adamjstewart , this is observed with Fujitsu compiler 4.3.1. Patch did not apply cleanly

[2021-02-04 13:50] danlipsa commented on #21445
Thanks Ben. I'll get back to this on Monday. I moved the paraview fixes to its own PR
https://github.com/spack/spack/pull/21484

[2021-02-04 13:51] adamjstewart commented on #21482
I believe your team wrote this patch. Was it ever submitted upstream? If not someone will need to update the patch for the latest version.

[2021-02-04 15:28] EthanS94 commented on #20522
Now that version 4.8.9 is available thanks to #21167 , I am not running into this issue. Closing this

[2021-02-04 15:28] #20522 closed, assigned to nobody

[2021-02-04 15:44] timmoon10 commented on #21475
<details> <summary> spack config blame packages </summary>

[code]

</details>

Yes, I just checked out the PR branch, which gave me commit https://github.com/spack/spack/commit/83c9a32032891305aeff9a8293321860b8691baa. If I call `spack --debug install` after my snippet, it outputs:

<details>

[code]

</details>

For my runs on the `develop` branch, I'm at commit https://github.com/spack/spack/co

[2021-02-04 16:58] #21482 closed, assigned to nobody

[2021-02-04 18:31] eschnett opened #21490 "Installation issue: amrex"
### Steps to reproduce the issue

[code]

This installs `amrex @21.02`

### Information on your system

[code]

I am installing hdf5 as `hdf5 @1.10.7 +cxx +fortran +hl +mpi +threadsafe`.

### Additional information

* [spack-build-out.txt](https://github.com/spack/spack/files/5927751/spack-build-out.txt)
* [spack-build-env.txt](https://github.com/spack/spack/files/5927752/spack-build-env.txt)

@as

[2021-02-04 18:32] alalazo opened #21491 "Build type dependencies enter "partially" in DAG hash"
Adding the type "build" to a dependency with another type results in a change in the hash. Adding a "build" type only dependency instead doesn't affect the hash.

### Steps to reproduce the issue

Change the `xz` package adding a:
[code]
and check the dag hash and dependency types by:
[code]

Now modify the directive above into:
[code]
This results in:
[code]

### Error Message

No error message,

[2021-02-04 18:34] jlconlin opened #21492 "Spack Broken after Upgrade to MacOs Big Sur"
### Steps to reproduce the issue
I recently upgrade MacOS to Big Sur. (Spack was working previously.) Spack was broken in BigSur so I deleted everything Spack related and started over. Spack is still broken.

[code]

`libelf` was not the only package that was struggling to install. I also tried installing `cmake`; it failed, but for different reasons.

[code]

### Error Message

[code]

### Inform

[2021-02-04 18:59] jonglezb commented on #21284
So, I tried the `prepend_path` option and it works:

[code]

If this is the preferred solution, I think it's more of a documentation issue. It should be made explicit instead of implicit.

More specifically, it should probably be mentioned in this page: https://spack.readthedocs.io/en/latest/getting_started.html#manual-compiler-configuration

Currently it's only described "on the side" in the "Spe

[2021-02-04 20:01] #21265 closed, assigned to nobody

[2021-02-04 20:15] mic84 commented on #21490
Thank you for reporting. This was an amrex bug and it has just been fixed: [ https://github.com/AMReX-Codes/amrex/pull/1777]( https://github.com/AMReX-Codes/amrex/pull/1777).

[2021-02-04 22:08] scheibelp commented on #21475
Would you be able to temporarily move that config file and then see if #20720 addresses the issue for you?

I think this might be two separate problems (and I'd like to fix both but I think it will be worth establishing that they are second)

Another sanity check (if the above doesn't work): could you try

[code]

[2021-02-04 23:31] ikitayama opened #21500 "Installation issue: eigenexa"
### Steps to reproduce the issue

[code]

### Information on your system

### Additional information

* [spack-build-out.txt]()
* [spack-build-env.txt]()

### General information

- [ ] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [ ] I have run `spack maintainers <name-of-the-package>` and @mentioned any maintainers
- [ ] I have uploaded the build log and en

[2021-02-04 23:32] ikitayama commented on #21500
No maintainers are assigned to this package, but I suppose Fujitsu folks are in charge of this spec.

[2021-02-05 01:39] timmoon10 commented on #21475
No cigar, same error. From what I can tell, the main Spack driver chooses the Python exe at:
https://github.com/spack/spack/blob/52058ad5a749ffaf1e6621e0566387d70082533a/bin/spack#L14
If there is a Python exe in the environment view, then Spack will pick it up when it tries calling `python3`. PR https://github.com/spack/spack/pull/21222 gets around this by trying `SPACK_PYTHON` before trying `pyth

[2021-02-05 04:39] ikitayama commented on #21500
@takanori-ihara ?

[2021-02-05 04:40] ikitayama commented on #21500
It seems maintainers entry isn't mandatory, but a wild guess from the commit log would be appreciated as to who should be contacted.

[2021-02-05 07:58] Tom-python0121 opened #21506 "xfsprogs@5.8.0 Installation bug in spack:FATAL ERROR: could not find a valid BLKID header"
Hello!I meet a question about xfsprogs@5.8.0  Installation bug in spack:FATAL ERROR: could not find a valid BLKID header
### Steps to reproduce the issue

[code]
As you can see, I have installed BLKID in util-linux. Even if it is not, I have installed it and added dependencies to the xfsprogs package, but the installation still fails in ubuntu, is it because the path can't be found? For other reas

[2021-02-05 08:15] #21416 closed, assigned to nobody

[2021-02-05 08:43] ghost commented on #20833
Did you hear anything from them after that?
Please let me know if you need more information concerning this matter.

[2021-02-05 09:12] Tom-python0121 commented on #21506
And I found that it was printed here, most likely because of a problem with if judgment.：
[code]
Currently, this problem occurs only in ubuntu 18.04. The problem does not occur when xfsprogs is installed in other systems.

[2021-02-05 10:44] Try2Code commented on #20833
sry guys, was busy with work. I will give it shot today with what usually do with Ruby

[2021-02-05 13:27] smarocchi commented on #20155
I am trying to build a software stack of bioinformatic. I met the same problem. Someone can help us with the makefile patch please ?

Many thanks

[2021-02-05 13:52] lrtfm opened #21511 "py-matplotlib: multiple backend support"
Can the `matplotlib` support multiple backends?

[code]

[2021-02-05 13:56] Tom-python0121 commented on #21506
All right. Problem solved.
[code]

[2021-02-05 13:58] #21506 closed, assigned to nobody

[2021-02-05 16:35] adamjstewart commented on #21511
Hi @lrtfm, I wrote most of this package recipe. The `backend` variant is only which backend to enable by default, all backends will still be installed and functional as long as their dependencies are found at run-time. We could add another variant to control which backend deps are installed that allows multiple, but I don't think that's necessary. What do you think?

[2021-02-05 16:53] balay commented on #21451
I see this error. somehow `/opt/spack/lib/spack/env/gcc/gcc` is listed on the link line?

Looks like this issue is getting masked by spack issue in my CI setup - where `spack install xsdk` is not returning an error code on this failure :(

https://gitlab.com/xsdk-project/spack-xsdk/-/jobs/1010107849

[2021-02-05 16:55] balay commented on #21451
I've switched over to `spack install --fail-fast` for now..

[2021-02-05 18:48] #21327 closed, assigned to nobody

[2021-02-05 22:34] balay commented on #21451
`git bisect` says - the change in behavior is triggered by 3cc5b7adc7d2167646d6a049d64c710d98e1d6f0 - and the build completes if this commit is reverted (with latest develop)

[2021-02-05 22:38] eugeneswalker commented on #21451
Ahh thank you! beat me to it.

[2021-02-05 22:47] eugeneswalker commented on #21451
@skosukhin

[2021-02-05 22:53] balay commented on #21451
Adding debug print - I see the following env variable is set by the above change
[code]
And checking petsc4py - I see:
[code]
So perhaps petsc4py is expecting LDSHARED to be set in a different way.? @dalcinl - could check  this?

[2021-02-05 22:58] jrood-nrel opened #21517 "Trilinos now requires c++14 and cmake 3.17"
Looks like this will need to change:

https://github.com/spack/spack/blob/a5440305173c218ec785b0d5a2dfa8b02bb0b731/var/spack/repos/builtin/packages/trilinos/package.py#L462

To avoid this:

[code]

[2021-02-06 05:58] arstgr commented on #21462
I commented out the line
==> 356 libs.extend(spec['mpi:cxx'].libs)
and the installation went on without further problems. Results from case studies with the benchmarking test suits seem reasonable so far (additional tests are being done).
The problem seems to be from hpcx mpi library, according to the compile time warnings ""hpcx" still defines the deprecated method "setup_dependent_environment" [

[2021-02-06 08:17] dalcinl commented on #21451
@balay Looking at that petsc4py code I wrote ages ago, looks like it naively assumes `LDSHARED` starts with `CC`.
petsc4py has to deal with many scenarios, like PETSc being built with a MPI compiler wrapper, and that compiler wrapper being different than the compiler used to build Python. And now spack seems to be playing games with these definitions of these compiler vars on my back, changing wha

[2021-02-06 14:50] lrtfm commented on #21511
@adamjstewart, thanks, I got it.  If this is the case, adding more explanation for this option would be better, I think.

[2021-02-06 14:52] adamjstewart commented on #21511
Where would you document that? In the spack info message? Or in the package?

[2021-02-06 15:16] lrtfm commented on #21511
In the space info message. Is this ok?

[2021-02-06 18:02] balay commented on #21451
@dalcinl thanks for the fix. However - now I get:
[code]

Perhaps you want to skip `/home/balay/spack/lib/spack/env/gcc/gcc` from `/home/balay/spack/lib/spack/env/gcc/gcc -shared -Wl,-z,relro -Wl,--as-needed  -Wl,-z,now  -g  -Wl,-z,relro -Wl,--as-needed  -Wl,-z,now  -g` ? How about:
[code]
We could have this as a spack-only patch - so that the other use-cases are not changed.

Edit: even if added

[2021-02-07 02:17] #21511 closed, assigned to nobody

[2021-02-07 07:22] dalcinl commented on #21451
@balay Oh sorry, I my patch above is nonsense, it should actually be:

[code]

[2021-02-07 11:52] #12547 closed

[2021-02-08 00:54] ketsubouchi commented on #18733
@scemama
Thank you for your project and commit.
https://github.com/scemama/spack/projects/1
https://github.com/scemama/spack/tree/opam

However these progress appears to have stopped after October, 2019.
Please tell us about latest status.

[2021-02-08 03:12] Tom-python0121 commented on #21506
The xfsprogs package has been successfully installed after the Spack version is updated. The difference is that the xfsprogs package of the old version and new version has the UUID dependency. The community patch link is https://github.com/spack/spack/blob/a8ccb8e116a1abfaa1d7ecb4e84f9f14ebab12ad/var/spack/repos/builtin/packages/xfsprogs/package.py.

[2021-02-08 08:52] Try2Code commented on #20833
I tested my rather big gemset with ruby@2.5.3  ruby@2.6.2  ruby@2.7.1 (all build with gcc-10.2). All went through without problems:
[code]

those are pure ruby but also C-extensions. IMO it's ready to work with. Finally checked the glib2 gem package based on my system installation (Arch Linux):```❯ gem install glib2

[2021-02-08 09:19] Try2Code commented on #20833
now the fun part: installing a library with spack and build a ruby gem on top of it

I tested this with ruby-2.7.1 and the following gems:
* glib2
* ruby-netcdf
* gsl

All of them have spack packages for the underlying C-libs, so I installed and loaded them with spack before installing the ruby-libraries with gem. Everything went smoothly and the shared objects build for the ruby-libraries correct

[2021-02-08 09:20] Try2Code commented on #20833
I am not familiar with glib2 and its ruby-bindings, so I don;t know what to run. any advice is welcome

[2021-02-08 10:21] ghost commented on #20833
Thank you for your comment.
I attached the recipes.zip on "Additional information".
The recipes.zip contains three recipes which install gem files (glib2, pkg-config and native-package-installer).
These are recipes when this problem occuers.
glib2 depends on pkg-config and native-package-installer.
Could you try to install them using those recipes?

[2021-02-08 14:03] Tom-python0121 opened #21539 "[cp2k@7.1] Failed to execute the self-test case."
Hello,I meet a question about [cp2k@7.1] Failed to execute the self-test case.
### Steps to reproduce the issue

[code]
All my test cases fail, but I don't know the cause. It may be related to the missing part. You should check the related test configuration during the test. Can you help me check it?

### Information on your system
[root@centos8 spack-src]# spack debug report
* **Spack:** 0.15.4-1

[2021-02-08 14:20] dev-zero commented on #21539
As mentioned [here](https://github.com/cp2k/cp2k/issues/1356) please check the `/tmp/root/spack-stage/spack-stage-cp2k-7.1-es7yeqm3jxfy7l353jj2zdu4mepc6g64/spack-src/regtesting/linux-centos8-aarch64-gcc/popt/TEST-linux-centos8-aarch64-gcc-popt-202-02-08_21-53-15/error_summary` file.

[2021-02-08 14:25] Try2Code commented on #20833
[code]

recipes put next to the default packages. spack seems to handle the dependencies correctly. and the shared object of ruby-glib2 looks fine:

[code]

[2021-02-08 14:25] Try2Code commented on #20833
anything else I can do?

I use 52058ad5a7 currently

[2021-02-08 14:27] Tom-python0121 commented on #21539
@dev-zero ， Thank you for reminding me, my file error here should be Fatal Error: Can't open module file'libxsmm.mod'
[code]

[2021-02-08 14:30] Tom-python0121 commented on #21539
Now, I've found the right way to go down, I'm working on it.

[2021-02-08 14:51] balay commented on #21451
@dalcinl thanks! Should we use my patch - as it won't change the behavior in regular release - so can add to upstream [for future releases]?

Or use your patch - and make it spack-only?

[2021-02-08 16:18] dalcinl commented on #21451
For now, I would suggest to make any patch that works spack-only.

A general solution has to be though more carefully, imagine something like:

[code]

[2021-02-08 17:04] jrood-nrel commented on #21517
I think this has been fixed.

[2021-02-08 17:04] #21517 closed, assigned to nobody

[2021-02-08 17:43] #21451 closed, assigned to nobody

[2021-02-08 17:55] aweits commented on #18867
Will do, just getting back to all things spack-ish...

[2021-02-08 19:11] christoph-conrads commented on #18880
More minimal example causing the problem:
[code]

[2021-02-08 19:13] christoph-conrads commented on #18880
#### Workaround

[code]

[2021-02-08 19:43] vsoch opened #21547 "[spack scripting] Unable to import spack depending on having other imports"
This is an interesting bug - I was working on spack scripting, and ran into a case where (using the spack hashbang) it told me that it was not able to find spack. This might be hard to reproduce because I got it to work once, and then it never worked again.

## 1. Setup Environment

I first add my spack bin to the path, and also source the environment setup script (although I'm not sure this is ne

[2021-02-08 20:51] vsoch commented on #21547
Ah, so when I just import spack, it seems to work:

[code]
[code]
I guess I expected it to be there without needing to import because of this line: https://github.com/spack/spack/blob/develop/lib/spack/spack/cmd/python.py#L97. But at least it seems to find the module this time! And apologies for all my small oversights, still rather green with spack :)

[2021-02-08 23:34] fluidnumericsJoe opened #21551 "Installation issue: lua"
### Steps to reproduce the issue

[code]

### Information on your system

[code]

### Additional information

spack-build-out.txt and spack-build-env.txt cannot be found in the stage directory

No maintainers found for lua

Mannually editing line 57 of the lua package so that
[code]
results in a working build.

### General information

- [ x ] I have run `spack debug report` and reported the versi

[2021-02-08 23:34] ghost opened #21552 "Laghos@3.0 fails to build with mfem@4.2.0"
https://github.com/spack/spack/blob/58f3d0986d742e56725fae92400799eada1847e5/var/spack/repos/builtin/packages/laghos/package.py#L35

When installing 'ecp-proxy-apps' Laghos will fail to build unless the version of 'mfem' is manually limited to '4.1.0'.  The build step for Laghos will fail with mfem@4.2.0

GCC Version = 9.3.0
OpenMPI Version = 3.6.1

[2021-02-09 02:34] sethrj commented on #21492
I think libelf has always been a problem for macOS? https://github.com/spack/spack/issues/8401

[2021-02-09 02:44] Tom-python0121 commented on #21539
@dev-zero @jedbrown @tobbez @,When I install **libxsmm**, such bug: include/libxsmm_macros.h:61:5: error: #error Intel Architecture or compatible CPU required! occurs. I do not know what causes it. Can you help me?
[code]

[2021-02-09 03:02] jedbrown commented on #21539
I believe the error message says it all. It's mostly developed by Intel employees.

[2021-02-09 03:04] sethrj commented on #19905
I just upgraded to macOS 11 and updated XCode to 12.4, updated homebrew, ran `spack external find` for build requirements, and `spack compiler find`. After concretizing my development environment I saw a weird group of error such as:
[code]

When I reran, I hit a build error in openmpi@4.0.5 possibly related to https://github.com/open-mpi/ompi/issues/8218:
[code]
so I'm trying to work around that.

[2021-02-09 03:07] Tom-python0121 commented on #21539
@jedbrown So it can't be installed in CentOS's spack, but I have to install it in Linux, though it's mostly developed by Intel employees, is there any solution?

[2021-02-09 03:59] jedbrown commented on #21539
There error messages indicate you're on aarch64, which the error message says is not supported by libxsmm.

[2021-02-09 07:33] Tom-python0121 opened #21560 "[verilator@3.920 make test failure] Self-test cases fail to be executed after the Spack is installed."
Hello,I meet a question about Self-test cases fail to be executed after the Spack is installed of verilator .
### Steps to reproduce the issue

[code]
The verilator has been successfully installed and compiled in the Spack. However, 73 failures occur during the self-test during the make test. The compilation prompts specific problems. I cannot tell whether the source code is incorrect. Can you hel

[2021-02-09 07:53] Tom-python0121 commented on #21539
@jedbrown ，Thank you for reminding you. This problem has been resolved after cp2k@7.1 is reinstalled. However, new problems occur. I do not know how to solve this problem. Can you analyze the following bugs:
[code]
[code]

[2021-02-09 08:46] haampie commented on #18880
I believe this issue is already fixed on `develop`. Can you check?

[2021-02-09 10:26] Tom-python0121 commented on #21560
[code]
A large number of such source code problems have occurred. How can we solve these problems?

[2021-02-09 10:59] haampie commented on #21560
It's more likely you'll get a response in the verilator repo

[2021-02-09 12:49] sethrj commented on #21492
@jlconlin It looks like the `clang` copy or alias is broken: all the failures say
[code]
Could you see what that file is, whether it's a symlink to a nonexistent exe, etc? I also assume you've got xcode and the command line tools installed?

[2021-02-09 14:04] michaelkuhn commented on #20984
Not that I know of but I also don't have access to a Power9 system.

[2021-02-09 14:46] fdb-git opened #21566 "opam: want to use Spack gcc wrapper instead of gcc executable"
The command "opam install" want to use the gcc command but the spack wrapper says:

\# Spack compiler must be run from Spack! Input 'SPACK_ENV_PATH' is missing.

### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.15.4-1880-2913903
* **Python:** 3.6.8
* **Platform:** linux-rhel7-broadwell

### Additional information

- [x] I have run `spack debug report` and re

[2021-02-09 15:10] alalazo commented on #17403
Solved by #19716

[2021-02-09 15:10] #17403 closed, assigned to nobody

[2021-02-09 15:32] EthanS94 commented on #19312
@danlipsa @Billae I am closing this, since https://github.com/spack/spack/pull/21360 fixes this problem. Let me know if you think this should stay open

[2021-02-09 15:32] #19312 closed, assigned to nobody

[2021-02-09 16:14] jlconlin commented on #21492
It doesn't really matter what I try to install, it always barfs on me.

[2021-02-09 16:17] jlconlin commented on #21492
The clang alias you suggest points o the executable `cc` one directory up. Here is what that directory looks like for me:
[code]
It's confusing to me.

[2021-02-09 17:16] bvanessen opened #21570 "Spack load doesn't work when compiler is defined in the environment"
### Steps to reproduce the issue

[code]

### Error Message

==> Error: No compilers for operating system rhel7 satisfy spec gcc@8.3.1

[code]

### Information on your system

### Additional information

Basically if the compiler is only defined in the environment and not in an externally visible compilers.yaml file, spack fails to find and load the package.

- [ ] I have run `spack debug report`

[2021-02-09 17:16] bvanessen commented on #21570
@scheibelp Here is an outline of the issue that we talked about with the compiler not found.

[2021-02-09 17:38] aphecetche opened #21571 "dev-build command : get the spack-xxx directories created out of source"
Currently, when doing  :
[code]
spack creates a few `spack-xxx` files and a directory (`spack-build-yyy`) that are located under `location_of_source`, i.e. "in source".

[code]

Note that in my use case `some_package` is a CMakePackage, hence capable of out-of-source builds (from the `spack-build-zp32c65/` in this example). So technically speaking the build is out-of-source, but the directory is i

[2021-02-09 18:12] #20266 closed, assigned to nobody

[2021-02-09 18:34] adamjstewart commented on #21566
@scemama

Is the compiler used by `opam` stored in any kind of text file? If so, we can easily replace the compiler wrapper with the actual compiler after installation. If not, we may have to get more creative.

[2021-02-09 20:55] #20798 closed, assigned to nobody

[2021-02-09 22:20] haampie commented on #21571
Yeah, you're not the only one who wants to have more control over the build directory. See also https://github.com/spack/spack/pull/18838. Pinging @becker33 for some input.

You can however override the build directory at the package.py level, which gives you some control. At the same time if you fix that to say `build/`, `spack dev-build` will use the same build folder for different specs, which

[2021-02-09 22:26] #18194 closed, assigned to nobody

[2021-02-09 22:55] scemama commented on #21566
@adamjstewart
I dont't think what you want to do is simple. Everything is easy to change the OCaml compiler, but for the C compiler I would say it is more difficult.
All I know is that there is an opam package called conf-gcc which detects the gcc compiler.

[2021-02-09 23:52] scemama commented on #18733
@ketsubouchi
October 2020 ;-)

I need help to progress, I can't do it alone. I sent a message to the OCaml forum, and an email to a Spack developer to see if they are willing to help me on this. We will see what happens now...

[2021-02-10 03:23] ikitayama commented on #21500
@tldahlgren could you re-open this Issue?

[2021-02-10 06:14] ghost commented on #20833
You succeeded to install glib2 using my recipes, so I tried to install glib2 using my recipes and currently spack.
However, the results didn't change.

Maybe, did you install glib2 using my recipes on environment which installed glib2, pkg-config and native-package-installer using gem install command without recipes ?

I wonder that pkg-config and native-package-installer installed using gem comma

[2021-02-10 09:00] Try2Code commented on #20833
first run:
[code]

error looks like this in more detail:
[code]

[2021-02-10 09:01] Try2Code commented on #20833
But `gem install glib2` works without problems
[code]

[2021-02-10 10:21] iarspider opened #21590 "RecursionError: maximum recursion depth exceeded while calling a Python object"
### Steps to reproduce the issue

[code]

Concretizing just `cairo+svg` works just fine.

I have done some debugging myself, and looks like this is caused by dependency loop: `cairo -> librsvg -> cairo`.

### Error Message

[code]

### Information on your system

[code]

### Additional information

- [x] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [x] I have

[2021-02-10 10:24] iarspider commented on #21590
Full output from `spack --debug --stacktrace`: https://gist.github.com/iarspider/8ca3ebf51245e2048a0d5c12a34bab97

[2021-02-10 10:38] honghh2018 opened #21591 "Installation issue: build the openMPI occurred error"
Hi @spack,
  Thanks for the great tool for install the software.
   I am going to install the hdf5 software,however, it get error like below picture:
![image](https://user-images.githubusercontent.com/41668708/107498460-c788d300-6bce-11eb-8e9c-1066a9f51868.png)
  I definitly assure that gcc and fortran had be installed on my cenots7.3.31611 server. but it still get error
  So,how could i fix it. h

[2021-02-10 10:46] haampie commented on #21591
Make sure you have the fortran compilers set. First check `spack compiler list`, and then check if `spack config edit compilers` has paths for `f77` and `fc`. Or maybe run `spack compiler find` again to automatically set this config.

[2021-02-10 10:54] alalazo commented on #21590
This is usually a symptom of a circular dependency. Can you check what the ASP based concretizer says? It should emit unsat cores if this is a circular dependency issue.

[2021-02-10 10:55] iarspider commented on #21590
@alalazo if you can point me to the instructions for switching to `ASP based concretizer` - sure.

[2021-02-10 10:55] haampie commented on #21590
[code]

[2021-02-10 11:00] honghh2018 commented on #21591
Thanks for the reply, i am going to try you advice and i hope it could solved that issue.
 Thanks again.
 The compiler list like below:
![image](https://user-images.githubusercontent.com/41668708/107501475-64993b00-6bd2-11eb-9a08-a4d146475437.png)
 the spack config edit compilers result showing below:
![image](https://user-images.githubusercontent.com/41668708/107501965-091b7d00-6bd3-11eb-9ad0-f8a

[2021-02-10 11:09] haampie commented on #21591
Yeah, you'd have to set f77 and fc for gcc@7.3.0 then

[2021-02-10 11:13] honghh2018 commented on #21591
OK, Thanks, I aware that issue was.
So, should the /usr/bin/fortran can be used for the gcc7.3.0's f77 or fc ? or i just install new one.
 Thanks

[2021-02-10 11:16] haampie commented on #21591
You'd have to install the same version as gcc and g++.

You can also use MPICH by the way, since fortran support is optional and can be turned off like this: `mpich ~fortran`

[2021-02-10 12:57] honghh2018 commented on #21591
OK, i want to build the gcc 7.3.0 again using the --enable-languages=c, c++, fortran, generated the gfortran.
 I hope it work.
 Best

[2021-02-10 13:03] haampie commented on #21591
You can also run `spack install gcc`

[2021-02-10 13:17] alalazo commented on #21590
The circular dependency is:
[code]

[2021-02-10 15:58] honghh2018 commented on #21591
OK， @haampie，I am already build the gcc 7.3.0 again with gfortran. and the spack install hdf5 successully.
 But where are the hdf5's location ? and i cannot find the h5cc binary file. when the spack had installed hdf5 end.
  Best,
 hanhuihong

[2021-02-10 18:03] adamjstewart opened #21595 "Split PerlPackage into multiple build systems"
We should create subclasses of `PerlPackage` for common Perl build systems.

### Rationale

The current `PerlPackage` is rather complex and difficult to extend. It would be better structured with subclasses.

### Description

Here are some common Perl build systems I've found:

| Build Tool | Filename |
| --- | --- |
| [`Module::Build`](https://metacpan.org/pod/Module::Build) | `Build.PL` |
| [`Mo

[2021-02-10 21:04] skylerpaulus opened #21601 "Installation issue: r-rgraphviz"
### Steps to reproduce the issue
[code]

[2021-02-11 00:50] #17966 closed, assigned to nobody

[2021-02-11 01:23] glennpj commented on #21601
This package needs the `r+X` variant. If you do the following it should work:
[code]
The `r+X` variant is set by default in the `develop` branch.

[2021-02-11 02:37] rowhit opened #21611 "Unable to Build Xyce Package | Configure has not found BLAS libraries"
# Issue Description
- I am trying to build Xyce simulator using spack using a custom spec file shown in the next section.
- It requires adms, and specific trilinos configuration which I have been able to able to build succesfully.
- However, when I am trying to build xyce, I get the following error:
[code]
- I am providing the blas lib path using LDFLAGS but it is somehow ignored by the compiler.

[2021-02-11 02:52] rowhit commented on #21591
I hope this may help (https://spack.readthedocs.io/en/latest/workflows.html?highlight=location#find-and-run)
[code]

[2021-02-11 03:54] honghh2018 commented on #21591
Thanks @rowhit @haampie  ,i had find the hdf5 location through your help. but it very was weird about the hdf5's bin directory like below:

![image](https://user-images.githubusercontent.com/41668708/107600197-f4d09200-6c5d-11eb-821f-c771bd7ab132.png)
The confused thing is where the h5cc and h5fc was on this location. In general, as i build the hdf5 source by my own hand, it would be generated the

[2021-02-11 06:21] xdelaruelle commented on #21396
@adamjstewart  The `--delim` option is only accepted by path-related modulefile commands like [`append-path`](https://modules.readthedocs.io/en/latest/modulefile.html#mfcmd-append-path) or [`prepend-path`](https://modules.readthedocs.io/en/latest/modulefile.html#mfcmd-prepend-path) but [`setenv`](https://modules.readthedocs.io/en/latest/modulefile.html#mfcmd-setenv) does not have such option.

[2021-02-11 07:35] Try2Code commented on #20833
@takanori-ihara please let me know in case you need more testing my me - happy to help with this one :ocean:

[2021-02-11 08:21] ikitayama commented on #21500
Is it a good idea to check the result of `git blame` and contact the authors?

[2021-02-11 09:47] eirrgang commented on #9740
Can you clarify how this is different from https://spack.readthedocs.io/en/latest/packaging_guide.html#conflicts ?

[2021-02-11 10:04] haampie commented on #9740
Conflicts apply to the values of variants, this applies to the existence of variants.

[2021-02-11 10:04] alalazo commented on #9740
@eirrgang `conflicts` is a way to declare an invalid configuration for your spec. This proposal (which may need to be revisited in some aspects) is instead a way to express that some variants may not exist at all outside some version ranges. The idea is to be able to model packages that have a moving set of features (modeled as variants) without the current imposition that a concretized spec at ve

[2021-02-11 14:38] skylerpaulus commented on #21601
Thank you, this solved the error.

[2021-02-11 14:38] #21601 closed, assigned to nobody

[2021-02-11 17:18] tepperly commented on #21303
Adding `-fallow-argument-mismatch` to the gfortran compiler flags would probably resolve this issue.

[2021-02-11 18:24] mpokorny commented on #21399
The cfitsio issue has been addressed by PR #21630

[2021-02-11 19:01] becker33 commented on #21571
I'm working on this right now. What will happen if the build system does not support out of source builds? The build will fail. For now, we will just put it on the user to only use this feature where it will work. Some autotools packages support out-of-source builds. Some cmake packages don't allow the out-of-source build directory to be modified (not sure how they even manage that in CMake, but..

[2021-02-11 21:35] danlipsa commented on #21445
@mathstuf The issue was that libraries that needed netcdf such as vtkIONetCDF did not link with it. Note that this was true in ParaView 5.7, so its not related to spack. After printing out targets in vtkModule.cmake and not seeing anything wrong I got to FindNetCDF, and just replaced the whole thing with the 5.9 version. That fixed it. Please review https://github.com/spack/spack/pull/21484

[2021-02-11 22:50] mpokorny commented on #21399
I have a request for you @cnwangfeng . It turns out that casacore ships with a version of `FindHDF5.cmake` which is rather old, and does not support linking to HDF5 without the high-level library. Newer versions of CMake include their own `FindHDF5.cmake` that do support linking without the high-level HDF5 library. One solution for the Spack casacore package, which I have already tested, is to inc

[2021-02-12 01:14] #21303 closed, assigned to nobody

[2021-02-12 04:14] rowhit commented on #21611
Adding the following to the config_args
[code]
fixes the issue.

[2021-02-12 04:14] #21611 closed, assigned to nobody

[2021-02-12 04:26] honghh2018 commented on #21591
@spack, it was odd, when i load the hdf5 env, it just showing me failed,the error lying below:
![image](https://user-images.githubusercontent.com/41668708/107729965-3e3be280-6d2d-11eb-9cd2-36996b79f5ba.png)
when i was runing the . /share/nas1/Data/Users/honghh/temp/JAGS/spack/spack/share/spack/setup-env.sh
and then open R and install hdf5r, it still get error.
![image](https://user-images.githubus

[2021-02-12 07:08] ketsubouchi commented on #18733
Thank you. I saw your `opam` branch.
Port of assembler section of ocaml package seems needed.

[2021-02-12 07:36] haampie commented on #21591
The error is rather clear, you have to install the latest version of hdf5. Try `spack install hdf5@1.8.13:`

[2021-02-12 08:44] scemama commented on #18733
To answer your initial question, if cca had an opam package, it would be possible to use opam-bundle to create a tar.gz containing all the dependencies inside, even the OCaml compiler. And then, creating the spack package becomes trivial, because the spack package doesn't even depend on OCaml. So I just asked the developer of cca if it is possible to make an opam package.

[2021-02-12 09:12] alalazo opened #21643 "Possible bug due to typo in "subprocess_context.py""
I think these two lines:
https://github.com/spack/spack/blob/f92580240e8e4b50b68d4a26a0c6286a096dcd4f/lib/spack/spack/subprocess_context.py#L135-L136

are incorrect, since we have a double loop onto the same list and `patch` is never used. Not sure at the moment (didn't look into it carefully) if the fix is to remove the outer loop or iterate over `patch` instead of `patches` in the inner loop.

[2021-02-12 09:33] alalazo commented on #21590
This is very unlikely to be solved with the original concretizer, while it probably needs #21564 to work correctly with the new concretizer.

[2021-02-12 10:02] Fvergnet opened #21644 "Installation issue: petsc on MacOs"
### Steps to reproduce the issue

[code]

### Information on your system

uname -a
Darwin 20.1.0 Darwin Kernel Version 20.1.0: Sat Oct 31 00:07:11 PDT 2020; root:xnu-7195.50.7~2/RELEASE_X86_64 x86_64

### Additional information

#### Spack report bug
[code]

#### Maintainers
@balay @BarrySmith @jedbrown

#### Build log and env files

* [message-out.txt](https://github.com/spack/spack/files/5970930

[2021-02-12 11:34] RobertRosca opened #21647 "Implement --include-test-deps switch"
It would be useful to have a way to:
- Just install test dependencies, without running tests for a package
- Concretise an environment with test dependencies included
- See the spec for a package with the test dependencies included

Issue came up in some development work I've been doing where PRs modifying a package file run the build and install time tests for the package, to save on install/comp

[2021-02-12 14:46] balay commented on #21644
Can you post `/private/var/folders/zm/j74n9b3j5hz042znw40gv8th0000gp/T/fabien/spack-stage/spack-stage-petsc-3.14.4-iitkfveuszdbke56k4rdgpnbigw3ltvc/spack-src/configure.log`?

[2021-02-12 14:50] Fvergnet commented on #21644
Sure, here it is:
[configure.log](https://github.com/spack/spack/files/5972508/configure.log)

[2021-02-12 15:04] balay commented on #21644
[code]
Ok  configure is attempting a simple compile with mpif90 - and that is failing. I'm not sure exactly where the issue is coming from - or what to suggest as a fix:

Can you try a few variants and see if they work?
- spack install petsc~mpi
- spack install petsc ^mpich
- build without spack and see if this failure is reproducible? i.e with petsc tarball [or git repo] : ./configure --download-

[2021-02-12 18:06] antiskid56 opened #21650 "Installation issue: octave"
When building octave 6.1.0 with fltk support, there is no build error, but the resulting build does not use fltk.

### Steps to reproduce the issue

[code]
Lack of fltk functionality can be verified by running the octave-6.1.0 binary, and checking the value of available_graphics_toolkits(). It will be found that only the gnuplot toolkit is available, i.e. the fltk support was not linked into the b

[2021-02-12 21:57] glennpj commented on #20731
@jasonbuechler While libpng support is already in R when using the `+X` variant, I just submitted #21654 which makes this more clear, I hope.

[2021-02-13 12:22] maxim-belkin opened #21660 "Clingo concretizer + compiler spec for a package"
What I was trying to do: set preferred compiler for a specific package only (not for all packages).

1. Install and load Clingo:
[code]
1. Instruct Spack to use `clingo` as its concretizer:
[code]
1. Check that it can resolve package dependencies correctly:
[code]
    <details>
    <summary>Output of <code>spack solve kokkos</code> I see</summary>

[code]
    </details>
1. Set the preferred compil

[2021-02-13 12:24] maxim-belkin commented on #21660
CC @alalazo

[2021-02-13 20:04] adamjstewart commented on #21660
This is also related to #1371

[2021-02-13 20:05] adamjstewart commented on #21650
@mtmiller

[2021-02-14 10:16] Fvergnet commented on #21644
* ```spack install petsc~mpi``` did not work.
* ```spack install petsc ^mpich``` worked but, trying to compile PETSc examples, I got the same warning as before:
[code]
So, as @balay suggested I try to reinstall gcc and I got this:

[code]

So it seems that the Command Line Tools was not updated when updating my OS to Big Sur (MacOs 11). Looking for an update was not the solution:
[code]

Then I ra

[2021-02-14 21:59] hartzell commented on #21595
FWIW, `Dist::Zilla` is more of a meta-package-builder, generally projects use it for building their release tarballs and uploading them to CPAN.  If you're working with releases you'll be working with packages that use one of the other three.  The "src" is actually more like "proto-src" which `Dist::Zilla` packages up into distribution tarballs that can are uploaded to CPAN and then downloaded and

[2021-02-14 22:09] adamjstewart commented on #21595
@hartzell is there an easy way to tell apart `Module::Install` and `ExtUtils::MakeMaker`? They use the same filename and same installation steps, although they have different dependencies. Also, do you have opinions on base class names?

[2021-02-15 02:02] ghost commented on #20833
I want to solve this problem which you reproduced for installing glib2 using recipe by spack.

I run "gem environment gempath" command on install method on recipes of glib2, then I can get a path of pkg-config.
[code]

I also can get a pkg-config with "gem list".

[code]

It seems that the ruby that installed by spack can find the pkg-config installed by spack.
However, ruby can not load the pkg-c

[2021-02-15 07:02] amd-toolchain-support opened #21665 "numactl - installation issue"
Hello,

I am trying to install numactl using spack on Cent OS 8. Latest available version and sha256 are 2.0.14 and "1ee27abd07ff6ba140aaf9bc6379b37825e54496e01d6f7343330cf1a4487035". With this, I am getting below error.

            d token `fi'

I am able to compile if I modify configure file and numactl community 2.0.14 is  also working fine.

If I fetch checksum of numactl ($spack checksum num

[2021-02-15 10:12] haampie commented on #21665
Can't replicate this with a centos 8 docker image.

numactl uploads their own tar.gz file under releases (which includes the generated configure script), spack checksum might download the github tar.gz (without configure script)? https://github.com/numactl/numactl/releases/tag/v2.0.14 the top link has the correct checksum.

[2021-02-15 13:11] christoph-conrads commented on #18880
It works for me.
[code]

[2021-02-15 13:17] LutzWeischerFujitsu opened #21672 "Installation issue: serf on A64FX, Fedora 33"
[jw@cn05 jw]$ spack/bin/spack install serf
[+] /data/jw/spack/opt/spack/linux-centos8-a64fx/gcc-8.3.1/pkgconf-1.7.3-kdzlczv6oqysvfvd6kwnpkjjblqoiame
[+] /data/jw/spack/opt/spack/linux-centos8-a64fx/gcc-8.3.1/libbsd-0.10.0-uyaxcptvjncrbqd4ll4fgfw3upb2tk6g
[+] /data/jw/spack/opt/spack/linux-centos8-a64fx/gcc-8.3.1/libiconv-1.16-pp6ex45xatkqm57evnnymts2e3jkjtgc
[+] /data/jw/spack/opt/spack/linux-cent

[2021-02-15 13:19] LutzWeischerFujitsu commented on #21672
Sorry, CentOS 8.

[2021-02-15 13:49] haampie commented on #21672
Can you add `uuid` as a link dependency?

[2021-02-15 13:53] LutzWeischerFujitsu commented on #21672
How do I do that?

[2021-02-15 14:36] LutzWeischerFujitsu opened #21674 "Installation issue: usearch on A64FX"
[jw@cn05 jw]$ spack/bin/spack install usearch
==> Installing usearch-10.0.240-7y7pkywjo6gpygmcw4xsut5agwmbj6hj
==> No binary for usearch-10.0.240-7y7pkywjo6gpygmcw4xsut5agwmbj6hj found: installing from source
==> Error: FetchError: Manual download is required for usearch. Refer to http://www.drive5.com/usearch/ for download instructions.

/data/jw/spack/lib/spack/spack/package.py:1335, in do_fetch

[2021-02-15 14:45] LutzWeischerFujitsu commented on #16196
It looks like this is not solved, on A64FX, CentOS 8:

[jw@cn05 jw]$ spack/bin/spack install blast-plus
[+] /data/jw/spack/opt/spack/linux-centos8-a64fx/gcc-8.3.1/libiconv-1.16-pp6ex45xatkqm57evnnymts2e3jkjtgc
[+] /data/jw/spack/opt/spack/linux-centos8-a64fx/gcc-8.3.1/zlib-1.2.11-nssknf4ybspjgs5ip3g52h6gdsg7xvw4
[+] /data/jw/spack/opt/spack/linux-centos8-a64fx/gcc-8.3.1/pkgconf-1.7.3-kdzlczv6oqysv

[2021-02-15 14:50] LutzWeischerFujitsu opened #21675 "Installation issue: bohrium"
[jw@cn05 jw]$ spack/bin/spack install bohrium
==> Error: Conflicts in concretized spec "bohrium@0.9.1%gcc@8.3.1+blas+cbridge+cuda~ipo+lapack+node+opencl+opencv+openmp~proxy+python build_type=RelWithDebInfo cuda_arch=none arch=linux-centos8-a64fx/t7iycwy"
List of matching conflicts for spec:

    opencv@4.5.0%gcc@8.3.1~calib3d~contrib+core+cuda~cudacodec~dnn~eigen~fast-math~features2d~flann~gtk~hig

[2021-02-15 14:53] LutzWeischerFujitsu opened #21676 "Installation issue: bowtie2"
[jw@cn05 jw]$ spack/bin/spack install bowtie2
==> Error: Conflicts in concretized spec "bowtie2@2.4.2%gcc@8.3.1 arch=linux-centos8-a64fx/7ypdr3z"
List of matching conflicts for spec:

    simde@0.6.0%gcc@8.3.1 buildtype=release patches=f7d3a3bc625122dba4f7690dc01b8749703f1cc50314bd1fec061ba2dc482d10 arch=linux-centos8-a64fx
        ^meson@0.56.0%gcc@8.3.1 patches=7a7ff3bffb5c1996faf178da6765d57839

[2021-02-15 15:02] LutzWeischerFujitsu opened #21677 "Installation issue: genemark-et"
[jw@cn05 jw]$ spack/bin/spack install genemark-et
[+] /data/jw/spack/opt/spack/linux-centos8-a64fx/gcc-8.3.1/berkeley-db-18.1.40-xhqs6cvlnggxtzkysk2fr5rdmzkbar3h
[+] /data/jw/spack/opt/spack/linux-centos8-a64fx/gcc-8.3.1/pkgconf-1.7.3-kdzlczv6oqysvfvd6kwnpkjjblqoiame
[+] /data/jw/spack/opt/spack/linux-centos8-a64fx/gcc-8.3.1/ncurses-6.2-vsgvk3ktw3v5pvbdcdnqjynfjwf26lx3
[+] /data/jw/spack/opt/spack

[2021-02-15 15:03] haampie commented on #21672
normally it's just `depends_on("uuid")` and spack's compiler wrapper would add the relevant `-L` flag, however in this case it looks like the package was configured to not use the compiler wrapper, and it'll link to system libs. See https://spack.readthedocs.io/en/latest/build_systems/sconspackage.html#compiler-wrappers, seems like it's just an annoying build system and doesn't have anything to do

[2021-02-15 15:08] LutzWeischerFujitsu commented on #21672
Harmen, my understanding is that I report here build errors that I find, which are fixed by the Spack team. Am I correct?

[2021-02-15 15:16] haampie commented on #21672
In some cases yes, but with over 5000 packages with many variants, platforms, architectures and compilers it cannot be expected that everything is tested. It's rather a community effort and we're welcoming users to create pull requests. Some packages have maintainers and you can ping them when you run into build issues, but this particular package serf does not.

[2021-02-15 15:57] LutzWeischerFujitsu commented on #21672
So it would help to do such one as a pull request?

[2021-02-15 16:37] balay commented on #21644
This is strange. Is it because of conflicts? Ok - I see the command should be `spack install petsc~mpi~hdf5~hypre~suplu-dist`

Great! So the initial issue is openmpi related. And we can ignore the warnings if the petsc binaries are functional with mpich. Perhaps petsc+mpich build is sufficient for your needs?

Ok the gfortran rebuild from source did not eliminate the warning. However since MPICH b

[2021-02-15 16:54] alalazo commented on #21672
Pinging @adamjstewart and @skosukhin as the two main contributors to the above package, in case they have useful hints.

[2021-02-15 16:59] adamjstewart commented on #21672
If adding `depends_on('uuid')` solves the issue, please submit a PR with that change.

If that doesn't work, you could try explicitly adding it to `LINKFLAGS` like we do for zlib. As @haampie mentioned, SCons is one of those annoying build systems that makes things difficult for package managers like Spack.

[2021-02-15 17:13] balay commented on #21644
Ok - the warning is not due to the way gfortran is built - but due to the options its using internally. You can try:

[code]
You will see the option `-mmacosx-version-min=11.2.0` listed here.

So workaround to this warning is to use cflags=-mmacosx-version-min=11.2.0 or `MACOSX_DEPLOYMENT_TARGET=11.2.0`

However the openmpi issue is likely unrelated to this warning..

[2021-02-15 17:35] Fvergnet commented on #21644
You are right, this solves the warning issue, but it changes nothing concerning the openmpi issue... Which is weird since openmpi has not been installed after the command
[code]
Right ?

[2021-02-15 18:44] glennpj commented on #20403
The `intel-oneapi-compilers` package and it is not setting up the environment correctly. This looks like it should set up the environment in a similar way to the `intel` packages by sourcing an environment script, specifically: `.../intel-oneapi-compilers-2021.1.0-{HASH}/compiler/latest/env/vars.sh`

When using that, all of the compilers are in the `PATH` and people can choose which compiler they

[2021-02-15 18:53] balay commented on #21644
You can try uninstalling openmpi - and reinstall petsc+openmpi [with the compiler change and/or MACOSX_DEPLOYMENT_TARGET change] - and see if that makes a difference.

[2021-02-15 18:57] glennpj commented on #20403
I could be missing something from previous conversation though, and perhaps it was intentional to exclude the "classic" compilers.

[2021-02-15 19:49] Fvergnet commented on #21644
I am not sure to understand. How do you specify MACOSX_DEPLOYMENT_TARGET when installing petsc with openmpi ?

[2021-02-15 19:59] balay commented on #21644
Its about using this option for all compiles/links that use fortran compiled libraries/object files.

Wrt spack - you would uninstall all dependencies an reinstall with this option (to check if this warning is making a different with openmpi)
[code]
Or add to ~/.bashrc or ~/.zprofile - so that its useful for other [non-spack] builds aswell.

Or ignore this warning.

[2021-02-15 20:02] glennpj commented on #21677
The `genemark-et` package requires registration and manual download. The spack package should make that clearer though.

[2021-02-15 21:05] schrummy14 opened #21688 "Installation issue: VTK undefined reference build error version 8.0.1 and 8.1.2"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.16.0-1276-b111ef48da
* **Python:** 3.6.9
* **Platform:** linux-ubuntu18.04-zen
* **Concretizer:** original

### Additional information

* [spack-build-out.txt]()
[spack-build-out.txt](https://github.com/spack/spack/files/5984069/spack-build-out.txt)

* [spack-build-env.txt]()
[spack-build-env.txt](https://gith

[2021-02-15 22:22] Fvergnet commented on #21644
Ok, thanks. So, I have tried that and this is the new error that I got :

[code]

[2021-02-15 22:57] balay commented on #21644
With every change -  a different part of OpenMPI is breaking. [I don't know enough about openmpi build to debug this].

So my suggestion is to stick with mpich for now.

[2021-02-16 06:06] mwkrentel opened #21694 "feature: add method for filtering a package's run environment"
I would like a method for filtering a package's run environment, that
is the variables that produce its module file (setenv, unsetenv, etc).

For example, see #21613.  There, hpctoolkit (optionally) depends on
ROCM, CUDA, etc.  This causes variables like HIP_PATH to be pulled
into hpctoolkit's module file and this interferes with an app building
itself because it's using the hpctoolkit value inste

[2021-02-16 09:02] Fvergnet commented on #21644
Ok, but even with mpich I can not compile Petsc examples. So, I guess I will go back to use a Docker container for now... Thank you for tou help @balay.

[2021-02-16 12:22] albestro opened #21696 "Installation issue: cray-mpich"
### Steps to reproduce the issue

@victorusu @haampie

[code]

This is just a minimal example, but my initial problem was inside an environment (without calling directly `spack load`)

### Information on your system

* **Spack:** 0.16.0-1199-bff4469d8f
* **Python:** 3.8.2
* **Platform:** cray-sles15-broadwell
* **Concretizer:** original

[code]
### Additional information

### General information

[2021-02-16 13:16] rscohn2 opened #21698 "setup run oneapi icc runtime environment"
I could be missing something from previous conversation though, and perhaps it was intentional to exclude the "classic" compilers.

_Originally posted by @glennpj in https://github.com/spack/spack/issues/20403#issuecomment-779399666_

[2021-02-16 13:48] haampie commented on #21696
I think that Cray has some incorrect logic where they remove explicit `-I` flags whenever that path is explicitly in either of these variables:

[code]

the problem however is that `C_INCLUDE_PATH` and `CPLUS_INCLUDE_PATH` only apply to the preprocessor, so during compilation the search paths are missing :upside_down_face:.

If you want you can file a bug report at Cray?

~However, the easier solu

[2021-02-16 14:32] albestro commented on #21696
Thanks @haampie! I don't know what could be better for spack, but at least for the moment it works! thanks again!

[2021-02-16 16:09] #21677 closed, assigned to nobody

[2021-02-16 16:13] skylerpaulus commented on #21396
I tried switching setenv to append-path and prepend-path. Both options allow the module to load but it does not work properly.
I tested this by attempting to install wayland which requires both docbook-xsl and doxbook-xml (both receiving the error reported previously). I get this error when installing:
```configure: error: Documentation build requested but docbook-xsl stylesheets are not found. In

[2021-02-16 16:31] balay commented on #21644
You got a compiler warning - which can be ignored. The examples should run fine.

And I think warning can be suppressed by using either `CFLAGS=-mmacosx-version-min=11.2.0` or `MACOSX_DEPLOYMENT_TARGET=11.2.0` in user makefile

[2021-02-16 16:56] christoph-conrads opened #21702 "Show maintainer on build failure"
Show the maintainer information of a package when its build fails (if the maintainer information is present).

### Rationale

About half of the open issues on the first few "Issue" pages on GitHub relate to build problems instead of problems with Spack itself and some user dump build problems like yesterday with the expectation that

As far as I know, the Spack developers do not maintain the build

[2021-02-16 17:22] adamjstewart commented on #21396
@alalazo should we raise a warning/error when `env.set` is called with `separator`? Currently only `docbook-xml` and `lua` make this mistake.

[2021-02-16 17:37] adamjstewart commented on #21702
I would support a feature like this, although I don't think it's as black-and-white as this. Spack developers _do_ maintain many packages to some extent, especially common dependencies for things they care about. Another way to approach this would be to clarify the issue template to say something along the lines of:

* Please provide instructions on how to reproduce this issue. If we can't reprodu

[2021-02-16 17:47] frankwillmore opened #21704 "Installation issue: different oneapi packages declare different ONEAPI_ROOT, etc."
### Steps to reproduce the issue
[code]
Running the install completes successfully, however the issue is that running the setvars.sh for each of the installed packages introduces conflicting install information. As currently implemented, spack installs each package in its own directory and declares ONEAPI_ROOT, e.g.:
[code]
Other variables are affected as well:
- The variables I_MPI_ROOT, FI_PROVI

[2021-02-16 17:53] adamjstewart commented on #21702
There has also been talk of splitting Spack core and packages into two separate repos in the long run. This will also help with expectations about maintenance and help to separate build issues from core issues.

[2021-02-16 17:53] frankwillmore commented on #20403
@glennpj It's still possible to source the setvars.sh scripts in lieu of the generated modules, which are a work-in-progress. There is some inconsistency in how the different packages are setting vars, though. More here:

https://github.com/spack/spack/issues/21704

[2021-02-16 18:26] rscohn2 commented on #21704
Does your 2nd option mean not using vars.sh files and letting spack set the environment? I am more comfortable that we can get that to work vs getting the vars.sh to inter-operate with the spack way of doing things.

[2021-02-16 18:36] frankwillmore commented on #21704
If we're keeping them as separate packages, the 2nd option may be the only way to make that work. But this would also mean the setvars.sh scripts people are accustomed to would be rendered defunct, and this is not consistent with how these packages are installed outside of spack. I don't know what packages or build systems will expect to find a single value for ONEAPI_ROOT, so there may be fallout

[2021-02-16 20:56] glennpj commented on #21704
I think the `env/vars.sh` scripts would be the ones to source rather than `setvars.sh`.

[code]

[2021-02-16 21:29] michaelkuhn commented on #21379
That seems to be normal, mirroring always fetches all patches for some reason. I also ran into problems in the past due to this.

[2021-02-16 21:30] michaelkuhn commented on #20721
Does this also happen if you do `spack install` or only within `dev-build`?

[2021-02-16 22:47] blue42u commented on #20721
I can confirm it happens both within `spack install` and within `dev-build`, with the same log messages and on the current `develop`.

[2021-02-16 23:57] frankwillmore commented on #21704
The setvars.sh script is what's to be sourced according to this: https://software.intel.com/content/www/us/en/develop/documentation/get-started-with-dpcpp-compiler/top.html
and the setvarsh.sh is the same script in each of the packages. Sourcing it will set ONEAPI_ROOT.

The vars.sh scripts appear to be package-specific. Also there are identical copies of these same scripts in the compilers packag

[2021-02-17 01:19] glennpj commented on #21704
From the comments in the `setvars.sh` script:
[code]
The presence of the vars.sh script in the mpi directory of the compilers package is for the MPI runtime only. If you wanted to install just the compilers and still have the mpi runtime setup then you would use that mpi script. From a Spack perspective, the intel-oneapi-mpi package is what provides mpi, both build and run time, and that would be

[2021-02-17 02:56] scheibelp commented on #20403
EDIT: on second thought it should be fine to update `setup_run_environment` to include the directories with `icc` and `icx` (the below should not actually be an issue). I think it will still be useful to know what the version output is for `icc` and `icx` (I think Spack compiler finding will work fine even if they are the same, although the regular expressions for the `intel` compiler definition w

[2021-02-17 03:00] scheibelp commented on #21698
I think https://github.com/spack/spack/issues/20403#issuecomment-780262367 is also relevant here.

EDIT: updated that comment since this was posted.

[2021-02-17 04:19] OH-AU opened #21717 "Installation issue: glib"
### Steps to reproduce the issue
Fails to build if there are any switches/options in the ldflags: section of your compilers.yaml file.
Might be related to https://wiki.gentoo.org/wiki/Project:Quality_Assurance/As-needed#Failure_in_compile.2C_unrecognized_option ?

However I couldn't replicate from outside of spack (built successfully in a simplified config but with same ldflags).

[code]

### Info

[2021-02-17 10:55] yellowhat opened #21724 "Installation issue: hpl with intel-oneapi-mkl"
### Steps to reproduce the issue
Modify the hpl `package.py` adding:
[code]

[code]

### Information on your system
[code]

### Additional information
@rscohn2
[spack-cc-hpl-4gwoqbh.out.log](https://github.com/spack/spack/files/5995062/spack-cc-hpl-4gwoqbh.out.log)
[spack-cc-hpl-4gwoqbh.in.log](https://github.com/spack/spack/files/5995063/spack-cc-hpl-4gwoqbh.in.log)

### General information
- [x]

[2021-02-17 13:15] mdorier commented on #21172
I realize I already reported this issue in the past (https://github.com/spack/spack/issues/19126). Closing.

[2021-02-17 13:15] #21172 closed, assigned to nobody

[2021-02-17 15:04] haampie commented on #16264
Also relative paths to repo's would be useful, since `develop` now also supports relative paths to the spack.yaml file

[code]

Especially useful when switching between docker and host where paths may be different, but the relative path is the same.

[2021-02-17 15:16] rscohn2 commented on #21704
Confirming what was said earlier and adding some points:
* oneapi design is to have a single root and multiple versions installed in the root.
* Spack oneapi packages violate the single root assumption. I don't think it is possible to have a single root without some changes to spack internals. I felt that spack and oneapi were trying to solve the same problem and it was better to use the spack sol

[2021-02-17 15:28] iarspider opened #21730 "Complain if "invalid" package specified as provider for virtual package"
### Rationale

Spack should at least give a warning (or, better, don't even try) when a package specified as a provider for some virtual package but doesn't provide that package.

### Description

With a large stack (environment) concretization can take infinite time (never completes but doesn't fail with stack overflow or some other error) if a package specified as a provider for some virtual pac

[2021-02-17 16:36] yellowhat commented on #21724
In the config.log file:
[code]

[2021-02-17 16:45] glennpj commented on #21704
If you look at how the previous intel packages are handled, they source the intel provided environment script. Doing that is just as much the "spack method" as specifying each variable in the recipe.

I do not think anyone is asking for all combinations to work.

[2021-02-17 16:48] glennpj commented on #21704
The spack `intel-oneapi-compilers` package is actually installing from the HPCToolkit,
[code]
The compiler packages are available separately, which might make things a little easier.
[code]

[2021-02-17 16:54] glennpj commented on #20403
@scheibelp The compiler detection seems to work fine.
[code]

[2021-02-17 18:08] scheibelp commented on #21704
I'm not sure if sourcing `setvars.sh` (or `env/vars.sh`) addresses the core issue reported here (although there may be a separate issue that addresses). I think the main potential concern would be:

If the OneAPI packages are kept separate, then Spack will maintain them as separate prefixes. If no packages depend on ONEAPI_ROOT, then it's likely not a problem to keep them separate.

I think https:

[2021-02-17 18:10] scheibelp commented on #21704
@frankwillmore would this issue be addressed by https://github.com/spack/spack/issues/21698, which sets up additional values in `PATH` to find `icc`?

In other words, is the main issue that you need to use `setvars.sh`/`env/vars.sh` because the Spack-generated modules don't locate all the needed functionality in the installed packages?

[2021-02-17 18:51] #18667 closed, assigned to alalazo

[2021-02-17 18:55] quellyn commented on #18667
Oops, thought I closed this a while back. Anyway, it's not a Spack issue and we can work around it using a custom `modulefile.tcl` that avoids printing the configure line for the package in question.

Thanks again!

[2021-02-17 19:39] rscohn2 commented on #21724
Thanks for the report. I will investigate.

[2021-02-17 21:18] EthanS94 opened #21739 "Ascent from binary cache not fixing path correctly, can cause runtime failure"
### Steps to reproduce the issue

With access to summit, this can be reproduced using workflow in https://github.com/cinemascienceworkflows/2020-10_Nyx . I can help with running this if needed.

[code]

### Error Message

The workflow pulls ascent and its dependencies from E4S cache, then builds Nyx using that ascent. The Nyx build is successful, but fails at runtime with:
[code]

I could be wrong

[2021-02-17 21:19] EthanS94 commented on #21739
@cyrush I think you are aware of this issue. Let me know if you are not the right person to ping on this. Thanks!

[2021-02-17 21:34] cyrush commented on #21739
@EthanS94 yes, my understanding is that this is a limitation with spack's binary relocation mechanism.

We can create an option in ascent that will give you the power to set the path yourself, but ideally we want spack to handle this case since it is re-wiring the paths in the binaries.

[2021-02-17 22:52] tepperly opened #21744 "Installation issue: perl"
### Steps to reproduce the issue

[code]

### Information on your system

### Additional information

* [spack-build-out.txt]()
* [spack-build-env.txt]()

### General information

- [x] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [x] I have run `spack maintainers <name-of-the-package>` and @mentioned any maintainers
- [ ] I have uploaded the build log and en

[2021-02-17 22:55] tepperly commented on #21744
[code]

[2021-02-17 23:09] EthanS94 commented on #21739
@cyrush

Can you share how to do this? We could implement this as a spack patch until this issue is fixed.

[2021-02-17 23:24] EthanS94 commented on #21739
Adding @dhrogers to follow this

[2021-02-17 23:39] #20731 closed, assigned to nobody

[2021-02-18 00:12] sethrj commented on #14695
I didn't know this hadn't been merged... any updates on this? 'Twould be useful.

[2021-02-18 10:17] haampie commented on #21744
Does the problem go away when you add `depends_on('gettext')` to perl?

[2021-02-18 10:24] alalazo commented on #21694
I'll have a look at this in between other tasks. At a first glance, I think it would be better to extend `EnvironmentModifications` APIs rather than adding a new callback and make the workflow more complex.

[2021-02-18 15:39] tepperly commented on #21744
How would I add a dependency to perl when requesting an emacs build?

[2021-02-18 16:06] ghost commented on #12105
I've also seen this happen in 0.16.

[2021-02-18 16:13] EthanS94 opened #21759 "Installation issue: ParaView is over-reliant on LD_LIBRARY_PATH for setting up python link"
### Steps to reproduce the issue

@chuckatkins @danlipsa For environments that blacklist environment variables, specifically LD_LIBRARY_PATH, paraview needs a different way to set up the python link.

This can be reproduced using an environment similar to this:
[code]

[code]

### Error Message

[code]

### Information on your system

[code]

### Additional information

- [x] I have run `spack deb

[2021-02-18 16:55] frankwillmore commented on #21704
Yes, this should resolve this.

If there is no other package explicitly consuming ONEAPI_ROOT, then keeping oneapi components separate in spack should work. For me, this came up in the context of builds failing at find_package(MPI), and I wanted to take a step back to really understand what was being done in the vars/setvars scripts.

Currently, the modules do not have complete content, and I'm tr

[2021-02-18 17:06] payerle opened #21760 "Doc Error: RPackage configure_args signature wrong in docs"
This is to report a bug in the Spack on-line docs, specifically in the
[page discussing RPackage build system](https://spack.readthedocs.io/en/latest/build_systems/rpackage.html)
In the section "Passing arguments to the configuration", it lists the method
<configure_args(self, spec, prefix)>, however the actual code (lib/spack/spack/build_systems/r.py) declares this method as only taking <self> as

[2021-02-18 17:10] iarspider opened #21762 "Use mirrors for 'spack checksum'"
`spack checksum` should (optionally) try to download file from mirror(s) if the original URL doesn't work

### Rationale

That's what mirrors are for, right? To be used as a fallback if the original URL doesn't work anymore.

### General information

- [ ] I have run `spack --version` and reported the version of Spack
- [x] I have searched the issues of this repo and believe this is not a duplicat

[2021-02-18 17:14] Billae opened #21763 "Setting additionnal PATHS in the module generation"
Hello,

I have a project which aims to be a Paraview pugin. I have created a spack recipe for it and a spack environment to build it. Now I want to generate modules associated to this env. I use for that _spack module tcl refresh_ and it works fine.

However, as my project is a paraview plugin, I need to "inform" my paraview installation that this plugin is available by setting the **$PV_PLUGIN_PA

[2021-02-18 17:25] haampie commented on #21744
spack edit perl

And then add that line

[2021-02-18 17:39] alalazo commented on #21763
Hi @Billae, you can encode modifications to environment variables needed to run your package in the `package.py` file:
[code]
These modifications should be reflected in the module files that get generated.

[2021-02-18 17:42] larkwiot opened #21764 "Activating New Environment does not Work in Fish Shell"
I ran `spack env create testbed` in a new directory, then ran `spack env activate testbed` immediately after. I had already configured my fish shell to source the proper setup-env script, and restarted it. Everything else (`spack external find`, `spack install ctre`) has been working fine up until this point.

### Steps to reproduce the issue

In fish:
[code]

### Error Message
[code]
[code]

###

[2021-02-18 18:17] carns commented on #21764
I can also trigger this with `spack load -r <package>` without using environments.  The load appears to work anyway in that case, though, as best I can tell.

[2021-02-18 18:19] adamjstewart commented on #21760
Closed by #21761

[2021-02-18 18:19] #21760 closed, assigned to nobody

[2021-02-18 18:41] Billae commented on #21763
Thank you,
I did see this in my researches, but actually I haven't understood that this was the point i was looking for =).
Eloïse

[2021-02-18 18:58] cyrush commented on #21739
To accomplish this: we would have to add a new feature to a future version of ascent that allows folks to hand is a path via the api, instead of relying on the built-in path which isn't properly relocated.

[2021-02-18 19:32] dhrogers commented on #21739
Is there a robust workaround? We'd like to demo these workflows, with E4S cache and Spack builds at the April ECP meeting.

[2021-02-18 19:35] cyrush commented on #21739
I can get the option in for you well before then, hopefully spack folks can dive into the relocation issue in parallel.

[2021-02-18 20:03] dhrogers commented on #21739
Thanks.

[2021-02-18 20:42] mwkrentel commented on #21694
Ok, I'll let you pick a design that fits better with spack.  What I need is
a way to iterate through an environment and selectively remove things.

Take your time.  The tools exist to do what I need, they just expose
parts of the code that are better to stay internal.

[2021-02-18 21:54] payerle opened #21774 "spack create -t r gives wrong signature for configure_args in template"
This is related to issue #21760
The template for a new RPackage package generated from spack create -t r
includes a templated dummy definition
<configure_args(self, spec, prefix)>

However, the lib/spack/spack/build_systems/r.py file defines configure_args to only
accept <self> as an argument.

### Steps to reproduce the issue
[code]
The new package.py for r-testpackage will include a definition f

[2021-02-18 22:07] s-sajid-ali commented on #21764
I've been seeing this on develop as well. This [PR](https://github.com/spack/spack/pull/21679) might fix the issue.

[2021-02-18 22:40] #21774 closed, assigned to nobody

[2021-02-18 23:07] glennpj commented on #21704
@frankwillmore The point that I have tried to make, and I apologize for not being clear, is to source `vars.sh` in the spack recipe itself, just like it is done for the non-oneapi intel packages. That way, you do not have to try to figure out what would get set, as it just happens. Here is the relevant code in the `intel` build system file, `spack/lib/spack/spack/build_systems/intel.py`:
[code]

T

[2021-02-18 23:37] rscohn2 commented on #21704
I am redoing the compiler package and will add this. Is this appropriate for libraries?

[2021-02-19 01:01] tgamblin commented on #21739
This should be fixable, as it's relocating from a long path to a short path.  I am not sure why we do not catch this -- we do relocate strings in binaries in this case.

[2021-02-19 01:09] tgamblin commented on #21739
@cyrush: is ascent linked as a static lib or a dynamic lib here?  We may not be handling the static lib case properly.

[2021-02-19 01:19] cyrush commented on #21739
@tgamblin -- combed though the setup and verified that this case is static libs (b/c of cuda)

[2021-02-19 01:21] tgamblin commented on #21739
Lemme get someone to dig into this one -- we should be able to handle this case, but I checked and we don't currently recognize that static libs need relocation.  It's a bit more complicated than that b/c they need one type of relocation we do for dynamic libs (strings) but not the other (RPATHs) so it'll take a bit of tweaking, but I think we already have the code, just not the glue.

[2021-02-19 07:27] Tom-python0121 opened #21791 "[axel] [Compilation failure] An error is reported when the Spack is used to install axel in Ubuntu18."
Hello,I meet a question about an error is reported when the Spack is used to install axel in Ubuntu18.
### Steps to reproduce the issue

[code]
I have found that the **libintl** link library is located incorrectly due to the Ubuntu compiler problem. As a result, the **libintl** link library does not work.But I'm not sure if this is the right thing to do, it's the compiler's problem.As my solution

[2021-02-19 07:50] cessenat opened #21792 "Contributing git issue : refusing to allow a PAT to create or update workflow `.github/...` without `workflow` scope"
When using command line to contribute,  I get an error as follows:
in short:
$ git push origin adding_package_libqrencode
To https://github.com/cessenat/spack.git
 ! [remote rejected]       adding_package_libqrencode -> adding_package_libqrencode (refusing to allow a Personal Access Token to create or update workflow `.github/workflows/linux_unit_tests.yaml` without `workflow` scope)
error: failed

[2021-02-19 11:24] cessenat commented on #21792
After much time I understood that the Personal Accesss Token has limited capability thta can be extanded in
https://github.com/settings/tokens
So the problem was solely a github config problem, not a git one with spack as I misjudged.
Sorry

[2021-02-19 11:24] #21792 closed, assigned to nobody

[2021-02-19 12:33] cwsmith commented on #16244
I'm hitting the same problem in a spack 0.15.4 environment as described here: https://github.com/spack/spack/issues/16244#issuecomment-623820881

[2021-02-19 13:31] #17993 closed, assigned to nobody

[2021-02-19 13:56] carns commented on #21764
Thanks for the pointer!  I confirmed that fix works for me at least (loading a package manually without an environment produces no warnings/errors now) using origin/develop just now.

[2021-02-19 14:53] michaelkuhn commented on #21717
Does this also happen on develop (which has newer versions of glib and meson)?

[2021-02-19 16:39] becker33 commented on #16264
@haampie, where in the spack.yaml file did `$spack` not work that was causing a problem? All of the config values that could come from a config file should be read the same way from spack.yaml as from *.yaml config files.

[2021-02-19 18:11] larkwiot commented on #21764
The PR does seem to have fixed my issue. Thanks!

[2021-02-19 18:11] #21764 closed, assigned to nobody

[2021-02-19 18:16] frankwillmore commented on #21704
@glennpj yes, that looks a lot more elegant.

I'm curious though, why the vars.sh for the compiler doesn't set CC, CXX, etc.

@rscohn2 this seems to make sense to me for the libraries as well.

[2021-02-19 19:42] mtmiller commented on #21650
Do you happen to have a full build log that we can look at to see what configure worked out?

My guess is that the spack fltk package doesn't pull in opengl, which octave does require.

[2021-02-20 00:29] cessenat commented on #21744
No solution just my experience on 3 tests

First, relevant or not, when I run
spack install gcc@7.3.0+bootstrap+binutils^libc+iconv
it compiles gettext:
==> Installing gettext-0.21-h3eef4tu42azkga2yhffkc4mkdocxxje

Then, to make spack find the new compiler, I had to do
spack load gcc@7.3.0+bootstrap+binutils^libc+iconv

+ With that sequence, I did reproduce the bug you are talking about on Cent OS

[2021-02-20 03:21] Tom-python0121 opened #21823 "【kbd】An Error Is Reported When the Spack Is Used to Install the KBD on the SUSE Linux OS"
Hello，I meet a problem about an Error Is Reported When the Spack Is Used to Install the KBD on the SUSE Linux OS and this issue has been resolved,but I'm not sure if this solution is in scope. Can you look at it for me?
### Steps to reproduce the issue

[code]
Now, the **kbd** installation and compilation problem has been solved, but I'm not sure if there are any other vulnerabilities, can you tel

[2021-02-20 07:35] haampie commented on #21744
You're not using gcc 7.3.0 but 10.2.0 as you can see from the logs.

Try `spack compilers find` to register 7.3.0 and then use it with `spack install perl %gcc@7.3.0`

[2021-02-20 07:49] vvolkl commented on #21319
I hit this as well, is definitely an issue when using spack in CI builds  / scripts.

[2021-02-20 10:12] cessenat commented on #21744
You are right  ; maybe I had some dirty env ;
I restarted the process and now also get the same eroor for -lintl missing from gettext or glibc:
6 errors found in build log:
     935    time64.c:573:30: warning: 'orig_year' may be used uninitialized in this function [-Wmaybe-uninitialized]
     936                 local_tm->tm_year++;
     937                 ~~~~~~~~~~~~~~~~~^~
     938    cc -fst

[2021-02-20 11:10] cessenat commented on #21744
Maybe the good news @tepperly is that you are not alone ; this perl problem has a recent open issue
https://github.com/Perl/perl5/issues/18467
It seems not to be solved yet (how to make miniperl link add -lint)

[2021-02-20 12:38] haampie commented on #21744
Do older versions work? Does the compiler version matter at all?

spack install perl@x.y.z %gcc

[2021-02-20 15:58] cessenat commented on #21744
It fails with 5.16.3, 5.22.4, 5.30.3, all 5.32 and 5.33.3 so probably all release.
But, when I compile 5.16.3, 5.22.4, 5.30.3 with
spack install perl@5.30.3%gcc@7.3.0 ^binutils%gcc@7.3.0
while adding a dependency to binutils in perl, then it works, but still fails on 5.32 and 5.33.3 with :
/home/cessenat/spack/opt/spack/linux-centos7-skylake/gcc-10.2.0/binutils-2.35.1-nw2yophznz65aqjopzjrnboguaveq

[2021-02-20 16:16] antiskid56 commented on #21650
I'm a new spack user. I see scant mention of build logs in the documentation. Some indication that there might be one in /tmp, but I've rebooted since I built.

I'm happy to rebuild, and generate a log. Can you tell me where to look for it?

[2021-02-20 17:15] eugeneswalker opened #21824 "buildcache list: '<' not supported between instances of 'tuple' and 'str'"
Using `spack@develop` (4bd8cd1916f1c9961bc069d922989318683961a3 from `Sat Feb 20 01:52:34 2021 -0700`)

I finally got around to regenerating the index for our E4S build cache. It finished OK after ~6.5 hours.

However:
[code]

@becker33

[2021-02-21 16:14] christoph-conrads commented on #21823
~~`spack install gettext && spack load gettext`~~

**ediit** did not finish reading before posting

[2021-02-21 23:38] mtmiller commented on #21650
I don't know much about spack myself, @adamjstewart can you help get a full configure/build log?

[2021-02-21 23:51] adamjstewart commented on #21650
If the build fails, Spack will print the location of the build log. If the build succeeds, Spack will print the installation directory. This can also be found with `spack find -p`. In the installation directory, there is a `.spack` directory containing the build log, config.log, build environment, and other useful files.

[2021-02-22 00:57] antiskid56 commented on #21650
Thanks. Build log attached, along with packages.yaml from ~/.spack. Please ignore previously uploaded files in this message; they didn't have the correct build configuration for the problem I'm trying to demonstrate.

[spack-build-out.txt](https://github.com/spack/spack/files/6024731/spack-build-out.txt)
[packages.yaml.zip](https://github.com/spack/spack/files/6024732/packages.yaml.zip)

The top o

[2021-02-22 01:11] Tom-python0121 commented on #21823
@christoph-conrads ，I have done that and added the dependency **gettext** to package.py and then executed spack install gettext && spack load gettext. However, the preceding problems still occur in sequence. Therefore, I need to add the dependency **bison, flex**, and the environment for compiling **autogen.sh**, can't we do this?

[2021-02-22 06:19] Nischay-Pro opened #21839 "SHA-1 prefix error when trying to build HDF5"
### Steps to reproduce the issue

I'm trying to build HDF5 with nvhpc 21.2 on a cluster. I've passed the flags target=x86_64 while building my packages. I'm also using perl 5.30.3 (hash: **f6wiogo**) since the latest version in incompatible with nvhpc.

[code]

### Error Message

[code]

Here is the input spec and it's concretized form
[code]

### Information on your system

* **Spack**: 0.16.0-13

[2021-02-22 06:41] simon28li opened #21840 "Whether the package can be modified to support an installation that is not just client"
When I compile an error for False, by changing the value of the client_only variant

[code]

     316    checking sasl/sasl.h usability... no
     317    checking sasl/sasl.h presence... no
     318    checking for sasl/sasl.h... no
     319    checking sasl.h usability... no
     320    checking sasl.h presence... no
     321    checking for sasl.h... no
     322    configure: error: Could not lo

[2021-02-22 09:36] #21500 closed, assigned to nobody

[2021-02-22 15:48] tepperly commented on #21744
Thanks, I'll try building gcc@8.4.0 before building 7.3.0.

[2021-02-22 15:51] haampie commented on #21744
Just to reiterate, you don't have to do `spack load gcc@x.y.z`, you only have to register the compiler with `spack compiler find`. Maybe spack load pollutes the environment in some way.

[2021-02-22 15:56] Billae commented on #21763
Hello,

I'm sorry to reopen this, but its remain one problem on setting this additionnal path:

To detect my project as a plugin, Paraview need a full path to spack/opt/.../project/lib( or lib64)/paraview-<version of paraview\>/plugin/project.

As when i install my plugin I did not know which is the paraview version associated, I need to make this path generic.
To this end I try to add in my recip

[2021-02-22 19:02] #18867 closed, assigned to nobody

[2021-02-22 20:19] mtmiller commented on #21650
Yes, I think `+fltk` should implicitly add the `+opengl` flag as well, as it seems to be doing for `+qt`.

[2021-02-22 21:12] adamjstewart commented on #20025
Ping @scheibelp @becker33, can we bump this up in priority?

[2021-02-22 21:35] patrickb314 commented on #20347
I get the same behavior with gcc-10.2.0 from releases/v0.16.1

[2021-02-22 22:33] #19611 closed, assigned to tgamblin

[2021-02-22 22:34] #6708 closed

[2021-02-22 22:55] haampie commented on #21839
I'm also hitting this with OpenSSL (https://gitlab.com/cscs-ci/electronic-structure/build-spack-images/-/jobs/1043395055)

Curiously OpenSSL is already listed as installed during concretization:

[code]

[2021-02-23 00:00] sethrj commented on #12143
Thanks @bartlettroscoe for the debugging history -- it saved me some work, so I'll add my own debugging here in case it helps with yours or anyone else who has the misfortune of building on RHEL6. (And the root issue may extend beyond RHEL6, we might just be getting "lucky.")

I've been struggling with a similar issue today that only manifests in unusual situations. I was only seeing the error in

[2021-02-23 00:03] scheibelp commented on #21839
@tgamblin @becker33 I think https://github.com/spack/spack/pull/21735 might be related to this. I will not have significant time to look into this until Wednesday

[2021-02-23 00:15] scheibelp commented on #21839
@haampie @Nischay-Pro if you have a chance and are comfortable with git can you check if this goes away when you `git checkout -b bugfix/hash-check develop; git revert de5a396`? This assumes your current branch is develop. Creating a new branch is not strictly necessary but IMO would be the easiest way to clean up (you can `git checkout` your original branch when finished)

[2021-02-23 00:16] bartlettroscoe commented on #12143
@sethrj, FYI: RHEL6 is now officially dead at SNL (since Nov 2020) :-)

[2021-02-23 01:01] sethrj commented on #12143
Nice! As it should be. 😒 Ours is in life extension mode I think.

But in good/bad news, I reproduced the rpath error on rhel8, it just required `+binutils` for gcc. I'm going to open a new spack issue for it, since the rpath failure could conceivably cause other issues.

[2021-02-23 01:49] scheibelp commented on #21839
I think if `directory_layout.check_installed` is updated from:

[code]

to

[code]

that would address this issue as well. This presumes we only want to allow one instance of a `dag_hash` as an installed package in the database. Was there an intended pragmatic effect of https://github.com/spack/spack/pull/21735, or would the issue have been equally well addressed by choosing a name like `not_quite

[2021-02-23 02:09] scheibelp commented on #21839
https://github.com/spack/spack/pull/21869 makes the change suggested in https://github.com/spack/spack/issues/21839#issuecomment-783806238

[2021-02-23 03:12] sethrj opened #21870 "gcc+binutils: rpath for zlib doesn't get propagated to lgfortran"
When building `gcc+binutils`, the rpath in `libgfortran.so` does *not* include the Spack-installed zlib, even though it builds against it and requires the shared library at runtime. The missing rpath can cause nasty conflicts far downstream in unusual situations based on what shared libraries are first.

Unless I'm much mistaken this is the root cause of #12143 ; since GCC 8.3 is incompatible with

[2021-02-23 04:57] Nischay-Pro commented on #21839
@scheibelp I have tried the git command you have shared. It did not work. I'm still getting the same error.

[2021-02-23 08:14] skosukhin commented on #21839
#21869 solves the problem for me. Reverting the commit does not solve the problem right away though. I assume one would need to revert and then reinstall the conflicting package.

[2021-02-23 08:25] haampie commented on #21839
Should we revert #21735 until this is properly solved and tested? Even if #21869 fixes this particular issue it does not include any tests.

[2021-02-23 08:29] alalazo commented on #21839
Another issue that *may* enter into this is #21491

[2021-02-23 08:32] Nischay-Pro commented on #21839
#21869 fixes for me. Directly reverting the commit did not work. But reinstalling the package seems to be working.

[2021-02-23 09:16] haampie commented on #21839
I can also confirm that #21869 fixes the issue for me.

[2021-02-23 10:17] haampie commented on #21839
Here's a reproducer:

[code]

[2021-02-23 10:32] haampie opened #21875 "shell test kcov suggestion does not work"
### Steps to reproduce the issue

[code]

Seems like there is no kcov binary:

[code]

* **Spack:** 0.16.0-1501-e8eb76c198
* **Python:** 3.8.7
* **Platform:** linux-ubuntu20.04-zen2
* **Concretizer:** clingo

### Additional information

- [x] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [x] I have searched the issues of this repo and believe this is not a dup

[2021-02-23 14:50] amd-toolchain-support commented on #21665
Issue with the env. Sorted out now.

[2021-02-23 14:50] #21665 closed, assigned to nobody

[2021-02-23 16:19] mpokorny commented on #21399
The PR #21882 fixes the HDF5 high-level library issue as described by the previous comment.

[2021-02-23 17:09] mwkrentel commented on #20998
@mlawsonca Could you test this again with the latest spack develop?
I think that PR #21864 probably solves at least half of your problem,
maybe all of it.

[2021-02-23 17:53] #21839 closed, assigned to nobody

[2021-02-23 20:34] mechapple opened #21889 "cp2k install conflicts"
I am trying to install cp2k with spack. However, I run into
Error: Conflicts in concretized spec

### Steps to reproduce the issue

[code]

### Error Message

[code]
I can get rid of the first conflict using:
[code]
However, I'm not entirely sure if this is the right approach.

### Information on your system

### Additional information

[code]

- [x] I have run `spack debug report` and reported th

[2021-02-24 08:49] cessenat opened #21898 "Installation issue: minizip"
minizip does not link to static ./../../libz.a.
I do not fully understand the logic, so I cannot correct it.
[code]
$ spack debug report
* **Spack:** 0.16.0-1079-af988fc32d
* **Python:** 3.8.7
* **Platform:** linux-ubuntu18.04-zen2
* **Concretizer:** original

* [spack-build-out.txt](https://github.com/spack/spack/files/6034601/spack-build-out.txt)
* [spack-build-env.txt](
[spack-build-env.txt](ht

[2021-02-24 09:09] simon28li opened #21899 "Loki executes make check error report"
### Steps to reproduce the issue

[code]

### Error Message

[code]
I found that the community of the app has the same issue, https://sourceforge.net/p/loki-lib/bugs/194/
but because it is relatively old and there is no reply, I have a solution here, whether I can upload patch directly.
### Information on your system

* **Spack:** 0.16.0-1376-f65e6ae4e6
* **Python:** 3.6.8
* **Platform:** linux-ce

[2021-02-24 11:24] cessenat commented on #21650
I'm soon to update octave so that +fltk automatically induces +opengl ; at the same time I would like to add +qscintilla but for this I first made a PR for compilation bugs correction. I checked this leads to available_graphics_toolkits() reports
fltk, gnuplot, qt.
Is that well what you hope @antiskid56 ?

[2021-02-24 12:43] Tom-python0121 opened #21905 "[ctpl] [Compilation failure] The ctpl fails to be installed and compiled in Debian, Ubuntu, and SUSE."
Hello,I meet a question about the **ctpl** fails to be installed and compiled in Debian, Ubuntu, and SUSE.
### Steps to reproduce the issue

[code]
Therefore ,the issue is about that the dependency **gtk-doc@1.32** is not be installed.
Here's my solution：
[code]
As you can see, the following dependencies are required in the source code：**docbook-xsl-stylesheets、sgml-skel、docbook_4**.The dependency

[2021-02-24 12:54] #21763 closed, assigned to nobody

[2021-02-24 13:06] Billae opened #21907 "Evaluate Regular expression in setup_run_environment"
Hello,

This issue continued  this one #21763) which want to set additionnal path for a Paraview plugin project.

I have a project which is a paraview plugin and i need to set the PV_PLUGIN_PATH variable to make it available in paraview.

To detect my project as a plugin, Paraview need the full path to spack/opt/.../project/lib( or lib64)/paraview-<version of paraview>/plugin/project.

As when i i

[2021-02-24 13:49] antiskid56 commented on #21650
Thanks for asking @cessenat.

My scenario is the use of recent releases of octave both locally and remotely. I would like to be able to use it remotely using x2go, which has limited opengl capabilities.

My experience thus far is that the full QT gui doesn't work well with x2go, but that fltk plotting works fine. fltk plotting is basically an alternative to qt plotting, so my preference would be t

[2021-02-24 14:51] cessenat commented on #21650
This exceeds my knowledge ; I did
$ spack install octave+fltk
[from my soon to come PR #21903]
and this provides octave --gui with [fltk,gnuplot,qt].
There is no spec dependency on qt, so I don't know where the magic is.
I will tell you when octave is updated so that you can try and tell me if it is satisfying for you.

[2021-02-24 15:07] joshessman-llnl opened #21911 "Disjoint set variant defaults prevent selection of non-default option"
### Steps to reproduce the issue

Any of the following are equivalent, it looks like the bug can be reproduced by attempting to concretize a package that:
* defines a variant whose values are disjoint sets, and
* whose variant provides a default value, and
* the user wishes to select a variant value other than the default

[code]

### Error Message

Described above, a SpecError from `_disjoint_set

[2021-02-24 15:26] antiskid56 commented on #21650
I will be happy to try it. Wouldn't the spec dependency on qt come from qscintilla?

[2021-02-24 15:32] alalazo opened #21912 "clingo-cffi unit tests are running on the original concretizer"
#20657 added updates to support `clingo-cffi`. The new Github Action job though is using the original concretizer, since the
environment variable `SPACK_TEST_SOLVER` is not set to `clingo`. This can be verified by the log of successful tests:
![Screenshot from 2021-02-24 16-30-31](https://user-images.githubusercontent.com/4199709/109024077-a8556f80-76bd-11eb-8d03-fa3a955dc40b.png)

which reports X

[2021-02-24 16:42] adamjstewart commented on #21907
If you `import glob` and put the `join_path` inside of `glob.glob(...)[0]` it will have the effect you desire.

[2021-02-24 16:45] adamjstewart commented on #21875
What do you get when you run:
[code]
Spack builds a `kcov` executable for me.

[2021-02-24 17:42] scheibelp commented on #20347
Can you try building with `kokkos+wrapper`? That appears off in your provided spec. It does some extra work to create an `nvcc_wrapper` executable so I think that might be relevant to your error message.

[2021-02-24 19:38] patrickb314 commented on #20347
That fixed if for the kokkos install. cabana +mpi +cuda now fails trying to use nvcc arguments with g++ for some reason (it's not using nvcc_wrapper), but that's cabana package issue, not a kokkos package issue.

[2021-02-24 19:45] haampie commented on #21875
[code]

[2021-02-24 19:54] haampie commented on #21875
Oh wow, it's their cmake script :( https://github.com/SimonKagstrom/kcov/blob/master/src/CMakeLists.txt

[2021-02-24 20:33] #21912 closed, assigned to alalazo

[2021-02-24 21:07] mvanwaveren opened #21934 "Need clarification in documentation"
### Steps to reproduce the issue

I tried to create a pull request with the method described in the Contribution Guide:
https://spack.readthedocs.io/en/latest/contribution_guide.html#branching

This says to create a branch, make your changes, push the changes (to your remote fork), and create a pull request.

### Error Message

If you git clone spack, create a branch, make changes and try to push

[2021-02-24 21:16] haampie commented on #21934
If you figured out how it should be done, can you create a pull request with that change to the docs? ;)

[2021-02-24 21:20] mvanwaveren commented on #21934
Sure, I can do this :-)

[2021-02-24 21:40] adamjstewart opened #21937 "Zero exit code if dependency fails to build"
I'm trying to build a package A with many dependencies B, C, D, etc. I noticed that if B fails, I see:
[code]
then Spack continues to install C and D. This is fine, but the exit code of this process is 0 even though the package I want to build (A) did not build. I would also expect an error message at the end of this informing me that the package I requested could not be built.

@tldahlgren I beli

[2021-02-24 21:48] haampie commented on #21937
https://github.com/spack/spack/issues/21319
https://github.com/spack/spack/issues/20510

Yeah, this needs to be fixed...

[2021-02-24 21:56] adamjstewart commented on #21937
Thanks! I knew I had seen this bug before. Closing as a duplicate.

[2021-02-24 21:56] #21937 closed, assigned to nobody

[2021-02-24 21:57] haampie commented on #21937
how can we raise the priority of that issue? it's reported many times now

[2021-02-24 22:11] adamjstewart commented on #21937
Be more annoying 😁

[2021-02-25 01:10] eugeneswalker commented on #20347
`kokkos+cuda+wrapper` builds for me. I submitted a PR that make it a conflict to have `+cuda` without also having `+wrapper`

PR https://github.com/spack/spack/pull/21941

[2021-02-25 02:49] Tom-python0121 opened #21942 "[py-chronyk@1.0.1][Built-in test case failure] Self-test cases fail."
Hello,I meet a problem about self-test cases fail.
### Steps to reproduce the issue

[code]
I know the problem is that there's a problem with the **values.items** in the source code, but I don't know which community to report the problem. Can you tell me how to fix it?
### Information on your system
[root@centos8 spack-src]# spack debug report
* **Spack:** 0.16.1-1436-0389f51bd7
* **Python:** 3.6.

[2021-02-25 02:56] Tom-python0121 commented on #21942
code:
[code]

[2021-02-25 07:39] Tom-python0121 opened #21951 "[llvm-openmp@3.9.2b2 [Failed to use a built-in test case] When you run the make ctest/ftest command, the error message "Can' t locate ompts_parserFunctions.pm in @INC " is displayed."
### Steps to reproduce the issue
See:
[code]
I don't know why. Can you take a look at it for me?

### Information on your system
[root@centos8 spack-src]# spack debug report
* **Spack:** 0.16.1-1436-0389f51bd7
* **Python:** 3.6.8
* **Platform:** linux-centos8-aarch64
* **Concretizer:** original

### Additional information

- [ ] I have run `spack debug report` and reported the version of Spack/Pyt

[2021-02-25 08:19] haampie commented on #21889
I think this is a limitation of the old concretizer and solved when you enable clingo

[2021-02-25 09:12] cessenat opened #21952 "Package installed as a dependency whereas it was already installed with same spec"
I installed a package manually:

[code]

There probably is something I mis-understood from the documentation, it might be trivial for an expert.

spack debug report
* **Spack:** 0.16.0-1080-0b58499
* **Python:** 3.8.7
* **Platform:** linux-centos7-skylake
* **Concretizer:** original

- [x] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [x] I have searched the i

[2021-02-25 09:26] cessenat opened #21953 "Installation issue: harfbuzz"
I could compile harfbuzz explitly but when compiled implicitly by
[code]
I encountered the following error:
[code]
I can solve the problem adding both +pdf+ft to the cairo dependency in harfbuzz.

$ spack debug report
* **Spack:** 0.16.0-1080-0b58499
* **Python:** 3.8.7
* **Platform:** linux-centos7-skylake
* **Concretizer:** original

* [spack-build-out.txt](https://github.com/spack/spack/files/6

[2021-02-25 10:26] alalazo commented on #21952
Can you check the hashes of the two `harfbuzz`? If the hashes differ then the specs are different.

[2021-02-25 10:42] alalazo commented on #21937
Duplicate of #21319

[2021-02-25 10:55] #21875 closed, assigned to nobody

[2021-02-25 11:20] cessenat commented on #21952
Yes, the hashes differ ; but I do not undestand why.

[2021-02-25 11:31] alalazo commented on #21952
Can you diff and post the two corresponding `./spack/spec.yaml` files that are installed in the prefix?

[2021-02-25 12:09] haampie commented on #18463
Closing this, there's two options now:

- register llvm-admgpu as a compiler in spack
- just use hipcc for device source files just like nvcc for cuda source files

The former uses the compiler wrapper by default, the latter doesn't really need it anyways.

[2021-02-25 12:09] #18463 closed, assigned to nobody

[2021-02-25 12:12] haampie commented on #17932
This was fixed

[2021-02-25 12:12] #17932 closed, assigned to nobody

[2021-02-25 13:05] Billae commented on #21907
Thanks a lot ! It works just fine =)

[2021-02-25 13:05] #21907 closed, assigned to nobody

[2021-02-25 15:53] cessenat commented on #21952
In fact I cannot, since when harfbuzz is compiled implicitly because of qgis it fails because cairo was not compiled with +pdf+ft.
Surprisingly it compiles succeefully when compiled explicitly (without specifying anything for cairo).
I found out there is a problem with qgis when installing the version explicitly
$ spack install qgis@3.10.10 %gcc@9.3.0
qscintilla requires py-pyqt5 variant +qsci_api

[2021-02-25 16:07] DarylGrunau commented on #19313
This issue should be resolved by PR #21866 ~when you spec `pegtl~tests~examples`~.

[2021-02-25 17:15] eschnett commented on #20762
I believe the current version of Spack and AMReX solved this issue.

[2021-02-25 18:17] scheibelp commented on #21889
When using the older concretizer, that is the right way to do it. You would also probably have to set `^openblas threads=openmp` like

`spack install cp2k ^fftw+openmp ^openblas threads=openmp`

Or

`spack install cp2k~openmp`

might work

If you are able to use the clingo concretizer, that should avoid the need for modifying your original spec (`spack install cp2k`).

[2021-02-25 18:33] cessenat opened #21965 "Unexpectedly compiles with nvhpc anyway despite ^package%gcc"
I ran
$ spack install hypre+int64+mixedint+mpi+openmp %nvhpc@20.11 ^perl%gcc@7.5.0 ^berkeley-db%gcc@7.5.0 ^ncurses%gcc@7.5.0
and
got

==> Installing berkeley-db-18.1.40-xleecsov36kzqyiawtrsb4dhzmpqqzxh
==> No binary for berkeley-db-18.1.40-xleecsov36kzqyiawtrsb4dhzmpqqzxh found: installing from source
==> Error: UnsupportedMicroarchitecture: cannot produce optimized binary for micro-architecture '

[2021-02-25 19:38] alansill commented on #16538
Closing this now to try a more comprehensive approach.

[2021-02-25 19:38] #16538 closed, assigned to nobody

[2021-02-25 20:50] patrickb314 commented on #18565
I had to add some of the logic from the kokkos +wrapper option to the cabana +cuda option to make cabana+cuda compile with spack, thoguh that makes it work. I'm not sure they is the right way to do things, however, since I expect every package that relies on kokkos+cuda is going to have the same issue.

[2021-02-25 21:56] danieldjewell opened #21976 "[suggestion][docs] "Why Spack" Section in Documentation"
### Synopsis
The documentation's [features page](https://spack.readthedocs.io/en/latest/features.html) discusses some differences but doesn't really clearly and succinctly answer the question: "Why Spack?"

### Rationale
<sup>[*In my best [Don LaFontaine](https://en.wikipedia.org/wiki/Don_LaFontaine) voice*]</sup>
***In a world... where the lines ... between package managers are blurred...***

I t

[2021-02-25 22:23] danieldjewell commented on #17598
Yeah, I'm not sure of the rationale behind forcing an upper limit on jobs. In systems with massive numbers of cores (>= ~16) there *seems* to be a benefit in setting the job count to 150%-200% of the number of cores. As @haampie noted, I/O and other overhead tends to keep actual utilization low. Especially depending on what's being built: some builds paralellize very well - some don't (e.g. perhap

[2021-02-25 22:44] ikitayama commented on #15082
Hi, I am still seeing this as of this writing, can someone open this up again? Loading libuuid does not help.

[2021-02-25 22:48] scottwittenburg commented on #18121
This feature is in spack `develop` now (as of #20435), but I didn't add it to the release project for `0.16.1`, so I'm not sure if it's in there or not.

Now during pipeline generation `spack ci generate` check all specs against configured mirrors for a full hash match, even if you pass `--no-prune-dag` (in which case it writes a variable with each generated job indicating whether the spec needs t

[2021-02-25 22:48] #18121 closed, assigned to nobody

[2021-02-25 22:51] haampie commented on #17598
This already works :) for instance in bash `spack install -j2 package &` `spack install -j2 package &` would build at most 2 deps in parallel with 2 cores; and so does `srun -n2 -c2 spack install -j2 package` with slurm on a shared filesystem.

[2021-02-25 23:02] tldahlgren commented on #21937
Yes, it is related to the parallel build support changes.

There is (still) code at the bottom of build queue processing that is *supposed* to be raising an `InstallError` with the following message when a spec that is provided on the command line fails to install:

[code]

The package and associated exception should also be being logged as an ERROR.

I'm wondering if some of the follow-on work fo

[2021-02-25 23:07] tldahlgren commented on #21937
Ah.  Just realized.  The issue here isn't that requested spec failed to install due to an exception; rather, it is skipped because its dependency(ies) failed to install!

[2021-02-25 23:12] tldahlgren commented on #20510
I've been catching up on this thread -- across duplicate tickets -- and now understand the issue.  Build queue processing raises an `InstallError` if any explicitly requested spec fails to install.  I don't recall doing the same if any were skipped.

(Looking at the code now.)

[2021-02-25 23:20] tldahlgren commented on #21319
FYI.  Haven't tried to reproduce with your steps but I suspect, from the duplicate issue thread, that I know what the issue is here and am looking into it.

[2021-02-26 01:11] junghans commented on #18565
@dalg24 @jjwilke is there a clean solution?

[2021-02-26 05:00] eugeneswalker opened #21983 "unifyfs: use of -Werror prevents build with GCC 9.3.0?"
Building `unifyfs@0.9.1%gcc@9.3.0` fails using `spack@develop` (44530588628d4a7b12e76b332d03b5b5cab60378 from `Fri Feb 26 00:42:40 2021 +0100`).

Tested on:
* `Ubuntu 20.04 ppc64le`
* `Ubuntu 20.04 x86_64`

Concrete spec: [unifyfs-lkkzcf.spec.yaml.txt](https://github.com/spack/spack/files/6047452/unifyfs-lkkzcf.spec.yaml.txt)
Build log: [unifyfs-build-out.txt](https://github.com/spack/spack/files/

[2021-02-26 09:42] alalazo commented on #20762
@eschnett Closing this then based on your comment. Feel free to reopen if I misunderstood.

[2021-02-26 09:42] #20762 closed, assigned to nobody

[2021-02-26 09:51] Tom-python0121 opened #21985 "【r-dplyr】After the r-dplyr software is installed using the Spack in CentOS8, an error is reported when the test suite is executed in the tests directory."
Hello,I meet a problem about after the r-dplyr software is installed using the Spack in CentOS8, an error is reported when the test suite is executed in the tests directory.
### Steps to reproduce the issue

[code]
I don't know how to load the **lobstr** module. What is its display in the spack? Can you tell me?

### Information on your system
[root@centos8 spack-src]# spack debug report
* **Spack

[2021-02-26 10:18] alalazo commented on #19313
#21866 has been merged

[2021-02-26 10:18] #19313 closed, assigned to nobody

[2021-02-26 13:32] wadudmiah opened #21987 "conflict directive not in lmod module files"
Hi,

I have the following YAML in my `spack/etc/spack/defaults/modules.yaml`:
[code]
I then refresh my modules:

[code]
When I open a module file, e.g. `/home/admwm1/spack/share/spack/lmod/linux-rhel7-x86_64/intel/18.0.1/autoconf/2.69.lua` there is no `conflict` directive in it, but exists for TCL module files, but not for lmod module file. Should be an easy fix :-)

[2021-02-26 13:59] wadudmiah commented on #21987
Your documentation seems to think the `conflict` directive is TCL specific, but it's not - it also exists for Lmod:

https://lmod.readthedocs.io/en/latest/050_lua_modulefiles.html

Check your documentation in:

https://spack-tutorial.readthedocs.io/en/latest/tutorial_modules.html

in section "Core/Compiler/MPI", where it says "remove the tcl specific conflict directive".

[2021-02-26 14:12] sethrj commented on #15082
@ikitayama If your concretization/build error/platform is different, can you open a new issue that links to this one?

[2021-02-26 15:11] cessenat commented on #20781
Same error too
 * **Spack:** 0.16.0-1079-af988fc32d
* **Python:** 3.6.9
* **Platform:** linux-ubuntu18.04-zen2
* **Concretizer:** original
As a workaround for the moment you can try
spack spec netcdf-c %nvhpc ^cmake%gcc

[2021-02-26 17:09] scottwittenburg opened #21990 "Installation issue: butteryflypack"
Recently the `butteryflypack` package started failing to build on Ubuntu 18.04 in gitlab pipelines with the following error (excerpted, full build output attached):

[code]

### Steps to reproduce the issue

This can possibly be reproduced on any Ubuntu 18.04, but I ran into the problem in this docker container: `ecpe4s/ubuntu18.04-runner-x86_64:2020-09-01`.  Also, enable the following binary mirr

[2021-02-26 17:13] skylerpaulus opened #21991 "Installation issue: JDK"
I believe this error is coming from the licensing side of JDK where to install a package you must first accept the license.

### Steps to reproduce the issue
[code]

I have also downloaded jdk-11.0.10_linux-x64_bin.tar.gz, jdk-14.0.2_linux-x64_bin.tar.gz, and jdk-15.0.2_linux-x64_bin.tar.gz. Then added this to the spack package installer, i.e spack edit jdk. However, when I try to have spack insta

[2021-02-26 20:52] glennpj commented on #21985
@Tom-python0121
Running tests for `r-` packages generally involves needing to load many, perhaps all, of the "suggested" packages for a given package. To run the tests, you will have to load the package(s) being flagged in the error output. However, since Spack does not consider the packages in the "suggests" category to be dependencies there is the possibility, as in the case for `lobstr`, that t

[2021-02-26 22:23] mlawsonca commented on #20998
Just tried rebuilding with:
`spack install 3dtk build_type=Release ipo=true opengl=false opencv=false ^/am3hz27 ^/fmbcdar ^/ejer7ul ^/r2ogl2a`

I have attached the command line output and the spack build outptu.

[command-line-output-spack.txt](https://github.com/spack/spack/files/6052773/command-line-output-spack.txt)
[spack-build-out.txt](https://github.com/spack/spack/files/6052774/spack-build-

[2021-02-27 01:32] CamStan commented on #21983
I've created a patch for this and it will be added in our updated Spack package (along with a few other changes we've had coming) hopefully sometime next week.

[2021-02-27 03:32] vchuravy commented on #20757
I did run into a similar issue to @eschnett :wave: on Satori (MIT PPC machine) and I can confirm that #21408 solved the issue for me.

[2021-02-27 08:21] #20510 closed, assigned to nobody

[2021-02-27 08:21] #21319 closed, assigned to alalazo

[2021-02-27 18:12] eugeneswalker commented on #21983
If you ping me in your upcoming PR, I will greenlight.

[2021-02-28 01:21] mwkrentel commented on #20998
What I meant was that `spack -k` should now work which should fix your fetching
problems.  Anything after that is a separate problem.

[2021-02-28 05:06] eschnett opened #22003 "Installation issue: amrex: Building for too many CUDA architectures"
I am building `amrex` with `+cuda`. I specify `cuda_arch=75` since that is the only architecture I need. Yet it seems that `amrex` is built with many CUDA architectures, as seen in these lines of the log file – there are many `-gencode` options.

[code]

### Steps to reproduce the issue

[code]

### Information on your system

[code]

### Additional information

@mic84 @asalmgren

### General info

[2021-03-01 01:48] Tom-python0121 opened #22008 "[netlib-xblas] [Failed to use the built-in test case] The self-test of the netlib-xblas fails."
Hi,I meet a problem about the self-test of the netlib-xblas fails.
### Steps to reproduce the issue

[code]
I have found that the Makefile in the m4 module does not work. The Makefile in the src file may not work for the Makefile in the m4 module. The specific reason is that the software is outdated (in 2018 (github)). In addition, no community (the source code community netlib-xblas does not have

[2021-03-01 08:42] mslacken opened #22011 "spack external find leads to endless loop"
When binaries called with `spack external find` do no to return, spack itself does not return. As the `spack external find` command does expand regular expressions, there can be more problematic binaries called than intended. This problems e.g occurs when `drkonqui` is installed as it contains a script called `installdbgsymbols.sh` which waits for input, before it returns.
One solution for this is

[2021-03-01 09:04] alalazo commented on #22011
See https://github.com/spack/spack/issues/17012 for the corresponding feature request (please leave this issue open, just adding a link to relate the feature to a reported bug).

[2021-03-01 09:07] Tom-python0121 commented on #21985
@glennpj ,you are right.There is no package called'hms' I have added the **r-hms** dependency to solve the problem, but the error: there is no package called'lobstr' is displayed. Currently, the r-lobstr source code package has been found and enabled in the Spack, the **r-lobstr** dependency has been added to the r-dplyr, and the test passes.

[2021-03-01 09:07] #21985 closed, assigned to glennpj

[2021-03-01 13:45] GianlucaFicarelli opened #22014 "Test dependencies not available when executing `spack test run`"
Dependencies defined in a python package using `depends_on('<py-package>', type='test')` are not considered when running `spack test run`.
Instead, the same dependency is available when using `type='run'`.

According to the documentation [here](https://spack.readthedocs.io/en/latest/packaging_guide.html#adding-install-tests)

Some additional context: I'm trying to execute `pip check` to verify tha

[2021-03-01 15:48] hppritcha commented on #14603
closing this as it seems to be fixed - or more exactly we've moved to newer python versions.

[2021-03-01 15:48] #14603 closed

[2021-03-01 15:56] adamjstewart commented on #22014
Duplicate of #20553

[2021-03-01 18:04] mic84 commented on #22003
@eschnett Thank you for reporting this. Can you try PR #22025 and see if it fixes this. Thank you.

[2021-03-01 19:13] tepperly commented on #18536
I was having this same problem. One of the variables in my environment (ie., printenv) had non-ASCII characters. unset'ing that variable caused a similar error message to go away.

[2021-03-01 19:36] eschnett commented on #22003
@mic84 This patch seems to solve the problem.

[2021-03-01 19:45] #22003 closed, assigned to nobody

[2021-03-01 22:54] #20347 closed, assigned to scheibelp

[2021-03-02 01:17] cosmicexplorer opened #22031 "clingo concretizer fails to handle closed version ranges like 2.6:2.6.99"
[code]

[2021-03-02 02:09] hartzell commented on #17048
@Sinan81 -- Did you ever get @1.5 to build.  We're seeing a similar failure with CentOS7 and gcc@8.4.0.

[2021-03-02 03:13] antiskid56 commented on #21650
I haven't seen the patch merged yet. I did give it a look, and it appears to meet the intent of what I was asking for. qtscintilla is just another option that would be supported by the patch, but would not necessarily be required for fltk support.

[2021-03-02 05:26] ikitayama opened #22038 "Installation issue: neuron"
### Steps to reproduce the issue

[code]

### Information on your system

### Additional information

* [spack-build-out.txt]()
* [spack-build-env.txt]()

### General information

- [ ] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [ ] I have run `spack maintainers <name-of-the-package>` and @mentioned any maintainers
- [ ] I have uploaded the build log and en

[2021-03-02 05:26] ikitayama commented on #22038
@pramodk if I use `^openmpi` it builds fine.

[2021-03-02 07:07] pramodk commented on #22038
Which system is this? Can you post the output of :

[code]

(note that installation of perl is failing and the error is not exactly related to neuron I believe)

[2021-03-02 07:23] ikitayama commented on #22038
It’s JURECA. It’ll be down for maintenance today your time; get back to you
tomorrow.

On Tue, Mar 2, 2021 at 16:08 Pramod Kumbhar <notifications@github.com>
wrote:

[2021-03-02 07:32] ikitayama commented on #22038
Which big machines you have access to?

On Tue, Mar 2, 2021 at 16:23 Itaru Kitayama <itaru.kitayama@gmail.com>
wrote:

[2021-03-02 07:52] pramodk commented on #22038
Our own hpc systems (Blue Brain 5), CINECA, NERSC, Piz-Daint/CSCS. Juelich projects got expired so I don't have access at the moment. But we can debug the issues over zoom if we can't find out the solution.

[2021-03-02 08:13] ikitayama commented on #22038
Okay, report back to you tomorrow my time.

On Tue, Mar 2, 2021 at 4:52 PM Pramod Kumbhar <notifications@github.com>
wrote:

[2021-03-02 08:37] cosmicexplorer commented on #22031
Hm. It also seems like `spack spec` with the original concretizer produced a nonexistent spec for python `2.6.99`? If you don't see that happening on your machine, it *may* have been because I was working on another thing related to version ranges. But I'm *pretty sure* I switched to `develop` to run this.

[2021-03-02 08:47] #21650 closed, assigned to nobody

[2021-03-02 09:13] alalazo commented on #22014
@GianlucaFicarelli Added #20553 to v0.16.2 and v0.17.0 dashboard to keep track of it. Closing this duplicate. Thanks for the report!

[2021-03-02 09:13] #22014 closed, assigned to nobody

[2021-03-02 15:52] EthanS94 commented on #21759
Fixed in merged PR

[2021-03-02 15:52] #21759 closed, assigned to nobody

[2021-03-02 18:11] mcuma commented on #12547
FYI, I just now also ran into this bug and removed it with the diff above.

[2021-03-03 00:24] ikitayama commented on #22038
[code]

[2021-03-03 00:50] Sinan81 commented on #17048
@hartzell  I must have tried building it with gcc@7.4 and gcc@8.3 but it doesn't look like it worked.

[2021-03-03 02:09] vsoch opened #22052 "Proposal: add release: key to spack.yaml"
I'm having discussion with @alecbcs,  and we think it would be really useful to have a release key (or support for custom metadata) in a spack.yaml file. You can follow our discussion [here](https://github.com/autamus/spacktainer-registry/pull/2#issuecomment-789367605), but basically if we are building containers from spack.yaml files, we'd want to bump the version in the spack.yaml file. We could

[2021-03-03 06:40] IncubatorShokuhou opened #22054 "Installation issue: spack install mpas-model"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.16.1-340-ee5992783
* **Python:** 3.8.3
* **Platform:** linux-ubuntu18.04-cascadelake
* **Concretizer:** original

### Additional information

* [spack-build-out.txt](https://gitee.com/IncubatorShokuhou/spack_bug_report/blob/master/mpas-model_20210303/spack-build-out.log)
* [spack-build-env.txt](https://gitee.c

[2021-03-03 15:12] NicolasDerumigny commented on #20551
My bad, this was #20253, now resolved. I leave here the original comment as I believe it may give some idea for another fix for #20555.
\------
I'm not sure whether this is the same issue or not, but I've remarked that I did not have autocomplete on zsh, even with `bashcompinit` in my `.zshrc`. A (partial) way to make this work is:
1. add this piece of code after the `if` block sourcing `spack-com

[2021-03-03 15:50] #14262 closed

[2021-03-03 15:57] #17871 closed, assigned to nobody

[2021-03-03 15:57] #17873 closed, assigned to nobody

[2021-03-03 16:07] sjpb commented on #14339
Is anyone interested in a failure (due to hwloc) for `gromacs@2016.6 ^openmpi fabrics=ucx schedulers=auto ^ucx +thread_multiple` when using the standard concretizer and the "devel" branch? Won't post it unless so!

[2021-03-03 16:21] eugeneswalker opened #22058 "precice@2.2.0: build fails on ubuntu20.04: cmake: fails to find PETSc"
`precice@2.2.0` build fails using:
* `spack@develop` (ac66624196691a9b3d8ea6d3d8749e3b570be7ad from `Wed Mar 3 14:44:04 2021 +0100`)
* `Ubuntu 20.04` (x86_64 and ppc64le)
* `GCC 9.3.0`

Concrete spec: [precice-j6sv4e.spec.yaml.txt](https://github.com/spack/spack/files/6077408/precice-j6sv4e.spec.yaml.txt)
Build log: [precice-build-out.txt](https://github.com/spack/spack/files/6077405/precice-build

[2021-03-03 16:22] #17877 closed, assigned to nobody

[2021-03-03 16:22] #17901 closed, assigned to nobody

[2021-03-03 16:22] #17903 closed, assigned to nobody

[2021-03-03 16:25] alalazo commented on #14339
@sjpb Thanks for chiming in. If it doesn't take a long time I'd be interested to know whether the ASP-based concretizer can solve that spec correctly.

[2021-03-03 16:26] eugeneswalker commented on #22058
Looks like `pkgconfig` is a build dep of precice. I am working in a minimal environment and it looks like it doesn't include pkgconfig. I will submit a PR making this build dep explicit.

[2021-03-03 16:31] fsimonis commented on #22058
@eugeneswalker We already noticed this this morning and tested it internally. Sorry for the inconvenience!

[2021-03-03 17:10] #22058 closed, assigned to nobody

[2021-03-03 20:37] #18880 closed, assigned to nobody

[2021-03-03 21:24] EthanS94 opened #22063 "Installation issue: ParaView build on cray results in (multiple) broken hdf5 links, due to python rpath inclusion"
### Steps to reproduce the issue

I have only reproduced this in a cnl7 environment. I don't hit this error in a  `linux-rhel7-broadwell` environment. I've found that reverting the change in #21768 fixes the problem, but I don't know what the next step is for solving this.

[code]

### Information on your system

[code]

### Additional information

* [spack-build-out.txt]()
* [spack-build-env.txt]

[2021-03-03 21:24] EthanS94 commented on #22063
@danlipsa have you seen anything like this before?

[2021-03-03 22:36] EthanS94 commented on #22063
I'm guessing paraview is finding hdf5 libraries from somewhere on the system and not setting it up correctly in the final install. If I don't revert #21768 and use `+hdf5` instead of `~hdf5` , the build works as expected. Maybe paraview should always depend on hdf5? Or at least have the variant default to true?

[code]

[2021-03-04 09:32] sjpb commented on #14339
Hmm, I just tried to set it in the site-wide config, following the instructions in [here](https://github.com/spack/spack/pull/19501#issue-509198913):

[code]

Did I misunderstand that?

[2021-03-04 09:34] sjpb commented on #14339
And deleting that file again, and trying `spack solve` doesn't work either:
[code]

Appreciate any help getting this working!

[2021-03-04 09:45] alalazo commented on #14339
@sjpb Which version of Spack are you using? If you could use `develop` and have access to a C++14 enabled compiler Spack can now bootstrap clingo from sources. See docs [here](https://spack.readthedocs.io/en/latest/getting_started.html#optional-bootstrapping-clingo)

[2021-03-04 09:49] sjpb commented on #14339
Pulled from `develop` yesterday. I installed `clingo` using `spack install clingo@master`, using gcc9.

[2021-03-04 10:11] alalazo commented on #14339
@sjpb Try to pull a commit with 10e9e142b75c6ca8bc61f688260c002201cc1b22 in, that should simplify the setup.

EDIT: for the record here's what I obtain on my Mac:
[code]

[2021-03-04 13:29] robert-mijakovic opened #22082 "Installation issue: NCL fails to install due to missing ft2build.h"
### Steps to reproduce the issue

During the installation of NCL on freshly installed CentOS Linux 8 I have experienced a missing header, ft2build.h.
The reason for the missing header is that the cairo-ft.h header requires ft2build.h which resides inside include/freetype2 directory but the build system uses only include.

[code]

### Information on your system

[code]

### Additional information

[2021-03-04 14:39] shefmarkh opened #22083 "Installation issue: cuda@11.2.1"
Hello,

When installing cuda I am hitting this error:

==> cuda: Executing phase: 'install'
Extraction failed.
Ensure there is enough space in /tmp and that the installation package is not corrupt
==> Error: ProcessError: Command exited with status 15:
    '/usr/bin/sh' '/mercury/data2/mhodgkin/spack-stage/spack-stage-cuda-11.2.1-ecqs2wxhculalyf3hqtee2bxgt7fhz7u/spack-src/cuda_11.2.1_460.32.03_lin

[2021-03-04 15:46] #21983 closed, assigned to eugeneswalker

[2021-03-04 17:28] sethrj commented on #13413
I just hit this myself -- do we need a `+binutils` variant for LLVM like we have with GCC?

[2021-03-04 18:04] gonsie opened #22088 "Mac M1 sysctl"
I'm getting some sysctl error messages when running the spack setup-env shell scripts.

### Error messages

For both bash and fish I see:

[code]

I also get this when I run `spack arch`

[code]

I'm running macOS 11.2.1, python3 version 3.9.1, with Apple's new M1 chip.

### Information on your system

[code]

### Additional information

- [X] I have run `spack debug report` and reported the versi

[2021-03-04 19:02] alalazo commented on #22088
Thanks @gonsie The separate report is here https://github.com/archspec/archspec/issues/38 I was waiting to have access to some M1 CPU to better test the support for myself and don't code it "blind", but maybe it's time to tackle the issue. I can either:
- Try to code the support for M1 based on the sysctl dump in the issue linked and bother you for testing it
- Help you develop the support for it

[2021-03-04 20:29] gonsie commented on #22088
Thank you for the archspec link!

I took a look, and maybe you can try to code it up. I am happy to test. I'm also in the spack slack (@gonsie) if you want to work with me in real time.

To get started, here is what sysctl does have:

[code]

The query `sysctl -n machdep.cpu.features` is valid, but returns an empty string. The queries for `machdep.cpu.leaf7_features`, `machdep.cpu.vendor`, and `ma

[2021-03-04 21:33] ikitayama commented on #22038
`spack install neuron@develop+mpi+python %intel ^intel-mpi` fails as well at `perl` building "phase".

[2021-03-04 21:37] ikitayama commented on #22038
@pramodk as you say, perl just can't be built with Intel compiler, I'll make a new Issue.

[2021-03-04 21:47] pramodk commented on #22038
@ikitayama : it's pity that I don't have access to Juelich system to help you concretely. In general, on many HPC systems, I avoid building large number of dependencies. For example: dependencies like bison, perl, gettext, m4, cmake, flex etc. are already present on the system.  So I create `packages.yaml` and mark these packages as external. See our (old) config from Jureca here: https://github.c

[2021-03-04 21:57] ikitayama commented on #22038
With all due respect, that’s exactly I’d like to avoid; Spack is supposed
to work well if each spec is built from scratch most of the time.

On Fri, Mar 5, 2021 at 6:47 Pramod Kumbhar <notifications@github.com> wrote:

[2021-03-04 22:07] pramodk commented on #22038
From your response, that `....most of the time` caught my attention! 😄  (agree with you! but if you are working 4-5 different systems then sometime re-using **build** dependencies is not bad idea).

[2021-03-04 22:48] ikitayama opened #22093 "Installation issue: perl"
### Steps to reproduce the issue

[code]

### Information on your system

### Additional information

* [spack-build-out.txt]()
* [spack-build-env.txt]()

### General information

- [ ] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [ ] I have run `spack maintainers <name-of-the-package>` and @mentioned any maintainers
- [ ] I have uploaded the build log and en

[2021-03-04 22:49] ikitayama commented on #22093
No issue at all with GCC.

[2021-03-04 23:59] antiskid56 opened #22095 "Installation issue: fltk"
### Steps to reproduce the issue
$ spack install octave@6.2.0+fftw+fontconfig+freetype+gnuplot+curl+fltk
$ [path-to-octave]/bin/octave-6.2.0
octave:1> graphics_toolkit
ans = fltk
octave:2> sombrero
[error message includes "libfltk_gl.so.1.3: undefined symbol: XGetUtf8FontAndGlyph"]
octave:3>

[code]

### Information on your system

* **Spack:** 0.16.1-1571-0c38c86403
* **Python:** 3.6.9
* **Platfo

[2021-03-05 00:15] antiskid56 commented on #22095
This is related to `Installation issue: octave #21650`, and `octave: provides fltk with opengl, adds qscintilla #21903`

The patch #21903 to octave allows linking properly to fltk@1.3.3, but when attempting to plot, I get a run time error as described above.

Based on information found in web searches, I tried adding --enable-xft to the configuration for fltk@1.3.3, and adding libxft as a dependen

[2021-03-05 01:35] ikitayama commented on #22093
Ok with Clang

[2021-03-05 01:36] ikitayama commented on #22093
Just for the record:

[code]

[2021-03-05 05:05] ikitayama commented on #22038
@pramodk does NEURON explicitly rely on Perl, or indirectly via packages that NEURON needs?

[2021-03-05 05:06] ikitayama commented on #22038
I ask because `nvhpc` cannot build Perl, thus building NEURON with `nvhpc` fails as well.

[2021-03-05 05:50] ikitayama commented on #21744
@haampie I experienced that `perl` is difficult to build if compiler is chosen other than GCC. Is this expected?

[2021-03-05 06:20] Bitllion opened #22104 "How can add a special compiler?"
I want use some special compilers ,like mybuild-new-gcc,I tried to run command 'spack find xxx' but it dosen't work

[2021-03-05 07:00] kuramoto-fj opened #22108 "Installation issue: py-nbconvert"
Hello,

I builded py-nbconvert, but I didn't get a expected results.
There are copies in build of py-nbconvert.  One  of the copy commands In the spack-build-out.txt of it is below:

`copying share/jupyter/nbconvert/templates/asciidoc/conf.json ->
  $HOME/spack/opt/spack/linux-rhel8-skylake_avx512/gcc-8.3.1/
  py-nbconvert-6.0.1-vn5kgn2s34ise64hcognusscc3erh4cm/""/share/jupyter/nbconvert/templates

[2021-03-05 09:28] alalazo commented on #22104
The `spack find` command is used to query what is available in the database of installed software. The command you're looking for is:
[code]
See the [Getting Started](https://spack.readthedocs.io/en/latest/getting_started.html#compiler-configuration) section of our docs for more information.

[2021-03-05 09:30] haampie commented on #22038
[code]
seems odd... maybe it detects the compiler incorrectly?

[2021-03-05 09:38] haampie commented on #18084
I ran into the same problem. What is necessary to fix this? Is `depends_on('openssh', type='run')` too heavy?

[2021-03-05 10:13] Bitllion commented on #22104
Sorry,it's my fault,I typed less.
Run command 'spack compiler find <PATH>' ,it can't find my compiler.
I also tried to edit the compiler yaml，replace the cc path with my own optimized gcc path,run the command 'spack compilers',the output is normal,but when I install my app,it failed,the output :ERROR 38

[2021-03-05 10:20] haampie commented on #22093
does it detect the intel compiler as a gcc compiler?

you might want to file an issue with perl, not spack

[2021-03-05 10:22] ikitayama commented on #22093
I will.

On Fri, Mar 5, 2021 at 19:21 Harmen Stoppels <notifications@github.com>
wrote:

[2021-03-05 10:26] alalazo commented on #22104
Is your compiler in the `PATH`? If you don't specify a path explicitly that's where Spack would look for compilers. Also, do you have other GCC at the same version registered? If you have, say, a GCC 10.2.0 already registered and Spack finds another customized GCC 10.2.0 in the PATH it wouldn't figure out that these two are built differently.

[2021-03-05 10:31] ikitayama commented on #22093
I tried develop version but didn't work.

On Fri, Mar 5, 2021 at 19:21 Itaru Kitayama <itaru.kitayama@gmail.com>
wrote:

[2021-03-05 10:50] pramodk commented on #22038
No, perl is not needed. Only dependencies listed are https://github.com/spack/spack/blob/3c1b30575298c56054b261eaa0d6f6a30d2dceb8/var/spack/repos/builtin/packages/neuron/package.py#L36:

![image](https://user-images.githubusercontent.com/666852/110105451-afa90700-7da8-11eb-9824-4c32905ac1b5.png)

But as you can see in the `spack spec ` output, it's dependency from bison->help2man.

[2021-03-05 10:53] ikitayama commented on #22038
As Been pointed out Perl isn’t configured to detect Inte compile I’ll bring
this to Perl dec community.

On Fri, Mar 5, 2021 at 19:50 Pramod Kumbhar <notifications@github.com>
wrote:

[2021-03-05 11:48] mdorier opened #22111 "Can't setup spack: ImportError: No module named 'typing'"
I cloned the develop version of spack and called `. spack/share/spack/setup-env.sh` and got the following error:

[code]

The error doesn't show up with the latest release (0.16.1). My platform has python 2.7.6 and python 3.4.3. [This page](https://spack.readthedocs.io/en/latest/getting_started.html) indicates that 2.7 should work fine.

[2021-03-05 11:51] pramodk commented on #22038
@ikitayama : for you to be not blocked, I assume you are already using something like:

[code]

[2021-03-05 11:54] sethrj commented on #18084
@haampie maybe a runtime dependency for ssh as a new variant?

[2021-03-05 12:54] middelkoopt opened #22113 "Spack on GitLAB is out of date and fails on modern systems"
https://gitlab.com/spack/spack.git is way out of date and can cause new user confusion.

### Rationale

The placeholder repo on gitLAB.com is out of date and it is not obvious that the wrong repo was cloned.  Help prevent PEBCAK!

### Description

I was running a live coding demo to teach Spack and cloned the GitLab version of spack.  It errored out because it could not find python (python2 was no

[2021-03-05 15:27] alalazo commented on #22111
@mdorier Python 2.7 is tested on each PR, so there may be something related to your environment. Can you post both:
[code]
and
[code]
?

[2021-03-05 15:36] mdorier commented on #22111
[code]

It would seem that spack is using python 3.4 when setup-env.sh is called. The machine I'm working on hasn't changed its python installation recently so is it possible that spack was previously using python 2.7 by default (or more generally whatever the `python` command points to) and is now using `python3` by default?

[2021-03-05 15:46] alalazo commented on #22111
I think the issue is the following: we don't support Python 3.4 since a long time and we prefer using python3 over python. The solution in an environment like yours is setting `SPACK_PYTHON=$(which python)` explicitly before sourcing the script. See #21222 for more details. Let me know if you still have issues.

[2021-03-05 16:06] mdorier commented on #22111
This works, thanks.

[2021-03-05 16:06] #22111 closed, assigned to alalazo

[2021-03-05 16:36] adamjstewart commented on #22108
I'm able to successfully install `py-nbconvert` on my system without any problems. I've been using Spack-installed Jupyter Notebook for a while, so I don't think the installation is buggy for me. Does the installation crash for you? The most recent change to the package was @t-karatsu's #21827, but it works for me. @iarspider and @healther have contributed to the package in the past, although ther

[2021-03-05 17:41] BenjaminRodenberg opened #22116 "If using external python, cannot install py-wheel via spack"
I tried to install `py-wheel` via spack using the external python installation.

### Steps to reproduce the issue

The following commands are run:

[code]

### Error Message

[code]

Log:

[code]

### Information on your system

[code]

I performed all experiments in docker. As a basis I use the following `my_Dockerfile`:
[code]

I build and run this image via
[code]

### Additional information

I

[2021-03-05 18:04] tuxfan opened #22117 "Installation issue: graphviz"
Spack fails during concretization on graphviz with pangocairo support.

### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.16.1-1615-4097a0c93f
* **Python:** 3.8.7
* **Platform:** linux-fedora32-skylake
* **Concretizer:** original

### General information

- [x] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [x] I have sear

[2021-03-05 18:09] adamjstewart commented on #22116
This doesn't make sense to me, `py-setuptools` is listed as a build dependency. Can you check the `spack-build-env.txt` file? It should be in the same directory as the build log. See what the value of `PYTHONPATH` is set to and whether or not it includes the setuptools dir.

[2021-03-05 18:28] BenjaminRodenberg commented on #22116
I'll provide the full file below. The `PYTHONPATH` contains `/spack/opt/spack/linux-ubuntu20.04-skylake/gcc-9.3.0/py-setuptools-50.3.2-lv3w36g2a3lsamjc2y3l7oarflye6u5s/lib64/python3.8/site-packages`.

[code]

[2021-03-05 19:38] haampie opened #22118 "dependents not removed when copying a spec with specific deptype"
### Steps to reproduce the issue

This occurs in #22115

[code]

The dep structure is this:

[code]

So `ncurses` has 3 parents (libedit, openssh, readline), but only libedit and openssh are part of the link deps and readline is not.

If you now make a copy of a concretized `openssh` with just link deps, it does not remove parent edges to non-link type deps:

[code]

[2021-03-05 19:43] robert-mijakovic commented on #22082
Seems to be fixed with PR #18440, thus, I'm closing it.

[2021-03-05 19:43] #22082 closed, assigned to nobody

[2021-03-05 20:05] BenjaminRodenberg commented on #22116
Maybe this helps: In a similar setup I face the issue described in https://github.com/spack/spack/issues/18520, which according to the discussion also seems to be related to `PYTHONPATH`.

[2021-03-05 20:39] adamjstewart commented on #22116
That issue should have been fixed by #18523, as evidenced by the presence of `lib64` in your `PYTHONPATH`. Not sure what else could possible be wrong. You could try using `spack build-env` to step into the build environment for `py-wheel` and see what the `PYTHONPATH` looks like and try importing things.

[2021-03-05 21:06] ikitayama commented on #22038
Yes we can do this, but Perl needs to be built with Intel compiler.

On Fri, Mar 5, 2021 at 20:51 Pramod Kumbhar <notifications@github.com>
wrote:

[2021-03-05 22:04] ikitayama commented on #22093
https://github.com/Perl/perl5/issues/18624

[2021-03-05 22:29] pramodk commented on #22038
Wondering why perl is needed with Intel compiler.

[2021-03-05 22:33] ikitayama commented on #22038
Then could you edit the package.py to describe Perl needs to be built with
%gcc ?

On Sat, Mar 6, 2021 at 7:29 Pramod Kumbhar <notifications@github.com> wrote:

[2021-03-05 22:35] ikitayama commented on #22038
I remember Intel compiler slightly outperforms when computing exponentials
in neuronal simulations this is like to keep this option available rather
then limiting to Clang or GCC.

On Sat, Mar 6, 2021 at 7:33 Itaru Kitayama <itaru.kitayama@gmail.com> wrote:

[2021-03-05 22:53] pramodk commented on #22038
In Spack, we don't hardcode compiler into packages. So this needs to be done outside (e.g. on CLI by user).

(And yes, it's true that intel compiler is faster for math functions. That's why install neuron with intel but build dependencies like Perl, Bison, Flex, CMake etc could be installed with GCC).

[2021-03-05 23:01] ikitayama commented on #22038
Alright then I’ll see the Perl community addresses the build issue with
Intel compiler.

On Sat, Mar 6, 2021 at 7:53 Pramod Kumbhar <notifications@github.com> wrote:

[2021-03-06 00:13] ikitayama commented on #22038
[code]

[2021-03-06 06:43] pramodk commented on #22038
Seems like CMake with Intel MPI problem : https://gitlab.kitware.com/cmake/cmake/-/issues/21634. ?

[2021-03-06 06:48] ikitayama commented on #22038
IntelMPI/2019.8.254

This is the module I use on JURECA-DC

On Sat, Mar 6, 2021 at 3:43 PM Pramod Kumbhar <notifications@github.com>
wrote:

[2021-03-06 23:40] ikitayama commented on #22038
Obviously, this works fine: `spack install neuron@develop+python~mpi %intel ^perl%gcc` just for the record; @pramodk

[2021-03-07 06:57] lockshaw commented on #19531
I ran into this issue as well and it definitely seems to be caused by `include` and `lib64` being symlinks. I was able to fix it by modifying the `install` procedure in the CUDA package to replace the symlinks with a full copy of the directory. Is this a fix that should be applied to the package, or does a change need to be made to the underlying environment functionality?

@ax3l recommended I men

[2021-03-07 14:45] adamjstewart commented on #19531
There is a way to modify the environment functionality to handle this. We had to do something similar for Python. I'm not aware of the details, but @scheibelp or @becker33  would know.

[2021-03-07 16:35] mpokorny commented on #21399
Both PRs that address these issues have been merged into develop. This issue should be closed.

[2021-03-08 04:32] ikitayama opened #22169 "Installation issue: neuron"
### Steps to reproduce the issue

[code]

### Information on your system

### Additional information

* [spack-build-out.txt]()
* [spack-build-env.txt]()

### General information

- [ ] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [ ] I have run `spack maintainers <name-of-the-package>` and @mentioned any maintainers
- [ ] I have uploaded the build log and en

[2021-03-08 07:47] kuramoto-fj commented on #22108
I know there are no changes to the recipe of py-nbconvert between the above versions.
And although the installation of py-nbconvert itself succeeds, the location where it is installed is strange in the version that reported the error.

- correct:
 spack/opt/spack/linux-rhel8-skylake_avx512/gcc-8.3.1/ py-nbconvert-6.0.1-xxx/share/jupyter/nbconvert/templates/asciidoc

- wrong:
 spack/opt/spack/linux

[2021-03-08 16:24] a-jp opened #22178 "Installation issue: intel-oneapi-compilers and intel-onaapi-mpi"
### Steps to reproduce the issue

[code]

### Information on your system
osx (10.15.7 Catalina)

spack debug report
* **Spack:** 0.16.1-1629-b642871b23
* **Python:** 3.8.2
* **Platform:** darwin-catalina-skylake
* **Concretizer:** original

@rscohn2 I have tried this on both the develop branch and 0.16.1 with the same result.

### Additional information

Successfully installed the compilers and th

[2021-03-08 17:02] rscohn2 commented on #22178
Thanks for letting me know. I didn't know that spack works on OSX. I need to download a different installer.

I will add the compilers, but there is no MPI for OSX
https://software.intel.com/content/www/us/en/develop/articles/oneapi-standalone-components.html

[2021-03-08 17:07] a-jp commented on #22178
Thanks for the update. Odd, i installed the HPC/mpi pack from the intel website for OS X. Is there something else that makes you say there isn't mpi for OS X?

[2021-03-08 19:27] scheibelp commented on #19531
In short: https://github.com/spack/spack/issues/19531#issuecomment-792228997 I think is the best short-term fix for this

In more detail:

"copying" symlinks in general would require modifications to the core Spack code. I can't remember (or never had to understand in the first place) why we may want to avoid copying symlinks. Ultimately I think we'll either need to modify that to include all syml

[2021-03-09 03:19] Bitllion commented on #22104
use sapck commands
input:  spack compiler find /usr/bin/epyc-gcc
output: ==> Found no new compilers

[2021-03-09 03:42] Tom-python0121 opened #22187 "[grib-api@1.24.0] 14 self-test cases fail to be executed."
I meet a problem about Grib-api Self-Test Failure
### Steps to reproduce the issue

[code]
This version is outdated. Currently, https://software.ecmwf.int/wiki/display/GRIB/Home in the grib-api community has not been released. Four years ago, Replacing **GRIB API** with **ecCodes** is expected to be transparent for current GRIB API users was described. In fact, the ECCodes version is found when yo

[2021-03-09 03:54] rscohn2 opened #22188 "github actions CI wedged"
@scheibelp @tldahlgren
There are many jobs queued up in github actions. Something might be wedged. Feel free to kill all my jobs: oneapi standalones as the results are not useful now.

[2021-03-09 07:49] alalazo commented on #22188
@rscohn2 Thank you very much for the heads up. I checked that #21904 was indeed closed and canceled all the pending CI jobs.

[2021-03-09 07:49] #22188 closed, assigned to nobody

[2021-03-09 07:58] alalazo commented on #22104
If the executable is named `epyc-gcc` I'm afraid you have to edit your `compilers.yaml` manually. The detection of compiler's type is based on regexes and for GCC none of the current rules include having "epyc" as a prefix.

[2021-03-09 08:30] Bitllion commented on #22104
Thank u very much,I modify my gcc's name,and it work!

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Massimiliano Culpo"<notifications@github.com&gt;;
发送时间: 2021年3月9日(星期二) 下午3:58
收件人: "spack/spack"<spack@noreply.github.com&gt;;
抄送: "悦强"<yueqiang_fan@foxmail.com&gt;; "Author"<author@noreply.github.com&gt;;
主题: Re: [spack/spack] How can add a special compiler? (#22104)

If the executabl

[2021-03-09 08:31] #22104 closed, assigned to nobody

[2021-03-09 08:33] #21399 closed, assigned to nobody

[2021-03-09 08:56] Bitllion opened #22191 "Installation issue: How to install local source code package?"
I optimized some programs of BLAS and used makefile to build them。If the source code is in the official warehouse, I can create an installation definition script through `spack create http://www.netlib.org/blas/blas-3.8.0.tgz` command, which is ok。But when I run `spack create /home/bit/blas-optimized-3.8.0.tgz`, it not work,the output like this:
[code]

[2021-03-09 09:45] a-jp commented on #22178
@rscohn2 I take that back.  You've got to work quite hard going through the docs/release notes to find that while you can down the HPC kit for OS X, they get don't give you any of the HPC parts for OSX (a la MPI).  That's annoying.  Compilers would be good though if you can fix that.  If you have any further info on the MPI side for OSX please let me know?  Do you know why that's been done?

[2021-03-09 21:08] rscohn2 commented on #22178
I wasn't a part of the decision about whether MPI should support MacOS. Usually they consider # users and the cost to develop/maintain. In HPC, Mac is popular for development, but used less for production. We have C++, Fortran, MKL, DAL, IPP, TBB, but not MPI and some others.

I was hoping that adding MacOS support to spack would just require adjusting the installer URL's and options, but I found

[2021-03-09 21:14] rscohn2 commented on #22178
@scheibelp : Is there any precedent for spack installing a package that requires sudo?

If the user does a sudo spack install, then I think there will be a problem with root owning the files. Ideally, installer team will tell me how to install without sudo and it will be similar to linux.

[2021-03-09 21:22] scheibelp commented on #22178
Enough people asked that I wrote https://github.com/spack/spack/pull/9521, but that PR is now out of date (so not very useful, but point being that you are right that Spack doesn't support installs needing sudo right now and it would take some work to make it work).

[2021-03-10 03:23] fubingting opened #22209 "DPDK -MakefilePackage TO MesonPackage"
According to https://github.com/DPDK/dpdk/blob/main/Makefile, the latest version can only be compiled in meson, and all historical versions can be compiled in meson. Can I submit a patch to change the package type?

[2021-03-10 04:56] kuramoto-fj commented on #22108
I've found the same issue on the other systems below and I'll report it.

$ spack debug report
* **Spack:** 0.16.1-1643-26e73e848d
* **Python:** 3.6.8
* **Platform:** linux-rhel8-a64fx
* **Concretizer:** original

I attached the build logs of oss that is causing the same phenomenon.
Please search for  "running install_data" in the logs.

[py-ipython-7.18.1-spack-build-out.txt](https://github.com/s

[2021-03-10 08:19] Tom-python0121 opened #22213 "sandbox: unit tests fail"
Hello,I meet a problem anout FAILED (script.at:13)[sandbox@sandbox-2.20].
### Steps to reproduce the issue

[code]
As you can see, the compiler tells me how to solve the problem and the test has passed. However, I do not find the sanbox community in the github community and cannot feed back the problem. Please go to the website to feed back the problem and choose which path.Can you help me find it

[2021-03-10 13:01] jjellio opened #22222 "compiler.yaml (and possibly packages.yaml) files requires undocumented order of modules"
I've been developing a SPACK `cray/compiler.yaml` and randomly seemed to start getting missing `<mpi.h>` or the configures would fail to link `cannot find libmpi.so`.  With some digging (verbose compiler flags + linker). I noticed sometimes I was missing my MPI include path, and other times I was missing MPI in the rpath or library path.  My intuition was that I screwed up defining an external `mv

[2021-03-10 13:38] rscohn2 commented on #22178
Installer team says there is no way to use their installer on MacOS without sudo. I will put in a feature request. It is not certain that this would be approved, and if it were, it would take months before it shows up in a released product.

I recommend:
* Change the title of the issue to MacOS support for oneAPI product packages
* Close the issue. It doesn't seem likely that this will be fixed.

[2021-03-10 14:46] #3211 closed

[2021-03-10 14:47] alalazo commented on #3211
Closing since no reply was given in the last year. Feel free to reopen if still an issue.

[2021-03-10 14:51] alalazo commented on #4333
@samcom12 Apologies for the late reply, I missed you comment. The syntax changed in the meanwhile:
[code]

[2021-03-10 14:54] alalazo commented on #4581
Closing this very old issue, since it's stale and the recipe for Paraview got reworked in the last 3 years. Feel free to reopen if the issue still persist.

[2021-03-10 14:54] #4581 closed

[2021-03-10 14:55] rscohn2 commented on #22178
@DanVev: Any thoughts on this?

[2021-03-10 15:01] alalazo commented on #5253
Closing as stale. Feel free to reopen.

[2021-03-10 15:01] #5253 closed

[2021-03-10 15:05] alalazo commented on #5507
See https://github.com/spack/spack/issues/5507#issuecomment-332660520

[2021-03-10 15:05] #5507 closed

[2021-03-10 15:16] gartung commented on #4333
Sorry no.

[2021-03-10 15:22] alalazo commented on #5590
Closing since we never got a reply to: https://github.com/spack/spack/issues/5590#issuecomment-334064789 It's very likely not an issue (or not an issue anymore).

[2021-03-10 15:22] #5590 closed

[2021-03-10 15:24] alalazo commented on #5718
Closing as not an issue anymore.

[2021-03-10 15:24] #5718 closed

[2021-03-10 15:29] alalazo commented on #6199
This should be solved by the new ASP-based concretizer.

[2021-03-10 15:29] #6199 closed

[2021-03-10 15:34] alalazo commented on #5846
Closing as stale. Feel free to reopen if this is still relevant.

[2021-03-10 15:34] #5846 closed

[2021-03-10 15:36] alalazo commented on #5908
Closing as stale. Feel free to reopen if this is still relevant.

[2021-03-10 15:38] alalazo commented on #6198
Closing as stale. Feel free to reopen if this is still relevant.

[2021-03-10 15:38] #6198 closed

[2021-03-10 15:49] #6932 closed

[2021-03-10 15:49] alalazo commented on #6932
#7171 has been merged a long time ago...

[2021-03-10 16:30] alalazo commented on #4519
This issue is still there. On my Mac I get:

<details>
<summary>$spack install pig-config %gcc@10.2.0 </summary>

[code]

</details>

This seems to point to these open bugs:
- https://gcc.gnu.org/bugzilla/show_bug.cgi?id=93082
- https://openradar.appspot.com/radar?id=4952611266494464

[2021-03-10 17:51] adamjstewart commented on #22209
Yes, please do! The exact PR will depend on whether the current versions of the package can be built with Meson or whether they require the old makefile build. I would suggest adding `deprecated=True` to any older versions that don't build with Meson so that they can be removed in a future Spack release, but keeping them for now and allowing them to build with Makefiles. See the `gtkplus` package

[2021-03-10 17:53] adamjstewart commented on #22213
You can add a patch to the package if you want to fix this. It's too bad the developers aren't responding.

[2021-03-10 17:55] adamjstewart commented on #22191
Duplicate of #2545

[2021-03-10 17:55] #22191 closed, assigned to nobody

[2021-03-10 18:02] mathstuf commented on #4519
Using [`pkgconf`](https://github.com/pkgconf/pkgconf) might be another plausible solution here.

[2021-03-10 18:28] alalazo commented on #4519
@mathstuf It actually is. I was just verifying if the reported failure was still there (to check if the issue ought to be closed or not).

[2021-03-11 01:08] simon28li commented on #21840
@Sinan81 Can you give me some help with this?

[2021-03-11 01:31] Tom-python0121 commented on #22213
@adamjstewart Thank you for your advice on submitting a patch to fix this test bug.

[2021-03-11 04:47] Sinan81 commented on #21840
Sure. Why not submit a pull request? All you need to do is to uncomment the lines with cyrus and openslp, and make sure it builds.

[2021-03-11 04:59] ikitayama commented on #15082
On Fugaku login node I see:
[code]

[2021-03-11 05:53] ikitayama commented on #22038
For the record, building NEURON with Fujitsu compiler works fine, with or without Fujitsu MPI library. So close this issue.

[2021-03-11 05:53] #22038 closed, assigned to nobody

[2021-03-11 06:12] ikitayama commented on #22169
This is the issue with the NVHPC compiler.

[2021-03-11 11:33] Tom-python0121 opened #22241 "Failed to install and compile py-pandas@1.2.3"
Hello,I meet a problem about failed to install and compile py-pandas@1.2.3
### Steps to reproduce the issue

[code]
The apple-libuuid display conflict is that it is supported by the apple system, and a conflict will be reported when installing it on linux. Can you remove conflicts ('platform=linux') so that the software can be installed on linux, or do you have any other way to provide it to me?
#

[2021-03-11 15:04] gdolle opened #22246 "Proposal: refactor config.yaml install_tree"
Hi everyone,

It seems the config.yaml only allows to set the install root directory (+ specific path) and the current default tree does not really allow prefixed install in standard path (e.g /var, /etc, /usr/share, /usr/local/share etc..).

PS: I find also the current config keys a bit confusing (_dirs _roots _tree)

I'd have imagine something more like

[code]
to allow system/user packages syst

[2021-03-11 16:41] adamjstewart commented on #22241
Spack should only use `apple-libuuid` on macOS by default, on Linux it should default to `util-linux-uuid`. I'm not sure why it's trying to use `apple-libuuid`. What does your packages.yaml look like?

To get around this, simply use:
[code]

[2021-03-11 20:21] andredepinhovieira opened #22252 "Installation issue: alps"
### Steps to reproduce the issue
After failing to build alps with ./spack install alps%gcc@6.5.0 due to dependency problems with py-numpy, I tried specifying versions as indicated below:

$ ./spack install alps%gcc@6.5.0 ^py-numpy@:1.19 ^py-scipy@:1.5

However, I get thousands of error messages when installing boost, the first ones being given below:

==> Installing boost-1.63.0-s23bzdjur4fp7rrtsy

[2021-03-11 20:45] Sinan81 commented on #22252
@andredepinhovieira alps won't compile with python version higher than 3.6 since boost@1.63 fails to build with brand new python versions. I suggest that you uncomment `depends_on('python@:3.6.99', type=('build', 'link', 'run'))` line and build with python <= 3.6

[2021-03-11 23:39] andredepinhovieira commented on #22252
Ubuntu 20.04 ships with Python 3.8. I installed 3.6 and pointed /usr/bin/python3 to /usr/bin/python3.6.
After that, just to be on the safe side, I cloned spack to another folder, installed gcc 6 and ran './spack install alps%gcc@6.5.0 ^py-numpy@:1.19 ^py-scipy@:1.5'.
The same errors were reported, while './spack debug report' outputs
* **Spack:** 0.16.1-1674-d0610f7a39
* **Python:** 3.6.13
* **Pla

[2021-03-12 03:02] Sinan81 commented on #22252
Are you trying to use the system python instead of building it with spack? If not, then there is no need to modify `/usr/bin/python3` . When building packages Spack sanitizes the environment so that spack packages only depend on other spack packages (with a few rare exceptions).

[2021-03-12 06:09] Sinan81 commented on #22252
As you see I've build alps with multiple gcc versions including 6.5:
[code]
So, the build should just work. Is there any reason you're using gcc@6.5? When I first created `alps` package, it wouldn't compile with gcc >= 7 however it seems recently someone added a patch so that the package now compiles with newer gcc inluding versions 7 and 8.

[2021-03-12 07:29] #21285 closed, assigned to nobody

[2021-03-12 10:51] vdanilin commented on #22178
Technically, the installer can support user installation, but this requirement comes from the product side that we must have root/sudo privilege to install oneAPI products (e.g. due to XCode integration and others). The same was for all PSXE products.
The only solution I see here is to install packages under sudo spack, I'll test such a case soon to see how it works.

[2021-03-12 12:40] rscohn2 commented on #22178
If you sudo spack install ...

Then root will own some of the files, including files that spack creates. I am not sure if this would work

[2021-03-12 12:55] vdanilin commented on #22178
Well, the installer creates files under root anyway even if you install the package manually.
But yes, you are right, some spack files can be affected in this case which might be unacceptable for the user.
I would be interested to hear what spack developers think about sudo installation.

[2021-03-12 13:01] alalazo commented on #2150
There are unit tests now to verify this is working with the new concretizer.

[2021-03-12 13:01] #2150 closed

[2021-03-12 15:10] andredepinhovieira commented on #22252
I was using gcc 6.5 following the instructions in https://lists.phys.ethz.ch/pipermail/comp-phys-alps-users/2020/003520.html
Now I installed gcc 8.3 within Spack, removed the system-wide version of Python 3.6, and the output of './spack find python' is given below

# ./spack find python
==> 3 installed packages
-- linux-ubuntu20.04-skylake / gcc@6.5.0 ------------------------
python@3.6.13

-- lin

[2021-03-12 20:57] Sinan81 commented on #22252
That's fine. Spack **is** using system python (as it should) however it is building packages with Spack built python. I will look into this issue over the weekend. Overall, this is an issue with building boost as opposed to alps.

[2021-03-12 20:58] Larofeticus opened #22268 "==> Error: TypeError: expected str, bytes or os.PathLike object, not NoneType"
### Steps to reproduce the issue

[code]

Also tried "libelf" instead of "zlib" and got same outcome.

### Information on your system

This is on Cori at NERSC. I also tried the spack install with our module. Same outcome.

(base) warndt@cori08:~/spack/bin> ./spack debug report
* **Spack:** 0.16.1-1694-f213cf8349
* **Python:** 3.7.4
* **Platform:** cray-sles15-haswell
* **Concretizer:** original

[2021-03-13 00:30] Larofeticus commented on #22268
I had old junk somewhere in .spack/ referring to gcc 9.2 which is not present on the system. blowing everything away and starting fresh worked.

the error messages here could be better

[2021-03-13 05:16] certik opened #22273 "`sysctl: unknown oid 'machdep.cpu.model'` on arm macOS (M1)"
With the new M1 arm based macOS, I am getting:
[code]
I am using spack git version 839af2bd700211f4f38a99f98c099f8f8c4e5a09.

[2021-03-13 08:26] Sinan81 commented on #22252
I've managed to build alps on my laptop where the OS is linux mint which is based on ubuntu 20.04 as shown below.
[code]

[2021-03-13 08:30] Sinan81 commented on #22252
I feel like something went wrong in your spack setup, and it might be useful for you to start from scratch:

0. remove `~/.spack` folder
1. clone spack
2. build gcc@8.3.0 as the first thing
3. add gcc@8.3.0 to compilers:
[code]
4. Build boost first to see if it works: `spack install boost@1.63.0+python+numpy ^py-numpy@1.19.5 ^python@3.6.13`
5. Build alps: `spack install alps%gcc@8.3.0 ^py-numpy@:1

[2021-03-13 11:53] iarspider opened #22277 "Installation issue: py-pycairo"
Installation of  `py-pycairo` creates weird directory named `""` (quotes quotes).

### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.16.1-1650-1492461
* **Python:** 3.6.8
* **Platform:** linux-centos7-haswell
* **Concretizer:** original

### Additional information

Build logs: https://gist.github.com/iarspider/40d08948ac0f904407a80bca973dc0d4

Possibly relate

[2021-03-13 11:54] iarspider commented on #22277
Possibly relevant lines from log file:
[code]

[2021-03-13 15:28] danlipsa commented on #11116
I am glad I found this - I also thought my spack installation was broken.
This seems to be a Terminal, Palette issue not a spack issue. I am on Ubuntu 20.04. The issue as reported occurs for
Text and Background Color: Build-in schemes: Solarized Dark
Palette: Build-in schemes: Solarized.
The issue in this combination is that Color 0 and Color 8 in this palette are almost identical.

changing the P

[2021-03-13 18:33] hseara commented on #19544
I have created the above pull request that should solve all issues in the package.  All tests pass. Therefore, it only needs to be approved and merged.

[2021-03-13 19:00] adamjstewart commented on #22277
It looks like that warning message is caused by @alalazo's #21446.

[2021-03-13 19:29] vsoch opened #22280 "Axom: failed build in a container generated with containerize"
We are generating containers for different packages, and just hit this error for installing axom:

[code]

We generate a Dockerfile by running `spack containerize` on this spack.yaml:

[code]
And the resulting Dockerfile:

[code]

You can see the full output [here](https://github.com/autamus/registry/pull/14/checks?check_run_id=2101261595). I'm not sure if this is something specific to GitHub acti

[2021-03-13 19:42] alecbcs commented on #22280
Running the build on my laptop I can confirm Axom fails to build even without the presets created by Spack containerize. The build appears to be looking for the Zlib object at the library root instead of at the file. Going to @white238 as they are the listed package maintainer.

Running `spack install axom` results in
[code]

[2021-03-14 00:40] andredepinhovieira commented on #22252
Here's the precise sequence I followed.
$ rm -rf spack .spack/
$ git clone https://github.com/spack/spack.git
$ . /home/apvieira/spack/share/spack/setup-env.sh
$ spack install gcc@8.3.0
$ spack load gcc@8.3.0
$ spack compiler find
$ spack install boost@1.63.0+python+numpy ^py-numpy@1.19.5 ^python@3.6.13

I got the same errors as before. Also, I tried the same sequence in another machine with Ubunt

[2021-03-14 01:28] Sinan81 commented on #22252
I forgot to mention that I mean to build boost@1.63.0 with gcc@8.3.0 like:
[code]
I wonder if this will fix the issue since I remember having build issues with boost@1.63 and gcc@9 (default gcc on ubuntu).

[2021-03-14 01:34] Sinan81 commented on #22252
Also, could you provide more details on the compilers by posting the output of: `cat ~/.spack/linux/compilers.yaml`

[2021-03-14 03:03] Sinan81 commented on #22252
Actually, I just managed to build boost with gcc@9.3 so that is not the issue here it seems. I am running out of ideas here. This is a very bizarre build issue that I haven't seen before. May be official Spack developers might be able to help further. It might be useful to create another issue (with a specific title like 'boost build issue') and provide a link there to this issue.

[2021-03-14 22:10] adamjstewart opened #22287 "Documentation: add section on changing build systems"
We should document the recommended approach for packages that change from one build system to another.

### Rationale

I get asked this question almost weekly (#13466, #19298, #20364, #22209, #25111). There have been several attempts to better handle packages with multiple build systems (#10411, #12941, #15420), but we have yet to reach a consensus on any of them. We might as well document the cur

[2021-03-15 01:11] andredepinhovieira opened #22291 "Installation issue: boost on Ubuntu 20.04"
### Steps to reproduce the issue
This is related to issue #22252. On Ubuntu 20.04, Spack fails to build 'boost', indicating errors during the install phase. Below is the sequence of steps to reproduce the error, which happens either when trying to build with the Ubuntu 20.04 default gcc 9 or if I first install gcc 8.3.0 within Spack

[code]

### Information on your system

* **Spack:** 0.16.1-1698

[2021-03-15 01:12] andredepinhovieira commented on #22252
Done. Created issue #22291.
Thanks!

[2021-03-15 03:14] hainest commented on #22291
The crux of the issue is that spack is passing `cxxflags="-std=c++98"` to `b2` instead of `cxxflags="-std=c++11"`. You can mitigate this by adding the variant `+cxxstd=11` or your C++ version of choice.

[2021-03-15 03:22] alecbcs opened #22294 "Clingo Concretizer Doesn't Respect Custom Install Tree"
I ran spack containerize with the following spack environment  file and when building the resulting Dockerfile spack continued to install software into `/opt/spack/var/spack` instead of the set install path which results in an empty container being produced. Setting the concretizer to  `original` fixes the issue. Cc'ing @vsoch.

[code]

Dockerfile
[code]

### Steps to reproduce the issue

[code]

[2021-03-15 04:41] Chemistry1990 opened #22296 "071962"

[2021-03-15 04:41] #22296 closed, assigned to nobody

[2021-03-15 04:42] Sinan81 commented on #22291
In my case, boots@1.63.0 compiles with the default `cxxstd=98` both on linux mint/ ubuntu and on centos7.

[2021-03-15 04:46] Sinan81 commented on #22291
In the above mentioned error, it looks like `b2` is picking up system include directories:
[code]
 which is kind of weird since Spack is supposed to sanitise the environment.

[2021-03-15 08:04] simon28li opened #22297 "heaptrack make test failed 1.1.0 in and No tests were found in 1.2.0"
### Steps to reproduce the issue

[code]
[code]
[code]
[code]
@simo-tuomisto   Compile and install version 1.1.0 for make test test, and report the error as above，I found that the official version released 1.2.0, so I tried to compile and install and tested, reported an error and did not find the test case, why did this happen? I don't have the authority to ask questions on the official website. C

[2021-03-15 09:32] haampie commented on #22291
Seems like the issue is that boost depends on `libicu` here but spack doesn't add it as a dependency.

Does `spack install boost@1.63.0 +python +numpy +icu` work (without setting cxxstd=...)?

The real fix is we should enable the icu dep by default of course.

Not really, spack can ensure the build system will detect spack libs first, but it doesn't blacklist system paths. Right now it just hasn't

[2021-03-15 09:44] kuramoto-fj commented on #22108
Thank you for finding and fixing the problem.
Immediately, I applied the correction method of # 22279. And I have confirmed that the problem is resolved in all the oss I have reported earlier.
I'm really thankful to you.

[2021-03-15 09:45] #22108 closed, assigned to nobody

[2021-03-15 09:55] iWangJiaxiang commented on #14324
Same here when I install Intel mpi packages using `packages.yml` external package, spack always append `compilers_and_libraries/linux/mpi/intel64/bin/mpivars.sh` path to the prefix, which is incorrect in my case because I am not using standard intel package file system struct.

[2021-03-15 11:39] andredepinhovieira commented on #22291
I ran ````spack install icu4c%gcc@8.3.0 ^python@3.6.13```` then ````spack install boost@1.63.0+python+numpy%gcc@8.3.0 ^py-numpy@1.19.5 ^python@3.6.13```` but got the same errors as before.

Let me add that I noticed the following warning while building 'icu4c', although I suspect this is not relevant for the present problem. (I am really trying to build 'alps', which depends on 'boost' but cannot

[2021-03-15 12:50] Tom-python0121 opened #22299 "ModuleNotFoundError: No module named 'numpy' when py-numcodecs@0.7.3 pytest"
Hello,I meet a problem about ModuleNotFoundError: No module named 'numpy' when py-numcodecs@0.7.3 pytest.
### Steps to reproduce the issue

[code]
I want to know why **pytest** still reports ModuleNotFoundError: No module named'numpy' when the package package contains the **numpy** dependency. Whether the path of **py-numpy** is not found during the spack setting. As a result, the **spack load py-

[2021-03-15 13:43] haampie commented on #22291
@andredepinhovieira that's not how it works, you have to install `boost +icu`. Also you don't have to run `spack load gcc`.

I think you actually might need to be very explicit:

[code]

Does that install for you?

[2021-03-15 15:02] andredepinhovieira commented on #22291
I am sorry for my mistakes. I had no previous experience with Spack. Here's what I did following your last message:
[code]
After that, I tried again ````spack install boost@1.63.0+python+numpy+icu^py-numpy@1.19.5 ^python@3.6.13````, but the errors remain.
[spack-build-env.txt](https://github.com/spack/spack/files/6142298/spack-build-env.txt)
[spack-build-out.txt](https://github.com/spack/spack/fil

[2021-03-15 15:32] andredepinhovieira commented on #22291
Now I realized that I should run ````spack install boost@1.63.0+python+numpy cxxstd=11 +icu ^icu4c cxxstd=11 ^py-numpy@1.19.5 ^python@3.6.13````, which works! Thank you!

[2021-03-15 15:37] haampie commented on #22291
You're welcome, #22301 should simplify this so that `spack install boost` will explicilty disable ICU, and `spack install boost +icu` will automatically set the right cxxstd variants.

[2021-03-15 15:37] #22291 closed, assigned to nobody

[2021-03-15 17:11] andredepinhovieira commented on #22252
Folllowing the discussion in #22291, I managed to install with
[code]

[2021-03-15 18:11] #22277 closed, assigned to nobody

[2021-03-15 23:46] eugeneswalker opened #22310 "amrex@21.03: segfault during compile w/ gcc@8.1.0 on RHEL7"
`amrex@21.03` fails to build using:
* `spack@develop` (195341113e7da85611553d1ea9bd907ccabeff64 from `Mon Mar 15 21:38:35 2021 +0100`)
* GCC 8.1.0 (built with Spack)
* Docker images:
  *  `ecpe4s/rhel7-runner-x86_64:2021-03-01`
  *  `ecpe4s/rhel7-runner-ppc64le:2021-03-01`

Concrete spec: [amrex-fze7ei.spec.yaml.txt](https://github.com/spack/spack/files/6094290/amrex-fze7ei.spec.yaml.txt)
Configur

[2021-03-16 01:03] shahzebsiddiqui opened #22311 "list output of "spack test list" by installed specs"
@becker33 @tgamblin @tldahlgren

I would like to filter output of `spack test list` by installed specs instead of seeing all the specs with the spec syntax.

### Rationale

Output of `spack test list` can be quite long it makes it easier to find specs that one may want to test.

@tgamblin @becker33 @tldahlgren

Right now i have to grep for specs to see what is available

[code]

What i'd like to d

[2021-03-16 01:09] tldahlgren commented on #22311
It's slow but we do have -- in `develop` -- `spack test list --all` since #22032 was merged.

[2021-03-16 01:14] shahzebsiddiqui opened #22312 "filter output of spack test list by supported arch"
@tgamblin @becker33 @tldahlgren @wspear

The `spack test run` will generally run tests for the given architecture so i'd like to have feature to see all installed specs filtered by target architecture.

### Rationale

Right now we can only view all tests, the issue https://github.com/spack/spack/issues/22311 address a different issue where we can try to  filter test by installed spec but i'd like

[2021-03-16 02:17] simon28li opened #22313 "catalist+python3: failure to install"
### Steps to reproduce the issue

[code]

### Error Message

[code]
@chuckatkins @danlipsa I wonder if spec should be written as self.spec, and there should be no software package called python3. Shouldn't all be python? Is it the compilation error caused by my understanding or usage error?

### Information on your system

[code]
[code]

### Additional information

- [x] I have run `spack debug re

[2021-03-16 02:39] danlipsa commented on #22313
@simon28li You are right, that test is not right. It should be something like:
os.path.realpath(spec['python'] if ('+python3' in self.spec or '+python' in self.spec) else sys.executable). Do you mind testing this and if it works pushing a PR.

[2021-03-16 03:17] simon28li commented on #22313
@danlipsa Whether spec ['python'] needs to be written as self.spec [' python']. The do_stage method has no spec parameter.

[2021-03-16 07:13] tgamblin commented on #22113
Fixed -- gitlab should now mirror automatically: https://gitlab.com/spack/spack

[2021-03-16 07:13] #22113 closed, assigned to tgamblin

[2021-03-16 08:32] simon28li commented on #22313
After I modify the above points, I execute `spack install-v catalyst+python3` to report the following error:
[code]
Why did this happen? Can you give me some help?

[2021-03-16 10:36] dev-zero commented on #19625
[code]

... not fixed in 11.0.1 unfortunately.

[2021-03-16 12:56] sethrj commented on #22310
I'd say post an issue on the AMReX repo asking if this  has been seen outside of spack (probably has) and if so then a conflict statement in spack would be appropriate. It'd be best if both the amrex and gcc failing versions could be narrowed down, though.

[2021-03-16 13:24] dev-zero commented on #13233
... and I'm still figuring out how to fix this properly when inside an environment. In my case I had to change the version range when to apply a patch and Spack ignored my changes to the file completely when inside the environment. The only thing which worked so far was to install the packages outside the environment and then doing a `spack concretize -f && spack install` inside the environment.

[2021-03-16 14:21] danlipsa commented on #22313
I think you'll need
depends_on('python@3:3.7', when='@:5.7 +python3', type=('build', 'run'))
ported from paraview/package.py

[2021-03-16 15:10] Tom-python0121 opened #22323 "xfsprogs@5.8.0 Installation bug in spack:FATAL ERROR: could not find a valid BLKID header"
Now，i meet a problem in #21506,this question Confused me all the time,and I want to resolve it.But I have tried a lot of solutions, but they just can’t be solved. Can you help?

### Information on your system
root@ubuntu:~# spack debug report

Spack: 0.16.0-77-98460b6f4
Python: 3.6.9
Platform: linux-ubuntu18.04-aarch64
Concretizer: original

### Additional information

* [spack-build-out.txt]()
*