[2021-05-26 02:23] ldalessa opened #23923 "environment view fails to build properly (requires explicit concretize)"
After installation of a package (e.g., `gcc`) in an environment, creating a new environment and installing `gcc` fails to build a view properly.

Manually running `spack concretize` will build the view.

See https://spackpm.slack.com/archives/C5W7NKZJT/p1621993202213500?thread_ts=1621870255.145500&cid=C5W7NKZJT for discussion log.

### Steps to reproduce the issue

[code]

### Information on your

[2021-05-26 02:23] scheibelp commented on #23867
When I spoke with @tgamblin I think he was able to look at the proposal this week; once approved, I expect the proposal would take a week to implement. It involves some changes to sensitive internals though so this could take longer than expected (but I would @ you once I open a PR so you could keep track of that if desired). In some sense we are also balancing this with other core modifications a

[2021-05-26 10:19] haampie commented on #23880
Not sure what you mean. Can you create a pull request to share your LLVM changes please?

[2021-05-26 22:17] tldahlgren opened #23943 "Installation issue: gdal"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.16.2-2850-b596abe037
* **Python:** 3.7.2
* **Platform:** linux-rhel7-broadwell
* **Concretizer:** original

### Additional information

[spack-build-env.txt](https://github.com/spack/spack/files/6549896/spack-build-env.txt)
[spack-build-out.txt](https://github.com/spack/spack/files/6549898/spack-build-out.txt)

[2021-05-26 22:48] eugeneswalker commented on #23665
Issue resolved as of `spack@develop` commit a40e39f1f4178df5b07fb2253bf53d075e7799b1 from `Wed May 26 17:04:45 2021 -0500` due to reversion of commit that introduced the problem per @becker33.

[2021-05-26 22:48] #23665 closed, assigned to nobody

[2021-05-27 01:22] adamjstewart opened #23946 "Installation issue: clingo-bootstrap"
Clingo fails to bootstrap on my system.

### Steps to reproduce the issue

Enable `clingo` as your preferred concretizer and let Spack build it.
[code]
You end up with many error messages like:
[code]

### Information on your system

* **Spack:** 0.14.1-6785-a40e39f
* **Python:** 3.6.8
* **Platform:** linux-centos7-haswell
* **Concretizer:** clingo

### Additional information

* [spack-build-out.t

[2021-05-27 01:53] adamjstewart commented on #23943
Trying to reproduce this on CentOS 7, build is going to take a while.

Can you check your `json-c` installation and see if it built correctly? Check the library and make sure there are no missing symbols.

[2021-05-27 05:38] adamjstewart commented on #23946
For what it's worth, `clingo@5.5.0` builds just fine with the original concretizer, so I'm first installing and loading that instead of letting Spack bootstrap it.

[2021-05-27 06:34] permeakra opened #23949 "Please, bump elk versions to 7.* and fix linking"
The elk version in the package builtin repo is very old (3.* while 7.* is released) and fails to link against external libxc, at least in my setup

I tried to update the elk/package.py for handling the latest version of elk, but failed. The issue is that elk slightly changed the way it links against external blas/lapack and requires to compile stubs for missing MKL/OpenBLAS

In addition handling o

[2021-05-27 06:57] alalazo commented on #23946
@adamjstewart Are Python header files installed for the system Python you're using?

[2021-05-27 07:02] alalazo commented on #23946
A similar issue in this [SO question](https://stackoverflow.com/questions/41732696/file-strings-file-opt-intel-mkl-include-mkl-version-h-cannot-be-read)

[2021-05-27 10:00] haampie opened #23951 "Clingo prefers ancient versions when that results in fewer virtual packages"
### Steps to reproduce the issue

After creating the new virtual dep `xxd` and adding it to a single rocm package as a build dep (#23855), it influences the entire default concretization to prefer the oldest possible rocm version 3.5.0 instead of 4.2.0 (it doesn't make sense to deprecate those older versions):

[code]
Turns out the ONLY difference between 3.5.0 and 4.2.0 other than version numbers

[2021-05-27 10:09] haampie opened #23952 "Clingo arbitrarily toggles variants that I would expect to affect the cost"
### Steps to reproduce the issue

On this particular commit https://github.com/spack/spack/pull/23859/commits/f2271df90c9ad6bb1ef886c396e1373e0ed82ff4 from #23859 clingo likes to arbitrarily toggle `llvm-amdgpu`'s `+/~ rocm-device-libs` variant. With arbitrary I mean it randomly finds a solution that is either + or ~ rocm-device-libs:

[code]

The default is `llvm-amdgpu +rocm-device-libs`, but IF

[2021-05-27 10:26] haampie commented on #23900
@estewart08 can I ask for your pair of eyes on this one too :eyes:?

[2021-05-27 11:28] heaton-dev opened #23953 "Installation issue: plumed "Cannot generate configure: missing dependencies ['m4']""
Plumed being installed as a dependency of cp2k.

Error `RuntimeError: Cannot generate configure: missing dependencies ['m4']` is very odd!

Seems related to #3790, #15488 but no solution available

### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.16.2-2867-2b78b04dc5
* **Python:** 3.6.10
* **Platform:** cray-sles15-thunderx2
* **Concretizer:** original

`pac

[2021-05-27 11:55] heaton-dev commented on #23953
Same result on
* **Spack:** 0.16.2-2821-d46e49ef7a
* **Python:** 3.6.8
* **Platform:** cray-rhel8-zen2
* **Concretizer:** original

[2021-05-27 15:19] adamjstewart commented on #23946
It looks like header files are installed for Python 2 but not Python 3 on this system. So if header files are required for bootstrapping I could set `SPACK_PYTHON` to `python2`.

[2021-05-27 15:30] adamjstewart commented on #23953
#23957 should hopefully fix this.

P.S. Love the Invader Zim profile pic.

[2021-05-27 15:31] adamjstewart commented on #23949
Spack's `elk` package currently has no official maintainer, which means that updates like adding new versions are up to community contributions. If you would like to submit a PR I would be happy to review it. I think I wrote the original `elk` package years ago but haven't needed it since.

[2021-05-27 15:42] alalazo commented on #23946
@adamjstewart Header files are required for bootstrapping from sources, since we need to compile a Python extension. Can you try #22720 on this system? That should work since it installs binaries.

[2021-05-27 16:04] sethrj opened #23958 "Installation issue: ROOT makes me sad"
### Steps to reproduce the issue

On my latest macOS reinstall, ROOT fails to build because its vendored `afterimage` dependency includes a vendored `libungif` dependency which apparently requires x11, even if x11 is disabled at the ROOT level. Adding an always-on `libx11` dependency doesn't seem to fix it. :(

[code]

From the ROOT cmake step:
[code]

Build error:
[code]
and in the log file that

[2021-05-27 16:16] robertu94 opened #23959 "zfp, please uncomment `utilities` variant"
@lindstro @GarrettDMorrison could you please consider commenting the `utilities` variant and corresponding configure logic in the ZFP package?  Right now, I just have a private fork of the zfp package with this done, but it would be nice not to maintain this in the long run.

I tested it recently and it seems to work, and I wasn't sure why it was marked as a TODO.

[2021-05-27 16:34] lindstro commented on #23959
This works correctly only on the (unofficial) `develop` branch, as the previous releases did not include CMake logic to install executables.  The plan is to address this with the upcoming 0.5.6 release.

[2021-05-27 16:40] #23901 closed, assigned to nobody

[2021-05-27 17:40] sethrj opened #23964 "Autoconf 2.71 tries to call gtkdocize"
A change to version 2.71 of autoconf means that calling `autoreconf` will try to call `gtkdocize` when a project's autom4te macros contain `GTK_DOC_CHECK`, *even when docs aren't being built at configure time*. This currently causes `cairo` to fail to build:
[code]

Possible solutions:
- adding `gtk-doc` dependency on packages that require autoreconfiguring (bad; it's a heavy dependency if it's no

[2021-05-27 18:42] adamjstewart commented on #23780
According to the tk developers, `<prefix>/lib/tk8.6/tk.tcl` is indeed the correct installation location. I opened an issue with the Python developers to see if we can get Python to look in this directory: https://bugs.python.org/issue44253

[2021-05-27 18:45] #23953 closed, assigned to nobody

[2021-05-27 19:59] adamjstewart commented on #23943
I'm able to reproduce this on CentOS 7, will keep debugging and possibly open an issue with the GDAL devs.

[2021-05-27 22:01] bollig commented on #12830
Still an issue. Any new advice?

[2021-05-28 01:34] tldahlgren opened #23979 "Bug: spack install's --no-cache option does not work"
The `spack install --no-cache` option does not work.

I confirmed the `use_cache` option is set properly when `--no-cache` is provided on the command line; however, it appears to have *no* affect on the installation.

Having this option actually work provides a quick way to reproduce fetch-related issues for packages without having mess with your mirror settings.  For example,

[code]

### Steps t

[2021-05-28 03:17] rscohn2 commented on #23394
@tldahlgren : I suggest this issue be closed. The intel-oneapi-compilers package in the 0.16 release of Spack is broken. Develop is working so there is not much we can do about it.

[2021-05-28 03:19] rscohn2 commented on #23388
@tldahlgren : I recommend that you close this issue. #23401 resolves the issue.

[2021-05-28 09:28] alalazo commented on #23388
Closing this issue following https://github.com/spack/spack/issues/23388#issuecomment-850081620

[2021-05-28 09:28] #23388 closed, assigned to rscohn2

[2021-05-28 14:48] #23958 closed, assigned to nobody

[2021-05-28 16:43] tgamblin commented on #23701
This was fixed by #23674.

[2021-05-28 16:43] #23701 closed, assigned to becker33

[2021-05-28 21:12] #23663 closed, assigned to nobody

[2021-05-29 06:32] #14721 closed

[2021-05-29 17:25] adamjstewart opened #24014 "`spack test` tries to run tests for external packages that require additional files"
### Steps to reproduce the issue

1. Add `openmpi` as an external package
2. Run `spack test openmpi`
3. Test fails because `examples` directory isn't found in installation prefix

### Error Message

[code]

### Recommended Solution

We should skip tests for external packages that require additional files.

### Information on your system

* **Spack:** 0.14.1-6842-6f534ac
* **Python:** 3.6.8
* **Pl

[2021-05-29 19:53] mwkrentel commented on #23667
I have submitted PR #24017  which fixes this for rev 2021.05.15 and
backports a patch for earlier revs.

[2021-05-30 03:17] adamjstewart opened #24020 "`spack load` broken by #23703"
As of #23703, `spack load` no longer sets `LD_LIBRARY_PATH`.

### Before

[code]

### After

[code]

* **Spack:** 0.8.17-20462-9b99f85abf
* **Python:** 3.6.8
* **Platform:** linux-centos7-skylake_avx512
* **Concretizer:** original

[2021-05-30 16:07] tgamblin commented on #23062
Fixed by #23978.

[2021-05-30 16:07] #23062 closed, assigned to nobody

[2021-05-30 23:06] ikitayama commented on #23880
Please see #24023

[2021-05-31 13:11] UweSauter opened #24029 "Installation issue: rocblas 4.2.0 fails with cmake error"
@arjun-raj-kuppala @srekolam

### Steps to reproduce the issue

[code]

### Information on your system
CPU: Single socket AMD EPYC 7642 48-Core Processor
RAM: 512GiB
OS: CentOS 7.9.2009

gcc@10.3.0 and dependen

cies were built by Spack using the system GCC 4.8.5:
[code]

This was then used to install (parts of) the ROCm stack (and dependencies)
[code]

[code]

### Additional information

Please s

[2021-05-31 13:12] UweSauter commented on #24029
`spack-build-01-cmake-out.txt`
[code]

[2021-05-31 13:12] UweSauter commented on #24029
`spack-build-env.txt`
[code]

[2021-05-31 13:13] UweSauter commented on #24029
`spack-build-out.txt`
[code]

[2021-05-31 13:13] UweSauter commented on #24029
`spack-configure-args.txt`
[code]

[2021-05-31 13:14] UweSauter commented on #24029
Sorry for posting the logs as comment but somehow I wasn't able to upload them directly.

[2021-05-31 15:11] LouisJenkinsCS opened #24030 "Installation issue: mumps package on Mac OS X (-fallow-argument-mismatch)"
### Steps to reproduce the issue

[code]

### Information on your system

[code]

Note: This can be fixed with relative ease by making it so that on Mac OS X, it will add `-fallow-argument-mismatch` such as what is done here:

https://github.com/spack/spack/blob/7bae865c7e2f2d09a002bb491f423408df3ee8dd/var/spack/repos/builtin/packages/mumps/package.py#L307-L314

I have resolved this issue by chang

[2021-05-31 15:12] LouisJenkinsCS commented on #24030
Should also note that `mumps` is an important pre-requisite dependency for Trilinos which is what I was initially attempting to build.

[2021-06-01 08:31] #23667 closed, assigned to nobody

[2021-06-01 09:37] #23550 closed, assigned to jedbrown, BarrySmith, balay

[2021-06-01 16:42] EthanS94 opened #24067 "TCL Modulefiles not loadable by default anymore"
@becker33 Recently, I have not been able to use the spack-generated tcl modulefiles. I believe this is due to the recent changes in https://github.com/spack/spack/pull/23703. It looks like the default filepath was flipped? Was that intented? Defaults [before](https://github.com/spack/spack/blob/9b99f85abf208612fe8ff7d108b6a68d970706d8/etc/spack/defaults/config.yaml#L37-L40) and [after](https://git

[2021-06-02 03:59] permeakra opened #24076 "Installation issue: py-numpy"
[code]
### Information on your system

spack debug report
* **Spack:** 0.16.2-2966-690558f927
* **Python:** 3.8.5
* **Platform:** linux-ubuntu20.04-haswell
* **Concretizer:** original

Forced use of external system python. Spack insists on installing its own Cython. Purging external cython didn't have obvious effect.

### Additional information

there were remnants of python2 in the system. Purgin

[2021-06-02 04:05] permeakra commented on #24076
[spack-build-env.txt](https://github.com/spack/spack/files/6581915/spack-build-env.txt)
[spack-build-out.txt](https://github.com/spack/spack/files/6581916/spack-build-out.txt)

[2021-06-02 04:06] permeakra commented on #24076
@adamjstewart please, look as a maintainer.

[2021-06-02 04:14] permeakra commented on #23949
I'm interested, but I defintely can't test all possible configurations. Besides, I'm new with python, so I've no idea how much it might take.

[2021-06-02 05:09] adamjstewart commented on #23949
No worries, as long as the default configurations build for you I think that's sufficient until we have better package testing. From what you've described so far, it doesn't sound like there's too much that needs to be changed in the package. If you have any questions, you can skim the [Packaging Guide](https://spack.readthedocs.io/en/latest/packaging_guide.html) and [MakefilePackage](https://spac

[2021-06-02 05:19] adamjstewart commented on #24076
Hmm, Cython is in your `PYTHONPATH`, so I'm not sure why Python wouldn't be able to find it. Spack should theoretically support this, and I'm not sure why it isn't working. Can you run the following tests for me?
[code]
I don't often to try to use external installations of packages, I just let Spack build everything for me. I'm sure if you let Spack build Python for you, you wouldn't encounter thi

[2021-06-02 05:20] balos1 commented on #24076
I believe that I am running into this exact same issue.

[2021-06-02 07:16] permeakra commented on #24076
@adamjstewart

[code]

site-packages is empty, dist-packages is not... I assume, site-packages should not be empty and the problem is actually with cython?

[code]

[2021-06-02 08:04] permeakra commented on #24076
Hm. Apparently, this situation (dist-package/site-package ) is quite common and seems to have roots in Debian internal conventions. This *might* be Ubuntu/Debian-specific problem.

here are the build/install logs for py-cython
[spack-build-01-build-out.txt](https://github.com/spack/spack/files/6583011/spack-build-01-build-out.txt)
[spack-build-02-install-out.txt](https://github.com/spack/spack/fil

[2021-06-02 09:22] permeakra commented on #24076
After further search this appears to be debian-derivative specific problem https://matthew-brett.github.io/pydagogue/debian_python_paths.html
Due to debian conventions, sometimes things go into dist-packages instead of site-packages.

There were inconsistencies here in the past, https://bugs.launchpad.net/ubuntu/+source/python2.6/+bug/362570 , so some nontrivial problems might arise.

[2021-06-02 13:34] jjolly opened #24082 "external find: show list of already-configured external packages"
Add an option to the `spack external find` command that displays the currently-configured external packages

### Rationale

Currently the only way to list external packages via Spack is to execute `spack config get packages`. The only other method appears to be to manually parse the `packages.yaml` file, which can be prone to typically human errors.

### Description

Since the `external` command a

[2021-06-02 14:50] srekolam commented on #24029
@UweSauter  , i tried the same command  on a sles container today and i was not able to reproduce the above error.
Here is o/p.  Can you provide us more info if possible so that we will be able to look into this and resolve ?
spack install -j1  hipblas  %gcc@10.3.0 ^cmake@3.20.2
[+] /tmp/spack/opt/spack/linux-sles15-skylake_avx512/gcc-10.3.0/pkgconf-1.7.4-hbpq2zl57ppxo5spk2ogg24ep5cycf34
[+] /tmp/

[2021-06-02 14:55] UweSauter commented on #24029
What kind of information do you need?

[2021-06-02 16:08] haampie commented on #24029
Seems like `Tensile_ROOT` is not set, which is set through

```execute_process(COMMAND "${Tensile_PREFIX}/bin/TensileGetPath" OUTPUT_VARIABLE Tensile_ROOT)```

If you do `spack install --keep-stage rocblas` and then `spack build-env rocblas -- bash` and cd to your staging dir, what happens when you execute TensileGetPath?

[2021-06-02 18:16] tldahlgren commented on #23979
Turns out I misunderstood the intent behind the option.  I assumed `--no-cache` was a way to force Spack to fetch the source; rather than limited only to not fetching from the mirror.  (See https://spack.readthedocs.io/en/latest/command_index.html#spack-install:  `do not check for pre-built Spack packages in mirrors`.)

Consequently, if you are trying to install software where you have a local sou

[2021-06-02 18:16] #23979 closed, assigned to nobody

[2021-06-02 21:40] KineticTheory opened #24091 "Installation issue: py-torch fails to build on air-gap system"
### Steps to reproduce the issue

[code]

### Additional information

This issue only occurs on an air-gap system.  I cannot attached build logs.

### General information

I'm not sure how the installer is supposed to access these *third_party* sources.  Does spack have a way to provide these as externals?  Is anyone else trying to build `py-torch` on an air gap system?

[2021-06-02 21:42] KineticTheory commented on #24091
I am trying to create a source tarfile that contains all of the git submodule information that I can add to my mirror.  I'll update the ticket if this works.

[2021-06-02 23:18] KineticTheory commented on #24091
I found a hack that allowed me to install.
* clone the pytorch repo
* checked out the 1.8.1 tag
* ran `git submodule update --init --recursive`
* created a source tarball that included all of the submodule packages
* saved the source tarball to the spack mirror on the air gap system
* ran `spack install -n py-torch % gcc@8.3.0`

This doesn't seem like a very elegant solution, but at least it allow

[2021-06-03 01:49] adamjstewart commented on #24091
@KineticTheory thanks for opening this issue! I was aware that PyTorch and TensorFlow couldn't be built on an air-gapped network but it sounds like the situation is better than I thought. If we can get the submodules into the mirror then we should be good to go.

@scheibelp @becker33 @tldahlgren why aren't submodules being included in mirror tarballs? That sounds like it would be an easy thing to

[2021-06-03 02:49] scheibelp commented on #24091
I can look into this by June 8th (upcoming Tuesday)

[2021-06-03 02:49] adamjstewart commented on #24076
Thanks for figuring out the issue! We've had problems with this in the past (`lib` vs `lib64`) so this should be easy to fix. I'll put out a PR tonight for you to test.

[2021-06-03 07:08] valerioformato opened #24098 "Installation issue: root@6.22.08 doesn't find LZMA"
### Steps to reproduce the issue

[code]

### Information on your system

[code]

I am using the system-provided python installation in my `packages.yaml`, as detected by `spack external find`
[code]

### Additional information
I see in the spec info that the LZMA libraries should be provided by the `xz` package, but it doesn't look like ROOT can correctly detect those during the configuration pha

[2021-06-03 07:39] vvolkl commented on #24098
Hi @valerioformato,

`xz` has `external find` support too - can you check if xz is listed as an external installation in your packages.yaml? I noticed that also python is not found by ROOT, which could indicate that the error lies with spack not correctly finding the system packages.

[2021-06-03 07:49] valerioformato commented on #24098
Hi @vvolkl,
  I didn't notice, but it was found by `external find`
[code]
you're right!

I just found out, for both python and xz I don't have installed the `-devel` package from the OS package manager. I'm afraid this could be the reason why they are not found by spack.

[2021-06-03 08:28] UweSauter commented on #24029
Looks like a venv issue on the first look. Bash says it can't find the `python` interpreter but the file exists.

There also is one message about the `CXX` environment variable that Spack finds suspicious.

[code]
[code]
[code]
but `python` exists
[code]

[2021-06-03 11:30] haampie commented on #24029
Hm, I have no clue. Have you googled for this bad interpreter issue in virtual envs?

[2021-06-03 13:10] alalazo commented on #272
@trws Spending some time on old issues. Right now we have both "preferred" versions (which are selected before others) and deprecated versions (which are avoided at concretization time as much as possible and are not shown by `spack info`). Would that be enough to close this?

[2021-06-03 14:22] UweSauter commented on #24029
Might be a shebang length limitation:
The shebang in `TensileGetPath` is
[code]
while the error message indicates that
[code]
is used as interpreter. Or the path in the error message got truncated.

If I try a short script
[code]
I get
[code]
which is only 111 chars long.

[2021-06-03 15:16] UweSauter commented on #24029
It is getting stranger…
if I change into the build environment and stage directory and then run the `cmake` command manually, it finished sucessfully.
`prepare/keep the staging directory`
[code]
`change into build environment and staging directory`
[code]
`run cmake manually`
[code]
but I have no clue how I can call spack to continue from here on.

[2021-06-03 15:42] haampie commented on #24029
Hard to say what's up.

Have you seen #23859? There are many changes about to be made for the rocm packages, and they also touch rocblas/tensile. One thing I noted was some missing dep for rocblas (pip). But since you are using system python I doubt that's solution. In any case, if that PR solves your issues, then it may not be worth trying to figure out what going wrong on current develop.

[2021-06-03 17:01] kma commented on #23394
Hi,
I had the same problem. I just edited the package with the right version.
`spack edit intel-oneapi-compilers`

Modify version from 2021.1 to 2021.1.0  in release and version line.

Don't forget to modify sha too.

**EDIT**
Spack install exit without errors, but the installed folder is empty.

Checking logs:
`ERROR : Cannot change installation directory to 'intel-oneapi-compilers-2021.1.0-wqzta

[2021-06-03 17:24] adamjstewart commented on #24067
What does your `MODULEPATH` look like? I noticed a bug in our `setup-env.sh`, but that shouldn't be new (#24104).

[2021-06-03 17:35] EthanS94 commented on #24067
@adamjstewart For me nothing is added to `MODULEPATH` after sourcing `setup-env.sh`:

[code]

Also, I tried flipping the defaults mentioned in the description, and that does install the tcl modulefiles to the `$SPACK_ROOT/share/spack/modules` directory as it was before. But this didn't affect anything with `MODULEPATH`.

[2021-06-03 17:38] adamjstewart commented on #24067
What does your `modules.yaml` look like?

[2021-06-03 17:41] EthanS94 commented on #24067
[code]

[2021-06-03 18:07] adamjstewart commented on #24067
Hmm, I'm not seeing anything obvious. @becker33 or @alalazo should take a look.

[2021-06-03 19:02] adamjstewart commented on #23891
Hit this again today.

[2021-06-03 19:09] adamjstewart commented on #23892
Hit this again today

[2021-06-03 19:25] adamjstewart opened #24116 "Don't warn about missing source id for external packages"
I build a rather large stack of Python packages. They all depend on Python, which depends on uuid. `apple-libuuid` is an external package that comes pre-installed on macOS. When I build my environment, I see hundreds of lines like:
[code]
For Spack-built packages, this is a good warning to have, because it warns you that Spack will ask if you're sure you want to fetch without a checksum. But for e

[2021-06-03 19:54] payerle opened #24118 "Installation issue: julia (missing LLVM cpu mapping for 'zen')"
Julia package uses LLVM-style CPU names.  PR #19549 added mapping for 'zen2' architecture, but omitted 'zen'.

### Steps to reproduce the issue

[code]

### Information on your system

[code]
(Although on a zen2 system, was using an older gcc which only supports zen, not zen2, hence the issue)

### Additional information

* [spack-build-01-install-out.txt](https://github.com/spack/spack/files/6593

[2021-06-03 20:00] permeakra commented on #23949
@adamjstewart could you give this attempt #24107  a look, please?

[2021-06-03 21:23] manuelakuhn opened #24122 "Installing py-llvmlite fails while trying to concretize"
I tried to install `py-llvmlite` but it fails in the concretize step

### Steps to reproduce the issue

[code]

### Error Message

[code]
Strange side note: the first time the error is about the `+gold` variant, but the second and following times it complains about the `+ld` variant. So the error message is not consistent.

### Information on your system

spack debug report
* **Spack:** 0.16.2-298

[2021-06-03 21:41] adamjstewart commented on #24122
This should be solved by Spack's new concretizer. If you add:
[code]
to your `config.yaml`, does this work? If you want to stick with the old concretizer you'll have to help it out a bit, like `spack install py-llvmlite ^binutils+gold`.

[2021-06-03 21:56] #24118 closed, assigned to nobody

[2021-06-04 00:09] heaton-dev opened #24128 "Installation issue: gromacs %cce @10.0.1 "unknown argument: '-fstack-clash-protection'""
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.16.2-2995-c3898ca3bf
* **Python:** 3.6.10
* **Platform:** cray-sles15-thunderx2
* **Concretizer:** original

~/.spack/packages.yaml:
[code]

### Additional information

* [spack-build-out.txt](https://github.com/spack/spack/files/6594924/spack-build-out.txt)
* [spack-build-env.txt](https://github.com/spack/spa

[2021-06-04 00:27] junghans commented on #24128
I did a `git grep fstack` on the v2020.4 source, that came back empty, so it seems that flag isn't coming from the gromacs build system.

[2021-06-04 01:11] simon28li commented on #23810
@adamjstewart Excuse me. I'm very sorry. Could you give me some conclusions? Our own project has some requirements related to this and has encountered bottlenecks.

[2021-06-04 02:13] adamjstewart commented on #23810
This is a longstanding issue in Spack. To be fair, Spack is one of the few package managers that attempts to handle this kind of situation. In most package managers, the package contains only a single version, and the URL for that version. In Spack, not only can you list multiple versions, but you can also list multiple URLs, or list a single URL and let Spack guess.

In the case of GitHub package

[2021-06-04 02:24] simon28li commented on #23810
@adamjstewart Thank you very much for your reply.

[2021-06-04 07:55] #24116 closed, assigned to nobody

[2021-06-04 08:01] manuelakuhn commented on #24122
I wanted to try that, but unfortunately I was not able to get to the test because clingo did not build:

[code]
I also just tried that with a new Spack: 0.16.2-3007-ea390198f4, same result

In case that matters: python3 headers and libstdc++ are installed on my system. (installed packages: python3-devel, libstdc++, libstdc++-devel)

[2021-06-04 08:02] alalazo commented on #24122
@manuelakuhn Can you install static libstdc++ ? To bootstrap from sources we require that at the moment.

[2021-06-04 08:12] michaelkuhn commented on #24067
I ran into the same problem yesterday. #24135 seems to fix it for me.

[2021-06-04 08:19] samcom12 commented on #21190
@aweits ..  attaching latest build logs.

[spack-build-env.txt](https://github.com/spack/spack/files/6596832/spack-build-env.txt)
[spack-build-out.txt](https://github.com/spack/spack/files/6596833/spack-build-out.txt)
[spack-build-01-bootstrap-out.txt](https://github.com/spack/spack/files/6596830/spack-build-01-bootstrap-out.txt)

[2021-06-04 12:31] manuelakuhn commented on #24122
Sorry for the delayed reply, I wanted to make sure that it actually builds. On the test system from above, llvm takes ages to build and then fails because I did not pay attention to set the build_stage to a reasonable path on that system.
Unfortunately on the other test system it did not build because llvm@10 (requirement from py-llvmlite) does not build with gcc@11. Since this is a different topi

[2021-06-04 13:01] adamjstewart commented on #24122
Many packages in Spack can't be concretized with the old concretizer, which is why we're replacing it. In the next release, clingo will be the default concretizer.

[2021-06-04 15:02] GuillaumeQuenneville commented on #24020
It does not set LD_LIBRARY_PATH for anonymous environments either.

[code]

[2021-06-04 15:45] trws commented on #272
Wow this is an old one... I think we can close this, both because there are deprecated versions to handle poorly supported or old versions and because string versions sort as older than number versions now so they don't get auto-selected like they did at the time.  Good triage! Closing.

[2021-06-04 15:45] #272 closed

[2021-06-04 18:09] kma opened #24145 "Installation issue: intel-oneapi-compilers"
### Steps to reproduce the issue

[code]
Missing versions in package info:

[code]
If I try to force the version seen in package file.

[code]

### Information on your system

* **Spack:** 0.16.2-3016-1fd1f1c
* **Python:** 2.7.5
* **Platform:** linux-centos7-skylake_avx512
* **Concretizer:** original

### Additional information

I have tested the build on my laptop (Ubuntu 20 without problems!
[co

[2021-06-04 18:27] rscohn2 commented on #23394
@kma Are you trying to install as root?
If so, you need to do this after every package is installed:
sudo rm -r /var/intel/installercache
There is some more background here: https://github.com/spack/spack/issues/23388#issuecomment-831285732

The locked installation directory and the bad URL are both fixed in the develop branch. If you are unable to use the workarounds, I could provide a patched 0.

[2021-06-04 18:30] kma commented on #24145
I've switched to python 3.6 and the build succeeds. Sorry!

[2021-06-04 18:30] #24145 closed, assigned to nobody

[2021-06-04 18:33] rscohn2 commented on #24145
@kma: I think you will have to manually add the URL/version to the package.py to make it work.

Develop branch has the latest versions, but it seems like you have a reason to stick with 0.16.

[2021-06-04 18:38] kma commented on #24145
@rscohn2 I'm using the develop branch
[code]

[2021-06-04 18:53] rscohn2 commented on #24145
It is good you are able to use develop.

I reread the error messages and see that the error was related to the python configuration.

[2021-06-04 18:56] kma commented on #24145
Thank you @rscohn2. I also followed your advice #23388 since I build as root.

[2021-06-04 19:12] adamjstewart opened #24148 "Virtual dependencies not supported in Environments"
A common use-case for Spack Environments is to ship a `spack.yaml` file with your software specifying a list of dependencies. If something like `mpi` is a dependency, you need a way to list it, even if you don't care which specific MPI implementation is used. This is currently not possible.

### Steps to reproduce the issue

1. Create a `spack.yaml` file like:
[code]
2. Attempt to concretize/insta

[2021-06-04 21:44] tgamblin commented on #24020
@becker33 was this change intentional in #23703?

[2021-06-04 22:33] #24067 closed, assigned to nobody

[2021-06-04 22:35] becker33 commented on #24020
@tgamblin no, it was not. I fixed it once already, but must have lost the commit in a rebase somewhere. Pushed a PR to fix it now.

[2021-06-05 03:37] #24020 closed, assigned to becker33

[2021-06-05 11:46] sethrj commented on #23411
Fixed by https://github.com/spack/spack/pull/23412

[2021-06-05 11:46] #23411 closed, assigned to nobody

[2021-06-05 17:44] christoph-conrads opened #24159 "Installation issue: fef05621a breaks cmake < 3.12"
### Steps to reproduce the issue

Beginning with commit fef05621a77ee8b62b318370e1ec7bf39502eb7c, Spack passes options to the CMake bootstrap script. The CMake bootstrap script does not accept the given options if CMake releases before 3.12 are used. (I did not test all releases but builds for versions 3.7.2, 3.8.2, and 3.11.4 fail.)
[code]
@chuckatkins

Build files:
* [spack-build-env.txt](https:

[2021-06-05 20:19] haampie commented on #24159
Can you create a pr that adds these options conditionally?

[2021-06-06 00:25] #23340 closed, assigned to nobody

[2021-06-06 14:22] christoph-conrads commented on #24159
There is no need to add these compiler flags conditionally because the bootstrap script always honored the environment variables `CFLAGS` and `CXXFLAGS`, see [CMake commit 850cfe](https://gitlab.kitware.com/cmake/cmake/-/commit/850cfe3a3b58db3bf76e5d5d6a2583f3849ab3e8) (January 17, 2021) and the **existing** [bootstrap code starting at line 905](https://gitlab.kitware.com/cmake/cmake/-/blob/850cfe

[2021-06-07 07:28] vvolkl opened #24173 "Test issue: eigen@3.3.9"
Trying to run the tests for eigen fails.

### Steps to reproduce the issue

[code]

### Information on your system
[code]

### Additional information

Lots of errors like
[code]

Maintainer ping: @HaoZeke

### General information

- [x] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [x] I have run `spack maintainers <name-of-the-package>` and @mentioned any mai

[2021-06-07 07:40] haampie commented on #24159
Thanks @christoph-conrads, see the linked pr above, I'm just reverting https://github.com/spack/spack/commit/fef05621a77ee8b62b318370e1ec7bf39502eb7c. Turns out the system had xalt enabled, which makes compilation speed terribly slow. The bootstrap phase took 7m44s (no opt flags and xalt enabled), 4m22s (-O3 and xalt enabled), 2m8s (no opt flags and xalt disabled), 2m6s (-O3 and xalt disabled).

[2021-06-07 07:45] vvolkl opened #24175 "Test issue: xxhash"
### Steps to reproduce the issue
[code]

### Information on your system
[code]

### Additional information

[code]

### General information

- [x] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [x] I have run `spack maintainers <name-of-the-package>` and @mentioned any maintainers
- [ ] I have uploaded the build log and environment files
- [x] I have searched t

[2021-06-07 09:37] #24159 closed, assigned to nobody

[2021-06-07 12:13] permeakra opened #24178 "add support for libxc in quantum espresso package"
recent versions of quantum espresso support linking with libxc.  spack's qe package currently doesn't appear to support it.

note : linking with libxc@5: requires patching the source atm, see 2.5.1.1 https://www.quantum-espresso.org/Doc/user_guide/node12.html

/

[2021-06-07 12:55] permeakra opened #24180 "libxml2-dev is not detected by 'spack external find'"
libxml2 is a correctness-sensitive package that rarely is performance-critical. It makes sense to link with external version whenever possible. Yet it appears to be missing from 'spack external list'

Shouldn't Spack detect system-installed libxml2?

[2021-06-07 14:10] aweits commented on #21190
Have you tried using gcc < 11? It seems gcc has gotten more particular about certain headers in version 11...

[2021-06-07 14:45] EthanS94 commented on #24067
Thanks for looking into this! TCL modulefiles are working for me again

[2021-06-07 14:55] alalazo commented on #24180
I agree it would be a good addition, reference to implement support for `spack external find` is [here](https://spack.readthedocs.io/en/latest/packaging_guide.html#making-a-package-discoverable-with-spack-external-find). Would you be willing to submit a PR?

[2021-06-07 14:56] alalazo commented on #24178
@naromero77

[2021-06-07 15:51] permeakra commented on #24180
I'll look into it once I finish with Elk.

[2021-06-07 18:13] cjosey commented on #21492
I have a computer that should be configured identically to @jlconlin 's, and I upgraded to 11.4 today and had the same issue. I was able to partially track it down and confirm it isn't a Spack-specific issue.  Building `pkgconf` 100% outside of Spack results in a file permissions error if it is the first run and `-jx` (`x`>1) is used.

After some testing, the solutions I found were:
1. Disable par

[2021-06-08 06:08] #23810 closed, assigned to nobody

[2021-06-08 07:34] manomars opened #24195 "intel-oneapi-compilers does not correctly interact with hierarchical (lmod) modulefiles system"
Loading the `intel-oneapi-compilers` module does not correctly unlock the path to packages compiled with it in the `lmod` module system.

### Steps to reproduce the issue

I installed the `intel-oneapi-compilers` package and used it to compile `openmpi-4.1.0`.
Then I re-generated the `lmod` module files.

[code]

### Error Message

Loading the `intel-oneapi-compilers/2021.2.0` module works just fi

[2021-06-08 08:37] ilbiondo commented on #24195
This was discussed in the Slack modules channel but sadly as it's the free version we can no longer see it :-(

The problem is that the name of the compiler has no relation to the name of the package (unlike intel and gcc) so the special treatment for compilers in lib/spack/spack/modules/lmod.py is ignored.

A workaround (that I haven't yet made a PR for) is to add the following to `lmod.py` - the

[2021-06-08 08:49] alalazo opened #24196 "ASP-based solver: having more default values for mv variants is preferred to have new versions"
Sometimes the ASP-based solver prefers to increase version badness, if that permits to use more defaults for multi-valued variants.

### Steps to reproduce the issue
This issue has been reported by @adamjstewart . With this configuration in `packages.yaml`:
[code]
trying to concretize:
[code]
we obtain an old version of `netcdf-c` (the expected is 4.8.0). This is due to the fact that pulling in th

[2021-06-08 09:29] ilbiondo opened #24197 "Installation issue: Rust bootstrap needs GLIBCXX_3.4.26"
### Steps to reproduce the issue

Installing rust fails seemingly because the pre-build dependencies were compiled with a newer compiler than that of the OS (RedHat 8 with gcc 8.3.1)

GLIBCXX_3.4.26 corresponds to `gcc@9.1.0`

@AndrewGaspar - do you know if the binary objects used to bootstrap change regularly? The same rust version built correctly a few months ago.

[code]

### Information on you

[2021-06-08 09:48] permeakra commented on #24180
we can easily check if libxml2 present by looking for xml2-config script, which also gives us prefix, exec-prefix, cflags and flags for dynamic linking. All the above **_and_** flags for static linking are also discoverable via pkg-config. However, I couldn't find an easy way to check for iconv support  It **_appears_** that iconv is present by default on modern linux/unix, for example via gnu lib

[2021-06-08 10:21] manomars commented on #24195
Many thanks for the quick reply! Works perfectly for me (I'm using the classical compilers)!

[2021-06-08 10:21] #24195 closed, assigned to nobody

[2021-06-08 10:28] ilbiondo commented on #24197
False alarm - there's a problem but it's not related to rust bootstrapping as I can produce the same error with other packages (e.g. gmsh).

I'll close this and try and figure out where the problem is really coming from.

[2021-06-08 10:28] #24197 closed, assigned to nobody

[2021-06-08 14:10] #24196 closed, assigned to alalazo

[2021-06-08 15:48] vvolkl opened #24203 "Test issue: lz4"
### Steps to reproduce the issue

[code]

### Information on your system
[code]

### Additional information

[code]

### General information

- [x] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [x] I have run `spack maintainers <name-of-the-package>` and @mentioned any maintainers
- [ ] I have uploaded the build log and environment files
- [x] I have searched

[2021-06-08 15:55] vvolkl opened #24204 "Test issue: cppunit"
## Steps to reproduce the issue
[code]

### Information on system

[code]

## Error log
[code]

[2021-06-08 17:04] #24148 closed, assigned to alalazo

[2021-06-08 17:29] amaji opened #24205 "Clingo concretization picks wrong iconv provider"
Hello Spack team,

I am facing an odd concretization behavior with the new concretizer. When I try to install `netcdf-c ~mpi` Spack is picking `libc` as the iconv provider. But the default variant for libc is `~iconv` so it does not provide the iconv libraries. As a result, the build for `netcdf-c~mpi` and a host of other packages fail.

In my packages.yaml, I have ONLY libiconv as the iconv provi

[2021-06-08 17:35] amaji commented on #24205
Here are the full specs to help you identify the issue:
[code]
and the other one:
[code]

[2021-06-08 17:42] alalazo commented on #24205
I can't reproduce apparently. With latest `develop` I get:
[code]

[2021-06-08 17:45] #23780 closed, assigned to adamjstewart

[2021-06-08 17:45] amaji commented on #24205
@alalazo can you try this?
[code]
I have several variant preferences in packages.yaml.

[2021-06-08 17:56] amaji commented on #24205
i got this from `spack solve`
[code]

[2021-06-08 18:26] alalazo commented on #24205
Can you post the output of:
[code]
?

[2021-06-08 18:28] amaji commented on #24205
[code]

[2021-06-08 19:19] pat-s commented on #17512
Just stumbled across this issue - `^opengl` workaround helped.

[2021-06-08 19:34] alalazo commented on #24205
The commit you are using is from Sunday apparently. Can you retry with the latest `develop` commit? There might be chances this has been solved today.

[2021-06-08 20:04] amaji commented on #24205
Hi @alalazo
I did a git pull. Now both `netcdf-c+mpi` and `netcdf-c~mpi` are picking `libc~iconv` as the iconv provider.

Seems like it is ignoring `packages.yaml`?

Here is a test with a smaller spec. Notice the bison spec changed with hdf
[code]

[2021-06-08 20:19] alalazo commented on #24205
We need to narrow down what triggers the issue, I still get the correct behavior on my platform:
[code]
I just have default values in `packages.yaml`.

[2021-06-08 21:26] dev-zero opened #24210 "Installation issue: libflame fails to build on Cray EX with "undefined reference to `main'""
### Steps to reproduce the issue

[code]

### Information on your system

[code]

[code]

[code]

### Additional information

* [spack-build-out.txt](https://github.com/spack/spack/files/6619683/spack-build-out.txt)
* [spack-build-env.txt](https://github.com/spack/spack/files/6619686/spack-build-env.txt)

@amd-toolchain-support ... my guess is that the Cray compiler wrappers interfere and switch t

[2021-06-08 21:56] scheibelp commented on #24091
If I run

[code]

(note: for individual specs like here, you have to specify something that concretizes, in my case the easiest way to do that is by adding `~cuda~nccl~cudnn`)

An archive of `py-torch` is created which includes the submodules, and that appears to be used when fetching py-torch (if I add that directory as a mirror).

Is something going wrong when you do something similar? Basically

[2021-06-08 22:29] amaji commented on #24205
@alalazo Think I found a way to reproduce. My packages.yaml
[code]

Now try: `spack solve hdf@4.2.15%gcc@8.3.1`. Please let me know if you can reproduce.

[2021-06-08 22:31] amaji commented on #24205
This is what I got on a fresh clone of Spack with that packages.yaml
[code]

[2021-06-08 22:35] KineticTheory commented on #24091
With a modern version of spack, it seems that py-torch has all of the submodules included in the source tar-file in my mirror.  The mirror I'm using is maintained by my organization and they were using a much older version of spack that didn't have this capability and that confused me.

If I only have access to the mirror, is there any way to know what version of spack was used to generate it?

[2021-06-08 22:40] scheibelp commented on #24091
No  - no easy way anyway, like a file placed in the mirror directory; if I had to do it, I might try to collect all the hashes and then cross reference from there (but that would require significant programming to make use of).

If you are able to update the mirror using a newer Spack version, do you think that would resolve this issue? Or are there additional problems to address?

[2021-06-09 02:37] amaji commented on #24205
**Stranger Things 2:** Removing `buildable: False` from packages.yaml seems to give correct concretization.

[2021-06-09 06:55] vvolkl commented on #23586
Agreed! My proposal for a solution is here: https://github.com/spack/spack/pull/24169 (just for `spec` at the moment)

[2021-06-09 07:48] alalazo commented on #23586
See also #23684 for another PR similar in spirit (but answering a different question).

[2021-06-09 08:44] alalazo commented on #24205
@amaji I think I got what's happening and, if I am correct, it's "by design". I don't know if there's any easy way to detect these kind of things and prompt a message to users. Anyhow, the longer diagnosis:
1. The ASP-based solver tries as much as possible to avoid choosing deprecated versions. That's the highest priority when searching for an optimal solution.
2. The version of `openssl` you have

[2021-06-09 09:04] alalazo commented on #24205
Maybe a good way to warn users would be to add a check for deprecated versions in external packages in #23053

[2021-06-09 11:40] iarspider opened #24215 "Installation issue: clingo-bootstrap-spack"
### Steps to reproduce the issue

[code]

### Information on your system

[code]

compiler config: https://gist.github.com/iarspider/1d786ccee028ca9eec4630e7e68c1130

### Additional information

The `clingo-bootstrap-spack` doesn't seem to be a real package, so no idea whom to ping.

### General information

- [x] I have run `spack debug report` and reported the version of Spack/Python/Platform
-

[2021-06-09 12:01] haampie commented on #24215
Seems like https://github.com/spack/spack/issues/8675

[2021-06-09 12:05] iarspider commented on #24215
Ah. Does the bootstrap respect `packages.yaml`?

[2021-06-09 12:45] amaji commented on #24205
Hi @alalazo,
Thank you for explaining so nicely. I think I understand the root cause now.
But I have two concerns about this concretization heuristics.

1. Sometimes, packages are in externals not by choice but by necessity. For example, I have openssl, slurm, rdma-core, cuda in externals and these are not updated often. So, if I don't use `buildable: false`, the ASP solver will automatically buil

[2021-06-09 12:52] sethrj opened #24216 "Lmod 'hierarchy' ignored"
@becker33 I think this relates to #23703 . Basically, the old 'empty hierarchy' in my modules config seems to be overridden by the 'default' key in the spack lmod defaults -- but only for some packages.

I haven't spent the time to reproduce this on a completely clean build, and some of the packages are installed via environments, others aren't.

### Steps to reproduce the issue

[code]

### Infor

[2021-06-09 13:06] haampie commented on #24215
@alalazo ?

[2021-06-09 13:14] alalazo commented on #24205
For point 1 I need to think about it. I don't like that we treat deprecated versions differently for externals, at least if we keep everything else as is. A workaround would be to declare a custom version in your `packages.yaml` that doesn't match any of the deprecated versions in `openssl/package.py`. For instance `openssl@centos8` does the trick.

For point 2 I need to look more closely at repro

[2021-06-09 13:17] alalazo commented on #24215
@iarspider It should respect `packages.yaml`. Also, it's `clingo-bootstrap@spack` where `spack` is the version pointing to a fixed commit sha.

[2021-06-09 13:33] iarspider commented on #24215
After enabling `symlinks` variant for `ncurses`, I observe a different error (I can open a new report for that if necessary):
[code]

The library is there:
[code]

[2021-06-09 13:48] alalazo commented on #24215
@iarspider At the moment we require a static `libstdc++` to avoid having a runtime dependency on an external library.

[2021-06-09 14:01] KineticTheory commented on #24091
Now that our mirror is updated with a newer version of spack, this problem is no more. Thanks for working with me.

[2021-06-09 14:01] #24091 closed, assigned to scheibelp

[2021-06-09 14:28] amaji commented on #24205
`openssl@centos8` does seem to concretize. Thanks for the workaround! I'll check if it actually installs. There is no checksum for `openssl@centos8` in the package.py, so `spack install` may just error out.

Maybe in future we can have a config flag like `ignore_deprecated_versions` which would suppress this behavior by the concretizer?

I think I'll just edit `openssl/package.py` to remove the de

[2021-06-09 15:15] iarspider commented on #24215
I see. Thanks!

[2021-06-09 15:15] #24215 closed, assigned to nobody

[2021-06-09 15:31] payerle commented on #19946
I ran across this error as well.
See also https://github.com/NixOS/nixpkgs/issues/79170
It looks like poppler upgraded header files to use the C++ cstdio instead to stdio.h, which TeX does not like because is using C not C++.

Based on NixOS report, happened in poppler@0.84

[2021-06-09 16:49] wspear commented on #24076
I believe I'm seeing the same issue. Cython libs are appearing in <install>/lib/python3/dist-packages/ but py-numpy fails when attempting to use cython, on Ubuntu focal.  Would it be too terrible of a kludge to just have the spack package symlink the contents of dist-packages to site-packages for systems that install/look in the wrong place?

[2021-06-09 16:52] adamjstewart commented on #24076
@wspear this won't work for external packages, so I try to avoid hacks like symlinks. I was hoping there was a way to query Python to ask it where files will be installed to. I'll have to dig deeper into distutils to see how they decide where to install things when you run `python setup.py install`.

[2021-06-09 18:34] tgamblin opened #24223 "Upcoming high-impact changes (perma-pin)"
This issue is meant to track upcoming changes to Spack that are likely to impact users.  We'll put links to issues here that will either break existing workflows or cause major disruptions when you pull from `develop`.

`develop` is the main development branch of Spack, but many users like to stay at the bleeding edge, and this is intended to provide advance warning for those users. Note that we s

[2021-06-09 19:10] scheibelp commented on #24223
https://github.com/spack/spack/pull/21683 would also change (all) hashes and is included in `0.17.0`

[2021-06-09 22:44] amaji commented on #24205
Another example of bug 2. The concretizer thinks `intel-parallel-studio~mpi` is the mpi provider.
[code]

[2021-06-09 23:10] #23964 closed, assigned to nobody

[2021-06-10 00:54] becker33 commented on #24216
I think this should be fixed by a more recent bugfix: https://github.com/spack/spack/pull/24151

[2021-06-10 01:09] sethrj commented on #24216
@becker33 Thanks, but sadly it's still broken:
[code]

Also I don't know if this is related, but the `spack -d module lmod refresh` command itself generates `/home/s3j/.spack/modules.yaml`: I deleted it immediately before that. Why does it keep coming back? I find the `~/.spack` to be the most common source of surprises when trying to generate module files.

[2021-06-10 01:13] becker33 commented on #24216
Ok, as a workaround you can take everything under the `lmod` key in your yaml file, and put it under `default:lmod` instead. I will try to figure out how to fix the backwards compatibility -- I misread the output from spack blame the first time.

[2021-06-10 01:26] sethrj commented on #24216
I made the following changes:
- moved `lmod` under `default`
- moved `enable` under `default`
- added `::` to `lib` and `lib64` which were surprisingly appending `LD_LIBRARY_PATH` (this was not formerly needed)

@becker33 Module generation now works as expected! Furthermore, it no longer regenerates the `~/.spack/modules.yaml` file.  Thanks!

Maybe rather than trying to add a "backward compatible"

[2021-06-10 01:59] s-sajid-ali opened #24227 "Installation issue: intel-oneapi-tbb in a container"
### Steps to reproduce the issue

[code]

### Information on your system

[code]

### Additional information

[spack-build-env.txt](https://github.com/spack/spack/files/6627849/spack-built-env.txt)
[spack-build-01-install-out.txt](https://github.com/spack/spack/files/6627860/spack-build-01-install-out.txt)
[spack-build-out.txt](https://github.com/spack/spack/files/6627851/spack-built-out.txt)

Pin

[2021-06-10 02:22] rscohn2 commented on #24227
@DanVev: Can you look at this? Container runs as root, but I believe that works. Other issue is using Alpine.

[2021-06-10 03:43] naromero77 commented on #24178
If someone else is willing to do the work and do the PR, I am willing to review it. But I don't have the cycles to do this work at the moment, as it is not aligned with my current work responsibilities.

[2021-06-10 11:28] tmadlener opened #24232 "Installation issue: dd4hep fails at cmake stage"
### Steps to reproduce the issue
Trying to install `dd4hep` on my Ubuntu 20.04 machine fails with a rather weird error message from cmake

[code]

which leads to the following error
[code]

It looks like cmake "forgets" about the compiler while it is configuring. However, to me this looks weird because the error seems to happen **after** cmake has successfully configured dd4hep. I have tried this

[2021-06-10 11:36] permeakra commented on #24180
@alalazo @adamjstewart
could you please clarify, what information and how should I report in autodetect process **in this particular case**?  I'm not good enough with the codebase to find it on my own.

Point is, libxml2 is a pkgconfig package, so it is trivial to get all data relevant for linking with the library (ld_flags, static ld_flags, include_dirs etc) by querying pkg-config. So, detection

[2021-06-10 12:35] adamjstewart commented on #24180
Spack's external package detection is designed to detect as many attributes of the package as it can. These include installation directory (required), version (required), variants, compiler, platform, etc. It's perfectly fine if you're unable to detect all variants, and many packages don't bother trying to detect anything other than the installation directory and version.

[2021-06-10 12:41] permeakra commented on #24180
Can you please point me at a place with all 'reportable' properties listed?

[2021-06-10 13:02] adamjstewart commented on #24180
All reportable properties are anything that can be encompassed in Spack's "spec" syntax. See `spack help --spec` for a full list.

[2021-06-10 14:10] fluidnumericsJoe opened #24234 "Google Cloud Storage Spack mirror suport"
I'd like to see support for GCS Buckets to serve as Spack mirrors.
### Rationale
When building packages on Google Cloud, it is beneficial to have commonly built package binaries, such as compilers, hosted on a GCS bucket to help reduce installation time on new GCE instances.

### Description
I've drafted some changes at https://github.com/FluidNumerics/spack that would be necessary to support GCS

[2021-06-10 14:28] payerle opened #24237 "Installation issue: vtk - 'vtkFreeTypeToolsFaceRequester' was not declared in this scope"
I am encountering some odd errors like
.../spack-src/Rendering/FreeType/vtkFreeTypeTools.cxx:1251:26: error: 'vtkFreeTypeToolsFaceRequester' was not declared in this scope

when attempting to compile vtk with freetype@2.10.4 as a dependency.

In a web search of the error message, I encountered https://gitlab.kitware.com/vtk/vtk/-/issues/18033
which seems to match the situation I  am experiencing,

[2021-06-10 15:57] andresailer commented on #24232
Could you add `--trace` in the cmake call to maybe see more information about where the error comes from?

[2021-06-10 16:46] fluidnumericsJoe commented on #24234
[This documentation](https://docs.google.com/document/d/10D70PgTM-vxYPxZSy2fMhajoHrchlP8NR0V96rXOxss/edit?usp=sharing) shares how this feature can be used in practice.

I am currently using this fork for my own Spack mirrors and I believe others would find this useful.

[2021-06-10 16:52] ricardo8r commented on #24030
Thanks for the tip. I got the same problem trying to install petsc with mumps

[2021-06-10 16:52] permeakra commented on #24180
@adamjstewart I see. In this case it appears that many packages define extra properties, like `headers` property in case of libxml2 and `libs` property in case of zlib. Let's say that I install a package 'zdep', for which build phase uses `libs` property of zlib. Am I to understand that `libs` property will be calculated on the fly during this build phase?

[2021-06-10 16:55] adamjstewart commented on #24180
Yes, the `headers`, `libs`, and `commands` properties are calculated on-the-fly during build-time. You don't need to worry about detecting these. Spack's external detection stuff is only for figuring out what is installed (spec) and where it's installed (installation directory).

[2021-06-10 17:07] permeakra commented on #24180
@adamjstewart  Aha! In this case can I distinguish if `libs` calculated in context of external zlib of internal zlib if I want to use different logic for them?

This might cause problems in the future, similarly how we got hit with external python on ubuntu. For example, spack installs libxml2.so into $prefix/lib , but on my system it is installed into $prefix/lib/x86_64-linux-gnu . Thanks to pkgc

[2021-06-10 17:09] adamjstewart commented on #24180
Yes, this is definitely problematic. For most packages, in `libs` we don't distinguish whether something is Spack-installed or external, but we could. Usually we try to recursively search in both `prefix.lib` and `prefix.lib64` until we find the library name we are looking for, so this could still work even with the `x86_64-linux-gnu` subdirectory.

[2021-06-10 17:19] permeakra commented on #24180
@adamjstewart

Would you kindly  tell me how? Or, at least, point me at the relevant part of the docs. I did check the packaging guide, but didn't find this particular lore.

It could, but in this particular case it would be more ideologically proper to extract that dir via pkg-config.

[2021-06-10 17:22] arekfu opened #24242 "`spack config rm` does not remove the `compilers` section from an env"
### Steps to reproduce the issue

[code]
After this command, `$SPACK_ROOT/var/spack/environments/test/spack.yaml` should contain a `compilers` section.
[code]
Now I try to remove the section
[code]
The command succeeds, but the `compilers` section is not removed from `spack.yaml`:
[code]
This gives an error instead:
[code]

### Error Message

[code]

### Information on your system

[code]

### Add

[2021-06-10 17:25] adamjstewart commented on #24180
I think you would just check if `self.spec.external` is True.

My only complaint about pkg-config is that it requires an extra dependency to be installed and it doesn't work for all packages.

[2021-06-10 17:38] amd-toolchain-support commented on #24210
Build and install of amdlibflame was successful with GCC compiler

Below command were tried:
spack install amdlibflame@3.0 threads=openmp

Issue seems to be with Fortran compilers used.

With below approach, one can ensure usage of right Fortran compilers (via spack) and install amdlibflame:
•	spack install gcc
•	gcc_install_path=$(spack cd -i gcc;pwd)
•	spack compiler add $gcc_install_path
•	spac

[2021-06-10 18:24] skylerpaulus opened #24243 "Brackets in docstrings make module file unloadable"
I am trying to load cdd as a module but it is failing. I am guessing this has to do with the brackets in the module file around MRTT53

### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.16.0-2473-7317b04
* **Python:** 3.6.8
* **Platform:** linux-centos7-broadwell
* **Concretizer:** original

### Additional information

- [x] I have run `spack debug report` an

[2021-06-10 19:31] skylerpaulus commented on #24243
Removing the brackets around MRTT53 allowed the module to load.

[2021-06-10 19:33] bebosudo opened #24248 "Installation issue: autoconf on ppc64le"
### Steps to reproduce the issue

[code]

### Information on your system

[code]

### Additional information

This is the same error as in https://github.com/spack/spack/pull/21256, but here the file config.guess (and config.sub) is executable:
[code]

Same error is reported for autoconf 2.62 and 2.59.
Autoconf 2.13 instead is so old that one of the patches fails with:
[code]

* `spack-build-out.t

[2021-06-10 19:38] michaelkarlcoleman commented on #3955
Personally I would prefer that LD_LIBRARY_PATH always be prepended with useful shared libs, when available.  Yes, it can cause trouble if you're trying to mix spack and non-spack packages.  But, if you do that, you're already living in sin--don't do it.

A middle ground would be to add a flag to 'spack load' that would optionally also export libs this way.  So, they could be exported when needed,

[2021-06-10 20:24] michaelkarlcoleman opened #24252 "spack unload does not reliably undo PYTHONPATH changes (etc?)"
If I `spack load py-biopython` and then `spack unload py-biopython`, PYTHONPATH still has a value added by the load.  This seems wrong (and in my case, causes problems).

This might be true for other env vars as well.

### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.16.2-3081-31bca57
* **Python:** 3.6.8
* **Platform:** linux-rhel7-broadwell
* **Concretizer:

[2021-06-10 20:45] bebosudo commented on #24248
I tried manually installing autoconf 2.69, and there's a problem also here:
[code]

It seems autoconf ships with an old (2012) version of config.guess, so ppc64 isn't detected.

I've tried adding autoconf 2.71 or 2.70 to spack, but the installation breaks:
[code]

I ended up installing it manually and adding it to `packages.yaml`.

[2021-06-10 20:58] manuelakuhn opened #24254 "qt+webkit does not build"
I wanted to build qt+webkit but ran into multiple problems. I need version 5.12.10 as a dependency for a package I want to build.

I tried to build
[code]
the first problem is that the python2 requirement is not set. This can easily be fixed by

[code]

Then qt builds but webengine does not due to a missing mesa dependency
[code]

When building `qt+webkit+opengl@5.12.10 %gcc10.3.0` (since gl has a

[2021-06-10 21:05] s-sajid-ali commented on #24227
This is probably related to the failure as there are no issues when running within an Ubuntu container.

Should it help in reproducing this, I used a `Dockerfile` created from `spack containerize` using this PR https://github.com/spack/spack/pull/21910.

[2021-06-10 21:16] payerle opened #24255 "Installation issue: paraview (vtkFreeTypeToolsFaceRequester not declared in scope)"
This appears to be the same issue as with vtk in #24237, but because paraview appears to be building its own vtk (why???), it faces the same error.

Basically, as of freetype@2.10.3, freetype is no longer exporting FT_CALLBACK_DEF, which causes problems in vtk builds.
Since paraview is building its own vtk, the patch for #24237 needs to be applied here as well (unless we get paraview to use the se

[2021-06-10 21:39] sethrj commented on #24254
OK, thanks for the  bump to the  'conflicts' version: when I add conflicts I try to only add them for "known" versions not "suspected". We should also add a conflict for `+webkit ~opengl`.  Could you submit a PR and mention me on it?

As to the next step, can you upload the log files please? Then we can try to track down the next issue.

[2021-06-10 23:14] cgmillette commented on #23900
Hi there @haampie,

Just wanted to drop you a line and clarify some of the build process.

rocBLAS uses the Tensile package to read the logic files and generate the kernel code objects that are used by the application.

Historically, Tensile kernel generation was previously invoked during the 'configure' stage. This meant that running cmake took a long time, and any project configuration changes w

[2021-06-10 23:19] mcuma opened #24259 "Change Lmod template syntax for dependencies"
The Lmod template, share/spack/templates/modules/modulefile.lua, defines the loading of the dependencies that a given module may have with
{% block autoloads %}
{% for module in autoload %}
if not isloaded("{{ module }}") then
{% if verbose %}
    LmodMessage("Autoloading {{ module }}")
{% endif %}
    load("{{ module }}")
end
{% endfor %}
{% endblock %}

which results with syntax like
if not islo

[2021-06-10 23:43] qwofford opened #24260 "subprocess does not persist the effects of setup-env.sh"
@scottwittenburg  @becker33

This subprocess call is problematic if you are using a custom spack env:
https://github.com/spack/spack/blob/5926056f3a4c78a65d41688cdde825d89ed2ac2e/lib/spack/spack/cmd/ci.py#L484

By introducing the `-l` argument, the results of `setup-env.sh` are cleared at runtime. To reproduce, try this:

[code]
Then try:
[code]

### Error Message

I got a validator error from the

[2021-06-10 23:46] amaji commented on #24205
Hi @alalazo,

I need your advice with another issue. I am trying to install `qt+gtk+opengl ^python@3.9.5`, but somehow this is choosing `mesa18` as the glx provider (instead of `mesa`). Since `mesa18` is old, it does not build with `python@3.9.5`.

I am wondering why is the ASP solver choosing mesa18 ahead of mesa. This does not change even if I remove `mesa18` as a glx provider in my `packages.ya

[2021-06-10 23:50] amaji commented on #24205
Shortest example:
[code]
I am using default `packages.yaml`.

[2021-06-11 00:04] sethrj commented on #24216
@becker33 A coworker messaged me today:

and thankfully I was able to send him to your workaround comment. But this is the third time this week that someone's had to ask me about new breaking changes with modules. I think it's worth adding to https://github.com/spack/spack/issues/24223 . If there's no straightforward way to add bulletproof backward compatibility, but there's a way to detect and ei

[2021-06-11 00:40] marcfehling commented on #23282
See also https://github.com/cburstedde/libsc/issues/45.

Your linux kernel is older than `3.17`. They changed the struct `v4l2_pix_format` in the `V4L2` library, which is a  `p4est` dependency since the last release.

@cburstedde, @bangerth -- FYI

[2021-06-11 00:42] marcfehling commented on #23198
Will be fixed by #24219.

[2021-06-11 01:44] srekolam commented on #24029
@cgmillette,  have you seen this failure ?

[2021-06-11 05:40] alalazo commented on #24205
@amaji I'll try to have a look at these two issues going to Monday.

[2021-06-11 06:40] alalazo commented on #24216
@sethjr Don't know if this fits what you have in mind, but we were discussing a command like #23053 that user can run and get warnings about their configurations or other relevant aspects of Spack.

[2021-06-11 06:46] #23198 closed, assigned to nobody

[2021-06-11 07:26] vdanilin commented on #24227
Thanks, @s-sajid-ali. I will take a look

[2021-06-11 08:03] haampie commented on #23900
Thanks! That's good to know. Is there any particular reason compilation itself is slow?

[2021-06-11 08:03] #23900 closed, assigned to srekolam

[2021-06-11 08:10] alalazo commented on #24178
@naromero77 I realize I have been a bit short of words in the previous comment. I pinged you just to make you aware of this issue since:
[code]
@permeakra Would it be fine with you to submit a PR for that?

[2021-06-11 10:23] UweSauter opened #24268 "Virtual dependencies not resolved"
This issue happens with at least virtual dependencies; I'll use `uuid` as example for a virtual dependency in this issue report and `xset` as a package that depends on `uuid`. The other virtual dependency that is affected is `pkgconfig` but it could be more.

When disabling the `builtin` repository by using `repo::` in the site or user `repos.yaml` and copying over package specs from `builtin` to

[2021-06-11 10:27] tmadlener commented on #24232
I don't know if there is a way to tell spack itself to run `cmake --trace`, but I did the following which is I hope more or less equivalent:

[code]

Here are the final lines of the output
[code]

Apart from a more verbose cmake output, it seems unchanged to before. I have found [this cmake issue](https://gitlab.kitware.com/cmake/cmake/-/issues/19040), which seems to suffer from a similar problem.

[2021-06-11 11:00] vvolkl commented on #24232
Ah... probably related to the compiler wrapper, but maybe also to the specific compiler: I need this patch for `garlic`, but only if I use the compiler from the gentoo-prefix toolchain.

[code]

The error message was quite explicit in my case though.

[2021-06-11 11:02] vvolkl commented on #24232
I'm guessing dd4hep only sets this for doxygen, the easiest will be to add a patch in the spack recipe, but maybe we can also change it upstream.

[2021-06-11 11:11] andresailer commented on #24232
Can you try patching ~~this line~~ a line like this to include C
https://github.com/AIDASoft/DD4hep/blob/014222bd422f6606051e6c5a76ad2a75577f51a5/CMakeLists.txt#L48

[2021-06-11 11:31] manuelakuhn opened #24270 "Installation issue: llvm@10 together with gcc 11"
Building llvm@10.0.1 together with gcc 11.1.0 fails

### Steps to reproduce the issue

[code]
fails with
[code]

### Information on your system

* **Spack:** 0.13.4-8281-849943c63d
* **Python:** 3.5.3
* **Platform:** linux-debian9-piledriver
* **Concretizer:** clingo

### Additional information

* [spack-build-out.txt](https://github.com/spack/spack/files/6637996/spack-build-out-llvm-10.0.1-gcc-11

[2021-06-11 11:52] tmadlener commented on #24232
Applying this patch makes everything work for me.

[code]

The only question now is: Fix it upstream in dd4hep, or include this patch in the spack recipe?

[2021-06-11 12:51] andresailer commented on #24232
Should be no problem adding this to DD4hep.
this line
https://github.com/AIDASoft/DD4hep/blob/014222bd422f6606051e6c5a76ad2a75577f51a5/cmake/DD4hepBuild.cmake#L202
actually enables the default languages (C CXX) when it is called, except apparently not in this case here.

[2021-06-11 13:27] cessenat opened #24271 "Installation issue: cyclic dependency, cairo and librsvg recursively call each other."
Package librsvg depends on cairo from the start, while cairo+svg depends on librsvg since PR #14092
commit dd67868ef66fb72c937e9e9a0bbf00a193918643 on 10 Dec 2019 fom @iarspider.
This leads to a cyclic dependency.
spack install cairo+svg
==> Error: +svg does not satisfy ~svg
Maybe @goxberry could provide hints.

For information, graphviz depends on cairo+svg (through +pangocairo) since PR #16511 c

[2021-06-11 14:39] #13484 closed

[2021-06-11 15:01] #19946 closed, assigned to nobody

[2021-06-11 15:22] cgmillette commented on #23900
Yes, rocBLAS builds a library of thousands of kernels per gpu architecture.

GEMM contractions alone have a vast parameter space: Input/Output/Compute types, vector widths, tile sizes, problem sizes and vast arrays of optimization flags are just a few examples, which are combinatorial in nature. After rounds of tuning, 'blueprints' for the fastest kernels are released with rocBLAS.

During the bui

[2021-06-11 15:40] cessenat commented on #24271
Oh, changing the librsvg dependency to type='build' in cairo is not the solution since it would require two passes.
Here is what clingo would say :
[code]
$ spack debug report
* **Spack:** 0.16.1-3045-c3898ca3bf9
* **Python:** 3.8.5
* **Platform:** linux-ubuntu20.04-core2
* **Concretizer:** clingo

 Still, I'm puzzled because librsvg depends on cairo~svg ; maybe @alalazo could explain if this is a

[2021-06-11 15:54] payerle opened #24278 "Installation issue: py-ipython error re missing backcall dep while building py-ipykernel"
I was trying to build py-ipykernel@5.3.4, using py-ipykernel@7.3.0, and I got errors in the build from ipython scripts complaining about the backcall module not being found.

I believe this is an error in the ipython recipe.  Ipython recipe makes py-backcall a dependency for ipython@7.5.0: but not 7.3.0.
As such, I had py-ipython@7.3.0 installed but no py-backcall installed.

I think the depends_o

[2021-06-11 16:03] manuelakuhn commented on #24254
I was not sure which combination you wanted, so I added all I had. I also rerun the combinations with the patch to get a updated picture.  For my use case I would only need 5.12.10 preferable with gcc 11.

- `qt+webkit+opengl@5.12.10 %gcc@9.3.0`
   with full patch applied

  -> webengine does not build

  [spack-build-out.txt](https://cloud.ovgu.de/s/EtPPtMD9MRgwASE)

- `qt+webkit+opengl@5.12.10 %

[2021-06-11 16:23] cgmillette commented on #24029
@srekolam

CMake Error ***
           TensileConfig.cmake:65 (add_subdirectory):
     **30      add_subdirectory given source "/Source" which is not an existing directory.**
     31    Call Stack (most recent call first):
     32      CMakeLists.txt:231 (find_package)
     33
     34
      ....
     **36      include could not find requested file:
     37
     38        /Source/TensileCreateLibrar

[2021-06-11 16:29] sethrj commented on #24254
I downloaded the first build output (spack-build-out-qt-5-12-10-gcc-9-3-0) but can't find any actual build errors in it. It looks like it correctly built qtwebengine (which superseded webkit from Qt 5.7+) and successfully finished the qt bulid.

It's not surprising that llvm 10 failed on gcc11... it's the price of compilers geting more strict. Wonder why it didn't use a newer llvm.

[2021-06-11 17:48] manuelakuhn commented on #24254
Yes that is part of the problem. In the first and second case (gcc 9 and gcc 10) there are no build error for qt itself but it just skips webengine and does not build it
see line 32858 of the gcc 9 (line 33131 of gcc 10):
[code]

[2021-06-11 18:56] sethrj commented on #24254
Oh there it is... wow that's easy to miss.

From a little googling it looks like you're not the only one with this problem. I don't know why qt errors out so late in the game rather than during configure. And I don't know what nss is...

I'm not sure why the concretizer is picking up an older version of llvm.  Try using `^llvm@11:` and I'll add a PR with the gcc/llvm conflict so the new clingo con

[2021-06-11 19:11] #24278 closed, assigned to nobody

[2021-06-11 23:07] #24270 closed, assigned to nobody

[2021-06-11 23:25] wspear opened #24286 "Installation issue: py-gevent"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.16.2-3107-177750b215
* **Python:** 3.8.5
* **Platform:** linux-ubuntu20.04-westmere
* **Concretizer:** original

### Additional information

Salient error output:
[code]

* [spack-build-out.txt](https://github.com/spack/spack/files/6641285/spack-build-out.txt)
* [spack-build-env.txt](https://github.com/spack/s

[2021-06-12 00:51] wspear opened #24287 "Installation issue: mpfr"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.16.2-3107-177750b215
* **Python:** 3.8.5
* **Platform:** linux-ubuntu20.04-westmere
* **Concretizer:** original

### Additional information

Salient error:
`/tmp/pytest-of-wspear/pytest-2/mock-stage0/spack-stage-mpfr-4.1.0-6rrd4ugygkcolfme4qt2zq75cmmpc7xk/spack-src/missing: line 81: makeinfo: command not found

[2021-06-12 01:38] adamjstewart commented on #24286
I'm able to build `py-gevent` without any problems on macOS 10.15.7 with Apple Clang 12.0.0 and on Ubuntu 18.04 with GCC 7.5.0, although I do see that `tp_print` is deprecated and raising warnings. It looks like there are much newer versions of `py-gevent` available. Have you tried any of those?

[2021-06-12 01:44] adamjstewart commented on #24287
At least on develop, `mpfr` has a build dep on `texinfo`, which provides this command. I was able to build `mpfr` on Ubuntu 18.04 with GCC 7.3.0 even though `makeinfo` isn't on the system. Can you check to make sure the package is up-to-date?

[2021-06-12 19:54] eugeneswalker commented on #22758
Sorry for the late response! I missed your reply earlier. Thank you for pushing a fix. I tried the build again, for `power9le`, this morning. I used `phist@develop` and it failed during the cmake stage with the error below.

Using `spack@develop` (0d73fd2b117c61d8c4d36e7b3ad8a46c837649be from `Sat Jun 12 07:44:51 2021 -0400`)

Full concrete spec: [phist.spec.yaml.txt](https://github.com/spack/spac

[2021-06-12 20:23] ax3l commented on #23402
Thanks for digging into this - do you want to open a PR with the version constrain and run the tests? :)

I personally dropped everything before CUDA 9 in my daily work quite a while back :sweat_smile:

[2021-06-12 20:34] ax3l commented on #22918
I would not change the meaning of `RelWithDebInfo` inside spack either, that's too surprising. The default of [CMAKE_BUILD_TYPE](https://cmake.org/cmake/help/latest/variable/CMAKE_BUILD_TYPE.html) is undefined though, so if we go for `Release`/`RelWithDebInfo`/`Debug` by default is our choice.

I'll ask a few people for E4S if they are aware of this, I could imagine that a lot of packages get buil

[2021-06-13 00:20] heaton-dev commented on #23570
I'll close this as it's not directly related to this package

[2021-06-13 00:20] #23570 closed, assigned to nobody

[2021-06-14 00:13] adrienbernede opened #24292 "Feedback on using Reproducible builds in CI"
Disclaimer: I am using Spack pipeline feature in a context that is different than the one in Spack CI. I run CI on a cluster, where runners consist in shells instances that run as me. The file system is shared.

Bug: The current implementation does not support the case where the environment file (`spack.yaml`) includes another file, like `compiler.yaml` or `packages.yaml`.

### Steps to reproduce

[2021-06-14 08:26] UweSauter commented on #24029
Any hints how to solve this?

[2021-06-14 11:32] samcom12 commented on #23394
I'm getting same error with the `develop `branch

`==> Error: There are no valid versions for intel-oneapi-compilers that match ':'`

Following for resolution.

[2021-06-14 11:35] rscohn2 commented on #23394
Please show full command line and output.

[2021-06-14 11:55] kma commented on #23394
@samcom12 which version of python are you using? use `spack debug report `command
I get the same error when using 2.6 version. Try upgrade to 3.x version.
Best.

[2021-06-14 12:02] samcom12 commented on #23394
After mentioning version number from `package.py`, getting below error-

`==> Error: Can't extrapolate a URL for version 2021.2.0 because package intel-oneapi-compilers defines no URLs`

spack --version
`0.16.2-3116-0d73fd2`

[2021-06-14 12:21] samcom12 commented on #23394
Command-

**spack install intel-oneapi-compilers@2021.2.0**
[code]

`spack debug report
`
![image](https://user-images.githubusercontent.com/13285627/121891368-fa87d280-cd38-11eb-86d9-b1ece388c237.png)

Not sure why spack is taking python-2.7.5 even Python 3.9.5 is there in env.

[2021-06-14 12:32] rscohn2 commented on #23394
Try setting:
[code]

I have reproduced the problem with python2 and will fix it. Thanks @kma for pointing that out.

[2021-06-14 14:20] davidhoover commented on #23943
I was able to work around this problem by creating a symlink from lib64 --> lib in the json-c (0.15) directory, i.e.

[code]

[2021-06-14 14:22] qwofford commented on #24260
To expand on this a bit, I have `SPACK_ROOT` set in my `~/.bashrc`, which over-writes the effects of `./setup-env.sh`. This is confusing in the CI job log because I'll see:

[code]

I had to peek into the spack source to find the subprocess call with the `-l` option. An alternative could be to remove SPACK_ROOT from my login scripts, but I think I shouldn't have to. I'm open to discussion on that,

[2021-06-14 14:37] samcom12 commented on #23394
That worked for me. Thanks @rscohn2 and @kma

[2021-06-14 14:51] qwofford commented on #24260
I am using a Jacamar Gitlab runner

[2021-06-14 14:56] sethrj commented on #23453
@mthielma I should've asked this when I first looked at your problem, but is `mesa` absolutely necessary or is it just how spack prefers to concretize? Do you have xquartz installed, which can be used for opengl? If so, run `spack external find --scope=site opengl` and maybe that'll solve the problem.

[2021-06-14 15:14] dev-zero commented on #24210
While I believe that it works with a custom built vanilla gcc, this is not really an option here since I have to rely on the `cray-mpich` as well (which is afaik tied to the compiler to some extent).

[2021-06-14 15:32] cburstedde commented on #23282
I've updated to release v2.3.2. Hope this one is ok!

[2021-06-14 17:41] scheibelp commented on #24029
Were you able to try the suggestion at https://github.com/spack/spack/issues/24029#issuecomment-853968087?

I also had trouble finding a response to https://github.com/spack/spack/issues/24029#issuecomment-853157192, which could be useful.

Would you be able to try an install with minimal externals (that may take longer but hopefully is easy to set up and run in the background)?

[2021-06-14 17:47] #23394 closed, assigned to rscohn2

[2021-06-14 17:56] srekolam commented on #24029
@cgmillette  , is there a way to solve this ?

[2021-06-14 18:36] sethrj opened #24306 "Document DYLD_FALLBACK_LIBRARY_PATH behavior from Big Sur on"
Spack-generated lmod files are defining DYLD_FALLBACK_LIBRARY_PATH as a shell variable but (silently) not exporting it. This is apparently a new  security feature on Big Sur. I'm not 100%  sure I understand the behavior yet: whether the issue only shows up with forking, with the `env` command, or with bash. See [this stackexchange question](https://apple.stackexchange.com/questions/212945/unable-t

[2021-06-14 18:41] dev-zero commented on #24210
As I suspected, the Cray compiler wrappers drop the `-shared` for some reason when forwarding the call:

[code]

... and adding `--craype-prepend-opt=-shared` is the workaround. But this smells like a Cray compiler wrapper bug.

[2021-06-14 19:12] sskutnik commented on #15333
I am also experiencing this issue on Big Sur (macOS 11.4), with `llvm-9.0.1`, compiling with `clang-12.0.5`

Digging into the logs, it looks like it's failing in the compile here:

[code]

Note that this _seems_ to be similar to observed issues with building `clang` on Big Sur observed over at MacPorts:

https://trac.macports.org/ticket/61477

[2021-06-14 19:18] adamjstewart commented on #24306
In my experience, `DYLD_LIBRARY_PATH` and `DYLD_FALLBACK_LIBRARY_PATH` are unset/ignored whenever you run any system executable. As you've noted, this is a "feature" of SIP. Notably, if you have a script with a shebang like `/usr/bin/env python`, if you run it like `./script.py` it won't work, but if you run it like `python script.py` it will. You could disable SIP, but I don't recommend this.

[2021-06-14 19:43] sethrj commented on #24306
Right, that makes sense, and I def don't want to disable SIP. However it is surprising to run CMake (and that installed through homebrew) after loading the spack module and find that `DYLD_FALLBACK_LIBRARY_PATH` isn't accessible to a forked process.

Are the DYLD paths generally needed  for spack-installed software?  I guess I could at least add a note to the spack documentation about this system

[2021-06-14 19:44] dev-zero commented on #24210
Replacing the shorthand notation

[code]

with

[code]

fixes the issue.

[2021-06-14 19:56] hyviquel commented on #13643
I know it is an old issue but you might want to check #24307.
I was able to make the whole installation of Paraver working.

To make the installation faster, I suggest to install wxwidgets 3.0+ with your package manager (for example `apt-get install libwxgtk3.0-gtk3-dev`) and add it to your packages.yaml as external:
[code]

[2021-06-14 19:59] adamjstewart commented on #24306
I've found them necessary mostly for Python packages where RPATH isn't always supported.

[2021-06-14 20:18] sethrj commented on #24306
OK, I'll just add a documentation note about the unusual behavior of the DYLD guys to spack's `modules` documentation.

[2021-06-14 20:35] dev-zero commented on #24210
Solved with the patch in the linked issue: https://patch-diff.githubusercontent.com/raw/flame/libflame/pull/52.patch

[2021-06-14 22:02] eugeneswalker opened #24312 "netcdf-c@4.8.0: requires variant api=v18 when ^hdf5@1.12"
`netcdf-c@4.8.0` requires `api=v18` if using `^hdf5@1.12.0`

Using `spack@develop` (26c645650d5bfc4a10bdf4568149b3fa44ccbc44 from `Mon Jun 14 16:23:09 2021 -0400`):
* Container image: `ecpe4s/ubuntu20.04-runner-x86_64:2021-05-15`

Concrete spec: [netcdf-c-4tx24b.spec.yaml.txt](https://github.com/spack/spack/files/6651482/netcdf-c-4tx24b.spec.yaml.txt)
Full log: [netcdf-c-build-out.txt](https://git

[2021-06-14 22:21] wspear commented on #24287
My bad. Texinfo was an external and it somehow got removed from my system. A sanity check on existing externals, at least when external find or list is called, might be handy.

[2021-06-14 22:21] #24287 closed, assigned to nobody

[2021-06-14 22:23] wspear commented on #24286
This seems to have been related to something poisonous in my .spack directory (possibly external related but that's not as clear as my issue with mpfr). Cleared it out and now it builds.

[2021-06-14 22:23] #24286 closed, assigned to nobody

[2021-06-14 22:56] frankwillmore opened #24314 "new concretizer doesn't respect externally declared openmpi and tries to build an unbuildable spec"
### Steps to reproduce the issue

[code]
When I switch to the clingo concretizer, the external is ignored:
[code]

### Error Message

N/A

### Information on your system

熊俊傑@thetagpusn2:~/environments/test-external-openmpi$ spack debug report
* **Spack:** 0.16.1-1711-d7f1ff68fb
* **Python:** 3.8.8
* **Platform:** linux-ubuntu18.04-zen2
* **Concretizer:** clingo

### Additional information

- [x]

[2021-06-14 23:46] #13643 closed

[2021-06-15 05:36] samcom12 opened #24327 "Installation issue: py-matplotlib with Oneapi intel compiler"
[spack-build-01-build-out.txt](https://github.com/spack/spack/files/6653056/spack-build-01-build-out.txt)
[spack-build-env.txt](https://github.com/spack/spack/files/6653057/spack-build-env.txt)
[spack-build-out.txt](https://github.com/spack/spack/files/6653058/spack-build-out.txt)

Looks like a linker error with clang++ / icpx

@danvev @rscohn2

[2021-06-15 06:18] samcom12 commented on #24327
Is it something related to freetype@7 + version, earlier intel compiler doesn't support it.

[2021-06-15 07:14] alalazo commented on #24314
With this `packages.yaml`:
[code]
I get on my laptop:
[code]
which seems correct? Marking as unreproducible until details of the report are specified better...

[2021-06-15 09:14] UweSauter commented on #24029
@scheibelp : I have seen #23859 but don't know what to make of it.

Since reporting the issue I set up my Spack environment multiple times and each time I stumble upon other issues, which is frustrating. E.g. it seems impossible to disable the `builtin` repository so that you have full control over the available packages, see #24268. Another issue is that some packages in `builtin` reference other

[2021-06-15 14:52] frankwillmore commented on #24314
@alalazo Somehow I deleted most of the content when I posted. I edited so it should be there now. Thank you for looking at this.

[2021-06-15 15:37] haampie commented on #24029
@UweSauter I think these frustrations are unrelated to this issue? Again, you may have more luck using spack's build of python and its packages, and if you do so, try it with #23859, since that adds pip as a dep to rocblas. If you don't want to try a non-system python as an alternative I'm not sure how to make progress here.

[2021-06-15 18:28] jjolly opened #24336 "Z3Config.cmake not installed due to Makefile build"
After running `spack install z3` the installed files did not include the file `Z3Config.cmake`

### Steps to reproduce the issue

[code]

### Error Message
When building a CMake project with a line `find_package(Z3 REQUIRED)` the following occurs:

[code]

### Information on your system

[code]

### Additional information

- [x] I have run `spack debug report` and reported the version of Spack/Pyt

[2021-06-15 19:37] alalazo commented on #24205
For what is worth, I'm looking into a subtle bug here. This diff seems to resolve this issue:
[code]
but unit tests are still failing on an edge case. Will continue working on it tomorrow.

[2021-06-15 19:52] #24232 closed, assigned to nobody

[2021-06-15 20:58] saadrahim commented on #24029
For my understanding, is there a CI system that tests rocblas prior to accepting code into this github repository? Does spack successfully build rocblas associated with rocm 4.1.0?

[2021-06-15 22:02] haampie commented on #24029
Hi @saadrahim, I'm building the latest version of rocm myself in CI, @srekolam is building a range of versions before accepting a PR, but otherwise we don't have CI setup. I don't particularly like to setup full CI because building all of ROCm is extremely slow, and there are incompatibilities with mixing new ROCm software with old drivers and the other way around. Do you have anything to offer in

[2021-06-15 22:29] saadrahim commented on #24029
I am trying to understand the testing process on the github.com repository side. I am going to follow up internally at AMD on this issue.

[2021-06-15 22:54] saadrahim commented on #24029
One observation is your cmake version newer than any that I test with. I have tested upto 3.17.5. Not likely the cause of your failures, but give me a little time to setup a place to reproduce your this issue.

[2021-06-16 01:39] #14293 closed

[2021-06-16 01:39] #17893 closed, assigned to nobody

[2021-06-16 01:39] #17896 closed, assigned to nobody

[2021-06-16 01:40] #17975 closed, assigned to nobody

[2021-06-16 01:40] #17894 closed, assigned to nobody

[2021-06-16 05:17] #6266 closed

[2021-06-16 05:19] #17579 closed, assigned to nobody

[2021-06-16 05:46] #23282 closed, assigned to nobody

[2021-06-16 07:51] UweSauter commented on #24029
I can try out building with cmake@3.17.5 .

[2021-06-16 09:21] samcom12 opened #24353 "Fix for building with GCC 11"
As most the builds fail with FCC 11, we need to write a patch to include `#include <limits>` and
`#include <stdexcept>` while building with GCC-11.

[2021-06-16 12:28] alalazo commented on #24314
@frankwillmore I  am still unable to reproduce. Even moving at the commit you reported (d7f1ff68fb merged March 15th) I still have:
[code]
with this `spack.yaml`:
[code]
I wonder what could be the trigger for this issue. Can you retry the concretization of the environment and report if this happens consistently for you?

[2021-06-16 13:13] haampie commented on #24353
What package are you talking about? Feel free to submit patches...

[2021-06-16 14:07] vdanilin commented on #24227
Hi, @s-sajid-ali,
I've finally managed to reproduce the issue, it looks like Alpine misses some GNU-compat libs and thus can't run bootstrapper. I'll try to define which packages are needed for installation. I have to note that Alpine is **not** supported by oneAPI and we can't guarantee its functionality and operability on this OS.

[2021-06-16 15:56] dev-zero opened #24357 "Installation issue: spla-1.4.0 fails to build with amdblis"
### Steps to reproduce the issue

[code]

### Information on your system

[code]

### Additional information

* [spack-build-env.txt](https://github.com/spack/spack/files/6664267/spack-build-env.txt)
* [spack-build-out.txt](https://github.com/spack/spack/files/6664269/spack-build-out.txt)

### General information

- [x] I have run `spack debug report` and reported the version of Spack/Python/Platf

[2021-06-16 15:57] dev-zero commented on #24357
maybe @amd-toolchain-support would be interested?

[2021-06-16 19:36] akail commented on #20303
We're experiencing this same issue with one of our systems as well and I want to share some notes.

Compiled with arch=x86_64 on a skylake_avx512 architecture.

Works on:
- skylake_avx512

Doesn't
- ivybridge

If we instead build on the ivybridge it works across all our systems, which makes sense because the skylake is newer than the ivybridge.

[2021-06-17 05:03] #24336 closed, assigned to nobody

[2021-06-17 05:42] amaji commented on #24205
@alalazo i tested again on the latest develop branch .. this seems to solve the openssl issue.

The glx provider issues still persists. I still get `mesa18` when concretizing `libepoxy`.

[2021-06-17 05:48] alalazo commented on #24205
I just took care of the issue in the description so far. Will try to have a look at https://github.com/spack/spack/issues/24205#issuecomment-859158603 today.

[2021-06-17 10:19] #24237 closed, assigned to nobody

[2021-06-17 11:56] UweSauter opened #24377 "Installation issue: rocsolver-4.2.0: unable to build in internet-access restricted environment"
### Steps to reproduce the issue
@arjun-raj-kuppala @srekolam

rocsolver does not install in a internet-access restricted environment even though all spack-related files were previously downloaded with `spack fetch -D rocsolver`.

[code]

### Information on your system

[code]

### Additional information

See below for `spack-build-out.txt` and `spack-build-env.txt`.

### General information

- [x

[2021-06-17 11:59] UweSauter commented on #24377
`spack-build-env.txt`
[code]

[2021-06-17 12:01] UweSauter commented on #24377
`spack-build-out.txt`
[code]

[2021-06-17 12:15] UweSauter commented on #24377
What is also confusing is, that Cmake tries to download `rocm-cmake` but this is already installed:
`[+] /opt/hlrs/spack/2021-06-16/rocm-cmake/4.2.0-gcc-10.3.0-dhey357i`

[2021-06-17 13:06] srekolam commented on #24377
@UweSauter , you were able to install rocblas now ? i see that you used cmake.3.17.5 . i will look into this ?

[2021-06-17 13:13] samcom12 opened #24378 "New version: py-tensorflow-2.5.0 to be added"
I have tried building py-TensorFlow-2.5.0 with local spack changes. But, failing to build it with GCC-11.1.0 on all systems like- Intel and ARM.

There are reported bugs for GCC-11 on dependant packages. explicitly including `<limits>` resolves some of the issues.

[2021-06-17 13:20] UweSauter commented on #24029
Partial progess in building the ROCm 4.2 stack.

I started over and built
- `gcc@11.1.0 %gcc@4.8.5` (external)
- `gcc@11.1.0 %gcc@11.1.0`
- some rocm packages `%gcc@11.1.0 ^cmake@3.17.5`

Unfortunately `gcc@11.1.0` seems to have problems building ROCm packages so I built
- `gcc@10.3.0 %gcc@11.1.0`
- `gcc@10.3.0 %gcc@10.3.0`

and then most part of the ROCm stack using `%gcc@10.3.0` and `^cmake@3.17

[2021-06-17 13:54] nathangibson14 commented on #21492
Same problem on another similarly-configured computer.  Thanks @cjosey for the workarounds -- option 3 worked like a charm!

[2021-06-17 13:58] UweSauter commented on #24377
From my limited cmake knowledge this issue seems to come from `./cmake/get-rocm-cmake.cmake` which is included in `./CMakeLists.txt`. It looks like it doesn't find the already installed `rocm-cmake` path and thus tries to download the source.

I think the error is the assumption that ROCm gets installed into `/opt/rocm` which is not the case at all when Spack is used.

[2021-06-17 15:39] frankwillmore commented on #24314
I chased this down the rabbit hole and ended up moving to a 0.16.2 version spack, installing full ananconda to get the concretizer to bootstrap, as it had quit working on me in the process. Whatever composite state I'd gotten into that generated the original behavior, I wasn't able to get back to, and eventually came out the other side able to pick up the external. Adding notes here for posterity.

[2021-06-17 15:39] #24314 closed, assigned to alalazo

[2021-06-17 15:48] adamjstewart commented on #11280
Closing as we haven't gotten a response in a while. Also pinging @stomov and @luszczek in case they have any comments.

[2021-06-17 15:48] #11280 closed

[2021-06-17 16:14] alalazo commented on #24314
No worries @frankwillmore I am always glad when an issue resolves that easily!

[2021-06-17 18:23] cgmb commented on #24377
Hello, I'm a rocSOLVER developer. I took a look through [spack's package file](https://github.com/spack/spack/blob/develop/var/spack/repos/builtin/packages/rocsolver/package.py), and I noticed there might be a couple things missing in the dependencies.

rocm-cmake is not specified as a dependency in the spack package, but it is required at build time. It's being explicitly listed in the rocBLAS pa

[2021-06-17 19:32] pjh40 commented on #23830
FWIW, I've also encountered this error, same sort of circumstances (spack install of `nvhpc%gcc` includes `gcc` in the path name).

[2021-06-18 03:35] tgamblin commented on #2873
This thread has lots good ideas but is getting a bit long.  If folks want to file specific things from it as separate issues that would be great -- we also have discussions and for major enhancement proposals there is now https://github.com/spack/seps.  Thanks for all the feedback!

[2021-06-18 03:35] #2873 closed

[2021-06-18 07:30] UweSauter commented on #24268
BTW: What I don't understand and what I haven't yet found in the documentation:
**What are the requirements for a virtual dependency to be recognized as such by Spack?**

- Is it sufficient that the spec itself contains `provides(<virtual package name>)`?
- Does it need to be specified in `packages.yaml` in the form of `<virtual package name>: [<list of package names that satisfy the dependency to

[2021-06-18 10:00] LDAmorim commented on #21672
Hi @adamjstewart ,

Thank you for the suggestions and thank you @LutzWeischerFujitsu for opening this issue.

I am posting this message because I'd like to help make this package installation work with *spack*.

In my case, I am finding this issue when trying to get *sphinx* (which needs, according to https://spack.readthedocs.io/en/latest/contribution_guide.html, *subversion*) with the configurat

[2021-06-18 10:01] Billae opened #24393 "Informations about spack develop"
Hello,

I want to develop my project named readers (which has its own git repository) in a spack environnement:
To this end, I have a spack.yaml which contain my develop spec:
[code]

When I concretize my environnement, all seems ok, and a new directory is created named "reader_dev"  containing my git repository as expected.

 However, my project has multiple branchs and the default develop branch

[2021-06-18 10:45] MBlaschek commented on #22721
Same problem with oneapi 2021.2.0, installed with spack:
* **Spack:** 0.16.0-2328-d64ef5fbe6
* **Python:** 3.6.8
* **Platform:** linux-rhel8-skylake_avx512
* **Concretizer:** original

[2021-06-18 11:03] MBlaschek commented on #22721
OK. I checked the config.log file and it says:
[code]
But I do not know what that means.

[2021-06-18 11:12] MBlaschek commented on #22721
found this on [intel-community](https://community.intel.com/t5/Intel-Fortran-Compiler/ifx-2021-1-beta04-HPC-Toolkit-build-error-with-loopopt/m-p/1184181), suggesting to update autoconf

I was using autoconf 2.69....trying it right now.

[2021-06-18 11:18] LutzWeischerFujitsu commented on #21672
I retried. Now it works for serf on Fedora 33, x86 + A64FX.

[2021-06-18 11:22] tjahns opened #24394 "Installation issue: mpich@3.4.1 ^libfabric@1.4.2"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.16.2-3198-732180f54e
* **Python:** 3.5.3
* **Platform:** linux-debian9-sandybridge
* **Concretizer:** original

This is simply an omission: ofi from recent mpich requires symbols only present in libfabric 1.5 and newer.

### Additional information

* [spack-build-out.txt]()
* [spack-build-env.txt]()
I'll retri

[2021-06-18 13:03] eschnett opened #24396 "OpenMPI: Update preferred version"
The OpenMPI package lists version 4.0.5 as the preferred version. Initially, this only meant that version 4.1.0 would not be installed by default. By now, successor versions 4.0.6 and 4.1.1 are available.

It might now be possible to remove `preferred=True` tag, or to move it forward. If not, its reason should be documented.

[2021-06-18 13:29] raffenet commented on #24394
We'll need to raise the minimum libfabric version, I think. Let me double check what's required.

[2021-06-18 13:40] adamjstewart commented on #21672
Adding `-luuid` wouldn't help because that's already there. The problem isn't the library name, but the library location. The solution would be to add `-L/path/to/uuid/lib` to the `LINKFLAGS` but that's what `search_flags` is supposed to do and you've already tried that. Let me see if I can reproduce.

[2021-06-18 13:42] adamjstewart commented on #21672
I can't reproduce on my Ubuntu 18.04 instance because `libuuid` is already installed.

[2021-06-18 14:10] LDAmorim commented on #21672
Thank you for checking this.
I tried to install and load `libuuid` in my machine with `spack` and it still didn't work.
But the workaround was sufficient for me to get the package I needed.
So if this issue is not relevant to others, please feel free to close it and thanks for all the help.

[2021-06-18 14:11] raffenet commented on #24394
We need minimum 1.5.0 for MPICH 3.4[.x].

[2021-06-18 14:34] adamjstewart commented on #21672
`spack load` won't work because Spack unsets `LD_LIBRARY_PATH` during the build.

Let's keep this issue open, I don't like when Spack packages link to system libraries.

[2021-06-18 17:19] scheibelp commented on #24268
Is this possibly related to https://github.com/spack/spack/issues/22589?

Would you be able to check if this works with the new concretizer?

Alternatively, with the old concretizer and trying `spack spec xset ^(the specific uuid provider you added to your repo, not "uuid" but the package that says "provides(uuid)")`

[2021-06-18 17:53] scheibelp commented on #24393
Not sure if this is the issue but generally when we pull git versions we remove lots of git data (for example we fetch just the branch that is needed and nothing else). You might have luck declaring `get_full_repo=True` in your version like

`version(... get_full_repo=True)`

Alternatively (the following would not require changing anything in `package.py`), you might be able to work with what you

[2021-06-18 21:00] srekolam commented on #24377
@cgmb  ,if you see the log  at the top rocm-cmake is already installed --
[+] /opt/hlrs/spack/2021-06-16/numactl/2.0.14-gcc-10.3.0-in3i3b5g
[+] /opt/hlrs/spack/2021-06-16/rocm-cmake/4.2.0-gcc-10.3.0-dhey357i

also, if you do spack spec rocsolver | grep rocm-cmake  =>  you can notice the below.. So rocsolver is having the dependency on rocm-cmake

        ^rocm-cmake@4.2.0%gcc@10.3.0~ipo+ldconfig b

[2021-06-18 21:39] sethrj opened #24417 "Installation issue: clingo won't bootstrap on rhel7"
RHEL7 by default ships with GCC4.8.5. Do we need to bootstrap the bootstrap?

### Steps to reproduce the issue

Set the concretizer to `clingo` in packages/config.yaml on RHEL7

[code]

### Information on your system

* **Spack:** 0.16.2-3016-1fd1f1c93f
* **Python:** 3.6.8
* **Platform:** linux-centos7-zen2
* **Concretizer:** clingo

[2021-06-18 21:40] bcdarwin opened #24418 "Use of `prefix: /` in `packages.yaml` can cause traversal of entire file system"
It appears that `prefix: /` in `packages.yaml` can cause Spack to traverse the entire file system.

For example, on an Ubuntu 20.04 system, `spack external find` nondeterministically locates `xz` as having prefix either `/` or `/usr` (though I don't think there's anything specific to `xz` here, just for minimality since `packages.yaml` seemingly must have at least one package).  The former case is

[2021-06-18 22:07] robertu94 opened #24420 "External only packages"
Some packages like ‘perf’ on Linux must be matched closely by the Kernel version because they depend on the Kernel API. Spack currently doesn’t have a way to express these dependencies, making it difficult to package tools like ‘perf’ or higher level tools that depend upon it.

Until spack can build these tools natively, it would be nice to have an “external-only” package which can only be added v

[2021-06-18 22:12] cgmb commented on #24377
`spack spec rocsolver` lists rocm-cmake as a build dependency of comgr, not of rocsolver. While rocSOLVER depends on comgr, I don't think that implies that all comgr's build-time dependencies are also available during rocSOLVER builds. There may be a leftover copy somewhere on the system during the rocSOLVER build, but it needs to be activated to be used during a build.

Looking through the suppli

[2021-06-18 22:14] adamjstewart commented on #24420
We already have several packages like this in Spack:

* apple-libunwind
* apple-libuuid
* macfuse
* jdk (on macOS)

So it's definitely possible to do this, but I agree we could have a common base class for packages like this to simplify some of the repeated logic.

[2021-06-18 22:20] adamjstewart commented on #24418
Whenever a Spack package like `python` depends on another package like `xz`, Spack queries the `xz` package to find out where it's libraries are installed. In the case of `xz`, it does this by searching for `liblzma` in the following locations:

1. `prefix/lib`
2. `prefix/lib64`
3. `prefix` (recursively)

So if the library isn't found in the first two locations, we resort to a recursive search. Th

[2021-06-18 22:21] adamjstewart commented on #24417
I encountered the same thing. @alalazo will this be solved once we start bootstrapping from binaries?

[2021-06-18 22:22] adamjstewart commented on #24396
Pinging the OpenMPI maintainers to make this happen: @hppritcha @naughtont3

[2021-06-18 22:28] srekolam commented on #24377
@cgmb  , thanks for your inputs . i think the error is coming from get-rocm-cmake.cmake file -
if( NOT ROCM_FOUND )
  set( rocm_cmake_tag "master" CACHE STRING "rocm-cmake tag to download" )
  set( rocm_cmake_url "https://github.com/RadeonOpenCompute/rocm-cmake/archive/${rocm_cmake_tag}.zip" )
 set( rocm_cmake_path "${PROJECT_EXTERN_DIR}/rocm-cmake-${rocm_cmake_tag}" )
  set( rocm_cmake_archive "$

[2021-06-18 23:09] cgmb commented on #24377
`if( NOT ROCM_FOUND )` is only ever true if `find_package( ROCM [...] )` fails, so while I don't really like the rocm-cmake auto-download code, the only thing that would change if it were removed is that `find_package(ROCM [...] )` would be marked `REQUIRED` and the build would fail slightly earlier.

depends_on('rocm-cmake@' + ver, type='build', when='@' + ver) inside rocsolver recipe.

It's wort

[2021-06-19 08:16] alalazo commented on #24417
@sethrj @adamjstewart Can you try the steps in the description of #22720 ? Bootstrapping from binaries should solve this issue.

[2021-06-19 08:18] permeakra opened #24426 "Installation issue: generic gcc 10 fortran build error, exposed by wannier90"
wannier 90 fail to build with numerous REAL/COMPLEX type mismatch errors on gcc-10.3.0/gentoo. Quick google check shows numerous reports on compilation failures with gcc 10, see for example https://github.com/Unidata/netcdf-fortran/issues/212

The general consensus seems to suppress the error message with -fallow-argument-mismatch  compiler flag for existing projects

[2021-06-19 08:27] UweSauter commented on #24268
It might be related.

I'm not sure that the new concretizer could help because I'm in a very restricted environment where I cannot just install any requirement. Getting software into our OS image would take some time. (I'm working on diskless systems that have read-only NFS root.)

If it is possible to install the new concretizer with Spack itself then I might be able to try out.

I had to synchro

[2021-06-19 08:41] UweSauter commented on #24377
Just to be sure: you want me to add `depends_on('rocm-cmake@' + ver, type='build', when='@' + ver)` to the `rpcm-cmake` `package.py` and re-try building?

[2021-06-19 08:42] alalazo commented on #24268
There are currently two possible "simple" ways in develop to install the new concretizer. The first one works if you have a Python interpreter that is at version 3.6 or later. In that case the maintainers of `clingo` started recently to have Python packages on PyPI and:
[code]
should do everything is needed to use the new concretizer (of course variations on the same theme depend on your environme

[2021-06-19 10:51] UweSauter commented on #24377
So, if the dependency on `rocm-cmake` is specified in `rocsolver`'s `package.py` it does build. As @cgmb mentioned, it should probably also be included in various other specs because I had o put it into `hipblas`' package.py, too.

[2021-06-19 12:33] UweSauter commented on #24377
Please see my pull request #24427

[2021-06-19 14:42] permeakra commented on #24426
adding '-fallow-argument-mismatch' to fflags in the compilers config fixes the issue. Spack probably should complain on detecting/installing affected compiler if not simply silently adding this flag.

[2021-06-19 15:17] hppritcha commented on #24396
will deal with this today along with #24391

[2021-06-19 16:26] UweSauter opened #24429 "Installation issue: migraphx 4.2.0 fails to build with "fatal error: 'Python.h' file not found""
@arjun-raj-kuppala @srekolam

### Steps to reproduce the issue

As you can see below there is a Python installation done by Spack available. It seems to me that it isn't used, though.

[code]

### Information on your system

[code]

### Additional information

See `spack-build-out.txt` and `spack-build-env.txt` below.

### General information

- [x] I have run `spack debug report` and reported the

[2021-06-19 16:28] naughtont3 commented on #24396
@hppritcha Again for my education, this is matter of moving `preferred` up in `packages.yaml`.  Do we have guide/process for when to move from 4.0.x to 4.1.x as "preferred" (i.e., switch forward for minor release based on past procedures)?  Or is it generally to just track "latest" stable at highest release?  Thanks.

[2021-06-19 16:41] UweSauter commented on #24429
[spack-build-env.txt](https://github.com/spack/spack/files/6681030/spack-build-env.txt)
[spack-build-out.txt](https://github.com/spack/spack/files/6681031/spack-build-out.txt)

[2021-06-19 18:13] sethrj commented on #24417
Will do as soon as I have access to the machine in question—probably Monday. Thanks for the workaround, hope it works!

[2021-06-19 18:46] UweSauter opened #24430 "Installation issue: rocm-validation-suite-4.2.0 asks for root privileges"
@srekolam @arjun-raj-kuppala

I don't know why Cmake is trying to override `/usr/bin/python` but this is unacceptable behavior.

Also at the next step it tries to aquire root privileges via `sudo` which shouldn't be needed by any package that Spack installs.

### Steps to reproduce the issue

[code]

### Information on your system

[code]

### Additional information

* [spack-build-env.txt](https:

[2021-06-19 18:54] UweSauter opened #24431 "Installation issue: rocprofiler-dev-4.2.0 fails to build"
@arjun-raj-kuppala  @srekolam

### Steps to reproduce the issue

[code]

### Information on your system

[code]

### Additional information
* [spack-build-env.txt](https://github.com/spack/spack/files/6681199/spack-build-env.txt)
* [spack-build-out.txt](https://github.com/spack/spack/files/6681200/spack-build-out.txt)

### General information

- [x] I have run `spack debug report` and reported the

[2021-06-19 19:30] eschnett commented on #24396
The general guideline is to not have a `preferred` tag at all unless necessary. Such a tag would be introduced when a new release is known to be faulty (and shouldn't generally be used), or when it unexpectedly breaks too many other packages.

If there's a known bug or severe incompatibility in 4.1.x, then Spack could reasonably decide to stay on 4.0.x. (In this case, it would make sense to docume

[2021-06-19 21:37] hppritcha commented on #24396
adding to @eschnett I would generally not have a 0 ompi release be preferred.  so when we added 4.1.0 we should have set 4.0.5 to preferred in any case.

[2021-06-20 09:20] ikitayama opened #24434 "Feature request: allow configure "spack install --fail-fast" by default"
There's no reason IMHO, to go on building if one of the packages required to build a spec failed.

[code]

[2021-06-20 13:57] amaji opened #24435 "Installation issue: llvm@11.1.0%gcc@11.1.0 build fails"
I have been trying to build older versions of LLVM (<12.0.0) with gcc@11.1.0 without any luck. After a while the build fails with some uninformative error messages like these:
[code]

I am wondering if anyone else has experienced this. Is LLVM 11 incompatible with gcc@11?

**Note:**
`llvm@12.0.0%gcc@11.1.0` builds fine.
`llvm@11.1.0%gcc@8.3.1` builds fine.

[2021-06-20 13:58] amaji commented on #24435
for reference, my full spec is this:
[code]

[2021-06-20 14:28] christoph-conrads commented on #21566
Hi, the CFD solver [Code_Saturne](https://www.code-saturne.org/) calls the compiler at run-time. The path to the compiler wrapper is stored in a text file. Please replace the compiler wrapper in this file. Do you want me to open a new issue?

Note: I am not a Code_Saturne developer.

[2021-06-20 20:33] ikitayama commented on #24435
Can you upload the logs here?

[2021-06-20 21:38] ikitayama commented on #24435
[code]

[2021-06-20 21:42] ikitayama commented on #24435
[spack-build-out.txt](https://github.com/spack/spack/files/6683106/spack-build-out.txt)

[2021-06-20 22:50] scheibelp commented on #24434
I think `--fail-fast` will do what you want:

[code]

Please reopen this if you don't think that is sufficient.

[2021-06-20 22:52] ikitayama commented on #24434
May I ask how to make this default ie without adding the --fail-fast?

On Mon, Jun 21, 2021 at 7:50 AM Peter Scheibel ***@***.***>
wrote:

[2021-06-20 23:58] scheibelp commented on #24434
There is no means to do this in Spack (there is no configuration option to set the default). You could add a shell alias for the command; if that won't work in your case (or you think users would want to be able to configure the default) then it would make sense to reopen this (I'll do that for now - and update the issue title).

[2021-06-21 00:44] ikitayama commented on #24434
Choices are good to all of them.

On Mon, Jun 21, 2021 at 8:58 Peter Scheibel ***@***.***>
wrote:

[2021-06-21 01:45] ggouaillardet opened #24441 "ARM compilers do not generate SVE code on a64fx"
The default behavior of ARM compilers (I tested 20.3 and the latest 21.0) is **not** to generate SVE code, even on A64fx platforms. The `-march=armv8.2a+sve` flag is required in order to generate SVE code.

This is arguably an ARM bug/feature, and a manual workaround is to
[code]
and friends.

That being said, I believe spack can improve this and automatically set this flag (unless the `-march` fl

[2021-06-21 06:36] alalazo commented on #24441
@ggouaillardet Are you reporting behavior about `armclang`, `armclang++` and `armflang`? In case, can you double check that the flag you suggest works with all 3 compilers?

[2021-06-21 06:38] alalazo commented on #24441
The solution here is to add optimization flags to `archspec` so that the library also supports the ARM compilers.

[2021-06-21 06:46] ggouaillardet commented on #24441
@alalazo I confirm `-march=armv8.2a+sve` works for the three compilers `armclang`, `armclang++` and `armflang`

[2021-06-21 07:06] ggouaillardet commented on #24441
Thanks for the hint!

I tried this:
[code]

but it did not help (`-march=...` is **not** passed to `armclang` when using `arm@20.3.0.543`.
Did I miss something?

[2021-06-21 07:11] alalazo commented on #24441
Just to be sure (apologies, I don't have an `armclang` to try myself) how did you verify if the flag was passed or not?

[2021-06-21 07:18] ggouaillardet commented on #24441
No problem, I used `strace` to confirm the flags was not passed to the `armclang` spack wrapper, nor the "real" `armclang` compiler.
Also, my test failed since it `#include <arm_sve.h>`, and can only work if `-march=armv8...+sve` is passed

[2021-06-21 07:23] alalazo commented on #24441
Can you post the part of your compilers.yaml where you have the arm compilers registered? I'll try to use that to see if I can "fake" the behavior.

[2021-06-21 07:25] #24353 closed, assigned to nobody

[2021-06-21 07:27] ggouaillardet commented on #24441
Sure, here it is

[code]

fwiw, here is my recipe
[code]

[2021-06-21 07:46] alalazo commented on #24441
@ggouaillardet Can you also try adding `arm` as a valid compiler for `aarch64` without version constraints and with a generic flag? I think that + your diff above should work.

[2021-06-21 08:06] ggouaillardet commented on #24441
Thanks, that did the trick!

Shall I issue a PR?

fwiw, here are my changes

[code]

[2021-06-21 08:09] alalazo commented on #24441
Can you submit a PR against the JSON file in this repository https://github.com/archspec/archspec-json ?

[2021-06-21 08:11] alalazo commented on #24441
To explain further, `archspec` originated from Spack but is now a standalone package. When we fix issues like this one we usually contribute the change upstream and then update the version of `archspec` we vendor in Spack.

[2021-06-21 08:31] ggouaillardet commented on #24441
I just issued the PR archspec/archspec-json#33

[2021-06-21 09:16] permeakra commented on #23949
@adamjstewart please, check #24432

[2021-06-21 13:06] srekolam commented on #24429
i see couple of other packages py-pip and py-ply installed in my system.. After #23859 ,py-pip is added as dependency in rocblas.

[2021-06-21 13:46] UweSauter commented on #24429
Any idea when these changes will be officially available?

[2021-06-21 14:03] UweSauter commented on #24429
Also, I don't know it it is a good idea to have dependency on `py-pip`. I get the feeling that this will cause the same "compile time internet access needed" circumstances like #24377 had. If packages depend on Python packages then these packages should all be listed as `depend_on` so that `spack fetch -D` can grab them.

[2021-06-21 14:27] srekolam commented on #24429
#23859 is merged to spack:develop branch 4 days ago.

[2021-06-21 15:31] sethrj commented on #24417
@alalazo alas, no dice:
[code]

[2021-06-21 15:42] robertu94 commented on #24420
In my mind, the ideal fix to this also incorporates the change suggested via  #19364 so that the user does not need to manually edit the package.yaml file to get this to work.

[2021-06-21 15:46] bcdarwin commented on #24418
In Ubuntu 20.04, due to upstream changes in Debian, /bin, /sbin, /lib, /lib64 are symlinks to usr/bin, usr/sbin, usr/lib, and usr/lib64, respectively, so the libraries detected in each case should be the same.

[2021-06-21 15:46] bcdarwin commented on #24418
[Of course this means there's an easy workaround in my situation.]

[2021-06-21 16:17] adamjstewart commented on #24418
In that case I think we can tell `spack external find` to resolve symlinks and use the full path to the executable. Let me see if I can figure out where to do that.

[2021-06-21 16:33] bcdarwin opened #24449 "Installation issue: z3"
A Z3 Cmake build using a system Python specified via `packages.yaml` tries to write into the system Python's directory and fails due to privileges.  If a non-system Python3 is used, z3 is installed to its `site-packages`.

Possibly related to #24337 ?

### Steps to reproduce the issue

[code]

### Information on your system

[code]

In `packages.yaml`:
[code]

### Additional information

* [spack-

[2021-06-21 16:57] sethrj opened #24450 "Installation issue: clingo won't build on rhel8"
Trying to use clingo on rhel8 with gcc 8.3 installed through the system package provider.

### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.16.2-3213-7b6ca59038
* **Python:** 3.8.5
* **Platform:** linux-rhel8-haswell
* **Concretizer:** clingo

### Additional information

* [spack-build-out.txt](https://github.com/spack/spack/files/6688293/spack-build-out.txt

[2021-06-21 17:30] UweSauter opened #24453 "Installation issue: hwloc-2.5.0 does not build in internet-access restricted environment"
@bgoglin

### Steps to reproduce the issue
While trying to install `migraphx` `hwloc` gets pulled in as dependency of `llvm-amdgpu`.

Spack keeps trying to download `http://www.open-mpi.org/software/hwloc/v2.5/downloads/hwloc-2.5.0.tar.gz`. although I downloaded everything that is needed using `spack fetch -D migraphx`. (At least everything that spack thinks is needed.)

[code]

### Information on

[2021-06-21 17:47] UweSauter commented on #24453
Sorry for the noise. Looks like I sync'd the wrong directory. When the sources are available, `hwloc` builds fine.

[2021-06-21 17:47] #24453 closed, assigned to nobody

[2021-06-21 18:28] permeakra commented on #23949
Still have to check how multithreading model is set up for dependencies, might need another commit.

[2021-06-21 18:40] amaji commented on #24450
i had similar issue with missing `libstdc++-static` rpm .. maybe something to check?

[2021-06-21 19:34] UweSauter commented on #24429
I've pulled the changes up until 7b6ca5903861f7b7e648d651f5715ba6262e2a58 but `migraphx` still fails with "fatal error: 'Python.h' file not found".

[code]

* [spack-build-env.txt](https://github.com/spack/spack/files/6689049/spack-build-env.txt)
* [spack-build-out.txt](https://github.com/spack/spack/files/6689050/spack-build-out.txt)

[2021-06-21 19:36] sethrj commented on #24450
Our sysadmin literally died about a month ago so we're not going to be able to install any new packages until IT can figure out what went on. Still, why does clingo need *static* libc++? We  can compile everything that we use with the default (which I assume is shared). Maybe if `CLINGO_BUILD_PY_SHARED` is on it'll work?

[2021-06-21 19:57] eugeneswalker opened #24455 "trilinos +teko +tpetra build fails: cmake: teko requires tpetra enable GlobalOrdinal"
`trilinos +teko +tpetra +stratimikos` build fails using:
 * `spack@develop` (7b6ca5903861f7b7e648d651f5715ba6262e2a58 from `Sat Jun 19 08:25:21 2021 -0500`):

Concrete spec: [trilinos.spec.yaml.txt](https://github.com/spack/spack/files/6689160/trilinos.spec.yaml.txt)
Build log: [trilinos-build-out.txt](https://github.com/spack/spack/files/6689159/trilinos-build-out.txt)

[code]

It seems like the

[2021-06-22 03:00] amaji commented on #24450
Sorry to hear about your sysadmin.

I thik it's due to the `-static-libstdc++` flag in the g++ invocation line. Don't know where that is coming from though.

[2021-06-22 04:42] bcdarwin commented on #24418
So with your PR, `spack external find` produces a `packages.yaml` with all prefixes being `/usr` instead of `/`.  In a sense this resolves this likely resolves the issue as presenting on most Ubuntu 20.04 systems.  However, I am not sure this is the most widely applicable resolution, since the original issue could still reoccur for various reasons, such as a change in system packages, manual editi

[2021-06-22 06:36] #24396 closed, assigned to nobody

[2021-06-22 06:43] alalazo commented on #24450
@sethrj Using the static C++ library was a deliberate choice when writing the package to bootstrap clingo (the flag is injected into the build in the `clingo-bootstrap` recipe). The idea is to avoid having a load time dependency on the C++ standard library, since we don't fully model compilers at the moment. Use cases where this matters:
1. If we install from a binary cache we don't have a consist

[2021-06-22 07:48] alalazo commented on #24450
@sethrj I just bootstrapped `clingo` with #22720 starting form a `centos:8` bare image, and encountered no issues. Can you also enable the `--stracktrace` to have a better understanding of what is going on in your case?

If it matters there are a few system dependencies mentioned in [the prerequisites](https://spack.readthedocs.io/en/latest/getting_started.html#prerequisites) page that I had to in

[2021-06-22 12:31] adamjstewart commented on #24418
In the long run, we want to be able to store more information in `packages.yaml` like you suggest. For example, there are systems where executables are in `/usr/bin` but libraries are in `/usr/lib/x86_64_linux_gnu` with no symlinks. However, even then we'll still need to be able to recursively search for libraries in order to auto-populate `packages.yaml` for users. Of course, if users edit their

[2021-06-22 12:32] naughtont3 commented on #24396
Thanks @hppritcha and @eschnett

[2021-06-22 14:30] alalazo commented on #24450
Okay, after a _long_ debugging session with @sethrj (thank you!) we found the issue preventing bootstrapping from binaries on this system. To summarize if:
1. `config:concretizer:clingo` is set _before_ bootstrapping clingo
2. `patchelf` needs to be bootstrapped as well

Then during the bootstrapping of `patchelf` Spack tries to use `clingo` (egg and chicken problem) and because this happens in a

[2021-06-22 14:44] BenWeber42 opened #24465 "Spack allows relative paths for `install_tree` and similar"
It's possible to set relative paths in spack's config files for locations such as the install prefix (`install_tree`), the stage directory, the cache directory, etc. In this case the current working directory will matter when installing software. So when a user `cd`s into another directory, spack will recreate all those resp. directories (e.g., `install_tree`) again.

### Steps to reproduce the is

[2021-06-22 15:56] sethrj commented on #24455
I'll dig through this and add conflicts until we can get a working set of trilinos packages for https://github.com/E4S-Project/e4s/pull/10 ... thanks!

[2021-06-22 16:04] EthanS94 commented on #24449
I'm also hitting this when using an external python.

[code]

[2021-06-22 17:58] srekolam commented on #20774
@haampie  , can we close this ticket ?

[2021-06-22 17:59] #20774 closed, assigned to srekolam

[2021-06-22 18:00] #19735 closed, assigned to nobody

[2021-06-22 18:20] #24449 closed, assigned to nobody

[2021-06-22 18:37] #24205 closed, assigned to alalazo

[2021-06-22 19:30] UweSauter opened #24476 "Installation issue: hipcub-4.2.0 cannot be concretized"
@arjun-raj-kuppala  @srekolam

### Steps to reproduce the issue

I suspect changes made by #23859 to be the cause. Before I pulled these changes Spack was able to concretize and install `hipcub`.

[code]

These packages are currently installed by Spack:
[code]

### Information on your system
[code]

### General information

- [x] I have run `spack debug report` and reported the version of Spack/Py

[2021-06-22 19:43] srekolam commented on #24476
thx..i did not see this issue cropping up with the latest changes from #23859  .just including @haampie .

[2021-06-22 19:46] UweSauter commented on #24476
The same happens to `hipsparse` (and probably to all packages depending on `rocm-device-libs`).

Edit: `rocalution`, `rocprim`, `rocsparse`, `rocthrust` also hit this.

[2021-06-22 21:45] UweSauter opened #24480 "Make environments scoped like mirrors, repos and configuration"
Like configuration, mirrors and repositories Spack should support to store environment definitions in a scoped fashion. This would allow users to separate their own environments from the official Spack git tree.

### Rationale / Description

When creating a new environment using `spack env create NEW_ENV` the required file system structure is created under `$SPACK/var/spack/environments/$NEW_ENV`

[2021-06-22 22:04] alecbcs commented on #23534
Weird! I know I've installed Python on an Arm Mac after May 8th without this being an issue, but all of a sudden today I ran into this bug and can't manage to update my python installation though Spack.

[2021-06-23 09:35] #24377 closed, assigned to srekolam

[2021-06-23 15:37] frankwillmore commented on #22721
if you re-run autogen.sh in hdf5 with the new autoconf, it will get rid of loopopt. There's also a PR that has the compiler wrapper edit it out: https://github.com/spack/spack/pull/23482 . Available in 0.16.2

[2021-06-23 15:37] #22721 closed, assigned to nobody

[2021-06-23 16:15] cessenat commented on #22721
Thank you @frankwillmore I no longer have the problem.
Yet there is one more compilation error, both with the preferred version and with the develop one (I did not check more versions):
[code]
But this is not related to the initial issue.

[2021-06-23 16:23] frankwillmore commented on #22721
I believe that's a oneapi compiler issue and IIRC its fixed in an upcoming compiler release. If you use ifort instead of ifx, it will build. Also, FYI, there's an HDF5 issue https://github.com/spack/spack/pull/23482 which you might come across. This is also fixed and should appear in 1.10.8.

Good luck!

[2021-06-23 16:29] pjh40 commented on #23830
@OmenWild Can you see if the above PR resolves your issue?

[2021-06-23 16:57] pjh40 opened #24489 "Installation issue: boost%nvhpc"
### Steps to reproduce the issue

[code]
It appears that the `nvhpc.patch` added by @samcmill to override the PGI configuration in  `tools/build/src/engine/build.sh` with nvhpc compilers is out of date. It would be nice if this configuration was supported natively.

### Information on your system

* **Spack:** 0.16.2-3241-1bccd866ae
* **Python:** 3.6.8
* **Platform:** linux-rhel7-power9le
* **Conc

[2021-06-23 17:24] pjh40 commented on #24489
Note that the existing patch works for `boost@1.75.0`, so this failure is due to a change introduced at `boost@1.76.0`.

[2021-06-23 18:19] pjh40 commented on #24489
For `nvhpc@21.5` at least, it appears that boost is picking up the correct compiler *without* the patch applied at all.  From the `spack-build-01-install-out.txt` file:
[code]
and `spack install` was successful.  Perhaps this issue could just be resolved with:
[code]
but I'm not sure about the `tools/build/src/tools/pgi.jam` part of the patch, or if this works for earlier versions of `nvhpc`.

[2021-06-23 19:18] srekolam commented on #24476
i have the changes from #23859  and i was not seeing this issue . Can you try commenting the L38,L39 and see if this resolves it..
     38     #for ver in ['4.1.0', '4.2.0']:
     39     #    depends_on('hip-rocclr@' + ver, when='@' + ver)

I am able to build with out these changes too now and wanted to know if this in any way resolves your issue.
@haampie   can you let me know if this is seen at

[2021-06-23 19:33] hainest commented on #24489
I'm assuming that's for boost@1.76.0?

I'm not familiar with PGI, so I'm going to have to defer to @samcmill for some ideas.

[2021-06-23 20:24] pjh40 commented on #24489
Yes, it is for boost@1.76.0

[2021-06-23 21:33] srekolam commented on #24029
@UweSauter  , from #24430 ,i see rocblas is now installed. is this still an issue ?

[2021-06-23 21:40] samcmill commented on #24489
Based on the above, the patch should definitely be made conditional on the boost version as shown in https://github.com/spack/spack/issues/24489#issuecomment-867058888.

I will need to investigate further to see whether an additional patch is still needed for 1.76.0 under some circumstances or not.

[2021-06-23 21:46] pjh40 commented on #24489
In a more complicated build environment, it appears that I'm now getting an ICE on 1.75.0 (with your patch) *and* 1.76.0 (no patch) with nvhpc@21.5. Same location for both boost versions. I'll investigate more tomorrow and report back.

[2021-06-23 23:08] samcmill commented on #24489
1.74.0 builds for me with 21.3 and 21.5.

I'm getting `NVC++-F-0000-Internal compiler error. msz_dtype, bad value     440  (libs/atomic/src/find_address_sse2.cpp: 60)` for 1.75.0 and 1.76.0.  I can investigate more later.

[2021-06-24 04:31] ikitayama opened #24495 "`spack load` a python package taking 13 sec on JURECA"
I am aware of the "Big" changes are coming onto `develop` though is this related?

[code]

[2021-06-24 05:02] cessenat commented on #22721
Great ! Many thanks.

[2021-06-24 06:17] ikitayama commented on #24495
For the record, I am at 49852150723971c5412345573a3a4dc22999620f

[2021-06-24 06:18] ikitayama commented on #24495
I appreciate @tgamblin and experts jump in and take a look.

[2021-06-24 07:04] UweSauter commented on #24029
No, at least with `^cmake@3.17.5` it built. Thanks.

[2021-06-24 07:04] #24029 closed, assigned to srekolam

[2021-06-24 08:39] UweSauter commented on #24476
I've updated to d3a1da8496e3c7ec562a12f03f163c4b84bc85cb and now it seems to build `hipcub`, `hipsparse`, `rocalution`, `rocprim`, `rocsparse` and `rocthrust`.

[2021-06-24 08:39] #24476 closed, assigned to srekolam

[2021-06-24 09:23] UweSauter opened #24497 "Installation issue: rocm-smi-lib-4.2.0 creates dangling symlink"
@arjun-raj-kuppala  @srekolam

### Steps to reproduce the issue

[code]
but `../rocm_smi/` does not exist. The symlink should point to `../bindings/rsmiBindings.py`.

### Information on your system
[code]

### General information

- [x] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [x] I have run `spack maintainers <name-of-the-package>` and @mentioned any mai

[2021-06-24 10:06] OliverPerks opened #24498 "Issue with permissive spec in externals definition with variants"
I believe this to be a bug, rather than behavior just not matching my expectations.

When a package has variants, and you have multiple externals defined to match those variants - spack is having troubles picking the correct external - if the full variants list isnt specified.
This means it will pick an external for concretization which does not match the spec asked for.

### Steps to reproduce th

[2021-06-24 11:35] haampie commented on #24497
Can you maybe bump this issue while you're at it? https://github.com/RadeonOpenCompute/rocm_smi_lib/issues/84 not sure it gets noticed, but well...

[2021-06-24 11:41] #22213 closed, assigned to nobody

[2021-06-24 15:03] pjh40 commented on #24489
My errors looked like:
[code]
The full spec for the boost that I was building is:
[code]
I'll try using 1.74.0 for now.

[2021-06-24 15:54] pjh40 commented on #24489
Interesting... that nasty spec above was basically specified by `boost%nvhpc+mpi+pic cxxstd=14`.  When I drop the `cxxstd=14` variant, 1.76.0 builds find with nvhpc@21.5 and nvhpc mpi, which is good!

[2021-06-24 17:04] srekolam commented on #24497
Seems like a issue even with rocm-4.1.0

[2021-06-24 17:26] srekolam commented on #24497
i think commenting the L46 in the rocm-smi-lib recipe should fix this issue.

[2021-06-24 18:53] UweSauter commented on #24497
I commented the last line of `rocm-smi-lib/package.py` and it does not solve the problem. The symlink still points to a non-existing directory:
`rsmiBindings.py -> ../rocm_smi/bindings/rsmiBindings.py`

[code]

[2021-06-24 19:10] srekolam commented on #24497
hmm..this is what i see after i comment the  line  : shutil.rmtree(self.prefix.rocm_smi)

/tmp/spack/opt/spack/linux-sles15-skylake_avx512/gcc-7.5.0/rocm-smi-lib-4.2.0-a3g33mv3q4gygznryo3ah2c3m3gkhuou # tree
.
|-- bin
|   |-- rocm-smi -> rocm_smi.py
|   |-- rocm_smi.py
|   `-- rsmiBindings.py -> ../rocm_smi/bindings/rsmiBindings.py
|-- bindings
|   `-- rsmiBindings.py
|-- include
|   `-- rocm_smi

[2021-06-24 19:43] Paul-Ferrell opened #24506 "Clingo loses external information in Specs"
In working on a new unittest for the checking spec install status, I discovered that when clingo concretizes a spec with an
external_path defined that information is lost. This appears to happen because the spec objects generated by the Clingo solver don't maintain that information, and the original spec has those attributes overwritten by the concretized Spec via the `._dup()` method. It's likely

[2021-06-24 19:47] qwofford opened #24507 "Gitlab CI generator does not check included config files"
In order to generate a gitlab CI dynamic pipeline, you need to make sure "mirrors" keyword is defined in `spack.yaml` itself. If the mirror is in an external config file, I get an error message.

### Steps to reproduce the issue

[code]

[2021-06-24 21:32] UweSauter commented on #24497
Would you mind putting that in code tags? It's hard to get the structure when the formatting is off…

[2021-06-24 22:22] srekolam commented on #24497
[code]

[2021-06-24 22:36] qwofford opened #24512 "Spack CI does not copy included config files into job_scratch_dir"
If allspack configs are defined within `spack.yaml`, a dynamic pipeline executes correctly. However, when the `spack.yaml` includes include paths, the CI jobs which result do not copy the includes into the scratch dir before attempting to activate the environment, resulting in an error.

### Steps to reproduce the issue

1. Create a spack environment that has include files
2. Run `spack ci generat

[2021-06-24 23:25] tgamblin commented on #24495
Has this changed since 818664d55a?  What happens on that commit? Can you send me the pyinstrument profile like we did in #23661?

[2021-06-24 23:56] ikitayama commented on #24495
[code]

[2021-06-24 23:59] ikitayama commented on #24495
Profile on today's `develop`.
[code]

[2021-06-25 01:25] ikitayama commented on #24495
Please note this is observed with GPFS.

[2021-06-25 03:48] aphedges opened #24517 "`spack load` adds extra entries to `PATH` when using pyenv"
If I initialize Spack after loading [pyenv](https://github.com/pyenv/pyenv), then running `spack load` will add several pyenv-related paths to `PATH`, even though they aren't relevant to the package being loaded. This only occurs if Spack appears before pyenv in `PATH`; no problems occur if Spack occurs after pyenv.

I don't know how this interferes with other programs that use complex shell funct

[2021-06-25 06:11] UweSauter commented on #24497
Ok, I see what commenting line 46 did.

This is not an acceptable solution as it just prevents a cleanup during installation, duplicating storage needs for the `rocm_smi` directory and everything in it.

The symlink needs to be directed to the correct path, either by the build process or by some cleanup process if it cannot be done during build. Perhaps the fix really is in RadeonOpenCompute/rocm_

[2021-06-25 09:33] LDAmorim opened #24520 "Installation issue: openpmd-api / gmp"
Hi,

I've been trying to install and run code with the `spack` module `openpmd-api`, but have found a `HDF5`-apparent error message with it (reported in https://github.com/openPMD/openPMD-api/issues/1021).

@ax3l has been helping me and suggested that I tried to use `spack` environments instead.
Although all the modules were installed via `spack`, when installing them in a new environment, `zstd`

[2021-06-25 10:16] christoph-conrads opened #24521 "Exit with nonzero status if `spack install` fails"
Have `spack install` exit with a nonzero status (e.g., `sys.exit(1)` or `exit(EXIT_FAILURE)`) if one or more packages could not be built. Spack 0.16.2 does not do this.

### Rationale

1. If some packages could not be installed, this is an error and consequently the exit status should not be zero.
2. Always returning zero breaks any attempt at scripting.

### Description

There is no alternative t

[2021-06-25 10:24] christoph-conrads commented on #24521
Actually, this is is a bug report and not a feature request.

[2021-06-25 10:48] mdorier opened #24522 ""Error: Detected uninstalled dependencies" when installing an environment"
I have a weird issue happening when installing an environment: the environment has a bunch of packages, some of which depend on cmake. cmake is also listed as a spec in the environment file. In the middle of installing the packages in the environment, I’m getting this error:

[code]

The strange thing is that before this error happens, spack successfully installed a spec that also needed cmake.

c

[2021-06-25 12:24] muffgaga opened #24523 "External packages && spack ci generate → KeyError"
Hey *, (CC @scottwittenburg as you seem to be the gitlab ci contributor :); and @healther FYI)

I am currently trying to establish a gitlab-based build flow for a spack-managed software environment.
When testing packages with MPI dependencies I need to specify an package as an external package as the library will (later) be provided by the HPC environment on what we are actually running on.
For a

[2021-06-25 13:10] samcom12 commented on #24441
Can we extend support for the `apollo80 `system?

[code]

Seems like ``armclang`` doesn't pick up `sve` here.

[2021-06-25 13:28] alalazo commented on #24441
@samcom12 Issue here is different: in this case `archspec` doesn't know at all what `apollo80` is. We need to add the definition of that uarch to `archspec` + the compiler optimisation information. Can you open another issue?

[2021-06-25 15:12] adamjstewart commented on #24521
@tldahlgren didn't you recently fix this in develop? Maybe we just need to backport it to a 0.16.3 release?

[2021-06-25 16:15] scottwittenburg commented on #24523
Thanks for trying it out and reporting @muffgaga 👍 I haven't had a chance to try reproducing this yet, but I know I have run pipelines with external packages in the past.  However, recent changes to the ci modules may have broken things.  I wonder if @adrienbernede or @tldahlgren are still successfully running pipelines with external pkgs after the pipeline reproducibility PR (#22887) was merged,

[2021-06-25 16:25] christoph-conrads opened #24526 "Installation issue: py-cython "error: option --single-version-externally-managed not recognized""
The package `py-cython` cannot be installed on Debian 9 / Devuan Ascii with Python 3.5.3

[code]

### Steps to reproduce the issue

The issue can be reproduced in a Linux container. The first step shows how to set up the container, the second step contains the Spack commands.

LXD commands for creating a new Debian 9 LXD container with a user called `john`:
[code]

Login and execute these Spack co

[2021-06-25 16:30] christoph-conrads commented on #24521
If it makes your life easier: using the `develop` branch is an option for me.

[2021-06-25 16:30] adamjstewart commented on #24526
This flag is automatically added by Spack for all packages that have a dependency on `setuptools`. This error occurs when the `setup.py` uses `distutils` instead of `setuptools` to install.

Can you see if this is fixed by #24095?

[2021-06-25 16:39] christoph-conrads commented on #24526
Yes, it works (current `HEAD`: 56e49e3fd1444ce296c4b9b6660aae2b29c382a4).

[2021-06-25 16:39] #24526 closed, assigned to adamjstewart

[2021-06-25 16:43] adrienbernede commented on #24523
Hello @muffgaga,

### The bug:

It seems that you are running into the exact issue I had. I submitted a PR adding a note in the documentation about this in #24347. This is due to recent changes in `spack ci` feature.

In short, in the spack.yaml, the CI jobs should load the environment from the artifact received from the generation job, not the environment direrctly in your project. That can be a

[2021-06-25 17:25] christoph-conrads opened #24527 "Installation issue: Packages with Python dependency fail to build if two interpreters present"
A dummy CMake package with a Python dependency may fail to build on Debian 9 / Devuan Ascii when there is a Python3 interpreter installed on the host and a Spack-built Python3 interpreter. When CMake is run, the host interpreter is called and crashes.

### Steps to reproduce the issue

The issue can be reproduced in a Linux container. The first step shows how to set up the container, the second st

[2021-06-25 18:19] adamjstewart commented on #24527
I'm not much of a CMake expert, but I think you need to help CMake find the Python executable by adding `-DPYTHON_EXECUTABLE=/path/to/python`. I don't think there's anything that Spack can do to fix this. Arguably, it's a bug in the CMake Python detection script that it doesn't choose the first executable in the PATH.

[2021-06-25 19:43] vsoch opened #24529 "Comparison with other package managers"
I'm thinking it would be useful to have a section in the docs that describes how spack is different comparable to other package managers. There could be good content from https://tgamblin.github.io/pubs/spack-sc15.pdf but that is pretty old now so I suspect there are details that are changed or missing. What do folks think?

[2021-06-25 19:48] vsoch opened #24530 "Use Cases"
As a supplement to https://github.com/spack/spack/issues/24529, it would be really useful to have a clearly defined "Use Cases" sections in the documentation. E.g., speaking to the use cases in the format

 - Who am I
 - What problem am I trying to solve
 - How do I use spack to do it

You can imagine it's different for groups maintaining software for users, vs. a single user, vs. wanting containe

[2021-06-25 21:03] scheibelp commented on #24520
To check, is this Windows Subsystem for Linux (WSL)?

In the case of the gmp installation failure, it looks like the error message is

weird. Are you able to build just gmp in a new environment? If there is a failure in that environment, would you be able to `spack cd gmp` and look for something that might generate that `hgcd_step.c` file?

Without seeing the hashes and full-dag, it would be hard

[2021-06-25 21:21] samcmill commented on #24489
I've filed https://github.com/spack/spack/pull/24541 to fix this.

Besides the build environment issues, this also surfaced a compiler bug when building https://github.com/boostorg/atomic/blob/a548b3c15c97d9c1b89e0bb16518baeaeb7a9aa3/src/find_address_sse2.cpp#L55.  That code was introduced in Boost 1.75.0.

[2021-06-25 21:27] hainest commented on #24489
Thanks, @samcmill! You may want to add a 'closes #24489' to auto-close this issue when that PR is merged.

[2021-06-26 06:43] ikitayama commented on #24495
[code]

Is it by design, taking longer depending on the spec? @tgamblin?

[2021-06-26 07:18] #24441 closed, assigned to alalazo

[2021-06-26 18:29] eschnett opened #24550 "Make "vermin" CI output more informative"
Spack run "vermin" to determine which Python versions each source file supports. The respective CI output is not very informative:
- It outputs version bounds for all of Spack's Python files. There are many, and almost always, almost all of them are fine. The output would be easier to examine if only the failures were output, or if the failures were either highlighted or repeated at the bottom. Th

[2021-06-26 19:15] gmfricke opened #24551 "Installation issue: opencv"
The +apps variant sets -DBUILD_opencv_apps:BOOL=ON but no apps are output. Specifically, opencv_traincascde isn't built.

[code]

### Information on your system

* **Spack:** 0.16.2-3218-b0ceeaa
* **Python:** 3.6.8
* **Platform:** linux-centos7-haswell
* **Concretizer:** original

### Additional information

Build thinks it succeeded so the stage directory is not kept. The expected open_cv apps ar

[2021-06-26 19:20] adamjstewart commented on #24550
@netromdk is this possible to do in vermin or would someone have to submit a PR to add these features?

[2021-06-26 20:34] vsoch opened #24552 "mpi not shown as a package with spack.repo.all_package_names"
I'm not sure if this is a bug or the package is intentionally left out, but I noticed that mpi doesn't come through in listing packages via spack.repo.all_package.names:

[code]
It's definitely a folder (as shown above) and it doesn't show up whether I do include_virtuals as True or not. What am I missing?

The package is defined as virtual=True, but I guess my thinking is that include_virtuals=Tr

[2021-06-26 20:37] adamjstewart commented on #24551
I started digging into this. It looks like this particular application is disabled unless `+core+imgproc+objdetect+imgcodecs+highgui+calib3d+features2d`. My internet is currently down, but once it comes back I'll try to modify the package to add a variant for each possible application and make sure it has the right conflicts.

[2021-06-26 20:48] gmfricke commented on #24551
@adamjstewart Thanks so much. That worked. The variant calib3d required me to add +flann though.

[2021-06-26 21:10] adamjstewart commented on #24551
Yes, that's by design. If you switch to the new concretizer, it will automatically enable flann for you. The old concretizer doesn't understand conflicts.

[2021-06-26 22:23] ikitayama commented on #24495
The GPFS at JSC seems to be having some issues as of this writing, the `spack load` slowdown might be the result of that.

[2021-06-27 11:58] amaji commented on #22334
has anyone been able to build soapdenovo2 in spack?

I tried with 3 different gcc versions (8.3.1, 10.2.0, and 11.1.0) and they seem to give different errors.

The error with gcc@10 and above is that it has redeclaration of variable names within object files.

Any suggestions will be appreciated @aquaskyline

[2021-06-27 14:20] christoph-conrads commented on #24527
Yes, I think so, too. The dummy package relies on the module [`FindPythonInterpreter.cmake`](https://gitlab.kitware.com/cmake/cmake/-/blob/v3.7.2/Modules/FindPythonInterp.cmake) and requires at least Python version 3.5.3:
[code]
Thus, the `PythonInterp` module begins searching for a Python interpreter whose executable is called either `python3.5` or `python3` in [line 67](https://gitlab.kitware.co

[2021-06-27 14:20] #24527 closed, assigned to nobody

[2021-06-27 23:44] mwkrentel commented on #24434
First, I agree that fail-fast should be the default, with an option to
"keep-going".  That matches the behavior of make.

It used to be worse.  Used to be in a long build that the last message
said "success" and the exit code was 0, even when something failed a dozen
packages earlier.  That was a clear bug (exit code), but I believe that
has now been fixed, at least in develop.

This has been brou

[2021-06-28 01:04] adamjstewart opened #24557 "intel-mkl: Extracted path from module does not exist"
I have an `intel-mkl` installation on my system. If I try to add it as an external package, Spack fails to parse the module correctly.

### Steps to reproduce the issue

On Frontera, add `intel-mkl` as an external package and run:
[code]

### Error Message

[code]

### Information on your system

* **Spack:** 0.8.17-20804-26f740b25a
* **Python:** 3.7.0
* **Platform:** linux-centos7-cascadelake
* *

[2021-06-28 07:10] alalazo commented on #24530
I added something similar in  #20018 advocating for an "How to" part with exactly this same structure. Wondering if this fits what you have in mind.

[2021-06-28 07:22] alalazo commented on #24521
@christoph-conrads Did you try the:
[code]
option? I think it should do what you want.

[2021-06-28 08:25] michaelkuhn commented on #24434
FYI: #17229 allows you to define your own Spack aliases. This doesn't allow you to define "default options" but can achieve something similar.

[2021-06-28 08:26] alalazo commented on #24507
Duplicate of #24512

[2021-06-28 08:27] alalazo commented on #24507
@qwofford I marked this issue as a duplicate, since it seems to me exactly the same as #24512. Let me know if I missed any detail and these are indeed two different issues.

[2021-06-28 08:30] alalazo commented on #24498
@OliverPerks Can you check if this is the case also with the new concretizer?

[2021-06-28 08:32] ikitayama commented on #24495
The two-day outage will begin soon their time; will revisit this on Wednesday.

[2021-06-28 08:56] alalazo commented on #24480
Hmm, did you try independent environments in a directory:
[code]
?

[2021-06-28 08:59] ikitayama commented on #24434
@michaelkuhn are things discussed #17229 merged to `develop`?

[2021-06-28 09:14] michaelkuhn commented on #24434
Not yet but feel free to chime in there if you want/need the functionality.

[2021-06-28 09:38] ikitayama commented on #24434
Thanks. I'll test it when it is merged.

[2021-06-28 09:55] UweSauter commented on #24480
I will look into these but it might take a few days to get back to you.

[2021-06-28 11:07] muffgaga commented on #24523
Hey @scottwittenburg and @adrienbernede,

thanks for your help and finding problems in my config files (I seem to have started reading a pre-#24347 documentation; sorry for that) :grimacing:.

## The bug

I still get the `KeyError: 'mpich/t2ghpmp'` during generate when **not** commenting out 2x `continue` in `lib/spack/spack/ci.py` (the ones after the log msg "Will not stage external pkg"). Doesn'

[2021-06-28 12:27] LDAmorim commented on #24520
Hi @scheibelp , thanks for your reply.

Yes, this is the ubunto terminal on Windows 10, which is described by its initial message:
[code]

I used it without a problem, only with `spack` a few months back to install the same packages (`gcc`, `cmake`, `mpich` and `opepmd-api`).

I tried to install `gmp` in a new environment without anything else and it worked (version 6.2.1), thank you!
But when I t

[2021-06-28 14:28] vsoch commented on #24530
It's similar - but not exactly. Those look like more of FAQ for people that are already using spack (e.g., "How do I uninstall X?" but what I have in mind is more branded as use cases, with a title "Use Cases" and answering the following questions:

1. Who am I
2. What problem am I trying to solve
3. Why spack can help

Someone reading doesn't care so much about details of spack, but the high leve

[2021-06-28 15:24] christoph-conrads commented on #24521
It does what I want it to do and it found the bug fixed by PR #24564.

[2021-06-28 15:24] #24521 closed, assigned to nobody

[2021-06-28 16:24] ax3l commented on #24520
Hm, do you need `gcc` (and thus `gmp`) from Spack or can you compile your software stack with the gcc/g++ that is provided by the Ubunu/WSL `apt` packages?

I would try this:
[code]

Then this:
[code]

That should provide a full dev environment.

Important: make sure your downstream projects use the same
- compiler version (`export CC=...`, `export CXX=...`)
- MPI implementation & version (`export

[2021-06-28 16:33] birnbera opened #24566 "When clause in version directive"
I’m working on updating the package definition for [Nextflow](https://github.com/nextflow-io/nextflow) (currently in house, but hopefully can share out soon). Nextflow uses Github releases for new versions, but it provides a “slim” version that performs a bunch of additional downloads the first time it is run and a “fat” version with everything already included. I’d like to be able to provide both

[2021-06-28 16:43] LDAmorim commented on #24520
Hi @ax3l ,

That's a very good point, I could just update the ubunto `gcc`version and use that one instead of having spack re-build it. I'll try it out asap.

Thanks!

[2021-06-28 18:47] tgamblin commented on #24223
@frankwillmore was the unpin here intentional?

[2021-06-28 19:25] frankwillmore commented on #24223
No, I don't recognize doing that. May have been an errant click. Sorry!

[2021-06-28 19:42] #18176 closed, assigned to nobody

[2021-06-29 00:04] tgamblin commented on #24223
no worries!

[2021-06-29 05:37] netromdk commented on #24550
I've recently implemented a "show only violations", or linting, mode that requires one or two `--target` arguments. More information [here](https://github.com/netromdk/vermin#linting-showing-only-target-versions-violations).

In addition, there are 4 levels of verbosity. 1+ shows filenames. 3+ shows line numbers.

A combination of this should be what you're seeking.

[2021-06-29 08:02] alalazo commented on #24550
@netromdk Thanks for the feedback. I opened an issue with a suggestion for further improving the `--violations` option. Let me know if that makes sense to you.

[2021-06-29 10:28] alalazo commented on #24566
I think this is more a request for a feature that we have been wanting since a long time, since currently we don't support a `when=` with the `version` and `variant` directives. I agree that this would be welcome, and it will indeed simplify a lot of packages, like for instance `cuda`.

[2021-06-29 12:01] christoph-conrads opened #24586 "Replace compiler wrapper in configs of installed packages"
Some packages save the path to the compiler executable used during the build because they need to call the compiler again at run-time; the CFD solver [Code_Saturne](https://code-saturne.org/) does this for example. At present, the package will pick up the Spack compiler wrapper at build time and crash at run-time because the Spack compiler wrapper is called instead of the actual compiler.

The goa

[2021-06-29 12:57] samcom12 commented on #20403
May I know the package name for `Intel OneAPI Base Toolkit` in Spack?

[2021-06-29 12:59] christoph-conrads commented on #10241
I was able to build the Spack documentation for commit a592cdfac7e8029d83b6c177eab98d2cd338f3be following the instructions in the [_Contribution Guide_](https://spack.readthedocs.io/en/latest/contribution_guide.html).

The current documentation includes the following statement:

[2021-06-29 13:03] rscohn2 commented on #20403
There is no basekit package. We provide packages for the individual components, not the toolkits:

https://spack.readthedocs.io/en/latest/package_list.html#intel-oneapi-ccl

[2021-06-29 15:17] eugeneswalker opened #24589 "cuda (many versions): OverflowError: signed integer is greater than maximum on Ubuntu 20.04, 21.04"
Cannot install, at least,`cuda@10.1.243:11.3.1` due to `OverflowError: signed integer is greater than maximum`:

Using:
* `spack@develop` (a7b6149cc02713de55cb5719b9dab2dfc0476303 from `Tue Jun 29 00:33:35 2021 -0400`)
* Ubuntu 20.04, Ubuntu 21.04
* GCC 9.3.0, GCC 10.3.0
* Python 3.8.5, Python 3.9.5

[code]

[code]

@ax3l @Rombur @fspiga

[2021-06-29 15:28] eugeneswalker opened #24591 "doxygen@1.9.1 infinite build on GCC 7.5.0, Ubuntu 18.04"
`doxygen@1.9.1` build never finishes using:
* `GCC 7.5.0`
* `Ubuntu 18.04`
* `spack@develop` (b87d9c29c10bab0b110f2c543105f2957f4e8099 from `Mon Jun 28 22:07:24 2021 +0200`)

Concrete spec: [doxygen.spec.yaml.txt](https://github.com/spack/spack/files/6734535/doxygen.spec.yaml.txt)

[code]

@chuckatkins Do you know how to fix this? I saw you fixed something like this in https://github.com/spack/spa

[2021-06-29 15:37] srekolam commented on #24429
Can you try with depends_on('python@3:', type='build') and see if it solves the issue. I am able to build in my environment and not seeing this issue.

[2021-06-29 17:41] #24550 closed, assigned to alalazo

[2021-06-29 18:44] UweSauter commented on #24429
Even with `depends_on('python@3:', type='build')` the error occurs.

When looking at the output again I see that there is no include search path given for the Spack installed Python (or any Python installation at all):
[code]

The path to Spack installed Python 3.8.10 is `/opt/hlrs/spack/2021-06-16/python/3.8.10-gcc-10.3.0-b2aogdde` in my case.

Could it be that either the `pybind11` intallation o

[2021-06-29 19:33] adamjstewart opened #24598 "Installation issue: magma"
I'm encountering the following build issue on Blue Waters:
[code]

### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.16.2-3274-4d286eb31b
* **Python:** 2.6.9
* **Platform:** cray-suse_linux11-bulldozer
* **Concretizer:** original

### Additional information

[spack-build-out.txt](https://github.com/spack/spack/files/6735938/spack-build-out.txt)
[spack-build-e

[2021-06-29 20:10] UweSauter commented on #24429
When manually including `-I/opt/hlrs/spack/2021-06-16/python/3.8.10-gcc-10.3.0-b2aogdde/include/python3.8` to the command that single file compiles without error. So my previous suspicion that the Python include path should be configured for the package to compile successfully.

@srekolam In which environment are you building? I'm using CentOS 7.9

[2021-06-29 20:11] dev-zero commented on #24357
this was fixed in #24374

[2021-06-29 20:11] #24357 closed, assigned to nobody

[2021-06-29 20:16] srekolam commented on #24497
how about adding the below at the end as part of post_install-
os.remove(join_path(self.prefix.bin,'rsmiBindings.py'))
        symlink( '../bindings/rsmiBindings.py',
                join_path(self.prefix.bin,'rsmiBindings.py'))

you need import os at the beginning. This will correct the symlink to point to right file

[2021-06-29 21:37] G-Ragghianti commented on #24598
I can confirm this error on centos:7 with gcc@5.3.0 and cuda@9.1.85.

Problem does not occur when bumping up to cuda@10.2.89.

[2021-06-29 22:00] srekolam commented on #24429
i am using the CentOS-8 . i will speak to my internal migraphx team and see if there is anything amiss.

[2021-06-30 05:52] birnbera commented on #24566
@alalazo, my mistake. I thought I had seen examples of this scattered throughout Spack issues and comments indicating that this was the preferred way to handle version specific downloads. Do you have any suggestions about the best way to accomplish this before `when` clauses are implemented for versions?

[2021-06-30 06:06] netromdk commented on #24550
Thanks for the good suggestion in https://github.com/netromdk/vermin/issues/74. The fix has been released in [v1.2.1](https://github.com/netromdk/vermin/releases/tag/v1.2.1).

[2021-06-30 06:07] alalazo commented on #24550
@netromdk Thanks a lot for the prompt response!

[2021-06-30 06:25] UweSauter commented on #24431
Just a reminder that I'm building on a CentOS 7.9 system which might be different from what you are using.

[2021-06-30 06:36] UweSauter commented on #24497
I reinstalled and now can run `rocm-smi` without getting Python import errors. The symlink now points to the correct file.

[2021-06-30 07:18] ikitayama opened #24608 "Installation issue: `py-matplotlib` with backend=tkagg"
[code]

[2021-06-30 07:19] ikitayama commented on #24608
I'd like to change the backend as the default chosen does not bring up GUI.

[2021-06-30 07:20] ikitayama commented on #24608
@adamjstewart I appreciate you look into this. (Deafult can build fine on JURECA).

[2021-06-30 13:28] suchyta1 opened #24616 "Spack on Spock"
I'm trying to use Spack to install software on Spock at OLCF. I've checked out either `releases/v0.16` or `develop`, and I'm running into errors with basic commands such as `spack find` or `spack complier find`, and these errors are the same regardless which branch I have checked out. The default Python is `Python 2.7.17`, but I've also tried the `cray-python/3.8.5.0`, and I see the same errors re

[2021-06-30 14:37] #14428 closed

[2021-06-30 16:08] haampie commented on #24589
Seems like you're hitting a bug in Python which is fixed in v3.10.0b1 and above: https://github.com/python/cpython/commit/89d1550d14ba689af12eeb726e4ff8ce73cee7e1

Although it looks weird we can't download 2GB+ files :thinking:

[2021-06-30 16:27] adamjstewart commented on #24608
This error means that you are using an external package for `fontconfig`, and that external package doesn't use RPATH, so it has no idea where to find `libbz2.so` unless `LD_LIBRARY_PATH` is set. Unfortunately, Spack unsets things like `LD_LIBRARY_PATH` to prevent unwanted links from slipping into the build.

Possible workarounds:
* Use a Spack-installed `fontconfig` instead of an external library

[2021-06-30 16:38] #14518 closed

[2021-06-30 16:38] #20810 closed, assigned to adamjstewart

[2021-06-30 17:13] eugeneswalker commented on #24589
#24622 resolved the issue for me. Thank you!

[2021-06-30 18:05] pjh40 commented on #24489
Works for me, thanks for the fix!

[2021-06-30 18:05] #24489 closed, assigned to nobody

[2021-06-30 18:48] hartwork opened #24628 "Please upgrade vulnerable Expat to version >=2.4.0 (CVE-2013-0340)"
### Steps to reproduce the issue

Hi! I found packaging of Expat 2.2.0 to 2.3.0 in Spack: https://github.com/spack/spack/blob/c8868f1922c91fb7d8635ed88a06159857a7cae6/var/spack/repos/builtin/packages/expat/package.py#L16-L22

All releases of Expat <2.4.0 are [known vulnerable](https://github.com/libexpat/libexpat/blob/master/expat/Changes), the latest release upstream is 2.4.1. It would be great t

[2021-06-30 19:02] hartwork opened #24630 "Please upgrade packaging of uriparser from 0.9.3 to 0.9.5 to fix bugs"
### Steps to reproduce the issue

Hi! uriparser packaging is at version 0.9.3 while upstream is at version 0.9.5 which among other things includes [an important bugfix](https://github.com/uriparser/uriparser/blob/d96e1025e98cf99de7dbdea593160a2f6c078b6f/ChangeLog#L18-L21). It would be great to have packaging updated to the latest release to get that fix out to Spack users. Thank you! :pray:

### E

[2021-06-30 19:55] eugeneswalker commented on #24589
https://github.com/spack/spack/pull/24623 Also resolved the issue for me. FYI

[2021-06-30 20:47] keitat commented on #24455
It has been fixed in the latest version.
https://github.com/trilinos/Trilinos/commit/b17f20a0b91e0b9fc5b1b0af3c8a34e2a4874f3f

[2021-06-30 22:29] ikitayama opened #24641 "==> Error: Timed out waiting for a write lock."
I'm on GPFS which supports a file lock, but I get this at the moment. Does this mean the GPFS critically broken? The sys admins know there was an issue with it in the recent past; and they recovered from it.

[2021-06-30 23:59] branchv opened #24644 "Python 3.9.6: Error calling urllib.parse"
With Python 3.9.6, [this change](https://github.com/python/cpython/blob/db3ff76da19004f266b62e98a81bdfd322861436/Lib/urllib/parse.py#L462) in `urllib.parse` causes an error using `urllib.parse.urlparse(..., scheme=None)` like here: https://github.com/spack/spack/blob/59028aa0a5d4f106c33955a9779ea3ae19864dd9/lib/spack/spack/util/url.py#L167-L168

I don't think this is a Python bug since the [docs](

[2021-07-01 01:13] ggouaillardet opened #24645 "Mixing bug-to-bug compatible distros"
Let's say I build some packages on a `centos8` distro, they will be assigned (for example) `arch=linux-centos8-aarch64`.
From there, I setup a binary mirror.
Then I want to install the same packages on nodes running the commercial distro `centos8` is based on.
The packages won't be installed from the binary mirror unless I explicitly
`spack install ... arch=linux-centos8-aarch64`

Ideally, I would

[2021-07-01 02:09] ikitayama commented on #24608
GPFS is back however I get this:

[code]

[2021-07-01 02:17] ikitayama commented on #24641
GPFS is back online.

[2021-07-01 02:17] #24641 closed, assigned to nobody

[2021-07-01 02:39] ikitayama commented on #24608
Should I file this `fontconfig` error as a new Issue?

[2021-07-01 09:13] #24455 closed, assigned to nobody

[2021-07-01 09:18] Billae commented on #24393
Hello,

Sorry for this late answer.
By default the ```get_full_repo``` is false and i was not able to do anything in my develop repository.
I tried to change my recipe and use "spack install" to propagate the changes, but it does not work.

So i restart from scratch a new spack installation (which was very long) with in my spack recipe ```get_full_repo``` to true, and now I can switch branch. Than

[2021-07-01 09:18] #24393 closed, assigned to scheibelp

[2021-07-01 09:42] christoph-conrads commented on #24645
Running the risk of being the party pooper: CentOS 8 reaches its end of life in six months.

The CentOS 7 end-of-life is in three years but I am aware of only one supercomputer running the commercial variant of CentOS 7 (one out of ~~ten~~ seven SCs where I can immediately think of the Linux distribution being used). Debian is less popular and an employee of a large company owning supercomputers t

[2021-07-01 12:19] ggouaillardet commented on #24645
Thanks to Rocky Linux, the party won't stop in six months :-)

FWIW, the commercial distro had the terrible idea to upgrade `hwloc` from `1.x` to `2.x`, regardless these are non compatible API, so for now, I am stuck in CentOS 8.3. But as soon as the supercomputer will upgrade to `8.4` or later, I will very likely move to `Rocky Linux`.
Anyway, from my point of view, these are two bug-to-bug compa

[2021-07-01 14:42] adamjstewart commented on #24608
Interesting. So during the build of `font-util`, we're picking up the `fontconfig` installed on the system. But `fontconfig` has a dependency on `font-util`, so there's no way to fix that. I don't have time to look into this in more detail, but Homebrew's fontconfig and font-util packages don't even have dependencies on each other.

Short term solution: remove `/p/software/jurecadc/stages/2020/sof

[2021-07-01 19:04] #23402 closed, assigned to nobody

[2021-07-01 20:00] adamjstewart commented on #23535
Encountered this again today on another system:

* **Spack:** 0.16.2-3346-406117148d
* **Python:** 3.8.1
* **Platform:** linux-ubuntu18.04-haswell
* **Concretizer:** original

[2021-07-01 20:47] ikitayama commented on #24608
On JURECA, `fontconfig` is a hidden module. I'll check which packages need it.

[2021-07-01 20:48] ikitayama commented on #24608
@adamjstewart was your intention to let users build `py-matplotlib` without GUI support?

[2021-07-01 20:58] adamjstewart commented on #24608
My intention was to let users build `py-matplotlib` with any [backend](https://matplotlib.org/stable/tutorials/introductory/usage.html#the-builtin-backends) they want, although it wasn't my intention to default to a backend without GUI support. I was trying to minimize the number of dependencies that were installed by default.

On macOS, we can use the system GUI framework, but on Linux if we want

[2021-07-01 21:05] ikitayama commented on #24608
Oh I see that now.

[2021-07-01 21:49] scothalverson commented on #21551
I ran into this too.  Thanks for the fix, @schoonovernumerics

[2021-07-02 00:37] #24210 closed, assigned to amd-toolchain-support

[2021-07-02 04:14] cdelv opened #24658 "Installation issue: gmsh"
### Steps to reproduce the issue

[code]
while trying to concretize the partial spec:

    scotch
        ^bison@3.7.6%gcc@11.1.0 arch=linux-debian9-skylake_avx512
            ^diffutils@3.7%gcc@11.1.0 arch=linux-debian9-skylake_avx512
                ^libiconv@1.16%gcc@11.1.0 arch=linux-debian9-skylake_avx512
            ^m4@1.4.19%gcc@11.1.0+sigsegv arch=linux-debian9-skylake_avx512

[2021-07-02 04:34] ikitayama commented on #24608
I've decided, for now, I use the `Basemap` module the JURECA sysadmins provide. @adamjstewart could you decided if this needs to be open or not?

[2021-07-02 07:09] vvolkl opened #24659 "Test Issue: perl-extutils-installpaths"
When running
[code]

I get the following error:
[code]

[2021-07-02 07:24] vvolkl opened #24660 "Test Issue: perl-libwww-perl"
Installing
[code]

results in:

[code]

[2021-07-02 11:39] vvolkl opened #24666 "Test Issue: valgrind"
Running
[code]
results in
[code]

[2021-07-02 11:40] vvolkl opened #24667 "Test Issue: Cairo"
Running
[code]
results in
[code]

[2021-07-02 12:40] manuelakuhn opened #24668 "spack checksum prefers version-specific url over global url"
I wanted to update `py-setuptools-rust` to the newest version and ran into something that might be a bug regarding the chosen download path.

I updated the package to use pypi as default but wanted to keep the existing checksum for the old package (to avoid breaking anything), so my `package.py` looks like this:

[code]

When running `spack checksum py-setuptools-rust` for the latest package, spac

[2021-07-02 13:12] adamjstewart commented on #24608
Let's close this for now. If anyone encounters the same problem we can reopen.

[2021-07-02 13:12] #24608 closed, assigned to nobody

[2021-07-02 15:45] christoph-conrads opened #24671 "Installation issue: med broken by hdf5 update"
All med versions are broken by commit cc20dbf645d32a45ce6b7ed848c6f25eaf42e350. med 4.0.0 and med 4.1.0 depend on hdf5 1.10.7; med 3.2.0 depends on hdf5 1.8.22.

### Steps to reproduce the issue

(CMake constraint: the system has only CMake 3.7.2 and HDF5 requires CMake 3.12+).

[code]

Ignoring line numbers, the error message is the same for all versions.

### Information on your system

[code]

[2021-07-02 15:54] christoph-conrads commented on #24658
[code]
The error message says that scotch works neither with Flex 2.6.2 nor with Flex 2.6.3 but your build is constrained to use Flex 2.6.3, probably because Flex 2.6.3 is the preferred Flex version.

On my machine, forcing the use of Flex 2.6.4 works:
[code]

[2021-07-02 16:02] christoph-conrads commented on #24645
Interesting. There is also [Almalinux](https://almalinux.org/).

[2021-07-02 18:33] ax3l opened #24680 "Installation issue: HDF5 macOS HDF5_IS_PARALLEL"
### Steps to reproduce the issue

[code]

Then building an MPI-parallel downstream program and checking `HDF5_PREFER_PARALLEL`

cc @lrknox @skosukhin @chuckatkins

### Information on your system

Since I don't own a mac, I am running nightly tests to install Spack packages on macOS systems on Azure Pipelines.

Since the transition to CMake in the HDF5 package #18937, **only on macOS**, the followi

[2021-07-02 18:40] ax3l commented on #24680
Hm, maybe if the HDF5 config package is picked up I need to check instead `${HDF5_PACKAGE_NAME}_ENABLE_PARALLEL` for this...

https://github.com/HDFGroup/hdf5/blob/257c8c745446ee614f92624b30cec41d8d771e05/config/cmake/hdf5-config.cmake.in#L35

[2021-07-02 20:09] ax3l commented on #24680
Uff, the HDF5 config packages only mark `major.minor` matches as compatible and even version ranges are not implemented properly....
[code]
https://github.com/HDFGroup/hdf5/blob/hdf5-1_12_1/config/cmake/hdf5-config-version.cmake.in#L16-L20

So manual version check it is...

[2021-07-02 20:26] azukaitis opened #24683 "Request for Intel 19.1.3 for Linux/OSX"
Please add the intel 19.1.3 C++/C/Fortran compiler version please.

[2021-07-02 20:27] #24680 closed, assigned to nobody

[2021-07-02 20:35] shahzebsiddiqui opened #24684 "Add label in concretizer for external packages"
I'd like ability to see external packages in the concretized output so its easy to know what packages are external and which are not

### Rationale

This is used to identify package preference and help pinpoint before doing `spack install` what are the issues.

### Description

In this concretized output, I have specified `m4` as an external. The symbol on left `-` is not clear if its an external

[2021-07-02 21:24] christoph-conrads commented on #24680
This is strange because CMake 3.20 treats missing version number components as zero, see [_Version Comparisons_](https://cmake.org/cmake/help/v3.20/command/if.html#version-comparisons):

Older versions do not contain this statement but the Release Notes do not mention changes regarding version comparisons.

[2021-07-02 23:09] white238 opened #24685 "Allow overridable external paths that do not share common prefix"
Externally installed packages sometimes do not share a common prefix.  It would be useful to allow you to specify a directory for the common install directories (bin, lib, include) for a single external in your packages.yaml or spack.yaml.

### Rationale

Ran into an openmpi fedora install today that had basically this install pattern:

[code]

### Description

Possible solution:

[code]

[2021-07-02 23:30] adamjstewart commented on #24668
Spack's URL parsing stuff is very complicated. Basically, there are two separate tasks and two separate mechanisms to handle them:

1. downloading a specific version (`spack fetch`, `url_for_version`)
2. finding new versions (`spack versions`, `spack checksum`)

These two tasks share little-to-no code. When you use `pypi`, this just sets `url` for you. So this bug has nothing to do with `pypi`, an

[2021-07-02 23:40] adamjstewart commented on #24644
Thanks for reporting this @branchvincent, didn't realize Homebrew even had a package for Spack!

The use of `urllib` was recently added in #21398, maybe @loulawrence can take a look at this failure. Not sure if this is a bug in Python or not, but we can definitely figure out some kind of workaround. Also, it's sad that Homebrew's CI caught this bug but our CI didn't. We should investigate that as

[2021-07-03 00:01] adamjstewart commented on #24644
The reason for this is that the `setup-python` action still uses Python 3.9.5 instead of 3.9.6, not much we can do about this other than wait.

[2021-07-03 00:13] adamjstewart commented on #24630
Hi @hartwork, our `uriparser` package doesn't yet have an official maintainer, so it's up to community contributions to update the package. Would you like to submit a PR to do this? Should be a one-line change, just run `spack checksum uriparser` to print the line to add, and `spack edit uriparser` to open the file to add it to.

[2021-07-03 05:20] #24644 closed, assigned to nobody

[2021-07-03 09:07] hartwork commented on #24630
@adamjstewart I have created PR #24688 just now

[2021-07-03 09:22] hartwork commented on #24630
PS: @adamjstewart does Spack have an FAQ somewhere?  Right now I'm wondering:
- how to list all dependencies of a package, including indirect ones
- how Spack views its differences to Gentoo, since it feels like a lot like "Gentoo in users space" to me

[2021-07-03 09:32] hartwork commented on #24630
I found `spack graph` now:

[code]

Found a short answer in https://spack.io/files/spack-rd100-2019-final.pdf now.

[2021-07-03 14:53] adamjstewart commented on #24630
Not an FAQ per say, but we have pretty extensive documentation. The "Basic Usage" guide is probably what you're looking for: https://spack.readthedocs.io/en/latest/basic_usage.html

`spack graph` works for this, but `spack spec` is more commonly used since it also shows you what Spack will actually install when you run `spack install`.

@tgamblin could answer this better than me, but Spack borrows

[2021-07-03 15:10] adamjstewart commented on #24683
@rscohn2 and @danvev are listed as maintainers for our Intel package, maybe they can help. If not, you can always submit a PR yourself!

[2021-07-03 19:19] rscohn2 commented on #24683
I believe the 19.1.3 compiler is in PSXE 2020 update 4

https://software.intel.com/content/www/us/en/develop/articles/intel-c-compiler-191-for-linux-release-notes-for-intel-parallel-studio-xe-2020.html

and the spack version # for the package is 20.0.4

https://github.com/spack/spack/blob/develop/var/spack/repos/builtin/packages/intel/package.py#L19

Let me know if that is not the case. I put my n

[2021-07-04 17:59] wohlbier commented on #24435
I get a similar error trying to build llvm@9.0.1 using clang 9.0.1.

[2021-07-05 09:14] #24630 closed, assigned to nobody

[2021-07-05 09:34] christoph-conrads commented on #24521
`spack install` has a non-zero exit status on build failure now (tested with commit 406117148d3e416e518eb911b0768716b00245d6).

[2021-07-05 10:00] mateusz-xperi commented on #8049
I had similar problem.
cause: /usr/bin/cpp point to C **compiler**
solution: ln -s /usr/bin/cpp-7 /usr/bin/cpp (cpp should point to C **preprocessor**.)

[2021-07-05 13:10] vvolkl opened #24708 "Test issue: gtk-doc"
Running
[code]
results in the following (verbose) output - and hangs indefinitely (at least didn't finish in either failure or success for several hours)

[code]

[2021-07-05 13:30] vvolkl opened #24709 "Test Issue: gdk-pixbuf"
Running
[code]
results in
[code]

[2021-07-05 13:31] vvolkl opened #24710 "Test Issue: at-spi2-core"
Running
[code]

results in
[code]

[2021-07-05 13:32] vvolkl opened #24711 "Test Issue: harfbuzz"
Running
[code]

results in
[code]

[2021-07-05 13:59] vvolkl opened #24712 "Test Issue: pango"
Running
[code]
results in
[code]

[2021-07-05 15:55] LDAmorim commented on #24520
The solution of using environments seems to work well, so I will close this issue.
Thank you @ax3l and @scheibelp for all the help!

[2021-07-05 15:55] #24520 closed, assigned to nobody

[2021-07-05 19:58] haampie opened #24716 "Spack v0.16.2 can't download using Python 3.8.11"
### Steps to reproduce the issue

[code]

## Information on your system

* **Spack:** 0.16.2
* **Python:** 3.8.11
* **Platform:** linux-ubuntu18.04-zen2

### Additional information

- [x] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [x] I have searched the issues of this repo and believe this is not a duplicate
- [x] I have run the failing commands in debug m

[2021-07-05 21:13] adamjstewart commented on #24716
Will be fixed once #24686 is backported and we cut a 0.16.3 release.

[2021-07-06 06:18] #24551 closed, assigned to adamjstewart

[2021-07-06 08:31] #21539 closed, assigned to nobody

[2021-07-06 09:24] #21905 closed, assigned to nobody

[2021-07-06 11:18] #24254 closed, assigned to sethrj

[2021-07-06 12:12] #24589 closed, assigned to nobody

[2021-07-06 14:02] olupton opened #24724 "Cannot specify extra RPATHs for package (caliper+cuda libcupti.so not found)"
When I install `caliper+cuda` the resulting shared library (`libcaliper.so`) is missing RPATH entries, so it cannot be loaded without `$LD_LIBRARY_PATH` providing the extra search paths:
[code]

The problem seems to be that Spack generates CMake arguments to Caliper like
[code]
where the list of paths comes from
https://github.com/spack/spack/blob/9d36f7f5184aebc0065c74ee5d92652daf477643/lib/spack

[2021-07-06 14:48] cessenat opened #24726 "Installation issue: m4@1.4.19 %nvhpc"
[code]
with the patch:
[code]
without the patch:
[code]

### Information on your system

* **Spack:** 0.16.1-3442-f9ecc4966d
* **Python:** 3.6.9
* **Platform:** linux-ubuntu18.04-zen2
* **Concretizer:** original

from ~/.spack/linux/compilers.yaml
[code]
### Additional information

* [spack-build-out.txt](https://github.com/spack/spack/files/6770814/spack-build-out.txt)
* [spack-build-env.txt](htt

[2021-07-06 15:47] azukaitis commented on #24683
Ok I'll check later today.  Thanks for the response!

[2021-07-06 16:02] cessenat commented on #24671
I encounter that as well.
Without MPI it goes through:
`spack install med@4.1.0+shared~mpi ^hdf5@1.10.7~mpi ^cmake@3.12.4`
Maybe @likask could help.
I mailed Adrien Bruneton who authored config/cmake_files/FindMedfileHDF5.cmake in case he could help.

[2021-07-06 16:48] qwofford commented on #24260
Curious if this issue and the associated PR #24261 might make it into develop, or if removing `-l` might break something unexpected.

[2021-07-06 17:18] lee218llnl commented on #24726
I created the oneapi.patch, I think @samcmill might have a better idea on how to fix things for nvhpc since it looks like he created the nvhpc.patch file.

[2021-07-06 18:23] mdorier opened #24731 "Rake not working during package installation"
I'm trying to make a spack package for [mruby](http://mruby.org), an implementation of Ruby for embedded systems. This package depends on `ruby` and on `rake`. I can easily build it manually as follows (provided the ruby and ruby-rake packages are installed and loaded):

[code]

(it doesn't have a `rake install` target so the next step if I want the headers and libs in another location is to copy

[2021-07-06 18:29] lee218llnl commented on #24726
I submitted a PR to only apply nvhpc.patch for version 1.4.18. I'm not sure about your build failure, though, as I was able to get m4@1.4.19%nvhpc@21.5 to build OK in my environment.

[2021-07-06 19:58] cessenat commented on #24726
I succeeded with 1.4.17 but not with 1.4.19 on Ubuntu 18.04 ; nevertheless I also (like you) succeeeded with CentOS 7.7 and 7.8, but failed with Ubuntu 20.4 ; this means all that is not really clean...

[2021-07-06 20:02] lee218llnl commented on #24726
@cessenat thanks for the additional tests. I do not have an equivalent system and thus cannot reproduce. Also, I don't support the m4 package. I hate to just punt, but I think this may be on the m4 developers or the nvhpc folks to devise a solution.

[2021-07-06 22:10] samcmill commented on #24726
I took a quick look and have some idea of what's going on.

Making the patch condition on the m4 version is definitely the right thing to do.

Here's a simple reproducer that compiles with gcc or clang, but errors with nvc:

[code]

I believe the reason for the difference on CentOS 7 and some other older systems versus newer ones is in `lib/intprops.h`.  If `__builtin_add_overflow` is not availabl

[2021-07-06 23:18] jsquyres commented on #11515
This was just reported to us upstream in the Open MPI project in https://github.com/open-mpi/ompi/issues/9122.

We will have a fix in the v4.0.x and v4.1.x branches shortly.  While the fix makes its way towards an official release, you have a few options:

1. Don't build the MPI C++ bindings (they're not enabled by default -- you can simply remove the `--enable-mpi-cxx` option from Open MPI's `con

[2021-07-07 06:43] Tom-python0121 opened #24744 "spack install --keep-stage -v libint@2.6.0 failed"
I ran into a problem：spack install --keep-stage -v libint@2.6.0 failed about the package of https://github.com/spack/spack/pull/24665/commits/1b3f743ef2b8d4b964d85afd1dda8e10dbdd0ab8
### Steps to reproduce the issue

[code]

### Information on your system
[root@centos8 ~]# spack debug report
* **Spack:** 0.16.1-1624-a0b5dcca3c
* **Python:** 3.6.8
* **Platform:** linux-centos8-aarch64
* **Concretiz

[2021-07-07 07:08] ax3l commented on #24520
Awesome, thanks for closing the loop! :)

[2021-07-07 08:21] UweSauter commented on #24480
It looks like it could work. Yet, in my opinion, it would be best to make the path where named environments are stored configurable so that one can store one's configuration (including environments) separate from the vanilla Spack git directory.

Even with site specific configurations you need to use symbolic links to keep then in a place outside the git directory, though this is acceptable.

[2021-07-07 08:58] UweSauter opened #24745 "Installation issue: cannot contretize all ROCm related packages in single environment"
@arjun-raj-kuppala @srekolam

### Steps to reproduce the issue

I'm trying to include all ROCm related packages into one environment so that a user only needs to load one module instead of (currently) 43. Also I want to keep the necessary installed dependencies to a minimum.

This fails because of some packages require different flags of `llvm-amdgpu` than others. Question is if this could somehow

[2021-07-07 09:05] mdorier opened #24746 "Installation issue: cereal (patch fails for versions <= 1.2.2)"
[code]

The latest version (1.3.0) installs fine. None of the earlier versions do (at least I tried 1.2.2, 1.2.0, and 0.9.1, and all fail with a patch error).

### Information on your system

* **Spack:** 0.16.2-2956-f8794afcbd
* **Python:** 3.9.5
* **Platform:** linux-ubuntu21.04-sandybridge
* **Concretizer:** original

This problem appeared on multiple machines, it's not specific to my particula

[2021-07-07 10:36] mdorier commented on #24731
I can confirm that when I build manually, when I spack-load `ruby` and `ruby-rake`, despite the `rake` executable being the one from the spack-installed ruby, the gem it uses is the one installed on the system, not the one installed by spack. This is a problem by itself. Here is what `gem environment` gives me:

[code]

The path to `ruby-rake` is not listed as a gem path. `GEM_PATH` and `GEM_HOME`

[2021-07-07 12:21] mdorier commented on #24731
TL;DR: jump to the last 2 paragraphs of this comment to see the solution, and suggestion for modifying the ruby package.

More investigation: the system does not actually have rake (it has ruby, though), so, taking it step by step, from nothing loaded:

[code]

As expected, rake is not found (it's not installed). Let's now load the spack-installed ruby and retry:

[code]

First strange thing here,

[2021-07-07 15:30] adamjstewart opened #24754 "Clingo overriding packages.yaml variant preferences"
I'm trying to install PyTorch without CUDA support. With a fresh clone of Spack and no `packages.yaml`, I see:
[code]
As you can see, Spack has chosen to assign a random value to `cuda_arch` instead of disabling `+cuda`. With the following `packages.yaml`, Spack still tries to install `py-torch+cuda`:
[code]
[code]
I believe this is because dependencies like `magma`/`cudnn`/`nccl` also depend on C

[2021-07-07 15:53] adamjstewart commented on #24754
Not sure if #24736 affects this at all.

[2021-07-07 16:51] tjfulle opened #24756 "spack develop -p PATH should expand PATH argument"
Navigate to your packages source directory and execute `spack develop -p . SPEC` writes a literal `.` to the `develop:PACKAGE:path` field in the Spack environment.  Later, when running `spack install`, the build will fail because`.` is not expanded and will take the value of whatever is the current directory when you run `spack install`.  When writing the `develop` field to an environment when a u

[2021-07-07 17:18] tjfulle opened #24758 "Specify build directory for a package marked for development"
If I

[code]

The build artifacts will be put directly in `$SRC_DIR`.  Eg,

[code]

If I later

[code]

It will overwrite the various `spack-build-*` files for the `+foo` variant.

A build root argument to `spack develop` would alleviate this issue:

[code]

The following would be the desired result:

[code]

[2021-07-07 17:24] tjfulle commented on #24758
Other advantages:

- I won't have to ignore the various `spack-build-*` files generated by spack in my vcs
- Some CMake packages will not build with Ninja if the build directory is a subdirectory of the source directory (I'm looking at you Trilinos...)

As an alternative, don't put build artifacts for each spec directly in the source directory, but in a subdirectory `spack-develop-<hash>` so that

[2021-07-07 17:49] DavidPoliakoff opened #24759 "Unexpected behavior in Spack fetching/concretization"
I was trying to build an environment with new compilers, and then turn that into a container., on a machine with externals My break happens way early in that process.

As of develop this morning: if I have spack externals, Spack can get deeply confused about what it should fetch, in a way that gives _bizarre_ errors. In my situation, I had a spack external of diffutils v2.8.1, which is way before

[2021-07-07 18:31] scheibelp commented on #24726
https://github.com/spack/spack/pull/24730 has been merged but it looks like this should stay open until someone can implement the changes described in https://github.com/spack/spack/issues/24726#issuecomment-875115965

[2021-07-07 19:45] scheibelp commented on #24744
If you `spack cd libint`, do you see a `generated/` directory anywhere?

Oddly the `configure` output you included mentions `--with-libint-exportdir=generated`, so I'm not sure why it wouldn't exist - does `config.log` contain any messages related to generating that directory?

As a side note I can build `libint@2.6.0` on

[code]

[2021-07-07 19:46] srekolam commented on #24745
with the additions as part of #23859, rocm-device-libs is added as external project inside llvm-amdgpu package and most of the rocm packages are modified to include the llvm-amdgpu+ rocm-device-libs.  I am thinking the above error is due to addition of  the rocm-device-libs in yaml file .
@haampie  , any thoughts ?

[2021-07-07 19:49] balay opened #24761 "spack does not propagate (default) target to dependent packages - when perl is listed in packages.yaml"
Spack determines:

==> Warning: gcc@7.4.0 cannot build optimized binaries for "cascadelake". Using best target possible: "skylake_avx512"

But then - it goes ahead and tries to build some dependent packages with `arch=linux-centos7-cascadelake`

Presence of `perl` in `packages.yaml` appears to trigger this behavior [for this case with openmpi]

### Steps to reproduce the issue

[code]

### Error M

[2021-07-07 21:12] adamjstewart commented on #24759
Can you try adding the following to your `config.yaml`?
[code]

[2021-07-07 21:16] scheibelp commented on #24744
Also tried (and succeeded) on Centos 8:

[code]

Only difference I see compared to your case is a different target (`aarch64` vs. `haswell`). So that `config.log` could be useful.

[2021-07-07 21:26] DavidPoliakoff commented on #24759
[code]

[2021-07-07 21:27] DavidPoliakoff commented on #24759
(I'm going with the most verbose output, let me know if you want something more terse)

[2021-07-07 22:06] adamjstewart commented on #24759
Ah, I didn't read the issue carefully enough, ignore me.

Can you upload your `packages.yaml`? Want to see if you're using `buildable: false` and whether or not that makes a difference.

[2021-07-08 00:25] DavidPoliakoff commented on #24759
Cool. I'll do that tomorrow. FYI at the moment I'm not using buildable:
False. Tomorrow I'll try with it on

On Wed, Jul 7, 2021 at 3:06 PM Adam J. Stewart ***@***.***>
wrote:

--
Thanks,

David

[2021-07-08 02:50] Bitllion opened #24769 "Spack load But not load compiler environment"
I have a app that is not compiled with spack, but is installed and managed with spack.Before using it, you need INTEL2018 under source.
So,after source INTEL2018, spack compiler find finds and adds the corresponding compiler.Then I wrote an installation script like this：
[code]
And run `spack install gromacs@2018.4%intel@18.0.1`.
The installation is easy.
Reopen a terminal and run `spack load  gro

[2021-07-08 03:19] Tom-python0121 commented on #24744
@scheibelp As you can see：
[code]
But I still can't fix this bug. What's your opinion?

[2021-07-08 03:21] Tom-python0121 commented on #24744
Note: I use the new package https://github.com/spack/spack/commit/1b3f743ef2b8d4b964d85afd1dda8e10dbdd0ab8, not the old one.

[2021-07-08 07:24] billyauhk opened #24770 "External Python run outside build environment"
We have existing lmod for Python, etc. and would like spack to leverage on them. However during installation of paraview, there are errors:

### Steps to reproduce the issue

[code]
Probably the error also affects Perl, but the Perl was an external using prefix (OS-installed package), not a lmod

### Error Message
Being instructed on Slack to try this
[code]

### Information on your system

* **Sp

[2021-07-08 07:37] billyauhk commented on #24770
@becker33 was referring me to the lines around https://github.com/spack/spack/blob/develop/var/spack/repos/builtin/packages/python/package.py#L897

[2021-07-08 11:37] manuelakuhn commented on #16030
I also ran in a version conflict with according useless error message. Unfortunately for me it was the other case around: the error message of clingo is the useless one whereas the one of the original concretizer actually points to the problem.
I have a spec (trying to update `py-jupyterlab`) with contradicting versions like this:
[code]
clingo output

[code]
in total 29636 lines of output (simila

[2021-07-08 11:52] vvolkl opened #24772 "Test Issue: libssh2"
[code]

results in

[code]

[2021-07-08 12:28] vvolkl opened #24773 "Test Issue: jsoncpp"
[code]
results in
[code]

[2021-07-08 14:16] adamjstewart commented on #24770
@becker33 this seems like a consequence of Spack unsetting `LD_LIBRARY_PATH`, is that correct?

[2021-07-08 15:22] DavidPoliakoff commented on #24759
Now with buildable: False on diffutils:

[code]

[2021-07-08 15:46] adamjstewart commented on #24759
Okay that's really weird. It definitely shouldn't be trying to download any version of diffutils if `buildable: false`. This is out of my area of expertise, but maybe @becker33 @scheibelp could help.

[2021-07-08 15:49] DavidPoliakoff commented on #24759
I get to make Greg's day more complicated? THIS IS THE BEST ISSUE

[2021-07-09 01:37] sleak-lbl opened #24796 "spack spec --blame foo@1.2.3"
An option to help understand *why* spack decided on a particular spec (variants and dependencies chosen)

### Rationale

Spack seems to treat my `packages.yaml` and command-line with disdain, and if I know why it chose each element of the concrete spec, I might be able to adjust things to get the spec I actually want.

For example, my packages.yaml has:
[code]

`spack spec -Il lammps` reveals that

[2021-07-09 03:06] Tom-python0121 opened #24797 "when I make verilator@4.210 and it failed in spack"
When I make verilator@4.210 and it failed in spack:
[code]
Can you help me analyze it?

### Information on your system
[root@centos8 ~]# spack debug report
* **Spack:** 0.16.1-1624-a0b5dcca3c
* **Python:** 3.6.8
* **Platform:** linux-centos8-aarch64
* **Concretizer:** original

[2021-07-09 07:25] billyauhk opened #24801 "Installation issue: AMBER MPI"
### Steps to reproduce the issue

[code]

### Information on your system
No error was generated by the ```spack install``` command, but ```MMPBSA.py.MPI``` went missing in the bin/ folder. Seems to be a packaging error. Other *.MPI binaries are built:
[code]

### Additional information
@hseara

### General information

* **Spack:** 0.16.2-3424-63b0608fa3
* **Python:** 3.6.8
* **Platform:** linux-c

[2021-07-09 08:11] msimberg commented on #11582
I've been attempting to use environments on a Cray system (Piz Daint) and I'm struggling to get MPI and compiler modules loaded when activating an environment. Following this thread (and not finding anything regarding this in the documentation) it's still not clear to me if what I'm trying to do is expected behaviour or a bug.

My `packages.yaml`:
[code]
and in `compilers.yaml`
[code]

I then have

[2021-07-09 08:15] UweSauter commented on #24745
I removed `rocm-device-libs` from the list and then concretion is successful.

Thanks for the hint.

[2021-07-09 11:07] billyauhk commented on #24770
It seems to be the case, from the result of `spack -d build-env paraview@5.9.1~cuda %gcc@10.2.0 examples=True target=skylake_avx512 -- bash -c "export | grep SPACK"`:
[code]
Edit: Seems output of `spack -d build-env paraview@5.9.1~cuda %gcc@10.2.0 examples=True target=skylake_avx512 -- bash -c "export | grep LD_"` may be more relevant. Python paths exists at LD_LIBRARY_PATH but not SPACK_LD_LIBRAR

[2021-07-09 15:08] omsai opened #24805 "Installation issue: htop"
### Steps to reproduce the issue

[code]

I noticed the sources are still being fetched from a deprecated address:
https://hisham.hm/htop/releases/DEPRECATED.txt

... and the latest version is 3.0.5 released this January:
https://github.com/htop-dev/htop/releases

...so it might make sense to use the newer, maintained, version instead of investigating the older version.

### Information on your sy

[2021-07-09 15:45] payerle opened #24806 "Installation issue: libtirpc%nvhpc fails due to -pipe flag in Makefile"
Attempting to build libtirpc using nvhpc compilers generates an error due to an unrecognized '-pipe' flag being passed to the
compiler.  This appears to be due to the -pipe flag being hardcoded in some Makefiles.

### Steps to reproduce the issue

[code]

### Information on your system
[code]

I am using an manually installed (external to spack) nvhpc@21.5, but I expect the issue should be present

[2021-07-09 17:50] scheibelp commented on #11582
@msimberg

It sounds like you are defining a compiler in the environment's configuration, activating the environment, and expecting the compiler to be available for use - e.g. in PATH (perhaps you want to use the environment to build some packages without Spack (e.g. you have packages that you build without `spack install`): that is not supported (in general, environments can only "expose" install