[2019-11-11 15:03] jounathaen commented on #13678
Thanks for the fast response, this does the trick! :+1: :tada:
(my opinion about defaulting this persists, but I'm happy now :wink: )

[2019-11-11 15:10] alalazo commented on #13678
The default has been chosen so that Spack optimizes for the host architecture (or for a best match if an old compiler is used). Closing this as it seems there's no further issue, but feel free to reopen if you disagree.

[2019-11-11 15:10] #13678 closed

[2019-11-11 16:00] alalazo commented on #13650
@sethrj @madmissmolly Care to submit a PR to fix this issue?

[2019-11-11 18:20] alalazo commented on #5193
@michaelkuhn Is this feature still relevant to you? In case can you weigh this approach vs. using Spack from within a container?

[2019-11-11 19:39] eugeneswalker commented on #13646
I think it is back up now!

[2019-11-11 21:40] scheibelp commented on #13637
I'll be adding a PR for this shortly but anticipate merging it after 11/25 to help our Spack tutorial at SC run smoothly (removing `gettext` from `python` will change the hashes of quite a few packages including those that are installed at the tutorial).

[2019-11-11 23:19] rajeeja commented on #13555
How do I launch visit? I have python 3.7 as my default. My current line is:
[code]

[2019-11-11 23:47] #13648 closed

[2019-11-11 23:47] #13649 closed

[2019-11-12 01:17] becker33 commented on #13361
@bartlettroscoe

The `spack find --format` command and the format string syntax should be a stable part of the API now, yes.

The `spack find` command is slower than your grep script because it had to search every spack package you have installed. If you did `spack find --format "{arch}" /hash-of-a-spack-install` instead it should be substantially faster

[2019-11-12 01:59] bartlettroscoe commented on #13361
@becker33, the install process don't know the install hash anymore than I know the arch.   Spack install determines both of these things internally.  All the install process knows is the compiler@version and the package name and version.

[2019-11-12 02:10] #13479 closed

[2019-11-12 02:11] #13483 closed

[2019-11-12 02:11] #13215 closed

[2019-11-12 06:57] SheraLee opened #13695 "when using mpif90 , Fatal Error: Can't open module file 'p3dfft.mod'"
I am pretty new to spack, and what I am asking may not make sense, but I really hope I can build a spack package for our program. T

My program can be installed successfully with the Autotool without spack. `./configure --enable-gnu --enable-fftw --with-fftw=$FFTWHOME FC=mpif90 CC=mpicc LDFLAGS=-lm -lmpichf90`

However, when using spack to build my package p3dfft, after calling `/opt/mvapich2/inte

[2019-11-12 09:50] tgamblin commented on #13361
The hash is output at the very least as part of the directory name after the `[+]` in the install output. We could also make `spack install` spit it out in an easier to parse way if you want.

[2019-11-12 13:18] sethrj commented on #13555
I'd guess that `alias python` isn't good enough (since that won't affect calls from forked processes); try `export PATH=$(spack location -i python@:3.0)/bin:$PATH`

[2019-11-12 13:52] ifelsefi opened #13698 "wrapper that detects cpu architecture before spack load"
Hi

I want to write a python wrapper that detects CPU target then will pass that onto `spack load.`

So `spack load r` would become `spack load r target=sandybridge.`

We have a heterogeneous environment so this would be helpful to add in Slurm submission scripts.

Can someone point me to the functions that detect CPU architecture?

[2019-11-12 14:56] davydden commented on #13504
@olesenm do you happen to have an idea what could be wrong with openfoam modules?

[2019-11-12 16:49] omsai commented on #12667
@scheibelp There is no `spack-build-out.txt` or `spack-build-env.txt` in the stage directory; only the tarball and `spack-src/`

[code]
[code]

So I've pasted the output from the shell here:

[code]

[2019-11-12 16:52] omsai commented on #12667
There is also a `spack-stage/` directory alongside the netcdf stage:

[code]

[2019-11-12 17:32] olesenm commented on #13504
@alalazo is the guru for these things.

[2019-11-12 17:32] balay commented on #13646
Looks like its down again.

[code]

[2019-11-12 17:42] adamjstewart commented on #13555
PYTHONPATH should use colons to separate paths, not spaces. I've never used visit before, but I would be surprised if it's Python libraries were stored in `prefix.bin`.

[2019-11-12 18:15] mcneish1 commented on #11498
This issue was fixed for me by #13497

[2019-11-13 00:50] eugeneswalker commented on #13646
so disappointing! should have mirrored it when I had the chance!

[2019-11-13 01:07] hartzell opened #13711 "Installation issue: py-multiqc -- help debugging concretization/dependency quandary"
A friend reported trouble building py-multiqc on his mac, which set me on a wild goose chase.  He claims it builds on linux, but I'm w/out a linux system at the moment to verify.

My immediate question is, how can I usefully debug a problem with dependencies?

On a mac running 10.13.6, on `develop`, in a tree that I updated this afternoon....

[code]

I started off dropping calls to `pdb.set_trace

[2019-11-13 01:15] hartzell commented on #13711
ping @odoublewen

[2019-11-13 01:20] hartzell commented on #13711
I seemed to have missed the ':' in the version spec in for python in py-matplotlib, so this would seem to not be accurate (but the empirical observations still stand).

[2019-11-13 01:25] balay commented on #13646
I have a copy of the tarballs at https://github.com/spack/spack/commit/11ed36fecd947161783c4a4660bca17e8e77b4fc

[2019-11-13 01:33] scheibelp commented on #13711
There is currently no way to print out the intermediate decisions of the concretizer as it proceeds along. We could add that (that's usually what I insert myself when it comes to tracking concretizer bugs).

Currently no; great idea though (we could add a try catch at the top level to print out the spec at the time of the error)

My current strategy mainly involves `grep` relating to the associate

[2019-11-13 01:43] hartzell commented on #13711
@scheibelp -- That's pretty  much what I did, starting with a breakpoint [here in `_merge_dependency`](https://github.com/spack/spack/blob/develop/lib/spack/spack/spec.py#L2506) (based on ripgrepping around a bit).  But printing out the various things from the debugger is messy; I suspect that there are helper methods or *etc.* that would make e.g. `spec_deps` print out prettyily.

I probably have

[2019-11-13 01:44] scheibelp commented on #13711
I'm happy to work on it myself if folks have suggestions (and what we have already I think is a good start toward improving the debugging process), although I wouldn't be able to start until December most likely.

[2019-11-13 01:49] hartzell commented on #13711
Your suggestion re py-matplotlib fixes the immediate problem.  I'll PR it and see if @odoublewen can test it in a couple of scenarios.

So, [this pypi page](https://pypi.org/project/enum34/) suggests that it's only needed for `^python@:3.3`.  Is that correct?  I can PR that too.  Or, since we don't have a failure scenario for it I should just drop in a comment?

[2019-11-13 01:51] hartzell commented on #13711
Don't let me steal your toys.  I'm not in any hurry (indeed, I'm not using Spack for anything at the moment...).

On the other hand, I have spare time so if you run out of TUITs, let me know.

[2019-11-13 02:01] scheibelp commented on #13711
Whoops I misread https://github.com/spack/spack/issues/13711#issuecomment-553198464 and thought you said you didn't have time.

If you have time and interest, I'd really appreciate it if you created a PR!

[2019-11-13 02:52] sethrj commented on #13555
@adamjstewart I think he's using the `KEY=VALUE EXE` syntax to set the python path to the system value and launch visit with that. Not recommended of course.

[2019-11-13 07:59] steffen-AEI commented on #13646
@eugeneswalker See the "mitigation" paragraph in the OP for more permanent locations...

[2019-11-13 08:56] victorusu opened #13714 "Add setdefault option to tcl environment-modules backend"
Spack Tcl environment-modules backend does not have the `setdefault` version as the LMod backend does.
So, when one installs an application and uses the Tcl environment-modules backend, it is left to the environment-modules to pick the default. This may change the current default on the system, which is not ideal.

For completeness
[code]

For the Tcl backend...
[code]

### Rationale

Assuming tha

[2019-11-13 12:15] steffen-AEI commented on #13648
This is to confirm that charmpp now builds. Thanks!

[2019-11-13 13:33] brisk022 opened #13718 "Errors installing Mathematica"
I tried to install mathematica from the builtin recipe using a fresh installation of spack v0.13.0 with all default settings on Ubuntu 18.04. First, I got an error when spack was trying to copy the log file.

[code]

If I create the `.spack` directory manually in the recipe, i.e.,
[code]
 the installation is successful but the package is not registered because `spec.yaml` is not present in the ins

[2019-11-13 13:41] omsai commented on #13498
@michaelkuhn as a workaround to get my user up and running I used the previous version of `netcdf-fortran`.  Thanks for your work on this!

[2019-11-13 14:36] alalazo commented on #13604
Got another report of this from @victorusu He got stuck on credential request for a Github private repo. How do we plan to solve this issue? Curious if it is via timeout or by trying to avoid upfront fetches that require interaction...

[2019-11-13 16:08] fsimonis opened #13719 "Compound versions for stand-alone compilers enabling reproducibility"
Compound versions for stand-alone compilers with their used standard library provider to enable reproducible spack builds.

### Rationale

Some compilers such as gcc or clang ship with their own implementations of C/C++ standard libraries. Other compilers such as intel or pgi, however use a GNU library present on the system.

This has implications on the reproducibility of software compiled with s

[2019-11-13 17:42] ianbrobin commented on #11690
Has any progress been made on this issue?

[2019-11-13 17:54] scheibelp commented on #13604
I think a timeout might be the most robust fallback

* I don't know if each protocol e.g. git can be instructed to bail on interactive pulls
* creating a list of packages to avoid may help but is somewhat fragile (e.g. if we miss a package or a new one is added without updating the list)

Avoiding problematic fetches is definitely easier though. Supporting timeouts requires:

* monitoring the stat

[2019-11-13 18:22] homerdin commented on #11690
Just checked and it looks to have been fixed.

[2019-11-13 18:22] #11690 closed

[2019-11-13 18:46] mamelara commented on #12547
Any update on this? The newer version doesn't seem to fix the issue

[2019-11-13 19:25] white238 opened #13722 "Error when creating mirror in already existing mirror location"
I ran spack twice in a row to create a mirror in the same location.  I expected it to update the mirror location with new packages.  It errored.

### Steps to reproduce the issue

[code]

### Error Message

==> Adding package serac_devtools@fakeversion to mirror
==> Error: 'FileExistsError' object has no attribute 'message'

Running with -d got two stack traces in a single spack run:

Traceback (m

[2019-11-13 20:32] KineticTheory commented on #12547
_font-util_ is still broken for me.  I have the [diff listed above](https://github.com/spack/spack/issues/12547#issuecomment-541776004) in all of my spack directories so I can keep working.

[2019-11-13 21:01] mamelara commented on #12547
The diff helped. Thanks

[2019-11-13 22:47] citibeth opened #13726 "Module Names without Hashes"
Have environments generate a set of modules without hashes in their name, for the items in the environment.  (They would likely be symlinks to the "original" modules generated in Spack).

### Rationale

There is a persistent desire for this feature.  But people are doing it in a way that breaks Spack.

[code]

[2019-11-14 00:38] scheibelp commented on #13553
@phanousk could you report this in a separate issue? I don't think your error is related to this. Note that if you are invoking `spack` without a full path, I would expect that you have to invoke `setup-env.sh` after cloning the Spack repo.

[2019-11-14 01:54] scheibelp commented on #13722
For starters the mirror logic shouldn't be attempting to fetch `BundlePackage`s. Is there by chance a `url` attribute in your `SeracDevtools` package?

Either way I'll need to fix the error reporting.

[2019-11-14 13:24] alalazo commented on #12294
Just for the record, there are other minor things we may want to look at when we address this. For instance:
[code]
behaves much more like `spack find` than `spack list`, so we might think of changing the command name to avoid inconsistencies.

[2019-11-14 15:30] gartung opened #13732 "Sign buildcache spec files after they have been created"
At FNAL we are creating buildcaches on Jenkins servers. Keeping the private signing key on a shared Jenkins account is a security risk. Instead the buildcache are created unsigned. The following script is then used to sign the spec file after retrieval from Jenkins. This will be added as the `spack buildcache sign` subcommand.
[code]

[2019-11-14 15:35] gartung commented on #10522
@tgamblin I have implemented this for the FNAL spack dev testing. This includes some extra things I had to backport.
https://github.com/FNALssi/spack/compare/MVP1a...gartung:MVP1a-branch

[2019-11-14 15:49] cdfh opened #13733 "Cryptic error message when configuring a compiler for a specific target"
I have clang correctly configured in my `compilers.yaml` file with `target: ivybridge`.

Upon attempting to install any arbitrary package with `%clang`, spack fails:

[code]
Changing `target` to `linux-ubuntu16.04-ivybridge` does not fix the error. Changing to `x86_64` _does_ fix the error, but reporting this as a bug because `ivybridge` is an appropriate target and the compiler has been appropria

[2019-11-14 17:03] scheibelp commented on #13733
Does the output of `spack config blame compilers` look significantly different?

[2019-11-14 17:06] scheibelp commented on #13733
Whoops I just read more carefully:

Based on that, `spack config blame` will probably look the same

[2019-11-14 18:12] alalazo commented on #13733
It works as designed, so I wouldn't consider this a bug. To maintain backward compatibility and not have a needless proliferation of compilers the `target` in `compilers.yaml` is the architecture family.

[2019-11-14 18:17] alalazo commented on #13733
Oh, I am assuming that this entry in `compilers.yaml` was manually edited, let me know if this was not the case.

[2019-11-14 18:45] LDAmorim opened #13738 "Installation issue: py-setuptools"
Hi,
I didn't find any of the `spack` repo "permission" open or closed issues that seemed related to the one I am getting. But I am new to using and understanding spack, so sorry in advance if this is a duplicate (or easy-fix which I am not familiar with).

-----------------------------------------------------------------------------------------
*Summary version of the issue*
Permission denied erro

[2019-11-14 20:56] white238 commented on #13722
The copy and pasted (though weirdly formatted) SeracDevTools is all that is in that file.  There is no url attribute.

[2019-11-14 21:27] cdfh commented on #13733
@alalazo hi, yes, you're correct--it was manually added, although in an automated fashion (using the output of `spack arch -t`).

I recognise the motivation in avoiding unnecessary specialisation in `compilers.yaml`, but would argue that it's nevertheless a bug for it to refuse to recognise a compiler configured for the very target that spack was specifically seeking to compile for:

`Error: No co

[2019-11-14 21:30] cdfh commented on #13733
@scheibelp yep, for removal of doubt, `spack config blame compilers` confirms spack's using the intended `compilers.yaml` file.

[2019-11-14 22:26] #13711 closed

[2019-11-14 22:27] hartzell opened #13742 "Improved reporting on concretization errors"
Issue #13711 spawned a discussion of possible improvements in how concretization errors are reported.

Here's the error message that drove #13711:

[code]

and in that issue I raised the questions:

1. Is there some way to trace the progress of concretization?

2. Is there some way to see the dependency graph as it stands when the error happened?

3. Is there some way to see where the "spec asked

[2019-11-14 23:53] LDAmorim commented on #13659
Hi, Thank you for opening this issue.
I am also finding an issue with building `cmake` with `%gcc@9.2.0`, but in a MacOS system and I don't know if it is related to yours or not.

In my case, when I try to install
[code]
The long output message below and files attached (that I don't understand) are created.

I can install `cmake` through *spack* with `clang@11.0.0`, but that is not sufficient for

[2019-11-15 03:12] gartung commented on #10522
https://github.com/spack/spack/pull/13747
implement this feature

[2019-11-15 06:25] alalazo commented on #13733
@cdfh In my opinion what's missing here is:
1. A better error message
2. Documentation on the meaning of the `target` field in `compilers.yaml`

If you think about it, when you install a compiler with some architecture support then it's able to generate binaries for all the microarchitectures it knows about belonging to that "family" (e.g. if you install `x86_64` you can optimize for `skylake` as

[2019-11-15 07:01] weijianwen commented on #13659
This issue persists on the latest `cmake@3.15.5`.  A similar issue has been reported on #12644 for `cmake@3.13.0`.

[2019-11-15 12:36] obreitwi opened #13752 "Spec parsing broken for key=value pairs"
If a spec contains more than one `key=value` pair or the `key=value` pair is not at the end of the spec, parsing breaks:

[code]

This is due to the fact that the regexp for matching the value part only checks for a non-whitespace character at the start and then matches everything (one-line PR incoming).

[2019-11-15 13:59] tjfulle opened #13754 "--config-scope seems to be ignored"
Starting with commit 43b0356e14a8227f33040302cf948d3c98508d59, configuration scopes seem to be ignored.  For example, with one commit before (dc36b4737d16ea4aa49daa14fb782b5ea85b60e3):

[code]

but, after 43b0356e14a8227f33040302cf948d3c98508d59 I get

[code]

Checking out `lib/spack/spack/relocate.py` from dc36b4737d16ea4aa49daa14fb782b5ea85b60e3 seems to resolve the issue:

[code]

One of the ch

[2019-11-15 14:25] obreitwi commented on #13752
Additional note: The error only appears when specifying the whole spec as a single string.

Works:
[code]
Fails:
[code]

[2019-11-15 14:26] gartung commented on #13754
@becker33

[2019-11-15 15:02] alalazo commented on #13752
@obreitwi Also works correctly for unquoted specs:
[code]

[2019-11-15 15:56] dev-zero commented on #12701
ok, but this is not about CP2K. Either solved by https://github.com/spack/spack/pull/13471 if tddft.org is online again or will be solved by https://github.com/spack/spack/pull/13579

[2019-11-15 16:00] cdfh commented on #13733
@alalazo Yep, I'm fine with that, thanks!

[2019-11-15 18:00] glennpj opened #13756 "Spack not processing config files"
With a recent update I noticed that Spack was not seeing previously installed packages. I then also noticed that Spack would install packages to the wrong directory. Essentially, Spack is ignoring the configuration information that states where packages **should** be installed and instead is looking at the default install directory. Using `git bisect` the commit that introduced the issue is 43b035

[2019-11-15 18:05] alalazo commented on #13756
@becker33 @scheibelp

[2019-11-15 18:10] glennpj commented on #13756
I can confirm that #13755 fixes this issue.

[2019-11-15 19:05] gartung commented on #10522
Implemented some of this in
https://github.com/FNALssi/spack/pull/27
Because the directory layout was changed between tag MVP1 and MVP1a and I got the error about the directory layout when using buildcaches built with the MVP1 tag

[2019-11-15 20:28] alalazo opened #13757 ""spack buildcache list" prints the same spec multiple times"
When using more than one constraint to list specs in a binary mirror, `spack buildcache list` shows the same spec multiple times base on the number of constraints it satisfies.

### Steps to reproduce the issue
Create a binary mirror with at least one package, for instance:
[code]
Then try to use more than on matching constraint:
[code]
As the output above shows the same spec is displayed twice.

[2019-11-15 20:28] alalazo commented on #13757
PR incoming

[2019-11-15 21:32] #13754 closed

[2019-11-16 00:15] IanLee1521 commented on #13604
It also looks like there are some packages that just hang (this one has gotten stuck a couple times now, just did a fresh `git pull` to see if something in develop might fix this, though I'm not too hopeful):

[code]

[2019-11-16 19:03] hartzell commented on #2230
I've found this [Ubuntu specific bit of doc for clang+gofortran](https://spack-tutorial.readthedocs.io/en/latest/tutorial_configuration.html#compiler-configuration).

Is there anything Darwin specific hidden somewhere?  Specifically, does it matter where I get the gfortran that I mix in with the Apple supplied clang?

I'm working on a mac running 10.13.6, using gcc@9.2.0 from homebrew.

I just hit

[2019-11-16 23:10] scheibelp commented on #13756
Closing this as #13755 is now merged.

[2019-11-16 23:10] #13756 closed

[2019-11-17 16:12] cyrush opened #13762 "update source url for parmetis"
the url used in the `parmetis` package no longer exists.

`metis` is being updated as part of this PR:

https://github.com/spack/spack/pull/13709

`parmetis` will need a similar update

[2019-11-17 18:15] cyrush commented on #13646
related to #13762 and #13709

[2019-11-18 14:55] phanousk commented on #13553
Hi, I've tried today the same test with prior 'git pull' and can not simulate the problem again. So perhaps it's not necessary to file another issue.
Petr

[2019-11-18 15:58] obreitwi commented on #13752
Yeah, that's because `argparse` tokenizes the arguments (actually, with my shell setup, I need to quote all strings starting with `^` otherwise they'll history-expand).

I commented [some more](https://github.com/spack/spack/pull/13753#issuecomment-555076427) in #13753.

[2019-11-18 20:46] ax3l commented on #12636
@opadron any chance we can get this fixed?

[2019-11-18 20:46] ax3l commented on #12636
@adamjstewart mentioned that `spack load` might potentially work soon without having to install `environment-modules`, if I understood correctly.

[2019-11-18 20:52] adamjstewart opened #13775 "Better Modules Naming Scheme"
Currently, you can specify a module naming scheme like:
[code]
I would like the ability to change this to:
[code]
Where `{hash}` is the hash and `7` is the hash length.

### Rationale

When I load a module, I have several options. If I don't care which version, I can say:
[code]
If I do care about the version, I would like to be able to do:
[code]
Currently this doesn't work, because Spack automat

[2019-11-18 20:54] adamjstewart commented on #12636
@becker33 is working on this!

[2019-11-18 21:46] jxy commented on #9352
As for building tensorflow from an air gapped system, you may get some ideas from how the freebsd port builds it, https://github.com/freebsd/freebsd-ports/tree/master/science/py-tensorflow

The extra distfiles that bazel needs can be separately fetched, https://github.com/freebsd/freebsd-ports/blob/master/science/py-tensorflow/Makefile.MASTER_SITES

[2019-11-19 11:16] phxyz12 opened #13782 "Installation issue: perl 5.26.2 install fails (with Spack v0.13.1)"
### Steps to reproduce the issue

Fresh spack v0.13.1 install on CentOS Linux 7.7. Added compiler gcc@7.3.0 with Spack.

[code]

### Platform and user environment

Please report your OS here:
[code]

### Additional information

Sometimes the issue benefits from additional details. In these cases there are
a few things we can suggest doing. First of all, you can post the full output of:
[code]

See

[2019-11-19 12:19] sethrj commented on #11279
I'm going to close this as `wontfix`. I can't find the exact mention, but one person made the point that `pip` won't work for cases without external internet connections but the spack python packages *will* work because they can be mirrored.

[2019-11-19 12:19] #11279 closed

[2019-11-19 12:27] albestro opened #13783 "LLVM does not build on Cray"
I'm getting the same problem as in #3791 about RPATH, which has been solved by #3904.

The problem seems to be that the `cray` platform is not recognized as `linux`, hence the `-DCMAKE_BUILD_WITH_INSTALL_RPATH=1` is not set.

https://github.com/spack/spack/blob/bb0667ceaf3311630e8e1fae024660e22b2749f7/var/spack/repos/builtin/packages/llvm/package.py#L733-L734

I was able to build it by changing th

[2019-11-19 12:35] sethrj opened #13784 "Package 'permissions' entry is ignored for cached source files"
Even though Spack can restrict privileges on installed packages, by default all of the source files it caches (even for those same packages!) are world-readable. I use Spack on institutional clusters to install software that requires special licenses to access (private git repositories), so I need to ensure that non-licensed users cannot access the source code.

Perhaps as a starting point, the ca

[2019-11-19 13:18] alalazo commented on #13775
@adamjstewart This is not a big change, but what is it giving more than:
[code]
plus the possibility to add suffixes? If you are in a situation like:
[code]
would:
[code]
load anything deterministically in your case? @albestro How do you envision loading each one of the four `hpx` above under the scheme proposed here AND without using the hash?

[2019-11-19 13:25] albestro commented on #13775
I never tried, but I would make the spec more detailed.

[code]

Would it be possible?

[2019-11-19 13:30] alalazo commented on #13775
@albestro If you do it like that (i.e. you use `spack load`) you don't need to remove the hash in the first place when you generate module files. @adamjstewart was referring to a case where `module load` was used instead of `spack load`.

[2019-11-19 13:54] albestro commented on #13775
Yes, true.

The problem is that at the moment I cannot generate modules for these packages at all. But, I thought that what @adamjstewart was suggesting in the end of his first comment

could solve my problem. Isn't it?

[2019-11-19 13:59] alalazo commented on #13775
@albestro My point is that you can probably solve your issue right now by changing your configuration. Can you share the output of:
[code]
?

[2019-11-19 14:21] albestro opened #13785 "Problem loading modules on Cray"
I'm not able to load modules from an upstream repository, but I think it is not related to the upstream configuration.

Given this output on my system:
[code]

And the script section that populates the `MODULEPATH` environment variable
https://github.com/spack/spack/blob/bb0667ceaf3311630e8e1fae024660e22b2749f7/share/spack/setup-env.sh#L333-L344

Talking with @alalazo about this (https://github.co

[2019-11-19 14:24] albestro commented on #13783
I've just found that PR #12734 is going to fix it in the "easy" way.

[2019-11-19 14:25] alalazo commented on #13785
@albestro Can you also describe how to reproduce your issue with a minimal example?

[2019-11-19 14:36] albestro commented on #13775
You pointed me in the right direction, I didn't know that I was able to customize the module name
[code]

Thank you for helping me!

[2019-11-19 15:02] albestro commented on #13785
Sorry, I didn't add it because I thought it was not so helpful in this specific case.

[code]

[2019-11-19 16:58] hartzell commented on #8815
All of this seems way too complicated.  Are there any actual packages, or potential refactorings/rewrites/cleanups that require it?

[2019-11-19 17:06] hartzell commented on #8815
I'm unclear on the need to recursively load anything, that seems like something that happens automagically.  I'm very rusty w/ Tcl modules though, so perhaps that's the missing link.

Lmod modules that "want" to autoload their dependencies contain code like `depends_on('a_dependency')`.  Those modules, if they're also configured to use autoloading, will in turn contain code like `depends_on('secon

[2019-11-19 17:12] hartzell commented on #8815
I don't see the usefulness of considering "link" dependencies with respect to using modules to set up the environment.

- "build" dependencies make sense, paralleling the `setup_build_environment` function.
- "run" dependencies make sense, paralleling  the `setup_run_environment` function.

Those two "times" seem to be able to handle everything.  Why should the module files be any different?

[2019-11-19 19:44] Paul-Ferrell opened #13788 "Patch naming conflicts"
When a package defines a set of patches, if the name of the patch file (the last element of the URL) is the same across multiple patches they will clobber each other when fetched.

I'm a bit surprised this hasn't been found before, as Spack downloads all patches if you mirror even a single version.

### Steps to reproduce the issue

[code]

[2019-11-19 20:27] scottwittenburg commented on #13115
@homerdin

[2019-11-19 20:42] mwkrentel opened #13792 "external perl from /usr breaks build dependencies"
One of my cron jobs tripped an alarm this morning.  I've tracked the
problem down to this commit.  (The date says Nov 4, but it was merged
yesterday, Nov 18).

[code]

I want to build libunwind version 2018.10.12.

[code]

This is on RedHat 7.7, x86_64.  gcc 5.3.0 is from a spack-built module
(/usr/bin/gcc is 4.8.5, hence the module).  This has all worked for
months.

Default config.yaml.  Package

[2019-11-19 21:50] ifelsefi commented on #13662
user error

[2019-11-19 21:50] #13662 closed

[2019-11-19 21:51] #8384 closed

[2019-11-19 21:51] ifelsefi commented on #8893
closing old issues

[2019-11-19 21:51] #8893 closed

[2019-11-19 21:51] ifelsefi commented on #9848
closing old issues

[2019-11-19 21:51] #9848 closed

[2019-11-19 23:07] scottwittenburg commented on #13115
@eugeneswalker

[2019-11-20 12:55] albestro commented on #13785
Ok, I have additional evidences that may help.

### PizDaint

#### Login Node Type 1 (Haswell CPU)
frontend: `haswell`
backends: [`haswell`, `broadwell`]

[code]

#### Login Node Type 2 (Broadwell CPU)
frontend: `broadwell`
backends: [`haswell`, `broadwell`]

[code]

### Tave
frontend: `sandybridge`
backend: `mic_knl`

[code]

From these examples, especially from the last one, it is clear how `spa

[2019-11-20 13:01] ifelsefi commented on #12915
Hi

I am having this problem.  I am on a `cascadelake` server and that isn't found in `MODULEPATH.`  I a sourcing `setup-env.sh`

[code]

Not present in MODULEPATH:

[code]

As you can see I have compiled several packages already for this architecture:

[code]

When I try to load:

[code]

So it seems this isn't fixed somehow?

[2019-11-20 13:11] alalazo commented on #12915
@ifelsefi In my opinion this is another issue due to the fact that Spack detects your system in the wrong way (`skylake_avx512` instead of `cascadelake`). From that it follows all the rest since we add to the `MODULEPATH` only the architectures that are compatible with the detected host.

Can you open a new issue to track this (a copy-paste of the comment will do) and submit an excerpt of your `/p

[2019-11-20 13:15] ifelsefi commented on #12915
Sure, no problem and thank you @alalazo

[2019-11-20 13:20] ifelsefi opened #13803 "cascadelake detected as skylake_avx512"
Hi

Referenced at end of #12915 my cascadelake CPU seems to be detected by `spack arch` as skylake_avx512.

[code]

The CPU:

[code]

Using latest code:

[code]

Did not change anything in configuration except compilers:

[code]

As you can see this is cascadelake per avx512_vnni.

Thank you!

[2019-11-20 13:24] alalazo commented on #12915
Thank you @ifelsefi !

[2019-11-20 18:09] alalazo commented on #13803
@ifelsefi I'll try to have a look at this tomorrow. Can you please extend the snippet of `/proc/cpuinfo` up to `processor: 1`?

[2019-11-20 19:33] mwkrentel commented on #13792
@tgamblin  @becker33

I looked a little deeper into this.  It's mostly just a problem with
perl.  Something from the 99dfff44 commit is putting the path to perl
at the FRONT of PATH.

So, whenever you have a perl dependency with `packages.yaml`
specifying perl from /usr/bin, this will pretty much break all build
dependencies.  With /usr/bin at the front of PATH, this will cover up
the spack-built

[2019-11-21 00:02] scheibelp commented on #13611
Fixed by #13789

[2019-11-21 00:02] #13611 closed

[2019-11-21 06:53] albestro commented on #13785
Just for completeness:

I didn't mentioned that for producing this example, I created a brand new isolated instance of Spack, so it is valid also as a proof that it is not related to Spack instances chaining (it is also clear from the last outputs I reported about architectures).

[2019-11-21 16:10] #11670 closed

[2019-11-21 16:14] weijianwen commented on #11249
Seems this issue has been updated by #11296 . I'll close this issue and please feel free to reopen it if necessary.

[2019-11-21 16:14] #11249 closed

[2019-11-21 16:27] weijianwen commented on #10641
I cannot reproduce this issue on latest Spack. I close this issue since it has been inactive for long. Feel free to reopen it if necessary.

[2019-11-21 16:27] #10641 closed

[2019-11-21 16:35] alalazo commented on #13803
@ifelsefi Can you check if #13820 solves the detection issue also for you?

[2019-11-21 16:36] weijianwen commented on #10549
`spack install fontconfig %gcc@8.3.0` works in the latest Spack. Since this issue has been inactive for long, I am closing it. Feel free to reopen it if necessary.

[2019-11-21 16:36] #10549 closed

[2019-11-21 16:42] iarspider opened #13821 "Installation issue: py-torchvision"
### Steps to reproduce the issue

[code]

Tried also this:
[code]

### Platform and user environment

Please report your OS here:
[code]

- `packages.yaml` and `compilers.yaml`
https://gist.github.com/iarspider/7a9a7685e9c93fb214b608bb85bf9f19

### Additional information

[2019-11-21 17:37] ifelsefi commented on #13803
Sure

[code]

[2019-11-21 17:41] ifelsefi commented on #13803
Yep this fixes the issue.  Amazing the amount of work gone into Spack.

[2019-11-21 17:42] #13803 closed

[2019-11-21 17:55] obreitwi opened #13824 "Installing package (ack) modifies files in _source-cache"
On the latest commit (9a6a19d464f31d301fb333c5110042f9ead5d501), installing `ack` modifies its install file in the `_source-cache`.

## Steps to reproduce:

In a clean git repository:
[code]

I do not know if there are other packages where this is an issue. We use a static download cache for fresh spack installations and `ack` was the first package to suddenly fail  to install (after moving from [

[2019-11-21 18:19] ifelsefi commented on #13698
Never mind.  This can be done with a subshell and `spack arch -t`.

[2019-11-21 19:04] scottwittenburg commented on #13115
@wspear

[2019-11-21 20:51] mslacken commented on #9352
As we have tensorflow in openSUSE I just wanted to point you to the spec file we are using for that:
https://build.opensuse.org/package/show/science:machinelearning/tensorflow
There might be some tricks inside it, you can use in spack, too.

[2019-11-21 22:13] naromero77 commented on #11277
I would also be interested in such an option. For a large package, there may be different sets of tests that you would want for validating that the install is legit. Our tests suites provide various levels of coverage traded off with length to run the tests. For example, in QMCPACK we have unit, deterministic, short, and everything. Unit tests are the minimum bar for an install, deterministic is h

[2019-11-21 22:17] HGab commented on #10267
This can be fixed very elegantly using:

`install_missing_compilers: true`

in config.yaml

[2019-11-21 22:17] #10267 closed

[2019-11-21 22:27] scottwittenburg commented on #13115
@mamelara @jrood-nrel

[2019-11-21 22:28] scottwittenburg commented on #13115
See [fere](https://github.com/scottwittenburg/sc2019-tutorial-pipeline) for example

[2019-11-21 22:50] nazavode opened #13827 "cuda: how to add non x86_64 versions without breaking the whole world"
While trying to install `cuda@10.2.89` on `ppc64le` (not yet in spack, installer for the current `10.1` [is broken](https://devtalk.nvidia.com/default/topic/1063995/cuda-setup-and-installation/cuda-10-1-243-10-1-update-2-ppc64le-run-file-installation-issue/)), I stumbled upon the same issue we faced when dealing with another binary package in #11198: the current `cuda` package is implicitly `linux

[2019-11-21 22:58] adamjstewart commented on #11277
`spack configure` is now deprecated. The requested feature is now available through:
[code]

[2019-11-21 22:58] #11277 closed

[2019-11-21 23:06] adamjstewart commented on #13827
I would be fine with a change like this. See the `cudnn` package for another example where we do this. This is a perfectly fine workaround until we get better support for `when` parameters in the `version` directive. We should do the same thing for `jdk` so we can finally install Java on macOS.

[2019-11-21 23:08] adamjstewart commented on #13821
Duplicate of #4107, #7339, #7901, #8059, #8133, #9753, #11987

[2019-11-21 23:25] mwkrentel commented on #13827
Are the version numbers the same across platforms?  That is, is there
a 10.2.89 for x86_64 and 10.2.89 for ppc64le, etc?

Look at what I did for the hpcviewer package.  There, we have binary
files for x86_64, ppc64 and ppc64le.

One thing is: the `version()`, `variant()`, etc commands are all
executable.  So, you can use the python `platform.machine()` command
to decide what `version()` commands y

[2019-11-21 23:40] nazavode commented on #13827
Thanks for the hints folks. @mwkrentel while looking at your `hpcviewer` TIL that:

Never underestimate Python's (unwanted) design side effects I guess :)

@adamjstewart what do you think about something like `hpcviewer`? Do you think it could be valuable over the straightforward workaround we were considering?

[2019-11-21 23:59] mwkrentel commented on #13827
IMHO, yes, yes, yes!

AFAIK, the python `platform.machine()` is the closest workaround you
can do now until the spack `when()` is implemented.  Plus, it has the
advantage that the interface (version names) won't change when a
better solution comes along.

If you put `ppc64le` in the version name, then you force packages that
depend on cuda to do awkward things like:

[code]

[2019-11-22 00:07] adamjstewart commented on #13827
Yes, the `hpcviewer` example looks great! Feel free to update other packages like `cudnn` to use this syntax. There are some cases where we would need more detail than is available in `platform.machine`, but this is fine for these simple packages.

[2019-11-22 00:18] mwkrentel commented on #13792
Here's another example to illustrate the severity of the breakage.

I tried building mbedtls on RH 7.7.  Mbedtls is a small cmake package,
but it needs a cmake newer than the 2.8.12 that comes with RH 7.x.
(`package.py` says 2.6, but that's old and a separate issue.)
The build runs a couple of perl scripts, so it also depends on perl.

I use this for `packages.yaml`, perl from `/usr/bin` and a loc

[2019-11-22 02:57] junghans opened #13831 "votca-csg doesn't concertize"
[code]

Remove all version before 1.5.1 helps:
[code]

[2019-11-22 05:05] naromero77 opened #13833 "Support for multivalued testing and testing post install"
*Please add a concise summary of your suggestion here.*

There are two things that would be desirable to have in Spack:
1. Many packages have multiple sets of tests: unit tests, integration tests, etc. Currently, there is no way to pass an argument to check_install method to run a different test suite. In addition, it would also be desirable to keep record that the installation has passed for a pa

[2019-11-22 06:10] alalazo commented on #13827
@mwkrentel @adamjstewart In general, if you use `platform` you can't install for other targets than host - so I wouldn't consider it a good practice. If you are on an `x86_64` machine:
[code]
will still install software for `x86_64` despite the request for `power8`. This will prevent the use of the recipe where e.g. the front-end has a different architecture than the back-end. Or am I missing some

[2019-11-22 07:02] s-sajid-ali opened #13834 "Concretizer fails with unhelpful error message when a dag is given as dependency"
Trying to concretize `fftw+mpi ^/{mpich-dag}` fails with unhelpful error.

### Steps to reproduce the issue

[code]

### Error Message
[code]

However, everything works if I specify all the variants to the concretizer :
[code]

### Information on your system

 1. Platform :  `linux-rhel7-ivybridge`
 2. Custom slurm in `packages.yaml`

If this is a known issue, feel free to close it.

[2019-11-22 07:21] alalazo commented on #13834
I think the error is on your side. Also on the latest `develop` the error message seems to be improved with respect to what you report. Which version or commit hash of Spack are you using?

The problem should be solved if you remove the trailing `%gcc@8.3.0`. Since a spec specified by its hash is concrete it doesn't lack any information, including compiler. The trailing `%gcc@8.3.0` is then interp

[2019-11-22 07:42] s-sajid-ali commented on #13834
Thanks for the tip!

[2019-11-22 07:42] #13834 closed

[2019-11-22 16:11] ifelsefi opened #13842 "cannot proceed uninstalling specs with remaining dependents"
Just pulled the latest from `develop` and now I cannot remove packages anymore which have dependents.

[code]

[2019-11-22 16:15] alalazo commented on #13842
A few questions:

1. Are you working within an environment?
2. Can you show the output of `spack dependents -i /5aalmfg`?

[2019-11-22 16:25] ifelsefi commented on #13842
No environment.

Maybe this is related.  Trying to now add `hmmer` with previously installed OpenMPI.  But I get anon spec error.

[code]
Odd that we see `arch=linux-None-cascadelake`

[2019-11-22 16:27] alalazo commented on #13842
For the anonymous spec see https://github.com/spack/spack/issues/13834#issuecomment-557421679

[2019-11-22 16:30] ifelsefi commented on #13842
I forget that compiler is know thanks @alalazo!

Let me see if I can reproduce this uninstall issue.  I manually removed the previous specs and problem's gone for now.

[2019-11-22 16:39] ifelsefi commented on #13842
Ok issue present again

Trying to get `hmmer` going with previously-added MPI:

[code]

As you can see we are missing some dependencies that Spack did not add.  Though they are in fact present:

[code]

If I try to remove `libiconv`, which was recently installed as a dependency for `hmmer`, I get the uninstall issue:

[code]

Seems an issue with dependents:

[code]

[2019-11-22 16:58] ifelsefi commented on #13842
Another

Some recent things added to this target:

[code]

One more try:

[code]

[2019-11-22 17:18] mwkrentel commented on #13827
@alalazo Ok, fair enough.  The `platform.machine` solution won't work
for a cross compile.

So, what does work?  Fundamentally, you need to compute the url and
sha sum from the spack `target`.  Does spack have the machinery for
this?

AFAIK, the spack `target` is determined at concretization time and the
package class with `version` has to happen before that.  It's tempting
to want to make the tar

[2019-11-22 17:24] ifelsefi commented on #13842
Hmm

[code]

[2019-11-22 18:54] mclarsen opened #13846 "Circular dependency in libxml2 causes recursion error when global variant set"
Reproducer:

`spack spec hwloc ^libxml2+python` or replace `hwloc` with any other package that depends on `libxml2`

[code]
Core issue:
 `libxml2` depends on `python` which depends on `libxml2` through `gettext`.

@becker33

[2019-11-22 19:07] becker33 commented on #13846
Edited for a simpler reproducer.

[2019-11-22 19:08] hartzell commented on #13023
@alalazo -- sorry for the delay.  I *think* that this is a non-problem, as long as I/we stay in the world of "modern" Go modules.  They'll have a lock file (`go.sum`) that describes exactly the versions of things that they want, my job is to define either dependencies or resources for them.

Errrr, wait.  I see.  Spack can't have multiple versions of a package in the concretized DAG, can it?  Are

[2019-11-22 19:14] hartzell commented on #13023
FWIW, I believe that Rust also supports depending on multiple versions of a crate.

- [If only one version is a direct dependency](https://stackoverflow.com/questions/51714866/is-it-documented-that-cargo-can-download-and-bundle-multiple-versions-of-the-sam)

- or [via renaming](https://stackoverflow.com/questions/58739075/how-do-i-import-multiple-versions-of-the-same-crate)

[2019-11-22 19:24] hartzell commented on #13023
Just poked around a bit.  The current [go-md2man package](https://github.com/spack/spack/blob/develop/var/spack/repos/builtin/packages/go-md2man/package.py) uses the blackfriday markdown parser as [a resource](https://github.com/spack/spack/blob/develop/var/spack/repos/builtin/packages/go-md2man/package.py) but it doesn't appear in the dependency graph:

[code]

Go doesn't expect to find it's depe

[2019-11-22 19:31] hartzell commented on #13023
Just ran a quick test (installed go-md2man) and learned

- that resources are cached (e.g. this is the blackfriday resource: /Users/hartzell/tmp/spack/var/spack/cache/_source-cache/archive/62/626138a08abb8579474a555e9d45cb5260629a2c07e8834428620a650dc9f195.tar.gz )

- that go-md2man seems to have vendored it's blackfriday dependency and doesn't actually *need* the resource ("Someone should fix tha

[2019-11-23 23:09] adamjstewart commented on #13824
I'm not sure I understand. Since `perl` is currently a build/link dependency (it should actually be a build/run dependency), Spack will force you to reinstall `ack` whenever `perl` is reinstalled, correct? So it should be fine to hardcode the installation directory of `perl`, and is actually necessary if the system perl is inadequate.

[2019-11-24 03:04] adamjstewart opened #13868 "spack create/checksum: save to downloads cache"
`spack create` and `spack checksum` should save the tarballs they download to the downloads cache like `spack fetch` and `spack install` do.

### Rationale

I frequently run `spack checksum` to add new versions of a package. After that, I then run `spack patch` to make sure the patches are still valid, or `spack install` to actually install the package. This causes Spack to download the tarballs t

[2019-11-24 18:41] adamjstewart opened #13870 "Version concretization failing for virtual dependencies"
I'm working on updating the `bazel` package in #13813. `bazel` contains:
[code]
`jdk` contains:
[code]
My `packages.yaml` contains:
[code]
However, `spack spec bazel` and `spack install bazel` happily use JDK 12.0.1_12, even though it doesn't provide `java@8`.

[2019-11-24 18:46] adamjstewart commented on #13870
The `provides('java')` in `jdk` turns out to be the culprit. If I comment it out, `spack spec` behaves as expected. Why would `provides('java')` imply `provides('java@8')`? @tgamblin

[2019-11-24 23:31] obreitwi commented on #13824
Yes, hardcoding the path to the perl binary in the ack install directory (under `opt/spack/…`) is totally fine and expected.

The error here is that the perl path gets hardcoded into the file residing in the download cache (under `var/cache/…`) because the script in question gets modified before it is installed (i.e. copied) to the install directory. This causes a possible next install (with anoth

[2019-11-24 23:33] #13824 closed

[2019-11-25 17:59] #11850 closed

[2019-11-25 17:59] #12398 closed

[2019-11-25 20:38] citibeth opened #13890 "Eigen project is moving"
The Eigen project is moving from Bitbucket to GitLab, and its Spack recipe will have to be updated accordingly.  See announcement below.

[2019-11-25 20:51] mrzv opened #13892 "Load highest available version"
It would be convenient to be able to load the highest available version of the package. E.g., if I have multiple versions of MPICH installed (for testing against older version), and I don't want to remember or lookup, which is the latest one, to just use it for a project, it would be nice to just say `spack load mpich@MAX`, or something equivalent, and load the latest version.

Alternatively, mayb

[2019-11-25 22:57] adamjstewart commented on #13892
I agree, this is also how `module load` works.

[2019-11-26 01:06] ax3l opened #13894 "Spack Environment: Package Merge Blocked"
I tried to set up an environment. It did not work.

### Steps to reproduce the issue

[code]

### Error Message

[code]

### Information on your system

- Ubuntu 18.04.3 LTS
- Spack: 9c10b80591fec2cf391c97f8f53040c3429dbdec
- `cat .spack/linux/packages.yaml`
[code]

[2019-11-26 01:23] ax3l commented on #13894
Setting the default `fortran` variant in `sz` to `True` fixes the issue:
[code]

[2019-11-26 02:02] akkbook opened #13895 ""Installation issue: STAT""
==========
OS : Cent OS 7.3  Linux version 3.10.0-514.el7.x86_64 (gcc version 4.8.5 20150623 (Red Hat 4.8.5-11) (GCC) )
Version : spack-0.11.2

$ spack spec stat
==========
$spack install stat

Q1
==> No patches needed for dyninst
==> Building dyninst [Package]
==> Executing phase: 'install'
==> Error: ProcessError: Command exited with status 2:
    'make' '-j32'

2 errors found in build log:

[2019-11-26 03:13] certik opened #13896 "The eospac package fails to download"
The `eospac` package fails to download. The [url](http://laws-green.lanl.gov/projects/data/eos/get_file.php?package=eospac&filename=eospac_v6.4.0_612ea8c9b8ffa6d9175d9118955571d9107f1e3c.tgz) from the [package](https://github.com/spack/spack/blob/c171ff633523c97045ffcbf6115683f240db48e0/var/spack/repos/builtin/packages/eospac/package.py) points to a url that does not actually work outside of LANL:

[2019-11-26 04:20] junghans commented on #13896
It worked at some point earlier this year! It just seems the green server is down.

[2019-11-26 04:31] certik commented on #13896
@junghans has this ever worked outside of LANL?

[2019-11-26 05:07] junghans commented on #13896
It did!

[2019-11-26 05:42] certik commented on #13896
Ok, great. In that case it can stay in Spack, it just needs to be made to work again.

[2019-11-26 08:50] LudovicEnault opened #13899 "CUDA package details based on architecture"
Hi There,
The current cuda package.py is written only for x86_64 architecture. I would like to add ppc64le, however, there is currently no switch based on the architecture.
What is the best way to differentiate "version" based on the architecture ?
[code]

In addition, the checksum used is sha256sum in the existing file, while the list provided by nvidia is md5sum. With md5sum, people could just c

[2019-11-26 09:29] alalazo commented on #13899
Duplicate of #13827

[2019-11-26 09:38] LudovicEnault commented on #13899
Sorry, closing.

[2019-11-26 09:38] #13899 closed

[2019-11-26 12:31] #13895 closed

[2019-11-26 12:36] #12883 closed

[2019-11-26 14:23] albestro commented on #5114
The same problem is still there, I'm using the `develop` branch on PizDaint (Cray CNL7 UP01).

[2019-11-26 15:49] phxyz12 opened #13900 "racon: wrong path generated in install phase"
Hi

I tired to install package racon but is fails in the install phase. Spack comlains about a non-existing file/folder on a path that has been generated wrong - most likely by Spack itself.

### Steps to reproduce the issue

[code]

### Error Message

[code]
As you an see, in the error line there is a constructed path including this part:

/spack-src/spack-build/

This does not exist, the two fol

[2019-11-26 15:53] KineticTheory commented on #13896
The link is working for me this morning.  If this is still failing for you, please check your `https_proxy` settings.

[2019-11-26 16:55] ifelsefi commented on #13842
OK I did `spack uninstall -a arch=cascadelake` and now this problem no longer present after pulling the code that detects cascadelake architecture properly.  Before I was doing `module use` to get that target working.  Perhaps that had a negative impact.

[2019-11-26 16:55] #13842 closed

[2019-11-26 18:20] adrienbernede commented on #13115
@scottwittenburg Thank you for this useful feature. This comment aims at providing some feedback upon the expected usage in LLNL/Radiuss case, as well as what I think is currently missing.

As stated before, this features makes spack pipelines "environment focused", as opposed to "spack repo focused".
For me, it means I can have a project embedding some spack environments (for development or testi

[2019-11-26 18:56] citibeth opened #13902 "Spack-Built Python Lacks SSL Support"
@adamjstewart

The following program raises an exception when run with Spack-built Python 3.5; but not with the System Python.
[code]

This seems to be related to #10335, in which it was claimed:

However... it looks to me like Python needs OpenSSL for ALL versions, not just `@3.7:`.  Any thoughts on how to resolve this?

Here's a bit more on the issue in general:
https://joshspicer.com/python37-s

[2019-11-26 18:59] adamjstewart commented on #13902
Spack's Python package _does_ depend on OpenSSL for all versions. Do you have OpenSSL listed in your `packages.yaml` as an external package? I don't think macOS comes with OpenSSL, only LibreSSL, which hasn't been tested with our Python package.

[2019-11-26 19:02] adamjstewart commented on #13902
Could be related to https://bugs.python.org/issue34028, but I'd need to see your build log.

[2019-11-26 19:07] citibeth commented on #13902
See attached build log and spec.yaml.  Looks like OpenSSL is being included as a dependency.  The mystery deepens... I'm building on CentOS 7.

[spec.yaml.txt](https://github.com/spack/spack/files/3893581/spec.yaml.txt)
[build.out.txt](https://github.com/spack/spack/files/3893585/build.out.txt)

[2019-11-26 19:08] citibeth commented on #13902
Yes could be.  I see lots of X509 errors in build.out.txt.

On Tue, Nov 26, 2019 at 2:02 PM Adam J. Stewart <notifications@github.com>
wrote:

[2019-11-26 19:19] scottwittenburg commented on #13115
Thanks for providing some feedback @adrienbernede.

Regarding external packages, this is definitely planned, but just not implemented yet.  In theory it shouldn't be too hard, we'll just skip creating build jobs for those packages, and when the build jobs are run within the environment, the externals should just be found automatically (I think).  If we don't encounter unforeseen obstacles, this sh

[2019-11-26 20:19] adamjstewart commented on #13902
Yeah, I don't see anything wrong with the Spack package, I think there must be a bug in CPython. I would try filing a bug report there. Are you able to reproduce the problem with Python 3.6 or 3.7?

[2019-11-26 20:24] #13757 closed

[2019-11-26 20:28] rajeeja commented on #13555
Assume visit in my PATH and I have python3 system installed as default. Let me know how to specify python correctly?
[code]

[code]
visit depends on 2.7.6.

[2019-11-26 20:34] adrienbernede commented on #13115
@scottwittenburg

I’m not sure if this should be made generic from the very beginning, It’s interesting to see that we already have two different use cases, and I think we could address both relatively easily.
My idea was simply to add
`  depends: .spack_pipeline_job` to each job and `includes: spack_pipeline_config.yml` to the pipeline file. This would allow @eugeneswalker and me to provide our o

[2019-11-26 20:44] scottwittenburg commented on #13115
Yes, the `before_script` is a good example.  Since we know the pipeline may generate some steps there, should we assume they can all be done before our steps and thus put ours at the end of the list?  I could imagine a user wanting to completely override that section in their template.

I should point out that you already have the ability to add your own custom variables by placing them in the spa

[2019-11-26 21:51] phxyz12 commented on #13900
Update: Found the part that causes the problem. Might not be a bug:

The racon package.py file contains a def install(self, spec, prefix) section. In here, there are two calls to install_tree():
[code]
The first parameter in these calls is evaluated in copy_tree in filesystems.py. The conversion to an absolute path in there results in the variable abs_src. This variable then holds the wrong path d

[2019-11-26 22:10] sethrj commented on #13555
I would guess that visit will only work once `sh python` evaluates to a 2.x version. It looks like you've directed Spack to use the system installations of Python, which probably breaks a number of assumptions spack makes. It's *rarely* if ever a good idea to make external spack packages that point at system installations. I recommend removing all the `buildable=False` and external paths from your

[2019-11-26 22:41] scheibelp commented on #13831
There appears to be some issue with including a `x.y` and an `x.y.z` version (e.g. `1.5` and `1.5.1`). For example removing `1.5` and `1.4` also works. I'm looking into why this is the case.

[2019-11-26 23:02] scheibelp commented on #13831
The concretizer is getting confused about the `1.5` and `1.5.1` `when` specs: if we specifically want `votca-csg@1.5` for example, then the `depends_on` for `votca-tools@1.5` and `votca-tools@1.5.1` are both satisfied because `1.5` is considered to satisfy those requests. We can get around this by replacing a constraint like:

[code]

with

[code]

[2019-11-26 23:04] scheibelp commented on #13831
I'm removing the "concretization" tag because IMO this is best fixed by adjusting the constraints in the `votca-csg` package. If you agree, would you be inclined to submit a PR updating those constraints?

[2019-11-27 00:54] junghans commented on #13831
Sound ok to me, will do!

[2019-11-27 01:41] aweits commented on #13597
Just ran into this issue without the complication of the environment activation. Renamed package is installed, but just won't load (find works). This alleviates the issue.

[code]

[2019-11-27 02:18] scheibelp commented on #13722
https://github.com/spack/spack/pull/13789 (which is now part of develop) will address the issue where this error terminates the whole process of mirroring.

However, I can replicate the issue where Spack attempts to download a version of `serac-devtools` (in the current develop branch this means that an error message is printed but Spack continues to download the dependency packages).

[2019-11-27 03:47] #13831 closed

[2019-11-27 05:08] mwkrentel commented on #13792
@scheibelp I saw your fix for this in #13903.  Thanks!

But I was a little concerned at the label 'impact-low'.  That comes
across like spack doesn't really want to support the case of using
perl from /usr/bin and instead you want everyone to rebuild perl,
whether they need it or not.  Is that correct?

For my use case (hpctoolkit), perl is just a build tool, we don't use
it at run time, /usr/bin/

[2019-11-27 12:23] alalazo commented on #13827
Not right now. What could be worth trying (I'll look into that) is extending the version directive. At concretization time Spack needs to know:
1. Which target you want to compile for
2. That a given version exists

It doesn't need to know that the version that has been selected is mapped to a `url`+`sha256` - that information is used later when Spack fetches the package.

I understand that what y

[2019-11-27 15:02] HGab commented on #13502
Same issue:
``
/include/netcdf_par.h:17:23: fatal error: ncexternl.h: No such file or directory
``
While building petsc with trilinos

[2019-11-27 17:50] adrienbernede commented on #10550
@scheibelp What is preventing this issue to be closed? It seems it was solved by #11602, wasn’t it?

[2019-11-27 18:01] calewis opened #13917 "Spack installed compiler gets found in the wrong folder"
I installed gcc 9.2.0 with spack and it added it as a compiler, but it found it in the wrong folder, making it unusable for subsequent builds. The compiler was installed in spack/opt/spack/linux-ubuntu16.04-broadwell/... but was found in spack/opt/spack/linux-ubuntu16.04-x86_64/...

### Steps to reproduce the issue

[code]

### Information on your system

Ubuntu 16.04 using the default system comp

[2019-11-27 19:10] scheibelp commented on #10550
Hi @adrienbernede yes this issue is now fixed - thanks for pointing that out!

The issue was that I created two PRs for this: the first one (which explicitly claimed to close this) was closed rather than merged; the second one (#11602) did not explicitly claim to fix this (although that's what it does), so when it was merged this issue was not automatically closed by github.

[2019-11-27 19:10] #10550 closed

[2019-11-27 19:31] chuckatkins commented on #13659
I'm not able to reproduce this in my local centos environment.  Just to validate the compiler information, what do you get when running:
[code]

[2019-11-27 21:18] adrienbernede commented on #10550
Greg pointed this issue to me, and I had to follow the same strange path to realize it was solved.
Glad I could help.

[2019-11-27 21:45] #13827 closed

[2019-11-28 01:29] shahzebsiddiqui opened #13923 "spack GOVERNANCE model missing"
@tgamblin  As spack community grows you may want to think of a Governance model. See https://opensource.guide/leadership-and-governance/

I am guessing Spack is using a BFDL model and you are the BFDL. If so there is a template you can see at http://oss-watch.ac.uk/resources/benevolentdictatorgovernancemodel

Here is an example of a ``GOVERNANCE.md`` file from node https://github.com/nodejs/node/b

[2019-11-28 06:40] weijianwen commented on #13659
@chuckatkins Sure.

[code]

and,

[code]

[2019-11-28 07:23] adamjstewart opened #13926 "How best to handle setting build and run environment variables"
While working on #13924, I had some thoughts I wanted to share.

### Description

Previously, we used the following API to control environment variables in Spack:
[code]
This had a lot of problems, namely that certain files/directories are only present after installation, so we can't run the same function both before and after installation. Now, we use the following API:
[code]
This fixes the prev

[2019-11-28 07:32] adamjstewart commented on #13926
To elaborate further on this, I think there are really only 2 types of environment variables, ones needed to _build_ a package and ones needed to _run_ a package. In my mind, the only point of the `setup_dependent_*_environment` functions was so that we didn't have to write:
[code]
in every single Python package. But if we subsume this into the `PythonPackage` base class, this is no longer an issu

[2019-11-28 13:59] weijianwen commented on #13659
This issue has been resolved by updating spack and reinstalling `gcc@9.2.0 %gcc@4.8.5`. Now `spack install cmake %gcc@9.2.0` works well.

I'm closing this issue. Feel free to reopen it if necessary.

[2019-11-28 13:59] #13659 closed

[2019-11-28 14:32] nazavode opened #13930 "External perl breaks $PATH in build_env"
While trying to reinstall an environment that used to work before my last pull (to 008fe37941d2f2071f038c4bc6465d8f80267b57), packages started to break down with errors suggesting that system stuff was leaking into `build_env`, for example:

[code]

`git bisect` pointed me to 99dfff447509a68d672a82812e5abfbc463b6d26 (merged in #13578) that looks like the culprit: when a package being installed dep

[2019-11-28 17:42] adamjstewart commented on #13930
Can you see if this is fixed by #13903?

[2019-11-29 07:25] nazavode commented on #13930
@adamjstewart  yep, looks like it is working again, build environment's `$PATH` seems fine with that patch.

[2019-11-29 11:30] #13792 closed

[2019-11-29 11:30] #13930 closed

[2019-11-30 07:03] darmac opened #13937 "Installation issue: libev"
### Steps to reproduce the issue
spack install libev

[code]

[2019-11-30 19:55] hartzell opened #13940 "create (via find_versions_of_archive()) does wrong thing for Go projects on GitHub with GoPackage"
I'm working on a GoPackage build system (see #13023) in a Spack tree at commit `94c8bf032`.

**TL;DR**:

I'm coincidentally/unfortunately prototyping with projects (e.g. [lazygit](https://github.com/jesseduffield/lazygit), [lazydocker](https://github.com/jesseduffield/lazydocker)) that have uploaded a number of "assets" for a release (so many "releases/download" URLs are discovered), *but* for whi

[2019-11-30 20:05] hartzell commented on #13940
Ps.  It's worth noting that other Go projects (e.g. go-md2man) use archive links and do not upload the confounding binary assets:

[code]

[2019-12-01 18:45] amaji opened #13944 "Build issue with intel-mpi for cmake packages"
I have noticed that cmake packages like `gromacs +mpi` and `lammps +mpi` fails to build with intel-mpi and intel-parallel-studio. The error message is:
[code]
Error messages are similar for both gromacs and lammps and it goes away if I explicitly set the following in the package files
[code]

I am trying the following spec:
[code]

`intel@17.0.1` is provided by package `intel-parallel-studio@clust

[2019-12-02 00:54] mwkrentel commented on #8957
@tgamblin  @adamjstewart  @scheibelp

Would it be possible to prioritize this issue and at least fix some of
the more egregious cases?

I just fixed some patches for intel-tbb (#13932).  TBB has
multiple-length version numbers: 2018, 2018.1, 2019, 2019.1, etc.
There are patches that apply to :2019.4, 2019.5:, etc.

I try `spack install intel-tbb @2019`, but both of these are TRUE:

[code]

WTF!?

[2019-12-02 09:10] plasmas opened #13948 "Installation issue: gromacs (with intel-parallel-studio)"
When trying to install `gromacs@2019.5` with `intel-parallel-studio@cluster.2019.5`, Spack did not recognize that `intel-parallel-studio@cluster.2019.5` was already installed and tried to install `intel-parallel-studio` again.

---

### Steps to reproduce the issue

1. Confirm the installation of `intel-parallel-studio`
[code]
2. Install `gromacs` with the `intel-parallel-studio` found above:
[cod

[2019-12-02 09:48] healther commented on #8957
Every time I come back to this kind of issue I have the (somewhat crazy idea) of introducing special characters in the versioning scheme. This is not particularly well thought through, so if you see obvious holes in it tell me and we forget about it again.

What about introducing special characters in the version-scheme? What I would propose is that we have by default always a `major.minor.patch`

[2019-12-02 15:14] pat-s commented on #13072
With 71eaffa46b1a64249b410f5222b537b37ff4c032 the issue persists.

[2019-12-02 15:33] pat-s commented on #13072
Don't know what I changed right now but now it works.. 🙄

[2019-12-02 15:33] #13072 closed

[2019-12-02 17:47] hartzell opened #13953 "RFC: improvements for "resource" documentation"
I'm adding resources to packages in pursuit of a GoPackage class (#13023) and have found that the documentation isn't as useful as it could be.

I'd like to improve the situation, hopefully without falling too deeply into the rabbit hole.

- Here's the [Resources bit from the Packaging Guide](https://spack.readthedocs.io/en/latest/packaging_guide.html#resources-expanding-extra-tarballs).
- Here's

[2019-12-02 17:51] adamjstewart commented on #13953
Also see #3553 and all of the issues it links to. @scheibelp we really need better documentation of `resource`, even if we don't get the extra features that #3553 adds. I still don't know how to use `resource` after all these years...

[2019-12-02 19:15] scheibelp commented on #8957
@mwkrentel I think https://github.com/spack/spack/issues/8957#issuecomment-560183994 is a different issue:

* The original post here asks for `python@2.7` to be interpreted as `2.7:2.7.999` (approximately)
* You are asking that a patch when clause like `@2015` be interpreted as `@2015:2015` (I think - I'm inferring that from your post)

https://github.com/spack/spack/issues/13831#issuecomment-5588

[2019-12-02 19:19] adamjstewart commented on #8957
@scheibelp I think https://github.com/spack/spack/issues/8957#issuecomment-560183994 fits within the scope of this issue. I myself reported the same thing in https://github.com/spack/spack/issues/8957#issuecomment-493704796

This issue pertains to the numerous ways in which Spack handles shortened versions, usually inconsistently. This includes `patch`, `depends_on`, `when`, etc.

[2019-12-02 19:33] scheibelp commented on #8957
Thanks for pointing that out, I have edited https://github.com/spack/spack/issues/8957#issuecomment-560539408 to remove the suggestion to split this off.

That being said, regarding

https://github.com/spack/spack/issues/8957#issuecomment-560539408 (the part that is not crossed out) contains pointers to explanations of how to write `when` constraints that apply the patches for the appropriate spec

[2019-12-02 19:59] scheibelp commented on #8957
While the handling is inconsistent across *all* instances of specs (command line, `when` constraint, etc.) it is consistent with the following set of rules:

* if the spec is in a `when` constraint, it is interpreted broadly (for reasons mentioned in https://github.com/spack/spack/pull/13906#issuecomment-558919745)
* if the spec is anywhere else (command line, `depends_on`), then it is interpreted

[2019-12-02 20:16] scheibelp commented on #4154
This was fixed by https://github.com/spack/spack/pull/10433

[2019-12-02 20:16] #4154 closed

[2019-12-02 20:29] opadron commented on #12636
I've been hacking away at the docker containers and have learned more about the problem.

When installing a package using `spack install`

 1. The package being installed has some `target` (e.g.: `linux-centos7-x86_64`)
 1. The package being installed has some compiler spec (e.g.: `gcc@4.8.5`)
 1. The above two features are combined to identify a unique group of modulefiles (e.g.: `linux-centos7-x

[2019-12-02 20:31] mwkrentel commented on #8957
@tgamblin  @adamjstewart  @scheibelp  @becker33

Well, I **thought** about opening a new issue and pretending not to
remember this one, just to see if that would get more attention.  :-)
But clearly, Adam reported the same issue above.

And to be clear, this is not an issue of interpreting `2019` inside
`when()`.

I tried `spack install intel-tbb @2019` and the concretizer picks rev
exactly 2019,

[2019-12-02 21:00] ax3l opened #13955 "Extends Python with External Python"
My colleague @ldamorim and I are currently trying to install packages that declare `extends('python')` and use an external, macOS Catalina Python 3.7.3 in `package.yaml`.

Since this method tries to install into the python install directory, which in the case of a system-provided install does require root access and will fail. We wonder how workflows and good policies would look like for users tha

[2019-12-02 21:05] LDAmorim commented on #13955
Thanks for this issue @ax3l.
An option similar to pip's `--user` flag would work well I think.

I created and used a `etc/spack/packages.yaml` file with the content:
[code]

[2019-12-02 21:09] LDAmorim commented on #13738
The same issue is described as well as what me and @ax3l think could be done to fix it in: https://github.com/spack/spack/issues/13955

[2019-12-02 21:36] scheibelp commented on #8957
I was going to suggest creating a constraint like `2019.2:2019.99` (which I thought was analogous to the suggestion in https://github.com/spack/spack/issues/13831#issuecomment-558854712) but after trying that myself I see it doesn't work.

So the problem you are discussing is more than an inconsistency: it's a gap in the model's ability to properly specify constraints (so I think in fact https://g

[2019-12-02 21:36] adamjstewart commented on #13955
That's not exactly true. Extensions _allow_ you to symlink into the Python install directory using `spack activate`, but by default they install into their own install prefix. The issue here is that the `python` package has some extra logic to keep track of distutils vars that is run by `setup_dependent_package`. This logic tries to write a file to the Python install prefix, although it looks like

[2019-12-02 21:39] LDAmorim commented on #13955
When running:
[code]
with the line starting with `extends(python)` in `var/spack/repos/builtin/packages/openpmd-api/package.py` commented out and with clang set up with `~/.spack/darwin/compilers.yaml` including:
[code]
led to the same error (shown below), but from the other packages.

[code]

Installing it without `-python` allowed the successful installation of openPMD.

[2019-12-02 21:40] adamjstewart commented on #13738
I wonder if this is a bug with `setuptools`, as we are telling it exactly where we want to install it. Let me reach out to the setuptools developers.

[2019-12-02 21:45] adamjstewart commented on #13955
I think this problem is specific to setuptools, not a Spack problem. Let's see what the developers have to say.

[2019-12-02 22:00] LDAmorim commented on #13955
Thanks @adamjstewart.
Yes, also the error I encountered in `py-mpi4py` (https://github.com/spack/spack/issues/13738) was during the installation of `py-setuptools` (I will expand the error message there to make it clearer).
So lets see what they will say about how to fix it.

[2019-12-02 22:05] #13554 closed

[2019-12-02 22:22] tgamblin commented on #13398
Moving this to 0.14 and assigning to @becker33.  We need to fix this but it won't be in for 0.13.2.

[2019-12-02 22:26] tgamblin commented on #13361
Based on:

Closing this as I think it's complete, or the SNL folks have what they need.  Let us know if there are further issues.

[2019-12-02 22:26] #13361 closed

[2019-12-02 23:01] Char-Aznable opened #13958 "Installation issue: gcc@9.2.0 built using linuxbrew gcc"
---

### Steps to reproduce the issue

[code]

### Platform and user environment

Please report your OS here:
[code]
and, if relevant, post or attach:

- `packages.yaml`
- `compilers.yaml`

to the issue

### Additional information

Sometimes the issue benefits from additional details. In these cases there are
a few things we can suggest doing. First of all, you can post the full output of:
[code]

[2019-12-03 05:09] mwkrentel opened #13961 "variable length version numbers don't obey a linear order"
This is a spinoff of #8957.  But I think this is small and separate
and a clear bug.  I'm hoping this can be prioritized and fixed before
waiting for the full solution in #8957.

TBB has multiple-length version numbers: 2018, 2018.1, 2019, 2019.1,
etc.  There are patches that apply to :2019.4, 2019.5:, etc.

I tried `spack install intel-tbb @2019` and the concretizer picks rev
exactly 2019, not 20

[2019-12-03 05:58] mwkrentel commented on #8957
Ok, I spun off this last problem in #13961.  It's small, isolated and
hopefully can be fixed without needing the full solution for how to
treat shortened version numbers.

[2019-12-03 09:45] alalazo commented on #69
@tgamblin Is this (injecting options into `curl` from config) still something we want?

[2019-12-03 09:55] alalazo commented on #463
Looking again at this issue. It seems to me that here the `url` is used as in any other package. Also, the community seem to have developed other idioms around Github and Sourceforge. Closing this issue for now, but feel free to reopen if you disagree.

[2019-12-03 09:55] #463 closed

[2019-12-03 10:03] alalazo commented on #593
I think conflict messages improved a lot, so this issue can probably be closed:
[code]
A similar message is given if you have a variant conflict:
[code]

[2019-12-03 10:03] #593 closed

[2019-12-03 10:10] alalazo commented on #1155
Closing as stale for the last 3 years and a half. Feel free to reopen if there's desire to continue the discussion.

[2019-12-03 10:10] #1155 closed

[2019-12-03 10:21] alalazo commented on #1338
I think some of the points raised in the discussion above have been developed while working on other features (e.g. Spack environments are another layer on top of the store etc.). Other implementation details instead are now outdated. I'm closing this issue as it seems to have served its purposes, but feel free to open new ones if you think there are parts that have not been addressed and are stil

[2019-12-03 10:21] #1338 closed

[2019-12-03 10:39] alalazo commented on #1296
At the moment this issue seems to be advocating for a way to:
1. Specify an API for a virtual package
2. Check that the API is implemented if a package `provides` the virtual

While this makes absolute sense, it might be more work than it is worth in practice. I'll be closing this as stale, but feel free to reopen if you want to continue the discussion.

[2019-12-03 10:39] #1296 closed

[2019-12-03 10:51] alalazo commented on #1865
Is this still an issue?

[2019-12-03 10:54] alalazo commented on #2042
Closing:
[code]

[2019-12-03 10:54] #2042 closed

[2019-12-03 11:03] alalazo commented on #2199
I think this has been fixed in the meanwhile. Can you confirm @adamjstewart ?

[2019-12-03 12:20] sethrj opened #13963 "Inconsistency in environment defaults creates package conflicts in view"
By default, environments are created with `view: true`, generating a tree with all the combined packages. However, the default is *also* to concretize packages separately, potentially leading to multiple versions of the same package. Consequently, the default options will easily generate errors with very simple environments, depending on package defaults.

I believe the default should be to concre

[2019-12-03 12:43] citibeth commented on #2199
Yes fixed

On Tue, Dec 3, 2019 at 06:03 Massimiliano Culpo <notifications@github.com>
wrote:

[2019-12-03 12:58] #2199 closed

[2019-12-03 13:38] alalazo commented on #2318
I think this has been solved:
[code]

[2019-12-03 13:38] #2318 closed

[2019-12-03 13:42] alalazo commented on #2344
This seems to be solved:
[code]

[2019-12-03 13:42] #2344 closed

[2019-12-03 13:47] alalazo commented on #2374
I think order of include directories and similar semantic changed a few times since 2016. Closing as outdated.

[2019-12-03 13:47] #2374 closed

[2019-12-03 13:51] alalazo commented on #2383
Closing again since we had no other report (as far as I know) in more than a year.

[2019-12-03 13:51] #2383 closed

[2019-12-03 13:54] alalazo commented on #2276
Apparently this has been fixed:
[code]

[2019-12-03 13:54] #2276 closed

[2019-12-03 13:57] alalazo commented on #2432
Closing as it's a while we have CDash support in Spack.

[2019-12-03 13:57] #2432 closed

[2019-12-03 14:22] alalazo commented on #2439
@hartzell I'm trying to clean up the backlog of issues. Closing this one since you ended up adding the package :slightly_smiling_face: :
[code]
Feel free to reopen if I missed something.

[2019-12-03 14:22] #2439 closed

[2019-12-03 14:37] alalazo commented on #2495
Closing since the feature request that would solve this issue (circular dependencies in the DAG) is tracked in #2498

[2019-12-03 14:37] #2495 closed

[2019-12-03 14:48] alalazo commented on #2648
Closing as almost a duplicate of #2489. Will put a note there to refer to this issue too.

[2019-12-03 14:48] #2648 closed

[2019-12-03 14:49] alalazo commented on #2489
See #2648 for a particular case related to this that should be better documented.

[2019-12-03 14:53] alalazo commented on #3115
Closing as stale for more than 2 years. Feel free to reopen if still an issue.

[2019-12-03 14:53] #3115 closed

[2019-12-03 14:55] alalazo commented on #3116
There's since a couple of months an entire [section of our tutorial](https://spack-tutorial.readthedocs.io/en/latest/tutorial_developer_workflows.html) that shows how to use `spack dev-build` previously known as `spack diy`.

[2019-12-03 14:55] #3116 closed

[2019-12-03 15:02] alalazo commented on #3124
Closing as I think this can nowadays be solved by either specifying variants in `packages.yaml` or customizing flags in `compilers.yaml`. Feel free to reopen if there's some point people think it has not been addressed.

[2019-12-03 15:02] #3124 closed

[2019-12-03 15:06] alalazo commented on #3295
I think both module files and environments are treated extensively in the docs. Closing this issue, feel free to reopen if you think something is still missing.

[2019-12-03 15:06] #3295 closed

[2019-12-03 15:09] alalazo commented on #3690
@adamjstewart Do you have a reproducer for this regression? I'd like to get rid of this asap.

[2019-12-03 15:12] alalazo commented on #3919
Closing this since #3206 has been merged.

[2019-12-03 15:12] #3919 closed

[2019-12-03 16:19] adamjstewart commented on #3690
I wish, I’ve never managed to find a reproducer for this issue.

[2019-12-03 18:04] garvct opened #13968 "How to support a new external MPI library (e.g hpcx)?"
How do I add an external MPI library (e.g hpcx) to the list of MPI providers?

I tried adding it to the packages.yaml file.

packages:
    hpcx:
    modules:
       hpcx@2.5.0%gcc@9.2.0: mpi/hpcx-v2.5.0
    buildable: False
providers:
         mpi: [openmpi, mpich, mvapich2,hpcx]

but
spack providers mpi

does not list hpcx

and when I attempt to build osu-micro-benchmarks with hpcx, it appears it

[2019-12-03 18:05] garvct commented on #13968
I am using spack 0.13.1

[2019-12-03 18:50] garvct commented on #13968
It looks like I needed to create a hpcx package.py (even though I am not building it)?

[2019-12-03 18:55] garvct commented on #13968
It looks like I need to create a package.py for hpcx (even though I am not building it (using external mpi))?

[2019-12-03 18:59] nazavode opened #13969 "cuda: g++ finds C++ std headers shipped by cuda sdk instead of its own libstdc++"
While trying to build *standard C++ sources (no device code)* with Spack's own `g++` wrapper from within a package's `build-env` that depends on `cuda`, C++ standard headers (e.g.: `vector`) vendored by the `cuda` SDK are found by `g++` before its own `libstdc++`, breaking any trivial compilation that involves C++ standard headers.

### Steps to reproduce the issue

Any package depending on `cuda`

[2019-12-03 23:11] glennpj opened #13970 "Intel compiler 19.0.5 package installs entire suite"
The `intel` package uses the `parallel_studio` suite tarball as the source. The `intel` package is supposed to just install the compiler components. While there is a known issue with IMPI always getting installed, the 19.0.5 version actually installs the entire suite.

[code]
That includes everything, daal, mkl, mpi, even python. Compare that to the previous 19.0.4 version.
[code]
I have not looke

[2019-12-03 23:28] nazavode commented on #13969
In the meantime, `git bisect` pointed me to 9c10b80591fec2cf391c97f8f53040c3429dbdec (merged in #13819) that looks like the culprit.

[2019-12-04 00:13] adrienbernede opened #13971 "spack find options in environment context"
Some `spack find` options does not work in environment context (didn’t test all options).

### Steps to reproduce the issue

[code]

### Error Message

spack -d find -p
[code]

spack -d find -L
[code]

### Information on your system

This includes:

Latest develop, on MacOs and Linux cluster

-----

Thank

[2019-12-04 00:34] hartzell opened #13973 "Add new package directive to support packages with 100's of resources"
**TL;DR**:  Looking for feedback on whether it's worth investing more work on a new package directive that would avoid having 1000's of lines in the package definitions for Go applications.

---

I'm improving our support for Go packages (#13023) and it looks like Go packages could easily need to define 100's of resources.  Describing them with  with `resource()` statements is gross.

I'd like to

[2019-12-04 01:15] ax3l commented on #13969
Lol, I'll have to write invoices to Nvidia if I become the Spack CUDA guy ;)

Joking aside, thank you for reporting. CUDA 10.2 introduced libcu++ which tries to provide more and more stdlib functionality for the device over the next releases.

As you already found correctly, the implementation details of `include/cuda/std/detail/libcxx/include` should definitely *not* be part of the public include

[2019-12-04 11:16] nazavode commented on #13969
@ax3l thanks for looking into this. I tried to check what [this call](https://github.com/spack/spack/blob/ba87a7f53a4bc57446295833cb0f71e978ccb9fc/var/spack/repos/builtin/packages/cuda/package.py#L108-L109) scrapes out of `cuda` prefix and it looks like it is interested only in libraries:

[code]

It looks like there is some other component that is doing the same scraping but for headers...

[2019-12-04 14:07] nazavode commented on #13971
Looks like this is related to #9875

[2019-12-04 16:45] a-jp commented on #13890
I am a new user.  I am now encountering this issue as Spack cannot pull from bitbucket as per:

[code]

I have downloaded the tar.bz2 from the GitHub mirror.  Can I ask, how do I issue a spack install command point to a local tar file?
Thanks,
Andy

[2019-12-04 17:03] ax3l commented on #13969
Ok, let me quick-fix this by keeping 10.1 the default version.

[2019-12-04 17:47] chuckatkins commented on #13944
What version or hash of spack are you using?  I'm not able to reproduce the issue with current spack, even using the same versions of packages.

[2019-12-04 17:53] chuckatkins commented on #7322
Fixed in #5802 and #11432

[2019-12-04 17:53] #7322 closed

[2019-12-04 17:53] amaji commented on #13944
@chuckatkins I am using Spack 0.12.1

[2019-12-04 17:57] chuckatkins commented on #3296
Agreed.

[2019-12-04 17:57] #3296 closed

[2019-12-04 18:03] chuckatkins commented on #3011
Closing based on a wide array of more recent PR's addressing paraview, qt, and mesa.  To the best of my knowledge this is no longer an issue.  If it is then please let me know and I'm happy to re-open it.

[2019-12-04 18:03] #3011 closed

[2019-12-04 18:22] chuckatkins commented on #4444
No longer applicable after the overhaul and re-work of mesa

[2019-12-04 18:22] #4444 closed

[2019-12-04 18:35] EthanS94 opened #13984 "ParaView Intel/18.0.2 and freetype incompatible"
@chuckatkins @danlipsa

### Steps to reproduce the issue

[code]

### Platform and user environment

[code]

### Commit I'm on:
[code]

### Configs

- [packages.yaml.txt](https://github.com/spack/spack/files/3923385/packages.yaml.txt)
- [compilers.yaml.txt](https://github.com/spack/spack/files/3923387/compilers.yaml.txt)

### Additional information

[code]

[2019-12-04 19:41] EthanS94 opened #13985 "No way to build ParaView with python/3.4.x?"
@chuckatkins @danlipsa

### Steps to reproduce the issue

[code]

### Platform and user environment

Please report your OS here:
[code]

Can the package.py file be changed to allow building paraview with python 3.4? I believe the latest matplotlib version supported with python 3.4 is 2.2.4...

[2019-12-04 20:55] ian-bertolacci commented on #5124
Stale issue.

[2019-12-04 20:55] #5124 closed

[2019-12-04 21:36] scheibelp commented on #12667
Apologies for taking so long to get back to this, and thanks for the detailed output.

Short version: can you start a (non-Spack) Python shell and post the output of

[code]

And as a sanity check can you also post what Spack commit you are using?

In more detail:

Your listing of the stages is useful.

[code]

For some reason, multiple URL patches are being stored in the same directory; the patch

[2019-12-04 22:45] adrienbernede commented on #13971
@nazavode you are right!
I looked for an existing issue with "spack" "find" and "environment" keywords.
However the search engine defaults to "most recent" sorting, and I couldn’t find the "relevance" sorting. Any suggestion?

[2019-12-04 22:48] adrienbernede commented on #13971
sort:relevance seems to work, but is not in the list.

[2019-12-05 01:50] ax3l commented on #13969
Hm, for some reason the `pkg.spec["cuda@10.2.89%gcc@8.3.0 arch=linux-ubuntu18.04-skylake"].headers.directories` in `src/spack/lib/spack/spack/build_environment.py` during `set_build_environment_variables` includes these includes...

[2019-12-05 02:49] scheibelp commented on #13961
It turns out this is primarily a problem for patches: their checks during concretization were not strict enough. This should be addressed by #13989

[2019-12-05 02:49] citibeth commented on #13890
Can you update to the new URL in the `package.py` file, test that it works for you, and submit it as a PR?  That would be super!

Note the following additional news just came through on the Eigen email list:
[code]

[2019-12-05 03:17] #13346 closed

[2019-12-05 06:20] mwkrentel commented on #13961
I agree, this is fixed in #13989.
Thanks!

[2019-12-05 08:19] nazavode commented on #13969
This is scary. This means that any random `config.h` or similar stuff arbitrarily deep in *private* include directories is going to fight for the same inclusion directive (unless the inclusions are prefixed with some path component) :cry:

@ax3l thanks for thinking about viable fixes, in my (poor) understanding of Spack internals the current situation is a recipe for breaking random builds.

This

[2019-12-05 08:20] plasmas opened #13995 "Installation issue: OpenFOAM (v1712)/OpenFOAM-org: Missing Binaries/Libraries"
When building the OpenFOAM 1712 version, additional binaries and libraries should be produced and installed in `platforms/linux64GccDPInt32RpathOpt/bin` and `platforms/linux64GccDPInt32RpathOpt/lib`. However, most binaries and libraries are missing when installing with Spack.

Note: this issue does **NOT** occur when installing the new OpenFOAM@**1906**(`openfoam@1906~float32~int64~kahip~knl~metis

[2019-12-05 08:43] nazavode commented on #13971
Agree that it doesn't work smoothly at all, I gave up trying to make sense out of the issue *auto* search engine results... :cry:

[2019-12-05 10:19] a-jp commented on #13890
The fact they have re-opened fixed that problem.  I can confirm it also bust CANTERA as that has Eigen as a dependancy.  I'm about 36 hours new to spack, happy to help, where is that package.py downloaded onto my machine?  Is it only downloaded once I issue `spack install eigen` or is it always there?

[2019-12-05 11:49] alalazo commented on #1850
Closing as stale.

[2019-12-05 11:49] #1850 closed

[2019-12-05 12:03] alalazo commented on #2752
Seems to work as of now:
[code]
Feel free to reopen with more details to reproduce if the issue persists for you.

[2019-12-05 12:03] #2752 closed

[2019-12-05 13:37] chissg commented on #13785
@scheibelp Is this something Spack Chains would help with?

[2019-12-05 14:23] albestro commented on #13785
@chissg I don't know if you are talking about chaining spack instances. I just want to point out that, as shown with the basic example, it is not related to the upstream/chaining thing.

If someone can point me in the right direction, I can work to try fixing this. 😉

[2019-12-05 14:33] ChristianTackeGSI commented on #12228
Hi,

I can confirm
* the problem described
* the patch above fixes it.

We're affected by this issue. I am a Python developer and want to help getting a fix into spack.

What can I do to help?

[2019-12-05 15:07] junghans commented on #13896
Also there are many packages in spack, which need to be fetched manually, so that should be a reason to remove the spackage.

[2019-12-05 15:17] chuckatkins commented on #13985
You can use an older version of matplotlib, `< 3`.  Looking at the package file for py-matplotlib it looks like `< 3` can use python 3.4.  I think the version constraint on `py-matplotlib>=3` was put in to make the spack concretizer happy, but it's really an artificial dependency as paraview can use 2 or 3.  I'm walking through the dependency chain now though and it goes pretty deep with version c

[2019-12-05 15:36] chuckatkins commented on #13985
Okay, so with the addition of #13999 and #14000 you should be able to use the following spec:
[code]
The addition of `^py-numpy@1.15.4 ^py-matplotlib@2.2.3 ^py-pillow@5.4.1` is necessary to help the concretizer find the right dependency versions that are compatible with 3.4

[2019-12-05 15:38] chuckatkins commented on #13985
Note that I dropped the "build-error" label because the issue arrises in the package concretization and errors out well before anything tries to get built.

[2019-12-05 16:03] chuckatkins commented on #13984
@EthanS94 If you add `^freetype@2.7.1` to your spec then it should resolve to a compatible build.

[2019-12-05 16:30] #13896 closed

[2019-12-05 16:40] alalazo commented on #13984
@EthanS94 If you confirm you can build with the spec suggested by @chuckatkins I would close this issue, unless the intent of your report is to say that there should not be a conflict in `freetype`.

[2019-12-05 16:49] alalazo commented on #2573
This has been solved (now the command is called `dev-build`):
[code]

[2019-12-05 16:49] #2573 closed

[2019-12-05 16:54] alalazo commented on #2693
Just tried with the `packages.yaml` above and a similar one that matches the current variants, and can't reproduce. Feel free to reopen if this is still an issue for you.

[2019-12-05 16:54] #2693 closed

[2019-12-05 17:04] EthanS94 commented on #13984
Thanks. I'm trying that out now

[2019-12-05 17:04] alalazo commented on #2791
Closing as stale and maybe resolved by newer `hdf5`

[2019-12-05 17:04] #2791 closed

[2019-12-05 17:05] alalazo commented on #2791
@ax3l Feel free to reopen if you think it's still important.

[2019-12-05 17:06] alalazo commented on #2816
@mamelara Closing as stale, feel free to reopen if still an issue

[2019-12-05 17:06] #2816 closed

[2019-12-05 17:08] alalazo commented on #2842
This has been solved in the meanwhile:
[code]

[2019-12-05 17:08] #2842 closed

[2019-12-05 17:13] alalazo commented on #2981
Added support for this in #3057 Feel free to reopen if you feel something is still missing.

[2019-12-05 17:13] #2981 closed

[2019-12-05 17:16] alalazo commented on #2989
The variant has been added since a while.

[2019-12-05 17:16] #2989 closed

[2019-12-05 17:19] alalazo commented on #3036
Closing, as this issue seems outdated. Please reopen if you think this needs further effort.

[2019-12-05 17:19] #3036 closed

[2019-12-05 17:20] alalazo commented on #2992
The problem is reported to be solved in newer versions in #3683. Please reopen if this is still an issue.

[2019-12-05 17:20] #2992 closed

[2019-12-05 17:22] alalazo commented on #3145
Solved in #6415

[2019-12-05 17:22] #3145 closed

[2019-12-05 17:28] alalazo commented on #3354
@certik I think this is taken care of by Spack environments. In that case you have root specs in a manifest file `spack.yaml` and that's what gets built. Would that solve your issue?

[2019-12-05 17:29] alalazo commented on #3356
Closing as stale.

[2019-12-05 17:29] #3356 closed

[2019-12-05 17:32] alalazo commented on #3437
Closing as this renaming has been done. @mamelara Feel free to reopen if there's anything still to be addressed

[2019-12-05 17:32] #3437 closed

[2019-12-05 17:34] alalazo commented on #4062
@ax3l I suppose we can close this since we have Docker images on Dockerhub already, right?

[2019-12-05 17:34] certik commented on #3354
@alalazo I think so. I don't have time right now to test it, so I am going to close the issue and if there is any further problem, I can open a new one.

[2019-12-05 17:34] #3354 closed

[2019-12-05 18:18] scheibelp commented on #13785
I can look at this tomorrow (12/6)

[2019-12-05 18:44] chuckatkins commented on #13985
@EthanS94 both PRs have been merged to master now.  Please update and try it out to see if you can effectively resolve the spec with python 3.4.

[2019-12-05 20:19] EthanS94 commented on #13985
@chuckatkins I was able to resolve that spec. Thanks!

[2019-12-05 20:19] #13985 closed

[2019-12-05 21:05] EthanS94 commented on #13984
This worked. Thanks!

[2019-12-05 21:05] #13984 closed

[2019-12-05 23:11] ax3l commented on #2791
Thanks for cleaning this up.

[2019-12-06 00:48] #9352 closed

[2019-12-06 00:57] adamjstewart commented on #13995
@olesenm

[2019-12-06 01:20] hartzell commented on #13023
We need to get ready for a future in which GOPATH is not a thing:

[2019-12-06 01:36] hartzell commented on #13023
@alalazo (*et al.*) -- I'm digging into the issue of supporting multiple versions of a library.

One key bit about how modules-compliant Go supports multiple major versions of a library is by ensuring that *they have different names*.  Here's a bit of my "bulk import JSON" that describes a dependency (from `hugo`) that's imported in the application using the name `"github.com/tdewolff/minify/v2"`:

[2019-12-06 01:42] ax3l commented on #4062
Not sure, still think that bootstrapping into something like `/usr/local` would generally be cool.

[2019-12-06 02:22] robertdfrench commented on #1865
@alalazo I suspect this can be closed.

[2019-12-06 02:43] ax3l commented on #13969
That's just the quick-fix, we consider just adding `<prefix>/include/` as a breaking change and letting all packages that use non-unix default paths add those manually via the package's `headers` property.

[2019-12-06 03:25] gartung opened #14009 "spack test fails in test/stage.py"
Running spack test on SL7 fails in test/stage.py

### Steps to reproduce the issue

[code]

### Error Message
[code]

### Information on your system
[code]

[2019-12-06 04:38] gartung commented on #14009
Happens using the spack/ubuntu-xenial image too

[code]

[2019-12-06 04:54] ax3l opened #14011 "macOS: Spack Quickstart"
My colleague is a physicist and because they are living in CA, decided to get a Mac because that's hip and cool. Their colleague Axel told them Spack awesome, so they followed the [quickstart](https://spack.io/about/#install-spack) guide:

[code]

They did not succeed and now don't trust Axel anymore.

### Steps to reproduce the issue

Following the commands above, a typical Mac user, but also all

[2019-12-06 04:57] gartung commented on #14009
This appears to be a local account problem. On another SL7 machine I do not get this error.

[2019-12-06 04:57] #14009 closed

[2019-12-06 07:19] alalazo commented on #1865
Thanks @robertdfrench

[2019-12-06 07:19] #1865 closed

[2019-12-06 07:20] alalazo commented on #4062
Fair enough, thanks @ax3l

[2019-12-06 08:43] alalazo commented on #3164
Just tried it out on:
[code]
updating Python and gcc version numbers, and it seems to work at f84ad57fe7c907d8be90d4beaaba151926d74ec0. In particular I definitely see no hangs.

[2019-12-06 08:43] #3164 closed

[2019-12-06 10:35] alalazo commented on #3717
Closing as stale. Should be fixed by #3723

[2019-12-06 10:35] #3717 closed

[2019-12-06 15:15] weijianwen commented on #13948
`git bisect` shows that #13820 (Fixed detection for cascadelake microarchitecture) introduces this issue.

[code]

[2019-12-06 15:22] weijianwen commented on #13937
I think the correct URL should be http://dist.schmorp.de/libev/Attic/libev-4.24.tar.gz . Could you submit a PR to fix this issue?

[2019-12-06 16:28] glennpj commented on #13970
I did some investigating and everything as far as Spack is concerned looks correct. It does appear to be an issue with the Intel installer. When working outside of spack to install just the compilers I see the following.

#### Installing interactively and outputting the config information
[code]
When only setting compilers to be installed, tbb is also selected.
[code]
That leads to the following i

[2019-12-06 16:38] glennpj commented on #13970
There seems to be no relevant difference in the install script between 19.0.4 an 19.0.5.
[code]

[2019-12-06 17:50] mwkrentel commented on #13961
@scheibelp Could you reopen this issue for me?  I can't seem to find a
link to click on for that.

I found another case where the treatment of short version numbers is
broken.  `self.spec.satisfies('@...')`

Use the latest version of intel-tbb with your patch from #13989.
Patch `package.py` for two lines.  The `tbb_cmakeConfig.patch` and
`tbb_config_generator.cmake` should actually start at 2017.7

[2019-12-06 18:13] scheibelp commented on #13961
If you replace

[code]

with

[code]

does that resolve https://github.com/spack/spack/issues/13961#issuecomment-562672413?

[2019-12-06 18:38] alalazo commented on #4024
Reviewing all of the above discussion, this seems something we can now do with custom Github Actions

[2019-12-06 18:59] amaji commented on #13944
This may be related.
Intel modulefiles are even weirder. Seems like cluster.2017.1 module is MUCH smaller than all other versions (16/18/19). Here is a comparison of the modulefiles:
[code]
[code]

I'll try reinstalling cluster.2017.1 and see if the problem persists.

[2019-12-06 20:15] olesenm commented on #13995
Will also need time to investigate (busy time of year at the moment), but _none_ of the spack installations will use or require the ThirdParty package ever. Something is obviously going quite wrong with your build so you will need to look at the spack build log to see what it is.

One thing that does come to mind could be flex dependencies. Have seen this on some systems where the system flex is o

[2019-12-06 20:16] mwkrentel commented on #13961
Yes, with `strict=True` the test now evaluates the way I expect it
should, that is, 2017 does NOT satisfy `@2017.7:`

Is this something that you can fix globally, or do I need to use the
workaround everywhere we have shortened names?

At least I can get back to fixing intel-tbb.  There are several old
revs that don't build cleanly for reasons related to but not exactly
this issue.

Thanks!

[2019-12-06 20:28] olesenm commented on #13995
Ok, these were syntax or other errors which the compilers at that time didn't flag as an error. Remember fixing some of these in later versions. It could be that other versions are also partly affected (looks like the catch one got fixed on 23-Jan-2019).

[2019-12-06 20:29] #9875 closed

[2019-12-06 20:29] #13971 closed

[2019-12-06 22:09] scheibelp commented on #13961
It's possible we could provide a module function `satisfies` to the Package which is always strict, since I think that's what package writers generally intend. I'd have to review use of that function to make sure though. This would still require editing individual packages: `Spec.satisfies` will not likely change its API since for the concretizer at least there are uses for both `strict=False` and

[2019-12-06 22:43] mwkrentel commented on #13961
Yeah, I'm ok with that.  You can close this and open a docs issue.

As described in #8957, the whole issue of matching version ranges is
complicated.  This is not really covered in read-the-docs, so if you
want to write something, I'd suggest creating a whole subsection on
version matching that covers patch(), depends_on(), when, satisfies,
etc.

If you do that, ping me.  I'll want to make sure th

[2019-12-07 07:47] #13969 closed

[2019-12-07 07:50] ax3l opened #14019 "Rework Include Build Environment Logic"
Follow-up to #13969 and #13991

While taking care that some CPython-include requiring packages as noted [here](https://github.com/spack/spack/pull/13991#issuecomment-561949579) still work, we should generally simplify our `header` and include directory logic.

Let's just add by default `<prefix>/include` to the header directory list in packages. This is unix-wide default. Packages that are non-def

[2019-12-07 10:30] olesenm commented on #13995
For @tgamblin - this poses a good general question. How long should we reasonable keep up with older software versions? This one shows that we'd need to either add patches here, or repatch upstream and then either provide a patch (git diff) there or re-issue patched sources. But if we do the later, we'd want to tag them with the patch number and pull the originals.

Not sure where/when this will e

[2019-12-07 13:18] awacha opened #14020 "Installation issue: gromacs"
### Steps to reproduce the issue

[code]

### Platform and user environment

Please report your OS here:
[code]

### Additional information

It seems that the sha256sum in the package.py file is incorrect:
In package.py:
'3776923415df4bc78869d7f387c834141fdcda930b2e75be979dc59ecfa6ebec'

Manually computed from the tarball downloaded directly from gromacs.org:
'776923415df4bc78869d7f387c834141fdcda

[2019-12-08 11:50] #9161 closed

[2019-12-08 11:50] #8374 closed

[2019-12-08 22:50] citibeth opened #14052 "Installation Issue: petsc"
### Steps to reproduce the issue

[code]

[2019-12-08 22:59] hartzell commented on #9697
This is probably a cold issue, but just in case, your compilers.yaml file doesn't list a c++ compiler.

You either don't have one one your system, or installed it *after* Spack set up your `compilers.yaml` file.

Try deleting `~/.spack/linux/compilers.yaml`, ensuring that you have a full compiler suite installed (`yum groupinstall "Development tools"` will take care of it and a bunch of other thin

[2019-12-09 05:05] #13961 closed

[2019-12-09 05:39] mwkrentel commented on #8957
The separate issue (bug) that I spun off in #13961 is now fixed,
although some constraints still need an explicit `strict=True`.
Thanks to @scheibelp !

----------

But I'd like to call out one difficult case here for the time when people
think about a new design for this issue.

Consider a package with variable length version numbers: `2.1`,
`2.1.0` and `2.1.1`.  Currently, it's not possible to w

[2019-12-09 10:40] alalazo commented on #1655
Closing this one, since:
[code]
will do exactly that. One can map a mirror into the image and test a recipe to see if it access the network. Feel free to reopen if the intent was different than just testing packages to know if they access network at install time.

[2019-12-09 10:40] #1655 closed

[2019-12-09 10:41] alalazo commented on #1427
Is this one still an issue?

[2019-12-09 10:50] alalazo commented on #1773
Closing as stale. I think the points in this discussion have been well received by core developers, but  feel free to reopen if you think there are other facets of splitting the Spack repository to discuss.

[2019-12-09 11:04] alalazo commented on #8850
Duplicate of #1801

[2019-12-09 11:09] alalazo commented on #3154
Closing as stale and we have basic docs for this. Feel free to reopen if you think something is missing.

[2019-12-09 11:09] #3154 closed

[2019-12-09 11:22] alalazo commented on #1942
Closing as stale.

[2019-12-09 11:22] #1942 closed

[2019-12-09 11:38] alalazo commented on #2233
Hmmm, closing since there's nothing special about using a mock package (it's just a package in a separate repository) + we have already #1935 that tracks the necessity to document how to write unit tests. Feel free to reopen if you disagree.

[2019-12-09 11:38] #2233 closed

[2019-12-09 11:40] alalazo commented on #2272
Closing as probably outdated, feel free to reopen if this is still an issue.

[2019-12-09 11:40] #2272 closed

[2019-12-09 11:43] alalazo commented on #2357
Is this a feature we still want? As far as I remember I stumbled on something like this only once in 5 years (a NetCDF release that was updated without bumping the patch number).

[2019-12-09 11:49] alalazo commented on #2499
Closing as stale. Feel free to reopen if you want to continue with the discussion.

[2019-12-09 11:49] #2499 closed

[2019-12-09 12:17] obreitwi opened #14055 "Reindexing spack does not rebuild builtin-index.json cache files"
Spack's cache `builtin-index.json`-files significantly speed up spack operations:
[code]

## Issue

However, they are not regenerated when issuing `spack reindex` and there seems
to be no other way to explicitly recreate them.
[code]

The only reliable way to recreate them right now seems to be concretizing a trivial spec like so:

[code]

## Where is this an issue?

When concretizing several spac

[2019-12-09 12:18] obreitwi commented on #14055
Note: I just used `aida` because it was the simplest spec I could find…

[2019-12-09 12:46] alalazo commented on #2599
Closing as it appears to be solved:
[code]

[2019-12-09 12:46] #2599 closed

[2019-12-09 12:47] alalazo commented on #2647
Closing as stale. Feel free to reopen if you want to continue the discussion.

[2019-12-09 12:47] #2647 closed

[2019-12-09 12:50] alalazo commented on #2776
Closing as stale. Feel free to reopen if further discussion on this is needed.

[2019-12-09 12:50] #2776 closed

[2019-12-09 13:00] alalazo commented on #2809
This has been solved in the ESMF package in #2831

[2019-12-09 13:00] #2809 closed

[2019-12-09 13:03] alalazo commented on #2828
Closing as stale.

[2019-12-09 13:03] #2828 closed

[2019-12-09 13:06] alalazo commented on #2891
Closing as I couldn't reproduce this. Feel free to reopen if you have a reproducer.

[2019-12-09 13:06] #2891 closed

[2019-12-09 13:08] alalazo commented on #2937
Apologies for the time it took to get to this! :sweat_smile: Reading the issue this looks more like a problem with the upstream code. Has it been solved in the meanwhile?

[2019-12-09 13:11] alalazo commented on #2985
Closing as stale and probably fixed.

[2019-12-09 13:11] #2985 closed

[2019-12-09 13:15] alalazo commented on #3131
Closing the discussion as stale. Feel free to reopen if you think we need to touch further points with respect to the topic of this issue.

[2019-12-09 13:15] #3131 closed

[2019-12-09 13:16] alalazo commented on #3144
Closing for lack of reply. Feel free to reopen if needed.

[2019-12-09 13:16] #3144 closed

[2019-12-09 13:23] alalazo commented on #3156
Closing the issue as stale. I don't think it's in the roadmap to split Spack into a client and a server, but feel free to reopen if you think further discussion is needed.

[2019-12-09 13:23] #3156 closed

[2019-12-09 13:30] alalazo commented on #3211
@mamelara Any update on this? Can the issue be closed?

[2019-12-09 13:33] alalazo commented on #3465
Closing as stale. Feel free to reopen if you want to discuss this further.

[2019-12-09 13:33] #3465 closed

[2019-12-09 13:34] alalazo commented on #3477
Is this still an issue (after #3206)?

[2019-12-09 13:36] alalazo commented on #3513
Closing the issue as stale. Feel free to reopen if you think something still needs to be discussed.

[2019-12-09 13:36] #3513 closed

[2019-12-09 13:37] alalazo commented on #3525
Any update on this?

[2019-12-09 13:39] alalazo commented on #3592
Closing as stale. Feel free to reopen.

[2019-12-09 13:39] #3592 closed

[2019-12-09 13:41] alalazo commented on #3690
Are you still seeing this issue from time to time? I uninstalled tons of stuff recently, mostly outside of environments, and never had an issue.

[2019-12-09 13:53] alalazo commented on #4136
Closing the issue as stale. Feel free to reopen if you think this deserves more discussion.

[2019-12-09 13:53] #4136 closed

[2019-12-09 14:00] alalazo commented on #4193
Weird that this can be solved on the command line without changes to any package :thinking: Anyhow on the lastest `develop` at 1d06949306b592c0f675dd959303ee1eda1a2cf2 I see the (transistive) dependency on `xproto`:
[code]
Closing, but feel free to reopen if I missed the point.

[2019-12-09 14:00] #4193 closed

[2019-12-09 14:04] alalazo commented on #4225
Closing as outdated. Feel free to reopen if you disagree.

[2019-12-09 14:04] #4225 closed

[2019-12-09 14:14] alalazo commented on #4699
Closing as stale. For what is worth I think this would be a nice [custom extension](https://spack.readthedocs.io/en/latest/extensions.html), if anybody wants to code it :slightly_smiling_face:

[2019-12-09 14:14] #4699 closed

[2019-12-09 14:20] alalazo commented on #4863
This has been solved in the meanwhile (1d06949306b592c0f675dd959303ee1eda1a2cf2):
[code]
Feel free to reopen if I missed anything.

[2019-12-09 14:20] #4863 closed

[2019-12-09 14:24] alalazo commented on #5034
The answer above seems to be a valid one for this question. A better support for this kind of things will come with a new concretizer (for which we already have numerous issues open). Closing this one, but feel free to reopen if you think it's needed.

[2019-12-09 14:24] #5034 closed

[2019-12-09 14:26] alalazo commented on #5167
@ax3l Closing as we already have a lot of duplicate issues asking for a new concretization algorithm :smile:

[2019-12-09 14:26] #5167 closed

[2019-12-09 14:38] alalazo commented on #5208
The default behavior now caps to a maximum of 16 cores. Closing this issue, but feel free to reopen if you think further action is needed.

[2019-12-09 14:38] #5208 closed

[2019-12-09 14:46] alalazo commented on #5219
@pramodskumbhar  This is currently not possible. The syntax for external packages doesn't require users to write a concrete spec as a key under `paths`, but allow them to specify a constraint like `zlib@1.12.0` that matches any concretized spec satisfying it. This makes registering all the combinations into the DB automatically hard to say the least... Closing this issue, but feel free to reopen i

[2019-12-09 14:46] #5219 closed

[2019-12-09 15:11] KineticTheory commented on #3477
Whoa!  This is an old issue.  I'll put it on my list to check.  If it is resolved, I'll close this issue.

[2019-12-09 15:36] alalazo commented on #3477
@KineticTheory Very old indeed. I'm trying to clean up the backlog a little... Thanks for having a look at this.

[2019-12-09 15:37] adamjstewart commented on #3690
I haven’t uninstalled anything recently.

[2019-12-09 15:47] adamjstewart commented on #1427
I don’t think anyone has updated `py-python-meep` since I first created the package, so it’s still likely an issue. But I would be fine with closing the issue since no one uses the package anyway.

[2019-12-09 15:48] alalazo commented on #3201
This seems to work at 1d06949306b592c0f675dd959303ee1eda1a2cf2:
[code]

[2019-12-09 15:48] #3201 closed

[2019-12-09 16:08] alalazo commented on #1427
@adamjstewart I'll go on and close this. I think if anybody has an issue with `py-meep` he'll be more likely to reopen than to look here anyhow.

[2019-12-09 16:08] #1427 closed

[2019-12-09 16:33] tgamblin commented on #9352
Hey folks -- if you're still interested in this note that @adamjstewart and @dodo47 merged a TensorFlow package in #13112 -- thanks very much to them for making this happen!

[2019-12-09 16:59] lee218llnl opened #14058 "Bazel Java requirement"
I was trying to build py-tensorflow and it was failing along the way when trying to build bazel. I was getting a java out of memory error:

The system is out of resources.
Consult the following stack trace for details.
java.lang.OutOfMemoryError: Java heap space
	at com.sun.tools.javac.code.Scope$ImportScope.makeEntry(Scope.java:530)
	at com.sun.tools.javac.code.Scope.enter(Scope.java:220)
	at com

[2019-12-09 17:49] ax3l commented on #5167
Hihi, yes this seams to be one of the first questions for new users :laughing:

[2019-12-09 18:02] rosecompiler commented on #12983
Version 0.9.10.0 of rose did not support gcc-7. I'm working on an updated version of ROSE in spack that will support gcc-7.

[2019-12-09 19:50] scheibelp commented on #13785
First check: did you run `module refresh` on the upstream and set up the downstream configuration according to https://spack.readthedocs.io/en/latest/chain.html#using-modules-for-upstream-packages?

[2019-12-09 23:04] adamjstewart commented on #14058
The reason for the `java@8` dependency is https://docs.bazel.build/versions/master/install-compile-source.html#bootstrap-unix-prereq:

I agree, I've managed to install Bazel with newer versions of JDK as well. I would open an issue with the Bazel developers to better understand the OOM error, @healther encountered the exact same problem: https://github.com/bazelbuild/bazel/issues/new

Personally,

[2019-12-09 23:06] adamjstewart commented on #14052
@citibeth those look like warnings, not something that would cause the build to fail. Can you upload the `spack-build-out.txt`?

[2019-12-09 23:07] adamjstewart commented on #14052
@balay @BarrySmith @jedbrown

[2019-12-09 23:10] adamjstewart commented on #14020
I'm seeing the same error. Can you contact the gromacs developers and ask them about the checksum change, just to make sure they weren't hacked? Don't want another repeat of: https://github.com/Homebrew/homebrew-cask/issues/33536

[2019-12-09 23:14] balay commented on #14052
Did the build fail - or is the issue the warnings printed by PETSc configure?

[2019-12-10 01:25] darmac commented on #13937
OK, thanks for your infomation, I will try to fix it.

[2019-12-10 01:37] darmac commented on #13937
I tried this link, it's not OK, only the libev@develop version can work for now.

[2019-12-10 02:09] weijianwen commented on #13937
It works well for me.

[code]

[2019-12-10 02:35] scheibelp commented on #13995
@olesenm another option, is that if the older versions were never patched to work with newer compilers, the Spack OpenFOAM package recipe can add a `conflicts('@gcc8:')` statement.

Generally we try not to remove versions from a package. There have been exceptions (e.g. if a particular version is no longer available for download).

[2019-12-10 02:46] scheibelp commented on #13958
Feel free to ignore whatever parts of the template don't fit or seem irrelevant. That said it is not a template in the sense that you have to fill in the blanks: it's easier to read if the original template text (including the suggestions of what to do) is removed.

you can't do that unless you initialize the build environment used by spack:

`spack build-env gcc@9.2.0 % gcc@5.5.0 bash`

that will

[2019-12-10 02:53] chenxull opened #14063 "Installation Issue: Amber"
[code]

### Platform and user environment

Please report your OS here:
[code]

[2019-12-10 02:57] scheibelp commented on #13788
This is fixed by https://github.com/spack/spack/pull/13789 (which has been merged) - thanks for reporting the bug as well as writing the fix!

[2019-12-10 02:57] #13788 closed

[2019-12-10 03:56] citibeth commented on #14052
I’m working on getting this log up, should be able to do so on Wednesday

On Mon, Dec 9, 2019 at 18:14 Satish Balay <notifications@github.com> wrote:

[2019-12-10 04:33] #14063 closed

[2019-12-10 04:48] jedbrown commented on #14052
Also, is there a reason to be using a 5-year old version?

[2019-12-10 07:03] chenxull opened #14065 "Installation issue: charmpp"
*Thanks for taking the time to report this build failure. To proceed with the
report please:*
1. Title the issue "Installation issue: <name-of-the-package>".
2. Provide the information required below.
3. Remove the template instructions before posting the issue.

We encourage you to try, as much as possible, to reduce your problem to the minimal example that still reproduces the issue. That would

[2019-12-10 07:23] awacha commented on #14020
For me it seems that this is only a copy-paste error: if you remove the first character ('3') of the checksum in package.py and add 'f' at the end, you get the upstream one. I don't know how difficult would it be for an attacker to make such a convincing fake. I'll contact the developers nevertheless.

[2019-12-10 10:20] alalazo commented on #5100
@markcmiller86 Apologies for the very late response, this one really went off my radar. Anyhow, if it is true that it's better late than never the answer to the above is that one needs to monkey patch:

https://github.com/spack/spack/blob/c627e5a6fcefb44330b4980835f0cf3a34ff2944/lib/spack/spack/modules/common.py#L213-L223

which is there since #3183

[2019-12-10 10:20] #5100 closed

[2019-12-10 10:24] alalazo commented on #5101
This feature has been implemented by @becker33 a while ago, look at [install missing compilers](https://spack.readthedocs.io/en/latest/config_yaml.html) in `config.yaml`. Closing, but feel free to reopen if any point here is not answered.

[2019-12-10 10:24] #5101 closed

[2019-12-10 10:38] alalazo commented on #5166
`spack load` is currently based on `tcl` and it makes little sense to base it on other module systems. Actually there's an effort on-going which I fully endorse to make it module-free, see #14062 Closing

[2019-12-10 10:38] #5166 closed

[2019-12-10 10:42] alalazo commented on #5210
@markcmiller86 Closing this discussion as stale. Feel free to reopen if you think the topic needs some further clarification.

[2019-12-10 10:42] #5210 closed

[2019-12-10 10:50] albestro commented on #13785
Thank you for looking into this @scheibelp!

Looking behind, my first message of this issue was misleading due to my configuration with upstreams but, as I showed in later messages, I confirm that the problem is absolutely **NOT related to upstream/chaining** and it is easily replicable with a basic spack instance.

Here I try to summarize the above messages, trying to help you in solving this.

A

[2019-12-10 10:52] alalazo commented on #5244
Closing, since this has been fixed already:
[code]

[2019-12-10 10:52] #5244 closed

[2019-12-10 12:29] darmac commented on #13937
OK, I requested a PR, and let's wait for the CI result.
https://github.com/spack/spack/pull/14066

[2019-12-10 12:52] alalazo commented on #5240
This seems to be solved at 1d06949306b592c0f675dd959303ee1eda1a2cf2:
[code]

[2019-12-10 12:52] #5240 closed

[2019-12-10 13:39] citibeth commented on #14052
Welcome to life with coupled models.  First I coupled with PISM; and by the
time I was done, the version I used was a couple of years old.  Then I had
to do some other things on the GCM side. When I got back to PISM, the
version I was using was now ancient.  I wanted to get things back working
with the version of PISM I had previously used, before updating to the
latest PISM; which will invariably

[2019-12-10 14:01] iarspider opened #14067 "`spack mirror create` creates broken symlinks"
I ran `spack mirror create -d /home/razumov/eos -D -n 1 my-bundle` (where `my-bundle` is a bundle packages with a ton of dependencies). The command ran fine, but the symlinks in `/home/razumov/eos` were broken, e.g.:

[code]

There is no `_source-cache` under `/home/razumov/spack` - but there is one under `/home/razumov/eos`:

[code]

### Steps to reproduce the issue

[code]

### Error Message

No

[2019-12-10 14:22] junghans commented on #14020
I have no idea, but:
[code]

So it seems the there are a typo in the checksum.

The md5sum is 12fe6c41c1ed76ed8227c6d37c465ff4 which agrees with http://manual.gromacs.org/documentation/2018.8/download.html

[2019-12-10 14:29] weijianwen opened #14068 "Installation issue: hypre with +openmp variant"
### Steps to reproduce the issue

[code]

### Platform and user environment

[code]

A workaround is to build hypre without `openmp` variant.

[2019-12-10 15:02] alalazo commented on #14067
Confirmed:
[code]

[2019-12-10 15:32] alalazo commented on #14067
Fix incoming, I just need to write a unit test before submitting.

[2019-12-10 17:53] ax3l commented on #5166
Thanks, didn't know! :)

[2019-12-10 17:55] iarspider opened #14094 "buildcache creation does not properly clean up temporary area"
When creating buildcache, spack creates a lot of temporary folders named `tmpXXXXXXXX`, but doesn't delete some of them, filling up temporary area (`/tmp` - does the `config.yaml` option change this?).

I have started with a clean `/tmp`, and ended up with this:
<details><summary>ls /tmp/tmp*</summary>
<p>
[code]
</p>
</details>

These are definitely from spack, e.g.:
[code]

### Steps to reproduc

[2019-12-10 17:55] ax3l commented on #5101
Oh wow, this simplifies workflows a lot, such as #14011.

[2019-12-10 17:58] ax3l commented on #14011
According to #5101, maybe
[code]
when #13920 lands is a better quickstart guide? Or even setting this option to `True` in our default configs?

[2019-12-10 18:01] alalazo commented on #5262
Closing as this seems to work at 1d06949306b592c0f675dd959303ee1eda1a2cf2 with GCC 9.2.0
[code]

[2019-12-10 18:01] #5262 closed

[2019-12-10 18:10] alalazo commented on #5351
The main issue seems to be fixed in #5365. Closing this issue, but feel free to reopen if I missed any point.

[2019-12-10 18:10] #5351 closed

[2019-12-10 18:16] alalazo commented on #5377
Closing since `setup-env.sh` is not meant to be working with `lmod`. The entire point of setting MODULEPATH in the shell integration script is to make `spack load/unload` work. The fact that up to now this has been done using `environment-modules` as a driver is to be considered imo an implementation detail. There's currently a PR that will drop the dependency on `environment-modules`, see #14062

[2019-12-10 18:16] #5377 closed

[2019-12-10 18:33] #14020 closed

[2019-12-10 18:35] nicholas-sly opened #14097 "--yes-to-all automatically adds the --no-checksum flag OR is documented to not do so"
### Rationale

Running an installation with the `--yes-to-all` flag enabled will still result in yes/no questions requiring user input if Spack has to fetch a package that doesn't have a checksum.

### Description

Option 1: Implicitly enable the `--no-checksum` flag when the `--yes-to-all` flag has been set and specify that this will happen in the `spack install --help` description.

Option 2: Ex

[2019-12-10 18:43] adamjstewart commented on #14068
@ulrikeyang @osborn9 @balay

[2019-12-10 18:51] alalazo commented on #5876
Closing as stale.Feel free to reopen if this needs further investigation.

[2019-12-10 18:51] #5876 closed

[2019-12-10 19:21] #13124 closed

[2019-12-10 19:36] alalazo commented on #6308
Closing as it has probably been solved by #3206. Feel free to reopen if the issue persists.

[2019-12-10 19:36] #6308 closed

[2019-12-10 19:49] hseara commented on #14020
Sorry for the typo.

[2019-12-10 19:51] balay commented on #14068
[code]

OpenMP variant is disabled by default anyway - and likely not well tested..

@osborn9

[2019-12-10 20:01] victorusu opened #14098 "Lua Modules install path does not contain the correct arch"
When using LMod backend, the install path of the modules does not contain the architecture of the machine, while it does for the TMod.

[code]

Just to emphasize: the installation path for lua modules is
`/opt/apps/spack/share/spack/lmod/linux-ubuntu18.04-x86_64/Core`, while the `tcl` modules is `/opt/apps/spack/share/spack/modules/linux-ubuntu18.04-skylake`.

### Steps to reproduce the issue
[cod

[2019-12-10 20:37] liruipeng commented on #14068
@weijianwen @osborn9  How was hypre configured? `./configure --with-openmp --enable-shared` ? It seems that `-fopenmp` was dropped after `-Wl,-z,defs`

Below is how it looked on my computer

[code]

[2019-12-10 23:08] becker33 commented on #5377
@alalazo I disagree. I think that even with `spack load/unload` working without modules, Spack should add the user's modules to their modulepath appropriately for any module systems they have enabled.

[2019-12-10 23:43] AndrewGaspar opened #14102 "MacOS Mojave, Python 3.8: "AttributeError: Can't pickle local object 'fork.<locals>.child_process'""
I tried to install a package on MacOS Mojave using Python 3.8 installed from MacPorts. I got an error related to "pickle"ing an object.

The issue does not reproduce with Python 3.7. It reproduces on the latest commit of develop.

### Steps to reproduce the issue

[code]

### Error Message

[code]

### Information on your system

This includes:

 1. MacOS Mojave
 2. Python 3.8 from MacPorts

[2019-12-11 01:57] osborn9 commented on #14068
@balay Correct, the OpenMP variant is not well tested.
@liruipeng Yes, those are the configure options. For me via Spack, the correct OpenMP flag gets appended.

I'll look into using `self.compiler.openmp_flag` to remedy the issue.

[2019-12-11 04:08] s-sajid-ali commented on #14058
The fetchers for jdk are broken on develop.

[code]

I've gotten around with using a hash I found somewhere on the internet and using the URL specified in [this post](https://stackoverflow.com/questions/56650812/how-to-install-oraclejdk8-through-docker-file-in-ubuntu) instead of what spack uses.

[2019-12-11 04:22] s-sajid-ali opened #14104 "JDK fetchers fail"
### Steps to reproduce the issue

[code]

### Platform and user environment

[code]

### Error message :

[code]

I've gotten around with using a hash I found somewhere on the internet and using the URL specified in [this post](https://stackoverflow.com/questions/56650812/how-to-install-oraclejdk8-through-docker-file-in-ubuntu) instead of what spack uses.

PS : I'm on develop at the latest commit.

[2019-12-11 04:34] s-sajid-ali opened #14105 "Installation issue: py-tensorflow"
---

### Steps to reproduce the issue

[code]

The custom hash is for a build of `bazel` using `jdk` instead of `openjdk` due to https://github.com/spack/spack/issues/14058

### Error logs :
[error_log](https://pastebin.com/n6qfsrVr)

Bazel finds some issue with the `gettext` installation.
[code]

### Platform and user environment

[code]

[2019-12-11 04:51] naromero77 commented on #13117
@trws After taking a look at this with @homerdin and looking at where `flang` and `f18` is headed, I want to change/amend my earlier proposition. Here is what I propose:
`llvm-flang` : does not exist now and there is no need to increase complexity by creating it. both `flang` and `f18` now appear to be using *different* forks of `llvm.` According to the last ECP timeline that I have, at least for

[2019-12-11 05:53] weijianwen commented on #14068
`openmp` variant is enabled by default in hypre.

[code]

My `config.log` is attached for reference.

[config.log.txt](https://github.com/spack/spack/files/3948659/config.log.txt)

[2019-12-11 07:38] awacha commented on #14020
Dear @hseara, @marvinbernhardt, @junghans and @adamjstewart,

Thank you all for your comments and the fix.

[2019-12-11 08:15] iarspider opened #14107 "Installation issue: py-llvmlite"
### Steps to reproduce the issue

[code]

### Platform and user environment

Please report your OS here:
[code]

`compilers.yaml` and `packages.yaml`: https://gist.github.com/iarspider/7a9a7685e9c93fb214b608bb85bf9f19

[2019-12-11 08:20] alalazo commented on #14098
Hi @victorusu This works as expected, see https://github.com/spack/spack/pull/13121. Is it causing any issue for you?

[2019-12-11 09:06] samcom12 opened #14108 "Installation issue: lammps"
### Steps to reproduce the issue
[code]

### Platform and user environment

Please report your OS here:
[code]

[2019-12-11 09:54] healther commented on #14058
If unrestricting the java dependency works for both oracle and openjdk, I'd propose we do that. Reality should beat documentation if both are in disagreement. I didn't find the time to dig deeper but when I'm getting back to it I'll try that one out.

@adamjstewart did you test with oracle's JDK? I'm not sure if I even have access to it

[2019-12-11 10:07] iarspider commented on #14107
Additional log files:

[spack-build-out.txt](https://github.com/spack/spack/files/3949722/spack-build-out.txt)
[spack-cc-py-llvmlite-cv4wumr.in.log](https://github.com/spack/spack/files/3949723/spack-cc-py-llvmlite-cv4wumr.in.log)
[spack-cc-py-llvmlite-cv4wumr.out.log](https://github.com/spack/spack/files/3949724/spack-cc-py-llvmlite-cv4wumr.out.log)

[2019-12-11 10:33] alalazo commented on #5377
There are two main arguments against managing `MODULEPATH` from Spack init script, once we have a mean to make `spack load/unload` work without modules.

The first one is that if we keep setting `MODULEPATH` as we do now in `setup-env.sh` we can't get rid of:

https://github.com/spack/spack/blob/3cd6ca02d2d58c42d6864b25ed5e4479557eaa8c/share/spack/setup-env.sh#L306-L327

which slows down the start

[2019-12-11 12:06] samcom12 opened #14109 "Installation issue: namd with Intel compiler"
---

### Steps to reproduce the issue

[code]

[2019-12-11 12:19] samcom12 opened #14110 "Installation issue: vtk"
---

### Steps to reproduce the issue

[code]

[2019-12-11 12:35] alalazo commented on #6426
Closing as `None` can't be used as a default in variants since #9481

[2019-12-11 12:35] #6426 closed

[2019-12-11 12:39] samcom12 opened #14111 "Installation issue: Openfoam"
### Steps to reproduce the issue

[code]

[2019-12-11 12:39] alalazo commented on #6495
Apologies for the super late reply. This has been addressed in #13912, so I'm closing the issue. Feel free to reopen if you think some further step is needed.

[2019-12-11 12:39] #6495 closed

[2019-12-11 13:21] samcom12 opened #14112 "Installation issue: cairo"
$ spack install cairo

### Platform and user environment

$ uname -a
Linux login06 3.10.0-957.el7.x86_64 #1 SMP Thu Nov 8 23:39:32 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

Error-

font-variations.c:31:10: fatal error: ft2build.h: No such file or d
            irectory
     965     #include <ft2build.h>
     966              ^~~~~~~~~~~~
     967    compilation terminated.

     969    make[4]: ***

[2019-12-11 15:15] glennpj commented on #13970
@alalazo It looks like this was assigned to you so poking you directly. Is there anything that I can do to gather additional information? Do you have any ideas of things that I could try to work around the issue? My thinking is that things built with Spack using this compiler are probably okay as non-compiler dependencies would point to the spack package, ie., intel-mkl. My main concern is for the

[2019-12-11 18:02] adamjstewart commented on #14058
I only got Oracle JDK working. JDK is no longer available for download with the hacks we have in the JDK package, I had to create an account, log in, manually download the tarball, and place it in my mirror.

[2019-12-11 18:05] s-sajid-ali commented on #14107
Could you try adding the patches described in https://github.com/spack/spack/pull/8123#issuecomment-556319317 ? The PR adds support for only one patch but now that `spack arch` can recognize cpu's, it should be possible to pull in all the patches.

[2019-12-11 18:09] trws commented on #13117
That seems reasonable.  I'd expect f18 to become part of the main llvm package at some point in 2020, but it sounds great for the current situation.

[2019-12-11 18:19] Char-Aznable commented on #13958
When I run `spack build-env gcc@9.2.0 % gcc@5.5.0 bash`, I get:
[code]

[2019-12-11 18:25] adamjstewart commented on #14111
@olesenm

[2019-12-11 19:05] Char-Aznable commented on #13958
I did `spack edit config compilers` and added the entries under gcc 5.5.0:
[code]
I then rm the build cache in /tmp and reran the install command. I still got the same error.

[2019-12-11 19:09] Char-Aznable commented on #13958
I suspect rpath might not be the problem because gcc@5.5.0 from linuxbrew use the spec file to specify the rpath already. Also, the dependencies of gcc@9.2.0 have the correct rpath:
[code]

[2019-12-11 19:29] olesenm commented on #14111
Will need to defer to someone with an intel compiler on their system. I can't help out there.

[2019-12-11 20:10] adamjstewart commented on #14102
@scheibelp can you take a look at this? It looks like our unit tests are missing a Python 3.8 bug.

[2019-12-11 20:13] scheibelp commented on #14102
I can start looking at this by 12/16

[2019-12-11 20:16] adamjstewart commented on #14105
I've never encountered this error before. Can you open up an issue at https://github.com/tensorflow/tensorflow/issues/new/choose?

[2019-12-11 21:26] victorusu commented on #14098
@alalazo, I would not say it is causing issues, but on a hybrid system that use LMod, would be nice to `module use` the appropriate LMod folder based on the architecture of choice. Currently it is possible to do that using `tcl` modules, but I am not aware of a mechanism to do it for the `lua` modules. Is there anyway to get the folder similar to `lmod/linux-ubuntu18.04-skylake/` by setting an env

[2019-12-11 22:09] Char-Aznable commented on #13958
Turns out you need to remove spaces around '%' to get the following command to work:
[code]
and I am able to reproduce the error. The resulting `conftest` has the correct rpath as specified by gcc@5.5.0's spec file:
```readelf -d conftest | grep RPATH```:
[code]
what is missing is the interpreter:
[code]
If add the `-dynamic-linker` flag to the above compiler command:
[code]
then it works.

@schei

[2019-12-11 22:34] Sinan81 opened #14121 "compiling pyqt5@5.13.1"
pyqt5 is of type "SipPackage". sippackage class currently downloads sip@4.19.18 as resource, however, py-pyqt5@5.13.1 requires sip@4.19.19 and otherwise yields a build error. I am wondering how different versions of sip resource can be downloaded depending of pyqt version.

@adamjstewart

[2019-12-11 22:35] Sinan81 commented on #14121
we did something similar with Qscintilla resource in  pyqt5 package, however that didn't seem to be applicable in this case.

[2019-12-11 22:56] adamjstewart commented on #14121
I don't know of any way to do this. If we update `SipPackage` to download `sip@4.19.19` will that break any other packages? If not, we'll need to remove the resource from `SipPackage` and add it to every package that extends it.

[2019-12-11 23:31] hartzell commented on #13940
Another example project that suffers from this issue:

[code]

[2019-12-11 23:37] s-sajid-ali commented on #14105
Already opened one at https://github.com/tensorflow/tensorflow/issues/35014

[2019-12-12 02:16] #14104 closed

[2019-12-12 03:43] scheibelp commented on #13958
Spack's `gcc` package would probably be the best place to do this: you can set `--with-stage1-ldflags` for the build (there is an example of that for `+binutils` in the `package.py`). I'm not sure how it would be decided when this is the right thing to do though.

If you have a thought on that I'm interested to hear it. Otherwise I would need to think about it for a few days.

[2019-12-12 09:30] alalazo commented on #14098
@victorusu Since it is not causing issues I'll relabel this as a question. Also, to reply to:

`lmod` is different from `tcl` in that it generates a hierarchical layout of module files. Taking into account every case in which the users can mix and match software depending on the nodes they land on and the layout of files they have in mind for their site is a daunting task.

The decision made in #1

[2019-12-12 09:54] alalazo commented on #6712
I think the questions above have been addressed by #3206 which injects target specific optimization flags in the compiler wrapper, so closing this. Feel free to reopen if you think something still needs to be addressed.

[2019-12-12 09:54] #6712 closed

[2019-12-12 10:07] awacha opened #14127 "Installation issue: motif"
### Steps to reproduce the issue

[code]

### Platform and user environment

Please report your OS here:
[code]

### Additional information

I think I have found the problem: the upstream package quietly assumes that the missing include file ('X11/bitmaps/gray') is in the same directory as all the other X11 headers, therefore the autoconf/automake-produced `configure` script does not have provisio

[2019-12-12 10:14] alalazo commented on #6730
This has been solved by @scheibelp in #5153, closing.

[2019-12-12 10:14] #6730 closed

[2019-12-12 10:57] phxyz12 opened #14129 "spack checksum and spack fetch use different URLs on GitHub"
Hi

I tried to install the minimap2 package and to get the latest version, I first ran

spack checksum minimap2

to get the checksum of the latest version. I added this version to the minimap2 package.py file and tried to install:

spack install minimap2 target=x86_64

The install fails due to an incorrect checksum.

### Steps to reproduce the issue

[code]
I select 1 version to checksum and it ch

[2019-12-12 11:26] alalazo commented on #6742
The `-o` option has been turned into `-n` and seems to work at 3cd6ca02d2d58c42d6864b25ed5e4479557eaa8c:
[code]
Closing this issue.

[2019-12-12 11:26] #6742 closed

[2019-12-12 14:36] alexmyczko opened #14130 "debian packaging: install target"
*Please add a concise summary of your suggestion here.*

Could spack have some form of install target, where it gets installed on the system for all users?
like `install bin/spack /usr/bin/` and so on?

*Is your feature request related to a problem? Please describe it!*

I'd like to provide spack to all multi-user machines, system-wide, preferably having
it in an official Debian package.

*Describ

[2019-12-12 16:04] acmnpv commented on #14020
@junghans thanks for checking, I also just triple checked this.
From 2020 there is going to be an additional check that the source files have not been modified

[2019-12-12 17:09] liruipeng commented on #14068
@weijianwen Have you look at `config/Makefile.config`? Can you find `LDFLAGS =  -fopenmp` therein?

[2019-12-12 17:27] adamjstewart commented on #14130
Hi @alexmyczko

Just to clarify, are you trying to install _spack_ to `/usr` or trying to get Spack to install _other packages_ to `/usr`? Spack supports both.

To install _spack_ to `/usr`, use `spack clone /usr`

To install _other packages_ to `/usr` using Spack, see #13083 or https://spack.readthedocs.io/en/latest/config_yaml.html#install-tree

You may also be interested in [Spack Chains](https

[2019-12-12 18:07] becker33 commented on #5377
@alalazo Ok that sounds like a good plan to me. We could (and probably should) even put the wrappers in the `spack` shell function so that the modules for any given system can be automatically added by `spack module <type> init`, while `spack module <type> init --sh` would give the bash code for it (like we do for `load/unload/env activate`).

[2019-12-12 18:30] alexmyczko commented on #14130
Hi @adamjstewart

I want to actually create a Debian package of the spack software, and install that.

So could I just have a spack dir, clone it to $DESTDIR/usr, and have it in a tar, unpack it to another host to / (root) and it'd be /usr/bin/spack for the binary and the rest is also somewhere. And it'd work?

[2019-12-12 18:45] adamjstewart commented on #14130
Yep, Spack is written almost entirely in Python, so relocating it is easy and doesn't break anything. The file hierarchy follows the usual UNIX standard of bin/lib/share/etc and has subdirectories for Spack so that prevent interference with other software.

[2019-12-12 18:56] alexmyczko commented on #14130
I actually wanted to use spack with spack install boost@1.54.0, however it keeps failing, after that I'd also need pcl@1.7.0 however that doesn't exist, so back to user install the classic --prefix way... I'll see if I can get a working spack debian package built though

[2019-12-12 19:07] adamjstewart commented on #14130
If you're having problems building boost, please open an issue for that with the exact error message and hopefully someone can fix it.

Adding new packages to Spack is simple and easy, and we have a ton of documentation on it if you're interested:

- [Package Creation Tutorial](https://spack-tutorial.readthedocs.io/en/latest/tutorial_packaging.html)
- [Contribution Guide](https://spack.readthedocs

[2019-12-12 21:24] jychoi-hpc commented on #5114
I have the same problem on Theta, ANL, with the `develop` branch.

[2019-12-12 22:08] tgamblin commented on #14130
If you're looking to install Spack as a Debian package, then #11871 is likely how you would want it to work.  We have that slated for 0.14

[2019-12-12 22:29] Char-Aznable commented on #13958
@scheibelp "--with*ldflags" options only tell the GCC build program how to link the intermediate xgcc, which doesn't help here. "--with-specs" is the option that fixes the problem here:
[code]
Spack is new to me and it doesn't seem to have a formula of building a standalone toolchain. For example, I can't find a formula for glibc in spack. I am not sure how you would handle external toolchain depe

[2019-12-13 01:20] citibeth commented on #14052
This looks like an Intel compiler issue; I'm closing here and moving to the PETSc repo.

[2019-12-13 01:20] #14052 closed

[2019-12-13 02:27] tldahlgren commented on #13900
I was able to reproduce this problem on an LC machine after installing gcc@7.3.0.

[2019-12-13 02:27] Sinan81 commented on #14121
compiling pyqt5@4.13.0 with sip@4.19.19 fails. so, it seems things are breaking.

[2019-12-13 07:38] #13722 closed

[2019-12-13 07:38] #14067 closed

[2019-12-13 09:00] darmac commented on #13937
patch #14066  is already merged.

[2019-12-13 09:00] #13937 closed

[2019-12-13 09:09] alalazo commented on #6569
I just verified that `emacs` builds fine at  3cd6ca02d2d58c42d6864b25ed5e4479557eaa8c I'll be closing this issue as stale and very likely tied to some customization of the environment (in particular external `python`). We should have already issues that are tracking problems with "extendable" external packages, but feel free to reopen if you feel like there's anything else to be resolved here.

[2019-12-13 09:09] #6569 closed

[2019-12-13 09:37] alalazo commented on #6685
Closing as I was able to build `qt@5.13.1` on `linux` at 3cd6ca02d2d58c42d6864b25ed5e4479557eaa8c and the issue for Mac OS is apparently solved by #6766. Feel free to reopen if the issue persists for you.

[2019-12-13 09:37] #6685 closed

[2019-12-13 09:39] alalazo commented on #6892
Closing as the issue seems solved looking at comments.

[2019-12-13 09:39] #6892 closed

[2019-12-13 10:59] alalazo commented on #6345
Already added in e2e0b5df. Closing

[2019-12-13 10:59] #6345 closed

[2019-12-13 11:03] alalazo commented on #6902
@berceanu @ax3l Is this still an issue?

[2019-12-13 11:11] alalazo commented on #7057
Closing since at 3cd6ca02d2d58c42d6864b25ed5e4479557eaa8c:
[code]

[2019-12-13 11:11] #7057 closed

[2019-12-13 11:36] alalazo commented on #7084
@tjfulle A comment before closing the issue. The command:
[code]
shows to you by default *possible* dependencies of a package. If you want to see the actual dependencies of some spec that is already installed there's the `-i` flag to the same command. Finally, you can use virtual specs at install time:
[code]
They'll just be resolved to some concrete spec.

[2019-12-13 11:36] #7084 closed

[2019-12-13 11:41] alalazo commented on #7158
With 3cd6ca02d2d58c42d6864b25ed5e4479557eaa8c I set the variant `+foo` in the `zlib` dependency of hdf5, here's the result:
[code]
Closing the issue as it seems solved. Feel free to reopen if you feel like some further action is needed.

[2019-12-13 11:41] #7158 closed

[2019-12-13 11:50] mdorier opened #14145 "BerkeleyDB package: links to archives not valid anymore"
The BerkeleyDB package is fetching its archives from [Gentoo's repository](http://distfiles.gentoo.org/distfiles) because Oracle's download page requires login. However, the archives seem to have disappeared from Gentoo's repository.

If anyone knows of another mirror, can the links be updated?

[2019-12-13 11:52] mdorier commented on #14145
Ah apparently if I remove the "otn" part of the links provided on Oracle's website, I can bypass the login page. I'll update the package and close this issue.

[2019-12-13 12:50] alalazo commented on #7262
The `help-wanted` label has been already deleted. Closing.

[2019-12-13 12:50] #7262 closed

[2019-12-13 12:56] alalazo commented on #7268
I think this can be understood as reporting 2 issues:
1. Include directories were always `<prefix>/include` (solved in #10623)
2. External packages can't set their paths at a finer grain (tracked in #6472)

As everything here seems to be already solved or tracked elsewhere I'm closing this issue, but feel free to reopen if you think there's something I didn't account for.

[2019-12-13 12:56] #7268 closed

[2019-12-13 12:59] alalazo commented on #7273
Closing, as this issue is very likely due to a `gcc~binutils` installation on a system with an `as` old enough to not understand the assembly instructions emitted by the front-end. Feel free to reopen if I am wrong on this.

[2019-12-13 12:59] #7273 closed

[2019-12-13 13:08] alalazo commented on #7355
The start-up time improved a lot over the last couple of years. Might be further improved after #14062

[2019-12-13 13:08] alalazo commented on #7360
Has this been done, or is it still an open request?

[2019-12-13 13:13] alalazo commented on #7424
Closing this discussion as stale. Feel free to reopen if you think there's something to add. For what is worth I think https://github.com/spack/spack/issues/7424#issuecomment-371504059 still depicts the current situation very well.

[2019-12-13 13:13] #7424 closed

[2019-12-13 13:17] iarspider opened #14148 "Installation issue: qt@5.12.4"
### Steps to reproduce the issue

[code]
(the `fonts=` specification is due to #12547).

### Platform and user environment

Please report your OS here:
[code]
compilers.yaml and packages.yaml: https://gist.github.com/iarspider/7a9a7685e9c93fb214b608bb85bf9f19

The issue is triggered by taking packages (in my case - `libjpeg` and `openssl`) from system. This adds `-I /usr/include` to the list of fl

[2019-12-13 13:38] mdorier commented on #14145
I submitted a PR to partially solve this: https://github.com/spack/spack/pull/14147

[2019-12-13 14:36] sethrj commented on #7355
Even though the startup time is much improved, it's an extra delay when launching *every* new interactive terminal session, even though the likelihood of using `spack` in any particular session is small.

My solution is to lazily load the spack environment by putting this in my `.bashrc`:

[code]

The only downside to this is that spack autocompletion won't before the first invocation of `spack`.

[2019-12-13 14:56] alalazo commented on #7355
#14062 might give us the possibility to remove the call to `spack` that is done during the start-up. At that point we won't have to wait for the Python interpreter to start (which is what is causing most of the delay) and we'll be evaluating only shell code. Hope that will be sufficient to close this issue, but we'll see.

[2019-12-13 15:16] mdorier opened #14149 "Bazel build fails with a Java java.lang.OutOfMemoryError exception"
I'm trying to install Bazel on a Debian machine. The machine has 8 GB of RAM so it shouldn't pose any problem, yet the build fails:

[code]

When I inspect spack-build-out.txt, I see that the build failed with a `java.lang.OutOfMemoryError` exception. I read somewhere that it might be that javac isn't allocating enough (despite the machine having plenty).

Any has this error? How could the Bazel p

[2019-12-13 15:38] citibeth opened #14150 "Overly-Long Compiler Names"
The compiler names in Spack specs can be overly long; thereby making it hard to work with.  Consider the output below, for example.

Would it be possible to create nicknames / aliases for compilers?  Or else remove all the options from the spec, assuming the user *already* properly put that information into `compilers:compiler:spec` in `compilers.yaml`?  Or any other way to make this easier to use

[2019-12-13 16:15] kmanalo commented on #12701
Good to close then? I was not seeing the issue with a recent build of libxc and cp2k.

[2019-12-13 16:22] alalazo commented on #12701
Closing the issue. If there's any additional mirror for `libxc` and/or `cp2k` feel free to post it here. Once #13881 is merged we might add them to strengthen the download.

[2019-12-13 16:22] #12701 closed

[2019-12-13 16:44] adamjstewart commented on #14149
Closing as a duplicate of #14058, let’s continue the discussion there.

[2019-12-13 16:44] #14149 closed

[2019-12-13 17:19] citibeth commented on #13233
This problem just hit me too.  What should I do to get around it?  I don't want to clean out all cache state of all types, every time I modify my patch!

[2019-12-13 18:16] citibeth commented on #13233
I worked around this problem by deleting `~/.spack/cache/patches/builtin-index.json`.  It "solved" the problem, but took an awfully long time to regenerate.  Deleting individual entries in the file did NOT help.

How can we tell / coax Spack into regenerating patch index just for the package I'm working on `petsc`?  Even better... if Spack cannot find a patch in the index, why doesn't it regenerat

[2019-12-13 20:30] ax3l commented on #6629
Modernization of the issue: auto-populate the `depends_on(..., 'build')` lines with entries from `pyproject.toml` (PEP-517/518).
Example: https://github.com/openPMD/openPMD-api/blob/dev/pyproject.toml

[2019-12-13 21:19] adamjstewart commented on #6629
I don't know how common `pyproject.toml` is, but `setup.cfg` is becoming more popular and can also be parsed to locate dependency information in some cases.

[2019-12-13 21:20] #14145 closed

[2019-12-13 21:46] jcftang commented on #6629
some of the more modern python tooling requires the pyproject.toml config file to be used, from experience  enabling the use of the pyproject.toml file enforces pep517 which tends to break things in unexpected ways.

[2019-12-13 22:10] scheibelp commented on #13785
Thanks for the explanation!

Are you loading the `broadwell` module on the `haswell` login node because you want to build packages on the login node outside of Spack, using that Spack-built zlib?

[2019-12-14 03:18] citibeth commented on #14150
Actually, output like this would be much preferable.  Can we make it the default for `spack spec` at least?  Note that the compiler and architecture have been removed entirely; and the patch hashes have been greatly reduced.

@alalazo Maybe it would be possible to make a system of format strings for lines in `spack spec`???

[code]

[2019-12-14 05:16] naromero77 commented on #13117
@trws I spent about two full days trying to get a self-contained `flang` package, unfortunately I did not manage to get this working. @homerdin even gave me some pointers today and I thought I was making some progress, but ultimately I couldn't make it happen.

The problem is that Flang compiler depends on the Flang-fork of LLVM being already built (a sequentially dependence). I also can't just dr

[2019-12-14 06:38] darmac opened #14168 "spack create failed if there's any num in package name like "kkkk123ccc""
The cmd "spack create" will change to "spack checksum" if some num in package name.

### Steps to reproduce the issue

[code]

### Error Message
[code]

[2019-12-14 11:30] olesenm commented on #7360
Still pending - ie, the code fragments are still residing in the openfoam/package.py

[2019-12-14 16:53] adamjstewart commented on #14168
`spack create` takes a URL, not a package name. You can try `spack create -n kkkk123ccc`

[2019-12-14 22:31] #13237 closed

[2019-12-15 00:25] s-sajid-ali opened #14176 "spack incorrectly populates compilers.yaml"
`spack` makes a mistake in setting `cc/cxx` paths while populating `compilers.yaml` for a compiler built by spack.

### Steps to reproduce the issue

[code]

I didn't notice that `spack` made a mistake for `gcc@4.8.5` but it didn't affect me because I was able to compile `gcc@8.3.0`.

### Information on your system
[code]

Related to : https://github.com/spack/spack/issues/3331

[2019-12-15 01:45] adamjstewart commented on #14176
@becker33

[2019-12-15 07:47] ax3l commented on #6629
The usage of both `setup.cfg` and `pyproject.toml` is a project choice and not up to us to add/judge ;)

[2019-12-16 07:14] darmac commented on #14168
got it.

[2019-12-16 07:14] #14168 closed

[2019-12-16 09:56] nazavode commented on #13484
Same issue here, I confirm that `diffutils%clang@9.0.0` is still broken.

[2019-12-16 13:46] akotobi88 opened #14182 "Installation issue: magic@4.1.0"
Hi all,

I'm trying to install `magics@4.1.0` and `netcdf` is not enabled but it's looking for `netcdf.h`, below is the error

[code]

### Platform and user environment

Please report your OS here:
[code]
Any idea how to get around to it? I mainly need that to install `cdo` package.

Thanks
Amjad

[2019-12-16 14:09] matz-e commented on #12779
We're observing this, too. It seems to me that the concretizer is doing a lot of `ReadTransaction`s that don't necessarily ne

How does it look with `--sorted-profile cumulative`? I see lots of `ReadTransaction`s from the concretizer that could be "buffered":
[code]

With a primitive patch that does not re-read the DB all the time, this could be reduced to about ~10% of the runtime:
[code]

[2019-12-16 17:56] adamjstewart commented on #14182
If you want a quick workaround, you can build `cdo ^magics+netcdf`. Otherwise, you'll probably have to report this to the Magics developers. Adding `-DENABLE_NETCDF=OFF` like we do should prevent this kind of thing, so it sounds like a bug in their CMake code.

[2019-12-16 18:01] alalazo commented on #7504
Ok, I am aware I'm over the maximum allowed time for an answer but... right now the best option that comes to my mind is to use `spack dev-build` from a manual checkout of the source code. There's also a proposal I made to deal with this is in #9741. I'll try to get back to it as soon as I have time.

[2019-12-16 18:02] alalazo commented on #7513
@adamjstewart

[2019-12-16 18:04] alalazo commented on #7552
Closing as solve according to comments above

[2019-12-16 18:04] #7552 closed

[2019-12-16 18:06] #7513 closed

[2019-12-16 19:56] hartzell opened #14185 "Basic tutorial instructions don't work"
Actually, the below is a re-enactment.  In reality I started reading the docs, said "That's not gonna work", tried it, got the failure I expected, cleaned up and started from scratch so that I could provide a clean bug (is that an oxymoron?)

There's something missing in the prose for the basic tutorial, it appears to be running as a regular user (prompt is `$ `) but there's no issue with creating

[2019-12-16 20:30] scheibelp commented on #14102
I can replicate this using a Spack-installed Python 3.8.0 on Mac OS. I think the problem is that the implementation of Spack install wasn't following the requirements for pickling: in particular, there are locally-defined that are passed to `multiprocessing.Process`.

I can fix the initial error with the changes at https://github.com/spack/spack/pull/14187 but that does not fully resolve this issu

[2019-12-16 21:35] mayrmt commented on #5504
@aprokop Did your question (and the proposed fix) aim at "using ccache to cache compilations of spack packages", i.e. to speed-up recurring compilations of packages managed by spack, or to a development scenario, where spack provides packages (e.g. some mpi implementation, maybe even a compiler, ccache) in order to build a non-spack software, while using ccache for that non-spack software?

I'm ve

[2019-12-16 22:34] ajw1980 commented on #12779
This is what the "spec -I r-caret" looks like for me sorted by cumulative time:

[code]

[2019-12-16 22:58] hartzell commented on #14185
Ok, yeah.  I thought I remembered seeing discussion of a Docker image for one of the SC tutorial  sessions.

There's this: https://hub.docker.com/r/spack/tutorial

and  this works

[code]

I see, in `share/spack/docker/`, the Dockerfiles that are used to build the OS specific images and the API server.

Separately, it looks like the tutorial image is built from bits over here(shouldn't there be a

[2019-12-17 00:44] tgamblin commented on #12779
@ajw1980: can you `pip3 install pyinstrument` (or `pip`) and send the output of this:

[code]

[2019-12-17 00:55] tgamblin commented on #12779
Nevermind -- I found a couple issues.  Stay tuned -- I think we can get the runtime down quite a bit.

[2019-12-17 01:44] tgamblin commented on #12779
Ok, I put in a PR that I think will greatly improve the performance here.  See #14190.

[2019-12-17 02:34] adamjstewart commented on #7695
Update: this problem is still present in `develop`. I had:
[code]
and Spack decided to install `cmake` before installing `py-scipy`.

[2019-12-17 02:45] junghans commented on #5504
Once you have ccache installed you can use it like described here:
https://stackoverflow.com/questions/13929514/how-to-enable-ccache-on-linux
incl. non-spack compiles.

[2019-12-17 02:51] adamjstewart commented on #14185
@hartzell can you move this issue to https://github.com/spack/spack-tutorial?

Your intuition is correct, during "official" Spack tutorials, we provide users with an AWS image that already has the appropriate keys in place. This allows us to distribute binaries and speed through installations.

Your diagnosis is also correct, the tutorials should work without this special AWS image. I would love f

[2019-12-17 05:04] weijianwen commented on #14068
@liruipeng `LDFLAGS = -fopenmp` is missing in `config/Makefile.conf`.

[code]

[2019-12-17 05:20] weijianwen opened #14191 "Installation issue: skilion-onedrive due to dmd not in $PATH"
### Steps to reproduce the issue

[code]

### Platform and user environment

Please report your OS here:
[code]

`dmd` (the reference compiler for D programming language) has been installed as dependency, located in `~/opt/cascadelake/linux-centos7-haswell/gcc-4.8.5/dmd-2.081.1-2gzzuz4ut26pj4l7om4k7lejm2r5ty6s/linux/bin64/dmd`. Location `linux/bin64` has been added to PATH in `dmd` package via:

[

[2019-12-17 06:57] mayrmt commented on #5504
@junghans Thanks for your quick help! On machines, where I don't use spack, I usually use symbolic links to let ccache masquerade as the compiler as described in the ccache manual's section on [run modes](https://ccache.dev/manual/latest.html#_run_modes). That works just fine.

Now, with spack, I'm not sure, which symbolic link to set to warp for example `mpicxx`. When typing `which mpicxx`, I get

[2019-12-17 07:16] plasmas commented on #13995
Update: **This issue also affects OpenFOAM-org version 6 and 7**
I also tested installing OpenFOAM-org@6 and @7 through both Spack and manual installation. For both versions, `/platform/linux64GccDPInt32RpathOpt/bin` remained empty.

Version 7:
[code]
Version 6:
[code]
So, although the issue was discovered in older versions of OpenFOAM, it also occurs in the new OpenFOAM version 7.

The specs for

[2019-12-17 09:01] olesenm commented on #13995
Like @scheibelp suggested, adding conflicts('@gcc8:') might be a solution, or if you select an older compiler for your own builds.
An alternative (if you have sufficient interest) is to open an [openfoam issue](https://develop.openfoam.com/Development/openfoam/issues), but this itself won't get it done. If we need to patch up _older_ OpenFOAM versions, we'll also need to allocate resources (time a

[2019-12-17 10:14] awacha commented on #14127
Dear @adamjstewart ,

thank you for merging my pull request. I will now close the issue as resolved.

[2019-12-17 10:14] #14127 closed

[2019-12-17 10:22] alalazo commented on #7589
@healther Reading through the discussion it seems this was unreproducible. Can this be closed or is it still an issue for you?

[2019-12-17 10:27] alalazo commented on #7638
Closing this as both stale and duplicate. Feel free to comment in the linked issue if any further information is needed.

[2019-12-17 10:27] #7638 closed

[2019-12-17 10:33] alalazo commented on #7678
Apologies for the very late reply. Autoloading dependencies on module files must be enabled explicitly, [see here](https://spack-tutorial.readthedocs.io/en/latest/tutorial_modules.html#autoload-dependencies). I'll be closing the issue as I think this answer the question, but feel free to reopen or file a new one if problems persist.

[2019-12-17 10:33] #7678 closed

[2019-12-17 10:43] alalazo commented on #7869
Closing this as stale. Please reopen if you want to continue discussion.

[2019-12-17 10:43] #7869 closed

[2019-12-17 10:52] alalazo commented on #7922
This seems to work at 5eca4f14706a9590407f14c9c76e5a8bb663e9df:
[code]
Closing the issue.

[2019-12-17 10:52] #7922 closed

[2019-12-17 11:00] alalazo commented on #8017
Closing as stale. Also pinging @adamjstewart as our URL expert :smile:  Feel free to reopen if you want to continue the discussion on this point.

[2019-12-17 11:00] #8017 closed

[2019-12-17 11:04] alalazo commented on #8027
A workaround that solves this issue has been implemented in #13912 (a more stable solution is in the roadmap). Closing.

[2019-12-17 11:04] #8027 closed

[2019-12-17 11:05] alalazo commented on #8035
This appears to be fixed at 5eca4f14706a9590407f14c9c76e5a8bb663e9df

[2019-12-17 11:05] #8035 closed

[2019-12-17 11:12] alalazo commented on #8155
Apologies for the very late reply, I'm spending some time each day to go through old open issues. I think what is needed here is the `modules` attribute of packages in `packages.yaml`, [docs here](https://spack.readthedocs.io/en/latest/build_settings.html#build-settings) with an example using CMake. Feel free to close if this answers your question.

[2019-12-17 12:44] alalazo commented on #7576
This seems to be fixed at 5eca4f14706a9590407f14c9c76e5a8bb663e9df:
[code]

[2019-12-17 12:44] #7576 closed

[2019-12-17 13:13] alalazo commented on #8354
Closing as stale, and probably solved by @becker33 in #11910. Feel free to reopen if still an issue.

[2019-12-17 13:13] #8354 closed

[2019-12-17 13:18] alalazo commented on #8359
@Sinan81 I think this is yet another symptom of the greedy concretizer. A way to build with recent versions of `git` is to help the solver algorithm:
[code]

[2019-12-17 13:32] alalazo commented on #7584
I can't reproduce this error:
[code]
Closing, but feel free to reopen with more details if the issue persists.

[2019-12-17 13:32] #7584 closed

[2019-12-17 13:35] alalazo commented on #8402
Closing as it seems solved already (see comments above)

[2019-12-17 13:35] #8402 closed

[2019-12-17 13:40] alalazo commented on #8542
Closing as fixed in #8543

[2019-12-17 13:40] #8542 closed

[2019-12-17 13:49] junghans commented on #5504
Just run `mpicc --showme` to see which compiler is called under hood and hence needs to be symlinked.

[2019-12-17 17:35] liruipeng commented on #14068
@weijianwen OK. That's what I thought. I am not sure why it was not there

[2019-12-17 18:00] adamjstewart commented on #14191
See #14198.

The problem is that `setup_run_environment`  is only used to generate module files, it isn't run for dependent packages.

[2019-12-17 18:05] adamjstewart commented on #13926
@alalazo @scheibelp @becker33 @tgamblin I know I opened this issue at an inopportune time (during Thanksgiving break), but I was wondering if any of you have any opinions on this. Basically what I'm proposing is that:

1. `setup_dependent_build_environment` can be replaced by a call to `setup_run_environment` for all _build_ dependencies
2. `setup_dependent_run_environment` can be replaced by a ca

[2019-12-17 18:37] tldahlgren commented on #7695
@tgamblin @adamjstewart Is this something we want to address separate from the work being done in #13100, which I'm currently debugging?  Part of this work is to not automatically install packages that already exist in the instance.

[2019-12-17 20:01] sethrj opened #14199 "Support SSH/SCP protocol for mirrors and build caches"
Allow mirroring (both source and build caches) from remote servers over SSH.

### Rationale

We have several institutional clusters on which we install approximately daily development updates of our export-controlled code for user testing. I'd like to improve deployment time and assuring quality by building with Spack as part of the CI system, then distributing that tested binary directly to the o

[2019-12-17 20:22] ajw1980 commented on #12779
That is better, but still kind of slow. I'll attach the pyinstrument output from after the patch.
[spack-pyinstrument.txt](https://github.com/spack/spack/files/3975274/spack-pyinstrument.txt)

Latest git before patch :
[code]
Latest git with patch:
[code]

[2019-12-17 21:04] pinnown commented on #12983
#14186 Will update ROSE to use version 0.9.13.0 which is compatible with gcc-7 and should fix this build issue.

[2019-12-17 21:51] adamjstewart commented on #12323
@scheibelp I ran into this problem again today:
[code]

[2019-12-17 22:46] Sinan81 commented on #8359
That is a better definitely a better solution than downgrading git. Thanks! As far as I am concerned, this issue can be closed as these kind of issues will be resolved with the new concretizer.

[2019-12-18 00:18] #12983 closed

[2019-12-18 06:19] jcftang opened #14205 "golang package fails to build a usable binary"
Using the spack env features to install golang 1.13.5, the build process succeeds but fails to produce usable binaries...

[code]

### Steps to reproduce the issue

[code]

[2019-12-18 07:52] weijianwen commented on #14191
@adamjstewart

Adding `setup_dependent_build_environment(self, env)` as #14198  results in the following errror. Should it be `setup_dependent_build_environment(self, env, dependent_spec)`?

[code]

[2019-12-18 09:43] robertsawko opened #14207 "spack fetch freezes"
I am trying to use `spack fetch` command for my builds to download packages on login host, but push the remaining build stages to another computer. Unfortunately on one of our clusters `fetch` freezes and after a very long time produces

[code]

Can't figure it out. I thought it might be a permission or disk space problem, but I tried cloning into a few different locations and the effect is the sa

[2019-12-18 10:05] robertsawko commented on #14207
Sorry, closing this. Traced it down to a cluster issue.

[2019-12-18 10:05] #14207 closed

[2019-12-18 15:40] jcftang commented on #14205
I failed to mention that the above was on macos catalina

[2019-12-18 17:12] adamjstewart commented on #14191
Fixed, can you try again?

[2019-12-18 17:36] adamjstewart commented on #9904
Is this still an issue or can this be closed?

[2019-12-18 17:45] adamjstewart commented on #14205
I'm having trouble reproducing this. On the latest develop, with macOS Catalina 10.15.2 and Clang 11.0.0, I get:
[code]
Can you run `otool -L` on the `go` executable? Maybe one of the other libraries is causing the problem.

[2019-12-18 18:06] akotobi88 commented on #14182
Thanks, yeah I'm gonna report it or submit patch on that to have it fix generally.

[2019-12-18 18:21] akotobi88 opened #14211 "libx11@1.6.7 error during "configure" stage"
I'm trying to build `libx11@1.6.7`, and compilation failing in `configure` stage because of the flags in `compilers.yaml` as mentioned below, is there anyway exclude flags for only `libx11@1.6.7` and NOT its dependencies? OR anyway get it to compile.

[code]

### Platform and user environment

Please report your OS here:
[code]

- `compilers.yaml`

[code]

to the issue

### Additional information

[2019-12-18 18:30] jcftang commented on #14205
[code]

I had this same problem on two different machines

[2019-12-18 18:30] adamjstewart commented on #14211
Does the GCC C preprocessor support `-mavx2`? Maybe try removing `-mavx2` from `cppflags`?

@alalazo @becker33 are the microarchitecture support experts.

[2019-12-18 18:33] adamjstewart commented on #14205
And `which go` returns `/Users/jtang/develop/spack/var/spack/environments/x00/.spack-env/view/bin/go`? Are there any other commands that `go` might run (I see it has a git dependency)? I would try running `otool -L` on all the libs in `/Users/jtang/develop/spack/var/spack/environments/x00/.spack-env/view/lib` and all the executables in `/Users/jtang/develop/spack/var/spack/environments/x00/.spack-

[2019-12-18 18:35] jcftang commented on #14205
yes *which go* points to the one that spack generates.. the otool output is at https://gist.github.com/jcftang/a01489943863065ea60c0b35f1d83ae8

[2019-12-18 18:43] adamjstewart commented on #14205
Hmm, everything looks fine there. Can you also run `otool -L` on any `*.so` libraries? A lot of libraries on macOS aren't named properly (even Python is guilty of this).

The only thing that seems fishy is:
[code]
All the other packages link to a Spack-installed version of `libiconv`, except this one. You could try adding a `libiconv` dependency to the `vim` package (I assume that's where `nvim` c

[2019-12-18 18:55] jcftang commented on #14205
nvim comes from the neovim package, I check the lib directory and there's no .so files around at all. I tried adding libconv to neovim but that doesnt affect the go binary at all

[2019-12-18 21:47] coreyjadams opened #14216 "Installation Issue: cmake @ 3.15.5 checksum error"
I get a checksum error when building packages that require cmake:

$ spack stage cmake@3.15.5
==> Using cached archive: /gpfs/mira-home/cadams/Cooley/spack/var/spack/cache/_source-cache/archive/fb/fbdd7cef15c0ced06bb13024bfda0ecc0dedbcaaaa6b8a5d368c75255243beb4.tar.gz
==> Fetching https://gitlab.kitware.com/cmake/cmake/merge_requests/4075.patch
#####################################################

[2019-12-18 23:14] adamjstewart commented on #14216
Yay, another person using Spack to install PyTorch!

The checksum error you found was fixed in #14125. You can either make that change locally yourself, or update to the latest develop version of Spack.

[2019-12-18 23:14] #14216 closed

[2019-12-18 23:39] EthanS94 opened #14217 "opencv gcc7 and gcc8 conflicts in spec"
### Steps to reproduce the issue

[code]

### Platform and user environment

Please report your OS here:
[code]

compilers.yaml: [compilers.yaml.txt](https://github.com/spack/spack/files/3980983/compilers.yaml.txt)

### Additional information

[code]

[2019-12-19 00:07] #12779 closed

[2019-12-19 05:10] #1735 closed

[2019-12-19 10:17] iarspider commented on #14121
There is a way to avoid creating a copy of `sip` for every package that depends on it. Just adding these two lines to both `sip/__init__.py` and `<package>/__init__.py` solves the problem:
[code]

[2019-12-19 12:48] SG77777 opened #14222 "Error: No compiler found..."
Hi,

when was installing openfast with the command
"spack install openfast+cxx %gcc@7.4.0"
the mentioned error occur.
Even though the command "spack compiler find" gives me the right version gcc@7.4.0.

[2019-12-19 16:55] naromero77 commented on #13117
@trws @homerdin

Any additional feedback for me?

Again, to summarize. I think the quickest fix is to pull the flang stuff out of the main LLVM package and create a LLVM-flang package. I looked at f18 package as well, it just uses the plain vanilla LLVM package -- since its really only a front-end at the moment.

What will be the lifetime of the LLVM-flang package? Not sure, but hopefully not supe

[2019-12-19 18:47] #14191 closed

[2019-12-19 18:49] adamjstewart commented on #14222
Can you post the output of `spack config get compilers`? If you installed `gcc@7.4.0` with Spack and you're using an older version of Spack, you may need to manually add it to your `compilers.yaml` using `spack compiler add <path to gcc@7.4.0>`.

[2019-12-19 20:15] trws commented on #13117
I'd lean toward Option 2 personally, and just create the llvm-flang package.  It's not awesome, but it is actually a partially incompatible fork, so I think it's more appropriate that way anyway.

[2019-12-19 20:32] coreyjadams opened #14232 "Installation error: py-torch can't find mkl"
After updating spack to the develop branch, I was able to get past issue #14216 with cmake 3.15.5 (actually, it took cmake 3.16.1).  Now my pytorch build fails because it can not find the mkl installation:
[code]

Earlier in the build, I see intel-mkl and intel-mkldnn are installed:
[code]

Is there a way to tell pytorch that mkl is installed and have it find it?

System:
[code]

[2019-12-19 20:52] eugeneswalker opened #14233 "Buildcache Create fails for Package with External Dependency"
Spack version: v0.13.2

I am trying to generate a cached binary of hdf5, where hdf5 depends on the external package spectrum-mpi.

[code]

At this point, no binary is created.

Spectrum-mpi is defined as an external in my active Spack environment:
[code]

@becker33 @gartung

[2019-12-19 20:57] gartung commented on #14233
@eugeneswalker can you also make a comment where you note the change you tried.

[2019-12-19 21:00] gartung commented on #14233
@scottwittenburg You added the total package hash correct?

[2019-12-19 21:00] gartung commented on #14233
This is where the bug originates.

[2019-12-19 21:05] scottwittenburg commented on #14233
@gartung I added the package full hash into the `spec.yaml` file that gets written upon buildcache creation, if that's what you mean.  Is that related to this issue?

[2019-12-19 21:08] eugeneswalker commented on #14233
The problem originates when calling `spec.full_hash()` on hdf5 from within `build_tarball()` in `binary_distribution.py`. When trying to calculate the full_hash for hdf5, `to_node_dict()` gets invoked for the external package `spectrum-mpi`, which on lines 1522-1523 of `spec.py` calls `spec.package.content_hash()` and ultimately causes the problem.
[code]
I was able to get `buildcache create` to f

[2019-12-19 21:14] coreyjadams opened #14234 "Can't install tensorflow because of bazel"
I am trying to install tensor flow for cpu via spack.  It falls over at bazel:
[code]
Here was the command I have used:
[code]

And, I am on this system:
[code]

Any ideas for how to fix this?  I have the latest version of spack as of this morning.  Is there an older version of bazel that will work?

[2019-12-19 21:19] scottwittenburg commented on #14233
I see, thanks for the explanation @eugeneswalker.  In some way I'm glad you're running into this, as a fix will be required before we can properly support external packages in pipelines too.

@tgamblin

[2019-12-19 21:35] gartung commented on #14233
My guess is this line triggers the error
https://github.com/spack/spack/blob/af249d3cf6617cd635ed7aa54dddd83d7eb09cef/lib/spack/spack/package.py#L1257

[2019-12-19 21:44] gartung commented on #14233
So the actual error comes from here
https://github.com/spack/spack/blob/0592c580302ca8edf6f404d046d2e670a69bba6e/lib/spack/spack/fetch_strategy.py#L1238

[2019-12-19 21:47] gartung commented on #14233
This is in _extrapolate which is called from here
https://github.com/spack/spack/blob/af249d3cf6617cd635ed7aa54dddd83d7eb09cef/lib/spack/spack/fetch_strategy.py#L1271

[2019-12-19 22:18] gartung commented on #14233
My proposed solution is #14237

[2019-12-19 23:17] adamjstewart commented on #14232
@coreyjadams I ran into the same issue, reported at https://github.com/pytorch/pytorch/issues/24334. The workaround for the time being is to symlink all of the necessary libraries in a place where PyTorch expects to find them. For example:
[code]
Can you comment on https://github.com/pytorch/pytorch/issues/24334 so they know I'm not the only one facing this issue?

[2019-12-19 23:19] adamjstewart commented on #14234
Can you share the build log? That will help me diagnose the problem.

[2019-12-20 00:06] rviertel opened #14239 "Installation issue: suite-sparse"
### Steps to reproduce the issue

[code]

### Platform and user environment

[code]

### Additional information

Rebuilding the package with the following options:
[code]

[2019-12-20 01:31] Sinan81 commented on #14234
I think that error shows up when openjdk is used. I would suggest switching to jdk instead.

[2019-12-20 01:38] adamjstewart commented on #14234
The following error:
[code]
just means that something went wrong during bootstrapping. Unfortunately, the bootstrap script doesn't exit with the proper exit code if it fails, so things fail during the install phase.

[2019-12-20 02:10] scheibelp commented on #14102
Update: I've resolved some additional issues but more remain. I will be continuing with this in January.

[2019-12-20 08:49] jasonfenglu commented on #14112
You can try to build it with freetype.

[2019-12-20 09:24] darmac opened #14243 "spack buildcache create <spec> will create build cache in /tmp/<hash> dir, not in buildcache mirror."
*I have created a mirror as a buildcache, and then try create a buildcache package,
but the result shows that the binary package is created in a /tmp dir, not in the mirror.
I found the Spack Documentation is quite simple when it introduce the buildcache feature in Chapter 13.
I'm not sure is there any thing wrong for my operation or it's a bug for spack.
*

### Steps to reproduce the issue
**chec

[2019-12-20 09:58] healther commented on #7589
The last time I rebuild things, they worked out of the box

[2019-12-20 09:58] #7589 closed

[2019-12-20 10:20] victorusu commented on #14098
@alalazo, I was not aware of the #13121 and #3206 issues... Thanks!

[2019-12-20 10:23] #14098 closed

[2019-12-20 12:22] SG77777 commented on #14222
Hello,
Thanks for the fast response.
First only the command "spack config get compilers" fails.
after typing:
"export SPACK_ROOT=${HOME}/spack"
and
". $SPACK_ROOT/share/spack/setup-env.sh"
the command "spack config get compilers"  gives:

![IMG_20191220_130658](https://user-images.githubusercontent.com/59054265/71254340-e5d8a300-232a-11ea-8145-6c65dddf4f0f.jpg)

In the file "compilers.yaml" is the

[2019-12-20 16:27] adamjstewart commented on #14222
Maybe it’s because you don’t have a Fortran compiler available?

[2019-12-20 16:36] s-sajid-ali commented on #14234
This looks like the error I got when I built bazel with openJDK.

@adamjstewart : Since we know that `bazel` fails with `openJDK` as per https://github.com/spack/spack/issues/14058, should we switch the default provider for `java` to `jdk` instead ?

[2019-12-20 16:38] SG77777 commented on #14222
That might be possible I thought it comes with openfast installation.

[2019-12-20 17:15] coreyjadams commented on #14234
Here is the build log:

https://gist.github.com/coreyjadams/a43b1a165c29acbfb542cca98f9ad4b0.js

It does in fact look related to java, I'll try with java instead of openJDK.

[2019-12-20 17:20] rviertel commented on #14243
I'm getting the following error when I try to use spack buildcache create spec. Seems like it might be relevant

==> creating binary cache file for package xz@5.2.4%gcc@7.4.0 arch=linux-ubuntu18.04-skylake
==> Error:
 /tmp/tmp1ndup95x/xz-5.2.4-fsbg24fkmvyh2jsl6b3gfhla2odymzrh/bin/xz
contains string
 /home/rvierte/origin-spack/opt/spack
after replacing it in rpaths.
Package should not be relocated.

[2019-12-20 17:33] coreyjadams commented on #14234
For what it's worth, java moved the build past bazel as @s-sajid-ali suggested via a private email:
`spack install py-tensorflow@1.15 cuda_arch=35 ^cuda@10.1 ^jdk@1.8.0_231-b11 %gcc@6.3.0`

The java specification had to be exactly the one listed or it still failed.

I'll follow up if there are other crashes in tensorflow.

[2019-12-20 17:45] adamjstewart commented on #14234
I would keep the default provider at `openjdk` for legal issues (don't want to pick a fight with Oracle about automatically accepting their licenses). I've also had problems downloading `jdk` recently. It might be better to switch the `bazel` dependency to `jdk`.

[2019-12-20 17:48] adamjstewart commented on #14222
@SG77777 right now, compilers are treated very differently from other dependencies. You have to install your own compilers (either via Spack or via apt-get) and then register them in `compilers.yaml`. We plan on changing this in the coming year to make compilers formal dependencies, but until then you'll have to run:
[code]
or:
[code]
and then add those paths to your `compilers.yaml`.

[2019-12-20 18:33] SG77777 commented on #14222
I have used "sudo apt-get install gfortran"
after that I comanded "spack compiler find" to add the paths automatically.
checking with "spack config get compilers " gives now the gfortran at the right position:

But still the ERROR occurs:

here the terminal in and output:

~$ spack compiler find
==> Added 2 new compilers to /home/stefan/.spack/linux/compilers.yaml
    gcc@7.4.0  gcc@5.5.0
==> Comp

[2019-12-20 18:44] adamjstewart commented on #14222
That's strange, I've never encountered this error before. Maybe @alalazo @becker33 @scheibelp will know what to do.

[2019-12-20 18:46] SG77777 commented on #14222
Could it be a problem, that I have a old system (i686) with installed Lububtu?

[2019-12-20 19:06] becker33 commented on #14222
@alalazo it looks like we didn't put in any compiler support for `x86` 32 bit architectures when we filled out the compiler information, and I at least didn't realize that `i686` shows up in the `uname` output instead of `x86`.

@SG77777 we have special handling for some base-case architectures that you'll be able to use as a workaround.

One way to work around this until it's fixed is to edit you

[2019-12-20 19:08] gartung commented on #14243
@darmac you need to specify -d path/to/mirror other wise the build_cache directory is written to the current working directory. The other build_cache directories are temporary directories used to stage downloads from the mirror. You also need to run
[code]

[2019-12-20 19:08] gartung commented on #14243
@rviertel Add the -a option to the buildcache create command as suggested.

[2019-12-20 19:14] gartung commented on #14094
The /tmp/tmp* folders are created by the puython tmpdir functions. If you interrupted the builcache creation with CTRL-C then the directory is not cleaned up. The temp directory contents are cleaned up when an exception is thrown leaving only the /tmp/tmp* directory.

[2019-12-20 19:18] paulbry opened #14253 "Lmod modules generated for Clang compiled software not different from Core (GCC) built software"
In past behavior the modules generated for software compiled using clang would correctly denote this such as `linux-centos7-x86_64/clang` when the core compiler would be specified as some version of GCC. With the most recent version of Spack (tested against a commit form last night) I'm seeing naming conflicts between the modules being generated.

### Error Message

I'm seeing two errors. The firs

[2019-12-20 19:23] becker33 commented on #14222
It looks like this is going to be tricky to debug without access to an i686 machine, but I'm pretty sure the problem is that Spack generated compiler configurations with `target:i686` instead of `target:x86`

[2019-12-20 19:47] tgamblin commented on #14222
@SG77777: can you give us the output of `cat /proc/cpuinfo` and also the output of running `spack arch`?

[2019-12-20 19:50] SG77777 commented on #14222
$ cat /proc/cpuinfo
processor	: 0
vendor_id	: GenuineIntel
cpu family	: 6
model		: 13
model name	: Intel(R) Pentium(R) M processor 1.60GHz
stepping	: 8
microcode	: 0x20
cpu MHz		: 600.000
cache size	: 2048 KB
physical id	: 0
siblings	: 1
core id		: 0
cpu cores	: 1
apicid		: 0
initial apicid	: 0
fdiv_bug	: no
f00f_bug	: no
coma_bug	: no
fpu		: yes
fpu_exception	: yes
cpuid level	: 2
wp		: yes
flags

[2019-12-20 19:50] becker33 commented on #14222
@tgamblin `i686` is a synonym for `x86` (no flag difference) but we're putting the wrong family in the compiler configuration either:
1. because `i686` is showing up in `uname` we're getting the wrong family
2. because `i686` has no feature differences from `x86` and our logic in archspec is messed up somehow.

We can see in the output @SG77777 provided already that Spack is properly detecting `i6

[2019-12-20 19:51] SG77777 commented on #14222
before that I did :
i686 entry in lib/spack/llnl/util/cpu/microarchitectures.json from x86 to null.

[2019-12-20 19:53] SG77777 commented on #14222
$ spack arch
linux-ubuntu18.04-i686

[2019-12-20 19:54] SG77777 commented on #14222
should I change back

i686 entry in lib/spack/llnl/util/cpu/microarchitectures.json from null to x86?

[2019-12-20 19:59] becker33 commented on #14222
Can you run `spack spec zlib` with it set to null first? That'll test whether the workaround works around this.

[2019-12-20 20:01] SG77777 commented on #14222
$ spack spec zlib
Input spec
--------------------------------
zlib

Concretized
--------------------------------
zlib@1.2.11%gcc@7.4.0+optimize+pic+shared arch=linux-ubuntu18.04-i686

[2019-12-20 20:08] becker33 commented on #14222
Ok good to know that that worked. But it's not the long-term solution to your problem.

[2019-12-20 20:13] SG77777 commented on #14222
Now I got this Error:
$ spack install openfast+cxx %gcc@7.4.0
==> Error: [Errno 13] Permission denied: '/home/stefan/spack/var/spack/junit-report'

[2019-12-20 21:28] SG77777 commented on #14222
now I changed the permisson of the folder spack
sudo chmod -R a+rwx /home/user/spack
then I had to install pkg-config and curl:
apt-get install pkg-config
apt-get install curl
and now it seems to work

[2019-12-20 22:32] #4212 closed

[2019-12-20 22:32] #5613 closed

[2019-12-20 22:32] #1090 closed

[2019-12-20 22:33] tgamblin commented on #1090
This is (finally) done!

[2019-12-21 00:12] adamjstewart opened #14259 "Spack Environments are still slow"
If I run `spack install` on an **already installed environment**, it's prohibitively slow:
[code]
Obviously, installing an environment that is partially installed or has updates available takes even longer. These results are from my laptop. Results on Blue Waters using an NFS-mounted Python are significantly worse. The environment in question is pretty big:
[code]
If you run `spack -d install`, yo

[2019-12-21 00:31] Sinan81 opened #14260 "gcc prioritises system /lib64 libs over /path/to/mySpackEnvView/lib by default"
I am trying remove some hard coded library paths from Makefiles in a custom software project, and use LIBRARY_PATH instead. When I do so, g++ picks up boost libs located under /lib64 first, breaking the build. Wondering if others have nay experience  with this, and what the most elegant quick fix would be

After activating spack environment, we look at how g++ searches for libs:
[code]
Since on Ce

[2019-12-21 01:01] tgamblin commented on #14259
Can you also attach the output of `spack config blame packages`?

[2019-12-21 01:07] adamjstewart commented on #14259
Here you go:
[code]

[2019-12-21 03:27] chissg opened #14261 "non-robust handling arguments of external commands in `spack.util.environment._source_single_file()`."
The external execution of an external shell and python in `_source_single_file()` does not deal well with file paths that contain spaces.

Filenames and their arguments should be properly quoted when being passed to the shell for sourcing, and the test should verify that spaces and awkward characters in the path or arguments should be handled.

Note that there is currently no use of the enclosing

[2019-12-21 07:09] eugeneswalker opened #14262 "installing from binary cache: relocate_text mangles text"
@gartung @scottwittenburg

I've built packages for a binary cache in this source context
[code]

And I'm trying to install these cached binaries into this target context
[code]

But text relocation is not working as expected. For instance, installing a cached binary of autoconf built in the source context into the target context results in the first line of the `autoreconf` script looking like thi

[2019-12-21 15:36] gartung commented on #14262
#3 would be the culprit. This was an attempt to fix the paths for dependencies in text. Using /spack is what really breaks things. The assumption is that spack is no the root of the path. If you used /opt/spack it might work better.

[2019-12-21 15:44] gartung commented on #14262
You can comment out the third re sub line as a temporary work around. It would be interesting to see if there are any dependency paths remaining.

[2019-12-21 15:47] gartung commented on #14262
@eugeneswalker are you using a tagged version of spack or the head of develop. It help to know where the fix needs to be applied.

[2019-12-21 15:51] eugeneswalker commented on #14262
I'm using tag `v0.13.2`

Yes, by the time I tracked down the issue last night my brain was mush. I can try what you suggest, I think it will work. If the answer is just to not use `/spack` that is fine. Although `/spack` is such a sweet final path for installed spack packages, I suppose it's not very important :)

[2019-12-21 15:55] gartung commented on #14262
Yes. Just remove the third one and see if it works for you.
 I will work on a fix for this is my current branch for buildcache work.

[2019-12-21 16:00] gartung commented on #14262
The real problem is that the sbang script should be copied and referenced from the install directory root instead of the spack bin directory. I have a  closed PR where I proposed that but it was never merged.
https://github.com/spack/spack/pull/11598

[2019-12-21 16:03] gartung commented on #14262
Having the sbang script live in what looks like a temporary spack directory that may get removed look like a recipe for trouble.

[2019-12-21 16:04] gartung commented on #14262
@tgamblin

[2019-12-21 16:23] eugeneswalker commented on #14262
So @gartung -- I'd like to avoid plugging a custom branch or patch to Spack's code into my pipeline for now: do you think it will work OK if I just change it up like this:
[code]

[2019-12-21 16:25] gartung commented on #14262
As long as blahblah != opt you should be OK.

[2019-12-21 16:43] pat-s commented on #14112
Worked for me: `spack install cairo +X +ft`

[2019-12-22 11:07] zhang-zedong commented on #6340
I copy the HPL.dat to the HOME directory and solve the problem.

[2019-12-23 01:35] darmac commented on #14243
I have tried but failed, the binary is still generated in /tmp/\<hash\>/build_cache as below:
[code]

[2019-12-23 03:18] darmac commented on #14243
I changed ISO to CentOS8-1905 and generated a gpg key, it looks worked by this cmd:
[code]

[2019-12-23 11:55] #14243 closed

[2019-12-23 18:01] nicholas-sly commented on #3525
Ran into this issue when trying to install `openmpi@3.1.2` with `pgi@19.10`.  I pointed spack to the system installed pkg-config (@0.27.1), but very quickly ran into another error when building `libpciaccess@0.13.5` regarding undefined references to `inw`, `outw`, `inb`, `outb`, `inl`, and `outl` in `libpciaccess.so`.  I'm not sure if this is related to using an older pkg-config or if it's complet

[2019-12-23 18:34] adamjstewart commented on #3525
@nicholas-sly this is a known problem with the PGI compilers and libpciaccess, it has nothing to do with pkg-config. I actually reported this one back in 2016. See:

* https://bugs.freedesktop.org/show_bug.cgi?id=94398
* https://www.pgroup.com/userforum/viewtopic.php?f=4&t=5126
* https://gitlab.freedesktop.org/xorg/lib/libpciaccess/issues/7

[2019-12-23 18:47] nicholas-sly commented on #3525
@adamjstewart Wow.  You seem to have gotten a lot of response and little resolution.

If that's the case, should Spack include an incompatibility between PGI and libpciaccess?

Perhaps allowing for libpciaccess to be built with gcc even if it's a dependency of something else being built with PGI (as was seemingly hinted at in one of those threads)?

[2019-12-23 19:05] adamjstewart commented on #3525
Yes, we should add a `conflicts('%pgi')` to the package and include those URLs in comments.

@tgamblin is currently working on a new concretizer that will allow this. Specifically, build dependencies like `pkg-config` will be built with the system default compiler (usually GCC) and conflicts will influence the concretizer's decision on which compiler to use.

[2019-12-23 21:08] sleak-lbl opened #14282 "print the recipe spack uses to install a thing"
print the recipe so a user can replicate what Spack does, outside of Spack

### Rationale

This would greatly help in replicating build problems when trying to debug a package, or permitting workarounds for build problems, or helping our users with "here is a recipe to build that software in your home directory"

### Description

I'd love to see output something like:
[code]

### Additional inform

[2019-12-23 22:35] abraunegg commented on #14191
@weijianwen, @adamjstewart

The 'skilion' code appears to have been abandoned and contains many issues that have not been fixed. It contains defects that put you at risk of data loss and corruption. If you wish to use the latest code which contains numerous fixes and enhancements you need clone & build from here: https://github.com/abraunegg/onedrive

[2019-12-24 02:36] #14259 closed

[2019-12-24 16:50] eugeneswalker opened #14293 "Debug Output Minus Lock Messages"
Could we segregate lock related debug-messages from other debug output?

It'd be nice to use the `-d` flag and not be overwhelmed with lock acquired/released/etc messages when you're just trying to find out why something isn't working.

[2019-12-24 21:11] adamjstewart commented on #14293
#14263 removed a lot of locking messages from Spack Environments. Is there anywhere else you see excessive locking messages? This could be another place where we can make a performance improvement.

[2019-12-24 22:55] JBlaschke commented on #7311
Advertising this here also, in case someone's following this issue. I've found some time to make progress on #9279 and would appreciate feedback. Thanks.

[2019-12-24 22:58] JBlaschke commented on #7604
@adamjstewart Is there any progress on this? #9279 would really benefit from some unit tests that I can run against my attempt at `setup-env.fish`

[2019-12-25 00:19] tgamblin commented on #7604
@JBlaschke: FWIW, we already test some of the shell support in `share/spack/qa/setup-env-test.sh`.  It's just for bourne-based shells, but you could copy the types of tests that are there for fish.

[2019-12-25 20:23] hainest commented on #8909
I've encountered this problem on both lassen (Power9) at Livermore and cori (x86) at NERSC. The information below is for lassen.

    $ git -C spack log -1 --oneline
       d333e1472 (HEAD -> develop, origin/develop, origin/HEAD) tests: check min required python version with vermin (#14289)

    $ spack --version
      0.13.3

    $ uname -a
      Linux lassen709 4.14.0-115.10.1.1chaos.ch6a.ppc64l

[2019-12-26 22:20] #14112 closed

[2019-12-27 01:56] eugeneswalker commented on #14293
I see what you're saying about reduced lock-related debug messages during standard spack install. I was working off of `v0.13.3` and I think the copious lock-related debug messages had to do with the initial examination of `.spec.yaml` files from the buildcache. Can you think of a reason why there would be locking/unlocking of the Spack database just by reading from a remote buildcache? Is this ex

[2019-12-27 08:01] svenevs opened #14298 "give mixed llvm and gfortran special microarchitecture treatment on x86_64"
In tracking down how to circumvent this warning, I believe the order of events was

- #13250 use `-march -mcpu` when `%clang`, which was deemed incompatible.
- #13913 for x86_64, switch to `-march -mtune`

Result: as far as I can tell, for linux x86_64, the flags for tuning gcc and clang will be the same, and can "safely mix these compilers."

### Rationale

1. Tuned better than not tuned :D
2. `c

[2019-12-27 16:00] adamjstewart commented on #14293
@tgamblin @gartung can you take a look at this?

[2019-12-27 18:25] tgamblin commented on #14293
@eugeneswalker: can you give us some example output of what you are seeing?

[2019-12-27 19:16] eugeneswalker commented on #14293
This is using the head of develop as of ~ 11am this morning (6c957b6b6). I cleaned the Spack environment: `spack clean -a`.

And then, here is the output of running
[code]

[install.log](https://github.com/spack/spack/files/4006068/install.log)

[2019-12-28 16:14] gartung commented on #14293
You csan always turn off locking in config.yaml.

[2019-12-28 16:18] gartung commented on #14293
Installing using a spec.yaml is not finding the corresponding buildcache?

[2019-12-28 17:22] eugeneswalker commented on #14293
@gartung I'm sorry, I don't understand what you are asking in regards to not finding the corresponding buildcache when installing from `spec.yaml`

[2019-12-28 22:01] gartung commented on #14293
I was trying to understand what you were trying to debug and if buildcaches were involved.

[2019-12-28 23:06] eugeneswalker commented on #14293
@gartung The real question is the one that started this whole thread, which is: can we do anything about segregating lock related debug messages from other debug output? Perhaps multiple levels of verbosity where lock messages are excluded in one level and included in a higher level of verbosity, or perhaps a specific flag for including lock-related messages in the debug output? Except for maybe o