[2019-10-07 12:44] anne-glerum commented on #13005
@alalazo I don't know. I installed it using `$ spack bootstrap` and haven't changed any settings.

Following @cwsmith suggestion to set `target` in `packages.yaml`, I installed a new py-pip, but now I can't select the py-pip with the new specs:

`$ spack load iqjjp3g py-pip@19.0.3%clang@10.0.1-apple-gfortran9.1.0 arch=darwin-mojave-x86_64`
==> Error: the constraint '['iqjjp3g', 'py-pip@19.0.3%clan

[2019-10-07 16:40] tldahlgren opened #13065 "Revisit `autouse` of `mock_stage` and `check_for_leftover_stage_files` fixtures"
I prefer the former and agree that if it comes to this it ought to be dealt with in a later PR. However, I'm curious about:

I was wondering if there might be a way to make the tests work regardless of whether this runs. The goal of this is to ensure that for the purposes of testing that the stages are created in a test-managed directory. I'm wondering if introducing an additional root path compon

[2019-10-07 16:51] hartzell commented on #13005
@anne-glerum -- Did you clean out all of the stuff you built as `darwin-mojave-broadwell` before you built the new things as `darwin-mojave-x86_64`?  If the old versions are still hanging around they might be confusing the issue.

[2019-10-07 16:53] #9902 closed

[2019-10-07 16:53] #11095 closed

[2019-10-07 17:37] alalazo commented on #13005
@cwsmith

I think that as far as our modeling goes `skylake` seems to be the correct detection. Could you run the executables on your host architecture? Also, we probably need to do some renaming as everybody expects what we call `skylake_avx512` to be `skylake`. For what is worth we mostly followed GCC conventions for the naming :slightly_smiling_face:

[2019-10-07 17:43] davydden commented on #13048
@balay may have an idea what's going on here with SLEPc.

[2019-10-07 17:57] balay commented on #13048
hypre@2.18.0 had an API change - the fix [add back comatibility]  is in hypre@develop

[2019-10-07 18:04] balay commented on #13048
I've seen this issue for a while. Don't know what triggers this [it doesn't come up with xsdk]. For slepc only build - I've used:

`spack install slepc~arpack`

to avoid hypre issue - I would do:

`spack install slepc~arpack ^hypre@2.17.0`
or
`spack install slepc~arpack ^hypre@develop`

[2019-10-07 18:51] odoublewen commented on #13005
From my point of view, the problematic thing is that the arch changes depending on the compiler.  As @hartzell described at the top of this issue, we're using spack to bootstrap our way up to a relatively modern gcc (8.2.0) on a CentOS 7 system, i.e. using spack to build gcc@8.2.0 using the system gcc (4.8.2).

The problem for me is that the stuff built by gcc 4.8.2 goes in `linux-centos7-haswell`

[2019-10-07 19:24] alalazo commented on #13005
@odoublewen It comes from the fact that `haswell` is the latest architecture GCC 4.8.5 knows about. Try to force a build with it and specify `target=skylake_avx512` :wink: (docs [here](https://spack.readthedocs.io/en/latest/basic_usage.html#support-for-specific-microarchitectures))

[2019-10-07 19:27] alalazo commented on #13005
@hartzell This one is definitely on my list of issues. I need some time to go "back at the whiteboard" to check what could be the best way to deal with hierarchical module files and multiple targets.

[2019-10-07 21:38] hartzell commented on #13005
@alalazo -- sounds good.

I'll fine tune @odoublewen's comment though, my *biggest* problem with the hierarchical modules is that the Core module file adds the *wrong* directory to MODULEPATH, so that loading the Core module does not make the other modules accessible.  (point #2 in summary).

[2019-10-08 04:49] Sinan81 commented on #9352
@healther I am having problems in building bazel@0.19.0 with spack on a Centos7 machine. I am wondering if you might have some tips for it.

[2019-10-08 07:48] alalazo commented on #13005
@alalazo @odoublewen Forgot to say: let me know if you think something is unclear or should be added to the [user docs](https://spack.readthedocs.io/en/latest/basic_usage.html#support-for-specific-microarchitectures) or to the [packager docs](https://spack.readthedocs.io/en/latest/packaging_guide.html#querying-the-platform-and-the-operating-system).

[2019-10-08 10:24] anne-glerum commented on #13005
@hartzell Is there a way to uninstall all packages with a certain arch?

[2019-10-08 11:49] healther commented on #9352
@Sinan81 unfortunately I'm not really sure what exactly we had to do, if you open an issue and post some more context to your problem, I may be able to dig out some stuff...

[2019-10-08 11:55] alalazo commented on #13005
@anne-glerum You can use:
[code]
What you give as a spec to the `uninstall` command is interpreted as a constraint and the command will select anything that matches (and ask you before actually uninstalling it, of course).

[2019-10-08 14:05] adamjstewart commented on #9352
@healther @Sinan81 I believe someone just needs to port the existing patches to the latest version of Bazel, should be trivial.

[2019-10-08 15:06] pat-s opened #13072 "Error building r with target=x86_64"
Scenario:

- Frontend node arch is `linux-centos7-zen`.
- Some compute nodes are on `linux-centos7-x86_64`

When building formula `r` on the frontend using `target=x86_64` (to get it running on the computes) everything builds. However, when trying to build the same formula directly on the computes (which the spack dir shared via NFS to the nodes) I get

[code]

- [build log](https://transfer.sh/O0

[2019-10-08 15:34] bassenj opened #13073 "zen vs zen2 inconsitency breaks modules() in spack load"
After having some problem with the latest release, I was trying the current develop 66b9009a0713f9ce1d63f518ab1528af7587eaa5 branch.

However, on develop, there seems to be an inconsistency with the architecture, that prohibits the use of `modules`. As a consequence, `spack load` does not work anymore. The issue is related to my architecture, Ubuntu 19.04 with kernel 5.3.0-050300rc3-generic, runni

[2019-10-08 16:30] hartzell commented on #13005
Hmmm, something or someone marked @anne-glerum's question about uninstalling and @alalazo's reply as "off-topic".  Was that automagic, or something one of use did?  It seems relevant to the discussion....

[2019-10-08 16:41] alalazo commented on #13005
I did, as the error message was indicating:

and `spack load` is not using `lmod` hierarchies. I can revert that if you think they are relevant.

[2019-10-08 16:43] alalazo commented on #13005
I think you're correct - the unit test for `lmod` modules don't have any case of multiple architectures and that very likely requires some adjustment to the code.

[2019-10-08 16:48] hartzell commented on #13005
Not necessary, I just had never seen that before.  I'm a firm believer in "There's no such thing as a dumb question." and sometimes being declared "off topic" can feel close to that.

It might be friendly to make a note that they being marked off topic and are (or aren't) worthy of a separate discussion....

[2019-10-08 16:50] hartzell commented on #13005
I know that it's been marked "off topic" (:smiling_imp:), but I think that @alalazo's solution for @anne-glerum, which said:

should have instead said

[code]

although the attached discussion might have made that clear.

[2019-10-08 17:00] alalazo commented on #13005
@anne-glerum @hartzell

Apologies, that was not the meaning on my side to mark them off-topic - I also replied to the questions and marked my answer off-topic as well. It was just a helper for myself to have open only the comments that were directly related to the `lmod` issue.

[2019-10-08 17:07] alalazo commented on #13005
@hartzell Now I am uncomfortable marking this and the couple of messages above off-topic as well. Do you want to do that? :grin:

[2019-10-08 17:38] alalazo commented on #13073
@bassenj Did you try to source again `setup-env.sh` after having bootstrapped `tcl` and `environment-modules`? Asking because when you source this file the paths in:
[code]
are checked and all the existing ones are added to `MODULEPATH`. The very first time you clone spack none of them exist yet and that requires sourcing the file again. Just wondering if this is your issue, or something else.

[2019-10-08 17:46] alalazo commented on #13005
Unfortunately there's nothing like that at the moment - and I agree a command that prints the graph relationships among microarchitectures could be very useful . If in the meanwhile you want to peek at code you can have a look at [this json file](https://github.com/spack/spack/blob/develop/lib/spack/llnl/util/cpu/microarchitectures.json) where we store all the static data for the modeling of cpus.

[2019-10-08 17:56] bassenj commented on #13073
Yes, my regular script sources `setup-env.sh` again after bootstrapping.

[2019-10-08 19:47] alalazo commented on #13072
Can you edit your description to add more details? Stating which commit you are on or showing the minimum set of commands that reproduce your issue or attaching the config.log could help debugging the issue.

[2019-10-08 20:04] alalazo commented on #12963
@wspear I updated the tags as usually we use `feature` for core Spack features. Feel free to change anything if what I added seems not appropriate to you.

[2019-10-08 20:10] alalazo commented on #12864
@SheraLee Can we close the issue as solved or is there anything still to be investigated or clarified?

[2019-10-08 20:20] alalazo commented on #12722
Duplicate of #12864

[2019-10-08 20:21] alalazo commented on #12722
Closing as it seems a duplicate of another issue. Feel free to reopen if I am wrong on that.

[2019-10-08 20:21] #12722 closed

[2019-10-08 20:33] alalazo commented on #12988
Closing in the hope it was a transient issue, as I can't reproduce it:
[code]

[2019-10-08 20:33] #12988 closed

[2019-10-08 20:34] alalazo commented on #12988
Feel free to reopen if the issue comes back.

[2019-10-08 20:53] alalazo commented on #12052
@pat-s

[2019-10-08 21:57] hartzell commented on #13005
Ah, the ripple effect in action.  Apologies.  I'll mark them off topic, but (as usual with GUI's...), I can't find the button.  Don't see it under the three dots, or anywhere else obvious....  Clue, please?

[2019-10-08 22:01] hartzell commented on #13005
@odoublewen and I were chatting out of band.

`spack arch` digs into `/proc/cpuinfo` (on linux) to figure out what the host architecture is.

Is there some way to ask what the target is for a given compiler, e.g.  `spack arch %gcc4.8.5` (that doesn't actually work, but you get the idea)?  That would give us  programatic way to figure out what to expect Lmod modulefile names to look like and *etc*.

[2019-10-08 22:03] hartzell commented on #13005
and on a related note, is it *always* true that a particular release of gcc (e.g. gcc@4.8.5) supports up to a certain arch, or have distro's "patched" their gcc's to screw^H^H^H^H^Hgive us more options?

[2019-10-08 22:41] adamjstewart commented on #12864
@alalazo I wouldn't really say my `--dirty` workaround is a good solution. Ideally, `compilers.yaml` would let you set environment variables or module files to load. Currently, `LD_LIBRARY_PATH` gets wiped out even if it's in your module file.

[2019-10-09 04:38] mwkrentel opened #13101 "python3 breaks filter_file in papi package"
The recent change to `bin/spack` to prefer python3 breaks packages
that have trouble with python3 on systems that have both python
versions 2 and 3.

[code]

This is on a single node x86_64 workstation, Fedora 26, gcc 7.3.1.
`/usr/bin` has both python (2.7.15) and python3 (3.6.5).

Spack install papi hangs in `filter_file` at:

[code]

This goes back to Feb 2018 in #7358.  But now it's more seriou

[2019-10-09 05:38] alalazo commented on #13101
Can you check if #12765 fixes your issue?

[2019-10-09 06:43] alalazo commented on #13005
Complete answer is: distros can patch their GCC to extend the features officially supported at any given version. What we did so far was to look carefully through GCC changes and man pages and encode the official support there.

There's one case where we crossed one patch that was extending the support for microarchitecture specific optimizations, it's here:

https://github.com/spack/spack/blob/b0

[2019-10-09 07:31] alalazo opened #13103 "Add microarchitecture specific flags for Intel compilers"
As a user I want to have microarchitecture specific flags injected for Intel compilers so that I would compile by default code that is optimized for the target of the installation.

### Rationale

We already support this feature for GCC since #3206 and need to extend the capability to other compilers as well

### Description
What needs to be done is carefully reviewing docs and man pages, and enco

[2019-10-09 07:37] alalazo opened #13104 "Add microarchitecture specific flags for LLVM compilers"
As a user I want to have microarchitecture specific flags injected for LLVM compilers so that I would compile by default code that is optimized for the target of the installation.

### Rationale

We already support this feature for GCC since #3206 and need to extend the capability to other compilers as well

### Description
What needs to be done is carefully reviewing docs and man pages, and encod

[2019-10-09 09:06] pat-s commented on #13072
@alalazo Updated

[2019-10-09 09:16] pat-s commented on #12052
After updating Spack I cannot reproduce it anymore.

[2019-10-09 09:16] #12052 closed

[2019-10-09 09:29] alalazo commented on #13072
I don't see any `configure error` in the build log above :thinking: In any case, changing the issue tag from `bug` to `build-error`.

[2019-10-09 09:52] pat-s commented on #13072
@alalazo added the config.log to the first post.

[2019-10-09 12:13] #12010 closed

[2019-10-09 13:24] glennpj commented on #13103
Prior to #3206 I created the `auto_dispatch` variant, mostly to handle building fat binaries. If targets are implemented in the same way for Intel compilers as for GCC, one problem is that the "generic", ie., x86_64 target also injects compiler flags.
[code]
That would introduce potential conflicts with the `cpu_arch` variant. Would it be possible to have a setting that would turn off the target c

[2019-10-09 13:59] alalazo commented on #13103
For reference @glennpj PR with `auto_dispatch` is #11697

[2019-10-09 15:15] sunandosamaddar commented on #11531
Hi, I have below in `package.yaml`.
[code]

[2019-10-09 15:28] hartzell commented on #13005
Totally.  Thanks!

[2019-10-09 15:38] chuckatkins commented on #12963
@eisenhauer I suspect it would be trivial to add the evpath dependencies as packages, yes?

[2019-10-09 15:40] eisenhauer commented on #12963
Yes, presumably....   (cercs_env is no longer required by anything current.)

[2019-10-09 15:54] adamjstewart commented on #13104
@alalazo would this change require #12011?

[2019-10-09 16:38] davydden commented on #13048
It should be marked as conflict, I guess? Or patched from PETSc package.

[2019-10-09 17:00] tldahlgren commented on #13006
I am able to reproduce it as well.

[2019-10-09 17:15] tldahlgren commented on #13006
@hartzell @adamjstewart Can you confirm that #12733 resolves this issue for you?  (It removes the stage directory for me.)

[2019-10-09 18:03] mwkrentel commented on #13101
@alalazo Sorry, I found the old issue, but somehow I missed your
patch.

Anyway, yes, it does fix my problem.  Thanks!

[2019-10-09 19:51] mrzv opened #13111 "Uninstall specific architecture"
I'd like to uninstall all packages for a specific architecture. I just upgraded macOS from Mojave to Catalina, installed a number of new packages under Catalina, and now the old Mojave packages are getting in the way. Ideally, I'd like to just say `spack uninstall arch=darwin-mojave-x86_64` and get rid of all of them. I imagine a similar option would be helpful for removing everything built with a

[2019-10-09 20:31] michaelkuhn commented on #12945
There is actually code for this but it is not working, see #9845 (probably needs a rebase and some smaller changes).

[2019-10-09 21:11] gartung commented on #12648
As code has been added since you made this report is this the command that fails
https://github.com/spack/spack/blob/469bef880a402ce8d7b4b3b804c18f32884c6fb4/lib/spack/spack/relocate.py#L379

[2019-10-09 21:22] gartung commented on #12648
That would imply that this routine in Conda has the same  bug
https://github.com/conda/conda/blob/95e80f1487f3cc72bd57137af09377290fa2db64/conda/core/portability.py#L91

[2019-10-09 21:25] gartung commented on #12648
I need more info to try and reproduce this bug. Can you tell me the package you built and were trying to relocate when this error occurred? Does this error occur for any 'spack buildcache install' command when run with python3?

[2019-10-09 21:30] gartung commented on #12648
It looks like I missed the part where the text is encoded as utf-8
https://github.com/conda/conda/blob/95e80f1487f3cc72bd57137af09377290fa2db64/conda/core/portability.py#L66

[2019-10-09 21:39] gartung commented on #12648
@adamjstewart or @eugeneswalker can you confirm that this PR fixes the issue:
https://github.com/spack/spack/pull/13114

[2019-10-09 21:41] alalazo commented on #13111
You should be able to do that already by using the following command:
[code]
Sidenote: while double checking for your answer I discovered an issue with targets using the same syntax in which the constraint was not respected correctly:
[code]
Above one should just uninstall `x86_64`, not `haswell` and `broadwell`. There's a fix for that in the PR linked above.

[2019-10-09 21:57] alalazo commented on #13104
I wouldn't say it requires that, but they are related. Currently we could probably distinguish the two by the version suffix.

[2019-10-09 21:59] mrzv commented on #13111
Ah, great. I didn't know you could specify it this way. How about a compiler? In your example, if I wanted to remove anything under `gcc@9.0.1`, but not `gcc@9.2.0`, is there a way to communicate this to spack?

[2019-10-10 00:04] scottwittenburg opened #13115 "Rework the pipeline workflow"
## Introduction

In order to make the Gitlab CI pipeline easier to adopt and simpler to implement, we have begun work on an "inversion" of the current workflow.  Currently, the spack repo (or a gitlab mirror thereof) is the starting point, and when CI is kicked off on that repo, a custom environment repository (specified in CI environment variables) is cloned.  To "invert" that workflow would mean

[2019-10-10 00:05] scottwittenburg commented on #13115
@opadron @zackgalbreath Want to take a look and add your thoughts before I begin soliciting feedback from the wider community?

[2019-10-10 00:27] balay commented on #13048
perhaps its better to add the patch in instead of adding the conflict.

https://github.com/spack/spack/pull/13116

cc: @ulrikeyang

[2019-10-10 03:26] adamjstewart commented on #13111
Yep, just do:
[code]
Anything you can do with a spec can be used to specify which packages to uninstall. See:
[code]

[2019-10-10 04:20] naromero77 opened #13117 "Refactoring FLANG out of main LLVM package"
This occurs on Ubuntu 18.04 TLS with Spack develop branch.

I believe this line:
https://github.com/spack/spack/blob/develop/var/spack/repos/builtin/packages/llvm/package.py#L593-595

causes an unintentional conflict with GCC@8: and llvm@flang-20180921. Error message is show below.

The easiest way to fix this is to have `flang` appear as a suffix instead of a prefix. Then you would have:
[code]
T

[2019-10-10 04:26] naromero77 commented on #13117
@tinlun @nazavode @scheibelp @alalazo

[2019-10-10 04:45] naromero77 opened #13118 "F18 install method fails"
@certik @alalazo

The error occurs on Ubuntu 18.04 TLS.

Just do:
`spack install f18%gcc`

At the very end, you get this error:
[code]

So `f18` is build correctly, but the install command gives an error. This is because the bin subdirectory does not exist in the Spack *target* subdirectory.

As an example, I used the `install_tree` command for one of my Spack packages:
https://github.com/spack/sp

[2019-10-10 04:47] Sinan81 opened #13119 "py-astropy@2.0.14 build error: option -j not recognized"
### Steps to reproduce the issue
A recent addition to the package file for parallel build seems to break it for earlier versions as shown below. Once I disabled the `'-j', str(make_jobs),` build arg, v2.0.14 builds just fine. I am guessing the parallel build option must have been introduced in the later versions of the package.

[code]

### Platform and user environment

Centos 7.6

[2019-10-10 07:13] nazavode commented on #13117
Replying b/c I've been `git blame`-d: overhauling `flang` versions to fix the semantics of version operators looks like the most sensible approach to me while the `variant` way doesn't sound like it would fit (completely different repos between upstream and `flang`, for instance).

As a side note: `flang` has been put on a dead track and a complete rewrite from scratch is supposed to supersede it

[2019-10-10 08:30] sunandosamaddar commented on #11531
Thanks @adamjstewart!

[2019-10-10 13:29] alalazo opened #13122 "Remove support for the old YAML format in the spec database"
As a developer I want to remove support for the deprecated YAML database format so that there will be less vestigial code to maintain.

### Rationale

In #2189 we changed the database format from YAML to JSON for performance reasons. To ease the transition for users the PR made it possible to read the old YAML format and output the new JSON one transparently. Since the change happened three years

[2019-10-10 15:02] certik commented on #13118
@naromero77 thanks for reporting it. Would you mind sending a PR that fixes it for you? That would be a big help.

[2019-10-10 15:39] gartung commented on #12648
My test on a Centos8 system with python3 shows that the error occurs in other places. Back to debugging.

[2019-10-10 15:50] naromero77 commented on #13117
@nazavode Right, `f18` will supersede `flang` in 2020.

I still think that `flang` will get used for a while, so it would be totally worth it to fix the semantics of version operators.

If the git repos are completely different, would it make more sense to have a complete separate Spack package llvm-flang? Or would that lead to too much duplication?

[2019-10-10 16:23] nazavode commented on #13117
Given that spack already has a separate package for `f18` and `flang` is (probably) going to turn into a stale codebase in the long run (so the `flang`-related code would slowly become a relic inside the `llvm` package), this sounds like the most reasonable solution to me. I'm not a spack maintainer tho, better to ping someone here (@alalazo).

[2019-10-10 16:56] naromero77 commented on #13117
I am very agnostic about the solution. Fixing the semantics of the version operator is fine with me. I am not so familiar with all these packages, so I am hoping you are willing to fix it @nazavode

[2019-10-10 18:43] frobnitzem opened #13124 "Cryptic Errors on Invalid Dependency Options"
The update #12889 changed `fftw+float+double` to `fftw precision=float,double`, which makes downstream packages request the wrong variant.  Assuming all downstream packages need to be changed, there should be some explanation of what happened.

Instead, spack crashes with the cryptic error "KeyError: 'double'" or "KeyError: 'float'".

### Steps to reproduce the issue

[code]

### Error Message
[co

[2019-10-10 19:36] eugeneswalker commented on #12648
Thanks for taking a look at this! I would love to be able to use Spack/Python3 with buildcaches! I have not tried Python3/Spack with buildcaches in a while but I recall it being not specific to a package, but rather a general result of internal `spack buildcache install` logic.

[2019-10-10 19:50] mrzv commented on #13111
`spack help --spec` is very helpful. I wish I could find it before. Is it somewhere in the online docs?

[2019-10-10 20:02] adamjstewart commented on #13111
There is various info scattered throughout the docs on specs, but no specific mention of `spack help --spec`.

[2019-10-10 22:56] adamjstewart opened #13138 "spack test lists warnings about sysctl on macOS"
### Steps to reproduce the issue

[code]

### Information on your system

- macOS 10.15 Catalina

@alalazo

[2019-10-10 23:22] #13111 closed

[2019-10-10 23:50] #12651 closed

[2019-10-10 23:50] #12798 closed

[2019-10-11 01:21] adamjstewart commented on #13138
I guess the question here is whether this warning is important (in which case we should fix it) or unimportant (in which case we should hide it). Pytest has plenty of features for capturing warnings: https://docs.pytest.org/en/latest/warnings.html

[2019-10-11 02:38] adamjstewart commented on #13111
@mrzv I'm glad to see I'm not the only one adventurous enough to make the upgrade to Catalina! By any chance, have you managed to get GCC to install? That's the only package I've had problems with so far.

[2019-10-11 02:52] #13118 closed

[2019-10-11 03:12] gartung commented on #12648
Resolved with https://github.com/spack/spack/pull/13141 hopefully.

[2019-10-11 03:37] mrzv commented on #13111
@adamjstewart I haven't tried to install GCC from spack. Actually, I don't know that I've ever tried to install a compiler through spack.

The only real problem I've had on Catalina is that not a single version of perl seems to build, and oddly perl is a dependency for virtually every package. My solution was to tell spack to use perl from `/usr/local` (from Homebrew) and to forget about installin

[2019-10-11 04:52] adamjstewart commented on #13111
Really? Perl built just fine for me. I just updated the package to add a new version though.

[2019-10-11 10:33] alalazo commented on #13023
@hartzell Do you plan to tackle [Semantic Import Versioning](https://research.swtch.com/vgo-import) fully? Their model allows to have duplicates of the same package in the DAG as long as they are from different major versions. Do you have an idea how frequent it is that a package depends on `module A` both at version 1.X and 2.Y ?

[2019-10-11 12:51] ejcjason commented on #12520
Yes, the Spack installed openmpi also works for me. But if I want to use the self-installed version, it still doesn't work.

[2019-10-11 12:56] ejcjason commented on #12530
@becker33 I'm sorry that I just happened to delete Spack recently. But it should be one commit during the period from the end of July to the beginning of August. Recently I am not working with Spack, but if I meet the same problem in the future version, I will report it here.

Many thanks.

[2019-10-11 13:19] yucheng0622 commented on #10302
Hi~JiaweiZhuang,
I've used Spack to install m4, here is the error:

==> libsigsegv is already installed in /home/cmaq/cmaq_zl/package/spack/spack/opt/spack/linux-centos7-skylake_avx512/gcc-6.4.0/libsigsegv-2.12-tfjjpvcqlqv23rnrez6zjf3fdoeibzba
==> Installing m4
==> Searching for binary cache of m4
==> No binary for m4 found: installing from source
==> Using cached archive: /home/cmaq/cmaq_zl/packa

[2019-10-11 13:21] yucheng0622 commented on #10302
Hi~JiaweiZhuang,
I've used Spack to install m4, here is the error:

==> libsigsegv is already installed in /home/cmaq/cmaq_zl/package/spack/spack/opt/spack/linux-centos7-skylake_avx512/gcc-6.4.0/libsigsegv-2.12-tfjjpvcqlqv23rnrez6zjf3fdoeibzba
==> Installing m4
==> Searching for binary cache of m4
==> No binary for m4 found: installing from source
==> Using cached archive: /home/cmaq/cmaq_zl/packa

[2019-10-11 14:07] bartlettroscoe opened #13189 "Strange spack/build_environment.py error when trying to build libpciaccess on SNL CEE RHEL6 machine"
**snl-atdm-issue**

On a Sandia CEE RHEL6 machine, I get the following build error for libpciaccess:

[code]

I have no idea how to debug this.  This is pointing to a comment, not even a line of code.

Spack version:

[code]

[2019-10-11 14:14] alalazo commented on #13189
Can you try posting the same command with debug info on (`spack -d ...`)? Usually when it stops there it's because you got an exception during handling of another exception...

[2019-10-11 14:15] mrzv commented on #13111
Yeah, I realized later that I should have manually updated it to 5.30.0, but by then I was using the Homebrew version.

[2019-10-11 14:20] JiaweiZhuang commented on #10302
@yucheng0622 You probably just need to `apt-get install patch` (https://github.com/spack/spack/issues/11241#issuecomment-491949859)

[2019-10-11 15:01] opadron commented on #13115
I have a vague sense of what you are talking about, here.  It would be nice to explain this section in a bit more detail.

[2019-10-11 15:55] balay opened #13190 "specify preinstalled numpy in ~/.spack/packages.yaml"
Most python installs already have numpy installed.  However spack attempts to build it [when there is a py-numpy dependency]

What this the correct way
to specify numpy in ~/.spack/packages.yaml so that one can reuse both pre-installed python and nympy [and perhaps other python modules]

[2019-10-11 15:57] panjinjing opened #13191 "Copy tarball files in local mirror in stage"
I tried to install the newest gcc compiler 'gcc@9.2.0'. With the restricted web access, there is one dependency library wasn't installed successfully which failed with fetching from the mirrors in the internet.
I put downloaded tar.gz file in my local mirror folder as mentioned in https://spack.readthedocs.io/en/latest/mirrors.html.
Then I installed the mission package again, I found Spack still u

[2019-10-11 16:12] bartlettroscoe commented on #13189
Below is the detailed output from:

[code]

<details>

<summary><b>Detailed debug output:</b> (click to expand)</summary>

[code]

</details>

FYI: This build used to work just fine on this same SNL CEE RHEL6 machine a few months ago.  Therefore, something must have changed on the system but I don't understand why this should be so fragile since everything else we are building there (e.g. Trilinos

[2019-10-11 18:49] panjinjing commented on #13191
I got the wrong file in mirror location.
This is not a bug.

[2019-10-11 18:49] #13191 closed

[2019-10-11 19:54] adamjstewart commented on #13190
You would use the same installation prefix that you used for Python when you specify the path to the external numpy library. Same for all other Python packages.

[2019-10-11 20:25] balay commented on #13190
Thanks! I have the following in .spack/packages.yaml

[code]
And get the following:

[code]

Any idea what this erorr means or how to overcome it?

[2019-10-11 20:28] mwkrentel opened #13196 "autoconf: something in spec.py breaks autoconf"
One of my cron jobs tripped an alarm this morning ....

This commit seems to break the build for autoconf on power8/le.

commit 77444dff106524b0b33f664e5fe1f4512ec511d7 (HEAD)
Author: Massimiliano Culpo <massimiliano.culpo@gmail.com>
Date:   Wed Oct 9 23:32:27 2019 +0200

    ArchSpec: fix constraint satisfaction for targets
    fixes #13111

This is on RH 7.3, power8/le, gcc 6.4.0 (from module).

[2019-10-11 20:30] mwkrentel commented on #13196
I should add that it only breaks on powerpc64/le.
It works on x86_64.

[2019-10-11 20:42] alalazo commented on #13196
This should be fixed by #13188

[2019-10-11 20:47] Sinan81 commented on #12782
just randomly saw this issue. I am wondering if you tried installing dakota with boost@1.69 and gcc@7.4 or @8.3. Sometimes the latest software version is not the greatest!

[2019-10-11 20:58] mwkrentel commented on #13196
Yes, indeed!  #13186 does fix this.
Sorry, I guess I was fixated on #13188 and missed this.

Thanks!

[2019-10-11 21:25] adamjstewart commented on #13190
@balay This bug will be fixed by @alalazo's #11115, although I think I can hack the package to fix it in the meantime. Also see #9149. The issue is that currently, Spack calls `setup_environment` twice; once to set up the build environment, and again to set up the run environment (module files). In the numpy package, I try to see which BLAS/LAPACK library has been chosen in order to set environmen

[2019-10-11 21:38] balay commented on #13190
Thanks. For now - I have a workaround - but curious about the correct usage. Glad there is a fix.

here is a related issue - I guess with mixing build stuff with run stuff..

Instead of `python@3.6.6: /usr` - if I use `python@3.6.8: /usr` [this is the correct version of the installed python package]

[code]

Part of the reason for this is - installing py-libensemble for knl - is best with intel co

[2019-10-11 21:44] adamjstewart commented on #13190
Yes, your workarounds of either lying about the Python version or specifying `foo%intel ^python%gcc` are both valid. I really wish we could get newer versions of Python to build with Intel though. That's a strong reason that #10319 hasn't been merged yet.

[2019-10-11 22:25] bartlettroscoe opened #13198 "Add standard variant 'find-on-system' to many of the low-level ubiquitous packages to avoid Spack trying to build them"
**snl-atdm-issue**

One major portability problem with Spack is that it tries to build every low-level library from scratch and often there are build errors in those libraries.  Examples include #13189 and #12143.  In my limited experience Spack (less than 100 hours of work), this appears to be the biggest portability problem with Spack.

 In my 20+ years of building CSE and HPC software, I have n

[2019-10-11 23:06] tgamblin commented on #13198
@bartlettroscoe: something to solve this is on the agenda for this fall, but it is not the solution you suggest.  Specifically:

We already have the externals mechanism for this.  See this milestone: https://jira.exascaleproject.org/browse/STNS02-14, where we would be extending the existing compiler detection to find things like build dependencies and common libraries and add them as externals.  W

[2019-10-12 02:31] bartlettroscoe commented on #13198
@tgamblin, that says:

That sounds like Spack may not actually auto-find standard library dependencies in that deliverable (note due til 4/30/2020).

For each system we need this to work on, I will have to just manually create a `preinstalledPackages.yaml` file to get the job done in the meantime.

[2019-10-12 04:21] #13196 closed

[2019-10-12 18:08] bartlettroscoe opened #13204 "Native support for clang+gfortran when spack builds both llvm and gcc would be nice"
CC: @fryeguy52

## Feature request

Can spack be updated to automatically provide `f77` and `fc` in generated `compilers.yaml` file when it sets up the block for `clang@<version>` using the matching Fortran compiler used to build the `llvm@<version>` package?  That would save people from having to manually post-modify the file `compilers.yaml` after the block:

[code]

was added by `spack find com

[2019-10-13 14:20] pat-s commented on #13072
Updated to ea4f9ebbde50ae3606a6d8955512bc1b54299c51, issue persists.

[2019-10-13 14:52] alalazo commented on #13072
Changed the title to sound less alarming: I just built an entire stack of software using `target=x86_64` with a spec matrix :slightly_smiling_face:

[2019-10-13 15:10] pat-s commented on #13072
Hm. The problem for me is not even just `r`, any formula that needs some `gcc` compiling fails with that error (even when using the system compiler gcc@4.8.5).

If I build `x86_64` on the main node (which has actually `arch = zen`) everything is fine.
Could it be related to the fact that the Spack Root is shared via NFS to the machines that show the problems?

[2019-10-14 09:20] alalazo commented on #13006
@tldahlgren I can confirm that #12733 resolves this issue for me too (stage dirs get deleted after `spack clean -s`).

[2019-10-14 09:55] alalazo commented on #351
What's the status with this issue?

[2019-10-14 10:10] alalazo commented on #1184
I don't think we should document this. This is essentially an issue that asks for a new concretizer that could take into account what's already installed before resolving constraints in dependencies. I would close it as we have many variations of the same request in other issues .Feel free to click the close button if you agree (just going through old issues and checking what can be closed with sm

[2019-10-14 10:20] alalazo commented on #1743
We should definitely go with [black](https://pypi.org/project/black/)!

[2019-10-14 13:27] mdorier opened #13210 "Spack failing after loading python"
I'm on a Debian 10 machine, which has python 2.7.16 installed in system directories.
I have installed Python 3.7.4 through Spack. As soon as I load this package (or if it is loaded as part of a `spack load -r` of another package) the next spack commands I issue fail. For example, `spack load` gives me `==> Error: Unknown command: module` (even though the module command is available on the command

[2019-10-14 14:09] alalazo commented on #13210
Can you check your build logs and see if there were errors when compiling Python's standard libraries?

[2019-10-14 14:14] mdorier commented on #13210
Unfortunately I don't have the logs anymore. You think Python didn't find OpenSSL and silently skipped it? (entirely possible)

[2019-10-14 14:24] alalazo commented on #13210
Asking because it happened so many times to me... Python build will happily proceed without part of the standard library. If that's the case you'll find warnings in the logs.

[2019-10-14 14:26] alalazo commented on #13210
Maybe you already know it, but if you still have that Python installed the logs are copied in one of `<prefix>/.spack` subfolders so that you can still inspect them.

[2019-10-14 14:32] mdorier commented on #13210
Thanks, I didn't know. I can indeed see the following in the logs:

[code]

That could be the problem on my Debian machine. On Theta it's a different error, though, when loading python. I'll update the issue when I get the chance.

[2019-10-14 16:09] gartung commented on #12648
This is now resolved in the head of develop and should go into the next tagged version of spack.

[2019-10-14 16:09] #12648 closed

[2019-10-14 16:20] KineticTheory commented on #12547
This particular permissions issue seems to stem from the `font-bh-ttf` font resource.  At least for me, removing this font from the list allows `font-util` to install.

[code]

A better fix is to understand why this font creates a permission problem. I don't understand Linux fonts so I don't really know how to track this down further.

[2019-10-14 16:47] KineticTheory commented on #11551
FWIW - I'm seeing this exact same error reported by the `flex` build system.  I'm using gcc@8.1.0 on a RHEL7 machine.  Luckily, I can point to a system installed version of _flex_ via `packages.yaml` as a work around.

[2019-10-14 17:01] DarylGrunau opened #13212 "Installation issue: llvm; spack environment; external compiler; bad rpath"
### Steps to reproduce the issue

[code]

### Platform and user environment

[code]

- My relevant `spack.yaml` Environment bits:
[code]

- My relevant `../../../../etc/spack/linux/packages.yaml` bits:
[code]
- My `../../../../etc/spack/linux/compilers.yaml`:
[code]

### Additional information

This is most certainly an rpath issue - llvm is building intermediary binaries to execute during its com

[2019-10-14 17:02] DarylGrunau commented on #13212
Please let me know if any part of issue #12789 applies to this problem.

[2019-10-14 17:09] scottwittenburg commented on #13115
ping @paulbry

[2019-10-14 17:44] scottwittenburg commented on #13115
ping @dnic

[2019-10-14 18:22] trws commented on #1743
Having now used it on flux for a while, I wholeheartedly support the use of black for formatting any python project.  No knobs to argue over, and small diffs.

[2019-10-14 20:37] SheraLee opened #13215 "externalMPI: C compiler cannot create executables (on PSC Bridges )"
I am trying to create a package with external MPI on PSC Bridges. Spack can find the module correctly, and I can build with %intel ^mvapich2,  but for other compiler and MPI when configuring there "configure: error: C compiler cannot create executables".

The package can be configured successfully without spack when using  `./configure --enable-fftw CXX=mpiicpc CC=mpiicc FC=mpiifort
`

One of my g

[2019-10-14 21:11] tgamblin commented on #1743
I've been using black on [LLNL/hatchet](https://github.com/LLNL/hatchet) and I think we'll end up switching to it.  I would like to first have CI in place to actually push blackened commits on top of submissions that do not use Black -- otherwise it'll be an obstacle to contributing.

[2019-10-14 21:16] tgamblin commented on #13198
@bartlettroscoe: we may be able to do this sooner rather than later -- but I'll have to see how current tasks go.

[2019-10-15 00:24] tgamblin commented on #12547
@hartzell: do you have any font wisdom you can share on this one?

[2019-10-15 00:50] #12002 closed

[2019-10-15 03:35] #7358 closed

[2019-10-15 03:35] #13101 closed

[2019-10-15 08:46] mdorier commented on #13210
I can confirm that reinstalling Python made things work on my Debian machine. The problem was cause by the fact that I had told spack (through packages.yaml) that I have openssl installed on the system (since `openssl version` returned me something), but I actually had only the program, not the library and headers, hence Python wasn't building with SSL support.

I'm going to close this particular

[2019-10-15 08:46] #13210 closed

[2019-10-15 13:37] ReinhardPrix commented on #11771
it's down again apparantly

[2019-10-15 17:53] KineticTheory opened #13221 "Installation issue: Qt-5.13.1 fails to compile with gcc@9.2.0"
**Summary**: I'm having trouble building new versions of qt on RHEL7 with gcc.

### Steps to reproduce the issue

[code]

### Platform and user environment

Please report your OS here:
[code]
### Additional information

* I had the same error for `qt@5.12.5 % gcc@9.2.0` and  `qt@5.13.1 % gcc@8.3.0` .
* I was able to build `qt@5.11.3 % gcc@8.1.0`, but I need version `5.12:`
* Google doesn't show an

[2019-10-15 18:07] CalvinDSeamons opened #13223 "Spack broken out of the box on Cray (cle6.0)."
Cloning the most current version of spack onto a Cray machine with OS cle6.0 results in the following error:
[code]
I can work around this by unloading python2 and appending python 3 to my path. On `cle7` and `toss3` machines python2 works fine and spack runs normally without having to change this.  </br>
Any recommendations would be appreciated.

[2019-10-15 18:20] #13005 closed

[2019-10-15 19:01] CalvinDSeamons opened #13225 "Installation issue: go-bootstrap package failing on cle7.0"
### Steps to reproduce the issue

[code]

### Platform and user environment

[code]

[2019-10-16 00:03] pibion opened #13227 "Installation issue: cmake"
### Steps to reproduce the issue

[code]

### Platform and user environment

I am running a centos7 docker container, with gcc@4.8.5 installed on the system:
[code]

I'm confused by this error; I thought that a gcc version greater than 4.8.1 should implement the full C++11 standard.

### Additional information

It seems that my spack installation is able to build some packages correctly:
[code]

R

[2019-10-16 02:47] paulbry commented on #13225
I've had this same issue with `ppc64le`, its due to the fact that support for these wasn't added until Go 1.5 and after 1.4 the toolchain is written in go.

I'm curious if there is a way this could be handled completely by Spack.

[2019-10-16 03:37] adamjstewart commented on #13223
It looks like your Python 2 installation was built without `pyexpat` support. To solve this, you'll need to rebuild Python with the `expat` dependency present at install time. You could complain to your sys admins, or you could run Spack with Python 3 instead. You can also build `python+pyexpat` with Spack.

[2019-10-16 03:39] adamjstewart commented on #13215
Can you share your `packages.yaml`? It sounds like Spack isn't parsing the module file correctly, so it ends up thinking your external package is installed in `None`. You could also try using the path to the installation instead of the module file.

[2019-10-16 03:41] adamjstewart commented on #13190
@balay did you have any other issues using an external Python installation, or can we close this issue?

[2019-10-16 04:03] balay commented on #13190
sure we can close this. thanks!

[2019-10-16 04:03] #13190 closed

[2019-10-16 09:14] healther opened #13232 "Build error: GCC 9.2.0 on Catalina"
### Steps to reproduce the issue

[code]

### Platform and user environment

Please report your OS here:
[code]

This seems to be a partially known issue for example [gnu bugzilla](https://gcc.gnu.org/bugzilla/show_bug.cgi?id=90835#c12), and [stackexchange](https://apple.stackexchange.com/questions/372305/compiling-gcc-on-catalina) with a proposed solution essentially ending up patching system hea

[2019-10-16 09:37] Try2Code commented on #12505
I added ```filter_compiler_wrappers()``` to the ruby package, but reinstalling didn't help. still get this
[code]

[2019-10-16 09:44] healther opened #13233 "Changing a patch, leads to NoSuchPatchError"
`astyle` is a random package (chosen because of its lack of dependencies)

Add some patch to it
[code]
do `spack install astyle && spack uninstall astyle`, change the patch, in any way
[code]

For ease of reproduction: https://github.com/spack/spack/commit/b55db69c6d911dfceef18b192c8a8e9cdd63ff2f
do the `spack install` on the two commits to reproduce the problem

Imo this should not happen, as the

[2019-10-16 10:00] healther commented on #13232
I have a test build running right now, will open a PR when it's done

[2019-10-16 11:34] adamjstewart commented on #13232
#13202

[2019-10-16 12:21] alalazo commented on #13223
On top of what @adamjstewart says, I find strange that if you have the Python 2.7.X module loaded the error says:
[code]
which means that default locations for Python 3.4 are still in `sys.path`? Also, note that Python 3.4 is not officially supported by Spack - for Python 3 we start testing from 3.5.

[2019-10-16 17:27] DarylGrunau commented on #13212
Creating explicit rpath entries in the flags: section fixes this problem:

[code]
This is hinted at in https://spack.readthedocs.io/en/latest/build_systems/intelpackage.html#integrating-external-compilers

[2019-10-16 17:27] #13212 closed

[2019-10-16 18:23] chchang6 commented on #12782
Thanks @Sinan81. Gave 7.4 + Boost 1.69.0 a try, got what follows. The reported error doesn't make sense on the surface, as Boost build includes signals by default (and I can see it in the spec).

spack install dakota@6.9%gcc@7.4.0^boost@1.69.0
...
==> Building dakota [CMakePackage]
==> Executing phase: 'cmake'
==> Error: ProcessError: Command exited with status 1:
    'cmake' '/tmp/cchang/spack-st

[2019-10-16 19:13] healther commented on #13232
Do you mind separating the patch part out of that PR? This (should?) break all builds of gcc right now and the `disable-bootstrap` part at least requires consideration

[2019-10-16 19:14] michaelkuhn commented on #13221
I had the same problem before #12765 was merged. Does your checkout include that PR already?

[2019-10-16 19:15] eugeneswalker opened #13237 "buildcache create ends without finishing, gives Warning: 'Name' object has no attribute 's'"
Edit: Here is the output of running the buildcache create command with debug flag:
```spack -d buildcache create ... ```
LOG HERE ---> [bc_create.log](https://github.com/spack/spack/files/3744784/bc_create.log)

@becker33

`spack buildcache create` sometimes fails to finish, giving the warning shown below. I have only observed this with a small set of packages, which I will attach below -- the use

[2019-10-16 20:29] alalazo commented on #13104
The optimization flags for LLVM seem to be of the form:
[code]
more info on the assembler [doc page](https://llvm.org/docs/CommandGuide/llc.html).

[2019-10-16 21:19] tldahlgren opened #13240 "Investigate access function argument to `stage.create_stage_root`"
(Follow on to feedback on #12733.)

Although I read your point at https://github.com/spack/spack/pull/12733#discussion_r327760429, my general preference is still to avoid monkeypatching system functions whenever possible. For example could `stage.create_stage_root` take an extra parameter that is an object which can determine the accessibility of file paths? In that case `test_create_stage_root` c

[2019-10-16 21:27] adamjstewart commented on #13223
Oh, good point. Make sure your `PYTHONHOME` and `PYTHONPATH` are correctly set.

[2019-10-16 21:28] adamjstewart commented on #13104
Damn, LLVM + GCC is very common, especially on macOS. Maybe it's time we figure out a better way to handle mixed compiler support.

[2019-10-16 21:29] adamjstewart commented on #13232
Fair enough, I may just take out the bootstrapping thing for now and leave that for a separate PR.

[2019-10-16 21:39] #12633 closed

[2019-10-16 21:55] #13006 closed

[2019-10-16 21:56] sknigh commented on #9388
@alalazo Any update on porting ```--strip-binaries``` upstream? A feature like this is needed more than ever.

[2019-10-17 03:17] KineticTheory commented on #13221
@michaelkuhn I just double checked the code base that I am using.  Indeed, I already have #12765 merged into my _spack_ sandbox and I am still getting this error.  Also, after that initial error, I see a bunch of these related errors:

[code]

[2019-10-17 07:16] healther opened #13245 "rpath error on Catalina, symptom: bzip2 doesn't work"
When rebuilding my software stack on Catalina I encountered the following build error on Catalina
[code]

The problem originates in the `bzip2` binary installed by spack. Calling it even without arguments leads to
[code]

Reproduction should be possible by doing `spack install bzip2` and calling the installed binary on any OSX Catalina system.

@adamjstewart I assume you also rebuild your software

[2019-10-17 07:43] Sinan81 commented on #12782
I also gave it a try and got the same error. Afterwards, I look into boost installation, and it turns out boost signals library wasn't built. It seems this is true for both boost@1.69 and boost@1.70. So, you might want to downgrade to boost@1.68 for now. We should definitely create a separate issue for this.

Once a good boost installation is selected, configuration step completes just fine. But b

[2019-10-17 07:44] michaelkuhn commented on #13221
Strange. These errors apparently stem from the fact that configure cannot find libatomic (which is provided by GCC). I hacked around this locally but then configure cannot find some other system libraries (I think it was libdl). Since #12765 fixed it for me, I gave up creating a workaround.

[2019-10-17 08:45] alalazo commented on #9388
@sknigh No update from my side. I think though that we'll start working relatively soon on this, possibly immediately after SC19. Currently we are trying to get a new release cut - see [here](https://github.com/spack/spack/projects/10) - and that's absorbing most of the development effort.  After that we'll focus more on integration with container runtimes and minimizing the size of what's install

[2019-10-17 14:35] eugeneswalker opened #13247 "Pkgconf w/ Py 3.8: Error: TypeError: descriptor '__repr__' requires a 'str' object but received a 'syaml_int'"
`spack install lmod` on ubi7 using newest spack w/ python 3.8, along the way it tries to install pkgconf@1.6.3 and the build fails with the following error:

[code]

[2019-10-17 14:37] alalazo commented on #13247
At a first glance it seems we need to adapt to point 4 of the [changes in Python behavior](https://docs.python.org/3/whatsnew/3.8.html#changes-in-python-behavior).

[2019-10-17 15:03] eugeneswalker commented on #13247
Is this a hard change to implement? Are there many points of contact for this throughout the spack codebase?

[2019-10-17 15:30] KineticTheory commented on #13221
* [Possibly related information](https://bugreports.qt.io/browse/QTBUG-46949?jql=text%20~%20%22Q_ATOMIC_INT64_IS_SUPPORTED%22) - but for older Qt versions.

[2019-10-17 16:32] bartlettroscoe opened #13248 "Updated spack 'develop' fails to build libsigesgv on RHEL6 with native gcc@4.4.7 (wrong arch)"
snl-atdm-issue

I just tried upgrading Spack by pulling the Spack 'develop' version:

[code]

Running:

[code]

with this spack.yaml file:

<details>

<summary><b>spack.yaml</b></summary>

[code]

NOTE: `packages_tools_for_compiler_build.yaml` is empty and:

`common_options.yaml` is:

[code]

</details>

it showed the following error:

[code]

The full output is shown below.

<details>

<summary><

[2019-10-17 16:34] bartlettroscoe commented on #13248
@tgamblin and @becker33, is there any automated testing for Spack on RHEL6 posted to a CDash that I can use to determine what versions of Spack 'develop' may be safe to upgrade to?

[2019-10-17 16:42] bartlettroscoe commented on #13248
Detailed log output from our atdm-spack/install-trilinos-env.sh script including debug invocation of `spack -d install --versbose -j20` is shown in:

* [install-trilinos-env.gcc-7.2.0-openmpi-1.10.1.out.txt](https://github.com/spack/spack/files/3740367/install-trilinos-env.gcc-7.2.0-openmpi-1.10.1.out.txt)

The detailed log output from Spack for this broken package are:

* [spack-cc-libsigsegv-4wg

[2019-10-17 16:53] scheibelp commented on #13248
After the build fails, can you proceed to the build directory, invoke the failing compiler command, and include the output here:

[code]

[2019-10-17 17:17] #2016 closed

[2019-10-17 17:28] adamjstewart commented on #13245
@healther I did not encounter this issue. Can you post the output of:
[code]
For the record, when I run the `bzip2` executable Spack installs, it successfully finds its libraries and doesn't crash like you showed.

[2019-10-17 18:09] bartlettroscoe commented on #13248
@scheibelp, the machine where I was just working went down.  When it comes back, I will try this out.  Thanks!

[2019-10-17 18:47] naromero77 commented on #13117
@nazavode I wanted to ping you again since its been a week. If we are in agreement on the fix (semantics), I can make an attempt to fix this if you are too busy to address it in the near future.

[2019-10-17 19:18] healther commented on #13245
[code]
Not that I know what any of that means^^

Mh that is interesting. Are you using `zsh` or `bash`? That's about the only thing where I would expect anything special to have come from. Otherwise I'm running a completely standard `spack/develop:HEAD` and (for somewhat unrelated reasons) I did a `git clean -dfx` and a `rm -r ~/.spack`, so there _should_ have been no state surviving...
That being

[2019-10-17 19:53] adamjstewart commented on #13245
My `otool` output looks the same, with the `@rpath/libbz2.1.dylib`. I'm still using Bash, and I also added `gfortran` from `gcc@9.2.0` to my native clang compiler. @gartung can you take a look at this issue? You probably know more than I do about macOS linking.

[2019-10-17 20:35] carns commented on #12951
Anyone have an idea for a workaround?  This gets more problematic for debugging as origin/develop (and all of its package updates) diverges further from the working revision of spack.

[2019-10-17 21:10] gartung commented on #13245
Try 'otool -l | grep -A3 LC_RPATH' and see if the rpath is set correctly.

[2019-10-17 21:44] SheraLee commented on #13215
Thank you so much for your help! I am still a little unsure about how to write package.yaml. This is what I have wroten, and the module display MPI output:
[code]
[code]

[2019-10-17 21:55] adamjstewart commented on #13215
Okay, your `packages.yaml` looks fine. I would first try switching from using `modules` and the module file name to using `paths` and the installation prefix. @alalazo @becker33 may also want to check out our module parsing syntax and see why it isn't finding the correct installation prefix.

[2019-10-17 22:57] SheraLee commented on #13215
Thank you for your reply.  Spack now can find and install with intel-mpi,  but it fail in building when using  %intel ^openmpi, i am think Spack do find the openmpi but i am not sure what is the problem.
Thanks again!
[code]
[code]

[code]

[2019-10-17 23:29] adamjstewart opened #13256 "Python quit unexpectedly, Python 3.8.0 on macOS Catalina"
I'm getting the strangest error message. When I build Python 3.8.0 on macOS Catalina, everything builds fine, and all the libraries appear to be linked correctly, but when I try to build something like numpy or scipy that depends on Python, I get one of those "would you like to report this bug to the developers" pop-ups that says "Python quit unexpectedly".

### Steps to reproduce the issue

[code

[2019-10-17 23:42] adamjstewart commented on #13256
The only error I see when building Python is:
[code]
but I'm building `python~tk`. I also see this during installation:
[code]

[2019-10-17 23:48] adamjstewart commented on #13256
Homebrew and Anaconda haven't updated to Python 3.8 yet, so it's hard to tell if this is a bug in Python or not.

[2019-10-18 00:02] adamjstewart commented on #13256
For the record, I don't see any of these build errors with Python 3.7.3. The build script correctly detects that Tk/Tcl are not available and never tries to build Tkinter. I'm beginning to think that this is a Python 3.8 bug. The unit tests also don't pass.

[2019-10-18 03:22] wenlibin02 commented on #12955
I had the same problem. If you do not need the parallelism via OpenMP, you may try the following to explicitly exclude it:
$ spack install quantum-espresso@6.4.1+mpi~openmp %gcc@8.3.0

As suggested in https://www.quantum-espresso.org/Doc/user_guide/node16.html, QUANTUM ESPRESSO has a well-established MPI parallelism scheme, it should be OK not to use OpenMP.

[2019-10-18 05:30] healther commented on #13245
Your command comes back completely empty, just taking all `LC`s looks like:
[code]

[2019-10-18 06:11] oracleLee commented on #12955
It works well !  Thanks a lot.

[2019-10-18 06:11] #12955 closed

[2019-10-18 13:33] chuckatkins commented on #13227
It doesn't and is still lacking quite a bit, esp. w.r.t to standard libraries (the regex implementation, for instance, is a no-op until 4.9+).  All that being said though, 4.8.5 should be sufficient to build and install `cmake`.  Unfortunately I'm not able to reproduce the error (i.e. builds and works for me on CentOS 7 w/ gcc 4.8.5).

Can you post the `spack-src/Bootstrap.cmk/cmake_bootstrap.log`

[2019-10-18 13:56] gartung commented on #13245
So 'otool -D' should show that the library ID used when linking with other binaries is @rpath/libbz2.dylib. The next step is to check the output of 'otool -L bzip2' and make sure the LC_RPATH field has path set to the install prefix.

[2019-10-18 14:20] michaelkuhn commented on #13221
It seems that my fix (#13234) for #12765 broke qt again.

@KineticTheory Can you please check whether #13262 fixes the problem for you, too?

[2019-10-18 15:03] healther commented on #13245
[code]

[2019-10-18 15:04] gartung commented on #13245
Sorry I mean
'otool -l bzip2'

[2019-10-18 15:08] healther commented on #13245
Assuming that this was a capital i it returned a longer output, see

https://gist.github.com/healther/4024695ecc3fe3222408bdcde97a9167

with (hopefully all outputs)

[2019-10-18 15:10] gartung commented on #13245
Not capital I lower case L. See man otool

[2019-10-18 15:10] gartung commented on #13245
My guess is that LC_RPATH was not set or set incorrectly.

[2019-10-18 15:26] healther commented on #13245
I'm doing `otool -l <path/to/spack/opt/.../bzip2/bin/bzip2` (lowercase L) as I don't have the `bzip2` binary on my global `PATH`, I assume that is still okay. There is no `LC_RPATH` entry at all. Would this show up in the build-log?

In there I find
[code]

so I assume things worked at some point during the build

[2019-10-18 15:30] gartung commented on #13245
Having no  LC_RPATH set in bzip2 would be the problem. @adamjstewart  is something done to bzip2 after the install?

[2019-10-18 15:36] gartung commented on #13245
@adamjstewart It looks like the bzip2 package will need a call to
install_name_tool -add-rpath <prefix>/lib  <prefix>/bin//bzip2
as a post install step.

[2019-10-18 15:39] healther commented on #13245
Mh okay, doing things the full spack-way, i.e. with `spack load -r bzip2` `bzip2` no longer errors out.

Before I was using the view from my environment and I was putting `bin`, `lib`, `man` on `PATH`, `LIBRARY_PATH` and `MANPATH` (initially) or trying to use the binary `bzip2` directly without adding any of spack's directories to *PATH in my environment. I also didn't have `environment-modules` i

[2019-10-18 15:44] gartung commented on #13245
If you have SIP enabled, which is the default, then DYLD_LIBRARY_PATH is unset. If the ancient bzip2 scripts relied on DYLD_LIBRARY_PATH to set LC_RPATH, then that might explain why LC_RPATH was not set in your bzip2 binary.

[2019-10-18 15:44] gartung commented on #13245
All of our macOS build machines have SIP disabled for this reason.

[2019-10-18 15:53] gartung commented on #13245
You can check if you have SIP enabled with
csrutil status

[2019-10-18 16:02] gartung commented on #13237
What happens if you run
spack build cache create -a /oeg4auw

[2019-10-18 16:17] gartung commented on #13237
Ah I see you are using the create relative option. I am trying to debug the warning now.

[2019-10-18 16:20] eugeneswalker commented on #13237
I added debug output to the top of the post, although using the exact command I was using, not the one you suggested in your first reply -- although based on your second reply I think this may be sufficient? Thanks for taking a look!

[2019-10-18 16:59] gartung commented on #13237
@becker33
The warning is coming from this line
    spec_dict['full_hash'] = spec.full_hash()
because the spec does not have a 'full_hash'.

[2019-10-18 17:01] naromero77 commented on #13117
@nazavode @alalazo @adamjstewart

I am looking through llvm Spack package which the flang Spack depends (specified through a unique version system).

Now that I am reading @nazavode comments more carefully. I think it would make more sense to move the llvm-flang fork (buried in the Spack LLVM package) into its own Spack package, calling llvm-flang. The problem is that llvm-flang uses a different v

[2019-10-18 17:04] SheraLee opened #13264 "How other can use created package"
I am pretty new to Spack, I am not sure if what I am asking about makes sense.

I have written the python.py for our package, and I can install our package properly for myself. I want to share it with my teammates, but not sure how should we do it. For now, I just ask them to call `spack create ` and then copy-paste my python.py into the auto formed one. I wonder if there is a better way to do it?

[2019-10-18 17:23] adamjstewart commented on #13264
@SheraLee The best way is to submit a pull request here, then not only your team but thousands of other users can use your package! See https://spack.readthedocs.io/en/latest/contribution_guide.html for details.

[2019-10-18 17:27] adamjstewart commented on #13245
That's so strange, I have an almost identical setup but I don't have any problems with bzip2:
[code]
I've been trying to add `fix_darwin_install_tool` to packages as I find them, but if someone wants to modify it to always replace `@rpath` with the actual path, I would be fine with looking for that too.

[2019-10-18 17:39] gartung commented on #13237
Drilling down the warning comes during this call
https://github.com/spack/spack/blob/b4383825be628e3493da316937995df4fef9ab00/lib/spack/spack/util/package_hash.py#L126

[2019-10-18 17:47] gartung commented on #13237
I am testing with swig. The swig dependency pcre has its buildcache created with no warning. The difference as far as I can tell is that swig has not patches applied.

[2019-10-18 18:15] gartung commented on #13237
#13265 "fixes" the problem by skipping the call to full_hash() when 'buildcache create -r ' is called. I think it has something to do with the fact that the package has no patches. I am not sure why using the relative rpath option exposes this bug.

[2019-10-18 18:24] eugeneswalker commented on #13237
What is different about these packages than other ones that causes this to be a problem? Because I use the exact same spack buildcache command in the exact same way with a ton of other packages and in almost all cases this doesn't happen.

[2019-10-18 18:55] healther commented on #13245
[code]
But that was already in Mojave right? However there I most likely had `environment-modules` installed and the modules manually set `DYLD_LIBRARY_PATH`.

The `install_name_tool -add-rpath prefix/lib prefix/bin//bzip2` thing should then be done for all rpathed binaries on OSX right?

[2019-10-18 19:02] gartung commented on #13237
As far as I can tell yes. The full_hash checks were not added by me so further debugging will have to be done by @becker33 et al.

[2019-10-18 19:40] gartung commented on #13237
I reverted the previous "fix" and put a try except around the fmm.visit(root) call to catch the warning. This prevent the highest level try except statement from catching the warning and bailing on the .spack file creation. I verified that full_hash is now written to the yaml file in the .spack file.

[2019-10-18 19:45] adamjstewart commented on #13245
I run it from the installation prefix. I have no special environment variables set, I don't use modules.

[2019-10-18 20:36] SheraLee commented on #13264
Thank you for your reply! Since we are still testing our package, is there any we can share the package privately?

[2019-10-18 20:38] adamjstewart commented on #13264
You can create a shared repository containing the packages you want available to your team: https://spack.readthedocs.io/en/latest/repositories.html

[2019-10-18 22:14] adrienbernede commented on #3642
Hello @alalazo,

I am having the same issue: trying to define an additional phase in a simple "Package", which behaves like a configure phase when using spack configure.

Did you come up with a way to do that ?

Thanks,

PS:
By the way, could we imagine a mechanism to stop a package "installation" at any phase mentioned in that package ?
Let’s say I define my-package with:
`phases=['init','conf','

[2019-10-19 01:30] bartlettroscoe commented on #13248
Might the problem be that the updated spack is detecting the wrong arch for my machine?

Before the update of Spack, the concrezation was producing:

[code]

After the update of spack it produced:

[code]

I will try forcing spack to use `arch=linux-rhel6-x86_64`.

[2019-10-19 01:38] bartlettroscoe commented on #13248
Okay, forcing the arch with the spack.yaml file:

[code]

it seems to be building successfully:

[code]

Why is Spack coming up with the wrong arch?  This is a big problem because I rely on `spack arch` to figure out directory paths when building packages.yaml files for installed packages.

Here is what it is returning:

[code]

Is there some way to tell spack what the right arch is in all of its

[2019-10-19 01:43] bartlettroscoe commented on #13248
For now I can script around the problem by adding an argument `--arch <arch>` in our trilinos-install-env.sh scirpt and then write that into all of the generated spack.yaml files.  I will try that.  (More scripting to get spack to work :-) )

[2019-10-19 03:11] KineticTheory commented on #13221
@michaelkuhn I just finished testing #13262. Your PR fixes this issue for me.

[2019-10-19 04:28] lisanhu commented on #13247
I'm having the same issue with the tree package. The code is very short.
[code]
It says there's something wrong with the last line `make(*args)`. I've printed out `*args` and it looks fine.
I wish to check what's in the make function, could anyone please tell me where to find the code for the make function?

[2019-10-19 05:09] pibion commented on #13227
Okay, good to know about gcc 4.8.5.  I've attached the `spack-src/Bootstrap.cmk/cmake_bootstrap.log` below.

[cmake_bootstrap.log](https://github.com/spack/spack/files/3746218/cmake_bootstrap.log)

I'm running spack in a centos7 docker container, in case that helps:

[code]

[2019-10-19 07:45] wenlibin02 commented on #12695
Same issue here. I submit a [pull request](https://github.com/spack/spack/pull/13261) to resolve the issue.

[2019-10-19 07:48] wenlibin02 commented on #12240
Similar problem here to install trinity. I found a not-too-elegant workaround:

spack spec trinity@2.6.6 %gcc@5.4.0 ^r@:3.5.3+X ^r-edger@3.22.3 ^r-biocgenerics@0.26.0 ^py-numpy@1.16.4 ^perl@5.28.0 ^r-amap@0.8-16

This works well for me, currently. You may have to resolve the issue of perl-dbfile prior to the installation of trinity. Please refer to this [pull request](https://github.com/spack/spac

[2019-10-19 11:09] michaelkuhn commented on #13221
Awesome! Thanks for testing.

[2019-10-19 15:48] bartlettroscoe commented on #13248
FYI: Scripting around the problem by setting `arch=linux-rhel6-x86_64` seems to have fixed the problem.  I had to add a new argument `--arch <arch>` to our spack driver script and set `arch=linux-rhel6-x86_64` in all of the generated spack.yaml files.  But this is more more piece of information that I need to provide for each platform.

It would be nice if spack could be fixed to get the right arc

[2019-10-19 17:18] #13232 closed

[2019-10-19 20:19] #13104 closed

[2019-10-19 20:54] tgamblin commented on #13264
@SheraLee: you can also give your teammates access to your Spack branch before you submit the PR.  That may be easier.

[2019-10-19 21:15] tgamblin commented on #11708
@becker33: is this one going to be resolved with any of the 0.13.0 fixes?

[2019-10-19 21:16] tgamblin commented on #11698
@becker33: is this one resolved with the various view fixes in 0.13.0?

[2019-10-19 21:42] glennpj opened #13267 "Installation issue: quantum-espresso not building with hdf5=serial variant"
The quantum-espresso package can not be built with hdf5=serial support since #12765 was merged.
---

### Steps to reproduce the issue

[code]
Using `git bisect` shows this started failing with commit 5cd28847e81b3a1bf659d184c990ba9144974624, when #12765 was merged. The relevant code in the quantum-espresso package.py is:
[code]
@alalazo I am not sure if this should be fixed in the package or in co

[2019-10-19 22:12] SheraLee commented on #13264
Thank you so much! You guys are really helpful! As a college student without much experience, I really appreciate it a lot!

[2019-10-19 22:12] #13264 closed

[2019-10-20 00:55] rmsds opened #13268 "Activating a package against a (chained) upstream spack should fail"
Activating a package against a chained upstream succeeds, changing the upstream in the process, and it should not.

For example, activating py-setuptools against an upstream python creates links on the upstream python. And additionally blocks the activation of the same package on the upstream instance.

### Steps to reproduce the issue
[code]

### Error Message

There was no error message when act

[2019-10-20 14:44] bartlettroscoe opened #13342 "Spack can't build git-lfs on RHEL6"
snl-atdm-issue

With spack version:

[code]

the install of git-lfs with `spack install git-lfs arch=` (see ??? for why `arch` is needed) produced:

[code]

The file:

* `/tmp/rabartl/spack-stage/spack-stage-git-lfs-2.8.0-64ezyrolflld37wwty6lzsh4bg6w54l5/spack-build-out.txt`

shows:

[code]

Bummer.

[2019-10-20 14:45] bartlettroscoe commented on #13342
I can around this by just putting the git-lfs binary in a small git repo for each system that I need to support.

I need git-lfs to manage a mirror of spack tarballs that is handled as a git repo.

[2019-10-20 14:48] bartlettroscoe commented on #13342
BTW, you have to use a mirror of the git tarballs or you get random download failures all the time with spack.

[2019-10-20 18:55] bartlettroscoe opened #13343 "Spack-built clang does not pick up g++ headers for spack-built gcc for RHEL6"
For Spack version:

[code]

The clang@5.0.1 compiler built from the Spack llvm@5.0.1 package which itself was built with gcc@4.9.3 (also built by spack) is not picking up the g++ headers for the installed gcc@4.9.3.  I know this because I get build errors saying that the clang@5.0.1 can't find headers like `<parallel/algorithm>` and `<ext/alloc_traits.h>` which are in the gcc@4.9.3 stall.

Is ther

[2019-10-20 20:46] bartlettroscoe commented on #13343
FYI: Good bit of discussion of this on:

* https://spackpm.slack.com/archives/C5W7NKZJT/p1571597852219800

with @svenevs.

I took his suggestion and I tried to get the installed clang++ compiler to pick up the g++ headers by changing the order of module loads in my own env script (not spack) from:

[code]

to:

[code]

but the clang++ compiler still can't find the headers like `<parallel/algorithm

[2019-10-20 20:47] bartlettroscoe commented on #13343
Do we need to manually load the module `spack-gcc/4.9.3` before calling `spack install llvm@5.0.1`?  I don't think I tried that but would that fix this?  I am just guessing here.

[2019-10-20 21:38] glennpj opened #13346 "spack env loads fails if there are blacklisted modules"
I have an environment with blacklisted modules. Running `spack env loads` fails if run with blacklisted modules.

[code]
This used to work by putting the packages that did have modules in the loads file.

[2019-10-21 08:40] healther commented on #13245
@adamjstewart do you mind posting your `spack-build-out.txt` and `spack-build-env.txt`? I'd like to do a diff to mine

[2019-10-21 09:32] davydden opened #13355 "Installation issue: boost + python 3 build error"
[code]

### Steps to reproduce the issue

[code]

although I build the whole `environment` with `python@3:`
[code]
built by Spack.

### Platform and user environment

Please report your OS here:
[code]

[2019-10-21 14:42] gartung commented on #13237
@eugeneswalker Can you please verify that this patch allows you to create buildcaches with relative rpaths and that 'spack buildcache check' also works.

[2019-10-21 16:14] adamjstewart commented on #13245
@healther here you go: [spack-build-out.txt](https://github.com/spack/spack/files/3751852/spack-build-out.txt)

[2019-10-21 16:16] adamjstewart commented on #13245
We should really add post-installation unit tests for this package. At the bare minimum, just running `bzip2 --help` would have uncovered this issue. If we figure out what needs to be changed to fix your setup, we can also add this at the same time.

[2019-10-21 16:21] alalazo opened #13357 "Unify the construction of environment modifications from config"
As a Spack developer I want a unique way to construct a list of modifications to the environment starting from information stored in a configuration file so that I'll avoid code duplication and be ensured we treat this problem coherently across different files.

### Rationale
Currently there are at least two different places where we can prescribe modifications to the environment in a configuratio

[2019-10-21 18:20] #13073 closed

[2019-10-21 18:32] adamjstewart commented on #13119
[code]
Maybe it's exclusive to Python 3?

[2019-10-21 18:43] fryeguy52 opened #13361 "Spack trying to use `-march` options not recognized by default compiler"
snl-atdm-issue

While trying to use `spack install` on a rhel6 machine with haswell processors, spack correctly identifies the `-march` option as `core-avx2` but the default gcc version on rhel6 (gcc-4.4.7) does not recognize that as a valid `-march` option

### Steps to reproduce the issue

[code]

### Error Message

[code]
config.log shows:
[code]

### Information on your system

* Red Hat Enter

[2019-10-21 19:02] scheibelp commented on #13248
I think this and https://github.com/spack/spack/issues/13361 are the same issue so I have assigned @alalazo to it (who is working on #13361)

[2019-10-21 20:28] Paul-Ferrell commented on #13223
Our Cray systems have a python3 that is missing a bunch of stdlib libraries. The missing ones are probably available via yum though.

So, yes, it's a problem on our end.

[2019-10-21 20:33] adamjstewart commented on #13223
Closing now that we've confirmed it's a problem with your Python installation and not a problem with Spack.

[2019-10-21 20:33] #13223 closed

[2019-10-21 20:53] elahea2020 commented on #9435
any solution for this? I am also facing this issue.

[2019-10-21 21:02] alalazo commented on #13361
@fryeguy52 Can you please check if #13362 fixes your issue? I particular can you post the result of:
[code]
?

[2019-10-21 21:17] alalazo commented on #13248
@bartlettroscoe Hopefully #13362 will solve your issue. There's one point though that is worth a comment:

It's very likely that Spack detected the right microarchitecture. The fact is that using an old compiler (GCC 4.4.7 dates back to 2012) forces a downgrade of the architecture that has been detected. The bug before was in the modeling of GCC support for microarchitecture specific optimization

[2019-10-21 23:23] #13221 closed

[2019-10-22 01:52] davydden commented on #13355
Similar error as in https://github.com/spack/spack/issues/13247

[2019-10-22 02:53] adamjstewart commented on #9677
`py-scikit-learn` has undergone quite an overhaul since this issue is opened. I now regularly build and test `py-scikit-learn` with Python 3.7.4, so I think this issue can be closed now. Feel free to reopen if you encounter any other issues.

[2019-10-22 02:53] #9677 closed

[2019-10-22 02:58] adamjstewart commented on #12418
@michaelkuhn it looks like you did most of the work on sbang filtering in the `glib` package back in #6910. Can you take a look at this issue? We likely just need to replace `'python'` with `spec['python'].command.path` in a few places. Python 3 will soon be the default version of Python for Spack, so it's important we clean up these lingering Python 3 bugs.

[2019-10-22 03:05] adamjstewart commented on #7700
I think @healther is right, can you try replacing the `py-py2cairo` dependency with `py-pycairo` and see if that works? We may also want to drop the `py-py2cairo` dependency in `py-pygobject`. The default version of Python in Spack will be Python 3 soon, so it's important to clean up these lingering Python 3 issues.

[2019-10-22 07:34] #13103 closed

[2019-10-22 14:15] #13119 closed

[2019-10-22 15:50] tz-rrze opened #13371 "Intel compiler gets installed to linux-$os-$microarch instead of linux-$os-x86_64"
### Steps to reproduce the issue

[code]

### Platform and user environment

Current SPACK (devel) from today (cfbdd21)
[code]

### Additional information

The Intel compiler got installed into .../opt/linux-centos7-**broadwell**/gcc-.../intel-19.0.4-...
As the Intel compiler is just a binary blob I do not see any use of putting it into a directory of a specific architecture instead of linux-cento

[2019-10-22 16:06] tgamblin commented on #13103
@glennpj:

One of the goals with #3206 is to ensure that we *know* where we can run any particular Spack install.  We want to be able to distribute nearly anything we build as a binary, and specific targets was intended both to make it easier for folks to see/specify what arch to build for *and* to make it possible to determine where a binary package could be run.

If we turn off the target code (

[2019-10-22 16:38] eugeneswalker commented on #13237
@gartung This looks good. `buildcache check` seems to still behave as expected with this patch! Thank you!

[2019-10-22 17:53] shuds13 commented on #13051
I managed to resolve this by specifying python, py-numpy and py-setuptools in packages.yaml to all come from the same intelpython36 module.

    python:
      modules:
        python@3.6%intel@18.0.0.128 arch=cray-cnl6-mic_knl: intelpython36/2019.3.075
      buildable: False
    py-numpy:
      modules:
        py-numpy@1.16.1%intel@18.0.0.128 arch=cray-cnl6-mic_knl: intelpython36/2019.3.075

[2019-10-22 18:25] becker33 commented on #11698
No, I don't believe so.

[2019-10-22 19:43] shuds13 commented on #13051
Thanks to @balay I have a resolution to this.

    . $SPACK_ROOT/share/spack/setup-env.sh

is trying to append this to my modules MODULEPATH:

    $SPACK_ROOT/share/spack/modules/cray-cnl6-x86_64

But the spack created modules are in

    $SPACK_ROOT/share/spack/modules/cray-cnl6-mic_knl

Seems like a cross-compilation issue. However, spack spec manages to find cray-cnl6-mic_knl
when run in same e

[2019-10-22 20:05] glennpj commented on #13103
@tgamblin I said target=x86_64 because I have a stack of software built prior to the target code landing. For gcc, yes, using the lowest common denominator is what I will do going forward. For Intel, we use fat binaries and that works well for the most part.

[2019-10-22 21:29] chissg opened #13376 "Skylake microarchitecture misidentified on Darwin"
On Darwin (Mojave), a Skylake CPU is misidentified as Broadwell.

Upon investigation of the output of `sysctl -n machdep.cpu.{,leaf7_}features`, it would appear that the `xsavec` and `xsaveopt` features are represented by the single flag `XSAVE`, and `clflushopt` is identified as `CLFSOPT`.

[2019-10-23 00:55] JSquar opened #13385 "Proposal: Add command to upgrade implicit dependencies in-place"
A new command `spack upgrade $SPEC` which can be called explicitly on a single package or via `spack upgrade --all` on all packages, which have been installed **explicitly**. It will invoke the ordinary installation process but in addition to the original installation process it will keep track of implicit dependencies and will remove them if they become obsolete (i.e. a new version is installed d

[2019-10-23 01:26] adamjstewart opened #13387 "Environment commands don't respect --color=never"
Many commands relating to Spack Environments don't respect the `--color=never` flag. This is important when the output of your build is going to a qsub log or a pager, where you don't want color code characters.

### Steps to reproduce the issue

[code]

Most commands that directly use `tty.color` work, but it looks like some of the Environments commands roll their own color handling, which causes

[2019-10-23 02:36] shuds13 opened #13388 "setup-env.sh finds wrong architecture on theta"
When I run $SPACK_ROOT/share/spack/setup-env.sh on Theta:

It is trying to append this to my modules MODULEPATH:

    $SPACK_ROOT/share/spack/modules/cray-cnl6-x86_64

But the spack created modules are in

    $SPACK_ROOT/share/spack/modules/cray-cnl6-mic_knl

Seems like a cross-compilation issue. However, spack spec manages to find cray-cnl6-mic_knl
when run in same environment.

If I manually ad

[2019-10-23 04:40] #13248 closed

[2019-10-23 04:42] #13138 closed

[2019-10-23 04:46] tgamblin commented on #13385
This will be worth attempting once the new concretizer is in Spack -- there should be an experimental version in 0.14.0, and I am hoping to have it in the standard release by 0.15.0.

Note that I am *hoping* that these releases both happen in the next 6 months.

If you are interested in this look at the `spack solve` command in the `features/solver` branch -- we should have a much easier time doin

[2019-10-23 04:50] tgamblin commented on #13385
Also, clarification: what do you mean by "in place"?  It's very unlikely that we will allow you to upgrade Spack packages in-place (as Spack provenance is intentionally very specific and tied to install directories).  However, we can update an *environment* in place and link all the upgraded versions into a view.  Is that what you are looking for?

[2019-10-23 06:27] #12731 closed

[2019-10-23 06:54] michaelkuhn opened #13391 "gcc builds fail for C++ projects"
It looks like #13202 introduced a libiconv dependency for gcc. This makes C++ builds fail for me with error messages such as these (in this case, cmake bootstrapping):
[code]
It looks like the binaries are correctly linked against libiconv but libstdc++ is not.

cc @adamjstewart

[2019-10-23 07:25] michaelkuhn commented on #12418
@ajw1980 I just created #13392, which seems to work for me. Please give it a try.

[2019-10-23 08:13] davydden opened #13397 "Installation issue: fenics fails to configure due to missing py-ply"
### Steps to reproduce the issue

[code]

### Platform and user environment

Please report your OS here:
[code]

### Additional information

I tried activating `spack activate py-ply` the `ply` package before installing, but CMake is still unhappy...

[2019-10-23 12:34] adamjstewart commented on #13391
Hmm, that’s odd. I only added the libiconv dependency because I noticed the build was picking up my system libiconv. If it’s problematic, we can remove it.

[2019-10-23 13:58] lee218llnl opened #13398 "gcc: build issue on aarch64"
Spack is failing to build gcc on ARM systems using our side-installed gcc compilers:

[lee218@ulna2:spack-gcc-arm]$ ./bin/spack install --keep-stage gcc@9.2.0%gcc@7.3

...

              jjanbxft5jorq/spack-src/spack-build/./gcc/cc1: error while loadin
              g shared libraries: libisl.so.19: cannot open shared object file:
               No such file or directory

On our ARM systems, the s

[2019-10-23 14:30] #12418 closed

[2019-10-23 18:06] michaelkuhn commented on #13391
Without the libiconv dependency, gcc seems to pick the symbols from glibc for me (that's on Linux, though). I found a few references to this bug but no fixes (always seems to happen if libiconv is not available in a system prefix). Have you checked whether libstdc++ is actually linked against/using Spack's libiconv in your case?

[2019-10-23 18:36] odoublewen opened #13404 "sourceforge download filenames corrupted after #11117"
Since merge of #11117, I cannot install libuuid:

[code]

The download actually is working, but the filename in the filesystem contains all of the URL GET data.

[code]

If I revert fd58c98, the download and install succeeds.

FYI @opadron

[2019-10-23 19:04] becker33 opened #13405 "`spack deprecate` deletes modulefiles for deprecated packages"
Currently, `spack deprecate` runs the post-install hooks that delete modulefiles. The rational is that we don't want users using deprecated specs

However, the rationale for the `spack deprecate` command is to allow hard-coded binaries depending on the deprecated package to work properly without using the deprecated package. There is a similar goal to achieve w.r.t deprecated modules. Dependent mo

[2019-10-23 19:12] adamjstewart commented on #13391
It looks like none of my libraries link to `libiconv`, only the compiler binaries.

[2019-10-23 19:44] michaelkuhn commented on #13391
Same for me. Does your libstdc++ still try to use the symbols (`readelf -s .../lib64/libstdc++.so | grep iconv`)?

[2019-10-23 19:48] JSquar commented on #13385
Fingers crossed that the schedule can be kept :)
I'll have a look at `solve` to see if an upgrade command like in this proposal is still reasonable.

I think _in-place_ was misleading. I did not mean to substitute an existing dependency but to uninstall implicit dependencies if there is no dependent anymore, because it has been upgraded (I changed the title accordingly). For clarification I give a

[2019-10-23 20:11] #172 closed

[2019-10-23 20:11] #7409 closed

[2019-10-23 20:22] #9160 closed

[2019-10-23 20:22] #639 closed

[2019-10-23 21:37] opadron commented on #13404
@odoublewen, I've added a note on what I think is the change that likely caused your issue:
https://github.com/spack/spack/pull/11117/files#r338288515

While we look into that, could you also post the output of `spack -d install libuuid`, both before and after fd58c98?  I'm particularly interested in the curl line that spack runs to do the download.

[2019-10-23 22:04] odoublewen commented on #13404
Happy to try to help.  I captured both stdout and stderr for both before and after fd58c98 (i.e. `spack -d install libuuid > before.txt 2>&1`)

Curiously, the curl command appears to be 100% identical!  I notice that in the `before.txt` log, the curl command is immediately followed by a tar command, which is using the "ugly" filename.  It succeeds because that IS the actual filename.
[code]

But i

[2019-10-23 22:07] scheibelp commented on #13404
I think this is somewhat contained to `libuuid` (it affects packages with URLs that differ sufficiently from filename paths): see also: https://github.com/spack/spack/pull/11117/files#r338301058

I'm thinking this will get fixed today

[2019-10-23 23:06] nicholas-sly opened #13409 "Variable expansion in package lists for view definitions"
Provide the ability to reference named dictionaries/lists/etc when specifying specs for inclusion in views.

### Rationale

When building out a large environment using the Spack Stacks capability, having these lists defined in a central named structure allows for consistency across several places that it can be useful (defining the overall spec as well as the views in which they will be found).

#

[2019-10-23 23:50] #13404 closed

[2019-10-24 00:08] #3642 closed

[2019-10-24 08:27] nazavode opened #13413 "LLVM: broken sanitizer objects in installed archives"
Trying to use any kind of sanitizer (e.g.: `-fsanitize=address`) with the `llvm@9.0.0` produced by `spack@af65146ef69fcde10d53b2ee12f82a9c28361e23`, I get the following error messages by the linker complaining about broken ELF sections:

[code]
### Steps to reproduce the issue

The issue has been observed on all the systems I'm currently using `spack` on (several flavours of `rhel` and `ubuntu`),

[2019-10-24 08:28] yellowhat opened #13414 "netCDF-C bump to 4.7.2"
Hi,
building netCDF 4.7.0 I got this bug: https://github.com/Unidata/netcdf-c/issues/1408.
Forcing spack to build the 4.7.2 version, solved the problem for me.
So I would like to ask if it is possible to bump netCDF to 4.7.2.

Thanks

---

### Steps to reproduce the issue

[code]

### Platform and user environment

Please report your OS here:
[code]

[2019-10-24 13:56] balay opened #13415 "fetch error with BundlePackage"
`xsdk` is  recently changed to a `BundlePackage` at c9e214f6d3

[code]
I've used this functionality before to download all the package sources on front-end - so that the builds can be done on a back-end node [which have limited network connectivity]. But now its broke.

Perhaps the code should just warn about BundlePackage - and continue - and not error out?

[2019-10-24 15:17] adamjstewart commented on #13414
Of course! Want to submit a pull request?

[2019-10-24 15:19] yellowhat commented on #13414
I do not have a modification ready.
Can you do it?

[2019-10-24 15:56] balay commented on #13415
For now - I've disabled this check.
[code]

[2019-10-24 15:58] balay commented on #13415
I do see messages of type:
[code]
It would be good to print the package name that these messages correspond to. [same with the original error message on this issue]

[2019-10-24 17:44] #13376 closed

[2019-10-24 19:31] healther opened #13426 "Multiple version constraints in a spec are not a syntax error"
While building `py-jupyter-notebook` (and its dependencies, of which this is one) I accidentally wrote a dependency restriction like this:

[code]

I would assume this to end up with a syntax error, but it didn't. I'm unsure what would happen if the two versions would be different or even mutually exclusive. Opening this issue to have a place to write down further investigation (though I'm not sur

[2019-10-24 19:39] healther opened #13427 "Should we fetch python sources exclusively from pypi?"
I first encountered this problem when dealing with the `node-js`-induced `python@2` restriction of `py-jupyter-notebook` (part of the discussion of #10319) and fixed in #13020. The tar-balls under github.com/<project>/archive (github's "Releases" tab) do not necessarily correspond to the tar-balls released via pypi.
In the particular case of `py-jupyter-notebook` there is a significant difference

[2019-10-24 20:21] #13414 closed

[2019-10-24 20:23] healther commented on #13245
First of all thanks to you guys for the help, but now I cannot reproduce this issue...

I _may_ have started the initial install after updating the OS but before updating Xcode and/or having have spack with some old state. I'm not entirely sure what I need to do in order to clean all state of spack, but before the latest attempt I did
[code]
That one worked. I still have an Xcode update outstandin

[2019-10-24 20:24] #9464 closed

[2019-10-24 20:32] adamjstewart commented on #13427
I agree with this sentiment, and have written some of it in our [PythonPackage build system docs](https://spack.readthedocs.io/en/latest/build_systems/pythonpackage.html#pypi-vs-github). The only time I've ever _had_ to use GitHub was in https://github.com/pydata/numexpr/issues/340 where the author had accidentally added his personal `site-cfg` to the PyPI tarball.

The only benefits of downloadin

[2019-10-24 20:33] adamjstewart commented on #13245
If no one is able to reproduce the problem, let's close it for now. Feel free to reopen if it reappears.

[2019-10-24 20:33] #13245 closed

[2019-10-24 23:04] #13415 closed

[2019-10-25 06:31] healther commented on #13427
If you use the pypi.io thingy (see eg `py-numpy`) both work for me. The downside of course is that you have to construct the url manually, but that is rather straightforward (not sure if scriptable though...)

Agreed, but I think that's a minor downside?

[2019-10-25 13:05] pat-s commented on #13227
I am getting the same error when using gcc@9.2.0 on CentOS7 (build from systems gcc@4.8.5).

Works when using gcc@4.8.5.

[2019-10-25 13:06] alalazo commented on #13413
Checked with @nazavode. The issue is that without loading the corresponding `binutils`:
[code]
the `clang` compiler uses system's `ld` which is too old to understand the ELF format that has been generated:
[code]
We need to check if there's a way to configure `llvm` so that the default linker is the one of the `binutils` that are in the DAG.

[2019-10-25 14:54] adamjstewart commented on #13427
You mean when you run `spack versions py-numpy` it finds new versions that you can add to the package? That's not the case for me.

[2019-10-25 17:57] healther commented on #13427
Mh at least with:
[code]
I get
[code]
However it doesn't work for `py-jupyter-notebook`, there I have to explicitly specify a version that I want to checksum

[2019-10-25 18:16] glennpj commented on #13103
@tgamblin After thinking about this a bit, it might make sense to remove the auto-dispatch variant, as it could cause confusion. Let me know if you agree and I will create a PR to do that.

[2019-10-25 19:55] nopech opened #13440 "spack arch return nephalem"
When I run "spack arch" it returns nephalem and not the expected x86_64 i'm used to. It used to return x86_64 but at some point it changed. This is on a Samsung notebook with a Intel I7 CPU. I have Ubuntu Mate 19.04 installed. Also tried Ubuntu Mate 18.04 with the same result.

When I ignore the fact that it's not x86_64 and continue to install packages such as cmake, the compilation will fail.
Th

[2019-10-25 20:59] scottwittenburg opened #13442 "Cannot override compilers inside an environment"
TLDR: `with cfg.override('compilers:', actual_compilers):` does not seem actually to override the compilers inside a spack environment.

When running pipelines that are intended to bootstrap a missing compiler, we have typically added the compiler we want to the spack environment, substituting empty strings for all the paths.  This allows us to "cross-concretize" the specs against that compiler ev

[2019-10-25 21:01] scottwittenburg commented on #13442
@tgamblin Here's the issue we discussed earlier today.  Let me know if you have issues reproducing it, or if I can be of assistance in any way.  Thanks for taking a look!

[2019-10-25 21:41] scheibelp commented on #13442
Is there a reason you are doing this programatically vs. using the `::` syntax?  https://github.com/spack/spack/pull/11602 was merged recently and should allow this. If that does not work could you also let me know (or if that is not suitable for your use case could you also mention that here)?

Regardless of whether `::` works, the override syntax should also work, so this should stay open.

[2019-10-25 21:48] frankwillmore commented on #13388
I've just reproduced essentially the same behavior on nersc. I have builds for three architectures, but only the module for the 'default' architecture can be loaded. I don't know if this is by design. This is for a pristine spack installation in user space on cori:
[code]

[2019-10-25 21:51] frankwillmore commented on #13388
@shuds13 I'm curious why you have a cray-cnl6-mic_knl architecture specified? There should only be cray-cnl6-mic_knl or linux-sles12-x86_64 on theta, unless you tinkered with some other settings?

[2019-10-25 21:52] scheibelp commented on #13442
As another interim fix can you make use of the `-C` argument like `spack -C config-dir/` to "swap out" different configs?

[2019-10-25 21:54] scottwittenburg commented on #13442
In my use case, I'm iterating over the compilers in my configuration and checking each one to see if it has all empty `paths`, in which case I don't add it to my list of `real_compilers`.  I'm fine using the `::` syntax if that works, but I'm not sure I understand how to use it.  Does it just require writing the yaml file to disk?

[2019-10-25 21:55] scottwittenburg commented on #13442
I have successfully used the `-C` argument in the past, so I'll try it as a workaround in this case, thanks!

[2019-10-25 22:00] scheibelp commented on #13442
It does. The syntax should work as described in https://spack.readthedocs.io/en/latest/configuration.html#overriding-entire-sections. In this case you would want it to start out with `compilers::`.

Also, as I read the docs for `config.override` it says that it pushes another scope on top of the existing ones rather than that it replaces the existing configs with new configs. Therefore I don't thi

[2019-10-25 22:26] scottwittenburg commented on #13442
Thanks for the pointer, I'll do that.

No, this is the first time I've tried it.

Fair enough.  Maybe I'm trying to do something weird and need to rethink it.  I want everything from the environment except some of the compilers, which I can identify.  I'll mull it over.

[2019-10-25 22:28] scheibelp commented on #13442
OK in that case I think it's safe to close this once you get one of the above methods working since `config.override` was not intended for this.

[2019-10-25 22:41] shuds13 commented on #13388
To clarify this, my build is for cray-cnl6-mic_knl. I'm not sure where cray-cnl6-x86_64 comes from, but the setup-env.sh is pre-pending this to my module path instead of cray-cnl6-mic_knl.

[2019-10-25 22:43] shuds13 commented on #13388
My modules are:

Currently Loaded Modulefiles:
  1) modules/3.2.11.1                                 13) dvs/2.7_2.2.120-6.0.7.1_12.5__g74cb2cc4
  2) intel/18.0.0.128                                 14) alps/6.6.43-6.0.7.1_5.51__ga796da32.ari
  3) craype-network-aries                             15) rca/2.2.18-6.0.7.1_5.52__g2aa4f39.ari
  4) craype/2.5.15                                    16) atp

[2019-10-26 04:01] KineticTheory opened #13452 "Installation issue: gperf@3.0.4 %gcc@9.2.0"
### Steps to reproduce the issue

* git hash: 5582de837ef126ad736d44565a8d4231225b29da

[code]

### Platform and user environment

Please report your OS here:
[code]

config files
- [compilers.yaml.txt](https://github.com/spack/spack/files/3774427/compilers.yaml.txt)
- I don't have a packages.yaml file.

### Additional information

Sometimes the issue benefits from additional details. In these cas

[2019-10-26 04:49] #12156 closed

[2019-10-26 10:25] alalazo commented on #13267
@glennpj @naromero77 I had a brief look at this and it seems that after the change in #12765 made `\s` in a regex also match the newline char (I guess that's a feature?). Anyhow, the following diff seems to fix the build for me:
[code]
Let me know if I should submit a PR or if we want to close this issue with #13406

[2019-10-26 15:24] pat-s commented on #13452
Seeing a very similar issue when installing `pango` on spack v0.13.0 with gcc@9.2.0

[code]

[2019-10-26 18:40] naromero77 commented on #13267
@alalazo I am glad that multiple people are able to reproduced this issue -- I was afraid that I was getting sloppy at testing these Spack packages.

I would vote for closing this issue with #13406

To me `filter_file` are not good long-term solutions. Its always desirable to contact the developers and fix in the upstream source.

Putting my "captain obvious" hat on, the fact that #12765 broken th

[2019-10-27 02:31] KineticTheory commented on #13452
If I back up to hash 6cd997e74379a2dd8719748095bd13a26dfbf74f (2019 Oct 16) this sequence of commands works.  If I diff this this version of `.../packages/gcc/package.py` against 6cd997e74379a2dd8719748095bd13a26dfbf74f (current `develop` branch), I see a lot of changes -- including a suspicious removal of `depends_on('libiconv')`.

[code]

[2019-10-27 03:08] KineticTheory commented on #13452
These changes that break gcc@9.2.0 for me were added in Pull #13202 to fix a macOS build issue.

[2019-10-27 08:46] pat-s commented on #13452
This change did the trick for me as well. Thanks!

[2019-10-27 13:10] KineticTheory commented on #13452
I've also confirmed that the following patch works (and this one should keep the macOS UseCase working).

[code]

Should I open a PR?  Can someone test this?

[2019-10-27 13:34] KineticTheory commented on #13452
@pat-s Can you test PR#13460 to see if this fixes your reported issue?

[2019-10-27 21:39] glennpj opened #13462 "cuda gcc conflicts not working"
The conflicts in the the cuda build system are not working. For example, the libbeagle package uses the cuda build system.

[code]

[code]
The libbeagle build will then fail with
[code]
That should have been prevented with the conflicts statement in the cuda build system.
[code]
where arch_platform  = ' arch=x86_64 platform=linux'.

It would also seem that cuda itself should not install with a gcc

[2019-10-28 02:33] adamjstewart commented on #13391
`libstdc++` doesn't try to use symbols:
[code]
but `gcc` does:
[code]

[2019-10-28 04:45] adamjstewart commented on #12752
The next time someone encounters this problem, can you try the code in #13465? This will tell you what directory Spack is looking in for the MKL libraries. I have a suspicion that the directory has changed once again and the `IntelPackage` base class needs to be updated.

[2019-10-28 07:18] alalazo commented on #13267
:+1:

Before #12765 there were no tests for `filter_file`. I am sure we still miss some cases but at least the issues reported in that PR now are tested for regressions :slightly_smiling_face:

Surprise, as beauty, might be in the eye of the beholder. To me the facts that:
1. The docstring says *"Filters every line of each file through regex and replaces the file with a filtered version."*
2. [re

[2019-10-28 10:37] olesenm opened #13466 "No easy update for kahip"
I would like to get the kahip package updated to the most recent version (2.11), but there are a few issues with this AFAICT:

- project has moved to using CMake instead of Scons
- project now distributed via github instead of the Karlsruhe site.

The new distribution location can be addressed with some url_for_version magic, but I don't quickly see a simple means of changing to CMake whilst still

[2019-10-28 15:34] alalazo commented on #12951
@carns Saw this issue right now. I need to investigate in which commit this broke, but apparently you can work around it by escaping spaces in your `cflags`:
[code]

[2019-10-28 15:50] sknigh opened #13470 "Cannot fetch xz"
Sourceforge returns an error page when fetching xz on a Centos 7 system. I do not see this error when downloading the archive from a browser.

The error was initially encountered when building a Spack stack, but it was reproduced in the same shell with `wget`
[code]
[code]
[code]

[2019-10-28 16:22] sknigh commented on #13470
The issue resolved itself within 30 mins

[2019-10-28 16:22] #13470 closed

[2019-10-28 16:26] naromero77 commented on #13267
@alalazo

Sorry, I am not very familiar with regular expression in Python.

Thanks for your link. I do believe Spack is now more compliant.

I would vote to close this issue.

[2019-10-28 16:31] alalazo commented on #13267
@glennpj Feel free to reopen if you feel like this is not resolved.

[2019-10-28 16:31] #13267 closed

[2019-10-28 17:00] adamjstewart commented on #13466
Yes, this is one of the more complicated things Spack doesn't have great support for. What I've done in the past is to switch the base class to `Package` and manually implement the `install` method for each build system. You can then add a `@when('@1.2.3:')` to the newer `install` method. See https://github.com/spack/spack/pull/12941#issuecomment-538105434 for a list of packages that have had to d

[2019-10-28 17:00] #13466 closed

[2019-10-28 17:10] tgamblin commented on #13440
This is expected since #3206 was merged.  To better optimize for specific microarchitectures, and to let us eventually distribute optimized binaries, the default target in Spack is detected from `/proc/cpuinfo` and we add march/mcpu flags in the compiler wrappers.

If you don't want this (and you want generic x86_64 binaries), you can do this in `packages.yaml` or in an environment:

[code]

That

[2019-10-28 17:10] #13440 closed

[2019-10-28 17:18] tgamblin commented on #13442
@scheibelp @scottwittenburg: I think in this case there is a bit more to the issue, but I agree @scottwittenburg can make it work with the methods mentioned.

In this case, since the user constructs their environment for GitLab CI, I *think* it would be useful for *no* other config to be considered on the runners.  If you version your `spack.yaml` in a repo and you fire off GitLab runners with it,

[2019-10-28 19:15] scheibelp commented on #13442
No: that would take some extra updates to the config module. You can approximate this for now by overriding all the sections though.

[2019-10-28 19:34] erimar77 opened #13474 "Checksum command generates incorrect Github URLs"
The checksum command generates URLs that appear to be a combination of the releases and archive URL.

### Steps to reproduce the issue

[code]

The expected URL would be:
[code]
### Error Message
[code]
### Information on your system

[code]

[2019-10-28 22:31] #13391 closed

[2019-10-28 22:31] #13452 closed

[2019-10-29 02:29] adamjstewart commented on #13474
This bug seems to affect ALL packages that download from GitHub. Packages that download from a separately uploaded releases tarball are even worse:
[code]
Somehow this doesn't affect fetching, only `spack checksum`. I'll take a look.

[2019-10-29 03:00] adamjstewart commented on #13474
Bug affects both Python 2 and 3.

Bug does not affect `spack checksum star 2.7.3a`.

Bug seems to occur in the following call stack:
* `spack.package.fetch_remote_versions`
* `spack.util.web.find_versions_of_archive`
* `spack.util.web.spider`
* `spack.util.web._spider`
* `spack.util.url.join`

It looks like this bug was introduced by #11117, which was merged 7 days ago. Since this PR is relatively

[2019-10-29 03:02] adamjstewart commented on #13474
While you're at it, maybe one of you can figure out a way to resolve #11680/#11682, which is a similar symptom but completely unrelated illness.

[2019-10-29 07:27] SheraLee opened #13479 ".F90(498): error #7002: Error in opening the compiled module file. Check INCLUDE paths."
My package can be installed successfully when using exactly the same configuration when not using Spack.
`./configure --enable-intel --enable-fftw --with-fftw=$FFTWHOME FC=mpif90 CC=mpicc`
However, when using  `spack install p3dfft %intel ^intel-mpi +fftw `  , I got following error message :

[code]
**python.py:**
[code]

**My packages.yaml:**
[code]

[2019-10-29 09:42] alalazo opened #13481 "Add specific microarchitecture support for AArch64 processors"
As a user I would like to have microarchitecture specific support for processors in the `AArch64` family so that I can compile code optimized for them similarly to what is already possible for Intel, AMD or Power CPUs.

### Rationale

The idea is to add more specific targets in the `AArch64` family.

### Description

Due to the model adopted by ARM, where a CPU can be identified by a base model wi

[2019-10-29 11:27] alalazo opened #13482 "Print or log a warning when downgrading targets"
As a user I would like a warning to be either printed to screen or logged somewhere in debug mode when targets are downgraded by Spack so that I can spot deviations from the preferences expressed in e.g. configuration files more easily

### Rationale

Following a discussion happened on public Spack's slack in the #general channel. A `spack.yaml` file like the following:
[code]
was causing all the

[2019-10-29 12:14] SheraLee opened #13483 "How to add OpenMPI flags through def edit"
I failed to install my package with openmpi in #13215 , so I tried to set more flags through  `def edit ` to see if it will help.

However,  I am not sure if it is the right thing to do or I should just add more to my configure.ac (we are using Autotools). I am also not sure if I have written my python.py right, especially the  `def edit ` part.

Sorry for submitting a lot of issues recently, and

[2019-10-29 12:35] alalazo commented on #660
Using spack at 3cf21e6edc14e8431a0a65867a45df35aef1911e. Problem 1 seems to be solved:
[code]
With the `spack.yaml` above:
[code]

[2019-10-29 12:38] alalazo commented on #660
Problem 2 seems to be solved too:
[code]
Concretizing the environment above I get:
[code]

[2019-10-29 12:43] alalazo commented on #660
Closing as both problems seem to be solved based on the testing above. Also, it seems that since this issue was opened we added a few regression tests for preferences expressed in `packages.yaml` in `concretize_preferences.py`.

Anybody: feel free to reopen if there's something still to be addressed here.

[2019-10-29 12:43] #660 closed

[2019-10-29 12:57] alalazo commented on #834
Seems to be fixed at 3cf21e6edc14e8431a0a65867a45df35aef1911e. Tested using this:
[code]
environment and this command:
[code]

[2019-10-29 12:57] #834 closed

[2019-10-29 13:21] erimar77 commented on #13474
This also affects `spack create` or any other command using this mechanism

[code]

[2019-10-29 14:14] paulbry commented on #13474
The dictionary of `pages` generated as part of `spack.util.web._spider` looks to be incorrect:

[code]

[2019-10-29 14:46] opadron commented on #13474
I'm looking into this issue and will update, here.

[2019-10-29 14:52] renderdude opened #13484 "lmod/diffutils fails to build on OSX, clang-11"
Upgraded to the 0.13, and latest develop. When trying to build lmod, diffutils fails to build. This does not appear to be an issue with diffutils, but how the compiler wrapper is interacting with clang-11 as I can build diffutils just fine outside fo spack.

### Steps to reproduce the issue

$ spack install diffutils

### Error Message

==> libiconv is already installed in /Users/mbolsta/spack/opt

[2019-10-29 15:43] opadron commented on #13474
So far, I have determined that the logic for `spack.util.url.join` doesn't account for absolute links (e.g.: `join('https://github.com/mercury-hpc/mercury/releases/download/v1.0.1', '/mercury-hpc/mercury/...')`

I am preparing a fix to handle this and similar cases.

There may be other issues that I have yet to identify.

[2019-10-29 16:33] alalazo opened #13485 "Investigate Github actions as an alternative for CI"
As a maintainer of Spack I want to have a CI workflow that automatically detects which are the pull requests that modify Spack's core so that I can request a more thorough testing only for them.

### Rationale

Recently we have experienced slow-downs with our CI when receiving a large number of PRs on the same day. The major bottleneck was the availability of a MacOS worker on Travis CI.

Most of

[2019-10-29 16:39] bvanessen opened #13486 "Module files for external packages are not properly created in anonymous environments"
Building a set of spack packages inside of an anonymous environment produced module files without proper paths to the external packages.  Specifically, I was building the LBANN environment as detailed at https://lbann.readthedocs.io/en/latest/building_lbann.html.  The environment uses external packages for cmake, cuda, and mvapich2.  Previous versions of spack correctly created the modules for eac

[2019-10-29 16:39] bvanessen commented on #13486
@becker33 Here is the issue for the environment build problem.

[2019-10-29 16:40] bvanessen commented on #13486
@alalazo I believe that @becker33 wanted you to look at this issue.

[2019-10-29 17:39] opadron commented on #13474
@erimar77 @adamjstewart @paulbry please have a look at #13488.

Also, I haven't yet made the determination that #13488 is the only fix needed to address this issue.  I'd like to keep this issue opened, even if #13488 is merged.  Is there a way to tell github not to auto-close this issue?

[2019-10-29 18:06] erimar77 commented on #13474
@opadron #13488 resolves the issues I've been experiencing.

[2019-10-29 18:12] adamjstewart commented on #13474
Yes, simply avoid these keywords: https://help.github.com/en/github/managing-your-work-on-github/closing-issues-using-keywords

[2019-10-29 18:24] lee218llnl opened #13489 "Python 3.6 Spack post_install sbang.py gets UnicodeDecodeError"
When installing perl with Python 3.6, Spack gets a UnicodeDecodeError:

==> Error: UnicodeDecodeError: 'ascii' codec can't decode byte 0xe3 in position 3792: ordinal not in range(128)

/usr/WS2/gyllen/lee218/thisisaverylongdirectorynametotryandbreaksbanglimitinspack/spack/lib/spack/spack/package.py:1718, in build_process:
       1715                    echo = logger.echo
       1716

[2019-10-29 19:55] alalazo commented on #13489
I don't understand at the moment why Python 3.6 is failing with:
[code]
since, if I am not missing something, `utf-8` should be the default encoding in Python 3. Do you have the [PYTHONIOENCODING](https://docs.python.org/3/using/cmdline.html#envvar-PYTHONIOENCODING) variable set in your environment?

[2019-10-29 19:59] lee218llnl commented on #13489
Looks like utf-8 was made default in python 3.7:

[lee218@quartz386:~]$ python-2.7.16 -c 'import locale; print(locale.getpreferredencoding())'
ANSI_X3.4-1968

[lee218@quartz386:~]$ python3-3.5.1 -c 'import locale; print(locale.getpreferredencoding())'
ANSI_X3.4-1968

[lee218@quartz386:~]$ python3-3.6.4 -c 'import locale; print(locale.getpreferredencoding())'
ANSI_X3.4-1968

[lee218@quartz386:~]$ p

[2019-10-29 20:01] renderdude commented on #13484
More information:

The error above came when I tried to build lmod or diffutils from a clean install. I then clean again, bootstrapped, and built gcc, py-numpy@1.16.0, and py-pip (packages.yaml is forcing 2.7.16). When looking at the build, I notice that diffutils had been built successfully. I was then able to go back and build lmod. No idea why this worked in this round-about way

[2019-10-29 20:03] alalazo commented on #13489
I think that's a setting of your environment:
[code]
Will try to check what can influence this besides the environment variable above.

[2019-10-29 20:31] chuckatkins commented on #13227
Is it possible the gcc@9.2.0 you built is only the C compiler and doesnt include the C++ compiler?

[2019-10-29 20:51] #13247 closed

[2019-10-29 20:57] pat-s commented on #13227
No everything was fine in that case. However, this issue was also solved by #13460 for me.

[2019-10-29 21:04] lee218llnl commented on #13489
Some relevant Python PEPs:

https://www.python.org/dev/peps/pep-0538/

https://www.python.org/dev/peps/pep-0540/

There was a change between 3.6 and 3.7. I'm not sure what it keys on in 3.6 that causes differences for you and me @alalazo

[2019-10-29 21:37] bartlettroscoe commented on #13361
Just merged in `v0.13.0` to our local branch.  The updated code gives:

[code]

but when installing using:

<details>

<summary><b>spack.yaml</b></summary>

[code]

</details>

with:

[code]

it shows:

[code]

See, the `arch` is different!  The command `spack arch` returns `linux-rhel6-broadwell` but running `spack install` uses the `arch` of `linux-rhel6-haswell`.  Show is that?

That completely

[2019-10-29 22:33] tgamblin commented on #13361
@alalazo: just FYI, I added this to 0.13.1

[2019-10-29 22:33] tgamblin commented on #13361
@becker33: FYI

[2019-10-29 23:08] adamjstewart commented on #9034
Ping @tgamblin

[2019-10-30 04:44] omsai opened #13498 "Installation issue: netcdf-fortran"
Can anyone reproduce this issue with netcdf-fortran and the intel compiler?  The error is confusing because the spack dependency graph indicates that netcdf-fortran is independent of netcdf.  I don't know if the netcdf-fortran is not reading the library flags of netcdf properly, or if the latest version of netcdf-fortran has introduced some dependency on mpi, or if this is something specific to in

[2019-10-30 09:39] christianbaensch commented on #13018
With a roll back to March ´19 branch it works.
Testing a current installation within the developement branch seems also to run properly.

Thank you @all

[2019-10-30 09:57] obreitwi opened #13501 "`spack load` broken for multi-architecture deployments by #10975"
In order to accommodate all places where our spack install is used, we compile all packages for an older target (`sandybridge`). Systems which have a newer micro architecture (e.g., `ivybridge`) fail to load the module command because #10975 tries to load the installed `environment-modules` package for the current target architecture only, not falling back to compatible older ones.

[2019-10-30 10:01] healther commented on #13501
@scheibelp @ajw1980

[2019-10-30 10:02] christianbaensch opened #13502 "Installation issue within dealii: "trilinos""
Dear community,

I´ll try to install dealii onto three Ubuntu 16.04.6 machines and one 18.04.3 LTS machine with gcc 5.4.0 resp. gcc 7.3.0 and the build runs into an error while installing "trilinos".

There´s enough memory and enough disk space for temp. It´s independent if I run the installation with 1 or more cpu cores.

If you need more information, please let me know.

Thank you very much in a

[2019-10-30 10:13] alalazo commented on #13501
Adding another detail. The `environment-modules` above has been installed with:
[code]

[2019-10-30 10:33] obreitwi commented on #13501
`spack bootstrap` defaults to installing `environment-modules` for the current system's architecture, which we want to avoid because the system on which spack is installing is newer than some systems that spack will be used on. So we install the environment modules with a custom older target.

We are currently in the process of merging [2cd8003](https://github.com/electronicvisions/spack/tree/sand

[2019-10-30 10:50] alalazo commented on #13501
Nope. On `develop` it installs for `x86_64` which is the common denominator.

[2019-10-30 10:52] alalazo commented on #13501
Duplicate of #13073

[2019-10-30 10:53] alalazo commented on #13501
@obreitwi If I am not mistaken this has been solved in #13105

[2019-10-30 11:03] alalazo commented on #13361
@bartlettroscoe I would close this again as this is expected and documented [here](https://spack.readthedocs.io/en/latest/basic_usage.html#support-for-specific-microarchitectures) on the same exact case.

You are using `gcc@4.8.3` which does not support building software that is optimized for `broadwell` (support starts from v 4.9). Therefore Spack chooses the next best fit to your `broadwell` mic

[2019-10-30 11:04] alalazo commented on #13361
@bartlettroscoe Wondering if you think this should be a case entering into #13482

[2019-10-30 11:22] alalazo commented on #13018
Closing as I just tested and confirm it works:
[code]

[2019-10-30 11:22] #13018 closed

[2019-10-30 12:15] alalazo commented on #13489
I don't have a full grasp of what happens yet. Are the different Python versions available through module files? If so, is there any change that these module do to any `LC_*` variable?

[2019-10-30 12:15] madmissmolly commented on #13484
Had same issue on Linux Ubuntu 16.04 when building new release:

[code]

[2019-10-30 12:29] davydden opened #13504 "openfoam: broken modules (with zsh)"
Looks like something is wrong with modules from `openfoam`. If I generate module files, spack shows an error for `openfoam` package:

[code]

when loading a module, I get from `lmod`:
[code]
or from `environment modules`:
[code]

This has to do with
[code]
If I manually delete it, I can at least load modules and get environment variables set correctly.

[2019-10-30 12:39] obreitwi commented on #13501
It sure looks like it, thank you! I'll only get to test it once we do the next upstream merge (right now we've reverted #10975 as we only have one `environment-modules`). If any issues should arise I will reopen…

[2019-10-30 12:39] #13501 closed

[2019-10-30 13:13] madmissmolly commented on #13484
When I specify the compiler for diffutils to be clang it fails but it builds successfully with gcc:

[code]

Perhaps this is why when it was installed as a dependency of another package by @renderdude it succeeded (as it used the gcc compiler) but by default it attempts to use clang and fails?

[2019-10-30 13:26] bartlettroscoe commented on #13361
@alalazo, sorry that was a mistake on my part.  I forgot to wiping the env before running raw spack.

Here is the error again ...

On a RHEL6 machine with the raw system compiler:

[code]

using the files:

<details>

<summary><b>spack.yaml</b></summary>

[code]
</details>

<details>

<summary><b>common_options.yaml</b></summary>

[code]

</details>

<details>

<summary><b>packages_tools_for_compi

[2019-10-30 13:31] bartlettroscoe opened #13505 "Spack install randomly failing with patch errors since v0.13.0"
snl-atdm-issue

We are seeing failures of the patch command when trying to install perl (which is a required dependency for cgns).  I saw this after upgrading to a recent version of spack 'develop' and I am still seeing this again after upgrading to version `v0.13.0` so I am going to report this.

We are seeing errors like:

[code]

I don't remember seeing this with older versions of spack.  Is th

[2019-10-30 13:40] alalazo commented on #13361
There's no mismatch, it's the same as before. In the new example you are compiling with `gcc@4.4.7`. Since that old version of gcc knows how to optimize up to the `core2` microarchitecture, that is selected as the best match to `broadwell`.

If you register a newer compiler (like the `gcc@7.2.0` you are building) then the target will be correctly set to `broadwell` - since the new compiler knows h

[2019-10-30 13:47] DavidPoliakoff opened #13506 "Spack finding compilers from an environment"
This one definitely falls under "user error," but it would be nice to warn users or avoid if possible.

On my home system I'm exclusively using Spack, heavily using environments. I did the following

[code]

Oh, but gcc@8.3.0 isn't in my compilers.yaml yet. I'll

[code]

This adds gcc@8.3.0 as being `/path/to/my/environment/view/bin/gcc`

Later when I delete the env, that symlink has evaporated, a

[2019-10-30 13:48] bartlettroscoe commented on #13361
@alalazo, how is that?  The command `spack arch` returns `linux-rhel6-broadwell` but `spack install` selects `arch=linux-rhel6-core2`.  Therefore, after `spack install` is complete, when our `install-trilinos-env.sh` script looks for installed components for `spack arch`, it will not find anything (because it will be looking for `` but what is installed will have `` in the directory name).  That m

[2019-10-30 13:55] tgamblin commented on #13361
@bartlettroscoe: not sure what you want us to do. The old compilers will not generate code for the new architecture. We’re labeling the binaries according to *where they can be used*. You can still load a core2 module on a broadwell.  What’s the issue?

[2019-10-30 13:56] tgamblin commented on #13361
@alalazo: we may not have anything that makes it easy for users to do this.  Is there some command we could add for @bartlettroscoe that would allow it?  We already add compatible architectures to the module path.  What does the script need to do?

[2019-10-30 14:02] fryeguy52 commented on #13361
what about something like `spack arch %gcc@4.4.7` that would return what `spack install` would use for gcc@4.4.7?

[2019-10-30 14:05] alalazo commented on #13361
@bartlettroscoe Looking at the name of your bash function:
[code]
can't that be substituted by `spack location -i` or `spack find -p`?

[2019-10-30 14:12] lee218llnl commented on #13489
All of these LC Python versions were built using Spack. The executables are run without any environment modifications (i.e., no wrappers or modules). I think based on the PEPs, that with Python 3.7, they changed the way the default encoding is selected, using UTF-8 and ignoring the locale encoding.

[2019-10-30 14:14] bartlettroscoe commented on #13361
@alalazo asked:

No, I tried that and it was super slow and did not work.  (I don't remember all of the details but I can look back at my notes.)  The current script was arrived at after days and days of experimenting and testing to find what actually works.

Another option is capture the output from the `spack install` command and then grep it for the `arch` and then look for the install paths fo

[2019-10-30 14:25] fryeguy52 commented on #13361
@bartlettroscoe or something using `spec` like:
[code]
will give us which arch will be used

[2019-10-30 14:28] becker33 commented on #13361
@bartlettroscoe

1. I would appreciate if you could find the notes you have on the `spack location -i` command failure, that is of definite interest to me.

2. Your script has a failure case if you ever install multiple configurations of the same package/version combination. I don't know how likely it is to come up in your current use-case, but hdf5 with/without mpi would be an easy way for someth

[2019-10-30 14:38] tgamblin commented on #13361
@fryeguy52: there is also `spack find —json` and `spack find —format` you might want to look at.

Note the JSON output of `spack find —json` is “flatter” to be more amenable to things like `jq`.  We could also add `spack spec —format` if you think it’d help.

[2019-10-30 14:49] tgamblin commented on #13361
Note that if your package.py files change, spack spec may need to reindex the to concretize again.

[2019-10-30 14:51] bartlettroscoe commented on #13361
I can sync our atdm-spack repo to the LLNL bitbucket site for now so people can see what we are trying to do.  I am currently working on the branch `cdofa-68-spack-upgrade-concretize-together`.  (I have not actually gotten to test out `conretization=together` yet because the upgrade to version 0.13.0 broke the basic functioning of the install process.)

[2019-10-30 15:04] bartlettroscoe commented on #13361
We don't let spack write into ~/.spack/ (which is a disaster if you try to run multiple spack configs in the same user account and destroys reproducability).

What are the "indexes" and how are they computed?

We don't let

[2019-10-30 15:28] bartlettroscoe commented on #13361
@becker33 said:

Right.  But in our use case that will not happen.  And actually, we only look for installed tools packages like 'cmake', 'ninja-fortran', 'python', etc. which we never need more than one of these install per system.  (The only exception is hacks we have been having to put int for missing `-L` paths for libraries.  See #12304).

[2019-10-30 15:47] bartlettroscoe opened #13507 "m4 package does not build with spack verion 0.13.0 on RHEL6 using spack-built gcc@7.2.0"
CC: @fryeguy52

Tag: snl-atdm-issue

I used spack to build gcc@7.2.0 using the native RHEL6 gcc@4.4.7 which gave the compilers.yaml entry:

[code]

Then, using the file:

<details>

<summary><b>spack-yaml</b></summary>

[code]
</details>

I tried `spack install` and it gave the error:

[code]

I am going to try to get around this by pointing to 'm4' and may other such packages already installed on

[2019-10-30 16:11] renderdude commented on #13484
@madmissmolly: I thought the same thing, but nope. I checked the compiler flags of the installed diffutils and it's clang-11

[2019-10-30 16:22] becker33 commented on #13361
Yes.

[2019-10-30 16:25] #13462 closed

[2019-10-30 17:16] bartlettroscoe opened #13509 "Spack trying to use a python that it was told to build but never actually built"
CC: @fryeguy52

Tag: snl-atdm-issue

When I upgraded to Spack 0.13.0, if you tell spack to build python but it is not able to actually built it because another package build fails, then spack still tries to use that package (it would appear automatically).

For example, I ran `spack install` which tried to build:

[code]

but there was a build error in the package 'perl' reported in #13505 so it n

[2019-10-30 17:47] SteVwonder opened #13512 "Print test-only dependencies with `spack spec`"
I would like to see test-only dependencies when running `spack spec`, even if it is gated behind an argument/flag.

### Rationale
I added `depends_on("valgrind", type="test")` to the `flux-core` package, but when I run `spack spec -t flux-core`, it is not included in the spec despite being built and used when I run `spack install --test=root flux-core`.

[code]

### Description

I think this use-c

[2019-10-30 17:59] bartlettroscoe commented on #13505
After the upgrade, this appears to happen every time I run `spack install` for the first time with the given spack.yaml file.

Do you think I have a shot at not letting Spack build perl@5.26.2 and instead just use the native perl@5.10.1 already on RHEL6 systems:

[code]

?

I would like for spack to build an updated python (because that would be useful for our customers) but I can't see any value

[2019-10-30 19:49] scheibelp commented on #13505
Yes: see https://spack.readthedocs.io/en/latest/build_settings.html#external-packages and `buildable: False`

Could you add the other info requested in https://github.com/spack/spack/issues/13505#issuecomment-548034270?

[2019-10-31 00:05] bartlettroscoe opened #13516 "Spack trying to create module for external package when it has been told not to"
CC: @fryeguy52

Tag: snl-atdm-issue

Using the updated 0.13.0 version of spack, using the files:

<details>
<summary><b>spack.yaml</b></summary>

[code]

</details>

<details>
<summary><b>common_options.yaml</b></summary>

[code]

</details>

<details>
<summary><b>preinstalled_packages.yaml</b></summary>

[code]

</details>

<details>
<summary><b>atdm-spack/spack/etc/spack/modules.yaml</b></summar

[2019-10-31 00:09] bartlettroscoe commented on #13516
Why is spack trying to build modules for these external packages when it is specifically told not to in the `spack.yaml` file which has:

[code]

I think we saw something like this before which is why our script installs the file `atdm-spack/spack/etc/spack/modules.yaml` which is:

[code]

We can't get around problems like #13507 if we can't get spack to point to external packages on the system.

[2019-10-31 07:36] alalazo commented on #13413
Trying to add the `-DLLVM_ENABLE_LLD:BOOL=ON` flag to cmake configure. Reference [here](https://llvm.org/docs/CMake.html)
@ax3l

[2019-10-31 11:59] alalazo commented on #12951
It seems this broke after merging #3206. Will investigate further on the issue.

[2019-10-31 17:39] bvanessen commented on #13486
Any thoughts on this?  It pretty much breaks the usefulness of the current head of develop.

[2019-10-31 18:07] homerdin commented on #13117
Moving forward the main LLVM development is (as of last week during the Dev Meeting)on GitHub using the mono-repo (all llvm projects live side-by-side).  If you factor out the FLANG parts of the LLVM Spackage we can also factor out the rest of the resource logic in the LLVM Spackage (https://github.com/spack/spack/pull/11392).

Once f18 moves upstream, for the mono-repo all that will be needed is

[2019-10-31 20:41] mc-allen opened #13528 "Spack ability to install or dev-build by git reference instead of version"
Provide the ability to specify a git reference in place of version for install, dev-build, build-env.

### Rationale

Particularly for cases of local development using spack dev-build, it is a heavy maintenance burden to have to include all possible branches and tags as spack versions. Many projects don't just use develop or master - git flow style development with feature branches is common. To s

[2019-10-31 23:34] adamjstewart opened #13529 "Unable to concretize environment if python isn't installed yet"
Spack Environments crashes when you try to concretize/update an environment that contains Python, but Python hasn't been installed yet.

### Steps to reproduce the issue

[code]

### Error Message

[code]
The problem is that Python is not yet installed, so the installation directory does not exist, and `spec['python'].command` crashes.

### Information on your system

Cray CNL5, GCC 5.3.0

`spack.

[2019-10-31 23:54] adamjstewart commented on #13529
The following diff seems to fix the problem for me, although it might break other things I don't realize:
[code]
Let me know if you want me to push a PR. I prob won't have time to add unit tests though.

[2019-11-01 00:56] scheibelp commented on #13346
It appears this was introduced in https://github.com/spack/spack/commit/406c791b88a9402f91d44e546781585c5d88fc69. It does not appear to be specific to environments. I anticipate resolving it within the next few days (by the end of 11/4).

[2019-11-01 01:31] bartlettroscoe opened #13531 "spack mirror create not actually mirroring tar files"
CC: @fryeguy52

Tag: snl-atdm-issue

Using Spack version 0.13.0 ...

I am trying to use the `sparc mirror` command to copy tarballs for the sources for the packages that we need to use.  The list of packages and versions that I need the add to my mirror are:

<details>

<summary><b>packages_to_get_tarballs_uniq.txt</b></summary>

[code]

</details>

(that list was NOT that easy to generate)

I hav

[2019-11-01 01:38] bartlettroscoe commented on #13531
I will test to see if these really are the tar files and the documentation at:

* https://spack.readthedocs.io/en/v0.13.0/mirrors.html

has just not been updated for the usage of `*.tar.gz` files under `_source-cache/`.  Very confusing.

[2019-11-01 08:11] Sinan81 opened #13532 "py-astor is not compatible with latest version of py-setuptools"
It seems py-astor is not compatible with latest (v41.4.0) py-setuptools, hence yielding build error. However, it builds just fine with earlier versions of py-setuptools.

### Steps to reproduce the issue

[code]
### Information on your system

- Centos7
- python@2.7.16

[2019-11-01 08:11] Sinan81 commented on #13532
Related to #13112

[2019-11-01 08:17] Sinan81 commented on #13532
Also checked that I am getting the same build error with python@3.

[2019-11-01 10:24] alalazo commented on #13486
@bvanessen I am starting to have a look at this right now.

[2019-11-01 10:36] #13482 closed

[2019-11-01 10:38] #12951 closed

[2019-11-01 10:42] #13474 closed

[2019-11-01 10:43] tgamblin commented on #13489
Fixed by #13490

[2019-11-01 10:43] #13489 closed

[2019-11-01 14:11] bartlettroscoe opened #13535 "Warning: Tried to remove .../.spack-env/view/share/info/dir which does not exist?"
CC: @fryeguy52

Tag: snl-atdm-issue

For some reason when we upgraded to spack 0.13.0, we are now getting warnings like:

[code]

What does this come from and how do we make them go away?

[2019-11-01 14:37] alalazo commented on #13486
Got sidetracked by another issue for a couple of hours. Anyhow trying to build locally I get empty module files for e.g. `cmake` which is installed externally:
[code]
Is that the issue you are experiencing?

[2019-11-01 14:59] alalazo commented on #13486
So, investigating what is happening I have a guess which seem to be a problem with the configuration file on your side and not a bug with Spack. Can you try to remove the double colon in:
[code]
? If the issue persist please double check the paths are correct, since inspecting a non-existing path will also result in an empty module file like the one above.

Taking care of both these issues I have

[2019-11-01 15:36] bartlettroscoe opened #13537 "Updated spack install tries to get tarballs off internet first before looking in local mirror!"
CC: @fryeguy52

Tag: snl-atdm-issue

The older version of spack we were using would try to get source off our local mirror before going out to the internet with behavior like:

[code]

But with the upgrade version of spack 0.13.0, it does:

[code]

See that, over 1m to try to get the source from the internet (and failing because if did not set the proxies on purpose) and 4s to build!  This is not

[2019-11-01 15:44] cwsmith commented on #13537
I see the same behavior moving from v0.12.1 to v0.13.0.

[2019-11-01 15:45] bartlettroscoe commented on #13537
@cwsmith, thanks for the confirmation!

Looks like spack may be missing some automated tests for dealing with mirrors (or this behavior was changed on purpose for some reason).

[2019-11-01 15:49] bartlettroscoe commented on #13531
So it looks like indeed the strangely named `*.tar.gz` files under `<mirror-dir>/_source-cach/` are getting used by `spack install`.   I ran an experiment where I unset http_proxy` and `https_proxy`  and did the install with spack and it worked.  Therefore, it looks like just the documentation in:

* https://spack.readthedocs.io/en/v0.13.0/mirrors.html

just need to be updated for the new approach

[2019-11-01 16:11] bartlettroscoe commented on #13535
And more of them:

[code]

[2019-11-01 16:24] bvanessen commented on #13486
Yeah, that looks like the error that I am seeing.

Brian C. Van Essen
vanessen1@llnl.gov
(w) 925-422-9300
(c) 925-290-5470

[2019-11-01 16:33] scottwittenburg commented on #13537
@bartlettroscoe Is it possibly a mirror precedence issue?  Can you share your list of configured mirrors?  I don't know if `spack mirror list` will list them in the order they'll be searched, but I think showing the contents of the `mirrors.yaml` should indicate that order.

[2019-11-01 16:37] scheibelp commented on #13537
This was changed in https://github.com/spack/spack/pull/11117. We anticipated switching it back eventually but did not anticipate that it would cause problems for users.

So @opadron I think we should prioritize this higher and add it to 0.13.1. You mentioned in https://github.com/spack/spack/pull/11117/files#r272646885 that you rearranged it because you were observing failures with the previous o

[2019-11-01 16:39] opadron commented on #13474
Just following up on one last point:

I was worried that there might have been more fixes needed to address this issue, but after merging #13488, I am less concerned.  I think we can keep this issue closed and follow up with a new issue if something new is discovered.

[2019-11-01 16:39] scheibelp commented on #13537
@scottwittenburg I got here a little late: if you look at https://github.com/spack/spack/pull/11117/files#r272646885 you'll see we in fact did change this ordering in Spack.

[2019-11-01 16:45] alalazo commented on #13486
@bvanessen Can you confirm that also the solution works for you?

[2019-11-01 16:46] scheibelp commented on #13531
Hi @bartlettroscoe I will say that when a mirror is generated "from scratch" it will contain the oddly-named files that you observed but it should also contain symlinks which follow the old file naming conventions. E.g. you might have something like:

[code]

If you aren't seeing those symlinks get created, could you let me know if your mirror was preexisting?

[2019-11-01 16:50] bvanessen commented on #13486
I am testing now.

[2019-11-01 17:41] bartlettroscoe commented on #13531
@scheibelp, no, those symlinks did not exist and yes, this was a pre-existing mirror that I was just trying to update.  But spack did not even write those files into my mirror:

*  atdm-spack/atdm-spack-tarball-mirror/

Instead, it wrote them into:

* atdm-spack/spack/var/spack/cache/

I had to manually copy them over to atdm-spack/atdm-spack-tarball-mirror/.

What is supposed to be the behavior o

[2019-11-01 17:45] bartlettroscoe commented on #13537
I am okay with spack changing the ordering by default but there needs to be a way to tell spack to not to try to download things off the internet (or tell it to prefer mirrors first).

Can we just add an option to spack install (or setting it in spack.yaml) to not try to download anything off the internet?  There are some organizations that can't allow any internet access and we need to be able to

[2019-11-01 18:11] scheibelp commented on #13537
We could, although that would be different from the behavior before #11117 too: before that PR, if the mirror URLs failed, it would eventually try the default internet download URL.

There appears to be some logic present to support this but it's incomplete since there is no config or command line option available to trigger that behavior.

[2019-11-01 19:22] opadron opened #13541 "Dict ordering not preserved when loading config."
Spack does not preserve dict ordering when loading configurations from a file.

### Steps to reproduce the issue

[code]

Expected output:
[code]

Observed output (incorrect order):
[code]

Note that someone testing this case might observe a different ordering, possibly the expected ordering.  The heart of this issue is that the ordering does not seem to be guaranteed.

[code]
[code]

This output

[2019-11-01 19:57] cwsmith opened #13543 "problem reusing old install after updating spack to v0.13.0"
I installed mpich 3.3 (hash `diz4f6i`) back in April and have been using it since without any problems to install other packages that depend on MPI.  After switching to version v0.13.0, when I try to reuse the mpich install the concretization wants to reinstall mpich3.3.  Please excuse my abuse of spack terminology.

The following commands and output were on our production RHEL7 system:

[code]

#

[2019-11-01 20:06] tgamblin commented on #13543
Duplicate of #311. Expected behavior right now; will be resolved with new concretizer.

[2019-11-01 20:06] #13543 closed

[2019-11-01 20:58] bartlettroscoe commented on #13537
@scheibelp,

Right, but there are cases where you want to shut down all internet communication and force the tool to use sources already in a local mirror.  Otherwise, how are you to know if the mirror has what you need?

Given that this will be a new option, there are no backward compatibility considerations.

That is good.  Hopefully that will not be too hard to implement.   (Usually pretty easy

[2019-11-01 21:02] #13541 closed

[2019-11-01 22:13] scheibelp commented on #13531
In short, I think specifying `-d <the directory you want to create the mirror in>` will resolve your problem (but not the problem that the docs need to be clear about that).

I'm reading your original command more-carefully:

[code]

If you want to specify a directory where you want to place mirrored files, you generally have to add the `-d` option like `spack mirror create -d <directory>/ --file

[2019-11-02 02:00] bartlettroscoe commented on #13531
There is no mention of a `-d` option at all in:

* https://spack.readthedocs.io/en/latest/mirrors.html

Now that I run:

[code]

I think I can see a better way to use this.  I would run:

[code]

where `direct_list_of_packages.txt` would only list the direct set of packages that I want, not the intermediate dependencies.

Will  running that correctly create the symlinks like `cmake-3.15.4.tar.gz`?

[2019-11-02 02:10] scheibelp commented on #13531
It will except if you have already relocated files from `_source-cache` manually into the directory - that's a side case I wasn't expecting folks to hit often. If you do relocate the `_source-cache` directory yourself you don't actually need the symlinks - those are just there for readability. Also, while symlinks won't be made for existing tarballs, Spack will create them for new ones that are do

[2019-11-02 02:12] bartlettroscoe commented on #13531
Okay, I will give that a try.  I guess I can delete everything in my mirror and then run:

[code]

and I should get nice symlinks and everything, right?

But the documentation at:

* https://spack.readthedocs.io/en/latest/mirrors.html

should note the usage of `_source-cache` so as not to confuse people.

[2019-11-02 17:02] bartlettroscoe opened #13550 "GCC 7.2.0 and CMake 3.15.4 built with Spack 0.13.0 breaks CMake detection of C++14 support"
CC: @fryeguy52, @bradking

Tag: snl-atdm-issue

After upgrading spack to version 0.13.0, cmake 3.15.4 + g++ 7.2.0, both built with spack, can not enable C++14 support using CMake code like:

[code]

[2019-11-02 17:03] bartlettroscoe commented on #13550
I lost many hours debugging this.  This upgrade of Spack 0.13.0 has been nightmare.

[2019-11-02 17:07] bartlettroscoe commented on #13550
The breaking commit was 0fb563f3d9f944f25f3badbf91d53754ef075aaa.  I will post a PR to fix this.

[2019-11-02 19:39] bartlettroscoe commented on #13550
Shoot, removing  '`-with-pkgversion=Spack GCC` to put back the standard g++ version:

[code]

did not fix the problem with CMake 3.15.4 detecting C++14 support.

I will try putting the gcc/package.py file back exactly the way it was in our prior version of spack and see if that fixes the problem.

[2019-11-02 19:44] adamjstewart commented on #13550
@bartlettroscoe Sorry for all the trouble you went through! I would be surprised if `--with-pkgversion` was the issue, as [Homebrew](https://github.com/Homebrew/homebrew-core/blob/master/Formula/gcc.rb#L59) and Anaconda also hack this in the same way we do. Let me know if you figure out which change is causing the issue.

[2019-11-02 23:58] bartlettroscoe commented on #13550
Looks like the problem may be with cmake 3.15.4 (or at least the spack build of cmake 3.15.4).

When I reverted gcc/package.py to our prior version, cmake 3.15.4 still could not correctly detect C++14 support (and set `-std=gnu++14`).  I then used some older cmake versions 3.12.2 and 3.13.4 and both of them correctly detected C++14 support with gcc 7.2.0 and set `-std=gnu++14`.

I am now rebuildin

[2019-11-03 07:28] alalazo commented on #13550
@bartlettroscoe Can you briefly update the description to be consistent with the latest diagnosis of the issue?

[2019-11-03 13:05] bartlettroscoe commented on #13550
@alalazo, I have updated it.  And sorry to jump to conclusions.

It is just that I have been working through issues for over a week now trying to upgrade Spack  (see `snl-atdm` issues over the last couple of weeks)  and this was one that looked like is was going to kill the upgrade (or any future upgrade of Spack).

I will report back the final outcome.

[2019-11-03 13:16] bartlettroscoe commented on #13507
FYI: I could not get around this by pointing to 'm4' already on the system as I can't get that to work as described in #13516.

[2019-11-03 18:27] bartlettroscoe commented on #13505
This seems to be quite random, and it is not just for the perl packages (see below).  I have more than a dozen builds from scratch over the last few days and have only had this happen a couple of times.

Has really else experienced this?

-----

I just encountered a patch error for the  package `mpfr`:

[code]

[2019-11-03 18:29] bartlettroscoe commented on #13505
BTW, no dice on using externally provided packages (see #13516).  My workarounds are getting narrow at this point.

[2019-11-03 22:56] adamjstewart opened #13553 "KeyError in Spack Environments"
I have an environment already installed. I want to update that environment by running `spack concretize --force`, but I'm seeing a KeyError when I try to.

### Steps to reproduce the issue

[code]

### Error Message

[code]

### Information on your system

I've been able to reproduce this on both macOS 10.15.1 and Cray CNL5. The only workaround I've found so far is to `rm spack.lock` and start fro

[2019-11-03 23:03] adamjstewart opened #13554 "Spack Environments are painfully slow"
I've been using Spack Environments for a while now, and so far my biggest complaint is the performance. On an NFS cluster in particular, it can take upwards of 15 minutes just to concretize an environment. Things are particularly bad when the environment is partially installed, as most of the time is spent updating the environment, not actually concretizing anything. I've even noticed that command

[2019-11-03 23:46] #12313 closed

[2019-11-04 00:16] Sinan81 commented on #13554
Not sure if this is directly relevant, but very recently it seems the time it takes for spack to activate an environment has became considerably slow.

[2019-11-04 00:23] adamjstewart commented on #13554
@Sinan81 I'm guessing this is related to #13249. You can try the commits before and after if you want to confirm and give some benchmarks.

[2019-11-04 00:25] Sinan81 commented on #13554
I was also guessing  this PR could be the reason for the slow down

[2019-11-04 01:11] #13537 closed

[2019-11-04 01:24] bartlettroscoe commented on #13550
I think that I have verified that the problem is indeed with CMake 3.15.4 and not with how Spack is building GCC 7.2.0 with v0.13.0.  I have put back gcc/packages.py and I downgraded to CMake 3.14.5 and now it CMake correctly detect C++14 support and puts `-std=gnu++14` on the compile line.  The only changes in our version of Spack (on our branch 'snl-atdm') compared to 0.13.0 are in the files:

[

[2019-11-04 01:24] #13550 closed

[2019-11-04 01:34] adamjstewart commented on #13535
I assume you have a `spack.yaml` file in `/home/rabart1/Spack.base4`? These warning messages come from Spack Environments. See https://spack-tutorial.readthedocs.io/en/latest/tutorial_environments.html and https://spack.readthedocs.io/en/latest/environments.html for more info.

[2019-11-04 01:44] bartlettroscoe commented on #13535
Yup.

There is no mention of a `.spack-env/view/` directory or about these warnings.

Is this really a warning or just spam?  If I see something that says "Warning", I assume something has gone wrong and I need to debug what is is happening.  If this is not really a "Warning" and just a "Note", then say that:

[code]

Is this even worth a "Note"?  As a user, why should a care about this?  (Note: I

[2019-11-04 01:49] bartlettroscoe commented on #13189
I can verify that this was resolved when we upgraded to spack v0.13.0 (and build with `arch=linux-rhel6-x86_64`).

Closing as complete.

[2019-11-04 01:49] #13189 closed

[2019-11-04 03:46] adamjstewart commented on #13554
I ran some quick benchmarks on Blue Waters. From my home directory:
[code]
From a directory containing a `spack.yaml` file:
[code]
At these speeds, Spack is practically useless. I can't even `spack edit` a file unless I want to wait around for 3 minutes.

[2019-11-04 04:04] adamjstewart commented on #13554
On my personal laptop, the difference is even greater. From my home directory:
[code]
From a directory containing a smaller `spack.yaml` (uninstalled environment):
[code]
From a directory containing a larger `spack.yaml` (installed environment):
[code]
That's a 2x slow down for a small `spack.yaml`, and a 30x slow down for a large `spack.yaml` that has been installed.

[2019-11-04 10:02] alalazo commented on #13486
@bvanessen Any news? Can we close this issue?

[2019-11-04 11:01] alalazo commented on #13554
@adamjstewart Can you share your `spack.yaml` files? I see a minimal slow down on my laptop with the mock environments I tried so far. Without environments:
[code]
With this `spack.yaml`:
[code]
I get instead:
[code]
so it seems there is a slow down but not as dramatic as the one reported here. I am trying to figure out if I miss a trigger for it to be much worse.

[2019-11-04 12:18] alalazo commented on #13554
For sure having the environment installed makes things worse. With the environment posted above:
[code]

[2019-11-04 13:24] alalazo commented on #13516
Hi @bartlettroscoe from what I can see you have a syntax error in your file:
[code]
 if there was not a typo copying the YAML file, I am surprised module files got generated at all. Can you please double check the `blacklist` entry above and comment here?

[2019-11-04 13:28] alalazo commented on #13554
@adamjstewart I've been trying to reproduce the slow down, but I am unable right now. Waiting to try your `spack.yaml`.

[2019-11-04 13:36] alalazo commented on #13554
@adamjstewart Nevermind. I passed to #13529 and with that `spack.yaml` I see **huge** slow downs. I suspect we do a lot of work that is nod needed when we have packages that can be extended.

[2019-11-04 13:54] bartlettroscoe commented on #13516
@alalazo, thanks for the catch.  Looks like this was a defect in our script used to generate that file.  Looks like I sense fixed it as it now shows:

[code]

I will give this a try again and see what happens.

[2019-11-04 14:25] alalazo commented on #13554
@adamjstewart I'll try to debug this, the issue seems to be within activation and deactivation of environment. Once the environment is activated debug info shows that the time to execute commands is pretty much the same as outside an environment.

[2019-11-04 14:27] tgamblin commented on #13554
@alalazo @adamjstewart: just work up, but try a quick fix by putting a read transaction around the loops in `add_default_view_to_spec` (as `environment_modifications_for_spec` calls `spec.prefix`).  This is similar to what I did in  #12686.

[2019-11-04 14:29] alalazo commented on #13554
@tgamblin Doing it right now.

[2019-11-04 14:38] paulbry commented on #13554
Could this https://github.com/spack/spack/issues/12779  be related?

[2019-11-04 14:38] alalazo commented on #13554
So, without that protection:
[code]
and with the context manager:
[code]
It seems that's the right direction, but probably we are still missing some other place. I'll keep looking.

[2019-11-04 14:47] tgamblin commented on #13554
The other thing that may be a problem is that it’s just iterating over package files. If the env is *just* being activated for a local spack.yaml, we don’t need all the env modifications.  They shouldn’t affect the build or spack.  If we’re activating with `spack env activate`, then we do want them for the user’s environment.

So you could just avoid that loop through the packages altogether when

[2019-11-04 14:55] rajeeja opened #13555 "visit dependency issue"
[code]

[2019-11-04 14:55] alalazo commented on #13554
@tgamblin Just to be faster, since I'm not too familiar with that part of the code. Is there any reason why I don't get profile data when using `spack -p`:
[code]
? This happens both within the directory with the `spack.yaml` and outside. Within the directory the times are doubled, which makes me think I pay for implicit activation on top of the one required by the command.

[2019-11-04 15:04] tgamblin commented on #13554
Not sure. I usually find `python -m pyinstrument $(which spack) ...` useful....

[2019-11-04 15:06] alalazo commented on #13554
Thanks @tgamblin will try that. In the meantime confirmed that the other part severely affecting performance is:

https://github.com/spack/spack/blob/903b0071cf9299f0d4e950a41a4ec9d95df9a43d/lib/spack/spack/environment.py#L1111-L1118

[2019-11-04 15:17] alalazo commented on #13554
Hmm, give me a second, I'm chasing `Python.command` property. We might be looking for (i.e. stating files) the Python command a thousand time more than needed.

[2019-11-04 15:49] adamjstewart commented on #13554
The smaller environment (as you've already discovered):
[code]
The larger environment:
[code]

[2019-11-04 16:08] bradking commented on #13550
GCC 7.2 **defaults to C++14 mode** and does not need any `-std=` flag for it.  Using CMake 3.15.x it is not expected that `cxx_std_14` will cause an explicit `-std=gnu++14` flag to be added to the command line because the compiler already operates in that mode.

[2019-11-04 16:14] alalazo commented on #13554
Here's a profile pointing at `_set_variables_for_single_module` in `build_environment.py`:

![Screenshot from 2019-11-04 17-13-07](https://user-images.githubusercontent.com/4199709/68136954-659ae180-ff26-11e9-851b-388aa855fc43.png)

[2019-11-04 16:19] adamjstewart commented on #13555
This is a known bug in the concretizer that @tgamblin is currently working on fixing. In the meantime, the following workaround should work:
[code]

[2019-11-04 16:22] #13532 closed

[2019-11-04 16:41] alalazo commented on #13554
@tgamblin @adamjstewart I'm about to commit a fix that takes the 27 sec. posted above down to:
[code]

[2019-11-04 18:17] ax3l opened #13559 "pybind11: fix get_include()"
The `py-pybind11` package has a python module helper of the form:

[code]

which helps downstream, if they are not using the CMake config package (which probably everyone is using), to query the install location.

`get_include()` currently points to the spec's Python include location instead of the package's include.

Diff for a new unit test:
[code]

Similar to:
- https://github.com/conda-forge/p

[2019-11-04 18:19] ax3l commented on #13559
@adamjstewart do you think I can just patch-in on install a hardcoded return path into that module?

[2019-11-04 18:20] scheibelp commented on #13531
Yes

Agreed: I'll keep this issue up until that is addressed.

[2019-11-04 18:44] adamjstewart commented on #13559
Yeah, that's probably the easiest way. `sys.prefix` will always be wrong, unless you activate the package.

[2019-11-04 19:08] ax3l commented on #13559
Ok, sorry for the follow-up: do we have a mechanism to apply such a "non-static" patch? Probably via `filter`?

[2019-11-04 19:53] alalazo commented on #12779
@ajw1980 Can you check if #13557 improves things for your use case above?

[2019-11-04 20:11] healther commented on #13554
Maybe this is not the entirely correct issue to post this to, so if you want me to open a separate one just let me know, but here it goes.

Afaiu one should modify environments like
[code]
for some reason I get an
[code]
after each of the last 3. However prior to the `spack install` the view is not affected at all, even if the packages are already installed (ie by a `spack install <spec>` outside

[2019-11-04 20:21] healther commented on #9034
Why not provide them via `spack bootstrap`? Probably with a flag

[2019-11-04 20:22] healther commented on #13529
That would have fixed the problem for me, for the record, installing the `python` from outside the environment fixes the problem

[2019-11-04 21:59] ajw1980 commented on #12779
#13557 didn't seem to matter much for that. I updated spack to the latest and applied those patches and it seems about the same. Strace showed the same db access pattern. Here is the profile for r-caret (`spack -p spec -I  r-caret`)

[code]

[2019-11-04 22:10] adamjstewart commented on #13559
Depends on when and where you want to do it. For example, to do it after installation, use:
[code]
The tricky part is that the line you are trying to replace is 2 lines instead of 1. Maybe filter one of the lines above? I assume we will never care about the virtualenv/conda scenarios since everything is Spack-installed.

[2019-11-04 22:13] bartlettroscoe commented on #13507
@fryeguy52 says that to fix this, you need to have Spack build gcc@7.2.0 with BinUtils enabled and then this will work.

@fryeguy52, can you please provide that spec to build gcc@7.2.0 with binutils to resolve?

[2019-11-04 22:17] fryeguy52 commented on #13507
I hit this too.  @alalazo helped fix in #13362 the fix is to build gcc with this:
[code]

[2019-11-04 22:22] alalazo commented on #12779
@ajw1980 Thanks for checking.

[2019-11-04 23:08] rajeeja commented on #13555
Thanks, but now the error is:

spack install visit ^vtk+python+qt ^python@:2.8
==> Error: An unsatisfiable variant constraint has been detected for spec:

    hdf5@1.10.5%gcc@8.3.0~cxx~debug~fortran~hl+mpi+pic+shared~szip~threadsafe arch=linux-ubuntu19.04-sandybridge
        ^mpi
        ^zlib@1.2.11%gcc@8.3.0+optimize+pic+shared arch=linux-ubuntu19.04-sandybridge

while trying to concretize the p

[2019-11-04 23:22] adamjstewart commented on #13555
Just keep tagging on the constraints you need:
[code]
You can use `spack spec` to test things without doing the full install.

[2019-11-04 23:27] bartlettroscoe commented on #13507
Okay, but that means more scripting.  Now we have to detect when the user wants to build a 'gcc' compiler and then we need to add the `+binutils` variant (because `llvm` does not have a `binutils` variant).

[2019-11-05 01:08] scheibelp commented on #13237
From investigating this, it appears this occurs for packages which define a multimethod (https://spack.readthedocs.io/en/latest/spack.html#spack.multimethod.when) using a variable rather than a string literal. One example is `swig`. In that case, that package and any parent of the package will fail when one invokes `full_hash` on it.

I'm inclined to say that for now, multimethods should be define

[2019-11-05 03:22] scheibelp commented on #13237
I have written a script to check this and only `swig` fails (i.e. that is the only package which uses a variable reference vs. a string literal).

Rather than support variables in when declarations, I'm inclined to enforce that they be string literals because

* Recovering the variable value from the AST is not straightforward
* There is only one case where the multimethod is defined in this way

[2019-11-05 03:28] gartung commented on #13237
That's OK with me.

[2019-11-05 04:26] adamjstewart opened #13590 "Autoload direct in modules.yaml does not work"
I'm using the following `modules.yaml`:
[code]
However, the Python packages I build don't autoload anything in their module files.
[code]
Ideally, #8639 would make these settings obsolete, but until then I need some way of loading dependencies for Python libraries.

[2019-11-05 07:19] alalazo commented on #13507
@bartlettroscoe I don't think this is an issue strictly related to Spack. If you use the `binutils` found on the system then they must be able to translate to object code the assembly generated by the front-end. Usually this is an issue only on machines where, for any reason, an old operating system is in use. Let me know if you agree or not.

[2019-11-05 09:01] healther opened #13597 "Renaming packages makes environment UI unusable"
After the renaming in #13411 using a previously installed environment doesn't work anymore, and I get `py-jupyter-notebook not found`. I think that is to be expected, however the fix requires a manual removal of `spack.lock` and a fixup in `spack.yaml`. At least the first one spack should be able to handle on its own and it should help me find the error in my environment specification

[code]

[2019-11-05 09:40] tgamblin commented on #7944
Given that environments have been merged for 2 releases now with various innovations on these features, I'm closing this.

[2019-11-05 09:40] #7944 closed

[2019-11-05 11:03] alalazo commented on #13590
Can't reproduce. I used this `spack.yaml`:
[code]
After installing I get:
[code]
and the content is:
[code]

[2019-11-05 11:05] alalazo commented on #13590
Will try to complicate the `modules` section to make it exactly the same as yours. In the meanwhile can you check if this was just due to not having refreshed module files?

[2019-11-05 11:18] alalazo commented on #13590
No, can't reproduce. I noticed that you have a `/` instead of a `-` to separate the hash. Are you using a custom fork? Is that the only difference in case?

[2019-11-05 13:01] alalazo commented on #13486
@bvanessen I'll default to "no news good news" and close this. Feel free to reopen if there are still issues

[2019-11-05 13:01] #13486 closed

[2019-11-05 13:24] alalazo commented on #13516
@bartlettroscoe Any news on the state of this issue?

[2019-11-05 13:42] bartlettroscoe commented on #13505
And it happened again:

[code]

I guess I am going to need to turn on debug output for `spack install` from now on until I can catch this error occurring.

[2019-11-05 13:55] bartlettroscoe commented on #13507
@alalazo is there ever a reason not to build `binutils` with `gcc` if you are going to be building `gcc` with spack anyway?   If I want the Spack `gcc` to use a binutils already installed on the system, can't I just list that in a `packages.yaml` file?

The way I look at it is that we are trying to rely on Spack to create portable builds for software.  Can't the gcc/packagae.py file figure out tha

[2019-11-05 14:09] bartlettroscoe commented on #13505
@fryeguy52, have you see these random patch errors during `spack install` or it is just me?

[2019-11-05 14:50] rajeeja commented on #13555
[+] /home/jain/spack/opt/spack/linux-ubuntu19.04-sandybridge/gcc-8.3.0/help2man-1.47.11-vbzxfbtlf2joc3bucjyqhan5hlek774q
==> Installing bison
==> Searching for binary cache of bison
==> No binary for bison found: installing from source
==> Fetching https://ftpmirror.gnu.org/bison/bison-3.4.2.tar.gz
####################################################################################################

[2019-11-05 14:54] alalazo commented on #13507
It's a fair point and I remember that a few years ago there were discussions on how to treat `binutils` in the `gcc` recipe.  Apparently the default was set to `False` in https://github.com/spack/spack/pull/4973 because of the lack of stability of the `gcc` recipe at the time. Maybe we should revisit at least the default value once we have public binary mirrors?

[2019-11-05 15:43] roblatham00 commented on #11955
I am seeing this on Summit as well.  My workaround was to not use system cmake (which is itself a spack package but one built/maintained by ORNL).  If I let my spack build cmake, the problem (for me, rma-tools) goes away.  You are not alone, @sayerhs , even if i have no answers for you.

[2019-11-05 16:16] sayerhs commented on #11955
@roblatham00 Sorry, I should have reported here that I ended up doing the same thing as you did... build my own CMake instead of using system provided build.

[2019-11-05 16:20] eugeneswalker commented on #13237
Thank you @gartung and @scheibelp ! I will be able to make use of this fix right away!

[2019-11-05 16:34] bartlettroscoe commented on #13343
FYI: Upgrading to Spack v0.13.0 did **not** magically fix this.  Still scratching my head for why I can't get this to work (even with all the hacks I could think of or was suggested on slack).

[2019-11-05 16:51] bartlettroscoe commented on #13507
How does this relate to public binary mirrors?

[2019-11-05 17:42] alalazo commented on #13507
Just my personal opinion here, thinking defensively. If we switch the default after we have been able to generate binary packages for a number of reference systems we'll mitigate the risk of people not being able to build `gcc+binutils` like in #4973 and the push backs related to increased build times.

[2019-11-05 18:38] adamjstewart commented on #13555
@rajeeja there was a known bug with building bison 3.4.2 in parallel that was fixed in #13231 and #13402. You can either update to the last commit on develop, cherry pick those particular PRs, or run `spack install -j1 bison` to build in serial.

[2019-11-05 19:02] rajeeja commented on #13555
cool thanks. Now we're at qt:
==> Installing qt
==> Searching for binary cache of qt
==> No binary for qt found: installing from source
==> Error: AttributeError: Query of package 'opengl' for 'libs' failed
	prefix : /opt/opengl
	spec : opengl@4.5.0%gcc@8.3.0 arch=linux-ubuntu19.04-sandybridge
	queried as : opengl
	extra parameters : []

/home/jain/spack/lib/spack/spack/build_environment.py:792, i

[2019-11-05 19:06] adamjstewart commented on #13555
Based on that error message, I'm guessing you have `opengl` set in your `packages.yaml` as an external package, located in directory `/opt/opengl`. Can you share `ls /opt/opengl/lib*/*`? Spack checks in both `lib64` and `lib` for a `libGL.so` file.

[2019-11-05 19:08] adamjstewart commented on #13597
I think we can do better than this. @alalazo and I had a talk a while back about making sure Spack uses the `packages.yaml` of the package when it is installed, not the current `packages.yaml`. This sounds like a similar case.

In my opinion, package renames are inevitable, and we should fix Spack to handle them better as opposed to fearing package renames.

[2019-11-05 19:21] adamjstewart commented on #13590
False alarm! I was under the impression that `module show` shows everything the module file will do, but it looks like it doesn't show any of the autoloads. Cat'ing the actual module file shows them. Sorry about that!

[2019-11-05 19:21] #13590 closed

[2019-11-05 19:22] alalazo commented on #13590
No worries, one issue less is always a good news!

[2019-11-05 19:33] alalazo commented on #13597
Which reminds me we have already in the code base a nice case of a repository constructed on the fly in a temporary folder - the one that is used under the hood to concretize specs together. I need to work out the details, but the strategy could be simply to construct a similar repository from the files stored under the `.spack` folder in the prefix of an already installed spec.

[2019-11-05 19:46] healther commented on #13597
Agreed, although we might have to think about an option to allow for aliases.

Personally I'd be happy with `spack` being smart enough to tell when it fails to even startup in an environment and (as part of the exception) offers me an indication on which files I need to edit/delete as at this point I can't use `spack` anymore to investigate or even leave the environment anymore

[2019-11-05 19:58] scheibelp commented on #13505
Apologies but this is a tough one to decipher (and I haven't been able to reproduce it) so I have some follow up questions:

* Does the issue occur repeatedly if you `spack install` exactly the same spec multiple times?
* Does this occur for some specs and not others?
* Do you run any `spack clean` operations between the failed/succeeding installations, or have you just been repeatedly running `sp

[2019-11-05 21:07] bartlettroscoe commented on #13361
FYI: Looks like I can get what I need after a `spack install` with:

[code]

Don't know why that is so slow but is that going to be robust?

[2019-11-05 21:27] ax3l commented on #13559
Ah dang, that file gets byte compiled ;) Ok, pre-install then I guess :D

[2019-11-05 21:29] IanLee1521 opened #13604 "spack mirror --all"
@scheibelp -- Follow up to https://github.com/spack/spack/pull/12940

Some of the packages (at least one, but I'm trying to figure out which) point to a private GitHub repo which causes a the command to pause waiting for a username / password. It would be nice if there was a way to skip these...

### Steps to reproduce the issue

[code]

### Error Message

Not an error message specifically, but th

[2019-11-05 21:29] bartlettroscoe commented on #13361
And this run instantly:

[code]

[2019-11-05 22:02] vineetsoni opened #13606 "error while installing tau"
I get an error while installing tau using spack. Please have a look at the build log:

<details>
  <summary>Click to expand build log</summary>

[code]
</details>

And, here's is the build-env:

<details>
  <summary>Click to expand build env</summary>

[code]
</details>

To my understanding, the environment variables shown above seem to be set correctly concerning `libelf` path. However, I don't k

[2019-11-05 22:43] adamjstewart opened #13608 "Error: filedescriptor out of range in select()"
We seem to be hitting the maximum open filehandle limit during `spack env activate`.

### Steps to reproduce the issue

[code]

Interestingly enough, if I use:
[code]
I can avoid the bug.

### Error Message

[code]

### Information on your system

Blue Waters, Cray CNL5, Python 2.6.9

`spack.yaml`:
[code]

This bug seems to be very intermittent and hard to reproduce...

[2019-11-06 00:02] bartlettroscoe commented on #13505
It is somewhat random but I have so far only seen it with the 'perl' and the 'mpfr' packages.

So far only the 'perl' and 'mpfr' packages.

No, when it fails, I just run `spack install` again and if I do that enough times, it works.  But it seems to occur most often when starting from 100% clean state.  (I added a `--wipe-clean` argument that wipes absolutely everything that the script or spack ge

[2019-11-06 00:19] rajeeja commented on #13555
ls /opt/opengl/lib*/*
ls: cannot access '/opt/opengl/lib*/*': No such file or directory

I recently upgraded to ubuntu19.04
Haven't changed packages.yaml

cat ~/.spack/packages.yaml
packages:
  mpich:
    paths:
      mpich@3.2: /home/jain/install/mpich-3.2/
      openblas@0.2.19: /usr
    buildable: False
  openblas:
    paths:
      openblas@0.2.19: /usr
    buildable: False
  python:
    paths:

[2019-11-06 00:21] adamjstewart commented on #13555
Yeah, LLVM takes quite a while to build.

[2019-11-06 06:15] #13559 closed

[2019-11-06 06:43] alalazo commented on #13537
One way to do something like this would be, if possible, to build from within an isolated container (e.g. `--network none` in Docker or Singularity).

[2019-11-06 07:11] alalazo commented on #13509
Duplicate of #13529

[2019-11-06 07:42] alalazo commented on #13227
Closing as I also can't reproduce:
[code]
Feel free to reopen if the issue persists and you find a way to make it reproducible (use a container image perhaps?).

[2019-11-06 07:42] #13227 closed

[2019-11-06 11:06] phanousk commented on #13553
I have the same issue with clean spack installation:

[code]

[2019-11-06 12:09] zzotta commented on #13474
I still cannot fetch/install not yet checksummed versions.

`$ spack fetch --no-checksum libbson@1.9.5`
`==> Error: Version('1.9.5')`

[2019-11-06 13:51] michaelkuhn opened #13611 "Mirrors cannot handle multiple files/patches with the same name"
#12940 changed mirrors to fetch all patches by default. This exposed problems with mirror functionality for at least mpfr.

mpfr has multiple patches with the same name (`allpatches`):
[code]

This has not caused problems in the past as long as only one version of mpfr was mirrored.

### Steps to reproduce the issue

[code]

If you switch the order of the calls, `create` will fail because it will

[2019-11-06 14:33] michaelkuhn commented on #13498
I have the same problem with GCC. Seems this is caused by netcdf-fortran@4.5: from #13416.

Can you give #13612 a try? It fixes the problem for me.

[2019-11-06 15:31] tjfulle commented on #11919
@citibeth @tgamblin I don't think this issue is resolved.  I know of at least 3 groups at SNL (@bartlettroscoe ) that use their own custom patched `spack`, or wrappers around `spack`, so that the user's `~/.spack` directory is ignored.  Until a user's config directory can be ignored or relocated, builds are not repeatable.  Environments are not currently an answer, see: #11972.

In the common situ

[2019-11-06 15:59] rajeeja commented on #13555
==> Installing qt
==> Searching for binary cache of qt
==> No binary for qt found: installing from source
==> Fetching http://download.qt.io/archive/qt/5.13/5.13.1/single/qt-everywhere-src-5.13.1.tar.xz
################################################################################################# 100.0%#############################################################################################

[2019-11-06 16:45] adamjstewart commented on #13555
There's no more to the error message? There should be a `spack-build-out.txt` log file containing a lot of useful info as to what crashed.

[2019-11-06 16:53] IanLee1521 commented on #13604
Found an example in the form of `py-torch`:

[code]

Though more specifically, it looks like maybe a dependency of `py-torch` is what's actually causing the issue in that case:

[code]

[2019-11-06 17:14] #13498 closed

[2019-11-06 17:31] rajeeja commented on #13555
c++ -c -pipe -O3 -std=c++1z -fvisibility=hidden -fvisibility-inlines-hidden -Wall -W -D_REENTRANT -fPIC -DQT_NO_USING_NAMESPACE -DQT_NO_FOREACH -DELF_INTERPRETER=\"/lib64/ld-linux-x86-64.so.2\" -DQT_NO_NARROWING_CONVERSIONS_IN_CONNECT -DQT_BUILD_CORE_LIB -DQT_BUILDING_QT -DQT_NO_CAST_TO_ASCII -DQT_ASCII_CAST_WARNINGS -DQT_MOC_COMPAT -DQT_USE_QSTRINGBUILDER -DQT_DEPRECATED_WARNINGS -DQT_DISABLE_DEP

[2019-11-06 19:21] adamjstewart commented on #13555
@michaelkuhn @davydden @sethrj @Sinan81 have helped me a lot recently with tracking down Qt build failures. Maybe one of them has seen this before and knows what to do?

[2019-11-06 20:21] michaelkuhn commented on #13555
This should be fixed by #13262.

[2019-11-06 21:45] scheibelp commented on #13509
Closing since this is a duplicate.

[2019-11-06 21:45] #13509 closed

[2019-11-06 23:40] sethrj commented on #13555
Oh qt 🤮

[2019-11-07 00:08] rajeeja commented on #13555
ok. updated spack now this:

`-- Checking for VTK in /home/jain/spack/opt/spack/linux-ubuntu19.04-sandybridge/gcc-8.3.0/vtk-8.1.2-jjxziuq2btqd2evww2z33zlwmzgsz2rn/lib/cmake/vtk-8.1
--   VTK_FOUND=1
--   VTK_MAJOR_VERSION=8
--   VTK_MINOR_VERSION=1
--   VTK_BUILD_VERSION=2
--   VTK_INCLUDE_DIRS=/home/jain/spack/opt/spack/linux-ubuntu19.04-sandybridge/gcc-8.3.0/vtk-8.1.2-jjxziuq2btqd2evww2z33zlwmzgs

[2019-11-07 00:28] rajeeja commented on #13555
=> spack spec visit ^vtk+python+qt  ^hdf5+hl
Input spec
--------------------------------
visit
    ^hdf5+hl
    ^vtk+python+qt

Concretized
--------------------------------
visit@3.0.1%gcc@8.3.0~adios2 build_type=RelWithDebInfo +gui+hdf5+mpi patches=b1c10e8f99fd869cc488e7c17e135849c7f0d4ca4414d18a6760247188114031 +python+silo arch=linux-ubuntu19.04-sandybridge
    ^cmake@3.15.4%gcc@8.3.0~doc+ncurs

[2019-11-07 00:32] bartlettroscoe commented on #13509
To be fair, this issue was created before #13529 so #13529 is a duplicate of this issue :-)

[2019-11-07 02:21] adamjstewart commented on #13555
I'm confused why `spack spec` shows `hd5+mpi`, but doesn't show any MPI libraries. Is that the full output? Are you using an external package for your MPI?

According to `spack blame visit`, @sethrj @dorier @goxberry have contributed to the `visit` package in the past. They might be able to help.

[2019-11-07 02:42] rajeeja commented on #13555
yes I have external mpi:
packages:
  mpich:
    paths:
      mpich@3.2: /home/jain/install/mpich-3.2/
      openblas@0.2.19: /usr
    buildable: False

[2019-11-07 03:07] josephjohnjj opened #13625 "Installation issue : stat@4.0.1"
I have been trying to install the stat in ubuntu docker image:
[code]
The command used for installation was

[code]
and I have been getting the following error.
[code]

I tried rebuilding in using `spack -d install -j 1 stat@4.0.1`
Then i get the errors as follows:
[code]
`spack spec --install-status stat@4.0.1` gives the following:
[code]
Can someone help me with this please?

[2019-11-07 04:07] adamjstewart commented on #13555
Hmm, that doesn't look right. It should be:
[code]

[2019-11-07 06:13] tgamblin commented on #13474
@zzotta: that's a separate error -- it means libbson@1.9.5 couldn't concretize.  But we should be asking whether the user wants to download that instead of raising a cryptic error.

If I run that with `spack -d`:

[code]

The error is coming from here `mirror_archive_paths`, on a line introduced in #12940:

[code]

So that is a separate issue... lemme see if I can make a quick fix.

[2019-11-07 14:46] bartlettroscoe commented on #11919
@tgamblin, @becker33,

I agree with @tjfulle, this is not really resolved in a very nice way yet.  Yes, you can script around the problem (which we have done with @becker33's help) but then it makes it hard when you are running raw spack commands to debug problems because spack keeps writing to that darned `~/.spack/` directory.  I don't know of a nice way to resolve this but having to keep passin

[2019-11-07 15:19] bartlettroscoe commented on #11972
@tjfulle, it would likely be better to copy your comment in https://github.com/spack/spack/issues/11919#issuecomment-550362939 in this issue because this issue is still open and really focuses on this problem with the `~/.spack/` directory.

I will repeat my comment from https://github.com/spack/spack/issues/11919#issuecomment-551109889 here.

----

@tgamblin, @becker33,

I agree with @tjfulle and

[2019-11-07 15:41] alalazo commented on #11972
Related to https://github.com/spack/spack/issues/12892

[2019-11-07 16:50] nsccap commented on #11704
Just an update to say that this is still an issue with pgi-19.10

[2019-11-07 16:50] bartlettroscoe commented on #10871
I got confirmation from @jrood-nrel that Spack should work with CUDA+RDC even though Spack is building a bunch of shared libs as they are running with CUDA+RDC in Triinos and `nalu-wind`. See:

* https://spackpm.slack.com/archives/DPWRJ3FKL/p1573143726001100

Therefore, this should be okay for SNL ATDM codes as well.

Closing as "Works for Me" (assuming it will).

[2019-11-07 16:50] #10871 closed

[2019-11-07 16:51] tjfulle commented on #12892
@adamjstewart, I don't see how aliasing `spack` to `spack --config-scope <some scope>` resolves this issue and, in fact, seems to make it worse since `<some scope>` is merged with the user's scope, doesn't replace it.  @alalazo's comments RE containers is another example of why the path to the user's configuration must be relocatable or ignorable for spack builds to be consistent and repeatable.

[2019-11-07 17:20] rajeeja commented on #13555
Modified packages.yaml as you pointed out, it still gives the same error. I now have so many variants of hdf5 and it seems visit wants something else:)
cmake visit error:
[code]
Many HDF5s!:
[code]

[2019-11-07 18:56] scheibelp commented on #13509
Apologies yes I should have closed that one. That being said as long as they both capture the same problem I only want to keep one open.

[2019-11-07 19:10] michaelkuhn commented on #13555
Looks this cropped up before: https://groups.google.com/forum/#!msg/spack/XekK4Shxn3M/q8oo05I6AgAJ

My installation of HDF5 (with MPI support) does not contain a libhdf5_mpi, so it might be necessary to patch the build system to look for libhdf5.

[2019-11-07 20:13] rajeeja commented on #13555
Right. The does not have a solution. What you propose means a changes to visit spack package.

[2019-11-07 23:35] scheibelp commented on #13505
The `mpfr` error could possibly be related to https://github.com/spack/spack/pull/13622 (or at the very least I should say there is *an* error with `mpfr` in mirrors right now); although

* `perl` wouldn't have the same problem
* The error messages/behavior is different here vs. in #13611

So overall I don't think this is the same thing.

[2019-11-07 23:36] scheibelp commented on #13505
@bartlettroscoe would it work for you if I created a debugging branch that you could pull and run to output more information?

[2019-11-07 23:37] bartlettroscoe commented on #13505
@scheibelp, would the debug output only be helpful if it failed?

[2019-11-07 23:56] scheibelp commented on #13505
Most likely yes: you would have to reinstall a few times to create the failure case, then post the output for that particular run.

[2019-11-08 01:51] scheibelp commented on #13554
@healther I think this is a separate issue, could you report it in a new issue thread? Assuming you agree I'll collapse this comment and https://github.com/spack/spack/issues/13554#issuecomment-549526543

[2019-11-08 02:14] ax3l opened #13637 "ROOT + Python/libxml2: Maximum Recursion Depth"
Trying to install `root` via
[code]
leads to
[code]

The problem is gone when using `root ~python`.

---

### Steps to reproduce the issue

[code]

### Platform and user environment

Please report your OS here:
[code]

### Additional information

Spack version: `develop` as of ae6229dee20da04b2120dc97cdfae800c136e42a

Note 1: `root +x` (default) does not build (seen via `root ~xml`).
Note 2: `root

[2019-11-08 02:26] ax3l commented on #13637
The problem is rooted, :trumped: in
[code]

[2019-11-08 02:28] scheibelp commented on #13637
I can start looking at this tomorrow (11/8)

[2019-11-08 08:28] vineetsoni opened #13643 "paraver build errors out when install the "wxpropgrid" dependency"
While installing paraver, as a dependency of it, I get an error installing wxpropgrid in `spack/var/spack/repos/builtin/packages/wxpropgrid/package.py:23` as,

[code]

This seems to be a bug, and I made the following modification

[code]

With this change in place, the installation process of `wxpropgrid` manages to reach the configuration step. But, I get another error. Here's the build-log:

[co

[2019-11-08 12:04] steffen-AEI commented on #4338
For whichever reason, I stumbled over this misbehaviour only this week, after a fresh checkout.

My system has gcc 4.8.5 installed, and usually I build the latest gcc version in two stages, using (1) 4.8.5 to build 9.2.0, then (2) using that to build 9.2.0 again. As a result, I would get rid of everything built with 4.8.5 (and indeed, a "spack uninstall %gcc@4.8.5" didn't report any conflicts), li

[2019-11-08 12:11] steffen-AEI opened #13646 "metis and parmetis cannot be built"
### Steps to reproduce the issue

[code]

cannot find the source.
Trying to reproduce this by manually attempting to download:

### Error Message

[code]
### Information on your system

CentOS7, fresh SPACK checkout

### Mitigation

for metis:
[code]

for parmetis:
[code]

[2019-11-08 12:28] steffen-AEI commented on #13555
55 days before the end of Python2, there's no Python3 solution for this? *scratches head*

[2019-11-08 12:51] sethrj commented on #13555
@steffen-AEI Yeah, VisIt (and likely many other lab-created software packages out there) hasn't prioritized an upgrade to Python 3.

@rajeeja I reproduced your error with my mac toolchain (using Spack-installed HDF5 and OpenMPI):
[code]
and got the error:
[code]

I'll see if I can create a patchfile to fix this. I'm having a bad sense of déjà vu... plus I'm sure I was able to install visit through

[2019-11-08 13:00] steffen-AEI commented on #13555
OK, it's going to stay im limbo then as I'm refusing to install python@:2.8 - there's enough trouble for me maintaining multiple versions of other packages, no need to duplicate python-related efforts. Thanks for clarifying.

[2019-11-08 14:02] aweits commented on #12398
Sinan,
  The issue here is with the linker and environment patches. They need to be updated to pass these environment variables:

+    SPACK_TARGET_ARGS
+    SPACK_DTAGS_TO_ADD
+    SPACK_DTAGS_TO_STRIP
+    SPACK_LINKER_ARG

also, there seems to be an issue with the code that deals with the dependent module make_jobs, which I've hacked around using hasattr().

I'll work towards submitting an actu

[2019-11-08 14:14] rajeeja commented on #13555
@steffen-AEI Sigh! It is surprisingly hard to install visit on the new Ubuntu 19.04!

[2019-11-08 14:15] chissg commented on #13637
@scheibelp If it starts to look like a problem with the recipe, or you need help isolating a regression, tag me in.

[2019-11-08 14:33] steffen-AEI opened #13648 "charmpp build failing in post_install"
### Steps to reproduce the issue

[code]

### Platform and user environment

CentOS7, recent checkout of spack.

### Additional information

[code]

What's puzzling me is that the module file has already been created, despite of the failing build...

[2019-11-08 14:34] kb31415926 commented on #9148
Might be a problem due to the limited length of the shebang in the perl script /src/man2hlp/man2hlp . I encountered the same problem.

[2019-11-08 14:57] mgjf opened #13649 ""spack install" aborts when installed software contains dangling symlink"
On one of my systems, "spack install gcc" consistently fails with an error

==> Error: FileNotFoundError: [Errno 2] No such file or directory:  '.../spack/opt/spack/linux-ubuntu18.04-sandybridge/gcc-7.4.0/gcc-9.2.0-hazow2qor6gvdcxds2ds7wsvufigvclz/lib/gcc/x86_64-pc-linux-gnu/9.2.0/include-fixed/python3.6'

It turns out that the "fixincludes" process (https://gcc.gnu.org/onlinedocs/gcc/Fixed-Header

[2019-11-08 15:05] chissg commented on #13637
@adamjstewart @tgamblin @scheibelp Could this be related to root cause of https://github.com/spack/spack/issues/13555#issuecomment-549430024?

[2019-11-08 16:53] adamjstewart commented on #13643
@vineetsoni This is probably my fault. I recently renamed `wx` to `wxwidgets` but it looks like I missed a spot. Your patch looks like the correct thing to do. I can submit a PR for that if you want, but I don't know how to fix your second configure error.

[2019-11-08 16:56] adamjstewart commented on #13646
Looks like the main metis website is down. Not sure if we should switch every version to download from those other sources, or wait for the website to come back up. Depends on what the metis devs consider to be the official source.

[2019-11-08 16:58] adamjstewart commented on #13648
Can you post the output of:
[code]

[2019-11-08 17:07] adrienbernede commented on #13646
I have had the same issue since yesterday. In the meantime, one can try creating a mirror using a spack instance wherein which metis and parmetis are already cached. I just wished I had created this mirror in advance, using a systematic approach...

[2019-11-08 17:09] madmissmolly opened #13650 "Installation issue: qt"
Can't build QT, was originally trying to build it as a dependency of VTK but when it failed I tried to build it on it's own. Fails at configure stage. Error is `Project ERROR: failed to parse default search paths from compiler output.`

### Steps to reproduce the issue

[code]

### Platform and user environment

[code]

### Additional information

The contents of the build log:

[code]

[2019-11-08 17:13] adamjstewart commented on #13650
@michaelkuhn @davydden @sethrj @Sinan81 any ideas?

[2019-11-08 17:39] scheibelp commented on #13637
Nominally I can trace this issue back to https://github.com/spack/spack/pull/10944 (this commit fails and the prior one succeeds). That being said I don't specifically blame this PR: Spack shouldn't fail like this regardless of what constraints exist. I'll be looking into why that is causing an issue today.

[2019-11-08 18:11] sethrj commented on #13650
My guess is that even though you're building with Clang, the QT build system is using the default GCC setting. Perhaps it needs to be configured with `-platform linux-clang-libc++` in the configure line?

[2019-11-08 18:49] scheibelp commented on #13637
Of all the changes in that PR, the one that appears to cause this issue is adding `gettext` as a dependency to Python (I can get `root` to concretize if I remove that dependency). I need to investigate why that is (and similar to what I mentioned above, I don't consider this the core cause of the issue).

[2019-11-08 21:02] scottwittenburg commented on #13442
@tgamblin This is the issue I mentioned earlier today, which is currently blocking my ability to move forward on bootstrapping compilers in the new pipeline workflow.

[2019-11-08 21:15] mgsternberg commented on #12752
@JanKleine: I'm glad you got this sorted out earlier. I just reviewed and wonder if the cause was solely the original the modulefile definition you used or if the Intel installer varies destination paths _depending on permissions_.

With your (current) external Intel module having been loaded, what do you get for:
[code]
I ask the last item because on my spack-external installations, symlinks vers

[2019-11-08 21:38] DarylGrunau commented on #13648
FYI, see PR #13656

[2019-11-08 21:39] DarylGrunau commented on #13649
FYI, see PR #13656

[2019-11-08 22:10] scheibelp commented on #13637
There appears to be a cyclic dependency:

`libxml2+python -> python -> gettext -> libxml2`

`root` requests `libxml2+python` by default, which is why https://github.com/spack/spack/issues/13637#issuecomment-551356181 works. Spack should do a better job of reporting this cyclic dependency. Figuring out exactly why it doesn't detect and report this better requires more work.

That being said, overal

[2019-11-08 22:50] scheibelp commented on #13442
No (or at least that is definitely not supported well)

I would want to make it easier for you than that. If the config has to change part way through an invocation, and there's no way to separate out that one invocation into multiple separate invocations, then we'll have to chat about how to support that.

[2019-11-08 23:08] chissg commented on #13637
It would appear that in RHEL-7 and friends, system `gettext`is compiled _with_ `libxml2` support, and system `python` is compiled without explicit `gettext` support, but on GNU systems there's a good chance that `gettext()` is pulled straight from `glibc`. It would seem to be sensible to follow the same prescription in the `python` build recipe as the respective systems do. I would note that neith

[2019-11-08 23:11] chissg commented on #13637
As a minor point, there is no reason I can think of for the `root` recipe to require a dependency on `libxml2~python` when `~python`: it should just depend upon `libxml2` without qualification, and take what it gets.

[2019-11-09 00:09] scottwittenburg commented on #13115
@tgamblin , in order to reduce the burden on the config system, what do you think if I try to refactor `spack ci rebuild` (responsible for checking a spec against a mirror and rebuilding if necessary) into two commands/steps?

The first would be a `setup` step (which, among other things, builds up a custom config dir, but probably shouldn't be called `configure` exactly).  The second would be a `r

[2019-11-09 00:09] scottwittenburg commented on #13442
We could definitely separate it into several invocations.  Currently the build pipeline is just that, a bunch of separate invocations of spack commands from a few different bash scripts.  Now that I'm trying to convert those pipeline shell scripts to spack commands, this is one of the resulting obstacles.  So it might make the most sense to do as you suggest: back off a titch and split `spack ci r

[2019-11-09 01:34] scheibelp commented on #13637
I agree. I'll create a PR to remove it. That being said I think I'll also want to investigate it more to understand the details.

#10944 added `gettext` to python on account of https://github.com/spack/spack/pull/10944#discussion_r270608085: the author noticed a configure check in the `python` package which referred to it. However, the author also noted that they originally added this because they

[2019-11-09 02:03] ax3l commented on #13637
Usage of `libintl.h` ([gettext](https://www.gnu.org/software/gettext/manual/html_node/Overview.html#Overview)) in `CPython`:
  https://github.com/python/cpython/search?q=libintl&unscoped_q=libintl

and [warnings in its README on Mac](https://github.com/python/cpython/blob/v3.8.0/Mac/README.rst#configure-warnings)

[configure](https://github.com/python/cpython/blob/v3.8.0/configure.ac#L2822-L2826)

[2019-11-09 02:10] ax3l commented on #13637
Now hold your horses, [gettext](https://www.gnu.org/software/gettext/manual/html_node/Python.html#Python) can itself also provide a python module :laughing:

[2019-11-09 02:20] scheibelp commented on #13637
That might mean it could require python as a build dependency, and once we can support multiple instances of packages as build dependencies I don't think there would be an issue with cyclic dependencies. Although for now luckily no one has needed that functionality for `gettext` in Spack.

It's unfortunate if the only currently-supported mechanism for avoiding `libintl` warnings is to move `/usr/l

[2019-11-09 05:14] Sinan81 commented on #12398
@aweits Thanks for the suggestions. It would be great if Bazel v0.24.1 can be built so that we can build latest Tensorflow version with it. I should also mention that now it is possible to build Bazel v0.19.x with the following PR: #13112

[2019-11-09 08:07] weijianwen opened #13659 "Installation issue: cmake fails to build on gcc@9.2.0"
### Steps to reproduce the issue

[code]

### Platform and user environment

Please report your OS here:
[code]

[2019-11-09 08:08] weijianwen commented on #13659
Contents of `/tmp/rpm/spack-stage-cmake-3.15.4-ajmffz4seurk6hiw5uv4octb35zklaji/spack-build-out.txt`:

[code]

[2019-11-09 14:54] pibion commented on #13227
Adding `gcc-c++` and `gcc-gfortran` has fixed the issue, spack now successfully compiles cmake!

[2019-11-09 15:26] chissg commented on #13637
After doing a full build of python with the `depends_on('gettext')` removed, I can confirm that the only mention of "gettext" in the build log is the provided `gettext.py`. We do have:
[code]
but that appears to have no discernible effect on the build.

[2019-11-09 19:07] ax3l commented on #13637
Okay, just be aware that gettext provides `libintl.h`.
@chissg I guess you build on osx with clang [as in the original comment](https://github.com/spack/spack/pull/10944#discussion_r270608085)?
In my defaults (`%gcc@8.3.0 arch=linux-ubuntu18.04-skylake`), with `gettext` removed, Python 2.7.15 and 3.8.0 writes:
[code]
but who knows from where this is picked up. Maybe we can set a `--without-gettext

[2019-11-09 20:07] ifelsefi opened #13662 "libiconv won't compile gcc 9.2.0"
Hi

I am trying to install latest R with gcc 9.2.0 though this fails at libivcov.

Operating system:

[code]

Latest code from `develop`:

[code]

Nothing changed except compilers:

[code]

I also added `$SPACK_ROOT/etc/packages.yaml`:

[code]

`$SPACK_ROOT/etc/spack/compilers.yaml`

[code]

Tried with one thread:

[code]

Errors attached!

[spack-build-out.txt](https://github.com/spack/spack/file

[2019-11-10 05:18] rajeeja commented on #13555
Thanks everyone!  and @adamjstewart  specially.
I updated spack and was able to install visit.
Now, I get:

[code]

[2019-11-11 09:29] steffen-AEI commented on #13648
I presume I'm already late - and since I've switched to single-threaded build for other reasons, this will take another three hours or so... is -d output still required to narrow down the problem?

[2019-11-11 11:57] alalazo opened #13675 "Warn users if an environment is only partially installed upon activation"
As a user I would like to be warned if an environment is only partially installed when I activate it so that it will be clear that it needs update and might not behave as I expect in its current state.

### Rationale

Spack activates environments either following an explicit user request or implicitly if the `spack.yaml` manifest is in the current working directory. In both cases when an environme

[2019-11-11 12:02] #13529 closed

[2019-11-11 12:41] madmissmolly commented on #13650
Thanks @sethrj ! Edited my local package.py for QT, added `config_args.extend(['-platform', 'linux-clang-libc++'])` under ` @when('@5.7:')` (not ideal but it meant the flag would definitely be appended) and tried to install again. No failure at the configure stage! Just waiting now to see if the build stage succeeds (which may take awhile), will get back to you then.

[2019-11-11 13:57] madmissmolly commented on #13650
Build was successful, so as Seth said adding  `-platform linux-clang-libc++` to the configure line fixes the issue. So if this occurs to anyone else then the QT package file just needs to be changed so that this is added (only) when clang is specified on Linux arch. Thanks for your help!

[2019-11-11 14:35] jounathaen opened #13678 "Default the microarchitecture to the most generic one"
We have a heterogeneous cluster with Intel and AMD machines. spack detects the architecture (`linux-centos7-zen` and `linux-centos7-skylake_avx512`) and automatically compiles the packages with the corresponding  target. But this results in the packages not being compatible to the other architecture in the cluster. At least, the module path is not compatible. Previously, the microarchitecture was

[2019-11-11 14:43] alalazo commented on #13678
You can configure your preferences for targets (and all the other options) in `packages.yaml`. In your case:
[code]
should do the trick. The [docs are here](https://spack.readthedocs.io/en/latest/build_settings.html#concretization-preferences) for later reference. Let me know if this answers your question.