[2020-11-02 04:42] rowanworth opened #19667 "Installation issue: cmake/curl's openssl dependency is influenced by user environment"
### Steps to reproduce the issue

The actual problem was encountered trying to install `rocprim` -- the cmake phase tries to download stuff from github and fails.

[code]

A bit of research reveals that cmake uses curl under the covers, and indeed I can reproduce the issue using the curl built by spack:

[code]

The system's /usr/bin/curl works fine to download this URL -- until I eval the above `

[2020-11-02 07:50] alalazo opened #19670 "Patching stages relies on side effects from memoization"
While debugging #19501 I ran into issues evaluating the `Spec.patches` properties. Trying to debug those issues I noticed that our mechanism for applying patches relies on side effects from memoization to change the `Patch.path` attribute to the right object.

This behavior has been introduced in #10150 The line that adds the path to the patch objects is:

https://github.com/spack/spack/blob/b2d6c

[2020-11-02 08:52] haampie commented on #19665
Thinking about this a little bit more, should `spack buildcache check` have a `--require-full-hash-match` too?

[2020-11-02 10:01] lpoirel opened #19673 "non-explicit "All fetchers failed" error when curl is not available"
When curl is not installed and I try to use spack, I get
[code]

Using pdb, I see
that a ```spack.util.executable.CommandNotFoundError: spack requires 'curl'. Make sure it is in your path.``` error was generated, but silenced somewhere later.

This message is very helpful and should deserve to be displayed to the user.

[2020-11-02 11:04] alalazo commented on #9462
Duplicate of #1781

[2020-11-02 11:06] alalazo commented on #9462
This issue is not reproducible with `develop` anymore, I suspect the root cause was the same as #1781 and right now `namd` depends on `fftw` only in a conditional way.

[2020-11-02 11:06] #9462 closed

[2020-11-02 11:36] joequant opened #19674 "can't seem to set swr on mesa"
[code]
### Error message

[code]

[code]
[code]
### Information on your system

[user@9126c7eb0f3d packages]$ spack debug report
* **Spack:** 0.15.4
* **Python:** 3.8.5
* **Platform:** linux-mageia8-skylake

### Additional information

- [X ] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [ X] I have searched the issues of this repo and believe this is not a du

[2020-11-02 14:36] #19440 closed, assigned to nobody

[2020-11-02 14:48] thomasbrTTU commented on #19440
We were able to eventually get the build to work using the following spec

lammps@20200505 +cuda cuda_arch=70 +cuda_mps +exceptions +granular +kspace +kokkos
      +latte +manybody +mc +misc +molecule +mpi +mpiio +peri +poems +python +qeq +replica
      +rigid +shock +snap +spin +srd +user-atc +user-h5md +user-lb +user-meamc +user-misc
      +user-netcdf +user-omp +user-reaxc +voronoi ^openblas@0.

[2020-11-02 15:18] alalazo commented on #9937
This is already treated correctly by the original concretizer. I'm adding an explicit regression test for it in #19501 but closing it now since it works.

[2020-11-02 15:18] #9937 closed

[2020-11-02 15:34] alalazo commented on #9939
Closing since this works as of acc075d

[2020-11-02 15:34] #9939 closed

[2020-11-02 15:37] alalazo commented on #9979
Duplicate of #1781

[2020-11-02 15:37] alalazo commented on #9979
Not an issue anymore, but I suspect this was due to #1781 when Python 2.7.15 was still the default.

[2020-11-02 15:37] #9979 closed

[2020-11-02 15:42] mathstuf commented on #17326
I think the thing to do here is that for 5.8 and older, `+static+kits` is an error. We should fix it for 5.9 if it crops up again though (Catalyst modules had some reorg in 5.9, so this specific cycle shouldn't appear).

The reason it is odd that it is static-builds only is that the dependency order for +shared+kits is exactly the same, so any cycle should appear in both configurations.

[2020-11-02 15:51] alalazo commented on #11166
Duplicate of #1781

[2020-11-02 15:51] alalazo commented on #11166
This is solved by #19501

[2020-11-02 15:51] #11166 closed

[2020-11-02 16:12] #19647 closed, assigned to nobody

[2020-11-02 17:32] scottwittenburg commented on #19665
I think `spack buildcache check` needs some tests, as it's not a code path I'm using anymore, and as a result it may not have gotten enough scrutiny during development, testing, and review of #19209.  I'll try to reproduce your issue and come up with a test that will keep it working.

[2020-11-02 17:42] scheibelp commented on #19674
I'm having trouble replicating this issue on my current setup

[code]

So I have a couple questions:

* Are you able to replicate this on the latest Spack?
* Could you mention what shell program you are using (e.g. bash)?
* Has this worked for you recently?

Thanks!

[2020-11-02 18:53] adamjstewart commented on #19673
@tldahlgren this might have happened when we made Spack less verbose...

[2020-11-02 19:12] balay commented on #19417
Fix at https://github.com/spack/spack/pull/19686

[2020-11-02 19:42] tldahlgren commented on #19673
From the line it looks like the manual download change (https://github.com/spack/spack/pull/18242) was a contributor.

[2020-11-02 20:01] haampie commented on #19665
The tl;dr version is that spack install defaults to not using full_hash, whereas buildcache check defaults to it (or at least returns the package needs to be rebuilt when full_hash is missing)

Better would be to add the same behavior and same flag to buildcache check?

[2020-11-02 20:10] alalazo commented on #11531
Duplicate of #1781

[2020-11-02 20:13] alalazo commented on #11531
This happens because being a Python package implies an unconditional dependence on `python`:
[code]
The conditional dependencies in the description create the same case as in #1781.

[2020-11-02 20:13] #11531 closed

[2020-11-02 20:13] lpoirel opened #19687 "Installation issue: mumps%gcc@10:"
### Steps to reproduce the issue

[code]

This is corrected by setting `fflags="-fallow-argument-mismatch"`as suggested in [https://gcc.gnu.org/gcc-10/changes.html](https://gcc.gnu.org/gcc-10/changes.html) and confirmed in a private confirmation with the Mumps team.

### Information on your system
[code]

### Additional information

* [spack-build-out.txt](https://github.com/spack/spack/files/5477

[2020-11-02 20:21] alalazo commented on #11659
Duplicate of #1781

[2020-11-02 20:21] #11659 closed

[2020-11-02 20:26] alalazo commented on #11672
The new concretizer gives this:
[code]
This seems to be a bootstrapping problem, `cmake+qt` depends on `qt` which depends on `libmng` which depends on `cmake`. Leaving this one open since it requires separate concretization of build dependencies, as stated above.

[2020-11-02 20:28] alalazo commented on #11987
I can't reproduce this issue anymore, both with the original and the new concretizer. Closing for now, but feel free to reopen if I missed something.

[2020-11-02 20:28] #11987 closed

[2020-11-02 20:31] alalazo commented on #12431
With #19501 we have:
[code]

[2020-11-02 20:32] alalazo commented on #12716
Duplicate of #1781

[2020-11-02 20:33] #12716 closed

[2020-11-02 20:35] alalazo commented on #12936
Duplicate of #1781

[2020-11-02 20:35] #12936 closed

[2020-11-02 20:37] alalazo commented on #13048
Duplicate of #1781

[2020-11-02 20:37] alalazo commented on #13048
This particular issue was fixed by #13116

[2020-11-02 20:37] #13048 closed

[2020-11-02 20:40] alalazo commented on #13555
Duplicate of #1781

[2020-11-02 20:41] alalazo commented on #13555
The concretization issue is a duplicate of #1781 and will be solved by #19501. I'll leave this issue open since the discussion drifted to build issues, but feel free to close it if everything was solved.

[2020-11-02 20:56] alalazo commented on #13637
This seems to be working (again) with:

* **Spack:** 0.15.4-1865-61f7625028
* **Python:** 3.8.5
* **Platform:** linux-ubuntu18.04-broadwell

Closing for now.

[2020-11-02 20:56] #13637 closed

[2020-11-02 21:21] #19649 closed, assigned to nobody

[2020-11-02 21:58] alalazo commented on #13870
@adamjstewart I can't reproduce it anymore with `bazel`, let me know if we can close this or if you think this is a different issue from the ones solved in #19501.

[2020-11-02 22:00] adamjstewart commented on #13870
Honestly, things with virtual packages are so broken, I think it's a separate issue than what #19501 is targeted towards.

[2020-11-02 22:16] joequant commented on #19674
spack install mesa -llvm swr=none

works

spack install mesa -llvm~swr=none
spack install mesa -llvm+swr=none

doesn't

[2020-11-02 22:26] joequant opened #19692 "add hooks for regression testing"
It would be very useful to have a hook for executing regression tests.

### Rationale

It would be very useful to have a standard hook for executing regression tests in a package.  That way package installers can have a standard command to run a regression test

### Description

This is part of the key4hep project which is using spack to create an overlay system.  It would be useful to have hooks

[2020-11-02 22:38] alalazo commented on #13870
If you can find a simple reproducer, I'll check with the rules we have in #19501 Otherwise I'll just keep this open for now.

[2020-11-02 22:44] alalazo commented on #15478
Duplicate of #1781

[2020-11-02 22:44] alalazo commented on #15478
#19501 should solve this

[2020-11-02 22:44] #15478 closed

[2020-11-02 22:46] alalazo commented on #16031
Duplicate of #1781

[2020-11-02 22:46] #16031 closed

[2020-11-02 22:54] tgamblin commented on #19629
@becker33 is looking at this one.

[2020-11-02 22:55] alalazo commented on #17946
Duplicate of #1781

[2020-11-02 22:55] #17946 closed, assigned to nobody

[2020-11-02 23:03] alalazo commented on #16134
This can be reproduced in b4ea74c Maybe we should not allow the `^` symbol to be used in the first argument of `depends_on`, and sanitize the argument upon the call to the directive. I can't think of a legitimate case where something like:
[code]
shouldn't be written as:
[code]

[2020-11-02 23:41] nilsvu commented on #18460
@matthiasdiener Yes the macOS builds get further now :) Looks like the builds now mostly hang at the fortran-10 issue, e.g. here: https://github.com/nilsleiffischer/test-spack-charmpp/runs/1283447489?check_suite_focus=true#step:5:16

[2020-11-02 23:43] sethrj opened #19694 "bug: spack install from multiple spec hashes fails"
When I try to install a package using explicit dependencies `foo ^bar/abcdef ^baz/012345` it fails to concretize and claims to detect uninstalled dependencies (the common dependents of `bar` and `baz`). However, installing `foo` works, even when both `bar/abcdef` and `baz/012345` are direct (and installed) dependencies.

I think this is related to #15219.

### Steps to reproduce the issue

I added

[2020-11-03 00:34] tldahlgren commented on #19673
On closer inspection, you are correct Adam.

[2020-11-03 02:13] adamjstewart commented on #16134
I agree, although my main reason for wanting to support it anyway is so that I can say "`depends_on` supports the same spec syntax you can use on the CLI" and not be wrong.

If we don't support it, then it shouldn't hang, it should at least give some kind of error message.

[2020-11-03 02:18] adamjstewart commented on #13870
Meh, I just tried reproducing and I couldn't reproduce it either. Let's just close and hope for the best 😄

[2020-11-03 02:18] #13870 closed

[2020-11-03 06:42] darmac opened #19702 "Installation issue: flatbuffers@1.9.0"
`spack install -v flatbuffers@1.9.0` failed,

My environment is `CentOS 8.2` & `aarch64` platform.
while `flatbuffers@1.12.0` is OK.

[code]

[2020-11-03 09:10] darmac opened #19704 "Installation issue: mesa"
spack install `texlive` failed:

spack version: `0.15.4-1527-d48b18650`
OS: `CentOS 8.2`
platform: `aarch64`

[code]

[2020-11-03 16:48] RemiLacroix-IDRIS commented on #16478
Hi there,

I am not completely sure I understand where those leftover `spec.yaml` come from.

I just noticed that we have some (edit: 22) in our Spack install dir and I am not sure what I should do about them (manually remove them?).

Rémi

[2020-11-03 18:03] #19608 closed, assigned to RikkiButler20

[2020-11-04 10:24] greschd commented on #19043
I got the same error, and managed to work around it by leaving out the `stub`, i.e. changing `compilers.yaml` to

[code]

This seems like it could be intentional, but in any case the Intel package documentation needs updating.

[2020-11-04 14:39] nrichart commented on #18692
Is there any update on this bug?
From what I could see it is in intel-mkl when it accesses the root spec. It takes the first of a list and this is not the spec that required scalapack

[2020-11-04 16:57] frobnitzem opened #19735 "Installation issue: llvm-amdgpu"
I'm seeing the same problem as issue #3668 when using the llvm-amdgpu compiler built from a fresh spack install.  The package builds, but all programs built from it fail to link with:

[code]

I suspect I'm configuring one or the other of the compilers incorrectly, since the error indicates some path on the system isn't found.

### Steps to reproduce the issue

[code]

### Information on your syst

[2020-11-04 21:59] sethrj commented on #19704
Updating title since the build error is happening in `mesa`, not `texlive`. It looks like an `llvm` compatibility error. Can you provide the full output from `spack spec -I texlive`?

[2020-11-04 22:02] sethrj commented on #19687
Ugh, I've seen a bunch of these errors on the legacy Fortran code I have to deal with. GCC10 has gotten a lot more strict about fortran. This will have to be submitted to the upstream Mumps developers; perhaps as a workaround you could patch the FFLAGS using a `@when("%gcc@10:)`?

[2020-11-04 23:06] wdconinc commented on #18747
@sparrow84001 If you are still having this issue, please report it to the repository where the package `g4e` is located: https://github.com/eic/eic-spack.

@adamjstewart Just stumbled on this accidentally. Feel free to tag me in issues related to the eic repository (if those are at all identifiable).

[2020-11-04 23:36] adamjstewart commented on #18747
@wdconinc there isn't an easy way to notify you when we get build issues here, but if you want to contribute your recipes to the builtin Spack repo, you can add yourself as a maintainer and get automatically notified for any build issues/PRs.

[2020-11-04 23:47] #19673 closed, assigned to nobody

[2020-11-05 01:10] darmac commented on #19704
The log is here:
[code]

[2020-11-05 02:00] sparrow84001 commented on #18747
That issue was fix , When I am install gcc 9+ version.

[2020-11-05 15:48] andymwood commented on #19546
I've just tried the change you suggest and both tcl and glib@2.56.3 install successfully.

[2020-11-05 16:16] sebrowne opened #19755 "Prohibit any internet usage"
Prohibit spack from reaching out to ANYTHING over the internet.

### Rationale

At SNL we have a software approval process for certain machines, and I want to ensure that nothing I have not had approved is going to be installed.

### Description

I think I'd just like an option to spack that says "--no-web" and forces the use of a local mirror, and prevents any downloading from the web.

### Addit

[2020-11-05 16:17] sebrowne commented on #19755
I will also note that I can kind-of make this happen now by feeding in a bogus proxy through my environment, but that seems hackish.

[2020-11-05 16:31] rodrigo-ceccato opened #19759 "Installation issue: py-cython"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.15.4-1776-b4ea74c
* **Python:** 3.6.8
* **Platform:** linux-centos7-cascadelake

### Additional information
`spack maintainers py-cython` returns nothing

* [spack-build-out.txt](https://github.com/spack/spack/files/5495167/spack-build-out.txt)

* [spack-build-env.txt](https://github.com/spack/spack/files/5495

[2020-11-05 19:40] victorusu opened #19763 "Add --scope option to spack external find"
Can you please add the `--scope` option to the `external find` command?
Currently `external find` generates the `package.yaml` file in the path `~/.spack/package.yaml`. It would be great if we could select where to create the `package.yaml` file.

[2020-11-05 19:57] victorusu opened #19764 "Artificial constraints imposed by the concretizer"
For some packages, the concretizer creates artificial global constraints, even if one asks for specific ones.
These artificial constraints block the possibility to make certain installations even though they are completely possible outside of Spack, especially when using RPATH.

An example is to attempt to compile GROMACS 2020.4 with MPICH 3.3.2. Since GROMACS requires hwloc version up to 1.x and

[2020-11-05 22:18] adamjstewart opened #19766 "Installation issue: environment-modules"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.15.4-1831-0e025349f9
* **Python:** 3.8.6
* **Platform:** darwin-catalina-ivybridge

### Additional information

* [spack-build-out.txt](https://github.com/spack/spack/files/5497764/spack-build-out.txt)
* [spack-build-env.txt](https://github.com/spack/spack/files/5497765/spack-build-env.txt)

@xdelaruelle

###

[2020-11-05 22:25] adamjstewart opened #19767 "Installation issue: expect"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.15.4-1827-dcd514c321
* **Python:** 3.8.6
* **Platform:** darwin-catalina-ivybridge

### Additional information

* [spack-build-out.txt](https://github.com/spack/spack/files/5497786/spack-build-out.txt)
* [spack-build-env.txt](https://github.com/spack/spack/files/5497788/spack-build-env.txt)

Seems related to h

[2020-11-05 22:43] adamjstewart commented on #19764
This specific example with hwloc may be solved by #19683 (just merged).

The more general issue of concretization should be solved by #19501 if you want to test it.

[2020-11-05 22:47] adamjstewart commented on #19759
So that others don't need to dig into the `spack-build-out.txt`, the specific build failure is:
[code]
Can you see if #19768 fixes your problem? If not, my only other guess is that you are using an external package for Python but you don't have `python-devel` installed on your system, so the development headers are missing.

[2020-11-05 22:48] adamjstewart commented on #19755
This would also be amazing for testing installations of packages that like to pull in missing dependencies from the internet.

[2020-11-05 22:51] adamjstewart commented on #19661
It looks like @citibeth added a similar hack to the `glib` package in #16179, let me try that.

[2020-11-05 23:11] adamjstewart commented on #19661
That seems to work. Not sure if we should just apply that in the `meson` package? Also, gtk+ doesn't build for me, probably just needs to be updated to use MesonPackage.

[2020-11-05 23:18] aweits commented on #19661
Did you look into what can be set in machine files? https://mesonbuild.com/Native-environments.html https://mesonbuild.com/Machine-files.html

[2020-11-05 23:23] adamjstewart commented on #19661
Nope, I barely use meson. @michaelkuhn is currently our meson maintainer, but if you want to add yourself to the list that would be great.

[2020-11-06 05:25] xdelaruelle commented on #19766
@adamjstewart At first sight it seems that the host running this installation hit some resource limit or some external process changes some directory implied in this installation.

Are you able to reproduce this issue on your side. If yes, what is the version of `bash` used to execute the `./configure` script ? Is there some other concurrent tasks running ?

[2020-11-06 07:38] michaelkuhn commented on #19661
It seems this is unrelated to rpath stripping but instead caused by us explicitly passing `--strip` to Meson. I guess the easiest way would be to set `STRIP` in `MesonPackage` when on macOS, so we do not have to generate a machine file (on the fly?). We could also disable stripping on macOS, I guess.

[2020-11-06 07:54] victorusu commented on #19764
@adamjstewart, Thanks! I will test #19501.
But I think that #19683 doesn't solve the hwloc problem, since GROMACS asks for hwloc 1.x and MPICH asks for hwloc 2.x and non of these packages are in #19683.

[2020-11-06 08:08] victorusu commented on #19764
Dear @adamjstewart,

I have tested the `features/solver-rebased` branch
[code]

and it doesn't resolve the issue related to gromacs and mpich and hwloc.

[code]

I merged the current develop onto the `features/solver-rebased` branch and it didn't solve the hwloc issue.

[code]

[2020-11-06 09:18] victorusu commented on #19764
Dear @adamjstewart,

Sorry my bad!
I have tested the new concretizer wrongly!

It in fact, solves the issue!

[code]

[2020-11-06 10:41] olesenm opened #19777 "improve handling of name differences in openfoam / openfoam-org"
The issue is caused by how the openfoam-org upstream decided _their_ internal name for `aarch64`.

Timeline:
- Dec-2017 : ARM64 support was added to openfoam.com (for the v1712 release)
- Jan-2018 : added support for ARM64 to the spack package.
- Jun-2020 : Arm64 support was added to openfoam.org

This unnecessary incompatibility has prompted a few users to attempt various solutions (#19622, #1974

[2020-11-06 10:42] olesenm commented on #19777
will provide a pull request very shortly, and ask @darmac and @t-nojiri to test and add their comments.

[2020-11-06 12:38] garth-wells commented on #19417
Fixed in https://github.com/spack/spack/pull/19686.

[2020-11-06 12:38] #19417 closed, assigned to nobody

[2020-11-06 15:57] adamjstewart commented on #19766
@xdelaruelle I would be surprised if a resource limit was the problem. I have plenty of space on my hard drive, and no other concurrent processes running (aside from a web browser).

I just ran this again and the installation succeeded! I still see the same error messages though. I'm using a Spack-installed Bash 5.0.18. Here is the build log from the successful installation:

* [spack-build-out.tx

[2020-11-06 16:09] adamjstewart commented on #19766
Ah, nevermind, I think I figured out my problem. I was testing a change in #19761. The problem was that I was mistakenly passing `--with-tcl=/path/to/tcl/lib/tclConfig.sh` instead of `--with-tcl=/path/to/tcl/lib`. Sorry for the noise!

[2020-11-06 16:23] adamjstewart commented on #19766
I may have spoken too soon. Even after fixing the problem in #19761 it still crashes. Is there any way to limit the parallelism of the configure script? Can you test out #19761 for me?

[2020-11-06 16:23] xdelaruelle commented on #19766
I am still curious to see the content of your `spack-build-out.txt` with the accurate `--with-tcl` option set as the bash shell running environment-modules ./configure script seems in bad shape in your above attempt.

[2020-11-06 16:28] xdelaruelle commented on #19766
I will try that with bash installed through spack. Is there other requirement for the test ? May I use the gcc toolchain from my laptop or is llvm mandatory for the test ?

[2020-11-06 16:32] adamjstewart commented on #19766
I'm honestly not sure. At this point I've gotten the build to fail both on develop and with #19761, so it doesn't seem like #19761 is the problem anymore.

[2020-11-06 16:56] xdelaruelle commented on #19766
With bash@5.0 installed and loaded, I am not able to reproduce the issue. Could you give me the list of software you have loaded when you try to install environment-modules and if you have used some specific option/variant to build these software.

(also I have rebased on develop, but I cannot find bash@5.0.18, only 5.0)

[2020-11-06 17:04] adamjstewart commented on #19766
bash 5.0.18 is actually bash@5.0 with all 18 patches applied.

As for loaded packages, I have the following environment activated:
[code]
I wouldn't bother installing all of those just to try to reproduce this...

[2020-11-06 17:19] adamjstewart commented on #19767
From reading the `configure` script, it seems like the problem is that the build is looking for `pty_${PTY_TYPE}.c`, but `PTY_TYPE` isn't being detected correctly. If I manually set `PTY_TYPE` to `termios` or `sgttyb`, I can get past this issue, but then I encounter other build problems with Apple Clang 12:
[code]

[2020-11-06 17:27] amywang0212 opened #19782 "Duplicate Dependency Error - Depend Twice Error"
Hello,

Currently we are doing a full rebuild on applications in Spack in order to fix the rehashing issue. Most of the install commands work fine, but as shown below some of the install commands don't work and generated the same kind of errors.
[code]
Wonder if someone has got this kind of errors? Any suggestions?

Thanks,
Amy

[2020-11-06 17:40] adamjstewart commented on #19661
Should we set `STRIP` in `MesonPackage` or in `meson` or both? A lot of packages don't use `MesonPackage` yet because they support multiple build systems, so I'm leaning toward the latter.

[2020-11-06 17:47] adamjstewart commented on #19767
Build works fine without any modifications with GCC 10, so I think this package just can't be built with Apple Clang 12. I'll keep an eye on Homebrew and see if they add any patches.

[2020-11-06 18:07] payerle opened #19784 "Installation issue: virtualgl ^libjpeg fails (only seems to work with libjpeg-turbo)"
The virtualgl package lists a virtual dependency on 'jpeg', which has providers libjpeg and libjpeg-turbo.   However, virtualgl seems to only be able to build with libjpeg-turbo.

### Steps to reproduce the issue

[code]
fails with errors like
[code]

Bulding against libjpeg-turbo, e.g.
[code]
is successful.

I made a quick attempt to hack the package.py to set TJPEG_INCLUDE_DIR and TJPEG_LIBRARY

[2020-11-06 18:29] adamjstewart commented on #19766
Btw, I was able to reproduce this bug using GCC on macOS as well.

[2020-11-06 19:55] adamjstewart commented on #19784
I'm fine with the simple solution if you want to submit a PR for that.

[2020-11-06 20:32] xdelaruelle commented on #19766
I am not yet able to reproduce either on a linux or a macOs (darwin-elcapitan-nehalem) hosts. Do you also get the issue when building environment-modules with no spack module loaded ?

[2020-11-06 21:07] adamjstewart commented on #19766
I do not get the issue with no Spack installations in my PATH. As soon as I add these Spack installations to my PATH, the build breaks. I'm guessing this is an issue with our Bash build?

[2020-11-06 22:15] adamjstewart opened #19788 "Installation issue: r+X on macOS"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.15.4-1838-f59bbf9c3a
* **Python:** 3.8.6
* **Platform:** darwin-catalina-ivybridge

### Additional information

* [spack-build-out.txt](https://github.com/spack/spack/files/5503746/spack-build-out.txt)
* [spack-build-env.txt](https://github.com/spack/spack/files/5503748/spack-build-env.txt)

R 4.0.2 (the curre

[2020-11-06 23:29] michaelkuhn commented on #19661
Good point, it probably makes sense to set it in meson then.

[2020-11-06 23:34] #19661 closed, assigned to nobody

[2020-11-07 02:13] adamjstewart commented on #19767
Didn't find any relevant patches at https://github.com/macports/macports-ports/tree/master/devel/expect/files or https://sourceforge.net/p/expect/patches/ either.

[2020-11-07 02:47] #19784 closed, assigned to nobody

[2020-11-07 04:58] Joe23232 opened #19797 "How do I install chromium"
Hi, I am new to `spack`. After I `clone`ed the repository, I tried running (after `cd`ing into `spack/bin`) `./spack install chromium` and it could not find it. Am I supposed to add some repository or something?

[2020-11-07 09:13] xdelaruelle commented on #19766
I am not able to reproduce on my side unfortunately. I have tried a spack env similar to the one described above (minus subversion, mercurial and py-* packages) over develop branch on a linux host (linux-fedora31-skylake / gcc@9.3.1) and on a macOs host (darwin-elcapitan-nehalem / apple-clang@8.0.0).

What I can tell from the log provided above:
- bash is required to run the `./configure` script o

[2020-11-07 15:31] robertu94 commented on #19755
Since packages could always try to some hackish thing to open a socket, your going to have to rely on some platform specific magic to get it to work.

+ On Linux, this probably means unsharing the network namespace using the `unshare` syscall.  Before adding the syscall, you could try running spack with `unshare -n spack ...` with the unshare program from util-linux
+ On OpenBSD, this could probab

[2020-11-07 17:54] adamjstewart commented on #19766
Oh well, thanks for trying. At this point I'm 100% convinced that this is a bash problem. If I remove my `.bashrc` and friends, the build works fine if `/bin/bash` is in the `PATH` and crashes if Spack-installed `bash` is in the `PATH`. Let me try fixing this bash build.

[2020-11-07 18:23] adamjstewart commented on #19766
Btw, what version of macOS/Apple Clang are you using? I think this problem is specific to Apple Clang 12. I noticed that `configure` is unable to detect Spack-installed readline, so it's using the vendored copy instead. I think I fixed that bug, still waiting to try the `environment-modules` build.

[2020-11-07 18:28] adamjstewart commented on #19766
Yep, that solved the problem! Will open a PR soon.

[2020-11-07 18:56] adamjstewart commented on #19797
Spack does not yet have a build recipe for chromium. If you would like to write one, see the following docs:

https://spack.readthedocs.io/en/latest/contribution_guide.html
https://spack.readthedocs.io/en/latest/packaging_guide.html
https://spack.readthedocs.io/en/latest/build_systems.html

and tutorial:

https://spack-tutorial.readthedocs.io/en/latest/tutorial_packaging.html

[2020-11-07 18:56] #19797 closed, assigned to nobody

[2020-11-08 00:47] Joe23232 commented on #19797
I see, thanks mate.

[2020-11-08 00:49] sleak-lbl opened #19800 "configuration setting for default location for environments"
I'd like to set a default path for named environments via a `config.yaml` setting, eg
[code]

### Rationale

We (NERSC) have a user-facing Spack install, whose site defaults set repos, install_tree etc in the user's $HOME area. We plan to encourage users to use Spack environments, but currently the default is for the environment to be created in the (global, read-only-for-users) Spack directory. I

[2020-11-08 02:13] #19766 closed, assigned to nobody

[2020-11-08 16:35] adamjstewart opened #19801 "Bug in `spack config blame`"
`spack config blame` does not report the correct file for some settings. This may only be the case when merging lists from multiple scopes.

### Steps to reproduce the issue

[code]
As you can see, the default compiler on macOS is `%apple-clang`, but this setting actually comes from `etc/spack/defaults/darwin/packages.yaml`, not `etc/spack/defaults/packages.yaml`.

### Information on your system

[2020-11-09 02:26] #19777 closed, assigned to nobody

[2020-11-09 04:10] adamjstewart commented on #19801
I dug through this a bit more. We're just using the default dumper that comes from `ruamel`, so this is either a "bug" or a "feature" of ruamel.

[2020-11-09 04:31] adamjstewart commented on #19801
I'm gonna give up, but for anyone who wants to investigate this, the problem is somewhere in `LineAnnotationDumper` in `util/spack_yaml.py`. I'm hoping this doesn't require tweaks to `ruamel` itself, but I don't understand `LineAnnotationDumper` well enough to fix this.

[2020-11-09 10:29] ajkotobi opened #19814 "Ruby-narray build issue"
@adamjstewart , Regarding PR [18199](https://github.com/spack/spack/pull/18199), in commit [443407c](https://github.com/spack/spack/commit/443407cda545e31d33c9d5abac393c8ac8ad33a2) `ruby-narray` modified to new build_systems `RubyPackage`, I tried to build latest and last 4 previous releases and all failed, any ideas on this? thought mention it here before take it to `narray` developers.

### Step

[2020-11-09 18:59] adamjstewart commented on #19814
I see a similar build issue on my system, although @Try2Code claims to have been able to build it with the current package. Yeah, I would reach out to the developers. I'm far from a Ruby expert.

[2020-11-09 19:04] #19814 closed, assigned to nobody

[2020-11-09 19:19] rodrigo-ceccato commented on #19759
Thanks for the suggestion!

#19768 did not fix my problem, but you were right, installing `python3-devel.x86_64` did the trick.

That was totally my mistake. Again, thank you =]

[2020-11-09 19:19] #19759 closed, assigned to adamjstewart

[2020-11-09 21:13] milljm opened #19825 "0 cached builds after `buildcache create` error"
### Steps to reproduce the issue

[code]

### Error Message

[code]

### Information on your system

* **Spack:** 0.15.4-1807-a62f1834c
* **Python:** 3.7.3
* **Platform:** linux-centos7-zen2

### Additional information

- [x] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [x] I have searched the issues of this repo and believe this is not a duplicate
- [x] I ha

[2020-11-09 21:19] milljm commented on #19825
I would like to add; Even after deleting the index.json and index.json.hash files on the mirror, and instructing spack to rebuild the index, does not solve the issue. I have to add a new package correctly to get that list view back.

[2020-11-09 21:36] scheibelp commented on #19825
What does `spack mirror list` show?

Also, regarding

`$ spack buildcache create --rebuild-index -a -k mirror -m mirror /foo-hash`

`-k mirror` looks odd to me: `-k` is supposed to specify a signing key (should be a file).

[2020-11-09 22:03] milljm commented on #19825
[code]

[code]

I have an internally named mirror that I didn't want to bother you all with. In my very early design of setting up this cluster, for use with Spack and Singularity, I decided to name the mirror the same as the cluster. So it then made since to name the key the same.

Without going into a lot of detail (and perhaps this is the source of my issue), I configure Singularity to map cert

[2020-11-09 22:28] scheibelp commented on #19825
[code]

Did you run this with `--rebuild-index`? Your output mentions `-rebuild-index` but for "full-word" option names you have to prefix with `--` (two dashes).

[2020-11-09 22:37] scheibelp commented on #19825
I got a bit confused: your command line examples include cases with `--rebuild-index` and `-rebuild-index`, but the error output appears to be for `-rebuild-index` (EDIT: I accidentally said `--rebuild-index` when my whole point was that the error message was for the initial failed run with `-rebuild-index`). I think it would be more helpful to see error output for the invocation using `--rebuild-

[2020-11-09 23:09] psakievich opened #19828 "Error in concretization when using dev-build"
I've been trying to do a `dev-build` of trilinos .  When I do the dependency on netcdf gets ignored by the concretizer.  This leads to a build failure in the CMake phase.

### Steps to reproduce the issue

You can see the difference just from using `spack spec -I` and comparing the results when using `@dev` vs `@develop`

[code]

### Error Message
When I actually go to do the build this error pers

[2020-11-09 23:43] payerle opened #19830 "Installation issue: petsc+trilinos (undefined symbols in libpytrilinos)"
### Steps to reproduce the issue

[code]
fails to build with errors like
[code]
and the configure.log has errors like:
[code]

This appears to be related a known issue in Trilinos when one attempts to use the same build of Trilinos for both PyTrilinos and linking to C/C++ code (see e.g.
https://github.com/trilinos/Trilinos/issues/569
or
https://github.com/trilinos/Trilinos/issues/866).

Indeed the

[2020-11-10 02:35] CreRecombinase opened #19835 "Where/when does`spack load` write to the file system"
I ran `spack --stacktrace load r@4.0.2` (but it happens with everything) and I got:

```lib/spack/spack/main.py:772 ==> Error: [Errno 122] Disk quota exceeded```

If I run in debug mode I get:
[code]

How do i figure out where this is happening?  I have spack installed on a pretty buggy `gpfs` system, but I can still write files to the system so it isn't an actual disk quota issue as far as I'm aw

[2020-11-10 04:18] tkameyama commented on #19763
`--scope` option to the `spack external find` is already added by #18165.

[2020-11-10 07:28] RemiLacroix-IDRIS opened #19840 "Modules: regression with ifort caused by CPATH not being set anymore"
Hi,

Commit e3f97b37e64d4de70baf8e58fcd747b021d8f2f9 replaced `CPATH` by language specific environment variables in modules generated by Spack. Unfortunately this caused a regression with the Intel Fortran compilers.

I think there has been a mixed-up regarding the `INCLUDE` environment variable which was added in this commit with the following comment:

This is true on Windows but NOT on Linux an

[2020-11-10 10:43] alalazo commented on #19840
Can you try to modify your `modules.yaml` to set `CPATH` appropriately only for packages providing Intel compilers? If that works consistently across different configurations we may push it to our `modules.yaml` default.

[2020-11-10 10:46] RemiLacroix-IDRIS commented on #19840
I am not sure what you mean. This can happen for any packages as soon as they provide `.mod` files.

[2020-11-10 11:05] alalazo commented on #19840
Sorry for the misunderstanding. I thought that the sentence above meant we had to set `CPATH` to make `ifort` work at all. If that's not the case, I don't think we should modify Spack's defaults, but if you want to set implicit search paths for anything compiled with Intel compilers you can try:

[code]
You can also modify the match rule to something different from `%intel` or use `all` to apply i

[2020-11-10 11:15] RemiLacroix-IDRIS commented on #19840
Sorry it wasn't clear. I mean it prevents any `.mod` files (or header files for that matter) to be found automatically when using ifort which basically beats the point of using module.

For example, it means the Fortran modules for NetCDF, HDF5, FFTW, etc will not be in the search path of ifort with the modules Spack currently generated.

[2020-11-10 11:24] alalazo commented on #19840
This can be opinionated, which is why we are so flexible with configuring module files. Some sites might say that you should:
[code]
explicitly and they'll set HDF5_ROOT for you with modules. Is the snippet above working for you (modulo typo I might have put in)?

[2020-11-10 11:54] joequant opened #19843 "Installation issue: py-matplotlib"
### Steps to reproduce the issue

spack install -j16 py-matplotlib

[code]

### Information on your system

* **Spack:** 0.15.4
* **Python:** 3.8.5
* **Platform:** linux-mageia8-skylake

### Additional information

* [spack-build-out.txt]()
* [spack-build-env.txt]()

@adamjstewart

### General information

- [ X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [

[2020-11-10 12:24] bradleyrp commented on #18896
I noticed that `libtbb.so` could be found at `compilers_and_libraries_2020/linux/tbb/lib/intel64_lin/gcc4.8/libtbb.so` for gcc (9.3.0), however the `tbb_libs.component_lib_dir` was marked as `gcc4.7` instead. Updating the ABI seemed to fix the problem. I'm not quite sure of the exact relationship between ABI, the compiler you're using, and the equivalent gcc version, but the following change might

[2020-11-10 15:21] milljm commented on #19825
I purposefully used one dash, because I thought that was the originator of the issue I am experiencing... I am coming back now to possibly close this issue, because now it's more or less appearing to be random. Not exactly sure whats going on to be honest.

[2020-11-10 15:32] milljm commented on #19825
Posting in case it helps. What you are seeing is two consecutive runs of `spack --debug --stacktrace buildcache list -a` back-to-back. The first one works, the second fails:
[code]

I think I am narrowing in on my issue. I'll report my findings when I find them, but I don't think this is a Spack bug.

[2020-11-10 15:51] milljm commented on #19825
When I force Spack to not use the cache file it creates (fails to create is why, and my next goal), it seems to work:
[code]
Because when this is my change:
[code]
I receive this error instead:
[code]

[2020-11-10 16:21] rpep opened #19844 "Installation issue: Intel 19.0.5"
I'm trying to set up the Intel compiler, using an existing license on CentOS 7.6. To that end, I've set the variable 'INTEL_LICENSE_FILE' which for the Intel compiler can point either to a server, or to a file describing the server. I've tried both but get the same result in either case. This env var works fine otherwise (with the same version of the compiler downloaded from Intel's website).

###

[2020-11-10 16:46] adamjstewart commented on #19843
Can you try again on the `develop` branch? I believe this was fixed by #17649.

[2020-11-10 18:59] RemiLacroix-IDRIS commented on #19840
I understand that but Spack's default behavior is to set `C_INCLUDE_PATH`, `CPLUS_INCLUDE_PATH`, etc so it does not really seems consistent that it doesn't work only for the Intel Fortran compiler.

I am sure something like that will work. If the default behavior of Spack cannot be changed so that it is consistent for all compilers, we will probably revert to always setting the CPATH with "prefix

[2020-11-10 19:43] scheibelp commented on #19825
Thanks for elaborating: I can replicate that myself: running `spack buildcache list` the first time works but not the second time. Adding a new package to the cache with `spack buildcache create` followed by `update-index` appears to allow `buildcache list` to work *once*, but the second time it shows no specs.

[2020-11-10 20:36] scheibelp commented on #19825
https://github.com/spack/spack/pull/19848 fixes the problem for me, would you be able to try it and let me know if it works for you?

[2020-11-10 21:32] milljm commented on #19825
This appears to fix my issue (if it helps).
[code]
It looks like https://github.com/spack/spack/blob/dd96a86511b45a9f9a94a09c9db7ea10be87c2fa/lib/spack/spack/cmd/buildcache.py#L512

when called is expecting a list being populated by: https://github.com/spack/spack/blob/dd96a86511b45a9f9a94a09c9db7ea10be87c2fa/lib/spack/spack/binary_distribution.py#L180

But it never reaches this point, as the list

[2020-11-10 21:33] milljm commented on #19825
Woops, my browser didn't update with your latest response. I'll give your change a go, and let you know! Thanks again!

[2020-11-10 21:38] milljm commented on #19825
@scheibelp confirmed #19848 fixes my issue.

Cheers!

[2020-11-10 21:38] #19825 closed, assigned to scheibelp

[2020-11-11 02:16] joequant commented on #19843
tried it on the development branch but no joy.  The issue is not with the
compile but the link.

The odd thing is that the qhull library directory is not being added to the
link line, do you know where
spack knows where to link the qhull libs?

On Wed, Nov 11, 2020 at 12:47 AM Adam J. Stewart <notifications@github.com>
wrote:

[2020-11-11 02:45] adamjstewart commented on #19843
Ah, I figured out the problem. Some parts of the build are using Spack's compiler wrapper (`/lib/spack/env/gcc/g++`). This automatically adds the appropriate linking flags for qhull. However, other parts of the build use the actual compiler (`/usr/lib64/distcc/gcc`), which doesn't know where to look for the `qhull` dependency. The solution is to add `qhull` and other dependencies to `LIBRARY_PATH`

[2020-11-11 03:53] joequant commented on #19843
Yeah.  Seems to work.  Thanks!!!!

On Wed, Nov 11, 2020 at 10:45 AM Adam J. Stewart <notifications@github.com>
wrote:

[2020-11-11 10:28] ptooley opened #19859 "Installation issue: py-grpcio recipe fails with system ssl"
The recipe for `py-grpcio` specifically looks for `self.spec[dep].libs.directories` and `self.spec[dep].headers.directories` entries for all dependencies, but these are not guaranteed to be present, for example in the case that the system openssl is used and only a prefix is specified:

### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.15.4-1886-9d5f4f9c6
* *

[2020-11-11 10:31] ptooley commented on #19859
I have a workaround for this locally which simply ignores any IndexErrors raised during the for loop. This works for any system installed deps in expected locations, but if I had a prefix of `/opt/pkg/openssl` rather than `/usr` I suspect the build would fail.

[code]

[2020-11-11 16:22] adamjstewart commented on #19859
Even if you are using an external package for `openssl`, it should still be able to find the system libraries. Are your libraries in `/usr/lib` or `/usr/lib64`? If it's the latter, I think that's an easy fix.

[2020-11-11 16:22] balay commented on #19653
I'm seeing the same issue on the same `softiron` ~onedrive~ `overdrive 1000` box with `linux-fedora32-graviton`.

And I can use `target=aarch64`

[code]

[2020-11-11 16:25] ptooley commented on #19859
They're in `/usr/lib64`.

I'm not 100% clear on the Spack internals, are you says that given a prefix Spack should be automatically deducing the libdir and populating the `.libs.directories` list but currently is not?

[2020-11-11 16:30] adamjstewart commented on #19859
Yes, previously packages used `.prefix.lib`, but that was hardcoded to `<prefix>/lib`. We switched most packages to `.libs.directories[0]` as this will search for the library names in both `<prefix>/lib` and `<prefix>/lib64`. #19862 should fix your issue, there was a bug in how we search for OpenSSL libs.

[2020-11-11 16:32] ptooley commented on #19859
Fantastic. Thanks for the quick fix!

[2020-11-11 16:39] alalazo commented on #19653
I'll get to this surely before the next release, sorry for the delay. A workaround is to edit:
[code]
and remove the typo. Searching for `-march==` should suffice to find the right line to edit.

[2020-11-11 16:49] balay commented on #19653
Thanks, it works!
[code]

[2020-11-11 18:34] mwkrentel commented on #19653
The Softiron box I reported above has Cortex A57 cores.
I think graviton is A72.  I'm not sure how much difference
that makes.

@balay Is your box SoftIron Overdrive or Onedrive?
What does /proc/cpuinfo report?

Anyway, it would be nice to get the == typo fixed.

[2020-11-11 18:46] balay commented on #19653
[code]

Is there a different  Onedrive product? [I remember they had 1000 and 3000 variants]

[2020-11-11 18:54] mwkrentel commented on #19653
@balay  You had a typo in your original post. (It's Overdrive, not Onedrive.)

Actually, you have the same box I have.

[2020-11-11 18:55] balay commented on #19653
I went ahead and created a PR with this change

https://github.com/spack/spack/pull/19865

[2020-11-11 21:25] Nortamo commented on #18535
I would say that this is a possible configuration change/error in the charmpp package.

The following applies to charmpp version **6.10.2** and charmpp spack package for commit 0015dd0

## An educated guess based on some quick digging

`Error> charmc can not call AMPI's mpicxx/mpiCC wrapper! Please fix your PATH.`
That particular error occurs when `$MPICXX  -show ` returns `charmc` as the back end

[2020-11-11 21:29] mathsen opened #19867 "Error: UnicodeDecodeError: 'utf-8' codec can't decode byte 0xf0 in position 0: invalid continuation byte"
### Steps to reproduce the issue
I installed spack on a RedHat 7.9 system (develop branch) and try to install any package, e.g. ncurses

[code]

### Error Message

The following error is shown:
[code]

### Information on your system

* **Spack:** 0.15.4-1902-e80276c
* **Python:** 3.6.8
* **Platform:** linux-rhel7-broadwell

Since spack ran fine for a long time, I did a git bisect, with the followi

[2020-11-11 21:51] zsalvet opened #19868 "SPACK_SYSTEM_DIRS does not include all necessary paths"
Value of SPACK_SYSTEM_DIRS env. variable exported for compiler/linker wrappers
is constant and does not include all relevant system directories. This causes incorrect linking
of libraries installed both by system and spack, e.g. this configure check in spack package
fails when checking presence of libXt (dependency properly declared in package.py)
because some system paths precede those of spack p

[2020-11-12 00:20] zsalvet commented on #19868
Also, rpath_dirs and link_dirs should be split just like paths from command line arguments:
[code]

[2020-11-12 03:48] ikitayama opened #19871 "spack load is slow on GPFS"
I'm often on JUSUF at JSC which is backed by IBM's GPFS. However I notice `spack load` is slow.

[code]

I am not in an environment.

[2020-11-12 03:49] ikitayama commented on #19871
Could @alalazo want to take a look at this? Do you have access to the parallel FS systems?

[2020-11-12 08:24] ikitayama commented on #19871
I wonder if this is what others are also seeing.

[2020-11-12 09:37] mathsen commented on #19867
I have an additional information:
Via the given Traceback I could find at least the function call, with which the problems start. In develop it's [line 64 in module_cmd](https://github.com/spack/spack/blob/527a81b469cf3df12e4b8c3bcd8609b2d55db2f3/lib/spack/spack/util/module_cmd.py#L64)
In the commit, where the proglems started [it's line 39](https://github.com/spack/spack/blob/dd3762d0f936aca41d11

[2020-11-12 10:41] Jordan474 commented on #16665
+1

### Rationale

The typical example is building a software stack with intel, but keeping a few packages compiled with gcc (build tools, cmake, and also because too much packages wont even compile with intel anyway).

Having to specify multiple '^pkg%gcc' everywhere in env's specs *and* also in command lines is frustrating and error prone. I would like to factorize configuration as much as possi

[2020-11-12 12:30] samcom12 opened #19877 "Porting of Anuga code"
Dear Team,

Wanted to integrate Anuga code to spack list.
https://github.com/GeoscienceAustralia/anuga_core

[2020-11-12 12:53] svenevs commented on #19666
Don't have time for a proper fix as the underlying problem is quite complicated.  TL;DR version

- CMake `find_package(Python)` has been upgraded, they attempted to use the updated `find_package(Python3 [COMPONENTS])` and fallback on `find_package(Python2 [COMPONENTS] REQUIRED)` if it doesn't work.
- The build system does not properly forward `Python3_EXECUTABLE` to all child projects.
- This is a

[2020-11-12 14:21] alalazo commented on #19871
@ikitayama Thanks for the report. I don't have access to JUSUF, but can access other systems with GPFS.

[2020-11-12 14:22] svenevs opened #19879 "Installation issue: llvm +cuda openmp and nvptx should probably be conditional"
### Steps to reproduce the issue

[code]

### Discussion

https://github.com/spack/spack/blob/527a81b469cf3df12e4b8c3bcd8609b2d55db2f3/var/spack/repos/builtin/packages/llvm/package.py#L524-L526

**Important note**: I'm using CUDA 11.1 which they aren't ready for yet (10.2 latest "supported").

Refs:

- [Options for `NVPTX device RTL`](https://github.com/llvm/llvm-project/tree/llvmorg-11.0.0/openmp

[2020-11-12 16:17] eugeneswalker opened #19880 "suite-sparse build: cannot find gmp.h"
Installing `suite-sparse@5.8.1` using:
* `spack@develop`
* commit d1493fb3d86653d8b11aeacd3e24af94f50ec03c from `Thu Nov 12 06:57:44 2020 -0800`
* `Ubuntu 18.04` for `x86_64`

Concrete spec: [suite-sparse.spec.yaml.txt](https://github.com/spack/spack/files/5531743/suite-sparse.spec.yaml.txt)
Full build log: [suite-sparse-build-out.txt](https://github.com/spack/spack/files/5531809/suite-sparse-buil

[2020-11-12 16:47] DavidPoliakoff commented on #12547
This is still broken for me. There are three resolutions

1. Fix font-util
2. Make ruby not depend indirectly on font-util
3. Use the diff above

I'm using the diff above, thanks @KineticTheory

[2020-11-12 17:14] adamjstewart commented on #19880
`type='build'` only affects the `PATH`, if you need to link to the gmp header files you should use `type='link'`.

[2020-11-12 18:21] rdbisme opened #19885 "Installation issue: texlive"
The `texlive` package has been updated to compile stuff instead of downloading pre-compiled TeXLive suite. The problem is that the package is missing at least the `perl-log-log4perl` runtime dependency (I got an error using `latexmk`) and moreover it is also missing `biber`.

### Steps to reproduce the issue

[code]

### Information on your system
* **Spack:** 0.15.4-1912-7d524169a
* **Python:** 3

[2020-11-12 18:44] rdbisme commented on #19885
Also, the `@live` version does not install correctly and gets stuck in interactive mode.
[code]

[2020-11-12 18:51] aantao opened #19887 "Installation issue: amgx"
### Steps to reproduce the issue

[code]
### Information on your system
Model name:          Intel(R) Xeon(R) Gold 6148 CPU @ 2.40GHz
GPU:Tesla V100  NVIDIA-SMI 450.51.05    Driver Version: 450.51.05    CUDA Version: 11.0

### Additional information

* [spack-build-out.txt]()
* [spack-build-env.txt]()

### General information
maintainers: @js947
[spack-build-out-amgx.txt](https://github.com/spack/

[2020-11-12 19:13] adamjstewart commented on #19877
PRs are always welcome! It looks like Anuga is a simple Python program. In that case, the following docs may be helpful: https://spack.readthedocs.io/en/latest/build_systems/pythonpackage.html

I'm more than happy to review any PRs once you get a simple package working.

[2020-11-12 19:29] #19880 closed, assigned to nobody

[2020-11-12 20:45] #19859 closed, assigned to nobody

[2020-11-12 20:48] trws commented on #19879
If we change from true to false, the result is a compiler that will attempt to compile and link but fail to link nvptx OpenMP offload code.  The assertion that "the provided `lib device.bc` is unusable" intrigues me, it's built by the newly built compiler as a second phase, so it should work for whatever compiler/cuda you have as long as that cuda is supported by the LLVM being built.

Perhaps we

[2020-11-12 20:50] #19843 closed, assigned to adamjstewart

[2020-11-12 21:44] siko1056 commented on #19880
Sorry for breaking the build and thank you for the quick fix :sweat:  GMP and MPFR were installed by the OS package manager on my system, thus I did not notice a problem.

[2020-11-13 00:08] #19629 closed, assigned to becker33

[2020-11-13 02:35] wdconinc commented on #15510
Encountered this issue on centos8 while building gcc-9.3.0 with system gcc-8.3.1 on target x86_64. Any resolution by original poster?

[2020-11-13 04:25] adamjstewart opened #19892 "sbang test failure: test_install_sbang"
### Steps to reproduce the issue

[code]

### Error Message

[code]

### Information on your system

* **Spack:** 0.15.4-1925-ca3b912703
* **Python:** 3.8.6
* **Platform:** darwin-catalina-ivybridge

[code]

### Additional information

- [x] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [x] I have searched the issues of this repo and believe this is not a dupl

[2020-11-13 04:30] adamjstewart opened #19893 "env test failure: test_env_activate_default_view_root_unconditional"
### Steps to reproduce the issue

[code]

### Error Message

[code]

### Information on your system

* **Spack:** 0.15.4-1925-ca3b912703
* **Python:** 3.8.6
* **Platform:** darwin-catalina-ivybridge

### Additional information

- [x] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [x] I have searched the issues of this repo and believe this is not a duplicate
-

[2020-11-13 04:30] eugeneswalker commented on #15510
unfortunately, no :(

[2020-11-13 04:42] CreRecombinase commented on #19835
Update: If I `module load ` a newer (spack generated) python, the problem goes away, so I guess it's an ancient python issue

[2020-11-13 08:13] scheibelp commented on #19893
I think it's worth mentioning that this test passes when run with other tests (at least, I'm assuming that's the case because we run all unit tests for Python 3.8 on Mac OS) but fails when run independently. That being said, each test should definitely pass when run individually, so this should definitely be fixed.

I think that also applies to https://github.com/spack/spack/issues/19892

[2020-11-13 11:14] alalazo commented on #19893
See also #19472

[2020-11-13 14:12] ajw1980 commented on #16073
I got around to trying a build of tensorboard again. These changes definitely make it much easier to build, but these problems remain. I figured out the python issue a little better. The build_pip_package.sh calls `python setup.py ...`, which does not use the python spack at all from what I can tell. I added to the filter_file section to modify that. The ijar glibc problem is still an issue. The `

[2020-11-13 16:58] mathsen commented on #19867
And another addition: The error is in connection with the shell that I use. With the workaround above I was able to use spack as usual and I installed zsh on the cluster and with this I gut revert the changes ('cp850') and I can build packages just fine. If I use system bash again the problem is back again... Strange that nobody else has such issues, since RHEL is pretty common, I guess.

[2020-11-13 17:16] mathsen commented on #19867
And problem is solved... it is caused by an Intel curl, that is installed on the cluster under "/usr/bin/flashupdt/curl" with an /etc/profile.d/intel.sh script... I realized this already some months ago and changed my PATH variable in .zshrc... therefore it worked in zsh but not in bash (which I used on a new account).
So everything is fine with spack - it was just I didn't realize that the error

[2020-11-13 17:16] #19867 closed, assigned to becker33

[2020-11-13 17:45] eugeneswalker opened #19899 "binutils: checksum fails for 2.35.1"
Using:
* `spack@develop`
* commit b08744566d28697db363a87a24671f81528e3dc1
* `Fri Nov 13 22:29:18 2020 +0530`

Checksum fails for `binutils@2.35.1`

[code]

[code]

@hainest @michaelkuhn @adamjstewart @scottwittenburg

[2020-11-13 17:59] adamjstewart commented on #19899
This is a result of https://github.com/spack/spack/pull/19827#issuecomment-726866927. Anyone want to submit a PR?

[2020-11-13 18:11] scheibelp commented on #19867
Sorry we didn't get to this sooner, and thanks for following up with this!

[2020-11-13 18:55] #19899 closed, assigned to nobody

[2020-11-13 20:17] healther opened #19905 "Build errors on OSX BigSur - A collection"
For now I just want to have a place to collect and track build errors and (eventually) mitigations that are connected to the new OSX. Feel free to add your experiences below

[2020-11-13 20:17] healther commented on #19905
First up: `python@3.7.4`

[code]

Mitigation: `python@3.8.6` builds without error

[2020-11-13 21:01] aantao commented on #19887
Looks like it builds with cuda 10.0.130 and not any later version... I cannot get it to build with the "+mkl" or the "+magma" variant. I get some kind of conflict error with +mkl and it looks like the recipe for magma is broken.

[2020-11-13 21:29] wdconinc commented on #15510
I noticed multiple lines with `cmp: command not found` in both your and my build logs. I'm checking if `yum install diffutils` fixes this and will report if it does.

[2020-11-13 22:06] wdconinc commented on #15510
I can confirm that installing diffutils systemwide fixes compilation of gcc-9.3.0 on centos8.

[2020-11-13 22:26] omor1 commented on #19905
Presumably another issue will be needed for issues with Apple Silicon (ARM-based Macs) once Spackers get their hands on them.

[2020-11-13 22:57] ikitayama commented on #19871
@alalazo do you happen to know the Spack profile option, any chance?

[2020-11-14 01:29] robertu94 opened #19908 "Installation issue: llvm attempts to link against the incorrect python and crashes as a result"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.15.4-1825-08e825f47
* **Python:** 3.8.5
* **Platform:** linux-gentoo2-skylake

### Additional information

CMake find_package(Python3) doesn't honor the find_package(Python)'s `PYTHON_EXECUTABLE`, but prefers it to be called
`Python3_EXECUTABLE` instead.  However there is also a bug in compiler-rt upstream in

[2020-11-14 01:35] robertu94 commented on #19908
Here is the corresponding issue in LLVM https://bugs.llvm.org/show_bug.cgi?id=48180

[2020-11-14 06:08] #15510 closed

[2020-11-14 08:10] alalazo commented on #19871
@ikitayama I'll very likely get to this after the Spack BoF next week i.e. after we released Spack v0.16

[2020-11-14 08:51] #19653 closed, assigned to alalazo

[2020-11-14 08:55] alalazo commented on #19835
Thanks for the report and follow-up.

[2020-11-14 09:17] ikitayama commented on #19871
Good. In the mean time (I won’t be around the bof next week), I’ll keep
updating develop branch and see if anything comes up.

On Sat, Nov 14, 2020 at 17:10 Massimiliano Culpo <notifications@github.com>
wrote:

[2020-11-14 09:26] alalazo commented on #16665
I understand the complications with the current concretizer, but want to leave a note that going forward the case of a dependency that does not compile with a given compiler is better be resolved with conflicts since the ASP based concretizer can work around that.

[2020-11-14 09:42] alalazo commented on #19763
Thanks for spotting this @tkameyama !

[2020-11-14 09:42] #19763 closed, assigned to nobody

[2020-11-14 09:52] alalazo commented on #19755
Meh, run in a container without access to external network :grimacing:

[2020-11-14 10:11] healther commented on #19905
Next up: `veclibfort` from within an environment

[code]

Mitigation: Install outside an environment.

Not sure if this is BigSur related though.

Edit: This seems to be happening more and more, I'm not completely sure, but I think it _only_ happens when executing through the spack-build `python@3.8.6`

[2020-11-14 11:42] #19546 closed, assigned to adamjstewart

[2020-11-14 11:56] alalazo commented on #18692
@nrichart Apologies for the delay, the issue got lost in the Github stream. We plan a release in a few days, so this particular bug is not likely to make it, but I added it to the next project board so we'll be sure to have a look at it.

[2020-11-14 12:01] alalazo commented on #19692
I think #15072 may solve this @becker33

[2020-11-14 12:05] alalazo commented on #19674
@joequant Both:
[code]
are syntax errors since you can't mix Boolean variants like `+swr` with key/value variants like `swr=none`. What was your intent when typing `+swr=none`?

[2020-11-14 12:15] alalazo commented on #19365
It would be good if Github provided a "subscribe to discussion" button.

[2020-11-14 13:00] robertu94 commented on #19755
On Linux the technologies are what native containers are built from and have fewer dependencies since they are part of the kernel

[2020-11-14 15:40] adamjstewart commented on #19365
You mean this?
![Screen Shot 2020-11-14 at 9 39 47 AM](https://user-images.githubusercontent.com/12021217/99150947-65671300-265d-11eb-9971-43943aa644e8.png)

[2020-11-14 16:20] mdorier commented on #12547
I also have the same issue on Theta. The diff above fixes it.

[2020-11-14 20:11] mattchan-tencent opened #19925 "OpenMPI builds fail when +pmi specified."
The OpenMPI build fails if you specify +pmi. Here the error:

[code]

[code]

I've also attached the build-out log.

[build-out.txt](https://github.com/spack/spack/files/5541397/build-out.txt)

[2020-11-14 20:31] svenevs commented on #19879
Correct, but there's no option to disable libomp either (nor do I think there should be!).  I just need a CUDA capable LLVM, I'm not building a stack and don't depend on anything using OpenMP (need much finer control over data transfer).  It's only libomp that is unable to manage 11.1 right now.

The version of CUDA I'm using is not "supported" (aka optimized for) by this LLVM version.  Their supp

[2020-11-14 21:34] healther commented on #19905
Next up: `py-scikit-image`

[code]

This is due to a) Xcode 12 treating all implicit function declarations as errors (rather than warnings) and thus failing the build (also for older versions, I had `@0.14.2` before). That can be work-arounded by adding
[code]
This then fails with an
[code]
not sure why that happens, I'll bisect setup toolsversions next.

For newer versions, `libomp` is required,

[2020-11-14 21:35] healther commented on #19905
`llvm@10.X`

[code]

This is fixed in `llvm@11.X` but `py-numba` requires a `llvm@10` for now. See also #19347

[2020-11-14 21:36] healther commented on #19905
`tk`

[code]

[2020-11-15 02:23] adamjstewart commented on #19925
@hppritcha

[2020-11-15 18:08] eugeneswalker opened #19931 "build-env subcommand not respecting target= specifier"
`spack build-env` is not respecting `target=` specifier when setting up the build environment.

Using:
* `spack@develop`
* 35511c178bddbb228ee5852e4842f9043943e7df
* `Sat Nov 14 23:45:10 2020 +0800`

[code]

[2020-11-15 20:14] eugeneswalker commented on #19931
The `build-env` command works as expected if the spec is quoted:

[code]

Should this issue remain open? Or is the intention that the spec should be quoted to behave this way?

[2020-11-15 22:13] eugeneswalker opened #19932 "openblas 0.3.12 x86_64 build fails on RHEL7: dasum_k_SKYLAKEX: incompatible type"
`openblas@0.3.12 target=x86_64` fails to build for `RHEL 7` on `x86_64` using:
* `GCC 8.3.1`
* `spack@develop`
* 3536433c41fa67b7ad006ab0c8787f91b3294d58
* `Sun Nov 15 11:54:39 2020 -0600`

Concrete spec: [openblas.spec.yaml.txt](https://github.com/spack/spack/files/5543207/openblas.spec.yaml.txt)
Full build log: [openblas-build-out.txt](https://github.com/spack/spack/files/5543215/openblas-build-

[2020-11-15 22:49] adamjstewart commented on #19931
This is the intended and expected behavior. We tried to document this as best as we could in the help message:
[code]
Since you can add commands after the spec, we needed a way to separate them. You can either use quotes or a double dash to separate the two sections.

If you dig hard enough, there are a few older issues complaining about this and PRs that have tried to address it, but the current

[2020-11-16 02:26] eugeneswalker commented on #19931
Gotcha. Thank you!

[2020-11-16 02:26] #19931 closed, assigned to nobody

[2020-11-16 06:38] birnbera opened #19934 "Spack not using compiler from packages section of spack.yaml"
I am using a `spack.yaml` file to create an environment inside a Docker container. In order to keep configuration simple and to a minimum I am putting all of it into `spack.yaml`. In particular, I would like to use a particular version of `gcc` to build all of my specs (8.4.0). Here's an example of what my `spack.yaml` looks like:

[code]

### Steps to reproduce the issue

To build the Docker imag

[2020-11-16 11:00] zhiyuanzhai opened #19937 "An Issue with Externally Installed Intel Parallel Studio XE on macOS."
## Update

This error may actually come down to the situation when Spack is dealing with packages that are not dependent on MPIs when Intel Parallel Studio exists in the root spec. Spack would behave as if it is operating on Linux and tries to look for a library `libmkl_blacs_intelmpi_lp64`, which does not exist since Intel's MPI is not included in macOS, thus communicating with Intel MPI is not n

[2020-11-16 11:55] zhiyuanzhai commented on #19937
@adamjstewart @mgsternberg @davydden @glennpj @becker33

[2020-11-16 13:49] robertu94 commented on #19908
Here is the corresponding PR to LLVM https://reviews.llvm.org/D91536

[2020-11-16 16:03] adamjstewart commented on #19937
That's odd. Spack should know that the Professional Edition and Composer Edition don't come with MPI, only the Cluster Edition does. Can you try adding `~mpi` to your spec? That should solve the issue.

[2020-11-16 16:22] EthanS94 commented on #19314
Using protobuf version 3.4.0, which matches the version currently used in paraview master (https://gitlab.kitware.com/paraview/paraview/-/blob/master/ThirdParty/protobuf/CMakeLists.txt#L43 ) works

[2020-11-16 16:24] EthanS94 commented on #19312
Seems related to #15285

[2020-11-16 17:16] scottwittenburg commented on #19932
Just chiming in that this not limited to RHEL7, but is happening for me on Ubuntu 18.04 as well.

[2020-11-16 17:18] naromero77 commented on #19879
LLVM 11.0.0 seems to work only up to CUDA 11.0.2.  I could not get it to work with CUDA 11.1.0. I was told that the build issue with LLVM and CUDA 11.1.0 was fixed in master.

Could someone please point me to where I can find the official versions of CUDA that are supported by LLVM?

I am OK with adding a Spack conflict to limit the version of CUDA that LLVM can use. But what I would like to avoid

[2020-11-16 17:24] naromero77 commented on #19908
Thanks for posting here. Once the issue gets merged into LLVM master, we can figure out how to backport the patch to Spack.

[2020-11-16 18:11] scheibelp commented on #19934
Right now compilers listed as preferences in `packages.yaml` are only used for concretization if they are already installed. If you were to install the compiler outside of the environment and add it (with `spack compiler add`) then it would be used by the environment.

I'm going to relabel this as a feature since it is actually "working as intended", but I think there should be a more intuitive wa

[2020-11-16 18:41] dacron opened #19946 "Installation issue: texlive"
### Steps to reproduce the issue

[code]

### Information on your system

[code]
gcc@9.2.0 was also built via spack. It looks like the include directory of the gcc installation is not being passed down to the texlive build stage.

### Additional information

* [spack-build-out.txt](https://github.com/spack/spack/files/5548982/spack-build-out.txt)
* [spack-build-env.txt](https://github.com/spack/sp

[2020-11-16 19:31] adamjstewart commented on #19946
@rubendibattista also reported texlive build issues in #19885, maybe there is some overlap.

[2020-11-16 20:10] mattchan-tencent commented on #19925
I did some more investigation. The pmix `depends_on` is missing from the recipe, and also the pmix prefix is not added unless you also enable slurm. It will succeed in building if your base system has pmix installed though because it looks in /lib etc.

I got it to build after adding that in but I'm not an expert by any means on this topic. I can submit the PR if there is interest. I have no idea

[2020-11-16 20:44] birnbera commented on #19934
Hi @scheibelp, thanks for your reply. I was surprised by this behavior since I could specify `gcc@8.4.0` as a direct compiler dependency in the spec and get `spack` to install it without having to run `spack compiler add` first. In this sense, I disagree slightly with your comment about not being able to share environments with other users that include a new compiler; you *can* put the compiler in

[2020-11-16 21:12] scheibelp commented on #19934
Yes great point. I think you also have to set

`concretization: together`

otherwise `py-pip` would not use `gcc@8.4.0`. For now though, I agree that your suggestion is a suitable workaround (so I will also add that tag).

[2020-11-16 22:13] tomgreen66 commented on #16689
Would this work? https://github.com/spack/spack/compare/develop...gw4-isambard:6_llvm_gcc_prefix - works on Cray with a wrapper around gcc which confuses the current method.

[2020-11-16 22:35] novosirj commented on #12547
It's worth noting that R ultimately depends on this package, I guess via cairo and fontconfig (at least two other sites have run into it this way). It seems to me that this is likely to break a lot of different installs.

[2020-11-17 03:01] zhiyuanzhai commented on #19937
@adamjstewart The problem still exists, after adding that flag.

Maybe my description was not quite accurate? It seems that the error occurred when checking whether the library `libmkl_blacs_intelmpi_lp64` exists or not. It's not searching `intel-mpi` directly.

I guess `libmkl_blacs_intelmpi_lp64` is the library that MKL use to communicate with or call `intel-mpi`, which is not actually necessary

[2020-11-17 04:24] birnbera commented on #19934
The plot thickens... It turns out by using the "workaround" in which I specify the compiler directly in the spec and include `install_missing_compilers: true` in the `config` section, `spack` ended up failing to build `gcc@8.4.0` properly due to picking a microarchitecture that was not supported by the system `gcc@4.8.5` (`skylake_avx512` in this instance). Here is the error that was generated:
[c

[2020-11-17 08:34] haampie opened #19951 "hip cannot be concretized due to an invalid variant value error"
### Steps to reproduce the issue

[code]

but using the latest version explicitly:

[code]
is fine.

From `spack --debug spec hip` it looks like the issue arises due to this line:

[code]
in hip-rocclr: https://github.com/spack/spack/blob/develop/var/spack/repos/builtin/packages/hip-rocclr/package.py#L33

When printing the output variant.py > _value_setter, this is what I see:
[code]
the `auto` is

[2020-11-17 08:53] Jordan474 commented on #16665
I tried the #19501 branch: I added a `conflicts('%intel')` (Is this what you meant?), but the concertize still emits a conflicts and does not go look for another compiler... What did I miss?

Sometimes the need for those containerization preferences~constraints can be due to the infra (particulars of a software stack, of an external custom install of a compiler and mpi and distro etc...), and may

[2020-11-17 09:13] alalazo commented on #16665
To be fair, you didn't miss anything since there's not a lot of docs in that PR :slightly_smiling_face: If you want to just try to the ASP based concretizer you need to build `clingo` with Spack, bring it into your path and then try:
[code]
If you want to use the new concretizer for installations etc. you need to add:
[code]
to your configuration. Let me know if something is not clear.

[2020-11-17 10:58] Jordan474 commented on #16665
The ASP solver did indeed solve the `conflicts('%intel')`, nice. (* had to install `clingo@develop` by hand, clingo 5.4.0 doesn't work.)

But, the ASP solver didn't seem to make a better use of `packages:*:compiler`. So, this issue about having a more useful `packages:*:compiler` still stands, I think.

I feel like this issue (and others I'm having) is not necessarily about solving *package* const

[2020-11-17 13:18] eugeneswalker opened #19953 "install --cache-only --only dependencies: build deps are excluded"
Something changed recently such that `build` dependencies are not installed when running:
* `spack install --cache-only --only dependencies <spec>`

This breaks the pipeline workflow, which relies on being able to:
1. install all package dependencies from build cache, including build deps for (2)
 `spack install --cache-only --only dependencies <spec>`

2. build the package itself from source
`spa

[2020-11-17 13:51] hartzell commented on #19934
How did you install `gcc@8.4.0`?  If it was just installed via `spack install gcc@8.4.0` then I assume there was no explicit `arch=` constraint added to the spec and the system `gcc` was able to do what was asked of it.

[actually, that's a rhetorical question, I'm pretty sure that's what happened but figure it's worth adding to the public conversation]

It seems that the spec generation/concretiz

[2020-11-17 15:42] scottwittenburg commented on #19953
@eugeneswalker I agree this should still work and is a bug if it doesn't.  Just as a heads up though: as of [ef0a555ca2](https://github.com/spack/spack/commit/ef0a555ca2711979e3374a57becb8c80efe695de), the pipeline workflow no longer depends on being able to do that.  If your pipeline is broken, then I think it must be something else, so let's get to the bottom of it.

[2020-11-17 15:46] eugeneswalker commented on #19953
I hadn't realized that. Regardless, there must be a way to install all dependencies from cache, *including build dependencies*, from the command line, easily, in order to troubleshoot pipeline issues. Irrespective of whether the pipeline does this, it is necessary for troubleshooting.

Edit: Perhaps we need a new flag such as `--include-build-deps` that can be used in conjunction with `--cache-onl

[2020-11-17 18:04] #267 closed

[2020-11-17 18:04] #303 closed

[2020-11-17 18:04] #1781 closed

[2020-11-17 18:04] #2310 closed

[2020-11-17 18:04] #2632 closed

[2020-11-17 18:04] #3628 closed

[2020-11-17 18:04] #4635 closed

[2020-11-17 18:04] #5651 closed

[2020-11-17 18:04] #7339 closed

[2020-11-17 18:04] #8082 closed

[2020-11-17 18:04] #9025 closed

[2020-11-17 18:04] #9414 closed

[2020-11-17 18:04] #9696 closed

[2020-11-17 18:04] #9744 closed

[2020-11-17 18:04] #9753 closed

[2020-11-17 18:04] #9911 closed

[2020-11-17 18:04] #12431 closed

[2020-11-17 18:04] #19764 closed, assigned to nobody

[2020-11-17 19:25] #14802 closed

[2020-11-18 00:44] robertu94 commented on #19908
The fix has been merged into LLVM master @naromero77

[2020-11-18 03:35] mattchan-tencent opened #19964 "Installation issue: amdscalapack with GCC10 fails"
The source of the build errors seems to be GFortran 10's new argument mismatch checker. https://gcc.gnu.org/gcc-10/porting_to.html . Source changes are needed to ultimately fix it, but adding `-fallow-argument-mismatch` temporarily suppresses it.

### Steps to reproduce the issue

[code]

### Information on your system

$ spack debug report
* **Spack:** 0.15.4-1979-423e80a
* **Python:** 3.8.5
* **

[2020-11-18 04:31] siko1056 commented on #19932
This issue seems to be related to a gcc bug, see https://github.com/xianyi/OpenBLAS/issues/2949.  It was fixed [Sep 30, 2018](https://github.com/gcc-mirror/gcc/commit/dd341e6b9a8254a6b41b146afce0917889f5bb6a), thus [gcc 8.3.0](https://github.com/gcc-mirror/gcc/blob/releases/gcc-8/ChangeLog) is the earliest release incorporating this fix.

@eugeneswalker in your spec you have
[code]
does it happen

[2020-11-18 07:16] mattchan-tencent opened #19966 "Installation issue: GlobalArrays fails with GCC 10"
This is the same problem that shows up in #19964 . The new gfortran checker doesn't like the code and causes it to fail.

### Steps to reproduce the issue

[code]

### Information on your system

$ spack debug report
* **Spack:** 0.15.4-1979-423e80a
* **Python:** 3.8.5
* **Platform:** linux-tlinux2-x86_64

### Additional information

[spack-build-out.txt](https://github.com/spack/spack/files/55583

[2020-11-18 10:39] #2060 closed

[2020-11-18 11:20] #9626 closed

[2020-11-18 13:34] #19416 closed, assigned to nobody

[2020-11-18 13:35] haampie opened #19970 "CMAKE_INSTALL_RPATH does not include SPACK_COMPILER_EXTRA_RPATHS"
The `CMAKE_INSTALL_RPATH` list does not include whatever is in `SPACK_COMPILER_EXTRA_RPATHS`. This breaks among other things cmake packages depending on `intel-mkl`.

For instance, here is a binary in the staging folder (after `make` is run):

[code]

but when it gets installed with `make install`, the only MKL-related path remaining is

[code]
and `libmkl_scalapack_lp64.so` is not found:

[code]

[2020-11-18 13:44] samfux84 commented on #16328
Discussion about issue:
https://github.com/boostorg/build/issues/475
https://github.com/boostorg/build/issues/647

Fix:
https://github.com/boostorg/build/commit/86271a42865b2d6ebf4440549e9df1ccc05e9d13

Patch:

[code]

Add patch to build receipt:

`patch('boost_intel_toolset_cxx11.patch', when='@1.70:%intel')`

Tested it with Boost 1.73.0 using Intel 18.0.1 and for me this patch solved the problem

[2020-11-18 15:25] tjfulle opened #19972 "Option to not remove .git directory when archiving in mirror"
Spack removes a package's `.git` directory when archiving in to a mirror.  Some packages query the `.git` directory during their CMake phase, like Dakota.  If `.git` does not exist, the CMake phase can fail.  I'd like there to be an option to not remove the `.git` directory on request.  Something like:

[code]

- [ ] I have run `spack --version` and reported the version of Spack
- [x] I have searc

[2020-11-18 15:31] scottwittenburg commented on #19932
@siko1056 Sorry I wasn't more explicit.  For me it was `openblas@0.3.12^gcc@7.3.0 arch=linux-ubuntu18.04-x86_64` (`/plqvqp5`), and at the time the version of spack was:

[code]

Based on your comments, it seems like until I switch my environment to use `gcc@8.3.0` or newer, I should stick with older `openblas`?

[2020-11-18 16:59] danielsjensen1 opened #19974 "dev-build out-of-source build/stage directory"
### Rationale

The `dev-build` command performs in-place builds even for CMake projects.  This is rather annoying especially for developers because version control systems will detect all of those build files unless they are told to ignore them.  (This can also interfere with certain features like the [CMake IDE Build Tool Generators](https://cmake.org/cmake/help/latest/manual/cmake-generators.7.h

[2020-11-18 17:13] naromero77 commented on #19908
@trws I think it would be nice to back port this patch into Spack package. Do you agree?

@robertu94 Would you be willing to do a PR for Spack with a small patch? I have no idea how far back this issue goes.

[2020-11-18 17:50] nicholas-sly opened #19977 "Spack picks up wrong user after ksu"
When trying to run an installation as a user that was switched to using `ksu`, Spack still determines the temp directory (set as `$tempdir/$user/spack-stage`) to be the $user from login, not the one switched to with `ksu`.

### Steps to reproduce the issue

[code]

### Error Message

No error message, per se.  Just the fact that when building, the build stage ends up under `~/.spack`, which in the

[2020-11-18 18:17] michaelkuhn commented on #19473
@s-sajid-ali Does #19978 fix this for you?

[2020-11-18 18:21] EthanS94 opened #19979 "Installation issue: Mesa finds system cmake instead of Spack's cmake"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.16.0-3-b1dc3e787
* **Python:** 3.6.10
* **Platform:** darwin-mojave-haswell

### General information

- [x] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [x] I have run `spack maintainers <name-of-the-package>` and @mentioned any maintainers @chuckatkins
- [ ] I have uploa

[2020-11-18 18:32] robertu94 opened #19981 "New concretizer: target ranges treated incorrectly"
### Steps to reproduce the issue

[code]

### Error Message

The above concretization should not be possible because gcc@10.1.0 conflicts with cuda 10.1.243 and will generate compiler unsupported compiler errors if used.  The same request with spack spec correctly returns the following error:

[code]

Here is what spack solve returns

<details>
<summary>$ spack --debug solve superlu-dist cuda_arch

[2020-11-18 18:43] s-sajid-ali commented on #19473
It does!

[code]

[2020-11-18 19:02] alalazo commented on #19981
@robertu94 Need to check this one better, but it seems the new concretizer is buggy on target ranges and we didn't have any unit test exposing that. Looking at the logic program that is generated I see:
[code]
The integrity constraint contains:
[code]
so it apparently forbids `x86_64:` and not the range of targets. I'll follow up here quickly.

[2020-11-18 19:17] wdconinc commented on #18625
I encountered something similar in a separate issue. Something like this might work here, but I don't have the personal bandwidth to run sufficient tests:
[code]

[2020-11-18 19:31] wdconinc commented on #18625
https://github.com/eic/spack/tree/bugfix/issue-18625 if someone wants to test this.

[2020-11-18 21:09] gdolle opened #19984 "Wrong indent config.yaml release 0.16.0"
Hi,

I got a yaml parser error with the default config.yaml for the last archive release 0.16.0. Coming from this line
https://github.com/spack/spack/blob/develop/etc/spack/defaults/config.yaml#L20

Re-indent seems to fix the problem.

[2020-11-18 21:25] eugeneswalker opened #19985 "py-ipykernel: install_data phase fails"
Unable to install `py-ipykernel@5.3.4` due to failure of `install_data` phase.

Using:
* `spack@develop`
* eca1370abc65341421597018cc5b702a3e5ab46e
* `2020-11-18 8:37 AM PST`

[code]

Introduced via commit 8b431d17742a43aeca06d897dd5889a58df0d259 ?

@ax3l @adamjstewart @scottwittenburg

[2020-11-18 21:58] trws commented on #19908
That seems reasonable, especially since python3 is only going to be more prevalent and I expect impacted versions to stay relevant for quite a while.

[2020-11-18 22:32] alalazo commented on #19981
@robertu94 This is what I obtain with #19988

<details>
<summary>$ spack solve --timers superlu-dist cuda_arch=61 ^cuda@10.1.243</summary>

[code]

</details>

and your original spec returns a long unsat core (which is what is expected).

[2020-11-18 22:35] robertu94 commented on #19981
@alalazo is there anything that I need to do?  As far as I can tell your fix will address this.

[2020-11-18 22:43] alalazo commented on #19981
@robertu94 Just confirming it also works for you is fine. I am trying to understand if I need further unit tests to prevent regressions on this (and thanks for this bug report!) :slightly_smiling_face:

[2020-11-18 22:54] robertu94 commented on #19981
I'm planning on putting the concertizer through its paces a bit more in the near future.  However most of my test cases I came up with during the BoF today either depend on future improvements that haven't landed yet (i.e. virtual dependencies for languages), or requires some bugs fixes in the package descriptions first.

Thanks for all your hard work on Spack.

[2020-11-19 01:23] adamjstewart commented on #19984
I'm unable to reproduce this with either Python 2 or 3.

[2020-11-19 02:45] #19985 closed, assigned to nobody

[2020-11-19 04:52] #19932 closed, assigned to nobody

[2020-11-19 09:41] alalazo commented on #19984
I'm also unable to reproduce. I think it's very unlikely that a problem like this wouldn't be caught by CI, since it's in the default configuration that gets parsed in many tests, but I'd like to understand if it's just a local issue or something more. @gdolle Does it occur for you on a fresh clone of Spack?

[2020-11-19 09:54] gdolle commented on #19984
@alalazo @adamjstewart I recheck and the problem came from my previous config.yml file ("install_tree" key filled).
My bad, this issue can be closed.

[2020-11-19 09:55] #19984 closed, assigned to nobody

[2020-11-19 09:56] alalazo commented on #19984
Thanks for the feedback!

[2020-11-19 10:06] #19473 closed, assigned to nobody

[2020-11-19 12:22] alalazo commented on #19951
@haampie This is a concretization issue that should be solved by the new concretizer. It is yet another instance of the original concretizer being greedy and fixing details before having accounted for the whole set of constraints.

Reporting below the results I obtain with the original concretizer:
[code]
and with the new concretizer (that solves the full set of constraints):
[code]

[2020-11-19 12:23] alalazo commented on #19951
If the spec seems correct I would close the issue since #19501 seems to handle `swr=none` just fine.

[2020-11-19 12:28] haampie commented on #19951
Thanks for pointing that out. Happy to see the new concretizer is smarter.

Would it still be OK to patch the old concretizer with #19952? There's already sufficiently many issues with the ROCm packages, and adding the new concretizer as a requirement which is still considered experimental is yet another hurdle to cross.

[2020-11-19 12:32] haampie commented on #19951
Or maybe we can just drop the variant in hip-rocclr if it isn't vital. @arjun-raj-kuppala and @gkathirv, is https://github.com/spack/spack/blob/develop/var/spack/repos/builtin/packages/hip-rocclr/package.py#L33 a strict requirement, or can we drop the `swr=none` bit to overcome the above current-default-spack-concretizer issue?

[2020-11-19 12:39] alalazo commented on #19951
No, the patch there seems to be wrong. It doesn't act on the concretizer directly, but on a method of an object used  by the concretizer and modifies it in a way that appears to be semantically incorrect. The problem is that the modification doesn't constrain a variant, it just overwrites it if you pass `none` as a value.

[2020-11-19 14:20] zhiyuanzhai commented on #19937
When looking through the `intel-mkl` directory, I found a similar library name, `libmkl_blacs_mpich_lp64.a`, which seems to be using `mpich` instead of `intel-mkl`.

[2020-11-19 14:25] cjlegg opened #19997 "Specifying hpcx and fftw as an external package"
### Steps to reproduce the issue

Motivation: spack will not build openmpi (for me at least) failing at the build of ucx. The system I am on provides openmpi has part of the hpcx dsitribution from Mellanox and modules for that are provided. I would therefore like to use openmpi from hpcx as an external package in spack as a workaround. (I also have been trying to declare fftw as an external packag

[2020-11-19 15:20] RemiLacroix-IDRIS opened #19998 "FFTW performance issue: how to override architecture-based choices?"
Hi,

We have an issue on our machine where AVX512-enabled FFTW builds are something like 3 times slower than AVX2 builds.

While trying to figure out this with the FFTW devs, we would like to override the automatic SIMD choice made by the Spack package based on the detected architecture (Intel Cascade Lake 6248).

I know I can force another arch when installing but it would create the correspondin

[2020-11-19 15:59] alalazo commented on #19951
Closing as fixed by #19501

[2020-11-19 15:59] #19951 closed, assigned to nobody

[2020-11-19 16:59] iulian787 opened #20000 "Installation issue: moab"
[code]
This command does not work on develop; it works on releases/v0.16 on my laptop
If I try this on my laptop (ubuntu 18.04) or on a workstation with ubuntu 14.04, I get this error; how do I track which one is the dependency that is troublesome for blas/openblas/flexiblas lapack?
[code]
Actually, I have this on my laptop
[code]
So "blas" itself is not building ? How do I read this ?

[2020-11-19 17:10] robertu94 commented on #19908
@naromero77 what would you want in the patch?  Just code like above to add the Python3_EXECUTABLE, or a larger patch which backports the fix to AddCompilerRT.cmake to older versions of LLVM?  I'm happy to do the former, I'm not sure I want to do all of the testing to ensure I didn't break something else in an older LLVM with a backported patch.

[2020-11-19 17:34] iulian787 commented on #20000
OK, I noticed that blas itself does not exist as a spack package
spack edit blas
spack edit blas
==> Error: No package for 'blas' was found.
    Use `spack create` to create a new package

[2020-11-19 17:58] #19966 closed, assigned to nobody

[2020-11-19 20:01] adamjstewart commented on #20000
Spack has a concept of virtual packages (like blas or mpi) that can be provided by multiple libraries (openblas, intel-mkl, mpich, openmpi). That's why `blas` itself doesn't exist as a package.

This error message means that `moab` depends on some `blas` library, and `openblas` is the default. But the latest version of `openblas` does not support your older GCC compiler. You have many options to r

[2020-11-19 20:02] iulian787 commented on #20000
so the issue appears for any package that has "depends_on('blas')"

[2020-11-19 20:04] adamjstewart commented on #20000
The issue appears for any package that depends on blas if you have an older GCC compiler that isn't supported by the latest version of openblas. The issue only occurs if you are using the old concretizer (currently the default), so I suggest that anyone who runs into this try out the new concretizer.

[2020-11-19 20:23] eugeneswalker opened #20005 "module 'spack.hooks' has no attribute 'sbang'"
Trying to install some packages from build cache is giving this error:
* `module 'spack.hooks' has no attribute 'sbang'`

Using
* `spack@develop`
* c41782795433cc3241d9a6038c68bcadbb12b838
* `Thu Nov 19 17:43:52 2020 +0100`
* Docker container `ecpe4s/ubuntu18.04-runner-x86_64:2020-09-01`

Concrete spec: [kokkos-p3br7p.yml.txt](https://github.com/spack/spack/files/5569476/kokkos-p3br7p.yml.txt)

Us

[2020-11-19 20:42] iulian787 commented on #20000
thanks Adam!

[2020-11-19 20:42] #20000 closed, assigned to nobody

[2020-11-19 20:43] hainest commented on #16328
Thanks, @samfux84! I'll test out this patch and let you know what I find (it will be a few days).

[2020-11-19 21:01] scottwittenburg commented on #20005
@chuckatkins This is what we were just discussing, fyi.

[2020-11-19 21:53] pghysels opened #20007 "Installation issue: rocblas 3.9.0"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.16.0-26-d6e44b94d
* **Python:** 3.6.8
* **Platform:** cray-rhel8-zen
* **Concretizer:** original

### Additional information

* [spack-build-out.txt](https://github.com/spack/spack/files/5569883/spack-build-out.txt)
* [spack-build-env.txt](https://github.com/spack/spack/files/5569934/spack-build-env.txt)

@arj

[2020-11-19 23:57] iulian787 commented on #13555
Rajeev,
Where you able to build visit + mpi + hdf5 with spack? the library hdf5_mpi was renamed by Mark Miller, to differentiate it from hdf5 built serially (when you build in parallel, visit keeps both versions, serial and parallel of many libraries);
It was needed for moab :)

[2020-11-20 00:36] rajeeja commented on #13555
Yes, it finally worked at the time.

_________________________________________
Rajeev

On Thu, Nov 19, 2020 at 5:57 PM iulian787 <notifications@github.com> wrote:

[2020-11-20 05:38] naromero77 commented on #19908
If I understand correctly, two things need to happen:
- We need to include this patch
https://reviews.llvm.org/D91536
- Plus we need to add these lines to the Spack package:
`cmake_args.append("-DPython3_EXECUTABLE:PATH={0}".format(spec["python"].command.path),)`

Correct?

If so, I would be happy if you could do a PR for LLVM 11.0. If it happened to work for LLVM 10.0.x, that would be gravy.

[2020-11-20 08:21] vvolkl commented on #7237
The `relocatable = false` proposal makes a lot of sense to me. We tried using `spack buildcache`, but dealing with the few packages that do strange things with their path has been a major headache that led to mostly abandoning the build cache. However, restricting its use to relocatable packages seems like it could become useful to us.

[2020-11-20 11:06] adrien-cotte opened #20015 "Spack environment module file or view hardlink"
Hello,

I am able to generate a spack env with my own spack.yaml but I want to generate a module file which load this env.
I see how to generate a module file for each product of my env but not one module for all this env.

My goal is to load this env without "spack env" cmd.

Another approach could be to generate a view but I do not know how to specify "hardlink" in spack.yaml (symlink by default

[2020-11-20 12:34] zhiyuanzhai commented on #19937
I think I've figured it out. It's in `intel.py`, line 803:
https://github.com/spack/spack/blob/4609a126baa383ce8057253dacd6ac4fc415ac72/lib/spack/spack/build_systems/intel.py#L802-L826
It seems that the situation described above has been taken into account, but only when the package is dependent on `mpich`. For `julia`, this is not the case, as `mpi` is not a dependency of `julia`, which means `^m

[2020-11-20 12:47] zhiyuanzhai commented on #19937
Since latest Intel packages like `intel-mkl` on macOS is only compatible with `mpich`, is it feasible to consider them conflicting with MPIs other than `mpich`? @adamjstewart

[2020-11-20 13:47] haampie opened #20019 "new concretizer: changes compilers to avoid compiler conflict in package"
### Steps to reproduce the issue

With GCC7 and Clang 6 installed, you get:
[code]
where it mixes GCC and Clang to work around

[code]
defined in openblas.

Instead it should just take openblas@0.3.10 and compile with GCC.

[2020-11-20 13:49] haampie commented on #19998
Maybe add a variant?

[2020-11-20 13:51] RemiLacroix-IDRIS commented on #19998
There was a variant for this but it got removed and replaced by auto-selection based on the architecture.

I could add it back with a default "auto" variant which would use the architecture.

[2020-11-20 13:58] haampie commented on #19970
For anyone encountering this issue, the workaround is to add

[code]
to your CMakeLists.txt, which overrides spack's `-DCMAKE_INSTALL_RPATH_USE_LINK_PATH=OFF`, and will ensure that cmake does not erase the rpaths to MKL.

[2020-11-20 14:57] vvolkl commented on #15019
Another suggestion:

- parsing the `tags` of a package and adding them to PRs that change them.

I also thought of using a github actions workflow, but the limitations with the permissions for forks are really frustrating :(

[2020-11-20 15:55] adamjstewart commented on #15019
That should be pretty doable. I believe we're currently working on getting a Kube cluster setup at LLNL, so once that happens I'll start working on that.

[2020-11-20 15:57] adamjstewart commented on #19937
I have to admit, I'm not super familiar with Intel packages. Is it true that `mpich` is supported but `openmpi` and `intel-mpi` aren't? I find it hard to believe that `intel-mpi` isn't supported.

I think what you want is to rename `^intel-parallel-studio` to `^intel-parallel-studio+mpi`.

[2020-11-20 16:46] zhiyuanzhai commented on #19937
@adamjstewart I'm not sure if this is the correct understanding. But the comment in the `intel.py` says:
[code]
It looks as if the Intel MKL since 2018 on Mac has been using `mpich` only. But this still needs to be verified by the official documentations.

But I believe one thing is for sure: the Intel packages since 2018 won't work properly on a Mac with an `if` statement like this. It can only h

[2020-11-20 17:20] steo85it commented on #9134
Maybe it would deserve a self-standing question but... what's the most efficient way, at present, to mimic what such a spack-update/upgrade command would do? Say I'd like to update my current python version and all the libraries depending on it: what I'd do is to reinstall each of them manually (with some trial and error to see which ones need to be reinstalled), then purge my modules and manually

[2020-11-20 17:31] adamjstewart commented on #9134
The closest thing we have right now is Spack Environments. That's what I use on my laptop to mimic Homebrew/Conda. It lets me list packages I care about and install the latest version of them. The main thing that is missing is the ability to uninstall older versions/packages not in my environment.

[2020-11-20 18:14] vvolkl commented on #15019
@adamjstewart @tgamblin great! actually it seems like github has adressed the issue with the actions workflow since your last comment:

https://docs.github.com/en/free-pro-team@latest/actions/reference/events-that-trigger-workflows#pull_request_target

It sounds like `pull_request_target` could be used to implement a pull request labeller. But I'm not sure it will work for the maintainers issue, s

[2020-11-20 18:37] scheibelp commented on #20005
A couple questions:

* Where do you change this?
* What is the value of `SPACK_ROOT` before you change it?

Is there any output you are excluding or commands you are running (EDIT: I meant *extra* commands you are running that you didn't mention)? I am currently unable to reproduce the issue although I haven't *exactly* reproduced your conditions (currently using the stock Ubuntu 18.04 image vs. `

[2020-11-20 18:42] payerle commented on #19830
Anyone care to look at this?

[2020-11-20 18:43] payerle commented on #19644
Anyone care to look at this?

[2020-11-20 18:54] eugeneswalker commented on #20005
[code]

Succeeds: `SPACK_ROOT=/builds/uo/e4s/spac` (i.e. Problem is not reproduced)
Fails: `SPACK_ROOT=/builds/uo/e4s/spack` (i.e. Problem *is* reproduced)

The `SPACK_ROOT` is critical to reproducing. I'm not excluding any other commands. The critical piece here is that IF `SPACK_ROOT` is set to `/builds/uo/e4s/spack`, the problem exists. This is the value used to build the binaries in the first

[2020-11-20 19:10] scheibelp commented on #20005
Got it: now I can reproduce it

[2020-11-20 22:14] adamjstewart opened #20025 "spack test doesn't support Python 3.8 + macOS"
The `spack test` command doesn't seem to work with Python 3, at least for me:
[code]

### Information on your system

$ spack debug report
* **Spack:** 0.16.0-32-3fbda07a87
* **Python:** 3.8.6
* **Platform:** darwin-catalina-ivybridge
* **Concretizer:** original

### Additional information

- [x] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [x] I have searche

[2020-11-21 02:54] scheibelp commented on #20005
I still haven't gotten to the bottom of this, so I'll be continuing on Monday.

Todd suggested removing a function-local import of `spack.hooks.sbang` in `relocate.py`,  and I can confirm that resolves the issue:

[code]

As for why this import causes trouble later on, I'm not yet sure.

I've also experimented with a number of different prefixes which all seem to work (without applying the patch):

[2020-11-21 07:45] ikitayama commented on #19871
I'll be away from the office the entire next week, but check my inbox from time to time, so if you'd want me to try some commands let me know.

[2020-11-21 09:42] ax3l commented on #18598
Further triage in https://github.com/ornladios/ADIOS2/issues/2494
This is indeed a general GCC 10 issue with ADIOS 2.6.0.

There seems to be a patch in `master` but not a new release yet.
We turned the default `dataman` option to `false` in #20003 because it pulls dependencies that are heavy and not very usual for HPC users (and it breaks in the latest, current default version). Users that need da

[2020-11-21 10:01] zhiyuanzhai commented on #19937
[code]
Here's the contents of MKL libraries on my Mac.

[2020-11-21 19:00] mgsternberg commented on #19937
@adamjstewart is right in pointing to the cascading `if`.

I need to refresh my mind and look into background, but I think the question is: how come `scalapack_libs()` is called when no MPI is in the DAG? The libs do exist on Mac, at least for new releases (cf. comment about the optional cluster components in previous releases), and so it will be fine to link them.

Can ScaLAPACK be called and fun

[2020-11-21 19:59] v-dobrev opened #20040 "Issues with the new clingo concretizer"
I am trying the new concretizer and ran into two issues. (I also posted these in a thread on Slack.)

### Steps to reproduce the issue
The first issue is that the clingo concretizer seems to ignore some settings from `packages.yaml` like these:
[code]
Basically, when I run
[code]
I get
[code]
As you can see the spec has `~external-blas` instead of `+external-blas` as specified in `packages.yaml`.

[2020-11-21 22:21] jacobmerson opened #20042 "python package not active in environment"
I created a python package for mpltools. When I add this package to an environment, it is not accessible to python. However, when I use `spack load py-mpltools` everything works as expected.

I'm not sure if the issue is related to the upstream `setup.py`, or my spack package. The spack package I created can be found [here](https://github.com/jacobmerson/spack/blob/a67bf0ca77b33f742c4650c6b4ba5e64

[2020-11-21 22:40] jacobmerson opened #20043 "Installation issue: py-matplolib conflicts with system matplotlib"
The following error seems to exist if there is a version of matplotlib installed with the system package manager. The spack version of the package does not work as expected. Based on the information [here](https://stackoverflow.com/questions/61864151/keyerror-scale-for-import-matplotlib-pyplot-as-plt), possibly spack isn't correctly linking the mpl_toolkits folder?

### Steps to reproduce the issu

[2020-11-21 23:06] jacobmerson opened #20044 "Issue with clingo concretizer"
I get an error when trying to use the new clingo concretizer with an invalid keyword argument.

### Steps to reproduce the issue

[code]

### Error Message
[code]

### Information on your system
* **Spack:** 0.16.0-32-4609a126b
* **Python:** 3.8.5
* **Platform:** linux-ubuntu20.04-broadwell
* **Concretizer:** clingo

[code]

### Additional information

- [x] I have run `spack debug report` and rep

[2020-11-22 02:24] adamjstewart commented on #20042
I think this issue (and likely your other issue) are because you are mixing Spack installations and external installations.

When you activate an environment, all of the installations in that environment are symlinked to a central location. However, I don't think external packages are symlinked at the moment (@scheibelp can you confirm?).

Python's import system first searches the current director

[2020-11-22 02:26] adamjstewart commented on #20043
I think the explanation for this issue is similar to your other issue, although I haven't figured out exactly why it's mixing search scopes. Solutions to this issue are the same as for your other problem.

[2020-11-22 02:28] adamjstewart commented on #20044
Spack's new concretizer currently requires `clingo@master+python`, you need to install a newer version of the concretizer.

@alalazo is there somewhere we can document this so that it is more obvious?

[2020-11-22 06:52] eugeneswalker commented on #20005
I've noticed a couple things that don't quite make sense to me, but may make sense to someone with more Python knowledge.

<b>/spack/lib/spack/spack/hooks/__init__.py</b>
[code]

The following appear to be <b>independent</b> remedies.

1. Remove `@memoize` decorator from `all_hook_modules()` (defined in <em>hooks/__init__.py</em>)

2. Append `sbang = HookRunner('sbang')` to the end of <em>hooks/__

[2020-11-22 10:58] Nischay-Pro opened #20046 "Installation issue: h5cpp has invalid checksum"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.16.0-32-4609a126b
* **Python:** 3.6.8
* **Platform:** linux-centos8-broadwell
* **Concretizer:** original

### Additional information

Invalid SHA256 Checksum

Checksum in spack package module: 42d0ca1aaff1ead8998a26d892a51c12b1b89023382f191dc438bd0fa4513455
Checksum upstream: 661ccc4d76e081afc73df71ef11d02783

[2020-11-22 11:05] zhiyuanzhai commented on #19937
@mgsternberg Well, as the comment in `intel.py` says:

I know little about ScaLAPACK. Is there any example that I can try?

Sounds like we can separate ScaLAPACK from Intel MKL? I thought Intel MKL were considered as a whole package that includes ScaLAPACK.

[2020-11-22 20:06] jacobmerson commented on #20042
I will try using the spack built python instead. I guess there should be some warning in the docs that external packages may cause unexpected issues. I do get a warning that the external packages won't be symlinked, but it's not always obvious what kind of issue that may cause.

[2020-11-22 20:29] jacobmerson commented on #20044
That worked...Is there an option to give the path to clingo in the `config.yaml`? Otherwise I guess I can just put `spack load clingo` into my `.bashrc`.

[2020-11-22 20:30] adamjstewart commented on #20044
`spack load` works, or you can set `PATH` and `PYTHONPATH` directly. I use an environment to do this.

[2020-11-22 23:34] eschnett commented on #20046
I confirm the problem. I don't know what caused it – maybe the tarball changed. I assume that updating the checksum is the right thing to do.

There is now also a newer release `h5cpp-1.10.4-6` available.

[2020-11-23 04:38] Nischay-Pro commented on #20046
Thanks for the confirmation Erik. I corrected the checksum and tried building the package again. But now I'm facing a CMAKE build error.

I'm attaching some build and error logs.

[spack-build-out.txt](https://github.com/spack/spack/files/5581099/spack-build-out.txt)
[CMakeOutput.log](https://github.com/spack/spack/files/5581100/CMakeOutput.log)

From the error message it looks like CMAKE is unabl

[2020-11-23 08:17] vvolkl opened #20050 "Fetchers failing for fastjet"
I tried to add a new version for  [fastjet](https://github.com/spack/spack/blob/develop/var/spack/repos/builtin/packages/fastjet/package.py) but the fetcher has an issue (the fastjet release / download page is still working and unchanged, as far as I can tell: http://fastjet.fr/all-releases.html)

### Steps to reproduce the issue

[code]

[2020-11-23 08:18] vvolkl commented on #20050
The installation is working, as long as the versions are taken from the source mirror (which is why this might have been failing for a while but wasn't noticed)

[2020-11-23 09:17] alalazo commented on #20050
Are you referring to a local mirror you have on your machine vs. `spack-public` or to a the package `url` being correct and `spack-public` being not?

EDIT: Replying to my own question:
[code]

[2020-11-23 09:24] vvolkl commented on #20050
yes, I meant that as long as fastjet is fetched from any existing source mirror, it can be installed, so the fetcher must have broken after the fastjet sources were added to the public source mirror.

[2020-11-23 09:40] alalazo commented on #20050
The issue apparently comes from this function:

https://github.com/spack/spack/blob/b490d65f28e2f746bb93746ff854afd299881cdd/lib/spack/spack/fetch_strategy.py#L321-L328

which is used to understand if the URL exists. Fastjet fails on it for some reason (exit code 22, which means HTTP error 400 or above) so fetching the whole tarball is not even tried. Need to look at this more closely to decide wh

[2020-11-23 09:49] vvolkl commented on #20050
Indeed it is a 403:
[code]

For me it works when adding `'-O'` to `curl_args`, but I don't really understand why

[2020-11-23 11:44] alalazo commented on #19998
But you can use projections to force any naming you want, right?

[2020-11-23 11:53] RemiLacroix-IDRIS commented on #19998
No, the arch-based directory is always there (i.e you cannot project across arch-boundaries) which makes sense I guess.

[2020-11-23 18:55] joshessman-llnl opened #20055 "Clingo concretizer does not support non-numeric versions"
I ran `spack spec` to concretize a package and was unable to concretize using non-numeric compiler or dependent package versions.

### Steps to reproduce the issue

[code]
If the clang version is changed to a fake version (15.7), concretization without MPI succeeds.
But when MPI is added:
[code]
Concretization succeeds when the external spectrum-mpi is also converted to use a fake numeric version

[2020-11-23 22:14] vvolkl commented on #20050
Strange, looking at this site: https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Accept-Ranges

it seems like the server *should* accept range requests.

[code]

Using a header request (`curl -I`) might actually accomplish the same thing (will return a 404 if the url is not valid)

EDIT: @alalazo  maybe `_existing_url` can try the header request if the range request fails, and only return

[2020-11-24 03:18] scottwittenburg opened #20062 "Installation issue: phist"
It seems `phist` may need `sbang` patching for its build process, as it uses a python script configured by cmake (`fortran_bindings/cfwrapper.py.in`) where the python interpreter generated into the shebang lives in the spack install tree, which may be quite deep, depending on the installation root and any padding.  A recent `phist` build failed with the following error:

[code]

Investigation show

[2020-11-24 10:59] jthies commented on #20062
Is there a general way for me to fix this in the phist source code (e.g. via cmake)? I would prefer not to need a patch with spack in general.

[2020-11-24 14:05] robertu94 commented on #19908
We also need to specify `Python2_EXECUTABLE` if the user chose to depend on Python 2.7 instead of 3.  I'll try to upload a patch soon

[2020-11-24 14:11] ChristianTackeGSI commented on #19972
Could this be a duplicate of #14344?

[2020-11-24 15:07] #20062 closed, assigned to nobody

[2020-11-24 17:12] robertu94 opened #20069 "Installation issue: clingo fails to build on gcc 4.8.5 (Red Hat's GCC version 4.8.5-44) on CentOS 7"
Thanks for all your hard work on spack, and on the new concertizer specifically; Spack is one of my favorite HPC tools.

### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.16.0-57-348cbe1
* **Python:** 2.7.5
* **Platform:** linux-centos7-skylake
* **Concretizer:** original

[code]

### Additional information

Some of the groups that we collaborate with still u

[2020-11-24 19:37] #20046 closed, assigned to nobody

[2020-11-24 20:51] tgamblin commented on #20069
This is one of the main reasons the new concretizer is experimental -- `clingo` requires C++14.  We are working on the story for vendoring it so stay tuned on this one.

[2020-11-25 04:15] siko1056 commented on #19932
@scottwittenburg Sorry for the late reply, but I wanted to come up with a tested answer of most available Spack compilers:

:heavy_check_mark: openblas@0.3.12 % gcc@6.4.0
:heavy_check_mark: openblas@0.3.12 % gcc@6.5.0
:x: openblas@0.3.12 % gcc@7.1.0
:x: openblas@0.3.12 % gcc@7.2.0
:x: openblas@0.3.12 % gcc@7.3.0
:heavy_check_mark: openblas@0.3.12 % gcc@7.4.0
:heavy_check_mark: openblas@0.3.12 % gc

[2020-11-25 05:04] alalazo opened #20079 "mesa with test dependencies fail to concretize"
When trying to install `mesa` with test dependencies, one gets errors during concretization with both the original and the new concretizer.

### Steps to reproduce the issue

[code]

### Error Message
With the ASP-based concretizer one gets
[code]
the full stacktrace is:

<details>
<summary>$ spack -d install --test=all mesa </summary>

[code]
</details>

With the old concretizer there's an infini

[2020-11-25 05:38] alalazo commented on #20079
After a quick fix for the clingo issue (will submit a PR for that) here's the unsat core that is obtained:

<details>
<summary>$ spack  install --test=all mesa</summary>

[code]

</details>

[2020-11-25 05:45] alalazo commented on #20079
A circular dependency is activated by tests:
[code]

[2020-11-25 10:39] alalazo commented on #20040
@vdobrev I get the same on my system, but only for `~external-blas`. For instance, if you add `~shared` to the same preference it is picked by the clingo concretizer. As far as I can tell in my case it's due to the concretizer not being able to find a proper standalone BLAS provider to use, since activating that variant implies:
[code]
Given that the configuration in `packages.yaml` is to be regar

[2020-11-25 11:07] alalazo commented on #20040
I confirm the first issue. In my case there are these clauses generated for `netlib-lapack`:
[code]
which together with the following rules in `concretize.lp`:
[code]
effectively make `netlib-lapack` an unconditional provider for BLAS, which is wrong.

[2020-11-25 13:04] alalazo commented on #20040
@v-dobrev #20086 Should solve the issue with `netlib-lapack`.

[2020-11-25 13:32] alalazo commented on #20040
@v-dobrev I am unable to reproduce your second issue on my dev machine. That likely means that I need a closer match to your situation. Can you share your `packages.yaml` and `compilers.yaml` to start with? If so I'll try them on Marconi (CINECA), which should be similar enough to Lassen.

[2020-11-25 14:31] haampie commented on #19665
@tgamblin: the issue here persists and seems to have gotten worse. Maybe related to #19672?

For instance, this CI job https://gitlab.com/cscs-ci/electronic-structure/build-spack-images/-/jobs/872101945 was restarted (e.g. https://gitlab.com/cscs-ci/electronic-structure/build-spack-images/-/jobs/872125388), and each time it complains about a full hash mismatch (and uploads 67 packages). There's no

[2020-11-25 15:14] loveshack opened #20092 "Installation issue: openmpi"
openmpi should depend on the compiler used by the wrappers.  I managed to gc the one built into the wrappers.
I can't immediately see how to get it into the dependencies, but I assume it's simple.

### Steps to reproduce the issue

Build openmpi with a new compiler, uninstall that compiler, and try to run mpicc.

### Information on your system

Spack v0.16.0, openmpi commit 77b2e578ec47f7713cae965

[2020-11-25 15:22] alalazo commented on #20055
Thanks for the report. I can reproduce with a minimal example using this `compilers.yaml`:
[code]
and trying to concretize:
[code]
The issue is that with the custom version the concretizer cannot determine which target microarchitectures are supported by the compiler.

[2020-11-25 15:34] alalazo commented on #20055
I'm going to submit a hotfix that will use the generic target for custom versions.

[2020-11-25 15:46] joshessman-llnl commented on #20055
Thanks for looking into this - would specifying the microarchitecture in the spec (something like "clang@upstream_fortran arch=x86_64-haswell") be enough?

[2020-11-25 15:54] alalazo commented on #20055
I don't think so. I'm checking the code right now, but I'm mostly confident that this stems from Spack using `upstream_gfortran` to lookup this JSON file:

https://github.com/spack/spack/blob/develop/lib/spack/external/archspec/json/cpu/microarchitectures.json

and check which microarchitectures the compiler supports. Of course, being a custom version, the result is none and the solver is basicall

[2020-11-25 17:13] chuckatkins commented on #20040
I've been hitting the second issue trying to update the `ecp-viz-sdk` to add `ecp-io-sdk` as a dependency.  To reproduce it:

[code]
This is expected since for the `ecp-viz-sdk` package the variants are all off by default.

Similary for the `ecp-io-sdk`:
[code]
This is also expected because for the `ecp-io-sdk` the variants are all on by default (except `~faodel`)

The problem occurs when I add `e

[2020-11-25 17:28] mariXanna opened #20094 "Distribution of binaries via SPACK"
Hello,
Is there a way to distribute pre-built binaries via SPACK?
I realize that building from sources is the main workflow for spack packages, but there are several places in documentation mentioning binary packages, binary caches and binary mirrors, so I guess it possible. However, I cannot find more information on that. 'spack create' help has no options regarding composing package from just bi

[2020-11-25 20:25] ax3l opened #20100 "Installation issue: py-numpy with GCC 7.5"
### Steps to reproduce the issue

[code]

### Information on your system

Ubuntu 20.04 on x86_64

### Additional information

[code]

I think the concretizer should pick an older version of openblas here. cc @tgamblin

Related to #19932 #19975

### General information

- [ ] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [x] I have run `spack maintainers <name-

[2020-11-25 20:29] alalazo commented on #20100
@ax3l Maybe OT, but I think #20020 and:
[code]
will be able to concretize correctly. Note you need to have `clingo@spack` importable in Spack's Python interpreter before you can use the new concretizer.

[2020-11-25 20:41] ax3l commented on #20100
Nice :tada:

Should we independent of that default to `openblas@0.3.10` as preferred until the new concretizer lands?

[2020-11-25 20:42] adamjstewart commented on #20100
The `openblas` package doesn't have any maintainers listed, so apparently no one cares about it. Feel free to change the default version if you want.

[2020-11-25 20:45] ax3l commented on #20100
Actually, if I just make the conflict more precise with this new info: https://github.com/spack/spack/issues/19932#issuecomment-733452619 my specific problem will be solvable ;-)

[2020-11-25 21:04] chuckatkins opened #20103 "Installation issue: llvm fails to build assembler files with CMake 3.19.0"
### Steps to reproduce the issue

[code]

This is a combination of both an LLVM and CMake issue:

LLVM bug: https://bugs.llvm.org/show_bug.cgi?id=48234
LLVM fix: https://reviews.llvm.org/D86308
CMake bug: https://gitlab.kitware.com/cmake/cmake/-/issues/21469
CMake fix: https://gitlab.kitware.com/cmake/cmake/-/merge_requests/5519

This is a placeholder issue that will be closed by the above referen

[2020-11-25 21:11] hppritcha commented on #20092
@loveshack not sure what you are requesting.    Are you wanting for open mpi to have spack install a certain compiler if you're requesting an install of openmpi using a compiler that hasn't yet been added to your spack configuration?

[2020-11-26 01:09] v-dobrev commented on #20040
Yes, I can confirm that this issue is now resolved in the latest `develop` (983fb11de). Thanks!

[2020-11-26 01:35] v-dobrev commented on #20040
@alalazo, here are the `.yaml` config files I use on Lassen:
* [compilers.yaml.txt](https://github.com/spack/spack/files/5599940/compilers.yaml.txt)
* [packages.yaml.txt](https://github.com/spack/spack/files/5599942/packages.yaml.txt)
* [config.yaml.txt](https://github.com/spack/spack/files/5599944/config.yaml.txt)

[2020-11-26 01:52] tgamblin commented on #20069
@cosmicexplorer FYI

[2020-11-26 02:31] shahzebsiddiqui opened #20117 "install all packages from buildcache"
There needs to be a spack option to install all packages from buildcache right now there is no such option. Not sure if this should be part of `spack install` or `spack buildcache install`.

### Rationale

The idea is once stack is built in buildcache anyone may want to install the entire buildcache in arbitrary path. This is useful for software stack admins who want to deploy a stack (E4S) from b

[2020-11-26 07:54] alalazo commented on #20055
#20099 Should fix this issue

[2020-11-26 09:19] MichaelLaufer opened #20120 "Installation issue: Openfoam silently failing to build binaries"
We are trying to install Openfoam on Intel X86-64 platform using GCC v10.2.0.
The installation "completes" succeessfully but many of the expected binaries (simpleFoam, pimpleFoam) do not seem to be actually built in /bin or /platforms/../bin
After removing the "-silent" flag in the package.py, rerunning the command, and searching the build log: pimpleFoam does not appear in the log at all, it appe

[2020-11-26 12:10] #20019 closed, assigned to alalazo

[2020-11-26 12:32] cosmicexplorer opened #20123 "vendor libstdc++ and clingo for bootstrapping from source in arcane environments"
One alternative to #20068 (possibly complementary?) is to attempt to hack away at the build system for clingo (CMake) so that it will avoid introducing a requirement on a C++14 compiler and we can reliably bootstrap it from source in arcane environments.

### Rationale
Removing the futuristic and unnecessary C++14 requirement doesn't break anything (yet)! It currently doesn't require more than a s

[2020-11-26 12:37] cosmicexplorer commented on #20123
Going to make a PR of this today/tomorrow!

[2020-11-26 13:12] cosmicexplorer commented on #20123
I think the gnu autotools are going to be a great place to learn from. The automake/INSTALL file is a very good description of how things can go wrong when building your project: https://git.savannah.gnu.org/gitweb/?p=automake.git;a=blob_plain;f=INSTALL;hb=HEAD.

The more subtle distinction between `autoconf`, `automake`, and `m4`'s responsibilities, vs something like `gcc`'s, stems from the reall

[2020-11-26 15:46] haampie commented on #20040
Another one for the list:

[code]

turns `opengl` off in mesa18, causing the build to fail.

Curiously when adding `conflicts('~opengl ~opengles`) it turns off `~opengl` and turns on `+opengles`, basically undoing the default.

[2020-11-26 16:03] olesenm commented on #20120
Hello @MichaelLaufer

Interesting, the problem is coming from lemon:
[code]
Never seen this before, and not knowing any better, it looks like it _might_ be a compiler issue.

I've opened an [OpenFOAM issue 1938](https://develop.openfoam.com/Development/openfoam/-/issues/1938).
Can followup in either place.

[2020-11-26 16:06] olesenm commented on #20120
Problem is unrelated to adios

[2020-11-26 16:32] alalazo opened #20126 "The ASP-based concretizer cannot solve for targets which are not ancestors of the host"
When trying to specify the target of a spec to something that is not an ancestor of the host, the new concretizer fails with an unsat core.

### Steps to reproduce the issue

[code]

### Error Message

Spack reports the unsat cores above.

### Information on your system

* **Spack:** 0.16.0-70-44665cb4e6
* **Python:** 3.8.6
* **Platform:** linux-ubuntu18.04-broadwell
* **Concretizer:** clingo

###

[2020-11-26 16:53] alalazo opened #20127 "Specifying the compiler in a depends_on directive sets the compiler only on that node"
Having a compiler set in a `depends_on` directive enforces that compiler by default only on that node, while the preferred compiler is used for other nodes.

### Steps to reproduce the issue

Modify `hdf5` with this diff:
[code]
then try the following:
[code]

### Error Message

No error message, but one would expect to see by default:
[code]

### Information on your system
* **Spack:** 0.16.0-70-

[2020-11-26 16:53] alalazo commented on #20127
@haampie

[2020-11-26 16:55] MichaelLaufer commented on #20120
Thank @olesenm,
What is weird is that my colleague @samouyal is able to correctly compile from source manually (outside of spack) without any issues (on the same machine, with the same compiler).
Have you had any success compiling with GCC 10+?

[2020-11-26 16:57] RemiLacroix-IDRIS commented on #19840
We reverted to using `CPATH` for the time being.

To keep the idea behind e3f97b3 I think a possible solution would be to use `__INTEL_PRE_FFLAGS` together with `-isystemdir`:

I find to look at the `prefix_inspection` syntax to know if it can be expressed directly in the configuration file.

Note that a similar issue exists with `LIBRARY_PATH` which is taken into account by most compilers except

[2020-11-26 17:09] olesenm commented on #20120
- gcc-10 (SUSE Linux) 10.2.1 20201117 [revision 98ba03ffe0b9f37b4916ce6238fad754e00d720b]

Building manually with our develop branch looked fine as does building with the master branch (very close to the tar file that spack pulls). So looks fine to me.

Since your colleague had success with the same compiler, same machine and same source outside of spack is encouraging for _me_ (maybe don't have t

[2020-11-26 19:43] tgamblin commented on #20123
Commenting to get notifications

[2020-11-26 19:56] alalazo commented on #20040
@chuckatkins I checked your spec, can reproduce and have a diagnosis. The issue comes from having this minimization:
[code]
at a higher priority than selecting default variants. What happens is that for some reason in your spec the default provider cannot be selected (for me it's `openmpi@3.1.6` that can't be used) which would give a value of 0 to the minimization above. Other mpi providers have i

[2020-11-26 22:52] fcannini commented on #17199
@shahzebsiddiqui I have a WIP recipe for xcrysden here: https://github.com/spack/spack/compare/develop...fcannini:new/xcrysden

Everybody please feel free to test and give feedback.

[2020-11-27 02:45] mwkrentel opened #20132 "making HIP and ROCM more robust"
The HIP and ROCM packages for AMD GPU's have a lot of dependencies and
often do not build cleanly.  I'd like to use this issue for a
discussion of problems and solutions for making `spack install hip`
work more robustly.

----------

(1) Here's where I'm currently stuck at `spack install comgr`.

This is on x86_64, RH 8.2, gcc 8.3.1, spack at commit 676d68a979 on
Nov 18, just after 0.16.0 and just

[2020-11-27 06:08] tkameyama opened #20134 "spack spec py-pyscf dose not stop"
`spack spec py-pyscf` dose not stop.

py-pyscf include `depends_on('xcfun@:2.0.0a2')` but xcfun@2.0.0a2 and before versions are deleted.
But version 2.0.0 is existed.
When i remove this depends_on, `spack spec py-pyscf` is works.

### Steps to reproduce the issue

[code]

### Error Message

[code]

### Information on your system

* **Spack:** 0.16.0-70-44665cb4e
* **Python:** 3.8.6
* **Platform:**

[2020-11-27 08:58] haampie commented on #20132
I usually open a PR on the ROCm package, and then add a patch to spack. The problem is that upstream PRs remain open for a long time and sometimes do not get merged.

In this case, you want to make sure that comgr does not build the tests:

https://github.com/RadeonOpenCompute/ROCm-CompilerSupport/blob/amd-stg-open/lib/comgr/test/CMakeLists.txt#L123

which apparently looks for an installation of h

[2020-11-27 09:58] mslacken opened #20136 "binary_index_root not in standard config"
When spack is installed by root and should be used by normal users, spack still wants to update the `$spack/opt/spack/indices`  which is not writable for normal users.
One can set the the configuration value `binary_index_root`:, but its documented nowhere.

[2020-11-27 12:37] loveshack commented on #20092
You wrote:

No, I think there should be a (run-time) dependency on the compiler that
was used to build the package, which gets wired into the wrappers.  I
shouldn't be able to uninstall that and break the wrappers like I did,
i.e.

spack install openmpi %gcc@<n>
spack uninstall gcc@<n>
spack load openmpi %gcc@<n>
mpicc ...
=> File not found error for .../bin/gcc

Does that make sense?

[2020-11-27 12:48] loveshack opened #20138 "Installation issue: openmpi doesn't configure lustre for romio"
### Steps to reproduce the issue

[code]
doesn't produce a lustre-enabled romio, just an ompio (which isn't meant to be the default on lustre).
I'll supply a fix for the extra configure flag in a bit, but I don't see how to do it properly with +gpfs as the default.

[2020-11-27 13:57] loveshack opened #20140 "Installation issue: openmpi shouldn't require pmi with slurm and legacylaunchers"
Currently openmpi requires pmi when configured for slurm as the scheduler. That's not necessary, and may fail, when using legacylaunchers.  It failed for me building against a slurm installation  which doesn't have development files for its bundled pmi.
I'll supply a fix.

[2020-11-27 16:53] vvolkl commented on #20094
There are some recipes that have to do this for various reasons, but it is definitely to be avoided (in my opinion). Take a look at  [openjdk](https://github.com/spack/spack/blob/develop/var/spack/repos/builtin/packages/openjdk/package.py) or [pandoc](https://github.com/spack/spack/blob/develop/var/spack/repos/builtin/packages/pandoc/package.py).

[2020-11-27 17:23] alalazo commented on #2498
Closed by #19501, since we have this rule in the new concretizer:
[code]

[2020-11-27 17:23] #2498 closed

[2020-11-27 19:53] #19981 closed, assigned to alalazo

[2020-11-27 23:38] hartzell opened #20147 "Installation issue: npm@6.13.4 and newer fail to build"
### Steps to reproduce the issue

[code]

The input spec (given my `packags.yaml` is:

[code]

### Information on your system

[code]

### Additional information

#### spack-build.out

[code]

#### spack-build-env.txt

[code]

### General information

- [x] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [x] I have run `spack maintainers <name-of-the-package>` a

[2020-11-27 23:58] hartzell opened #20148 "Installation issue: rust fails to build on CentOS 7"
FYI: @AndrewGaspar

### Steps to reproduce the issue

[code]

### Information on your system

#### `spack debug report`

[code]

#### `spack spec rust`

[code]

### Additional information

* [spack-build-out.txt]()

#### `spack-build-out.txt`

Here's the bottom of `spack-build-out.txt`:

[code]

#### `spack-build-env.txt`

[code]

### General information

- [x] I have run `spack debug report` and

[2020-11-28 00:11] omor1 commented on #19782
I've encountered a similar issue where explicitly depending on particular installations fails during installation:
[code]

Interestingly, `spack spec` is able to concretize this same spec with no issue:
[code]

_Implicitly_ depending on these, however, is fine:
[code]

[code]

This is to say, these are concretized _identically_, but one installation fails while the other proceeds. (I have _other_

[2020-11-28 01:51] AndrewGaspar commented on #20148
@michaelkuhn does your change #20149 fix this?

[2020-11-28 02:36] hartzell commented on #20148
Most of that seems to be about adding the new version.  I cherry picked [the change at line 516 (524)](https://github.com/spack/spack/pull/20149/files#diff-3721db081667687447ed2dc509fa548e308d768327acee54bc31aa05aa09df20R524) and was able to build `rust@1.47.0`.

Not sure how far back it goes, or where else it might be necessary and/or acceptable.

[2020-11-28 11:25] michaelkuhn commented on #20148
Yes, that should fix it. The problem was that `spec.variants['extra_targets'].value` is `('none',)` and not `'none'`, so `'none'` gets added as an extra target, which won't work.

[2020-11-28 12:09] varioustoxins opened #20152 "error on sourcing setup-env.csh with filenames with spaces in path"
### Steps to reproduce the issue

on osx Catalina with a path that contains spaces in directory names sourcing the csh startup script fails
[code]

### Error Message

[code]

adding

[code]
to the script shows the problem

[code]

fails with spaces in the path string, but

[code]

is ok.

The offending commands seems to be in spack/share/spack/csh/pathadd.csh

[code]
### Information on your system

[2020-11-28 19:12] zhiyuanzhai commented on #19937
Is there any progress on this? @mgsternberg @adamjstewart

From what I've learnt these days, I don't think ScaLAPACK can function without MPI (though I don't know much about it). Now MKL seems to be considered as a whole, and ScaLAPACK is part of it. If ScaLAPACK is considered to depend on MPIs, then MKL should depend on MPIs too. Or maybe we can separate each component from MKL?

[2020-11-28 19:57] varioustoxins opened #20154 "module function not available after module load environment-modules in 0.16.0-80-7c26a10de"
### Steps to reproduce the issue

[code]
repeat on exactly the same machine with version 0.15.4-1503-8619e5b5a

[code]

### Information on your system

* **Spack:** 0.16.0-80-7c26a10de
* **Python:** 3.8.3
* **Platform:** darwin-catalina-haswell
* **Concretizer:** original

vs

* **Spack:** 0.15.4-1503-8619e5b5a
* **Python:** 3.8.3
* **Platform:** darwin-catalina-haswell

### Additional information

[2020-11-28 21:57] hartzell opened #20155 "Installation issue: problem building gobject-introspection with python@3.9.0"
I'm not in a place where I can fix this right now, but thought I'd leave note for my future self, or whomever else comes along.

[code]

The problem seems to be the one discussed in [gobject-introspection issue #325](https://gitlab.gnome.org/GNOME/gobject-introspection/-/issues/325).  It seems like that fix was merged about a year ago.

There have been many new releases of gobject-introspection si

[2020-11-29 01:12] michaelkuhn commented on #20147
This should be fixed by #20146. Could you give that a try?

[2020-11-29 16:50] AndrewGaspar commented on #20148
I think I also fixed this in my "cargo packages" PR... #16185

[2020-11-29 17:25] michaelkuhn commented on #20148
I guess it would make sense to get this change in as soon as possible. Otherwise, rust is kind of broken out-of-the-box.

[2020-11-29 17:27] AndrewGaspar commented on #20148
Yeah, I've been living on that cargo-packages branch where it's fixed and didn't notice this issue.

[2020-11-29 17:39] #20148 closed, assigned to nobody

[2020-11-30 10:50] haampie opened #20169 "System boost 1.70+ preferred over spack boost < 1.70 when using cmake"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.16.0-102-623caf85a9
* **Python:** 3.8.6
* **Platform:** linux-ubuntu20.04-zen2
* **Concretizer:** clingo

Following https://cmake.org/cmake/help/latest/module/FindBoost.html#boost-cmake I've tried to fix this by adding this to boost/package.py:

[code]

but this does not work, you really need to specify `cmake

[2020-11-30 11:54] haampie opened #20171 "New concretizer picks random variant"
### Steps to reproduce the issue

The new concretizer picks a non-deterministic value for `api` in `hdf5`, where `none` is the default:

[code]

### Information on your system

* **Spack:** 0.16.0-102-623caf85a9
* **Python:** 3.8.6
* **Platform:** linux-ubuntu20.04-zen2
* **Concretizer:** clingo

[2020-11-30 12:07] alalazo commented on #20171
@haampie I have seen this happening a couple of times when two or more solutions are "equally optimal" (i.e. they give the same optimal results for minimizations / maximizations in the solver). In this case it may not be straightforward, but the issue points out an inconsistency in the `hdf5` package: the default value is not among the allowed values.

That said, if you add `none` among the `value

[2020-11-30 12:17] haampie commented on #20171
Shouldn't the optimum here be 'as few values as possible' and isn't 'none' supposed to mean empty set?

The `api` variant is multi-valued, so I guess `none` is supposed to mean Ø / none of the above.

[2020-11-30 12:26] alalazo commented on #20171
None of the above. The variant, as far as I can see, is single-valued:
[code]
since it has a `multi=false`. It's basically an enum i.e. you can't ask for `api=v114,v16`. I think what you are referring to are variants declared with `any_combination_of`.

[2020-11-30 12:36] haampie commented on #20171
Oh sorry, I didn't checkout the package.py as much, just glanced over it and remembered it had something with `multi` :p.

In which case we should ping @lrknox to check what the default value should be, or whether none should be a viable option.

[2020-11-30 12:42] alalazo commented on #20171
In any case this is a valid issue, it would just happen in more complex cases.

[2020-11-30 12:47] #20103 closed, assigned to nobody

[2020-11-30 12:50] alalazo commented on #20147
@hartzell  Feel free to close this issue if solved by #20146

[2020-11-30 14:37] alalazo commented on #20140
@hppritcha

[2020-11-30 15:12] mdorier opened #20173 "py-jupyterlab-server not working properly when installed using spack"
When I install the `py-jupyterlab-server` package with spack, then run the jupyterlab server and create or open a Python notebook, jupyter fails to find launch a Python kernel. When instead I install the `py-pip` package with spack, then load it and install `jupyterlab_server` using pip, I don't have this problem.

### Steps to reproduce the issue

[code]
Following this command, open a browser at

[2020-11-30 15:24] hartzell commented on #20147
Yes, that fixes is.

It just adds a new version (`6.14.9`).  Does this mean that the preceding versions are broken upstream or is it something specific to us?

[2020-11-30 15:24] #20147 closed, assigned to nobody

[2020-11-30 15:33] michaelkuhn commented on #20147
Looks like they are broken upstream: https://github.com/npm/cli/commit/4a91e48aa92be5b2739ebcdd8a9a841ff5cb6817

If I understand the file's history correctly, probably everything down to 6.13.0 will be affected. Does it make sense to add conflicts or just remove those versions?

[2020-11-30 16:17] sethrj opened #20177 "@when and @run_after do not work together"
In https://github.com/spack/spack/pull/20078 I wanted to enable a `@run_after('install')` code section restricted by `@when('+doc')`.  I searched the spack packages with `grep -C1 '@run_after'` and found the only existing combination construction to be `@when/@run_after` in the OpenMPI and Nest packages:
[code]

I couldn't find any documentation specifically about when/run_after, but another searc

[2020-11-30 16:20] sethrj commented on #20177
This is the same error message that @scheibelp reported in https://github.com/spack/spack/pull/8092#issuecomment-388434136 two years ago 😬 . Since several packages have mistakenly added the wrong `@when` construction (and it doesn't fail), maybe there needs to be some additional error checking in place preventing multiple decorators from being applied in the wrong order?

[2020-11-30 16:29] adamjstewart commented on #20177
Also see #3833

[2020-11-30 16:30] adamjstewart commented on #20173
I've had this problem before. Make sure all of the dependencies are in your `PYTHONPATH`.

[2020-11-30 16:34] mdorier commented on #20173
Isn't spack supposed to do that for me?

[2020-11-30 16:35] adamjstewart commented on #20173
If you run `spack load py-jupyterlab-server` it will, or if you `module load` the resulting module file.

[2020-11-30 17:05] mdorier commented on #20173
Ok I figured out the problem: I had actually created an environment, activated it, then added py-jupyterlab-server to it and executed `spack install`. I then saw the `jupyter` command available in the path so I tried running the notebook. As a matter of fact, I had to first deactive the environment, and reactivate it, to also have PYTHONPATH updated. For some reasons `spack install` inside an envi

[2020-11-30 17:05] #20173 closed, assigned to nobody

[2020-11-30 17:59] zhiyuanzhai commented on #19937
@adamjstewart I'm so sorry to say this, but it turns out adding the flag `~mpi` actually works. It's my mistake simply adding the flag to the installation command. I should have added that flag to `packages.yaml`, the place. I'm not sure why this is different, but after I tried one more time today, in the "correct" way, it magically worked.

But why do we have to specify `~mpi` even when `@compose

[2020-11-30 20:01] mgsternberg commented on #19937
@zhiyuanzhai  I am glad you could sort this out; we're gaining clarity. Just to confirm, I take it you succeeded _without_ your proposed fix #20031 applied, correct?

Also, @zhiyuanzhai can you inspect how the concretizer resolves dependency packages by default and how that changes with `~mpi`?

About the background question:

Consider that the BLACS component of the ScaLAPACK component of MKL (si

[2020-11-30 20:46] alalazo commented on #20040
@chuckatkins I think #20182 solves your issue. Let me know if anything remains to be fixed.

@v-dobrev Can you check if #20182 solves the problem you have with `mfem`? If not I'll have a look at your specific case tomorrow on Marconi. Thanks!

[2020-11-30 22:28] haampie opened #20187 "Make --require-full-hash-match the default"
### Rationale

It's incredibly easy to shoot yourself in the foot when `--require-full-hash-match` is not the default.

I believe https://github.com/spack/spack/issues/19665 is basically caused because I did the following:

- `spack install clingo` pulls some packages from a binary cache
- ... more commands ...
- `spack install --require-full-hash-match mypkg` could skip some dependencies, cause t

[2020-11-30 22:48] v-dobrev commented on #20040
Unfortunately, #20182 does not fix the issue with `mfem`.

[2020-11-30 22:54] alephpiece opened #20188 "Dependency specs of mpich changed after the variant +slurm was added to packages.yaml"
The compiler version of some dependencies of mpich changed after I added `+slurm` as a constraint in `packages.xml`.

### Steps to reproduce the issue

[code]

### Error Message

[code]

### Information on your system

[code]

The `target` of compilers is set to `x86_64` in `compilers.yaml`.

### Additional information

- [x] I have run `spack debug report` and reported the version of Spack/Python

[2020-11-30 22:59] ax3l commented on #19531
Thank you for the report and reproducer!

Hm, I wonder where they should be showing up? In `$SPACK_ENV/.spack-env/view/lib64` or do we map those to `lib/`? The missing `include/` is definitely also an issue.

This looks like a general environment issue to me that manifests in this package.

[2020-11-30 23:02] AndrewGaspar commented on #19531
Oh, probably lib64. I should correct the reproducer instructions. Don't know why lib was put in that first bit when lib64 is used everywhere else.

That would be my guess.

[2020-11-30 23:30] nicholas-sly opened #20190 "InstallError should point to appropriate log"
An installation of ParaView failed because libtheora failed to install, but many things happened after this failure such that finding the appropriate place to look for the failure was difficult to parse.  The error message mentions looking for a log, but as the failure occurred with the installation of a dependency, there is no paraview-<version>-<hash> directory in the build space, so the appropr

[2020-11-30 23:34] haampie commented on #20188
Can you try on the latest `develop` version, it's probably already addressed by https://github.com/spack/spack/pull/20020.

The "## However, I don't have a perl with such a spec." bit might be new though

[2020-11-30 23:39] haampie opened #20191 "Indeterministic concretization of spec by hash"
### Steps to reproduce the issue

The current concretizer is indeterministic, which causes a problem where `spack spec /hash` gives something else than the spec that was installed (it reconcretizes?)

[code]

note how there's suddenly two uninstalled specs.

### Information on your system

* **Spack:** 0.16.0
* **Python:** 3.8.6
* **Platform:** linux-ubuntu20.04-zen2
* **Concretizer:** clingo

[2020-11-30 23:40] haampie commented on #20191
Maybe related is the weird concretization of mpich: https://github.com/spack/spack/pull/20176

[2020-11-30 23:52] alephpiece commented on #20188
I have already tried `develop` branch. I didn't see any difference here.

[code]

[2020-11-30 23:59] alephpiece commented on #20188
[code]

[2020-12-01 00:01] haampie commented on #20188
Ah ok, so it's with the original concretizer. If you specify a package was non-buildable, then this might happen. Is your `pkgconf` also marked as `buildable: false` somewhere?

[2020-12-01 00:09] #20100 closed, assigned to nobody

[2020-12-01 00:20] alephpiece commented on #20188
No, I just added `slurm` and `mpich` sections to `packages.yaml`. The full list is here.

[code]

[2020-12-01 00:22] alephpiece commented on #20188
I can still build `pkgconf` with another version.

`$ spack install pkgconf@1.3.8`

[2020-12-01 07:30] zhiyuanzhai commented on #19937
@adamjstewart I can confirm that I'm on the branch `develop`.

As for the resolution of the concretizer without `~mpi`
[code]
the conflict was actually found.

When `~mpi` is specified
[code]

[2020-12-01 08:37] alalazo commented on #20040
@v-dobrev Thanks for the fast feedback. I was able to reproduce your issue on Marconi. #20193 solves it for me. If you could confirm I'll merge the PR and close this bug report.

[2020-12-01 09:05] v-dobrev commented on #20040
@alalazo, I can confirm that #20193 resolves the above issue with `mfem`. Thanks!

[2020-12-01 09:10] alalazo commented on #20040
One last detail for the record: the issue with `mfem` was triggered by the external cuda package and by the fact that we maximize on the number of compiler matches for externals before selecting default variant values.

[2020-12-01 09:11] #20040 closed, assigned to alalazo

[2020-12-01 16:25] mariXanna commented on #20094
will have a look
thanks!

[2020-12-01 16:25] #20094 closed, assigned to nobody

[2020-12-01 17:05] scottwittenburg commented on #19665
@haampie It seems we may have finally gotten to the bottom of this.  Let me try to summarize to check if I've got it right.

One issue was you needed to use `--require-full-hash-match` on all your installs to make sure things were rebuilt from source to begin with, before subsequently using `spack buildcache check -s /hash` to see if they should be pushed to the mirror.

But even after that, probl

[2020-12-01 17:09] #20191 closed, assigned to alalazo

[2020-12-01 17:52] haampie commented on #19665
Yes, it is, and I've just verified `buildcache check` does the right thing on `develop` now! Thanks for your patience :p

[2020-12-01 17:52] #19665 closed, assigned to nobody

[2020-12-01 19:33] pghysels commented on #20007
Hello?

[2020-12-01 19:46] fluidnumericsJoe opened #20202 "Installation issue: wrf"
### Steps to reproduce the issue

[code]
After correcting this python syntax issue (diff shown in Additional Information), the wrf package still fails to install
[code]
### Information on your system

[code]

### Additional information
The error is a python syntax error in the WRF package file. Locally patching this syntax error (diff below) gets passed this issue.
[code]

@MichaelLaufer  @ptooley

[2020-12-01 19:47] fluidnumericsJoe commented on #20202
[spack-build-env.txt](https://github.com/spack/spack/files/5625066/spack-build-env.txt)
[spack-build-out.txt](https://github.com/spack/spack/files/5625067/spack-build-out.txt)

[2020-12-01 20:52] adamjstewart commented on #20202
Can you see if #20006 fixes your issues?

[2020-12-01 22:45] haampie commented on #20007
See the pr above

[2020-12-02 02:17] fluidnumericsJoe commented on #20202
Hey @adamjstewart,  #20006 (which I saw has been merged into develop) has resolved the issue on the linux-ubuntu20.04-skylake platform. However, I'm encountering issues on a centos7-broadwell setup that I'm verifying I can reproduce. If I can reproduce on centos7-broadwell, I'll open another ticket.

[2020-12-02 02:17] #20202 closed, assigned to nobody

[2020-12-02 02:25] galmyk opened #20208 "Installation issue: netcdf-fortran %aocc@2.3.0"
### Steps to reproduce the issue

[code]

### System Information
[code]

### Additional information

[spack-build-env.txt](https://github.com/spack/spack/files/5626585/spack-build-env.txt)
[spack-build-out.txt](https://github.com/spack/spack/files/5626586/spack-build-out.txt)

Maintainer [WardF  skosukhin]( @skosukhin )

### General information

- [x] I have run `spack debug report` and reported t

[2020-12-02 09:21] MichaelLaufer commented on #20202
@schoonovernumerics
Regarding a potential issue you saw on your centos7-broadwell.
It appears that you are using MPI from the distro repository. Did you correctly add it as an spack external package?
Why not use spack built MPI?

Let me know if you have any further issues.

[2020-12-02 11:25] #20169 closed, assigned to alalazo

[2020-12-02 12:00] samcom12 commented on #17301
I'm getting the same error with the latest spack 0.16.0-132-44c1beaf3 with the cray compiler on cray-centos8-aarch64

[2020-12-02 14:31] aphecetche opened #20213 "Installation issue: llvm"
Hi,

Trying to do `spack install llvm` on a Mac (Catalina) I got :

[code]

If I understand correctly the error is already happening in the "recipe" (package.py), so I don't have build logs to provide ?

[code]

@naromero77  @trws

Might well be a stupid error from my side, but cannot pinpoint it...

[2020-12-02 14:57] fluidnumericsJoe commented on #20202
Hey @MichaelLaufer , good find! I hadn't noticed that. The spack-build-out I shared was on the Ubuntu system, on which I did not add the distro provided MPI to packages.yaml.

It's possible that the CentOS build is picking up mpi from an rpm installed openmpi-devel. On the CentOS system, I explicitly concretized openmpi@4.0.2, but I'll double check.

[2020-12-02 15:41] #20007 closed, assigned to nobody

[2020-12-02 17:33] hppritcha opened #20215 "Open MPI: enable/disable of built-in atomics should be based on version"
Note this is not really a bug but more of a suggested improvement to the Open MPI spack package.   There were issues in the 3.0 and 3.1 release streams where setting ```--disable-builtin-atomics``` was suggested for working around problems found in the Open MPI shared memory device.  This problem should be resolved in newer releases.  This should be reflected in the Open MPI spack package default

[2020-12-02 18:41] alalazo commented on #20213
I'm retrying a build on:
[code]
Can you please post the result of:
[code]
on your machine?

[2020-12-02 19:30] #20055 closed, assigned to alalazo

[2020-12-02 19:56] alalazo commented on #6324
@ax3l Does this unit test address your use case:

https://github.com/spack/spack/blob/05848c87c5e4a1505746643c2efd34703e438988/lib/spack/spack/test/concretize.py#L818-L837

? The root package has an entry like:
[code]
If so I would close this issue.

[2020-12-02 20:00] matthiasdiener commented on #18460
Thanks for your patience @nilsleiffischer ! We have fixed several issues with the Charm++/Spack installation and also test this  now in our CI tests. Please let me know if your builds work now.

[2020-12-02 20:22] odoublewen opened #20217 "install of m4 hangs during configure"
### Steps to reproduce the issue

[code]

### Information on your system

[code]

### Additional information

I wonder if this might be related to #10493.  Possibly, like that issue, my spack is on an NAS filesystem. (The staging dir, on `/tmp`, is local, however.)  Like that issue, the traceback upon keyboard interrupt shows that Spack was stuck in `log.py`:

[code]

It will hang at `==> m4: Exec

[2020-12-02 20:30] aphecetche commented on #20213
[code]

[2020-12-02 21:40] cosmicexplorer opened #20221 "consider z3 implementation of ASP concretizer"
We would like to determine whether z3 can be used in the place of clingo for the new concretizer implemented in #19501.

### Rationale

- z3 is more widely used, and may be more performant (this needs to be verified).
- Initially, we thought z3 would be easier to bootstrap. But as per the discussion in #20123 and the changes in #20159, it seems like clingo will also bootstrap successfully. But we

[2020-12-02 21:41] cosmicexplorer commented on #20123
Current progress:

1. [ ] #20207 covers lazily building clingo with the old concretizer.
2. [x] #20218 covers building a python2.6 install which we can test against in CI.
3. [ ] #20159 covers building clingo in a py2.6, c++11-only environment.
4. [ ] *#20219 covers building z3 in a py2.6-only environment.*
    - This may be unnecessary -- see #20221.

[2020-12-02 23:58] joshessman-llnl commented on #20055
It looks like #20099 only addresses compiler versions and not dependent package versions.

[2020-12-03 00:28] nilsvu commented on #18460
@matthiasdiener That's great to hear! Indeed the macOS build with apple-clang works now, as does the Linux build with gcc 👍

The one build that I'm still having trouble with is macOS with gcc: https://github.com/nilsleiffischer/test-spack-charmpp/runs/1489688091?check_suite_focus=true. Would you expect that one to fail still, or do you have an idea what could be wrong?

[2020-12-03 01:55] matthiasdiener commented on #18460
Yeah, this config doesn't build, even outside of spack.

[2020-12-03 04:31] SteVwonder opened #20225 "Confusing format when displaying vs inputting boolean variants"
I was installing OpenMPI and wanted to see what variants were available.  I ran `spack info openmpi`.  The relevant snippet from that output is:

[code]

Based on that output, the `pmi` variant has the allowed values of `on` and `off`, and so I ran `spack install openmpi pmi=on`.  That produced an error (pasted below). The correct syntax was actually `spack install openmpi pmi=true` or `spack inst

[2020-12-03 08:30] nilsvu commented on #18460
@matthiasdiener Ok, should I open an issue or won't that be necessary?

[2020-12-03 12:30] galmyk commented on #20208
It is installable using
[code]
but how we can have both static and shared libs?

[2020-12-03 14:55] joshessman-llnl opened #20231 "Clingo concretizer does not support numeric versions in CUDA packages"
This appears to be an extension of #20055 - I have been able to reproduce this with a handful of `CudaPackage`s.

### Steps to reproduce the issue

[code]

[code]

### Error Message

[code]

It looks like it queries the version (per the fix in #20099) but the `node_compiler_version_hard` looks like it might need to contain the "real" version.

Concretization succeeds if `foo` is changed to the rea

[2020-12-03 15:06] eschnett opened #20232 "Installation issue: amrex+cuda~fortran+openmp+particles @20.12"
### Steps to reproduce the issue

[code]

### Information on your system

I built this inside a Docker container based on Ubuntu 20.04. The root of the problem seems to be (as the web tells me) that CUDA 11 (installed by Spack) doesn't support `compute_30` any more. I've looked in the source code of AMReX and of Spack to see who decides that `compute_30` should be used (see line 99 of the error me

[2020-12-03 15:19] matthiasdiener commented on #18460
No need, I just opened an issue: https://github.com/UIUC-PPL/charm/issues/3181

[2020-12-03 20:46] odoublewen opened #20238 "py-cutadapt: depends_on version range not handled properly"
@glennpj I'm rusty on my package writing, but I think this is okay form to indicate a range of package dependency:

https://github.com/spack/spack/blob/09aae616c760a3abb782aa3353c3476851b6a590/var/spack/repos/builtin/packages/py-cutadapt/package.py#L32

(this `@x.y.1:x.y.999` workaround is condoned in #8957)

But when I try to install py-cutadapt, it fails:
[code]

`py-xopen@0.8.999`, not surprisi

[2020-12-03 22:00] odoublewen commented on #20238
PS. My usual shout out to @hartzell in hopes of an easy fix?

[2020-12-03 23:27] #19953 closed, assigned to nobody

[2020-12-03 23:34] odoublewen commented on #20238
Oh, nevermind, I just realized my problem:

Spack has the following minimum requirements, which must be installed before Spack is run:
* Python 2 (2.6 or 2.7) or **3 (3.5 - 3.9)** to run Spack

sorry for the chatter!

[2020-12-04 00:46] odoublewen commented on #20217
Also, I confirmed that this still occurs when I am using a supported version of Py3:
[code]

[2020-12-04 02:52] odoublewen commented on #20238
Oh, double nevermind.  I still get the same error with a modern Python3.

[code]

[2020-12-04 05:35] naromero77 commented on #20213
I am not build anything on Mac OS X in years. I recommend building GCC first and then try compiling LLVM with GCC.

@trws may no more

[2020-12-04 05:48] tkameyama commented on #20134
This problem is not  happen for #20135
This PR change depends_on() to version specific, not range.

Also when I use new concretizer with py-pyscf before #20135, `spack spec py-pyscf ` is normaly end with xcfun@2.0.0.

[2020-12-04 06:23] #20042 closed, assigned to nobody

[2020-12-04 08:49] alalazo commented on #20213
@aphecetche I encountered a different issue, that I'll investigate. I think though that your `compilers.yaml` was generated with earlier versions of Spack, since it mentions `clang@11.0.3-apple` instead of `apple-clang@11.0.3`. Can you try to remove it, detect compilers once again and retry the build?

Asking since we factored Apple Clang logic in its own class, see #17110, and  referring to the w

[2020-12-04 08:56] alalazo commented on #20238
If you didn't modify the `py-xopen` package locally, then it doesn't have any version in that range:

https://github.com/spack/spack/blob/badf3368ad863fd0b7b81a45e14d8302490a4e29/var/spack/repos/builtin/packages/py-xopen/package.py#L18-L21

Spack selects the highest possible version since there's not a known one that can satisfy the constraint. If that's the case I'd say this is not an issue.

[2020-12-04 09:16] #20232 closed, assigned to nobody

[2020-12-04 09:24] aphecetche commented on #20213
@alalazo indeed, removing `~/.spack/darwin/compilers.yaml` and letting Spack recreate it, I now get `apple-clang` instead of `clang`. Thanks !
Now trying a `spack install llvm` again but that may take a while as lots of packages have to be (re)built (as a consequence to the compiler changer I assume).

[code]

[2020-12-04 13:42] odoublewen commented on #20238
Ah, I didn't notice the py-xopen lacked the right version to satisfy this py-cutadapt.  (I should have!)

I will submit a PR to add version 0.8.4 to py-xopen.

Thank you!

[2020-12-04 13:42] #20238 closed, assigned to nobody

[2020-12-04 14:04] ilbiondo opened #20244 "With Clingo arbitrary external package versions are not allowed"
### Steps to reproduce the issue

Try and solve / concretise an external package that previously worked with the old concretiser.

[code]

With the following external definition:

[code]

### Error Message

[code]

### Information on your system

[code]

### Additional information

As suggested by @alalazo changing the declared version to match one in package.py resolves the immediate issue.

[cod

[2020-12-04 14:22] alalazo commented on #20244
This must be a weird interaction of our solver setup and the version semantics. A configuration file like:
[code]
works perfectly, but I can reproduce the issue with the `packages.yaml` posted above. In the logic program I could find:
[code]
which is clearly wrong. I think `19.05.6` has been considered not a fixed version, but a range.

[2020-12-04 15:38] eschnett opened #20248 "Cannot set up mirror for cuda"
I'm building Docker images with Spack's `cuda`, and it takes a long time to download CUDA from NVidia's web site every time. I want to set up a local Spack mirror, so that the lengthy download turns into a local copy.

Unfortunately, it seems that the Spack `cuda` package cannot be mirrored:
[code]

Of course, the safe (checksummed) versions are there in principle, but Spack doesn't see them becau

[2020-12-04 16:15] trws commented on #20213
That would make sense, the only way you should see this is if the version is being interpreted incorrectly, which might be caused by it being clang rather than apple clang..?  There are various things on Mac that require a blocks-enabled compiler, so building with apple-clang first is usually safest, and any clang you build should be built with objective c language support so you can use it in mor

[2020-12-05 15:08] cosmicexplorer opened #20256 "a proposal for how to represent virtual dependencies in the spec syntax"
#15569 expands the spec syntax *really thoughtfully*, making use of our new magic powers from the clingo concretizer. These are several ways we could consider expanding on that, along with an example spec grammar.

# "DO NOT ERASE"
**The current state of this issue lies at comment https://github.com/spack/spack/issues/20256#issuecomment-750120222! Everything below this line is for archival purpose

[2020-12-05 17:34] mwkrentel opened #20257 "version in packages.yaml is broken for numbers ending in 0"
I'm seeing a strange problem with spack/python reading `packages.yaml`.

In packages.yaml, if I use a version with two numeric fields where the
second field ends with `0`, then spack fails to parse the version
correctly.  For example, `1.20` or `2.100` or `0.180`.

With a fresh spack clone fbb127c46a78 from Dec 4, I use this as
packages.yaml.

[code]

Then `spack spec` gets the wrong version.

[co

[2020-12-05 17:40] cosmicexplorer commented on #20256
attempting to diagram *"Spec v2"*:
[code]
in `.../python/package.py`:
[code]
^note the most recent expression above: if this is the desired behavior (to assume `+build` => `~link~run`), it might be a lot more elegant using a multi-valued variant like `[%py type=build,link,run]`.

in `some_other_file.py`:
[code]

one thing i really like about this approach (the "requires" and "provides" registratio

[2020-12-05 20:09] cosmicexplorer commented on #20256
I also think that the existing dependency operator `^` already does exactly this:

[2020-12-05 20:19] odoublewen commented on #20217
Closing because, inexplicably, I can no longer reproduce this behavior, which was so vexing me a week ago.   My gremlins have moved on, it would seem.

[2020-12-05 20:19] #20217 closed, assigned to nobody

[2020-12-05 20:22] odoublewen commented on #20217
For future reference, in case I or anyone else ever sees this again, here's where the build gets hung up:

[code]

[2020-12-05 22:24] cosmicexplorer commented on #20256
Ok, I think I now have a strongly reduced version of the first draft in the OP:

### Problems
1. **FIGURED OUT:** There's no distinction between real and virtual dependencies in the spec syntax. This can be confusing sometimes.
    - #15569 introduces new syntax for virtual dependencies, but it appears virtual dependencies are otherwise still indistinguishable from real dependencies to the Spec pa

[2020-12-06 00:17] cosmicexplorer commented on #20256
Much more succinct version, in order of expected completion:

## 1. Support pip requirements.txt version comparators and wildcards:
- `<=`,`=>`, and `==` already exist.
- `==9.2.*` => `>=9.2,<9.3` *(reduce to subproblem)*
- `!=9.2.0` => `<9.2.0,>9.2.0` *(reduce to subproblem)*
- **imprecise:**
    - `<9.2.0` => `:9.1.999`
    - `>9.2.0` => `9.2.0.0.0.1`
    - *Spack is unable to represent strict i

[2020-12-06 09:29] #20244 closed, assigned to alalazo

[2020-12-07 00:51] cosmicexplorer opened #20260 "rationale for process sandboxing on linux, then a proposal for a how to emulate sandboxing on all the other platforms"
In #20256, we whittled down some vague ideas into a few concrete, 100%  backwards-compatible proposed changes to spec syntax in https://github.com/spack/spack/issues/20256#issuecomment-739434724. That branched off into this issue.

# Motivation

## Bootstrapping the clingo solver sometimes requires doubly-bootstrapping python (#20159)
When testing whether `clingo` could bootstrap from a known-to-b

[2020-12-07 01:05] cosmicexplorer commented on #20260
It's really interesting to consider how *separate* yet *complementary* the capabitilies of `fakechroot` vs a custom virtual file system would be. `fakechroot` lets you *restrict* the process, but it doesn't need to care about the filesystem internals. Meanwhile a mutable FUSE fs *and* `fakechroot` would *both* **restrict the process to the desired space**, as well as **generate precisely the desir

[2020-12-07 01:33] cosmicexplorer commented on #20260
Ok, here's some more specific info that would give us a head start on OSX sandboxing with `sandbox-exec`. It seems like the tools might actually all be there, but it's just incredibly underdocumented: https://github.com/NixOS/nix/issues/361#issuecomment-60456438

Still thinking further about `fakechroot`+`FUSE`. It would be great to be able to demonstrate a performance improvement whatsoever when

[2020-12-07 01:35] cosmicexplorer commented on #20260
Another extremely useful comment from @copumpkin!

[2020-12-07 14:18] BenWeber42 opened #20266 "Spack stages file/directory permissions hardcoded to `700`"
Currently, the spack stages directory & file permissions are set to `700`. I believe this is only due to historical reasons.

Basically, this behavior was added here https://github.com/spack/spack/pull/8773/commits/be7c5f684e80f63293380cb309b1c7bf4e9c7f8e#diff-ef561cde79864134a9c7c4fd5746f04535ebcf460065d212ba2d5d07986b9e93. I can only assume that someone noticed that the file permissions for temp

[2020-12-07 18:04] opadron commented on #20260
Awesome write up! :+1:

FWIW: There are environment variables that you can set/unset to get `git` to run in a "more porcelain" or more isolated way.  See [here](https://github.com/git/git/blob/master/t/test-lib.sh#L416-L463) for an example of what `git` is doing in their own test suite.

The solution that I had in mind in #18895 was to add a dedicated `spack.util.git` module (similar in concept to

[2020-12-07 18:22] adamjstewart commented on #20257
I believe this is an issue with the YAML specification, not something we can fix. YAML will likely treat 0.180 as a floating point number and store it as 0.18. I imagine numbers like 0.1.80 work fine since there are two periods and it can't be a floating point number. The workaround is to explicitly store it as a string: `'0.180'`.

[2020-12-07 18:22] #20257 closed, assigned to nobody

[2020-12-07 19:09] mwkrentel commented on #20257
I've never been clear on what things in .yaml files need to be quoted.
I guess officially everything, at least all numbers, should be quoted.
But for the 95% of cases where the number->string function produces
the same string as the input, then you get away without quotes.

[2020-12-08 02:12] bebosudo commented on #13233
I've also just faced this issue after copying some packages from a read-only "system" spack distribution to my own dir to apply some edits, and had to delete the whole dir `~/.spack/cache/patches/` in order to "solve".

[2020-12-08 04:26] bonachea commented on #17897
Hi @eugeneswalker  - Apologies for the delayed response.

This build error indicates something about the MPI setup in your Spack environment is not working, most likely a linker error due to some missing libraries. I'm not a Spack expert, but from your YAML file it looks like you might(?) be trying to have Spack build MPICH from scratch, which is almost certainly the wrong thing to do. On the Cray

[2020-12-08 08:36] ikitayama opened #20282 "Installation issue: ncurses"
### Steps to reproduce the issue

[code]

### Information on your system

### Additional information

* [spack-build-out.txt]()
* [spack-build-env.txt]()

### General information

- [ ] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [ ] I have run `spack maintainers <name-of-the-package>` and @mentioned any maintainers
- [ ] I have uploaded the build log and en

[2020-12-08 08:38] ikitayama commented on #20282
Here's excerpt of my ~/.spack/linux/compilers.yaml
[code]

[2020-12-08 10:37] haampie commented on #20260
I'm not very up-to-date about the bootstrapping discussions, so pardon my ignorance, but I'm wondering whether it wouldn't be easier to distribute pre/cross-compiled binaries for python, clingo, git? Superficially it seems there's no single sandboxing technique that works for all platforms.

Ah, ok, I'm understanding the point better now: you need sandboxing at runtime too to avoid executables pul

[2020-12-08 12:18] alalazo commented on #20256
Reading through https://github.com/spack/spack/issues/20256#issue-757700218, adding a few comments for discussion:

Currently we can do this:
[code]
since the compiler is a node attribute. The limitations we have are that:
1. A compiler spec is identified by a name and a version only (e.g. `gcc@10.1.0`)
2. A compiler spec is always an aggregate of C, C++ and Fortran compilers (e.g. `gcc@10.1.0` us

[2020-12-08 12:45] lrtfm opened #20285 "Installation issue: gcc@9.3.0 with binutils on linux-rhel7 issue error: undefined reference to `libiconv'"
### Steps to reproduce the issue

[code]

#### spec of the package
[code]

### Information on your system

[code]

### Additional information

* [spack-build-out.txt](https://github.com/spack/spack/files/5659310/spack-build-out.txt)
* [spack-build-env.txt](https://github.com/spack/spack/files/5659309/spack-build-env.txt)

@michaelkuhn Thanks!

### General information

- [X] I have run `spack debug

[2020-12-08 12:54] alalazo commented on #20256
Concerning #15569, the proposal for the extension of the syntax after the merge of #15256 (that introduces the use of anonymous specs like `^dev-path=*` to mean "any node that has `dev-path` set) is currently to:

1. Maintain the spec syntax flat (no nested scopes)
2. Introduce new delimiters (very likely square brackets) to specify edge attributes after the `^` sigil

Right now we have only one t

[2020-12-08 17:03] opadron opened #20290 "Spack fails to parse file names from cli if they contain certain characters"
Spack fails to properly parse a spec.yaml passed on the command line if the path to that file includes certain characters.  I suspect that these problematic characters may include `+` and/or `-`, though there may be others.  In my case, I ran into this problem as part of a spack ci process that was partially customized.  Among these customizations included a process whereby a job's build directory

[2020-12-08 17:04] opadron commented on #20290
/cc @chuckatkins @scottwittenburg @eugeneswalker

[2020-12-08 17:06] olesenm commented on #20120
@MichaelLaufer - can we close this?

[2020-12-08 17:37] adamjstewart commented on #20282
Can you upload the `config.log` from ncurses?

[2020-12-08 19:08] eugeneswalker commented on #17897
Thank you! At some point following the filing this issue, I *did* get `upcxx` to build doing what you suggest and using the cray-mpich. Thank you for the response and the additional context about upcxx+mpi variant on Cray systems!

[2020-12-08 19:08] #17897 closed, assigned to nobody

[2020-12-08 19:48] #16021 closed

[2020-12-08 20:59] alalazo opened #20292 "Ensure the ASP-based solver can concretize against any installed spec"
Ensure that using an installed dependency referenced by hash works even if the corresponding `package.py` has been changed in the meanwhile (a variant has been added or removed etc.).

### Rationale

~This is already handled by the old concretizer, so we should ensure it works also with the new.~ We should be able to reuse what is installed, if the installed spec satisfies the constraints for the

[2020-12-08 21:21] ikitayama commented on #20282
I keep the Spack stage dir, but where is it kept?

[2020-12-08 21:36] MichaelLaufer commented on #20120
@olesenm
Hi Mark,
Unfortunately the issue still persists on my end, but it appears to be something on our end.
Lets close this for now, and I will open another if need be.
Thanks,

[2020-12-08 21:36] #20120 closed, assigned to nobody

[2020-12-08 23:04] adamjstewart commented on #20282
It should be in the same directory as the `configure` script, likely `spack-src/config.log`.

[2020-12-09 00:00] ikitayama commented on #20282
[config.log](https://github.com/spack/spack/files/5662636/config.log)

[2020-12-09 00:42] adamjstewart commented on #20282
Hmm, all of your tests for the presence of libraries look like:
[code]
Could the fact that `--param` isn't recognized and that the argument after is treated as a file be the problem? Maybe the configure script doesn't know how to handle the Fujitsu compilers.

[2020-12-09 00:44] ikitayama commented on #20282
This is on an FX 700 system I have access to,
I’ll ask the admins.

On Wed, Dec 9, 2020 at 9:42 Adam J. Stewart <notifications@github.com>
wrote:

[2020-12-09 01:32] ikitayama commented on #20282
Switching to "Clang mode" of the compiler worked for me on FX 700.

[2020-12-09 01:32] #20282 closed, assigned to nobody

[2020-12-09 03:44] lrtfm commented on #20285
Before I install the gcc@9.3.0, I load git by `spack load git`, and this command adds create environment variables `CPLUS_INCLUDE_PATH`, `C_INCLUDE_PATH` and `INCLUDE`, which include the path of `libiconv`:
[code]

I should have used `spack load --only package git` as the default behavior is to load the package and all dependencies.

[2020-12-09 04:02] #20285 closed, assigned to scheibelp

[2020-12-09 13:36] yellowhat opened #20303 "Installation issue: fio"
### Steps to reproduce the issue
[code]

Hi,
For some reason even if the `arch=x86_64` flag is passed the compiling flag `-march=native` is used anyway.
So:
- compiling `fio` on a Intel machine (Intel(R) Xeon(R) Platinum 8272CL CPU @ 2.60GHz), runs on Intel but on AMD (AMD EPYC 7551 32-Core Processor) returns: `Illegal instruction (core dumped)`
- compiling `fio` on an AMD machine, runs on Intel a

[2020-12-09 15:41] dev-zero commented on #10308
maybe as an iteration on my previous comment: Spack doesn't tell you that a module specified in `modules` is missing, but continues silently, so make sure the name in `modules` is correct (and that when chaining a Spack installation you also chain the `modules`)

[2020-12-09 15:43] dev-zero commented on #17100
maybe a duplicate of #10308 ?
I had to specify a `modules` in my `compilers.yml` to get it to work, see https://github.com/spack/spack/issues/10308#issuecomment-716391950

[2020-12-09 15:44] dev-zero commented on #18606
maybe a duplicate of #10308 ?
I had to specify a `modules` in my `compilers.yml` to get it to work, see https://github.com/spack/spack/issues/10308#issuecomment-716391950

[2020-12-09 15:50] dev-zero commented on #4261
as commented in https://github.com/spack/spack/issues/10308#issuecomment-716391950 I think the linker itself already needs `libimf.so` to run (note how it says "error while loading shared libraries" and not "cannot find -limf" which is the usual error when an object on the linker line can't be found), while the extra rpaths are taken into account only for the object to link, hence the documented w

[2020-12-09 16:33] fluidnumericsJoe opened #20305 "Installation issue: wrf (on CentOS 7)"
### Steps to reproduce the issue

[code]

### Information on your system
[code]

compilers.yaml and packages.yaml are included here in [compilers_packages_yaml.zip](https://github.com/spack/spack/files/5666842/compilers_packages_yaml.zip)

### Additional information
[spack-build-env.txt](https://github.com/spack/spack/files/5666852/spack-build-env.txt)
[spack-build-out.txt](https://github.com/spac

[2020-12-09 16:51] MichaelLaufer commented on #20305
@schoonovernumerics
Can you by any chance send the whole contents of result_buf?

Also, I agree that the current implementation of  parsing the results buffer is not ideal. Ideally we would want to print the buffer contents in real time to stdout while still storing the contents in the buffer (kind of like tee command).

edited: nevermind about the compilers (i didn't read it correctly) :)

[2020-12-09 17:13] fluidnumericsJoe commented on #20305
I'll see if I can add a tee command in the wrf build package and have the `results_buf` dumped to `spack-build.txt`

[2020-12-09 17:29] ptooley commented on #20305
@schoonovernumerics So the errors you detailed are quite possibly not the cause of the build failure - I say this because WRF has a rather idiosyncratic build system where lots of things fail the first time and you often have to run the script twice...

@MichaelLaufer @schoonovernumerics I am also working on a better method of both parsing and logging the build output.  I am in the process of test

[2020-12-09 17:32] fluidnumericsJoe commented on #20305
@ptooley The latest wrf package accounts for this. It fails on the first and second builds orchestrated within spack
[code]
Can you share what you're trying to get the logs out from the csh call to `./compile` ? I'm still reading through spack documentation on how this would work and I'll admit I'm a bit lost.

[2020-12-09 17:34] MichaelLaufer commented on #20305
@ptooley Great!
Meanwhile @schoonovernumerics if you send the whole contents of results_buf I may be able to help identify the issue.
I believe the "undefined references" are a symptom of an error happening early in the build process. Maybe build with 1 job?

[2020-12-09 17:38] ptooley commented on #20305
@schoonovernumerics Yep! I wrote that logic myself :)
[wrf_log_build_output.patch.zip](https://github.com/spack/spack/files/5667647/wrf_log_build_output.patch.zip)

The attached patch should allow correct logging of the output to `spack-build-out.txt` can you give it a whirl and see what happens?

[2020-12-09 17:39] fluidnumericsJoe commented on #20305
@ptooley can do!

[2020-12-09 18:03] fluidnumericsJoe commented on #20305
This patch fails with a different error
[code]
[spack-build-out.txt](https://github.com/spack/spack/files/5667776/spack-build-out.txt)

Edit: @MichaelLaufer , I'm reverting to the develop HEAD with the original print output I added and will upload shortly

[2020-12-09 18:47] scheibelp commented on #20285
We should figure out how to keep `spack load` from interfering with a subsequent `spack install`. We should probably clean these variables if we aren't already. Did you add the `--dirty` option to `spack install` (that tells Spack not to clean the environment)?

[2020-12-09 19:06] fluidnumericsJoe commented on #20305
Here is the full output produced by just adding a print( ) call to dump the result_buf.
[wrf_print_result_buf.txt](https://github.com/spack/spack/files/5668101/wrf_print_result_buf.txt)

[2020-12-09 19:40] ptooley commented on #20305
Hrmm, apparently I was a bit optimistic at giving a 5 minute timeout, some of the fortran units are absolutely massive.  I think maybe 30 minutes will be a better choice.  Anyway thanks for the build log I will take a look.

[2020-12-09 19:46] #17227 closed, assigned to nobody

[2020-12-09 19:46] #18292 closed, assigned to nobody

[2020-12-09 20:07] mvanwaveren opened #20310 "Bug: comparisons between abstract specs can raise -> spack spec callpath fails"
I installed Spack v0.16, and I tried to install callpath. I get the error message below.

I discussed the issue with @becker33, and he says it looks like there is a bug in the dyninst package and the elf providers, so it fails if there is a dependance on dyninst and elf. It looks like the error is releated to `elfutils`.

The error does not show up in Spack v0.15.

### Steps to reproduce the issue

[2020-12-09 20:12] becker33 commented on #20310
Concretizing `callpath` succeeds when built with `dyninst@:9.2` (when it `dyninst` depends on `libelf` instead of `elfutils`).

It also succeeds when either the `dyninst` or `elf` dependencies are commented out.

[2020-12-09 20:44] roguephysicist opened #20312 "Compiler property flags are not being interpreted from modulefiles"
Compiler property flags, like `cxx11_flag` and `cxx14_flag`, are not being interpreted properly when the compilers are loaded via modulefile. This affects a wide variety of packages; `harfbuzz` and `clingo` are both packages that I have been having trouble with.

### Steps to reproduce the issue

From the examples mentioned above,

[code]

### Error Message

[code]

Attached is the full debug outp

[2020-12-09 23:02] fluidnumericsJoe commented on #20305
@MichaelLaufer I can confirm that the same error arises when compiling with 1 make job.

[2020-12-10 02:23] lrtfm commented on #20285
I just type `spack install` without option `--dirty`  when I install `gcc` after I load `git` by `spack load`.

[2020-12-10 06:54] MichaelLaufer commented on #20305
@schoonovernumerics
I went through the log, nothing seems out of place. No errors/warnings are seen during the first build, only right at the end of the first build when it says "Problems building executables, look for errors in the build log" .

The only thing I can think of is some sort of conflict in some of the _external_ dependecies you are using.
Can you try letting spack build these?

[2020-12-10 10:15] DominicSoldner commented on #19407
@jppelteret I also run intro trouble when installing dealii on emmy at the RRZE in Erlangen using intel compiler. The problem arises when trilinos is installing:

-- Fortran name mangling: LOWER UNDER
-- Detecting Fortran/C Interface
-- Detecting Fortran/C Interface - Found GLOBAL and MODULE mangling
-- Verifying Fortran/CXX Compiler Compatibility
-- Verifying Fortran/CXX Compiler Compatibility -

[2020-12-10 14:00] aweits commented on #20171
"the default value is not among the allowed values."
from lib/spack/spack/variant.py:
[code]
?

[2020-12-10 15:08] fluidnumericsJoe commented on #20305
I'll give it a shot.
It's curious though that the build error indicates and internal linking error to WRF modules.

[2020-12-10 16:17] haampie commented on #20171
So you are saying it is a bug in spack @aweits? Not an issue of the package?

[2020-12-10 16:29] aweits commented on #20171
It would at least seem that the default value is internally on the list of allowed values (and it will pass validation) - unless we want that to change?

[2020-12-10 16:48] mwkrentel commented on #20310
The problem is related to how callpath and dyninst specify their
dependencies on elf, elfutils and libelf.  In commit c786eb46bb
(PR #18063), dyninst replaced elf@0/1 with elfutils or libelf.

If you replace the callpath depends_on to elfutils, then it
concretizes (I haven't tried building).

IMO, the abstraction of elf@0/1, elfutils, and libelf has never really
worked.  Libelf and libdwarf are ol

[2020-12-10 17:01] scottwittenburg opened #20323 "Installation issue: slepc"
Our spack environment, based on E4S, picked up the latest version (`3.14.1`) of `slepc` with #20291.  This version did not build on ubuntu linux with `gcc@7.5.0`.  The concrete spec yaml file I attempted to install (attached) has all the specifics of the failed spec, but to summarize it was: `slepc@3.14.1 %gcc@7.5.0 arch=linux-ubuntu18.04-x86_64 /2m5avzr`.

Here's a summary from the error log:

[c

[2020-12-10 17:03] mwkrentel commented on #20310
@becker33 Btw, can we get a more informative error message here?
`'<' not supported between instances of 'str' and 'NoneType'`
doesn't really identify what the problem is.

Even `spack -d spec callpath` isn't much better.

[code]

The real problem is conflicting versions of elf and elfutils, but none
of the errors identify elf as part of the problem.  The stack trace
hints at merging specs, but it

[2020-12-10 17:18] becker33 commented on #20310
Yeah I haven't yet been able to figure out exactly what the bug is causing that error (vs a good error message for an incompatibility). But that definitely needs to change.

[2020-12-10 17:21] opadron opened #20324 "Install from spec yaml fails while in active environment"
### Steps to reproduce the issue

[code]
[code]

### Error Message

[code]

### Information on your system

* **Spack:** 0.16.0
* **Python:** 2.7.5
* **Platform:** linux-centos7-x86_64
* **Concretizer:** original

### Additional information

- [x] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [x] I have searched the issues of this repo and believe this is not

[2020-12-10 18:11] scottwittenburg commented on #20323
/cc @eugeneswalker

[2020-12-10 18:35] eugeneswalker commented on #20323
I'm seeing this same error on the following systems:
* `RHEL 7` for x86_64 and ppc64le
* `RHEL 8` for x86_64 and ppc64le

Seems to be building fine on `Ubuntu 18.04` and `Ubuntu 20.04`

@joseeroman

[2020-12-10 18:42] aweits commented on #20171
For example, I just ran into the example that was pointed out earlier with boost+context:
[code]
The concretizer should normally prioritize the default value (which is why #20297 is only a partial fix), but in the case of boost+context it now isn't an option - all the other values are equally costly, so any of the remaining values are a "correct" decision. In my case the only reason I noticed is t

[2020-12-10 18:44] scottwittenburg commented on #20323
Hmm, in my case it failed on Ubuntu 18.04

[2020-12-10 18:59] balay commented on #20323
This is some tricky gmake code here.. I'm not sure why this would work with one u-1804 build and fail with the other..

cc: @jedbrown

BTW: the PATH to the installed spack packages is huge.. [some recursion gone wrong?]

[code]

[2020-12-10 19:03] eugeneswalker commented on #20323
We pad the path length to help with relocation later on, as we are generating these for a build cache. My path length is a bit shorter than Scott's: 64 characters length for me.

[2020-12-10 21:57] scottwittenburg commented on #20323
Yes, so far I've gotten away with long padding in the Ubuntu pipelines, it's currently 512.  Let me know if you think that could be the problem here.

[2020-12-10 22:29] eugeneswalker commented on #20323
I don't know if that's the reason `slepc` isn't building for you on `Ubuntu 18.04` -- I do know that I just did fresh builds on both `Ubuntu 18.04` and `Ubuntu 20.04` and in both cases slepc built fine (padding: 64).

[2020-12-10 23:57] mwkrentel commented on #20132
I took another look at this and decided that comgr was actually the
last build failure.  So, less of an issue than what I initially thought.

I used @haampie's suggestion and disabled the search for hip in
/opt/rocm.  Spack builds should not be looking in /opt/rocm.  That was
the smallest change to fix the build.  See PR #20330.

Btw, I know there are other places in the ROCM packages that use
fin

[2020-12-11 00:09] fluidnumericsJoe commented on #20305
I've started with a clean environment, and have excluded the site installed packages.yaml for this build. I'm still encountering the same issue where the WRF install fails (after going through the build process twice, per the wrf package.py).

To recreate this error
[code]
Here is the output of result_buf, produced by manually inserting a print statement in the wrf package.py
[wrf_result_buf.txt](

[2020-12-11 00:50] aweits commented on #18867
@glennpj, if you rebuild with this, does the problem go away?

[code]

[2020-12-11 01:51] fluidnumericsJoe commented on #20305
Full result_buf output is here (including the second build errors)
[wrf_result_buf.txt](https://github.com/spack/spack/files/5676625/wrf_result_buf.txt)

[2020-12-11 05:53] jedbrown commented on #20323
Hundreds of characters of padding could lead to exceeding `ARG_MAX` when calling the linker. It also makes logs much harder to read.

[2020-12-11 07:54] alalazo commented on #20171
That's what I meant, less clearly, by https://github.com/spack/spack/issues/20171#issuecomment-735763014 and https://github.com/spack/spack/issues/20171#issuecomment-735746815

[2020-12-11 07:57] haampie commented on #20132
I believe the search order for find_package(.. PATHS ...) is such that the literal path there are considered last. Spack provides general search paths as arguments when calling cmake. So it should work, but I agree the rocm assumptions about where things are installed are a pain.

[2020-12-11 08:05] alalazo commented on #20171
What I mean is that we either need to change this:

https://github.com/spack/spack/blob/59628cd9e85f9ddffa8c2f93bd1b48eb8b782e73/lib/spack/spack/solver/asp.py#L902

to account for the default values or, better, change all the packages to have default values listed as possible values (and enforce the rule during validation). I think the second option is better because it's explicit and permits to d

[2020-12-11 08:53] haampie commented on #20171
I guess validating the `default` is part of the `values` makes a lot of sense.

And then to tackle @aweits's example, wouldn't it make sense to give the values in the list some decaying weight? It seems sensible to prefer the first value, if that's impossible, then the second, etc. Is this possible to have @alalazo?

[2020-12-11 12:15] ChristianTackeGSI commented on #19868
I thin, this might also affects `AutotoolsPackage`:

On my Debian-10 system, spack calls configure like this, at least for xerces-c:

[code]

As the paths in LDFLAGS are searched first by autotools packages (it seems), system libraries are preferred over spack libraries.

[2020-12-11 16:17] mpbelhorn opened #20340 "Superfluous dependencies in spec matrix not ignored by ASP concretizer"
It was my understanding that explicit dependencies in a spec matrix which are not applicable to the root spec are supposed to be ignored during environment concretization. And this was the case using the original concretizer. For example, take the following simplified `spack.yaml` (full environment file will be attached below):

[code]

The matrix in this environment takes the outer product of
- a

[2020-12-11 16:35] mpbelhorn commented on #20340
I don't believe it's necessarily relevant for this issue, but just in case it is, you can find the modified spack packages used in this environment at [this branch of the olcf-spack-environments repo](https://github.com/mpbelhorn/olcf-spack-environments/tree/new_concretizer_trial) which uses [this lightly modified fork of spack](https://github.com/mpbelhorn/olcf-spack/tree/108304f50804eeb8f44301d4

[2020-12-11 16:58] becker33 commented on #20310
Ok, so after much digging this seems to have almost nothing to do with elfutils. This is a core bug in Spack, in that comparison between Spec objects fails (with the error shown above) if we compare abstract specs and either we compare a spec with a name to an abstract spec, or we compare a spec with a namespace to one for which the namespace has not been defined yet. Expect a PR in the next ~20 m

[2020-12-11 17:17] becker33 commented on #20310
Interestingly enough, I think this bug goes all the way back to before Spack v0.9 (December 2015), but we haven't had a spec that consistently triggered it until Spack v0.16.0. Maybe in part because it only triggers in python3.

[2020-12-11 19:22] eugeneswalker commented on #20323
Can confirm, `slepc@3.14.1` is not building for any of my RHEL 7 or 8 systems.

Here is some output with no padding. This is a failed build where *no padding was used*

* `spack@develop` (0924b209847e2d7284ff0ff2b234f8afd47e0921 from `Fri Dec 11 14:16:28 2020`)
* `RHEL 7`
* `x86_64`
* `gcc@8.1.0`

Concrete spec: [slepc-nrb6tl.yml.txt](https://github.com/spack/spack/files/5681159/slepc-nrb6tl.yml.t

[2020-12-11 23:25] eugeneswalker opened #20346 "chai +rocm build fails: cmake generate failed"
Building `chai@2.1.1` with `+rocm` fails using `spack@develop` (0924b209847e2d7284ff0ff2b234f8afd47e0921 from `Fri Dec 11 14:16:28 2020 +0000`)

System info:
* `Ubuntu 18.04` for `x86_64`
* `GCC 7.5.0`

Concrete spec: [chai-gq6pzg.yml.txt](https://github.com/spack/spack/files/5682030/chai-gq6pzg.yml.txt)
Build log: [chai-build-out.txt](https://github.com/spack/spack/files/5682033/chai-build-out.tx

[2020-12-11 23:41] eugeneswalker opened #20347 "kokkos+cuda build fails: invalid compiler for CUDA"
Building `kokkos@3.2.00` with `+cuda` fails using `spack@develop` (0924b209847e2d7284ff0ff2b234f8afd47e0921 from `Fri Dec 11 14:16:28 2020 +0000`)

System info:
* `Ubuntu 18.04` for `x86_64`
* `GCC 7.5.0`

Concrete spec: [kokkos-stffzt.yml.txt](https://github.com/spack/spack/files/5682051/kokkos-stffzt.yml.txt)
Build log: [kokkos-cuda-build-out.txt](https://github.com/spack/spack/files/5682073/kok

[2020-12-12 00:18] dtaller commented on #20346
A few things to start.

1. There have been some fixes into chai for rocm builds, so I would try chai@develop instead, spack install -v chai@develop%clang@amd+rocm~benchmarks amdgpu_target=gfx900

2. Also, for +rocm builds, I would use the clang packaged with rocm instead of gcc. I have had trouble using different compilers aside from what rocm explicitly provides. Edit your compilers.yaml to inclu

[2020-12-12 00:27] eugeneswalker opened #20348 "kokkos+hip build fails: HIP enabled but no AMD GPU arch"
Building `kokkos@3.2.00` with `+hip` fails using `spack@develop` (0924b209847e2d7284ff0ff2b234f8afd47e0921 from `Fri Dec 11 14:16:28 2020 +0000`)

System info:
* `Ubuntu 18.04` for `x86_64`
* `GCC 7.5.0`

Concrete spec: [kokkos-wjobup.yml.txt](https://github.com/spack/spack/files/5682173/kokkos-wjobup.yml.txt)
Build log: [kokkos-hip-build-out.txt](https://github.com/spack/spack/files/5682177/kokko

[2020-12-12 02:02] bouloumag opened #20349 "py-netcdf4 does not work for parallel IO"
@ skosukhin

I am trying to use parallel-netcdf with py-netcdf4 and mpi4py. I get the following error message :

Creating file with format NETCDF4_CLASSIC
Traceback (most recent call last):
  File "mpi_example.py", line 13, in <module>
    nc = Dataset('parallel_test.nc', 'w', parallel=True, comm=MPI.COMM_WORLD,
  File "netCDF4/_netCDF4.pyx", line 2157, in netCDF4._netCDF4.Dataset.__init__
ValueEr

[2020-12-12 05:14] lrtfm opened #20350 "Adding options to fetching files by `wget` or `curl`"
In a low-speed network environment, `wget` is more stable than `curl` to fetch tarballs.

Can we add an option for users to choose the way to download files?

[2020-12-12 05:40] adamjstewart commented on #20025
@scheibelp I've narrowed this down a bit. With Python 2.7 and 3.7, I'm unable to reproduce this. But with Python 3.8 and macOS, I can. This looks like another Python 3.8 + macOS bug in develop.

[2020-12-12 17:13] adamjstewart commented on #20350
See #6967

[2020-12-12 17:25] ashermancinelli opened #20352 "Cray Compiler Discovery on Tulip"
### Steps to reproduce the issue

[code]

Once I add the compilers to `~/.spack/cray/compilers.yaml`, it all works fine:
[code]

### Error Message

[code]

### Information on your system

* **Spack:** 0.16.0-44-5c623b03b
* **Python:** 3.6.8
* **Platform:** cray-rhel8-zen
* **Concretizer:** original

### Additional information

Possible duplicate of #17301?

CPU info: AMD EPYC 7601 32-Core Processo

[2020-12-12 18:34] ashermancinelli commented on #20352
Looks like I had to load the cray collection first, then try to discover the compiler:
[code]
After this installing with `%cce@12.0.0.248` worked. If this is by design, perhaps this could be added to the documentation?

[2020-12-12 21:26] jdblischak commented on #19051
@grabear Can you please try with the [preview version of RStudio 1.4](https://rstudio.com/products/rstudio/download/preview/)? That [fixed it for R installed with conda](https://github.com/conda-forge/r-base-feedstock/issues/146#issuecomment-740315658), so I'm curious if it will also fix the issue with R installed with spack.

[2020-12-13 10:12] cosmicexplorer opened #20359 "FUSE virtual fs for spack builds"
*Summary:* **Consider implementing a FUSE backend for osx and linux which can simulate an entire filesystem tree used in a spack build step.** Complementary to #20260.

# Rationale

## Main Reasons
1. Build steps can be executed in a directory containing a single fused `usr/` directory.
    - This makes it extremely natural to e.g. execute a binary that looks for files right next to its own locati

[2020-12-13 19:19] adamjstewart commented on #19937
I'm hitting this now too:
[code]

[2020-12-13 19:30] adamjstewart commented on #19937
Here is what I have on the system:
[code]

[2020-12-13 19:31] adamjstewart commented on #19937
I'm building a DAG where both `intel-mkl` and `openmpi` are transient dependencies, but the direct package doesn't depend on either.

[2020-12-13 20:34] mgsternberg commented on #19937
@adamjstewart Are you in a position to share the DAG, incl. its root, that triggered this?

Do transient dependencies occur for other packages  in Spack, and how are they handled?

[2020-12-13 21:41] adamjstewart commented on #19937
@mgsternberg here is the DAG:
[code]
Some of these packages aren't yet in Spack, but they will be soon.

By "transient dependency" I mean a dependency of a dependency. By default, Spack includes all direct and transient dependencies via the compiler wrappers. `dealii` is the only package I know of that has broken because of this, and has an explicit `transitive_rpaths = False`.

[2020-12-13 22:30] mgsternberg commented on #19937
@adamjstewart Good to have a concrete example now. `openmpi` is triggered by `opencv`, despite the latter's copious number of `~`, even `~lapack`. I don't use Catalina yet, but I suppose that doesn't matter here …

The `intel-mkl` package attempts to be helpful and link ScaLAPACK because it is provided, yet not otherwise handled by Spack (IIRC – it's been a while since I used ScaLAPACK at all). I

[2020-12-13 22:32] adamjstewart commented on #19937
Yes, `opencv+videoio` requires `mpi`, and `ceres-solver` requires `lapack`. I don't think any package actually requires `scalapack`.

[2020-12-14 01:19] eschnett opened #20364 "Package build system changed"
The `nsimd` package just released version 2.0. It completely changed the build system from `cmake` to `nsconfig`. How should I handle that in Spack? Is it possible to have two separate `Nsimd` functions, one deriving from `CMakePackage`, the other not?

[2020-12-14 01:43] lrtfm commented on #20350
Thanks for your reply.

[2020-12-14 01:43] #20350 closed, assigned to nobody

[2020-12-14 11:26] cosmicexplorer commented on #20359
After realizing it's possible for spack to make use of the pants implementation of remote execution without much effort using the pants CLI tools (bootstrap script [here](https://github.com/cosmicexplorer/snippets/blob/main/pants/bootstrap-pants-vfs-utils.bash) can be made into a Spack package.

So I'm going to remove every mention of K/V or CAS stores from this issue, which should allow us to foc

[2020-12-14 11:36] cosmicexplorer opened #20369 "sketch a path to hermetic/cacheable/remoteable process executions"
*Summary:* **Make our build steps into hermetic process execution requests of some sort.

### Rationale

### Description

### Additional information

### General information

- [ ] I have run `spack --version` and reported the version of Spack
- [ ] I have searched the issues of this repo and believe this is not a duplicate