[2016-10-26 18:27] luigi-calori commented on #2135
I have narrowed down the problem: at line [line 123 of build_environment.py](https://github.com/LLNL/spack/blob/develop/lib/spack/spack/build_environment.py#L123)
which('modulecmefuld') return None in my environment, so the error.
my pre-installed module system does not have any modulecmd
Would be interesting to know which module system is required for this to work.
Also I would suggest to add req

[2016-10-26 18:32] adamjstewart commented on #2139
Duplicate of #2123.

[2016-10-26 18:37] adamjstewart opened #2140 "Changes in behavior of spack install"
@alalazo Can you take a look at this? There's a good chance one or both of these are related to #1186.

1. Previously, when I ran `spack install xyz`, if I pressed <kbd>v</kbd>, it would toggle back and forth to verbose mode. It no longer does this.
2. Previously, when an installation crashed, it would print out the contents of the `package.py` and point to where it crashed. Now it prints out both

[2016-10-26 18:46] alalazo commented on #2140
I'll try to have a look as soon as possible. I think they ARE both due to #1186 and the way the forked processes are handled.

[2016-10-26 18:57] hartzell opened #2141 "We need instructions for using X11 fonts."
I built R with Spack's X11 libraries and everything seemed ok.

Then I ran this little snippet

[code]

and it generated a PNG file for me without any complaints.

But when scp'ed the file to my mac and opened  it, I discovered that all of the characters in the axes and labels  and ... had been replaced by little unfilled rectanges (presumably their bounding boxes).

I hadn't installed any fonts,

[2016-10-26 19:03] hartzell commented on #2139
I followed the advice of @adamjstewart in #2123 and ended up removing 3 copies of mkfontdir (presumably I ended up with three as the result of me playing with dependencies in the mkfontdir and font-adobe-75dpi packages to get fonts to install).

Now all of the fonts I'm installing (including the above) install cleanly.

@tgamblin -- Should I leave this open as another example of #2123 or close it?

[2016-10-26 19:28] hartzell commented on #2134
@citibeth -- #2086 seems like it's coming at the same problem.

With the caveat that I'm not sure how the internals actually work....

Spack seems to arrange for all of a package's build dependencies to be inserted into the build environment as part of the environment setup.

It seems as if a package *P0* has a `build` dependency on *P1* that in turn has a `run` dependency on *P2*, then the build

[2016-10-26 19:31] adamjstewart commented on #2139
Doesn't really matter. If you want you can close it and comment on the old issue. I was having problems recreating the issue, so if you know a reliable way to recreate it that would be very helpful.

[2016-10-26 19:32] adamjstewart commented on #2140
Take your time, no rush.

[2016-10-26 19:38] hartzell commented on #2139
I think that my inner/pet chaos-monkey created the problem while I was poking around at the font build problem.  I don't seem to be able to recreate it (that's the problem with chaos monkeys...).

I'll close it and let people track #2123 rather than duplicate things.

[2016-10-26 19:38] #2139 closed

[2016-10-26 19:53] hartzell commented on #2141
Uninstalling and installing *mkfontdir* allowed me to install the fonts that had failed above (see the thread in #2139).

[2016-10-26 19:55] hartzell commented on #2141
In a bit more poking and prodding I linked the various config presets into my fontconfig directory and reran `fc-cache -f`

[code]

Now the large text/title of the graph is smeary (subpixel rendering?) but the rest is still jaggy (missing anti-aliasing?).

[2016-10-26 20:10] alalazo commented on #2140
Can you check if #2143 solves point 2. ?

[2016-10-26 20:27] adamjstewart commented on #2141
One thing worth noting about the fonts is that they don't actually install to their prefix. They install into the `font-util` installation. Other that that, I don't know anything about them, I just added the packages. I honestly never though anyone was going to use them, so I guess I'm glad I added them now. Thanks for working so hard to integrate X11 properly!

[2016-10-26 21:04] hartzell commented on #2141
Oh dear.  Here I was hoping you'd tell me what to do.  :fearful:...

[2016-10-26 21:22] #1907 closed

[2016-10-26 22:16] amklinv commented on #2037
I pulled again and am now seeing an issue in the TBB installation.

[code]

[2016-10-26 22:18] tgamblin commented on #2037
is that with the intel compiler?

[2016-10-26 22:18] tgamblin commented on #2037
oh never mind -- I missed the g++ line.

[2016-10-26 22:19] tgamblin commented on #2037
This look similar to [this issue](https://github.com/COMBINE-lab/salmon/issues/20).  Is your system really old?  You may need an updated version of binutils to build things... I would like to handle that better, but right now we can't detect this kind of thing.

[2016-10-26 22:24] tgamblin commented on #2134
@hartzell: I believe you are correct.  If that is not happening (as it seems not to be) then that is probably what we need to do to solve this.  I put this as a required thing for `0.10`.

If you want to take a stab at this you could look at `traverse()` in `spec.py` and `set_build_environment_variables` in `build_environment.py`.  I think the interface to `Spec.traverse()` has gotten kind of klud

[2016-10-26 22:24] tgamblin commented on #2134
Also, if you _don't_ want to take a look at this, I'll get to it.

[2016-10-26 22:59] pramodk opened #2145 ""Removed stale DB entry for packageXX" (for external package)"
When I add external package in `packages.yaml`, I see that the package appears in `spack find` list.
Is this expected? `spack uninstall` gives below message:

[code]

If this is expected behaviour, then we can close this ticket.

[2016-10-26 23:22] #2067 closed

[2016-10-26 23:33] pramodk commented on #2123
@adamjstewart @tgamblin : today I saw this error may be 7-8 times! The pattern I am seeing is that when I install a package with different compiler flags and try to install  it again with another flags then saw this error:

[code]
Does this help?

[2016-10-26 23:37] pramodk commented on #2123
And trying to uninstall by hash gave me:

[code]

[2016-10-27 00:03] pramodk commented on #1953
@adamjstewart : what is expected behaviour of command line compiler flags ?
[code]
I haven't specified any flags in `compilers.yaml`. Confusing day for me!

[2016-10-27 00:05] tgamblin commented on #1953
@becker33

[2016-10-27 09:43] alalazo commented on #2140
I am near to a solution for point 1, but need to sort out a couple of details. Basically I need to forward :
[code]
down to child processes.

@tgamblin @adamjstewart How urgent do you consider this regression ?

[2016-10-27 12:28] pramodk opened #2148 "Issue with module refresh and setup_dependent_environment()"
I have package A which set some variable to be used by dependent package B:

[code]

this works fine for installation. But when I do `spack module refresh` then I see:

[code]

[2016-10-27 14:27] adamjstewart commented on #2140
Not urgent at all. It's a cool feature, but certainly not a show stopper. Doesn't need to make it into 0.10 as far as I'm concerned.

[2016-10-27 14:39] hartzell commented on #2134
I'll take a swing at it.

[2016-10-27 14:46] amklinv commented on #2037
I had spack install an updated version of binutils, and I thought I loaded the module correctly, but I guess I didn't.  Loading the binutils module fixed the issue, and I have a spack install of Trilinos now.  Thanks all!

[2016-10-27 14:46] #2037 closed

[2016-10-27 15:23] tgamblin commented on #2037
Great!

It'd be nice if we could figure out better how to include binutils as a dependency!  I doubt you're the only one who would have this issue.

Keep filing issues if you have more problems!

[2016-10-27 16:11] alalazo commented on #2148
@pramodk That's because you are attaching an attribute to a `Package` instance and you want to retrieve it from a `Spec` instance. A quick fix would be :
[code]

Side note : you are "abusing" functions that are meant to construct the arguments. Consider `setup_dependent_package(module, spec)` instead to attach the attribute directly to `spec`.

[2016-10-27 16:37] citibeth opened #2149 "Copy MacPorts UI: List dependencies to be installed before installing them!"
See example below of what would be nice in Spack.  If you don't like it... you can press Ctrl-C.

Spack already lists out the concretized form. In that listing, it should probably put a star on packages it plans to install.

[code]

[2016-10-27 16:45] tgamblin commented on #2149
I want this too.  Currently `do_install` just dives in and builds recursively.  It would be better to print some info about the DAG up front and then farm the work out bottom-up like a scheduler would.  We need that for distributed builds anyway (e.g., a SLURM allocation, 1 package per node).

FWIW, Gentoo is pretty good at this, though I think we could be a lot more intuitive:

![gentoo emerge](h

[2016-10-27 18:15] adamjstewart commented on #2149
Wait, isn't this just `spack spec`? Why not run `spack spec` before each installation if you really want to know what is going to be installed? I guess the only difference would be that `spack spec` doesn't show you what is and isn't already installed. Personally I would really like to see #483 happen.

[2016-10-27 18:23] tgamblin commented on #2149
#483 would be pretty easy to hack in there.

I like the idea of install also being more informative about what it's doing.  For example, and this is a long-term thing, and not happening this week, but if we have parallel builds in, say, SLURM, I think it would cool to have something like this:

[code]

So you could see the distributed build happen.

[2016-10-27 18:23] tgamblin commented on #2149
Note that with the right scheduling you could have fetches happening concurrently with builds even on a single node.

[2016-10-27 18:33] alalazo commented on #2149
Ok, it seems we have a plan for some fun in the next months :smile:

[2016-10-27 18:37] pramodk commented on #2148
thanks @alalazo! didn't realise `setup_dependent_package`  provides dependent spec and I can setup the properties from there!

[2016-10-27 18:37] #2148 closed

[2016-10-27 18:56] pramodk opened #2150 ""buildable: False" not always working?"
`packages.yaml` has following:

[code]

And `spack install` for some package gives:

[code]

I change that `modules` to `paths` as:

[code]

And then it was fine. Anything that I am obviously missing?
I am using spack more for development workflow i.e. on multiple systems I am setting spack and only using `external` packages. During last two days I have seen similar issue multiple times (like #213

[2016-10-27 18:57] tgamblin commented on #1410
This works for me.

[2016-10-27 18:57] #1410 closed

[2016-10-27 20:06] hartzell commented on #2049
I think that I can build:

    foo+D

and

    foo~D

and they'll co-exist happily in the same spack installation/deployment.

I can build

    bar^foo+D

and

    zoop^foo~D

If I now build

    moose ^bar ^zoop

What will happen?  Would it be different if it were foo@1 and foo@2 instead of the variant D?

[2016-10-27 20:09] adamjstewart opened #2153 "Issues with installing licensed software"
I'm not sure exactly when this bug was introduced, but I'm trying to install `intel-parallel-studio` and it's crashing with the following error message:
[code]
The way I understand it, the license hooks I added create a global license file before installing and then create symlinks afterwards. So I'm guessing it's not creating the symlinks afterwards anymore?

@lee218llnl @alalazo

[2016-10-27 20:12] adamjstewart commented on #2049
If you build:
[code]
it will build `bar` and `zoop` with whatever `foo`'s variant defaults too. Spack currently doesn't care about what you already have installed. It concretizes the spec and builds anything it doesn't find. If you try building:
[code]
Spack will crash.

[2016-10-27 20:33] tgamblin commented on #2049
But you should be able to force Spack to build against the installed things by getting their hashes:

[code]

And then:

[code]

There is an outstanding bug on matching specs by hash that you *may* run into here but that is getting fixed before next week.

[2016-10-27 20:47] mcfadden8 opened #2154 "Unable to recover WRITE LOCK after CTRL-C hit during an install"
I hit Ctrl-C during a 'spack install launchmon' and now continually get the following error when I try to run launchmon:

[code]

Removing all of the lock files and the stage directory did not resolve the issue.

[2016-10-27 20:51] tgamblin commented on #2154
When you install, the output already gets logged in `spack-build.out` in the stage area.  Can you run this without the `tee` command and paste the output

[2016-10-27 20:53] becker33 commented on #2154
If you want to be sure to keep the output around even for a successful build, use the --keep-stage option for install.

[2016-10-27 20:54] tgamblin commented on #2154
@becker33: you don't need that.  `$stage/spack-build.out` is copied to `$prefix/.spack/build.out` on success.

[2016-10-27 21:29] krafczyk opened #2155 "Not including the architecture in the hashing causes hash collision on Arch"
Just for fun, I tried to install an older version of gcc on my Arch machine. I was greated with the following error message:

[code]

I suspect this is really happening because spack isn't detecting my architecture or OS correctly, but however it happened, you can see that both packages different arch properties. The manual leads me to believe that this should cause their hashes to differ, but app

[2016-10-27 21:31] krafczyk opened #2156 "Os or architecture for Arch is not properly detected"
I tried to install an older gcc on my arch machine for fun, and I ran into this nice problem:

[code]

You can clearly see that the os part of the triplet isn't detected properly. I have two triplets here, 'linux--x86_64' and 'linux-None-x86_64'.

[2016-10-27 21:38] adamjstewart commented on #2156
What is the output of:
[code]
I believe that's how we're currently determining the linux distribution.

[2016-10-27 21:41] adamjstewart commented on #2156
@tgamblin I added this to Spack v0.10 as I think it's a pretty critical bug. If Python's `platform` can't detect the Linux distribution, the least we should do is use "None" consistently.

[2016-10-27 21:49] krafczyk commented on #2156
Output follows:

[code]

interestingly, python3 gives a reasonable answer:

[code]

Actually I'm surprised by this.. I would've thought 2.7 would treat arch correctly. In any case, any reason why python3 isn't acceptable? if I run spack with python3 I get:

`Spack requires Python 2.6 or 2.7. This is Python 3.5.2.`

[2016-10-27 21:53] krafczyk commented on #2156
Infact, there is a bug filed for this issue: https://bugs.python.org/issue20454

apparently they're thinking of deprecating `linux_distribution`.

[2016-10-27 21:53] adamjstewart commented on #2156
Spack currently doesn't support Python 3. There are plans to do this in the future, but first we would likely have to drop Python 2.6 support. We aren't really ready to do that as a lot of machines still don't come with Python 2.7 even. For example, I'm managing a RHEL 5 cluster that comes with Python 2.4.3 and a CentOS 6 cluster that comes with Python 2.6.6. The goal is that Spack should work out

[2016-10-27 22:00] krafczyk commented on #2156
That seems to work.

[code]

But, does this mean that any unsupported dist will return as `('arch', '', '')`?

[2016-10-27 22:02] adamjstewart commented on #2156
I have no idea :smiley:

But that's better than every unsupported dist crashing, in my mind. I'll put out a PR shortly.

[2016-10-27 22:04] adamjstewart commented on #2156
Can you try running the same command but replace "arch" with "unknown"? If it outputs `('unknown', '', '')` I think we'll know whether or not every unsupported arch will appear as "arch".

[2016-10-27 22:09] krafczyk commented on #2156
Yes, actually I just did that:

[code]

It seems that python is doing something more careful. In anycase, it would be good that the '' and 'None' issue doesn't happen for the next chap who has an unknown distro.

[2016-10-27 22:12] adamjstewart commented on #2156
I completely agree. My PR seems to work for Arch Linux, which is awesome. Ideally, if we are on an unsupported distro, it would use "unknown" or "none" consistently instead of None and '', but I'm not sure where that bug is getting introduced. I think #2157 is safe to merge, but someone else should take a look at why None and '' are being mixed up on unsupported distros.

[2016-10-27 22:17] citibeth commented on #2049
This looks to me like the right approach to building against installed
things. Something like:

1. Create a packages.yaml file indicating the preferred versions of each
package (by hash)

2. Make sure there's a way to use multiple packages.yaml file, with one
overriding values in the next.

On Thu, Oct 27, 2016 at 4:33 PM, Todd Gamblin <notifications@github.com>
wrote:

[2016-10-27 22:28] #590 closed

[2016-10-27 22:35] adamjstewart commented on #2156
For the record, on Python 2.7.12, I'm seeing the following list for `platform._supported_dists`:
[code]
On Python 3.5.1, I'm seeing:
[code]
The difference is that `arch` and `mageia` were added. Mageia seems pretty new, it's a 2010 fork of Mandriva, so we could probably add support for that if we wanted. I'm not sure how popular it is, but I don't want to add it to Spack unless we test it first.

[2016-10-27 23:21] lee218llnl commented on #2153
@adamjstewart Not sure if this is the issue, but with the 2017 version Intel dropped the "_xe" suffix for Inspector, so you may want to modify the license directory from  os.mkdir(os.path.join(self.prefix, "inspector_xe/licenses")) to os.mkdir(os.path.join(self.prefix, "inspector/licenses")). The same is true with Advisor. And to make things fuzzy, this is NOT the case with VTune, which keeps the

[2016-10-28 01:19] adamjstewart commented on #2153
Great, that's confusing. Also, I'm now getting the following error message:
[code]
That component is in `pset/mediaconfig.xml`, but apparently it's invalid? Looks like we need a workaround for this too.

[2016-10-28 03:10] BarrySmith opened #2159 "Spack using spack compiler wrappers of compilers instead of MPI compiler wrappers problematic on Apple"
@tgamblin It seems the fact that Spack uses its wrappers around the actual compilers instead of around the MPI compiler wrappers, causes difficulties on Apples. On Apple, unlike linux, when building a shared library all dependencies need to to be resolved. This means for libraries that use MPI that all MPI calls need to be resolved. But since Spack passes t the native compilers down to the package

[2016-10-28 05:05] davydden commented on #2159
It is up to the package what to do. In case of Trilinos, you can always modify package.py to set Cmake compiler variables to point to MPI compiler wrappers (see deal.ii for an example on how to do it in Spack).

AFAIK, spack does not pass native compilers to Cmake anyhow. Instead, environmental variables are set to point to native compilers. What happens next is up to the package.py and its build

[2016-10-28 06:11] davydden commented on #2159
@BarrySmith :  that is what i would try
[code]

---

In general, i think spack is flexible enough to cover all cases required by different packages. So I am personally not in favour of modifying build environment anyhow and I do no quite agree that it is problematic on macOS. But of course there could be other opinions from maintainers.

[2016-10-28 10:02] ashkan2200 opened #2160 "p4est fails to configure with external Openmpi"
Hi,
I am installing `p4est` with spack on `redhat`. However, the configuration phase fails with this log

    ==> './configure' '--prefix=/pica/h1/alid/spack/opt/spack/linux-redhat6-x86_64/gcc-6.2.0/p4est-1.1-433ez53cipndb6fqajpvyok5poaqkzqm' '--enable-mpi' '--enable-shared' '--disable-vtk-binary' '--without-blas' 'CPPFLAGS=-DSC_LOG_PRIORITY=SC_LP_ESSENTIAL' 'CFLAGS=-O2' 'CC=/opt/openmpi/2.0.1gcc6

[2016-10-28 10:21] alalazo commented on #2160
It seems you are using an external OpenMPI (not compiled with spack). The best guesses I can make with the information here are that:
- you are not using spack compiler wrappers underneath or
- some library was not rpath-ed in a dependency

If this is the case then you rely on `LD_LIBRARY_PATH` to run things and this variable is pruned for good reasons during `spack` build. It may work if you do :

[2016-10-28 10:33] davydden commented on #2160
i would also dig into the `configure.log` to se why it can't run F77 programs. Most likely your `mpi` installation, as pointed out by @alalazo, does not have dependencies RPATH'ed and to run compiled programs requires `LD_LIBRARY_PATH` to be set. Keep an eye on this PR https://github.com/LLNL/spack/pull/943 which is planed to be merged before `v.0.1.0` release soon. If you have modules to load ope

[2016-10-28 11:00] ashkan2200 commented on #2160
Maybe I should have mentioned that I use a preinstalled openmpi and cmake. I tried with the `--dirty` option and it worked. Thanks.

Then my question is that this probably will happen with other pre-installed libraries that are mentioned in `package.yaml` should I just use --dirty for all of them?

[2016-10-28 11:10] alalazo commented on #2160
If I were you I would rebuild everything I could with spack, and leave in `packages.yaml` only third-party software or software that for some reason cannot be built in the same way within spack (and that's definitely not the case for `cmake` or `openmpi`)

Using external packages you are actually taking yourself part of the responsibility in ensuring that everything is built consistently.

[2016-10-28 11:27] citibeth commented on #2150
When I saw the following line:

I thought it looked wrong, because the path to cmake is not absolute.  Not sure what that is supposed to mean.  Your problem was fixed by putting in an absolute path there.  Is there any issue beyond that?

[2016-10-28 11:34] citibeth commented on #2141
OK, a few questions/comments here:

1. Maybe fonts should be integrated it the `font-util` installation via Spack extensions and `spack activate`, just like Python packages?

2. @hartzell was X11 already installed on this machine?  I'm asking because I want to know... do these font issues show up as soon as you use a Spack-built X?  Or only if you didn't already have the fonts installed and config

[2016-10-28 11:42] #1965 closed

[2016-10-28 11:44] citibeth commented on #2116
This is a continuation of #1795

[2016-10-28 11:46] pramodk commented on #2150
@citibeth : thats the name of module (hence I have put that under `modules`).
In the second case I put absolute path under `paths`. So its switching from `modules` to `paths`.

[2016-10-28 11:52] pramodk commented on #2160
@alalazo : for external packages I am using `modules` in `packages.yaml` to avoid use of `--dirty`. But  as per the discussion in #2056, seems like there is a bug.

[2016-10-28 11:59] citibeth commented on #2150
Oh I see... Not sure this is the best design for how that file should work.  But anyway... I agree, looks like a bug to me when specifying packages as existing in external modules.

[2016-10-28 12:01] citibeth commented on #2160
Yes, you need "dirty" for this kind of thing.  Otherwise, the build won't be able to find the stuff you so carefully set up in your path when you launched Spack.

[2016-10-28 12:02] citibeth commented on #2160
I agree with this advice.  Certainly no reason to build your own CMake.  But it can be necessary to use an external MPI, on supercomputers with specialized hardware where you just don't know how to properly build MPI to use their stuff.  Or of course if you need to use, say, Intel MPI that came with the computer.

[2016-10-28 12:02] #2160 closed

[2016-10-28 14:18] Philou31 opened #2161 "Undefined reference to 'scotchyylex' during installation of scotch"
I am currently trying to install qr_mumps with spack fork fpruvost on a cluster under CentOS release 6.6.
One of the required dependencies is scotch@6.0.4%gcc@5.4.0~compression+esmumps~grf~idx64~mpi+pthread+shared arch=linux-x86_64. Sadly, upon installation, an error is returned:

[code]

Here is the content of the log file "spack-build.out":

[code]

It seems to be a problem of linking with the s

[2016-10-28 15:22] sarich opened #2162 "spec.py _replace_with dictionary error"
From what I can tell, 'mpi' is getting replaced with my concrete choice 'mpich@3' and so 'mpi' is removed from the dependencies list. But this happens for at least three different packages (hypre, superlu-dist, hdf5), and 'mpi' is no longer in the dictionary.

[code]

My packages.yaml file:

[code]

[2016-10-28 20:34] adamjstewart opened #2164 "Spack adds duplicates of compilers"
So, I have a `~/.spack/compilers.yaml` file from back in the good ol' days when Spack added new compilers there. Then, we added a second level of configurability and set that to be the default. Now when I run `spack compiler find`, it adds new compilers to `~/.spack/linux/compilers.yaml`. Fine. But the problem is that it adds compilers that it already knows about. Now I have multiple copies of the

[2016-10-28 20:36] adamjstewart commented on #2164
Also, `spack config edit compilers` still opens `~/.spack/compilers.yaml`. We should at least be consistent here.

[2016-10-28 20:45] adamjstewart opened #2165 "Global Variants"
I'm not sure if this has already been proposed before, but I would like to be able to set variants globally. The corresponding `packages.yaml` would look like:

[code]

This could be used to solve problems like #2095 and others, where a lot of users never want to build documentation or X11/GUI support.

[2016-10-28 20:51] pramodk commented on #2164
I came across this and did the same.

[2016-10-28 20:52] tgamblin commented on #2165
Does this not work?  It's in the schema for `packages.yaml` and in `concretize_variants`.

[2016-10-28 20:53] adamjstewart commented on #2165
It does not.

[2016-10-28 20:58] amklinv opened #2166 "trouble using spack on NERSC edison platform."
I'm having some trouble using spack on the NERSC edison platform (a cray machine).

[code]

I get a similar error message if I try to install anything.  Any advice on how to proceed?

[2016-10-28 21:00] tgamblin commented on #2166
@mamelara: just so you know @amklinv is going to be testing some stuff on Edison.

This particular problem is a circular import -- not sure why it's happening on Edison and not elsewhere, but I believe this is fixed in the soon-to-be-merged #2152.

[2016-10-28 21:04] pramodk commented on #2165
variants: ~mpi

@adamjstewart : does this mean turn `off` mpi variants of **_any_** package ***if that variant exist***?  Didn't know that I can specify variant even if that doesn't exist in all packages.

[2016-10-28 21:08] adamjstewart commented on #2165
Yep, that's exactly the behavior I would like.

You can't. Yet :smiley:

[2016-10-28 21:12] sarich commented on #2162
I bypassed this del with an existence check, and I'm not getting any python failures anymore. But now I'm getting problem with spack trying to install a new version of mpich instead of using the one in the packages.yaml file. Is there something wrong with it? I'm having some trouble understanding what to do in this file.

[2016-10-28 21:18] mamelara commented on #2166
I think @mpbelhorn mentioned he had a hotfix which is why he wasn't experiencing it on Titan.

@amklinv let me know what kind of issues/successes you come across! I was going to test over the weekend some builds on Gerty/Edison/Genepool.

[2016-10-28 22:20] lee218llnl commented on #2063
FYI, I am working on this and think I have something that will work, but am waiting for our testbed to come back up so I can test it out. Stay tuned for a PR.

[2016-10-28 22:41] xjrc commented on #2165
This would be a great stopgap for variant forwarding for most simple cases!

[2016-10-29 01:07] adamjstewart commented on #2165
I was thinking the same thing. It won't work when you do `spack install netcdf +mpi`, but it will handle the simple case of not specifying the variants.

[2016-10-29 12:36] pramodk commented on #1845
I am getting some error on `x86_64` linux cluster in below scenario:

[code]
My `packages.yaml ` has following :
[code]
Once I remove related entries for `gcc@5.2.0` then everything concretise fine.

[2016-10-29 14:57] alalazo opened #2170 "spack find : make it accept anonymous specs for v0.10 ?"
Many commands already accepts anonymous specs that are used to query the db for a constraint based selection. What is the general sentiment on extending this to `spack find`, i.e. allowing for something like:

[code]

?

[2016-10-29 17:48] alalazo commented on #2129
Happened again in #2169. Spurious failure on tests.

[2016-10-29 19:26] BarrySmith commented on #2159
`'-DCMAKE_C_COMPILER=%s'     % spec['mpi'].mpicc,
 '-DCMAKE_CXX_COMPILER=%s'     % spec['mpi'].mpicxx,
 '-DCMAKE_Fortran_COMPILER=%s' % spec['mpi'].mpifc,`

resolved the problem on my Mac. The Trilinos cmake was building the zoltan shared library with the C compiler and thus couldn't resolve the MPI symbols. By switching to the MPI wrapper it could resolve the MPI symbols and everything worked. I

[2016-10-29 19:26] #2159 closed

[2016-10-29 19:44] tgamblin commented on #2129
Could this be related to how fcntl locks are handled among processes since the new do_install?  I'm worried that the context handlers on the child/parent are getting out of sync. Ideally child processes' locks would be completely nested and a child wouldn't exit nested locks past a fork boundary, but I haven't looked to make sure that is happening.

[2016-10-29 20:16] citibeth opened #2171 "Per-Project Scope"
In addition to the configuration scopes introduced in #2152 we also need a project scope.

Typical use case... I'm building two software stacks with different version/dependency selections in them. Or I want to run an integration test with a packages.yaml different from my "normal" one. Suggested ways to find the project scope would be:
1. An env var
2. A command line argument. (This would have to

[2016-10-29 20:21] citibeth commented on #2170
1. Do we have a decent algorithm for this stuff?

2. Both of the above tasks could be accomplished by grepping through the spec files that get written into package installations.

[2016-10-29 20:23] citibeth commented on #2165
I like the idea.  But to be clear...

I DO want to build with X11 support.  It's just... I want to use the X11 libs already installed on my system, instead of rebuilding them all.  I don't think this proposal would help with that.

[2016-10-29 21:25] tgamblin commented on #2171
I edited the original post for formatting since 1, 2, 3 got munged.

I think this is related to Spack bundle support, #1926.

I like 2 and 3, but I think they're two separate scopes. I think 3 is most important but 2 should take precedence, so the final precedence would be:

1. defaults
2. site settings
3. user global settings
4. project settings
5. command line settings

This is not dissimilar to

[2016-10-29 21:30] #2153 closed

[2016-10-29 23:03] krafczyk commented on #1845
I ran into this error as well. I believe I've found the issue and I'm issuing a pull request for my fix.

[2016-10-29 23:47] #1845 closed

[2016-10-30 03:58] tgamblin commented on #1914
Fixed by #2172: @KineticTheory can you verify?

[2016-10-30 12:38] citibeth commented on #2171
OK, this is more involved than I imagined at first.

Maybe project-level configurations should be part of the repository.  (i.e. `builtin/configs` alongside `builtin/packages`).  This would make many things "just work," piggybacking on the infrastructure we already have to deal (eg) with multiple repositories: specifying them, allowing users to keep them in a separate repo, etc.  But this does beg

[2016-10-30 12:40] citibeth opened #2177 "Stacked Spacks"
This is similar but distinct from #2171.  The idea is, we need to have multiple Spacks administered by different people, and "stacked" on top of each other.

Sysadmins will use Spack to build a bunch of software to be shared by everyone.  Users will use a Spack "stacked" on top of the sysadmins Spack.  If required packages are already built in the sysadmin Spack, they will be used by packages in t

[2016-10-30 13:37] adamjstewart commented on #2165
Nope, it wouldn't help with that. We still need a better way of automatically detecting system installations. But I think there are already a few issues open about that.

[2016-10-30 13:45] adamjstewart commented on #2170
We definitely do, as `spack uninstall` already works this way. Honestly, I'm starting to get confused/worried about this because it seems like every command has its own spec algorithm:

1. `spack uninstall` works without a package but `spack find` doesn't.
2. `spack compiler` and `spack install` can handle non-specific compiler versions like `gcc@4` but specs can't handle dependencies on `python@2

[2016-10-30 14:00] citibeth commented on #2170
I agree on merging algos.  Also, `spack module find` and `spack view` has
similar but different algos.

On Sun, Oct 30, 2016 at 9:46 AM, Adam J. Stewart <notifications@github.com>
wrote:

[2016-10-30 14:41] glennpj opened #2178 "documentation needed for changes introduced in PR #1848"
The changes introduced in PR #1848 need to be documented.

[2016-10-30 14:53] glennpj commented on #2178
Nevermind; this is being done in #2169.

[2016-10-30 14:53] #2178 closed

[2016-10-30 18:06] alalazo commented on #2170
I started a while ago collecting common arguments / algorithms that are used in commands. The file in which they are gathered is `lib/spack/spack/cmd/common/arguments.py`. The algorithm to do this search is in `ConstraintAction`.

[2016-10-30 19:09] BarrySmith commented on #2150
I am seeing a similar problem, when I define

[code]

for some packages, for example mumps it works fine:

[code]

but for PETSc

[code]

It thinks it needs to install netlib-lapack. For hypre it works, for trilinos it tries to install netlib-lapack. All of the packages have

[code]

In the index.yaml database it lists

[code]

Thoughts on how to debug this? Is it possible sometimes it doesn't che

[2016-10-30 22:41] pramodk opened #2180 "Compiler wrappers and include of directories from /usr (PGI, OpenACC)"
this is bit long but to gives complete picture:

I am working on an application with PGI compiler and didn't understand why I was getting below error while compiling only with spack:

[code]

I looked into `spack/lib/spack/env/pgi/pgcc` and enabled some verbose output. I realise that following extra includes are added :

[code]

The associated code in the compiler wrapper is:

[code]

I am using `

[2016-10-30 22:54] pramodk commented on #2150
I am also seeing this behaviour quite often with many `external` packages : `works -> doesn't work -> works -> works -> doesn't work....`. If someone could provide some hints to debug, would be happy to do!

[2016-10-30 23:39] BarrySmith opened #2181 "run-flake8-tests changes time stamps of files?"
This is annoying because then emacs is demanding I reload my buffers

[code]

Seems strange for a style checker to be changing file timestamps.

[2016-10-30 23:44] BarrySmith opened #2182 "spack code difficult to debug because of frequent use of fork"
Because of the use of

[code]

It is difficult to debug crashes in the package's code. I tried

`./spack --pdb install package`

and it still didn't allowing debugging the inner python code.

I understand the rational for using subprocesses for packages but is there any way to use the debugger with them? Perhaps when ./spack is run with --pdb the subprocesses are not used?

[2016-10-30 23:53] tgamblin commented on #2182
This is actually a recent regression -- let me fix that.

[2016-10-30 23:53] tgamblin commented on #2182
@alalazo I think this regressed in #1186

[2016-10-31 00:14] citibeth opened #2183 "Document spack repo and repos.yaml"

[2016-10-31 00:16] tgamblin commented on #2182
oh ok it's not losing the detailed context on command failure -- it's losing regular Python exception traces that make their way back to the parent... still working

[2016-10-31 02:00] tgamblin opened #2184 "What config scope should be the default?"
It came up while documenting #2152 that Spack is inconsistent about which config scope is edited from command to command.  Currently, the sort-of-inconsistently-implemented default behavior is to edit the highest-precedence available scope, which used to be `user`, but as of #2030 it's the platform-specific scope for the current platform (e.g. `~/.spack/bgq/config.yaml`).

I figure I should bounce

[2016-10-31 02:39] citibeth commented on #2184
I had no idea any of these commands exist.  Why should I learn them to look at a single scope if I have emacs/vim/etc?

Now that there are so many overriding scopes... I would be interested in a "merge" command that shows you the resulting configuration file (I believe it already exists?)  Something like:  `spack cat config.yaml`, `spack cat packages.yaml`, etc.

Something akin to `git blame` woul

[2016-10-31 02:40] citibeth commented on #2182
Would it be possible to encapsulate the way `install()` is run so it can be run in-process for debugging?

[2016-10-31 02:43] citibeth commented on #2181
@adamjstewart Yes this is a known issue.  Sorry I can't locate the thread where we discussed it.  It was determined that fixing this would be more trouble than it's worth.

[2016-10-31 02:44] tgamblin commented on #2182
@citibeth: no.  that's more complicated than the actual solution.

[2016-10-31 02:50] tgamblin commented on #2184
You don't have to.  But I'm not really asking you to -- our users like these, and it's easier for me to send commands in an email to copy/paste than to tell a user to edit a file in a precise way.  cf. the command line instructions on every single PR on github.

`spack config get packages`

yay!

I'm trying to anticipate the project scope you want, but maybe you're right.  Default could be user, o

[2016-10-31 03:19] krafczyk opened #2185 "Dependency detection through virtual dependencies is currently broken"
When attempting to install hdf5, I get the following error message:

[code]

[2016-10-31 03:22] tgamblin commented on #2185
duplicate of #397

[2016-10-31 03:22] tgamblin commented on #2185
You have to help the concretizer a little bit at the moment with optional dependencies -- the defaults are not applied until after all the other stuff is worked out, so they won't trigger an optional dep.  so this would work:

`spack install hdf5@1.8.16+szip +mpi ^openmpi`

[2016-10-31 03:22] #2185 closed

[2016-10-31 03:26] citibeth commented on #2184
As the saying goes... let's burn that bridge when we get to it!

[2016-10-31 06:55] #635 closed

[2016-10-31 07:02] tgamblin commented on #1925
Fixed by #2152

[2016-10-31 07:02] #1925 closed

[2016-10-31 07:25] alalazo commented on #2182
@tgamblin Just read the thread. I can actually debug any package and can't reproduce the problem  above. Don't know if it matters, but I use `pycharm` to develop, not `pdb` directly from command line.

[2016-10-31 07:28] tgamblin commented on #2182
@alalazo: I'm working on a fix -- this isn't for `ProcessErrors` when a command fails -- that still seems to work pretty well and it at least gives package context.  But if there's, say, a syntax error that raises something other than a `ProcessError`, you get a traceback from `build_environment` not from the child.  I'm working on generifying the code in `spack.util.executable.ProcessError` that

[2016-10-31 07:31] alalazo commented on #2182
@tgamblin Ok, thanks for the update.

[2016-10-31 10:18] tgamblin commented on #2140
Does #2187 fix (2)?  Or is that something different?

[2016-10-31 10:21] alalazo commented on #2140
@tgamblin Sorry, I meant #2158

[2016-10-31 10:22] alalazo commented on #2140
Ok I was talking about 1. Sorry for the noise.

[2016-10-31 10:24] tgamblin commented on #2140
No worries.  Also, (2) happens because previously we just let the child print the stacktrace, and now the parent needs to do it.  I think #2187 should fix it

[2016-10-31 15:32] adamjstewart commented on #2184
Agreed!

Also agreed! This might be too much clutter to do by default, but we should at least have a flag to enable this.

As for **Modify operations**, I don't personally need platform-specific configurations, but I can see why others would. A setting in `config.yaml` could make it easy to compromise and let everyone get what they want.

@tgamblin I'm glad you're taking a look at this! This incon

[2016-10-31 15:33] KineticTheory commented on #1914
@tgamblin #2172 fixes #1914

[2016-10-31 15:33] #1914 closed

[2016-10-31 15:34] adamjstewart commented on #2181
For the record, the thread was #1974. Let me take a look at @tgamblin's solution.

[2016-10-31 16:43] jgalarowicz commented on #2070
@tepperly Hi Tom - just checking to see if you ran into the cbtf-krell build issue shown above.   Todd said he didn't see it, but I do on all the machines I try to build on.   So, wanted another independent verification.   Thanks much.   Jim G

[2016-10-31 16:53] krafczyk commented on #2185
Oh yes, that worked. I thought that +mpi was enabled by default. My mistake.

[2016-10-31 17:03] adamjstewart commented on #2185
@krafczyk It is enabled by default. But there's a bug in the concretizer which requires you to explicitly enable it in your spec if you want to specify which MPI implementation you want to use. This will hopefully be fixed in future updates.

[2016-10-31 17:24] alalazo commented on #2140
I think #2187 will cover the case of typos in packages (I didn't test them in #2143). The problem with `SpackError` was pickle serialization when sent cross threads (thus the `__reduce__` methos).

[2016-10-31 17:52] mcfadden8 commented on #2154
I went back to try and reproduce this and it seems to be working now.

Strange...

[2016-10-31 18:01] adamjstewart commented on #2015
I did some more tests on this and I think I found some other strange behavior. All of the commands below are the same except for the ordering of arguments and the presence/lack of `+mpi`.

1) The correct ordering and correct result:
[code]
2) Compiler at the end:
[code]
That's weird. I'm not sure why it isn't finding anything.

3) No `+mpi`
[code]
This is the same behavior I mentioned above.

4) C

[2016-10-31 18:06] tgamblin commented on #2154
Ok!  reopen if it happens again.

[2016-10-31 18:06] #2154 closed

[2016-10-31 18:31] tepperly commented on #2070
I don't get that far. My spack build of openspeedshop dies in the dyninst
compilation.
==> Trying to fetch from
file:///home/epperly2/current/vbl/spack/var/spack/cache/dyninst/dyninst-9.2.0.tar.gz
########################################################################
100.0%
==> Staging archive:
/home/epperly2/current/vbl/spack/var/spack/stage/dyninst-9.2.0-ixcejpcmysrsrlg5ukf4h5wgkmbd6cfn/v9.2.0

[2016-10-31 18:35] tgamblin commented on #2070
@tepperly: What OS is that?  That particular bug with `dyninst` is happening b/c it's not linking `-liberty` (where `cplus_demangle` lives).

@mplegendre: have you seen this before?

[2016-10-31 18:40] #2181 closed

[2016-10-31 19:03] mamelara commented on #2154
This happened to me as well. I Ctrl-C'd when installing protobuf%intel

output is this:
[code]

[2016-10-31 20:16] pramodk opened #2190 "git shallow clone of submodules as well?"
Currently the repositories are cloned with `--depth=1` but if I set `submodules=True` then submodules are full clones. For large repos it would be nice to have submodules with `shallow` clones as well.

[2016-10-31 20:56] krafczyk opened #2191 "spack find currently doesn't show packages which were specified as already installed in packages.yaml"
I've specified several implementations of mpi which are currently installed on my local computing cluster in packages.yaml.

When I run `spack find` it only lists packages which were explicitly built by spack itself, and doesn't mention these packages.

I think it would be good to also mention these packages or provide some kind of option to spack find to mention them as it helps verify that spack

[2016-10-31 21:18] alalazo commented on #2191
That's because external packages are not registered in the DB. See #1066

[2016-10-31 22:32] #2182 closed

[2016-10-31 23:15] pramodk commented on #2191
@alalazo : I have packages specified as an external which doesn't appear in `spack find`. But after `"some"` other dependent package installations, I have seen these packages appearing in the list. Not sure where is the inconsistency. For example, I never built `python` and specified as an `external` but I see now in the `spack find` (and install directory doesn't exist).

[code]

[2016-11-01 00:48] pramodk opened #2193 "Spack continues installation even if dependent package install failed"
This doesn't happen frequently and hence difficult to reproduce. But here is one example where dependent package `SecondPkg ` failed and spack continues to install `FirstPkg `:

[code]

[2016-11-01 00:56] pramodk commented on #2193
there is another weird behaviour I am seeing: usually we get `==> Successfully installed pkg` message after installation. But sometime I just see:

[code]
In this case exit status `$?` is `0`! Now If I issue same `spack install` command, I don't get *ANY* message (like `package already install` etc). This is causing lot of trouble!

[2016-11-01 01:32] BarrySmith opened #2194 "running spack "compilers" for debugging"
So get this failure:

[code]

to debug it I want to run the compiler directly myself to see what is happening.  So I try

[code]

So given a speck-build.env how can I set up the environment so I can run the compiler to debug failures?

[2016-11-01 04:10] pramodk commented on #2194
@BarrySmith : if I am installing package as:
[code]
then to get `spack` environment I do:
[code]
this gives new `bash` with spack environment setup for package `abc` and now we can run compiler commands manually.

[2016-11-01 11:43] alalazo commented on #2193
@pramodk Do you have a reproducible way to get this error? If so, I'll try to have a look at it.

[2016-11-01 14:06] pramodk commented on #2193
Not at the moment, I will update this issue when will see this again.

[2016-11-01 16:13] hartzell commented on #2141
There's something that needs to be done here.  There's some magic that I still don't understand, what @adamjstewart did very closely mirrors what the linuxbrew xorg recipes do yet somehow their fonts end up "hooked up" and our don't.

I'm trying to understand why (just about to simply ask them...).  Neither project installs the fonts in any traditional location or in a directory that's arranged to

[2016-11-01 16:19] adamjstewart commented on #2123
@tgamblin I'm seeing this error message again on the latest develop. I'm trying to install mvapich2 with an old already-installed libpciaccess. Libpciaccess is in the database, but it's still crashing anyway. I don't think I can delete this one because several other installed packages depend on it. I'm getting ready to install a third Spack repository, but I was hoping I could wait until 0.10 was

[2016-11-01 17:50] amklinv commented on #2166
Okay, I got a bit farther this time with your updates.  I nuked my entire spack and .spack directories, so I'm not doing anything special for the cray.

Spack version (develop branch):
[code]
[code]
[code]
[code]

[2016-11-01 17:57] adamjstewart commented on #2123
Ok, this is getting absurd. I tried installing again with a different compiler and everything built fine, but the package I'm debugging crashed. So I ran `spack clean` and `spack install` again, and now I'm seeing this error message for mvapich2 again. This time I guess I can uninstall it and try again, but I would really love help with this.

[2016-11-01 17:59] adamjstewart commented on #2123
Ha, I forgot identifying specs by hash was broken too:
[code]

[2016-11-01 18:00] adamjstewart commented on #2123
Hmm, but this shouldn't be happening:
[code]
One is version 2.2, the other is 2.2b, but Spack thinks they are the same version, or at least it thinks that 2.2 satisfies 2.2 and 2.2b...

[2016-11-01 18:06] adamjstewart commented on #2123
And... manually deleting the mvapich2 installation results in another libpciaccess bug. I give up.

[2016-11-01 18:11] adamjstewart opened #2199 "Cannot uninstall software"
I have two versions of mvapich2 installed, 2.2b and 2.2. But I am unable to uninstall them:
[code]
I'm also unable to install them by hash:
[code]
Uninstalling them by running `rm` on the directory followed by `spack reindex` corrupts my Spack database, and I can no longer install anything:
[code]
This was reported in #2123, and I have no idea what is causing it. Please help.

[2016-11-01 18:25] adamjstewart commented on #2199
Could all of these bugs be caused by the fact that Spack can't differentiate between mvapich 2.2 and 2.2b? 2.2b is no longer in the package, so that could also complicate things. @davydden @citibeth have either of you seen anything while playing around with version handling that might explain why Spack can't differentiate between 2.2 and 2.2b?

[2016-11-01 18:39] adamjstewart opened #2200 "MVAPICH2 depends on libibverbs"
I was testing out Spack by attempting an installation of mvapich2 on my Fedora laptop. Of course, I don't have any libibverbs installed on my laptop, and even with all of the variants disabled, I was unable to build mvapich2:
[code]
I could use the system package manager to do this, but how would people feel about a Spack package for libibverbs? It looks like you can download it here:
https://www.

[2016-11-01 18:52] BarrySmith commented on #2162
packages:
  mpich@3:

I think you should have just mpich here, not mpich@3

[2016-11-01 19:55] sarich commented on #2162
Yep, changed that it now moves forward, but fails on hypre.
The mpich compiler I want to use is
[code]

hypre is trying to compile with
[code]

In hypre/package.py
[code]

packages.yaml file now contains:
[code]

[2016-11-01 20:05] hartzell commented on #2141
I've just created PR #2203, which fixes the immediate problem with my R plots.

The plots drawn by a linuxbrew installed R (using their xorg stuff) are still nicer than Spack's, I think it's an antialiasing issue but it could be different default fonts or ....  I'll continue to try to track it down.

[2016-11-01 20:35] mpbelhorn commented on #2166
@amklinv,

The copy of Spack we use on the OLCF Crays is modified to handle some of these issues. While we intend to contribute some of these changes upstream, we wanted to make sure they work reliably across all of our systems first.

First, I suspect the "compiler unable to produce executables" problem is caused by confusion between the cray compiler wrapper and the spack compiler wrapper. The p

[2016-11-01 20:36] BarrySmith commented on #2162
For executables in packages I think spack should not take a "path" but should take the entire name of the executable including its full path.

[2016-11-01 20:40] mamelara commented on #2166
@mpbelhorn Is there a branch I can check out these modifications?

[2016-11-01 20:41] hartzell opened #2205 "flake8 complains: No module named pkg_resources"
I'm currently unable to run `flake8`.

`spack install py-flake8` runs without complaint, but the result does not work:

[code]

Activating it also brings no joy:

[code]

[2016-11-01 20:41] tgamblin commented on #2166
@mpbelhorn: is much of this ORNL-specific?  It kind of doesn't look like it.  Since we have #2030 now, I'm curious whether you could contribute this stuff in the defaults for the cray platform, in `etc/spack/defaults/cray`.  This would make things work the way you've set them up out of the box.

[2016-11-01 20:45] tgamblin commented on #2162
Why do you need to use the compiler wrapper here?  Where's `mpicc` actually installed on the ANL machines?  `/soft/compilers/wrappers/gcc` is not the installation directory of MPI, and if we use that as an external it's not going to look like a standard MPI install to Spack.

I realize that ANL has wrappers to make things convenient for users, but I don't think Spack should have to support those,

[2016-11-01 20:48] tgamblin commented on #2162
@wscullin: do you have any insight into this?

[2016-11-01 20:48] tgamblin commented on #2162
Also @adamjstewart

[2016-11-01 20:56] BarrySmith commented on #2162
@tgamblin ANL uses the soft system, it is a bit like your "spack compiler wrapper" :-).  The user calls the single compiler wrapper and based on the environment the wrapper calls the appropriate underlying compiler. The user never sees nor needs to see the underlying compiler locations, which depend on exactly what compilers and features you have registered.

This is sort of like you saying that t

[2016-11-01 21:02] adamjstewart commented on #2162
I'm not sure how ALCF does things, but LCRC doesn't use compiler wrappers. At this point, 90% of our installs (including all of our compilers) are done with Spack and aside from a few hiccups (changing hashes), everything is going fine.

[2016-11-01 21:03] hartzell commented on #2205
Google sez this type of thing is related to having setuptools properly installed.

Oddly enough there's a tcl modulefile for the py-* things, but not an lmod module.

I'll close this and straighten out my environment.

[2016-11-01 21:05] adamjstewart commented on #2205
Is your `py-flake8` installation old? I also ran into this bug and changed `py-setuptools` from a build dependency to a regular dependency, so this shouldn't happen anymore. But yes, that is the problem, setuptools needs to be in your PYTHONPATH.

[2016-11-01 21:06] tgamblin commented on #2162
@BarrySmith: Spack has to support both its own installed versions of MPI *and* MPI installations at facilities.  I don't think it's a *huge* assumption to assume that MPI will be installed the way it was intended to be installed by the vendor, especially when the "vendor" of this particular MPI is ANL.

Also, we're not precluding wrappers -- Spack works fine with the MPI compiler wrappers as insta

[2016-11-01 21:08] pramodk commented on #2162
I am not sure if `wrappers` matters...here is my setup on another bg-q:

[code]
this `/bgsys/...` path exist on every bg-q and contain wrapper scripts. On `Cetus` at ANL I see following:
[code]
So there are all `mpi` standard wrappers exist.

For XL compilers on our system I have :
[code]

On `Cetus ` at ANL, XL compiler installation looks like:
[code]

So adding those compilers and mpi wrappers p

[2016-11-01 21:10] tgamblin commented on #2162
I guess I didn't see above that this is on a BG/Q.  Thanks @pramodk!

Yes -- if you use the vendor MPI install in `/bgsys/drivers/ppcfloor/comm/xl`, this should work.

[2016-11-01 21:16] mpbelhorn commented on #2166
@mamelara The branch is on our internal gitlab instance which is not accessible outside of the ORNL network. There is some potentially NDA stuff in the repo and I need to strip that out before I can put it on my personal github. Much of the changes to core Spack are quick hacks to deal with another system and need to be cleaned up and given tests.

@tgamblin Most of the changes we have, including

[2016-11-01 21:21] tgamblin commented on #2162
@BarrySmith: The potential larger issue here is with the way Spack treats external packages.  We are *trying* to support them (which is risky TBH, as *so much* can go wrong) because you need them on a lot of HPC machines.

When you write:
[code]

Your'e telling Spack that the MPI installed in `/soft/compilers/wrappers/gcc` will indeed satisfy the  `mpich@3%gcc@4.4.7` build spec.  This is not true,

[2016-11-01 21:31] sarich commented on #2162
Thanks @pramodk, I'll give it a shot (but with gcc instead of xl)
By the way, I'm using your bgq-fix pr #1980, thanks! Is there anything holding that up?

Now hypre configure is trying to run a test problem on the front end, and failing because it can't.
[code]

[2016-11-01 21:33] pramodk commented on #2162
@tgamblin :

I have been using it but never looked into it.  So the layout looks like this:
[code]

So all pointing to `redirect-wrapper.sh` which is trivial (IMO) :
[code]
So at the end we do use system provided wrappers (`xl` or `gcc`) but there is just extra switch to link to `Darshan` automatically.

[2016-11-01 21:35] tgamblin commented on #2162
Oh right, I forgot about Darshan.  It should be fine to use the vendor wrappers and to build without Darshan.

[2016-11-01 21:35] adamjstewart commented on #2162
I believe @wcullin mentioned that he had hacked Spack to support SoftEnv, but I'm not sure if it's worth integrating into Spack. From what I understand, even ALCF and LCRC plan on ditching SoftEnv for Modules or LMod.

[2016-11-01 21:44] pramodk commented on #2162
@sarich :

some changes in concretiser needed, like `build` dependencies should be compiled for front-end etc.  I assume, when time permits, @tgamblin could fix those (I don't have enough understanding of internals).

I haven't built `hypre` but I assume there should be `build option` to disable configure tests during `cross compiling`.

[2016-11-01 22:12] BarrySmith commented on #2162
@tgamblin I think you are making unneccessary assumptions about the mpich install directory structure which you don't need to and shouldn't. This is actually similar to your assumptions about python directory layout. These tools (mpich, python) do not define a directory layout, they just commonly use the same directory layout so your assumptions will work most of the time (but not always, for exam

[2016-11-01 22:34] pramodk opened #2207 "spack install gives "OSError: [Errno 35] Resource temporarily unavailable""
While installing mpich I see below error:
[code]

What does this mean? which resource?

[2016-11-01 23:11] tgamblin commented on #2207
what call triggered that?  Can you run it with `spack -d`?  This can happen when you fork and the os hit the proc limit, but it's probably some other resource here.

[2016-11-01 23:59] hartzell commented on #2134
@tgamblin -- I think that I know what needs to be done here, but before I start cutting, is adding the dependencies' `bin` directory sufficient or *should* we be doing something fancier, using the dependencies' `setup_dependent_environment` or ....  Perhaps do something simple first, although I don't want to leave a mess for the next person to pick it up.

[2016-11-02 00:32] tgamblin commented on #2162
@BarrySmith: I agree we need better autodetection capabilities.  The complication, I think, is where they should go in the spack build "pipeline".

Suggestion (2) above for setting the libs for `mpich` is a really good one because it's likely to be less maintenance and portable across different versions of the `mpich` package.  Of course, `mpich` didn't always support that, so it may not hold for

[2016-11-02 04:07] jgalarowicz commented on #2070
@tgamblin @tepperly @mplegendre

Shouldn't there be:
specifications for the Iberty library in the cmake list?
-DIBERTY_LIBRARIES=$LIBIBERTY_LIBNAME
-DIBERTY_LIBRARY=$LIBIBERTY_LIBNAME

That is how I build dyninst outside of spack.

[2016-11-02 04:28] tgamblin commented on #2070
@jgalarowicz: I think you've built Sumi at on more machines than I.  If you know how best to set those vars by platform that would be great.  Can you send a PR?

[2016-11-02 04:30] jgalarowicz commented on #1434
@tgamblin I'm still struggling with this one.  Have you tried "spack install cbtf-krell" on any platforms?  It fails everywhere I try it and I'm stuck.

[2016-11-02 05:35] davydden commented on #2199
i think it is indeed similar to that issue with a single `python` version, namely Spack reads `@2.2` not as a concrete spec, so that both `2.2` and `2.2b` satisfy it.

[2016-11-02 08:39] pramodk commented on #2207
With `-d` I see that its coming from `fork` :

[code]

And then looking at running process realise that there lots unterminated `spack` processes :

[code]
These `417` install processes were hanging around for `single ` package i.e. `spack/bin/spack install -v my_fav_pkg %gcc`  and not sure if I initiated all those `install` commands. But anyway, clearing those processes solve this issue.

[2016-11-02 08:41] tgamblin commented on #2207
I'm curious how those processes became zombies... hm

[2016-11-02 08:42] pramodk commented on #2207
thats difficult to reproduce now :)

[2016-11-02 08:43] tgamblin commented on #2207
Ok well, closing but reopen if you figure out why! 😄

[2016-11-02 08:43] #2207 closed

[2016-11-02 11:13] pramodk opened #2208 "Spack adds external packages to the database (silently) with invalid PREFIX path"
This is bit opposite to #2191 and I commented there about invalid path.

Here is long story...today I saw following error:

[code]
Was wondering why python executable is suddenly an issue. Then realise @BarrySmith  added logic to detect `PYTHONHOME` in  #2173. That looks all good. My `packages.yaml` has always been like:
[code]
Looking at installed packages, I saw that the `python` package silentl

[2016-11-02 12:02] pramodk opened #2209 "spack `config.yaml` and module path error"
I am trying `config.yaml` with `install_tree` and `module_roots` (set to non-spack directory). When I do now `spack load` then I get :
[code]
@tgamblin : Two question :
* Am I supposed set proper `MODULEPATH`? If so, we can close this ticket (but documentation doesn't say this).
* Shouldn't spack use it from what I have specified in `config.yaml`?

[2016-11-02 12:58] alalazo commented on #2209
@pramodk Did you source `share/spack/setup-env.sh` ? Sourcing that file should set up `MODULEPATH` appropriately.

[2016-11-02 13:09] pramodk commented on #2209
yes I did.

I see below in `setup-env.sh`:
[code]
which doesn't seem like consider new `config.yaml` (?)

[2016-11-02 13:13] alalazo commented on #2209
@pramodk Sorry, I overlooked this part:

I think this is indeed a bug...

[2016-11-02 13:17] citibeth opened #2211 "File Permissions for Multi-User Spack"
Not sure if this is already in Spack...

One potential issue with multi-user Spack is that different people will write files with different ownership and group permissions.  This could result in weird behavior; for example, you're unable to uninstall a package.

To solve this problem, Spack needs to ensure all files are written with proper group and umode.  By default, I would want things world-re

[2016-11-02 13:27] alalazo commented on #2209
@pramodk I'll try to submit a PR asap to fix this

[2016-11-02 14:23] hartzell commented on #2205
@adamjstewart -- it was old, and that deployment has suffered through many rounds of install/uninstall/branch-switchery.  It's probably not entirely sane....

[2016-11-02 14:59] sarich commented on #2162
This is an environment problem that I'm still trying to figure out. When I configure hypre from the command line, I get:
[code]

but from spack I get:
[code]

[2016-11-02 15:08] citibeth commented on #2199
Maybe it would work better if Spack thought of it as version `2.2.b`
instead of `2.2b`?  Spack versions work like sets that "contain" versions
longer than them.  But since `2.2b` is the same length as `2.2`, neither
one can contain the other.

I'm not sure how Spack would view `2.2.b` at this point...  another place
where fiddling around with `Version` might be warranted, but I think we
will want

[2016-11-02 15:19] tgamblin commented on #2199
@citibeth: That **is** how versions work.  `2.2b` and `2.2.b` are the same for comparison purposes; Spack splits on either non-alphanumeric characters *or* alpha/numeric boundaries, and compares the resulting tuples lexicographically. `Version.__contains__`:

[code]

[2016-11-02 15:28] mkuron opened #2215 "spack load: don't load multiple variants of same packages and don't load packages that depend on different versions of already-loaded packages"
Assume I have installed two versions of OpenMPI with matching versions of Boost by running the following:
[code]

Now if a user does the obvious thing
[code]
they end up with all matching modules loaded:
[code]
This is of course never the intended action. To get the correct set of modules, a user will need to run commands like these instead:
[code]
`spack find --deps` can tell me what dependencies

[2016-11-02 15:29] adamjstewart commented on #2199
@tgamblin If that's the case, then what is causing this problem?

[2016-11-02 15:35] mplegendre commented on #2070
Dyninst should work without those options--it'll download and build an appropriate libiberty if needed.  Obviously, somthing is going wrong here.

[2016-11-02 15:35] pramodk commented on #2162
@sarich :  what is output of `spack spec petsc +mpi` ?
also could you paste your `compilers.yaml` ?

[2016-11-02 15:36] tgamblin commented on #2070
We don't want it to download libiberty from within Spack...

[2016-11-02 15:47] hartzell opened #2216 "Lmod modules no longer autogenerated, not avail as option to `module refresh`?"
I have a spack tree that I've been working in for a while; I was pleasantly surprised when I noticed that *lmod* modulefiles were being automagically created.

I cloned a clean tree yesterday to try an end-to-end build of my environment and:

- `.../share/spack/lmod` is no longer present; and
-  `spack module refresh --help` does not list `lmod` as an available type of module, `spack module refres

[2016-11-02 15:47] paulhopkins commented on #2199
I am looking at a issue now where I can't activate / deactivate or uninstall packages by hash. It looks like this commands gets the exact spec out of the database and then later on it used to query the database and it gets multiple versions back out. Essentially the commands run:

[code]

If I just use `spec = spec[0]` then the rest of the command works. Really, we need to recognise that the exact

[2016-11-02 15:50] citibeth commented on #2199
@tgamblin  See code below from `version.py`.  I'll be "durned", it does exactly what you said.

[code]

[2016-11-02 15:51] hartzell commented on #2205
@adamjstewart -- in a tree cloned yesterday and built last night, I still need to load the dependent module by hand.  Is this the behavior you expect?

[code]

[2016-11-02 15:57] sarich commented on #2162
I don't have a compilers.yaml file

[code]

[2016-11-02 16:04] pramodk commented on #2162
ahh...with `spack find compiler` it will generate one in `~/.spack/bgq/compilers.yaml` and I manually updated it. Mine looks like:

[code]

Note that `operating_system: cnk` and its pointing to GNU compilers for compute node. (in your case spack using for front-end node)

[2016-11-02 16:05] adamjstewart commented on #2205
I've never used modules before. @alalazo?

[2016-11-02 16:06] hartzell commented on #2205
@adamjstewart -- how do you stitch the various install dirs into your environment?

[2016-11-02 16:08] adamjstewart commented on #2199
Isn't that how the regex works? It matches groups of alpha characters OR numeric characters and adds each group to a tuple.

[2016-11-02 16:09] alalazo commented on #2216
@hartzell The fact that lmod module files were auto-generated was a bug (they were considered in #107 and are effectively a sort of "experimental" feature). You can re-enable the generation adding the line:
[code]
to your ``modules.yaml``. See the docs [here](http://spack.readthedocs.io/en/latest/module_file_support.html#activation-of-other-systems).

[2016-11-02 16:10] adamjstewart commented on #2205
We use something called [SoftEnv](http://www.mcs.anl.gov/hs/software/systems/softenv/softenv-intro.html) at ANL. It's basically modules, but it's a homegrown script that we wrote long before modules existed. It isn't supported by Spack obviously, and we are planning on making the switch to modules in the near future. So if you can discover and work out all the bugs in it now for me that would be g

[2016-11-02 16:11] adamjstewart commented on #2205
Specifically for flake8, I've been activating the package and using the Python soft key/module. But we've ran into enough problems with `spack activate` and changing hashes that I don't think we'll be doing that in the future.

[2016-11-02 16:12] alalazo commented on #2205
@hartzell Yes, that's the expected behavior. You can have a more permanent solution if you:
[code]
See docs [here](http://spack.readthedocs.io/en/latest/basic_usage.html#extensions-python-support).

[2016-11-02 16:16] sarich commented on #2162
Thanks, I'll try that. Currently it does point to the wrong compiler for the compute node kernel:

[code]

[2016-11-02 16:33] hartzell opened #2219 "Should etc/spack/defaults/compilers.yaml be in the .gitignore?"
I build the compiler that I want to use and add it to `etc/spack/defaults/compilers.yaml`.

That file does not not exist in the repository.  Once I've made the change it shows up as an untracked file.  I'm worried that I'll commit it in a fit of sloppiness at some point.

Would it be an appropriate addition to the top level .gitignore?

[2016-11-02 16:37] adamjstewart commented on #2219
You shouldn't edit anything in `etc/spack/defaults`. Put it in `etc/spack`.

[2016-11-02 16:40] adamjstewart commented on #2219
See http://spack.readthedocs.io/en/latest/configuration.html#configuration-scopes for details.

[2016-11-02 16:44] tgamblin commented on #2219
Also `/etc/spack/*.yaml` *is* in `.gitignore`

[2016-11-02 16:44] #2219 closed

[2016-11-02 16:45] tgamblin commented on #2219
Note that this has existed for a while but was only recently documented 😊

[2016-11-02 16:46] adamjstewart commented on #2219
Do we support `/etc/spack` in addition to `$SPACK_ROOT/etc/spack`? I don't remember seeing that in the documentation.

[2016-11-02 16:50] tgamblin commented on #2219
Sorry -- edited.  No, we don't support `/etc/spack` at the system level.  We could wedge it in between defaults and `$spack_root/etc/spack`

[2016-11-02 16:55] tgamblin commented on #2199
I have a large PR that adds support for exact versions coming -- still debugging today.  The issue with versions is that Spack's current notion of "concrete" is "has only a single version", but that's wrong, as versions are really sets.  It will be possible to have either an exact or inexact version, and the concretizer will only mark something concrete if the version is exact.

[2016-11-02 16:56] tgamblin commented on #2199
The PR addresses the various version issues in the 0.10 release.

[2016-11-02 17:22] tgamblin commented on #2162
@sarich: can you print the output of `spack config get compilers` if it's not the same as above?  That will merge all the `compilers.yaml` files from different conflict levels and show you what spack sees.

See the new [docs on how config scopes work](http://spack.readthedocs.io/en/latest/configuration.html#configuration-scopes).

[2016-11-02 17:30] hartzell commented on #2216
Should that also change the behavior of `spack module refresh`?

I made this change:

[code]

but `spack module refresh` is still only offering me the opportunity to refresh my *tcl* module files.

[2016-11-02 17:32] hartzell commented on #2216
However... `spack module refresh -m lmod` does [re]build the lmod modules

[2016-11-02 17:56] citibeth commented on #2199
@tgamblin Oh boy, looks like that will affect the refactoring work I've
been applying to `version.py`.  C'est la vie.  If you want to see where I'm
taking things, look at:

https://github.com/citibeth/spack/blob/efischer/161030-RefactorVersions/lib/spack/spack/version.py

Changes in that file that I think are beneficial (and have nothing to do
with the pluggable version stuff per se) include:

1.

[2016-11-02 19:06] pramodk opened #2220 "bg-q : spack compiler find adds front-end compilers for cnk"
#1980 is still in progress for proper `bg-q` support but adding this issue for tracking purpose:

`spack compiler find` on `bg-q` adds compiler for both `front-end` and `back-end`. For example, here is auto-detected `compilers.yaml ` file:

[code]
Also we need to add support for detection of compilers for `cnk` i.e. `bgxl*` and `powerpc64-bgq-linux-*`.

Edit: for other bg-q users, adding `compiler

[2016-11-02 19:06] alalazo commented on #2216
@hartzell I cannot reproduce your issue. With the default `modules.yaml` I get:
[code]
If I edit `etc/spack/defaults/modules.yaml` like you did:
[code]
Note the allowed options for `--module-type` change accordingly.

[2016-11-02 19:10] pramodk commented on #2162
@tgamblin : I created #2220 and that might be the reason.

[2016-11-02 20:30] jgalarowicz commented on #2070
@tepperly @tgamblin @mplegendre

Here is a patch to dyninst that may work.  dyninst built for me w/o it, so I don't know its effect on my build.

[jeg@localhost packages]$ git diff
diff --git a/var/spack/repos/builtin/packages/dyninst/package.py b/var/spack/repos/builtin/packages/dyninst/package.py
index 3df7ca5..5ddadd3 100644
--- a/var/spack/repos/builtin/packages/dyninst/package.py
+++ b/var/sp

[2016-11-02 20:39] hartzell commented on #2216
I can not repeat it either :cry:.

I've been recently educated in #2219 about etc/spack vs. etc/spack/defaults.

If I create an etc/spack/modules.yaml and put this in it:

[code]

Then I seem to have enabled all three:

[code]

I settled on an `etc/spack/modules.yaml` that contains only this:

[code]

after reading [the documentation](http://spack.readthedocs.io/en/latest/configuration.html#overri

[2016-11-02 20:46] alalazo commented on #2216
@hartzell It is for me if you want to generate only `lmod`: double colon for the win :smile:

[2016-11-02 20:49] hartzell commented on #2216
"Read the docs", that'd be a great name for a website!

[2016-11-02 20:49] #2216 closed

[2016-11-02 20:56] hartzell commented on #2205
I think that the ['direct'](http://spack.readthedocs.io/en/latest/module_file_support.html#autoload-dependencies) stuff here might turn out to be useful to me too.

Thanks for the help!

[2016-11-02 20:57] #2205 closed

[2016-11-02 21:00] sarich commented on #2162
[code]

[2016-11-02 21:34] davydden opened #2222 "how to add a stage to CMakePackage?"
I probably missed that, but is there some documentation on how to use arbitrary stages in build, recently contributed by @alalazo ?

I am just trying to figure out how to add a stage which should run `filter_file()` after installation of the package?

[2016-11-02 21:37] adamjstewart commented on #2222
https://github.com/LLNL/spack/pull/2144#discussion_r85533221

[2016-11-02 21:40] davydden commented on #2222
@adamjstewart thanks, i will give it a try. That's certainly not obvious and should hopefully be documented somewhere in Packaging guide.

[2016-11-02 21:51] adamjstewart commented on #2222
Honestly I'm wondering if we should add a post-install patch phase permanently. It's needed for GCC, all of the MPI's, and other packages where we need to filter the compiler wrappers out.

[2016-11-02 21:59] alalazo commented on #2222
@davydden @adamjstewart I can do that as I did for `check`. How would like it to be named ?

The other thing that I was wondering: I called the decorator for post-phase callbacks `@Class.sanity_check(phase)` because I thought it would have been used mostly for sanity checks. The first two uses seems to contradict this: would you prefer/do you have a better name there ?

[2016-11-02 22:05] davydden commented on #2222
@alalazo If we have a post-install phase permanently (I am in favour of that), would that be `def post_installation(self):`  (with an empty implementation by default) ? One would not need to use decorators, if I understand you correctly.

[2016-11-02 22:23] alalazo commented on #2222
@davydden not a generic post-install phase : I wouldn't like to pass the idea that we should use a single function to do many things post install. We may have a meaningfully named callback used for a specific scope if its use is frequent enough, like `filter_file(self)`. Of course the enforcement is weak, but I would like to keep semantically different things separated.

If it is not frequent, wel

[2016-11-02 22:25] davydden commented on #2222
decorators are fine by me, as long as someone points to an example of how to use it ;-)

[2016-11-02 22:28] alalazo commented on #2222
@davydden You may want to have a look then at the classes in the `build_systems` subdirectory, in particular `check(self)` and `_run_default_function(self)`

[2016-11-02 22:36] davydden commented on #2222
as for the decorators, maybe `run_after` conveys the message better
[code]
?

[2016-11-02 22:49] davydden commented on #2222
@alalazo : should one see logs for those decorators? I don't:
[code]
with
[code]
But it looks like the stage was executed.

[2016-11-02 22:53] davydden opened #2223 "per-package setting for --run-tests and --keep-stage in packages.yaml"
Would be good to have a per-package setting for `--run-tests`  and `--keep-stage` in `packages.yaml`.

Say if I build a huge graph, but care about running small tests only for a few packages, i could add
[code]

ps. CLI would still take precedence to settings in `packages.yaml`.

[2016-11-03 00:38] hartzell commented on #2059
Just a note to myself (and other interested parties), my current hack-around for this is to add
`depends_on('git', type='build')` to the `lua-luafilesystem` package.

[2016-11-03 01:03] citibeth opened #2224 "Hash codes on `spack spec`"
I'm getting unusual rebuilding... some packages seem to want to install a new version every time I do a `spack install`, for no apparent reason.

In order to debug this, I would like a command flag on `spack spec` that display the hash code of each node in the DAG.  Then I can (for example) do a bunch of `spack spec` calls and see if/when the hashcode changes for certain dependencies.

[2016-11-03 05:25] davydden commented on #2222
p.s. here's where I needed this https://github.com/LLNL/spack/pull/2226

[2016-11-03 06:03] alalazo commented on #2222
@davydden If you log something in decorated functions, the log will appear only in the log file (or to screen if you run with verbose mode on).

I like `run_after`. If @tgamblin agrees I would wait for this release to happen (so that I won't introduce accidental bugs) and then change the name of decorators to `run_before` and `run_after`.

[2016-11-03 06:14] davydden commented on #2222
What i meant about logging is that i do not see in terminal output of Spack any confirmation that the extra stage 'run_after/sanity_check' was executed. Something like: Executing stage: 'run_after install'.

If it is easy to add, would be good to have. Otherwise not a big deal.

[2016-11-03 06:16] alalazo commented on #2224
Another thing that could be useful: a switch that tells you if any spec in the DAG is in the DB (i.e. installed). something like:
[code]

[2016-11-03 06:21] alalazo commented on #2222
@davydden Not so easy to have it unconditionally because it's under output redirection within `Package.build_process`. It's the same deal we had before for `tty.msg` written in `Package.install` methods that were not shown to stdout.

[2016-11-03 07:45] #2170 closed

[2016-11-03 10:50] citibeth commented on #2224
Yes... or just both at once.

On Thu, Nov 3, 2016 at 2:16 AM, Massimiliano Culpo <notifications@github.com

[2016-11-03 11:19] citibeth opened #2229 "Inconsistent Specs for the Same Package"
@tgamblin @alalazo @adamjstewart

I've had some problems with the same package being installed twice under different hashcodes, even though NOTHING relevant changed.  Certain packages seem to be "hot spots" for this behavior; for example, `py-numpy` in my case.  See:

[code]
The last change to my Spack was Oct 6, so why does it keep re-installing?  Let's look at the `.spack/spec.yaml` for each of

[2016-11-03 11:23] citibeth commented on #2229
I added this to the Project as "nice to have" and not "required."  It is annoying and would be REALLY NICE to get fixed.  But Spack is still usable even with this bug.

[2016-11-03 11:55] alalazo commented on #2229
Easy answers first :smile:

Those are `yaml` anchors : they give an `id` to an object (in this case an empty list) and re-use it afterwards with `*` keyword. Note that it means that in the object that was dumped *the same python object* was used for both entries. An example is worth a thousand words here:
[code]

[2016-11-03 12:10] alalazo commented on #2229
What makes you think `Spack` operates on a tree and not on the full DAG?

As far as I can see in `spec.yaml` you have all the information to fully reconstruct the DAG (including dependencies for every node, and type of dependencies). Also, don't know if you knew it, but there's another command similar to `spec`:
[code]
for complex packages it supports `dot` to output graphs.

[2016-11-03 12:23] citibeth commented on #2229
It's my best hypothesis to explain why `py-nose` is in one `spec.yaml` and
not the other.  The hypothesis could be wrong, of course, but the
mysterious `spec.yaml` files show that something is going wrong.

[2016-11-03 12:39] healther opened #2230 "Python lacks _scproxy on macOS"
I'm on a MacOS machine running Sierra and I ran into the problem of a broken spack after loading a spack-installed py2.7.12 .

I gathered that _scproxy is a Mac-only package, although I'm not sure what exactly it is needed for. Is this a known problem? If so where/how can I find the solution to it?

Any help would be greatly appreciated.

Full traceback:
[code]

[2016-11-03 12:53] alalazo commented on #2229
Can you post a `tgz` (under `txt` disguise) of the whole `.spack` folder for say, the first installation? There are other inconsistencies the `spec.yaml`: for instance the dependency types are wrong for `py-setuptools` or `py-nose`. @tgamblin Is this something known?

[2016-11-03 13:14] citibeth commented on #2229
OK, here it is.
[spack.tar.gz.txt](https://github.com/LLNL/spack/files/569022/spack.tar.gz.txt)

BTW... I just renamed `env-modele` to `env-modele-ks` in my repo.  Last night I did `spack install env-modele`, so there shouldn't be much change.  Right?  Well... it's installing a whole slew of stuff, including a new `netcdf`.  I've included that in the tarfile as well, plus a log of what it's instal

[2016-11-03 13:47] alalazo commented on #2229
@citibeth Summary of facts I noticed:

1. All `packages.py` **are equal**

[code]
  so the problem is not there.

1. The installation that is apparently "right" for `py-numpy` is `5fjabod6muxily63zp3qjdczj6v3yowg` : build dependencies shouldn't be listed in `spec.yaml` as they don't take part in the hash computation. Can you confirm @mathstuf ?

1. For some reason the other two installations diffe

[2016-11-03 13:53] citibeth commented on #2229
That sounds like a good clue.  Why don't we focus on getting a minimal case
where things go wrong?  If we can get #2224 implemented, then I can play
around with a clean Spack, try different things in `packages.yaml` and see
if I can reproduce this bug (meaning... get different hashes coming out of
`spack spec` for the same package).

But first step is to implement #2224.

On Thu, Nov 3, 2016 at 9:

[2016-11-03 13:59] citibeth commented on #2230
This looks like a problem with Spack's macOS installation of Python.  See:

http://stackoverflow.com/questions/5647023/no-module-named-scproxy-on-osx

[2016-11-03 14:00] citibeth commented on #2230
The workaround for now would be to hard-code the Python used for your Spack.  Edit the file `spack/bin/spack`.  Change the first line from:
[code]
to:
[code]
(or wherever the System python lives on your machine).

[2016-11-03 14:02] citibeth commented on #2224
This feature is key to building a simple test case for #2229.

[2016-11-03 14:04] citibeth commented on #2215
Try `spack module loads boost`

[2016-11-03 14:18] mkuron commented on #2215
Interesting command that could help with constructing dependency specs, if it actually showed the dependencies and not only the variants
[code]

However, I still think that the suggestions I made for `spack load` in the three bullet points would be helpful in making the command easier to use and less error-prone for novice users.

[2016-11-03 14:22] citibeth commented on #2215
Sorry, I meant `spack module loads --dependencies boost`

On Thu, Nov 3, 2016 at 10:18 AM, Michael Kuron <notifications@github.com>
wrote:

[2016-11-03 14:31] mkuron commented on #2215
Ah yes, that essentially shows the dependency tree. So that will be quite helpful for me as the cluster admin, but it's nothing my users will probably want to bother with.
I suppose that one could manually write modulefiles to wrap Spack modulefiles to cover points 1 and 2 in my list, perhaps even 3 with some Tcl scripting, but handling these on a Spack level would be a cleaner and more convenient

[2016-11-03 14:41] citibeth commented on #2215
OK, to be more clear:
[code]
Users don't want to be running Spack routinely in your `.bashrc` because it's slow.  `spack load` is good for one-offs in the shell, but not for setting up a list of modules you will load repeatedly.

The docs go into greater detail on this issue.

OK, to your points:

I agree.  BUT... what if I want to load a new module explicitly to override an older module that's al

[2016-11-03 14:51] healther commented on #2230
Thanks for the quick reply, that fixed my immediate problem. However it won't help for libraries that explicitly need _scproxy, as is apparently the case for NEST (my initial installation target)

Any suggestions on how I can provide the module?

[2016-11-03 14:58] citibeth commented on #2230
Building stuff for Mac is problematic, in my experience.  Things don't "just work."  Starting with Yosemite, many things won't build with GCC; and yet Apple offers no Fortran compiler.  And little minefields abound.

How to build the module?  Find instructions on-line somewhere and follow them, thus creating a Spack package.  Test it make sure it works, then add it as a macOS-only dependency to th

[2016-11-03 14:59] mkuron commented on #2215
Thanks for the extensive reply. Here is a bit more input from my side:

1. Regarding the conflicts: you are right about the problem of switching to a different version, but wouldn't you just want the new module to be loaded (and conversely, the old module to be unloaded)? So it should translate to `module switch modulename/newversion` if _modulename/oldversion_ is already loaded and `module load m

[2016-11-03 15:00] tgamblin commented on #2230
we should probably just make the mac build [do this](http://stackoverflow.com/questions/5647023/no-module-named-scproxy-on-osx)

[2016-11-03 15:03] #2140 closed

[2016-11-03 15:04] davydden commented on #2230
i don't use python much, i never came across this problem, sorry.

[2016-11-03 15:06] alalazo commented on #2215
@mkuron You may want to have a look at [this part](http://spack.readthedocs.io/en/latest/module_file_support.html) of the docs. Or even have a preview of the tutorial in #2228 that should guide you through an example that covers most of what you can do in terms of module file generation with the current Spack.

[2016-11-03 15:11] citibeth commented on #2215
On Thu, Nov 3, 2016 at 10:59 AM, Michael Kuron <notifications@github.com>
wrote:

minor benefits.  The easy problem is to add modules; and when you've had
enough, do a `module purge` and start over again.  Actually, I usually just
log out and in again; which is really easy with ssh connection sharing.

I suppose this all depends on the procedures and expectations at your
site.  Users don't HAVE to

[2016-11-03 15:34] JavierCVilla opened #2231 "How to use a software repository as a mirror?"
Reading the [mirror documentation](http://spack.readthedocs.io/en/latest/mirrors.html), seems that to create a mirror with a list of packages it is necessary to download all the packages into your local machine and then create the mirror (please correct me if I'm wrong). This list of packages grouped together afterwards could be located in web server.

This approach is perfect for a small amount o

[2016-11-03 15:44] healther commented on #2230
Thanks for your comments, I'll take a look at the effort that _scproxy would require, but I feel I'll have to get some kind of native Linux installation for a somewhat pain free solution

[2016-11-03 15:48] citibeth commented on #2230
Yes, native Linux was my conclusion.  I reformatted my HDD and had CentOS 7
installed (the Linux allowed at our site).  I also know people who run a
Linux VM on top of macOS.

On Thu, Nov 3, 2016 at 11:44 AM, healther <notifications@github.com> wrote:

[2016-11-03 15:53] healther opened #2232 "spack install fails with AttributeError"
I came across this error first, when trying to build a custom made spack package for one of our own modules. There it occurred once I added
[code]
to the package.py file. So running ```spack install py-sbs``` completed without these two lines, but obviously it failed at runtime. So I did a ```spack uninstall py-sbs```, added the two lines to the package.py and did a ```spack install py-sbs```
This

[2016-11-03 17:29] adamjstewart commented on #2229
I've also ran into this problem as well. I wish I could provide steps to reproduce it. Like @citibeth, my assumption was that Spack was using a tree instead of DAG internally and that was causing the problem. But if that's not the case, maybe it has something to do with the deptypes? If package A depends on B and C, and B has a 'build' deptype on D while C has a 'build', 'link' deptype on D, are w

[2016-11-03 17:30] tgamblin commented on #2231
`spack mirror create` does create a mirror the way you describe, and tries to download all the packages automatically.

But, there is also `spack mirror add <name> <url>` will let you register an already-created mirror as  palace to download packages.  So you can do this:

[code]

And Spack will do what you're asking.

Somewhat related is that in `config.yaml`, the `source_cache` is a path to a lo

[2016-11-03 17:33] adamjstewart commented on #2222
Does it output something when running `make check`? I haven't actually tested this new behavior.

[2016-11-03 17:34] citibeth commented on #2229
I believe there are testing-oriented packages in the test repo.

I also have a "bundle" package (env-modele-ks) in efischer/develop on my
fork (github/citibeth/spack).  It's pretty fast to install.

On Thu, Nov 3, 2016 at 1:29 PM, Adam J. Stewart <notifications@github.com>
wrote:

[2016-11-03 17:35] adamjstewart commented on #2229
How do I create and use testing (mock?) packages? Just another thing that should be documented in the Developer Guide... _sigh_

[2016-11-03 17:38] citibeth opened #2233 "Document how to create mock packages for unit tests"
I believe there are testing-oriented packages in the test repo.

I also have a "bundle" package (env-modele-ks) in efischer/develop on my fork (github/citibeth/spack).  It's pretty fast to install.

[2016-11-03 17:42] citibeth opened #2234 "Improve Version Conflict Error Message"
I got the error message below.  How the **** am I supposed to figure out where the problem lies?  This error message needs to give more relevant information.
[code]

[2016-11-03 17:44] JavierCVilla commented on #2231
@tgamblin Ok, so this option:
[code]
Does it require that the mirror had been previously created? With the command `spack mirror create`?

[2016-11-03 17:47] alalazo commented on #2229
Have you tried to use the `fake` option of `install`?

[2016-11-03 17:48] citibeth commented on #2229
No.... that sounds like a good idea, and less work than adding a new
feature.  I'll see what I can do with it.

On Thu, Nov 3, 2016 at 1:47 PM, Massimiliano Culpo <notifications@github.com

[2016-11-03 17:52] adamjstewart commented on #2229
Wow, how long has that been there?

[2016-11-03 17:55] tgamblin commented on #2229
A while :)  It's for debugging.

[2016-11-03 17:59] adamjstewart commented on #2231
I believe it can be an existing mirror, but it has to have the directory structure that Spack expects. The easiest way to get that is obviously with the `spack mirror create` command.

[2016-11-03 18:03] alalazo commented on #2222
@adamjstewart Yes, but just in the log file or when you run in verbose mode.

[2016-11-03 18:40] tgamblin commented on #2231
@adamjstewart is correct -- the structure is:

[code]

Where `<pkg>` is the package name, `<pkg>-<version>` is the name, a dash, and the particular version, and `<suffix>` is the suffix in the package's download URL for that version.

It's intended to be fairly easy to assemble a mirror by hand -- you just move the downloaded archive into the mirror and keep the same format as the original downloa

[2016-11-03 18:50] tgamblin commented on #2229
Ok so it looks *to me* that the issue here is the YAML anchors.  They will adversely affect the hash in ways we don't want.  Ugh.  I looked at this previously and I thought I had gotten rid of them by duplicating certain objects in specs.  But apparently not.  I dug a bit deeper and it looks like we can [force YAML to ignore them](http://pyyaml.org/ticket/91).  So I *think* that is the fix.

Some

[2016-11-03 18:58] alalazo commented on #2229
@tgamblin What about the fact that e.g. `py-nose` is listed as a `('build', 'link')` dependency in one of the spec above, while it is only `('build',)` in `py-numpy/package.py`?

[2016-11-03 19:01] citibeth commented on #2229
Glad that it looks like a solution is at hand!

BTW... would it be more robust if we just hashed the DAG directly, rather
than hashing its YAML representation?

On Thu, Nov 3, 2016 at 2:50 PM, Todd Gamblin <notifications@github.com>
wrote:

[2016-11-03 19:31] adamjstewart commented on #2123
Had this happen to me again today. I tried installing hdf and hdf5, but they both crashed. This obviously led to zlib being installed. Then, I successfully build hdf by adding a compiler flag. This caused another zlib installation with the compiler flag as the only difference. Then I tried installing hdf5 with the same compiler flag and I got:
[code]
This time I was able to create a debug tarball.

[2016-11-03 19:32] davydden commented on #2229
This looks similar to https://github.com/LLNL/spack/issues/1457 which has to do with merging of dependency types.

@adamjstewart

look at this PR for an example https://github.com/LLNL/spack/pull/2064 But I agree that it should be documented at some point.

[2016-11-03 19:38] citibeth commented on #2233
See #2064 for an example (Thanks @davydden  )

[2016-11-03 19:38] davydden commented on #2233
you are welcome.

[2016-11-03 19:39] citibeth commented on #2232
I've never seen this.  @adamjstewart @alalazo @tgamblin  anyone?

[2016-11-03 19:42] adamjstewart commented on #2232
I've never seen this before. By the way, you shouldn't need to load Python and its dependencies to install Matplotlib, Spack does this internally. In fact, I have encountered a few problems when running Spack with a Spack-installed Python.

[2016-11-03 19:52] citibeth commented on #2232
One one system (but not another) I've found I had to load Python and its
deps to install some Python stuff.  I believe I've submitted an issue on it.

Spack doesn't work at all with my Python, since it's Python3.  I solve this
with:
[code]
If you're trying to have Spack avoid a Spack-installed Python2, the alias
would be a bit different.

On Thu, Nov 3, 2016 at 3:42 PM, Adam J. Stewart <notificati

[2016-11-03 19:59] citibeth opened #2235 "Better Spack Setup"
I really want a better `spack setup` command.  It would work like `spack setup --pkg <pkg1> --pkg <pkg2> ... <spec>`.  The idea is, Spack would generate a `setup.py` file for every package specified by `--pkg` while scanning the concretized spec.  This would be useful for setting up a manual build on a few packages within a large DAG.

[2016-11-03 20:11] svenevs opened #2236 "[Suggestion] [Low Priority] Change output of suggestion to use -k / --insecure for added clarity"
When `curl` has an SSL certificate verification problem (mine was exit code `60` in this specific case), the output is slightly confusing. It prints out

[code]

For some reason I thought this entire message was coming from `curl`, but only the first two lines were.  The rest is output by `spack`.  It should have been obvious, but I pulled out the man page of `curl` first and found `-K` and though

[2016-11-03 20:23] adamjstewart commented on #2236
Wait, is that a Spack command output? I'm not finding that text anywhere in lib. On Linux, the option is `-k, --insecure`. We just happen to use the same syntax. Do you happen to have GNU curl installed in addition to your system curl? I wonder which one it is picking up.

[2016-11-03 20:29] svenevs commented on #2236
Lol. Oh my, I think you're right that actually is all from `curl`.  Guess there's nothing to do here then?  I ended up realizing it was an option for `spack` after browsing some of the issues and ultimately finding [this PR commit](https://github.com/LLNL/spack/pull/1786/commits/261decd36eabf199040b5ce5196a9a5b4f2c43b4).

So I guess I'll close this...sorry x0

[2016-11-03 20:30] #2236 closed

[2016-11-03 20:32] adamjstewart commented on #2236
Also, if you need to do this permanently, it can now be set in your `~/.spack/config.yaml` with the use of the `verify_ssl` setting: http://spack.readthedocs.io/en/latest/config_yaml.html#verify-ssl

But I wouldn't recommend that. You should probably sort out your SSL cert problems...

[2016-11-03 21:04] adamjstewart commented on #974
This can be closed now that Spack supports specifying compiler flags in `compilers.yaml`.

[2016-11-03 21:04] #974 closed

[2016-11-03 21:24] adamjstewart commented on #974
By the way, if anyone wants to know what I'm talking about, this article can explain it much better than I can.
https://www.chpc.utah.edu/documentation/software/single-executable.php

[2016-11-04 07:34] tgamblin commented on #2230
I'm actually unable to reproduce this on elcapitan.  @healther: what compiler are you using?  Is your `gcc@4.9.3` from Spack or something else?

[2016-11-04 08:21] tgamblin commented on #2229
@alalazo: I'm not sure about the nose part. But I've got a PR to debug this and at least a fix for the handles.

[2016-11-04 08:47] JavierCVilla commented on #2231
Ok, I see. So there is no way to use an existing web server where I have all my package tarfiles without preprocessing and modify previously its folder structure to match with the described above.

Let's say that I have now a server with this structure:

[code]
So that, just creating a new mirror folder with the structure that Spack expects to find, maybe with softlinks to my current structure sho

[2016-11-04 08:50] tgamblin commented on #2231
Yep! Two observations:

1. In your example, `Python` should be `python` to match the package. but aside from that yes.
2. The checksums of these tarballs need to match what is in spack's package files.  Otherwise the check will fail after download.

[2016-11-04 08:59] JavierCVilla commented on #2231
@tgamblin Nice, I'm aware of both things (I used Python with uppercase in a previous service). So, perfect I'll try it!

[2016-11-04 15:52] sarich opened #2242 "spack trying and failing to install mpich (set as not buildable) after failed metis build"
On cetus:

in barry/develop branch

I tried to install petsc@develop, there was a failure in metis (after recognizing a current installation of mpich)

[code]

And what is more, now when I try again, spack tries and fails to install mpich:
[code]

[2016-11-04 16:10] sarich commented on #2162
Reopening -- the original problem (removing nonexistent item from dictionary) hasn't been fixed

[2016-11-04 16:12] sarich commented on #2162
[code]

[2016-11-04 18:00] citibeth opened #2246 "Document how to use CMakePackage in the Packaging Guide"
What methods can I override, and why?

[2016-11-04 18:00] citibeth commented on #2246
@alalazo

[2016-11-04 18:04] davydden commented on #2246
Roughly, the most important is
[code]
which should have all the xtra arguments to cmake apart from standard arguments (prefix, build type, and a few others). those are in a private-like function `_std_args` which is not to be messed around with.

Build type can be overriden in
[code]

Finally for fancy cases one could tweak
[code]

That should be it.

[2016-11-04 18:10] adamjstewart commented on #2246
Until things are documented properly, you can view limited documentation by going to http://spack.readthedocs.io/en/latest/spack.html and searching for CmakePackage.

[2016-11-04 18:47] #2224 closed

[2016-11-04 18:47] #2229 closed

[2016-11-04 19:00] #2209 closed

[2016-11-04 19:08] citibeth opened #2247 "Discussion on Changing Hashes"
@tgamblin  I'm pulling this out of #2238 because that is a PR and is now closed.  But it seems to have ignited a decent discussion.

@adamjstewart  At one point, #1338 I proposed how we could gracefully handle changing Spack hashes, which you brought up in #1335.  Not many people seem to have noticed #1338.  Do you think these ideas might be the right direction for us?

Yes, this worries me too.

[2016-11-04 19:12] alalazo commented on #2247
I think this potentially makes hashing a function of the interpreter that is used.

[2016-11-04 19:13] citibeth opened #2248 "Consistency of Config Files"
@tgamblin @alalazo
See #2245

My concern here is that different config file systems, authored by different Spackers, use different conventions.  `config.yaml` uses lower-case names with dollar signs, possibly surrounded by curly braces.  Module configuration uses upper-case names with dollar signs.  There is talk about maybe just using curly braces, not dollar signs.

Whatever we decide... we shou

[2016-11-04 19:15] adamjstewart commented on #2247
Agreed. Changes to a `package.py` can be important, but if you installed something and it's working fine, then they probably aren't important to you. If it isn't working, you can uninstall it and reinstall it with the new `package.py`.

🎉

Let me take another look at #1338

[2016-11-04 19:17] citibeth commented on #2247
Yes, exactly.  Someone adds a newline to `zlib/package.py`, and now Spack
wants to rebuild everything.

[2016-11-04 19:50] tgamblin commented on #2247
I don't really want to get into a huge discussion about this right now because I was thinking I would get release things done today.  But let me see if I can clear this up.  This is also relevant for #1325.

FYI: @scheibelp took a prototype I wrote up a long time ago and has a `package.py` hasher that he uses to generate new release numbers for RPMs. This is sketch of how it works.

`package.py` f

[2016-11-04 19:54] tgamblin commented on #2248
I agree!  At this point I think we're a little inconsistent, but do note that @scheibelp has been working on this in some of his recent PRs.  Another place where consistency is going to be important: there are a bunch of places in Spack where `packages.yaml`-like files are going to emerge.  Keeping the syntax of those things consistent is important.  @scheibelp has been working on making the confi

[2016-11-04 20:08] adamjstewart commented on #1338
I very much agree with this, but I think our opinions on implementation differ. In my idea, if I install `hdf`, I don't care what version of `zlib` is installed. If I install `hdf ^zlib@1.2.3`, then I do care, and Spack should rebuild `zlib` if `1.2.3` isn't already installed.

I kind of understand where you're going with this? Are you proposing something like what currently exists for modules sup

[2016-11-04 20:19] alalazo commented on #1338
I think we should really keep an eye on @scheibelp work for that. See #2168

[2016-11-04 20:20] tgamblin commented on #1338
@adamjstewart: this is the idea!

[2016-11-04 23:16] xjrc opened #2249 "Spack Fails to Properly Identify Installs on Different Platforms"
When attempting to use a single Spack instance to manage installs for multiple platforms, Spack currently runs into issues recognizing the install platforms for packages that were installed on a different platform than the current platform.  While this problem may not affect all multi-platform Spack instances, it seems to affect at least instances that have packages that span Linux platforms with

[2016-11-04 23:17] xjrc commented on #2249
As an aside, if this issue isn't a duplicate and isn't being worked on by anyone else, I'll take a stab at getting it fixed.

[2016-11-04 23:40] tgamblin commented on #2156
Fixed by #1629.  See rationale there.

[2016-11-04 23:40] #2156 closed

[2016-11-05 00:23] adamjstewart opened #2250 "HDF 5 tests linking to the system HDF 5 installation"
I just tried installing a pre-release version of HDF 5, but `--run-tests` failed for me with the following message:
[code]
Upon further investigation, I found that the executable is not RPATHed, and is linking to my system installation:
[code]
This is causing the incorrect version to be picked up.
[code]
@eschnett

[2016-11-05 00:44] tgamblin commented on #1560
Fixed by #1629.

[2016-11-05 00:44] #1560 closed

[2016-11-05 03:14] #1520 closed

[2016-11-05 10:24] alalazo opened #2251 "`spack test`: ~5x slowdown in tests involving `MockDatabase`?"
Information on where I am working:
[code]
If I run any test involving `MockDatabase` from the latest develop:
[code]
Going back over the last commits, the first one at which I get the old performance is:
[code]
This seems to point to #1822 as the source of this slowdown. Can anybody else reproduce the issue ?

[2016-11-05 11:27] davydden opened #2253 "python does not have cPickle module on SuSe13"
**update:**
it looks like there is a problem with `python` built by spack, see [below](https://github.com/LLNL/spack/issues/2253#issuecomment-259417869).

---
those who use python, do you know what could be the problem with `cPickle` module missing in Python built by Spack:
[code]
?

Do you think it's PETSc issue or Python built by Spack? Anyone tried bulding petsc with Spack on SuSE13?

[2016-11-05 16:41] citibeth commented on #2253
It looks like PETSc is trying to build with Python3 instead of its required Python2.  This could potentially be coming from your Spack (if you built Python3 and then loaded it into your environment and you're building with `--dirty`).  Or more likely from your SuSE.  Linux distros are just beginning to ship Python3 standard, the phase-out of Python2 continues...

If you build the standard Python t

[2016-11-05 16:45] davydden commented on #2253
Thanks @citibeth , i will look closer into what is happening and especially how `python3` could possibly be picked up. The only recent change to `python` package is https://github.com/LLNL/spack/pull/2173 , maybe it is somewhat related... I will comment later in this thread once I know more...

[2016-11-05 16:54] citibeth commented on #2253
I added Python2 to my `packages.yaml`.  No point in building Python just as
a build dependency for other stuff.  If Spack is running, then by
definition you ALREADY have a Python 2.6 or 2.7 that should be suitable for
building PETSc.

@tgamblin

One idea for these things that require Python as build dependency... would
be to able to just ask Spack for its Python, and use that to run the
`configure

[2016-11-06 10:23] pramodk opened #2257 "Using single spack instance for multiple architectures"
I have been using single spack instance/installation for `bg-q` and `x86` cluster. But today on `bg-q` I am seeing `x86` packages :

[code]

Why? Is this expected new behaviour?

[2016-11-06 11:30] alalazo commented on #2257
Yes, using `spack find` you see all the packages you have installed no matter the architecture.

[2016-11-06 12:51] pramodk commented on #2257
Ok, I probably didn't notice that before. How `spack load` is supposed to behave / handle this? Currently I see :
[code]
Would be better to say `mytestpkgA  not installed for arch xxx`?

[2016-11-06 13:17] citibeth commented on #2257
Why don't you just use two Spack instances?

[2016-11-06 15:00] pramodk commented on #2257
I will do this. Is this recommended approach / how others use it?

(as there is now `platform` specific `sub-directotirs` inside `~/.spack`, I was wondering if I can just use single instance).

[2016-11-06 15:06] pramodk opened #2258 "spack patches for gcc installation (version 4.9.x)"
I was trying to install `gcc` and see following :

[code]

I haven't looked at which `patches` but wondering if those are backported or something else.

[2016-11-06 15:50] adamjstewart commented on #2258
Must be. Can you see which patch it was? We just need to modify the version range to exclude 4.9.4.

[2016-11-06 15:52] adamjstewart commented on #2257
You should be able to use a single Spack instance. That's the whole point of having platform-specific subdirectories.

[2016-11-06 15:52] pramodk commented on #2258
And for `5.2.0`

[code]
I haven't been building `gcc` myself for long time....

[2016-11-06 16:03] adamjstewart commented on #2258
What platform are you on? For `5.2.0`, try building `~binutils`. For `4.9.4`, it looks like the patch I added broke things. It works for older versions, so they must've backported it. I'll submit a PR shortly.

[2016-11-06 18:08] pramodk commented on #2258
[code]

yes, `gcc-backport.patch` was causing that problem. #2259 fixes the issue.

[2016-11-06 18:18] pramodk commented on #2257
@adamjstewart: on system with shared filesystem between `bg-q` (`bgq-CNK-powerpc`) and `x86` (`linux-redhatenterpriseserver6-x86_64`), which are completely different platforms, we need fix for `spack load` etc? because there is no point of loading `x86` packages on `bg-q` (similarly for other platforms).

[2016-11-06 18:26] tgamblin commented on #2257
@pramodk: we have shared filesystems between multiple architectures at LLNL, and so do many sites.  You should be able to use a single Spack instance.  Also, on systems like BG/Q, there are multiple platforms involved anyway -- `bgq-cnk-ppc64` and `bgq-rhel7-ppc64` (or whatever the frontend is).   The query `spack find platform=bgq` should work to filter out the results from other platforms - can

[2016-11-06 19:06] pramodk commented on #2257
yes, thats working as expected.

that was just my `poor` attempt to say that there should not be module load error (but `at least` something like package not installed for architecture). But I agree that using `arch` string for `module load` would be useful.

[2016-11-06 19:12] pramodk opened #2260 "spack install and "self.prefix_lock.release_read(), assert self._reads > 0""
Creating this issue in case it helps to find out some inconsistencies:

I was trying to install gcc => then network connection dropped =>  re-trying `spack install `gives:
[code]
I removed `install prefix/stage`, did `reindex` and able to install package.

[2016-11-06 23:31] #2258 closed

[2016-11-07 04:50] #2251 closed

[2016-11-07 06:38] davydden commented on #2060
just saw another peculiar example: `lz4` requires `valgrind` to test in the build folder by `make('test')`. So it looks like test dependency types sometimes should also be available during `install()` phase of a package. But of course they should not influence hashes.

[2016-11-07 06:59] pramodk opened #2265 "Issue with handling cflags/cxxflags with spack load"
As #2227 is merged, I am testing issues mentioned in #1953. `spack install` now works fine. I have installed package with 3 different flags:

[code]

But if I now use same `flags` to load package, I see :
[code]

[2016-11-07 07:00] tgamblin commented on #1953
Per @pramodk this is fixed by #2227.  @KineticTheory: Can you verify

[2016-11-07 07:07] pramodk commented on #1953
also tested adding `flags` in `compilers.yaml` :

[code]

**doesn't** trigger #2123 as reported earlier. So all looks good!

[2016-11-07 07:20] tgamblin commented on #2123
@adamjstewart: can you test with #2227?

[2016-11-07 09:01] tgamblin commented on #2060
@davydden that's a helpful use case

[2016-11-07 09:17] healther commented on #2230
Sorry for the slow reply, I was away over the weekend. I'm on Sierra (10.12.1), not sure it that makes the difference.

Yes I'm using a gcc@4.9.3 from spack built by an gcc@6.2.0 also from spack but built by the native clang (I guess its comes with Xcode).
Can you actually use urllib (according to the SO article from above it actually uses _scproxy)?

Not sure if this is helpful information:
Right

[2016-11-07 09:19] alalazo commented on #1953
@tgamblin @pramodk `cflags` ordered this way seems a bit weird at a first glance. Why are the `-O1 -g` flags between `-O3` and `-fPIC`? I am worried that if we really pass things unordered to the compiler, we cannot know which option  among a set of mutually exclusive ones have precedence.

[2016-11-07 09:35] healther commented on #2232
@citibeth Thanks for the alias trick.
However it does not alleviate my problem right now :/ I tried installing different packages, some work, some fail, however I can't give you any clear pattern

Works:
- tmux, vim
Fails:
- py-matplotlib, py-scikit-learn, py-scikit-image

I will try some additional packages today and keep this list updated, but I don't have an idea of where I could start to find

[2016-11-07 09:37] mkuron commented on #2215
We provide libraries in a mix-and-match fashion and our users load whatever they need for the software they compile themselves.

After a bit of tinkering with configuration files, I think Spack will work fine for us as is. Users will not interact with the spack command at all, but instead use module load directly. By modifying the module naming scheme, I was able to get the module names unique eve

[2016-11-07 10:05] pramodk commented on #1953
completely agree, and that came to my mind when I first looked at it! And then I thought might be just print time by `spack find`. Let me verify what happens during compilation...I assume these flags shown in `speck-build.out or speck-build.env`?

[2016-11-07 10:12] alalazo commented on #1953
@pramodk

In `.spack/build.out` you should have a log of all the compiler invocations done in the build. I think we can infer what was the real order from there.

[2016-11-07 10:16] pramodk commented on #1953
Ok, to confirm :

[code]

I don't see flags in `.spack/build.out` and I assume that's because those flags are added into spack compiler wrappers.

[2016-11-07 11:05] alalazo commented on #1953
@pramodk  you're right :smile:

[2016-11-07 11:11] citibeth commented on #2230
Python does not build with gcc on recent macs, in my experience.  Must use
clang.
On Nov 7, 2016 4:17 AM, "healther" <notifications@github.com> wrote:

[2016-11-07 12:46] healther commented on #2230
Spack managed to build python with gcc. At least I see
[code]

So python claims to have been build by a gcc@4.9.3. On the other hand, I fail to do this manually... I.e. trying to configure the python source code with ```CC=gcc && CXX=g++``` fails due to an t_size error.

However following the instructions from [SO](http://stackoverflow.com/questions/5647023/no-module-named-scproxy-on-osx) (except

[2016-11-07 12:51] citibeth commented on #2230
On Mon, Nov 7, 2016 at 7:47 AM, healther <notifications@github.com> wrote:

I would look at `python/package.py`, this should tell you what Spack is
doing to build Python.

That's a good start... any way this can be incorporated into
`python/package.py`?

It's OK to mix-n-match compilers with C code, but not C++ or Fortran.

[2016-11-07 14:37] citibeth commented on #1607
I believe this has been merged...

[2016-11-07 14:37] #1607 closed

[2016-11-07 14:40] citibeth opened #2267 "Document Locking in Spack"
@tgamblin wrote in #2189

Can this get documented?  Or collect a list of PRs from which relevant documentation could later be extracted?  I have exactly the same need elsewhere; can I just use `llnl/util/lock.py`?

[2016-11-07 14:55] tgamblin commented on #2267
Eventually in the dev guide.  For now:

- Relevant discussion in #1562.
- I also tried to [describe the approach to the fasteners developers](https://github.com/harlowja/fasteners/issues/26).  So far no response.

[2016-11-07 15:31] healther commented on #1847
@davydden @kiwifb Is there a solution or a workaround to this problem? (I can't follow your forum link, it redirects to the welcome page, even after signing in)
Or alternatively, can I make spack just use a system cmake version (that I would install manually?)

[2016-11-07 15:43] adamjstewart commented on #1847
http://spack.readthedocs.io/en/latest/build_settings.html#external-packages

[2016-11-07 15:58] adamjstewart commented on #2232
@healther Have you read through [our documentation](http://spack.readthedocs.io/en/latest/index.html)? Basically, Spack doesn't look for dependencies in your PATH, PYTHONPATH, or anything like that. It builds them all based on the spec that you pass to it. If it finds that you have already installed them, it reuses them. A useful command to see what will get installed is `spack spec`. For example,

[2016-11-07 16:04] adamjstewart commented on #2123
Testing isn't easy because I still haven't found a way to reproduce it with 100% certainty. I can let you know if it happens again though. @pramodk Can you reproduce it 100% of the time when using different CFLAGS?

[2016-11-07 16:29] pramodk commented on #2016
@davydden @alalazo : when `setup_environment` is called? after `install` or before `install` method?  I updated `tau` package with following :

[code]
and my expectation was that this will be called *after* `install` method.  But currently I see that this is being called before `install`. Is this expected?

[2016-11-07 16:39] pramodk commented on #2123
I was able to reproduce this with `cflags` and don't see it now. But I was getting this error before I even started using `cflags / cxxflags`. So I am not sure #2227 is the fix for all scenarios. But I also have to wait until I hit this error again.

[2016-11-07 16:50] davydden commented on #2016
@pramodk
what exactly do you need? You want some things to be setup when you do `module load` or when you build a dependent package? Before or after `install` of what?

If I am not mistake, `setup_environment()` will be also called in `module load`. Otherwise for dependent packages IIRC you need to modify `setup_dependent_environment(self, spack_env, run_env, dependent_spec):`, which IS documented

[2016-11-07 18:26] pramodk commented on #2016
When we *load* `tau` package, we need to always set `TAU_MAKEFILE ` environment variable to some file. The location of that file (inside `prefix`) is dependent on `arch`. Hence I used `glob` to find the file (here is the PR #2210).

Simple example:

[code]

And currently I see:

[code]

Going back to original requirement: I wanted to setup some `env` variable for the user. (after `install()` metho

[2016-11-07 18:49] kiwifb commented on #1847
I don't have access to the apple forum either. For `cmake` it doesn't matter the compiler you build it with and it should build just fine with the system's `clang`. That's what `cmake` upstream does.

[2016-11-07 19:28] alalazo commented on #2016
@pramodk in the current implementation `setup_environment` is called both before and after install (when writing module files). This may be refactored in the future as just the call before install would suffice. To have an high-level idea of what it does, you may take a look at `build_environment.py`, function `setup_package`.

Basically, before package `A` is built its environment is constructed

[2016-11-07 20:23] davydden commented on #2016
@pramodk :

for me `spack load` calls `setup_environement()` (with `environment-modules`):
[code]

[2016-11-07 20:28] alalazo commented on #2016
Not true. `setup_environment` is used to generate a module files at install time (or if you refresh modules).

`spack load` translates a spec to a module file name and load that module file **if** you have a proper tool available (LMod or Environment Modules).

[2016-11-07 20:29] davydden commented on #2016
i see, thanks for clarification.

[2016-11-07 21:07] ashkan2200 opened #2272 "Spack fails to compile trilinos with intel compiler"
Hi all,
I am trying to install Trilinos with intel 15.0.3 compiler but it fails with the error

    amesos/src/Amesos_Superludist.cpp(490): error: identifier "DOUBLE" is undefined
          DOUBLE
          ^

    amesos/src/Amesos_Superludist.cpp(499): error: identifier "EXTRA" is undefined
          EXTRA
          ^

I found [this git issue](https://github.com/trilinos/Trilinos/issues/195) whic

[2016-11-07 21:11] davydden commented on #2272
@ashkan2200 I think the best is to send this upstream to `trilinos-users@trilinos.org`. They are generally quick to reply and help. If you will find a solution or a patch, please update this issue.

[2016-11-07 21:13] davydden commented on #2272
@ashkan2200 btw, is it `superlu-dist@5.1.1` built with `intel` as well?

[2016-11-07 21:16] davydden commented on #2272
also, which version of trilinos are you building?

[2016-11-07 21:22] ashkan2200 commented on #2272
Yes,
everything except `Lua` is compiled with intel compiler.
I am trying to compile `dealii` so everything needed for that is intalled.

`Trilinos` version I try to install is `12.8.1` and the packages are

    boost@1.62.0
    hdf5@1.10.0-patch1
    hypre@2.11.1
    metis@5.1.0
    mumps@5.0.2
    suite-sparse@4.5.3
    superlu-dist@5.1.1

[2016-11-07 21:44] davydden commented on #2272
i see... I am certainly very much interested in solving this, but I can't help much as I don't have intel compilers around... ;-(

[2016-11-07 21:51] davydden commented on #2272
The only workaround to get you going until you hear from Trilinos folks is to install `spack install dealii+mpi+trilinos ^trilinos~superlu-dist`. You could also add PR which modifies `trilinos` package to temporary thrown an error if someone tries to compile with `%intel` and `+superlu-dist`, something like
[code]
Either way, i think it's worth reporting this upstream so that it is hopefully fixed

[2016-11-07 22:10] ashkan2200 commented on #2272
Thanks for this. I'll try installing the way you said and report if I fail.
Meanwhile, I have submitted a report upstream and will post the answer when I get one.

[2016-11-08 00:29] pramodk commented on #2093
This issue has also been reported in #2242. And this is driving me crazy :

[code]

If someone can provide some insights/workaround, it will be really helpful! And if you need any info for debug, I would be happy to provide.

[2016-11-08 06:38] davydden opened #2276 "Hypre: tests can't find the shared library to load"
subj:
[code]
with
[code]
and
[code]

I added the tests in https://github.com/LLNL/spack/commit/514c61b8fe923de7eb0c41205fdfaae48afb5cdf, but it could be that I was building it on macOS where `shared` is `off` by default.

[2016-11-08 06:52] davydden opened #2277 "spack install --log-format=junit : record if --run-tests was used"
subj.

From the current [example of the XML file](https://github.com/LLNL/spack/pull/2112#issuecomment-255980429), it looks like we don't log whether or not `--run-tests` were executed. I think it is a must-have information as there is a big difference between someone just installing things or at least also running some quick tests, if provided by a package.

In reference to https://github.com/LLN

[2016-11-08 08:22] healther commented on #2230
Okay I found a setting that works, but I don't know how I can put that into the ```python/package.py```.
Doing
[code]
in the 2.7.12 source code folder, gives a working (i.e. ```import urllib``` does not fail) python binary in ```build00/bin/python```.

Essentially one needs to additionally build the sharedmods with the system compiler and without the OSX specific flags (i.e. toolboxglue and DEPLOY

[2016-11-08 09:07] davydden commented on #2253
Workaround like
[code]
did not help. So it looks like `python@2.7.12` build by `Spack` somehow lacks this module for whatever reason.

[2016-11-08 11:30] citibeth commented on #2253
I would try some experimentation.  Run the Python you think it's getting
and try 'import cPickle'.  This is really strange, `cPickle' is a standard
part of Python2.

Or... just use your System Python.

On Tue, Nov 8, 2016 at 4:07 AM, Denis Davydov <notifications@github.com>
wrote:

[2016-11-08 11:33] citibeth commented on #2230
One possible way would be the rare case of two Spack packages downloading
the same tarball.

`scproxy/package.py` would be built with clang, and install just
`_scproxy.so` in its install tree. `python/package.py` would be built with
GCC, and depend on `scproxy%clang` as a build dependency.  It would copy
the `_scproxy.so` that was already built into its install tree.

On Tue, Nov 8, 2016 at 3:22 A

[2016-11-08 13:48] davydden opened #2280 "Qt: NoDigestError: Attempt to check URLFetchStrategy with no digest"
Trying to install Qt and came across
[code]

[2016-11-08 15:46] citibeth opened #2281 "Fix PyPI Downloads --- The Right Way"
@alalazo @adamjstewart

We can't do this for every crazy download site out there.  But PyPI is important and provides lots of stuff to Spack.  So let's get it right... here is the link describing their XMLRPC API:
    https://wiki.python.org/moin/PyPIXmlRpc

1. We can use this to create a `url_for_version()` method that will call the API's `release_urls(package_name, version)` to determine the dow

[2016-11-08 15:47] citibeth opened #2282 "DOAP Records?"
While digging around PyPI, I discovered DOAP records (Description of a Project).  Wondering if they would be any use to us in Spack:

https://github.com/edumbill/doap/wiki

 See, for example, at the bottom of the page:
https://pypi.python.org/pypi/matplotlib

[2016-11-08 15:56] alalazo commented on #2281
I think this relates somehow to #1249

[2016-11-08 16:05] citibeth commented on #2281
I see... I would say it does relate, but is less ambitious (and therefore more likely to get done in the near term).  I think the approach in this Issue would be a good first step toward #1249.

[2016-11-08 16:13] adamjstewart commented on #2281
Both of these proposals are very interesting ideas!

[2016-11-08 16:18] adamjstewart commented on #2282
Very interesting. We could use these to automatically set the homepage and description for every Python package that gets created. With that, a single `spack create` could do everything needed for 95% of Python packages.

[2016-11-08 16:18] pramodk commented on #2093
Ok, here is some more information :

I am looking into `Package.do_install()` and checking if `external` is setup properly. I added following debug/print statement:
[code]
Now I see following (see the end of below line) :
[code]

Is that `dep.package.spec.external` supposed to be `None` ? Because of this when we call `dep.package.do_install`, the `do_install` method checks `self.spec.external`, wh

[2016-11-08 16:28] adamjstewart commented on #2276
I think there might have been a regression. The HDF 5 tests also used to work, but no longer do (see #2250).

[2016-11-08 16:45] citibeth commented on #2282
We could also potentially create our own DOAP records for everything Spack
installs...

On Tue, Nov 8, 2016 at 11:18 AM, Adam J. Stewart <notifications@github.com>
wrote:

[2016-11-08 16:47] adamjstewart commented on #2282
We basically do with the `spec.yaml` and `package.py`. Do you mean this specific format, or is there something missing that you would like to keep track of?

[2016-11-08 16:51] citibeth commented on #2282
Yes, I mean this specific format.  Other things being equal, using existing
formats for something is often better than inventing your own.  Of course,
other things might not be equal here.

On Tue, Nov 8, 2016 at 11:47 AM, Adam J. Stewart <notifications@github.com>
wrote:

[2016-11-08 17:19] krafczyk opened #2283 "Activating a python extension yields an 'Attribute Error'"
When I attempted to activate the `py-numpy` package depending on python with ucs4, I get an `AttributeError`. Here is my stacktrace:

[code]

Is the problem only that there are details missing from the package.py file for py-numpy?

[2016-11-08 17:23] adamjstewart commented on #2283
This should have been fixed in #2197. Can you check out the latest develop and test it out?

[2016-11-08 17:30] krafczyk commented on #2283
Yep, I'm testing it now.

[2016-11-08 21:01] krafczyk commented on #2283
Okay, activating extensions works now.

[2016-11-08 21:01] #2283 closed

[2016-11-08 23:28] adamjstewart opened #2284 "How to name versions of JDK"
JDK has a fairly complicated versioning scheme:
http://www.oracle.com/technetwork/java/javase/8u92-relnotes-2949471.html

The latest release can be described as:

1. JDK 8, Update 92, Build 14
2. 8u92
3. 1.8.0_92-b14

We are currently using format 2, although 3 is more in line with how other software is versioned. Does anyone mind if I change things to 3? I would update the packages that depend on

[2016-11-08 23:44] davydden commented on #2284
(3) LGTM

[2016-11-09 13:45] christianbaensch commented on #2253
Here is the error message when we try using python from Spack
[code]

[2016-11-09 14:07] alalazo commented on #2253
@christianbaensch @davydden I think you need to inspect closely the `build.out` of `python`. I encountered a similar case where the `urllib` module in a `spack` built python was severely flawed on a `rhel`  machine because some `*-devel` system package was missing.

[2016-11-09 14:10] davydden commented on #2253
does not this mean that we are missing some dependencies in `python`, i.e. rely on some additional system packages to be available?

[2016-11-09 14:40] #1316 closed

[2016-11-09 15:50] citibeth commented on #2253
What OS are you on?

Again... If you just want petsc, use srstem python for this build dep.
On Nov 9, 2016 8:46 AM, "christianbaensch" <notifications@github.com> wrote:

[2016-11-09 16:01] tgamblin commented on #332
Fixed by #2279

[2016-11-09 16:01] #332 closed

[2016-11-09 16:02] tgamblin commented on #6
Fixed by #2279.

[2016-11-09 16:08] davydden commented on #2253
@citibeth : `SuSE13` (see logs above), it's not about workarounds, I know that it is possible. I just want to find the source of the problem because all works fine on Ubuntu14,16 and macOS. I would prefer to have this resolved before `0.10` release.

@christianbaensch : could you check `PYTHONHOME` variable in `spack-build.env` in temp build folder of PETSc? On Ubuntu it points for me to the pytho

[2016-11-09 16:15] ax3l opened #2290 "spack create: gitlab releases"
I am trying to add a package for the [IceT](http://icet.sandia.gov/) compositing library but found that `spack create` seems not to understand
 - direct `git://` links in the member `url` (to check for tags)
 - links to `gitlab` releases, such as https://gitlab.kitware.com/icet/icet/tags with download links such as https://gitlab.kitware.com/icet/icet/repository/archive.tar.gz?ref=IceT-2.1.1

Shou

[2016-11-09 17:26] adamjstewart commented on #126
@mathstuf Can this be closed now that #2152 is merged?

[2016-11-09 17:28] adamjstewart commented on #327
@tgamblin Can this be added to `config.yaml`?

[2016-11-09 17:29] adamjstewart commented on #69
@tgamblin Can this be added to `config.yaml`?

[2016-11-09 17:36] adamjstewart commented on #483
Closed by #2238. This feature is now available with `spack spec -I`

[2016-11-09 17:36] #483 closed

[2016-11-09 17:50] #126 closed

[2016-11-09 17:51] #544 closed

[2016-11-09 18:41] adamjstewart commented on #2290
I wonder if I broke this in #2028...

[2016-11-09 19:11] adamjstewart commented on #644
Can this be closed now? We have a [pretty complex hierarchy]( http://spack.readthedocs.io/en/latest/configuration.html#configuration-scopes) now. Or is there something you think is missing?

[2016-11-09 19:21] adamjstewart commented on #895
I believe we've discussed this elsewhere, but the problem is that the system curl installation is too old. Curl isn't a dependency of gmp, it is a dependency of Spack. Most packages download with curl, and we obviously don't want to add curl as a dependency of every package. The solution is to install a newer version of curl with Spack (or any other package manager) and add it to your PATH.

[2016-11-09 19:21] #895 closed

[2016-11-09 19:27] adamjstewart commented on #1007
Should this be closed? I don't think we're going to go back and fix old releases are we?

[2016-11-09 19:29] adamjstewart commented on #1012
@becker33 Is this fixed now?

[2016-11-10 08:37] davydden commented on #2253
@alalazo : I checked build logs of Python, here are a few things (full logs are attached)
[code]
but otherwise I don't see anything suspicious. `cPickle` seems to be built
[code]

The only thing which catches my eye is that `lib64` in logs during copying, whereas in Spack `package.py` of Python has:
[code]

[build.out.zip](https://github.com/LLNL/spack/files/582818/build.out.zip)

-----

One more

[2016-11-10 09:09] alalazo commented on #2253
@davydden Try this then (if you didn't already) to see if you can narrow down the problem:
[code]
`PYTHONSTARTUP` is a variable that may contain a path to a python file that will be executed when you start an interpreter. More info [here](https://docs.python.org/2.7/using/cmdline.html#envvar-PYTHONSTARTUP).

[2016-11-10 09:18] alalazo commented on #2253
@davydden The other thing that at a first glance seems wrong is `lib64`, as you correctly spotted. From python docs:

So it seems `lib` is expected from a python installation, not `lib64`.

[2016-11-10 09:27] ax3l commented on #2290
Using the `url_for_version` function can solve the second point, but there is currently a bug still requiring a pseudo `url` member: https://github.com/LLNL/spack/pull/2291#issuecomment-259638544

[2016-11-10 09:28] alalazo commented on #2253
@davydden Following on the previous message, **if** you directory structure looks like:
[code]
you may try to see if:
[code]
changes the behavior seen by @christianbaensch .

[2016-11-10 10:14] davydden commented on #2253
unsetting `PYTHONSTARTUP` did not help, unfortunately.

---

Spack's python on OpenSuse has the following directory structure:
[code]
so it has both `lib` and `lib64`. `cPickle.so` is located in `/lib64/python2.7/lib-dynload/cPickle.so`. Whereas on my `Ubuntu` it is in `/lib/python2.7/lib-dynload/cPickle.so`.

So it must be related to some config settings for python...

I will try symlinking that

[2016-11-10 13:21] davydden commented on #2253
this worked! I will create a PR to do that extra step during installation...

[2016-11-10 15:15] eschnett commented on #2250
The test outputs the version number twice. The first is taken at compile time from the header file, the second at run time from the library. Your error might be that you're also picking up the wrong header files -- this seems to go deeper than just an rpath problem.

[2016-11-10 15:32] adamjstewart commented on #2290
Yes, there is a difference between `url_for_version` and `url_version`. The former defines a function that can be used to determine the url based on the version. The latter defines the format of the version itself in the url. For example, in your case where version `2.1.1` appears as `2-1-1` in the url, you could use `url_version` to return `version.dashed`. `url_version` isn't very commonly used

[2016-11-10 16:10] citibeth commented on #2284
Can our current version parser parse that?  How about 1.8.0.92.14?

A bigger problem --- and I believe a legal necessity before 0.10 is released --- is to remove the auto-accept of Oracle's license agreement:

https://github.com/LLNL/spack/pull/1298

[2016-11-10 16:16] davydden commented on #2284
I am almost sure it can, it will split whatever you give to it into alphabetical and numeric segments using `segment_regex = r'[a-zA-Z]+|[0-9]+'`.

@adamjstewart : if you wish, you can add a unit test with `1.8.0_92-b14` to confirm the split by calling, for example,  `dotted` method on the instance of `Version` class.

[2016-11-10 16:18] citibeth commented on #2284
I think it will parse '1.8.0_92-b14' into (1,8,0,92,b,14)

[2016-11-10 16:19] davydden commented on #2284
... and when you do `dotted` method you will get `1.8.0.92.b.14`, right? ;-)

[2016-11-10 17:18] adamjstewart commented on #2250
I'm digging a little deeper into this and I think I know what the problem is now. When I run on a system without HDF 5 installed, I'm seeing:
[code]
That entire directory isn't present yet because HDF 5 hasn't been installed yet. #1186 broke this one. The tests were previously run post-installation and now they are run pre-installation. I'll submit a PR to fix this soon.

[2016-11-11 02:04] aprokop opened #2301 "Spack fails to compile an older version of gcc inside a container"
I'm building a docker container (from fedora:latest), setting up spack inside it and running
[code]
Spack fails to install gcc, and fails with errors like this:
[code]
Here is the full output log:
[spack-build.txt](https://github.com/LLNL/spack/files/584855/spack-build.txt)

Trying to run the configure line explicitly
[code]
and then running `make` works.

The container's compiler is gcc-6.2.1. As

[2016-11-11 02:45] citibeth opened #2302 "packages.yaml versions only used if they exist."
@tgamblin

Suppose I'm going to build (or have built) a package manually using the `spack setup` stuff.  Typically when I do that, I invent a fake version, I like to use `@local`.  (Unlike `@develop`, Spack does absolutely nothing special with `@local`).  These fake versions are not being picked up from `packages.yaml`.  Witness:

Good:
[code]

Now I want to setup libxml2 for manually compile... G

[2016-11-11 02:45] citibeth commented on #2302
Admittedly... I'm not sure if this is a bug or a feature.  Fixing it probably requires more thinking than just making it do what I first expected in this case.

[2016-11-11 02:52] citibeth opened #2303 "Fix help string with `spack install --only`"
@alalazo
See output now, I don't think this is quite descriptive of how it's supposed to work:
[code]

[2016-11-11 03:30] citibeth opened #2304 "Does Spack hog a core?"
I noticed when I run Spack that a `python` process is always using 100% CPU, even when it's spawning compilers.  Is Spack spin-waiting when it spawns subprocesses?  Or is it just being credited 100% because the things it spawned are busy?  If the former, is there another way to get the same effect without spin-waiting?
[code]

[2016-11-11 03:37] citibeth opened #2305 "Quirk in `spack spec -lI`"
Note how it doesn't think OpenSSL is installed. This seems like a quirk (not quite a bug, but I don't think it was intended either):
[code]
`openssl` is set up in my `packages.yaml`:
[code]

[2016-11-11 04:21] scheibelp opened #2306 "Deptypes Incorrect for dependencies specified on command line"
For example

```spack spec graphlib ^cmake %gcc@4.4.7```

```spec.dependencies(('link',))``` Then includes cmake

I believe this is because of code in do_parse which assigns default deptypes of (link, build) which are then never replaced.

I'll add a PR for this within the next few hours.

[2016-11-11 05:06] scheibelp commented on #2306
Trying out an approach for now, it doesnt fully work at the moment but does give the correct output for the example in the issue. Still hoping to have something more solid in the next few hours.

[2016-11-11 05:50] #2250 closed

[2016-11-11 09:40] scheibelp commented on #2306
OK things seem to be working well enough that I've opened a PR (still needs a bit of work though)

[2016-11-11 10:09] alalazo commented on #2304
My guess is that what you see is the process doing log redirection. See `log_output._spawn_writing_daemon` in module `llnl.util.tty.log`.

[2016-11-11 13:09] glennpj opened #2309 "fetching from list_url no longer works when installing"
Recent updates have broken the ability to fetch from list_url when installing. This seems to point to PR #2263 and #1822. Since the r- packages depend on list_url to fetch versions other than the latest in CRAN this has likely broken some of the spack r- packages. Here is an example with pango, which has a URL scheme that used to work with list_url.

[code]

[code]
[code]
That used to work by goin

[2016-11-11 15:14] adamjstewart commented on #2301
Are you on the latest commit to the develop branch? Can you try:
[code]
I've had a lot of trouble building older versions of gcc with newer versions of gcc. I added a patch that allowed me to build gcc 5 with gcc 6 in #2107. If `gcc~binutils` doesn't work, try installing the compatibility versions of gcc:
[code]
That gives you gcc 3.4, which other users have reported allows them to build gcc 4 and

[2016-11-11 15:51] krafczyk opened #2310 "`depends_on(..., when="^python@:2")` does not work"
I'm creating a series of packages to get jupyter notebooks working in spack.

One such package is python tornado.

I've created this package and added the line:

`depends_on('py-backports_abc', when="^python@:3", type="nolink")`

among others.

I've created the package `py-backports_abc` as well. When I try to install py-tornado, I get the following baffling error message:

[code]

I don't underst

[2016-11-11 15:57] davydden commented on #2310
FYI, up-for-grabs related PRs which could save some time https://github.com/LLNL/spack/pull/2122 and https://github.com/LLNL/spack/pull/2128

[2016-11-11 15:59] davydden commented on #2310
[code]
have not seen that kind of usage of `when`, maybe it's not supported. @alalazo @tgamblin ?

[2016-11-11 16:03] krafczyk commented on #2310
My goal with this was to have a dependency which exists for python 2 but not for python 3.

[2016-11-11 16:07] davydden commented on #2310
It looks like this what you do should work, i found a few python packages which do
[code]
or
[code]

[2016-11-11 16:09] adamjstewart commented on #2310
I'm the one who added those dependencies, specifically for `py-flake8`, `py-enum34`, and `py-configparser`. It definitely used to work.

[2016-11-11 16:11] adamjstewart commented on #2310
But yeah, you should definitely start with #2122 and work from there. It was pretty close to completion. Just remove the changes to `py-scipy` as they are no longer relevant.

[2016-11-11 16:11] davydden commented on #2310
@krafczyk :  maybe create a work-in-progress PR where one could see those two packages and how they don't work? btw, both (!) are already here https://github.com/LLNL/spack/pull/2122 . So maybe you take those commits and work you things on top?

[2016-11-11 16:18] KineticTheory commented on #1290
@eschnett Can you try Lmod again?  I've just started to play with lmod and it seems to be working for me.  I'm using the develop branch of spack from 2016/11/10 (but with the minor changes found in PR #2299).

[code]

However, I'm not sure that Lmod knows about the `-l` option.

[code]

[2016-11-11 16:24] krafczyk commented on #2310
@davydden, I'll take a look at #2122 I didn't realize it existed. Clearly I didn't look hard enough.

[2016-11-11 16:25] KineticTheory opened #2311 "modules.yaml not working with LMOD as documented?"
I am trying to follow the current documentation on `modules.yaml` found [here](https://spack.readthedocs.io/en/latest/module_file_tutorial.html#lua-hierarchical-module-files).  But when I create `~/.spack/modules.yaml` with the `enable::` keyword, I can't regenerate the modulefiles:

[code]

Ref: [modules.yaml.txt](https://github.com/LLNL/spack/files/586223/modules.yaml.txt)

What am I doing wrong

[2016-11-11 16:28] adamjstewart commented on #2311
@alalazo

[2016-11-11 18:48] scheibelp commented on #2309
Apologies, this was disabled in #2263 because when I refactored it in #1822 I inadvertently slowed down the tests.

#2270 adds it back without slowing down tests.

[2016-11-11 19:54] alalazo commented on #2311
@KineticTheory I am sorry but I cannot reproduce your issue neither on `ubuntu14` nor on `rhel6`. I used your exact same `modules.yaml` and just changed the version of `gcc` accordingly (`gcc@4.8` for the former, `gcc@4.4.7` for the latter).

The stacktrace you posted seems to point to the fact that "somehow" the configuration mechanism of spack didn't take care of the double colon, which is stran

[2016-11-11 21:24] aprokop commented on #2301
Running

```spack install gcc@4.8.5~binutils```

did the trick. I'm not sure though of how to update the spec to check for that.

[2016-11-11 21:27] adamjstewart commented on #2301
Updating what spec?

[2016-11-11 21:39] aprokop commented on #2301
What I meant is that ideally one would update the gcc/package.py to test for this scenario, and fallback to ~binutils by default, or throw an exception.

[2016-11-11 21:45] lee218llnl opened #2313 "Python extensions not using Spack-built dependences"
We have found that some Python extensions do not load their Spack-built extensions at load/runtime, which can lead to some version mismatch errors. Notably, this happened for rpy2 and for PyQt. In Rpy2, we saw the following:

[lee218@rzgenie2:~]$ python -m rpy2.tests
During startup - Warning messages:
1: package "methods" in options("defaultPackages") was not found
2: package 'datasets' in options

[2016-11-11 22:17] adamjstewart commented on #2313
@citibeth has had several interesting suggestions as to how to RPATH Python modules.

[2016-11-11 22:20] adamjstewart commented on #2301
Ah. We've talked about a couple of different possibilities. We could default binutils to False, but there are some systems with ancient binutils that require this dependency. Another option would be to try to figure out why `+binutils` isn't working for older versions. It could be that we just need to specify exactly what versions of binutils are compatible with each GCC version:
http://wiki.osdev

[2016-11-12 02:40] citibeth commented on #2313
Yes, RPATH is not compiled into Python modules; see #1927 for an outline of how this could (should) be done in the future (when someone gets a round toit).

As a workaround, you can use `spack module loads -r` to generate the load commands for all the dependencies you need.  For example, `spack module loads -r py-basemap`.

[2016-11-12 03:43] krafczyk commented on #2310
@citibeth @davydden: I've used @citibeth's branch `features/numerous_py_packages` to continue my py-tornado work from #2310.

In my branch which you can find here: krafczyk@660fddb925e6dc8f1b6251a67fc8149d257e3d26, I've also added a few variants which can be turned on or off. The trouble I ran into seems to pop up when there are multiple variants which only exist for certain versions of python. In

[2016-11-12 03:52] KineticTheory commented on #2311
@alalazo Thanks for the detailed reply.  My working branch didn't have all of the required pieces.  The clue you provided (09470ec), convinced me to merge today's develop branch into my working branch.  This got me past the double colon issue.  Thank you!

[2016-11-12 03:52] #2311 closed

[2016-11-12 03:53] citibeth commented on #2310
Glad to know #2122 and #2128 are useful; please thank @scheibelp for his work on them.

This looks to me like a bug.  To make sure... can you try keeping the `depends_on()` stuff but remove the `when=` clauses?  Please make sure the simple case builds with Python2.

@adamjstewart Does `when="^python@:2"` work?  Or should he be using `when='^python@2:2.7'`?

PS: Thank you for putting in the effort

[2016-11-12 03:57] scheibelp commented on #2310
Er did you mean @jppelteret? I don't recall these

[2016-11-12 04:06] krafczyk commented on #2310
@citibeth I removed the variants and removed the `when` clauses, and py-tornado built just fine with all of it's dependencies.

[2016-11-12 04:23] citibeth commented on #2310
That's a good clue.  Can you try changing  `when="^python@:2"` to `when='^python@2:2.7'`?   Does that make any difference?

@tgamblin Do you know what's going on here?

One other thing I noticed.... it should be `type=nolink`, not `type="nolink"`.

[2016-11-12 04:25] citibeth opened #2314 "Fix type='build' vs. type=nobuild"
@alalazo

Either all `type=` statements should have quotes or none should have quotes.  The current practice of quotes on some but not on others is an obvious booby trap.  See #2310 for how easily users can fall into this trap (and how others reviewing it don't see the problem either).

[2016-11-12 04:28] alalazo commented on #2314
Hmmm, I think this is better redirected to @tgamblin or @mathstuf who originally developed the feature.

[2016-11-12 04:38] krafczyk commented on #2310
@citibeth the change from `when="+monotonic^python@:2"` to `when='+monotonic^python@2:2.7'` makes no difference. I still get the error that py-tornado doesn't depend on py-monotonic.

[2016-11-12 04:42] krafczyk commented on #2310
I still suspect that the issue is not with the version part of the `when` clauses, but the variant part.

[2016-11-12 04:54] citibeth commented on #2310
Thanks.  It looks like a bug.  Hopefully @tgamblin will take a look.  But
that might not be until after SC '16.

In the meantime... why not just set it up to work for the version of Python
you want to use it with.

On Fri, Nov 11, 2016 at 11:42 PM, Matthew Scott Krafczyk <
notifications@github.com> wrote:

[2016-11-12 05:12] davydden commented on #2310
for preliminary work credits certainly goes to @jppelteret .

[2016-11-12 05:27] krafczyk commented on #2310
For safe keeping, I've saved this work exposing this bug under the branch krafczyk@8ade5b29cd7e5f337caac6881060e05db442a8f4.

[2016-11-12 05:28] davydden commented on #2310
@krafczyk if you create a pull-request off your branch, it will be easier to discuss changes/problems, comment on code.

[2016-11-12 05:53] davydden commented on #2314
IIRC both should work as one is a list and another is an alias for this list. Certainly both are used
[code]
and
[code]
and
[code]

[2016-11-12 10:01] jppelteret commented on #2310
@krafczyk In addition to the before mentioned PRs, there's also #1297 that actually downloads and builds the Jupyter core packages and notebook as well.

[2016-11-12 16:51] citibeth opened #2316 "`spack setup` does not run"
Should be easy to fix, does anyone know what to change here?
[code]

[2016-11-12 17:12] citibeth opened #2318 "Package depend_on('X'), but spec['X'] yields KeyError."
The build below fails with `KeyError: 'No spec with name blas in netlib-scalapack@2.0.2%gcc@4.9.3~fpic+shared arch=linux-centos7-x86_64'`.  This makes no sense, since `depends_on('blas')` is clearly in the `package.py`.  Anyone knows what's going on?  This might be related to #2310

[code]
Here is the concretized spec I'm trying to install...
[code]

[2016-11-12 17:16] citibeth commented on #2318
OK, here's a big clue... I got the above error with the command `spack setup pism@dev`.  I then tried `spack install pism@dev`, which worked.  There was a `spack reindex` in between as well.  So either:
  a) The problem is due to something different between how sub-packages are built with `spack install` vs. `spack setup`
  b) The problem was fixed with `spack reindex`.

[2016-11-12 17:29] citibeth opened #2319 "`spack setup` fails to finish installation or generate module"
See below...

[code]

[2016-11-12 17:42] citibeth commented on #2319
OK I've tracked this down a bit.  It looks like `build_environment.setup_package()` writes into the prefix:
[code]
Somewhere in there, it is generating empty Python install directories.
[code]
It seems this is somewhat wrong.  I don't think that setting up the build environment should entail creating empty directories in the install location.  I also don't have a good idea where this might be happ

[2016-11-12 18:27] citibeth opened #2321 "Fun with Circular Dependencies!"
I noticed that `curl` needed to  `depends_on('libssh2')` but it depended on `openssl` instead.  So I added the dependency.  This is where the fun begins. `spack spec curl` works.  But `spack spec netcdf` yields an infinite recursion.  Why?

Because `curl` -> `libssh2` -> `cmake [build]` -> `curl`

So how will you get this built if you can't put `libssh2`, `cmake` or both in your `packages.yaml`? T

[2016-11-12 18:45] davydden commented on #2321
agreed, build-only dependencies should ideally not influence any hashes and it should be possible to have multiple different nodes in DAG if they are build-only dependencies (like `Cmake` or `python`).

I think we should concentrate this discussion in https://github.com/LLNL/spack/issues/839, which appears to be the oldest issue which discuss this problem first.

[2016-11-12 18:45] davydden commented on #1768
see https://github.com/LLNL/spack/issues/839

[2016-11-12 19:54] citibeth commented on #2321
The problem is deeper than that.  Even if build dependencies are handled
correctly... you need CMake to build libssh2 and you need libssh2 to build
CMake.  This can be straightened out if we can think in terms of spiral
dependencies:

cmake (new version) --> libssh2 --> cmake (old version)

I took this as an opportunity to delve deper into the `cmake` build.  See
#2325.

On Sat, Nov 12, 2016 at 1:

[2016-11-13 00:52] adamjstewart commented on #2310
Both work.

[2016-11-13 00:54] adamjstewart commented on #2314
If we're deciding on one or the other, I would prefer all quotes. But yes, both should work for nolink, although only quotes for build.

[2016-11-13 05:34] #2321 closed

[2016-11-13 11:45] #2303 closed

[2016-11-13 15:31] davydden commented on #2321
@citibeth :

what I meant is that one potentially could break circular dependencies by installing (i) `cmake~ssh2` (assuming that you can add an variant); (ii) install `ssh2^cmake~ssh2`; (iii) install `cmake+ssh2`. Thereby i think https://github.com/LLNL/spack/issues/839 could still be a solution.

[2016-11-13 15:47] davydden commented on #2321
nevermind, on a second though i guess one does not need #839 for this

[2016-11-14 13:18] JavierCVilla commented on #2231
@tgamblin It works perfectly, thank you very much. I think the issue can be closed.

[2016-11-14 13:18] #2231 closed

[2016-11-14 15:39] ax3l opened #2332 "SC16 Tutorial Slides"
Hi,

@tgamblin did you already make the SC16 tutorial slides available? We would love spread the word!

update: for SC attendees, there is a authenticated download at http://bit.ly/sc16-tnotes

[2016-11-14 23:46] becker33 commented on #1178
I think part of the issue here is that satisfies does not check hashes. So if we have a syntax change (like the "new" architecture support) such that two packages match for satisfaction but with different hashes, satisfies doesn't properly distinguish them.

I'll have to look into it, but comparing hashes when calling satisfies on two concrete specs with cached hashes may resolve this.

[2016-11-15 00:49] aeantipov opened #2333 "Can't spec and install hdf5"
Hi, I receive the following issue with hdf5: ```spack spec hdf5```

[code]
Spack is at 93287b950bcdf680513fcfb22ac3c8df04da8084
Python is `$ python -c 'import sys; print sys.version'`
[code]

and `packages.yaml` is
[code]

Compilers are
[code]
and
[code]

Consequently `spack install hdf5` also fails. I checked that cleaning everything from packages.yaml doesn't help. Thanks for help!

P.S. Upon fu

[2016-11-15 01:23] #2332 closed

[2016-11-15 02:19] omsai commented on #2309
Maybe I'm misunderstanding, but with even with 85a0568 installing `pango@1.40.1` fails because the checksummed version does not seem to deal with the versioned directory in the URL:

[code]

To fix that, maybe `url_for_version()` is necessary?

[code]

[2016-11-15 02:55] scheibelp commented on #2309
Hi @omsai:

It looks like you linked develop. As of now #2270 has not yet been merged into develop so it will still have this issue.

This will work specifically for the pango package (I think). However, the general goal of list_url is to avoid avoid per-package logic for tracking down URLs for specific versions.

If that doesn't clarify things or seems inconsistent let me know.

Thanks!

[2016-11-15 03:23] krafczyk opened #2335 "Spack doesn't treat pypi.io links properly"
While attempting to use pypi.io links as suggested here #1939, I've discovered that while spack is able to download these links when using spack install or spack create, spack checksum returns the following error:

[code]

[2016-11-15 06:04] aeantipov commented on #2333
Regenerated .spack and it started to work. Closing.

[2016-11-15 06:04] #2333 closed

[2016-11-15 06:29] davydden opened #2336 "problems with git lfs"
on `git pull` i get:
[code]

Supposedly introduced in https://github.com/LLNL/spack/pull/2334

[2016-11-15 13:50] adamjstewart commented on #2309
Just to clarify, there are two things going on here. `list_url` may be needed to find new versions with `spack versions` and `spack checksum`, but it isn't needed to fetch packages. If you take out `list_url`, spack should still know enough to extrapolate the correct URL for the version number. This used to work.

[2016-11-15 15:13] glennpj commented on #2309
For pango, url_for_version would work. But url_for_version is not universal and will not work for r- packages. As such, list_url, **is** needed for fetching packages.

[2016-11-15 15:20] MathiasMen opened #2337 "Error during CMake installation on OSX Sierra 10.12.1"
During the installation of CMake (actually dealii but in the intermediate step) I get the following error:
[code]

I am sitting on MacOS Sierra 10.12.1, have the command-line-tools installed and updated, updated XCode to version 8.1 and tried installing with clang (8.0.0) and gcc (6.2.0), both to no avail. I also tried installing CMake versions 3.6.0 and 3.5.2 and got the same error. In the `spack

[2016-11-15 15:22] davydden commented on #2337
I did minor formatting to make OP look better.

[2016-11-15 15:33] adamjstewart commented on #2309
Agreed, `list_url` is necessary for fetching R packages, but I don't think it's necessary for fetching pango. Regardless, `url_for_version` should not be necessary for pango. It wasn't necessary in the past, but something broke. `url_for_version` would fix pango, but it wouldn't fix all of the other packages that are broken. We need to identify the commit that broke it and back out any changes tha

[2016-11-15 15:38] davydden commented on #2337
@MathiasMen `cmake` is known to fail with GCC on macOS, see https://github.com/LLNL/spack/issues/1847. Could you please add logs for build failure with `clang`? Also the content of `~/.spack/compilers.yaml` would be good to have. Other info: do you have `homebrew` or `macports` on your mac?

[2016-11-15 16:03] MathiasMen commented on #2337
@davydden I have `homebrew` but not `macports` installed. The content of my `~/.spack/darwin/compilers.yaml` is:
[code]

After rebooting due to a non-related issue and trying to install the dealii-package with clang however, spack now manages to install CMake but hits an error trying to install openblas with the error:

[code]

I attached the log for openblas.

[spack-build.out.txt](https://github

[2016-11-15 16:09] davydden commented on #2337
@MathiasMen wait, but it's a different problem now, namely with `openblas`.

Looking it the logs, I see that are not using the most recent version of Spack, i can tell it from
[code]
which shall be different after https://github.com/LLNL/spack/pull/2192 .

Please do `git pull` and upload logs for `cmake`. If you still have issues with `openblas`, please create a separate issue for it.

[2016-11-15 16:47] KineticTheory opened #2338 "hypre@2.11.1 fails to build with %intel@16.0.3"
* hypre@2.10.1 works fine (I'll use this for now).
* hypre@2.11.1~internal-superlu also works fine.
* I'm use external packages for:
  * intel/16.0.3
  * openmpi/1.10.3
  * mkl/11.3.3.210
* Using 'develop' branch: 85a05681ccd60be4c367bca323e0f45024f0c7f2
* I'm not sure if this is a spack issue or a hypre issue.

[code]

[code]

[spack-build.out](https://github.com/LLNL/spack/files/592628/spack-bui

[2016-11-15 16:54] davydden commented on #2338
`spack-build.out.txt` does not seem to be uploaded. Could you please re-upload?

[2016-11-15 17:08] KineticTheory commented on #2338
@davydden I just tried running the commands found in the spack-build.out and the build fails.  This is looking like a problem with hypre and not spack.

[2016-11-15 17:16] citibeth opened #2339 "Verbose CMake Builds Bad for `spack setup`"
I noticed the change that makes VERBOSE builds standard for CMake: @KineticTheory  #1988

I can see the logic behind this when writing to Spack log files.  However, when using `spack setup`, the default CMake behavior is more preferable.  We need a way to do non-verbose builds in `spack setup`.  Any ideas of how...?

[2016-11-15 17:44] KineticTheory opened #2340 "External package dependency resolution issue when building Trilinos"
I am attempting to build Trilinos, but spack ignores my external package entry for MKL.

packages.yaml
[code]

[code]

I don't understand why spack is trying to install MKL.  Additionally, if I remove the dependency on superlu-dist, spack will use the external-package definition MKL.

[code]

Any ideas on how to convince spack to use the external-package definition of MKL in the first case above?

[2016-11-15 18:04] tgamblin commented on #2339
Why is this bad for `spack setup`

[2016-11-15 18:23] citibeth commented on #2339
Non-verbose builds is a feature of CMake --- feature, in the sense that
people went to some effort to make it happen, and set it up as the
default.  Enforcing verbose builds breaks that feature.  I already have a
fix to this Issue, will post a PR shortly.

On Tue, Nov 15, 2016 at 1:04 PM, Todd Gamblin <notifications@github.com>
wrote:

[2016-11-15 18:45] aprokop opened #2342 "Spack does not respect openmpi version"
I have the following in my `~/.spack/packages.yml`
[code]
Testing on openmpi works as it fetches the correct 1.8.8 version:
[code]
However, testing on boost produces
[code]
So it picks up openmpi 2.0.1 instead of 1.8.8. Same thing happens when trying other packages depending on mpi, such as hdf5
[code]

Am I doing something wrong here?

[2016-11-15 18:48] adamjstewart commented on #2342
I've noticed this behavior as well. It seems like `packages.yaml` is only consulted when you are explicitly installing that package. If the package is listed as a dependency, your preferences are ignored. See #1371 for another example of this.

[2016-11-15 18:57] krafczyk commented on #2335
It seems this is because the page https://pypi.io/packages/source/m/matplotlib doesn't exist. That is, pypi.io doesn't index packages in the way spack expects.

[2016-11-15 18:57] scheibelp commented on #2309
Looking at the default fetcher for pango, the substituted URL is

[2016-11-15 18:59] krafczyk commented on #2335
looking for a specific version fails as well.

[code]

[2016-11-15 19:05] scheibelp commented on #2309
Looking at the default fetcher for pango, the URL is

```http://ftp.gnome.org/pub/gnome/sources/pango/1.36/pango-1.40.1.tar.xz ```

So list_url ends up being required (since the spidering detects the correct link while substitution of Package.url doesn't)

In some cases (e.g. pango) the list_url is needed for fetching versions even if they are mentioned in the package file.

It when I refactored p

[2016-11-15 19:19] aprokop commented on #2342
I don't know if it's true. It seems that for instance netcdf changes the version of its hdf5 dependency depending on whether it is in packages.yaml or not. I wonder if this is a question of whether the dependency is virtual or not, as they seem to be treated differently in `spec.py` (line 1157)
[code]
The `concretize_version` in `concretizer.py` seems like the right place for establishing the vers

[2016-11-15 19:41] adamjstewart commented on #2309
Ok, now I'm really confused. If I checkout the commit before #1822, 4e6d5350588ab2435afa4393c75190ec0e9c031c, and edit `mpich` by commenting out the `list_url` and `list_depth`, `spack fetch` works just fine. `spack info` shows the correct URLs for each version, automatically substituting the the version multiple times in the URL. But if I try the same thing with `pango`, it does indeed require `l

[2016-11-15 19:50] scheibelp commented on #2309
It will always try the list_url as a backup. The first thing it always attempts is to substitute into Package.url.

The url substitution logic could likely be made smarter such that pango would succeed. I dont know why it succeeds for mpich but not for pango.

Fetching mpich appears to work for now (which makes sense to me given that it doesn't need list_url)

Does clear anything up?

[2016-11-15 19:57] adamjstewart commented on #2342
Maybe this is more complicated than I anticipated. With a simple `packages.yaml` like:
[code]
`spack spec mpc` builds everything with `%gcc`, but `spack spec gcc` builds everything (including mpc) with `%gcc`. But both of those commands pick up the requested version from `packages.yaml`. Perhaps you are right that the version problem is specific to hdf5 or to mpi, but the compiler problem is relat

[2016-11-15 20:04] glennpj commented on #2309
I _think_ the reason that mpich works is because the full version is used in the directory name, whereas for pango the directory name is not the full version.

url = "http://ftp.gnome.org/pub/gnome/sources/pango/1.36/pango-1.36.8.tar.xz"
url = "http://www.mpich.org/static/downloads/3.0.4/mpich-3.0.4.tar.gz"

[2016-11-15 20:05] KineticTheory commented on #2340
I found a work-around that works for now - but this still seems like a bug.

My work-around:
* Use spack to install superlu-dist
* Register superlu-dist as an external-package in packages.yaml
* Build trilinos.

[2016-11-15 20:07] KineticTheory commented on #2338
This is a hypre issue.

[2016-11-15 20:07] #2338 closed

[2016-11-15 20:34] krafczyk commented on #2335
The post directly above this one seems to have been solved since I merged the most recent develop changes. It's also possible that the internet problem I've been having has been interfering as well.

That said, the root issue with `spack checksum` still remains.

[2016-11-15 21:11] #2336 closed

[2016-11-15 23:45] pramodk commented on #2340
@KineticTheory : I am seeing similar issue (all the time) but with `external mpi` packages. As mentioned in the last comment in #2093, could you check `dep.external` and  `dep.package.spec.external`? I assume you will see later `None`.

[2016-11-16 00:59] aprokop commented on #2342
I think at least for mpi the problem is that openmpi@1.8.8 is not an mpi provider, and I'm not sure how to make it. I tried changing
[code]
but that does not work. Is it possible to add a new provider? I can't find a way in the documentation.

[2016-11-16 01:23] aprokop commented on #2342
If I do
[code]
openmpi 1.8.8 is being listed through
[code]
but it still is not being picked up during concretization.

[2016-11-16 02:04] citibeth opened #2344 "CMake: New dependency with v3.7.0?"
From the CMake list, we should probably modify `cmake/package.py` accordingly:
[code]

[2016-11-16 03:41] adamjstewart commented on #2342
I think you're mixing up some of your terminology here. OpenMPI, MVAPICH2, and MPICH are all MPI providers. All versions of those packages can be used to provide MPI. MPI itself is versioned, meaning that some packages may depend on MPI 3.0 support. The lines you referenced:
[code]
state that OpenMPI 1.7.5 _and up_ provide at least MPI 3.0. Similarly, OpenMPI 2.0.0 _and up_ provide MPI 3.1. We sho

[2016-11-16 04:06] krafczyk opened #2346 "Error when using spack create with backports.ssl_match_hostname"
When using `spack create` with backports.ssl_match_hostname, the following error occurs:

[code]

[2016-11-16 10:23] kserradell opened #2347 "Error when installing any python package"
Hello,

I'm getting an error when installing any py-* package. It seems there are error with python core modules.

I'm on openSUSE 13.2 x86_64, 3.16.7-21-desktop and gcc version 4.9.2 (GCC).

Thank you very much,

[spack-build.out.txt](https://github.com/LLNL/spack/files/594300/spack-build.out.txt)

[2016-11-16 13:16] alalazo commented on #2347
Can you check if this is a duplicate of #2253 and as such will be solved  by #2295 ?

[2016-11-16 13:54] kserradell commented on #2347
@alalazo, yes it is. The workaround of symlinking

`lib-dynload -> ../../lib64/python2.7/lib-dynload/`

works perfectly. I just did a quick test but I could build py-numpy.

Thanks again.

[2016-11-16 13:54] #2347 closed

[2016-11-16 14:29] #2253 closed

[2016-11-16 14:32] aprokop commented on #2342
Hmm, I may indeed mix some terminology. OK, so 1.8.8 provides mpi@:3.0, right? I guess this is what is shown by `spack providers mpi`.

My current understanding is that in `spec.py` the function `_expand_virtual_packages` is the problematic one. It seems to go through mpi providers in this order: openmpi@2.0.0:, openmpi@1.7.5:, openmpi@1.6.5. Each of the providers is then tried out to see if it wo

[2016-11-16 15:35] citibeth opened #2350 "Does SuSE cPickle 2.7 fix have unintended consequences?"
@davydden
Sorry I didn't see this before it was committed; but I just looked at #2295.  The title implies it affects only Python 2.7, but the code seems to run on all versions of Python.  Since the problem was never reported for Python3, I am reluctant to add a patch that will affect Python3.

Ideally, I would like to see the following tests on SuSE 13:

1. Try to install Python 2.7 without the pa

[2016-11-16 15:40] adamjstewart commented on #2346
I'll take a look at this. The problem is that I don't think Spack knows how to handle a package name with a period in the middle. In the meantime, you can specify the name you want as a quick workaround:
[code]

[2016-11-16 15:41] davydden commented on #2350
@christianbaensch could you please try install `python@3.5` to with current Spack to see if it works with the symlinks of `lib64/pythonX.Y/lib-dynload` to `lib/pythonX.Y/lib-dynload`?

[2016-11-16 16:04] adamjstewart commented on #2346
Fixed in #2351!

[2016-11-16 16:46] krafczyk opened #2352 "Better Diagnostics"
Hey folks, I've created a pull request #2343 which adds the option `-s` which turns on stack trace analysis inside print statements. This results in printing the file name and line from which that statement was printed. It works on any `msg`, or info command from the `tty` module.

[2016-11-16 17:38] adamjstewart opened #2353 "Random failures in Travis CI"
I've been noticing a lot of seemingly random failures in Travis lately. This Issue is an attempt to gather them all in one place and see if there is a pattern.

PR | Travis Build | Problem
--- | --- | ---
#2201 | can't find? | timeout?
#2285 | can't find? | unknown
#2299 | https://travis-ci.org/LLNL/spack/builds/174884110 | test_svn_mirror, test_fetch_default, test_fetch_r1
#2312 | https://travis-

[2016-11-16 17:48] alalazo commented on #2353
Ok, they all seem to fail for `python@2.6` and `CYAML=false` on fetching apart from one that seems to be caused by a Travis timeout.

[2016-11-16 17:50] adamjstewart commented on #2353
[code]
is an interesting error message

[2016-11-16 18:02] alalazo commented on #2353
#2201 seems just a flake8 issue, so that doesn't count here :smile:

[code]

[2016-11-16 18:03] adamjstewart commented on #2353
@alalazo See https://github.com/LLNL/spack/pull/2201#issuecomment-257745780

[2016-11-16 18:04] adamjstewart commented on #2353
I wish there was an easy way to search for PRs that have been closed and reopened...

[2016-11-16 20:54] aprokop commented on #2342
Hmm, the only solution I found so far is this nasty workaround:
[code]
I had to replace all openmpi providers with a fixed version for it to be picked up (in the [previous comment](https://github.com/LLNL/spack/issues/2342#issuecomment-260824991) it did not work because I only replaced the mpi@:3.0 provider and mpi@:3.1 has a preference).

I would definitely like more knowledgeable people to take

[2016-11-16 21:13] citibeth opened #2354 "Spack Crashes with Mystery Error"
The following was caused by a bad/garbage `package.py` file.  This should really have a better error message.

Anyone know what is going wrong?  `spack reindex` did not fix.

[code]

[2016-11-16 21:21] citibeth opened #2355 "Spack Crashes during Concretization"
[code]

[2016-11-16 21:23] citibeth commented on #2355
@tgamblin
It crashed on the command `spack spec -lI env-icebin-scripts`.  The file `env-icebin-scripts/package.py` is below.  Could putting version numbers and variants in the `depends_on()` have anything to do with it?

[code]

[2016-11-16 22:46] pramodk commented on #2355
I think this is related/similar to #2123.

[2016-11-17 14:53] citibeth commented on #2335
See #2281.  If we head in that direction, then additional hooks could be provided to properly list and checksum available versions in PyPI.

[2016-11-17 14:54] #2314 closed

[2016-11-17 14:54] citibeth commented on #2314
So it seems the conclusion is we can always use quotes.

[2016-11-17 17:12] cyrush opened #2357 "checksum support related to spack mirrors"
Note: We are using an old version of spack, so I am interested in learning about the current state of mirrors in the context of this issue.

We are using a mirror for the TPL source tarballs needed for our project. We had a package that did not change versions but did change checksums. (Lets not dwell on this - obviously it's not ideal but it happened and it was out of our control).

So, we update

[2016-11-17 18:59] scheibelp commented on #2357
Looking at spack.mirror.add_single_spec it appears that the mirror creation logic assumes the checksum is good if the path already exists. It shouldn't be hard to actually check this and replace the file if the checksum is bad. It sounds like you found a workaround and that you don't have to do this a lot so I'll aim to propose a fix by next week. If this is in fact causing you a lot of trouble le

[2016-11-17 20:03] mathstuf commented on #2314
Yes, quotes should be preferred now. The quoted versions of `nolink` and such came after the initial merge and a sweep had not been made.

[2016-11-17 20:35] cyrush commented on #2357
Thanks! No urgent timeframe -- but it would be a great feature to add!

[2016-11-17 20:51] citibeth opened #2358 "Update documentation to use quotes on all deptypes"
Quotes are now preferred everywhere, even `type='nolink'`, etc.  See #2314

[2016-11-18 07:19] ashkan2200 commented on #2272
This is the response I got from Trilinos user group. I haven't tested it yet.

[2016-11-18 08:05] davydden commented on #2272
i don't think it has to do with versions anyhow, i have `superlu-dist@5.1.1` and `trilinos@12.8.1` installed both on my mac (clang+gfortran) and Ubuntu16.04 (gcc5.4).  (you can mention this when you reply).

It could be though that there is something wrong with Superlu-dist or Trilinos's config when using `Intel` compilers.

I would rather investigate more the second reply:

p.s. for convenience o

[2016-11-18 08:50] davydden commented on #637
some info is here http://spack.readthedocs.io/en/latest/packaging_guide.html#message-parsing-interface-mpi
i don't think there is something else needed. Maybe only mention that Spakc's compiler wrappers are used inside MPI compiler wrappers, so all RPATHS and alike are there when we compiler something with MPI wrappers.

[2016-11-18 13:36] ashkan2200 opened #2359 "Syntax error in build_environment.py"
Hi all,
I tried compiling `hdf5` but the build process crashes with the following error. Note that this crash happens after the dependencies are installed and `spack` wants to compiler `hdf5` itself

    spack/lib/spack/spack/build_environment.py:563, in child_execution:
         548      def child_execution(child_connection, input_stream):
         549          try:
         550              setu

[2016-11-18 16:35] aprokop opened #2360 "spack ignores version if it is not checksummed"
I have the following in `~/.spack/packages.py`:
[code]
However, spack quietly ignores it
[code]
If I explicitly add 3.1.0 checsum
[code]
the behaviour changes to the expected one
[code]

It looks as a bug with a clear workaround, i.e. one should add used versions checksums.

[2016-11-18 21:16] alalazo commented on #1772
Can we close this or is there something that hasn't been done yet ?

[2016-11-18 21:34] adamjstewart commented on #1772
The only thing that wasn't added was documentation, but idk if it really needs to be documented...

[2016-11-18 21:41] citibeth commented on #1772
close.

On Fri, Nov 18, 2016 at 4:16 PM, Massimiliano Culpo <
notifications@github.com> wrote:

[2016-11-18 21:42] #1772 closed

[2016-11-18 21:52] jgalarowicz opened #2362 "Spack aborts no matter what the command is after git merge upstream/develop"
Hi all,

I wanted to run with the latest spack code so I updated,  but now I can't do anything with spack.
I tried moving my $HOME/.spack files out of the way, but it didn't make a difference.
Does anyone have any insight into this?

Thanks,
Jim G

git fetch upstream

git merge upstream/develop

jeg@localhost spack]$ which spack
~/spack/bin/spack
[jeg@localhost spack]$ echo $SPACK_ROOT
/home/jeg/s

[2016-11-18 21:58] adamjstewart commented on #2362
What is the output of the following command?
[code]

[2016-11-18 22:08] adamjstewart opened #2363 "Cannot copy Xcode to Spack"
I just updated Spack on macOS and tried installing a package to debug #2359. While I was able to reproduce the issue, I think the cause is unrelated. I'm seeing the following error message:
[code]

[2016-11-18 22:09] adamjstewart commented on #2359
Are you on macOS? I was able to reproduce your error message, but it didn't have anything to do with HDF5 for me. See #2363 for details.

[2016-11-18 22:10] jgalarowicz commented on #2362
[jeg@localhost spack]$ lsb_release -a
LSB Version:	:core-4.1-amd64:core-4.1-noarch:cxx-4.1-amd64:cxx-4.1-noarch:desktop-4.1-amd64:desktop-4.1-noarch:languages-4.1-amd64:languages-4.1-noarch:printing-4.1-amd64:printing-4.1-noarch
Distributor ID:	Fedora
Description:	Fedora release 19 (Schrödinger’s Cat)
Release:	19
Codename:	Schrödinger’sCat
[jeg@localhost spack]$

[2016-11-18 22:10] davydden commented on #2363
not that it is the cause, but for completeness: what is the version of macOS / XCode?

[2016-11-18 22:11] adamjstewart commented on #2362
Ha, it must be because of `Schrödinger’sCat`. We're using the distro Python module for linux distribution detection now. I'll file an issue with the distro developers. Hopefully they can put in a quick fix.

[2016-11-18 22:19] adamjstewart commented on #2362
Issue filed at https://github.com/nir0s/distro/issues/151

[2016-11-18 22:20] jgalarowicz commented on #2362
Hi Adam,
Thanks for looking at this!
Jim G

[2016-11-18 22:22] adamjstewart commented on #2363
macOS Sierra, version 10.12.1 (16B2555)
Xcode version 8.1.0.0.1.1476494586

[2016-11-18 22:25] ashkan2200 commented on #2359
I tried it on scientific linux.

[2016-11-18 22:36] adamjstewart commented on #2359
HDF5 built fine for me on CentOS 6 on the latest develop. I'm not sure what's going on. Maybe @alalazo would have some insight.

[2016-11-18 23:25] alalazo commented on #2359
@adamjstewart Cannot reproduce. Just built `hdf5` on the lastest `develop`:
[code]

[2016-11-18 23:59] davydden opened #2366 "Usage of resource() is broken (e.g. in Atlas) due to version confusion"
a regression:
[code]
build log says:
[code]
The actual file is actually called
[code]
whereas `3.10.2` is the version of `atlas`. The bug appears in the packages via
[code]

[2016-11-19 01:01] hartzell opened #2367 "FYI: working on updates to the go package, submitted a bug at golang/go"
I have some fixes in the pipe for go-bootstrap and go.

I had to make one change that leaves me feeling funny and have opened https://github.com/golang/go/issues/17986 to seek their wisdom.

Pull requests will head this way eventually.

[2016-11-19 01:55] scheibelp commented on #2366
This is something I missed when updating resource fetching logic. I didn't realize (check) that packages referred to the Stage fetcher. Generally speaking using:

```package.stage[1].archive_file ```

Would fix this and be less fragile. I can hunt around for other examples and create a PR for that tomorrow.

The details (if you are interested): Spack now chooses the name for the resource in the ca

[2016-11-19 08:09] davydden commented on #2366
thanks for the prompt reply @scheibelp , i tried using `self.stage[1].archive_file`, but now there are different issues while building altas.

[2016-11-19 09:23] scheibelp commented on #2366
I'm having an issue too: the build seems to fail with 'make ptcheck', specifically I get a complaint:

[2016-11-19 10:47] davydden commented on #2366
i have somewhat different issues:
[code]

[2016-11-19 21:51] alalazo opened #2368 "Nose: note to users in latest version"
The latest version of [nose](http://nose.readthedocs.io/en/latest/) starts with the following note to users:

I was wondering if after `v0.10` we should consider moving to [py.test](http://docs.pytest.org/en/latest/) or we should remain with the version of nose that's currently in `lib/external`.

In case there's consensus around this, I wouldn't mind experimenting with `py.test` to see how much t

[2016-11-19 22:00] scheibelp commented on #2366
It sounds like there's a few issues to sort out, I'm building on a single-core VM (RHEL) and in my case the 'make' succeeds but the 'make ptcheck' fails, I think because the build chooses not to create multithreaded resources since it only detects one core. In this case either forcing multicore support or skipping these checks would be the way to go.

I'm not sure how to replicate your error (and

[2016-11-19 22:31] hartzell commented on #2367
They've fixed the problem (adding the magical './') and closed the issue.

I've gathered my updates into Pull Request #2369.

[2016-11-19 22:31] #2367 closed

[2016-11-20 08:09] davydden commented on #2366
interesting part is that it used to work at least on macOS El Capitan and Ubuntu 16.04.

[2016-11-20 10:47] #2337 closed

[2016-11-20 11:26] ashkan2200 commented on #2359
I checked a bit more and this issue happens when I use external `openmpi`

[2016-11-21 13:04] christianbaensch commented on #2350
I´ve tried an installation with python-3.5.2 and it works well with the symlinks!

[2016-11-21 18:09] lee218llnl commented on #2313
FYI, this also affect mpi4py when there is a conflicting MPI, which can be worked around with the ctypes.cdll.LoadLibrary trick.

[2016-11-21 18:13] citibeth commented on #2350
Thanks for testing!
On Nov 21, 2016 8:04 AM, "christianbaensch" <notifications@github.com>
wrote:

[2016-11-21 19:29] pramodk opened #2374 "Compiler wrappers in spack, include path order and external packages from /usr"
I was building application with spack and it was failing at runtime. The issue was following:

Suppose I have a package (with `non-standard` build process) and that invokes following compilation command from some wrapper scripts:

[code]
As `hdf5` include path is added at the beginning, the expectation is that compiler will prefer that path for header files search.

Now this package has dependency

[2016-11-21 20:13] adamjstewart commented on #508
Examples for other compilers:

Compiler | Flag(s) | Notes
--- | --- | ---
GCC | -fpic / -fPIC | -fpic and -fPIC are not equivalent
Intel | -fpic / -fPIC | -fPIC is a synonym for -fpic
PGI | -fpic / -fPIC / -kpic / -kPIC | all are synonyms for -fpic
NAG | -pic / -PIC | -pic and -PIC are not equivalent
XL | -fpic / -fPIC / -qpic | not equivalent

[2016-11-21 20:19] adamjstewart commented on #508
Another problem that would need to be addressed is mixed compiler support. NAG provides a Fortran compiler that uses `-PIC`, and would need to be combined with a C/C++ compiler like GCC that uses `-fPIC`.

[2016-11-22 08:32] ax3l commented on #2332
@tgamblin for some reason, the link in read-the-docs is broken and correcting it to https://software.llnl.gov/spack/files/Spack-SC16-Tutorial.pdf seems also to not find the file

[2016-11-22 08:59] tgamblin commented on #2332
@ax3l try now -- our server switched to `https` and `software.llnl.gov` links stopped working.  I just switched the link back to `llnl.github.io` which will work even if `software.llnl.gov` starts working again.

[2016-11-22 09:13] ax3l opened #2378 "C++ Header-Only Libraries: Dependencies"
One question I forgot to ask at SC16 is, how to handle `depends_on` of C++ header-only libraries.

A C++ header-only library can, e.g., introduce a dependency to `boost` (can again be header only but additionally also link-time). Currently, `depends_on(type=...)` "build" does not forward the include paths:
  *made available during the project’s build. The package will be added to PATH, the compile

[2016-11-22 09:17] ax3l commented on #2332
@tgamblin still does not work for me, I am talking about the *Download slides* link at this page: http://spack.readthedocs.io/en/latest/tutorial_sc16.html?highlight=supercomputing

[2016-11-22 09:23] tgamblin commented on #2378
`link` should work for this, though it will add an extra `RPATH` that we could probably get rid of.  A `link` dependency gets the headers and the includes forwarded.

Where's the text above from in the docs?

[2016-11-22 09:48] ax3l opened #2379 "Compute-Specific Architecture Chains"
@alalazo I asked you that question at SC16 but did honestly forget how to exactly do the workflow or if it is already implemented (latest docs say no).

In our scenario, we have a heterogeneous cluster with 3 queues of individual compute hardware:
- login nodes (ideally as compile nodes) with AMD Opteron 6376 (gcc: `bdver2`)
- compute 1: AMD Opteron 6276 (gcc: `bdver1`)
- compute 2: Intel Xeon E5-

[2016-11-22 09:52] ax3l commented on #2378
Oh that sounds great! The "link" [docs currently only state](http://spack.readthedocs.io/en/latest/packaging_guide.html#dependencies):
*the project is linked to by the project. The package will be added to the current package’s rpath.*

[2016-11-22 10:08] alalazo commented on #2379
The version of `spack` we use in production is a rather old fork from last May and I still need to have a look how to do what you ask on `LLNL/develop`.

That said, what I would try to do would be to modify the code in:
[code]
and extend / customize target detection.

[2016-11-22 10:30] ax3l commented on #2379
Sounds great. So one just implements a class for each queue/architecture when setting up spack for a HPC cluster.

[2016-11-22 14:34] davydden opened #2380 "Define conventions for shared / static builds"
subj. Roughly that `+shared` enables shared libs, whereas `~shared` implies that static-only libs will be built.

Most likely we cant really enforce `+shared` not to have static libs, as some packages may build them anyway.

from @alalazo

While here, also document `+pic` variant for static libs only and that `+pic+shared` should throw an error.

[2016-11-22 15:05] robertdfrench commented on #2340
@mpbelhorn didn't you run in to similar issues with Spectrum?

[2016-11-22 15:09] citibeth commented on #2380
See: https://groups.google.com/forum/#!topic/spack/gNAp1CmhxF0

[2016-11-22 15:10] citibeth commented on #2378
Look for `google-test` for examples.

[2016-11-22 15:14] citibeth commented on #2360
I am of the opinion that Spack should ONLY install versions explicitly listed in its packages, with checksums.

[2016-11-22 15:16] citibeth commented on #2362
Are you sure Spack is running here with Python2?  Just a guess, and probably not the cause of the problem...

[2016-11-22 15:41] adamjstewart commented on #2362
The issue is that we are using an out-of-date version of the `distro` package. See https://github.com/nir0s/distro/issues/151 for details. I'll update the package and submit a PR shortly.

[2016-11-22 15:48] aprokop commented on #2301
Closing as there is a #2144 to keep track of the core issue.

[2016-11-22 15:48] #2301 closed

[2016-11-22 16:27] ashkan2200 opened #2383 "spack lock problem"
Hi guys,

I use spack on a cluster and everytime there is a network drop the file locks become corrupted and I can't install anything. Is there a way to reset all the locks on files? How does one get rid of this issue.

Here is the newest exception I get in spack

    p4est is already installed in /pica/h1/alid/spack/opt/spack/linux-scientific6-x86_64/gcc-6.2.0/p4est-1.1-suhfwcxtftbbi74aji3wnugtki

[2016-11-22 17:40] krafczyk opened #2385 "Update of flex urls and addition of new versions"
I found that `flex` was crashing when trying to build the `binutils` dependency which exists in the dependency chain of the `py-yt` package. This was fixed by getting a newer version of `flex`.

I further found that development of `flex` is currently not being done from sourceforge any more. New versions are released on github under a new release naming scheme. I've adjusted the url locations, add

[2016-11-22 18:21] davydden commented on #2385
@krafczyk : that is not a PR, but an issue. I guess you hit the wrong button.

[2016-11-22 18:23] davydden commented on #2385
here's the one you refer to https://github.com/LLNL/spack/pull/2384, i suppose. I close this to move the discussion to the actual PR, fi you don't mind.

[2016-11-22 18:23] #2385 closed

[2016-11-22 21:03] adamjstewart opened #2387 "Get list of installation directories of dependencies"
I need a quick way to get a list of the installation directories of a package's dependencies from `install`. Basically, I have a licensed software package which doesn't use RPATH, but I can add the lib directories to a file for LD_LIBRARY_PATH support. I know I've seen a shortcut in a package before, but I can't remember which package it was.

[2016-11-22 22:01] #2362 closed

[2016-11-22 22:08] mamelara opened #2388 "Cori /Theta hangs with setup-env.sh sourced in bashrc"
Cori hangs whenver setup-env.sh is sourced inside of my bashrc.
The command `. $SPACK_ROOT/share/spack/setup-env.sh` happens to work fine whenever I manually input them.

Here's the output when I source bashrc.ext with set -x placed in the setup-env.sh file.

[code]
After that it hangs.

Whenever I try to run any spack command, it hangs and I Ctrl-C out of it. Here's the stack trace:
[code]
Out of

[2016-11-23 08:30] ax3l commented on #2378
thank you, great example for a missing "make install" but does not have any dependencies declared.

[2016-11-23 09:06] davydden opened #2392 "internal BLAS/LAPACK in packages"
I was always of opinion that no package in Spack should try using some internally provided dependencies like BLAS/LAPACK (e.g. in SuperLU https://github.com/LLNL/spack/pull/2390). To me there is no difference between internal BLAS/LAPACK or internal dependencies like what PETSc can do (download Superlu-Dist, Hypre, Openmpi, Openblas, HDF5, etc). So if we don't encourage packages to do the latter (

[2016-11-23 16:11] citibeth commented on #2392
I agree in general.  But I want to make it clear that there are two bad things about using internal packages:

1. As @davydden pointed out, it messes with Spack, in case there are other things that need the same package, etc.

2. Sometimes, upstream builds try to download the "internal" package during their build.

(2) is a problem because Spack needs to work on Internet-isolated clusters, because

[2016-11-23 16:25] adamjstewart opened #2398 "Flex installation issues"
I believe #2384 introduced some bugs to the flex installation. It now downloads from GitHub and runs autoreconf, but it must be missing some dependencies. On Fedora 24:
[code]
on CentOS 6:
[code]

[2016-11-23 16:29] davydden commented on #2398
@krafczyk ping.

[2016-11-23 16:31] adamjstewart commented on #2398
Adding a `gettext` build-type dependency gets me farther, but now it crashes at:
[code]

[2016-11-23 16:38] adamjstewart commented on #2398
Maybe `autoconf` needs to be built with lzip support for that option to be available? Or maybe it was removed in newer versions?

[2016-11-23 16:52] adamjstewart commented on #2398
Needed to add perl dependency to automake to get that to build, needed to add automake and gettext dependencies to flex to get that to autoreconf, now flex is crashing during make. One step at a time...

[2016-11-23 19:06] trws opened #2400 "m4 search paths, ACLOCAL_PATH, not set from autotools packages"
It's not a common problem, apparently, but automake, libtool and others install m4 macros for use by autoconf and aclocal.  These paths are not added to the ACLOCAL_PATH environment which can cause libtool-related failures when the system copy of libtool is sufficiently old.

[2016-11-24 00:17] thiagotei opened #2402 "Unknown command line argument on configure"
I'm trying to create a package to install the [IEGenLib](https://github.com/CompOpt4Apps/IEGenLib).
However, during configure it cannot understand the line arguments following.

The package file is very simple:

[code]
I get the following error:

[code]

[2016-11-24 01:10] scheibelp commented on #2402
This gets past the configure for me if I replace:

```configure("--prefix %s" % prefix)```

with:

```configure("--prefix", prefix)```

Spack encloses each argument in quotes, so ./configure sees ```"--prefix <path>"``` instead of ```--prefix``` and ```<path>```. Generally this can be gotten around by setting ```"--prefix=<path>"``` but this particular configure script isn't able to parse that.

[2016-11-24 02:21] thiagotei commented on #2402
It worked! Thanks!

[2016-11-24 02:21] #2402 closed

[2016-11-24 05:33] krafczyk commented on #2398
@davydden, @adamjstewart I'm sorry my commit broke the flex build on other OSs.

I'd like to help trouble shoot, but I am currently on vacation with the family and I can't devote time to it. I'll be able to do more on Monday.

[2016-11-24 14:53] adamjstewart commented on #2398
No worries, it's mostly solved in #2401. There was actually a separate tarball that did include the configure script, so I switched to that for the most recent builds.

[2016-11-25 03:33] citibeth opened #2411 "curl: Bugs found in security audit"
Spack should probably update accordingly.  See:

http://www.theregister.co.uk/2016/11/25/mozilla_hackers_give_curl_security_audit_tick/

[2016-11-25 14:36] boegel commented on #1304
@citibeth:

This is not correct, at least not since we introduced `--module-only` (April'15), see also http://easybuild.readthedocs.io/en/latest/Partial_installations.html#only-re-generating-additional-module-files-using-module-only

[2016-11-26 17:45] thiagotei opened #2417 "Error on using last commit of develop branch"
Get the error whenever I call spack:

[code]
Using commit  from  8f0b91edaaaa6a29aa57dbb099a9a444f4e2a46f develop branch.

[2016-11-27 00:36] adamjstewart commented on #2417
Let me guess. You're using Bash. And you're sourcing `share/spack/setup-env.sh`. But you have something like `set -u` in your `~/.bashrc`, which puts Bash into strict mode:

I wouldn't recommend setting `set -u` in your `~/.bashrc` because it breaks expected functionality in most shell scripts. But I think we can accommodate you without too much trouble. Let me write up a PR.

For anyone intereste

[2016-11-27 13:40] alalazo commented on #2417
:+1: for the article

[2016-11-27 15:12] citibeth opened #2419 "Document MPI Best Practices (part 2)"
See post by @tgamblin from 2016-11-27 on the Google Groups thread:

https://groups.google.com/forum/#!topic/spack/ECmt5-Ew3yo

This needs to be copied into the manual with only a little bit of editing.

[2016-11-27 15:33] jgalarowicz commented on #1434
This one was caused by having an include file named Symbol.h that was satisfied by the Dyninst Symbol.h and not the CBTF include file named Symbol.h.  By placing a full path to the CBTF include we resolved this issue.

[2016-11-27 15:33] #1434 closed

[2016-11-28 10:57] alalazo commented on #169
@eschnett Is there something more that needs to be done? Or are you fine with :
[code]
if appropriate functions have been defined in the package (like in `hdf5` fo instance)?

[2016-11-28 15:06] jgalarowicz commented on #2398
I'm currently seeing this on Fedora 19 too.

==> bison is already installed in /home/jeg/spack/opt/spack/linux-fedora19-x86_64/gcc-4.8.3/bison-3.0.4-h6loqjgheotgixbfbadce56hv3icje74
==> Using cached archive: /home/jeg/spack/var/spack/cache/flex/flex-2.6.2.tar.gz
==> Already staged flex-2.6.2-y5p63csox6r5xbcqj2fxewo2fwcnge7e in /home/jeg/spack/var/spack/stage/flex-2.6.2-y5p63csox6r5xbcqj2fxewo2fwcn

[2016-11-28 15:07] jgalarowicz commented on #2398
Oh, I now see the 2401 fix in autoconf.  I'll wait and try again when that is merged.
Thanks!

[2016-11-28 16:38] alalazo commented on #2353
It's really odd that every random failure we tracked appears on the row `python@2.6` and `CYAML=false`...

[2016-11-28 17:00] eschnett opened #2427 "Installing `flex` fails since `help2man` is not available"
Installing `flex` fails for me on an Ubuntu 14.04 system where `help2man` is not installed on the system. Configuring and installing `flex` output this:

[code]
and later
[code]

It seems that `install` requires the man page to be present. `flex` should probably depend on `help2man`, but this doesn't exist in Spack yet.

[2016-11-28 17:07] adamjstewart commented on #2427
Already fixed in #2401.

[2016-11-28 17:42] adamjstewart opened #2428 "Building an Autotools package in a different directory"
@alalazo I'm trying to write an Autotools package, but the configure script is in a subdirectory. How can I specify a different directory to build in?

[2016-11-28 17:48] #2398 closed

[2016-11-28 17:49] tgamblin commented on #2427
Fixed by #2401

[2016-11-28 17:49] #2427 closed

[2016-11-28 20:28] alalazo commented on #2428
Currently `AutotoolsPackage` doesn't have any mechanism like `CMakePackage` to specify an alternative build directory. If you think it would be a useful feature in general I can prepare a PR tomorrow.

 I didn't implement it in the first place because, even if I know that in principle it can be done, I have never seen an `autotools` package build out of source (only exception `gcc`).

[2016-11-28 20:31] adamjstewart commented on #2428
I'm having trouble getting it working anyway. With the regular Package class, I'm using:
[code]
but it's crashing with weird error messages. When I do the same outside of Spack, it works.

[2016-11-28 20:40] alalazo commented on #2428
Just a wild guess, but you may try:
[code]
and see if it is the path of the `Executable` that creates the problem. Is the package publicly available in case?

[2016-11-28 20:48] adamjstewart commented on #2428
Still seeing the same error message:
[code]
despite the fact that `config.status` exists in `js/src`. The package is for [SpiderMonkey](https://developer.mozilla.org/en-US/docs/Mozilla/Projects/SpiderMonkey), Mozilla's JavaScript engine. I'm specifically trying to build [this version](http://ftp.mozilla.org/pub/js/mozjs-24.2.0.tar.bz2). I wonder if `js/src` is just not in the PYTHONPATH for some r

[2016-11-28 20:52] adamjstewart commented on #2428
Interesting. When I remove the Python build dependency and just use my system Python installation, it works!

[2016-11-29 08:47] davydden opened #2432 "add NUnit support to --log-format"
from [this post](https://github.com/LLNL/spack/pull/2112#issuecomment-256063109) by @tgamblin

and later

I don't know about possible options  (I only have some experience with CDash for C++ project with CMake), but my understanding from the two comments above is that one `NUnit` format is supported, we could start collecting build logs in CDash.

p.s. relevant to https://github.com/LLNL/spack/iss

[2016-11-29 21:14] hartzell opened #2439 "Help re: install failure in new CMakePackage-based package that exits with status=2"
I'm putting together a package for the open source [shiny server](https://github.com/rstudio/shiny-server).  It subclasses CMakePackage, sets a custom build dir and otherwise seems unremarkable, though there's still more to be done.

The install step fails thusly:

[code]

If I check the spack-build.out file it simply dead-ends, its last line is the `-- Installing ... test-worker-registry.js` line