[2022-05-18 16:00] wortiz opened #30727 "Installation issue: petsc"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
==> Installing petsc-3.17.1-wj7ditzql2ya4eljuzdirblxpimbaium
==> No binary for petsc-3.17.1-wj7ditzql2ya4eljuzdirblxpimbaium found: installing from source
==> Using cached archive: /home/wortiz/spack/var/spack/cache/_source-cache/archive/c5/c504609d9f532327c20b6363d6a6c7647ebd3c98acfb382c28f

[2022-05-18 16:23] tgamblin commented on #30700
@manuelakuhn can you attach the tarball created with this command?

[code]

[2022-05-18 16:26] tgamblin commented on #30700
Old version with reuse is the intended behavior — but `—fresh` and `concretizer:reuse:false` should exhibit the old behavior.

We are working on more flexible ways to control what is reused and what’s built fresh — e.g., @adamjstewart wants an option for *just* the roots of an env to be updated, but everything else optimized for reuse.

I’m curious to see @manuelakuhn’s installs because I think he

[2022-05-18 16:31] becker33 commented on #30720
@tgamblin how feasible is it to fix this for the release? I think we can do the static version of this (canonicalize all modules in class hierarchy between package and PackageBase) and not worry about whether those changes would be masked out by an overriding method the inheriting class.

[2022-05-18 16:52] manuelakuhn commented on #30700
@tgamblin I cannot create a db tarball because the command fails:
[code]

[2022-05-18 17:52] G-Ragghianti opened #30730 "Concretizer decides to use mixed compilers"
### Steps to reproduce

The concretizer appears to be choosing to use an already installed dependency even if it doesn't use the requested compiler.  This breaks the build if the compiler is no longer configured.  In this example, you can see that it is using intel-mkl%gcc@4.8.5 even though the spec requests gcc@10.2.0:

[code]

### Error message

[code]

### Information on your system

* **Spack:

[2022-05-18 17:52] G-Ragghianti commented on #30730
@alalazo Do you know if this is expected behavior?

[2022-05-18 17:57] tgamblin commented on #30700
Ugh that's unfortunate.  Any chance you're in an environment that moves the store to a new (empty?) location?  Can you try:

[code]

If not can you find your install tree and just grab the `.spack-db/index.json` there?

[2022-05-18 19:54] michaelkuhn opened #30733 "Spack tries to load uninstalled dependency"
### Steps to reproduce

I've managed to run into a rather weird bug. I want to install (among others) meson and libfuse:
[code]
A few build dependencies were removed and loading libfuse works fine.

However, if I specify the generic `x86_64` target (which we do in CI), things get weird:
[code]
Notice how the duplicated dependencies got garbage collected since they were pure build dependencies. I t

[2022-05-18 20:24] manuelakuhn commented on #30700
The commands fail because it is a completely new spack clone with nothing installed yet.

[2022-05-18 21:13] #30706 closed, assigned to nobody

[2022-05-18 21:44] adamjstewart opened #30734 "Installation issue: py-pythran with %apple-clang@13:"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary>

[code]
</details>

### Information on your system

* **Spack:** 0.18.0.dev0 (29f3f735c4ddaadd682be8fb0f17026c6ff75f31)
* **Python:** 3.8.9
* **Platform:** darwin-monterey-m1
* **Concretizer:** clingo

### Additional information

* [spack-build-out.txt](https://github.com/spack/spack/files/872107

[2022-05-19 04:27] adamjstewart commented on #30734
Some context: https://stackoverflow.com/questions/65966969/why-does-march-native-not-work-on-apple-m1

[2022-05-19 09:38] #30631 closed, assigned to nobody

[2022-05-19 14:24] balay commented on #30727
@scheibelp @h-murai perhaps https://github.com/spack/spack/pull/30682 needs a revert - and an alternate fix needed for that use case?

[2022-05-19 16:53] iarspider commented on #29704
Since spack monitor is going away, I'm closing this issue.

[2022-05-19 16:53] #29704 closed, assigned to nobody

[2022-05-19 18:49] haampie commented on #23186
Also reported by @imjelde

[2022-05-19 19:07] rgommers commented on #30734
Hmm, this is a little strange, because the `-march=native` has been in `numpy.distutils` for 2 years: https://github.com/numpy/numpy/blame/65a701fd40d5ab3b772131daf45679d6ecf3d721/numpy/distutils/ccompiler_opt.py#L207

I can build SciPy just fine with Clang 11 from conda-forge on macOS M1.

[2022-05-19 19:17] adamjstewart commented on #30734
What about:
[code]
Is that related to the `-march=native` issue or something different?

Could be an issue with Clang 13 or with M1 Pro, not just M1 in general.

[2022-05-19 19:19] rgommers commented on #30734
Just rebuilding now: in the build log with scipy `main` and numpy `1.22.2` I see `-march=armv8.3-a` instead of `-march=native` (conda-forge dev env, Clang 11.1). Rebuilding with Apple Clang (13.1.6) now and numpy 1.22.3 to be sure - but it all seems happy.

[2022-05-19 19:26] rgommers commented on #30734
Ah, it looks like the build log is incomplete - I believe both the `-march=native` and the `vfmlal_low_u32` are from the build stage where `numpy.distutils` is doing compiler feature testing. Those should not be fatal errors, but just result in turning off the options under test. This is a frequent source of confusion unfortunately.

The actual problem seems to be:
[code]
Which I also haven't seen

[2022-05-19 19:27] rgommers commented on #30734
And I can reproduce that error with Apple Clang on my system.

[2022-05-19 19:29] byjtew opened #30751 "Installation issue: gcc"
### Steps to reproduce the issue

[code]

### Error message

`$ spack install -v gcc`

<details><summary>Error message</summary><pre>

[code]

</pre></details>

### Information on your system

[code]

### Additional information

[code]

[code]

[code]

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have run `spack maintainer

[2022-05-19 19:49] rgommers commented on #30734
It should be fixed by https://github.com/serge-sans-paille/pythran/issues/1937, and indeed upgrading from Pythran 0.10.0 to 0.11.0 makes the problem go away for me.

[2022-05-19 20:17] adamjstewart commented on #30734
Thanks, I'll try that!

[2022-05-19 21:19] adamjstewart commented on #30734
In scipy's `pyproject.toml` it explicitly says to use pythran 0.10:
[code]
Is that safe to ignore?

[2022-05-19 21:34] tgamblin commented on #30730
@trws can you take a look at this one?

[2022-05-19 22:09] bosmacs commented on #30564
Fails in the same way on an Intel mac running 12.4:

[code]

[2022-05-19 23:02] tomboehmer commented on #9134
For a package@develop from a git branch, would this be able to detect new commits to the branch and upgrade to the latest commit?

[2022-05-20 03:15] #30727 closed, assigned to scheibelp

[2022-05-20 09:16] rgommers commented on #30734
Yes it is. We put upper bounds on all build requirements in release branches, because that's the only way to keep "build from sdist" working long-term. But if the build succeeds in Spack or any other packaging system, there's no need to honor those upper bounds.

[2022-05-20 11:20] byjtew commented on #30751
Where it is ?

[2022-05-20 11:21] haampie commented on #30751
[code]

[2022-05-20 12:52] bosmacs opened #30757 "gmsh python bindings are not installed"
Installing gmsh with spack does not put the python bindings (gmsh.py) in a location where they are importable by the environment's python by default.

All that needs to be done is to create an additional symlink to gmsh.py (which is installed in the environment's `lib/` directory) in `lib/pythonX.Y/` (or `lib/pythonX.Y/site-packages`).

Is there a function in spack packages for this kind of thing

[2022-05-20 13:25] Paul-Ferrell opened #30758 "Concretizing fails because `libllvm` can't be found, even when not needed."
### Steps to reproduce

[code]

### Error message

[code]

### Information on your system

* **Spack:** 0.18.0.dev0 (55f4950ed4bf3aa6cc40fe0d296f99cf2df17903)
* **Python:** 3.6.9
* **Platform:** linux-ubuntu18.04-skylake
* **Concretizer:** clingo

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have searched the issues of thi

[2022-05-20 13:30] Paul-Ferrell commented on #30758
Nevermind. Deleting my ~/.spack/ directory fixed this.

[2022-05-20 13:30] #30758 closed, assigned to nobody

[2022-05-20 14:04] Paul-Ferrell opened #30759 "Spack fails when it can't find patches from upstreamed packages that are dependencies"
### Steps to reproduce

You'll need two spacks, an upstream and base spack. For the upstream, I checked out `tag/v0.17.2`. For the base, I used the latest `develop`.

On the upstream Spack
[code]

On the base Spack add the upstream Spack as an upstream in etc/spack/upstreams.yaml
[code]

So what seems to be going on here is that Spack is trying to do stuff with the upstreamed packages patches, but

[2022-05-20 14:06] Paul-Ferrell commented on #30759
I also ran into issues while creating the reproducer (Spack was looking for a libllvm package, but one didn't exist).  Clearing my ~/.spack directory fixed that though. It was still concerning though, as it looked like Spack was checking the existence of packages it wasn't even using in concretization.

[2022-05-20 14:07] Paul-Ferrell commented on #30759
Also note that trying to upstream `libtheora` by itself isn't enough. It has to be a dependency of something else.

[2022-05-20 18:39] byjtew commented on #30751
Thank you !

[code]

[code]

I do think this is the reason. Spack should be able to tell that there is not enough space left to build.

[2022-05-20 18:39] #30751 closed, assigned to nobody

[2022-05-21 16:11] hpcnpatel commented on #25677
Sharing our experience using an older Spack 0.15.4.

We faces a similar problem described here,

$ spack install gcc arch=linux-sles15-x86_64
==> Error: Package Libsigsegv has no version with a URL.

This is the debug report,

$ spack debug report
* **Spack:** 0.15.4
* **Python:** 3.6.15
* **Platform:** linux-sles15-haswell

Implementing the https://github.com/spack/spack/pull/24686 locally fixes

[2022-05-21 17:00] adamjstewart commented on #30757
Lot of great questions here.

There are actually a couple of options here in addition to the one you proposed. Another option would be to add the location where `gmsh.py` is to `PYTHONPATH`. This would look like:
[code]
I think this might actually be the better option since it works better for external packages where we have no control over the installation prefix.

If you instead want to go down

[2022-05-22 08:37] tgamblin commented on #30700
Ok I dug into this a bit and I know *why* it's preferring what you see, but we'll need to dig a bit more to figure out how best to fix it.

One way to understand these concretizer preferences is to look at the version of `py-numba` that you *want* and try to force it, then compare to the weights you get with `spack solve` to what you get *without* forcing it.

So in this case:

[code]

The (bad) c

[2022-05-22 08:37] tgamblin commented on #30700
@alalazo @becker33 FYI

[2022-05-22 10:01] vkallesh opened #30781 "Installation issue: perl with --test=all option during diffutils stage"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
...
</pre></details>
[install-time-test-log.txt](https://github.com/spack/spack/files/8749185/install-time-test-log.txt)

### Information on your system

* **Spack:** 0.18.0.dev0
* **Python:** 3.8.0
* **Platform:** linux-rhel7-haswell
* **Concretizer:** clingo

### Additional information

[i

[2022-05-22 17:17] adamjstewart commented on #30759
May be related to #30557

[2022-05-22 19:03] trws commented on #30700
This should not happen.  It really shouldn’t even be a variant, it should be on 100% of the time in versions where it’s supported.  I know this issue is about more than that, but there must be a package doing something strange for that to happen.

[2022-05-23 01:25] tgamblin commented on #30700
It's because `py-llvmlite` depends on either `llvm@10` or `llvm@11`, both of which are too old for it to be on by default.

[2022-05-23 06:38] alalazo commented on #30700
If that's the case, this specific issue can be solved by turning:
[code]
into:
[code]
I'll try this and submit a PR if it works.

[2022-05-23 12:21] #30700 closed, assigned to nobody

[2022-05-23 14:30] alalazo commented on #30733
I was able to reproduce using:

* **Spack:** 0.18.0.dev0 (3bc656808c6453f1f76353f32885719cfaba4eb4)
* **Python:** 3.8.10
* **Platform:** linux-ubuntu20.04-icelake
* **Concretizer:** clingo

[2022-05-23 14:37] alalazo commented on #30733
@tgamblin This is one of the "build" inconsistencies we talked about for "full-hash", when we decided how to implement the hack to permit building specs with conflicting build dependencies in multiple steps + a possible bug (or feature) on reusing the root spec. The reproducer can be simplified further:
[code]

[2022-05-23 14:50] alalazo commented on #30733
For the solution above I get:
[code]
It seems to me 24 builds are a bit too much (since they seem 7 from the spec)?

EDIT: 24 is correct. The tree above doesn't show other build dependencies that will be built. Now the question is why do we prefer to build them?

[2022-05-23 15:08] alalazo commented on #30733
Ok, here's why. We never converted `non-preferred targets` to have a best value of `0`. It can go negative, at which point it is preferable to build all the deps that don't actually make any higher priority criteria to get worse.

EDIT: To convert this we need to review the semantics (which we never thought through fully with the old concretizer) for preferences. We may want to have a table lookup

[2022-05-23 17:48] trws commented on #30730
Yes, I'll definitely look at this.  This is probably desired behavior from the concretizer, I'm immediately perplexed by the error though, it's asking for a gcc-4.9.4 dependency after building with 4.8.5? For that matter, why does it depend on either, need to dig into why that dependency would cause a failure in the first place since it doesn't appear as a build dependency of a package to be built

[2022-05-23 18:22] G-Ragghianti commented on #30730
I tested this with a number of different OS's so I got the default compilers mixed in this case. In this case, intel-mkl and dependency cpio was built with gcc-4.8.5, but the gcc-4.8.5 compiler was removed from the spack configuration. I accidentally took the error message from a separate test.  I'll correct that now.

[2022-05-23 18:56] G-Ragghianti commented on #30730
OK I improved the report and included where I removed the gcc@4.8.5 compiler.

My expectation is that when I give a compiler in the spec that it use that compiler for all the dependencies.  To work around this problem, I would have to remove the previously install intel-mkl and cpio or include `^intel-mkl%gcc@10.3.0` explicitly in the spec.

[2022-05-23 22:33] trws commented on #30730
Right, it should definitely build every dependency *that is built in the current command* with the specified compiler.  We might want to be able to say "force this for the entire graph" somehow, though I think the only way to do that right now is to combine the spec with `--fresh`.  What I meant though was that the gcc 4.8.5 spec shouldn't be a dependency of any build in the current install, it's

[2022-05-23 22:48] trws commented on #30730
Bit more information, I managed to repro the problem with the exact same situation.  If I tweak it to be just cpio that's built with the old compiler, then spack decides to build a new copy of cpio instead. I'm getting the impression this is a difference between build and link dependency handling.  It seems off both in that cpio should be reused, and that the error shouldn't happen.

[2022-05-23 22:56] trws commented on #30730
Ok, need to figure out more information here.  @G-Ragghianti, I managed to repro the spec, but removing the compiler from spack's list with spack compiler remove did not cause a failure.  Was the gcc you were using installed with spack, or specified as an external package or similar?

[2022-05-23 23:22] rhd commented on #29297
@alalazo is there an easy way to detect and uninstall packages that were installed with the `--fake` flag?

[2022-05-23 23:52] G-Ragghianti commented on #30730
The compiler gcc@4.8.5 was a system-installed compiler that is default on RHEL7.  It wasn't installed with spack.  It is weird that it seems to be treating it like a dependency since compilers aren't dependencies in spack as far as I understand (it even has a hash??).  If it would be helpful, I can provide a DockerFile that will reproduce this easily.

[2022-05-24 00:03] trws commented on #30730
That would be extremely helpful.  There's a plan to make compilers dependencies, but they currently are not, so this is both something we should fix and a good way to iron out a potential pitfall before we get there.

[2022-05-24 08:26] #27673 closed, assigned to nobody

[2022-05-24 09:11] alalazo commented on #30730
I think that might be relatively easy to obtain as a config option. We could for instance do something similar to:
[code]
and emit `single_compiler_for_dag()` if some config option is true.

[2022-05-24 12:07] mdorier opened #30799 "Package started failing with unrecognized -Wthread-safety"
### Steps to reproduce

I am posting this as a bug rather than a build error because although the problem appears when building a package, it was caused by a recent commit to spack, not the package itself (I narrowed it down to commit 330832c22cfa59554f6681a570bdec24ca46e79b, authored by @trws )

[code]

This command will fail, with g++ complaining that it doesn't know `-Wthread-safety` (I reprodu

[2022-05-24 13:10] mdorier commented on #30799
From looking at the logs, the only warning flags that I see passed down to g++ are `-Werror` and `-Wthread-safety`. I'm under the impression that the commit I mentioned above is making the compiler wrapper eliminate warning flags. In leveldb, this make cmake think that `-Wthread-safety` is supported, since the compiler wrapper eliminates it before g++ gets the chance to actual evaluate it. Then at

[2022-05-24 14:14] Paul-Ferrell commented on #30557
This blocking my progress on the next TCE release, so it's a pretty high priority bug from my perspective.

[2022-05-24 14:24] ivan-pi opened #30803 "Taxonomy for tags"
I was disappointed that many packages don't use tags yet.

To keep things organized, it would be good to introduce something like the GAMS Taxonomy (https://gams.nist.gov/Background.html). If I run `$spack tags -a` currently I see

[code]

Do we really need four tags for the same tools? If people just add whatever tags they want, this will become a mess over time. One improvement would be to make

[2022-05-24 15:23] haampie opened #30804 "Reuse reuses spec without required variants"
### Steps to reproduce

I've added a variant `y` to a package `x`, and concretization of `x +y` reuses an `x` that does not have the `y` variant.

[2022-05-24 15:51] ixdi opened #30805 "Installation issue: Gromacs uses O2 when adding O3 flags to spack compilation"
### Steps to reproduce the issue

@junghans
@marvinbernhardt

Compiling in a target zen2 using linux Rocky 8.5.

[code]
![Captura de pantalla de 2022-05-24 17-27-25](https://user-images.githubusercontent.com/3193539/170075163-4e25644d-5947-4693-a8c9-d1014816c935.png)

### Error message

From the generated output when running Gromacs with Slurm

![gromacs](https://user-images.githubusercontent.com/

[2022-05-24 15:57] trws commented on #30799
It doesn't remove warning flags, only the "treat warnings as errors" flags, specifically `-Werror` if the specific value is used and `-Werror=*` as well if it's all.

I managed to reproduce the problem, but the cause is a bit strange, the `-Wthread-safety` flag isn't passed in the test, only `-Werror` actually gets added, and it happens to work when `-Werror` is there because the attributes in the

[2022-05-24 16:07] mdorier commented on #30799
I see, ok. It looks like they use a different way of checking the flag in version 1.23 and greater:
https://github.com/google/leveldb/blob/main/CMakeLists.txt#L79
(unfortunately there is an issue with 1.23+ that prevents us from using it).

So yes, it needs a patch.

[2022-05-24 16:08] tgamblin commented on #30799
I think in this case patching is the right thing to do -- either with a `patch()` method or a patch file -- @mdorier can you add that?

[2022-05-24 16:18] trws commented on #30799
Yeah, 1.23+ is doing it correctly, so a patch seems like the best option.

[2022-05-24 16:20] climbfuji commented on #23943
I've got a bugfix for this, it sets the lib directory correctly for the system. Will create a PR now.

[2022-05-24 16:23] climbfuji opened #30808 "Installation issue: gdal-3.4.2 on NOAA RDHPCS Gaea (Cray)"
### Steps to reproduce the issue

@adamjstewart

gdal doesn't build on gaea, because gaea doesn't support gdal's 64bit I/O needs.
[code]

### Error message

[code]

### Information on your system

NOAA RDHPCS Gaea (Cray):
[code]

`spack debug report`:
[code]

### Additional information

No longer available, because I already fixed the problem.

### General information

- [X] I have run `spack debu

[2022-05-24 16:29] climbfuji commented on #23943
See https://github.com/spack/spack/pull/30809

[2022-05-24 16:35] marvinbernhardt commented on #30805
may be related to #6961?

[2022-05-24 16:36] mdorier commented on #30799
Patch added.

[2022-05-24 16:54] jeanbez commented on #29578
@alalazo we were discussing with the HDF5 group about the possibility to replace the `{}` syntax to avoid any conflicts with spack as some packages now face this issue. If we were to replace that with something like `[]` would that cause any other internal conflicts with spack or do you have any other suggestion in that case, or is this a quick fix in spack?

[2022-05-24 17:08] alalazo commented on #29578
@jeanbez Let me try to reproduce

[2022-05-24 17:11] adamjstewart commented on #30557
@Paul-Ferrell can you see if this issue was fixed by #30678? That fixed it for me.

[2022-05-24 17:11] #30557 closed, assigned to tgamblin

[2022-05-24 17:12] alalazo commented on #29578
Ok, this error happens when writing module files. We might be able to quote `{` in that context.

[2022-05-24 18:40] caldodge commented on #28247
@omsai  I've run into similar problems, and noticed the idiotic "change the code without changing the version number" approach.
Is there a previous release of 3.2 which you know will work?  Or do I have to try every release they provide to find one that builds?

[2022-05-24 19:58] omsai opened #30816 "Installation issue: sed"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
==> sed: Executing phase: 'autoreconf'
==> sed: Executing phase: 'configure'
==> [2022-05-24-15:46:43.352706] '/tmp/pnanda/spack-stage/spack-stage-sed-4.8-pivv4eqxcciuvtoq3kh44ltwzslfo2dn/
spack-src/configure' '--prefix=/home/pnanda/spack/opt/spack/linux-ubuntu18.04-westmere/gcc-7.5.0/sed-4.

[2022-05-24 20:41] omsai commented on #28247
@caldodge I like @IncubatorShokuhou's idea of using the IOAPI git repository.  For making adjustments to the build and linking process, it actually may make more sense to add edge cases to the git revisions of IOAPI's master branch instead of relying on the 3.2 release tag.  Perhaps spack has versioning logic of knowing what git reversion in a branch is more recent than another.

Fault reproduced

[2022-05-24 20:45] G-Ragghianti commented on #30730
Here is a simple example reproduction for centos:7.  I'm working on some other OS versions.

[code]

[2022-05-24 21:33] #28510 closed, assigned to alalazo

[2022-05-24 21:33] #28540 closed, assigned to alalazo

[2022-05-24 21:47] Paul-Ferrell commented on #30759
It works for me now too, mostly. There's a separate libtheora package.py problem that needs to be dealt with though.

[2022-05-24 21:47] #30759 closed, assigned to nobody

[2022-05-25 00:35] trws commented on #30730
Thanks for that, it let me repro it, and I'm pretty sure I know what the cause is, but have to consider how to fix it without regressions elsewhere.  It looks like the installer assumes that if `compilers_for_spec(compiler_spec)` doesn't give out a compiler, then *it must already be in the build queue*.  Looks like this is to work around issues with bootstrapped compilers, maybe @becker33 can comm

[2022-05-25 08:48] tmadlener opened #30836 "Installation issue: gdb"
### Steps to reproduce the issue

Trying to install `gdb` currently fails for me on Ubuntu 20.04 with a system provided `gcc@10.3.0` where the error message seems to indicate that `gcc` is invoked with a warning flag that is not present. The same thing happens if I use the "standard" `gcc@9.4.0` that comes with Ubuntu 20.04

[code]

### Error message

<details><summary>Error message</summary><pre>

[2022-05-25 08:51] mdorier opened #30837 "Installation issue: boost doesn't build (with some specific variants)"
### Steps to reproduce the issue

[code]

This will try to install boost as a dependency, with the following variants:

[code]

### Error message

[code]

### Information on your system

* **Spack:** 0.18.0.dev0 (6a57aede571873f1dac2359dc3e6f430a1fcd900)
* **Python:** 3.9.5
* **Platform:** linux-ubuntu21.04-sandybridge
* **Concretizer:** clingo

### Additional information

I tried with boost 1.78

[2022-05-25 12:17] sethrj commented on #22866
@tgamblin @becker33 You may want to fix this before 0.18 is released, because with the warning message
[code]

the modules file
[code]
creates a ~~broken~~ very odd `modules.yaml` file (though thankfully it leaves the backup):
[code]

EDIT: it looks this bizarre syntax is valid YAML, and it preserves the original behavior when regenerating the module files. So I guess it's not *too* broken.

[2022-05-25 12:36] IshaanDesai commented on #30652
Same issue seen for package py-pyprecice.

System information:
* **Spack:** 0.17.1
* **Python:** 3.8.11
* **Platform:** linux-sles15-skylake_avx512
* **Concretizer:** clingo

@ajaust @BenjaminRodenberg and I are maintainers of py-pyprecice.

[spack-py-pyprecice-install-log.txt](https://github.com/spack/spack/files/8771123/spack-py-pyprecice-install-log.txt)

[2022-05-25 12:40] bosmacs commented on #30564
I also tested on a linux VM, where indeed the build succeeds. However, inspecting the resulting binary, `libscotch.so` has the same undefined symbols:

[code]
These are defined in `libscotcherr.so`:
[code]
but `libscotch.so` does not depend on `libscotcherr.so`:
[code]
As a result this is a potential runtime problem on Linux.

I will look into submitting an upstream issue, but I think the addition

[2022-05-25 12:50] tmadlener commented on #30836
It seems that this is indeed a spack related issue as I can build gdb outside of spack (even if I use the same arguments to `configure`). I am not entirely sure which part of the spack build environment is responsible for the `Wdeprecated-register` flag.

[2022-05-25 13:52] tmadlener commented on #30836
To add further to this: The problem also seems to be present on CentOS7. Digging a bit through other issues, I found #30799 and this build issue here seems to be caused by the same PR: #30284. Reverting those changes lets me build `gdb` successfully (on Ubuntu and CentOS7)

[2022-05-25 15:47] hainest commented on #30837
Could you run `spack -d install -v arrow >arrow.debug 2>&1` and attach the output file here?

[2022-05-25 16:04] mdorier commented on #30837
Sure, here it it.
[arrow.debug.txt](https://github.com/spack/spack/files/8772718/arrow.debug.txt)

[2022-05-25 16:56] adamjstewart commented on #22759
@rgommers going through old numpy issues and found this, unclear if it's still an issue with newer numpy releases though.

[2022-05-25 17:00] adamjstewart commented on #7353
This should be fixed by #28346. We now query `sysconfig.get_paths` to determine the correct purelib (`lib/pythonX.Y/site-packages`) and platlib (`lib64/pythonX.Y/site-packages`) and add both to the `PYTHONPATH`.

[2022-05-25 17:00] #7353 closed

[2022-05-25 17:03] adamjstewart commented on #6629
This is related to the discussion in https://github.com/spack/spack/discussions/30795. Basically, we either try to parse `setup.cfg`, `pyproject.toml`, and `requirements.txt` (which may be nested, duplicated, or contain optional developer deps), or we parse the wheels directly. Just want to say that this is still on my radar and something I'm very interested in supporting.

[2022-05-25 17:04] adamjstewart commented on #1927
@skosukhin did you say that we should no longer have RPATH issues with Python?

[2022-05-25 17:06] adamjstewart commented on #5112
The situation here should be slightly better now. I modified our Python package to _try_ to call `python` directly and ask sysconfig where the relevant paths are, _except_ failure, and fallback on reasonable default values. Of course, those default values may not work on all systems. I'm not sure of any better way to handle cross-compiling with Python, but let me know if you have any ideas.

[2022-05-25 17:07] adamjstewart commented on #6228
Spack now knows how to reuse packages that are already installed, even if the spec is not an exact match or patches have been added/removed.

[2022-05-25 17:07] #6228 closed

[2022-05-25 17:08] adamjstewart commented on #7370
No response so I'm guessing this is no longer an issue.

[2022-05-25 17:08] #7370 closed

[2022-05-25 18:09] kgerheiser commented on #29255
Intel says they're going to fix this.

https://community.intel.com/t5/Intel-Distribution-for-Python/libpython3-9-a-does-not-exist/td-p/1363865?emcs_t=S2h8ZW1haWx8c29sdXRpb25fdG9fcXVlc3Rpb258TDFISjJPVUM5TktVTEl8MTM3Mzc2NnxBQ0NFUFRFRF9TT0xVVElPTlN8aEs

[2022-05-25 18:09] #29255 closed, assigned to adamjstewart

[2022-05-25 18:22] rgommers commented on #22759
This may still be an issue, it's fairly recent and there's not all that much work on VSX-specific SIMD as far as I know. I can't test though. Agreed this looks like a NumPy bug, not a Spack-specific one.

[2022-05-25 18:25] adamjstewart commented on #22759
@ax3l can you open an issue in the numpy repo?

[2022-05-25 18:26] sethrj commented on #30816
I encountered this as well on macOS due to https://github.com/spack/spack/pull/30714 . I will submit a patch.

[2022-05-25 18:55] G-Ragghianti commented on #28891
https://github.com/spack/spack/pull/30773

[2022-05-25 19:48] #30816 closed, assigned to nobody

[2022-05-25 20:08] eugeneswalker opened #30853 "roctracer-dev: cannot use external ROCm components if version isn't explicitly registered with Spack"
### Steps to reproduce the issue

Using:
* `spack@develop` (a681fd7b42746480de76a348065e8ccce5cea6c9 from `Sun May 15 06:59:11 2022 -0400`)
* ROCm 5.1.1 externally installed via amdgpu-install script

Installing the latest ROCm stack via amdgpu-install script gives `/opt/rocm-5.1.1`. If the individual ROCm components are registered as externals in Spack, with the correct version`@5.1.1`, then it c

[2022-05-25 20:22] srekolam commented on #30853
@eugeneswalker , as part of rocm recipes update, i submitted a PR for ROCm-5.1.3 yesterday. Not sure if you can move to ROCm-5.1.3 in that case ... Yeah, there is no support for ROCm-5.1.1 for rocm recipes.

[2022-05-25 22:48] ax3l commented on #22759
I thought I opened one last year and they fixed my power issues:
https://github.com/numpy/numpy/issues/19017

[2022-05-25 22:48] vicentebolea commented on #29527
@kwryankrattiger Outside of we have succeeded building VTK-m with HIP 4.5 for 1.7.1. For HIP 5.1 the trick was to disable compiler optimizing flags.

[2022-05-25 22:50] ax3l commented on #22759
I would close this issue here.
If someone sees new issues with numpy on Power9: Livermore people can test on Lassen & Sierra if all is well and OLCF people can test on Summit :)

[2022-05-25 22:50] #22759 closed, assigned to adamjstewart

[2022-05-25 23:02] adamjstewart opened #30864 "Misleading concretizer error message: no valid version satisfies"
### Steps to reproduce

This issue occurs any time you add a new version to a package, and that version requires new versions of dependencies that aren't in Spack. If you update a lot of recipes like me, that means almost every time.

To reproduce the issue, try something like this:
[code]
Obviously zlib@999 doesn't exist in Spack, so the concretizer should complain if you try to build python@999.

[2022-05-25 23:08] adamjstewart commented on #22759
Awesome! You can add a conflict to the package if you want to signify that old versions won't work on ppc with old GCC.

[2022-05-26 00:29] #30734 closed, assigned to nobody

[2022-05-26 01:32] quellyn opened #30868 "Installation issue: py-sphinx"
### Steps to reproduce the issue

The `py-sphinx` package has a dependency on `py-alabaster`, expressed in its recipe as:
[code]

Notice the lack of colon (':') following the version. It seems to imply that only `0.7` will do, but presumably the intent here is to require `py-alabaster` version `0.7` *or higher* (indeed, there is no `0.7` version available in the `py-alabaster` recipe).

I tested t

[2022-05-26 03:22] hainest commented on #30837
During the install phase, b2 is being invoked with `threading=single` even though none of the variants set it. I will look at this closer and see if I can figure it out.

[2022-05-26 04:12] adamjstewart commented on #30868
Sphinx's `setup.py` contains:
[code]
which in modern Spack is equivalent to `@0.7`. As you've discovered, this only works with the new clingo concretizer. For the original concretizer, this would look something like `@0.7.0:0.7`, which is a bit more cumbersome. If you need to use the original concretizer, you can change it back to the old format, but there are hundreds of packages in Spack that us

[2022-05-26 13:09] robertu94 opened #30871 "Weird misbehaviors arround namespaced packages"
### Steps to reproduce

Two different issues, but I think they are related.

Spack@develop seems to have difficulties installing the package from the builtin repo if another repo that defines the package exists.

[code]

This may be a separate bug, but `spack edit builtin.sz` also cannot edit the builtin sz package.

### Error message

no crash for the first, but the second command yeilds

[code]

[2022-05-26 13:49] robertu94 commented on #30836
@trws This user seems to have a problem with a patch you merged recently.

[2022-05-26 15:14] quellyn commented on #30868
We are using the new concretizer now, but due to programmatic requirements we must maintain some older Spack environments that use the old concretizer. It's good to be aware of this change, thanks!

[2022-05-26 15:15] #30868 closed, assigned to nobody

[2022-05-26 16:25] trws commented on #30836
It looks like this is a related problem, caused by this little chunk of shell in gdbsupport/warning.m4 in the autoconf setup for gdb:

[code]

This translates `-Wno-err*` to `-Werr*` basically, on the theory that the
compiler will only fail when passed the `-Werror` version.  Because the patch is
stripping the `-Werror*` flags, it doesn't fail *but it does fail when the
`-Wno-error` ones are passe

[2022-05-26 17:22] benpm commented on #30509
Can no longer reproduce, closing

[2022-05-26 17:22] #30509 closed, assigned to nobody

[2022-05-26 17:25] ltalirz commented on #29560
I also recently started running into this issue on CentOS 7, which still uses GCC 4.8.5 by default.
The issue appeared without me updating spack (which had been working fine), it just occurred with at some point with a `spack install` command.

`pip install clingo` fixed it for me, thanks @troyrock for the suggestion.

[2022-05-26 19:09] srekolam commented on #30711
@G-Ragghianti  i will check with the team and see if they can provide any fix for the future release. right now it is a clang-based tool and we copy the include header files.

As a alternative, i have put this code in this branch.
https://github.com/spack/spack/commit/59e8257bc22e8d6de74d5d46655d3557977539f4

[2022-05-26 19:20] adamjstewart commented on #5356
Just checked and this is still broken on develop. If you remove the `fetch_remote_versions` hack you added to the package, the issue still exists, and likely affects far more packages than just `protobuf`.

[2022-05-27 00:15] trws commented on #30836
The commit that caused this issue has been reverted for 0.18, for develop either #30882 or #30881 should fix this issue depending on how we decide to work around the problem long-term.

[2022-05-27 00:25] eschnett commented on #30339
Where should this be addressed? My approach would be to modify the `cc` script to check whether there is an `-arch` flag, and if so, filter out any `-march=...` flags.

I assume the `-march=...` flag comes from the `SPACK_CXXFLAGS` environment variable?

[2022-05-27 01:51] bosmacs opened #30889 "Installation issue: mesa@22.0.2"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
1 error found in build log:
     8     Program python3 found: YES (/opt/spack/opt/spack/darwin-monterey-m1/apple-clang-13.0.0/python-3.9.12-pwm3shgvw2mckmmu3qri7xlijwfrstst/bin/python3)
     9     Project name: mesa
     10    Project version: 22.0.2
     11    C compiler for the host machin

[2022-05-27 01:54] bosmacs commented on #30889
This appears to be happenening due to the combinations of apple-clang-13.0 as the compiler and llvm-14.0 being a dependency of mesa by default. The meson sanity check picks up a -L linker path to the llvm-14 dependency, which I'm guessing has a conflicting libc++, because the resulting executable segfaults. Running the same compile command with -L<llvm-dir> removed produces an executable that exit

[2022-05-27 10:18] #28183 closed, assigned to alalazo

[2022-05-27 10:18] #28190 closed, assigned to alalazo

[2022-05-27 10:18] #30513 closed, assigned to adamjstewart

[2022-05-27 10:18] #30587 closed, assigned to alalazo, adamjstewart

[2022-05-27 13:49] certik commented on #28190
Thanks for fixing it. I can confirm that as of `develop` version 78cac4d8405416eedc9533ef41c6be9872017cf2 the bootstrap now works on Apple M1 Max without Xcode (just command line tools installed) and without Conda, just bare terminal and system Python:
[code]

[2022-05-27 15:07] jeanbez commented on #29578
@alalazo so the quote would be done internally in spack? I've tried some workaround to make it escape as it is today but they are ignored or the quotes are forwarded and set as env variables, which breaks stuff

[2022-05-27 16:14] trws commented on #30339
I'd say it needs to be a combination of archspec, which got some updates to better handle arm just recently, and the way that we handle the options for LLVM bootstrap.  We don't currently get our wrappers in to wrap around the intermediate stage compilers, so the wrapper likely wouldn't have any effect.  That's something we can fix, I could actually send you the approach I was looking at if you wa

[2022-05-27 17:20] dev-zero opened #30898 "> Not sure why testing is needed, though, can you elaborate please @w8jcik?"
I don't know the direct reason, but without this flag, CMake fails with following message

[code]

Looks like some hidden dependency.

_Originally posted by @w8jcik in https://github.com/spack/spack/issues/30891#issuecomment-1139594965_

[2022-05-27 17:21] #30898 closed, assigned to nobody

[2022-05-27 17:21] dev-zero commented on #30898
sorry, that was a PEBCAK

[2022-05-27 21:32] ewokhias commented on #29350
I got here after googling a different problem. I got the same error "plugin-api.h: No such file or directory" while building llvm tests (make check-all). The solution to my problem was installing the missing binutils-dev. Maybe this helps here too?

[2022-05-28 04:50] tgamblin commented on #7123
This is done; details TBA shortly after the 0.18 release.

[2022-05-28 04:50] #7123 closed

[2022-05-28 14:56] tgamblin commented on #11698
Closing as activation is deprecated and will be removed in 0.19 in favor of #29336.

[2022-05-28 14:56] #11698 closed

[2022-05-28 15:25] liu-shaobo opened #30906 "ORTE_ERROR_LOG: Not found in file ess_hnp_module.c at line 320"
### Steps to reproduce

# spack install openmpi@4.0.5
# spack find openmpi
==> 1 installed package
-- linux-centos7-x86_64_v3 / gcc@9.3.0 --------------------------
openmpi@4.0.5

### Error message

#  mpirun -np 2 ./hello_c
[10-23-55-252:10972] [[55297,0],0] ORTE_ERROR_LOG: Not found in file ess_hnp_module.c at line 320
--------------------------------------------------------------------------
It

[2022-05-29 01:14] adamjstewart opened #30911 "Not possible to disable values in MVV"
### Steps to reproduce

1. Choose a package with multi-valued variants (MVV)
2. Add it as an external package but with only some of those possible values enabled
3. Try to build something that requires some of the unspecified values
4. Notice that the external package satisfies those conditions despite not having those values enabled

### Error message

No errors, but the concretizer shouldn't be

[2022-05-29 05:04] BenWibking commented on #30644
Fixed by https://github.com/spack/spack/pull/30678

[2022-05-29 05:04] #30644 closed, assigned to nobody

[2022-05-29 21:15] haampie opened #30915 "Spack's compiler wrapper as a build dep"
Right now we have a posix compliant shell script type of compiler wrapper, which is nice and reasonably fast, but the downside is it can only intercept compilers when they're in the PATH.

When compiling e.g. GCC with `--with-ld=/path/to/binutils/bin/ld` or whatever the flag is, GCC invokes the linker by absolute path, and Spack can't intercept it. Similar issues happen with compiler bootstrapping

[2022-05-29 22:47] adamjstewart commented on #30808
It's still a WIP, but see if #30916 solves your build issues. If that works, we may not need your PR (unless you really need GDAL 3.4 or older).

[2022-05-30 02:28] eschnett commented on #30339
How does archspec enter? These files seem to be cross-compiled; wouldn't it be Spack's responsibility to tell archspec what the target architecture is? Or does archspec have the ability to look at a compiler command line to determine the target architecture?

[2022-05-30 08:00] skosukhin commented on #1927
@adamjstewart even if I did, it was rather stupid of me. This is an old thread and, as far as I understand, things have changed since then. Also, I have not really followed the recent developments in the Python package, to be honest. What is the actual problem that we have now?

[2022-05-30 11:23] dmentock opened #30922 "Specifying a site-scope compiler does not add the compiler to the more highly prioritized /linux/compilers.yaml file that is initially created"
### Steps to reproduce

[code]

### Error message

`gcc@12.1.0` is currently set as the preferred version for the `gcc` compiler, so I would like to be able to use it as the default compiler for every package without having to explicitly specify the version every time. Adding the newly installed `gcc@12.1.0` to the list of compilers with `spack compiler find --scope=site` creates a new file in `/o

[2022-05-31 05:36] paspro opened #30930 "Installation issue: med (and salome-med)"
### Steps to reproduce the issue

spack install med +mpi

or

spack install salome-med +mpi

@likask
@franciskloss

[code]

[2022-05-31 13:05] behrmann opened #30937 "Unable to bootstrap clingo from sources"
### Steps to reproduce

It currently seems impossible to bootstrap clingo from sources without using pre-built binaries, simply by untrusting the pre-built binaries.

[code]

This can be worked around by making a local mirror and trusting that one
[code]
but this seems not intended.

As an aside: The documentation is also somewhat wrong, as `spack bootstrap untrust github-actions` no longer works,

[2022-05-31 15:54] trws commented on #30339
Archspec maps the architecture to the flags. So if the arch flags are wrong, that's where they are coming from.  Flags on arm were recently reworked to repair some significant issues, including lack of march support, but I'm not sure if that will solve this directly or not.

[2022-05-31 16:07] eschnett commented on #30339
The problem is the following:
- LLVM uses the flags `-arch armv7 -arch armv7s -arch arm64 -arch armv7k` to cross-compile the iPhoneOS run-time libraries
- Spack ignores this, and adds an `-march=skylake` flag because the host platform uses a Skylake CPU

I think archspec is working just fine; the host CPU is a Skylake CPU, and archspec selects the proper flags for it. Nothing wrong with that.

The

[2022-05-31 16:18] trws commented on #30339
I see what you mean, thanks for explaining as I clearly misunderstood the issue.  That's extra tricky because this is, in spack's view, neither cross-compiling the package nor is this a bootstrap build.

Given the way this fits together, I think the best course is to either:

1. just strip the spack arch flags, in spack so they don't get to the wrapper or
2. take the arch selected for the package

[2022-05-31 16:31] wyphan commented on #29350
Thanks @ewokhias, that solved the problem! On my machine it detects `binutils` as external so it relies on the system-installed `binutils`, but for systems that don't have `binutils`. Spack should build it with `+headers` variant turned on. PR incoming.

Edit: PR draft here https://github.com/spack/spack/pull/30954

[2022-05-31 21:37] dmentock commented on #30922
I found a solution many other packages use where they assign the variables by using `os.environ['HDF5_LIB_DIR'] = spec['hdf5'].prefix.lib`

[2022-05-31 22:44] scheibelp commented on #30922
A few questions:

* Does `gcc@12.1.0` appear when you run `spack config blame compilers` from the command line?
* Can you explicitly specify `spack spec libelf %gcc@12.1.0`?

I think you mean here that if you `spack edit gcc`, that you set `12.1.0` as `preferred` (or it already was that). Note this doesn't have much effect on what compiler version Spack uses to install other packages. For that, yo

[2022-06-01 01:45] vanderwb opened #30943 "Installation issue: Lua (Luarocks)"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
...
==> Installing lua-5.3.5-62dd2cexvmyo2zix534pu7l3sseh4rp6
==> No binary for lua-5.3.5-62dd2cexvmyo2zix534pu7l3sseh4rp6 found: installing from source
==> Fetching https://mirror.spack.io/_source-cache/archive/0c/0c2eed3f960446e1a3e4b9a1ca2f3ff893b6ce41942cf54d5dd59ab4b3b058ac.tar.gz
==> F

[2022-06-01 04:15] #27160 closed, assigned to nobody

[2022-06-01 04:16] #27165 closed, assigned to nobody

[2022-06-01 04:16] #27156 closed, assigned to nobody

[2022-06-01 04:16] #27320 closed, assigned to alalazo

[2022-06-01 04:17] #27892 closed, assigned to nobody

[2022-06-01 04:18] eugeneswalker commented on #27955
Closing in preference for https://github.com/spack/spack/issues/29520

[2022-06-01 04:18] #27955 closed, assigned to nobody

[2022-06-01 04:19] #25673 closed, assigned to nobody

[2022-06-01 04:19] #24591 closed, assigned to nobody

[2022-06-01 10:47] dmentock commented on #30922
- `gcc@12.1.0` is the first entry I get when I run `spack config blame compilers` on my current setup, where all of my compilers are stored in the `/opt/spack/etc/spack/compilers.yaml` file:

[code]

- `spack spec libelf%gcc@12.1.0` returns `libelf@0.8.13%gcc@12.1.0 arch=linux-ubuntu20.04-zen2`, and `spack install libelf%gcc@12.1.0` installs `libelf` with the desired gcc version.

With this setup,

[2022-06-01 18:08] scheibelp commented on #30922
Additional questions/notes:

* Can you also post the output of `spack config blame packages`?
  * In particular it looks like you are now getting different results for libelf in https://github.com/spack/spack/issues/30922#issuecomment-1143441602 vs. in the beginning of the thread (so I'm curious if you changed the preferences for just libelf)
* Can you post the output of `spack spec py-seaborn`?

[2022-06-01 21:08] dmentock commented on #30922
- here is my `spack config blame packages` output:
[code]
I did not change any preferences, the only difference is that as opposed to having two seperate `compiler.yaml` files in `/opt/spack/etc/spack/linux/compilers.yaml` and `/opt/spack/etc/spack/compilers.yaml` I now have all my compilers listed in `/opt/spack/etc/spack/compilers.yaml`.

- Here is my spack `spec py-seaborn` output
[code]

I thi

[2022-06-01 21:25] ashermancinelli opened #30952 "Installation issue: neovim 'E970: Failed to initialize lua interpreter'"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary>
<pre>
cd /private/var/folders/vz/s2jc6vq50l9_sjh85hnlgvydgz4_5h/T/manc568/spack-stage/spack-stage-neovim-0.7.0-bkoxxmh5nhoj5lgqjlfbyrprp5wwcsy3/spack-build-bkoxxmh/runtime/pack/dist/opt/vimball && /private/var/folders/vz/s2jc6vq50l9_sjh85hnlgvydgz4_5h/T/manc568/spack-stage/spack-stage-neovim-0.7.

[2022-06-01 21:42] ashermancinelli commented on #30952
The exact same error occurs with `lua-luajit-openresty` as well.

[2022-06-01 21:51] scheibelp commented on #30922
This is strange: if I check out the tip of Spack (5faa927fe6b6708e54e8a05dfca5189a64910af7 as of now) inside of the `ubuntu:latest` docker image (`Image ID: d13c942271d6`) and do

[code]

such that

[code]

then the concretization chooses `%gcc@12.1.0` (in my case there's a choice between this and `gcc@9.3.0`); I don't have to set a preference (i.e. default package preferences). Do you get the sam

[2022-06-01 22:55] trws commented on #30952
I thought I had this solved, but this is specifically a Darwin issue AFAIK.  For now, it seems to work reliably with the lua interpreter, but that's not a very satisfying solution.  I'll try to look into it, but am not 100% sure what the root cause is.

[2022-06-01 23:03] ashermancinelli commented on #30952
Right, can't use most plugins with just the interpreter. Thanks Tom, happy to test stuff if you have ideas.

[2022-06-01 23:09] trws commented on #30952
If that's true I would consider it a bug (though I'm not sure I can fix all instances).  I try to include all the lua packages necessary to mimic luajit functionality in regular lua to make things like telescope work.  Have you seen anything specific missing?

[2022-06-02 03:24] climbfuji opened #30956 "Bug or not? intel-oneapi-mpi compiler wrappers change when setting target"
### Steps to reproduce

I installed packages on an HPC with intel-oneapi-mpi
[code]
and the Intel compilers
[code]
This set `spec['mpi'].mpicxx` to `mpiicpc` etc. When I add
[code]
to avoid compiling for the login node CPU (which would be `skylake_avx512`), it seems to set `spec['mpi'].mpicxx` to `mpicxx`. This doesn't work with packages like ESMF (I got the `spec['mpi'].mpicxx` settings from look

[2022-06-02 08:44] csccva opened #30958 "macOS Catalina: Spack fails to bootstrap"
### Steps to reproduce

From a clean cloning the bootstrapping fails in v0.18. I have no Xcode installed (it is a work laptop where I can not install anything)

### Error message

[code]

### Information on your system

[code]

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have searched the issues of this repo and believe t

[2022-06-02 09:16] ser3n1ty87 opened #30959 "Installation issue: lua-mpack"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
==> Error: ProcessError: Command exited with status 1:
    '/hpc/uhome/kvobig/tmp/spack-testing/opt/spack/linux-rhel7-zen2/gcc-11.3.0/lua-luajit-openresty-2.1-20220111-j4fbdrdoh2n4bi57ykmfee5sduq2vtny/bin/luarocks' '--tree=/hpc/uhome/kvobig/tmp/spack-testing/opt/spack/linux-rhel7-zen2/gcc-11

[2022-06-02 12:34] Paul-Ferrell opened #30961 "`concretizer:unify:when_possible` prefers locally concretized version a bit too much"
### Steps to reproduce

An environment includes two packages, A and C. A depends on B which depends on C. When using `concretizer:unify:when_possible`, Spack will use the locally concretized spec for C even if a perfectly reasonable C exists upstream. Even worse, this will cause Spack to use a locally concretized B even if that exists upstream.

I'm not sure this is a bug or the expected behavior,

[2022-06-02 12:53] Paul-Ferrell commented on #30961
[code]

[2022-06-02 12:59] becker33 commented on #30961
Closing this issue -- this is intended behavior.

[2022-06-02 12:59] #30961 closed, assigned to nobody

[2022-06-02 15:00] dmentock commented on #30922
I checked out the commit you posted, installed `gcc@12.1.0` and created the `fake_compiler/compilers.yaml` file you posted, but `spack -C fake-compiler/ spec py-seaborn` still returns `gcc@10.3.0` as the preferred compiler. Changing the `packages.yaml` file as following did not have an effect either:

[code]
the `py-seaborn` package does not seem to have a problem with using the gcc@12.1.0 compile

[2022-06-02 17:04] s-sajid-ali opened #30965 "containerize: python+pythoncmd fails to produce working symlink for pythoncmd"
When installing python+pythoncmd as part of an environment and exporting it to a container, the python symlink in the container is broken.  A minimal reproducer is listed below.

For a given spack environment file:
[code]

The spack generated Dockerfile is:
[code]

And the generated container does not have a working python command as demonstrated below:
[code]

### General information

- [X] I hav

[2022-06-02 17:07] s-sajid-ali commented on #30965
A minimal reproducer is listed below.

For a given spack environment file:
[code]

The spack generated Dockerfile is:
[code]

And the generated container does not have a working python command as demonstrated below:
[code]

[2022-06-02 17:10] s-sajid-ali commented on #30965
This was originally observed when building a container using GithubActions:
- The workflow to build the container is [here](https://github.com/fnalacceleratormodeling/synergia2-containers/blob/main/.github/workflows/docker-publish.yml).
- The spack environment is [here](https://github.com/fnalacceleratormodeling/synergia2-containers/blob/main/ubuntu-gcc/spack.yaml)
- A lightly edited version of th

[2022-06-02 20:22] climbfuji commented on #30956
Update. I figured out that this had to do with changing the Intel compiler from the old Intel 19.x.y.z to the classic compilers in the intel-oneapi suite. It's still an issue and possibly a bug, but it's got nothing to do with setting `target`, therefore closing.

[2022-06-02 20:22] #30956 closed, assigned to nobody

[2022-06-03 12:55] haampie opened #30976 "depends_on('automake', when='patches=...')`"
It would be nice if I could add autotools build dependencies when a patch requires the configure script to be regenerated

[code]

[2022-06-03 13:41] jme52 opened #30978 "Installation issue: amdfftw"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
make[2]: Entering directory '/tmp/root/spack-stage/spack-stage-amdfftw-3.1-bddzkyjj4esk377cf55rpvu3yk7xmepo/spack-src/double/kernel'
/bin/bash ../libtool  --tag=CC   --mode=compile clang -DHAVE_CONFIG_H -I. -I../../kernel -I..  -I ../..   -O3 -fomit-frame-pointer -mtune=native -fstrict-alias

[2022-06-03 15:40] #29993 closed, assigned to nobody

[2022-06-03 20:39] davide-q opened #30987 "Issues with spack bootstrap"
### Steps to reproduce

1. Attemping to do bootstrapping before activating an environment fails

[code]
Causes apparent random failures like the one below. Switching the order seems to be working fine, as far as I can tell.

3. As described in https://github.com/spack/spack/pull/28556

[code]
does not work. If it simply produced an error message, that would be fine. Instead it appears to work but

[2022-06-03 20:52] tylerjereddy opened #30988 "ENH: tau with DynInstAPI"
As far as I can tell `spack` doesn't currently support building `tau` such that this feature is available: https://www.cs.uoregon.edu/research/tau/docs/newguide/bk03ch02s02.html

In short, it adds an extra dependency on `DyninstAPI`, and `spack` can install `dyninst`, but it is not listed as a dependency of `tau` at the moment, and I don't see an option that would enable this?

To make matters wor

[2022-06-03 22:21] khuck commented on #30988
@tylerjereddy you're correct that the tau package doesn't have any support for configuring TAU with DynInstAPI support. We should fix that, if it's needed.

[2022-06-03 22:29] tylerjereddy commented on #30988
I can tell you the basics of my use case to determine if it would be useful:

- want to use runtime/`LD_PRELOAD` profiling approach because recompiling an entire Python machine learning stack with `tau`-specific compile options would likely be painful/impractical
- want to use this runtime-only profiling approach to trace MPI data transfer/activity between ranks/nodes and produce i.e., jumpshot-st

[2022-06-04 10:07] cessenat commented on #30930
I get the same error on Ubuntu 20.04 ; it appears med+mpi works with hdf5 1.10.6 to 1.10.7, but not with 1.10.3 to 1.10.5.
You can add something like
`    conflicts("hdf5@1.10.2:1.10.5+mpi", when="+mpi", msg="Immature cmake hdf5")
`
in the med/package.py or on the command line :
`$ spack install med +mpi ^hdf5@1.10.3~cxx~fortran~hl~ipo~java+mpi+shared~szip~threadsafe+tools`

[2022-06-04 10:32] cessenat commented on #30757
Solved by PR https://github.com/spack/spack/pull/30923

[2022-06-04 11:01] michaelkuhn opened #30991 "Cannot run unit tests with Python 3.10"
### Steps to reproduce

[code]

This seems to be https://github.com/pytest-dev/pytest/pull/8540

### Error message

[code]

### Information on your system

* **Spack:** 0.19.0.dev0 (f3893b3e170a3268e57d85cfa264c97bd772c5ef)
* **Python:** 3.10.4
* **Platform:** linux-fedora36-zen2
* **Concretizer:** clingo

### General information

- [X] I have run `spack debug report` and reported the version of S

[2022-06-04 12:44] #30952 closed, assigned to trws

[2022-06-04 16:05] #30757 closed, assigned to adamjstewart

[2022-06-04 21:20] glennpj opened #30996 "concretization missing dependencies with version specified in packages.yaml"
### Steps to reproduce

I noticed an issue with the texlive package where the concretizer was not putting dependencies in the DAG. This could be unique to texlive as it has unique versioning. However, I do not see anything wrong with the texlive package so it could be a more general problem. First, the preferred version of texlive is 20220321.
[code]
That can be confirmed with the spec.
[code]
How

[2022-06-05 01:52] glennpj opened #30997 "Concretization performance is really bad after #29926"
### Steps to reproduce

I know that #29926 acknowledged that there were performance issues but it seems to be much worse than indicated there.
### Concretization of texlive prior to change
[code]
### Concretization of texlive after the change
[code]

### Error message

[code]

### Information on your system

[code]

### General information

- [X] I have run `spack debug report` and reported the ve

[2022-06-06 13:24] jrlagrone opened #31002 "Installation issue: Magma, invalid pkgconfig generated"
### Steps to reproduce the issue

[code]

### Error message

The install completes successfully, but the pkgconfig settings contains build paths from `spack-stage` in the `CFlags`.

For example, `spack/opt/spack/linux-ubuntu20.04-zen2/gcc-9.4.0/magma-2.6.2-zfynpksgclsjkqu3hgkov3q7xbs62dzl/lib/pkgconfig/magma.pc` contains

<details><summary>Error message</summary><pre>
prefix=/hpc/superpod/testing/

[2022-06-07 06:01] vanderwb commented on #29930
I seem to be running into this same issue with a pkg-config external confusing the concretizer. In one environment I build things from source and tmux, for example, uses pkgconf. In a second environment (that has the same package configurations) I attempt to use binary versions from a cache but this fails because now clingo wants to use pkg-config instead.

[2022-06-07 15:20] manuelakuhn opened #31021 "Extracting archives is broken after changes in decompression"
### Steps to reproduce

#25185 breaks the installation of the `pcre` package for me.

Error message:

[code]
debug output shows:
[code]
Note that the file name is simply `download`

For this package the reason is that the url is specified with a `/download` at the end
[code]
Changing it to `https://sourceforge.net/projects/pcre/files/pcre/8.42/pcre-8.42.tar.bz2` fixes it in this case.

This also a

[2022-06-07 18:31] marcmengel opened #31026 "Per-os config (sub)scope."
### Summary

Currently some spack config files, particularly `packages.yaml ` for external packages available, but some
aspects of others, are more dependent on the specific operating system (i.e Centos7 vs Centos8) than
the os type (i.e linux) or architecture.    It is beneficial then to have a `centos7/packages.yaml `and a `centos8/packages.yaml`, etc. listing which packages are local installs o

[2022-06-07 19:23] adamjstewart commented on #31026
Duplicate of #2700

[2022-06-07 19:29] G-Ragghianti commented on #31002
Thanks for the note, but due to this needing to be fixed upstream and due to it not causing an actual error, I would like to close this issue. It that OK with you?

[2022-06-07 20:06] trws opened #31030 "Bootstrap fragility, or hardening bootstrap"
After looking at relying on bootstrap for clingo provider on LC systems and elsewhere, I've run into a number of distinct but tightly related either bugs or lacks in bootstrap that make it a bit tricky to rely on, posting this up as a tracking issue and place to discuss what to do and how to do it so we can rely on this in some less ideal cases.

* Bootstrap python module imports: Currently bootst

[2022-06-07 21:12] #31021 closed, assigned to scheibelp

[2022-06-07 22:58] davidbeckingsale commented on #31030
CC @adrienbernede

[2022-06-08 04:42] roastduck opened #31041 "Checksum of cudnn package seems wrong or out-of-date"
### Steps to reproduce

Install `cudnn@8.3.3.40-11.5` or `cudnn@8.3.2.44-11.5` on `arch=linux-debian11-zen2`.

### Error message

It reports

[code]

for `cudnn@8.3.3.40-11.5`, and

[code]

for `cudnn@8.3.2.44-11.5`.

I downloaded from the URL manually and found the checksum is truly different from what is expect by Spack, and the package downloaded by myself is complete.

### Information on your

[2022-06-08 06:40] alalazo commented on #31030
I think we chose the wording poorly when we introduced bootstrapping. Sometimes ago I had a brief conversation with @ax3l on Slack, and was proposing to reword "trust" and "untrust" to "enable" and "disable", since that's what we are effectively doing - enabling or disabling a registered mirror. What do you think?

[2022-06-08 06:42] alalazo commented on #31030
I know @adrienbernede might have issues I still have to try reproducing with concurrent bootstrapping from multiple Spack instances.

[2022-06-08 07:03] adrienbernede commented on #31030
@trws thank you for creating that issue. I have run into a confusing set of issues myself and @alalazo helped me clarify things.

For Umpire CI, I had to install clingo on ruby, lassen and corona. Because things appeared unstable (non reproducible behaviors) and because I work for RADIUSS and not only Umpire, I created https://github.com/LLNL/radiuss-clingo-install to automate this install (docume

[2022-06-08 15:41] trws commented on #31030
Ok, we should have a chat about this.  I'm relatively certain we could solve the issues in spack bootstrap in less code, and work, than has already been done in radiuss-clingo-install.  Concurrent installations we should be able to fix with locking if that's on NFS, which honestly I thought was already working, or by ensuring each CI job sets a node or job-specific cache path and/or bootstrap path

[2022-06-08 15:45] alalazo commented on #31030
Mentioning #31042 as a bugfix that went in today, for an otherwise confusing behavior (Spack was using binaries when explicitly told to not do so).

[2022-06-08 16:55] adrienbernede commented on #31030
@trws, thank you for taking the time for an in-depth suggestion.
I have several comments about it, although I am digressing w.r.t. the issue:
- I was trying to avoid bootstrapping clingo in each job, precisely.
- I am sharing a single allocation (single node) among several jobs, which gives me fast allocation and responsive CI. I am already implementing similar anti-collision feature, and using /d

[2022-06-08 17:17] trws commented on #31030
That's all fair, the main thing that isn't set by uberenv (as far as I can tell, I haven't used it much but I can't find anything in the repo or the linked script that would deal with it) is the user cache path.  The bootstrap directory is, by default, a subdirectory of the user_cache_path, and that by default is `~/.spack/` *even if the config is elsewhere*.

This is unfortunate, but if either `S

[2022-06-08 17:40] alalazo commented on #31030
@trws The first suspect to check, which is on my list but I didn't get to it yet, is the absence of locks if we're using the API from `spack.binary_distribution`. I would expect everything that does an installation to grab a write lock, but at this point I'm not sure that Python module does it.

[2022-06-08 17:48] jrwrigh opened #31051 "spack environment fails to set LD_LIBRARY_PATH, but only when LD_LIBRARY_PATH isn't set"
### Steps to reproduce

[code]

Note this is also consistent when starting with `envB` and then switching to `envA`. However, if I activate an environment with `LD_LIBRARY_PATH` set to something:
[code]

I have a different environment (call it `envC`) where `LD_LIBRARY_PATH` is set on environment startup normally:
[code]

The only similarity between `envA` and `envB` that I can think of is that th

[2022-06-08 17:56] jrwrigh commented on #31051
The same behavior is observed for the `$C_INCLUDE_PATH`.

[2022-06-08 18:19] iarspider opened #31052 "Spack silently ignores unknown processor microarchitectures in environments"
### Steps to reproduce

Spack doesn't provide a good error message when asking for unknown `target` (processor microarchitecture) on command line,
silently ignores `target` inside environment

[code]

### Error message

[code]

### Information on your system

* **Spack:** 0.19.0.dev0 (d6fabd1533e436cebc94a74fd6d6716f152419fb)
* **Python:** 3.6.8
* **Platform:** linux-almalinux8-skylake_avx512
* **

[2022-06-08 18:31] trws commented on #31030
There are literally no mentions of locking in that file, other than to set `enable_transaction_locking=False` on the `Database` instance.  That feels deeply suspicious.  Interestingly enough, the failure is in a source install *after it finished installing* in the link @adrienbernede posted above.  This also is with a version of spack that has the lock repair PR from December in it, so if the NFS

[2022-06-08 18:44] adamjstewart commented on #31041
#31038

[2022-06-08 18:51] jrlagrone commented on #31002
That's fine.

It does not produce an usable package though, so I'm not sure whether or not you call that an actual error.

If you load the package and try to build against it, there will be errors because the paths in `spack-stage` may no longer exist.

I do agree that it's an upstream problem and not specific to Spack.

[2022-06-08 19:27] RonRahaman commented on #29938
I'm seeing the same issue from openssh-8.7p1-ntpy44vhmpzfymlooanrskm46vor7os5 when it's installed as part of git@2.31.1

[2022-06-08 19:57] RonRahaman commented on #29938
(I was able to install git through spack by specifying my OS's openssl and openssh as a external packages, but that's certainly not a solution to this particular issue :) )

[2022-06-08 22:02] vicentebolea opened #31058 "Installation issue: gh package fails to build in master"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
[+] /var/lib/spack/linux-opensuse_leap15-skylake/gcc-7.5.0/autoconf-2.69-goxfdtstlr6ytyh4trbjz3hrzuprk6cg
==> Installing git-2.36.1-yohsctguegakxlojw4uxq6224vxrwip3
==> No binary for git-2.36.1-yohsctguegakxlojw4uxq6224vxrwip3 found: installing from source
==> Using cached archive: /tmp/vice

[2022-06-08 23:16] citibeth opened #31063 "clingo: I want INSTALL, not BOOTSTRAP"
### Summary

The first time you run Spack, it goes through a complex process of downloading and building clingo.  I have a single Spack tree that is used by multiple users.  The first time EACH USER runs Spack, it downloads and builds the very same clingo, just so each user can say `spack spec`.

From the point of view of this use case, this bootstrap procedure makes no sense.  Better would be an

[2022-06-09 00:28] G-Ragghianti commented on #30611
++ yes I've had to add `^mesa~llvm` to avoid this particular error condition.

[2022-06-09 00:36] G-Ragghianti opened #31065 "hip package fails due to system-installed rocm files"
### Steps to reproduce the issue

This propblem occurs because the hip package in spack tries to access system-installed rocm files during the cmake.  This causes cmake errors.  The Dockerfile will show that hip installs correctly when the rocm rpms are not installed but fails once rocm is installed on the system.  The (slightly ironic) result is that the hip spack package is unable to be built wh

[2022-06-09 00:36] cgmb commented on #30611
@srekolam, @haampie, given that this issue has persisted for quite some time, perhaps we should just make hip itself say it depends on `mesa ~llvm`.

[2022-06-09 01:11] G-Ragghianti commented on #30611
https://github.com/spack/spack/pull/31066

[2022-06-09 04:11] kwryankrattiger commented on #30611
@cgmb That was how it was, but it is incorrect. This should be constrained by fixing the `libllvm` versions required by mesa when `+llvm`.

The correct fix for this is updating the `provides(libllvm)` versions for the new versions of `llvm-amdgpu` that were added to spack. Mesa already disables the llvm variant for incompatible versions of llvm.

[2022-06-09 04:49] kwryankrattiger commented on #30611
@srekolam Looking at the build log, it seems `LLVM_ENABLE_RTTI` is required by mesa. Is this something that can be enabled in `llvm-amdgpu` and still be useful with HIP?

[2022-06-09 12:01] alalazo commented on #31063
You can check where the root for everything that concerns bootstrapping is with:
[code]
and set a new location shared among users with:
[code]

[2022-06-09 12:12] citibeth commented on #31063
Thanks!

[2022-06-09 12:52] alalazo opened #31075 "Concretization fails with wrong error when target is not host compatible"
### Steps to reproduce

Be sure to have the default configuration for targets:
[code]
and then try to concretize:
[code]
Note that the concretization done to report this issue is on an `icelake` uarch.

### Error message

The concretizer reports the wrong kind of error for that concretization:
[code]
Here the issue is not a missing version, but the fact that we try to concretize for a microarchite

[2022-06-09 16:56] citibeth commented on #31063
Sorry, this is not working out well.  The problem is we have mixed sub-architectures in our installation.  Run Spack on one machine and it decides it needs target=x86_64; and on another it needs target=broadwell, etc.  All this for clingo.  Really, I don't care whether it has sub-architecture-optimized clingo for Spack concretization, this "feature" is breaking things in this case.

So what happen

[2022-06-09 17:05] srekolam commented on #30611
@kwryankrattiger  I see it is not enabled in the build scripts for the rocm releases. i can reconfirm one more time by talking to compiler team.

[2022-06-09 17:26] srekolam commented on #30611
@kwryankrattiger  , Just had a chat with the compiler team and they confirm that it is not enabled for rocm releases. .

[2022-06-09 17:38] alalazo commented on #31063
Hmm, which version of Spack are we talking about? `clingo` uses the same `centos7` binary to bootstrap on all the uarchs with x86_64 ISA.

[2022-06-09 18:39] kgerheiser commented on #19573
Pretty sure I had the exact same issue on an OpenSUSE machine.

The issue is that OpenSUSE sets `SITE_CONFIG` (at least I'm pretty sure it's the OS) which forces installation in `lib64`, instead of `lib`, and https://github.com/spack/spack/blob/1ada7ea809e32f931d420a23c705502922791b62/var/spack/repos/builtin/packages/font-util/package.py#L91

looks for the `font-util` package config in `lib`. This

[2022-06-09 18:59] cgmb commented on #30611
`spack install hip` was broken since 7477161a05da0880aa642212df40f0dc910f26c9. After the change to depend on `gl` in cbfe0d749208285c54a7e9182baf4def62c00d84, the default install of hip has been broken for more time than it's been functional.

The fact that this problem went unaddressed for two months and Spack v0.18 got tagged with ROCm broken by default is incredibly disappointing. Mistakes happ

[2022-06-09 19:17] kwryankrattiger commented on #30611
@cgmb  While I understand your frustration, as one of the people trying to maintain this stack I can assure you the known problems have not gone unaddressed. There have been various patches to stabilize the HIP install. Trust me when I tell you there is a lot of effort going in to making sure this works for everyone.

In an effort to better support ROCm, and other GPU, stacks in spack there is a p

[2022-06-09 19:22] kwryankrattiger commented on #30611
@srekolam Thanks for checking. I think maybe then there should be an `rtti` variant for `libllvm` providers so that mesa can check to make sure that feature is available when concertizing. `llvm-amdgpu` can just conflict when it is on and `mesa@22:` should toggle llvmpipe off in that case.

I did just try building it with RTTI enabled and it seems to almost work, it builds the libllvm at least.

[2022-06-09 22:00] cgmb commented on #30611
That sounds wonderful. I look forward to that day.

[2022-06-10 02:22] citibeth commented on #31063
The most recent commit is cc8d8cc9cb6ea002a... of Oct 25, 2021 (#26926)

Spack decided it needed to build patchelf from source, even as it apparently got clingo from binaries:

[code]

I spent many hours tinkering with the bootstrapping, getting everyone to use the same bootstrap.  Problems include:

** Sub-architectures can be problematic.  I had to set a `package.yaml` file not just in the norma

[2022-06-10 06:30] longlong10086 opened #31082 "Installation issue: libxcb"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
3369 3 errors found in build log:
3370      1043    make[1]: Entering directory `/tmp/fgs001/spack-stage/spack-stage-l
3371              ibxcb-1.14-wurp4k44dzfc6sab4dhxhh7xe7l364vg/spack-src/doc'
3372      1044    make[2]: Entering directory `/tmp/fgs001/spack-stage/spack-stage-l
3373

[2022-06-10 06:51] alalazo commented on #31063
Spack needs `patchelf` to relocate any binary at the moment. We plan to optimize this behavior in the future and record at buildcache creation whether or not a package actually needs relocation. That said, there have been improvements over bootstrapping and current `develop` always bootstraps for the most generic architecture of the family:
[code]

Permissions are a known pain point - but also a c

[2022-06-10 15:09] pab42 opened #31085 "hdf5 1.8.22 parallel Fortran interface is broken with CMake"
### Steps to reproduce

I install hdf5 1.8.22 with
[code]
and then loaded openmpi
[code]
and tried to compile the hdf5 fortran example [ph5example.f90](https://raw.githubusercontent.com/HDFGroup/hdf5/develop/fortran/examples/ph5example.f90
)
via
[code]

### Error message

[code]

If I use the old package.py with the autotools, it builds and compiles correctly. I also built hdf5 by hand with cmake

[2022-06-10 17:45] G-Ragghianti commented on #30611
The ROCM stack takes so long to build, I'm afraid this would take days to execute the checks.

[2022-06-10 18:21] kwryankrattiger commented on #30611
@G-Ragghianti This has been considered and resources are being allocated appropriately to handle the additional load.

Although, the entire HIP stack should really only take about two hours to build, with LLVM being the biggest time sink. Where are you building that this is taking days?

[2022-06-10 18:37] srekolam commented on #30611
I know math-libs (rocsolver ,rocblas, miopen-hip,rocfft etc ) do take good amount of time with rocblas taking multiple hours to complete.

[2022-06-10 19:48] cgmb commented on #30611
There are a number of ways to reduce the compile times without significantly reducing the value of those sorts of tests. For example, by choosing to build for a single amgpu_target, lowering the compiler optimization level, or building variants with fewer specialized kernels (e.g., `rocsolver ~optimal`).

[2022-06-10 20:35] adamjstewart opened #31091 "spack.yaml comment reformatting adds newlines"
### Steps to reproduce

1. Create a new environment
2. Add comments to the `spack.yaml` file
3. Any command like `spack install` or `spack add` will reformat this file and add extra newlines

There are two bugs here:

* `spack install` should never modify `spack.yaml` at all
* `spack add` should only add packages, it shouldn't add extra newline chars

It seems like `spack install` adds 2 newlines

[2022-06-11 00:16] bernhardkaindl commented on #22872
While it does look identical from what is written there, the strace attachments have never been analyzed by Red Hat and the developer came to a wrong guess. Here is the proof that the assumption of the RedHat Developer is wrong:

The strace from the working and the non_working log show that the RPATH's libcrypto is used in both runs:
[code]
The claim of the Red Hat Developer that the non-system li

[2022-06-11 08:52] iarspider commented on #31091
Not sure if it's related or not, but this I also observe inline comments to migrating around - i.e. moving to an unrelated line

[2022-06-11 11:13] sethrj commented on #31091
Yep I've seen this forever. Every new environment concretization makes my YAML file longer 😂  I know @haampie has complained about this too ;)

[2022-06-11 11:18] sethrj opened #31094 "Failure to spec/install with multiple explicitly specified dependencies"
### Steps to reproduce

I know this was broken at some point, but I thought fixed later. With the new "reuse" option it's less necessary thankfully, but the failure mode should definitely not be an assertion.

[code]

### Error message

[code]

### Information on your system

[code]

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
-

[2022-06-11 12:07] sethrj commented on #31085
@pab42 Can you post the `opt/spack/linux-sles15-haswell/gcc-11.2.0/hdf5-1.8.22-eqz3y6v6ibvvirocnnphhq6aa63czcwd/.spack/spack-build-01-cmake-out.txt` file?

[2022-06-11 18:45] G-Ragghianti commented on #30611
It is good that the build time is getting some attention.  I didn't mean to imply that my rocm stack builds were taking days (probably more like 3 hours), but I have noticed that the spack CI checks have been taking longer to get queued in general.

[2022-06-11 18:47] G-Ragghianti commented on #30611
@cgmb It would be great if you could elaborate on these techniques to reduce compile time.  We try to do our own spack CI for our packages, but the compile of rocm limits the number of combinations that we can explore.

[2022-06-11 22:10] vsoch opened #31095 "gmp fails during install (as singularity dependency)"
From fresh clone of develop and install of singluarity:

[code]
When I just try gmp by itself I get:

[code]
This is a good example of a package working earlier in the year (I was using singularity to develop pakages and no issues) and now randomly one day the entire thing is borked. It's very frustrating.

[2022-06-11 22:13] vsoch commented on #31095
Is there a package that reliably builds that I can use for this case? Should I choose something in e4s?

[2022-06-12 05:14] BenWibking opened #31096 "Installation issue: ascent 0.8.0 (cmake configure fails)"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary>
<pre>
==> ascent: Executing phase: 'cmake'
==> Error: ProcessError: Command exited with status 1:
    'cmake' '-G' 'Unix Makefiles' '-DCMAKE_INSTALL_PREFIX:STRING=/g/data/jh2/bw0729/spack/opt/spack/linux-rocky8-cascadelake/gcc-11.3.0/ascent-0.8.0-y4dco27zvgnrjvhdcfii6hz24lqgxcjp' '-DCMAKE_BUILD_T

[2022-06-12 07:11] BenWibking commented on #31096
`spack install ascent@develop+cuda+vtkh~fortran cuda_arch=70,80 ^conduit~parmetis~fortran` works, so it looks like an issue with ascent 0.8.0.

[2022-06-12 16:12] blue42u commented on #31091
Not sure if it's related, but I've also had my view path become absolute when the environment concertizes. (Makes it tricky to share some of my environments over Git.)

[2022-06-13 06:30] pab42 commented on #31085
[spack-build-01-cmake-out.txt](https://github.com/spack/spack/files/8888480/spack-build-01-cmake-out.txt)

[2022-06-13 07:55] cosmicexplorer opened #31103 "tracking issue for git repo caching"
This issue is a linear tracker of the dependencies necessary to get #22235 merged:
- [ ] #31100 (**`+15 / -6`**)
- [ ] #31101 (**`+27 / -12`**)
- [ ] #31102 (**`+1,374 / -324`**)
- [ ] #22235 (**`+355 / -315`**)

[2022-06-13 08:53] HadrienG2 opened #31104 "Installation issue: perl 5.34.1"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
# spack install perl@5.34.1
[+] /opt/spack/opt/spack/linux-opensuse_tumbleweed20220611-x86_64/gcc-12.1.0/berkeley-db-18.1.40-yuswdv2arjqflpmc5nl5256g3vregs4j
[+] /opt/spack/opt/spack/linux-opensuse_tumbleweed20220611-x86_64/gcc-12.1.0/libiconv-1.16-tkdippvtjfcfn3f7puy7k6xt3kcr5enl
[+] /opt/s

[2022-06-13 09:16] HadrienG2 commented on #31104
Strangely enough, if I just grab https://www.cpan.org/src/5.0/perl-5.34.1.tar.gz, I see correct Configure file permissions there. Not sure what's going on here...

[2022-06-13 14:25] sethrj commented on #31085
@pab42 It does look like spack is installing HDF5 correctly.

From the description and the CMake output, I'm guessing that the HDF5 1.8 branch just has an error in its cmake logic. We can add a "conflict" denoting that this version is broken, but you should probably [open an issue on the HDF5 page](https://github.com/HDFGroup/hdf5/issues/new/choose). As a workaround, you could compile a newer vers

[2022-06-13 14:37] alalazo opened #31109 "Style checks are currently broken on develop"
### Steps to reproduce

Errors like [this one](https://github.com/spack/spack/runs/6863122909?check_suite_focus=true) started in our CI workflows a few hours ago. I could reproduce the same error on my laptop, starting from a clean environment:
[code]

### Error message

[code]

### Information on your system

* **Spack:** 0.19.0.dev0 (14ae0e0d94d7c78e202a50f351ba56dc83c63f18)
* **Python:** 3.8.10

[2022-06-13 15:04] alalazo commented on #31109
The error seems to be a weird bootstrapping interaction for `setuptools`, between the version to be installed and the one on the system. In my local environment installing `setuptools` calls:
[code]
and fails when the local setuptools is too old. This is because on my system:
[code]
The slightly different error we have in CI is of the same kind, but happens because the `setuptools` on the system i

[2022-06-13 15:21] lizzyd710 commented on #31109
This was happening on my PR (#31107) as well. Good to know that it's not just me.

[2022-06-13 15:25] #6331 closed

[2022-06-13 15:26] #4333 closed

[2022-06-13 15:45] alalazo commented on #7237
@gartung Don't know if this is still relevant, but when was this completed?

[2022-06-13 16:23] renjithravindrankannath commented on #31065
Hi @G-Ragghianti ,
I am able to build hip with the steps you have provided above on the environment with 8 gpu.
I am getting below result when I checked the gpu architecture upon running the rocm_agent_enumerator script/
[code]
Could you please let us know what is the target gpu architecture of the your environment ?

[2022-06-13 16:27] G-Ragghianti commented on #31065
[code]
Should the build process depend on what hardware is installed?

[2022-06-13 16:27] tgamblin commented on #31109
It looks like setup tools 62.4.0 came out 4 hours ago -- wondering if pinning to the prior 62.3.4 version would fix this for now while we sort out what's wrong.

[2022-06-13 19:09] #31109 closed, assigned to nobody

[2022-06-13 19:28] lizzyd710 commented on #31109
I merged develop after that commit but for some reason I get the same error when I run `spack style` on my local machine. Weirdly enough it doesn't happen anymore on the GitHub action in my PR.

[2022-06-13 19:38] alalazo commented on #31109
@lizzyd710 Not weird at all, the explanation is https://github.com/spack/spack/pull/31118#issuecomment-1154227939 Basically, updating `py-setuptools` might require some care to fix a few pipelines that break with the new major version. So I pinned the `setuptools` version in our CI as an hotfix.

If you:
[code]
(or similar, depending on your environment) it should work for you too locally.

[2022-06-13 19:40] renjithravindrankannath commented on #31065
rocm_agent_enumerator is executed to check the GPU architecture as part of test.
This test depends the availability of GPU.

[2022-06-13 19:54] samcmill commented on #22872
@bernhardkaindl strace output attached.

strace.out corresponds to `ssh-keygen -A`, which fails as above.
[strace.out.gz](https://github.com/spack/spack/files/8894015/strace.out.gz)

strace2.out corresponds to `LD_PRELOAD=/lib64/libcrypto.so.1.1 ssh-keygen -A`, which works.
[strace2.out.gz](https://github.com/spack/spack/files/8894019/strace2.out.gz)

[code]

[2022-06-13 21:53] climbfuji opened #31122 "ESMF 8.3.0 released with changes regarding internal/external PIO"
### Summary

ESMF 8.3.0 was released a few days ago. This release can now use an external parallelio (pio) installation, as long as the version is 2.5.7 at least.

Alternatively, the previous options to build ESMF without pio or with an internal pio still exist. The latter now uses a more recent version of pio (2.x instead of 1.x), which breaks the current package in spack, because it requires cma

[2022-06-13 23:10] DahLemur opened #31123 "Installation issue: util-linux-uuid@2.37.4 fails with all tested intel compilers."
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>

609    libtool: compile:  /dev/shm/spack/lib/spack/env/intel/icc -DHAVE_CONFIG_H -I. -I/var/tmp/lemuel/spack-stage/spack-stage-util-linu
            x-uuid-2.37.4-5aanwtorscvsoe47z5cns577rpaxpqw7/spack-src -include config.h -I/var/tmp/lemuel/spack-stage/spack-stage-util-linux-u

[2022-06-14 01:41] bernhardkaindl commented on #22872
@samcmill you wrote:

No, this not true (at the very least, very misleading). See the first line of the two strace outputs:
[code]
The strace recording shows that you executed an entirely different command (the real CentoOS exectuable), and with different args for `strace2.out`.

I assume, you ment to call `LD_PRELOAD=/lib64/libcrypto.so.1.1 ./ssh-keygen -A` instead.

I recommend strongly to trace

[2022-06-14 08:05] honghh2018 opened #31125 "spack install poppler display error"
### Steps to reproduce

[code]

### Error message
[code]

### Information on your system

$spack debug report
* **Spack:** 0.18.0
* **Python:** 3.7.10
* **Platform:** linux-centos7-cascadelake
* **Concretizer:** clingo

[code]
### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have searched the issues of this repo and believe th

[2022-06-14 09:35] pab42 commented on #31085
Thanks for looking into it and for the suggestions. I opened an issue.

[2022-06-14 11:42] #31085 closed, assigned to sethrj

[2022-06-14 13:25] alalazo commented on #30991
Workaround:
[code]
and you'll get all the benefits of recent `pytest` versions :wink:

[2022-06-14 13:30] G-Ragghianti commented on #31065
- It seems like a "test" should only be executed when "spack install --test" is executed
- The test is trying to run a command under /opt/rocm directory which presumably should not be assumed to exist since when are doing the install.
- The spack install shouldn't depend on something that is outside of the spack install (by default)
- In all the cases that I've tested this on, the execution of roc

[2022-06-14 13:38] alalazo commented on #30976
We might use the `*` wildcard to say that we consider only the presence of the variant, not its value:
[code]
For the specific case of patches, we'd also need to add them to the solve (right now patches are added after the solve, when the spec is built from the answer set)

[2022-06-14 13:49] alalazo commented on #30958
From [here](https://spack.readthedocs.io/en/latest/getting_started.html#system-prerequisites):

That said, it's not the first time people are surprised by this and file bug reports, so we should probably consider trying to make XCode not required on macOS. Can you post:
[code]
?

[2022-06-14 13:52] alalazo commented on #30937
Fixed by #31042 (the fix will be part of the next patch release)

[2022-06-14 13:52] #30937 closed, assigned to alalazo

[2022-06-14 13:54] behrmann commented on #30937
Thanks @alalazo!

[2022-06-14 14:15] samcmill commented on #22872
Sorry!  Correct strace log for `LD_PRELOAD=/lib64/libcrypto.so.1.1 ,/ssh-keygen -A` uploaded as
[strace3.out.gz](https://github.com/spack/spack/files/8900501/strace3.out.gz).

[2022-06-14 14:45] alalazo commented on #29560
Couldn't reproduce the bootstrap failure in a Docker container. `clingo` should be able to bootstrap from binaries on CentOS 7. Closing since there are no further comments from @troyrock but let me know if I should reopen.

[2022-06-14 14:45] #29560 closed, assigned to nobody

[2022-06-14 14:52] alalazo commented on #28891
#30773 has been merged today :slightly_smiling_face:

[2022-06-14 14:52] #28891 closed, assigned to rscohn2

[2022-06-14 16:08] DahLemur opened #31127 "Installation issue: diffutils@3.8 fails to build with several intel compiler versions"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
1781    depbase=`echo setlocale_null.o | sed 's|[^/]*$|.deps/&|;s|\.o$||'`;\
     1782    /dev/shm/spack/lib/spack/env/intel/icc -std=gnu11  -I. -I/var/tmp/lemuel/spack-stage/spack-stage-diffutils-3.8-2pj4rdbbm5et56d3g
             7ltpgezgd7adcts/spack-src/lib      -g -O2 -MT setlocale_null

[2022-06-14 20:05] #31041 closed, assigned to nobody

[2022-06-14 20:32] G-Ragghianti commented on #31065
I've discovered that the problem causing rocm_agent_enumerator to fail is that it is trying to run "lsmod" but it is not in the $PATH.  This causes the enumerator to return only the CPU (in the case of AMD CPU), and then cmake has further problems due to this.

[2022-06-14 20:33] G-Ragghianti commented on #28891
Thanks for update!

[2022-06-14 22:36] bernhardkaindl commented on #22872
The strace logs show that for (some unknown reason), the despite `/lib64/libnss_nis.so.2` being loaded, it does not do a NIS lookup, it does not even call `uname()` to check for the NIS domain name.

Since `strace` only shows system calls, it does not give any clue why that could be.
The other checks in my github message could give some guidance, and `gdb ./ssh-keygen`  could be used ro run the ss

[2022-06-15 01:38] honghh2018 commented on #31125
Any advice for this issue? @alalazo  @ALL

[2022-06-15 07:54] csccva commented on #30958
Here it is:
[code]

[2022-06-15 08:00] alalazo commented on #31125
I guess somebody needs to fix the recipe to avoid this error:
[code]
@honghh2018 Want to take a stab at it?

[2022-06-15 08:20] alalazo commented on #30987
Am I missing anything? I don't see a stacktrace or an error message

[2022-06-15 08:27] alalazo commented on #30997
I'm using:

* **Spack:** 0.19.0.dev0 (8c58c14c3d77420c86b0ae852bc4a680c2aca472)
* **Python:** 3.8.10
* **Platform:** linux-ubuntu20.04-icelake
* **Concretizer:** clingo

and in my case:
[code]
so nowhere near the 10 minutes. Do you still experience this performance regression?

[2022-06-15 08:35] honghh2018 commented on #31125
Many thanks for this urgent reply. @alalazo
I am a freshman on Centos7,  but i want to try with your guide?
Hope you help to solve this issue.
Let me know if you had anyrequest about this issue.
Best,
Hanhuihong

[2022-06-15 08:43] alalazo commented on #30864
With this diff:
[code]
on top of:

* **Spack:** 0.19.0.dev0 (8c58c14c3d77420c86b0ae852bc4a680c2aca472)
* **Python:** 3.8.10
* **Platform:** linux-ubuntu20.04-icelake
* **Concretizer:** clingo

I get:
[code]
which seems correct.

[2022-06-15 08:58] honghh2018 opened #31136 "Environments: fatal error when merging prefixes"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
[+] /share/apps/spack/opt/spack/linux-centos7-haswell/gcc-4.8.5/python-3.9.0-umyalsbm7ikmdasix46vbv6qshkuddms
==> Updating view at /share/apps/spack/var/spack/environments/gdal-proj-geos-env/.spack-env/view
==> Error: 11 fatal error(s) when merging prefixes:
    `/share/apps/spack/opt/spack/

[2022-06-15 09:28] alalazo commented on #30864
Using this diff instead:
[code]
(which is exactly what is reported) I can reproduce:
[code]

[2022-06-15 10:55] alalazo commented on #30864
Solving the ASP problem gives (showing only errors here):
[code]
[python.lp.txt](https://github.com/spack/spack/files/8908618/python.lp.txt)

[2022-06-15 12:09] haampie commented on #30976
Not sure if worth the effort, but it'd be much nicer to have human-readable patches to `Makefile.am` instead of indecipherable patches to a configure script. But modifying `Makefile.am` requires `automake` as a build dep.

[2022-06-15 12:11] honghh2018 commented on #31125
Had any advice for this issue ?@ALL

[2022-06-15 12:38] alalazo commented on #30864
So to explain this issue:
1. To get better error messages, we allow for valid solutions with errors - and optimize towards having 0 errors
2. If there are errors in the final solution, those will be reported by the spec builder on the Python side

To operate like that we have to code some invariants as optimizations. For instance we cannot say that each node in the solution has a single version:
[

[2022-06-15 12:50] honghh2018 opened #31137 "Installation issue: install harfbuzz error in the virtural environment"
### Steps to reproduce the issue

[code]
spack spec -I harfbuzz
Input spec
--------------------------------
 -   harfbuzz

Concretized
--------------------------------
 -   harfbuzz@4.2.1%gcc@4.8.5~graphite2~strip buildtype=debugoptimized default_library=shared arch=linux-centos7-haswell
[+]      ^cairo@1.16.0%gcc@4.8.5~X~fc+ft+gobject+pdf~png~svg patches=7c4da77 arch=linux-centos7-haswell
[+]

[2022-06-15 12:53] mabraham commented on #30132
In Spack 0.18.0, `spack mirror create --directory some-local-dir zlib` does nothing for a long time and then writes the cryptic

[code]

I prefer that `spack mirror create --directory` should accept a file path like its name suggests, and optionally work when passed a file URL like "file://some-local-dir" (for backward compatibility)

Otherwise, it may be better that `spack mirror create --directo

[2022-06-15 13:25] mabraham opened #31139 "spack bootstrap mirror does not work"
### Steps to reproduce

I tried to make a bootstrap mirror into a local directory with
[code]

Clearly it failed and the error message does not leave me with a path forward. If `mirror.py` needs a URL, then `bootstrap.py` should probably convert its directory by prefixing e.g. `file://` in order to pass one.

### Error message

[code]

indicates a possible relationship with the problem behind #301

[2022-06-15 14:53] elfprince13 opened #31140 "Installation issue: PCL"
### Steps to reproduce the issue

Install PCL 1.12.1 (and almost certainly any vaguely recent prior version), compiled with Clang 12 or newer, with the architecture forced to generic x86_64_v3, on a Skylake machine supporting AVX512 instructions (e.g. an Amazon AWS t3.2xlarge instance), and publish the resulting build to a build cache. Then install from the build cache on a machine that only suppo

[2022-06-15 15:07] luszczek commented on #31065
It would be useful to add `depends_on()` for this but I don't see a way of doing this even for other packages that deal with kernel interaction like `xpmem`.

[2022-06-15 15:26] alalazo commented on #30864
The difficult part is to come up with a reliable test for this.

[2022-06-15 16:31] alalazo commented on #30864
Analyzing the solution and the error further, this particular error is triggered by the startegy we have for reuse. I'm pretty sure that you have something in the python DAG installed, or otherwise reusable. If you do:
[code]

[2022-06-15 19:03] alalazo opened #31148 "Weight selection when reusing specs is wrong"
### Steps to reproduce

From a fresh clone, install two versions of `zlib`:
[code]
Then try to check the optimization scores:
[code]
and compare them to the version weights:
[code]
There will be:
1. Errors in how the weights are emitted by the Python code
2. Errors in how the weights are assigned to each version

In more complicated cases, e.g. involving also external packages, this might lead Spa

[2022-06-15 19:39] alalazo commented on #31148
Diff to solve the error during emission of the facts:
[code]

[2022-06-15 19:41] alalazo commented on #31148
The other bug is in:

https://github.com/spack/spack/blob/0205fefe0c80dc1fe03b9ec5da93bf24b1c9103f/lib/spack/spack/solver/concretize.lp#L110-L113

There we cannot just select the minimum, without checking if the provenance of the version is the correct one. For instance, if we have an external `zlib@1.2.11` that will have weight 0, and be preferred to `zlib@1.2.12` from `package.py` at weight 1. W

[2022-06-15 21:37] vsoch opened #31151 "Error Installing slate"
This is with gcc 12.1, I can't really get a good error message for why it fails, but here it is with debug:

[code]
This is one of the e4s with tests so we will eventually want to get it building for the buildsi stuffs, but no rush because we super slow over here. :laughing:  Thank you!

[2022-06-15 21:38] vsoch commented on #31151
Oh hold the phone - SCROLLING UP MORE! I found the issue:

[code]

[2022-06-15 22:01] vsoch opened #31152 "superlu-dist error when trying to install petsc"
Using gcc 12.1, I get:

[code]

[2022-06-15 22:36] frobnitzem opened #31154 "spack system isolation with out-of-spack databases"
### Summary

File system isolation (i.e. moving all spack state outside of the spack source tree) is a general theme for many of the issues that users have reported with spack.  Documenting different types and locations for the state will help both users and developers.

### Rationale

Consider:

* #29688 : smoke tests failing on read-only filesystems
* #27704, #22834 : bootstrapping reverts to $H

[2022-06-15 23:28] bhatele commented on #30958
I am having a similar issue on Catalina. I have Xcode installed. I ran `spack compiler find` and `spack external find` before trying to install zlib:

[code]

[2022-06-15 23:29] #30611 closed, assigned to srekolam

[2022-06-16 00:16] cgmb commented on #30611
For rocSOLVER you can get a much faster build using `rocsolver ~optimal amdgpu_target=gfx906:xnack-`. The `~optimal` variant is specific to rocsolver, but specifying the `amdgpu_target` will help for any of the ROCm math libraries. The compilation time pretty much grows linearly per amdgpu_target and most libraries build for somewhere between seven and eleven architectures on the `amdgpu_target=au

[2022-06-16 02:48] glennpj commented on #30997
Well, this is interesting. I first noticed the problem on my CentOS-7 system, which is my main system, used for my HPC stack. I used that to `git bisect` this. I then verified it on a Ubuntu WSL2 system, with a fresh checkout of spack. The problem was the same, and the "fix" was to back out 19087c9d35abd849975a8a5c0451ed47e958c23d.

Now, however, I am not seeing the problem on my CentOS system, bu

[2022-06-16 02:54] glennpj commented on #30997
Hmm, I also redid my bootstrap on my CentOS-7 system. Could there be something with that?

### CentOS-7
[code]
### Ubuntu WSL2
[code]

[2022-06-16 07:02] honghh2018 opened #31159 "Installation issue: build the libsodium-1.0.18 error"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
...
</pre></details>
$spack install libsodium
==> Installing libsodium-1.0.18-p576xmwmvbtac5hzoedmyxihsftyrtsj
==> No binary for libsodium-1.0.18-p576xmwmvbtac5hzoedmyxihsftyrtsj found: installing from source
==> Fetching https://mirror.spack.io/_source-cache/archive/6f/6f504490b342a4f8a4c4a

[2022-06-16 07:04] alalazo commented on #30997
So, on CentOS 7 you are using the first set of binaries we generated to bootstrap Spack (notice the rhel5, i.e. manylinux1), while on WSL2 you're using the latest binaries (CentOS 7 a.k.a. manylinux2014). That said I have never seen different performance due to using one and not the other.

[2022-06-16 07:07] alalazo commented on #30997
I'd definitely try to get to the bottom of this, since as you say it would be good to rule out having a huge performance regression waiting to come out. I assume when you get the 10 minutes you get them consistently. In case, can you dump:
[code]
and post it here? If I can reproduce the 10 minutes solve with just `clingo` then we'll look into what causes that and potentially which configuration en

[2022-06-16 07:34] alalazo commented on #30958
@bhatele Are you using the latest develop? It seems you have a Apple M1, and that is identified as `aarch64`. We had some fixes on develop recently, so wondering if you have been using them.

EDIT: Also note that the two issues are different. @csccva doesn't have XCode (required) and is on an Intel chip for which we have binaries, you have XCode but are on an M1 chip for which we can bootstrap onl

[2022-06-16 09:14] iarspider commented on #31052
@alalazo if I'm reading the `microarchitectures.json` file correctly, there is no way for spack to set flags for prescott: the inheritance chain is `prescott > pentium4 > pentium3 > pentium2 > i686 > x86`, and none of the processors in that chain have `compiler` section. But still quietly dropping `target` inside environment is not a good move.

[2022-06-16 10:55] csccva commented on #30958
I tried the same with a few days old v0.19 version:

[code]

[2022-06-16 11:04] alalazo commented on #30958
@csccva Those seems network issues? Apparently you can't even fetch the source tarball.

[2022-06-16 11:11] csccva commented on #30958
Yes. It is strange since I can do it from a VB with CentoOS 8. SO there are no restrictions from my firewall. I noticed a few similar issues for other packages. Does this mean I could download the packages and then set the mirror to local?

[2022-06-16 12:14] alalazo commented on #30864
So, I finally pinned down what let us reproduce this issue. We need:
1. A Python spec installed and reusable
2. The modification in the Issue description

[2022-06-16 13:25] nkgh77 opened #31165 "Installation issue: Julia 1.7.2 @RH7"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
3 errors found in build log:
     122     ln -sf libjulia.so.1.7 /var/tmp/kushida/spack-stage/spack-stage-julia-1.7.2-izjuf6km7xtjosuke7a7v5w24hcaxaiu/spack-src/usr/lib/libjulia.so
     123     gcc -march=x86-64 -m64 -std=gnu99 -pipe -fPIC -fno-strict-aliasing -D_FILE_OFFSET_BITS=64 -DSYSTEM

[2022-06-16 13:41] cyrush opened #31166 "spack python base build setuptools conflicts with py-setuptools"
### Steps to reproduce

This will fail due to same-named files during activate:
[code]

### Error message

[code]
The issue:

Spack installed python includes setuptools, however many packages also explicitly depend on py-setuptools, which of course provides the same files:

[code]

[code]

So `spack activate` will fails for python packages that depend on setuptools

I know spack activate is going

[2022-06-16 13:49] haampie commented on #31165
Did you mark `openblas` as external and non-buildable? (I think not?)

Otherwise, can you share what's in

[code]

[2022-06-16 13:59] nkgh77 commented on #31165
[code]

[2022-06-16 14:00] nkgh77 commented on #31165
Only thing that I can come up with is this;

[code]

Thank you very much for your attention.

[2022-06-16 14:14] cyrush opened #31167 "docs issue with spack file system view"
### Steps to reproduce

Typo in docs here:
https://spack.readthedocs.io/en/latest/environments.html#configuration-in-spack-yaml

`projections/all` entry isn't valid yaml:

[code]

[code]

### Error message

[code]

Entry in the docs needs quotes  `"{name}/{version}-{compiler.name}"` to parse

### Information on your system

 bin/spack debug report
* **Spack:** 0.19.0.dev0 (4f9f56630bbcee4bc040566d

[2022-06-16 14:23] cyrush opened #31168 "docs issue with using environments"
### Steps to reproduce

This example is using a format that isn't valid:

https://spack.readthedocs.io/en/latest/environments.html?highlight=environments#spec-concretization

[code]

[code]

### Error message

[code]

`specs` isn't supported?
Not sure the new format, is it `spec/nodes` ?

### Information on your system

bin/spack debug report
* **Spack:** 0.19.0.dev0 (4f9f56630bbcee4bc040566d862d3

[2022-06-16 14:58] alalazo opened #31169 "Spack fails to install zlib on Ubuntu 20.04 when reusing specs from v0.18 mirror"
### Steps to reproduce

Start a container:
[code]
From within the container:
[code]
Note that Spack wants to install an Ubuntu 18.04 binary built with `clang@7.0.0` on an Ubuntu 20.04 with GCC 9.4.0

### Error message

If we try to install this is what happens:
[code]
which is really not very informative on why `zlib` was not installed.

### Information on your system

* **Spack:** 0.19.0.dev0
* *

[2022-06-16 15:03] alalazo commented on #30997
@glennpj Just a guess. Could it be that in the meanwhile you uninstalled a few specs? Or removed a binary mirror from your configuration? With `--reuse` by default we are stateful, so it might be that the spec being reused are a more likely cause of the slowdown you see, rather than the binary used for clingo

[2022-06-16 15:29] alalazo commented on #31169
Should be solvable by something similar to:
[code]
added to `concretize.lp`.

[2022-06-16 15:41] haampie commented on #31165
And what does `spack build-env julia -- libwhich libopenblas64_.so` say?

Try to use the exact same spec for julia

[2022-06-16 16:25] #30864 closed, assigned to becker33

[2022-06-16 19:39] renjithravindrankannath commented on #31065
Hi @G-Ragghianti, Is the $PATH missing /usr/sbin/ or lsmod not present in the path?
With the rockylinux/rockylinux docker I could see lsmod is available under the path /usr/sbin/.
[code]
And the path /usr/sbin/ was also in the $PATH.
[code]
This is in the below version of "Rocky Linux
[code]
Let us know if the issue is observed after adding the path to $PATH or by installing lsmod.

[2022-06-16 20:06] G-Ragghianti commented on #30611
Thanks, but (since we are talking about doing this in spack) I don't think any of these suggestions are able to work without these options being exposed in the spack recipes, correct?

[2022-06-16 21:17] #31148 closed, assigned to nobody

[2022-06-16 22:24] cyrush commented on #31166
`spack activate -f` avoids this problem.

Multiple versions are still a little worrisome -- but this is no longer a blocker for us.

[2022-06-17 03:39] honghh2018 opened #31175 "Installation issue: install gcc@4.8.5 error"
### Steps to reproduce the issue

[code]
$spack spec -I gcc@4.8.5
Input spec
--------------------------------
 -   gcc@4.8.5

Concretized
--------------------------------
 -   gcc@4.8.5%gcc@4.8.5~binutils+bootstrap~graphite~nvptx~piclibs~profiled~strip build_type=RelWithDebInfo languages=c,c++,fortran patches=0689c26 arch=linux-centos7-haswell
[+]      ^diffutils@3.8%gcc@4.8.5 arch=linux-centos7-h

[2022-06-17 06:43] upsj opened #31176 "Installation issue: llvm-amdgpu"
### Steps to reproduce the issue

Spack doesn't seem to control the cmake generator environment variable, so the call to make for libcxx inside llvm-amdgpu fails. Unsetting the variable fixes it.

[code]

@arjun-raj-kuppala @haampie @srekolam

### Error message

<details><summary>Error message</summary><pre>
==> llvm-amdgpu: Executing phase: 'install'
==> Error: ProcessError: Command exited with s

[2022-06-17 07:51] alalazo commented on #31052
Well, prescriptions in`packages.yaml` are preferences, not strict requirements (and always have been). You can say that your preferred target is `power9le` and still concretize on `icelake`. Spack will pick the best `x86_64` architecture for that, according to your configuration.

Concerning:

do you actually have a compiler registered for the `x86` architecture?

[2022-06-17 08:05] alalazo commented on #31154
Thanks @frobnitzem I agree with what you say here, and it's a great summary. There's probably #11871 to be added to your list above.

[2022-06-17 08:21] alalazo commented on #31139
I'll look into fixing this. Currently you need to pass an absolute path to the command.

[2022-06-17 08:44] iarspider commented on #31052
Ah, `prescott` is a 32-bit architecture. Stupid me... :)

[2022-06-17 08:47] alalazo commented on #31052
Marking as not-a-bug and closing

[2022-06-17 08:47] #31052 closed, assigned to alalazo

[2022-06-17 09:34] nkgh77 commented on #31165
Thank you. Seems something is wrong.
[code]

[2022-06-17 09:41] haampie commented on #31165
Okay... haven't seen that before. Anything special about openblas here? It sure is broken

[2022-06-17 13:33] alalazo commented on #31168
@cyrush I think you are confusing the `spec.yaml` (old format) and `spec.json` (new format) that can be used directly with `spack install`:
[code]
with an environment manifest file (`spack.yaml`). The docs are correct. From the directory where that `spack.yaml` file resides:
[code]

[2022-06-17 13:33] alalazo commented on #31168
Marking as not a bug and closing

[2022-06-17 13:33] #31168 closed, assigned to nobody

[2022-06-17 13:40] alalazo commented on #31167
@cyrush As in the previous issue:
[code]
will not work. Environments needs to be activated first. See [here](https://spack-tutorial.readthedocs.io/en/latest/tutorial_environments.html)

[2022-06-17 13:51] nkgh77 commented on #31165
Not quite sure,,,
I have tried with gcc@11.3.0 in a totally clean environment but I got the same errors.

[2022-06-17 13:53] psakievich opened #31179 "Installation issue: gcc not building on macOS Monterey with M1"
### Steps to reproduce the issue

Gcc is not building for me on Monetary on a new M1 MacBook Pro.
[code]

@alalazo @michaelkuhn

### Error message

<details>
There seems to be a bootstrapping issue that needs to be ported.
<summary>Error message</summary><pre>
     551051    rm -f stage_current
     551052    Comparing stages 2 and 3
     551053    Bootstrap comparison failure!
     551054    aarc

[2022-06-17 13:54] alalazo commented on #30410
This seems to be fixed in Spack v0.18.0:
[code]
while it is reproducible in Spack v0.17.2

[2022-06-17 13:58] alalazo commented on #31179
@sethrj Do you have cycles (and an M1) to look at this?

[2022-06-17 14:03] sethrj commented on #31179
See https://github.com/spack/spack/pull/30825 : it may be just a matter of requiring `~bootstrap` on `platform=darwin target=aarch64:`. See also https://github.com/spack/spack/pull/29089#issuecomment-1045999632 .

[2022-06-17 14:04] sethrj commented on #31179
@psakievich Can you see if `spack install gcc~bootstrap` works?

[2022-06-17 14:14] gartung commented on #23154
Buildcache is meant to use the least number of system requirements. That is why the python archive functions using zlib were choosen. At one point bzip2 was considered for compression but I found that not all system even install bzip2.

[2022-06-17 14:18] sethrj commented on #31179
Also please update the description to show the output of `spack spec -I gcc` rather than just the command...

[2022-06-17 14:35] psakievich commented on #31179
@sethrj trying a `~bootstrap` build now. Sorry about the command I was being a little lazy and just took the default command. `spack spec -I` has no issues. It's purely an install issue.  I tried `gcc@11.3.0` and `gcc` for the specs.

[2022-06-17 14:38] psakievich commented on #31179
`gcc@11.3.0~bootstrap` works.  Should I update the gcc package to make this a conflict?

[2022-06-17 15:13] cyrush commented on #31166
Update: `spack activate -` it does not fully resolve for all cases.

I am unblocked with py-numpy, but if I try to directly activate py-setuptools  or py-pip -- it will still fail.

Since the base spack has both setuptools and pip installed - I don't need to activate them any more.

[2022-06-17 15:42] sethrj commented on #31179
@psakievich , yeah why don't you add it right underneath the corresponding patch file on line 299.

[2022-06-17 16:19] elfprince13 commented on #31140
Should work for roughly PCL 1.9+
[code]

[2022-06-17 16:25] #31167 closed, assigned to alalazo

[2022-06-17 16:56] alalazo commented on #30997
I found one problem where texlive takes a lot. Posting the ASP (all in one file) here.
[problem.lp.txt](https://github.com/spack/spack/files/8929373/problem.lp.txt)

[2022-06-17 17:19] matthewcurry opened #31184 "Installation issue: gcc"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
cc1: error: switch '-mcpu=thunderx2t99' conflicts with '-march=ar
              mv8-a+lse' switch [-Werror]
</pre></details>

### Information on your system

* **Spack:** 0.19.0.dev0 (bf990bc8ec2d6c51f7f40bc6b0f7fb3bba897a96)
* **Python:** 3.6.8
* **Platform:** linux-rhel7-thunderx2
* **Conc

[2022-06-17 17:20] matthewcurry commented on #31184
FYI, the commit that introduced this issue was 2113b625d17178f24189c0059a6f360c181b589f

[2022-06-17 17:32] alalazo commented on #30997
Thanks for reporting this @glennpj ! Nailed a reproducer down. It is effectively related to #29926

Start from a version of Spack with nothing set in `packages.yaml` in terms of target preferences:
[code]
Then add target preferences to `packages.yaml`:
[code]

[2022-06-17 18:09] #29938 closed, assigned to nobody

[2022-06-17 21:00] michaelkuhn commented on #31184
@haampie Could you take a look?

[2022-06-17 21:39] haampie commented on #31165
Weird. Do older versions of openblas work?

[2022-06-17 22:34] cyrush commented on #31168
Thanks for clarifying.  I thought there was a new path to use a `spack.yaml` w/o setting up an environment.

[2022-06-18 00:21] adamjstewart commented on #31166
You'll likely want to add any missing files to the list [here](https://github.com/spack/spack/blob/v0.18.0/var/spack/repos/builtin/packages/python/package.py#L1288,L1297).

[2022-06-18 00:22] adamjstewart commented on #31166
Oh, I guess that only works if other packages add those files, not if Python itself does? Not sure how to handle this since not all Python installations will have those files and we always want to override with the possibly newer files from `py-setuptools` installations.

[2022-06-18 01:56] ldalessa opened #31191 "read-cray-manifest tries to access protected directory on Cray EX"
### Steps to reproduce

[code]

This directory has permissions `drwxr--r--` on our installation.

### Error message

_No response_

### Information on your system

spack debug report
* **Spack:** 0.19.0.dev0 (043b2cbb7c99d69a373f3ecbf35bc3b4638bcf85)
* **Python:** 3.6.15
* **Platform:** cray-sles15-zen2
* **Concretizer:** clingo

### General information

- [X] I have run `spack debug report` and r

[2022-06-19 04:26] adamjstewart commented on #31091
Related to #11602

[2022-06-19 17:44] adamjstewart commented on #19885
I also encountered issues with texlive. On my system, Spack chooses `texlive@live` by default, possibly because it has almost no dependencies (is this intended?). Installation fails with:
[code]
This should be relatively easy to fix, but maybe we should just deprecate the live version?

[2022-06-19 18:34] adamjstewart opened #31194 "Installation issue: mesa"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
==> [2022-06-19-11:30:42.202226] 'meson' '/var/folders/j1/68dlgpr91vlgs26vty2c8xk80000gn/T/ajstewart/spack-stage/spack-stage-mesa-22.0.2-sgwrvlnddej37i3yhvr5rk7xxms4upiq/spack-src' '--prefix=/Users/ajstewart/spack/opt/spack/darwin-monterey-m1/apple-clang-13.1.6/mesa-22.0.2-sgwrvlnddej37i3yhv

[2022-06-20 07:45] alalazo commented on #19885
Merged #31195, so the additional issue mentioned in https://github.com/spack/spack/issues/19885#issuecomment-726266683 has been fixed

[2022-06-20 08:01] alalazo commented on #31184
@matthewcurry Thanks for the detailed report.

[2022-06-20 10:47] alalazo opened #31199 "Revisit which soft-preferences are global vs. per-package in `packages.yaml`"
### Summary

Currently, we can set soft-preferences for `version`, `providers`, `variants`, `compiler` and `target` in `packages.yaml` both under the `all` attribute (which makes the prescription valid for any package) and under each specific package. The corresponding documentation is [here](https://spack.readthedocs.io/en/latest/build_settings.html#package-preferences). The proposal here is to c

[2022-06-20 11:41] alalazo commented on #30997
Looking at the way the slow problem above is getting solved, it seems that to decide on the `non-preferred-targets` criterion `clingo` has to explore a lot of the search space. For the slow case you posted above, where the optimal value is 4920, I think it has to prove that no value between 0 and 4920 can give a better solution.

[2022-06-20 11:47] alalazo commented on #30997
A solution to this issue might be what I propose in #31199 (which of course needs some discussion to find an agreement on). I'll try to see if I can find some workaround in the meanwhile.

[2022-06-20 12:54] nkgh77 commented on #31165
neither openblas@0.3.19 nor @0.3.10 works. Just wanted to let you know.

[2022-06-20 15:04] glennpj commented on #30997
I am using whatever Spack bootstraps to, I did not select anything. I am not sure what heuristics are at play.

[2022-06-20 15:09] glennpj commented on #30997
Sorry for the delay, I have fallen behind on Spack again. It seems like this issue might also be related to the oddities I reported in #30996.

[2022-06-20 15:11] alalazo commented on #30997
No worries, Spack is moving faster than usual lately - so it's easy to fall behind. I'm looking into this, but it might take a few days before I post a proper solution.

[2022-06-20 15:15] glennpj commented on #30997
Yes, that is how this showed up on my Ububtu WSL2 system. I simply cloned spack and ran a concretization without any additional setup. What is puzzling to me is why the problem cleared up on my production system.

[2022-06-20 18:40] scheibelp commented on #31191
Note these files are installed by RPMs managed by Cray: they are now aware of these issues and future installs (of later versions) should not have these issues; `spack external read-cray-manifest` cannot succeed until these permissions are corrected. In the meantime, if an admin can modify these permissions for you, then Spack will be able to parse them.

It occurs to me that `spack external find`

[2022-06-20 18:57] ldalessa commented on #31191
Yes, I was seeing the same permissions issues with `spack external find`. Also, when I explicitly ask for a loaded module (like `hdf5`), it doesn't produce the permissions failure but also fails to find the module.

[2022-06-20 20:20] #28911 closed, assigned to nobody

[2022-06-20 23:35] omsai commented on #31152
@vsoch I tried recreating your linking error using my Debian 11 home PC and a fresh spack installation, but cannot reproduce the fault.  Can you please provide more information and/or compare my steps against yours?

[code]

Here are my spack files in the installation directory for `superlu-dist %gcc@12.1.0`:

[code]
- [spack-build-out.txt](https://github.com/spack/spack/files/8944634/spack-build-

[2022-06-21 00:32] #31169 closed, assigned to alalazo

[2022-06-21 02:25] scheibelp commented on #31191
https://github.com/spack/spack/pull/31201 should address the issues with `spack external find`: although it won't be able to read the manifest, it should be able to find packages using the built-in external detection support (without #31201, it would skip all detection steps if the manifest did not have the right permissions - now it skips broken manifests and continues with the other detection me

[2022-06-21 03:01] Char-Aznable commented on #25832
I still see the same build error on a new machine with a fresh spack setup. The `build-env` command @haampie showed above gave:

[code]
on my system, which lacks the necessary `-lunwind` flag. I am using clang from homebrew as the compiler instead of gcc

[2022-06-21 05:23] roastduck commented on #24271
What's the status on this issue?

For `graphviz+pangocairo`, there is a workaround to remove `+svg` from `+pangocairo` [here](https://github.com/spack/spack/blob/18c2f1a57a69224748e091e912851317d8a00eea/var/spack/repos/builtin/packages/graphviz/package.py#L103), if SVG output is not required. Maybe an option can be added to `graphviz` to specify what output format is required.

[2022-06-21 05:26] vsoch commented on #31152
Thank you @omsai ! So the computer I produced the error on is borked, and I tried it on two other systems and couldn't reproduce it again either! :laughing: :sob: <- laughing and crying!

So I think it's safe to close for now - and maybe someone will reproduce it (or I'll get my computer when it's sent back and fixed to test). Thank you for you help!

[2022-06-21 05:26] #31152 closed, assigned to nobody

[2022-06-21 07:54] msimberg commented on #25832
@Char-Aznable I'd be happy to add a `-lunwind` flag if that turns out to be required.

Just for comparison, could you check what your install logs say about `unwind`? This is my verbose install log (on nixos, which may make things a bit different... but still): https://gist.github.com/msimberg/1f2c9d40d04b276cb9a2c7a9b117516a. Note that for me `-lunwind` does explicitly end up in the linker comman

[2022-06-21 08:24] nkgh77 commented on #31165
gcc@9.5.0 does not work either. Just wanted to let you know.

[2022-06-21 08:44] JeromeDuboisPro opened #31208 "pyopencl build fails in ocl-icd build due to xsltproc returning non-zero status (ubuntu 18.04 / RedHat 8.4 - gcc 8.4 - spack 0.16))"
Hi all,
I am trying to install py-pyopencl on ubuntu-18.04 or redhat 8.4 with spack 0.16, with system gcc (8.4)
[code]
Please find attached the build log: [spack-build-out.txt](https://github.com/spack/spack/files/8947213/spack-build-out.txt)
I can very easily reproduce, and I tried to change libxslt version to no success.
As a side note, spack_organizer is an internal project providing some setti

[2022-06-21 08:57] haampie commented on #31165
Maybe some weird issue with an old version of binutils (linker, assembler)?

What if you install `spack install binutils+gas+ld` and add it to your `PATH`, for example like this:

[code]

[2022-06-21 10:51] nkgh77 commented on #31165
I actually compiled gcc with +binutils, and +gas+ld seem included by default. So, probably equivalent to your suggestion.

[2022-06-21 11:17] haampie commented on #31165
Yeah, I believe it will call the linker/assembler by absolute path (you can verify with `gcc -v -Wl,-v hello-world.c`).

Hm, then it's mysterious... same behavior outside of spack with the system compiler?

[2022-06-21 11:33] JeromeDuboisPro commented on #31208
With an up to date spack, installation works flawlessly.
My problem arises with our `spack_organizer` based on spack 0.16. Update is on its way, but that's out of mine ;-).

So as it is, spack install py-pyopencl works with last version of spack.

Maybe this issue can be closed... I'll leave it to you.

Sorry for all the noise!

[2022-06-21 13:36] alalazo commented on #30997
I spent some time doing a small performance study on these specs [radiuss.txt](https://github.com/spack/spack/files/8949322/radiuss.txt) There are indeed a few outliers which require around 10 min. instead of around 10 sec. So the issue is not specific to `texlive`.

![total_time_vs_deps](https://user-images.githubusercontent.com/4199709/174812662-82528cdb-00af-4a06-bb6e-8959a57a87d5.png)

[2022-06-21 13:51] omsai commented on #31152
@vsoch no worries!  I'm glad you were able to make progress.  I actually don't mind running tests that don't reproduce a bug because I much prefer that to fixable errors that might otherwise go unreported.

[2022-06-21 14:04] adrienbernede opened #31214 "Spack spec fails with "complex" flags string even if quoted"
### Steps to reproduce

[code]

@cosmicexplorer @trws
I seem to have an issue with this

### Error message

[code]

### Information on your system

* **Spack:** 0.19.0.dev0 (aebb601b70018f2879c537bf6021ba28e39dae49)
* **Python:** 3.7.2
* **Platform:** linux-rhel7-power9le
* **Concretizer:** clingo

@cosmicexplorer @trws, this likely relates to #29282

### General information

- [X] I have run `spa

[2022-06-21 15:27] adrienbernede commented on #31030
@alalazo @trws thank you both for your help on this:

1 - With the use of `user_cache_path` I am able to get things to work will in RAJA.

2 - Then, I still had a weird behavior with Umpire. In Uberenv we run a `spack spec` followed by a `spack install`. Uberenv would fail to bootstrap from binary at first and get installed from source, and then the `spack install` would trigger a bootstrap from b

[2022-06-21 17:16] ldalessa commented on #31191
Thanks Peter. I meant when I run `spack external find hdf5` I expected something to happen, but it would just tell me "no new packages found."

No need to worry about it for this issue, you're welcome to close it.

[2022-06-21 17:24] bvanessen commented on #29447
@alalazo @adamjstewart @becker33 @tgamblin @scheibelp I am still seeing this at the head of develop >v0.18.  Is there anyone looking into this?

[2022-06-21 17:25] #30987 closed, assigned to alalazo

[2022-06-21 17:25] #31139 closed, assigned to nobody

[2022-06-21 21:56] Char-Aznable commented on #25832
@msimberg I do see `-lunwind` here and there in the log but not at the place right where it needs to be, exactly the reason why we should move to a more maintainable build system. See the attached log here:
[spack-build-out.txt.zip](https://github.com/spack/spack/files/8953002/spack-build-out.txt.zip)

Manually adding `-lunwind` would work around this issue but it would be difficult to keep up wit

[2022-06-22 07:53] msimberg commented on #25832
@Char-Aznable yeah, definitely. I just realized that this now exists in the documentation: https://spack.readthedocs.io/en/latest/build_systems/multiplepackage.html#autotools-cmake. I don't know if this is the multi-build system support that @eschnett was referring to but that looks workable. I'll try to get something going before the weekend.

[2022-06-22 08:08] alalazo commented on #30997
I partially implemented the idea in #31199, by still maintaining a per-package soft-preference - but avoiding the 30 weight offset. Here are the timings, which are much better:
![total_time_vs_deps](https://user-images.githubusercontent.com/4199709/174977442-a1e31fc4-6b86-4423-8a8b-4675e95e2ab4.png)

[2022-06-22 11:53] x2v0 commented on #1515
Hi, seems the problems are still exist and connected with `start_build_process` in `build_enviroment.py`

To reproduce it try:
[code]
Mess by mix  **fork/spawn** ?

Regards. Valeriy

[2022-06-22 13:23] krcb opened #31228 "Allow py-libclang to use system libclang on OSX"
### Summary

`py-libclang` has a build dependency on `llvm+clang`. On OSX, this means that you end up having to build and install `llvm`, rather than using the system installed `libclang`, which in turn could result in some incompatibilities in downstream tools.

### Rationale

See above

### Description

Ideally, `py-libclang` defaults to using system installed `libclang` on OSX.

### Additional

[2022-06-22 13:37] krcb opened #31229 "Installation issue: py-tensorflow"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
     40316      external/local_config_cc/wrapped_clang '-D_FORTIFY_SOURCE=1' -fstack-protector -fcolor-diagnostics -Wall -Wthread-safety -Wself-
              assign -fno-omit-frame-pointer -g0 -O2 '-D_FORTIFY_SOURCE=1' -DNDEBUG '-DNS_BLOCK_ASSERTIONS=1' '-std=c++11' -fdebug-compilation-d

[2022-06-22 13:38] krcb commented on #31228
Mentioning @adamjstewart as the maintainer of `py-libclang` here

[2022-06-22 14:26] msimberg commented on #25832
@Char-Aznable could you try out https://github.com/spack/spack/pull/31231? Note that the 2.10 release notes also mention a CMake/libunwind issue being fixed, so maybe try both 2.10 and at least one of 2.8.1 or 2.9.1 (which are now both also built with CMake). If 2.10 works but the others don't we might want to add a conflict for `+libunwind` and the older versions.

[2022-06-22 15:49] adamjstewart commented on #1515
@x2v0 from your output it seems like you're building on CentOS 7, not Windows. Are you using WSL? WSL should behave identically to Linux.

[2022-06-22 15:53] adamjstewart commented on #31229
@glennpj may also be able to help

[2022-06-22 15:58] krcb commented on #31229
This is old, but might be relevant: https://github.com/tensorflow/tensorflow/issues/31020

[2022-06-22 16:36] payerle opened #31237 "Installation issue: boost"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>==> boost: Executing phase: 'install'
==> [2022-06-22-12:01:32.693438] './bootstrap.sh' '--prefix=/cvmfs/hpcsw.umd.edu/spack-software/2022.06.15/linux-rhel8-zen/gcc-8.4.0/boost-1.72.0-jahffyijqqtsivirjwh34v7gfjy7j23c' '--with-toolset=gcc' '--with-libraries=atomic,chrono,container,context,cont

[2022-06-22 16:58] bvanessen commented on #29447
@alalazo

[2022-06-22 17:40] adamjstewart commented on #31228
Could you add LLVM as an external package? It looks like our external detection ignores Apple Clang but it could still be added manually, right? We want to avoid depending on system installations. For example, if someone builds a binary package on one system, then tries to install it on a different system with a different version of XCode, things might break. Or if XCode isn't installed, or only t

[2022-06-22 18:02] krcb commented on #31228
@adamjstewart feedback from @tgamblin has previously indicated that python packages on OSX must be built with Apple provided clang. Couldn’t we just have an option for if Darwin, then get the library from the Xcode install location?

[2022-06-22 18:04] adamjstewart commented on #31228
We could, but that doesn't negate the issues I mentioned above.

[2022-06-22 18:05] adamjstewart commented on #31228
Also, a lot of people will build Python with Apple Clang, or use the system Python, then build all other Python libraries with GCC.

[2022-06-22 18:10] trws commented on #31228
It should be possible, but using an external is much more likely to do something sensible.  In general we probably want to use the installation at `/Library/Developer/CommandLineTools/usr/`, but users might want to use a homebrew version or anything else.  I would think adding that as an external should work, but `spack external find` doesn't find it, even with a path hint, so we might want to loo

[2022-06-22 18:24] eugeneswalker opened #31241 "buildcache relocation: rpath not re-written correctly"
### Steps to reproduce

Trying to update the E4S CI stack via this PR:
* https://github.com/spack/spack/pull/31032

There are many failed jobs, with the same type of error. For this issue let us look at this one, where we cannot build `libxau` because one of it's build dependencies `pkg-config` is not usable:
* https://gitlab.spack.io/spack/spack/-/jobs/2710862

The salient part of the failure log

[2022-06-22 18:41] adamjstewart commented on #31228
`spack external find llvm` doesn't find it because the `determine_version` function returns None if "Apple" is in the `clang --version` output.

[2022-06-22 18:47] trws commented on #31228
Ah, that's reasonable but unfortunate.  I don't really want to, but maybe we need a new apple-llvm package that provides virtuals for libllvm and libclang or similar? I'm not sure, it's a bit messy, not sure we can really do anything reasonable to translate apple versions to llvm versions though.

[2022-06-22 19:47] eugeneswalker commented on #31241
Here is an easy and fast reproducer that doesn't rely on artifacts a pipeline job:

[code]

[2022-06-22 22:23] davidbeckingsale commented on #31214
If the whole spec is quoted, it seems to parse, e.g.:
[code]

[2022-06-22 22:51] becker33 commented on #30545
@trws if we take #30544 and modify the `generate_commit_lookup` method to reorder based on the new tuples, is that sufficient for the issue or do you think it requires more than that?

The other issue is that if I understand this correctly, it changes the semantics for some comparisons.
[code]
I think the translation needs to be modified so that `None` as the start of a range is `(-inf,)` and `Non

[2022-06-22 23:55] #31241 closed, assigned to nobody

[2022-06-23 00:00] mathstuf commented on #27943
This doesn't seem to be a problem anymore (tested on Fedora 36). Can anyone reproduce it today?

[2022-06-23 02:08] omsai commented on #31151
Nice detective work: so in your case, `blaspp` failed cmake configure phase because it was not finding its `blas` dependency.

You're trying to install an old version of `slate@2021.05.02`, but the current version is `slate@2022.06.00`.  Similarly you're installing an old version of `blaspp@2021.04.01` whereas the current version is `blaspp@2022.05.00`.  I can't reproduce the fault using the curre

[2022-06-23 02:15] vsoch commented on #31151
@omsai I'm not sure how to reproduce - basically I was installing a _ton_ of software, not specific versions bug latest, and some previous install (that led to choosing those particular deps) led to this bug.

I wonder if the --reuse flag was a little too heavy handed here?

[2022-06-23 02:17] omsai commented on #4101
@adamjstewart to clarify, are you suggesting we put together a PR to https://github.com/TACC/Lmod/tree/master/docs/source to mention spack there?  Because on spack's end we mention Lmod: https://spack.readthedocs.io/en/latest/module_file_support.html

[2022-06-23 02:28] omsai commented on #31151
Indeed, it's possible an older installed dependency pulled in the older `blaspp`.  It might be worthwhile to update your spack git verison - assuming that you're on the develop branch - and you could see the output of `spack  spec -I ...` try without `--reuse` or with `--fresh` and see whether the newer versions of `blaspp` and `slate` get pulled in.

[2022-06-23 02:29] vsoch commented on #31151
That can’t be it because this was a fresh clone from develop (on the same date I posted the issue).

[2022-06-23 02:30] vsoch commented on #31151
Perhaps a version requirement should be updated so this older configuration is avoided, even if those dependencies are there?

[2022-06-23 03:57] x2v0 commented on #1515
yes, WSL2
As far as I understood some packages use Python for building, and it seems that Spack run this  Python build script as subprocess -> that makes a trouble

[2022-06-23 04:07] rountree opened #31255 "Intel compilers have a silent dependence on whatever gcc happens to be in ${PATH}"
### Steps to reproduce

Intel compilers pre-OneAPI attempt to figure out which gcc is on the system and limit icc's functionality to match.  This is not a problem if a system doesn't have gcc installed or if gcc is of a reasonably recent vintage.  However, if gcc is ancient, icc tries to mimic that and things break.

Per Intel's documentation, the `-gcc-name` compile flag can be set to the full pa

[2022-06-23 04:10] rountree commented on #31127
This may be a manifestation of #31255.

[2022-06-23 04:12] rountree commented on #31123
This may be a manifestation of #31255.

[2022-06-23 04:13] x2v0 opened #31256 "Error: PermissionError: [Errno 1] Operation not permitte"
### Steps to reproduce the issue

$ spack install libx11

### Error message

<details><summary>Error message</summary><pre>
[+] /home/xtovo/wrk/fairsoft/linux-centos7-skylake/gcc-11.2.1/pkgconf-1.8.0-e6upgqa4gpcosaauhjqzpuloj5lspifz
[+] /home/xtovo/wrk/fairsoft/linux-centos7-skylake/gcc-11.2.1/util-macros-1.19.3-gnnjvcx656se66x4734qqa2gp24yaunv
[+] /home/xtovo/wrk/fairsoft/linux-centos7-skylake/gc

[2022-06-23 04:52] adamjstewart commented on #4101
Yes, exactly.

[2022-06-23 05:24] rountree commented on #31255
The following fixes the problem for the m4 package.  It's a bit site-specific.
[code]

[2022-06-23 06:14] rountree commented on #26705
I think I have an answer for you over at #31255.

[2022-06-23 09:08] garth-wells commented on #28775
Duplicate of #23812 (`scotch` build failure).

Note that the most recent release of `fenics-dolfinx` no longer requires `scotch`.

[2022-06-23 09:08] #28775 closed, assigned to nobody

[2022-06-23 10:33] evili commented on #29297
The `"--fake`" flag should have also a confirmation warning like
"`The --fake flag is for debug purposes and it could leave your environment unusable. Are you sure? (y/N)`"
 because it's often misused as "`--dry-run`" equivalent and it is not.

[2022-06-23 12:11] alalazo commented on #29447
I could reproduce with a simple:
[code]
in the logs I have:
[code]

[2022-06-23 12:57] luke-dt opened #31265 "spack style broken due to py-isort bootstrap failure"
### Steps to reproduce

[code]

### Error message

[code]

### Information on your system

* **Spack:** 0.19.0.dev0 (c64298a1835d51389ad5ed46a2713ba266a5c93b)
* **Python:** 3.10.5
* **Platform:** linux-fedora36-zen3
* **Concretizer:** clingo

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have searched the issues of this rep

[2022-06-23 13:13] luke-dt commented on #31265
**More detailed error message:**

[code]

[2022-06-23 13:38] omsai commented on #31151
Excellent, thank you for confirming.

Indeed.  Will look into this.

[2022-06-23 13:54] npf commented on #26898
Furthermore, hip does not build on a machine with no AMD GPU:
[code]
The problem comes in `tests/hit/HIT.cmake` from that `HIP_PLATFORM` is set to `amd`, while `HIP_GPU_ARCH` cannot be guessed, thus ends up null.

* **Spack:** 0.19.0.dev0 (f06aa9e785c78cb6f532337ff4b0660a9d00dd5a)
* **Python:** 3.9.2
* **Platform:** linux-debian11-skylake_avx512
* **Concretizer:** clingo

[2022-06-23 15:46] alalazo commented on #29447
I think here we have a few design issues to sort out:
1. It probably doesn't make much sense to `spack concretize --test=*` an environment, if all we record are the `build`, `link` and `run` dependencies
2. We can probably attach test dependencies when calling `spack install --test=*` on an environment, but those dependencies specs will not currently be reflected in any data structure related to t

[2022-06-23 16:00] alalazo commented on #29447
## Workaround

If we let `spack install` create the lockfile too:
[code]
the specs in memory have the test dependencies attached and everything works as expected. Lowering the priority of the bug, since we have a workaround for that.

[2022-06-23 16:43] hainest commented on #31237
@payerle Were you trying to install boost as a dependency through a package or just via `spack install boost@...`?

[2022-06-23 17:09] srekolam commented on #30853
@eugeneswalker  , the spack recipes are updated with the rocm-5.1.3 . There is no support for 5.1.1 release . Can you please let me know if you can use the rocm-5.1.3 and if so, can we close this issue.

[2022-06-23 19:59] uturuncoglu opened #31271 "Installation issue: paraview"
### Steps to reproduce the issue

[code]

To reproduce the issue:
[code]

### Error message

<details><summary>Error message</summary><pre>
==> Error: ProcessError: Command exited with status 1:
    'ninja' '-j8' '-v'

1 error found in build log:
     270        PARAVIEW_ENABLE_EXAMPLES
     271
     272
     273    -- Build files have been written to: /private/var/folders/kw/drgwhfr55bjdpq233crly

[2022-06-24 01:00] omsai commented on #31151
If I install the same version of blas++ with exactly the versions of dependencies you use I cannot reproduce the error.  The only difference in our dependency graph is I pull in ca-certificates-mozilla for openssl, but I don't expect that would be related.  I'm using the same operating system version and compiler, so the only other variable is the architecture: your newer skylake vs my many years

[2022-06-24 04:28] rountree commented on #31255
The `-no-gcc` flag works well most of the time and is portable.

So far I've fixed diffutils, m4 and tar.  PR in the works.

[2022-06-24 06:33] #30997 closed, assigned to alalazo

[2022-06-24 08:06] alalazo commented on #31255
@rscohn2 @scheibelp FYI

[2022-06-24 08:59] alalazo commented on #31265
Here's a system where it works (Ubuntu 20.04):
[code]
and here's Fedora where this fails:
[code]
So, again, a different directory structure for Python installations. :cry:

[2022-06-24 09:03] alalazo commented on #31265
We have to make this line:

https://github.com/spack/spack/blob/c533612ab6e4d4b4c46d3b827fae3687302cd22a/lib/spack/spack/bootstrap.py#L207

more resilient to changes in the directory where executables are placed, since they might change across platforms.

I can confirm that hacking that line and using:
[code]
makes things work in Fedora.

[2022-06-24 11:00] rscohn2 commented on #31255
Thanks for looking at this. I would expect oneapi compilers to have the same issue. I wonder if spack does something to make clang-based compilers work.

[2022-06-24 11:59] a-akram opened #31275 "Error sourcing setup-env.sh in Spack"
I downloaded the spack from GitHub. I created a test environment as follows:

[code]
So far so good. I can see `myenv` in `var/spack/environments`. But when I tried to activate it I got an error

[code]
However, running

[code]

gave me another error:

[code]

As a result, I can't activate my environment.

NOTE: I am running Ubuntu 20.04 LTS with Bash shell which is the default shell.

[2022-06-24 12:07] #29237 closed, assigned to adamjstewart

[2022-06-24 12:21] flxmr commented on #23298
@alalazo
This doesn't seem to be fixed, currently running latest development HEAD and it only works if I put my repo before the builtin-repo. But then it worked before. Also it seems like the other way around is just a no-op currently!

[2022-06-24 14:47] trws commented on #30545
Yes, I think that's sufficient.  I reworked the generate_commit_lookup to chain down into inner versions already, but it needs the reordering fix.  The tuple version comparisons do need to use -inf and inf for none at start and end, in fact I think my local prototype currently does that, the one above was buggy and had them reversed, good catch!

[2022-06-24 16:45] odoublewen commented on #30965
I am also hitting this issue.  I can add that py-* packages that create an executable shim file, like, say, py-cutadapt, also have incorrect shebang lines:

[code]

which causes:
[code]

[2022-06-24 16:47] johnwparent commented on #31256
@x2v0 can you provide the build log mentioned in the error output? Based on what you provided, this can be found as  `/tmp/xtovo/spack-stage/spack-stage-xcb-proto-1.14.1-5yoxwi4ms7duphpfy4q4otelm3zjym63/spack-build-out.txt`.

[2022-06-24 18:42] becker33 opened #31278 "Proposal to improve intel-oneapi component support"
### Summary

`intel-oneapi-compilers-classic` is currently a bunch of pointers into `intel-oneapi-compilers`. This seems to work really well (although we should add some symlinks to it).

No other intel components are handled this way, and there is no separable component for the new compilers.

Proposal: rename `intel-oneapi-compilers` to `intel-oneapi`, and handle all separable components (includ

[2022-06-24 20:02] rscohn2 commented on #31278
Adding @scheibelp

I don't think the proposal would save space. There is some duplication between the packages. I think it is mainly TBB and openmp runtimes. TBB is relatively small, openmp runtime is bigger, but still much smaller than compiler or mkl. The duplicates are unused and could be deleted post-install.

It would likely use more space for many users. We would have to install all the comp

[2022-06-24 20:30] nilsvu opened #31280 "Symlinking environment view to /usr/local seems broken"
### Steps to reproduce

Build this Dockerfile:

[code]

This is `spack.yaml`:

[code]

### Error message

[code]

### Information on your system

Spack v0.18 (See Dockerfile above)

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have searched the issues of this repo and believe this is not a duplicate
- [X] I have run the fa

[2022-06-24 20:37] becker33 commented on #31278
@rscohn2 I think you're right about the space constraints.

This one is easy -- if it works for versions 2022.2.1 through 2022.5.0 and 2022.5.2 `depends_on('intel-oneapi@2022.2.1:2022.5.0,2022.5.2')`.

Is there currently any way to install these?

Of the motivations I mention, the most difficult to work around is the inability to present modules for the two compilers separately. Handling that in S

[2022-06-24 20:58] koebbe opened #31281 "Installation issue: rstudio"
### Steps to reproduce the issue

[code]

### Error message

<pre>
==> Error: No valid version for 'qt' satisfies '@5.12:'
</pre>

### Information on your system

* **Spack:** 0.18.0
* **Python:** 3.10.4
* **Platform:** linux-fedora36-x86_64_v4
* **Concretizer:** clingo

### Additional information

_No response_

### General information

- [X] I have run `spack debug report` and reported the versi

[2022-06-24 21:00] hartzell commented on #30965
So, here's what's going on....

1. Views aren't built in the directory named by the view, they're built in directories with obfuscated names that are symlinked to the actual name of the view directory.  This results in an even more confusing hidden name because containerize uses a view named `view`.  E.g.

[code]

   [Code here, with illuminating comment](https://github.com/spack/spack/blob/develo

[2022-06-24 21:10] carns commented on #27063
Still present in origin/develop, FWIW.

[2022-06-24 21:17] rscohn2 commented on #31278
We never install basekit/hpckit, we just install the standalones from here: https://www.intel.com/content/www/us/en/developer/articles/tool/oneapi-standalone-components.html

I guess the answer is that for most versions, there will be a depends_on some basekit/hpckit and no install, but some versions will require installing as is done today.

I don't see any problems with that.  A spack developer

[2022-06-24 21:39] sethrj commented on #31151
It's possible there's an openblas problem: I've seen both build errors *and* accidental requirement of newer CPU instructions (manifesting as SIGILL when calling certain BLAS functions). Given the error message which looks like a missing symbol, and the fact that the toolchain works on an older architecture, I'm not sure what's going on. It would be helpful to run unit tests for openblas on the fa

[2022-06-24 21:58] hartzell opened #31284 "containerize's z10_spack_environment.sh "missing" CPATH and LIBRARY_PATH"
### Steps to reproduce

1. Build a container using a Dockerfile generated by `spack containerize`.
2. Inspect the resulting `/etc/profile.d/z10_spack_environment.sh` in e.g the final image.
3. Notice that it does not include lines that set CPATH or LIBRARY_PATH

### Error message

When we try to build the R/Bioconductor package `XVector` in some extra_instructions in the builder stage of a build f

[2022-06-24 23:14] becker33 commented on #31278
I'll need to check whether there's work to be done to support out-of-prefix symlinks in binary packages, but for the most part we aim to handle symlinks properly in Spack.

[2022-06-25 07:26] alalazo commented on #30965
Thanks for triaging that @hartzell ! What you say makes perfect sense. The addition of the indirection for views has been added after `spack containerize` and I guess modifying the template for containers was overlooked :cry:

[2022-06-25 18:31] adamjstewart opened #31286 "Installation issue: mongo-c-driver"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
Undefined symbols for architecture arm64:
  "std::__1::__vector_base_common<true>::__throw_length_error() const", referenced from:
      std::__1::__vector_base<snappy::SnappySinkAllocator::Datablock, std::__1::allocator<snappy::SnappySinkAllocator::Datablock> >::__throw_length_error() const

[2022-06-26 17:02] omsai commented on #31151
@sethrj thank you for your explanations!

@vsoch Can you please try @sethrj's suggestion of running the unit tests for openblas? Because using a machine at my former university cluster I still cannot reproduce the fault using your versions or the latest versions.  However, note that I only have access to `skylake_avx512` and not the `skylake` as well as RHEL 7 instead of your Debian 11, which is p

[2022-06-26 17:05] mdorier opened #31309 "Error: Detected uninstalled dependencies"
### Steps to reproduce

I am installing an environment on the Theta supercomputer using this [spack.yaml](https://github.com/mochi-hpc-experiments/colza-experiments/blob/9093b3741ad75111692168fe26bfc49f9cc20ba6/theta/amr-wind/spack.yaml) file.
In this environment, `cmake` is an external, non-buildable package. If the `cmake` spec is put at the end of the list of specs, `spack install` installs a b

[2022-06-26 17:31] vsoch commented on #31151
@omsai the machine I was using to make the error borked after an update and is in a Fedex box back to the lab for fixing so I don't think I can reproduce - I tried on my other machines and the install works as expected! So - either we can just leave it open to see if someone else can reproduce, or we can just close and trust they can open a new issue.

Sorry bad timing!

[2022-06-26 18:52] sethrj commented on #31151
Recommend closing till it's reproducible. No point trying to find errors when we get them for free so often 😉

[2022-06-26 18:53] #31151 closed, assigned to nobody

[2022-06-27 03:16] rountree commented on #31255
Slowly going through all of the GNUMirrorPackage packages and finding lots of fixable problems.  Rather than roll of those up into a single PR I'll be doing per-package PRs.  Will keep this open for the moment but will be closing it once the pass is complete.  If anyone else is having issues with Intel compilers drop me a line; I'm getting some experience in making them play nice.

Fixes so far:

[2022-06-27 04:53] x2v0 commented on #31256
~$ cat /tmp/xtovo/spack-stage/spack-stage-xcb-proto-1.14.1-5yoxwi4ms7duphpfy4q4otelm3zjym63/spack-build-out.txt
==> xcb-proto: Executing phase: 'autoreconf'
==> xcb-proto: Executing phase: 'configure'
==> [2022-06-23-07:10:57.858261] '/tmp/xtovo/spack-stage/spack-stage-xcb-proto-1.14.1-5yoxwi4ms7duphpfy4q4otelm3zjym63/spack-src/configure' '--prefix=/home/xtovo/wrk/fairsoft/linux-centos7-skylake/gc

[2022-06-27 04:53] x2v0 commented on #31256
done 24.06.2022, 19:47, "John W. Parent" ***@***.******@***.*** can you provide the build log mentioned in the error output? Based on what you provided, this can be found as /tmp/xtovo/spack-stage/spack-stage-xcb-proto-1.14.1-5yoxwi4ms7duphpfy4q4otelm3zjym63/spack-build-out.txt.—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you were mentioned.Messag

[2022-06-27 05:13] rountree commented on #31123
Looking into this a bit more deeply:

util-linux-uuid@2.37.4 (but not 2.36.2 or 2.36) triggers an error handling the `restrict` type quantifier when compiled with Intel compilers from version 14 through 19*.  The Intel OneAPI compilers handle the `restrict` type quantifier correctly.

Compilations succeeds after adding `CFLAGS=-restrict`.  Adding that flag does not cause additional issues for prev

[2022-06-27 09:11] mperrinel opened #31315 "source cache for different packages"
### Summary
@keitat
@ppebay

The method [fetch_cache_location](https://spack.readthedocs.io/en/latest/_modules/spack/caches.html?highlight=source) permits to prevents Spack from repeatedly fetch the same files when building the same package different ways or multiple time.
Does spack have a similar feature for different packages using the same source ?
Let's imagine a git repository (A) which cont

[2022-06-27 11:45] nkgh77 commented on #31165
I have just found a combination which seems to work well;
`
 spack install julia ^openblas%aocc
`
The default compiler GCC4.8.5 still fails e.g.
`
spack  install julia ^openblas%gcc@4.8.5
`
does not work.

[2022-06-27 11:48] nkgh77 commented on #31165
Both GCC4.8.5 and GCC12.1.0@SPACK successfully compile a very simple C code.

[2022-06-27 11:49] ramet commented on #30564
Same issue from my side on macos 12.4 arm64 :
[code]

The problem seems to come from the version 7 of scotch, since `spack install pastix ^scotch@6` succeed

[2022-06-27 13:48] krcb commented on #31229
@adamjstewart @aweits @glennpj Any thoughts on how to proceed here?

[2022-06-27 16:02] adamjstewart commented on #31194
@psakievich also reported this same issue in Slack.

[2022-06-27 16:42] alalazo commented on #30965
I posted a minimal fix for this bug. Going to November (ETA for v0.19) I plan to improve a few aspect of creating a container image with Spack, so I can experiment with avoiding copying the symlinks directory and copy+relocate directly in a follow up PR.

[2022-06-27 17:01] scheibelp commented on #31278
I assume you can *deploy* them, but that you cannot load them both. I'm not sure why this is a problem: they set CC etc. for ease-of-use (so are incompatible by design) - am I missing something?

[2022-06-27 23:44] trws commented on #31214
That seems like a regression, the way @davidbeckingsale posted it is what that patch was meant to fix, but it should have kept working with the individual components quoted as well.

[2022-06-27 23:47] davidbeckingsale commented on #31214
I think the issue is that (in my investigations) the quotes don't make it from the shell into Spack, so I'm not sure how we can fix it. IIRC I was able to get it to parse by explicitly quoting the flags too:

[code]

[2022-06-27 23:55] trws commented on #31214
Yeah, the shell would strip them.  They should be represented by the fact that the full cxxflag string is part of the element of the list representing the arguments though, so it's probably getting joined off instead of parsed in pieces somewhere it shouldn't be.

[2022-06-28 12:12] alalazo commented on #23586
Related to #29447 in the sense that:
1. Currently we don't have a way to record test dependencies
2. We cannot distinguish between test deps used by `spack test` and test deps used by `spack install --test=*`

[2022-06-28 13:32] rscohn2 commented on #31255
I reproduced the problem with:
[code]
on centos7 and verified that oneapi compilers work. I look at it a little and believe there is some differences in the gcc emulation between the 2 compilers, but don't understand the details. It would take a while to get changes in icc and longer before people would update their compiler so @rountree 's method seems like the best way to resolve the problem.

[2022-06-28 15:04] alalazo commented on #29461
Hi, I tried your reproducer using `develop` instead of v0.17 (thanks for the Docker image, it was super useful!). I think this is not a bug, since:
[code]
If I install `file` bootstrapping from binaries seem to work correctly. Let me know if there are other issues I overlooked, otherwise I'd close this one.

[2022-06-28 17:58] adrienbernede commented on #31214
@trws I _think_ the problem may be related to the use of `=` inside the flag value.
And again, likely related to https://github.com/spack/spack/pull/29282 although I did not run the `git bisect`.

[2022-06-28 18:50] trws commented on #31214
Oh definitely, what you had there would have worked before that I'm pretty sure, but the same thing with cflags also specified would have failed in spectacular fashion.  I'll see if I can make some time to look into this.

[2022-06-28 20:19] trws commented on #31214
It's a bit worse than I thought.  At present, if the parser is passed a string it treats that as a shell command line to be split then processes it, that seems reasonable.  If it's passed a list, it joins the list with spaces, then treats the result as a command line to be split.  This is where things are breaking for quoted flags arguments, because the subsequent splitting breaks them apart.  I t

[2022-06-28 20:30] uturuncoglu opened #31344 "Installation issue: parallelio"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
Linking code with this package gives following error:
/opt/view/lib/libpiof.a: error adding symbols: Archive has no index; run ranlib to add one
collect2: error: ld returned 1 exit status
CMakeFiles/driver.dir/build.make:123: recipe for target 'driver' failed

This disappears after issuing f

[2022-06-28 20:31] trws commented on #31214
Sadly the split and quote method does not work, because it breaks things like `spack spec coreutils 'cflags=-O3 -g'` from the command line.  If that goes away, then `spack spec 'coreutils cflags="-O3 -g"'` breaks, and that's required by existing tests to work.  I'm starting to become convinced that we need a coherent policy for how this is supposed to behave we can implement, because at the moment

[2022-06-28 20:32] uturuncoglu commented on #31344
Also, when I run the nm command over static libraries to see the functions are available or not, I am getting following output

[code]

[2022-06-28 20:55] davidedelvento opened #31345 "Installation issue: libbsd (and its dependencies, including expat and many others)"
### Steps to reproduce the issue

[code]
Should be obvious from the checkout and the system info below, but to be more explicit, this is attempting to install expat@2.4.8%gcc@12.1.0+libbsd which is concretized with arch=linux-rhel8-icelake and it is using libbsd@0.11.5 which in turn is using libmd@1.0.4 both with the same compiler and the same architecture (sorry I cannot copypaste from the machin

[2022-06-28 20:59] davidedelvento commented on #31345
Forgot to mention: this might be very loosely related to https://github.com/spack/spack/issues/15750
However that claimed to happen only for the XL compiler, whereas this one happens for both gcc (this bug) and for intel (which I did not bother to report, since the problem is exactly identical, so I assume root cause is too)

[2022-06-29 02:29] myan-rarcellino-nnl opened #31352 "module name clash when projection references multiple dependencies from the same package"
### Steps to reproduce

[code]

### Error message

[code]

### Information on your system

**Spack:** 0.19.0.dev0 (df44045fdb68e429bd1accdb7e7c9b947521d75c)
**Python:** 3.6.8
**Platform:** linux-centos8-cascadelake
**Concretizer:** clingo

projection from `modules.yaml`:

[code]
My guess is that the error is due to 2 pythons existing in the tree when installing `py-breathe^python@3.10`. The spirit

[2022-06-29 03:21] longlong10086 opened #31353 "All dependencies for software are rebuilt when using cflags，how to fix it ?"
### Summary

Here is  a software called foo ,which depends on moo,noo,...
I  build foo with command   "spack install  foo %gcc" ,but  I met some error at the end.
To solve the error ,I have to add flags  such as  cflags="-std=c++11" to software foo.
Now  I try the command “spack install  foo%gcc   cflags='-std=c++11'” .

What I want  is to  recompile just foo using the cflags,but now  foo and all

[2022-06-29 08:12] alalazo opened #31357 "Software model for "compiler as dependencies""
# Short description

As a core developer I want to clearly define how Spack software model will change when compilers are turned into proper dependencies, so that I can assess its consistency with respect to relevant use cases and I can have a blueprint guiding the implementation.

# Motivation and goal

Compilers in Spack are currently modeled as *compulsory node attributes* in the concretized DA

[2022-06-29 08:19] alalazo opened #31359 "Requirements for keeping track of runtime libraries"
# Summary

As a user I want Spack to model the runtime libraries used by my software, so that it can ensure their consistency in different unification spaces.

# Description of the use case

When using a single compiler suite, Spack treats it as a dependency and keeps track of the runtime libraries used by the software being built.

## Simple C library

[code]

## Library using C and C++, with a d

[2022-06-29 10:20] alalazo opened #31361 "Consistency requirements when using multiple compilers in a DAG"
# Summary

As a user I want Spack to ensure consistency of runtime libraries among different  compilers employed in the same DAG, so that I can use specific compilers only where needed and otherwise use more mainstream compilers.

# Description of the use case

There could be two different variations of this use case. The first one is when different nodes use different compiler suites for the same

[2022-06-29 13:39] #30965 closed, assigned to alalazo

[2022-06-29 13:44] alalazo opened #31366 "Spack emits warnings when uninstalling"
### Steps to reproduce

Install a fake hdf5 spec:
[code]
then try to uninstall everything:
[code]

### Error message

It seems a few specs are uninstalled after their dependencies:
[code]

### Information on your system

* **Spack:** 0.19.0.dev0 (58b144c0dae88d6a06d3d138c077c4c70909c5f7)
* **Python:** 3.8.9
* **Platform:** darwin-monterey-cannonlake
* **Concretizer:** clingo

### General informati

[2022-06-29 15:24] haampie commented on #31361
What's somewhat problematic here is that we don't really have fine-grained control over clang (and its forks...). A system clang for example scans the system for GCC installations:

[code]

and then picks the latest, from which it takes stuff like `crt[begin|end].o` (for constructors/destructors of globals), "runtime" libraries for gcc itself: `libgcc_s` / `libgcc` and language type of libs `libst

[2022-06-29 16:48] white238 commented on #31166
`spack activate -f` does not activate any dependencies so this didn't work for my case due to the many dependencies of `py-sphinx`.  Going to investigate `spack view add` at @becker33 's advice.

[2022-06-29 17:18] davidedelvento commented on #17677
Is this still an issue with v0.18 or is it solved?

[2022-06-29 17:24] bradcray commented on #22548
FWIW, this limit on path length has also been a hassle for our group and a disincentive for keeping up with the latest versions of spack.

[2022-06-29 18:03] haampie commented on #22548
we can work around it by just requiring `sbang` is in the `PATH`, there's a PR for it but I forgot about it  https://github.com/spack/spack/pull/26792

[2022-06-29 18:55] #14513 closed

[2022-06-29 18:55] #6647 closed

[2022-06-29 19:30] jgalarowicz opened #31373 "Installation issue: py-pybind11 with latest development doesn't build"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
sn-fe1:/<4>survey/spack_06252022/spack [789] $ spack install --keep-stage survey@1.0.5.alpha.062922-openmpi-4.1.1 %gcc@8.3.0 +mpi ^openmpi@4.1.1
==> Warning: Missing a source id for survey@1.0.5.alpha.062922-openmpi-4.1.1
[+] /turquoise/usr/projects/hpctools/survey/spack_06252022/spack/opt/s

[2022-06-29 19:30] trws commented on #31359
Doing comments as I go, because I'm getting interrupted alot today.  One thing I think we need to model in the actual graph is a distinction between `type=build` and `type=compiler`, if we can model that with `type=build && language=*` or similar then we're probably all good, but there are enough cases where we need to distinguish between a build dependence on something in a compiler's package and

[2022-06-29 19:36] trws commented on #31359
I love the ideas for the directives, that's almost certainly something we're going to want.  Probably treat a package with none of them as depending on C, C++ and fortran just to be conservative about it, but if any language directive is specified then only those listed are present?

This one we need to be a bit careful about.  We need there to be one "dominating" runtime library for lack of a bet

[2022-06-29 19:46] trws commented on #31361
It's mildly annoying, but we can actually control for that @haampie. We need to make a directory that symlinks, *sigh*, to the actual gcc path we want from a path that looks like `$PREFIX/include|lib/gcc/$PLATFORM/$VERSION/` to do it, but then `--gcc-toolchain` works.  That's how we maintain clang's with a pre-set default gcc-toolchain in LC for example, the `LIBCXX_GCC_TOOLCHAIN` flag to the cmak

[2022-06-29 19:47] davide-q commented on #30987
Sorry I was out and I missed this notification. The error message for that problem was identical to the one utilizing the  relative rather than absolute paths. The problem is that it did not happen at bootstrap time, but later.
I have troubles reproducing exactly the same issue now mostly because my `~/.spack` directory has changed. For these use cases (testing) it'd be nice to have something that

[2022-06-29 20:06] uturuncoglu commented on #31344
I just want to update that adding `strip: false` option to `container` section in my `spack.yaml` file solved the issue. I am not sure why with `strip: true`, which is default behavior, is not working with PIO and needs to be explored.

[2022-06-29 20:22] CreRecombinase opened #31377 "`\` in username breaks spack"
### Steps to reproduce

Due to fun enterprise stuff I don't fully grasp, my username has a `\` in it (e.g `GROUP\nuser`).   This causes something to break at some point during `spack fetch`
[code]

Somehow `/tmp/GROUP/nuser/spack-stage/spack-stage-libiconv-1.16-2we7xr3tsxc4nuhkcfvxfihifrm7bzt3/libiconv-1.16.tar.gz` gets created, but then spack barks when it can't find `/tmp/GROUP\\nuser/spack-stag

[2022-06-29 20:30] haampie commented on #31377
Seems like a great way to break applications in general! Is `\n` the literal two bytes or a single newline character?

[2022-06-29 20:46] CreRecombinase commented on #31377
I'm pretty sure it's just a `\`. There's some kind of Active Directory thing going on I think? To protect the names of the innocent(?) I've changed the log/traceback to a fake username for the github issue; I kept the `\` followed by `n` because I'm not sure if it really is the `\` that's the problem or if it's specifically `\` followed by `n`.

[2022-06-29 22:03] jgalarowicz commented on #31373
The same identical builds works with the original concretizer.

[2022-06-29 23:37] CreRecombinase commented on #31377
It looks like [`format_os_path` is the culprit](https://github.com/spack/spack/blob/13b0e73a4eed301a75465ef5f1ef8980f4621605/lib/spack/spack/util/path.py#L194).   Specifically [this line ](https://github.com/spack/spack/blob/13b0e73a4eed301a75465ef5f1ef8980f4621605/lib/spack/spack/util/path.py#L212) where `\` is converted to `/`.  Having the function return its input seems to have fixed it

[2022-06-30 03:03] white238 commented on #31166
I was able to bandaid this until I have the time to properly fix this by adding all built python packages in my install prefix (minus a couple that wont activate) to my activate list.  I have ideas on how to move uberenv to views but I really need to unblock my project.

[2022-06-30 06:22] haampie commented on #31377
Yes, that absolutely makes no sense for Linux. Can you make a PR that drops that transformation?

[2022-06-30 07:23] alalazo commented on #31359
Hmm, that means we need to encode the load order somehow in the DAG + have a place where to encode this kind of global information in Spack :thinking:

[2022-06-30 09:48] haampie opened #31387 "Spack more often than not runs into write lock timeouts during parallel builds"
### Steps to reproduce

I'm using `spack env depfile` and `make -j128` which spins up 14 `spack install` processes on some environment.

10 of these processes simply error out saying they timed out for a write lock.

[code]

@tldahlgren any clue?

### Error message

.

### Information on your system

.

### General information

- [X] I have run `spack debug report` and reported the version of Spac

[2022-06-30 09:55] haampie commented on #31387
Another example where I start 6 spack install processes in parallel and for about 1 minute nothing happens except in one process:

[code]

(top 5 [sh---python3---python3] processes are waiting it seems)

[2022-06-30 12:28] alalazo commented on #31359
I think we should treat a package with no directives as not depending on any compiled language. That would require more annotation work, but the fact that we'll be adding dependency on runtime libraries prevents any kind of backward compatible behavior in my opinion. As a simple example, if we don't touch `zlib`, we'll end up with `zlib%gcc` having a dependency on both `libstdc++` and `libgfortran

[2022-06-30 12:32] haampie opened #31389 "Creating environment views from installed specs only"
I'd like to be able to setup an environment like this:

[code]

and want to make sure that concretization will only produce installed packages or an error.

That'd be a nice way to deal expose a large upstream database to a system, and have users just assemble their environment view.

Maybe `spack concretize --installed` or `spack-concretize --reuse-only` or so?

[2022-06-30 12:40] davidedelvento commented on #30608
@rscohn2 sadly this appears to still be broken in releases/v0.18
Manually inserting the change from #24195 fixes this issue, but that does not fixes the issue described there (of showing software compiled with it :sob: )

The problem is that the intel-oneapi-compiler module is versioned as 2022.1.0 and so does the prepend path. However the `icc --version` returns 2021.6.0 and so is the actual path

[2022-06-30 13:29] rscohn2 commented on #30608
@becker33 is making a lot of changes to better support intel/oneapi compilers and modules in #31285. Proper version number, more canonical paths, etc.  Are you using intel-oneapi-compilers-classic package?

[2022-06-30 13:55] davidedelvento commented on #30608
Thanks for the response. I am using the latest release, which is v0.18 (as I wrote above) and hence I am using `intel-oneapi-compilers`.

In fact, in version v0.18, there is no `intel-oneapi-compilers-classic` package because that must have been added after the release and it is available only in develop (which moves too fast to be utilizing in a production environment).

For now, I'm going throug

[2022-06-30 14:37] alexispaz commented on #31255
I had the same problem with `diffutils`. In my case, I have installed `intel-oneapi-compilers` with a `gcc@7.3.0` compiler that is available in the system via a module external to spack. Now that I understood the problem (thanks to this issue) I just loaded the external module before `spack install` and the problem disappears. May be, a possible fix for me, is to add the external module that loads

[2022-06-30 17:14] cdfh opened #31395 "Spack uses `ldflags` in two different contexts"
### Summary

I propose introducing two new build variables, `ccldflags` and `ldldflags`, which are used in place of `ldflags` in cases where it matters whether the linker is being invoked directly (e.g., as `ld`) or indirectly via the compiler (e.g., as `clang`).

### Rationale

This issue is regarding the `ldflags` build variable, as configured in `compilers.yaml`, e.g., with

[code]

The broader

[2022-06-30 18:08] trws commented on #31359
I agree with all of that.  The only reason I said assume no annotation depends on all three is that's our current behavior, implicitly to be sure but it's how things currently behave.

[2022-06-30 22:31] tldahlgren commented on #31387
Cool graph.  Is that auto-generated?

The original implementation would block at a couple of key points.  The first was during provider cache creation (first time).  The second was based on the DAG, which was especially noticeable if a single dependency had to be built before other packages could be built in parallel.  The number of packages that can actually be built concurrently depends on the m

[2022-06-30 22:59] haampie commented on #31387
I'll try and narrow down the issue a bit soon. I suspect I'm running spack install for two identical root/single specs concurrently, and this is causing the issue. Will report back with -ddd output.

The tree is from `pstree`, it's really neat indeed, manages to shrink the tree in something readable most of the time

[2022-06-30 23:54] eugeneswalker opened #31401 "binary packages: symbolic links not rewritten to account for new locations"
### Steps to reproduce

Symbolic links are not being re-written to account for new locations when installing packages from build cache.

This is shown below when w/ `openssl` installed from build cache into a path that differs from the path where `openssl` was originally built.

Reproduced using:
* Docker container image `ecpe4s/ubuntu20.04-runner-x86_64:2022-05-01`
* `spack/develop` (861edcf996a1

[2022-07-01 00:23] sanjtrip commented on #26554
Hi @srekolam, Is this part of ROCm-5.2 ?

[2022-07-01 05:39] adamjstewart commented on #31373
[code]
This is an extremely generic error that can be caused by a number of things. One possible reason is running Python from a directory that no longer exists. If you search for this error in GitHub I think you'll find several other instances of it. Sorry I couldn't be more helpful.

[2022-07-01 07:51] adamjstewart commented on #20513
Is this still the case with the latest version of the package?

[2022-07-01 07:53] adamjstewart commented on #28807
Can you see if #31402 fixes this? I found that JDK 17 doesn't work, I had to use JDK 11.

[2022-07-01 07:54] adamjstewart commented on #28925
What version of Java are you using? Can you see if #31402 solves your issue? I found that bazel only works with Java 8 or 11.

[2022-07-01 07:56] adamjstewart commented on #21190
Added in #31402

[2022-07-01 07:57] adamjstewart commented on #21190
There are also a couple of PRs to fix GCC 11 support now: #30655 #28548

[2022-07-01 07:59] adamjstewart commented on #20696
Are you still seeing issues? Externally installed bazel is not supported at the moment, you have to use Spack-installed bazel.

[2022-07-01 08:16] nkgh77 commented on #28925
I guess this is fine?

[code]

[2022-07-01 08:42] brechtm opened #31404 "Installation issue: autoconf-archive-2022.02.11 (ReadError: file could not be opened successfully)"
### Steps to reproduce the issue

With `SPACK_PYTHON` pointing to Python 2.7:

[code]

### Error message

<details><summary>Error message</summary>

[code]
</details>

### Information on your system

* **Spack:** 0.19.0.dev0
* **Python:** 2.7.5
* **Platform:** linux-rhel7-skylake_avx512
* **Concretizer:** clingo

### Additional information

The error originates from the Python 2.7 tarfile module t

[2022-07-01 08:44] cessenat commented on #31095
Hello,
You may try to install with
`^libtool@2.4.6`
It works for me.

[2022-07-01 11:13] vsoch commented on #31095
Should that perhaps be part of the package? I got this same error today for a different package and pinning that library worked.

[2022-07-01 11:17] tz-rrze commented on #29833
might be solved by #29788

[2022-07-01 11:38] rscohn2 commented on #30608
You can increase the chance that all issues are resolved in the next release by testing the branch in https://github.com/spack/spack/pull/31285, or testing develop after it is merged:
[code]

and installing ```intel-oneapi-compilers-classic```

[2022-07-01 13:53] cessenat commented on #31095
Well, possibly, a "conflicts" rule would do; I too had the issue with Silo. I believe this is a rather general issue.
Maybe experts such as @markcmiller86 or @sethrj could tell.
Libtool version change has been brought in by @haampie in april : what do you recommend @haampie ?

[2022-07-01 14:59] adamjstewart commented on #28925
Yes, that should work.

[2022-07-01 15:03] payerle opened #31405 "Spack install refuses to install alternate variant of installed package "All packages already installed""
### Steps to reproduce

I have py-charm4py+mpi installed in an environment, but I also wish to install py-charm4py~mpi in the same environment and spack refuses to do so, claiming "All of the packages are already installed".  There also seems to be a disconnect between what spack spec reports and what spack install is trying to install.

Note: the environment defines what is wanted for the build o

[2022-07-01 16:00] gmfricke opened #31406 "Hypre_dir not being defined"
Hello Hypre maintainers @ulrikeyang, @osborn9, and @balay,

Users at our HPC center (e.g. @rubel-chandra-das) are reporting that the most recent hypre package no longer sets the environment variable HYPRE_DIR to the installation location, which results in compilation failures.

This seems to have first showed up about a month ago.

Any advice would be greatly appreciated.

All the best,

Matthew

[2022-07-01 16:57] odoublewen commented on #31404
I think I'm hitting the same error, here are corroborating details:

* I am also using a python 2.7 backed spack installation.
* I'm using spack from develop branch, at commit 557abe04ecb29a26032c62e098aadd76b3905abe (from 2022-06-29).
* I'm seeing failures to install `diffutils` and `pkgutils` -- just as @brechtm observed above for `autoconf-archive`, both of these archives use `.tar.xz` compress

[2022-07-01 19:37] gartung commented on #31401
Something is going wrong in the path substitution for the absolute path the link point to
https://github.com/spack/spack/blob/87b8321fa948b906a285406c5ea79e33258386d1/lib/spack/spack/relocate.py#L741
You would need to  look at the listing from the buildache tarball to see what the original link is pointing to and see if the substitution of @'s worked correctly.

[2022-07-01 19:43] gartung commented on #31401
Although this seems to indicate that this is the new way links are rewritten
https://github.com/spack/spack/blob/bb43308c444651f560c920c248257fa9e8dc4b18/lib/spack/spack/rewiring.py#L24
Ask @nhanford

[2022-07-01 19:48] hartzell commented on #31404
I was playing with this, tried to fetch the tarball from the upstream repo, and discovered that there's an expired cert in the mix:

[code]

I had a working hypothesis: the file's unavailable upstream, Spack is looking for it in a different place on develop than it did in v0.18.0, and the mirror already has the file in the v0.18.0 location but hasn't managed to grab a copy of it to store under the

[2022-07-01 19:54] hartzell commented on #31404
Re expired cert:

[code]

[2022-07-02 18:48] glennpj commented on #31229
I have not begun looking at versions of tensorflow beyond 2.7.0, but protobuf seems to always need special handling.

[2022-07-02 18:57] adamjstewart commented on #31229
I know they don't yet support protobuf 4 but the latest version of protobuf 3 should work.

[2022-07-03 19:36] rountree opened #31418 "Installation issue: diffutils build failure with certain Intel compilers"
### Steps to reproduce the issue

[code]

### Error message

From intel%14 and intel%15:
[code]

From intel%19:
[code]

### Information on your system

[code]

### Additional information

Errors originally discussed in #31255

I originally thought there was a single Intel compiler issue that affected a handful of packages.  After digging into this I've found at least three separate issues that aff

[2022-07-03 21:37] rountree opened #31420 "Installation issue: cpio build failure with Intel compiler"
### Steps to reproduce the issue

[code]

### Error message

/var/tmp/rountree/spack-stage/spack-stage-cpio-2.13-tg57btbgjiawu7wdbarzs45blkkdybnd/spack-src/gnu/xalloc.h(107): error: argument is incompatible with formal parameter
    if (xalloc_oversized (n, s))
        ^

### Information on your system

* **Spack:** 0.19.0.dev0 (9905d0ffda55297a9c4965b20a672e27e760f955)
* **Python:** 3.7.2
* **Pla

[2022-07-04 01:24] rountree opened #31423 "Installation issue: m4 build failure with Intel compiler"
### Steps to reproduce the issue

[code]

### Error message

[code]

### Information on your system

[code]

### Additional information

See #31255 for discussion.

Other fixes in this series:
#31418 (diffutils)
#31420 (cpio)
#31312 (util-linux-uuid)

The problem here is localized to %intel@19 and can be fixed locally by providing `CFLAGS=-gcc-name=/path/to/gcc/more/recent/than/v5`.

### General i

[2022-07-04 02:19] rountree opened #31425 "Installation issue: tar build failures with Intel compilers"
### Steps to reproduce the issue

[code]

### Error message

Error messages for @14 and @15
[code]
Error messages for @19
[code]

### Information on your system

[code]

### Additional information

See #31255 for discussion.

Other fixes in this series:
#31418 (diffutils)
#31420 (cpio)
#31312 (util-linux-uuid)
#31423 (m4)

### General information

- [X] I have run `spack debug report` and reported

[2022-07-04 09:21] stephenmsachs commented on #29058
I just came across this. `intel@19.0.5.281` does not provide `spec['mpi'].mpiicc` but uses the Intel compiler in `mpicc` when called with `%intel`. To solve this you can either use `spec['mpi'].mpicc`or `^intel-oneapi-mpi`.

[2022-07-04 09:40] stephenmsachs opened #31427 "mpicc compiler selected by different criteria in `intel-mpi` and `intel-oneapi-mpi`"
### Summary

I propose to make the default behavior of packages`intel-mpi` and `intel-onerapi-mpi` interchangeable.

This is on the current develop branch.

### Rationale

Note that currently `mpas-model%intel ^intel-mpi` builds fine, while `mpas-model%intel ^intel-oneapi-mpi` exits with error as `mpicc` is GCC and not the expected ICC.

While `spec[mpi].mpicc` shows the correct compiler, there ar

[2022-07-04 13:16] alalazo commented on #30799
Was fixed by #30810

[2022-07-04 13:16] #30799 closed, assigned to trws

[2022-07-04 13:20] alalazo commented on #29915
Moving to the next major release since this change the semantic of `provides`.

[2022-07-04 13:35] alalazo commented on #24754
This was solved in v0.18.0 by a combination of:
1. Conditional variants
2. Reworking `CudaPackage` to have `cuda_arch` conditional to `+cuda`

[2022-07-04 13:35] #24754 closed, assigned to alalazo

[2022-07-04 13:45] alalazo commented on #20745
This issue is specific to `bzip2`. The general problem exposed here is tracked and discussed in #19364 + since v0.18 Spack also supports detecting libraries, so closing this issue for now. Feel free to reopen if you think any specific point needs to be addressed in terms of new functionality.

[2022-07-04 13:45] #20745 closed, assigned to alalazo

[2022-07-04 13:47] alalazo commented on #20553
Also related to #29447

[2022-07-04 13:51] alalazo commented on #27666
I could reproduce. Apparently the method we used to accept Oracle's license doesn't work anymore. The downloaded artifact contains some `html` for an "Unauthorized request".

[2022-07-04 13:55] alalazo commented on #27565
I confirm this specific issue was solved in #27790
![Screenshot from 2022-07-04 15-55-27](https://user-images.githubusercontent.com/4199709/177169314-b3dce0ca-582f-4e02-9e37-bc46a15c720c.png)

[2022-07-04 13:55] #27565 closed, assigned to nobody

[2022-07-04 14:11] #31123 closed, assigned to nobody

[2022-07-04 14:33] adamjstewart commented on #24754
The specific case of CUDA has been solved, but I still notice Spack ignoring packages.yaml variant preferences in my environment unless I copy them to spack.yaml. Specifically, with opencv.

[2022-07-05 07:28] alalazo commented on #31255
@rountree I took a look at the issue. Can it be dealt with like we show in the [documentation on Intel compilers](https://spack.readthedocs.io/en/latest/getting_started.html#command-line-configuration)? That means adding configuration to `compilers.yaml`, instead of adding it to each package that you want to build with that compiler.

[2022-07-05 07:59] haampie commented on #31387
I'm using an AMD EPYC cpu with 128 cores, and on that machine this seems to be a pretty solid reproducer for `spack install` failures.

**spack.yaml**

[code]

**Makefile**

[code]

This creates 128 environments `env-###`, and when running `make -j128` it fails every time.

For nice output, use `make -j128 -Orecurse SPACK_COLOR=always`, since that groups output per spack install process.

The erro

[2022-07-05 08:41] haampie commented on #31387
Some more details, it's tons of issues unfortunately :(

## Issue 1: writing to `spack.yaml` is not process safe

(Seems like there is no locks acquired here in the stacktrace)

[code]

## Issue 2: fetch races

**Example 1**

[code]

**Example 2**
[code]

## Issue 3: lock timeouts

<details>
<summary>Failing concurrent processes 1</summary>

[code]

</details>

<details>
<summary>Failing concurren

[2022-07-05 08:51] alalazo commented on #29833
Thanks for the note, closing the issue then!

[2022-07-05 08:51] #29833 closed, assigned to nobody

[2022-07-05 11:14] haampie commented on #31387
@tldahlgren it seems the package installer itself is just fine :upside_down_face:

@becker33 the lock issue seems to be a regression caused by
- https://github.com/spack/spack/pull/24277 (write lock can not be acquired in many cases)
- https://github.com/spack/spack/pull/27167 (many sequential db queries without read lock)

If I simply remove those environment-specific bits (mark roots explicit &

[2022-07-05 14:03] eugeneswalker commented on #31401
The problem is, the symlink which requires relinking resides beneath the openssl install prefix but it points to the install prefix of another package `ca-certificates-mozilla`. The existing relink logic only handles the case of re-linking those links which point to the install prefix of the package where the link resides, and so doesn't even attempt to handle the case identified in this issue:

h

[2022-07-05 15:18] eugeneswalker commented on #31401
I'm not sure we can fix this without changing what information is stored in the binary distribution metadata. We can't simply substitute the old layout root for the new layout root.

If there is a link in the openssl install prefix and that link targets a path outside the openssl install prefix, say it targets a subpath of the `ca-certificates-mozilla` install prefix, as is the case here, then to

[2022-07-05 18:01] adamjstewart commented on #31229
FWIW, I'm able to reproduce this issue on macOS 12.4 (Apple M1 Pro) with the exact same error message. Spack is building py-tensorflow with protobuf@3.17.3 which does indeed have the `include/google/protobuf/port_def.inc` file. Tensorflow should be using our compiler wrappers, so it should pick up this file. Seeing a lot of suggestions online like https://github.com/protocolbuffers/protobuf/issues

[2022-07-05 18:06] RezaeiAl opened #31442 "Installation issue for libcatalyst: spack install -j 32 libcatalyst %gcc@9.4.0"
==> Error: 'Libcatalyst' object has no attribute 'git'

[2022-07-05 19:02] bollig commented on #28830
Do these versions still need to be locked? It has been a while.

[code]

[2022-07-05 21:41] alansill opened #31451 "Missing icpc command when installing r-rcpp"
Installing a set of R packages led to a dependency of r-cpp being attempted. Unfortunately this failed with the following messages. Is icpc defined somewhere and is this step missing when r-rcpp is pulled in as a dependency?

[code]

[2022-07-05 22:08] alansill commented on #31451
Update: I get the same errors when installing just r-rcpp on its own in a fresh, otherwise empty spack installation cloned directly from the git repository.

[code]

[2022-07-05 23:47] rountree commented on #31255
@alalazo The more I think about it the more I think that's the right idea.  The lingering concern I have is discoverability.  What's a better way of getting from "This is a weird error." to "Oh, right, I need to add these particular flags to my local `compilers.yaml`."?

[2022-07-05 23:54] tldahlgren commented on #24667
@vvolkl Is this issue still valid given [#26086](https://github.com/spack/spack/pull/26086) removes the tests?

[2022-07-06 00:39] luke-dt opened #31453 "Error: Package 'armpl' not found"
### Steps to reproduce

[code]

### Error message

[code]

### Information on your system

* **Spack:** 0.19.0.dev0 (30e5828f068ba713432c5489647900baaa2a6a14)
* **Python:** 3.10.5
* **Platform:** linux-fedora36-zen3
* **Concretizer:** clingo

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have searched the issues of this rep

[2022-07-06 00:40] luke-dt commented on #31453
I think this is related to #31437

[2022-07-06 02:32] climbfuji commented on #11636
I am still seeing this issue with 0.18.0.

[2022-07-06 03:49] luke-dt commented on #31453
not sure why, but running `spack clean -ab` fixed the issue for me

[2022-07-06 03:49] #31453 closed, assigned to nobody

[2022-07-06 04:08] osborn9 commented on #31406
Hi @gmfricke, could you (or @RUBEL-CHANDRA-DAS) please provide more information about this issue?

The hypre spack package shouldn't be setting this environment variable, but a library that depends on hypre may be set this, e.g., based on the `spec['hypre'].prefix`[like here](https://github.com/spack/spack/blob/5f55abeecb1347e7fcc3464ce2e32665e6fef9d6/var/spack/repos/builtin/packages/nalu-wind/pac

[2022-07-06 06:31] vvolkl commented on #24667
No, this can be closed then. Thanks!

[2022-07-06 06:31] #24667 closed, assigned to nobody

[2022-07-06 06:34] bradcray commented on #22548
@haampie : Do  you think there is any chance of PR #26792 getting merged?  (asking as someone completely unfamiliar with the spack development process)

[2022-07-06 09:03] brechtm commented on #31453
`spack clean -fmps` fixed it for me, keeping cached downloads.

[2022-07-06 10:07] alalazo commented on #31255
I completely agree with that. We might add hooks that run in case of failures, scan the build logs and print a legible error message. That would require to isolate specific sentences or patterns in the errors that point to this kind of issue.

[2022-07-06 17:33] khuck commented on #23036
From @becker33 on Spack Slack, this also appears to work when building llvm:
[code]

[2022-07-06 20:11] #18023 closed, assigned to scottwittenburg

[2022-07-06 20:27] eugeneswalker commented on #30853
Yes, this is resolved now, thank you.

[2022-07-06 20:27] #30853 closed, assigned to srekolam

[2022-07-06 20:51] #26810 closed, assigned to nobody

[2022-07-06 21:37] alansill commented on #31451
Update: if I install and load the intel-oneapi-compilers spack package and use spack compiler find to add them in, the r-rcpp spack package installs without error, but I am concerned that using Intel compilers for one package and gcc for the rest will cause problems. Any insight as to why the r-rcpp spack package requires Intel compilers to install?

[2022-07-06 21:40] rscohn2 commented on #31255
gcc 4.8.5 is able to build diffutils, but icc emulating gcc 4.8.5 is not. It seems like a bug in icc, but I have not been able to narrow it down enough to report it.

The workaround is to use a different gcc or disable gcc emulation in icc. The workarounds are not suitable for all packages, all situations, so putting it in compilers.yaml doesn't seem like the right thing. Putting workarounds in in

[2022-07-06 22:43] rscohn2 commented on #31427
This builds ok for me:
[code]

What is the error that you see?

For this spec, intel-mpi and intel-oneapi-mpi will use mpiicc.  intel-oneapi-mpi doesn't have this logic from intel-mpi: https://github.com/spack/spack/blob/6cbcc94fc941e913878bd0f8eb29556f0b59e44f/var/spack/repos/builtin/packages/intel-mpi/package.py#L73
Is that where you think the problem is?

[2022-07-06 23:42] certik opened #31472 "spack unit-test fails"
Following the steps from: https://spack.readthedocs.io/en/latest/contribution_guide.html#unit-tests

[code]

I use Apple M1.

[2022-07-07 00:07] krcb commented on #31229
@adamjstewart I *think* (but I could be wrong) that `Tensorflow` uses a non-CMake build system and instead generates a soft-link to the `protobuf` include directory (see https://github.com/tensorflow/tensorflow/issues/31020#issuecomment-874508912). This link step is what I think is failing here.

[2022-07-07 10:01] stephenmsachs opened #31474 "Internal compiler installation with stubs not working"
### Steps to reproduce

The steps described here do not work any more:
https://github.com/spack/spack/blob/develop/lib/spack/docs/build_systems/intelpackage.rst#install-steps-for-packages-with-compilers-and-libraries

Step 4 says: `$ spack install intel-parallel-studio@cluster.2018.3  %intel@18.0.3`

This does not work anymore as `intel-parallel-studio` depends on `patchelf` at build time. Spack w

[2022-07-07 10:59] rscohn2 commented on #31427
I looked at this a little more. For intel-mpi, it uses mpicc/mpicxx for gcc and mpiicc/mpicpc for intel compilers. It sets I_MPI_CC to spack_cc. For cray platform, it does not use the mpi wrappers, just the compiler wrappers.

intel-oneapi-mpi always uses mpiicc and sets MPICH_CC to spack_cc. You can force it to use mpicc with generic-names variant.

mpicxx allows g++ && icpc, but does not allow i

[2022-07-07 12:21] haampie opened #31475 "Index creation not process safe"
### Steps to reproduce

[code]

### Error message

[code]

### Information on your system

.

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have searched the issues of this repo and believe this is not a duplicate
- [X] I have run the failing commands in debug mode and reported the output

[2022-07-07 12:39] stephenmsachs commented on #31474
For what it's worth `spack install intel-parallel-studio@cluster.2020.4 %intel@20.0.4 ^patchelf%gcc` works fine. So this could be a quick fix. Spack needs to be aware of a GCC first of course.

[2022-07-07 13:47] kc9qey opened #31476 "Installation issue: llvm"
### Steps to reproduce the issue

<pre>
[arnoldg@dt-login03 delta]$ spack spec -l llvm@14.0.6 %gcc@11.2.0 ^perl@5.34.1
Input spec
--------------------------------
llvm@14.0.6%gcc@11.2.0
    ^perl@5.34.1

Concretized
--------------------------------
3nfs34w  llvm@14.0.6%gcc@11.2.0+clang~code_signing+compiler-rt~cuda~flang+gold+internal_unwind~ipo+libcxx~link_llvm_dylib+lld+lldb~llvm_dylib~mlir+omp_

[2022-07-07 13:50] kc9qey commented on #31476
@haampie @trws

[2022-07-07 13:56] kc9qey commented on #31476
[spack-build-out.txt.gz](https://github.com/spack/spack/files/9064322/spack-build-out.txt.gz)

[2022-07-07 14:00] kc9qey commented on #31476
NCSA DELTA  , for search terms

[2022-07-07 14:03] alalazo commented on #31472
First link seems to be [this one](https://stackoverflow.com/questions/69528842/an-error-while-trying-to-execute-tests-on-python-3-10-with-pytest). I assume you are using Python 3.10 ? If that's the case, you can `pip install` a new pytest and that will work as a workaround.

I'll check if we can cleanly get rid of our old vendored version and use the internal bootstrapping logic.

[2022-07-07 14:27] tagardiner opened #31479 "Installation issue: gcc12.1.0"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>

==> Ran patch() for gcc
==> gcc: Executing phase: 'autoreconf'
==> gcc: Executing phase: 'configure'
==> gcc: Executing phase: 'build'
==> [2022-07-07-00:15:30.833161] Error: ProcessError: Command exited with status 2:
    'make' '-j10' 'V=1'

3 errors found in build log:
     3644    check

[2022-07-07 14:42] stephenmsachs commented on #31427
So here is what I did (on commit 1b919d306fa4d0d95616b5dc91441fc6ba78e958):

[code]
Inside that subshell:
[code]
In the first shell again:
[code]

This fails with:
[code]

Here `mpicc` is gcc, bu the FLAGS_OMP are set for icc syntax. I submitted a patch for this situation in MPAS (https://github.com/spack/spack/pull/31431), but I think this could happen for other codes as well.

[2022-07-07 14:44] stephenmsachs commented on #31427
Oh, and no this is not a cray. I am working on a Amzon Linux 2 box. This happens with Intel and AMD cpus.

[2022-07-07 15:31] payerle opened #31481 "Installation issue: llvm (Assert error building with specific ninja dependency)"
### Steps to reproduce the issue

I am trying to replicate with a newer version of spack a software lib/environment I had built with an older spack version, and in particular trying to build some packages with freetype@2.10.2.  In doing so, I noticed the concretizer overriding my "suggestions" and trying to build some packages with a newer freetype, and so I reissued some build commands to more fo

[2022-07-07 16:16] trws commented on #31476
Looks like that interface was added in hwloc 2.4, probably need to up the required dependency version.  I'm not sure which version of LLVM introduced this. @kc9qey, does version 13 build for you with that hwloc version?

[2022-07-07 16:30] rountree commented on #31255
@rscohn2 What packages/situations do you expect will cause problems if `-gcc-name` is added to `compilers.yaml`?

@alalazo Here are a couple of representative errors:

[code]
These are fixed by `-no-gcc`.

[code]
These are fixed by `-restrict`

[code]
These are fixed by `-gcc-name`

[2022-07-07 16:40] rountree commented on #31255
So this is a silly, intrusive solution, but the more I think about it the more I like it.

Require a gcc compiler to be specified if using a pre-OneAPI Intel compiler.

That could look like:`spack install diffutiils-3.8%intel@14.0.3%%gcc@4.9.3`.  Or it could look like `spack install diffutils-3.8%intel@14.0.3%%no-gcc`.

The argument in favor is that these particular Intel compilers do have a real

[2022-07-07 17:22] alalazo commented on #31255
I don't think we'll be going towards that solution, since it requires changes to the spec syntax that are going against a feature we'd like to happen sooner rather than later, i.e. compiler as dependencies. When we'll be there (hopefully in a few months) the idea is that we can do something similar to:
[code]
I started posting a few issues to refine the model we want to have for compilers and thei

[2022-07-07 17:24] rscohn2 commented on #31255
If you don't have another gcc installed or for some reason want icc to use gcc 4.8.5. I was thinking about centos 7 users where 4.8.5 is the default. I see that it isn't too hard to install gcc 7 on centos 7 so this is probably not a common situation.  ``-gcc-name`` in compilers.yaml would be ok for almost everyone and all the alternatives are much more difficult.