[2022-03-25 21:15] haampie commented on #29721
Hm, is it a regression in libgit2? The error is not very telling. What's the newest libgit2 that works for you? 1.3.0 works? If so, can you add a `depends_on('libgit2@:1.3.0', when='@:1.7')` or something along these lines and submit a PR?

[2022-03-25 21:31] jmaack24 commented on #29721
It works for libgit2@1.1.1.  I haven't tried it with anything later.  The PR [43250](https://github.com/JuliaLang/julia/pull/43250) and issue [43249](https://github.com/JuliaLang/julia/issues/43249) on the Julia github indicate it will also be an issue with libgit2 v1.3.0. The discussion in the PR indicates that mbedtls is a shared dependency between libgit2 and libssh2 and that libgit2 v1.3.0 and

[2022-03-25 21:53] jmaack24 opened #29727 "Installation issue: Julia"
### Steps to reproduce the issue

[code]

### Error message

The build completes without any errors. However, when trying to launch Julia I get the following error
<details><summary>Error message</summary><pre>
spack/opt/spack/linux-centos7-skylake_avx512/gcc-8.4.0/julia-1.7.2-mnwxn4vfgsi2vrw4xn5pmlgujz6rhd3z/bin/julia
ERROR: Unable to load dependent library /home/jmaack/spack/opt/spack/linux-cent

[2022-03-25 22:19] haampie commented on #29727
Can you run https://github.com/haampie/libtree instead of ldd? I think this is coming from LLVM's "system libraries", but it's difficult to say.

It's also possible that `llvm-config` in Julia's build script somehow adds those libs to julia itself, which would be annoying.

[2022-03-26 00:19] jmansour opened #29729 "Environment virtual package version specification being ignored"
Hi team@spack

As per title, I'm encountering unexpected behaviour when trying to specify versions within environments.

For example, say I have this environment:

[code]

When I concretize I'm getting `openmpi@4.1.2` instead of `openmpi@3.1.6`.  The `perl` version specification, on the other hand, appears to be sticking (with it defaulting to `perl@5.34.0` if not specified).

If I instead explici

[2022-03-26 09:19] haampie commented on #29727
My suspicion is that Julia modifies the rpath of libLLVM... from the build logs the rpaths of LLVM look fine. Have to verify this.

[2022-03-26 09:30] haampie commented on #29727
Yup, that's the case :weary:

[2022-03-26 09:31] haampie commented on #29727
[code]

[2022-03-26 09:33] haampie opened #29730 "Spack fails to install when cwd does not exist"
### Steps to reproduce

[code]

### Error message

_No response_

### Information on your system

.

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have searched the issues of this repo and believe this is not a duplicate
- [X] I have run the failing commands in debug mode and reported the output

[2022-03-27 20:42] KineticTheory commented on #29706
I'm also seeing this issue (different package).  Adding `ssh://|` to the regex on line 346 fixes the issue for me.

[2022-03-28 01:42] elfprince13 commented on #29706
and then presumably also adding `ssh://` to the affected packages? This isn't typically specified for git clients.

[2022-03-28 05:03] certik opened #29735 "llvm fails to install on M1 Max"
LLVM 13 fails to install with:
[code]

Note that this exact version used to install for me on M1 (not Max): https://github.com/spack/spack/issues/26319#issuecomment-962632195, so either something is different on M1 Max as opposed to M1, or something in Spack changed.

[2022-03-28 08:28] #29721 closed, assigned to nobody

[2022-03-28 08:34] #29727 closed, assigned to nobody

[2022-03-28 09:48] fspiga commented on #29171
Done (I miss the notification somehow)

[2022-03-28 09:56] mslacken commented on #29686
~~I am having similar problems problems with local mirrors without internet access. As soon as the file archive hashes start with [digit][letter] the local mirror fails, so this holds true for  m4@1.4.18 and e.g. berkeley-db@18.1.40
m4@1.4.18 can't fetched from a file:// mirror.~~
Could rule the error out, as I used 'slightly' different versions of spack to build and to create the mirror.
The arch

[2022-03-28 12:57] alalazo commented on #29171
Closing this issue then.

[2022-03-28 12:57] #29171 closed, assigned to nobody

[2022-03-28 16:09] certik commented on #29735
I tried older spack from last November when llvm worked for me, but it still fails. I also tried LLVM 12, 13 and 14, they all fail with the same error. I then went into the build directory, loaded the spack env and executed by hand:
[code]
So that's how to reproduce it. Then I stayed in this directory but executed this command without loading the env. It says I am running the spack compiler wrappe

[2022-03-28 16:10] certik commented on #29735
I see. In `spack-build-env.txt` there is a line:
[code]
Which causes clang to fail.

[2022-03-28 16:16] certik commented on #29735
Related docs:
* https://spack.readthedocs.io/en/latest/basic_usage.html#support-for-specific-microarchitectures
* https://spack.readthedocs.io/en/latest/packaging_guide.html#querying-the-target-microarchitecture

[2022-03-28 16:17] iarspider opened #29750 "Installation issue: py-onnx-runtime@1.10.0"
### Steps to reproduce the issue

Add version 1.10.0 to the recipe:
[code]

Run the installation:
[code]

### Error message

[code]

(full output: https://gist.github.com/iarspider/2ce0cae1786cbda526d9f0e1250f5360)

### Information on your system

* **Spack:** 0.17.1
* **Python:** 3.6.8
* **Platform:** linux-centos7-broadwell
* **Concretizer:** clingo

### Additional information

The build didn't

[2022-03-28 16:29] certik commented on #29735
I figured out a workaround that seems to work. In the automatically generated file `~/.spack/darwin/compilers.yaml` add the following two lines:
[code]
So that the file looks like:
[code]
Then llvm will build, because the `spack-build-env.txt` file will now contain:
[code]

[2022-03-28 17:02] certik commented on #23036
The same problem here (on Apple M1). Here is a workaround that worked for me: https://github.com/spack/spack/issues/29735#issuecomment-1080869851

[2022-03-28 17:07] s-sajid-ali opened #29751 "Installation issue: llvm@14.0.0, 'hwloc.h' file not found at build time despite it being found during configure"
### Steps to reproduce the issue

[code]

Concertized spec:
[code]

### Error message

Relevant error message:

[code]

This occurs, despite the fact that spack passes `'-DLIBOMP_USE_HWLOC:BOOL=ON' '-DLIBOMP_HWLOC_INSTALL_DIR:STRING=/home/sajid/packages/spack/opt/spack/linux-ubuntu20.04-zen2/gcc-11.2.0/hwloc-2.7.0-5ttjykgyd7bxnhegnydeesc53ufojjmb' ` and the fact that `hwloc` is indeed found during

[2022-03-28 17:36] trws commented on #29735
Ok, I can see how that would work, does either `-march=apple-a14` or `-march=apple-m1` work on your compiler? These are the architecture targets we should be specifying for those systems (really the latter, but the former is an alias at least for now.

[2022-03-28 17:38] certik commented on #29735
The Apple clang compiler (shipped by default) does not support `-march` at all:
[code]

[2022-03-28 17:49] trws commented on #29735
So I see, I'd forgotten that peculiarity of building for arm (it's not just apple clang, arm tends to do this everywhere). The closest would be `-mcpu=apple-m1` which works in the arm cross compilation mode from apple clang on my x86 mac:

[code]

We should get that added into the target detection logic to fix this.

[2022-03-28 18:21] trws commented on #29751
That's a new one.  I can see in the build line above that it's clearly not getting the include path it needs, but I'm not clear on how.  The ompd library is part of libomp, and is built as part of the `openmp` project, so I would expect it to honor the setting for libomp, do you know if there's a separate setting for this, or perhaps a missing dependency in the cmake target for ompd?

[2022-03-28 18:43] s-sajid-ali commented on #29751
The recipe for `ompd` has the following includes:
[code]
per [`openmp/libompd/src/CMakeLists.txt`](https://github.com/llvm/llvm-project/blob/main/openmp/libompd/src/CMakeLists.txt).

Now, `LIBOMP_INCLUDE_DIR` is set in [`openmp/runtime/src/CMakeLists.txt`](https://github.com/llvm/llvm-project/blob/main/openmp/runtime/src/CMakeLists.txt) to be only that directory (via `CMAKE_CURRENT_BINARY_DIR`) an

[2022-03-28 18:45] trws commented on #29751
Sounds right to me, we can certainly include a patch for this, but it needs to be reported as a bug upstream on LLVM as well.

[2022-03-28 19:51] certik commented on #29735
I can confirm that `--target=arm64-apple-macos11 -mcpu=apple-m1` works:
[code]

[2022-03-28 19:56] certik commented on #29735
@trws, do you see any issues with me setting `SPACK_TARGET_ARGS: ""` for the default Clang on M1? It seems that Clang will still optimize for the CPU, correct?

[2022-03-28 20:47] sleak-lbl commented on #24480
I'd like to upvote this .. at NERSC we have a centralized Spack instance with config so that user-specific stuff mostly goes into the user's $HOME. If we could configure a default location for named environments, our users could do `spack env create my-environment` and `spack env activate my-environment` without needing to manually track which directory they need to be working in

[2022-03-28 20:50] trws commented on #29735
That's perfectly fine to get to a functional compile, but as to optimization it will not. It will compile to the least-common-denominator aarch64 target.  There's more information in the archspec issue, but you really want to have the `-mcpu` on there if you want best performance out of it. This is actually true for arm targets on all compilers, nobody should be using march for arm targets is my u

[2022-03-28 21:17] elfprince13 commented on #29706
@scheibelp - Please note that #29749 is only a partial fix. There are several packages whose URLs needed to be canonicalized from the common GitHub/GitLab/Bitbucket style to `ssh://` style, addressed in #29754.

[2022-03-28 21:25] scheibelp commented on #29706
Apparently this should be reopened pending https://github.com/spack/spack/pull/29754

[2022-03-28 21:49] scheibelp commented on #29706
https://github.com/spack/spack/pull/29754 is now merged.

[2022-03-28 21:49] #29706 closed, assigned to scheibelp, johnwparent

[2022-03-28 22:34] climbfuji commented on #29308
@adamjstewart I ran into this again. Here is the full output when trying to install pkgconfig with a Python that was installed via spack:
[code]
This content is identical to what is in file ` /home/ec2-user/sandpit/spack-stack/cache/build_stage/spack-stage-py-pkgconfig-1.5.5-hpunqjarrjn4g7sziv7dulisuu3n7l2f/spack-build-out.txt`.

[2022-03-29 02:24] climbfuji commented on #29308
@adamjstewart FYI, I also got the problem when I used a Python 3.9 version that was installed via yum (both tests were on a Redhat8 linux box, but I've seen this on many other systems, including MSU Orion, RDHPC Hera, ...
[code]

[2022-03-29 03:28] adamjstewart commented on #29750
I still haven't managed to get `py-onnx` to build so I'm not sure how much I can help to debug this. Never seen this kind of error before, weird.

[2022-03-29 03:32] adamjstewart commented on #29308
I'm still unable to reproduce this on any system I have access to. Can you provide a Dockerfile to reproduce this?

[2022-03-29 10:46] haampie commented on #19365
@ax3l / @scheibelp , can we move on here?

- Get @wyphan's PR in that renames `cuda` -> `cuda-toolkit` and makes `cuda` virtual.
- I think `nvhpc` can provide `cuda` unconditionally, doesn't need this `+cuda` toggle, since the variant changes nothing to how the package is installed, and with packages of 16GB+ it's very annoying if Spack doesn't pick up what you've installed already.
- Have `nvhpc`

[2022-03-29 11:34] iarspider commented on #29750
I think it has to do with line endings (CRLF vs LF), and the fact that they force `core.autocrlf` to `auto` (https://github.com/microsoft/onnxruntime/blob/master/.gitattribute) which can't be overriden.

So, I see two solutions: adding `git reset --hard` step between clone and checkout, or loosening the requirement of `git >= 1.8.5.2` for cloning a tag to `>= 1.8.3.1` (git on CentOS 7, ability to

[2022-03-29 14:15] srekolam commented on #24430
this is corrected with the latest changes to the recipe

[2022-03-29 14:15] #24430 closed, assigned to srekolam

[2022-03-29 14:41] adamjstewart commented on #29750
We can't use a tarball, right? It has to be checked out from git?

[2022-03-29 15:32] fspiga commented on #19365
I would like to check internally this first.

[2022-03-30 08:06] alalazo commented on #29729
Version specifications in the packages section are soft-preferences, which are not enforced if Spack consider the penalty of having to use `openmpi@3.1.6` greater than the benefit of considering `openmpi@3.1.6` the preferred `openmpi` version. If you want to enforce the use of that `openmpi` version you should specify it in the spec literals.

If you can use:
[code]
you just need to add `openmpi@3

[2022-03-30 10:08] tmadlener opened #29789 "Installation issue: py-cmake fails to build on Ubuntu"
### Steps to reproduce the issue

Trying to install the following
[code]

(NOTE that all dependencies marked as uninstalled above are available as externals)

### Error message

<details><summary>Error message</summary>

[code]
</details>

### Information on your system

[code]

### Additional information

Checking the `spack-build-out.txt` refuses to download the source tarball for cmake:
[code]

[2022-03-30 10:15] alalazo commented on #27902
I could reproduce this with `zlib` using the same pattern as in the description.

[2022-03-30 11:26] jmansour commented on #29729
Okay. Thanks for the reply.

Just wondering why is it set up this way? Seems counter-intuitive to me. Does this also explain why my compiler specifications were sometimes being ignored?

What I'm trying to achieve here is an environment description that allows me to specify a bunch of specs minimally, and then simply state (within the `packages` config perhaps) which dependencies I'd like to expli

[2022-03-30 12:19] #27902 closed, assigned to RikkiButler20

[2022-03-30 12:49] eschnett opened #29795 "Don't use `assert` in Spack"
### Steps to reproduce

The file [`util/url.py`](https://github.com/spack/spack/blob/58a32b04d90da7d2edc4388e78feb84abe8fb089/lib/spack/spack/util/url.py#L347) contains an `assert` statement. If it triggers, then no meaningful error message is generated. Instead, Spack just aborts.

This is triggered when using a URL with an unknown prefix. I encountered this when debugging why CVS repositories do

[2022-03-30 15:23] alalazo commented on #29729
You can use the [spec matrix](https://spack.readthedocs.io/en/latest/environments.html#spec-matrices) syntax in a `spack.yaml` file if you want to encode in a compact way the construction of multiple specs. For instance:
[code]

[2022-03-30 17:06] lrtfm commented on #28196
Using gcc built with binutils-2.38 solve this problem.

[2022-03-30 17:06] #28196 closed, assigned to nobody

[2022-03-30 19:14] adamjstewart commented on #29789
@ax3l @chuckatkins any idea how to solve this?

[2022-03-30 22:26] ax3l commented on #22918
@tgamblin I see all packages on Fugaku being build with `-O2` these days, because they keep the Spack default.

[2022-03-30 22:42] ax3l commented on #22918
@chuckatkins Do you like to talk to Brad to revisit https://gitlab.kitware.com/cmake/cmake/-/merge_requests/591 using a CMake `policy` for the change?

[2022-03-30 23:08] ax3l opened #29808 "Installation issue: py-scipy on Apple M1"
### Steps to reproduce the issue

[code]

[code]

### Error message

<details>

[code]
</details>

### Information on your system

* **Spack:** 0.18.0.dev0 (7cfe626e21795f0a4bfe61f36ca1b48ffd2fc961)
* **Python:** 3.9.7
* **Platform:** darwin-bigsur-m1
* **Concretizer:** clingo

### Additional information

* [spack-build-01-install-out.txt](https://github.com/spack/spack/files/8384695/spack-build-0

[2022-03-30 23:09] ax3l commented on #29808
[code]
@adamjstewart @rgommers

[2022-03-30 23:13] ax3l commented on #29789
I thought I fixed that in #28760

[2022-03-30 23:16] ax3l commented on #29789
Ah, but there is more:
https://github.com/scikit-build/cmake-python-distributions/blob/a95cc20c0ec3c3c1d0db516e90ba8a5a2895deb8/CMakeLists.txt#L127-L131

[2022-03-30 23:25] ax3l commented on #29789
Maybe we can try this: https://github.com/scikit-build/cmake-python-distributions/issues/172#issuecomment-890322263
[code]

But we already set `CMakeProject_SOURCE_DIR`, which should be equivalent...
https://github.com/spack/spack/pull/28760#issuecomment-1029362288

[2022-03-30 23:54] jmansour commented on #29729
Unfortunately spec matrices don't really map to my use case, as not all the specs require MPI.

In any case, it's fine, it's more a nice to have than a necessity.

I'll close this issue. Thanks again for your help.

[2022-03-30 23:54] #29729 closed, assigned to nobody

[2022-03-31 01:39] #27976 closed, assigned to RikkiButler20

[2022-03-31 02:29] longlong10086 commented on #16936
Encountered the same error, do you have a solution now?

[2022-03-31 08:36] mdorier opened #29811 "spack external add"
### Summary

The `spack external add` subcommand would be used to add an external package to packages.yaml or to an environment's yaml file (or any other scope via its `--scope` parameter) via the command line instead of editing the yaml file manually.

Contrary to `spack external find`, this command would not be restricted to packages that are "detectable" (ie. not just those in listed `spack ext

[2022-03-31 09:16] rgommers commented on #29808
The build log is a little odd in that all the "errors" identified are just warnings. But I don't think that's it. Looking at the concretizer output, what jumps out to me is that there's no BLAS or LAPACK library in the dependencies. That looks like a bug. Apple Accelerate is not supported, so OpenBLAS (or MKL or BLIS) is missing here.

[2022-03-31 09:23] rgommers commented on #29808
Looking at this: https://github.com/spack/spack/blob/93377942d17d356aaae793c5d665a3e48ab7649e/var/spack/repos/builtin/packages/py-scipy/package.py#L79-L82

The link in that note is outdated, but it does illustrate the problem: NumPy is built with Accelerate, and SciPy does not support Accelerate.

For context: Accelerate was dropped years ago by both NumPy and SciPy (see https://github.com/scipy/s

[2022-03-31 11:07] rgommers commented on #29808
Or maybe a better fix is to add `conflicts('veclibfort')` to the SciPy recipe? Can be done either way, even if the numpy default is changed.

[2022-03-31 14:49] adamjstewart commented on #29808
I think an even better fix would be to declare that `veclibfort` provides LAPACK 3.2.0 but `py-scipy` requires LAPACK 3.4.1+.

[2022-03-31 14:52] elfprince13 opened #29815 "Add $arch placeholder to spack.util.path.substitute_config_variables"
### Summary

I would like to be able to have [included configurations](https://spack.readthedocs.io/en/latest/environments.html#included-configurations) in my YAML resolve to platform specific paths, e.g. something like `linux-ubuntu20.04-skylake_avx512/`.

### Rationale

The current implementation of platform-specific configuration scopes as described [in the docs](https://spack.readthedocs.io/en

[2022-03-31 15:04] adamjstewart commented on #29811
`spack compiler add` and `spack compiler find` are aliases of each other, I don't think it would be a good idea to give `spack external add` and `spack external find` different behavior.

[2022-03-31 15:09] tmadlener commented on #29447
This seems to happen even outside of environments, staying with the podio example:

`spack install --test=root podio` seems to work and install podio, but the tests are not run

On the other hand

`spack dev-build --test=root podio@master` runs into the problem that catch2 is not in the build environment and podio fails at the cmake stage.

[2022-03-31 15:13] mdorier commented on #29811
Good point, but it could be another name then.

[2022-03-31 15:34] rgommers commented on #29808
Ah yes, if the `lapack` dependency has versions, that sounds like a great idea. I just didn't consider that that version existed, because it doesn't in most other packaging systems. E.g., OpenBLAS will "provide LAPACK" but only have version `0.3.17`, and not an associated LAPACK version.

[2022-03-31 15:35] alalazo commented on #29811
Personal opinion, but I'd not be keen on giving users handles to defy more easily Spack software model (externals right now are essentially that). The rationale is that I think we should go in the direction of having externals which are detected as concrete specs with dependencies and automatically registered in the DB, since that would allow us to treat externals and other sources of already buil

[2022-03-31 15:45] mdorier commented on #29811
I'm working on some machines on which the admins do add and remove modules somewhat frequently. If I don't touch a project for a couple of months on these machines, I can expect my spack.yaml file to be outdated, and my installation script to break the next time I try building things. Hence my attempt to script the detection of modules.

[2022-03-31 15:55] alalazo commented on #29811
How do you get the module names? In your example you have:
[code]
and I assume in the script the literals `something/1.2.3` and `comp/4.5.6` are computed somehow (otherwise you have to edit the script which is the same effort as editing the `spack.yaml`). What I was wondering is if a template `spack.yaml` can serve the same purpose (think of Jinja2 as an example that comes bundled with Spack, but

[2022-03-31 18:51] adamjstewart commented on #29808
I'm guessing that BLAS/LAPACK are like MPI in the sense that the API is versioned and many different libraries can provide them? If we happen to know which version of BLAS/LAPACK is provided by OpenBLAS and other libraries, we can add this information. If we don't know, we can leave it blank. Btw, what version of BLAS/LAPACK do numpy/scipy require (you already mentioned that scipy needs LAPACK 3.4

[2022-03-31 19:31] rgommers commented on #29808
I don't know what the minimum version for NumPy is; the requirements are a lot lower than for SciPy so in practice any library people are using in practice will do.

[2022-03-31 19:46] jcphill commented on #18535
@matthiasdiener what appears to be happening is that MPICC/MPICXX are being accessed not only when building Charm++ for MPI, but also by charmc when building a program (e.g., NAMD) that **uses** Charm++ built for MPI.

The root of the problem is that Charm++ expects that MPICC/MPICXX will have the same values when building Charm++ and when using it, and it will also attempt to rewrite its include/

[2022-04-01 03:28] wyphan commented on #29350
I can confirm the same issue also happens with `llvm@14.0.0`.

[2022-04-01 08:08] csbnw opened #29830 "tcl configuration no longer working after commit e72f87ec"
### Steps to reproduce

First, set up a clean Spack environment:
[code]

Next create an environment with a package (`git` in this case) with some desired configuration:
[code]

Note the last part of the `spack.yaml` file. The intention is to have environment-module files with names like `gcc/11.2.1/<package>`, such that we have separate 'stacks' of packages using the same compiler version.

Moreov

[2022-04-01 08:46] mdorier commented on #29811
Good point. My thought process was that `spack external find` either fails because the package has no detection procedure, or gives a prefix-based answer once the module is loaded, which is not ideal when the module requires other modules or does something else in addition to setting PATH. I thought having a functionalities that allowed me to provide `--modules` would solve this: no need for detec

[2022-04-01 09:13] haampie commented on #29830
Add `default:` to your module sets, because `etc/defaults/modules.yaml` specifies `modules:default:tcl:...` which takes precedence over `modules:tcl:...`. #28659 should fix this but has been open for months now :( ping @becker33

[code]

[2022-04-01 10:17] tz-rrze opened #29833 "LAMMPS with OpenMP support"
### Steps to reproduce

With the Stable release 29 September 2021, the LAMMPS developers reorganized many packages. This included the rename of USER-OMP to OPENMP.
According to https://docs.lammps.org/stable/Build_extras.html#openmp, one now has to define `PKG_OPENMP=yes` for OpenMP support. The package.py of LAMMPS still has `user-omp` in the list of supported packages and only sets `BUILD_OMP` f

[2022-04-01 10:49] csbnw commented on #29830
Awesome, adding the `default:` works just fine!

Without the `default:`, your `hs/deprecate-top-level-module-config` branch also works correctly.

I am fine with using this workaround for now, such that I can keep using the `develop` branch.

How about linking this issue to https://github.com/spack/spack/pull/28659, and closing/resolving this issue (#29830) once #28659 is merged? This behavior is

[2022-04-01 11:33] haampie commented on #29830
Yeah, sounds good. I'm hoping we can get #28659 merged soon...

[2022-04-01 15:08] bartlettroscoe opened #29837 "Support `--no-checksum` on a package-by-package basis"
### Summary

I would be great to extend Spack to support `--no-checksum` on a package-by-package basis so that users could remove or add checksum checking on specific packages.  One idea would be to use a `no-checksum` variant like:

[code]

such as with a release of Spack (e.g. v0.17.1) that does not list the version `3.23.0` in the `cmake/package.py` file.

(Other interface knobs are possible as

[2022-04-01 15:13] bartlettroscoe commented on #29837
NOTE: Another user had the same question/request on March 28 in Slack:

* https://spackpm.slack.com/archives/C5VL7V81G/p1648471813142149

[2022-04-01 17:08] wyphan commented on #28224
Per https://github.com/TACC/Lmod/issues/554#issuecomment-1040575160 , I believe 8.6.13 onwards fully supports Spack's shell script, can you test again?

Also, https://github.com/TACC/Lmod/issues/567 will enable Spack shell completion features.

[2022-04-01 17:20] hyoklee opened #29839 "[Q] Modify the existing py-or-tools package or create a new or-tools package?"
Hi,

  I'd like to improve Google OR-Tools support by either modifying [py-or-tools](https://github.com/spack/spack/tree/develop/var/spack/repos/builtin/packages/py-or-tools)  package or creating a new one called [or-tools](https://github.com/hyoklee/spack/tree/develop/var/spack/repos/builtin/packages/or-tools). However, I don't know what's  the best for Spack maintainers and users so I'd apprecia

[2022-04-01 17:36] hainest commented on #6995
With https://github.com/spack/spack/pull/28623, the package is header-only by default.

[2022-04-01 17:36] #6995 closed

[2022-04-01 21:04] adamjstewart commented on #29839
https://spack.readthedocs.io/en/latest/build_systems/pythonpackage.html#choosing-a-package-name has some guidance on this

[2022-04-01 21:08] adamjstewart commented on #29837
I agree that a flag that only affects a specific package would be useful, but this should not be done with variants. Variants affect the build hash, meaning that if you install `cmake+no-checksum`, then build something that depends on `cmake`, it will start building `cmake~no-checksum` even though that exact installation already exists.

[2022-04-01 21:49] billhoffman commented on #29576
I was able to get it to work with this change:
[code]

[2022-04-01 23:28] climbfuji commented on #29308
I ran in this again on a RedHat8 AWS EC2 instance. I could make that available to you, if that helps.

[2022-04-02 10:38] #29577 closed, assigned to nobody

[2022-04-02 16:01] raullaasner opened #29852 "Fatal error(s) when merging prefixes"
### Steps to reproduce

I have installed some packages with two different compilers:

[code]

I then create an environment and try to install some packages in it:

[code]

However, when I try to install the netcdf-c package I get an error.

### Error message

[code]

I don't understand where the error comes from because I'm unambiguously specifying the library on the command line.

### Information

[2022-04-02 19:19] adamjstewart commented on #29308
Yes, if you could give me access to that instance that would help reproduce this.

[2022-04-02 21:53] haampie commented on #29852
Apparently you have two flavors of hdf5 with a different hash, meaning you're missing `concretization: together` in your spack.yaml (try `spack config edit` with an active environment to edit the file). To see in what way they're different, compare `spack find -v hdf5`.

[2022-04-03 03:01] myan-rarcellino-nnl opened #29859 "Cannot use installed package if the recipe was later deleted"
### Steps to reproduce

#18322  deleted the `uuid` package from the package repo. This seems like an interesting change if a requirement exists that a recipe must exist in the package repo in order to use an installed package. In my test example the general flow is to checkout `v0.16.0`, install `uuid`, checkout `v0.17.0`, and try to use `uuid`.

[code]

Is the expectation that a software stack in

[2022-04-03 09:49] Game4Move78 opened #29860 "Installation issue TX2: LLVM-13"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
==> Installing llvm-13.0.1-tdovhbelzu62vwsu4uujvdwjv26qsmgj                                                                                                                                                                         [190/255]
==> No binary for llvm-13.0.1-tdovhbelzu62vwsu4uujvdwj

[2022-04-03 16:51] adamjstewart commented on #29859
I also often encounter this problem when creating and installing a package on a new branch, then switching back to develop. Luckily my issue is only encountered by developers who know what they're doing, but the issue reported here is much more serious and easily encountered if you follow best practice and update Spack often.

@alalazo @tgamblin

[2022-04-04 08:24] alalazo commented on #29837
Closing this issue since a variant, as explained by @adamjstewart, is not the right way to do this since it affects the hash. Also, two lines in a script doesn't seem to me much worse than a single line (but that is just my opinion).

[2022-04-04 09:49] #18535 closed, assigned to matthiasdiener

[2022-04-04 13:07] raullaasner commented on #29852
Thank you for the comments and especially the `concretization: together` tip! This issue is now solved. I had manually installed `hdf5@1.12.1` whereas `netcdf-c` had built `hdf5@1.12.1+hl` as a dependency which I didn't realize.

[2022-04-04 13:07] #29852 closed, assigned to nobody

[2022-04-04 13:12] haampie commented on #29852
maybe concretization: together is the better default...

[2022-04-04 14:39] behrmann commented on #14098
@alalazo I recently ran into this issue as well, since I want to serve a small fleet of desktops with different microarchitectures from a single spack installation on a NFS share (and `MODULEPATH` set automatically to the directory for the right microarchitecture and only allowing choosing modules from there, i.e. making that the top-level of the hierarchy). Since all microarchitectures are folded

[2022-04-04 15:57] srekolam commented on #29669
i also observed the above issue when trying to do spack install py-tensorflow. if there is workaround it would help

[2022-04-04 16:10] bartlettroscoe commented on #29837
Actually, I might disagree with this.  Having a different hash for a package that is installed with checksum checking and without checksum checking may not be a bad thing.  This would allow for an initial install with `--no-checksum` and then a reinstall with a later version of Spack where that version of cmake/package.py file is updated to list the CMake version and its checksum and users and dow

[2022-04-04 19:30] wspear commented on #27622
When SPACK_DISABLE_LOCAL_CONFIG is active no bootstrap copy of compilers.yaml is created at all, as far as I can tell. So bootstrap happens with the wrong environment and there is no way to force a correction. I'm still looking for a workaround.

[2022-04-04 20:09] jordialcaraz opened #29879 "Installation issue: rocprofiler-dev"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
#From rocprof
/storage/users/jalcaraz/spack/opt/spack/linux-ubuntu20.04-broadwell/gcc-9.3.0/rocprofiler-dev-5.0.2-jsnf7o6fsa4sozak2l7hblqppqyni72t/bin/rocprof: line 286: 3998459 Aborted                 (core dumped) "./gpu-stream-hip"

#From TAU
aqlprofile API table load failed: HSA_STATUS_E

[2022-04-04 21:37] climbfuji opened #29881 "Bash: messed up display for long lines when terminal prompt is colorized"
### Steps to reproduce

I am using macOS (Monterey) with bash 5.1.16 installed via homebrew (but same results of I use the native macOS bash). When I use ``spack env activate -p ...`, the display is messed up. A good description for my problem is here:

https://unix.stackexchange.com/questions/389008/bash-messed-up-display-for-long-lines

The solution is in the first answer:

I tried this solution

[2022-04-04 23:30] svenevs commented on #29196
[code]

Closing as a result.  Guess I'll have to figure out a way to get spack environments to play well with lmod.

[2022-04-04 23:30] #29196 closed, assigned to nobody

[2022-04-04 23:32] svenevs commented on #10958
Closing as no longer relevant / outdated.

[2022-04-04 23:32] #10958 closed

[2022-04-04 23:33] svenevs commented on #19879
Closing as no longer relevant / outdated.

[2022-04-04 23:33] #19879 closed, assigned to nobody

[2022-04-04 23:34] svenevs commented on #14298
Closing as no longer relevant / outdated.

[2022-04-04 23:34] #14298 closed

[2022-04-04 23:40] svenevs commented on #11227
Closing as stale

https://github.com/spack/spack/blob/d64de54ebe83853694e30e562b7f9edc996ccd2d/var/spack/repos/builtin/packages/llvm/package.py#L32

LLVM now sets `ninja` as the generator.  The package overwrites `generator`, if spack decides to enable users to choose their own cmake generator then packages can be unified.

[2022-04-04 23:40] #11227 closed

[2022-04-05 08:31] v-dobrev opened #29888 "The package `llvm-amdgpu` sets `CFLAGS` and `CXXFLAGS` which overrides defaults in some packages"
The flags are set here:
https://github.com/spack/spack/blob/b2717a8abf02e580898f746bfe763072fc0139c1/var/spack/repos/builtin/packages/llvm-amdgpu/package.py#L118-L119

In particular, this results in some packages being built without optimization when `+rocm` is enabled. Examples of such packages are `hypre`, `petsc`, and `mfem`.

[2022-04-05 08:37] haampie commented on #29888
That looks like a really poor way to handle this. Should be part of pkgconfig / cmake config files, not a global override.

[2022-04-05 11:33] robertu94 opened #29893 "Model the standard library for providers of C++"
### Summary

There should be some way of asking if `gdb+python ^ libstdc++` regardless if clang or gcc was used (or any other compiler for that matter that can use libstdc++).

### Rationale

GCC's libstdc++ provides a set of debugging modules (pretty printers) for GDB.  These work with any compiler that builds with libstdc++ (i.e. clang also works).  If/when language dependencies such as c++ are

[2022-04-05 15:12] haampie opened #29899 "Dealing with autotools and %nvhpc"
`libtool` doesn't know about `nvc`, `nvc++`, `nvfortran`, only about PGI compilers, and as a result doesn't know how to set some flags for these compilers, in particular `pic`-related ones:

https://git.savannah.gnu.org/cgit/libtool.git/tree/m4/libtool.m4#n4740

A patch was submitted in August 2020 https://www.mail-archive.com/libtool-patches@gnu.org/msg07391.html but this was ignored.

Some packa

[2022-04-05 15:16] raffenet commented on #29899
We ended up reverting https://github.com/pmodels/mpich/commit/6ff2ed15b47d5b5c21aabfab75240ed15b4af41a and re-applying it with some modifications in https://github.com/pmodels/mpich/pull/5767. I believe the patch that was posted to the libtool list incorrect.

[2022-04-05 15:22] teojgo commented on #29899
I could compile mpich 4.0.1 using nvhpc so the patch included in that branch should be fine.

[2022-04-05 18:27] fdeponte opened #29907 "Spack unable to parse miniconda3 URLs out of the box"
### Steps to reproduce

[rmladmin@ai-rmlsbatch1 ~]$ spack versions miniconda3
==> Safe versions (already checksummed):
  4.8.2  4.7.12.1  4.6.14  4.5.11  4.5.4  4.3.30  4.3.14  4.3.11
==> Remote versions (not yet checksummed):
==> Error: Couldn't detect version in: https://repo.anaconda.com/miniconda/Miniconda3-py38_4.8.2-Linux-x86_64.sh

### Error message

==> Safe versions (already checksummed):

[2022-04-05 20:14] samcmill commented on #29899
Wouldn't a less invasive approach be something like:

[code]

[2022-04-06 02:36] amklinv-nnl opened #29909 "Installation issue: pcre"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
klinalic@nid002036:~> spack install -j1 pcre@8.45%gcc@11.2.0~jit+multibyte+utf
==> Installing pcre-8.45-exnf7tk5dedfitblojnugkrmogjuzzeq
==> No binary for pcre-8.45-exnf7tk5dedfitblojnugkrmogjuzzeq found: installing from source
==> Using cached archive: /pscratch/sd/k/klinalic/sw/spackcache/

[2022-04-06 06:11] sleak-lbl commented on #29909
for some extra context: libfabric is available in the environment via `module load libfabric` .. and `packages.yaml` specifies that it is needed by `mpich` (which is an external package pointing at cray-mpich). We're using Lmod, and I suspect this is a case of Spack not parsing the Lua modulefile to get the libfabric path:

[code]

A way to set multiple prefixes for an external package, might miti

[2022-04-06 06:20] sleak-lbl commented on #29909
actually, pcre doesn't depend on mpi, so I'm not sure why it is causing an error here. Pasting the command from spack-build-out.txt, as a standalone command, does not hit this error

[2022-04-06 07:49] vvolkl opened #29910 "spack buildcache not working with custom S3_ENDPOINT_URL"
### Steps to reproduce

When using a buildcache on a custom s3 mirror

[code]
the following assert is triggered ( url is apparently set to $S3_ENDPOINT_URL;  it works fine with the patch below)
[code]

### Error message

[code]

### Information on your system

* **Spack:** 0.18.0.dev0 (558f7f007ecd76408e060b148b4255cc025506f9)
* **Python:** 3.8.10
* **Platform:** linux-ubuntu20.04-skylake
* **Conc

[2022-04-06 08:59] tkameyama commented on #29899
AutotoolsPackage is patched libtool after configure for some compilers (#12004 and #18620).

[2022-04-06 10:32] haampie commented on #29899
Thanks @tkameyama, that's helpful

[2022-04-06 10:42] haampie opened #29915 "provides should provide the union, not the intersection"
### Steps to reproduce

Given a package with multiple `provides(...)` statements for the same virtual, I expect what is provided to be the union of those, not the intersection.

But Spack seems to take the intersection. For example: I expect `pkgb+separate` and `pkgb~separate` to be equivalent:

[code]

But they're not:

[code]

[2022-04-06 11:05] healther commented on #28183
Do we have a solution for this? I'm running into this with an anaconda provided python...

[2022-04-06 16:20] wyphan commented on #29350
Summoning @scheibelp

[2022-04-06 16:22] wyphan commented on #29115
Summoning @scheibelp

[2022-04-06 17:24] mcuma opened #29925 "PETSc build error with intel-oneapi-mkl, gcc and openmpi"
### Steps to reproduce the issue

[code]

[2022-04-07 00:54] kgerheiser opened #29930 "External package not always being used resulting in same package being concretized differently"
### Steps to reproduce

I'm seeing some strange differences in concretization where a package is being concretized differently. The only difference being an external `pkg-config`. Sometimes the external `pkg-config` is used and for other packages `pkgconf` is being built from scratch resulting in the same packages being built twice with different hashes.

I was able to reduce this behavior with a

[2022-04-07 05:53] zidarko commented on #27063
Bug is till present.

1. Error message:

[code]

2. Information on the system:

[code]

[code]

[2022-04-07 07:58] alalazo commented on #29201
Reproduced using Spack at cd0b6b90881126c73f050ba3b29e0cc570827f10 using `libpng`:
[code]

[2022-04-07 09:49] dmentock opened #29938 "Installation issue: openssh"
### Steps to reproduce the issue

The current user is part of the group `my_group`:
[code]

### Error message

[code]

### Information on your system

[code]

### Additional information

[spack-build-03-build-out.txt](https://github.com/spack/spack/files/8441673/spack-build-03-build-out.txt)
[spack-build-env.txt](https://github.com/spack/spack/files/8441684/spack-build-env.txt)

@bernhardkaindl

#

[2022-04-07 12:52] #29899 closed, assigned to nobody

[2022-04-07 15:44] raffenet commented on #25893
@rscohn2 @wspear I am also interested in this feature. We depend on Level Zero for certain configurations in MPICH. Is there any recommended way to include it as a dependency?

[2022-04-07 17:20] alalazo opened #29947 "Traversing specs in the root direction doesn't work if an environment is not loaded from spack.lock"
### Steps to reproduce

Using this environment:
[code]
and this simple `script.py`:
[code]
shows a lot less specs than expected if a `spack.lock` is not present. With a `spack.lock` the result is correct.

### Error message

This is the result we get:
[code]
The error is that, when we concretize the specs separately in memory we have separate Python objects for specs which share the same hash. Tha

[2022-04-07 17:46] marvinbernhardt commented on #26801
I had the same issue with `target=`. For my case first installing the dependencies with `--only dependencies` and then using `spack install --reuse` worked.

Edit: Ok, not always :/. It even seems non-deterministic.

[2022-04-07 19:47] zzzoom opened #29951 "Installation issue: blis %nvhpc"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>

</pre></details>

### Information on your system

* **Spack:** 0.18.0.dev0 (a7e365536be06c0af6cd91feb05aeb7b5de13fe3)
* **Python:** 3.6.8
* **Platform:** linux-rocky8-sandybridge
* **Concretizer:** clingo

### Additional information

[spack-build-out.txt](https://github.com/spack/spack/file

[2022-04-07 19:53] zzzoom commented on #29951
BLIS has a `make_defs.mk` file that defines compiler flags for each of its ~30 supported architectures. From a quick glance, gcc and clang are supported on most architectures, icc is supported for Intel, and aocc is supported for AMD.
Adding the whole arch:compilers map to spack's package is probably out of the question, but `nvc` isn't supported at all.

[2022-04-07 21:01] scheibelp commented on #29115
I agree with https://github.com/spack/spack/issues/29115#issuecomment-1047398769: This seems like an issue with Python specifically and not Spack: i.e. the Python build needs to update in order to make use of `%aocc`. If you're able to use a different compiler to build Python on this system, then adding a `conflicts` would help the concretizer avoid `%aocc` automatically (you can still use `%aocc`

[2022-04-07 21:24] haampie commented on #29951
Please make an issue at their repo requesting support

[2022-04-07 21:24] #29951 closed, assigned to nobody

[2022-04-07 21:45] rscohn2 commented on #25893
The only thing I know is to tell them to install the packages manually https://dgpu-docs.intel.com/technologies/level-zero.html

It would be great to have a spack package that builds level zero from source. When I looked at building from source, I believe that level zero needs igc, and igc needs llvm, and I wasn't clear if a generic llvm was ok.

[2022-04-07 21:50] wspear commented on #25893
I haven't tested it recently but I believe @rschon2's experimental external level zero package is on the right track, if you are bringing in your other level-zero components as externals.  https://github.com/rscohn2/spack/blob/dev/level-zero-external/var/spack/repos/builtin/packages/level-zero-external/package.py  Additional testing and turning it into a pull request for spack proper might be wort

[2022-04-08 04:49] hainest opened #29960 "Overriding local configuration on multiarch, shared filesystems"
### Summary

@rmadamson @tldahlgren @shahzebsiddiqui @sameershende @wspear @jfinney10

Shared filesystems at facilities with a variety of machines with different architectures leads to needing to install software through spack that supports multiple architectures from a single filesystem layout. Normally, this is quite straightforward as spack delineates packages by architecture/compiler/etc. and

[2022-04-08 07:29] AliE89 opened #29961 "Cannot install pkg-1.8.0"
### Steps to reproduce

Hello, I am trying to install gcc@10.2.0 in this simple way:

./spack install gcc@10.2.0

### Error message

==> Installing pkgconf-1.8.0-jbmkldp2jjx6ifcmhykouce3dppplasg
==> No binary for pkgconf-1.8.0-jbmkldp2jjx6ifcmhykouce3dppplasg found: installing from source
==> Using cached archive: /home/edo/software/spack/var/spack/cache/_source-cache/archive/ef/ef9c7e61822b7cb835

[2022-04-08 07:36] haampie commented on #29961
you're missing `xz`: https://spack.readthedocs.io/en/latest/getting_started.html#system-prerequisites

[2022-04-08 07:43] AliE89 commented on #29961
Thanks, i'll try again this evening 😀

Il Ven 8 Apr 2022, 08:36 Harmen Stoppels ***@***.***> ha
scritto:

[2022-04-08 11:36] marvinbernhardt commented on #15194
This is old and I can't reproduce it i think.

[2022-04-08 11:36] #15194 closed

[2022-04-08 11:49] marvinbernhardt commented on #25017
given that #28623 is now merged: is there a (grep?) command or similar to use to find out which boost libraries are needed given the source files?

[2022-04-08 13:14] marvinbernhardt commented on #25017
For example something like this?
`grep -he 'boost::[a-zA-Z_]*::' **/*.{c,cc,cpp,h} | cut -d ':' -f 3 | sort | uniq`
But for example in votca it will find things like `algorithm` or `bitmaps` and those are not in the list of variants?!

[2022-04-08 16:11] hainest commented on #25017
Variants represent components that require compilation/installation as opposed to being header-only. The composable model makes header-only components available by default. It should be noted that Boost deprecates/removes components and changes which ones require compilation over time. As such, it is critically important to either freeze your Boost version or frequently test your spack package wit

[2022-04-08 16:18] marvinbernhardt commented on #25017
Thanks for clarification.

How is it, will soon many users of the above packages find that they are missing a shared boost library at run time?

[2022-04-08 16:41] hainest commented on #25017
The packages that depend on boost but do not specify any variants have been updated to use 'Boost.with_default_values'. For example,

    depends_on('boost')
    depends_on(Boost.with_default_values)

I am not in favor of this approach, but it has been merged into develop as of #28959. With this change, packages that `depends_on('boost')` will continue to work without modification. This should be

[2022-04-08 18:16] pbrady opened #29974 "Installation issue: chaco on with apple-clang@12:"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>

           tage-chaco-2020-07-16-pq6dhovfy4dswevyeattwcadfrcqltar/spack-src/code/co
           arsen/makecgraph.c:200:2: error: implicit declaration of function 'makec
           coords' is invalid in C99 [-Werror,-Wimplicit-function-declaration]
</pre></details>

### Information on your sy

[2022-04-08 18:38] pbrady opened #29976 "Installation issue: scorpio error with apple-clang@12:"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>

           tage-scorpio-2021-12-10-mixlwanqdz2tcdaesj53ublagyg7viwr/spack-src/src/s
           corpioftn.c:240:10: error: implicit declaration of function 'scorpio_wri
           te_dataset_block' is invalid in C99 [-Werror,-Wimplicit-function-declara
           tion]
</pre></details>

###

[2022-04-08 19:00] #29830 closed, assigned to nobody

[2022-04-08 20:27] pbrady opened #29979 "Installation issue: openblas with nag on macos"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
==> Installing openblas-0.3.20-kagcjjhgnzfylqlw4epc63yoyo3v4q3o
==> No binary for openblas-0.3.20-kagcjjhgnzfylqlw4epc63yoyo3v4q3o found: installing from source
==> Fetching https://mirror.spack.io/_source-cache/archive/84/8495c9affc536253648e942908e88e097f2ec7753ede55aca52e5dead3029e3c.tar.

[2022-04-08 20:31] pbrady commented on #29979
I had a similar issue a while back with openmpi.  The root cause was the semi-case-insensitive nature of macos interfering with nag's preprocessor logic.  Traditionally `.f90` files are not meant be preprocessed whereas `.F90` files are.

[2022-04-08 20:53] pbrady commented on #29979
I added a `FFLAGS=-fpp` and things progressed to a different error:

[code]
That flag isn't set in `package.py` so this is probably an upstream bug

[2022-04-08 21:26] #29947 closed, assigned to alalazo

[2022-04-09 12:03] spiani opened #29984 "Installation issue: cannot import get_makefile_filename when bootstraping clingo"
### Steps to reproduce the issue

When I try to install any package, spack tries to install Clingo but, after having compiled all its dependencies, it fails with the following error:

[code]

These are the packages that have been installed before by spack during the bootstraping phase:

[code]
Please, ignore the packages that are not for ppc64le because they come from another installation of spack

[2022-04-09 12:11] haampie commented on #29984
You need git. @alalazo/@tgamblin: our bootstrapping has way too many system requirements :( git should not be a requirement.

An arm / ppc version of https://github.com/eth-cscs/spack-batteries-included would be a nice idea to make spack instantly usable on ancient systems, maybe I can try something with qemu at some point...

[2022-04-09 12:20] spiani commented on #29984
Thank you very much! I was aware that git was missing (reading the prerequisites from [this page](https://spack.readthedocs.io/en/latest/getting_started.html)) but I haven't realized that that was the problem.

I will now try to compile git and I will let you know if this solves the problem. Thank you again!

[2022-04-09 13:00] alalazo commented on #29984
If you could compile Python 3.6 or greater[^1], then the bootstrapping procedure should be much easier. What happens is that Spack cannot find a binary in our buildcache to support Python 2.7 on `ppc64le` and therefore falls back trying to compile `clingo`.

[^1]: We adopt the same level of support as the `manylinux` project

[2022-04-09 19:17] spiani commented on #29984
Ok, thank you very much, issue solved!

Let me add a few more details in case somebody else get the same problem: after compiling git, the error was still there because I forgot to compile git with openssl. In that case, the error was the same but there was also a new line with the text: "remote-https is not a valid git command".

After having recompiled git with openssl, I haven't had this proble

[2022-04-09 19:17] #29984 closed, assigned to nobody

[2022-04-09 19:40] MarDiehl commented on #26836
works now

[2022-04-09 19:40] #26836 closed, assigned to nobody

[2022-04-10 01:36] trws commented on #25017
Yeah, none of us are happy about using the with default values stuff, and have put significant work into detecting variants for a lot of packages (there is another or coming with more). That said, there are quite a few that didn't give us actionable results, because they either just didn't build or wouldn't build with detected subsets or similar. The goal is to get all of this fully specified.

[2022-04-10 04:07] cpraveen opened #29990 "clingo fails to install on macos M1: fails at perl"
### Steps to reproduce

I am not able to bootstrap clingo

[code]

### Error message

[code]

### Information on your system

* **Spack:** 0.18.0.dev0 (7893be7712ed709f6136ac83f49afc3d718d5ddc)
* **Python:** 3.9.10
* **Platform:** darwin-monterey-m1
* **Concretizer:** clingo

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I ha

[2022-04-10 09:26] MarDiehl opened #29993 "Installation issue: intel-oneapi-compilers with intel-oneapi-mpi: MPI for C++ not working"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Relevant part of `configure.log` from PETSc</summary><pre>
Error testing C++ compiler: Cannot compile Cxx
</pre></details>

Spacks error message is rather generic
<details><summary>Spacks error message</summary><pre>
==> Installing petsc-3.17.0-y7mv43zfbzkfoar3qyva2ehoei4ivjlw
==> No binary for petsc-3.17.0-y7mv43zfbzkf

[2022-04-10 09:54] MarDiehl opened #29994 "Installation issue: mesa - cannot convert llvm::Value*' to 'llvm::Type"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>cannot convert 'llvm::Value*' to 'llvm::Type*'</summary><pre>
==> Installing mesa-21.3.7-42gvlyyyg5ju5ghbmpojojelgusg7ru3
==> No binary for mesa-21.3.7-42gvlyyyg5ju5ghbmpojojelgusg7ru3 found: installing from source
==> Using cached archive: /opt/spack/var/spack/cache/_source-cache/archive/b4/b4fa9db7aa61bf209ef0b40bef83

[2022-04-10 09:56] MarDiehl commented on #29993
[spack-build-env.txt](https://github.com/spack/spack/files/8458711/spack-build-env.txt)

[2022-04-10 10:26] varioustoxins commented on #29479
I don't think this is a problem I just want to use gitlab to get things bootstrapped, there is no intention to save large amounts of binary on gitlab in the end.... in fact once the pipeline is up and running I will most probably transfer to a local instance....

So I am trying to follow the spack pipelines tutorial at  https://spack.readthedocs.io/en/latest/pipelines.html (though I have tried som

[2022-04-10 15:10] varioustoxins commented on #29479
ok problem solved I had a spack.yml not a spack.yaml...

thoughts

0. mea culpa that was a runaround for a 1 letter error (never done that before!)
1. error message could be clearer
2. it would be nice if it also accepted a file as an environment
3. maybe spack.yml should be supported as well as spack .yaml as both are common extensions for yaml files

[2022-04-10 16:35] varioustoxins commented on #29479
Hi Scott more problems:  I am having problems with the mirrors bucket being empty

[code]

and it appears I need a mirror...

[code]

does this mean the mirror is out of date, or do I need an access token  or out of sync or do I need to generate my own mirror?

mirror was defined as

mirrors: { "mirror": "s3://spack-public/mirror" }

I had a play around with s3fs and it appears I am lacking creden

[2022-04-10 17:33] varioustoxins commented on #29479
hi Scott so an update, I have the sample script working, my big change was that I changed the mirror that was an s3 bucket and was used to push the results to to a file on the local file system which should disappear once the pipeline is complete? This shouldn't be a problem as I am just trying to prove I have successful builds at the moment... and even in the real cases will want to get to a succ

[2022-04-11 03:11] trws commented on #29576
That's probably a good change in general.

[2022-04-11 03:15] trws commented on #29860
That looks very much like a broken base system without a complete libc, usually this means you lack either the libc6-dev package or the libc6-dev-i386 package on an ubuntu system.

[2022-04-11 03:15] #29860 closed, assigned to nobody

[2022-04-11 07:28] vvolkl commented on #18940
Resolved with new concretizer.

[2022-04-11 07:28] #18940 closed, assigned to nobody

[2022-04-11 07:34] vvolkl commented on #17488
Fixed by https://github.com/spack/spack/pull/23888.

[2022-04-11 07:34] #17488 closed, assigned to nobody

[2022-04-11 07:40] alalazo commented on #29990
Related to #28190

[2022-04-11 08:10] #29976 closed, assigned to nobody

[2022-04-11 08:11] #29974 closed, assigned to nobody

[2022-04-11 08:37] cpraveen commented on #29990
#28190 went beyond perl installation and fails not finding python, but I did not see that in my case.

From the above error message, do you see what is the precise problem in my case ?

homebrew has clingo, is it possible to use that with spack.

[2022-04-11 08:40] alalazo commented on #29990
If it comes with Python bindings yes.

[2022-04-11 08:50] #29115 closed, assigned to nobody

[2022-04-11 13:02] cpraveen commented on #29990
Is there a way to tell spack to use clingo from homebrew.

[2022-04-11 13:06] alalazo commented on #29990
You just need to use a Python interpreter which can successfully:
[code]
to run Spack. If that is the case bootstrapping won't happen, since `clingo` is already functional.

[2022-04-11 13:06] alalazo commented on #29990
Apologies if I can't help more than that, but I have no access to an M1.

[2022-04-11 13:13] cpraveen commented on #29990
Thank you so much, your message helped me to get it working like this. I use python from conda anyway and installing clingo using conda works with spack, without need to bootstrap.

Homebrew had clingo but not the python bindings I suppose.

[2022-04-11 13:31] climbfuji commented on #29308
@adamjstewart I finally got this ready for you to try. I will send you an email.

[2022-04-11 15:31] climbfuji commented on #29910
I am having the same problem when using Travis CI to set up a mirror. It trips over `parsed_url` being `$spack/var/spack/cache` with:
[code]

[2022-04-11 15:35] haampie opened #30004 "%nvhpc does not respect micro arch target"
### Steps to reproduce

nvhpc seems to default to host native compilation :(.

[code]

It should respect the `target` from the spec:

[code]

(Reported by @teojgo)

[2022-04-11 15:58] steo85it opened #30008 "refreshing modules fails (how to fix broken modules?)"
Hi! I messed up some of my module files and I'm looking for ways to regenerate them w/o reinstalling the related spack packages (which would be quite painful). I hoped
[code]
would save me, but it fails with
[code]
Any other suggestions or ideas about what could be wrong with what I'm doing? It's probably something in my own configuration (sysadmins recently moved the folder where my SPACK_ROOT li

[2022-04-11 16:20] simonpintarelli opened #30011 "Installation issue: openssl symlinking system certs"
### Steps to reproduce the issue

[code]

`spack install openssl` fails during the installation phase when it tries to symlink `/etc/ssl/openssl.cnf` to the install directory. I've checked that `/etc/ssl/openssl.cnf` does exist. Why `os.symlink(...)` is failing isn't clear to me.

### Error message

<details><summary>Error message</summary><pre>
==> Installing openssl-1.1.1m-vqkyhwtv4ftkjcwpzyoz35

[2022-04-11 17:27] samcmill commented on #30004
Correct.  The documented default is host native.  Use `-tp` to select the target processor.

Seems like the resolution would be supporting nvhpc in archspec.

[2022-04-11 18:59] haampie commented on #30011
`openssl certs=mozilla` is an alternative that doesn't need symlinks to /etc

[2022-04-11 19:16] alexispaz opened #30016 "Installation issue: py-scipy with amdlibflame and amdblis"
### Steps to reproduce

[code]

[code]

### Error message

[code]

### Information on your system

* **Spack:** 0.18.0.dev0 (f6795ae46d594a9ef2185361a826bd281eda06e0)
* **Python:** 3.6.8
* **Platform:** linux-rocky8-zen2
* **Concretizer:** clingo

Just in case:

[code]

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have sea

[2022-04-12 01:10] climbfuji commented on #29308
@adamjstewart Could reproduce the problem with theAWS EC2 instance I provided. The installation worked fine if Python is built by spack, not used as an external dependency (in this RedHat8 case installed via `yum`).

[2022-04-12 02:43] cpraveen opened #30021 "Installation issue: perl fails to build on M1 Pro"
### Steps to reproduce the issue

[code]
The command I ran
[code]

### Error message

<details><summary>Error message</summary><pre>
==> Installing perl-5.34.1-4sj2mwyciz7cjystlzor6wkoguiv2vph
==> No binary for perl-5.34.1-4sj2mwyciz7cjystlzor6wkoguiv2vph found: installing from source
==> Using cached archive: /Users/praveen/Applications/spack/var/spack/cache/_source-cache/archive/35/357951a491b0b

[2022-04-12 02:53] cpraveen commented on #30021
I see this in error build out
[code]
even though I have unset this variable.

[2022-04-12 03:01] cpraveen commented on #30021
Adding
[code]
in `var/spack/repos/builtin/packages/perl/package.py` helped me to compile perl.

[2022-04-12 03:25] climbfuji opened #30022 "Installation issue: py-scipy 1.8.0 on macOS with gcc+gfortran"
### Steps to reproduce the issue

[code]
See error below.

### Error message

These are warnings, but spack thinks they are errors:
[code]

### Information on your system

* **Spack:** 0.18.0.dev0 (0ba55ed9083177ebbfc48ca1fe10981dd64a61cc)
* **Python:** 3.9.10
* **Platform:** darwin-bigsur-ivybridge
* **Concretizer:** clingo

### Additional information

I had to create additional patches for macOS

[2022-04-12 03:26] climbfuji commented on #30022
@kgerheiser FYI

[2022-04-12 04:25] cpraveen opened #30023 "Installation issue: netlib-scalapack fails on macosx M1 Pro"
### Steps to reproduce the issue

[code]

### Error message

My command is

[code]

<details><summary>Error message</summary><pre>

     4231      "_MPI_Abort", referenced from:
     4232          _BI_BlacsAbort in BI_BlacsAbort.c.o
     4233      "_MPI_Allreduce", referenced from:
     4234          _igsum2d_ in igsum2d_.c.o
     4235          _sgsum2d_ in sgsum2d_.c.o
     4236          _dgsum2d

[2022-04-12 04:38] cpraveen commented on #30023
netlib-scalapack@2.1.0 compiles, so problem is with v2.2.0

[2022-04-12 07:20] rgommers commented on #30022
@climbfuji what NumPy version are you building with? I believe we fixed a `#include <threads.h>` config bug that was backported to numpy 1.22.2 or 1.22.3. And the `__STDC_NO_THREADS__` patching for many Fortran sources indicates that this is an issue with `numpy.f2py`-generated code.

[2022-04-12 07:54] haampie commented on #30004
I think @alalazo can best comment on what is necessary to make that work.

[code]

Would be good to get this to work, since we're facing issues where the build system has a different micro arch than the target system.

[2022-04-12 08:24] danielpalazzo opened #30024 "fatal error(s) when merging prefixes"
Hello,
I am trying to install py-fenics-dolfinx and paraview in a spack environment. I have very little experience with spack, And I am getting the following error:

[code]

What does the error mean? Obviously I have two different linux-ubuntu20.04-sandybridge/gcc-9.4.0/hdf5-1.12.1 packages. But what is their difference, and how can I solve this problem?

System information:
[code]

Thank you for

[2022-04-12 10:12] alalazo commented on #30004
@samcmill @haampie I'll try to fix this asap. Can you point me to:
1. Which flags need to be used for which architectures (if we can use the same flags as GCC just let me know)
2. Restrictions depending on the versions of `nvhpc` (e.g. `icelake` is supported starting from version X)

[2022-04-12 10:44] danielpalazzo commented on #30024
Ok, I found that paraview has a dependency on hdf5+hl, py-fenics-dolfinx on hdf5~hl.

Is there anything I can do about this? It should be possible to have two different hdf5-installations in one environment, for example if they are linked to different names like hdf5_with_hl and hdf5_without_hl. But how do I get this done?

[code]

[2022-04-12 11:47] haampie commented on #30024
You want to use `concretization: together` in your environment s.t. every package appears just once and everything is consistent. After you've activated the environment, use `spack config edit` to open an editor for the `spack.yaml` file, edit it s.t. it looks like this:

[code]

Then concretize your environment again: `spack concretize --force`, it will show you what will build. Then `spack insta

[2022-04-12 14:43] samcmill commented on #30004
[code]

[code]

[code]

The `zen3` architecture was added in version 21.11.

The `knl` architecture was dropped in 21.9.

`-march` is an alias for `-tp`, but it does not use the same architecture values as gcc.

[2022-04-12 15:43] steo85it commented on #30008
Using the `--delete-tree` option solved the issue
[code]
or
[code]

[2022-04-12 15:43] #30008 closed, assigned to nobody

[2022-04-12 16:41] albestro commented on #30021
I'm addressing the same problem with macOS Big Sur 11.6.5

[code]

I solved by changing this condition to be applied also with `perl@5.34.1` (the one I was building)

https://github.com/spack/spack/blob/17e2fb0ef65581f338a4f5aeef9417743d00eb50/var/spack/repos/builtin/packages/perl/package.py#L375-L381

In next days I will give it a look trying to figure out the correct condition when this environm

[2022-04-12 17:25] becker33 commented on #29707
@scheibelp is this fixed by your PR deferring `.package` access?

[2022-04-12 18:55] srekolam commented on #29888
this was introduced as part of https://github.com/spack/spack/pull/29017.will revert this change inside llvm-amdgpu

[2022-04-12 20:51] climbfuji commented on #30022
@rgommers py-numpy@1.20.3 I believe - we had issues with newer numpy versions on some systems.

[2022-04-12 20:57] climbfuji commented on #30022
There is some software in our stack that limits numpy to <=1.21.5

[2022-04-12 22:36] tgamblin commented on #26762
Should this be `arch` in both cases?

[2022-04-12 23:23] tldahlgren commented on #22861
I am having the same problem -- `Error: [Errno 37] No locks available` though related to reading from the database -- for one of my PRs on at least one of the LLNL CZ machines:

[code]

[2022-04-13 00:19] tldahlgren commented on #22861
🤦 Just realized this PR is from *a year*, not a few days, ago.

[2022-04-13 00:21] tldahlgren commented on #22861
I can, of course, try to work around the problem by setting `locks` to `false` in `spack config edit config` but then I have to be careful to not perform parallel installations.

[code]

(See https://spack.readthedocs.io/en/latest/config_yaml.html?highlight=locks#locks.)

[2022-04-13 01:42] RichardTMiles commented on #6252
Looks like this error is back in version 1.2.1
Running Amazon Linux 2 on EC2

[2022-04-13 02:23] cpraveen commented on #29990
Related to https://github.com/spack/spack/issues/30021

[2022-04-13 02:23] #29990 closed, assigned to nobody

[2022-04-13 07:50] brechtm commented on #29173
I had another look at this. I think this might be failing because fc-cache tries to write to _/var/cache/fontconfig_, which non-root users do not have permissions for.

[code]

[2022-04-13 08:40] brechtm commented on #29173
🎉 Creating a configuration file ~/.config/fontconfig/fonts.conf with these contents fixes this issue!

[code]

Using _~_ instead of _/home/appshost_ does **not** work!

[2022-04-13 10:38] haampie opened #30043 "Missing conflicts for %nvhpc and cuda (toolkit)"
For GCC and Clang we have a bunch of conflicts, but not for %nvhpc, leading to issues like this:

[code]

when using `mpicc` provided by `openmpi%nvhpc@22.3` and `cuda@11.0.3` for the cuda toolkit.

@samcmill is this expected? nvhpc@22.3 itself provides cuda 11.0, so it looks unexpected to me.

[2022-04-13 10:46] danielpalazzo commented on #30024
Thank you, that solved my issues.

[2022-04-13 10:46] #30024 closed, assigned to nobody

[2022-04-13 11:00] haampie commented on #30043
further debugging...

[code]

eventually calls:

[code]

... which calls

[code]

maybe an issue with openmpi then? :weary: what a compiler wrapper madness this is

[2022-04-13 11:33] haampie commented on #30043
My understanding:

- `nvcc` is from the `cuda` package
- the cpp compiler is provided through `-ccbin /path/to/mpic++`
- `mpic++` is the openmpi compiler wrapper based on `nvc++`
- this is used through `mpic++ -E` to generate a very long c++ file `<name>.cpp1.ii`.

However, _somehow_ the `--nvcchost` is passed to mpic++, meaning that `nvc++` ultimately behaves differently?

This flag isn't even do

[2022-04-13 11:58] haampie commented on #30043
Smallest repro, just with nvhpc:

kernel.cu:
[code]

[code]

[2022-04-13 12:44] srekolam commented on #29888
this is fixed by #30036

[2022-04-13 12:44] #29888 closed, assigned to srekolam

[2022-04-13 14:20] samcmill commented on #30043
See https://github.com/spack/spack/pull/24540.  cc @romerojosh

[2022-04-13 14:45] rgommers commented on #30022
Thanks @climbfuji. I think https://github.com/numpy/numpy/pull/20881 fixed the issue you're patching here; that was backported to numpy `1.22.2`. Would you be able to confirm that your issue disappears if you just build numpy and scipy with gcc on macOS?

If that did fix it, the preferred fix may be to backport the NumPy fix to the `py-numpy` recipe in this repo, rather than a new fix (since SciPy

[2022-04-13 15:11] climbfuji commented on #30022
Thanks @rgommers. I will try that and get back with you.

[2022-04-13 16:34] haampie commented on #30043
I think we can move the conflicts to the cuda toolkit package.

However, in the last example I'm triggering the conflict using `nvcc` and `nvc++` provided by just `nvhpc`.

[code]

Is that expected?

[2022-04-13 16:42] samcmill commented on #30043
Normally one would use `nvcc` from `/path/to/Linux_x86_64/22.3/compilers/bin/nvcc`.  This wrapper automatically selects the best CUDA version based on the CUDA driver and adds flags like `--allow-unsupported-compliers` when needed.

[2022-04-13 17:04] tldahlgren commented on #22861
We have found this error occurs when there is a problem with underlying system software.

Spack locking requires an active file system lock server that supports and enables POSIX locks.

[2022-04-13 17:05] tldahlgren commented on #22861
@ikitayama Is this Issue still relevant for you or should it be closed?

[2022-04-13 18:23] G-Ragghianti commented on #27898
In my experience, this occurs when the fortran module file was created by a newer or incompatible compiler version than the one that you are currently using for the build.  This wouldn't be a problem if the rocm deps were built within spack (using the same compiler), but since they are external dependencies, the omp_lib.mod file may be coming from the system's rocm installation.

[2022-04-13 18:34] #30021 closed, assigned to nobody

[2022-04-13 19:51] adamjstewart commented on #30022
P.S. I wouldn't recommend using GCC on macOS, many libraries including Python can't be built with GCC. I only use Apple Clang + GFortran on macOS.

[2022-04-13 19:54] climbfuji commented on #30022
I agree, but unfortunately a number of packages used in meteorology and other sciences are not yet (or are in the process of being) ported to work with clang.

I also use llvm clang instead of apple-clang, and that one works very well (a minimal Python installation is required as an external dependency on our setup).

[2022-04-13 20:02] bvanessen commented on #29447
@alalazo @adamjstewart @becker33 @tgamblin @scheibelp Here is the issue that I brought up at the end of the meeting this morning.

[2022-04-13 21:23] tmadlener opened #30052 "`spack install` concretizes to different specs in an already concretized environment with `develop` packages"
### Steps to reproduce

spack seems to concretize the environment again when running `spack install` if there is at least one package marked as `develop` in the environment. I would have expected that spack just uses the results from `spack concretize` and installs the packages as they appear in `spack.lock`.

As a partially artificial reproducer consider the following situation to start with (cle

[2022-04-13 21:32] #29507 closed, assigned to alalazo

[2022-04-13 21:40] ikitayama commented on #22861
Go ahead please.

[2022-04-14 01:05] jgalarowicz opened #30054 "Installation issue: Incomplete version in depends_on clause in py-scipy/package.py causes failure to find py-pypthran source."
### Steps to reproduce the issue

When we build survey one of the depends_on clauses causes py-scipy to be built and it tries to bring in py-pythran version 0.10.0, but it is only specified as version 0.10.  On some platforms this works, but on others it fails to find version 0.10.

### Error message

[code]

### Information on your system

* **Spack:** 0.18.0.dev0 (0480afe29d772ef03471b3a3ae747ad

[2022-04-14 03:58] certik opened #30058 "`spack install racket` fails on macOS M1"
On Apple M1 Max, the following fails:
[code]
Note that I had to apply the following patch to fix a separate bug:
[code]

[2022-04-14 08:10] alalazo commented on #30058
@arjunguha @elfprince13

[2022-04-14 08:50] #22861 closed, assigned to nobody

[2022-04-14 13:27] elfprince13 commented on #30058
Does a `+xonx` build work? Is there any evidence that upstream Racket maintainers expect M1 builds to work?

If `+xonx` doesn't help, my advice is try running through the official build instructions from scratch on a non-Spack build, and then reporting back here if there are some flags /  platform detection we've mucked up. Other than that, if you're not able to get it working with a standalone bu

[2022-04-14 14:29] Paul-Ferrell opened #30064 "Spack --reuse does not recognize 'non-preferred' installs"
### Steps to reproduce

When using --reuse, most notably with upstreams from older versions of Spack, installed packages that are not in the package version list for the 'downstream' Spack aren't reused unless explicitly requested.

* Clone spack twice (upstream, downstream)
* In both, activate and `spack compiler find --scope=site`
* In 'upstream', `spack install pcre@8.42`
* In 'downstream', set

[2022-04-14 14:44] Paul-Ferrell commented on #30064
Fixed by #29933

[2022-04-14 15:53] climbfuji commented on #30022
@rgommers @adamjstewart See https://github.com/spack/spack/pull/30065 please.

[2022-04-14 16:35] certik commented on #30058
I pulled the latest `develop` branch, but I can't see the `xonx` variant:
[code]

I installed racket on M1 before from the upstream binaries and that worked. I don't now if it is officially supported.

It seems that the build went fine until the end, just some signing issues.

[2022-04-14 17:10] #26559 closed, assigned to nobody

[2022-04-14 17:10] #29245 closed, assigned to nobody

[2022-04-14 18:39] joehellmersNOAA opened #30072 "Getting pmix.h not found error in AWS using ParallelCluster"
### Steps to reproduce

On AWS ParallelCluster using Slurm as the scheduler I'm trying to install openmpi with Slurm pmi integration

`spack install openmpi+pmi schedulers=slurm`

Slurm is at version 21.08.6

### Error message

[code]

From the debug run

[code]

### Information on your system

[code]

### General information

- [X] I have run `spack debug report` and reported the version of Spack

[2022-04-14 19:06] adamjstewart commented on #30054
I'm unable to reproduce this on my system. I'm guessing that this bug only affects the old concretizer. Can you check if the systems where you're encountering this issue are using the original concretizer instead of clingo? `spack debug report` should tell you the answer.

[2022-04-14 19:20] #29575 closed, assigned to nobody

[2022-04-14 21:16] climbfuji opened #30076 "Apple M1 processor not detected correctly in Rosetta 2 emulator mode"
### Summary

When using the Rosetta 2 emulator to work in a `x86_64` environment on an Apple M1 system, `spack` complains about not being able to detect the CPU:
[code]
This doesn't seem to hurt, but the messages are annoying.

### Rationale

`spack` should be able to detect an Apple M1 processor in Rosetta 2 emulator mode.

### Description

_No response_

### Additional information

[code]

[code

[2022-04-14 21:31] climbfuji opened #30078 "Help needed: attribute error in call to `self._enable = spack.config.get('config:locks', not is_windows)`"
### Summary

If one of the spack developers has an idea please let me know.

I am using a custom script that I run after `spack module lmod refresh` to create a bunch of meta modules for easier handling in our environment. The script goes like this:
[code]
I have been using this successfully on almost 20 systems (HPCs, Linux, macOS, AWS, ...), but on two macOS notebooks of my team the line `env =

[2022-04-14 21:51] grondo opened #30079 "Installation issue: mpich fails to build with gcc 11.2.0"
### Steps to reproduce the issue
[code]

[code]

### Error message

<details><summary>Error message</summary><pre>
==> Installing mpich-4.0.2-xg2xsj54syl5s7akfexidbez46zguvh2
==> No binary for mpich-4.0.2-xg2xsj54syl5s7akfexidbez46zguvh2 found: installing from source
==> Using cached archive: /p/vast1/grondo/spack/var/spack/cache/_source-cache/archive/5a/5a42f1a889d4a2d996c26e48cbf9c595cbf4316c681

[2022-04-14 23:33] climbfuji opened #30081 "Installation issue: mesa-glu with mesa as provider for gl"
### Steps to reproduce the issue

When the provider for `gl` is `mesa` instead of `opengl`, the build of `mesa-glu` fails, because it cannot find `libGL`. According to `mesa-glu`'s `configure` script, one needs to add `--enable-osmesa` to build against a `mesa` backend.
[code]

### Error message

`mesa-glu`'s `configure` call cannot find `libGL`:
[code]

### Information on your system

[code]

###

[2022-04-15 02:20] aphedges commented on #24517
I have updated to Spack v0.17.2, and I can confirm this is still a problem. Here is the output from `spack debug report`:

* **Spack:** 0.17.2
* **Python:** 3.7.13
* **Platform:** linux-centos7-broadwell
* **Concretizer:** clingo

Some extra information that might be helpful is that I am using Bash 5.1.8(1)-release and pyenv 2.2.5. I will probably look into this some more myself, but I'm not sure

[2022-04-15 03:41] alalazo commented on #30076
Can you move the issue to https://github.com/archspec/archspec and close it here ?

[2022-04-15 12:10] RemiLacroix-IDRIS commented on #25780
I have this issue again with OpenEXR. It would be great to have some feedback regarding this issue.

[2022-04-15 12:37] RemiLacroix-IDRIS opened #30091 "Cannot build Gromacs 2021.X with Plumed 2.7.Y"
Hi,

It seems Plumed 2.7.Y does not specify explicitly which versions of Gromacs it supports:
[code]

This breaks Spack's code to check for supported versions:
https://github.com/spack/spack/blob/0e0c438dd6e5e06b5d8339bd9001f3373fcf9be8/var/spack/repos/builtin/packages/plumed/package.py#L110-L120

@marcodelapierre: Does `gromacs-2021` mean any 2021 version of Gromacs? Do you plan to keep this nota

[2022-04-15 12:52] rscohn2 commented on #29993
I am checking with the mpi team if there are any issues with switching.

[2022-04-15 13:49] alalazo commented on #28259
Reproduced by creating a repo with just `zlib`:
[code]
then:
[code]

[2022-04-15 13:57] haampie commented on #28457
did you figure this out?

I can make it build by adding `--without-pie` to configure_args. But curiously it's not required for gcc. Unclear what the difference is.

[2022-04-15 14:10] luigi-calori commented on #30091
I had the same problem installing gromacs with plumed and assumed 2021 stands for any 2021 gromacs, and it built fine for me, see
https://github.com/RemoteConnectionManager/spack/commits/packages/0.17/fix_plumed_gromacs
I also had to add cblas dependency to plumed.
If you think worthwhile, can try to submit a pull request

[2022-04-15 14:15] bernhardkaindl commented on #28457
I am puzzled that `/home2/cessenat/Softs/spack/lib/spack/env/nvhpc/nvc` was used for compilation even tho %gcc was selected by @cessenat (likely in an attempt to workaround the issue): `spack install openssh %nvhpc@22.1 ^openssl %gcc`

Of course the error is: `/usr/bin/ld: /usr/lib/gcc/x86_64-linux-gnu/9/crtbegin.o: relocation R_X86_64_32 against hidden symbol `__TMC_END__' can not be used when ma

[2022-04-15 14:30] RemiLacroix-IDRIS commented on #30091
I was also able to build Gromacs 2021.4 with Plumed 2.7.2 after hacking around this issue.

I didn't need to add cblas though.

[2022-04-15 14:47] luigi-calori commented on #30091
Mmm ...  I was testing it on 0.17.1, both intel as well as cuda enabled, maybe i needed to add cblas as  I set gromacs \~blas but
gsl@2.7\~external-cblas   ( to be honest is just a shot in the dark )
my dependencies are

`$ spack find -d -v gromacs`
`==> 1 installed package`
`-- linux-centos8-cascadelake / intel@2021.4.0 -------------------`
`gromacs@2021.3~blas+cuda~cycle_subcounters~double+hwloc

[2022-04-15 14:47] bernhardkaindl commented on #28457
I am puzzled that `/home2/cessenat/Softs/spack/lib/spack/env/nvhpc/nvc` was used for compilation even thou you specifed %gcc as compiler: `spack install openssh %nvhpc@22.1 ^openssl %gcc`

Of course the error is: `/usr/bin/ld: /usr/lib/gcc/x86_64-linux-gnu/9/crtbegin.o: relocation R_X86_64_32 against hidden symbol `__TMC_END__' can not be used when making a PIE object`

This error is the result of

[2022-04-15 15:14] rscohn2 commented on #29993
The MPI team believes it will be ok, but suggests we give the user the ability to switch back. I think it could be done with a boolean variant that defaults to mpiicpc/mpiicc. I can do this next week, but feel free submit a PR if you have time.

[2022-04-15 15:44] #29751 closed, assigned to nobody

[2022-04-15 15:52] jgalarowicz commented on #30054
@adamjstewart Yes, you are correct.  When I change back to clingo, spack can find the 0.10.0 version even if the depends_on specifies 0.10.    We have had problems at the national labs using clingo, so that is where the issue was discovered.  I must have be experimenting on my laptop with original instead of clingo.    Sorry for the bother with this.

[2022-04-15 16:20] adamjstewart commented on #30054
If you haven't already, please open issues for these and tag @alalazo. We're trying to push pretty hard to make clingo the concretizer of choice and remove the original concretizer. The new concretizer solves many issues in Spack, including the one you found here.

So if you just want to get things working on your system, using `@0.10.0:0.10` or `@0.10.0` should work, but I don't think we'll want

[2022-04-15 16:38] cessenat commented on #28457
Thanks very much @bernhardkaindl , I added --without-pie and got further. It has nothing to do with the initial problem, prabably :

[code]
$ spack debug report
* **Spack:** 0.18.0.dev0 (f41c3a0fe96df09e3d6887dbeda6cb822e32e7f5)
* **Python:** 3.8.10
* **Platform:** linux-ubuntu20.04-zen2
* **Concretizer:** clingo

[2022-04-15 16:46] jgalarowicz commented on #30054
@adamjstewart Ok.  Thank you!  I will close this.

[2022-04-15 16:46] #30054 closed, assigned to rgommers, adamjstewart

[2022-04-15 17:22] climbfuji commented on #30076
Replaced by https://github.com/archspec/archspec/issues/76.

[2022-04-15 17:22] #30076 closed, assigned to alalazo

[2022-04-15 20:47] #30022 closed, assigned to nobody

[2022-04-15 22:44] #29795 closed, assigned to scheibelp, johnwparent

[2022-04-17 00:11] range3 opened #30116 "Installation issue: py-torch with cuda@11.5:"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
==> Error: py-torch@1.11 cuda_arch=70 ^cuda@11.5 is unsatisfiable, conflicts are:
  A conflict was triggered
  Unsatisfied conditional variants cannot be set
  compiler_version_satisfies("gcc","10:","10.2.1")
  condition(527)
  condition(6203)
  condition(6204)
  condition(6329)
  condition(

[2022-04-17 02:07] adamjstewart commented on #8716
I think this can be closed. basemap is deprecated, all users should use cartopy instead.

[2022-04-17 02:07] #8716 closed

[2022-04-17 02:09] adamjstewart commented on #29881
I encountered this too. We should be able to fix this in a manner similar to #29882. In the long run, I would love to get rid of `lib/spack/llnl/util/tty/color.py` entirely and use colorama instead. That will give us free Windows support for coloring.

[2022-04-17 02:14] adamjstewart commented on #29881
@tgamblin wrote most of the tty color code, but that stuff hasn't been updated in 9 years. We're only encountering this now because we never used colors for the prompt until environments were introduced.

[2022-04-17 03:06] #30116 closed, assigned to adamjstewart

[2022-04-17 08:38] wanlinwang opened #30120 "Error: cannot bootstrap the "clingo" Python module from spec "clingo-bootstrap@spack+python %gcc target=x86_64" due to the following failures:"
Hi there,

I want to install python with spack. However, some error occurred:

[root@centos-7 ~]# spack compilers
==> Available compilers
-- clang centos7-x86_64 -----------------------------------------
clang@3.9.0  clang@3.5.0  clang@3.4.2

-- gcc centos7-x86_64 -------------------------------------------
gcc@11.2.0  gcc@4.8.5
[root@centos-7 ~]#  spack install python@3.8.12 ^gcc@11.2.0 +tkinter

[2022-04-17 09:03] michaelkuhn commented on #30079
Fixed by #30084.

[2022-04-17 09:03] #30079 closed, assigned to nobody

[2022-04-17 13:09] #30120 closed, assigned to nobody

[2022-04-18 13:53] srekolam commented on #25931
i have updated the rocm recipes with later releases. it would be good if we can take the later releases and see if any new issues are encountered.

[2022-04-18 13:53] #25931 closed, assigned to srekolam

[2022-04-18 13:54] #25936 closed, assigned to srekolam

[2022-04-18 13:54] srekolam commented on #25936
I believe this is fixed.

[2022-04-18 15:40] EthanS94 opened #30132 "spack mirror create with relative paths doesn't work, an error message with valid url formats would be nice"
### Steps to reproduce

[code]

### Error message

[code]

### Information on your system

spack debug report
* **Spack:** 0.18.0.dev0 (3835ac0c41ce57dda16de98c40b69dac5d26d34a)
* **Python:** 3.6.9
* **Platform:** linux-ubuntu18.04-skylake_avx512
* **Concretizer:** clingo

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have

[2022-04-18 15:57] benpm opened #30133 "require_url_format() fails to take into account valid SSH paths"
[`require_url_format()`](https://github.com/spack/spack/blob/3835ac0c41ce57dda16de98c40b69dac5d26d34a/lib/spack/spack/util/url.py#L345) in lib/spack/util/url.py fails to take into account valid SSH path values such as `"git@github.com:spack/spack.git"`. Up until this function was added, I've been successfully using values like this in the `git=` property of my packages.

Commit that added this fun

[2022-04-18 16:21] wyphan opened #30134 "Installation issue: fpm"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
Initialized empty Git repository in /tmp/wyphan/spack-stage/spack-stage-fpm-0.4.0-6b7dpcrdo55u42qb4bqgsv5n3yp2w3lv/spack-src/build/d
ependencies/toml-f/.git/
Unknown option: -C
usage: git [--version] [--help] [-c name=value]
           [--exec-path[=<path>]] [--html-path] [--man-path] [--inf

[2022-04-18 16:31] awvwgk commented on #30134
Looks like git is too old, ~~can you share the git version used here?~~ I don't know the exact lower bound for git to support changing directories with `-C`.

[2022-04-18 16:33] wyphan commented on #30134
1.8.3.1, yep definitely too old. I can either email the admin or take things into my own hands with `spack install git`, which route should I take?

[2022-04-18 16:35] awvwgk commented on #30134
Checking my notes... https://github.com/fortran-lang/fpm/pull/163, it is git 1.8.5 which implements `-C`, so a close miss.

[2022-04-18 17:34] joehellmersNOAA commented on #30072
I'm noticing that pmix is installed at /opt/pmix.

Is there a way to specify the location of pmix when building openmpi?  Perhaps define it as an external package in ~/.spack/packages.yaml

[2022-04-18 18:39] wspear commented on #8675
I am seeing this same issue on JLSE. 6.2 fails but 6.1 seems to work. +symlinks makes no difference.
[code]

[2022-04-18 20:05] wspear commented on #8675
This error occurs when building with a specified microarchitecture different from the current hardware. Some builds work, others fail in a variety of ways including this one. Switching to an allocation with the specified microarchitecture fixed it.

[2022-04-18 20:09] awvwgk commented on #30134
Maybe we can require a git version in the fpm package file?

[2022-04-18 20:18] wyphan commented on #30134
@awvwgk That sounds straightforward, do you wanna create the PR or should I do it?

[2022-04-18 20:21] awvwgk commented on #30134
Feel free to submit a patch for this.

[2022-04-18 23:42] tgamblin commented on #8675
So it looks like this is because `configure` is calling `ldconfig`, and `ldconfig` is trying to update the system cache.

Can you try filtering `ldconfig` invocations in configure and adding a `-C /path/to/some/tmpfile` argument?  I think that will point it away from modifying any system files.

You can see in `aclocal.m4` where this is coming from -- look for the `AC_DEFUN([CF_LD_SEARCHPATH]` fun

[2022-04-19 08:04] alalazo commented on #30133
Pinging @scheibelp and @johnwparent since, if I recall correctly, this was added as part of the Windows support.

[2022-04-19 08:16] RemiLacroix-IDRIS commented on #30091
The Plumed package already have:
[code]
and the code does not seem to use `cblas`.

[2022-04-19 12:12] #29839 closed, assigned to nobody

[2022-04-19 13:44] alalazo commented on #28671
I cannot reproduce using `hdf5@develop-1.13 ~mpi` as a simpler spec (didn't try with `lbann`). A few notes:
1. There are typos in the reproducer. For instance `spack develop` requires the spec to have a concrete version, not just a name.
2. There is very likely a `spack add` step missing, since `spack develop` doesn't automatically append a spec to `spack:specs`.
3. The `--reuse` flag with environ

[2022-04-19 15:35] snehring commented on #28295
This is now fixed upstream, pending a release. It can be worked around by specifying build_type=Release until such time that I or someone else updates the version.

[2022-04-19 15:35] #28295 closed, assigned to nobody

[2022-04-19 16:36] grondo opened #30167 "`spack install --test=root flux-sched` fails tests due to missing `py-cffi` but its dependency (flux-core) depends on py-cffi"
### Steps to reproduce

I am trying to install and run tests on the flux-sched package, which depends on flux-core, but while the package can build fine without `--test=root` the `make check` fails, e.g.:

[code]

This command _should_ succeed (modulo real bugs or intermittent test failures), but instead fails when flux-core commands (e.g. `flux mini run`) are executed since they fail to find the

[2022-04-19 18:04] #29576 closed, assigned to nobody

[2022-04-19 20:42] wyphan commented on #30134
Hmm. Looks like "upgrading" `git` is not enough to build `fpm` on this system... Here's the new stdout log:
[code]
What now, a forgotten `chmod +x`? :joy:

[2022-04-19 22:12] awvwgk commented on #30134
The install script is for sure marked as executable in the fpm repository, not sure where it could loose this property again.

[2022-04-20 03:21] eugeneswalker opened #30181 "hiop +rocm build fails: g++-11: unrecognized command-line option '--offload-arch=gfx90a'"
### Steps to reproduce the issue

`hiop +rocm` build is failing using:
* `spack@develop` (5e014be8b7aaecfec5d98aaa406dd6393610942b from `Tue Apr 19 16:48:49 2022 -0400`)
* Ubuntu 20.04, x86_64
* GCC 11.1.0
* ROCm 4.5.2

Concrete spec: [hiop.spec.json.txt](https://github.com/spack/spack/files/8517895/hiop.spec.json.txt)

Concretization:
[code]

Build issue easily reproduced using cached dependency

[2022-04-20 04:10] eugeneswalker opened #30183 "ipopt package can't construct proper url for fetch?"
### Steps to reproduce

Something is wrong with the way `ipopt` package gets the URL for its versions.

[code]

[code]

### Error message

_No response_

### Information on your system

* **Spack:** 0.18.0.dev0 (c664a31f7b1016d060682ff458c4bae8067cff59)
* **Python:** 3.7.7
* **Platform:** darwin-monterey-cannonlake
* **Concretizer:** clingo

@felliu @ashermancinelli @adrienbernede

### General inf

[2022-04-20 06:54] marcodelapierre commented on #30091
Hi guys, I don't know these details myself, but possibly a good question for @giovannibussi.
Having the rationale would allow to update the Spack recipe in a general way.

By the way, at our HPC centre, we manually added the needed compatibility with something like:
[code]

[2022-04-20 07:02] marcodelapierre commented on #30091
As regards `cblas`, @luigi-calori  not sure why you need to add it.

Plumed depends on the `blas` virtual, so should be able to get an appropriate dependency at concretisation. Is it possible that you have some unusual configuration in your `packages.yaml`, that impacts on BLAS? (maybe I am completely off track)

[2022-04-20 07:17] GiovanniBussi commented on #30091
Hi! This was actually a mistake that was fixed in plumed 2.7.3.

https://github.com/plumed/plumed2/commit/3035b70c6e46661b362d66b252c3acccecb3d93e

Notice that in most cases the same patch works for all the gromacs releases of the same series. The exact number is more a reminder of which version was used to generate the diff files.

[2022-04-20 09:26] felliu commented on #30183
I've had this issue before. I solved it then by using the alternative url which is in a comment in the package file.

I think the issue is simply caused by the file extension changing from *.tgz to *.tar.gz in https://www.coin-or.org/download/source/Ipopt/ from version 3.14.0, which should be simple enough to fix using a `url_for_version` function as suggested in the packaging guide.

[2022-04-20 10:45] alalazo opened #30187 "Cannot query if a concrete spec from an unknown namespace is installed"
### Steps to reproduce

Create a custom repository, with just `zlib`:
[code]
install `zlib` from there and remove the repository at the end:
[code]
Now open a `spack python` interpreter:
[code]

### Error message

Trying to query a spec retrieved from a DB for installation fails with `UnkownNamespaceError` if the spec was installed from an unknown namespace:
[code]
This is because the methods to q

[2022-04-20 13:14] ITCJ commented on #27764
It seems that I met the same problem.  I install 3 packages at the same time, and they all failed. So I tried again, two of them are installed successfully. One comes the following problem:

[code]

And so does other dependencies. such as:

[code]

[2022-04-20 13:34] #27369 closed, assigned to adamjstewart

[2022-04-20 15:06] eugeneswalker opened #30195 "binutils@2.38 build fails: libiberty.a(regex.o): relocation R_X86_64_PC32 against symbol `xre_max_failures' can not be used when making a shared object; recompile with -fPIC"
### Steps to reproduce the issue

`binutils@2.38` build is failing using:
* `spack@develop` (974beb4ffcbaca1a73a687844892a4e7bf2356d8 from `Wed Apr 20 16:22:20 2022 +0200`)
* Ubuntu 20.04, x86_64
* GCC 9.4.0

I'm not seeing this failure on `RHEL 8 / %gcc@8.5.0` or `SLES 15.2 / %gcc@11.2.0`, maybe something specific to the toolchain on Ubuntu 20?

Concrete spec: [binutils-wp743fb.spec.json.txt](htt

[2022-04-20 15:56] wyphan commented on #30134
@alalazo Can you reopen this issue, since it's not fully resolved yet?

[2022-04-20 16:34] ashermancinelli commented on #30183
I've been using @felliu's workaround as well, and I support their suggestion.

[2022-04-20 16:40] ashermancinelli commented on #30181
I have never successfully built hiop with ROCm enabled without using clang/llvm-amdgpu as the compiler. If your linked PR solves this, I would be pretty excited. Thanks for this!

[2022-04-20 17:28] penalva34 opened #30199 "Hugo : need update version"
### Summary

The version of Hugo in the Spack repository is in error (https://discourse.gohugo.io/t/error-unexpected-unclosed-action-in-command/36848). Hugo need an update to a newer version (0.97.3 ?).
Is there anybody who want to try the job ? I know that it's not exactly in the "mainstream" of Spack, but this package can't work like that.
Thank a lot for your work.

### Rationale

Error: add si

[2022-04-20 19:41] bvanessen commented on #28671
@alalazo I don't know if this is still an issue for me.  I am able to get repeated installations working.  Also, yes, as I wrote those instructions, there are typos, but they also don't match the commands that I actually executed, so my bad.  I think that it is fine to mark close for now and I will re-open if there is an on-going issue.

[2022-04-20 19:41] #28671 closed, assigned to alalazo

[2022-04-20 20:35] goxberry commented on #30183
If this approach works, I think using `url_for_version` is fine for now, and I support merging this PR.

Longer-term, I think a more sustainable strategy will be to use the URLs associated with version tags from [Ipopt's GitHub repo](https://github.com/coin-or/Ipopt). The [COIN-OR projects web page](https://www.coin-or.org/projects/) now directs users to Ipopt's GitHub repo anyway, and I don't see

[2022-04-20 20:38] #30183 closed, assigned to nobody

[2022-04-20 20:39] #30181 closed, assigned to nobody

[2022-04-20 23:54] wspear commented on #8675
The crash happens in the install phase but filtering there didn't make any difference, nor did filtering aclocal.m4 or filtering on /sbin/ldconfig. Filtering like this:

`filter_file('ldconfig', 'ldconfig -C /tmp/ac.wspear/', 'configure')`

In the configure phase breaks the build since there is a variable in configure that is literally named 'ldconfig'.

I'm open to additional suggestions on track

[2022-04-21 04:20] zidarko commented on #29459
Any update on this issue?

[2022-04-21 07:20] alalazo opened #30211 "Update the images we use for containers for v0.18.0"
### Summary

Before Spack v0.18.0 we should deprecate:
- Ubuntu Xenial (16.04)

And add:
- Ubuntu Focal (20.04)
- Ubuntu Jammy (22.04)

Optionally, as a stretch goal, we can also provide:
- Fedora 37
- Alpine

### Rationale

Update Dockerfiles and images before release

### Description

_No response_

### Additional information

_No response_

### General information

- [X] I have run `spack --ver

[2022-04-21 07:27] alalazo commented on #7822
Closing, since there has been no activity in a while. Feel free to reopen if you want to continue work on this. (Currently looking at container related issues)

[2022-04-21 07:27] #7822 closed

[2022-04-21 08:11] ocarino opened #30212 "installation of py-pygobject: unsatisfiable constraint"
Hi all,

I am trying to install "py-pygobject". I get the error message:

--------------------------------------------------------------------------------------------------------------
Error: An unsatisfiable variant constraint has been detected for spec:

    cairo@1.16.0%gcc@11.2.0~X~fc~ft+gobject~pdf~png~svg arch=linux-rhel8-zen3
       [...]
harfbuzz requires cairo variant +pdf, but spec asked

[2022-04-21 09:21] #28457 closed, assigned to nobody

[2022-04-21 15:24] alalazo commented on #15888
Closing, since there has been no activity in a while. Feel free to reopen if you want to continue work on this.

[2022-04-21 15:24] #15888 closed

[2022-04-21 17:15] mwkrentel opened #30223 "PR 29898 breaks the build for hpctoolkit and MPI C++ on Cray"
### Steps to reproduce

Commit 6e5cba7b8269 from PR #29898 on Apr 11 breaks the build for
hpctoolkit on cray.  It probably breaks the build for any package
wanting to build an MPI C++ program on cray from inside spack.

On cray, the MPI C++ wrapper is something like `/opt/cray/pe/craype/2.6.5/bin/CC`.
In hpctoolkit configure, we test MPICXX to make sure that it can
compile MPI code and that the co

[2022-04-21 17:22] drkrynstrng commented on #29168
I'm not seeing this error with +libiberty using the latest dev version of Spack; the spec looks a little different:

[code]

But there is a similar error with +gas.

[2022-04-21 17:34] Billae opened #30224 "Spack install --overwrite in a environment does not reinstall"
### Steps to reproduce

Hello,
I have an env with some products in develop mode (with ```spack develop product```). I would like to change some compilation flags and the reinstall my projects, so I do
[code]
Without any spec because I want to rebuild all of them.
However, Spack does not do anything, exactly the same way that if I would not use the --overwrite :o

If I changed the source code and e

[2022-04-21 19:14] #29224 closed, assigned to nobody

[2022-04-21 19:17] adamjstewart commented on #30212
I'm assuming you're using the "original" concretizer? You can check by running `spack debug report`. Can you instead try the "clingo" concretizer? This is now the default concretizer in Spack and should solve your issue. This can be set in [`config.yaml`](https://spack.readthedocs.io/en/latest/config_yaml.html).

[2022-04-21 20:17] ax3l commented on #29594
:+1: duplicate of #25794 :)

[2022-04-21 20:19] ax3l commented on #25794
I found a patch in Debian, seems we need to manually link X11 in or so:
https://bugs.launchpad.net/ubuntu/+source/openmotif/+bug/705294

[2022-04-21 21:55] haampie commented on #30223
A series of poor decisions by Cray: (1) their compiler wrappers do overlinking by default, for every loaded module they make pkg-config generate extra linker flags. (2) they provide a libmpi that can't locate its own dependencies, not even when loading the cray-mpich module, you need to manually load its _dependencies_ that populate LD_LIBRARY_PATH to make libmpi happy.

(1) and (2) combined is wh

[2022-04-21 23:25] BenWibking commented on #29594
@ax3l I'm not sure this is a duplicate. Your build returns an error message of `../../../../lib/Xm/.libs/libXm.so: undefined reference to symbol 'XFillArc'`, but mine (listed above) complains with: `/usr/lib/gcc/x86_64-redhat-linux/8/../../../../lib64/crt1.o: In function '_start': 2221 (.text+0x24): undefined reference to 'main'`. Are these actually the same linking error?

[2022-04-21 23:28] mwkrentel commented on #30223
@haampie Also an unfortunate conflict between spack and cray.
The cray MPI C++ wrapper is `CC`, but spack puts CC on my path ahead
of the cray wrapper, and the spack CC is not an MPI compiler.

This caused me to go deeper in my PATH to find the cray CC and use
that.  And that fails without the cray-mpich module.

I'll see if I can make it work with the external for the cray MPI.
That would be more

[2022-04-21 23:31] eugeneswalker opened #30237 "exago@1.4.1 +rocm build fails: tao/opflow_tao.cpp:220:10: error: no matching function for call to 'TaoGetObjective'"
### Steps to reproduce the issue

`exago@1.4.1 +hiop +rocm amdgpu_target=gfx90a` build is failing using:
* `spack/develop` (4817e4c80ced0c1115a018bb185ce93f50b20242 from `Thu Apr 21 13:22:41 2022 -0700`)
* Ubuntu 20.04, x86_64
* GCC 11.1.0
* ROCm 4.5.2, installed outside of Spack and registered with Spack via external package definitions

It looks like maybe this is an issue of the `petsc` version

[2022-04-21 23:34] ashermancinelli commented on #30237
Looks like an issue with PETSc version. I think if we depend on `petsc@:3.16.99` until we fix compatibility then the build will go through. CC @abhyshr @CameronRutherford

[2022-04-22 02:24] mwkrentel commented on #30223
Ok, I see what happened.  I added current support for cray + mpi to
hpctoolkit in Dec 2018, and the cray-mpich module was added Dec 2020.
I'll try reworking configure to use cray-mpich, that should simplify things.

But I still request that `--dirty` should not unload any modules.
Dirty means "leave my environment intact" and unloading modules
deletes essential variables from my environment.  It's

[2022-04-22 06:51] #21131 closed, assigned to alalazo

[2022-04-22 06:51] #30211 closed, assigned to alalazo

[2022-04-22 06:51] #18005 closed, assigned to nobody

[2022-04-22 14:59] Billae opened #30250 "Installation issue: Praview needs Verdict"
### Steps to reproduce the issue

[code]

Installing paraview crash during CMake because it does not find the Verdict lib.
Am I the only one to have this ?
To fix this, we could add ```'-DVTK_MODULE_USE_EXTERNAL_verdict=OFF'``` in the CMake args

@chuckatkins @danlipsa  @vicentebolea, do you agree ?

### Error message

[code]

### Information on your system

* **Spack:** 0.18.0.dev0 (ac9bd3d72d7a4

[2022-04-22 15:25] vicentebolea commented on #30250
@Billae `verdict` lib is shipped with the VTK source code, this is odd.

[2022-04-22 15:25] vicentebolea commented on #30250
cc @kwryankrattiger

[2022-04-22 16:46] joehellmersNOAA commented on #30072
I tried defining the external package, and that had no positive effect.

[2022-04-22 19:56] lee218llnl opened #30256 "scripts in view for python extensions should reference path to the python command in the view's bin directory"
### Summary

When I create an environment with python and a bunch of extensions, the resulting python scripts in the view's bin directory do not reference the path to python in the environment's bin directory, but rather reference the full path to the underlying python installation. This has the effect that the necessary site-packages for the script are not found, since the underlying python insta

[2022-04-22 21:13] #30237 closed, assigned to nobody

[2022-04-22 23:27] abhyshr commented on #30237
Looks like there is an API change to PETSc/TAO with the latest version. We haven't tested ExaGO with `petsc@3.17` yet.

[2022-04-22 23:34] cameronrutherford commented on #30237
@abhyshr #30238 fixes this for the moment. We can add Petc 3.17: once we support that in a tagged ExaGO release.

[2022-04-22 23:46] #30187 closed, assigned to alalazo

[2022-04-23 07:15] #25182 closed, assigned to nobody

[2022-04-23 13:30] rscohn2 opened #30263 "Installation issue: turbine (and other autotools packages) with intel-oneapi-mpi"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>==> Error: ProcessError: Command exited with status 1:
    '/tmp/rscohn1/spack-stage/spack-stage-turbine-1.3.0-n7xotpgl7y7bk6osi24pzzgiirok2hym/spack-src/configure' '--prefix=/home/rscohn\
1/local/projects/spack/spack/opt/spack/linux-ubuntu20.04-skylake/oneapi-2022.0.0/turbine-1.3.0-n7xotpgl7y7bk6osi24pzzgiirok2hym' '--

[2022-04-23 18:06] haampie commented on #30263
In my opinion the best solution is to fix the root cause of all dynamic library troubles, namely linkers. See https://github.com/spack/spack/pull/29657 for an example.

[2022-04-23 18:08] eschnett opened #30264 "Installation issue: gcc"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
==> Installing gcc-11.3.0-fhddxn3o6px3vgs7qir5cskvnrlb4ho7
==> No binary for gcc-11.3.0-fhddxn3o6px3vgs7qir5cskvnrlb4ho7 found: installing from source
==> Fetching https://mirror.spack.io/_source-cache/archive/b4/b47cf2818691f5b1e21df2bb38c795fac2cfbd640ede2d0a5e1c89e338a3ac39.tar.xz
1 out o

[2022-04-23 18:16] haampie commented on #30263
Instead of setting rpaths, we could also patch linkers to just register absolute paths to needed libraries. The benefit of this is we don't have to worry about search path order (some libs are linked by absolute path), and startup time is improved in the runtime linker since nothing has to be searched for. The only downside is that the `make install` step relocates just-built libraries, meaning we

[2022-04-25 01:26] asesidaa opened #30268 "Installation issue: esmf does not set ESMF_COMM when using hpcx-mpi"
### Steps to reproduce the issue

Use hpcx-mpi as mpi provider
[code]
Can be fixed by add hpcx-mpi to https://github.com/spack/spack/blob/develop/var/spack/repos/builtin/packages/esmf/package.py#L193
@climbfuji

### Error message

Will get a bunch of errors indicate MPI not found
<details><summary>Error message</summary><pre>

</pre></details>

### Information on your system

* **Spack:** 0.18.0.d

[2022-04-25 12:17] HemantaKG opened #30277 "unable to install package"
### Steps to reproduce

`spack install gcc@:9.4.0`
`spack install zlib`

### Error message

[code]

[code]

### Information on your system

[code]

[code]

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have searched the issues of this repo and believe this is not a duplicate
- [X] I have run the failing commands in debug mo

[2022-04-25 15:07] alalazo commented on #20745
Related to #19364

[2022-04-25 15:16] HemantaKG commented on #30277
this issue has been resolved. we need to install the python3-devel package
`yum install python3-devel`

[2022-04-25 15:16] #30277 closed, assigned to nobody

[2022-04-25 15:23] alalazo commented on #23569
Fixed by #28673

[2022-04-25 15:23] #23569 closed, assigned to alalazo

[2022-04-25 15:26] alalazo commented on #21660
Closing on the assumption that the lack of answer means that the issue is solved

[2022-04-25 15:26] #21660 closed, assigned to alalazo

[2022-04-25 15:47] alalazo commented on #28747
I would also see how somebody could claim the behavior is correct in v0.17 and uncorrect in v0.16 - if we consider the local repository as an "overlay" :thinking: One way or the other we probably need to add docs on the expected behavior.

[2022-04-25 15:52] climbfuji commented on #30268
Thanks for reporting. Please create a PR for this.

[2022-04-25 17:09] #29201 closed, assigned to tgamblin, alalazo

[2022-04-25 17:09] #30064 closed, assigned to nobody

[2022-04-25 18:15] #30264 closed, assigned to nobody

[2022-04-26 00:19] #29672 closed, assigned to becker33

[2022-04-26 08:48] alalazo commented on #28201
I'm finally getting to this, apologies for the delay.

I think this is not a bug, but the expected behavior. If you ask for reuse, Spack will try to reuse whatever you installed if it fits the requirements. If there are installed specs built by Spack with their dependencies that can be reused, those are preferred to the externals declared in `packages.yaml`. For instance, you had `mpich` already i

[2022-04-26 08:48] alalazo commented on #28201
Let me know if you still have a reliable reproducer for this and I'll get back to the issue asap.

[2022-04-26 09:01] haampie opened #30291 "Parallel install of environments is not process safe"
### Steps to reproduce

Parallel builds of environments seem to have some race.

[code]

The real issue here is that I absolute do not want spack to write to spack.yaml/spack.lock at all...

Can environments be read-only please?

[2022-04-26 13:29] alalazo commented on #28201
For the record, @psakievich provided a reproducer:
[code]
Currently trying to trim the issue down to its root cause.

[2022-04-26 13:50] alalazo commented on #28201
The issue is triggered by having the external specs not buildable and overconstrained with the `patches=` variant. By applying this diff to `externals.yaml`:
[code]
I can concretize correctly. Screenshot attached.
![Screenshot from 2022-04-26 15-48-15](https://user-images.githubusercontent.com/4199709/165315018-8173d258-c6d0-449e-87af-84d4da26edbc.png)

[2022-04-26 13:58] alalazo commented on #28201
This issue is unrelated to `--reuse`, which seems to be working correctly. A smaller reproducer is:
[code]
Trying to concretize the environment above gives the same unsat result as shown here.

[2022-04-26 14:05] psakievich commented on #28201
@alalazo thank you for this. I'm curious for a suggestion on how to fix this for our project which is using the spack api to generate our external specs. The source code is here: https://github.com/psakievich/spack-manager/blob/189807ef1a4ca8b545892a74ba7e979cd95adc1f/spack-scripting/scripting/cmd/manager_cmds/external.py#L95

Should we just manually prune out patches from the spec like we do with

[2022-04-26 14:06] psakievich commented on #28201
It seems like this is more our fault than spack's. But it would be a nice feature to be able to generate a spec that is not over constrained but still has the variants.

[2022-04-26 14:14] alalazo commented on #28201
Part of the problem is that the `patches` variant is special and is not meant to be added to externals. It's added after the solve, based on the other properties of the spec. The solver thus finds no way to add the right `patches=abcd` and it fails since it can't build the spec.

I would say that the proper way to do this would be to expose the DB with the specs and add the `--reuse` option. Or do

[2022-04-26 14:28] psakievich commented on #28201
So this is how we are generating the external specs
[code]
 but we are probably doing something that is not quite kosher because we communicate across spack instances. The features allows a user to point to another environment (often from another spack instance with a different database) and pull all the specs in that environment into an `externals.yaml` file. We are just using the environment's v

[2022-04-26 14:32] psakievich commented on #28201
This seems like it is likely an issue with us pushing spack into a new territory. We just want to take complete control over the packages we are building with for developer environments and not rely on what the concretizer may choose for us. It might be worth following up more on slack or in one of the weekly meetups. I think I know everything I need to know to be able to close this issue from my

[2022-04-26 14:42] alalazo commented on #28201
In a few days we'll merge #28504 and then make reuse the default. I think your use case should then work when you e.g. use the other installation tree as an upstream. Let's keep this one open a bit more and verify it works when we get there.

[2022-04-26 15:33] mwkrentel commented on #30223
Fixed in #30261.
I'll look at reworking how we build hpctoolkit on Cray,
but at least now old revs will continue to work.

[2022-04-26 15:33] #30223 closed, assigned to nobody

[2022-04-26 16:20] #27984 closed, assigned to nobody

[2022-04-26 19:08] eugeneswalker commented on #29669
At least in my case, where I'm working with the latest Ubuntu 20.04 Docker container image, the issue seems to be with Cargo's internal git library. I was able to work around it by setting `CARGO_NET_GIT_FETCH_WITH_CLI=true` in the `py-cryptography` build environment, and then adding an explicit build dependency on `git`.

See https://community.home-assistant.io/t/error-failed-building-wheel-for-c

[2022-04-26 20:38] adamjstewart commented on #30256
I wonder if this is why I've been having issues getting `mypy` to detect type hints for libraries I have installed in an environment.

[2022-04-26 20:54] vsoch opened #30310 "Possible redundancy bug deriving spec hash?"
I just saw this:

https://github.com/spack/spack/blob/83b91246b101a30f78f246fb40fa9df54a1e8403/lib/spack/spack/spec.py#L4900-L4903

Should this be indexing something else if build_spec is found as a key? Or just nix the if and always look for that hash? It seems to do the same thing either way.

[2022-04-27 00:35] markcmiller86 opened #30317 "Assumed spack wouldn't run -j 20 on a login node"
### Summary

spack version: 0.18.0.dev0 (b00983439fc3f11365664853d80cb7f497fd88a6)

1. clone spack repo on LLNL CZ system (like pascal)
2. set up compilers as normal
3. run `spack install visit%gcc@6.1.0 ^python+shared ^mesa+opengl`
4. look at load average and top output
5. You will see load average jump to over 10 and many spack build processes

It didn't occur to me to go look for this but I got

[2022-04-27 02:58] #29669 closed, assigned to nobody

[2022-04-27 03:53] Nyovelt opened #30319 "[hpcx-mpi] external spec cannot use"
### Steps to reproduce

[code]

and I add

[code]

However, I cannot find any packages related by `spack find`

### Error message

_No response_

### Information on your system

[code]

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have searched the issues of this repo and believe this is not a duplicate
- [X] I have run th

[2022-04-27 04:41] mwkrentel commented on #30317
@markcmiller86 Are you sure it was 20 and not 16?

This is controlled by `build_jobs` in `config.yaml`.

[code]

Pascal compute nodes have 36 cores + HT.  Assuming the login nodes are the
same, then `-j 16` seems reasonable enough.  Anyway, if you want to change it,
use `config.yaml` or the command line.

See #26242 and  #11072 and others.

[2022-04-27 07:30] cessenat opened #30320 "spack mirror create zlib or whatever package fails with Error: Invalid url format from url: $spack/var/spack/cache"
### Steps to reproduce

That's already since a while that spack mirror create fails
[code]

When I read Bug report https://github.com/spack/spack/issues/30132
I got the idea to enforce a mirror path with -d to my actual "$spack/var/spack/cache" as
[code]

### Error message

[code]

### Information on your system

$ spack debug report
* **Spack:** 0.18.0.dev0 (d5e1fa5771c9cb1a2b85ab129be182f7081ae7

[2022-04-27 07:41] alalazo commented on #30319
Did you try using `hpcx-mpi` in a spec? If you do it will be installed as "external". Simple example with `zlib`:
[code]
Trying to install that:
[code]

[2022-04-27 07:41] #30319 closed, assigned to nobody

[2022-04-27 08:09] alalazo commented on #30310
Will be fixed when #28504 is merged, see https://github.com/spack/spack/pull/28504#discussion_r813855165

[2022-04-27 08:10] #28259 closed, assigned to tgamblin, alalazo

[2022-04-27 13:01] haampie commented on #30256
Can you give an example? For me:

[code]

it works, the exception is python3.9-gdb.py, but its shebang points to the system python anyways, which is a package issue.

[2022-04-27 16:12] lee218llnl commented on #30256
I think there is a good chance that I broke things myself. When first creating my spack.yaml, I didn't specify a "root" directory, so spack used ._view by default. I subsequently specified a different "root" directory. It would be nice if spack made the necessary adjustments, but I don't think it is a major issue, so I will close this unless someone thinks that it should be fixed.

[2022-04-27 16:12] #30256 closed, assigned to haampie, tgamblin, becker33

[2022-04-27 16:23] adamjstewart commented on #30317
I don't think it's possible for Spack to tell whether it's on a login node or compute node or laptop or cloud resource. It's up to the users and sys admins to make sure the defaults are appropriate. We could change Spack to globally default to 1 core when compiling, but that's likely a bad idea for the majority of users.

[2022-04-27 16:40] eugeneswalker commented on #30195
I'm seeing this same error on OLCF Crusher, which is a Cray system, when building `binutils %cce@13.0.0`

@lukebroskop Any ideas?

[2022-04-27 17:07] lukebroskop commented on #30195
Could be I have a fix I have not created a PR for. I'll do that now, but here it is from the binutils package (look at the two `if self.spec.satisfies('%cce')` blocks):

[code]

[2022-04-27 17:12] lukebroskop commented on #30195
see #30338

[2022-04-27 17:15] tldahlgren commented on #30134
From posts I've perused it seems like retaining permissions can be an issue with different fetchers.  As I mentioned in the user meeting, the safest thing to do would be to use `os.chmod` to ensure the script is executable before you try to run it.

[2022-04-27 17:19] eschnett opened #30339 "Installation issue: llvm"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
clang: error: the clang compiler does not support '-march=skylake'
</pre></details>

### Information on your system

$ spack debug report
* **Spack:** 0.18.0.dev0 (1243717012b60edf7cd06626864248f7050ef14d)
* **Python:** 3.8.9
* **Platform:** darwin-monterey-skylake
* **Concretizer:** clingo

[2022-04-27 17:19] wyphan commented on #30134
PR incoming with `os.chmod`.

[2022-04-27 17:26] wspear commented on #24426
I'm cross-linking a few issues that report this same behavior. Using this one as the top since I like your suggested fix. I'll add more as I run into them.

**Issues where fallow-argument-mismatch is a known solution:**
https://github.com/spack/spack/issues/19964
https://github.com/spack/spack/issues/24030
https://github.com/spack/spack/issues/25509

**Issues that probably have the same root cause

[2022-04-27 17:35] rgmiller commented on #14900
I'd like to point out that the currently, AArch64 users can't actually build Go with Spack.  Pull #28850 changed go-bootstrap/package.py to conflict when the target is aarch64 and the platform is darwin and changed also go/package.py to remove the option to bootstrap using gccgo.  Unfortunately, as discussed above, the go-bootstrap is too old to support **any** AArch64 hardware, so go-bootstrap do

[2022-04-27 17:50] trws commented on #14900
If it works, yes you definitely should.

[2022-04-27 18:38] wyphan commented on #30134
Hmm, now `sh` exits with error 127...
[code]
I guess this means a `cd` is also needed.

[2022-04-27 18:55] wyphan commented on #30134
Confirmed a `cd` is needed:
[code]

[2022-04-27 19:03] tldahlgren commented on #30134
I haven't used `spack style`. It looks like it doesn't like the import order (`sort checks`) BUT the path error it is giving is valid in that it doesn't look like providing `fpm` is sufficient.  Perhaps use the fully qualified path to `fpm/package.py`

[2022-04-27 19:04] tldahlgren commented on #30134
Or you need `read` permissions to open the file.

[2022-04-27 19:09] wyphan commented on #30134
~~The `cd` is required to move to the newly cloned git repo.~~
~~The `install.sh` script resides on the root of the repo directory structure on GitHub.~~
~~https://github.com/fortran-lang/fpm~~

~~Maybe Spack haven't cloned the repo yet since the explicit `git clone` or `curl` command is nowhere to be found in the `package.py` file?~~

Confirmed working on a Docker container running Ubuntu 20,04.

[2022-04-27 19:21] markcmiller86 commented on #30317
Nope. I was looking at all the jobs in `top` output and didn't explicitly count them. Seemed like a lot though!

FYI...I went searching docs for `mac_processors` and when I entered that text on main docs search dialog...it never returned. I waited > 5mins. Oddly though, if I drill down into a specific section of the docs and attempt same search, it returns quickly.

Ok...I was thinking it might be

[2022-04-27 20:21] trws commented on #30339
This looks like another to report upstream to the archspec repo. Most recent macOS clang compilers do not support march in some cases, in others may not have that target. This issue is one of those most likely.

[2022-04-27 21:33] eschnett commented on #30339
I don't think it's the system `apple-clang` that is causing problems: I tried it with `-march=skylake`, and it doesn't complain. Also, the error is only reported after quite some time during the build process.

It might be that the newly Spack-built `clang` doesn't understand this option.

[2022-04-27 21:53] haampie commented on #30339
The new clang is usually invoked directly (by absolute path), bypassing the compiler wrapper.

It fails at target [300/14327], clang it not built by then. It only fails for `clang++` not `clang`, did you try both?

[2022-04-27 22:21] eschnett commented on #30339
This is the failing call to the system apple-clang `clang++`:
[code]

It's failing because it has an `-arch armv7k` in there. Spack shouldn't add `-march=skylake` here.

[2022-04-27 22:21] eschnett commented on #30339
Once again, more readable:
[code]

[2022-04-28 00:16] #30134 closed, assigned to nobody

[2022-04-28 03:04] eschnett opened #30355 "Error messages due to spec syntax error in packages should refer to the offending package"
### Steps to reproduce

[code]

### Error message

[code]

This error message is bad because it gives no context. It should say which file and which line contains the error. It should say what was being parsed when the error occurred, etc.

The error was caused by this line I wrote:
[code]

I forgot the `@` character in front of the version number.

### Information on your system

Irrelevant.

I c

[2022-04-28 09:37] #29491 closed, assigned to tgamblin, alalazo

[2022-04-28 14:30] charmoniumQ opened #30373 "Installation issue: py-numpy"
### Steps to reproduce the issue

`py-numpy@1.22.3%gcc@4.8.5+blas+lapack patches=873745d arch=linux-rhel7-sandybridge` is required by `py-astropy@4.0.1.post1%gcc@4.8.5~extras arch=linux-rhel7-sandybridge` and `py-numpy` is broken.

[code]

### Error message

<details><summary>Error message</summary>

<pre>
==> Waiting for berkeley-db-18.1.40-fyry4g6hq3nkqcsz6dlh3u5mmyju55wx
[+] /scratch/users/gray

[2022-04-28 16:19] adamjstewart commented on #30373
My first guess would be that GCC 4.8 is too old to build modern numpy, but @rgommers can confirm or deny. I know GCC 4.7 hasn't worked in a long time, wouldn't be surprised if 4.8 was no longer supported too. If we know what versions of GCC are supported we can add a `conflict` to the package to prevent this kind of issue. [The docs](https://numpy.org/doc/stable/user/building.html) still claim tha

[2022-04-28 16:22] adamjstewart commented on #30373
Also note that we inject `-std=c99` into the build when building with GCC 4.8–5.1. Not sure if that's relevant, but worth mentioning. I don't see any similar build issues reported on numpy's GitHub.

[2022-04-28 16:23] charmoniumQ commented on #30373
Switching to a newer GCC worked for me. This may be related to numpy/numpy#21302, which was fixed in numpy/numpy#21306. How does one backport the relevant Numpy PR?

[2022-04-28 16:27] adamjstewart commented on #30373
Oh good catch. I think we have a couple options. If `-std=c++11` is required to build numpy, we could inject that instead by modifying `flag_handler` in that package. If we want to add the patch from that PR, we could do that too. Spack allows for both patch "files" as well as patch "URLs" like `https://github.com/numpy/numpy/pull/21306.patch?full_index=1`. Can you first try modifying the package

[2022-04-28 17:48] tgamblin commented on #20292
Fixed by #29933

[2022-04-28 17:48] #20292 closed, assigned to alalazo

[2022-04-28 18:06] #30317 closed, assigned to nobody

[2022-04-28 23:02] eugeneswalker opened #30388 "openblas@0.3.20 %cce@13 build fails: ftn-2307 ftn: "-m" option must be followed by 0, 1, 2, 3 or 4"
### Steps to reproduce the issue

`openblas@0.3.20 %cce@13.0.1` build fails using:
* `spack/develop` (2515cafb9c60851d5b218d1262212034f5606869 from `Wed Apr 27 16:08:33 2022 -0700`)
* `PrgEnv-cray/8.2.0`
* `cce/13.0.1`
* `SUSE Linux Enterprise Server 15 SP2`

Spack environment:
[code]

Concretization:
[code]

Reproducer:
[code]

### Error message

<details><summary>Error message</summary><pre>
==>

[2022-04-28 23:03] Sinan81 opened #30389 "Installation issue: gdal+kea kealib can't locate its own libraries"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
...
</pre></details>

### Information on your system

[code]
nothing to suggest that the issue is resolved in develop branch (based on updates to the package files)

### Additional information

build logs to be provided.

### General information

- [X] I have run `spack debug report` and rep

[2022-04-28 23:03] Sinan81 commented on #30389
pinging @adamjstewart

[2022-04-28 23:04] Sinan81 commented on #30389
Seems to be related to https://github.com/spack/spack/issues/27601

[2022-04-28 23:04] Sinan81 commented on #30389
I'll push a fix for it soon.

[2022-04-28 23:11] Sinan81 commented on #30389
Let me see if I can find a simple example where libs property is defined. The example in HDF5 package file seems a bit complicated.

[2022-04-28 23:15] Sinan81 commented on #30389
Do I understand it correctly that the issue originates from the fact that packagename `kealib` doesn't match the library name `libkea` (i.e. by default spack is looking for `lib<packagename>`)?

[2022-04-28 23:16] eugeneswalker opened #30390 "ncurses@6.2 %cce@13 build fails: llvm/lib/Analysis/ScalarEvolution.cpp:3962: uint64_t llvm::ScalarEvolution::getTypeSizeInBits(llvm::Type*) - Type is not SCEVable!"
### Steps to reproduce the issue

`ncurses@6.2 %cce@13.0.1` build fails using:
* `spack/develop` (2515cafb9c60851d5b218d1262212034f5606869 from `Wed Apr 27 16:08:33 2022 -0700`)
* `PrgEnv-cray/8.2.0`
* `cce/13.0.1`
* `SUSE Linux Enterprise Server 15 SP2`

Spack Environment
[code]

Concretization
[code]

Reproducer
[code]

### Error message

<details><summary>Error message</summary><pre>
==> Instal

[2022-04-28 23:43] Sinan81 commented on #27601
list of files under postgresql prefix/lib:
[code]

[2022-04-28 23:55] Sinan81 commented on #30389
the above PR fixes the issue.

[2022-04-29 01:08] Sinan81 commented on #27601
the above PR fixed the build issue for gdal@2.4.3 for example.

[2022-04-29 01:08] Sinan81 commented on #27601
It seems there is a configuration issue with the newer gdal so that `gdal+pg` fails for a different reason during config phase.

[2022-04-29 02:38] #30389 closed, assigned to nobody

[2022-04-29 07:46] x2v0 opened #30394 "spack under wsl"
### Steps to reproduce

Hi,
I'm trying to use spack  on wsl2 machine

$ spack --debug --stacktrace install cpuinfo

gives exception.
I found the same problem was reported in

[https://githubhot.com/repo/spack/spack/issues/29673](https://githubhot.com/repo/spack/spack/issues/29673)

**_Install any package on Windows e.g. spack install cpuinfo
Spack's tee functionality does not pipe the output to st

[2022-04-29 07:49] x2v0 commented on #30394
the exception is raised in build_enviroment.py
def start_build_process(pkg, function, kwargs):

_**# Forward sys.stdin when appropriate, to allow toggling verbosity
        if sys.platform != "win32" and sys.stdin.isatty() and hasattr(sys.stdin,
                                                                      'fileno')**_

[2022-04-29 07:50] x2v0 commented on #30394
Possible solution is to use "uname -a" to detect WSL2
and then do not redirect stdin

[2022-04-29 08:44] haampie commented on #30390
Can you report this upstream instead of in spack?

[2022-04-29 09:24] haampie commented on #30394
aren't you running into an issue where tar.exe is used instead of linux tar?

[2022-04-29 09:37] x2v0 commented on #30394
Hi,
Not, I got exception
but for testing I added to

build_enviroment.py
def start_build_process(pkg, function, kwargs):

 ***sys.platform = "win32"***

        _# Forward sys.stdin when appropriate, to allow toggling verbosity
        if sys.platform != "win32" and sys.stdin.isatty() and hasattr(sys.stdin,
                                                                      'fileno'):_

and get

[2022-04-29 10:45] x2v0 commented on #30394
An article describing difference between linux and windows consoles
https://devblogs.microsoft.com/commandline/windows-command-line-inside-the-windows-console/

[2022-04-29 13:50] lukebroskop commented on #30390
Thanks @eugeneswalker! We are aware of this issue. It should be fixed in an upcoming release (CCE14 ~May timeframe).

[2022-04-29 13:56] lukebroskop commented on #30390
In the meantime, if you want to use CCE13 and work around this problem, you'll need to build ncurses with the `craype-x86-rome` module loaded. However, with spack I was unable to swap the arch targeting modules on crusher, so I forced additional changes to the environment too.
[code]

[2022-04-29 13:58] lukebroskop commented on #30388
@eugeneswalker, because of this issue we typically use gcc to build openblas.

[2022-04-29 14:02] x2v0 commented on #30394
Hi,
did anybody use spack under windows11/WSL2/linux[CentOS7, ubuntu.xxx, etc]?
... or I'm the the first one?

Regards. Valeriy

[2022-04-29 14:18] eugeneswalker commented on #30390
Yes, sorry. Sounds like Cray is aware of issue. Closing issue here.

[2022-04-29 14:18] #30390 closed, assigned to nobody

[2022-04-29 14:18] eugeneswalker commented on #30390
Thank you!

[2022-04-29 14:30] eugeneswalker commented on #30388
Is there a minimum/maximum version of GCC you recommend for building OpenBLAS if I'm planning on linking `%cce@13` compiled programs against OpenBLAS `%gcc`, to avoid any ABI incompatibilities?

[2022-04-29 14:55] lukebroskop commented on #30388
For CCE13, you'd probably be fine with a recent version of GCC, i test with gcc@11.2.0 on crusher. But if you have any concern, to match what we build CCE against, use gcc 8.1.0. FWIW, CCE14 will be built against gcc 10.3.0

[2022-04-29 18:07] benpm opened #30406 "Error: KeyError: 'BINDIR' when installing package"
### Steps to reproduce

[code]

### Error message

[code]

### Information on your system

[code]

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have searched the issues of this repo and believe this is not a duplicate
- [X] I have run the failing commands in debug mode and reported the output

[2022-04-29 18:07] benpm commented on #30406
@adamjstewart

[2022-04-29 19:29] birnbera opened #30410 "Multiple issues with `spack buildcache` command in v0.17"
### Steps to reproduce

Fresh checkouts of Spack `v0.17.2` seem to have multiple issues with build caches. At a minimum, `spack buildcache list` seems to expect the `spack-public` mirror to have a `build_cache` sub-directory/prefix, which when missing generates an unexpected error:

[code]

This may be addressed, in part, by a combination of #30045 and #30046, however generating an empty list of m

[2022-04-30 00:04] kcgthb commented on #28554
Hi @shahzebsiddiqui

Have you ever solved that last issue? We're seeing the exact same errors trying to compile CP2K 9.1 with CUDA:
[code]

[2022-04-30 13:38] guy-maurel opened #30417 "I don't need to be inform"
### Steps to reproduce

bla

### Error message

bla

### Information on your system

please delete me

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have searched the issues of this repo and believe this is not a duplicate
- [X] I have run the failing commands in debug mode and reported the output

[2022-04-30 14:43] charmoniumQ commented on #30373
With `-std=c++11`, I'm not sure how to apply it only to C++ code,

[code]

and only to compilation step,

[code]

I'll try the patch next.

[2022-04-30 17:21] adamjstewart commented on #30373
You may have to try something like:
[code]

[2022-04-30 18:08] dev-zero commented on #28554
@kcgthb can you please check whether you have a recent version of Spack (and hence the CP2K package)?

[2022-04-30 18:11] kcgthb commented on #28554
This is actually outside of Spack, trying to compile CP2K directly. I was just curious to know what you did to fix that specific compilation error, since this is the only place I found it mentioned so far.
Thanks!

[2022-04-30 18:27] dev-zero commented on #28554
@kcgthb my guess is that you're using an old arch file (from CP2K 8.1) with CP2K 9.1 where some of the accelerator-related definitions changed. See this part of the Spack package definition:

https://github.com/spack/spack/blob/f2c1b40e586529207615df6d4b41391ff1e6b02b/var/spack/repos/builtin/packages/cp2k/package.py#L537-L554

[2022-05-01 15:51] michelemartone opened #30424 "librsb update to 1.3.0.1"
### Summary

Hi.
librsb-1.3.0.1 is out, at https://sourceforge.net/projects/librsb/files/
Time to update its package.py!

### Rationale

_No response_

### Description

_No response_

### Additional information

_No response_

### General information

- [X] I have run `spack --version` and reported the version of Spack
- [X] I have searched the issues of this repo and believe this is not a duplica

[2022-05-02 07:57] ser3n1ty87 opened #30430 "Installation issue: kitty"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
==> Installing kitty-0.12.3-x6gw7pfas75zt46lqfdfktptgwdiv3et
==> No binary for kitty-0.12.3-x6gw7pfas75zt46lqfdfktptgwdiv3et found: installing from source
==> Using cached archive: /hpc/uhome/kvobig/my-apps/spack/var/spack/cache/_source-cache/archive/8d/8d8a1f9c48519e618ac53b614056cf4589edb0

[2022-05-02 08:44] jounathaen commented on #29938
Just for a short confirmation: I'm running into the same issue

[2022-05-02 09:11] jounathaen commented on #28457
The second error seems to be the same as #29938

[2022-05-02 13:38] #30195 closed, assigned to nobody

[2022-05-02 14:08] #30417 closed, assigned to nobody

[2022-05-02 15:02] kgerheiser opened #30433 "Add option to disable git-lfs when cloning a git repo"
### Summary

I am cloning a repo in Spack using Git, but it contains a git-lfs directory to version control large files of several GBs which I don't need and git throws an error if git-lfs is not present. So, this requires a package that uses git-lfs to have `depends_on('git-lfs')`.

I would like an option to disable this because sometimes you just want the source code and the large files are not

[2022-05-02 16:05] elfprince13 commented on #28830
Can we please update the code to work with new botocore instead of freezing it?

[2022-05-02 22:41] #30424 closed, assigned to nobody

[2022-05-03 07:25] #27601 closed, assigned to nobody

[2022-05-03 13:09] gphilip opened #30453 "Installation issue: mesa"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
==> Error: ProcessError: Command exited with status 1:
    'meson' '/tmp/gphilip/spack-stage/spack-stage-mesa-22.0.2-icpxaou2womg2a54n33g67tekavhzi7s/spack-src' '--prefix=/Storage/builds/spack/opt/spack/linux-linuxmint20-skylake/gcc-9.4.0/mesa-22.0.2-icpxaou2womg2a54n33g67tekavhzi7s' '--libd

[2022-05-03 15:30] wdconinc commented on #30453
Same here. Following diff resolves build issue (ref https://gitlab.freedesktop.org/mesa/mesa/-/commit/76791db0882b3715cd7d0a47fd14e1f784901b09), but ymmv on operation:
[code]

[2022-05-03 15:38] wdconinc commented on #30453
I am refraining from submitting a PR since it is not clear to me whehter a change from gallium-xlib to xlib for older versions is the right way to resolve this, or if this needs to be conditioned on version @22:.

[2022-05-03 15:45] #30268 closed, assigned to nobody

[2022-05-03 19:57] eugeneswalker commented on #29352
@wspear FYI

[2022-05-03 20:07] eugeneswalker commented on #29352
And for reference: https://github.com/boostorg/build/issues/739

[2022-05-03 20:13] eugeneswalker commented on #30453
I think this is brand new, with `@22:`, but am testing without this patch -- everything else the same -- but with `@21.3.8` to verify. Will update here when finished.

[2022-05-03 20:16] eugeneswalker commented on #30453
`mesa@21.3.8` builds fine for me. We should condition this on `@22:` and submit PR? What do you think?

[2022-05-03 20:36] gphilip commented on #30453
Thank you @wdconinc , this change makes the build go through. I am marking this issue as closed.

@eugeneswalker : Thank you for looking into this.

[2022-05-03 20:40] wdconinc commented on #30453
Don't close it until a PR has been merged.

[2022-05-03 22:35] eschnett opened #30464 "Cannot build with nvhpc"
### Steps to reproduce

I want to build `amrex` via `nvhpc`. The `spec -I` command you're asking for here doesn't work because `nvhpc` is not recognized as compiler. I'll list it anyway:
[code]
but this error is unrelated. (The error appears because `cmake` is a build dependency of `amrex`, and `cmake` lists `%nvhpc` as conflict.)

I am using an environment which includes the specs
[code]
and resp

[2022-05-04 00:21] kcgthb commented on #28554
@dev-zero Thanks for the pointer!

We've been using 9.1-specific directives in our Makefile, following the information in https://github.com/cp2k/cp2k/blob/master/INSTALL.md#2i-cuda-optional-improved-performance-on-gpu-systems, which seems to match the directives in the Spack package definition (except `-D__GRID_CUDA`, but I tried adding it and still got the same error).

Thanks anyways!

[2022-05-04 03:53] #30453 closed, assigned to nobody

[2022-05-04 03:56] alalazo commented on #30464
@samcmill

[2022-05-04 04:03] #30250 closed, assigned to nobody

[2022-05-04 05:29] #29352 closed, assigned to nobody

[2022-05-04 06:16] dev-zero commented on #28554
@kcgthb so, the error you're seeing comes from DBCSR (embedded in CP2K). Please note that when you change flags, the CP2K build system does not automatically rebuild affected files, hence you may have to to a `make ... extclean` to force the rebuild of the embedded DBCSR library with the new flags.

[2022-05-04 14:16] #14900 closed

[2022-05-04 15:52] hainest opened #30475 "Incorrect URL substitution when fetching tarball for version with no checksum"
### Steps to reproduce

[code]
rempi does not have a `version('master')`, so spack does URL substitution to fetch an unchecksummed version. The `rempi.url` is

    url = "https://github.com/PRUNERS/ReMPI/releases/download/v1.0.0/ReMPI-1.0.0.tar.gz"

Substitution gives

    https://github.com/PRUNERS/ReMPI/releases/download/vmaster/ReMPI-1.0.0.tar.gz

[2022-05-04 16:05] hainest commented on #30475
Oooh, I just realized what's happening. Because there isn't a `rempi.git`, spack tries to do substitution on the download url with the assumption that '@master' conforms to the url's version format. That's probably a really tricky thing to detect without making an unmanageable database of what people call their development branches. I'll update the rempi package to have a git url and a `version('m

[2022-05-04 16:06] adamjstewart commented on #30373
@rgommers any suggestions for this issue? Should we backport the patch or inject the right compiler flags?

[2022-05-04 17:46] climbfuji opened #30477 "Get timeout for web requests with urllib from spack config, same as for curl"
### Summary

I am getting timeout errors when building containers like
[code]
I looked through the code related to the web requests and I found that for `curl` downloads, the default timeout of 10s can be overwritten by a spack config entry. For `urllib` downloads, the timeout is hardcoded to 10s in the Python module.

### Rationale

Being able to replace the default timeout of 10s with the same s

[2022-05-04 17:50] #30406 closed, assigned to adamjstewart

[2022-05-04 18:47] eugeneswalker opened #30478 "catalyst@5.6.0 %gcc@11.1.0 build fails: Core/vtkMath.h:1514:15: error: 'clamp' is not a member of 'std'"
### Steps to reproduce the issue

`catalyst@5.6.0` build fails using:
* `spack/develop` (250d5d2c00ad9d6a747499b1160bc4a460266fae from `Wed May 4 13:30:15 2022 -0400`)
* Ubuntu 20.04, X86_64
* GCC 11.1.0

Concrete spec: [catalyst-ry2bx3r.spec.json.txt](https://github.com/spack/spack/files/8626177/catalyst-ry2bx3r.spec.json.txt)

Quickly reproducible using cached dependency binaries and Docker cont

[2022-05-04 18:55] eugeneswalker opened #30480 "flux-sched@0.22.0 %gcc@9.4.0 build fails: reapi_cli_impl.hpp:597:15: comparison of integer expressions of different signedness"
### Steps to reproduce the issue

`flux-sched@0.22.0` build fails using:
* `spack/develop` (250d5d2c00ad9d6a747499b1160bc4a460266fae from `Wed May 4 13:30:15 2022 -0400`)
* Ubuntu 20.04, X86_64
* GCC 9.4.0

Concrete spec: [flux-sched-aypqq4i.spec.json.txt](https://github.com/spack/spack/files/8626251/flux-sched-aypqq4i.spec.json.txt)

Quickly reproducible using cached dependency binaries and Docke

[2022-05-04 19:06] rgommers commented on #30373
It hasn't been backported in NumPy itself yet, but I think it will - I've just proposed doing so on the PR with the fix. Backporting the patch seems reasonable. It should only apply to 1.22.0 - 1.22.3

[2022-05-04 19:17] adamjstewart commented on #30373
@charmoniumQ want to submit a PR to add this patch? If not @rgommers or I can do this, should only be 1 line of code.

[2022-05-04 19:20] ashermancinelli commented on #28441
I can't speak to any packages other than HiOp and ExaGO, but with recent help from @eugeneswalker, I think our packages handle this quite well now. I don't know what the closure criterion are for this issue, but it seems to me they may have been met.

[2022-05-04 19:54] eugeneswalker opened #30483 "mfem@4.4.0 +rocm build fails: config/defaults.mk:184: Unable to determine HIP_DIR..."
### Steps to reproduce the issue

`mfem@4.4.0 +rocm` build fails using:
* `spack/develop` (250d5d2c00ad9d6a747499b1160bc4a460266fae from `Wed May 4 13:30:15 2022 -0400`)
* Ubuntu 20.04, X86_64
* GCC 9.4.0
* ROCm 5.0.2

Concrete spec: [mfem-6kjw6vo.spec.json.txt](https://github.com/spack/spack/files/8626733/mfem-6kjw6vo.spec.json.txt)

Quickly reproducible using cached dependency binaries and Docke

[2022-05-04 19:57] samcmill commented on #30464
I suspect you are setting `CXX=nvcc`?

You probably need to add `--forward-unknown-to-host-compiler` to your `CXXFLAGS` in that case.

[2022-05-04 20:01] eugeneswalker opened #30484 "hpx@1.7.1 +rocm build fails: asio/query.hpp:274:3: dynamic initialization is not supported for..."
### Steps to reproduce the issue

`hpx@1.7.1 +rocm` build fails using:
* `spack/develop` (250d5d2c00ad9d6a747499b1160bc4a460266fae from `Wed May 4 13:30:15 2022 -0400`)
* Ubuntu 20.04, X86_64
* GCC 9.4.0
* ROCm 5.0.2

Concrete spec: [hpx-4br5qqq.spec.json.txt](https://github.com/spack/spack/files/8626750/hpx-4br5qqq.spec.json.txt)

Quickly reproducible using cached dependency binaries and Docker c

[2022-05-04 20:05] eugeneswalker opened #30485 "qt@5.15.3 build fails: qt/package.py:541, in common_config_args: '_use_spack_dep' is not defined"
### Steps to reproduce the issue

`qt@5.15.3` build fails using:
* `spack/develop` (250d5d2c00ad9d6a747499b1160bc4a460266fae from `Wed May 4 13:30:15 2022 -0400`)
* Ubuntu 20.04, X86_64
* GCC 11.1.0

Concrete spec: [qt-vsih2gf.spec.json.txt](https://github.com/spack/spack/files/8626807/qt-vsih2gf.spec.json.txt)

Quickly reproducible using cached dependency binaries and Docker container image:
* `e

[2022-05-04 20:19] sethrj commented on #30485
@chuckatkins the danger of refactoring. can you please fix asap?

[2022-05-04 21:03] charmoniumQ commented on #30373
It should be a good idea to do this always (no `when`), right? Will this work if the patch has already been applied (e.g. future versions of Numpy)?

[2022-05-04 21:15] rgommers commented on #30373
The patch won't apply in versions of NumPy that already incorporate the patch, right?

[2022-05-04 21:56] adamjstewart commented on #30373
Yes, the patch won't apply correctly for future versions of numpy, and likely won't apply to older versions either, so we'll definitely need to use `when`. You can use `spack patch py-numpy@X.Y.Z` to make sure the patch actually applies correctly and see how far back you can get the patch to work. We _could_ make a different patch for older versions if someone needs them, but I don't usually bothe

[2022-05-04 22:48] eugeneswalker opened #30489 "slate@2021.05.02 +rocm build fails: hipify-perl: not found"
### Steps to reproduce the issue

`slate@2021.05.02 +rocm` build fails using:
* `spack/develop` (250d5d2c00ad9d6a747499b1160bc4a460266fae from `Wed May 4 13:30:15 2022 -0400`)
* Ubuntu 20.04, X86_64
* GCC 9.4.0
* ROCm 5.0.2

Concrete spec: [slate-llhurqr.spec.json.txt](https://github.com/spack/spack/files/8627815/slate-llhurqr.spec.json.txt)

Quickly reproducible using cached dependency binaries a

[2022-05-05 02:41] #30485 closed, assigned to nobody

[2022-05-05 07:33] msimberg commented on #30484
Thanks @eugeneswalker for reporting. Since the actual error comes from asio this may just need a conflict (if it works with older versions of asio), or some ifdefing in HPX itself... In any case, I'll try to do something about this soonish.

[2022-05-05 08:38] #29808 closed, assigned to adamjstewart

[2022-05-05 09:45] pauleonix commented on #28441
@ashermancinelli There was no reaction from @bvanessen yet. I took a look at `aluminum` on develop and the issue seems to be still present there (and probably in all other packages from the title other than `sundials`).

[2022-05-05 10:16] alalazo commented on #8915
Closing, since there has been no activity in a while. Feel free to reopen if you think this is still an issue.

[2022-05-05 10:16] #8915 closed

[2022-05-05 14:50] grondo commented on #30480
Upstream issue opened flux-framework/flux-sched#936

[2022-05-05 15:35] #30081 closed, assigned to nobody

[2022-05-05 15:38] mgates3 commented on #30489
The same issue was just reported outside Spack as [SLATE issue #38](https://bitbucket.org/icl/slate/issues/38/hipify-perl-not-found). While [ROCm 5.x docs still have hipify](https://docs.amd.com/bundle/HIPify-Reference-Guide-v5.1/page/HIPify.html), the ROCm installation seems to be missing it.

The easiest solution may be for SLATE to do a new release that includes the HIP source files, so doesn't

[2022-05-05 15:55] gcapodag opened #30498 "Installation issue: Pflotran build fails on Cori (NERSC) with gcc@10.1.0"
### Steps to reproduce the issue

@balay @JulienLoiseau @jd-moulton

The command
[code]
produces an error on Cori (NERSC) unless the following compiler flag is specified.

[code]

With the above flag, the build goes through.

The following specs have been used:

[code]

[code]

### Error message

<details><summary>Error message</summary><pre>
5 errors found in build log:
     72
     73     1269 |

[2022-05-05 16:04] balay commented on #30498
yes - I've been using `fflags=-fallow-argument-mismatch` with pflotran as needed.

Likely you won't see this error with openmpi

cc: @ghammond86

[2022-05-05 16:34] Paul-Ferrell opened #30499 "Environment expects invalid deplist to be a list of strings, gets a list of Spec objects."
### Steps to reproduce

I don't have a reproducer for you, but it's pretty clear from the exception and code what has gone wrong.  This happens when using a Spack 'Stack' matrix that ends up pairing invalid dependencies with packages.

### Error message

[code]

### Information on your system

This is the lastest Spack develop branch.

### General information

- [X] I have run `spack debug report`

[2022-05-05 16:40] Paul-Ferrell opened #30500 "Race condition when concretizing with multiple processes?"
### Steps to reproduce

I ran into this with concretization with multiple threads/processes (however you do it). I'm guessing it's a race condition - one process unlinks the file and the rest try to do so but it's gone.

### Error message

  File "/tmp/pflarr/new_spack/linux-rhel7-x86_64_v3-omnipath-none/spack/lib/spack/spack/util/parallel.py", line 53, in __call__
    value = self.func(*args, **k

[2022-05-05 17:23] becker33 commented on #30499
For additional context: This is only reproducible using the `clingo` concretizer, and when the invalid dependency is not a possible dependency of the root (i.e. cannot be a transitive dependency under any configuration of specs).

[2022-05-05 17:35] G-Ragghianti commented on #30489
The hipify-perl command is now provided by the rocm RPM hip-clang.  If the corresponding spack package also provides hipify-perl, then this may be as simple as adding hip-clang to the slate (or blaspp/lapackpp) dependencies. I'm looking into it.

[2022-05-05 17:48] adamjstewart commented on #24668
@tldahlgren @tgamblin this issue seems to have resurfaced. @bvanessen encountered this in #30503. For example, the `py-protobuf` package downloads from PyPI by default, but has a single version that downloads from GitHub. However, Spack non-deterministically downloads from either source during `spack versions`/`spack checksum`, resulting in incorrect sha256 hashes:
[code]
This package should alway

[2022-05-05 18:59] eugeneswalker opened #30508 "mesa@22.0.2 ^llvm-amdgpu: meson.build: LLVM was built without RTTI, so Mesa must also disable RTTI"
### Steps to reproduce the issue

`mesa@22.0.2 ^llvm-amdgpu@5.0.2` build fails using:
* `spack/develop` (0dd9e5c86fa1c67e72bc64966ccdaceb4b44c193 from `Thu May 5 09:38:45 2022 -0700`)
* Ubuntu 20.04, X86_64
* GCC 9.4.0

Concrete spec: [mesa-723ufme.spec.json.txt](https://github.com/spack/spack/files/8633863/mesa-723ufme.spec.json.txt)

Concretization:
[code]

Quickly reproducible using cached depe

[2022-05-05 19:10] benpm opened #30509 "Error: name 'platform' not defined (from Go package)"
### Steps to reproduce

[code]

### Error message

[code]

### Information on your system

[code]

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have searched the issues of this repo and believe this is not a duplicate
- [X] I have run the failing commands in debug mode and reported the output

[2022-05-05 20:46] eugeneswalker opened #30512 "qt@5.15.3 build fails in long install path: global/qconfig.cpp:2:60: initializer-string for 'const char [268]' is too long [-fpermissive]"
### Steps to reproduce the issue

`qt@5.15.3` build fails in a long install path using:
* `spack/develop` (0dd9e5c86fa1c67e72bc64966ccdaceb4b44c193 from `Thu May 5 09:38:45 2022 -0700`)
* Ubuntu 20.04, X86_64
* GCC 11.1.0
* `config: install_tree: padded_length: 256`

Concrete spec: [qt-vsih2gf.spec.json.txt](https://github.com/spack/spack/files/8635403/qt-vsih2gf.spec.json.txt)

Quickly reproducib

[2022-05-05 21:03] G-Ragghianti commented on #30489
I'm preparing a PR for this.

[2022-05-05 21:18] bryank-cs opened #30513 "Can't build bootstrap in Python 3.10 Conda environment (missing libpython3.10.a)"
### Steps to reproduce

This is only noticeable if the bootstrap can't find something in the build-cache for the current environment. You should be able to reproduce it with the following commands, but note there is some package that if installed with apt (tried in an effort to save time not having spack build it) that will cause it to find a pre-built binary, but I didn't track down which (i.e.,

[2022-05-05 21:20] joehellmersNOAA commented on #30072
I was able to resolve this by installing pmix and changing the command to install OpenMPI to
`spack install openmpi+pmi schedulers=slurm
`

[2022-05-05 21:20] #30072 closed, assigned to nobody

[2022-05-05 21:22] grondo commented on #30480
I have a PR proposed at https://github.com/spack/spack/pull/30514 which simply works around the issue with a cast.

I did test that `spack install flux-sched %gcc@9.4.0` works on my branch. Feel free to double check that it works for you and report here if there are still any problems.

Thanks!

[2022-05-05 21:37] bvanessen commented on #29447
@alalazo @adamjstewart @becker33 @tgamblin @scheibelp Has there been any progress on this issue?

[2022-05-06 00:11] #30480 closed, assigned to nobody

[2022-05-06 00:37] eschnett commented on #30464
No, I am simply using the equivalent `spack install amrex %nvhpc`. I am not setting `CXX` manually.

Also, this uses `nvhpc`, not `nvcc`. This is a new compiler from Nvidia that is a C++ compiler by itself, there is no separation between host and device compilers any more.

[2022-05-06 04:13] climbfuji opened #30521 "Installation issue: hdf (hdf4) on Ubuntu 20.04 aarch64"
### Steps to reproduce the issue

Try building a container using spack with the following settings:
[code]

### Error message

[code]

I tracked this down to Ubuntu 20.04 now being an `aarch64` system, for which hdf needs several patches according to this `nix` commit: https://github.com/knedlsepp/nixpkgs/commit/c1a2918c849a5bc766c6d55d96bc6cf85c9d27f4

### Information on your system

[code]
But n

[2022-05-06 13:25] iarspider commented on #29750
@adamjstewart for this package - maybe (we use a patched forked version). I have encountered the same issue with another package (evtgen), and in that case we checkout a commit (not even a tag, as we need some fixes that are not yet tagged, but can't use a branch because of reproducibility). Looks like a reset is the solution. Can be optional, but I don't think it will hurt performance ...

[2022-05-06 14:23] #30499 closed, assigned to nobody

[2022-05-06 14:55] samcmill commented on #30464
You are referring to `nvc++`.  However, the error message is from `nvcc`, the CUDA compiler, not `nvc++`.

I'm not familiar with the `amrex` build system.  It appears that it is trying to use `nvcc` for something and give it an argument it does not recognize.

[2022-05-06 15:02] haampie commented on #30464
I guess `nvc` was confused with `nvcc` in `compilers.yaml`?

[2022-05-06 15:24] eschnett commented on #30464
The additional argument comes from Spack, not from AMReX. Spack adds additional compiler arguments. These are present in `spack-cc-amrex-xnaqv6p.out.log`, but not in  `spack-cc-amrex-xnaqv6p.in.log`.

Spack wasn't able to pick up `nvhpc`. I installed `nvhpc` via Spack, and then added a stanza manually to the environment:
[code]
Could this be wrong? There is a binary `nvc` as well; should I be usin

[2022-05-06 15:28] haampie commented on #30464
Yeah, nvc is a C compiler, nvcc is a CUDA compiler

[2022-05-06 15:52] pbrady opened #30532 "Installation issue: Wonton"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
==> Error: ProcessError: Command exited with status 1:
    'cmake' '-G' 'Unix Makefiles' '-DCMAKE_INSTALL_PREFIX:STRING=/usr/local/spack/opt/spack/linux-fedora35-broadwell/gcc-11.2.1/wonton-1.3.2-7p2zikpg5bqgpehucw4gbrs5ajqt2wyn' '-DCMAKE_BUILD_TYPE:STRING=RelWithDebInfo' '-DBUILD_TESTING:BO

[2022-05-06 16:00] raovgarimella commented on #30532
Hi Peter
This issue is fixed in our internal repo but we have not updated the github repo recently. Please send me email at my lab address and we can help you
Rao

[2022-05-06 16:47] adamjstewart commented on #30513
Thanks for the docker steps to reproduce! This is really helpful.

From what I can tell, the issue is that our external package detection doesn't detect the `+shared` variant. In the case of miniconda, only shared libraries are installed, not static libraries. But our `libs` property relies on whether or not `+shared` is in the spec to decide which libraries to look for.

@alalazo can you confirm

[2022-05-06 16:48] adamjstewart commented on #30513
Also pinging other Python maintainers: @scheibelp @skosukhin @varioustoxins

[2022-05-06 17:10] alalazo commented on #30513
Can you retry using:
[code]
? With `file` you can bootstrap from our binaries (we use that application when relocating binaries).

[2022-05-06 17:13] alalazo commented on #30513
I know it's probably not very well known, but this command:
[code]
might be useful when diagnosing bootstrapping errors.

[2022-05-06 17:23] adamjstewart commented on #30513
@alalazo installing `file` does indeed solve the issue. So we now have a quick workaround for @bryank-cs.

I would still like to fix things so that they don't crash when `file` is missing. If we detect `+shared` in the `python` package, will that fix things? Does bootstrapping use the same external package detection mechanisms to build clingo, or is there separate logic somewhere else that lacks v

[2022-05-06 18:21] eschnett commented on #30464
Thank you.

[2022-05-06 18:21] #30464 closed, assigned to nobody

[2022-05-06 20:50] adamjstewart commented on #30513
Might also be helpful to add warning messages saying "file" or "cmake" aren't found so we need to build things from source instead. Just getting to the point where the above steps would result in an error message took 30+ minutes of building.

[2022-05-06 21:36] mcuma opened #30540 "Error during wi4mpi installation"
### Steps to reproduce

While installing wi4mpi with different versions of Spack, I get errors at different places, but, with the same error message.

The errors are detailed below, but, the problematic line in the wi4mpi package.py is:
[code]
because we define the ```'{name}_ROOT'``` in the etc/spack/modules.yaml as:
[code]

While it's simple to remove the offending line from the wi4mpi/package.p

[2022-05-06 21:48] mcuma commented on #30540
I made the conclusion too fast, the offending line from wi4mpi/package.py is
[code]
which gets fixed by
[code]
Though the WI4MPI_ROOT gets repeated twice in the module file, so, aesthetically, this is still a problem, though it does not affect the functionality of the module at all, so, feel free to close this ticket if you are not worried about the aesthetics. I'll open a pull request for the wi4

[2022-05-06 22:05] sethrj commented on #30512
@eugeneswalker This should be fixed by #30473 -- please reopen if it isn't.

[2022-05-06 22:05] #30512 closed, assigned to nobody

[2022-05-07 00:33] trws opened #30545 "Version manifesto: Tupling version part 2"
In #22973 I reworked `Version` to do its comparisons directly on tuples representing the version rather than in python code with special cases.  At the time it was about a 2x perf increase on both construction and comparisons.  Since then, commit versions came in as well as a number of other new special cases.  There are also some new special cases that were a bit odd, #30544 implements phase one

[2022-05-07 03:02] nlvw opened #30547 "Issues with config:install_missing_compilers:true"
### Steps to reproduce

## Explanation

From a fresh install of spack I tried to install a spack environment using a specific compiler.  On the first attempt Spack builds the new compiler but fails to build any packages that had that compiler in their spec.  The second attempt correctly uses the new compiler and finishes building the environment without any errors.  I check the compilers.yaml afte

[2022-05-07 14:27] trws commented on #30545
One case I just realized may cause an issue. Not with the comparison versions specifically but with commit versions in general. When the commit version resolves, assuming it resolves to a version, its position in any VersionList that contains it needs to change. I'm not sure if we have actual bugs because of this, but because VersionList maintains everything by using an insertion sort on a list, i

[2022-05-07 16:36] BenWibking commented on #29594
@ax3l Since this still fails for me, but works on your machine, can you re-open, and un-duplicate this issue?

[2022-05-08 00:21] #18001 closed, assigned to alalazo

[2022-05-09 03:10] adamjstewart opened #30557 "Unable to reuse package if patch is changed/removed"
### Steps to reproduce

#29239 changed the checksum for several packages in Spack. Now, when I try to reuse existing packages in my environment, the environment fails to update.

To reproduce this:
1. install any package with a patch
2. remove that patch from Spack
3. try to reuse that package in an environment.

This may be the same issue I reported in #19649. Also see #27902. These issues were s

[2022-05-09 11:31] v-dobrev commented on #30483
This looks like a non-standard ROCm installation. I've only tested with external system installs of ROCm, which are, in most cases, in `/opt/rocm` or `/opt/rocm-x.y.z`.

I suspect this is `hip` installed through Spack? To support that, I'll need to figure out how Spack breaks down the full ROCm install into packages and then expand the logic in the `mfem` Spack package. This will also create issue

[2022-05-09 12:41] bosmacs opened #30564 "Installation issue: scotch"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>

     577      "_SCOTCH_errorPrint", referenced from:
     578          __SCOTCHarchLoad in arch.c.o
     579          __SCOTCHarchSave in arch.c.o
     580          __SCOTCHarchDecoArchBuild in arch_build.c.o
     581          __SCOTCHarchDeco2ArchBuild in arch_build2.c.o
     582

[2022-05-09 14:28] adrienbernede commented on #28190
This is the first time I hear spack requires Xcode... I’ve done with Command Line Tools so far.

[2022-05-09 14:31] adrienbernede commented on #28190
I mean: installing the 12.7 GB Xcode just to have the python framework in the expected location is a hefty price to pay.

[2022-05-09 14:51] benpm opened #30567 "concretize: "conflicting option strings: -U, --fresh" error"
### Steps to reproduce

Any `spack concretize` command will cause this unexpected error, such as:
[code]

### Error message

[code]

### Information on your system

[code]

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have searched the issues of this repo and believe this is not a duplicate
- [X] I have run the failing com

[2022-05-09 15:17] benpm commented on #30567
~~On first glance, the culprit seems to be multiple definitions of the `-U` option:~~
1. [lib/spack/spack/cmd/common/arguments.py:379](https://github.com/spack/spack/blob/a24bae1986c7090eabf7c80c9a690e3e652886e3/lib/spack/spack/cmd/common/arguments.py#L379)
2. [lib/spack/spack/cmd/style.py:170](https://github.com/spack/spack/blob/a24bae1986c7090eabf7c80c9a690e3e652886e3/lib/spack/spack/cmd/style.p

[2022-05-09 15:21] alalazo commented on #30567
I can't reproduce on:

* **Spack:** 0.18.0.dev0 (d08520cb15c059142d88af637e86de3b9855974d)
* **Python:** 3.10.2
* **Platform:** linux-ubuntu20.04-icelake
* **Concretizer:** clingo

[2022-05-09 15:30] benpm commented on #30567
Gonna go ahead and close this issue because I'm also having trouble reproducing on clean install... not sure what I broke, exactly.

[2022-05-09 15:30] #30567 closed, assigned to nobody

[2022-05-09 15:55] adamjstewart commented on #30557
Note: this likely also affects packages whose patches are removed from the repo.

[2022-05-09 16:05] adamjstewart commented on #30557
Found a leftover TODO that alludes to this issue: https://github.com/spack/spack/blob/v0.17.2/lib/spack/spack/spec.py#L3419,L3420

[2022-05-09 16:32] adamjstewart commented on #30557
For anyone else who encounters this bug, I found a workaround. If you create a fake `patch_dict` and only update it if the patch is actually found, you can get your installation to succeed:
[code]
Hopefully we can find a better solution than this hack.

[2022-05-09 17:28] #29713 closed, assigned to scheibelp, johnwparent

[2022-05-09 17:35] #30477 closed, assigned to nobody

[2022-05-09 22:36] jshelly opened #30579 "Permission denied while refreshing modules"
### Steps to reproduce

We have a team working on Spack.  If I install modules, and my colleague uses `spack module lmod refresh`, he gets:

[code]
However, if he then runs `spack module lmod refresh --delete-tree -y`, it works, no permission errors.  However, now I would get the permission denied messages with `spack module lmod refresh`.

### Error message

[code]

Running the following command:

[2022-05-10 00:23] eugeneswalker opened #30580 "exago@1.4.1 +ipopt +rocm build fails: petscsys.h: error: unknown type name MPI_Datatype"
### Steps to reproduce the issue

`exago@1.4.1 +mpi +python +ipopt +hiop +raja +rocm amdgpu_target=gfx90a ^hiop@0.6.1` build fails using:
* `spack/develop` (8ed8922af5a36a53876f4385096fc3ef2b7876ec from `Mon May 2 14:17:48 2022 -0700`)
* Ubuntu 20.04, X86_64
* GCC 11.1.0
* ROCm 5.1.1
* PETSC 3.16.6

Spack environment: [spack.yaml.txt](https://github.com/spack/spack/files/8656154/spack.yaml.txt)

C

[2022-05-10 04:13] #30373 closed, assigned to adamjstewart

[2022-05-10 05:46] alalazo commented on #30540
Fixed in #30541

[2022-05-10 05:46] #30540 closed, assigned to nobody

[2022-05-10 08:47] #30521 closed, assigned to climbfuji

[2022-05-10 11:20] adrienbernede commented on #30021
Note: I had a one-time failure of perl install on my Monterey M1 mac with spack@develop which has those fixes.
I retried to get the full log, and the error was gone.
Just a hint for future readers ;).

[2022-05-10 12:03] adrienbernede opened #30587 "Installation issue: clingo-bootstrap"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary>

[code]
</details>

### Information on your system

* **Spack:** 0.18.0.dev0 (060e88387e7fd27c6e13dc1ca222e3c6b7d7f1fe)
* **Python:** 3.8.9
* **Platform:** darwin-monterey-m1
* **Concretizer:** clingo

### Additional information

No such files to upload found.

@alalazo

The issue relates to #281

[2022-05-10 15:41] eugeneswalker opened #30589 "gasnet@2022.3.0 +cuda build fails: cc1: error: invalid --param name 'max-inline-insns'"
### Steps to reproduce the issue

`gasnet@2022.3.0 +cuda` build fails using:
* `spack/develop` (a65e00392c0cd6a573937afc01b7b80d075946f1 from `Tue May 10 09:05:19 2022 -0600`)
* Ubuntu 20.04, X86_64
* GCC 9.4.0
* CUDA 11.4.2

Concrete spec: [gasnet-mifp3w5.spec.json.txt](https://github.com/spack/spack/files/8662945/gasnet-mifp3w5.spec.json.txt)

Concretization:
[code]

Quickly reproducible using c

[2022-05-10 15:55] eugeneswalker opened #30590 "lammps@20220107 +cuda build fails: cmake: variable used but not found: CUDA_CUDA_LIBRARY"
### Steps to reproduce the issue

`lammps@20220107 +cuda` build fails using:
* `spack/develop` (a65e00392c0cd6a573937afc01b7b80d075946f1 from `Tue May 10 09:05:19 2022 -0600`)
* Ubuntu 20.04, X86_64
* GCC 9.4.0

Concrete spec: [lammps-ywprkps.spec.json.txt](https://github.com/spack/spack/files/8663104/lammps-ywprkps.spec.json.txt)

Concretization:
[code]

Quickly reproducible using cached dependen

[2022-05-10 17:46] G-Ragghianti opened #30596 "slate@2021.05.02 +rocm build fails: cmake failure with rocm>=5"
### Steps to reproduce

slate@2021.05.02 +rocm build fails using:

    spack/develop (https://github.com/spack/spack/commit/250d5d2c00ad9d6a747499b1160bc4a460266fae from Wed May 4 13:30:15 2022 -0400)
    Ubuntu 20.04, X86_64
    GCC 9.4.0
    ROCm 5.0.2

Quickly reproducible using cached dependency binaries and Docker container image:

    ecpe4s/ubuntu20.04-runner-x86_64:2022-05-01

### Error me

[2022-05-10 18:25] bonachea commented on #30589
Hi @eugeneswalker, here is the actual error message from the config.log you did not include:

[code]

The problem is GASNet's `+cuda` variant requires the CUDA *Driver* Library, the hardware-specific CUDA driver which is not included in the CUDA Runtime Library distribution (Spack's CUDA package). See the second sentence of the description for the CUDA spackage:

[code]

I'm not sure how other CUD

[2022-05-10 18:36] pghysels commented on #30564
Sorry, I cannot reproduce this here

[2022-05-10 19:20] eugeneswalker commented on #30589
Thank you for that context. Sorry for missing that. Would `conduits=mpi` make more sense to pair with `+cuda` ?

[2022-05-10 19:20] #30589 closed, assigned to bonachea

[2022-05-10 22:40] bonachea commented on #30589
No, currently the only GASNet conduits that integrate with CUDA GPUDirect are ibv-conduit and ucx-conduit.

The UPC++ package supports `+cuda` for any backend, but also still requires the CUDA Driver libraries be present on the build system (usually part of the distro or manually installed by an admin).

PR #30602 adds a note about this issue to the variant descriptions, to help prevent similar co

[2022-05-10 23:36] davidedelvento opened #30607 "Add an option to do "everything" but compiling"
### Summary

Add something like a `--no-compile` option in spack to make everything one would want to do, besides compiling.

### Rationale

Many activities in spack require compiling a large number of source codes which are not really necessary and are a huge time sink, both for the operator, the CPU and a waste of disk space, sometimes making one going above quota.

For example to create a sourc

[2022-05-10 23:39] davidedelvento opened #30608 "Installation issue: intel-oneapi-compilers not including the family compilers lmod command, allowing it to be loaded at the same time as another compiler"
### Steps to reproduce the issue

From a fresh, empty spack clone/install.

[code]
Try loading and unloading both gcc and intel compilers and see that they can be loaded at the same time and they should not.

### Error message

<details><summary>Error message</summary><pre>
There is no error message, only incorrect ability to load the module
</pre></details>

### Information on your system

[code]

[2022-05-11 00:30] adityakavalur commented on #29560
@troyrock this isnt a dakota issue, its a bootstrapping issue. Is it possible to use a newer gcc version? or install clingo as a pip package?

[2022-05-11 05:34] cgmb opened #30611 "Installation issue: hip"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
==> Installing mesa-22.0.2-dx3zb5p2ihdsjinct5p6nvjsnmnxttlv
==> No binary for mesa-22.0.2-dx3zb5p2ihdsjinct5p6nvjsnmnxttlv found: installing from source
==> Fetching https://mirror.spack.io/_source-cache/archive/df/df4fa560dcce6680133067cd15b0505fc424ca703244ce9ab247c74d2fab6885.tar.xz
==> A

[2022-05-11 11:04] alalazo commented on #30607
You don't need to install to create a source cache:
[code]
To regenerate module for something already installed you can use:
[code]
without any need for reinstallation.

[2022-05-11 11:14] rscohn2 commented on #30608
Adding @scheibelp in case he is familiar with the issue.

Is this an issue with spack handling of compilers or specific to intel-oneapi-compilers? Can you replace intel-oneapi-compilers with clang and see if you have the same issue?

[2022-05-11 12:27] davidedelvento commented on #30607
Thanks this is great news. Perhaps making it clear in https://spack-tutorial.readthedocs.io/en/latest/tutorial_binary_cache.html#setting-up-a-source-cache-mirror would be very useful since the quoted commands indicate that you have to run install for the sources to be added to the cache.

Well, this assume you know what you are doing and all the config files are correct and so on. FWIW, I use `lmo

[2022-05-11 12:44] davidedelvento commented on #30608
I am in fact trying `clang` since I created this issue, but those installs are taking forever (see #30607) and I don't know yet the outcome.

However I've installed `nvhpc/21.9` earlier and that one, like gcc, is behaving as expected, so this problem appears to be intel-specific. I am not sure if it has any relationship at all with the problem, but I'll mention this difference:

- with `gcc` or `n

[2022-05-11 13:01] davidedelvento commented on #30608
Alright, so after the whole night churning on the VM, the `llvm` compilation was almost done, and it's now complete. That's a good comparison since (like intel) the name of the installed package and lmod module is `llvm` which is different from the name that spack knows about the compiler, which is `clang`. Despite that, the lua module is generated correctly and includes the `family('compiler')` s

[2022-05-11 13:11] davidedelvento commented on #30608
The `llvm` install completed and it's working as expected with the `family('compiler')` correctly included in the lua module file.
It's a good test since it has the same dichotomy as intel, with non-matching names, `llvm` vs `clang`, so the code generating the lua module file is able to handle that. Not sure if it needs special treatment to trigger that behavior, though, perhaps the llvm maintaine

[2022-05-11 13:21] rscohn2 commented on #30608
Thanks for checking. I will try adding this: https://github.com/spack/spack/blob/63f7053fe8a99c5718a15e94ca385f1c478d53e4/var/spack/repos/builtin/packages/llvm/package.py#L34

[2022-05-11 16:14] G-Ragghianti commented on #30596
@eugeneswalker Maybe you can also help with this:  I am currently unable to build rocm packages due to an apparent problem with the mesa package (required by llvm-amdgpu).  How were you able to build mesa for your e4s binary cache?  Here is an example of the problem (hip@4.3.1):
[code]

[2022-05-11 16:20] eugeneswalker commented on #30596
We are using mesa 21.3.8 and not the latest version. Does 21.3.8 work for you?

[2022-05-11 16:26] G-Ragghianti commented on #30596
I was trying with 21.3.8 because I saw that you were using that version.

Oddly, I'm able to build with `spack install mesa@21.3.8 %gcc@9.4.0`.  This produces the following spec:

[code]

However, if I try to build slate with this full mesa spec, spack tries to build mesa again (even though it is already built) and it fails with the above error.

[2022-05-11 16:36] jshelly commented on #30579
Running the following command, I get the output file `refresh.txt`:
`spack -d module lmod refresh 2>&1 | tee refresh.txt`

[refresh.txt](https://github.com/spack/spack/files/8671834/refresh.txt)

[2022-05-11 16:39] adamjstewart commented on #30607
There is also `spack stage` that is equivalent to `spack install` but stops before the actual compilation step.

[2022-05-11 16:39] G-Ragghianti commented on #30596
I see that the e4s spack.yaml is using `mesa@21.3.8~llvm`.  I'm trying that now, and it appears to work.

[2022-05-11 17:53] eugeneswalker commented on #30484
Issue is resolved by https://github.com/spack/spack/pull/30620

[2022-05-11 17:53] #30484 closed, assigned to nobody

[2022-05-11 18:36] ax3l commented on #29594
Agreed, thx for the ping :+1:

[2022-05-11 18:37] ax3l commented on #25794
cannot reproduce anymore on my system, works on Ubuntu 20.04 LTS.

[2022-05-11 18:37] #25794 closed, assigned to nobody

[2022-05-11 19:07] rscohn2 commented on #30608
Setting family did not work. I used the change from https://github.com/spack/spack/issues/24195 and that seems to work. I added it to: #28901. To support oneapi and intel compilers, I will have to create 2 packages as was discussed in #28901.

[2022-05-11 19:22] eugeneswalker opened #30626 "trilinos@13.2.0, @13.4.0 +rocm build fails: BelosBiCGStabSolMgr.hpp:280:37: dynamic initialization is not supported for __device__, __constant__, __shared__, and __managed__ variables"
### Steps to reproduce the issue

`trilinos@13.2.0 +rocm` build fails using:
* `spack/develop` (61f8c97bb7566c8b0c17d289e87d9f34df64bcd5 from `Tue May 10 16:02:08 2022 -0700`)
* Ubuntu 20.04, X86_64
* GCC 9.4.0
* ROCm 5.1.0

**Update 9/26/2022**
- Same error seen using `trilinos@13.4.0 +rocm` w/ `rocm/5.2.0` on OLCF Crusher using all of `PrgEnv-{gnu,cray,amd}`

Concrete spec: [trilinos-hm5ekpq.spe

[2022-05-11 19:25] eugeneswalker commented on #30626
FYI we recently saw a similar error with `hpx@1.7.1 +rocm` w/ ROCm 5.1.0:
* Issue description: https://github.com/spack/spack/issues/30484
* Fix: https://github.com/spack/spack/pull/30620

[2022-05-11 20:20] MichaelLaufer commented on #20305
@fluidnumerics-joe I assume that this has been solved by now as the WRF package has been overhauled since this. If you have any outstanding issues, please let us know.

[2022-05-11 20:20] #20305 closed, assigned to nobody

[2022-05-11 20:21] MichaelLaufer commented on #7983
This has been resolved in the WRF Spack package.

[2022-05-11 20:21] #7983 closed

[2022-05-12 05:33] amd-toolchain-support opened #30631 "UnboundLocalError: local variable 'acc_flags_var' referenced before assignment"
**Build Command tried**

`spack -d install -v -j 16 cp2k@7.1+elpa %aocc@3.2.0 target=zen3 ^amdfftw@3.1 ^amdscalapack@3.1 ^amdblis@3.1 ^amdlibflame@3.1 ^libint@2.6.0 ^libxsmm@1.15 ^libxc@4.2.3 ^elpa@2019.11.001+openmp ^openmpi@4.1.1+cxx fabrics=auto`

**Spack debug report**

* **Spack:** 0.18.0.dev0 (f40780310b650cfb331eb608a6cd833cf413429e)
* **Python:** 3.6.8
* **Platform:** linux-centos8-zen3
*

[2022-05-12 08:08] #24223 closed, assigned to nobody

[2022-05-12 08:13] andymwood opened #30636 "`spack buildcache save-specfile` fails"
### Steps to reproduce

The following fails:
[code]
I've already got a patch for this. I'll submit a pull request in due course.

### Error message

[code]

### Information on your system

* **Spack:** 0.17.2
* **Python:** 3.8.13
* **Platform:** linux-rhel7-sandybridge
* **Concretizer:** clingo

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python

[2022-05-12 12:58] davidedelvento commented on #30608
Sounds good, thanks.

@vanderwb @siddsghosh this might be good to know for you guys too, if you don't know already

[2022-05-12 13:19] mzeyen1985 opened #30642 "Installation issue: boost context-impl unknown option for version <1.65.0"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
==> Error: ProcessError: Command exited with status 1:
    './b2' '--clean' '-j' '8' '--user-config=/tmp/zeyen/spack-stage/spack-stage-boost-1.64.0-o7y2eopzwh3kphewsmbvwhk3jc2yln77/spack-src/user-config.jam' 'variant=release' '--disable-icu' 'context-impl=fcontext' 'link=static,shared' '--la

[2022-05-12 13:50] BenWibking opened #30644 "Installation issue: autoconf"
### Steps to reproduce the issue

[code]

### Error message

[code]

### Information on your system

* **Spack:** 0.18.0.dev0 (181a3d72d57fb3a3b4bed7ed4dc87aadb4e6f27a)
* **Python:** 3.6.8
* **Platform:** linux-rocky8-cascadelake
* **Concretizer:** clingo

### Additional information

_No response_

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Pyt

[2022-05-12 17:04] hainest commented on #30642
Ah, sorry. I just haven't had time to run my tests on #30496. I'll make a PR. Thanks for the report!

[2022-05-12 18:10] luke-dt opened #30652 "Installation issue: tbl2asn"
### Steps to reproduce the issue

[code]

### Error message

<details><summary><pre>
ldiorio-toth@n007:/scratch/gdlab/ldioriot/spack$ spack install tbl2asn
==> Installing tbl2asn-2020-03-01-xqcfqrachwei3gnxtb5fpqsrkrhzirpg
==> No binary for tbl2asn-2020-03-01-xqcfqrachwei3gnxtb5fpqsrkrhzirpg found: installing from source
==> Error: FetchError: All fetchers failed for spack-stage-tbl2asn-2020-03-01

[2022-05-12 18:41] elfprince13 opened #30653 "Installation issue: PCL"
### Steps to reproduce the issue

(not relevant as I have a self-maintained version of the package)

### Error message

<details><summary>Error message</summary><pre>
==> Error: ProcessError: Command exited with status 2:
    'make' '-j8'

6 errors found in build log:
     690     cd /tmp/ubuntu/spack-stage/spack-stage-pcl-1.12.1-a7uwgtarwu7mocwgu6snqqqnmnasxmhf/spack-build-a7uwgta/surface && /con

[2022-05-13 07:36] alalazo commented on #888
Closing, since there has been no activity in a while. Feel free to reopen if you want to continue work on this.

[2022-05-13 07:36] #888 closed

[2022-05-13 07:38] alalazo commented on #1486
This can now be solved with `conditional` variant values.

[2022-05-13 07:38] #1486 closed

[2022-05-13 07:39] alalazo commented on #1515
Possibly closed by #27021

[2022-05-13 07:39] #1515 closed

[2022-05-13 07:40] alalazo commented on #1696
Closing, since there has been no activity in a while. Feel free to reopen if you want to continue work on this.

[2022-05-13 07:40] #1696 closed

[2022-05-13 07:52] alalazo commented on #1799
Closing, since there has been no activity in a while. Feel free to reopen if you want to continue work on this. Also, the PRs mentioned in comments have been merged since a while.

[2022-05-13 07:52] #1799 closed

[2022-05-13 07:54] #1851 closed

[2022-05-13 07:56] alalazo commented on #1888
The spec object is a developer detail that changes quickly, so not sure it's worth documenting it outside of the comments in the code itself. Closing for now, but feel free to reopen if you disagree.

[2022-05-13 07:58] alalazo commented on #1935
@adamjstewart This still needs documentation, but I think 5-6 years is enough to see if the issue can get any traction :laughing: Closing, but feel free to reopen.

[2022-05-13 07:58] #1935 closed

[2022-05-13 08:04] alalazo commented on #1997
Closing, since the most current discussion is in #26557

[2022-05-13 08:04] #1997 closed

[2022-05-13 08:36] alalazo commented on #2056
Environment should now be cleaned before loading modules for compilers:
https://github.com/spack/spack/blob/745c191d7362b221875412e640e02db68dedc12d/lib/spack/spack/build_environment.py#L791-L836

[2022-05-13 08:36] #2056 closed

[2022-05-13 08:38] alalazo commented on #2096
Closing, since there has been no activity in a while. Feel free to reopen if you want to continue work on this.

[2022-05-13 08:39] #2248 closed

[2022-05-13 08:39] pramodk commented on #2096
And, Intel (Nvidia/Arm) compilers are now free. So need to worry about the license server warnings 😅

[2022-05-13 08:40] #2267 closed

[2022-05-13 08:40] alalazo commented on #2223
Closing, since there has been no activity in a while. Feel free to reopen if you want to continue work on this.

[2022-05-13 08:40] #2223 closed

[2022-05-13 08:41] alalazo commented on #2162
Fixed by #2799

[2022-05-13 08:41] #2162 closed

[2022-05-13 08:42] alalazo commented on #2277
Closing, since there has been no activity in a while. Feel free to reopen if you want to continue work on this.

[2022-05-13 08:42] #2277 closed

[2022-05-13 08:43] alalazo commented on #2392
Closing the discussion for lack of activity. Feel free to reopen if you disagree.

[2022-05-13 08:43] #2392 closed

[2022-05-13 08:45] #2492 closed

[2022-05-13 08:47] alalazo commented on #2550
Closing as possibly outdated. Feel free to reopen or to submit a new issue in case I'm wrong.

[2022-05-13 08:47] #2096 closed

[2022-05-13 08:49] alalazo commented on #2700
Closing, since there has been no activity in a while. Feel free to reopen if you want to continue work on this.

[2022-05-13 08:51] alalazo commented on #2715
Closing, since this seems concretizer related (and we moved to a new concretizer in v0.17). Feel free to submit a new issue in case the problem persists.

[2022-05-13 08:51] #2715 closed

[2022-05-13 08:51] alalazo commented on #2777
Closing, since there has been no activity in a while. Feel free to reopen if you want to continue work on this.

[2022-05-13 08:51] #2777 closed

[2022-05-13 08:52] alalazo commented on #2814
Closing, since there has been no activity in a while. Feel free to reopen if you want to continue work on this.

[2022-05-13 08:52] #2814 closed

[2022-05-13 08:53] alalazo commented on #2879
Possibly outdated by now.

[2022-05-13 08:53] #2879 closed

[2022-05-13 08:54] alalazo commented on #2986
Closing, since there has been no activity in a while. Feel free to reopen if you want to continue work on this.

[2022-05-13 08:54] #2986 closed

[2022-05-13 08:54] #3008 closed

[2022-05-13 08:55] alalazo commented on #2977
Closing, since there has been no activity in a while. Feel free to reopen if you want to continue work on this.

[2022-05-13 08:55] #2977 closed

[2022-05-13 08:56] #2979 closed

[2022-05-13 08:57] alalazo commented on #3121
Closing, since there has been no activity in a while. Feel free to reopen if you want to continue work on this.

[2022-05-13 08:57] #3121 closed

[2022-05-13 09:00] alalazo commented on #3160
Fixed in #18347

[2022-05-13 09:00] #3160 closed

[2022-05-13 09:31] alalazo commented on #4024
We have @spackbot !

[2022-05-13 09:31] #4024 closed

[2022-05-13 09:32] alalazo commented on #3677
Closing, since there has been no activity in a while. Feel free to reopen if you want to continue work on this.

[2022-05-13 09:32] #3677 closed

[2022-05-13 09:34] #4189 closed

[2022-05-13 09:40] #4668 closed

[2022-05-13 10:35] tgamblin commented on #1888
I think we should get this one in the developer docs. IMO we need a lot more developer docs, but yes it’s hard to find time for this one because it’s a large task. Still I think it’s a good thing to do.

[2022-05-13 13:58] hainest commented on #24918
@tldahlgren Do we have a way of testing Boost on macs? If not, we can close this as they've been fixed upstream.

[2022-05-13 14:30] alalazo commented on #6339
Fixed by #8428 @vvolkl pinging you just in case

[2022-05-13 14:30] #6339 closed

[2022-05-13 14:32] alalazo commented on #7348
Seems to be answered by @balay but feel free to reopen if I'm wrong.

[2022-05-13 14:32] #7348 closed

[2022-05-13 16:38] vvolkl commented on #28899
Hi @wdconinc,

apologies for the delayed response. I can confirm I see this warning with my installations too, but am not sure how serious it is. Some observations:
* the warning is not shown when importing ROOT before cppyy, i.e.

[code]
* When downloading the binaries from the ROOT home page and sourcing `thisroot.sh` (in which case there is no warning), `self.prefix.etc` does not seem to be add

[2022-05-13 16:54] wdconinc commented on #28899
Isn't there some fundamental law that given a large enough user base any bug will be serious for someone? ;-)

[2022-05-13 16:56] wdconinc commented on #28899
I was thinking of Hyrum's law: "With a sufficient number of users of an API, it does not matter what you promise in the contract: all observable behaviors of your system will be depended on by somebody."

[2022-05-13 17:45] #21491 closed, assigned to tgamblin, alalazo

[2022-05-13 17:45] #23428 closed, assigned to nobody

[2022-05-13 17:45] #30310 closed, assigned to alalazo

[2022-05-13 19:21] hainest opened #30663 "Installation issue: boost@develop does not build"
### Steps to reproduce the issue

[code]

### Error message

[code]

### Information on your system

[code]

### Additional information

The new composable model enables a header-only installation by default. The short-circuiting in 'install' prevents b2 from running and creating the necessary directories. That logic should be removed. I'm testing now.

### General information

- [X] I have run `s

[2022-05-14 04:00] AuroraDysis commented on #25938
This is a very serious problem for me. I would like to know why it has not been fixed and what I can do about it?

[2022-05-14 16:07] AuroraDysis commented on #25938
For those who encounter this problem, this is a temporary solution
[code]

[2022-05-14 22:25] michaelkuhn opened #30673 "`spack gc` broken by recent hash/database changes"
### Steps to reproduce

It seems that the recent changes to hashing/the database have caused some fallout. @tgamblin
[code]

### Error message

[code]
Sprinkling some debugging messages into the code reveals that, e.g., `m4` cannot be uninstalled because it has the following dependencies:
[code]
However, `bison` has just been uninstalled. Looking into the database, an entry for `bison` is indeed s

[2022-05-15 01:01] #30673 closed, assigned to nobody

[2022-05-15 01:06] tgamblin commented on #30607
See also:

[code]

You can use that on, e.g. a `CMakePackage` to only go to running `cmake`, or on an `AutotoolsPackage` to only go to `configure`.

[2022-05-15 19:51] BenWibking commented on #30644
This is a duplicate of https://github.com/spack/spack/issues/30557

[2022-05-16 07:11] alalazo commented on #30644
Duplicate of #30557

[2022-05-16 12:39] haampie commented on #30557
@tgamblin spack uninstall is completely broken for me.

[code]

I fails/warns when:

1. The database has a package with a missing patch
2. The database has a package that no longer exists
3. The database has a package with a version no longer registered

[2022-05-16 14:01] #18192 closed, assigned to nobody

[2022-05-16 14:57] bosmacs commented on #30564
What's your compiler? I'm using apple-clang-13 with gfortran (11.3).

[2022-05-16 15:51] #27191 closed, assigned to nobody

[2022-05-16 16:15] #28906 closed, assigned to srekolam

[2022-05-16 20:19] eugeneswalker commented on #30489
Issue resolved by now-merged https://github.com/spack/spack/pull/30576

[2022-05-16 20:19] #30489 closed, assigned to nobody

[2022-05-16 21:59] #30636 closed, assigned to nobody

[2022-05-16 21:59] caldodge opened #30695 "Installation issue: glibc"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
Build started at 2022-05-16T17:48:14.846597
Main binary: /opt/sw/spack/apps/linux-rhel8-x86_64_v2/oneapi-2022.1.2/python-3.8.6-4l/bin/python3.8
Build Options: -Dbuildtype=release -Dstrip=false -Ddefault_library=shared -Dgettext=external -Dlibmount=disabled -Diconv=external -Ddtrace=false -Ds

[2022-05-16 22:03] michaelkuhn commented on #30695
I guess this is due to #30605

[2022-05-17 02:01] #24312 closed, assigned to nobody

[2022-05-17 07:42] #30642 closed, assigned to nobody

[2022-05-17 08:25] msimberg commented on #13719
I just want to add a voice saying that this would be very nice to have and I'm wondering if there are currently any plans to add something in this direction?

This is a problem not just with `pgi` and `intel`, but _every compiler other than GCC_ (modulo clang with libc++, but that also uses libstdc++ by default). I think with C++14 this doesn't show up as frequently as a problem, but when one want

[2022-05-17 10:30] manuelakuhn opened #30700 "Conretizer uses old dependency version"
### Steps to reproduce

When building a new package which depends on `py-numba` spack concretizes to use the oldest available version`py-numba@0.35.0` instead the newest one `py-numba@0.55.1` without any reason. Therefore also downgrading python to version 3.6.15

Reproduce:
- fresh spack clone
- no config (removed `~/.spack`)
- create a new package with a `py-numba` dependency

I used `py-fracrid

[2022-05-17 10:36] alalazo commented on #30700
What happens if you try:
[code]
?

[2022-05-17 10:40] manuelakuhn commented on #30700
Then it concretizes using this version without error

[code]

[2022-05-17 11:58] alalazo commented on #30700
@tgamblin @becker33 "Interesting" use case here. This happens because when we have "reuse" as a default the latest version of this dependency forces a lot more packages to be built. Since minimizing the rebuilds takes precedence over having more recent versions the result is that we use an old version of the dependency.

[2022-05-17 12:32] msimberg commented on #26554
@srekolam what's the status of this? I'm seeing what I assume is the same problem. `rocprof` assumes that `libtracer_tool.so` is found in the `rocprofiler-dev` install root, but it's instead in the `roctracer-dev` install root. However, on top of that trying to add `roctracer-dev` as a dependency to `rocprofiler-dev` doesn't work because there already is an inverse dependency between the two. Is t

[2022-05-17 16:11] michaelkuhn opened #30706 "Installation issue: pango"
### Steps to reproduce the issue

[code]

### Error message

<details><summary>Error message</summary><pre>
FAILED: pango/Pango-1.0.gir
...
Couldn't find include 'HarfBuzz-0.0.gir' (search path: '['$SPACK/opt/spack/linux-centos8-x86_64_v3/gcc-12.1.0/gobject-introspection-1.56.1-rnguct4wu7kil5shigcwel3w6wta3y3w/share/gir-1.0', '$SPACK/opt/spack/linux-centos8-x86_64_v3/gcc-12.1.0/gobject-introspecti

[2022-05-17 16:33] wdconinc commented on #30706
Thanks for reporting this.

This seems like the same problem I referred to here, https://github.com/spack/spack/pull/30591#issuecomment-1123049388. I had this during development of #30591 but it went away again before I could figure out what caused it. After that I was not able to reproduce it.

I suspect this is due to some local system configuration. It think the existence of such a file in `/us

[2022-05-17 17:08] adamjstewart commented on #30587
I just hit this same issue, this also relates to #30513. The "solution" in that PR was to install `file` so we could use pre-compiled binaries, but we don't have those for M1 yet. I think we need to fix external detection for Python's variants. I'll see what I can do.

[2022-05-17 19:55] G-Ragghianti commented on #30596
I see now that the cmake process for slate is failing because one of the dependencies (hipify-clang) has an include directory which includes headers that conflict with normal compilation (e.g. stddef.h).  Is there a way for us to depend on a package (hipify-clang) but to only have that dependency expose the binaries in PATH and not affect in include path?

[2022-05-17 19:57] G-Ragghianti commented on #30596
@luszczek

[2022-05-17 20:47] michaelkuhn commented on #30706
Is there any reason not to enable it in harfbuzz? gtkplus also seems to have it enabled.

[2022-05-17 20:59] G-Ragghianti opened #30711 "Compiler interferance from hipify-clang"
### Steps to reproduce

This could affect any package that depends on hipify-clang when using a compiler other than clang.
[code]

### Error message

Errors occur when using cmake.  This is due to cmake's test programs failing when they attempt to load a header file that is included in the hipify-clang include directory.  The hipify-clang package copies the header files from clang in llvm-amdgpu i

[2022-05-17 21:01] G-Ragghianti commented on #30711
Causes issue https://github.com/spack/spack/issues/30596

[2022-05-17 21:07] swansun opened #30712 "PermissionError in Shared Anonymous Environments"
### Steps to reproduce

I'm trying to configure an anonymous environment so multiple people from a group can install/use packages. However, people receive a PermissionError when installing (concretizing) multiple versions of the same package.

Steps to reproduce:

- As user1:
  - Create and activate anonymous environment in cwd.
  - Add spack package and concretize
- As user2:
  - Activate same en

[2022-05-17 21:54] caldodge commented on #30695
@michaelkuhn

Thanks so much!  I applied the patch mentioned in #30605, rebuilt meson, and successfully built glib 2.70.0 with the Intel OneAPI compilers.

[2022-05-17 23:20] srekolam commented on #26554
I apologize for keeping this open for long.. This is being tracked for next release. ..i will check with the internal team and will update you if this will be part of the rocm-5.2 release or not.

[2022-05-18 03:07] amd-toolchain-support commented on #30631
Hi @alalazo , @dev-zero

Please have look into this issue, the root cause of the issue is https://github.com/spack/spack/pull/29108.

suggestion, initializing `acc_flags_var` to empty string may resolve the issue or keep this (`acc_flags_var`) variable only for `nvcc`

[2022-05-18 05:13] adamjstewart opened #30716 "Installation issue: intel-oneapi-mkl on macOS M1"
### Steps to reproduce the issue

I'm trying to install intel-oneapi-mkl on macOS. I see that our Spack package does not yet have support for this, and I don't know how to determine the magic URLs used in the package, so I used the .dmg installer from the website. This seems to have installed correctly, and I added this installation to my list of external packages:
[code]
Numpy installs without cr

[2022-05-18 11:22] rscohn2 commented on #30716
I have limited experience on mac and no experience on m1. It sounds like you are trying to link in mkl (x86) into a process that is aarch64 and I would not expect that to work. I do expect mkl to work on m1 when everything in the process is x86. I don't know how to make spack do that.

Spack intel packages use the installers from this page: https://www.intel.com/content/www/us/en/developer/article

[2022-05-18 12:16] manuelakuhn commented on #30700
After setting reuse to false, the result does not change for me and it still concretizes to use the old `py-numba` version.

[2022-05-18 12:31] iarspider opened #30720 "Changes to base class does not change package hash"
### Steps to reproduce

[code]

### Error message

Hash should be different

### Information on your system

* **Spack:** 0.18.0.dev0 (c775c322ecb95828cc5b4ea6cabbb670423a2d5d)
* **Python:** 3.10.4
* **Platform:** linux-fedora36-skylake
* **Concretizer:** clingo

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have searched t

[2022-05-18 12:34] iarspider commented on #30720
A bit of context: in CMS, we modify many recipes to match our setup (e.g. we drop documentation and static libraries to reduce the image size). In order not to copy and patch the upstream recipe every time it updates, we decided to use inheritance. However, it was discovered that if upstream package changes we may miss the changes in our build since the hash of the package will not change.