[2020-09-18 14:54] alalazo commented on #18694
I have been looking into the simple strategy to:
1. Mark compiler provided *.la files with a placeholder when we build a tarball
2. Replace the placeholder with the appropriate path on relocation

but this is getting more complicated than I initially thought due to the different layout that system installed compilers and Spack installed compilers have, and the fact that they might or might not hav

[2020-09-18 16:05] alalazo commented on #18694
A possible variation of the solution above:

1. Mark compiler provided *.la files with a placeholder when we build a tarball
2. Replace the placeholder with the appropriate path on relocation OR remove the placeholder if the target compiler doesn't have the required .la file

This leaves in principle a case uncovered, i.e. the case where we build tarballs from a compiler that doesn't have .la file

[2020-09-18 16:24] adamjstewart commented on #18521
I have a feeling that what happened was some packages automatically add `-lcurses` while others add `-lcursesw`. If we manually override these, I don't think it actually matters which it was built with. I noticed the same issue with `+termlib`. If `+termlib` (the default) I have to add `-lcurses -ltinfo`, but if `~termlib`, I only have to add `-lcurses`.

I think we should add a variant and implem

[2020-09-18 16:26] joequant opened #18742 "Add parallel threads to exceed number of CPU's"
### Rationale

Right now spack limited the number of parallel processes to the number of CPU's.  In fact when used with a caching compiler, much of the build time is i/o bound rather than CPU bound which makes it useful in this case to allow the number of parallel processes to exceed the number of local CPU's.

### Description

spack should allow the user to specify parallel builds that exceed the

[2020-09-18 16:35] glennpj commented on #18733
To have that work the way you want would require making ocaml an extendable package is Spack, similar to Python, R, etc. Until that happens the ocaml packages would have to be installed at the user level with opam in `~/.opam`.

[2020-09-18 19:37] payerle opened #18744 "Installation issue: bedtools2 (missing python build dependency)"
### Steps to reproduce the issue

[code]
fails with error
[code]

### Information on your system

[code]

### Additional information

* [spack-build-env.txt](https://github.com/spack/spack/files/5247776/spack-build-env.txt)
* [spack-build-out.txt](https://github.com/spack/spack/files/5247777/spack-build-out.txt)

No maintainers
### General information

- [x ] I have run `spack debug report` and re

[2020-09-18 19:44] adamjstewart commented on #18521
Nvm, this worked for some packages but the CMake package broke. It started picking up the system ncurses libs instead of the Spack libs. I'm going to give up for now, but hopefully someone else can take over.

[2020-09-18 19:45] adamjstewart commented on #18733
@scemama might be able to help

[2020-09-18 20:26] tgamblin commented on #13958
@alalazo should also take a look at this one as an extension of the compilers-as-dependencies model we're working on.

[2020-09-18 21:10] sparrow84001 opened #18747 "Installation issue : g4e #error those pkgs"
[code]

[2020-09-18 21:36] Char-Aznable opened #18749 "Installation issue: python@3.8.5 with shared library"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.15.4-1022-80fe51046
* **Python:** 3.8.5
* **Platform:** linux-centos7-haswell

packages.yaml:
[code]

### Additional information

This is the relevant error message in the build log:
[code]

@adamjstewart

### General information
Turns out the problem is that the compiled python executable /data/scratch/ssd/tm

[2020-09-18 22:32] scemama commented on #18733
Hi,
I agree with @glennpj . Currently, OCaml is installed from source as a single program. If we want to be able to install dependencies, we need to make a spack package for each of the dependencies. This is a bit stupid because OCaml has already an excellent package manager (Opam).
I think the best move would be to replace the current OCaml installation by an installation of Opam, and delegate th

[2020-09-18 22:54] tomgreen66 commented on #18656
In the issue above I have attached a branch with some changes required to get Espresso working with FFTW.  I think they are required in Espresso package but see what you think.  Onto check if Gromacs works now - first problem, Cmake not detected Cray libsci for BLAS.

[2020-09-19 02:34] adamjstewart commented on #18749
It does. We unset things like `LIBRARY_PATH` and `CPATH` for this very reason. I'm not sure what's going on here...

@skosukhin

[2020-09-19 02:36] adamjstewart commented on #18747
Can you fill out the build error template? There isn't enough info here to debug anything...

[2020-09-19 02:38] #18744 closed, assigned to nobody

[2020-09-19 07:38] sparrow84001 commented on #18747
I am trying to install g4e. 1st adding "eic-spack" repository then install g4e. but all dependency pkgs are installed except glew , freeglut , ftgl  those pkgs. Showing error up like this

[2020-09-19 18:44] Char-Aznable opened #18802 "Packages pick up dependencies that are not controlled by Spack in user enviornment"
There are quite a few cases where I run into situation where a package picks up wrong version of dependencies in my environment. For example, `spack install font-util` runs a wrong version of `fc-cache` in `/usr/bin` to install the fonts but failed. Another example is, the configure phase of `spack install r` picks up a bunch of dependencies in my home directory that are not part of spack:
[code]

[2020-09-20 02:29] Char-Aznable commented on #6046
Is it this problem solved yet? I hit a few related errors, e.g., when building mkfontscale

[2020-09-20 23:39] Char-Aznable opened #18804 "Installation issue: packages like tar and findutils should offer variants of no selinux support"
### Steps to reproduce the issue

Some packages depend on tar or findutils to build but tar or findutils is in turn broken because they were built expecting selinux support even thought the OS has disabled selinux. For example:
[code]
will give this error:
[code]

### Information on your system

* **Spack:** 0.15.4-1022-80fe51046
* **Python:** 3.8.5
* **Platform:** linux-centos7-haswell

### Addit

[2020-09-21 11:05] haampie commented on #18742
More or less a duplicate of https://github.com/spack/spack/issues/17598.

W.r.t. your PR, I don't think it's a good idea to add yet another config option; let's just do what other build systems do too.

In #17598 I've suggested to just make `spack install -j N ..` use `N` processes. And if no `-j` flag is specified, use the default `max(16, num cpus)`.

[2020-09-21 13:38] alalazo commented on #18694
It seems that most (all?) distributions don't package the .la files, at least for GCC. I just tried to:
1. Build GCC with Spack, delete all the .la files manually, register that GCC as a valid compiler
2. Build all the dependencies of `hpctoolkit` and package them with Spack (they don't have any reference to libstdc++ etc. anymore in their .la files)
3. Install the binaries created at point 2 in a

[2020-09-21 14:30] eugeneswalker commented on #18694
I like this solution.

[2020-09-21 16:02] rrobinson-RMS commented on #12281
Hi Im coming back to this, what is the latest recommended install line for CentOS7 ?

[2020-09-21 16:35] adamjstewart commented on #3690
Just ran into this again on the tip of develop. All of the packages in my Spack instance had been installed since the split of LLVM Clang and Apple Clang, so relatively new. This time, none of the failing packages are Java packages:
[code]

[2020-09-21 16:36] zhiyuanzhai commented on #18660
@adamjstewart Well... I've got a lot to learn before submitting this PR. I may need some time. But I will try.

[2020-09-21 20:58] Char-Aznable opened #18853 "Installation issue: gdk-pixbuf build I/O error : Attempt to load network entity"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.15.4-1022-80fe51046
* **Python:** 3.8.5
* **Platform:** linux-centos7-haswell

### Additional information

The relevant error:
[code]

The weird thing is that running the command manually inside the build directory finishes without any error:
[code]

### General information

- [x] I have run `spack debug repor

[2020-09-21 21:11] #18695 closed, assigned to nobody

[2020-09-21 21:11] #18697 closed, assigned to nobody

[2020-09-21 21:44] payerle opened #18854 "Installation issue: cpio (failures in system headers with %intel@20)"
### Steps to reproduce the issue

[code]
fails with errors like
[code]

Googling the error I came across
https://github.com/easybuilders/easybuild-easyconfigs/issues/10932
which seems to suggest the inclusion of a --no-gcc flag, while perhaps needed on older versions of the intel compiler, is not needed on recent versions.

### Information on your system
[code]
The system gcc being referenced in t

[2020-09-21 22:23] tomgreen66 opened #18858 "Add rdtscp as CPU feature"
rdtscp is a feature used by some software but its only available on x86 CPUs.  To make porting to non-x86 platforms it would be nice to highlight incompatible options early rather than fail in the software build.

### Rationale

rdtscp is a CPU feature and is included in the `/proc/cpuinfo`.  This is used by packages such as Gromacs and even has a variant with default true to use it in the build.

[2020-09-21 22:51] Sinan81 commented on #12281
There has been minor improvements to qgis and qt since your last communication. However, it seems there is also a minor regression:
[code]
This is a very minor issue, that should be sorted out today or so. I will be creating a ticket for it.

[2020-09-22 06:01] Sinan81 commented on #12281
It turns out one needs to specify a gl provider to avoid this bug. See the discussion at https://github.com/spack/spack/issues/17512
So, you should be able to install qgis with the following command:
[code]
Afterwards, you can play around with the constrains like proj version etc to get the installation spec suit your needs. Once, dependency concretization is perfected in Spack, all you need to do

[2020-09-22 08:45] nrichart commented on #18854
I add to remove `--no-gcc` on older version of intel compilers. I am also specifing `-gcc-name` and `-gxx-name` to use a gcc compiler `@8:`. I was wondering if the `--no-gcc` does not interact with this option instead of the version of the intel compiler.

My last test is on RHEL7 (gcc 4.8.5) with 2 setups:
 - `gcc@9.3.0` and `intel@19.1.0` both installed with spack
 - `gcc@8.4.0` and `intel@19.0.

[2020-09-22 13:29] payerle commented on #18854
I repeated my case (intel@20.0.1 with RHEL8's/system gcc@8.3.1) but with the cflags/cxxflags/gcc-name/gxx-name flags removed, and still getting the same error (with the old version of the package.py which added --no-gcc).  So the error seems related to the --no-gcc and not related to the use of --gcc-name/--gcc-name.

I suspect you are seeing the same issue; the difference in error messages is pro

[2020-09-22 14:22] alalazo commented on #18858
Thanks for pointing this out. I think we should remove that variant and activate the flag automatically. For the time being we can do:
[code]
and change it to:
[code]
later, as soon as the feature lands in https://github.com/archspec/archspec.

[2020-09-22 15:49] omsai opened #18862 "Installation issue: cairo"
### Steps to reproduce the issue

[code]

[code]

[code]

### Information on your system

[code]

[code]

### Additional information

* [spack-build-out.txt](https://github.com/spack/spack/files/5262554/spack-build-out.txt)
* [spack-build-env.txt](https://github.com/spack/spack/files/5262556/spack-build-env.txt)
* [config.log](https://github.com/spack/spack/files/5262560/config.log)

(No mainainer

[2020-09-22 16:01] omsai commented on #18862
I added `depends_on('libuuid')` to cairo's `package.py` and now it complains about my external fontconfig which almost certainly links to a different version of uuid:

[code]

I'm having spack build fontconfig to see whether that helps ...
(edit: s/uuid/libuuid)

[2020-09-22 16:09] adamjstewart commented on #18862
@michaelkuhn

[2020-09-22 16:17] omsai commented on #18862
Ah, so the build completes if I use spack's fontconfig package instead of my external build.  Let me try removing my `depends_on('libuuid')` line and see whether it still builds.

[2020-09-22 16:23] omsai commented on #18862
Haha, cario builds when I remove `depends_on('libuuid')` so clearly it was my broken `fontconfig` external package that was causing the fault.

Sorry for the noise; I'll show myself out :sweat_smile:

[2020-09-22 16:23] #18862 closed, assigned to nobody

[2020-09-22 16:40] omsai opened #18865 "Installation issue: librsvg"
### Steps to reproduce the issue

[code]

The actual link is: https://download.gnome.org/sources/librsvg/2.44/librsvg-2.44.14.tar.xz

Clearly, the issue is a missing `/` between `librsvg` and `2.44`.  Fixed with:

[code]

PR incoming.

[2020-09-22 16:46] omsai commented on #18865
Ok the PR might require a bit more work because it fails to detect the installed `shared-mime-info@1.9`:

[code]

[code]

[2020-09-22 16:57] omsai commented on #18865
After adding the dependency it still fails with some rust related error:

[code]

[code]

Hmmm... maybe I should try compiling the current stable librsvg 2.50.0 to avail of help from upstream.
(edit s/rsvg/librsvg/)

[2020-09-22 17:08] glennpj opened #18867 "py-torch@1.6.0 produces a GLIBC error when built with CUDA-11"
When trying to use py-torch -1.6.0 built with CUDA 11 I see the following error:
[code]
This works fine when using `CUDA-10.2.89` and `7.6.5.32-10.2-linux-x64`

### Steps to reproduce the issue

[code]

### Information on your system

[code]
[code]

### Additional information

- [x] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [x] I have searched the issues o

[2020-09-22 17:13] omsai commented on #18865
The latest librsvg@2.50.0 requires the cairo+gobject variant whereas the current librsvg only uses vanilla cairo:

[code]

Configure succeeds with these changes:

[code]

[2020-09-22 18:22] adamjstewart commented on #18867
How are you running PyTorch? Python libs don't always support RPATH, so sometimes you need to use `LD_LIBRARY_PATH` for the dependencies.

[2020-09-22 18:28] glennpj commented on #18867
I autoload the modules.
[code]

[2020-09-22 18:36] adamjstewart commented on #18867
What compiler did you use to build PyTorch? Is that compiler loaded as well?

[2020-09-22 19:02] glennpj opened #18872 "py-torchvision and CUDA"
Not sure if this should be a Bug Report or a Build Error issue. My build host has the nvidia driver and CUDA libraries installed and I build cuda enabled packages on it. When building py-torchvision, there is a check to see if `+cuda` is enabled with py-torch and if so, enable `FORCE_CUDA` for py-torchvision. The problem with that is that will not install on a machine that does not have a CUDA dev

[2020-09-22 20:06] glennpj commented on #18867
The compiler is gcc-9.3.0. I have never had to load a compiler environment module before but the compiler paths are available. This does bring up a point though. I verified that this works with CUDA-10.2 but that used gcc-8.4.0. Do you think it might be a compiler issue?

[2020-09-22 21:06] Sinan81 commented on #12281
it seems a dependency of qgis, py-psycopg2, won't build with latest python. Hence you might want to constrain python version. For example, `^python@3.7.8`

[2020-09-22 21:21] Sinan81 opened #18876 "Installation issue: py-psycopg2 fails to build with python@3.8"
### Steps to reproduce the issue
It seems this package fails to build with latest python, 3.8.5. It builds just fine with `python@3.7.8`

[code]

### Information on your system

[code]

### Additional information

[spack-build-out.txt](https://github.com/spack/spack/files/5264050/spack-build-out.txt)

### General information

- [x] I have run `spack debug report` and reported the version of Spack/

[2020-09-22 22:08] Sinan81 commented on #18876
Latest version builds just fine. Will push a PR soon.

[2020-09-22 22:21] glennpj commented on #18867
I just did the build with CUDA-11 using gcc-8.3.0 and see the same result.
[code]

[2020-09-22 22:26] adamjstewart commented on #18867
I don't think it's a compiler issue. I think the problem is that Python libs like PyTorch don't RPATH dependencies, including compiler libraries like GLIBCXX. So when you use that executable, you always need to load the module for the compiler it was built with.

[2020-09-22 22:49] glennpj commented on #18867
I understand what you are saying, and things do work when I load the compiler module, but that does not seem right. I have never had to load gcc compiler modules and that is not necessary when using pytorch-1.6.0 with cuda-10.2. I agree that this is an RPATH problem, but one that seems to be specific to CUDA-11.

[2020-09-22 23:52] #15423 closed

[2020-09-23 00:16] omsai opened #18878 "Installation issue: openbabel"
Open Babel 3.0.0 and the latest 3.1.1 automagically detects the system wxwidgets and link to GTK2 libraries on RedHat 6, which causes the fun failures below.  This can be disabled in upstream's CMake via BUILD_GUI=OFF.  Good practice in packaging is not letting these options up to chance and having the wrapper - spack's variants - control them.  But I can't think why someone would want the openbab

[2020-09-23 00:55] mierl opened #18880 "Installation issue: <callpath, mpileaks>"
### Steps to reproduce the issue
Minimal test case: following the Spack packaging tutorial with Docker (https://spack-tutorial.readthedocs.io/en/latest/tutorial_packaging.html, I used the Docker image for OSX: https://hub.docker.com/editions/community/docker-ce-desktop-mac/), the mpileaks packaging example won't work after adding depends_on('callpath').

[code]

### Information on your system
It's

[2020-09-23 04:56] ikitayama opened #18882 "Is cuda package installed as if the NVIDIA provided install script does?"
I'm asking this as I seem to have had the app run-time issue on ThunderX2 + V100 system.

@ax3l can you jump in and enlighten us?

[2020-09-23 06:17] ax3l commented on #18882
Hi @ikitayama,

I'll try my best.

What we do in the `cuda` package is take the [CUDA toolkit `runfile` scripts](https://developer.nvidia.com/cuda-downloads) and install them - minus the drivers - in user-land. The cuda toolkit is a large collection of compilers, some tools, and a lot of libraries that Nvidia bundles into one "release". Some of the packages you can also install independently again

[2020-09-23 06:24] ax3l commented on #18882
The `install(...):` method in the file opened with `spack edit cuda` is the main logic that is going on.

`spack install -v cuda@<some-version>` shows the exact commands we issue, e.g.:
[code]
So in the case above: `download`, `chmod +x` and then calling `cuda_10.0.130_410.48_linux` with the silent installer flags.

[2020-09-23 06:25] ikitayama commented on #18882
I've reported this lockup issue to the LLVM OpenMP community and Joseph summarises:

"The runtime library just calls abort() immediately after printing that last "Failure while offloading was mandatory" message. I'm not sure what would be causing the process to hang after that if SIGABRT isn't being caught."

this is the situation I am seeing; this happens with Spack CUDA Toolkit or admin installe

[2020-09-23 06:32] ax3l commented on #18882
Hm, I am not too familiar with this.
Are you using Clang for OpenMP offloading?

Was that Clang/LLVM built with Spack and/or against the Spack CUDA package?

[2020-09-23 06:35] ikitayama commented on #18882
Yes, I'm using Clang for OpenMP offloading, the target device is V100. I believe that's the case though I am not so certain.

[2020-09-23 07:04] ikitayama commented on #18882
@ax3l -- after checking env vars `CUDA_HOME` and friends, I realized I did not use Spack `cuda` at all as they are
set to JURECA admins added values like:

`/usr/local/software/jureca/Stages/2019a/software/CUDA/10.1.105`

Envrioment modules set above env vars appropriately when the CUDA Toolkit module is loaded, but
what about Spack?

[2020-09-23 07:45] bollig opened #18883 "Order of projection is not respected"
Multiple projection keys (e.g., ^mpi^libfabric) default to the single key form (e.g., ^mpi).

### Steps to Reproduce

[code]
I expect the 2nd expression to be selected, but the third is chosen on all modules that have both mpi and libfabric deps.

### Workaround
I can get the right projections with this:
[code]
But I imagine some cases where libraries I'd like to include are not guaranteed to also

[2020-09-23 07:47] bollig commented on #18883
Might be related to #18527

[2020-09-23 15:41] payerle opened #18894 "Installation issue: m4 (failures in system headers with %intel@20)"
This appears similar to #18854, in that getting (the same) odd errors in system header files
when compiling with intel@20.  Again, the issue appears to be due to the inclusion of a
"--no-gcc" flag by the package.  Presumably such was needed with older intel compilers, but does not appear needed with recent ones.

### Steps to reproduce the issue

[code]
fails, with errors like
[code]

### Informat

[2020-09-23 16:04] opadron opened #18895 "Spack runs git without isolation"
Here, I was trying to work around an issue in the tests where my local git config was causing failures.

After taking a closer look and doing some googling, I realize that running git as part of a script (or in this case, as part of Spack) and *not* taking the extra measures needed to ensure that it is isolated from user- and system-provided git configs is inherently broken.  This is a separate is

[2020-09-23 17:11] payerle commented on #15146
Does adding the "provides('fftw-api..." lines work?
I thought the issue was a bit more fundamental.
IIRC, when installing parallel studio manually, the installer script from intel installs all the packages, but there is an additional step required for the fftw-api; basically you had to compile some code they provided.
Normally spack could do that, but  this is tricky when spack is installing paral

[2020-09-23 17:14] rdbisme commented on #15146
@payerle In my case I was linking an already existing installation, so the `fftw` static libraries were already there. So specifying the location in the `packages.yaml` worked for me.

For an actual new install, I have no experience so I leave the word to someone more experienced. :)

[2020-09-23 17:53] payerle opened #18896 "Installation issue: arpack-ng (^intel-mkl thread=tbb not finding tbb libs)"
I have labelled this as an issue with arpack-ng, as that is the package that I am having trouble building, but I suspect the underlying issue is with intel-mkl.

### Steps to reproduce the issue
I have installed intel-parallel-studio following instructions at https://spack.readthedocs.io/en/latest/build_systems/intelpackage.html#install-steps-for-packages-with-compilers-and-libraries.  I want to u

[2020-09-23 18:12] greschd commented on #15146
In my case it was indeed a manually installed `intel-parallel-studio` - not sure why I didn't run into the described problem. It's possible I had some other compiler in the path at the time.

[2020-09-23 18:52] payerle commented on #15146
I recently installed intel-parallel-studio@2020.1 via spack so a colleague
could build a proprietary package outside of spack, and he discovered that
he needed to build
the FFTW3 wrappers for MKL.  MY last manual install of Intel parallel
studio was a couple years back, and my installation notes (which probably
go back 5+ years) note
the need to run
make libintel64 compiler=intel
in the $MKLROOT/i

[2020-09-23 18:55] payerle opened #18897 "Installation issue:"
I have labelled this as an issue with arpack-ng, as that is the package that I am having trouble building, but I suspect the underlying issue is with intel-mkl.

### Steps to reproduce the issue
I have installed intel-parallel-studio following instructions at https://spack.readthedocs.io/en/latest/build_systems/intelpackage.html#install-steps-for-packages-with-compilers-and-libraries.  I want to u

[2020-09-23 19:17] tgamblin opened #18898 "test"
### Steps to reproduce the issue

[code]

### Error Message

[code]

### Information on your system

### Additional information

- [ ] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [ ] I have searched the issues of this repo and believe this is not a duplicate
- [ ] I have run the failing commands in debug mode and reported the output

[2020-09-23 19:17] #18898 closed, assigned to nobody

[2020-09-23 21:33] naromero77 commented on #10494
I apologize for not replying. I get inundated with e-mail at times. Is this still an open issue? There have been several fixes, so could you please check to see if:
`spack install flang@master%gcc`

We don't do much testing with Apple clang, but you should be able to install gcc with Spack on your mac.

[2020-09-23 22:37] ellio167 commented on #10494
Hi, No problem on any delays.  This is not something that I'm overly concerned with at the moment, but it would be nice to get working...

Starting from a fresh checkout of the develop branch:

[code]

[2020-09-24 00:46] adamjstewart commented on #18895
I had a similar issue in #18454 but would welcome a more general solution.

[2020-09-24 00:47] adamjstewart commented on #18897
Is this an accidental duplicate of #18896?

[2020-09-24 02:09] darmac opened #18905 "should we add sbin directory to environment by default if it exist."
I found many packages output its binary to a `sbin` directory, but in spack, we only add `bin` to `PATH`, should we add `sbin` to `PATH` too by default?

[2020-09-24 02:21] payerle commented on #18897
Sorry, must have accidentally submitted twice.

[2020-09-24 02:21] #18897 closed, assigned to nobody

[2020-09-24 09:28] ax3l commented on #18882
Yes, Spack does not set that variable unless you configure it to do so. But it's also not really needed.

I think in order to help you further one would need more details: what are your loaded modules on the system and what configurations do you place in Spack's yaml files? Do you have a concrete reproducer code/mini-example, now did you built it and what was the exact error message you see at run

[2020-09-24 13:40] lrknox commented on #18176
Pull request to build HDF5 with CMake:  https://github.com/spack/spack/pull/18937.  Please try with your package and report results or issues.

[2020-09-24 14:58] rosenbe2 opened #18939 "Can't install flang or gcc variants with CUDA support"
I am a complete beginner to using spack.

Both flang and gcc support OpenMP offloading - this is the future of supercomputing - just one version of your code with OpenMP offloading to support any accelerator device, GPU, Vector Engine, etc.

I have not had any problems installing gcc or flang,  with CUDA support, using install scripts dowloaded from the web.

However, with spack, I have had proble

[2020-09-24 15:56] adamjstewart commented on #18905
Based on a quick google search (https://superuser.com/q/595818/550210, https://askubuntu.com/q/972611/548115), it seems that it isn't recommended to add `sbin` to the `PATH` for normal users. That's why the executables are installed in `sbin` instead of `bin`.

[2020-09-24 15:58] adamjstewart commented on #18939
@michaelkuhn @naromero77 @trws @ax3l @svenevs

[2020-09-24 16:00] vvolkl opened #18940 "Concretizer fails to constrain python version"
Since the preferred version of `python` was changed, `gaudi`, a package that requires `python@:3.7.99` fails to concretize. Putting the python version `3.7.8` in my `packages.yaml` is my current workaround, but the concretizer should be able to handle this, I think!

### Steps to reproduce the issue

[code]

### Error Message

[code]

### Information on your system

~/spack (develop)$ spack debug

[2020-09-24 16:06] naromero77 commented on #18939
I can take a quick look later today, but one thing to note is that the OpenMP 4.5 offload in flang is very incomplete. You can use it to learn OpenMP 4.5 with small test cases, but a real OpenMP 4.5 application is out of the question.

[2020-09-24 16:15] vvolkl opened #18941 "Add `spack spec -I` as a flag to spack install"
### Rationale

Due to [known issues with the concretizer](https://spack.readthedocs.io/en/latest/known_issues.html#variants-are-not-properly-forwarded-to-dependencies) I'm almost always checking what spack is going to do with `spack spec -I <spec>` before `spack install <spec>`, in case I need to add an installed dependency by hash.

### Description

 From working with [Unix](https://man7.org/linu

[2020-09-24 16:57] sethrj commented on #17893
Could it be the length of the filenames used? The path to the source file is 692 characters...

[2020-09-24 17:08] naromero77 commented on #18939
There are several problems here. Let me start with the conflicts obtain with `spack install flang+cuda`. GCC 10 is simply to new and will not work with CUDA. Try an older GCC -- I use GCC 7.x most of the time, it looks like GCC 9 should work. It may also be that the CUDA Spack package needs to be update to support GCC 10.x.

You are hitting a bug in pgmath that is fixed in `master`, please update

[2020-09-24 17:39] naromero77 commented on #10494
A pull request just merged into Spack and there is some chance it will fix the issue with Apple clang, but I am not sure. First, please pull the latest version of Spack develop.

Then, using the Apple Clang, can you try:
`spack install flang@master%apple-clang`

[2020-09-24 18:00] naromero77 opened #18942 "Deleting f18 package"
@certik Would it be acceptable to delete the f18 package once the the fully functional flang (aka f18) is in the main LLVM package? I think this will happen by the end of CY 2020.

[2020-09-24 18:10] naromero77 opened #18944 "Future of Classic Flang Spack package"
@junghans Would it be acceptable to merge the `pgmath` Spack package into the main `flang` Spack package? This may neccesitate a few changes to the classic flang build system which I am trying to sort out. It would make it easier for me to maintain it.

[2020-09-24 18:16] junghans commented on #18944
Sure, go ahead

[2020-09-24 18:22] svenevs commented on #18939
4. "%gcc@8:" conflicts with "llvm-flang+cuda ^cuda@:10.0.130 arch=linux-None-x86_64:"
5. "%gcc@9:" conflicts with "llvm-flang+cuda ^cuda@:10.2.89 arch=linux-None-x86_64:"
6. "%gcc@:4,10:" conflicts with "llvm-flang+cuda ^cuda@:11.0.2 arch=linux-None-x86_64:"

Your build depends on more than one version of CUDA, which cannot be done. Not sure what fix is, flang has never been functional for me. It

[2020-09-24 18:42] certik commented on #18942
Yes, you can remove it now.

[2020-09-24 18:50] kramanella commented on #17134
Just ran into the same issue attempting to install iozone,
`==> iozone: Executing phase: 'edit'
==> Error: PermissionError: [Errno 13] Permission denied: 'makefile'`

Any resolution on this yet? Thanks!

[2020-09-24 19:41] #18876 closed, assigned to nobody

[2020-09-24 19:53] ellio167 commented on #10494
[code]

`/var/folders/j4/h2gbqxq55cjf662phqs27_l40000gp/T/relliott/spack-stage/spack-stage-flang-master-vvy43nj66gifi26jqb3zksalset6urbp/spack-build-out.txt` contains
[code]

looks like there is no `make install` target? Is that possible?

[2020-09-24 20:26] naromero77 commented on #10494
Looks like part of the problem is that OS X is simply not supported:
https://github.com/flang-compiler/flang/issues/75
https://github.com/flang-compiler/flang/issues/212

If you really want to support Apple clang, I recommend filing an issue on the Flang github repo:
https://github.com/flang-compiler/flang/issues

Sorry that I could not help more.

[2020-09-24 20:32] ellio167 commented on #10494
@naromero77 Thanks for the effort; it's greatly appreciated.

What is spack policy here.  Should the flang package be updated to fail gracefully in this case, at least until someone discovers that it has started to work?

[2020-09-24 20:44] naromero77 commented on #10494
I can certainly put a conflict and a warning message. I will get this done later, probably next week.

[2020-09-24 20:47] ellio167 commented on #10494
Thanks for all your hard work.  I guess I'll let you close this issue, but I consider it complete.

[2020-09-24 21:18] naromero77 commented on #18939
You are correct. There is a double-dependency here on CUDA that is un-needed.

Also, part of the problem with this implementation is that `cuda_arch` is not automatically propagated properly in the DAG. The value of `cuda_arch` is set to none, because I find it equally problematic to set it to some default value. You have to compile the bitcode for your GPU architecture, normally this is not such

[2020-09-25 00:21] svenevs commented on #18939
That's the only thing actually being guaranteed / enforced out of this btw. Different packages / build systems may decide to do their own thing regardless. But yeah it would be better if cuda_arch were somewhere higher than package level. My understanding is when compilers are "properly in the DAG" then we can move cuda_arch there. Gets a little tricky with llvm+cuda (?) Maybe it just gets moved t

[2020-09-25 03:03] sethrj opened #18958 "Version conflicts in concretizer"
The ForTrilinos package uses a couple of SemVer (but not PEP-440) compatible version numbers such as `2.0.0-dev3` building up to a `2.0.0` release. Each of these dev versions requires a slightly different version of Trilinos, encoded as:
[code]

however, the concretizer rejects this:
[code]

A possibly similar issue I hit (#17145) earlier indicates the concretizer might have trouble with unusual v

[2020-09-25 03:57] glennpj commented on #18905
I have been wanting to ask, is there a reason why spack is bringing in a lot of system/distribution level packages?

[2020-09-25 08:12] sparrow84001 commented on #18747
[freeglut_spack_build_out.txt](https://github.com/spack/spack/files/5281419/freeglut_spack_build_out.txt)
[ftgl_spack_build_out.txt](https://github.com/spack/spack/files/5281422/ftgl_spack_build_out.txt)
[glew_spack_build_out.txt](https://github.com/spack/spack/files/5281423/glew_spack_build_out.txt)

[2020-09-25 08:43] darmac commented on #18905
@glennpj  We have a lot of packages which need to build, run and verify in different distribution, and we think spack is a perfect tool to make it easily.
And also, sometimes we need some new version for these packages.

[2020-09-25 15:05] rosenbe2 commented on #18939
Nichols,

I was able to install with

                                Spack install flang@master %gcc@8.2<mailto:%25gcc@8.2>

%Gcc@10.2<mailto:Gcc@10.2> failed with same pgmath error.

When I try to install with cuda, I receive the following error message:

mayhem: ~/tau/pi/srl/f90  71 > spack spec flang@master +cuda cuda_arch=70 %gcc@8.2
Input spec
--------------------------------
flang@master%gc

[2020-09-25 15:46] rosenbe2 commented on #18939
Stephen,

I just wanted to re-iterate that I can install gcc@10.2.0<mailto:gcc@10.2.0> with cuda support (gcc@10.2<mailto:gcc@10.2> +nvptx) for OpenMP Offloading and flang@9.0.0<mailto:flang@9.0.0> with OpenMP Offloading from _bash scripts_ offered on the website, respectively.  I am using cuda/11.0 which Is compatible with the three types of NVIDIA GPUS I am targeting, P100(cc60), V100(cc70) and

[2020-09-25 17:19] nsimakov opened #18973 "automatic target selection on package loading"
Hello,

I think adding automatic target selection on package loading can be beneficial for several usage scenarios like loading packages on heterogeneous clusters and performance optimized containers.

### Rationale

Many HPC applications successfully utilize vectorized instructions and thus performance depends on both hardware and the way how application was build. Bellow is a plot to illustrate

[2020-09-25 18:05] downloadico opened #18975 "installing intel package for gcc (other than the latest) doesn't work"
I had the intel@19.1.2.254 package installed with the gcc@10.2.0 compiler and I want it to be installed with the gcc@4.8.5 compiler.
I ran 'spack uninstall -y  intel@19.1.2.254%gcc@10.2.0 && spack install intel@19.1.2.254%gcc@4.8.5 && spack find intel@19.1.2.254'
[code]

### Error Message

no errors reported, but the intel@19.1.2.254%gcc@4.8.5 package isn't installed, instead the  intel@19.1.2.254

[2020-09-25 18:10] naromero77 commented on #18939
For Classic Flang, you can give this PR a try:
https://github.com/spack/spack/pull/18965

But again, the OpenMP offload for classic flang was not completed and it will not work with recent versions of CUDA or even recent GCC compilers. Basically, the PR just gives a warning and a disclaimer to this effect.

[2020-09-25 18:22] naromero77 commented on #18939
Lets separate out two things. Spack package developers are not always developers of the underlying package. (sometimes they are).

I am not a developer of Classic Flang, but an informed contributed. There are no plans to continue work on the OpenMP offload backend for Classic Flang. Its included in the Spack package for legacy reasons. Eventually there will be a functioning F18 (new Flang) in the

[2020-09-25 19:57] svenevs commented on #18939
It's a slow moving train, along with all the tools involved in your build including OpenMP (looking at you apple...). In reading your response, I'm sorry if I upset you by what I wrote. The intent was to provide my guess on the underlying cause based on the information I had, but it was stated in a way that probably left you thinking I'm saying "I don't care about your openmp problems." which was

[2020-09-25 20:46] rosenbe2 commented on #18939
Stephen,

I am completely new to SPACK and I am amazed and appreciate the timely feed back that I am receiving from both you and Nichols Romero.

What may be at issue here is expectations.  I thought, since I installed both gcc and flang with Offloading support, using scripts, that it might be actually easier to do with SPACK.
But that seems not to be the case, at least for me.

But I have learned

[2020-09-25 20:57] naromero77 commented on #18939
It should be easier to install these packages with Spack.

I have not tried the GCC+npvtx variant in a while, but when I tried it a year ago -- it just worked. But then again, we are unpaid volunteers and it is some effort to keep these packages updated and I think, in practice, we wait for somebody to complain and file an issue before updating :)

I think that its worth it to give Gfortran OpenMP

[2020-09-25 21:06] rosenbe2 commented on #18939
Nichols,

No rush on your response - both you and Stephen McDowell have been amazing with timely and informative responses.

As you recommended, I sent an email to Michael Kuhn.

Also, I read a little bit of your bio at ANL and I saw that you spent some time with the DoD HPCMP.  I have, upon occasion, worked closely with them on Requirements and Benchmarking. Currently I am on an NRL team that is

[2020-09-25 21:28] svenevs commented on #18939
For gcc you probably want to apply #18449 I think that's only needed for GCC 10+ but not sure.

Guilty as charged...

[2020-09-25 22:21] eugeneswalker opened #18978 "slate: missing header files"
Using `spack@develop` (ac7c69e62e61b0a45344690a8ede29f064f8fed5, 2020-09-25 ~1515) and trying to install+use `slate@develop` (cloned 2020-09-25) on:
* `Ubuntu 18.04`
* `X86_64`
* Built with `gcc@7.5.0`

I think there are some missing header files from the `slate` install:

[code]

[code]

These are the only header files present:
[code]

Looks like all the header files under `slate/...` are missing

[2020-09-25 23:01] G-Ragghianti commented on #18978
Hi Eugene.  I think these "missing" header files are only required for building slate.  For building _against_ slate, you only need the three header files that are installed. during the "make install" process.  Are you actually experiencing a problem related to this?

[2020-09-25 23:04] G-Ragghianti commented on #18978
After looking at this a bit more closely, I think I will consult the devs as to whether there was a reorganization of the header files.

[2020-09-25 23:25] eugeneswalker commented on #18978
Thanks for the quick response!

This was the simple example I was trying:

<b>slate-test.cpp</b>
[code]

[code]

[2020-09-26 12:43] hhoeflin opened #18980 "Installation issue: gcc@10.2"
Build of gcc@10.2 fails unable to retrieve the source. I believe the error is that the download directory needs to be /gnu/gcc/gcc-10.2.0 and the .0 is missing from the directory and the zip file in the download instructions.

### Steps to reproduce the issue

[code]

### Information on your system

[code]

### Additional information
[code]

[code]
### General information

- [x ] I have run `spack

[2020-09-26 12:52] hhoeflin commented on #18980
Never mind ... I should have installed gcc@10.2.0.

[2020-09-26 12:52] #18980 closed, assigned to nobody

[2020-09-27 06:49] Sinan81 commented on #12281
I just built qgis and all its dependencies from scratch via the following command on spack v0.15.4 checkout with gcc@8.3.0
[code]

[2020-09-28 13:21] Rashadx86 commented on #16874
I'm encountering the exact issue, with infiniband drivers installed on the host os. I can test or provide logs as needed

[2020-09-28 13:21] obreitwi commented on #18940
Sounds like #12431.

[2020-09-28 15:05] vvolkl commented on #18940
@obreitwi Sounds indeed similar - but it also means that the issue is not only with 2/3 but also with 3.x/3.y!

[2020-09-28 16:22] eugeneswalker opened #19028 "mpich non-functional when relocated from build cache with relative paths"
I've got a situation where `mpich` is non-functional if
1. `mpich` binary cache was created using `-r` flag to `spack buildcache create`
2. `mpich` is installed from the binary cache into an `install_tree` which differs from where it was originally built

**The problem seems to be tied to having cached `mpich` with `spack buildcache create -r`**

I'm using:
* `spack@develop` (ac7c69e62e61b0a453446

[2020-09-28 17:19] scheibelp commented on #18940
Getting Spack to resolve this automatically will be resolved with the concretizer update. See item [1] of https://github.com/spack/spack/wiki/Issue-Disambiguation (and particularly https://github.com/spack/spack/issues/5465#issuecomment-332027738).

I wanted to confirm this is not strictly a 2/3 issue, it may occur with versions on any package (and is not restricted to major version changes).

[2020-09-29 00:43] #18370 closed, assigned to sethrj, v-dobrev

[2020-09-29 01:08] ax3l commented on #18613
Sorry, cannot reproduce/support due to lack of access to such as system.

[2020-09-29 01:15] ax3l commented on #18001
Just to clarify: only when you declare your package as `CudaPackage` will we pull this dependency list.

Just let us add a `cudacxx` variant to the `CudaPackage`. I did that before for PIConGPU:
https://github.com/ComputationalRadiationPhysics/spack-repo/blob/348e1443150d7134937746b33de3531db31dc340/packages/picongpu/package.py#L56-L59

I'll push a PR after CUDA 11.1.0 is in (#19036).

Update: wor

[2020-09-29 01:17] ax3l commented on #17871
Oh no, that looks like an ICE in Intel's compiler.
@chuckatkins which ICC version do you test/support?

Is it possible just to ship a GCC-built ADIOS 2.6.0 on Cori?

Thanks a lot,
Axel

[2020-09-29 01:36] ikitayama commented on #18613
I'd be happy to provide the information needed to investigate this issue.

On Tue, Sep 29, 2020 at 10:08 AM Axel Huebl <notifications@github.com>
wrote:

[2020-09-29 07:03] healther opened #19041 "Installation issue: openblas@0.3.10 on MacOSX"
After having handed in my thesis (and therefore can risk screwing up my environment again) I tried to upgrade to the up-to-date spack/develop branch. Turns out this breaks building `openblas`. I'm not sure why, there are at least 3 option that I'm aware of:
1) The latest Xcode update (to `apple-clang@12.0.0`) is unable to build `openblas` (previously it was `clang@11.0.0-apple`, i.e. my software i

[2020-09-29 07:36] healther commented on #4189
We do not use `spack load` or `spack loads` anymore, so I do not really care. But afaik spack never learned to enforce consistency in manual `spack load`s. So feel free to close, but I'm not sure if the underlying problem was ever resolved :)

[2020-09-29 07:37] healther commented on #9414
We switched to manually annotating most things that let to conflicts (especially wrt to py2) anyways, so feel free to close

[2020-09-29 10:00] rrobinson-RMS commented on #12281
Ok Trying from a fresh install CentOS7 with gcc 8.3.0.

Im not sure what you mean by spack v0.15.4 checkout. This doesnt seem to work for me.

[hpcadmin@ukvmlx-head-05 spack_Oct_2020]$ git checkout releases/v0.15.4
error: pathspec 'releases/v0.15.4' did not match any file(s) known to git.

I've tried 0.15 but get this error.

[hpcadmin@ukvmlx-head-05 spack_Oct_2020]$ git checkout releases/v0.15
Al

[2020-09-29 12:13] #18905 closed, assigned to nobody

[2020-09-29 12:15] darmac commented on #18905
@adamjstewart  got it, thanks for your guidance.

[2020-09-29 12:22] yellowhat opened #19043 "Compiler 'intel@19.0.5.281' has executables that are missing or are not executable:"
### Steps to reproduce the issue
[code]

### Error Message
[code]

### Information on your system
[code]

[2020-09-29 14:48] rrobinson-RMS commented on #12281
Worked fine until this bit. Was close to getting most dependencies installed.

[code]

[2020-09-29 16:27] adamjstewart commented on #19041
I saw very similar error messages due to Apple Clang 12, had to contact the devs and get patches for them. Can you poke around the internet and see if anyone has patched this already and if not contact the devs?

[2020-09-29 16:37] RemiLacroix-IDRIS commented on #9349
This seems fixed.

[2020-09-29 16:37] #9349 closed

[2020-09-29 16:40] RemiLacroix-IDRIS commented on #17930
Any news regarding this? We would like to start using the new NVIDIA compilers.

[2020-09-29 16:40] RemiLacroix-IDRIS commented on #17794
@alalazo or @adamjstewart: Any thoughts about this?

[2020-09-29 16:42] adamjstewart commented on #17794
I would remove the optimizations from the package and let Spack automatically handle those with its compiler wrappers.

[2020-09-29 17:12] healther commented on #19041
I had hoped you already had run into these problems xD but yeah that was my impression. I didn't find much on the internet... guess `apple-clang@12.0.0` is still to new. I'll try to contact the `openblas` devs and also the `py-llvmlite` ones, which I ran into later... But unfortunately it will be a couple of days before I get to it :/

[2020-09-29 17:33] adamjstewart commented on #19041
I ran into these problems for hdf5/bash/apr and a few other packages, but I use `intel-mkl` instead of `openblas`, so didn't encounter this specific one. Apple Clang 12.0.0 is based off of LLVM Clang 10.0.0, but might have different default flags, idk.

[2020-09-29 19:02] Sinan81 commented on #12281
Can you do, the following and try again

[code]

[2020-09-29 19:03] payerle commented on #14785
I am seeing similar on
* **Spack:** 0.14.2
* **Python:** 3.6.8
* **Platform:** linux-rhel8-ivybridge

using intel-parallel-studio@2020.1 (externally installed, but I do not think that matters).

Issue seems to be that icc generates warnings on \#pragma omp lines when not invoked with the proper OpenMP flag, and based on other flags warnings are promoted to errors.  But as this is metis, not mt-met

[2020-09-29 20:06] grabear opened #19051 "RStudio breaks with spack installed version of R"
Hello spack team!

I'm having trouble getting RStudio Desktop to run on my machine with a version of R installed using spack.  Rstudio will run, but I get an error message on startup.  It seems to be a networking/internet issue because I cannot install packages.  Additionally, this error is not generated when running R straight from the command line.

**Disclosure**:  I'm using spack on Linux Mint

[2020-09-29 21:05] Sinan81 commented on #12281
just saw your comment above regarding v0.15.4. In order to prevent  `flexiblas` error, you might want o start with a fresh `~/.spack` folder.

[2020-09-29 21:36] Char-Aznable opened #19052 "Support package specific compiler flag"
### Rationale
Currently, compiler flags are passed down the dependencies. This may not always be desirable and may result in inflating package installation. More often than not, I only want to use `-g` debug flag for package `A` and I don't want the debug flag to be used for every single dependency package.

### Description

I'd like to have something like:
[code]

### Additional information

###

[2020-09-30 07:10] yellowhat commented on #19043
I get the same error with tag `0.15.4` but seems to work with `v0.14.2`.
Did something change between releases?

[2020-09-30 07:57] haampie commented on #19052
I totally agree with the problem pointed out in this issue. Additionally there is the issue you cannot specify different compiler flags for different packages on the command line.

Alternative solution: make a breaking change to not pass compiler flags specified on the command line down to dependencies. I believe this is the intuitive behavior.

[2020-09-30 12:35] healther commented on #19041
@adamjstewart are you aware of home-brew's tracking issue? https://github.com/Homebrew/brew/issues/7857 They seem to directly include work for apple-silicon though (not sure what `spack`'s plan is in that direction)

[2020-09-30 12:36] adamjstewart commented on #19041
Yeah, I've seen that. Unfortunately my laptop is too old to upgrade, so I haven't been paying much attention to it.

[2020-09-30 12:37] healther commented on #19041
and this here seems to actually be a duplicate of #18658 is there an option to merge both?

[2020-09-30 13:17] adamjstewart commented on #19041
No way to merge, we would have to close one or the other.

[2020-09-30 13:23] dennisklein commented on #19041
FYI: I just tried https://github.com/xianyi/OpenBLAS/pull/2808 (https://github.com/xianyi/OpenBLAS/issues/2805) and it appears to fix the compilation issue here for us on `openblas@0.3.10 %apple-clang@12` (gcc 10). Have not tried any other versions/compilers.

[2020-09-30 15:15] healther commented on #19041
PR in #19057

[2020-09-30 16:59] gartung commented on #19028
Do you know if the version of glibc changed in the Docker image used during the build of mpich versus the install of mpich?

[2020-09-30 17:01] gartung commented on #19028
Run `ldd mpiexec` and see which libpthread is being used before creating the buildcache and after installing the buildcache in the new location.

[2020-09-30 17:29] eugeneswalker commented on #19028
It did not. I replicated this problem entirely using a single running container instance, from `ecpe4s/ubuntu18.04-runner-x86_64:2020-09-01`. I did all of the following in this single container:
1. Build `mpich` from source, into a long path
2. Cache `mpich` and all dependencies to the local filesystem using `spack buildcache create -r ...`
3. Installed `mpich` from cache, to a shorter path (`spac

[2020-09-30 17:38] gartung commented on #19028
On Centos8 relocation works.

[code]

[2020-09-30 17:39] eugeneswalker commented on #19028
Here is the output of `eu-elfcmp` run comparing the functional and non-functional `mpiexec` binaries, for what it's worth:
[code]

[2020-09-30 17:55] eugeneswalker commented on #19028
I agree. The same workflow described in OP, which does not work on `Ubuntu 18.04`, *does work* on `CentOS 8`. Likewise, there do not appear to be problems with this flow on `RHEL 7`

[2020-09-30 17:56] gartung commented on #19028
I wonder if ubuntu added a checksum hash to  binaries.

[2020-09-30 19:16] Char-Aznable commented on #14946
I have similar issue. Does the OS name actually mean anything to the build system? I have been using custom toolchain including glibc to build tools and I don't think they rely on a particular OS to run.

[2020-09-30 21:27] gartung commented on #19028
https://github.com/spack/spack/pull/19061

[2020-09-30 21:32] gartung commented on #19028
This was ultimately caused by two issues. The new normalized paths were duplcated because of multiple identical entries in the prefixes dictionary. The relative relative rpaths were needlessly rewritten even though the directory layout was not changed. On Ubuntu rewriting the rpath entry with one twice its size corrupted the .gnu.hash section. This is likely a patchelf bug but it only happens on U

[2020-09-30 22:04] eugeneswalker commented on #19028
Worked for me!

[2020-09-30 23:42] srini009 commented on #18468
Same problem on Theta as well.

[2020-10-01 07:00] xman opened #19088 "Installation issue: OpenFOAM"
### Steps to reproduce the issue

[code]

### Information on your system

$ spack debug report
* **Spack:** 0.15.4-1202-5c6153ce0
* **Python:** 3.8.5
* **Platform:** linux-fedora32-haswell

### Additional information

* [spack-build-env.txt](https://github.com/spack/spack/files/5309939/spack-build-env.txt)
* [spack-build-out.txt](https://github.com/spack/spack/files/5309941/spack-build-out.txt)

@

[2020-10-01 07:39] ketsubouchi commented on #18733
Sorry for late. Basically @scemama plan is good.
We want to build CCA-EBT with Fujitsu compiler, not only gcc.
However, some `opam` file or source archive file includes `CC=gcc`.
And Opam does not support CCA-EBT. So update is needed.

1. Update some opam package file to support non-GCC compiler.
2. Create "opam-ocaml" package. run `opam init`, patch opam repository, `opam switch create ocaml-base

[2020-10-01 14:12] payerle opened #19094 "Installation issue: superlu-mt +openmpi %intel (undefined omp symbols)"
### Steps to reproduce the issue

[code]

### Information on your system

### Additional information

* [spack-build-out.txt]()
* [spack-build-env.txt]()

### General information

- [ ] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [ ] I have run `spack maintainers <name-of-the-package>` and @mentioned any maintainers
- [ ] I have uploaded the build log and en

[2020-10-01 14:12] #19094 closed, assigned to nobody

[2020-10-01 14:18] payerle opened #19095 "Installation issue: superlu-mt +openmp %intel (unresolved openmp symbols)"
### Steps to reproduce the issue

[code]
fails with errors like
[code]
Googling and other research suggests that this is due to the lack of providing the correct openmp flag during the link stage.

### Information on your system
[code]

### Additional information

* [spack-build-env.txt](https://github.com/spack/spack/files/5312622/spack-build-env.txt)
* [spack-build-out.txt](https://github.com/sp

[2020-10-01 17:08] olesenm commented on #19088
Yes, hadn't gotten to updating for newer adios. They changed a bit with output file extensions (among other things) that would need an update in OpenFOAM.

[2020-10-01 17:35] scottwittenburg commented on #18196
The E4S pipeline on gitlab.spack.io has been building `aml@0.1.0` for awhile now, just different DAG hashes depending on the spack version, etc...  I remember seeing this error awhile back in that pipeline, but then it went away, kind of inexplicably.  The DAG hash hasn't changed in awhile, but seems it did just recently, and now `aml` is failing to build again with this same error message.

Here

[2020-10-01 17:48] eugeneswalker commented on #18196
@freuk @mlhardware Do either of you have ability to upstream a fix for this?

[2020-10-01 19:09] freuk commented on #18196
Hello - we just saw this. @perarnau is preparing a bugfix release for this, and I'll bump the package.

[2020-10-01 19:15] eugeneswalker commented on #18196
@freuk Do you know which version of `automake` is required to run `autoreconf` for `aml`? I'm trying to test a change to `doc/Makefile.am` and when I run `autoreconf` :
[code]

For me, Spack is by default concretizing the automake dependency to version `1.16.2`

[2020-10-01 20:41] Sinan81 commented on #12281
@rrobinson-RMS The build error you mention is above is unrelated to QGIS, so I strongly recommend you open an new issue for this build error, as well as others, so that the Spack team can help you.

That being said I think there might be  a couple of reasons why you often experience such build errors while building QGIS from scratch:

- qgis has a lot of dependencies: ~150 packages
- using develop

[2020-10-01 20:41] #12281 closed

[2020-10-01 23:10] perarnau commented on #18196
@eugeneswalker our CI runs autoconf 2.69 and automake 1.16.1

@scottwittenburg could you check that the v0.1.x branch upstream (https://xgitlab.cels.anl.gov/argo/aml/-/tree/v0.1.x) works for you? I'll make a bugfix release with it if everything's good.

[2020-10-02 07:35] scemama commented on #18733
@ketsubouchi
Excellent!
Have you started yet? Do you want me to create a fork for this and share it with you?

[2020-10-02 12:10] mdorier opened #19126 "Warning when deactivating environment with external repos"
I have a spack environment described in a spack.yaml file. This file includes the following entry:

[code]

This external repository is known to this environment, but is not in my `~/.spack/repos.yaml` file, which allows me to use it within the environment without making it global to all environments.

When I call `spack env deactivate` to deactivate this environment however, I am getting the foll

[2020-10-02 14:16] haampie opened #19128 "Binary cache issue: "reason: full_hash was missing from remote spec.yaml" happens all the time"
Spack keeps pushing existing packages to the binary cache

### Steps to reproduce the issue

[code]

but the remote has full hashes for sure:

[code]

 Ping @scottwittenburg

### Information on your system

* **Spack:** 7f2f2a01ff41c9b58d9da4dcad839389e99bb040
* **Python:** 3.6.9
* **Platform:** linux-ubuntu18.04-zen2

[2020-10-02 15:00] scottwittenburg commented on #19128
Any idea when this behavior started?  It would be good to know if it broke just this week, for example, as in that case maybe something in #18359 broke it.

[2020-10-02 15:01] haampie commented on #19128
Yeah, it's that change, it looks for `spec_yaml['full_hash']` but should be looking for `spec_yaml['spec'][n]['pkgname']['full_hash']` I guess. It started failing since 2 days ago in CI

[2020-10-02 15:04] scottwittenburg commented on #19128
Ok thanks, I'll push a fix today.

[2020-10-02 16:25] xonq opened #19131 "Installation issue: Orthofiller 1.1.4 (Docker)"
## Error:

in all available containers w/spack preinstalled (`spack/ubuntu-xenial, ''/ubuntu-bionic, ''/centos6, ''/centos7`):
`==> Warning: gcc@4.4.7 cannot build optimized binaries for "skylake". Using best target possible: "core2"`

### Steps to reproduce the issue

[code]
fails either: at the [beginning in both centOS's](https://pastebin.com/gcKKDnnS) and at `blastplus/augustus` in ubuntus'. T

[2020-10-02 19:53] opadron opened #19134 "Installation issue: Paraview"
### Steps to reproduce the issue

[code]

[code]
### Information on your system

* Ran on the latest `spack/ubuntu-bionic` docker image.
* **Spack:** 0.15.4
* **Python:** 3.6.9
* **Platform:** linux-ubuntu18.04-x86_64

### Additional information

* [spack-build-out.txt](https://gist.github.com/opadron/1e41d051f6706a484a132c07cf5739ff#file-spack-build-out-txt)
* [spack-build-env.txt](https://gist.g

[2020-10-02 19:57] opadron opened #19135 "Installation issue: Paraview - Needs Updated configure args for @5.8.0:"
From @chuckatkins, The `package.py` for `paraview` unconditionally sets a number of `configure_args` for paraview to use various dependencies from other Spack packages (e.g.: `USE_SYSTEM_...`).  These arguments have been change in paraview since version 5.8.0 and need an appropriate code path in Spack's `package.py` file.

/cc @danlipsa

[2020-10-02 20:57] #18658 closed, assigned to nobody

[2020-10-02 20:57] #19041 closed, assigned to nobody

[2020-10-02 21:09] scheibelp commented on #14785
https://github.com/spack/spack/pull/19049 now merged so I'll close this as fixed. Feel free to reopen if the problem resurfaces.

[2020-10-02 21:09] #14785 closed

[2020-10-03 13:16] haampie commented on #19128
Fixed by #19132, thanks @scottwittenburg for the quick pr :)

[2020-10-03 13:16] #19128 closed, assigned to nobody

[2020-10-03 14:55] scottwittenburg opened #19140 "Installation issue: py-cffi"
It seems that maybe #19078 has broken `py-cffi`, as the source checksum added in that PR for version `1.14.3` does not seem to match.

I downloaded the package from pypi manually, and I got the erroneous checksum mentioned in the error message below.

[code]

### Steps to reproduce the issue

[code]

### Information on your system

[code]

The `py-cffi` package does not list any maintainers:

[cod

[2020-10-03 16:10] scottwittenburg commented on #19140
FYI @eugeneswalker as I imagine you'll hit this in your pipelines soon.

[2020-10-03 17:18] eugeneswalker commented on #19140
Just came here to raise this!

[2020-10-03 18:24] adamjstewart commented on #19140
@koning

[2020-10-04 00:15] KineticTheory commented on #10384
[Update] I continue to see this build failure and the `-fPIC` compiler flag fix still works.  I just worked through this with Ubuntu-20.04 ([wsl2](https://docs.microsoft.com/en-us/windows/wsl/install-win10)), `llvm@10.0.1`, and `gfortran@9.3.0` when building `openmpi@3.1.6 % clang`.  Here is the excerpt from my `compilers.yaml` that allows openmpi@clang to build:
[code]

[2020-10-04 06:10] koning commented on #19140
Fix is in #19143

[2020-10-04 06:22] xonq commented on #19131
this package does not have the dependency information necessary to work. hmmer needs to be 3.1b2, orthofinder must be a version that outputs `csv` instead of tab delimited files (2.13?), and the way it is configured installs all python packages install for python 3, but OrthoFiller uses python 2.7

I used a combination of `pip` and `apt` instead and built the [docker/singularity container](https:/

[2020-10-04 07:43] ikitayama opened #19144 "Installation issue: llvm"
On Apollo 70 I get:

[code]

[2020-10-04 07:56] ikitayama commented on #19144
On X86, the job initiated with the `install` sub-command does not immediately fail.

[2020-10-04 07:56] ikitayama commented on #19144
@ax3l et al., could you take a look at it seems like an AArch64 issue.

[2020-10-04 08:29] ikitayama commented on #19144
X86 also fails:

[code]

[2020-10-04 09:49] ikitayama commented on #19144
I suspect recent GCCs can't work with Perl?

[2020-10-04 15:50] eugeneswalker commented on #19140
Perhaps we should use this: https://github.com/spack/spack/pull/19145 ??

The commit history on #19143 was a bit confusing to me? Or maybe I just need to learn more `git` lol

[2020-10-04 16:53] adamjstewart commented on #19140
@eugeneswalker doesn't really matter, we squash all commits when merging anyway.

[2020-10-04 20:38] #19140 closed, assigned to nobody

[2020-10-04 21:00] adamjstewart opened #19147 "Hashes in develop have changed"
I have some package installed before 075c3e0d9247e9c1716ac44e7052366ac59ff110. When I update Spack to a newer commit, all `spack install` commands try to reinstall all of my already installed packages. When I explicitly tell it to use a particular hash for the dependency, it is completely ignored and still rebuilds everything.

### Steps to reproduce the issue

[code]

### Information on your syst

[2020-10-05 03:44] mwkrentel commented on #19052
Trilinos is a cmake package, so why doesn't `build_type` do what you
want here?  You can use `spack install trilinos build_type=Debug`
to set C/C++ flags to `-g`.  Or, Release, RelWithDebInfo, MinSizeRel
for other values.

Although I think this is a good idea in general, assuming it's not too
hard to implement, I suggest that treating debug and optimization
flags separately is a better idea.

CMak

[2020-10-05 04:43] Char-Aznable commented on #19052
cmake_build_type and potentially similar config option from other package builders are subject to upstream customization, i.e., setting `build_type=Debug` or Release or whatever might not always get you what you want. Treating debug and optimization flags is just a very special case of the OP's proposal

[2020-10-05 08:52] ketsubouchi commented on #18733
I already tried ”1.Update some opam package file to support non-GCC compiler."
However, all C compilation is done by `ocamlc (options) -ccopt (C options)  xxx.c`
How C compiler called by ocamlc is determined ?
In case of my spack-made ocaml, ocamlc tried `work/spack/lib/spack/env/fj/fcc` and failed.

If you started `opam init` or Opampackage in Spack, please share.

[2020-10-05 09:49] scemama commented on #18733
If you run `ocamlc -config` you should see the default compiler which is used for compiling C. You can override the default with the `-cc` option of `ocamlc`.

The default compiler is set when compiling OCaml. So if we make a package for OPAM, which compiles OCaml with the correct C compiler, everything should be OK. So we should probably start with step 2.

These two links might be a good start t

[2020-10-05 09:58] haampie commented on #19144
`'/usr/bin/perl'` is system perl, maybe it should be using spack's perl instead?

[2020-10-05 10:03] ikitayama commented on #19144
What’s the best way of forcing everything build?

On Mon, Oct 5, 2020 at 18:58 Harmen Stoppels <notifications@github.com>
wrote:

[2020-10-05 15:23] scottwittenburg commented on #19147
@adamjstewart Yes, I'll look into this.

[2020-10-05 16:28] tkordenbrock commented on #18198
@jgalarowicz The attached patch tests OK for me.  If you have a PR ready, go for it.  Otherwise, I can submit one.  Thanks!

[2020-10-05 16:42] scottwittenburg commented on #19147
Maybe I'm doing it wrong, or maybe I'm not interpreting the results correctly.  This is what I get when I follow the steps to reproduce, outlined above.

[code]

[2020-10-05 16:47] scottwittenburg commented on #19147
I also tried in an ubuntu docker container, and in that case, taking that one step forward in spack commit history resulted in `zlib` concretizing to a new DAG hash.  Is that the problem you're talking about here?

[2020-10-05 19:31] adamjstewart commented on #19147
Yes, it concretizes to a new DAG hash. At least on macOS with Python 3, it also prevents me from linking to a particular DAG hash.

[2020-10-05 19:34] scheibelp commented on #19147
@tldahlgren who reviewed https://github.com/spack/spack/pull/18359: do you have a notion of why this would be happening?

[2020-10-05 19:36] scottwittenburg commented on #19147
So it could be that adding the `full_hash` attribute in the database entry caused the DAG hash to change, I'm not sure.  But DAG hashes change from time to time, right?  So I assume this problem is bigger than just that.  Can you provide some more information to reproduce the failure to link to a particular DAG hash?  I'm not sure I understand that part of the problem.

[2020-10-05 19:44] adamjstewart commented on #19147
Okay, I'm unable to reproduce the DAG hash linking problem with a single package, but it works with a package with multiple dependencies. For example, on develop:
[code]
Even though nothing about these package has changed, the python I installed before that commit can no longer be linked into an installation, and `spack install py-setuptools ^/hash` starts building every package from scratch.

[2020-10-05 20:54] azukaitis opened #19155 "Spack module tcl autoloading"
It would appear that while all of the autoloading seems to work wonderfully, the unload is not unloading all of the dependencies.  Would you guys like to add the appropriate ```module-info mode remove``` branches for the dependencies?

Thanks!
Tony

[code]

[2020-10-05 21:09] scottwittenburg commented on #19147
Thanks for the extra info.  Based on that, I installed `py-setuptools` to depend on `python@3.8.5` using the spack from the commit before #18359, and then I checked out my change, at which point I could see the result you pasted above.

If I remove only this `else` condition from my change ([here](https://github.com/spack/spack/pull/18359/files#diff-f8b3ba3a3e9600f6d136b31698f33be7R1556)), I see a

[2020-10-05 21:17] scheibelp commented on #19147
`to_node_dict` is used to compose the hash, so adding more fields will change all the hashes.

If that is necessary for you original PR (#18359) to work, I think we should revert it for now and discuss why (and we'll need to make it part of a major release). If it isn't, then you can revert just that change. I'm guessing it is important but don't currently have time to review the intent of the PR.

[2020-10-05 21:17] scheibelp commented on #19147
@scottwittenburg would you be able to create a revert of that PR and reopen a copy of #18359 for more discussion?

[2020-10-05 21:27] scottwittenburg commented on #19147
@scheibelp In that case do you know of a way to revert two PRs at once?  I merged #19132 to fix some other issue related to #18359 in the meantime.

[2020-10-05 21:29] scheibelp commented on #19147
If each PR was squashed into one commit, create a single new branch, and on that branch run two `git revert` commands. They should run in "reverse order" (i.e. revert #19132 first). Does that seem reasonable?

[2020-10-05 21:41] scottwittenburg commented on #19147
Yes thanks, seems reasonable.  Except since #18359 was actually three logical commits, I assume I should revert them independently.

[2020-10-05 21:45] scheibelp commented on #19147
Yes that sounds like the best way to do it.

[2020-10-05 21:45] scottwittenburg commented on #19147
Oh, but I did hit "squash and merge", so nevermind, I guess it's just two reverts.

Ok, best to just get this over with.  Reverts on the way.

[2020-10-05 22:02] scottwittenburg commented on #19147
Turns out it was three PRs to revert:

1. 7cfdf6197 Fix location in spec.yaml where we look for full_hash (#19132)
2. d3d98075c Fix fetch of spec.yaml files from buildcache (#19101)
3. 075c3e0d9 Merge pull request #18359 from scottwittenburg/add-binary-distribution-cache-manager

As for reopening a copy of #18359, should I just merge all those changes into a new branch and create a new PR for that

[2020-10-05 22:08] scheibelp commented on #19147
I think the former makes the most sense

[2020-10-05 22:23] #16303 closed, assigned to nobody

[2020-10-05 23:25] ikitayama commented on #19144
@haampie Thanks! Removing the `perl` entry from the Externality; the build goes on strong.

May I ask if there's a command to edit packages.yaml without using vim ?

[2020-10-06 00:57] ikitayama commented on #19144
[code]

[2020-10-06 00:57] #19144 closed, assigned to nobody

[2020-10-06 07:08] haampie commented on #19144
I guess it uses the default editor, so maybe `export EDITOR=...`?

[2020-10-06 07:10] ikitayama commented on #19144
My question was vague; is package.yaml supposed to be edited by hand?

[2020-10-06 07:25] haampie commented on #19147
Just a few questions about these PRs and how breaking changes are dealt with:

1. @scheibelp mentioned if this PR is breaking, it can only enter a major release:

   How would it be possible to land it in a major release without it residing in `develop` first? This PR was reverted from `develop` because it broke hashes, but isn't that part of living on the `develop` branch? Shouldn't `develop` rec

[2020-10-06 07:32] haampie commented on #19144
That's what I do yes. The shorthand is `spack config edit packages`

[2020-10-06 07:43] ikitayama commented on #19144
Thanks. I was using an editor and let it open ~/.spack/packages.yaml

[2020-10-06 10:16] vickiegpt commented on #18239
For a temporary solution: you can merely download their upstream release from [here](https://gitlab.com/gromacs/gromacs/-/archive/prepare-2020.4/gromacs-prepare-2020.4.tar.gz) that fixed the cuda-11 not compatible issue. and put them to `/path/to/spack/var/spack/cache/_source-cache/archive/cd/cd12bd4977e19533c1ea189f1c069913c86238a8a227c5a458140b865e6e3dc5.tar.gz`.

The checksum can be gotten by `

[2020-10-06 10:53] ravil-mobile opened #19163 "using a non-default OS compiler for building images with Spack"
### Description

Hi all,

I would like to create a docker image and build a set of packages with Spack using a non-default OS compiler. In short, I would like Spack to install a compiler first, add it to a list of compilers and use it to install the rest of a spec. Unfortunately, I can not find an example.

Building Images with Spack is based on the environment concept. However, the concept assume

[2020-10-06 11:03] ravil-mobile commented on #19163
There is an additional question: how to add the compiler from my custom builder-image to the final image?

[2020-10-06 12:36] roguephysicist commented on #18239
@victoryang00, your link leads to a "404 Git Resource Not found".

[2020-10-06 13:08] junghans commented on #18239
2020.4 will be released soon, so let's just wait.

[2020-10-06 13:40] healther commented on #19163
Something like
[code]
would probably work. What you _really_ want to do is probably is to use the `spack containerize` command, but I don't know enough about this. Except for the environment usage the above is roughly what we are doing internally, but it is a bit painful since you need to do the compiler addition manually afterwards

[2020-10-06 15:49] ravil-mobile commented on #19163
Hi,
Thanks for your reply. Yes, your solution is perfect for building environments. But it doesn't work with `spack containerize`. Basically `spack containerize` spits out a dockerfile. At the beginning, it  copies my spack.yaml to a container and executes

[code]

there is no way to insert any-code above without editing a dockerfile.

[2020-10-06 17:31] tgamblin commented on #19147
Spack doesn't forget packages.  They're all there, in `spack find`.  You *should* be able to refer to them by hash.  The part of this that is a bug is this:

Do you have a reproducer for this?

[2020-10-06 18:28] scheibelp commented on #19147
@haampie

Apologies - I think I gave the wrong impression: It can still be in develop (even if it changes the hashes). The problem in this case is that we didn't properly track that this was going to change the hashes. Usually we examine such PRs more closely.

The follow-up (https://github.com/spack/spack/pull/19209) can be merged pending some minor additional review to check into the hashing asp

[2020-10-06 18:40] adamjstewart commented on #19147
Yes, I updated the initial comment (switched zlib with python). That should be enough to reproduce the issue. You'll see the same thing I saw in https://github.com/spack/spack/issues/19147#issuecomment-703848640

[2020-10-06 19:52] #18239 closed, assigned to nobody

[2020-10-06 20:51] hartzell commented on #18570
In lieu of the error message being improved, you can get the gory details, including the thing that's colliding, if you run `spack -d concretize`.

[2020-10-06 21:02] scheibelp commented on #18570
@becker33 IIRC you handled an issue like this with a vague error message

@mpokorny can you reproduce this on a current develop version of Spack? If the error still occurs, is the message the same?

[2020-10-06 21:30] eugeneswalker opened #19213 "SZ: bad source fetch url for older versions"
Unable to fetch older versions of `sz` using `spack@develop` (6b70597271232e442b9e729b45adaee02bccf8c0 from 6-Oct-2020):

* `sz@2.0.2.0`
* `sz@1.4.12.3`

Probably introduced via eabfea2e49f6db473401b29ca80966f41a7e7c23

[code]

Same outcome for `sz@1.4.12.3`

@scottwittenburg @disheng222 @robertu94

[2020-10-06 21:41] disheng222 commented on #19213
Hi,
I checked that the .tar.gz package on the SZ website is available to
download and its checksum in the package.py is also correct for 1.4.12.3.
I have no idea what I should do.

Best,
Sheng

On Tue, Oct 6, 2020 at 4:30 PM eugeneswalker <notifications@github.com>
wrote:

[2020-10-06 21:49] robertu94 commented on #19213
@eugeneswalker it works for me.  Perhaps a spurious failure?

[code]

[2020-10-06 21:58] JaroslavHron opened #19214 "Installation issue: atlas"
From
`UNKNOWN COMPILER '/srv/beegfs/cluster/home/clusterbuild/spack/lib/spack/env/gcc/gcc' for ICC: you must also supply flags!`
It seems like atlas is refusing to accept spack provided compiler as `gcc` ...

### Steps to reproduce the issue

[code]

### Information on your system

[code]

### Additional information

* [spack-build-out.txt](https://github.com/spack/spack/files/5337026/spack-build-

[2020-10-06 21:59] eugeneswalker commented on #19213
Your Spack instance is fetching from:
* `https://github.com/disheng222/SZ/archive/v1.4.12.3.tar.gz`

That source url was changed to:
* https://github.com/szcompressor/SZ/releases/download/

via https://github.com/spack/spack/commit/eabfea2e49f6db473401b29ca80966f41a7e7c23

I think if you make sure your Spack instance is checked out at a point past this commit then you will observe the problem.

[2020-10-06 22:02] disheng222 commented on #19213
- https://github.com/disheng222/SZ/archive/v1.4.12.3.tar.gz should be
   available too, because github will automatically resolve the redirecting.

Best,
Sheng

On Tue, Oct 6, 2020 at 4:59 PM eugeneswalker <notifications@github.com>
wrote:

[2020-10-06 22:04] eugeneswalker commented on #19213
@adamjstewart Do you know anything about this behavior? It isn't working for me and I've tried on:
* RHEL7 x86_64 and ppc64le
* Ubuntu 18.04 x86_64 and ppc64le

Also the versions of `SZ` needed in the E4S `gitlab.spack.io` pipeline are failing because of this fetch error.

Perhaps Spack is not doing the fetch in a way that can handle the redirection @disheng222 mentions?

[2020-10-06 22:07] eugeneswalker commented on #19213
[code]

Notice the URL used is `https://github.com/szcompressor/SZ/releases/download/v1.4.12.3/sz-1.4.12.3.tar.gz` -- this is the URL being tried, and it is failing.

Trying manually:
[code]

[2020-10-06 22:18] robertu94 commented on #19213
@eugeneswalker updated my git repo and was able to replicate this issue.  Just submitted the PR to fix this.  Thanks for catching that.

[2020-10-06 22:19] disheng222 commented on #19213
@eugeneswalker <https://github.com/eugeneswalker> It's a little bit weird
that you used the old link of SZ, though the old link (
http://github.com/disheng222/SZ) should be workable.
In fact, we revised the package.py of SZ so it is using an official github
site (http://github.com/szcompressor/SZ) we created recently.
Did you 'git pull'?

Best,
Sheng

On Tue, Oct 6, 2020 at 5:07 PM eugeneswalker <

[2020-10-06 23:02] eugeneswalker commented on #19213
This is the new link that *CURRENT* Spack is using:
* `https://github.com/szcompressor/SZ/releases/download/v1.4.12.3/sz-1.4.12.3.tar.gz`

It does not work.

[2020-10-06 23:21] disheng222 commented on #19213
@eugeneswalker <https://github.com/eugeneswalker> We are solving the
problem. The reason is that the previous versions did not use the download
asset link, which was used from version 2.1.9.
I have added all the download asset versions on the SZ-github, and Robert
will add `url_for_version` in the package.py to compute the right URLs, so
the problem will be fixed soon.

Best,
Sheng

On Tue, Oct 6,

[2020-10-07 01:12] #19213 closed, assigned to nobody

[2020-10-07 02:07] eugeneswalker opened #19216 "Intel 2020.09.15.001 misidentified as Intel<11.1?"
Using `spack@develop` (d43522deeb4af2f435aaa920c266f8282a815f72 from 6-Oct-2020) on `JLSE Iris` and it *looks* like `Intel@2020.09.15.001` is being misidentified as an Intel < 11.1, and is thus unable to use `cxx11_flag` ??

[code]

[code]

Any ideas?

@becker33 @shahzebsiddiqui @frankwillmore

[2020-10-07 02:40] frankwillmore commented on #19216
Spack runs e.g. icc --version to get info from the compiler that it uses to determine capabilities. It parses the output with a regular expression, but the OpenAPI compilers generate an output that the same Regex can't parse. I'm looking into a fix.

[2020-10-07 04:59] Sinan81 commented on #17048
tried to build pocl again from a nearly fresh clone of spack, still getting the same error.

[2020-10-07 05:03] Sinan81 commented on #17048
I guess it is time creating an issue in pocl github repo.

[2020-10-07 05:10] Sinan81 commented on #17048
Weird: When I tried building with `pocl+icd`, it doesn't fail with polly error anymore, it proceeds further from 80% to 90%, but fails with:
[code]

[2020-10-07 11:34] healther commented on #19163
I haven't looked into `containerize` too closely, so I cannot really help you there. But you can always do the view generation manually

[2020-10-07 14:16] johannjc commented on #15286
Having this same problem with 0.15.4-1215-7f2f2a0

[2020-10-07 14:19] johannjc commented on #15286
Removing blank lines from the configuration files seems to have fixed the problem?

[2020-10-07 14:53] eugeneswalker opened #19219 "Spack GPG: invalid option --create-socketdir on CentOS+RHEL 7"
* `spack@develop` (09d0623be924ad72eb63342b733c14431208c323 from 7-Oct-2020)
* `CentOS 7` and `RHEL 7`
* `x86_64`
* Docker containers:
    - `ecpe4s/centos7-runner-x86_64:2020-09-01`
    - `ecpe4s/rhel7-runner-x86_64:2020-09-01`

[code]

[code]

@opadron

[2020-10-07 15:21] scottwittenburg commented on #17164
This feature was added with #17129

[2020-10-07 15:21] #17164 closed, assigned to nobody

[2020-10-07 15:22] scottwittenburg opened #19220 "Update buildcache keys index on S3 fails if there are no keys"
Running `spack buildcache update-index --keys` or `spack buildcache create --rebuild-index` fails with a stack trace if the mirror doesn't have any keys.  However, it seems like it should not be an error to attempt to update the keys index if there are no keys, instead spack should just print a warning indicating there were no keys found and not exit with an error code or exception.

### Steps to

[2020-10-07 15:23] scottwittenburg commented on #19220
FYI @opadron

[2020-10-07 15:34] scottwittenburg commented on #19220
So I just realized this one is for the buildcache index, but the same thing happens with the gpg keys index.  I was thinking I'll post another stack trace here, since these are so similar it's maybe not worth making a second issue?

[2020-10-07 15:51] scottwittenburg commented on #19220
Here's a reproducer and stack trace from the key index update failure:

[code]

[2020-10-07 16:34] naromero77 commented on #18944
Apologies for re-using the open github issue. I welcome input.

@trws @adamjstewart @gklimowicz @junghans

I get pinged a couple of times a month about the "classic" Flang package. It appears to be mostly by people who are interested in a Fortran compiler with Target offload capabilities. "classic" Flang continues to be developed by several vendors and will be official released under their own bra

[2020-10-07 16:37] adamjstewart commented on #18944
I don't know anything about compilers, but I assume Apple has no intention of ever shipping a Fortran compiler to go along with Apple Clang. For now I've been using GFortran as my Fortran compiler, but would it make more sense to suggest that users use Flang? If so, which package would they use? Building all of GCC/LLVM just to get a Fortran compiler is unideal...

[2020-10-07 16:45] naromero77 commented on #18944
Apple has no plans to to ever ship a Fortran compiler. Flang will not compile with Apple's Clang and there are no plans to support it AFAIK.

The Flang Spack package currently requires compiling its own custom LLVM flang which is modified from the LLVM and is typically a few releases behind. Right now it uses LLVM 9, though they are transitioning to LLVM 10. The main LLVM package is about to relea

[2020-10-07 16:48] adamjstewart commented on #18944
GCC does build with Apple Clang, and lets me compile anything I need. It sounds like Flang isn't an option for Apple Clang users then, which answers my question. I'll let other people comment, but from my point of view, I'm fine with removing those packages and building everything in the LLVM package.

[2020-10-07 16:52] naromero77 commented on #18944
My inclination is to remove these packages as well.

[2020-10-07 18:55] #18660 closed, assigned to nobody

[2020-10-08 02:42] ikitayama commented on #18613
Anyone is seeing this on other architectures, like X86 and PowerPC? I am not sure if this is an Arm issue as locally installed CUDA Toolkit 11 provides a working nsys. (Ie I can profile the app and view it on my MacBook Pro.)

[2020-10-08 03:13] ikitayama commented on #18613
I suspect it's a Spack issue.

[2020-10-08 12:04] chuckatkins commented on #19134
@mathstuf any insight into what's happening here?

[2020-10-08 15:36] azukaitis opened #19234 "Turn off all dependency downloads"
Is there a flag or setting I can set to disable all downloading of dependencies and only use system installed ones?  I know I can do the packages.yaml file but this is tedious for packages that have many dependencies.

[2020-10-08 16:33] frankwillmore commented on #19216
Good news, everyone!

I worked in a modified regular expression to parse the oneapi output and was able to get to get superlu-dist to build with both the oneapi toolset (intel@2020.09.15.001) and Intel version @19.0.4.243.  I need to clean it up a bit, but should have a pull request ready shortly.

This is my first time foray into a real-world python code... very exciting for me.

[2020-10-08 17:20] scottwittenburg commented on #19220
@eugeneswalker If you run into something like this when you're implementing a command to update only the key index, ping me, as I already have a proposed fix in a branch.

[2020-10-08 18:36] frankwillmore commented on #19216
https://github.com/spack/spack/pull/19238

I've cleaned up, commented, and verified this mod still builds superlu-dist with both Intel versions.

[2020-10-08 18:36] #19216 closed, assigned to nobody

[2020-10-08 19:43] adamjstewart commented on #19234
There isn't, and I doubt most Spack packages would install without their dependencies. `packages.yaml` can be tedious, but there is a new `spack external find` command that makes this easier. Currently, the following packages support automatic detection:
[code]
Let me know if there are any other packages you would like to see added.

[2020-10-08 22:05] ashki23 commented on #18343
I just hacked the current package.py to install Relion 3.1:

[code]

[2020-10-09 13:35] mathstuf commented on #19134
I think this is a bug that was fixed later in 5.8. See paraview/paraview@3035632a4c08c1c05dbd4a1fd5a72994296ade64, paraview/paraview@a5cbf67597a82bb3496b187535a03d6344e6bca6, vtk/vtk@293ab8d7448d71693bdb1169c8c8025b84a2b23b, vtk/vtk@0ed03368dd429853db3cfde4551388b2f85014ae

This is probably not an exhaustive list.

[2020-10-09 13:36] mathstuf commented on #19134
Kitware/paraview@3035632a4c08c1c05dbd4a1fd5a72994296ade64, Kitware/paraview@a5cbf67597a82bb3496b187535a03d6344e6bca6, Kitware/vtk@293ab8d7448d71693bdb1169c8c8025b84a2b23b, Kitware/vtk@0ed03368dd429853db3cfde4551388b2f85014ae

Hmm. Not sure why I can't edit my other comment.

[2020-10-09 16:22] adamjstewart commented on #17930
@alalazo any more thoughts on this? Would renaming the compiler break anything? Does it make more sense to simply add a new compiler anyway?

[2020-10-09 20:21] AndrewGaspar opened #19250 "Installation issue: py-pillow-simd"
py-pillow-simd does not build on powerpc64le due to -msse4 flag being incorrectly applied.

### Steps to reproduce the issue

[code]

### Information on your system

[code]

### Additional information

- [spack-build-out.txt](https://github.com/spack/spack/files/5357342/spack-build-out.txt)
- [spack-build-env.txt](https://github.com/spack/spack/files/5357344/spack-build-env.txt)

cc @adamjstewart

[2020-10-09 20:21] AndrewGaspar commented on #19250
I'll switch to `py-pillow`, btw. It will probably fix my issue.

[2020-10-09 21:01] adamjstewart commented on #19250
Thanks for the report! Yes, I imagine switching to `py-pillow` will solve the issue for you. I'm not aware of a way to set the default provider based on target, only based on platform.

Is building on ppc64le something you think should be supported by a SIMD package, or does that not make sense? Maybe open an issue with the developers and ping me. I would like our default provider to build on all

[2020-10-09 21:28] AndrewGaspar commented on #19250
Sure, ppc64le architectures support vector, as do some ARM architectures, but taking a brief look at the library, it seems like a pretty big lift to support non Intel architectures - it doesn't seem like there's a non-SIMD fallback. I don't think pillow-simd is baked enough to be the default on non-Intel platforms.

A possible idea - you could remove the `provides('pil')` from `py-pillow` and `py-

[2020-10-09 21:34] AndrewGaspar commented on #19250
They could potentially use this to at least be portable to other platforms: https://github.com/p12tic/libsimdpp

[2020-10-09 21:44] AndrewGaspar commented on #19250
nvm, that lib doesn't seem to do what I though it did - I thought it re-implemented the vector intrinsics. I don't see any evidence of that - it just provides generic SIMD routines. And it sounds like it was already considered and rejected: https://github.com/uploadcare/pillow-simd/issues/3

[2020-10-09 21:50] AndrewGaspar commented on #19250
Actually, THIS is the library I was thinking of: https://github.com/simd-everywhere/simde

[2020-10-09 21:53] AndrewGaspar commented on #19250
Yeah, it looks promising - I see pretty widespread SIMD intrinsic implementations. If you were so inclined, I'd see if you could get pillow-simd working using simde on non-linux platforms.

[2020-10-09 22:12] adamjstewart commented on #19250
Thanks for the summary! In that case, I think it makes sense to switch the default back to `py-pillow`. Want to submit a PR and have it close this issue? Just ping me and I'll merge.

[2020-10-09 22:13] adamjstewart commented on #19250
As for your idea of having a `pil` meta-package that selects `py-pillow` or `py-pillow-simd` based on variants, I don't think that's possible since there is currently no way to choose versions based on variants.

[2020-10-10 10:50] hainest commented on #17304
I finally had a chance to test this out again, and I didn't get the error this time. I'm now using the current head of develop (35a9626ae). Closing.

[2020-10-10 10:50] #17304 closed, assigned to nobody

[2020-10-10 17:55] #19250 closed, assigned to nobody

[2020-10-10 21:48] adamjstewart commented on #19147
Now that #18359 has been reverted, should we close this issue, or leave it open for more discussion?

[2020-10-11 01:24] #19095 closed, assigned to nobody

[2020-10-11 02:37] ikitayama opened #19255 "Installation issue: gcc"
I'd like to build a GCC Spack package with OpenMP offloading support on Arm, but build fails.

[code]

[2020-10-11 15:52] adamjstewart commented on #19255
@michaelkuhn

[2020-10-11 17:34] #19028 closed, assigned to nobody

[2020-10-12 07:32] rowanworth commented on #17877
Adding `^m4@1.4.17` to my install spec provided a quick workaround for me as that version builds ok with icc. Obviously doesn't help if you really want the latest m4 ;)

(also the `xalloc_oversized` error appeared in other packages too - I don't remember which exactly but it was one of findutils/bison/gettext)

[2020-10-12 13:16] mathomp4 opened #19266 "spack external find: Error: Invalid character"
I decided today to look at `spack` again after having some "fun" with `brew` getting its gcc all tangled in places I didn't want. So, I thought: "Let spack manage gcc!" After running `spack spec -I gcc` and seeing it wanted to install `perl` and the like, I decided to read the docs and learned about `spack external find`. Nice. But running it led to an error.

Just to be doubly sure it wasn't my f

[2020-10-12 13:55] michaelkuhn commented on #19255
It looks like GCC is not compatible with newer versions of CUDA. Could you give #19267 a try?

You will probably also need #18449.

[2020-10-12 14:16] ajkotobi opened #19268 "Installation issue: cmake with intel compiler"
### Steps to reproduce the issue

[code]

### Information on your system

[code]

[code]

### Additional information

* [spack-build-env.txt](https://github.com/spack/spack/files/5365621/spack-build-env.txt)

@chuckatkins

When adding `cflags` & `cxxflags` & `fflags` to intel compiler flags it shows

[code]
Continuing with installation:

[code]

Any idea what I'm missing?

Thanks

### General info

[2020-10-12 14:30] Joe23232 opened #19271 "What is the difference between spack and portage package manager and additional questions?"
Hi I am curious to know some of the differences between `spack` and the portage package manager?

Additionally which package manager is easier to understand in terms of configurations between the two package managers?

---

With `pacman` if I don't update my system in a long time (specfically with Arch-based systems) then I end up running into all sorts of erros and then I have to manually fix the

[2020-10-12 17:35] payerle opened #19276 "Installation issue: namd (papi.h not found in charmpp file)"
### Steps to reproduce the issue

[code]
fails with papi.h errors:
[code]
The charmpp being used has +papi (full spec below with spack-build-out.txt, etc)

### Information on your system
[code]

### Additional information

* [spack-build-out.txt]()
* [spack-build-env.txt]()
* [charmpp-spec.txt](https://github.com/spack/spack/files/5366676/charmpp-spec.txt)

[spack-build-out.txt](https://github.com

[2020-10-12 17:36] payerle commented on #19276
* [spack-build-env.txt](https://github.com/spack/spack/files/5366680/spack-build-env.txt)
* [spack-build-out.txt](https://github.com/spack/spack/files/5366681/spack-build-out.txt)

[2020-10-12 17:58] ajkotobi commented on #19268
Adding up information

`spack build-env cmake%intel bash -c 'echo ${CXX}; $(which ${CXX}) --version'`

[code]

[2020-10-12 19:13] #18894 closed, assigned to nobody

[2020-10-12 19:20] adamjstewart commented on #19276
@G-Ragghianti might be able to help

[2020-10-12 19:35] tgamblin commented on #19271
Main difference is that portage manages a single set of packages and requires some consistency between them.  It's designed to manage a distro built from source, and it goes down to `glibc` in terms of the userland packages it manages.  Spack doesn't (yet) go down to system runtime packages like `libc`, but we'd like to.  Spack lets you install many potentially conflicting versions of the same pac

[2020-10-12 20:34] nicholas-sly opened #19277 "Compilers: Update LLVM support for version 11 with flang built-in"
### Flang support

This involves two high-level tasks.

1. Update the "clang" compiler object in Spack to find and use the flang compiler for fortran by default

2. Update the LLVM package.py to include the latest version (11) and have the ability to utilize the flang/f18 that is now included in LLVM.

### Rationale

Take advantage of LLVM's Fortran compiler in order to not have to add gfortran to

[2020-10-12 20:45] junghans commented on #19271
Spack uses json, while portage has a mixture of files that get sourced or look like shell but get parsed and custom files.

I personally think portage has a lot of historically craft, while spack is a bit clearer. Even though Spack misses a manpage to look things up.

[2020-10-12 21:07] G-Ragghianti commented on #19276
This is difficult to unpack because I can't easily test namd (download restrictions) and due to the way that charm works.  It seems like it is failing in the compile of namd where it is trying to use charmpp to build something using the tracing header (which needs papi.h).  This is after papi has been successfully installed, so papi.h is located under its prefix/include/ directory.  It is the resp

[2020-10-12 21:16] payerle commented on #19276
Thanks for the update.  I also suspected that it might be an issue with charmpp not passing the correct information down to namd, but I seem to be finding the expected papi paths in the
spack-build-env.out.

I have confirmed that namd builds (in same situation) when using charmpp ~namd.

I also noticed that the namd source code has some option for papi support,  and have tried some hacks to build

[2020-10-12 23:45] Joe23232 commented on #19271
Thanks @tgamblin and @junghans .

I have one other question,

Is there a plan to implement this by any chance?

[2020-10-13 00:20] ikitayama commented on #19255
Is the gcc package written so that it self-checks whether its version is
accepted by CUDA Toolkit?

On Mon, Oct 12, 2020 at 10:55 PM Michael Kuhn <notifications@github.com>
wrote:

[2020-10-13 00:59] #17126 closed, assigned to nobody

[2020-10-13 00:59] #18520 closed, assigned to adamjstewart

[2020-10-13 03:52] ikitayama commented on #19255
I'd like the possible combinations of `spack install` so that I can get GCC
with OpenMP offloading support to the CUDA device.

On Tue, Oct 13, 2020 at 9:19 AM Itaru Kitayama <itaru.kitayama@gmail.com>
wrote:

[2020-10-13 05:06] tgamblin commented on #19271
Eventually.  We have a prototype branch that models languages as virtual dependencies, so you can `depends_on("c@1999")` or `depends_on("cxx@2017")` in a package.  That would enable us to do it.  I would expect the general capability in the next few months or so, but actually doing it for C may take longer.

[2020-10-13 05:06] #19271 closed, assigned to nobody

[2020-10-13 06:22] Joe23232 commented on #19271
I see, thanks man.

[2020-10-13 07:28] rowanworth commented on #16328
My interpretation of the error is that C++11 is required to bootstrap boost's build engine¹, but not to build the rest of boost. As noted by hainest, the spack package intentionally avoids using the intel compiler for this step, and apparently falls back to whatever g++ is in your PATH. Changing my PATH to point to a more recent version of g++ worked around the issue for me, allowing the bootstrap

[2020-10-13 07:48] michaelkuhn commented on #19255
Now that #19267 has been merged, it should be enough to manually apply #18449 and do a `spack install gcc+nvptx`.

[2020-10-13 07:57] ikitayama commented on #19255
Then could you merge #18449 as well to develop it is much easier for me.

On Tue, Oct 13, 2020 at 4:49 PM Michael Kuhn <notifications@github.com> wrote:

[2020-10-13 07:59] michaelkuhn commented on #19255
That PR is still under discussion/review, so you will have to apply it manually for now.

[2020-10-13 08:02] ikitayama commented on #19255
@michaelkuhn OK. I think this Spack navigated GCC build with CUDA Toolkit is much, much easier than manually building. I will watch the progress there and once done, I will try it and close. OK?

[2020-10-13 08:49] alalazo commented on #17930
@fspiga might have an opinion on this issue

[2020-10-13 08:52] alalazo commented on #18343
@ashki23 Do you want to submit a PR to fix `relion` build and add v3.1? Feel free to ping me for review on that.

[2020-10-13 14:28] payerle opened #19289 "Installation issue: papi (software defined events only introduced in @6.0.0)"
I ran into issues when attempting to build papi@5.7.0 +sde complaining about missing files pertaining to sde.  Looking at http://icl.utk.edu/papi/software/view.html?id=275, it appears that the Software Defined Events (SDE) component was only added in @6.0.0.

I would have expected spack to complain about trying to use +sde on papi versions <6.0.0.

### Steps to reproduce the issue

[code]

results

[2020-10-13 14:51] #19135 closed, assigned to nobody

[2020-10-13 14:57] ajayrawat-ai opened #19291 "Installing Deal.ii librarary with preinstalled PETSc library"
While installing dealii using spack, the spack doesn't recognize the already installed PETSc library.

**Steps to reproduce the problem**
[code]
But I have PETSc already installed in the system using spack.
[code]

[2020-10-13 15:17] adamjstewart commented on #19291
Spack uses hashes to determine whether or not an existing installation satisfies a dependency. For example, when concretizing `dealii`, it will determine the latest version of petsc and all of its dependencies before deciding whether or not an existing installation satisfies that. If a new version of `zlib` is released, Spack would reinstall `petsc` with this newer dependency.

In future Spack rel

[2020-10-13 15:34] ajayrawat-ai commented on #19291
It seems it has something to do with hdf5
[code]
This works but without trilinos and hdf5
[code]

[2020-10-13 16:15] #18694 closed, assigned to alalazo

[2020-10-13 16:32] chuckatkins commented on #19268
@ajkotobi Looks like your `cflags` is missing the `-gcc-name` argument

[2020-10-13 16:37] shahzebsiddiqui opened #19292 "flesci concretization failure with intel for harfbuzz"
I am trying to install flecsi which is part of E4S package and this fails to in concretization step at harfbuzz and i see in harfbuzz there is a conflict with version 2.3.1 or higher

[code]

### Steps to reproduce the issue

[code]

### Information on your system

[code]

My spack.yaml is the following

[code]
### Additional information

- [x] I have run `spack debug report` and reported the vers

[2020-10-13 16:47] adamjstewart commented on #19291
Maybe some of the maintainers can help: @balay  @barrysmith  @davydden @jedbrown  @jppelteret  @luca-heltai

[2020-10-13 17:25] chuckatkins commented on #19134
@mathstuf After applying the patches, the issue still exists, just in a different spot:
[code]

[2020-10-13 18:13] mathstuf commented on #19134
Kitware/vtk@cb8356aa0fffa66923b946bb2aba57a957adbc8a and Kitware/vtk@61d8d21b4dffcfb882b633bbea6daf738d1e82b2 look relevant to that. How I'm finding these in case there are more:

[code]

[2020-10-13 22:54] nicholas-sly commented on #16474
I don't know that this is solved.  I've just ensured that the path to the appropriate GCC is included in the PATH variable when using the Intel compiler.  I guess this is my workaround, but it seems to keep packages from circumventing the Intel compiler and getting an unexpected GCC.

[2020-10-14 01:30] birnbera opened #19298 "Newer preseq versions use a different build system"
I was trying to update the [`preseq` package](var/spack/repos/builtin/packages/preseq/package.py) to the latest version and found that the newer releases have updated their build system from a simple Makefile to Autotools. Is there any recommended way to make the build system depend on the version?

I can think of two methods:
1. Convert the package to use a custom build system and specify a diffe

[2020-10-14 02:07] simon28li opened #19299 "Installation issue: aspcud（ error: '_1' was not declared in this scope）"
After the clingo version is upgraded, an error is reported during version compilation of version 5.14.  [#16594](https://github.com/spack/spack/pull/16594)

a 'long int'} in initialization

When I use the develop version of clingo, no error is reported, but an error is reported by aspcud.

### Steps to reproduce the issue

[code]

### Information on your system

[code]

### General information

-

[2020-10-14 03:56] adamjstewart commented on #19298
Congratulations, you've stumbled on a really difficult problem we've been trying to solve for years. See #15420, #12941, and #10411 for the long and bloody history.

For now, until one of those PRs becomes the new standard, the best way is probably to use your first suggestion. There are a ton of packages in Spack that already do this. See https://github.com/spack/spack/pull/12941#issuecomment-538

[2020-10-14 03:58] adamjstewart commented on #19299
@tgamblin

[2020-10-14 04:21] adamjstewart opened #19301 "Installation issue: cmake"
I'm trying to build CMake on a really old system but I'm hitting a build error.

### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.14.1-3153-beeab6e
* **Python:** 2.6.6
* **Platform:** linux-scientific6-westmere

### Additional information

* [spack-build-out.txt](https://github.com/spack/spack/files/5375575/spack-build-out.txt)
* [spack-build-env.txt](https:

[2020-10-14 04:33] adamjstewart commented on #19301
I also tried CMake 3.18.4 but it has the same problem.

[2020-10-14 04:47] adamjstewart commented on #19301
I also tried GCC 4.4.7 but it appears to be too old to build CMake (we should add a conflict for this).

[2020-10-14 08:25] ax3l commented on #18613
Hm, I am afraid I don't know this.

To assist others to help you with nsys on arm, potentially post the source file and compiler commands that you used for the `a.out` as a reproducer? Does the same problem occur if you install the same version of cuda manually (without spack)? Is the cuda version you install newer than the supported nvidia driver on the system supports?

[2020-10-14 08:29] ikitayama commented on #18613
Simple.

int main() {
#pragma omp target parallel for
   for (int i=0;I<1024;i++) {
   }
   return 0;
}

On Wed, Oct 14, 2020 at 5:26 PM Axel Huebl <notifications@github.com> wrote:

[2020-10-14 15:27] birnbera commented on #19298
Thanks for your suggestions and pointers! A lot of great ideas in the linked issues. As per your suggestion I used some of the other packages that made this type of transition as a guide (particularly the `hpl` package). Cheers!

[2020-10-14 15:27] #19298 closed, assigned to nobody

[2020-10-14 16:35] #18939 closed, assigned to nobody

[2020-10-14 18:02] j-ogas opened #19310 "Installation issue: node-js"
### Steps to reproduce the issue

[code]

Alternatively specify the version `12.18.4`:
[code]
### Information on your system

- CentOS 7
- x86_64

Standard Spack install, e.g., `git clone; cd spack; . share/spack/setup-env.sh`. No voodoo or magical configurations.

Spack console output (expand details):
<details>

[code]

</details>

### Additional information

[spack-build-out.txt](https://github

[2020-10-14 18:32] EthanS94 opened #19312 "Installation issue: libtheora after updates to ParaView's package file"
### Steps to reproduce the issue

[code]

### Information on your system
* **Spack:** 0.15.4-1466-72f431b67
* **Python:** 3.6.3
* **Platform:** linux-rhel7-broadwell

* [packages.yaml](https://github.com/spack/spack/files/5380149/packages.yaml.txt)
* [compilers.yaml](https://github.com/spack/spack/files/5380154/compilers.yaml.txt)

### Additional information

* [spack-build-out.txt]()
* [spack-bui

[2020-10-14 18:43] adamjstewart commented on #19310
It looks like this is a known issue of GCC 4.8?
https://gcc.gnu.org/bugzilla/show_bug.cgi?id=56019

[2020-10-14 18:44] #18942 closed, assigned to nobody

[2020-10-14 19:04] #17892 closed, assigned to nobody

[2020-10-14 19:18] EthanS94 opened #19313 "Installation issue: pegtl with intel compiler (as dependency of paraview)"
### Steps to reproduce the issue

[code]

### Information on your system
* **Spack:** 0.15.4-1467-71d2ce740
* **Python:** 3.6.3
* **Platform:** linux-rhel7-broadwell

* [compilers.yaml](https://github.com/spack/spack/files/5380376/compilers.yaml.txt)
* [packages.yaml](https://github.com/spack/spack/files/5380378/packages.yaml.txt)

### Additional information

* [spack-build-out.txt]()
* [spack-bui

[2020-10-14 19:24] EthanS94 opened #19314 "Installation issue: protobuf with intel (as dependency of paraview)"
### Steps to reproduce the issue

[code]

### Information on your system
* **Spack:** 0.15.4-1467-71d2ce740
* **Python:** 3.6.3
* **Platform:** linux-rhel7-broadwell

* [compilers.yaml](https://github.com/spack/spack/files/5380376/compilers.yaml.txt)
* [packages.yaml](https://github.com/spack/spack/files/5380378/packages.yaml.txt)

### Additional information

* [spack-build-out.txt]()
* [spack-bui

[2020-10-14 20:11] adamjstewart commented on #19301
@chuckatkins should I just open an issue on the CMake GitLab?

[2020-10-14 21:53] jppelteret commented on #19291
Looking at my notes, the last time I built deal.II with most variants enabled I had to specify `^hwloc@1.11.11`, presumably to work around the same issue as you see here.

[2020-10-15 05:42] MichaelLaufer opened #19318 "Spack "way" to prefix to all compile and link commands (for profiling)?"
Hi,
We are attempting to use [Score-P](https://www.vi-hps.org/projects/score-p/) to analyze applications.
To do this the command "scorep" must be appended to all compile and link commands
`
scorep  mpif90 app1.f90 app2.f90 -o app
`
My question is, what is the Spack Way to get this done?
I have successfully done this by editing the package.py and either adding patching the makefile, and/or using th

[2020-10-15 06:11] MichaelLaufer opened #19319 "Install two copies of same spec?"
Following #19318,
We are building "analysis" versions of packages for profiling/tracing purposes. BUT we would like to keep the clean/untouched version installed as well.
Is there any way to keep two copies of the same spec? Could I mark one spec as "analysis" and choose to load one or the other?
`spack load wrf`
or
`spack load wrf-analysis`

Thanks,

[2020-10-15 07:38] hseara commented on #17407
Have you solve the issue somehow? With spack 0.15.4 happens still the same to me same:

[code]

The following code solves the problem:
[code]

[2020-10-15 08:00] ax3l commented on #18589
Wuhu, the Pillow PR got merged! @adamjstewart :)
https://github.com/python-pillow/Pillow/pull/4923

Pillow 8.0.0 contains the patch, will add a new version to Spack.

[2020-10-15 10:02] ajkotobi commented on #15776
@adamjstewart @scheibelp , After moving to Spack `v0.15.4` in our test system, and trying compilation with NAG, I've bump into following scenarios

When leave `lib/spack/spack/compilers/nag.py` as `'return -Wl,Wl,,'` https://github.com/spack/spack/issues/15776#issuecomment-620307013, I faced

[code]

After changing it to

[code]
compilation go through all dependencies successfully but during compi

[2020-10-15 11:05] tmadlener opened #19321 "Installation issue: syscalc fails with ChecksumError"
### Steps to reproduce the issue

[code]

yields

[code]

### Information on your system

[code]

### Additional information

It seems that that the file that is found at the location specified by the package:
https://github.com/spack/spack/blob/e4c1cb380beb088393e47ba9caa27a2e5953b4db/var/spack/repos/builtin/packages/syscalc/package.py#L13-L15

has changed, as directly downloading it and running

[2020-10-15 12:06] wwx734925 opened #19322 "Installation issue: py-pyqt4"
### Steps to reproduce the issue

[code]

### Information on your system

### Additional information
CPU_ARCH_SUFFIX = aarch64
CentOS Linux release 8.2.2004 (Core)

* [spack-build-out.txt]()
* [spack-build-env.txt]()

### General information

- [ ] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [ ] I have run `spack maintainers <name-of-the-package>` and @menti

[2020-10-15 12:19] alalazo commented on #18589
Looking at the patch, I think this issue is solved by Pillow 8.0.0 Closing, but feel free to reopen if I overlooked something that still needs fixing.

[2020-10-15 12:19] #18589 closed, assigned to adamjstewart

[2020-10-15 12:26] #13732 closed

[2020-10-15 13:41] #18578 closed, assigned to nobody

[2020-10-15 13:44] #19289 closed, assigned to nobody

[2020-10-15 15:04] adamjstewart commented on #18589
The patch still isn't in `py-pillow-simd`, but we switched the default provider back to `py-pillow`, so I think this is safe to close.

[2020-10-15 15:10] adamjstewart commented on #15776
I think we're still waiting for a response from @alalazo on this one. It's unclear to me if `linker_arg` is used for both CC and FC. If it is used for both, we need to split it into `cc_linker_arg` and friends like we did for `pic_flag` and `rpath_arg`. Once we have better mixed compiler support, this will no longer be an issue, but I would definitely like to see this resolved before then, since i

[2020-10-15 15:48] adamjstewart commented on #19322
@Sinan81 @sethrj can you take a look at this one?

[2020-10-15 16:26] sethrj commented on #19322
@wwx734925 can you print `spack debug report` and `spack spec -I py-pyqt4`? And can you attach the error files as requested? You did not complete the error template as required for us to debug the issue.

At first glance it looks like `py-pyqt4` assumes some components of QT4 are enabled but they aren't getting installed.

[2020-10-15 17:50] white238 commented on #16269
Confirmed failure on ncurses@6.2 on rzmanta and rzansel with the following compiler spec:

[code]

[2020-10-15 18:36] markcmiller86 opened #19328 "Recommend switch in szip package"
Just learned in HDF5 User's Group that upcomming releases will utilize a [BSD-2 Clause licensed](https://gitlab.dkrz.de/k202009/libaec/-/blob/master/Copyright.txt) version of [szip](https://gitlab.dkrz.de/k202009/libaec).

The BSD licensing of this version IMHO makes it more attractive for spack.

The [existing version](https://support.hdfgroup.org/doc_resource/SZIP/) Spack builds supports only no

[2020-10-15 21:03] viniciusferrao commented on #17036
I have the same issue with fftw@3.3.8%intel@20.0.166

[2020-10-15 21:55] hartzell commented on #17273
I'm happy with the solution that I've arrived at and am looking forward to rolling it into the changes in #15028 so I'm closing this.

[2020-10-15 21:55] #17273 closed, assigned to nobody

[2020-10-15 23:55] rblake-llnl commented on #15574
+1 to this request.

Right now when I use a buildcache and an environment, spack rebuilds build dependencies for items in the buildcache.  This doesn't make any sense.

Either

* spack should push the build/test dependencies for a package to the buildcache so they can be pulled by downstream users without having to recompile perl again.  This would increase the sizes of the build cache.
*  spack s

[2020-10-16 00:23] #12003 closed

[2020-10-16 00:23] #18401 closed, assigned to nobody

[2020-10-16 04:03] white238 opened #19332 "Naming two compiler specs close to each other causes one to lose its fortran compiler"
I renamed a compiler spec to have it's version in the name and noticed that a different compiler spec lost its fortran compiler after doing so.  Renaming the second compiler spec to either `gcc@8.1_no_fortran` or `gcc@no_fortran` works fine.

### Steps to reproduce the issue

Define two compiler specs that are close to each other:
[code]

When referencing the fortran compiler in a package  the env

[2020-10-16 10:02] msimberg opened #19340 "Installation issue: rocm-device-libs"
### Steps to reproduce the issue

[code]

### Information on your system

[code]

My `compilers.yaml` contains the following for using a Cray (GCC) compiler wrapper (which is the compiler I used for building `rocm-device-libs`:

[code]

And the spec:
[code]

### Additional information

* [spack-build-env.txt](https://gist.github.com/msimberg/dddb18fbe184abcbc83dc5c782ce0f63)
* [spack-build-out.txt

[2020-10-16 10:03] wwx734925 commented on #19322
$ spack install -v py-pyqt4
* **Spack:** 0.15.4-1467-71d2ce740
* **Python:** 3.6.8
* **Platform:** linux-centos8-aarch64

That components of QT4 cannot be enabled. It will causes other errors.

[2020-10-16 10:07] haampie commented on #19340
Since the `GCC_INSTALL_PREFIX` bit is copied from the `llvm` package I'm pinging @sethrj (and maybe @aweits @naromero77)

We should probably parse `gcc -print-search-dirs` then if that's stable api

[2020-10-16 11:17] sethrj commented on #19322
@wwx734925 Can you also post the error and environment files please? They're the ones referenced by the bottom line you originally posted:
[code]

And please also post the `spack spec -I`  that I requested: it will tell you what compiler and version are being used.

QT4 is an unmaintained code, and you're running on a fairly new OS  and on an ARM platform, so it's quite possible that QT4 cannot be

[2020-10-16 12:20] sethrj commented on #19340
Yes, good catch: querying the compiler's internal (non-wrapped) install prefix is the safest thing. This would probably be a good addition for *all* compilers, not just gcc, but perhaps it should start with gcc (and be located in `spack.compilers.gcc` rather than the llvm/rocm packages). I think there's an ongoing effort (part of the "compilers as dependencies" push) to better understand the compi

[2020-10-16 13:04] zhiyuanzhai opened #19347 "Installation issue: Configure error of llvm@10 on macOS Big Sur -- Target not found"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.15.4-1339-11bcdc6ad
* **Python:** 3.8.5
* **Platform:** darwin-macos-skylake

### Additional information

* [spack-build-out.txt](https://github.com/spack/spack/files/5391632/spack-build-out.txt)
* [spack-build-env.txt](https://github.com/spack/spack/files/5391630/spack-build-env.txt)
* [CMakeError.log](https:

[2020-10-16 15:08] frankwillmore commented on #19216
https://github.com/spack/spack/pull/19330 supersedes 19238 and declares a oneapi compiler class.

[2020-10-16 15:42] vickiegpt commented on #4261
I've got problem when compiling gromacs depending on intel@18 using script: `spack install gromacs%intel@18.0.5^m4/mkc`, which generated the error:

[code]
The solution is by [here](https://mixable.blog/spack-and-intel-parallel-studio-error-while-loading-shared-libraries-libimf-so/) to prepend `extra_rpath`. but still the same result.

I found that if spack have to deal with cmake first, the modif

[2020-10-16 16:44] naromero77 commented on #18944
FYI: At the Flang group meeting, Oct. 14, we talked about deleting the package and everyone was on board with the decision.

[2020-10-16 17:55] sethrj commented on #18958
Another related issue, and possibly the common denominator here: `foo@:1.2.3` matches *any* version name/tag that's not `master` or other special cases. So if the package recipe has limitations for very old pieces of code, it will also match against other unrelated version tags.

[2020-10-16 21:04] #17930 closed, assigned to scheibelp

[2020-10-16 21:06] adamjstewart commented on #19301
I was able to build CMake 3.0.2, which should hopefully be new enough for my needs. I'm going to open an issue with the developers anyway.

[2020-10-16 21:12] adamjstewart commented on #19301
CMake GitLab issue: https://gitlab.kitware.com/cmake/cmake/-/issues/21323

[2020-10-17 00:49] matthiasdiener commented on #18460
@nilsleiffischer Thanks for the report. I believe the MacOS bug has been fixed. Regarding zlib, I believe you need the development headers (maybe zlib1g-dev?). I will check out the fortran-10 issue.

[2020-10-17 09:34] alalazo opened #19351 "Add support to remove externals from command line"
As a user I want to be able to remove external specs in`packages.yaml` from the command line so that I don't have to manually edit the configuration.

### Rationale
With the addition of `spack external find` more and more packages are getting the ability to be discovered on the host system and be reused. While this is good, it also increases the size / complexity of the corresponding `packages.yam

[2020-10-17 09:40] #18527 closed, assigned to alalazo

[2020-10-17 20:27] #18944 closed, assigned to nobody

[2020-10-17 20:57] eschnett opened #19352 "Installation issue: llvm"
The patch file `var/spack/repos/builtin/packages/llvm/constexpr_longdouble_9.0.patch` is missing a dash (`-`) on the first line. Patch files should have three dashes here, but there are only two.

SInce this doesn't seem to cause problems I assume this is only a minor, maybe cosmetic issue.

[2020-10-18 16:01] adamjstewart commented on #19352
@naromero77 @trws

[2020-10-18 17:34] Sinan81 commented on #19322
@wwx734925 Can you also try installing with opengl variant of qt4:
[code]

[2020-10-19 05:22] wwx734925 commented on #19322
Input spec
--------------------------------
 -   py-pyqt4

Concretized
--------------------------------
 -   py-pyqt4@4.12.3%gcc@8.3.1~qsci_api arch=linux-centos8-aarch64
[+]      ^py-sip@4.19.21%gcc@8.3.1 module=PyQt4.sip arch=linux-centos8-aarch64
[+]          ^python@3.8.6%gcc@8.3.1+bz2+ctypes+dbm~debug+libxml2+lzma~nis~optimizations+pic+pyexpat+pythoncmd+readline+shared+sqlite3+ssl~tix~tkinter

[2020-10-19 05:30] wwx734925 commented on #19322
[code]

[2020-10-19 08:22] alalazo opened #19356 "The unit test "test_foreground_background_output" gives false positives"
The unit test:
[code]
gives a fair amount of false positives on Github (failures of the test that are not due to a regression).

### Steps to reproduce the issue
Look at failing PRs, there are high chances the failure log looks like [this one](https://github.com/spack/spack/pull/18739/checks?check_run_id=1272787694).

### Error Message
--

### Information on your system
--

### Additional informat

[2020-10-19 09:25] haampie opened #19359 "Developing different specs of the same package in an environment"
### Rationale

I'm trying out the new environment dev-build / develop feature, and I think it's great, so thanks a lot @becker33 :).

Two points of general feedback:

1. I can't seem to build two different specs of the same package in a single environment. Seems like a limitation of using keys instead of an array in the `develop` section of an environment file.

2. It would be great to be able to

[2020-10-19 11:51] sethrj commented on #19322
Thanks for the full spec @wwx734925 , I'm really trying to help you out here and I need your help as part of that: can you please post the failing `spack-build-out.txt` log file as I've requested multiple times?

I can't build it on my mac (the qmake mkspec has the wrong default value).

I tried building it on a rhel7 system I use but failed. The error messages you posted are just the configure sy

[2020-10-19 12:13] haampie commented on #19359
Ah, I just realized that

is kind of implemented but just for cmake packages... and I happened to have undone that change by forcing the build folder to be `spack-build` inside the cmake package I have.

I actually opened a reverting PR for non-predictable build folders in https://github.com/spack/spack/pull/18838 because build destination folders should be controllable by the user, especially for

[2020-10-19 12:16] wwx734925 commented on #19322
spack-build-out.txt

==> py-pyqt4: Executing phase: 'configure'
==> [2020-10-15-19:13:08.967942] '/home/spack/spack/opt/spack/linux-centos8-aarch64/gcc-8.3.1/python-3.8.6-g4ysvcjpqnbw5m3mp3zzt6uqvogpuqel/bin/python3.8' 'configure-ng.py' '--pyuic4-interpreter' '/home/spack/spack/opt/spack/linux-centos8-aarch64/gcc-8.3.1/python-3.8.6-g4ysvcjpqnbw5m3mp3zzt6uqvogpuqel/bin/python3.8' '--sipdir' '/home/

[2020-10-19 12:18] wwx734925 commented on #19322
spack-build-out.txt

==> py-pyqt4: Executing phase: 'configure'
==> [2020-10-15-19:13:08.967942] '/home/spack/spack/opt/spack/linux-centos8-aarch64/gcc-8.3.1/python-3.8.6-g4ysvcjpqnbw5m3mp3zzt6uqvogpuqel/bin/python3.8' 'configure-ng.py' '--pyuic4-interpreter' '/home/spack/spack/opt/spack/linux-centos8-aarch64/gcc-8.3.1/python-3.8.6-g4ysvcjpqnbw5m3mp3zzt6uqvogpuqel/bin/python3.8' '--sipdir' '/home/

[2020-10-19 12:19] wwx734925 commented on #19322
spack-build-out.txt
<details>
<pre>
==> py-pyqt4: Executing phase: 'configure'
==> [2020-10-15-19:13:08.967942] '/home/spack/spack/opt/spack/linux-centos8-aarch64/gcc-8.3.1/python-3.8.6-g4ysvcjpqnbw5m3mp3zzt6uqvogpuqel/bin/python3.8' 'configure-ng.py' '--pyuic4-interpreter' '/home/spack/spack/opt/spack/linux-centos8-aarch64/gcc-8.3.1/python-3.8.6-g4ysvcjpqnbw5m3mp3zzt6uqvogpuqel/bin/python3.8' '--

[2020-10-19 12:21] wwx734925 commented on #19322
spack-build-env.txt

<details>
<pre>
ACLOCAL_PATH=/home/spack/spack/opt/spack/linux-centos8-aarch64/gcc-8.3.1/pkgconf-1.7.3-ccmzqe76vtpi2xl6txqzwsypcxdp74kb/share/aclocal:/home/spack/spack/opt/spack/linux-centos8-aarch64/gcc-8.3.1/util-macros-1.19.1-qfkzudf2vypexlneptcntzr6pio3dqga/share/aclocal:/home/spack/spack/opt/spack/linux-centos8-aarch64/gcc-8.3.1/libtool-2.4.6-6w2yuvybjmm6amwr7ydluafb3tgtn

[2020-10-19 12:25] sethrj commented on #19322
Thanks @wwx734925 . That's an identical end-of-log as I saw, with no explanation from the `sip` binary. There's no  maintainer listed for `py-sip` and little hope for support for pyqt4 since it's obsolete. I'm afraid you're on your own here. Maybe you should consider updating your code to use py-qt5?

[2020-10-19 12:36] skosukhin commented on #19328
The following command builds `hdf5` with `libaec`:
[code]
Another option is to override the default preference in `packages.yaml`: https://github.com/spack/spack/blob/d48b18650034d28d522ec9fbda272279ff91c5c3/etc/spack/defaults/packages.yaml#L46

[2020-10-19 12:37] wwx734925 commented on #19322
Thank you very much.

[2020-10-19 12:37] #19322 closed, assigned to nobody

[2020-10-19 13:04] sethrj opened #19364 "`spack external find` for non-executables"
Add support for `spack external find` for packages that don't have an associated binary executables, using environment variables as hints where appropriate or perhaps [CMake package files](https://cmake.org/cmake/help/latest/command/find_package.html#search-procedure).

### Rationale

There are data-only packages such as `geant4-data` that are useful to have preinstalled as a collection; and other

[2020-10-19 15:00] schmitts commented on #12480
Should `extends('python@3:')` work or shouldn't it? Intention is "depend on python with a minimal major version of 3 and extend it".

[2020-10-19 15:03] adamjstewart commented on #12480
I don't _think_ it works, but I could be wrong. I think you need to use:
[code]

[2020-10-19 15:09] samcmill opened #19365 "Alternate CUDA provider"
The `nvhpc` package provides CUDA, but there is currently no way to use it as a `cuda` provider.

Continues discussion started in https://github.com/spack/spack/pull/19294#issuecomment-708470862.

### Description

The NVIDIA HPC SDK is a comprehensive set of compilers, libraries, and tools.  The `nvhpc` package currently exposes the compilers, CPU math libraries (`+blas`, `+lapack`), and MPI (`+mp

[2020-10-19 15:29] adamjstewart commented on #19365
I vote for solution 2: rename `cuda` to `cuda-toolkit` and have both packages provide `cuda`. For `nccl`, maybe something like `nvidia-nccl`?

Also pinging our official CUDA maintainers: @ax3l @Rombur

[2020-10-19 15:31] adamjstewart commented on #19356
I'm at the point where we should either fix it or xfail it, at least on macOS where it fails pretty regularly. @tgamblin wrote the original test.

[2020-10-19 15:40] sethrj commented on #17145
I'm pretty sure this happened because non-numeric tags sort "before" numeric tags but are still included in the open ranges; and https://github.com/spack/spack/pull/9445 erroneously deleted the 4.3 versions of superlu-dist.

[2020-10-19 15:43] Rombur commented on #19365
I also think solution 2 is the way to go.

[2020-10-19 16:05] healther commented on #12480
AFAIR `extends` only implies a plain `depends_on`, i.e. you are free to omit a `depends_on('python')` from an `extends('python')` package, but the `extends` does not handle _any_ additional information.

[2020-10-19 16:16] healther opened #19369 "Reduce test time"
While running the tests (to see if I broke anything for #19166) I noticed that they take quite a while...

[code]
To be fair this is on a somewhat old MacBook Air, but still... 6 minutes for checking the licenses is, let's call it ambitious^^. Has anyone taken a look at speeding things up?

And I'm pretty sure the fail of
[code]
should have been an XFAIL or SKIP right? (It skipped a bunch of other

[2020-10-19 16:28] markcmiller86 commented on #19328
Ah, didn't think to go look to see if aec was already there 👍 . Thanks

[2020-10-19 16:28] #19328 closed, assigned to nobody

[2020-10-19 17:10] sethrj commented on #17145
See https://github.com/spack/spack/issues/8421

[2020-10-19 17:16] #18978 closed, assigned to nobody

[2020-10-19 17:34] aweits commented on #16073
#19371 might fix this for you...

[2020-10-19 18:15] #16073 closed

[2020-10-19 18:36] adamjstewart commented on #18958
One workaround would be to use:
[code]

[2020-10-19 20:27] Sinan81 commented on #19322
I just confirmed I built pyqt4 successfully about a year ago
[code]
But, since then pyqt packages have undorwent significant modifications.

[2020-10-19 21:14] corbett5 commented on #16308
The issue appears to be with `make@4.3`, see
https://github.com/GEOSX/thirdPartyLibs/issues/136

[2020-10-19 21:17] adamjstewart commented on #19322
I can't remember. Qt has always been iffy on macOS.

[2020-10-20 00:23] Sinan81 commented on #19322
the above mentioned successful builds were done with py-sip@4.19.18 which is not downloadable now. The build error @wwx734925 reports is pointing `QAxContainer` which is a Windows thing hence not relevant at all in Linux. So, my guess is that once the source file is patched to disable this, pyqt4 will build just fine provided it is built with `qt+dbus+webkit` (and also with +opengl?)

[2020-10-20 00:45] sethrj commented on #19322
It looked like the build errors were just pyqt’s configure process figuring out that WebKit wasn’t installed. The actual error seemed to happen silently when sip was called on the qt core package.

[2020-10-20 03:17] cpraveen commented on #16308
It is likely I faced the same problem, I dont have the same setup now. I was using opensuse tumbleweed which tends to have very latest versions. I had other problems due to this. So I installed leap instead which has make@4.2.1 and I had no problem installing trilinos with this. So I will close this issue. Thanks for pointing this out.

[2020-10-20 03:17] #16308 closed, assigned to aprokop

[2020-10-20 04:46] Sinan81 commented on #19322
@sethrj you're right. Well, py-pyqt4 builds with py-sip@4.19.18. This version is not downloadable any more for some reason. I put it in Google drive in the following link: https://drive.google.com/file/d/1xyKRHDOZCAjJMdG_9R4LRM-NwvU5kUAT/view?usp=sharing

@adamjstewart Can this file be put in Spack mirror?

@wwx734925 Until a fix for py-sip regression is found, What you need to do is to download t

[2020-10-20 05:37] hseara commented on #17407
At this point, I am forced to run with a patched version of spack to be able to allow the users to export the environment without forcing the users to write this dirty `ls` commands as reported in my previous comment.

I have patched `${MOUNTPATH}/spack/lib/spack/llnl/util/lock.py` as @awacha suggested:

[code]

[2020-10-20 05:58] alalazo commented on #19364
@robertu94

[2020-10-20 06:52] wwx734925 commented on #19322
https://drive.google.com/file/d/1xyKRHDOZCAjJMdG_9R4LRM-NwvU5kUAT/view?usp=sharing
No permission. I can't get it.

[2020-10-20 07:44] Sinan81 commented on #19322
I created an new user on my laptop just to make sure, and tested it. It looks like working. the webpage complains like "couldn't create preview ..." but that doesn't matter. Disregard it. and also you don't need to sign in. Just click on the Download button or download icon (near sign in). You don't need to preview the contents of the tar file, though for that the link has sufficient permissions.

[2020-10-20 08:02] Sinan81 commented on #19322
Actually, the file is also available via internet archive's time machine: https://web.archive.org/web/20190926143820/https://www.riverbankcomputing.com/static/Downloads/sip/4.19.18/sip-4.19.18.tar.gz

[2020-10-20 09:32] wwx734925 commented on #19322
The py-pyqt4 is successfully installed. Thank you very much for all your help.

[2020-10-20 10:22] robertu94 commented on #19364
One other possible source of the information could be from header files using libffi and/or using the C foreign function interface to call into a library. I have some code that does this for a library that I wrote if it would be useful.

A few other use cases that I don’t currently have would be would be getting packages from Julia or Python. This may work better for Julia since packages are refer

[2020-10-20 10:36] sethrj commented on #19322
Thanks @Sinan81 ! I'll add a PR to mark `py-sip 4.19.19:`  as incompatible with `py-qt4`.

[2020-10-20 16:12] saikovuri opened #19396 "Mistake"

[2020-10-20 16:12] #19396 closed, assigned to nobody

[2020-10-20 17:10] ajayrawat-ai opened #19407 "Installation issue: dealii library with external"
## Steps to reproduce the error
[code]
## Error message
[code]
## spack-build-out.txt
[code]

[2020-10-20 19:53] adamjstewart commented on #19407
@davydden  @jppelteret  @luca-heltai

[2020-10-20 20:07] trws commented on #19266
I'm seeing the same error on a basically stock ubuntu 19.10:

[code]

I'm guessing this is because FZF is printing the git hash in perens after the version.  May take a deeper look later, question is whether to fix this in the version parser or in the fzf version method.  I'm leaning toward parser.

[2020-10-21 03:43] BenWibking opened #19413 "Installation issue: perl (blocks llvm installation)"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.15.4-1568-0e6b818c5
* **Python:** 3.6.8
* **Platform:** linux-centos8-cascadelake

### Additional information

* [spack-build-out.txt](https://github.com/spack/spack/files/5413118/spack-build-out.txt)
* [spack-build-env.txt](https://github.com/spack/spack/files/5413119/spack-build-env.txt)
* [spack-configure-a

[2020-10-21 03:51] naromero77 commented on #19413
Looks like you don't get very far. Can you please focus on building LLVM's dependencies?

[2020-10-21 03:54] BenWibking commented on #19413
Sorry, what do you mean - should I submit a ticket for perl instead? I had thought that llvm was the appropriate package to list here based on the instructions, but if I am mistaken, my apologies.
________________________________
From: Nichols A. Romero <notifications@github.com>
Sent: Wednesday, October 21, 2020 2:51 PM
To: spack/spack <spack@noreply.github.com>
Cc: Ben Wibking <ben.wibking@anu.e

[2020-10-21 03:59] BenWibking commented on #19413
Is there a way to build the llvm package with the system perl instead?

[2020-10-21 05:05] naromero77 commented on #19413
Here are some examples:
https://spack.readthedocs.io/en/latest/build_settings.html#external-packages

I am not in a good position to help you with the perl package since I am not a maintainer of that package. I recommend using system installations of dependencies that don't built and/or deactivating variants that are preventing you from compiling.

I am stretched pretty thin across multiple projec

[2020-10-21 06:20] bhatiaharsh opened #19414 "Installation issue: incorrect simd target identified on Summit"
### Steps to reproduce the issue

[code]

### Information on your system

[code]

### Additional information

Trying to install `gromacs` on `summit`. The package builds, but picks up incorrect simd flags. The conditions in the following snippet in `package.py` fails (see the incorrect value in the attached `spack-configure-args.txt` picked from the successful build.
[code]

* [spack-build-env.txt

[2020-10-21 06:44] ax3l commented on #19365
Agreed.

[2020-10-21 07:02] ax3l commented on #19365
I reached out to one of the NVHPC architects, @brycelelbach, and got the following detailed info on nvhpc and the cuda toolkit:
- The nvhpc sdk supports multiple versions of the cuda toolkit. Currently, [downloads provide](https://developer.nvidia.com/nvidia-hpc-sdk-downloads) either a bundle with the *newest* cuda version or another bundle with the *newest + plus two previous* CUDA versions, i.e.

[2020-10-21 07:59] ax3l opened #19416 "Jupyter: No module named ipykernel_launcher"
### Steps to reproduce the issue

[code]

### Error Message

If I try to start `jupyter notebook` now and open a Python3 Notebook I get no working Python3 kernel
[code]

### Information on your system

[code]

`spack debug report`:
* **Spack:** 0.15.4-1470-99ef3d11c1
* **Python:** 3.8.6
* **Platform:** linux-ubuntu18.04-skylake

### Additional information

- [x] I have run `spack debug report` and

[2020-10-21 08:17] garth-wells opened #19417 "PETSc 3.14 fails to enable superlu-dist"
The PETSc version was bumped to 3.14 in https://github.com/spack/spack/commit/569eb866fc7f42da0018b73ac7b4bc7a5dbc76ff, but updates to the SuperLU-dist dependency were overlooked. The lines
[code]
should be changed to something like
[code]
Otherwise `spack install petsc+superlu-dist` fails to configure PETSc with SuperLU-fist.

@balay

[2020-10-21 09:09] #18373 closed, assigned to nobody

[2020-10-21 09:51] alalazo commented on #19414
@bhatiaharsh I think I get your issue above. The condition in `gromacs` should say:
[code]
since the big endian and little endian flavors of the Power architecture give origin to different "families" of microarchitectures. I'll submit a patch by end of the day.

[2020-10-21 12:58] alalazo commented on #19266
I think the FZF method needs fixing. Currently it doesn't even try to match a regex, it just returns whatever `--version` returns. Instead of fixing the parser to allow "`0.23.1 (brew)`" as a valid version I think we should probably intercept this kind of failure, write it in the debug log and proceed.

[2020-10-21 13:27] s-sajid-ali opened #19439 "Spack built python does not link to ssl"
Once a spack built python linked to an external openssl (the system wide one) is loaded (whether by itself or as a dependent or in a environment) spack commands fail.

### Steps to reproduce the issue

[code]

### Error Message
Stacktrace is as shown above.

### Information on your system

[code]

[code]

[code]

### Additional information

- [x] I have run `spack debug report` and reported the ve

[2020-10-21 13:43] thomasbrTTU opened #19440 "Lammps build for GPU fails"
Trying to build lammps for the NVIDIA V100 GPU and I receive different errors. Using gcc@8.3.1 and cuda@10.2.89. Would like to be able to build with gcc@10.1.0 but receive other errors. Thanks

### Steps to reproduce the issue
[code]
### Error Message
The error message varies.
RUN 1 and 2: ==> Error: Package cuda does not depend on x or z
RUN 3: ==> Error: Package cuda does not depend on l, i, b,

[2020-10-21 15:29] adamjstewart commented on #19440
Unfortunately I'm not able to reproduce this on macOS.

This error message usually means that there is a package in Spack that uses something like:
[code]
`depends_on` cannot handle dependencies of dependencies at the moment. I believe I removed most if not all of those in #18220, but if you find more please submit a PR to fix those.

[2020-10-21 15:30] trws commented on #19266
That seems reasonable, I missed the `(brew)` from the original report and thought recognizing a hash there might occasionally be useful, but if it's a general string there's little point.

[2020-10-21 15:30] adamjstewart commented on #19439
Yep, this is a duplicate of #13902. Unfortunately I've never been able to reproduce this bug, so I can't help much. You may want to open an issue with the CPython devs.

[2020-10-21 15:33] adamjstewart commented on #19416
I ran into a very similar issue to this when using Spack environments. The problem was that I added my `.spack-env/view/bin` directory to my `PATH` but didn't add `.spack-env/view/lib/pythonX.Y/site-packages` to my `PYTHONPATH`. When I dug into it, the `jupyter` executable was hard-coded to look in the root Python prefix for `site-packages` instead of where the symlinked python command was found.

[2020-10-21 16:33] #19414 closed, assigned to alalazo

[2020-10-21 16:51] s-sajid-ali commented on #19439
Looking through the build logs I see :

[code]

I have the `openssl` executable (which was used to detect it as an external package) but I don't have the ssh headers and Python's configure step shows :
[code]

Spack assumption  that python has the `_ssl` module causes it to fail. Perhaps it should check for this and tell users that spack needs a `python` executable with `_ssl` enabled to be run ?

[2020-10-21 17:30] adamjstewart commented on #19439
I think this is kind of implied by: "ModuleNotFoundError: No module named '_ssl'"

Our Python package already has a check such that `spack install --test=root python+ssl` will fail if `ssl` doesn't get built. I think you just need to remove the external package and let Spack handle all dependencies.

[2020-10-21 17:34] #17934 closed, assigned to scheibelp

[2020-10-21 18:03] scheibelp commented on #19365
This has come up a couple times very recently (SDKs including implementations of packages) and I am considering an alternative approach:

* The SDK package (`nvhpc`) can come with a method to define externals that reference its installation prefix
* A new concretizer directive could be included (something like `supplies`) that tells the concretizer that the SDK comes with additional packages (whic

[2020-10-21 18:36] brycelelbach commented on #19365
My product manager pointed out another caveat I didn't fully cover: while NVHPC packages specific existing versions of the CUDA toolkit, CUDA libraries (CUBLAS, etc) are independently semantically versioning, and the versions in an NVHPC release may be different from the versions in the corresponding CUDA toolkit release. There are also libraries in the NVHPC SDK that are not in the CTK.

So, to s

[2020-10-21 19:15] ax3l commented on #19416
Thank you for the hint, I am using environments :tada:

So, should we fix upstream jupyter, patch `py-jupyter` and/or export `PYTHONPATH` in envs by default?

[2020-10-21 19:21] adamjstewart commented on #19416
We do export `PYTHONPATH` in envs by default (I think). The problem was that I wasn't running `spack load env`, I was just manually setting env vars in my `.bashrc`.

[2020-10-21 19:35] #19266 closed, assigned to alalazo

[2020-10-21 21:20] s-sajid-ali commented on #19439
Yes, that should work.

Since the current `external find` logic only looks for executables and not headers, spack can't differentiate between runtime and development libraries (`libssl` vs `libssl-dev`, where only the second one provides the headers). Once https://github.com/spack/spack/issues/19364 is addressed, the external detection of `openssl` could include searching for headers as well which

[2020-10-21 21:20] #19439 closed, assigned to nobody

[2020-10-21 21:47] adamjstewart commented on #19439
In addition to #19364, we currently don't have a way to differentiate between external packages that provide libraries/headers (like python-devel) and external packages that only provide binaries (like python).

[2020-10-21 22:09] s-sajid-ali commented on #19439
We could notify a user when they're trying to add external packages without headers/libraries that it might not work but let them add those anyway. That would make debugging easier.

[2020-10-21 22:15] brycelelbach commented on #19365
Now that I've given this some more thought, I think it would be useful for me to understand how y'all package all the NVIDIA-related stuff. E.g. what are the packages you have today, and what version schemes are associated with them.

We, NVIDIA, could potentially take on some of the work here in defining Spack packages, if that would be helpful.

[2020-10-21 22:26] adamjstewart commented on #19365
We would **love** to get contributions directly from NVIDIA. Another thing you can do is add the GitHub handles of any NVIDIA employees who would like to be listed as official maintainers for the build recipe. This gives us someone to ping when we review PRs or get reports of build issues.

[2020-10-21 22:30] brycelelbach commented on #19365
Ah, it seems there was some confusion. @samcmill is my coworker at NVIDIA and the relevant person. I think neither I nor Axel realized he filed this bug!

[2020-10-21 22:30] samcmill commented on #19365
In case folks don't realize it, I am employed by NVIDIA.  We recently contributed support for the NVIDIA HPC SDK (#19294).  Please go ahead and ping me if there are any NV software issues.

[2020-10-21 22:46] ax3l commented on #19365
Hey @samcmill, ehm... do you want to become Spack co-maintainer for `cuda`? :)

[2020-10-21 23:02] ax3l commented on #19365
This sounds fantastic, yes would love to add your GitHub handles as co-maintainers, e.g. to the `cuda` package so you receive pings on them.

We currently ship a package called `cuda` that provides the CTK (`spack edit cuda`). We also have `thrust` and `cub` packages that could be used to install a development version and/or an older/newer version.

Spack has a pretty on-point Python DSL in its `p

[2020-10-21 23:27] ax3l commented on #19416
Interesting, I do `spack env activate`... :thinking:
`PYTHONPATH`:
[code]

[2020-10-22 02:16] scheibelp commented on #19365
@brycelelbach Could you mention an example?

I also have a few other questions:

* Is there a means to obtain the CUDA libraries other than via the CUDA toolkit or by the NVHPC SDK?
* Would you have a means to identify the different libraries provided by the CUDA toolkit and the NVHPC SDK (as well as their versions)?
* It is mentioned that NVHPC SDK provides all the libraries that the CTK does: ar

[2020-10-22 02:17] brycelelbach commented on #19365
NCCL, cuTENSOR.

Typically, yes, there's a way to obtain just the library from our website or otherwise.

Uh, can you elaborate on what you want? The documentation for both packages should list the contents.

The overlapping libraries are provided by the NVHPC SDK, and may not be the same version that was packaged with the associated CTK versions.

[2020-10-22 03:16] scheibelp commented on #19365
I think the Spack `nccl` package is an example of this: it downloads from (e.g.) https://github.com/NVIDIA/nccl/archive/v2.7.3-1.tar.gz

Does the NVHPC SDK provide a distinct version of NCCL, or is it a compiled instance of an archive available at https://github.com/NVIDIA/nccl/archive/?

For NVHPC SDK I see https://docs.nvidia.com/hpc-sdk/index.html at https://developer.nvidia.com/hpc-sdk which l

[2020-10-22 03:21] adamjstewart commented on #19365
Btw, I'm currently listed as a maintainer for our `cudnn` and `nccl` packages, but I honestly don't know much about them. The only reason I've been trying to keep them up-to-date is because I'm a DL researcher and I use PyTorch pretty heavily. I would love for NVIDIA to officially take them over and add any features others might be interested in.

[2020-10-22 13:08] costat commented on #19365
`cudart` is also provided in the HPC SDK. Since this is versioned directly in lock step with CUDA (e.g. `libcudart.so.11.0` is included for CUDA 11.0) we did not list it out separately in the docs. If that is confusing, we can enhance the docs.

[2020-10-22 14:32] samcmill commented on #19365
Can those more familiar with the Spack internals please comment on @scheibelp's alternative proposal above?  It is not clear to me how much effort it would require to architect and implement?

Otherwise, the consensus pretty clearly is option 2.

[2020-10-22 15:30] dunatotatos opened #19465 "Installation issue: strelka"
### Steps to reproduce the issue

[code]

### Information on your system

[code]

### Additional information
Won't upload the files, as it takes a good amount of effort to extract them from an air gapped environment, and probably do not bring anything interesting here.

Checking which CMakeLists.txt file is the culprit leads to `spack-src/CMakeLists.txt`, and more especially the line:
`if (${PYTHO

[2020-10-22 16:23] davidHysom opened #19469 "readthedocs is confusing"
Under "Shell support:" "If you want to have Spack’s shell support available on the command line at any login you can put this source line in one of the files that are sourced at startup ..."
(highlited as code): spack load / unload

Um, really? You want me to put **spack load / unload** in my .cshrc? I don't think so. I think it should be something like:
  spack load <foo>
  spack unload <foo>
How

[2020-10-22 16:26] davidHysom opened #19470 "installation instructions are confusing"
$ git clone https://github.com/spack/spack.git
$ cd spack/bin
$ ./spack install zlib

Really? Why do I have to install zlib? Is that the only way to get spack working? Or, do I need to install SOME package (if so, what are my choices?) Why do I need to install zlib?

Please clarify what's going on here

[2020-10-22 16:27] alalazo opened #19472 "test_env_view_external_prefix is not properly isolated"
When running the test suite extensively I found that:
[code]
is not properly isolated and causes false positives in subsequent tests. This issue is a reminder to investigate the problem as soon as there's time.

### Steps to reproduce the issue
While debugging b9914e0449184bdaa40a2ab44da18fe6ba89468c
[code]

### Error Message

<details>
<summary>Detailed error message for the env.py test failure</

[2020-10-22 16:27] s-sajid-ali opened #19473 "spack compiler find error"
`spack compiler find` incorrectly populates `compilers.yaml`.

### Steps to reproduce the issue

[code]
### Debug stacktrace
[code]

### Information on your system

[code]

[code]

### Additional information

- [x] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [x] I have searched the issues of this repo and believe this is not a duplicate
- [x] I have run the

[2020-10-22 16:30] alalazo commented on #19473
Can you report the output of:
[code]
?

[2020-10-22 16:33] s-sajid-ali commented on #19473
[code]

Assuming that you meant `/home/sajid/packages/spack/opt/spack/linux-rhel8-skylake_avx512/gcc-8.3.1/llvm-11.0.0-43vkqdskrqkb3k2ous5zqcm2fs7mxjpl/bin/clang` instead of `/home/sajid/packages/spack/opt/spack/linux-rhel8-skylake_avx512/gcc-8.3.1/llvm-11.0.0-43vkqdskrqkb3k2ous5zqcm2fs7mxjpl/bin/clang/home/sajid/packages/spack/opt/spack/linux-rhel8-skylake_avx512/gcc-8.3.1/llvm-11.0.0-43vkqdskrqk

[2020-10-22 16:45] davidHysom opened #19475 "errors in read-the-docs"
under "Shell Support:"
For csh and tcsh instead:
$ set SPACK_ROOT ...

I did:
$ set SPACK_ROOT /usr/workspace/wsb/hysom/spack
set: Variable name must begin with a letter.

Did you mean setenv?

[2020-10-22 17:30] alalazo opened #19476 "Module file tests leave spurious files in the user module root folder"
When running module file tests:
[code]
spurious files are created in the user module root folders.

### Steps to reproduce the issue

[code]

### Error Message

No error message, just garbage from tests created in production directories (should be harmless, but still annoying)

### Information on your system

* **Spack:** 0.15.4-1609-caab89b9c9
* **Python:** 3.8.5
* **Platform:** linux-ubuntu18.04

[2020-10-22 17:58] tomgreen66 opened #19478 "Installation issue: gcc"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.15.4-979-ee1725828
* **Python:** 3.6.8
* **Platform:** cray-rhel8-aarch64

### Additional information

* [spack-build-out.txt]()
* [spack-build-env.txt]()
Not present in staging directory.

@michaelkuhn

### General information

- [x] I have run `spack debug report` and reported the version of Spack/Python/Pla

[2020-10-22 17:59] tomgreen66 commented on #19478
Had temporary fix by fixing the version that the ztd patch is applied in gcc package.py since the master version of gcc has the patch already applied.

[2020-10-22 18:09] Char-Aznable commented on #18338
I get similar error when activating a previously installed env after a `git pull` in the spack dir. Here is my steps to reproduce:
[code]
Also, after the `git pull` step, the spack.lock file has wrong hash tags for the root specs, i.e., the hash in the error message `r3whsvqnlkaggy2yzsfg7ay4mugj2tje`. After replacing it with the actual hash tag of the installed package, I can activate the env agai

[2020-10-22 18:46] alalazo commented on #19472
To reproduce this in other branches it's probably sufficient to raise when the environment is being concretized.

[2020-10-22 19:21] adamjstewart commented on #19478
@tomgreen66 that sounds like the right fix to me if you want to submit a PR to fix this. Just use:
[code]
assuming that it won't be needed in 10.3.

[2020-10-22 19:26] scheibelp commented on #19365
Based on your comment and looking at https://docs.nvidia.com/hpc-sdk/hpc-sdk-release-notes/index.html, my impression is that `cudart` is supplied via the CTK that comes with NVHPC SDK: I assume the labels `CUDA 10.1 | CUDA 10.2 | CUDA 11.0` at the top of table 1 refer to CUDA toolkit releases. When I say "only available via the CTK" I mean that it is also possible that it is available via the CTK

[2020-10-22 19:30] adamjstewart commented on #19475
I don't have a ton of csh experience, but it seems like either of the following should work:
[code]
while the following doesn't work, as you reported:
[code]
It seems like `setenv` is specifically designed for environment variables, whereas `set` is for generic variables, so I agree that `setenv` seems like the better choice. Want to submit a PR?

[2020-10-22 19:33] adamjstewart commented on #19469
Are you talking about https://spack.readthedocs.io/en/latest/module_file_support.html#spack-load-unload? This is a header explaining how to use the `spack load` and `spack unload` commands, with examples of packages that have been installed and can be loaded or unloaded. I'm not sure how to make this more clear...

[2020-10-22 19:34] adamjstewart commented on #19470
You don't need to install anything, we're just showing you how easy it is to install a random package. In this case, zlib is a pretty quick example. There is nothing involved in installing Spack, you just clone it and go.

[2020-10-22 19:56] #19465 closed, assigned to nobody

[2020-10-22 20:59] #19476 closed, assigned to alalazo

[2020-10-22 21:55] #19321 closed, assigned to nobody

[2020-10-22 23:17] goxberry opened #19484 "Add flag to `spack activate` to symlink extension packages into alternative scope(s) (e.g., user scope)"
### Rationale

I encountered a use-case in which:

- a project configured `python` as an external package in `packages.yaml`
- the `python` prefix was in a read-only location (because it was installed by a sysadmin on an HPC cluster -- `quartz` at LLNL)
- the project was installing `py-regex`

In this use-case, running `spack activate py-regex` fails because it attempts to symlink `py-regex` to a

[2020-10-23 07:32] #19478 closed, assigned to nobody

[2020-10-23 17:25] tomgreen66 opened #19499 "Add march=a64fx when using llvm 11"
Could we add a more appropriate march when using llvm 11 on a a64fx system?  Assume change to

`lib/spack/llnl/util/cpu/microarchitectures.json`

And add under clang compiler for `a64fx`
[code]

[2020-10-23 17:26] tomgreen66 commented on #18656
Looks like its been fixed in #19383 but not checked.

[2020-10-23 17:30] naromero77 commented on #18656
Let us know what you find and if it fixes your problem, please close this issue.

[2020-10-23 19:09] naromero77 commented on #4261
@adamjstewart Not sure what the original issue was about. But many compilers rely on bits of GCC, e.g. the header files or possible other things as well. Many of the vendor compilers will default to the GCC compiler in your path or can be overridden with an extra compiler-specific flag (e.g. Intel) or a compiler-specific configuration file (e.g. IBM XL).

[2020-10-23 19:16] naromero77 commented on #19347
Has this been reported to the LLVM bugzilla? @trws and I have limited bandwidth and its better to fix this in LLVM upstream and then re-use their patch.

[2020-10-23 20:22] adamjstewart commented on #19356
Closed by #19456

[2020-10-23 20:22] #19356 closed, assigned to nobody

[2020-10-24 07:13] jppelteret opened #19508 "MacOS shared library paths"
Hi all,

I have a question regarding the paths of libraries referenced in shared libraries build on MacOS (10.15.7, but it probably holds for all versions). If I build `deal.II` using Spack commit bd178ead14 and then try to build and run one of the provided examples then this fails with this error message upon execution:
[code]

Inspecting the names of the libraries referenced by `deal.II`'s libra

[2020-10-24 20:58] jppelteret commented on #19407
Hmm... I must admit that I've got no idea if the combination of boost 1.71.0 and deal.II 9.2 is a problem or not. We try to keep a list of troublesome boost version and register them as conflicting, but we've got no notes for this one so far.

I have two suggestions: 1. Can you try to build deal.II 9.2 against an older version of boost (I find the super conservative choice of 1.63.0 to be a good o

[2020-10-24 22:52] tgamblin commented on #7663
@jadoro: Since #12940 there is now `spack mirror create --all`, which can mirror everything without needing to concretize everything.  Concretizing is actually the wrong thing to do for `--all`, anyway, as we know statically, without concretizing, what all the possible sources are.

[2020-10-24 22:52] #7663 closed

[2020-10-24 23:48] #18530 closed, assigned to nobody

[2020-10-25 11:33] zhiyuanzhai commented on #19347
@naromero77 The problem has disappeared in LLVM 11.0, as I tested these days. I remain this issue open mainly because it might still cause problem if someone still wants to install the version 10.

I haven't read through the bugzilla yet but I guess there might be a solution already.

[2020-10-26 01:47] sethrj commented on #19508
Libraries can embed rpath locations (so it's not necessary to have `DYLD_LIBRARY_PATH` or `DYLD_FALLBACK_LIBRARY_PATH` set). To inspect those those, run:
[code]
You should see the Spack dependencies (such as the trilinos location) in there. The trouble looks at first glance like the bulid of `deal.II` is not adding explicit library paths (or rpath-specified paths) for `libumfpack.5.dylib`.

[2020-10-26 07:01] Joe23232 opened #19520 "Am I able to restrict applications permissions?"
Any application that is installed through the `spack` package manager, am I able to restrict the applications permissions, such as file access ~ I can specify which directories can it access and which directories it can't access, create virtual directories for the application to access, microphone, speaker, bluetooth, Internet etc?

Additionally with `spack`, am I able to get applications that are

[2020-10-26 08:24] dev-zero commented on #10308
I see the same issue when trying to build cp2k with an Intel compiler installed with Spacks `intel-parallel-studio@cluster.2020.2`:

[code]

The problem seems to be that the linker already needs the `libimf.so` which is not in the same directory as the `LLVMgold.so`, so adding the path to `extra_rpath` does not help, but we rather need it in `$LD_LIBRARY_PATH`.

Here's the compiler config:

[code]

[2020-10-26 08:27] dev-zero commented on #15146
the `provides` part I've added in https://github.com/spack/spack/pull/19497 so this issue should either be closed or the subject changed

[2020-10-26 10:09] rdbisme commented on #15146
I did not test the improvements in #19497 but I'll close this issue. Please test them and if needed comment back and I'll reopen it if there ore still issues.

[2020-10-26 10:09] #15146 closed

[2020-10-26 14:57] tomgreen66 commented on #19277
Have made changes to get add flang (and to detect gcc install prefix using print-search-dirs) to local copy.  From what I can see flang support seems to be there now.  Any special issues with this setup?

[2020-10-26 15:32] #17794 closed, assigned to nobody

[2020-10-26 15:32] #17509 closed, assigned to nobody

[2020-10-26 17:00] rodrigo-ceccato commented on #17869
I get the same error with UCX 1.7.0, 1.8.0 and 1.8.1, and 1.6.1 works.
Tried with:  GCC 9.3.0, GCC 8.3.0 and GCC 5.4.0

**Spack**: 0.15.4-1308-f83bd36
**Python**: 3.6.8
**OS**: CentOS Linux release 7.8.2003

[2020-10-26 18:44] adamjstewart commented on #19520
I think this is the closest thing Spack currently has: https://spack.readthedocs.io/en/latest/build_settings.html#package-permissions

This allows you to set the permissions of all Spack-installed packages, for example, if a license is required and only a certain set of users should have access.

I don't know how to restrict access for Spack-installed packages to different system locations aside f

[2020-10-26 20:01] chuckatkins commented on #19268
@ajkotobi is this still an issue?

[2020-10-26 20:48] jppelteret commented on #19508
Hi @sethrj, thanks a lot for your reply! Unfortunately I cannot report back some definite output from `otool` immediately, because I've already patched this (suite-sparse) locally. This of course means that `suite-sparse` will appear in this output. But if I take a first glance my current patched installation then it looks like at least the libraries that I listed (ignoring suite-sparse) do embed

[2020-10-26 21:26] AndrewGaspar opened #19531 ""cuda" package runtime libs and headers not mapped in environment view"
The runtime libraries for cuda, located in "lib64" of the install prefix, and the header files, located in "include" of the install prefix, are not mapped into the target environment view.

If I had to hazard a guess, it's probably relevant that the "lib64" and "include" directories are symbolic links. Regardless, it's undesirable behavior.

### Steps to reproduce the issue

[code]

I disable and

[2020-10-26 23:50] adamjstewart commented on #19531
@ax3l @Rombur

[2020-10-27 00:21] tgamblin commented on #19365
Commenting to get emails on this.

[2020-10-27 00:46] Joe23232 commented on #19520
Is it possible for me to then use `firejail`?

[2020-10-27 00:50] Joe23232 opened #19534 "Add more permission restrictions"
I wanted to suggest that all the applications that are installed through the `spack` package manager should be able to have their permissions restricted, such as file access ~ I can specify which directories can it access and which directories it can't access, create virtual directories for the application to access, microphone, speaker, bluetooth, Internet etc.

Additionally with `spack`,  I also

[2020-10-27 01:19] adamjstewart commented on #19520
That should be possible, although I haven't personally tried.

[2020-10-27 01:28] sethrj commented on #19508
Yeah, with the wrong configure/cmake options the rpaths can be omitted. Looks like you've got the right workaround though which is good!

[2020-10-27 02:03] Joe23232 commented on #19520
Is `spack` planning to implement more file permissions?

[2020-10-27 03:32] adamjstewart commented on #19520
@tgamblin would be the best person to answer that question.

[2020-10-27 05:11] #15543 closed

[2020-10-27 05:52] tgamblin commented on #19520
We're not currently planning to implement any runtime permission settings on the different installed packages. You could certainly try to rig something up with firejail, but at the moment all we do is give different applications different group permissions as @adamjstewart said above.

I'm not sure what you want to do with `firejail`, though.  It seems like I would need to patch every installation

[2020-10-27 06:54] scheibelp commented on #19520
You may be able to achieve some approximation of this with a post-install hook (https://spack.readthedocs.io/en/latest/spack.hooks.html#module-spack.hooks): you add a python module to the `hooks` directory which hands you the package after it is installed. You can do anything you like with it then (assuming you can achieve what you want with a one-time action conducted at install time).

[2020-10-27 07:16] Joe23232 commented on #19520
@tgamblin

I see

I just wanted to restrict applications from having certain access.

@scheibelp

sorry, so in regards to the hooks, are they a way that defines how a package runs or something? I took a look at the article I don't quite understand how modules and hooks work.

[2020-10-27 07:33] scheibelp commented on #19520
No: they provide a means for you to execute whatever logic you want on each package after it is installed: you would have to write a script to modify the package in some way (e.g. changing the executables or replacing them with wrapper scripts). You would have to add a `.py` file to the `hooks/` directory in Spack which contains this script or calls it on files in the package installation prefix.

[2020-10-27 07:46] Joe23232 commented on #19520
Right I see now mate.

[2020-10-27 08:10] dev-zero commented on #19534
you may want to take a look at https://git.exherbo.org/sydbox-1.git/ or https://wiki.gentoo.org/wiki/Project:Sandbox

[2020-10-27 08:45] Joe23232 commented on #19534
I mean like if sandboxing was incorporated within `spack` like AppImage and flatpak does.

[2020-10-27 09:47] haampie opened #19539 "Major slowdown when installing binaries from binary cache due to #18482"
Bisected to  #18482 bugfix: fix config merge order for OrderdDicts

My CI script that ran `spack install [spec]` using a binary cache slowed down after #18482 to the point where building from sources is almost equally fast. Previously the CI job ran in 11 minutes (installing ~100 packages), now it's taking > 90 minutes and it is not even finished yet pulling binaries from the binary cache.

Ping @

[2020-10-27 09:57] ixdi commented on #14063
Hi, were you able to fix this error? In this case, how did you solve it?
We are having the same error...
Thanks

[2020-10-27 12:02] RemiLacroix-IDRIS opened #19542 "Installation issue: berkeley-db does not build with NVIDIA HPC compilers 20.7"
Hello,

berkeley-db fails to build with NVIDIA HPC compilers 20.7 on Red Hat 8.1:
[code]

I have seen that @samcmill recently commited a change that addresses an issue with nvhpc and CentOS 7 that could be similar:
https://github.com/spack/spack/blob/bb00b1a7c9eae3d307f0a22dcccae9e33a5885d0/var/spack/repos/builtin/packages/berkeley-db/package.py#L44-L47

I tried to widen the condition so that `--d

[2020-10-27 13:38] ixdi opened #19544 "Installation issue: Ambert Tools 20"
Hi,

We are trying to install AmberTools without success. We have downloaded the AmberTools20.tar.bz2 to the folder where spack is called (~). It gives us the following error.

[code]
The spec is:
[code]

Information of the system
[code]

The three stage folders present are empty
[code]

Maintainer @hseara

There's a similar issue here but it's closed without any solution #14063

- [x] I have run

[2020-10-27 14:00] mdorier opened #19545 "Spack hanging after installing berkeley-db package"
I am installing a bunch of packages with spack, and spack hangs after having built and installed the berkeley-db package. From the spack-build-out.txt log, it seems that berkeley-db was correctly built and installed. The last few lines of the log are `libtool: install: ...` lines and `ps aux` shows no other running commands than two `spack install` commands.

When I kill the hanging spack, and ret

[2020-10-27 14:04] samcmill commented on #19542
@RemiLacroix-IDRIS I can take a look...

[2020-10-27 14:41] andymwood opened #19546 "Installation issue: tcl"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.15.4
* **Python:** 3.6.10
* **Platform:** linux-opensuse_leap15-haswell
[spack-build-env.txt](https://github.com/spack/spack/files/5446022/spack-build-env.txt)
[spack-build-out.txt](https://github.com/spack/spack/files/5446024/spack-build-out.txt)

### Additional information

* [spack-build-out.txt]()
* [spack

[2020-10-27 14:57] adamjstewart commented on #19546
You might have encountered the same issue that @gardner48 reported in #18221, maybe try building Tcl 8.6.10 instead?

I'm able to build Tcl 8.6.10 on macOS without any issues.

[2020-10-27 15:16] andymwood commented on #19546
Thanks for the reply.

I've just tried `git checkout develop; spack install tcl@8.6.10`. It returns the same error.

[2020-10-27 15:41] samcmill commented on #19542
@RemiLacroix-IDRIS Sorry, I'm unable to reproduce the issue with NVHPC 20.7 on a CentOS 8.1 machine.

Is libatomic installed?

What is the content of the localrc file in the same directory as the compiler binaries?  Mine looks like
[code]

[2020-10-27 15:51] ajayrawat-ai commented on #19407
@jppelteret Thankyou for your response.

After working my way around the installation instructions for deal.ii from its website, I figured out that there is a bundled version of boost which comes with the source distribution. I was able to install the deal.ii outside spack.

Is there any specific reason why this option is turned off in spack installation instructions?

[code]

[2020-10-27 16:17] haampie commented on #19539
Restarting the CI job to make sure all binaries were in fact cached in the mirror already:

CI job went from 11 minutes to 67 minutes (after #18482) installing roughly 100 small packages inside a docker image

This is too slow to make sense... The blocker seems really to be Python running on 100% cpu. The total download size is < 500MB.

[2020-10-27 17:06] rblake-llnl opened #19550 "Symbolic links in binarycache bundles need to be relocated."
### Steps to reproduce the issue

[code]

### Error Message

I untarred the .spack file, then ran `tar tzvf *.tar.gz`.  I see this:
[code]

These symbolic links point to my personal spack install directory.  They need to be relocated just like the rest of the paths.

### Information on your system

* **Spack:** 0.15.4-1651-978d8ad
* **Python:** 3.7.2
* **Platform:** linux-rhel7-haswell

### Additi

[2020-10-27 17:14] rblake-llnl commented on #15574
I have a script from @haampie that does what I need within an environment:

[code]

[2020-10-27 17:18] adityakavalur opened #19551 "Installation issue: Axom and Conduit on Cray"
Facing issues building Axom on Cori (Cray XC40). MPI issues for building Conduit (dependency) as well as Axom. I have created one issue, since I see the same error for both packages.

Error message for Conduit:
`-- Could NOT find MPI_C (missing: MPI_C_LIB_NAMES) (found version "3.1")` similarly for CXX and Fortan. Build log attached.
[conduit-spack-build-out.txt](https://github.com/spack/spack/fil

[2020-10-27 17:21] adityakavalur commented on #19551
@becker33 @white238 @adamjstewart @cyrush : Tagging people who have a defined scope in the pull requests #19513 and #19514

[2020-10-27 17:21] tgamblin opened #19552 "Make archspec an external"
`archspec` currently lives where it started, in `llnl.util.cpu`.  Now that it's an external package, vendor it like the others in `lib/spack/external`.

[2020-10-27 17:22] tgamblin opened #19553 "apple-clang support in archspec"
We currently don't have proper uarch definitions for `apple-clang` -- they need to be added to `archspec`.

[2020-10-27 17:24] adamjstewart commented on #19407
We generally try to avoid vendored dependencies in Spack. There are many packages that depend on both `dealii` and `boost`, and you don't want two different versions of `boost` in the DAG. Also, if we build a vendored copy of `boost` and another package depends on `boost`, we end up building `boost` twice, so double the build times. Also, vendored copies are less likely to get patches to fix build

[2020-10-27 18:20] scheibelp commented on #19520
OK, I think then that the original issue posted is resolved. Feel free to reopen if you disagree!

[2020-10-27 18:20] #19520 closed, assigned to nobody

[2020-10-27 18:23] scheibelp commented on #19534
The first part of this seems to overlap with https://github.com/spack/spack/issues/19520

Spack has a notion of externals (https://spack.readthedocs.io/en/latest/build_settings.html#external-packages) - would that be what you are looking for?

Note that Spack doesn't execute binaries of installed packages itself, although we discussed in #19520 how to use hooks to modify packages at install time -

[2020-10-27 20:23] alalazo commented on #19539
@haampie I think the cause of the slowdown is the `deepcopy` see https://github.com/spack/spack/pull/18482#discussion_r512763660 Still need to check how to improve the situation.

[2020-10-27 23:23] rblake-llnl opened #19561 "Specify trusted GPG keys in environment and/or configuration."
I'd like a way to specify which GPG keys to trust in my spack environment.

### Rationale

If I currently want to use a buildcache, I need to tell spack which GPG keys it should trust.  This is a necessary step before anyone can use an environment configured for use with a build cache.  Instead, I'd like to specify trusted GPG keys directly in the environment file and save users some typing.

Some

[2020-10-28 00:45] Joe23232 commented on #19520
Cool, thanks

On Wed, Oct 28, 2020 at 5:20 AM Peter Scheibel <notifications@github.com>
wrote:

[2020-10-28 00:58] Joe23232 commented on #19534
I am not very technical so how difficult would this be to implement this?

[2020-10-28 01:29] adamjstewart commented on #19553
I think 90% of `%apple-clang` users use Clang + GFortran, so this likely won't be useful until we have better mixed compiler support. I can't even build scipy without a Fortran compiler.

[2020-10-28 10:48] alalazo commented on #19553
Here https://github.com/archspec/archspec-json/pull/17 the PR that adds apple-clang support for microarchitectures to the JSON  database.

[2020-10-28 11:42] andymwood opened #19570 "Installation issue: silo"
Installation of silo fails on OpenSUSE Leap 15.1.

### Steps to reproduce the issue

[code]

This looks like the [same error I reported for gcc](https://github.com/spack/spack/issues/17556). The [workaround](https://github.com/spack/spack/issues/17556#issuecomment-660444638) I used for that works in this case too:

[code]

### Information on your system

* **Spack:** 0.15.4
* **Python:** 3.6.10
*

[2020-10-28 12:37] andymwood opened #19573 "Installation issue: font-util"
Spack won't install font-util on OpenSUSE Leap 15.1.

### Steps to reproduce the issue

[code]

### Information on your system

[spack-build-env.txt](https://github.com/spack/spack/files/5451838/spack-build-env.txt)
[spack-build-out.txt](https://github.com/spack/spack/files/5451839/spack-build-out.txt)

* **Spack:** 0.15.4
* **Python:** 3.6.10
* **Platform:** linux-opensuse_leap15-haswell

### Add

[2020-10-28 12:45] andymwood commented on #19546
A similar error is also returned with `spack install glib@2.56.3`:
[code]

I wonder if there's a more serious bug in the function `filter_file`?

[2020-10-28 15:45] adamjstewart commented on #19546
I don't think this is a bug with `filter_file`. My guess is that the missing files in question are being installed to `prefix.lib64` instead of `prefix.lib`. Can you try replacing `lib` with `lib64` and see if that solves the problem? If so we'll have to create a PR to try both or see which directory actually exists.

[2020-10-28 15:58] scottwittenburg opened #19576 "Installation issue: umpire"
In #19411 `camp` was added as a dependency of `umpire`, but the source checksum of `camp` was wrong, so the `umpire` build didn't get a chance to run.  Then #19543 fixed that problem so that `camp` built, but now the `umpire` build fails during the configuration phase with a lot errors like the following:

[code]

### Steps to reproduce the issue

[code]

The above command currently picks up `umpi

[2020-10-28 15:59] scottwittenburg commented on #19576
FYI @eugeneswalker

[2020-10-28 16:54] RemiLacroix-IDRIS commented on #17326
@navdeeprana: Were you able to figure this out? I have the same issue.

[2020-10-28 18:38] robgics opened #19578 ""spack clean --all" is not removing staged resources"
1. Delete everything from inside /tmp/<user>/spack-stage
2. Execute "spack stage <package with resources>"
3. Confirm presence of package and resource directories in staging directory.
4. Execute "spack clean --stage"
5. Verify that package staging directory is removed, but resource directories remain.
6. Execute "spack clean --all"
7. Verify that resource directories still remain in staging direc

[2020-10-28 19:51] corbett5 commented on #19576
@adrienbernede @davidbeckingsale

[2020-10-28 20:01] davidbeckingsale commented on #19576
What version of CMake is this?

[2020-10-28 20:08] scottwittenburg commented on #19576
@davidbeckingsale It's cmake 3.17.3, see the attached spack build output.

[2020-10-28 20:45] chuckatkins opened #19580 "autoreconf fails on all packages since sbang rework"
Ever since #19529 the `autoreconf` step is failing on every package I've tried it on.  It seems as though some quoting is happening that's failing to separate arguments.  The example here is for numactl but I get a similar failure in autoreconf for any package that needs it.

[code]
Reverting #19529 restores correct functionality

[2020-10-28 20:46] chuckatkins commented on #19580
@tgamblin ?

[2020-10-28 21:29] davidbeckingsale commented on #19576
Trying to reproduce right now...

[2020-10-28 21:56] zimaaaaa opened #19584 "Numerous fetching errors: berkeley-db, zlib, m4"
Hello!

Please, watch below build details and errors.

### Steps to reproduce

[code]

### Error message

In the beginning it installed libsigsegv successfully, then:
[code]
After that it also installed pkgconf and then it fails zlib and m4:
[code]
ncurses readline and gbdm are in success, then it makes the summary:
[code]

My OS: Ubuntu 18.04. Thanks for the help in advance and sorry for probable

[2020-10-28 22:08] davidbeckingsale opened #19586 "spack install --overwrite <spec> in environment says spec is not installed when it is"
I ran `spack install --overwrite <spec>`, where `<spec>` was copied from the spack.yaml environment file. The command reports that the spec will be newly installed, even though the hash is shown to be installed by spack find.

Entering "y" to install the package does correctly try and install the spec.

### Steps to reproduce the issue

[code]

### Error Message

No error, but incorrect output:

[

[2020-10-28 22:08] davidbeckingsale commented on #19586
Potentially related to #17060, but in my case Spack does go ahead and try to re-install the package.

[2020-10-28 22:28] davidbeckingsale commented on #19576
@scottwittenburg I have attached a patch to fix this, and we will fix it in Umpire develop. I don't think this problem was introduced by the camp or BLT dependencies, but rather that #19411 added new versions of Umpire. This patch will apply to versions 4.1.0 -> 4.2.2 of Umpire.

[umpire-cmake-check.txt](https://github.com/spack/spack/files/5455132/umpire-cmake-check.txt)

[2020-10-28 23:09] scottwittenburg commented on #19576
Ah, that makes sense, thanks @davidbeckingsale for digging into it and coming up with a patch.  Are you planning to add that patch to spack?

@eugeneswalker Would you rather see umpire commented out or pinned to a previous working version in gitlab E4S pipelines?  Just until either the patch lands in spack or the latest version works without it.

[2020-10-28 23:18] eugeneswalker commented on #19576
let us just pin to earlier version for now! thank you!

[2020-10-28 23:45] davidbeckingsale commented on #19576
See #19590

[2020-10-29 03:20] chuckatkins commented on #19580
Fixed by #19582

[2020-10-29 03:20] #19580 closed, assigned to nobody

[2020-10-29 06:59] navdeeprana commented on #17326
@RemiLacroix-IDRIS No. I also opened an [issue](https://gitlab.kitware.com/paraview/paraview/-/issues/20056) on the paraview repository, but did not get any responses.

[2020-10-29 07:24] RemiLacroix-IDRIS commented on #17326
@navdeeprana : The issue seems to be caused by `~shared` which is mandatory with `+cuda`.

[2020-10-29 13:25] danlipsa commented on #17326
@mathstuf Any ideas?

[2020-10-29 14:51] hyviquel commented on #17869
+1

[2020-10-29 16:03] adamjstewart commented on #19584
Can you run `spack fetch zlib` a few times and see if it eventually succeeds? I'm not sure why so many of your downloads are timing out, they work fine for me. Are you behind a particularly strict firewall?

[2020-10-29 16:39] cjlegg opened #19603 "Installation issue: ucx build error"
### Steps to reproduce the issue

[code]

### Information on your system

spack debug report
* **Spack:** 0.15.4-1702-ad87eec
* **Python:** 2.7.5
* **Platform:** linux-centos7-haswell

### Additional information

compile errors were:
[code]

@hppritcha
[spack-build-out.txt](https://github.com/spack/spack/files/5459922/spack-build-out.txt)
[spack-build-env.txt](https://github.com/spack/spack/files/

[2020-10-29 16:46] alalazo commented on #19539
For the record, I'm trying to understand if:
[code]
is a valid solution to this issue, as it seems it could be from some simple manual tests. For instance on:

* **Spack:** 0.15.4-1674-bb00b1a7c9
* **Python:** 3.8.5
* **Platform:** linux-ubuntu18.04-broadwell

before this patch I have:
[code]
and after the patch:
[code]
It's likely I need to invalidate the cache explicitly on config set, but I won

[2020-10-29 17:10] haampie commented on #19539
Thanks @alalazo, just tested it, seems a lot faster for sure! Downloading / installing took < 4min; in the CI job there is some additional pulling / pushing of images, but I think with this patch things might run faster than before?

[2020-10-29 18:32] #19576 closed, assigned to nobody

[2020-10-29 19:22] jppelteret commented on #19407
Thanks @adamjstewart for the detailed answer to @ajayrawat-ai's question! So, with that in mind, if you've mixed packages from spack (which, I presume, are built against the system boost found in `/usr`) and are also using the bundled boost, then you might just want to make double sure that they do not conflict (e.g. by running the deal.II test suite). Personally, I'd just let spack take care of a

[2020-10-29 20:36] #19508 closed, assigned to nobody

[2020-10-29 21:12] nicholas-sly opened #19607 "Add `--update` option to `spack mirror create` to match latest hashes"
Add an option to `spack mirror create` to enable downloading more recent versions of the source in the event of a hash mismatch.

### Rationale

We maintain a mirror of all packages for our site.  We update this periodically (about hourly).  We hit an issue recently where the `libpng` package changed where the source changed and the hash for each version changed with it.  When a user tried to inst

[2020-10-29 22:33] DraTeots opened #19608 "Installation issue: dire"
### Steps to reproduce the issue

[code]

### Information on your system
[code]

### Additional information
[spack-build-env.txt](https://github.com/spack/spack/files/5461620/spack-build-env.txt)
[spack-build-out.txt](https://github.com/spack/spack/files/5461622/spack-build-out.txt)

### General information

- [x] I have run `spack debug report` and reported the version of Spack/Python/Platform
-

[2020-10-29 23:32] kuberry opened #19611 "Argument '-k' ignored for not checking SSL certificate"
Ran spack with -k option so as to not check SSL certificates. First line of output indicates that I asked for --insecure and will not check SSL certificates. Spack proceeds to fail install hdf5 because of a certificate verification problem.

### Error Message
[code]

[2020-10-30 01:42] robertu94 opened #19614 "spack hangs on the installation of boost"
Previously I could install boost in a few minutes, now it has taken well over a half an hour and is still running

### Steps to reproduce the issue

[code]

### Error Message

There is no error that gets reported, but a gdb `py-bt` reports the following as the place that it is hanging:

[code]

Here is what `spack --debug --stacktrace install boost prints`

[code]

I think this is related to #1954

[2020-10-30 06:00] ax3l commented on #19416
Found it: https://ipython.readthedocs.io/en/stable/install/kernel_install.html#kernels-for-python-2-and-3

PR in #19617

[2020-10-30 09:53] zimaaaaa commented on #19584
Firstly I tried to run `spack fetch zlib` a few times, but nothing changes at all. Then I checked my router settings and there was no any firewall setups but I tried to change my internet source from one ISP (for wired connection) to another (for wireless mobile connection) and after that all fetchings were successfull. So I think this issue was actually in internet-provider's firewall. Thank you

[2020-10-30 12:11] mathstuf commented on #17326
This is actually caused by enabling kits. My guess is that `PythonCatalyst` can be kicked out of the `Client` kit. Or `vtkPVCatalystPython` could be added? I don't think this should care about shared or static, so it's odd that it only shows up with `-shared`.

[2020-10-30 12:14] RemiLacroix-IDRIS commented on #17326
Actually it happens only when using static (`~shared` is Spack notation to disable a variant named `shared`, ie "no-shared" thus "static").

[2020-10-30 12:31] dev-zero opened #19625 "Installation issue: llvm (lldb) with external ncurses on openSUSE (missing <panel.h>)"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.15.4-1660-f921bcbe0
* **Python:** 3.6.10
* **Platform:** linux-opensuse_leap15-sandybridge

[code]

### Additional information

@naromero77
@trws

### General information

The following patch for LLVM fixes the issue: https://reviews.llvm.org/D85219

[2020-10-30 13:45] samfux84 commented on #17877
Same problem here. Building m4@1.4.18 with Intel 19.1.0 results in the same error as reported above. I just went with m4@1.4.17 as described above, but now when trying to build any versions of wget I get the same error again.

[2020-10-30 15:56] #19584 closed, assigned to nobody

[2020-10-30 16:35] eugeneswalker opened #19629 "autoconf build partially non-functional when install_tree is padded (sbang ??)"
Using `spack@develop` checked out at:
* `52959528a2cb7e7e9b213efd1243a078502ac708`
* `Thu Oct 29 21:29:39 2020 +0100`

This checkout *includes* commit `sbang: vendor sbang`

`Automake` build fails due to non-functional `autoconf` when `install_tree: $padding:128`

[code]

From `config.log` (full log attached below):

[code]

Looks like autoconf test line is being truncated due to padding?

Config

[2020-10-30 16:47] adamjstewart commented on #19629
Duplicate of #19580, fixed by #19582

[2020-10-30 16:53] scottwittenburg commented on #19629
If this is a duplicate of #19580 (it's not clear to me that it is, but who knows), I'm still getting this error even with #19582, so that may not have resolved the issue completely.

[2020-10-30 17:46] eugeneswalker commented on #19629
#19582 does not resolve this, yes.

[2020-10-30 19:50] #17869 closed, assigned to nobody

[2020-10-30 20:02] #13481 closed

[2020-10-30 20:02] #19552 closed, assigned to alalazo

[2020-10-30 20:02] #19553 closed, assigned to alalazo

[2020-10-30 20:10] #19539 closed, assigned to nobody

[2020-10-30 20:17] #15183 closed

[2020-10-30 23:45] robertu94 commented on #19614
@scheibelp I just checked this after the update to #19605 and the problem has been resolved.

[2020-10-30 23:45] #19614 closed, assigned to scheibelp

[2020-10-31 00:06] scheibelp commented on #19614
Thanks for the detailed bug report and for keeping track of it!

[2020-10-31 21:48] payerle opened #19644 "Installation issue: mumps+shared (dependency issues in generated libraries)"
### Steps to reproduce the issue

[code]

The installation "succeeds", but I find that there are issues with the resulting libraries.
E.g., libcmumps.so has undefined smybols (e.g.  mumps_size_c_) which are defined in libmumps_commons.so, but an ldd of libcmumps.so does not show a dependency on libmumps_common.so, e.g.
[code]

This occurs for all of the lib[cdsz]mumps.so libraries.   The situation

[2020-11-01 01:40] mohan002 opened #19647 "Failure while building NAMD after PR #19452 ."
Failure while building NAMD after PR #19452 .
[code]
If above patch is specific to nvhpc, please use "if-condition" to mention the same. I hope this is not generic patch.

build command: `spack install -v namd@2.12 interface=tcl ^charmpp backend=mpi build-target=charm++ ^openmpi@4.0.3`
output:

_Originally posted by @mohan002 in https://github.com/spack/spack/pull/19452#issuecomment-720013402_

[2020-11-01 02:21] adamjstewart commented on #19647
It looks like the only problem is that the patch doesn't apply cleanly to version 2.12. For now, can you make the following change:
[code]
@samcmill can you take a look at this and see if it's the right thing to do? Otherwise we may need a different patch for 2.12.

[2020-11-01 02:29] adamjstewart commented on #11501
From the `package.py`:
[code]
So it's not possible to build with Clang, you should use another compiler like GCC.

[2020-11-01 02:29] #11501 closed

[2020-11-01 02:32] adamjstewart commented on #8401
Unfortunately this bug has gotten even worse:
[code]
This is now (5) from https://github.com/spack/spack/wiki/Issue-Disambiguation

[2020-11-01 03:04] adamjstewart opened #19649 "NoSuchPatchError for graphviz, unable to build anything"
It seems like my Spack database got corrupted somehow? Anytime I try to build any package, I see:
[code]
even for packages that don't depend on `graphviz`. I tried both `spack clean -m` and `spack clean -p` and neither fixed it. `spack reindex` crashes with the same error.

### Steps to reproduce the issue

[code]

### Error Message

[code]

### Information on your system

* **Spack:** 0.15.4-1753

[2020-11-01 04:48] eugeneswalker opened #19650 "netlib-scalapack: reversed (or previously applied) patch detected"
Using `spack@develop` (77fc458d2964490c83863d667df10b9a740ce05e from `Sun Nov 1 01:05:13 2020 +0100`)

Can't install `netlib-scalapack` ([netlib-scalapack.spec.yaml.txt](https://github.com/spack/spack/files/5470201/netlib-scalapack.spec.yaml.txt)) on:
* `Ubuntu 18.04`
* `ppc64le`

[code]

Behavior is exactly the same on first fetch:
[code]

Offending commit looks to be:
https://github.com/spack/sp

[2020-11-01 05:03] ikitayama opened #19651 "Installation issue: llvm+cuda_omp_debug cuda_arch=60"
### Steps to reproduce the issue

[code]

### Information on your system
packages:
  cuda:
    externals:
    - spec: cuda@11.0.221
      prefix: /home/app/cuda/11.0

### Additional information
### General information

[2020-11-01 05:03] ikitayama opened #19652 "Installation issue: llvm"
### Steps to reproduce the issue

[code]

### Information on your system

### Additional information

* [spack-build-out.txt]()
* [spack-build-env.txt]()

### General information

- [x] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [ ] I have run `spack maintainers <name-of-the-package>` and @mentioned any maintainers
- [ ] I have uploaded the build log and en

[2020-11-01 05:04] ikitayama commented on #19652
[code]

and I executed on X86:

`$ spack install llvm+cuda+omp_debug cuda_arch=60`

[2020-11-01 05:05] ikitayama commented on #19652
[code]

[2020-11-01 06:16] hainest commented on #14715
Using the current HEAD of develop (77fc458d29) and `spack clean`, this is no longer an issue. Closing.

[2020-11-01 06:16] #14715 closed

[2020-11-01 07:25] mwkrentel opened #19653 "new arch target=graviton breaks everything on ARM/aarch64"
This is on ARM64/aarch64, fedora 26, gcc 7.3.1.

The new target=graviton for ARM64 breaks pretty much EVERYTHING, at
least for gcc.  This seems to affect only ARM, not powerpc or x86_64.

[code]

The output of `spack -d` reveals the true problem.  target=graviton
causes -march to be set incorrectly.

[code]

Maybe the mistake is simply the typo with two equal signs (=).

Anyway, with target=aarch6

[2020-11-01 09:04] alalazo commented on #19653
Can you post:
1. What was your detected arch type before that commit
2. A sample of `/proc/cpuinfo` on your machine
3. Eventually the model of your chip

? The issue is very likely that we don't model the microarchitecture of your chip and our detection at the moment gives a false positive for `graviton`.

For your convenience, and in case you're not doing it already, you can work around this prob

[2020-11-01 09:16] mwkrentel commented on #19653
Yes, I did know that target=aarch64 is a satisfactory workaround for
now, but thanks.

You did see that the bad march type from the spack gcc wrapper is
`-march==armv8-a+crc+crypto` with two equal signs, right?  For all I
know, maybe `armv8-a+crc+crypto` is correct and the only problem is
that some corner case adds an extra `=`.

Before the commit, spack arch reports ARM targets:

[code]

After th

[2020-11-01 15:12] #1184 closed

[2020-11-01 15:47] alalazo commented on #2130
(Time passes and 4 years later...) Reading through this issue to check what we can close with #19501 I think this was a misunderstanding of what the concretizer should do. In the cases above the original concretizer just refuses to bring 2 MPI providers into the same DAG, which is by design.

The only other issue I see is mentioned in https://github.com/spack/spack/issues/2130#issuecomment-2561834

[2020-11-01 15:47] #2130 closed

[2020-11-01 15:58] alalazo commented on #2302
Closing, since this seems to work as designed. Most preferences in `packages.yaml` are soft, in the sense that they are respected if possible but will not generate an error otherwise. If this issue was asking for having installed specs considered in the concretization process, the same feature is tracked also in multiple other places (a solution will be implemented after #19501 is merged)

[2020-11-01 15:58] #2302 closed

[2020-11-01 16:23] alalazo commented on #2498
Interesting request also in view of #19501

[2020-11-01 17:31] alalazo commented on #3372
The issues mentioned in https://github.com/spack/spack/issues/3372#issuecomment-284499991 have been closed since. There's a unit test `test_preferred_compilers` that should take care of regressions. Feel free to reopen if something is still to be fixed.

[2020-11-01 17:31] #3372 closed

[2020-11-01 20:09] samcmill commented on #19647
@adamjstewart I concur with your proposed change.  Do you want to commit it, or would you prefer me to submit a PR?

[2020-11-01 20:10] adamjstewart commented on #19647
I'll let you submit, ping me and I'll merge.

[2020-11-01 20:46] alalazo commented on #19653
-march==armv8-a+crc+crypto with two equal signs, right? For all I
know, maybe armv8-a+crc+crypto is correct and the only problem is
that some corner case adds an extra =

No, thanks for pointing this out explicitly - this is surely a typo that made its way into the codebase.

That's more than enough at the moment, thanks. I'll need to check how that sample of `/proc/cpuinfo` differs from `graviton

[2020-11-01 21:16] alalazo commented on #5753
Duplicate of #1781

[2020-11-01 21:19] alalazo commented on #5753
The issue is the same as it was for #1781. A node in the DAG has an unconditional dependency on `slepc` and the latest version of `slepc` is selected by the original concretizer. Later in the iterative process we meet a constraint on that version and fail since the original concretizer doesn't backtrack.

**TL;DR** Will be solved by #19501 if using the ASP based concretizer.

[2020-11-01 21:19] #5753 closed

[2020-11-01 21:22] alalazo commented on #6231
Duplicate of #1781

[2020-11-01 21:22] #6231 closed

[2020-11-01 21:25] alalazo commented on #5465
Duplicate of #1781

[2020-11-01 21:27] alalazo commented on #5465
For what is worth, the original concretizer gives me a failure while using #19501 I get this:

<details>
<summary>shiny-server</summary>

[code]

</details

I'm using:

* **Spack:** 0.15.4-1855-0fcdeccda7
* **Python:** 3.8.5
* **Platform:** linux-ubuntu18.04-broadwell

[2020-11-01 21:27] #5465 closed

[2020-11-01 21:34] alalazo commented on #6420
Do we still want to change the behavior in this way? To be clear, this won't be in #19501 but I was wondering if it should be in a later PR.

[2020-11-01 21:40] alalazo commented on #7211
Duplicate of #1781

[2020-11-01 21:40] #7211 closed

[2020-11-01 21:41] alalazo commented on #6524
Closing. This currently errors out with the original concretizer and is resolved correctly by #19501

[2020-11-01 21:41] #6524 closed

[2020-11-01 21:45] adamjstewart commented on #6420
I think we've discussed this before, but my ideal vision of concretization is that variants and other things are ignored unless explicitly enabled or disabled. What I mean by this is that an external package with no `+bar` variant specified, or a package installed before a `+bar` variant was added, satisfies `depends_on('foo')` but not `depends_on('foo+bar')` or `depends_on('foo~bar')`. Right now,

[2020-11-01 21:45] alalazo commented on #7288
Duplicate of #1781

[2020-11-01 21:45] alalazo commented on #7288
Different manifestation of the same bug, non-conditional specs are resolved with their default values for variants, etc. If a spec is both unconditional AND conditional the original concretizer may fail

[2020-11-01 21:45] #7288 closed

[2020-11-01 21:50] adamjstewart opened #19661 "Installation issue: meson packages can't strip on macOS"
So far, I've noticed that this bug affects the following packages:

* at-spi2-atk
* at-spi2-core
* atk
* gdk-pixbuf

It likely affects all meson packages on macOS.

### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.15.4-1763-3576953558
* **Python:** 3.8.6
* **Platform:** darwin-catalina-ivybridge

### Additional information

@michaelkuhn have you ever seen an

[2020-11-01 21:53] adamjstewart commented on #19661
This suggests that different args for `strip` are needed on macOS: https://github.com/pybind/pybind11/issues/595

Not sure if this is a bug to report to meson, or ninja, or the other packages that use them.

[2020-11-01 21:54] alalazo commented on #7339
I can't reproduce this anymore. Anyhow using #19501 I get conflicts with the original concretizer:

<details>
<summary> Original concretizer </summary>

[code]
</details>

while I can resolve it with the ASP-based one:

<details>
<summary>ASP-based concretizer</summary>

[code]

</details>

[2020-11-01 21:57] alalazo commented on #7533
Duplicate of #1781

[2020-11-01 21:58] alalazo commented on #7533
The issue here is the fact that with the original concretizer unconditional dependencies are evaluated first. If a later conditional dependency constrain them further the concretizer fails since it doesn't backtrack. Solved by #19501

[2020-11-01 21:58] #7533 closed

[2020-11-01 22:00] adamjstewart commented on #19661
This suggests that it may actually be intentional (I think I understand why we were patching meson now): https://github.com/mesonbuild/meson/issues/6541

Do we need to be patching in another place too?

[2020-11-01 22:05] alalazo commented on #8133
Duplicate of #1781

[2020-11-01 22:05] #8133 closed

[2020-11-01 22:10] alalazo commented on #8359
Duplicate of #5465

[2020-11-01 22:10] alalazo commented on #8359
See https://github.com/spack/spack/issues/5465#issuecomment-720154305

[2020-11-01 22:10] #8359 closed

[2020-11-01 22:10] adamjstewart commented on #19661
I tried removing our meson patches for 0.55.0 and 0.56.0 but I still see the same error.

[2020-11-01 22:20] adamjstewart commented on #19661
Same bug occurs with meson 0.54.3, so it's not like 0.55 completely broke RPATH stripping.

[2020-11-01 22:24] adamjstewart commented on #19650
Ah, the bug is that the patches get applied twice. That's an easy fix.

[2020-11-01 22:31] adamjstewart commented on #19649
For anyone else who encounters this, the current workaround is to `rm -rf` the installation directory of the offending package (in my case, graphviz) and run `spack reindex`.

@aweits reported that this is likely due to https://github.com/spack/spack/pull/19209. @scottwittenburg?

[2020-11-01 22:57] haampie opened #19665 "Packages in binary cache do not have full_hash even after re-upload."
Ping @scottwittenburg. After #19209 my CI script constantly uploads all binaries, even if they were downloaded from the same binary cache. My CI scripts ends with:

[code]

and currently it always uploads everything, saying

[code]

I've reran the CI job a couple times, and it will always download binaries from cache, build nothing from sources, and subsequently push everything redundantly to the

[2020-11-01 23:15] #19650 closed, assigned to nobody

[2020-11-02 02:46] joequant opened #19666 "Installation issue: llvm"
### Steps to reproduce the issue

[code]

### Information on your system

[user@fba5953347c7 /]$ spack debug report
* **Spack:** 0.15.4
* **Python:** 3.8.5
* **Platform:** linux-mageia8-skylake

  python:
    version: [3.7.8, 3.8.6]

### Additional information

1 error found in build log:
     263            Interpreter: Cannot run the interpreter "/usr/bin/python3.8
            "
     264
     26