[2019-05-31 19:55] mwkrentel opened #11601 "build error in gnutls and cmake"
I suspect the spack recipe for gnutls does not configure the guile
dependency correctly.  For me, a plain `spack install gnutls` from
today's checkout (88473a8da) fails in the config test for guile
(+guile is the default).

[code]

The spack recipe for gnutls already has:
[code]

The error message suggests that gnutls configure needs some additional
args to find the spack-built guile over /usr/bin

[2019-06-03 04:05] mwkrentel commented on #11601
This is more complicated than what I first thought.  Gnutls has config
vars `GUILE_CFLAGS` and `GUILE_LIBS` and I thought that would be
enough, but it appears not.

Gnutls config finds the spack-built pkg-config, finds the spack-built
guile 2.2.0, but then it looks for a versioned guile binary:
`guile-2.2`, `guile-2`, `guile2`, etc (see the above transcript).  The
spack-built guile doesn't provide

[2019-06-03 14:58] chuckatkins commented on #11537
@baberlevi #11595 just restored the older autotools build while keeping the package restructuring.  Cam you check that it resolves the issue for you please?

[2019-06-03 14:58] chuckatkins commented on #11398
@DarylGrunau #11595 just restored the older autotools build while keeping the package restructuring.  Can you check that it resolves the issue for you please?

[2019-06-03 16:16] #11588 closed

[2019-06-03 18:55] mwkrentel commented on #11601
I believe this is fixed in #11607.
So, @mathsen and @adamjstewart are off the hook.  :-)

[2019-06-04 06:50] ziya5635 opened #11613 "joson-c"
Hi there, I have been trying to install json-c package, which is a dependency of a software name zonation. while building, I face the following error. It is worth saying that I am using built-in package recipe of Spack to install this. I am using the docker container provided by Spack itself for learning, so the OS is Ubuntu 16.

==> Executing phase: 'autoreconf'
==> Executing phase: 'configure'
=

[2019-06-04 14:41] KineticTheory opened #11615 "Installation issue: metis - alternate download location needed"
### Steps to reproduce the issue

* The metis web site is unavailable (http://glaros.dtc.umn.edu/gkhome/metis/metis/overview), including downloads.
* Does anyone know of an alternate download location?  How do I add this to `metis/package.yaml`?

[code]

[2019-06-04 15:11] mpbelhorn commented on #10063
I've been working on implementing a workflow using build caches to accelerate software installation at the OLCF (ORNL) and ran into this bug as well.

I came here to comment that the fix I implemented in our fork of spack is essentially identical to the one implemented in 20804f7d0ca4b140b570e58413765566dcbb6366:

[code]

This seems to be a good solution in my tests so far. If that changes, I'll u

[2019-06-04 16:53] mamelara opened #11617 "Installation Issue: Namd"
Installing Namd throws error "Cannot find BLACS library for given MPI" when trying to use variant `fftw=mkl`. The issue stems from the fact that one of the Namd's dependencies, Charmpp, is a provider of MPI. The `scalapack_libs` property method for Intel doesn't seem to handle the case for this.

### Steps to reproduce the issue

[code]

### Platform and user environment

Please report your OS her

[2019-06-04 16:57] mamelara commented on #9485
I've been having a similar issue when trying to install it with Namd. It was using the name of the cray compiler wrapper `cc` which charmpp does not recognize. What I did as a workaround was create a mapping for what spack has a compiler name with the vendor name that charmpp recognizes. I'll have to handle cases like this as well

[2019-06-04 17:32] mpbelhorn opened #11620 "Un-relocatable package in DAG prevents binary cache creation for other packages in DAG"
In the OLCF's software management workflow, we would like to generate binary caches for packages built in a staging/testing/preview environment that can be used to rapidly deploy packages in another "production" environment.

In our fork of spack (from [v0.12.1](https://github.com/spack/spack/commit/efa381c256b2267770c9bc3e4e2c6b691beb8042)), spack generates build caches for each package in the DA

[2019-06-04 20:56] ziya5635 commented on #11613
Hi, thank you for your response. I run "spack install JSON-C" like exactly you did. I just ran it again and you may see the short results below. Regarding your wonder about what software I am originally trying to install, it is called "zonation" that requires GDAL as dependency. This json-c apparently is a submodule of GDAL, so whenever GDAL is trying to be built, I face the same error that I post

[2019-06-04 21:05] vsoch commented on #11613
What does the build log say? Are you missing a library?

[2019-06-04 21:16] ziya5635 commented on #11613
I have posted all build log in my first post, it seems some header file is
missing!

On Wed, 5 Jun 2019 at 0.06, Vanessasaurus <notifications@github.com> wrote:

[2019-06-04 21:21] vsoch commented on #11613
Sorry there is so much text - could you cleanly put the output of `/home/spack/spack/var/spack/stage/json-c-0.13.1-usaodo5ctz4b4qc4ym3kgijwyo2kjpxt/json-c-0.13.1/spack-build.out` ?

[2019-06-04 21:26] ziya5635 commented on #11613
Sure, sorry about that, I was thinking maybe it would be better for the
others to know what happened during config phase. I will put it in the
morning, I just turned off my laptop, local time is midnight to be honest.
Thank you again for your help.

Kind Regards
Ziya

On Wed, 5 Jun 2019 at 0.21, Vanessasaurus <notifications@github.com> wrote:

[2019-06-04 21:33] vsoch commented on #11613
No worries, if you think others can better help, fine by me.

[2019-06-04 21:37] ziya5635 commented on #11613
Sorry, I didn’t mean that, I meant maybe it was important for someone to
know what happened during the config also. I let you know about the exact
error in the morning.

Regards
Ziya

On Wed, 5 Jun 2019 at 0.33, Vanessasaurus <notifications@github.com> wrote:

[2019-06-05 02:15] goxberry opened #11628 "packages.yaml: ninja and ninja-fortran are now virtual packages"
### Description

On my macOS machines, I maintain a `packages.yaml` file I use to expose Homebrew- or system-installed software to Spack. As part of that file, I have an entry for `ninja`, but it appears that `ninja` has been made a virtual package as of merging PR #11347 (commit `251f3f5058beb60f65d420a03f1ee77998ddbc87`), and `ninja` provides, in some cases, `ninja-fortran` and vice versa. The n

[2019-06-05 03:48] adamjstewart commented on #11628
@chuckatkins

Aside from the obvious fix in #11629, I think we should either:

1. Add unit tests to ensure that virtual providers and package names don't intersect, or
2. Allow them to intersect and all virtual packages to be used as a package entry in `packages.yaml`

I'm leaning towards 1 unless we have a compelling reason to allow this.

[2019-06-05 05:49] ziya5635 commented on #11613
Hi, this is the main part of the error while building the software:

==> Executing phase: 'build'
==> 'make'
(CDPATH="${ZSH_VERSION+.}:" && cd /home/spack/spack/var/spack/stage/json-c-0.13.1-usaodo5ctz4b4qc4ym3kgijwyo2kjpxt/json-c-0.13.1 && /bin/bash /home/spack/spack/var/spack/stage/json-c-0.13.1-usaodo5ctz4b4qc4ym3kgijwyo2kjpxt/json-c-0.13.1/missing autoheader)
Can't locate strict.pm in @INC (yo

[2019-06-05 06:07] ziya5635 commented on #11613
Hi, I found the error. the problem was raised by Perl package, as can be seen from the error itself. what I did was installe the newer version of Perl, 5.28.0, and problem solved! it seems that there was some problems with perl version 5.26.2.

[2019-06-05 06:07] #11613 closed

[2019-06-05 08:06] vsoch commented on #11613
Boum! I was just about to suggest this, great job!

[2019-06-05 08:15] vsoch commented on #11613
One more question for you before I go away :) Is this something that we could put a depends_on somewhere in here to address, for the version of perl? https://github.com/spack/spack/blob/develop/var/spack/repos/builtin/packages/json-c/package.py

[2019-06-05 08:28] ziya5635 commented on #11613
Thank you a lot for your kind help. It seems that there is an issue with Perl 2.26.2, which is the default version of Perl used by Spack. Since the morning I have been facing the same error, as installing other softwares that require Perl (like libx11). So, what I did was just manually define the latest version of Perl as dependency and problem solved!  I did this: spack install <name of package>

[2019-06-05 11:37] chuckatkins commented on #11628
@adamjstewart, I believe this is a core spack bug.   Neither `ninja` or `ninja-fortran` are virtual packages.  They're both concrete packages that can provide each other.

Unless `provides` only works with virtual packages?

[2019-06-05 13:44] adamjstewart commented on #11628
`provides` only works with virtual packages.

[2019-06-05 14:46] chuckatkins commented on #11628
Well, it seems I may have had a fundamental misunderstanding of provides and virtual packages.  My understanding was that a virtual package was "pure" in the sense that no concrete package exists with that name, which seems to be the expectation, and that at least one "concrete" package has to provide it
 Also though that `provides` could work with a concrete package.

 Perhaps some clarity on `pr

[2019-06-05 16:08] gartung commented on #11597
@chissg

[2019-06-05 16:10] #11597 closed

[2019-06-05 16:11] gartung commented on #11597
For the use of the spac dev command the spack install will have to reside on cvmfs so this is probably a moot point for FNAL.

[2019-06-05 17:14] #11601 closed

[2019-06-05 18:06] prckent opened #11636 "Spack install no-checksum not working correctly with spack environments"
I am having trouble using the --no-checksum setting with install and spack environments.
Use case involves setting up multiple compilers and libraries using the spack environments capability to simplify development and testing of another program and avoid the maintenance headache of a brittle version specific script. The --no-checksum setting does not appear to work with e.g. libxml2 on the instal

[2019-06-05 23:42] jhux2 opened #11641 "Spack finds wrong arch on Cori at NERSC"
I am attempting to use spack VOTD (SHA f4e77867) to install various TPLs required by the low Mach CFD code Nalu-Wind on the Cori supercomputer @ NERSC.

### Steps to reproduce the issue
[code]
### Error Message
[code]

If I checkout out a release version of spack, the command works as expected:
[code]
### Information on your system

Cray XC40 (Cori @ NERSC)
default modules loaded:
[code]

@sayerhs

[2019-06-06 14:11] zzotta opened #11644 "Installation issue: libmongoc"
### Steps to reproduce the issue

[code]

### Platform and user environment

[code]

### Additional information

build.out shows the package is building and installing its internal libbson even it required it to spack as a dependency.

libbson provided by spack is @1.9.1
libbson provided by libmongoc@1.9.5 is @1.9.5

They get installed together breaking the DAG, creating conflicts in views, ...

[2019-06-06 15:36] chuckatkins commented on #11398
Ping?  Is this resolved in the current `develop` for you now that mesa has been rolled back to autotools?

[2019-06-06 16:45] odoublewen opened #11645 "Installation issue: lua-luafilesystem"
I have a nightly CI build that now dies while trying to do a `spack install lua-luafilesystem`.  This occurred upon the the merge of #11528

In other words, I am seeing that `lua-luafilesystem` will not install using commit eb584d8 but will install from 8e3fd3f.

This is on CentOS 7 , gcc 8.2.0

### Steps to reproduce the issue

[code]

### Platform and user environment

[code]

[2019-06-06 17:41] tldahlgren commented on #11645
Thanks for finding this issue @odoublewen.  I am able to reproduce the problem and will investigate.

[2019-06-06 18:43] tldahlgren commented on #11645
Please checkout b76fc82, which seems to work fine for me.  We squashed a lot of commits into 4 so it looks like something slipped by.

[2019-06-06 18:47] tgamblin commented on #11645
@tldahlgren: that's included in current `develop` -- I get the error on `b76fc827e` too.

[2019-06-06 18:51] tgamblin commented on #11645
well, I get *an* error.  I do not get the specific error above.  I get this:

[code]

[2019-06-06 20:34] tldahlgren commented on #11645
@tgamblin I spoke too soon.  I should've said it _seemed_ to work fine for me as it was making progress as I was heading out.  I also got that ProcessError.

[2019-06-06 20:57] hartzell commented on #11613
@ziya5635

I'm trying to run down the details of the problem here.  Can you give me the exact command that you were using to run this (`docker run ...`, or whatever)?   **THANKS**

[2019-06-06 21:00] ziya5635 commented on #11613
Hi, you mean how to run the container?

On Thu, 6 Jun 2019 at 23.57, George Hartzell <notifications@github.com>
wrote:

[2019-06-06 21:03] vsoch commented on #11613
@ziya5635 let's say that you are sitting at your workstation, it has Docker, and you are ready to reproduce the error you generated. What do you type in your terminal? We want to be able to reproduce your error exactly as you did.

[2019-06-06 21:07] #11645 closed

[2019-06-06 21:11] hartzell commented on #11613
Yes, @vsoch explained what I'm looking for.  I need to recreate the bug so that I can explain it.

[2019-06-06 21:15] ziya5635 commented on #11613
Have you downloaded the image? If so, just run ‘ docker run -it imageName
bash’

Just replace the name of the image in the middle of the command and you
should get a interactive bash shell after all layer are installed, which
might take a minute depending on your computer power.

On Fri, 7 Jun 2019 at 0.03, Vanessasaurus <notifications@github.com> wrote:

[2019-06-06 21:33] vsoch commented on #11613
@ziya5635, could you please provide the image name? There are different builds and tags, and we need the command *exactly as you ran it*.

And after you shelled inside, your command was just:

[code]
?

We need this level of detail so we can produce your error, exactly.

[2019-06-06 21:38] ziya5635 commented on #11613
I understand why you are trying to simulate the same thing. To be detailed,
May I respond to this tomorrow in the morning? Now local time is about 1 am
and I am far from my laptop. I have to check these myself on my laptop.

On Fri, 7 Jun 2019 at 0.33, Vanessasaurus <notifications@github.com> wrote:

[2019-06-06 21:46] hartzell commented on #11613
@ziya5635 --  Sure, I'm not in a particular hurry.  I'm in the California time zone and will check back tomorrow AM.  Thanks for the followup!

---

You said this:

when you filed this issue.  I'd rather not spend the time trying to figure out what set of instructions you were following and what you did to get set up.

Can you tell me what container you ran?  Did it already include Spack or did yo

[2019-06-07 05:51] ziya5635 commented on #11613
Hi, My original mission is to install a software called Zonation, which can be found here https://github.com/cbig/zonation-core. This software depends on GDAL and GDAL's one of dependencies is Json-c, so when Json-c was trying to be installed, I faced that error that was raised by Perl! I hope now you have the clue.

[2019-06-07 05:58] ziya5635 commented on #11613
Regarding your wonder about how to initiate the container that I have been using on Docker environment, you may run "docker run -it spack/tutorial". This automatically downloads the needed layers from the registry and fire up Spack on Ubuntu 16.

[2019-06-07 06:05] ziya5635 commented on #11613
Regarding your last wonder, I try spack install zonation-core. but you can run this since neither you nor spack has the recipe. I have been trying to make a recipe for this Zonation software. Now all dependencies have been mentioned and handled in my recipe, however, at the last step once Zonation is going to be built, I face an error that raised by GDAL. My first guess is there is a conflict betw

[2019-06-07 06:19] vsoch commented on #11613
okay I'm just going to take a shot in the dark at what @ziya5635 is doing here. The container doesn't have spack installed, but I assume he followed the tutorial [here](https://spack.readthedocs.io/en/latest/tutorial_basics.html#basics-tutorial) and did something like this:

<details>
[code]
Tutorial starts here
[code]
</details>

There is no error.

@ziya5635 I took initiative to help you, but un

[2019-06-07 06:20] ziya5635 commented on #11613
Dear Hartzel, if you check out my first and second post that I made 2 days ago, you easily can figure out what was my original mission, and what I ran, which ended up that error! I clearly explained it there.

[2019-06-07 06:21] vsoch commented on #11613
Dear @ziya5635, and where do you share the command? The first line of your issue begins with:

[code]
Which happens after one or more commands are issued...

[2019-06-07 06:25] ziya5635 commented on #11613
Hi, I assumed that when I say "I am trying to install Zonation using Spack" everyone knows that the command that was used was: spack install <package>. Isn't it?

[2019-06-07 06:28] vsoch commented on #11613
Spack doesn’t have zonation as a package. I have no idea what you are doing because you never told me. You’ve simply copy pasted error output without any clue as to how you generated it. :/

[2019-06-07 06:30] vsoch commented on #11613
The most you shared was that the error triggered with json-c and other packages, but I can’t reproduce with json-c and I don’t know what the others are because you never shared.

[2019-06-07 06:31] ziya5635 commented on #11613
what would you like to be shared? the recipe?

[2019-06-07 06:35] vsoch commented on #11613
If that is the script you ran to produce this error... YES. :)

I’m going back to sleep for now though, it’s 2:30am here now. Looking forward to a nice package recipe in the morning :)

[2019-06-07 06:36] ziya5635 commented on #11613
Yes, that is the script, I will share it here, no problem!

[2019-06-07 09:33] termi-official opened #11655 "Flags do not propagate correctly [Clang8+Polly]"
I tried to setup some optimized builds with spack by using LLVM's polyhedral optimizer (polly). Specific optimizations are enabled by passing command line flags (e.g. -O3 -mllvm -polly -mllvm -polly-vectorizer=stripmine) to the toolchain. As a side note, I use LLVM8.0.0 from the spack repository for reproducibility. I tried to pass these flags down via cflags (and cxxflags) and ran into two proble

[2019-06-07 13:34] alalazo commented on #11620
Related to #7237

[2019-06-07 16:20] hartzell commented on #11613
FWIW, I did this:

- ran a "spack ubuntu" container (**but** this gives me Ubuntu v18.04...)

[code]

- and within that container, built json-c

[code]

and it built successfully.

@ziya5635 -- we're going to need the exact name of the docker image you used and the exact command you ran that generated the error.  Otherwise, I can't think of anything we can do to help.

[2019-06-07 17:27] codeandkey opened #11659 "Concretizing failure between python and py-matplotlib"
Spack will not concretize py-matplotlib and python together without explicit version constraints. Recent versions of matplotlib require python 3.5+, but it seems to conflict with a non-existing constraint "spec asked for 2.7.16".

Changing the `python` dependency to `python@3.5:` fixes the issue, but I feel like this should not be necessary.

### Steps to reproduce the issue

Here is the minimal p

[2019-06-07 23:52] dpgrote opened #11666 "resource not in expected location"
When running "spack install warpx", the resources that are downloaded are not put in the expected destinations. This is only a problem on the develop branch. In the master branch, this works correctly, and worked correctly in develop in the past.

The warpx/package.py file has the following specification:

[code]

Here are the relevant lines in the output:

[code]

The amrex source is put into src

[2019-06-08 02:19] mwkrentel commented on #11666
See #11647.  I'm guessing that many, if not all packages that use a
resource are currently broken.

So, I assume this is fairly high priority.

[2019-06-09 00:16] DarylGrunau commented on #11398
Sorry for the delay (out on travel).  I'm happy to say with everyone's work here this issue has been resolved - thank you **_so_** much!  Closing ...

[2019-06-09 00:16] #11398 closed

[2019-06-09 21:38] certik opened #11668 "Installation issue: gnutls fails to build on macOS"
### Steps to reproduce the issue

[code]

### Platform and user environment

Please report your OS here:
[code]

[2019-06-10 03:32] mwkrentel commented on #11668
If your real interest is cmake as opposed to gnutls, then see PR #11646.
I believe that will fix your problem here.

If your real interest is gnutls, then I don't know.

[2019-06-10 03:34] certik commented on #11668
Indeed, my real interest is cmake. Thanks for fixing it!

On Sun, Jun 9, 2019, at 9:32 PM, Mark W. Krentel wrote:

[2019-06-10 05:47] mwkrentel commented on #11666
@tgamblin  @tldahlgren
I looked into this a bit more.  I found that my package (intel-xed)
uses `destination` and breaks because spack fails to move the resource
directory as it used to.

[code]

Other packages use `placement` instead of `destination` and some of
them seem to work.  Some use both.

Should I change my package to use placement instead of destination?

Or, should I wait for something

[2019-06-10 08:28] luxianjun opened #11670 "I cannot access https://ftpmirror.gnu.org/libsigsegv, Has anyone encountered the same problem?"
[root@localhost local]# spack install gcc@7.2.0
==> Installing libsigsegv
==> Searching for binary cache of libsigsegv
==> Warning: No Spack mirrors are currently configured
==> No binary for libsigsegv found: installing from source
==> Fetching https://ftpmirror.gnu.org/libsigsegv/libsigsegv-2.11.tar.gz

curl: (7) Failed to connect to 2001:470:142:5::200: Network is unreachable
==> Fetching from

[2019-06-10 09:44] ax3l commented on #11670
Yes, from time-to-time, gnu.org is not reachable for me as well.
If you need those packages often, you can cache them via a [source code mirror](https://spack.readthedocs.io/en/latest/mirrors.html) in Spack.

From what I have heard, it's also planned to provide public mirrors some time soon.

[2019-06-10 10:20] cnelson3 opened #11672 "cmake+qt package error"
I believe there may be an error in the CMake package.

### Steps to reproduce the issue

[code]

### Error Message
[code]

"-d --stacktrace" output is attached.

[spack-cmake.txt](https://github.com/spack/spack/files/3271623/spack-cmake.txt)

[2019-06-10 15:50] chuckatkins commented on #11644
@andreanegri I see you changed `--with-libbson` from `system` to `auto` in #9877.  What was the driver behind the argument change?

[2019-06-10 16:54] #11628 closed

[2019-06-10 17:10] chuckatkins commented on #11644
@michaelkuhn @andreanegri from what I can tell, `libbson` has ceased independent development and is entirely a code base contained inside `libmongoc`.  Given that, does it make sense to drop the `depends_on` and always use the "vendored" version since it's development is no longer stand-alone?

[2019-06-10 17:34] chuckatkins commented on #11582
Rather than manually adding rpath info, would it be possible to instead convey that the compiler package itself needs to become a downstream run-time dependency of anything it builds?  I experience the same problem using gcc-8 out of the openhpc distro.  I generally work around it by just manually loading the module before I start working on things, since even though the compilers.yaml file has th

[2019-06-10 18:00] dpgrote commented on #11666
I've come across this error now also in the master branch. I see is when I do "spack install warpx@dev" (using the updated package.py from PR #11667).

[2019-06-10 18:06] kshitij-v-mehta commented on #9149
Tagging onto this issue as I am facing the same on the Summit machine @ ORNL:
My packages.yaml has the Python module as an external package, along with mpi4py and py-numpy.
[code]

Installing adios2 gives
`==> Error: 'No spec with name python in py-numpy@1.14.5%gcc@8.1.1+blas+lapack arch=linux-rhel7-ppc64le'`

[2019-06-10 20:21] 23skdu opened #11674 "Installation issue: pdf2svg"
[code]
Cairo is built, listed in the build package, and is definitely already installed.
Packages is not picking it up
[code]

[2019-06-11 07:58] andreanegri commented on #11644
@chuckatkins I used `auto` for 1.9.* releases bc I was not able to build with the old configuration. I think we should consider, as you say, to vendor `libbson` and remove the dependency.
@zzotta  @michaelkuhn any thought?

[2019-06-11 08:23] zzotta commented on #11644
As long as we can force the vendoring, I would remove the dependency. If not, the risk here is to find a feasible libbson on the system introducing a system dependency, which is not ideal (to be polite ;)).

[2019-06-11 09:06] ziya5635 commented on #11613
Hi, This is the recipe:

from spack import *

class ZonationCore(CMakePackage):
    """FIXME: Put a proper description of your package here."""

    # FIXME: Add a proper url for your package's homepage here.
    homepage = "https://www.helsinki.fi/en/researchgroups/metapopulation-research-centre/software#section-14300"
    url      = "https://github.com/cbig/zonation-core/archive/master.zip"

[2019-06-11 09:08] ziya5635 commented on #11613
Hi, it worked probably because you have already the latest version of Perl. It actually worked for me when I installed Perl latest version.

[2019-06-11 10:10] termi-official commented on #11655
A short update for the latter problem: To workaround the issue I appended "-Wno-unused-command-line-argument" to cflags and cxxflags.

[2019-06-11 12:24] chuckatkins commented on #11644
If you look at the libbson repo the readme explicitly says it's no longer developed independently.  The version requirement also explicitly requires that it matches the `libmongoc` version.  Given the version requirement is tied to the exact `libmongoc` version, that it's ceased independent development, and that `libmongoc` is the only package that depends on it, I believe the best option is to re

[2019-06-11 16:10] hartzell commented on #11613
Can you tell me the name of the Docker image you were using to do the build?  You mentioned this:

but I can't figure out which one that was.

It would be great if it were something that I can use in a `docker run` or `docker pull` statement.

Thanks!

[2019-06-11 22:15] adamjstewart commented on #11674
The issue is the dependency type. Let me see if I can fix this real quick.

[2019-06-11 22:36] adrienbernede opened #11678 "spack unable to find an lmod loaded compiler"
### Steps to reproduce the issue

I noticed a change of behavior of the following scenario between spack@v0.12.1 and spack@develop :

[code]

### The problem

On "release" tag v0.12.1, the compiler is found, on the develop branch, it isn’t.

### System information

The issue occurs on a supercomputer using lmod mechanism for modules.

[2019-06-11 23:29] adamjstewart opened #11680 "spack checksum not properly handling list_url"
I just noticed that `spack checksum` doesn't work for certain packages like `poppler` that have a `list_url`.

### Steps to reproduce the issue

[code]

### Error Message

[code]

The issue is that although https://poppler.freedesktop.org/releases.html lists the available tarballs for `poppler`, it is not the root where these tarballs can be found. The actual tarballs are available at https://popp

[2019-06-11 23:39] scheibelp commented on #11678
@alalazo FYI (although I can look into this if you prefer)

Bisect is implicating https://github.com/spack/spack/pull/10190 (https://github.com/spack/spack/commit/6d56d4545472ddff1cdc0e8fd49d8260428a141e)

I'm not sure why that would cause an error yet.

[2019-06-12 00:56] scheibelp commented on #11542
This should be addressed by #11594 (this supports `spack install` referring to installed dependencies by hash as described in https://github.com/spack/spack/issues/11542#issuecomment-496643555)

[2019-06-12 00:56] #11542 closed

[2019-06-12 00:56] scheibelp commented on #11541
This should be addressed by #11594 (this supports `spack install` referring to installed dependencies by hash as described in https://github.com/spack/spack/issues/11542#issuecomment-496643555)

[2019-06-12 00:56] #11541 closed

[2019-06-12 01:52] adamjstewart commented on #11680
It looks like this bug only affects `list_url` that end with `.html`. This bug was introduced in #8429. PR incoming.

[2019-06-12 04:50] alalazo commented on #11678
@adrienbernede @scheibelp I'll have a look at this today, thanks for the report

[2019-06-12 09:11] michaelkuhn commented on #11644
I would prefer to keep libbson as a package because I use it for one of my own projects. :-)
I wanted to update both packages for quite some time now but had to postpone it. Their move to CMake will probably require significant changes.
If someone wants to give it a go, I would be happy to help. Otherwise, I will try to take a look in a week or two.

[2019-06-12 10:02] andreanegri commented on #11644
@michaelkuhn yesterday I tried to generate a new `mongo-c-driver` package CMake-based (I don't know what is the spack policy about packages when build system changes, I created a new one for now):  d5bcdc14bbe76cb5f4e3e40bdf22e080f54f1e22
It is not complete, not all dependencies are managed correctly, but I can work on it.

Lurking on spack packages repo, it seems that `libmongoc` is a dependency

[2019-06-12 13:07] chuckatkins commented on #11542
@scheibelp #11594 is a workaround for the issue, but it's still present.  Unless you explicitly specify to resolve a dependency from an installed hash, spack will use an already installed dependency and still evaluate it's build deps.  So while #11594 gives you a was to manually work around the problem, which is certainly helpful, I don't think this should be closed until it works without manual i

[2019-06-12 19:22] mamelara commented on #11641
Did you previously have a `compilers.yaml` file? Can I see the contents of your `~/.spack/cray/compilers.yaml` file?

[2019-06-12 19:44] lee218llnl opened #11685 "Provide option to link only explicit packages into view with spack environment; preferably make default"
All of the packages (explicit and dependences) are being linked in the view. I think we may just want the explicit ones in there.

[2019-06-12 19:47] lee218llnl opened #11686 "projections naming convention not working properly in spack stacks"
The projections are not doing the naming convention properly:

[lee218@ulna2:delete]$ ls usr-2/tce-ulna/packages/fftw/
fftw-3.3.8-fftw-3.3.8-gcc-4.8.5

Note the double {name}-{version}. My specification is:

      projections:
        ^mpi: '{name}/{name}-{version}-{^mpi.name}-{^mpi.version}-{compiler.name}-{compiler.version}'
        '%gcc@4.8.5': '{name}/{name}-{version}'
        all: '{name}/{n

[2019-06-12 22:28] #11678 closed

[2019-06-12 22:59] adrienbernede commented on #11678
I confirm that the problem is now solved.

Thank you

[2019-06-13 11:19] floli opened #11689 "More than one spec in string"
I have installed `vtk` to find out that it does not include the python3 libraries I needed. According to https://spack.readthedocs.io/en/latest/tutorial_configuration.html?highlight=variant#variant-preferences I try to modify the variants using `spack config --scope defaults edit packages`:
[code]
Also tried `variants: python3`, but both gives me:

[code]

which gives no glues to me.

Thanks!

[2019-06-13 12:10] floli commented on #11689
Ok, by reading the source code I found out that I need to use `+python3`. Maybe it's worth writing that in the documentation?

But still, the package does not install any python3 libs. The spec gives me:

`vtk@8.1.2%gcc@8.1.0 build_type=RelWithDebInfo ~ffmpeg+mpi+opengl2~osmesa~python+python3~qt~xdmf arch=linux-ubuntu16.04-x86_64`

Is that correct for enabling python3 support?

[2019-06-13 14:15] homerdin opened #11690 "Installation issue: cudnn"
The `cudnn` package depends `cuda@10.1` which isn't supported yet.

---

### Steps to reproduce the issue

[code]

[2019-06-13 15:02] anderbubble opened #11691 "stuck defunct editor after interactive license installation"
Installing packages that require a license file (seen with intel and pgi packages today) appear to hang forever after the license file is supplied interactively during installation. Re-starting installation with the license file already in place works.

### Steps to reproduce the issue

[code]

### Error Message

[code]

### Information on your system

Running on RHEL7.6

Using spack develop, 3ce9

[2019-06-13 16:50] glennpj opened #11695 "Intel compiler detection reports build number as part of version starting with v19.0.0"
When using the `spack compiler add` command for the Intel compiler there is a mismatch between the package version and the compiler entry. For example, the package version is 19.0.3 but the compiler entry has a spec value of 19.0.3.199. This causes issues with the lmod module layout as well as other breakage.

### Steps to reproduce the issue

[code]

### Information on your system
linux-centos7-x

[2019-06-13 19:33] lee218llnl opened #11698 "filesystem views don't currently work with activated extensions"
It would be nice if filesystem views worked with activated python extensions. Currently this error results from trying to create a view when an extensions is activated:

==> Error: Globally activated extensions cannot be used in conjunction with filesystem views. Please deactivate the following specs:

One example where we need this is with the STAT package. It requires the py-xdot extension for P

[2019-06-13 19:55] chissg opened #11699 "All normal and exceptional exit points should flush `sys.stdout` and `sys.stderr`"
### Feature request.

Output buffers should be flushed at normal and exceptional program exit points.

### Rationale

In the case where the output of a Spack command is routed to a file (e.g. via `>build.log 2>&1`), the line few lines of output may be lost, causing issues (_e.g._) diagnosing problems. Even with `spack --debug`, the last line or two of a stack trace may be lost.

### Description

I

[2019-06-13 21:56] scheibelp commented on #11698
It turns out that STAT includes a script which calls python and is configured to explicitly refer to the install prefix of the Spack-installed python. The filesystem view logic generally arranges for `PythonPackage` Packages to automatically relocate their scripts to use the Python instance that is relocated to the view, but since STAT is not a `PythonPackage` this does not occur. It then fails to

[2019-06-13 23:52] jhux2 commented on #11641
@mamelara I did, attached with suffix changed for upload.
[compilers-yaml.txt](https://github.com/spack/spack/files/3288469/compilers-yaml.txt)

[2019-06-13 23:54] mamelara commented on #11641
Could you either delete your `compilers.yaml` or move it away and then run spack again? There was a previous bug that grepped all of the PrgEnvs but didn't account for site specific PrgEnvs - like PrgEnv-llvm.

[2019-06-14 04:50] anderbubble commented on #10599
@francesco-bongiovanni and @adamjstewart

I just put this comment in the associated PR; but since that's merged already, I'll mirror it here.

On current develop, I just realized it's picking up the `-llvm` variants by default in all circumstances now.

[code]

This even though I only ran

[code]

I guess I didn't notice that the `-llvm` variants are _also_ in `linux86-64/19.4/bin`, not just `linu

[2019-06-14 05:12] anderbubble opened #11704 "Installation issue: pkgconfig"
I really don't know enough about `ld`, but is spack meant to be using the system `ld`, or one that it builds/provides itself?

Anyway: this worked as

[code]

And is only failing with pgi.

[code]

### Steps to reproduce the issue

[code]

### Platform and user environment

Please report your OS here:
[code]
and, if relevant, post or attach:

[code]

[2019-06-14 12:20] #11689 closed

[2019-06-14 16:43] adamjstewart commented on #11704
My experience with `pgi` has been that it is a very strict compiler, and doesn't conform to many of the standards `gcc` has introduced over the years. I've had to patch dozens of packages to get them to build with `pgi`. I would contact the `pkgconf` developers and see if they can get it to build with `pgi` now that it is free, and if they give you a patch we can add it to Spack.

[2019-06-14 17:45] lee218llnl opened #11708 "conflict in views with spack stacks"
I am getting errors like this:

[code]

This is because in my spack.yaml I have fftw^mpi as a combinatorial package and I specify both mvapich2 and openmpi as mpi_specs. Also in the spack.yaml, here is the view specification:

[code]

We probably do not want the combinatorial_packages to show up in the default view, unless a specific ^mpi%compiler is explicitly requested.

[2019-06-15 13:37] jrobcary commented on #9323
Some thoughts and questions on Windows:

First, we have not moved to spack due to lack of Windows support.  Instead we use an in-house system that lacks many features that spack has, but it works well enough that we can rely on it for nightly testing.

The main issue is native builds (as emphasized by @certik).  Spack working under WSL or Cygwin or MSYS does not solve this (though it might be part

[2019-06-15 22:32] #11674 closed

[2019-06-17 04:09] refraction-ray opened #11745 "Installing rclone leaves a go folder outside spack root"
Spack version: commit a45c4ef33de (if no change on relevant part, it is basically the head).
OS distribution: Ubuntu server 18.04.

After `spack install rclone`, there is a folder named go outside spack installation root as `~/go/` (the spack root is `~/spack/`). I have no idea about go lang, but it seems to be the go packages directory, denoted as `$GOPATH`.

I wonder whether it is necessary to l

[2019-06-17 09:26] JaroslavHron opened #11747 "depends_on not respecting namespace"
specifying namespace in `depends_on` does not work correctly
(as expected from https://spack.readthedocs.io/en/v0.12.1/repositories.html?highlight=depends_on)

dependency in `package.py` definition:
[code]

spack still selects `localrepoB.petsc` package from localrepoB if the repos.yaml has localrepoB first
[code]

[2019-06-17 10:48] healther commented on #11685
You can do that already by specifying `-d no` to not link dependencies
[code]
here is the corresponding help function
[code]

[2019-06-17 17:01] chuckatkins commented on #11668
@certik As of #11646 `cmake` no longer has the `gnutls` dependency.  That being said, the build error is still a bug so #11751 works around it by preventing the `+guile` variant on MacOS.

[2019-06-18 06:10] mayrmt opened #11771 "Installation issue: pkgconf"
### Steps to reproduce the issue

[code]

I also tried to get download the `tar`-file using `wget`, which also couldn't resolve the host.

### Platform and user environment

Please report your OS here:
[code]
and, if relevant, post or attach:

- `packages.yaml`: default settings
- `compilers.yaml`:
   `spack compilers` lists
[code]

### Additional information

Sometimes the issue benefits from add

[2019-06-18 08:50] ocfmatt opened #11773 "Installation issue: Nettle"
### Steps to reproduce the issue

[code]

### Platform and user environment

Please report your OS here:
[code]

### Additional information

My target application is CP2K using Nettle as a dependency.

[code]

You might want to run this command on the `config.log` or any other similar file
found in the stage directory:
[code]

[code]

[2019-06-18 08:51] ocfmatt commented on #11773
[spack-cc-nettle-dzgj2ck.in.log](https://github.com/spack/spack/files/3300626/spack-cc-nettle-dzgj2ck.in.log)
[spack-cc-nettle-dzgj2ck.out.log](https://github.com/spack/spack/files/3300627/spack-cc-nettle-dzgj2ck.out.log)

[2019-06-18 09:02] simo-tuomisto commented on #11771
Encountered the same error. It seems that the site that provides the source code ([http://distfiles.dereferenced.org](http://distfiles.dereferenced.org)) is down.

[2019-06-18 09:08] simo-tuomisto commented on #11771
As a temporary measure I downloaded the source from [https://sources.voidlinux.org/pkgconf-1.6.0/pkgconf-1.6.0.tar.xz](https://sources.voidlinux.org/pkgconf-1.6.0/pkgconf-1.6.0.tar.xz) to `$spack/var/spack/cache/pkgconf` and installation went through.

[2019-06-18 09:48] cnelson3 commented on #11691
I'm getting a similar issue whilst trying to install intel-parallel-studio 2019

[2019-06-18 11:56] cnelson3 commented on #11691
@anderbubble have you installed the intel libraries previously yourself?  I found that when one installs the intel-parallel-studio suite, it creates a directory (~/intel)  in your home space, which if deleted, allows the installation to proceed.... I'm not entirely sure of the purpose of the directory created the installation process, but it seems to work OK without said directory.

[2019-06-18 16:52] adamjstewart commented on #11773
According to the error message:
[code]
it sounds like the package needs to be built in C99 mode. Perhaps we need to add `self.compiler.c99_flag` to a certain flag?

[2019-06-18 17:49] #11745 closed

[2019-06-18 18:30] carsonwoods opened #11778 "Installation issue: qthreads"
### Steps to reproduce the issue

[code]

### Platform and user environment
[code]

### Additional information

I was able to resolve this issue by changing the qthreads package to depend specifically on hwloc version 1.11.11 rather than 2.0.2. Something must have changed between those releases that made them incompatible.

Additionally, it appears that the qthreads package is misconfigured. Qthre

[2019-06-18 19:41] tldahlgren opened #11781 "Rename build logs"
Provide more explicit build logfile names

### Rationale

Issue #11749 pointed to the ease of opening shared log files with the `.txt` extension but the Spack team has since indicated there are multiple output filenames and circumstances to consider.

### Description

Use `spack-build-<type>.txt` for log and env filenames, where `<type>` is `out` and `env` respectively, both during the build and i

[2019-06-18 21:02] glennpj opened #11782 "spack compiler add uses relative path"
If fed a relative path, `spack compiler add` will write the relative path to compilers.yaml rather than dereference it to the absolute path. This behavior began with commit 6d56d4545472ddff1cdc0e8fd49d8260428a141e according to `git bisect`.

### Steps to reproduce the issue

[code]
[code]
Loading the respective module first will do the right thing but using a relative path in the `spack compiler`

[2019-06-19 01:26] scheibelp commented on #11771
This appears to have been a temporary error: the official download site for `pkgconf` is now back up again so I consider this resolved.

[2019-06-19 01:26] #11771 closed

[2019-06-19 02:14] #11686 closed

[2019-06-19 06:43] mayrmt commented on #11771
Thanks! I can also confirm that it works again.

[2019-06-19 08:29] ocfmatt commented on #11773
After more searching around and some sleep I've found there is an upstream fix in Nettle to remove the accidental use of a C99 loop.

See commit: https://github.com/gnutls/nettle/commit/f5a3a224bf00bef5669366d2ae23c2b2b13b8016

[2019-06-19 10:00] ocfmatt commented on #11773
Build is successful when fetching Nettle from git with the C99 loop removed.

[code]

Other dependencies failed when bumping Nettle to 3.5rc1 making it more favorable to pull the hotfix commit on 3.4.1.

https://github.com/ocfmatt/spack/commit/0c9393eb72f925b978c3eb4e78922691af5ebb04

[2019-06-19 14:15] adamjstewart commented on #11773
Could we simply download that patch and add it to the Spack package?

[2019-06-19 16:41] dmringo opened #11789 "llvm and fenics packages are named incorrectly by `spack install`"
I tried to install `llvm`, but spack tries to install it as `flang-driver` (one of the resources of the `llvm` package).  A similar thing happens with `fenics`, being installed as `ffc`.  I haven't yet noticed any problems that result from this -- `clang` as provided by `llvm@8.0.0` seems to work fine when used via `spack load` in simple tests.  [I wrote a comment on the PR](https://github.com/spa

[2019-06-19 17:54] #11526 closed

[2019-06-19 19:41] scheibelp commented on #11542
@chuckatkins I agree that the issue has not been resolved in the ideal manner. However, I think it would make sense to open a new issue which phrases this as a feature request.

This was introduced in the context of https://github.com/spack/spack/issues/11537#issuecomment-495384789 which was stated as a regression of prior observed behavior. I did not see how Spack could have supported what you st

[2019-06-19 19:54] hauten opened #11791 "Update repo topics"
A new page on the LLNL software portal (https://software.llnl.gov/radiuss/) will soon dynamically pull in RADIUSS repos. To achieve this, we need RADIUSS-related repos outside the LLNL org to be tagged with relevant topics. See https://github.com/LLNL/llnl.github.io/issues/17, https://github.com/LLNL/llnl.github.io/issues/151, & https://github.com/LLNL/llnl.github.io/blob/new-home-page/radiuss/REA

[2019-06-19 20:53] carsonwoods commented on #11782
I opened a PR to fix this issue. I believe I fixed it so it should now properly resolves relative paths to absolute paths. Here is the output from my testing.

[code]

[2019-06-19 21:24] adamjstewart commented on #11163
Hey @frankwillmore! Let me see if I understand your issue correctly. You have a single Spack clone in a system location that every user can use, but you don't give users write access to the directory where Spack currently adds symlinks. From what I understand, you have 3 types of users:

- `spack` user who can do anything
- `software` group who can install but can't modify Spack itself
- everyone

[2019-06-19 21:34] becker33 commented on #11163
@frankwillmore @adamjstewart Those symlinks were designed to give users an entrypoint to inspect the stage directories, rather than having them show up in seemingly random places in tmp. They predate the `spack location` and `spack cd` commands that also give users options to inspect those paths, and IIRC also predate the `spack clean` option to remove those files.

@tgamblin was discussing changi

[2019-06-19 21:57] codeandkey commented on #11773
This should have been fixed by #11611 which forces nettle to compile against c99, but it doesn't look like the flag is present in these logs -- is your Spack installation up to date with `develop`?

[2019-06-19 22:55] frankwillmore commented on #11163
@adamjstewart

Above points are correct.
I override the install location in ~/.spack/config.yaml with:
```install_tree: ~/.spack/opt/spack```
and the build stage with
[code]

[2019-06-20 15:33] gmfricke commented on #11519
What is the suggested method for sysadmins like me install system wide spack packages without sudo or root on our HPC clusters?

[2019-06-20 15:40] citibeth commented on #11519
Run Spack as a user of your choice; making sure permissions are set in
.bashrc so the resulting files are world readable.  Spack is intended to be
run in user space, not root.

On Thu, Jun 20, 2019 at 11:33 AM G. Matthew Fricke <notifications@github.com>
wrote:

[2019-06-20 19:39] hartzell commented on #11519
@gmfricke -- we built (using a non-root "service" account) our packages using Jenkins in a directory that was mounted from a shared NFS server.  Other machines in the cluster mounted that filesystem, which avoided any distribution/reinstallation issues.

[2019-06-20 21:20] xguse opened #11802 "In Package.install: can I `install` whole directories rather than individual files?"
I have a VERY simple tarball that contains the following subdirs: `bin`, `data`, `lib`. Everything is compiled and required links are included in `lib`. I "just" need to move these dirs to the corresponding `prefix.bin`, `prefix.data`, `prefix.lib` locations.

Here is my `install` def:

[code]

I am being told that `install` fails bc they are dirs. Is there any way to copy the hundreds of files an

[2019-06-20 21:23] chissg commented on #11802
On 6/20/19 4:20 PM, Gus Dunn wrote:

I have a VERY simple tarball that contains the following subdirs: bin, data, lib. Everything is compiled and required links are included in lib. I "just" need to move these dirs to the corresponding prefix.bin, prefix.data, prefix.lib locations.

Here is my install def:

    def install(self, spec, prefix):
        mkdir(prefix.lib)
        mkdir(prefix.bin)

[2019-06-20 21:31] tjfulle opened #11803 "spack install fails when modules loaded"
`spack install` fails with a cryptic message if compiler module is already loaded.

### Details
If a compiler defines a module, eg:

[code]

and the module is loaded

[code]

when I install a package using that compiler I get a cryptic error message:

[code]

Hmm, that doesn't help much.  Installing with the debug flag helps make some sense of the error:

[code]

Okay, so spack tries to load the m

[2019-06-21 03:09] adamjstewart commented on #11802
https://spack.readthedocs.io/en/latest/llnl.util.html#llnl.util.filesystem.install_tree

You can use:
[code]
Spack will automatically create the destination directory for you if it does not already exist.

[2019-06-21 03:09] #11802 closed

[2019-06-21 16:21] pat-s opened #11815 "`spack load`: Don't conflict if only one env module exists"
Maybe this already exists but I cannot find something.

If I have multiple variants of the same library installed but there is only an env module for only one

- then I would like to have no conflicts when calling `spack load <library>`
- load the variant that has the env module

Libraries without env modules are installed as make deps only anyways.
And I would like to be able loading libs by thei

[2019-06-21 18:14] paulbry opened #11816 "self.stage.archive_file appears to return None"
If the `self.stage.archive_file` is used in a packages it appears that is returns None.

### Steps to reproduce the issue

I was able to reproduce with both Miniconda versions; however I should find / try other packages using this variables.

[code]

### Error Message

[code]

### Information on your system

[code]

Not also reproduced with `Python 2.7.15`

[2019-06-21 23:56] #11816 closed

[2019-06-22 12:19] citibeth commented on #11519
@ax3l What do you know... suddenly I need to build docker containers with Spack, and your directions are super helpful!

[2019-06-22 12:19] #11519 closed

[2019-06-22 17:31] cdfh opened #11819 "Ncurses package.py does not respect compiler CFLAGS"
### Steps to reproduce the issue

Install/configure a compiler with a module that sets `CFLAGS` or `CXXFLAGS`.

Install ncurses with
[code]
During installation, ncurses will be configured with:

[code]
overriding (without appending) whatever values were set by the compiler's module file.

### Platform and user environment

Affects all platforms.

User environment: any environment in which the comp

[2019-06-22 19:09] citibeth opened #11820 "Unwanted Views Even After `spack env create`."
@scheibelp
Now that environments automatically have views attached to them (#11182)... how do I turn it off on an environment I already created?

To be more clear... I'm creating an environment by creating a directory in `environments/` and adding a `spack.yaml` file.  Then I use:
[code]

At that point, Spack decides to attach a view to my environment (which I don't want).  I never used `spack env

[2019-06-22 20:05] glennpj commented on #11820
You can set the `view` parameter to `false` in the environment's `spack.yaml` file.
[code]
If that parameter already exists in the file it will point to the view directory. If it does not already exist then the default view directory is used, which is located in the `.spack-env/view` directory within the environment directory.

[2019-06-22 23:39] citibeth commented on #11820
Thanks for the tip.

@scheibelp  I think I will classify this as a bug.  If you *already have* an view (eg a `spack.yaml` file) and you didn't tell it where to create a view, then Spack is saying: "You didn't ask for a view, but I'll make one for you anyway in some random location I choose."  That's counter-intuitive; and breaks things that previously worked.

The behavior should be: if `spack.yam

[2019-06-22 23:45] citibeth opened #11822 "Spack Environments, Views and Python?"
I built a Python stack in a Spack Environment with view.  Then the command
[code]
Does not work.  Of course it doesn't work; because `$PYTHONPATH` is not set.  OTOH, loading an environment by loading 100 modules (`spack env loads -r`) does set `$PYTHONPATH` and DOES work.

What is the recommended way to USE a Spack view, along with all the proper environment variables, once it is created?  Does Sp

[2019-06-22 23:48] citibeth commented on #11815
Try putting the stuff in a Spack Environment, then run `spack env loads -r` to generate a script of `module load` commands.  That is the ONLY guaranteed way to build a package and then load the same package you just built.  And it is what we should be moving toward, IMHO.

[2019-06-22 23:49] citibeth commented on #11791
I don't know what you're asking for.  @scheibelp @tgamblin @lee218llnl ???

[2019-06-23 00:14] glennpj commented on #11820
I agree with @citibeth , absence of the `view` parameter should be equal to `view: false`. I would add that when creating an environment with `spack env create` the `view` parameter in `spack.yaml` should be populated with the chosen path.

[2019-06-23 00:25] citibeth commented on #11820
In my case, I didn't use `spack env create`.

On Sat, Jun 22, 2019 at 8:14 PM Glenn Johnson <notifications@github.com>
wrote:

[2019-06-23 19:03] healther commented on #11822
There was some discussion that there should a module be generated, not sure if that was merged though. For our deployed system we use singularity containers, where the apps are setting the relevant environment variables. For manual use we provide bash functions (probably not enough for your case)
[code]

[2019-06-23 20:32] citibeth opened #11824 "Export Spack API"
@tgamblin said:

IMHO, serious scripting with Spack should be done in Python, not Bash.  I think we might benefit from exporting a Spack API that people can write Python scripts to.  I think I've already done it a bit here and there; but making it standardized and available to the public; and pushing its use; might be beneficial.

[2019-06-23 21:23] paulbry opened #11825 "Package version ignore in environments after first install"
In the current develop branch when using an environments the specific version of a packages is ignored on install (e.g. `spack install zlib@1.2.3`). It is however observed if I preform a spack spec.

It only appears to be in an issue when using an environment and again only after the first version of a package has been installed (subsequent will always attempt to install with that version).

### S

[2019-06-23 21:23] citibeth opened #11826 "Spack Environments: Load Group"
@scheibelp @tgamblin @becker33

Upgrade Spack Environments to allow for *load groups* (LGs) --- i.e. groups of packages that are meant to be loaded together.  Each load group would be named (unless there's only one, in which case the name is optioanl).  Each load group would (as of today) have an option to concretize everything in it separately or together, a la #9902.  As an example, consider a `

[2019-06-24 03:22] kmanalo commented on #11582
As it relates to the title "Compilers Requiring Modules" and the original comment. I dealt with ongoing issues in building Trilinos with Intel 19 backed by GCC 8 with MVAPICH2 for MPI.  I nearly used the same prescription for `modules.yaml` as the original comment shows, but what I found may be specific to CMake builds.  I had trouble loading a gcc/8.3.0 module with the 'modules' key, and I didn't

[2019-06-24 03:33] kmanalo commented on #11582
@svenevs comment:

@svenevs when using Lmod hierarchy with Lua module files, Lmod allows for `export LMOD_EXPERT=1` to load multiple compilers.

The above may not be easy to explain to users, so at many sites have just added a `gcc-compatibility` module which adds the necessary `PATH`s to allow Intel to get the backing gcc. (then checking with `icpc -v`).

[2019-06-24 08:24] healther commented on #11819
I think we should consider this a bug in `ncurses/package.py` and I think your solution is correct:tm:
In general you should feel free to just open a pull request, especially if you already have a solution for your problem. If the maintainers disagree we can just as easily close a PR as an issue :)

[2019-06-24 15:57] hauten commented on #11791
@tgamblin took care of it, no worries! I'll close the issue.

[2019-06-24 15:57] #11791 closed

[2019-06-24 16:02] citibeth commented on #11825
You can do a workaround by specifying the version you want in the packages part of `spack.yaml`.

[2019-06-24 20:45] gartung commented on #10063
Closed with https://github.com/spack/spack/pull/11834

[2019-06-24 20:59] lee218llnl opened #11835 "Incorrect arch dependence spec picked up from packages.yaml"
My packages.yaml contains different opengl versions depending on the arch:
[code]
However, when I build on ppc64le, it appears to be looking for the x86_64 version/path, i.e., `spack install libepoxy` errors:
[code]
Note it is looking in /opt/mesa/17.3 not in /opt/mesa/17.1 and that the spec version is @4.5.0 not @4.2.0. I can specifically `spack install libepoxy^opengl@4.2.0`, but I believe this

[2019-06-24 21:27] becker33 commented on #11826
I have an idea for a less invasive change that I think would accomplish all of your goals in this proposal. Let me know if it doesn't accomplish it.

We could add a `load_group` directive similar to the `view` directive in the #11057. This would allow you to use the `select/exclude` mechanics proposed there to specify groups of packages. We could then generate scripts (as we do now for `spack env

[2019-06-24 23:45] citibeth commented on #11826
@becker33 I remain unconvinced.  The `view` directive is far less powerful (and IMHO less useful) than what's proposed here.  See here some comments on it:

https://github.com/spack/spack/pull/11057#issuecomment-505221224_

We knew from the beginning that Spack environments as they stand currently (one view / one module load script / everything concretized separately) is not the end-all answer; we

[2019-06-24 23:51] prckent commented on #9252
No longer an issue with the above workaround and/or newer OS versions.

[2019-06-24 23:51] #9252 closed

[2019-06-25 00:36] scheibelp commented on #11822
I'd be interested to know the sequence of environment creation/`spack add`/`spack install` commands you dispatched, because it is my intent that this *does* work: views are supposed to add Python in a way such that Python libraries which are symlinked in will be automatically loaded by the Python instance added to the view. There may be exceptions (i.e. gaps in the logic which intends to make this

[2019-06-25 00:57] scheibelp commented on #11820
I think these are interesting arguments, but IMO this is a case of two opposing but valid perspectives. Perhaps things need to be better documented, but as long as the config is available to give the user what they want, I'm not inclined to classify this as a bug.

@citibeth

I'm not sure how having a `spack.yaml` implies you are explicitly managing a view

I don't immediately see why the fact tha

[2019-06-25 02:09] #10063 closed

[2019-06-25 02:46] glennpj commented on #11820
@scheibelp
In the default case the view is in the environment directory so I think a relative path could be used. The main thing is to get the `view` parameter in the `spack.yaml` file so that it is visible to the end user. The real problem is when the view directory is set outside of the environment directory, ie.,
`spack env create --with-view /some/where/on/the/filesystem`
That would make the e

[2019-06-25 16:27] gartung opened #11844 "Inheriting a builtin package definition with locally stored patches leads to "No such file" error"
Creating a package for gcc in our repo fnal_art that inherits from builtin.gcc

[code]
### Steps to reproduce the issue

[code]

### Error Message

[code]

### Information on your system

 Scientific Linux 7 (RHEL7 ) with system python

[2019-06-25 16:27] gartung commented on #11844
@becker33

[2019-06-25 17:08] #11668 closed

[2019-06-25 18:28] citibeth commented on #11826
@scheibelp If a PR gets submitted implementing this Issue, would there be any reason not to merge?

[2019-06-25 21:38] yantosca opened #11846 "Installation issue: tau@2.24.1 %gcc@8.2.0"
### Steps to reproduce the issue

I am trying to build TAU 2.24.1 but am coming up with an error.  It seems like Spack is trying to pass the -elf option to the TAU configure file (in the stage directory).  In other words, the offending command is this:

[code]
But the configure script does not list elf as one of the valid options, so this is choking the build.

Also note: this appears to be an iss

[2019-06-26 13:23] obreitwi opened #11850 "PR #11524 breaks packages depending on bazel directly"
PR #11524 introduced an error that breaks packages depending on bazel directly.

### Steps to reproduce the issue
Pick a random package, e.g. `htop`, and have it depend on bazel:
[code]

### Error Message
[code]

### Workaround

A possible workaround is to just add `parallel = False` to the package.

[2019-06-26 13:23] obreitwi commented on #11850
Ping @alalazo as #11524 was written by him.

[2019-06-26 17:11] ax3l commented on #11519
@citibeth hurray, glad to hear that :)

[2019-06-26 19:17] opadron commented on #9900
Hi, @weijianwen.  I am working on updating the VISIT package and I have also just ran into this issue, as well.  I'm going to try and see if I can't get to the bottom of what's going wrong.

[2019-06-26 21:16] scheibelp commented on #9652
I recently tried to build this with gcc version 7.2 and had the same error. I think this package is a bit "loose" with type conversions, which was reported as a warning for older gcc versions. If I update the `package.py` for `mount-point-attributes` to add `-Wno-narrowing` to `CPPFLAGS` like:

[code]

Then the build succeeds for me. As for whether this should be conditioned on GCC version, I'm no

[2019-06-26 23:14] tgamblin commented on #11163
Assigning this to @tldahlgren.

[2019-06-27 03:05] songchaomail opened #11858 "Installation Issue: netcdf "AttributeError: 'list' object has no attribute 'directories'""
### Steps to reproduce the issue

[code]

### Platform and user environment

[code]

- `compilers.yaml`
 compiler:
    environment: {}
    extra_rpaths: []
    flags: {}
    modules: []
    operating_system: centos6
    paths:
      cc: /usr/bin/gcc
      cxx: /usr/bin/g++
      f77: /usr/bin/gfortran
      fc: /usr/bin/gfortran
    spec: gcc@4.4.7
    target: x86_64

### Additional information
-

[2019-06-27 13:13] obreitwi commented on #11850
Ah, I forgot to answer that all `tensorflow`-related packages are affected as well…

[2019-06-27 13:54] alalazo commented on #11850
The issue here is that `dependent_module.make_jobs` is not set yet when we call the function. In my opinion the neatest solution would be to set:
[code]
and let the dependents call it with the number of jobs that seems appropriate. @obreitwi Would that be a viable solution for you? Also, in the long run, would it make sense to have a `BazelPackage` as we have a `CMakePackage`, `AutotoolsPackage`,

[2019-06-27 16:48] 23skdu opened #11869 "LMOD and Spack environment support"
Hi:
i'm hoping what i want to achieve with environments is possible, given the way  LMOD works.
One of the environments I want to do is based on gcc7,
is there a way to have the spack env command switch LMOD's env var of MODULEPATH so that the root of people's module tree changes depending on the environment?

in essence, i wanted people to see nothing, unless they activated an environment,
and th

[2019-06-27 17:30] glennpj commented on #11869
@23skdu
You can not do what you want to directly in spack, but it can be done. Note that when I say, 'environment module', below I am referring to a module file for a spack environment, not to be confused with the more general reference to environment modules. First, you will need to have different `module_roots` parameters for each spack environment. Then you would manually create a module file f

[2019-06-27 17:59] tgamblin opened #11870 "`spack uninstall` can't install packages that no longer exist"
This is a regression of #3476, which was fixed in #3915.  It looks like #8772 broke it.

cc @olesenm.

### Steps to reproduce the issue

[code]

### Error Message

[code]

`uninstall_by_spec` in package.py is a static method specifically because it shouldn’t require a `Package` to exist in order to uninstall a spec with a particular name.  Clearly I didn't add a good enough regression test for thi

[2019-06-27 19:22] obreitwi commented on #11850
It seems appropriate for me. To be honest, I found that `bazel`, more often than not, simply ignores whatever setting you set and just uses every core available its process. So as long as this bug gets resolved, I am happy (we set the number of cores available to spack via cgroups or affinity).

I think it would make a lot of sense. Every update regarding `bazel`/`tensorflow`-based packages are st

[2019-06-27 20:12] adamjstewart commented on #11870
@scheibelp maybe you can take a look at #3690 while you're at it. They may be related.

[2019-06-28 01:03] 23skdu commented on #11869
Oh ok, hrm, let me try that. thanks for the tip @glennpj will report back.

[2019-06-28 06:33] olesenm opened #11875 "openfoam package renaming"
As I discussed off-line with @tgamblin - the original packaging with `openfoam` as a virtual and with `openfoam-com` being a provider, as well as the `openfoam-org` and `openfoam-extend` forks, adds an obfuscation layer without any benefit. Since the forks are not coordinated with the [official upstream](https://www.openfoam.com/history/), there is no way to benefit from an interface layer.  The p

[2019-06-28 09:36] michaelkuhn commented on #11789
I am hitting the same bug. The package still gets installed into the correct prefix.

It seems that this is due to the loops of the form `for name, ...:`, which override the package name. I have created a PR to fix this (#11879).

[2019-06-28 13:59] #11789 closed

[2019-06-28 17:46] markcmiller86 opened #11881 "Package commit hashes don't coincide with release tags"
Looking at [h5z-zfp package logic for 0.7.0 and 0.8.0 releases](https://github.com/spack/spack/blob/46c15132964b482ca0808cc8700c980407562095/var/spack/repos/builtin/packages/h5z-zfp/package.py#L17), the commit hashes do not agree with what I see for that package (pictured below) when I look at those releases on GitHub. Is this a problem or am I confused?

![Untitled 2](https://user-images.githubus

[2019-06-29 23:04] #11870 closed

[2019-07-01 13:23] freifrauvonbleifrei commented on #9911
I just had the same problem when trying to install slepc for other software. I could resolve it by specifying the current version for slepc and petsc: `./bin/spack install slepc@3.11.0^petsc@3.11.1`
hope this helps!

[2019-07-01 18:22] ax3l commented on #5613
Aaaand, down again: https://ftpmirror.gnu.org/libsigsegv/libsigsegv-2.11.tar.gz

[2019-07-02 05:54] #11875 closed

[2019-07-02 19:02] scheibelp commented on #11881
Ideally they would match. It looks like you added those versions (that's what it looks like anyhow when I look at the history for this package), was there a reason you chose the commits that you did?

[2019-07-02 19:38] markcmiller86 commented on #11881
I can't think of a reason other than I went poking around on GitHub for those hashes and obviously poked the wrong place to obtain them.

[2019-07-02 19:48] huqy opened #11919 "Is it possible to customize the user-scope directory?"
If I would like to maintain/test multiple Spack repos in different directories, is there any place to define the ~/.spack to say ~/.spack_test1? I only find `misc_cache` in the configuration file, but not the whole user-scope one. Please advise. Thanks.

[2019-07-02 20:07] scheibelp commented on #11666
This was resolved by https://github.com/spack/spack/pull/11667. And other general issues related to this should be resolved by https://github.com/spack/spack/pull/11688. Feel free to reopen if the issue comes up again.

[2019-07-02 20:07] #11666 closed

[2019-07-02 21:35] phanousk commented on #11695
There is maybe a more serious problem with intel-parallel-studio which may be concerned to this one. Reproducible by these steps:
1) fresh installation of Spack (git clone, no modifications)
2) follow the instructions here: https://spack.readthedocs.io/en/latest/build_systems/intelpackage.html#installing-intel-tools-within-spack for installation of intel-parallel-studio@cluster
3) follow the instr

[2019-07-03 00:38] scheibelp commented on #11881
It's possible they changed the commits associated with the tags in their repo. It's not a bug from Spack's perspective. You can submit a PR if you prefer that the versions match those in the Repo. If you are not inclined to do so I think it's fine and would be inclined to close this.

[2019-07-03 00:42] scheibelp commented on #11858
Does `spack -d install...` give any additional context?

[2019-07-03 00:49] scheibelp commented on #11803
I will take you up on that gracious offer, so I have assigned this to you; if you find you don't have the time for this, could you add an update in the next few weeks? I agree it's a legitimate problem so it would be good to know whether someone is looking into it.

[2019-07-03 00:59] scheibelp commented on #11819
Your solution is great. I have assigned you in the hope that you have the time to submit a PR. Could you let me know if that's not the case?

[2019-07-03 01:00] scheibelp commented on #11778
https://github.com/spack/spack/pull/11780 has been merged so this should now be addressed.

[2019-07-03 01:00] #11778 closed

[2019-07-03 01:07] scheibelp commented on #11773
@ocfmatt if you are able to reproduce this in spite of https://github.com/spack/spack/issues/11773#issuecomment-503762004 please reopen. Otherwise I consider it resolved.

[2019-07-03 01:07] #11773 closed

[2019-07-03 01:27] becker33 commented on #2983
@Exteris I've reworked much of our internal use of the module command, can you confirm whether this issue is still valid?

[2019-07-03 01:30] becker33 commented on #11708
I think the best way to achieve this right now is

[code]

@lee218llnl

[2019-07-03 01:43] scheibelp commented on #11641
@jhux2 are you able to reproduce the bug after trying @mamelara's suggestion at https://github.com/spack/spack/issues/11641#issuecomment-501919261?

[2019-07-03 02:07] scheibelp commented on #11569
I'm going to reopen #10542 and close this. In the future, feel free to reopen issues if you don't think they are resolved

[2019-07-03 02:07] #11569 closed

[2019-07-03 02:07] scheibelp commented on #10542
Since #10620 has not yet been merged, I will reopen this for now.

[2019-07-03 09:04] songchaomail commented on #11858
@scheibelp
The following is Traceback after executing spack -d install netcdf.
Traceback (most recent call last):
  File "/home/songchao/spack/lib/spack/spack/build_environment.py", line 764, in child_process
    setup_package(pkg, dirty=dirty)
  File "/home/songchao/spack/lib/spack/spack/build_environment.py", line 673, in setup_package
    set_build_environment_variables(pkg, spack_env, dirty)

[2019-07-03 11:31] alalazo commented on #11708
See also the comment in https://github.com/spack/spack/pull/11372#issuecomment-489397577 proposing a possible way to avoid this behavior as default (basically activate views only when you concretize things together).

[2019-07-03 15:56] tamaradanceva opened #11925 "MPICH configured with pmi=pmi not working with SLURM"
Hi,

I have installed Openmpi correctly and I managed to run jobs. I need to install MPICH for another application. I install MPICH with:

[code]
The installation is successful, however, when I run a job with srun -N 4 in the simplest case for hello world, it results in:

I am 0 of 1, on host ip-172-31-52-167
I am 0 of 1, on host ip-172-31-49-194
I am 0 of 1, on host ip-172-31-56-170
I am 0 of 1,

[2019-07-03 16:12] #11881 closed

[2019-07-03 18:12] becker33 commented on #11844
@gartung it looks like this is caused by how Spack handles relative paths in patches. If you're interested, see `lib/spack/spack/patch.py:113` I think the simplest way to to fix it would be to check at `__init__` time whether the file exists and use `pkg.get_mro()` to iterate up the class hierarchy until we find it.

If you want to take a stab at fixing it let me know, otherwise I'll probably get

[2019-07-03 18:18] becker33 commented on #11560
@refraction-ray Are the module files still not being generated at install time? Can you confirm that was not an issue with a previous version of your module config?

As for the `SLEPC_DIR` environment variable, see https://spack.readthedocs.io/en/latest/tutorial_modules.html#add-custom-environment-modifications

[2019-07-03 18:25] becker33 commented on #11563
Those flags are necessary for the apple version of the clang compiler.

We suffix the apple clang version number with `-apple`. We should add a check for that suffix before emitting those flags.

[2019-07-03 18:33] becker33 commented on #11695
@phanousk I believe these issues are unrelated, could you please create a separate bug report for yours?

[2019-07-03 18:42] becker33 commented on #11695
The intel compiler reports a build number as part of its version. The release of a given version only has one build number as far as I can tell. Version detection for the intel compiler should omit the build number.

[2019-07-03 19:00] becker33 commented on #11919
@huqy Would the proposal in https://github.com/spack/spack/issues/2184 to allow changes to which config scope is edited by default be sufficient for you? That would allow you to set the default to the `site` scope and have everything within your spack prefix.

The reason I ask is that customizing the user-scope directory via a config option can lead to really nasty bits of circular logic that we'r

[2019-07-03 19:07] becker33 commented on #11869
This is really more of a feature request than a bug report. I think it would be really cool to implement, but there are a lot of things that will need to take precedence.

[2019-07-03 19:09] tjahns commented on #11582
I stumbled across this issue when debugging my own compiler Pokemon hunt:
The [documentation](https://spack.readthedocs.io/en/latest/getting_started.html#configuration-with-modules) states that multiple modules can be specified like this:
`modules: [ mod1, mod2 ]`
but indeed only
`modules: [ mod1 mod2 ]`
where all the modules are combined into one string works.

[2019-07-03 20:58] scheibelp commented on #11858
A couple more questions:

* What Spack commit are you on?
* Do you have any entries in `packages.yaml` (that you added yourself)?

[2019-07-03 20:59] huqy commented on #11919
@becker33, thanks for the info. Looks like introducing `default_edit_scope` option in `config.yaml` will be good enough for my case. Looking forward to the updates.

[2019-07-03 21:03] tgamblin commented on #11685
@healther: @lee218llnl's referring to #11057, where we do this automatically

[2019-07-03 21:08] scheibelp commented on #10542
Closing now that https://github.com/spack/spack/pull/10620 is merged

[2019-07-03 21:11] #10542 closed

[2019-07-03 22:17] becker33 commented on #11685
Closing as this is now part of #11057 .

[2019-07-03 22:17] #11685 closed

[2019-07-03 22:18] becker33 commented on #11919
Closing as superseded by #2184.

[2019-07-03 22:21] becker33 commented on #2184
#11919 is superseded by the default config edit scope proposed here.

@scheibelp @tgamblin That would also alleviate concerns from Chris Nelson and Ross Bartlett about polluting user home directories, and others have brought up concerns. Should be easy to implement.

[2019-07-03 22:41] becker33 commented on #11698
If you put py-xdot in the view, it should behave as if activated when using that view.

[2019-07-03 23:07] citibeth commented on #2184
I don't think we need a special command to edit a file; that's what editors are for.  Documentation on what the scopes are, and where they are found (in case you want to edit them) is useful.

The advent of Spack Environments removes need to pollute your home directory; and now the scopes are moved to within the environment.

For those two reasons, I wouldn't mind seeing this Issue closed.

[2019-07-03 23:10] citibeth commented on #11919
There are two easy ways to get lots of scopes:

1. Create a config scope wherever you want, and then use the `--config-scope` command line argument.

[code]

2. Use Spack Environments --- which come with their own scope, or (optionally) allow you to link to other (shared) scopes.

[2019-07-03 23:12] citibeth commented on #11869
Typically, Spack Environments are designed so the entire environment is loaded (logically) as one module.  Do you want people to load only parts of an environment?

[2019-07-03 23:18] citibeth commented on #6231
All instances of `~` in `depends_on()` should be removed.

[2019-07-04 00:18] JaroslavHron commented on #10585
I have tracked down this problem to petsc package.

The `petsc` package depends on `zlib` -- `depends_on('zlib', when='+hdf5')`
and configures petsc here https://github.com/spack/spack/blob/fae14bff21e871b41c879869898830213ecf03dd/var/spack/repos/builtin/packages/petsc/package.py#L314
[code]
however this doesn't work correctly (at least on ubuntu 16.04) since the resulting `libpetsc.so` resolves t

[2019-07-04 00:34] songchaomail commented on #11858
- The Spack commit I'm using is: 30ce818fc44834d822887e812e34cbb02e5af2d0
$git show
commit 30ce818fc44834d822887e812e34cbb02e5af2d0
Author: Patrick Gartung <gartung@fnal.gov>
Date:   Mon Jun 24 21:09:24 2019 -0500
    Fix for #10063 : install from source if buildcache with different DAG exist (#11834)

- I didn't add packages.yaml file or entries in it.

[2019-07-04 00:53] scheibelp commented on #11537
@baberlevi #11595 should resolve this issue so I'm closing this. Feel free to reopen if you can reproduce this with #11595.

[2019-07-04 00:53] #11537 closed

[2019-07-04 01:38] scheibelp commented on #11515
There should be a `spack-build.env` file in the stage directory of the failed build. It will confirm whether or not the `PATH` and `SPACK_INCLUDE_DIRS` variables include the source base directory - could you add those values here? I would not expect them to be modified.

[2019-07-04 01:42] scheibelp commented on #11858
I'm having trouble reproducing this on a newer CentOS (7) docker image. So I'll need more info:

Can you give the output of `spack spec -I netcdf`?

Can you try the following:

[code]

[2019-07-04 01:55] songchaomail commented on #11858
**- $spack spec -I netcdf %gcc@4.4.7**

Input spec

 netcdf%gcc@4.4.7
Concretized

  netcdf@4.7.0%gcc@4.4.7\~dap\~hdf4 maxdims=1024 maxvars=8192 +mpi\~parallel-netcdf patches=10a1c3f7fa05e2c82457482e272bbe04d66d0047b237ad0a73e87d63d848b16c +pic+shared arch=linux-centos6-x86_64
[+]      ^autoconf@2.69%gcc@4.4.7 arch=linux-centos6-x86_64
[+]          ^m4@1.4.18%gcc@4.4.7 patches=3877ab548f88597ab232

[2019-07-04 03:11] v-dobrev commented on #10585
The commit where this handling of zlib was added is here: https://github.com/spack/spack/pull/7423/commits/71aa29133c4089d0375caa2112a556c80e409b1d. It looks like this was a workaround for an issue with building `ceed@1.0.0` on a Mac.

Can you post the PETSc configuration line for the default build (i.e. the build where you see the issue) on your system -- you can find it inside the file `.spack/b

[2019-07-04 07:07] JaroslavHron commented on #10585
here it is - the zlib options are at the end
[code]

[2019-07-04 08:01] tjfulle opened #11929 "Excessive library search times"
Per recommendations, in #2067, the system lapack/blas are marked as external packages:

[code]

Now, in some package file I have:

[code]

The call to `spec['blas'].libs` eventually makes its way to [`find`](https://github.com/spack/spack/blob/develop/lib/spack/llnl/util/filesystem.py#L1392) which calls [`_find_recursive`](https://github.com/spack/spack/blob/develop/lib/spack/llnl/util/filesystem.

[2019-07-05 06:45] songchaomail commented on #11858
I found that x['hdf5'].libs command returned null, even though  hdf5 was installed seperately.

[2019-07-05 12:15] luca-heltai commented on #11563
I'm not sure this is strictly related to those flags, but all executables that I create trhough spack simply segfaults. An earlier spack version worked fine with clang-6.0.0 (latest version I know work for sure is the one where deal.II-9.0.0 was released)

[2019-07-05 19:40] tgamblin commented on #7292
Closing this as I think by the time we got around to dealing with this, 0.12 was out.  We'll avoid mis-staged releases in the future -- sorry for the hassle!

[2019-07-05 19:40] #7292 closed

[2019-07-05 21:43] tgamblin commented on #11925
@tamaradanceva: Do you know how your SLURM instance is configured?  For example, ours are configured like this:

[code]

In this configuration, I believe you'd need to build `mpich` with `pmi=pmi2`.  Is `pmi` enabled for your SLURM instance?

[2019-07-05 21:50] tgamblin commented on #11846
@sameershende @khuck: this looks like an issue with the TAU package.  Does the ability to specify `-elf` only apply to specific versions?  If so that should probably be encoded in the package as a conflict.

[2019-07-05 21:53] tgamblin commented on #11691
@lee218llnl: do you mind looking at this one?  I think I've seen you report things in the past w.r.t. the `~/.intel` directory.  I'm not nearly as well versed in the compiler installation process.

[2019-07-05 21:59] tgamblin commented on #11747
This is a bug in the `depends_on` implementation.  We'll work on a fix.  The issue is that in `directives.py`, we're not preserving `pkg.fullname` when we make the dependency specs.

[2019-07-05 22:00] lee218llnl commented on #11691
I agree with @anderbubble regarding Intel, but that doesn't explain PGI. I haven't seen issues before with PGI. It would help to see where it's hung up (i.e., a stack trace or strace output).

[2019-07-05 22:03] anderbubble commented on #11691
I'm going to be messing around with spack this weekend; I'll see if I can
replicate it for you.

~jonathon

On Fri, Jul 5, 2019, 4:00 PM Gregory Lee <notifications@github.com> wrote:

[2019-07-05 22:06] sameershende commented on #11846
Yes, it does apply to TAU v2.28.1+. We will fix this as a conflict.

[2019-07-05 22:15] sameershende commented on #11846
@yantosca, would you please try installing TAU with Spack with TAU v2.28.1? 2.24.1 is very old and several new features have been incorporated in TAU since 2.24.1. Are there any specific features of TAU v2.24.1 that you are trying to use?

[2019-07-05 22:22] tgamblin commented on #11617
@mamelara: the issue is actually here in IntelPackage:

[code]

If you read this, it *looks* like `scalapack_libs` is only used when *self.provides('scalapack')*.  But `self` is the *Package*, and the Intel MKL package always "provides" scalapack.  What the code really needs to know is whether the dependent spec is *using* scalapack, i.e. whether the spec provides `scalapack` in this configuration

[2019-07-05 22:27] tgamblin commented on #11659
This is an issue with the current concretizer.  I'll take this one, as I'm working on a fix.

[2019-07-05 22:31] tgamblin commented on #11846
FWIW, and in @sameershende's defense, we don't currently support `when` clauses on variants.  The workaround for now is to add a conflict.

There's another issue here, which is that the `elf` defaults to `True` unconditionally, and so you'll get a conflict _unless_ you explicitly say `~elf`.  The conflict will add an error telling the user what to do, but I realize that this is annoying, since Spa

[2019-07-05 22:50] khuck commented on #11846
@tgamblin is this the right fix?

[code]

@sameershende Is there any reason to have spack support for TAU versions _that_ old?

[2019-07-05 23:56] khuck commented on #11846
Fixed with PR #11944

[2019-07-06 02:08] #11846 closed

[2019-07-06 02:57] #7841 closed

[2019-07-06 10:48] tamaradanceva commented on #11925
Hi, it works with pmi2, and I have pmi enabled. The Openmpi installation works with pmi by default, Slurm also takes pmi as default. Thank you very much.

[2019-07-06 10:48] #11925 closed

[2019-07-07 06:15] mwkrentel commented on #11819
@cdfh I tried your steps, but I'm unable to reproduce your results.
For me, spack treats cflags from `compilers.yaml` the way I'd expect.

First, some background on how spack treats compiler flags.  Spack has
three ways to pass flags to the build system.

1. `inject_flags` -- this adds flags to the spack compiler wrapper.

2. `env_flags` -- this sets environment variables.

3. `build_system_flags`

[2019-07-07 06:28] mwkrentel commented on #11819
Btw, for ncurses, I claim that these lines aren't needed at all.

[code]

Automake and libtool know how to build shared libraries and add
`-fPIC` themselves.  You can see that in the above output where it
uses `-fPIC` twice.

Also, adding `CFLAGS='...'` to the configure args changes the
optimization level from the autotools default `-O2` to nothing.
Note that there is no `-O` flag in the output ab

[2019-07-07 07:25] balay commented on #10585
could you post configure.log from this build? You might have to use 'spack install --keep-stage' to save configure.log

[2019-07-08 13:31] phanousk commented on #11695
OK

[2019-07-08 13:36] phanousk opened #11950 "conflicting intel-parallel-studio versions"
There is an issue with confliction parallel-studio versions. Reproducible by these steps:
1) fresh installation of Spack (git clone, no modifications)
2) follow the instructions here to install intel-parallel-studio@cluster.2019.4: https://spack.readthedocs.io/en/latest/build_systems/intelpackage.html#installing-intel-tools-within-spack for installation of intel-parallel-studio@cluster
3) follow t

[2019-07-08 14:12] tjfulle commented on #11919
I would also appreciate this feature.  I use spack in two "modes" - as the user, and as an admin.  When running as an admin, I have a totally different set of configuration options than when I run as a user.  The problem with `--config-scope` and environments is that the configurations in `~/.spack` are still read.  Furthermore, environments don't have the ability to override configuration section

[2019-07-08 14:20] tjfulle commented on #11803
@scheibelp I'll take a look this week.  Off the top of my head, there seem to be a few relatively straightforward solutions:

- check if the module is loaded and if it is, do nothing
- check if the module is loaded and if it is, reload it, otherwise load it
- unconditionally unload the module before loading

option 1 above would incur the least number of potential side-effects related to module hi

[2019-07-08 14:48] lee218llnl commented on #11691
I just tried PGI and I can see a defunct and unkillable vim process after I enter the license info and quit vim. The spack python process is stuck in parent_pipe.recv() in build_environment.py. I will try to debug this a bit further.

[2019-07-08 14:49] lee218llnl commented on #11698
I tried adding py-xdot to my singleton_packages and it still doesn't show up in my python environment. I don't see it in my  projection either:

    - combinatorial_packages: [netcdf^mpi, fftw^mpi, petsc^mpi, mpip^mpi]
    - singleton_packages: [emacs, cmake, stat^boost@1.69.0^mvapich2@2.3.1, valgrind,
        git, git-lfs, cuda, spindle, netcdf-fortran, py-xdot]

  view:
    default:
      exclud

[2019-07-08 15:38] yantosca commented on #11846
@tgamblin @sameershende: Thanks for looking at this issue.  I was trying to use tau@2.24.1, since that is the last version that I had access to that seemed to work.

I was able to install tau@2.28.1 with %gcc@8.2.0 and that seems to compile and instrument the code properly, but it chokes when it tries to link the executable:

    In function `__wrap_pthread_create':
    /tmp/ryantosca/spack-stage/

[2019-07-08 15:41] khuck commented on #11846
@sameershende @yantosca Yes, this appears to be a TAU issue, one I've seen before but can't remember the resolution off the top of my head.  We'll take it offline from this spack issue - I'll follow up with an email.  Thanks!

[2019-07-08 15:42] khuck commented on #11846
@yantosca ...I forgot to ask you to email us at tau-bugs@cs.uoregon.edu so that we can contact you directly.  Thanks!

[2019-07-08 16:41] tgamblin commented on #11824
Duplicates #11385.

This is something we want to do, but we haven't gotten around to it yet.  Releasing on PyPI would require restructuring the Spack distro in ways we don't currently have cycles to think about.

In the meantime, you can already script Spack by using spack-python:

[code]

Or by using [spack extensions](https://github.com/spack/spack/pull/8612), #8612.

The Spack API is also [docu

[2019-07-08 16:41] #11824 closed

[2019-07-08 18:09] lee218llnl commented on #11691
@tgamblin I suspect https://github.com/spack/spack/commit/0aed3bcea676a9df4a5c1c26a9a5ca7151d85215#diff-166d683c7a71bbff2ddc6c37ecab16b1 may be contributing to this. I don't understand the interactions well enough at this point to figure out the exact issue, but I imagine that you would have more insight.

[2019-07-08 19:03] wspear opened #11954 "Installation issue: py-jsonchema (No checksum provided for @2.6.0 requested by nrm)"
The nrm package specifically requests py-jsonschema@2.6.0. Attempting to install this package results in the following error:

==> Warning: There is no checksum on file to fetch py-jsonschema@2.6.0 safely.
==> Error: Will not fetch py-jsonschema@2.6.0
Add a checksum or use --no-checksum to skip this check.

[2019-07-08 19:04] sayerhs opened #11955 "IOError generated when using system modules that were built by another spack install"
On ORNL Summit, I am attempting to build some packages that use CMake (e.g., `netlib-lapack`). I have a `packages.yaml` file that specifies that Spack should use the CMake provided by system module. When I attempt to do this I get the following error. It appears that the package was built correctly, but errored out when Spack attempted to look into the paths where the original CMake module was ins

[2019-07-08 19:04] lee218llnl commented on #11691
I have confirmed that if I hijack the licensing.py code to force the use of Spack's Executable() instead of the default execv, then the installation process continues after I exit the editor. I can submit a PR if this seems like the proper solution, but I'm not sure if something more is more fundamentally wrong with the sited commit to the editor.py code.

[2019-07-08 20:25] scheibelp commented on #11929
Spack's current logic is to first search `lib/` and `lib64/` under the provided prefix, and it only tries recursively searching relative to the root if the libraries are not found in either of those directories. Or at least that's the intent: as a sanity check do you know for sure if the libraries you need are in `lib/` or `lib64/`?

[2019-07-08 20:49] becker33 commented on #11522
Assigning this to @alalazo since his PR #10753 will resolve the issue.

@qobilidop The reason it's specific to Stampede among the machines you work on is the version of TCL modules in use. It looks like new EnvironmentModules v4 does something special with BASH_FUNC_module() and some other variables.

[2019-07-08 20:56] scheibelp commented on #11858
To be clear: when you say it was installed separately, do you mean that it was installed by Spack with a separate command, or that it was installed without Spack? Based on https://github.com/spack/spack/issues/11858#issuecomment-508309413 it appears that there is a version installed by Spack (but I'm interested if you want to use a version that was not installed by Spack).

Also according to https

[2019-07-08 21:25] tjfulle commented on #11929
Thanks @scheibelp , yes the libraries are in `/usr/lib64` (symlinking `/usr/lib64` to `/opt/fake/blas/lib64` and setting `paths: alas: /opt/fake/blas` fixes the issue).

When a package's `.libs` property is queried, spack indeed looks in `<prefix>/lib`, `<prefix>/lib64`, and `<prefix>`, in that order.  See the function `_default_libs_handler` in `spec.py`.  But, for lapack/blas, this is not the ca

[2019-07-08 21:29] tjfulle commented on #11929
Adopting a search function similar to that of `spec.py::_default_libs_handler` in `netlib-lapack/package.py::blas_libs` (and `lapack_libs`), namely:

[code]

seems to fix the issue.

[2019-07-08 21:37] tjfulle commented on #11929
@scheibelp see PR #11958

[2019-07-09 04:07] becker33 commented on #11826
@citibeth How is this different than adding a `--list` argument in the `spack env loads` command that tells it to load only a given list from the `definitions` section of the stack (as implemented for some other commands in #11057)?

[2019-07-09 04:51] mShining opened #11960 "spack spec/install not responding"
### General
I ran `spack spec [package_name]` and didn't get the specificaions but to wait like forever.

### Steps to reproduce the issue

[code]
As far as I've tried, `cmake` can be any package that does exist.

### Error Message

If `package_name` is a package that does exist, it just shows "Concretized" but nothing else, until I manually abort it.
[code]
![image](https://user-images.githubuser

[2019-07-09 12:07] JaroslavHron commented on #10585
attached
petsc [configure.log](https://github.com/spack/spack/files/3372763/configure.log)
spack [build.out](https://github.com/spack/spack/files/3372807/spack-build.out.log)

this is ubuntu 16.04 system with spack compiled gcc 7.4.0

when using
[code]

the resulting libpetsc.so links to spack build libs except these (including libz.so):
[code]

if I use `--with-zlib-dir=spec['zlib'].prefix` then

[2019-07-09 13:42] citibeth commented on #11919
I'm dubious that this is `priority-high` because I believe the desired functionality can be achieved through a combination of command line scopes and avoiding putting stuff in `~/.spack`...

There has been an evolution over the past 3 years, as we got more scopes in more places.  First it was just `~/.spack`.  Now it's per-user scopes, per-user-per-architecture scopes, command line scopes, environ

[2019-07-09 13:45] citibeth commented on #11824
@tgamblin I think that `spack-python` does the trick here, along with the docs.

I think it sounds a lot easier than Spack extensions #8612.  I don't know how this has to do with #11385; nor do I think that releasing on PyPI is really the thing here.

[2019-07-09 14:03] citibeth commented on #11826
Because some people want to create ad-hoc load groups that are not build from cross products of different versions.  For example, stuff like this:
[code]
Load Groups provides a well-defined, flexible way to do this, i.e. a solid underpinning for #11057 and a number of other requests people have come up with.  This functionality should be available even if you're not doing the very specific task of

[2019-07-09 14:37] tjfulle commented on #11919
@citibeth, unless there is a guarantee that `~/.spack` is not searched, the desired functionality cannot be achieved.  Adding additional scopes with higher precedence than the user-scope may actually just muddy the waters in this case.  *If* environments' yaml parsing respected spack's double colon syntax, environments may deliver the desired functionality (see comments at https://spackpm.slack.co

[2019-07-09 14:50] citibeth commented on #11919
On Tue, Jul 9, 2019 at 10:37 AM Tim Fuller <notifications@github.com> wrote:

For your needs, *is it possible to just not put anything in `~/.spack`? * If
not, why not?  I think that is the core question here.

I agree, we don't want to just add extra scopes and have `~/.spack` still
there "polluting" things.

Double colon syntax might be useful.  But don't think it's appropriate to
use it as a wa

[2019-07-09 15:22] tjfulle commented on #11919
@citibeth said

not, why not?  I think that is the core question here.

No, because spack populates `~/.spack`, even if I don't.  Otherwise, I could *probably* get by with environments and command-line scopes.

But, that is not why I am interested in this feature.   I am evaluating spack as a distribution/development tool for a project (say, `ProjectA`) at SNL that we are refactoring away from our

[2019-07-09 16:02] tamaradanceva commented on #10313
Hi, I am encountering the same issue, has it been resolved by any chance?

[2019-07-09 16:21] ReinhardPrix opened #11966 "Installation issue: py-astropy"
### Short summary

The package `py-astropy` has a few problems:
1. the latest version (1.1.2) in spack is very old (March 2016), current version is 3.2.1
   (see https://pypi.org/project/astropy/)
1. `py-astropy@1.1.2` is uninstallable in both python-2.7.16 (default) and 3.7.3 (latest), see below.

Note that py-astropy *does* install under `python@3.5.0` and I suspect 3.6 as well, as that API chan

[2019-07-09 16:26] g-mathias commented on #11144
I see the same issue.  I've checked the installation logs of intel-parallel-studio and found that intel-ifort has a dependency on intel-mpi; probably because of coarrays. This is automatically resolved by the intel installer

[code]
So either the IntelPackage needs a ~ifort variant, or somebody has to persuade Intel to implement a 'disable dependency resolution' option.

[2019-07-10 00:58] songchaomail commented on #11858
- "hdf5 was installed seperately" means I've installed hdf5 with Spack: spack install hdf5
- I run different command in https://github.com/spack/spack/issues/11858#issuecomment-508309413 and https://github.com/spack/spack/issues/11858#issuecomment-508649899. In https://github.com/spack/spack/issues/11858#issuecomment-508649899, I run the following:
$spack-python
Spack version 0.12.1
Python 2.6.6,

[2019-07-10 01:19] #11966 closed

[2019-07-10 01:47] citibeth commented on #11919
@scheibelp @tgamblin

Spack Environments are supposed to be "bullet proof" and portable: i.e. if I build a Spack Environment, and you build the same environment, then we should both get the "same" result.  Clearly, random global variables (`~/.spack`) picked up blows a hole in this isolation and repeatability.  Now that it's been brought to my attention, I consider this to be a bug.  Two users bui

[2019-07-10 02:59] v-dobrev commented on #10585
Looking at the following lines from `configure.log`:
[code]
it looks like `zlib` is missing the rpath option `-Wl,-rpath,...` -- maybe when using `--with-zlib-lib=...` the rpath option has to be explicitly given?

[2019-07-10 03:36] tjfulle commented on #11919
Thanks @citibeth for the thoughtful reply.  At this point we have thoroughly hijacked @huqy's simple question!  I concur, the fact that user-scope configs can pollute environments is a bug.  `spack env` + `spack setup` could be an incredible development workflow, but is currently limited (as we have discussed).  I don't think new keywords are necessary, support for double colons would suffice.  I

[2019-07-10 03:51] tjfulle opened #11972 "Environment configs should be self contained"
@citibeth and I pretty well hijacked #11919 with a discussion on how different config-scopes interact with environments.  Currently, all scopes are read, with the environment's scope taking precedence.  This is a bug.  An environment's config should be completely independent of any other scope so that environments can be repeatable across machines and users.  A simple case to demonstrate why this

[2019-07-10 03:51] citibeth commented on #11919
On Tue, Jul 9, 2019 at 11:36 PM Tim Fuller <notifications@github.com> wrote:

Sorry, I forget that discussion.  If the problem is it's CMake-specific...
I think there's a generalization / simplification for this that can work
for all build systems.  Don't know why it took me so long to figure that
out.

Yes, I like that.  We an already add scopes to environments.  If you want
to put `~/.spack` in

[2019-07-10 04:04] tjfulle commented on #11919
@citibeth said:

I was referring to this discussion thread and the limitation being that environments are not independent of `~/.spack` and no real way around it (other than temporarily moving or removing the contents of `~.spack`).

@citibeth said:

scope search path if any `--config` flags...

To be honest, if environments were independent of other scopes, I would have no use for any other confi

[2019-07-10 09:35] alalazo commented on #3690
@adamjstewart @tgamblin I got hit by this today in a very annoying way (had to give the same uninstall command 6 times). I got a moderately simple reproducer at c2de2558b6423711e3b2cdbaaca1c0b0dfb61757 :
[code]

[2019-07-10 11:22] alalazo commented on #3690
I think I got the issue. When we compute the list of dependents we end up building a `DependencyMap` object which maps a `str` (the name of the parent) to **a single** `DependencySpec` object:

https://github.com/spack/spack/blob/c2de2558b6423711e3b2cdbaaca1c0b0dfb61757/lib/spack/spack/spec.py#L1063-L1072

This is clearly insufficient for most cases. For instance in the reproducer above we had 2 d

[2019-07-10 11:35] alalazo commented on #3690
@tgamblin @scheibelp I put this issue in high priority as I think currently we can't trust a traversal of dependents to be correct.

[2019-07-10 14:17] pat-s commented on #11325
It could be that `libiconv` from Spack conflicts with the `libiconv` support in `glib`: https://trac.osgeo.org/grass/ticket/2940

[2019-07-10 15:51] jrood-nrel commented on #11955
@mpbelhorn Would you have information that would help us regarding this?

[2019-07-10 17:53] adamjstewart opened #11980 "Unable to uninstall external package"
On the latest develop, I tried uninstalling all of my packages, and Spack hung on an external `jdk` installation. It appears that Spack is unable to uninstall extendable packages (or any package that extends them) when that external package is installed in a directory the user does not have permission to access.

### Steps to reproduce the issue

Add the following to `packages.yaml`:
[code]
Then t

[2019-07-11 02:55] adamjstewart commented on #11980
Were there any recent PRs that modified how external packages are treated? Wasn't there a recent attempt to fix module-file creation for installations where the package no longer exists/was renamed? I wonder if that's what is trying to access the `.spack` directory in the installation prefix.

[2019-07-11 07:22] alalazo commented on #5637
Duplicate of #3690

[2019-07-11 07:57] steffen-AEI opened #11982 "Build error: singularity-legacy (2.6.1) with Spack-provided libarchive"
`singularity-legacy` fails to build in configure phase although libarchive is available (and unchanged for long), has no variants, and was added as a dependency.
System is CentOS 7, Spack uses GCC 7.3.0, package file has been merged with latest git.

### Steps to reproduce the issue

[code]
[code]
[code]

### Platform and user environment

Please report your OS here:
[code]

### Additional informa

[2019-07-11 08:06] alalazo opened #11983 "Incomplete computation of installed dependents"
Follow-up of https://github.com/spack/spack/issues/3690#issuecomment-510020811. Basically everything that relies on computing dependents is broken when a spec has more than one dependent with the same name.

### Steps to reproduce the issue
The issue can be reproduced with e.g. Spack at d3be42fccaabbdc71c03da0886214b31a29921e5. Let's start by installing 2 different versions of `hdf5` depending on

[2019-07-11 10:22] JaroslavHron commented on #10585
just additional observations:

1)  the resulting `libpetsc.so` shows
[code]

but the correct path for spack's zlib is in the RPATH record of this `libpetsc.so`
[code]

however in this RPATH there is also (since I use spack compiled gcc@7.4.0)
[code]
which comes before zlib and leads to the wrong `libz.so` linking...
at the end it might be some problem with using spack compiled gcc?

my compilers.y

[2019-07-11 10:30] JaroslavHron commented on #10585
After some tests - when using
[code]

instead of `'--with-zlib-lib=%s'     % spec['zlib'].libs.ld_flags,` then the petsc configure.log has
[code]

it seems that `--with-xxx-lib=` should be a list of libs not the ld_flags...

this fixes my problem by putting the zlib in the `rpath` before the gcc path

however there still might be potential problem in the rpath with spack compiled gcc - see above??

[2019-07-11 10:43] steffen-AEI commented on #11982
Checking the config.log, `-larchive` is used without any `-L` information:
[code]
although the pkgconfig information for libarchive is there:
[code]
Building would succeed if one could use system-installed libarchive* but that's not an option here.

[2019-07-11 11:37] alalazo commented on #11980
I am unable to reproduce it:
[code]

[2019-07-11 12:19] cdfh commented on #11819
@mwkrentel Thanks for the details on how `CFLAGS`/`CXXFLAGS` propagates in spack, I found them helpful.

I can't reproduce, I'm afraid: I've since moved away from my initial configuration and no longer set `CFLAGS`/`CXXFLAGS` in `compilers.yaml`. It took some time to arrive at the setup where my PR seemed to fix my problem, and I'm afraid I don't have time to try to reproduce it.

From your descri

[2019-07-11 12:19] #11819 closed

[2019-07-11 14:05] albestro commented on #11240
I'm addressing the same problem with a shared multi-user instance of spack.

I gave a quick look at the code, trying to follow the code.

Starting point is in this snippet, where it checks for the existance of the folder, and in case it triggers the folder creation with `create_install_directory`
https://github.com/spack/spack/blob/d3be42fccaabbdc71c03da0886214b31a29921e5/lib/spack/spack/package.p

[2019-07-11 15:54] hartzell commented on #11982
[code]

[2019-07-11 15:58] steffen-AEI commented on #11982
I *think* the configure test should include the path to the library (from the pc file), to avoid the one from /usr/lib to be used *for the detection*.

[2019-07-11 15:59] hartzell commented on #11982
A couple of questions:

- What happens if you (`(module purge; spack install singularity-legacy`)?  The package has a build-time dependency on libarchive, so you shouldn't need anything loaded in your environment to pick it up.

- What does `spack spec singularity-legacy` tell you?  I see this:

[code]

[2019-07-11 16:02] hartzell commented on #11982
Do you have the system's libarchive installed?  Perhaps it's working for me because my build is picking it up during configure and/but linking spack's copy.

[2019-07-11 16:03] steffen-AEI commented on #11982
No, there's no libarchive* in the system, and never will be.

[2019-07-11 16:17] adamjstewart commented on #11980
@alalazo I updated the initial bug report to add more details on how to reproduce the issue. It looks like an extension must also be installed for the bug to occur. Maybe Spack is trying to check if the extension has been activated and is crashing when it can't check?

[2019-07-11 16:22] adamjstewart commented on #11980
I've also found a workaround for uninstalling the packages affected by this bug. Simply remove `extends('jdk')` from any extension and you can uninstall everything successfully.

[2019-07-11 16:23] hartzell commented on #11982
See also:

- https://github.com/sylabs/singularity/issues/1401
- https://github.com/sylabs/singularity/issues/1876#issuecomment-416305548
- https://github.com/sylabs/singularity/issues/1925#issuecomment-419165821

It seems as if they're acknowledging that they depend on the system version of libarchive.  They say that support for `pkg-config` would be reasonable, but that's the last comment they m

[2019-07-11 16:32] hartzell commented on #11982
If I understand this snippet of the output of `sudo yum history info libarchive`, I ended up with it installed as a dependency of `samba-client`.

[code]

There's not much that I can do to change things on this machine; I'd need to build a bare/minimal instance to dig any further.

How motivated are *you* to fix it?  Can you take a whack at patching the upstream `singuarity` tree's `configure.ac`

[2019-07-11 17:05] lcebaman opened #11987 "spack install vtk"
### Steps to reproduce the issue

[code]

### Platform and user environment

[code]

[2019-07-11 17:07] lcebaman commented on #11987
Any idea how to fix this?

[2019-07-11 19:27] mwkrentel commented on #11819
@cdfh We're now outside the limits of my understanding of spack.
I know something about autotools and how spack treats compiler flags,
but I don't normally use llvm and I've never had to set extra_rpaths.

If you find some case that spack handles badly, then open another
issue.  Just be sure to give step-by-step directions starting from a
clean environment so that someone else can reproduce the pr

[2019-07-11 20:32] #11781 closed

[2019-07-12 03:22] #8642 closed

[2019-07-12 07:28] steffen-AEI commented on #11982
Not now - I'm on vacation leave right now, and won't be back in business before August.
Also I'm not a cmake/autoconf expert to the extent that seems to be required here.

Re dead-end, 2.6.1 is the last working version on Debian Jessie and Stretch, and the whole Go infrastructure that is required for the 3rd generation is way too heavy for me. This setup is three years old, and even the Spack conf

[2019-07-12 08:15] albestro commented on #1799
I'm trying to setup a multi-user shared instance of spack, and I faced the problem of permission about packages (they are set on packages but not on the hierarcy architecture/compiler).

I started from #11240 but I found also this issue that seems to be related.

I proposed PR #11995 as a starting point for fixing this. I'm eager to get feedbacks on it.

[2019-07-12 18:15] wspear opened #12001 "spack.yaml providers directive does not impose version or variants"
The first chunk of my spack.yaml file looks like this:
[code]

This results in packages concretizing in my environment using mpich, but using the latest mpich version and without my requested variant. It would be nice if the specifications given to the provider could be enforced (or at least if there was some warning or error to indicate that the syntax isn't applicable here).

The workaround is t

[2019-07-12 18:21] wspear opened #12002 "'spack install --only dependencies' does not work in a spack environment"
If I am in a spack environment (a spack.yaml file is in my working directory) and I run a command like 'spack install --only dependencies foo' the package foo will be installed as well. If there is no active spack environment this works as intended (foo's dependencies will be installed but foo will not).

[2019-07-12 18:27] wspear opened #12003 "Allow request for 'only dependencies' within a spack.yaml file"
Currently the functionality of 'spack install --only dependencies ...' is provided only on the command line. It would be handy to have the ability to be able to request dependencies only for a package in the specs list of a spack.yaml file.

Currently my workaround is to manually obtain a list of dependencies and write that into the specs list, or perform the 'spack install --only' operation on th

[2019-07-12 18:46] LDAmorim commented on #2230
Hi,
Sorry to bother you again with such an old issue, but I am new to spack and can't solve this issue.
I compiled gcc@9.1.0 and python@3.7.0 (with %gcc) with spack successfully on MacOS Mojave.
Now I was trying to install python packages (f.eg. matplotlib) with spack.
When I try to install them, I get the error message `ModuleNotFoundError: No module named '_scproxy'` on the final line in the spa

[2019-07-12 23:06] #11782 closed

[2019-07-13 00:46] #11929 closed

[2019-07-13 01:08] mamelara opened #12007 "unzip conflict too harsh for Cray"
Couldn't really find the right label since it's not really a build error, or a bug but I think that the conflict between unzip and `platform=cray` is a bit too much. I pretty much can't build `vim` on the Cray. I think maybe it should just not be built with `target=be`? @jrood-nrel thoughts?

[2019-07-13 01:43] adamjstewart commented on #11987
Possible duplicate of #7901 #7986 #8133 #9408. Hopefully one of those issues mentions a workaround that helps!

[2019-07-13 04:52] adamjstewart commented on #11535
I've had a lot of problems with NetCDF in the past. Back in the day, the NetCDF C and Fortran libraries came in a single tarball, and were installed together. More recently, NetCDF decided to split them into separate packages. A lot of packages that depend on them still think they will be installed in the same directory, but that is no longer the case. I'm not sure if this is the same issue you're

[2019-07-13 09:29] Sinan81 commented on #11325
I was entertaining the idea of using system installation of libxml2 as a workaround via putting the following in ~/.spec/packages.yaml
[code]
at first glance this seems to be not working out of the box (giving pkg_config errors).

P.S: with the latest dev version of spack, I was getting some concreatization errors, which I fixed via specifying certain dependency versions:
[code]
mentioning this he

[2019-07-13 11:15] alalazo commented on #11960
I'm not able to reproduce the bug on 5bc15b2d9a061b37e55434edec6ae3954e95032b:
[code]
Could you try:
[code]
and check if concretization is stuck again? Beware that the first time you give a command it might take longer (around a minute) as it is rebuilding a few lookup tables for later reuse.

[2019-07-13 14:05] #11954 closed

[2019-07-13 14:41] citibeth commented on #11325
Have you installed *libxml2-devel *from your yum?

https://centos.pkgs.org/7/centos-x86_64/libxml2-devel-2.9.1-6.el7_2.3.x86_64.rpm.html

On Sat, Jul 13, 2019 at 5:29 AM Sinan <notifications@github.com> wrote:

[2019-07-13 14:47] citibeth commented on #2230
Things work on Mac, as long as you use the Mac-supplied clang compiler.  There is stuff in the Spack docs on mixing Clang + gfortran to get a full compiler stack.

[2019-07-13 16:52] adamjstewart opened #12010 "Warning: No Spack mirrors are currently configured"
Can we get rid of this warning message (at least until Spack mirrors are commonplace)?
[code]
### Steps to reproduce the issue

[code]

[2019-07-13 17:15] adamjstewart opened #12011 "Split Clang and Apple Clang into separate compilers"
We should consider splitting Clang and Apple Clang into separate compilers, like `%clang` and `%apple`.

### Rationale

I'm trying to build the latest version of `scikit-learn`, which recently added an OpenMP dependency. Apple Clang currently does not come with OpenMP support by default, so I need to add a dependency on `llvm-openmp`. However, there is currently no way to check whether Clang or Ap

[2019-07-13 18:22] Sinan81 commented on #11325
Yes, I installed the dev package (actually, I tried this on LinuxMint/Ubuntu)

[2019-07-13 20:44] citibeth commented on #11325
Can you post your spack-build-out.txt file?

On Sat, Jul 13, 2019 at 14:23 Sinan <notifications@github.com> wrote:

[2019-07-13 22:52] tuxfan opened #12012 "spack compiler find"
Spack should search again for compilers in already-found variants to detect when a new compiler has been added to a previous installation by a package manager, e.g., apt

I added gfortran after spack complained that mpich requires f77 support. Spack would not detect the new compiler until I removed ~/.spack/linux/compilers.yaml to force it to search for compilers again.

[2019-07-14 03:45] Sinan81 commented on #11325
attached is the file. installation is failing during the compilation of the dependency `fontconfig`.
[spack-build-out.txt](https://github.com/spack/spack/files/3389432/spack-build-out.txt)
[code]

[2019-07-14 09:40] pat-s commented on #11325
What helped for me was

`spack install grass@7.4.4 ^libgeotiff@1.2.1`

but I am running into `libiconv` errors later on.

[2019-07-14 15:22] lcebaman commented on #11987
Possible, but the solutions provided do not satisfy our system. We cannot even locate `packages.yaml`. Is there a cleaner solution?

[2019-07-14 19:32] adamjstewart commented on #11987
You can figure out where your `packages.yaml` contributions come from via:
[code]
Also see https://spack.readthedocs.io/en/latest/configuration.html for additional locations where `packages.yaml` files can be placed if you don't already have any.

I don't currently know of one, but @scheibelp or @tgamblin might.

@scheibelp @tgamblin if we figure out a reliable way to workaround this, we should ad

[2019-07-14 22:45] glennpj opened #12020 "spack versions and spack checksum only using list_url"
I noticed that when looking for updates to R CRAN packages, which have a `url` and a `list_url` setting, that `spack versions/checksum` will only use the `list_url`. The expected, or preferred, behavior is to use both the parent directory of the file in the `url` *and* `list_url`.

### Steps to reproduce the issue

[code]
The current version on CRAN is actually 0.5.2 but that does not show up. Tha

[2019-07-15 02:30] adamjstewart commented on #12020
So the issue here is that Spack is trying to be too smart. `spack.cmd.versions` calls `spack.package.fetch_remote_versions`, which calls `spack.util.web.find_versions_of_archive`, which calls `spack.url.find_list_url` on the package's `url` attribute. Normally, this function simply returns the `dirname` of the URL, as you would expect. However, since Spack knows that this URL belongs to CRAN, it i

[2019-07-15 04:50] LDAmorim commented on #2230
Hi, Thanks! I will try to use then both clang + gfortran.

[2019-07-15 14:28] citibeth commented on #2230
I'm closing this because I don't think it will ever be realistic to build significant software stacks on macOS with GCC.

[2019-07-15 14:41] obreitwi opened #12026 "Installation issue: font-util (after PR #11785)"
When trying to install `font-util`, we get the following issue:

[code]
The relevant changes seem to have been introduced in PR #11785.

---

### Steps to reproduce the issue

[code]

### Platform and user environment

[code]
### Additional information

[code]

[2019-07-15 16:22] jrood-nrel commented on #12007
Sure. Fix it however you want! The only reason I have that conflict is so that people were aware that unzip doesn't build on Cray at the moment. I don't know how I would fix it.

[2019-07-15 16:57] ajw1980 opened #12027 "setup-env.sh doesn't set up module function correctly"
This does not work right (line 334):
[code]
[code]
_sp_shell is not exported so that variable is not defined when the module function is executed.
MODULE_PREFIX_BIN is exported so that works.

[2019-07-15 17:30] #5637 closed

[2019-07-15 20:15] scheibelp commented on #11858
Can you `ls` the `lib` directory of the `hdf5` installation and add the results here?

[2019-07-15 20:51] ajw1980 commented on #12026
I saw this as well. It is a missing dependency in font-util/package.py. It needs at least this I think:
[code]

[2019-07-15 21:00] scheibelp commented on #11987
What commit of Spack are you on?

So for example you cannot build mesa? If so, you could do `spack spec vtk+osmesa ^hdf5+hl+mpi ^mesa`, which should avoid the concretization issue.

[2019-07-15 21:00] ajw1980 commented on #12027
Yes, the change looks good to me.

[2019-07-15 22:38] tgamblin commented on #2816
@mamelara: is this still an issue on Cori?

[2019-07-16 05:43] #12027 closed

[2019-07-16 08:44] obreitwi commented on #12026
Thank you for the hint! The `build`-dependency is not enough, though: We need a `run` dependency so that the executables are still available after the install step. The full workaround is:

[code]

[2019-07-16 09:08] songchaomail commented on #11858
ls: cannot access /home/songchao/spack/opt/spack/linux-centos6-x86_64/gcc-4.9.3/hdf5-1.10.4-chi747qhc5awatgmret66wtppwmznone: No such file or directory

ls: cannot access /home/songchao/spack/opt/spack/linux-centos6-x86_64/gcc-4.9.3/hdf5-1.10.4-chi747qhc5awatgmret66wtppwmznone/lib: No such file or directory

[2019-07-16 13:14] ajw1980 commented on #12026
It built correctly for me with just the build dependency. I don't know why autoconf would need to be a runtime dependency for this.

[2019-07-16 13:23] ajw1980 commented on #5794
Building binutils and the bin directory from it to the path in compilers.yaml seems to work around this problem without having to add binutils to a bunch of package dependencies:

[code]
I tried adding binutils in the modules section, but that seemed to break compiling.

It seems like gcc and binutils should somehow be tightly coupled for compiler selection. For packages without an explicit binuti

[2019-07-16 15:28] obreitwi commented on #12026
Ok, very weird: After uninstalling `font-util` and removing the `run` dependency, re-installing did succeed for me as well (although for some reason it did not the first time around).

However, I'm pretty sure the issue should be taking care of by the `AutotoolsPackage`-base, should it not?

[2019-07-16 15:54] #11522 closed

[2019-07-16 17:27] wspear commented on #12026
In addition to addressing this particular bug, is there any way spack can produce more meaningful error output for similar issues? I was trying to formulate a report of this issue myself and found that it built on one platform but not another (in retrospect it is clear that one had the missing dependencies installed outside of spack). With only a python-level error to go on I wasn't sure how to pr

[2019-07-16 20:47] tstilwel commented on #5542
@lee218llnl @alalazo

Just curious if you received more feedback or have any updates.  I'm experiencing the same problem with version 19.

Thanks,
Terry

[2019-07-16 21:26] lee218llnl commented on #5542
I just pinged Intel. I still have an open request with them.

[2019-07-17 04:54] Sinan81 commented on #9446
perl build fails on Centos 7.6.1810 with default compiler gcc@4.8.5
I tried compling various versions of perl( oldest, newest, and others) and they all failed.

[code]

[2019-07-17 06:28] Sinan81 commented on #9446
just tried installing perl on a vagrant box of Centos 7.6.1804, and perl installation just worked fine.

[2019-07-17 06:55] Sinan81 commented on #9446
also for Centos 7.6.1811.1 vagrant box, perl builds just fine with default compiler gcc@4.8.5.

[2019-07-17 14:41] DarylGrunau opened #12045 "Installation issue: trilinos <= 12.10.1 fails cmake phase"
I'm having difficulty building older versions of Trilinos due to a cmake configuration error (see output below).  To reproduce simply leave the default variants and specify downrev versions.  @aprokop, @keitat would you mind commenting about this as well?

---

### Steps to reproduce the issue

[code]

### Platform and user environment

Please report your OS here:
[code]

[2019-07-17 15:09] DarylGrunau commented on #12045
If helpful: I am attempting this build with `gcc@7.4.0` and `cmake@3.14.4`

[2019-07-17 15:13] floquet commented on #12045
I'll try to replicate.

[2019-07-17 15:31] DarylGrunau commented on #12045
FYI, the failure signature is the same using `cmake@3.14.5` (and same GNU toolchain).

[2019-07-17 17:02] DarylGrunau commented on #12045
Update: there appears to be a bad interplay between variants `chaco` (default=False) and `exodus` (default=True) where a fatal error is encountered in downrev versions of Trilinos during the configuration phase.  As expected this issue is circumvented by specifying `~exodus` on the build line for all suspect versions.

[2019-07-17 20:52] adamjstewart commented on #9149
See #10881 and #12050 for workarounds to avoid this problem until we come up with a better solution.

[2019-07-18 08:18] alalazo commented on #11960
@mShining Any news on this issue?

[2019-07-18 14:40] pat-s opened #12052 "Error when adding package to environment"
Removing the directory and retrying does not help.

[code]

[2019-07-18 22:38] wspear opened #12059 "Installation issue: vtkm fails to build with cmake@3.9.6 as required by ascent"
Installing ascent requires a particular spec for the vtkm package which fails to build. After a bit of twiddling I determined that it is use of cmake 3.9.6 that causes the problem.

For reasons I am not yet sure of, possibly relating to my use of an environment, explicitly telling vtkm to build with cmake@3.14.5 resulted it in still building with the older version.

Out side of my environment the

[2019-07-18 23:11] wspear opened #12060 "Installation issue: bolt"
Running:

`spack install bolt`

Fails like:

[code]

[2019-07-18 23:19] wspear opened #12061 "Installation issue: papyrus^mpich"
Papyrus builds with openmpi but fails to build with mpich.

Running:

`spack install papyrus^mpich@3.2.1 device=ch3 +hydra netmod=tcp +pci pmi=pmi +romio~slurm~verbs~wrapperrpath`

Fails like:

[code]

[2019-07-19 02:28] #8835 closed

[2019-07-19 07:18] albestro commented on #5274
Hi,
I know that it is an old comment, but I hope this may help someone or it may be a way to restart thinking about this problem and solve it.

I'm also working in a Cray environment, cross-compiling code for two different architectures.

After digging into the mechanism, this is what I understood:
- `setup_env.sh` calls `spack --print-shell-vars sh,modules` and from its output extracts both syste

[2019-07-19 07:42] albestro opened #12062 "spack module (tcl|lcov|dotkit) loads: does not work with upstream packages"
`spack module * loads` does not work with upstream packages.

### Steps to reproduce the issue

[code]

### Error Message

[code]

### Information on your system

I configured `upstreams.yaml` like this

[code]

[2019-07-19 15:14] #11240 closed

[2019-07-19 16:35] wspear opened #12065 "Installation issue: catalyst"
`spack install catalyst`

fails to run like:

[code]

[2019-07-19 17:40] 23skdu opened #12066 "Bzip2 package has bad url: Returns Code 410"
Trying to bootstrap a new build, and it's breaking after pulling a fresh copy of Spack,
because the url in the bzip2 package is bad;

# curl -sI https://fossies.org/linux/misc/bzip2-1.0.6.tar.gz
HTTP/1.1 410 Gone
Date: Fri, 19 Jul 2019 17:34:13 GMT
Server: Apache
X-Content-Type-Options: nosniff
Strict-Transport-Security: max-age=15768000
Content-Length: 2126
X-XSS-Protection: 1; mode=block
X-Frame

[2019-07-19 18:18] becker33 commented on #8908
@jcftang is this resolved by #12051?

[2019-07-19 19:09] ajw1980 commented on #11822
I also do the same as @healther and created a view and then create a custom module that sets PATH and PYTHONPATH for the view. I tried without PYTHONPATH, but there was at least one python module that didn't work when I left it off. I don't remember which one at this time. It would seem like a nice feature for a file system view to create a module to set a user's environment up to use that view.

[2019-07-19 19:10] jcftang commented on #8908
@becker33 I would need to verify this next week, but from eyeballing https://github.com/spack/spack/pull/12051/files it looks it's going to work.

[2019-07-19 19:40] adamjstewart commented on #12066
#12017 updated the URL to a new location. You should update your Spack instance.

[2019-07-19 19:40] #12066 closed

[2019-07-19 19:41] adamjstewart commented on #12065
@chuckatkins @danlipsa are listed as maintainers

[2019-07-19 19:51] scheibelp commented on #11972
https://github.com/spack/spack/pull/11602 would also allow you to override other configurations with the environment config, so that would be another way to resolve this issue.

[2019-07-19 19:58] scheibelp commented on #11983
I have reclassified this to medium impact because I don't know of this affecting commands other than `spack dependents`. You fixed the primary resulting issue from this bug in https://github.com/spack/spack/pull/11977.

Feel free to undo that if you disagree.

[2019-07-19 20:10] scheibelp commented on #12001
`providers` is only intended to choose which implementation to build with. As you have noted this can be done by adding a section for the specific package.

I would prefer the latter. I'll keep this open but I would consider it a feature to be more-informative about the use of `providers` (so I have updated the tags accordingly).

[2019-07-19 20:34] scheibelp commented on #12010
I'll skip the triage step and say I think this could be resolved by making the mirrors warning a debug-level message.

[2019-07-19 20:41] becker33 commented on #8908
@jcftang I'm pretty confident it should fix it, I'll mark that PR as closing this issue and correct me if that turns out not to be true.

[2019-07-19 21:26] scheibelp commented on #12026
I'll add a PR based on @ajw1980's suggestion

@obreitwi

It does not: even if a package is an `AutotoolsPackage`, it was found that not such packages require these dependencies, so `AutotoolsPackage` does not include them by default.

@wspear

If you run the install with `-d` like `spack -d install ...` it should report the error message. Failing that, the error message should be in the build log

[2019-07-19 21:37] scheibelp commented on #12052
Could you rerun the command with `--stacktrace -d` like `spack --stacktrace -d add libpng` and add the full output here?

To make sure, do you mean removing `/opt/spack/var/spack/environments/paper2/.spack-env/view` doesn't work?

Some other questions:

* Are you using the view associated with your environment?
* Do you have any special configuration in `packages.yaml`?
* Could you print the resul

[2019-07-19 21:50] becker33 commented on #12061
@jungwonkim Do you have any insight into this? It looks like you were the one who added papyrus to Spack.

@wspear Have you tried building with a different compiler? Especially if you're using an external MPI, it looks like your libc versions might have a mismatch.

[2019-07-19 21:58] becker33 commented on #11955
I'd really appreciate whatever insight you have into this @mpbelhorn. I was not able to reproduce it on the Summit/Sierra-style testbeds at LLNL, although that was with cmake@3.14.5 and gcc@7.3.1 due to what's available on the system.

[2019-07-19 21:59] becker33 commented on #11955
@sayerhs does this occur with any modules other than cmake?

[2019-07-19 22:18] sayerhs commented on #11955
@becker33 No, this only happens on Summit with `cmake/3.14.2` spack package. This error doesn't occur with the other `cmake` modules installed on Summit. Poking into the the directories, I notice that on Summit `cmake/3.14.2` doesn't have a `cmake` directory within `.spack/repos/builtin/packages` while the other `cmake` builds have that directory.

[2019-07-19 23:02] scheibelp commented on #11825
I would call this a feature because as of now you cannot install the same top-level package multiple times in an environment. There is a related PR to make this possible but I have to understand the reprecussions (see: https://github.com/spack/spack/pull/11687).

[2019-07-19 23:06] scheibelp commented on #11501
@jczhang07 it looks like `elfutils` won't build with your default compiler. Does `spack compiler list` show other compilers you can use? You can also build a compiler (e.g. `GCC`) with Spack, and then use that to build `elfutils` (and other packages as well).

[2019-07-19 23:16] scheibelp commented on #11467
The `context` variant does exist for me, but the `coroutine2` library is currently not supported in the Spack boost package. If you have the time, could you submit a PR adding it?

[2019-07-19 23:18] scheibelp commented on #11413
#11414 has now been merged so I will close this as fixed. Please reopen if the issue persists.

Thanks @hfp!

[2019-07-19 23:18] #11413 closed

[2019-07-19 23:29] scheibelp commented on #11322
As of now Spack concretizes each package to decide what patches/resources to pull in. I think it's possible Spack could just download every tarball, patch, and resource that it comes across in its repository (but that would have to be added in a PR).

For now, are you able to build a mirror with more selective statements? You can also invoke `spack mirror create` with `-f` to point to a file that

[2019-07-19 23:42] scheibelp commented on #11308
`configure('--prefix=/home/spack_user/GP/spack/opt/spack/linux-ubuntu16.04-x86_64/gcc-5.4.0/blis-0.5.2-a796642c355271a1f03493adf1aa71a0e7111214f5d861488b6afa6cae64d72c','CFLAGS=-Wno-error=maybe-uninitialized', ' auto')`

Did Spack generate that? I could see this being the source of the error, you'll generally always want this line to set `--prefix` to the Spack-chosen prefix:

`configure('--prefix

[2019-07-19 23:47] scheibelp commented on #11277
If building tests changes the package, then a `+test` variant may be suitable. Generally it is assumed that building test dependencies and running tests doesn't change the installed bits and so using `self.run_tests` is ideal.

[2019-07-19 23:49] scheibelp commented on #11253
https://github.com/spack/spack/pull/11290 is now merged and does appear to address the specific error reported here, so I am closing this as fixed. Please reopen if the issue persists.

Thanks @KineticTheory!

[2019-07-19 23:49] #11253 closed

[2019-07-20 00:16] wspear commented on #12061
@becker33 I can test some more next week, but my environment is limiting everything to a build with the same gcc 7.3.0 including mpich which was internal, so my guess is a package/build-system is doing something weird.

[2019-07-20 00:33] scheibelp commented on #11170
Agree with https://github.com/spack/spack/issues/11170#issuecomment-483738722 this this is a download error.

I was able to `spack stage gcc +nvptx` so I think this was a temporary issue where the website for the `nvptx` resource was down; therefore I'm going to close it. Please reopen if the issue comes up again.

[2019-07-20 00:33] #11170 closed

[2019-07-20 00:35] scheibelp commented on #11149
Assigning @becker33 because his PR at https://github.com/spack/spack/pull/11910 should resolve this.

[2019-07-20 00:42] scheibelp commented on #12062
I won't be able to look at this until 7/29.

To check: did you run `spack module <type> refresh` in the upstream instance after doing the install as mentioned in https://spack.readthedocs.io/en/latest/chain.html?highlight=upstream#using-modules-for-upstream-packages?

[2019-07-20 00:45] #12026 closed

[2019-07-20 01:00] scheibelp commented on #11010
https://github.com/spack/spack/pull/11180 (which mentions fixing this) has now been merged. So I'm marking this closed. Feel free to reopen if the issue persists.

[2019-07-20 01:00] #11010 closed

[2019-07-20 01:08] #8908 closed

[2019-07-20 03:11] citibeth opened #12073 "New Oracle Licensing Terms"
`spack install java` now fails with:
[code]

This is because Oracle just changed license terms.  You now need OpenJDK.  ALL version URLs in our current Spack package need to be changed:

https://www.oracle.com/technetwork/java/javase/downloads/jdk12-downloads-5295953.html

Has anyone else seen this yet?

[2019-07-20 07:43] tgamblin commented on #11149
Fixed by #11910.  Please reopen if this is still an issue.

[2019-07-20 07:43] #11149 closed

[2019-07-20 10:55] alalazo commented on #11960
Closing the issue. Feel free to reopen if you have a reproducer.

[2019-07-20 10:55] #11960 closed

[2019-07-20 13:58] jungwonkim commented on #12061
@becker33 Please try installing Papyrus development version. $ spack install papyrus@develop. If it will work, I will add the patched new version in the Spack package.

[2019-07-20 19:07] tgamblin commented on #2171
Closing as we have environments (#9612) and command-line scopes (#8560) now.

[2019-07-20 19:07] #2171 closed

[2019-07-21 16:19] citibeth commented on #11820
Another problem is, EVEN AFTER Spack has re-written your `spack.yaml` file, it doesn't add `view: true` to it.  So you have to be *completely in the know* and add `view: false` all on your own.  This is not good human engineering in the end.

[2019-07-21 16:22] citibeth commented on #11820
Also I got this error when I tried `view:false`:
[code]
My `spack.yaml` is:
[code]

[2019-07-22 04:01] mwkrentel commented on #12073
For me, two and only two of the spack jdk versions do still fetch
cleanly.  Don't know why.

[code]

I have a package (hpcviewer) that still needs Java specifically at
version 8.  (It's an Eclipse thing, don't ask.)

So, please don't get rid of the jdk package.  Even in the worst case,
where all versions require a manual download, you can still download
them and put them into a mirror.  But it may

[2019-07-22 08:07] obreitwi commented on #12026
Thank you!

[2019-07-22 14:28] chuckatkins commented on #12065
@wspear Can you please see if #12082 fixes this for you?

[2019-07-22 17:49] wspear commented on #12065
@chuckatkins This builds for me now. Thanks!

[2019-07-22 18:01] adamjstewart commented on #12073
According to @Hironori-Yamaji, the package still works fine, it's just that Oracle likes to take away older builds. See #12081.

I wonder if they keep the latest stable version of each major release? Maybe we could ensure that we always have the latest stable version and set the most recent one to `preferred=True`? That way users can still add newer versions even if they'll disappear eventually.

[2019-07-22 18:03] citibeth commented on #12073
I've created an `openjdk` package, which downloads OpenJDK from Oracle's recommended site.  It's basically the `jdk` package, minus the donwload rigamerole.  I'll submit it soon; and suggest that we make it the default provider for `java`.

[2019-07-22 18:09] adamjstewart commented on #12073
It looks like there has already been work on `openjdk` in the past:
#2622, #9861, #10446

According to https://github.com/spack/spack/pull/9861#issuecomment-439262167:

[2019-07-22 18:12] citibeth commented on #12073
I ran into this because `spack install r` bombed out.  I'd advocate for a
Spack in which such a command does "just work": either by defaulting to
OpenJDK, or by removing Java as a default dependency from R.

On Mon, Jul 22, 2019 at 2:10 PM Adam J. Stewart <notifications@github.com>
wrote:

[2019-07-22 18:19] adamjstewart commented on #12073
I would personally be fine with defaulting to `openjdk`. It looks like that's what Homebrew does.

[2019-07-22 20:05] #12020 closed

[2019-07-22 21:36] becker33 commented on #10990
The `rust` package specifically requests `python@:2.8`. That's both what the conflict is trying to tell you and the source of your problem.

If you're absolutely positive `rust` should build with `python@3.6.5`, consider a PR to the `rust` package. Otherwise, I think that `bat` has an indirect dependency on `python@2` and that's why it's behaving this way.

@hartzell sorry for the delay in getting

[2019-07-22 21:39] glennpj opened #12085 "Intel compiler fails to install"
Installation of the intel compiler fails when trying to generate the `tcl` module. According to `git bisect` this is due to commit 2fe1ecbaa2f87bc3f11f73ee41828ea5b9a6b3d5, #10753.
The error produced is:
[code]

[2019-07-22 21:47] becker33 commented on #11193
Assigning this to @wspear since #11203 should fix it.

[2019-07-22 21:55] becker33 commented on #11042
@eschnett I'm closing this on @davydden's report that it's solved by #11040, which I just merged. If you still experience the bug after updating to include #11040 let me know.

[2019-07-22 21:55] #11042 closed

[2019-07-22 22:03] becker33 commented on #11278
@wspear the line throwing the error is not in any code accepted to Spack, and fails because it references a non-existent variant. Does the error occur when using the `slate` package as provided?

[2019-07-22 22:09] becker33 commented on #11498
@samfux84 can you try replacing the lines `"FC = fc"` and `"FL = fc"` with `"FC = %s" % env['FC']` and `"FL = %s" % env['FC']`, respectively?

[2019-07-22 22:25] becker33 commented on #11369
@watson6282 can you confirm this is resolved by #12086?

[2019-07-23 02:39] glennpj opened #12091 "spack commands hanging"
After pulling updates there are several spack commands that hang for a really long time. This seems to be related to commit 7ec1d320a82f28e465557046e4b75385bebda77e and #10792.

### Steps to reproduce the issue

[code]

[2019-07-23 02:59] paulbry commented on #11825
Makes sense, thanks! @citibeth recommendation has worked for me when required and there are enough tools to work around this in an environment.

[2019-07-23 04:47] tgamblin commented on #12091
@glennpj: I can't seem to reproduce this locally.  Can you add your `spack.yaml` and `spack.lock` files to the issues?

[2019-07-23 04:48] tgamblin commented on #12091
@becker33: can you take a look at this one and see if you can replicate it?

[2019-07-23 05:49] glennpj commented on #12091
I used environment commands as examples but I see it with other commands as well, such as `spack mirror` and `spack stage`.

[code]
Most of that time was after
==> [2019-07-23-00:38:34.601022] Ordered hashes [flex]: flex/22/09c22e5c6fef327d3e48eb23f0d610dcd3a35ab9207f12e0f875701c677978d3. I had already downloaded the file so there was no fetching from a remote site.

If I have my git tree at the c

[2019-07-23 07:00] tgamblin commented on #12091
Can you run the slow stuff with with `spack -p` and show the profile?

[2019-07-23 07:19] alalazo commented on #12085
@glennpj I'll have a look asap, as it seems something @svenevs already reported in https://github.com/spack/spack/pull/10753#issuecomment-475212313 I wasn't able to reproduce it, but I wonder if I missed to clean my configuration files properly and that hid the problem.

[2019-07-23 13:13] tgamblin commented on #12091
@glennpj: does #10355 fix this for you?

[2019-07-23 13:58] glennpj commented on #12091
Yep, I thought of that but had to get some sleep. 😪

Here is the stage command with the current state:
[code]
The following is with the commit just before 7ec1d32

[code]

[2019-07-23 14:00] glennpj commented on #12091
I will take a look at #10355 later today, unless you see something that jumps out in the profile runs.

[2019-07-23 14:04] glennpj commented on #12091
Just a note. The second profile run is from a cloned spack instance. It is in a different directory location from the first but on the same file system.

[2019-07-23 14:04] tgamblin commented on #12091
It looks like we are not caching the hash somewhere we did before. It’s spending all it’s time generating the YAML to be hashed.  So maybe not #10355.  @becker33 is looking into this.

[2019-07-23 15:13] #11369 closed

[2019-07-23 15:14] paulbry opened #12095 "Invalid character error when referencing definitions in an environment's spec"
When leveraging the `definitions` found int he Spack Stacks enhancement I encounter a `Invalid character` error after successful concretization. This only occurs in an environment with a definition reference in the spec (e.g. `$first` from the https://spack.readthedocs.io/en/latest/environments.html#spec-list-references).

This occurs with both Python 2.7.5 and 3.7.3

### Steps to reproduce the is

[2019-07-23 15:58] #12091 closed

[2019-07-23 20:22] glennpj opened #12102 "spack creates app directory with permissions of 777"
A fresh clone of spack is creating the install directory with permissions of 777. This began with commit 3a026f14123e8a010e0c969bb38dfdde2738226f, #11995. These are bad permissions, particularly when deploying a stack on a system.

With the following config:

[code]
an installation will create directories as follows:
[code]

The expected behavior is:
[code]

[2019-07-23 20:28] citibeth opened #12104 "`spack env loads` broken"
I created, concretized and installed a Spack Environment.  `module avail` verified that a bunch of modules had been created.  Then I ran:
[code]
It replied:
[code]
The `loads` file is created, but NOTHING IS IN IT.  This used to work, now it's mysteriously stopped working.  Frustrating.

[2019-07-23 21:03] RemiLacroix-IDRIS opened #12105 "Module file not created during install when exclude_implicits is enabled"
Spack can be configured to avoid generating module files for implicitly installed products (i.e. dependencies which have been installed automatically):
[code]

However there is a bug in this feature which prevents the module files to be created during `spack install` for explicitly installed products. If a refresh is later triggered with `spack module tcl refresh`, the module file is correctly gen

[2019-07-23 21:21] carns commented on #12085
I'm hitting this problem too in a slightly different case: when installing intel-mpi on a system where the intel compiler is already installed.  I was able to narrow it down to the same commit as well.

In my case the error looks like this:

[code]

I can trigger the same error if I attempt to install intel-mpi from scratch, but in the above example I'm trying to use an intel-mpi that's already pr

[2019-07-23 22:07] citibeth commented on #11822
I think the question has been answered, so closing this thread.  I feel that Views aren't quite "there" yet because, although they symlink everything together, they don't take the user across the finish line in terms of making it work in their shell.  In the future, I think a module to load a View, and a module to load an Environment (without first symlinking it into a view), would be super.

[2019-07-23 22:07] #11822 closed

[2019-07-23 22:13] citibeth commented on #11972
I agree, we need two changes:

1. Support proper merging for YAML.

2. Change environments so they DO NOT pick up any configs from ~/.spack.
If the creator of an environment wants that, they can add it explicitly in
a `config` line in the environment.

On Fri, Jul 19, 2019 at 3:51 PM Peter Scheibel <notifications@github.com>
wrote:

[2019-07-23 22:13] citibeth commented on #11919
I think #11972 effectively summarizes what we need to do.  Now one of us needs to find the time to do it!

[2019-07-23 22:24] citibeth commented on #12073
So... what do we change for that?

On Mon, Jul 22, 2019 at 2:19 PM Adam J. Stewart <notifications@github.com>
wrote:

[2019-07-23 22:25] citibeth commented on #12073
OK I found it.

On Tue, Jul 23, 2019 at 6:24 PM Elizabeth A. Fischer <
elizabeth.fischer@columbia.edu> wrote:

[2019-07-23 22:44] #12073 closed

[2019-07-24 00:16] Sinan81 commented on #10880
having a similar problem in Centos 7.6.1810 (as reported in #9446) . tried compiling any version of perl without success.
[code]

[2019-07-24 06:00] alalazo commented on #12085
I was able to reproduce the same error as @svenevs on one of our clusters. I'll try to fix this by the day.

[2019-07-24 06:01] Sinan81 commented on #10880
Just figured out (thanks to https://serverfault.com/questions/145288/make-error-when-compiling-perl-5-12-1-rhel-5-5) that the compilation problem was due to the bash environment variable 'C_INCLUDE_PATH' which had an unnecessary column character in its definition like
[code]
after getting rid of it, perl compilation worked just fine.

[2019-07-24 08:16] alalazo commented on #12085
@glennpj @carns Can you confirm that #12116 solves the issue?

[2019-07-24 14:21] glennpj commented on #12085
@alalazo I can confirm that #12116 fixes the issue for me.

Thanks.

[2019-07-24 15:25] #12085 closed

[2019-07-24 15:30] becker33 commented on #11325
I think this is related to https://trac.osgeo.org/grass/ticket/2940

It looks like we need to patch the makefile from `ICONVLIB = ` to `ICONVLIB = -liconv`.

@pat-s @Sinan81 could one of y'all try that out and see whether it works?

[2019-07-24 17:03] junghans opened #12120 "CMake: Could NOT find MPI (missing: MPI_C_FOUND C)"
I was trying to build the `legion` spackage, but `MPI` could not be found.

### Steps to reproduce the issue

[code]

### Error Message

[code]

### Information on your system

I test this on multiple plattform and with multiple openmpi versions.

If I dig into the the `CMakeError.log`, I see:
[code]
So there is this `/home/junghans/spack/opt/spack/linux-gentoo2-x86_64/gcc-8.3.0/openmpi-3.1.4-6acr

[2019-07-24 17:32] hightower8083 commented on #12120
i had this also -- it helped to replace cmake-3.15 with some <3.15

[2019-07-24 18:05] alalazo commented on #12102
It seems this change was deliberate and documented in code:

https://github.com/spack/spack/blob/3a026f14123e8a010e0c969bb38dfdde2738226f/lib/spack/spack/directory_layout.py#L258-L269

On the other hand I don't see why 777 should be the only viable solution to #11240

@albestro ?

[2019-07-24 18:21] mamelara commented on #12105
I've seen this happen as well

[2019-07-24 19:03] junghans commented on #12120
@hightower8083 thanks, that works!

[2019-07-24 19:10] junghans commented on #12120
@bradking, I hope you are aware of that issue in cmake-3.15.

[2019-07-24 19:12] carns commented on #12085
I'm late to the party, but I can confirm the problem is fixed now as well (testing current origin/develop after the PR merge).  Thanks for the prompt fix @alalazo .

[2019-07-24 19:14] glennpj commented on #12102
As a system administrator, I do not want everyone to be able to write to those directories. I would want to control the group ownership of the parent directory, as well as the intermediate directories, so that only members of a "spack" group could write to them.

Also, the 777 permissions would allow everyone on the system the ability to remove package directories.

[code]

would succeed for every

[2019-07-24 19:16] tldahlgren commented on #12120
Thanks for this information.  I have also been having this problem trying to build ``xsdk`` with cmake 3.15.

[2019-07-24 20:03] hightower8083 commented on #12120
it seems to concern specifically `openmpi` -- in my cases `3.15` done fine with `mpich`

[2019-07-24 20:52] mathstuf commented on #12120
I tracked down the regression to this MR: https://gitlab.kitware.com/cmake/cmake/merge_requests/3449

[2019-07-24 21:08] mathstuf commented on #12120
The error causes `-Wl,-rpath -Wl,/path1 -Wl,-rpath -Wl,/path2` to be deduplicated now that CMake sees the individual arguments down to `-Wl,-rpath -Wl,/path1 -Wl,/path2` which is invalid. This is probably why it shows up sometimes, but not always.

[2019-07-25 00:31] bradking commented on #12120
Recorded in [CMake Issue 19516](https://gitlab.kitware.com/cmake/cmake/issues/19516).

[2019-07-25 04:35] Sinan81 commented on #11325
@becker33 will do in few days. Thanks!

[2019-07-25 07:35] albestro commented on #12102
I understand your concerns, the decision was taken thinking of using the `install_tree` directory as a chokepoint, but maybe something better can be done.

In fact, what I do is to completely restrict access for `install_tree` to `others`, but this make me think:
- since `others` does not have neither `r-x` access to the `install_tree`, there should be no reason to set `rwx` for them on nested fol

[2019-07-25 07:41] pat-s commented on #11325
I am not familiar enough with Spack at the moment to implement this change quickly.
It would be highly appreciated if someone could tackle this.

[2019-07-25 13:49] becker33 commented on #12102
@glennpj @albestro @alalazo

What do you think of setting the intermediate directories to the same permissions as `config:install_tree`? I think that should be easily doable with the functionality that @albestro put in place.

I think in most cases, the `install_tree` folder should provide the necessary chokepoint to avoid the problems that @glennpj was discussing, but I don't think we considered

[2019-07-25 15:29] glennpj commented on #12102
I think there needs to be an expectation that the `install_tree` ownership and permissions need to be managed outside of spack, even if spack creates the directory, unless there are configure options. If spack creates `install_tree` then the current default of 755 is fairly sane. I assume that those permissions are set explicitly and not dependent on the umask value. That is not an ideal value for

[2019-07-25 16:23] becker33 commented on #12102
Re group ownership: We should probably only respect the group ownership of `install_tree` for the intermediate directories if the group ownership differs from the user ownership, because if someone (intentionally) has a world writable Spack we could have a shared Spack instance with install tree group ownership tied to an individual, so other users wouldn't have permissions to match the group owne

[2019-07-25 17:23] #12120 closed

[2019-07-25 19:54] robertmaynard commented on #12120
The MR that fixes this issue in CMake is now open ( https://gitlab.kitware.com/cmake/cmake/merge_requests/3605 ).

I recommend this approach over the one in #12129 , as it keeps the fixes necessary for CUDA projects which use MPI and CUDA Separable Compilation.

[2019-07-25 22:31] adamjstewart opened #12139 "Installation issue: Qt 4 on macOS"
I'm unable to build Qt 4 on macOS. Qt 5 built fine.

### Steps to reproduce the issue

[code]
It's interesting that it detects the architecture as i386 instead of x86_64.

### Platform

[code]

### Additional information

[spack-build-out.txt](https://github.com/spack/spack/files/3433475/spack-build-out.txt)
[spack-build-env.txt](https://github.com/spack/spack/files/3433476/spack-build-env.txt)

@

[2019-07-25 22:40] davydden commented on #12139
Last time i tried was with qt5 and I had to help it a bit https://github.com/spack/spack/pull/11172. Have not tried qt4 (

[2019-07-25 23:36] bartlettroscoe opened #12143 "libxml2.so link failure against libz.so looking for gzopen64@ZLIB_1.2.3.3"
CC: @becker33, @fryeguy52

When trying to link Trilinos with against packages built with Spack with shared libs on an SNL COE RHEL6 machine we get the link errors in Trilinos like:

`FAILED: packages/seacas/libraries/ioss/src/main/cth_pressure_map`
...
`/home/rabartl/Spack.base7/atdm-spack/spack/opt/spack/linux-rhel6-x86_64/gcc-7.2.0/libxml2-2.9.8-qckwa5f4brssbbwbbtxe7tvdy4dnhwlw/lib/libxml2.so.2:

[2019-07-26 14:46] #10804 closed

[2019-07-26 15:22] bartlettroscoe commented on #12143
Darn, looks like this was also reported in #5758 almost 2 years ago and the issue got closed without it being resolved :-(

I am going to try to force Spack to build as static 'libxml2' with`-fPIC` and see if that hack will fix our use case.

[2019-07-26 18:36] robertmaynard commented on #12120
The above MR is part of CMake 3.15.1 which was released today.

[2019-07-26 21:28] lee218llnl commented on #9992
@jwezel This was a bit of a pain to track down, but I think #12153 fixes the issue. Can you please test it out?

[2019-07-27 01:09] adamjstewart commented on #7695
Update: this problem is still present. I had an entire DAG installed, except for `cmake` as a build dependency of one of the subdependencies. Spack then tried to install `cmake` even though it was no longer needed.

[2019-07-27 19:20] tgamblin opened #12156 "Move Spack tutorial to a separate ReadTheDocs site"
@hauten

The [Spack tutorial](https://spack.readthedocs.io/en/latest/tutorial.html) is currently hosted as part of the main Spack Documentation at [spack.readthedocs.io](https://spack.readthedocs.io).  Move it to its own site at [spack-tutorial.readthedocs.io](https://spack-tutorial.readthedocs.io) and link to that site from the main documentation.

### Rationale

We want to be able to version the

[2019-07-27 20:08] adamjstewart opened #12159 "spack fetch to current directory"
I would love a `spack fetch` option to download a package to the current directory.

### Rationale

Whenever I develop a package, the first thing I do is download the tarball to my Downloads folder so I can poke around. It would help to have a command to automate this.

### Description

I'm looking for the following functionality:
[code]
or something like that. We could also have a `--directory` o

[2019-07-28 02:51] mclarsen commented on #12059
We (Ascent) uses a spack based-build system, but we don't recommend trying to install the dependencies using the main spack repo. Things change too quickly, and for the sake of stability, we curate spack packages inside our own repository. We also don't currently build VTK-m with MPI enabled `+mpi` which I think is the source of this issue.

I would be happy to answer questions about building asce

[2019-07-28 08:11] Sinan81 commented on #11325
Added the following code to the very end of the package file for grass. And it seems now grass compiles (tested on Centos so far!). Will push a PR soon.
[code]

[2019-07-28 10:19] pat-s commented on #11325
The patch also works for me. Thanks!

[2019-07-28 21:40] bartlettroscoe commented on #12143
Still fighting with this issue.  The version of zlib that spack is installing is zlib-1.2.11.  But I just noticed on my RHEL6 system:

[code]

I bet that the spack 'libxml2' package is building against the system-installed zlib-1.2.3(.3) instead of the zlib-1.2.11 that spack installs but downstream packages are pulling in the correct zlib-1.2.11.   Now to figure out how to debug the 'libxml2' pack

[2019-07-29 02:19] sethrj commented on #12139
@adamjstewart I've got a pending PR for this: https://github.com/spack/spack/pull/10944

Long story short: it takes a *lot* of patching.

[2019-07-29 17:33] odoublewen opened #12181 "checksum error: cmake 3.15.1"
### Steps to reproduce the issue

[code]

### Additional information

The CMake repo has a SHA256 txt file that also says it should be `18dec548d8f8b04d53c60f9cedcebaa6762f8425339d1e2c889c383d3ccdd7f7`:
https://github.com/Kitware/CMake/releases/download/v3.15.1/cmake-3.15.1-SHA-256.txt

[2019-07-29 18:03] tgamblin commented on #12059
@wspear: can you see if you can figure out how to fix this using @mclarsen's repo?  What's the release timeframe?

[2019-07-29 19:13] #12181 closed

[2019-07-29 21:21] mwkrentel commented on #12007
I took an interest in this, mainly for how to build on the Cray FE and
BE (which I have to do for other packages).  And when I say "Cray", I
mostly mean theta at Argonne.

First, @mamelara is right, the conflict for `platform=cray` is
technically too restrictive.  Unzip as is will build on Cray FE but
not BE.  That would be one solution, change the conflict to
`platform=cray os=be`.

But I can do

[2019-07-29 21:40] jrood-nrel commented on #12007
I merely added `unzip` for one of my projects in https://github.com/spack/spack/pull/7446. I don't have any stake in how it's handled on Cray. Sounds like the PR for this would be shorter than this issue 🙂

[2019-07-29 21:51] mamelara commented on #12007
@mwkrentel yeah sure! I was gonna work on it but if you already did it then go for it! Thanks!

[2019-07-29 22:31] #12065 closed

[2019-07-30 01:35] adamjstewart opened #12187 "Spack broken on Blue Waters"
On the current develop, no Spack command works on Blue Waters.

### Steps to reproduce the issue

Any Spack command:
[code]

### Error Message

[code]

### Information on your system

[code]

[2019-07-30 01:37] adamjstewart commented on #12187
It looks like the correct name of the file does not contain a dash:
[code]

[2019-07-30 01:42] adamjstewart commented on #12187
@tgamblin This bug was introduced in #11906.

[2019-07-30 13:23] chuckatkins commented on #12187
FWIW, in CMake we use a set of heuristics to determine the CLE version:

1. `CRAYOS_VERSION` environment variable
2.  `XTOS_VERSION` environment variable
3.  `RELEASE=(.*)` in the `/etc/opt/cray/release/cle-release` file
4.  Direct contents of `/etc/opt/cray/release/clerelease`

[2019-07-30 14:27] chuckatkins commented on #12007
@mamelara, @jrood-nrel, and @mwkrentel Can you please take a look at #12199?  I believe that should remove the conflict entirely.

[2019-07-30 17:26] bartlettroscoe commented on #12156
Based on that reasoning, all of the Spack documentation should be versioned with the version of Spack, no?  The easiest way to do that is to just have the documentation in the same git repos (or use a multi-repo tool to keep them synced up).

[2019-07-30 17:29] bartlettroscoe commented on #12143
CC: @becker33, @fryeguy52

Through some detailed analysis about the 'libxml2' and 'zlib' link errors we have been seeing here and there, I have been able to determine:

* The spack build of 'libxml2' is correctly building and linking the 'libxml2.so' library against the 'libz.so' library in 'zlib-1.2.11' that Spack builds.

* The symbol 'ZLIB_1.2.2.3' (and several other version strings) actually e

[2019-07-30 17:58] tgamblin commented on #12156
@bartlettroscoe: all the Spack documentation IS versioned with Spack, including the tutorial.  We want to move the tutorial to a separate site that has versions by instance.  Thoughts?

[2019-07-30 20:09] mwkrentel commented on #12007
I posted an alternate patch in #12202.

[2019-07-30 23:43] wspear commented on #12059
@tgamblin The non-mpi build from the regular spack repo works, though I should double-check to see if a non-mpi build is acceptable. If is ok is working with the ascent repo still a priority? I am not aware of any official release timeframe for the sdk-subgroups I'm working on except the Pre-SC19 target for a full E4S release.

[2019-07-30 23:52] adamjstewart commented on #11672
I think there is a circular dependency bug here:

`cmake+qt` -> `qt` -> `double-conversion` -> `cmake~qt`

Currently, Spack doesn't allow packages to appear twice in the DAG. This may change if/when we treat build dependencies separately from link dependencies during concretization.

[2019-07-30 23:53] adamjstewart commented on #11659
This issue has become more pronounced now that `numpy`, `scipy`, `matplotlib`, `pandas`, and `scikit-learn` all require Python 3.

[2019-07-31 00:35] adamjstewart opened #12206 "Use 'd' to toggle debug mode"
Much like you can type <kbd>v</kbd> during `spack install` to see a verbose output of the build, it would be nice to be able to type <kbd>d</kbd> during any Spack command to toggle debug mode. This will help when Spack slows to a halt and you want to make sure it's still doing something.

[2019-07-31 03:46] adamjstewart commented on #12156
One downside of this move is that a PR that changes the API will have to be split into two PRs, one to `spack` and another to `spack-tutorial`. This may lead to people failing to update the tutorials, aside from the few times per year when we update them.

One alternative to this PR would be to add tags for tutorials (sc19, pearc19) to the main Spack repo. That way, you can still select a particul

[2019-07-31 06:09] luxianjun opened #12211 "some scripts only download binary on Official website and it only can use on X86 rchitecture ,Can we support the ARM architecture?"
Hi.
 I found that some packages are currently downloaded binary on Official website, but the binary is basically X86 architecture,I want to use on ARMarchitecture . So can we rewrite this kind of scripts to compile it from source code?  For example, hadoop
Thanks!

[2019-07-31 06:11] #12211 closed

[2019-07-31 06:12] luxianjun opened #12212 "Some scripts only download binary on Official website and it only can use on X86 rchitecture ,Can we support the ARM architecture?"
Hi.
I found that some packages are currently downloaded binary on Official website, but the binary is basically X86 architecture,I want to use on ARMarchitecture . So can we rewrite this kind of scripts to compile it from source code? For example, hadoop
Thanks!

[2019-07-31 07:29] alalazo commented on #12156
@adamjstewart What if we automate the procedure we are currently performing manually? Each tutorial should have an associated container image with:
- A specific branch or tag of Spack already installed
- A test script performing the basic operations we'll show during the tutorial itself.

A CI pipeline on  `spack-tutorial` for e.g. its `develop` branch could be then:

1. Update the container image

[2019-07-31 14:13] tvery42 opened #12214 "Magma tcl module refresh error"
The refresh of the TCL module for magma does not work.

### Steps to reproduce the issue

[code]

### Error Message
spack/lib/spack/spack/modules/common.py:772 ==> [2019-07-31-16:09:02.077425]   WRITE: magma@2.5.1-alpha1%intel@19.0.4 build_type=RelWithDebInfo +fortran+shared arch=linux-rhel7-x86_64/utjhipx [/xxx/modulefiles/linux-rhel7-x86_64/magma/2.5.1-alpha1/intel-19.0.4-cuda]
spack/lib/spack/s

[2019-07-31 14:21] mclarsen commented on #12059
@wspear Ascent needs the non-mpi build of vtkm. It will not build against the mpi enabled version.

[2019-07-31 17:36] Sinan81 opened #12218 "py-pyqt5 missing dependency"
py-pyqt5 throws error during config phase as shown below. After adding py-enum34 as dependency, package installs.
[code]

[2019-07-31 17:37] Sinan81 commented on #12218
@adamjstewart

[2019-07-31 19:16] Sinan81 commented on #11325
Confirmed that the same problem also exists for the other versions (such as 7.4.0) of GRASS . So above fix is a general one. Accordingly I am wondering if @citibeth or @becker33 can soon merge the above PR

[2019-07-31 21:43] #12214 closed

[2019-07-31 22:21] wspear commented on #11193
@becker33 What's the procedure to get #11203 merged? It's tested and working as far as I can tell.

[2019-08-01 00:33] tldahlgren commented on #12060
I am unable to reproduce this problem with the current `develop` version of Spack.

Please provide more information about the Spack version, OS, and any additional logs.

[2019-08-01 01:02] tldahlgren commented on #11242
I am not able to reproduce this problem on my machine with the current (develop) version of Spack.

Please provide more information on the Spack version, environment, and any other information that might help reproduce the problem.

[2019-08-01 03:44] #12007 closed

[2019-08-01 04:54] adamjstewart commented on #12218
Thanks for catching this! I only tested Python 3.

[2019-08-01 05:00] adamjstewart commented on #12212
Another example of this is binary packages like `jdk`, where we always download the linux version, even on macOS. #2009 is the oldest discussion of this problem that I know of. An API I think would make sense would be something like:
[code]
or
[code]
@tgamblin and I talked about this at one point, but it's non-trivial to change Spack to have multiple occurrences of the same version for different p

[2019-08-01 08:00] pat-s commented on #11325
I am wondering if this change should/needs to be written as a Spack "patch" to arrive upstream: https://spack.readthedocs.io/en/latest/packaging_guide.html#patches

Thanks again for fixing this @Sinan81!

[2019-08-01 11:26] alalazo commented on #12212
Can't we solve it already by overriding `url_for_version`? I need to double check the code but off the top of my head I'd say that function is called after concretization, so one could return different urls depending on the current target.

[2019-08-01 11:30] #12218 closed

[2019-08-01 14:34] adamjstewart commented on #12212
`url_for_version` can swap URLs but not checksums.

[2019-08-01 14:59] JavierCVilla opened #12226 "Builcache fails to relocate xz"
Spack buildcache fails to relocate the `xz` package.

### Steps to reproduce the issue

1. Set up the inital Spack instance:

[code]

2. Install `xz` package:

[code]
3. Create binary for xz:

[code]

4. Set up a new spack instance in a different location:

[code]

5. Add local buildcache:

[code]

6. Install `xz` from buildcache:

[code]

### Error Message

The error message reported is empty (`=

[2019-08-01 15:00] JavierCVilla commented on #12226
@gartung

[2019-08-01 15:25] gartung commented on #12226
@JavierCVilla I opened this PR to use an exception instead of an assert:
https://github.com/spack/spack/pull/12227

[2019-08-01 15:32] JavierCVilla commented on #12226
@gartung thanks! That will definitely make it easier to understand.

Regarding the error itself, any idea why the size can be different?

[2019-08-01 15:33] gartung commented on #12226
I copied the padding algorithm from conda and it worked for relocating git and tcl. I am trying to debug what happened with xz.

[2019-08-01 15:38] gartung commented on #12226
Was the buildcache created on another machine? Was the original install path longer or shorter than original install path? I am unable to reproduce the problem on my linux desktop going from a longer path to a shorter path. Conda adds padding to the name of the build directory.

[2019-08-01 15:39] JavierCVilla commented on #12226
I just tried on the same machine and I was going from a shorter to a longer path.

[2019-08-01 15:40] gartung commented on #12226
That would cause problems. I am going to skip the replacement in that case.

[2019-08-01 17:09] gartung commented on #12226
@JavierCVilla I just merged #12227 to the head of develop. I tested that it fixes the problem of installing a buildcache created with an original install path shorter than the new install path. It will now issue a warning instead of trying to do the binary text replacement with padding. On the off chance that someone calls the function directly an exception will be thrown with additional info.

[2019-08-01 17:09] #12226 closed

[2019-08-01 17:22] #12139 closed

[2019-08-01 18:01] wspear commented on #11278
@becker33 This works with the latest spack. Whatever was amiss seems to have been corrected, but no idea what it may have been.

[2019-08-01 18:39] wspear commented on #12060
@tldahlgren I am working in a very minimal docker Centos7 image. autoconf, automake and libtool are not provided by the system and not specified as dependencies by the bolt package so it fails.  Adding:

    depends_on('autoconf', type='build')
    depends_on('automake', type='build')
    depends_on('libtool', type='build')

to the package makes it work.

[2019-08-01 18:40] tjfulle opened #12228 "--config-scope incompatible with environments"
If an environment is loaded, `--config-scope` is silently ignored.

If config scopes are intended to be incompatible with environments, an error should be raised when attempting to pass `--config-scope` to spack if an environment is activated.

### Details

In `lib/spack/spack/main.py`, `spack.config.command_line_scopes` is set equal to any config scopes passed by the `--config-scope` option.  How

[2019-08-01 18:52] sethrj opened #12230 "py-matplotlib build fails during `set_backend`"
It looks like #12164 might have broken this? @adamjstewart

### Steps to reproduce the issue

[code]

### Platform and user environment

Please report your OS here:
[code]

[2019-08-01 19:01] Sinan81 commented on #11325
My line of thinking was that a patch is something applied to the source code not after a configure step. Not sure something like `run_after('configure')(pach(...))` make sense.

[2019-08-01 19:02] tjfulle opened #12231 "spack setup broken if ignore_deps is requested"
`spack setup -i <package>@<version>` results in the following error:

[code]

The local variable `parser` is defined inside the block:

[code]

But is later used outside of the scope of this `if`:

[code]

If the user ignores dependencies, you get the error noted above.  Creating a new parser object seems to fix the issue:

[code]

This diff also include a fix for the case that `SPACK_DEPENDENCIES

[2019-08-01 19:27] danlipsa commented on #12230
I've seen the same error on Ubuntu 18.04

[2019-08-01 19:46] pat-s commented on #11325
Could be. This was just a very wild guess. Let's see what the devs say :)

[2019-08-01 22:07] bartlettroscoe opened #12235 ""Installation issue: openblas: default blas/lapack 'openblas' can't build on RHEL6 with gcc@7.2.0 built by Spack"
**snl-atdm-issue**

### Steps to reproduce the issue

[code]

with build errors starting with:

[code]

The STDOUT from spack is given in:

* [spack.install.openblas.gcc-7.2.0.rhel6..out.txt](https://github.com/spack/spack/files/3458812/spack.install.openblas.gcc-7.2.0.rhel6.out.txt)

The the build log file:

[code]

is:

* [OpenBLAS-0.3.5-spack-build.out.txt](https://github.com/spack/spack/files/

[2019-08-01 22:17] adamjstewart commented on #12230
Oops, sorry about that. That PR went through a lot of refactoring and it looks like that variable was lost in the process. I'll merge #12234 when it passes its tests.

[2019-08-01 22:23] sethrj commented on #12230
Yeah I figured as much -- rebasing has a tendency to do that. ;) No worries!

[2019-08-01 22:36] bartlettroscoe commented on #11095
We have seen this too.

FYI: We fixed that by creating a dummy package that depends on all of the packages that we want spack to build and then spack seems to build just one version of each package.  There was another hack that was needed to avoid spack building multiple MPI versions too.

[2019-08-01 22:45] tldahlgren commented on #12060
I'm glad you found a work-around.  Thanks for letting me know.

[2019-08-01 22:58] adamjstewart commented on #12230
Closed by #12234

[2019-08-01 22:58] #12230 closed

[2019-08-01 23:13] tldahlgren commented on #11061
I am not able to reproduce this problem.

Please provide additional information about the platform and your user environment.

[2019-08-01 23:24] tldahlgren commented on #11137
Did you notice the syntax error in `conftest.F` in the failed program:
[code]

[2019-08-02 00:46] tldahlgren commented on #11137
@balay Have you or anyone else on the team ever encountered the errors in the attached `config.log` when building _hypre_?

[2019-08-02 00:54] tldahlgren commented on #11137
@davydden Please provide the results from `spack spec hypre`.

[2019-08-02 03:09] davydden commented on #11137
I don’t have access to that system anymore and unfortunately can’t provide further information at this time.

[2019-08-02 03:50] adamjstewart opened #12237 "Unable to build ATLAS on macOS"
### Steps to reproduce the issue

[code]

### Platform and user environment

I'm on macOS 10.14.5 using Clang 10.0.1.
[code]

### Additional information

- [spack-build-out.txt](https://github.com/spack/spack/files/3459528/spack-build-out.txt)
- [spack-build-env.txt](https://github.com/spack/spack/files/3459530/spack-build-env.txt)

[2019-08-02 04:21] adamjstewart commented on #12212
`hpcviewer` is another package that implemented something similar to what I did in #2009. This may be _good enough_ as long as the only difference between platforms is, for example, linux vs. darwin. Does someone want to do this for `jdk`/`openjdk`?

[2019-08-02 04:52] balay commented on #11137
I haven't seen this. cc: @ulrikeyang

[2019-08-02 05:23] mwkrentel commented on #12212
Yes, for hpcviewer we use a binary distribution with different tar
files for x86_64, ppc64 and ppc64le, all with the same version, of
course.  We use something like:

[code]

Actually, we use a table of version, machine type and SHA sum and a
`for` loop, but whatever.

This works for a property that you can test 'statically' from python,
outside of spack.  For example, Linux vs Macos, or x86 vs pp

[2019-08-02 05:38] alalazo commented on #11095
@bartlettroscoe Did you have a look at #11372 ?

[2019-08-02 09:22] luxianjun opened #12238 "I try to build mysql,but there is a ChecksumError about cmake,I do not know how to solve it."
ARM centos7.6-----
[root@localhost home]# spack install mysql
==> diffutils is already installed in /home/spack/opt/spack/linux-centos7-aarch64/gcc-4.8.5/diffutils-3.7-bil5xacyoqeoaid5ojaiuj36smsqe24l
==> bzip2 is already installed in /home/spack/opt/spack/linux-centos7-aarch64/gcc-4.8.5/bzip2-1.0.8-zyo7dbmun5d2dgvqmw6ugbovpbmmhwcq
==> zlib is already installed in /home/spack/opt/spack/linux-cento

[2019-08-02 10:51] oracleLee opened #12240 "trinity"
**I try to install trinity by spack but face the error**
[code]
**According to the error message, I also loaded R3.6.0,command is as follows but the error content is the same.What else I can do to solve this problem?**
[code]

[2019-08-02 10:56] bartlettroscoe commented on #11095
Yes I saw that but it is not merged yet so we can't use it (and we are stuck on an older version of spack anyway).

 Again, I ask why this was not the default behavior to begin with?  Customers want to be able to link everything that Spack builds into downstream software so why in the heck would Spack, by default, build diferent versions of MPI for different packages, multiple selections of BLAS/L

[2019-08-02 11:11] alalazo commented on #11095
Which other hack? :thinking:

[2019-08-02 11:24] bartlettroscoe commented on #11095
You have to explicitly give the MPI version in the spec, even though the dummy package does not directly depend on MPI.

[code]
The dummy package 'snl-atdm-deps' `package.py` file just lists the outer most leaf packages:

[code]

But with just that, spack was still using different versions of MPI for different packages :-(

I can't imagine what other users are going through trying to get a consist

[2019-08-02 11:31] bartlettroscoe commented on #11095
Without scripting, hacked dummy package, etc., this is what we  had to do to get spack to build consistent versions of everything:

[code]

How about that for a nice maintainable set of specifications for building packages!

How many users are having to writing spack.yaml files like this?

[2019-08-02 11:37] steffen-AEI commented on #11982
With some minor modifications, I was able to build go and singularity (the non-legacy one, 3.2.1).
Although I don't like to growth of the binary (to 40* the old size) I probably won't go back...

[2019-08-02 11:37] #11982 closed

[2019-08-02 12:39] alalazo commented on #11095
I can get a consistent set of specs with #11372 and this `spack.yaml`:
[code]
which replicates your dummy package above.

[2019-08-02 13:07] alalazo commented on #12240
If think there's a misunderstanding with the message. What is saying is that:
1. You asked for `r@3.6.0` (or you left it blank and that was the default)
2. `r-edger` can build only with r version from `3.5.0` to `3.5.9`

[2019-08-02 16:39] omsai opened #12245 "Customize dependencies example on the home page is no longer valid"
I was training one of my users to use `spack` and think I found a documentation bug.  I was explaining to my user about changing variants of dependencies, because that was a necessary step to get their package running.

But in the home page https://spack.io under the section "Customize dependencies" the `libdwarf` package has no `debug` variant to enable.  In fact, `libdwarf` has no variants at al

[2019-08-02 16:50] omsai commented on #12245
Whoops, I misread Todd's message about opening a PR over at [spack/spack.io](../../../spack/spack.io) instead.

[2019-08-02 16:50] #12245 closed

[2019-08-02 19:22] #12060 closed

[2019-08-02 19:33] tldahlgren commented on #12060
@wspear Thanks for your workaround, which has now been integrated into `develop`.

[2019-08-02 20:09] becker33 commented on #11278
Closing as not reproducible

[2019-08-02 20:09] #11278 closed

[2019-08-02 20:14] #11193 closed

[2019-08-02 20:18] #9992 closed

[2019-08-02 20:24] becker33 commented on #11325
@Sinan81 you're absolutely correct about it needing to go after configure being a good reason not to write it as a patch. And I'm glad you commented it in the code, otherwise I would've requested changes to that erroneously, as @pat-s suggested.

See my comments on the PR regarding flake style checking for regex, but I don't see a reason we can't get this in very soon.

[2019-08-02 20:26] bartlettroscoe commented on #568
What is the workaround?   I need to figure out how to mix clang C++ and C with gfortran to build things like 'hdf5' and 'cgns'.

[2019-08-02 20:27] citibeth commented on #568
I believe it's pretty standard now, and in the Spack manual.

On Fri, Aug 2, 2019 at 4:27 PM Roscoe A. Bartlett <notifications@github.com>
wrote:

[2019-08-02 20:31] bartlettroscoe commented on #568
Okay, as per:

* https://spack.readthedocs.io/en/latest/tutorial_configuration.html?highlight=clang%20fortran#compiler-configuration

we have to manually modify the generated compilers.yaml file to add the path for 'f77' to point to the gfortran that Spack isntalled?  How can I automated that?

[2019-08-03 00:19] #11481 closed

[2019-08-03 00:30] scheibelp commented on #12104
Hi @citibeth this looks like a duplicate of https://github.com/spack/spack/issues/12062 so I'm closing it. Please reopen if I was mistaken there. I opened https://github.com/spack/spack/pull/12203 to address this.

[2019-08-03 00:30] #12104 closed

[2019-08-03 00:51] scheibelp commented on #12143
To make sure: are you building Trilinos outside of Spack? If so, is there a chance you may be able to use the Spack `trilinos` package?

RPATH doesn't replace (or remove the need for) `-L` when linking, it only influences what libraries are loaded when you are running a program. When building packages with Spack, it makes an effort to set RPATH and also add `-L` entries for Spack-built dependencie

[2019-08-03 00:59] scheibelp commented on #12238
`spack stage cmake@3.15.1` works for me. I think that a temporary error may have resulted in a botched download of CMake. Can you try the following:

* `spack clean cmake` (and try `spack stage cmake@3.15.1`)
* (if the first suggestion doesn't work) `spack clean -d` (this purges cached downloads of all package sources)

If one of those works, could you close this? If neither works, could you post

[2019-08-03 01:07] scheibelp commented on #12240
Does `spack spec r-edger ^r@:3.5.9` work?

[2019-08-03 01:13] scheibelp commented on #12235
I have added the bug tag back because of

[code]

It should be possible to get more info with `spack spec`.

[2019-08-03 01:16] bartlettroscoe commented on #12143
That does not really work because our Trilinos build supports development too.  You would not want to use Spack to drive development builds.

Right.  The ironic part is that because we are linking with libxml2.so, you don't actually need `-lz`.  Turns out that Spack breaks a lot of build scripts that assume that libz will always be pulled in from the system.  I don't know anyone's build scripts th

[2019-08-03 01:18] scheibelp commented on #12235
@bartlettroscoe can you provide the output of

[code]

? (i.e. rerun that command with `-d --stacktrace`)

[2019-08-03 02:53] adamjstewart commented on #12238
Duplicate of #12181. Fixed by #12182. Update to the latest develop branch and this should be fixed.

[2019-08-03 02:53] #12238 closed

[2019-08-03 18:04] adamjstewart commented on #7687
@s-sajid-ali can you test this again with my new numpy changes? I'm trying to resolve old numpy build issues. We may need to rebase your numpy+intel fixes to get this working properly.

[2019-08-03 18:14] adamjstewart commented on #9500
I was able to install `py-bottleneck@1.2.1` with `python@3.7.4`. Can you clarify what issues you encountered? A lot of times a package works fine in Python 3.7 but the developers haven't tested it yet or updated their PyPI page to claim Python 3.7 support.

[2019-08-03 18:21] adamjstewart commented on #4063
Closing this as the discussion is long over.

[2019-08-03 18:21] #4063 closed

[2019-08-03 18:23] adamjstewart commented on #8546
#12164 removed the `qhull` dependency from `py-matplotlib`. We now rely on the vendored copy of `qhull` that comes with `py-matplotlib`. I'm assuming this issue is no longer an issue.

[2019-08-03 18:23] #8546 closed

[2019-08-03 19:00] #12187 closed

[2019-08-03 19:42] adamjstewart opened #12268 "Python 2.6 support broken on Blue Waters"
Now that #12207 is merged, most commands work fine on BW. However, I discovered a new bug with our Python 2.6 support.

### Steps to reproduce the issue

[code]

### Error Message

[code]

### Information on your system

This problem occurs on Cray CNL5 (Blue Waters) when running Spack with the system Python 2.6.9.

A workaround for this bug is to `module load bwpy` and use a newer version of Pyth

[2019-08-04 18:49] omsai opened #12276 "Installation issue: ncbi-toolkit"
I'm working on version bumping `ncbi-toolkit` to `22_0_0` and found that:
1. Upstream's configure script generates the build directory only using the major version number of `gcc` and setting the other version digits to zero, which is why the spack build fails for `gcc@8.3.0` below.
2. The spack build further restricts one only to using the `gcc` compiler, but upstream supports `intel`, etc, so th

[2019-08-05 10:16] Sinan81 opened #12281 "QGIS package discussion"
This is an issue to discuss creation of QGIS package file.

[2019-08-05 10:16] Sinan81 commented on #12281
#12280

[2019-08-05 16:10] omsai commented on #12276
Submitted patch in pull request #12278

[2019-08-05 17:20] becker33 commented on #12235
@bartlettroscoe can you also provide the processor make of the node you ran on? I.E. skylake/haswell/sandybridge?

[2019-08-05 17:25] bartlettroscoe commented on #12235
@scheibelp asked:

It is attached in [spack.d.stacktrace.install.openblas.out.txt](https://github.com/spack/spack/files/3468690/spack.d.stacktrace.install.openblas.out.txt).

[2019-08-05 17:26] bartlettroscoe commented on #12235
@becker33 asked:

[code]

[2019-08-05 17:42] scheibelp commented on #12143
I think you're saying that because of

That's the type of roundabout behavior Spack tries to avoid. This is harder to coordinate between Spack and non-Spack builds, but Spack provides some means to facilitate this, which gets to

I think depending on what you mean Spack either is useful for this or could be modified to be useful to this case:

* Spack could generate module files for all your Trili

[2019-08-05 17:42] #12143 closed

[2019-08-05 17:51] becker33 commented on #12235
@bartlettroscoe have you tried with other compilers and/or other versions of openblas?

The reason I ask is that's a weird error to be getting on a Broadwell chip with `-mavx2` flags (as shown in your output. The `A` version of the `vpermpd` operation is part of the avx2 standard, and I'm not quite sure why a broadwell chip would be rejecting it. So my first thought is if there's some bad combinat

[2019-08-05 17:55] bartlettroscoe commented on #12143
@scheibelp

Fine to close now that I know what the issue is.

There is no mention of `spack setup` at all at:

* https://spack.readthedocs.io/en/latest/tutorial_packaging.html#debugging-package-builds

Also, we do multi-repo co-development so it would be great if you could tell spack not to blow away build dirs for a given set of packages on down and then just rebuild on re-installs.  I know that

[2019-08-05 18:20] danlipsa opened #12284 "'spack install perl' hangs on summit.olcf.ornl.gov with the xl compiler"
Here is the log after waiting 15 min. and pressing Ctrl-C.

<pre>
[danlipsa@login3.summit spack]$ spack install paraview@develop+python3+mpi
==> diffutils is already installed in /autofs/nccs-svm1_home1/danlipsa/projects/spack/opt/spack/linux-rhel7-ppc64le/xl-16.1/diffutils-3.7-x7jcxw4uudsxeve7bcakbwl5cedgzpuj
==> bzip2 is already installed in /autofs/nccs-svm1_home1/danlipsa/projects/spack/opt/sp

[2019-08-05 18:34] bartlettroscoe commented on #12235
Is there anyone with ECP funding that can get on the SNL SRN system, log into one of these RHEL6 machines and then try to reproduce this?  It seems like we should not have to fight with installing the default BLAS/LAPACK on a RHEL6 machine.

[2019-08-05 18:46] becker33 commented on #12235
I don't think I have access to any RHEL6 machines at the moment. I'm trying to build gcc@7.2.0 to see if I can reproduce on RHEL7, but building gcc takes a while

[2019-08-05 18:49] danlipsa opened #12285 "cmake fails to build on summit with gcc compilers"
<pre>
[danlipsa@login3.summit spack]$ spack install cmake
==> pkgconf is already installed in /autofs/nccs-svm1_home1/danlipsa/projects/spack/opt/spack/linux-rhel7-ppc64le/gcc-6.4.0/pkgconf-1.6.1-znpunnixizfbyadqx3e2iysu3rerjswe
==> ncurses is already installed in /autofs/nccs-svm1_home1/danlipsa/projects/spack/opt/spack/linux-rhel7-ppc64le/gcc-6.4.0/ncurses-6.1-z6zsfbukgxfvuh6ex2h6w36r4at7zvtn
==

[2019-08-05 18:49] danlipsa commented on #12285
@chuckatkins Any suggestions? Thanks!

[2019-08-05 19:03] bartlettroscoe commented on #12235
@becker33 said:

Thanks @becker33!  I think @fryeguy52 reported that he got the same build error on his RHEL7 machine (but I can't find documentation for that).

[2019-08-05 19:17] balay opened #12286 "spack syntax help"
I need help with spack syntax.

I'd like to do something like the following in 'class Xsdk(Package):' This way - I don't multiply lines of code for each conditional.

Is it possible to have such conditional (on a variant declared in the same class )- and if so - what would be the appropriate syntax?

Thanks,
[code]
The above code gives:
[code]

[2019-08-05 19:23] davydden commented on #12286
@balay I am not associated with the university anymore and unfortunately have very limited amount of time to dedicate to open source projects these days ;-(

[2019-08-05 21:11] chuckatkins commented on #12285
The linker error for missing symbols usually comes up when you don't have the compiler module loaded before hand.  Spack should load the module for the compiler so I'm not sure why that doesn't seem to be happening.  Can you try manually loading the module for gcc-6.4.0 and then try building again?

[2019-08-05 21:28] danlipsa commented on #12285
@chuckatkins They seem to be loaded. Look at the end I have a 'module -t list' command executed that lists gcc/6.4.0

[2019-08-05 22:04] danlipsa commented on #12285
Strangely, if I run this from the files left by spack it finishes without errors.
<pre>
[danlipsa@login3.summit spack]$ cd /autofs/nccs-svm1_home1/danlipsa/projects/spack/var/spack/stage/cmake-3.15.1-j7qi3b5yu3zein4nja7h3iowyy235rrn/
[danlipsa@login3.summit cmake-3.15.1-j7qi3b5yu3zein4nja7h3iowyy235rrn]$ . spack-build-env.txt
[danlipsa@login3.summit spack-src]$ './bootstrap' '--prefix=/autofs/nccs

[2019-08-06 03:50] s-sajid-ali commented on #7687
While I can test on KNL, we can leave assign this particular issue the lowest priority since KNL is a deprecated architecture. Once `py-numpy` build is robust on the more commonly used architectures, we can come back to this :)

PS : Is there any indication on the need for source built numpy on KNL ? While I have given up on using python for performance on KNL, I'm not sure if library developers a

[2019-08-06 04:29] mwkrentel commented on #12285
@danlipsa Here's a wild a crazy question that just might work.
What does this report?

[code]

[2019-08-06 12:01] danlipsa commented on #12285
<pre>
[danlipsa@login3.summit ~]$ spack compiler info gcc
gcc@4.8.5:
	paths:
		cc = /usr/bin/gcc
		cxx = /usr/bin/g++
		f77 = /usr/bin/gfortran
		fc = /usr/bin/gfortran
	modules  = []
	operating system  = rhel7
gcc@6.4.0:
	paths:
		cc = /sw/summit/gcc/6.4.0/bin/gcc
		cxx = /sw/summit/gcc/6.4.0/bin/g++
		f77 = /sw/summit/gcc/6.4.0/bin/gfortran
		fc = /sw/summit/gcc/6.4.0/bin/gfortran
	modules  = []

[2019-08-06 14:00] chuckatkins commented on #12285
It looks like the compiler configuration for spack isn't loading the necessary module, i.e. `modules = []`.  Try adding the module to the spack compiler configuration.

[2019-08-06 14:29] danlipsa commented on #12285
YES! Thanks Chuck! Indeed, this solved it. Should I leave this as a bug?

[2019-08-06 15:29] chuckatkins commented on #12285
It can be closed.  It's certainly not a cmake bug.  If anything, it's an issues with proper compiler detection, but not auto-detecting the modules to load is a known issue.  It is, however, covered in the Getting Started portion of the docs, https://spack.readthedocs.io/en/latest/getting_started.html#compilers-requiring-modules, it's just often overlooked.

[2019-08-06 15:29] #12285 closed

[2019-08-06 16:40] scottwittenburg opened #12294 "Two ways to install from buildcache: `spack install` vs `spack buildcache install`"
It seems there are two distinct ways to install a package from a binary mirror (buildcache).  The default when using `spack install` is to check configured mirrors for binaries and try to install specs from those mirrors when possible, but only inside the loop that traverses all the specs dependencies (including build dependencies).  When using `spack buildcache install`, only link and run depende

[2019-08-06 18:02] mwkrentel commented on #12285
@tgamblin See, it's reports like this that make me want to nag you
about spack automatically filling in the `modules:` field in
`compilers.yaml`.  Spack does this on Cray, but not elsewhere.

Technically, this is pilot error, but it's a very easy mistake to
make.

I've asked about this before in #9376 and #10790, but they didn't get
any traction.

@chuckatkins The suggestion about loading the modu

[2019-08-06 18:33] adamjstewart commented on #12237
Found the magic fix: http://math-atlas.sourceforge.net/atlas_install/node66.html

PR incoming.

[2019-08-06 19:53] #12095 closed

[2019-08-06 20:17] gartung commented on #12294
Is this a critique of the buildcache install command or the install command? By design, the buildcache install routine only traverses the dependency tree for link and run dependencies. I have also noted that the install command will install build tools like cmake even when a buildcache is found.

[2019-08-06 20:22] scottwittenburg commented on #12294
Thanks @gartung, sorry if I didn't make it clear.  I would like it if `spack install` would behave the same as `spack buildcache install` whenever possible.  So if the buildcache has all the run/links deps present, I'd like to skip installing the build dependencies (since building shouldn't be necessary).

[2019-08-06 20:38] gartung commented on #12294
OK. So where spack install decides to install the buildcache it should then traverse the dependency tree in the same way picking only link and run dependencies and then installing them lowest first. Since the install method is core functionality I would leave it to the core team.

[2019-08-06 20:42] gartung commented on #12294
There is also a disconnect if the package.py files have changed since the buildcache was created. Ideally the install would use the package.py files from the buildcache .spack directory when installing.

[2019-08-06 20:43] gartung commented on #11620
Use spack buildcache create -a

[2019-08-06 20:57] scottwittenburg commented on #12294
I think if the package.py files have changed since the buildcache was created, it's likely I would need to rebuild the package anyway.

[2019-08-06 21:03] gartung commented on #12294
For HEP analysis purposes, we keep and install versioned binaries in order to get the same results.

[2019-08-06 22:42] odoublewen opened #12297 "TODO: add new package shadow"
Need new package for `shadow` project

* package `singularity@3.3.0:` depends on command `newuidmap` (and `newguimap`) for full functionality (fakeroot support).
* `newuidmap` is provided by upstream project https://github.com/shadow-maint/shadow
* building `shadow` in turn appears to require `semange.h`

@vsoch should this package be called `shadow-uidmap` or just `shadow`?

See #12295 for motiva

[2019-08-06 22:46] vsoch commented on #12297
I think shadow-uitmap, just "shadow" is really general, and we should be specific!

[2019-08-06 23:20] #3204 closed

[2019-08-06 23:20] #5327 closed

[2019-08-06 23:20] #7687 closed

[2019-08-06 23:20] #12237 closed

[2019-08-06 23:56] scottwittenburg opened #12298 "Spack is not respecting `install_missing_compilers: true`"
I used a custom config scope (but also tried simply to edit my `~/.spack/config.yaml` file) to set the `install_missing_compilers` key to `True`, and then when I attempted to install a spec using a compiler that is not configured, instead of first installing the missing compiler, spack printed a stack trace and exited.

### Steps to reproduce the issue

First I just verify that the custom config s

[2019-08-07 00:00] scottwittenburg commented on #12298
@becker33 Here is that issue I mentioned on slack, please let me know if I have missed any important information.

[2019-08-07 03:35] tgamblin commented on #12298
Triaged and assigned to @becker33

[2019-08-07 04:27] mwkrentel commented on #12286
@balay I'm not sure of exactly how you want to generalize the example
above, so this may or may not be useful.  But here are two
suggestions.

First, as you've discovered, the following attempt is not allowed in
the top-level code in the package class.  This is because the spec
isn't known at that time.  (You can use `self.spec` in an `install()`
or other method that knows self.)

[code]

But you

[2019-08-07 09:38] laubry commented on #12235
Hi,
Redhat 6 has binutils 2.20 which doesn't support avx2 (or at least this instruction)
If you install a recent binutils and add it to the module section in your compiler.yaml it should work

on CentOs 6.10 I have:
as --version
GNU assembler version 2.20.51.0.2-5.48.el6_10.1 20100205
with asm-vpermd.s :
       .text
        vpermpd $0xb1,%ymm0,%ymm0
as asm-vpermd.s
asm-vpermd.s: Assembler message

[2019-08-07 13:59] bartlettroscoe opened #12304 "Installation issue: hdf5-1.8.21 lib link can't find -licov when building against external openmpi"
CC @becker33, @fryeguy52

When trying to build 'hdf5-1.8.21' using a pre-installed 'openmpi-1.10.1' (pulled in as an external package) the build of the 'libhdf5_cpp.so.16.0.0' library fails with the link error:

[code]

However, if you build 'hdf5-1.8.21' with 'openmpi-1.10.1' in the same `spack install` command it works.   But we can't build 'openmpi' with the downstream TPL packages including 'h

[2019-08-07 14:02] bartlettroscoe commented on #12304
@becker33, I think I can hack this to work if I can figure out how to get `-L<libiconv-dir>` on the link link.  I could hack the `hdf5/package.py` file to do this (and use an env var) but is there an easier way to get arbitrary link options onto the link line for all Spack packages?  It seems that it should be harmless to put `-L <libiconv-dir>` on every link line.

I was told by someone that I ma

[2019-08-07 14:30] scottwittenburg commented on #12294
@tgamblin @becker33 @scheibelp I'd be happy to take a stab at this, but it would be great if we could first discuss the approach a bit.  Maybe commenting on this issue is a good place to start that discussion?  I'm also fine leaving it to you, as @gartung has suggested.

[2019-08-07 15:53] obreitwi opened #12306 "Error when building automake from spec file"
While building `automake` the "regular" way (i.e., `spack install autoamke`) works, when building from a spec file, `autoconf` is missing.

### Steps to reproduce the issue

[code]

### Error Message

[code]

### Contents of the spec file: `automake.yaml`
[code]

Afterwards, only the following packages are installed:
[code]

I have not yet investigated as to why the `autoconf` binaries are not add

[2019-08-07 16:39] lee218llnl commented on #11691
@anderbubble As far as I can see #11968 fixes this, so I will close out this issue. Feel free to reopen it if you find otherwise. Also let me know if you get a chance to verify the fix for yourself (note you would have to pull the develop branch and remove your etc/spack/licenses directory to test).

[2019-08-07 16:39] #11691 closed

[2019-08-07 17:03] bartlettroscoe commented on #12304
FYI: I verified that if I hack the hdf5/packages.py file as:

[code]

I can get 'hdf5' to build.  But I was not able to pass this `-L<dir>` argument through the `ldflags` compiler wrapper argument to spack.  Actually, I can't even tell what arguments these are.  Does spack have a verbose mode where its compiler wrappers will be verbose showing the extra arguments it is passing into each command?

[2019-08-07 17:04] aprokop opened #12307 "Installation issue: superlu"
### Steps to reproduce the issue

[code]

### Platform and user environment

Please report your OS here:
[code]

### Additional information

Install csh `apt-get install csh` fixed the issue, but this is just a workaround.