[2021-11-04 03:43] eugeneswalker commented on #27207
I can reproduce this using:
* Docker container image `ecpe4s/ubuntu20.04-runner-x86_64:2021-11-01`
* Concrete spec = [kokkos.json.txt](https://github.com/spack/spack/files/7472140/kokkos.json.txt)

[code]

Now you can examine `KokkosConfigCommon.cmake`:
[code]

[2021-11-04 04:04] albestro commented on #27213
Thanks for reporting it.

Apparently, the problem has been also noted in https://github.com/spack/spack/pull/27185#discussion_r742385665.

@haampie do you suggest to open a quick patch PR for just that single fix or wait for #27185 to be merged?

[2021-11-04 04:08] wspear commented on #27207
Just to be complete, the internal spack compiler will always fail as shown below when executed outside of spack's internal build environment. It should never show up in an installed file.

[code]

[2021-11-04 08:43] simonpintarelli commented on #27191
@AdhocMan pushed a fix to https://github.com/electronic-structure/SIRIUS/tree/develop, could you please either try to build `spack install q-e-sirius@develop-ristretto ^sirius@develop ...` or cherry pick https://github.com/electronic-structure/SIRIUS/commit/b0a4c60a86360b0b67468f28fbf42c929778bcb7 ?

[2021-11-04 09:52] #27213 closed, assigned to nobody

[2021-11-04 10:22] jppelteret commented on #27183
Thanks for reporting this. I agree that it might be a problem on our side, so I've [opened up an issue](https://github.com/dealii/dealii/issues/12914) for it.

[2021-11-04 15:28] wortiz opened #27218 "Spack fails to bootstrap clingo fedora 35"
### Steps to reproduce

Seems to work fine with a checkout before 78c08fccd56d

Download spack with git and run:

[code]
Used same dnf packages as

https://github.com/spack/spack/blob/develop/.github/workflows/bootstrap.yml#L28-L31

### Error message

[code]

### Information on your system

podman image ls
REPOSITORY                         TAG         IMAGE ID      CREATED       SIZE
registry.fed

[2021-11-05 07:15] #311 closed

[2021-11-05 07:15] #20429 closed, assigned to tgamblin

[2021-11-05 07:15] #22613 closed, assigned to tgamblin

[2021-11-05 07:17] longlong10086 opened #27236 "glew: "undefined reference to `operator delete(void*)@@GLIBCXX_3.4'""
### Steps to reproduce

spack -d install glew  %gcc@10.2.0

### Error message

 86     /home/export/base/nsccwuxi_fgs/fgs001/softs/spack/lib/spack/env/gcc
            /gcc -O2 -g -DNDEBUG -rdynamic CMakeFiles/visualinfo.dir/tmp/fgs001
            /spack-stage/spack-stage-glew-2.1.0-lltal4j7bocikcax3vykagc47ef52y6
            5/spack-src/src/visualinfo.c.o -o bin/visualinfo  -Wl,-rpath,/tmp/f

[2021-11-05 10:24] alalazo opened #27237 "Reusing specs doesn't respect variant constraints"
This issue has been reported by @haampie on Slack

### Steps to reproduce

Apply the following diff:
[code]
to e13e697067d004107655bc206ac18e9191abf26c and then:
[code]

### Error message

There's no error message, but:
[code]
is reusing a spec that doesn't meet the specifications.

### Information on your system

* **Spack:** 0.16.3-5278-e13e697067
* **Python:** 3.8.10
* **Platform:** linux-ubunt

[2021-11-05 10:27] haampie commented on #27237
Simpler reproducer:

[code]
[code]
concretizes to `+shared`.

[2021-11-05 10:30] alalazo commented on #27237
It seems we need some additional integrity constraint for reused specs. This is the answer set for the `hdf5` case:
[code]
and zlib has both:
[code]

[2021-11-05 10:35] alalazo commented on #27237
Going through this:
[code]
it seems to me we miss rules to say that we cannot have additional constraints which are not imposed by the spec.

[2021-11-05 10:51] alalazo commented on #27237
This diff:
[code]
seems to fix the reproducers for me. I'll be testing this locally to see if any unit-test fails and try to write a unit-test to avoid regressions.

[2021-11-05 11:02] haampie commented on #27237
I can't test my original example anymore cause i just installed new stuff. But seems like this works for the trivial examples.

One issue, with --reuse:

real    1m57.911s

without --reuse:

real    0m7.970s

it's 15x slower

And this is a result of the patch above :(

[2021-11-05 12:37] alalazo commented on #27237
This commit https://github.com/spack/spack/pull/25310/commits/d3eb1ca4b8ad3b9a1f65d275c7114ee9c4182f55 is related to the issue

We didn't see this error before the commit above since we were relying on certain rules being imposed on both reused and built specs. Before that commit though we were implicitly relying on the current directives to hold true also for reused specs, which is certainly not

[2021-11-05 16:52] #27237 closed, assigned to haampie, tgamblin, alalazo, becker33

[2021-11-05 17:04] vchuravy commented on #26579
`spack install ucx+cuda+mlx5-dv` works

[2021-11-05 17:33] jacorvar opened #27243 "add rstudio server package"
### Summary

RStudio Desktop version is already present, but RStudio Server would be very useful to be installed on servers. I edited the my `spack/var/spack/repos/builtin/packages/rstudio/package.py` file but installation does not work properly. Basically, I replaced the following rows:
[code]
by:

[code]
and added `libpam` as a dependency.

However, it crashes at build phase.

### Additional inf

[2021-11-05 20:06] mwkrentel commented on #27236
@longlong10086 I have a theory.
What does `spack compiler info gcc` report ?
I'm interested in the `modules:` field of the 10.2.0 compiler.

[2021-11-05 21:51] alalazo commented on #27218
Fixed by #27231

[2021-11-05 21:51] #27218 closed, assigned to nobody

[2021-11-06 08:12] jppelteret commented on #27183
We've just merged a fix for this. @eugeneswalker, would you be willing to see if `dealii@develop` builds for you? We're in the process of putting together a bug fix release, so we could incorporate the fix in `dealii@9.3.2`.

[2021-11-06 12:15] vsoch commented on #16968
I think we just hit this error, but for an older gcc install attempt. Note that it was working before:

https://github.com/rse-ops/docker-images/runs/4123921483?check_suite_focus=true

How do we fix it? cc @davidbeckingsale

[2021-11-07 13:14] ThrudPrimrose opened #27259 "Installation issue: m4"
### Steps to reproduce the issue

To get the issue:
[code]

And the error message will be:
[code]

### Information on your system

[code]

Also I am using the compiler of my system:

[code]

### Additional information

The spack-build-out.txt

==> m4: Executing phase: 'autoreconf'
==> m4: Executing phase: 'configure'
==> [2021-11-07-14:09:23.971528] '/tmp/primrose/spack-stage/spack-stage-m4-1.4.18

[2021-11-07 14:09] ThrudPrimrose commented on #27259
[code]
with version:
[code]

does not reproduce the issue

[2021-11-07 15:36] certik commented on #26319
This also happens when you do `spack install llvm@11.1.0` as part of the LLVM build itself. On M1.

But `spack install llvm` which installs llvm 13.0.0 works.

[2021-11-07 19:02] tz-rrze opened #27260 "intel-oneapi-mkl does not set MKLROOT when used as build dependency"
``intel-oneapi-mkl`` in contrast to ``intel-mkl`` does not set the environment variable ``MKLROOT`` when used as build dependency. As a result e.g. ``lammps +kspace ^intel-oneapi-mkl`` cannot find the MKL include files and libraries in tLammps' cmake phase.

Adding the following two lines to ``packages/intel-oneapi-mkl/package.py`` would solve the issue. But there might be a better way to do it. @

[2021-11-07 20:27] tz-rrze opened #27262 "--config-scope ignored when -d or -L are specified in spack-0.17.0"
### Steps to reproduce

[code]

### Error message

no error message but settings from the ``--config-scope DIR`` are lost with 0.17.0 when ``-d``, or ``-L`` are specified.

If the specific yaml files are moves to ``~/.spack/linux/`` their setting is picked up even when ``-d``, or ``-L`` are specified - no output shown here as that's not a solution.

Seems like the issue from #13754 reappeared with

[2021-11-08 05:36] longlong10086 commented on #27236
@mwkrentel

My gcc10.2.0 was combined by gcc4.8.5 using `spack install gcc@10.2.0 %gcc@4.8.5` .

# spack compiler info gcc
gcc@4.8.5:
        paths:
                cc = /usr/bin/gcc
                cxx = /usr/bin/g++
                f77 = /usr/bin/gfortran
                fc = /usr/bin/gfortran
        modules  = []
        operating system  = centos7
gcc@10.2.0:
        paths:
                cc

[2021-11-08 07:59] mwkrentel commented on #27236
The `modules:` field for the 10.2.0 compiler is empty.  Technically,
this is out of spec.

Often this will work without the module loaded, but sometimes not.  In
this case, the undefined references to libstdc++ functions suggests to
me that you need LD_LIBRARY_PATH or something from the compiler
module.

https://spack.readthedocs.io/en/latest/getting_started.html#compilers-requiring-modules

Try a

[2021-11-08 11:55] lamdalamda commented on #27191
Hi thank you very much for your reply.

I have followed your instruction and a new error occurred. Seems like it is due to the external src?
[code]
The complete output is as followed

[code]

[2021-11-08 12:35] simonpintarelli commented on #27191
Could you please try to compile it without the hip/amd gpu target and see if you get the same error for the `iso_fortran_env.mod`? I'm using it with gcc 10 (+cuda), previously gcc 9, and so far haven't seen this error.

[2021-11-08 17:20] adamjstewart commented on #7370
Is this issue still present or can this be closed?

[2021-11-08 17:30] davidbeckingsale commented on #16968
I think that our problem was caused by using Ubuntu 22.04. Backporting  the fixes to old versions can be quite challenging, might not be worth it.

[2021-11-08 17:33] vsoch commented on #16968
Huh, how did we get a 22 04? I thought the release date would be April 2022? Did we time travel? :laughing:

[2021-11-08 20:44] frobnitzem commented on #21190
I have heard that bazel is failing to build with versions of java newer than 11.  This is a problem because there is no special `depends_on('java@11')` call-out that prevents spack from always trying (unsuccessfully) from building bazel with newer java versions.

[2021-11-08 21:03] adamjstewart commented on #21190
Bazel's Java support seems really finicky. I've gotten certain versions of Java to work on one machine but not others. I haven't yet determined what versions are supported, if any.

[2021-11-08 23:01] trws commented on #26464
I was planning to start another issue on this, may well use this comment as a seed for it anyway, but one significant issue with the current situation is that it's horrifyingly broken for some common git usage models.   The main one being the infamous [git-flow](https://nvie.com/posts/a-successful-git-branching-model/), which we use on the raja project, and is used by a number of others.

By desig

[2021-11-09 01:02] ax3l commented on #26319
Yes, I even found that 12.0.1+ already works #26320

[2021-11-09 07:26] dev-zero commented on #23455
Just encountered the same error while debugging a problem where CMake packages always use a system-provided OpenMPI implementation instead of the MPI-package selected, but with `intel-parallel-studio`:

[code]

[2021-11-09 09:48] longlong10086 opened #27309 "got an error " This does not look like a tar archive""
### Steps to reproduce

spack -d install  kim-api@2.2.1   %gcc@10.2.0

Decompressing the txz compressed package failed with the parameter oxf, but succeeded with oxJf．
How to modify the parameters of tar？

### Error message

==> [2021-11-09-17:43:52.242393] '/bin/tar' '-oxf' '/tmp/globus/spack-stage/spack-stage-kim-api-2.2.1-q2r6i2hujkagi5klbidhkjpbr242zwov/kim-api-2.2.1.txz'          [0/1956]
/bi

[2021-11-09 11:26] jthies opened #27311 "Installation issue: openmpi"
### Steps to reproduce the issue

[code]
What happens is that this concretizes to openmpi ~pmix schedulers=slurm ^slurm~pmix,
but during the build there is an error message
[code]
So I believe there is a line missing in the openmpi/package.py like
[code]

### Information on your system

 **Spack:** 0.17.0-4-4c08beeaef
* **Python:** 3.8.10hppritcha  naughtont3
* **Platform:** linux-ubuntu20.04-icel

[2021-11-09 11:37] haampie commented on #27311
See https://github.com/spack/spack/pull/27258, closing assuming this is the solution, otherwise please reopen.

[2021-11-09 11:37] #27311 closed, assigned to nobody

[2021-11-09 12:36] dev-zero commented on #13944
I stumbled over this for a number of CMake packages. Unfortunately in my case there was a system-provided OpenMPI which was then picked up instead of the Intel MPI, resulting in weird crashes when running the application (ranging from segfaults with MPICH to "MPI not initialized" with Intel MPI) rather than a package build error.

The CMake debug/tracing shows this when CMake searches for an MPI i

[2021-11-09 15:47] #5378 closed

[2021-11-09 17:13] frankwillmore commented on #23455
@dev-zero IIRC, this ended up being the result of MPI provider info being cached in ~/.spack, while switching between different spack instances and versions from the same account. I would try `spack clean -m` or `rm ~/.spack` to purge those settings, and then try again. If that works, please update and I'll close this issue.

[2021-11-09 18:13] benfulton opened #27315 "No upper bounds on the thread pool size used to search for compilers"
### Steps to reproduce

The command was

`spack -d install zlib`

The error is in the find_compilers function, when it calls

`tp = multiprocessing.pool.ThreadPool()`

The CPU count is 128, and since nothing is specified, it tries to grab all 128 cores. Hardcoding it to ThreadPool(8) fixes the issue.

### Error message

==> [2021-11-09-10:44:05.760886] Imported install from built-in commands
==> [

[2021-11-10 00:21] eugeneswalker opened #27320 "concretizer: `kokkos +cuda ^cuda@11.4.2` has different hash depending on whether cuda is external or not"
### Steps to reproduce

Using `spack@develop` checked out at commit 285548588f533338cc5493a7ba492f107e714794 (`Fri Nov 5 17:11:18 2021 -0700`)

Concretizing this environment:
[code]

Produces this DAG:
[code]

The same environment built with the same version of cuda, but where cuda is defined externally, concretizes this way:
[code]

Notice that despite both cuda specs being:
* `cuda@11.4.2%gcc@11

[2021-11-10 09:28] longlong10086 opened #27324 "got an error "RPATH_CHANGE could not write new RPATH" in phase "install""
### Steps to reproduce

spack -d install xxx@4.2.0 %gcc@4.8.5

I added custom software which called neper to spack.
The package.py for neper uses class  CMakePackage ，and  phases <cmake,builld,install> are default.

After that, it was successfully installed on some centos7,but the installation failed on one centos7.
Enter the stage directory to view, the target file has been generated,
but an erro

[2021-11-10 15:08] steo85it opened #27330 "Installation issue: pdftk"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.16.3-4915-1d1beb7aae
* **Python:** 3.6.8
* **Platform:** linux-centos7-skylake
* **Concretizer:** clingo

### Additional information

When trying to install pdftk, I get the following error
[code]
It seems that `eclipse-gcj-parser` is not installed since `gcj` is not found in `gcc@11.2.0`. Based on #8165 , thi

[2021-11-10 17:05] alexandresardinha opened #27333 "Installation issue: hip"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.16.3-5071-6126395
* **Python:** 2.7.5
* **Platform:** linux-rhel7-cascadelake
* **Concretizer:** clingo

### Additional information

[spack-build-out.txt](https://github.com/spack/spack/files/7514584/spack-build-out.txt)
[spack-build-env.txt](https://github.com/spack/spack/files/7514585/spack-build-env.txt)

T

[2021-11-10 22:56] apmccartney commented on #26036
As a work-around, `spack containerize` allows you to specify a user-defined image for both the `build` and `final` step.

You can provide images with site-specific credentials for one or both of those steps.

[2021-11-11 01:32] terrisgit commented on #10692
I ran the same (brew install awscli) command over and over again until finally brew updated the certificates package and was able to finish the install

[2021-11-11 07:01] dev-zero commented on #27055
seeing the same thing with `intel-parallel-studio` as mpi/fftw/blas/lapack provider, but in my case setting it for `all` did not help

[2021-11-11 07:46] jphill4 opened #27346 "LD_LIBRARY_PATH not set when environment is re-activated"
Edit: since Spack 0.19 we no longer set LD_LIBRARY_PATH because it breaks system executables.

### Steps to reproduce

I've noticed that when activating an environment, the LD_LIBRARY_PATH variable is not always getting set. A bit of testing showed that the first time an environment is loaded, LD_LIBRARY_PATH is set correctly. If the environment is then deactivated and subsequently re-activated, P

[2021-11-11 07:46] dev-zero commented on #26117
can reproduce with `intel-parallel-studio@cluster.2020.4`

[2021-11-11 07:53] dev-zero commented on #26117
I think the problem is located here in the `intel-linux.jam`:

[code]

For Intel we specifically do not set the `command` in the `user-config.jam`, hence Boost will try to auto-detect in well-known paths, which is a) wrong from a Spack perspective since it ignores our compiler and b) fails if the Intel compiler is at a different location.

Unfortunately simply setting the command in the `user-conf

[2021-11-11 09:10] dev-zero commented on #26117
After setting the `toolset` in `user-config.jam` (which is currently disabled for `%intel` to avoid another issue) it will still be overwritten since internally the `toolset` is still called `intel` but the `project-config.jam` generated by the bootstrap script checks for `intel-linux` to determine whether to include a `using intel-linux`. So, the solution is to also include `using intel-linux` in

[2021-11-11 14:31] haampie commented on #23556
Looks related to https://github.com/spack/seps/issues/4, which is a proposal that should be revived...

[2021-11-11 16:58] alalazo commented on #23556
The best proposal imo is in https://github.com/spack/seps/pull/3 - the one linked above is an alternative proposal with still a lot of open questions.

[2021-11-11 17:36] patrickb314 commented on #6419
Haven't re-tested and problem addressed through other means.

[2021-11-11 17:36] #6419 closed

[2021-11-11 19:36] chchang6 opened #27368 "Installation issue: clapack"
### Steps to reproduce the issue

The issue is that atlas will not build with certain CPU configurations, but the clapack external-blas variant does not appear to be enabled. clapack also has a hard dependency on atlas for some reason, which is as this issue illustrates, a finicky dependency.

[code]

### Information on your system

[code]

### Additional information

[spack-build-env.txt](https:/

[2021-11-11 19:59] dylex opened #27369 "python curses module broken, ncurses inconsistency"
The curses module in python doesn't work (at least when built with readline and ncurses from spack).  Even fairly [simple curses scripts](https://gist.github.com/blackwer/0c0231526f8129ae558700238357d1a4) segfault or otherwise misbehave.  The [`test_curses.py`](https://github.com/python/cpython/blob/main/Lib/test/test_curses.py) python test also fails.

There are a number of things going wrong her

[2021-11-11 21:37] rhenwood-arm commented on #26908
I've had a bit of time to poke at this. I can reproduce the hang without spack and just gpg:

`/bin/gpg2 --detach-sign --armor --default-key 3F....8F --output /tmp/gpgtest.asc /tmp/tmp523sqiku/build_cache/linux-centos8-thunderx2-gcc-8.3.1-libxml2-2.9.12-rchashhashhashhashhashg.spec`

I know very little of gpg, so it isn't obvious what if this is helpful, but I'm recording here as my journey contin

[2021-11-11 21:39] rhenwood-arm commented on #26908
Also, I'm using spack in a container, with a single CI/CD process, and that works nicely with GPG and my S3 bucket.

[2021-11-11 22:29] adamjstewart commented on #27369
Thanks for opening this issue. The `ncurses` vs `ncursesw` (and `+termlib` vs `~termlib`) issue has been a headache in a lot of packages. We previously added a `wide` variant to `ncurses` that controlled whether we built `ncurses` or `ncursesw`, but that had a lot of issues too (some packages in a DAG required `+wide` while others in the same DAG required `~wide`). For most packages, explicitly qu

[2021-11-11 22:39] dylex commented on #27369
Thanks.  Yeah, ncurses is a headache for many distributions and everyone does something slightly differently, with no great standard solutions.

For #27372, the important piece is installing the non-wide headers *somewhere*. Wether or not other packages are including the right one is a different question. The safest change would be to only install them in `include/ncurses`, and leave the ncursesw

[2021-11-12 00:26] haampie opened #27380 "module tests write to spack prefix not tempdir"
```test_invalid_token_in_env_name```

This test writes to the spack prefix, which makes the test fail because the write(...) call quits early as the module files exists.

[2021-11-12 07:02] #26117 closed, assigned to scheibelp

[2021-11-12 07:12] #27260 closed, assigned to nobody

[2021-11-12 09:10] dkonst13 opened #27397 "Typo in madgraph5amc/package.py"
Hi @iarspider,

https://github.com/spack/spack/blob/95ad5b882c990971e74d04261a665ba680f7c4be/var/spack/repos/builtin/packages/madgraph5amc/package.py#L55

There is a typo. Probably it makes sense to fix it.

[2021-11-12 09:17] iarspider commented on #27397
Hi @dkonst13,

I will check, but I think patches for 2.8.0 and 2.8.1 were the same.

Ivan

[2021-11-12 09:22] dkonst13 commented on #27397
I guess you are right. Anyway all available versions look kind of old.
I think you can close the issue then. Thanks!

[2021-11-12 09:24] iarspider commented on #27397
Feel free to open PR with update :)

[2021-11-12 09:24] #27397 closed, assigned to nobody

[2021-11-12 16:13] joequant opened #27416 "Installation issue: root"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.17.0
* **Python:** 3.9.8
* **Platform:** linux-mageia9-zen2
* **Concretizer:** clingo
[user@00a6a88f7b8b /]$

### Additional information

@HadrienG2  @chissg  @drbenmorgan  @vvolkl

compile issue reported in

https://github.com/root-project/root/issues/9285

Appears to work in 6.24.04

[build.log](https://gith

[2021-11-12 17:47] rhenwood-arm commented on #26908
I have tried adding gnupg from spack - to see if a more recent version helps. No change.

Trying a small example:

`spack --debug -vvvvv  gpg sign --clearsign --key 3F919FFFFFFFFFFFFFFFFFFFFFFFFFFF --output /tmp/gpgtest.asc /tmp/tmp523sqiku/build_cache/linux-centos8-thunderx2-gcc-8.3.1-libxml2-2.9.12-rcqkoonlfnymj3cezu54giat5kvlyvng.spec.json`

[code]

the process appears to be waiting for a pipe?

[2021-11-12 23:16] albestro commented on #23036
Just upgraded to BigSur (from Mojave), same problem building LLVM with spack.

My understanding is:
- spack injects `-march=skylake` into each compilation line (I suppose via the compiler wrapper using the env variable `SPACK_TARGET_ARGS`),
- LLVM on newer macOS builds for all architectures (probably for allowing the creation of universal binaries compatible with new Apple architectures), so even

[2021-11-12 23:27] trws commented on #23036
If that's the issue, it should be possible to do that by specifying the targets variant and only listing the native target.  That's not something that we necessarily want to force everyone to do, but if it gets it working we'd be a lot better off than an always broken build.
________________________________
From: albestro ***@***.***>
Sent: Friday, November 12, 2021 3:16 PM
To: spack/spack ***@***

[2021-11-13 16:46] albestro commented on #23036
An update. I did a couple of tests with

[code]

With a bit of investigation in LLVM CMake files, I feel confident saying that the only LLVM sub-project triggering the problem is `llvm-project/compiler-rt`.

Here I report two main issues with it (just as examples, they are not the only ones):

- CMake target `RTSanitizerCommonCoverage.osx` has multiple architectures; I don't know how/if it is mana

[2021-11-13 23:15] haampie commented on #21435
I think this is an issue upstream (flang enables mlir, which did not support shared libs well, although it should: https://reviews.llvm.org/rG1246e867164b06fc3f0de6bfaaa0922d99cb5ce9)

[2021-11-15 08:49] gsiawGH commented on #27050
fixed.  had to reinstall spack from scratch and checkout "releases/v0.17"

[2021-11-15 08:50] #27050 closed, assigned to alalazo

[2021-11-15 12:15] alalazo commented on #27320
I would say this is expected behavior, since being "external" means somehow "not under Spack's control". In any case I'm adding the issue to the v0.18.0 project so that we can discuss it in more details, maybe during one of the weekly meeting, and check if a change in the current behavior would be beneficial going forward.

[2021-11-15 13:06] hpcnpatel opened #27455 "Installation issue: py-pymol"
### Steps to reproduce the issue

spack install py-pymol@2.5.0%gcc@11.2.0 arch=linux-sles15-x86_64

The py-pymol builds and the installation seem to be OK. But it cannot be executed because the path for __init__.py was set incorrectly in bin/pymol. Instead of the full path, the path refers to the PyMOL root folder and is /lib/python3.8/site-packages/pymol/__init__.py.

Do you have any idea what th

[2021-11-15 14:58] albestro opened #27456 "`spack location --build-dir` inconsistency"
### Steps to reproduce

[code]

The problem seems to be an inconsistency in the logic of the `spack location -b` command implementation.

https://github.com/spack/spack/blob/35bf91012f83f64faf528007cb0b775465218b80/lib/spack/spack/cmd/location.py#L126-L139

In particular, `findutils` is an `AutotoolsPackage` with
https://github.com/spack/spack/blob/35bf91012f83f64faf528007cb0b775465218b80/var/spac

[2021-11-15 20:45] elfprince13 opened #27461 "Out of date external six breaks builtin urllib3"
### Steps to reproduce

[code]

After some debugging of urllib3 reporting a parse error in what appeared to be a well-formed URL, I modified the system `urllib3.util.url.py` as follows to obtain a full backtrace. In `parse_url`:
[code]

This revealed the root cause as the `AttributeError: module 'six' has no attribute 'ensure_str'` in the backtrace below.
I also found that invoking `parse_url("htt

[2021-11-15 22:42] amklinv-nnl opened #27464 "Installation issue: kokkos +cuda_relocatable_device_code +shared should trigger conflict"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.16.2-3000-e4a559a571
* **Python:** 3.8.10
* **Platform:** linux-ubuntu20.04-skylake
* **Concretizer:** original

### Additional information

@janciesko @jjwilke

Installing ```kokkos +cuda +cuda_relocatable_device_code``` should trigger a conflict with the default option of ```+shared``` as indicated by the er

[2021-11-15 22:49] bollig commented on #26891
Any ideas how to move past this?

[2021-11-16 00:24] joequant commented on #27416
This has been traced to a prerelease mismatch in header files for gcc valarray.

[2021-11-16 00:24] #27416 closed, assigned to nobody

[2021-11-16 06:08] longlong10086 opened #27469 "error "undefined reference to `XGetUtf8FontAndGlyph'" while installing gmsh"
### Steps to reproduce

spack  -d install gmsh@4.8.4 %gcc@10.2.0  ^flex@2.6.4

### Error message

==> [2021-11-15-14:01:55.800065] gmsh: Executing phase: 'cmake'
==> [2021-11-15-14:01:59.962838] gmsh: Executing phase: 'build'
==> [2021-11-15-14:08:34.732588] Error: ProcessError: Command exited with status 2:
    'make' '-j4'

17 errors found in build log:
     1701    [ 97%] Linking CXX executable

[2021-11-16 07:04] alalazo commented on #26891
@rscohn2 Do you have time to take a brief look at this?

[2021-11-16 07:48] bollig commented on #26891
I was able to sidestep the issue with --reuse:
[code]
Still interested in a cleaner solution though.

[2021-11-16 14:13] thomasbrTTU opened #27479 "Build errors using Rocky Linux on Milan"
Trying to build fftw on a Milan system with the Rocky Linux OS using

`spack -d install fftw %gcc@11.2.0`

It is recognizing rocky linux and zen3.

[code]

The build process is not able to find the json file that defines the spec for rocky linux using the default compiler gcc@9.4.0 instead of the specified compiler gcc@11.2.0 for the build process. Here is the first error it encounters.

[code]
La

[2021-11-16 14:23] trws commented on #23036
That's all valuable information, thank you for digging into this!  Your last data point, that constraining the target didn't fix it, tells me what I needed to know.  This is something about the way the Mac build works that insists on building multi-arch runtimes, it makes sense now that I think about it but hadn't occurred to me before.

The question is how we fix it.  We may have to suppress the

[2021-11-16 14:28] albestro commented on #23036
I did a super quick test with a dummy source code

[code]

[2021-11-16 14:33] albestro commented on #23036
I'm wondering if it would be a (not so clean but) viable and feasible idea to `unset SPACK_TARGET_ARGS` (or even just altering) flag from the `setup_build_environment` function of the `mpich` package (but I'm not sure about when this function is called in the build environment creation).

I know, it's absolutely a dirty thing.

[2021-11-16 14:47] trws commented on #23036
That would be similar to the effect of a wrapper, if that's what we have to do I'd do it, but this can't be the only place where that's a problem.  Would rather find the "right" solution if we can, but that might be worth trying to see if it works.

[2021-11-16 16:06] w8jcik commented on #24435
@ikitayama Did you try other GCC versions?

I have seen this before when compiling GROMACS with GCC 11.

[2021-11-16 16:07] w8jcik commented on #24435
@ikitayama Did you try other GCC versions?

I have seen this before when compiling GROMACS with GCC 11.

It was a missing header in GROMACS, compilation working by a chance. No longer working with newer GCC.

https://gitlab.com/spack/spack/-/commit/862ce517ce96c26c11825c691607ddeb3c36c164

If older GCC works, it means that LLVM needs to be patched in similar way, or requirement of older GCC added

[2021-11-16 16:10] #27096 closed, assigned to nobody

[2021-11-16 17:07] amaji commented on #24435
i think this patch worked for me with `llvm@11 %gcc@11`
https://src.fedoraproject.org/rpms/llvm10/raw/7ce7ebd066955ea95ba2b491c41fbc6e4ee0643a/f/llvm10-gcc11.patch

[2021-11-16 19:07] rscohn2 commented on #26891
I looked at the log files. I don't think it is a problem in spack or the spack packages. It is possible that the problem is in the intel compiler, but more often this kind of bug is a compiler-dependent bug in the application.

[2021-11-16 20:19] rscohn2 commented on #26891
If you are able to move to the new oneapi compilers, it will build ok:

[code]

[2021-11-16 20:22] bollig commented on #26891
Interesting. My use of %intel is from Intel-oneapi-compilers. I’ll have to
check whether %oneapi could cover my whole usecase. This seems to be narrow
in scope.

Cheers,
-E

On Tue, Nov 16, 2021 at 2:19 PM Robert Cohn ***@***.***>
wrote:

--
-Evan Bollig
***@***.***
***@***.***

[2021-11-16 20:31] rscohn2 commented on #26891
Yes, switching compilers on a complex application can be difficult. Intel releases icc (%intel) and icx (%oneapi) in the same package. Most improvements go into icx and eventually intel will stop releasing icc updates.

[2021-11-16 22:04] haampie opened #27494 "Config argument helper functions do not support conditional variants"
### Steps to reproduce

Currently when you have

[code]
the following errors:
[code]
when the condition for the existence of the variant is not met.

It's a bit questionable what the behavior of `define_from_variant` *should* be. The most sensible to me is to do nothing when the condition for `x`'s existence is not met. I don't think it should be seen as "off".

But then it's awkward, because the

[2021-11-16 22:50] ikitayama commented on #24435
I'm afraid not, due to the excessive inode usage, I'd already stopped using Spack. Sorry.

[2021-11-17 05:26] alalazo opened #27497 "Installation issue: py-pytest with external (system) python"
### Steps to reproduce the issue

Create an environment with:
[code]
and then edit it to have a single external Python. In my case the final `spack.yaml` looks like:
[code]
When trying to install the environment you should get errors near the end:
[code]

### Information on your system

* **Spack:** 0.17.0-171-2f84643c26
* **Python:** 3.8.10
* **Platform:** linux-ubuntu20.04-icelake
* **Concretize

[2021-11-17 06:12] alalazo commented on #27497
As another weird note, the same command seems to execute fine when run manually:
[code]

[2021-11-17 09:53] jackzzs opened #27499 "Spack external find: "Error: NamedTemporaryFile() got an unexpected keyword argument 'buffering'""
### Steps to reproduce

[code]

### Error message

[code]

### Information on your system

* **Spack:** 0.17.0-186-9260c38
* **Python:** 2.7.5
* **Platform:** linux-rhel7-skylake_avx512
* **Concretizer:** clingo

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have searched the issues of this repo and believe this is not a du

[2021-11-17 13:12] jacorvar opened #27502 "Incorrect checksum for `r-lobstr package"
https://github.com/spack/spack/blob/2765861705d3f48e8504c2f0b3e26ade6f5a65dc/var/spack/repos/builtin/packages/r-lobstr/package.py#L19

The checksum for the 1.1.1 is incorrect. It should be `b8c9ce00095bd4f304b4883ef71da24572022f0632a18c3e1ba317814e70716e` instead.

[2021-11-17 13:14] #27502 closed, assigned to nobody

[2021-11-17 14:21] mahendrapaipuri commented on #12520
@christoph-conrads I was having exactly this same issue and this saved my day. I hope that PR with doc changes will go through soon! Cheers!!

[2021-11-17 15:14] stevenrbrandt opened #27507 "Can't build anything"
### Steps to reproduce

I tried to run `spack install libiconv`. It failed because it couldn't find a working C compiler.

Before I start, I have a hacky workaround that lets me build. Hopefully, this hack will explain what's going on. Basically, SPACK insists on using "cc" or "CC" as the compiler, regardless of what I put in `compilers.yaml` and `packages.yaml`

The end result is that all package

[2021-11-17 15:19] lukebroskop opened #27508 "error when extending a builtin package that uses the python command: "Error: NameError: name 'python' is not defined""
### Steps to reproduce

I attempted to extend the `builtin` petsc package with the following:

[code]

@becker33 gave me a solution by adding the following the the extended petsc package:
[code]

Greg asked me to open an issue on this since there is a better long-term solution.

### Error message

Here's the error message without adding the fix from Greg.
[code]

### Information on your system

[c

[2021-11-17 15:28] haampie commented on #27507
It seems like it's trying to bootstrap clingo from sources and it has copied maybe an old compilers.yaml file which do not reflect your changes.

Can you try `spack clean -b` and then retry?

[2021-11-17 15:58] stevenrbrandt commented on #27507
@haampie `spack clean -b` doesn't seem to have any effect.

[2021-11-17 16:02] haampie commented on #27507
Hm, does ```/global/homes/s/sbrandt/.spack/bootstrap/config/cray/compilers.yaml``` still exist then?

[2021-11-17 16:20] stevenrbrandt commented on #27507
@haampie it didn't. I tried creating it by copying `~/.spack/cray/compilers.yaml` in and re-running `spack clean -b`. No effect.

[2021-11-17 16:33] haampie commented on #27507
Hi @stevenrbrandt, maybe it's easier to ask on Slack and post the solution here once you figure it out

[2021-11-17 16:53] stevenrbrandt commented on #27507
@haampie sure. How do I get on the relevant slack?

[2021-11-17 17:17] rhenwood-arm commented on #26667
I saw something apparently identical to the initial error. In my case I had a `spack install` process that was in a background state. I killed that process and now my install is working as expected. FYI: I'm on AArch64 using the 'CI/CD' environment settings.

[2021-11-17 18:45] stevenrbrandt commented on #27507
@haampie so one of the factors here is the machine I'm using: perlmutter. According to the Spack BOF at SC21 (which I am sitting in), cray support is problematic.

[2021-11-17 19:54] stevenrbrandt commented on #20244
So it turns out that all I needed to do was:
[code]

[2021-11-18 05:10] adamjstewart commented on #27497
I'm planning on modifying the entire PythonPackage build system to use `pip install` instead of `python setup.py build/install`. I'm hoping that fixes these kinds of issues. Remind me about this issue if you see my PR for this. Will probably get to this during winter break.

[2021-11-18 05:22] alalazo commented on #27497
We definitely need to do this (I read your https://github.com/pypa/setuptools/discussions/2813 thanks for that!). We probably need to do something with respect to the consistency of the Python packages that might be already installed in a system Python. Right now we just detect the `python` interpreter but we don't detect which packages are installed in it, nor we ensure that we don't try to overr

[2021-11-18 09:45] hseara commented on #23654
The problem is the following code in the llvm installation file:

[code]
This makes that independently of your spec, when not all targets are requested (default spack option but not cmake one),
both `NVPTX`, `AMDGPU` will be still compiled. And unfortunately `AMDGPU` compilation **always fails** (at least for me). Therefore, I need to remove it from this list in any of my spack installations befor

[2021-11-18 11:58] haampie commented on #23654
@trws should we just make targets a list? I julia I'd like to do `depends_on('llvm targets=NVPTX,AMDGPU,WebAssembly,BPF')`

[2021-11-18 13:52] kuberry opened #27525 "Installation issue: python"
### Steps to reproduce the issue

@adamjstewart  @skosukhin

`spack install python`

either returns a hanging:
[code]
which doesn't complete or a seemingly never-ending:
[code]

Looking at `/tmp/pakuber/spack-stage/spack-stage-python-3.8.12-lsammmx5vxnha2z74wsvt6u77icuy6qu/spack-build-04-install-out.txt`
[code]
but it is hanging before the traceback prints.

Just to summarize, when it acquires a l

[2021-11-18 14:42] trws commented on #23654
Yes, we should.  I honestly thought we *had done that* the other day when you asked me about targets, I think the current setup is a holdover from waaaaay back before multi-valued variants happened.  The only sticky bit is I think we should have a way to say "defaults plus <target>" or similar, maybe also "defaults minus <target>" but I'm less sure about that. Mainly because there's no good way to

[2021-11-18 15:50] masterleinad commented on #27156
Every `SYCL` compiler should be able to find `CL/sycl.hpp`. This looks like an environment/compiler setup issue, not one in `Kokkos` itself.

[2021-11-18 19:05] ax3l commented on #2378
I think that using Spack environments solves this problem these days :)

[2021-11-18 19:05] #2378 closed

[2021-11-18 19:08] ax3l commented on #6300
A current way to work-around this in packages arose with `clingo`, which wasn't possible in the past.

We can now do things like:
[code]

This is a bit cumbersome and manual for each possible provider and likely not a good final solution, but just want to list it here.

[2021-11-18 19:13] ax3l commented on #6324
@alalazo is that unit test still valid? I think we can `when` on dependencies now with `clingo`, don't we? :)
- https://github.com/spack/spack/issues/6300#issuecomment-973172729
- https://github.com/spack/spack/pull/27042#issuecomment-954465640

In case I got this correct then we can close this issue and remove the unit test.

[2021-11-18 19:14] haampie commented on #6300
It's not very likely all providers will have the exact same variant "interface"

[2021-11-18 19:21] haampie commented on #6324
This should be possible now

[2021-11-18 19:21] #6324 closed

[2021-11-18 20:05] eugeneswalker commented on #27156
I guess I was thinking this would be an issue with the Kokkos Spack package or perhaps an issue with how Spack sets up the OneAPI compiler. I'm just using a standard Spack auto-detected compiler definition for OneAPI. I don't have this problem when I do `spack install --dirty ...` (after sourcing the intel oneapi setvars.sh). It seems like we shouldn't need to do `--dirty` to find the right things

[2021-11-18 22:43] adamjstewart commented on #27525
Don't think I've seen this kind of issue before, maybe @becker33 or @scheibelp have some idea?

[2021-11-19 00:23] haampie opened #27539 "Set absolute paths in DT_NEEDED on Linux"
rpaths bring some good things: relocatability through `$ORIGIN` and dlopen default search locations. Spack doesn't do proper relocation, so `$ORIGIN` is unused. `dlopen` means we should never get rid of rpaths.

But they have downsides for required libs specified by soname in DT_NEEDED: rpaths are checked before linker cache (so libc requires search...), rpaths are passed down to dependencies incr

[2021-11-19 00:51] sethrj commented on #27539
One reason would be that that CMake's new [dependency installation](https://cmake.org/cmake/help/latest/command/install.html#install-imported-runtime-artifacts) generates a distribution-friendly set of libraries: all you have to do is set `CMAKE_INSTALL_RPATH=$ORIGIN/../lib64` and it will work. With the change you suggest, it would be necessary to run a "make relocatable" tool as part of postproce

[2021-11-19 07:08] steo85it commented on #27311
Adding `+pmix` works for me, so I guess #27258 should also work. Thanks for mentioning and solving this!

[2021-11-19 11:31] mahendrapaipuri opened #27546 "Installation issue: OpenMPI with hwloc"
### Steps to reproduce the issue

[code]

And for `hwloc` I am using `hwloc@2.6.0~cairo~cuda~gl~libudev+libxml2~netloc~nvml~opencl+pci~rocm+shared` spec. **Note** that I did not ask for `rocm` support with this `hwloc` spec. But if there are ROCm libraries in `/opt/rocm`, `hwloc` is picking them up automatically and building itself with `rocm_smi` support. Here are relevant lines from `config.log`

[2021-11-19 12:25] haampie commented on #27539
Just as a data point with `clang` linked to libLLVM.so:

[code]

There are 293 openat(...) calls, which is not great.

Compared to:

[code]

When I LD_PRELOAD the relevant libs.

[2021-11-19 12:47] sethrj commented on #27539
Yep, search paths are a bitch -- I recommend *not* looking at strace when building trilinos 😂  nothing like a hundred `-I` entries to really make your build crawl on slow filesystems.

[2021-11-19 15:20] vkallesh opened #27552 "Error: Bad characters in version string: 5.9.1-amdsos-build32-1+"
### Steps to reproduce

I ran spack install gcc to install latest gcc and found instead of gcc installation, below message was observed:
Error: Bad characters in version string: 5.9.1-amdsos-build32-1+

### Error message

[spack_debug_stacktrace_output.txt](https://github.com/spack/spack/files/7571161/spack_debug_stacktrace_output.txt)

### Information on your system

* **Spack:** 0.17.0-216-c5aee

[2021-11-19 16:12] gartung commented on #22954
Encountered this assert when setting cppflags for a compiler added to the environment config or to spack/etc/spack/compilers.yaml

Changing the assert to a print statement shows that values1 has the expected flags but values2 is an empty set. In this case cppflags='-I/usr/include/mit-krb5', but also cxxflags='-Wno-catch-value', ldflags='-L/usr/lib/x86_64-linux-gnu/mit-krb5'

[code]

[2021-11-19 16:38] gartung commented on #22954
Note the assert appears whenever flags are added per package in the spec. For instance if I add flags to the compiler config this spec causes the assert.

[code]

[2021-11-19 19:43] haampie commented on #27539
As @trws pointed out, the above examples only work because the library is missing a soname. If you add a soname, this is what's added to DT_NEEDED, even if it doesn't correspond to the filename:

[code]

An easier solution is to add a post-install hook that uses patchelf to update the DT_NEEDED section.

[2021-11-19 20:45] keitat commented on #25612
Do these tricks still work on Spock?

[2021-11-19 20:47] kwryankrattiger commented on #25612
@keitat I have been using these still as of a week ago, so I assume yes unless something happened in the last week in spack/spock that would have changed this behavior.

[2021-11-19 21:24] keitat commented on #25612
I should talk to you offline. We use our own environment file.  I will try to introduce you environment setting. (https://github.com/xsdk-project/installxSDK/blob/r-0.7.0/platformFiles/spock/spack.yaml)

[2021-11-19 21:39] moguzhankarakaya opened #27565 "Installation issue: gtkplus@3 cannot be installed"
### Steps to reproduce the issue

[code]
or
[code]

### Information on your system

Just git cloned the development branch and run the above code.

### Additional information

The reason is as following:

* `gtkplus@3` depends on `at-spi2-atk` and it depends on `at-spi2-core`. Then `at-spi2-core` depends on `dbus`. Finally `dbus` depends on `docbook-xml@4.4`. It explicitly requires docbook-xml ver

[2021-11-19 21:42] moguzhankarakaya commented on #27565
I am sorry since my issue doesn't follow the guidelines really well. However, I debugged the problem and noted down two key PRs that caused the issue in the first place. If you agree my suggestion above, I would gladly open a PR fixing this issue myself.

[2021-11-19 22:01] ye-luo commented on #23654
The above issue was about OpenMP offload target not LLVM backend target. In the current main. OpenMP offload targets can be built without CUDA or ROCM being installed. I think this issue can be closed to avoid further confusion.

[2021-11-20 13:09] robertu94 opened #27569 "Installation issue: py-tomli fails on Fedora 35"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.17.0-2-833dafbbe0
* **Python:** 3.10.0
* **Platform:** linux-fedora35-skylake
* **Concretizer:** clingo

[code]

### Additional information

spack-build-out.txt

[code]

spack-build-env.txt

[code]

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform

[2021-11-20 13:11] robertu94 commented on #27569
@adamjstewart I think the new python installation method (especially if we are using --no-deps` may be causing a problem here).  The author of this package has pinned a specific version of pip in their requirements.txt an if it doesn't match the system version we get a build error

This problem also seems to occur on fedora 35 without `--resuse` on the install command.

[2021-11-20 13:15] robertu94 commented on #27569
FYI @Krasow I didn't get to the point where we ran into the bug you saw with py-numcodecs yesterday and hit this bug instead first.

[2021-11-20 13:49] haampie opened #27570 "Spack should verify patchelf version."
Spack uses whatever patchelf it finds in the PATH, which is a very bad idea, cause system patchelf is typically broken by default on debian. If you're not on patchelf 0.13, it may produce broken executables, it fails to patch files larger than 2GB, and so on and so forth. See https://github.com/NixOS/patchelf/compare/0.9...0.13 for all we're missing in ubuntu 18.04.

One instance where patchelf br

[2021-11-20 20:24] adamjstewart commented on #27569
I don't think `requirements.txt` is the issue since neither the wheel nor the tarball include this file. Can you try switching from the wheel to the tarball? I'm planning on taking a closer look at this Python build system stuff over winter break.

[2021-11-21 13:24] samcom12 commented on #25734
Can we have prebuilt binaries for `clingo `for `cray-centos8-aarch64`?

[2021-11-21 14:14] alalazo commented on #25734
@samcom12 I don't have access to a Cray using AArch64, but in principle we should use the `linux-centos7-aarch64` which is already there.

[2021-11-21 22:17] xloem commented on #15867
i'm not on spack, but found this issue via websearch for the error messages.  setting CC to the gnatgcc binary for configure moved this forward for me.  it still seems to be able to bootstrap the c code fine.

[2021-11-21 22:19] adamjstewart commented on #15867
@alalazo @michaelkuhn can one of you take a look at this?

[2021-11-22 09:33] alalazo commented on #27565
@moguzhankarakaya Feel free to submit a PR to fix this and ping me. I marked the issue as "concretizer-sue-case" since this would be solved if we had separate concretization of build dependencies (in which case one node would use `dockbook-xml@4.3` and the other `dockbook-xml@4.4`)

[2021-11-22 09:47] #27546 closed, assigned to nobody

[2021-11-22 12:54] #14337 closed

[2021-11-22 12:55] haampie opened #27582 "Spack gets sles15 version wrong"
Spack does not have the service pack number as part of the distro version of SUSE Linux Enterprise Server.

Right now:

[code]

But SUSE is bumping glibc [from 2.26 to 2.31 in sp3](https://www.suse.com/releasenotes/x86_64/SUSE-SLES/15-SP3/index.html#jsc-SLE-13756) meaning that we have to reflect that in the triplet for binary caches as os version is a proxy for libc version.

Note that this is not

[2021-11-22 13:10] alalazo commented on #27582
Would this be solved by updating the vendored `distro.py`?

[2021-11-22 13:26] haampie commented on #27582
I don't think so, and neither is #26762

[code]

[2021-11-22 15:35] mpokorny opened #27587 "Installation issue: timemory"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.17.0-40-6e6847d9c7
* **Python:** 3.8.12
* **Platform:** linux-rhel7-cascadelake
* **Concretizer:** clingo

### Additional information

[spack-build-env.txt](https://github.com/spack/spack/files/7582343/spack-build-env.txt)
[spack-build-out.txt](https://github.com/spack/spack/files/7582344/spack-build-out.txt)

[2021-11-22 21:15] jrmadsen commented on #27587
@mpokorny this is indeed a strange issue. I'm not 100% sure why this is broken. The code causing the errors hasn't been modified whatsoever in well over a year so I'm guessing this issue exists for previous releases too.

From looking at the errors, my best guess is there might be some macro substitution issue or something. Or maybe the nvcc compiler with the latest GCC is causing an incorrect pat

[2021-11-22 22:02] mpokorny commented on #27587
Build is OK with gcc 9.3.0 on RHEL7 using either CUDA 11.4.0 or CUDA 11.5.0. I can try using gcc 10 if that would help, but I'd need to install it first.

[2021-11-23 02:15] Sinan81 opened #27601 "Installation issue: postgresql package cannot locate its own libraries"
### Steps to reproduce the issue

[code]

### Information on your system

[code]

### Additional information

Will provider further details soon.
pinging @adamjstewart

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have run `spack maintainers <name-of-the-package>` and **@mentioned** any maintainers
- [X] I have uploaded th

[2021-11-23 02:25] Sinan81 commented on #27601
Seems to be related to https://github.com/spack/spack/issues/21462

[2021-11-23 02:38] longlong10086 commented on #27236
@mwkrentel
I  have read` compilers-requiring-modules` ,but  I don’t quite understand the meaning of this module.
How to know the module info for my gcc10? And how to set `modules` field  for gcc10?

[2021-11-23 03:54] adamjstewart commented on #27601
This error message just means that `spec['postgresql'].libs` failed to find a `libpostgresql.so` library in the postgresql installation prefix. We likely just need to add a `libs` property to the package that searches for a different library name.

[2021-11-23 07:01] bernhardkaindl commented on #23359
A quick update: Now that #27256 is going do drop Python 2.6, #21447 might finally succeed in fixing the non-utf8 logging issue.

My tests with #21447 + python3.6 and 2.7 look very promising, so far no issue found! :+1:  I hope all the unit tests will pass.

[2021-11-23 08:13] bernhardkaindl commented on #14598
@iarspider: This specific `icu4c` error triggers when spack is executed by python3.5 and python3.6, not with >= 3.7 (likely because later versions of Python have an implicit open(..., encoding='utf-8')), as pointed out in https://github.com/spack/spack/issues/15285#issuecomment-690185837 when spack is called with an effective LC_CTYPE of C or POSIX (or another non-UTF-8 locale). The locale inside

[2021-11-23 08:13] #14598 closed

[2021-11-23 08:31] jrmadsen commented on #27587
@mpokorny Yeah, this is an NVCC bug when parsing the inheritance of a partial template specialization. I was able to reproduce the bug and fix it with https://github.com/NERSC/timemory/pull/237

[2021-11-23 13:13] olesenm opened #27611 "possible concretizing bug? does not list "openfoam" as a package"
### Steps to reproduce

[code]
vs
[code]

This is pretty strange, since _openfoam_ is actually a package, and does not seem to have anything marked "virtual".
Also a bit annoying, after putting proper effort to package the things in the first place.

### Error message

- `spack list openfoam`
[code]

- `spack list -v openfoam`
[code]

- `spack list -d openfoam`
[code]

### Information on your syst

[2021-11-23 13:13] olesenm commented on #27611
@alalazo - something changed that I've missed?

[2021-11-23 15:49] mpokorny commented on #27587
Thanks for fixing this so quickly. I'm happy to work around the issue by using gcc 9.3.0 until the `timemory` branch is merged into `develop`.

[2021-11-23 15:52] hyoklee opened #27617 "Add an option to install CUDA package using Ubuntu APT/Redhat RPM, YUM and DNF package manager for CUDA."
### Summary

I wish I could install CUDA using **sudo apt-get install cuda** instead of the run script that the current package.py for CUDA uses. I'm working on a HDF5 Virtual File Driver (VFD) for GPUDirect Storage (GDS) package. The current Spack CUDA package doesn't install GDS support because NVIDIA run script lacks it.

### Rationale

From https://docs.nvidia.com/gpudirect-storage/troubleshoo

[2021-11-23 16:05] haampie commented on #27617
This is not going to happen for various reasons...

You can just mark cuda as external then.

[2021-11-23 16:26] hyoklee commented on #27617
Would you please explain "mark _something_ as external" more? I'd appreciate if you can give an example package from the existing built-in repo.

[2021-11-23 16:30] haampie commented on #27617
You shouldn't change the package, but rather point spack to system cuda:

https://spack.readthedocs.io/en/latest/build_settings.html#external-packages

[2021-11-23 21:33] mwkrentel commented on #27236
When you built gcc@10.2.0 with spack, spack created a module for this.
You need to track down the module path and the module name for this.

Try `module avail gcc` to find the module name and path for gcc 10.2.0.
You can also try `spack config get config` and look for `module_roots:`.
TCL and LMOD use a bit different names.

You put the pathname in your .bashrc file as `module use <modpath>`,
then

[2021-11-23 21:58] wspear opened #27622 "Clingo bootstrap fails: bootstrap environment doesn't import compiler configuration"
### Steps to reproduce

On a system where the compiler needs a module loaded to work correctly the clingo bootstrap build will fail because it won't use the module configuration provided by the user's environment.

[code]

Will result in the failure shown under 'error message'.

Example compilers.yaml entry. Note that the module entry must be manually edited or the compiler will fail:
[code]

The

[2021-11-24 03:06] longlong10086 commented on #27236
@mwkrentel
Thanks for your help .
Below is the result of `module avail gcc`.

# module avail gcc
------------------- **/softs/spack/share/spack/modules/linux-centos7-sandybridge --------------------
gcc-10.2.0-gcc-4.8.5-4p73bgq
Key:
modulepath

Are these interfaces(like operator delete,vtable for __cxxabiv1::__class_type_info)  defined in libstdc++?
I have set module for gcc10,but the problem stil

[2021-11-24 05:32] #22054 closed, assigned to nobody

[2021-11-24 09:20] #27461 closed, assigned to nobody

[2021-11-24 11:05] manuelakuhn opened #27627 "Installation issue: `py-mayavi`: `mayavi2` application does not start"
### Steps to reproduce the issue

When installing `py-mayavi` the python library seems to be installed (can be imported) but the 'mayavi2' application coming with it cannot be started. #27626 fixes the problem that vtk is not found by pkg_resources, so that the application at least tries to start. It still fails (gui opens and closes instantly) with the error
[code]

Steps to reproduce:
[code]

##

[2021-11-24 14:20] jacorvar opened #27634 "Installation issue: r-v8, r-affy, r-hdf5r, r-tictoc, r-prettydoc, r-rpostgresql"
### Steps to reproduce the issue

My ultimate goal is to install all R packages available in Spack (@glennpj ). For this purpose, I follow these steps:
[code]
Then, I add the following to the environment config file:
[code]

Finally, I concretize and install packages:

[code]

When installing, there are certain packages that fail at building step:

- `r-tictoc`: it seems the error is not related t

[2021-11-24 17:33] spakin opened #27644 "Installation issue: py-sphinx py-sphinx-rtd-theme py-recommonmark"
### Steps to reproduce the issue

[code]
leads to
[code]

### Information on your system

* **Spack:** 0.17.0-278-dbf67d912c
* **Python:** 3.6.8
* **Platform:** linux-centos8-zen2
* **Concretizer:** clingo

[compilers.yaml.txt](https://github.com/spack/spack/files/7597492/compilers.yaml.txt)

### Additional information

Command log: [sphinx.log](https://github.com/spack/spack/files/7597511/sphinx.

[2021-11-24 22:18] adamjstewart commented on #27644
This looks like an issue with Environments. If you want an environment to have a single copy of `py-sphinx` installed, you should use `concretization: together` in your `spack.yaml` file.

[2021-11-24 23:23] spakin commented on #27644
That worked for me!

I must admit I don't understand why Spack wanted to install multiple copies of `py-sphinx` from my single `spack install` line in the first place, but thanks for so promptly providing a solution.

[2021-11-24 23:23] #27644 closed, assigned to nobody

[2021-11-25 02:21] vsoch opened #27652 "Install with cmake (zlib) fails"
### Steps to reproduce

You can reproduce the error with this Dockerfile:
[code]
just build it:
[code]

### Error message

[code]

### Information on your system

I'm on Ubuntu 18.04, and it fails across Ubuntu versions https://github.com/rse-ops/docker-images/actions/runs/1501912411

### General information

- [ ] I have run `spack debug report` and reported the version of Spack/Python/Platform
-

[2021-11-25 03:34] wspear opened #27655 "Installation issue: Visit"
### Steps to reproduce the issue

Visit restricts its llvm dependency to 6:8, reportedly because other versions are incompatible with GCC 6.1.0. None of these restricted versions of llvm will build on my ubuntu 20.04 system with GCC 9.3.0. If I remove the version restriction (i.e `depends_on('llvm@6:', when='^mesa')` ) and allow visit to use llvm 12.0.1 as a dependency everything builds as expecte

[2021-11-25 03:40] adamjstewart commented on #27644
The reason that multiple copies of `py-sphinx` are being installed is that the version of the `py-docutils` dependency is different:

* `py-sphinx` requires `py-docutils@0.14:0.17`
* `py-sphinx-rtd-theme` requires `py-docutils@:0.16` (but also depends on `py-sphinx` so this becomes `py-docutils@0.14:0.16`)
* `py-recommonmark` requires `py-docutils@0.11:` (but also depends on `py-sphinx` so this be

[2021-11-25 09:18] haampie commented on #27652
[code]

Got to love exception based error handling :)

[2021-11-25 09:26] haampie commented on #27652
@opadron can you fix this?

[2021-11-25 09:26] haampie commented on #27652
@vsoch i think you'd either have to use an http protocol for the mirror or set S3_ENDPOINT_URL, don't ask me why.

[2021-11-25 12:32] MintMiku opened #27657 "Fail to add build_stage path"
### Steps to reproduce

We try to add an extra build stage path, and we found it failed.
When we try to add extra misc cache path and test stage path, it works.
[code]

### Error message

[code]

### Information on your system

* **Spack:** 0.17.0
* **Python:** 2.7.5
* **Platform:** linux-centos7-skylake_avx512
* **Concretizer:** clingo

### General information

- [X] I have run `spack debug repor

[2021-11-25 17:31] vsoch commented on #27652
I'm not sure what the change was to start the error, but definitely happy to test any fixes into spack! I'll keep watch of the nightly builds and let you know if/when they are fixed.

[2021-11-25 18:57] spakin commented on #27644
Thanks for the explanation.  So even if I `spack install` all three packages in a single command, Spack can't determine that `py-docutils@0.15.2` will make everything work out?

[2021-11-25 19:52] adamjstewart commented on #27644
By default, Spack Environments treat all packages as independent. This allows you to do things like install multiple versions of a package with different MPI/BLAS/LAPACK libraries. If you add `concretization: together`, Spack will try to create a single DAG of all packages, resulting in usage of `py-docutils@0.15.2`.

[2021-11-25 20:01] spakin commented on #27644
Got it.  Thanks again.

[2021-11-26 00:55] vsoch opened #27666 "checksum error jdk"
### Steps to reproduce

[code]

### Error message

[code]

### Information on your system

Github workflow failure

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have searched the issues of this repo and believe this is not a duplicate
- [X] I have run the failing commands in debug mode and reported the output

[2021-11-26 01:19] vsoch opened #27667 "Missing variant in package cbtf-krell"
[code]
[code]

[2021-11-26 05:50] mwkrentel commented on #27236
@longlong10086  Normally, errors like

[code]

are a dead give away that something somewhere is missing a library
path.  And normally this can be fixed in the `compilers.yaml` file,
either by adding modules or extra_rpaths or environment.

If that didn't work, then sorry, I'm out of ideas.
You'll have to try higher ups, maybe @scheibelp or @becker33

[2021-11-26 09:27] mahendrapaipuri opened #27668 "Intel OneAPI compilers need multiarch include path in `CPATH` at runtime on Debian/Ubuntu"
Spack could build `intel-oneapi-compilers` package without any issues on Debian/Ubuntu but fails at runtime. `icc` needs `/usr/include/x86_64-linux-gnu` in `CPATH` to find the header files at runtime. Compiling a simple helloworld code fails as follows:

[code]

Output of `spack debug report`

[code]

Maintainers: @rscohn2

[2021-11-26 15:18] haampie commented on #27652
I'm hitting a seemingly related issue.

[code]

Creates this:

[code]

That can't be right. Can that be fixed please? Ping @opadron / @josephsnyder

[2021-11-26 15:19] haampie commented on #27652
Also:

[code]

[2021-11-26 15:22] lrtfm opened #27673 "Installation issue: paraview@paraview@5.10.0-RC1 (runtime error)"
### Steps to reproduce the issue

The package is installed by
[code]

Then I start on the server with
[code]

The logs in the server is
[code]

And the error in the client is
[code]

Could some give me some hints to solve this problem? Thanks!

@chuckatkins  @danlipsa  @vicentebolea

The dependency of the package is
[code]

### Information on your system

[code]

### Additional information

Becaus

[2021-11-28 05:16] FindHao commented on #23654
Hi @hseara , I deleted the AMDGPU from targets, but it still fails. Do you have any suggestions to disable AMD-related compilations?

[2021-11-29 02:32] balay opened #27683 "Installation issue: rocm-smi-lib@4.3.1"
### Steps to reproduce the issue

[code]

### Information on your system

[code]

### Additional information

[spack-build-env.txt](https://github.com/spack/spack/files/7615084/spack-build-env.txt)
[spack-build-out.txt](https://github.com/spack/spack/files/7615085/spack-build-out.txt)

cc: @srekolam, @arjun-raj-kuppala

### General information

- [X] I have run `spack debug report` and reported th

[2021-11-29 02:36] balay commented on #27683
using the following hack as a workaround - to disable the doc build. Perhaps there is a better way to fix this issue in spack.

[code]

[2021-11-29 02:44] balay opened #27684 "Installation issue: kokkos-kernels@3.4.01 with rocm"
### Steps to reproduce the issue

[code]

### Information on your system

[code]

### Additional information

[code]

[spack-build-out.txt](https://github.com/spack/spack/files/7615117/spack-build-out.txt)
[spack-build-env.txt](https://github.com/spack/spack/files/7615118/spack-build-env.txt)

cc: @brian-kelley  @lucbv  @srajama1

BTW: Should kokkos-kernels support a `rocm` variant?

### General i

[2021-11-29 05:31] balay commented on #27684
This fix gets the build going for me.
[code]

[2021-11-29 05:59] lucbv commented on #27684
Hi @balay
I do not recall having issues last time I did such a build on Spock but I will try to replicate this issue.
In any case we also released version 3.5.0 of Kokkos and Kokkos-Kernels so I will also update the version appropriately.

[2021-11-29 06:11] balay commented on #27684
@lucbv This build is on a linux box (at u oregon) - and not spock. I'm yet to try this on spock.

[2021-11-29 14:24] robertu94 commented on #27569
@adamjstewart I dug a little deeper, and this exception comes from a pip version conflict.  I accidentally had an external python, but not an external pip.  In the spack installed pip there was this contents:

[code]
which then enforced the pip==21.1.2.  However, I am guessing based on the stack trace that it pulled in the library components for `/usr/bin/pip` and was unable to find the library fi

[2021-11-29 15:53] alalazo commented on #27611
Sorry, but I can't reproduce on:
* **Spack:** 0.17.0-332-54d88f1a1c
* **Python:** 3.8.10
* **Platform:** linux-ubuntu20.04-icelake
* **Concretizer:** clingo

[code]
Also, I see no `openfoam` virtual package:
[code]
I'll mark it as unreproducible. Can you try again after:
[code]
?

[2021-11-29 17:39] adamjstewart commented on #27569
These two sentences seem contradictory... I'm surprised that a Spack-installed `pip` wouldn't be able to find its own libraries, setting `PYTHONPATH` should take care of that. It could be a situation where the library is installed in `lib64/python3.6/site-packages` but we add `lib/python3.6/site-packages` to the `PYTHONPATH` instead.

Anyway, I'm fine with closing this, but I'll try to remember to

[2021-11-29 17:39] #27569 closed, assigned to adamjstewart

[2021-11-29 17:41] robertu94 commented on #27569
Thanks!  I'll ping you in January if I don't hear anything @adamjstewart

[2021-11-29 19:43] scheibelp commented on #27236
Building gcc10 with gcc4.8 seems like a bit of a jump: have you built `glew` successfully with an earlier version of Spack-built gcc (or have other builds succeeded on your system)?

[2021-11-29 21:37] opadron commented on #27652
Likely related to #27694.

[2021-11-29 22:24] wspear opened #27703 "Runtime issue: nvhpc"
### Steps to reproduce the issue

At least in some cases nvhpc's mpi component can fail because it depends on libatomic, which may not be provided by the system.
[code]

Adding a run dependency on libatomic-ops bypasses this issue and that is the fix I suggest.

However, after that the mpi component doesn't work for me out of the box. I get this warning instead:
[code]
Is there a way to tell the s

[2021-11-29 22:32] tylerjereddy opened #27704 "SPACK_DISABLE_LOCAL_CONFIG and bootstrapping in user space"
With `SPACK_DISABLE_LOCAL_CONFIG=1` I'm still seeing `spack` touching my user space when bootstrapping. For example, `spack` created `/users/treddy/.spack/bootstrap/config` and it was confusing me because it was not respecting my instance scope environment settings for compilers to use and so on.

Could we make `SPACK_DISABLE_LOCAL_CONFIG=1` an even stronger guarantee of ignoring/never writing to

[2021-11-30 01:51] markyoder opened #27709 "Installation issue: curl does not configure/build with Intel compilers spa"
@rscohn2

### Steps to reproduce the issue

summary:
`spack install curl@7.80.0 %intel@2021.4.0`

detailed:
[code]

### Information on your system

Stanford's Sherlock HPC:
Linux, CentOS-7

(base) [myoder96@sh03-05n69 /scratch/users/myoder96/spack_dev/base] (job 39691869) $ spack debug report
* **Spack:** 0.17.0-270-c263b64
* **Python:** 3.8.8
* **Platform:** linux-centos7-zen2
* **Concretizer:**

[2021-11-30 10:10] olesenm commented on #27611
Yup, that was it.
Closing out as 'dirty cache' - thanks @alalazo and apologies for the noise.

[2021-11-30 10:10] #27611 closed, assigned to alalazo

[2021-11-30 10:29] alalazo commented on #27611
No worries, thanks for the report!

[2021-11-30 14:49] glennpj commented on #27634
I will take a look at this in the next couple of days. Based on the error message I think this may be due to some recent changes in how autotools packages are handled.

[2021-11-30 15:50] matz-e opened #27720 "External installations for providers leave preferences ignored when concretizing"
### Steps to reproduce

Given the following `${SPACK_ROOT}/etc/spack/packages.yaml`:
[code]
I would expect that `mvapich2@foobar` would be the default provider for MPI, as it is both available as an external and first in my preference list.

This works most of the time:
[code]

### Error message

The above though fails some of the time:
[code]
Here, `intel-mpi` is selected when I would still expec

[2021-11-30 16:04] samcmill commented on #27703
Sorry, I can't reproduce this using tip of tree develop.

[code]

[2021-11-30 16:40] alalazo commented on #27704
The default location used by Spack for bootstrapping can be changed with:
[code]
and by default it is `~/.spack/bootstrap`. What we can do is, maybe, to move that into `$spack/opt` if `SPACK_DISABLE_LOCAL_CONFIG=1`. There are pros and cons in doing that (for instance different instances of Spack will need to bootstrap each on their own, rather than reusing binaries from `~/.spack/bootstrap`).

[2021-11-30 17:22] mcuma opened #27722 "clingo concretizer in 0.17.0 has some strange dependency version picks"
### Steps to reproduce the issue

Running ```spack spec``` for gromacs, I am getting some older dependency versions picks that cause the build to crash. In particular, ```^intel-mkl@11.3.3.210``` and ```^openssl@1.0.2k-fips```.

Here's the clingo ```spack spec``` output:
[code]
Here's the original concretizer output, which is OK:
[code]

### Information on your system

[code]

### Additional infor

[2021-11-30 18:43] haampie commented on #27704
You should use `SPACK_USER_CACHE_PATH`, it's orthogonal to config

[2021-11-30 20:09] tylerjereddy commented on #27704
You're saying `SPACK_USER_CACHE_PATH` is controlling the writing to `/users/treddy/.spack/bootstrap/config` and despite `config` in the path name, that's actually a cache setting independent of the config?

[2021-11-30 21:47] haampie commented on #27704
Yeah, that does not sound right, but that's how it is right now. I think the config files you see there are supposed to be more of a log of what config was used during bootstrapping. I'm not sure if they are supposed to be used as bootstrapping configuration next time something is bootstrapped. @alalazo knows this better

[2021-11-30 22:26] #24178 closed, assigned to alalazo

[2021-11-30 23:53] cyrush commented on #27165
I hit this as well.

[2021-11-30 23:56] drkrynstrng commented on #27000
For another example, I'm also encountering this issue when installing the R package `hdf5r`. The configure script parses the output from `$H5CC -showconfig` to return some information and run a compile test: https://github.com/hhoeflin/hdf5r/search?q=showconfig. I can modify the script to use `cat $HDF5_ROOT/lib/libhdf5.settings` instead, but using `$H5CC -showconfig` is certainly a more general s

[2021-12-01 02:29] drkrynstrng commented on #27634
For the r-hdf5r package, I think the issue is that the Spack hdf5 package switched to a CMake build which does not currently include a `h5cc -showconfig` option, so the configure script for this packages fails. See #27000.

[2021-12-01 06:08] vkallesh commented on #27552
This issue is not seen under 'develop' branch and not seen under 'releases/v0.17' branch

[2021-12-01 07:56] alalazo commented on #27704
They should effectively act as a log (meaning I would consider any deviation from this behavior a bug). The idea is to minimize the amount of stuff that is directly configurable during bootstrapping, so that we can lower the amount of "edge-cases" we have to deal with.

What happens more in details during bootstrapping is:
1. A temporary configuration scope is created under `$bootstrap_root/config

[2021-12-01 07:59] alalazo commented on #27704
To add on that, the function responsible for config substitution is:

https://github.com/spack/spack/blob/452a693aab98e6eaefe4a0ce078e4c2ef9c08e7e/lib/spack/spack/bootstrap.py#L672-L691

[2021-12-01 11:43] vkallesh opened #27736 "AssertionError is seen if user update compiler.yaml file with compiler flags section and then pass 'c' and 'cxx' flags to spack install command."
### Steps to reproduce

[code]

### Error message

[code]

### Information on your system

$ spack debug report
* **Spack:** 0.17.0-1-f92a2d688d
* **Python:** 3.8.10
* **Platform:** linux-ubuntu20.04-zen3
* **Concretizer:** clingo

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have searched the issues of this repo and belie

[2021-12-01 15:20] manuelakuhn opened #27739 "Installation issue: vtk+python@9.1.0"
### Steps to reproduce the issue

After installing the newest `vtk+python`, `import vtk` does not work anymore.

Reproduce:
[code]
`vtk` has a dependency on `seacas` for which, at least for me, the installation is currently broken and needs the fix from #27737 to work.

### Information on your system

* **Spack:** 0.17.0-361-a0cdbc5e79
* **Python:** 3.8.10
* **Platform:** linux-fedora32-haswell
*

[2021-12-01 17:00] vsoch opened #27741 "mpich missing dependency?"
### Steps to reproduce

[code]

### Error message

[code]

You can see the error under any of the green steps here, bottom of "Run Analysis" https://github.com/buildsi/spack-splices/runs/4377568535?check_suite_focus=true

### Information on your system

GitHub workflows in a container. To reproduce you can follow these instructions to build (and run the container with the PWD bound as shown)

http

[2021-12-01 22:56] EthanS94 commented on #27673
@lrtfm I would try updating spack to include https://github.com/spack/spack/commit/cfd2ea0cff2d33e56fdf1b408b6b55315bac5629 and see if that helps. I was getting a similar error

[2021-12-01 23:00] markyoder commented on #27709
Some additional comments -- some of which are targeted at your less-expert user audience, if that's ok:
Also, what approach do the developers recommend to work around cases like this? I think taking a few moments to recommend some best practices could help some of us operate more efficiently and potentially be more of a benefit, not a burden, to the developers community!

The summary of my experie

[2021-12-02 05:14] Nischay-Pro opened #27757 "Installation issue: amber installation fails with unresolvable R_X86_64_32S relocation against symbol `ospeed'"
### Steps to reproduce the issue

[code]

I'm trying to amber and ambertools with gcc 9.4.0. But during the build stage the compilation fails with relocation against symbol error.

[code]
 My concretised specs are
[code]

While the symbol `ospeed` is provided by ncurses library I have passed the `-fPIC` flag while compiling it to make sure it generates PIC code but unsure as to why it still throwi

[2021-12-02 15:01] wortiz opened #27758 "Installation issue: trilinos failure to configure due to NoHeadersError for scalapack"
### Steps to reproduce the issue

install trilinos+mumps with a scalapack that is not intel-mkl

[code]

`amdscalapack` also fails

### Information on your system

* **Spack:** 0.17.0-383-1cdb764422
* **Python:** 3.8.10
* **Platform:** linux-ubuntu20.04-zen2
* **Concretizer:** clingo

### Additional information

[code]

reverting #27341 trilinos installs successfully @sethrj @DarylGrunau

### Gene

[2021-12-02 19:48] GuillaumeQuenneville opened #27762 "spack external find openmpi does not work in v0.17.0."
We would like to standardize on a version number for our development environments. The 0.17.0 has a bug finding external openmpi installs. **This issue is fixed in develop branch.** I wasn't able to find the particular commit though.

@becker33

Thank you.

### Steps to reproduce

❯ source spack/share/spack/setup-env.sh
❯ spack external find openmpi
==> Error: 'tuple' object has no attribute 'valu

[2021-12-02 20:29] rhenwood-arm opened #27764 "FileNotFoundError with multiple tasks"
### Steps to reproduce

I'm using spack in a CI/CD envornment (gitlab) I have multiple concurrent runners on a single host.

When I submit jobs to that host which build 'binutils' I observe that sometimes one of these tasks will wedge, even thought gitlab things it has failed and is complete.

When future jobs arrive on that host, it seems that the wedged job will interfere with new jobs as they t

[2021-12-02 21:03] markyoder opened #27765 "Installation issue: openfoam"
### Steps to reproduce the issue

@olesenm

summary:  `openfoam` concretizes without `adios2` dependency, and so build fails.
Notes:
This may be an issue with the concretizer and package version format. In the `package.py` file:
1. `adios2` *is* included as a (version dependent):
   `depends_on('adios2',       when='@1912:')`
2. Current version of `openfoam` is 2106.
3. Workaround 1: Modify `packa

[2021-12-02 21:05] markyoder commented on #27709
Adding a quick shout out to developer(s):
@rscohn2

[2021-12-02 21:41] scheibelp commented on #27709
Hi @markyoder thanks for investigating this. I think if possible we should figure out how to get this check to pass (if I understand correctly, it looks like https://github.com/spack/spack/issues/27709#issuecomment-984134782 bypasses the check).

I see a relevant thread at https://community.intel.com/t5/Intel-C-Compiler/Help-with-icc-2021-1-macOS-and-cURL/m-p/1246308 but I'd have to think on how t

[2021-12-02 23:05] markyoder commented on #27709
@scheibelp - Agreed! All of the threads I've seen, and what I recommend in my post, is exactly that -- use a patch to exclude the test that fails. As I recall, that test itself is actually supposed to fail, but that is not supposed to trip the installation.

Given the nature of the problem, I would be tempted to use the `patch()` function, but actually applying a proper patch is perhaps more appro

[2021-12-02 23:57] scheibelp commented on #27709
Sorry I mean that ideally we can run the check and it passes (vs. skipping it). The thread I posted suggested a means to that, which I like, but setting `-stdlib=...` seems odd to me so I wanted to read about it more.

The thread also suggested possibly setting `-we147` (convert this particular warning to an error) so perhaps adding that flag would be sufficient (Spack allows a user to define a `f

[2021-12-03 03:41] markyoder commented on #27709
got it! I'll have a look at it.

Adding both of those flags to my `cflags` (and also `cxxflags`, but I think curl is all C, appears to fix the problem! It seems that the `-stdlib-libc++` flag might be a good general purpose flag to keep in the compiler config. Maybe the `-we147` as well?

To be absolutely sure, I'll set up a test with a clean spack clone.

[2021-12-03 06:47] glennpj commented on #27739
I can replicate the issue. It is happening only with 9.1.0 because 9.0 does not use ioss.

@danlipsa or @chuckatkins
Any ideas here? I see the same thing using either external seacas or the ioss in the ThirdParty directory.

[2021-12-03 06:55] mwkrentel opened #27771 "@when does not work with multi method functions"
### Steps to reproduce

`@when` does not work well with some kinds of functions, multi-methods
I guess.

For example, I was adding spack test to hpctoolkit.  Older versions
don't have the test directory, so I tried:

[code]

With version master, this defines `test` and it works as expected.
With older versions, I was expecting this would not define test, but
it seems to both define and not define

[2021-12-03 09:11] hfp commented on #25696
[LIBXSMM 1.17](https://github.com/hfp/libxsmm/releases/tag/1.17) is released and it addresses this issue. A PR will be sent soon to incorporate this release into Spack.

[2021-12-03 14:25] rscohn2 commented on #27709
I could not reproduce the problem on my ubuntu system with:
[code]

When I look at spack-build-out.txt, it is running the problematic check:
[code]
Since I cannot reproduce the problem, can you try the same thing with the oneapi compiler:
[code]

This will use icx/icpx instead of icc/icpc. I don't know if intel will fix the issue you are seeing with icc as most new development is only going into i

[2021-12-03 14:47] kuberry commented on #27525
I still don't know why this is happening, but I can report that switching to installing `python@3.7.0` (as an example) builds and installs without issue.

[2021-12-03 16:04] markyoder commented on #27709
Wilco. Could this be related to the Core compiler; CentOS-7 uses `gcc@4.8.5` (except I don't think OneAPI compilers actually compile, do they?), or maybe your Compiler configuration?

I"ll compile with `oneapi` and also put my compiler configs into my environment config.

[2021-12-03 16:12] glennpj commented on #27634
That makes sense for the `r-hdf5r` package. I had to deal with that for another package.

[2021-12-03 16:48] glennpj commented on #27634
The `r-tictoc@1.0` package will build with `r@:4.0` but fails with `r@4.1:` #27715 will address this.

[2021-12-03 16:59] balay commented on #27684
@lucbv this change also works for me on spock - so  including it in my PR at https://github.com/spack/spack/pull/27779

[2021-12-03 16:59] rscohn2 commented on #27709
icc depends on the system header files. We are both using the system
autotools. I would not have expected any of that to matter. Manual test
shows that icc only warns on my ubuntu system, so I would expect curl build
to fail here, too.

[code]

On Fri, Dec 3, 2021 at 11:04 AM Mark R. Yoder, Ph.D. <
***@***.***> wrote:

[2021-12-03 17:13] balay commented on #27684
Aditional note: without this fix - kokkos-kernels build also fails on spock for me

[spack-build-out.txt](https://github.com/spack/spack/files/7651260/spack-build-out.txt)

[2021-12-03 21:24] markyoder commented on #27709
Ok. Talked to somebody at Intel; done some more sleuthing, and here's what I (think) I have found -- adding some detail hoping that it will be helpful to others:

Summary:
 Generally, I think the problem is some conflict (or feature) with the Core compiler -- used to build icc vs the loaded gcc. In this case, our core compiler is gcc@4.8.5; our icc compilers are all built with that compiler. Three

[2021-12-04 00:24] wdconinc commented on #27565
Both `librsvg` and `libcroco` (which also build-depends on `gtk-doc`) have `--enable-gtk-doc=no` configure options. I think that may present a pre-v0.18 solution to this issue.

[2021-12-04 01:59] scheibelp commented on #27709
Regarding

You can do either, although I prefer it be done in the package (in that case other users could benefit from it). My understanding from reading through the threads is that gcc reports an error for this issue where icc by default just gives a warning.

(that does not address [2, 3] from https://github.com/spack/spack/issues/27709#issuecomment-985837960)

[2021-12-04 02:32] glennpj commented on #27634
For the `r-v8` package, the 3.4.0 version does not build with gcc-5 and above. #27714 will address this.

[2021-12-04 04:07] wdconinc commented on #27565
@moguzhankarakaya Feedback on #27790 welcome.

[2021-12-04 06:08] glennpj commented on #27634
The `r-prettydoc` package has the wrong markdown dependency.
`r-markdown` --> `r-rmarkdown`
Those are two different packages. This will be fixed in #27791.

[2021-12-04 06:30] glennpj commented on #27634
The `r-affy` package does not build on `r@4.1:`. I set a constraint in #27792. This is a BioConductor package so this will have to be updated as part of an update of  BioConductor packages in Spack.

[2021-12-04 06:58] glennpj commented on #27634
@jacorvar Can you see if #27793 fixes `r-rpostgresql` for you?

[2021-12-04 11:13] jacorvar commented on #27634
I confirm you `r-rpostgresql` becomes successfully installed now. Thanks!

[2021-12-04 19:32] adamjstewart commented on #16215
GitLab CI now includes several core Python packages. Is this issue still relevant?

[2021-12-06 02:15] glennpj commented on #27739
As a short term work around, I have set the preferred version to 9.0.3 in #27817.

[2021-12-06 06:42] binbinao opened #27818 "Installation issue: failed to install zlib on centos 7.5"
### Steps to reproduce the issue

[code]

### Information on your system

==> Bootstrapping clingo from pre-built binaries
==> Bootstrapping clingo from sources
==> Error: cannot bootstrap the "clingo" Python module from spec "clingo-bootstrap@spack+python %gcc target=x86_64" due to the following failures:
    'spack-install' raised ConflictsInSpecError: Conflicts in concretized spec "clingo-boots

[2021-12-06 15:15] Billae opened #27819 "fetching nlohmann-json-3.10.4 failed"
Hello,

I'm trying to install paraview@master and it needs nlohmann-json. Spack tried to fetch it but received this error:
[code]

I try to fetch manually this package but the checksum seems not good:
[code]

However when I checksum this version, the spack recipe is right:
[code]

I am not sure which checksum is the righ one,
@ax3l have you an idea ?

Regards,
Eloïse

[2021-12-06 17:03] alalazo commented on #27818
Can you please report the information from `spack debug report` for the failing Spack instance?

[2021-12-06 17:19] mwkrentel commented on #27818
I think the real issue is why did the binary bootstrap for clingo fail.
It seems to complain about the configuration/spec for patchelf but I don't know.
For me, this fails:

[code]

$ spack debug report
* **Spack:** 0.17.0-413-235edd0
* **Python:** 3.6.8
* **Platform:** linux-rhel7-broadwell
* **Concretizer:** clingo

[2021-12-06 17:50] markyoder commented on #27709
Clarifying a bit -- is it possible to add `CFLAGS` to an individual package in `packages.yaml` (or equivalently `spack.yaml, packages:` section?

[2021-12-06 18:42] xylar commented on #7936
@brobey, thanks for posting this issue.  Were you able to find a workaround? I'm seeing the same issue on Cori when I try to build ESMF.

[2021-12-06 22:49] mwkrentel commented on #27818
I discussed this with @alalazo on slack.  In my case, the problem was
that although clingo has a binary bootstrap, patchelf has no binary
and must be built with source (but it's small).  I had turned off
source bootstraps (spack-install) and I didn't realize that blocked
both clingo and patchelf source builds, so it failed.

@binbinao Check that your `bootstrap.yaml` file allows source and binary

[2021-12-06 23:13] scheibelp commented on #27819
Can you retry this after `spack clean -d`?

[2021-12-07 00:08] mwkrentel opened #27827 "finer grain control in source vs binary in bootstrapping"
### Summary

Bootstrapping the concretizer currently requires (at least) two parts:
`patchelf` and `clingo`, and these can be installed either with binaries
or source.  But there really is only one knob in `bootstrap.yaml` that
controls source or binary.  Technically, it's two variables,
`github-actions` and `spack-install`, but you can't separate patchelf
from clingo.

What I'd like is finer grai

[2021-12-07 00:10] wspear commented on #27703
This will only occur on a system that doesn't have libatomic installed which is pretty uncommon. I think we only ran into it because we were testing on a bare-bones container image.

[2021-12-07 02:07] markyoder opened #27828 "Error: errors occurred during concretization of the environment:"
### Steps to reproduce

Summary:
Cannot concretize (some?) environments in (certain?) Spack installations:
[code]

How to reproduce:
Good question! I have one `spack` installation where this seems to occur. If I duplicate the environment in a different `spack` installation I do not see the problem. See example `curl` environment below. If I try to concretizer, I get the error above.

How to (mostl

[2021-12-07 02:26] markyoder commented on #27828
If I do a `spack gc`, I maybe fix the problem with `nurses`, but now get a similar error for `pkgconf`:

[code]

[2021-12-07 07:29] #21840 closed, assigned to nobody

[2021-12-07 08:48] Billae commented on #27819
It works ! Thanks.
Can you explain to me why cleaning the cache directories changes ? I had never installed this package before so it should not have any impact ? :o

[2021-12-07 11:41] alalazo opened #27829 "ASP-based solver doesn't propagate compiler choices from cli to child nodes"
### Steps to reproduce

This issue has been reported by @haampie in DM over Slack. Using the following `compilers.yaml`:
[code]
to mock having both `clang` and `gcc` the following spec:
[code]
gets concretized using mostly `gcc`.

### Error message

[code]

### Information on your system

* **Spack:** 0.17.0-456-fc045147aa
* **Python:** 3.8.10
* **Platform:** linux-ubuntu20.04-icelake
* **Concreti

[2021-12-07 12:56] alalazo commented on #27829
Interesting use case also for mixing compilers. The trigger seems to be `dyninst` that can only be compiled with GCC (according to the conflicts in the recipe) + the fact that we minimize mismatches over the entire DAG. Due to the specific structure of `mpileaks` and dependencies, the configuration that minimizes mismatches among compilers is the one that uses `gcc` everywhere and clang only in th

[2021-12-07 12:57] alalazo commented on #27829
Lowering in priority since this is triggered by having a node that forces its compiler in `package.py` via conflicts

[2021-12-07 14:41] adamjstewart opened #27835 "Concretizer chooses build dep that doesn't satisfy all packages"
### Steps to reproduce

The `py-jupyter-server` package contains the following constraint:
[code]
However, this should actually be:
[code]
If you make this change, you'll be able to reproduce the following issue.

### Error message

With the package on its own, the concretizer chooses the right thing:
[code]
However, with a package that depends on both, you get an invalid solve:
[code]
This preven

[2021-12-07 18:21] scheibelp commented on #27819
My guess is that a temporary network failure resulted in a failed download, which was then cached. If you reran an install command it would have then pulled from the cache and failed on the checksum; if this was the first command you ran, then my guess is likely wrong (I'd need to see any commands/errors you got before the output you included to understand better).

I'm inclined to leave this open

[2021-12-07 18:26] tgamblin commented on #27829
We could exclude anything forced by a conflict from being included in the matching metric by generating `node_compiler_set` (generated with `body=False` in `spec_clauses()`) instead of `node_compiler` -- we currently use the former for things forced by the user -- they don't count towards these mismatch criteria. That would require tweaking `condition()`, which currently always passes `body=True`

[2021-12-07 19:59] brobey commented on #7936
I haven’t revisited this in a while.

From: Xylar Asay-Davis ***@***.***>
Reply-To: spack/spack ***@***.***>
Date: Monday, December 6, 2021 at 11:42 AM
To: spack/spack ***@***.***>
Cc: Robert Robey ***@***.***>, Mention ***@***.***>
Subject: [EXTERNAL] Re: [spack/spack] Cray mpich error (#7936)

@brobey<https://github.com/brobey>, thanks for posting this issue. Were you able to find a workaround?

[2021-12-07 20:47] mwkrentel commented on #27829
@tgamblin There was a preliminary PR for `requires()` in #21765,
but it lacked a follow up.

But even with requires, you still want boolean ops inside `when` for conflicts
or requires.  Can you get that with the ASP solver?

[2021-12-07 22:06] glennpj commented on #27634
@drkrynstrng Can you see if #27847 works for `r-hdf5r`?

[2021-12-07 22:42] markyoder commented on #27828
Concretizes if I build in a fresh spack install, and it looks like:
`$ spack reindex`

from the root, not in the environment (is `reindex` environment specific?) fixes the problem. I'll tentatively close this.

[2021-12-07 23:32] cyrush opened #27850 "sqlite package breaks spack external find with python 2.7"
### Steps to reproduce

on macOS with python 2.7, run:

[code]

### Error message

[code]

`NamedTemporaryFile()` in  `sqllite` pgk, is using the `buffering` kwarg, which is python 3 only

https://github.com/spack/spack/blob/3d1b9e4dbc31d1cf7d162de5189e858d7d5870f3/var/spack/repos/builtin/packages/sqlite/package.py#L94

### Information on your system

[code]

### General information

- [X] I have

[2021-12-08 00:35] cyrush commented on #27499
sorry, I added a dup issue:
https://github.com/spack/spack/issues/27850

[2021-12-08 00:40] trws commented on #19892
I just ran into this as well.  If you chmod `bin/sbang` to 755 it passes, this seems like a broken test.  Possibly also a repo issue since the perm change doesn't show up in a git diff for some reason.

[2021-12-08 01:23] scheibelp commented on #27828
`spack reindex` is not environment-specific: if you have manually edited installation prefixes (e.g. if you ``x=`spack location -i foo`; rm -rf $x``) then it will ensure that the Spack installation DB is updated to know that they are no-longer installed. It should be possible to run this with or without an active environment (and both should have the same effect). Were you having an issue where re

[2021-12-08 08:04] #25757 closed, assigned to nobody

[2021-12-08 08:31] markyoder commented on #27828
Nope; I lied. I did that `reindex` in a different install; this is still broken for me -- works in a fresh Spack build; works if I switch back to `original` concretizer.
So is there a way/need to force-reset something when I switch concretizers?

[2021-12-08 10:12] markyoder opened #27851 "Installation issue: petsc"
### Steps to reproduce the issue

Shout out to:$ spack maintainers petsc
@balay  @barrysmith  @jedbrown

petsc assumes `mpiexec` MPI executable, but our HPC prefers (sometimes strongly), `srun`. `mpiexec` is hard-coded into the `package.yaml` file.

When installing, I get this MPI related configure error:
[code]

Fixed the by modifying `package.py', adding `--with-mpiexec=srun` to configure option

[2021-12-08 10:25] jacorvar commented on #27634
#27847 does not solve the issue, at least on my system.

[2021-12-08 13:38] alalazo commented on #27850
Duplicate of #27499

[2021-12-08 15:35] Billae commented on #27819
Thanks for answer.
I let you close the issue when you need it =)

Have a good day
Eloïse

[2021-12-08 18:52] drkrynstrng commented on #27634
That works for me.

[2021-12-08 19:05] ashermancinelli opened #27865 "CI: Concretization step silently fails"
### Steps to reproduce

Using the following spack generate job, no child pipelines are actually generated. The gitlab job "passes" but no pipelines are uploaded as artifacts, and the child pipeline croaks. This occurs with commit `2d45a9d617` (and all commits since), which introduced the concretization pool. This does not occur with commit `64a323b`, which is the parent of `2d45a9d617`.

[code]

#

[2021-12-08 19:08] ashermancinelli commented on #27865
CC @scottwittenburg @scheibelp @tldahlgren (please cc anyone I missed)

[2021-12-08 19:14] scottwittenburg commented on #27865
@ashermancinelli Based on the commit you pointed to as the one that broke things, I would think this could be reproduced more simply, without any need for a gitlab instance.  You would need to use `docker run` to get into the container where your CI jobs run, and then just activate the environment and run `spack concretize`.  If that reproduces the problem, it will be easier to diagnose and fix.

[2021-12-08 21:08] scheibelp commented on #27828
Interesting, does `spack clean -m -p -f -s` help?

[2021-12-08 21:18] ashermancinelli commented on #27865
Generating CI in a local container does concretize but gives this error:
[code]
[This is the full log.](https://github.com/spack/spack/files/7678975/log.txt)

I can't tell if this is a bug already fixed in develop or an issue with my config.

I tried again with develop, finding a different issue which seems related to S3, but connecting to S3 was not an issue in the above commit:
[code]

Again, no

[2021-12-08 21:24] markyoder commented on #27828
Maybe? I've chased this rabbit down a lot of holes, so It's tough too remember exactly what I did and did not do, before this or after that.

crossing fingers...

Alas no. But it did get past `ncurses` (or maybe the order changed) and now breaks on `gawk`.  Then, after it fails,  `spack spec {package that did not throw an error}` also.

I'll see what happens if I try a few iterations.

[2021-12-08 21:24] ashermancinelli commented on #27865
(simply running `spack concretize -f` goes through just fine)

[2021-12-08 21:30] scheibelp commented on #27828
Since you can get desired behavior on a fresh checkout, I'm OK with closing this as-is (especially if you'd prefer not to debug the broken instance). If you need the old instance though, we can keep looking into it.

[2021-12-08 21:58] #27499 closed, assigned to alalazo

[2021-12-08 21:58] #27850 closed, assigned to nobody

[2021-12-08 22:12] scottwittenburg commented on #27865
The first error (before you tried with develop) was caused because `spack ci generate` depends on the presence of a couple other environment variables.  If you can run that again with these prepended before the spack command: `CI_JOB_NAME=blah CI_PIPELINE_ID=fake ...`, and let's see what the error is after that.  I don't know what the deal is with develop there in that second stack trace.  Some th

[2021-12-08 22:15] cyrush commented on #27850
@becker33 I think @alalazo is still going to provide a fix for sqlite itself.

[2021-12-08 22:38] ashermancinelli commented on #27865
I manage that instance in a private k8s. I'll run the older version with those extra environment variables and report back. Thanks!

[2021-12-08 22:54] ashermancinelli commented on #27865
Running with those dummy environment variables seems to work, ending with this output:
[code]
Must be specific to gitlab ci then?

[2021-12-08 22:58] scottwittenburg commented on #27865
Did it generate a pipeline yaml file?  If so, can you take that and run it through the CI Lint tool on your gitlab instance to see if it's valid?

[2021-12-08 23:15] ashermancinelli commented on #27865
Yes it did, and the CI Lint tool determined the syntax is correct. [Here's the generated pipeline if that's helpful.](https://github.com/spack/spack/files/7681036/t.txt)

[2021-12-08 23:20] glennpj commented on #27634
@jacorvar What error are you seeing?

[2021-12-08 23:23] markyoder commented on #27828
That's fine to close it. 1) I appear to be able to build the environment in a fresh install, 2) it appears to be a concretizer transition problem (which does not happen often).
I _was_ hoping to avoid having to reubuild the binaries, but that is certainly not a show-stopper -- is there a good way to salvage the binaries from one spack installation into another (eg, copy `/opt`, then `spack reindex

[2021-12-08 23:45] #27819 closed, assigned to scheibelp

[2021-12-08 23:46] ax3l commented on #27819
Thanks for the solution @scheibelp.

Feel free to re-open if you don't want to open a new meta-issue for this.

[2021-12-08 23:46] scheibelp commented on #27828
If the old instance is discarded, there isn't an easy way to do this: you would have to use `spack buildcache create`, add the mirror to the new instance, and `spack buildcache install`.

If you `cp -R` the `opt/spack` directory, the `reindex` on the new instance would work, but all the RPATHs of the installed packages would refer to their previous locations, and less commonly (but still often eno

[2021-12-08 23:50] eugeneswalker opened #27873 "umpire +rocm build fails: CMake Error in examples/CMakeLists.txt: HIP_ARCHITECTURES is empty for target"
### Steps to reproduce the issue

`umpire@6.0.0 +rocm amdgpu_target=gfx908` fails to build using:
* `spack@develop` (f81d84dfc6b1c3a821dffab785e62ecd79f130ab from `Tue Dec 7 12:30:14 2021 +0100`
* Ubuntu 20.04, x86_64
* GCC 9.3.0
* ROCm 4.3.1, defined externally, installed via apt

Concrete spec: [umpire.spec.json.txt](https://github.com/spack/spack/files/7681158/umpire.spec.json.txt)

[code]

[co

[2021-12-08 23:52] davidbeckingsale commented on #27873
Can you please try with an older CMake or `blt@develop`?

[2021-12-09 00:05] eugeneswalker opened #27875 "hpx +rocm build fails: unity_0_cxx.cxx.o: boost/container/vector.hpp:2740:4: error: use of undeclared identifier 'noinline'; did you mean 'inline'?"
### Steps to reproduce the issue

`hpx@1.7.1 +rocm amdgpu_target=gfx908` fails to build using:
* `spack@develop` (f81d84dfc6b1c3a821dffab785e62ecd79f130ab from `Tue Dec 7 12:30:14 2021 +0100`
* Ubuntu 20.04, x86_64
* GCC 9.3.0
* ROCm 4.3.1, defined externally, installed via apt

Concrete spec: [hpx.spec.json.txt](https://github.com/spack/spack/files/7681217/hpx.spec.json.txt)

Concretization:
[cod

[2021-12-09 00:46] markyoder commented on #27828
Got it; thanks. Looks like I'm going to need to rebuild -- likely not a bad idea anyway, so I'll go ahead and close this. Thanks again for your help.

[2021-12-09 00:46] #27828 closed, assigned to nobody

[2021-12-09 04:10] scottwittenburg commented on #27865
Can you get a shell into one of the machines that actually runs the pipeline generation jobs (is that an instance your k8s cluster or a physical machine?) and try the same thing?  Maybe again start by just running `spack concretize` with your environment activated to make there are no problems with that, and if that works, then try `spack ci generate`.  Just spitballing here.

[2021-12-09 08:27] briederer commented on #9134
Any news on this issue?

[2021-12-09 09:33] msimberg commented on #27875
Thanks @eugeneswalker. This is a known issue with HIP and Boost: https://github.com/boostorg/config/issues/392. It has been fixed in the _just_ released Boost 1.78.0. I'll open a PR to add a conflict for this.

[2021-12-09 15:33] balay commented on #27851
current alternative is `petsc+batch`

Ideally we should be able to query `self.spec['mpi']` to get the correct thing here - but I'm not sure if that works.  I see `parallel-netcdf/` has:
[code]
So its just guessing - and doesn't know the correct thing to do here..

[2021-12-09 16:38] eugeneswalker commented on #27875
Thank you!

[2021-12-09 16:54] eugeneswalker commented on #27875
Yes, can confirm on my end that `hpx +rocm` builds when built against `boost@1.78.0` -- Thank you! Closing this issue.

[2021-12-09 16:54] #27875 closed, assigned to nobody

[2021-12-09 17:22] ashermancinelli commented on #27865
I can try that, however it is just a vm in a k8s cluster using `spack/ubuntu-bionic` docker image. I'll work with my k8s sysadmin to look for red flags from the k8s side.

[2021-12-09 17:42] scottwittenburg commented on #27865
One option we could consider, maybe closer to a last resort: I could try to take your `.gitlab-ci.yml` and `spack.yaml` and run them in a project on `gitlab.spack.io` and see what happens there.  Obviously, that would involve removal of anything specific to your cluster, making it a less faithful reproducer.

The combination of which commit was the problematic one with the fact that you don't see

[2021-12-09 17:52] ashermancinelli commented on #27865
I think this is actually really valuable - if it only fails on our k8s cluster, it might indicate a problem on our end that we should get to the bottom of. If you're willing to spend the time to run our setup in gitlab.spack.io, I think that would be helpful. If it's not too hard to grant someone else access, I'd be happy to do this as well.

Alternatively, is there a config option to limit the nu

[2021-12-09 17:53] scottwittenburg commented on #27865
I'm not sure, but likely @alalazo knows whether either of those are possible.

[2021-12-09 17:56] ashermancinelli commented on #27865
Looking through the spack source, it doesn't seem that disabling the concretization pool is possible, but I wouldn't mind adding that functionality myself if it's deemed useful enough.

[2021-12-09 18:01] ashermancinelli commented on #27865
Resource graph from k8s for the hanging job: ![Screenshot from 2021-12-09 09-57-17](https://user-images.githubusercontent.com/30530525/145450834-aee927dd-c48e-4614-b715-e4e2b24e1561.png)

[2021-12-09 18:03] ashermancinelli commented on #27865
Might `spack (ci generate|concretize) --max-nprocs=N` be in order?

[2021-12-09 18:07] eugeneswalker commented on #27873
`blt@develop` w/ `cmake@3.21.4` fails
`blt@develop` w/ `cmake@3.20.6` fails
`blt@develop` w/ `cmake@3.19.8` fails
`blt@develop` w/ `cmake@3.18.6` fails
`blt@develop` w/ `cmake@3.17.5` fails

What version of cmake would you recommend?

[2021-12-09 18:30] davidbeckingsale commented on #27873
Are the error messages the same?

CMake 3.19 with the version of BLT selected by the package should work. My original suggestion was either one or the other. We have not been testing against develop BLT with CMake 3.21 yet (I just had a hope the issue was resolved).

[2021-12-09 19:12] eschnett opened #27891 "Monterey misdetected as Big Sur"
### Steps to reproduce

[code]

### Error message

I am using macOS Monterey. Spack used to detect this correctly. Currently (after a `git pull`), my OS is detected as Big Sur (see above).

### Information on your system

[code]

The platform is wrong; I'm on Monterey.

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have sea

[2021-12-09 19:36] eugeneswalker commented on #27873
Ahh, yes, just using `cmake@3.19.6` w/ default concretization of `blt` works. Should we make this explicit in the package.py for `umpire`? Can we somehow express this constraint via explicit dependency or conflict statement?

[2021-12-09 19:56] davidbeckingsale commented on #27873
I think adding a cmake@:3.20 should work, and that would be fine with me.

We are hoping to remedy this in the next few weeks (so that blt@develop and newest CMake will work with rocm).

[2021-12-09 19:57] eugeneswalker opened #27892 "petsc +rocm build fails: petscsysmod.F90: 'iso_c_binding.mod' opened at (1) is not a GNU Fortran module file"
### Steps to reproduce the issue

`petsc@3.16.1 +rocm amdgpu_target=gfx908` fails to build using:
* `spack@develop` (58109d3e8cd6b5106f07ab5af00512872eb24cfc from `Thu Dec 9 08:43:05 2021 -0800`)
* Ubuntu 20.04, x86_64
* GCC 9.3.0
* ROCm 4.3.1, defined externally, installed via apt

Concrete spec: [petsc.spec.json.txt](https://github.com/spack/spack/files/7688027/petsc.spec.json.txt)

Concretizati

[2021-12-09 20:48] eugeneswalker opened #27896 "tasmanian@7.7 +rocm build fails: tsgLinearSolvers.cpp:281:30: no member named 'numeric_limits' in namespace 'std'"
### Steps to reproduce the issue

`tasmanian@7.7 +rocm amdgpu_target=gfx908` fails to build using:
* `spack@develop` (f81d84dfc6b1c3a821dffab785e62ecd79f130ab from `Tue Dec 7 12:30:14 2021 +0100`
* Ubuntu 20.04, x86_64
* GCC 9.3.0
* ROCm 4.3.1, defined externally, installed via apt

Concrete spec: [tasmanian.spec.json.txt](https://github.com/spack/spack/files/7688322/tasmanian.spec.json.txt)

Conc

[2021-12-09 21:30] eugeneswalker opened #27898 "papi +rocm build fails: 'omp_lib.mod' is not a GNU Fortran module file"
### Steps to reproduce the issue

`papi@6.0.0.1 +rocm amdgpu_target=gfx908` fails to build using:
* `spack@develop` (f81d84dfc6b1c3a821dffab785e62ecd79f130ab from `Tue Dec 7 12:30:14 2021 +0100`)
* Ubuntu 20.04, x86_64
* GCC 9.3.0
* ROCm 4.3.1, defined externally, installed via apt

I had to manually add `depends_on('numactl')` to `rocprofiler-dev` to bypass this https://github.com/spack/spack/pul

[2021-12-09 21:31] balay commented on #27892
966     compilation terminated.

     968     make[3]: *** Waiting for unfinished jobs....

this is a strange error - I don't see why this would break this way.

Is this related to +rocm? i.e does 'spack install petsc' work - but 'spack install petsc+rocm' fail?

And do you have `iso_c_binding.mod` somewhere on the system [perhaps in rocm location] - that's interfering here with gfortran?

Perhaps

[2021-12-09 21:57] mkstoyanov commented on #27896
Smells like a compiler issue with STL, `<limits>` is included in the code and the standard states:

https://en.cppreference.com/w/cpp/types/numeric_limits/epsilon

Will do my best to try and reproduce.

[2021-12-09 22:57] eugeneswalker commented on #27892
Thank you for the quick response!

`spack install petsc` works, yes

There is an `iso_c_binding.mod` in rocm location, yes:
[code]

I will try your branch.

[2021-12-10 00:14] #27873 closed, assigned to nobody

[2021-12-10 01:48] mplegendre opened #27902 "Patch file cache can get out of date when using two repos"
### Steps to reproduce

(@becker33 -- this is the issue we chatted about)

When running spack with multiple repos, and a patch gets added to one of those repos, you can get errors when trying to stage from the other repo.  To reproduce:

[code]

### Error message

The full spack --debug output for the failing command is:

[code]

### Information on your system

I reproduced this on a LLNL RHEL8 sy

[2021-12-10 15:09] eschnett commented on #27891
I found the reason:

Depending on my `PATH` when running `source ./share/spack/setup-env.sh`, Spack either picks `/Users/eschnett/opt/anaconda3/bin/python3` (bad) or `/usr/bin/python3` (good) as Python interpreter. One of them knows about Monterey, the other doesn't.

The unexpected behaviour is that sourcing `./share/spack/setup-env.sh` has a memory. Once it's picked a Python, it remembers that c

[2021-12-10 15:56] eugeneswalker commented on #27892
I'm looking at https://gitlab.com/petsc/petsc and not seeing this branch `balay/fix-iso_c_binding` ?

[2021-12-10 16:28] balay commented on #27892
Sorry - pushed now.

[2021-12-10 16:47] eugeneswalker commented on #27892
`petsc +rocm` builds for me with both:
1. using branch `balay/fix-iso_c_binding`
2. using https://github.com/spack/spack/pull/27779

[2021-12-10 16:55] eugeneswalker opened #27915 "vtk-m +cuda build fails when cuda_arch=none: VTKmDeviceAdapters.cmake:224: set VTKm_CUDA_Architecture manually"
### Steps to reproduce the issue

`vtk-m@1.6.0 +cuda` build fails if `cuda_arch=none`

Using:
* `spack@develop` (f81d84dfc6b1c3a821dffab785e62ecd79f130ab from `Tue Dec 7 12:30:14 2021 +0100`)
* Ubuntu 20.04, GCC 9.3.0, X86_64

Concrete spec: [vtk-m.spec.json.txt](https://github.com/spack/spack/files/7694066/vtk-m.spec.json.txt)

Concretization:
[code]

Error:
[code]

### Information on your system

[2021-12-10 17:07] eugeneswalker commented on #27892
Thank you for your help.

Should I make a patch so that the changes in `balay/fix-iso_c_binding` can be applied when one tries to build `petsc@3.16.1 +rocm`? What do you recommend?

[2021-12-10 17:11] eschnett opened #27917 "Installation issue: boost"
### Steps to reproduce the issue

I want to install Boost via GCC 11.2 on Ubuntu 18.04:
[code]

The build aborts with this error:
[code]

The compiler name `/home/eschnetter/src/spack/lib/spack/env/gcc/g++` is duplicated in the command, so that the compiler sees itself as input, which leads to the error.

This problem is already visible earlier, but only as a warning:
[code]

### Information on yo

[2021-12-10 17:21] balay commented on #27892
Can this wait for petsc-3.16.3 - out in jan first week?

 [this issue is triggered by placing incompatible iso_c_binding.mod in include search path. I don't see this on other rocm installs - so don't know why its here on this test box]

Well you said:
`/opt/rocm-4.3.1/llvm/include/iso_c_binding.mod`
However compiler is looking at:
`-I/opt/rocm-4.3.1/hip/include`

Checking:
[code]

Was a link place

[2021-12-10 17:31] balay commented on #27892
And I have https://github.com/spack/spack/pull/27918 so that `petsc@release` can be used until the next patch release [3.16.3] is available

[2021-12-10 17:44] eugeneswalker commented on #27892
Yes, that sounds great!

I am running inside an Ubuntu 20.04 container (on Instinct), which has rocm-4.3.1 installed via the official AMD-provided apt repository. (The running container is called `rocm-e4s-0`, Spack is installed in `/spack`, and I've added your Frank user account to the `docker` group so if you want to check it out, feel free: `docker exec -it rocm-e4s-0` on Instinct)

[2021-12-10 18:22] vsoch commented on #1385
I just hit this:
[code]
It's preventing me from working on splicing. I just rebased my development branch with spack develop so it must be recent changes? Anyone have ideas that can help?

[2021-12-10 18:23] vsoch commented on #1385
To remove spliced from the equation, here is the Python raw on my system:
[code]

[2021-12-10 18:24] vsoch commented on #1385
And it's used in rewiring.py cc @nhanford
[code]

[2021-12-10 18:34] vsoch commented on #1385
It looks like the rest of spack is using collections. I fixed this on my branch by deleting that import and importing OrderedDict from collections.

[2021-12-10 18:38] nhanford commented on #1385
Yep I had to do that to pass tests because dropping `ordereddict_backports` was going on while I needed to get this in. However, I think it should be gone now, post-merge.

[2021-12-10 18:39] vsoch commented on #1385
ah gotcha, it was a surprise because I didn't expect it to show up. Thanks for the tip!

[2021-12-10 18:41] nhanford commented on #1385
Oh wait nevermind this wasn't merged yet so I will make sure to update on that branch.

[2021-12-10 22:34] balay commented on #27892
Thanks!
[code]
So somehow `-I/opt/rocm-4.3.1/llvm/include` is getting setup by spack internally [as  I don't see that in the compile command.]

Ok. attached petsc.spec.json.txt has:
[code]
I'm not sure why this module is getting picked up to build PETSc. [I don't think there is a dependency on it]

[2021-12-10 22:55] eugeneswalker commented on #27892
I think it comes from the fact that `petsc` is a `ROCmPackage`:
https://github.com/spack/spack/blob/develop/lib/spack/spack/build_systems/rocm.py#L106

[2021-12-10 23:27] payerle opened #27921 "Installation issue: py-pyzmq not finding libzmq"
### Steps to reproduce the issue

[code]

So basically py-pyzmq config/build stuff is not finding the spack installed libzmq

### Information on your system

[code]

### Additional information

1. [spack-build-out.txt](https://github.com/spack/spack/files/7695842/spack-build-out.txt)
1. [spack-build-env.txt](https://github.com/spack/spack/files/7695843/spack-build-env.txt)
1. [spack-build-env-mods

[2021-12-11 00:34] markyoder commented on #27851
@balay - Thanks for the clarification. I was unclear from the description what `+batch` actually does... or I don't understand how SLURM works very well, or a bit of both. In any case, `+batch` does compile, and I presume it runs correctly as an MPI program. I'll have a look at the logs, etc. Thanks again!

I'll close this, at least for now.

[2021-12-11 00:34] #27851 closed, assigned to nobody

[2021-12-11 04:24] #21551 closed, assigned to nobody

[2021-12-11 11:18] arundathi-c opened #27926 "spack compilers'"
### Steps to reproduce

[code]
[code]

### Information on your system

I am unable to install any packages using spack as a result of this error. I was wondering why this error is coming up. System information given below

* **Spack:** 0.17.0-1-f92a2d688d
* **Python:** 3.8.8
* **Platform:** linux-sles15-icelake
* **Concretizer:** clingo

### General information

- [X] I have run `spack debug repor

[2021-12-11 16:42] eschnett commented on #27917
This was a problem with the MPI compiler wrappers. Their output is not standardized, and Boost misinterpreted it. I updated the MPI implementation to output the same information as OpenMPI, which corrected this problem.

[2021-12-11 16:42] #27917 closed, assigned to nobody

[2021-12-11 16:47] balay commented on #27684
@keitat @lucbv Could you approve this fix at #27779 ?

[2021-12-12 21:58] iarspider opened #27932 "Installation issue: cmake@3.21.4~ownlibs~ncurses"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.17.0
* **Python:** 3.6.8
* **Platform:** linux-centos7-broadwell
* **Concretizer:** clingo

### Additional information

Spack logs: https://gist.github.com/iarspider/fea199199cfe2fd9c94f1db5030875a2

Reason: CMake looks for `librhash.so`, but only `librhash.so.0` is installed by rhash, see https://github.com/r

[2021-12-12 21:59] adamjstewart commented on #27932
@haampie also made some changes to the cmake package recently

[2021-12-13 06:41] Tom-python0121 opened #27938 "py-mistune: version 2.0.0 build fails on centos8_aarch64"
### Steps to reproduce the issue

[code]

### Information on your system

[root@localhost ~]# spack debug report
* **Spack:** 0.16.1
* **Python:** 3.6.8
* **Platform:** linux-centos8-aarch64
* **Concretizer:** original

### Additional information

[root@localhost ~]# spack cd py-mistune@2.0.0
[root@localhost spack-src]# ls
docs  LICENSE  Makefile  MANIFEST.in  mistune  pyproject.toml  README.md  R

[2021-12-13 08:41] Tom-python0121 opened #27941 "spack install -y --keep-stage --dont-restage --no-checksum --fail-fast -v skopeo@1.5.2 failed on ubuntu18.04_aarch64"
### Steps to reproduce the issue

[code]

### Information on your system

root@ubuntu:~# spack debug report
* **Spack:** 0.16.1
* **Python:** 3.6.9
* **Platform:** linux-ubuntu18.04-aarch64
* **Concretizer:** original

### Additional information

[code]
Go-md2man has been installed. Why is bin/go-md2man: No such file or directory reported? Can you help me fix it?

### General information

- [X] I

[2021-12-13 08:46] Tom-python0121 commented on #27938
[code]
The compilation method is changed, but it is not known how to configure the compilation method without setup.py in the Python package.

[2021-12-13 09:24] Billae opened #27943 "Installation issue: Paraview: compilation error kissfft"
### Steps to reproduce the issue

Hello,

I'm trying to install paraview@master but I have some compilation failure with **kissfft** which is not found. It's a third party lib in paraview and should be included in the paraview build, however, I could not suceed to tell paraview "you have it, you know where it is" :p.

Here is the error:
[code]

I thought about trying to set this lib in external, b

[2021-12-13 11:32] jacorvar commented on #27634
I get essentially the same error:
[code]

[2021-12-13 15:20] eugeneswalker opened #27954 "ascent@0.7.1 +cuda build fails: VTKmDeviceSymbols.cmake:27: get_target_property() called with non-existent target "vtkmdiympi_nompi""
### Steps to reproduce the issue

`ascent@0.7.1 +cuda cuda_arch=80` build fails during cmake phase:

Using:
* `spack@develop` (98c3cbda9cb7714ca02ec575a1cd3640884fa71b from `Fri Dec 10 15:35:09 2021 -0800`)
* Ubuntu 20.04, GCC 9.3.0, X86_64
* CUDA 11.5.1

**Concrete spec:** [ascent.spec.json.txt](https://github.com/spack/spack/files/7704808/ascent.spec.json.txt)

**Concretization**
[code]

**Insta

[2021-12-13 15:37] eugeneswalker opened #27955 "axom@0.5.0 +cuda build fails: ld: utilities/FileUtilities.cpp.o: in function `__sti____cudaRegisterAll()': undefined reference to `__cudaRegisterLinkedBinary..."
### Steps to reproduce the issue

`axom@0.5.0 +cuda cuda_arch=80` build fails using:
* `spack@develop` (98c3cbda9cb7714ca02ec575a1cd3640884fa71b from `Fri Dec 10 15:35:09 2021 -0800`)
* Ubuntu 20.04, GCC 9.3.0, X86_64
* CUDA 11.5.1

Concrete spec: [axom.spec.json.txt](https://github.com/spack/spack/files/7704916/axom.spec.json.txt)

**Concretization**
[code]

**Installation**
[code]

### Informati

[2021-12-13 16:46] #27915 closed, assigned to nobody

[2021-12-13 17:20] eugeneswalker commented on #27183
Building now `dealii@master +cuda cuda_arch=80 ^cuda@11.5.1 ^boost@1.78.0` I don't see the original mpich+sundials error. Now I see:

[code]

Any suggestions?

It looks like the sundials+mpich related fix didn't make it to `dealii@9.3.2`?

[2021-12-13 17:22] s-sajid-ali opened #27960 "spack cannot parse special characters in kernel versions"
### Steps to reproduce

Command in Dockerfile (generated by `spack containerize`):
[code]

### Error message

Output:
[code]

### Information on your system

Spack is run in Gitlab CI's Docker-in-Docker mode within an Ubuntu20.04 container.

Full output is available [here](https://gitlab.com/pirt/pirt-container/-/jobs/1879445701). Note that this mechanism was working fine last month.

`spack debug

[2021-12-13 17:38] luca-heltai commented on #27183
boost@1.78.0 is broken. This is affecting our builds, as we currently only support 1.76.0.

[2021-12-13 18:16] eugeneswalker commented on #27892
Can we leave this open until `petsc@3.16.3`?

[2021-12-13 18:40] vicentebolea commented on #27943
@Billae kissfft is shipped with ParaView (VTK), meaning that the source code of ParaView contains the source code of KissFFT, maybe in the Spack package it is now being marked as external library.

[2021-12-13 19:19] payerle opened #27965 "Installation issue: trilinos +x11 fails in package.py"
### Steps to reproduce the issue

[code]

The above error seems to be due to a mismatch in the variant name (x11) and the name of the dependent spack package (libx11).

When I make some changes to package.py to get past this, I also encounter the issues described in  #27758

### Information on your system

[code]

### Additional information

1. [spack-build-out.txt](https://github.com/spack/spack/

[2021-12-13 19:20] payerle commented on #27965
Sorry, forgot to mention maintainers:
@keitat  @kuberry  @sethrj

[2021-12-13 19:34] eugeneswalker opened #27967 "cabana +rocm build fails: g++: error: unrecognized command line option '--amdgpu-target=gfx906'"
### Steps to reproduce the issue

`cabana@0.4.0 +rocm` build fails using:
* `spack@develop` (f6802b733a8889e73edeaa6c80d2077ee86bc490 from `Mon Dec 13 11:45:31 2021 +0100`)
* Ubuntu 20.04, GCC 9.3.0
* ROCm 4.3.1 installed via apt; individual components registered as external packages with Spack

**Concrete spec:** [cabana.spec.json.txt](https://github.com/spack/spack/files/7706386/cabana.spec.json

[2021-12-13 19:48] eugeneswalker opened #27969 "legion +cuda build fails: CMake: CUDA_CUDA_LIBRARY: variables used in this project but are set to NOTFOUND"
### Steps to reproduce the issue

`legion@21.03.0 +cuda cuda_arch=80` build fails using:
* `spack@develop` (f6802b733a8889e73edeaa6c80d2077ee86bc490 from `Mon Dec 13 11:45:31 2021 +0100`)
* Ubuntu 20.04, GCC 9.3.0
* CUDA 11.5.1

**Concrete spec:** [legion.spec.json.txt](https://github.com/spack/spack/files/7706487/legion.spec.json.txt)

**Concretization**
[code]

**Installation**
[code]

### Infor

[2021-12-13 20:07] streichler commented on #27969
@eugeneswalker does the machine you're building on have a cuda driver installed?  This error usually happens because libcuda.so isn't in the usual location (i.e. somewhere in `/usr/lib/...`).  Running `ldconfig -p | grep libcuda.so` might tell you where it's hiding.

[2021-12-13 20:22] streeve commented on #27967
Looks like we're missing the code that Kokkos has in their package to force `hipcc` for HIP builds. I'll add a PR shortly

[2021-12-13 22:13] Billae commented on #27943
yeah that's what I thought too, but even with adding ``` '-DVTK_MODULE_USE_EXTERNAL_VTK_kissfft:BOOL=OFF'```` paraview still don't find it.

When I check the spack build, it seems paraview build it (even without forcing it):
[code]

I am not very comfortable with all theses Cmake logs so I cannot say if paraview succeed to build kissfft, but I think it tried =)

[2021-12-13 23:59] vsoch opened #27973 "spack test run qthreads "attempted to use 8 workers" fails"
This is run with spack develop.

[code]

[2021-12-14 00:02] vsoch opened #27974 "spack test run hypre mpicc not found"
Likely this should be included as a dependency?

[code]

[2021-12-14 00:09] vsoch opened #27975 "spack test run superlu fails (possibly missing library slu_ddefs.h)"
[code]

[2021-12-14 00:13] vsoch opened #27976 "spack test run kokkos fails (possible compiler version needs pinning)"
[code]

[2021-12-14 00:23] vsoch opened #27977 "spack test run bolt fails undefined reference to `omp_get_num_threads'"
[code]

[2021-12-14 00:26] vsoch opened #27978 "spack test run parsec fails (possible cmake version issue?)"
[code]

[2021-12-14 00:29] vsoch commented on #27975
I'm not sure if this is related but the name is the same so I'll put it here - another issue for superlu-dist
[code]

[2021-12-14 00:30] vsoch opened #27979 "spack run test heffte (cmake version issue)"
This one possibly just needs to be pinned / specified in the package?
[code]

[2021-12-14 00:32] vsoch opened #27980 "spack install aml fails (extension missing "breathe")"
[code]
Channel  https://www.youtube.com/watch?v=FcvXr-9XtgA !

[2021-12-14 00:33] vsoch opened #27981 "spack test run arborx (possible compiler version again)"
[code]

[2021-12-14 00:35] vsoch opened #27982 "spack test run tasmanian (compiler version needs to be specified)"
[code]

[2021-12-14 00:36] vsoch opened #27983 "spack test run slepc (missing symbols)"
[code]

[2021-12-14 00:37] vsoch opened #27984 "spack test run ginkgo fails (possibly a package.py issue)"
[code]

[2021-12-14 00:38] vsoch opened #27985 "spack test run caliper fails (missing example)"
[code]

[2021-12-14 01:09] payerle opened #27986 "Installation issue: texlive dependency issues"
### Steps to reproduce the issue

[code]
In the above, the package.yaml for env foo sets the texlive version to @20190410

There seems to be an issue with dependencies, in addition to the issue with pixman above, I am not seeing any specs if I do not explicitly set the version, e.g,
[code]

yet if I explicitly give the (same) version, I see dependencies, e.g.
[code]

Why am I not getting the depen

[2021-12-14 03:52] glennpj commented on #27634
@jacorvar Could you post the output of `spack spec r-hdf5r`?

[2021-12-14 10:00] jbigot commented on #4610
I am struggling with the same issue and trying to script my way around it. I manage to get a list of installed packages with their hash using `spack find`, I can get a resolution reusing installed packages with `spack solve` with no `flag` specified, however I didn't find a way for simply putting all of that together to reuse the installed packages by hash when adding my flags.

Are there any news

[2021-12-14 13:50] stephenmsachs opened #27992 "Installation issue: llvm"
### Steps to reproduce the issue

I am having trouble building LLVM. The build exits with error:
[code]

Digging through LLVM code revealed that `user_sve_header` is expected to be defined in `<asm/ptrace.h>`. This has only been added to kernel 4.15+ (https://github.com/torvalds/linux/commit/43d4da2c45b2f5d62f8a79ff7c6f95089bb24656). However, Amazon Linux2 runs kernel 4.14.

The obvious solution w

[2021-12-14 14:37] haampie commented on #27818
@binbinao is this still an issue?

[2021-12-14 14:39] #27762 closed, assigned to alalazo

[2021-12-14 14:42] alalazo commented on #27494
Closed by #27504 and #27503

[2021-12-14 14:42] #27494 closed, assigned to nobody

[2021-12-14 14:55] streeve commented on #27967
@junghans should we just set the compiler to the Kokkos compiler?

[2021-12-14 14:57] payerle commented on #27986
OK, this appears to be a config error on my part.  For the benefit of others, the problematic behavior was occuring when I had in my environment something like
[code]
This should be
[code]

*NOTE* the change from a numeric version type to a string version type (even though string of digits).  I guess normally spack wants the version to be a string, and most versions get interpreted as a string aut

[2021-12-14 14:57] #27986 closed, assigned to nobody

[2021-12-14 15:03] haampie commented on #6300
@ax3l do you want to keep this open? Basically the question is should virtuals define an interface. I'm not a fan cause there will always be an exception to the rule, so not formalizing an interface is better imho.

[2021-12-14 15:08] haampie commented on #26520
Seems like this was solved, apart from unhelpful error messages.

[2021-12-14 15:08] #26520 closed, assigned to alalazo

[2021-12-14 15:17] haampie commented on #12710
@psakievich is this also something that you worked on?

[2021-12-14 15:19] haampie commented on #21870
Moving this to 0.18 given that it's a package thing.

[2021-12-14 15:26] psakievich commented on #12710
@haampie no but it is related to two other PR's I have open

[2021-12-14 16:27] eugeneswalker commented on #27969
Ahh! I did not realize `legion` needed access to CUDA's *driver* component. I was doing this work in a container, without having mapped in access to the driver component. Thank you. Closing this.

[2021-12-14 16:27] #27969 closed, assigned to nobody

[2021-12-14 16:53] eugeneswalker opened #27999 "llvm +cuda build fails: openmp/libomptarget/plugins/amdgpu/impl/sys tem.cpp:8:10: libelf.h file not found"
### Steps to reproduce the issue

`llvm@13.0.0 +cuda cuda_arch=80 +omp_as_runtime` build fails because it can't find `libelf` header, despite `libelf` being declared an explicit dependency in `llvm`'s package.py. There is no problem if I build `~cuda +omp_as_runtime`. It looks like this issue has come up before:
* https://github.com/spack/spack/blob/develop/var/spack/repos/builtin/packages/llvm/pa

[2021-12-14 17:25] junghans commented on #27967
That sounds right as we hard depend on kokkos anyhow.

[2021-12-14 17:33] trws commented on #27999
The 13 version should only build with `omp_as_runtime` most likely.  The libelf header has been a consistent thorn, the way the llvm cmake build system looks for it is buggy, and we override it but clearly some new issue has cropped up.  If anyone copied here has time to poke at it, a quick patch to remove the variant for omp_as_runtime and just always do that for versions 12+ is where I'd go with

[2021-12-14 17:38] trws commented on #27992
This is probably more of an upstream question.  As a stopgap, I have a feeling an older version would build fine, but no real answer for you as to why this is required.  The best guess I have is that since LLVM is not fine-grained with its architecture support, turning on aarch64 means it tries to build support for all of the aarch64 variants, possibly using constants or macros from that file.

A

[2021-12-14 17:39] payerle opened #28001 "Coerce version values from package.yaml into string types"
### Summary

Spack excepts package preferences in packages.yaml or similar files for environments.  In these files, one can specify a list of preferred versions.  E.g. something like
[code]
will set the preferred versions of foo to @3.2.1 and then @2.

However, Spack package.py seem to want versions to be of type string, which causes problems with versions like 2 above, which the YAML library retu

[2021-12-14 18:34] mwkrentel commented on #27157
I've taken a closer look at this and I think there is a reasonable solution.

First, to review the problem, `libelf` and `elfutils` are both
providers of the virtual package `elf`.  `hpctoolkit +rocm` links with
`dyninst` which uses elfutils and also uses (but not directly links with)
`hip` which uses (transitively) libelf.  (libelf stopped development in 2009,
but that's a separate problem.)

The

[2021-12-14 18:43] scheibelp commented on #27157
(Note: this initial part predates https://github.com/spack/spack/issues/27157#issuecomment-993866422)

I added this to discuss for tomorrow's meeting (https://github.com/spack/spack/wiki/Telcon%3A-2021-12-15) but a few points:

* I believe it has been stated before that eded8f48dc629a5f3a72acf9c134731f8b89606c addressed a mistake: it happened to work well in your case but in general could produce

[2021-12-14 19:20] shahzebsiddiqui opened #28006 "Installation issue: several spack packages affected by error: TypeError: expected str, bytes or os.PathLike object, not NoneType"
@eugeneswalker @becker33 @wspear

I can confirm this error is showing up in several packages and I have started building packages of `spack@develop` and i can confirm this error exists with develop branch.

You can check out the prototype of spack infrastructure at https://software.nersc.gov/NERSC/spack-infrastructure with pipelines running for different use-cases.

See https://software.nersc.gov/

[2021-12-14 19:23] eugeneswalker commented on #27999
Are you saying there should be a conflict stating that `+omp_as_runtime` is incompatible with LLVM versions up to and including 13?

[2021-12-14 20:04] jbigot commented on #4610
As a matter of facts, it seems the issue can not be easily worked around using hashes of already installed first-level deps only. It seems that in that case, spack tries to reinstall deps below by adding the new flags if that does not change the hash of the first-level dep (build deps)

[2021-12-14 20:50] DelilahYM opened #28009 "log4j Vulnerability"
We became aware of the log4j vulnerability (CVE-2021-44228) and are wondering if spack is affected or any of the packages installed by spack are affected?
Thanks!

[2021-12-14 21:04] trws commented on #27999
Almost the opposite, 12 and 13 should always use ENABLE_RUNTIMES=openmp to build openmp support.  The versions below that don't always build correctly with that mode, so just them for now.

Aaaand I just realized that doesn't help you, sorry, I read your issue backwards.

We need to figure out how to propagate our special libelf handling to the inner build that builds the runtimes, or maybe just p

[2021-12-14 21:08] trws commented on #27999
FWIW, the issue is here: https://github.com/llvm/llvm-project/blob/f4abf28c0a0ba2226379a1b1926a7c36d75265e9/openmp/libomptarget/cmake/Modules/LibomptargetGetDependencies.cmake#L52

The libelf dependency is searched only by paths, no checking pkgconfig or cmake config or anything else, just paths, and none of them are supplied from outside.  We override the input variable, which works normally, but

[2021-12-14 21:25] mwkrentel commented on #28001
There is another, related problem.  Dotted version numbers that have
exactly two fields and end with '0' are not parsed correctly.
For example: 1.100, 2.120, 0.180, etc.

For example, with this in `packages.yaml`

[code]

Spack/yaml reads the version as the floating point number 0.18, then
converts back to the string 0.18, there is no version 0.18, so spack
falls back on the latest, preferred vers

[2021-12-14 21:38] mwkrentel commented on #27157
Yes, I'm saying that in this case for hpctoolkit, it's safe to change
the dependency on hip, etc to build + run.  Then, all I need is for
spack to allow libelf and elfutils to exist in the same DAG.

And yes, eventually there will be harder cases where a package really
needs link dependencies on two packages that don't coexist, like the
MPI test program that someone mentioned.

[2021-12-14 22:49] payerle commented on #28001
@mwkrentel I am aware of the situation with trailing zeros you refer to (although not spack issue report you referred to, thanks).

While related, I expect my issue to be more tractable.  I believe at some point, spack is calling some YAML library to parse the packages.yaml file and return a python data structure.  That library sees a string like 0.180 or 20190410, and sees that it looks like a nu

[2021-12-14 23:53] shahzebsiddiqui opened #28012 "Concretizer not working on Perlmutter"
### Steps to reproduce

I am unable to concretize my environment or anything with `--reuse`. on perlmutter.

here is my spack.yaml

[code]

### Error message

[code]

### Information on your system

[code]

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have searched the issues of this repo and believe this is not a duplicat

[2021-12-15 02:59] cpraveen opened #28014 "Installation issue: gsl on macosx"
### Steps to reproduce the issue

[code]

[code]

[code]

### Information on your system

* **Spack:** 0.17.0-507-c1d51593d1
* **Python:** 3.7.11
* **Platform:** darwin-bigsur-haswell
* **Concretizer:** clingo

### Additional information

[spack-build-out.txt](https://github.com/spack/spack/files/7716167/spack-build-out.txt)
[spack-build-env.txt](https://github.com/spack/spack/files/7716169/spack-

[2021-12-15 10:48] alalazo opened #28021 "The "test_checksum" unit test fails spuriously"
### Steps to reproduce

Sometimes, when running CI on Github Actions, PRs report failures on the `test_checksum` unit test. The failures seem to be spurious, since re-running the same tests usually makes them pass.

### Error message

[code]

### Information on your system

The error message was taken from here:
- https://github.com/spack/spack/runs/4532065202?check_suite_focus=true

but there are

[2021-12-15 10:49] alalazo commented on #28021
@tldahlgren fyi

[2021-12-15 11:02] mdorier opened #28022 "Installation issue: py-pygtk is unsatisfiable"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.17.0-516-5319b6e3b1
* **Python:** 3.9.5
* **Platform:** linux-ubuntu21.04-sandybridge
* **Concretizer:** clingo

### Additional information

_No response_

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have run `spack maintainers <name-

[2021-12-15 14:18] alalazo commented on #24506
Posting here for reference @becker33 comment at https://github.com/spack/spack/pull/27128#discussion_r741272620

[2021-12-15 15:42] alalazo commented on #28022
Running:
[code]
it seems that there's a request to have `atk` >= 2.35.1 and < 2.20.0 at the same time (coming from two different directives).

[2021-12-15 15:46] alalazo commented on #28022
The request for `atk` < 2.20.0 comes from `py-pygtk` itself, while `gtkplus` needs `atk` > 2.35.1 unconditionally.

[2021-12-15 17:17] KIwabuchi commented on #26770
Thank you for your reply and my apologies for the late reply.

I looked into the work-around. But, unfortunately, it seems too complicated for me.
I'll close this issue and wait for #25165 :)

Again, thank you so much for your help!

[2021-12-15 17:17] #26770 closed, assigned to nobody

[2021-12-15 17:41] tgamblin commented on #4699
I think we should reopen this if anyone wants to work on it.  I think having a subcommand for citing packages in your env or in some spec would be cool.

[2021-12-15 18:31] scheibelp commented on #27157
Related: https://github.com/spack/spack/projects/48

[2021-12-15 19:03] psakievich opened #28027 "Allow users to create and use generalized variables in yaml files"
### Summary

As a user I would like to see the concept of the `definitions:` section in the `spack.yaml` file extended to allow for arbitrary variables that can be used throughout all the config files.  Essentially I would like to abstract out the concept of the `$spack` variable so that I can set similar variables myself.

A solution proposed by @becker33 in the weekly telecon would looks somethi

[2021-12-15 21:05] mwkrentel commented on #27157
Notes from today's spack meeting.

1. For this specific use case, we may be able to replace uses of
`libelf` with the virtural `elf`.  That way, the entire DAG would use
`elfutils` and not `libelf`.

  I (krentel) will investigate this.

2. Spack, hopefully, will investigate allowing multiple packages that
would otherwise conflict in the same DAG (different providers of the
same virtual, or differ

[2021-12-16 05:38] alalazo commented on #28012
Can you trim down the example to something smaller?

[2021-12-16 05:55] #28021 closed, assigned to nobody

[2021-12-16 09:45] haampie commented on #25475
Can't reproduce this.

[2021-12-16 09:45] #25475 closed, assigned to alalazo

[2021-12-16 10:54] #17070 closed, assigned to nobody

[2021-12-16 11:14] msimberg opened #28038 "`spack compiler list` also finds compilers"
### Steps to reproduce

I suspect that this is not a bug, but it is surprising behaviour. If I run `spack compiler list` on a Cray system (have not tried elsewhere) with no compilers in any config, it will populate `~/.spack/cray/compilers.yaml` with the compilers on the system.

[code]

`spack compiler find` also populates the compilers, but in that case I'm expecting it because I'm explicitly as

[2021-12-16 12:13] #26691 closed, assigned to alalazo

[2021-12-16 12:50] #25073 closed, assigned to haampie

[2021-12-16 14:31] Billae commented on #27943
I continue to try to understand these logs file and I found this

[code]

The kissfft lib is given in the compilation for vkt, this should mean that spack succed to build kissfft ?

What do you think @vicentebolea ?

Thanks,
Eloïse

[2021-12-16 15:22] alalazo commented on #27818
From what @binbinao reported it seems there are issues retrieving binaries from our public mirror, but I couldn't reproduce them anywhere. Having bootstrap from source failing instead is expected since `clingo` requires C++14. Closing for the time being, but feel free to reopen if you have a reproducer.

[2021-12-16 15:22] #27818 closed, assigned to alalazo

[2021-12-16 18:34] shahzebsiddiqui commented on #28012
yeah i figured spack gets confused when there are lots of specs. This is e4s/21.11 for Perlmutter in prototype. I was gonna explore `--reuse` option to see if it helps. I was able to get this working with a different spack environment so i suspect this could be environment specific. It was hitting on error `/global/common/software/spackecp/perlmutter/e4s-21.11/spack/lib/spack/spack/solver/asp.py`,

[2021-12-16 18:40] payerle opened #28053 "Installation issue: suite-sparse recent tbb issues/~tbb not working correctly"
### Steps to reproduce the issue

I have been trying to build suite-sparse@5.10.1 using intel-oneapi-comilers@2021.4.0 and using intel-oneapi-mkl@2021.4.0 (which in turn depends on intel-oneapi-tbb@2021.4.0), and I am encountering a couple of issues related to tbb.  Though distinct issues, they are somewhat related so will include in a single issue ticket.

1. First, suite-sparse+tbb does not work

[2021-12-16 20:18] stephenmsachs commented on #27992
Yes, it works without lldb. Thanks for the pointer.

I guess if there is no other options we can close this issue. Seem like it is a shortcoming of llvm itself.

[2021-12-16 22:39] adamjstewart commented on #20177
Duplicate of #12736?

[2021-12-16 22:47] #27684 closed, assigned to balay, keitat, lucbv

[2021-12-16 22:55] iarspider opened #28060 "Package py-xrootdpyfs does not concretize with clingo, does with original"
### Steps to reproduce

py-xrootdpyfs is not yet in Spack, see PR https://github.com/spack/spack/pull/28058

[code]

### Error message

Clingo:

[code]

Original:

[code]

### Information on your system

* **Spack:** 0.13.2-11102-d4bff0b9f5
* **Python:** 3.8.10
* **Platform:** linux-ubuntu20.04-skylake_avx512
* **Concretizer:** clingo

[code]

I have started concretization with `--show-cores=minim

[2021-12-17 01:02] #27932 closed, assigned to nobody

[2021-12-17 04:37] pbrady commented on #21261
I'm getting different errors now using apple-clang@12:

[code]

The default c++ standard for apple-clang12 is c++14 which makes me think this might be due to missing headers.

[2021-12-17 08:43] iarspider commented on #28060
Minimal core:

[code]

So, clingo is fine, it's the old concretizer that is wrong - there is only one version in py-fs - 2.4.14.

[2021-12-17 08:43] #28060 closed, assigned to nobody

[2021-12-17 09:05] #13714 closed

[2021-12-17 16:13] alalazo commented on #28027
For the record the issue is mainly with:

https://github.com/spack/spack/blob/bbe69aa7255f1f6212b89ceaa8c1a9ff7e6b084a/lib/spack/spack/config.py#L1041

and similar functions that rely on undocumented internals of `ruamel.yaml`. The latest version of `ruamel.yaml` with Python 2.7 support is 0.16.13, see https://pypi.org/project/ruamel.yaml/0.16.13/ and the `Mark` class used in the function above ha

[2021-12-17 16:32] shahzebsiddiqui commented on #28006
i can confirm this error is present in spack@develop. I have a spack infrastructure setup at NERSC that builds on spack@develop

Here is a pipeline log: https://software.nersc.gov/NERSC/spack-infrastructure/-/jobs/123884 in case someone has access to NERSC resources, if not i can add you. I can run the pipeline and knowing that this is problem in spack@develop means this is something that affects

[2021-12-17 16:53] alalazo commented on #27926
Do you have any C/C++ compiler in PATH?

[2021-12-17 19:39] jacorvar commented on #27634
It was a mistake, `r-hdf5r` does work.

[2021-12-17 21:17] alalazo commented on #22589
@amaji I don't think we'll try to fix this (or any other bug) for the original concretizer. I would be inclined to close this issue, but wanted to check first if you still have problems with clingo.

[2021-12-18 00:21] #27992 closed, assigned to nobody

[2021-12-18 18:11] jbigot opened #28074 "Installation issue: HDF5 1.10.8/1.13.0 installs cmake files to wrong location"
### Steps to reproduce the issue

[code]
output should be:
[code]
as it is for 1.12.1 for example, but instead for 1.10.8, it is:
[code]

As specified in cmake doc https://cmake.org/cmake/help/latest/command/find_package.html#config-mode-search-procedure
`<prefix>/share/cmake/` is not part of the Search Procedure, `<prefix>/share/cmake/<name>` is.

### Information on your system

* **Spack:** 0.17

[2021-12-19 06:23] tgamblin commented on #28012
@shahzebsiddiqui can you attach the tarball created by `spack debug create-db-tarball`?

[2021-12-19 08:08] #27921 closed, assigned to adamjstewart

[2021-12-20 03:39] ax3l opened #28083 "Installation issue: openpmd-api -> hdf5 1.10.8/1.13.0 parallel"
### Steps to reproduce the issue

[code]

Since Friday, Dec 17th, the Spack `develop` branch cannot install my package anymore.

In my CMake logic, I have a test to check if MPI is enabled, that also a parallel HDF5 package is provided in the environment. This check fails now:
https://github.com/openPMD/openPMD-api/blob/0.14.3/CMakeLists.txt#L214-L223

As the maintainer of the package, I do not kn

[2021-12-20 03:42] ax3l commented on #28074
I see downstream CMake binary variant identification issues with HDF5 as well since end of last week in #28083

I think this was caused by pinning 1.10.8 as new preferred HDF5 version in #27613/#28010.
@lrknox as the author of those PRs, can you please help? :)

[2021-12-20 03:45] ax3l commented on #28074
Locally, I changed the `preferred` HDF5 back to 1.10.7 and this fixes my issue. I'll push this as hot-fix to #28084.

This looks like an upstream bug and is probably something more general to investigate for the HDF5 maintainers?
cc @ChristopherHogan @brtnfld @byrnHDF @epourmal @gheber @hyoklee @lkurz @lrknox @soumagne

You can re-enable the preferred pinning to HDF5 1.10.8 with a patch in a follo

[2021-12-20 03:56] ax3l commented on #28074
Posted upstream in HdfGroup/hdf5#1320

[2021-12-20 08:10] alalazo commented on #22589
Spack bootstrap store is customizable using:
[code]

I'm closing this issue, but feel free to reopen if you think something is still missing.

[2021-12-20 08:10] #22589 closed, assigned to scheibelp, alalazo

[2021-12-20 11:50] Eladgg commented on #26213
note that [PR-7778](https://github.com/openucx/ucx/pull/7778) (now merged) replaces `--dynamic-list-data` with `--export-dynamic` in cases it's not supported - and thus solves this issue (or at least should)
 :)

[2021-12-20 12:45] fipoucat opened #28088 "Installation issue: netcdf-fortran with gcc11.2.0"
### Steps to reproduce the issue

I am facing an issue installing packages on mac using spack with gcc11.2.0,  maybe not correctly installed? because can't find binaries with the below message:

Error: CompilerAccessError: Compiler 'gcc@11.2.0' has executables that are missing or are not executable: ['/usr/local/gfortran/bin/gfortran-11', '/usr/local/gfortran/bin/gfortran-11']

For me /usr/local/g

[2021-12-20 13:47] sethrj commented on #28014
From the [homebrew recipe](https://github.com/Homebrew/homebrew-core/blob/HEAD/Formula/gsl.rb) it looks like we need a patch for macOS Big Sur and higher. I'll try it out.

[2021-12-20 13:57] sethrj commented on #28014
Actually I have a working install locally on my big sur mac. It looks like the difference between our configures is that mine added `-Wl,-undefined -Wl,suppress` from the configure file whereas yours did not. From your environment it looks like you have the environment variable `MACOSX_DEPLOYMENT_TARGET=11.6.2` which I think is causing the configure file to skip the flags. I have plans to actually

[2021-12-20 14:31] manuelakuhn opened #28089 "Installation issue: r-htmltools"
### Steps to reproduce the issue

Installing `r-htmltools` from a clean clone fails with the error
[code]

### Information on your system

* **Spack:** 0.17.0-603-a94b4eef79
* **Python:** 3.8.10
* **Platform:** linux-fedora32-haswell
* **Concretizer:** clingo

### Additional information

maintainer: @glennpj

### General information

- [X] I have run `spack debug report` and reported the version o

[2021-12-20 14:32] sethrj opened #28090 "Add MACOSX_DEPLOYMENT_TARGET on Darwin"
### Summary

Define `MACOSX_DEPLOYMENT_TARGET` in the build environment on Darwin platforms based on the target OS (e.g. `bigsur`).

### Rationale

The `MACOSX_DEPLOYMENT_TARGET` environment variable provides a default `-mmacosx-version-min` argument for GCC and Clang compilers, as well as the default value of `CMAKE_OSX_DEPLOYMENT_TARGET` for CMake-based build systems. The default value for the d

[2021-12-20 15:46] shahzebsiddiqui commented on #26997
@lukebroskop looping you in on this issue. I couldn't get packages building with NVHPC when it required blas libraries, since cray-libsci is a blas provider i think there is an issue getting this detection in spack package. For time being ill have to use some other blas provider to workaround this issue.

[2021-12-20 16:29] cpraveen commented on #28014
After I unset MACOSX_DEPLOYMENT_TARGET I am able to compile gsl.

In the past I had trouble compiling some softwares and I was getting some warnings in others, so I had set this variable.

[2021-12-20 19:40] sethrj commented on #28014
Yeah that variable is kind of a mess. It's possible that the extra decimal place was confusing the gsl configure...

[2021-12-20 20:31] amaji commented on #22589
Thanks @alalazo! I am using explicit dependencies for now.
Re: Clingo: I'll see if I can test it soon.

[2021-12-20 20:37] shahzebsiddiqui commented on #28012
[spack-db.e4s-21.11.80412b23ae.2021-12-20-122320.tar.gz](https://github.com/spack/spack/files/7747850/spack-db.e4s-21.11.80412b23ae.2021-12-20-122320.tar.gz)

[2021-12-20 21:16] stevenrbrandt commented on #27507
Running `module unload cuda` made it possible for me to install `clingo`. After that, things were more or less fine. Some packages would build, others would fail.

[2021-12-21 01:23] scheibelp commented on #28074
According to https://github.com/spack/spack/pull/28084#issuecomment-998014187, this will be the default location for `hdf5`'s CMake files at least starting with `hdf5@1.13.0`, so presumably dependent packages will need to change what they search.

That is to say: did you discover this by installing some package which depends on `hdf5`? If so, can you mention that here? We should probably update th

[2021-12-21 01:42] ax3l commented on #28074
Likely upstream PRs that caused this:
- https://github.com/HDFGroup/hdf5/pull/1041
- https://github.com/HDFGroup/hdf5/pull/1043

Yes:

[2021-12-21 03:30] ax3l commented on #28083
Upstream report in https://github.com/HDFGroup/hdf5/issues/1320

Work-around in #28103

[2021-12-21 03:30] ax3l commented on #28074
Work-around in #28103

[2021-12-21 10:03] alalazo commented on #12710
The issue is that we store mirrors by `url`, we should probably differentiate by type and allow for relative paths on local mirrors

[2021-12-21 11:56] alalazo commented on #22954
Copying your `compilers.yaml` and trying:
[code]
it seems everything is working as expected. Marking the issue as unreproducible and closing, but feel free to reopen if you have a clear reproducer.

[2021-12-21 11:56] #22954 closed, assigned to alalazo

[2021-12-21 12:21] alalazo commented on #23952
This seems to be unreproducible both in `develop` and in `v0.17.0` It was likely solved in one of the reworking of `concretize.lp` needed to implement `--reuse`.

![Screenshot from 2021-12-21 13-20-29](https://user-images.githubusercontent.com/4199709/146929038-33bc29ae-3273-4cec-a460-100e012ec321.png)

[2021-12-21 12:21] #23952 closed, assigned to alalazo

[2021-12-21 12:28] alalazo commented on #24754
Still a bug. I'm removing this one from point releases since I think there will be semantic changes involved in fixing it. The next v0.18.0 seems a better target for something like that.

[2021-12-21 12:37] alalazo commented on #24878
Behavior number 3 is fixed in both `develop` and v0.17.0 The other two inconsistent behaviors are still there.

[2021-12-21 15:25] psakievich commented on #12710
@alalazo I like that idea.  Probably the most straightforward way to do things.  This is probably a bigger scope than this PR, but I've been thinking we should look into making all paths in spack be typed.  This would allow a uniform solution to the relative path, absolute path, environment variable expansion, and url vs filesystem issues.  You could then do existence checks, decide to expand or n

[2021-12-21 15:31] climbfuji opened #28112 "Building gcc (gfortran) on macOS Monterey"
### Summary

I am not sure if this is a bug or if I am asking for a feature that hasn't been added yet. I am trying to install/build gcc (need gfortran) on macOS Monterey. I have tried the following versions so far in a clean stack environment:
[code]
The error I get is:
[code]
Attached is the `spack-build-out.txt` file from the process.
[spack-build-out.txt](https://github.com/spack/spack/files/7

[2021-12-21 17:26] haampie opened #28114 "Installation issue: Python links to system berkely-db and crypt"
### Steps to reproduce the issue

See https://github.com/spack/spack/pull/28109

_dbm.cpython* links against a system version of what seems to be Berkely DB.

### Information on your system

linux

### Additional information

_No response_

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have run `spack maintainers <name-of-t

[2021-12-21 17:29] haampie commented on #28114
[spack-build-out.txt](https://github.com/spack/spack/files/7757059/spack-build-out.txt)
Also Spack is missing the `libxcrypt` dependency of Python (at least, that's what google told me, didn't verify):

[code]

[2021-12-21 17:41] #23923 closed, assigned to alalazo

[2021-12-21 18:03] liuyangzhuan opened #28116 ""spack load" set additional environment variables"
### Summary

Is there a way to set package-specific environment variables when doing "spack load". More specifically,
after I do
spack install gptune
spack load gptune
I would like an additional environment variable "GPTUNE_INSTALL_PATH" to be set automatically. Is this a currently supported feature or not?

### Rationale

_No response_

### Description

_No response_

### Additional information

[2021-12-21 19:42] omor1 commented on #22954
@alalazo this probably ended up being fixed at some point due to improvements in the new concretizer. I haven't yet updated my Spack to it, so can't check. (My current setup _works_ and I don't want to mess with it until I absolutely have to.)

[2021-12-21 20:19] adamjstewart commented on #28114
Can't reproduce on macOS, linking seems to work correctly:

<details>
 <summary>Click to expand</summary>

[code]

</details>

Will test on Linux.

[2021-12-21 20:21] adamjstewart commented on #28114
Also can't reproduce on Ubuntu 18.04:

<details>
 <summary>Click to expand</summary>

[code]

</details>

[2021-12-21 20:55] vicentebolea commented on #27943
@Billae it appears that we do include the headers but later we do not link the kissfft library against the binaries.

What is the exact spack spec for this?

[2021-12-21 22:58] haampie commented on #28114
It happens when you have `libdb5.3-dev` installed as a system package. Maybe libcrypt is harmless, cause it's installed by glibc apparently.

[2021-12-22 01:50] spakin opened #28123 "Trouble providing external package from module"
### Steps to reproduce

I'm having all sorts of trouble trying to make a particular module available to Spack.  The module in question is `intel-mpi/2019.9.304`, and this expects a compiler module such as `gcc/9.3.0` to be preloaded.

The first problem I ran into is that there appears to be some magic I don't understand in the naming conventions used in Spack YAML files.  If I make up some arbitra

[2021-12-22 02:25] glennpj commented on #27634
@jacorvar Glad to hear that.

[2021-12-22 07:31] Billae commented on #27943
Here is my concretization, I try to install my paraview branded application and I ask for a particular commit of paraview (c1879b0d) (I add in my env a copy of the paraview recipe  with this version number in addition). I tested also last week with paraview@master and this was the same error.

[code]

I tried to find out who needs this lib and why it does not find it :
it is ```smTestDriver``` whi

[2021-12-22 09:12] Billae commented on #27943
Other weird fact: I tried to install it
- on my coworker's computer, it failed with this error
- on my computer (exactly the same computer and configuration), it works
- on a container on my computer, it failed

I first thought about some difference in compilers but it is the same gcc (9.3.0) and cmake (3.17.3). I am now totally confused =o

[2021-12-22 09:40] svigerske commented on #28112
Ran into the same and this patch seems to help me to make progress:
https://github.com/gcc-mirror/gcc/commit/11b967577483e51f97d540e9c2c9d1ea76da8122

[2021-12-22 10:38] mohan002 commented on #27829
I faced the same issue with Open MPI.

**steps to reproduce**
we have build Open MPI with AOCC 3.2 as following, in `spack config edit packages`:

[code]

**Spack build command:**

**Error message**
[code]

**Information on your system**
* **Spack:** 0.17.0-596-ece1e3905e
* **Python:** 3.6.8
* **Platform:** linux-centos8-zen3
* **Concretizer:** clingo

General information
 I have run `spack debug

[2021-12-22 10:44] alalazo commented on #27829
Hmm, there's something worth investigating in both reports: `number of packages to build (vs. reuse) == 0` and non-zero  scores in the build part of the specs :thinking:

[2021-12-22 11:09] mdorier opened #28129 "Installation issue: py-blessings"
### Steps to reproduce the issue

[code]
spack-build-out.txt:
[code]

@adamjstewart

### Information on your system

* **Spack:** 0.17.0-516-5319b6e3b1
* **Python:** 3.9.5
* **Platform:** linux-ubuntu21.04-sandybridge
* **Concretizer:** clingo

### Additional information

_No response_

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform

[2021-12-22 12:30] #28014 closed, assigned to nobody

[2021-12-22 12:46] haampie opened #28130 "intel-oneapi-mkl needs improvements"
### Summary

1. It has variants `cluster`, `shared`, `ilp64` which do not influence the contents of the installation, this can lead to many redundant copies of a 6GB+ installation :(.

   These variants should be removed, and replaced with query parameters (https://spack-tutorial.readthedocs.io/en/sc20/tutorial_advanced_packaging.html#extra-query-parameters) I can't find the actual docs for this f

[2021-12-22 13:30] rscohn2 commented on #28130
The spack developers are working on a different solution: https://github.com/spack/seps/pull/2. If you think there is a better way to handle it, you can discuss it there.

I don't understand what you mean. libpthread, libm, libdl are non-default libraries that are required to link. How should the package that depends on blas know that the requested configuration needs the libraries?

[2021-12-22 14:04] haampie commented on #28130
Okay, great! I wasn't aware.

Right, I expected the shared libs to have libm/libpthread/libdl in dt_needed, but they simply have missing symbols...

I think it's a matter of expectations... In my view `.libs` means "the libraries provided by this package" not "the libraries required to link to this package". So I expect all libraries to be part of the prefix, not on the system.

I still believe (b

[2021-12-22 14:10] arundathi-c commented on #27926
Yes, there is GCC in PATH.

Sorry for the delayed reply.

[2021-12-22 14:27] haampie commented on #28130
Just out of curiosity, why is it that MKL's shared libs don't specify libm/libpthread/libgomp etc in DT_NEEDED?

[2021-12-22 14:28] alalazo commented on #27926
Can you post some debug messages? For instance:
[code]
Can you also post:
[code]
?

[2021-12-22 14:43] rscohn2 commented on #28130
Is there an libiomp for using the intel compilers omp? I have not looked at
this in a while

On Wed, Dec 22, 2021 at 9:27 AM Harmen Stoppels ***@***.***>
wrote:

[2021-12-22 14:43] arundathi-c commented on #27926
`spack -d compiler find` gives the following output

and `which gcc g++` gives

[2021-12-22 15:15] #27652 closed, assigned to nobody

[2021-12-23 20:11] #28074 closed, assigned to nobody

[2021-12-23 20:11] #28083 closed, assigned to nobody

[2021-12-23 23:35] #28089 closed, assigned to nobody

[2021-12-24 04:50] BenWibking commented on #3955
`git` also does not work after `spack load openmpi` on CentOS 8 :(

[code]

[2021-12-24 04:56] BenWibking commented on #3955
Unfortunately, `spack load cmake`, `spack load openmpi` and `spack load rsync` all break git on CentOS / Rocky 8 :(

Any workarounds would be appreciated!

[2021-12-24 13:41] citibeth commented on #3955
1. I generally use spack environments not spack load.  Either with views or
modules.

2. In assembling the environment I generally address issues like this as
the come up.  In this case I would save LD-Library-Path then source all the
module loads, then restore ld library path.  That would all happen in the
final environment loading script I produce.

3. In general I would use the spack command to

[2021-12-24 13:58] alalazo commented on #28112
@climbfuji It seems to be a build error due to GCC. I added the issue to v0.18.0 so we'll be sure to keep track of it.

[2021-12-24 16:02] #28129 closed, assigned to nobody

[2021-12-24 16:46] adamjstewart commented on #3955
@BenWibking Can you try using the following `modules.yaml`?
[code]
This will override the default settings and prevent Spack from setting `LD_LIBRARY_PATH`. I know this works for module file creation. If it doesn't work for `spack load`, let me know.

[2021-12-24 17:06] adamjstewart commented on #28116
I think you want to add the following to the `package.py`:
[code]
If this works, can you open a PR?

[2021-12-24 17:09] adamjstewart commented on #28022
`py-pygtk` uses Python 2 which has reached EOL almost 2 years ago. `py-pygtk` will be deprecated in #28003 and removed after the next stable Spack release. You should use `py-pygobject` instead.

[2021-12-24 17:12] adamjstewart commented on #28009
Spack does not have a log4j package, so unless one of your packages bundles its own copy of log4j or picks up the version from the system, I don't believe it should be an issue.

[2021-12-24 17:13] adamjstewart commented on #28006
Can you run `spack --debug install`? That will tell you what is actually going wrong.

[2021-12-24 17:14] adamjstewart commented on #27938
Should be fixed by #27798

[2021-12-24 17:16] adamjstewart commented on #27627
Have you tried reporting this issue to the mayavi developers? It sounds like a bug in their software, not a bug in Spack.

[2021-12-24 17:52] wspear commented on #28006
I took a somewhat deeper dive (adding additional debug print statements around the source of that Package directory output and the NoneType error) but I still haven't pinned it down. I think the craype PrgEnv-nvidia module is failing to give spack something it expects...

[code]

[2021-12-24 18:38] adamjstewart commented on #28006
@wspear what does line 1051 of `build_environment.py` look like? I can't tell since I'm not sure what commit you're on and the print statements will change the line number.

[2021-12-24 23:20] BenWibking commented on #3955
It works, thanks!

[2021-12-25 00:58] liuyangzhuan commented on #28116
Thanks! It works well. I will commit the change accordingly.

[2021-12-25 16:48] #28116 closed, assigned to nobody

[2021-12-26 21:25] sethrj opened #28161 "Installation issue: ROOT"
### Steps to reproduce the issue

[code]
eventually while building `core/G__Core` gives:
[code]

Clearing the `MACOSX_DEPLOYMENT_TARGET` environment variable fixes the problem. The value of `11` works fine for the other compilers on my system, just apparently not RootCling. Perhaps this is because ROOT uses an older forked version of LLVM.

### Information on your system

* **Spack:** 0.17.0-604-c

[2021-12-26 21:27] sethrj commented on #28090
Looks like ROOT's fork of LLVM doesn't support contemporary versions of this variable: see #28161

[2021-12-27 18:04] wspear commented on #28006
@adamjstewart Here is the snippet and stack trace from the output. This is from the latest pull of spack as of this morning, but the line numbers will be a little bit off anyway because I added some additional print statements.
[code]

[2021-12-27 18:09] adamjstewart commented on #28006
Can you run `spack find -p`? I'm guessing that one of the external packages defined via modules is being added to the RPATH, but we're failing to properly extract the prefix from the module file, so it's being set to `None`. In that case, you'll need to define that external package via prefix instead of modules.

[2021-12-27 18:12] wspear commented on #28006
Here's the output of `spack find -p` but I'm not entirely sure what I'm looking for.

[code]

[2021-12-27 18:35] adamjstewart commented on #28006
Hmm, it seems like all installed packages have a prefix that is not None. I'm not sure exactly where `build_environment.py` gets its full list of RPATHs. Maybe @becker33 @alalazo would know.

[2021-12-27 19:10] wspear commented on #28006
I believe the 'None' is being returned from get_path_from_module_contents (around line 250 of util/module_cmd.py) and then propagated by path_from_modules, in the same file. I think there's something amiss in how get_path_from_module_contents is interacting with the PrgEnv-nvidia module, though if that's an issue with the top-level module or its dependencies I am unsure.

[code]

[2021-12-28 11:33] mdorier commented on #28022
Thanks, I'll close this issue then.

[2021-12-28 11:33] #28022 closed, assigned to adamjstewart

[2021-12-28 19:17] jrobcary opened #28168 "Spack complains "matches multiple specs in the environment""
### Steps to reproduce

[code]
env file:
[spackyaml.txt](https://github.com/spack/spack/files/7786080/spackyaml.txt)
[spackdebug.txt](https://github.com/spack/spack/files/7786086/spackdebug.txt)

### Error message

_No response_

### Information on your system

[code]

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have sear

[2021-12-29 02:29] jrobcary commented on #28168
I blew everything away, started over, and trilinos configures now.  Still does not build.

[2021-12-29 03:12] adamjstewart commented on #26546
I believe this will be fixed by https://github.com/spack/spack/pull/27798/commits/98bffffe347fede2463192bbcef12780d6e2de7c

[2021-12-29 03:58] adamjstewart commented on #28168
Can you upload the `spack-build-out.txt` and `spack-build-env.txt` from the failed build? @keitat @kuberry @sethrj help maintain our trilinos package so they may be able to help with any build issues.

[2021-12-29 07:10] vanderwb opened #28170 "Padded install root with trailing os.path.sep doesn't relocate properly"
### Steps to reproduce

I've found that if I build packages in an environment with a padded install root that ends with a separator and then populate a build cache and attempt to install the cached package into a second - unpadded - environment, the RPATH and text-path relocation operations fail because this trailing character is not stripped from the old padded prefix, and so when the old prefix

[2021-12-29 11:44] sethrj commented on #28168
@jrobcary It sounds like you're describing two separate issues. The first error in the outputs you posted are:
[code]
which look like you've created an environment with different version of trilinos: you'd need to post that file for us to debug. One thing that stands out are it reports two different values of `cuda_arch` for the two different concretizations.

The build error is a separate issue (

[2021-12-29 12:24] enrico-usai opened #28172 "Installation Issue: aws-parallelcluster@2.11.4 is unsatisfiable"
### Steps to reproduce

By listing `aws-parallelcluster` package versions you can see there are multiple versions available (latest one is 2.11.4) but when installing it without specifying a version I got version 2.8.1 instead of the latest one. Then I'm unable to install all the version after 2.8.1 even if manually specified.

[code]

If I try to install the specific version manually it works for

[2021-12-29 13:05] jrobcary commented on #28168
I found that the nuclear fix worked.  Blow away the spack clone and start over.
I'll post something on the trilinos build.

[2021-12-29 13:06] #28168 closed, assigned to nobody

[2021-12-29 13:36] jrobcary commented on #28168
I have a nice repeatable approach to this and can post if you like along with any desired files.  All saved.  Or I can start a new report.  LMK what you would like.

[2021-12-29 13:41] sethrj commented on #28168
@jrobcary By "this" do you mean the "matches multiple specs" error or the trilinos failure? If the latter, please open a new report and tag me. Thanks!

[2021-12-29 13:45] jrobcary commented on #28168
I have a repeatable approach to both.  I can avoid the "matches multiple specs" error by invoking the nuclear option and starting over with only one cuda arch.
When I do that, it fails to build.  I will write up what I know about the latter in an bug report and tag you.  Thx.

[2021-12-29 14:02] jrobcary opened #28175 "Build error: kokkos-kernels +openmp+cuda arch=zen2"
### Steps to reproduce

The basic command is
[code]

but attached is the script used to run that, as it sets other variables.  .txt was added to all file names so that github would accept them.  I also attach the build-out.txt file, which contains the full list of errors.

An example error is

/home/bilder/contrib/gcc-9.4.0/lib/gcc/x86_64-pc-linux-gnu/9.4.0/include/avx512fintrin.h(9146): error: id

[2021-12-29 14:04] jrobcary commented on #28168
I opened #28175.  I do not see how to tag you.

[2021-12-29 14:15] jrobcary commented on #28175
@sethrj
More experiments:

Adding +float gives the same error.

Changing version to 'develop' gives the same error.

[2021-12-29 14:21] jrobcary commented on #28175
Here is the env file for the develop build.

[spack-build-env.txt](https://github.com/spack/spack/files/7789281/spack-build-env.txt)

[2021-12-29 14:37] alalazo commented on #28172
@enrico-usai This seems to be a modeling issue with the recipe. Within `package.py` I see both these directives:
[code]
that combined mean that, for versions of `awsparallelcluster` >= 2.9, the `pyyaml` dependency must be >= 5.3.1 and == 5.1.2 at the same time (making them always unsat).

[2021-12-29 15:15] enrico-usai commented on #28172
@alalazo Thanks a lot for your fast answer. I'll work to fix the recipe and I'll update the issue. Thanks!

[2021-12-29 15:28] #27965 closed, assigned to nobody

[2021-12-29 16:46] sethrj commented on #28175
OK this looks like an error inside the Kokkos Kernels embedded in Trilinos, possibly a conflict between NVCC and the AVX instructions generated by `-DKokkos_ARCH_ZEN2=ON`. @jrobcary can you try installing kokkos kernels itself to see if this fails:
[code]

@brian-kelley Have you seen conflicts between CPU specializations and CUDA kernel instantiations? This looks like it's at least using a pretty

[2021-12-29 18:18] jrobcary commented on #28175
I removed "+hdf5", I assume a typo.  Then I get one arch warning and the same errors:

[code]

[2021-12-29 18:24] sethrj commented on #28175
OK, that's good news and certainly will make debugging easier. (I removed the `+hdf5` typo.) I'm updating the title to reflect the more specific issue.

@jrobcary You can probably get it to work by disabling processor-specific micro-optimizations, i.e. explicitly specifying `arch=x86_64` as part of the spec. Could you try that? Can you also post the full `spack-build-out.txt` from the kokkos kerne

[2021-12-29 18:34] wdconinc opened #28181 "Installation issue: qt ^pkg-config when assimp is in environment with view"
### Steps to reproduce the issue

[code]
In this environment, `qt` fails to compile because it tries to link against the system `assimp`, which is not a formal dependency of `qt` but is found because `qt` queries `pkg-config` for assimp when compiling QtQuick3D when `+opengl`. The irony is that it works fine without `assimp` installed trough spack since then a 3rdparty version bundled with Qt is u

[2021-12-29 19:04] jrobcary commented on #28175
[spack-build-out.txt](https://github.com/spack/spack/files/7790187/spack-build-out.txt)

The above is the spack-build-out from the failed kokkos-kernels build.

Adding arch=x86_64 to the kokkos-kernels spec unleashed a whole bunch of building, all the way down through cmake, but ultimately it succeeded.  LMK if you need anything else.  For now I will just use arch=x86_64.  Thx..

[2021-12-29 19:07] sethrj commented on #28175
OK cool, that's what I expected -- I don't think there's a way for just one package in a spec to be "un-optimized" at present. But I'm glad it worked! You can consider adding it to your packages.yaml or spack.yaml . You may see a slight performance hit in some bits of CPU code, but since you're targeting CUDA/GPU I doubt it's worth worrying about.

[2021-12-29 19:11] wdconinc commented on #28181
Maybe what's needed is something like this:
[code]
(with some suitable version range where assimp is applicable as an option).

[2021-12-29 19:12] sethrj commented on #28181
Ah, the curse of vendored dependencies. You're right, the correct approach is to explicitly state the `assimp` dependency with `depends_on('assimp', when='+opengl')` and ensure Qt doesn't build its own. We should also do the same for zstd. I don't understand why `dbus` is still being picked up: the configure line should include `-no-dbus` to disable it, or use spack's if `+dbus` is used.

[2021-12-29 19:20] wdconinc commented on #28181
The configure script picks up dbus through pkg-config even when `qt -dbus` and `configure -no-dbus` because it looks for host_dbus:
[code]
Probably needs `-no-host_dbus` or so, but I don't see that listed in `configure --help`.

[2021-12-29 19:24] sethrj commented on #28181
Ugh... okeydoke. I'm honestly not sure what dbus does or the history of the option in the qt recipe.

[2021-12-29 19:26] wdconinc commented on #28181
I'm with you there :-) All I need qt for is geant4 :-)

[2021-12-29 19:28] jrobcary commented on #28175
Thx.  I am using an environment, hence spack.yaml.  In what section would I put arch=x86_64?  (I did not see this in any yaml file under spack/etc/spack/defaults/.)

[2021-12-29 19:34] wdconinc commented on #28181
Since qtquick3d was added in 5.14 (or that's the oldest tag on https://github.com/qt/qtquick3d), I imagine the version range would be:
[code]
Seems consistent with
[code]

[2021-12-29 19:43] jrobcary commented on #28175
So after arch= change for trilinos,

[code]

I get a failure of hwloc:

[code]

and then a bunch of mysterious messages like

[code]
and

[code]

This is where the nuclear option seems appropriate, but it would be nice to know what is the minimal set of files to blow away to get things working.

[2021-12-29 19:48] sethrj commented on #28181
That sounds great. If you'll put in a PR I'll review it.

[2021-12-29 19:50] sethrj commented on #28175
Can you post your environment file? You probably want to have `concretization: together`. Looks like you're getting conflicts between the different arch types.

[2021-12-29 19:52] sethrj commented on #28175
You're adding it to the embedded `packages.yaml` essentially, so:
[code]

[2021-12-29 21:17] jrobcary commented on #28175
Which is "the environment file"?  I see lots of individual environment files:

[code]

[2021-12-29 21:20] sethrj commented on #28175
@jrobcary i mean the Spack environment definition, the yaml file.

[2021-12-29 21:22] jrobcary commented on #28175
[spack.yaml.txt](https://github.com/spack/spack/files/7790668/spack.yaml.txt)

so I am guess this one.

[2021-12-29 21:53] rchoudhary opened #28183 "Installation issue: clingo"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.17.1-677-c2e1a12cdf
* **Python:** 3.9.7
* **Platform:** darwin-monterey-m1
* **Concretizer:** clingo

### Additional information

I have Python 3.9 through [Miniforge](https://github.com/conda-forge/miniforge). If I check `/opt/homebrew/Caskroom/miniforge/base/lib` I see that I have `libpython3.9.dylib` but no

[2021-12-29 22:21] sethrj commented on #28175
Yes, you'll note that it starts with `This is a Spack Environment file`. It's different from the `-env.txt` files generated while building, which echo the system environment variables used while building spack.

I see in your environment that you have multiple distinct Trilinos specs but you still have `view: true`. It's the underlying issue causing #28168 and I guess it's interfering with this bu

[2021-12-29 22:26] rchoudhary commented on #28183
I should add that installing [libpython-static](https://anaconda.org/conda-forge/libpython-static) from conda-forge fixed the issue. However someone had told me that spack should be handling this without manual intervention.

Please close the issue if this is an incorrect assumption.

[2021-12-29 22:30] rchoudhary opened #28184 "Installation issue: libtiff"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.17.1-677-c2e1a12cdf
* **Python:** 3.9.7
* **Platform:** darwin-monterey-m1
* **Concretizer:** clingo

### Additional information

[spack-build-out.txt](https://github.com/spack/spack/files/7790834/spack-build-out.txt)
[spack-build-env.txt](https://github.com/spack/spack/files/7790836/spack-build-env.txt)
@adam

[2021-12-29 22:31] adamjstewart commented on #28183
@alalazo tried to convince a friend to switch from Conda to Spack and he immediately ran into this issue, not a great user experience. Luckily we found a workaround, but this is something we definitely want to handle better in the long run. If the Python libraries can't be found, can Spack automatically bootstrap Python as well?

[2021-12-29 22:39] adamjstewart commented on #28184
May be related to https://gitlab.com/libtiff/libtiff/-/issues/252. Also, Homebrew's recipe has a patch for M1: https://github.com/Homebrew/homebrew-core/blob/HEAD/Formula/libtiff.rb. Going to try adding that.

[2021-12-29 23:05] jrobcary commented on #28175
Yes, this was not put there by me.  I was hoping that my "environment" would be something that does not change unless I explicitly request that.  However, running spack is changing it, adding to the specs, as I keep experimenting, trying to get stuff to build.  Not sure I put 'view' in there.  I don't recall doing that.

Ideally, I would be able to specify things like packages to build, some compi

[2021-12-29 23:29] jrobcary commented on #28175
I see now that I created the environment initially using

[code]

and that created that directory with a default spack.yaml.  That file has in "view: true".    So if that is not a good thing to do, maybe the default creation should change?

I'll put some of these comments into the spack/slack.

[2021-12-30 00:30] jrobcary commented on #28175
Trilinos now building.  Thanks, @sethrj.

[2021-12-30 00:30] #28175 closed, assigned to nobody

[2021-12-30 03:29] rchoudhary commented on #28184
I can confirm that #28185 fixes my issue and `libtiff-4.3.0-jb7jy5ml6u37vqoury25x6rgjlg4c6ce` builds successfully on macOS Monterey with M1 architecture.

[2021-12-30 07:51] alalazo commented on #28183
@adamjstewart Part of the issue is also that we don't have binaries yet for `m1` and thus we fall back to bootstrapping from sources.

I need to think about it. Bootstrapping Python should be feasible, but not in the lazy way we bootstrap other dependencies. Maybe a command / subcommand to explicitly bootstrap Python with instructions on how to use it afterwards?

[2021-12-30 07:52] alalazo commented on #28183
@tgamblin

[2021-12-30 12:59] jrobcary opened #28186 "Installation issue: Python fails to build. System version of SQLite does not support loadable extensions on Big Sur"
### Steps to reproduce the issue

[code]

### Information on your system

$ spack debug report
* **Spack:** 0.17.1-677-c2e1a12cdf
* **Python:** 3.8.9
* **Platform:** darwin-bigsur-skylake
* **Concretizer:** clingo

### Additional information

[spack-build-env.txt](https://github.com/spack/spack/files/7793006/spack-build-env.txt)
[spack-build-out.txt](https://github.com/spack/spack/files/7793007/sp

[2021-12-30 13:01] jrobcary commented on #28186
This hack fixes the issue

[code]

[2021-12-30 15:54] nilsvu opened #28188 "Missing spec variant in upstream installation leads to KeyError"
### Steps to reproduce

- Install `openblas` in a Spack tree from before https://github.com/spack/spack/pull/27500
- Clone a new Spack and set the old Spack install tree as upstream.
- Install any package that depends on openblas, e.g. `py-scipy`. Use `--reuse` or another means to make sure the existing openblas installation is used. I encountered this issue when installing from an environment loc

[2021-12-30 16:03] jrobcary opened #28189 "Installation issue: amdblis-3.1 fails on darwin-bigsur-x86_64 with malloc.h include error"
### Steps to reproduce the issue

[code]

[code]

and later

[code]

I do not understand why amd-anything is needed on MacOS, as Mac does not use AMD chips?

@sethrj  @amd-toolchain-support

### Information on your system

$ spack debug report
* **Spack:** 0.17.1-677-c2e1a12cdf
* **Python:** 3.8.9
* **Platform:** darwin-bigsur-skylake
* **Concretizer:** clingo

### Additional information

[spack-b

[2021-12-30 16:41] sethrj commented on #28189
This isn't a trilinos error, it's an error inside `amdblis`: probably a concretization error. Can you please post `spack spec -I trilinos@13.2.0+hdf5~mpi+openmp`?

It's possible you have something in your packages.yaml that's trying to use (e.g.) AMD blas implementation.

[2021-12-30 16:43] certik opened #28190 "macOS M1: Spack fails to bootstrap without Xcode"
I started from a clean repository updated to the latest develop branch (c2e1a12cdf44edd7f29e465bbdfdc511b97d9669).

[code]

[2021-12-30 16:56] certik commented on #28190
This error can be fixed by:
[code]

As such, I suspect that Spack requires Xcode, while I only have the command line utilities installed. Honestly, things should just work with the command line utilities, as everything else seems to work for me that way.

[2021-12-30 17:52] adamjstewart commented on #28186
That's odd, I also build Python on macOS and I've never hit this issue. Spack should be using Spack-installed sqlite, not the system version, so the OS shouldn't matter.

It looks like @Sinan81 added this feature in #14132, maybe he can comment. It's possible we just need to compile sqlite with a specific flag.

Note that you can also avoid this issue by building `python~sqlite3`, but that's proba

[2021-12-30 19:15] jrobcary commented on #28189
I got the build to work by setting the provider of blas to openblas.  I also had to turn off openmp on trilinos, as apple_clang does not support that.

I am still having this problem that when I change something in my environment file, I am not sure all of what I have to do to get that picked up.  Trilinos still picks up old configuration parameters.  E.g., if I erroneously configure with two cuda

[2021-12-30 19:15] #28189 closed, assigned to nobody

[2021-12-30 19:50] sethrj commented on #28189
OK, so this is a weird concretization error I guess. I think the way you're using environments isn't quite how they're intended...

[2021-12-30 19:52] jrobcary commented on #28189
Thanks.  Can you say more?  Is there some documentation that tells me how to have a portable config file for my builds?  I'll do whatever that takes.

[2021-12-30 20:07] sethrj commented on #28189
It looks like you're trying to build trilinos with cuda and openmp on macos, which suggests you're not doing something that's truly portable.  Specifying different sets of software variants based on the hardware/OS you're compiling on is very difficult to do.  What you might do is define basic specs (trilinos, qt) and then on your different systems' `packages.yaml` file, specify the hardware-speci

[2021-12-30 20:28] sethrj commented on #28190
Hmm I'm guessing we need to build bootstrap binaries for `darwin-arm64`. The missing python framework may be a separate issue.

[2021-12-31 07:37] enrico-usai commented on #28172
Patch 28177 merged.

[2021-12-31 07:37] #28172 closed, assigned to alalazo

[2021-12-31 12:07] lrtfm opened #28196 "Installation issue: node-js : "libv8_initializers.a: error adding symbols: malformed archive""
### Steps to reproduce the issue

When I try to install npm, it failed with node-js with the following error
[code]

I googled it, found that maybe an issue of binutils 2.37, see https://sourceware.org/bugzilla/show_bug.cgi?id=28138.
But I am not sure.  @alalazo, could you help check this?
If this can fix the error, should there be a patch for binutils in spack?

[code]

### Information on your sy

[2021-12-31 13:35] sethrj commented on #20177
Oh yep, guess it is indeed  a duplicate. Closing in favor of that one.

[2021-12-31 13:35] #20177 closed, assigned to alalazo

[2021-12-31 13:53] sethrj commented on #21870
Thinking about this some more: I'm not sure if it's a missing capability in the spack compiler wrapper (there's no way to substitute for `$command` in `ld` mode) or if it's just an impossible inconsistency with gcc. When `binutils` is a dependency, its `ld` *should* be in the build's `$PATH` and should therefore be selected as the linker used for building GCC. However, the `--with-ld=` flag is nee

[2021-12-31 13:55] sethrj commented on #27758
Closed by #27966

[2021-12-31 13:55] #27758 closed, assigned to nobody

[2021-12-31 13:56] #26261 closed, assigned to nobody

[2021-12-31 23:41] Sinan81 commented on #28186
python+sqlite3 builds just fine on centos7. Not sure why it fails for MacOS. if the error can be reproduced by someone else, and root cause is understood, I would entertain to create a new variant for loadable sqlite3 extensions.

[2022-01-02 06:11] psakievich opened #28201 "Clingo fails to use externals with `patches=abcde` variants"
### Steps to reproduce

The environment from the attached files fails to concretize unless I use the `--reuse` flag, but if I use original concretizer it concretizes successfully. The error message below is not very helpful.

[externals.yaml.txt](https://github.com/spack/spack/files/7798641/externals.yaml.txt)
[include.yaml.txt](https://github.com/spack/spack/files/7798642/include.yaml.txt)
[spack

[2022-01-02 16:55] nilsvu commented on #28186
I can reproduce this issue on macOS 12.0.1. I added `python` to a new environment and ran `spack find external` to pick up the system `sqlite`. Then `spack install --reuse` fails with `error: System version of SQLite does not support loadable extensions`.

`spack debug report`:
* **Spack:** 0.17.1-681-fc9bfe5317
* **Python:** 3.9.9
* **Platform:** darwin-monterey-skylake
* **Concretizer:** clingo

[2022-01-02 18:02] adamjstewart commented on #28186
@Sinan81 it sounds like we should add a variant to the `sqlite` package that enables this feature and add auto-detection of that variant. I'll submit a PR to do this.

[2022-01-02 20:10] adamjstewart commented on #28186
Can everyone test #28204? I haven't yet figured out auto-detection but you can just set `~dynamic_extensions` in your `packages.yaml` manually.

[2022-01-02 20:59] nilsvu commented on #28186
Looks good when I set `~dynamic_extensions` manually 👍

[2022-01-02 21:25] nilsvu opened #28206 "Feature request: `--reuse-external`"
### Summary

I propose to add a `--reuse-external` configuration option as a weaker but more deterministic alternative to the new `--reuse` interface coming to Spack.

### Rationale

The idea is to avoid reinstalling available system packages, but don't try to actively reuse previously Spack-installed packages. I believe this would retain a majority of the predictability that we currently have, wh

[2022-01-02 22:26] adamjstewart commented on #28206
Does `buildable: false` meet your needs? It's not exactly the same because it isn't configurable on the command line, but you can add it on a package-by-package basis and force Spack to only use the externally installed version.

[2022-01-02 23:40] nilsvu commented on #28206
@adamjstewart My understanding is that `buildable: false` does not quite have the same effect. For instance, consider the `sqlite` issue we just looked at in #28186. If I make the system's `sqlite~dynamic_extensions` non-buildable, then I will never be able to build a `python+sqlite3`. However, if I concretize with the proposed `--reuse-external`, then `something ^sqlite` uses the system sqlite an

[2022-01-03 00:07] nilsvu commented on #28206
Here is another use case to add to the discussion:

Say I want to manage a development environment for an application on an HPC cluster, and share the `spack.lock` file with other users so they can reproduce the same environment. I want to reuse standard system packages to keep installation time and possible failure modes down for other users. Now to upgrade the `spack.lock` file occasionally, I s

[2022-01-03 01:50] #28184 closed, assigned to nobody

[2022-01-03 10:10] alalazo commented on #28206
Reusing externals when possible should be the default behavior when you have `buildable: true`. Do you have examples where this is not the case?

[2022-01-03 10:12] alalazo commented on #28206
This is for instance the behavior I see with the CMake version installed on my Ubuntu:

![Screenshot from 2022-01-03 11-11-45](https://user-images.githubusercontent.com/4199709/147919298-beed5fe3-a6a1-4143-a9ab-a32d8ae1061f.png)

[2022-01-03 10:21] #28161 closed, assigned to nobody

[2022-01-03 11:39] nilsvu commented on #28206
You're right @alalazo 👍 I didn't realize this behaviour was added. I believe the docs need to be updated, they say:

--- https://spack.readthedocs.io/en/latest/build_settings.html

[2022-01-03 11:45] alalazo commented on #28206
:+1: I'll try to submit a PR soon. Is it ok with you to close this issue when docs are updated? Or is there something more to be addressed here?

[2022-01-03 11:46] nilsvu commented on #28206
Yes sounds good 👍 Thanks for looking into this.

[2022-01-03 16:59] payerle opened #28213 "Installation issue: namd"
### Steps to reproduce the issue

[code]
Basically a large number of Python functions are not being found, which is due to the -lpython flag being missing in the compilation (sorry --- such is elided in the long compilation lines above, but visible in attached files).

Delving further, it appears to be a problem with the namd build system and a change in python-config command with python@3.8.  Nam

[2022-01-03 17:28] adamjstewart commented on #7695
Just want to confirm that this issue is still present in develop.

[2022-01-03 17:37] nilsvu opened #28215 "External python3 is shadowed by system python"
### Steps to reproduce

1. Install Python3 externally, so `which python3` points to it, but `which python` points to a system-installed Py2. This situation is easily reached on macOS with a simple `brew install python`: It links Py3 to `/usr/local/bin/python3` but doesn't link `python`, so `python` still points to the system Py2 in `/usr/bin/python`.
2. Run `spack external find` to pick up the Py3

[2022-01-03 17:41] alalazo commented on #7695
It is, as far as I know. Also, the behavior is different depending on the command being used e.g. `spack buildcache install` vs. `spack install`. It would be good to improve on the current state going to v0.18.0

[2022-01-03 22:10] eugeneswalker opened #28219 "mesa18@18.3.6 build fails: AttributeError: 'xml.etree.ElementTree.Element' object has no attribute 'getchildren'"
### Steps to reproduce the issue

`mesa18@18.3.6` build fails using:
* `spack@develop` (997dba8ffdc01d50dff3ebae791aff3d0145c818 from `Mon Jan 3 18:22:48 2022 +0100`)
* Ubuntu 20.04, x86_64
* GCC 9.3.0

Concrete spec: [mesa18-d7eiib.spec.yaml.txt](https://github.com/spack/spack/files/7804161/mesa18-d7eiib.spec.yaml.txt)

Concretization:
[code]

Error reproduced with entirely cached dependencies us

[2022-01-04 08:04] #28213 closed, assigned to nobody

[2022-01-04 08:48] Billae commented on #27943
Hello (and happy new year :p),
I come back here to know if someonoe has the same problem and /or has found a solution =)

[2022-01-04 11:46] UweSauter opened #28224 "provide Lua module (template) file for Lmod for Spack"
### Summary

I'd like to make Spack available as an Lmod module. My current attempt is
`0.17.1.lua`
[code]
which fails with
[code]
as reported in https://github.com/TACC/Lmod/issues/554

Spack was installed this was:
[code]

Is it possible to create a working Lmod module for Spack or does `setup-env.sh` just do things too extreme to the environment?

Lmod version is 8.6.2.

### General information

[2022-01-04 11:56] ax3l commented on #16215
Yes, we still have no way to bootstrap MPI packages without relying on a cumbersome "mix in gfortran from some source" bootstrap process.

For instance, getting `py-mpi4py` _on a fresh mac_ to install is not as simple as advertised: https://spack.readthedocs.io

[code]

Using GCC for everything on macOS does not work - many essential packages (e.g., CPython) don't test and support GCC on Mac. Even

[2022-01-04 12:22] ax3l commented on #6300
I would like to have this, especially for formal APIs (MPI, FFTW, BLAS/LAPACK, etc). I think if we had this, we could still define not-implemented exceptions if something is explicitly requested but not provided.

If there is another meta-issue for virtuals and variants, I am ok to aggregate it there.

[2022-01-04 16:59] mdorier opened #28234 "Installation issue: gptune"
### Steps to reproduce the issue

[code]
Build fails; gptune doesn't seem to find mpi.h. Not sure if it's a problem in the code or in passing flags to cmake from spack. I'm attaching the spack-build-out.txt file.

@liuyangzhuan

### Information on your system

* **Spack:** 0.17.1-677-c2e1a12cdf
* **Python:** 3.9.5
* **Platform:** linux-ubuntu21.04-sandybridge
* **Concretizer:** clingo

### Additio

[2022-01-04 17:01] mdorier commented on #28234
Note: I suspect that gptune doesn't have `find_package(MPI REQUIRED)`, instead it relies on the `CMAKE_CXX_COMPILER` (and other such variables) to be set the corresponding mpi compilers, which the spack package doesn't do. I will try to edit the package accordingly.

EDIT: this indeed corrects the problem. I'll submit a PR with the change.

[2022-01-04 17:17] dylex opened #28236 "Installation issue: hdfview@3.1.1 ^hdf5@1.10.8"
### Steps to reproduce the issue

hdfview (3.1.1, the only version available) fails to build against hdf5@1.10.8 or 1.13.0.  It builds fine with 1.10.7.  I suspect the latest hdfview 3.1.3 may fix this problem, but haven't checked.

### Information on your system

* **Spack:** 0.17.1
* **Python:** 3.6.8
* **Platform:** linux-centos7-broadwell
* **Concretizer:** clingo

### Additional information

[2022-01-04 17:28] pmccormick commented on #21261
@pbrady -- not yet exactly sure what is going on here.  The apple-clang-12 docs do state the default is c++14 (actually `gnu++14`) but if we add `-std=c++11` to the cxx flags these issues go away; as is also the case with `-std=c++14`.

We're working on a patch for you -- stay tuned...

[2022-01-04 17:53] pbrady commented on #21261
Thanks @pmccormick.  Having just upgraded to BigSur and now encountering #26669 I can't help but think that apple is actively trying to sabotage developers

[2022-01-04 22:42] payerle opened #28245 "Installation issue: adios2"
### Steps to reproduce the issue

[code]

### Information on your system

[code]

### Additional information

As it is a patch issue, now build environment or logs to upload, etc.

But I am including the original CMakeLists.txt file, the patch rejection, and the partially patched file
- [CMakeLists.txt.orig.txt](https://github.com/spack/spack/files/7810773/CMakeLists.txt.orig.txt)
- [CMakeLists.tx

[2022-01-05 02:38] IncubatorShokuhou opened #28247 "Installation issue: ioapi"
### Steps to reproduce

[code]

### Error message

[code]

### Information on your system

* **Spack:** 0.16.1-2558-ecb7d6dca1
* **Python:** 3.8.10
* **Platform:** linux-ubuntu20.04-skylake_avx512
* **Concretizer:** original

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have searched the issues of this repo and believe thi

[2022-01-05 02:39] IncubatorShokuhou commented on #28247
BTW，I reproduced this bug in several different ubuntu system, with many different compilers.

[2022-01-05 03:04] IncubatorShokuhou commented on #28247
@omsai It seems that you are the contributer of this package. Could you please help me figure out where the problem is?

[2022-01-05 15:59] adamjstewart opened #28256 "spack audit packages: CUDA issues on macOS"
### Steps to reproduce

On macOS, run:
[code]

### Error message

Spack reports thousands of CUDA version issues because CUDA is not supported on macOS:
[code]

### Information on your system

* **Spack:** 0.17.0-751-b23bd81cd9
* **Python:** 3.8.12
* **Platform:** darwin-catalina-ivybridge
* **Concretizer:** clingo

### General information

- [X] I have run `spack debug report` and reported the ve