[2022-01-05 16:00] adamjstewart commented on #28256
Note that this is also an issue for other packages like `cudnn`:
[code]

[2022-01-05 16:09] payerle opened #28257 "Installation issue: samtools"
### Steps to reproduce the issue

[code]

According to samtools@1.14 release notes (https://github.com/samtools/samtools/releases/tag/1.14), as of 1.14 the legacy API has been removed, so no sam.h, libbam.a, or bam_endian.h, and bam.h has been greatly reduced.

### Information on your system

[code]

### Additional information

- [spack-build-out.txt](https://github.com/spack/spack/files/7816179/s

[2022-01-05 16:14] payerle commented on #28257
Sorry, notice already fixed

[2022-01-05 16:14] #28257 closed, assigned to nobody

[2022-01-05 16:49] mpbelhorn opened #28259 "ASP solver does not handle missing packages during `--reuse`"
### Steps to reproduce

The clingo concretizer fails when attempting to `--reuse` existing builds when a package that at exists in the builtin package repo was previously installed using a custom fork of the package (with site-specific modifications) located in a higher-priority local package repo has since been removed from the local repo so that a newer builtin-repo version of the package is pre

[2022-01-05 16:49] mpbelhorn opened #28260 "ASP solver unable to sort variant_values_from_specs when variant can have both bool and str values"
### Steps to reproduce

Attempting to re-concretize an environment with the v0.17.1 clingo solver with

[code]

fails at [`spack.solver.asp.SpackSolverSetup.define_variant_values`](https://github.com/spack/spack/blob/b23bd81cd9dbccb536778a9e7bd8a05954ce3300/lib/spack/spack/solver/asp.py#L1603) due to a type comparison error while sorting the [`variant_values_from_specs`](https://github.com/spack/s

[2022-01-05 17:32] adamjstewart commented on #4319
Note that newer versions of node-js now support Python 3, and our Jupyter packages no longer depend on node-js. There are still a few issues in the Jupyter ecosystem that require separate concretization of build deps (different packages require incompatible versions of `py-jupyter-packaging`), but I've worked around those in #27798 by creating separate packages for different versions of `py-jupyte

[2022-01-05 17:32] adamjstewart commented on #4668
Is this issue still active or can we close it?

[2022-01-05 17:36] adamjstewart commented on #13427
I think this issue can be closed. `PythonPackage` now supports `spack versions` and `spack checksum`. Most of our packages have been moved from GitHub to PyPI, and the fact that PyPI is preferred over GitHub is [well documented](https://spack.readthedocs.io/en/latest/build_systems/pythonpackage.html#pypi-vs-github). I would welcome a concerted effort to continue to move from GitHub to PyPI for all

[2022-01-05 17:36] #13427 closed

[2022-01-05 17:46] adamjstewart commented on #14513
@mdorier taking a look at this again. We now have an easy way to do what you want to do. Should this be done:

1. at build time for all dependencies (`setup_dependent_build_environment`)
2. at run-time for a specific package (`setup_dependent_run_environment`)
3. recursively for all dependencies of dependencies

We currently do all three for `PYTHONPATH`, but I'm not sure if all three are needed f

[2022-01-05 17:50] adamjstewart commented on #24327
Can you try again with the latest release of matplotlib? If it's still an issue, can you open an issue with the matplotlib developers? This seems like a bug in their code, not in the Spack build recipe. If they provide a patch I can add it to the package.

[2022-01-05 17:57] psakievich commented on #28201
[spack.lock.txt](https://github.com/spack/spack/files/7816820/spack.lock.txt)
[externals.yaml.txt](https://github.com/spack/spack/files/7816824/externals.yaml.txt)
[include.yaml.txt](https://github.com/spack/spack/files/7816825/include.yaml.txt)
[spack.yaml.txt](https://github.com/spack/spack/files/7816827/spack.yaml.txt)

Uploading corrected config files.

[2022-01-05 18:20] #21261 closed, assigned to nobody

[2022-01-05 19:28] GuillaumeQuenneville opened #28263 "Spack containerize doesn't strip local repo's"
### Steps to reproduce

Create a spack.yaml with a local repo

[code]

spack containerize will not strip the repo from the config and will crash when a package from the repo that doesn't exist .

My first intuition is to solve this one of these ways
- copy the local repo onto the build image to create the build (i.e. with COPY ./spack-repo /opt/spack-environment/spack-repo before the "spack env ac

[2022-01-05 22:50] omsai commented on #28247
Upstream has this idiotic habit of updating the code without a version bump.  I don't have a way to see changes between their tarballs.  In any case I unfortunately won't have time till April to work on spack support because I'm finishing my dissertation and trying to defend.  Sorry.

[2022-01-05 23:31] pbrady opened #28273 "Installation issue: boost@1.70.0 on Fedora 35"
### Steps to reproduce the issue

On an installation of fedora 35:
[code]
The outcome is a variety of error messages like:

[code]

### Information on your system

[code]

### Additional information

[spack-build-out.txt](https://github.com/spack/spack/files/7818378/spack-build-out.txt)
[spack-build-env.txt](https://github.com/spack/spack/files/7818379/spack-build-env.txt)

@hainest

As far as I c

[2022-01-05 23:41] benpm opened #28274 ""Error: KeyError: 'LIBDIR'" when an external python is used"
### Steps to reproduce

1. Create a packages.yaml that defines an external python (that doesn't have dev libraries installed?)
2. `spack install exodusii`

### Error message

[code]
* **Spack:** 0.17.1
* **Python:** 3.9.5
* **Platform:** linux-centos8-haswell
* **Concretizer:** clingo
[code]

[2022-01-05 23:41] benpm commented on #28274
@adamjstewart requested to be assigned to this

[2022-01-06 00:06] RikkiButler20 commented on #27985
Hey @vsoch, is there a `libcaliper.so` directory in your `/home/vanessa/Desktop/Code/spack-vsoch/opt/spack/linux-ubuntu20.04-skylake/gcc-9.3.0/caliper-2.7.0-devjxuj7k3sllecoq74wf2ywszytx2e5/lib64`?

[2022-01-06 00:48] shahzebsiddiqui opened #28275 "spack compiler find for nvhpc is not correct"
@lukebroskop @samcmill

cc: @wspear @eugeneswalker @sameershende

There is an issue when running `spack compiler find` for detecting nvhpc compilers. According to this line it will create module `PrgEnv-nvhpc`

https://github.com/spack/spack/blob/a43ed9286fc99f5e9127744d914b7c09a4021836/lib/spack/spack/compilers/nvhpc.py#L28

I think this was the case some time back but now Cray has decided to cha

[2022-01-06 00:52] shahzebsiddiqui commented on #28275
Please take a look at #28276 and see if this would be ok.

[2022-01-06 01:15] hainest commented on #28273
@pbrady As much as I'd like to avoid adding yet another patch, it looks like we'll need to use the one you linked to. Have you tried building with that patch?

[2022-01-06 01:38] vicentebolea commented on #27943
@Billae I strongly appreciate the effort to report and possibly resolve this. You could possibly go ahead and submit those changes to that vtk.module file in the form of a merge request at https://gitlab.kitware.com/paraview/paraview.

I could do it myself but I would unfairly take credit from your contribution :wink:

Tag me when you open the Merge request.

[2022-01-06 02:41] adamjstewart commented on #28274
On the line before the `LIBDIR` line in the Python package, can you add `print(self.config_vars)` and run again with `spack --debug install exodusii`? I want to see if `config_vars` is completely empty or just missing the `LIBDIR` key. Also, what directory is Python installed in? Can you run `find <prefix> -name 'libpython*.so'` to see if there are any library files there?

[2022-01-06 03:15] vsoch commented on #27985
Sorry for the delay! Here is my whole caliper tree:

[code]
so it looks like I don't have lib64, but I do have lib, and I have libcaliper.so in lib (but that's the shared library not a directory).

[2022-01-06 03:34] pbrady commented on #28273
I haven't tried yet but I can give it a whirl tomorrow and put together a pull request if it works

[2022-01-06 09:24] mwestphal commented on #27943
These changes do not seems correct @vicentebolea.

[2022-01-06 10:39] alalazo commented on #28263
There's a plan to implement support for custom repositories in https://github.com/spack/spack/discussions/20442 with details on how we want to do that. The idea is to generate a context (i.e. a directory) with all the necessary file and COPY them in the image.

[2022-01-06 12:21] alalazo commented on #16707
@frankwillmore This issue has been moved across different releases. Can you comment on whether it has been solve or is still relevant? I don't have access to Theta to test myself...

[2022-01-06 12:28] alalazo commented on #18438
The issue in the description has been solved, but the one in https://github.com/spack/spack/issues/18438#issuecomment-770743885 has not. Tested on:

* **Spack:** 0.17.1-735-f8d4b4746c
* **Python:** 3.8.10
* **Platform:** linux-ubuntu20.04-icelake
* **Concretizer:** clingo

Triaging as `impact-medium` since this affects the portability of a `spack.yaml` file.

[2022-01-06 12:53] alalazo commented on #21491
I think this will be solved by design when we start using full-hash everywhere.

[2022-01-06 12:59] nilsvu opened #28282 "Interoperability with pip"
### Summary

This is a suggestion to improve interoperability between Spack environments and `pip`. Essentially I propose to make `pip` install packages in the activated Spack environment, instead of the python prefix.

### Rationale

Pip should not pollute the python installation prefix.

### Description

The idea is to enable this workflow:

[code]

At the moment, the workflow above sort of work

[2022-01-06 13:32] alalazo commented on #18692
Confirmed the bug is still present on:

* **Spack:** 0.17.1-735-f8d4b4746c
* **Python:** 3.9.7
* **Platform:** linux-ubuntu20.04-icelake
* **Concretizer:** clingo

[2022-01-06 13:39] alalazo commented on #21660
I cannot reproduce this behavior as of:

* **Spack:** 0.17.1-735-f8d4b4746c
* **Python:** 3.9.7
* **Platform:** linux-ubuntu20.04-icelake
* **Concretizer:** clingo

This is what I get with `clingo`:

![Screenshot from 2022-01-06 14-38-38](https://user-images.githubusercontent.com/4199709/148391432-4cb65ee8-4ff7-4c84-9a8b-3a5646355536.png)

[2022-01-06 13:40] alalazo commented on #21660
Let me know if there is some detail missing to reproduce the issue or if we can close this one.

[2022-01-06 13:45] alalazo commented on #21739
I think this would be solved by a finer analysis of the binaries to check whether we need RPATH relocation, string shortening or both. So essentially an improvement over the current state of build caches.

[2022-01-06 13:50] alalazo commented on #22866
Bug still present on

* **Spack:** 0.17.1-735-f8d4b4746c
* **Python:** 3.9.7
* **Platform:** linux-ubuntu20.04-icelake
* **Concretizer:** clingo

[2022-01-06 14:01] alalazo commented on #23298
I tried to reproduce using `clingo` and a test repository with zlib stripped of all its variants. It seems to work fine:

![Screenshot from 2022-01-06 14-59-42](https://user-images.githubusercontent.com/4199709/148394309-5c3fe189-394f-40e3-8b2c-d393dddd0d1d.png)

[2022-01-06 14:01] alalazo commented on #23298
Closing, but feel free to reopen if I missed anything.

[2022-01-06 14:01] #23298 closed, assigned to nobody

[2022-01-06 14:35] alalazo commented on #24842
I think this has been the behavior since Spack existed, so I relabeled the issue as a feature request. I agree that this is something we want, in particular if binary packages start to be used more - in which case we'd deploy only the runtime dependencies for specs

[2022-01-06 14:40] sethrj commented on #24842
@alalazo I think it's a regression: if you look at the output I posted above, the original concretizer identified no new dependencies, but clingo incorrectly thinks that perl needs to be built.

[2022-01-06 14:48] alalazo commented on #24842
Fair enough. In any case we have a few related issues to sort out with `spack install` vs. `spack buildcache install`. Iirc the former has the behavior you see, the latter does not.

[2022-01-06 14:54] sethrj commented on #24842
Cool, thanks.

[2022-01-06 15:02] mdorier opened #28283 "Installation issue: bazel fails to build"
### Steps to reproduce the issue

[code]

I have tried with bazel@3.4.0 and bazel@4.0.0 (the latest). Both fail (so I suspect other versions in-between will fail as well). Build logs are attached.
@adamjstewart

[bazel-3.4.0-build-out.txt](https://github.com/spack/spack/files/7822639/bazel-3.4.0-build-out.txt)
[bazel-4.0.0-build-out.txt](https://github.com/spack/spack/files/7822643/bazel-4.0.0-bui

[2022-01-06 15:07] nilsvu commented on #26559
The reason for this issue seems that LLVM 7.0.0 (and therefore the compilers `apple-clang@7:` and `clang@7:`) added a `<version>` header to libc++ (https://github.com/llvm/llvm-project/commit/082229eb0fd5cdf98c6c15ce697ab93eb4c41b42) to comply with the C++20 standard (https://en.cppreference.com/w/cpp/header/version). The header now conflicts with other files named `version`, or `VERSION` on case-

[2022-01-06 15:16] adamjstewart commented on #28283
@aweits

[2022-01-06 15:17] adamjstewart commented on #28283
The missing Python is surprising. Can you try adding a dependency on Python to the package?

[2022-01-06 15:20] mdorier commented on #28283
There is already `depends_on('python', type=('build', 'run'))`. Note that it seems to be looking for a "python" but when installing a python 3 interpreter, you don't get a "python" executable. You get a "python3" one (here spack installed python 3.9.5 as part of the build).

EDIT: actually spack used my system's python 3.9.5 as told by my packages.yaml file. My system doesn't have a "python" execu

[2022-01-06 15:27] frankwillmore commented on #16707
[code]

It still says haswell, which is the architecture of the login node where I run the command but not the knl which is the cross compile target specified by the module:
[code]

[2022-01-06 15:31] aweits commented on #28283
looking

[2022-01-06 15:34] alalazo commented on #16707
@frankwillmore Thanks for confirming it's still an issue. I'm currently trying to triage the bugs in v0.18.0

[2022-01-06 15:47] aweits commented on #28283
I don't see a spack python in the PATH, do you have python declared as external or something along those lines?

[2022-01-06 15:49] mdorier commented on #28283
Yes, Python is my Ubuntu's system python 3.9.5, in /usr/bin, exposed to spack via my packages.yaml file.

[2022-01-06 15:51] aweits commented on #28283
Ah I see your edit now. Is that normal for ubuntu to not have a "python" binary? That's probably going to cause lots of other issues...

[2022-01-06 15:56] adamjstewart commented on #28283
Yes, that's normal. If `bazel` needs a `python` executable we should change the dependency to `python+pythoncmd`.

[2022-01-06 15:59] mdorier commented on #28283
It seems that on my Ubuntu I needed to `apt install python-is-python3` to get the `python` command. I'll retry building bazel now...

[2022-01-06 16:02] aweits commented on #28283
hm, the 3.4.0 log seems indicate the use of /usr/bin/gcc rather than the spack wrappers...

[2022-01-06 16:33] mdorier commented on #28283
I can confirm that bazel@4.0.0 now installs fine with the python-is-python3.

[2022-01-06 16:52] nilsvu opened #28284 "Installation issue: paraview with AppleClang 13"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.17.1-686-89830c2117
* **Python:** 3.9.9
* **Platform:** darwin-monterey-skylake
* **Concretizer:** clingo

### Additional information

@chuckatkins @danlipsa @vicentebolea

I haven't gotten very far with building ParaView on macOS with AppleClang 13. A number of dependencies seem to have issues. My main questi

[2022-01-06 18:52] nilsvu commented on #28284
I also opened https://gitlab.kitware.com/paraview/paraview/-/issues/21158.

[2022-01-06 18:52] ndalton12 commented on #11636
Hi there, any updates on this issue? Still seeing it as of spack version 0.16.1 (maybe it's since been worked on?)

[2022-01-06 19:48] GuillaumeQuenneville commented on #28263
Thanks! I only checked issues, forgot about discussions...

[2022-01-06 21:16] #28283 closed, assigned to nobody

[2022-01-07 01:13] IncubatorShokuhou commented on #28247
Thank you for your explanation. Maybe I can try to use a historical version of https://github.com/cjcoats/ioapi-3.2 😃.
And good luck to your dissertation defense.

[2022-01-07 13:19] mdorier opened #28292 "Problem using miniconda3 installed by spack"
### Steps to reproduce the issue

Install miniconda3 and load it:
[code]

Now let's create a new conda environment:
[code]

Let's try to activate it, and we get an error:
[code]

If you run `conda init bash`, two bad things happen:
- This will edit your .bashrc file, something you really don't want a spack package to do (especially if you need for instance multiple installations of miniconda, or i

[2022-01-07 16:54] olupton opened #28294 "package@git_hash does not map onto the correct version if versions are defined by commits"
### Steps to reproduce

With the trivial test package
[code]
where the git repository referred to has three commits, the oldest of which is tagged as `v0.0`, then
[code]
where the given hash is the third commit, results in
[code]
i.e. I understand that the commit is resolved as "2 after 0.0" rather than "1 after 0.1".

I understood from https://github.com/spack/spack/pull/24639 that this was expec

[2022-01-07 17:12] pbrady commented on #28273
@hainest I have a problem I'm not sure how to solve.  It seems that compilers I install with spack continue to use my system headers.  I say this because when I was on fedora 34, I could build `boost@1.70.0 %gcc@9.4.0` without any problems.  But on f35, the command triggers the above errors. So what is the correct way to restrict the patch?

If I do ` patch("pthread-stack-min-fix.patch", when="@1.

[2022-01-07 17:32] snehring opened #28295 "Installation issue: diamond fails to link in spack, works fine outside of spack with gcc 10+"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.17.1-740-6e31094d77
* **Python:** 3.10.1
* **Platform:** linux-fedora35-zen2
* **Concretizer:** clingo

### Additional information

[spack-build-out.txt](https://github.com/spack/spack/files/7830264/spack-build-out.txt)
[spack-build-env.txt](https://github.com/spack/spack/files/7830265/spack-build-env.txt)

In

[2022-01-07 18:01] pbrady commented on #28273
Actually, restricting on the compiler doesn't work since clang uses the the same system pthread headers (or has the same version) so on fedora35, the following also fails and should be patched:

`spack install boost@1.70.0 cxxstd=17 %clang`

[2022-01-07 18:17] #24327 closed, assigned to adamjstewart

[2022-01-07 18:37] hainest commented on #28273
I'm doing some archaeology. I'll get back to you later today.

[2022-01-07 18:40] opensdh commented on #26559
You're supposed to use `-iquote` to cause `#include<version>` to ignore your files, but many people just use `-I` for everything (partly because CMake does that).

[2022-01-07 18:52] pbrady commented on #28273
Thanks @hainest.  I've posted some questions on slack as well

[2022-01-07 18:54] nilsvu commented on #26559
@opensdh Interesting. Anything we can do to work around this in Spack?

[2022-01-07 19:21] shahzebsiddiqui opened #28315 "spack bootstrap not installing clingo on Perlmutter"
### Steps to reproduce

@tgamblin, @eugeneswalker  @sleak-lbl
cc: @bonachea: reported this same issue and i suspect other NERSC users will have this same issue

Spack can't bootstrap clingo for some reason and therefore spack is not usable on Perlmutter. To reproduce this error we have a script where we clone spack in a python environment and run `spack spec zlib` to get the error.

[code]

The cu

[2022-01-07 19:31] benpm commented on #28274
I would love to, but unfortunately I can no longer reproduce this issue...

[2022-01-07 19:42] adamjstewart commented on #28274
Is that because you're using Spack-installed Python instead of the system Python? Or can you no longer reproduce with the system Python?

[2022-01-07 19:55] hainest commented on #28273
This is ultimately a glibc issue, so it can affect every version of boost.thread and any compiler. Because spack doesn't (yet) model glibc as a dependency, we'll need to broadly apply this patch to affected versions.

The numerical check for PTHREAD_STACK_MIN was introduced by https://github.com/boostorg/thread/commit/e54f7e39 on 2018-08-31. This would first be released in version 1.69.0. That cha

[2022-01-07 20:46] adamjstewart commented on #28282
I'm assuming we can set `--prefix` in `pip.conf` (see [here](https://pip.pypa.io/en/stable/topics/configuration/) for search locations). What might be harder is to determine the environment prefix. I think this needs to be done in one of the activate/deactivate functions in the Python package but I'm not sure where. Maybe @becker33 or @scheibelp would know.

[2022-01-07 20:49] adamjstewart commented on #22299
Can you test this on #27798? We now add both purelib and platlib to the `PYTHONPATH`, which should hopefully fix this issue.

[2022-01-07 20:59] adamjstewart commented on #9697
`py-pygtk` is for Python 2 (GTK2) which will be deprecated in #28003, use `py-pygobject` instead.

[2022-01-07 20:59] #9697 closed

[2022-01-07 21:00] adamjstewart commented on #13397
Can you try this again on develop? The entire fenics ecosystem has been completely rewritten in Spack.

[2022-01-07 21:12] adamjstewart commented on #13738
I'm going to close this since this is an issue in setuptools, not an issue in Spack. We can track this issue in https://github.com/pypa/setuptools/issues/1930.

[2022-01-07 21:12] #13738 closed

[2022-01-07 21:13] adamjstewart commented on #13955
I'm going to close this since this is an issue in setuptools, not an issue in Spack. We can track this issue in https://github.com/pypa/setuptools/issues/1930.

[2022-01-07 21:13] #13955 closed

[2022-01-07 21:13] adamjstewart commented on #14107
@iarspider can you see if this issue still exists on develop?

[2022-01-07 21:14] adamjstewart commented on #14528
@rblake-llnl is this still an issue on develop?

[2022-01-07 21:16] adamjstewart commented on #15886
Closing this as a duplicate of #9149, let's continue the discussion there.

[2022-01-07 21:16] #15886 closed

[2022-01-07 21:23] adamjstewart commented on #17691
@g-mathias did you ever get a chance to try any of these suggestions? Is this issue still present on develop?

[2022-01-07 21:24] adamjstewart commented on #20043
Can you see if this issue is fixed by #27798? We now add both purelib and platlib to the `PYTHONPATH` which should prevent this.

[2022-01-07 21:27] adamjstewart commented on #22671
Can you try #27798? We no longer run `build_ext` so hopefully the issue is no longer present.

[2022-01-07 21:28] adamjstewart commented on #22759
Is this still an issue on develop? There have been several new numpy releases since then.

[2022-01-07 21:34] adamjstewart commented on #24770
@becker33 @alalazo is there a way to configure external packages to set `LD_LIBRARY_PATH` like there is for compilers?

@billyauhk does your issue disappear if you use `spack install --dirty`?

[2022-01-07 21:35] adamjstewart commented on #26561
Closing now that #26566 has been merged.

[2022-01-07 21:35] #26561 closed, assigned to adamjstewart

[2022-01-07 21:38] adamjstewart commented on #26578
Can you see if this is still an issue with Spack's new clingo concretizer?

[2022-01-07 21:44] adamjstewart commented on #27455
I'm a bit confused by this issue. Spack's `py-pymol` package didn't have a 2.5.0 version until #28044 was merged 15 days ago, right? Maybe @aweits knows something about this issue.

[2022-01-07 21:45] adamjstewart commented on #27497
Is this fixed by #27798?

[2022-01-07 21:55] aweits commented on #27455
I thought I fixed this in #28044 - I was seeing the same things so I opted for --no-launcher to setup.py and modified the package to create the correct launcher. What does your package.py look like for py-pymol?

[2022-01-07 22:27] benpm commented on #28274
Well... I'm actually reporting this for somebody else's sake, I never actually ran in to this problem myself, even though supposedly we're both using the same config for Spack. The issue is now fixed on their end. I'll try to ask them to get it to fail again, but it could take a while.

[2022-01-08 09:04] Axel-Naumann commented on #28161
FYI, [we, ROOT](https://github.com/root-project/root/issues), would very much appreciate hearing about such build issues in the future: this sounds like something to be fixed on our side? I'd be very interested in seeing the invocation of `rootcling_stage1` that triggers this error message.

[2022-01-08 09:42] mohit9638iitk opened #28328 "Unable to install hpctoolkit with intel compiler using Spack"
### Steps to reproduce

Output of compilers.yaml

compilers:
- compiler:
    paths:
      cc: /usr/bin/gcc
      cxx: /usr/bin/g++
      f77: /usr/bin/gfortran
      fc: /usr/bin/gfortran
    operating_system: centos7
    target: x86_64
    modules: []
    environment: {}
    extra_rpaths: []
    flags: {}
    spec: gcc@4.8.5
- compiler:
    paths:
      cc: /home/apps/cdac/gcc/8.3.0/bin/gcc

[2022-01-08 11:52] sethrj commented on #28161
@Axel-Naumann thanks, I'll track issues there in the future. The can easily be reproduced with an existing root install by simply setting the environment variable and trying to run root-cling.

[2022-01-08 14:19] mohit9638iitk commented on #26705
Have you found any way to install application on CentOS with Intel compilers?

[2022-01-08 15:49] mwkrentel commented on #28328
We (hpctoolkit) only support building with GNU gcc/g++.

http://hpctoolkit.org/software-instructions.html#Prerequisites

Btw, hpctoolkit depends on dyninst and dyninst has an explicit
conflict for `%intel`, so I don't see how you get past `spack spec`.

[2022-01-08 17:42] mohit9638iitk commented on #28328
Thanks @mwkrentel for clarification.

[2022-01-08 17:42] #28328 closed, assigned to nobody

[2022-01-08 18:57] #28186 closed, assigned to adamjstewart

[2022-01-09 13:37] Smahane commented on #26705
Unfortunately I haven't

[2022-01-09 18:00] adamjstewart opened #28335 "spack install --only=dependencies returns incorrect exit code"
### Steps to reproduce

First, hack some package to make sure that it fails to install. For example:
[code]
Then, try to install a package that depends on this using `--only=dependencies`:
[code]

### Error message

Spack _should_ set the exit code to 1 in this situation since the requested installation failed. If there are additional dependencies that weren't able to be installed, Spack _should_

[2022-01-09 18:08] nilsvu opened #28336 "Build dependencies autoconf and m4 can be incompatible"
### Steps to reproduce

On macOS 12.0.1:

- Edit the `autoconf` packages: `depends_on('m4@1.4.13:', when='@2.64:')` (see https://bugs.launchpad.net/ubuntu/+source/autoconf/+bug/459422)
- Run `spack external find`: finds `autoconf@2.71` and `m4@1.4.6`. Note that these are incompatible, because `m4@1.4.6` is missing the `--gnu` flag.
- `spack install libtiff`, or another autotools package that runs

[2022-01-09 20:39] Julius-Plehn commented on #28236
As this package is contributed by me I will at least try to help supporting it in the future.
I had no success with building HDFView with a more recent HDF5 version. Maybe this is not supported as of now. This even holds true for the latest HDFView 3.1.3 version:

-> https://portal.hdfgroup.org/display/HDFVIEW/HDFView

However, I had success building the the latest HDFView 3.1.3 version using HDF5

[2022-01-10 07:59] g-mathias commented on #17691
We fixed all linking problems. The remaining bug is the path injection discussed in #27455 .
I'll close this issue.

[2022-01-10 07:59] #17691 closed, assigned to adamjstewart

[2022-01-10 08:53] ilbiondo commented on #28295
The issue seems to be the difference in compiler flags between Spack and the original CMake . the former uses O2 and the latter O3. Quite what is going on is a complete mystery to me.

With O2 and the command line options used by Spack

[code]

And exactly the same but replacing O2 with O3

[code]

As an aside O1 also works correctly.

I'd be inclined to say that this is either a compiler bug or u

[2022-01-10 09:46] hpcnpatel commented on #27455
I mentioned the 2.5 version in the issue but I can confirm the issue is persistent with older 2.4 & 2.3 versions.

[2022-01-10 09:47] hpcnpatel commented on #27455
I will get back to you after trying out the latest commits with #28044.

[2022-01-10 13:19] sethrj commented on #28181
Closed by #28191

[2022-01-10 13:19] #28181 closed, assigned to nobody

[2022-01-10 17:00] snehring commented on #28295
I guess it'd be more of a compiler bug. If you disable optimizations entirely you end up with that Swipe::Pipeline vtable missing from the symbol list. It only seems to appear with -O2

[2022-01-10 17:13] ashermancinelli opened #28344 "Installing from buildcache on Mac"
### Steps to reproduce

[code]

### Error message

[code]

### Information on your system

* **Spack:** 0.17.1-742-94bd667ba6
* **Python:** 3.9.8
* **Platform:** darwin-catalina-skylake
* **Concretizer:** clingo

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have searched the issues of this repo and believe this is not a du

[2022-01-10 17:15] ashermancinelli commented on #28344
CC @alalazo

[2022-01-10 17:16] rblake-llnl commented on #14528
(Just got back from vacation)

Yes, from my reading of the packages nothing has been fixed in develop yet.

I went through the `protobuf` source code and confirmed that `py-protobuf` and `protobuf` have to be at the same version numbers to avoid linking/compiling errors.

The easiest way to fix this might be to somehow access the `protobuf` package class, somehow extract all the version numbers, a

[2022-01-10 17:19] rblake-llnl commented on #14528
Another solution might be to have the protobuf package to add a +python option, and just have py-protobuf be a do-nothing class that depends on protobuf+python.

[2022-01-10 17:31] adamjstewart commented on #14528
The matching versions thing is definitely easy to solve (I don't know of a way to extract this automatically, we would have to explicitly list them). Don't know much about your other questions though.

[2022-01-10 17:34] snehring commented on #28295
It also seems to be unique to -std=[c|gnu]++14 and up

[2022-01-10 18:00] #28274 closed, assigned to adamjstewart

[2022-01-10 19:20] opensdh commented on #26559
Unfortunately, what I said/know is more useful [in the long term](https://gitlab.kitware.com/cmake/cmake/-/issues/15491) (and for assigning blame, if that's useful).  It's probably simpler to patch out the `version` file than to actually do anything to a package's build system.

[2022-01-10 20:33] renjithravindrankannath commented on #28219
We are facing the same build failure while working on the Spack recipe update for ROCm 4.5.2.
Is there any workaround available to complete the build temporarily in order to move on the other the activities on the upstream code while debugging this issue?

[2022-01-10 20:43] quellyn commented on #28219
What version of `python` are you using? I ran into this myself and while hunting around for a cause I found [references](https://github.com/ocrmypdf/OCRmyPDF/issues/583) to other packages running into this same error. In their analysis, the trouble was that the "getchildren" attribute was deprecated sometime in `python 3.9`. I ended up rolling back to `python 3.8.12` and had no further trouble.

[2022-01-10 21:08] eugeneswalker commented on #28219
This worked for me.

I will create a PR adding this requirement to `mesa18` package.py, unless anyone has a better way of handling this?

https://github.com/spack/spack/pull/28345

[2022-01-10 21:31] quellyn commented on #28219
I think that's the best solution. Thanks!

[2022-01-10 21:53] renjithravindrankannath commented on #28219
Thank you @eugeneswalker. Build completed with python@3.8.12

[2022-01-11 01:02] codethief commented on #22671
Hi @adamjstewart, I'm afraid I have moved on to a different project and won't have the time in the foreseeable future to give this a try. Sorry.

[2022-01-11 01:44] adamjstewart commented on #22671
Thanks @codethief, in that case I'll close this issue. If anyone else runs into the same problem in the future they can open a new issue.

[2022-01-11 01:44] #22671 closed, assigned to adamjstewart

[2022-01-11 03:45] adamjstewart commented on #27076
Is this fixed by #28346?

[2022-01-11 03:47] adamjstewart commented on #23428
@sethrj I think your problem is different and should be fixed by #28346

[2022-01-11 03:47] adamjstewart commented on #22313
Is this still an issue or can we close it now that #22676 has been merged?

[2022-01-11 03:51] adamjstewart commented on #14460
Can you see if this is fixed by #28346?

[2022-01-11 09:00] Billae commented on #27943
same issue is on paraview gitlab with news =)

https://gitlab.kitware.com/paraview/paraview/-/issues/21155

[2022-01-11 12:40] mdorier opened #28351 "Installation issue: ossp-uuid has a different interface from libuuid and util-linux-uuid"
### Steps to reproduce the issue

`ossp-uuid`, `libuuid`, and `util-linux-uuid` all have `provide('uuid')`, however `ossp-uuid`'s interface is different from that of the other two packages (for instance it has `uuid_create` instead of `uuid_generate`). This poses problems for packages that have `depends_on('uuid')` and expect the interface provided by the latter two libraries. Clingo can arbitrari

[2022-01-11 14:21] eschnett opened #28356 "Installation issue: findutils"
### Steps to reproduce the issue

`spack install findutils %gcc @11.2.0`

This version of GCC was installed via Spack.

`findutils` uses the macro `__nonnull` internally to expand to `__attribute__((__nonnull__(...)))`, which declarers that certain pointer arguments to functions cannot be null. This fails on my system where this attribute is not supported.

`findutils` checks whether this attribut

[2022-01-11 16:39] lee218llnl commented on #14460
It looks like this issue has been resolved even without #28346, so I will close it.

[2022-01-11 17:08] eschnett commented on #28112
See https://github.com/spack/spack/pull/27133

[2022-01-11 17:13] eschnett opened #28361 "Setting `preferred=True` should require a reason"
### Summary

When a package has a preferred version, I'd like to know why it is preferred. Similarly for deprecated versions.

### Rationale

When I want to use a particular version, and Spack tells me otherwise, I need to know whether to trust Spack, or whether to open a PR removing an outdated constraint.

This may also prevent me from going into rabbit holes where others have been before.

###

[2022-01-11 19:12] prckent opened #28362 "libssl version not overriden by packages.yaml ; incompatibility with all system libssl clients then results"
### Steps to reproduce the issue

Despite

cat .spack/packages.yaml
[code]

spack installs the preferred version of libssl 1.1.1m when used in other packages.  This then means that I can't run the system provided, (say) emacs once a spack package using libssl is loaded:

[code]
In the present case this is a RHEL system and I believe that like several providers they backport fixes without increasin

[2022-01-11 20:36] haampie commented on #28362
As a workaround you could convince spack it's a newer version.

Likely it *is* a newer version, in the sense that RHEL patches 1.1.1k and keeps calling it 1.1.1k.

Edit: can you share a bit more, what openssl version is used by cmake? Or, what is `ldd $(which emacs)` before and after?

[2022-01-11 20:51] prckent commented on #28362
In this example, cmake was using the latest 1.1.1m installed by spack. RHEL indeed keeps calling their patched openssl 1.1.1k, but it does not correspond any official 1.1.1*

For emacs it is libcrypto that is the problem
[code]

I could clearly hack the spack package file for libssl to remove the deprecated tags, but that is not a sustainable solution.

[2022-01-11 22:49] mwkrentel commented on #28219
@eugeneswalker I see your point, but no, that's not exactly the problem.
Actually, it looks like it's finding an old python 2.7.

This is on RH 7.9.  I ran `spack external find python` which produced:

[code]

So, `/usr/bin/python` is 2.7.5 and `python3` is 3.6.8.

I erased all the installed packages and started from scratch.
`spack spec` says it's using 3.6.8.

[code]

And indeed, before it crash

[2022-01-11 23:03] mwkrentel commented on #28219
I tried another experiment.  I removed python 2.7 from `packages.yaml`
and changed the python dependency to:

[code]

and I still get the same failure with mesa trying to use 2.7.

I've never looked at building mesa18 directly.  But I think this
identifies the solution: spack needs to explicitly tell mesa18 which
python to use and not let mesa search for itself.

[2022-01-12 01:24] cjobrie opened #28366 "Installation issue: gcc@9.3.0"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.17.1-780-d4a468c160
* **Python:** 3.7.11
* **Platform:** darwin-bigsur-skylake
* **Concretizer:** clingo

@alalazo
@michaelkuhn

### Additional information

[spack-build-03-build-out.txt](https://github.com/spack/spack/files/7850862/spack-build-03-build-out.txt)
[spack-build-env.txt](https://github.com/spack/s

[2022-01-12 02:29] cjobrie commented on #28366
Similar errors occur with gcc@9.3.0, and gcc@10.3.0

Also noted that https://github.com/spack/spack/pull/27133 may be related too!

[2022-01-12 02:53] quellyn opened #28367 "Installation issue: py-torch build failure on Sierra-like platforms (PPC64le + RHEL 7 + GCC 8.3.x)"
### Steps to reproduce the issue

Sanity check of the system:
[code]

Load `gcc/8.3.0` (closest to the Sierra default GCC):
[code]

Pull down Spack, scrub out caches:
[code]

Detect our compiler of choice:
[code]

Try to build `py-torch` without CUDA support:
NOTE: Have to specify `netlib-lapack` here, otherwise concretizer picks `intel-mkl` for some strange reason. This happens even if I list net

[2022-01-12 07:01] mwkrentel commented on #28219
Yep, separate from the python <= 3.8.12 issue, there is another
problem of passing the right python + mako to mesa.

In my case, I was using an "external" python3 from /usr/bin.  But
since it's /usr/bin, spack can't put that directory "ahead" of
/usr/bin/python 2.7 on my path.

Mesa configure has a configure variable PYTHON to set the path to the
desired python.  But I haven't yet found a satisfac

[2022-01-12 09:01] haampie commented on #28362
Can you try #28354? Seems like the problem is with Spack setting LD_LIBRARY_PATH on load

[2022-01-12 10:08] alalazo commented on #28367
The error says:
[code]
Did you check if this is the case for the compilation unit that fails?

[2022-01-12 12:36] alalazo commented on #24770
No, there is not at the moment, but we might want to add that and consolidate code that produces custom environment modifications from config files.

[2022-01-12 12:53] haampie commented on #28361
It should definitely be explained in the commit message. Sometimes this helps:

[code]

[2022-01-12 14:58] prckent commented on #28362
#28354 fixed this / Not setting LD_LIBRARY_PATH does indeed bypass this problem. Did a fresh install including the PR, built cmake (libssl consumer), verified the above problem did not occur.

[2022-01-12 15:59] eschnett commented on #28361
Code shouldn't be explained in commit messages.

[2022-01-12 16:13] #28234 closed, assigned to nobody

[2022-01-12 16:18] haampie commented on #28362
Okay, thanks. The bad news is that PR won't be merged immediately. The good news is that LD_LIBRARY_PATH can be disabled from the default variables in your config. For instance

[code]

note the double `::` which means to override that config. and then you simply make sure no LD_LIBRARY_PATH is mentioned there.

[2022-01-12 16:26] #28038 closed, assigned to nobody

[2022-01-12 17:04] ghost commented on #28236
I'm not the maintainer of this package but I use it a lot and managed to get the latest version running.  Note that the executable is now `HDFView` and not `hdfview`.  I didn't submit the changes yet because I'm using the `createJPackage` option in the ant builder.  This option copies over the entire java runtime to the install folder (84M), which isn't really necessary.  I think it would take som

[2022-01-12 17:22] eugeneswalker commented on #28219
I wonder if any of the `mesa18` maintainers could help us with a config option for specifying the precise python to be used for the build.

[2022-01-12 18:01] cjobrie opened #28378 "Installation issue: `hwloc@2.7.0`"
### Steps to reproduce the issue

```Spack -k install hwloc@2.7.0``` needed for `openmpi@4.1.1`

### Information on your system

* **Spack:** 0.17.1-780-d4a468c160
* **Python:** 3.7.11
* **Platform:** darwin-bigsur-skylake
* **Concretizer:** clingo

### Additional information

`Spack -k install hwloc@2.7.0` yields:

[code]
@bgoglin

### General information

- [X] I have run `spack debug report` an

[2022-01-12 18:16] adamjstewart commented on #28219
Does mesa have a CMake option like `PYTHON_EXECUTABLE`? If so, the solution is to simply add:
[code]
The CMake will be forced to use `/usr/bin/python3` instead of `/usr/bin/python2`.

[2022-01-12 18:33] mwkrentel commented on #28219
@adamjstewart mesa18 uses autotools, we think that's the reason it's a separate
package.

You can specify PYTHON in mesa18, which works to identify the python
path, but for me, the detection of py-mako still failed, and I don't
see a knob for py-make.

There are a lot of moving parts and I need to walk through the steps
again carefully to identify exactly the bounds of what still fails.

[2022-01-12 19:00] adamjstewart commented on #28219
In that case we should definitely set `PYTHON`. For `py-mako`/`py-make`, I wonder if that's fixed by #28346. If not, seeing the `spack-build-env.txt` would be helpful. I want to see what is getting added to `PYTHONPATH` and where the Python libraries actually live.

[2022-01-12 19:47] #13397 closed

[2022-01-12 19:47] #25877 closed, assigned to scheibelp, adamjstewart

[2022-01-12 19:58] gdkerbel opened #28383 "Problems building axom-0.5.0, mcapm-2.7.12, overlink-21.1.3, physicsutils-2.4.201111, sinacpp-master"
### Steps to reproduce the issue

install on linux-rhel7-power9le with xl//2021.12.22

### Information on your system

* **Spack:** 0.16.2-5-370ea7fdce
* **Python:** 3.7.2
* **Platform:** linux-rhel7-power9le

### Additional information

in /usr/WS2/gdk/myspack/build

-rw-r--r-- 1 gdk 215026 Jan 12 11:32 spack-stage-axom-0.5.0-xiy533tdxbtzdvhrs46esajy43vtxx6h/spack-build-out.txt
-rw-r--r-- 1 gdk 2

[2022-01-12 20:02] gdkerbel commented on #28383
environment file?
/usr/WS2/gdk/myspack/spack/var/spack/environments/rzansel_cpu_xl_12_22/spack.yaml

[2022-01-12 20:12] quellyn commented on #28367
Get ready to go down the rabbit hole ...

It looks like `py-torch` removed "unnecessary" iostream includes back in July:
(https://github.com/pytorch/pytorch/pull/61500).

This precipitated some fallout:
https://github.com/pytorch/pytorch/issues/65956

Which they next tried to address with:
https://github.com/pytorch/pytorch/pull/63533

That last patch eliminates the "std::cout" errors but introduc

[2022-01-12 20:42] quellyn commented on #28367
Sadly, no:

[code]

Fails with:
[code]

And many more (see attached).
[spack-build-env.txt](https://github.com/spack/spack/files/7857635/spack-build-env.txt)
[spack-build-out.txt](https://github.com/spack/spack/files/7857636/spack-build-out.txt)

Unless I'm doing something truly dumb here, I'd better go report this to the Py-Torch folks...

Edit: Mentioning @adamjstewart again since I don't think

[2022-01-12 21:37] adamjstewart commented on #28367
Yes, this definitely looks like an issue in PyTorch. I would report the build issues to them (especially the one on master). We can add patches for any of these if you want (could be to undo the removal of iostream or to add the replacement hacks).

[2022-01-12 22:25] adamjstewart commented on #18222
Just hit this as well. Not sure what is supposed to provide this library.

[2022-01-12 23:52] prckent commented on #28362
Thanks Harmen! Confirming that your modules file works for me. Hopefully #28354 will go in, but I'll close this since I have a successful and easily automatable solution.

[2022-01-12 23:52] #28362 closed, assigned to nobody

[2022-01-13 03:32] lrtfm commented on #18222
This library is provided by the compiler, see the logs below:
[code]

[2022-01-13 03:58] mwkrentel commented on #28315
@alalazo @becker33
I see the same problem on perlmutter.  Starting from scratch, for me,
the first failure is trying to build patchelf as part of bootstrapping.

First, `spack arch` reports the same answer for both FE and BE.
SLES15 is right for the FE, but I'm not so sure for the BE.

[code]

The default modules are:

[code]

`spack compiler find` identifies these compilers:

[code]

The three gc

[2022-01-13 04:30] mwkrentel commented on #28315
And if I let the bootstrapping run to completion, something strange happens.
It hits the patchelf error, installs clingo from source and proceeds to spec/solve.

But somehow, it's not registering that it is bootstrapped.
Because on EVERY spec/solve, it reinstalls clingo from source.

[2022-01-13 04:40] AMChalkie opened #28391 "Installation issue: automake"
### Steps to reproduce the issue

./spack install automake
[+] /mnts/scratch/git/spack/opt/spack/linux-ubuntu20.04-broadwell/gcc-9.3.0/libsigsegv-2.13-a2ixcvaluamsdir2e4fghx7r4fi4lsj4
[+] /mnts/scratch/git/spack/opt/spack/linux-ubuntu20.04-broadwell/gcc-9.3.0/berkeley-db-18.1.40-xjhkkxaosm6p5baxln5asqjqqvruilsd
[+] /mnts/scratch/git/spack/opt/spack/linux-ubuntu20.04-broadwell/gcc-9.3.0/libiconv-1.

[2022-01-13 11:01] nilsvu opened #28394 "Spec parse issue with multi-valued variants"
### Steps to reproduce

Spack fails to parse specs when a multi-valued variant is followed by a dependency spec, like this:

[code]

### Error message

[code]

### Information on your system

* **Spack:** 0.17.1-825-275eae76a6
* **Python:** 3.9.9
* **Platform:** darwin-monterey-skylake
* **Concretizer:** clingo

### General information

- [X] I have run `spack debug report` and reported the versio

[2022-01-13 11:45] haampie commented on #28394
The reproducer you're giving does not reproduce for me. Note that:

[code]

I can only reproduce it like this:

[code]

[2022-01-13 11:52] nilsvu commented on #28394
@haampie interesting, the command I posted reproduces the issue in `bash` on my system. In ZSH I have to enclose the spec in quotes anyway when it includes a caret, so the command also fails.

[2022-01-13 11:55] haampie commented on #28394
how about `spack spec llvm 'cuda_arch=21' ^cmake@3.22.1`?

[2022-01-13 11:58] haampie commented on #28394
Can't reproduce it on bash nor zsh. zsh can do fine without quotes, don't you mean fish? But also in fish it works fine.

[2022-01-13 13:42] nilsvu commented on #28394
@haampie In zsh the caret is interpreted as a glob, at least by default on macOS (see `EXTENDED_GLOB` in the [zsh options](https://zsh.sourceforge.io/Doc/Release/Options.html)). Here are various failure modes, all of them in zsh on macOS:

- `spack spec llvm cuda_arch=21 ^cmake@3.22.1` fails (zsh evaluates the caret as a glob)
- `spack spec llvm cuda_arch=21 '^cmake@3.22.1'` works (quoted the care

[2022-01-13 14:07] alalazo commented on #28344
Need to investigate this better, but I tried to avoid using `s3` and got a different failure in `macholib`:

<details>

<summary> % spack -d buildcache install zlib </summary>

[code]

</details>

I installed `zlib`from Spack and generated a signed buildcache in `~/tmp/binary-mirror`. I then ran:
[code]
Note that `-k` is essential to be able to import keys later. Then I checked out Spack in a shor

[2022-01-13 14:50] kwryankrattiger commented on #28315
Are you using environments? I can't remember the issue, but that could be part of it.

[2022-01-13 14:53] kwryankrattiger commented on #28315
up between BE and FE. Libfabric is only for the BE and shouldn't be
used for a FE build.

Could this be more cray strangeness like we saw on Spock where libfabric needs to be included in the compiler module list? Although, I would be even happier if there was a less hacky fix to this.

[2022-01-13 14:54] eugeneswalker opened #28398 "hsakmt-roct@4.5.0 build fails: CMake: Could NOT find PkgConfig, Could not find UDEV"
### Steps to reproduce the issue

`hsakmt-roct@4.5.0` build fails using:
* `spack@develop` (1ea4497802dde0ac63ec9aa95ea4d601331b7e2e from `Thu Jan 13 05:50:11 2022 -0500`
* Ubuntu 20.04, x86_64
* GCC 9.3.0
* CMake 3.22.1

Concrete spec: [hsakmt-roct-7pgzyzz.spec.json.txt](https://github.com/spack/spack/files/7863620/hsakmt-roct-7pgzyzz.spec.json.txt)

Concretization:
[code]

Build error:
[code]

#

[2022-01-13 16:24] ddomin commented on #28378
Hello, this build error also occurs while building for Linux/x86_64. I was able to fix it by modifying the URL in the file spack/var/spack/repos/builtin/packages/hwloc/package.py to be a version that is more recent. The default URL is not valid/

diff --git a/var/spack/repos/builtin/packages/hwloc/package.py b/var/spack/repos/builtin/packages/hwloc/package.py
index 9fcd556062..09565bf9b4 100644
--

[2022-01-13 16:38] srekolam commented on #28398
i did not encounter this issue on my ubuntu-20.4 /centos8 docker container but when i did a apt-get remove pkg-config i reproduced this error . I see that adding the below line - depends_on('pkgconfig', type='build', when='@4.5.0:') is resolving it .
but i am not sure abt the libudev.so . This also i did not see the failure but when i do a apt-get remove libudev-dev i see the failure in ubuntu 20.

[2022-01-13 16:40] bgoglin commented on #28378
What's invalid in that old 2.0.2 url ? It seems as valid as the 2.5.0 but just older (and both work fine in wget).

[2022-01-13 16:57] eugeneswalker commented on #28398
I will find out if there is a Spack package that provides `libudev`.

As for `pkgconf` -- I created this PR: https://github.com/spack/spack/pull/28400

[2022-01-13 17:18] ddomin commented on #28378
Unfortunately I can't reproduce the error today. Yesterday I installed spack on three different linux servers and had the same exact problem as described by the original post. Perhaps there were difficulties with the open-mpi.org server hosting the source code around the time when I tried installing open-mpi using spack.

[2022-01-13 17:26] eugeneswalker commented on #28398
It looks like `libudev` needs to work with systemd and is not a good candidate at the moment for being under the provenance of Spack. Based on this discussion: https://spackpm.slack.com/archives/C5W7NKZJT/p1642092724124300

So once the pkgconf PR is merged then this will be resolved.

Thank you!

[2022-01-13 17:30] bgoglin commented on #28378
The OMPI download server is actually behind a CDN on Amazon, it's very rarely offline. I actually tested download links manually yesterday immediately after you reported the issue but everything worked fine. Maybe it was rather a network issue.

Maybe spack could report more verbose information about the download failure in its output (and also not tell you to pass -k when you already did :)).

[2022-01-13 18:22] adamjstewart commented on #18222
On RHEL 8 I have GCC 8.5.0 but no `libusban` library in `/usr/lib` or `/usr/lib64`.

[2022-01-13 18:23] nilsvu opened #28404 "Installation issue: libxsmm"
### Steps to reproduce the issue

@hfp

The `libxsmm` doesn't specify a dependency on `binutils`, so a (potentially old) system binutils is used and the build fails:

[code]

I'm not an expert here, so is the right thing to do to add a dependency on `binutils`?

### Information on your system

* **Spack:** 0.17.1-663-3cd599d6f6
* **Python:** 3.8.7
* **Platform:** linux-centos7-haswell
* **Concreti

[2022-01-13 18:25] cjobrie commented on #28378
Is there a possibility to use a mirror for OMPI? I'm behind a very strict firewall that often has problems with Amazon Web Services.

[2022-01-13 18:27] bgoglin commented on #28378
@bwbarrett OMPI doesn't have any download mirror outside of AWS, right?

[2022-01-13 18:47] bwbarrett commented on #28378
There are not currently Open MPI mirrors outside of the CloudFront CDN that serves downloads.open-mpi.org.  Given the widespread use of CloudFront by the internet, we didn't see an upside to the cost of maintaining other mirrors.  This is also the first time someone has complained about persistent issues like this.

[2022-01-13 18:48] cjobrie commented on #19905
@drbenmorgan I'm seeing this error too, but with `openmpi4.1.1` and many other versions. My error is identical to that in the previous comment but I'm using Apple's native `clang@13.0.0`.

[2022-01-13 19:32] lrtfm commented on #18222
You may need install it by
yum install libubsan
as it isnot installed with gcc or g++.

Adam J. Stewart ***@***.***>于2022年1月14日 周五上午2:22写道：

--

祝好!
杨宗泽

[2022-01-13 19:35] lrtfm commented on #18222
See this link: https://linux-packages.com/centos-8/package/libubsani686

Zongze Yang ***@***.***>于2022年1月14日 周五上午3:32写道：

--

祝好!
杨宗泽

[2022-01-13 20:01] adamjstewart commented on #18222
Unfortunately I don't have admin privileges on this system.

[2022-01-13 20:19] tldahlgren commented on #27984
The problem in this case is in how the test is called in the `test()` method.  The error message states that the package expects `test_install` to be installed, which means the path it resolves to is expected to contain `self.prefix`.

There are a couple of issues with this stand-alone test:
1) The tests should *not* be run from under `self.prefix`; and
2) The `f` variable should include the `self

[2022-01-13 20:53] villaa opened #28406 "Installation issue: mesa"
### Steps to reproduce the issue

[code]

[code]

### Information on your system

* **Spack:** 0.17.1
* **Python:** 3.9.7
* **Platform:** darwin-mojave-skylake
* **Concretizer:** clingo

### Additional information

@chuckatkins  @v-dobrev

[spack-build-out.txt](https://github.com/spack/spack/files/7865927/spack-build-out.txt)
[spack-build-env.txt](https://github.com/spack/spack/files/7865929/spack

[2022-01-13 21:11] cjobrie commented on #28378
@bwbarrett I've been able to download directly from [openmpi.org](https://download.open-mpi.org/release/hwloc/v2.0/hwloc-2.0.2.tar.gz) via a browser, but not via Spack.

- I run into the problem of Spack not downloading packages **a lot** (presumably due to its use of some protocol), Is there an alternative fetching option? (might help @ddomin too)

- Is there a way to manually download a source a

[2022-01-13 21:20] lgiacome opened #28407 "Spack install failing with PermissionError"
### Steps to reproduce

I ran `spack --debug install patchelf` trying to install the package. The same problem happens with literally any other package I try to install .

Interestingly the folder `/afs/cern.ch/user/l/lgiacome/.spack/bootstrap/store/linux-centos7-x86_64/gcc-9.3.0/` doesn't exist but but spack creates the folder `/afs/cern.ch/user/l/lgiacome/.spack/bootstrap/store/linux-rhel5-x86_6

[2022-01-13 21:44] #28407 closed, assigned to nobody

[2022-01-13 21:45] lgiacome commented on #28407
This was duplicate of #14425

[2022-01-13 22:14] ax3l commented on #28407
Just for future readers, the solution is to set in `config.yaml` [the option](https://spack.readthedocs.io/en/latest/config_yaml.html#basic-settings)
[code]
for Andrew File System (AFS).
Quick setting via the command line:
[code]

[2022-01-13 22:16] ax3l commented on #28407
@iarspider @adamjstewart I wonder if we can test and set this automatically during bootstrap? (:
That's when @lgiacome encountered it.

[2022-01-14 02:11] #15304 closed

[2022-01-14 02:11] #20043 closed, assigned to adamjstewart

[2022-01-14 02:11] #22299 closed, assigned to adamjstewart

[2022-01-14 02:11] #26546 closed, assigned to adamjstewart

[2022-01-14 02:11] #27497 closed, assigned to adamjstewart

[2022-01-14 03:05] lrtfm commented on #18222
Maybe you could install another gcc by spack.

[2022-01-14 03:14] adamjstewart commented on #18222
I could, but Spack doesn't yet have compilers as dependencies, so there's no good way to model this dependency yet.

[2022-01-14 05:16] mwkrentel commented on #28219
@adamjstewart  @eugeneswalker
I ran some more tests, with and without Adam's patch from #28346.
The short answer is that I think #28346 contains the solution to my
problem, and I finally understand why.

This is on RH 8.x.  There is python2 and python3, but no python
symlink, at least not in /usr/bin.  My packages.yaml has python3 from
/usr/bin which is what spack spec and install use.

[code]

Fi

[2022-01-14 06:49] cessenat opened #28415 "Installation issue: silo"
### Steps to reproduce the issue

Since hdf5 1.10 is no longer preferred (commit https://github.com/spack/spack/pull/28091 from @haampie )
 and since constraint to hdf5@:1.10 in silo package is no longer enforced (commit https://github.com/spack/spack/pull/27613 from @lrknox )
Silo does not compile any longer:
$ spack install silo~mpi %gcc

[code]

### Information on your system

$ spack debug rep

[2022-01-14 07:26] cessenat commented on #28415
One more thing, with clingo and no ~/.spack/packages.yaml concretization picks hdf5@1.10.7 which works, but I expected hdf5@1.10.8.

[2022-01-14 14:18] haampie commented on #28404
https://github.com/spack/spack/pull/21671#issuecomment-779882282

[2022-01-14 15:38] #28398 closed, assigned to srekolam

[2022-01-14 15:59] Jordan474 opened #28417 "Command line scopes broken when used with other flag"
### Steps to reproduce

If you use `spack -C` with another flag that touches spack config (`-d`, `-c`...), then `-C` is ignored:

[code]

### Error message

_No response_

### Information on your system

Regression since spack 0.17. More exactly, I ran git-bisect, and it points to 2bd513d6591161d271221bb76bc1420bd3c2b3e3 .

### General information

- [X] I have run `spack debug report` and reporte

[2022-01-14 16:18] christoph-conrads opened #28419 "Question: How to check local cache before Spack mirror?"
Spack is running on a cluster without direct internet access and all attempts to connect to the spack binary mirror at `https://mirror.spack.io` fail of course after some time before Spack checks its source package cache. Is it possible to disable this mirror or to make Spack check its own cache first?

The documentation shows in the section on [`spack mirror remove`](https://spack.readthedocs.io/

[2022-01-14 16:39] adamjstewart commented on #28219
Glad it worked! I'll submit a PR to set the `PYTHON` env var.

We deprecated Python 3.6 and older in #28003 since these versions are EOL and no longer receiving bug fixes. However, we're reverting this change in #28411 since some users still need Python 2 support and people volunteered to maintain it.

[2022-01-14 16:54] nilsvu commented on #28404
Actually I'll keep this open for now (though feel free to close if you want to handle the issue differently). My understanding is that we need one of the following to resolve this sort of issue:

- Handle compilers as dependencies, along with things like binutils.
- Add binutils as dependency to packages, if they need a particular version.

I'm no expert here, so there are probably other solutions

[2022-01-14 17:05] lrknox commented on #28415
Commit #27613 included a patch for these errors in silo 4.11 with hdf5 1.10.8 and 1.12.1 (and above).  That commit was merged to develop 29 days ago which I think works out to mid December.  I checked Spack v0.17.1;  the patch was not included in that version.

Commit #27613 also include a preferred version 1.10.8 for HDF5 which was later removed.  A preferred version 1.12.1 has since been added t

[2022-01-14 17:27] lgiacome opened #28421 "Installation issue: gcc"
### Steps to reproduce the issue

`spack install gcc ^ncurses+symlinks`

(I use ^ncurses+symlinks because it's needed when working on the afs file system)

I am getting this weird error:

[code]

@alalazo @michaelkuhn

### Information on your system

[code]

### Additional information

[spack-build-env.txt](https://github.com/spack/spack/files/7872151/spack-build-env.txt)
[spack-build-out.txt](htt

[2022-01-14 20:23] hainest commented on #28419
I'm having this same problem on Ubuntu 18.04 using spack@devlop 3540f8200a5. ~Additionally, the spack-public mirror is using the wrong OS.~ I see this part was asked and answered yesterday (https://github.com/spack/spack/issues/28407).

	$ spack mirror list
	spack-public    https://mirror.spack.io

	$ cat ~/.spack/mirrors.yaml
	mirrors: {}

	$ spack mirror add E4S https://cache.e4s.io
	E4S

[2022-01-14 21:08] SunSDSE commented on #25757
If you are building an application where you want to leverage the Intel optimizations. This issue becomes a show stopper. Having freetype@2.11.0 compiled with gcc on the system is not meeting the requirements for using the Intel OneAPI compilers.

spack install openfoam +paraview%intel
==> Error: Conflicts in concretized spec "openfoam@2106%intel@2021.3.0~float32~int64~kahip~knl~metis~mgridgen+par

[2022-01-14 21:50] SunSDSE commented on #25757
This does not make sense to me as the Git source of Freetype 2.11 will compile and installs fine using the Intel OneAPI "icc" compiler.

[2022-01-15 00:50] david8dixon opened #28427 "using ubi8/ubi-minimal and spack containerize"
I've been experimenting with using spack containerize to build images for CI where:

[code]

For some environments this works just fine i.e. when the spec contains gcc (by works I mean we can run a ci pipeline with the image that configures, builds and tests). In other cases, it does not i.e. when the spec contains llvm or sphinx or gcovr. For llvm this is a result of ld not being available. For s

[2022-01-15 02:09] #2065 closed

[2022-01-15 02:40] adamjstewart opened #28428 "spack uninstall: could not remove prefix, directory not empty: '.spack'"
### Steps to reproduce

Uninstall a lot of packages.

### Error message

[code]
This happens every few packages I try to uninstall. If I run the same command again, it successfully uninstalls the packages that failed last time, but immediately runs into the same issue with a different package. Uninstalling everything takes dozens of tries.

### Information on your system

* **Spack:** 0.17.1-834-a

[2022-01-15 02:46] adamjstewart commented on #28428
Workaround:
[code]

[2022-01-15 14:06] mdorier opened #28429 "Cannot add external repo to an environment anymore (spack install fails)"
### Steps to reproduce

This happened in a commit sometime in January 14 or early 15.

[code]

### Error message

[code]

With --debug:

[code]

### Information on your system

* **Spack:** 0.17.1-840-3f903c49e4
* **Python:** 3.6.9
* **Platform:** linux-ubuntu18.04-sandybridge
* **Concretizer:** clingo

### General information

- [X] I have run `spack debug report` and reported the version of Spac

[2022-01-15 19:09] #28429 closed, assigned to adamjstewart

[2022-01-15 22:02] #28273 closed, assigned to nobody

[2022-01-16 20:46] vsoch opened #28436 "Broken builds as of last night"
I have an automated build for dyninst - you can see the Dockerfile here:  https://github.com/dyninst/dyninst/tree/master/docker built as follows from that directory

[code]

And it hasn't had an issue building nightly... until last night. It fails to apply a patch and then chokes and dies.

![image](https://user-images.githubusercontent.com/814322/149677381-bacc8569-b71d-4972-8c63-408d9600f2b1.png

[2022-01-16 20:47] vsoch commented on #28436
Note that the PR link I'm a bit desperate so I'm going to try to pin to an early version of spack. But this was working two days ago so... no ideas here.

[2022-01-17 00:15] mwkrentel commented on #28436
@pbrady @tgamblin @hainest
I can reproduce the same failure.
See:  https://github.com/spack/spack/pull/28322

Maybe the range `when="@1.69.0:1.73.0"` needs to be adjusted.

[2022-01-17 00:17] vsoch commented on #28436
That was my thoughts too (just copy pasta-d this in slack). For my container I'm trying to do 1.73.0. Perhaps the range should be adjusted to 1.72.0? If we want to decide on something to test I can make a branch for it and redo my build.

[2022-01-17 00:18] vsoch commented on #28436
I'll test 1.72.0 on my build now and see if it still happens.

[2022-01-17 00:19] vsoch commented on #28436
And thank you @mwkrentel !

[2022-01-17 01:38] hainest commented on #28436
The version range comes from https://github.com/spack/spack/issues/28273#issuecomment-1007694749. The open interval version test would then be [1.69.0, 1.73.0), no? Did I muck that up?

[2022-01-17 01:44] vsoch commented on #28436
1.72 has reached way beyond the original error point so (although the full dyninst container might not build) I think this fixes the issue here! https://github.com/dyninst/dyninst/runs/4835044296?check_suite_focus=true

[2022-01-17 01:56] vsoch commented on #28436
@hainest I found an example in the docs by grepping for when, and it looks like that syntax is <= so 1.73.0 would be included (highlighted in gray because I'm making good decisions about colors here lol).

![image](https://user-images.githubusercontent.com/814322/149688967-51f6c2e2-7c10-4f19-9580-611ea1eca098.png)

[2022-01-17 02:00] vsoch commented on #28436
https://github.com/spack/spack/pull/28437

[2022-01-17 02:06] hainest commented on #28436
@vosch

https://spack.readthedocs.io/en/latest/basic_usage.html#version-specifier

Bah! I should have double-checked. Mea culpa for the breakages.

[2022-01-17 02:26] vsoch commented on #28436
yep definitely didn't look in basic usage, ug. Thanks @hainest! And I don't think it's anyone's fault, no need to apologize.

[2022-01-17 08:33] alalazo commented on #28436
Closing this manually, I wasn't fast enough to change to `fixes` in the PR - it was merged while I was editing 🙂

[2022-01-17 08:33] #28436 closed, assigned to nobody

[2022-01-17 08:50] #28219 closed, assigned to nobody

[2022-01-17 08:56] alalazo commented on #28428
Is there an environment or list of packages that deterministically reproduces this issue? I haven't encountered it in a while so I'm wondering what might be causing it. By any chance, are you registering some installed Spack package as an external later?

[2022-01-17 09:12] alalazo commented on #28427
The image generated by `spack containerize` is designed to contain only the application or libraries, and be "minimal" otherwise. That said, the image is also built in stages so I think what you are asking for is:
[code]
which doesn't generate the final stage of the build - the one where we copy the software that was installed and remove Spack.

That's a fair point. I need to double check that but

[2022-01-17 10:44] pauleonix opened #28441 "Installation issue: `sundials +cuda` (also concerns `aluminum`, `dihydrogen`, `hydrogen`, `lbann`)"
### Steps to reproduce the issue

[code]
gives
[code]
The info about the CMake flags contains `'-DCMAKE_CUDA_ARCHITECTURES=none'`, which should be the reason for `nvcc` failing to compile.

### Information on your system

[code]

### Additional information

Hi,
I actually didn't originally encounter this issue while installing the given packages, but while using them as examples for writing my own

[2022-01-17 10:46] haampie opened #28442 "Smaller intel packages"
The intel-mkl spack package has a few variants:

[code]

Can we make it such that when the user requests shared libs and ilp64, the static libraries are removed as well as the lp64 ones? And how about removing the 32 bit libs on 64 bit archs too? Or through another variant?

We can also use multivalued variants in case the user needs all: `libs=static,shared integer=lp64,ilp64`.

This reduces the

[2022-01-17 10:47] haampie commented on #28130
Closing since I wrongly expected MKL shared libs to list their needed libs in the elf files.

[2022-01-17 10:47] #28130 closed, assigned to nobody

[2022-01-17 10:47] haampie commented on #28442
What do you think @rscohn2?

[2022-01-17 11:53] #28292 closed, assigned to adamjstewart

[2022-01-17 12:12] alalazo commented on #28442
Leaving as a note that this approach is the opposite of the extension proposed in https://github.com/spack/seps/pull/2 where the idea is to have a single `intel-*` installation that can be used in different ways by other specs.  I think both approaches make sense on their own - the SEP introduces "use variants" that live on the edges of the graph, this proposal make it such that the variants _real

[2022-01-17 12:18] alalazo commented on #28419
@hainest Binaries for linux are installed from `rhel5` because they have been built on a (slightly modified) `manylinux1` image.

[2022-01-17 13:21] rscohn2 commented on #28442
It seems like a good idea. I would prefer that the cleanup would be controlled by  a variant, with a default being disabled because people might be depending on the behavior of installing all libraries.

[2022-01-17 15:01] david8dixon commented on #28427
Thanks for the input. Would you also clarify if users are expected to run `spack env activate` or `spack load` within the minimal container generated in the final step? We wanted to avoid having spack (and its dependencies) installed on the final image where possible.

Additionally, if you were to use spack containerize to build llvm using ubi-minimal as a base-image, how would you deal with getti

[2022-01-17 15:44] #28006 closed, assigned to nobody

[2022-01-17 15:44] #22268 closed, assigned to nobody

[2022-01-17 15:56] adamjstewart commented on #28428
I'm not using environments or external packages. I simply ran `spack install py-torchgeo` and `spack uninstall --all`. There don't seem to be any particular sets of packages that trigger the issue, rather this affects almost every package I have installed. I've only ever seen this on one system, so I wonder if that system has a strange configuration that is causing this.

[2022-01-17 17:39] cessenat opened #28456 "Installation issue: openssl does not compile using nvhpc"
### Steps to reproduce the issue

$ spack install openssl %nvhpc@22.1
[code]

### Information on your system

$ spack debug report
* **Spack:** 0.17.0-856-e0f044561e
* **Python:** 3.8.10
* **Platform:** linux-ubuntu20.04-zen2
* **Concretizer:** clingo

### Additional information

[spack-build-env.txt](https://github.com/spack/spack/files/7883807/spack-build-env.txt)
[spack-build-out.txt](https://g

[2022-01-17 17:53] cessenat opened #28457 "Installation issue: openssh %nvhpc"
### Steps to reproduce the issue

$ spack maintainers openssh
@bernhardkaindl

$ spack install openssh %nvhpc@22.1 ^openssl %gcc
[code]

### Information on your system

$ spack debug report
* **Spack:** 0.17.0-856-e0f044561e
* **Python:** 3.8.10
* **Platform:** linux-ubuntu20.04-zen2
* **Concretizer:** clingo

### Additional information

[spack-build-env.txt](https://github.com/spack/spack/files/7

[2022-01-18 12:21] srekolam commented on #26671
this is fixed .

[2022-01-18 12:21] #26671 closed, assigned to nobody

[2022-01-18 12:22] srekolam commented on #24429
this issue is fixed as part of the updates to 4.5.0 release

[2022-01-18 12:22] #24429 closed, assigned to srekolam

[2022-01-18 15:15] payerle opened #28477 "Installation issue: petsc"
### Steps to reproduce the issue

I am running into an issue with spack build of petsc+suite-sparse not finding suite-sparse during configuration:
[code]

Delving into this for the root cause, the configure.log shows the following error when trying to compile a test code:
[code]

The SuiteSparseQR_C_solve symbol can be found in libspqr.so from suite-sparse, but the spack recipe is not passing that

[2022-01-18 17:34] pbrady opened #28486 "Installation issue: glm"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.17.1-878-58c598ffe6
* **Python:** 3.9.9
* **Platform:** darwin-bigsur-skylake
* **Concretizer:** clingo

### Additional information

GLM is a weird beast in that it removed it's cmake build system at some point and more recently added it back in (though an updated release with cmake hasn't been done yet.). The

[2022-01-18 18:20] #28477 closed, assigned to nobody

[2022-01-18 19:55] scheibelp commented on #28442
This could be done before https://github.com/spack/seps/pull/2 is implemented, although we might want to add a pointer to that in the PR.

If users will commonly install a subset of functionality and don't require the rest, then this could save them some space, however I assume it won't seem much different if build caches aren't used (since the full set of components would still be downloaded if a

[2022-01-18 20:36] loganharbour opened #28492 "`spack compiler info` returns 0 when not found"
### Steps to reproduce

`spack compiler info` returns 0 when an error is hit.

[code]

### Error message

Error message is valid (see above). Return code is inconsistent.

### Information on your system

* **Spack:** 0.17.1
* **Python:** 3.6.8
* **Platform:** linux-rocky8-zen2
* **Concretizer:** clingo

### General information

- [X] I have run `spack debug report` and reported the version of Spac

[2022-01-18 22:01] khuck commented on #23036
@trws Any progress on this?  I can't install llvm on Monterey with the latest apple-clang compiler, I get:
```  >> 1459    clang: error: the clang compiler does not support '-march=cannonlake'```
with this in my compilers.yaml:
[code]

[2022-01-18 22:07] samcmill commented on #28275
NVIDIA and HPE/Cray are working together on how to best address this.

[2022-01-19 10:50] #28492 closed, assigned to alalazo

[2022-01-19 10:59] #27985 closed, assigned to RikkiButler20

[2022-01-19 11:00] #26733 closed, assigned to nobody

[2022-01-19 17:04] #18460 closed, assigned to nobody

[2022-01-19 20:15] adityakavalur opened #28508 "Spack does not bootstrap with external compilers"
### Steps to reproduce

Bootstrapping with external compilers that need `LD_LIBRARY_PATH` is currently not possible as the process does not use `compilers.yaml`.  A workaround is to always run bootstrap before adding external compilers.

Additionally, maybe this needs to be documented on the "Getting Started" page in the "Bootstrapping Clingo" section, while the above is being addressed?

### Erro

[2022-01-19 20:16] adityakavalur commented on #28508
@alalazo Thanks for the help! much appreciated!
I made this to document the issue and maybe a modification to the docs? Feel free to close, however.

[2022-01-19 20:24] carns opened #28509 ""unalias: despacktivate: not found" error in setup-env.sh"
### Steps to reproduce

So far I've only seen this in job batch scripts and not in interactive terminals, but I don't know what the difference is yet.

These scripts have a line that looks something like `. /ccs/home/carns/working/src/spack/share/spack/setup-env.sh`, with the path varying depending on where spack is located.

This command reports a failure, though spack appears to work correctly a

[2022-01-19 20:37] quellyn opened #28510 "Allow bootstrapping of clingo from an air-gapped network"
Since `clingo` became the default concretizer, we've struggled to be able to use Spack on air-gapped networks.

In the current Spack release, `clingo` is bootstrapped onto the system by downloading the relevant binaries from a buildcache located on GitHub. That of course will not work on an air-gapped network. The other option is to build `clingo` from source, which is time-consuming, requires a c

[2022-01-19 21:14] alalazo commented on #28510
I have identified a bug for air-gapped networks. I'll submit a proper fix soon, but for the time being this diff:
[code]
might be of help as an hotfix/workaround.

[2022-01-19 21:58] quellyn commented on #28510
Hmm, instead of GitHub it's now going to `mirror.spack.io`:
[code]

If I could only get it to consult my `mirrors.yaml`, I'd be golden!

[2022-01-20 01:43] shahzebsiddiqui commented on #25048
I am going to close this now. I think this has been addressed and documented in the spack project to some extent at https://spack.readthedocs.io/en/latest/getting_started.html#system-prerequisites

[2022-01-20 01:43] #25048 closed, assigned to nobody

[2022-01-20 02:47] psakievich opened #28516 "Concretization failing with Git hash"
### Steps to reproduce

Trying to concretize this environment:
[code]
  Where `nalu-wind`'s hash comes from the `master` branch, `trilinos` comes from the `develop` branch, and `tioga` comes from the `exawind` branch which is linked to the `develop` version.

  It doesn't work with either of the dependencies.

  I'm not sure if it is related to #28294

  Pinging @becker33 and @vsoch

### Error mes

[2022-01-20 13:20] nilsvu opened #28522 "Installation issue: py-kiwisolver (macOS + gcc)"
### Steps to reproduce the issue

Installation fails on macOS with GCC:

```spack install py-kiwisolver%gcc platform=darwin```

Error: GCC doesn't have a `-stdlib` option. See upstream issue: https://github.com/nucleic/kiwi/issues/126

### Information on your system

* **Spack:** 0.17.1-917-1a5add3021
* **Python:** 3.9.9
* **Platform:** darwin-monterey-skylake
* **Concretizer:** clingo

### Additi

[2022-01-20 15:24] alalazo commented on #28510
@quellyn I re-tried this scenario and I think the simplest procedure to solve this issue is to download `patchelf` sources in the same mirror used to bootstrap binaries:
[code]
That works for me if I:
[code]

[2022-01-20 16:06] ravil-mobile opened #28524 "CUDA option for ScoreP"
### Summary

Spack doesn't install ScoreP with CUDA support because no option provided by the installation script. However, based on the ScoreP documentation, it can be easily enabled with `--with-libcudart=<path to CUDA>`.

### Rationale

Maybe it is worth adding it to Spack? I don't know why it hasn't been done before; whether there was a reason  to do so?

### Description

Here is my patch:
[co

[2022-01-20 16:45] adamjstewart commented on #14513
Can you give examples of this? Just about every Python library I know of installs header files to `lib/pythonX.Y/site-packages`, not `include/pythonX.Y`. This includes libraries like numpy, pybind11, xgboost, pandas, pytorch, and pythran.

[2022-01-20 18:07] quellyn commented on #28510
Hey @alalazo, that seems to have worked for me!

[code]
That time it went to the mirror!

Two points/questions:
- The `spack mirror create` step seemed to take longer than usual. Is Spack bootstrapping `clingo` even before it runs `spack mirror` commands?
- I did not run the last command you suggested (`unshare -r -n spack solve zlib`). I'm not really sure what it's meant to do (pre-concretizing `

[2022-01-20 18:17] alalazo commented on #28510
@quellyn Glad it worked! To answer your questions:
1. Yes, Spack is concretizing the spec before fetching it to the mirror
2. It's just a command to trigger the concretization of zlib - essentially any other command that needs clingo would work as a test

[2022-01-20 18:46] quellyn commented on #28510
Great, @alalazo! Pending [your fix mentioned above](https://github.com/spack/spack/issues/28510#issuecomment-1016906375), I think this issue can be closed.

[2022-01-20 20:15] adamjstewart commented on #28522
Out of curiosity, how did you install Python? Even the Python package doesn't build on macOS with GCC. I would highly recommend avoiding GCC on macOS if possible, many packages will only build with Apple Clang.

[2022-01-20 23:06] nilsvu opened #28528 "Feature request: CI tests on macOS"
### Summary

I propose to add macOS machines to the suite of CI pipelines that test package installs.

### Rationale

I often find packages don’t build on macOS (most recently `paraview` and its dependencies, which triggered this issue). This is a frustrating experience that can discourage new users. The main target of Spack is Linux HPC systems, but I believe users often try installing packages o

[2022-01-20 23:08] tomgreen66 opened #28529 "Installation issue: NAMD"
### Steps to reproduce the issue

```spack install namd^charmpp backend=mpi```

### Information on your system

* **Spack:** 0.17.1-884-cac86345e5
* **Python:** 3.9.9
* **Platform:** linux-ubuntu18.04-skylake_avx512
* **Concretizer:** clingo

### Additional information

[code]

Download NAMD from https://www.ks.uiuc.edu/Development/Download/download.cgi?PackageName=NAMD provides a source code file

[2022-01-20 23:08] nilsvu commented on #28522
I installed Python with Homebrew :) also opened the related https://github.com/spack/spack/issues/28528

[2022-01-21 02:00] adamjstewart commented on #28522
As a fellow macOS user, I would love to see better macOS testing and support. Personally I wouldn't recommend using anything other than Apple Clang on macOS, but if you convince any developers to fix their software with macOS + GCC, we can add as many patches as you can find.

[2022-01-21 14:43] vchuravy opened #28538 "Tarball downloads for `prce2` will eventually fail"
https://github.com/spack/spack/blob/9ac207c901c46d005a8cce1460fa110192af6cb5/var/spack/repos/builtin/packages/pcre2/package.py#L15

The FTP server https://ftp.pcre.org/pub/pcre/ went permanently offline, these releases have moved to Github (https://github.com/PhilipHazel/pcre2/releases), but no tarballs to releases prior to 10.37 are on Github. @PhilipHazel could you potentially upload prior relea

[2022-01-21 15:50] christoph-conrads opened #28540 "Have `spack bootstrap` print the list of its dependencies"
### Summary

Please add a command line option printing all bootstrap dependencies (e.g., `spack bootstrap dependencies`) in such a way that it can be passed to `spack mirror create` on a machine with a different operating system and/or different instruction set architecture.

### Rationale

On air-gapped systems or systems with restricted internet access, bootstrapping is easily possible if the bu

[2022-01-21 15:51] eschnett opened #28541 "Spack does not ensure C++ ABI compatibility"
### Steps to reproduce

[code]

It doesn't matter which package is installed; the issue is that `spectre` is a C++ package, and depends on other C++ packages. I request `spectre` to be built by GCC, and yet `spectre`s dependencies (e.g. `boost`) are built by Clang. They will use different STL libraries.

It is similarly important that different major versions of gfortran can't be mixed.

### Error

[2022-01-21 16:22] haampie commented on #28540
`spack install spack`

[2022-01-21 19:36] aprokop commented on #27981
I think the problem is that the environment being used in smoke tests differs from the build environment. I have not kept a close eye on spack to see if it is possible to specify the smoke test environment now.

[2022-01-22 17:54] wdconinc opened #28552 "Python+ensurepip fails because `--with-ensurepip=upgrade` tries to remove system setuptools, pip"
### Steps to reproduce

With current develop, and spack > https://github.com/spack/spack/commit/a2181e9d253d7e7efae411b52ee995023090edd0 by ~~@alalazo~~ @adamjstewart
[code]

### Error message

Full log: [spack-build-out.txt](https://github.com/spack/spack/files/7918957/spack-build-out.txt)

[code]

The new `ensurepip` flag causes the python to find the system-installed `setuptools` in `/usr/lib/p

[2022-01-22 18:01] adamjstewart commented on #28552
I think this is the right thing to do. Can you submit a PR?

Can you clarify this? Is `PYTHONPATH` set to include that directory? If not, I don't see why it would search that directory.

[2022-01-22 18:06] wdconinc commented on #28552
I don't have `PYTHONPATH` set in my calling shell, so I am not sure why it searches the system directories. I think it may be because we have `--root=/` as the path to the `ensurepip` call. It may be that we need to specify `--root=spec.prefix['python']` or something. That may then require another patch to the `Makerfile.pre.in` since there does not seem to be a `configure` option for it.

I'll fi

[2022-01-22 18:07] adamjstewart commented on #28552
But what happens when "ensurepip finds setuptools and pip"? For "upgrade", I can see why that would be an issue, but why is that an issue for "install"?

[2022-01-22 18:14] wdconinc commented on #28552
I was thinking that `python +ensurepip` should ensure that pip is installed in spack, not merely systemwide. Not sure why anyone would do this, but imagine:
[code]
Maybe I'm just misunderstanding what `ensurepip` is intended to do (I just picked it up since it defaults to True). Is the goal that it installs pip outside of the spack tree? I.e. where should pip end up in this case?
[code]
I would im

[2022-01-22 18:55] shahzebsiddiqui opened #28554 "cp2k cuda_arch=80 support needed"
### Steps to reproduce

concretization failed when setting cuda_arch=80 see https://software.nersc.gov/NERSC/spack-infrastructure/-/jobs/128921.
[code]

I believe the error is due to fact we dont have a mapping for cuda_arch=80 which is A100

https://github.com/spack/spack/blob/93377942d17d356aaae793c5d665a3e48ab7649e/var/spack/repos/builtin/packages/cp2k/package.py#L532-L538

### Error message

_

[2022-01-22 19:25] adamjstewart commented on #28552
Spack should never install anything outside of its own install tree. Are you saying that `--with-ensurepip=install` doesn't install anything if `pip` is already on the system? This isn't necessarily a big issue since we have a separate `py-pip` package. The main purpose of the `+ensurepip` variant for me was that packages like `py-build` require Python to be built with `--with-ensurepip`, otherwis

[2022-01-22 19:29] wdconinc commented on #28552
Indeed, it doesn't install anything new if `pip` is already on the system (at the time when `python` is installed).

[2022-01-23 03:10] #26552 closed, assigned to nobody

[2022-01-23 03:55] #28552 closed, assigned to adamjstewart

[2022-01-23 09:18] alalazo commented on #28554
@dev-zero fyi

[2022-01-23 10:02] #28417 closed, assigned to nobody

[2022-01-23 10:05] alalazo opened #28557 "Add a regression test for cli configuration scopes not being accounted for"
See #28418

A regression test for the bug fix in #28418 is missing, the issue here is just to keep track of that.

[2022-01-23 11:43] PhilipHazel commented on #28538
In reply to your question, I suppose it might be possible but: (a) The only
GitHub mechanism I can see is "create release from tag", which I'm not sure
I want to do for a non-current release. (b) How many previous releases
would people actually use? (c) The previous release tarballs are available
elsewhere on the net, though I do not want to encourage their use,
especially not the obsolete PCRE1 r

[2022-01-23 11:52] alalazo commented on #25048
@shahzebsiddiqui We have a command for that too in `develop`:
[code]

[2022-01-23 15:52] giordano commented on #28538
@PhilipHazel Uploading the tarballs to GitHub releases would be ideal, at very least for version 10.36, ideally for all versions listed in https://github.com/spack/spack/blob/9ac207c901c46d005a8cce1460fa110192af6cb5/var/spack/repos/builtin/packages/pcre2/package.py#L17-L20 (10.20, 10.31, 10.35, 10.36).

In particular, using github releases like you did for 10.37 onward would make it possible to us

[2022-01-24 02:03] theoparis opened #28568 "Support spack.config.cjs"
### Steps to reproduce

I put  `"type": "module"` in my package.json, and tried to use spack but it gives the first error message.

If I specify the `--config` option with spack it gives the second error message.

### Error message

1st error:

[code]

2nd error:
[code]

### Information on your system

Can't do this as it needs a config file thats valid by spack.

### General information

- [X] I

[2022-01-24 02:06] theoparis commented on #28568
Oops, i went to the wrong spack... was looking for swc.

[2022-01-24 02:06] #28568 closed, assigned to nobody

[2022-01-24 09:30] nilsvu commented on #27000
FYI, I noticed the file `lib/libhdf5.settings` in the Spack install prefix contains the correct information, but it is not printed out by `h5cc -showconfig`.

[2022-01-24 09:51] nilsvu opened #28570 "Feature request: Detect external packages using CMake"
### Summary

CMake already implements plenty of modules to find external libraries, such as [FindMPI](https://cmake.org/cmake/help/latest/module/FindMPI.html), [FindHDF5](https://cmake.org/cmake/help/latest/module/FindHDF5.html), [FindLAPACK](https://cmake.org/cmake/help/latest/module/FindLAPACK.html), [FindBoost](https://cmake.org/cmake/help/latest/module/FindBoost.html), etc. Packages also often

[2022-01-24 10:45] YacineOR commented on #19607
Hi,
I'm new to Spack here. Do you have a workaround to update a mirror to the latest versions of the dependencies?

[2022-01-24 14:24] PhilipHazel commented on #28538
I have uploaded 10.36 and 10.35. Your list then had 10.31 and 10.20 but it
doesn't seem right to offer 10.31 without 10.32, 10.33, and 10.34, and all
the others in between 10.31 and 10.20. Do you really need these old
versions? 10.31 is 4 years old and 10.20 is ancient in software terms
(2015).

On Sun, 23 Jan 2022 at 15:53, Mosè Giordano ***@***.***>
wrote:

[2022-01-24 14:40] haampie commented on #28538
As a data point: CentOS 7 provides 10.23 by default and will continue to do so until their EOL date 2024-06-30, so there are still users of ancient software versions, and it would be good if builds remained reproducible, and one aspect of that is availability of sources

[2022-01-24 17:44] PhilipHazel commented on #28538
OK, I will try to do a few each day back to at least 10.20.

Regards,
Philip

On Mon, 24 Jan 2022 at 14:41, Harmen Stoppels ***@***.***>
wrote:

[2022-01-24 18:51] balos1 commented on #28441
When I try this scenario, spack errors out with the message

[code]

So this is not a problem. I will implement the suggested solution in sundials.

[2022-01-24 21:53] RikkiButler20 commented on #27983
Can you show me your `slepc` tree?

[2022-01-24 23:21] vsoch commented on #27983
It's huge!

[code]

[2022-01-24 23:42] RikkiButler20 commented on #27983
@vsoch What is your output for `spack debug report`?

[2022-01-24 23:43] vsoch commented on #27983
[code]

[2022-01-25 00:06] RikkiButler20 commented on #27980
This issue has been documented here --> https://github.com/spack/spack/issues/23893
As of right now you can only install `aml` with versions `master` and `develop`.

[2022-01-25 00:13] vsoch commented on #27980
I think this is going to be problematic for BUILD SI because we can't use a default branch of spack - we have a custom branch with a lot of the extra analysis bits that we need. @mplegendre any suggestion for what to do here?

[2022-01-25 00:13] RikkiButler20 commented on #27983
Can you post your `spack-build-out.txt`? It should be in your `slepc` install prefix, under `.spack`.

[2022-01-25 00:16] vsoch commented on #27983
yep!
[spack-build-out.txt](https://github.com/spack/spack/files/7929703/spack-build-out.txt)

[2022-01-25 00:24] salotz-sitx commented on #28427
@david8dixon spack does not need to be installed in the final stage image. The necessary commands to activate the environment are pasted into the `/etc/profile.d/z10_spack_environment.sh` file which you can load in the entrypoint.

I just want to add that I am also seeing the `/opt/._vew` folder as well in the final build. To get things working I had to copy it from the builder as well. I am using

[2022-01-25 00:42] tldahlgren commented on #27983
Hmm.  Not seeing any issues with the library installation.

What version of `gcc` are you using?

[2022-01-25 00:44] vsoch commented on #27983
9.3.0 I believe

[2022-01-25 02:03] kwryankrattiger opened #28578 "Build issue: py-pip can't find spec `python`"
### Steps to reproduce the issue

The command.

[code]

The error with --verbose --stacktrace on:
[code]

### Information on your system

On Spock@ORNL

packages.yaml (abridged)
[code]

I am on a custom branch for testing a few different changes on spock. The relevant changes for building conduit at a minimum are [here](https://github.com/kwryankrattiger/spack/tree/conduit_no_check_fc) and all of

[2022-01-25 02:13] adamjstewart commented on #28578
It looks like this is a duplicate of #9149. For now, you can't have `py-pip` registered as an external package. If you remove that, then everything should build fine.

[2022-01-25 02:13] #28578 closed, assigned to nobody

[2022-01-25 02:14] adamjstewart commented on #9149
@scheibelp this bug is cropping up in quite a few places (see list of all the issues/PRs that have referenced this issue). Is this issue still on the radar?

[2022-01-25 03:39] scheibelp commented on #9149
Thanks for the ping, I've added it to our Wednesday meeting agenda at https://github.com/spack/spack/wiki/Telcon:-2022-01-26

https://github.com/spack/spack/pull/24894 might partially address this (although it requires that the user manually specify the dag themselves).

It's possible we could also infer connections between dependencies, although that would likely require more extensive work on ma

[2022-01-25 10:12] alalazo commented on #28570
Leaving a note that Spack supports adding external command extensions, see [here]( https://spack.readthedocs.io/en/latest/extensions.html) (in case you want to try prototyping something along these lines).

[2022-01-25 14:12] sethrj commented on #28516
@psakievich I don't think spack understands the relationship between the commits hashes and the versions defined in the spack repository. Because these three packages have pretty special interdependencies it's hard for them to specify in general what versions work with what. You *might* be able to get it to work by changing (for example) the dependency of naul-wind on trilinos from `trilinos@maste

[2022-01-25 14:58] david8dixon commented on #28427
@salotz-sitx thanks for the response. After taking a closer look, I now understand the distinction between `spack load` and `spack load -d`.

Are you explicitly adding this to the final stage via `extra_instructions`?

[2022-01-25 16:18] salotz-sitx commented on #28427
@david8dixon I gave up on the `containerize` command. I don't really see a reason to use it. You can just take the ideas/template that it spits out and make a very portable Dockerfile out of it by e.g. just COPYing in a `spack.yaml` file rather than inlining it. I had to add a bunch of other things to it as well that were not covered by the containerize options.

[2022-01-25 16:40] PhilipHazel commented on #28538
I have now uploaded all existing PCRE2 releases, right back to 10.00. I
hope I've done it right...

Philip

On Mon, 24 Jan 2022 at 14:41, Harmen Stoppels ***@***.***>
wrote:

[2022-01-25 16:44] salotz-sitx commented on #28427
@alalazo Given my comments above I think what would be most valuable for containerizing spack is to have more detailed instructions in the documentation on each of the components of the example dockerfile. Gotchas, different use cases etc. Rather than slowly reimplementing Dockerfile inside of `spack.yaml`.

[2022-01-25 20:11] giltirn opened #28595 "Spack compilation env variable setting (e.g. INCLUDE, C_INCLUDE_PATH) does not respect @property def headers"
### Steps to reproduce

For example, the util-linux-uuid package defines
[code]
which is supposed to tell spack that the include path should be <install_path>/include/uuid.  This is respected by the pkg-config .pc file produced by spack:  `Cflags: -I${includedir}/uuid` but not by the environment variables, e.g.
[code]

To reproduce: set ~/.spack/modules.yaml to include
[code]
then `spack install u

[2022-01-25 20:38] psakievich commented on #28516
@sethrj thanks for looking into this. I will have to test this out with your latest changes to the package.

[2022-01-25 20:58] sethrj commented on #28516
You may end up having to add versions like I specified, but the change to nalu was a prerequisite

[2022-01-25 21:21] tgamblin commented on #28538
Thanks @PhilipHazel!

All: note that we do also upload artifacts in Spack to our source mirror, hosted on cloud front -- were these showing up there?

It's still nice to have the original URLs work, though.

[2022-01-25 21:28] tgamblin commented on #28538
I think we can close this now -- feel free to continue discussion.

[2022-01-25 21:28] #28538 closed, assigned to nobody

[2022-01-25 21:57] psakievich commented on #28516
@sethrj @becker33 so if I totally remove the versions from `trilinos` and `tioga` then it concretizes successfully.  So it does seem like the git hash wasn't considered new enough with `trilinos@master:` and `tioga@develop:` (it didn't concretize with these changes) I don't think we can go with any older versions of these dependencies for nalu-wind unfortunately.

[2022-01-25 22:00] psakievich commented on #28516
I'm guessing this is a `concretize.lp thing` then?

[2022-01-25 22:12] kwryankrattiger commented on #25927
I think this is related to the conduit package.py overriding the spack/cmake logic for finding MPI. Removing everything in the `+mpi` section of writing the host config file except for turning MPI on/off depending on the option fixed it for me.

[2022-01-25 23:20] cyrush commented on #25927
@kwryankrattiger -- you need this new variant:

https://github.com/spack/spack/pull/27822

For cray systems that implicitly link MPI, we have to tell CMake not to look for it.

[2022-01-25 23:33] kwryankrattiger commented on #25927
@cyrush

This doesn't seem right, if I remember correctly CMake is already detecting and handling cray systems correctly for this reason. It is suspicious to me that this kind of work around is not being required by other cmake packages in spack but it is for conduit. I may be missing something more subtle here, so I don't know if I am ready to say it is wrong, just strange.

[2022-01-26 00:23] cyrush commented on #25927
It's a conduit specific issue (well a BLT issue - which conduit uses on top of CMake).

BLT has extra logic related to CMake + MPI. That logic filled gaps with resolving MPI usage in older versions of CMake.
It uses FindMPI, but it might be extra picky when it doens't detect details about MPI. Those seat belts are a barrier us on cray and help us on other places.

I used the new variant to build o

[2022-01-26 00:44] sethrj commented on #28516
I don't understand `concretize.lp thing`? This is ultimately an issue with the Spack version semantics. Spack's versioning class (`spack.version.Version`) knows that `develop` is newer than `master`, `master` is greater than numeric versions, and (this is the key point and the worst part of the version heuristic) **all other alphanumeric versions compare lower than version 0.0.0**. So your trilino

[2022-01-26 01:10] #27982 closed, assigned to nobody

[2022-01-26 01:16] psakievich commented on #28516
Ah I see @sethrj. The precedent is defined in the versions. So the git hash stuff is a newish feature that still needs the documentation merged where you give a hash instead of a version and then it automagically finds the matching hash and downloads it for you. So I think we just need to make it so whatever object representation this has is given the second highest or highest precedent in the Ver

[2022-01-26 02:08] shahzebsiddiqui commented on #25048
Thanks for sharing. I wasn't aware of this subcommand. I'll check out the docs.

[2022-01-26 02:13] sethrj commented on #28516
Oh cool! Well once the ordering for git hashes is such that they're automatically "greater than develop" the changes to nalu-wind (making the version requirements open-ended rather than exact) should fix it.

[2022-01-26 03:11] vchuravy commented on #28538
Yeah that's why I titled it "eventually fail", since I didn't know your eviction policy.

[2022-01-26 09:36] tgamblin commented on #28538
Currently it’s “never” so we’d have to decide to evict this.  For reproducibility I’m not usr Edgar we would do that. Our costs aren’t currently dominated by storage at all — if anything they may become dominated by bandwidth, so at least for now I think we are safe in both scenarios.

Having an official policy and checking that the source urls still work semi-routinely are things we should probab

[2022-01-26 11:03] nilsvu opened #28607 "Feature request: Print an overview of what will be installed"
### Summary

`spack install` should print an overview of what it will install.

### Rationale

When I `spack install` a package, I would like to get an idea what is going to happen before committing to wait possibly hours for the installation to complete.

### Description

This is what I would like to know in advance:

- [ ] Which packages will get installed from source?
- [ ] Which dependencies a

[2022-01-26 11:14] haampie commented on #28607
Adopt environments in your workflow, so that `spack concretize` and `spack install` are separate steps. I have an open PR to make `spack spec [-I]` in an active environment print whatever the output was of `spack concretize`: https://github.com/spack/spack/pull/25941.

https://spack.readthedocs.io/en/latest/config_yaml.html#basic-settings try `spack -c config:terminal_title:true install` per insta

[2022-01-26 13:28] sethrj opened #28609 "Mystery MPI implementations due to conflict resolution"
### Steps to reproduce

Add an external CUDA 11.6, and default all package variants to `+cuda`:
[code]

Then try installing `superlu-dist`, which currently conflicts with CUDA 11.5+.

### Error message

[code]

`spectrum-mpi` showed up this time, and `mpt` showed up a previous iteration. Setting `providers: [openmpi]` does nothing.

Neither `mpt` nor `spectrum-mpi` are in the list of providers in

[2022-01-26 14:08] nilsvu commented on #28607
I like your suggestion for replacing the output line. I agree the full spec is too verbose for the title, but I would find the information on what exactly is being built very useful. My suggestion is this:

[code]

[2022-01-26 14:47] MintMiku opened #28612 "Installation issue: py-tensorflow conflicts with new version of protobuf"
### Steps to reproduce the issue

[code]

[code]

### Information on your system

* **Spack:** 0.17.1
* **Python:** 2.7.5
* **Platform:** linux-centos7-skylake_avx512
* **Concretizer:** clingo

### Additional information

@adamjstewart @aweits
It seems like `tensorflow/core/distributed_runtime/tensor_coding.cc` calling function `google::protobuf::io::CodedInputStream::SetTotalBytesLimit` with two

[2022-01-26 15:29] kwryankrattiger opened #28613 "Installation issue: conduit/apcomp/ascent +fortran"
### Steps to reproduce the issue

compilers.yaml
[code]

[code]

Building conduit by itself it seems like everything is fine. `conduit +fortran` all builds, no problem. Or so it seems until `ascent +fortran` tries to configure when all of the sudden it can't find the conduit.mod file.

I went digging around and finally found the culprit, the listed projects _silently_ hide turning off fortran when

[2022-01-26 20:10] adamjstewart commented on #28612
This should be really easy to fix. @glennpj and @aweits are already working on a PR to add newer versions of TF, we should fix this at the same time. Thanks for the bug report!

[2022-01-26 20:58] ax3l opened #28617 "Environment Concretization w/ Definitions"
### Steps to reproduce

I am using a Spack environment of the form:

[code]

I think this should work, as the `spec`s are similar to what I write in `depends_on` for the `warpx` package.
In particular, would expect that the concretizer picks the `+cuda` variant of `blaspp`. But instead, it concretizes out two versions of `blaspp` (`+cuda` is not a default variant) and then collides in creating the

[2022-01-26 21:26] ax3l commented on #28617
cc first seen by @lgiacome

[2022-01-26 22:49] luraess opened #28619 "Installation issue: llvm +libcxx requires python distutils"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.17.1-973-991438a242
* **Python:** 3.8.10
* **Platform:** linux-ubuntu20.04-zen2
* **Concretizer:** clingo

### Additional information

@haampie  @vchuravy,  julia@1.7.0 builds fine, but since #27280 there is a build issue in llvm I guess
[code]

See [spack-build-out.txt](https://github.com/spack/spack/files/79

[2022-01-27 09:59] A33a opened #28627 "Package `setup_run_environment` overriding changed"
### Steps to reproduce

After the upgrade from v0.16.0 to v0.17.1, I have noticed that my previous solution with `setup_run_environment` overriding of child-package classes does not work. For some packages I used to create a package in the local repository and overriding/creating `setup_run_environment`:
[code]
However, the `setup_run_environment` is not being executed when the package is loaded (

[2022-01-27 10:45] ThrudPrimrose opened #28629 "Installation issue: extrae 3.8.3"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.17.0-1-f02dec2bbb
* **Python:** 3.9.7
* **Platform:** linux-ubuntu21.10-skylake
* **Concretizer:** clingo

### Additional information

build-out and build-env text files:
[spack-build-env.txt](https://github.com/spack/spack/files/7949729/spack-build-env.txt)
[spack-build-out.txt](https://github.com/spack/spack

[2022-01-27 15:48] wildone commented on #7400
This would get it working:

`./configure --build=aarch64-unknown-linux-gnu`

[2022-01-27 15:53] haampie commented on #7400
This should be fixed for a while thanks to the `gnuconfig` dependency + patching added on aarch64 / ppc / risc-v.  Feel free to reopen if still a problem.

[2022-01-27 15:53] #7400 closed

[2022-01-27 16:20] michelemartone opened #28636 "librsb update to 1.2.0.11/ 1.3.0.0"
### Summary

Hi!
librsb-1.2.0.11 and 1.3.0.0 are out, at https://sourceforge.net/projects/librsb/files/
Time to update its package.py.

### Rationale

_No response_

### Description

_No response_

### Additional information

_No response_

### General information

- [X] I have run `spack --version` and reported the version of Spack
- [X] I have searched the issues of this repo and believe this is

[2022-01-27 16:23] kwryankrattiger commented on #28613
I just realized why this is failing. `self.compiler.fc` is set to `ftn`, not the full path. So when this check looks to see if the fortran compiler file exists, it fails. This is not a good check because there is no requirement in the `compilers.yaml` to specify the full path, partial paths that use the `PATH` variable configured by the `module load` are valid, and common.

[2022-01-27 18:43] bcdarwin opened #28642 "Installation issue: py-scipy (undefined symbol at runtime)"
### Steps to reproduce the issue

This is technically a runtime issue but the build template seems most appropriate.

[code]

cc @adamjstewart

### Information on your system

* **Spack:** 0.17.1-978-28ea1bab68
* **Python:** 3.8.10
* **Platform:** linux-ubuntu20.04-skylake
* **Concretizer:** clingo

### Additional information

(Note the build succeeds.)

[spack-build-out.txt](https://github.com/sp

[2022-01-27 20:08] adamjstewart commented on #28642
Which GCC are you using, a system GCC or GCC installed manually? This is a long shot, but could you try building with a newer binutils: `spack install binutils && spack load binutils && spack install py-scipy`?

[2022-01-27 20:12] bcdarwin commented on #28642
I'm using the system gcc (9.3.0) but spack built the latest binutils (2.37) as part of building SciPy.

[2022-01-27 20:13] adamjstewart commented on #28642
I would report this issue to the scipy devs, I don't see anything that would cause this issue. If they give you a patch, we can add it to the build recipe.

[2022-01-27 20:58] glennpj opened #28647 "module autoloading not working"
### Steps to reproduce

I have module autoload set in `$spack/etc/spack/modules.yaml`:
[code]
The generated module files were not generating the load commands. Doing a `git bisect` I traced this to PR #28357. That PR sets the following in `$spack/etc/spack/defauts/modules.yaml`:
[code]
If I comment that out then autoload works as before. So, it seems that this is a scoping issue where the site sco

[2022-01-27 22:28] kwryankrattiger commented on #28315
I fixed this for myself my manually installing patchelf-0.13.1 locally and adding it to my bin.

I think it would be the simplest fix if perlmutter just had a local installation of patchelf installed in /usr/bin. @shahzebsiddiqui

[2022-01-27 23:53] cyrush commented on #25254
I am using an older version of spack -- and I just hit this issue. After a bit of digging the the spack source realized that had to switch to `curl` for `-k` to work.

I tried to see if `urllib` + `-k` worked for me on spack develop, however my certificate challenges are transient, so I don't have a verdict either way.

Wondering if this is resolved yet in latest spack, from: https://github.com/sp

[2022-01-28 00:15] vicentebolea commented on #26063
@maruthinh Thanks for the contribution, I cannot reproduce this, in fact, I am now hitting hdf5 errors instead :facepalm: , could you try to reproduce this again?

[2022-01-28 00:56] quellyn commented on #28647
Can confirm. I set these site-scope configurations in `$spack/etc/spack/modules.yaml` :
[code]

That used to produce modulefiles in this format:
[code]

Now I'm getting this:
[code]

So my site scope configurations are getting ignored. If I edit `$spack/etc/spack/defauts/modules.yaml` and comment out the following:
[code]

Then my site scope configurations are honored.

[2022-01-28 09:13] asesidaa opened #28656 "Installation issue: py-horovod missing dependency when framework is tensorflow"
### Steps to reproduce the issue

It seems that py-horovod is missing dependency `py-tensorflow-estimator`.
Currently if I build it with `frameworks=tensorflow`, the output of `horovodrun --check-build` is
[code]

Using verbose output shows the exception:
[code]

Add `py-tensorflow-estimator` as dependency seems to solve the issue.

### Information on your system

* **Spack:** 0.17.1-957-bed3a6949

[2022-01-28 09:36] haampie commented on #28647
@becker33 knows the details, but I think the issue with the lacking `default` module set in your `etc/spack/modules.yaml`.

Can you try

[code]

From the docs:

Not sure if my PR was breaking or the compatibility `modules:*` <-> `modules:default:*` is broken when it comes to inheritance...

[2022-01-28 09:48] haampie commented on #28647
@becker33 in principle "settings applied at the root of the configuration" can be deprecated in 0.18 since your module set pr landed in 0.17?

[2022-01-28 10:42] stephenmsachs commented on #10308
I ran into the same issue with `intel@19.1.1.217` when building `adios2`. Adding spack's own module in `compilers.yaml` made it work. So, it seems either we need spack to automatically add it's own module to the 'modules' section in `compilers.yaml` or add `libimf.so`'s path to `LD_LIBRARY_PATH` in the intel compiler package.

Maybe @rscohn2 knows what the best way forward would be.

[2022-01-28 10:46] #28636 closed, assigned to nobody

[2022-01-28 11:44] christoph-conrads commented on #28215
This looks like a duplicate of #24527 to me.

[2022-01-28 12:42] christoph-conrads opened #28660 "Question: How big is a complete Spack mirror?"
A Spack mirror created with `spack mirror create --all` would solve many problems posed by air-gapped networks. Could you provide an order-of-magnitude estimate of the storage needed for such a mirror? Is there a way to obtain this estimate myself?

[2022-01-28 13:37] christoph-conrads commented on #28660
Is a number around 100 GB realistic? There exist around 6200 Spack packages and most have probably small tarballs but then there are also packages like GCC (130MB, version 10.1.0) and LLVM+Clang (95MB, version 13.0) in multiple versions. Assuming there are 100 packages with 100 MB tarballs and 10 releases listed in Spack, a mirror will easily occupy at least 100 GB.

[2022-01-28 16:11] bcdarwin commented on #28642
For what it's worth, `git bisect` shows that adding Numpy 1.22.0 in 38af2c6c9b was the breaking commit.

[2022-01-28 16:25] eschnett opened #28666 "Installation issue: gcc"
### Steps to reproduce the issue

`spack install gcc`

I see that the installed `gcc` contains the complete (?) gcc source tree in `share/src/gcc`. This consumes a lot of disk space and shouldn't be necessary for a tool like Spack. Spack collects enough metadata to ensure reproducibility without preserving the source three in a binary installation. Most other packages don't install their source tr

[2022-01-28 16:35] alalazo commented on #28666
Hmm, installed for #28662 and my share `folder` looks like:
[code]
No sign of source files...

[2022-01-28 16:47] shahzebsiddiqui opened #28667 "Issue with Lmod Hierarchy with MPI using cray-mpich at Perlmutter"
### Steps to reproduce

This is an issue with our E4S/21.11 deployment on Perlmutter regarding Lmod hierarcy. You can see the docs at: https://docs.nersc.gov/applications/e4s/perlmutter/21.11/

Using Spack to generate lmod modules, we noticed that spack used the cray-mpich@8.1.12%gcc hash when building hypre with nvhpc compiler. Shown below is the dependency tree for hypre

[code]

The cray-mpich

[2022-01-28 17:40] adamjstewart commented on #28656
@aweits @glennpj I think this relates to some of the hacks we use in our TF packages. Horovod itself doesn't import `tensorflow_estimator` anywhere as far as I can tell. The package only depends on TF, and TF should have a dep on `tensorflow_estimator`. I'm not sure where we should handle this.

[2022-01-28 17:58] glennpj commented on #28656
TF can not have a dependency on TF-estimator as that would be a circular dependency. TF-estimator has been masked out of the TF package for a while. TF-estimator definitely depends on TF. The py-horovod package will need a dependency on TF-estimator. Something like:
[code]

[2022-01-28 18:45] glennpj commented on #28647
I can confirm that adding `default:` to the site scope `modules.yaml` fixes the issue. I had never set default before though. However, based on the documentation,

Should this have worked without having to specify `default:`?

[2022-01-28 19:30] adamjstewart commented on #28656
But I don't think `py-horovod` uses `py-tensorflow-estimator`, there are no imports in the code from what I can tell. @asesidaa any idea where that error message is actually coming from?

[2022-01-28 20:14] eschnett commented on #28666
I was confused about the build options. The build command is
[code]
and it seems to be the `+graphite` option that leads to the source tree being installed:
[code]

[2022-01-28 20:27] mathstuf commented on #28183
I'll note that macOS arm64 installation is still busted here. Right now, it is failing with Xcode 13.2:

[code]

I added some debugging here. The issue is that the searched-for directory contains a symlink (which is not followed in the `os.walk`):

[code]

Adding `followlinks` ends up with Spack trying to make directories it does not have permission for (namely, `==> Error: PermissionError: [Errno

[2022-01-28 20:35] mathstuf commented on #28183
Hmm, the initial issue here looks like #27017 which was supposed to be fixed by #27023 (and was at the time).

[2022-01-28 21:36] pbrady commented on #21237
same failure with latest intel:

[code]

[2022-01-28 22:19] pbrady commented on #21237
My problem was not thoroughly reading https://spack.readthedocs.io/en/latest/getting_started.html#compilers-requiring-modules.  After setting the `modules` option in `compilers.yaml` everything worked.

[2022-01-29 01:30] bvanessen opened #28671 "Repeated installations with the `-reuse` command fails on subsequent tries"
### Steps to reproduce

[code]
Followed by
[code]

### Error message

[code]

### Information on your system

lbannusr@catalyst160 [brian-lbann.git] %> spack debug report
* **Spack:** 0.17.1-985-2fd26be988
* **Python:** 3.7.2
* **Platform:** linux-rhel7-ivybridge
* **Concretizer:** clingo
lbannusr@catalyst160 [brian-lbann.git] %>

### General information

- [X] I have run `spack debug report` and

[2022-01-29 01:32] bvanessen commented on #28671
@tgamblin I applied the patch in https://github.com/spack/spack/pull/28605 and it did not address the issue.

[2022-01-29 09:09] asesidaa commented on #28656
It seems that `tf.estimator` is used when intializing the tensorflow module in horovod.
https://github.com/horovod/horovod/blob/e5725478d00ff434ce68e2cc579611a2e4481faa/horovod/tensorflow/__init__.py#L310

Add this dependency solves the problem.

[2022-01-29 12:43] christoph-conrads commented on #28419
#### Work-around

Take the code from PR #28556, add `spack/var/spack/cache/metadata/sources/metadata.yaml` with the contents below, and add the cache as a mirror: `spack bootstrap add --trust local-sources /ABSOLUTE/path/to/spack/var/spack/cache/metadata/sources/metadata.yaml`.

`metadata/sources/metadata.yaml`:
[code]

[2022-01-29 12:58] #28609 closed, assigned to nobody

[2022-01-29 12:59] christoph-conrads commented on #28540
On my side, there are actually multiple users of two supercomputers waiting for this issue to be resolved. Thus setting up a mirror is really undesirable since there multiple compute centers involved. In addition these computers run on instruction set architectures and Linux distributions different from the average x86-64 Ubuntu machine; this is currently not handled by #28556.

It is my impressio

[2022-01-29 13:43] alalazo commented on #28540
@christoph-conrads The bootstrap dependencies are:

https://github.com/spack/spack/blob/813a0d9b19fe506e64da5e166be76d60c4f62741/lib/spack/spack/bootstrap.py#L756

https://github.com/spack/spack/blob/813a0d9b19fe506e64da5e166be76d60c4f62741/lib/spack/spack/bootstrap.py#L768

https://github.com/spack/spack/blob/813a0d9b19fe506e64da5e166be76d60c4f62741/lib/spack/spack/bootstrap.py#L783

I hope this

[2022-01-29 22:05] luraess commented on #28619
Resolved via
[code]

[2022-01-29 22:19] vchuravy commented on #28619
[code]

So the issue is in libcxx

[2022-01-29 22:34] vchuravy commented on #28619
Probably due to #27256, it looks like on some platforms one has to install `python3-distutils`

[2022-01-29 22:47] vchuravy commented on #28619
I should also note that this is irrespective of the Julia package and is an issue with the llvm spec

[2022-01-30 02:22] #28656 closed, assigned to nobody

[2022-01-30 02:38] adamjstewart commented on #28619
I'm not sure what the best way to handle this is. Many system package managers split distutils out into a separate package despite it being part of the standard library. I'm not sure exactly how we would make a Spack package for distutils, and I also don't think it would be a good idea.

For users who face this issue, the obvious solution is to use the system package manager to install distutils i

[2022-01-30 02:45] vchuravy commented on #28619
This is not a Julia issue. This is an issue with upstream LLVM.

[2022-01-30 02:46] vchuravy commented on #28619
https://github.com/llvm/llvm-project/blob/815786eb67e89d1efe35b0ad6c143d5d7cc5577a/libcxx/utils/merge_archives.py#L11

[2022-01-30 15:01] sampotter opened #28678 "Spack CLI is slow?"
(Apologies in advance if this is obvious. I'm a new spack user who is trying to get started but was unable to find an answer to my question by other means.)

It appears that basic CLI commands are very slow. I have a single environment set up with ~6 packages. Spack CLI invocations that one would expect to run instantly take a while. E.g.:

[code]

All spack commands that I've run have had a simil

[2022-01-30 18:07] a-akram opened #28679 "Installing PyTorch 1.8.2 on Ubuntu 18.04"
Dear Developers,

I am part of PandaRoot team seeking to use PyTorch for ML projects. We usually use Conda to use PyTorch. I have tried to install PyTorch 1.8.2 LTS on Ubuntu 18.04 LTS on PC but I failed many times with different specs. All I need is minimal package with Cuda support just like we get it on Conda.

Main purpose is to get a `spec` so we can build it along with PandaRoot. I first tri

[2022-01-31 09:21] rgommers commented on #28282
This looks like a good idea. One possible improvement over what Conda does today, from [PEP 668](https://www.python.org/dev/peps/pep-0668):

This wouldn't have to be implemented at the same time as this feature request, it's an additional improvement to make it harder to break an environment with `pip` & co.

[2022-01-31 11:18] luraess commented on #28619
Hitting following error when using https://github.com/spack/spack/issues/28619#issuecomment-1024995426 install in combination with CUDA.jl
[code]
Upon brief discussion with main dev from CUDA.jl, seems reason for it is mismatching LLVM builds wrt to the one used for Julia (and CUDA.jl). Also, they commented:

Don't know what's feasible there. Also, would it maybe be possible to still provide Julia

[2022-01-31 11:45] haampie commented on #28619
We have the same patches etc. The only difference is fewer targets. I did not expect them to be a hard requirement.

Should work with

[code]

I can turn it into a hard constraint in julia's package.py

[2022-01-31 11:57] nilsvu commented on #28570
See also https://github.com/spack/spack/issues/28570

[2022-01-31 12:01] haampie commented on #28647
Not sure. My PR enables autoloading, and

1. I want defaults to be declarative (in yaml, not hidden in code)
2. I don't want to use the deprecated config schema (`modules:tcl:*` instead of `modules:default:tcl:*`)

I think it's best to just deprecate the old syntax, since it only makes life hard as it's unclear what the precendence is of different layers of modules.yaml with both top-level config

[2022-01-31 12:05] luraess commented on #28619
Thanks @haampie ! testing it right now.

[2022-01-31 13:34] luraess commented on #28619
Did some tests, seems all good until now with refined targets. Thanks!

[2022-01-31 13:35] haampie commented on #28619
Actually I think we can close this issue, given that @adamjstewart pointed out the LLVM problem is more of a missing system dependency because of the odd way debian packages Python.

[2022-01-31 13:35] #28619 closed, assigned to adamjstewart

[2022-01-31 13:54] vchuravy commented on #28619
We ideally would be able to make express that build dependency... Since right now we just randomly fail.

Maybe we just need to bootstrap python first ;)

[2022-01-31 14:05] haampie commented on #28619
If you do `spack install llvm +libcxx` it will build the latest compatible Python, so it should work by default. Only if Python is marked external, you would have to make sure the external Python is equivalent to a Spack-installed Python.

Maybe an easier way to solve this is to add a distutils variant to Python, make `llvm +libcxx` depend on `python +distutils` explicitly, and auto-detect the var

[2022-01-31 14:49] sebhinck commented on #12105
This is still a problem in 0.17.1.

[2022-01-31 19:56] quellyn commented on #28647
Okay, adding the `default:` directive to my `modules.yaml` works. Sorry I must have missed the announcement for the change in behavior.

Thanks!

[2022-01-31 21:36] alalazo commented on #28315
A workaround is unsetting MODULEPATH just for bootstrapping:
[code]
After that you can use Spack normally. Unsetting `MODULEPATH` has the effect to detect the host like a `sles15` and skip the custom code written for PrgEnv (which is not only not needed for bootstrapping, but apparently getting in the way).

[2022-01-31 21:46] mwkrentel commented on #28315
I think another workaround, since cori and perlmutter share a file
system, is to bootstrap on cori and then (I think) that will work on
perlmutter.  I haven't tested this, but I'm pretty sure perlmutter
used to work until I tried to start from scratch and carefully verify
all the steps.

But my concern is that if Cray/PrgEnv is not detected correctly, then
maybe other things will also fail over co

[2022-01-31 22:52] wspear opened #28696 "Installation issue: pygmo"
### Steps to reproduce the issue

`spack install pygmo`

fails like:

[code]

Also note: the cmake dependency is incorrect. The package needs cmake@3.17:, not @3.1:

### Information on your system

* **Spack:** 0.17.1-1011-3b64ca30c7
* **Python:** 3.8.10
* **Platform:** linux-ubuntu20.04-westmere
* **Concretizer:** clingo

### Additional information

[spack-build-env.txt](https://github.com/spack/

[2022-01-31 22:56] glennpj commented on #28647
I am going to close this as it seems to be a behavioral change rather than a bug, and the documentation will eventually catch up.

[2022-01-31 22:56] #28647 closed, assigned to nobody

[2022-01-31 23:00] adamjstewart commented on #28696
I don't see a CMake flag to specify where the Python libs get installed. I think we're going to need to add a patch to the build system to install to a different location. But I don't know CMake well enough to write this.

[2022-02-01 00:58] tldahlgren commented on #20375
What did you have in mind for `--verbose`?

You can see details of the tests for each package by running

[code]

[2022-02-01 01:32] tgamblin commented on #28696
It looks like it uses the non-standard `PYGMO_INSTALL_PATH` instead of `CMAKE_INSTALL_PREFIX`: https://github.com/esa/pygmo2/blob/master/pygmo/CMakeLists.txt#L112-L118

If you do not set `PYGMO_INSTALL_PATH`, it looks like it tries to install in your python interpreter prefix.

Because why not? We were clearly bored having solved the few remaining problems with standard python packaging -- we need

[2022-02-01 01:36] tgamblin commented on #28696
Also it looks like you wouldn't see this normally; the install location is marked as "advanced":

https://github.com/esa/pygmo2/blob/master/CMakeLists.txt#L143-L144

[2022-02-01 02:01] tldahlgren commented on #24014
Should we even be testing external packages?

[2022-02-01 03:22] adamjstewart commented on #20375
When I run `spack install py-setuptools`, I don't see much in terms of output other than the fact that the package was installed. If I want to see the build log, I can check the `spack-build-out.txt` file later. Alternatively, I can run `spack install --verbose py-setuptools` to see the build output during install.

When I run `spack test run py-setuptools`, I don't see much in terms of output oth

[2022-02-01 04:27] adamjstewart commented on #28696
Thanks @tgamblin, this should be fixed by #28702

[2022-02-01 04:51] adamjstewart commented on #28679
Hi @a-akram, I'm helping to maintain Spack's PyTorch recipe. Can you share the exact errors you've encountered? I've built PyTorch on many platforms with Spack and haven't personally encountered very many issues.

If you want to disable everything other than `+cuda`, you can run `spack info py-torch` to see a list of all variants on your system and disable all of them manually. However, I would st

[2022-02-01 05:01] shahzebsiddiqui commented on #28315
Right now I just use pip to install clingo and that works. Unsetting MODULEPATH to get this to work is reasonable assuming `module restore` gets us to sane environment which it does. I am thinking from aspect of CI we have a clean python environment where we do the builds and getting spack to work since we are cloning from scratch we expect that clingo is needed. If patchelf is required as system

[2022-02-01 08:38] #28696 closed, assigned to adamjstewart

[2022-02-01 08:42] alalazo commented on #28315
Yes. In general if a user takes care of setting up the interpreter so that all dependencies are satisfied bootstrapping is not used and can be disabled.

This can be done, as a workaround, on the command line for just the command that bootstraps clingo.

Note that besides this specific issue, that deals with bootstrapping, @mwkrentel is right in saying that the broader issue is Spack not getting t

[2022-02-01 09:57] YacineOR opened #28704 "Installation issue: py-dask-ml unsatisfyable"
### Steps to reproduce the issue

spack install py-dask-ml

### Information on your system

several architectures

### Additional information

maintainer @adamjstewart

no version satisfies the package's specifications.  It seems that the versioning used by spack is obsolete.
the py-dask-ml package in the built-in repo specifies version '1.8.0'
while the current versioning convention is in the sha

[2022-02-01 10:00] YacineOR commented on #28704
spack versions
0.17.1-957-bed3a69498
0.17.1-916-5e699d5354

[2022-02-01 10:36] alalazo commented on #28660
@scheibelp might be able to answer this

[2022-02-01 10:42] alalazo commented on #28660
Also, if you have an environment active which model a stack you're interested in:
[code]
will create a mirror with the tarballs you need to rebuild the stack. See [here](https://spack-tutorial.readthedocs.io/en/latest/tutorial_binary_cache.html#setting-up-a-source-cache-mirror) for a tutorial showing that.

[2022-02-01 12:15] a-akram commented on #28679
@adamjstewart Thanks for your quick reply. To reproduce the error I got, here are some details:

OS: Ubuntu 18.04 LTS
Spack:
[code]
I ran the following `spec`

`spack spec py-torch@1.8.2+cuda~caffe2~valgrind ^cuda@10.2.89 ^python@3.8.0`
`spack install py-torch@1.8.2+cuda~caffe2~valgrind ^cuda@10.2.89 ^python@3.8.0`

[code]

[2022-02-01 12:41] a-akram commented on #28679
In the previous step, it seems ONNX package has some issue, so I exclude it along with other variants. This time I tried the following spec.

`spack install py-torch@1.8.2+cuda+distributed~caffe2~metal~mkldnn~nnpack~onnx_ml~openmp~qnnpack~valgrind~xnnpack ^cuda@10.2.89 ^python@3.8.0`

All dependencies are successfully installed except PyTorch. Here is error:

[code]

[2022-02-01 14:44] #28613 closed, assigned to nobody

[2022-02-01 17:20] wspear opened #28713 "TypeError from most spack commands after loading gptune"
### Steps to reproduce

After installing gptune like `spack install gptune` in a freshly cloned spack (with a fresh .spack directory) doing
`spack load gptune`
seems to break spack. Most commands result in `TypeError: __init__() got an unexpected keyword argument 'required'`. Full stack trace from spack debug below.

### Error message

[code]

### Information on your system

* **Spack:** 0.17.1-10

[2022-02-01 17:22] kwryankrattiger opened #28714 "Reverse how GPU architecture is communicated between packages"
### Summary

Exploring the idea of defining `cuda_arch` and `amdgpu_target` in the `cuda` and `hip` package specs respectively. In this structure GPU dependent packages would inspect this variant from their dependency (`cuda` or `hip`) rather than having to propagate the arch variant down to all of its own dependencies.

### Rationale

Currently `CudaPackage`s and `ROCmPackage`s define a variant,

[2022-02-01 18:29] tldahlgren commented on #20375
Any reason for not just using Spack's `--verbose` option instead of adding one to the subcommand?

[2022-02-01 18:34] amaji opened #28716 "Suggestions for migrating from Centos8 to Rocky8"
### Summary

We have run into a unique situation where we want to migrate our application stack built on Centos8 over to Rocky8.

All the binaries work fine, but from Spack's point of view these two are different targets: `linux-centos8-zen3` and `linux-rocky8-zen3`. As a result, Spack does not recognize the compilers. I can manually edit the `compilers.yaml` to change OS to rocky8, but I am guess

[2022-02-01 18:36] amaji commented on #28716
Tagging @jrstjohn

[2022-02-01 18:42] scheibelp commented on #28716
Depending on the circumstances, there might be a quick way to do this, but there are potential pitfalls and I've added this as a discussion item to our weekly meeting (https://github.com/spack/spack/wiki/Telcon:-2022-02-02) to cover those.

A few points that might make things simple:

* If you have a single root spec, you can set the arch while concretizing like `spack spec foo arch=linux-rocky8-z

[2022-02-01 18:50] scheibelp commented on #28660
Right now it's ~600GB. You can definitely get down to 100GB without too much trouble: for example if you generally use only the later versions of everything, and in particular if you base your mirror off of a whitelist (e.g. list every package you want, then specify every version of that and its `--dependencies`).

[2022-02-01 19:44] adamjstewart commented on #20375
I guess for consistency with other Spack subcommands. We could remove `spack install --verbose` or `spack unit-test -s` if you think it's preferable to use `spack --verbose *`.

[2022-02-01 19:53] adamjstewart commented on #28713
The issue is that `gptune` has an indirect dependency on `py-argparse`. `py-argparse` is a backport of the `argparse` module from Python 2.7 to older versions of Python. Spack also has a copy of `argparse` that is backported from modern Python, or at least hacked to include support for the `required` submodule parameter that was added in Python 3. So because `py-argparse` gets added to the `PYTHON

[2022-02-01 20:16] tldahlgren commented on #20375
Hmm.  In this PR?

I can add it to the fix PR if you want.  Right now it is using `spack --verbose`.  Up to you.  Just let me know.

[2022-02-01 20:18] adamjstewart commented on #20375
Nah, let's definitely consider doing that in a separate PR if that's what we decide

[2022-02-01 20:26] adamjstewart commented on #28679
Thanks, this looks like #28612 but for PyTorch instead of TF. It looks like the protobuf API has changed. Can you add `^protobuf@:3.14` and see if that solves your issue? If it does, I'll add that to the package recipe.

[2022-02-01 20:28] adamjstewart commented on #28704
On develop I can run `spack spec py-dask-ml` and it successfully concretizes. Maybe this was fixed on develop already?

[2022-02-01 20:49] amaji commented on #28716
Thanks @scheibelp

One more data point. I am trying to build for `linux-centos8-zen` on a Rocky Linux machine. Spack recognizes my old compilers, but refuses to build anything. So, I'm guessing this will also require some changes inside Spack, aside from faking the compiler.

[code]

[2022-02-01 21:18] liuyangzhuan commented on #28713
Thanks for figuring this out! @adamjstewart  @wspear

[2022-02-01 22:38] #28713 closed, assigned to adamjstewart

[2022-02-01 23:58] vsoch commented on #27980
@RikkiButler20 I think I misunderstood! You are saying I can only use aml master or develop (and I was reading that it was spack) - we can definitely just use aml branches master / develop!

[2022-02-02 00:00] vsoch commented on #27980
okay! here is the error output for aml@master:

[code]

[2022-02-02 05:27] a-akram commented on #28679
I tried with `protobuf@:3.14` but it failed. This time `magma` failed to install. Here is the output

`spack install py-torch@1.8.2+cuda~caffe2~valgrind ^cuda@10.2.89 ^python@3.8.0 ^protobuf@:3.14`

[code]

**NOTE:** I tried with py-torch 1.10.0 and installation was successful with these `spec`.

`spack install py-torch@1.10.0+cuda~caffe2~valgrind ^cuda@10.2.89 ^python@3.8.0`

and

`spack install

[2022-02-02 05:34] adamjstewart commented on #28679
@stomov @luszczek @G-Ragghianti can you look into the above magma build issue?

@a-akram are you specifying `cuda_arch` anywhere? If not, I think the new concretizer might be choosing a random `cuda_arch`. See https://developer.nvidia.com/cuda-gpus to find your specific GPU model, take the "compute capability" for that model and remove the period, and use that as the value to the `cuda_arch` varia

[2022-02-02 05:39] a-akram commented on #28679
However, this spec was successful

`spack install py-torch@1.8.2+cuda+distributed~caffe2~metal~mkldnn~nnpack~onnx_ml~openmp~qnnpack~valgrind~xnnpack ^cuda@10.2.89 ^python@3.8.0 ^protobuf@:3.14`

I am not mentioning `cuda_arch` anywhere.

[2022-02-02 05:41] adamjstewart commented on #28679
Yes, if you don't specify a `cuda_arch`, Spack's concretizer will choose a random one, which will almost certainly not work. This affects all CUDA packages in Spack, not just PyTorch. @alalazo is there any way to prevent clingo from doing this and just failing instead?

Personally, I set `cuda_arch` globally in my `packages.yaml` so that all packages can use it and I don't have to remember to set

[2022-02-02 05:46] adamjstewart commented on #28612
Apparently this exact same issue occurs in PyTorch too: https://github.com/pytorch/pytorch/issues/72167

PyTorch is fixed in https://github.com/spack/spack/pull/28721

[2022-02-02 06:28] G-Ragghianti commented on #28679
For the MAGMA issue: your build is using GPU_TARGET=sm_32 which doesn't correspond to a GPU architecture recognized by MAGMA.  You can see the supported GPU_TARGET values in the MAGMA CMakeFiles.txt.  You can change this value with the spack cuda_arch variant (variable?).

[2022-02-02 07:25] a-akram commented on #28679
I need clarification on a couple of things. On my PC, I neither have Nividia GPU nor have any CUDA Toolkit installed. Then what I should do about `cuda_arch`? `cuda_arch` is dependent on the hardware available on a PC, so it's hard to choose it for different users. It should be detected automatically. On HPC, I don't know how this variable should be set? One might not know what kind of GPU on a no

[2022-02-02 07:26] a-akram commented on #28679
Does it appear that my successful `specs`, accidentally have acceptable `cuda_arch` to build MAGMA?

[2022-02-02 07:48] G-Ragghianti commented on #28679
If you do not know what NVIDIA GPU that you would need to run on, then the best you can do is to select a cuda_arch that is the oldest that you need to run on.  It is likely that the newer GPUs will be able to work then.  The cuda_arch variable in spack can potentially do anything (depending on the package), but the cuda package mainly uses it to restrict cuda version to those that support the req

[2022-02-02 09:36] alalazo commented on #28679
Make a "sticky" variant as in #28630 ?

[2022-02-02 10:51] a-akram commented on #28679
How and where one can set the `cuda_arch` variable? Can I specify it inside a `spec`, maybe like `cuda_arch=sm_35`? I couldn't find any material on how to do it.

[2022-02-02 10:55] a-akram commented on #28679
One last question, does libtorch (C++ API) will also be available/installed once PyTorch is successfully installed?

[2022-02-02 12:25] tomdeakin commented on #23556
Thanks for those links. Is there a timescale for when those proposals might be reviewed/incorporated?

What's the way to do it with current Spack functionality? Or do I just have to use the variants, and when constraints on the `depends_on`?

[2022-02-02 12:49] christoph-conrads commented on #28660
Thank you for your responses.

[2022-02-02 12:49] #28660 closed, assigned to nobody

[2022-02-02 12:52] christoph-conrads commented on #28540
Thank you for these hints, the pull request follows this week or next week.

[2022-02-02 16:02] adamjstewart commented on #28679
@G-Ragghianti can you add `conflicts('cuda_arch=32')` for all arches that MAGMA doesn't support? I think that will help avoid these kinds of issues.

@a-akram In that case you want to use `~cuda` and ignore `cuda_arch`. If you don't have a CUDA-capable GPU on your system, then there's no point in building with CUDA support.

You would either look up architecture information about the HPC system yo

[2022-02-02 16:50] sampotter commented on #28678
I should also mention that `spack env activate` was taking around 6 seconds to run.

FYI, I decided to use something other than Spack for my work so I am unlikely to be able to help debug this issue.

[2022-02-02 17:10] wspear opened #28728 "Installation issue: py-scipy"
### Steps to reproduce the issue

The install works correctly but the package is broken afterwards. It appears to be an occurance of this issue: https://github.com/scipy/scipy/issues/15414

[code]

### Information on your system

* **Spack:** 0.17.1-1052-b9bb303063
* **Python:** 3.8.10
* **Platform:** linux-ubuntu20.04-westmere
* **Concretizer:** clingo

### Additional information

No applicable i

[2022-02-02 17:12] adamjstewart commented on #28728
Duplicate of #28642

[2022-02-02 17:12] #28728 closed, assigned to nobody

[2022-02-02 17:14] svenevs commented on #28679
You may run into https://github.com/pytorch/pytorch/issues/71359 but that's torchvision. If you're asking about just libtorch (sorry haven't read this all) then that's available with your python install provided you setup CMAKE_PREFIX_PATH correctly.

[2022-02-02 18:12] tgamblin commented on #28716
For the record, the solution discussed in today's meeting was to make this change:

[code]

And then use `spack install --reuse`.  If that change works for @amaji then we should look at pulling out the OS compatibility rules into their own `.lp` file and adding some common compatible configurations -- especially for `centos`, `rhel`, `alma`, and `rocky` versions.

[2022-02-02 18:53] a-akram commented on #28679
In fact, the whole effort is about getting `libtorch` in Spack. We have software package named [FairSoft](https://github.com/FairRootGroup/FairSoft) maintained in Spack. It is a `cmake` project which contains all necessary external packages (including Root) required by PandaRoot (an analysis framework).

We want to include `libtorch` in FairSoft, so we can use Root and Libtorch together. It has be

[2022-02-02 20:32] #24435 closed, assigned to nobody

[2022-02-02 21:01] kma commented on #28529
Hi,

You need to edit the package and modifiy the checksum of the files.

``spack edit namd``
search for
 ``version('2.14', sha256='34044d85d9b4ae61650ccdba5cda4794088c3a9075932392dd0752ef8c049235')``
replace by
 ``version('2.14', sha256='7ea0fc38b8fe2d98743a3333bfad7dedc29544735a746c361479351e87fd6389')``

[2022-02-02 22:28] tgamblin commented on #25532
I think fixing this would be good, but don't have the cycles -- is this something you want to tackle @haampie?

[2022-02-03 00:39] tgamblin commented on #28678
@sampotter: Is this on an NFS filesystem?  Spack doesn't index the package repo, so we initially stat the package files.  That is typically what takes the time.

If you can run one those commands with `spack -p ...` and send us a profile it might help.

[2022-02-03 03:18] adamjstewart commented on #28714
The problem with defining `cuda_arch` in the `cuda` package is that it doesn't make sense to install both `cuda cuda_arch=35` and `cuda cuda_arch=37` since the installation is identical.

I agree that the current situation is unideal, and I'm hoping that archspec will be able to detect CUDA/ROCm versions someday, which will be the best long-term solution.

Pinging CUDA/ROCm folks: @ax3l @Rombur @d

[2022-02-03 03:26] adamjstewart commented on #28679
So in summary, older versions of PyTorch require older versions of protobuf (fixed by #28721 and #28743), you should use `~cuda` and ignore `cuda_arch` on systems without a GPU, and libtorch is indeed installed by the current package. @a-akram are there any other issues with PyTorch that you're encountering?

[2022-02-03 03:31] adamjstewart commented on #22994
#28734 proposes to use ninja by default, may be of interest to you

[2022-02-03 09:15] alalazo commented on #28714
Issue in the archspec project  https://github.com/archspec/archspec/issues/25

[2022-02-03 10:12] npf opened #28747 "Overriding packages in the builtin repository changed semantic from v0.16 to v0.17"
### Steps to reproduce

I'm trying to use the overriding of packages as described in https://spack.readthedocs.io/en/latest/repositories.html#overriding-built-in-packages, with the following setup:
- the builtin repo contains a package with the most recent versions (e.g. zlib 1.2.11)
- a local repo contains the same package but only an old version (e.g. zlib 1.2.8)

localrepo is added to the repo

[2022-02-03 12:07] jbigot opened #28748 "Installation issue: py-mpi4py"
### Steps to reproduce the issue

`spack install py-mpi4py@2.0.0`
[code]

### Information on your system

`spack debug report`
[code]

`cat /tmp/user/spack-stage/spack-stage-py-mpi4py-2.0.0-2tgseyilbjiterck3j5du77eegosfpcp/spack-build-env.txt `
[code]

@adamjstewart

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have run `s

[2022-02-03 12:12] jbigot commented on #28748
I believe this issue exists since PR #27798 was merged

[2022-02-03 12:23] alalazo opened #28749 "Stacks: matrix expansion failing with spack.spec.DuplicateCompilerSpecError"
### Steps to reproduce

This error has been originally reported on Slack by @g-mathias (thanks!)

The following environment:
[code]
fails to parse when expanding the matrix. To trigger the error:
[code]

### Error message

The error with a stacktrace is:

<details>
<summary>$ spack -d -e . concretize</summary>

[code]

</details>

As a further data point, the following environment which should be

[2022-02-03 12:34] alalazo commented on #28749
Looking a bit into it it seems that the issue is caused by:

https://github.com/spack/spack/blob/5208fcf1ea135b4500c38fbc7dba44e8558994bd/lib/spack/spack/spec_list.py#L14-L24

which is used during matrix expansion here:

https://github.com/spack/spack/blob/5208fcf1ea135b4500c38fbc7dba44e8558994bd/lib/spack/spack/spec_list.py#L201

I think the current implementation overlooked the possibility to ha

[2022-02-03 13:33] haampie commented on #28749
I think we could also "intersect" constraints here

[code]

the second %gcc is not constraining the solution space, so it doesn't need to error. And this

[code]
can be equivalent to `%gcc@8:10`

[2022-02-03 13:51] alalazo commented on #28749
This error is more fundamental, since the strings get reordered to:
[code]

[2022-02-03 15:04] g-mathias commented on #28749
I stumbled across this bug because going from spack 0.16.3 to 0.17.1 the concretizer returned the combination `gromacs%intel ^plumed%gcc ^cmake%gcc` from `gromacs%intel ^plumed ^cmake%gcc` (without `--reuse`). I could not figure out, where the `plumed%gcc` was coming from (giving me trouble), so I tried to force to use the intel compiler on `plumed`.

[2022-02-03 15:58] adamjstewart commented on #28748
Interesting, this flag works for newer versions of `py-mpi4py` but not older versions. I'll take a look and see when what versions support it.

[2022-02-03 16:05] alalazo opened #28753 "Installing from a buildcache doesn't honor `config:url_fetch_method:curl`"
### Steps to reproduce

Originally reported by @haampie on Slack.

When setting:
[code]
The use of `curl` is not honored if installing a binary package. In that case this portion of the code:

https://github.com/spack/spack/blob/5208fcf1ea135b4500c38fbc7dba44e8558994bd/lib/spack/spack/binary_distribution.py#L444-L453

is unconditionally using `urllib`. We should probably have some common API imple

[2022-02-03 16:29] gartung commented on #28753
`web_util.read_from_url` calls `web_util._urlopen` which calls `urllib.urlopen` by default unless the url is S3 or GCS
https://github.com/spack/spack/blob/93377942d17d356aaae793c5d665a3e48ab7649e/lib/spack/spack/util/web.py#L547

[2022-02-03 16:30] haampie commented on #28753
actually reported by @giordano ^^

[2022-02-03 16:40] jbigot commented on #28748
Comparing 0b2507053e58ef4058631c10e5d9bf7ea2222c20 and 3540f8200a536434946492d60b5e56b302112305 confirms that the issue appeared with PR https://github.com/spack/spack/pull/27798

[2022-02-03 17:06] nkgh77 opened #28755 "Installation issue: libuv 1.42.0"
### Steps to reproduce the issue

spack install julia@1.7.1

### Information on your system

* **Spack:** 0.17.1-1070-5208fcf
* **Python:** 3.8.12
* **Platform:** linux-rhel6-broadwell
* **Concretizer:** clingo

### Additional information

[spack-build-env.txt](https://github.com/spack/spack/files/7996663/spack-build-env.txt)
[spack-build-out.txt](https://github.com/spack/spack/files/7996664/spack

[2022-02-03 17:07] adamjstewart commented on #28748
Yes, we previously ran:
[code]
After #27798, we run `pip install`, which runs:
[code]
At least in older versions of mpi4py, the `--mpicc` flag is only valid for the build phase, not the install phase. In newer versions of mpi4py, the `--mpicc` flag doesn't seem to break anything, but it's also unclear if it's actually being used. I guess I can try removing it and see if it affects the build at all

[2022-02-03 17:12] nkgh77 commented on #28755
I am sorry but
$spack maintainers libuv
returns nothing, and cannot mention the developer.

[2022-02-03 17:47] jbigot commented on #28748
if spack ensures that the right `mpicc` is the first in `$PATH`, I guess specifying nothing will not change the one found. However, I suspect the reason it is specified in the current recipe is to add the `-shared` option. The `MPICC` env var seems to be the way to go when using `pip` according to mpi4py doc.

In the article you mention at the beginning of https://github.com/spack/spack/pull/27798

[2022-02-03 17:52] adamjstewart commented on #28748
`python -m build` seems to be very bare bones and doesn't have a ton of features. I think it also depends on whether you're running `python setup.py build` or `python setup.py bdist_wheel` (pip and build seem to do the latter).

[2022-02-03 18:45] #23617 closed, assigned to nobody

[2022-02-03 21:30] mathomp4 opened #28768 "Installation issue: intel: Can't build Intel lmod file from module-based Intel install"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.17.1-1070-5208fcf1ea
* **Python:** 3.9.9
* **Platform:** linux-sles12-skylake_avx512
* **Concretizer:** clingo

### Additional information

This is an odd one. I'm trying to use Intel 2021.3 on a cluster where Intel 2021.3 has *already been installed* by the sysadmin. Normally, I'd do:
[code]
and I'd get it.

[2022-02-03 22:05] rscohn2 commented on #28768
I am not that familiar with spack's support for modules and external packages. The intel-oneapi-compilers package constructs the path to the vars.sh file relative to the prefix.  For your install: ``/usr/local/intel/oneapi/2021`` is the prefix and it should add ``compiler/2021.3.0/env/vars.sh`` to the prefix to find the vars.sh file. Apparently, in your case it thinks the prefix is: ``/usr/local/i

[2022-02-04 09:26] MostafaMollaali opened #28775 "Installation issue: fenics (mumps" and "scotch-6.1.1 are failed )"
### Steps to reproduce the issue

- spack add py-fenics-dolfinx ^petsc+mumps+hypre cflags="-O3" fflags="-O3"
- spack install

"mumps" and "scotch-6.1.1" are failed

### Information on your system

spack debug report
* **Spack:** 0.17.1-1061-18b83c3833
* **Python:** 3.9.10
* **Platform:** darwin-bigsur-cannonlake
* **Concretizer:** clingo

### Additional information

### Mumps
[spack-build-01-insta

[2022-02-04 09:40] nkgh77 opened #28776 "Installation issue: julia@1.7.1"
### Steps to reproduce the issue

spack install julia@1.7.1 ^libuv/6vac7t

Since libuv@1.42.0 cannot be installed with Julia, I installed it separately.

### Information on your system

* **Spack:** 0.17.1-1070-5208fcf
* **Python:** 3.8.12
* **Platform:** linux-rhel6-broadwell
* **Concretizer:** clingo

### Additional information

[spack-build-out.txt](https://github.com/spack/spack/files/8001683/

[2022-02-04 09:53] haampie commented on #28776
What do you mean?

Note that julia patches libuv, so you can't just use any libuv.

[2022-02-04 09:57] nkgh77 commented on #28776
Thank you for your quick response. Then this is the reason.
I issued another ticket about libuv;
https://github.com/spack/spack/issues/28755
but interestingly, I can install libuv if I install it independently.
So, I tried to install Julia with the above command, but I should not do this.

[2022-02-04 10:10] haampie commented on #28755
Hm, does

[code]

work for you?

[2022-02-04 10:21] nkgh77 commented on #28755
yes, it looks successful
  CCLD     libuv.la

[2022-02-04 10:22] #28748 closed, assigned to adamjstewart

[2022-02-04 12:27] haampie opened #28779 "Test `test_install_legacy_yaml` is silently broken"
Ping @nhanford, can you please fix `test_install_legacy_yaml`?

It's broken yet it passes. Try this diff:

[code]

and notice that:

[code]

Notice:

[code]

The issue is that the blob `test-debian6-core2-gcc-4.5.0-zlib-1.2.11-t5mczux3tfqpxwmg7egp7axy2jvyulqk.spack` lists `%apple-clang` as a compiler, but the `spec.yaml` specifies `%gcc`. So what is requested is not what is installed, and the the

[2022-02-04 12:28] haampie commented on #28779
also pinging @scheibelp regarding #27659 cause this is another reason I'd want `echo=True` in SpackCommand

[2022-02-04 12:30] jbigot commented on #28748
Thank you very much for your reactivity @adamjstewart . It was a pleasure interacting with you!

[2022-02-04 13:13] mathomp4 commented on #28768
@rscohn2 Interesting. Okay. Any ideas who might be a good person to "ping" on here? Is there an "lmod-construction" maintainer?

[2022-02-04 13:24] haampie commented on #28755
Can you try #28780

[2022-02-04 13:48] nkgh77 opened #28781 "Installation issue: py-grpcio"
### Steps to reproduce the issue
[code]

### Information on your system

* **Spack:** 0.17.1-1070-5208fcf
* **Python:** 3.8.12
* **Platform:** linux-rhel6-broadwell
* **Concretizer:** clingo

### Additional information

[spack-build-env.txt](https://github.com/spack/spack/files/8003480/spack-build-env.txt)
[spack-build-out.txt](https://github.com/spack/spack/files/8003481/spack-build-out.txt)

@ad

[2022-02-04 14:26] rscohn2 commented on #28768
@scheibelp: Can you point us at code to look at for this problem?

[2022-02-04 16:44] adamjstewart commented on #28781
The error in the logs seems to be:
[code]
This is the same as https://github.com/abseil/abseil-cpp/issues/992. Unfortunately, because this is a vendored dependency, we can't just use a newer version of abseil-cpp, we have to patch it or convince the grpcio devs to vendor a newer version of abseil-cpp. It looks like the latest release of grpcio may actually include an updated copy of abseil-cpp. Le

[2022-02-04 19:17] #28749 closed, assigned to nobody

[2022-02-04 20:15] wspear commented on #17723
I'm having this issue as well.
Pointing my spack install to a read only /spack/opt . After I set up my upstreams.yaml I get this:
[code]

[2022-02-05 09:06] asesidaa opened #28793 "Package conflict detected on the same package/Package merge blocked by file"
### Steps to reproduce

When I am trying to install in an environment, the packages all build successfully, but when generating the view, I get ``Package conflict detected`` errors on the same package, I wonder whether this is a bug or something is wrong in my spec?

### Error message

[code]

### Information on your system

* **Spack:** 0.17.1-1066-932408ac2b
* **Python:** 3.8.10
* **Platform:**

[2022-02-05 20:18] sethrj commented on #28112
Closed by #28662

[2022-02-05 20:18] #28112 closed, assigned to nobody

[2022-02-05 20:22] sethrj commented on #28366
The #27133 error is unrelated; the issue is: https://gcc.gnu.org/bugzilla/show_bug.cgi?id=92061 .

This is only a problem with `apple-clang@13` and isn't seen in `apple-clang@12`.

To make the error more searchable, the failing command is:
[code]

[2022-02-05 21:37] sethrj commented on #23296
I spent an hour at least debugging this morning... this happened with the same "apple-clang" version that previously worked, but I guess the rest of the toolchain (as, nm, etc.) changed. I wish there was a way to encode that into the DAG... maybe whenever the compilers-as-packages thing happens?

Error message:
[code]

The simplest file change was `libiberty/lbasename`. Here's the diff of `stage{2

[2022-02-06 01:40] kgerheiser commented on #28768
Hey @mathomp4 , I was looking into a similar issue because I wanted to implement a `spack external find intel-oneapi-mpi`. There are two related issues going on, but basically the information from `setup_run_environment` is also put into your modules, which includes sourcing some files. Spack isn't great at generating meta modules.

First, just kind of reiterating was @rscohn2 said for your test c

[2022-02-06 09:33] nkgh77 commented on #28781
thank you for your help. py-grpcio@1.43.0 is successfully installed.

[2022-02-06 09:33] #28781 closed, assigned to nobody

[2022-02-06 09:45] nkgh77 opened #28799 "Installation issue: bazel@3.7.2 via py-tensorflow@2.3.2"
### Steps to reproduce the issue

spack install py-tensorflow~cuda+mkl ^py-grpcio@1.43.0

### Information on your system

* **Spack:** 0.17.1-1092-d82dcd3
* **Python:** 3.8.12
* **Platform:** linux-rhel6-broadwell
* **Concretizer:** clingo

### Additional information

[spack-build-env.txt](https://github.com/spack/spack/files/8009875/spack-build-env.txt)
[spack-build-out.txt](https://github.com/sp

[2022-02-06 12:48] #23296 closed, assigned to nobody

[2022-02-06 13:05] sethrj commented on #28522
Yeah, installing with `%gcc` on mac has become increasingly difficult over the years, in part due to the decoupling of the macOS system version and the SDK toolchains installed by XCode (and by CommandLineTools).

[2022-02-06 15:45] asesidaa commented on #28793
I also got `==> Error: Package merge blocked by file: File blocks directory: /mnt/nfs4/node2/home/jiych/env/.spack-env/._view/r3n2sgjkf5377cy5egzgozyqjuloynhh/lib/modules` sometimes and this file belongs to openjdk, I can't figure out the root cause of the problem

[2022-02-06 16:45] asesidaa commented on #28793
[code]
Stacktrace for merge errors.

[2022-02-06 19:35] adamjstewart commented on #28799
Looks like this is a GCC 11 bug: https://stackoverflow.com/a/68149587/5828163

@aweits @glennpj any idea which versions of Bazel might support GCC 11?

@nkgh77 for now you could try building with an older version of GCC. I'm hoping that our TF PR (should be done soon) will add a new enough version of Bazel/TF that things will just work.

[2022-02-07 00:05] glennpj commented on #28799
Potentially bazel-4.1 with #28548 but that has not been completely worked out yet.

[2022-02-07 05:16] scheibelp commented on #28768
I wanted to check: do you need a module file for these packages? If you are trying to get past this quickly and don't need the module files, you can disable them entirely or on a per-package basis (see https://spack-tutorial.readthedocs.io/en/latest/tutorial_modules.html#hierarchical-module-files).

If you do need the module, https://github.com/spack/spack/issues/28768#issuecomment-1030731842 expl

[2022-02-07 05:22] scheibelp commented on #28768
@rscohn2 based on https://github.com/spack/spack/issues/28768#issuecomment-1030731842, do you think that `build_systems.oneapi.setup_run_environment` should omit the component directory in some cases (perhaps all cases)?

[2022-02-07 08:05] nkgh77 commented on #28799
Thank you very much for your comments. I am closing the ticket.

[2022-02-07 08:05] #28799 closed, assigned to nobody

[2022-02-07 09:54] asesidaa commented on #28793
[code]
Packages in spack.yaml file. Does this error means conflict between packages?

[2022-02-07 12:01] rscohn2 commented on #28768
@kgerheiser: There was some discussion here: https://github.com/spack/spack/pull/28066. It would be great if you can do it.

[2022-02-07 12:04] #28366 closed, assigned to nobody

[2022-02-07 12:34] rscohn2 commented on #28768
If I am understanding your question, I think it is correct the way it is. The problem is the inconsistency in the way prefix is defined between external and internal installations. If you look at https://github.com/spack/spack/blob/93377942d17d356aaae793c5d665a3e48ab7649e/lib/spack/spack/build_systems/intel.py#L645 you will see that the path for compilervars.sh does not have a component directory,

[2022-02-07 15:26] asesidaa opened #28807 "Installation issue: bazel@3.7.2"
### Steps to reproduce the issue

Install bazel with system installed openjdk@17.0.1_12
[code]

### Information on your system

* **Spack:** 0.17.1-1066-932408ac2b
* **Python:** 3.8.10
* **Platform:** linux-ubuntu20.04-zen2
* **Concretizer:** clingo

### Additional information

[spack-build-out.txt](https://github.com/spack/spack/files/8016433/spack-build-out.txt)
[spack-build-env.txt](https://git

[2022-02-07 17:30] a-akram commented on #28679
The issue has been resolved by choosing the older version of `protobuf` and giving `cuda_arch` the value which **MAGMA** library accepts. This is the `spec` I used:

`spack install py-torch@1.8.2 +cuda cuda_arch=30 -caffe2 -valgrind ^cuda@10.2.89 ^python@3.8.0 ^protobuf@:3.14`

Thank you all for giving this issue serious replies.

[2022-02-07 17:35] s-sajid-ali opened #28809 "Cray-mpich compiler wrappers absent for @8.1.12 %nvhpc"
### Steps to reproduce

The spack package for `cray-mpich` [assumes](https://github.com/spack/spack/blob/develop/var/spack/repos/builtin/packages/cray-mpich/package.py#L68) that MPI compiler wrappers are available when using `cray-mpich@8.1.7:`. However, as shown below, the compiler wrappers are absent when using the NVHPC compilers.

[code]

### Error message

The missing `mpicc` compiler wrapper

[2022-02-07 17:43] alalazo commented on #28260
I think both this issue and #28259 require us to add a "namespace" dimension to our solves. Currently we don't have that:

https://github.com/spack/spack/blob/c791ddc742474226bed94fcfadd5965148957918/lib/spack/spack/solver/asp.py#L1980-L1984

Adding that dimension is probably best done after #27964 is merged, or at least assuming #27964 is merged first, to avoid conflicts in `concretize.lp` during

[2022-02-07 17:44] alalazo commented on #28260
@becker33  fyi

[2022-02-07 18:05] alalazo commented on #28260
Maybe we could associate an ID with each `package.py` and turn facts like:
[code]
into:
[code]
?

[2022-02-07 19:06] adamjstewart commented on #28807
@aweits @glennpj may also be able to help, at first glance it isn't clear how to solve this other than fixing #28793 so you can use newer Java.

[2022-02-07 19:07] adamjstewart commented on #28679
Note that `cuda_arch` should not be chosen arbitrarily to satisfy MAGMA, it should be chosen based on which GPU you are using. If you don't have a GPU, you should use `~cuda` and ignore `cuda_arch`.

Sounds like this issue is resolved, so I'm going to close this.

[2022-02-07 19:07] #28679 closed, assigned to adamjstewart

[2022-02-07 20:05] scheibelp commented on #28768
OK got it, so I think then that for `intel-oneapi-compilers`, setting the `prefix` attribute on the external would resolve that issue, and we'd have to update Spack to retrieve the appropriate prefix from the module (the generic code would not know to strip off the component directory).

For `intel` package, I think that the missing `compilervars.sh` is a problem regardless of how we determine the

[2022-02-07 21:44] shahzebsiddiqui commented on #28554
@dev-zero we can't build CP2K on Perlmutter and right now we are unable to use `cuda_arch=80` so i just tried `+cuda` to see how it goes. We have A100 GPUs

Shown below is the concretized spec which is run using `spack@develop` branch and run weekly basis. Right now its concretizing to cuda_arch=35 which doesn't make sense.

[code]

Shown below is our GPUs. If you have access to NERSC system, we w

[2022-02-07 22:36] quellyn opened #28814 "Installation issue: py-scipy 1.7.3 failure on LLNL's RZansel platform"
### Steps to reproduce the issue

Mentioning @becker33 in case this issue is LLNL-specific.
*****************************************************************************************

This issue happens for me on LLNL's RZansel platform. To reproduce, follow these steps:

1. Log into LLNL's RZansel platform (IBM power9)
2. Clone most recent hash from `develop`:
[code]

3. Get a compute node:
[code]

[2022-02-08 00:30] bvanessen commented on #28814
@tgamblin @becker33 This is similar to what I am seeing.

[2022-02-08 00:46] mladenivkovic opened #28815 "Installation issue: cblas-2015-06-06 %gcc@10.2.0 and %gcc@11.2.0 fails"
### Steps to reproduce the issue

[code]

result:

[code]

### Information on your system

[code]

[code]

[code]

[code]

### Additional information

[code]

[code]

[code]

Build works for my native compiler gcc@9.3.0.

Issue looks similar to #9014

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [X] I have run `spack maintainers

[2022-02-08 01:02] castillo23 opened #28816 "Installation issue: Qt"
My spack.yaml ( I am using Developer Workflows)

[code]

### Information on your system

Output from 'spack debug report':

* **Spack:** 0.17.1
* **Python:** 3.7.2
* **Platform:** linux-rhel7-broadwell
* **Concretizer:** clingo

@mention sethrj

### Additional information

[SPACK_BUILD_OUT.txt](https://github.com/spack/spack/files/8019778/SPACK_BUILD_OUT.txt)

@mention sethrj
[SPACK_INSTALL_OUTPUT

[2022-02-08 01:18] trws commented on #28090
What happened to #28797? I just ran into this actually killing a build due to the variable not being set while fixing up a newer version of luajit.

[2022-02-08 01:31] lindsayad commented on #4382
Hi, I feel like if I have no root specs, then `spack gc` should remove all installed packages. Or do I have a misunderstanding of what the command should be doing?
[code]

[2022-02-08 01:47] sethrj commented on #28090
@trws That's my bad, sorry: thought the branch was on my fork, not the mainline. I'm actually working on it this very moment: I've got one patch in place for perl (which doesn't like 11+) and am hitting an unrelated issue with `go` since I'm trying to install on an `m1` Mac for the first time.

[2022-02-08 02:35] cjekel opened #28819 "python package executables and import errors"
### Steps to reproduce

So it used to be (maybe back in December, and for awhile)

That I could just run

[code]

And then run the built executable as
[code]

However now, it seems that all python package executables do not just run after being installed. I'm using sphinx just as an example.

I'm having spack building c python from source in this example.

Is this a bug? or is my workflow not corr

[2022-02-08 06:23] mwkrentel opened #28820 "spack spec should warn about any preference not taken"
### Summary

We discussed this at last week's meeting (2/2).  @tgamblin thought
it was a good idea.  So, I'm following up in the hope that Todd will
either write this or assign it to someone.

Motivation:

1. clingo has a lot of freedom in choosing versions and variants to
find an "optimal" solution.

2. `packages.yaml` are only preferences, not hard requirements, so it
is possible that clingo may

[2022-02-08 06:52] asesidaa commented on #28793
A minimal reproducible example:
[code]
@adamjstewart Are there any conflict in this spec?

[2022-02-08 10:34] 1a2a34v opened #28823 "Installation issue: Permission Error when installing damask from a spack directory inaccessible to the user without being granted folder permissions"
### Steps to reproduce the issue

_Clone spack repository to directory where the user doesn't have any permissions_
`sudo git clone https://github.com/spack/spack.git
`
_give group permissions to read, write and execute all files inside spack repository:_
[code]

_add spack to PATH:_
`. /path/to/spack/share/spack/setup-env.sh
`
_try to install damask_
`spack install damask`

[code]

This error occ

[2022-02-08 10:35] dmentock opened #28824 "Installation issue: Permission Error when installing damask from a spack directory inaccessible to the user without being granted folder permissions"
### Steps to reproduce the issue

_Clone spack repository to directory where the user doesn't have any permissions_
`sudo git clone https://github.com/spack/spack.git
`
_give group permissions to read, write and execute all files inside spack repository:_
[code]

_add spack to PATH:_
`. /path/to/spack/share/spack/setup-env.sh
`
_try to install damask_
`spack install damask`

[code]

This error occ

[2022-02-08 10:36] #28823 closed, assigned to nobody

[2022-02-08 13:05] sethrj opened #28827 "Concretization of externals arbitrarily adds absent multi-value variants"
### Steps to reproduce

Absent multi-value variants on external packages automatically get whatever's requested by `spack install` or `spack spec`. This bit me when trying to bootstrap `go` on an M1 machine  using `gccgo` with an external GCC that in reality had only c/c++/fortran languages.

### Information on your system

[code]

### General information

- [X] I have run `spack debug report` and

[2022-02-08 13:21] alalazo commented on #4382
The command operates at the level of the DB, it has no understanding yet of environments. Basically if a spec is implicit and is not a direct or transitive runtime dependency of an explicit spec then it will be removed.
[code]

[2022-02-08 13:24] mdorier opened #28829 "Clingo choosing an old version for a root spec"
### Steps to reproduce

Note really a bug per-se, but in certain situations I have found that clingo was choosing a very old version of a package even though the preferred version could be concretized fine if I specify the version manually.

Here is a list of commands to reproduce the problem, using the `spack.yaml` attached (renammed `spack.yaml.txt` because github doesn't support yaml files, app

[2022-02-08 13:28] vvolkl commented on #28827
This is in line with what's in the documentation (https://spack.readthedocs.io/en/latest/build_settings.html#external-packages):

I think it's not unreasonable that the burden is on the user to correctly describe the externally installed package to spack, and also that any information omitted may be filled in as needed - what's the alternative? Forcing the user to explicitly spell out all variants

[2022-02-08 13:34] mdorier commented on #28829
I should add that this is not the only situation in which clingo decided to build old versions of roots or dependencies. I have a CI process building a set of other packages daily on another platform, using another spack.yaml specific to that platform, and I realized recently that spack had been building old versions of many packages for weeks. I had to work around that by searching for the prefer

[2022-02-08 13:47] sethrj commented on #28827
OK, thanks for the pointer. I think my `groff` example was too simple, and the problem is with keyword arguments. My external installation had `gcc languages=c,c++,fortran`, which is meant to imply "not `go`"; but the concretizer adds the `go` language automatically. I'll revise the issue and title later today (busy now).

[2022-02-08 13:49] ChristianKniep opened #28830 "Error: attribute 'closed' of '_io._IOBase' objects is not writable"
### Steps to reproduce

The error occurs in

[code]

This spins up a virtual machine with spack installed.

[code]

I followed the following steps to create a binary cache.
**Note**: The S3 bucket is already created using `aws s3 mb s3://name`.

## Binary cache creation

Let's create a binary cache in AWS S3 and upload some packages to show the benefit.

[code]
### Create S3 Bucket

Log into your

[2022-02-08 13:50] ChristianKniep commented on #28830
@alalazo @opadron As discussed in Slack

[2022-02-08 14:03] ChristianKniep commented on #28830
How much memory does Spack need.. Might it be an issue with the size of RAM? I usually grant 2GB to the headnode in the Vagrant stack).
The above gets the default (which I think is 1GB) - and it crashes even earlier...

**UPDATE**: I guess not. Even with 4GB I get the error and the memory usage does not even reach 1GB.

[2022-02-08 15:11] ravil-mobile opened #28831 "unittests (2.7, clingo)) job of a CI pipeline is failing after being triggered by a git-push"
### Steps to reproduce

unittests (2.7, clingo) job is failing in CI pipeline after being triggered by a PR. Here are two examples: PR #28826 and PR #28825. Currently it is not clear was is causing this.

### Error message

Spack v0.17.1 - python@2.7 +ucs4

[PASS] Core Functionalities

[PASS] Binary packages

[PASS] Optional Features

[FAIL] Development Dependencies
  [B] MISSING "isort": required

[2022-02-08 16:26] mwkrentel commented on #28829
@mdorier In #28820, I requested that spack should at least warn of these sorts of choices.
I think warning is not hard, so maybe that could be added relatively quickly.

[2022-02-08 16:30] mdorier commented on #28829
I would say that warning is not enough. As I mentioned, I had CI pipelines building old versions for weeks, and I would have missed the warnings since I check the logs only if builds fail.

[2022-02-08 16:55] trws commented on #28090
No worries, just happy to see you're already working on it.  It seems pre-10.5 versions didn't support `-rpath` on `ld`, and if it isn't specified in the environment `ld` just dies sometimes, I found this with luajit current so it's an easy repro.

[2022-02-08 19:49] rhenwood-arm commented on #28830
I have seen this error consistently over the last week. It has occurred on >=8GB VMs, containers, and bare metal, with Rocky, Fedora35 and x86_64 and AArch64. I have observed it with develop, v0.17.0, v0.17.1

I make heavy use of  S3 buckets for caching - which has worked well in the past but seems to be the area of concern now?

[2022-02-08 20:41] ravil-mobile commented on #28831
Seems like it was solved by PR ##28832

[2022-02-08 20:41] #28831 closed, assigned to nobody

[2022-02-08 20:59] ChristianKniep commented on #28830
You have seen this as well and you do not think it is a memory issue?
Any workaround you figured so far?

[2022-02-08 21:05] kgerheiser commented on #28820
Would this affect `spack concretize` because I would really like this.

Basically, I'm trying to build a set of packages with `gcc@9.3.0` but there was a conflict in Boost, and instead of a warning or throwing an error it changed my compiler to `intel` for all packages and I had no idea why until I went through each package one by one.

[2022-02-08 21:29] mwkrentel commented on #28820
Sure, I think that would be good.
And when I say, "spec", I mean both spec and solve, of course.

[2022-02-08 21:34] #28819 closed, assigned to nobody

[2022-02-08 23:07] quellyn opened #28836 "Installation issue: superlu-dist"
`superlu-dist 5.4.0` with `intel-mkl` fails to build.

### Steps to reproduce the issue

[code]

I believe this error was introduced with #28658. If I revert the `superlu-dist` recipe file back to the version before that PR was merged, my build succeeds as usual.

### Information on your system

[code]

I loaded software modules from the system for `gcc` and `openmpi`, and added a stanza for `open

[2022-02-08 23:53] liuyangzhuan commented on #28836
I don't see how https://github.com/spack/spack/pull/28658 is related to this error. @sethrj

But one thing suspicious from your error is that
/vast/home/quellyn/Scratch/spack/opt/spack/linux-centos8-haswell/gcc-9.4.0/intel-mkl-2020.4.304-gqu4mdbaiwbyygxawbetqnpc4wiqmuib/compilers_and_libraries_2020.4.304/linux/mkl/lib/intel64/libmkl_intel_lp64.so

shouldn't it be libmkl_gf_lp64.so instead?
Maybe t

[2022-02-09 01:45] sethrj commented on #28836
The problem is the BLAS library argument:
[code]
These should be semicolon-separated, not space-separated. I think the issue is that CMakePackage.define checks for `isinstance(list, tuple)`, but `spec.libs` returns a `LibraryList` which is-a Sequence not a `list`. This is indeed my fault and I will open a fix.

[2022-02-09 02:08] quellyn commented on #28836
Thanks, Seth. I thought the space-separated string of PATHs in the error seemed odd.

[2022-02-09 02:46] shahzebsiddiqui commented on #28809
Yes @s-sajid-ali I brought this issue with Cray (@lukebroskop) one of the issue is that the `nvidia` module doesn't have `PATH` set for the mpi wrapper even though its provided by NVIDIA. This could be an oversight by nvidia (@samcmill ) i am hoping this would be fixed in future release.

Take note of the directory path, the MPI are located in `comm_libs` directory and these paths are not set in t

[2022-02-09 02:46] shahzebsiddiqui opened #28839 "Update Package Maintainers for Cray Package"
The following packages should be assigned to cray personnel (@lukebroskop ?)

- https://github.com/spack/spack/blob/develop/var/spack/repos/builtin/packages/cray-mpich/package.py
- https://github.com/spack/spack/blob/develop/var/spack/repos/builtin/packages/cray-libsci/package.py
- https://github.com/spack/spack/blob/develop/var/spack/repos/builtin/packages/cray-fftw/package.py

It's quite amusing

[2022-02-09 03:07] tldahlgren opened #28840 "Environments: Add support for include URLs"
### Summary

Add support in environments for external configuration files obtained from a URL.

### Rationale

Spack currently assumes these files reside on the local file system but projects and facilities put a lot of effort into defining standard, or base, configuration files for their systems.  Spack should make it easier to use configuration files from the web.

### Description

Configuration

[2022-02-09 04:22] OH-AU commented on #22334
In case it's useful and still an issue - I had similar issues as above which resolved with:
1) do NOT use parallel make ; make -j1 only
2) add -fcommon to all Makefiles as a bad workaround: find -name Makefile -exec sed -i 's/O3 /O3 -fcommon /g'  {} \;
3) I added -fPIC in combination with -march=native to my Makefiles C/CXXFLAGS ; this caused the invalid instruction suffix for push errors and unde

[2022-02-09 04:25] vsoch commented on #22334
ping @alecbcs for autamus!

[2022-02-09 08:54] ChristianKniep commented on #28830
I'll try Alma Linux then..

[2022-02-09 10:17] ChristianKniep commented on #28830
Same with Alma Linux 8..
[code]

[2022-02-09 10:45] ChristianKniep commented on #28830
I get the same error with 0.16.3 on Rocky Linux 8. :(
I am afraid, that error is above my expertise - I might have messed something up.

[2022-02-09 10:53] erikmartinessanches opened #28845 "spack command not found on Mac"
### Steps to reproduce

I followed the readme and installed from `./spack install zlib`, however, even after restarting 'spack' is not available in terminal. How do I find it or uninstall it?

### Error message

zsh: command not found: spack

### Information on your system

macOS Big Sur 11.6.3

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python

[2022-02-09 13:31] YacineOR commented on #28704
You are right, the problem is that I had a hacked version of py-distributed installed in my environment that created a conflict in the dependencies of py-dask-ml.

We can close this issue.

[2022-02-09 13:31] #28704 closed, assigned to adamjstewart

[2022-02-09 14:01] christoph-conrads commented on #28419
Work-around:
[code]

[2022-02-09 14:49] dev-zero commented on #28554
Ok, we have a couple of things here:

1. this is not really a Spack issue, but CP2K (respectively its distributed block sparse matrix library DBCSR) does not have parameters/kernels for the A100/cuda_arch=80 yet. Please open an issue here: https://github.com/cp2k/dbcsr/issues
2. [According to this code in the CP2K package](https://github.com/spack/spack/blob/d4ca803fc58e127469fd0e0773b89fdc2087fac

[2022-02-09 15:11] shahzebsiddiqui commented on #28554
Okay i posted the issue, in meantime ill try your suggestion and see if we can get it built.

[2022-02-09 16:05] rhenwood-arm commented on #28830
I don't have a work around yet.

This issue suddenly started occurring for me last week.

I feel like for me this is not a lack-of-memory issue as I have observed this issue on some large bare metal servers. IOBase is apparently a base class for Python IO. My feeling at this point, with the evidence I have, is it feels like this is somehow system related - as opposed to spack related (I tested thr

[2022-02-09 16:06] ChristianKniep commented on #28830
I tried Rocky8 and Alma8 - now switching to Amazon Linux 2 (all on virtualbox using Vagrant). Let's see... :)

[2022-02-09 16:17] ChristianKniep commented on #28830
Geezes, ALinux2 (CentOS 7 based) has the same issue. Might that even be a problem with the VM setup? Or some security foo stepping in?

[2022-02-09 16:47] evandanish commented on #18222
I'm also running into this error. It happens when I try to run `spack install valgrind`, though I initially encountered it while trying to install pytorch.

This is on Rocky Linux release 8.5 with both `libubsan.x86_64` and `libubsan.i686` installed.

Not really sure how to debug this. Any help or suggestions would be greatly appreciated.

* **Spack:** 0.17.1
* **Python:** 3.6.8
* **Platform:** li

[2022-02-09 16:53] sethrj commented on #28090
I'm seeing multiple `autoconf` packages (flex, libevent, ...) fail in linking due to "missing symbols" -- which is actually just the `configure` not adding `-Wl,-undefined -Wl,dynamic_lookup` because it has hardcoded `case .... 10.*)` in `configure`. It works "automatically" on new systems because it defaults using `${MACOSX_DEPLOYMENT_TARGET-10.0}`. Perhaps we should automatically force 10.x for

[2022-02-09 17:16] sethrj commented on #18222
@evandanish the version you have doesn't include @adamjstewart 's workaround, which is to disable `libubsan` by default. I recommend either upgrading or setting `valgrind: variants: ~ubsan` in your packages.yaml .

[2022-02-09 17:36] trws commented on #28090
That sounds like a good candidate for the AutotoolsPackage class to me.

[2022-02-09 17:49] evandanish commented on #18222
Ah, yes, thanks! That worked for me. I also found that I can install `py-torch` without valgrind with `py-torch~valgrind` (I'm pretty new to spack).

[2022-02-09 18:07] s-sajid-ali commented on #28809
Aren't these the HPC-SDK MPI compiler wrappers that use the SDK build of openmpi and thus lack the perlmutter specific optimizations?
[code]

Perhaps, the easiest fix to ensure that the cray-mpich library is picked would be fall back to `cc,CC,ftn` compiler wrappers instead when using nvhpc compilers? (Though someone from Cray/NVIDIA would have to let us know which versions don't supply the mpi wr

[2022-02-09 18:22] rhenwood-arm commented on #28830
it looks like on my system, the s3 bucket may be involved:

[code]

[2022-02-09 18:29] rhenwood-arm commented on #28830
In my case, I'm setting `url_fetch_method:curl` (for a reason I can't remember). This issue may be related to: https://github.com/spack/spack/issues/28753 ?

[2022-02-09 19:00] rhenwood-arm commented on #28830
As a blind hack to see if I could get my system running again, I commented out[ line 29](https://github.com/spack/spack/blob/7f1759b52eeffdd67d55cb4af95011415e3d21ed/lib/spack/spack/s3_handler.py#L29) in `lib/spack/spack/s3_handler.py`. The system appears to be running now, and reading/writing from my s3 bucket as expected?

[2022-02-09 19:00] ChristianKniep commented on #28830
Might happen to be boto3's fault...
[code]
Fixes the issue for me... 👯‍♂️

(Randomly choosing versions from 3 to 4 weeks ago)

[2022-02-09 19:01] ChristianKniep commented on #28830
ok, two solutions... 😅

[2022-02-09 19:04] sethrj commented on #25900
as far as I can tell the trilinos build works now, with the conflict line removed. I built successfully the following spec:
[code]

The `conflicts` line was misbehaving anyway so I will delete it.

[2022-02-09 19:11] ChristianKniep commented on #28830
IOBase was implemented in botocore on 12/31: https://github.com/boto/botocore/commit/a624815eabac50442ed7404f3c4f2664cd0aa784

[2022-02-09 19:45] rhenwood-arm commented on #28830
I prefer your workaround :)

[2022-02-09 19:46] ChristianKniep commented on #28830
On my Amazon Linux 2 box, the culprit seems to be `botocore`. When I move from `1.23.46` to `1.23.47` it breaks for me.
[code]

[2022-02-09 20:45] climbfuji opened #28856 "Building findutils <= 4.7.0 fails after patch was added recently"
### Steps to reproduce

PR https://github.com/spack/spack/pull/28316 added a patch to the `findutils` package that is applied unconditionally. However, as noted by @kgerheiser, the file that is patched does not exist in earlier versions than 4.8.0. This causes build errors.

To reproduce:
[code]

### Error message

[code]

### Information on your system

[code]

### General information

- [X] I ha

[2022-02-09 21:31] sethrj commented on #18222
@adamjstewart should we wait to mark this resolved until we find an appropriate "conflict", or just call it good since the default is no longer so volatile?

[2022-02-09 21:31] samcmill commented on #28809
The `nvhpc` environment module provided with the HPC SDK includes the MPI environment.  (There is also the `nvhpc-nompi` environment module that loads everything but MPI.). The `nvidia` module is provided by Cray; you'd need to talk to them about whether the MPI library from the HPC SDK should or should not be included.

[2022-02-09 22:04] adamjstewart commented on #18222
Up to you. I don't think we can properly model this until we have compilers as dependencies. Even then, we'll need to add auto-detection of ubsan to all compilers.

[2022-02-09 22:38] sethrj commented on #18222
I'll just close it for now: enabling non-default variants is always a dangerous affair ;)

[2022-02-09 22:38] #18222 closed, assigned to nobody

[2022-02-09 22:41] #28315 closed, assigned to alalazo, becker33

[2022-02-09 22:44] adamjstewart commented on #10195
I believe this was fixed by #27754

[2022-02-09 22:44] #10195 closed

[2022-02-09 22:49] adamjstewart commented on #28845
You can either add `spack` to your `PATH` like:
[code]
or source our setup script using:
[code]
Add this to your `.zshrc` file to make it persistent across new terminal sessions. See https://spack.readthedocs.io/en/latest/getting_started.html#shell-support for details.

[2022-02-09 23:18] sethrj commented on #28090
Done. It's going to be hard to figure out what releases are new enough *not* to need this... but honestly I just spent 10 minutes trying to find the autoconf release logs and failed. So yay!

[2022-02-10 00:17] sethrj commented on #28090
Verified that `py-scipy` installs on m1 bigsur with this changeset.

[2022-02-10 13:43] #28836 closed, assigned to nobody

[2022-02-10 13:54] azukaitis opened #28864 "Full CTest Dashboard support"
### Summary

It would be super nice if you could add the feature to generate and submit the Test.xml file generated by the ctest -T Test option.  With a little hackery I was able to do so, but it should would be nice to do it automatically and internally.

### Rationale

This would allow the cdash capability of spack to be a bit more complete and make dashboard supporting of spack builds and tests

[2022-02-10 17:00] fluidnumericsJoe commented on #26801
It looks like you're doing what I've been doing for some application builds. Particularly, I have issues with low-level build dependencies ( like findutils, etc) that fail to build with intel compilers. I've tried using packages.yaml to set the preferred compilers for each package, but it seems the concretizer simply ignores those settings. I've had to resort to those really long spec strings, lik

[2022-02-10 17:08] eugeneswalker opened #28866 "arborx +rocm build fails w/ rocm 4.5.2: cmake error: Could not find a package configuration file provided by "rocthrust""
### Steps to reproduce the issue

`arborx@1.1 +rocm` build fails at CMake stage using:
* spack@develop (d4ca803fc58e127469fd0e0773b89fdc2087fac0 from `Tue Feb 8 21:34:38 2022 +0100`)
* Ubuntu 20.04, X86_64
* GCC 9.3.0
* ROCm 4.5.2

Concrete spec: [arborx-rocm.spec.json.txt](https://github.com/spack/spack/files/8042866/arborx-rocm.spec.json.txt)

Concretization:
[code]

Quickly reproducible w/ cach

[2022-02-10 18:18] pbrady opened #28867 "Installation issue: cannot build gcc@9.3.0 & 10.3.0 with apple-clang@13"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.17.1-1048-7c31d4d279
* **Python:** 3.9.10
* **Platform:** darwin-bigsur-skylake
* **Concretizer:** clingo

### Additional information

[spack-build-env.txt](https://github.com/spack/spack/files/8043315/spack-build-env.txt)
[spack-build-out.txt](https://github.com/spack/spack/files/8043316/spack-build-out.txt)

[2022-02-10 18:31] pbrady commented on #28867
Just noticed #28801.  Looks like this was fixed a few days ago.

[2022-02-10 18:31] #28867 closed, assigned to nobody

[2022-02-10 18:43] keitat opened #28869 "Spack-Trilinos needs dialing UVM option for CUDA"
### Summary

Since 13.2.0, Trilinos is removing UVM options for CUDA build because of the performance issues.

See line 736-:
[code]

I suggest disabling UVM option for 13.2 or later.

### Rationale

_No response_

### Description

_No response_

### Additional information

_No response_

### General information

- [X] I have run `spack --version` and reported the version of Spack
- [X] I have sea

[2022-02-10 18:45] keitat commented on #28869
@sethrj I cannot assign the task to myself and other people.

[2022-02-10 19:13] mathomp4 commented on #28768
All,

Okay, I managed to get some time to work on this. So I did this:
[code]
and the `spack install` was much happier:
[code]
So that's nice. But now the generate modulefile is a bit...lacking. For example, when I did `spack install gcc@11.2.0` based on:
[code]
In the resulting lua module I have (at the end):
[code]
Now the last three are due to settings in my `modules.yaml` file, but notice that

[2022-02-10 19:33] rscohn2 commented on #28768
I don't understand this part of spack very well. Is it because parallel studio compilers set CC & friends: https://github.com/spack/spack/blob/81a6d17f4cfac04107c8560e7b3364cb57d2df97/lib/spack/spack/build_systems/intel.py#L1022

But oneapi compilers do not?
https://github.com/spack/spack/blob/81a6d17f4cfac04107c8560e7b3364cb57d2df97/lib/spack/spack/build_systems/oneapi.py#L88

[2022-02-10 19:56] shahzebsiddiqui commented on #28554
I tried the following variants as you suggested note that `+fma` is not a variant and this failed

[code]

It failed on spfft so after looking at the concretized output this was coming from `sirius` so my next step was to disable `~sirius` variant

[code]

Now i am going to try 9.1 instead of master branch.

[2022-02-10 19:57] shahzebsiddiqui commented on #28554
Now i get this error. We really need your help @dev-zero we need one of the CP2K team members have access to Perlmutter. CP2K has been requested by numerous users and we are unable to build this package.

Do you have access to our systems?

[code]

[2022-02-10 20:28] opadron commented on #28830
Thanks for the detective work.  I'm guessing that code I wrote was working around a botocore issue that may have since been fixed?

[2022-02-10 20:53] mathomp4 commented on #28768
@rscohn2 Maybe? I guess since the OneAPI packages can supply up to three different "compilers" (intel, oneapi, dpcpp), then it can't be generalized? Hmm.

[2022-02-10 21:14] aprokop commented on #28866
Can reproduce using the container. I think the following patch may at least partially address it. I'm not sure how to test it without rebuilding everything, though.
@eugeneswalker What do I need to change in the spec file to be able to try out the change?
[code]
If this does not work, may need to set `CMAKE_CXX_COMPILER` in addition, something along the lines of
[code]

[2022-02-10 21:30] rscohn2 commented on #28768
dpcpp is effectively (icpx -fsycl) and we are transitioning from icpc to icpx so if I should be defining CC & friends then it would be icx/icpx/ifx. Can you check if it solves the problem you are seeing?

[2022-02-10 21:55] mathomp4 commented on #28768
@rscohn2 Unfortunately, I can't use the intel x-compilers. They don't support enough of the Fortran Standard yet to build my codes. So at the moment, I'm stuck with the "Classic" compilers.

[2022-02-10 21:56] eugeneswalker commented on #25050
I am no longer seeing this!

[2022-02-10 21:56] #25050 closed, assigned to nobody

[2022-02-10 22:22] eugeneswalker commented on #28866
I actually don't know! BUT, I tried out your changes and it worked!
[code]

Thank you!

Do you want to submit a PR? If you tag me, I can approve.

[2022-02-10 22:36] aprokop commented on #28866
Sure, I can do that. What patch did end up working? Just the first change, both, or just the second?

[2022-02-10 22:56] eugeneswalker commented on #28866
I used both. I just submitted a PR, maybe that will be easier if you think both patches should be included?

https://github.com/spack/spack/pull/28875

[2022-02-10 22:57] psakievich commented on #28869
@jrood-nrel we should track this change for exawind.

[2022-02-10 22:57] rscohn2 commented on #28768
We could use a variant to decide which set of compilers to use. I will try it out later.

[2022-02-10 23:22] #28090 closed, assigned to nobody

[2022-02-10 23:39] #28866 closed, assigned to nobody

[2022-02-11 08:21] alalazo commented on #28554
Error handling with clingo is more complicated than before. Bottomline: currently when there is a conflict that the solver can't work around we have worse error messages than before :slightly_frowning_face:  We are working to improve that in v0.18.0.

[2022-02-11 09:32] alalazo commented on #28820
@tgamblin @becker33 I don't think this would be extremely difficult to implement. We can analyze atoms when we rebuild a spec from the answer set and warn about any atom that has a weight different from 0 (the optimum for all our minimizations). I would wait though until the `--fresh` PR is merged so that we have a configuration file where to set an option to turn this behavior on or off.

[2022-02-11 10:24] dev-zero commented on #28554
@shahzebsiddiqui unfortunately I do not have access to NERSC resources. Until now maintaining the CP2K Spack package was done in my spare time which is atm close to 0, but let me do some investigation through my day job (since we actually supplied Perlmutter), maybe there's something I can do there.

[2022-02-11 11:22] mdorier opened #28884 "Installation issue: rocksdb conflicts with lua in environment"
### Steps to reproduce the issue

Use the following spack.yaml file:

[code]

Do the following:

[code]

RocksDB will fail with the following error:

[code]

It seems that even though the rocksdb package doesn't depend on lua, the rocksdb Makefile looks for LUA_PATH, which happens to be defined in the context of this environment. The path to which it is defined by spack seems weird, however. It ha

[2022-02-11 11:49] dev-zero commented on #28554
@shahzebsiddiqui can you please attach the complete build log? Internal mails sent to see where we're at, will get back to you asap.

[2022-02-11 14:59] sethrj opened #28889 "Concretizer switches compilers rather than downgrade package versions"
### Steps to reproduce

With https://github.com/spack/spack/pull/28888 merged (conflict for `go@1.17: %gcc@:4`) the following environment concretizes with a different compiler (clang%9) rather than downgrading go to @1.16 to match
[code]

### Error message

[code]

### Information on your system

* **Spack:** 0.17.1-1118-c2849ef3d6
* **Python:** 3.8.7
* **Platform:** linux-rhel6-broadwell
* **Conc

[2022-02-11 15:46] G-Ragghianti opened #28891 "Installation issue: All of Intel's packages"
### Steps to reproduce the issue

Install a bunch of Intel's packages back-to-back.  E.G.: intel-mpi intel-mkl intel-oneapi-compilers

Some will succeed, some will fail, some will fail silently and spack will think they succeeded.

This seems to be due to the intel installer detecting "other" installations of intel packages (within or outside of spack) and doing the wrong thing (failing the instal

[2022-02-11 15:49] shahzebsiddiqui commented on #28554
Okay can you apply for a NERSC account - https://docs.nersc.gov/accounts/ that would be best way to get started so we can get you onto our system. When you are creating an account just mention my name and one of the consultants will know. I have a project account and I can add you there.

[2022-02-11 16:19] ChristianKniep commented on #28830
@opadron I suppose you need to fix the dependency to botocore. Should not be later than 1.23.46.

[2022-02-11 17:39] satmandu opened #28893 "Issues when building on i686"
### Steps to reproduce

[code]
That starts the container.
Now in the container:
[code]

### Error message

==> Error: the "target" field in compilers.yaml accepts only target families [replace "i686" with "x86" in "clang@13.0.1" specification]

[code]

even editing the relevant yaml file doesn't help:
[code]
Edit: I had to add a static version of xz to get the build to continue.
[code]

I guess sp

[2022-02-11 18:15] kwryankrattiger commented on #28714
@adamjstewart
If `cuda_arch` was unary I would agree, but `cuda_arch=35,37` is a valid spec so I don't think it would be an issue to put it on the cuda package. I think it is reasonable to have to list the `cuda_arch`'s you want to target in the cuda spec since 99% of the time when you install cuda you know all of the `cuda_arch`'s you want to target a priori. Possibly extending it to have a synta

[2022-02-11 18:47] #28856 closed, assigned to nobody

[2022-02-11 19:20] rscohn2 commented on #28891
Can you try with intel-oneapi-mpi instead of intel-mpi and intel-oneapi-mkl instead of intel-mkl?  New releases all come in the intel-oneapi-* packages. The intel-oneap packages check if the nothing was installed in the prefix and have better support for the case when spack root installs interfere with external root installs.

If you continue to get the 'another instance of the ..' problem, you ma

[2022-02-11 19:25] G-Ragghianti commented on #28891
Yes, the oneapi installers do seem to work better, but we need the older library versions as well.  Rebooting the system whenever a user has this issue isn't really viable on large HPC systems.  I am hoping that spack may be able to detect this issue and at least notify the user appropriately.  As is, we get "ghost" installs that don't contain anything under the prefix.

Do you know how the intel

[2022-02-11 20:40] rscohn2 commented on #28891
I asked the installer team for help on recovering from the 'Another instance of the installation program has been detected.' without reboot. Root installs put things in /var/intel/installercache and non root uses ~/.intel. There will also be files in /tmp/intel*. Something similar happened to me a few days ago and I had to reboot.

I will see if I can add a check for empty prefix. I did that for t

[2022-02-11 20:42] G-Ragghianti commented on #28891
This is for installs as a non-root user.

In the past, I've tried to avoid this problem by removing the ~/.intel and /tmp/intel directories after every install, but it currently is still failing sometimes.

[2022-02-11 20:47] G-Ragghianti commented on #28891
My preference would be for spack itself to detect whether a package has failed to install anything.  I don't think it is realistic to expect every package to police itself in that way.

[2022-02-11 21:35] chchang6 commented on #26578
Hi @adamjstewart, it works OK with recent Spack clone and a slightly different build. Unfortunately I can't test this under _identical_ circumstances, but let's call it good for now if and until I could get a solid de novo reproducer in place.

[2022-02-11 21:35] #26578 closed, assigned to nobody

[2022-02-11 23:12] erikmartinessanches commented on #28845
Thanks, perhaps I can try it in the future as presently I decided not to use spack. To uninstall do I just delete the repo or did it install elsewhere?

[2022-02-11 23:24] adamjstewart commented on #28845
To uninstall Spack simply delete the repo you cloned and delete the `~/.spack` directory if one exists.

[2022-02-11 23:27] #28845 closed, assigned to nobody

[2022-02-12 05:58] wdconinc opened #28899 "root: lib/cppyy_backend/etc not writable"
### Steps to reproduce

[code]

### Error message

[code]

This can be resolved by a `symlink(self.prefix.etc,join_path(self.prefix.lib,'cppyy_backend/etc))` but I'm not sure it is the appropriate solution. It is possible that instead a PYTHON environment variable should point to `self.prefix.etc`.

### Information on your system

* **Spack:** 0.17.1-1123-a1f69e130c
* **Python:** 3.9.7
* **Platfor