[2021-03-16 16:53] naromero77 commented on #19625
It looks like the patch was committed to LLVM

Could this be a different problem? @trws

I will search for a machine that has SUSE at Argonne -- though I think we use mostly Ubuntu and Red Hat.

[2021-03-16 16:55] trws commented on #19625
It's always possible.  IIRC ORNL has some SUSE machines, but we don't really either.

[2021-03-16 17:37] naromero77 commented on #19625
OK, I found a machine that has a recent openSUSE and I am trying to see if I can reproduce the issue with the external ncurses.

[2021-03-16 18:09] eugeneswalker commented on #22310
From one of the Amrex developers:

https://github.com/AMReX-Codes/amrex/issues/1870#issuecomment-800440690

I am building GCC 8.2 and 8.3 now, and will test `amrex@21.03` to see which need conflict statements. Will follow up with a PR.

[2021-03-16 18:29] naromero77 commented on #19625
@dev-zero I am able to reproduce your error. Can you create an issue on the LLVM bugzilla? We should really have an LLVM buildbot to catch these errors.

[2021-03-16 18:31] dev-zero commented on #19625
The change is simply not there in 11.0.1 but [present in the latest master](https://reviews.llvm.org/source/llvm-github/browse/main/lldb/source/Core/IOHandlerCursesGUI.cpp). No idea why when it was merged in 11.0.0_rc2.
PR for Spack is in #22319

[2021-03-16 18:45] davehadley opened #22330 "Installation issue: pythia6"
### Steps to reproduce the issue

[code]
hangs on a failed patch waiting to be told where the file to be patched is:
[code]

### Information on your system

* **Spack:** 0.16.1-1720-2aab415
* **Python:** 3.6.8
* **Platform:** linux-centos7-skylake
* **Concretizer:** original

### Additional information

* I cannot find `spack-build-out.txt` or `spack-build-env.txt`.
* Several parts of this patch s

[2021-03-16 18:59] davehadley commented on #22330
After removing `~/.spack/cache/patches/` (following instructions at #13233), if I modify the patch file lines:

[code]

to:
[code]

I see that the build works.

[2021-03-16 19:28] vsoch opened #22333 "[tophat] build error, no matching functions"
We are building tophat in a container, and hitting [build errors](https://github.com/autamus/registry/pull/88/checks?check_run_id=2118980231).

[code]
The spack.yaml looks like this:

[code]

This is possibly related to #21737.

[2021-03-16 19:31] vsoch opened #22334 "Installation issue: [soapdenovo2] symbol needs debug section"
We are building soapdenovo2 with containerize, and hitting [build errors](https://github.com/autamus/registry/pull/85/checks?check_run_id=2118967546)

[code]

The spack.yaml looks like this:

[code]

[2021-03-16 19:39] vsoch opened #22335 "Installation issue: [MyBayes] serf cannot find libuuid"
We are trying to build MyBayes with containerize, and hitting several [build errors](https://github.com/autamus/registry/pull/66/checks?check_run_id=2114274745):

Specifically, it looks like we cannot build serf because uuid is missing. It's a dependency for MrBayes, but not serf.

[code]
The spack.yaml for containerize is:

[code]

[2021-03-16 19:43] vsoch opened #22336 "Installation issue: [llamps]"
It looks like llamps is looking for the xxd utility?
[code]
The complete build error is [here](https://github.com/autamus/registry/pull/60/checks?check_run_id=2110523318) and the spack.yaml used for containerize is:

[code]
Is something default trying to build that we need to remove for this environment?

[2021-03-16 19:45] vsoch opened #22337 "Installation issue: [augustus]"
Trying to build Augustus results in this error:

[code]
The complete build log is [here](https://github.com/autamus/registry/pull/34/checks?check_run_id=2107518093) and the spack.yaml used for containerize is:

[code]

[2021-03-16 20:00] davehadley commented on #22330
I have opened a merge request (#22338) that implements the fix described above.

[2021-03-16 20:36] eugeneswalker commented on #22310
Results:
Top row is GCC version
Left colum is Amrex version

|       | 8.1.0    | 8.2.0    | 8.3.0    |
|-------|----------|----------|----------|
| 21.03 | SEGFAULT | SEGFAULT | SEGFAULT |
| 21.02 | SEGFAULT | SEGFAULT | OK       |
| 21.01 | SEGFAULT | SEGFAULT | OK       |

PR incoming

[2021-03-16 21:11] wdconinc commented on #19163
This seems like it works:
[code]
Key line is `install_missing_compilers`.

Maybe there's a way to add this to the [docs](https://spack.readthedocs.io/en/latest/containers.html). A new section seems too much, but I couldn't identify an existing example to add it to either.

[2021-03-16 21:30] eugeneswalker opened #22342 "OpenBLAS 0.3.5: recipe for target 'kernel' failed"
`openblas@0.3.5` fails to build using:
* `spack@develop` (d7f1ff68fba047380b7fc81319c369eebf6b1b81 from `Mon Mar 15 16:41:24 2021 -0500`)
* Ubuntu 18.04, x86_64, GCC 7.5.0
* RHEL 7, x86_64, GCC 8.1.0
* RHEL 8, x86_64, GCC 8.3.1

Concrete spec: [openblas-dbnxbc.spec.yaml.txt](https://github.com/spack/spack/files/6152307/openblas-dbnxbc.spec.yaml.txt)
Build log: [openblas-spack-build-out.txt](https:

[2021-03-16 22:12] nlvw opened #22344 "Installation issue: llvm won't build without '-j1'"
When trying to install llvm (>=11.0.0) on the 0.16/develop branches, it always fails unless I specify '-j1'.  The problem is when I specify '-j1' the build takes 8+ hours.  I've tried with other levels of parallel such as '-j4','-j8',etc.. with the same results.

Here is an example of the error I'm seeing:
![image](https://user-images.githubusercontent.com/5723368/111384595-50cc7300-866f-11eb-8b28

[2021-03-16 23:10] nlvw commented on #22344
I did some more testing, llvm@10.0.1 builds successfully (after specifying '~flang') and 11.0.1 builds when disabling flang ('~flang').

So it looks like the problem is specifically with the flang variant, which is enabled by default.

[2021-03-16 23:22] #19625 closed, assigned to nobody

[2021-03-16 23:54] #22310 closed, assigned to nobody

[2021-03-17 08:26] alalazo commented on #22344
@naromero77 @trws

[2021-03-17 09:25] #22330 closed, assigned to nobody

[2021-03-17 11:35] haampie opened #22351 "Clingo should try harder to avoid deprecated packages"
### Steps to reproduce the issue

[code]

but this version of glib is marked as `deprecated`.

I can nudge clingo into taking a newer version of glib:

[code]
and it concretizes fine to the latest glib.

The problem is that `glib@2.66.7` depends on `meson` whereas `glib@2.53` does not, and this ultimately pulls in a virtual dependency on `uuid` only for the former.

Apparently clingo prefers fewer

[2021-03-17 15:04] sethrj commented on #22342
Ughh I’ll look into this.

[2021-03-17 15:21] naromero77 commented on #22344
@becker33 This should have never been merged in:
https://github.com/spack/spack/pull/21229

Neither me (@naromero77) nor @trws reviewed it and we are the package maintainers.

Flang is not ready for broad use and Pat McCormick (LANL) had asked not to include it.

[2021-03-17 15:49] naromero77 commented on #22344
At minimum, that Flang variant should be set to `False.` Its not a fully functional Fortran compiler and needs another compiler, e.g. GCC, to work.

[2021-03-17 17:36] sethrj commented on #22342
@eugeneswalker When I updated the recipe I only tested 0.3.12 and 0.3.13 . This looks like a bug with the older openblas version -- I reproduced it on my machine, though I'm baffled by the error itself since that object file is clearly being built. I even tried building with a single job just in case it's a timing issue but no luck. I'll just amend my change so that it only applies to 0.3.12 and n

[2021-03-17 17:45] eugeneswalker commented on #22342
Thank you for checking into that!

[2021-03-17 18:05] becker33 opened #22359 "Spack cd command fails with `spack -C` option"
### Steps to reproduce the issue

[code]

### Error Message

Spack provides the help message advising the user to source the shell integration or use `spack location` instead. The cd command is not effectuated.

### Information on your system

Occurs on macos and linux, appears not to be system specific. One system I've reproduced on:

$ spack debug report
* **Spack:** 0.16.1-1591-d6fec46561
* **P

[2021-03-17 18:28] haampie commented on #22359
You'll be happy to see #22353 was submitted today ;)

[2021-03-17 20:50] rhoneyager opened #22365 "Installation issue: udunits package source is very odd"
The udunits package is produced by UCAR Unidata. The [Spack package definition](https://github.com/spack/spack/blob/develop/var/spack/repos/builtin/packages/udunits/package.py#L13) uses a URL that points to www.gfd-dennou.org. This site seems to be completely unrelated to UCAR, and most of its information pages are only in Japanese.

<img width="1151" alt="Screen Shot 2021-03-17 at 4 35 09 PM" src

[2021-03-17 21:01] rhoneyager commented on #22365
No maintainers are listed and a search for udunits-related issues in Spack is rather sparse since 2019. I am mentioning @tgamblin, @adamjstewart, and @michaelkuhn since they show up in git's history for the package.

[2021-03-17 21:33] michaelkuhn commented on #22365
FYI: Fedora gets the source from `ftp://ftp.unidata.ucar.edu/pub/udunits/`.

Ah, #4798 specifically changed to URL to download via HTTP instead. I still think we should prefer the proper upstream.

[2021-03-17 22:11] adamjstewart commented on #22365
https://artifacts.unidata.ucar.edu/service/rest/repository/browse/downloads-udunits/ has downloads over HTTP but they only seem to keep the latest patch version, so it wouldn't be very reliable.

[2021-03-17 22:46] tgamblin commented on #22365
That change came from #4798 by @weijianwen, who did the Spack integration for the Pi machine at Shanghai Jiaotong University.  From the PR: the change was to make downloads easier, as it looks like the UCAR link was FTP.

@rhoneyager: do you want to submit an update to this package? Is there a mirror at UCAR that actually keeps older versions around?

[2021-03-17 22:49] tgamblin commented on #22365
For the macos issue, I'm guessing we just need a newer version in Spack.  To keep other versions working though we need some reliable mirror.

That said, we do have our own source mirror now, so maybe we allow authoritative mirrors that don't keep history, and let people download older things from Spack S3.

[2021-03-17 22:55] tgamblin commented on #22365
we could also get past releases here: https://github.com/Unidata/UDUNITS-2, though it looks like the project doesn't attach their release tarballs to their tagged versions -- and github tarball sha's can change.

[2021-03-18 01:18] rhoneyager commented on #22365
Looking at the Unidata mailing list proved helpful. The udunits developers recently migrated from their old FTP server to a more modern service. They also recently announced that they will retain older versions from now on \[[link](https://www.unidata.ucar.edu/support/help/MailArchives/udunits/msg01057.html)\]. Older tarballs may or may not appear.

Sure, I can submit an update.

[2021-03-18 02:35] Tom-python0121 opened #22373 "【r-sf@0.9-7】Software package to be enabled during the test"
Hello,I meet a question about many test dependency packages are not enabled. As a result, the test fails to be added when test r-sf@0.9-7.See #21392
### Steps to reproduce the issue

[code]
When I added all of this software to the R package environment, the test passed.Now I don't want to add these test dependency packages through the R environment, I want to load them through the spack, but I'm s

[2021-03-18 03:21] #22342 closed, assigned to nobody

[2021-03-18 05:45] #19544 closed, assigned to nobody

[2021-03-18 08:34] dev-zero commented on #21889
Yes, doing `spack install cp2k ^fftw+openmp ^openblas threads=openmp` is the right thing (if you want openblas and fftw that is). Unfortunately I didn't find any other solution to ensure a consistent build.

[2021-03-18 10:07] haampie commented on #21889
With the new concretizer you still have to force fftw and openblas to be selected:

`spack install cp2k ^fftw ^openblas`

because otherwise it prefers a different fftw / lapack / blas providers for which it does not have to change variants. For me it defaults to `amdfftw threads=none`, `amdlibflame threads=none`, `amdblis threads=none`.

This could be solved by adding even more conflicts @dev-zero

[2021-03-18 10:07] #21889 closed, assigned to nobody

[2021-03-18 10:13] dev-zero commented on #21889
@haampie well, it depends on whether we get consistent results when using a non-threaded fftw and blas/lapack implementation with an OMP threaded CP2K. The reason we have a conflict with openblas threads!=openmp is because we're doing blas/lapack calls inside OMP parallel regions and need openblas to be thread-safe.
For the blis and libflame we don't know yet.

[2021-03-18 11:52] ravil-mobile commented on #19163
Hi,

Can I ask you whether `install_missing_compilers: true` is going to install and immediately use a missing compiler? If it does then it is very really cool!

I still have one concern which I wanted make as a proposal to Spack with respect to building images. So, here is the problem. An installation of a spec results in a single RUN docker command. This command (building step) inherently takes

[2021-03-18 12:47] #22365 closed, assigned to nobody

[2021-03-18 13:56] wdconinc commented on #19163
Getting off topic, but `extra_instructions: prepare:` could be useful. Docker buildkit has caching: `RUN --mount=type=cache,target=/opt/software`. Maybe `extra_instructions: cache:` for that.

[2021-03-18 14:16] haampie commented on #22359
Ok, #22353 only solves the problem for bash, not fish and csh. So we can keep this issue open?

[2021-03-18 15:50] wadudmiah opened #22379 "Cannot build Python extensions when using an external module relying on LD_LIBRARY_PATH"
I have the following configuration (`~/.spack/packages.yaml`) for using an existing installation of Python:
[code]
When I try to install `py-numpy` using:
[code]
I get the following error message
[code]
The module file `python/3.7.3` configures `LD_LIBRARY_PATH` to point to the shared object file. Using the `--dirty` flag doesn't raise this error message when the module file `python/3.7.3` is load

[2021-03-18 15:51] cessenat opened #22380 "Installation issue: gsl"
When building gsl there are a few problems.
1) gsl patch fails on 2.6
2) when using +external-cblas with nvhpc+blas:
==> Error: NoHeadersError: Unable to locate nvhpc headers in /opt/nvidia/hpc_sdk/include
removing CBLAS_CFLAGS= if '^nvhpc+blas' in self.spec:
one can go further:
3) when linking it fails to find aio_return and al function which are to be found with -lrt
$ spack install gsl@2.5+exte

[2021-03-18 15:53] becker33 commented on #22379
Commenting to add: This appears to be related to the order in which we load modules and add things to PATH in `build_environment.py`. A quick fix adding module loads at the same point at which we add build dependencies to the path was not sufficient.

[2021-03-18 15:53] #21953 closed, assigned to nobody

[2021-03-18 15:54] becker33 commented on #22379
I believe this should be reproducible at any site that relies on LD_LIBRARY_PATH (through modules) to make its python installations usable

[2021-03-18 16:05] cessenat commented on #21965
This issue can be deleted

[2021-03-18 16:05] #21965 closed, assigned to nobody

[2021-03-18 16:08] fmani opened #22381 "Installation issue: hip@4.0.0"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.16.1-1661-fc15f85
* **Python:** 3.6.8
* **Platform:** linux-scientific7-skylake_avx512
* **Concretizer:** original

### Additional information

* [spack-build-out.txt](https://github.com/fmani/host_files/blob/main/spack-build-out.txt?raw=true)
* [spack-build-env.txt](https://github.com/fmani/host_files/blob/ma

[2021-03-18 16:50] haampie commented on #22381
Seems like you might want to make an issue here: https://github.com/ROCm-Developer-Tools/HIP

Can you share the output of this?

[code]

[2021-03-18 16:53] haampie commented on #22381
Oh, `spack stage` does not apply the patches immediately...

Maybe do `spack install --keep-stage hip@4.0.0` and then run `/path/to/staging/dir/spack-src/bin/hipconfig --version`

[2021-03-18 17:00] fmani commented on #22381
The output of `spack install --keep-stage hip@4.0.0` returns the same build error like the one mentioned above. The output of `/path/to/staging/dir/spack-src/bin/hipconfig --version` is

ls (GNU coreutils) 8.22
Copyright © 2013 Free Software Foundation, Inc.

[2021-03-18 17:09] haampie commented on #22381
wow.

can you share the first few lines of hipconfig?

and what happens if you change the shebang to say `#!/usr/bin/env perl` by hand and run it again?

[2021-03-18 17:15] cyrush opened #22383 "spack fails to run using ubuntu 14.0.4 with system python (2.7.6)"
### Steps to reproduce the issue

Dockerfile to reproduce:

[code]

### Error Message
[code]

### Information on your system

ubuntu 14.0.4 with system python (2.7.6)

### Additional information

- [x] I have run `spack debug report` and reported the version of Spack/Python/Platform (It fails in this case)
- [x] I have searched the issues of this repo and believe this is not a duplicate

[2021-03-18 17:22] fmani commented on #22381
I reported the wrong output and I deleted my previous comment by mistake, sorry for that. I report the output again here.
So, the output of `/path/to/staging/dir/spack-src/bin/hipconfig --version` is `/home/myusername/spack/opt/spack/linux-scientific7-skylake_avx512/gcc: bad interpreter: File or directory doesn't exist`.

The shebang in hipconfig at the moment is

`#!/home/myusername/spack/opt/spa

[2021-03-18 17:23] haampie commented on #22381
and if you run with `/path/to/perl -w /path/to/hipconfig --version`?

[2021-03-18 17:26] fmani commented on #22381
Still 4.0.0

[2021-03-18 17:28] haampie commented on #22381
Oh, this is that issue where shebang lines are too long...

[2021-03-18 17:43] G-Ragghianti opened #22386 "Conflict between processes sharing common stage directory"
We recently started seeing what appears to be a conflict between spack processes of a user on the same host when they are building the same package.  This occurs in our CI system a lot.  The common stage directory will have the same directory name for a package's staged files so that when one process deletes the stage directory, it breaks the second process's build.  This occurs even when using se

[2021-03-18 18:00] haampie commented on #22386
I think this is currently not possible, since we allow the user to do this: `spack stage spec && spack cd --stage-dir spec`. I think in some cases you might want to restage the sources too when you run with a debugger and need the sources again in their original location.

You can just use `spack -c config:build_stage:/tmp/$YOUR_UNIQUE_CI_JOB_ID stage zlib`

[2021-03-18 18:06] G-Ragghianti commented on #22386
To address your concerns, the stage directory could still be deterministically determined (e.g. by using a hash of $SPACK_HOME). I understand that I can change the build_stage, but I feel that the default should not include this conflict if it can be avoided.

I also just added a suggestion that extending the locking across spack installs would probably achieve the same result without the concerns

[2021-03-18 18:13] alalazo commented on #22383
**TL;DR** This bug is "expected", since you are running Spack with Python v3.4 which is not supported.

Spack prefers for the interpreter, in order:
1. Whatever is in the `SPACK_PYTHON` environment variable
2. python3
3. python
4. python2

In your container you just pulled in a `python3` that points to a version of Python not supported by Spack.

[2021-03-18 18:22] cyrush commented on #22383
thanks for the explanation @alalazo!

[2021-03-18 18:22] #22383 closed, assigned to nobody

[2021-03-18 18:26] glennpj commented on #22373
@Tom-python0121 There is not really a problem with the Spack r-sf package itself, but rather that there are packages that you need for testing that are not available in Spack yet. The following:

- methods
- graphics
- grDevices
- grid
- stats
- tools

are part of R core and so are already present. The spatstat.utils package is present in Spack already, r-spatstat-utils. The following are not in S

[2021-03-18 18:30] G-Ragghianti commented on #22386
The stage process appears to use prefix_lock() (from database.py) in the stage directory for the package's spec, but this doesn't appear to be working as I would expect it to.

[2021-03-18 18:31] srekolam commented on #22381
i do not see this issue .. @haampie ,do we need to any changes to hip package ?

[2021-03-18 19:44] trws commented on #22111
FYI: after a similar issue there's an active PR to print an appropriate error message when an unsupported python version is run. Hopefully if this comes up again it will be more clear what's happening.

[2021-03-18 20:52] cyrush opened #22392 "spack activate fails if package is already active with a conflict error"
Example (this is not unique to `py-sphinx`):

`bin/spack -d activate -f py-sphinx` fails if `py-sphinx` is already activated.

Similarity, if I try to activate any package that depends on `py-sphinx`, it will fail.

To get to the root cause, I modified `lib/spack/spack/directory_layout.py` to print out some info.

[code]

Details below.

In this case, there is only one install of this package.

Ev

[2021-03-18 21:59] trws commented on #22344
Ouch, yes.  Default to `False` is a minimum, it really should probably come with a huge warning label on it as experimental or semi-functional or similar. Having it build by default is not something we should be doing until it's part of the default projects list.  As of today it isn't even part of *ALL* yet because of its C++ std requirements (snippet from LLVM CMakeLists.txt):

[code]

[2021-03-18 22:21] vsoch opened #22399 "remove spack-build-out.txt in favor of phase specific logs"
Per discussion here: https://github.com/spack/spack/pull/21930#discussion_r596473192, when we add Spack Monitor in this PR, we will be writing to phase specific logs, e.g., that look like this:

[code]

(Note the files that start with spack-build-* and include a number that indicates the step of the phase. To not potentially break any workflows that expect this file, a function `combine_phase_logs

[2021-03-18 22:26] vsoch opened #22400 "Refactor installer.py to have better structure for errors"
Currently in installer.py, we have a bunch of try/except/finally, and because of this we have to insert callbacks for hooks (e.g., `on_install_failure`) in several places. It would be good to refactor this view so that we can call this hook in a common (single or much fewer instances of) area. From this discussion: https://github.com/spack/spack/pull/21930#discussion_r596474089

from @tgamblin :

[2021-03-19 03:00] adamjstewart commented on #22399
I would prefer to keep that file. If someone encounters a build error, I don't want to make them upload 4 different files. Similarly, when I report build issues to developers, it's nice to be able to upload a single file.

[2021-03-19 03:02] adamjstewart commented on #22351
Clingo does not currently take "deprecated" into account, as it was added after the new concretizer was introduced. We should add support for this, just like we support "preferred".

[2021-03-19 03:49] Tom-python0121 commented on #22373
@glennpj When will the software that needs to be enabled with the SPACK function be available on the SPACK?

[2021-03-19 03:50] Tom-python0121 commented on #22373
Do we have a dedicated team to enable these software?

[2021-03-19 08:19] alalazo commented on #22351
@adamjstewart You're correct and I agree that accounting for "deprecated" should be added, but the problem here is inherently different (as I saw debugging this spec).

We have rules to minimize weights on providers and the weights used are strictly positive at the moment (there were reasons for that, need to check if they still hold). This introduces a bias where a new vdep makes the minimization

[2021-03-19 09:27] haampie opened #22406 "Flaky tests"
There's a bunch of flaky tests that currently delay merging PRs by 10 hours :(.

<details>
 <summary>test_function_calls[-a-effects5] #22391, #22387, #22403</summary>

[code]
</details>

See also:
-  test_env_view_external_prefix is not properly isolated #19472
-  test_ci_generate_with_env fails when run on its own #17481
-  "spack ci" unit tests add a test mirror to user configuration #17479
-  T

[2021-03-19 10:58] cessenat opened #22407 "Installation issue: swig %nvhpc"
There is an unknown switch -ansi error from nvc using nVidia HPC toolkit for Swig.

[code]

spack debug report
* **Spack:** 0.16.0-1079-af988fc32d
* **Python:** 3.6.9
* **Platform:** linux-ubuntu18.04-zen2
* **Concretizer:** original

packages.yaml:
  nvhpc:
    externals:
    - spec: nvhpc@21.2+mpi+blas+lapack
      prefix: /opt/nvidia/hpc_sdk
      modules:
        - nvhpc/21.2
    - spec: nvhpc

[2021-03-19 12:00] rscohn2 opened #22409 "Make a onednn provider"
@vpirogov: Are onednn product build and open source build compatible? Can an application that builds against one also build against the other?

_Originally posted by @rscohn2 in https://github.com/spack/spack/issues/22202#issuecomment-802333169_

[2021-03-19 12:02] rscohn2 commented on #22409
@glennpj @vpirogov @frankwillmore : Made a separate issue so I can complete #22202

[2021-03-19 17:49] RemiLacroix-IDRIS commented on #14430
The compiler flags passed via `spack install` are indeed injected through the compiler wrapper but I think that anything on the command-line will actually overwrite those, at least with most compilers.

You will end up with something like `<compiler> <injected flags> <flags from the actual command-line>` and all the compilers I know will consider only the last occurrence when an option is given mu

[2021-03-19 17:59] haampie commented on #14430
Yeah, I came to that conclusion too. You can potentially patch the compiler wrapper

[code]

and then run `SPACK_FORCED_OPTIMIZATION_FLAGS=-O3 spack install ...`

[2021-03-19 19:34] mwkrentel commented on #14430
The value of `cflags` is normally passed to the compiler wrapper,
either at the front or end of the compile line depending on the value
of `flag_handler`.  (Theoretically, `flag_handler` could do anything,
erase the flags, completely reset them, but normally you pass then
through.)

If you put them at the front, then autotools won't see them and choose
its own default which will override cflags.

[2021-03-19 20:13] fwang2 opened #22424 "Installation issue: orc"
### Steps to reproduce the issue

[code]

### Information on your system

 spack debug report
* **Spack:** 0.16.1-1742-e57053b
* **Python:** 3.7.0
* **Platform:** linux-rhel7-power9le
* **Concretizer:** original

### Additional information

* [spack-build-env.txt](https://github.com/spack/spack/files/6173796/spack-build-env.txt)
* [spack-build-out.txt](https://github.com/spack/spack/files/6173775/

[2021-03-19 20:34] cessenat commented on #22380
After discussing with gsl team Patrick Alken it comes out the +external-cblas is useless.
When compiling "mypackage", assuming it
depends_on('blas', when='+blas')
and
depends_on('gsl', when='+gsl')]
either
spack install mypackage+blas+gsl ^gsl ^myblas
or
spack install mypackage~blas+gsl ^gsl
with internally in "mypackage/package.py" something like:
<< mypackage/package.py :
[code]
That's all there

[2021-03-19 21:02] hyviquel opened #22427 "Variant issue for mpich"
### Steps to reproduce the issue

Building and installing mpich with `--with-device=ch4:ucx` outside of Spack then running:

[code]

### Error Message

[code]

### Information on your system

[code]

### Additional information

- [x] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [x] I have searched the issues of this repo and believe this is not a duplicate
-

[2021-03-19 21:40] adamjstewart commented on #22427
@raffenet @yfguo should we change `multi=False` to `multi=True` for this variant?

[2021-03-19 22:11] vpirogov commented on #22409
These are API and ABI compatible, there may be differences in directory structure though.

[2021-03-19 22:36] ax3l commented on #20650
No worries. If someone reads this and needs a tagged version, feel free to submit a PR :+1:

[2021-03-19 22:36] #20650 closed, assigned to nobody

[2021-03-19 22:58] ax3l commented on #6324
The unit test does not solve the original feature request but it now aborts with an error if one tries to express such a dependency.

Do we track the feature elsewhere? In that case we can close this one.

[2021-03-20 06:15] glennpj commented on #22373
There is not a dedicated team. I work with a lot of R packages and I might be able to get to them added in the next couple of weeks.

[2021-03-20 08:03] alalazo commented on #22373
Hi @Tom-python0121 I relabeled a few of your issues. Usually we use "bugs" for errors or problems related to Spack itself (unexpected errors from commands etc.) If the issue is with building some particular software we recommend the "Build Error" template for issues.

[2021-03-20 08:05] Tom-python0121 commented on #22373
@alalazo Thanks for the heads-up. I'll sort it out next time.

[2021-03-20 08:52] #22381 closed, assigned to nobody

[2021-03-20 11:56] alalazo commented on #22273
Duplicate of #22088

[2021-03-20 11:56] #22273 closed, assigned to nobody

[2021-03-20 11:58] alalazo commented on #22088
@certik @gonsie I'll try to finish https://github.com/archspec/archspec/pull/46 at some point next week

[2021-03-20 14:51] #21898 closed, assigned to nobody

[2021-03-21 12:27] haampie opened #22436 "dump_annotated does not print everything"
### Steps to reproduce the issue

[code]

does not print `config:build_jobs` for me.

The problem is that `dump_annotated` populates `_annotations` and `lines`, but they are not of the same length. In my case `len(lines) == 41` and `len(_annotations) == 38`, which means that the last 3 config entries are not printed:

```allow_sgid: True', '  debug: False', '  build_jobs: 2'```

are nowhere to be

[2021-03-22 06:30] Bitllion opened #22447 ""aarch64-linux-gnu-gcc" not detected as a compiler"
[code]
I run `spack compiler find /usr/bin`, but return `Found no new compilers`.

[2021-03-22 13:56] amaji opened #22456 "Intel-parallel-studio installation using stub compiler"
I am trying to install `intel-parallel-studio` using the stub compiler approach described here: https://spack.readthedocs.io/en/latest/build_systems/intelpackage.html

I have added a stub intel compiler in my `compilers.yaml` and then try to install intel. This used to work fine in older Spack but seems like Spack 0.16.1 is much stricter about verifying entries in `compilers.yaml` and tells me tha

[2021-03-22 14:36] raffenet commented on #22427
For the device variant? You can only build one device configuration (ch3 or ch4), so I suspect not. `--with-device=ch4:ucx` specifies the ch4 device with ucx netmod.

[2021-03-22 14:53] adamjstewart commented on #22427
In that case it sounds like the bug is in the automatic detection.

[2021-03-22 15:28] #22392 closed, assigned to nobody

[2021-03-22 17:41] kurtsansom commented on #18178
I had what I think was a related issue where I updated the repo and then got weird mpi error `==> Error: There are no valid versions for mpi that match ':'` when I tried installing a new package from a separate repo with a mpi variant dependency.

calling `spack spec mpi` gave me the same error.

`spack clean -m` didn't appear to fix it, and I removed the `.spack-env` file , `spack clean -a`, and

[2021-03-22 18:39] cyrush opened #22459 "unicode issue with spack mfem package with python 2"
looks like there is a python 2 literal vs unicode issue in the mfem spack pacakge

### Steps to reproduce the issue

[code]

### Error Message

[code]

### Information on your system

[code]

### Additional information

- [x] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [x] I have searched the issues of this repo and believe this is not a duplicate
- [x] I ha

[2021-03-23 06:42] jjellio opened #22463 "Clingo fails on Cray"
### Steps to reproduce the issue
This is after merging PR#22460
https://github.com/spack/spack/pull/22460

I've left some comments in that PR that are PR specific.

Effectively, the patch requires that GCC have static libraries (which isn't always true).
1. I swapped to a GCC that does have static libs (but it's provided by a module)
2. My new GCC (9.2.0) seemed to fail the Spack C++14 flag test -

[2021-03-23 06:47] corbett5 opened #22464 "Installation issue: silo"
### Steps to reproduce the issue
With this [packages.yaml](https://gist.github.com/corbett5/15668c82d23d07ed26c68d968269ddda) I get the following error:

[code]

### Information on your system

[code]

### Additional information
There was no build or environment logs, I believe because it failed in the patch step.

### General information

- [x] I have run `spack debug report` and reported the ver

[2021-03-23 07:22] corbett5 commented on #22464
When I tried with `silo@4.10.2` I get the following compilation error (also occurs if I use `silo@4.10.2-bsd` and comment out the patch).
[code]
[spack-build-env.txt](https://gist.github.com/corbett5/cf2485a959ab2da7750f3284b2c75865)
[spack-build-out.txt](https://gist.github.com/corbett5/e1d6e1439fcecbc1211a341750e8688c)

[2021-03-23 07:53] alalazo commented on #22463
@jjellio Thanks for the report! If I understand correctly you are doing something like:
[code]
to have clingo available. This should not be necessary and *may* be cause of issues. When you install software Spack accounts for your custom configuration e.g. in `spack.yaml`, which rightfully changes how things gets built and installed. The right way to `bootstrap` clingo is documented [here](https://

[2021-03-23 08:04] corbett5 commented on #22464
`silo@4.10.2` builds with 35a9626ae90d35b15ddbb28bd9de5ac569949b13.

[2021-03-23 08:14] corbett5 commented on #22464
I get the same error when I use spack directly with this [packages.yaml](https://gist.github.com/corbett5/15668c82d23d07ed26c68d968269ddda).
[code]

[2021-03-23 10:57] yellowhat commented on #21724
With the merge of #22202 I have tried to build hpl:
[code]

The `config.log` contains:
[code]

I am getting the same output by letting spack install `intel-oneapi-mpi` and `intel-oneapi-mkl`.

[2021-03-23 13:35] rscohn2 commented on #21724
MKL, DAL, etc all include optional libraries for SYCL. The SYCL library needs libsycl, which is part of the compiler runtime. I assumed package owners would only add the -lmkl_sycl when they wanted to use SYCL and would add a dependence on the compiler package.  It looks like this package is adding -l for every possible mkl library.

I am not sure how this should be fixed. Ideally, there would be

[2021-03-23 15:43] alalazo commented on #22463
@jjellio @becker33 I investigated this issue, and I also had troubles bootstrapping on Cray (Piz Daint at CSCS) but succeeded in the end. I used a merge commit from #22354 and a 2 lines fix:
[code]
but there's still a problem that I like to solve without user intervention. On Daint when a user logs in there are 2 Python versions in the PATH: a Python 2.7 and a Python 3.6. By default Spack would us

[2021-03-23 15:46] alalazo commented on #22463
This is what I could do on Daint:
[code]

[2021-03-23 16:57] skylerpaulus opened #22487 "Installation issue: graphviz"
### Steps to reproduce the issue

This error occurs for versions 2.46.0, 2.42.4, 2.38.0 but not 2.44.1
[code]

### Information on your system
* **Spack:** 0.15.4-1446-08e30a2
* **Python:** 3.6.8
* **Platform:** linux-centos7-sandybridge

### Additional information
There is no build-out.txt or build-env.txt as it failed before starting to install.

### General information

- [x] I have run `spack d

[2021-03-23 17:12] adamjstewart commented on #22487
What version of Spack are you on? The latest version has a URL that is used for all downloads.

[2021-03-23 17:15] skylerpaulus commented on #22487
@adamjstewart I am version 0.15.4-1446-08e30a2

[2021-03-23 17:37] becker33 commented on #22463
@alalazo if you use #22354 which changes how python information is detected, does that resolve the python3.6 issue?

[2021-03-23 17:45] jjellio commented on #22463
@alalazo - I skipped it in the issue, but I had tried to let spack bootstrap per Greg's directions on mattermost.

I'm sorta assuming that the hackery I needed to get clingo building is what broke by bootstrap.

From what you've posted. There could be more issues w.r.t. to the python used.  There's also the issue that spack will need to figure out the right compiler to use in bootstrapping. Cray's

[2021-03-23 17:56] alalazo commented on #22463
@becker33 Unfortunately it does not. CMake can't find the Python libraries and stops with an error.

[2021-03-23 17:58] alalazo commented on #22463
@jjellio Using Cray CC is indeed a bug due to the fact that the default architecture on Cray is the backend. The diff I posted above should solve that by saying that we want clingo for the frontend operating system.

[2021-03-23 18:10] scheibelp commented on #21724
Note if all the `-l` flags are coming from `self.spec['blas'].libs.ld_flags`, then `intel-oneapi-mkl` can define a custom `libs` property which excludes the SYCL-based libraries.

Are these additional libraries needed for SYCL support? Or are they alternatives libraries built with SYCL support (in which case for example you wouldn't link `-lmkl_sequential` and `-lmkl_sycl`)?

[2021-03-23 18:10] skylerpaulus commented on #22487
I updated spack. I can now install 2.46.0 but the others still wont install.

[code]

spacks most recent version: 0.15.4-4043-9e316b3
@adamjstewart

[2021-03-23 18:30] adamjstewart commented on #22487
You can either use `spack install graphviz@2.42.4+doc` or use Spack's new experimental concretizer to resolve this.

[2021-03-23 23:08] nhanford opened #22497 "Installation issue: OpenMPI+CUDA fails to build in certain cases due to hwloc version constraint mismatch"
`openmpi requires hwloc constrain a concrete spec hwloc@2.0:+cuda, but spec asked for hwloc@2.4.1`

### Steps to reproduce the issue

1. Install a CUDA of your choice.
2. Install a UCX with that CUDA.
3. Install OMPI with that UCX.

### Information on your system

Should be reproducible on any CUDA-enabled cluster.

### Additional information

@hppritcha I believe https://github.com/spack/spack/bl

[2021-03-23 23:22] hppritcha commented on #22497
@nhanford I agree with your depends observation

[2021-03-24 01:19] hyviquel commented on #22427
do you guys know of any way to avoid the problem from user command as a temporary fix that I could use?

[2021-03-24 01:24] adamjstewart commented on #22427
If you don't care about mpich and only want to load a add a specific package, you can do `spack external find <package>`. Otherwise I think the fix is pretty simple. I'll push a PR and let you test it.

[2021-03-24 04:28] jjellio commented on #22463
@alalazo
I pulled develop
Then branched and merged #22354 , I applied your patch.

I have `spack config edit config` with the clingo as the concretizer.
[code]

My packages.yaml does not allow GCC (it only has cce as the compiler) .. so, when I tried

[code]

It naturally tried to bootstrap with CCE, then failed with the error that GCC must be used.

I modified my packages.yaml to have `compilers:

[2021-03-24 06:04] simon28li commented on #22313
@danlipsa hi，Now I have a new problem when I directly execute `spack install-v catalyst` to report an error as follows:
[code]

[2021-03-24 07:57] alalazo commented on #22463
@jjellio I think some of the errors reported may not be related to bootstrapping. For instance, specifying the compiler on something you want to install or solve should not affect bootstrapping. This is an example of what I have on a fresh linux box:

<details>

<summary>$ spack solve zlib %clang</summary>

[code]
</details>

If you expand the details above you'll see that the software needed to b

[2021-03-24 08:04] alalazo commented on #22463
Regarding this: it didn't do some install twice. The software Spack needs to bootstrap itself is installed in:
[code]
and is separated from the software you, as a user, ask to install. Since the command used to trigger bootstrapping in your case was:
[code]
Spack installed `re2c` one time in the bootstrap store with `target=x86_64` since it needed the software to build clingo, and one time in the

[2021-03-24 11:32] alalazo commented on #22463
I was able to bootstrap clingo seamlessly with the latest version of #22354. From a fresh clone of Spack:
[code]

[2021-03-24 11:37] alalazo commented on #22463
Note that the GCC static libraries issue is not solved in #22354. I need to think what would be best in that case, accounting also for binary generation.

[2021-03-24 13:10] kurtsansom opened #22513 "Installation issue: mesa with gcc10.1.0"
### Steps to reproduce the issue

gcc version 10.1.0 installed and set as default compiler.

[code]

### Information on your system
[code]

### Additional information

* [spack-build-out.txt](https://github.com/spack/spack/files/6197341/spack-build-out.txt)
* [spack-build-env.txt](https://github.com/spack/spack/files/6197343/spack-build-env.txt)

@chuckatkins  @v-dobrev

Known issue in gcc 10.1.0,

[2021-03-24 14:16] skylerpaulus commented on #22487
Now I get a new error with the install. This happens with both 2.42.4 and 2.38.0. Let me know if you want the build txt.

[code]

I can install gdk-pixbuf@2.42.2 on its own. I tried to load this module as well before installing but I get the same error.
@adamjstewart

[2021-03-24 14:32] skylerpaulus opened #22515 "Installation issue: Wayland"
### Steps to reproduce the issue

[code]

[code]

### Information on your system

* **Spack:** 0.15.4-4043-9e316b3
* **Python:** 3.6.8
* **Platform:** linux-centos7-sandybridge
* **Concretizer:** original

### Additional information

* [spack-build-out.txt](https://github.com/spack/spack/files/6197998/spack-build-out.txt)

* [spack-build-env.txt](https://github.com/spack/spack/files/6197993/spack-

[2021-03-24 14:58] robert-mijakovic commented on #18625
I have provided a patch that resolves the issue:
https://github.com/spack/spack/pull/22509

[2021-03-24 15:45] adamjstewart commented on #22487
@michaelkuhn @lee218llnl might know what to do about that build error.

[2021-03-24 16:02] lee218llnl commented on #22487
I've been tripping on this issue and will have a PR soon.

[2021-03-24 18:04] cyrush commented on #22459
@markcmiller86  helped me stare at the files, it doesn't seem they actually have the `u\uFEFF` prefix BOM (byte order mark). They do have *a* BOM, but its a different one.

I suspect that in python 3, simply calling the `filter_file` (regardless of the input pattern) sanitizes the file b/c the following kwargs are used when reading the file:

`extra_kwargs = {'errors': 'surrogateescape'}`

but not

[2021-03-24 18:18] s-sajid-ali opened #22520 "Installation issue: libnvcpumath.so not found when compiling with nvhpc"
### Steps to reproduce the issue

[code]

Specific error :
[code]

### Information on your system

[code]

### Additional information

* [spack-build-out.txt](https://github.com/spack/spack/files/6199559/spack-build-out.txt)
* [spack-build-env.txt](https://github.com/spack/spack/files/6199560/spack-build-env.txt)
* [config.log](https://github.com/spack/spack/files/6199573/config.log)

PS: I added

[2021-03-24 19:09] markcmiller86 commented on #22459
Maybe not fix your problem here but since the `package.py` comments for filtering out BOM suggested compiler couldn't handle source files with BOM, one question is whether there are compiler flags you can pass to get around that? If so, these might help...

* https://stackoverflow.com/questions/7899795/is-it-possible-to-get-gcc-to-compile-utf-8-with-bom-source-files
* https://community.intel.com/t

[2021-03-24 19:23] jjellio commented on #22463
Lots to follow up on:

### packages.yaml is correct
I clipped the remainder of the file (it goes on to declare externals + more package specific things.
[code]

I suppose I could try removing the compiler all together... I am generally building for a specific version of CCE. I need to bump up to 11.0.4, but I'll cross that bridge after the spack issues.

I suspect that spack's bootstrap process sh

[2021-03-24 19:24] thomas-robinson opened #22522 "Installation issue: hdf5"
### Steps to reproduce the issue
I am using the results of `spack containerize` to build some packages with intel-oneapi 2021.1 compilers.
*edit: I was able to reduce this problem.  See below*
[code]

### Information on your system

[code]
### Additional information

@lrknox

### General information

- [x] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [x] I ha

[2021-03-24 19:28] jjellio commented on #22463
It's also worth adding the original motivator to this line of effort.

I developed package (fork of Trilinos) that declares several `depends_on`.  Most of the packages will depend on `blas` and `lapack`, and I want my Trilinos build's blas/lapack to be used by the underlying libraries. E.g., superlu-dist should use the same blas/lapack as Trilinos.  What I observed, was that because my package (an

[2021-03-24 19:36] #18853 closed, assigned to nobody

[2021-03-24 19:36] #22487 closed, assigned to nobody

[2021-03-24 19:49] cyrush commented on #22459
thanks @markcmiller86, I don't have an easy way to test against the NVIDIA HPC SDK, which I think is the compiler set that this change was added for.

[2021-03-24 20:03] alalazo commented on #22463
Thanks for the clarification (and the valuable feedback!). I think what confused me was that in a previous comment you were talking about `compilers:` (plural) in `packages.yaml`. We should have differentiated those two attributes in a clearer way.

Anyhow, now I understood your setup and I think it should stay as it is. I think with the latest version of #22354 you don't need to modify your `pack

[2021-03-24 20:08] jjellio commented on #22463
Success. So this seems to work. (in terms of getting clingo working). The issue of gcc providing static you'll need to sort out... that could cause someone grief later.

[code]

### I'll need to debug the spec/package I have to see what's my fault

I'm now seeing the spec I originally had working (and the variant that spun things off into an infinite loop) both broken.
[code]

[2021-03-24 20:08] #21824 closed, assigned to nobody

[2021-03-24 20:18] jjellio commented on #22463
@alalazo Yes - I think your summary is correct.

I haven't tried removing gcc from the packages compiler field. (I don't mind it being there at lower priority)

I'll mess around with the package I have and try to pin down the spec problems ... that should be in separate dialog though.

The gist of that is forcing downstream dependencies to have constraints on their dependencies. E.g.,
[code]

The

[2021-03-24 21:10] #22513 closed, assigned to nobody

[2021-03-24 21:19] samcmill commented on #22520
I can reproduce the issue and am looking into a fix.

[2021-03-24 23:48] cyrush commented on #22459
Talking with mfem folks, they expect the byte order marks only exist in the 4.1 release.

With this info, we can limit the patching to only 4.1.0. And that will allow folks to build with 4.2.

That doesn't resolve the issue with installing mfem 4.1.0 with spack when using  python 2, but I think its off the critical path for me (and others).

[2021-03-25 00:25] cyrush commented on #22280
I think this is a problem with missing `-L`s . They may be creeping in from MPI or even from hdf5 if it is built with MPI support. It may also be unique to openmpi.

[2021-03-25 00:34] cyrush opened #22530 "activating already active extension causes an error (with potential fix)"
activating already active extension causes an error and returns non zero error code

### Steps to reproduce the issue

in `spack/ubuntu-bionic` container:

[code]

### Error Message

Second activate fails with a message that its already activated.

[code]

I expect it to simply succeed if already installed and not in conflict.

Also note, if you try to install a dependent extension and activate th

[2021-03-25 00:36] cyrush commented on #22530
@becker33 here are details and a possible fix for the issue I mentioned on slack.

[2021-03-25 00:37] vsoch commented on #22280
@cyrush what should we try, either to build the container with the current spack, or something to try in containerize in spack to fix it? Or my naive question, where is this `-L` missing that we might try adding it?

[2021-03-25 00:54] white238 commented on #22280
Axom doesn't explicitly use zlib anywhere in it's build system.  It comes in from HDF5 I think.  Can you do some grepping of those paths through the hdf5 install directory? Maybe it would shine a light on what is wrong.

[2021-03-25 02:18] simon28li opened #22532 "One case of cquery failed to execute the test"
### Steps to reproduce the issue

[code]

### Error Message

[code]

### Information on your system
[code]
[code]

### Additional information

- [x] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [x] I have searched the issues of this repo and believe this is not a duplicate
- [ ] I have run the failing commands in debug mode and reported the output

@davydden

[2021-03-25 03:00] cyrush commented on #22280
I have seen this before in another project, let me try to hunt down the details.  I am pretty sure its openmpi related.

[2021-03-25 05:31] v-dobrev commented on #22459
I believe this issue is one of the issues addressed in https://github.com/spack/spack/pull/19748.

[2021-03-25 07:15] alalazo opened #22533 "ASP based solver errors on multi-valued variants with disjoint sets of values"
This error has been reported by @bvanessen When trying to concretize a spec that is modeled with multi valued variants from a disjoint set of values the ASP based solver errors out in the spec build phase (i.e. `clingo` completes successfully and the error happens when constructing the spec from its atoms)

### Steps to reproduce the issue

[code]

### Error Message

<details>

<summary>$ spack -d

[2021-03-25 07:48] alalazo commented on #22533
Further investigating this issue, the builder is correct since both these atoms are in the computed solution:
[code]

[2021-03-25 08:07] alalazo commented on #22533
Possibly solved by an additional integrity constraint:
[code]

[2021-03-25 10:35] alalazo commented on #22463
@jjellio

Let me know if you have issues with that and feel free to ping me on Slack.

[2021-03-25 11:08] haampie opened #22535 "Leaky global config for temporary command line settings"
### Steps to reproduce the issue

I came to the conclusion that I'll unfortunately have to do scripting in python because invoking spack multiple times is too slow. However, many spack commands leak, in the sense that `spack install [flags] a` and `spack install [flags] b` might not be exactly equivalent to `spack python` `from spack.main import SpackCommand` `install = SpackCommand('install')` `i

[2021-03-25 13:52] haampie commented on #22436
Should this issue be part of some milestone?

@tgamblin, I had assigned this to you but I could have just pinged you in the thread as well; maybe you can shed some light on this because you've written most of the code of this command

[2021-03-25 14:04] rscohn2 commented on #21724
The pre-oneapi intel-mkl package and has a much smaller set of libraries in libs so I will try to reproduce that.

They are additional libraries. I will make a test for mkl sycl interfaces with/without icx and hande that separately.

[2021-03-25 16:41] alalazo opened #22547 "ASP-based solver: external packages in environment scope are not considered during solve"
This error has been reported by @bvanessen If the ASP-based solver is used to concretize a Spack environment, external packages that are declared in the environment scope are not taken into account (while scopes outside the environment instead are).

### Steps to reproduce the issue

Using the following `spack.yaml`:
[code]
and ensuring that there is no external cmake declared in any other scope,

[2021-03-25 16:48] carns opened #22548 "installations fail if spack's install path is too long"
Spack origin/develop now fails to install packages if the spack directory itself is cloned in a modestly deep path.  This is particularly problematic for CI environments where the CI framework is dictating the path/sandbox to use for testing.

### Steps to reproduce the issue

You can reproduce the problem with this script, which creates a 103 character directory, clones, spack, and attempts to in

[2021-03-25 16:54] carns commented on #22548
FYI, I can trigger this starting with Spack 0.16, but not not 0.15.3.  The problem first occurred when I attempted to update some of our Jenkins CI scripts to use a newer Spack.

[2021-03-25 16:56] carns commented on #22548
Spack debug report output from the system that I happened to create the test script on:

[code]

[2021-03-25 17:55] alalazo commented on #22547
This is related to the `spack.config.use_configuration` context manager that is used when bootstrapping clingo. If clingo is already present in the environment the issue cannot be reproduced.

[2021-03-25 19:46] alalazo commented on #22547
This diff seems to fix the issue for me:
[code]
The bug was particularly tricky and boils down to a bug in the `SingleFileScope` class. An object of such a class has a `clear` method to clear its cache, but with the previous implementation the cache was never recomputed once cleared. Having to swap configurations cleared the environment cache when bootstrapping and after that whatever was in the `

[2021-03-25 21:30] amaji opened #22561 "Spack install returns 0 even on failure"
**Spack version: 0.16.1**

I just noticed that if I don't use `--fail-fast` then `spack install` returns 0 even on a failure.

For example:
[code]

If I use `--fail-fast` then the exit code is 1 as expected. Can we please have this behavior fixed?

[2021-03-25 23:23] cyrush commented on #22280
This is a problem related to how axom parses MPI flags from the openmpi compiler wrappers. openmpi does depend on zlib, and its the rpath command that is getting mangled, leaving just `-Wl,/opt/spack/opt/spack/linux-ubuntu18.04-skylake/gcc-7.5.0/zlib-1.2.11-fz2bs562jhc2spgubs3fvq25g3qymz6x/lib` which makes the linker unhappy.

The current spack package builds `axom@0.4.0` - which is also the same

[2021-03-25 23:26] white238 commented on #22280
We should probably do a release of Axom then.

[2021-03-26 07:16] #22547 closed, assigned to nobody

[2021-03-26 09:27] alalazo opened #22565 "The ASP-based solver sometimes prefer to build a new version over using an external"
This error has been reported by @bvanessen When using the ASP-based solver, sometimes, Spack prefers to build a new version of a package over using a declared external that match the requirements if `buildable: true`.

### Steps to reproduce the issue

Using the following `packages.yaml`:
[code]
and trying to concretize with Spack, one obtains:
[code]
Note that the preferred version weight is `0`.

[2021-03-26 09:52] alalazo commented on #22565
The error is due to the fact that we don't impose any constraint for this atoms:
[code]
In the case of the unexpected solutions we have 2 `version_weight` in the answer set for `python@3.7.2` which sum up to a total that is higher than the `0` of the default version. The bug is that we should have only the weight for the external version and not the one for a varsion of `python@3.7.2` built by Spa

[2021-03-26 11:33] cjlegg opened #22567 "Installation issue: automake"
[code]

### Information on your system

* **Spack:** 0.16.1-1899-995c978f52
* **Python:** 3.7.4
* **Platform:** linux-centos8-haswell
* **Concretizer:** original

None - it is a fresh spack installation
### Additional information

* [spack-build-out.txt]()
* [spack-build-env.txt]()

### General information

- [X] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [

[2021-03-26 13:25] G-Ragghianti commented on #22386
@tgamblin @tldahlgren I see that you two are the most likely to know something about the locking system.  Do you have any thoughts on this (specifically about the prefix_lock() not properly locking the stage directories)? Thanks.

[2021-03-26 13:33] tgamblin commented on #22386
Are these two different spack instances with two different install trees?  Or two spack instances with the same install tree?

The latter should work, and if it doesn’t there is some issue with prefix lock. Prefix lock uses a lock file in which we lock per-package bits within the install tree.

If it’s the former, you’re right — that’s a good catch — we should set some stage directory unique to th

[2021-03-26 13:34] tgamblin commented on #22386
I guess my other question is if it’s the former case above, why are you building the exact same package in two install trees? Just curious.

[2021-03-26 13:50] G-Ragghianti commented on #22386
This mostly happens on our CI system.  A lot of our builds share a spack instance, but some builds can't share or require a separate spack instance for testing.

Edit: I just verified that the problem only occurs when building in two different spack trees on the same system.

[2021-03-26 13:54] G-Ragghianti commented on #22386
From my reading of how locking in the stage directory is intended to work, I think that it should be able to lock across separate spack install trees since it is using the lock file `/tmp/$USER/spack-stage/.lock`. If that is the case, then fixing the locking to work as intended would resolve all the issues (setting unique stage directories wouldn't be necessary).

Edit: Looking around line 311 of

[2021-03-26 14:22] #21911 closed, assigned to alalazo

[2021-03-26 14:22] #22533 closed, assigned to alalazo

[2021-03-26 14:51] alalazo commented on #20655
@cwsmith I'm having a look at the `spack.yaml` you are using. You are effectively concretizing specs separately, as the `concretization` attribute has the wrong indentation:
[code]
instead of:
[code]
Also, the target for compilers should be the generic family, i.e. not `zen2` but` x86_64`. Let me know if these hints remove the issues you were seeing or if there's anything else to be checked.

[2021-03-26 15:01] alalazo commented on #22031
I just tested this and got:
[code]
for a version range that matches some versions in the package and:
[code]
The behavior seems correct to me. Let me know if there's anything I missed.

[2021-03-26 15:20] tgamblin commented on #22386
That would work, but I’m not sure that is the right solution, because it would slow down the build. In the shared install tree case, the two spack instances are ultimately trying to install the same thing. So, if one instance sees that the stage directory is locked, it can go do other work, and it will ultimately use the install that the other instance produced.

If there are two instances that sh

[2021-03-26 15:20] tgamblin commented on #22386
Yes the prefix lock is used in `installer.py`, where the distributed locking algorithm is -- stages are created and destroyed while we hold the prefix lock

[2021-03-26 15:37] G-Ragghianti commented on #22386
That makes sense.  So we would need to hash something (full path) that is unique to the spack install tree in order to build a unique stage directory name, correct?

[2021-03-26 16:48] adamjstewart commented on #22561
This should be fixed by #21980

[2021-03-26 16:52] amaji commented on #22561
thanks @adamjstewart! i should have looked at the PR history.
what is the timeline for spack 0.16.2 or 0.17.0?

[2021-03-26 16:53] adamjstewart commented on #22561
No idea. @tgamblin @tldahlgren @becker33 @scheibelp?

[2021-03-26 17:43] grimanre opened #22577 "Installation issue: perl 5.18.4"
### Steps to reproduce the issue

It should be very simple to reproduce, we you default configurations and simply try to install perl v 5.18.4 via spack install. We get the following error you can see in the pasted text below.

[code]

When you open the file spack-build-out.txt mentioned above we see this error at the end of the file:

Can't locate Pod/Simple/SimpleTree.pm in @INC (you may need to

[2021-03-26 17:43] #22463 closed, assigned to alalazo

[2021-03-26 18:37] tgamblin commented on #22561
0.17 is at least a month away, unless we cut something before the ECP meeting in April.  0.16.2 could happen soon if needed.

[2021-03-26 18:38] tgamblin commented on #22561
there are quite a few fixes already in the 0.16.2 project that we should probably do a release for

[2021-03-26 19:22] samcmill commented on #22520
@s-sajid-ali This should be fixed by #22578.  Please let me know if this doesn't work for you.

[2021-03-26 19:24] amaji commented on #22561
awesome! thanks @tgamblin @adamjstewart

[2021-03-26 19:24] #22561 closed, assigned to nobody

[2021-03-26 19:39] samcmill opened #22579 "Do not reinstall packages for environment only changes"
Avoid reinstallation of packages for environment only changes

### Rationale

Spack will install a separate build of a package for each variant combination.  For packages built from source, that makes sense.  However, for binary packages, especially large binary packages, this can be very wasteful.

For example, the `nvhpc` packages provides `mpi`, `blas`, and `lapack` variants to enable / disable

[2021-03-26 19:40] samcmill commented on #22520
@s-sajid-ali I also filed the feature request #22579 to avoid the duplicate package installations you observed.  Please comment there if you have any thoughts.

[2021-03-26 20:00] ilbiondo opened #22581 "Installation issue: gperf build fails because GCC has nls disabled"
### Steps to reproduce the issue

There's something strange going on with libintl:

[code]

### Information on your system

$ spack debug report
* **Spack:** 0.16.1
* **Python:** 3.6.8
* **Platform:** linux-rhel8-zen2

### Additional information

gperf builds correctly using the RedHat8 system compiler (gcc 8.3.1) but fails for gcc 9.3.0 and 10.2.0 built with Spack.

From the build log:

[code]

#

[2021-03-26 21:16] #21724 closed, assigned to nobody

[2021-03-26 21:36] cyrush opened #22585 "Race condition on "spack config update""
Context: I activated an environment and tried `spack install -j 20`, received an error about using an old config file:

[code]

I then tried the above suggestion.

`spack config update config`

This fails b/c it says spack can't write to the file -- the perms are bad.

Perms are fine in this case.  Looks like there is an issue with how the perms are checked when `spack.yaml` is used.

More details

[2021-03-26 21:52] cyrush commented on #22585
updated the reproducer with a simpler env file, also tested on spack develop just to make sure it wasn't due to using  a branch

[2021-03-26 22:37] s-sajid-ali commented on #22520
While this fixed the issue of `mpicc` being unable to find `libnvcpumath.so`, the compiler setup with #22578 is still unable to link to math libraries. I tried installing `PETSc` and hit multiple `implicitly declared` warnings for the math functions, (and I encountered similar errors for `superlu-dist` as well) :
[code]
followed by a linker error at the end of the build. Here are the relevant log

[2021-03-26 22:55] scottwittenburg opened #22586 "Environments: Install a single (possibly non-root) spec and deps without adding any new specs"
### Description

It would be nice to support installing one spec (e.g. by hash) that already exists in a concrete environment, but is not currently installed.  This could be achieved by providing a `--no-add` cli option to `spack install`.  Here's how I'm thinking of it:

- The `--no-add` option defaults to `False`, but if provided causes spack to install only specifically requested concrete specs

[2021-03-27 00:03] ikitayama commented on #22093
For the record, I was able to build `perl@5.30.0` the oldest stable release described in package.py with Intel compiler

[2021-03-27 00:22] amaji opened #22589 "Spack not looking for virtual dependencies in custom repositories"
I needed to apply a patch to libtirpc package to export `$prefix/include/tirpc` in CPATH. So, I copied it to a custom repository and edited it. Here is my `repos.yaml`
[code]
Now if I do `spack spec -l libtirpc` things work fine. I can also install libtirpc.
[code]
But if I try to install `hdf` which depends on `libtirpc`:
[code]

Am I missing something or is Spack losing track of custom repos whe

[2021-03-27 00:26] amaji commented on #22589
I have already tried `spack clean -a` couple of times.

[2021-03-27 00:41] amaji commented on #22589
One more data point.

This seems to be originating from the dependency on the virtual package `rpc`. If I explicitly add a dependency then things work.

[code]

[2021-03-27 00:41] s-sajid-ali commented on #22520
I'm guessing that this issue comes from using two `nvhpc` installations, one for the compiler itself and one for mpi/blas/lapack. For instance, here's a test program :
[code]

Compiling with `mpicc` and `nvc` from just the compiler `nvhpc%gcc`, I see :
[code]

Compiling with both the `nvhpc` packages (compiler first, mpi/blas/lapack provider next), I see :
[code]

Clearly, something isn't working

[2021-03-27 03:30] lrtfm opened #22591 "PETSc linked to system lib "/usr/lib/x86_64-linux-gnu/libmpi.so.20" and "/usr/lib/x86_64-linux-gnu/libmpi_mpifh.so.20""
I install `petsc` by
[code]
When I compile an example, it gives me a warning
[code]
where `libmpi.so.20` is the `mpi` in the system.

@jedbrown Could you help me check this, and give me some advice?

I don't know whether it's an error of `petsc` or of the compiler.  I used the systems' compiler
[code]

The `ldd` results of `libpetsc.so` is listed below with an attached file for `ldd` results of ev

[2021-03-27 05:36] certik opened #22593 "libtermkey fails to build on macOS"
This came up for `spack install -j8 neovim`.

[code]

Spec:
[code]

[2021-03-27 05:49] ikitayama commented on #22093
Seems up to the release 5.32.0, Intel compiler can be used.

[code]

[2021-03-27 05:55] certik opened #22594 "libluv fails to build on macOS"
Same setup as in #22593.

[code]

[2021-03-27 08:30] ilbiondo commented on #22581
This can be fixed by editing the GCC recipe to enable nls:

[code]

With `--enable-nls` gperf builds correctly:

[code]

[2021-03-27 08:51] ilbiondo commented on #22581
As this looks to be a GCC  issue maybe @michaelkuhn could take a look?

[2021-03-27 09:31] simon28li opened #22595 "Is there a version of cap3 that supports the aarch architecture?"
### Steps to reproduce the issue

[code]

### Error Message

[code]

### Information on your system

[code]
[code]

### Additional information

- [x] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [x] I have searched the issues of this repo and believe this is not a duplicate
- [ ] I have run the failing commands in debug mode and reported the output

@akthoma

[2021-03-27 10:38] alalazo commented on #22406
Marking as impact low since the delay has been greatly reduced to some minutes.

[2021-03-27 10:46] alalazo commented on #22294
I need to double check, but it's possible this was solved by #22559

[2021-03-27 13:50] alalazo opened #22596 "The ASP based solver prefers building a package over using externals if it has non-default variant values"
This error has been reported by @bvanessen If an external package is declared with `buildable: true` and with non-default choices for variant values, Spack prefers to build a new package instead of using the external. What a user would expect instead is that the external is used whenever it is a viable choice.

### Steps to reproduce the issue
Using this `packages.yaml`:
[code]
and trying to concr

[2021-03-27 14:21] adamjstewart commented on #22595
You're probably better off contacting the developers directly, I don't know anything about cap3.

[2021-03-27 15:22] eugeneswalker opened #22597 "ROCM Concretization: hip-rocclr requires hsakmt-roct version 4.0.0, but spec asked for 4.1.0"
I'm seeing this with all the `+rocm` variants I'm interested in:

Using `spack@develop` (cc0b3017ea55e7e235dfd2c7a4506d0ba2348e04 from `Sat Mar 27 09:29:51 2021 -0400`):

[code]

Same concretization complaints with:
* `strumpack~slate+rocm amdgpu_target=gfx906`
* `raja+rocm~openmp amdgpu_target=gfx906`
* `kokkos+rocm amdgpu_target=gfx906`

I don't think this is new, but I'm just now running into i

[2021-03-27 18:35] tgamblin commented on #22597
Old or new concretizer?

[2021-03-27 19:47] eugeneswalker commented on #22597
old

[2021-03-27 20:49] tgamblin commented on #22597
Is there a reason you can’t use the new one? Ideally we’d be able to fix this in the new concretizer.

[2021-03-28 03:34] eugeneswalker commented on #22597
I can use the new concretizer. Should I close this issue? Is the plan to deprecate the old concretizer soon?

[2021-03-28 04:41] tgamblin commented on #22597
It'll be deprecated or gone in 0.17, and the new one will be default.

[2021-03-28 13:52] #22427 closed, assigned to nobody

[2021-03-28 17:06] #22344 closed, assigned to nobody

[2021-03-28 23:25] nlvw commented on #22344
@trws I'm not sure this should be closed.  While it fixes the default spec so that it builds the flang variant is still broken.  If the variant is going to be included in the package it really should be in working condition.  Personally I'm not in need of flang at this point in time so I'll leave this as is if you don't want to address the flang variant build issues.

[2021-03-29 07:32] yellowhat commented on #21724
Hi,
just tried again:
[code]

But I am still getting errors:
[code]

[2021-03-29 08:21] ilbiondo commented on #22581
To add to the mystery it seems that the adding `--enable-nls` allows `gcc@10.2.0` to build `gperf` but  `gcc@9.3.0` still fails as in the original description.

[2021-03-29 08:30] alalazo commented on #22294
It doesn't seem to be solved by #22559 I'll investigate this further and report here the issues I found.

[2021-03-29 12:34] alalazo commented on #22294
I could reproduce even without the containerize command:
[code]

[2021-03-29 13:39] haampie opened #22606 "Bootstrapping on ubuntu:18.04, python3-distutils not installed by default"
### Steps to reproduce the issue

[code]

### Error Message

[code]

### Information on your system

* **Spack:** 0.16.1
* **Python:** 3.6.9
* **Platform:** linux-ubuntu18.04-zen2
* **Concretizer:** original

I have to install `python3-distutils` with apt to make this work:

[code]

[2021-03-29 13:39] haampie commented on #22606
Ping @alalazo  / @adamjstewart

[2021-03-29 13:56] rscohn2 commented on #21724
I wasn't able to reproduce the problem because they gcc on ubuntu 20.04 always adds -lm. The intel-mkl package for parallel studio adds -lm -ldl -lpthread so I added them, too. Please let me know if #22607 fixes the problem.

[2021-03-29 14:14] yellowhat commented on #21724
I have just tried to apply #22607 but still:
[code]

[2021-03-29 14:40] amaji opened #22608 "Installation issue: hdf+fortran %gcc@10.2.0 build fails"
Looks like building HDF with fortran support fails with GCC 10.2.0 due to some changes in gfortran.

**OS:** CentOS 8 on AMD Rome
**Spack version:** 0.16.1

My installation spec:
[code]

Error message:
[code]
Looks like the error message is identical to the one reported in netcdf-fortran git repo: https://github.com/Unidata/netcdf-fortran/issues/212

This can be fixed by passing the argument `-fal

[2021-03-29 14:40] michaelkuhn commented on #22581
Sadly, I cannot reproduce this with my Spack-built GCCs. It sounds a bit like a problem a had with glib finding the wrong libintl version: https://github.com/spack/spack/blob/develop/var/spack/repos/builtin/packages/glib/package.py#L81-L84

Does it work if you add a gettext dependency to gperf?

[2021-03-29 14:43] amaji commented on #22608
Looks like fixed in Develop.

[2021-03-29 14:43] #22608 closed, assigned to nobody

[2021-03-29 15:57] haampie opened #22611 "InternalConfigScope deletes config when clearing cache"
### Steps to reproduce the issue

[code]
prints `None`.

[2021-03-29 16:11] glennpj opened #22612 "Installation issue: mesa@21.0.0 fails to build"
Building mesa@21.0.0 fails with an error, see below. The 20.3.4 version builds fine so something must have changed between mesa-20 and mesa-21.

### Steps to reproduce the issue

[code]

[code]
[code]

### Information on your system

[code]

### Additional information

Maintainers: @chuckatkins @v-dobrev
### General information

- [x] I have run `spack debug report` and reported the version of Spa

[2021-03-29 16:11] adamjstewart opened #22613 "Clingo concretizer does not respect hashes in spec"
The new concretizer does not respect hashes of installed packages in the spec. With the old concretizer, it was possible to reuse previously-installed packages by explicitly specifying the hash of the package. This is no longer possible with the new concretizer.

### Steps to reproduce the issue

1. `spack install B`, keep track of the hash of this installation
2. Add a new variant to package B
3.

[2021-03-29 16:22] rscohn2 commented on #21724
I didn't add the libraries correctly, sorry for missing that.

I updated the PR. Can you try again? I manually verified that the link line is correct.

[2021-03-29 16:33] scottwittenburg commented on #22586
fyi @zackgalbreath

[2021-03-29 16:35] adamjstewart opened #22615 "GitHub syntax highlighting for Spack specs"
It would be awesome if we could add GitHub syntax highlighting support for Spack specs.

### Rationale

Right now, if I share a Spack spec on GitHub, it looks like:
[code]
It would be much easier to read if it looked like:

![Screen Shot 2021-03-29 at 11 17 33 AM](https://user-images.githubusercontent.com/12021217/112867696-d7764c80-9080-11eb-8634-183e200de500.png)

### Description

Ideally, users

[2021-03-29 16:39] glennpj opened #22616 "Installation issue: root fails to build with intel-oneapi-tbb"
When intel-oneapi-tbb is used to provide tbb, the build of root fails.

### Steps to reproduce the issue

[code]
[code]

### Information on your system

[code]

### Additional information

root maintainers: @HadrienG2 @chissg @drbenmorgan @vvolkl
intel-oneapi-tbb naintainers: @rscohn2

### General information

- [x] I have run `spack debug report` and reported the version of Spack/Python/Platform

[2021-03-29 16:41] haampie commented on #22615
See https://github.com/haampie/spack-spec-highlight-vscode for highlighting in vscode, maybe that can be reused. I'm not familiar with linguist

[2021-03-29 17:04] yellowhat commented on #21724
Now I am able to compile HPL but on running:
[code]

I have tried to compile HPL manually against intel-oneapi-mpi and intel-oneapi-mkl and it worked.

[2021-03-29 17:07] yellowhat commented on #21724
I am using the following LA flags:
[code]

[2021-03-29 17:16] samcmill commented on #22520
I'll look into the PETSc issue.

[2021-03-29 17:48] s-sajid-ali commented on #22520
Thank you!

[2021-03-29 17:52] trws commented on #22344
At the moment, I think all we can really do with that is force j1 if that variant is selected, and I'm not totally comfortable  baking that into the package.  This is definitely an issue that should be fixed, but flang is so unstable I'm tempted to leave it as an upstream problem for the moment.

[2021-03-29 18:01] ilbiondo commented on #22581
Thanks for taking a look - there's definitely something strange going on. With a fresh instance of develop and the minimal commands needed all seems to work correctly.

I can only suspect that an unwanted path got picked up at build time. I'll keep the broken setup around and try and figure out what went wrong.

[2021-03-29 18:01] #22581 closed, assigned to nobody

[2021-03-29 18:15] rscohn2 opened #22621 "Add linking choices for intel-oneapi-mkl"
Applications that use mkl need to choose the right set of libraries and command line options as explained by https://software.intel.com/content/www/us/en/develop/tools/oneapi/components/onemkl/link-line-advisor.html

The current intel-oneapi-mkl does not provide any compile options and assumes sequential, ilp64.
Similar to the intel-mkl package, we need to provide these options as part of the spac

[2021-03-29 18:53] scheibelp commented on #22621
I need to think on how to resolve a conflict here:

* If I understand correctly: different dependents of `intel-oneapi-mkl` may request different sets of libraries
  * In the terms specified at https://software.intel.com/content/www/us/en/develop/tools/oneapi/components/onemkl/link-line-advisor.html that would include choices like static/dynamic linking, threading layer (sequential vs. TBB vs. Ope

[2021-03-29 18:59] rscohn2 commented on #22621
You are correct. It would be good if there was some way to avoid another install when the set of libraries that is used is different.

[2021-03-29 19:13] rscohn2 commented on #22621
Other oneapi libraries has the same issue:

https://docs.oneapi.com/versions/latest/onedal/onedal/build_app/build-application.html#applications-on-linux-os

[2021-03-29 19:20] alalazo commented on #22294
The bug is related to the bootstrapping procedure, and most likely to the swapping of some part of the configuration. Starting with a python interpreter that can already import `clingo` doesn't trigger the bug.

[2021-03-29 20:26] nhanford commented on #22497
Sorry for the delay. I believe this issue is now resolved. Thanks!

[2021-03-29 20:26] #22497 closed, assigned to nobody

[2021-03-29 21:23] scheibelp commented on #22589
I can replicate this for other packages, for example I can create a test repo with `openmpi` and add the repo, in which case `spack spec -N py-mpi4py` does not use `test.openmpi` (but `spack spec -N py-mpi4py ^openmpi` does).

I'm guessing in your case you tried removing `libtirpc` from the original repo to try to force Spack to use the one in your custom repo, which lead to the "not found" error

[2021-03-29 21:30] amaji commented on #22589
@scheibelp Precisely. I first tried with `libtirpc` in both repos, but Spack always picked the one in builtin. So, I thought it was a cache issue and removed the one in builtin.

Glad to hear that you can replicate it. Thought I was going insane. :)

[2021-03-29 22:13] scheibelp commented on #22589
I am adding the `workaround` tag since you mentioned a manual solution in https://github.com/spack/spack/issues/22589#issuecomment-808605712, but I will be looking into how to make this automatic in Spack over the next couple days.

[2021-03-29 22:14] nightlark commented on #22595
@simon28li the README from the download for cap3 has a bit of contact info: `For questions on CAP3, please contact Xiaoqiu Huang at xqhuang@cs.iastate.edu`

From the download page on the CAP3 website (http://seq.cs.iastate.edu/cap3.html) and download directory listing at http://seq.cs.iastate.edu/CAP3/ it looks like there is nothing for aarch64. It doesn't look like source code is provided either,

[2021-03-29 22:40] amaji commented on #22589
Sounds good. I am not in a hurry. Right now, I am just dropping the edit inside builtin.

Would be nice to have this fixed in 16.2 or 17.

-------- Original message --------
From: Peter Scheibel ***@***.***>
Date: 3/29/21 6:13 PM (GMT-05:00)
To: spack/spack ***@***.***>
Cc: "Maji, Amiya K" ***@***.***>, Author ***@***.***>
Subject: Re: [spack/spack] Spack not looking for virtual dependencies in cu

[2021-03-29 23:06] #22565 closed, assigned to nobody

[2021-03-29 23:06] #22596 closed, assigned to nobody

[2021-03-30 00:09] #22530 closed, assigned to nobody

[2021-03-30 00:47] bvanessen opened #22627 "Handle LLNL system paths"
### Steps to reproduce the issue

Spack should treat `/usr/tce/` and `/usr/tcemp` as system paths on LLNL systems.  As it stands common packages like `cmake` exist in `/usr/tce` and can preempt a spack required version, leading to spurious errors based on how packages are added to the `PATH` environment variable.  Here is a patch that fixes the issue:

[code]

### Error Message

Given a package th

[2021-03-30 00:48] bvanessen commented on #22627
@tgamblin @becker33 @scheibelp Here is an issue for the LLNL environment variables.  I don't know if you want to handle it with the simple patch, or create something just for LLNL systems, or some configuration options.

[2021-03-30 04:03] alalazo commented on #22294
The issue is with temporary caches and lazily evaluated values. Currently when we bootstrap we call this method:

https://github.com/spack/spack/blob/9d42381d38fff23e9ef2c2d4de5a48efe937eb7a/lib/spack/spack/bootstrap.py#L213-L223

where we swap parts of the internal configuration to match what we want to enforce for bootstrapping. The issue stems from a combined action of having:
1. Configuration

[2021-03-30 04:59] alalazo commented on #22294
This diff should be an hotfix to the issue:
[code]

[2021-03-30 08:42] Billae opened #22632 "Informations about debug mode in paraview"
Hello

I am on a paraview plugin project and I need to debug it and find memory leaks. I was wondering if there is any debug variant or options which set all debug flags. I am not aware about all debug flag paraview provides, but for example, I have seen the "VTK_DEBUG_LEAKS" flag (which is by default to OFF), but I cannot use it without modify the spack recipe. Is there an installation option wit

[2021-03-30 12:01] alalazo commented on #548
Closing as possibly outdated. Currently, with the ASP-based solver, externals are always preferred over rebuilding something and version preferences are taken into account *if* the version exists in `packages.py`. If this issue maps to prefer already installed packages, there are already other issues tracking that. Feel free to reopen if I missed something.

[2021-03-30 12:01] #548 closed

[2021-03-30 12:50] AlexVeprev commented on #22616
Hi, I can provide support for oneTBB CMake part. Unfortunately, I'm not familiar with snack, so could you please clarify some moments? I see that the error comes from FindTBB.cmake that [is not distributed with the latest official CMake](https://cmake.org/cmake/help/latest/manual/cmake-modules.7.html#find-modules), so where this FindTBB.cmake comes from and where is it used?

For now I can assume

[2021-03-30 13:46] danlipsa commented on #22632
There is a build_type=Debug but it does not add VTK_DEBUG_LEAKS flag. I would be open to review a PR that adds a variant for this flag or you can compile ParaView from source or use the ParaView superbuild and add any flags you want.

[2021-03-30 14:17] haampie commented on #22611
Fixed by #22609

[2021-03-30 14:17] #22611 closed, assigned to haampie

[2021-03-30 14:28] vvolkl commented on #22616
Thanks @glennpj for the report and @AlexVeprev for the offer to help.

I'm not a TBB expert, but I guess `intel-oneapi-tbb` is  equivalent to `intel-tbb`? It is known that the 6.22 series of ROOT cannot handle newer `intel-tbb` version, which is why recently a conflict was added. See https://github.com/spack/spack/pull/22366 and the links in the comments. As far as I understand it, the ROOT develo

[2021-03-30 15:05] frankwillmore opened #22643 "Installation issue: hypre needs to be repackaged with autoconf@2.70 or newer to use oneapi fortran"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.16.1-1521-b56d65fce5
* **Python:** 3.6.12
* **Platform:** linux-opensuse_leap15-zen2
* **Concretizer:** original

Using this environment:
[spack.yaml.txt](https://github.com/spack/spack/files/6229932/spack.yaml.txt)

And this compiler stanza:

[code]

Here is the offending piece from the configure log. Autocon

[2021-03-30 15:23] #22294 closed, assigned to alalazo

[2021-03-30 15:34] rscohn2 commented on #22616
I looked at #22366 , it is about use of functionality that is removed from TBB. This error looks like an issue with CMAKE finding TBB. The findtbb comes from here: https://github.com/root-project/root/blob/master/cmake/modules/FindTBB.cmake

They still might be blocked by #22366.

[2021-03-30 15:41] rscohn2 commented on #21724
I have not been able to reproduce the problem, but fixed an issue
where it was using the wrong library.
(https://github.com/spack/spack/pull/22607)

You are using ilp64 when you build manually and I am using lp64. I am
adding support for ilp64 but that doesn't seem like it could be the
issue.

On Mon, Mar 29, 2021 at 1:07 PM yellowhat ***@***.***> wrote:

[2021-03-30 15:50] AlexVeprev commented on #22616
Thank you for the links!

Actually, in this repo `intel-oneapi-tbb` is a new version of `intel-tbb`, it is the same product, but with major (incompatible) changes.

I see [intel-tbb/package.py](https://github.com/spack/spack/blob/develop/var/spack/repos/builtin/packages/intel-tbb/package.py) is used for TBB 2020 and older versions and I see download/build/install instructions there. Also I see [in

[2021-03-30 15:57] rscohn2 commented on #22616
If you have spack installed. Then it is installed with:
```spack install intel-oneapi-tbb```
It will use the standalone installer and unpack into a non-default location. When building with tbb, it will source tbb/env/vars.sh. If setting some env variables will make the findtbb work better, we can add it to the tbb packages.

[2021-03-30 16:03] AlexVeprev commented on #22616
@rscohn2, thank you for the explanation! I've briefly checked FindTBB, having vars.sh sourced should be enough, but it is obviously not, so I need to reproduce the issue on my side to find the root cause.

[2021-03-30 16:39] tldahlgren commented on #22643
@osborn9 @balay FYI

[2021-03-30 16:42] vicentebolea commented on #22632
@danlipsa I second the idea of having a `debug variant or options which set all debug flags` maybe summarizing all of the possible `paraview/vtk(m)/cmake` debug flag might be overkill but we can do this incrementally.

[2021-03-30 17:27] Billae commented on #22632
So the debug variant will set the build_type to debug and add other debug flags ? Which ones ?

Having one debug variant to activate seems cleaner than having the build_type variant and the vtkdebugleak variant and so on.. :)

Eloïse

[2021-03-30 18:29] scheibelp commented on #22621
@rscohn2 one additional thing I want to confirm: do some of these libraries define the same symbols (in which case it would be wrong to link all of them)?

I spoke internally about this and we decided it needed some more thought, so we will be discussing it again in the next couple days (I anticipate reporting back here by Friday April 2nd). I think we'll be able to address the issue regardless of

[2021-03-30 18:37] #22520 closed, assigned to nobody

[2021-03-30 18:42] yellowhat commented on #21724
Just tried with this:
[code]
and no errors while running

[2021-03-30 19:03] #17598 closed, assigned to nobody

[2021-03-30 19:41] rscohn2 commented on #22621
I believe the libraries define the same symbols.

Some of the MKL options require compile-time options e.g. add -DMKL_ILP64. Is there a way to do that, too?

[2021-03-30 20:19] scheibelp commented on #22621
Currently there is not an automatic way to inject compiler flags into a dependent build - i.e. there is no API function we could implement in `intel-oneapi-mkl` such that all dependents would automatically add `-DMKL_ILP64` (so for now, a dependent package would need to check for this and add flags itself). Could you provide more info on when this should happen (e.g. is it when using specific libr

[2021-03-30 20:35] samcmill commented on #22520
@s-sajid-ali The PETSc issue is superficially due to a poor design choice in the PETSc build system.

One of the "declared implicitly" warnings emitted by the compiler happens to be for a source line that contains the word "error":

[code]

The PETSc `makefile` contains:
[code]

So the build system incorrectly flags *any* appearance of the word "error" as an error regardless of the context.  PETSc

[2021-03-30 20:48] rscohn2 commented on #22621
DAL and MKL can require some -D and -f options during compilation. For linking, they can need -l and can need start-group and other options. I think it is ok to stick with the current functionality and say dependent packages must add the flags for the complex options. If you are using the virtual blas packages, having spack provide the libraries is a help. If you are using some feature that is spe

[2021-03-30 20:57] glennpj commented on #22616
Sorry, I missed that.

[2021-03-30 22:32] tgamblin commented on #22589
Just to follow up on our conversation today (and to get notifications): @scheibelp can you verify whether this works with the new concretizer?  We can fix it there.

[2021-03-31 02:11] fubingting opened #22661 "bind9:make check error with 9_17_11"
When I tested bind9 for make check, there was 75 fail, so I decided to upgrade to the latest version 9_17_11 and modify the code as follows, but there are still errors. I don't have the authority to communicate with the bind9 community. Can you give feedback on this bug to the official community?
**spack update code：**
class Bind9(AutotoolsPackage):
    """
    BIND 9 has evolved to be a very flex

[2021-03-31 03:14] fubingting opened #22663 "r-rgdal Test Error"
When I tested r-rgdal, I reported an error and did not find the official community of r-rgdal for feedback and communication. Can you take a look at this problem?
r-rgdal version:1.5-23 and 1.5-19
os:centos8
platform:linux aarch64
**Test commands:
spack load r-rgdal
cd testts && Rscript tests.R**
**Error report:**
Error in getRasterData(x, band = 4) : Null external pointer

Error in .local(.Object

[2021-03-31 09:21] tmadlener commented on #17270
Is there any news on this? I seem to be running into the same problem, a few missing includes and the same linker error as above. However, for me this occurs even without the `+webkit`, so just trying to install `qt@5.14.2`.

[code]

There are more errors about missing includes, but I suppose these are still from the configure step. I have attached the build output as well as the build env file.

[2021-03-31 09:42] cessenat commented on #22643
Hello @frankwillmore same problem occurs for hdf5 :+1:
spack install hdf5+fortran~mpi %oneapi
 * error in config.log : /usr/bin/ld: cannot find -loopopt=0
   * configure: error: linking to Fortran libraries from C fails

[2021-03-31 10:29] codethief opened #22671 "Installation issue: py-h5py"
### Steps to reproduce the issue

I'm trying to install `py-h5py@2.10.0` inside a Ubuntu 18.04 Docker container ([this one](https://hub.docker.com/r/balenalib/jetson-nano-ubuntu) to be precise) on my Jetson Nano. While 2.10.0 is not the most up-to-date version of h5py, newer versions don't work for my setup due to issues like [this one](https://github.com/tensorflow/tensorflow/issues/44467).

[cod

[2021-03-31 11:51] rscohn2 commented on #21724
The MKL package injects the proper ```-I<dir>``` but does not have a way to inject the ```-DMKL_LP64 -m64```. They are the default so it should not matter.
The MKL package injects: ```-lmkl_intel_lp64 -lmkl_sequential -lmkl_core -lpthread -lm -ldl```. In another thread, I am working with spack developers on a way to have MKL inject the parallel libraries by controlling the spec (variant or some ot

[2021-03-31 12:40] michaelkuhn commented on #17270
Sadly, I cannot reproduce this on Ubuntu 18.04. qt@5.14.2 builds fine without webkit and fails with another error with webkit.

[2021-03-31 12:58] tmadlener commented on #17270
Checking the log file again, at the very end it says:

[code]

Which in turn seems to be related to:

[code]

which doesn't really make sense to me, because `math.h` exists in `/usr/include` and that is there via `-isystem`.

I am not really sure why this doesn't work on Ubuntu 20.04 with `gcc@9.3.0`, because that should in principle really be more than enough to have a c++11 <random> available.

[2021-03-31 13:12] yellowhat commented on #21724
Thanks for the update. Just tried and it compiling and running.
The only thing is that it is working using MPI only, no OpenMP.
I can see that intel-oneapi-mkl does not expose the `threads=openmp` variant as `intel-mkl`.

[2021-03-31 14:32] sethrj commented on #17270
@tmadlener What's the full spec of your qt? Are you building with a system provided GCC or a custom compiler?

[2021-03-31 14:53] kurtsansom opened #22677 "Installation issue: mesa 21.0.0 build fails with osmesa enabled"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.16.1-1974-9a453b2e74
* **Python:** 3.8.8
* **Platform:** linux-ubuntu18.04-skylake
* **Concretizer:** original

### Additional information

* [spack-build-out.txt](https://github.com/spack/spack/files/6237439/spack-build-out.txt)
* [spack-build-env.txt](https://github.com/spack/spack/files/6237437/spack-build-

[2021-03-31 14:58] tmadlener commented on #17270
Yes, I am using the system provided GCC.

Full spec:
[code]

[2021-03-31 15:12] kurtsansom commented on #22677
duplicate of #22612

[2021-03-31 15:12] #22677 closed, assigned to nobody

[2021-03-31 15:15] kurtsansom commented on #22612
I believe #22678 should resolve the issue.

[2021-03-31 15:39] rscohn2 commented on #21724
I am working on the variants like threads=openmp and it would be great if
you can test it after it is enabled.

On Wed, Mar 31, 2021 at 9:13 AM yellowhat ***@***.***> wrote:

[2021-03-31 15:40] sethrj commented on #17270
[code]
Aha, I think the problem is `-isystem /usr/include` -- why is that there? I see as part of the configure:
[code]
Can you post your `packages.yaml` file? It looks like you might have an external unbuildable openssl pulled in from your system, and that's incorrectly propagating system includes into the rest of the qt build.

@alalazo I think you have the most experience with external dependen

[2021-03-31 15:47] yellowhat commented on #21724
Absolutely, can you reference pull request that implements this?

Thanks

[2021-03-31 15:50] rscohn2 commented on #21724
We are discussing it here https://github.com/spack/spack/issues/22621 and I will notify you when there is a PR.

[2021-03-31 15:51] yellowhat commented on #21724
Perfect. Thanks

[2021-03-31 16:01] adamjstewart commented on #22671
@bryanherman can you take a look at this?

[2021-03-31 16:39] tmadlener commented on #17270
If any of the non-buildable system packages pulls system includes into the qt build, then the question becomes, why is it working with `qt@5.15.2`? Because I can build that against the exact same dependency tree. Has anything obvious changed in that direction that you know of?

This is my current `packages.yaml`, it was first built by hand and then updated via `spack config update packages` after

[2021-03-31 16:49] qwofford opened #22684 "spack containerize: construct Dockerfile which caches previous spack package builds"
Currently, the Dockerfile lines I get from this script end with something like:
`RUN spack install --fail-fast `

That works...but in order to take advantage of container build caching, it would be better to concretize a build tree and then install piecemeal. So something like:
[code]

Is this something you all have put some thought into already? Am I missing a detail that would make this hard to

[2021-03-31 16:57] bryanherman commented on #22671
I will try and reproduce. @codethief - were there any other error messages when h5py started building extensions? I am not seeing anything in the output file, just a stoppage at build_ext.

[2021-03-31 17:25] #22612 closed, assigned to nobody

[2021-03-31 17:36] sethrj commented on #17270
Yeah external `/usr` has definitely caused problems elsewhere too. I think the difference might just be qt getting "smarter" about using isystem vs I?  Diff the log files if you want to really be sure.

[2021-03-31 17:47] codethief commented on #22671
Thanks for responding so quickly!

@bryanherman Yeah, I was confused by that too. For some reason, the error message only showed up on the command line.

Not that I know of, no.

[2021-03-31 18:21] knepley commented on #22520
@samcmill I think that the characterization of this behavior as "faulty logic" is incorrect. If you support a lot of platforms and compilers, you find out that you cannot count on compilers to return error codes or output to stderr unfortunately.

[2021-03-31 19:26] AlexVeprev commented on #22616
I've found that [FindTBB.cmake from root project](https://github.com/root-project/root/blob/master/cmake/modules/FindTBB.cmake) is not able to find TBB from `intel-oneapi-tbb` version because it has compiler subdir in the path to binaries while `intel-tbb` package doesn't have it. The FindTBB handles compiler subdirs on Windows, but doesn't on Linux: [FindTBB.cmake#L69](https://github.com/root-pro

[2021-03-31 19:38] ChristianTackeGSI commented on #22616
So, if I get that right
* `intel-tbb` is for anything up to `2020.*`.
* `intel-oneapi-tbb` is for 2021 and up.

So the conflicts in #22366 wont break ever.
But we should add a new one
[code]

In theory, we could remove the conflict on `intel-tbb`, because it looks like there will never be a newer version. I'd prefer to keep it for documentation purposes.

Does that make sense to everybody?

[2021-03-31 20:25] samcmill commented on #22520
@knepley Tagging any output with the bare word `error` in it as an error seems like a overly broad approach to me.  There are perfectly innocuous, or even valid, reasons for the word `error` to appear in the output.  A warning message seems fine, but this line of code seems like it will flag a lot of false positives:

[code]

Testing for the absence of a build artifact, such as `libpetsc.so`, woul

[2021-03-31 20:30] knepley commented on #22520
@samcmill That sounds good, which is why we initially did that. However, it is worse not to catch a failure, than to deliver a false positive. This is the first positive detected with this release (and several before), and it revealed an actual bug, so I would not call it false. The data show that this is a more robust and accurate method than the one you suggest.

[2021-03-31 20:31] bryanherman commented on #22671
@codethief - I ran an install of py-h5py using the version and information you supplied above on an Ubuntu x86_64 system. It successfully installed. The only difference I see is that your system is a different architecture. I don't have any experience with aarch64. If I had this issue I would try to source the env file and try installing py-h5py by hand to see if there is more information.

[2021-03-31 21:47] #22643 closed, assigned to balay

[2021-03-31 22:44] danlipsa commented on #22313
@simon28li Can you try
https://github.com/spack/spack/pull/22676
Note that for ParaView versions 5.7 or later you should use the paraview package instead as it contains the catalyst library as well.

[2021-04-01 01:31] citibeth opened #22708 "Compiler Wrappers Drop Command Line Arguments"
When used in `ifort` mode, the compiler wrapper `cc` drops command line arguments that it should be passing through.  Included are the `-c source_file.f -o object_file.o` parts of the command line.  This causes the underlying `ifort` compiler to fail with:

[code]

### Steps to reproduce the issue

2. Run the compiler wrapper individually with the command:

[code]

   This produces the resulting f

[2021-04-01 08:25] tmadlener commented on #17270
That seems to be the case indeed. While configuring 5.15.2 `make` is invoked with `-I/usr/include`, while for 5.14.2 it is done with `-isystem /usr/include`.

[2021-04-01 11:06] Tom-python0121 opened #22716 "Installation issue: Error: unable to open executable file ……/spack-src/bin/vttablet when spack install vitess@9.0.0"
### Steps to reproduce the issue
[root@centos8 spack-src]# spack edit vitess

[code]
I don't understand why it failed to install and compile, how can I change that? Can you tell me?
### Information on your system
[root@centos8 spack-src]# spack debug report
* **Spack:** 0.16.1-2002-09dcb16a70
* **Python:** 3.6.8
* **Platform:** linux-centos8-aarch64
* **Concretizer:** original

### Additional info

[2021-04-01 11:45] ilbiondo opened #22718 "The concretiser does not respect the choice of compiler"
When installing a package with a dependency on a package that was built with a compiler that is older than the most recent one known to Spack, the resulting spec has a mix of compilers.

The issue was initially found when concretising for an already installed package `spack install mumps ^/abcdefg`.

The issue appears to be present with both Clingo and the original solver.

### Steps to reproduce

[2021-04-01 12:21] vvolkl commented on #22616
@ChristianTackeGSI looks good to me!

@AlexVeprev I think that sounds great and I'm sure the ROOT developers would appreciate an updated `FindTBB.cmake`. They may have some constraints that are not obvious though - maybe start by opening an issue that mentions this problem and your plans, to give them a chance to comment?

[2021-04-01 12:35] rscohn2 commented on #22621
## Design Doc

### Interface

Some of the oneAPI packages support options for choosing the parallelism model and other factors. Threading can be one of TBB, OMP, or sequential. OMP can be GCC-based on icc-based. Packages can use SYCL for offload. A single install of a oneAPI package can support the different models by varying the compile options, link options, and especially the sets of libraries.

[2021-04-01 12:50] cessenat opened #22721 "Installation issue: hdf5+fortran %oneapi"
Despite PR #22683, I still fail to compile HDF5+fortran with Intel OneAPI, either 2021.1.1 or 2021.2.0.
This is both on Ubuntu x86_64 18.04 and 20.04
Basic error remains the same : there is a failing -loopopt=0 from configure.
$ spack install hdf5+fortran~mpi+shared %oneapiAT2021.2
==> Installing zlib-1.2.11-jesz5iyurv6flmlwyt3lolavgui6f6vn
==> No binary for zlib-1.2.11-jesz5iyurv6flmlwyt3lolavgui

[2021-04-01 13:52] dennisklein opened #22724 "Anonymous Bundle Spec"
Example:
[code]

### Rationale

Story:
* As an **IT department in a scientific research centre** we would like to distribute a package `pkg` with a set of curated dependencies pinned (like a Linux distro, but only for a small set of science-sensitive dependencies) in a BundlePackage `dist`. The verification process for such a dist is significantly expensive (possibly many weeks of simulation on a

[2021-04-01 14:10] ChristianTackeGSI commented on #22724
An alternative super package wouldn't be too complex to setup:
[code]
Users would then do `spack load simplesuper ^pkg@1.33.7 ^dist@42~graphics`.
which IMHO is a confusing UI for users as well.

[2021-04-01 14:44] codethief commented on #22671
Yeah, I already suspected it must be architecture-related. I will follow your advice next time I'm attempting to build h5py! Unfortunately, yesterday I had to reset my Jetson Nano's SD card for $reasons, and I don't have the capacity right now to let my Nano run for another day to pull in and compile all the dependencies needed for building h5py.

For the time being, I discovered that https://gith

[2021-04-01 15:13] ChristianTackeGSI commented on #17543
This happened for `config:concretizer:clingo` for me.
My current workaround:
[code]

[2021-04-01 15:40] sethrj commented on #17270
@alalazo Have you seen issues with system `/usr` breaking installs? Should I add an exception inside the Qt package to ignore `/usr` (fragile), or should this be handled at a higher level? Or should we generally prohibit system directories from being externals?

[2021-04-01 18:39] #22708 closed, assigned to nobody

[2021-04-01 21:42] EthanS94 opened #22736 "Installation issue: ParaView's LZMA dependency not satisfied by LZMA spack package"
@chuckatkins @danlipsa The `lzma` spack package does not provide the files ParaView needs (`lzma.h` and `liblzma.so`).
 I think this has not been working as intended for quite some time now. I guess paraview has been able to find lzma from other places, but this is biting us now.

### Steps to reproduce the issue

[code]

### Information on your system

[code]

### Additional information

The [hom

[2021-04-01 22:11] scheibelp commented on #22589
@tgamblin the new concretizer fixes this problem, should we make a tag like `fixed-by-new-concretizer`?

[2021-04-01 22:48] scheibelp commented on #22621
Some folks on the Spack team met and discussed this today but it proved to be a bit more involved (and we identified possible related scenarios for Cray's libsci and Boost that we also want to possibly address at the same time). We will be meeting again soon (ideally by 4/7) to finish the conversation.

[2021-04-01 22:49] scheibelp commented on #22621
Does this mean that packages which depend on `intel-oneapi-mkl` and compiling with `icx` always need to add the `-fsycl` compiler flag?

[2021-04-01 22:58] amaji commented on #22589
Don't know if this is the right place to ask.

If not done already, can you guys please please make Spack's bootstrap store customizable?
I am currently avoiding using Clingo because I have a shared home directory across clusters and don't want things to get weird.

[2021-04-01 23:40] NadyaTen commented on #22621
actually, no, -fsycl (and few others) are only required in case when customer wants to use OpenMP offload feature.

[2021-04-02 02:14] Tom-python0121 opened #22738 "The 【spack cd】 does not work in the latest spack version"
### Steps to reproduce the issue

[code]
When I updated the spack version and installed the gperf software, then executed the **spack cd gperf** and found that nothing worked, I wondered when the bug would be fixed.

### Information on your system
[root@centos8 ~]# spack debug report
* **Spack:** 0.16.1-2002-09dcb16a70
* **Python:** 3.6.8
* **Platform:** linux-centos8-aarch64
* **Concretizer:** or

[2021-04-02 03:37] Tom-python0121 commented on #22716
when my package.py have changed:
[code]
But the same mistakes are always repeated. I wonder why.

[2021-04-02 09:55] MBlaschek commented on #22093
Hi.
Ich have the same problem installing `perl-5.32.1` with `intel-20.0.2`.
And it losks like as you mentioned that it thinks `icc` is `gcc`:

[code]
I will try to install an older version.

[2021-04-02 10:53] ikitayama commented on #22093
@MBlaschek can you try this (Thanks to Ilya of JSC):

[code]

...?

[2021-04-02 11:03] alexbprofit commented on #12120
[code]

[2021-04-02 12:22] cessenat commented on #22721
Same  -loopopt=0 for silo.

[2021-04-02 12:50] orlandini commented on #22616
Hello,

I am joining the discussion because a colleague had problems with the newer TBB version in our own code. We provide our own `FindTBB.cmake`, written based on the modules that we have found online. It is far from perfect, but perhaps the search procedure could be interesting for you, so I decided to  [link it here](https://github.com/labmec/neopz/blob/RefactorGeom/cmake/Modules/FindTBB.cmak

[2021-04-02 13:27] tgamblin commented on #22589
@scheibelp: yep let’s make a tag

@amaji: have you seen things get weird with the bootstrap store? It should (like the regular store) keep things separate by architecture/os/etc.

[2021-04-02 13:46] cessenat commented on #21952
Well, since I'm no longer able to reproduce the pb I believe it was probably a newbie error.

[2021-04-02 13:46] #21952 closed, assigned to nobody

[2021-04-02 14:42] amaji commented on #22589
@tgamblin thanks! I haven't spent much time with clingo. tried building it manually and use in spack, but that didn't go well. maybe i'll give it another try over next few weeks.

in general, i avoid `~/.spack` scope for site-wide installations. that way every staff gets identical spack behavior (concretization/modules etc.) when deploying things.

[2021-04-02 14:51] tgamblin commented on #22589
@alalazo: see above — I think @amaji raises a good point. We should allow admins to install clingo in some standard way in their site spack so users don’t have to.

[2021-04-02 15:27] adamjstewart commented on #22738
@haampie @alalazo #22321 seems to have introduced an unexpected behavior change.

### After

[code]

### Before

[code]

Easy workaround until this gets fixed:
[code]

[2021-04-02 15:49] haampie commented on #22738
thanks, that behavior wasn't tested. See #22755

[2021-04-02 16:08] cessenat commented on #22721
Same problem with onapi 2021.1.2 internal to spack on another platform :
spack debug report
* **Spack:** 0.16.1-2030-9f90659
* **Python:** 3.6.8
* **Platform:** linux-centos7-skylake
* **Concretizer:** original

[2021-04-02 16:51] eugeneswalker opened #22758 "phist@1.9.3 build fails for power9le: -march=native not recognized"
`phist@1.9.3` fails to build optimized for `power9le` using `spack@develop` (d978d72e19574dc46dce84704349b716469babe2 from `Fri Apr 2 16:56:16 2021 +0200`)

Concrete spec: [phist.spec.yaml.txt](https://github.com/spack/spack/files/6250511/phist.spec.yaml.txt)
Full build log: [phist-build-out.txt](https://github.com/spack/spack/files/6250471/phist-build-out.txt)

[code]

This was in an `Ubuntu 20.0

[2021-04-02 16:51] alalazo commented on #22589
@tgamblin @amaji If I am not missing something, I think adding:
[code]
which behaves similarly to `install_tree` would be sufficient for this use case. What do you think?

[2021-04-02 18:29] ax3l opened #22759 "Installation issue: py-numpy @power9le"
### Steps to reproduce the issue

On Summit, with a fresh clone of Spack as of yesterday (2ae7e2550175fb6decfc9bc9d4af5c47b881413e):

[code]

### Information on your system

Summit at OLCF using the `gcc/6.4.0` and `python/3.7.0` modules.

[code]

### Additional information

* [spack-build-out.txt](https://github.com/spack/spack/files/6250828/spack-build-out.txt)
* [spack-build-env.txt](https://gi

[2021-04-02 18:53] alecbcs commented on #22294
@alalazo thank you for getting this merged so quickly!

[2021-04-02 19:13] adamjstewart commented on #22759
`-march=native` isn't being added by the Spack package, right? I assume that's coming from the build system. As a first pass, we can hopefully just `s/-march=native/-mcpu=native` somewhere in the source code. But I would love to get something more general contributed upstream. Are you able to reproduce this bug without Spack? If so, open an issue on the numpy repo and ping me.

[2021-04-02 19:20] tgamblin commented on #22589
Thanks @alalazo -- sorry for missing this.

[2021-04-02 19:25] daniellivingston commented on #17060
I've encountered this issue on a clean install of Spack running on Ubuntu 18.04.

The workaround from @adamjstewart doesn't work for me; I've settled on this as a band-aid solution for my specific use case:

[code]

[2021-04-02 19:37] ax3l commented on #22759
Oh, I realized that I quoted the wrong line. That one is only a test in the config phase that fails, the actual error during build is:
[code]

There is even a `-Werror` lurking in there :scream:

I did a quick build from source with `python setup.py build` and the dependencies (cython, openblas) loaded and that one succeeded.

[2021-04-02 20:52] adamjstewart commented on #22759
I guess I would start by trying to disable things in the package to see which one makes the difference. We set `NPY_BLAS_ORDER` and `NPY_LAPACK_ORDER` to force it to choose a particular lib, pass specific linking flags depending on the lib, and sometimes add `self.compiler.c99_flag` depending on the compiler version. There are also a few patches you can try disabling.

[2021-04-03 09:11] jthies commented on #22758
a curious error since you're using gcc/gfortran and they both have "-march" and "-mcpu" according to the --help option, and using -mcpu is discouraged in favor of -mtune. Seems odd that I have to check the CPU vendor before setting the -march/cpu=native option?

[2021-04-03 15:42] eugeneswalker commented on #22758
I'm pretty sure you can't use march=native on power-- you have to use -mcpu. At least this is what I have to do when building optimized tensorflow binaries for power w gcc

[2021-04-03 18:03] adamjstewart opened #22766 "Quotes aren't needed because spack doesn't use a shell. Consider removing them"
If you use `spack load` to load any package that uses `spack.util.environment.from_sourcing_file` (**including all Intel packages**), or any package that _depends_ on one of these packages, Spack emits the aforementioned erroneous warning message. We should remove this warning.

### Steps to reproduce the issue

[code]

### Error Message

[code]

[code]

### Information on your system

* **Spack:*

[2021-04-03 21:24] haampie opened #22768 "Fix hip lib amdhip64"
### Steps to reproduce the issue

hip@4.1.0 generates a lib name with a dash in the end because cmake can't infer the version number from a tarbal (it assumes git). This can lead to linker errors.

There's already a patch for it but it might have to be rebased.

[code]

Currently the patch is only applied to 4.0.0 and below:

[code]

[2021-04-04 00:20] ikitayama commented on #22093
This is PR:

https://github.com/spack/spack/pull/22769

[2021-04-04 02:19] ikitayama commented on #22093
Hi @haampie , what do we do when specific Intel compiler version just can't handle the options normally?

[2021-04-04 02:21] ikitayama commented on #22093
... as I can do `spack install perl@5.32.1 %intel@2021.1` on an CentOS 8 platform.

[2021-04-04 08:37] haampie commented on #22093
Add a conflict('%compiler', when='@x.y.z') to the package.py so the concretizer picks an older version by default. And make sure that perl devs know that there is an issue so it'll be fixed next release.

[2021-04-04 08:38] ikitayama commented on #22093
Thanks I’ll do that.

On Sun, Apr 4, 2021 at 17:37 Harmen Stoppels ***@***.***>
wrote:

[2021-04-04 09:00] ikitayama commented on #22093
I think it’s Intel compiler issue.

On Sun, Apr 4, 2021 at 17:38 Itaru Kitayama ***@***.***>
wrote:

[2021-04-04 13:02] vvolkl commented on #17270
In this case backporting the fix from 5.15 seems the best option to me - see the linked PR

[2021-04-04 14:23] sethrj commented on #18625
@amaji If you don't need HDF5's fortran bindings (which are the source of the error) you can add `~fortran` to your HDF5 variant.

[2021-04-05 00:37] amaji commented on #18625
@sethrj thanks! our users prefer fortran bindings enabled. i am going to use `hdf5@1.10` which seemed to build fine.

feel free to close the issue.

[2021-04-05 01:24] amaji commented on #22093
got the same error. think i'll fall back to 5.32.0 for now.

[2021-04-05 01:31] ikitayama commented on #22093
If you have a newer Intel compiler, it should just work.

On Mon, Apr 5, 2021 at 10:24 Amiya Maji ***@***.***> wrote:

[2021-04-05 01:33] amaji commented on #22093
i'll probably need to maintain `intel@19.0.5` alongside the latest intel, hence, the dilemma. :)

[2021-04-05 02:49] Nandinihpc opened #22774 "openfoam module issue"
I have installed openfoam2012 successfully. When i did spack module lmod refresh it gives this warning and hangs

==> Do you want to proceed? [y/n] y
==> Regenerating lmod module files
==> Warning: Quotes in command arguments can confuse scripts like configure.
  The following arguments may cause problems when executed:
      source /dev/null &> /dev/null && python3 -c "import os, json; print(json

[2021-04-05 02:52] Nandinihpc commented on #22774
This is the output of loading the openfoam module

 spack --stacktrace load openfoam
lib/spack/spack/util/executable.py:175 ==> Warning: Quotes in command arguments can confuse scripts like configure.
  The following arguments may cause problems when executed:
      source /dev/null &> /dev/null && python3 -c "import os, json; print(json.dumps(dict(os.environ)))"
  Quotes aren't needed because spa

[2021-04-05 03:48] Nandinihpc commented on #22774
-bash: lib/spack/spack/user_environment.py:95: No such file or directory

[2021-04-05 04:06] ikitayama opened #22775 "`spack load intel` emits warnings"
### Steps to reproduce the issue

[code]

### Information on your system

### Additional information

- [x] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [x] I have searched the issues of this repo and believe this is not a duplicate
- [ ] I have run the failing commands in debug mode and reported the output

[2021-04-05 04:07] ikitayama commented on #22775
[code]

[2021-04-05 08:13] AlexVeprev commented on #22616
@vvolkl, yes, makes sense, thank you! I've found a similar issue in root https://github.com/root-project/root/issues/7063 and left a comment there.

[2021-04-05 11:14] sethrj commented on #18625
I think @robert-mijakovic 's PR #22509 (merged) should have you covered.

[2021-04-05 11:14] #18625 closed, assigned to nobody

[2021-04-05 14:48] maxim-belkin commented on #22775
Duplicate of #22766

[2021-04-05 16:08] adamjstewart commented on #22774
This is related to #22775 and #22766, can you see if this is fixed by #22767?

[2021-04-05 18:54] Nandinihpc commented on #22774
Can you explain which part i need to update in order to fix the issue.

[2021-04-05 19:51] cwsmith commented on #20655
That fixed it!   Thank you.

[2021-04-05 19:51] #20655 closed, assigned to nobody

[2021-04-05 20:13] adamjstewart commented on #22774
#22767 just disables the warning message. If there's another issue with the package this won't help. Maybe @olesenm can comment.

[2021-04-05 21:43] maxim-belkin opened #22786 "Unsolicited warnings related to Intel compilers"
I observe unsolicited warnings related to Intel compilers even though I don't specify anything like `%intel` on the command line.

### Steps to reproduce the issue

<details>
<summary>
<strong><code>spack solve</code></strong>
</summary>

[code]
</details>

### Error Message

<details>
<summary>
<strong><code>spack --debug --stacktrace solve</code></strong>
</summary>

[code]
</details>

When I co

[2021-04-05 22:41] Nandinihpc commented on #22774
How to disable the warning message. I am sorry I am new to spack and I dont have idea on how to disable this.

[2021-04-05 22:44] adamjstewart commented on #22774
Once #22767 is merged it will be disabled. If you want you can test out the PR now: https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/checking-out-pull-requests-locally

[2021-04-05 23:07] sleak75 commented on #20005
I get this error too, with v0.16.1 on Cori (Cray), and applying PR #20072 solves it for me

[2021-04-06 05:08] alalazo commented on #22775
Closing as duplicate

[2021-04-06 05:08] #22775 closed, assigned to nobody

[2021-04-06 05:13] #22766 closed, assigned to nobody

[2021-04-06 05:13] #22774 closed, assigned to nobody

[2021-04-06 06:27] Tom-python0121 commented on #21905
May I ask if this is the right way to correct my question?

[2021-04-06 06:33] samcom12 opened #22791 "Abinit: add version 9.4.1 latest version"

[2021-04-06 06:36] samcom12 opened #22792 "Add package: Newton-X"
**URL**

https://newtonx.org/

[2021-04-06 06:38] samcom12 opened #22793 "Add Package: COLUMBUS"
_URL-_

https://www.univie.ac.at/columbus/

[2021-04-06 06:46] alalazo commented on #21905
@Tom-python0121 I removed the tags as we reserve "bug" for bugs in Core Spack, while we usually use "build-error" for recipes that don't build correctly.

[2021-04-06 06:58] ravil-mobile opened #22794 "hipsycl with SYCL 2020 partial support"
### Rationale

Extending hipsycl package to version 0.9.1

### Description

hipsycl@0.9.1 partially implements SYCL 2020 standard which provides support for Unified Shared Memory. Currently there is only version 0.8 available in Spack.

### Additional information

Here is a corresponding PR #22770. The proposed changes have been tested on my local PC (x86, ubuntu 18.04)

### General information

-

[2021-04-06 07:46] dev-zero commented on #20403
@rscohn2 thanks a lot for your work! Will the VTune Profiler get a separate package as well?

[2021-04-06 08:17] #22738 closed, assigned to nobody

[2021-04-06 09:40] Tom-python0121 opened #22796 "Install and compile fastjson@1.2.73: package com.alibaba.json.bvtVO.???????? does not exist"
see:
[code]
When I install and compile fastjson@1.2.73 in the sppack, an error occurs: package com.alibaba.json.bvtVO.???????? does not exist. What can I do?
### Information on your system
localhost:~ # spack debug report
* **Spack:** 0.16.0-77-98460b6f4
* **Python:** 3.6.5
* **Platform:** linux-sles15-aarch64
* **Concretizer:** original

[2021-04-06 11:34] robert-mijakovic opened #22798 "Installation issue: fftw 3.3.9, pfft-3.3.5.patch cannot be applied"
### Steps to reproduce the issue

[code]

### Information on your system

### Additional information

### General information

- [x] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [x] I have run `spack maintainers <name-of-the-package>` and @mentioned any maintainers
- [ ] I have uploaded the build log and environment files
- [x] I have searched the issues of t

[2021-04-06 11:51] samcom12 opened #22799 "Add py-metis : to py-pymetis"
URL

https://pypi.org/project/PyMetis/

[2021-04-06 11:56] alalazo opened #22800 "Spec platform information is inferred when parsing"
If a spec string with partial architecture (platform + OS + target) information is parsed, information on its platform is added based on the current host if not present. I would expect the platform to remain `None` if further information is not given.

### Steps to reproduce the issue

[code]

### Error Message

There's no error message, but I would expect:
[code]

### Information on your system

[2021-04-06 12:06] haampie opened #22802 "rocblas arch list incorrect for 4.1.0"
### Steps to reproduce the issue

[code]

### Error Message

[code]

[2021-04-06 12:27] rscohn2 commented on #20403
We can add other packages if there demand. There is an issue specific to VTune. It installs a driver and needs sudo. I don't know how to make that work well from Spack because some of the files will be owned by root after the install completes. I will start a discussion in another issue.

[2021-04-06 12:28] Nandinihpc opened #22804 "Orca install issue"
I was trying to do spack install orca. It needs manual download of package. After downloading when i try to install, i found the package.py file has different name to be used  for downloaded file as
 orca_4_2_1_linux_x86-64_openmpi3.1.4.tar.xz  instead of
orca_4_2_1_linux_x86-64_openmpi314.tar.xz
 When i renamed it and the install seemed to move to next stage and got a new error with checksum like

[2021-04-06 12:33] rscohn2 opened #22805 "Package for oneAPI VTune"
Add a package for VTune

_Originally posted by @rscohn2 in https://github.com/spack/spack/issues/20403#issuecomment-814079607_

Some parts of the VTune installer require sudo to install the driver and would create root-owed files in spack managed files. I see that that the parallel studio spack package allowed installing vtune. Is the driver install optional? Is that useful?

[2021-04-06 12:37] rscohn2 commented on #22805
@DanVev: Could you look into this? We could just provide the user mode install

FYI: @scheibelp Another need to support sudo install: https://github.com/spack/spack/issues/22178#issuecomment-794463319

[2021-04-06 12:38] alalazo commented on #22800
Commenting the call to this function seems to be almost fine with the new concretizer, but causes several failures with the old concretizer.

[2021-04-06 13:07] Nandinihpc commented on #22774
thank you. Applying the fix in executable.py and environment.py clears the warning message.

[2021-04-06 13:47] #22794 closed, assigned to nobody

[2021-04-06 13:47] ravil-mobile commented on #22794
merged

[2021-04-06 14:13] joequant opened #22807 "Installation issue: numactl"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.16.1
* **Python:** 3.9.2
* **Platform:** linux-mageia9-zen2
* **Concretizer:** original

### Additional information

* [spack-build-out.txt]()
* [spack-build-env.txt]()

### General information

- [X ] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [ X] I have run `spack ma

[2021-04-06 16:39] mdorier opened #22810 "Enable correct dev-build behavior inside an environment"
At present, calling `spack dev-build <some-spec>` when an environment is activated will correctly build the source in the current folder and install it. However it will not be added to the environment (`spack find` doesn't list it). Calling `spack add <some-spec>` beforehand doesn't solve the problem. The only way to have a dev-build in an environment is to edit the environment's YAML file.

In co

[2021-04-06 17:52] hvds opened #22813 "Installation issue: intel-oneapi-compilers"
This is essentially my first use of spack, I've only installed patchelf before this.

[code]
(.. but the build log appears to be truncated,  see below.)

[code]

[code]

[code]

- [x] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [x] I have run `spack maintainers <name-of-the-package>` and @mentioned any maintainers
- [x] I have uploaded the build log and envi

[2021-04-06 19:07] birnbera commented on #11680
I'm seeing a problem for CRAN packages related to this issue. For some reason, CRAN maintains two separate download links for source tarballs: one for the newest release and another for older releases. For example, the latest `devtools` is `2.3.2`, which can be accessed from the url `https://cran.r-project.org/src/contrib/devtools_2.3.2.tar.gz`. However, for versions `2.3.1` and earlier, you have

[2021-04-06 19:13] adamjstewart commented on #11680
@glennpj thoughts on this? We could change `spack checksum` to scrape before downloading, although it will be much slower.

[2021-04-06 21:31] ikitayama commented on #22813
Could you try with the latest `gcc@10.2.0` ?

[2021-04-06 21:32] ikitayama commented on #22813
@hvds ?

[2021-04-06 21:45] ikitayama commented on #22813
[code]

[2021-04-06 21:46] ikitayama commented on #22813
`$ spack install gcc@10.2.0`

[2021-04-06 22:03] hvds commented on #22813
In principle I could (or more likely 9.2.1, for which I already have the C compiler installed); however the opaque error doesn't _look_ likely to be a direct cause of the compiler - I'd rather understand what command it is trying to execute, and dig into why that is failing. I'm confused that the log file doesn't show this sort of useful information, and that makes me less inclined to trust spack

[2021-04-06 22:03] ikitayama commented on #22813
With `clang@13.0.0` (from `main`) I was able to build it too.

[2021-04-06 22:04] ikitayama commented on #22813
@adamjstewart , @haampie  would you please assist @hvds please?

[2021-04-06 22:53] ikitayama commented on #22813
For the record,
[code]

[2021-04-07 00:58] adamjstewart commented on #22813
The reason that the error appears on the command-line but not in the log is that this is a Spack bug, not a build error. Seems like some kind of unicode decoder error. @scheibelp has solved a few of these in the past, so he may be able to help with this one.

[2021-04-07 01:55] ikitayama commented on #22813
Thanks @adamjstewart seems to me it's best to use the `develop` branch for further testing.

[2021-04-07 09:28] alalazo opened #22822 "Cannot apply a gunzipped patch file"
Spack should support applying compressed patches from remote, but currently fails on `.gz` files. The issue seems that `gunzip` always decompress the file in place, while Spack expects it to extract in the current working directory:

https://github.com/spack/spack/blob/58edc361be0aec47bfed24ef310ffa808153c74c/lib/spack/spack/fetch_strategy.py#L465-L472

### Steps to reproduce the issue
Using #2278

[2021-04-07 10:15] #17134 closed, assigned to nobody

[2021-04-07 11:07] skosukhin opened #22824 "Allow for environment modifications by the external packages"
It would be nice to have an option to apply additional modifications to the environment when an external package is in use. We already have it for compilers, so the required logic is already more or less implemented.

### Rationale

This would help to customize the existing modules. For example, some packages need to run `srun` either at the configure time (to make sure that the provided MPI imple

[2021-04-07 12:00] skosukhin commented on #22824
There is probably one more thing to consider. Imagine that `mpi` is not an external package. Say we build `openmpi`. We still have to set additional environment variables to make `srun` work. Therefore, it would be nice to have an additional `environment` section for the whole package, not only for externals:

[code]

[2021-04-07 13:15] alalazo commented on #22606
This will be solved by #22720 If we bootstrap from a binary we don't need `distutils`:

![Screenshot from 2021-04-07 15-17-34](https://user-images.githubusercontent.com/4199709/113872731-6cc9bd00-97b4-11eb-9cfb-4769e58b49da.png)

[2021-04-07 13:37] robert-mijakovic opened #22828 "Installation issue: py-matplotlib"
@adamjstewart this one is for you.
Basically, I tried to build openfoam and among its dependencies, there is py-matplotlib which is unable to find ImageMagick libraries even though they are installed and in the proper location.

### Steps to reproduce the issue

[code]
However, the imagemagick library seems to be properly installed and the libraries are there:

[code]

### Information on your syst

[2021-04-07 16:49] jjellio opened #22834 "Clingo bootstrap installs in $HOME/.spack/bootstrap even if that is removed as a config location"
Workflow:
1. Want spack source code (clone) in a shared location for a team to interact with... put in `$SHARED_PLACE/spack`
2. Create a Spack environement `my-awesome.yaml` which includes  `$SHARED_PLACE/config_files/{packages,config,modules,compilers}.yaml`
    *  `config.yaml` will declare clingo as the concretizer
<details><summary>my-awesome.yaml</summary>

[code]
</details>

3. Edit `$SHARED

[2021-04-07 17:50] #22828 closed, assigned to adamjstewart

[2021-04-07 18:13] alalazo commented on #22834
The software used to bootstrap Spack can be reused by many Spack instances, and doesn't need to de duplicated. Hence, I think a per-user directory for bootstrapping is fine as a default. We are discussing in another issue whether to give some handle to customize the location where the bootstrap store will be created.

What is the practical issue here? Is the environment failing to install or any o

[2021-04-07 18:17] alalazo commented on #22834
@jjellio To put things in perspective: right now we bootstrap from sources and it may take some time for clingo to compile. I have #22720 which is coming together that permits to bootstrap from a binary cache. In that case it's a matter of a few seconds to bootstrap clingo. The overall plan is to have that binary cache stored in some S3 bucket (or similar) and added to the default mirrors in Spack

[2021-04-07 18:23] #22798 closed, assigned to nobody

[2021-04-07 18:27] jjellio commented on #22834
Because I would expect that if I declare a truly contained environment, that it will be contained.

In this case, other devs aren't using clingo.  And the workflow I want them to use is (setup all the env stuff) `spack clean --all` and full reproduce exactly what I see. To this end, I've moved clingo's dependencies into the shared directory, and declared them `external` and `buildable=False` This

[2021-04-07 18:42] alalazo commented on #22834
I'll avoid asking what **truly contained** means :slightly_smiling_face: (Spack may still stage at different places etc.), but I understand that waiting for a clingo build from sources may be irritating. I think:

is possibly what you need here to avoid rebuilding. Binary packages would make things a lot faster in the future.

Also, as a maybe cleaner workaround, you can install clingo etc. in a s

[2021-04-07 18:48] jjellio commented on #22834
To avoid bootstrap, would that mean that if SPACK's python (running spack) can `import clingo` it won't bootstrap?

[2021-04-07 18:51] alalazo commented on #22834
Yes, in general any python interpreter that can already import clingo will not bootstrap - since there's no need for that.

[2021-04-07 19:46] scheibelp commented on #22813
I can reproduce this on an Ubuntu 18.04 docker image with the latest Spack:

[code]

I'll be looking at suggestions from #20837 and #15285 over the next couple days to look for a fix (folks in those threads have dealt with similar issues with workarounds).

[2021-04-07 20:06] ChristianTackeGSI commented on #22616
My suggested "fix" is now here: #22850

[2021-04-07 20:20] alalazo commented on #22834
To be more explicit, if you use an environment similar to:
[code]
and ensure that `view/bin` is in PATH, then clingo shouldn't need to be bootstrapped.

[2021-04-07 20:57] jjellio commented on #22834
This seems completely broken. I haven't tried your last message.

With re2c, bison and cmake declared external in a `packages.yaml`, which is then included in an environment file, bootstrap still insists on building things.

If I take the exact same `packages.yaml` (from the shared directory used by the env) and move it to `~/.spack/packages.yaml` - bootstrap works fine. Meaning it just install cl

[2021-04-07 21:05] srekolam commented on #22768
fixed with #22762

[2021-04-07 21:05] #22768 closed, assigned to srekolam

[2021-04-07 21:13] jjellio commented on #22834
I've collected `spack -d --verbose spec zlib` for both: run in the environment and run outside (with the same packages.yaml used) - symlinked into my home.

I've cut the timestamp business off the front so I can vimdiff them. (or whatever you want to see side-by side)

A difference is that the the normal 'good' one is that compilers are found as 'cray' because the default is CCE which is in `~/.sp

[2021-04-07 21:16] jjellio commented on #22834
From the bad log, it seems like around line 52, the environment one doesn't read `packages.yaml` from the ENV (and the HOME/packages.yaml is not accessible - since it's nuked as described above).

My guess is that bootstrap is not using packages.yaml (outside home/.spack) to infer external things

[2021-04-08 00:12] psakievich commented on #19828
I'm going to close this. I haven't had any problems in a long time so it seems it's been resolved.

[2021-04-08 00:13] #19828 closed, assigned to becker33

[2021-04-08 06:54] alalazo commented on #22834
@jjellio Which commit are you on? Do you have #22631 merged in your history?

[2021-04-08 07:04] Bitllion opened #22859 "I CANT INSTALL CMAKE"
[code]
OTHER
[code]

[2021-04-08 08:38] #22616 closed, assigned to nobody

[2021-04-08 08:40] alalazo commented on #22859
The log points to an internal compiler error

[2021-04-08 09:55] jjellio commented on #22834
Probably - let check though.... I've been pushing PRs, so I am pulling/rebasing pretty often

Remember I am nuking 'user' home from the config path (in the first post)..

Tip of develop:
[code]

Yes - definitely have that commit, it's from March 30th in my log

[2021-04-08 11:04] ikitayama opened #22861 "==> Error: [Errno 37] No locks available"
### Steps to reproduce the issue

[code]

### Error Message

[code]

### Information on your system

### Additional information

- [x] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [ ] I have searched the issues of this repo and believe this is not a duplicate
- [x] I have run the failing commands in debug mode and reported the output

[2021-04-08 11:05] ikitayama commented on #22861
[code]

[2021-04-08 11:09] ikitayama commented on #22861
I'm trying to setup Spack on a Debian backed platform for the first time.

[2021-04-08 11:49] vdanilin commented on #22805
@rscohn2 user-mode installation is possible for oneAPI VTune though driver installation is skipped in this case.
I've re-addressed the question about functionality to the VTune team, waiting for a reply.

[2021-04-08 12:13] jjellio commented on #22834
@alalazo - troubles

So, I built python, pointed spack to it, made an ENV for my stuff (so this can be shared).

When I try to operate in the ENV, I get a problem.
So, I backed out of the ENV and tried to spec something outside it... that works.

## outside the ENV:

Recognize the default `config` is the one in spack/develop - so it's getting the original concretizer
[code]
### nothing is installe

[2021-04-08 12:31] vdanilin commented on #22805
I've received a response from VTune team.
oneAPI Vtune can be used without driver installation in Perf driverless mode: https://software.intel.com/content/www/us/en/develop/documentation/vtune-cookbook/top/configuration-recipes/profiling-hardware-without-sampling-drivers.html
So user installation makes sense, optionally user can manually install drivers, explained here: https://software.intel.com/

[2021-04-08 13:04] rscohn2 commented on #22805
Could you try making a package? The doc string for the class is used as the
description and should note the limitations compared to the full install.

On Thu, Apr 8, 2021 at 8:32 AM Vasily Danilin ***@***.***>
wrote:

[2021-04-08 13:16] vdanilin commented on #22805
ok, I'll add a  task to the backlog.

[2021-04-08 13:49] alalazo commented on #22834
Issue in https://github.com/spack/spack/issues/22834#issuecomment-815738620 has been solved in DM. It seems some compiler got defined twice (once in the global scope, once in a file included in the environment). The two definition were not the same since one had flags defined for the compiler while the other didn't. Spack was failing during spec construction during a sanity check on compiler' flag

[2021-04-08 14:19] alalazo commented on #22595
Closing since the questions seem to be answered. Feel free to reopen if something is still missing.

[2021-04-08 14:19] #22595 closed, assigned to nobody

[2021-04-08 14:19] mjleven opened #22865 "Installation issue: gdrcopy"
When I try to install gdrcopy it builds but tries to install in /usr/local/lib as opposed to my spack sandbox.  I modified gdrcopy/package.py to fix the problem.

I get the following error:

==> Installing gdrcopy-master-gn4oaromvgzkq72ld66jpynzutojejw6
==> No binary for gdrcopy-master-gn4oaromvgzkq72ld66jpynzutojejw6 found: installing from source
==> gdrcopy: Executing phase: 'edit'
==> gdrcopy:

[2021-04-08 14:37] #22436 closed, assigned to tgamblin

[2021-04-08 14:52] sethrj opened #22866 "Spack blame output incorrect for blank keys"
As I mentioned in https://github.com/spack/spack/pull/22598#issuecomment-808896029 , the "empty" keys in the default modules.yaml file aren't rendered correctly.

### Steps to reproduce the issue

[code]

Prior to #22598 the blank lines had the correct line numbers corresponding to the values in `defaults/modules.yaml`:
[code]

Expected output:

[code]
### Information on your system

* **Spack:**

[2021-04-08 15:59] robert-mijakovic commented on #21688
@schrummy14 I experience the same did you manage to find some workaround?

[2021-04-08 16:15] jthies commented on #22758
Hi Eugene,

I pushed a better way to determine this flag (via cmake feature tests) to the phist devel branch, if you could try it (by installing phist@develop via spack) it would be great because I don't have an IBM system at hand. If it solves the problem I will add a patch to spack for the previous releases.

Jonas

[2021-04-08 16:32] riscy768 opened #22868 "Installation issue: gdbm doesn't build on Cray Shasta with cce@11."
This is a repeat of issue #20206... easy fix. cce is a respin (I'm assuming) of aocc (makes sense as Shasta is AMD centric)

Same fix as 20206

var/spack/repos/builtin/packages/gdbm/package.py

Add:

patch('gdbm.patch', when='%cce@11:')

Chris Young

[2021-04-08 16:41] haampie commented on #22868
Can/did you make a pr?

[2021-04-08 16:50] maxim-belkin opened #22871 "Not super consistent dependency resolution"
The result of `spack spec` is not super consistent and depends on the flags used. This makes debugging lengthy build failures (e.g., `py-torch`) difficult...

### Steps to reproduce the issue

[code]

1. `spack spec ...` command resolves `diffutils` and `ncurses` to `arch=cray-cnl5-bulldozer`:
    <details>
    <summary><code>spack spec gettext@0.21%gcc@5.3.0 arch=cray-suse_linux11-bulldozer</code

[2021-04-08 16:54] samcmill opened #22872 "Installation issue: openssh"
#22115 added `openssh` as a dependency to the `openmpi` package.  `openssh` fails to build on my system, which breaks multiple upstream packages that depend on `openmpi`.

The workaround is to use an external ssh.

### Steps to reproduce the issue

[code]

The issue likely only appears if the user database is managed by NIS.

### Additional information

OpenSSH builds successfully, but during inst

[2021-04-08 17:18] alalazo commented on #22871
@maxim-belkin Does it consistently depend on flags (which would be weird), or it bounces among a set of solutions? Asking since it may happen, in rare cases, that two solutions have the same optimization score and clingo bounces among that.

[2021-04-08 17:24] maxim-belkin commented on #22871
Just checked and it definitely bounces between solutions -- even the `spack spec` command produces different results when executed twice in a row.

[2021-04-08 17:30] alalazo commented on #22871
I can reproduce on Piz Daint. I think this is peculiar to Cray, which allows for backend and frontend architecture.

[2021-04-08 17:41] alalazo commented on #22871
I think we have a bug in our logic program, since we never use the `node_os_inherit` fact:

https://github.com/spack/spack/blob/4adb76c4c5a65b808864e39d3fb6702e332fff51/lib/spack/spack/solver/concretize.lp#L464-L485

This usually works because most solves are done on systems with a single OS.

[2021-04-08 17:48] alalazo commented on #22871
@maxim-belkin Can you try to apply this patch:
[code]
it should make everything work also on Cray. I'll try to polish this and come up with a test for a proper PR.

[2021-04-08 17:48] eschnett opened #22875 "Want to build OpenBLAS without Fortran compiler"
I want to build without Fortran compiler. Currently, OpenBLAS is the hold-up because it requires a Fortran compiler. A comment there says "As of 06/2016 there is no mechanism to specify that packages which depends on Blas/Lapack need C or/and Fortran symbols. For now require both."

Could we introduce such a mechanism? For example, there could be virtual packages `lapack-c` and `lapack-fortran` wh

[2021-04-08 18:06] maxim-belkin commented on #22871
Thanks, @alalazo. Yes, the above patch makes `arch` of the dependencies consistent.

[2021-04-08 18:35] haampie commented on #22872
Instead of doing chrpath tricks, can you run `spack external find --not-buildable openssh` so that spack never builds it?

Or maybe you should make openssl external?

In any case, I think openssh as part of openmpi is not necessarily a mistake, since ssh is not always installed and CI tests were reported to fail in github actions with openmpi.

[2021-04-08 19:16] samcmill commented on #22872
Right, `spack external find openssh` is what I meant by "The workaround is to use an external ssh".

My concern is that many users will not know how to work around this, and I expect this will impact many people since many systems use NIS.

My preference would be to make the `openssh` dependency an optional `openmpi` variant rather than have it enabled by default.

[2021-04-08 19:30] riscy768 commented on #22868
I don’t know what a pr is.

Chris

[2021-04-08 20:03] glennpj commented on #22337
@vsoch The version that you were building is not currently in spack. You may be interested in #22879.

[2021-04-08 20:18] glennpj commented on #11680
Sorry for the late reply. I have not looked at the code recently but I seem to remember that `fetch` and `checksum` were separate code paths. As far as I can tell, `fetch` handles this properly. Could `checksum` do the same as `fetch`, which I guess is trying `list_url` if `url` fails. Since `checksum` works when a specific version is not specified, it may be just telling it to do the same thing w

[2021-04-08 20:20] glennpj commented on #11680
This would not be unique to CRAN packages, although they probably make up the bulk of packages that use `list_url`.

[2021-04-08 21:29] vsoch commented on #22337
Also pinging @alecbcs !

[2021-04-08 22:56] scheibelp commented on #22813
(EDIT 5 minutes after posting this: this patch is insufficient)

(fixed now) ~Unfortunately I am being held up by a secondary issue here (I think related to the docker image where I reproduced this error) where I cannot reinstall `intel-oneapi-compilers`. I'm trying to sort that out (which I think will take a day or two) and then get back to this issue.~

In the meantime, if you are able, can you

[2021-04-08 23:03] scheibelp commented on #22813
I was able to resolve my problem and try that diff: it was not sufficient. I'll keep at it.

[2021-04-09 00:54] scheibelp commented on #22813
#22888 fixes the issue for me. Could you try it out?

[2021-04-09 01:02] tldahlgren opened #22890 "Installation issue: rdma-core: cannot find PythonLibs"
I'm trying to build an environment that includes a dependency on `mvapich2@2.3.5` that fails to build due to `rdma-core` reportedly `missing: PYTHON_LIBRARIES PYTHON_INCLUDE_DIRS`.

### Steps to reproduce the issue

I can reproduce the problem using the concretized spec output shown below.  The same error is reported when I try to install `rdma-core@33.1` with the same constraints.

[code]

### In

[2021-04-09 02:36] fubingting opened #22892 "spack cmd problem:spack load and spack cd"
After spack update,there is a problem with spack cmd , when I use spack load,  I can't find the path to load include and library.At the same time, spack cd cannot enter the stage directory, it can only  use spack cd-s.

### Steps to reproduce the issue

[code]
### Error Message
[code]

### Information on your system
[code]
[code]

[2021-04-09 03:52] ikitayama commented on #22813
Thanks @scheibelp ! @hvds , would you mind checking the latest `develop` branch to see if it fixes?

[2021-04-09 04:20] ikitayama commented on #22861
I still see this with as of today's `develop` branch.

[2021-04-09 07:44] xiaoxuegou opened #22893 "problem in version compare"
There are some problem in version compare algorithm. For example, with versions “3.0.0” and "master" for taskflow, "3.0.0" will be thought as newest version( rmp project can get this result [python rpm_vercmp] ), numbers are always "newer" than letters. You can alter the code of version.py(Version:\_\_lt\_\_:285-297) as follow.

        # Standard comparison of two numeric versions
        for a,

[2021-04-09 11:27] samcom12 commented on #22799
Tried it but getting the below error.

![image](https://user-images.githubusercontent.com/13285627/114173334-a5a09800-9954-11eb-983a-e19ef0df3d49.png)

[2021-04-09 11:33] samcom12 commented on #22799
spack edit py-pymetis

_
from spack import *

[code]

@adamjstewart Can you please see it

[2021-04-09 11:40] hvds commented on #22813
Thanks, using spack@1b8d975a94 it worked for me.

[2021-04-09 12:51] adamjstewart commented on #22799
The last couple of lines look invalid, try updating the dependencies or commenting them out.

[2021-04-09 12:53] Billae commented on #22632
I have PR a first version for debug variant : #22900

But one fact annoyed me: in spack, the cmake build_type is a variant and I have not find how to recursively set variants. That means when i set the debug variant to True, even if the cmake build type is is given to cmake, the spack build_type variant is still in "Rel_with_debug" mode.

Have you an idea ?

[2021-04-09 13:14] hvds commented on #22093
For the record, I was able to `spack install perl %intel` without a problem, once I overcame an initial problem installing the intel compiler itself (https://github.com/spack/spack/issues/22813, which also has my environment details).

The warnings early in Configure:
[code]
.. occur because perl's `hints/linux.sh` tries to use gcc to find an appropriate set of library paths, but invokes it with t

[2021-04-09 13:35] MartinHilgeman opened #22902 "Installation issue: quantum espresso does not build correctly with OpenMP threading"
$ spack install quantum-espresso %gcc@10.2.0 +openmp ^fftw@3:+openmp ^openblas threads=openmp
..
     2767    /nvme/martinh/work/spack/opt/spack/linux-centos8-broadwell/gcc-10.2.0/openmpi-4.0.5-wb
             hohbw6htvmkj4qgo5qtvmtzpcqdydi/bin/mpif90 -g -pthread -fopenmp -o pw.x \
     2768       pwscf.o  libpw.a ../../Modules/libqemod.a ../../KS_Solvers/libks_solvers.a ../../up
             flib

[2021-04-09 15:50] cessenat commented on #22407
Maybe @sethrj would know what to do about it.

[2021-04-09 16:15] cessenat commented on #22407
Same pb with nvhpc@21.3 and
$ spack debug report
* **Spack:** 0.16.0-2228-facb72f17e
* **Python:** 3.6.9
* **Platform:** linux-ubuntu18.04-zen2
* **Concretizer:** original

[2021-04-09 16:15] adamjstewart commented on #22893
This isn't true. Spack has special handling for what we call "infinity versions", which includes:
[code]
This is explained here: https://spack.readthedocs.io/en/latest/packaging_guide.html#version-comparison

Here is a Spack sessions to show this:
[code]
Although `master` is considered to be "newer" than 3.0.0, Spack defaults to choosing the newest numeric stable release. Let me know if you have a

[2021-04-09 16:19] sethrj commented on #22407
@cessenat SWIG uses a pretty outdated build system, including some wacky hardcoded flags meant for older GCC versions. However, since SWIG is just used for *generating* code, and the code it generates is pretty compiler-independent (and does *not* depend on the compiler used to build SWIG) I strongly recommend just building it with your GCC core compiler.

If you *really* want to build with ~~cray

[2021-04-09 16:20] samcmill commented on #22407
A "big hammer" solution is to create `$HOME/.mynvcrc` with the content:
[code]

The more robust solution would be to figure out which Makefile is adding `-ansi` and modify the `swig` package to filter out that option when using `nvhpc`.  See the `libxml2` package for an example.

[2021-04-09 16:23] adamjstewart commented on #22892
The `spack cd` bug was reported in #22738 and fixed in #22755, this fix will be included in Spack 0.16.2 and 0.17.0, and is already merged in develop.

The `spack load` bug was likely caused by #21699 and #14749. We no longer set `C_INCLUDE_PATH`, `CPLUS_INCLUDE_PATH`, `INCLUDE`, or `CPATH` by default. You can add these back in your personal `modules.yaml` file to get around this. Maybe @alalazo o

[2021-04-09 17:03] cessenat commented on #22407
Thanks ! @sethrj worked fine !
I failed to properly use the hammer @samcmill, but never mind since the master build passed.
Cheers

[2021-04-09 17:38] #22407 closed, assigned to nobody

[2021-04-10 01:10] #22813 closed, assigned to scheibelp

[2021-04-10 02:32] ax3l opened #22918 "CMakePackage: Default Build Type"
I realized the default build type for `CMakePackage` in spack is `build_type [RelWithDebInfo]`.

That's cool (I do the same for my projects) because `-g` comes with no real (runtime) cost and adds understanding on crashes; but there is an important detail: due to legacy reasons, most compilers are set up with `-O2` on that build type:
https://github.com/ECP-WarpX/WarpX/issues/1201
https://github.c

[2021-04-10 02:35] ax3l commented on #22918
co-assigning people that did a lot of editing in the package and might be interested :)

[2021-04-10 06:04] sethrj commented on #22918
I think for an HPC software package system the goal should eventually be the "most performant" build -- but since spack is still in development (no 1.0 tag yet) the extra debuggability of packages built using `RelWithDebInfo` could be justification for staying as-is. It's probably worth suggesting in the docs for building out HPC software stacks to add `build_type=Release` under the variants.

The

[2021-04-10 09:14] haampie commented on #22918
Hehe, I just made Meson use the same as CMake: #22715. But I can see the argument in favor of Release by default. I do like having at least debug symbols in CI, but of course I could add the `build_type` variant there by hand.

[2021-04-10 11:55] haampie opened #22920 "Unit tests write to `<spack>/opt/` folder."
I'm trying to make https://github.com/haampie/spack-batteries-included pass its tests, which currently fail because spack is mounted on an immutable filesystem and multiple tests try to write to the `<spack>/opt` folder.

### Steps to reproduce the issue

[code]

All tests fail, except when I add `mutable_database` to all.

[2021-04-10 12:49] haampie commented on #22920
[code]
this test makes a directory in $spack :thinking: can that be avoided @tldahlgren?

[2021-04-10 22:32] ikitayama commented on #22093
@hvds , which `intel` version are you using now? From `intel-oneapi-compilers` or `intel` ?

[2021-04-11 01:25] hvds commented on #22093
This was using the result of the `spack install intel-oneapi-compilers %gcc@7.5.0` described in https://github.com/spack/spack/issues/22813.

[2021-04-11 01:34] ikitayama commented on #22093
Thanks! JURECA-DC's GPFS is currently very slow upon doing any work
including build, I'll revisit when the GPFS becomes stable again.

On Sun, Apr 11, 2021 at 10:26 AM Hugo van der Sanden <
***@***.***> wrote:

[2021-04-11 07:01] #22871 closed, assigned to alalazo

[2021-04-11 07:45] ikitayama opened #22923 "Installation issue: `intel-oneapi-compilers`"
### Steps to reproduce the issue

[code]

### Information on your system

### Additional information

* [spack-build-out.txt]()
* [spack-build-env.txt]()

### General information

- [x] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [x] I have run `spack maintainers <name-of-the-package>` and @mentioned any maintainers
- [ ] I have uploaded the build log and en

[2021-04-11 07:45] ikitayama commented on #22923
[code]

[2021-04-11 07:46] ikitayama commented on #22923
@danvev , @rscohn2 would you kindly take a look at this issue?

[2021-04-11 07:46] ikitayama commented on #22923
I'd like to have an Intel compiler that does not require a licence file.

[2021-04-11 07:57] ikitayama commented on #22093
Tested; worked:

[code]

Mine is `intel@2021.2.0`.

[2021-04-11 08:04] ikitayama commented on #22093
However, if I switch to Intel compiler module that admins provide, it still breaks the build.

[2021-04-11 14:02] rscohn2 commented on #22923
You don't need a license file to use the intel compiler when you install oneapi packages. The problem you are seeing usually occurs when there isn't enough space available. Can you check?

[code]
The compilers need 4.6G of free space + 2G for the download:
[code]
I sometimes free up space by deleting the spack download cache:
[code]

@DanVev: The installer emits an informative error message, but w

[2021-04-11 22:22] ikitayama commented on #22923
That was it, thanks for showing the commands to me. They are very helpful.

[2021-04-12 06:49] sethrj commented on #17270
I'm closing since #22772 was merged. Thanks @vvolkl for the backport and @tmadlener for helping debug!

[2021-04-12 07:06] vvolkl commented on #17270
@sethrj #22772 only fixes part of the issue - with `+webkit` I still get a build failure. It looks like some dependencies may be missing, but I haven't had time to look into it yet. I can open a new issue once I do.

[2021-04-12 07:18] sethrj commented on #17270
Ah alas. @vvolkl Revisiting your third build log, I notice an issue that [another user asked on Slack](https://spackpm.slack.com/archives/C5W7NKZJT/p1616663239174500) -- `qt+webkit` appears to require Python 2.7, but your concretization shows Python 3.8.8.
[code]
I'll update the recipe to add the restriction but you might have trouble concretizing... you might need need the clingo solver for it to

[2021-04-12 08:55] fubingting commented on #22892
If I want to continue to use it, can I only add lib and lib64,include to etc/spack/defaults/modules.yaml? Is there any other way? @adamjstewart

[2021-04-12 09:00] #17270 closed, assigned to nobody

[2021-04-12 09:19] #22627 closed, assigned to nobody

[2021-04-12 10:21] Weugene opened #22929 "Installation issue: Installation of paraview@5.9.0 failed"
### Steps to reproduce the issue

[code]

Additional files see in the attachments (to upload I have to change the extension of files adding txt)
[packages.yaml.txt](https://github.com/spack/spack/files/6295799/packages.yaml.txt)
[modules.yaml.txt](https://github.com/spack/spack/files/6295800/modules.yaml.txt)

[2021-04-12 12:20] srekolam commented on #22802
fixed with with PR #22881

[2021-04-12 12:20] #22802 closed, assigned to srekolam

[2021-04-12 14:17] ilbiondo opened #22932 "spack activate fails if dependencies are already activated"
When activating an extension (python or R) the activation fails if any of the dependencies are already activated.

### Steps to reproduce the issue

[code]

There's the same behaviour if one tries to activate an already activated package.

With an older Spack instance (0.13.3) this returns an informational message and the activation continues.

### Error Message

[code]

### Information on your sy

[2021-04-12 17:04] shahzebsiddiqui opened #22938 "list all tags in spack list"
There is a command `spack list -t <TAG>` that can query packages by tagname but we don't know all registered tags. I know of one tagname `ecp` and there are few packages registered with this tagname

[code]

The maintainers should be able to register their product with tagname, so first we should have an option in `spack list` to  report all unique tags with an option like  `--list-tags` or `--get

[2021-04-12 17:49] adamjstewart commented on #22892
You shouldn't modify `etc/spack/defaults/modules.yaml`, these are the defaults that ship with Spack. You should instead override this at a higher level in the settings hierarchy. See https://spack.readthedocs.io/en/latest/configuration.html#configuration-scopes

[2021-04-12 19:30] romintomasetti commented on #22859
I could not reproduce the bug. CMake was successfully installed (`cmake-3.20.0-jkqw2o56adzygbkk5wbxrskcecm66cxq`).

[code]

I also tried `cmake-3.19.2` (`cmake-3.19.2-fkjdzsucqyyqrdwtyszryli4qegp7lwz`), no issue.

[2021-04-12 21:08] glennpj opened #22948 "Installation issue: quantum-espresso does not build with elpa"
I am not sure if this is a quantum-espresso or elpa issue but quantum-espresso is misidentifying the version of elpa.

### Steps to reproduce the issue

[code]
[code]
Looking at the build log I see:
[code]
### Information on your system

[code]

### Additional information

maintainers: @naromero77
### General information

- [x] I have run `spack debug report` and reported the version of Spack/Pyth

[2021-04-12 21:12] glennpj commented on #18872
This is no longer an issue now that cuda_arch is getting set.

[2021-04-12 21:12] #18872 closed, assigned to nobody

[2021-04-13 00:54] eschnett opened #22951 "Installation issue: hpctoolkit"
### Steps to reproduce the issue

[code]

### Information on your system

[code]

### Additional information

* [spack-build-out.txt]()
* [spack-build-env.txt]()

I could not find these files – maybe they were not yet generated?
[code]

@mwkrentel

### General information

- [x] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [x] I have run `spack maintainers <n

[2021-04-13 01:01] jjellio commented on #22918
I generally use `Release` and set `*flags=-g` - in my little world, `RelWithDebInfo` can also mean more things. (e.g., in Trilinos that means some additional 'Debug' checks can get enabled).... the dirty laundry of HPC builds (and the moral of that story, just set release + `-g` ><)

That said - I wouldn't change the default (I'd have it on par with whatever Kitware uses).

@sethrj You may want to

[2021-04-13 02:19] omor1 opened #22952 "Build dep from upstream spack instance not used"
I am using a downstream spack instance and want to make use of upstream build deps when installing `clingo@master+python` with upstream versions of `python@3.8.5` (`/naaw62b`) and `cmake@3.18.2` (`/nvinghk`).
[code]

As can be seen, an appropriate version of the build dependency `bison` was found in upstream, `bison@3.6.4` (`/omiok4y`). However, when installing, spack insists that it must install

[2021-04-13 03:13] mwkrentel commented on #22951
@eschnett   Let me guess, you're using gcc 10.x ?

There was an ill-advised commit (#22864) that added a patch to
hpctoolkit for gcc 10.  (The didn't tell me.)  The problem is that the
patch is applied unconditionally to all revs but should be applied
only to an old rev.

Try removing the patch from hpctoolkit/package.py and I'll submit a PR
to fix the recipe.

[2021-04-13 04:05] omor1 opened #22953 "setup-env.{sh,csh,fish}: load Lmod hierarchy"
`setup-env.{sh,csh,fish}` should load the Lmod module hierarchy instead of or in addition to the tcl hierarchy.

### Rationale

The upstream spack instance being used uses an Lmod module hierarchy to manage the environment. `setup-env.sh` unilaterally injects tcl modules into this setup; I would prefer to use Lmod to properly integrate with the upstream env.

It should be possible to disable tcl m

[2021-04-13 04:55] samcom12 commented on #8616
May I know how you guys succeed in using **_py-scipy_** with Intel compilers?

I'm getting the below error at runtime.

[code]

I have followed all the above-discussed links but couldn't get it working.
@adamjstewart @s-sajid-ali

[2021-04-13 05:05] omor1 commented on #22786
This appears to happen only with `clingo`, not with the original concretizer—even when `%gcc` is explicitly specified.

[2021-04-13 05:33] omor1 opened #22954 "Clingo concretization fails when compiler flags propagated to dependents"
`libgcrypt` is installed with `gcc@8.3.1`:
[code]

I want to install `ccache` with `gcc@10.2.0` and this existing `libgcrypt`:
[code]

The original concretizer handles this flawlessly:
[code]

### Steps to reproduce the issue

I'm not sure what exact setup will reproduce this; I believe it has to do with mixed-compiler setups where the compilers have different `cflags`, `cxxflags`, `fflags`, etc.

[2021-04-13 07:32] ikitayama commented on #22923
@rscohn2 , actually, I was installing fresh onto the Filesystem that has enough storage; but I still get the issue I've reported above. This is observed on a Debian system.

[2021-04-13 07:48] vdanilin commented on #22923
@ikitayama, could you provide spack-build-out.txt file? The last line in command output mentions it:
[code]
Also, logs of oneAPI installer would be very helpful, they are all stored in "/tmp/$USER/intel_oneapi_installer". (I guess it should be /tmp/kitayama/intel_oneapi_installer in your case)

[2021-04-13 08:09] omor1 commented on #22954
Looking further into this, I believe this actually has something to do with how compiler flags are propagated to dependents (which, honestly, is something I'd prefer _not_ happen, or at least something I can override, but...).

[code]

Looking at the call site of `check_same_flags` (`asp.py:L1517`), it is expected that "nodes with no flags get flag order from compiler"—but this isn't happening (th

[2021-04-13 09:09] ikitayama commented on #22923
[spack-build-out.txt](https://github.com/spack/spack/files/6302542/spack-build-out.txt)

[2021-04-13 09:11] ikitayama commented on #22923
[code]

[2021-04-13 09:19] omor1 commented on #22954
I believe I have a working solution. Dependencies were getting flags from `compilers.yaml` and were considered to be using the compiler defaults even though they had flags inherited.

Is it intended that giving _any_ flag on the command line prevents packages from getting _any_ other flag types from `compilers.yaml`? That isn't the behavior under the current concretizer.
[code]

[2021-04-13 09:26] vdanilin commented on #22923
@ikitayama, if you still have `/users/kitayama/projects/spack/opt/spack/linux-debian9-k10/gcc-10.2.0/intel-oneapi-compilers-2021.2.0-lbhe4by7brfctemot7pyrsimgiq6aifp` exist, try the following:
1) cd to this folder, then go to intel/installercache
2) do `df -h .`, verify that you have enough space for database creation
3) try creating any file in this folder, e.g. by running`touch packagemanager.db

[2021-04-13 11:30] ikitayama commented on #22923
I did this again `$ spack install intel-oneapi-compilers` , but the corresponding directory wasn't created under the
`gcc-10.2.0`. There's enough store according to the df command.

[2021-04-13 11:40] ikitayama commented on #22923
For `vim` spec, the directory is created under the `gcc-10.2.0` as expected.

[2021-04-13 11:51] vdanilin commented on #22923
Did i get it right that you don't have oneAPI related folders in `/users/kitayama/projects/spack/opt/spack/linux-debian9-k10/gcc-10.2.0/`?

[2021-04-13 11:53] ikitayama commented on #22923
Yes.

On Tue, Apr 13, 2021 at 20:51 Vasily Danilin ***@***.***>
wrote:

[2021-04-13 12:51] vdanilin commented on #22923
Try installing one more time with `--keep-prefix` enabled.
From https://spack.readthedocs.io/en/latest/command_index.html#spack-install:
[code]
I think it should preserve installation logs in the folder.

[2021-04-13 17:13] romintomasetti commented on #15229
# Step 0

I tested in a fresh `Ubuntu 20` docker image (installing `gcc g++ gfortran make curl`)
[code]

# Step 1

* `spack install gcc@4.8.5` ends up in the error mentioned above.

# Step 2

* Apply the patch found in https://gcc.gnu.org/git/?p=gcc.git&a=commit;h=16b277761b432510ad6dcf72d877ae72b5f0a4b7, mentioned by @rountree .

    -  adding `patch('custom.patch',when='@4.8.5 os=ubuntu20.04')`

[2021-04-13 17:28] EliasOPrado commented on #1605
I am having the same issue with `README.rst` in which I have an issue with less `=` characters if compared with the title. I changed and ran the command: `twine check dist/*` but the error still there as same as if there had an cache issue in the id not recognising the changes.

[code]

[2021-04-13 17:41] adamjstewart commented on #1605
@EliasOPrado this doesn't seem to have anything to do with Spack's documentation, but your issue is pretty easy to solve:

[2021-04-13 17:58] EliasOPrado commented on #1605
Yes, that was the issue. I had to remove the `dist/` folder edit the `README.rsd` file with specified and the error now is gone. Thanks.

[2021-04-13 18:14] cyrush commented on #22932
I hit this as well, i think it's fixed on develop but not sure how that feeds into 0.16.2:

https://github.com/spack/spack/issues/22530

[2021-04-13 18:46] elleryames opened #22970 "Installation issue: paraview"
### Steps to reproduce the issue

[code]
Same error when I select the cuda variant and appropriate architecture for my machine.

[code]
What does  the "['10']" at the end of the error message mean? It seems that should help me debug the issue.

### Information on your system

* **Spack:** 0.16.1-2041-1908e6834d
* **Python:** 3.8.5
* **Platform:** linux-ubuntu20.04-zen2
* **Concretizer:** clingo

[

[2021-04-13 19:11] schrummy14 commented on #21688
@robert-mijakovic, I did not.

[2021-04-13 19:28] elleryames commented on #22929
Hi @Weugene . One issue seems to be that spack is not finding a fortran compiler. If you run

[code]
and then
[code]
for one of the versions listed, do you see a fortran compiler?

If not, you might run
[code]
or install one.

[2021-04-13 21:17] ikitayama commented on #22923
I confirm that there's enough disk space and I was able to create a file in the folder, which was kept with `---keep-prefix` option.

[2021-04-13 21:31] #18371 closed, assigned to nobody

[2021-04-13 21:48] #22890 closed, assigned to tldahlgren

[2021-04-13 22:19] vicentebolea commented on #22970
@elleryames I am not abled to reproduce this error. I am also with gcc 10.2 with spark at that commit.

[2021-04-13 22:36] elleryames commented on #22970
Thanks for checking @vicentebolea . Any ideas for what else I should try or what is throwing an error? Are you using the clingo concretizer? Naively, it seems spack is checking the type or something for variant values and finds a problematic one. I checked the package.py and see no value '10' listed in the cuda_arch values.

[2021-04-13 23:36] becker33 commented on #22954
No, the intention is that specifying a specific concrete spec prevents the spec from getting anything from compilers.yaml, but otherwise all packages with that compiler get those flags, in addition to any they got from the command line.

[2021-04-13 23:43] alecbcs commented on #22337
@glennpj Thanks for the note! I must have missed that this was an experimental update in our repository move. Great to see it get updated in the Spack repository to support the new version! @vsoch I think we can go ahead and close this issue since it was caused by a broken update not a broken package.

[2021-04-14 00:32] omor1 commented on #22954
Alright, that's another bug in the new concretizer then. In addition to fixing `node_flag` and `node_flag_compiler_default`, this probably requires parameterizing `node_flag_source` on `FlagType` and `Flag` (i.e. where did this package get this flag for this flag type) as well as a way of specifying that the source was `compilers.yaml`. Something like

[code]

[2021-04-14 01:16] jjellio commented on #22954
FYI - I hunted an issue that gave the same error with @alalazo

For us, the problem was:
1. I **have** flags in `compilers.yaml`
2. spack was seeing two compilers but one with flags and one without
3. This happened because the default compilers got installed into `spack_root/etc` (because I was working on shared workflow)

TLDR: list the compilers spack sees - you may have a duplicates...

The con

[2021-04-14 04:13] Tom-python0121 opened #22979 "The compilation and installation of the p4est software update is faulty"
The compilation and installation of the p4est software update is faulty.
### Steps to reproduce the issue

[code]
I'm going to fix the bug in the p4est test source code, and p4est has changed the header in this link: https://github.com/cburstedde/libsc/commit/a89a00f0d23e62c1a8a31a96bf0a357bc504d357 . I follow the description in package.py. The URL of the version update has been changed, but I fai

[2021-04-14 04:57] mingbairen opened #22980 "Installation issue: Function not implemented"
[ff@mu01 preCICE]$ git clone -b develop https://github.com/spack/spack.git
[ff@mu01 preCICE]$ ls
spack
[ff@mu01 preCICE]$ . spack/share/spack/setup-env.sh
Traceback (most recent call last):
  File "/home/fengjingshen/preCICE/spack/bin/spack", line 76, in <module>
    sys.exit(spack.main.main())
  File "/home/fengjingshen/preCICE/spack/lib/spack/spack/main.py", line 726, in main
    print_setup_inf

[2021-04-14 05:38] ikitayama commented on #22923
I'm just wondering if this spec wasn't tested on Debian (or Ubuntu) much?

[2021-04-14 05:41] ikitayama commented on #19871
On a non-GPFS system, Spack operates much more quickly, when loading a spec. I'd like to see  an improvement for the GPFS or parallel filesystems in general. @alalazo can you tackle on this issue again if you have time.

[2021-04-14 05:47] ikitayama commented on #22923
@DanVev et al., from now on, how do you guys maintain the licenced one `intel` and free-of-charge `inte-oneapi-compilers` side-by-side?

[2021-04-14 06:09] mingbairen commented on #22980
I mainly want to install precice through spack. I have just operated it again：
[ff@mu01 spack2]$ ls
spack-develop  spack-develop.zip
[ff@mu01 spack2]$ . spack-develop/share/spack/setup-env.sh
[ff@mu01 spack2]$ spack install precice ^boost@1.74.0
==> Error: [Errno 38] Function not implemented

[2021-04-14 06:24] ikitayama commented on #19871
Please note I've been on the cutting edge branch; develop for a long time.

[2021-04-14 08:15] haampie commented on #19871
Can you enable profiling and see where most time is spent @ikitayama?

[code]

[2021-04-14 08:18] ikitayama commented on #19871
Will do that when JURECA comes back online (tomorrow your time)!

On Wed, Apr 14, 2021 at 5:16 PM Harmen Stoppels
***@***.***> wrote:

[2021-04-14 08:24] ikitayama commented on #19871
Oops the day after tomorrow

On Wed, Apr 14, 2021 at 17:18 Itaru Kitayama ***@***.***>
wrote:

[2021-04-14 09:43] dev-zero commented on #21539
Side note: libxsmm now has preliminary support for AArch64, even SVE (K64FX).

[2021-04-14 09:54] dev-zero commented on #21539
@Tom-python0121 were you able to solve your problem in the meantime?
If not, we need more info here:

* what is the environment where you are running `make ...`? Spack `build-env` or similar? Make sure that `mpirun` and the MPI library CP2K is linked against are consistent (although there is usually an error message if they aren't)
* the output of `readelf -d ...` of the CP2K executable to see whi

[2021-04-14 10:24] vdanilin commented on #22923
Regarding testing, we have passed essential testing, so your case seems odd for me, need more info to investigate it further.
Could you zip and send logs folder? from `/tmp/kitayama/intel_oneapi_installer`

@rscohn2, could you comment on a question about licensing?

[2021-04-14 10:32] Tom-python0121 commented on #22716
Who can help me with this enablement issue, it took me a long time and didn't fix it.

[2021-04-14 11:27] haampie opened #22982 "mpich picks up system libfabric"
### Steps to reproduce the issue

On ubuntu 20.04

[code]

When installing spfft, cmake complains:

[code]

After running `spack uninstall mpich` and `apt-get remove libfabric-dev` it does not complain.

[2021-04-14 13:51] rscohn2 commented on #22923
The spack toolchain that is called intel comes from Parallel Studio and the spack toolchain called oneapi comes from oneAPI toolkits. Parallel Studio has transitioned to oneAPI. You can read about what is supported here: https://software.intel.com/content/www/us/en/develop/articles/intel-parallel-studio-xe-supported-and-unsupported-product-versions.html

The installer team tests on many  platforms

[2021-04-14 19:33] jjellio opened #22994 "CmakePackages: add build_generator option"
I'd like to push a change to CMake packages.  Currently, Ninja or Makefiles are supported, but it's a static (in the sense of defined by the packager) property. E.g., a packager can declare ninja or make as the Generator.

This is pretty rigid.  To make it more dynamic, I've added a `+ninja` variant to a few packages, then overridden `_std_cmake_flags` to conditionally set the generator as `Ninja`

[2021-04-14 21:34] #22865 closed, assigned to nobody

[2021-04-14 21:54] Nandinihpc opened #22997 "spack concretize issue"
When i do spack concretize -f it started showing up with this error.

==> Error: variant "header_only" not found in package "cgal"

I have not seen this error before but only today. I thought of removing cgal but it is one of the dependencies of openfoam. So i will be able to remove it as openfoam install is painfully and takes really longtime . So is there a workaround for this issue. I even trie

[2021-04-14 23:25] vicentebolea commented on #22970
I could reproduce the error using the clingo concretizer. I found the reason of the problem.

1. Paraview package inherits from the cuda package.
2. They cuda package set the cuda_arch variant too but using the gencode number (thats why the 10)
3. For some reason this does not result in problems with the original concretizer
4. With the clingon the result variant is a mix of both the cuda package

[2021-04-15 00:03] elleryames commented on #22970
I see; nice find! Would it be possible to enlarge the set of values for cuda_arch in the Paraview package? Something like

`    variant('cuda_arch', default='native', multi=False,
            values=('native', 'fermi', 'kepler', 'maxwell',
                    'pascal', 'volta', 'turing', 'ampere', 'all', 'none') + cuda_arch_values,
            description='CUDA architecture')`

where `cuda_arch_va

[2021-04-15 01:02] ikitayama commented on #22923
Installing it onto a new partition backed by BeeGFS was succeeded without an issue. Our local admin suggests to use the new partition for better IO performance, so I'd like to close this ticket for now. Would this be okay for you?

[2021-04-15 01:42] ikitayama commented on #19871
This is measured on BeeGFS, not on GPFS.

[code]

[2021-04-15 02:10] psakievich commented on #22970
I'm seeing this too.  Typically [this](https://github.com/spack/spack/blob/95ad5b882c990971e74d04261a665ba680f7c4be/var/spack/repos/builtin/packages/nalu-wind/package.py#L77) is how I've seen this dealt with.  Is there another package using the arch family?  If there is a list then we can just make a map.  I'll try to throw something together tonight.

Edit: ah looks like that is what vtk-m is doi

[2021-04-15 03:11] steo85it opened #23003 "Installation issue: qgis"
### Steps to reproduce the issue

[code]
results in several concretization (`^cairo`, `gobject` conflict) and compilation (`^llvm`, `binutils` missing a property) errors, at least on my platform.
I managed to solve the issues by specifying
[code]
Unless this is specific to my system, it might be good to update the default behavior (I unfortunately don't know how to set this up, but hope the detail

[2021-04-15 03:18] psakievich commented on #22970
The above hack will at least allow concretization to happen.  I haven't messed with the rest of the logic. @vicentebolea what are your thoughts? Not really sure of how to get around having a valid variant without appending the list.  Maybe add an override function to check the variant?

[2021-04-15 07:05] vdanilin commented on #22923
@ikitayama sure, no problem.

[2021-04-15 09:17] #22997 closed, assigned to nobody

[2021-04-15 10:53] Tom-python0121 commented on #21539
@dev-zero see:
[code]
That's the software I'm using and the dependencies and environments I need. Even though you're right: Side note: libxsmm now has preliminary support for AArch64, even SVE (K64FX)., it still reports the same error. What should I do?

![bug1](https://user-images.githubusercontent.com/77763324/114858305-e187a180-9e1b-11eb-8818-b9b50aaa4791.png)

[2021-04-15 12:02] alalazo commented on #22859
Closing, but feel free to reopen if you have more pointers.

[2021-04-15 12:02] #22859 closed, assigned to nobody

[2021-04-15 12:33] Tom-python0121 commented on #21539
The related error logs are as follows:

![bug1](https://user-images.githubusercontent.com/77763324/114868668-c1aaaa80-9e28-11eb-8e48-e87532ca0b28.png)
![image](https://user-images.githubusercontent.com/77763324/114869648-d0459180-9e29-11eb-9938-a2c9e788bc90.png)
This shows that things haven't changed much.

[2021-04-15 14:49] haampie opened #23007 "spack external find should probably follow symlinks"
### Steps to reproduce the issue

I have an environment with a bunch of packages including openssl and python. It creates a view. I add this `view/bin/` folder to my path. Now I run `spack external find openssl`. This adds an entry:

[code]

Now I run `spack install python`. Python *fails* to install, because everything in the environment view is exposed to the build, not just openssl.

Maybe spac

[2021-04-15 16:05] Nandinihpc opened #23008 "new concretizer issue with paraview package"
But using new concetizer this is the new error with paraview
spack concretize -f
==> Error: invalid values for variant "cuda_arch" in package "paraview": ['10']
Let me know the fix please. thanks

[2021-04-15 17:04] adamjstewart commented on #23008
@chuckatkins @danlipsa @vicentebolea are our `paraview` package maintainers.

The issue is that the package inherits from the `CudaPackage` base class, which contains things like:
[code]
but overrides the `cuda_arch` variant like so:
[code]
The solution would be one of the following:

1. Don't inherit from `CudaPackage`, which requires a `+cuda` variant and dependencies/conflicts, or
2. Don't over

[2021-04-15 17:09] vicentebolea commented on #23008
This was also reported here https://github.com/spack/spack/issues/22970.

Fixes also being discussed there

[2021-04-15 18:02] Nandinihpc commented on #23008
the problem is before installing new concretizer i have openfoam with paraview installed.  And the server that i have built openfoam doesnt have GPU so i have not added cuda variant at all to my built process. For non GPU server let me know the fix which doesnt need cuda packages at all.

[2021-04-15 19:09] pramodk opened #23013 "Installation issue with openjdk: "Error: NameError: name 'Prefix' is not defined""
### Steps to reproduce the issue

Latest spack develop on OS X gives:

[code]

### Information on your system

* Mac OS 10.15.5
* Spack cloned today

[2021-04-15 19:51] Sinan81 commented on #23003
This is a shortcoming of the spack concretizer (that does dependency resolution). While Spack will be upgrading to a better concretizer soon (as I understand) in the mean time it might be useful to put some lines in Qgis package file that helps with this. @steo85it could you try doing `spack edit qgis` and putting the following line somewhere after the comment `# Take care of conflicts...`
[code]

[2021-04-15 19:53] Sinan81 commented on #23003
By the way, I am on centos7 too and `spack spec qgis` works without `^binutils+plugin`.

[2021-04-15 19:58] mansourmoufid commented on #22088
I tested archspec/archspec#46 and archspec/archspec-json#24 and it works. :)

    $ git clone https://github.com/spack/spack.git
    $ export PATH="spack/bin:$PATH"
    $ git clone https://github.com/archspec/archspec.git
    $ cd archspec
    $ git checkout features/apple_m1
    $ cd
    $ cp archspec/archspec/cpu/detect.py spack/lib/spack/external/archspec/cpu/detect.py
    $ git clone https://g

[2021-04-15 20:56] steo85it commented on #23003
Thanks for the quick feedback! The modification you suggested seems to work for `spack spec qgis`, while the (missing) `^binutils+plugin` doesn't affect the `spec` step, but causes the installation to crash (at least in my system).

[2021-04-15 21:08] ikitayama commented on #19871
The data are taken on JURECA-DC:
[code]

[2021-04-15 21:15] EthanS94 opened #23018 "Installation issue: conduit+python installs modules to <prefix>/python-modules instead of <prefix>/lib/pythonx.x/site-packages"
@cyrush

### Steps to reproduce the issue

[code]

### Information on your system

[code]

### Additional information

### General information

- [x] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [x] I have run `spack maintainers <name-of-the-package>` and @mentioned any maintainers
- [ ] I have uploaded the build log and environment files
- [x] I have searche

[2021-04-15 21:39] ikitayama commented on #19871
Does Spack redundantly do file operations?

[2021-04-15 21:39] ikitayama commented on #19871
@haampie , @tgamblin , @becker33 ?

[2021-04-15 21:40] ikitayama commented on #19871
This is a sore point while using Spack on GPFS.

[2021-04-15 21:42] haampie commented on #19871
Can you try to figure out where the 10874 stat calls come from? Seems like it's redundant if the output is just a few exported env variables...

[2021-04-15 21:43] ikitayama commented on #19871
@haampie how do I do that?

[2021-04-15 21:47] haampie commented on #19871
A very rudimentary way is to just comment out a few lines in `lib/spack/spack/cmd/load.py` or `lib/spack/spack/user_environment.py` and run the profiler again

[2021-04-15 22:34] ikitayama commented on #19871
Let me try that and report back here over the weekend; today's Friday here and am kind of busy with other things.

[2021-04-15 23:03] #22923 closed, assigned to nobody

[2021-04-16 00:10] tgamblin commented on #19871
Those are from `FastPackageChecker` in `repo.py`.  It's used to figure out when we need to reindex the repo.  In particular, the call to `is_virtual` in there triggers it; it has a `use_index` option to use the index generated when `FastPackageChecker` discovers some package is out of date.

There is a tricky interaction between the various package indices (e.g., of virtuals, patch SHA's, etc.) an

[2021-04-16 00:13] tgamblin commented on #19871
Also, if you want a better sense of where performance issues come from, use `pyinstrument`.  You should be able to install `py-pyinstrument` in a spack environment, then use its python to run spack.  If you do that, you can run something like this:

[code]

`--show-all --hide xxx` will ensure that all frames are shown -- you may not need them but I sometimes find them useful.

That command will gi

[2021-04-16 01:04] timho99 opened #23023 "Installation issue: charmpp"
### Steps to reproduce the issue

[code]

### Information on your system

SLES 15 SP2
Spack version 0.16.1

### Additional information

The issue is that the build script used by the Charm++ build process is hardcoded to use "lib" as the location for the libraries. However, on SLES 15, the default library directory is "lib64".

Looking at champp's package.py, setting the --basedir build option for

[2021-04-16 01:11] Tom-python0121 commented on #21539
@dev-zero when I do：[root@centos8 ~]# spack install -v cp2k
![image](https://user-images.githubusercontent.com/77763324/114957399-8b564500-9e93-11eb-841b-893d49bded9d.png)

[2021-04-16 02:28] Tom-python0121 commented on #21905
Please tell me if this solution works. This list has been hanging here for a long time.

[2021-04-16 04:26] ikitayama commented on #19871
@tgamblin thanks for teaching us the module!

[code]

[2021-04-16 05:38] alalazo commented on #20005
Hit this one too in a seemingly unrelated PR after a rebase, see https://github.com/spack/spack/pull/22720/checks?check_run_id=2359286434

[2021-04-16 07:50] IncubatorShokuhou opened #23025 "Installation issue: spack install openmpi%intel@2021.2.0"
### Steps to reproduce the issue

[code]

### Information on your system

* **Spack:** 0.16.1
* **Python:** 3.8.5
* **Platform:** linux-ubuntu20.04-skylake
* **Concretizer:** original

### Additional information

* [spack-build-out.txt](https://github.com/IncubatorShokuhou/spack_bug_report/blob/main/openmpi_intel_21.2/spack-build-out.txt)

### General information

- [x] I have run `spack debug rep

[2021-04-16 08:01] IncubatorShokuhou commented on #23025
BTW, the intel compiler is installed by `oneAPI HPC Toolkit`. And when I tried to install packages using `oneAPI` compilers (i.e. `icx`,`icpx`,`ifx`), almost no packages could be successfully installed.

[2021-04-16 08:33] ikitayama commented on #22923
While we are at it, could you @DanVev , @rscohn2 add yourselves to the maintainers list for `intel` as currently
it is not maintained by anybody. Thanks!

[2021-04-16 08:57] cessenat commented on #23025
You should have a look at the config.log file, there may be more messages.
Can you compile a basic Fortran program outside of spack ?
Often the issue is that path to libifort.so is not found ; if that is the case, you may add in ~/.spack/linux/compilers.yaml
- compiler:
    spec: intel@2021.2.0
.. bla bla bla...
    environment:
      append_path:
        LD_LIBRARY_PATH: $LD_LIBRARY_PATH:/opt/int

[2021-04-16 11:34] davehadley opened #23029 "Installation issue: root"
Spec: `root@6.22.00 +python` does not correctly build pyroot bindings

### Steps to reproduce the issue

[code]
produces the error message:
[code]

I do not get this problem building `root@6.16.00`.

### Information on your system

* **Spack:** 0.16.1-2167-982d3ab
* **Python:** 3.6.8
* **Platform:** linux-centos7-skylake
* **Concretizer:** original

### Additional information

I believe that the i

[2021-04-16 11:53] vvolkl commented on #23029
Thanks @davehadley for the report, and providing the fix already! Your proposed change looks reasonable to me. If you can open a PR with the changed line, I'd say, just go ahead.

[2021-04-16 11:57] davehadley commented on #23029
Yes I can put in a PR once I test that this fix builds successfully.

[2021-04-16 14:25] lrtfm opened #23032 "Installation issue: llvm@11.1.0 `ld fatal error: cannot use --plugin`"
### Steps to reproduce the issue

When I try to install llvm on my wsl, it reports the following error

[code]

The `spec` of the packages is:
[code]
@naromero77  @trws Should be `+plugins`  of `binutils` enabled by default?

### Information on your system

[code]

### Additional information

* [spack-build-out.txt](https://github.com/spack/spack/files/6325658/spack-build-out.txt)
* [spack-build-e

[2021-04-16 14:37] haampie commented on #23032
#22988

[2021-04-16 14:51] renderdude opened #23036 "Installation issue: LLVM fails on MacOS with clang and microarchitecture flags"
### Steps to reproduce the issue

Ensure that the clang compiler is **not** a mixed toolchain in compilers.yaml:

[code]
[code]
Make the clang compiler a mixed toolchain (in my case, I build gcc and copy the f77 & fc lines)
[code]
Success
### Information on your system
macOS catalina, 10.15.7

* **Spack:** 0.16.0-2323-a568903a64
* **Python:** 3.7.9
* **Platform:** darwin-catalina-skylake
* **Concr

[2021-04-16 15:19] chuckatkins commented on #22970
I'd opt for paraview not overriding and changing the meaning of `cuda_arch`.  Using standardized variant names across all spack packages using CUDA is one of the big advantages of using the base class.

[2021-04-16 15:25] vicentebolea commented on #22970
@chuckatkins true, however, changing this variant possible values from architecture family names to the standard ones gencode (10,11,20...) would break the dependency of paraview down the line for other packages or users enviroments depending on paraview.

But that being said this oddity would have to be resolved eventually

[2021-04-16 15:54] davehadley commented on #23029
I was able to build with the proposed change and now pyroot works as expected. Fix is in PR #23038

[2021-04-16 16:02] naromero77 commented on #22902
Thank you for your contribution. Can you please go ahead and make a pull request with your patch?

[2021-04-16 18:28] carns commented on #22548
Bump.  Has anyone else encountered this or been able to reproduce it with the shell script in the issue description?

I haven't been able to run CI against spack origin/develop on one of our platforms in quite some time now because the Jenkins environment happens to be in a path that is slightly too long.

I could make a wrapper script that creates a temporary directory elsewhere, but I would pref

[2021-04-16 18:28] becker33 commented on #22464
@corbett5 I think this can be fixed by adding a filter step to remove from `files_to_filter` any file that doesn't exist. That will future-proof the method a bit.

[2021-04-16 18:41] corbett5 commented on #22464
@becker33 Awesome! I don't think that will fix the compilation issue I had though, since it seems pretty orthogonal to the patch

[2021-04-16 18:47] becker33 commented on #22464
@corbett5 My best guess for the compilation issue is that it's similar to https://github.com/spack/spack/pull/20529. Could you try building with an older hdf5 (maybe 1.8 series?) and see whether that works?

[2021-04-16 18:49] #23032 closed, assigned to nobody

[2021-04-16 19:10] corbett5 commented on #22464
But the same version of Silo built with the same HDF5 and an older Spack, which leads me to believe it's an issue in Spack and not Silo itself. I guess I should probably compare the silo build arguments for the two versions...

[2021-04-16 20:23] naromero77 commented on #22982
I am running into this issues as well.

Most of DOE is at the ECP Annual Meeting, but hopefully someone from the MPICH team can take a look.
@raffenet

[2021-04-16 20:31] raffenet commented on #22982
Is the issue that it should be picking up a spack installed libfabric instead?

[2021-04-16 20:37] haampie commented on #22982
Yeah, I didn't really look into this further, but superficially it looks like it links against a different version of mpich than it uses as runtime

Mpich builds fine, only when you use it you get errors

[2021-04-16 20:43] naromero77 commented on #22982
Hmmm... I am able to build `spfft` with your command, but I get the same identical linking issue in another package, `quantum-espresso`, but only in conjunction with `^mpich ^intel-mkl`, if I only do `^mpich` I don't see it. I wonder if there is some implicit assumption in the `quantum-espresso` that all MPIs packages behave like `openmpi`.

[2021-04-16 20:57] adamjstewart commented on #23036
@alalazo I wonder if this is an issue with `archspec`?

[2021-04-16 20:59] adamjstewart commented on #23018
We should either convince `conduit` to install the libraries to the correct location, or add this directory to `PYTHONPATH` via `setup_run_environment`.

[2021-04-16 21:03] #23013 closed, assigned to nobody

[2021-04-16 21:31] Nandinihpc commented on #23008
thanks that fixes the paraview issue.

[2021-04-16 21:34] Nandinihpc opened #23052 "new concretizer issue with lammps adios dependency"
The new concretizer is having issue with lammps dependency adios.

spack concretize -f
==> Error: variant "adios" not found in package "lammps"

Let me know the fix please.

[2021-04-16 22:07] cyrush commented on #23018
conduit's build system supports this via `PYTHON_MODULE_INSTALL_PREFIX`, it was wired up in the spack package but maybe it was broken in recent updates. I'll take a look

[2021-04-16 22:11] cyrush commented on #23018
yes, looks like it vanished recently.  Here is an old version where it there (https://github.com/spack/spack/blob/ee30ec6a3555862cfda6af4fa1eff1c008643898/var/spack/repos/builtin/packages/conduit/package.py#L446)

I'll get this fixed.

[2021-04-16 23:35] cyrush commented on #23018
@EthanS94 @adamjstewart  I created #23057 which should resolve the issue.

[2021-04-16 23:41] EthanS94 commented on #23018
@cyrush thanks!

[2021-04-17 00:02] quellyn commented on #15750
I'm building expat with gcc now, which seems to be the best approach.

[2021-04-17 00:02] #15750 closed

[2021-04-17 00:10] quellyn commented on #17238
We've observed this same error (`JSONDecodeError`) on other packages -- but only on systems that have an older default Python installation (e.g., RHEL7, Python 3.6.8). If we load a newer Python (3.7.2), then this issue goes away.

Given that we have a workaround, and eventually the systems in question will retire or be upgraded, I'm closing this.

[2021-04-17 00:10] #17238 closed, assigned to nobody

[2021-04-17 00:11] quellyn commented on #15733
I'm now building this package with gcc, which seems to be the best approach.

[2021-04-17 00:11] #15733 closed

[2021-04-17 00:55] quellyn opened #23059 "Installation issue: hypre"
`hypre+cuda` build failing on LLNL Sierra-class platforms (e.g., RZAnsel).

### Steps to reproduce the issue

To reproduce this issue, I did the following on the RZAnsel system:

1\. Retrieve the spack source:
[code]

2\. Create the following config files (attached) within Spack's site configuration scope location, `$(prefix)/etc/spack`:
 - compilers.yaml
 - packages.yaml
 - spack.yaml

3\.  Amend

[2021-04-17 01:16] #23018 closed, assigned to nobody

[2021-04-17 01:22] lrtfm commented on #23032
Thanks. @haampie @sethrj

[2021-04-17 03:31] Sinan81 commented on #23003
Is it actually `qgis` or rather `llvm`, a indirect dependency, that fails to build without `binutils+plugins`? In my case `qgis` failed to build at `llvm` build step. qgis previously build with llvm@10 but this build issue might have to do with latest version llvm@11

[2021-04-17 03:49] Sinan81 opened #23060 "Installation issue: llvm@11.1 fails at cmake stage without `^binutils+plugins`"
### Steps to reproduce the issue
[code]

### Information on your system

$ spack debug report
* **Spack:** 0.16.1-2232-1a32f4a
* **Python:** 3.6.8
* **Platform:** linux-centos7-skylake
* **Concretizer:** original

### Additional information

### General information

- [x] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [ ] I have run `spack maintainers <name-of-

[2021-04-17 03:51] Sinan81 commented on #23060
The build works just fine with ` ^binutils+plugins` This makes sense since in `binutils` package file it is indicated that plugins is required by `+gold` variant. The binutils package might be the original cause of this issue.

[2021-04-17 03:52] Sinan81 commented on #23060
related to #23003

[2021-04-17 04:51] steo85it commented on #23003
you are right, it is the `llvm` dependency failing to build because of that specific mod.

[2021-04-17 06:56] haampie commented on #23060
Fixed by 22988

[2021-04-17 06:56] #23060 closed, assigned to nobody

[2021-04-17 06:58] haampie commented on #23003
Can you try again after #22988?

[2021-04-17 08:45] haampie opened #23062 "Faster source mirror"
The spack default source mirror provides very low download speeds (at least in Europe). I have a 1Gb/s internet connection at home and usually reach around peak speeds, yet "fetch" times are a large part of installing a package:

[code]

Can someone look into this?

[2021-04-17 08:59] haampie commented on #23062
When I disable the source mirror I get the following fetch times (6x or 7x faster):

[code]

[2021-04-18 18:05] Sinan81 commented on #23003
Well. Concretizer is still complaining but now for different reasons. Thanks @haampie

[2021-04-18 19:23] haampie commented on #23003
In what sense?

[2021-04-18 19:36] Sinan81 commented on #23003
Concretizer can't resolve the fact that indirect dependency `mesa` requires `binutils` with `~plugins` due to variant defaults while the other indirect dependency `llvm` requires `+plugins`

[2021-04-18 19:38] Sinan81 commented on #23003
I think we will end up putting `depends_on('binutils+plugins')` to help the concretizer which can be removed once we have an improved default concretizer.

[2021-04-18 19:40] adamjstewart commented on #13028
@gsjaardema

[2021-04-18 23:33] Nandinihpc opened #23073 "netlib-lapack install issue"
### Steps to reproduce the issue

[code]

### Information on your system

### Additional information

* [spack-build-out.txt]()
* [spack-build-env.txt]()

### General information

- [ ] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [ ] I have run `spack maintainers <name-of-the-package>` and @mentioned any maintainers
- [ ] I have uploaded the build log and en

[2021-04-19 00:35] Nandinihpc commented on #23073
I am trying to install netlib-lapack and make it use the spack built openblas but it is not working. Please see the below output.

spack spec --install-status netlib-lapack@3.8.0%gcc@10.2.0 +external-blas ^openblas/2zqwbx6
Input spec
--------------------------------
 -   netlib-lapack@3.8.0%gcc@10.2.0+external-blas
[+]      ^openblas@0.3.14%gcc@10.2.0 cflags="-march=broadwell -O3" cxxflags="-march

[2021-04-19 02:17] IncubatorShokuhou commented on #23025
The ifort@2021.2.0 works well outside of spack.
From [config.log](https://github.com/IncubatorShokuhou/spack_bug_report/blob/main/openmpi_intel_21.2/config.log]) I can see that
[code]
So how can I fix it?

[2021-04-19 03:35] Nandinihpc commented on #23073
this is the output of
spack -debug --stacktrace spec --install-status netlib-lapack@3.8.0%gcc@10.2.0 +external-blas ^openblas@0.3.14/2zqwbx6

lib/spack/spack/solver/asp.py:217 ==> [2021-04-18-22:21:35.818181] The following constraints are unsatisfiable:
  condition(1698)
  condition(1732)
  node("openblas")
  provider_condition(1698,"netlib-lapack","lapack")
  provider_condition(1732,"openblas","l